.ups-big_icon_circle {
    padding: 15px 10px;
    border-radius: 50px;
    color: $white;
    background-color: $ups_sun;
    width: 60px;
    height: 60px;

    .icon {
        cursor: default;
        font-size: 30px;
    }

    .ups-icon-email {
         #{$default-float}: 5px;
    }

    .icon:hover {
        color: $white;
    }

    .ups-icon-syncsticker {
        font-size: 35px;
        position: relative;
        top: -2px;
         #{$default-float}: 2px;
    }

    .ups-icon-mobile {
        position: relative;
         #{$default-float}: 5px;
    }
}
//Added for TFS #451765: Change LLP HTML to a semantic structure
.ups-label_list_options {
    padding: 0px;
    margin: 0px;
    li {
        list-style: none;
    }
}
.ups-label_option {
    margin-bottom: 45px;

    .ups-label_option_icon {
        float: #{$default-float};
        margin-bottom: 15px;
    }

    .ups-label_option_action {
        margin-#{$default-float}: 80px;
        display: block;

        @media #{$media-medium} {
            margin-#{$default-float}: 0;
            clear: $default-float;
        }
    }

    .ups-label_option_description {
        margin-#{$default-float}: 80px;
        padding-#{$opposite-direction}: 15px; //Added for TFS #451765; Gives more padding to the right label option text (this is particularly important in smaller viewports)

        h2 {
            margin-bottom: 2px;
        }
        // @media #{$media-medium} {
        //     position: absolute;
        //     top:21px;
        // }
        //
        // @media #{$media-small} {
        //     top:13px;
        // }
    }

    .ups-toggle_view_state {
        &.ups-toggle_view_left, &.ups-toggle_view_right {
            margin-top: 45px;
            background-color: transparent;
            padding: 0;

            &:before {
                #{$opposite-direction}: auto;
                #{$default-float}: 115px;
            }
        }
    }

    .ups-toggle_view_state {
        &.ups-toggle_view_left .ups-toggle_view_content {
            margin-#{$opposite-direction}: -100%;
            margin-#{$opposite-direction}: calc(-100% - 30px);
            background-color: $stone_40;
            padding: 20px;
        }

        &.ups-toggle_view_right .ups-toggle_view_content {
            margin-#{$default-float}: -100%;
            margin-#{$default-float}: calc(-100% - 30px);
            background-color: $stone_40;
            padding: 20px;
        }
    }

    @media (max-width: #{$screen-md - 1}) {
        .ups-toggle_view_state.ups-toggle_view_left, .ups-toggle_view_state.ups-toggle_view_right {
            .ups-toggle_view_content {
                margin-#{$default-float}: 0;
                margin-#{$opposite-direction}: 0;
            }
        }
    }
}

.ups-previous_page {
    margin-bottom: 25px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 45px;
    color: $black_s3;
}

.ups-slim_header {
    margin-top: 0;
}

.ups-border_right {
    border-#{$opposite-direction}: 1px solid $stone_s3;

    @media #{$media-medium} {
        border-#{$opposite-direction}: none;
    }
}

.ups-btn_height {
	line-height: 36px;
}

.ups-toggle_view_stretch {
    margin: 0 -20px;

    .ups-toggle_view_stretch_inner {
        padding: 20px;
    }
}

.ups-circle_number {
    background-color: $black_s1;
    color: white;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
}


// .ups-application_wrapper .ups-form_group .ups-input_has_action {
//     input {
//         padding-#{$opposite-direction}: 70px;
//     }
//
//
//     .ups-input_action {
//         -webkit-appearance: none;
//         border-radius: 0;
//         background: none;
//         border: none;
//         color: $water_s3;
//         padding: 4px 8px 0;
//         height: 35px;
//         position: absolute;
//         right: 0;
//         top: 0;
//         border-left: 1px solid $stone_s3;
//
//         .icon {
//             font-size: 1.5em;
//
//             &.ups-icon-locator {
//                 position: relative;
//                 top: 2px;
//             }
//         }
//
//         &.ups-input_action_invert {
//             background-color: $water_s3;
//             color: $white;
//         }
//     }
// }

hr.ups-hr_defined {
    border-color: $stone_s3;
}

.ups-map_container {
    min-height: 25px;
}

/*.ups-toggle_view_altbg {
    background-color: $stone_60;
}*/

.ups-header_slim {
    margin: 0;
    margin-bottom: 10px;
}

.ups-icon_side_big {
    width: 50px;
    float: #{$default-float};
    padding-top: 3px;
}

.ups-content_side_big {
    margin-#{$default-float}: 55px;
}

.ups-previous_page {
    margin-bottom: 25px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 45px;
    color: $black_s3;
}

.ups-slim_h2 {
    margin-top: 0;
}

.ups-locator_container {
    padding: 5px;
    overflow-x: hidden;
    background-color: transparent;

    @media #{$media-medium} {
        overflow: visible;
        border:none;
    }
}

@media #{$media-small} {
    .ups-btn_loading {
        display: block;
        margin: 5px auto 10px;
    }
}

.ups-icon_clickable {
    cursor: pointer;

    .icon {
        cursor: pointer;
    }
}

.ups-locator_more {
    margin-top: 10px;
}

.ups-barcode_mobile {
    background-color: #ffffff;
}

.ups-icon-x:before {
    position: absolute;
    #{$opposite-direction}: -20px;
    line-height: 45px;
}
.ups-application_wrapper {
    .ups-wrap .ups-erp_no_label {
        margin-top: 10px;
    }
}

.ups-input_has_unit.ups-input_has_unit_SVP {
    .ups-input_wrapper {
        @media #{$not-mobile_or_tablet} {
            padding-#{$opposite-direction}: 0;
        }
        .ups-input_unit_measure {
            @media #{$not-mobile_or_tablet} {
                display: none;
            }
        }
    }
}
.ups-application_wrapper .ups-erp_hr {
    margin-#{$opposite-direction}: 40px;
    margin-#{$default-float}: 40px;
    border-color: $black_s3;
}

//Added this for TFS Bug #402563
.ups-application_wrapper .ups-section.ups-section_slim {
    margin-bottom: 0px;
}

//Added this for TFS Bug #403723
.ups-application_wrapper .ups-label_option.ups-label_option_slim {
    margin-bottom: 0px;
}
