<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
            <h1>log in</h1>

                <!-- Begin Application Module -->
                <div class="appLvl mod col18 clearfix">
                <fieldset><legend></legend>
                    <p class="group">welcome to ups campusship. to begin, please enter your user id.</p>
                    <p><strong>note:</strong> user ids are case sensitive.</p>

                    <!-- Begin Application Header -->
                    <div class="appHead clearfix">
                        <h2>returning users</h2>
                    </div>
                    <!-- End Application Header -->

                    <!-- Begin Application Body -->
                    <div class="appBody clearfix">
                    <fieldset><legend></legend>

						<p class="error">&gt;&gt;&gt; { error message. }</p>

                        <p class="criticalMessage">your request to reset has been sent to the email address associated with this user id. please check your email for the reset code. the reset code will be valid for n hours.</p>

                        <p>please use the form below to provide your user id and the reset code provided in the email. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>


                        <dl>
                            <dt><label for="">user id:</label></dt>
                            <dd><input id="" class="formcol6" type="text" value=""><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                        </dl>
                        <dl class="group">
                            <dt><label for="">reset code:</label></dt>
                            <dd><input id="" class="formcol6" type="text" value=""><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                        </dl>
                        <p class="alignBegin"><a href="" >i need a new reset code</a></p>


                    </fieldset>
                    </div>
                    <!-- End Application Body -->

                <!-- Begin Application Footer -->
                <div class="appFooter">
                    <!-- Begin Button Bar Row -->

                    <div class="btnBar">
                        <input name="" type="button" value="cancel" class="btn" />
                        <input name="" type="submit" value="next" class="btnArw" />
                    </div>
                    <!-- End Button Bar Row -->
                </div>
                <!-- End Application Footer -->







                </fieldset>
                </div>
                <!-- End Application Module -->

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
