@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {

	.colL, .colR {
		float: $default-float;

		.colL, .colR {
			float: none;
			width: 100% !important;
		}
	}

	.fldLb1 {
		font-size: 13px;
	}

	#contact.RIF_Address {
		input[size="32"] {
			width: 235px !important;
		}

		#contactExtension {
			margin-#{$default-float}: 18px;
		}
	}

  .secLvl.message {
    .secHead {
      h3 {
        color: $white !important;
      }
    }
  }

  .secLvl.seccol16 {
    .secLvl {
      .secBody {
        padding: 10px 10px;
      }
    }
  }

  .secLvl.step {
    .secHead {
      h6 {
        font-size: 1.17em;
      }
    }
  }


  label[for="repl_id"].sel {
    margin-bottom: 0;
  }

  .group {
    input.formcol9 {
      margin-bottom: 10px;
    }
  }

  #pickuptime {
    select {
      padding: 8px 4px 5px;
    }

	  .subcol7 {
		  width: 265px;
	  }
  }

	.RIF_Field.RIF_IntlPhone {
		padding-#{$opposite-direction}: 15px;

		.child-wrapper {
			float: $default-float;
			padding-#{$default-float}: 12px;

			&:first-child {
				padding-#{$default-float}: 0;
			}
		}
	}

	#opa_pickup_type {
		width:30%;
	}

	#employees , #indId {
		width:25%;
	}
}

#step-3 table td {
 vertical-align:middle;
}

#step-1 .stepModHead h3 , #step-2 .stepModHead h3 , #step-3 .stepModHead h3{
padding-#{$default-float}:15px;
}
#step-1 .stepModHead {
    background-image: url(/img/icn_step_one.gif);
    background-repeat: no-repeat;
    background-position: $default-float center;
}


#step-2 .stepModHead {
    background-image: url(/img/icn_step_two.gif);
    background-repeat: no-repeat;
    background-position: $default-float center;
}


#step-3 .stepModHead {
    background-image: url(/img/icn_step_three.gif);
    background-repeat: no-repeat;
    background-position: $default-float center;
}
