/* -----OnBoarding Style Overwrites ----- */

.ups-onboApp-wrap-doa {
.ups-doa-choose-payment-table:focus
{
		outline: 5px auto $ups_gold;
		outline-offset: 0;
}
@-moz-document url-prefix() {
.ups-doa-choose-payment-table:focus
{
     outline: 2px auto $ups_gold;
     outline-offset: 0;
  }
}
@media #{$media-small} {
ul.uib-datepicker-popup.dropdown-menu
{
	width:110%;
    margin-bottom:30px;
    .uib-button-bar {
        padding:10px 15px 0;
        .btn-group {
            width:100%;
        }
        button {
            margin:10px 0;
        }
    }
}
}
@media #{$media-medium} {
	/*	ul.uib-datepicker-popup.dropdown-menu
	{
		width:110%;
	} */
}
p:focus, div:focus{
		outline: 5px auto $ups_gold;
		outline-offset: 0;
	}
/*.ups-modal-container {
	.ups-decoration-none {
        text-decoration: none;
    }
	.ups-icon-calendar:before {
    content: "\e007";
    position: relative;
    text-align: center;
    color: $white;
    width: 43px;
    height: 43px;
    background: $water_s3;
    font-size: 1.5em;
    line-height: 45px;
    display: block;
    }
	.ups-calendar-position {
		float:$opposite-direction;
		margin-top: -46px;
		margin-#{$opposite-direction}: -52px;
		background-color: transparent;
		border: none;
		@media screen and (min-width: #{$screen-md}) {
			position: absolute;
			#{$opposite-direction}: 0;
			z-index: 99;
		}
	}
	.ups-scope-1 {
		padding-#{$opposite-direction}: 15px;
		padding-#{$default-float}: 15px;
	}
	@media screen and (min-width: #{$screen-sm - 1}) and (max-width: #{$screen-md}) {
		.ups-offset-none {
			margin-#{$default-float}: $margin_0;
		}
		.ups-max_width {
			max-width: 95%;
		}
	}

	.ups-calendar-icon{
		position: absolute;
    	#{$opposite-direction}: 0;
	}
}*/

.ups-indent {
	margin-#{$default-float}: 36px;
}
&.ups-application_wrapper {
	.ups-boxed_radio .ups-radio-custom-label span.ups-notification-tile{
	margin: 30px 0 10px;
}
}

.ups-long_password{
    padding-#{$opposite-direction}: 30%;
}
/*.ups-offset-22 {
	margin-top: 22px !important;
}*/
    input:disabled + .ups-checkbox-custom-label,
    input:disabled + .ups-radio-custom-label{
        &:before{
            background: $stone_60;
            color: $black_s1;
        }
        }
        input:disabled,
        textarea:disabled{
            background: $stone_60;
            color: $black_s1;
        }

.ups-enter_address {

		#dropdwncheckPosition {
			.ups-icon-check.ups-active {
				margin-top: 20px;
			}
		}

.ups-form_input {
		/* @media #{$media-small} and #{$media-medium} {
			width: 100%;
		} */
	}
}
/*.ups-check_availability {
	.ups-form_input {
		@media screen and (min-width: #{$screen-sm - 1}) and (max-width: #{$screen-md}) {
			width: 133%;
		}
	}
}*/

/* My choice page ends*/

/* Change password */
/*.ups-changePassword {
	.ups-form_showHideLabel {
		position: absolute;
		top: 0;
		#{$default-float}:100%;
	}
	/* removed by Doug
	.ups-text_wrapper {
		max-width: 405px;
	}
	*/
	/*.ups-confirmation .ups-confirm_notification {
		border-bottom: 0px;
		padding-bottom: 0%;
	}
}*/

/* Change password ends*/

.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_toggle {
	border-top: 2px solid $stone_60;
	border-bottom: 2px solid transparent;

	border-#{$default-float}: 2px solid transparent;
	border-#{$opposite-direction}:2px solid transparent;

	&:focus {
		outline: 5px auto $ups_gold;
		outline-offset: 0;
	}
}

@-moz-document url-prefix() {
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_toggle:focus{
     outline: 1px auto $ups_gold;
     outline-offset: 0;
  }
}

/* Add or authenticate account ends */

/* Choose your account options flow */
.ups-content-wrapper {
	.ups-indentation p {
		margin-#{$default-float}:$margin_3;
		margin-bottom: $margin_0;
		font-weight: 400;
	}
	.ups-display-inline {
		display: inline;
	}
	.ups-decoration-none {
		text-decoration: none;
	}
	.ups-width_auto {
		width: auto;
	}
	@media #{$media-small} and #{$media-medium} {
		/* .ups-offset-none {
			margin-#{$default-float}: $margin_0;
		} */
	}
}
/* Choose your account options flow ends*/

/* Paperless invoice */
/*.ups-paperlessInvoiceTable {
	.icon {
		#{$opposite-direction}: 46%;
	}
}*/
/*.ups-displayInline {
	display: inline !important;
}*/
/*.ups-document-table {
	.table-responsive {
		margin: 0 0 30px;
		.ups-no_border {
			&.ng-binding {
				width: 50%;
			}
		}
		a {
			cursor: pointer;
		}
	}
	.col-md-12 {
		p {
			margin-bottom: 30px;
			@media screen and (max-width: #{$screen-sm - 1}) {
				margin-top: 0;
			}
		}
	}
}*/

/* Paperless invoice ends*/

/** for the map template **/
/*.ups-map_template{
	position: relative;
	width: 400px;
	height: 400px;
}*/
.ups-doa-wrap {
    .ups-labelDisplay {
        display: block;
    }
}
.ups-methods {
    padding: 0 10px 10px;
    @media #{$media-small} {
        padding: 0;
    }
    &.row {
        @media #{$media-small} {
            margin: 0;
        }
    }
    .ups-payMethods {
        border: 1px solid $stone_s3;
        width: 30%;
        min-height: 144px;
        text-align: center;
        cursor: pointer;
        padding-#{$opposite-direction}: 0;
        margin: 1.7%;
        padding-top: 30px;
        &.ups-add{
         &:focus{
				outline: 5px auto $ups_gold;
				outline-offset: 0;
        }
		}
        @media #{$media-small} {
            margin: 0 0 20px;
            text-align: $default-float;
            padding-#{$default-float}: 32px;
            width: 100%;
            float: $default-float;
            padding-top: 60px;
        }
        .ups-cardSize {
            float: $default-float;
            width: 100%;
             @media #{$media-small} {
             	width: auto;
             	margin-#{$opposite-direction}: 20px;
             }
        }
        &:nth-child(3), &:nth-child(6), &:nth-child(9){
            margin-#{$opposite-direction}: 0;
            margin-top:0;
        }
        .ups-radio-custom-label{
        	margin: 0;
        	padding: 0;
        	@media #{$media-small} {
             	width: auto;
             }
        }
        .ups-add-fontIcon{
        	@media #{$media-small} {
             	margin-#{$opposite-direction}: 30px;
    			margin-top: 0;
             }
        }
    }
    .ups-box_length {
        max-height: 290px;
        overflow-y: scroll;
    }
    /*.ups-paySelect {
        background: $ups_gold;
        height: 35px;
        padding: 8px 33px;
        border-bottom: 1px solid $stone_s3;
        margin-top: 31px;
    }*/
    .ups-gold {
        background: $ups_gold;
        font-weight: bold;
    }
}

.ups-error_display {
	width: 100%;
	display: inline-block;
}
/*.ups-shippingAddressLabel {
	text-align: center;
	label {
		width: 62%;
	}
	input {
		margin: 0 auto;
	}
}*/
.ups-shippingAddressInput {
	display: block;

	margin-#{$default-float}:21%;
}
.ups-payMethods .ups-cp-tile {
	display: block;
	margin-#{$default-float}:-15px;
	font-family: $sans-bd;
@media #{$media-small} {
    padding-#{$default-float}: 32px;
    margin-#{$default-float}: 0;
    height: 122px;
    padding-top: 12px;
}
label{
	    margin-top: 40px;
	    cursor:pointer;
	    @media #{$media-small} {
	    	margin-top: 0;
	    }
	  span{
	    margin:0 0 10px;
	    display:block;
	  }
}

}
.ups-payMethods .ups-cp-add-modal{
	padding-top: 0px;
}
/*.ups-my-availability {
	.ups-error-message {
		padding: 30px 0;
		.ups-status {
			font-size: 1.1em;
		}
	}
}*/
/* APAC tax Info page */
.ups-minHeight {
	min-height: 13px;
}
.ups-start_date {
	margin-bottom: 3%;
	btn-default:active{
		color:red !important;
	}
}
/*h2.ups-title-offset, h3.ups-title-offset{
		@media screen and (min-width: #{$screen-md}){
		margin:30px 0;
	}
}*/

/* DO Pickup options  */
.ups-pickup-options-doa {
		margin: 0;

		.ups-ampm-outer {
			margin-top: 30px;

			.ups-input_wrapper {
				&:nth-child(2) {
					width: 55%;

					margin-#{$opposite-direction}: 5%;
					float: $default-float;
				}
				&:nth-child(3) {
					width: 40%;
					float: $default-float;
				}
			}
		}
		.ups-form_group {
			float: $default-float;
		}
	/*.ups-form_addressList {
		list-style: none;
		text-align: $default-float;
		padding: 0px;
	}*/
	.ups-boxed_checkbox {
		border: 1px solid $stone_s3;
		position:relative;
		width: 14.66%;
		float: $default-float;
		margin-top: 0;
		margin-bottom: 40px;
		margin-#{$opposite-direction}:2%;
		margin-#{$default-float}:0;
		cursor: pointer;
		&:focus{
				outline: 5px auto $ups_gold;
				outline-offset: 0;
		}
		@media #{$media-small} {
			width: 100%;
			margin: 3% 0;
			height: 80px;
		}
	}
	/*@media screen and (max-width: #{$screen-sm - 1}) {
		.ups-form_addressdetail {
			width: 100%;
		}
	}*/
	.ups-form_address {
		word-wrap: break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		@media #{$media-small} {
			text-align: $default-float;
			padding-#{$default-float}: 40px;
		}
	}
	/*.ups-form_selectedAdd-background {
		background: $ups_gold;
		font-weight: bold;
	}*/
	.ups-form_checkIcon {
		display: block;
		height: 22px;
		width: 100%;
		position: absolute;
		top: 50%;

		&.ups-active {
			list-style: none;

			&:before {
				content: "\e622";
				@include ups-icons;
				font-size: 1.5em;
			}
		}
		@media #{$media-small} {
			#{$opposite-direction}: 30px;
			top: 20%;
			width: 40px;
		}
		&.ups-active {
			&:before {
				@media #{$media-small} {
					font-size: 2em;
				}
			}
		}
	}
	/*.ups-form_link-noDecoration {
        display: block;
        height: 105px;
        position: relative;
        margin-top: 30px;
        font-family: $sans-med;
        p{
            text-decoration: underline;
        }
        label{
        	margin-top: 10px;
        }
    }*/
 /*   @media #{$media-small} {
        .ups-form_link-noDecoration {
            height: 70px;
            margin-top: 20px;
        }
    }*/
	.ups-decoration-none {
		text-decoration: none;
	}
}
.ups-cardSize {
    font-size: 2.15em;
}
.ups-confirmation {
	/*.ups-display_email {
		font-size: 1.8em;
		margin-top: 7%;
	}*/
}
@media screen\0 { /* for IE only */
.ups-show_password_wrapper .ups-active.ups-icon-check,
/*.ups-form_user_id*/ .ups-active.ups-icon-check{
font-size: 0.5em;
}
}
.ups-hintPopover{
	.popover{
	 	width:300px;
        background: $ups_brown;
        color: $stone_s3;
	}
}

/*.popover {
    max-width: none;
    min-width: 260px;
    @media screen and (min-width: #{$screen-md}) {
        width: 500px;
    }
}*/
/* Box Modal */
.ups-box-modal {
	/*.ups-notification_check {
		font-size: 1.5em;
	}*/
/*	.ups-box-container {
		.ups-ca-box{
			display: block;
			@media screen and (max-width: #{$screen-sm - 1}) {
			padding-#{$default-float}:32px;
		}
	}
}*/
.ups-ca-box-add {
	height: 145px;
    padding-top: 36px;
    display: block;
    margin-top: 0;	
	@media #{$media-small} {
	padding-#{$default-float}:32px;
	}
}
		/*.ups-form_addressList {
			list-style: none;
			text-align: $default-float;
			padding: 0px;
			.ups-form_address {
				word-wrap: break-word;
				height: 145px;
				//padding: 0 0 0 0;
				padding: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				margin: 0;
				@media screen and (max-width: #{$screen-sm - 1}) {
					text-align: $default-float;
					padding-#{$default-float}: 32px;
				}
				label{
					margin-top: 40px;
					cursor:pointer;
				}
				span {
					display:block;
					margin:0 0 10px;
				}
			}
			.ups-check_icon:before {
				content: "\e622";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				speak: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			.ups-form_editDelete {
				height: 40px;
				padding: 10px 33px;
				border-top: 1px solid $stone_s3;
				text-align: center;
			}
			li:hover {
				cursor: pointer;
			}
		}*/
		.ups-form_selectedAdd-background {
			background: $ups_gold;
			font-weight: bold;
		}
		/*.ups-form_addressdetail {
			border: 1px solid $stone_s3;
			width: 29%;
			float: $default-float;
			margin: 0 1.7% 3%;
			&:focus{
				outline: 5px auto $ups_gold;
				outline-offset: 0;
			}
			p {
				margin-top: 15px;
				font-family: $sans-med;
			}
			.ups-notification_choice {
				margin-top: 65px;
				text-decoration: underline;
				@media screen and (max-width: #{$screen-sm - 1}) {
				padding-#{$default-float}: 32px;
				}
			}
			cursor: pointer;
			&:nth-child(3), &:nth-child(6), &:nth-child(9){
            margin-#{$opposite-direction}: 0;
        }
		} */
		/*.ups-addOne {
			text-align: center;

			&:active {
				background: $ups_gold;
			}
			@media screen and (max-width: #{$screen-sm - 1}) {
				padding: 20px 0 0 32px;
				padding: 20px 0;
				padding-#{$default-float}: 32px;
				text-align: $default-float;
			}
			.ups-radio-custom-label{
				@media screen and (max-width: #{$screen-sm - 1}) {
				width: auto;
			}
			}
		}*/
		/*.ups-form_link-noDecoration {
			text-decoration: none;
		}*/
	/*	@media screen and (max-width: #{$screen-sm - 1}) {
			.ups-check_icon {
				margin-#{$opposite-direction}: 0;
			}
			.ups-form_link-noDecoration {
				text-decoration: none;
			}
			.ups-form_addressdetail {
				width: 100%;
				margin: 3% 0;
			}
		}*/
}
/* Box Modal ends */

.ups-docCheck {
    font-size: 1.71em;
    text-align: center;
    @media screen\0 { /* for IE only */
		font-size: 1.5em;
	}
}
.ups-add-fontIcon {
    display: block;
    margin: 0px auto;
    height: 35px;
    width: 36px;
    color: $water_s3;
    font-size: 35px;
    line-height:54px;
    text-align: center;
    @media #{$media-small} {
        float: $default-float;
        margin-top: 26px;
    }
}
.ups-addOneText {
    text-decoration: underline;
    margin-top: 25px;
    display: inline-block;
    @media #{$media-small} {
        float: $default-float;
        margin-top: 30px;
        margin-#{$default-float}: 15px;
    }
}
.ups-modal_subtitle {
	float: $opposite-direction;
	width: 100%;
	text-align: $opposite-direction;
	@media #{$not-mobile_or_tablet} {
	position: relative;
    top: -70px;
	}
	@media #{$media-small} {
		text-align: $default-float;
		margin-top: 20px;
		width: 100%;
		float: none;
	}
}
.ups-checkbox_group {
	&.ups-form_group{
	margin-bottom: 0;
}
}
/*.ups-questions_showhide {
	float: $opposite-direction;
	margin-top: -49px;
	width: initial;
	padding-#{$opposite-direction}: 45px;
	position: absolute;
	#{$opposite-direction}:0;
}*/
/*@media screen and (min-width: #{$screen-sm - 1}) and (max-width: #{$screen-md}) {
	 .ups-introductory .ups-reqMsg {
		margin-#{$default-float}:0;
	}
}*/
.ups-error_exclamation {
	float:$opposite-direction;
	margin-top: -33px;
	margin-#{$opposite-direction}:10px;
	position: absolute;
	#{$opposite-direction}:0;
}
.ups-checkbox, .ups-radio {
    .ups-invalid_color {
        display:block;
    }
    .ups-error_exclamation {
        position: absolute;
        #{$default-float}: 24px;
    }
}
.ups-progress{
     display: inline-block;
     background:$ups_gold;
}
.ups-form_link-noDecoration {
	text-decoration: none;
}
.ups-radio_column {
	margin-#{$default-float}:-15px;
}
/*.ups-required_indicator {
	position: absolute;
}*/

.ups-form_label {
	margin-top: 0px;
}
.ups-introductory-text {
	margin-bottom: 30px;
}
sup.ups-superscript-fontsize {
	font-size: 1em;
}
.ups-icon-check {
	&.ups-docCheck {
		display: inline-block;
		#{$opposite-direction}: 40%;

		&:before {
			color: $black;
			font-size: 1em;
		}
	}
}
.ups-no-modal {
	line-height: inherit;
	font-size: 2.5em;
	font-family: $sans;
	display: block;
}
/*@media screen and (max-width: #{$screen-sm - 1}) {
.ups-payMethods a {
	display: block;
	height: 142px;
	padding-top: 32px;
    padding-#{$default-float}: 32px;
    margin-#{$default-float}:0;
}
}*/
/*.selectFocus
{
	outline: 5px auto $ups_gold;
     outline-offset: 0;
}*/
/*@-moz-document url-prefix() {
.selectFocus{
     outline: 1px auto $ups_gold;
     outline-offset: 0;
  }
}*/
/*  removed by Doug
.ups-input_wrapper {
    max-width: 99.4%;
}
*/
.ups-offset-03{
	margin-bottom: $margin_3;
}
.ups-offset-16{
	margin-#{$default-float}: 16px;
}
/*.ups-offset-3 {
		margin-top: $margin_3;
	}*/

.ups-aside-none {
		float: none;
}
/*.ups-md-offset-scope-0{
	@media screen and (min-width: #{$screen-md}) {
	padding-#{$default-float}: 0px;
	padding-#{$opposite-direction}:0px;
}
}*/
.ups-element_relative{
	position:relative;
}

.icon.ups-icon-check.ups-docCheck:focus
{
	 outline: 5px auto $ups_gold;
     outline-offset: 0;
}
@-moz-document url-prefix() {
 .icon.ups-icon-check.ups-docCheck:focus {
     outline: 1px auto $ups_gold;
     outline-offset: 0;
  }
}
/* Style overwrites upto-tablet */
@media #{$media-medium} {
	.ups-accordion_content .ups-accordion_item.ups-active .ups-accordion_toggle {
		background: $stone_60;
	}
	.ups-my-address .ups-addressSection .ups-addressDetail {
		width: 100%;
	}
	.ups-my-address .ups-addressSection .ups-addressList .ups-addressContent {
		width: 100%;
	}
	.ups-my-address .ups-addressSection .ups-addressList .ups-editDelete {
		padding-#{$default-float}:32px;
	}
	.ups-my-address .ups-addIcon {
		margin-#{$opposite-direction}: 22px;
		float: $default-float;
		margin: 0px;
	}
	.ups-editAddressLink {
		float: $default-float;
		line-height: 1px;
	}
}
.ups-offset-20 {
	margin-top: 20px;
}
/*.ups-discount-keep{
	margin-top: -8px;
}*/
/*.ups-discount-conflict{
	padding:18px;
	border:1px solid black;
}*/
.ups-new-window {
    .ups-icon-newwindow {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        font-size: 0.8em;
    }
}
/* removed by Doug - duplicate
.ups-no_label {
    margin-top: 22px;
}
*/
.ups-tableScroll {
    max-height:500px;
    overflow-y: auto;
    @media #{$media-medium} {
        max-height: 300px;
    }
}

/* Chooce Payment */
/*.ups-box-modal .ups-box-container .ups-form_addressList .ups-form_address.ups-offset-20{
padding-top: 20px;
}*/
/* Chooce Payment ends*/

.ups-no-outline
{
	outline:none;
}
.ups-aside-right{
    float: $opposite-direction;
}
/*.ups-aside-left{
    float: $default-float;
}*/
.ups-text-underline{
    text-decoration: underline;
    cursor: pointer;
}
.ups-white-bg{
    background: $white;
}

/*.ups-no-legend{
    font-family: $sans;
    font-size: 1em;
    border: none;
    font-weight: bold;
}*/
.ups-air-frieght{
	.ups-icon-x{
		&:before{
			position: absolute;
		    #{$opposite-direction}: -20px;
		    line-height: 45px;
	    }
	    @media #{$media-medium} {
	    	position: absolute;
    		#{$default-float}: 50%;
    		bottom: 0;
	    }
	}
}
/* reomved by Doug
.ups-buttonList_wrapper.ups-input_wrapper {
	margin: 0!important;
}

.ups-text_wrapper {
    max-width: 405px;
	@media screen and (max-width: #{$screen-md - 1}) {
		max-width: 100%;
		z-index: 99;
	}
}
*/
/*.ups-rtl{
    .ups-fp-rtl{
        position: absolute;
        left: 0; /* for rtl is needed 
        top: 70px;
    }
}*/

.ups-day-start{
	background-color: $stone_60;
}
.ups-date-start{
		padding: 10px !important;
}
.ups-icons-error{
    .ups-invalid_color-list {
        color: $red;
        list-style: none;
        margin-#{$default-float}: 0;
        margin-bottom:10px;
        font-size: 1.1em;
    }
    .ups-icon-exclamationcircle {
        position: relative;
        top: 12px;
        font-size: 34px;
    }
    .ups-icons-error-list {
	margin-bottom: $margin_3;
	padding: 0;
    li{
       margin-#{$default-float}:55px;
        color:$red;
        margin-bottom:10px;
        font-weight:bold;
            }
    	.ups-invalid_color{
        font-size: 0.93em;
        float:none;
        font-weight:normal;
        }
    }
}

h3{
    .ups-invalid_color{
        font-size: 0.86em;
    }
   }

/*.ups-card-default {
    background: url('/assets/resources/images/card.png');
    margin-top: 32px;
    margin-#{$default-float}: 10px;
    width: 150px;
    background-position: 0 0;
    height: 25px;
    padding: 0;
 /*   .ups-visa {
        background: url('/assets/resources/images/card.png');
        background-position: 0 -28px;
        width: 40px;
        height: 25px;
    }
    .ups-mastercard {
        background: url('/assets/resources/images/card.png');
        background-position: -40px -28px;
        width: 38px;
        height: 25px;
        margin-#{$default-float}: 40px;
    }
    .ups-americanexpress {
        background: url('/assets/resources/images/card.png');
        background-position: -78px -28px;
        width: 33px;
        height: 25px;
        margin-#{$default-float}: 78px;
    }
    .ups-discover {
        background: url('/assets/resources/images/card.png');
        background-position: -111px -28px;
        width: 39px;
        height: 25px;
        margin-#{$default-float}: 111px;
    }
    @media screen and (max-width: #{$screen-sm - 1}) {
        /*margin: 0 15px 30px 15px;
		margin: 0 15px 30px;
    }
}*/
.ups-regular_case{
	text-transform : none !important;
}

/*.ups-no-margin-bottom{
	margin-bottom : 0;
}*/
.ups-no-border{
    border: none;
}
.ups-help-position {
    margin-#{$default-float}:30px;
    display: inline-block;
}
.ups-input_wrapper{
    .ups-bodError {
        border: 1px solid $red;
        padding: 10px;
    }
}
.ups-gray-ng, .table.table-striped tbody tr.ups-gray-ng:nth-child(2n-1), .ups-gray-ng td{
	background: $black_s1;
    color: $white;
    font-weight: bold;
}
.table.table-striped tbody tr:nth-child(2n-1) {
    background: none;
}
.ups-methods .table.table-striped tbody tr:nth-child(2n-1).ups-gold
{
	background: $ups_gold;
    font-weight: bold;
}
.ups-methods .table.table-striped tbody tr td
{
	font-weight: bold;
}
.ups-upload{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    #{$default-float}: 0;
    #{$opposite-direction}: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.ups-upload-wrap{
    font-family: $sans-bd;
    display: inline-block;
    position: relative;
    span{
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    background: $water_s3;
    color: $white;
    font-size: 1.1em;
    line-height: 1;
    padding: 16px 30px 14px;
    text-align: center;
    font-weight: 400;
    display: block;
    }

    input:disabled + span{
        background: $stone_60;
        color: $black_s1;
    }
}
.ups-regularText-wrap{
    font-family: $sans-bd;
    display: inline-block;
    .ups-regularText{
    color: $black_s3;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    }
}
/* Modal Dialog */
	/*ul {
		&.ups-icon_list {
			border-bottom: 1px solid $stone_s3;
			padding-bottom: 20px;
		}
	}*/
/*.ups-cta+span{
	@media screen and (max-width: #{$screen-sm - 1}) {
	display: block;
    margin: 10px 10px 0;
}
}*/

				/*h3 {
					@media screen and (min-width: #{$screen-md}) {
					margin: 0 0 20px;
				}
			}*/

/*	.ups-popover {
		color: $white;
		background-color: $ups_brown;
		top: -127px;
		padding: 12px;
		max-width: 390px;
		width: 100%;
		display: block;

		.ups-credential_list li.ups-active {
			&:before {
				color: $white;
				@-moz-document url-prefix() {
					#{$opposite-direction}:18px;
					padding: 4px;
				}
			}
		}
	.ups-checkbox_group {
		&.ups-form_group{
		margin-top: 10px;
	}
}
	.ups-passwordPopup {
		top: -204px;
		cursor: default;
	}
	.ups-popover {
		&:after {
			top: 100%;
			#{$default-float}:50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba($ups_brown, 0);
			border-top-color: $ups_brown;
			border-width: 15px;
			margin-#{$default-float}:-15px;
		}
	}
	.ups-introductory {
		.ups-reqMsg{
			color: $black_s4;
			font-size: 0.7em;
		}
	}
	label {
		margin-bottom: 12px;
		margin-top: 25px;
	}
	.ups-signup_showhide {
		width: 3%;
		text-decoration: none;
		margin-#{$default-float}:-110px;
		@media screen and (min-width: #{$screen-sm - 1}) and (max-width: #{$screen-md}) {
			margin-#{$default-float}: 0;
		}
		@media screen and (max-width: #{$screen-sm - 1}) {
			float: $opposite-direction;
			margin-top: -52px;
		}
	}
}*/
/*.ups-icon-check{
	display:none;
}*/
.ups-active {
	.ups-icon-check {
		position: absolute;
		top: 10px;
		#{$opposite-direction}: 10px;
		display: block;
		&:before {
			color: $ups_grass;
			font-size: 1.5em;
		}
	}
}
.ups-icon-check{
	&.ups-docCheck {
		position: static;
		display: block;
		height: auto;
		margin-top:-8px;

		&:before {
			color: $black;
		}
	}
	&.ups-docCheck-upload {
		height:20px;
	}

}

/*.ups-asterisk-no-label:after {
    content: '*';
    position: relative;
    font-weight: normal;
    padding: 0 2px;
}*/

.ups-custom-accordion .panel-collapse.in .panel-body {
    display: block;
}
/*.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}*/
/*@media screen and (max-width: #{$screen-md}){
    .activeNav:after {
        display: none;
    }
    #NavigationButton  {
        padding-#{$default-float}: 0;
    }
}
*/
button.btn.btn-default.btn-sm.btn-info.active {
    background-color: $ups_gold !important;
}
.btn-info {
    background-color: $ups_gold !important;
}

.ups-form_ctaGroup {
        margin: 20px 0 0;
}
/* Social icons for modal */
    /*ul.ups-icon_list {
        li {
            padding: 0;
        }
        a, button {
            background: none;
            border: 0px;
            padding-#{$default-float}: 45px;
            padding-#{$opposite-direction}: 20px;
            @media screen and (max-width: #{$screen-sm - 1}) {
                padding-top: $margin_4;
                padding-bottom: $margin_4;
            }
            cursor: pointer;
            &:before {
                background-image: url('/assets/resources/images/social.png');
                width: 34px;
                height: 34px;
                top: 46%;
                @media #{$highres}{
                    background-size: 100%;
                }
            }
            &.ups-icon-facebook:before {
                background-position: 0 0;
            }
            &.ups-icon-linkedin:before {
                background-position: 0 -40px;
            }
            &.ups-icon-google:before {
                background-position: 0 -80px;
            }
            &.ups-icon-amazon:before {
                background-position: 0 -120px;
            }
        }
    }*/

/* Social icons for modal ends */

/*a{
    &.ups-icon-xcircle{
        text-decoration: none;
    }
}*/

/* Alternate bg table */
.ups-table {
    table {
        th, td {
            text-transform: capitalize;
        }
    }
    .ups-text-underline {
        text-decoration: underline;
    }
}
@media #{$media-medium} {
    .ups-table-responsive {
        margin-#{$default-float}: 0px;
        margin-#{$opposite-direction}: 0px;
        overflow-x:scroll;
    }
    .ups-methods {
        .ups-addbtn {
            margin-#{$default-float}: 48%;
        }
    }
}
/* fixed table */
.table-fixed {
    margin-bottom: 20px !important;
    border-bottom: solid 1px;
    border-#{$opposite-direction}: 1px solid;
    border-#{$default-float}: 1px solid;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}
.table-fixed tbody td,
.table-fixed thead > tr> th {
    float: $default-float;
    border-bottom-width: 0;
}

/* Alternate bg table ends */

/*.ups-form_wrap .modal-footer {
    text-align: center;
}*/
.ups-accordion_list .ups-accordion_wrapper,
.ups-table {
    margin: 0 0 30px;
    .ups-form_group .ups-form_label {
        @media #{$media-small} {
            margin-top: 30px;
        }
    }
}
.ups-table tbody tr:first-child th {
    border-top: 1px solid $ups_brown;
}
@media #{$media-medium} {
    .ups-table-responsive {
        border: none;
        th {
            a {
                text-decoration: none;
            }
        }
    }
}

/* -----common styles ----- */

table tr td.ups-uib-day.text-center.btn-info.active {
    background-color:$ups_gold;
}

.ng-invalid {
	&.ng-dirty {
		border-color: $red;
		outline-color: $red;
	}
}

.ups-invalid_color {
	color: $red;
	//float: $default-float;
}

.ups-invalid_color+.ups-invalid_color{
	float: none;
}

.ups-form_input {
	margin-bottom: $margin_5;
}

/*.ups-help_right {
	float: $opposite-direction;
}*/

/*.ups-request-notification-link {
	padding-top: 32px;
	display: block;
	height: 145px;
}*/
/*	form[name="ups_addUser"] {
		.col-xs-10, .col-xs-2 {
			@media screen and (max-width: #{$screen-sm - 1}) {
				width: 100%;
			}
		}
		.col-xs-2 {
			a {
				cursor: pointer;
			}
			@media screen and (max-width: #{$screen-sm - 1}) {
				text-align: center;
				padding-bottom: 20px;
			}
		}
	}
*/
@media #{$media-small} {
.ups-form_ctaGroup .ups-cta.ups-cta_tertiary:first-child, .ups-form_ctaGroup .col-xs-12 .ups-cta.ups-cta_tertiary:first-child {
	position: relative;
    top: 75px;
}
/*.ups-form_ctaGroup .col-xs-12+.col-xs-12 .ups-cta.ups-cta_tertiary,*/ 
.ups-no-position {
	top: 0 !important;
}
.ups-cta.ups-cta_tertiary + .ups-cta.ups-cta_primary {
	position: relative;
    top: -60px;
}
}

/* -----common styles ends ----- */
.ups-credential_hint {
	padding-#{$default-float}:0;
	list-style-type: disc;
	li {
		margin-#{$default-float}:21px;
		.ups-readerTxt {
			display: none;
		}
		&.ups-active {
			list-style: none;

			&:before {
				content: "\e622";
				color: $grass_s3;
				position: absolute;
				#{$default-float}:18px;
				padding-top: 2px;
				@include ups-icons;
			}
			.ups-readerTxt {
				display: block;
			}
		}
	}
}
.ups-max-count-disabled
{
	pointer-events: none;
	background: $stone_60;
}

/*.ups-cross-icon{
	margin-top: 37px;
    display: block;
}*/
/* Card OrderList Starts */
.ups-cardOrder_list{
	padding: 0;
    margin: 0;
	@media #{$not-mobile_or_tablet} {
		margin-top:30px;
	}
	@media #{$media-small} {
    	/*padding:0 0 20px 0;*/
		padding: 0 0 20px;
    }
	li{
	padding: 0;
    margin: 0;
    height: 25px;
    float: $default-float;
    text-indent: -9999px;
	display: inline-block;
	background-position: 0 0;
	margin-#{$opposite-direction}: 1px;
/*    &.ups-visa {
        background: url('/assets/resources/images/visa.png');
        width: 40px;
        &.active{
        	background-position: 0 -28px;
        }
	}*/    
	/*&.ups-mastercard {
        background: url('/assets/resources/images/mastercard.png');
        width: 38px;
        &.active{
        	background-position: 0 -28px;
        }
    }*/
  /*  &.ups-americanexpress {
        background: url('/assets/resources/images/americanexpress.png');
        width: 25px;
        &.active{
        	background-position: 0 -28px;
        }
    }*/
  /*  &.ups-discover {
        background: url('/assets/resources/images/discover.png');
        width: 38px;
        &.active{
        	background-position: 0 -28px;
        }
    }*/
	}

/*.ups-no-card {
    background: $stone_s3;
    width: 15px;
    height: 15px;
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}*/
}
.ups-form_wrap .ups-help .ups-help_tooltip{
	z-index: 99;
}

// moved from _bootsrap-rtl.scss

@if $text-direction == rtl {
/*.ups-form_user_id */.ups-icon-check
{
    #{$default-float}:auto;
    #{$opposite-direction}:10px;
}
.ups-error_exclamation
{
    float: $opposite-direction;
    margin-top: -33px;
    margin-#{$opposite-direction}: 10px;
}
/*.ups-credential_list li
{
    margin-#{$default-float}: 23px!important;
}*/

.ups-show_password_wrapper .ups-icon-check
{
    #{$default-float}:auto;
    #{$opposite-direction}:10px;
}
@media #{$media-small} {
    .ups-rtl .ups-banner .ups-banner_main {
        #{$default-float}:0;
    }
}
.ups-uidSuggestions .ups-invalid_color
{
    float:none;
}
}
	.ups-boxed_radio.ups-boxed_radioOverride{
		float:none;
		display:inline-block;
		margin: 2% 3%;
		@media #{$media-small}{
	    	margin: 3% 0;
	    }
	}
/* ups@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.ups-form_label_dpblock{
		display : block !important;
	}
} */
.ups-dropdown_wrapper {
    overflow: inherit;
    /* height:45px; */
    &:before {
        height:45px;
    }
    &.ups-drop_exclamation{
        &:before{
            height: 45px;
        }
    }
    .ups-error_exclamation{
       /* margin-#{$opposite-direction}: 55px; */
	   position: relative;
	   left: 8px;
    }
    .ups-dropdown{
        &:disabled{
            background: $stone_60;
            opacity: 0.9;
            color: $black_s1;
        }
        &.ng-invalid.ng-dirty {
            border-color: $red;
            padding-#{$opposite-direction}: 70px;
        }
    }
}
}
.ups-form_wrap .ups-bodError + .ups-checkbox-custom-label,
.ups-form_wrap .ups-bodError + .ups-radio-custom-label{
    padding-#{$default-float}: 40px;
    &:before {
        border-color:$red;
    }
}
