---
title: W5 Manage Home Deliveries, Multiple Accounts
layout: default_ar.hbs
dir: rtl
lang: ar
---

<div>

    {{> M14_breadcrumb}}

    {{> M07_page_title}}

    {{> W05_manageHomeDeliveries_main deliveries.two_accounts}}

    <div class="ups-subsection ups-wrap">
        <div class="ups-subsection_inner">

            <div class="subsection_main">
                {{> W05_manageHomeDeliveries_main deliveries.two_accounts}}
            </div>

            <aside class="subsection_aside">
                <div style='width:100%;height:300px;background:#eee;border:3px dotted black;'></div>
            </aside>

        </div>
    </div>
    
</div>