<div class="ups-application_wrapper ups-form_wrap">
    <form action="repl_fname" method="repl_method" name="repl_fname">

        {{! Visual Emphisis Panel }}
        {{>"ct1_shi_ctc_module_0_partial"}}
        {{! Visual Emphisis Panel }}

    	<!-- /subtabs begin -->

        <!-- <div class="ups-tab_wIcon"> -->

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <div class="ups-app_actions_container col24">
            <ul class="subTab clearfix">
        		<li class="tab-on">Package</li>
        		<li class="tab-off"><a href="repl_href">Freight</a></li>
        	</ul>

            <ul class="ups-app_actions">
                <li>
                    <a href="repl_href">Print</a>
                    <span class="icon ups-icon-print" aria-hidden="true"></span>
                </li>
                <li>
                    <a href="repl_href">Find Locations</a>
                    <span class="icon ups-icon-newwindow" aria-hidden="true"></span>
                </li>
            </ul>
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design -->
        <!-- ************************************** -->

        <!-- </div> -->

    	<!-- /subtabs end -->

    	<!-- //////////////////////// -->
    	<!-- Begin Application Module -->

    	<div class="appLvl tab col24 clearfix">

    		<!-- Begin Application Header -->

    		<div class="appHead clearfix">
    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Vestibulum imperdiet <strong>update</strong> vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                <!-- REDESIGN EDIT: <b> element was changed to <strong> -->
    		</div>

    		<!-- End Application Header -->

    		<!-- Begin Application Body -->

    		<div class="appBody clearfix">
    			<div class="seccol8 marginBegin clearfix">
					<!-- Begin Section Module (Menu 1) -->
					{{>"ct1_shi_ctc_when_where_panel_partial"}}
                    <!-- End Section Module (Menu 1) -->

					<!-- Begin Menu Panel  - Enter Detail to Show Cost -->
					{{>"ct1_shi_ctc_enter_detail_to_show_cost_partial"}}
					<!-- End Menu Panel - Enter Detail to Show Cost -->

					<div class="clearfix">
						<ul>
							<li><span class="label">additional resources / tools</span></li>
							<li><a href="repl_href">zones and rates</a></li>
							<li><a href="repl_href">service guides</a></li>
							<li><a href="repl_href">u.s. ground maps</a></li>
							<li><a href="repl_href">european transit time maps</a></li>
							<li><a href="repl_href" class="btnlnkR newWindowIconR">guarantees and notices</a></li>
						</ul>
					</div>

					<!-- End Column 1 Footer -->
				</div>
				<!-- End Column 1 Footer -->
                <!-- //////////////////////// -->
                <!-- //////////////////////// -->
                <!-- //////////////////////// -->
    			<!-- Begin Second Column -->
                <div class="seccol16 marginBegin floatEnd clearfix">
        			{{>"ct1_shi_ctc_results_partial"}}
                </div>
    			<!-- End Second Column -->
    		</div>

    		<!-- End Application Body -->

    		<!-- Begin Application Footer --

    		<div class="appFooter">

    			<!-- Begin Button Bar Row --

    			<div class="btnBar">
    				<input name="repl_name" type="button" value="back" class="btnBackArw">
    				<input name="repl_name" type="button" value="cancel" class="btn">
    			</div>

    			<!-- End Button Bar Row --

    		</div>

    		<!-- End Application Footer -->

    	</div>

    	<!-- End Application Module -->

    	<!-- //////////////////////// -->
    	<script type="text/javascript">
        	$(document).ready(function() {


        	$('.collapsible').click(function(){
        	 	$('#collapse2 div.secBody, #collapse2 div.secFooter').toggle();
        	 	$('#collapse2 .secHead').toggleClass('collapsed').toggleClass('');
        	});

        	});
    	</script>
    </form>
</div>
