<!-- /////////////////////////////////////// -->
<!-- Begin Visual Ephisis Application Module -->
<div class="appLvl appLvlPlain col24 clearfix">

    <!-- Begin Application Body -->
    <div class="appBody clearfix">
        <!-- Begin Section Module -->
        {{#if module_log_in_reminder}}
            <!-- Begin Section Module -->
            <div class="secLvl message clearfix">
            		<!-- Begin Section Body -->
            		<div class="secBody">
            			<p>to receive the most accurate rate and delivery time calculation, <a href="repl_href">log in</a> and select a ups account.</p>
            		</div>
            		<!-- End Section Body -->
            </div>
            <!-- End Section Module -->
        {{/if}}
        {{#if module_set_pref_reminder}}
            <!-- Begin Section Module -->
            <div class="secLvl message clearfix">
            		<!-- Begin Section Body -->
            		<div class="secBody">
            			<p><a href="repl_href">set your preferences</a> to enable one-step rating.  (<a href="repl_href">do not show this message again</a>).</p>
            		</div>
            		<!-- End Section Body -->
            </div>
            <!-- End Section Module -->
        {{/if}}
        <!-- End Section Module -->
    </div>
    <!-- End Application Body -->
</div>
<!-- End Visual Ephisis Application Module   -->
<!-- /////////////////////////////////////// -->
