---
title: Header/Footer Variations
layout: default_light.hbs
dir: ltr
lang: en
---

{{> M07_page_title}}

<div class="ups-subsection ups-wrap">
	<div class="ups-subsection_inner">
		<div class="subsection_main">
		
			{{> M53_filtered_list landing_pages.wem_headerfooter}}
			
		</div>
		
		<aside class="subsection_aside">
			<div class="ups-contentBlock ups-wrap">
				<div class="ups-wrap_inner">
					<h2>Change Log</h2>
					<section class="ups-accordion_list">
						<div class="ups-accordion_wrapper">
						
							<ul class="ups-accordion_content">
								<li class="ups-accordion_item">
									<button class="ups-accordion_toggle">07/21/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
									<div class="ups-accordion_expand">
										<ul>
											<li>WEM Build</li>
										</ul>
									</div>
								</li>
							</ul>
							
						</div>
					</section>
				</div>
			</div>
		</aside>
	</div>
</div>