<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">

                    <!-- begin Application Content Area -->

                    <!-- begin Application Header -->
                        <table border="0" cellpadding="0" cellspacing="0" width="566">
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                        <span class="blueboldHead">{Application Header}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                        </table>
                        <!-- end Application Header -->

                        <!-- begin Application Body -->
                        <table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="1%">
                                                <img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10">
                                            </td>
                                            <td width="49%">
                                                <span class="whiteBoldHead">{module title}</span>
                                            </td>
                                            <td width="49%">
                                                <div align="right">
                                                    <a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a>
                                                </div>
                                            </td>
                                            <td width="1%">
                                                <img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                        	<td bgcolor="#996633" colspan="3">
                                            	<img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td colspan="3">
                                            	<img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                       			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        		<p><select><option>item 1</option></select></p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td colspan="3">
                                            	<img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
      					<!-- end Application Body -->

                        <br>

                        <!-- begin buttons -->
                        <table border="0" cellpadding="0" cellspacing="1" width="566">
                            <tr>
                            	<td colspan="2" valign="top">
                                	<img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                            	<td align="left" valign="top" width="200">
                                	<img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            	<td align="right" valign="top" width="366"></td>
                            </tr>
                        </table>
                        <!-- end buttons -->

                        <!-- begin note area -->
                        <table border="0" cellpadding="0" cellspacing="1" width="566">
                            <tr>
                            	<td valign="top">
                                	<img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                            	<td valign="top">&nbsp;</td>
                            </tr>
                        </table>
                        <!-- end note area -->

                        <!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>

<!-- ///////////////////////// -->
<!-- end v3 underlay container -->
<!-- ///////////////////////// -->


<!-- ///////////////////////////////////// -->
<!-- begin Manage Paperless Shipping Lanes -->
<!-- ///////////////////////////////////// -->

		<div class="appLvl mod modal dialog">

        	<!-- Begin Application Header -->
            <div class="appHead clearfix">
                <h2>manage paperless shipping lanes</h2>
                <ul>

			 	<li><input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
                    <li><a class="btnlnkR " href="repl_href">help</a></li>
                </ul>
            </div>
            <!-- End Application Header -->

			<!-- Begin Application Body -->
			<div class="appBody">
				<p>[please use the table below to indicate whether you wish to use paperless forms or printed forms for your international shipments from this account and origin country or territory.]</p>

                 <dl>
                     <dt><span class="label">origin country or territory:</span></dt>
                     <dd>{ united states }</dd>
                 </dl>

                <!-- Begin Section Module -->
                <div class="secLvl secLvlPlain tableOnly clearfix">

					<fieldset><legend>repl_legend</legend>

                        <!-- Begin Section Body -->
                        <div class="iDiv" style="height:465px">  <!-- height should be set dynamicly based on funcional requirement -->
                            <div class="secBody">
                                <table summary="repl_summary" class="dataTable full" >
                                <!--<caption>repl_caption</caption>-->
                                    <thead>
                                       	<tr>
                                            <th scope="col">destination country or territory</th>
                                            <th scope="col" class="alignCenter">paperless forms</th>
                                            <th scope="col" class="alignCenter">printed forms</th>
                                        </tr>
                                     </thead>

                                     <tbody>
                                    <tr class="odd">
                                        <td scope="row"><label for="repl_radio1">aruba</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1b">
                                            </td>
                                        </tr>
                                    <tr>
                                        <td scope="row"><label for="repl_radio2">bahrain</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio2" type="radio" value="repl_fvalue" id="repl_radio2" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio2" type="radio" value="repl_fvalue" id="repl_radio2b">
                                            </td>
                                        </tr>
                                    <tr class="odd">
                                        <td scope="row"><label for="repl_radio3">canada*</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio3" type="radio" value="repl_fvalue" id="repl_radio3b">
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio3" type="radio" value="repl_fvalue" id="repl_radio3" checked>
                                            </td>
                                        </tr>
                                    <tr>
                                        <td scope="row"><label for="repl_radio4">djibouti*</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio4" type="radio" value="repl_fvalue" id="repl_radio4b">
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio4" type="radio" value="repl_fvalue" id="repl_radio4" checked>
                                            </td>
                                        </tr>
                                    <tr class="odd">
                                        <td scope="row"><label for="repl_radio5">ecuador</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio5" type="radio" value="repl_fvalue" id="repl_radio5" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio5" type="radio" value="repl_fvalue" id="repl_radio5b">
                                            </td>
                                        </tr>
                                    <tr>
                                        <td scope="row"><label for="repl_radio6">france</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio6" type="radio" value="repl_fvalue" id="repl_radio6" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio6" type="radio" value="repl_fvalue" id="repl_radio6b">
                                            </td>
                                        </tr>
                                    <tr class="odd">
                                        <td scope="row"><label for="repl_radio7">greece</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio7" type="radio" value="repl_fvalue" id="repl_radio7" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio7" type="radio" value="repl_fvalue" id="repl_radio7b">
                                            </td>
                                        </tr>
                                    <tr>
                                        <td scope="row"><label for="repl_radio8">honduras</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio8" type="radio" value="repl_fvalue" id="repl_radio8" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio8" type="radio" value="repl_fvalue" id="repl_radio8b">
                                            </td>
                                        </tr>
                                    <tr class="odd">
                                        <td scope="row"><label for="repl_radio9">italy</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio9" type="radio" value="repl_fvalue" id="repl_radio9" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio9" type="radio" value="repl_fvalue" id="repl_radio9b">
                                            </td>
                                        </tr>
                                    <tr>
                                        <td scope="row"><label for="repl_radio10">japan</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio10" type="radio" value="repl_fvalue" id="repl_radio10b">
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio10" type="radio" value="repl_fvalue" id="repl_radio10" checked>
                                            </td>
                                        </tr>
                                    <tr class="odd">
                                        <td scope="row"><label for="repl_radio11">nigeria</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio11" type="radio" value="repl_fvalue" id="repl_radio11" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio11" type="radio" value="repl_fvalue" id="repl_radio11b">
                                            </td>
                                        </tr>
                                    <tr>
                                        <td scope="row"><label for="repl_radio12">oman</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio12" type="radio" value="repl_fvalue" id="repl_radio12" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio12" type="radio" value="repl_fvalue" id="repl_radio12b">
                                            </td>
                                        </tr>
                                    <tr class="odd">
                                        <td scope="row"><label for="repl_radio13">poland</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio13" type="radio" value="repl_fvalue" id="repl_radio13" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio13" type="radio" value="repl_fvalue" id="repl_radio13b">
                                            </td>
                                        </tr>
                                    <tr>
                                        <td scope="row"><label for="repl_radio14">russia</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio14" type="radio" value="repl_fvalue" id="repl_radio14" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio14" type="radio" value="repl_fvalue" id="repl_radio14b">
                                            </td>
                                        </tr>
                                    <tr class="odd">
                                        <td scope="row"><label for="repl_radio15">sweden</label></td>
                                        <td class="alignCenter">
                                            <input name="repl_radio15" type="radio" value="repl_fvalue" id="repl_radio15" checked>
                                            </td>
                                        <td class="alignCenter">
                                            <input name="repl_radio15" type="radio" value="repl_fvalue" id="repl_radio15b">
                                            </td>
                                        </tr>
                                      </tbody>
                                </table>



                            </div>
                        </div>
                        <!-- End Section Body -->

          			</fieldset>

                </div>
                <!-- End Section Module -->

			</div>
            <!-- End Application Body -->

            <!-- Begin Application Footer -->
            <div class="appFooter">
                <!-- Begin Button Bar Row -->
        		<div class="btnBar alignCenter">
                    <input name="repl_name" type="button" value="cancel" class="btn">
                    <input name="repl_name" type="button" value="save" class="btn">
                </div>
                <!-- End Button Bar Row -->
            </div>
            <!-- End Application Footer -->



		</div>

<!-- ///////////////////////////////////// -->
<!-- end Manage Paperless Shipping Lanes -->
<!-- ///////////////////////////////////// -->



<script type="text/javascript">



$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:510});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});


</script>
