@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";
#main {
	label[for='repl_id'] {
		border: none!important
	}
	#crt_msi_dlrl.btn.disabled {
		background: none!important;
		height: auto;
		padding: 0!important;
		opacity: 0.5;
		width: auto!important;
		margin: 0!important;
		min-width: auto!important;
		font-size: inherit!important;
		vertical-align: baseline;
	}
}
