@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  p {
    font-size: 14px !important;
  }
  .cmsMsg {
    font-size: 14px !important;
  }

  ul li {
    list-style: none;
     font-family: $sans;
    background-image: none;
    padding: 0;
    font-size: 14px;
    &:before {
        @include ups-iconFont("\e633");
        font-size: 7px;
        line-height: 14px;
        vertical-align: top;
        padding-#{$opposite-direction}: 5px;
    }
  }

  input.formcol4 {
    @include ups-textbox;
  }
}
