---
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
	
    {{> background_modal_content }}
    
	{{> ct1_tra_umc_dlg_shipmentdetails_partial shipmentdetails.tt_ua }}
    
</div>
