@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  .dataTable {
    tbody {
      tr {
        th {
          background-color: $stone_40;
          border-color: $ups_brown;
          border-top: none;
          border-bottom: none;
        }
      }
      tr.odd {
          th {
            background: $white;
            border-color: $ups_brown;
            border-top: none;
            border-bottom: none;
          }
      }
    }
  }
}
