---
title: RTE Comparison Table Styles
dir: ltr
lang: en
---

<!-- ************************************************************************************ -->
<!-- RTE Styles                                                                           -->
<!-- ************************************************************************************ -->

{{> M14_breadcrumb}}

{{> M07_page_title}}

<div class="ups-contentBlock ups-wrap">
    <div class="ups-wrap_inner">

        <div class='ups-table-comparison'>
             <table>
                 <thead>
                 <tr>
                     <th colspan='4'>Header</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <th>&nbsp;</th>
                     <th scope="col">Secondary Header A</th>
                     <th scope="col">Secondary Header B</th>
                     <th scope="col">Secondary Header C</th>
                 </tr>
                 <tr>
                     <td><a href=''>Comparison Item</a></td>
                     <td>&nbsp;</td>
                     <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                     <td><img src="/assets/resources/images/icons/dollarSign-icon.svg" alt="dollar"></td>
                 </tr>
                 <tr>
                     <td><a href=''>Comparison Item</a></td>
                     <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                 </tr>
                 <tr>
                     <td><a href=''>Comparison Item</a></td>
                     <td><img src="/assets/resources/images/icons/dollarSign-icon.svg" alt="dollar"></td>
                     <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                     <td>&nbsp;</td>
                 </tr>
                 <tr>
                     <td><a href=''>Comparison Item</a></td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                     <td><img src="/assets/resources/images/icons/dollarSign-icon.svg" alt="dollar"></td>
                 </tr>
                 <tr>
                     <td><a href=''>Comparison Item</a></td>
                     <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                     <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                     <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                 </tr>
                 <tr>
                     <td><a href=''>Comparison Item With a Long Name</a></td>
                     <td><img src="/assets/resources/images/icons/dollarSign-icon.svg" alt="dollar"></td>
                     <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                     <td>&nbsp;</td>
                 </tr>
                 </tbody>
             </table>
        </div>
    <hr>

    <h2>General HTML</h2>
    <p>Table requires wrapper div with a class of <strong>"ups-table-comparison"</strong>.</p>
<pre>&lt;div class=”<strong>ups-table-comparison</strong>”>
    &lt;table>
        &lt;thead>
            &lt;tr>&lt;th>&lt;/th>&lt;/tr>
            &lt;tr>&lt;td>&lt;/td>&lt;/tr>
        &lt;/thead>
        &lt;tbody>
            &lt;tr>&lt;th>&lt;/th>&lt;/tr>
            &lt;tr>&lt;td>&lt;/td>&lt;/tr>
        &lt;/tbody>
    &lt;/table>
&lt;/div></pre>
    <hr>

    <h2>Header</h2>
    <img src="/assets/resources/images/demo/tables/table_header.jpg" alt="table header">
    <pre>&lt;thead>&lt;tr>&lt;th>Header&lt;/th>&lt;/tr>&lt;/thead></pre>
    <hr>

    <h2>Secondary Header</h2>
    <img src="/assets/resources/images/demo/tables/comptable_header_secondary.jpg" alt="table secondary header">
    <pre>&lt;tbody>
    &lt;tr>
        &lt;th>&nbsp;&lt;/th>
        &lt;th>Secondary Header A&lt;/th>
        &lt;th>Secondary Header B&lt;/th>
        &lt;th>Secondary Header C&lt;/th>
    &lt;/tr>
&lt;/tbody></pre>
    <hr>

    <h2>Main Table Content</h2>
    <div class='ups-table-comparison'>
        <div class='ups-sm_hide'>
            <table>
                <tbody>
                <tr>
                    <td><a href=''>Comparison Item</a></td>
                    <td>&nbsp;</td>
                    <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                    <td><img src="/assets/resources/images/icons/dollarSign-icon.svg" alt="dollar"></td>
                </tr>
                <tr>
                    <td><a href=''>Comparison Item</a></td>
                    <td><img src="/assets/resources/images/icons/check-icon.svg" alt="check"></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <br/><br/>
<pre><tbody>
    &lt;tr>
        &lt;td>&lt;a href=''>Comparison Item&lt;/a>&lt;/td>
        &lt;td>&nbsp;&lt;/td>
        &lt;td>&lt;img src="/assets/resources/images/icons/check-icon.svg" alt="check">&lt;/td>
        &lt;td>&lt;img src="/assets/resources/images/icons/dollarSign-icon.svg" alt="dollar">&lt;/td>
    &lt;/tr>
    &lt;tr>
        &lt;td>&lt;a href=''>Comparison Item&lt;/a>&lt;/td>
        &lt;td>&lt;img src="/assets/resources/images/icons/check-icon.svg" alt="check">&lt;/td>
        &lt;td>&nbsp;&lt;/td>
        &lt;td>&nbsp;&lt;/td>
    &lt;/tr>
    &lt;/tbody>
</pre>
    <hr>



    </div>
</div>
