---
title: RTE Styles
dir: ltr
lang: en
---

<!-- ************************************************************************************ -->
<!-- RTE Styles                                                                           -->
<!-- ************************************************************************************ -->

{{> M14_breadcrumb}}

{{> M07_page_title}}

<div class="ups-contentBlock ups-wrap">
    <div class="ups-wrap_inner">

    <h2>Links</h2>
    <p>This is a standard <a href="#">link</a>. <strong>(no styles applied)</strong></p>
    <pre>&lt;p&gt;This is a standard &lt;a href="#"&gt;link&lt;/a&gt;.&lt;/p&gt;</pre>

    <p><a href="#" class="ups-cta">Primary CTA</a> <strong>(.ups-cta)</strong></p>
    <pre>&lt;p&gt;&lt;a href="#" class="<strong>ups-cta</strong>"&gt;Primary CTA&lt;/a&gt;&lt;/p&gt;</pre>

    <p><a href="#" class="ups-cta ups-cta_secondary">Secondary CTA</a> <strong>(.ups-cta.ups-cta_secondary)</strong></p>
    <pre>&lt;p&gt;&lt;a href="#" class="<strong>ups-cta ups-cta_secondary</strong>"&gt;Secondary CTA&lt;/a&gt;&lt;/p&gt;</pre>


    <hr>


    <h2>Headings</h2>
    <h3>This is an H3.  <strong>(&lt;h3&gt;)</strong></h3>
    <pre>&lt;<strong>h3</strong>&gt;This is an H3.&lt;/<strong>h3</strong>&gt;</pre><br>

    <h4>This is an H4.  <strong>(&lt;h4&gt;)</strong></h4>
    <pre>&lt;<strong>h4</strong>&gt;This is an h4.&lt;/<strong>h4</strong>&gt;</pre><br>

    <h5>This is an H5.  <strong>(&lt;h5&gt;)</strong></h5>
    <pre>&lt;<strong>h5</strong>&gt;This is an h5.&lt;/<strong>h5</strong>&gt;</pre><br>

    <h6>This is an H6.  <strong>(&lt;h6&gt;)</strong></h6>
    <pre>&lt;<strong>h6</strong>&gt;This is an h6.&lt;/<strong>h6</strong>&gt;</pre>

    <hr>

    <h2>Body Styles</h2>
    <p>This is <strong>bold</strong> text. <strong>(&lt;strong&gt;)</strong></p>
    <pre>&lt;p&gt;This is &lt;<strong>strong</strong>&gt;bold&lt;/<strong>strong</strong>&gt; text.&lt;/p&gt;</pre><br>

    <p>This is <em>italic</em> text. <strong>(&lt;em&gt;)</strong></p>
    <pre>&lt;p&gt;This is &lt;<strong>em</strong>&gt;italic&lt;/<strong>em</strong>&gt; text.&lt;/p&gt;</pre><br>

    <p>This is <span class="ups-underline">underlined</span> text. <strong>(&lt;span class="ups-underline"&gt;)</strong></p>
    <pre>&lt;p&gt;This is &lt;<strong>span class="ups-underline"</strong>&gt;underlined&lt;/<strong>span</strong>&gt; text.&lt;/p&gt;</pre><br>

    <p>Ordered list <strong>(&lt;ol&gt; , &lt;li&gt;)</strong></p>
    <ol>
        <li>List Item One</li>
        <li>List Item Two</li>
        <li>List Item Three</li>
    </ol>
    <pre>&lt;<stront>ol</stront>&gt;
    &lt;<stront>li</stront>&gt;List Item One&lt;/<stront>li</stront>&gt;
    &lt;<stront>li</stront>&gt;List Item Two&lt;/<stront>li</stront>&gt;
    &lt;<stront>li</stront>&gt;List Item Three&lt;/<stront>li</stront>&gt;
&lt;/<stront>ol</stront>&gt;</pre><br>

    <p>Unordered list <strong>(&lt;ul&gt; , &lt;li&gt;)</strong></p>
    <ul>
        <li>List Item One</li>
        <li>List Item Two</li>
        <li>List Item Three</li>
    </ul>
    <pre>&lt;<strong>ul</strong>&gt;
    &lt;<strong>li</strong>&gt;List Item One&lt;/<strong>li</strong>&gt;
    &lt;<strong>li</strong>&gt;List Item Two&lt;/<strong>li</strong>&gt;
    &lt;<strong>li</strong>&gt;List Item Three&lt;/<strong>li</strong>&gt;
&lt;/<strong>ul</strong>&gt;</pre><br>

    <p>This is <sup>superscript</sup> text. <strong>(&lt;sup&gt;)</strong></p>
    <pre>&lt;p&gt;This is &lt;<strong>sup</strong>&gt;superscript&lt;/<strong>sup</strong>&gt; text.&lt;/p&gt;</pre><br>

    <hr>

    <h2>Images</h2>

    <p>This is an image with optional caption</p>
    <figure>
        <img src="/assets/resources/images/healthcare/faq1.png" alt="Two Men Talking">
        <figcaption>
            <p>Lorem ipsum dolor sit amet</p>
        </figcaption>
    </figure>
    <div style="clear:both;height:0;"></div>
    <pre><strong>&lt;figure&gt;
    &lt;img src="/assets/resources/images/example.png" alt=“Example Image of Something"&gt;
    &lt;figcaption&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet&lt;/p&gt;
    &lt;/figcaption&gt;
&lt;/figure&gt;</strong></pre><br>

    <p>This is a <em>clickable</em> image with optional caption</p>
    <figure>
        <a href=“/">
            <img src="/assets/resources/images/healthcare/faq1.png" alt=“Two Men Talking”>
        </a>
        <figcaption>
            <p><a href=“/">Lorem ipsum dolor sit met</a></p>
        </figcaption>
    </figure>
    <div style="clear:both;height:0;"></div>
    <pre><strong>&lt;figure&gt;
    &lt;a href=“/"&gt;
        &lt;img src="/assets/resources/images/example.png" alt=“Example Image of Something"&gt;
    &lt;/a&gt;
    &lt;figcaption&gt;
        &lt;a href=“/"&gt;&lt;p&gt;Lorem ipsum dolor sit amet&lt;/p&gt;&lt;/a&gt;
    &lt;/figcaption&gt;
&lt;/figure&gt;</strong></pre><br>

    </div>
</div>
