---
title: RTE Table Styles
dir: ltr
lang: en
---

<!-- ************************************************************************************ -->
<!-- RTE Styles                                                                           -->
<!-- ************************************************************************************ -->

{{> M14_breadcrumb}}

{{> M07_page_title}}

<div class="ups-contentBlock ups-wrap">
    <div class="ups-wrap_inner">

    <p>The majority of the table styling is handled by the markup. There are a few instances where the RTE may need to apply a class name or extra markup.</p>

    <img src="/assets/resources/images/demo/tables/table.jpg" alt="image of table">
    <hr>

    <h2>General HTML</h2>
    <p>Table requires wrapper div with a class of <strong>"ups-table"</strong>.</p>
<pre>&lt;div class=”<strong>ups-table</strong>”>
    &lt;table>
        &lt;thead>
            &lt;tr>&lt;th>&lt;/th>&lt;/tr>
            &lt;tr>&lt;td>&lt;/td>&lt;/tr>
        &lt;/thead>
        &lt;tbody>
            &lt;tr>&lt;th>&lt;/th>&lt;/tr>
            &lt;tr>&lt;td>&lt;/td>&lt;/tr>
        &lt;/tbody>
    &lt;/table>
&lt;/div></pre>
    <hr>

    <h2>Header</h2>
    <img src="/assets/resources/images/demo/tables/table_header.jpg" alt="table header">
    <pre>&lt;thead>&lt;tr>&lt;th>Header&lt;/th>&lt;/tr>&lt;/thead></pre>
    <hr>

    <h2>Secondary Header</h2>
    <img src="/assets/resources/images/demo/tables/table_header_secondary.jpg" alt="table secondary header">
    <pre>&lt;thead>&lt;tr>&lt;td>Header&lt;/td>&lt;/tr>&lt;/thead></pre>
    <hr>

    <h2>Tertiary Headers</h2>
    <img src="/assets/resources/images/demo/tables/table_header_tertiary.jpg" alt="table tertiary header">
<pre>&lt;tbody>
    &lt;tr>
        &lt;th>Tertiary Header A&lt;/th>
        &lt;th>Tertiary Header B&lt;/th>
        &lt;th>Tertiary Header C&lt;/th>
        &lt;th>Tertiary Header D&lt;/th>
    &lt;/tr>
&lt;/tbody></pre>
    <hr>

    <h2>Main Table Content</h2>
    <img src="/assets/resources/images/demo/tables/table_body_text.jpg" alt="table body">
<pre>&lt;tr>
    &lt;td>Body Text&lt;/td>
&lt;/tr></pre>
    <hr>

    <h2>Main Table Content with Link</h2>
    <img src="/assets/resources/images/demo/tables/table_body_link.jpg" alt="table body link">
<pre>&lt;tr>
    &lt;td>&lt;a href=”#”>Body Text with Link&lt;/a>&lt;/td>
&lt;/tr></pre>
    <hr>

    <h2>Main Table Content with Image</h2>
    <img src="/assets/resources/images/demo/tables/table_body_icon.jpg" alt="table body icon">
<pre>&lt;tr>
    &lt;td>
        &lt;div class=”rte-cell”>
            &lt;img src='assets/resources/images/placeholder-icon.jpg' />
        &lt;/div>
        &lt;div class=”rte-cell”>
            &lt;a href=””>Body Text with Link&lt;/a>
        &lt;div>
    &lt;/td>
</tr></pre>
    <hr>

    <h2>Main Table Content with Image and Link</h2>
    <img src="/assets/resources/images/demo/tables/table_body_icon_link.jpg" alt="table body icon link">
<pre>&lt;tr>
    &lt;td>
        &lt;div class=”rte-cell”>
            &lt;img src='assets/resources/images/placeholder-icon.jpg' />
        &lt;/div>
        &lt;div class=”rte-cell”>
            &lt;a href="#">Body Text with Icon and Link&lt;/a>
        &lt;div>
    &lt;/td>
&lt;/tr></pre>
    <hr>



    </div>
</div>
