
<div class="row ups-pickup_language_bar">
		<div class="col-xs-7 col-sm-3 col-md-3">
        <div class="ups-drawer ups-drawer_slim" upsDrawer data-is-popup="true">
            <button type="button" class="ups-drawer-btn ups-drawer-btn_popUp" aria-controls="viewLanguagesDrawerContainer" aria-expanded = "false">English
                <span class="pull-right"><span class="ups-readerTxt">Expand to see additional languages</span><span class="icon ups-icon-wedgedown" aria-hidden="true"></span></span>
            </button>
            <div class="ups-drawer-content ups-toggle_view_state ups-toggle_view_left" id="viewLanguagesDrawerContainer">
                <ul>
                    <li>
                        <a href="#" class="ups-link">Language 1</a>
                    </li>
                    <li>
                        <a href="#" class="ups-link">Language 2</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-4 col-sm-8 col-md-8">
        <div class="ups-group pull-right">
            <button class="ups-cta ups-cta_secondary ups-link ups-btn_has_icon ups-language_exit_btn">Exit <span aria-hidden="true" class="icon ups-icon-xcircle"></span></button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
