<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>log in</h1>

		<p class="group">welcome to ups campusship. to begin, please enter your user id and password.</p>
		<p><strong>note:</strong> user id and password fields are case sensitive.</p>

			<!-- Begin Application Module -->
			<div class="appLvl mod col18 clearfix">
			<fieldset><legend></legend>

                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                    <h2>returning users</h2>
                </div>
                <!-- End Application Header -->

                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                <fieldset><legend></legend>

					<p class="error">&gt;&gt;&gt; { error message. }</p>

                    <dl>
                        <dt><label for="">{ user id }:</label></dt>
                        <dd>johnups1<label class="sel indent"><a href="">re-enter user id</a></label></dd>
                    </dl>
                    <p>we do not recognize the device you are useing. to ensure your security, you may be required to anser up to 3 personal questions to verify your identity.</p>
                    <dl>
                        <dt><label for="">personal question:</label></dt>
                        <dd>what is my mother's high school?</dd>
                        <dt><label for="">answer:</label></dt>
                        <dd><input type="text" id="" class="formcol6" value="" /></dd>
                    </dl>
                </fieldset>
                </div>
                <!-- End Application Body -->

                <!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="cancel" class="btn">
							<input name="" type="submit" value="next" class="btnArw">
						</div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->


						<div class="note">
							<p><a href="repl_href" class="btnlnkL arrowIcon">forgot user id or password</a></p>
						</div>



			</fieldset>
			</div>
			<!-- End Application Module -->


		<!-- End Application -->
<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
