{{#if default_posttable}}
<p>{1507 disclaimer placeholder}</p>
<p>* All applicable promotional discounts have been applied.</p>
<p>The weight exceeds the limit for the UPS Letter/Envelope rate and will be rated using the weight.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday.</p>
<p>February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
<p>&bull; For packages shipped from and delivered to a UPS Access PointTM location</p>
<p>&bull; Days in transit is based on a drop-off prior to a location's collection time</p>
{{/if}}
{{#if eu_ca_mx_posttable}}
<p>{1507 disclaimer placeholder}</p>
<p>* All applicable promotional discounts have been applied</p>
<p>The weight exceeds the limit for the UPS Letter/Envelope rate and will be rated using the weight.</p>
{{/if}}
{{#if import_control_posttable}}
<p>{1507 disclaimer placeholder}</p>
<p>* All applicable promotional discounts have been applied.</p>
<p>The weight exceeds the limit for the UPS Letter/Envelope rate and will be rated using the weight.</p>
<p>Rates estimates are based on import rates of the destination country or territory, and may include a label accessorial fee.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday.</p>
<p>February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
{{/if}}
{{#if ww_express_posttable}}
<p>[All applicable promotional discounts have been applied.]</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
{{/if}}
{{#if ABR_posttable}}
<p>[All applicable promotional discounts have been applied.]</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
{{/if}}
{{#if ulan_posttable}}
<p>{1507 disclaimer placeholder}</p>
<p>[All applicable promotional discounts have been applied.]</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
{{/if}}
{{#if vat_posttable}}
<p>{1507 disclaimer placeholder}</p>
<p>[All applicable promotional discounts have been applied.]</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
{{/if}}
