{{#if default_table}}
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Package 1</th>
		<th scope="col">Package 2</th>
		<th scope="col">Package 3</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Next Day Air Early A.M. (R)</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Additional Handling<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>--</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Chain of Custody<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX CAD</td>
		<td>XX.XX CAD</td>
		<td>XX.XX CAD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Declared Value<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Delivery Area Surcharge - Rural<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">Saturday Air Processing Fee</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Fuel Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">Large Package Surcharge</td>
		<td>--</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Security Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">Charges Per Package</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Pre-Tax Sub-Total:</span>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<div class="clear"></div>
<table class="dataTable full">
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row">{Various Pickup Fees}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
		<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Adjusted Total:</span>
			</dt>
			<dd>nnn,nn XXX*</dd>
		</dl>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="btnBar alignEnd">
	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>
{{/if}} 
{{#if eu_ca_mx_table}}
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Service Name(R)</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Declared Value<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>[Free] (or) nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row">C.O.D.</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Additional Handling<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Delivery Area Surcharge - Rural<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Residential Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Extended Area Surcharge - Rural (Ship From)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Extended Area Surcharge - [Code] (Ship To)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Fuel Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row">Large Package Surcharge</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Security Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Other Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>nnn,nn XXX</td>
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Pre-Tax Subtotal:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Total Charges:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
		<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Adjusted Total:</span>
			</dt>
			<dd>nnn,nn XXX*</dd>
		</dl>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="btnBar alignEnd">
	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>
{{/if}}
{{#if import_control_table}}
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Package 1</th>
		<th scope="col">Package 2</th>
		<th scope="col">Package 3</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Express Plus</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Additional Handling<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>--</td>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Import Control - Electronic Label</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Fuel Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row">Large Package Surcharge</td>
		<td>--</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr
	<tr class="odd">
		<td scope="row"><a href="repl_href">[Other Surcharge]<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">Charges Per Package</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
</table>
<div class="clear"></div>
<dl class="outHozLedger clearfix">
	<dt>
		<span class="label">UPS carbon neutral</span>
	</dt>
	<dd>XX.XX USD</dd>
</dl>
<div class="clear"></div>
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>		
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>		
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>		
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>		
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
		<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Adjusted Total:</span>
			</dt>
			<dd>nnn,nn XXX*</dd>
		</dl>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="btnBar alignEnd">
	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>
{{/if}}
{{#if ww_express_table}}
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Worldwide Express Freight&#8480;</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Declared Value<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Pallet Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Liftgate on Pick up<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Fuel Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Security Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">[Other Surcharge]<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Pre-Tax Sub-Total:</span>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<div class="clear"></div>
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>	
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
				<br>
				<p>[Negotiated Rates were Applied]</p>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<dl class="outHozLedger clearfix">
		<dt>
		<p>{1507 disclaimer placeholder}</p>
		</dt>
		<dd>	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</dd>
	</dl>
{{/if}}
{{#if ABR_table}}
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Next Day Air Early A.M. (R)</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Declared Value<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Pick up Charge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Fuel Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">[Other Surcharge]<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Pre-Tax Sub-Total:</span>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>	
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<dl class="outHozLedger clearfix">
		<dt>
		<p>{1507 disclaimer placeholder}</p>
		</dt>
		<dd>	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</dd>
	</dl>
{{/if}}
{{#if ulan_table}}
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Next Day Air Early A.M. (R)</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><span class="reqTxtInst">You're saving money with a discount</span></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Declared Value<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<t>
		<td scope="row"><a href="repl_href">Pick up Charge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><span class="reqTxtInst">You're saving money with a discount</span></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Fuel Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">[Other Surcharge]<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Pre-Tax Sub-Total:</span>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>	
	</tr>
</table>
<div class="clear"></div>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<div class="clear"></div>
<div class="btnBar alignEnd">
<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>
<div class="clear"></div>
{{/if}}
{{#if vat_table}}
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Express Saver - Future Day Pickup</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><span class="reqTxtInst">You're saving money with a discount</span></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Declared Value<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<t>
		<td scope="row"><a href="repl_href">Pick up Charge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><span class="reqTxtInst">You're saving money with a discount</span></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Fuel Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">[Other Surcharge]<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
	</tr>
</table>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Pre-Tax Sub-Total:</span>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
	</tr>
	<tr>
		<td scope="row">VAT</td>
		<td>XX.XX USD</td>
	</tr>
</table>
<div class="clear"></div>
<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>
<div class="clear"></div>
<div class="btnBar alignEnd">
<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>
<div class="clear"></div>
{{/if}}


