{{#if default_pretable}}
<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Next Day Air Early A.M. (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <span class="label">Guaranteed By:</span> </dt>
	<dd>8:30 A.M.</dd>
</dl>
<p>Thursday February 4, 2010</p>
<div class="clear"></div>
<div class="floatEnd">
	<p>(Displaying 1-3 of XX) <a href="repl_href">Previous</a> | <a href="repl_href2">Next</a></p>
</div>
<div class="clear"></div>
{{/if}}
{{#if eu_ca_mx_pretable}}
<dl class="outHozLedger clearfix">
	<dt> <span class="label">[Service Details] [Rates by Service]</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Service Name (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <span class="label">Guaranteed By:</span> </dt>
	<dd>8:30 A.M.</dd>
</dl>
<p>Thursday February 4, 2010</p>
<div class="clear"></div>
{{/if}}
{{#if import_control_pretable}}
<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Express Plus<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>(This is a zone 6 shipment.)</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <span class="label">Guaranteed By:</span> </dt>
	<dd>8:30 A.M.</dd>
</dl>
<p>Thursday February 4, 2010</p>
<div class="clear"></div>
<div class="floatEnd">
	<p>(Displaying 1-3 of XX) <a href="repl_href">Previous</a> | <a href="repl_href2">Next</a></p>
</div>
<div class="clear"></div>
{{/if}}
{{#if ww_express_pretable}}
<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Worldwide Express Freight&trade;<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="flexFirst clearfix">
		<dt>
			Deliver By:
		</dt>
		<dd>	<strong>End of Day Thursday</strong></dd>
	</dl>
<div class="clear"></div>
	
<p>March 21, 2011</p>
<p><strong>Guaranteed</strong></p>
{{/if}} 
{{#if ABR_pretable}}
<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Next Day Air Early A.M. (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="flexFirst clearfix">
		<dt>
			Deliver By:
		</dt>
		<dd>	<strong>End of Day Thursday</strong></dd>
	</dl>
<div class="clear"></div>
	
<p>March 21, 2011</p>
<p><strong>Guaranteed</strong></p>
{{/if}}
{{#if ulan_pretable}}
<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Next Day Air Early A.M. (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="flexFirst clearfix">
		<dt>
			Deliver By:
		</dt>
		<dd>	<strong>End of Day Thursday</strong></dd>
	</dl>
<div class="clear"></div>
	
<p>March 21, 2011</p>
<p><strong>Guaranteed</strong></p>
{{/if}}
{{#if vat_pretable}}
<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Express Saver - Future Day Pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone</dd>
</dl>
<dl class="flexFirst clearfix">
		<dt>
			Deliver By:
		</dt>
		<dd>	<strong>End of Day Thursday</strong></dd>
	</dl>
<div class="clear"></div>
	
<p>March 21, 2011</p>
<p><strong>Guaranteed</strong></p>
{{/if}}

