---
title: ct1_tra_voi(2mul)
layout: legacy.hbs
version: v4
appID: com.ups.WebVoids
appCSS: ups.legacy_overrideVoidPortal
dir: ltr
lang: en
---
	<div id="main">
    	<h1>Void a Shipment</h1>
        <!-- Begin Application Module -->
		{{> "ct1_tra_voi(2mul)_partial" }}
        <!-- End Application Module -->
	</div>
	