@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
	input[name=selection] {
		margin-#{$default-float}: 0;
		margin-bottom: 0;
	}
	table:last-of-type td img {
		display: none;
	}
}

.ieHigh{
	#ups-fw_legacy_app_wrap{
		#main{
			form{
				select.modSelLarge::-ms-expand,
				select.modSelMedium::-ms-expand{
				visibility:hidden;
				}
			}
		}
	}
}