@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  .message.seccol6 {
    .secHead {
        h3 {
            color: $white !important;
        }
    }
  }

	img.requiredIcon {
		position: relative;
		top: -2px;
	}
}
#pickupFrom input {width:90%}