---

layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---

<div id="main">
       
       
 {{> "ct1_tra_umc_delplan_cal_day_delivery_change_examples_partial" delplan.upgrade_and_same_day_will_call}} 

</div>
