{{!--------------------------------------------
===============================================
HTML FOOTER
===============================================
---------------------------------------------}}

    <!--
    disabled because of conflicts with angular2 loading
    <script src="https://www.bing.com/api/maps/mapcontrol"></script>
    -->


    <!-- build:js assets/resources/scripts/ups.scripts.js -->
    <script src="assets/resources/scripts/plugins/ups.accordion.js"></script>
    <script src="assets/resources/scripts/plugins/ups.alerts.js"></script>
    <script src="assets/resources/scripts/plugins/ups.calendar.js"></script>
    <script src="assets/resources/scripts/plugins/ups.contentBlock.js"></script>
    <script src="assets/resources/scripts/plugins/ups.comparison.js"></script>
    <script src="assets/resources/scripts/plugins/ups.daysofop.js"></script>
    <script src="assets/resources/scripts/plugins/ups.email.js"></script>
    <script src="assets/resources/scripts/plugins/ups.featuredThree.js"></script>
    <script src="assets/resources/scripts/plugins/ups.followMe.js"></script>
    <script src="assets/resources/scripts/plugins/ups.form.js"></script>
    <script src="assets/resources/scripts/plugins/ups.list.js"></script>
    <script src="assets/resources/scripts/plugins/ups.locFinder.js"></script>
    <script src="assets/resources/scripts/plugins/ups.mainNav.js"></script>
    <script src="assets/resources/scripts/plugins/ups.manageDeliveries.js"></script>
    <script src="assets/resources/scripts/plugins/ups.mobSearch.js"></script>
    <script src="assets/resources/scripts/plugins/ups.navTools.js"></script>
    <script src="assets/resources/scripts/plugins/ups.news.js"></script>
    <script src="assets/resources/scripts/plugins/ups.pageShare.js"></script>
    <script src="assets/resources/scripts/plugins/ups.zipLookUp.js"></script>
    <script src="assets/resources/scripts/plugins/ups.parallax.js"></script>
    <script src="assets/resources/scripts/plugins/ups.quote.js"></script>
    <script src="assets/resources/scripts/plugins/ups.search.js"></script>
    <script src="assets/resources/scripts/plugins/ups.shipby.js"></script>
    <script src="assets/resources/scripts/plugins/ups.shipping.js"></script>
    <script src="assets/resources/scripts/plugins/ups.siteMap.js"></script>
    <script src="assets/resources/scripts/plugins/ups.subsection.js"></script>
    <script src="assets/resources/scripts/plugins/ups.table.js"></script>
    <script src="assets/resources/scripts/plugins/ups.tabs.js"></script>
    <script src="assets/resources/scripts/plugins/ups.trackHistory.js"></script>
    <script src="assets/resources/scripts/plugins/ups.serviceAlerts.js"></script>
    <script src="assets/resources/scripts/plugins/ups.legacyTabs.js"></script>
    <script src="assets/resources/scripts/plugins/ups.locationAPI.js"></script>
    <script src="assets/resources/scripts/plugins/ups.simpleTrack.js"></script>
    <script src="assets/resources/scripts/plugins/ups.personalize.js"></script>
    <script src="assets/resources/scripts/plugins/ups.fsc.js"></script>
    <script src="assets/resources/scripts/pluginExtended/ups.admin.secure.js"></script>
    <script src="assets/resources/scripts/pluginExtended/ups.admin.addtopic.js"></script>
    <script src="assets/resources/scripts/pluginExtended/ups.admin.ajax.js"></script>
    <script src="assets/resources/scripts/ups.legacyAppSupport.js"></script>
    <script src="assets/resources/scripts/ups.main.js"></script>
    <!--<script src="assets/resources/scripts/apps/ups.DoApp.js"></script>-->
    <!--<script src="assets/resources/scripts/apps/ups.identityApp.js"></script>-->

    <script src="assets/resources/scripts/plugins/ups.drawer.js"></script>
    <script src="assets/resources/angularjs/plugins/ups.app.js"></script>
    <!-- endbuild -->


{{#is appId "ppc"}}

    <!-- build:js assets/resources/scripts/ups.doApp.js -->
	<!--INIT-->
    <script src="assets/resources/angularjs/ups.initApp.js"></script>
    <script src="assets/resources/angularjs/Base/ups.DoApp.js"></script>

	<!--PPC-->
	<script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.login.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.edit.acc.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.contact.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.loginsettings.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.security.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.payment.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.profile.controllers.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.uta.controllers.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.locationWidget.controllers.js"></script>
    <!---Preference Controller-->
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.preferenceCtrl.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.internationalDocsCtrl.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.quantumView.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.leaveInstructionCtrl.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.myChoice.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.activationCode.controller.js"></script>
    <script src="assets/resources/angularjs/ppc/assets/angularjs/controllers/ups.ppc.addorAuthenticateaccount.controllers.js"></script>

    <!--DO-->
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DoApp.signup.controller.js"></script>
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.mychoice.controllers.js"></script>
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.myavailability.controllers.js"></script>

    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.accountOptions.controllers.js"></script>
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.choosePickupStart.controller.js"></script>
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.chooseNotification.controller.js"></script>
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.apacTaxInfo.js"></script>
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.openAccountFail.controller.js"></script>
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.choosePickupOptions.controller.js"></script>
    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DOApp.choosePickupOptions.controller.js"></script>


    <script src="assets/resources/angularjs/doa/assets/angularjs/controllers/ups.DoApp.controllers.js"></script>
    <script src="assets/resources/angularjs/Base/directives/ups.DoApp.directives.js"></script>
    <script src="assets/resources/angularjs/Base/directives/ups.DoApp.sample.directive.js"></script>
    <script src="assets/resources/angularjs/Base/directives/ups.DoApp.model.directive.js"></script>
    <script src="assets/resources/angularjs/Base/directives/ups.PPC.roundProgressBar.directive.js"></script>
    <script src="assets/resources/angularjs/Base/filters/ups.DoApp.filters.js"></script>

    <!--SERVICES-->
    <script src="assets/resources/angularjs/Base/services/ups.config.js"></script>
    <script src="assets/resources/angularjs/Base/services/ups.services.js"></script>
    <script src="assets/resources/angularjs/Base/services/ups.security.js"></script>
    <script src="assets/resources/angularjs/Base/services/ups.notification.js"></script>
    <script src="assets/resources/angularjs/Base/services/ups.payment.js"></script>
    <script src="assets/resources/angularjs/Base/services/ups.contact.js"></script>
    <script src="assets/resources/angularjs/Base/services/ups.activation.js"></script>
    <script src="assets/resources/angularjs/Base/services/ups.userInfo.js"></script>
    <!-- endbuild -->
{{/is}}

<script src="assets/resources/angularjs/Base/directives/ups.global.directives.js"></script>


{{#if appId}}
    <!--<script src="assets/resources/scripts/ups.apps-{{appId}}.js"></script>-->
    <script src="assets/resources/scripts/ups.apps_{{appId}}.js"></script>
{{/if}}

{{#if ang2}}
    <script src="assets/resources/angular/{{ang2ID}}/assets/angular/bundle.js"></script>
{{/if}}

</body>
</html>
