{{!--------------------------------------------
===============================================
HTML FOOTER
===============================================
---------------------------------------------}}


    <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

    <!-- build:js assets/resources/scripts/ups.scripts.js -->
    <script src="assets/resources/scripts/plugins/ups.accordion.js"></script>
    <script src="assets/resources/scripts/plugins/ups.alerts.js"></script>
    <script src="assets/resources/scripts/plugins/ups.calendar.js"></script>
    <script src="assets/resources/scripts/plugins/ups.comparison.js"></script>
    <script src="assets/resources/scripts/plugins/ups.daysofop.js"></script>
    <script src="assets/resources/scripts/plugins/ups.email.js"></script>
    <script src="assets/resources/scripts/plugins/ups.featuredThree.js"></script>
    <script src="assets/resources/scripts/plugins/ups.followMe.js"></script>
    <script src="assets/resources/scripts/plugins/ups.form.js"></script>
    <script src="assets/resources/scripts/plugins/ups.list.js"></script>
    <script src="assets/resources/scripts/plugins/ups.locFinder.js"></script>
    <script src="assets/resources/scripts/plugins/ups.mainNav.js"></script>
    <script src="assets/resources/scripts/plugins/ups.manageDeliveries.js"></script>
    <script src="assets/resources/scripts/plugins/ups.mobSearch.js"></script>
    <script src="assets/resources/scripts/plugins/ups.navTools.js"></script>
    <script src="assets/resources/scripts/plugins/ups.news.js"></script>
    <script src="assets/resources/scripts/plugins/ups.pageShare.js"></script>
    <script src="assets/resources/scripts/plugins/ups.zipLookUp.js"></script>
    <script src="assets/resources/scripts/plugins/ups.parallax.js"></script>
    <script src="assets/resources/scripts/plugins/ups.quote.js"></script>
    <script src="assets/resources/scripts/plugins/ups.search.js"></script>
    <script src="assets/resources/scripts/plugins/ups.shipby.js"></script>
    <script src="assets/resources/scripts/plugins/ups.shipping.js"></script>
    <script src="assets/resources/scripts/plugins/ups.siteMap.js"></script>
    <script src="assets/resources/scripts/plugins/ups.subsection.js"></script>
    <script src="assets/resources/scripts/plugins/ups.table.js"></script>
    <script src="assets/resources/scripts/plugins/ups.tabs.js"></script>
    <script src="assets/resources/scripts/plugins/ups.trackHistory.js"></script>
    <script src="assets/resources/scripts/plugins/ups.legacyTabs.js"></script>
    <script src="assets/resources/scripts/apps/Legacy_Applications/ups.legacyAppSupport.js"></script>
    <script src="assets/resources/scripts/ups.main.js"></script>
    <!-- endbuild -->

</body>
</html>
