<form action="repl_action">
					<div class="appHead clearfix">
						<h2>company custom package types</h2>
					</div>
					<div class="appBody">
						<p class="error">Error Message Placeholder</p>
						<p> create and manage your library of up to 20 custom packaging types for your clinical trials.  <strong>[delete one or more existing custom package types to allow adding a new custom package type.]</strong></p>
						<input name="Add selected" type="button" id="repl_id" class="btnlnkL plusMini" value="add new custom package type">
						<table class="dataTable full">

							<!-- Begin Row: Header Rows with vertical spacing -->

							<tr class="odd">
								<th ></th>
								<th ><span class="bold">Package Name</span></th>
								<th ><span class="bold">Dimensions<br>
									L  x W x H [in/cm]</span></th>
								<th ><span class="bold">default package<br>
									weight [lb/kg]</span></th>
								<th><a href="" class="btnlnkR helpIconR">Dry Ice Weight</a><br>
									if any [kg]</th>
								<th ><span class="bold"></span></th>
							</tr>

							<!-- End Row: Header Rows with vertical spacing -->
							<tr class="">
								<td></td>
								<td>[no clinical trials custom package types were found.]</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<!-- Begin Row: Odd Row with vertical spacing -->

							<tr class="odd">
								<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
								<td>[my frozen package 1]</td>
								<td>[00] x [00] x [00]</td>
								<td>[00]</td>
								<td>[00]</td>
								<td><a href="repl_href">edit</a><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><a href="repl_href">delete</a></td>
							</tr>
							<!-- End Row: Odd Row with vertical spacing -->

							<!-- Begin Row: Even Row with vertical spacing -->

							<tr>
								<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
								<td>[ambient package 2]</td>
								<td>[00] x [00] x [00]</td>
								<td>[00]</td>
								<td></td>
								<td><a href="repl_href">edit</a><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><a href="repl_href">delete</a></td>
							</tr>

							<!-- End Row: Even Row with vertical spacing -->

							<!-- Begin Row: Odd Row with vertical spacing -->

							<tr class="odd">
								<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
								<td>[package name 3]</td>
								<td>[00] x [00] x [00]</td>
								<td>[00]</td>
								<td></td>
								<td><a href="repl_href">edit</a><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><a href="repl_href">delete</a></td>
							</tr>

							<!-- End Row: Odd Row with vertical spacing -->
							<!-- Begin Row: Even Row with vertical spacing -->

							<tr>
								<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
								<td>[refrigerated package 4]</td>
								<td>[00] x [00] x [00]</td>
								<td>[00]</td>
								<td>[00]</td>
								<td><a href="repl_href">edit</a><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><a href="repl_href">delete</a></td>
							</tr>

							<!-- End Row: Even Row with vertical spacing -->

						</table>
						<input name="delete selected" type="button" id="repl_id" class="btnlnkL crossMini" value="delete selected package type(s)">
					</div>
					<div class="appFooter step">
						<div class="btnBar">
							<input name="" type="button" value="cancel" class="btn">
							<input name="" type="button" value="done" class="btn">
						</div>
					</div>
				</form>
