
<!-- /////// -->
{{#if default}}
<!-- Default -->
<div id="pnl_1_1">
<p><span class="label">Thank you.  Your shipping ticket has been processed and must be used by mm/dd/yyyy</span></p>
<div class="subcol12 marginBegin clearfix">
  <div class="secLvl step clearfix">
    <div class="secHead clearfix">
      <h4>getting your package to ups</h4>
    </div>
    <div class="secBody group"> <br>
      <p>print this page (or show the email copy we sent you) and bring it with your package to a ups access point&trade; location.</p>
      <div class="alignCenter">
        <input type="button" class="btn" value="find a ups access point&trade; location">
      </div>
    </div>
  </div>
  <div class="secLvl step clearfix">
    <div class="secHead clearfix">
      <h4>shipment information</h4>
    </div>
    <div class="secBody group"> <br>
      <dl class="outHozFixed clearfix">
        <dt><span class="label">Shipping Ticket ID:</span></dt>
        <dd>123ABC</dd>
        <dt><span class="label">Shipping Ticket Expiration Date:</span></dt>
        <dd>mm/dd/yyyy</dd>
        <dt><span class="label">Number of Packages:</span></dt>
        <dd>nn</dd>
        <dt><span class="label">Shipment Total Weight:</span></dt>
        <dd>nnn.nn lbs</dd>
        <dt><span class="label">Ship To:</span></dt>
        <dd> [Contact Name]<br>
          [Company Name]<br>
          [Address 1]<br>
          [City], [state],[zip code]<br>
          [Country or Territory]<br>
          Telephone: [number]<br>
          Fax:  [number] </dd>
      </dl>
      <dl class="outHozFixed totals clearfix">
        <dt>estimated total cost:</dt>
        <dd>nn.nn EUR</dd>
      </dl>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="subcol6 marginEnd alignCenter clearfix"> <img alt="repl_alt" src="/img/fpo.gif" width="175px" height="175px"> </div>
<div class="clear"></div>
<p><strong>note:</strong> the final shipment cost may vary.  the final charges will be determined when you complete the shipping transaction at the ups access point&trade; location.</p>
</div>
{{/if}}

<!-- //////////////// --> 
<!-- Negotiated Rates -->
{{#if negotiated_rates}}
<div id="pnl_1_2">
<p><span class="label">Thank you.  Your shipping ticket has been processed and must be used by mm/dd/yyyy</span></p>
<div class="subcol12 marginBegin clearfix">
  <div class="secLvl step clearfix">
    <div class="secHead clearfix">
      <h4>getting your package to ups</h4>
    </div>
    <div class="secBody group"> <br>
      <p>print this page (or show the email copy we sent you) and bring it with your package to a ups access point&trade; location.</p>
      <div class="alignCenter">
        <input type="button" class="btn" value="find a ups access point&trade; location">
      </div>
    </div>
  </div>
  <div class="secLvl step clearfix">
    <div class="secHead clearfix">
      <h4>shipment information</h4>
    </div>
    <div class="secBody group"> <br>
      <dl class="outHozFixed clearfix">
        <dt><span class="label">Shipping Ticket ID:</span></dt>
        <dd>123ABC</dd>
        <dt><span class="label">Shipping Ticket Expiration Date:</span></dt>
        <dd>mm/dd/yyyy</dd>
        <dt><span class="label">Number of Packages:</span></dt>
        <dd>nn</dd>
        <dt><span class="label">Shipment Total Weight:</span></dt>
        <dd>nnn.nn lbs</dd>
        <dt><span class="label">Ship To:</span></dt>
        <dd> [Contact Name]<br>
          [Company Name]<br>
          [Address 1]<br>
          [City], [state],[zip code]<br>
          [Country or Territory]<br>
          Telephone: [number]<br>
          Fax:  [number] </dd>
      </dl>
      <dl class="outHozFixed totals clearfix">
        <dt>estimated total cost:</dt>
        <dd>nn.nn EUR</dd>
        <dt>negotiated total:</dt>
        <dd>nn.nn EUR</dd>
      </dl>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="subcol6 marginEnd alignCenter clearfix"> <img alt="repl_alt" src="/img/fpo.gif" width="175px" height="175px"> </div>
<div class="clear"></div>
<p><strong>note:</strong> the final shipment cost may vary.  the final charges will be determined when you complete the shipping transaction at the ups access point&trade; location.</p>
</div>
{{/if}}

<!-- ////////////////// -->
{{#if promo_code}}
<!-- Promo Code Applied -->
<div id="pnl_1_3">
<p><span class="label">Thank you.  Your shipping ticket has been processed and must be used by mm/dd/yyyy</span></p>
<div class="subcol12 marginBegin clearfix">
  <div class="secLvl step clearfix">
    <div class="secHead clearfix">
      <h4>getting your package to ups</h4>
    </div>
    <div class="secBody group"> <br>
      <p>print this page (or show the email copy we sent you) and bring it with your package to a ups access point&trade; location.</p>
      <div class="alignCenter">
        <input type="button" class="btn" value="find a ups access point&trade; location">
      </div>
    </div>
  </div>
  <div class="secLvl step clearfix">
    <div class="secHead clearfix">
      <h4>shipment information</h4>
    </div>
    <div class="secBody group"> <br>
      <dl class="outHozFixed clearfix">
        <dt><span class="label">Shipping Ticket ID:</span></dt>
        <dd>123ABC</dd>
        <dt><span class="label">Shipping Ticket Expiration Date:</span></dt>
        <dd>mm/dd/yyyy</dd>
        <dt><span class="label">Number of Packages:</span></dt>
        <dd>nn</dd>
        <dt><span class="label">Shipment Total Weight:</span></dt>
        <dd>nnn.nn lbs</dd>
        <dt><span class="label">Ship To:</span></dt>
        <dd> [Contact Name]<br>
          [Company Name]<br>
          [Address 1]<br>
          [City], [state],[zip code]<br>
          [Country or Territory]<br>
          Telephone: [number]<br>
          Fax:  [number] </dd>
      </dl>
      <dl class="outHozFixed totals clearfix">
        <dt>promotion code:</dt>
        <dd>SHIPTOUS48</dd>
      </dl>
      <div class="cmsMsg"> 
        <!-- BEGIN CMS CONTENT --> 
        <!-- replace with SSI to fragment file -->
        <p>receive 40% off a ground shipment before mm/dd/yyyy.</p>
        <p><a href="../../shipping/repl_href" target="_blank">read promotion terms and conditions</a></p>
        <!-- END CMS CONTENT --> 
      </div>
      <dl class="outHozFixed totals clearfix">
        <dt>estimated total cost:</dt>
        <dd>nn.nn EUR</dd>
        <dt>discounted total:</dt>
        <dd>nn.nn EUR</dd>
      </dl>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="subcol6 marginEnd alignCenter clearfix"> <img alt="repl_alt" src="/img/fpo.gif" width="175px" height="175px"> </div>
<div class="clear"></div>
<p><strong>note:</strong> the final shipment cost may vary.  the final charges will be determined when you complete the shipping transaction at the ups access point&trade; location.</p>
</div>
{{/if}}

<!-- /////// --> 
{{#if printed}}
<!-- Printed -->
<div id="pnl_1_4">
<p><span class="label">Thank you.  Your shipping ticket has been processed and must be used by mm/dd/yyyy</span></p>
<div class="subcol12 marginBegin clearfix">
  <div class="secLvl step clearfix">
    <div class="secHead clearfix">
      <h4>shipment information</h4>
    </div>
    <div class="secBody group"> <br>
      <dl class="outHozFixed clearfix">
        <dt><span class="label">Shipping Ticket ID:</span></dt>
        <dd>123ABC</dd>
        <dt><span class="label">Shipping Ticket Expiration Date:</span></dt>
        <dd>mm/dd/yyyy</dd>
        <dt><span class="label">Number of Packages:</span></dt>
        <dd>nn</dd>
        <dt><span class="label">Shipment Total Weight:</span></dt>
        <dd>nnn.nn lbs</dd>
        <dt><span class="label">Ship To:</span></dt>
        <dd> [Contact Name]<br>
          [Company Name]<br>
          [Address 1]<br>
          [City], [state],[zip code]<br>
          [Country or Territory]<br>
          Telephone: [number]<br>
          Fax:  [number] </dd>
      </dl>
      <dl class="outHozFixed totals clearfix">
        <dt>estimated total cost:</dt>
        <dd>nn.nn EUR</dd>
      </dl>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="subcol6 marginEnd alignCenter clearfix"> <img alt="repl_alt" src="/img/fpo.gif" width="175px" height="175px"> </div>
<div class="clear"></div>
<p><strong>note:</strong> the final shipment cost may vary.  the final charges will be determined when you complete the shipping transaction at the ups access point&trade; location.</p>
</div>
{{/if}}

<!-- ////////////////////// --> 
{{#if eu_ca_me}}
<!-- Europe, Canada, Mexico -->
<div id="pnl_1_5">
<p><span class="label">Thank you.  Your shipping ticket has been processed and must be used by mm/dd/yyyy</span></p>
<p>To complete your shipment, you can print this page and bring it with your package to a UPS Access Point location.  Alternately, you can show the e-mail version of this shipping ticket that has been sent to the e-mail address shown below.</p>
<div class="group clearfix">
  <input name="repl_name" type="button" id="repl_id" value="find a nearby ups access point&trade;" class="btn">
</div>
<div class="subcol12 marginBegin clearfix">
  <dl class="outHozFixed">
    <dt><span class="label">Shipping Ticket ID:</span></dt>
    <dd>123ABC</dd>
  </dl>
  <div class="clear"></div>
  <dl class="outHozFixed">
    <dt><span class="label">Shipping Ticket Expiration Date:</span></dt>
    <dd>mm/dd/yyyy</dd>
  </dl>
  <dl class="outHozFixed">
    <dt><span class="label">Number of Packages:</span></dt>
    <dd>nn</dd>
  </dl>
  <dl class="outHozFixed">
    <dt><span class="label">Shipment Total Weight:</span></dt>
    <dd>nnn.nn lbs</dd>
  </dl>
  <dl class="outHozFixed">
    <dt><span class="label">Ship To:</span></dt>
    <dd> [Contact Name]<br>
      [Company Name]<br>
      [Address 1]<br>
      [City], [state],[zip code]<br>
      [Country or Territory]<br>
      Telephone: [number]<br>
      Fax:  [number] </dd>
  </dl>
</div>
<!--Barcode image begin-->
<div class="subcol6 marginEnd alignCenter clearfix"> <img alt="" src="/img/fpo.gif"> </div>

<!--Barcode image End-->

<div class="clear"></div>
<br>
<dl class="outHozFixed">
  <dt><span class="label">Promotion Code:</span></dt>
  <dd>SHIPTOUS48</dd>
</dl>
<br>
<div class="cmsMsg"> 
  <!-- BEGIN CMS FRAGMENT --> 
  <!-- REPLACE WITH SSI CALL -->
  <p>Receive 40% off a ground shipment within the continental United States.</p>
  <p><a href="">read promotion terms and conditions</a></p>
  <!-- END CMS FRAGMENT --> 
</div>
<dl class="outHozFixed clearfix">
  <dt><span class="label">{Estimated Total Cost:}</span></dt>
  <dd>nnn.nn cur</dd>
  <dt><span class="label">{Negotiated Estimated Total Cost:}</span></dt>
  <dd>nnn.nn cur</dd>
</dl>
<dl class="outHozFixed clearfix">
  <dt><span class="label">{Total UPS Charges}</span></dt>
  <dd>nnn.nn cur</dd>
  <dt>{Tax 1}</dt>
  <dd>nnn.nn cur</dd>
  <dt>{Tax 2}</dt>
  <dd>nnn.nn cur</dd>
  <dt>{Tax 3}</dt>
  <dd>nnn.nn cur</dd>
</dl>
<dl class="outHozFixed totals clearfix">
  <dt><span class="label">Total Charges</span></dt>
  <dd>nnn.nn cur</dd>
</dl>
<div class="clear"></div>
<p>Pickup Charges: {1507 disclaimer placeholder}</p>
<p>Transportation Charges: {1507 disclaimer placeholder}</p>
<p><strong>note:</strong>the final shipment cost may vary.  the final charges will be determinded when you complete the shipping transaction at the UPS Access Point location.</p>
<div class="hr"> <img src="/img/1.gif" alt="" width="1" height="1" border="0"> </div>
<dl class="outHozFixed clearfix">
  <dt><span class="label">Email Shipping Ticket To:</span></dt>
  <dd>jsmith@email.com</dd>
</dl>
<div class="clear"></div>
</div>
{{/if}}