---
title: Returns Administration Portal (RAP)
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>

{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.rap}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/02/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>[RAP] JIRA UPSO-2944 </strong> Merchant Plugin View | Merchant Plugin Create New Plugin Policy (customized views)</li>
                            <li><strong>[RAP] JIRA UPSO-2945</strong> Merchant Plugin View | Merchant Plugin Create New Plugin Returning User</li>
                            <li><strong>[RAP] JIRA UPSO-2946</strong> Merchant Plugin View | Merchant Plugin Product List</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/23/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>[RAP] JIRA UPSO-2940 </strong> Portal Items | Returns Policies: Universal Return Rules</li>
                            <li><strong>[RAP] JIRA UPSO-2941</strong> Merchant Plugin View | Merchant Plugin Landing Page: First time user sees "Create New Plugin"</li>
                            <li><strong>[RAP] JIRA UPSO-2942</strong> Merchant Plugin View | Merchant Plugin Create & Name Your New Plugin</li>
                            <li><strong>[RAP] JIRA UPSO-2943</strong>Merchant Plugin View | Merchant Plugin Create New Plugin Policy</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/09/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP] JIRA UPSO-2938 Portal Items | Admin: Accounts Section (Account Management)</li>
                            <li>[RAP] JIRA UPSO-2939 Portal Items | Returns Policies: Shipping & Billing Section</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/19/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>[RAP] JIRA UPSO-751</strong> Add Analytics section to Create Report</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/12/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>[RAP] JIRA UPSO-794</strong> Create Email Modals on Report Preview Page</li>
                            <li><strong>[RAP] JIRA UPSO-808</strong> Add Transborder section to Shipping and Billing Section</li>
                            <li><strong>[RAP] JIRA UPSO-765</strong> Add Return Slip Drawer to Return Policy Panel</li>
                            <li><strong>[RAP] JIRA UPSO-822</strong> Add Search Input & Filter Checkboxes</li>
                            <li><strong>[RAP] JIRA UPSO-737</strong> Move Size Lever from Additional Shipping Drawer to Customer Feedback Drawer</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/05/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP] TFS: 527636 - Ineligible Returns Updates</li>
                            <li>[RAP] TFS: 538027 - Change Report Preview Modal to Page</li>
                            <li>[RAP] TFS: 537962 - Add Filter Dropdown to Returns History page</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/01/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP/Global] TFS: 489765 - Created a Disabled Version of A05 Switch - Toggle for the View Only Returns Panel </li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP] TFS: 499926 - Ineligible Returns Update </li>
                            <li>[RAP] Added PopupService to app.ts file for DatePicker</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/27/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP] TFS: 470862 - Correct highlighting in pagination in RAP </li>
                            <li>[RAP] Placed the side navigation menu in a <code>nav</code> tag for accessibility</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP] TFS: 473433 - View Policy User Permission - Add a View Only Option </li>
                            <li>[RAP] Added IE fix to help with routing</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/13/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP] TFS: 473416 - Edit User - Remove User ID field, Update Subheader Copy, Moved Email input underneath Name field </li>
                            <li>[RAP] TFS: 473404 - Invite User - Add User ID field, Provided Alternative Error Message, Updated Copy underneath subheader</li>
                            <li>[RAP] TFS: 473439 - Current Users &amp; Permissions - Change Delete button to Remove button</li>
                            <li>[RAP] TFS: 473442 - Current Users &amp; Permissions - Created the Remove Users Permissions Modal
                            </li>
                            <li>[RAP] TFS: 473450 - Current Users &amp; Permissions/Create User - Updated the CTA on Current Users &amp; Permissiosn; Created the "Create User" Page
                            </li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/06/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP] TFS: 451881 - Switch MRAP modals from jQuery to Angular 2/4 Modals</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/11/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DatePicker Implemented on Create Report Screen; Full DatePicker Implementation is dependent on IS approval from App Team</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/02/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build: Fix scrolling issue on Returns Policy Panel</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/14/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #410171 7702 vHTML Returns - CSS issue with Returns Policy panel (Policy Settings)</li>
                            <li>Make Ineligible Returns Search Input Required</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/12/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #407066 7702 vHTML Updates (Portal) - Sprint 5: Adding Edit and Delete Policy Flow</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #399832 7702 vHTML Updates (Portal) - Made changes to Return Policies and added Home Page, Ineligible Returns, and Create Report; Redesigned side panel based on secondary navigation</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/23/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #371278 7702 vHTML Updates (Portal) - Made changes to Return Policies and added Administration Panel</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/09/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #371278 7702 Updated MRAP and Admin Portal Apps vHTML - Returns History Panel</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/02/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #382704 7702 Updated Returns Admin Portal vHTML</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/14/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added Initial Pages</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
