---
title: cam_adm_loc_sea(2det)_sea(1add)
layout: legacy.hbs
version: v4
appID: com.ups.csadmin
appCSS: ups.legacy_overrideECSAdmin
dir: rtl
lang: ar
---

		<!-- /main begin -->
		<div id="main">
			{{>"cam_adm_loc_sea(2det)_sea(1add)_partial"}}
		</div>
		<!-- /main end -->
