<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<h1 id="repl_id">My Settings</h1>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
	 	Access your personal user settings: edit your profile information, change your password, and set your shipping preferences.
		<br><br>
		You may also access your available address books.
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- begin profile and preference settings module -->
	<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
			<td width="49%" scope="row">

						<!-- begin module title -->
						<span class="whiteBoldHead">Profile and Preference Settings</span>
						<!-- end module title -->

			</td>
			<td width="49%" scope="row">

						<!-- begin module navigation -->
						&nbsp;<!-- <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div> -->
						<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin left content column -->
			<span class="modsubheader">UPS CampusShip Profile Information</span>
			<br>


<!-- ///////////////// -->
<!-- begin My Settings -->
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Edit Login Settings</a></div>
<!-- end My Settings -->
<!-- /////////////// -->


			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Edit User Profile</a></div>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Change Password</a></div>

			<!-- end left content column -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin right content column -->
			<span class="modsubheader">Shipping Preferences Settings</span>
			<br>
			<!-- <div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Edit Ship From Address</a></div> -->
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Edit Shipping Preferences</a></div>
			<!-- <div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Edit Shipper Export Declaration (SED) Preferences</a></div> -->
			<!-- end right content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
	</table>
	<!-- end profile and preference settings module -->

	<br>

	<!-- begin address books module -->
	<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">Address Books</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="3"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="98%">

			<!-- begin content column -->
			Access and modify your address books here. Some functions may display only if the administrator has allowed that privilege. <!-- Conditional test if no address books [You currently have no address books authorized. For more information, please contact your UPS CampusShip Company Administrator.] -->
			<!-- end content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin left content column -->
			<span class="modsubheader">Corporate Address Book</span>
			<br>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Search Corporate Address Book</a></div>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Create New Address</a></div>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Distribution Lists</a></div>
            <div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Import Addresses</a></div>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Export Addresses</a></div>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Manage Address Groups</a></div>
			<br>
			<!-- end left content column -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin right content column -->
			<span class="modsubheader">My UPS Address Book</span>
			<br>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Search My UPS Address Book</a></div>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Create New Address</a></div>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Distribution Lists</a></div>
            <div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Import Addresses</a></div>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Export Addresses</a></div>
			<!-- end right content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
	</table>
	<!-- end address books module -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
