<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
    <td class="pi-h1" valign="top">UPS TradeAbility International Tools</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
    <td valign="top" width="422">

    <!-- Begin Table: Module Table (Parent:Formatting Table) -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="pi-mA1-t" valign="top">

        <!-- Begin Table: Module Title (Parent:Module Table) -->
        <table border="0" cellpadding="0" cellspacing="0" width="422">
        <tr>
            <td class="pi-m-txt-title">UPS TradeAbility Language Alert</td>
        </tr>
        </table>
        <!-- End Table: Module Title (Parent:Module Table) -->

        </td>
    </tr>
    <tr>
        <td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
    </tr>
    <tr>
        <td class="pi-mA1-c" valign="top">

        <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td><div class="pi-m-pad">
            Please note that all TradeAbility<SUP><FONT SIZE="-1">TM</FONT></SUP> International Tools and associated help content are available in English only at this time.
            <br><br>
            With TradeAbility, you can reduce the risks of shipping internationally, improve global supply chains, and decrease operating expenses by managing the movement of goods in a timely, efficient, and compliant manner.
            <br><br>
            TradeAbility services include:
            <ul>
                <li><span class="pi-h4">Denied Party Screener</span> - Search for restricted trading partners and embargoed countries or territories.</li>
                <li><span class="pi-h4">Harmonizer</span> - Quickly and accurately identify and apply a product's harmonized tariff code.</li>
                <li><span class="pi-h4">Landed Cost</span> - Estimate the cost to move a shipment across borders, including duties, taxes, and transportation charges.</li>
                <li><span class="pi-h4">Export Licenses</span> - Ensure that your shipment is in compliance with U.S. export regulations, procedures, tariffs and laws.</li>
                <li><span class="pi-h4">Import Compliance</span> - Ensure that your shipment is in compliance with country-specific or territory-specific regulations, procedures, tariffs and laws.</li>
                <li><span class="pi-h4">International Forms</span> - Browse a library of online and downloadable documentation for both export and import shipments.</li>
            </ul>
            <br>
            To keep from seeing this message in the future, please select the option below. <br>
            <input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue" id="repl_checkbox1">&nbsp;<label for="repl_checkbox1" class="sel">Do not show me this language alert again.</label><br>
            </div></td>
        </tr>
        </table>
        <!-- End Table: Functional Table 2 (Parent:Module Table) -->

        </td>
    </tr>
    <tr>
        <td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
    </tr>
    <tr>
        <td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
    </tr>
    <tr>
        <td class="pi-mA1-b" valign="top">

        <!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
        <table border="0" cellpadding="0" cellspacing="0" width="422">
        <tr>
            <td class="pi-m-button" nowrap>
                <input value="Cancel" type="button" class="btn">
                <input value="Next" type="button" class="btnArw">
            </td>
        </tr>
        </table>
        <!-- End Table: Form Control Buttons(Parent:Module Table) -->

        </td>
    </tr>
    </table>
    <!-- End Table: Module Table (Parent:Formatting Table) -->

    </td>
    <td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
    <td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>
