---
title: Internet Pickup
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>
{{> ts_rr_start}}
	{{> M22_accordion_list legacy_landing_pages.internet_pickup}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <!-- ///////////////////////////////////////////////////////// -->
                <!-- ///////////////////////////////////////////////////////// -->
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/18/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_Internet_Pickup_1801a_vA1.0</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/18/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_Internet_Pickup_1801a_vA1.0</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/08/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_Internet_Pickup_1801a_vA1.0</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
                     <button class="ups-accordion_toggle">05/26/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                     <div class="ups-accordion_expand">
                         <ul>
                             <li>Internet Pickup (IP) - reskin, TFS: [341258, 341274, 341263, 351056, 341261]</li>
                         </ul>
                     </div>
                </li>
			    <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">05/05/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>Intenet Pickup - Reskin, TFS: [341265]</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">04/28/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>Internet Pickup - Reskin (1sch)_his(1lis), TFS: [341230]</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">04/24/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>Reskin - completed pages
                                <ul>
                                    <li>ct1_shi_ftc(30ty)</li>
                                    <li>ct1_shi_pic(3cfl)</li>
                                    <li>ct1_shi_pic(4col)</li>
                                    <li>ct1_shi_pic(1sch)_sta(3mo2)</li>
                                    <li>ct1_shi_pic_dlg_alert</li>
                                    <li>ct1_shi_pic_dlg_last50</li>
                                    <li>ct1_shi_pic(5ver)_sta(1err)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                 </li>
                  <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/14/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Reskin - completed pages
                                <ul>
                                    <li>ct1_shi_pic(1sch)</li>
                                </ul>
                            </li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Reskin - completed pages
                                <ul>
                                    <li>ct1_shi_pic(2inf)</li>
                                </ul>
                            </li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/06/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Spec update Av1.0</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/26/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>ct1_shi_pic(1sch) added</li>
                            <li>ct1_shi_pic(5ver) added</li>
                            <li>ct1_shi_pic(6com) added</li>
                            <li>ct1_shi_pic(1schd)_sta(2res) added</li>
                            <li>ct1_shi_pic(3pic) added</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
