<form action="repl_fname">
	
	<!-- Begin Application Module -->
	<div class="appLvl col18 mod">
		<fieldset>
			<!-- Begin Application Header -->
			<div class="appHead clearfix">
				<h2>{application header}</h2>
				<ul>
					<li><a href="repl_href" class="btnlnkR helpIconR">{help link text}</a></li>
				</ul>
			</div>
			<!-- End Application Header --> 
			
			<!-- Begin Application Body -->
			<div class="appBody clearfix"> 
				
				<!-- Begin Section Module -->
				<div class="secLvl clearfix">
					<fieldset>
						<!-- Begin Section Header --><!-- End Section Header --> 
						
						<!-- Begin Section Body -->
						<div class="secBody clearfix">
							<p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.</p>
							<p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.</p>
							<p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							<select>
								<option>item1</option>
							</select>
							<p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.</p>
							<p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.</p>
							<p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							<p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.</p>
							<p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.</p>
							<p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							<p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.</p>
							<p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.</p>
							<p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							<p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.</p>
							<p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.</p>
							<p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
						</div>
						<!-- End Section Body --> 
						
						<!-- Begin Section Footer --><!-- End Section Footer -->
					</fieldset>
				</div>
				<!-- End Section Module --> 
				
			</div>
			<!-- End Application Body --> 
			
			<!-- Begin Application Footer --><!-- End Application Footer -->
		</fieldset>
	</div>
	<!-- End Application Module -->
	
</form>
<!-- Begin Application Module -->
<div class="appLvl  mod modal dialog clearfix">
	<fieldset>
		<!-- Begin Application Header -->
		<div class="appHead clearfix">
			<h2>Shipping Notice</h2>
			<ul class="clearfix">
				<li>
					<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
				</li>
			</ul>
		</div>
		<!-- End Application Header --> 
		<!-- Begin Application Body -->
		<div class="appBody clearfix">
			<p>If you continue to shipping you may be required to re-enter some of your information.</p>
		</div>
		<!-- End Application Body --> 
		<!-- Begin Application Footer -->
		<div class="appFooter"> 
			<!-- Begin Button Bar Row -->
			<div class="btnBar alignCenter">
				<input name="" type="button" value="Back" class="btn">
				<input name="" type="button" value="Continue Shipping" class="btn">
			</div>
			<!-- End Button Bar Row --> 
		</div>
		<!-- End Application Footer -->
	</fieldset>
</div>
<!-- End Application Module --> 
