<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Access International Forms</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="422">
	<tr>
		<td class="pi-m-txt-title">International Forms Options&nbsp;&nbsp;<span class="pi-m-txt-title-normal"></span></td>
		<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
	</tr>
	</table>
	<!-- End Table: Module Title (Parent:Module Table) -->

	</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">
		<div class="modulepad">
		UPS TradeAbility&#0153; offers a variety of forms for your international shipments. You can complete some forms online or browse the library of downloadable documents.
		<br><br>
		The following forms can be completed online. Supply shipment information once and apply it to multiple forms as needed.
		<br><br>
		<ul>
		<li>Invoice</li>
		<li>U.S. Shipper's Export Declaration</li>
		<li>U.S. Certificate of Origin</li>
		<li>NAFTA Certificate of Origin</li>
		</ul>
		<br>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><img alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"></td>
			<td><input alt="Complete Forms Online" border="0" height="14" name="repl_fname" src="/img/en/btn_lnk_comp_forms_online.gif" type="image" width="134"></td>
		</tr>
		</table>
		<br>
		You can also view forms in the library of shipping documents, then open, download, save, or print a selected document.<br>
		<br>
		<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">View Forms Library</a>
		</div>
		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134">

	<!-- Begin Table: Support Module (Parent:Formatting Table) -->
	<table class="pi-mB1" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mB1-t">Related Solutions</td>
	</tr>
	<tr>
		<td class="pi-mB1-c" valign="top">
		Use <span class="pi-h4">Global Advisor</span> to access general information about country or territory regulations and shipping internationally with UPS.<br><br>
		<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Review Country or Territory Regulations</a></div>
		<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Learn about Shipping Internationally</a></div>
		</td>
	</tr>
	<tr>
		<td class="pi-mB1-b" valign="top"><img alt="" height="3" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Support Module (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>
