---
title: ct1_shi_tnc_dlg_multiplelocationmatch
layout: legacy.hbs
version: v4
appID: com.ups.wwdt
appCSS: ups.legacy_overrideCTC
dynpnls: yes
dir: rtl
lang: en
---

<div id="main">
	
		{{>"ct1_shi_tnc_dlg_multiplelocationmatch_partial" ct1_shi_tnc_dlg_multiplelocationmatch.default}}
</div>