{{! DOES NOT SEEM TO BE USED IN v4 CODE}}
{{#if delivery_change_requested}}
<dl role="presentation">
	<dt> <span class="label">delivery change requested:</span> </dt>
	<!-- // Leave With Neighbor/Deliver to Another Address/UPS Retail/Reschedule/Return/C.O.D./Existing Request with New Pending Request //-->
	<dd>leave with neighbor - the driver will deliver your shipment to the address your requested.</dd>

	<!-- // Will Call or SameDay Will Call //-->
	<dd>will call - <a href="repl_href">view pickup location information</a></dd>
	<dd>same day will call - <a href="repl_href">view pickup location information</a></dd>

	<!-- // Delivery Change Requested //-->
	<dd>delivery to another address - the driver will deliver your shipment to the address you requested.</dd>

	<!-- // Delivery Change Requested //-->
	<dd>delivery to another address - the driver will deliver your shipment to the UPS retail location you requested.</dd>

	<!-- // Delivery Change Requested //-->
	<dd>rescheduled delivery - the scheduled delivery date has been updated.</dd>

	<!-- // Delivery Change Requested //-->
	<dd>return to sender</dd>
</dl>
{{/if}}

{{#if existing_request_with_new_pending_request}}
	<p><strong>note:</strong> there is an additional existing pending delivery change request (same day will call) that has not yet been applied to this shipment. The shipment information will be updated when that delivery change request.</p>
	<dl role="presentation">
		<dt> <span class="label">Received By:</span> </dt>
		<dd>obrian authorized release of this shipment.
			<div> <img alt="signature" src="/img_fpo/signature/fpo_signature3.gif" width="243" height="44"> </div>
		</dd>
	</dl>
	<p><a href="repl_href" class="btnlnkR newWindowIconR">proof of delivery</a></p>
	<dl role="presentation">
		<dt><span class="label">pick up package by:</span></dt>
		<dd>thursday, mm/dd/yyyy</dd>
	</dl>
	<dl role="presentation">
		<dt><span class="label">store location:</span></dt>
		<dd> the ups store<br>
			4321 hill street, suite a<br>
			roswell, ga, us 30076<br>
			Tel: 770-123-4567<br>
			store@email.com </dd>
	</dl>
	<p><a href="repl_href" class="btnlnkL plusMini">Show Location Information</a></p>

	<dl role="presentation">
		<dt></dt>
		<dd> <img src="repl_barcode" alt="Replace Place Holder with Code Bar" width="300" height="75"> </dd>
	</dl>
	<p> To pick up your package from the UPS Access Point<sup>TM</sup> Parcel locker you will need either your InfoNotice,
		Delivery Notification, or Tracking NUmber, and your government issued ID (e.g. Driver's License) or mobile phone. </p>
	<a href="repl_href"  >Show Location Information and Pickup Instruction</a>
{{/if}}
