
<div class="panel panel-default"><!-- add "tableonly" class if only one table in secBody-->
    <!-- Begin Section Header -->
    <div id="collapse3" class="panel-heading">
        <span class="btnlnkL collapseIcon" aria-hidden="true"></span>Shipment Progress
    </div>
    <!-- End Section Header -->
    <!-- Begin Section Body -->
    <div class="panel-body">
        

        {{#if shipment_progress_default}}
           <!--Shipment Progress - Default -->
        	<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
        		<tr>
        			<th scope="col">Location</th>
        			<th scope="col">Date</th>
        			<th scope="col">Local Time</th>
        			<th scope="col" class="full">Activity (<a href="" class="btnlnkR helpIconR">What's This?</a>)</th>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Louisville, KY, US</td>
        			<td class="nowrap">10/08/2010</td>
        			<td class="nowrap">12:10 A.M.</td>
        			<td>The shipment has departed.</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Summary status information goes here..</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Summary status information goes here..</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Summary status information goes here..</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">city, country (co) or territory</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Summary status information goes here..</td>
        		</tr>
        	</table>
        {{/if}}
        {{#if shipment_progress_delivered_to_ups_retail}}
           <!-- Shipment Progress - Delivered to UPS Retail -->
        	<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
        		<tr>
        			<th scope="col">Location</th>
        			<th scope="col">Date</th>
        			<th scope="col">Local Time</th>
        			<th scope="col" class="full">Activity (<a href="" class="btnlnkR helpIconR">What's This?</a>)</th>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Louisville, KY, US</td>
        			<td class="nowrap">10/08/2010</td>
        			<td class="nowrap">12:10 A.M.</td>
        			<td> Delivered to UPS Retail Location <br>
        				<a href="repl_href" class="btnlnkR newWindowIconR">Proof of Delivery</a></td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Summary status information goes here..</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Summary status information goes here..</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Summary status information goes here..</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">city, country (co) or territory</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Summary status information goes here..</td>
        		</tr>
        	</table>
        {{/if}}
        {{#if shipment_progress_mail_innovations}}
           <!-- Shipment Progress - Mail Innovations -->
        	<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
        		<tr>
        			<th scope="col">Location</th>
        			<th scope="col">Date</th>
        			<th scope="col">Local Time</th>
        			<th scope="col" class="full">Activity (<a href="" class="btnlnkR helpIconR">What's This?</a>)</th>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Louisville, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">12:10 A.M.</td>
        			<td>Delivered</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Out for Delivery</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Lexington, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Lexington, KY, US</td>
        			<td class="nowrap">05/03/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Harrisburg, PA, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/03/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/03/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/02/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Pickup Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/02/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>At Local Post Office</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">US</td>
        			<td class="nowrap">04/09/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Order Processed: Ready for UPS</td>
        		</tr>
        	</table>
        {{/if}}
        {{#if shipment_progress_brokerage_events}}

            <p><strong>Next Scheduled Event:</strong> Monday, mm/dd/yyyy, by hh:mm [A.M./P.M.]</p>

           <!-- Shipment Progress - Brokerage Events -->
        	<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
        		<tr>
        			<th scope="col">Location</th>
        			<th scope="col">Date</th>
        			<th scope="col">Local Time</th>
        			<th scope="col" class="full">Activity (<a href="" class="btnlnkR helpIconR">What's This?</a>)</th>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Louisville, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">12:10 A.M.</td>
        			<td>Delivered</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Louisville, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Out for Delivery</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Package data processed by brokerage. Waiting for clearance. Released. Now in-transit for delivery.</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Registered with Clearing Agency.</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Lexington, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Lexington, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Harrisburg, PA, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/03/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Package data processed by brokerage. Waiting for clearance</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/03/2013</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Registered with Clearing Agency. Shipment submitted to clearing agency.</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/02/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/02/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/02/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Origin Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/02/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Pickup Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">US</td>
        			<td class="nowrap">04/09/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Order Processed: Ready for UPS</td>
        		</tr>
        	</table>
        {{/if}}
        {{#if shipment_progress_directship_or_dropship}}
            
            <p><strong>Next Scheduled Event:</strong> Monday, mm/dd/yyyy, by hh:mm [A.M./P.M.]</p>

           <!-- Shipment Progress - directship or dropship -->
        	<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
        		<tr>
        			<th scope="col">Location</th>
        			<th scope="col">Date</th>
        			<th scope="col">Local Time</th>
        			<th scope="col" class="full">Activity (<a href="" class="btnlnkR helpIconR">What's This?</a>)</th>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Louisville, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">12:10 A.M.</td>
        			<td>Delivered</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Out for Delivery</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Lexington, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Lexington, KY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Harrisburg, PA, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">&nbsp;</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Arrival Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Departure Scan</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Pickup Scan</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">Uniondale, NY, US</td>
        			<td class="nowrap">05/04/2013</td>
        			<td class="nowrap">hh:mm A.M.</td>
        			<td>Order has been processed by the shipper and is en route to UPS.</td>
        		</tr>
        	</table>
        {{/if}}
        {{#if shipment_progress_pre_authorized_returns}}

            <p><strong>Next Scheduled Event:</strong> Monday, mm/dd/yyyy, by hh:mm [A.M./P.M.]</p>

           <!-- Shipment Progress - pre_authorized_returns -->
        	<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
        		<tr>
        			<th scope="col">Location</th>
        			<th scope="col">Date</th>
        			<th scope="col">Local Time</th>
        			<th scope="col" class="full">Activity (<a href="" class="btnlnkR helpIconR">What's This?</a>)</th>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td> The receiver created a label for the pre-approved return package.
        				<dl role="presentation">
        					<dt><a href="#"><span class="label btnlnkR helpIconR">Return Package Tracking Number:</span></a></dt>
        					<dd><a href="#">1Z1234567890123454</a></dd>
        				</dl>
        			</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Order Processed: Ready for UPS</td>
        		</tr>
        		<tr valign="top" class="odd">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Summary status information goes here.</td>
        		</tr>
        		<tr valign="top">
        			<td class="nowrap">City, ST, CO</td>
        			<td class="nowrap">mm/dd/yyyy</td>
        			<td class="nowrap">hh:mm P.M.</td>
        			<td>Summary status information goes here.</td>
        		</tr>
        	</table>
        {{/if}}



    </div>
    <!-- End Section Body -->
</div>
