{{! THIS DOES NOT SEEM TO BE USED IN THE v4 VERSION OF THE PAGE}}
{{#if map_and_driving_directions}}
<h5>map and driving directions</h5>
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tbody>
			<tr>
				<td><img src="/img_fpo/other/fpo-400x200.gif" width="400" height="200"></td>
			</tr>
		</tbody>
	</table>
	<table class="dataTable">
		<tbody>
			<tr>
				<th colspan="2">directions</th>
				<th>distance</th>
			</tr>
			<tr class="odd">
				<td colspan="2">1. {text}</td>
				<td>{n.nn}</td>
			</tr>
			<tr>
				<td colspan="2">2. {text}</td>
				<td>{n.nn}</td>
			</tr>
			<tr class="odd">
				<td colspan="2">3. {text}</td>
				<td>{n.nn}</td>
			</tr>
			<tr class="totals">
				<td>total estimated time: </td>
				<td>{n minutes, nn seconds}</td>
				<td></td>
			</tr>
			<tr class="totals">
				<td>estimated distance: </td>
				<td>{n.nn miles}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
{{/if}}
