{{!-- BEGIN ORIGINAL CODE PRE-HANDLEBARS --}}
{{!-- This code is no longer used --}}
{{#if status_default_text}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery  instructions</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery label:</span> </dt>
		<dd>wednesday, 00/00/0000, end of day</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions label:</span> </dt>
		<dd> <span class="btnlnkR helpIconR">adult signature required</span></dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">delivery change requested label:</span> </dt>
		<dd>leave with neighbor</dd>
	</dl>
	<div class="alignCenter group" style="font-size:1.25em">
			<p>Never track again! Get <b class="highlight">FREE</b> alerts for all packages coming to your home.</p>
			<button class="buttonArwGroup2" type="submit" value="">Next</button>
	</div>
{{/if}}
{{#if status_special_instructions_examples}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery  instructions</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery label:</span> </dt>
		<dd>wednesday, 00/00/0000, end of day</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions label:</span> </dt>
		<dd> <span class="btnlnkR helpIconR">adult signature required</span></dd>
	</dl>
{{/if}}
{{#if status_delivery_change_examples}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery  instructions</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery label:</span> </dt>
		<dd>wednesday, 00/00/0000, end of day</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">delivery change requested:</span> </dt>
		<dd> leave with neighbor</dd>
	</dl>
{{/if}}
{{#if status_regional_messaging}}
	<!-- WEATHER WARNING GOES HERE --->
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery updated to label:</span> </dt>
		<dd>thursday, 00/00/0000, 00:00 a.m. - 0:00 p.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last scan location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
{{/if}}
{{#if status_scheduled_delivery_not_available}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery label:</span> </dt>
		<dd>schedule delivery information is not available</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
{{/if}}
{{#if status_delivered}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">delivered on:</span> </dt>
		<dd>thursday, 00/00/0000 at 00:00 a.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">left at:</span> </dt>
		<dd>front desk</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions:</span> </dt>
		<dd><span class="btnlnkR newWindowIconR">signature required</span></dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">Received By:</span> </dt>
		<dd>obrien
			<div> <img alt="signature" src="/img_fpo/signature/fpo_signature3.gif" width="243" height="44"> </div>
		</dd>
	</dl>
	<p><a href="repl_href" class="btnlnkR newWindowIconR">proof of delivery</a></p>
{{/if}}
{{#if status_delivered_recipient_authorized_shipment_release}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">delivered on:</span> </dt>
		<dd>thursday, 00/00/0000 at 00:00 a.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">left at:</span> </dt>
		<dd>front desk</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions:</span> </dt>
		<dd><span class="btnlnkR newWindowIconR">signature required</span></dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">Received By:</span> </dt>
		<dd>John Smith authorized release of this shipment.</dd>
	</dl>
	<p><a href="repl_href" class="btnlnkR newWindowIconR">proof of delivery</a></p>
{{/if}}
{{#if status_delivered_to_ups_retail_location_for_cust_pickup}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">delivered on:</span> </dt>
		<dd>thursday, 00/00/0000 at 00:00 a.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">Received By UPS Retail Location Employee:</span> </dt>
		<dd>OBRIEN
			<div> <img alt="signature" src="/img_fpo/signature/fpo_signature3.gif" width="243" height="44"> </div>
		</dd>
	</dl>
	<p><a href="repl_href" class="btnlnkR newWindowIconR">proof of delivery</a></p>
	<dl role="presentation">
		<dt><span class="label">store location:</span></dt>
		<dd> the ups store<br>
			4321 hill street, suite a<br>
			roswell, ga, us 30076<br>
			Tel: 770-123-4567<br>
			store@email.com </dd>
	</dl>
	<p><strong>reminder:</strong> your shipment has been delivered to the listed ups retail location,
	and will be helf for seven days. shipments not picked up during this time will be returned to the shipper.</p>
{{/if}}
{{#if status_my_choice_basic}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery  instructions</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery label:</span> </dt>
		<dd>wednesday, 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label btnlnkR helpIconR">estimated delivery time label:</span> </dt>
		<dd>00:00 a.m. - 00:00 p.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions label:</span> </dt>
		<dd> <span class="btnlnkR helpIconR">adult signature required</span></dd>
		<dd> C.O.D. - 25.00 USD, Check</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">delivery change requested label:</span> </dt>
		<dd>leave with neighbor - the driver will deliver your shipment to the address you requested</dd>
	</dl>
	<p> <strong>note: </strong>gain access to ups my choice features by upgrading this package to ups ground <br>
	<a href="" class="btnlnkR arrowIconR">upgrade now</a> </p>
{{/if}}
{{#if status_my_choice_premium}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery  instructions</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery label:</span> </dt>
		<dd>wednesday, 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label btnlnkR helpIconR">estimated delivery time label:</span> </dt>
		<dd>00:00 a.m. - 00:00 p.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions label:</span> </dt>
		<dd> <span class="btnlnkR helpIconR">adult signature required</span></dd>
		<dd> C.O.D. - 25.00 USD, Check</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">delivery change requested label:</span> </dt>
		<dd>leave with neighbor - the driver will deliver your shipment to the address you requested</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">leave at label:</span> </dt>
		<dd>back door</dd>
	</dl>
	<p> <strong>note: </strong>your delivery instructions request on this package was cancelled due to the new delivery date.
	a quick reminder to request again if it's still needed.</p>
	<p> <strong>note: </strong>gain access to ups my choice features by upgrading this package to ups ground
	<a href="#" class="btnlnkR arrowIconR">upgrade now</a> </p>
{{/if}}
{{#if status_pre_service_upgrade}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery  instructions</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery label:</span> </dt>
		<dd>thursday, 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label btnlnkR helpIconR">estimated delivery time label:</span> </dt>
		<dd>00:00 a.m. - 00:00 p.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions label:</span> </dt>
		<dd> <span class="btnlnkR helpIconR">adult signature required</span></dd>
		<dd> C.O.D. - 25.00 USD, Check</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">delivery change requested label:</span> </dt>
		<dd>leave with neighbor - the driver will deliver your shipment to the address you requested</dd>
	</dl>
	<p> <strong>note: </strong>gain access to ups my choice features by upgrading this package to ups ground
	<a href="#" class="btnlnkR arrowIconR">upgrade now</a> </p>
	<p> <strong>note: </strong>ups my choice features, including upgrade to ups ground, are not available for this
	package. reasons may include: the package is currently out for delivery or has been delivered</p>
{{/if}}
{{#if status_post_service_upgrade}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery  instructions</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery label:</span> </dt>
		<dd>thursday, 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label btnlnkR helpIconR">estimated delivery time label:</span> </dt>
		<dd>00:00 a.m. - 00:00 p.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions label:</span> </dt>
		<dd> <span class="btnlnkR helpIconR">adult signature required</span></dd>
		<dd> C.O.D. - 25.00 USD, Check</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">delivery change requested label:</span> </dt>
		<dd>leave with neighbor - the driver will deliver your shipment to the address you requested</dd>
	</dl>
	<p> <strong>note: </strong>upgraded to ups ground by the ups my choice member.</p>
{{/if}}
{{#if status_delivered_to_ups_access_point}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">delivered on label:</span> </dt>
		<dd>thursday, 00/00/0000 at 00:00 a.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">package must be picked up by label:</span> </dt>
		<dd>thursday, 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt><span class="label">UPS Access Point&trade; Location:</span></dt>
		<dd> the ups store<br>
			4321 hill street, suite a<br>
			roswell, ga, us 30076<br>
			Tel: 770-123-4567<br>
			store@email.com </dd>
	</dl>
	<p><a href="#">Show Location Information</a></p>
	<p> <strong>reminder: </strong>you must provide the package release code to claim this package at
	the UPS AccessPoint&trade; location shown here.</p>
{{/if}}
{{#if status_delivered_to_ups_access_point_parcel_locker}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates </button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">delivered on label:</span> </dt>
		<dd>thursday, 00/00/0000 at 00:00 a.m.</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">pickup package by:</span> </dt>
		<dd>thursday, 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt><span class="label">pickup location:</span></dt>
		<dd> ups access point - parcel locker<br>
			4321 hill street, suite a<br>
			roswell, ga, us 30076<br>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">Received By:</span> </dt>
		<dd>obrian authorized release of this shipment.
			<div> <img alt="signature" src="/img_fpo/signature/fpo_signature3.gif" width="243" height="44"> </div>
		</dd>
	</dl>
	<p> To pick up your package from the UPS Access Point<sup>TM</sup> Parcel locker you will need either your InfoNotice,
	Delivery Notification, or Tracking NUmber, and your government issued ID (e.g. Driver's License) or mobile phone. </p>
	<a href="repl_href"  >Show Location Information and Pickup Instruction</a>
	<p> <strong>reminder: </strong>your shipment has been delivered to the listed UPS Access Point, and must be
	picked up by mm/dd/yyyy. shipments not picked up during this time will be returned to the shipper</p>
{{/if}}
{{#if status_in_transit_to_ups_access_point}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">notify me with updates</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery </button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery instructions</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivered label:</span> </dt>
		<dd>wednesday, 00/00/0000, by end of day </dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location label:</span> </dt>
		<dd>departed - louisville, ky, us, tuesday, 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt><span class="label">ups access point&trade; location:</span></dt>
		<dd> ups access point name<br>
			1234 main street<br>
			roswell, ga, 30076<br>
	</dl>
	<p><a href="#">View Location Information</a></p>
{{/if}}
{{#if status_with_gps_coordinates_and_map}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">delivered on label:</span> </dt>
		<dd>thursday, 00/00/0000, at 00:00 a.m </dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">received by label:</span> </dt>
		<dd>obrien</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">left at label:</span> </dt>
		<dd>front desk </dd>
	</dl>
	<p><a href="#">Proof of Delivery</a></p>
	<dl role="presentation">
		<dt>
			<label for="repl_id">delivery location:</label>
		</dt>
		<dd>MAP INSTRUCTIONS GO HERE.....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</dd>
	</dl>
	<!-- Map Displyed -->
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tbody>
			<tr>
				<td><img src="/img_fpo/other/fpo-400x200.gif" width="400" height="200" alt="Placeholder for Map and Driving Directions"/></td>
			</tr>
		</tbody>
	</table>
	<!-- Map Displyed -->
	<dl class="outHozFixed clearfix">
		<dt>
			<label for="repl_id">gps coordinates:</label>
		</dt>
		<dd>{lat 40.424602}<br>
			{long 74.021388}<br>
		</dd>
	</dl>
	<p>LEGAL DISCLAIMER GOES HERE...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
{{/if}}
{{#if status_with_gps_coordinates_and_map_error}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status updates</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">delivered on label:</span> </dt>
		<dd>thursday, 00/00/0000, at 00:00 a.m </dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">received by label:</span> </dt>
		<dd>obrien</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">left at label:</span> </dt>
		<dd>front desk </dd>
	</dl>
	<p><a href="#">Proof of Delivery</a></p>
	<dl role="presentation">
		<dt>
			<label for="repl_id">delivery location:</label>
		</dt>
		<dd>MAP INSTRUCTIONS GO HERE.....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</dd>
	</dl>
    <p><strong>The delivery location map is currently not available.</strong></p>
	<dl class="outHozFixed clearfix">
		<dt>
			<label for="repl_id">gps coordinates:</label>
		</dt>
		<dd>{lat 40.424602}<br>
			{long 74.021388}<br>
		</dd>
	</dl>
	<p>LEGAL DISCLAIMER GOES HERE...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
{{/if}}
{{#if status_pre_authorized_returns}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">notify me with updates</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">return this package</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">label created on label:</span> </dt>
		<dd>00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">estimated delivery abel:</span> </dt>
		<dd>wednesday, 00/00/0000, by end of day</dd>
	</dl>
	<p><strong>The sender has pre-approved the return of this package</strong></p>
	<p>get a return label before <strong>[11/21/2016].</strong></p>
	<dl role="presentation">
		<dt><a href="#"><span class="label btnlnkR helpIconR">Return Package Tracking Number:</span></a></dt>
		<dd><a href="#">1Z1234567890123454</a></dd>
	</dl>
{{/if}}
{{#if status_follow_my_delivery}}
	<div class="floatEnd col7 marginEnd secLvlPad">
		<div class="btnBar">
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">change delivery</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">request status</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">report a claim</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">select a 2-hour delivery window</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">provide delivery instructions</button>
			<button class="button btnGroup7 btnGradient btnGradient7 arrowIconRight" type="submit" value="">follow my delivery</button>
		</div>
	</div>
	<dl role="presentation">
		<dt> <span class="label">scheduled delivery:</span> </dt>
		<dd>wednesday, 00/00/0000, by end of day</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">last location:</span> </dt>
		<dd>departed -louisville, ky, us, tuesday, 00/00/0000</dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">special instructions label:</span> </dt>
		<dd> <span class="btnlnkR helpIconR">adult signature required</span></dd>
	</dl>
	<dl role="presentation">
		<dt> <span class="label">delivery change requested label:</span> </dt>
		<dd>leave with neighbor</dd>
	</dl>
{{/if}}
{{!-- END ORIGINAL CODE PRE-HANDLEBARS --}}
