<div class="panel panel-default">
    <!-- Begin Sub Header -->
    <div class="panel-heading">UPS My Choice</div>
    <!-- End Sub Header -->
    <!-- Begin Sub Body -->
    <div class="panel-body">
    	{{#if ups_my_choice_options}}
    	   <!-- UPS My Choice - Default -->
            <div class="ups-group">
                <p class="ups-group_label" for="opt_exp"><strong>Expiration Date</strong></p>
			    <p class="ups-group_value" id="opt_exp">12/31/2010</p>
            </div>
             <div class="ups-group">
                <p class="ups-group_label" for="opt_act"><strong>Renewal Activation Date</strong></p>
			    <p class="ups-group_value" id="opt_act">12/31/2010</p>
            </div>
            <div class="ups-group">
                <p>Your UPS My Choice membership will expire soon.</p>
                <p><a href="repl_href" class="ups-link_light">Renew</a></p>
            </div>
            <div class="ups-group">
                <p>Your UPS My Choice membership has been automatically renewed at your request, and is currently pending validation.</p>
                <p><a href="repl_href" class="ups-link_light">Validate</a></p>
            </div>
            <div class="ups-group">
                <p>Your UPS My Choice membership is currently inactive.</p>
                <p><a href="repl_href" class="ups-link_light">Reactivate</a></p>
            </div>

            <p><a href="repl_href" class="ups-link_light">UPS My Choice Preferences</a></p>
            <p><a href="repl_href" class="ups-link_light">Edit Vacation Settings</a></p>
            <p><a href="repl_href" class="ups-link_light">Become a Premium Member</a></p>
            <p><a href="repl_href" class="ups-link_light">UPS My Choice Help</a></p>              
    	{{/if}}
    	{{#if ups_my_choice_options_non_us}}
    	    <!-- UPS My Choice - Non-U.S. -->
    	    <p><a href="repl_href" class="ups-link_light">UPS My Choice Preferences</a></p>
    		<p><a href="repl_href" class="ups-link_light">Edit Vacation Settings</a></p>
    		<p><a href="repl_href" class="ups-link_light">UPS My Choice Help</a></p>
    	{{/if}}
        </div>
    </div>
    <!-- End Sub Body -->
</div>
