<div class="panel panel-default">
    <!-- Begin Sub Header -->
    <div id="collapse1" class="panel-heading">
        <span class="btnlnkL collapseIcon" aria-hidden="true"></span>Additional Information
    </div>
    <!-- End Sub Header -->

    <!-- Begin Sub Body -->
    <div class="panel-body">

        {{#if additional_information_small_package}}
        	<!-- Additional Information - Small Package -->
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Additional Packages</strong></div>
        		<div class="col-xs-7">2</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>C.O.D.</strong></div>
        		<div class="col-xs-7">n.nn usd</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>C.O.D. Payment Method</strong></div>
        		<div class="col-xs-7">check</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Commercial Invoice Removal</strong></div>
        		<div class="col-xs-7">removed</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Direct Delivery Only</strong></div>
        		<div class="col-xs-7">yes</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Hold at UPS Access Point&trade;</strong></div>
        		<div class="col-xs-7">yes</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Location</strong></div>
        		<div class="col-xs-7">front door</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Location Assured</strong></div>
        		<div class="col-xs-7">yes</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Multiple Packages</strong></div>
        		<div class="col-xs-7">2</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Package Release Code Required</strong></div>
        		<div class="col-xs-7">yes</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong><a href="repl_href" class="btnlnkR helpIconR">Postal Services Tracking ID</a></strong></div>
        		<div class="col-xs-7">1234567890123456789012</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Reference Number(s)</strong></div>
        		<div class="col-xs-7">
                    <p>shipment reference number 1</p>
        			<p>shipment reference number 2</p>
        			<p>package reference number 1</p>
        			<p>package reference number 2</p>
        			<p>package reference number 3</p>
        			<p>package reference number 4</p>
        			<p>package reference number 5</p>
                </div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipped/Billed On</strong></div>
        		<div class="col-xs-7">01/01/0000</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipment Category</strong></div>
        		<div class="col-xs-7">package</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Weight</strong></div>
        		<div class="col-xs-7">n.nn{lbs/oz}</div>
        	</div>
        {{/if}}
        {{#if additional_information_upgf_freight}}
            <!-- Additional Information - UPGF Freight -->
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong><a href="repl_href" class="btnlnkR helpIconR">Appointment Made</a></strong></div>
        		<div class="col-xs-7">mm/dd/yyyy, hh:mm a.m.</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong><a href="repl_href" class="btnlnkR helpIconR">Appointment Requested</a></strong></div>
        		<div class="col-xs-7">mm/dd/yyyy, hh:mm a.m.</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong><a href="repl_href" class="btnlnkR helpIconR">Appointment Requested Time Range</a></strong></div>
        		<div class="col-xs-7">mm/dd/yyyy, hh:mm a.m.</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Bill of Lading</strong></div>
        		<div class="col-xs-7">Bill of Lading</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>C.O.D.</strong></div>
        		<div class="col-xs-7">Collected</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Number of Pieces</strong></div>
        		<div class="col-xs-7">2</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>PO Number</strong></div>
        		<div class="col-xs-7">PO Number</div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Reference Number(s)</strong></div>
        		<div class="col-xs-7">
                    <p>Reference 1</p>
        			<p>Reference 2</p>
                </div>
            </div>
            <div class="row ups-group">
        		<div class="col-xs-5"><strong>Weight</strong></div>
        		<div class="col-xs-7">n.nn lbs</div>
        	</div>
        {{/if}}
        {{#if additional_information_scs_freight}}
            <!-- Additional Information - SCS Freight -->
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Cargo Ready</strong></div>
        		<div class="col-xs-7">mm/dd/yyyy, hh:mm a.m.</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Description of Goods</strong></div>
        		<div class="col-xs-7">Description</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>File Number</strong></div>
        		<div class="col-xs-7">???</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Manifest</strong></div>
        		<div class="col-xs-7">???</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Number of Pallets</strong></div>
        		<div class="col-xs-7">2</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Number of Pieces</strong></div>
        		<div class="col-xs-7">2</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Origin Port</strong></div>
        		<div class="col-xs-7">Origin Port</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Est. Departure</strong></div>
        		<div class="col-xs-7">mm/dd/yyyy</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Destination Port</strong></div>
        		<div class="col-xs-7">Destination Port</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Est. Arrival</strong></div>
        		<div class="col-xs-7">mm/dd/yyyy</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Product</strong></div>
        		<div class="col-xs-7">Trade Direct Cross Border</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Reference Number(s)</strong></div>
        		<div class="col-xs-7">
                    <p>Reference 1</p>
        			<p>Reference 2</p>
                </div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipment Volume</strong></div>
        		<div class="col-xs-7">Container</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipment Weight</strong></div>
        		<div class="col-xs-7">n.nn lbs</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipment Category</strong></div>
        		<div class="col-xs-7">House Bill of Lading</div>
        	</div>
        {{/if}}
        {{#if additional_information_ups_returns_exchange}}
            <!-- Additional Information - UPS Returns Exchange -->
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Location</strong></div>
        		<div class="col-xs-7">Dock</div>
        	</div>
        	<div class="row ups-group ">
        		<div class="col-xs-5"><strong>Reference Number(s)</strong></div>
        		<div class="col-xs-7">
                    <p>Reference 1</p>
        			<p>Reference 2</p>
        			<p>Reference 3</p>
        			<p>Reference 4</p>
        			<p>Reference 5</p>
        			<p>Reference 6</p>
        			<p>Reference 7</p>
                </div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipped/Billed On</strong></div>
        		<div class="col-xs-7">01/01/2010</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipment Category</strong></div>
        		<div class="col-xs-7">Package</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>UPS Returns<sup>&reg;</sup> Exchange</strong></div>
        		<div class="col-xs-7">Requested</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Weight</strong></div>
        		<div class="col-xs-7">n.nn lbs</div>
        	</div>
        {{/if}}
        {{#if additional_information_ups_returns_pack_and_collect}}
            <!-- Additional Information - UPS Returns Pack and Collect -->
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Location</strong></div>
        		<div class="col-xs-7">Dock</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Product</strong></div>
        		<div class="col-xs-7">UPS Returns<sup>&reg;</sup> Pack and Collect</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Reference Number(s)</strong></div>
        		<div class="col-xs-7">
                    <p>Reference 1</p>
        			<p>Reference 2</p>
        			<p>Reference 3</p>
        			<p>Reference 4</p>
        			<p>Reference 5</p>
        			<p>Reference 6</p>
        			<p>Reference 7</p>
                </div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipped/Billed On</strong></div>
        		<div class="col-xs-7">01/01/2010</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipment Category</strong></div>
        		<div class="col-xs-7">Package</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Weight</strong></div>
        		<div class="col-xs-7">n.nn lbs</div>
        	</div>
        {{/if}}
        {{#if additional_information_ups_worldwide_express_freight}}
            <!-- Additional Information - UPS Worldwide Express Freight -->
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Pickup/Drop-off Date</strong></div>
        		<div class="col-xs-7">[mm/dd/yyyy]</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Description of Goods</strong></div>
        		<div class="col-xs-7">Description</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Number Of Pallets</strong></div>
        		<div class="col-xs-7">2</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Number Of Pieces</strong></div>
        		<div class="col-xs-7">2</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Dangerous Goods</strong></div>
        		<div class="col-xs-7">[Yes/No]</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Reference Number(s)</strong></div>
        		<div class="col-xs-7">
                    <p>Reference 1</p>
        			<p>Reference 2</p>
        		</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Shipment Weight</strong></div>
        		<div class="col-xs-7">n.nn lbs</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Liftgate On Delivery</strong></div>
        		<div class="col-xs-7">[Yes/No]</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Liftgate On Pickup</strong></div>
        		<div class="col-xs-7">[Yes/No]</div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Pickup Option</strong></div>
        		<div class="col-xs-7">
                    <p>[UPS Will Pickup/Drop off at UPS Location] </p>
        			<p><strong>Shipment Drop-off Time</strong> [hh:mm] [AM/PM] </p>
        			<p><strong>Location/Facility Name</strong> </p>
        			<p>[address 1]</p>
        			<p>[city], [other], [state] [zip/postal code]</p>
        			<p>[country or territory] </p>
        			<p>Telephone: [number] </p>
        			<p>Fax: [number]</p>
        			<p><strong>Hours of Operation</strong> </p>
        			<p>[Weekday] hh:mm am to hh:mm pm </p>
        			<p><strong>UPS Location Latest Drop-off Time</strong> </p>
        			<p>[hh:mm] pm</p>
                </div>
        	</div>
        	<div class="row ups-group">
        		<div class="col-xs-5"><strong>Delivery Option</strong></div>
        		<div class="col-xs-7">
                    <p>[UPS Will Deliver/Hold for customer Pickup at UPS Location] </p>
        			<p><strong>Location/Facility Name</strong> </p>
        			<p>[address 1]</p>
        			<p>[city], [other], [state] [zip/postal code]</p>
        			<p>[country or territory] </p>
        			<p>Telephone: [number] </p>
        			<p>Fax: [number]</p>
        			<p><strong>Hours of Operation</strong> </p>
        			<p>[Weekday] hh:mm am to hh:mm pm </p>
        			<p>[Weekday] hh:mm am to hh:mm pm </p>
        			<p>[Weekday] hh:mm am to hh:mm pm </p>
        			<p>... </p>
        			<p>[Sunday] [Closed]</p>
                </div>
        	</div>
        {{/if}}

    </div>
    <!-- End Sub Body -->
</div>
