{{! This HTML does not seem to be used. }}

{{#if operating_hours}}
<h5>Operating Hours</h5>
<table class="dataTable tablePlain formcol11">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Open</th>
			<th scope="col">Break</th>
			<th scope="col">Close</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td nowrap=""><strong>Mon</strong></td>
			<td nowrap="">8:00 am</td>
			<td nowrap="">1 pm - 2 pm</td>
			<td nowrap="">9:00 pm</td>
		</tr>
		<tr>
			<td nowrap=""><strong>Tue</strong></td>
			<td nowrap="">8:00 am</td>
			<td nowrap="">1 pm - 2 pm</td>
			<td nowrap="">9:00 pm</td>
		</tr>
		<tr>
			<td nowrap=""><strong>Wed</strong></td>
			<td nowrap="">8:00 am</td>
			<td nowrap="">1 pm - 2 pm</td>
			<td nowrap="">9:00 pm</td>
		</tr>
		<tr>
			<td nowrap=""><strong>Thu</strong></td>
			<td nowrap="">8:00 am</td>
			<td nowrap="">1 pm - 2 pm</td>
			<td nowrap="">9:00 pm</td>
		</tr>
		<tr>
			<td nowrap=""><strong>Fri</strong></td>
			<td nowrap="" colspan="3">Open 24 hours</td>
		</tr>
		<tr>
			<td nowrap=""><strong>Sat</strong></td>
			<td nowrap="">8:00 am</td>
			<td nowrap="">--</td>
			<td nowrap="">12:00 pm</td>
		</tr>
		<tr>
			<td nowrap=""><strong>Sun</strong></td>
			<td nowrap="">Closed</td>
			<td nowrap="">--</td>
			<td nowrap="">--</td>
		</tr>
	</tbody>
</table>
{{/if}}
