<div class="panel panel-default">
    <!-- Begin Section Header -->
    <div id="collapse4" class="panel-heading">
        <span class="btnlnkL collapseIcon" aria-hidden="true"></span>[Packages/Pallets] in this Shipment (Total [Packages/Pallets]: 2)
    </div>
    <!-- End Section Header -->
    <!-- Begin Section Body -->
    <div class="panel-body" id="additional_packages_expanded">
        {{#if additional_packages_expanded}}
    		<!-- Additional Packages - Expanded -->
    		<p>Select a tracking number to see the detail for another package.</p>
    	{{/if}}
    	{{#if additional_packages_expanded_too_many_packages}}
    		<!-- Additional Packages - Expanded - Too Many Packages-->
    		<p>Your multi-piece shipment contains more tracking results than can be displayed. If you frequently track multi-piece shipments, you should subscribe to <a href="repl_href" class="ups-link_light">UPS Quantum View</a>.</p>
    	{{/if}}
    	<!-- Table height must be set dynamically-->
    	<div class="tableWindow subseccol18 marginBegin" style="max-height:289px;">
    		<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable full">
    			<tr>
    				<th scope="col">Tracking Number</th>
    				<th scope="col">Reference</th>
    				<th scope="col" class="sortable status">Status <span class="btnlnkL collapseIcon" aria-hidden="true"></span></th>
    				<th scope="col">Shipped</th>
    				<th scope="col">Scheduled Delivery</th>
    				<th scope="col">Service</th>
    				<th scope="col">Weight</th>
    			</tr>
    			<tr valign="top" class="odd">
    				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
    				<td class="nowrap"></td>
    				<td>On Time: In Transit</td>
    				<td class="nowrap">01/01/2010</td>
    				<td class="nowrap">{not available}</td>
    				<td>UPS Ground</td>
    				<td class="nowrap">00.0 lbs</td>
    			</tr>
    			<tr valign="top">
    				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
    				<td class="nowrap"></td>
    				<td>On Time: In Transit</td>
    				<td class="nowrap">01/01/2010</td>
    				<td class="nowrap">{not available}</td>
    				<td>UPS Ground</td>
    				<td class="nowrap">00.0 lbs</td>
    			</tr>
            	{{#if additional_packages_expanded_too_many_packages}}
        			<tr valign="top" class="odd">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">{not available}</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">01/01/2010</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top" class="odd">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">01/01/2010</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">01/01/2010</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top" class="odd">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">{not available}</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">{not available}</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top" class="odd">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">{not available}</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">01/01/2010</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top" class="odd">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">{not available}</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
        			<tr valign="top">
        				<td scope="row" class="nowrap"><a href="repl_href">1z1234567890123456</a></td>
        				<td class="nowrap"></td>
        				<td>On Time: In Transit</td>
        				<td class="nowrap">01/01/2010</td>
        				<td class="nowrap">01/01/2010</td>
        				<td>UPS Ground</td>
        				<td class="nowrap">00.0 lbs</td>
        			</tr>
                {{/if}}
    		</table>
    	</div>
        {{#if additional_packages_expanded_too_many_packages}}
			<!-- email shipment information -->
			<p>Enter your e-mail below and select <strong>E-mail Shipment Information</strong> to receive the tracking results for your multi-piece shipment.</p>
            <div class="row">
                <div class="col-xs-5">
                    <div class="ups-form_group">
                        <label for="ups-addPkgEmail" class="ups-form_label">E-mail</label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text" name="ups-addPkgEmail" class="ups-form_input" id="ups-addPkgEmail">
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="ups-form_group">
						<label for="ups-addPkgFormat" class="ups-form_label">Format</label>
						<div class="ups-dropdown_wrapper ups-input_wrapper">
							<select id="ups-addPkgFormat" name="ups-addPkgFormat" class="ups-dropdown">
								<option>CSV</option>
							</select>
						</div>
					</div>
                </div>
                <div class="col-xs-5">
                    <button type="button" class="ups-cta ups-cta_primary ups-no_label" value="" id="repl_id">E-mail Shipment Information</button>
                </div>
            </div>
    	{{/if}}
    </div>
</div>
