<!-- Begin Sub Module WITH / WITHOUT IMAGE COLOUMN -->
<div class="panel panel-warning">
	{{#if weather_advisory}}
		<!-- Begin Sub Body -->
		<div class="panel-body">
			<!-- Begin Column -->
			<div class="row">
                <div class="col-xs-1">
                    <span class="icon ups-icon-alert"></span>
                </div>
    			<!-- End Column -->

    			<!-- Begin Column -->
    			<div class="col-xs-11">
    				<p>
        				Severe winter weather is impacking UPS service in areas of Maryland, New Jersey, New York, and Virginia. Learn more about <a href="#" class="ups-link_light">affected zip codes.</a>
                    </p>
    			</div>
    			<!-- End Column -->
            </div>
		</div>
		<!-- End Sub Body -->
	{{/if}}
	{{#if in_transit_to_ups_access_point_advisory}}
		<!-- Begin Sub Body -->
		<div class="panel-body">
			<!-- Begin Column -->
			<div class="row">
                <div class="col-xs-1">
                    <img alt="" border="0" height="32" width="32" src="/img/icon_exclamation_triangle_32.gif">
                </div>
    			<!-- End Column -->

    			<!-- Begin Column -->
    			<div class="col-xs-11">
    				<p>
                        Your package is in transit to a UPS Access Point&trade;. Once it arrives, a government-issued or officially-recognized form of ID will be required to retrieve the pacakage. Select the Notify Me with Updates button to receive notifications as more information becomes available.
                    </p>
    			</div>
    			<!-- End Column -->
            </div>
		</div>
		<!-- End Sub Body -->
	{{/if}}
	{{#if delivered_to_ups_retail_location_advisory}}
		<!-- Begin Sub Body -->
		<div class="panel-body">
			<p>UPS has given this shipment to a UPS Retail Location for customer pickup</p>
		</div>
		<!-- End Sub Body -->
	{{/if}}
	{{#if delivered_to_ups_access_point_advisory}}
		<!-- Begin Sub Body -->
		<div class="panel-body">
			<p>Your package has been delivered to the UPS Access Point TM location shown below. A government-issued or officially-recognized form of identification will be required to retrieve the package.</p>
		</div>
		<!-- End Sub Body -->
	{{/if}}
	{{#if delivered_to_ups_access_point_parcel_locker_advisory}}
		<!-- Begin Sub Body -->
		<div class="panel-body">
			<p>This shipment has been delivered to a UPS Access Point. A government issued I.D. is required when collecting this package.</p>
		</div>
		<!-- End Sub Body -->
	{{/if}}
	{{#if shipping_label_created_advisory}}
		<!-- Begin Sub Body -->
		<div class="panel-body">
			<p>A UPS shipping label has been created. Once the shipment arrives at our facility, the tracking status will be updated.</p>
		</div>
		<!-- End Sub Body -->
	{{/if}}
	{{#if limited_options_advisory}}
		<!-- Begin Sub Body -->
		<div class="panel-body">
			<p><strong>Limited Options:</strong> Tracking actions are limited; the shipment delivery address does not match your UPS My Choice address.</p>
		</div>
		<!-- End Sub Body -->
	{{/if}}
</div>
<!-- End Sub Module WITH / WITHOUT IMAGE COLOUMN -->
