<div class="panel panel-default">
    <!-- Begin Section Header -->
    <div class="panel-heading">Service</div>
    <!-- End Section Header -->
    <!-- Begin Section Body -->
    <div class="panel-body">

        {{#if service_default}}
            <p><a href="repl_href" class="ups-link_light">UPS Ground</a><sup>&reg;</sup> <img src="assets/resources/images/placeholder-icon.jpg" alt="" height="" width="" class="pull-right"></p>
        {{/if}}
        {{#if service_my_choice}}
        	<p><a href="repl_href" class="ups-link_light">UPS Ground</a><sup>&reg;</sup></p>
        	<p>(<a href="repl_href" class="btnlnkR helpIconR">Upgraded from UPS SurePost</a>)</p>
        {{/if}}

    </div>
    <!-- End Section Body -->
</div>
