	 <form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
                    <h1>user login settings</h1>


                        <!-- Begin Application Module -->
                        <div class="appLvl mod col18 clearfix">
                        <fieldset><legend></legend>

                            <!-- Begin Application Header -->
                            <div class="appHead clearfix">
                                <h2>select security image</h2>
                            </div>
                            <!-- End Application Header -->

                            <!-- Begin Application Body -->
                            <div class="appBody clearfix">

                                <p>please choose a category, then select the image to be used as your security image.</p>

                                <dl>
                                    <dt><label for="">category:</label></dt><dt>
                                    </dt><dd>
                                        <select>
                                            <option value="">category name 1</option>
                                            <option value="">category name 2</option>
                                            <option value="">a really really long category name 3</option>
                                        </select>
                                    </dd>
                                </dl>

                                <!-- begin Scroll Window Module -->
                                <div class="scrollWin securityImg noHead full"><!-- new class -->

                                    <!-- begin Image Gallery -->
                                    <div>
                                        <img id="repl_img1" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img2" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img3" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img4" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img5" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img6" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img7" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img8" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img9" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img10" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img11" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img12" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img13" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                        <img id="repl_img14" width="100" height="100" border="0" src="/img_fpo/other/fpo_134_134.gif" title="security image" alt="repl_alt" />

                                    </div>
                                    <!-- end Image Gallery -->

                                </div>
                                <!-- end Scroll Window Module -->

                                <p><a href="repl_href">cancel</a></p>

                            </div>
                            <!-- End Application Body -->

                        </fieldset>
                        </div>
                        <!-- End Application Module -->
<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>    
