---
title: ct1_shi_itl_lan(2pro)_har(2add)_v2
layout: legacy.hbs
version: v4
appID: com.ups.taApp
appCSS: ups.legacy_overrideTAWebApp
dir: ltr
lang: en
---

		<!-- /main begin -->
		<div id="main">
			{{>"ct1_shi_itl_lan(2pro)_har(2add)_v2_partial"}}
		</div>
		<!-- /main end -->
