<div class="appLvl mod">
	<fieldset>
		<!-- Begin Application Header -->
		<div class="appHead clearfix">
			<h2>UPS Hundredweight Rate Tool&reg;</h2>
		</div>
		<!-- End Application Header --> 
		
		<!-- Begin Application Body -->
		<div class="appBody clearfix">
			<p>To get a UPS Hundredweight rate, please provide information about your non-palletized, multiple small package shipment.</p>
			<p>If you have a Hundredweight contract you will need to <a href="repl_href">login to your account</a> to view your negotiated rates.</p>
			
			<!-- Begin Section Level -->
			<div class="secLvl step">
				<fieldset>
					<!-- Begin Section Header -->
					<div class="secHead clearfix">
						<h3>Account Details</h3>
					</div>
					<!-- End Section Header --> 
					
					<!-- Begin Section Body -->
					<div class="secBody clearfix">
						<p>You are not currently enrolled to view your negotiated rates.  Please go to <a href="repl_href">Account Maintenance</a> to enable your account and view negotiated rates.</p>
						<dl>
							<dt>
								<label for="repl_id">Choose a UPS Account:</label>
							</dt>
							<dd>
								<select id="repl_id">
									<option>Default UPS Account</option>
									<option>Another UPS Account</option>
									<option>Another longer named UPS Account</option>
								</select>
								<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
						</dl>
						<p>The account selected doesn't have a CWT contract. <a href="repl_href">Contact UPS</a> if you'd like help.  You can view published rates.</p>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td scope="row" class="sel"><input type="radio" id="repl_id" value="" name="repl_name1" checked="checked"></td>
								<td><label class="sel" for="repl_id" id="repl_id10">View Negotiated Rates</label></td>
								<td scope="row" class="sel"><input type="radio" id="repl_id1" value="" name="repl_name1"></td>
								<td><label class="sel" for="repl_id11" id="repl_id1">View Published Rates</label></td>
							</tr>
						</table>
					</div>
					<!-- End Section Body -->
				</fieldset>
			</div>
			<!-- End Section Level --> 
			
			<!-- Begin Section Level -->
			<div class="secLvl step clearfix">
				<fieldset>
					<!-- Begin Section Header -->
					<div class="secHead clearfix">
						<h3>Add Shipment Details</h3>
						<ul>
							<li><a class="btnlnkR printIconR" href="">Print</a></li>
						</ul>
					</div>
					<!-- End Section Header --> 
					
					<!-- Begin Section Body -->
					<div class="secBody clearfix">
						<p class="error">>>>Error message</p>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td scope="row" class="sel"><input type="radio" id="repl_id" value="" name="repl_name2" checked="checked"></td>
								<td><label class="sel" for="repl_id" id="repl_id10">Rate Single Shipment</label></td>
								<td scope="row" class="sel"><input type="radio" id="repl_id1" value="" name="repl_name2"></td>
								<td><label class="sel" for="repl_id11" id="repl_id1">Rate Multiple Shipments</label></td>
							</tr>
						</table>
						<dl class="flexFirst clearfix">
							<dt>
								<label id="repl_id" for="repl_id">Origin ZIP Code:</label>
							</dt>
							<dd>
								<input id="repl_id" type="text">
								<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
						</dl>
						<dl class="flexAfter clearfix">
							<dt>
								<label id="repl_id" for="repl_id">Destination ZIP Code:</label>
							</dt>
							<dd>
								<input id="repl_id" type="text">
								<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
						</dl>
						<div class="clear"></div>
						<table border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="sel"><input type="checkbox" value="repl_value" name="repl_name3" id="repl_id3"></td>
								<td><label for="repl_id3" class="sel"><a href="repl_href" class="btnlnkR helpIconR">Residential Address</a></label></td>
							</tr>
						</table>
						<dl>
							<dt>
								<label for="repl_id">Service:</label>
							</dt>
							<dd>
								<select id="repl_id">
									<option>Select Service</option>
									<option>Service option 1</option>
									<option>A much longer service option text</option>
								</select>
								<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
						</dl>
						<div class="flexFirst clearfix">
							<dl>
								<dt>
									<label id="repl_id" for="repl_id">Number of Packages:</label>
								</dt>
								<dd>
									<select id="repl_id" class="formcol2">
										<option>2</option>
									</select>
									<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
							</dl>
							<dl>
								<dt>
									<label id="repl_id" for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Total Shipment Weight:</a></label>
								</dt>
								<dd>
									<input id="repl_id" type="text" class="formcol2" value="00">
									lb<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
							</dl>
						</div>
						<div class="flexAfter clearfix">
							<dl>
								<dt>
									<label id="repl_id" for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Commodity Tier:</a></label>
								</dt>
								<dd>
									<select id="repl_id" class="formcol2">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option selected>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
									</select>
									<span class="disabled">[00]</span> </dd>
							</dl>
							<dl>
								<dt>
									<label id="repl_id" for="repl_id">Add a Discount::</label>
								</dt>
								<dd>
									<input id="repl_id" type="text" class="formcol2">
									%</dd>
							</dl>
						</div>
						<div class="clear"></div>
						<dl class="flexFirst clearfix">
							<dt>
								<label id="repl_id" for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Commodity Tier:</a></label>
							</dt>
							<dd>
								<select id="repl_id" class="formcol2">
									<option>1</option>
										<option>2</option>
										<option>3</option>
										<option selected>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
								</select>
							</dd>
						</dl>
						<dl class="flexAfter clearfix">
							<dt>
								<label id="repl_id" for="repl_id">Add a Discount::</label>
							</dt>
							<dd>
								<input id="repl_id" type="text" class="formcol2">
								%</dd>
						</dl>
						<div class="clear"></div>
						
						<!-- Begin Multiple Shipments -->
						<p>Enter individual shipment details below for up to 50 shipments, then "Get Rate".  If you'd prefer to import your shipment details, <strong>browse to navigate to your file:</strong></p>
						<p>
							<input type="button" name="repl_name" value="Browse" class="btn">
							<a href="repl_href" class="btnlnkR helpIconR">CSV files only</a></p>
						<table class="dataTable full" border="0" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th><input type="checkbox" value="repl_value" name="repl_name" id="repl_id1"></th>
									<th>&nbsp;</th>
									<th><label for="repl_id">Origin ZIP:</label>
										<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></th>
									<th><label for="repl_id">Destination ZIP:</label>
										<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></th>
									<th><label for="repl_id">Service:</label>
										<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></th>
									<th><label for="repl_id"># of Pkgs:</label>
										<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></th>
									<th><label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Shipment Weight:</a></label>
										<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></th>
									<th><label for="repl_id">Days in Transit:</label></th>
									<th><label for="repl_id">Net Total:</label></th>
								</tr>
							</thead>
							<tbody>
								<tr class="odd">
									<td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id1"></td>
									<td>1</td>
									<td><input id="repl_id" type="text" class="formcol3"></td>
									<td><input id="repl_id" type="text" class="formcol3"></td>
									<td><select id="repl_id" class="formcol4">
											<option>UPS Ground</option>
											<option>Another much longer option</option>
											<option>[Option3]</option>
										</select></td>
									<td><select id="repl_id" class="formcol2">
											<option>20</option>
											<option>[Option2]</option>
											<option>[Option3]</option>
										</select></td>
									<td><input id="repl_id" type="text" class="formcol2">
										lb</td>
									<td><span class="disabled">05</span></td>
									<td><span class="disabled">15.25</span> USD</td>
								</tr>
								<tr>
									<td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id1"></td>
									<td>2</td>
									<td><input id="repl_id" type="text" class="formcol3"></td>
									<td><input id="repl_id" type="text" class="formcol3"></td>
									<td><select id="repl_id" class="formcol4">
											<option>Select Service</option>
											<option>[Option2]</option>
											<option>[Option3]</option>
										</select></td>
									<td><select id="repl_id" class="formcol2">
											<option>2</option>
											<option>[Option2]</option>
											<option>[Option3]</option>
										</select></td>
									<td><input id="repl_id" type="text" class="formcol2">
										lb</td>
									<td><span class="disabled">000</span></td>
									<td><span class="disabled">0000.00</span> USD</td>
								</tr>
							</tbody>
						</table>
						<p><a href="repl_href" class="btn">Add Row</a>&nbsp;<a href="repl_href" class="btn disabled">Delete Row</a></p>
						<div class="floatEnd clearfix">
							<input type="button" name="repl_name" value="Get Rates" class="btn btnArw">
						</div>
						<div class="clear"></div>
						<!-- End Multiple Shipments -->
						
						<p><a href="repl_href" class="btnlnkL plusMini">Add Additional Services</a></p>
						
						<!-- Begin Expanded view -->
						<p><a href="repl_href" class="btnlnkL minusMini">Add Additional Services</a></p>
						<dl>
							<dt>
								<label for="repl_id">How many packages in this shipment need additional services?</label>
							</dt>
							<dd>
								<select id="repl_id" class="formcol2">
									<option>0</option>
								</select>
								Large Packages<br>
								<select id="repl_id" class="formcol2">
									<option>0</option>
								</select>
								C.O.D.<br>
								<select id="repl_id" class="formcol2">
									<option>0</option>
								</select>
								Additional Handling<br>
								<select id="repl_id" class="formcol2">
									<option>0</option>
								</select>
								Delivery Confirmation<br>
								<select id="repl_id" class="formcol2">
									<option>0</option>
								</select>
								Signature Required<br>
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td class="sel"><input type="checkbox" value="repl_value" name="repl_name5" id="repl_id1"></td>
										<td><label for="repl_id1" class="sel">Saturday Pickup</label></td>
									</tr>
									<tr>
										<td class="sel"><input type="checkbox" value="repl_value" name="repl_name5" id="repl_id2"></td>
										<td><label for="repl_id2" class="sel">Saturday Delivery</label></td>
									</tr>
								</table>
								<input id="repl_id" type="text" class="formcol3">
								USD <a href="repl_href" class="btnlnkR helpIconR">Declared Value of Shipment</a></dd>
						</dl>
						<!-- End Expanded view -->
						
						<div class="floatEnd clearfix">
							<p>
								<input type="button" name="repl_name" value="Get Rate" class="btn btnArw">
							</p>
						</div>
						<div class="clear"></div>
					</div>
					<!-- End Section Body -->
				</fieldset>
			</div>
			<!-- End Section Level --> 
			
			<!-- Begin Multiple Shipments Section Level -->
			<div class="secLvl step">
				<fieldset>
					<!-- Begin Section Header -->
					<div class="secHead clearfix">
						<h3>Cumulative Costs Summary</h3>
					</div>
					<!-- End Section Header --> 
					
					<!-- Begin Section Body -->
					<div class="secBody clearfix">
						<dl class="outHozLedger clearfix">
							<dt>Gross Charges</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Net Charges</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Discount (applies to transportation only)</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Delivery Area Surcharges</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Extended Area Surcharge (Ship To) - [geo-type]</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Additional Handling</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Fuel Surcharges</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Peak Surcharge - Residential</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Peak Surcharge - Commercial</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Peak Surcharge - Large Package</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Peak Surcharge - Additional Handling</dt>
							<dd>nnnn.nn USD</dd>
							<dt>Cumulative Peak Surcharge - Over Max</dt>
							<dd>nnnn.nn USD</dd>
							<dt>
								<label for="repl_id">Cumulative Charges</label>
							</dt>
							<dd><strong>nnnn.nn USD</strong></dd>
						</dl>
						<div class="clear"></div>
						<div class="floatEnd clearfix">
							<p>
								<input type="button" name="repl_name" value="Download CSV" class="btn">
							</p>
						</div>
						<div class="clear"></div>
					</div>
					<!-- End Section Body -->
				</fieldset>
			</div>
			<!-- End Multiple Shipments Section Level --> 
			
			<!-- Begin Section Level -->
			<div class="secLvl step">
				<fieldset>
					<!-- Begin Section Header -->
					<div class="secHead clearfix">
						<h3>Time and Cost Summary</h3>
					</div>
					<!-- End Section Header --> 
					
					<!-- Begin Section Body -->
					<div class="secBody clearfix">
						<div class="group clearfix">
							<dl class="outHozFlex clearfix">
								<dt>
									<label for="repl_id">Zone:</label>
								</dt>
								<dd>[00]</dd>
							</dl>
							<div class="clear"></div>
							<dl class="outHozLedger clearfix">
								<dt>
									<label for="repl_id">Time in Transit</label>
								</dt>
								<dd><strong>3 Days</strong></dd>
								<dt>Gross Transportation Charges</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Net Transportation Charges</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Other Charges</dt>
								<dd>
									<dl class="outHozLedger indent clearfix">
										<dt>Delivery Area Surcharge</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Residential Surcharge</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Extended Area Surcharge (Ship To) - [geo-type]</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Additional Handling</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Peak Surcharge - Residential</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Peak Surcharge - Commercial</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Peak Surcharge - Large Package</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Peak Surcharge - Additional Handling</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Peak Surcharge - Over Max</dt>
										<dd>nnnn.nn USD</dd>
									</dl>
								</dd>
								<dt>Value Added Services</dt>
								<dd>
									<dl class="outHozLedger indent clearfix">
										<dt>Large Packages</dt>
										<dd>nnnn.nn USD</dd>
										<dt>C.O.D.</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Delivery Confirmation</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Signature Required</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Saturday Air Processing Fee</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Saturday Delivery</dt>
										<dd>nnnn.nn USD</dd>
										<dt>Declared Value</dt>
										<dd>nnnn.nn USD</dd>
									</dl>
								</dd>
								<dt>nn% Fuel Surcharge</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Total Discount (applies to transportation only)</dt>
								<dd>nnnn.nn USD</dd>
								<dt>
									<label for="repl_id">Total Charges</label>
								</dt>
								<dd><strong>nnnn.nn USD</strong></dd>
							</dl>
						</div>
						
						<!-- Begin Published Rates -->
						<div class="group clearfix">
							<dl class="outHozLedger clearfix">
								<dt>Gross Charges</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Net Charges</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Discount (applies to transportation only)</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Delivery Area Surcharges</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Extended Area Surcharge (Ship To) - [geo-type]</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Additional Handling</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Large Packages</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Fuel Surcharges</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Peak Surcharge - Residential</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Peak Surcharge - Commercial</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Peak Surcharge - Large Package</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Peak Surcharge - Additional Handling</dt>
								<dd>nnnn.nn USD</dd>
								<dt>Cumulative Peak Surcharge - Over Max</dt>
								<dd>nnnn.nn USD</dd>
								<dt>
									<label for="repl_id">Cumulative Charges</label>
								</dt>
								<dd><strong>nnnn.nn USD</strong></dd>
							</dl>
						</div>
						<!-- End Published Rates -->
						
						<div class="floatEnd clearfix">
							<p class="reqTxtInst">{Rate listed is cheaper, small package rate.}</p>
						</div>
						<div class="clear"></div>
						<div class="floatEnd clearfix">
							<p class="reqTxtInst">{Rate listed is a minimum or deficit rate.}</p>
						</div>
						<div class="clear"></div>
						<div class="floatEnd clearfix">
							<p>
								<input type="button" name="repl_name" value="Ship Now" class="btn btnArw">
							</p>
						</div>
						<div class="clear"></div>
					</div>
					<!-- End Section Body -->
				</fieldset>
			</div>
			<!-- End Section Level -->
			
			<p>For Minimum, Oversize, and Dimensional Weight information, refer to your <a href="repl_href">UPS Hundredweight Rate Chart</a>.  Minimum charge applies.</p>
			<p>Estimated rates being calculated may not reflect actual hundredweight rates.</p>
			<p><a href="repl_id">Hundredweight Rating Tool Help</a></p>
		</div>
		<!-- End Application Body --> 
		
		<!-- Begin Application Footer -->
		<div class="appFooter"> </div>
		<!-- End Application Footer -->
	</fieldset>
</div>
