---
title: cam_shi_shi(1add)_his(2voi)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- Begin : Page Header -->
            <div class="campusship"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <span class="header2">View History or Void Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"> </div>
            <br>
            <!-- End: Page Header -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- Begin: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr> 
                      <!-- TAB ONE-->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-on" valign="top" nowrap>Package</td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB TWO -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v2.html">Freight</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB THREE -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v3.html">International Forms</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr class="mod-line">
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB ONE ON/OFF -->
                      <td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB TWO ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB THREE ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
                    <tr>
                      <td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td valign="top"><!-- Begin: Inner Content -->
                        
                        <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td valign="top" width="546"><div class="instrpad">The shipment selected contains multiple packages. Mark one or more packages and select the <b>Submit</b> button to delete the desired packages.<br>
                                <br>
                                <table border="0" cellspacing="0" cellpadding="2">
                                  <tr>
                                    <td colspan="2">Ship From: </td>
                                    <td width="340">City Name, AA 000000, US </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">Ship To: </td>
                                    <td>City Name, AA 000000, US </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">Service:</td>
                                    <td>{service name}</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">Shipment Date: </td>
                                    <td>{weekday mm/dd/yyyy} </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2" nowrap>Payment Information:</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td width="16">&nbsp;</td>
                                    <td width="178">Bill Shipping Charges To:</td>
                                    <td>{payment method}</td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td>Bill Duties and Taxes To:</td>
                                    <td>{payment method}</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">Total:</td>
                                    <td>{nn.00} USD </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">Credit:</td>
                                    <td>*** Credit for voided packages will be reflected on your billing statement.</td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table>
                              </div>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column --> 
                                    <br>
                                    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td><a href="repl_href"><img src="/img/btn_select_mini.gif" width="12" height="12" border="0" ><img src="/img/1.gif" width="2" height="2" border="0">Select All</a> &nbsp; <a href="repl_href"><img src="/img/btn_clear_mini.gif" border="0"><img src="/img/1.gif" width="2" height="2" border="0">Clear All</a></td>
                                        <td><div align="right"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><a href="repl_href"><img alt="Back To Shipping History" border="0" height="18" src="/img_translations/en/btn_bk_ship_hist.gif" width="165"></a><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><a href="repl_href"><img alt="Void Shipment" border="0" height="18" src="/img_translations/en/btn_submit_a.gif" width="64"></a></div></td>
                                      </tr>
                                    </table>
                                    
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <!-- Begin Row: Header Rows with vertical spacing -->
                                <tr>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="18"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="119"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="119"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="119"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="50"></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><span class="bold">Tracking Number</span></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">Weight</a></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">Package Type </a></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">Voided</a></div></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr bgcolor="#ffffff">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td><input name="Shipment83Select22" type="checkbox" value="1"></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{5} {lbs}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{Your Packaging}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad" align="center"><img src="/img/icn_void_partial.gif"></div></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr bgcolor="#cccccc">
                                  <td colspan="12" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#cccccc">
                                  <td><input name="Shipment83Select22" type="checkbox" value="1"></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{5} {lbs}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{Your Packaging}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad" align="center"><img src="/img/icn_void.gif"></div></td>
                                </tr>
                                <tr bgcolor="#cccccc">
                                  <td bgcolor="#cccccc" colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Even Row with vertical spacing -->
                                <tr bgcolor="#cccccc">
                                  <td colspan="8"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column -->
                                    
                                    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td><a href="repl_href"><img src="/img/btn_select_mini.gif" width="12" height="12" border="0" ><img src="/img/1.gif" width="2" height="2" border="0">Select All</a> &nbsp; <a href="repl_href"><img src="/img/btn_clear_mini.gif" border="0"><img src="/img/1.gif" width="2" height="2" border="0">Clear All</a></td>
                                        <td><div align="right"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><a href="repl_href"><img alt="Back To Shipping History" border="0" height="18" src="/img_translations/en/btn_bk_ship_hist.gif" width="165"></a><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><a href="repl_href"><img alt="Void Shipment" border="0" height="18" src="/img_translations/en/btn_submit_a.gif" width="64"></a></div></td>
                                      </tr>
                                    </table>
                                    <br>
                                    
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table>
                        
                        <!-- End: Inner Content --></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- end application content -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </div>
        </div>
      </form>
  </div>

<!--

******************************
CHANGE LOG: 09/01/06
------------------------------


              <table class="mod-clr" border="0" cellpadding="0" cellspacing="0" width="566">
-To->
              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="566">

-->