---
title: Shipping Preferences
layout: legacy.hbs
version: v4
dynpnls: yes
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
					<form action="repl_fname">
						
						<!-- Begin Application Module -->
						<div class="appLvl col18 appLvlPlain">
						<!-- Begin Application Header --><!-- End Application Header --> 
						<!-- Begin Application Body -->
						<div class="appBody clearfix">
							<p id="repl_id">Customizing your Preferences will save you time by remembering your most frequently used shipping options. The options you select will appear as defaults on your shipping pages. Please note that you are not required to make a selection in every category.</p>
							
							<!-- /////////////////////////////////////////////////////// --> 
							<!-- //// Begin Shipping Options                        //// --> 
							<!-- /////////////////////////////////////////////////////// --> 
							
							<!-- Begin Section Module - SHIPPING OPTIONS -->
							<div class="secLvl step"> 
								
								<!-- Begin Section Header -->
								<div class="secHead clearfix">
									<h3 id="repl_id">Shipping Options</h3>
									<ul>
										<li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
									</ul>
								</div>
								<!-- End Section Header --> 
								
								<!-- Begin Section Body -->
								<div class="secBody"> 
									
									<!-- Begin Column -->
									<div class="subcol9 marginBegin">
										<dl role="presentation">
											<dt>
												<label id="repl_id" for="repl_id">Service:</label>
											</dt>
											<dd>
												<select name="repl_name" id="repl_id" class="formcol6">
													<option value="repl_value" selected>Select Service</option>
												</select>
											</dd>
										</dl>
										<dl role="presentation">
											<dt>
												<label id="repl_id" for="repl_id">My Preferred Ship From Address:</label>
											</dt>
											<dd>
												<select name="repl_name" id="repl_id">
													<option value="repl_value">Select One</option>
													<option value="repl_value" selected>My Location Address</option>
												</select>
											</dd>
											<dt>
												<label id="repl_id" for="repl_id">My Preferred Return Address:</label>
											</dt>
											<dd>
												<select name="repl_name" id="repl_id">
													<option value="repl_value">Select One</option>
													<option value="repl_value" selected>My Location Address</option>
												</select>
											</dd>
										</dl>
									</div>
									<!-- End Column --> 
									
									<!-- Begin Column -->
									<div class="subcol9 marginEnd">
										<dl role="presentation">
											<dt>
												<label id="repl_id" for="repl_id">Packaging Type:</label>
											</dt>
											<dd>
												<select name="repl_name" id="repl_id" class="formcol5">
													<option value="repl_value" selected>Select One</option>
												</select>
											</dd>
										</dl>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td valign="top"><input name="repl_name" type="checkbox" value="repl_value" id="repl_id" checked="checked"></td>
												<td><label id="repl_id" for="repl_id" class="sel">Review Shipping details, including price, before completing this shipment.</label></td>
											</tr>
											<tr>
												<td valign="top"><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
												<td><label id="repl_id" for="repl_id" class="sel">Default to Save As Shipping Ticket.</label></td>
											</tr>
											<tr>
												<td valign="top"><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
												<td><label id="repl_id" for="repl_id" class="sel"> Offset the climate impact of all my shipments using <a href="repl_href" class="btnlnkR helpIconR">UPS carbon neutral</a> </label></td>
											</tr>
											<tr>
												<td valign="top"><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
												<td><label id="repl_id" for="repl_id" class="sel">Use my USB-connected scale to weigh my packages.</label></td>
											</tr>
										</table>
									</div>
									<!-- End Column -->
									
									<div class="clear"></div>
									<hr class="hr">
									<div class="clearfix">
										<p>Select a pickup and delivery preference for UPS Worldwide Express Freight<sup>SM</sup> shipments.</p>
										<dl role="presentation" class="marginBegin subcol8 clearfix">
											<dt>
												<label for="repl_id" id="repl_id"> <a href="repl_href" class="btnlnkR helpIconR">Pickup Options:</a> </label>
											</dt>
											<dd>
												<select name="repl_name" id="repl_id" class="formcol6">
													<option value="repl_value" selected>UPS will pickup</option>
												</select>
											</dd>
										</dl>
										<dl role="presentation" class="marginEnd subcol6 clearfix">
											<dt>
												<label for="repl_id" id="repl_id"> <a href="repl_href" class="btnlnkR helpIconR">Delivery Options:</a> </label>
											</dt>
											<dd>
												<select name="repl_name" id="repl_id" class="formcol8">
													<option value="repl_value" selected>UPS will deliver</option>
												</select>
											</dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<!-- End Section Body --> 
								
								<!-- Begin Section Footer --><!-- End Section Footer --> 
								
							</div>
							<!-- End Section Module - SHIPPING OPTIONS --> 
							
							<!-- /////////////////////////////////////////////////////// --> 
							<!-- //// End Shipping Options                          //// --> 
							<!-- //// Begin Edit Alternate Address Options          //// --> 
							<!-- /////////////////////////////////////////////////////// --> 
							
							<!--** ER1401 Begin Section Module - ALTERNATE DELIVERY ADDRESS **-->
							<div class="secLvl step"> 
								
								<!--** Begin Section Header **-->
								<div class="secHead clearfix">
									<h3 id="repl_id">Edit Alternate Delivery Address Options</h3>
								</div>
								<!--** End Section Header **--> 
								
								<!--** Begin Section Body **-->
								<div class="secBody">
									<dl role="presentation" class="flexFirst">
										<dt>
											<label for="repl_id" id="repl_id">Send Notifications By:</label>
										</dt>
										<dd>
											<select name="repl_name" id="repl_id" class="formcol6">
												<option value="repl_value" selected>E-mail</option>
												<option value="repl_value" >exampleLongText@example.com</option>
											</select>
										</dd>
									</dl>
									<dl role="presentation" class="flexAfter">
										<dt>
											<label for="repl_id" id="repl_id">Notification Language:</label>
										</dt>
										<dd>
											<select name="repl_name" id="repl_id" class="formcol8">
												<option value="repl_value" selected>Select One</option>
												<option value="repl_value">Notifications very long text example</option>
											</select>
										</dd>
									</dl>
									<div class="clear"></div>
								</div>
								<!--** End Section Body **--> 
								
							</div>
							<!--** End Section Module - ALTERNATE DELIVERY ADDRESS **--> 
							
							<!-- /////////////////////////////////////////////////////// --> 
							<!-- //// End Edit Alternate Address Options            //// --> 
							<!-- //// Begin Return Options                          //// --> 
							<!-- /////////////////////////////////////////////////////// --> 
							
							<!-- Begin Section Module - RETURN OPTIONS -->
							<div class="secLvl step clearfix"> 
								
								<!-- Begin Section Header -->
								<div class="secHead clearfix">
									<h3>Return Options</h3>
								</div>
								<!-- End Section Header --> 
								
								<!-- Begin Section Body -->
								<div class="secBody">
									<dl role="presentation">
										<dt>
											<label for="repl_id">Return To Address:</label>
										</dt>
										<dd>
											<select name="repl_name" id="repl_id" class="formcol6">
												<option value="repl_value" selected>Select One</option>
											</select>
										</dd>
									</dl>
									<hr class="hr">
									<p>Set pickup or delivery preferences for Return or Import Control shipments using UPS Worldwide Express Freight<sup>sm</sup> as the selected service.</p>
									<dl role="presentation" class="flexFirst clearfix">
										<dt>
											<label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Pickup Options:</a></label>
										</dt>
										<dd>
											<select name="repl_name" id="repl_id" class="formcol6">
												<option value="repl_value" selected="selected">UPS will Pickup</option>
												<option>another longer option to show spacing</option>
											</select>
										</dd>
									</dl>
									<dl role="presentation" class="flexAfter clearfix">
										<dt>
											<label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Delivery Options:</a></label>
										</dt>
										<dd>
											<select name="repl_name" id="repl_id" class="formcol6">
												<option value="repl_value" selected="selected">UPS will Deliver</option>
												<option>another longer option to show spacing</option>
											</select>
										</dd>
									</dl>
									<div class="clear"></div>
								</div>
								<!-- End Section Body --> 
								
								<!-- Begin Section Footer --><!-- End Section Footer --> 
								
							</div>
							<!-- End Section Module - RETURN OPTIONS --> 
							
							<!-- /////////////////////////////////////////////////////// --> 
							<!-- //// End Return Options                            //// --> 
							<!-- //// Begin Custom Package Types                    //// --> 
							<!-- /////////////////////////////////////////////////////// --> 
							
							<!-- Begin Section Module - CUSTOM PACKAGE TYPES -->
							<div class="secLvl step"> 
								
								<!-- Begin Section Header -->
								<div class="secHead clearfix">
									<h3>Custom Package Types</h3>
								</div>
								<!-- End Section Header --> 
								
								<!-- Begin Section Body -->
								<div class="secBody step clearfix">
									<h4>Custom Packaging Types</h4>
									<div class="group clearfix">
										<div id="dyn_pnl_1">
											<div id="pnl_1_1">
												<dl role="presentation" class="outHozFixed2">
													<dt>Define up to 20 Custom package Types for your own frequently used packaging.</dt>
													<dd><a class="btnlnkL plusMini" href="repl_href">View/Edit</a></dd>
												</dl>
											</div>
											<div id="pnl_1_2">
												<dl role="presentation" class="outHozFixed2">
													<dt>Manage your library of custom packaging types. [Delete one or more existing custom package types to add new custom package types.]</dt>
												</dl>
												<div class="clear"></div>
												<p><a class="btnlnkL plusMini" href="repl_href">Add New Custom Package Type</a></p>
												<div class="clearfix">
													<table class="dataTable full" border="0" cellpadding="0" cellspacing="0">
														<thead>
															<tr>
																<th class="sel"><input type="checkbox" value="" name="repl_name" id="repl_id"></th>
																<th>Name</th>
																<th>Dimensions L x W x H</th>
																<th>&nbsp;</th>
															</tr>
														</thead>
														<tbody>
															<tr class="odd">
																<td class="sel"><input type="checkbox" value="" name="repl_name" id="repl_id"></td>
																<td>[Package Name 1]</td>
																<td>[00] x [00] x [00] [in/cm]</td>
																<td><a href="repl_href" class="btnlnk">edit</a> |
																	<input name="repl_name" class="btnlnkL closeIconBrn" type="button" value=""/></td>
															</tr>
															<tr>
																<td class="sel"><input type="checkbox" value="" name="repl_name" id="repl_id"></td>
																<td>[Package Name 2]</td>
																<td>[00] x [00] x [00] [in/cm]</td>
																<td><a href="repl_href" class="btnlnk">edit</a> |
																	<input name="repl_name" class="btnlnkL closeIconBrn" type="button" value=""/></td>
															</tr>
															<tr class="odd">
																<td class="sel"><input type="checkbox" value="" name="repl_name" id="repl_id"></td>
																<td>[Package Name 3]</td>
																<td>[00] x [00] x [00] [in/cm]</td>
																<td><a href="repl_href" class="btnlnk">edit</a> |
																	<input name="repl_name" class="btnlnkL closeIconBrn" type="button" value=""/></td>
															</tr>
															<tr>
																<td class="sel"><input type="checkbox" value="" name="repl_name" id="repl_id"></td>
																<td>[Package Name 4]</td>
																<td>[00] x [00] x [00] [in/cm]</td>
																<td><a href="repl_href" class="btnlnk">edit</a> |
																	<input name="repl_name" class="btnlnkL closeIconBrn" type="button" value=""/></td>
															</tr>
														</tbody>
													</table>
													<div class="floatBegin clearfix">
														<p> <a class="btnlnkL crossMini" href="repl_href">Delete Selected Packate Type(s)</a> </p>
													</div>
													<div class="floatEnd clearfix">
														<p> <a href="repl_href" class="btnlnk">Close</a> </p>
													</div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
										</div>
										</div>
									<!-- End Section Body --> 
									
								</div>
								<!-- End Section Module - CUSTOM PACKAGE TYPES--> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Custom Package Types                      //// --> 
								<!-- //// Begin Reference Values                        //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - REFERENCE VALUES -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">Reference Values</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody"> 
										
										<!-- Begin Column -->
										<div class="subcol9 marginBegin">
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id">Reference #1:</label>
												</dt>
												<dd>
													<input name="repl_name" type="text" id="repl_id">
													<a href="repl_href">Search</a> </dd>
												<dt>
													<label id="repl_id" for="repl_id">Reference #2:</label>
												</dt>
												<dd>
													<input name="repl_name" type="text" id="repl_id">
													<a href="repl_href">Search</a> </dd>
												<dt>
													<label id="repl_id" for="repl_id">Reference #3:</label>
												</dt>
												<dd>
													<input name="repl_name" type="text" id="repl_id">
													<a href="repl_href">Search</a> </dd>
											</dl>
										</div>
										<!-- End Column --> 
										
										<!-- Begin Column -->
										<div class="subcol9 marginEnd">
											<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
													<td><label id="repl_id" for="repl_id" class="sel">Print Reference #1 on Shipping Label as Bar Code</label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
													<td><label id="repl_id" for="repl_id" class="sel">Print Reference #1 on Return Label as Bar Code</label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
													<td><label id="repl_id" for="repl_id" class="sel">Print Reference #1 on Import Label as Bar Code</label></td>
												</tr>
											</table>
										</div>
										<!-- End Column -->
										<div class="clearfix"></div>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module - REFERENCE VALUES --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Reference Values                          //// --> 
								<!-- //// Begin Payment Method                          //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - PAYMENT MODULE -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">Payment Method</h3>
									</div>
									<!-- End Section Header --> 
									
									<div id="dyn_pnl_2">
										<!--Payment Method - Default-->
										<div id="pnl_2_1">
											<!-- Begin Section Body -->
											<div class="secBody">
												<p id="repl_id">Select default payment methods for shipping charges. You may select a default payment method for international shipment Duties and Taxes.</p>
												<div class="secLvl secLvlPlain subcol9 marginBegin">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Bill Shipping Charges to:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">Shipper's UPS Account</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginEnd">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Bill Duties and Taxes to:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">Receiver</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="clear"></div>
												<div class="clearfix">
													<dl role="presentation" class="outHozFixed clearfix">
														<dt> <span id="repl_id">Default UPS Account Number:</span> </dt>
														<dd id="repl_id"><strong>V69W42</strong></dd>
														<dt> <span id="repl_id">Air Freight 9-Digit Account Number:</span> </dt>
														<dd id="repl_id"><strong>123456789</strong></dd>
													</dl>
													<div class="clear"></div>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginBegin">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Existing Payment Methods:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">None Selected</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginEnd">
													<dl role="presentation">
														<dt>&nbsp; </dt>
														<dd> <a href="repl_href" class="btnlnk">Add or Edit Payment Methods</a> </dd>
													</dl>
												</div>
												<div class="clear"></div>									
												<div class="clearfix">
													<table summary="repl_summary" title="repl_title">
														<tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
															<td><label id="repl_id2" for="repl_id1" class="sel">Bill Declared Value Charges to Shipper (Third Party and Receiver)</label></td>
														</tr>
													</table>
												</div>
												<hr class="hr">
												<div class="clearfix"> <span class="label">Split Duties and Taxes</span>
													<p>Selecting Split Duty VAT for your shipment indicates a payer for shipping and duties, and a different payer of taxes (VAT). Any non-shipping charges will be calculated during transit and reflected on the final bill for the shipment. There is a small charge on your final bill for splitting duties and taxes.</p>
													<table summary="repl_summary" title="repl_title">
														<tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
															<td><label id="repl_id2" for="repl_id1"class="sel"> <a href="repl_href" class="btnlnkR helpIconR">Split Duty/VAT</a> </label></td>
														</tr>
													</table>
												</div>
												<div class="clearfix">
													<p>Enter Third Party account information to have it automatically populate when you are billing to Third Parties.</p>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id" id="repl_id">Third Party UPS Account:</label>
														</dt>
														<dd>
															<input type="text" id="repl_id" value="">
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id" id="repl_id">Third Party Postal Code:</label>
														</dt>
														<dd>
															<input type="text" id="repl_id" value="">
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id" id="repl_id">Country or Territory:</label>
														</dt>
														<dd>
															<select id="repl_id" class="formcol5">
																<option value="repl_value" selected>United States</option>
															</select>
														</dd>
													</dl>
													<div class="clear"></div>
												</div>
											</div>
											<!-- End Section Body --> 
										</div>
										<!--Payment Method - No Saved Paypal account-->
										<div id="pnl_2_2">
											<!-- Begin Section Body -->
											<div class="secBody">
												<p id="repl_id">Select default payment methods for shipping charges. You may select a default payment method for international shipment Duties and Taxes.</p>
												<div class="secLvl secLvlPlain subcol9 marginBegin">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Bill Shipping Charges to:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">Shipper's UPS Account</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginEnd">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Bill Duties and Taxes to:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">Receiver</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="clear"></div>
												<div class="clearfix">
													<dl role="presentation" class="outHozFixed clearfix">
														<dt> <span id="repl_id">Default UPS Account Number:</span> </dt>
														<dd id="repl_id"><strong>V69W42</strong></dd>
														<dt> <span id="repl_id">Air Freight 9-Digit Account Number:</span> </dt>
														<dd id="repl_id"><strong>123456789</strong></dd>
													</dl>
													<div class="clear"></div>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginBegin">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Existing PayPal Account:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">None Selected</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginEnd">
													<dl role="presentation">
														<dt> <a href="repl_href" class="btnlnk">Modify Existing Payment Card</a> </dt>
														<dd> <a href="repl_href" class="btnlnk">Enter New Payment Card</a> </dd>
														<div class="group clearfix">
															<ul class="cc">
																<li><img src="/img/inf_cc_30x23_amex.gif" alt="American Express" title="American Express"></li>
																<li><img src="/img/inf_cc_30x23_visa.gif" alt="Visa" title="Visa"></li>
																<li><img src="/img/inf_cc_30x23_mcard.gif" alt="MasterCard" title="MasterCard"></li>
																<li><img src="/img/inf_cc_30x23_discover.gif" alt="Discover" title="Discover"></li>
															</ul>
														</div>
													</dl>
												</div>
												<div class="clear"></div>
												<div class="secLvl secLvlPlain subcol9 marginBegin">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Existing PayPal Account:</label>
														</dt>
														<dd>
															<p>None Added</p>
														</dd>
													</dl>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginEnd">
													<dl role="presentation">
														<dt> <a href="repl_href" class="btnlnk">Add a PayPal Account</a> </dt>
														<dd>
															<div class="group clearfix" style="margin-top:10px;"> <img src="/img/inf_cc_76x48_paypal.gif" alt="PayPal" title="PayPal"> </div>
														</dd>
													</dl>
												</div>
												<div class="clear"></div>										
												<div class="clearfix">
													<table summary="repl_summary" title="repl_title">
														<tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
															<td><label id="repl_id2" for="repl_id1" class="sel">Bill Declared Value Charges to Shipper (Third Party and Receiver)</label></td>
														</tr>
													</table>
												</div>
												<hr class="hr">
												<div class="clearfix"> <span class="label">Split Duties and Taxes</span>
													<p>Selecting Split Duty VAT for your shipment indicates a payer for shipping and duties, and a different payer of taxes (VAT). Any non-shipping charges will be calculated during transit and reflected on the final bill for the shipment. There is a small charge on your final bill for splitting duties and taxes.</p>
													<table summary="repl_summary" title="repl_title">
														<tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
															<td><label id="repl_id2" for="repl_id1"class="sel"> <a href="repl_href" class="btnlnkR helpIconR">Split Duty/VAT</a> </label></td>
														</tr>
													</table>
												</div>
												<div class="clearfix">
													<p>Enter Third Party account information to have it automatically populate when you are billing to Third Parties.</p>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id" id="repl_id">Third Party UPS Account:</label>
														</dt>
														<dd>
															<input type="text" id="repl_id" value="">
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id" id="repl_id">Third Party Postal Code:</label>
														</dt>
														<dd>
															<input type="text" id="repl_id" value="">
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id" id="repl_id">Country or Territory:</label>
														</dt>
														<dd>
															<select id="repl_id" class="formcol5">
																<option value="repl_value" selected>United States</option>
															</select>
														</dd>
													</dl>
													<div class="clear"></div>
												</div>
											</div>
											<!-- End Section Body --> 
										</div>
										<!-- Payment Method - Saved PayPal Account-->
										<div id="pnl_2_3">
											<!-- Begin Section Body -->
											<div class="secBody">
												<p id="repl_id">Select default payment methods for shipping charges. You may select a default payment method for international shipment Duties and Taxes.</p>
												<div class="secLvl secLvlPlain subcol9 marginBegin">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Bill Shipping Charges to:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">Shipper's UPS Account</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginEnd">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Bill Duties and Taxes to:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">Receiver</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="clear"></div>
												<div class="clearfix">
													<dl role="presentation" class="outHozFixed clearfix">
														<dt> <span id="repl_id">Default UPS Account Number:</span> </dt>
														<dd id="repl_id"><strong>V69W42</strong></dd>
														<dt> <span id="repl_id">Air Freight 9-Digit Account Number:</span> </dt>
														<dd id="repl_id"><strong>123456789</strong></dd>
													</dl>
													<div class="clear"></div>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginBegin">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Existing Payment Cards:</label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="repl_value">None Selected</option>
															</select>
														</dd>
													</dl>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginEnd">
													<dl role="presentation">
														<dt> <a href="repl_href" class="btnlnk">Modify Existing Payment Card</a> </dt>
														<dd> <a href="repl_href" class="btnlnk">Enter New Payment Card</a> </dd>
														<div class="group clearfix">
															<ul class="cc">
																<li><img src="/img/inf_cc_30x23_amex.gif" alt="American Express" title="American Express"></li>
																<li><img src="/img/inf_cc_30x23_visa.gif" alt="Visa" title="Visa"></li>
																<li><img src="/img/inf_cc_30x23_mcard.gif" alt="MasterCard" title="MasterCard"></li>
																<li><img src="/img/inf_cc_30x23_discover.gif" alt="Discover" title="Discover"></li>
															</ul>
														</div>
													</dl>
												</div>
												<div class="clear"></div>
												<div class="secLvl secLvlPlain subcol9 marginBegin">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id">Existing PayPal Account:</label>
														</dt>
														<dd>
															<p>{Paypal Nickname}</p>
														</dd>
													</dl>
												</div>
												<div class="secLvl secLvlPlain subcol9 marginEnd">
													<dl role="presentation">
														<dt> <a href="repl_href" class="btnlnk">Modify PayPal Account</a> </dt>
														<dd>
															<div class="group clearfix" style="margin-top:10px;"> <img src="/img/inf_cc_76x48_paypal.gif" alt="PayPal" title="PayPal"> </div>
														</dd>
													</dl>
												</div>
												<div class="clear"></div>										
												<div class="clearfix">
													<table summary="repl_summary" title="repl_title">
														<!-- <caption>repl_caption</caption> -->
														<tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
															<td><label id="repl_id2" for="repl_id1" class="sel">Bill Declared Value Charges to Shipper (Third Party and Receiver)</label></td>
														</tr>
													</table>
												</div>
												<div class="clearfix"> <span class="label">Split Duties and Taxes</span>
													<p>Selecting Split Duty VAT for your shipment indicates a payer for shipping and duties, and a different payer of taxes (VAT). Any non-shipping charges will be calculated during transit and reflected on the final bill for the shipment. There is a small charge on your final bill for splitting duties and taxes.</p>
													<table summary="repl_summary" title="repl_title">
														<!-- <caption>repl_caption</caption> -->
														<tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
															<td><label id="repl_id2" for="repl_id1"class="sel"> <a href="repl_href" class="btnlnkR helpIconR">Split Duty/VAT</a> </label></td>
														</tr>
													</table>
												</div>
												<div class="clearfix">
													<p>Enter Third Party account information to have it automatically populate when you are billing to Third Parties.</p>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id" id="repl_id">Third Party UPS Account:</label>
														</dt>
														<dd>
															<input type="text" id="repl_id" value="">
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id" id="repl_id">Third Party Postal Code:</label>
														</dt>
														<dd>
															<input type="text" id="repl_id" value="">
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id" id="repl_id">Country or Territory:</label>
														</dt>
														<dd>
															<select id="repl_id" class="formcol5">
																<option value="repl_value" selected>United States</option>
															</select>
														</dd>
													</dl>
													<div class="clear"></div>
												</div>
											</div>
											<!-- End Section Body --> 
										</div>
									</div>
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module - PAYMENT MODULE --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Payment Method                            //// --> 
								<!-- //// Begin Quantum View Notify                     //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - QUANTUM VIEW NOTIFY -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">Quantum View NotifySM</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody">
										<p id="repl_id">Setting notification preferences will save you time by remembering your most frequently used E-mail recipients. You can also select the type of notification (Ship/Label Created, Exception, and/or Delivery Notification) for each E-mail address.  The options you select will appear as defaults on future shipments.</p>
										<p id="repl_id"><strong>Note:</strong> These notification preferences also apply to UPS Returns and UPS Import Control shipments.</p>
										<p>Always send E-mail <a href="repl_name" class="helpIconR btnlnkR">notification</a>to (Select up to five)</p>
										<table border="0" cellspacing="0" cellpadding="0" class="dataTable full">
											<tr>
												<th colspan="2"><label id="repl_id" for="repl_id">&nbsp;</label></th>
												<th class="alignCenter"><label id="repl_id" for="repl_id">Ship</label></th>
												<th class="alignCenter"><label id="repl_id" for="repl_id">Exception</label></th>
												<th class="alignCenter"><label id="repl_id" for="repl_id">Delivery</label></th>
											</tr>
											<tr class="odd">
												<td colspan="2">Sender - jsmith@email.com</td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value" checked></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value" checked></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value" checked></td>
											</tr>
											<tr>
												<td colspan="2">Recipient- use Ship To E-mail</td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value" checked></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value" checked></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
											</tr>
											<tr class="odd">
												<td class="sel alignCenter">1.</td>
												<td><input name="input2" type="text" id="repl_id" value="testy@email.com"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value" checked></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value" checked></td>
											</tr>
											<tr>
												<td class="sel alignCenter">2.</td>
												<td><input name="input" type="text" id="repl_id"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
											</tr>
											<tr class="odd">
												<td class="sel alignCenter">3.</td>
												<td><input name="input" type="text" id="repl_id"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
											</tr>
											<tr>
												<td class="sel alignCenter">4.</td>
												<td><input name="input" type="text" id="repl_id"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
											</tr>
											<tr class="odd">
												<td class="sel alignCenter">5.</td>
												<td><input name="input" type="text" id="repl_id"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
												<td class="alignCenter"><input name="input" type="checkbox" value="repl_value"></td>
											</tr>
										</table>
										<dl role="presentation">
											<dt>
												<label id="repl_id" for="repl_id">Default E-mail Subject Line:</label>
											</dt>
											<dd>
												<select name="repl_name" id="repl_id" class="formcol5">
													<option value="repl_value">Tracking Number</option>
												</select>
											</dd>
											<dt>
												<label id="repl_id" for="repl_id">Personal E-mail Message:</label>
											</dt>
											<dd>
												<div class="clearfix">
													<textarea name="default" cols="35" id="repl_id" rows="2" class="full"></textarea>
													<div class="reqTxtInst">(Maximum 150 characters)</div>
												</div>
											</dd>
										</dl>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td valign="top"><input name="qv_email_problem" type="checkbox" id="repl_id" value="repl_value" checked></td>
												<td><label id="repl_id" for="repl_id" class="sel">Notify me if there is a problem delivering any of these e-mails.</label>
													<div class="clearfix">
														<input name="repl_name" type="text" value="jsmith@email.com" size="32">
													</div></td>
											</tr>
										</table>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module - QUANTUM VIEW NOTIFY --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Quantum View Notify                       //// --> 
								<!-- //// Begin UPS Pickup Request Times                //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - UPS PICKUP REQUEST -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">UPS Pickup Request Times</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody">
										<p id="repl_id">Set pickup time preferences for use by any shipping or pickup application.</p>
										<div class="marginBegin subcol9">
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id"> <a href="" id="repl_id" class="btnlnkR helpIconR">Earliest Pickup Time:</a> </label>
												</dt>
												<dd>
													<select name="repl_name" id="repl_id">
														<option value="repl_value" selected>12</option>
													</select>
													:
													<select name="repl_name" id="repl_id">
														<option value="repl_value">00</option>
													</select>
													<input name="repl_name01" type="radio" value="repl_value" id="repl_id" checked>
													A.M.
													<input name="repl_name01" type="radio" value="repl_value" id="repl_id" >
													P.M.&nbsp;&nbsp;&nbsp; </dd>
											</dl>
										</div>
										<div class="marginEnd subcol8">
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id"> <a href="" id="repl_id" class="btnlnkR helpIconR">Latest Pickup Time:</a> </label>
												</dt>
												<dd>
													<select name="repl_name" id="repl_id">
														<option value="repl_value">5</option>
													</select>
													:
													<select name="repl_name" id="repl_id">
														<option value="repl_value">00</option>
													</select>
													PM </dd>
											</dl>
										</div>
										<div class="clear"></div>
										<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
										<p>These settings below will only apply when creating pickup requests using the Schedule a Pickup application on UPS.com</p>
										<h4>Pickup Location</h4>
										
										<!-- Begin Column -->
										<div class="subcol9 marginBegin">
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id">Company  or Name:</label>
												</dt>
												<dd>
													<input type="text" size="32" value="UPS Innoplex" name="repl_name" id="repl_id">
													<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
												<dt>
													<label id="repl_id" for="repl_id">Contact:</label>
												</dt>
												<dd>
													<input type="text" size="32" value="name" name="repl_name" id="repl_id">
												</dd>
												<dt><label for="selectbox">Country or Territory</label></dt>
	<dd>
		<select name="repl_name" id="selectbox" class="formcol5">
			<option value="repl_value" selected>United States</option>
			<option value="repl_value">Option 2 which is much longer than Option 1</option>
		</select>
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
	</dd>
												<dt>
													<label id="repl_id" for="repl_id">Address Line 1:</label>
												</dt>
												<dd>
													<input type="text" size="32" value="2010 Warsaw Rd." name="repl_name" id="repl_id">
													<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
												<dt>
													<label id="repl_id" for="repl_id">Address Line 2:</label>
												</dt>
												<dd>
													<input type="text" size="32" name="repl_name" id="repl_id">
													<div class="reqTxtInst">Apartment, suite, unit, building, floor, etc.</div>
												</dd>
												<dt>
													<label id="repl_id" for="repl_id">Address Line 3:</label>
												</dt>
												<dd>
													<input type="text" size="32" name="repl_name" id="repl_id">
													<div class="reqTxtInst">Department, c/o, etc</div>
												</dd>
											</dl>
										</div>
										<!-- End Column --> 
										
										<!-- Begin Column -->
										<div class="subcol9 marginEnd">
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id">City:</label>
												</dt>
												<dd>
													<input type="text" size="32" value="Roswell" name="repl_name" id="repl_id">
													<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
												<dt>
													<label id="repl_id" for="repl_id">State:</label>
												</dt>
												<dd>
													<select name="repl_name" id="repl_id">
														<option value="repl_value">Georgia</option>
													</select>
													<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
												<dt>
													<label id="repl_id" for="repl_id">Zip Code:</label>
												</dt>
												<dd>
													<input type="text" size="15" value="30076" name="repl_name" id="repl_id">
													<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
											</dl>
											<dl role="presentation" class="flexFirst">
												<dt>
													<label id="repl_id" for="repl_id">Telephone:</label>
												</dt>
												<dd>
													<input type="text" size="15" value="678-585-1000" name="repl_name" id="repl_id">
												</dd>
											</dl>
											<dl role="presentation" class="flexAfter">
												<dt>
													<label id="repl_id" for="repl_id">Ext.:</label>
												</dt>
												<dd>
													<input type="text" size="5" name="repl_name" id="repl_id">
												</dd>
											</dl>
											<div class="clear"></div>
										</div>
										<!-- End Column -->
										
										<div class="clear"></div>
										<div class="clearfix">
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id">Preferred Pickup Location:</label>
												</dt>
												<dd>
													<select name="repl_name" id="repl_id" class="formcol5">
														<option value="repl_value" selected>Select One</option>
													</select>
												</dd>
												<dt>
													<label id="repl_id" for="repl_id">Enter any special instructions for the UPS driver:</label>
												</dt>
												<dd>
													<input type="text" size="32" name="repl_name" id="repl_id">
													<div class="reqTxtInst">(32 character max)</div>
												</dd>
											</dl>
										</div>
										<hr class="hr">
										<h4 id="repl_id">UPS Account Information</h4>
										<p id="repl_id">If pickup charges will apply, choosing a UPS account number will provide you with the opportunity to bill pickup charges to a third party or the receiver.</p>
										<dl role="presentation">
											<dt>
												<label id="repl_id" for="repl_id">Your saved UPS Account Numbers:</label>
											</dt>
											<dd>
												<select name="repl_name" id="repl_id" class="formcol5">
													<option value="repl_value" selected>None Selected</option>
												</select>
											</dd>
											<dd><a href="repl_href" class="btnlnkL plusMini">Add another Account</a></dd>
										</dl>
										<p id="repl_id"><strong>Note:</strong> Selecting a UPS Account Number with a Daily, a Day-Specific or Smart Pickup may override your preferred pickup location for scheduling a pickup.</p>
										<hr class="hr">
										<p id="repl_id">UPS will send an email to the addresses below with confirmation of this pickup request.</p>
										<dl role="presentation">
											<dt>
												<label id="repl_id" for="repl_id">Email Addresses:</label>
											</dt>
											<dd>
												<input name="repl_name" type="text" id="repl_id" value="jsmith@email.com">
												<br>
												<input name="repl_name" type="text" id="repl_id">
											</dd>
										</dl>
										<dl role="presentation">
											<dt>
												<label id="repl_id" for="repl_id">Enter a personalized message to be included in the e-mail.*</label>
											</dt>
											<dd>
												<textarea name="repl_name" cols="32" rows="3" class="full"></textarea>
											</dd>
											<dt>
												<label id="repl_id" for="repl_id">In the event that any of the above e-mail addresses cannot be dreached, to whom would you like to us send an e-mail?</label>
											</dt>
											<dd>
												<input name="repl_name" type="text" id="repl_id" size="32">
												<div class="reqTxtInst">(Required for e-mail notifications.)</div>
											</dd>
										</dl>
										<p id="repl_id">* - This application provides you with the ability to send a message via electronic mail to a contact person at the requested pickup location. You agree to use this message service solely to communicate information related to the shipment and transmit only lawful messages that do not include lewd, offensive or illegal content. In no event shall UPS be liable for the content of the message or any failure or delay in the transmission or receipt of the message.</p>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module - UPS PICKUP REQUEST --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End UPS Pickup Request Times                  //// --> 
								<!-- //// Begin Printing Preference                     //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - PRINTING PREFERENCES -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">Printing Preferences</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody">
										<legend>replace_legend</legend>
										<div class="secLvl secLvlPlain clearfix">
											<legend>replace_legend</legend>
											<table border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td><input name="repl_name" type="checkbox" value="Receipt" checked="checked"></td>
													<td colspan="2"><label id="repl_id" for="repl_id" class="sel">Print label instructions</label></td>
												</tr>
												<tr>
													<td>&nbsp;</td>
													<td><input name="repl_name02" type="radio" value="repl_value" checked="checked"></td>
													<td><label id="repl_id" for="repl_id" class="sel">On each label</label></td>
												</tr>
												<tr>
													<td>&nbsp;</td>
													<td><input name="repl_name02" type="radio" value="repl_value"></td>
													<td><label id="repl_id" for="repl_id" class="sel">On first label only</label></td>
												</tr>
											</table>
											<p class="indent" id="repl_id">(Shipments requiring a signature or special instructions will always print label instructions regardless of this setting.)</p>
											<div class="clearfix">
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td><input name="repl_name" type="checkbox" value="repl_value"></td>
														<td><label id="repl_id" for="repl_id" class="sel">Print Receipt</label></td>
													</tr>
												</table>
											</div>
											
											<!-- Begin Column -->
											<div class="floatBegin">
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td><input name="repl_name" type="checkbox" value="repl_value"></td>
														<td><label id="repl_id" for="repl_id" class="sel">Use my UPS thermal printer to print labels</label></td>
													</tr>
													<tr>
														<td><input name="repl_name" type="checkbox" value="repl_value"></td>
														<td><label id="repl_id" for="repl_id" class="sel">Use my UPS thermal printer to print receipts</label></td>
													</tr>
												</table>
											</div>
											<!-- End Column --> 
											
											<!-- Begin Column -->
											<div class="floatBegin">
												<ul>
													<li><a href="repl_href">Install a  UPS Thermal Printer</a></li>
													<li><a href="repl_href">Print a Sample Label</a></li>
												</ul>
											</div>
											<!-- End Column --> 
											
										</div>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module - PRINTING PREFERENCES --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Printing Preference                       //// --> 
								<!-- //// Begin Shipping History                        //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - SHIPPING HISTORY -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">Shipping History</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody"> 
										
										<!-- Begin Column -->
										<div class="floatBegin">
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id">Default Display:</label>
												</dt>
												<dd>
													<select name="repl_name" id="repl_id" class="formcol5">
														<option value="repl_value">Last 7 Days</option>
													</select>
												</dd>
											</dl>
										</div>
										<!-- End Column --> 
										
										<!-- Begin Column -->
										<div class="floatEnd">
											<table border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td><input name="repl_name" type="checkbox" value="Receipt" checked="checked"></td>
													<td><label id="repl_id" for="repl_id" class="sel">Use default History Table settings</label></td>
												</tr>
											</table>
										</div>
										<!-- End Column -->
										<div class="clearfix"></div>
										<p id="repl_id">Change your Shipping History display by selecting the field you wish to appear in each column.</p>
										<table border="0" cellspacing="0" cellpadding="0" class="dataTable full">
											<tr>
												<th><label id="repl_id" for="repl_id">Column</label></th>
												<th><label id="repl_id" for="repl_id">Currently Displays</label></th>
												<th><label id="repl_id" for="repl_id">Change Display To</label></th>
											</tr>
											<tr class="odd">
												<td>1</td>
												<td>Shipped Date</td>
												<td><select name="select" class="formcol7">
														<option value="repl_value">Shipped Date</option>
													</select></td>
											</tr>
											<tr>
												<td>2</td>
												<td>Ship To - Company or Name</td>
												<td><select name="select" class="formcol7">
														<option value="repl_value">Ship To - Company or Name</option>
													</select></td>
											</tr>
											<tr class="odd">
												<td>3</td>
												<td>Service</td>
												<td><select name="select" class="formcol7">
														<option value="repl_value">Service</option>
													</select></td>
											</tr>
											<tr>
												<td>4</td>
												<td>Shipment Tracking #</td>
												<td><select name="select" class="formcol7">
														<option value="repl_value">Shipment Tracking #</option>
													</select></td>
											</tr>
										</table>
										
										<!-- Begin Column -->
										<div class="subcol9 marginBegin">
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id">Sort Table By:</label>
												</dt>
												<dd>
													<select name="repl_name" id="repl_id" class="formcol6">
														<option value="repl_value">Column 1</option>
													</select>
												</dd>
											</dl>
										</div>
										<!-- End Column --> 
										
										<!-- Begin Column -->
										<div class="subcol9 marginEnd">
											<label id="repl_id" for="repl_id">Display Sorted History Table Results</label>
											<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td><input name="repl_name" type="radio" value="repl_value" id="repl_id"></td>
													<td><label id="repl_id" for="repl_id" class="sel">Ascending (A-Z, or 1-100)</label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="radio" value="repl_value" checked id="repl_id"></td>
													<td><label id="repl_id" for="repl_id" class="sel">Descending (Z-A, or 100-1)</label></td>
												</tr>
											</table>
										</div>
										<!-- End Column -->
										<div class="clearfix"></div>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module - SHIPPING HISTORY --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Shipping History                          //// --> 
								<!-- //// Begin Address Book                            //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - ADDRESS BOOK -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">Address Book</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody">
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
												<td><label id="repl_id" for="repl_id" class="sel">Automatically save new addresses to My UPS Address Book</label></td>
											</tr>
											<tr>
												<td><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
												<td><label id="repl_id" for="repl_id" class="sel">Always perform Detailed Address Validation on Ship To Addresses</label></td>
											</tr>
											<tr>
												<td><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
												<td><label id="repl_id" for="repl_id" class="sel">Always save Detailed Address Validation address changes to My UPS Address Book</label></td>
											</tr>
											<tr>
												<td><input name="repl_name" type="checkbox" value="repl_value" id="repl_id"></td>
												<td><label id="repl_id" for="repl_id" class="sel">Always save any Address Validation changes I accept to my Corporate address book</label></td>
											</tr>
										</table>
										<p id="repl_id"><a href="repl_href">Install External Address Book Plugin</a></p>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module - ADDRESS BOOK --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Address Book                              //// --> 
								<!-- //// Begin International Documentation             //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - INTERNATIONAL DOCUMENTATION -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">International Documentation</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody">
										<div class="clearfix">
											<h4>Customs Declaration CN 22</h4>
											<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td valign="top"><input name="repl_name" type="checkbox" id="repl_id" value="repl_value" checked="checked"></td>
													<td><label id="repl_id" for="repl_id" class="sel">I prefer to always complete my Customs Declaration online for UPS SurePost shipments (if you will always supply your own printed documents for SurePost shipments, you do not need to select this setting).</label></td>
												</tr>
											</table>
										</div>
										<div class="clearfix">
											<h4>International Documentation</h4>
											<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td valign="top"><input name="repl_name" type="checkbox" id="repl_id" value="repl_value" checked="checked"></td>
													<td><label id="repl_id" for="repl_id" class="sel">Always inform me if my shipments require International Documents.</label></td>
												</tr>
											</table>
											<p id="repl_id"><strong>Note:</strong> If you decide NOT to check the box above, your international shipments could be delayed in Customs for lack of documents.</p>
										</div>
										<div class="clearfix">
											<h4>Electronic Exporter Information (EEI) Option</h4>
											<p id="repl_id"><strong>Note:</strong> To take advantage of this online EEI filing capability in the future, you should register to file electronically at www.aesdirect.gov.</p>
											<p id="repl_id">You will then have the information you need to set your EEI Shipping Preferences.</p>
											<ul class="lstBullet">
												<li>If you registered as online EEI filer with AESDirect, you MUST enter the same AESDirect Filer ID Number and Type used when registering with AESDirect.</li>
											</ul>
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id">Enter your Tax Identification Number:</label>
												</dt>
												<dd>
													<input name="AeSDirect" type="text" id="repl_id" class="formcol6">
													<select name="id_type" id="repl_id" class="formcol6">
														<option value="repl_value">Select ID Type</option>
													</select>
												</dd>
											</dl>
											<dl role="presentation">
												<dt>
													<label id="repl_id" for="repl_id">When you file EEIs, are you acting as a Forwarding Agent or as USPPI?</label>
												</dt>
												<dd>
													<select name="SeD_Role" id="repl_id" class="formcol6">
														<option value="repl_value">Select EEI Role</option>
													</select>
												</dd>
											</dl>
											<table border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td valign="top"><input name="repl_name" type="checkbox" id="repl_id" value="repl_value"></td>
													<td><label id="repl_id" for="repl_id" class="sel">Always email me if my EEI Filing status changes</label></td>
												</tr>
											</table>
										</div>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module - INTERNATIONAL DOCUMENTATION --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End International Documentation               //// --> 
								<!-- //// Begin Declaration Statement Library           //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
								<!-- Begin Section Module - DECLARAATION STATEMENT LIBRARY -->
								<div class="secLvl step"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<h3 id="repl_id">Declaration Statement Library</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody">
										<p>[Manage your library of saved declaration statements.]</p>
										<p><a href="javascript: void(0);" onClick="replFunction();" class="btnlnkL plusMini">Add New Statement</a></p>
										<table cellspacing="0" cellpadding="0" border="0" class="dataTable full">
											<tbody>
												<tr>
													<th class=""><input type="checkbox" id="selectAll"></th>
													<th class="">Name</th>
													<th class="">Default</th>
													<th class="" colspan="2">Preview</th>
												</tr>
												<tr class="odd">
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 1]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_1">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class="">
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 2]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_2">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class="odd">
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 3]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_3">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class="">
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 4]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_4">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class="odd">
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 5]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_5">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class=>
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 6]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_6">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class="odd">
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 7]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_7">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class=>
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 8]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_8">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class="odd">
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 9]</label></td>
													<td class="alignCenter"></td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_9">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
												<tr class=>
													<td><input type="checkbox" id="repl_id" name="repl_name"></td>
													<td><label class="sel" for="repl_id">[Statement 10]</label></td>
													<td class="alignCenter">*</td>
													<td><a class="infoAnchor hozAnchor" href="javascript:void(0)" id="tt_10">View the first xxx characters of the statement...</a></td>
													<td><a href="repl_href">edit</a></td>
												</tr>
											</tbody>
										</table>
										<p><a href="javascript: void(0);" onClick="replFunction();" class="btnlnkL crossMini">Delete Selected Statement(s)</a></p>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module DECLARATION STATEMENT LIBRARY --> 
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Declaration Statement Library             //// --> 
								<!-- /////////////////////////////////////////////////////// --> 
								
							</div>
							<!-- End Application Body --> 
							
							<!-- Begin Application Footer -->
							<div class="appFooter"> 
								<!-- Begin Button Bar Row -->
								<div class="btnBar">
									<input name="repl_name" type="button" id="repl_id" value="Cancel" class="btn">
									<input name="repl_name" type="submit" id="repl_id" value="Update" class="btn">
								</div>
								<!-- End Button Bar Row --> 
							</div>
							<!-- End Application Footer --> 
						</div>
						<!-- End Application Module -->
						
						<div align="center" class="cobrand"> <br>
							Company Support: &nbsp;&nbsp; {Telephone} &nbsp;&nbsp;<a href="mailto:test@ups.com">{emailaddress@email.com}</a> 
						</div>
						<div class="alignCenter">
							<button name="repl_name" id="repl_id" class="btn">
								Administrator Lookup
							</button>
						</div>
					</form>
				</div>
				<!-- /applicationArea --> 
			
<div id="ttc_bullpen" class="hidden">
	<div id="ttc_tt_1">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_2">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_3">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_4">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_5">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_6">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_7">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_8">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_9">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
	<div id="ttc_tt_10">
		<div class="appLvl">
			<div class="appHead clearfix"></div>
			<div class="appBody">
				<p>declaration statement full text here.</p>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	/*$(document).ready(function(){
		$('.hozAnchor').ictooltip({
			orientation: "horiz",
			tooltipClasses: "col12",
			hoverDelay: 450,
			tooltipID: "horiz_tt"
		});
	});*/
</script>
<div id="select_pnl_1" >
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_1">Custom Package Types:</label></dt>
		<dd>
			<select id="dyn_pnl_select_1" class="formcol5">
				<option value="1">Default</option>
				<option value="2">Expanded</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_2" >
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_2">Payment Method:</label></dt>
		<dd>
			<select id="dyn_pnl_select_2" class="formcol5">
				<option value="1">Default</option>			
				<option value="2">No Saved PayPal Account</option>
				<option value="3">Saved PayPal Account</option>
			</select>
		</dd>
	</dl>
</div>
