---
title: create a shipment page title
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname" name="mainPageForm">
            
            <!-- Begin SubTabs -->
            <ul class="subTab clearfix">
              <li class="tab-on">Package</li>
              <li class="tab-off"><a href="repl_href">Freight</a></li>
            </ul>
            <!-- End SubTabs --> 
            
            <!-- USE Class="tab" for tab application display or use class="mod" for default application display --> 
            <!-- ECS no tabs, UIS Tabs --> 
            <!-- Begin Application Module -->
            <div class="appLvl col18 tab"> 
              
              <!-- ECS - No SubTabs --> 
              <!-- <div class="appLvl col18 mod"> --> 
              <!-- ECS - No SubTabs -->
              
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">edit service and shipping options application header</h2>
                  <ul>
                    <li><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">help link</a></li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p class="error">&gt;&gt;&gt;error message.</p>
                  <p>modify your shipping service and options below text. <b>note:</b> some shipping options are not valid text. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl">
                    <fieldset>
                      <!-- Begin Section Header --><!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id">your current service:</label>
                          </dt>
                          <dd id="repl_id">{service}</dd>
                          <dt>
                            <label id="repl_id" for="repl_id">your current label delivery method:</label>
                          </dt>
                          <dd id="repl_id">electronic return label</dd>
                          <dt>
                            <label id="repl_id" for="repl_id">your current additional services:</label>
                          </dt>
                          <dd id="repl_id"><img alt="" border="0" height="12" width="16" src="/img/1.gif" class=" updatedIcon">send e-mail notifications <br>
                            <img alt="" border="0" height="12" width="16" src="/img/1.gif" class=" updatedIcon">c.o.d. <br>
                            <img alt="" border="0" height="12" width="16" src="/img/1.gif" class=" updatedIcon">saturday delivery <br>
                            <img alt="" border="0" height="12" width="16" src="/img/1.gif" class=" updatedIcon">future servicess </dd>
                        </dl>
                        <div class="hr"><img src="/img/1.gif" alt="" height="1"></div>
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id" class="error"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">&gt;&gt;&gt;service:</a></label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" >ups services</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">label delivery method:</a></label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" >selected label delivery method</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">additional services:</a></label>
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value="" checked="checked"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">send e-mail notifications additioanl service</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="repl_name" type="checkbox" id="repl_id"></td>
                            <td><label for="repl_id" class="sel">ups premium care</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">receive confirmation of delivery additioanl service</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">deliver with out signature additioanl service</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">saturday delivery additioanl service</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">c.o.d. additioanl service</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">offset the climate impact of this shipment additioanl service (<a id="repl_id" href="repl_href" class="btnlnkR helpIconR">ups carbon neutral</a>)</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">ups proactive response<sup>sm</sup> additioanl service</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">ups returns<sup>&reg;</sup> additioanl service</label></td>
                          </tr>
                          <!--** ER1406 state department **-->
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">Designate shipment for State Department License Filing</label></td>
                          </tr>
                          <!--** End ER1406 state department **--> 
                          <!--** ER7502 **-->
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">Direct Delivery Only</label></td>
                          </tr>
                          <!--** End ER7502 **--> 
                          <!--** ER7502 **-->
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">Electronic Package Release Authorization</label></td>
                          </tr>
                          <!--** End ER7502  **-->
                        </table>
                        <p>some services may require extra information. you will be able to enter the required information on the next page.</p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row -->
                  <div class="btnBar">
                    <input name="" type="button" id="repl_id" value="cancel" class="btn">
                    <input name="" type="submit" id="repl_id" value="next" class="btnArw">
                  </div>
                  <!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand">
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;
                                <a href="mailto:test@ups.com">test@ups.com</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </form>
        </div>
        <!-- /applicationArea --> 