---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
					<form action="repl_fname">
						<!-- Begin Application Module -->
						<div class="appLvl col18 mod"> 
							<!-- Begin Application Header -->
							<div class="appHead clearfix">
								<h2 id="repl_id">Packages Over [150] [lbs.]</h2>
								<!--							<ul>
								<li>{<a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link}</a></li>
							</ul>
--> </div>
							<!-- End Application Header --> 
							
							<!-- Begin Application Body -->
							<div class="appBody clearfix">
								<p>You have indicated that one or more of your packages is more than [150] [lbs]. The service that you selected can only be used to ship items under [150] [lbs]. If you have incorrectly entered the weight of your package, you can go back and correct the weight.</p>
								
								<!-- Begin Section Module -->
								<div class="secLvl clearfix"> 
									<!-- Begin Section Header --><!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody clearfix">
									<div id="dyn_pnl_1">
										<!--Over 150 lbs - Default -->
										<div id="pnl_1_1">
											<table border="0" cellspacing="0" cellpadding="0" class="sel">
												<tr>
													<td><input name="repl_fnameA" type="radio" value="repl_fvalue" id="repl_id" checked></td>
													<td><label id="repl_id" for="repl_id">Change my package shipment.</label></td>
												</tr>
												<tr>
													<td><input name="repl_fnameB" type="radio" value="repl_fvalue" id="repl_id"></td>
													<td><label id="repl_id" for="repl_id">Use one of the following UPS freight services for my shipment:</label>
														<br>
														<select name="" id="repl_id" class="formcol6">
															<option value="" selected>Select a Freight Service</option>
														</select></td>
												</tr>
											</table>
											<p class="indent"><strong>Note: </strong>Selecting a freight service now will pass your address information to the Freight application; other small package shipment information will be lost. [Based on your country or territory location, additional freight service choices may be available on the next page.]</p>
											</div>
											<!--Over 150 lbs - WW Freight available -->
											<div id="pnl_1_2">
											<table border="0" cellspacing="0" cellpadding="0" class="sel">
												<tr>
													<td><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
													<td><label id="repl_id" for="repl_id">Change my package shipment.</label>
													<br>
													<strong>- or change your service selection:</strong> International palletized shipments can use the UPS Worldwide Express Freight service choice on the next page.</td>
												</tr>
												<tr>
													<td><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id"></td>
													<td><label id="repl_id" for="repl_id">Use one of the following UPS freight services for my shipment.</label>
														<br>
														<select name="" id="repl_id" class="formcol6">
															<option value="" selected>Select a Freight Service</option>
														</select></td>
												</tr>
											</table>
											<p class="indent"><strong>Note: </strong>Selecting a freight service now will pass your address information to the Freight application; other small package shipment information will be lost. [Based on your country or territory location, additional freight service choices may be available on the next page.]</p>
											</div>
										</div>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								<!-- End Section Module --> 
								
							</div>
							<!-- End Application Body --> 
							
							<!-- Begin Application Footer -->
							<div class="appFooter"> 
								<!-- Begin Button Bar Row -->
								<div class="btnBar">
									<input name="" type="submit" id="repl_id" value="next" class="btnArw">
								</div>
								<!-- End Button Bar Row --> 
							</div>
							<!-- End Application Footer --> 
						</div>
						<!-- End Application Module -->
						
						<div align="center" class="cobrand"><br>
							Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
					</form>
				</div>
				<!-- /applicationArea --> 