---
title: Create a Shipment page
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
  <div class="appLvl mod col18 clearfix">
    <div class="appHead clearfix">
      <h2 id="repl_id">Create a Shipment</h2>
      <ul>
        <li><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">help link</a></li>
      </ul>
    </div>
    <div class="appBody clearfix">
      <div class="secLvl clearfix step">
        <div class="secHead clearfix">
          <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
          <h3>Begin Your Shipment</h3>
        </div>
        <div class="secBody clearfix">
          <p>enter your shipping info below. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
          <p class="error">&gt;&gt;&gt;error message.</p>
          <dl class="">
            <dt>
              <label>how many packages do you have?</label>
            <dd>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
              </select>
              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dt>
          </dl>
          <dl class="">
            <dt>
              <label>are your packages all using the same trial number?</label>
            <dd>
              <select>
                <option>Yes</option>
                <option>No</option>
              </select>
            </dd>
            </dt>
          </dl>
        </div>
      </div>
      <div class="secLvl clearfix step">
        <div class="secHead clearfix">
          <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
          <h2>tell us about your package</h2>
        </div>
        <div class="secBody"> 
          <!--Begin Package 1 section-->
          
          <div class="secLvl step clearfix">
            <fieldset>
              <legend></legend>
              <div class="secHead step clearfix">
                <h3>Package 1</h3>
                <ul>
                  <li>
                    <input name="remove package" type="button" id="repl_id" class="btnlnkL crossMini" value="remove package">
                  </li>
                </ul>
              </div>
              <div class="secBody">
                <dl>
                  <dt class="btnlnkR helpiconR">
                    <label class=""><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">select a clinical trial:</a></label>
                  <dd>
                    <select>
                      <option>Trial 000 - Trial name or description of product</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                  </dt>
                </dl>
                <dl class="flexFirst">
                  <dt class="btnlnkR helpiconR">
                    <label><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">select the packaging type:</a></label>
                  <dd>
                    <select>
                      <option>Ambient Package #1</option>
                      <option>Ambient Pkg #2</option>
                      <option>Ambient Pkg #3</option>
                      <option>Ambient Pkg #4</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                  </dt>
                </dl>
                <dl class="flexAfter">
                  <dt>
                    <label>select a shipping service</label>
                  </dt>
                  <dt>
                    <select>
                      <option>UPS Standard Shipping</option>
                      <option>UPS Next Day</option>
                      <option>UPS 2-Day</option>
                      <option>UPS Ground</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dt>
                </dl>
                <dl class="flexFirst">
                  <dt>
                    <label><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">dry ice weight:</a></label>
                  <dd>
                    <input />
                    <select>
                      <option>kg</option>
                      <option>lb</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                  </dt>
                </dl>
                <div class="clear"></div>
                <p><strong>note:</strong> Package will be shipped under IATA regulations.</p>
              </div>
            </fieldset>
          </div>
          
          <!--End of package 1--> 
          
          <!--Begin Package 2-->
          
          <div class="secLvl step clearfix">
            <fieldset>
              <legend></legend>
              <div class="secHead step clearfix">
                <h3>Package 2</h3>
                <ul>
                  <li>
                    <input name="remove package" type="button" id="repl_id" class="btnlnkL crossMini" value="remove package">
                  </li>
                </ul>
              </div>
              <div class="secBody">
                <dl>
                  <dt class="btnlnkR helpiconR">
                    <label class=""><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">select a clinical trial:</a></label>
                  </dt>
                  <dt>
                    <select>
                      <option>Trial 000 - Trial name or description of product</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dt>
                </dl>
                <dl class="flexFirst">
                  <dt class="btnlnkR helpiconR">
                    <label><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">select the packaging type:</a></label>
                  </dt>
                  <dt>
                    <select>
                      <option>Ambient Package #1</option>
                      <option>Ambient Pkg #2</option>
                      <option>Ambient Pkg #3</option>
                      <option>Ambient Pkg #4</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dt>
                </dl>
              </div>
            </fieldset>
          </div>
          
          <!--End of Package 2-->
          
          <dl class="flexFirst">
            <dt class="btnlnkR helpiconR">
              <label><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">description of goods:</a></label>
            </dt>
            <dt>
              <input />
              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dt>
          </dl>
          <dl class="flexAfter">
            <dt>
              <label><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">customs value:</a></label>
            </dt>
            <dt>
              <input />
              &nbsp;[CUR]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dt>
          </dl>
          <div class="clear"></div>
          <p>by selecting the <strong>print label</strong> button, i agree to the <a href="" class="btnlnkR newWindowIconR">terms and conditions</a></p>
        </div>
      </div>
    </div>
    <div class="appFooter"> 
      <!-- Begin Button Bar Row -->
      <div class="btnBar">
        <input name="" type="button" id="repl_id" value="print labels" class="btnArw">
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div align="center" class="cobrand"><br>
    Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
</div>
