---
title: create a return shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">enter information for all {packages/pallets}</h2>
                  <ul>
                    <li><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">help</a></li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p class="error">{&gt;&gt;&gt;error message.}</p>
                  <p>please enter your {package/pallet} information below.  you can enter information for up to 20 {packages/pallets}.  required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.}</p>
                  <dl class="outHozFlex clearfix">
                    <dt>
                      <label for="repl_id">{total packages/pallets label}:</label>
                    </dt>
                    <dd id="repl_id"><strong>[n]</strong></dd>
                  </dl>
                  <p>review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidelines</a> to see if they apply to your pallet.</p>
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
                        <h3 id="repl_id">{package n}</h3>
                        <ul>
                          <li>
                            <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="{remove package/pallet}">
                          </li>
                        </ul>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">{packaging type label:</a>}</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id" class="formcol5">
                              <option value="" selected>{select one}</option>
                              <option value="">another quite longer option than the first</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <dl>
                          <dt>
                            <label for="repl_id">{package/pallet} weight:</label>
                          </dt>
                          <dd>
                            <input type="text" name="repl_name" id="repl_id" class="formcol3">
                            [uom]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                        </dl>
                        <div>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">{package/pallet} dimensions:</a></label>
                        </div>
                        <dl class="flexFirst clearfix">
                          <dt>
                            <label id="repl_id" for="repl_id">length:</label>
                          </dt>
                          <dd>
                            <input id="repl_id" type="text" class="formcol3">
                            x</dd>
                        </dl>
                        <dl class="flexAfter clearfix">
                          <dt>
                            <label id="repl_id" for="repl_id">width:</label>
                          </dt>
                          <dd>
                            <input id="repl_id" type="text" class="formcol3">
                            x</dd>
                        </dl>
                        <dl class="flexAfter clearfix">
                          <dt>
                            <label id="repl_id" for="repl_id">height:</label>
                          </dt>
                          <dd>
                            <input id="repl_id" type="text" class="formcol3">
                            [in]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                        </dl>
                        <div class="clear"></div>
                        <p class="reqTxtInst">(for pallets, the value entered for length must be breater than or equal to the width value.)</p>
                        <dl>
                          <dt>
                            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">{package/pallet} declared value:</a></label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id" class="formcol3">
                            [usd]</dd>
                        </dl>
                        <dl>
                          <dt>
                            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">number of pieces on pallet:</a></label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id" class="formcol3">
                          </dd>
                        </dl>
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id">{merchandise description label:}</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" size="32">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <div class="group">
                          <div>
                            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">references</a></label>
                          </div>
                          <dl>
                            <dt>
                              <label for="repl_id">{reference 1}</label>
                            </dt>
                            <dd>
                              <input type="text" id="repl_id" class="formcol4">
                              <span class="indent"><a href="repl_href">search</a></span></dd>
                            <dt>
                              <label for="repl_id">{reference 2}</label>
                            </dt>
                            <dd>
                              <input type="text" id="repl_id" class="formcol4">
                              <span class="indent"><a href="repl_href">search</a></span></dd>
                            <dt>
                              <label for="repl_id">{reference 3}</label>
                            </dt>
                            <dd>
                              <input type="text" id="repl_id" class="formcol4">
                              <span class="indent"><a href="repl_href">search</a></span></dd>
                          </dl>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td class="sel"><input type="checkbox" value="repl_value" name="repl_name1" id="repl_id1"></td>
                              <td><label for="repl_id1" class="sel"><a href="repl_href" class="btnlnkR helpIconR">add a bar code for reference #1 to my return label (this applies to all pallets in the shipment)</a></label></td>
                            </tr>
                          </table>
                        </div>
                        <hr class="hr">
                        <dl>
                          <dt>
                            <label for="repl_id">additional shipping options and services</label>
                          </dt>
                          <dd>
                            <table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="sel"><input type="checkbox" value="repl_value" name="repl_name2" id="repl_id2"></td>
                                <td><label for="repl_id2" class="sel">{dry ice/<a href="repl_href" class="btnlnkR helpIconR">dry ice</a>}</label></td>
                              </tr>
                            </table>
                          </dd>
                        </dl>
                        <dl>
                          <dt>
                            <label for="repl_id">dry ice weight:</label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id" class="formcol4">
                            [lb/kg]</dd>
                        </dl>
                        <p><strong>Note:</strong> all packages are shipped under iata regulations</p>
                        <p>
                          <input name="" type="button" id="repl_id" class="btnlnkL sortDownMini" value="{copy to all}">
                        </p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
                        <h3 id="repl_id">{package n}</h3>
                        <ul>
                          <li>
                            <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="{remove package button}">
                          </li>
                          <li>
                            <input name="" type="button" id="repl_id" class="btnlnkL sortUpMini" value="{copy from above button}">
                          </li>
                        </ul>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">{packaging type label:</a>}</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" selected>{select one}</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                          <dt>
                            <label id="repl_id" for="repl_id">{merchandise description label:}</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" size="32">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <p>
                          <input name="" type="button" id="repl_id" class="btnlnkL sortDownMini" value="{copy to all}">
                        </p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module -->
                  
                  <p>
                    <input name="" type="button" id="repl_id" class="btnlnkL plusMini" value="{add one package/pallet}">
                  </p>
                </div>
                <!-- End Application Body --> 
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row -->
                  <div class="btnBar">
                    <input name="" type="button" id="repl_id" value="{back}" class="btnBackArw">
                    <input name="" type="button" id="repl_id" value="{cancel shipment}" class="btn">
                    <input name="" type="submit" id="repl_id" value="{next}" class="btnArw">
                  </div>
                  <!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 
