---
title: cam_shi_shi(2crp)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin popup header -->
            <table class="popcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td><!-- begin module title -->
                  
                  <div class="popspacepad"><span class="popheader">Corporate Address Book</span></div>
                  
                  <!-- end module title --></td>
              </tr>
              <tr>
                <td class="popline"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
            </table>
            <!-- end popup header --> 
            
            <!-- Begin Table: Search Options (Parent:Formatting Table) -->
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td colspan="3"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td width="100%"><span class="modsubheader">Search by Name and Address</span></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
              </tr>
            </table>
            <!-- End Table: Search Options (Parent:Formatting Table) --> 
            
            <!-- Begin Table: White Border(1) (Parent:Formatting Table) -->
            <table bgcolor="#cccccc" border="0" cellpadding="1" cellspacing="0" width="100%">
              <tr>
                <td bgcolor="#ffffff" class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td width="100%"><!-- Begin Table: Inner (Parent:White Border Table(1)) -->
                  
                  <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td bgcolor="#ffffff"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="100%"><div class="modulepad">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td><input class="modTxtLarge" maxlength="50" name="Search" size="34" type="text" value=""></td>
                              <td>&nbsp;&nbsp;
                                <input value="Search" class="btn" type="button"></td>
                            </tr>
                          </table>
                          <br>
                          <table border="0" cellpadding="2" cellspacing="0">
                            <tr>
                              <td valign="baseline">Search for&nbsp;&nbsp;</td>
                              <td valign="baseline"><select name="repl_fname" class="modSelMediumSmall" size="1">
                                  <option>Nickname</option>
                                  <option>Company or Name</option>
                                  <option>Contact Name</option>
                                  <option>Address</option>
                                  <option>City</option>
                                </select></td>
                              <td valign="baseline">&nbsp;&nbsp;that&nbsp;&nbsp;</td>
                              <td valign="baseline"><select name="repl_fname" class="modSelMediumSmall" size="1">
                                  <option>Contains</option>
                                  <option>Starts With</option>
                                  <option>Exactly Matches</option>
                                </select></td>
                              <td valign="baseline">&nbsp;&nbsp;the search terms.</td>
                            </tr>
                          </table>
                        </div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#ffffff"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Inner (Parent:White Border Table(1)) --></td>
                <td width="10" bgcolor="#ffffff" class="nopad"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
            </table>
            <!-- End Table: White Border(1) (Parent:Formatting Table) --> 
            
            <!-- Begin Table: Module Body(2) (Parent:Formatting Table) -->
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <tr>
                <td><div class="spacing"> <span class="modsubheader">*OR*</span><br>
                    <img alt="" border="0" height="5" src="/img/1.gif" width="1"><br>
                    <span class="modsubheader">Search by State/Province</span> </div></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
              </tr>
            </table>
            <!-- End Table: Module Body(2) (Parent:Formatting Table) --> 
            
            <!-- Begin Table: White Border(2) (Parent:Formatting Table) -->
            <table bgcolor="#cccccc" border="0" cellpadding="1" cellspacing="0" width="100%">
              <tr>
                <td bgcolor="#ffffff" class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td width="100%"><!-- Begin Table: Inner (Parent:White Border Table(2)) -->
                  
                  <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="100%"><div class="modulepad">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td>State/Province: (US/Canada)</td>
                              <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                              <td>Other:</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><select name="repl_fname" class="modSelMedium" size="1">
                                  <option>Select for US/Canada</option>
                                </select></td>
                              <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                              <td><input class="modTxtSmall" maxlength="35" size="10" type="text" value=""></td>
                              <td>&nbsp;&nbsp;
                                <input value="Search" class="btn" type="button"></td>
                            </tr>
                          </table>
                        </div></td>
                    </tr>
                    <tr>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Inner (Parent:White Border Table(2)) --></td>
                <td bgcolor="#ffffff" class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
            </table>
            <!-- End Table: White Border(2) (Parent:Formatting Table) --> 
            
            <!-- Begin Table: Module Body(3) (Parent:Formatting Table) -->
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <tr>
                <td><div class="spacing"> <span class="modsubheader">*OR*</span><br>
                    <img alt="" border="0" height="5" src="/img/1.gif" width="1"><br>
                    <span class="modsubheader">Search by Country or Territory</span> </div></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
              </tr>
            </table>
            <!-- End Table: Module Body(3) (Parent:Formatting Table) --> 
            
            <!-- Begin Table: White Border(3) (Parent:Formatting Table) -->
            <table bgcolor="#cccccc" border="0" cellpadding="1" cellspacing="0" width="100%">
              <tr>
                <td bgcolor="#ffffff" class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td width="100%"><!-- Begin Table: Inner (Parent:White Border Table(3)) -->
                  
                  <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td bgcolor="#ffffff"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="100%"><div class="modulepad">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td>Country or Territory:</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><select name="repl_fname" class="modSelMedium" size="1">
                                  <option>Select Country or Territory</option>
                                </select>
                                <br></td>
                              <td>&nbsp;&nbsp;
                                <input value="Search" name="search" class="btn" type="button"></td>
                            </tr>
                          </table>
                        </div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#ffffff"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Inner (Parent:White Border Table(3)) --></td>
                <td width="10" bgcolor="#ffffff" class="nopad"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
              <tr>
                <td bgcolor="#ffffff" colspan="3" height="10"><img alt="" border="0" height="10" src="/img/1.gif" width="1"></td>
              </tr>
            </table>
            <!-- End Table: White Border(3) (Parent:Formatting Table) --> 
            
            <!-- Begin Table: Module Body(1) (Parent:Formatting Table) -->
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td valign="top" width="50%"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Show All</a><br>
                  <br></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td width="50%"><input alt="Save Criteria for Future Searches" border="0" height="11" name="save_criteria" src="/img_translations/en/btn_lnk_save_crit_fut_search.gif" type="image" width="194">
                  <br>
                  <input alt="Clear Saved Search Criteria" border="0" height="11" name="save_criteria" src="/img_translations/en/btn_lnk_clear_criteria.gif" type="image" width="163">
                  <br></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
              <tr>
                <td bgcolor="#ffffff" colspan="3" height="10"><img alt="" border="0" height="10" src="/img/1.gif" width="1"></td>
              </tr>
            </table>
            <!-- End Table: Module Body(1) (Parent:Formatting Table) -->
            
            <hr>
            <br>
            
            <!-- begin module column spacing table 1 - 5 columns with 3 spacer columns and 2 content columns -->
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td colspan="5"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td valign="top">Please select an address from the results below, or modify your search.<br>
                  <br></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td><div align="right"> 
                    
                    <!-- begin page display settings --> 
                    Display per Page:<br>
                    <select name="repl_fname" class="modSelSmall" size="1">
                      <option selected>25</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                    <br>
                    <br>
                    <!-- end page display settings --> 
                    
                  </div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td colspan="3"><div align="right">
                    <input value="Cancel" class="btn" type="button">
                    <input value="Select" class="btn" type="button">
                  </div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td colspan="3"><!-- begin record count --> 
                  Displaying x-x of n 
                  <!-- end record count --> 
                  
                  <br>
                  
                  <!-- begin pagination -->
                  
                  <input value="First" name="page_first2" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Previous" name="page_previous22" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Previous 10" name="page_previous_1022" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="1" name="page_122" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="2" name="page_222" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="3" name="page_322" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="4" name="page_422" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="5" name="page_522" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="6" name="page_622" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="7" name="page_722" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="8" name="page_822" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="9" name="page_922" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="10" name="page_1022" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Next 10" name="page_next_1022" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Next" name="page_next22" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Last" name="page_last22" class="btn_lnk" type="button">
                  
                  <!-- end pagination --> 
                  
                  <br>
                  <br></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module column spacing table 1 --> 
            
            <!-- begin results table -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              
              <!-- Begin Row: Header Rows with vertical spacing -->
              <tr>
                <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="28"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="106"></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="106"></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="106"></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="106"></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="106"></td>
              </tr>
              <tr>
                <td bgcolor="#cccccc">&nbsp;</td>
                <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">[search value]</span></div></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">Address</span></div></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">City</span></div></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">State/Province</span></div></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">Country or Territory</span></div></td>
              </tr>
              <tr>
                <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
              <!-- End Row: Header Rows with vertical spacing --> 
              
              <!-- Begin Row: Odd Row with vertical spacing -->
              <tr bgcolor="#ffffff">
                <td colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <tr bgcolor="#ffffff">
                <td><input name="repl_fname" type="radio" value="repl_fvalue"></td>
                <td><div class="spacingResults">[search value]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[address]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[city]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[state/province]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[country or territory]</div></td>
              </tr>
              <tr bgcolor="#ffffff">
                <td colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <!-- End Row: Odd Row with vertical spacing --> 
              
              <!-- Begin Row: Even Row with vertical spacing -->
              <tr bgcolor="#cccccc">
                <td colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <tr bgcolor="#cccccc">
                <td><input name="repl_fname" type="radio" value="repl_fvalue"></td>
                <td><div class="spacingResults">[search value]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[address]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[city]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[state/province]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[country or territory]</div></td>
              </tr>
              <tr bgcolor="#cccccc">
                <td colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <!-- End Row: Even Row with vertical spacing --> 
              
              <!-- Begin Row: Odd Row with vertical spacing -->
              <tr bgcolor="#ffffff">
                <td colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <tr bgcolor="#ffffff">
                <td><input name="repl_fname" type="radio" value="repl_fvalue"></td>
                <td><div class="spacingResults">[search value]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[address]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[city]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[state/province]</div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td><div class="spacingResults">[country or territory]</div></td>
              </tr>
              <tr bgcolor="#ffffff">
                <td colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
              </tr>
              <!-- End Row: Odd Row with vertical spacing -->
              
              <tr bgcolor="#cccccc">
                <td colspan="10"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
            </table>
            <!-- end results table --> 
            
            <!-- begin module column spacing table 2 - 5 columns with 3 spacer columns and 2 content columns -->
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td><br>
                  
                  <!-- begin record count --> 
                  Displaying x-x of n 
                  <!-- end record count --> 
                  
                  <br>
                  
                  <!-- begin pagination | image version -->
                  
                  <input value="First" name="page_first2" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Previous" name="page_previous22" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Previous 10" name="page_previous_1022" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="1" name="page_122" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="2" name="page_222" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="3" name="page_322" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="4" name="page_422" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="5" name="page_522" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="6" name="page_622" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="7" name="page_722" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="8" name="page_822" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="9" name="page_922" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="10" name="page_1022" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Next 10" name="page_next_1022" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Next" name="page_next22" class="btn_lnk" type="button">
                  <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                  <input value="Last" name="page_last22" class="btn_lnk" type="button">
                  
                  <!-- end pagination --> 
                  
                  <!-- begin pagination | text version
	<a href="repl_href">First</a> | 
	<a href="repl_href">Previous</a> | 
	<a href="repl_href">.</a> | 
	<a href="repl_href">1</a> | 
	<a href="repl_href">2</a> | 
	<a href="repl_href">3</a> | 
	<a href="repl_href">4</a> | 
	<a href="repl_href">5</a> | 
	<a href="repl_href">6</a> | 
	<a href="repl_href">7</a> | 
	<a href="repl_href">8</a> | 
	<a href="repl_href">9</a> | 
	<a href="repl_href">10</a> | 
	<a href="repl_href">.</a> | 
	<a href="repl_href">Next</a> | 
	<a href="repl_href">Last</a>
	end pagination --></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td><div align="right">
                    <input value="Cancel" class="btn" type="button">
                    <input value="Select" class="btn" type="button">
                  </div></td>
                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module column spacing table 2 -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </div>
        </div>
      </form>
  </div>