---
title: cam_shi_shi(4pay)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content -->
            <div class="campusship">
              <table border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="4" src="/img/icn_page_title_cs.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <!-- begin application header -->
            <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="283"><!-- begin title -->
                  
                  <div class="appspacepad">
                    <div class="campusship"><span class="header2">Shipping</span></div>
                    <div class="uis"><span class="header2">Payment Information</span></div>
                  </div>
                  
                  <!-- end title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis">
                    <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
              </tr>
            </table>
            <!-- end application header --> 
            <!-- begin instructional text -->
            <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top" width="546"><div class="instrpad"><span class="bold">Your payment method was reset.</span><br>
                  </div>
                  <div class="instrpad">Please enter your payment information below. Required fields are shown in <span class="bold">bold</span>.</div></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
            </table>
            <!-- end instructional text --> 
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad">
                    <div class="campusship"><span class="modheader">Payment Information</span></div>
                    <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  </div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  <div class="campusship">
                    <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top"><!-- begin left content column --> 
                        <span class="bold">Bill Shipping Charges to:</span><br>
                        <select class="modSelMedium" name="billChargesTo" size="1" onChange="switchDiv(this.options[this.selectedIndex].value);">
                          <option value="upsacct">Shipper's UPS Account</option>
                          <option value="crdcard">Credit Card</option>
                          <option value="billrec">Receiver</option>
                          <option value="billtrd">Third Party</option>
                          <option value="billcon">Consignee Bill</option>
                        </select>
                        <br>
                        <br>
                        
                        <!-- This will display the dropdown of UPS Accounts if there are some. -->
                        
                        <div id="upsacct" style="position: relative; visibility: visible;">
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td><span class="bold">Shipper's UPS Account</span></td>
                              <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="10"></td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>UPS Account: </td>
                              <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                              <td>{FOO100}</td>
                            </tr>
                            <tr>
                              <td colspan="3">&nbsp;</td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- This will display the fields to enter a UPS Account number if there are none. -->
                        
                        <div id="crdcard" style="position: absolute; visibility: hidden;">
                          <input name="repl_fname" type="checkbox" value="repl_fvalue" checked>
                          &nbsp;This shipment is for business purposes
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td><span class="bold">Existing Credit Cards:</span></td>
                              <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="10"></td>
                              <td><a href="repl_href">Modify Credit Card</a></td>
                            </tr>
                            <tr>
                              <td><select class="modSelMedium" name="creditCardList" size="1">
                                  <option value="" selected>None Selected</option>
                                  <option value=""></option>
                                </select></td>
                              <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="10"></td>
                              <td><a href="repl_href">Enter New Credit Card</a></td>
                            </tr>
                            <tr>
                              <td colspan="3">&nbsp;</td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- This will display the fields for Bill Reciever. -->
                        
                        <div id="billrec" style="position: absolute; visibility: hidden;">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                              <td><table width="100%"  border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td width="199">Receiver UPS Account:</td>
                                    <td width="100">Postal Code: </td>
                                    <td width="170">Country or Territory:</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" name="textfield" class="modTxtMedium"></td>
                                    <td><input type="text" name="textfield" class="modTxtMediumSmall"></td>
                                    <td>{ Country or Territory }</td>
                                  </tr>
                                  <tr>
                                    <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <input type="checkbox" name="checkbox" value="checkbox">
                                      Associate this UPS Account to the receiver's address book entry</td>
                                  </tr>
                                  <tr>
                                    <td><input name="repl_fname" type="checkbox" value="repl_fvalue">
                                      &nbsp;Bill Declared Value Charges to Shipper</td>
                                    <td colspan="2">&nbsp;</td>
                                  </tr>
                                </table>
                                <b>Shipper's UPS Account</b> <br>
                                The following UPS Account will be associated with this shipment
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td>UPS Account:</td>
                                    <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                    <td>{FOO100}</td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- This will display the fields for Third Party Billing. -->
                        
                        <div id="billtrd"  style="position: absolute; visibility: hidden;">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                              <td><table width="100%"  border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td width="199">Third Party UPS Account:</td>
                                    <td width="100">Postal Code: </td>
                                    <td width="170">Country or Territory:</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" name="textfield" class="modTxtMedium"></td>
                                    <td><input type="text" name="textfield" class="modTxtMediumSmall"></td>
                                    <td>{ Country or Territory }</td>
                                  </tr>
                                  <tr>
                                    <td colspan="3"><input type="checkbox" name="checkbox" value="checkbox">
                                      Bill Declared Value Charges to Shipper</td>
                                  </tr>
                                  <tr>
                                    <td colspan="3">&nbsp;</td>
                                  </tr>
                                </table>
                                <b>Shipper's UPS Account</b> <br>
                                The following UPS Account will be associated with this shipment
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td>UPS Account:</td>
                                    <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                    <td>{FOO100}</td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- This will display the fields for Consignee Billing. -->
                        
                        <div id="billcon"  style="position: absolute; visibility: hidden;">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                              <td><b>Shipper's UPS Account</b> <br>
                                The following UPS Account will be associated with this shipment
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td>UPS Account:</td>
                                    <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                    <td>{FOO100}</td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                          </table>
                        </div></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin buttons spacer -->
            <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td class="butbaralign" valign="top" width="317"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                <td valign="top"><div align="right">
                    <input class="btn_bak_a" value="Back" type="button">
                    <input class="btn" type="button" value="Cancel Shipment">
                    <input class="btn_a" value="Next" type="button">
                  </div></td>
              </tr>
            </table>
            <!-- end buttons --> 
            <!-- begin note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end note area --> 
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>
