---
title: cam_shi_shi(1add)_his(2int)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- Begin : Page Header -->
            <div class="campusship"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <span class="header2">View History or Void Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"> </div>
            <br>
            <!-- End: Page Header --> 
            
            <!-- Begin: Tab Navigation Wrapper -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- Begin: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr> 
                      <!-- TAB ONE-->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-on" valign="top" nowrap>Package</td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB TWO -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v2.html">Freight</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB THREE -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v3.html">International Forms</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr class="mod-line">
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB ONE ON/OFF -->
                      <td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB TWO ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB THREE ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
                    <tr>
                      <td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td valign="top"><!-- Begin: Inner Content --> 
                        <!-- begin application header -->
                        
                        <div class="uis">
                          <table class="mod-clr" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr class="appheadercolor">
                              <td width="283"><!-- begin title -->
                                
                                <div class="appspacepad"><span class="header2">Select Package for Intercept</span></div>
                                
                                <!-- end title --></td>
                              <td><!-- begin module navigation -->
                                
                                <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                                
                                <!-- end module navigation --></td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- end application header --> 
                        
                        <!-- begin instructional text -->
                        
                        <table class="" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr class="modbgcolor2">
                            <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td valign="top" width="100%" class="modbgcolor2"><div class="instrpad"> Select the packages you would like to intercept. You can select up to 20 packages at one time. Select the package(s) to include by checking one or more boxes below. (US and PR only) 
                                <!-- end Admin Version of content --></div>
                              <br>
                              <table class="modcolor2" style="background-image: none;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td width="283"><!-- begin module title -->
                                          
                                          <div class="modspacepad"><span class="modheader">Select Package for Intercept</span></div>
                                          
                                          <!-- end module title --></td>
                                        <td width="238"><!-- begin module navigation -->
                                          
                                          <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                                          
                                          <!-- end module navigation --></td>
                                        <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                      </tr>
                                    </table></td>
                                </tr>
                              </table>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="modline2" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column -->
                                    
                                    <table border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td align="left" nowrap valign="baseline"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                        <td align="left" nowrap valign="baseline"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td align="left" nowrap valign="baseline"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                      </tr>
                                      <tr>
                                        <td align="left" nowrap valign="baseline"><span class="bold">Ship To:</span></td>
                                        <td align="left" nowrap valign="baseline">&nbsp;</td>
                                        <td align="left" nowrap valign="baseline">[Address, <br>
                                          City, State, Postal Code] </td>
                                      </tr>
                                      <tr>
                                        <td align="left" nowrap valign="baseline"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                        <td align="left" nowrap valign="baseline"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td align="left" nowrap valign="baseline"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                      </tr>
                                      <tr>
                                        <td align="left" nowrap valign="baseline"><span class="bold">Service:</span></td>
                                        <td align="left" nowrap valign="baseline">&nbsp;</td>
                                        <td align="left" nowrap valign="baseline">[service]</td>
                                      </tr>
                                    </table>
                                    <br>
                                    <br>
                                    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td><a href="repl_href"><img src="/img_translations/en/btn_lnk_select_all_mini.gif" width="64" height="14" border="0" ><img src="/img/1.gif" width="2" height="2" border="0"></a> &nbsp; <a href="repl_href"><img src="/img_translations/en/btn_lnk_clear_all_mini.gif" width="60" height="14" border="0"></a></td>
                                        <td><div align="right"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><a href="repl_href"><img alt="Back To Shipping History" border="0" height="18" src="/img_translations/en/btn_bk_ship_hist.gif" width="165"></a><a href="repl_href"><img alt="Next" border="0" height="18" src="/img_translations/en/btn_next_a.gif" width="51"></a></div></td>
                                      </tr>
                                    </table>
                                    
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table  class="pi-r1-b" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <!-- Begin Row: Header Rows with vertical spacing -->
                                <tr>
                                  <td colspan="8"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td valign="top"><div class="modulepad"><span class="bold">Eligible</span></div></td>
                                  <td valign="top"><div class="modulepad"><span class="bold">Tracking Number</span></div></td>
                                  <td valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td valign="top"><div class="modulepad"><span class="bold">Weight</span></div></td>
                                  <td valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td valign="top"><div class="modulepad"><span class="bold">Reference #1</span></div></td>
                                  <td valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td valign="top"><div class="modulepad"><span class="bold">C.O.D. Amount</span></div></td>
                                </tr>
                                <tr>
                                  <td colspan="8"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr class="pi-r1">
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect1" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{35 characters}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">100.00 USD</div></td>
                                </tr>
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect2" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{35 characters}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr class="pi-r1">
                                  <td><div class="modulepad"></div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad"></div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect4" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">100.00 USD</div></td>
                                </tr>
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr class="pi-r1">
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect5" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{35 characters}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect6" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">100.00 USD</div></td>
                                </tr>
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr class="pi-r1">
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect7" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{35 characters}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect8" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">100.00 USD</div></td>
                                </tr>
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr class="pi-r1">
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect9" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{35 characters}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect10" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">100.00 USD</div></td>
                                </tr>
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr class="pi-r1">
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect9" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{35 characters}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td>&nbsp;</td>
                                </tr>
                                <tr class="pi-r1">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td><div class="modulepad">
                                      <input name="ShipmentSelect10" type="checkbox" value="1">
                                    </div></td>
                                  <td><div class="modulepad">1Z1234567890123456</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{nnn.00}{lbs.}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">{35 characters}</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">100.00 USD</div></td>
                                </tr>
                                <tr>
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td colspan="8"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column -->
                                    
                                    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td><a href="repl_href"><img src="/img_translations/en/btn_lnk_select_all_mini.gif" width="64" height="14" border="0" ><img src="/img/1.gif" width="2" height="2" border="0"></a> &nbsp; <a href="repl_href"><img src="/img_translations/en/btn_lnk_clear_all_mini.gif" width="60" height="14" border="0"></a></td>
                                        <td><div align="right"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><a href="repl_href"><img alt="Back To Shipping History" border="0" height="18" src="/img_translations/en/btn_bk_ship_hist.gif" width="165"></a><a href="repl_href"><img alt="Next" border="0" height="18" src="/img_translations/en/btn_next_a.gif" width="51"></a></div></td>
                                      </tr>
                                    </table>
                                    <br>
                                    
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              
                              <!-- begin note area -->
                              
                              <div class="campusship">
                                <table border="0" cellpadding="0" cellspacing="1" width="566">
                                  <tr class="modbgcolor2">
                                    <td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
                                  </tr>
                                  <tr class="modbgcolor2">
                                    <td valign="top">{<span class="bold">Note:</span> note or disclaimer that there will be a fee for each package using the package intercept service. Actual content to be created }</td>
                                  </tr>
                                </table>
                              </div>
                              
                              <!-- end note area --> 
                              <!-- End: Modules  --></td>
                          </tr>
                        </table>
                        
                        <!-- end instructional text --> 
                        <!-- End: Inner Content --></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!--
              <tr>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-bot-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
							-->
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- End: Tab Navigation Wrapper -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
</div>

<!--

******************************
CHANGE LOG: 09/01/06
------------------------------


-To->
	Significant changes made to this doc. Please refer to HTML/Wireframe for changes.

-->