---
title: cam_shi_shi(3rag)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content -->
            <div class="campusship"><img alt="" border="0" height="8" src="/img/icn_page_title_cs.gif" width="1"></div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            
            <!-- begin application header -->
            <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="283"><!-- begin title -->
                  
                  <div class="appspacepad"><span class="header2">Address Validation</span></div>
                  
                  <!-- end title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis">
                    <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
              </tr>
            </table>
            <!-- end application header --> 
            
            <!-- begin instructional text -->
            <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top" width="546"><div class="instrpad"> <span class="redErrorBold">[Error Messaging Appears Here]</span> <br>
                    <br>
                    <span class="bold">You do not have the privilege to modify this address.  You may use the original address or cancel this shipment and contact your CampusShip Administrator to resolve any discrepancies.</span> </div>
                  <br></td>
              </tr>
            </table>
            <!-- end instructional text --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad">
                    <div class="campusship"><span class="modheader">Address Validation</span></div>
                    <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  </div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  <div class="campusship">
                    <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="5"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin left content column --> 
                        <span class="modsubheader">Entered Ship To Address</span> <br>
                        [city, state, postal code]<br>
                        
                        <!-- end left content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin right content column --> 
                        &nbsp; 
                        <!-- end right content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin buttons spacer -->
            <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top"><div align="right">
                    <input value="Cancel Shipment" class="btn" type="button">
                    <input value="Use Orginial Address" class="btn" type="button">
                  </div></td>
              </tr>
            </table>
            <!-- end buttons --> 
            
            <!-- begin note area -->
            <table border="0" cellpadding="0" cellspacing="1" width="566">
              <tr>
                <td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
            </table>
            <!-- end note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
  </div>