---
title: create an import control shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">review your ups import control<sup>sm</sup> shipment details</h2>
                <ul>
                  <li><a href="repl_href" class="btnlnkR helpiconR">help link</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p id="repl_id">{paragraph text.}</p>
                
                <!-- /////////////////////////////////////////////////////////////// -->
                <!-- //// Begin 1 address information                           //// -->
                <!-- /////////////////////////////////////////////////////////////// -->
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">1</span> </div>
                    <h3 id="repl_id">address information</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody clearfix">
                    <div class="floatBegin">
                      <dl>
                        <dt> <span class="label">{import to:}</span> <a href="repl_href">{edit link}</a></dt>
                        <dd id="repl_id">{contact name}<br>
                          {company name}<br>
                          {address 1}<br>
                          {city}, {other}<br>
                          {country or territory}<br>
                          telephone: {number}</dd>
                      </dl>
                    </div>
                    <div class="floatBegin">
                      <dl>
                        <dt> <span class="label">{ship to:}</span> <a href="repl_href">{edit link}</a></dt>
                        <dd id="repl_id">{contact name}<br>
                          {company name}<br>
                          {address 1}<br>
                          {city}, {other}<br>
                          {country or territory}<br>
                          telephone: {number}<br>
                        </dd>
                      </dl>
                    </div>
                    <div class="floatBegin">
                      <dl>
                        <dt> <span class="label">{importer address:}</span> <a href="repl_href">{edit link}</a></dt>
                        <dd id="repl_id">{contact name}<br>
                          {company name}<br>
                          {address 1}<br>
                          {city}, {other}<br>
                          {country or territory}<br>
                          telephone: {number}<br>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////////// -->
                <!-- //// End 1 address information                             //// -->
                <!-- //// Begin 2 shipment information                          //// -->
                <!-- /////////////////////////////////////////////////////////////// -->
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                    <h3 id="repl_id">shipment information</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- Sub Level Module Containers NEEDED when General Information and Shipment Information shown together --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Shipment Information --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- Begin Sub Module -->
                    <div class="secLvl"> 
                      <!-- Begin Sub Header -->
                      <div class="secHead clearfix">
                        <h4 id="repl_id">{general information}</h4>
                        <ul>
                          <li><a href="repl_href" class="btnlnkL editMini">edit</a></li>
                        </ul>
                      </div>
                      <!-- End Sub Header --> 
                      
                      <!-- Begin Sub Body -->
                      <div class="secBody">
                        <dl class="outHozFixed1 clearfix">
                          <dt> <span class="label">{actual (pallet) weight label:}</span> </dt>
                          <dd id="repl_id">{nn.n lbs/kg}</dd>
                          <dt> <span class="label">{<a href="repl_href" class="btnlnkR helpIconR">total number of pieces on all pallets:</a>}</span> </dt>
                          <dd id="repl_id">[00]</dd>
                          <dt> <span class="label"><a href="repl_href" class="btnlnkR helpIconR">{billable weight label:</a>}</span> </dt>
                          <dd id="repl_id">{nn.n lbs/kg}</dd>
                          <dt> <span class="label">{description of goods label:}</span> </dt>
                          <dd id="repl_id">{description of goods}</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                          <!-- --------------------------------------------------------- -->
                          <dt> <span class="label">{movement reference number label:}</span> </dt>
                          <dd id="repl_id">{movement reference number}</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- Shipment Information - DE to FR EU Transborder, Shipment Processing --> 
                          <!-- --------------------------------------------------------- -->
                          <dt> <span class="label">{shipment declared label:}</span> </dt>
                          <dd id="repl_id">{nn,nn eur}</dd>
                          <dt> <span class="label">{number of packages label:}</span> </dt>
                          <dd id="repl_id">{n}</dd>
                          <dt> <span class="label">{packaging type label:}</span> </dt>
                          <dd id="repl_id">{packaging type}</dd>
                          <dt> <span class="label">{number of packages that are large packages label:}</span> </dt>
                          <dd id="repl_id">{n}</dd>
                          <dt> <span class="label">{number of packages with additional handling label:}</span> </dt>
                          <dd id="repl_id">{n}</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Shipment Information - DE to FR EU Transborder, Shipment Processing --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- Shipment Information - DE to FR EU Transborder, Package Processing --> 
                          <!-- --------------------------------------------------------- -->
                          <dt> <span class="label">{reference #1:}</span> </dt>
                          <dd id="repl_id">{appropriation number - NxNxNNxNN}</dd>
                          <dt> <span class="label">{reference #2:}</span> </dt>
                          <dd id="repl_id">{fda product code xNNNNxxNNN}</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Shipment Information - DE to FR EU Transborder, Package Processing --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                          <!-- --------------------------------------------------------- -->
                          <dt> <span class="label">{other options label:}</span> </dt>
                          <dd id="repl_id">{goods not in free circulation}</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                          <!-- --------------------------------------------------------- -->
                        </dl>
                        <dl class="outHozFixed1 clearfix">
                          <dt>shipment contains <strong>dangerous good</strong>: </dt>
                          <dd>[yes]</dd>
                        </dl>
                        <dl class="outHozFixed1 clearfix">
                          <dt> <span class="label">description of goods:</span> </dt>
                          <dd>{description of goods}</dd>
                        </dl>
                        <div class="clear"> </div>
                        <p id="repl_id">account enabled for ups paperless<sup>sm</sup> invoice</p>
                        <p id="repl_id">account enabled for ups paperless nafta</p>
                      </div>
                      <!-- End Sub Body --> 
                      
                      <!-- Begin Sub Footer --><!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Shipment Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Package Information --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- Begin Sub Module -->
                    <div class="secLvl"> 
                      <!-- Begin Sub Header -->
                      <div class="secHead clearfix">
                        <h4 id="repl_id">{package/pallet information}</h4>
                        <ul>
                          <li><a href="repl_href" class="btnlnkL editMini">edit</a></li>
                        </ul>
                      </div>
                      <!-- End Sub Header --> 
                      
                      <!-- Begin Sub Body -->
                      <div class="secBody">
                        <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
                          <tr>
                            <th class="sel alignCenter">&nbsp;</th>
                            <th><span class="label">{weight}</span></th>
                            <th class="nowrap"><span class="label">{dimensions/<br>
                              packaging}</span></th>
                            <th><span class="label">{declared value}</span></th>
                            <th nowrap="nowrap"><span class="label">{<a href="" class="btnlnkR helpIconR">references</a> or description}</span></th>
                          </tr>
                          <tr class="odd">
                            <td class="sel alignCenter">1.</td>
                            <td nowrap="nowrap">{nn.n} {lbs/kg}<br>
                              ([000][lb/kg] billable)</td>
                            <td nowrap="nowrap">{nn}x{nn}x{nn} {in.}<br>
                              {packaging type}</td>
                            <td nowrap="nowrap">{nn.nn usd}</td>
                            <td>{reference # or description}</td>
                          </tr>
                          <tr>
                            <td class="sel alignCenter">2.</td>
                            <td nowrap="nowrap">{nn.n} {lbs/kg}<br>
                              ([000][lb/kg] billable)</td>
                            <td nowrap="nowrap">{nn}x{nn}x{nn} {in.}<br>
                              {packaging type}</td>
                            <td nowrap="nowrap">{nn.nn usd}</td>
                            <td>{reference # or description}</td>
                          </tr>
                          <tr class="odd">
                            <td class="sel alignCenter">3.</td>
                            <td nowrap="nowrap">{nn.n} {lbs/kg}<br>
                              ([000][lb/kg] billable)</td>
                            <td nowrap="nowrap">{nn}x{nn}x{nn} {in.}<br>
                              {packaging type}</td>
                            <td nowrap="nowrap">{nn.nn usd}</td>
                            <td>{reference # or description}</td>
                          </tr>
                        </table>
                        <p>review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidelines</a> to see if they apply to your pallet.</p>
                      </div>
                      <!-- End Sub Body --> 
                      
                      <!-- Begin Sub Footer --><!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Package Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////////// -->
                <!-- //// End 2 shipment information                            //// -->
                <!-- //// Begin 3 ups shipping service and shipping option      //// -->
                <!-- /////////////////////////////////////////////////////////////// -->
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">3</span> </div>
                    <h3 id="repl_id">ups shipping service and shipping options</h3>
                    <ul>
                      <li><a href="repl_href" class="btnlnkL editMini">{edit link}</a></li>
                    </ul>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <dl>
                      <dt> <span class="label">{ups service:}</span> </dt>
                      <dd id="repl_id">{service type}</dd>
                      <dt> <span class="label">{label delivery method:}</span> </dt>
                      <dd id="repl_id">{electronic label}</dd>
                    </dl>
                    
                    <!-- Begin Sub Module -->
                    <div class="secLvl message sell clearfix tableonly"> 
                      <!-- Begin Sub Header -->
                      <div class="secHead clearfix">
                        <h4 id="repl_id">{section header}?</h4>
                      </div>
                      <!-- End Sub Header --> 
                      
                      <!-- Begin Sub Body -->
                      <div class="secBody">
                        <table border="0" cellpadding="0" cellspacing="0" class="sel full">
                          <tr>
                            <td class="sel"><input name="repl_name01" type="radio" value="" id="repl_name" checked="checked"></td>
                            <td class=""><label id="repl_id" for="repl_name" class="sel">{ups services}</label></td>
                            <td class="alignEnd nowrap">{currently selected}</td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="radio" value="" id="repl_name"></td>
                            <td class=""><label id="repl_id" for="repl_name" class="sel">{ups services}</label></td>
                            <td class="alignEnd nowrap">{nn.nn usd more}</td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="radio" value="" id="repl_name"></td>
                            <td class=""><label id="repl_id" for="repl_name" class="sel">{ups services}</label></td>
                            <td class="alignEnd nowrap">{nn.nn usd more}</td>
                          </tr>
                        </table>
                      </div>
                      <!-- End Sub Body --> 
                      
                      <!-- Begin Sub Footer -->
                      <div class="secFooter">
                        <div class="btnBar">
                          <input name="" type="button" id="repl_id" value="{update}" class="btnlnkL checkMini">
                        </div>
                      </div>
                      <!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module --> 
                    
                    <!-- Begin Sub Module -->
                    <div class="secLvl message sell clearfix tableonly"> 
                      <!-- Begin Sub Header -->
                      <div class="secHead clearfix">
                        <h4 id="repl_id">{section header}?</h4>
                      </div>
                      <!-- End Sub Header --> 
                      
                      <!-- Begin Sub Body -->
                      <div class="secBody">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{select <a href="repl_href" class="btnlnkR helpIconR">carbon neutral</a>}</label></td>
                            <td class="alignEnd nowrap">{nn.nn usd y}</td>
                          </tr>
                        </table>
                      </div>
                      <!-- End Sub Body --> 
                      
                      <!-- Begin Sub Footer -->
                      <div class="secFooter">
                        <div class="btnBar">
                          <input name="" type="button" id="repl_id" value="{update}" class="btnlnkL checkMini">
                        </div>
                      </div>
                      <!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module -->
                    
                    <dl class="outHozLedger clearfix">
                      <dt> <span class="label">{shipping fees subtotal label:}</span> </dt>
                      <dd><strong>{nn.nn usd}</strong></dd>
                    </dl>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Shipping Fees Subtotal Collapsed (Default) --> 
                    <!-- --------------------------------------------------------- -->
                    <div>
                      <input id="repl_id" onClick="" name="" type="button" class="btnlnkL expandIcon" value="{show shipping fees subtotal details}">
                    </div>
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Shipping Fees Subtotal Collapsed (Default) --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Shipping Fees Subtotal Expanded --> 
                    <!-- --------------------------------------------------------- -->
                    <div>
                      <input id="repl_id" onClick="" name="" type="button" class="btnlnkL collapseIcon" value="{hide shipping fees subtotal details}">
                    </div>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{transportation}</span> </dt>
                      <dd id="repl_id">{nn.dd} usd</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{fuel surcharge}</span> </dt>
                      <dd id="repl_id">{nn.dd} usd</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{gross shipping charges}</span> </dt>
                      <dd>nnn.nn USD</dd>
                    </dl>
                    <dl class="outHozFixed indent clearfix">
                      <dt> <span class="label">{dneity rated label}</span> </dt>
                      <dd>[nnn];</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{[nn%] discount amount}<br>
                           &nbsp; &nbsp; &nbsp; &nbsp; (Ground with Freight Pricing)</span> </dt>
                      <dd></dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{amount after discount}</span> </dt>
                      <dd>nnn.nn USD</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{declared value label}</span> </dt>
                      <dd>&nbsp;</dd>
                      <dt class="indent">{package {n}}</dt>
                      <dd id="repl_id">&nbsp;</dd>
                    </dl>
                      <!-- --------------------------------------------------------- --> 
                      <!-- Shipping Fees Subtotal - DE to DE Forward, Package Processing --> 
                      <!-- --------------------------------------------------------- -->
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{additional handing label}</span> </dt>
                      <dd>&nbsp;</dd>
                      <dt class="indent"> {package {n}} </dt>
                      <dd id="repl_id">{nnn,nn eur}</dd>
                      <dt class="indent"> {package {n}} </dt>
                      <dd id="repl_id">{nnn,nn eur}</dd>
                      <dt class="indent"> {package {n}} </dt>
                      <dd id="repl_id">{nnn,nn eur}</dd>
                    </dl>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Shipping Fees Subtotal - DE to DE Forward, Package Processing --> 
                      <!-- --------------------------------------------------------- -->
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{large package surcharge label}</span> </dt>
                      <dd>&nbsp;</dd>
                      <dt class="indent"> {package {n}} </dt>
                      <dd id="repl_id">{nnn,nn usd}</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{residential surcharge}</span> </dt>
                      <dd id="repl_id">{nnn.nn usd}</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{security surcharge}</span> </dt>
                      <dd id="repl_id">{nnn.nn usd}</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{residential surcharge}</span> </dt>
                      <dd id="repl_id">{nnn.nn usd}</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{seasonal surcharge fee}</span> </dt>
                      <dd id="repl_id">{nnn.nn usd}</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{saturday processing fee}</span> </dt>
                      <dd id="repl_id">{nnn.nn usd}</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">pallet surcharge</span> </dt>
                      <dd>{nnn.nn usd}</dd>
                    </dl>
                    <p class="indent"><span class="indent">pallet n</span></p>
                    <dl class="outHozLedger indent clearfix">
                      <!-- --------------------------------------------------------- --> 
                      <!-- Shipping Fees Subtotal - DE to DE Forward, Package Processing --> 
                      <!-- --------------------------------------------------------- -->
                      <dt> <span class="label">{declared value label}</span> </dt>
                      <dd>no charge</dd>
                    </dl>
                    <dl class="outHozLedger indent clearfix">
                      <dt> <span class="label">{extended area surcharge}</span> </dt>
                      <dd id="repl_id">{nnn,nn eur}</dd>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Shipping Fees Subtotal - DE to DE Forward, Package Processing --> 
                      <!-- --------------------------------------------------------- -->
                      
                    </dl>
                    <hr class="hr">
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Shipping Fees Subtotal Expanded --> 
                    <!-- --------------------------------------------------------- -->
                    <h4 id="repl_id">{additional shipping options}:</h4>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">{c.o.d. amount:}</span> <a href="repl_href">{edit link}</a> <a href="repl_href">{cancel link}</a><br>
                           &nbsp; &nbsp; &nbsp; &nbsp;Package 1: C.O.D. Ammount: {nn.nn} USD, Cashier's Chk./M.O. Only</dt>
                      <dd id="repl_id">{no charge}</dd>
                    </dl>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">{e-mail notifications:}</span> <a href="repl_href">{edit link}</a> <a href="repl_href">{cancel link}</a></dt>
                      <dd id="repl_id">{no charge}</dd>
                    </dl>
                    <dl class="outHozFlex clearfix">
                      <dt class="indent">{1.} {e-mail address}:</dt>
                      <dd id="repl_id">{label created, ship, exception, delivery}</dd>
                      <dt class="indent">{e-mail failure notification}:</dt>
                      <dd id="repl_id">{email address}</dd>
                    </dl>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">{electronic label:}</span> <a href="repl_href">{edit link}</a> <a href="repl_href">{cancel link}</a></dt>
                      <dd id="repl_id">{nnn.nn usd}</dd>
                    </dl>
                    <dl class="outHozFlex clearfix">
                      <dt class="indent">{e-mail electronic label to}:</dt>
                      <dd id="repl_id">{e-mail address}</dd>
                      <dt class="indent">{e-mail electronic label to}:</dt>
                      <dd id="repl_id">{email address}</dd>
                    </dl>
                    <dl class="outHozLedger clearfix">
                      <dt> <span class="label">{commercial invoice removal label:}</span> <a href="repl_href">{cancel link}</a></dt>
                      <dd id="repl_id">{nnn.}{nn} {usd}</dd>
                    </dl>
                    <dl class="outHozLedger clearfix">
                      <dt> <span class="label">{ups carbon neutral label:}</span> <a href="repl_href">{edit link}</a> <a href="repl_href">{cancel link}</a></dt>
                      <dd id="repl_id">{nnn.}{nn} {usd}</dd>
                    </dl>
                    <dl class="outHozLedger clearfix">
                      <dt> <span class="label">dry ice (shipped under iata regulations)</span> </dt>
                      <dd id="repl_id">{nnn.}{nn} {usd}</dd>
                    </dl>
                    <p id="repl_id" class="indent">pallet [0]<br>
                      <span class="indent">dry ice weight: [00.0][lb/kg]</span></p>
                    <p id="repl_id" class="indent">pallet [1]<br>
                      <span class="indent">dry ice weight: [00.0][lb/kg]</span></p>
                    <dl class="outHozLedger clearfix">
                      <dt> <span class="label">liftgate on pickup</span> <a href="repl_href">{cancel link}</a></dt>
                      <dd id="repl_id">{nnn.}{nn} {usd}</dd>
                    </dl>
                    <dl class="outHozLedger clearfix">
                      <dt> <span class="label">liftgate on delivery</span> <a href="repl_href">{cancel link}</a></dt>
                      <dd id="repl_id">{nnn.}{nn} {usd}</dd>
                    </dl>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">{ups proactive response<sup>sm</sup> label:}</span> <a href="repl_href">{cancel link}</a></dt>
                      <dd id="repl_id">{nnn.}{nn} {usd}</dd>
                    </dl>
                    <p id="repl_id" class="indent">{needed}</p>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">{saturday delivery:}</span> <a href="repl_href">{cancel link}</a></dt>
                      <dd id="repl_id">{nnn.}{nn} {usd}</dd>
                    </dl>
                    <dl class="outHozLedger totals clearfix">
                      <dt for="repl_id">{total shipping charges}</dt>
                      <dd id="repl_id">{nnn.}{nn} {cur}</dd>
                    </dl>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////////// -->
                <!-- //// End 3 ups shipping service and shipping option        //// -->
                <!-- //// Begin 4 [pickup][/dropoff] information                //// -->
                <!-- /////////////////////////////////////////////////////////////// -->
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">4</span> </div>
                    <h3 id="repl_id">[pickup][/dropoff] information</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- Begin Section Module -->
                    <div class="secLvl secLvlPlain"> 
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3>pickup / drop-off option</h3>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <p>ups will pick up / customer selected to drop off this shipment.</p>
                        <p><strong>Note:</strong> the party that will be receiving the return shipment label(s) must arrange for getting the return shipment to ups.</p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer --> 
                    </div>
                    <!-- End Section Module -->
                    <hr class="hr">
                    <!-- Begin Section Module -->
                    <div class="secLvl secLvlPlain"> 
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3>delivery option</h3>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <p>this shipment will be held at destination ups location for customer pickup</p>
                        <div class="flexFirst clearfix">
                          <dl>
                            <dt> <span class="label">[location/facility name]</span> </dt>
                            <dd>[city], [other], [state] [zip/postal code]<br>
                              [country or territory]<br>
                              telephone: [number]<br>
                              fax: [number]</dd>
                          </dl>
                          <p><a class="btnlnkR newWindowIconR" href="repl_href">last 50 feet directions</a></p>
                          <dl>
                            <dt> <span class="label">hours of operation:</span> </dt>
                            <dd>[weekday] hh:mm am to hh:mm pm<br>
                              [weekday] hh:mm am to hh:mm pm<br>
                              [weekday] hh:mm am to hh:mm pm<br>
                              ...<br>
                              [sunday] [closed]</dd>
                          </dl>
                        </div>
                        <div class="flexAfter clearfix">
                          <dl class="outHozFlex clearfix">
                            <dt> <span class="label">[000]</span> </dt>
                            <dd>[mi/km]</dd>
                          </dl>
                        </div>
                        <div class="clear"> </div>
                        <p><strong>Note:</strong> the party that will be sending the return shipment must notify the recipient if the return shipment will be help for pick up at a ups location.</p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer --> 
                    </div>
                    <!-- End Section Module --> 
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////////// -->
                <!-- //// End 4 [pickup][/dropoff] information                  //// -->
                <!-- //// Begin 5 payment information                           //// -->
                <!-- /////////////////////////////////////////////////////////////// -->
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">5</span> </div>
                    <h3>payment information</h3>
                    <ul>
                      <li><a href="repl_href" class="btnlnkL editMini">{edit link}</a></li>
                    </ul>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <dl class="outHozFixed clearfix">
                      <dt> <span class="label">bill chipping charges to:</span> </dt>
                      <dd>shipper's account 123456</dd>
                      <dt> <span class="label">bill duties and taxes to:</span> </dt>
                      <dd>shipper's account 123456</dd>
                    </dl>
                    
                    <!-- Begin Section Module -->
                    <div class="secLvl message"> 
                      <!-- Begin Section Header --><!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <dl class="outHozLedger clearfix totals">
                          <dt><span style="font-weight:normal;">{Retail rates were applied to this shipment.}</span></dt>
                          <dt> <span class="label">subtotal pickup charges:</span> </dt>
                          <dd id="repl_167">nnnn.nn usd</dd>
                          <dt> <span class="label">subtotal shipping charges:</span> </dt>
                          <dd id="repl_169">nnnn.nn usd</dd>
                          <dt> <span class="label">Estimated Total Cost:</span> </dt>
                          <dd id="repl_169">nnnn.nn usd</dd>
                          <dt> <span class="label">negotiated charges:</span> </dt>
                          <dd id="repl_169">nnnn.nn usd</dd>
                        </dl>
                        <p>{promotion code was applied to this shipment}</p>
                        <p>{a discount was applied to the standard list/daily/retail rates for this shipment}</p>
                        <p>{rate name} rates were applied to this shipment}</p>
                        <dl class="outHozLedger clearfix totals">
                          <dt class=""> <span class="label">total ups charges</span> </dt>
                          <dd id="repl_156">nnn.nn cur</dd>
                          <dt class="indent"> {Tax 1} </dt>
                          <dd id="repl_156">nnn.nn cur</dd>
                          <dt class="indent"> {Tax 2} </dt>
                          <dd id="repl_156">nnn.nn cur</dd>
                          <dt class="indent"> {Tax 3} </dt>
                          <dd id="repl_156">nnn.nn cur</dd>
                          <dt> <span class="label">total charged:</span> </dt>
                          <dd id="repl_171">nnnn.nn usd</dd>
                        </dl>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer --> 
                    </div>
                    <!-- End Section Module --> 
                    
                  </div>
                  <!-- End Section Body --> 
                </div>
                <!-- End Section Module -->
                
                <!-- /////////////////////////////////////////////////////////////// -->
                <!-- //// End 5 payment information                             //// -->
                <!-- /////////////////////////////////////////////////////////////// -->
                
                <p id="repl_id">{select ship now paragraph text.}</p>
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="sel"><input name="repl_name02" type="checkbox" value="" id="repl_id" checked="checked"></td>
                    <td><label id="repl_id" for="repl_id" class="sel">{save as shipping ticket}</label></td>
                  </tr>
                </table>
                <p>by selecting the <strong>next</strong> button, i agree to the <a href="" class="btnlnkR newwindowIconR">term and conditions</a>.</p>
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="{cancel}" class="btn">
                  <input name="" type="submit" id="repl_id" value="{ship to}" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            <div align="center" class="cobrand"> <br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a> </div>
          </form>
        </div>
        <!-- /applicationArea --> 