---
title: create a return page title
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">begin your return application header</h2>
                <ul>
                  <li><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody">
                <p class="error">&gt;&gt;&gt;error message.</p>
                <p>please enter your return info paragraph text. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl message">
                  <fieldset>
                    <!-- Begin Section Header --><!-- End SectSion Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p><a id="repl_id" href="repl_href">set preference link</a> paragraph text <strong>bold text</strong>. (<a id="repl_id" href="repl_href">don't show link</a>)</p>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl message">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id">ups returns <sup>&reg;</sup> exchange header</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p>please verify the info below paragraph text.</p>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module -->
                
                <fieldset>
                  <!-- Begin Section Module -->
                  <div class="secLvl step">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
                        <h3 id="repl_id">where is the shipment coming from header</h3>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <fieldset>
                          <dl class="flexFirst">
                            <dt>
                              <label id="repl_id" for="repl_id">address book label:</label>
                            </dt>
                            <dd> 
                              <!-- combo box code samples located in the icdev widgets directory -->
                              <div class="combobox" id="repl_id">
                                <select>
                                  <option value="">enter or select one</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> 
                                <!-- br needed for IE 6 --><br>
                              </div>
                              <!-- END combo box --> 
                            </dd>
                          </dl>
                          <dl class="flexAfter">
                            <dt>&nbsp;</dt>
                            <dd>--- or enter a new address below ---</dd>
                          </dl>
                        </fieldset>
                        <fieldset>
                          <dl class="flexfirst group">
                            <dd><a id="repl_id" href="repl_href">enter a new address link</a></dd>
                          </dl>
                          <dl class="flexAfter group">
                            <dd><a id="repl_id" href="repl_href">external address book link</a></dd>
                          </dl>
                          <dl class="flexAfter">
                            <dd><a id="repl_id" href="repl_href">corporate address book link</a></dd>
                          </dl>
                        </fieldset>
                        
                        <!-- --------------------------------------------------------- --> 
                        <!-- Ship To Address - Saved Address Selected --> 
                        <!-- --------------------------------------------------------- -->
                        <fieldset>
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">ship from/return to address label:</label>
                              <a id="repl_id" href="repl_href">edit link</a> </dt>
                            <dd id="repl_id">[contact name]<br>
                              [company name]<br>
                              [address line 1]<br>
                              [city, other]<br>
                              [country or territory]<br>
                              telephone: [NNN-NNN-NNNN] </dd>
                          </dl>
                        </fieldset>
                        <!-- --------------------------------------------------------- --> 
                        <!-- END Ship To Address - Saved Address Selected --> 
                        <!-- --------------------------------------------------------- -->
                        
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">company or name:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">contact:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">country or territory:</label>
                              </dt>
                              <dd>
                                <select name="" size="1" id="repl_id">
                                  <option value="None">select a country or territory</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">address line 1:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">address line 2:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <div class="reqTxtInst">instructional text</div>
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">address line 3:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <div class="reqTxtInst">instructional text</div>
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginEnd">
                            <dl class="group">
                              <dt>
                                <label id="repl_id" for="repl_id" class="error">&gt;&gt;&gt;city:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" value="city" size="32">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">state:</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="">select one</option>
                                  <option value="" selected>state</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">zip code:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" value="nnnnnn" size="15">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            </dl>
                            <fieldset>
                              <dl class="flexFirst group">
                                <dt>
                                  <label id="repl_id" for="repl_id">telephone:</label>
                                </dt>
                                <dd>
                                  <input name="" type="text" id="repl_id" value="nnn-nnn-nnnn" size="15">
                                </dd>
                              </dl>
                              <dl class="flexAfter group">
                                <dt>
                                  <label id="repl_id" for="repl_id">ext.:</label>
                                </dt>
                                <dd>
                                  <input name="" type="text" id="repl_id" size="5">
                                </dd>
                              </dl>
                            </fieldset>
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">e-mail:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                        <fieldset>
                          <div class="hr"><img alt="" border="0" width="1" height="1" src="/img/1.gif" ></div>
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">save options for address:</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="" selected>select one</option>
                                  <option value="">save as new entry</option>
                                  <option value="">update entry</option>
                                </select>
                              </dd>
                            </dl>
                          </div>
                          <!-- Begin Column --> 
                          
                          <!-- End Column -->
                          <div class="subcol9 marginEnd">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">save this to my address book as:</label>
                              </dt>
                              <dd>
                                <input type="text" name="" id="repl_id">
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module -->
                </fieldset>
                
                <!-- Begin Section Module -->
                <div class="secLvl step">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
                      <h3 id="repl_id">where is the shipment going to</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <fieldset>
                        <!-- Begin Column -->
                        <div class="subcol9 marginBegin">
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">return to address label:</label>
                              <a id="repl_id" href="repl_href">edit link text</a> </dt>
                            <dd id="repl_id">production test<br/>
                              company or name<br>
                              address line 1<br>
                              city, state zip<br>
                              telephone: NNN-NNN-NNNN </dd>
                          </dl>
                        </div>
                        <!-- End Column --> 
                        
                        <!-- Begin Column -->
                        <div class="subcol9 marginEnd">
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">requesters address label:</label>
                              <a id="repl_id" href="repl_href">edit link text</a> </dt>
                            <dd>
                              <input type="text" id="repl_id" value="[production test]">
                              <br>
                              [production test]<br>
                              [company or name]<br>
                              [address line 1]<br>
                              [city, state zip]<br>
                              telephone: [NNN-NNN-NNNN] </dd>
                          </dl>
                        </div>
                        <!-- Emd Column -->
                      </fieldset>
                      
                      <!-- --------------------------------------------------------- --> 
                      <!-- Return From Address - Enter a New Address --> 
                      <!-- --------------------------------------------------------- -->
                      <fieldset>
                        <h4 id="repl_id">enter a new address</h4>
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">company or name:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                              <dt>
                                <label id="repl_id" for="repl_id">contact:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">country or territory:</label>
                              </dt>
                              <dd>
                                <select name="" size="1" id="repl_id">
                                  <option value="None">select a country or territory</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">address line 1:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">address line 2:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <div class="reqTxtInst">instructional text</div>
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">address line 3:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <div class="reqTxtInst">instructional text</div>
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginEnd">
                            <dl class="group">
                              <label id="repl_id" for="repl_id">city:</label>
                              <dd> 
                                <!--combo box-->
                                <input name="" type="text" id="repl_id" size="32">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> 
                                <!--combo box--> 
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">state:</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="" selected>select one</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">zip code:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="15">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            </dl>
                            <fieldset>
                              <dl class="flexFirst group">
                                <dt>
                                  <label id="repl_id" for="repl_id">telephone:</label>
                                </dt>
                                <dd>
                                  <input name="" type="text" id="repl_id" size="15">
                                </dd>
                              </dl>
                              <dl class="flexAfter group">
                                <dt>
                                  <label id="repl_id" for="repl_id">ext.:</label>
                                </dt>
                                <dd>
                                  <input name="" type="text" id="repl_id" size="5">
                                </dd>
                              </dl>
                            </fieldset>
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">e-mail:</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                        <fieldset>
                          <div class="hr"><img alt="" border="0" width="1" height="1" src="/img/1.gif" ></div>
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">save options for address:</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="" selected>select one</option>
                                  <option value="">save as new entry</option>
                                  <option value="">update entry</option>
                                </select>
                              </dd>
                            </dl>
                          </div>
                          <!-- Begin Column --> 
                          
                          <!-- End Column -->
                          <div class="subcol9 marginEnd">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">save this to my address book as:</label>
                              </dt>
                              <dd>
                                <input type="text" name="" id="repl_id">
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                      </fieldset>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Return From Address - Enter a New Address --> 
                      <!-- --------------------------------------------------------- --> 
                      
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">3</span></div>
                      <h3 id="repl_id">what are you returning header</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <fieldset>
                        
                        <!-- --------------------------------------------------------- --> 
                        <!-- Package Information - DE Return To with US Pickup From --> 
                        <!-- Package Information - US Return To, DE Pickup From --> 
                        <!-- --------------------------------------------------------- -->
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">description of goods label:</a></label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">documents of no commercial value selection</label></td>
                          </tr>
                          <!-- Package Information - DE Return To with US Pickup From -->
                          <tr>
                            <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                            <td><label id="repl_id" for="repl_id" class="sel"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">goods not in free circulation selection</a></label></td>
                          </tr>
                          <!-- END Package Information - DE Return To with US Pickup From -->
                        </table>
                        <!-- --------------------------------------------------------- --> 
                        <!-- END Package Information - DE Return To with US Pickup From --> 
                        <!-- END Package Information - US Return To, DE Pickup From --> 
                        <!-- --------------------------------------------------------- --> 
                        
                        <!-- Begin Column -->
                        <div class="subcol9 marginBegin">
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">number of {packages/pallets} label:</label>
                            </dt>
                            <dd>
                              <select name="" id="repl_id">
                                <option value="1">n</option>
                              </select>
                              {<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">}
                              <select name="" id="repl_id" class="disabled" disabled="disabled">
                                <option value="1">n</option>
                              </select>
                            </dd>
                          </dl>
                        </div>
                        <!-- End Column --> 
                        
                        <!-- Begin Column -->
                        <div class="subcol9 marginEnd">
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">same values label?</label>
                            </dt>
                            <dd>
                              <select name="select" id="select">
                                <option value="" selected >yes</option>
                                <option value=""  >no</option>
                              </select>
                              <select name="" id="repl_id" class="disabled" disabled="disabled">
                                <option value="" selected >yes</option>
                                <option value=""  >no</option>
                              </select>
                            </dd>
                          </dl>
                        </div>
                        <!-- End Column -->
                      </fieldset>
                      
                      <!-- --------------------------------------------------------- --> 
                      <!-- Package Information - 2+ Packages - Different Values --> 
                      <!-- --------------------------------------------------------- -->
                      <p>since you indicated that your packages have different values text. <strong>note:</strong> text.</p>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Package Information - 2+ Packages - Different Values --> 
                      <!-- --------------------------------------------------------- -->
                      <div class="subcol9 marginBegin">
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">package type label:</a></label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="">select one</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                        </dl>
                      </div>
                      <div class="subcol9 marginEnd">
                        <p>review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidelines</a> to see if they apply to your pallet.</p>
                      </div>
                      <div class="clear"></div>
                      
                      <!-- --------------------------------------------------------- --> 
                      <!-- Package Details Module --> 
                      <!-- --------------------------------------------------------- --> 
                      
                      <!-- 1.1.5.8. Other Packaging -->
                      
                      <fieldset>
                        <!-- Other Packaging (weight without instructional text) --> 
                        <!-- UPS PAK (weight without instructional text) --> 
                        <!-- UPS Tube (weight without instructional text) --> 
                        <!-- UPS Express Box - Small (weight without instructional text) --> 
                        <!-- UPS Express Box - Medium (weight without instructional text) --> 
                        <!-- UPS Express Box - Large (weight without instructional text) --> 
                        <!-- UPS Letter (weight not required) -->
                        <fieldset>
                          <dl class="group flexFirst">
                            <dt>
                              <label id="repl_id" for="repl_id">weight label:</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" >
                              [uom] 
                              <!-- UIS Letter-->
                              <select name="" id="repl_id">
                                <option value="" selected>lbs.</option>
                              </select>
                              <!-- END UIS Letter --> 
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <span class="indent">
                              <input name="" type="button" value="weight it" class="btn">
                              </span> 
                              <!-- Letter-->
                              <div class="reqTxtInst">tenths of a [uom] allowd for [letters/envelopes]</div>
                              <!-- END Letter --></dd>
                          </dl>
                        </fieldset>
                        <!-- END UPS Letter -->
                        
                        <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">package dimensions label:</a></label>
                        <fieldset>
                          <dl class="flexFirst group clearfix">
                            <dt>
                              <label id="repl_id" for="repl_id">length:</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" size="5">
                              x</dd>
                          </dl>
                          <dl class="flexAfter group clearfix">
                            <dt>
                              <label id="repl_id" for="repl_id">width:</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" size="5">
                              x</dd>
                          </dl>
                          <dl class="flexAfter clearfix">
                            <dt>
                              <label id="repl_id" for="repl_id">height:</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" size="5">
                              [in]</dd>
                          </dl>
                          <div class="clear"></div>
                          <p class="reqTxtInst">(for pallets, the value entered for length must be greater than or equal to the width value.)</p>
                        </fieldset>
                        <!-- END UPS PAK --> 
                        <!-- END UPS Tube --> 
                        <!-- END UPS Express Box - Small --> 
                        <!-- END UPS Express Box - Medium --> 
                        <!-- END UPS Express Box - Large -->
                        
                        <dl>
                          <dt>
                            <label><a href="" class="btnlnkR helpIconR">large or unusually shaped packages</a></label>
                          </dt>
                          <dd>
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                                <td><label id="repl_id" class="sel" for="repl_id">large package label</label></td>
                              </tr>
                              <tr>
                                <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                                <td><label id="repl_id" class="sel" for="repl_id">additional handling label.</label></td>
                              </tr>
                            </table>
                          </dd>
                        </dl>
                        
                        <!-- UPS Letter --> 
                        <!-- UPS PAK --> 
                        <!-- UPS Tube --> 
                        <!-- UPS Express Box - Small --> 
                        <!-- UPS Express Box - Medium --> 
                        <!-- UPS Express Box - Large -->
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">declared value label:</a></label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" value="{nn}">
                            usd </dd>
                          <p><strong>note:</strong> instructional text</p>
                        </dl>
                        <!-- END UPS Letter --> 
                        <!-- END UPS PAK --> 
                        <!-- END UPS Tube --> 
                        <!-- END UPS Express Box - Small --> 
                        <!-- END UPS Express Box - Medium --> 
                        <!-- END UPS Express Box - Large --> 
                        <!-- END Other Packaging -->
                        
                        <dl>
                          <dt>
                            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">number of pieces on pallet:</a></label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id" class="formcol5">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id">merchandise description label:</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" class="formcol6">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                      </fieldset>
                      
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Package Details Module --> 
                      <!-- --------------------------------------------------------- --> 
                      
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">4</span></div>
                      <h3 id="repl_id">how would you like to ship header</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <fieldset>
                        <!-- Begin Column -->
                        <div class="subcol9 marginBegin">
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">services label:</label>
                            </dt>
                            <dd>
                              <select name="" id="repl_id">
                                <option value="">select one</option>
                              </select>
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                          </dl>
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">label delivery method label:</a></label>
                            </dt>
                            <dd>
                              <select name="" id="repl_id">
                                <option value="">none selected</option>
                              </select>
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                          </dl>
                        </div>
                        <!-- End Column --> 
                        
                        <!-- Begin Column --> 
                        
                        <!-- --------------------------------------------------------- --> 
                        <!-- Return Service Options - UPS RFA Test Mode --> 
                        <!-- --------------------------------------------------------- --> 
                        
                        <!-- Begin Sub Module -->
                        <div class="secLvl message subcol9 marginEnd">
                          <fieldset>
                            <!-- Begin Sub Header --><!-- End Sub Header --> 
                            <!-- Begin Sub Body -->
                            <div class="secBody">
                              <dl class="group">
                                <dt>
                                  <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">usps label certification</a></label>
                                </dt>
                                <dd id="repl_id">to use <strong>ups returns flexible access</strong> your account must be certified by the USPS text.</dd>
                              </dl>
                              <p><a id="repl_id" href="repl_href">print test labels link</a></p>
                            </div>
                            <!-- End Sub Body --> 
                            <!-- Begin Sub Footer --><!-- End Sub Footer -->
                          </fieldset>
                        </div>
                        <!-- End Sub Module --> 
                        
                        <!-- --------------------------------------------------------- --> 
                        <!-- Return Service Options - UPS RFA Test Mode --> 
                        <!-- --------------------------------------------------------- --> 
                        
                        <!-- End Column -->
                      </fieldset>
                      <fieldset>
                        <dl class="outHozLedger clearfix">
                          <dt>
                            <label id="repl_id" for="repl_id">do you need <a id="repl_id"class="btnlnkR helpIconR" href="repl_href">additional services label?</a></label>
                          </dt>
                          <dd>
                            <label id="repl_id" for="repl_id">fee?</label>
                          </dd>
                          <dt>
                            <input name="" type="checkbox" value="" id="repl_id">
                            <label id="repl_id" class="sel" for="repl_id">send email notifications selection</label>
                          </dt>
                          <dd id="repl_id">{yes/free}</dd>
                          <dt>
                            <input name="" type="checkbox" value="" id="repl_id">
                            <label id="repl_id" class="sel" for="repl_id">deliver on saturday</label>
                          </dt>
                          <dd id="repl_id">{yes/free}</dd>
                          <dt>
                            <input name="" type="checkbox" value="" id="repl_id">
                            <label id="repl_id" class="sel" for="repl_id">dry ice</label>
                          </dt>
                          <dd id="repl_id">{yes/free}</dd>
                          <dt>
                            <input type="checkbox" id="repl_id">
                            <label for="repl_id" class="sel">ups premium care</label>
                          </dt>
                          <dd id="repl_id">{yes/free}</dd>
                          <dt>
                            <input name="" type="checkbox" value="" id="repl_id">
                            <label id="repl_id" class="sel" for="repl_id">remove commercial invoice selection <a id="repl_id" href="repl_href" class="btnlnkR helpIconR">carbon neutral link</a></label>
                          </dt>
                          <dd id="repl_id">{yes/free}</dd>
                          <dt>
                            <input name="" type="checkbox" value="" id="repl_id">
                            <label id="repl_id" class="sel" for="repl_id">offset the climate impact selection (ups carbon neutral)</label>
                          </dt>
                          <dd id="repl_id">{yes/free}</dd>
                        </dl>
                      </fieldset>
                      <p>some services may require paragraph text.</p>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
                      <h3 id="repl_id">would you like to add reference numbers to this shipment (optional) header</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p>ups gives you the option paragraph text with <a id="repl_id"class="btnlnkR helpIconR" href="repl_href">term lvl help link</a>.</p>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">reference 1 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" >
                          <a id="repl_id" href="repl_href">search link</a></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">reference 2 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" >
                          <a id="repl_id" href="repl_href">search link</a></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">reference 3 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" >
                          <a id="repl_id" href="repl_href">search link</a></dd>
                      </dl>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                          <td><label id="repl_id" for="repl_id" class="sel"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">add a bar code label</a></label></td>
                        </tr>
                      </table>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">7</span></div>
                      <h3 id="repl_id">getting your shipment to ups</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p>ups wwexpress freight requires you to select a pikcup option and a delivery option for each shipment.  you will enter pickup details or delivery preferences on a following page.</p>
                    </div>
                  </fieldset>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr class="sel">
                    <td class="sel"><input type="checkbox" checked></td>
                    <td><label id="repl_id" class="sel" for="repl_id">review shipping details label</label></td>
                  </tr>
                  <tr class="sel">
                    <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                    <td><label id="repl_id" class="sel" for="repl_id">sava as shipping ticket label</label></td>
                  </tr>
                </table>
                <p>by selecting the <strong>next</strong> button, i agree to the <a href="" class="btnlnkR newwindowIconR">term and conditions</a>.</p>
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="start over" class="btn">
                  <input name="" type="submit" id="repl_id" value="next" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 