---
title: cam_shi_shi(7sht)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content -->
            <div class="campusship"><img alt="" border="0" height="8" src="/img/icn_page_title_cs.gif" width="1"></div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Return</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            
            <!-- begin application header -->
            <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="283"><!-- begin title -->
                  
                  <div class="appspacepad"><span class="header2">Return From Address</span></div>
                  
                  <!-- end title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis">
                    <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
              </tr>
            </table>
            <!-- end application header --> 
            
            <!-- begin instructional text -->
            <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top" width="546"><div class="instrpad">Required fields are shown in <span class="bold">bold</span> (* required for international destinations). </div>
                  <br></td>
              </tr>
            </table>
            <!-- end instructional text --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Address Information</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  <div class="campusship">
                    <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="5"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin left content column --> 
                        <span class="bold">Select Ret run From:</span> <br>
                        My UPS Address Book <br>
                        <select class="modSelMedium" name="SelectRecipient" size="1">
                          <option selected>Select One</option>
                          <option>United Parcel Service, Inc.</option>
                          <option>UPS I.S. Maryland</option>
                          <option>Innoplex</option>
                        </select>
                        <br>
                        <a href="#External Address Book">External Address Book</a> <br>
                        <br>
                        <span class="bold">Company:</span> <br>
                        <input class="modTxtMedium" maxlength="15" name="Company" size="15" type="text">
                        <br>
                        <br>
                        *Contact: <br>
                        <input class="modTxtMedium" maxlength="15" name="Contact" size="15" type="text">
                        <br>
                        <br>
                        <span class="bold">Address:</span> <br>
                        <input class="modTxtMedium" maxlength="15" name="Address1" size="15" type="text">
                        <br>
                        <input class="modTxtMedium" maxlength="15" name="Address2" size="15" type="text">
                        <br>
                        <input class="modTxtMedium" maxlength="15" name="Address3" size="15" type="text">
                        <br>
                        <br>
                        <span class="bold">City:</span> <br>
                        <input class="modTxtMedium" maxlength="15" name="City" size="15" type="text">
                        
                        <!-- end left content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin right content column -->
                        
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td valign="top"><span class="bold">State:</span></td>
                            <td rowspan="8"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td valign="top">Other:</td>
                          </tr>
                          <tr>
                            <td valign="top"><select class="modSelMediumSmall" name="State" size="1">
                                <option selected>Select One</option>
                                <option>Alabama</option>
                                <option>Alaska</option>
                                <option>Arkansas</option>
                                <option>Arizona</option>
                                <option>Etc</option>
                              </select></td>
                            <td valign="top"><input class="modTxtSmall" maxlength="5" name="Other" size="5" type="text"></td>
                          </tr>
                          <tr>
                            <td valign="top"><br></td>
                            <td valign="top"><br></td>
                          </tr>
                          <tr>
                            <td valign="top"><span class="bold">Postal Code:</span></td>
                            <td valign="top"><span class="bold">Country or Territory:</span></td>
                          </tr>
                          <tr>
                            <td valign="top"><input class="modTxtSmall" maxlength="9" name="postalCode" size="9" type="text">
                              <br></td>
                            <td valign="top"><select class="modSelMediumSmall" name="Country" size="1">
                                <option selected>Select One</option>
                                <option>Country or Territory 1</option>
                                <option>Country or Territory 2</option>
                                <option>Country or Territory 3</option>
                                <option>Etc</option>
                              </select></td>
                          </tr>
                          <tr>
                            <td valign="top"><br></td>
                            <td valign="top"><br></td>
                          </tr>
                          <tr>
                            <td valign="top">*Phone:</td>
                            <td valign="top">Ext:</td>
                          </tr>
                          <tr>
                            <td valign="top"><input class="modTxtMediumSmall" maxlength="10" name="Phone" type="text" size="10"></td>
                            <td valign="top"><input class="modTxtSmall" maxlength="5" name="PhoneExtension" type="text" size="5"></td>
                          </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td><br>
                              E-mail: <br>
                              <input class="modTxtMedium" maxlength="15" name="E-mail" type="text" size="15">
                              <br>
                              <br>
                              <input name="ResidentialAddress" type="checkbox" value="Residential Address">
                              Residential Address <br>
                              <br>
                              <input name="PersonalAddressBook" type="checkbox" value="Save to Personal Address Book">
                              Save to My UPS Address Book as: <br>
                              My UPS Address Book Options <br>
                              <select class="modSelMedium" name="" size="1">
                                <option selected>Select One</option>
                                <option>Save as New Entry</option>
                                <option>Update Entry</option>
                                <option>Don't Save Entry</option>
                              </select>
                              <br>
                              Save or Update as: <br>
                              <input class="modTxtMedium" maxlength="15" name="PersonalAddressBookName" type="text" size="15">
                              <br>
                              <br>
                              <input name="GlobalAddressBook" type="checkbox" value="checkbox">
                              Save to Corporate Address Book as: <br>
                              Corporate Address Book Options <br>
                              <select class="modSelMedium" name="Country" size="1">
                                <option selected>Select One</option>
                                <option>Save as New Entry</option>
                                <option>Update Entry</option>
                                <option>Don't Save Entry</option>
                              </select>
                              <br>
                              Save or Update as: <br>
                              <input class="modTxtMedium" maxlength="15" name="GlobalAddressBookName" type="text" size="15">
                              <br>
                              <br>
                              <input name="DetailedAddressValidation" type="checkbox" value="checkbox">
                              Perform Detailed Address Validation </td>
                          </tr>
                        </table>
                        
                        <!-- end right content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin buttons spacer -->
            <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top"><div align="right">
                    <input value="Cancel" class="btn" type="button">
                    <input value="Reset" class="btn" type="button">
                    <input value="Update" class="btn" type="button">
                  </div></td>
              </tr>
            </table>
            <!-- end buttons --> 
            
            <!-- begin note area -->
            <table border="0" cellpadding="0" cellspacing="1" width="566">
              <tr>
                <td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
            </table>
            <!-- end note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>