---
title: cam_shi_bat(4con)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2>{batch file shipment confirmation}</h2>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p class="criticalMessage">{if your shipment contains food items text.}</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl message clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3>{your batch file shipment file has been processed.}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  
                  <div class="secBody clearfix">
                    <dl class="outHozFixed clearfix group">
                      <dt> <span class="label">{Filename:}</span> </dt>
                      <dd>{filename.csv}</dd>
                      <dt> <span class="label">{Number of Records Processed:}</span> </dt>
                      <dd>{nnn}</dd>
                    </dl>
                    <p>{your file produceed n errors text. select file below:<br>
                      <a id="repl_id" href="repl_href">errorfilelink.csv</a>}</p>
                    <p>{you can upload the corrected error text on the <a id="repl_id" href="repl_href">batch file shipping</a> start page.}</p>
                    <p>{we have received your shipping details and. to <strong>print shipping labels</strong>, follow the steps below.}</p>
                    <!--** Begin ER1415 Promotion Code Text**-->
                    <p>{Promotion Code [alias] was been applied to the [rate name] rates for this shipment.}</p>
                    <!--** End ER1415 Promotion Code Text **-->
                    
                    <dl class="outHozFixed clearfix group">
                      <dt> <span class="label">{bill shipping {and pickup} charges to:}</span> </dt>
                      <dd>{xxxnnn}</dd>
                      <dt> <span class="label">{Total UPS Charges:}</span> </dt>
                      <dd>{xxxnnn}</dd>
                      <dt class="indent">{Tax 1}</dt>
                      <dd>nnn.nn cur</dd>
                      <dt class="indent">{Tax 2}</dt>
                      <dd>nnn.nn cur</dd>
                      <dt class="indent">{Tax 3}</dt>
                      <dd>nnn.nn cur</dd>
                    </dl>
                    <dl class="outHozFixed clearfix totals">
                      <dt>{total charged:}</dt>
                      <dd>{nn.nn} {usd}</dd>
                    </dl>
                    <p>{1507 disclaimer placeholder}</p>
                  </div>
                  <!-- End Section Body --> 
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">{Print Shipping Documents}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>{[<strong>nnn</strong> shipments were processed from your file.] select the items text. to print text, select <strong>print</strong>.}</p>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="sel"><input name="repl_name01" type="radio" value="" id="repl_id" checked="checked"></td>
                        <td><label id="repl_id" for="repl_id" class="sel">{print all labels selection}</label></td>
                      </tr>
                      <tr>
                        <td class="sel"><input name="repl_name01" type="radio" value="" id="repl_id"></td>
                        <td><label id="repl_id" for="repl_id" class="sel">{print labels from}</label>
                          <input name="repl_name01" type="text" value="{n}" id="repl_id" size="5">
                          {to:}
                          <input name="repl_name01" type="text" value="{nnn}" id="repl_id" size="5"></td>
                      </tr>
                    </table>
                    <p>{<strong>note;</strong> recepts for batch text.}</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer -->
                  <div class="secFooter">
                    <div class="btnBar">
                      <input name="" type="button" id="repl_id" class="btn" value="Print">
                    </div>
                  </div>
                  <!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">{Void This Shipment or Past Shipments}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>{paragraph text, <strong>void this/all shipment(s)</strong>. pragraph text <a id="repl_id" href="repl_href">history link</a>.}</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer -->
                  <div class="secFooter">
                    <div class="btnBar">
                      <input name="" type="button" id="repl_id" class="btn" value="{void {this/all} shipment}">
                    </div>
                  </div>
                  <!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">{section header}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>{<img alt="" border="0" height="14" width="16" src="/img/1.gif" class="arrowIcon"><a id="repl_id" href="repl_href">support link</a> <br>
                      {paragraph text.}</p>
                    <p>{<img alt="" border="0" height="14" width="16" src="/img/1.gif" class="arrowIcon"><a id="repl_id" href="repl_href">support link</a> <br>
                      {paragraph text.}</p>
                    <p>{<img alt="" border="0" height="14" width="16" src="/img/1.gif" class="arrowIcon">drop off locations <a id="repl_id" href="repl_href">ups locations link</a> text.}</p>
                    <p>{<img alt="" border="0" height="14" width="16" src="/img/1.gif" class="arrowIcon">hand your packages to any ups driver in your area.}</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">{section header}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p class="group">{you can create another shipment, or view your shipment history to review and track previously shipped packages.}</p>
                    <ul class="lstArrow">
                      <li><a id="repl_id" href="repl_href">{create another shipment}</a></li>
                      <li><a id="repl_id" href="repl_href">{view your shipping history}</a></li>
                    </ul>
                    <p class="group">{ups provides online documents paragraph text.}</p>
                    <ul class="lstArrow">
                      <li><a id="repl_id" href="repl_href">{export documents link}</a></li>
                    </ul>
                    <p class="group">{for shipments that contain food items paragraph text.}</p>
                    <ul class="lstArrow">
                      <li><a id="repl_id" href="repl_href">{prior notice form link}</a></li>
                    </ul>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer --><!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
