---
title: cam_shi_shi(3det)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- Begin : Page Header -->
            <div class="campusship"><img alt="" border="0" height="8" src="/img/icn_page_title_cs.gif" width="1"></div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <!-- End: Page Header --> 
            
            <!-- Begin: Tab Navigation Wrapper -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- Begin: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr> 
                      <!-- TAB ONE-->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-on" valign="top" nowrap>Package</td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB TWO -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v2.html">Freight</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB THREE -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v3.html">International Forms</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr class="mod-line">
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB ONE ON/OFF -->
                      <td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB TWO ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB THREE ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
                    <tr>
                      <td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td valign="top" class="modbgcolor2"><!-- Begin: Inner Content --> 
                        <!-- begin application header -->
                        
                        <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td width="283"><!-- begin title -->
                              
                              <div class="appspacepad"><span class="header2">Address Validation</span></div>
                              
                              <!-- end title --></td>
                            <td width="283"><!-- begin module navigation -->
                              
                              <div class="uis">
                                <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                              </div>
                              
                              <!-- end module navigation --></td>
                          </tr>
                        </table>
                        
                        <!-- end application header --> 
                        
                        <!-- begin instructional text -->
                        
                        <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td valign="top" width="546"><div class="instrpad"> <span class="redErrorBold">Error Message</span> <br>
                                <br>
                                Please review your entry for spelling and accuracy and modify the address as needed. You 
                                may wish to contact the recipient to ensure the original address is accurate. </div>
                              <br></td>
                          </tr>
                        </table>
                        
                        <!-- end instructional text --> 
                        
                        <!-- begin module header -->
                        
                        <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td width="283"><!-- begin module title -->
                              
                              <div class="modspacepad">
                                <div class="campusship"><span class="modheader">Address Validation</span></div>
                                <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                              </div>
                              
                              <!-- end module title --></td>
                            <td width="283"><!-- begin module navigation -->
                              
                              <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                              <div class="campusship">
                                <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                              </div>
                              
                              <!-- end module navigation --></td>
                            <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                          </tr>
                        </table>
                        
                        <!-- end module header --> 
                        
                        <!-- begin module -->
                        
                        <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
                          <tr>
                            <td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                              
                              <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="modline" colspan="5"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="48%"><!-- begin left content column --> 
                                    <span class="modsubheader">Entered Ship To Address</span> <br>
                                    <span class="bold">Company or Name:</span> <br>
                                    <input class="modTxtMedium" maxlength="15" name="CompanyorName" size="15" type="text" value="">
                                    <br>
                                    <br>
                                    *Contact Name: <br>
                                    <input class="modTxtMedium" maxlength="15" name="ContactName" size="15" type="text" value="K. McIntyre">
                                    <br>
                                    <br>
                                    <span class="bold">Street Address:</span> <br>
                                    <input class="modTxtMedium" maxlength="15" name="Address" size="15" type="text" value="99 Joppa Road">
                                    <br>
                                    <input class="modTxtMedium" maxlength="15" name="Address2" size="15" type="text" value="">
                                    <br>
                                    <input class="modTxtMedium" maxlength="15" name="Address3" size="15" type="text" value="">
                                    <br>
                                    <br>
                                    <span class="bold">City:</span> <br>
                                    <input class="modTxtMedium" maxlength="15" name="City" size="15" type="text" value="TOWSON">
                                    <br>
                                    <br>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                      <tr>
                                        <td><span class="bold">State/Province:</span>&nbsp;&nbsp;(US/Canada)</td>
                                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td><span class="bold">Other:</span></td>
                                      </tr>
                                      <tr>
                                        <td><select class="modSelMedium" name="State" size="1">
                                            <option SELECTED value="None">Select for US/Canada</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                            <option value="AB">Alberta</option>
                                            <option value="BC">British Columbia</option>
                                            <option value="MB">Manitoba</option>
                                            <option value="NB">New Brunswick</option>
                                            <option value="NF">Newfoundland</option>
                                            <option value="NS">Nova Scotia</option>
                                            <option value="NT">Northwest Territories</option>
                                            <option value="NU">Nunavut</option>
                                            <option value="ON">Ontario</option>
                                            <option value="PE">Prince Edward Island</option>
                                            <option value="QC">Quebec</option>
                                            <option value="SK">Saskatchewan</option>
                                            <option value="YT">Yukon</option>
                                          </select></td>
                                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td><input class="modTxtSmall" maxlength="5" name="Other" size="5" type="text" value=""></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3"><br></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3"><span class="bold">Postal Code:</span></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3"><input class="modTxtSmall" maxlength="9" name="postalCode" size="9" type="text"></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3"><br></td>
                                      </tr>
                                      <tr>
                                        <td valign="top">*Phone:</td>
                                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td valign="top">Ext:</td>
                                      </tr>
                                      <tr>
                                        <td valign="top"><input class="modTxtMediumSmall" maxlength="10" name="Phone" type="text" size="10"></td>
                                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td valign="top"><input class="modTxtSmall" maxlength="5" name="PhoneExtension" type="text" size="5"></td>
                                      </tr>
                                    </table>
                                    <br>
                                    E-mail: <br>
                                    <input class="modTxtMedium" maxlength="15" name="E-mail" type="text" size="15">
                                    <br>
                                    <br>
                                    <input name="PersonalAddressBook" type="checkbox" value="Save to Personal Address Book">
                                    Save to My UPS Address Book as: <br>
                                    My UPS Address Book Options <br>
                                    <select class="modSelMedium" name="" size="1">
                                      <option selected>Select One</option>
                                      <option>Save as New Entry</option>
                                      <option>Update Entry</option>
                                      <option>Don't Save Entry</option>
                                    </select>
                                    <br>
                                    Save or Update as: <br>
                                    <input class="modTxtMedium" maxlength="15" name="PersonalAddressBookName" type="text" size="15">
                                    <br>
                                    <br>
                                    <input name="GlobalAddressBook" type="checkbox" value="checkbox">
                                    Save to Corporate Address Book as: <br>
                                    Corporate Address Book Options <br>
                                    <select class="modSelMedium" name="Country" size="1">
                                      <option selected>Select One</option>
                                      <option>Save as New Entry</option>
                                      <option>Update Entry</option>
                                      <option>Don't Save Entry</option>
                                    </select>
                                    <br>
                                    Save or Update as: <br>
                                    <input class="modTxtMedium" maxlength="15" name="GlobalAddressBookName" type="text" size="15">
                                    
                                    <!-- end left content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="48%"><!-- begin right content column -->
                                    
                                    <table bgcolor="#cccccc" border="0" cellpadding="5" cellspacing="0" width="100%">
                                      <tr>
                                        <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                              <td><span class="modsubheader">Address Suggestions</span> <br>
                                                <br>
                                                This is the closest match in our address database. Select Use Suggested Address 
                                                to apply the <span class="bold">bolded</span> changes to the address on the left. <br>
                                                <br>
                                                99 W JOPPA RD <br>
                                                TOWSON, MD <span class="bold">21204-3935</span> <br>
                                                <br>
                                                <input value="Use Sugguested Address" class="btn" type="button">
                                                <br>
                                                <br>
                                                The following address and <a href="#Address Range">address range</a> suggestions may be helpful for 
                                                editing the address on the left. <br>
                                                <br></td>
                                            </tr>
                                            <tr>
                                              <td><textarea class="modTxtAreaMedium" name="thetext" rows="10" cols="30" readonly>
							1-99 W JOPPA RD 
							TOWSON, MD 21204-3935
							__________________________
							1-99 E JOPPA RD 
							TOWSON, MD 21286-3100
							__________________________
												</textarea></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table>
                                    
                                    <!-- end right content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              
                              <!-- end module column spacing table --></td>
                          </tr>
                        </table>
                        
                        <!-- end module --> 
                        
                        <!-- begin buttons spacer -->
                        
                        <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                        
                        <!-- end buttons spacer --> 
                        
                        <!-- begin buttons -->
                        
                        <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td valign="top"><div align="right"><a href="#Use Modified Address"><img alt="Use Modified Address" border="0" height="18" src="/img_translations/en/btn_use_mod_add.gif" width="130"></a><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"><a href="#Use Orginial Address"><img alt="Use Orginial Address" border="0" height="18" src="/img_translations/en/btn_use_orig_add.gif" width="128"></a></div></td>
                          </tr>
                        </table>
                        
                        <!-- end buttons --> 
                        
                        <!-- End: Inner Content --></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!--
              <tr>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-bot-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
							-->
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- End: Tab Navigation Wrapper --> 
            
            <!-- end application content --> 
            
            <!-- begin note area -->
            <table border="0" cellpadding="0" cellspacing="1" width="566">
              <tr>
                <td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
            </table>
            <!-- end note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
  </div>