---
title: cam_shi_shi(4pay)_int
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content -->
            <div class="campusship">
              <table border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="4" src="/img/icn_page_title_cs.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            
            <!-- begin application header -->
            <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="283"><!-- begin title -->
                  
                  <div class="appspacepad">
                    <div class="campusship"><span class="header2">Shipping</span></div>
                    <div class="uis"><span class="header2">Payment Information</span></div>
                  </div>
                  
                  <!-- end title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis">
                    <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
              </tr>
            </table>
            <!-- end application header --> 
            
            <!-- begin instructional text -->
            <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top" width="546"><div class="instrpad">Please enter your shipping information below. Required fields are shown in <span class="bold">bold</span>.</div></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
            </table>
            <!-- end instructional text --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad">
                    <div class="campusship"><span class="modheader">Payment Information</span></div>
                    <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  </div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  <div class="campusship">
                    <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top"><!-- begin left content column --> 
                        <span class="bold">Bill Shipping Charges To:</span><br>
                        <select class="modSelMedium" name="billChargesTo" size="1">
                          <option value="upsacct" selected>Shipper's UPS Account</option>
                          <option value="crdcard">Credit Card</option>
                          <option value="billrec">Receiver</option>
                          <option value="billtrd">Third Party</option>
                        </select>
                        <br>
                        <br>
                        <table border="0" width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td><span class="bold">Existing UPS Accounts:</span><br>
                              <select class="modSelMedium" name="billChargesTo" size="1">
                                <option>{profile accounts}</option>
                              </select>
                              <a href="repl_href">Add Another Account</a></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td><span class="bold">Bill <a href="repl_href">Duties and Taxes<img src="/app_ent/uis_cs/img/1.gif" height="10" width="4" border="0"><img src="/img/icn_help_blue.gif" width="9" height="9" border="0"></a> To:</span><br>
                              <select class="modSelMedium" name="billDutiesTo" size="1" onChange="switchDiv(this.options[this.selectedIndex].value);">
                                <option value="upsacct" selected>Shipper's UPS Account</option>
                                <option value="billrec">Receiver</option>
                                <option value="billtrd">Third Party</option>
                              </select></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                        
                        <!-- This will display the dropdown of UPS Accounts if there are some. -->
                        
                        <div id="upsacct" style="position: static; visibility: visible;">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                              <td><span class="bold">Existing UPS Accounts:</span><br>
                                <select class="modSelMedium" name="billChargesTo" size="1">
                                  <option value="" selected>{profile accounts}</option>
                                </select>
                                <a href="repl_href">Add Another Account</a></td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- This will display the fields to enter a UPS Account number if there are none. --> 
                        <!-- This will display the fields for Bill Reciever. -->
                        
                        <div id="billrec" style="position: absolute; visibility: hidden;">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                              <td><table width="100%"  border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td width="199">Receiver UPS Account:</td>
                                    <td width="100">Postal Code: </td>
                                    <td width="170">Country or Territory:</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" name="textfield" class="modTxtMedium"></td>
                                    <td><input type="text" name="textfield" class="modTxtMediumSmall"></td>
                                    <td>XX</td>
                                  </tr>
                                  <tr>
                                    <td colspan="3"><input type="checkbox" name="checkbox" value="checkbox">
                                      Associate this UPS Account to the receiver's address book entry.</td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- This will display the fields for Third Party Billing. -->
                        
                        <div id="billtrd"  style="position: absolute; visibility: hidden;">
                          <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                              <td><table width="100%"  border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td width="199">Third Party UPS Account:</td>
                                    <td width="100">Postal Code: </td>
                                    <td width="170">Country or Territory:</td>
                                  </tr>
                                  <tr>
                                    <td><input type="text" name="textfield" class="modTxtMedium"></td>
                                    <td><input type="text" name="textfield" class="modTxtMediumSmall"></td>
                                    <td><select class="modSelMedium" name="country" size="1">
                                        <option>{country or territory}</option>
                                      </select></td>
                                  </tr>
                                  <tr>
                                    <td colspan="3"><input type="checkbox" name="checkbox" value="checkbox">
                                      Associate this UPS Account to the receiver's address book entry.</td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table>
                        </div>
                        <p><span class="bold">Split Duties and Taxes</span><br>
                          Selecting Split Duty VAT for your shipment indicates a payor for transportation and duties, and a different payor
                          of Taxes (VAT). Any non-Shipping Charges will be calculated during transit and reflected on the final bill for
                          the shipment. There is a small charge on your final bill for splitting duties and taxes.</p>
                        <table  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><input type="checkbox" name="checkbox" value="checkbox"></td>
                            <td><a href="repl_href">Split Duty VAT<img src="/img/1.gif" alt="" width="4" height="10" border="0"><img src="/img/icn_help_blue.gif" alt="" border="0"></a></td>
                          </tr>
                        </table>
                        <p><span class="bold">Associate a UPS Account:</span><br>
                          For Receiver or Third Party shipments, please associate a Shipper's UPS Account with the shipment. </p>
                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><select class="modSelMedium" name="billChargesTo" size="1">
                                <option value="" selected>{profile accounts}</option>
                              </select>
                              <a href="repl_href">Add Another Account</a></td>
                          </tr>
                        </table></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin buttons spacer -->
            <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td class="butbaralign" valign="top" width="317"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                <td valign="top" align="right"><img src="/img_translations/en/btn_back_a.gif" width="52" height="18"><img src="/img_translations/en/btn_cancel_shipment.gif" width="104" height="18"><img src="/img_translations/en/btn_next_a.gif"></td>
              </tr>
            </table>
            <!-- end buttons -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>