---
title: cam_shi_shi(4opt)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            <!-- Begin : Page Header --> 
            <!-- End: Page Header --> 
            <!-- Begin: Tab Navigation Wrapper --> 
            <!-- Begin: Inner Content --> 
            <!-- begin application header -->
            <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="283"><!-- begin title -->
                  
                  <div class="appspacepad"><span class="header2">Shipping</span></div>
                  
                  <!-- end title --></td>
                <td width="283"></td>
              </tr>
            </table>
            <!-- end application header --> 
            <!-- begin instructional text -->
            <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top" width="546"><div class="instrpad"><span class="bold">Your payment method was reset.</span></div>
                  <br>
                  <div class="instrpad"><span class="bold">Package specific details are required for Dry Ice. Dry Ice details should be provided in the package information section below.</span></div>
                  <br>
                  <div class="instrpad">Required fields are shown in <span class="bold">bold</span>.</div>
                  <br></td>
              </tr>
            </table>
            <!-- end instructional text --> 
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Address Information</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="campusship">
                    <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 7 columns with 4 spacer columns and 3 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="7"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="7"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin left content column --> 
                        <span class="bold">Ship To:</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end left content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin center content column --> 
                        <span class="bold">Shipper:</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end center content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin right content column --> 
                        <span class="bold">Ship From:</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end right content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Shipment Information</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="campusship"> </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="5"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin left content column --> 
                        <span class="bold">Service:</span> <br>
                        <select class="modSelMedium" name="Servicetype" size="1">
                          <option selected>Select One</option>
                          <option>UPS Next Day Air</option>
                          <option>UPS Next Day Air Early</option>
                          <option>UPS 2nd Day Air</option>
                          <option>UPS Ground</option>
                          <option>Etc</option>
                        </select>
                        <br>
                        <br>
                        <span class="bold">Description of Goods:</span> <br>
                        <input class="modTxtMedium" maxlength="15" name="DescriptionofGoods" size="15" type="text">
                        <br>
                        <br>
                        <input name="DocumentsofNoCommercialValue" type="checkbox" value="DocumentsofNoCommercialValue">
                        Documents of No Commercial Value <br>
                        <input name="DocumentsofNoCommercialValue" type="checkbox" value="DocumentsofNoCommercialValue">
                        <a href="">Goods not in Free Circulation<img alt="" src="/img/1.gif" width="4" height="10" border="0"><img alt="" src="/img/icn_help_blue.gif" border="0"></a><br>
                        <br>
                        <span class="bold">Customs Value:</span> <br>
                        (for all non-UPS Letter packages) <br>
                        <input class="modTxtMedium" maxlength="15" name="CustomsValue" size="15" type="text">
                        <br>
                        <br>
                        <span class="bold">Number of Packages:</span> <br>
                        <select class="modSelSmall" name="NumberofPackages" size="1">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                        </select>
                        <br>
                        <br>
                        
                        <!-- ECS Add Options - Shipmet Processing --> 
                        <span class="bold">Packaging:</span><br>
                        <select class="modSelMedium" name="ReturnService" size="1">
                          <option selected>Select One</option>
                          <option>UPS RoundTrip Return</option>
                          <option>Print UPS Return Label</option>
                          <option>1 UPS Pickup Attempt</option>
                          <option>3 UPS Pickup Attempts</option>
                          <option>Print and Mail Return Label</option>
                        </select>
                        <br>
                        <br>
                        <span class="bold">Shipment Weight:</span><br>
                        <input class="modTxtMedium" maxlength="15" name="DescriptionofGoods" size="15" type="text">
                        {lb/kg}<br>
                        Tenths of a {UOM} allowed for {Letters / Envelopes} <br>
                        <br>
                        Total Dimensional Weight:<br>
                        <input class="modTxtMedium" maxlength="15" name="DescriptionofGoods" size="15" type="text">
                        {lb/kg} <br>
                        <br>
                        Shipment Declared Value:<br>
                        <input class="modTxtMedium" maxlength="15" name="DescriptionofGoods" size="15" type="text">
                        {CUR} <br>
                        <br>
                        Number of Packages with Additional Handling <br>
                        <select>
                          <option>{option text}</option>
                        </select>
                        <br>
                        <br>
                        Number of Packages that are <a href="repl_href">Large Packages</a><img alt="" src="/img/1.gif" width="4" height="10" border="0"><img alt="" src="/img/icn_help_blue.gif" border="0"> <br>
                        <select>
                          <option>{option text}</option>
                        </select>
                        <br>
                        <br>
                        
                        <!-- END Shipment Processing --> 
                        
                        <!-- Detail - Return Service Selected --> 
                        <span class="bold">Return Notification E-mail Addresses:</span> <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        <input class="modTxtMedium" name="E-mailAddress1" size="15" type="text">
                        <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        <input class="modTxtMedium" name="E-mailAddress2" size="15" type="text">
                        <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        <input class="modTxtMedium" name="E-mailAddress3" size="15" type="text">
                        <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        <input class="modTxtMedium" name="E-mailAddress4" size="15" type="text">
                        <br>
                        <br>
                        <br>
                        E-mail Message: <br>
                        <textarea class="modTxtAreaMedium" name="E-mailMessage" rows="4" cols="20"></textarea>
                        <br>
                        (Max. 150 Characters) <br>
                        <br>
                        If any notification is undeliverable, please E-mail:<br>
                        <input name="E-mailFailureNotification" type="checkbox" value="E-mailFailureNotification">
                        &nbsp;
                        <input class="modTxtMedium" name="E-mailAddress6" size="15" type="text">
                        <br>
                        <br>
                        
                        <!-- END Detail - Return Service Selected --> 
                        
                        <!-- end left content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin right content column --> 
                        <a href="repl_href">Compare Service Options</a><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"> <br>
                        <br>
                        <input name="SaturdayDelivery" type="checkbox" value="SaturdayDelivery">
                        &nbsp;Saturday Delivery<br>
                        
                        <!-- ECS Add Options - Shipmet Processing -->
                        
                        <input name="ReturnofDocuments" type="checkbox" value="ReturnofDocuments">
                        &nbsp;<a href="javascript:helpModLvl('repl_href')" class="helpTerm">Return of Documents<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a><br>
                        <br>
                        {Reference #1}: &nbsp;&nbsp;&nbsp;<a href="repl_href">Search</a><br>
                        <input class="modTxtMedium" maxlength="15" name="DescriptionofGoods" size="15" type="text">
                        <br>
                        <br>
                        {Reference #2}: &nbsp;&nbsp;&nbsp;<a href="repl_href">Search</a><br>
                        <input class="modTxtMedium" maxlength="15" name="DescriptionofGoods" size="15" type="text">
                        <br>
                        
                        <!-- END ECS Add Options - Shipmet Processing --> 
                        
                        <br>
                        Return Service: <br>
                        <select class="modSelMedium" name="ReturnService" size="1">
                          <option selected>Select One</option>
                          <option>UPS RoundTrip Return</option>
                          <option>Print UPS Return Label</option>
                          <option>1 UPS Pickup Attempt</option>
                          <option>3 UPS Pickup Attempts</option>
                          <option>Print and Mail Return Label</option>
                        </select>
                        <br>
                        <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Print {Reference #1} on Return Label as Bar Code <br>
                        <br>
                        
                        <!-- Detail - Return Service Selected --> 
                        <span class="bold">Batch return Labels (option)</span> <br>
                        Create multiple Return Shipment labels at one time. All labels will have the same shipping characteristics. <br>
                        <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Create <a href="repl_href">Batch Return Labels<img alt="" src="/img/1.gif" width="4" height="10" border="0"><img alt="" src="/img/icn_help_blue.gif" border="0"></a> <br>
                        <br>
                        <span class="bold">Number of Return Labels:</span> <br>
                        <select class="modSelSmall" name="NumberofPackages" size="1">
                          <option value="1">1</option>
                        </select>
                        <br>
                        (up to 50 labels) <br>
                        <br>
                        
                        <!-- END Detail - Return Service Selected --> 
                        
                        <!-- ECS Add Options - Shipmet Processing --> 
                        Delivery Confirmation: <br>
                        <select class="modSelMedium" name="ReturnService" size="1">
                          <option selected>Select One</option>
                          <option>UPS RoundTrip Return</option>
                          <option>Print UPS Return Label</option>
                          <option>1 UPS Pickup Attempt</option>
                          <option>3 UPS Pickup Attempts</option>
                          <option>Print and Mail Return Label</option>
                        </select>
                        <br>
                        <br>
                        C.O.D. Amount:<br>
                        <input class="modTxtMedium" maxlength="15" name="DescriptionofGoods" size="15" type="text">
                        {CUR} <br>
                        <br>
                        C.O.D. Payment Method: <br>
                        <select class="modSelMedium" name="ReturnService" size="1">
                          <option selected>Select One</option>
                          <option>UPS RoundTrip Return</option>
                          <option>Print UPS Return Label</option>
                          <option>1 UPS Pickup Attempt</option>
                          <option>3 UPS Pickup Attempts</option>
                          <option>Print and Mail Return Label</option>
                        </select>
                        <br>
                        <br>
                        C.O.D. Currency: <br>
                        <select class="modSelMedium" name="ReturnService" size="1">
                          <option selected>Select One</option>
                          <option>UPS RoundTrip Return</option>
                          <option>Print UPS Return Label</option>
                          <option>1 UPS Pickup Attempt</option>
                          <option>3 UPS Pickup Attempts</option>
                          <option>Print and Mail Return Label</option>
                        </select>
                        <br>
                        <br>
                        Return Service: <br>
                        <select class="modSelMedium" name="ReturnService" size="1">
                          <option selected>Select One</option>
                          <option>UPS RoundTrip Return</option>
                          <option>Print UPS Return Label</option>
                          <option>1 UPS Pickup Attempt</option>
                          <option>3 UPS Pickup Attempts</option>
                          <option>Print and Mail Return Label</option>
                        </select>
                        <br>
                        <br>
                        
                        <!-- END ECS Add Options - Shipmet Processing --> 
                        
                        <!-- end right content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" colspan="2"><!-- begin content column --> 
                        <span class="bold"><a href="javascript:helpModLvl('repl_href')" class="helpTerm">Special Commodities:<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a></span> <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Alcoholic Beverages <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Perishables <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Seeds <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Tobacco <br>
                        
                        <!-- end content column --> 
                        <br></td>
                      <td><input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Biological Substances <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Plants <br>
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Special Exceptions <br>
                        <br></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" colspan="3"><!-- begin content column --> 
                        <span class="bold">Quantum View Notify<sup>SM</sup></span> <br>
                        Send an e-mail message at the time of shipment, when an exception occurs, or when your shipment is delivered.<br>
                        <br>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td colspan="3" valign="top"><!-- begin content column -->
                        
                        <table bgcolor="#ffffff" border="0" cellpadding="1" cellspacing="0" width="100%">
                          <tr>
                            <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <!-- Begin Row: Header Rows with vertical spacing -->
                                <tr>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="27"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="234"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="90"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="90"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="90"></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad">E-mail Addresses:</div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">Ship<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">Exception<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">Delivery<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a></div></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr bgcolor="#ffffff">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td>&nbsp;</td>
                                  <td><div class="modulepad">
                                      <input class="modTxtMedium" maxlength="15" name="E-mailAddress1" size="15" type="text">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr bgcolor="#cccccc">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#cccccc">
                                  <td>&nbsp;</td>
                                  <td><div class="modulepad">
                                      <input class="modTxtMedium" maxlength="15" name="E-mailAddress1" size="15" type="text">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                </tr>
                                <tr bgcolor="#cccccc">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Even Row with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr bgcolor="#ffffff">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td>&nbsp;</td>
                                  <td><div class="modulepad">
                                      <input class="modTxtMedium" maxlength="15" name="E-mailAddress1" size="15" type="text">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr bgcolor="#cccccc">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#cccccc">
                                  <td>&nbsp;</td>
                                  <td><div class="modulepad">
                                      <input class="modTxtMedium" maxlength="15" name="E-mailAddress1" size="15" type="text">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                </tr>
                                <tr bgcolor="#cccccc">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Even Row with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr bgcolor="#ffffff">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td>&nbsp;</td>
                                  <td><div class="modulepad">
                                      <input class="modTxtMedium" maxlength="15" name="E-mailAddress1" size="15" type="text">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">
                                      <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                    </div></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing -->
                              </table>
                              
                              <!-- end results table --></td>
                          </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr bgcolor="#cccccc">
                            <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                        </table>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><br></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin left content column --> 
                        E-mail Message: <br>
                        <textarea class="modTxtAreaMedium" name="E-mailMessage" rows="4" cols="20"></textarea>
                        <br>
                        (Max. 150 Characters) 
                        <!-- end left content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><div class="campusship"> 
                          <!-- begin right content column --> 
                          If any notification is undeliverable, please E-mail:<br>
                          <input name="E-mailFailureNotification" type="checkbox" value="E-mailFailureNotification">
                          &nbsp;
                          <input class="modTxtMedium" maxlength="15" name="E-mailAddress6" size="15" type="text">
                          <!-- end right content column --> 
                        </div></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Package Information</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="campusship"> </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="5"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin left content column --> 
                        <span class="modsubheader">Package{ n} of {n}:</span><span class="campusship">&nbsp;&nbsp;<a href="repl_href">Delete</a></span><br>
                        <span class="bold">Packaging:</span> <br>
                        <select class="modSelMedium" name="Packaging" size="1">
                          <option value="00" selected>Select One</option>
                          <option value="01">UPS Letter</option>
                          <option value="25">UPS 10 KG Box</option>
                          <option value="24">UPS 25 KG Box</option>
                          <option value="04">UPS PAK</option>
                          <option value="03">UPS Tube</option>
                          <option value="21">UPS Express Box</option>
                          <option value="02">Your Packaging</option>
                        </select>
                        <br>
                        <br>
                        <span class="bold">Weight:</span><br>
                        <input class="modSelMedium" maxlength="5" name="Weight" size="5" type="text">
                        &nbsp;&nbsp;{lbs/kg} <br>
                        Tenths of a {UOM} allowed for {Letters / Envelopes} <br>
                        <br>
                        Declared Value: <br>
                        <input class="modTxtMedium" maxlength="7" name="InsuredValue" size="7" type="text">
                        {CUR}<br>
                        <br>
                        {Reference #1}:<span class="campusship">&nbsp;&nbsp;<a href="repl_href">Search</a></span><br>
                        <input class="modTxtMedium" maxlength="15" name="Reference1" size="15" type="text">
                        <br>
                        <br>
                        {Reference #2}:<span class="campusship">&nbsp;&nbsp;<a href="repl_href">Search</a></span><br>
                        <input class="modTxtMedium" maxlength="15" name="Reference2" size="15" type="text">
                        <br>
                        <br>
                        {Reference #3}:<span class="campusship">&nbsp;&nbsp;<a href="repl_href">Search</a></span><br>
                        <input class="modTxtMedium" maxlength="15" name="Reference3" size="15" type="text">
                        <br>
                        <br>
                        <input name="ShipperRelease" type="checkbox" value="ShipperRelease">
                        Shipper Release (Deliver Without Signature) <br>
                        <br>
                        <div class="campusship">
                          <input name="repl_fname" type="checkbox" value="repl_fvalue">
                          &nbsp;<a href="javascript:helpModLvl('repl_href')" class="helpTerm">UPS Proactive Response<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a> </div>
                        <br>
                        
                        <!-- end left content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="48%"><!-- begin right content column --> 
                        Dimensions:<br>
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td>Length:</td>
                            <td>&nbsp;</td>
                            <td>Width:</td>
                            <td>&nbsp;</td>
                            <td>Height:</td>
                          </tr>
                          <tr>
                            <td><input class="modTxtSmall" maxlength="4" name="Length" size="4" type="text"></td>
                            <td>in./&nbsp;</td>
                            <td><input class="modTxtSmall" maxlength="4" name="Width" size="4" type="text"></td>
                            <td>in./&nbsp;</td>
                            <td><input class="modTxtSmall" maxlength="4" name="Height" size="4" type="text"></td>
                            <td>in.</td>
                          </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td><br>
                              <input name="repl_fname" type="checkbox" value="repl_fvalue">
                              &nbsp;<a href="javascript:helpModLvl('repl_href')" class="helpTerm">Large Package<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
                              <br>
                              <input name="AdditionalHandling" type="checkbox" value="AdditionalHandling">
                              Additional Handling <br>
                              <br>
                              C.O.D. Amount <br>
                              <input class="modTxtSmall" maxlength="7" name="CODAmount" size="7" type="text">
                              &nbsp;&nbsp;USD<br>
                              <br>
                              <div class="campusship">
                                <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                Casher's Check or Money Order </div>
                              <br>
                              Delivery Confirmation: <br>
                              <select class="modSelMedium" name="DeliveryConfirmation" size="1">
                                <option selected>Select One</option>
                                <option>Delivery Confirmation</option>
                                <option>Signature Required</option>
                                <option>Adult Signature Required</option>
                              </select>
                              <br>
                              <br>
                              <span class="bold">Merchandise Description:</span> (Required for Returns)<br>
                              <input class="modSelMedium" type="text">
                              <br></td>
                          </tr>
                        </table>
                        
                        <!-- end right content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td colspan="4"><div class="campusship">
                          <input name="repl_fname" type="checkbox" value="repl_fvalue">
                          &nbsp;<a href="javascript:helpModLvl('repl_href')" class="helpTerm">Dry Ice<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
                          <br>
                          <span class="bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dry Ice Weight</span> <br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <input size="8" maxlength="15" name="Reference2" type="text">
                          <select class="modSelSmall" name="repl_fname" size="1">
                            <option value="repl_fvalue">kg</option>
                            <option value="repl_fvalue">lb</option>
                          </select>
                          <br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">Note:</span> All packages are shipped under IATA regulations. </div></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Payment Information</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="campusship">
                    <div class="modspacepad" align="right"><a href="repl_href" class="white">Edit</a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column --> 
                        <span class="bold"><a href="repl_href">Payment Method:<img alt="" src="/img/1.gif" width="4" height="10" border="0"><img alt="" src="/img/icn_help_blue.gif" border="0"></a></span><br>
                        <select class="modSelMedium" name="UPSAccountNumber" size="1">
                          <option selected value="upsacct">Shipper's UPS Account</option>
                          <option value="crdcard">Credit Card</option>
                          <option value="billrec">Receiver</option>
                          <option value="billtrd">Third Party</option>
                          <option value="billcon">Consignee Bill</option>
                        </select>
                        <br>
                        
                        <!-- begin: credit card payment method display -->
                        
                        <input name="repl_fname" type="checkbox" value="repl_fvalue" checked>
                        This shipment is for business purposes <br>
                        
                        <!-- end: credit card payment method display -->
                        
                        <input name="repl_fname" type="checkbox" value="repl_fvalue">
                        Bill Declared Value Charges to Shipper <br>
                        <br>
                        <span class="bold">Bill <a href="repl_href">Duties and Taxes<img alt="" src="/img/1.gif" width="4" height="10" border="0"><img alt="" src="/img/icn_help_blue.gif" border="0"></a> to:</span><br>
                        <select class="modSelMedium" name="UPSAccountNumber">
                          <option value="upsacct">UPS Account {FOO100}</option>
                          <option value="crdcard">Credit Card {****0000}</option>
                          <option value="billrec" selected>Receiver</option>
                          <option value="billtrd">Third Party</option>
                          <option>Consignee Bill (US Only)</option>
                        </select>
                        <br>
                        <br>
                        <span class="bold">Shipper's UPS Account:</span><br>
                        {F00100} * 
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            <!-- begin module header -->
            <div class="campusship">
              <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                  <td width="283"><!-- begin module title -->
                    
                    <div class="modspacepad"><span class="modheader">Pickup Information</span></div>
                    
                    <!-- end module title --></td>
                  <td width="283"><!-- begin module navigation --> 
                    <!-- end module navigation --></td>
                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                </tr>
              </table>
            </div>
            <!-- end module header --> 
            <!-- begin module -->
            <div class="campusship">
              <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
                <tr>
                  <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                    
                    <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                        <td valign="top" width="98%"><!-- begin content column --> 
                          <span class="bold">{UPS Account {XNNXNN} is a {Daily Pickup Account}.}</span> <br>
                          <br>
                          
                          <!-- Scheduled --> 
                          <span class="bold">Pickups will occur for this UPS Account's pickup location on:</span> <br>
                          {Monday, Tuesday, Wednesday, Thursday, Friday} <br>
                          <br>
                          
                          <!-- END Scheduled --> 
                          
                          <!-- WN - none req today before notify --> 
                          <span class="bold">{Smart Pickup}Status:</span> <br>
                          A <a href="repl_href">Smart Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a> has not been requested for this <a href="repl_href">UPS Account's pickup location<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a> for {today's date} <br>
                          <br>
                          
                          <!-- END WN - none req today before notify --> 
                          
                          <span class="bold"><a href="repl_href">Pickup Options<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a></span> 
                          
                          <!-- WN - req today after notify --> 
                          If the pickup <span class="bold">has not been completed,</span> you may:
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td valign="top"><input name="" type="radio" value=""></td>
                              <td valign="top">Include this shipment with your Smart Pickup. No further action is needed.</td>
                            </tr>
                          </table>
                          <br>
                          <br>
                          If the pickup <span class="bold">has been completed,</span> you may: 
                          <!-- WN - req today after notify --> 
                          
                          <!-- WN - none req today before notify -->
                          
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td valign="top"><input name="" type="radio" value=""></td>
                              <td valign="top">Request a Smart Pickup</td>
                              <td rowspan="3"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                              <td rowspan="3" width="55%"><div class="modMsg blu">
                                  <div class="modMsgBase"> 
                                    
                                    <!-- Request Smart Pickup --> 
                                    {If submitted {before} (notify time on today's date}, a UPS driver will visit this UPS Account's pickup location {today's date}.} <br>
                                    <br>
                                    {Company Name} <br>
                                    {Address Line 1} <br>
                                    {City}, {State} {ZIP Code} <br>
                                    {Country or Territory} 
                                    
                                    <!-- Schedule an On-Call Pickup
												<span class="bold">Pending On-Call Pickups for {UPS Account Number}
												<br>
												for {weekday}{mm/dd/yyyy}: {n}
												<br>
												for {weekday}{mm/dd/yyyy}: {n}
												<br>
												</span> --> 
                                    
                                    <!-- Find Drop-off location 
												Complete your shipment and follow the <span class="bold">UPS Location</span>s link on your Shipment Confirmation page or on the Resources tab to find a UPS drop-off location.
												--> 
                                    
                                  </div>
                                </div></td>
                            </tr>
                            <tr>
                              <td valign="top"><input name="" type="radio" value=""></td>
                              <td valign="top">Schedule an On-Call Pickup</td>
                            </tr>
                            <tr>
                              <td valign="top"><input name="" type="radio" value=""></td>
                              <td valign="top">Find a UPS drop-off location near you</td>
                            </tr>
                          </table>
                          
                          <!-- END WN - none req today before notify -->
                          
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td valign="top"><input name="ScheduleaPickup" type="checkbox" value="scheduleapickup"></td>
                              <td>Schedule a <a href="repl_href">On-Call Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a> - An additional fee may apply. <br>
                                <br></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td><span class="bold">Pending On-Call Pickups for {UPS Account Number} <br>
                                for {weekday}{mm/dd/yyyy}: {n} <br>
                                for {weekday}{mm/dd/yyyy}: {n} <br>
                                </span> <br></td>
                            </tr>
                          </table>
                          To  find a UPS drop-off location near you, complete your shipment and follow the <span class="bold">UPS Location</span>s link on your Shipment Confirmation page or on the Resources tab to find a UPS drop-off location. <br>
                          <br>
                          
                          <!-- end content column --></td>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      </tr>
                      <tr>
                        <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                    </table>
                    
                    <!-- end module column spacing table --></td>
                </tr>
              </table>
            </div>
            <!-- end module --> 
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            <!-- begin module header -->
            <div class="campusship">
              <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                  <td width="283"><!-- begin module title -->
                    
                    <div class="modspacepad"><span class="modheader">Shipping Ticket</span></div>
                    
                    <!-- end module title --></td>
                  <td width="283"><!-- begin module navigation --> 
                    <!-- end module navigation --></td>
                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                </tr>
              </table>
            </div>
            <!-- end module header --> 
            <!-- begin module -->
            <div class="campusship">
              <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
                <tr>
                  <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                    
                    <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                        <td valign="top" width="98%"><!-- begin content column --> 
                          <span class="modsubheader">Save an Incomplete Shipment</span> <br>
                          <br>
                          To save your incomplete shipment information to complete it later, print and attach a Shipping Ticket to each package in your shipment by selecting the Print and Save Shipping Tickets link.<br>
                          {To cancel any updates you made to this shipment, select the Cancel Update link.} <br>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td valign="top"><a href="repl_href">{Update Shipping Ticket}</a></td>
                              <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                              <td valign="top"><a href="repl_href">{Cancel Update}</a></td>
                              <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                              <td valign="top"><a href="repl_href">Print and Save Shipping Tickets</a></td>
                            </tr>
                          </table>
                          
                          <!-- end content column --></td>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      </tr>
                      <tr>
                        <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                    </table>
                    
                    <!-- end module column spacing table --></td>
                </tr>
              </table>
            </div>
            <!-- end module --> 
            <!-- begin buttons spacer -->
            <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top"><div align="right">
                    <input value="Cancel Shipment" class="btn" type="button">
                    <input value="Preview Shipment" class="btn" type="button">
                    <input value="Ship Now" class="btn_a" type="button">
                  </div></td>
              </tr>
            </table>
            <!-- end buttons --> 
            <!-- begin note area -->
            <table border="0" cellpadding="0" cellspacing="1" width="566">
              <tr>
                <td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top"><input name="repl_fname" type="checkbox" value="repl_fvalue">
                  &nbsp;Set these shipment settings as my preferences.</td>
              </tr>
            </table>
            <!-- end note area --> 
            <!-- End Table: Module Table (Parent:Formatting Table) --> 
            <!-- End: Tab Navigation Wrapper --> 
            <!-- begin note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end note area --> 
            <!-- end application content --> 
          </div>
        </div>
      </form>
  </div>