---
title: cam_shi_shi(0ter)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- Begin : Page Header -->
            <div class="campusship"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <span class="header2">UPS Technology Agreement</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            
            <!-- End: Page Header --> 
            
            <!-- Begin: Tab Navigation Wrapper -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- begin instructional text -->
                  
                  <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                    <tr>
                      <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td valign="top" width="546"><div class="instrpad">To <span class="campusship">use UPS CampusShip</span>, please read and Accept the legal agreement below.</div>
                        <br></td>
                    </tr>
                  </table>
                  
                  <!-- end instructional text --> 
                  
                  <!-- begin module header -->
                  
                  <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                    <tr>
                      <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td width="283"><!-- begin module title -->
                        
                        <div class="modspacepad"><span class="modheader">Legal Agreement</span></div>
                        
                        <!-- end module title --></td>
                      <td width="283"></td>
                      <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                  </table>
                  
                  <!-- end module header --> 
                  
                  <!-- begin module -->
                  
                  <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
                    <tr>
                      <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                        
                        <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td valign="top" width="98%"><!-- begin content column --> 
                              [Legal Agreement goes here] 
                              <!-- end content column --></td>
                            <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                          </tr>
                          <tr>
                            <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                        </table>
                        
                        <!-- end module column spacing table --></td>
                    </tr>
                  </table>
                  
                  <!-- end module --> 
                  
                  <!-- begin buttons spacer -->
                  
                  <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  
                  <!-- end buttons spacer --> 
                  
                  <!-- begin buttons -->
                  
                  <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                    <tr>
                      <td valign="top"><div align="right">
                          <input value="Cancel" class="btn" type="button">
                          <input value="Accept" class="btn" type="button">
                        </div></td>
                    </tr>
                  </table>
                  
                  <!-- end buttons --> 
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- End: Tab Navigation Wrapper --> 
            
            <!-- end application content -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </div>
        </div>
      </form>
      </div>