---
title: view package history or void shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
  <div class="appLvl mod col18 clearfix">
    <div class="appHead clearfix">
      <h2 id="repl_id">void request detail</h2>
      <ul>
        <li><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">help link</a></li>
      </ul>
    </div>
    <div class="appBody clearfix"> 
      <!-- Begin Pickup Alert Message -->
      <div class="secLvl message clearfix">
        <div class="secBody">
          <p class="criticalMessage">[if you created a pickup request for this shipment and all packages have now been voided, please go to schedule a pickup/pickup history to cancel your pickup request. (ups: 81345)]</p>
        </div>
      </div>
      <!-- End Pickup Alert Message -->
      
      <p>the shipment selected contains multiple packages.  mark one or more packages and select the <strong>submit</strong> button to void the desired packages.</p>
      <div class="floatEnd clearfix">
        <input type="button" class="btn btnBackArw" value="back to shipping history"/>
        <input type="submit" class="btn btnArw" value="submit"/>
      </div>
      <p><a href="repl_href" class="btnlnkL checkMini">select all</a><span class="indent"><a href="repl_href" class="btnlnkL clearMini">clear all</a></span></p>
      <div class="clear"></div>
      <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
        <thead>
          <tr>
            <th>eligible</th>
            <th>tracking number</th>
            <th>weight</th>
            <th>package type</th>
            <th>voided</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd">
            <td><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
            <td>[1Z1234567890123456]</td>
            <td>[000.00][lbs/kg]</td>
            <td>[stored data]</td>
            <td><img src="/img/icn_void.gif" alt="Voided" width="12" height="12"></td>
          </tr>
          <tr>
            <td><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
            <td>[1Z1234567890123456]</td>
            <td>[000.00][lbs/kg]</td>
            <td>[stored data]</td>
            <td><img src="/img/icn_void_partial.gif" alt="Partial Void" width="12" height="12"></td>
          </tr>
          <tr class="odd">
            <td><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
            <td>[1Z1234567890123456]</td>
            <td>[000.00][lbs/kg]</td>
            <td>[stored data]</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <div class="floatEnd group clearfix">
        <input type="button" class="btn btnBackArw" value="back to shipping history"/>
        <input type="submit" class="btn btnArw" value="submit"/>
      </div>
      <p><a href="repl_href" class="btnlnkL checkMini">select all</a><span class="indent"><a href="repl_href" class="btnlnkL clearMini">clear all</a></span></p>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"> </div>

</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->