---
title: void confirmation
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">void confirmation</h2>
                  <ul>
                    <li><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link</a></li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix"> 
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3 id="repl_id">your shipment was successfully voided.</h3>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody clearfix">
                        <p>
                        <h4 id="repl_id">next steps...</h4>
                        <br>
                        <h5 id="repl_id">{view package history or void shipment label}</h5>
                        <p>you can review and void past shipments in your <a id="repl_id" href="repl_href">shipping history</a>.}</p>
                        <br>
                        <h5 id="repl_id">create another shipment label</h5>
                        <ul class="lstArrow">
                          <li><a id="repl_id" href="repl_href">begin a new shipment</a></li>
                        </ul>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row --><!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 
