---
title: cam_shi_bat(2pri)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">{application header}</h2>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p class="error">{&gt;&gt;&gt;error message.}</p>
                  <p>{paragraph text. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.}</p>
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3 id="repl_id">{perferred printing method}</h3>
                      </div>
                      <!-- End Section Header --> 
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id">{label printing method:}</label>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dt>
                          <dd>
                            <table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="sel"><input name="repl_name01" type="radio" value="" id="repl_id" checked="checked"></td>
                                <td><label id="repl_id" for="repl_id" class="sel">{use my laser printer selection}</label></td>
                              </tr>
                              <tr>
                                <td class="sel"><input name="repl_name01" type="radio" value="" id="repl_id"></td>
                                <td><label id="repl_id" for="repl_id" class="sel">{use my thermal printer selection}</label>
                                  <div class="reqTxtInst">{(instructional text)}</div></td>
                              </tr>
                            </table>
                          </dd>
                        </dl>
                        <fieldset>
                          <dl class="inline clearfix group">
                            <dt>
                              <label id="repl_id" for="test">{print label instructions on?}</label>
                            </dt>
                            <dd>
                              <select name="" id="test">
                                <option value="" selected>{each label}</option>
                              </select>
                            </dd>
                          </dl>
                        </fieldset>
                        <p class="reqTxtInst">{international shipments instructional text}</p>
                      </div>
                      <!-- End Section Body --> 
                      <!-- Begin Setion Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row -->
                  <div class="btnBar">
                    <input name="" type="button" id="repl_id" value="{back}" class="btnBackArw">
                    <input name="" type="button" id="repl_id" value="{cancel shipment}" class="btn">
                    <input name="" type="submit" id="repl_id" value="{next}" class="btnArw">
                  </div>
                  <!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
