---
title: cam_shi_shi(1add)_his(1sum)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- Begin : Page Header -->
            <div class="campusship"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <span class="header">View History or Void Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <br>
            <!-- End: Page Header --> 
            
            <!-- Begin: Tab Navigation Wrapper -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- Begin: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr> 
                      <!-- TAB ONE-->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-on" valign="top" nowrap>Package</td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB TWO -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v3.html">International Forms</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr class="mod-line">
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB ONE ON/OFF -->
                      <td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB TWO ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
                    <tr>
                      <td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td valign="top"><!-- Begin: Inner Content --> 
                        
                        <!-- begin instructional text -->
                        
                        <table class="" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr class="modbgcolor2">
                            <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td valign="top" width="100%" class="modbgcolor2"><div class="instrpad">
                                <div class="campusship"> <b>Your request to void the shipment may take several minutes to process. Please do not attempt to void again 
                                  until your request has been approved. (UPS: 80016)</b> <br>
                                  <br>
                                </div>
                                Use this history to review, track, intercept and void your previous shipments. You can also re-ship using the information from a previous shipment. Any changes you make to how your history is displayed are automatically saved. <br>
                                <br>
                                <div class="campusship"> Administrators can view their own shipping history or the history for any user or location they administer. To see personal history, select View History For radio button and choose &quot;personal&quot; from the list. <br>
                                  <br>
                                  To see others history, select the View History For radio button and choose either &quot;user&quot;, &quot;location&quot;, or &quot;location and reference&quot; from the list. <br>
                                  <br>
                                  Administrators can export the history for any location they administer by selecting the &quot;Export history for&quot; radio button and choosing either &quot;location&quot; or &quot;location and reference&quot; from the associated list. <br>
                                </div>
                                <br>
                                <!-- end Admin Version of content --></div>
                              <table class="modcolor2" style="background-image: none;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td width="283"><!-- begin module title -->
                                          
                                          <div class="modspacepad"><span class="modheader">History Selections</span></div>
                                          
                                          <!-- end module title --></td>
                                        <td><!-- begin module navigation -->
                                          
                                          <div class="campusship">
                                            <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                                          </div>
                                          
                                          <!-- end module navigation --></td>
                                        <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                      </tr>
                                    </table></td>
                                </tr>
                              </table>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="modline2" colspan="5"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td colspan="5"><div class="instrpad"><br>
                                      Your history request will be submitted when you select one of the links below. It may take several minutes for your data to display, depending upon server volume. Please do not select the link again until data for this request has been received. </div></td>
                                </tr>
                                <tr>
                                  <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="48%"><!-- begin left content column -->
                                    
                                    <div class="campusship"><a href="repl_href">Customize Package History View</a><br>
                                    </div>
                                    
                                    <!-- end left content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="48%"><!-- begin right content column -->
                                    
                                    <div class="campusship"><a href="repl_href">Export History for all Locations Administered </a><br>
                                    </div>
                                    <a href="repl_href">Export Current View</a> 
                                    <!-- end right content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="48%"><!-- begin left content column --> 
                                    Display per Page: <br>
                                    <select class="modSelMedium" name="select" size="1">
                                      <option>10 Shipments</option>
                                      <option selected>25 Shipments</option>
                                      <option>50 Shipments</option>
                                    </select>
                                    <br>
                                    <br>
                                    Show History For The Last: <br>
                                    <select class="modSelMedium" name="select" size="1">
                                      <option>1 Day</option>
                                      <option>7 Days</option>
                                      <option>30 Days</option>
                                      <option selected>Custom Date Range</option>
                                    </select>
                                    
                                    <!-- end left content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="48%"><!-- begin right content column -->
                                    
                                    <div class="campusship">
                                      <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td valign="top"><input  checked name="ViewHistory" type="radio" value="ViewHistory"></td>
                                          <td valign="top"> View History for: <br>
                                            <select class="modSelMedium" size="1" name="select">
                                              <option selected>Personal</option>
                                              <option>User</option>
                                              <option>Location</option>
                                              <option>Location and Reference</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                          <td colspan="2"><br></td>
                                        </tr>
                                        <tr>
                                          <td valign="top"><input name="ExportHistory" type="radio" value="ExportHistory"></td>
                                          <td valign="top"> Export History for: <br>
                                            <select class="modSelMedium" size="1" name="select">
                                              <option selected>None Selected</option>
                                              <option>Location</option>
                                              <option>Location and Reference</option>
                                            </select></td>
                                        </tr>
                                      </table>
                                      <div align="right">
                                        <input value="Go" class="btn_a" type="button">
                                      </div>
                                    </div>
                                    
                                    <!-- end right content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="48%"><!-- begin left content column --> 
                                    Start Date: <br>
                                    <select class="modSelMediumSmall" name="Month" size="1">
                                      <option value="00" selected>Month</option>
                                      <option value="01">January</option>
                                      <option value="02">February</option>
                                      <option value="03">March</option>
                                      <option value="04">April</option>
                                      <option value="05">May</option>
                                      <option value="06">June</option>
                                      <option value="07">July</option>
                                      <option value="08">August</option>
                                      <option value="09">September</option>
                                      <option value="10">October</option>
                                      <option value="11">November</option>
                                      <option value="12">December</option>
                                    </select>
                                    <select class="modSelSmall" name="Day" size="1">
                                      <option value="00" selected>Day</option>
                                      <option value="01">01</option>
                                      <option value="02">02</option>
                                      <option value="03">03</option>
                                      <option value="04">04</option>
                                      <option value="05">05</option>
                                      <option value="06">06</option>
                                      <option value="07">07</option>
                                      <option value="08">08</option>
                                      <option value="09">09</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                      <option value="13">13</option>
                                      <option value="14">14</option>
                                      <option value="15">15</option>
                                      <option value="16">16</option>
                                      <option value="17">17</option>
                                      <option value="18">18</option>
                                      <option value="19">19</option>
                                      <option value="20">20</option>
                                      <option value="21">21</option>
                                      <option value="22">22</option>
                                      <option value="23">23</option>
                                      <option value="24">24</option>
                                      <option value="25">25</option>
                                      <option value="26">26</option>
                                      <option value="27">27</option>
                                      <option value="28">28</option>
                                      <option value="29">29</option>
                                      <option value="30">30</option>
                                      <option value="30">31</option>
                                    </select>
                                    <select class="modSelSmall" name="Year" size="1">
                                      <option value="00" selected>Year</option>
                                      <option value="01">2001</option>
                                      <option value="02">2002</option>
                                      <option value="03">2003</option>
                                      <option value="04">2004</option>
                                      <option value="05">2005</option>
                                      <option value="06">2006</option>
                                      <option value="07">2007</option>
                                      <option value="08">2008</option>
                                      <option value="09">2009</option>
                                      <option value="10">2010</option>
                                    </select>
                                    <br>
                                    (maximum range is 90 days) 
                                    <!-- end left content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="48%"><!-- begin right content column --> 
                                    End Date: <br>
                                    <select class="modSelMediumSmall" name="Month" size="1">
                                      <option value="00" selected>Month</option>
                                      <option value="01">January</option>
                                      <option value="02">February</option>
                                      <option value="03">March</option>
                                      <option value="04">April</option>
                                      <option value="05">May</option>
                                      <option value="06">June</option>
                                      <option value="07">July</option>
                                      <option value="08">August</option>
                                      <option value="09">September</option>
                                      <option value="10">October</option>
                                      <option value="11">November</option>
                                      <option value="12">December</option>
                                    </select>
                                    <select class="modSelSmall" name="Day" size="1">
                                      <option value="00" selected>Day</option>
                                      <option value="01">01</option>
                                      <option value="02">02</option>
                                      <option value="03">03</option>
                                      <option value="04">04</option>
                                      <option value="05">05</option>
                                      <option value="06">06</option>
                                      <option value="07">07</option>
                                      <option value="08">08</option>
                                      <option value="09">09</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                      <option value="13">13</option>
                                      <option value="14">14</option>
                                      <option value="15">15</option>
                                      <option value="16">16</option>
                                      <option value="17">17</option>
                                      <option value="18">18</option>
                                      <option value="19">19</option>
                                      <option value="20">20</option>
                                      <option value="21">21</option>
                                      <option value="22">22</option>
                                      <option value="23">23</option>
                                      <option value="24">24</option>
                                      <option value="25">25</option>
                                      <option value="26">26</option>
                                      <option value="27">27</option>
                                      <option value="28">28</option>
                                      <option value="29">29</option>
                                      <option value="30">30</option>
                                      <option value="30">31</option>
                                    </select>
                                    <select class="modSelSmall" name="Year" size="1">
                                      <option value="00" selected>Year</option>
                                      <option value="01">2001</option>
                                      <option value="02">2002</option>
                                      <option value="03">2003</option>
                                      <option value="04">2004</option>
                                      <option value="05">2005</option>
                                      <option value="06">2006</option>
                                      <option value="07">2007</option>
                                      <option value="08">2008</option>
                                      <option value="09">2009</option>
                                      <option value="10">2010</option>
                                    </select>
                                    
                                    <!-- end right content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table class="moddividercolor2" style="background-image:none;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                                </tr>
                              </table>
                              <table class="modcolor2" style="background-image: none;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                        <td width="283"><!-- begin module title -->
                                          
                                          <div class="modspacepad"><span class="modheader">Previous Shipments </span></div>
                                          
                                          <!-- end module title --></td>
                                        <td><!-- begin module navigation --> 
                                          <img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"> 
                                          <!-- end module navigation --></td>
                                        <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                      </tr>
                                    </table></td>
                                </tr>
                              </table>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="modline2" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column --> 
                                    Please select an individual shipment using the checkboxes. You can then choose to show the details concerning that shipment, request or modify and intercept, void the shipment, or ship again using the appropriate buttons. <br>
                                    <br>
                                    You can track multiple shipments {maximum {20}}. Select the shipments you want or track using the checkboxes and select <span class="bold">Track</span>. <br>
                                    <br>
                                    You can schedule a pickup for any your shipments in Shipping History that share the same Ship From address. Select the appropriate shipments and select <span class="bold">Schedule Pickup</span>. <br>
                                    <br>
                                    
                                    <!-- begin record count --> 
                                    <span class="bold">Displaying shipments nn through nn out of nn in the last nn days</span> 
                                    <!-- end record count --> 
                                    <br>
                                    
                                    <!-- begin pagination | text version --> 
                                    <a href="repl_href">Previous</a> {nn} | <a href="repl_href">Next</a> {nn} 
                                    <!-- end pagination --> 
                                    <br>
                                    <div align="right">
                                      <input value="Schedule Pickup" class="btn" type="button">
                                      <input value="Show Detail / Receipt" class="btn" type="button">
                                      <input value="Track" class="btn" type="button">
                                      <input value="Ship Again" class="btn" type="button">
                                      <input value="Request Intercept" class="btn" type="button">
                                      <input value="Void" class="btn" type="button">
                                    </div>
                                    
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <!-- Begin Row: Header Rows with vertical spacing -->
                                <tr>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="18"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="119"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="119"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="119"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="119"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="50"></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">{User Defined}</a><img alt="" height="10" src="/img/xln_arrow_black_down.gif" width="10"></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">{User Defined}</a></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">{User Defined}</a></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">{User Defined}</a></div></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><div class="modulepad"><a href="repl_href">Voided</a></div></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Header Rows with vertical spacing --> 
                                <!-- Begin Row: Odd Row with vertical spacing -->
                                <tr bgcolor="#ffffff">
                                  <td colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td><input name="Shipment83Select3" type="checkbox" value="1"></td>
                                  <td><div class="modulepad">[user defined]</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">[user defined]<br>
                                      <a href="repl_href">International Forms</a></div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">[user defined]</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">[user defined]*</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad" align="center"><img src="/img/icn_void_partial.gif" alt="Partial Void" width="12" height="12"></div></td>
                                </tr>
                                <tr bgcolor="#ffffff">
                                  <td colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Odd Row with vertical spacing --> 
                                <!-- Begin Row: Even Row with vertical spacing -->
                                <tr bgcolor="#cccccc">
                                  <td colspan="12" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr bgcolor="#cccccc">
                                  <td><input name="Shipment83Select3" type="checkbox" value="1"></td>
                                  <td><div class="modulepad">[user defined]</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">[user defined]</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">[user defined]</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad">[user defined]</div></td>
                                  <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                  <td><div class="modulepad" align="center"><img src="/img/icn_void.gif" alt="Voided" width="12" height="12"></div></td>
                                </tr>
                                <tr bgcolor="#cccccc">
                                  <td bgcolor="#cccccc" colspan="10" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <!-- End Row: Even Row with vertical spacing -->
                                <tr bgcolor="#cccccc">
                                  <td colspan="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column -->
                                    
                                    <div align="right">
                                      <input value="Schedule Pickup" class="btn" type="button">
                                      <input value="Show Detail / Receipt" class="btn" type="button">
                                      <input value="Track" class="btn" type="button">
                                      <input value="Ship Again" class="btn" type="button">
                                      <input value="Request Intercept" class="btn" type="button">
                                      <input value="Void" class="btn" type="button">
                                    </div>
                                    <br>
                                    
                                    <!-- begin record count --> 
                                    <span class="bold">Displaying shipments nn through nn out of nn in the last nn days</span><br>
                                    
                                    <!-- end record count --> 
                                    <!-- begin pagination | text version --> 
                                    <a href="repl_href">Previous</a> {nn} | <a href="repl_href">Next</a> {nn} 
                                    <!-- end pagination --> 
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              
                              <!-- End: Modules  --></td>
                          </tr>
                        </table>
                        
                        <!-- end instructional text --> 
                        <!-- End: Inner Content --></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!--
              <tr>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-bot-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
							-->
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- End: Tab Navigation Wrapper --> 
            
            <!-- begin note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
      </div>