---
title: cam_shi_shi(2ext)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin popup header -->
            <table class="popcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td><!-- begin module title -->
                  
                  <div class="popspacepad"><span class="popheader">External Address Book</span></div>
                  
                  <!-- end module title --></td>
              </tr>
              <tr>
                <td class="popline"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
            </table>
            <!-- end popup header --> 
            
            <!-- begin application content -->
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
              <tr>
                <td><!-- begin search --> 
                  <span class="redError">[Control goes here]</span> <br>
                  <br>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><input name="PersonalAddressBook" type="checkbox" value="Save to Personal Address Book">
                        Save to My UPS Address Book as: <br>
                        <input class="modTxtMedium" maxlength="15" name="PersonalAddressBookName" type="text" size="15">
                        <br>
                        <input name="GlobalAddressBook" type="checkbox" value="checkbox">
                        Save to Corporate Address Book as: <br>
                        <input class="modTxtMedium" maxlength="15" name="GlobalAddressBookName" type="text" size="15"></td>
                    </tr>
                  </table>
                  
                  <!-- end results table --> 
                  
                  <br>
                  
                  <!-- begin buttons -->
                  
                  <div align="right">
                    <input value="Cancel" class="btn" type="button">
                    <input value="Select" class="btn" type="button">
                  </div>
                  
                  <!-- end buttons --></td>
              </tr>
            </table>
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </div>
        </div>
      </form>
  </div>