---
title: cam_shi_shi(2con)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- Begin : Page Header -->
            <div class="campusship"><img alt="" border="0" height="8" src="/img/icn_page_title_cs.gif" width="1"></div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Ship a Package</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <!-- End: Page Header --> 
            
            <!-- Begin: Tab Navigation Wrapper -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- Begin: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr> 
                      <!-- TAB ONE-->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-on" valign="top" nowrap>Package</td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB TWO -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v2.html">Freight</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB THREE -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v3.html">International Forms</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr class="mod-line">
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB ONE ON/OFF -->
                      <td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB TWO ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB THREE ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
                    <tr>
                      <td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td valign="top" class="modbgcolor2"><!-- Begin: Inner Content --> 
                        <!-- begin application header -->
                        
                        <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td width="366"><!-- begin title -->
                              
                              <div class="appspacepad">
                                <div class="uis"><span class="header2">Correct Service or Package Type</span></div>
                                <div class="campusship"><span class="header2">Shipping</span></div>
                              </div>
                              
                              <!-- end title --></td>
                            <td width="200"><!-- begin module navigation -->
                              
                              <div class="uis">
                                <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                              </div>
                              
                              <!-- end module navigation --></td>
                          </tr>
                        </table>
                        
                        <!-- end application header --> 
                        
                        <!-- begin instructional text -->
                        
                        <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td valign="top" width="546"><div class="instrpad"> The selected [Package type] and [Shipping Service] options are not compatible. To continue, please choose either a new service or package type, and select <span class="bold">Update</span>. </div>
                              <br></td>
                          </tr>
                        </table>
                        
                        <!-- end instructional text --> 
                        
                        <!-- begin module header -->
                        
                        <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td><table border="0" cellpadding="0" cellspacing="0" width="566">
                                <tr>
                                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td width="283"><!-- begin module title -->
                                    
                                    <div class="campusship">
                                      <div class="modspacepad"><span class="modheader">Correct Service or Package type</span></div>
                                    </div>
                                    
                                    <!-- end module title --></td>
                                  <td width="283"><!-- begin module navigation -->
                                    
                                    <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                                    <div class="campusship">
                                      <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                                    </div>
                                    
                                    <!-- end module navigation --></td>
                                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table>
                        
                        <!-- end module header --> 
                        
                        <!-- begin module -->
                        
                        <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
                          <tr>
                            <td><!-- begin module column modulepad table - 3 columns with 2 spacer columns and 1 content columns -->
                              
                              <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column -->
                                    
                                    <table class="modcolor3" border="0" cellpadding="1" cellspacing="0" width="100%">
                                      <tr>
                                        <td><table class="modbgcolor" border="0" cellpadding="10" cellspacing="0" width="100%">
                                            <tr>
                                              <td> You selected <span class="bold">[Package type]</span>. <br>
                                                <br>
                                                Please choose a valid service for this package type below. <br>
                                                <br>
                                                Service:<br>
                                                <select name="repl_fname" class="modSelMedium" size="1">
                                                  <option>Select One</option>
                                                  <option>Item 1</option>
                                                  <option>Item 2</option>
                                                  <option>Item 3</option>
                                                </select>
                                                &nbsp;&nbsp;<a href="#Update"><img alt="Update" border="0" height="18" src="/img_translations/en/btn_update.gif" width="50"></a></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table>
                                    <br>
                                    <span class="modsubheader">* OR *</span> <br>
                                    <br>
                                    <table class="modcolor3" border="0" cellpadding="1" cellspacing="0" width="100%">
                                      <tr>
                                        <td><table class="modbgcolor" border="0" cellpadding="10" cellspacing="0" width="100%">
                                            <tr>
                                              <td> You selected <span class="bold">[Shipping Service]</span>. <br>
                                                <br>
                                                Please choose a valid package type for this service below. <br>
                                                <br>
                                                Package type:<br>
                                                <select name="repl_fname" class="modSelMedium" size="1">
                                                  <option>Select One</option>
                                                  <option>Item 1</option>
                                                  <option>Item 2</option>
                                                  <option>Item 3</option>
                                                </select>
                                                &nbsp;&nbsp;<a href="#Update"><img alt="Update" border="0" height="18" src="/img_translations/en/btn_update.gif" width="50"></a> <br>
                                                <input name="repl_fname" type="checkbox" value="repl_fvalue">
                                                &nbsp;Change all packages<br></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                    </table>
                                    
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              
                              <!-- end module column modulepad table --></td>
                          </tr>
                        </table>
                        
                        <!-- end module --> 
                        
                        <!-- begin buttons spacer -->
                        
                        <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                        
                        <!-- end buttons spacer --> 
                        
                        <!-- begin buttons -->
                        
                        <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td valign="top"><div align="right">
                                <input value="Cancel" name="repl_fname" class="btn" type="button">
                              </div></td>
                          </tr>
                        </table>
                        
                        <!-- end buttons --> 
                        
                        <!-- End: Inner Content --></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!--
              <tr>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-bot-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
							-->
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- End: Tab Navigation Wrapper -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
  </div>

<!--

******************************
CHANGE LOG: 09/05/06
------------------------------


		<div class="appspacepad"><span class="header2"><div class="uis">Correct Service or Package type</div><div class="campusship">Shipping</div></span></div>
-To->
		<div class="appspacepad"><span class="header2">
		<div class="uis">Correct Service or Package Type</div>
		<div class="campusship">Shipping</div></span></div>



		The selected [Package type] and [Shipping Service] options are not compatible. To continue, please choose either a new service or package type, and select Update.
-To->
		The selected [Package type] and [Shipping Service] options are not compatible. To continue, please choose either a new service or package type, and select <span class="bold">Update</span>.


					<input name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Correct all invalid packages<br>
-To->
					<input name="repl_fname" type="checkbox" value="repl_fvalue">
					&nbsp;Change all packages<br>


-->