---
title: cam_shi_ret_edt_service
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">{application header}</h2>
                  <ul>
                    <li><a id="repl_id" href="repl_href" class="btnlnkR printIconR">{help link}</a></li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p class="error">{&gt;&gt;&gt;error message.}</p>
                  <p>{modify text.} {<b>note:</b> note text.} required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.}</p>
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl">
                    <fieldset>
                      <!-- Begin Section Header --><!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id">{your current service:}</label>
                          </dt>
                          <dd id="repl_id">{ups ground}</dd>
                          <dt>
                            <label id="repl_id" for="repl_id">{your current label delivery method:}</label>
                          </dt>
                          <dd id="repl_id">{electronic label}</dd>
                          <dt>
                            <label id="repl_id" for="repl_id">{your current additional services:}</label>
                          </dt>
                          <dd id="repl_id"><img alt="" border="0" height="12" width="16" src="/img/1.gif" class=" updatedIcon">{send e-mail notifications} <br>
                            <img alt="" border="0" height="12" width="16" src="/img/1.gif" class=" updatedIcon">{c.o.d.} <br>
                            <img alt="" border="0" height="12" width="16" src="/img/1.gif" class=" updatedIcon">{saturday delivery} <br>
                            <img alt="" border="0" height="12" width="16" src="/img/1.gif" class=" updatedIcon">{future servicess} </dd>
                        </dl>
                        <div class="hr"><img src="/img/1.gif" alt="" height="1"></div>
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id" class="error">{<a id="repl_id" href="repl_href" class="btnlnkR helpIconR">&gt;&gt;&gt;service:</a>}</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="" >{ups services}</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            </dl>
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">{label delivery method:}</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="" >{electronic label}</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            </dl>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- Return Service Options - UPS RFA Test Mode --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- Begin Sub Module -->
                          <div class="secLvl message subcol9 marginEnd">
                            <fieldset>
                              <!-- Begin Sub Header --><!-- End Section Header --> 
                              
                              <!-- Begin Sub Body -->
                              <div class="secBody">
                                <dl class="group">
                                  <dt>
                                    <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">{label certification}</a></label>
                                  </dt>
                                  <dd id="repl_id">{paragraph text <strong>bold text</strong>.}</dd>
                                </dl>
                                <p><a id="repl_id" href="repl_href">{print test labels}</a></p>
                              </div>
                              <!-- End Sub Body --> 
                              
                              <!-- Begin Sub Footer --><!-- End Section Footer -->
                            </fieldset>
                          </div>
                          <!-- End Sub Module --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Return Service Options - UPS RFA Test Mode --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- End Column -->
                          
                        </fieldset>
                        <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">{additional services:</a>}</label>
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value="" checked="checked"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{additioanl service}</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{additioanl service}</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value="" disabled="disabled"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{additioanl service}</label></td>
                          </tr
												>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value="" checked="checked"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{additioanl service}</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value="" checked="checked"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{additioanl service}</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{additioanl service (<a id="repl_id" href="repl_href" class="btnlnkR helpIconR">term level help</a>)}</label></td>
                          </tr>
                        </table>
                        <p>{some services may require extra information.} {you will be able to enter the required information on the next page.}</p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row -->
                  <div class="btnBar">
                    <input name="" type="button" id="repl_id" value="{cancel}" class="btn">
                    <input name="" type="submit" id="repl_id" value="{next}" class="btnArw">
                  </div>
                  <!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 