---
title: cam_shi_shi(8con)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            <!-- Begin : Page Header -->
            <div class="campusship"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <span class="header2">Complete Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <!-- End: Page Header --> 
            <!-- Begin: Tab Navigation Wrapper --> 
            <!-- Begin: Tab Cells --> 
            <!-- End: Tab Cells --> 
            <!-- Begin: Inner Content --> 
            <!-- begin application header -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="566"><span class="bold">Your shipment has been processed.</span><br>
                  <br>
                  
                  <!-- Start: PL to PL Shiping Message --> 
                  <!-- End: PL to PL Shiping Message --> 
                  <!-- Start: Error Message --> 
                  <span class="redErrorBold">&gt;&gt;&gt; The residential or commercial designation for this address has been changed based on UPS delivery records. This will avoid additional charges at the time of delivery.</span><br>
                  <br>
                  
                  <!-- End: Error Message --> 
                  We have received your shipping details and processed your payment. <br>
                  To send your shipment, follow the steps below. <br>
                  Save toner! - The label instructions can be turned off for certain shipments using the printing controls below. <br>
                  <br>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="fldLbl">When Needed Status:</td>
                      <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="3">{A pickup will occur for this <a href="repl_href">UPS Account's pickup location<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a> on {mm/dd/yyyy}</td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td class="fldLbl">Pickup Request Number:</td>
                      <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td><a href="repl_href">{Pickup Request Number}</a></td>
                    </tr>
                    <tr>
                      <td class="fldLbl">Service:</td>
                      <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td>{service}</td>
                    </tr>
                    <tr>
                      <td class="fldLbl">Guaranteed By:</td>
                      <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td>{date and time}</td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td class="fldLbl">Bill Shipping {and Pickup}Charges To:</td>
                      <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td>{payment method}</td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td class="fldLbl">Subtotal Pickup Charges:</td>
                      <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td>{nn.nn}{CUR}</td>
                    </tr>
                    <tr>
                      <td class="fldLbl">Subtotal Shipping Charges:</td>
                      <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td>{nn.nn} {CUR}</td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <!--
								<tr>
									<td class="fldLbl">Bill Duties and Taxes To:</td>
									<td>&nbsp;</td>
									<td>{payment method}</td>
								</tr>-->
                    <tr>
                      <td class="fldLbl">Total:</td>
                      <td>&nbsp;</td>
                      <td>{nn.nn} {CUR}</td>
                    </tr>
                    <!--
								<tr>
									<td class="fldLbl">Negotiated  Total:</td>
									<td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
									<td>{nn.00} {CUR} or {Negotiated Rates are currently unavailable.} </td>
								</tr>-->
                  </table>
                  <br></td>
              </tr>
            </table>
            <!-- end instructional text --> 
            
            <!-- begin module header -->
            <div class="campusship">
              <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                  <td><!-- begin module title -->
                    
                    <div class="modspacepad"><span class="modheader">1. Print Label(s) and Receipt</span></div>
                    
                    <!-- end module title --></td>
                  <td><!-- begin module navigation -->
                    
                    <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                    
                    <!-- end module navigation --></td>
                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                </tr>
              </table>
            </div>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column --> 
                        
                        Review the selected labels or receipts. To print checked items, select View/Print. You may change your <a href="repl_hrefs">printing preferences</a> at any time. You may void this shipment now by selecting Void Shipment. <br>
                        
                        <!--<br><span class="bold">Print Package Labels</span>&nbsp;&nbsp;
										<input alt="Select All" border="0" name="select_all" src="/img_translations/en/btn_lnk_select_all_mini.gif" type="image">
										&nbsp;&nbsp;
										<input alt="Clear All" border="0" name="clear_all" src="/img_translations/en/btn_lnk_clear_all_mini.gif" type="image">-->
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 1</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 2</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 3</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 4</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 5</div></td>
                          </tr>
                          <tr>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 6</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 7</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 8</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 9</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 10</div></td>
                          </tr>
                          <tr>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 11</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 12</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 13</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 14</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 15</div></td>
                          </tr>
                          <tr>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 16</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 17</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 18</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 19</div></td>
                            <td><div class="modulepad">
                                <input name="Label" checked type="checkbox" value="label">
                                Label 20</div></td>
                          </tr>
                        </table>
                        <p>
                          <label for="repl_name" class="sel">Print label instructions on?</label>
                          <select name="repl_name" id="repl_id">
                            <option value="repl_value" selected>Each label</option>
                          </select>
                        </p>
                        <blockquote> (International shipment, or shipments requiring a signature or special instructions, will always print label instructions regardless of this setting.) </blockquote>
                        <p>
                          <input name="Receipt" type="checkbox" value="receipt">
                          Receipt </p>
                        <span class="bold">Note:</span> For most newer browsers, the shipping labels and receipts appear in the same window. For some older browsers, each appears in a separate window. For best results, use Microsoft's Internet Explorer (IE) 5.x or newer. This does not apply to UPS Thermal Printers. 
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin buttons spacer -->
            <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top"><div align="right">
                    <input value="Void Shipment" class="btn" type="button">
                    <input value="View / Print" class="btn" type="button">
                  </div></td>
              </tr>
            </table>
            <!-- end buttons --> 
            <!-- begin module divider line -->
            <table class="moddividercolor3" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
              </tr>
            </table>
            <!-- end module divider line --> 
            <!-- begin module header -->
            <table class="modcolor3" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">2. Optional UPS Return Shipment</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="campusship"> </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor3" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline2" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column --> 
                        Recipients can easily return your letter or  package when you Create a Return Shipment.  UPS will create a return label to include in your shipment.<br>
                        <br>
                        <div align="left">
                          <input value="Complete Your Return Label" class="btn" type="button">
                        </div>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin module divider line -->
            <table class="moddividercolor3" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
              </tr>
            </table>
            <!-- end module divider line --> 
            <!-- begin module header -->
            
            <div class="campusship">
              <table class="modcolor3" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                  <td><!-- begin module title -->
                    
                    <div class="modspacepad"><span class="modheader">Next Steps...</span></div>
                    
                    <!-- end module title --></td>
                  <td><!-- begin module navigation -->
                    
                    <div class="campusship"> </div>
                    
                    <!-- end module navigation --></td>
                  <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                </tr>
              </table>
            </div>
            <!-- end module header --> 
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor3" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline2" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column --> 
                        <span class="bold">Getting your Shipment to UPS</span> <br>
                        <ul>
                          <li>Schedule a same day or future day <a href="repl_href">Pickup</a> to have a UPS driver pickup all of your CampusShip packages.</li>
                          <li>Hand the package to any UPS driver in your area. </li>
                          <li>Take your package to any location of the UPS Store&reg;, UPS Drop Box, UPS Customer Center, UPS Alliances (Office Depot&reg; or Staples&reg;) or Authorized Shipping Outlet near you. Items sent via UPS Return Services<sup>SM</sup> (including via Ground) are also accepted at Drop Boxes.</li>
                          <li>To find the location nearest you, please visit the Resources area of CampusShip and select <a href="repl_href">UPS Locations.</a></li>
                          <li>When calling 1-800-PICKUPS to pick-up your package, please do not request a one-time pick-up as this will cause the UPS driver to bring an additional shipping label and refuse your CampusShip label.</li>
                        </ul>
                        <br>
                        <span class="bold">View Package History or Void Shipment</span> <br>
                        Use this area to review shipment information, track previously shipped packages, and cancel packages you haven't shipped. You may cancel a shipment online in your history for up to 28 days.<br>
                        <br>
                        <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">View Package History or Void Shipment</a><br>
                        <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Begin Another Shipment</a><br>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor3" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module header -->
            <table class="modcolor3" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Printing Preferences</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation --> 
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor3" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline2" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column -->
                        
                        <input name="Labels" type="checkbox" value="labels">
                        Use my UPS thermal printer to print labels <br>
                        <input name="Receipts" type="checkbox" value="receipts">
                        Use my UPS thermal printer to print receipts 
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- End: Inner Content --> 
            
            <!-- End Table: Module Table (Parent:Formatting Table) --> 
            <!-- End: Tab Navigation Wrapper --> 
            <!-- begin note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>