---
title: create a return shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">thank you.  your ups return<sup>sm</sup> shipment has been processed.</h2>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p class="criticalMessage">{if your shipment contains food items text.}</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl message clearfix"> 
                  <!-- Begin Section Header --><!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  
                  <div class="secBody clearfix">
                    <p>we have received your shipping details.  if you need to <strong>print the shipping or return labels</strong>, <strong>or print a receipt</strong>, follow the steps below.</p>
                    
                    <!-- Begin Sub Section Module -->
                    <div class="secLvl message clearfix"> 
                      <!-- Begin Section Header --><!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      
                      <div class="secBody clearfix">
                        <p><strong>Note:</strong> <strong>ups worldwide express freight</strong> shipments require <strong>five (5) labels</strong> for each pallet in your shipment.</p>
                      </div>
                      
                      <!-- End Section Body --> 
                    </div>
                    <!-- End Sub Section Module --> 
                    
                    <!-- UPS Returns Exchange -->
                    <h4>shipment</h4>
                    <!-- END UPS Returns Exchange -->
                    
                    <dl class="outHozFixed clearfix">
                      <dt> <span class="label">{tracking number:}</span> </dt>
                      <dd>{1zXnnXnnnnnnnnnnnn}</dd>
                      <dt> <span class="label">{service:}</span> </dt>
                      <dd>{ups service}</dd>
                      <dt> <span class="label">{label delivery method:}</span> </dt>
                      <dd>{electronic label}</dd>
                      <dt> <span class="label">{bill shipping {and pickup} charges to:}</span> </dt>
                      <dd>{card name} nnnnnn</dd>
                    </dl>
                    
                    <!-- UPS Returns Exchange -->
                    <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                    <h4>return</h4>
                    <dl class="outHozFixed clearfix">
                      <dt> <span class="label">{tracking number:}</span> </dt>
                      <dd>{1zXnnXnnnnnnnnnnnn}</dd>
                      <dt> <span class="label">{service:}</span> </dt>
                      <dd>{service}</dd>
                      <dt> <span class="label">{bill shipping charges to:}</span> </dt>
                      <dd>shippper's account nnnnnn}</dd>
                      <dt> <span class="label">{shipping charges to:}</span> </dt>
                      <dd>x.xx usd</dd>
                    </dl>
                    <p><strong>{a discount has been applied to the [rate name] rates for this shipment}</strong></p>
                    <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                    <!-- END UPS Returns Exchange -->
                    
                    <dl class="outHozFixed clearfix totals">
                      <dt> <span class="label">{total charged:}</span> </dt>
                      <dd>{nn.nn} {usd}</dd>
                    </dl>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">{print shipping documents section header}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- Print Shipping Documents - Labels Printed --> 
                    <!-- --------------------------------------------------------- -->
                    <p class="criticalMessage">{shipping label with encoded reference numbers text.}</p>
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Print Shipping Documents - Labels Printed --> 
                    <!-- --------------------------------------------------------- -->
                    
                    <p>select the item to print below, then select <strong>print</strong>.</p>
                    <p><strong>Note:</strong> you need to print <strong>5 labels</strong> for each pallet in your ups worldwide express freight shipment.</p>
                    <dl class="outHozFlex clearfix">
                      <dt>
                        <label for="repl_id">number of selected labels to print:</label>
                      </dt>
                      <dd>
                        <select id="repl_id" class="formcol2">
                          <option selected="selected">5</option>
                          <option>##</option>
                        </select>
                      </dd>
                    </dl>
                    <div class="clearfix"></div>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Print Shipping Documents - Labels Printed --> 
                    <!-- --------------------------------------------------------- -->
                    <h4 id="repl_id">{label:}</h4>
                    <div class="sel clearfix">
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 1 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 2 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 3 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 4 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 5 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 6 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 7 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 8 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 9 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 10 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 11 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 12 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 13 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 14 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 15 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 16 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 17 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 18 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 19 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 20 Labels</label>
                        </dd>
                      </dl>
                    </div>
                    <dl class="outHozFlex group clearfix">
                      <dt>
                        <label id="repl_id" for="repl_id" class="sel">{print labels using my ups thermal printer?}</label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="no" selected>no</option>
                          <option value="yes">yes</option>
                        </select>
                      </dd>
                      <dt>
                        <label id="repl_id" for="repl_id" class="sel">{print label instructions on?}</label>
                      </dt>
                      <!-- enabled - default -->
                      <dd>
                        <select name="" id="repl_id">
                          <option value="" selected>each label</option>
                        </select>
                      </dd>
                      <!-- enabled - default --> 
                      
                      <!-- disabled - freight -->
                      <dd>
                        <select name="" id="repl_id" class="disabled">
                          <option value="" selected>each label</option>
                        </select>
                      </dd>
                      <!-- disabled - freight -->
                    </dl>
                    <p class="reqTxtInst">{(international shipments, or shipments requiring a signature text)}</p>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Print Shipping Documents - Labels Printed --> 
                    <!-- --------------------------------------------------------- -->
                    
                    <h4 id="repl_id">{receipt:}</h4>
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" for="repl_id" class="sel">{receipt}</label></td>
                      </tr>
                    </table>
                    <dl class="outHozFlex clearfix">
                      <dt>
                        <label id="repl_id" for="repl_id" class="sel">{print receipt using my ups thermal printer?}</label>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="no" selected>no</option>
                          <option value="yes">yes</option>
                        </select>
                      </dd>
                    </dl>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer -->
                  <div class="secFooter">
                    <div class="btnBar">
                      <input name="" type="button" id="repl_id" class="btn" value="Print">
                    </div>
                  </div>
                  <!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">{void this shipment or past shipments section header}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>{to void this ups returns<sup>&reg;</sup> exchange shipment, select <strong>void this/all shipment(s)</strong>. you can review and void past shipments in your <a id="repl_id" href="repl_href">shipping history link</a> for up to 90 days.}</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer -->
                  <div class="secFooter">
                    <div class="btnBar">
                      <input name="" type="button" id="repl_id" class="btn" value="{void {this/all} shipment}">
                    </div>
                  </div>
                  <!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">{what about my return label section header}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>{for electronic labels, with ups returns<sup>&reg;</sup> exchange, paragraph text} </p>
                    <p>{your return label will be automatically generated by ups and mailed to the pick up location you specified text} </p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- ////////////////////////////////////////////////////////////// --> 
                <!-- The following is a dynamic version of the previous module with 
                        changed module title, instructions and controls --> 
                <!-- ////////////////////////////////////////////////////////////// --> 
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">getting your shipments to ups</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <dl>
                      <dt><span class="label">pickup / drop-off option</span></dt>
                      <dd>ups will pick up / customer selected to drop off this shipment.</dd>
                    </dl>
                    <p><strong>Note:</strong> the party that will be receiving the return shipment label(s) must arrange for getting the return shipment to ups.</p>
                    <hr class="hr">
                    <div id="repl_id">
                      <div class="flexFirst clearfix">
                        <dl>
                          <dt><span class="label">[location/facility name]</span></dt>
                          <dd>[address 1]<br>
                            [city], [other], [state] [zip/postal code]<br>
                            [country or territory]<br>
                            telephone: [number]<br>
                            fax: [number]</dd>
                        </dl>
                        <p><a class="btnlnkR newWindowIconR" href="repl_href">last 50 feet directions</a></p>
                        <dl>
                          <dt><span class="label">hours of operation:</span></dt>
                          <dd>[weekday] hh:mm am to hh:mm pm<br>
                            [weekday] hh:mm am to hh:mm pm<br>
                            [weekday] hh:mm am to hh:mm pm<br>
                            ...<br>
                            [sunday] [closed]</dd>
                        </dl>
                      </div>
                      <div class="flexAfter clearfix">
                        <dl class="outHozFlex clearfix">
                          <dt><span class="label">[000]</span></dt>
                          <dd>[mi/km]</dd>
                        </dl>
                      </div>
                      <div class="clear"></div>
                      <p><strong>Note:</strong> the party that will be sending the return shipment must notify the recipient if the return shipment will be help for pick up at a ups location.</p>
                    </div>
                    <h4>delivery option</h4>
                    <!-- Begin Sub Section Level -->
                    <div class="secLvl message clearfix"> 
                      <!-- Begin Sub Section Header -->
                      <div class="secHead clearfix">
                        <h4>no ups facility were found within the search radius</h4>
                      </div>
                      <!-- End Sub Section Header --> 
                      
                      <!-- Begin Sub Section Body -->
                      <div class="secBody clearfix">
                        <p>[this ups worldwide express freight shipment requires assistance, please select the <strong>contact ups</strong> link above to schedule a pickup.]</p>
                      </div>
                      <!-- End Sub Section Body --> 
                    </div>
                    <!-- End Sub Section Level --> 
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">{next steps section header}</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <h4 id="repl_id">{distribute header}</h4>
                    <p>{include this return label paragraph text.}</p>
                    <p class="group">{you can create another shipment, or view your shipment history to review and track previously shipped packages.}</p>
                    <ul class="lstArrow">
                      <li><a id="repl_id" href="repl_href">{create another shipment}</a></li>
                      <li><a id="repl_id" href="repl_href">{view your shipping history}</a></li>
                    </ul>
                    <p class="group">{for shipments that contain food items paragraph text.}</p>
                    <ul class="lstArrow">
                      <li><a id="repl_id" href="repl_href">{prior notice form link}</a></li>
                    </ul>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer --><!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 
       