---
title: cam_shi_shi(1add)_ret(7bat)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- Begin : Page Header -->
            <div class="campusship"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <span class="header2">Shipping</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <span class="header">Shipping</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            
            <!-- End: Page Header --> 
            
            <!-- Begin: Tab Navigation Wrapper -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- Begin: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr> 
                      <!-- TAB ONE-->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-on" valign="top" nowrap>Package</td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB TWO -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v2.html">Freight</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB THREE -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v3.html">International Forms</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr class="mod-line">
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB ONE ON/OFF -->
                      <td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB TWO ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB THREE ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
                    <tr>
                      <td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td valign="top" class="modbgcolor2"><!-- Begin: Inner Content --> 
                        <!-- begin application header -->
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td valign="top" width="566"><!-- Start: Error Message -->
                              
                              <div class="instrpad"> <span class="bold">You have selected to create {nn} batch return labels. Please confirm your thermal printer preference below. You should also check your blank thermal label stock to ensure you can print your {nn} labels.</span><br>
                              </div></td>
                          </tr>
                        </table>
                        
                        <!-- end instructional text --> 
                        
                        <!-- begin module divider line -->
                        
                        <div class="campusship">
                          <table class="moddividercolor3" border="0" cellpadding="0" cellspacing="0" width="566">
                            <tr>
                              <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- end module divider line --> 
                        
                        <!-- begin module divider line -->
                        
                        <div class="uis">
                          <table class="moddividercolor3" border="0" cellpadding="0" cellspacing="0" width="566">
                            <tr>
                              <td><img alt="" border="0" height="6" src="/img/icn_module_divider_gline.gif" width="566"></td>
                            </tr>
                          </table>
                        </div>
                        
                        <!-- end module divider line --> 
                        
                        <!-- begin module header -->
                        
                        <table class="modcolor3" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td width="283"><!-- begin module title -->
                              
                              <div class="modspacepad"><span class="modheader">Printing Preferences</span></div>
                              
                              <!-- end module title --></td>
                            <td width="283"><!-- begin module navigation -->
                              
                              <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                              <div class="campusship"> </div>
                              
                              <!-- end module navigation --></td>
                            <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                          </tr>
                        </table>
                        
                        <!-- end module header --> 
                        
                        <!-- begin module -->
                        
                        <table class="modbordercolor3" border="0" cellpadding="2" cellspacing="0" width="566">
                          <tr>
                            <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                              
                              <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="modline2" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column -->
                                    
                                    <table cellspacing="0" cellpadding="0" border="0">
                                      <tr>
                                        <td valign="top"><input name="" type="checkbox" value=""></td>
                                        <td><label for="repl_name" class="sel">Print label instructions</label></td>
                                      </tr>
                                      <tr>
                                        <td></td>
                                        <td><table cellspacing="0" cellpadding="0" border="0">
                                            <tr>
                                              <td valign="top"><input name="repl_name" type="radio" value="" id="repl_id" ></td>
                                              <td><label for="repl_name" class="sel">On each label</label></td>
                                            </tr>
                                            <tr>
                                              <td valign="top"><input name="repl_name" type="radio" value="" id="repl_id" ></td>
                                              <td><label for="repl_name" class="sel">On first label only</label></td>
                                            </tr>
                                          </table>
                                          (Shipments requiring a signature or special instructions will always print label instructions regardless of this setting.) </td>
                                      </tr>
                                    </table>
                                    <input name="Labels" type="checkbox" value="labels" checked>
                                    Use my UPS thermal printer to print labels <br>
                                    <input name="Receipts" type="checkbox" value="receipts" checked>
                                    Use my UPS thermal printer to print receipts 
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              
                              <!-- end module column spacing table --></td>
                          </tr>
                        </table>
                        
                        <!-- end module --> 
                        <!-- End: Inner Content --></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!--
              <tr>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-bot-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
							-->
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- End: Tab Navigation Wrapper --> 
            <!-- begin buttons spacer -->
            <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top"><div align="right">
                    <input value="Back" class="btn_bak_a" type="button">
                    <input value="Cancel Shipment" class="btn" type="button">
                    <input value="Next" class="btn_a" type="button">
                  </div></td>
              </tr>
            </table>
            <!-- end buttons --> 
            
            <!-- begin note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
  </div>