---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
		<form action="repl_fname">
			
			<!-- Begin SubTabs -->
			<ul id="subTab">
				<li class="tab-on">Package</li>
				<li class="tab-off"><a href="repl_href">Freight</a></li>
				<li class="tab-off"><a href="repl_href">International Forms</a></li>
			</ul>
			<!-- End SubTabs -->
			
			<div style="clear:both;"></div>
			<table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
				<tr>
					<th><div class="head-col4">
							<h2>Electronic Export Information Preferences</h2>
							<ul>
								<li class="helpmini"><a href="repl_href">Help</a></li>
							</ul>
							<div style="clear:both;"></div>
						</div></th>
				</tr>
				<tr>
					<td><!-- Begin Module -->
						
						<div class="modFixed4col">
							<div class="modHead">
								<h3>About EEI Preferences</h3>
								<div style="clear:both;"></div>
							</div>
							<div class="modContent">
								<fieldset>
									<legend>Ledged Header</legend>
									<p>You are preparing an international shipment that requires export documentation. On this page, you can set preferences for filing Electronic Export Information (EEI) .</p>
									<p>An EEI may be required if any schedule B commodity within your shipment exceeds USD $2,500.</p>
								</fieldset>
							</div>
						</div>
						
						<!-- End Module --> 
						
						<!-- Begin Module -->
						
						<div class="modFixed4col">
							<div class="modHead">
								<h3>Before You Set Your Preferences</h3>
								<div style="clear:both;"></div>
							</div>
							<div class="modContent">
								<fieldset>
									<legend>Ledged Header</legend>
									<ul>
										<li>If you ARE already registered as an electronic EEI filer with AESDirect, you MUST enter the same AESDirect Filer ID Number and type used when registering with AESDirect below.</li>
										<li>If you are NOT yet registered as an electronic filer with AESDirect, you can continue with your shipment and register with AESDirect at a later time. <br>
											<p><b>Note:</b> To take advantage of this online EEI filing capability in the future, you should register to file electronically at <a href="https://ace.cbp.dhs.gov/.">https://ace.cbp.dhs.gov/</a>. You will then have the information you need to set your EEI Shipping Preferences.</p>
										</li>
									</ul>
									<br>
									<div>
										<dl>
											<dt>
												<label>Enter your AESDirect Filer ID Number:</label>
											</dt>
											<dd>
												<input maxlength="15" name="options2Ein" type="text" value="">
												<select name="Option2Filertype" size="1">
													<option selected value="99">Select ID type</option>
													<option value="79">EIN</option>
													<option value="06">SSN</option>
													<option value="04">D-U-N-S</option>
												</select>
											</dd>
											<dt>When you file EEIs, are you acting as a Forwarding Agent or an USPPI?</dt>
											<dd>
												<select class="modTxtMedium" name="SEDprefRoletype" size="1">
													<option value="XX">Select EEI Role</option>
													<option value="USPPI">US Principal Party of Interest(USPPI)</option>
													<option value="FA">Forwarding Agent</option>
												</select>
											</dd>
										</dl>
									</div>
								</fieldset>
							</div>
						</div>
						
						<!-- End Module --> 
						
						<!-- Begin Module -->
						
						<div class="modFixed4col">
							<div class="modHead">
								<h3>Set Your EEI Preferences</h3>
								<div style="clear:both;"></div>
							</div>
							<div class="modContent">
								<fieldset>
									<legend>Legend Header</legend>
									<p>To save your changes OR to continue your shipment without an EEI, select Set Preferences below. </p>
									<p><b>Note:</b>You may choose "No EEI Documentation Required" on the Electronic Export Information (EEI) page.</p>
								</fieldset>
							</div>
						</div>
						
						<!-- End Module --></td>
				</tr>
				<tr>
					<td><!-- Begin Application Footer -->
						
						<div class="appFooter"> 
							<!-- Begin Button Bar Row -->
							<div class="btnBar">
								<input name="repl_fname" type="button" id="repl_id18" value="Cancel" class="btn">
								<input name="repl_fname" type="submit" id="repl_id19" value="Set Preferences" class="btn">
							</div>
							<!-- End Button Bar Row --> 
						</div>
						
						<!-- End Application Footer --></td>
				</tr>
			</table>
		</form>
	</div>

