---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">Shipment Confirmation</h2>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix"> 
                
                <!--** Begin  ER1411 eMarketplace link **-->
                <p> <a href="repl_link" class="btnLnkR arrowIconR">Return to UPS eMarketplace Order Management</a> </p>
                <dl>
                  <dt>
                    <label>UPS Integrated Shipping</label>
                  </dt>
                  <dd> You Have processed {x} of {y} eMarketplace shipments. Select <strong>Next Shipment</strong> to continue. </dd>
                </dl>
                
                <!--** End ER1411 eMarketplace link **--> 
                
                <!-- Begin Section Module -->
                <div class="secLvl message clearfix">
                  <fieldset>
                    <legend>replace_legend</legend>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id">paperless invoice header</h3>
                    </div>
                    <!-- End Section Header --> 
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p id="repl_id">shipping internationally can be made easier paragraph <a href="repl_href">learn more link</a></p>
                    </div>
                    <!-- End Section Body --> 
                    <!-- Begin Setion Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl message clearfix">
                  <fieldset>
                    <legend>replace_legend</legend>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id">thank you. your {shipment/shipping ticket} has been processed.</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody clearfix">
                      <p id="repl_id"><strong>{[Address nn of nn] has been processed.}</strong></p>
                      <p id="repl_id">we have received your shipping details and processed your payment. if you need to <strong>print shipping labels</strong>, <strong>print a receipt</strong>, or <strong>print a return label</strong>, follow the steps below.</p>
                      
                      <!-- ////////// -- UIS -->
                      <p id="repl_id">we have received your shipping details and processed your payment. if you need to print shipping labels or a receipt, follow the steps below.</p>
                      <!-- UIS -- ////////// -->
                      
                      <p id="repl_id"><strong>thank you.  your surepost test labels have been {printed}{processed}</strong></p>
                      <p>these test labels should be given... <strong>not valid</strong> for shipping packages.</p>
                      <p>if you need to <strong>reprint test labels</strong>, follow the steps below.</p>
                      <div class="clearfix">
                        <fieldset>
                          <legend>replace_legend</legend>
                          <dl class="outHozFixed clearfix group">
                            <dt><span class="label">Tracking Number:</span></dt>
                            <dd id="repl_id">[1zXnnXnnnnnnnnnnnn]</dd>
                            <dt><span class="label">pickup request number:</span></dt>
                            <dd id="repl_id"><a href="repl_href">pickup request number</a></dd>
                            <!-- \\\\\ -- UIS -->
                            <dt><span class="label">movement request number:</span></dt>
                            <dd id="repl_id"><a href="repl_href">[movement request number]</a></dd>
                            <!-- UIS -- ///// -->
                            <dt><span class="label">service:</span></dt>
                            <dd id="repl_id">{ups service}</dd>
                            <dt><span class="label">guaranteed by:</span></dt>
                            <dd id="repl_id">{end of day}, {day of week}, {mm/dd/yyyy}</dd>
                            <dt><span class="label">bill shipping {and pickup} charges to:</span></dt>
                            <dd id="repl_id">{card name} XXXXXXXXXXXXnnnn</dd>
                            <!-- \\\\\ -- UIS -->
                            <dt><span class="label">bill [shipping] charges to:</span></dt>
                            <dd id="repl_id">[shipper's account][FOO100]</dd>
                            <!--** Begin ER1415 Promotion Code **-->
                            <dt><span class="label">Promotion Code:</span></dt>
                            <dd id="repl_id">[Promotion Code Alias]</dd>
                            <!--** End ER1415 Promotion Code **-->
                            <dt>{Retail rates were applied to this shipment.}</dt>
                            <!-- UIS -- ///// -->
                            <dt><span class="label">subtotal pickup charges:</span></dt>
                            <dd id="repl_id">{nn.nn}{usd}</dd>
                            <dt><span class="label">subtotal shipping charges:</span></dt>
                            <dd id="repl_id">{nn.nn}{usd}</dd>
                          </dl>
                          <dl class="outHozFixed clearfix totals">
                            <dt><span class="label">total charged:</span></dt>
                            <dd id="repl_id">nn.nn usd <span class="reqTxtInst">(includes all recipients)</span> </dd>
                          </dl>
                        </fieldset>
                      </div>
                      <p id="repl_id"><strong>note:</strong> UPS carbon neutral charges are not included in Total Charged. All UPS carbon neutral charges will appear as Miscellaneous charges in the Adjustments and Other Chartes section of your invoice.</p>
                      
                      <!-- Begin Sub Module -->
                      <div class="secLvl message critical clearfix">
                        <fieldset>
                          <!-- Begin Sub Header --><!-- End Sub Header --> 
                          
                          <!-- Begin Sub Body -->
                          <div class="secBody clearfix">
                            <dl class="outHozFlex clearfix">
                              <dt>
                                <label>next shipment:</label>
                              </dt>
                              <dd id="repl_id">x of x from list name</dd>
                            </dl>
                            <p id="repl_id" class="error">&gt;&gt;&gt; there was an error processing. select <strong>skip this address</strong> to continue.</p>
                            <fieldset>
                              <!-- Begin Column -->
                              <div class="floatBegin">
                                <dl>
                                  <dt>
                                    <label id="repl_id" for="repl_id">ship to label:</label>
                                  </dt>
                                  <dd id="repl_id">company or name<br>
                                    address line 1<br>
                                    address line 2<br>
                                    address line 3<br>
                                    city, state zip<br>
                                    telephone: nnn-nnn-nnnn </dd>
                                </dl>
                              </div>
                              <!-- End Column --> 
                              
                              <!-- Begin Column -->
                              <div class="floatEnd">
                                <dl class="outHozFlex group clearfix">
                                  <dt>
                                    <label id="repl_id" for="repl_id">service label:</label>
                                  </dt>
                                  <dd id="repl_id">ups service </dd>
                                </dl>
                                <dl class="outHozFlex clearfix totals">
                                  <dt>
                                    <label id="repl_id" for="repl_id">total charges label:</label>
                                  </dt>
                                  <dd id="repl_id">nn.nnusd </dd>
                                </dl>
                              </div>
                              <!-- Emd Right Column -->
                            </fieldset>
                            <p>by selecting the <strong>{ship now/ship to all address} </strong>button, i agree to the <a href="" class="btnlnkR newwindowIconR">term and conditions</a>.</p>
                          </div>
                          <!-- End Sub Body --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Confirmation - Distribution List - Single Step --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- Begin Sub Footer -->
                          <div class="secFooter">
                            <div class="btnBar"> 
                              
                              <!-- /////////////////////////////////////////////////// --> 
                              <!-- Begin Confirmation - Manual Batch Processing (1304) -->
                              <input name="" type="button" id="repl_id" class="btn" value="quick & back to summary">
                              <input name="" type="button" id="repl_id" class="btn" value="skip ahead">
                              <!-- End Confirmation - Manual Batch Processing (1304) --> 
                              <!-- ///////////////////////////////////////////////// -->
                              
                              <input name="" type="button" id="repl_id" class="btn" value="cancel">
                              <input name="" type="button" id="repl_id" class="btn" value="skip this address">
                              <input name="" type="button" id="repl_id" class="btn" value="ship to all address">
                              <input name="" type="button" id="repl_id" class="btn" value="ship now">
                              <!-- When Disabled -->
                              <input name="" type="button" id="repl_id" class="btn disabled" value="ship now" disabled="disabled">
                            </div>
                          </div>
                          <!-- End Sub Footer -->
                        </fieldset>
                      </div>
                      <!-- End Sub Module --> 
                      
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl message">
                  <fieldset>
                    <!-- Begin Section Header --> 
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <fieldset>
                        <p><strong>than you for shipping with us!</strong> now is a great time to complete your profile and establish your security questions and preferences. <a href="repl_href" class="btnlnkR linkForwardIconR">finish registration now</a></p>
                      </fieldset>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl message">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3>ups payperlesssm invoice</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <fieldset>
                        <p><strong>note:</strong> to print copies of your paperless export forms, select <strong>print my paperless export forms documentation</strong> below.</p>
                      </fieldset>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id">Print Shipping Documents</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody"> 
                      
                      <!-- //////////////////////////////////// --> 
                      <!-- Begin Confirmation - SurePost (1304) -->
                      <p>did your test labels print okay?</p>
                      <p>if not, reprint your test labels by selecting the <strong>print</strong> button below.</p>
                      <!-- End Confirmation - SurePose (1304) --> 
                      <!-- ////////////////////////////////// -->
                      
                      <p id="repl_id">select the items to print below. to print selected items, select <strong>print</strong>.</p>
                      
                      <!-- /////////////////////////////////////////////////////////// --> 
                      <!-- Begin Print - WW Freight - up to 20 Pallets x 5 labels each -->
                      <p><strong>note:</strong> you will be printing <strong>5 labels</strong> for each pallet in your ww express freight shipment.</p>
                      <!-- End Print - WW Freight - up to 20 Pallets x 5 labels each --> 
                      <!-- ///////////////////////////////////////////////////////// --> 
                      
                      <!-- --------------------------------------------------------- --> 
                      <!-- Print - Address List - Ship to All --> 
                      <!-- --------------------------------------------------------- -->
                      <p id="repl_id"><strong>nnn</strong> shipment processed from your file. select the items to print below, <strong>print</strong>.</p>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="sel"><input name="repl_name01" type="radio" id="repl_id" value="" checked></td>
                          <td><label id="repl_id" for="repl_id" class="sel">print all labels</label></td>
                        </tr>
                        <tr>
                          <td class="sel"><input name="" type="radio" id="repl_id" value=""></td>
                          <td><label id="repl_id" for="repl_id" class="sel">print labels from</label>
                            <input type="text" name="" id="repl_id" value="nnn" size="5">
                            to:
                            <input type="text" name="" id="repl_id" value="nnn" size="5"></td>
                        </tr>
                      </table>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Print - Address List - Ship to All --> 
                      <!-- --------------------------------------------------------- -->
                      
                      <dl class="outHozFlex group clearfix">
                        <dt>
                          <label id="repl_id" for="repl_id">number of each label to print label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>5</option>
                          </select>
                        </dd>
                      </dl>
                      <h4 id="repl_id">label:</h4>
                      <fieldset>
                        <div class="sel clearfix">
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label 1</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label 2</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label 3</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label 4</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label 5</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label n</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label n</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label n</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label n</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label nn</label>
                            </dd>
                          </dl>
                          <dl class="outHozFlex sel4 clearfix">
                            <dt>
                              <input name="" type="checkbox" value="">
                            </dt>
                            <dd>
                              <label id="repl_id" for="repl_id" class="sel">label 20</label>
                            </dd>
                          </dl>
                        </div>
                      </fieldset>
                      <dl class="outHozFlex group clearfix">
                        <dt>
                          <label id="repl_id" for="repl_id" class="sel">print labels using my ups thermal printer?</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="no" selected>no</option>
                            <option value="yes">yes</option>
                          </select>
                        </dd>
                        <dt>
                          <label id="repl_id" for="repl_id" class="sel">print label instructions on?</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>each label</option>
                          </select>
                        </dd>
                      </dl>
                      <p id="repl_id" class="reqTxtInst">(International shipments, or shipments requiring a signature or special instructions, will always print label instructions regardless of this setting.)</p>
                      <h4 id="repl_id">receipt:</h4>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><input name="" type="checkbox" value="" id="repl_id" checked="checked"></td>
                          <td><label id="repl_id" for="repl_id" class="sel">receipt</label></td>
                        </tr>
                      </table>
                      <dl class="outHozFlex clearfix">
                        <dt>
                          <label id="repl_id" for="repl_id" class="sel">print receipt using my ups thermal printer?</label>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="no" selected>no</option>
                            <option value="yes">yes</option>
                          </select>
                        </dd>
                      </dl>
                      
                      <!-- start 7210 ER Jul12 -->
                      <h4 id="repl_id">export forms documentation</h4>
                      <a href="repl_href" id="repl_id">print my paperless export forms documentation</a> 
                      <!-- end 7210 ER Jul12 --> 
                      
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer -->
                    <div class="secFooter">
                      <div class="btnBar">
                        <input name="" type="button" id="repl_id" class="btn" value="Print">
                      </div>
                    </div>
                    <!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id">void this shipment or past shipment section header</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p id="repl_id">to void this shipment, select the , <strong>void this/all shipment(s)</strong> button. pragraph text <a href="repl_href">shipping history link</a>.</p>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer -->
                    <div class="secFooter">
                      <div class="btnBar">
                        <input name="" type="button" id="repl_id" class="btn" value="void this/all shipment">
                      </div>
                    </div>
                    <!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id">create a return shipment section header</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p id="repl_id">the recipient of your shipment can easily return your paragraph text, select <strong>create a return shipment</strong>.</p>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer -->
                    <div class="secFooter">
                      <div class="btnBar">
                        <input name="" type="button" id="repl_id" class="btn" value="create a return shipment">
                      </div>
                    </div>
                    <!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id">Getting Your Shipment to UPS</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <div class="clearfix">
                        <fieldset>
                          <legend>replace_legend</legend>
                          <p>Customer selected to drop off this shipment.</p>
                          <dl class="outHozFixed">
                            <dt>
                              <label for="repl_id">freight shipment drop off time:</label>
                            </dt>
                            <dd>hh:mm am/pm</dd>
                          </dl>
                          <div class="clear"></div>
                          <dl class="outHozFixed">
                            <dt>
                              <label for="repl_id">{Drop-off Date}{Shipment Date}:</label>
                            </dt>
                            <dd>mm/dd/yyyy</dd>
                          </dl>
                          <div class="clear"></div>
                          <div class="flexFirst indent clearfix">
                            <dl>
                              <dt>
                                <label for="repl_id">[Location/Facility Name]</label>
                              </dt>
                              <dd> [Address 1]<br>
                                [City], [Other], [state] [ZIP/Postal Code]<br>
                                [Country or Territory]<br>
                                Telephone: [number]<br>
                                Fax:  [number] </dd>
                            </dl>
                            <p><a class="btnlnkR newWindowIconR" href="repl_href">last 50 feet directions</a></p>
                            <dl>
                              <dt>
                                <label for="repl_id">Hours of Operation:</label>
                              </dt>
                              <dd>[Weekday] hh:mm am/pm to hh:mm am/pm</dd>
                            </dl>
                          </div>
                          <div class="flexAfter clearfix">
                            <dl class="outHozFlex clearfix">
                              <dt>
                                <label for="repl_id">[000]</label>
                              </dt>
                              <dd>[mi/km]</dd>
                            </dl>
                          </div>
                          <div class="clear"></div>
                          <dl class="outHozFixed">
                            <dt>
                              <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Location Cut-off Time:</a></label>
                            </dt>
                            <dd>hh:mm pm</dd>
                          </dl>
                          <div class="clear"></div>
                        </fieldset>
                      </div>
                      <div class="clearfix">
                        <p id="repl_id"> <img alt="" border="0" height="14" width="16" src="/img/1.gif" class="arrowIcon"> <a href="repl_href">schedule a pickup</a> </br>
                          <span> <img alt="" border="0" height="14" width="15" src="/img/1.gif"> You can schedule a pickup for today or schedule a UPS driver to pick up all of your shipments on a regular basis. </span> </p>
                        <p id="repl_id"> <img alt="" border="0" height="14" width="16" src="/img/1.gif" class="arrowIcon"> Hand your packages to any UPS driver in your area. </p>
                        <p id="repl_id"> <img alt="" border="0" height="14" width="16" src="/img/1.gif" class="arrowIcon"> <a href="repl_href">Find UPS Drop-off Locations</a> <br>
                          <span> <img alt="" border="0" height="14" width="15" src="/img/1.gif"> Leave your packages at any convenient location near you. </span> </p>
                      </div>
                      <div class="clearfix">
                        <p id="repl_id">Your driver will pick up your shipment(s) as usual.</p>
                        <div class="secLvl message clearfix">
                          <fieldset>
                            <legend>replace_legend</legend>
                            <div class="secBody clearfix">
                              <dl>
                                <dt>
                                  <label for="repl_id">no ups facility was selected text</label>
                                </dt>
                                <dd>[this ups worldwide express freight shipment text <strong>contact ups</strong> link above text]</dd>
                              </dl>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id">next steps... section header</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p id="repl_id" class="group">you can create another shipment, or view your shipment history to review and track previously shipped packages.</p>
                      <ul class="lstArrow">
                        <li><a href="repl_href">create another shipment</a></li>
                        <li><a href="repl_href">view your shipping history</a></li>
                      </ul>
                      <p id="repl_id" class="group">ups provides online documents for international shioments paragraph text.</p>
                      <ul class="lstArrow">
                        <li><a href="repl_href">export documents</a></li>
                      </ul>
                      <p>review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidelines</a> to see if they apply to your pallet.</p>
                      <p id="repl_id" class="group">For shipments that contain food items for human or animal consumption, a US FDA Food Imports Prior Notice Form is required for every food item. A form is required to be submitted if 1) the shipment did not originate in the United States and is destined for North or South America or 2) all shipments originating in Canada, Mexico or South America to any destination.</p>
                      <ul class="lstArrow">
                        <li><a href="repl_href">prior notice form</a></li>
                      </ul>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
              </div>
              <!-- End Application Body --> 
              
              <!--** ER1411 New Buttons **--> 
              <!--** Begin Application Footer **-->
              <div class="appFooter"> 
                <!--** Begin Button Bar Row **-->
                <div class="btnBar">
                  <input name="repl_name" type="button" id="repl_id" value="Cancel Remaining Shipments" class="btn">
                  <input name="repl_name" type="button" id="repl_id" value="Return to UPS Integrated Shipping" class="btnArw">
                  <input name="repl_name" type="submit" id="repl_id" value="Next Shipment" class="btnArw">
                </div>
                <!--** End Button Bar Row **--> 
              </div>
              <!--** End Application Footer **--> 
              
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
          
          <!--** Begin Application Module **-->
          <div class="appLvl mod modal dialog" style="width:auto">
            <fieldset>
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">Cancel Shipment? </h2>
                <ul>
                  <li>
                    <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon modalclose">
                  </li>
                </ul>
              </div>
              <!-- End Application Header --> 
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <fieldset>
                  <legend>replace_legend</legend>
                  <dl>
                    <dt>
                      <label>Are you sure you want to cancel shipment ? </label>
                    </dt>
                    <dd>
                      <p style="margin-top:20px;"> <strong>Note:</strong> This will cancel the shipment transaction. but the eMarketplace order will not be cancelled. if you select <strong>Yes</strong> you will be taken back to eMarketplace Order Managment. </p>
                    </dd>
                  </dl>
                </fieldset>
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar alignCenter">
                  <input name="" type="submit" id="repl_id" value="Yes" class="btn modalclose">
                  <input name="" type="submit" id="repl_id" value="No" class="btn modalclose">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer -->
            </fieldset>
          </div>
          <!--** End Application Module **--> 
          
        </div>
        <!-- /applicationArea --> 
</div>
<script type="text/javascript">
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:760});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});
</script> 
