---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      <ul id="subTab">
        <li class="tab-on">Package</li>
        <li class="tab-off"><a href="repl_href">Freight</a></li>
      </ul>
      <div style="clear:both;"></div>
      <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
        <tr>
          <th><div class="head-col4">
              <h2>Shipping Preferences</h2>
              <ul>
                <li class="helpmini"><a href="javascript:repl_function('repl_href')">Help</a></li>
              </ul>
            </div></th>
        </tr>
        <tr>
          <td valign="top"><div class="introModFixed">
              <p>You can customize your shipping options to help save you time when you create a shipment online. These options will appear as defaults when you create a new shipment. When you are finished, select <b>Update</b> to save your shipping preferences. <a href="repl_href">Freight shipment preferences</a> must be saved separately.</p>
              <p>Note: You are not required to set preferences for each category. Feel free to customize the options that are most important to you.</p>
              <p>* <b>One-step Shipping:</b> Preferences marked with an * must be saved to enable one-step shipping.</p>
            </div>
            <div class="modFixed4col"> 
              <!--  Shipping Preferences Table  -->
              <div class="marginEnd"><a href="ct1_shi_shi(1add)_pre_v3.html"><img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="2" border="0">View/Edit All Shipping Preferences</a></div>
              <table border="0" cellspacing="0" cellpadding="0" class="optSelTable">
                <tr>
                  <th>Shipping Preferences</th>
                  <th>&nbsp;</th>
                  <th style="text-align:center;">Saved?</th>
                </tr>
                <tr>
                  <td><h3>Shipping Options *</h3>
                    <p>{Description - Lorem ipsum dolor sit amet, consectetuer adipiscing elit.}</p></td>
                  <td class="viewEdit"><input name="" type="submit" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated">&nbsp;</td>
                </tr>
                <tr>
                  <td><h3>Return Service Options</h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated"><img src="/img/icn_check.gif" alt="" width="9" height="9"> Updated</td>
                </tr>
                <tr >
                  <td><h3>Reference Values</h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated">&nbsp;</td>
                </tr>
                <tr>
                  <td><h3>Payment Method *</h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
                </tr>
                <tr>
                  <td><h3>Quantum View Notify<sup>SM</sup></h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
                </tr>
                <tr>
                  <td><h3>UPS Pickup Request Times</h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated">&nbsp;</td>
                </tr>
                <tr>
                  <td><h3>Printing Preferences</h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated">&nbsp;</td>
                </tr>
                <tr>
                  <td><h3>Shipping History</h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated">&nbsp;</td>
                </tr>
                <tr>
                  <td><h3>Address Book</h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated">&nbsp;</td>
                </tr>
                <tr>
                  <td><h3>International Documentation</h3>
                    <p>{Description}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated">&nbsp;</td>
                </tr>
              </table>
              <p>&nbsp;</p>
              
              <!-- Rating Preferences Table -->
              
              <div class="marginEnd"><a href="ct1_shi_shi(1add)_pre_v3.html"><img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="2" border="0">View/Edit All Rating Preferences</a></div>
              <table border="0" cellspacing="0" cellpadding="0" class="optSelTable">
                <tr>
                  <th>Rating Preferences</th>
                  <th>&nbsp;</th>
                  <th style="text-align:center;">Saved?</th>
                </tr>
                <tr>
                  <td><h3>Rating Options</h3>
                    <p>{Description - Lorem ipsum dolor sit amet, consectetuer adipiscing elit.}</p></td>
                  <td class="viewEdit"><input name="" type="button" class="btnlnkL plusmini" value="View/Edit"></td>
                  <td class="updated">&nbsp;</td>
                </tr>
              </table>
              <br>
              <ul class="lstArrow">
                <li><a href="ct1_shi_shi(1add)_pre_v3.html">Create a Shipment</a></li>
                <li><a href="repl_href">Create a Return</a></li>
                <li><a href="repl_href">View Shipping History</a></li>
              </ul>
            </div></td>
        </tr>
      </table>
    </div>
