---
title: create a shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
  <form action="repl_fname">
    
    <!-- Begin Application Module -->
    <div class="appLvl col18 mod">
      <fieldset>
        <!-- Begin Application Header -->
        <div class="appHead clearfix">
          <h2 id="repl_id">{application header} ready to ship?</h2>
        </div>
        <!-- End Application Header --> 
        
        <!-- Begin Application Body -->
        <div class="appBody clearfix">
          <p><a href="repl_href">log in</a> or <a href="repl_href">register</a> to ship using the rate request details you entered.</p>
          <p>if you prefer <a href="repl_href">to ship without logging in</a>, you must enter new shipment details.</p>
        </div>
        <!-- End Application Body --> 
        
        <!-- Begin Application Footer -->
        <div class="appFooter"> 
          <!-- Begin Button Bar Row --><!-- End Button Bar Row --> 
        </div>
        <!-- End Application Footer -->
      </fieldset>
    </div>
    <!-- End Application Module -->
    
  </form>
</div>
