---
title: UPS Service Comparison
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      <div class="modFixed4col">
        <div class="outHozFixed1">
          <dl>
            <dt>
              <label>Ship From:</label>
            </dt>
            <dd>{City, ZIP/Postal Code, COUNTRY OR TERRITORY}</dd>
            <dt>
              <label>Ship To:</label>
            </dt>
            <dd>{City, ZIP/Postal Code, COUNTRY OR TERRITORY}</dd>
            <dt>
              <label>Number of Packages:</label>
            </dt>
            <dd>{1}</dd>
          </dl>
        </div>
      </div>
      <div class="modFlex">
        <table border="0" cellspacing="0" cellpadding="0" class="dataTable" width="100%">
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Estimated Delivery *</th>
            <th scope="col">Estimated Cost</th>
          </tr>
          <tr class="odd">
            <td>UPS Next Day Air Early A.M.</td>
            <td>8:30 A.M. Friday, 11/4/2006</td>
            <td>87.47 USD</td>
          </tr>
          <tr>
            <td>UPS Next Day Air</td>
            <td>10:30 A.M. Friday, 11/4/2006</td>
            <td>55.41 USD</td>
          </tr>
          <tr class="odd">
            <td>UPS Next Day Air Saver</td>
            <td>3:00 P.M. Friday, 11/4/2006</td>
            <td>50.63 USD</td>
          </tr>
          <tr>
            <td>UPS 2nd Day Air A.M.</td>
            <td>12:00 P.M. Monday, 11/7/2006</td>
            <td>23.18 USD</td>
          </tr>
          <tr class="odd">
            <td>UPS 2nd Day Air</td>
            <td>End of Day Monday, 11/7/2006</td>
            <td>20.48 USD </td>
          </tr>
          <tr>
            <td>UPS 3 Day Select</td>
            <td>End of Day Tuesday, 11/8/2006</td>
            <td>18.57 USD</td>
          </tr>
          <tr class="odd">
            <td>UPS Ground</td>
            <td>No later than end of day Thursday, 11/10/2006</td>
            <td>14.36 USD</td>
          </tr>
        </table>
      </div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="note">
        <tr>
          <td class="reqTxtInst"><p>* Estimated delivery if you get your package to UPS by 8:00P.M., mm/dd/yyyy.</p></td>
          <td class="close"><a href="javascript:window.close();"><img alt="" height="14" src="/img/btn_close_mini.gif" width="14" border="0">Close Window</a></td>
        </tr>
      </table>
    </form>
  </div>

