---
title: ct1_shi
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
    <!-- Start: Page Header --> 
    
    <!-- --> 
    <!-- --> 
    <!-- HTML COPIED FROM PRODUCTION Jan1, 2010 --> 
    <!-- --> 
    <!-- --> 
    
    <!-- --> 
    <!-- --> 
    <!-- JUL10 Update widths in two WCMS content type templates
	The page is CMS generated. To correct the width of the page 
	both the "workspaces" and "call to action" templates would 
	have to be 	updated. This is a WCMS impact. --> 
    <!-- --> 
    <!-- -->
    
    <table cellspacing="0" cellpadding="0" border="0" width="710">
      <!-- JUL10 Update width -->
      <tbody>
        <tr>
          <td><img height="15" width="1" src="/img/1.gif" alt=""></td>
        </tr>
        <tr>
          <td width="100%" valign="middle"><span class="header">Shipping</span></td>
        </tr>
        <!-- JUL10 Remove row --> 
        <!--<tr>
				<td><img height="15" width="1" src="/img/1.gif" alt=""></td>
			</tr>-->
      </tbody>
    </table>
    <!-- End: Page Header --> 
    <!-- Start: Module (Not Intro) Header -->
    <table cellspacing="0" cellpadding="0" border="0" width="710">
      <!-- JUL10 Update width -->
      <tbody>
        <tr>
          <td valign="top"><!-- JUL10 Remove width -->
            
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
              <!-- JUL10 Update width -->
              <tbody>
                <tr>
                  <td width="278" valign="top"><img height="9" border="0" width="1" src="/img/1.gif"><br>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td width="100%" colspan="2"><img hspace="109" height="1" border="0" width="2" src="/img/1.gif" alt=""></td>
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="20" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><div class="modulepad"><span class="standardheader">Create a Shipment</span></div></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img workspaceheight="3" border="0" width="348" src="/img/xln_mod_2_col_2pix276.gif" alt=""><!-- JUL10 Update width --></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" class="grey2" colspan="2"><div class="modulepad"> <img height="1" border="0" width="10" src="/img/1.gif" alt=""><br>
                              <span class="grey2">Start your shipment by logging in or registering now.</span><br>
                              <img height="5" border="0" width="10" src="/img/1.gif" alt=""><br>
                              <div class="arrow-blue"><a href="https://www.ups.com/uis/create?loc=en_US">Create a Shipment<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                              <div class="arrow-blue"><a href="https://www.ups.com/uis/create?ActionOriginPair=ShippingHistory___StartSession&amp;loc=en_US&amp;srcLink=HISTORY">Shipping History<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                              <div class="arrow-blue"><a href="repl_href">Create a Return<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                              <div class="arrow-blue"><a href="repl_href">Create an Import<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                              <div class="arrow-blue"><a href="repl_href">Batch File Shipping<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                            </div>
                            <br>
                            <br></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td colspan="4"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                      </tbody>
                    </table>
                    <img height="9" border="0" width="1" src="/img/1.gif"><br>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td width="100%" colspan="2"><img hspace="109" height="1" border="0" width="2" src="/img/1.gif" alt=""></td>
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="20" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><div class="modulepad"><span class="standardheader"> Calculate Time and Cost</span></div></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="3" border="0" width="348" src="/img/xln_mod_2_col_2pix276.gif" alt=""><!-- JUL10 Update width --></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" class="grey2" colspan="2"><div class="modulepad"> <img height="1" border="0" width="10" src="/img/1.gif" alt=""><br>
                              Find delivery dates, times, and published rates for sending your UPS shipments to destinations around the world.<br>
                              <img height="5" border="0" width="10" src="/img/1.gif" alt=""><br>
                              <div class="arrow-blue"><a href="http://wwwapps.ups.com/calTimeCost?loc=en_US">Calculate Time and Cost</a></div>
                              <div class="arrow-blue"><a href="/content/us/en/shipping/time/service/index.html">View Service Guide</a></div>
                              <div class="arrow-blue"><a href="/content/us/en/shipping/cost/zones/index.html">View Zone and Rate Charts</a></div>
                              <div class="arrow-blue"><a href="http://www.ups.com/maps?loc=en_US">U.S. Ground Maps</a></div>
                              <div class="arrow-blue"><a href="http://wwwapps.ups.com/maps_europe?loc=en_US">European Transit Time Maps</a></div>
                            </div>
                            <br>
                            <br></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td colspan="4"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                      </tbody>
                    </table>
                    <img height="9" border="0" width="1" src="/img/1.gif"><br>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td width="100%" colspan="2"><img hspace="109" height="1" border="0" width="2" src="/img/1.gif" alt=""></td>
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="20" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><div class="modulepad"><span class="standardheader"> Open a UPS Account</span></div></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="3" border="0" width="348" src="/img/xln_mod_2_col_2pix276.gif" alt=""><!-- JUL10 Update width --></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" class="grey2" colspan="2"><div class="modulepad"> <img height="1" border="0" width="10" src="/img/1.gif" alt=""><br>
                              Establish your own UPS Account for billing your shipping charges and services.<br>
                              <img height="5" border="0" width="10" src="/img/1.gif" alt=""><br>
                              <div class="arrow-blue"><a href="https://www.ups.com/account/us/start?loc=en_US">Open a UPS Account<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                            </div>
                            <br>
                            <br></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td colspan="4"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                      </tbody>
                    </table>
                    <img height="9" border="0" width="1" src="/img/1.gif"><br>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td width="100%" colspan="2"><img hspace="109" height="1" border="0" width="2" src="/img/1.gif" alt=""></td>
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="20" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><div class="modulepad"><span class="standardheader"> Shipping Support</span></div></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="3" border="0" width="348" src="/img/xln_mod_2_col_2pix276.gif" alt=""><!-- JUL10 Update width --></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" class="grey2" colspan="2"><div class="modulepad">
                              <div class="arrow-blue"><a href="/content/us/en/resources/ship/voidashipment.html">Void a Shipment</a></div>
                              <div class="arrow-blue"><a href="http://www.ups.com/ga/CountryRegs">Get International Shipping Information</a></div>
                              <div class="arrow-blue"><a href="/content/us/en/resources/ship/index.html">View All Shipping Support</a></div>
                            </div>
                            <br>
                            <br></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td colspan="4"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                      </tbody>
                    </table>
                    <img height="15" width="278" src="/img/1.gif" alt=""></td>
                  <td width="10"><img height="1" border="0" width="10" src="/img/1.gif" alt=""></td>
                  <td width="278" valign="top"><img height="9" border="0" width="1" src="/img/1.gif"><br>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td width="100%" colspan="2"><img hspace="109" height="1" border="0" width="2" src="/img/1.gif" alt=""></td>
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="20" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><div class="modulepad"><span class="standardheader"> Schedule a Pickup</span></div></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="3" border="0" width="348" src="/img/xln_mod_2_col_2pix276.gif" alt=""><!-- JUL10 Update width --></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" class="grey2" colspan="2"><div class="modulepad"> <img height="1" border="0" width="10" src="/img/1.gif" alt=""><br>
                              Arrange to have your shipment picked up by UPS. You may also check the status of a previous request, and view your Pickup History.<br>
                              <img height="5" border="0" width="10" src="/img/1.gif" alt=""><br>
                              <div class="arrow-blue"><a href="https://wwwapps.ups.com/pickup/schedule?loc=en_US">Schedule a Pickup</a></div>
                              <div class="arrow-blue"><a href="https://wwwapps.ups.com/pickup/status?loc=en_US">View Pickup Request Status</a></div>
                              <div class="arrow-blue"><a href="https://wwwapps.ups.com/pickup/history?loc=en_US">View Pickup History<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                            </div>
                            <br>
                            <br></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td colspan="4"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                      </tbody>
                    </table>
                    <img height="9" border="0" width="1" src="/img/1.gif"><br>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td width="100%" colspan="2"><img hspace="109" height="1" border="0" width="2" src="/img/1.gif" alt=""></td>
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="20" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><div class="modulepad"><span class="standardheader"> Find Locations</span></div></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="3" border="0" width="348" src="/img/xln_mod_2_col_2pix276.gif" alt=""><!-- JUL10 Update width --></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" class="grey2" colspan="2"><div class="modulepad"> <img height="1" border="0" width="10" src="/img/1.gif" alt=""><br>
                              Find the nearest UPS location to your address.<br>
                              <img height="5" border="0" width="10" src="/img/1.gif" alt=""><br>
                              <div class="arrow-blue"><a href="http://www.ups.com/dropoff?loc=en_US">Find Locations</a></div>
                            </div>
                            <br>
                            <br></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td colspan="4"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                      </tbody>
                    </table>
                    <img height="9" border="0" width="1" src="/img/1.gif"><br>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td width="100%" colspan="2"><img hspace="109" height="1" border="0" width="2" src="/img/1.gif" alt=""></td>
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="20" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><div class="modulepad"><span class="standardheader"> Use International Tools</span></div></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="3" border="0" width="348" src="/img/xln_mod_2_col_2pix276.gif" alt=""><!-- JUL10 Update width --></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" class="grey2" colspan="2"><div class="modulepad"> <img height="1" border="0" width="10" src="/img/1.gif" alt=""><br>
                              Use UPS TradeAbility<sup><small>TM</small></sup> International Tools to effectively manage the movement of goods across international borders in a more compliant, timely, and efficient manner.<br>
                              <img height="5" border="0" width="10" src="/img/1.gif" alt=""><br>
                              <div class="arrow-blue"><a href="https://wwwapps.ups.com/tradeability?loc=en_US">Use TradeAbility International Tools</a></div>
                              <div class="arrow-blue"><a href="https://wwwapps.ups.com/tradeability/product_list?loc=en_US">Manage Product List<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                              <div class="arrow-blue"><a href="https://wwwapps.ups.com/tradeability/transaction_history?loc=en_US">View Transaction History<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                              <div class="arrow-blue"><a href="repl_href">International Shipping and Global Trade</a></div>
                              <div class="arrow-blue"><a href="repl_href">{LINK TO BUSSOL CONTENT}</a></div>
                              <div class="arrow-blue"><a href="repl_href">{LINK TO SUPPORT CONTENT}</a></div>
                            </div>
                            <br>
                            <br></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td colspan="4"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                      </tbody>
                    </table>
                    <img height="1" border="0" width="278" src="/img/1.gif" alt=""><br>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tbody>
                        <tr>
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td width="100%" colspan="2"><img hspace="109" height="1" border="0" width="2" src="/img/1.gif" alt=""></td>
                          <td width="1"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="20" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><div class="modulepad"><span class="standardheader"> Order Supplies</span></div></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="3" border="0" width="348" src="/img/xln_mod_2_col_2pix276.gif" alt=""><!-- JUL10 Update width --></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="9" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" colspan="2"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                          <td bgcolor="#ffffff" class="grey2" colspan="2"><div class="modulepad"> <img height="1" border="0" width="10" src="/img/1.gif" alt=""><br>
                              Shop at our supplies store. You can choose from labels, customized forms, and much more.<br>
                              <img height="5" border="0" width="10" src="/img/1.gif" alt=""><br>
                              <div class="arrow-blue"><a href="https://www.ups.com/osa/orderSupplies?loc=en_US">Order Supplies<img height="7" border="0" align="bottom" width="0" src="/img/1.gif" alt=""><img height="8" border="0" align="bottom" width="12" src="/img/icn_lock_blue.gif" alt=""></a></div>
                            </div>
                            <br>
                            <br></td>
                          <td><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                        <tr bgcolor="#cccccc">
                          <td colspan="4"><img height="1" border="0" width="1" src="/img/1.gif" alt=""></td>
                        </tr>
                      </tbody>
                    </table>
                    <img height="9" border="0" width="1" src="/img/1.gif"></td>
                </tr>
              </tbody>
            </table></td>
        </tr>
      </tbody>
    </table>
    <!-- /applicationArea --> 
  </div>

