---
title: Address Classification and Validation Tool
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">Upload Batch Address File</h2>
                  <ul>
                    <li><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link</a></li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <div class="flexFirst">
                    <p>&gt;&gt;&gt; Batch file upload success message here.</p>
                  </div>
                  <div class="flexAfter indent">
                    <p class="error">&gt;&gt;&gt; Batch file upload error message here.</p>
                  </div>
                  <div class="clear"></div>
                  <div class="flexFirst">
                    <p class="error">&gt;&gt;&gt; Success but with errors.</p>
                  </div>
                  <div class="flexAfter indent"> <a href="repl_href">View Errors</a> </div>
                  <div class="clear"></div>
                  <p>Use this tool to set a file processing filter for Address Validation only, Classification only, or both. Maximum file size is <strong>[5]</strong> Mb or <strong>[5000] Records</strong>. Required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                  <dl>
                    <dt>
                      <label for="repl_for">Location and Name of File:</label>
                    </dt>
                    <dd>
                      <input type="text" class="" name="repl_name" id="repl_id" >
                      <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                      <input type="button" name="repl_name" id="repl_id" value="Browse" class="btn"  >
                      <p> <strong>Note:</strong> The format of the file must be a comma separated values (*.csv) file. </p>
                    </dd>
                  </dl>
                  <p> <a href="repl_href" class="btnLnkR helpiconR" >Address File Format</a> </p>
                  <dl>
                    <dt>
                      <label for="repl_for">I want to:</label>
                    </dt>
                    <dd>
                      <select class="" name="repl_name" id="repl_id" >
                        <option value="">Select One</option>
                        <option>Classify and validate addresses</option>
                        <option>Other option </option>
                      </select>
                      <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                      <p> <strong>Note:</strong> Validation is only for U.S. Addresses, and classification is only available for U.S. and Canadian addresses. </p>
                    </dd>
                  </dl>
                  <dl>
                    <dt>
                      <label for="repl_for">Nickname this file upload request:</label>
                    </dt>
                    <dd>
                      <input type="text" class="" name="repl_name" id="repl_id" >
                      <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                      <p> (Maximum 22 characters) </p>
                    </dd>
                  </dl>
                  <input type="button" name="repl_name" id="repl_id" value="Upload" class="btn btnArw">
                  <p> <strong>Note:</strong> Please allow approximately <strong>00 minutes</strong> for your file to be processed and then refresh the result table to download your file. </p>
                  <hr>
                  <dl>
                    <dt>
                      <label for="repl_for">Batch File Upload Results:</label>
                    </dt>
                    <dd>
                      <p> File upload results are displayed in the results window below. Successufly upload files are available 24/7, up tp seven days. </p>
                      <input type="text" name="repl_name" id="repl_id" value="Refresh Result Table" class="btn">
                    </dd>
                  </dl>
                  <table cellspacing="0" cellpadding="0" border="0" class="dataTable full">
                    <tr>
                      <th>Date Uploaded</th>
                      <th>Date Processed</th>
                      <th>file Nickname</th>
                      <th></th>
                    </tr>
                    <tr>
                      <td align="Left" colspan="4" style="padding:5px;"><strong>No Results Found</strong></td>
                    </tr>
                    <tr class="odd">
                      <td>[mm/dd/yyyy][hh:mm]</td>
                      <td>[mm/dd/yyyy]</td>
                      <td>[file nickname]</td>
                      <td><a href="repl_href">download</a></td>
                    </tr>
                    <tr>
                      <td>[mm/dd/yyyy][hh:mm]</td>
                      <td>[mm/dd/yyyy]</td>
                      <td>[file nickname]</td>
                      <td><a href="repl_href">download</a></td>
                    </tr>
                    <tr class="odd">
                      <td>[mm/dd/yyyy][hh:mm]</td>
                      <td>[mm/dd/yyyy]</td>
                      <td>[file nickname]</td>
                      <td><a href="repl_href">download</a></td>
                    </tr>
                  </table>
                </div>
                <!-- End Application Body -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 