---
title: Create a Return
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      <ul id="subTab">
        <li class="tab-on">Package</li>
        <li class="tab-off"><a href="repl_href">Freight</a></li>
      </ul>
      <div style="clear:both;"></div>
      <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
        <tr>
          <th><div class="head-col4">
              <h2>Enter Additional Return Details</h2>
            </div></th>
        </tr>
        <tr>
          <td valign="top"><div class="introModFixed">
              <p>Additional information is needed to complete your shipment.</p>
            </div>
            
            <!-- Step One : Quantum View Notify -->
            
            <div id="step-1" class="stepModFixed4col">
              <div class="stepModHead">
                <h3>Return Notifications E-mail Address </h3>
                <ul>
                  <li>
                    <input name="repl_name" type="button" class="btnlnkL crossmini" value="Remove This Option">
                  </li>
                </ul>
                <div style="clear:both;"></div>
              </div>
              <fieldset>
                <legend>Quantum View Notify Information</legend>
                <div class="stepModContent">
                  <p>You can send a return notification e-mail to up to five recipients.</p>
                  <p>
                  <table border="0" cellspacing="3" cellpadding="0">
                    <tr>
                      <td width="2%">&nbsp;</td>
                      <td><label>E-mail Address:</label></td>
                    </tr>
                    <tr class="">
                      <td>1.</td>
                      <td><input name="repl_name" type="text" id="email_address1" value="pjones@email.com"></td>
                    </tr>
                    <tr class="">
                      <td>2.</td>
                      <td><input name="repl_name" type="text" id="email_address2" value="lmiller@home.com"></td>
                    </tr>
                    <tr class="">
                      <td>3.</td>
                      <td><input name="repl_name" type="text" id="email_address3"></td>
                    </tr>
                    <tr class="">
                      <td>4.</td>
                      <td><input name="repl_name" type="text" id="email_address4"></td>
                    </tr>
                    <tr class="">
                      <td>5.</td>
                      <td><input name="repl_name" type="text" id="email_address5"></td>
                    </tr>
                  </table>
                  </p>
                  <dl>
                    <dt>
                      <label>Personal E-mail Message:</label>
                    </dt>
                    <dd>
                      <textarea name="" cols="45" rows="2"></textarea>
                      <br>
                      <div class="reqTxtInst">Maximum 150 characters</div>
                    </dd>
                  </dl>
                  <p>
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top"><input name="repl_name" type="checkbox" id="qv_email_problem" value="" checked></td>
                      <td><label for="qv_email_problem" class="sel">Notify me if there is a problem delivering any of these e-mails.</label></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input name="repl_name" type="text" value="lmiller@email.com"></td>
                    </tr>
                  </table>
                  </p>
                </div>
              </fieldset>
            </div>
            
            <!-- Step Two : Electronic Return Label -->
            
            <div id="step-2" class="stepModFixed4col">
              <div class="stepModHead">
                <h3>Electronic Return Label</h3>
                <ul>
                  <li>
                    <input name="repl_name" type="button" class="btnlnkL crossmini" value="Remove This Option">
                  </li>
                </ul>
                <div style="clear:both;"></div>
              </div>
              <div class="stepModContent">
                <fieldset>
                  <legend>Electronic Message Information</legend>
                  <dl>
                    <dt>
                      <label for="erl">E-mail Electronic Return Label To:</label>
                    </dt>
                    <dd>
                      <input name="repl_name" type="text" id="erl">
                    </dd>
                    <dt>
                      <label for="erl_memo">ERL Memo:</label>
                    </dt>
                    <dd>
                      <textarea name="" cols="45" rows="2" id="erl_memo"></textarea>
                      <br>
                      <div class="reqTxtInst">Enter a message to include with the Electronic Return Label. Maximum {150} characters.</div>
                    </dd>
                  </dl>
                  <p>
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top"><input name="repl_name" type="checkbox" id="erl_email_problem" value="" checked></td>
                      <td><label for="erl_email_problem" class="sel">Notify me if there is a problem delivering the Electronic Return Label.</label></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input name="repl_name" type="text" value="lmiller@email.com"></td>
                    </tr>
                  </table>
                  </p>
                </fieldset>
              </div>
            </div></td>
        </tr>
        <tr>
          <td class="btn-bar"><div class="btn-col4">
              <input name="start_over" type="button" value="Back" class="btn_bak_a">
              <input name="start_over" type="button" value="Cancel Return" class="btn">
              <input name="next" type="submit" value="Next" class="btn_a">
            </div></td>
        </tr>
      </table>
    </div>
