/* glo_color/blue.css - C-Clamp Blue Color Palette*/

/* last updated: October-2008 */

div.tabon {background-image:url(/img/glo_bnr_fade_blu.gif); height:71px;}

div.taboff {background-image:url(/img/glo_bnr_fade_blu.gif); height:67px;}



#ccGloBnr #nav1 li.tab-on {border-bottom-color:#DCEDE5;;color:#003436;background-color:#DCEDE5; padding:6px 0px;}

#ccGloBnr #nav1 li.tab-off {border-bottom-color:#DFB42C;color:#FFFFFF;background-color:#008198;}

#ccGloBnr #nav1 .tab-off a {color:#FFFFFF;}

#ccGloBnr #nav1 .tab-off a:hover {background-color:#26A9AC;}



.ccGloFtr {background-color:#DCEDE5; color:#003436;}

#ccGloFt div.nav1 {background-color:#FFFFFF;border-color:#018069;}



.ccGloFtr a {color:#003436;}



#ccGloBdy .ccGloBdyGtr1 div.modHead{background-color:#008198;}

#ccGloBdy .ccGloBdyGtr1 button.btn{ background-color:#008198;}

#ccGloBdy div.modFixed6col{ background-color:#DCEDE5;}



.ccGloBdyGtr1 div.modContent{padding:5px 0px}

.ccGloBdyGtr1 div.introMod{padding:0 5px}

ul.lstArrow{padding:0px; margin-left:1px; list-style-image:none; list-style-position:outside; list-style-type:none}

.lstArrow li{background-position:top left; padding:0px 0px 0px 12px; margin:0px; background-repeat:no-repeat;}

/* REMOVED - ztr9cnb - jul21/09 - unsure why c-clamp needs list item img replacement - interfering with applications*/

/*.lstArrow li{background-image:url(/img/icn_arw_blu_lst_rt.gif); }*/



#ccGloBnr #nav1 .tab-on a {color:#003436; padding:4px 10px; text-decoration:none;}

#cssnav{background-color:#DCEDE5;}

.ccpnmenu{border-color:#003436;background-color:transparent;}

.ccpnmenu a{background-color:#008198;border-style:solid;border-color:#003436;font-weight:bold;color:#FFF;}

.ccpnmenu a:hover{background-color:#26A9AC}



#ccGloBdy .ccGloBdyGtr1 button.btn, #ccGloBdy .ccGloBdyGtr1 button.btn_a { background-color:#008198;}