/*-- Jul09 ER  Last Updated 7-2-2009 EA --*/



#main { width:786px; }

.head-colFull { padding-right:10px; }

.shopcart { padding-bottom:5px; font-weight:bold; }		





div.colL { width:379px }

div.colR { width:379px }

div.stepModColL { width:385px; }

div.stepModColR { width:385px; }

div.stepModFixed2col { width:380px; margin-right:0px; }



/* Added - ztr9cnb - jul21/09 - new 4col width for wider applications*/

.head-col4 {width:776px;}

td.btn-bar div.btn-col4 {width:786px;}



table.dataTableTop td { vertical-align:top; }

table.dataTable table.checkbox td { border:none; padding:1px; }





div.outHozFlex2colImg { margin-top:5px; }

div.outHozFlex2colImg p img {clear:both;float:left;margin:0; padding:0px 8px 8px }

div.outHozFlex2colImg dl { overflow:auto; display:block; padding-right:5px; margin:0; white-space:normal; float:none; }

* html div.outHozFlex2colImg dl { float:left; }







.outHozFixed2 dt {padding-bottom:5px;width:200px;margin-left:0px;}

/* Removed - ztr9cnb - jan10 - Tracking Message Modules dont allow for full width - keep the same as 566 layout */

.outHozFixed2 dd {padding-bottom:5px;/*width:310px;margin-left:0px;*/}



.outHozFixed3{clear:both}

.outHozFixed3 dl{padding-bottom:8px; display:table}

.outHozFixed3 dt{width:300px; float:left; clear:both}

.outHozFixed3 dd{width:400px; float:left; margin-left:10px; padding-bottom:0px}

* html .outHozFixed3 dd{padding-left:7px; float:none}





div.pagination {text-align:right; padding:0px; padding-top:5px;}

#main div.pagination .btn {border-style:solid;border-width:1px;font-family:arial,sans-serif;font-size:0.75em;font-weight:bold;padding:1px 3px 2px; margin:0px;}

* html #main div.pagination .btn{overflow:visible; padding:2px 6px 1px 6px; margin:0px 2px;}



#main div.pagination .btn_on {border-style:solid;border-width:1px;font-family:arial,sans-serif;font-size:0.75em;font-weight:bold;padding:1px 3px 2px;}

* html #main div.pagination .btn_on{overflow:visible; padding:2px 6px 1px 6px; margin:0px 2px;}



#main div.pagination .btn_off {border-style:solid;border-width:1px;font-family:arial,sans-serif;font-size:0.75em;font-weight:bold;padding:1px 3px 2px;}

* html #main div.pagination .btn_off{overflow:visible; padding:2px 6px 1px 6px; margin:0px 2px;}





mod th ul li a, .mod th ul li a:hover, .mod th ul li input.btnlnk, .mod th ul li input.btnlnkL, .mod th ul li input.btnlnkR, .mod th ul li button.btnlnk, .mod th ul li button.btnlnkL, .mod th ul li button.btnlnkR{color:#fff;}







.pop th ul li a, .pop th ul li a:hover{color:#fff;}



/* REMOVED - ztr9cnb - jul21/09 - was part of the new blue visual treatment*/

/*td.btn-bar{padding:5px;}*/



div.col_splt div.colL { border-right-color:#26a9ac; }



p.error{color:#C00}



.outHozLedger dd.line{border-bottom:1px dashed #666;}



.pi_border{border-color:#80ced0;}



.hr_splt{background-color:#80ced0;}

.hr_spltMod{background-color:#26a9ac;}



div.stepModFixed4col{background-color:#FFFFFF;}

div.stepModFixed3col{background-color:#FFFFFF;} 











div.modHead h3{font-size:10pt;}





.modMsg{background-color:#FFF;}



.ylw{border-color:#FFD124}

.ylw h3{color:#825300; background-color:#FFF2AC; }

.ylw div.modMsgBase{border:none; background-color:#FFF2AC;}



.blu{border-color:#26A9AC}

.blu h3{color:#003436; background-color:#DCEDE5}

.blu div.modMsgBase{border-color:#DCEDE5; background-color:#FFF}



.modCall{color:#351C15; border-color:#80ced0; }



.modCallBase{color:#000; background-color:#FFF; border-bottom-color:#80ced0; border-right-color:#80ced0; border-left-color:#80ced0}

.modSupport{color:#351C15;}



.modSupportBase{color:#000;}

.navMod div.modCall{color:#351C15; background-color:#dcede5; }

.navMod div.modCallBase{color:#000; background-color:#dcede5;}





.mod #progress{border-color:#008198}

.tab #progress{border-color:#008198}

#progress table{color:#26a9ac;background-color:#FFF}

* html #progress table{color:#26a9ac;background-color:#FFF}

#progress h3{color:#351C15;}

#progress td.on{color:#351C15;}

#progress td.lastOn{color:#351C15;}





button.btn_a{color:#FFF; background-color:#69F; border-top-color:#9CF; border-right-color:#66C;border-bottom-color:#66C; border-left-color:#9CF;}

button.btn_bak_a{color:#FFF; background-color:#69F;border-top-color:#9CF;border-right-color:#66C;border-bottom-color:#66C;border-left-color:#9CF;}

button.btn{color:#FFF; background-color:#69F;border-top-color:#9CF;border-right-color:#66C;border-bottom-color:#66C;border-left-color:#9CF;}

button.btnlnk{color:#008198;background-color:transparent;}

button.btnlnkL{color:#008198;background-color:transparent;}

button.btnlnkR{color:#008198;background-color:transparent;}







label.error a.btnlnkL, label.error a.btnlnkR{color:#CC0000;}





/* REMOVED - ztr9cnb - jul21/09 - was part of the new blue visual treatment*/

/*#ccGloBdy input.btn, #ccCntMod input.btn_a, #ccGtrMod input.btn_a, #main input.btn_a, div.hovHelpBrw input.btn_a {margin-left:3px;} */



#ccGloBdy input.btn, #ccCntMod button.btn_bak_a, #ccGtrMod button.btn_bak_a, #main button.btn_bak_a, div.hovHelpBrw button.btn_bak_a {margin-left:3px;}







div.pagination {text-align:right; padding:0px; padding-top:5px;}

#main div.pagination .btn {border-style:solid;border-width:1px;font-family:arial,sans-serif;font-size:0.75em;font-weight:bold;padding:1px 3px 2px; margin:0px;}

* html #main div.pagination .btn{overflow:visible; padding:2px 6px 1px 6px; margin:0px 2px;}



#main div.pagination .btn_on {border-style:solid;border-width:1px;font-family:arial,sans-serif;font-size:0.75em;font-weight:bold;padding:1px 3px 2px;}

* html #main div.pagination .btn_on{overflow:visible; padding:2px 6px 1px 6px; margin:0px 2px;}



#main div.pagination .btn_off {border-style:solid;border-width:1px;font-family:arial,sans-serif;font-size:0.75em;font-weight:bold;padding:1px 3px 2px;}

* html #main div.pagination .btn_off{overflow:visible; padding:2px 6px 1px 6px; margin:0px 2px;}











#ccGloBdy div.modFixed6col {background-color:#DCEDE5;}





ul.lstCheck {list-style-image:url(/img/icn_check.gif); background-repeat:no-repeat; list-style-position:outside; list-style-type:circle;} 





#modal.mod th ul {margin-right:10px;}

#modal.mod {background-color:#FFFFFF;}



#modal, #iWindow {height:375px;margin:0px;padding:0;width:99%;}

#iWindow div.stepModFlex {border:none; margin:0;}

#iWindow table.dataTable {border:none;}

div.stepModFlex table.dataTable {border-top:medium none;}



table.dataTable h3.infoPlus {color:#60513A;padding-left:0;}

div.infoPlus {border:1px solid #908474;margin:0 5px 5px;}

table.dataTable h3.infoPlus {color:#60513A; padding-left:0;}

div.stepModFlex .infoPlus table.dataTable {border-top:none}

.odd .infoPlus .dataTable {background-color:#ffffff;}



.datatable .outHozFixed1 dt { padding-bottom:5px; width:250px; }

.datatable .outHozFixed1 dd { padding-bottom:5px; width:275px; margin-left:0px;}





.modFlexCnt { width: 525px;float: left;}





#acc_menu {

	border:1px solid #D4CCBF;

}

#acc_menu dl {

	padding:0 5px;

}

#acc_menu .acc_content {

	overflow:hidden;

	padding:10px 10px 0 0;

	margin:0;

}

#acc_menu a.acc_handle {

	cursor:pointer;

	display:block;

	padding:2px 0 2px 22px;

	margin:0;

	text-decoration: none;

	font-weight: bold;

	color: #FFFFFF;

	font-size: 10pt;

	background-color:#908474;

	background-image: url(/img/icn_arw_wht_v2.gif);

	background-position:6px center;

	background-repeat:no-repeat;

	border-top:1px solid #D4CCBF;

}

#acc_menu a.acc_handle:first-child {

	border-top:none;

}

#acc_menu a.selected {

	background-image: url(/img/icn_arw_dwn_wht.gif);

	background-position:5px center;

	background-repeat:no-repeat;

}



.filterStatus {

	font-weight:normal;

}

.filter_cb_container {

	background-color:#FFFFFF;

}

ul.ul_no_bul {

	list-style-type:none;

	list-style-image:none;

}

div.cb_div {

	border:1px solid #B0A696;

	margin:10px 0;

	padding:4px;

}

div.helpdiv {

	height:400px;

	overflow: auto;

}

.hr {

	clear:both;

}

table.optSelTable {

	background-color:#FFFFFF;

}

.dl_inline {

	margin-bottom:8px;

}

.dl_inline dt, .dl_inline dd {

	display:inline;

}

.hidden {

	display:none;

}

.shown {

	display:block;

}

div.divFloatLeft{float:left;display:inline;}



.mod th ul li input.arrowbakmini, .pop th ul li input.arrowbakmini, .mod th ul li button.arrowbakmini, pop th ul li button.arrowbakmini, .mod th ul li a.arrowbakmini, .pop th ul li a.arrowbakmini {background-image:url(/img/icn_back_arrow_white.gif);}



/* Removed ztr9cnb not sure why, when, and who, added */

/*div.modFlex {margin:0 0 10px;} */

