/* ie.css -- For Complex Text Layout languages - right to left */
/* last updated: Jul 27 2010 TS */

#main{float:right; direction:rtl !important;}
#mainSupport{float:right}
#main td.indent{padding-right:10px;} 
#main dt.indent, #main dd.indent{padding-right:15px;}

body{font-family:Arial,sans-serif;font-size:10pt;direction: rtl}
table,td,th,a{font-family:Arial,sans-serif;font-size:10pt;direction: rtl}
ol{padding-right:0px;margin-right:30px}
ul{margin-right:24px;padding-right:0px}
input,select, textarea {direction: rtl;font-family:Arial,sans-serif;font-size:10pt}
form dl {text-align:right}
form div dd {text-align:right}
div p{padding:0px 5px;margin:0px 0px 5px 0px}

.marginHome {text-align:right;} 
.marginEnd {text-align:left;} 
div.bnrGtr{right:0px; left:inherit;}
div.bnrBrand{right:10px; left:inherit;}
div.bnrGtr2 {right:170px; left:inherit;}
div.navHeader {float:right; }
.bnrGtr2 h1{margin:10px 10px 0px 0px;}
div.navLogin, div.navSearch {float:left;}
div.nav1GloBnr {right:170px; left:inherit;}
* html div.nav1GloBnr {position:absolute;}
* html #ccGloBnr #nav1 {height: 1%; position:relative;}
#ccGloBnr #nav1 ul, #ccGloBnr #nav1 li {float:right; margin:0px 0px 0px 3px;}
#ccGloBnr #nav1 li.tab-on, #ccGloBnr #nav1 li.tab-off {margin:0px 0px 0px 3px;}
div.navLogin dd input{padding:1px 5px 1px 1px;}
div.navSearch .btn_a {background-image:url(/img/icn_arw_brn_bak.gif);}
* html div.navSearch .btn_a {padding:1px 4px 2px 3px;}	
		
#ccGloBnr div.nav2GloBnr {right:160px; left:inherit;}
* html #ccGloBnr #nav2 {height: 1%; position:relative;}
#ccGloBnr #nav2 ul, #ccGloBnr #nav2 li{float:right;}
#ccGloBnr #nav2 .tab-on a{padding:4px 10px 4px 30px;}
#ccGloBnr #nav2 .tab-off a{padding:4px 10px 4px 30px;}
* html #ccGloBnr #nav2 .tab-on a{padding:4px 30px 4px 10px;}
* html #ccGloBnr #nav2 .tab-off a{padding:4px 30px 4px 10px;}
#ccGloBnr #nav3 {}
#ccGloBnr #nav3 li.tab-home {background-image:url(/img/icn_arw_grn_bak.gif); background-position:center right; padding: 0px 10px 0px 3px;}

#logon_btn {float:left !important;}
		.hovHelpBrw input.btn_a {background-image:url(/img/icn_arw_bak_wht.gif);background-position:left center;padding-left:11px;padding-right:5px;}

		.hovHelpBrw a.btnlnkL{display:block}
		
		.hovHelpBrw .arrowmini {background-image:url(/img/icn_arrow_blu_bak.gif);}
					
#ccGloFt div.nav1 {float:right;}
#ccGloFt div.nav2 {float:right;}
#ccGloFt div.nav1 dd.indent {padding-left:0px; padding-right:10px;}
#ccGloBdy {vertical-align:top;right:0px; left:inherit}
#ccGtrMod {vertical-align:top;float:right;top:0px; right:0px; left:inherit;} 
#ccCntMod {vertical-align:top;float:right;padding:0px 10px 10px 0px;}
.ccGloBdyGtr1 {vertical-align:top;float:right;}
div.modFixed6col {margin:10px 10px 10px 0;}
.modQikLnks .lstArrow li {background-image:url(/img/icn_arrow_blue_lst.gif);}

/*#modFlashMsg{float:right; margin:10px 10px 0px 0px;top:0px; right:0px;left:inherit}
#modFlashNews{float:right; margin:0px; top:0px; right:0px; left:inherit}*/
#modFlashMsg{margin:0 10px 0 0; }
#modFlashNews{margin:0 10px 0 0; } 

#ccGloBdy div.modHead h3{padding-right:0px; float:right;}
#ccGloBdy div.modContent dl{padding-right:5px; padding-left:5px}
#ccGloBdy div.modContent ul{padding:0px 5px 10px 0px;}		
#ccGloBdy button.btn{padding:1px 5px 1px 2px}
* html #ccGloBdy button.btn{padding:0px 8px 0px 5px;}

/* C-CLAMP STYLES START */
.ccbambg1{padding-right:14px}
/* Sec Nav */
#ccsnlinks{left:auto;right:10px}
#ccsnsrch{right:auto;left:10px}
#ccsnsrch .btn {font-size:9pt !important}
/* end */
.ccstamali1{text-align:left;}
.ccusbmali1{text-align:left;}
.ccsnmnavlv2{font-size:9pt;margin-right:5px;padding:0px 11px 0px 5px;background-position:top right;}
.ccsnmnavlv2sel{font-size:9pt;margin-right:5px;padding:0px 11px 0px 5px;background-position: top right;}
.ccsnmnavlv3{font-size:9pt;margin-right:13px;padding:0px 11px 0px 5px;background-position:top right;}
.ccsnmnavlv3sel{font-size:9pt;margin-right:13px;padding:0px 11px 0px 5px;background-position:top right;}
.ccsnmnavlv4{font-size:9pt;margin-right:20px;padding:0px 11px 0px 5px;background-position:top right;}
.ccsnmnavlv4sel{font-size:9pt;margin-right:20px;padding:0px 11px 0px 5px;background-position:top right;}
.ccsnmnavlv5{font-size:9pt;margin-right:26px;padding:0px 11px 0px 5px;background-position:top right;}
.ccsnmnavlv5sel{font-size:9pt;margin-right:26px;padding:0px 11px 0px 5px;background-position:top right;}
#cssnav{direction:rtl;/*border-left:1px solid #ffd124;*/border-right:0px;}
/* rollover menu */
.ccpnmenu a{direction:rtl;text-align:right}
/* END C-CLAMP STYLES */
.spacer-bullet{padding-left:0px;padding-right:8px;}
.arrow-blue{padding-left:0px;padding-right:10px;background-image:url(/img/icn_arrow_blue_rtl.gif);background-position: 100% 2px;}
.arrow-green{padding-left:0px;padding-right:10px;background-image:url(/img/icn_arrow_033_rtl.gif);background-position: 100% 2px;}
.backarrow-blue{padding-left:0px;padding-right:10px;background-image:url(/img/icn_back_arrow_rtl.gif);background-position: 100% 5px;}
.treeclosed-blue{padding-left:0px;padding-right:11px;background-image:url(/img/icn_arrow_blue_nav_rtl.gif);background-position: 100% 5px;}
.arrow-blue-nav{padding-left:0px;padding-right:11px;background-image:url(/img/icn_arrow_blue_nav_rtl.gif);background-position: 100% 5px;}
.arrow-brown-nav{padding-left:0px;padding-right:11px;background-image:url(/img/icn_arrow_brown_nav_rtl.gif);background-position: 100% 5px;}
.chevron-blue{padding-left:0px;padding-right:8px;background-image:url(/img/icn_chevron1_blue_rtl.gif);background-position: 100% 5px;}
.chevron1-blue{margin-right:13px; padding-right:8px;padding-left:5px;background-image:url(/img/icn_chevron1_blue_rtl.gif);background-position: 100% 5px;color:#663300;font-weight:bold;}
.chevron1-blue a{color:#36C;font-weight:normal;}
.chevron2-blue{margin-right:20px; padding-right:8px;padding-left:5px;background-image:url(/img/icn_chevron2_blue_rtl.gif);background-position: 100% 5px;color:#663300;font-weight:bold;}
.chevron2-blue a{color:#3366CC;font-weight:normal;}
.chevron3-blue{margin-right:27px; padding-right: 8px;padding-left:5px;background-image: url(/img/icn_chevron3_blue_rtl.gif);background-position: 100% 5px;color:#663300;font-weight:bold;}
.chevron3-blue a{color:#3366CC;font-weight:normal;}
.chevron1-brown{margin-right:13px; padding-right: 8px;padding-left:5px;background-image: url(/img/icn_chevron1_brown_rtl.gif);background-position: 100% 5px;font-weight:bold;}
.chevron1-brown a{color:#663300;}
.chevron2-brown{margin-right:20px; padding-right: 8px;padding-left:5px;background-image: url(/img/icn_chevron2_brown_rtl.gif);background-position: 100% 5px;font-weight:bold;}
.chevron2-brown a{color:#663300;}
.chevron3-brown{margin-right:27px; padding-right: 8px;padding-left:5px;background-image: url(/img/icn_chevron3_brown_rtl.gif);background-position: 100% 5px;font-weight:bold;}
.chevron3-brown a {color:#663300;}
.popuppage-blue{border: 0px;width: 12px;height: 9px;display: inline;padding: 0px;margin: 0px;background-image: url(/img/icn_popup_blue_rtl.gif);background-position: top left;}
.popuppage-green{border: 0px;width: 12px;height: 9px;display: inline;padding: 0px;margin: 0px;background-image: url(/img/icn_popup_green_rtl.gif);background-position: top left;}
.btn-reorder{border: 0px;width: 13px;height: 12px;display: inline;padding: 0px;margin: 0px;background-image: url(/img/btn_reorder_mini_rtl.gif);background-position: top right;}
.btn-exec{border: 0px;width: 16px;height: 12px;display: inline;padding: 0px;margin: 0px;background-image: url(/img/inf_icn_exc_arrow_blue_rtl.gif);background-position: top right;}
input.btn_go{background-position:-1px;}
* html input.btn_go{background-position:-2px;}
.arrowmini{background-image: url(/img/icn_back_arrow.gif);}
/*applications 01 - light brown header, grey form, white body*/
.app01lastcol{right:auto;left:10px}
.app01footer{padding-left:0px;padding-right:20px;text-align:left}
/*end*/
.popspacepad{padding-left:10px;padding-right:10px}
.supmodHeadpad{padding-left:5px;padding-right:10px}
.modarrowlv2pad{padding-left:3px;padding-right:18px;text-indent:-11px}
.modarrowpad{padding-left:2px;padding-right:11px;text-indent:-11px}
.modIndent{padding-right:10px;text-indent:-13px}
.modpadanchor{padding-right:7px;text-indent:-10px;padding-left:5px}
.modpadarrow{padding-left:5px;padding-right:10px}
.modpadbullet{padding-right:6px;padding-left:5px}
.modulepadtext{padding-left:5px;padding-right:10px}
.modulepadtexthead{padding-left:5px;padding-right:10px}
.mod-bar,.pi-utl-track-button-bg{text-align:left}
.mod-hlp {text-align:left}
.mod-head-clr{text-align:right}
.mod-head-hlp{text-align:left}
.msg-clr-head{padding:5px  2px  5px  0px}
.msg-clr-body{padding:12px  10px 12px 8px}
.blackboldmod{padding-right:10px}
.blackmod{padding-right:10px}
#tabHeader ul li{margin:0px 0px 0px 4px;padding:4px 5px 5px 6px;float:right;}
.col-Left{float:right}
.col-Right{float:left}
.col-Left table,.col-Right table{padding: 0px 0px 0px 5px}
.show_hide{padding:0px 10px 0px 0px}
.edit a,.search a{padding-right:3px}
.col1-3{float:right}
dd.col2-2{float:right;padding-right:0;}
dd.col2-3{float:right;padding-right:0;}
dd.col2{float:right;padding-right:0;}
dd.col3-3{float:right;padding-right:0;}
.qv th{text-align:right;border-left:thin #FFFFFF solid;}
div.qvm-out-hSm dt{float:right;}
div.qvm-out-hSm dd{margin-right:195px;}
div.qvm-out-h dt{float:right;}
div.qvm-out-h dd{margin-right:270px;}
.pi-msg2-pad{padding-left:5px;padding-right:10px}
.pi-mA6-c-1{padding-left:8px;font-size:9pt;}
.pi-mA6-c-2{padding-left:8px;}
.pi-mA6-c-3{padding-left:8px;font-size:9pt;}
.pi-mA6-c-4{padding-left:8px;font-size:9pt;}
.pi-nav-lv1{padding-right:8px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv1-sel{padding-right:8px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv2{padding-right:16px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv2-sel{padding-right:16px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv3{padding-right:24px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv3-sel{padding-right:24px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv4{padding-right:32px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv4-sel{padding-right:32px;padding-left:5px;text-indent:-14px;} 
.pi-nav-lv5{padding-right:40px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv5-sel{padding-right:40px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv6{padding-right:48px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv6-sel{padding-right:48px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv7{padding-right:56px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv7-sel{padding-right:56px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv8{padding-right:64px;padding-left:5px;text-indent:-14px;}
.pi-nav-lv8-sel{padding-right:64px;padding-left:5px;text-indent:-14px;}
.pi-m-txt-title{padding-right:10px;padding-left:10px;}
.pi-m-txt-title-link{text-align:left;}
.pi-m-button{text-align:left;}
.pi-m-pad-arrow{text-indent:-13px;padding-left:5px;padding-right:10px;}
.pi-r1-line{padding-left:10px;padding-right:11px;}
.pi-r1-pad{padding-left:11px;padding-right:10px;}
.pi-mB1-t{padding-left:5px;padding-right:10px;}
.areanavpad{padding-right:22px;padding-left:3px;text-indent:-14px;}
.butbaralign{text-align:left;}
.modpadbullet3{padding-left:5px;text-indent:-14px;padding-right:10px;}
.navlv2brown{padding-right:16px;padding-left:5px;text-indent:-14px;}
.navlv2{padding-right:2px;padding-left:5px}
.navlv3brown{padding-right:24px;padding-left:5px;text-indent:-11px;}
.navlv3{padding-right:13px;padding-left:5px}
.navlv4brown{padding-right:31px;padding-left:5px;text-indent:-11px;}
.navlv4{padding-right:31px;padding-left:5px;text-indent:-11px;}
.navlv5brown{padding-right:38px;padding-left:5px;text-indent:-11px;}
.navlv5{padding-right:38px;padding-left:5px;text-indent:-11px;}
.svcdescpad	div{padding-left:5px;padding-right:12px;text-indent:-12px;}
.tab-on{padding:4px 5px 4px 6px;}
.tab-off{padding:4px 5px 4px 6px;}
.sec-pad-small{padding:5px 0px 5px 5px;}
.sec-last-col{text-align:left}
.revalign {float:left;}
.fldPad{padding:0px 0px 10px 30px;}
.stepOne{background:#D4CCBF url(/img/icn_step_one.gif) right center no-repeat;}
.stepTwo{background:#D4CCBF url(/img/icn_step_two.gif) right center no-repeat;}
.stepThree{background:#D4CCBF url(/img/icn_step_three.gif) right center no-repeat;}
.stepFour{background:#D4CCBF url(/img/icn_step_four.gif) right center no-repeat;}
.stepFive{background:#D4CCBF url(/img/icn_step_five.gif) right center no-repeat;}
.stepSix{background:#D4CCBF url(/img/icn_step_six.gif) right center no-repeat;}
.stepSeven{background:#D4CCBF url(/img/icn_step_seven.gif) right center no-repeat;}
.stepEight{background:#D4CCBF url(/img/icn_step_eight.gif) right center no-repeat;}
.stepNine{background:#D4CCBF url(/img/icn_step_nine.gif) right center no-repeat;}
.stepTen{background:#D4CCBF url(/img/icn_step_ten.gif) right center no-repeat;}
.det-pad{padding:0px  0px  3px  5px;}


#support{float:right;margin-right:10px}
#tabsupport{float:right; margin-top:72px;margin-right:10px} 
* html #subTab {list-style-type: none; margin: 0px; padding: 0px; height: 1%; position:relative; }
		#subTab ul, #subTab li { float: right; border: 1px solid #908474; margin: 0px 0px 0px 3px; padding: 4px 5px 5px 6px; list-style-type: none; display: inline; }
			*#subTab li.tab-on { border-bottom: 1px solid #EBEBE6; position:relative; }
			*#subTab li.tab-off { border-bottom: none; position:relative; }		
	.mod th {text-align: right; padding: 5px 0px;}
	.mod th h2 { padding-left: 0px; padding-right: 8px; display:inline; float: right; margin:0px; font-weight: bold;}
	.mod th ul li  { display:inline; float:left; list-style: none; margin: 0px; padding-left: 0px; padding-right: 13px; background-image: none; font-family: Arial, sans-serif; font-weight: normal; font-size: 10pt;} 
	.tab th { text-align: right; padding: 13px 0px 5px 0px;}
	.tab th h2 { padding-left: 0px; padding-right: 8px; display:inline; float: right; margin:0px; color: #663300; font-weight: bold;}
	.tab th ul li { display:inline; float:left; list-style: none; margin: 0px; padding-left: 0px; padding-right: 13px; background-image: none; font-weight: normal; font-family: Arial, sans-serif; font-size:10pt; }

.head-colFull{padding-left:10px;}

/* Button Containers designed for two widths modules. */
td.btn-bar { text-align: right; background-color: #D4CCBF; border-top: 1px solid #fff;}
	td.btn-bar div.btn-colFull { text-align: left; }
	td.btn-bar div.btn-col4 { text-align: left; width: 565px;} /* lock button bar when larger than 4 column */
/* DATA OUTPUT */
/* Primary left & right column <DIV> classes */
div.colL { float:right; width: 271px; }
div.colR { float:left; width: 271px; }
/* Data Input/Output Classes */
.flexFirst { float: right; padding-right: 0px; padding-left: 5px; clear: both; margin: 0px; }
.flexAfter { float: right; padding-right: 0px; padding-left: 5px; margin: 0px; white-space: nowrap; }
	.outHozFlex dt { clear: both; float: right; display: block; padding-right: 0px; padding-left: 10px; }
	.outHozFlex dd { margin-right: 10px; padding-bottom: 0px; }
	.outHozFixed1 dt { width:170px; float: right; clear: both; }
	.outHozFixed1 dd { width:325px; float: right; margin-left: 10px; padding-bottom: 0px; }
		* html .outHozFixed1 dt { width:170px; clear: both; float: right;  }
		* html .outHozFixed1 dd { width:325px; float: none; padding-left: 0px; padding-right:7px; }
	.outHozFixed2 dt { width:200px; float: right; clear: both; }
	.outHozFixed2 dd { float: right; margin-left: 10px; padding-bottom: 0px; }
		* html .outHozFixed2 dt { width:200px; clear: both; float: right; }
		* html .outHozFixed2 dd { width:295px; float: none; padding-left: 0px; padding-right: 7px; }
	.outHozFixed1_2col dt { width:120px; clear: both; float: right; }
	.outHozFixed1_2col dd { width:120px; float: right; margin-right: 5px; padding-bottom: 0px; }
		* html .outHozFixed1_2col dt { width:120px; clear: both; float: right; }
		* html .outHozFixed1_2col dd { width:120px; float: none; padding-left: 0px; padding-right: 3px; }
	.outHozLedger dt { width: 400px; float: right; display: block;  margin-bottom: 0px; clear: both; }
	.outHozLedger dd { width: 140px; float: right; text-align: left; padding-bottom: 0px;}
	.outHozLedger dd.line { width: 140px; text-align: left; border-bottom: 1px dashed #666666; padding-bottom: 0px; margin: 0px 400px 0px 0px; }
		* html .outHozLedger dt { width: 400px; float: right; margin-bottom: 0px; clear: both; }
		* html .outHozLedger dd { width: 140px; float: none; text-align: left; padding-bottom: 0px; padding-right: 0px; padding-left: 3px; }

div.stepModColL { float:right; width: 270px; padding-left: 0px; padding-right: 5px;}
div.stepModColR {float:left; width: 270px; padding-right: 0px; padding-left: 7px;}

#step-1 .stepModHead {background-position: right center}
#step-2 .stepModHead {background-position: right center}
#step-3 .stepModHead {background-position: right center}
#step-4 .stepModHead {background-position: right center}
#step-5 .stepModHead {background-position: right center}
#step-6 .stepModHead {background-position: right center}
#step-7 .stepModHead {background-position: right center}
#step-8 .stepModHead {background-position: right center}
#step-9 .stepModHead {background-position: right center}
#step-10 .stepModHead {background-position: right center}

	div.stepModHead h3 { padding-left: 0px; padding-right: 25px; display: inline; float: right; margin: 0px; color: #60513A; font-weight: bold;}
	div.stepModHead h3.nostep { padding-left: 0px; padding-right: 5px; display: inline; float: right; margin: 0px; color: #60513A; font-weight: bold;}
	div.stepModHead ul li { padding-left: 0px; padding-right: 8px; display: inline; float:left; list-style-type: none; margin: 0px; font-weight: normal;}
/* STEP MODULE CONTENT */
	div.stepModContent dl { padding-left: 0px; padding-right: 5px; }
/* STANDARD MODULE */
/* MODULE BUILDS <DIV> */
div.modFixed4col { width: 554px; margin: 0px 5px 10px 5px; display: block;}
div.modFixed2col { width: 271px; margin-bottom: 10px; display: block;}
/* MODULE HEADERS */
/* Flexible header != 4 column */
div.modHead { margin: 0px; padding: 0px 0px 1px 7px;}
	div.modHead h3 { padding: 0px 5px; display: inline; float: right; margin: 0px; color: #663300; font-weight: bold; }
	div.modHead ul{display:inline;}
	div.modHead ul li { padding-left: 0px; padding-right: 8px; display: inline; float:left; list-style-type: none; margin: 0px; background-image: none;}
/* MODULE CONTENT */
	div.modContent p { padding: 0px 0px 5px 5px;}
	div.modContent dl { padding-left: 0px; padding-right: 0px;}
/* PRINTER FRIENDLY MODULES */
div.pop{ margin: 10px; }
	.popHead td.close { padding-bottom: 3px; vertical-align: top; text-align: left; }
	.note td.close { margin-top: 10px; padding: 0px; text-align:left; }
/* SUPPORT MODULES */
table.note td { background-color: #FFFFFF; padding: 5px; }
/* MESSAGE BUILD */
	.modMsg h3 { padding: 8px 10px 0px 8px; margin: 0px; font-size: 10pt; font-weight: bold; } 
	div.modMsgBase dl { margin: 0px; padding-left: 0px; padding-right: 5px; } 
	div.modMsgBase table { margin: 0px; padding-left: 0px; padding-right: 3px; } 
/* Terms and Conditions Scrolling Window*/
		#iWindow p {text-align:right;}
/* LIST ITEMS */
/* ARROW LIST */
ul.lstArrow { padding: 0px; margin-right: 1px; list-style-image: none; list-style-position:outside; list-style-type: none; }
	.lstArrow li { background-position: bottom right; padding: 0px 12px 0px 0px; margin: 0px; background-image: url(/img/icn_arrow_blue_lst.gif); background-repeat:no-repeat }
	.lstArrow li.back { background-position: top right; padding: 0px 12px 0px 0px; margin: 0px; background-image: url(/img/icn_arrow_blue_lst.gif); background-repeat:no-repeat }
/* NO PAD NO IMAGE LIST  */		
ul.lstNoPad { padding-left: 0px; padding-right: 0px; margin-right: 0px; list-style-image: none; list-style-position:outside; list-style-type: none; background-image:none; }
/* TABLES */
table.dataTable th { text-align: right; }
	.dataTable th { background-color: #D4CCBF; text-align: right; padding: 5px; }
	.dataTable h3 { display:inline; float: right; margin:0px; color: #ffffff; font-size: 10pt; font-weight: bold;}
	.dataTable ul li  { padding-left: 0px; padding-right: 8px; display: inline; float:left; list-style-type: none; margin: 0px; background-image: none;} 	
tr.title td { background-color:#908474; padding-left: 7px; }
table.dataTable td.updated {align:right}
div.modFlex table.dataTable th {text-align:right}

/* PROGRESS BAR */
	#progress table{ width: 100%; padding: 5px 10px 5px 0px; margin: 0px; color: #B0A696; background-color: #FFFFFF; }
		#progress td { text-align:right; } /*font-size: 10pt;*/
		#progress td.past { padding-right: 0px; padding-left: 15px; vertical-align:top; padding-top: 10px; background-image: url(/img/xln_status_past_selected_v2.gif); background-position:right top; background-repeat:no-repeat; }
		#progress td.on { padding-right: 0px; padding-left: 15px; vertical-align:top; padding-top: 10px; background-image: url(/img/xln_status_selected_v2.gif); background-position:right top; background-repeat:no-repeat; }
		#progress td.off { padding-right: 0px; padding-left: 15px; vertical-align:top; padding-top: 10px; background-image: url(/img/xln_status_unselected_v2.gif); background-position:right top; background-repeat:no-repeat; }
		#progress td.last { padding-right: 0px; padding-left: 5px; vertical-align:top; padding-top: 10px; background-image: url(/img/xln_status_unselected.gif); background-position:right top; background-repeat:no-repeat; font-weight: bold; }
		#progress td.lastOn { padding-right: 0px; padding-left: 5px; vertical-align:top; padding-top: 10px; background-image: url(/img/xln_status_selected.gif); background-position:right top; background-repeat:no-repeat; color: #351C15; font-weight: bold; }
/* BUTTONS */
input.btn_a
{
	font-family: verdana, arial, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #6699FF;
	font-size: .95em;
	border-top: 1px solid #99CCFF;
	border-right: 1px solid #6666CC;
	border-bottom: 1px solid #6666CC;
	border-left: 1px solid #99CCFF;
	background-image: url(/img/btn_bkg_a.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 1px 4px 2px 18px;
}
input.btn_bak_a {font-family: verdana, arial, sans-serif; color: #FFFFFF; font-weight: bold; background-color: #6699FF; font-size: .95em; 
   border-top: 1px solid #99CCFF; border-right: 1px solid #6666CC; border-bottom: 1px solid #6666CC; border-left: 1px solid #99CCFF;
	 background-image: url(/img/btn_bkg_a.gif); background-position: right; background-repeat: no-repeat; padding: 1px 15px 2px 3px; }
input.btn {color: #FFFFFF; font-weight: bold; background-color: #6699FF; font-family: verdana, arial, sans-serif; font-size: .95em; 
   border-top: 1px solid #99CCFF; border-right: 1px solid #6666CC; border-bottom: 1px solid #6666CC; border-left: 1px solid #99CCFF;
	 padding: 1px 3px 2px 3px;} 
* html input.btn_a
{
	overflow: visible;
	font-family: verdana, arial, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #6699FF;
	font-size: .75em;
	border-top: 1px solid #99CCFF;
	border-right: 1px solid #6666CC;
	border-bottom: 1px solid #6666CC;
	border-left: 1px solid #99CCFF;
	background-image: url(/img/btn_bkg_a.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 6px 1px 16px;
}
* html input.btn_bak_a {overflow: visible;
	 font-family: verdana, arial, sans-serif; color: #FFFFFF; font-weight: bold; background-color: #6699FF; font-size: .75em; 
   border-top: 1px solid #99CCFF; border-right: 1px solid  #6666CC; border-bottom: 1px solid  #6666CC; border-left: 1px solid  #99CCFF;
	 background-image: url(/img/btn_bkg_a.gif); background-position: right; background-repeat: no-repeat; padding: 2px 17px 1px 6px; }
* html input.btn {overflow: visible;
	 color: #FFFFFF; font-weight: bold; background-color: #6699FF; font-family: verdana, arial, sans-serif; font-size: .75em;
   border-top: 1px solid #99CCFF; border-right: 1px solid  #6666CC; border-bottom: 1px solid  #6666CC; border-left: 1px solid  #99CCFF;
	 padding: 2px 5px 1px 5px;} 
input.btnlnkL {font-family: Arial, sans-serif; text-decoration: underline; font-size: 1.0em;	margin: 0px; padding-right: 13px; padding-left: 0px; color: #3366CC; background-color: transparent; background-position:right center;background-repeat: no-repeat; border: none;}
input.btnlnkR{background-position:left center;padding-left:12px;padding-right:10px;}

a.btnlnkR {background-position:left center;padding-left:12px;padding-right:10px;}
/*input.btnlnk {overflow: visible;	font-family: Arial, sans-serif; text-decoration: underline; font-size: 1.0em; color: #3366CC;		padding-left:0px;padding-right:16px; margin: 0px; background-color: transparent; border: none;} */

* html input.btnlnk {overflow: visible;	font-family: Arial, sans-serif; text-decoration: underline; font-size: 1.0em; color: #3366CC;padding-left:14px;padding-right:0px; margin: 0px; background-color: transparent; background-position: right;background-repeat: no-repeat; border: none; margin: 0px; height: 16px; width:1%;} 

* html input.btnlnkL {overflow: visible;font-family: Arial, sans-serif; text-decoration: underline; font-size: 1.0em;  color: #3366CC;padding-right: 14px; padding-left: 0px; background-color: transparent; background-position: right;background-repeat: no-repeat; border: none; margin: 0px; height: 16px; width:1%;}

* html input.btnlnkR {overflow: visible;font-family: Arial, sans-serif; text-decoration: underline; font-size: 1.0em; color: #3366CC;padding-right: 0px; padding-left: 14px; background-color: transparent; background-position: left; 	background-repeat: no-repeat;	border: none;	margin: 0px; height: 16px; width:1%;}

/* User State */
.usb-border {
	border-right: thin hidden #b0a696;
	border-left: thin solid #b0a696;
	border-left-width: 1px;
}

/* remove this after font size transition */
.ccsnbmtxt1, .ccsnbmtxt1 a, .ccsnbmtxt2, .ccsnbmtxt2 a { font-family: Arial, sans-serif; }
.ccstamtxt1, .ccstamtxt2, .ccstamtxt2 a{font-family: Arial, sans-serif;}
.ccusbmtxt1, .ccusbmtxt2, .ccusbmtxt3{font-family: Arial, sans-serif;}
#cssnav {font-family: Arial, sans-serif;}
.cclccmtxt1, .cclccmtxt2, .cclccmtxt3 {font-family: Arial, sans-serif;}
.ccfmtxt1, .ccfmtxt2{font-family: Arial, sans-serif;}
.standardheader,.blueboldHead{font-size:11pt}
.blueboldHead, .supporthd1, .associatedhd1, .whitesubheadbold, .resourcesheader, .tagline{font-size:10pt}
.green{font-size:9pt;}
/* end remove */

#ccGloBdy .ccGloBdyGtr1 button.btn_a {background-image:url(/img/icn_arw_bak_wht.gif);background-position:left;padding:1px 5px 1px 11px;}
* html #ccGloBdy .ccGloBdyGtr1 button.btn_a {padding:0px 8px 0px 14px;} 

/* July 09 update */
#ccGloBdyGtr1 {vertical-align:top;float:right;}

#cntHome {float:right;}
ul.lstQuicklink, ul.lstQuicklink1 {margin-right:0;}


div.RIF_Accordion div.RIF_Panel a.RIF_Header{ background:url(/img/icn_arw_dwn_wht.gif) #008198 no-repeat 216px center;padding:7px 25px 7px 5px; }

div.RIF_Accordion div.RIF_Collapsed a.RIF_Header{ background:url(/img/icn_bak_arw_wht.gif) #008198 no-repeat 216px center;padding:7px 25px 7px 5px; }
.accordOptLnk {float:right;}
.accordBtnBar {float:left;}

#ccGloBdy input.btn_a, #ccGloBdy .ccGloBdyGtr1 input.btn_a, #ccGloFt div.nav1 input.btn_a {background-image:url(/img/icn_bak_arw_wht.gif);padding:1px 5px 2px 11px;background-position:left center;}
.newwindowicon {background-image:url(/img/icn_blu_popup_rtl.gif);}
span.btnlnkL {background-position:right center;}

/* added by Earl for RTL positioning */
.modFlexCnt { width: 540px; float: right !important;}

div.accordCnt1, div.accordCnt2 {
display:inline;
float:right;
}

label.updated {background-position:left center;padding:0px 13px;}

span.btnlnkR {background-position:left center;padding:0 6px 0 0;}

#myList li a{padding-right:12px; padding-left:0px;}

.flexFirstPad{float:right;}
.flexAfterPad{float:right;}
#CTC div.modContent {padding:5px;}

* html button.btnlnk{overflow:visible;margin:0px;width:100%;}
* html input.btn, * html button.btn, * html input.btn_a, * html button.btn_a, * html input.btn_bak_a, * html button.btn_bak_a, * html input.btnlnkR, * html input.btnlnkL, * html input.btnlnk, * html button.btnlnkR, * html button.btnlnkL, * html button.btnlnk {width:1%;}

#CTC div.RIF_Content {width:230px;}
#CTC .marginEnd {width:215px;}

div.modQikLnks.modHead ul{margin-left:0px;}
#ccGloBdyGtr1 dl, #ccGloBdy dl {padding-right:5px;}

#ccGloBdyGtr1 .modQikLnks div.modContent {padding-right:5px;}

#addLnks div.stepModContent dl, #qikLnks div.stepModContent dl {margin:0;
padding-left:0px; padding-right:5px;}

.sortSel, #myList li:hover {background:#FFFFFF url(/img/icn_arw_slider_drk_blu.gif) no-repeat scroll right center;border:1px dashed;}

#ccGloBdyGtr1 .modQikLnks div.modContent {padding-right:5px;}

#modal div.stepModColR {margin-bottom:5px;padding-right:0px; padding-left:5px;}

* html #modal input.btn_a
{
	overflow: visible;
	font-family: verdana, arial, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #008198;
	font-size: .95em;
	border-top: 1px solid #008198;
	border-right: 1px solid #008198;
	border-bottom: 1px solid #008198;
	border-left: 1px solid #008198;
	background-image: url(/img/icn_bak_arw_wht.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding: 2px 6px 1px 16px;
}

#modal input.btn_a
{
	background-position: left center;
	background-image: url(/img/icn_bak_arw_wht.gif);
	padding: 1px 5px 2px 11px;
	background-color: #008198;
	background-repeat: no-repeat;
	border: medium none;
	color: #FFFFFF;
	font-family: arial,sans-serif;
	font-size: 0.95em;
	font-weight: bold;
}

* html #modal input.btn_a{width:1%;}

* html #modal input.btn
{
	overflow: visible;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #008198;
	font-family: verdana, arial, sans-serif;
	font-size: .95em;
	border-top: 1px solid #008198;
	border-right: 1px solid #008198;
	border-bottom: 1px solid #008198;
	border-left: 1px solid #008198;
	padding: 2px 5px 1px 5px;
} 

#Supplies div.modContent{padding:5px;}

/* ------------------------ --- ----------------------- */
/* ---------------------- C-Clamp --------------------- */
/* --------------------- REDESIGN --------------------- */

	/* Go button used with drop list */
	.arrowBtnMini {background-position:2px 2px;background-image:url(/img/icn_arw_bak_wht.gif);border-width:1px;margin-right:2px;}
	
	
	.cclampFooter ol{padding-right:0px;margin-right:0px}
	.cclampFooter ul{margin-right:0px;padding-right:0px}

/*------------*/		
/*---Footer---*/
/*------------*/

.cclampFooter .button {margin-right:0; }


	.cclampFooter .appLvlPlain .appHead dl { float:right;}
		.cclampFooter .appLvlPlain .appHead dt {padding-right:0; padding-left:10px;  }

			.cclampFooter .secHead h4 {padding-left:0;}
	
					* html .cclampFooter dl.inline {float:none;}
					* html .cclampFooter dl.inline dt {float:none;}
					* html .cclampFooter dl.inline dd {float:nonet;}
					
					html .cclampFooter dl.inline {float:none;}
					html .cclampFooter dl.inline dt {float:none;}
					html .cclampFooter dl.inline dd {float:none;}

	
	.cclampFooter dl.inline dd {margin-right:0; margin-left:15px;}

	.cclampFooter .btnlnkL {padding-right:20px; padding-left:0px;}
	* html .cclampFooter .btnlnkL {padding-right:0px; padding-left:20px;}
	*+html .cclampFooter .btnlnkL {padding-right:0px; padding-left:20px;}
	
	.cclampFooter .contactMini {background-image:url(/img/icon_user_16.gif); background-position:right 0}
		.cclampFooter .mailMini {background-image:url(/img/icon_mail_16.gif); background-position:right 0}
		
/* ------------------------ --- ----------------------- */
/* ---------------------- Modal ----------------------- */
/* ------------------------ 001 ----------------------- */


/* ------------------------ --- ----------------------- */
/* ----------------- Application Main ----------------- */
/* ------------------------ 002 ----------------------- */
	
	/*Default Alignment*/
	/*-----------------*/
	.alignEnd{text-align:left !important}
				.alignBegin{text-align:right !important}
	
	/*Default Spacing*/
	/*---------------*/
	.marginBegin{margin-right:0}
		#main .appLvl .marginEnd {text-align:right;}
		.appBody .marginBegin {margin-right:0;}
	.marginEnd{margin-left:0}
				
				
	
	/*Default Show/Hide*/
	/*-----------------*/		
	
	
	/*Default Headers*/
	/*---------------*/


	/*Default Labels*/
	/*---------------*/

	
	
	/*Default List*/
	/*------------*/
	ol{list-style-position:outside;list-style-type:decimal;margin:0 20px 0 0}
	
	/*Default Form Fields*/
	/*-------------------*/



	/*Default Special Text*/
	/*--------------------*/
	
	
	/*Default Links*/
	/*-------------*/
	
			/*Header Link*/
			/*-----------*/
	
			/*UPS Service Link*/
			/*----------------*/


			/*Label Link*/
			/*----------*/
			
			/*Special Text Link*/
			/*----------------*/
			
	/*Lines*/	
	/*-----*/

/* ------------------------ --- ----------------------- */
/* -------------------- Columns  ---------------------- */
/* ------------------------ 003 ----------------------- */

/*Standard Column Grid*/
/*--------------------*/
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col13,
.col14,
.col15,
.col16,
.col17,
.col18,
.col19,
.col20,
.col21,
.col22,
.col23,
.col24,
.colsuper{float:right}


/*Section Column Grid*/ 
/*-------------------*/ 
.seccol1,
.seccol2,
.seccol3,
.seccol4,
.seccol5,
.seccol6,
.seccol7,
.seccol8,
.seccol9,
.seccol10,
.seccol11,
.seccol12,
.seccol13,
.seccol14,
.seccol15,
.seccol16,
.seccol17,
.seccol18,
.seccol19,
.seccol20,
.seccol21,
.seccol22,
.seccol23,
.seccol24{float:right;margin-right:10px;margin-left:0}



		/*Section Column Grid Inside Application Level Plain*/ 
		/*--------------------------------------------------*/ 
		
		/*Section Column Grid Inside Application Level Plain*/ 
		/*--------------------------------------------------*/ 
		
		/*Section Column Grid Inside Application Level Plain*/
		/*--------------------------------------------------*/ 
		
		
/*Sub Section Column Grid*/
/*-----------------------*/
.subcol1,
.subcol2,
.subcol3,
.subcol4,
.subcol5,
.subcol6,
.subcol7,
.subcol8,
.subcol9,
.subcol10,
.subcol11,
.subcol12,
.subcol13,
.subcol14,
.subcol15,
.subcol16,
.subcol17,
.subcol18,
.subcol19,
.subcol20,
.subcol21,
.subcol22,
.subcol23,
.subcol24{float:right;margin-right:10px;margin-left:0px}

/*Select List Max Width Inside Section Column*/
/*----------------------------------------------------*/ 


/*Select List Max Width Inside Sub Section Column*/
/*-----------------------------------------------*/ 

/*Flexable Columns*/
/*----------------*/
div.floatBegin{float:right;margin-left:20px;margin-right:0}
div.floatEnd{float:left;margin-right:20px;margin-left:0}

	/*Gadient*/
	/*-------*/


/* ------------------------ --- ----------------------- */
/* --------------- Application Sub Tabs --------------- */
/* ------------------------ 004 ----------------------- */
.subTab li{float:right;margin:0 0 0 3px;padding:4px 5px 5px 6px}


/* ------------------------ --- ------------------------ */
/* ------------------- Progress Bar -------------------- */
/* ------------------------ 005 ------------------------ */ 
.progress table{padding:5px 10px 5px 0px}

.progress td.past{padding-left:15px;padding-right:0;background-position:right top;background-repeat:no-repeat}
.progress td.on{padding-left:15px;padding-right:0;background-position:right top;background-repeat:no-repeat}
.progress td.off{padding-left:15px;padding-right:0;background-position:right top;background-repeat:no-repeat}
.progress td.last{padding-left:5px;padding-right:0;background-position:right top;background-repeat:no-repeat}
.progress td.lastOn{padding-left:5px;padding-right:0;background-position:right top;background-repeat:no-repeat}

.progressBar {display:block !important}

/* ------------------------ --- ------------------------ */
/* --------------- Package Progress Bar ---------------- */
/* ------------------------ 006 ------------------------ */ 

/*list*/
.steps5 li.start {width:13%;}
.steps5 li {width:21%;}
.steps4 li.start {width:18%;}
.steps4 li {width:27%;}
.steps3 li.start {width:25%;}
.steps3 li {width:35%;}
.steps2 li.start {width:40%;}
.steps2 li {width:55%;}		

/*list*/
.lstProgress li {float:right;}

.lstProgress .number { background-position:75% 40%; padding-left:10px; padding-right:70px;}
		.lstProgress .start .number {padding-right:0 !important; padding-left:10px !important;}
		
			.steps6 .number {padding-left:10px; padding-right:38px;background-position:5% 40%; }
		
.lstProgress .number {background-image:url(/img/icon_arrow_fwd1_left_onecolor_c73_32.png);}
	.lstProgress .next .number {background-image:url(/img/icon_arrow_fwd1_left_onecolor_c21_32.png);}
		



/* ------------------------ --- ----------------------- */
/* ------------ Application Lvl - Module -------------- */
/* ------------------------ 007 ----------------------- */

	/*-------------------------------*/		
	/*---Application Modules Types*---/
	/*-------------------------------*/	
	
			/*UPS Default*/
			/*-----------*/


			/*Mod*/
			/*---*/

			
			/*Tab*/
			/*---*/
			
			
			/*Plain*/
			/*-----*/
			
			
			/*Gradient*/
			/*--------*/
			
					/*Lines*/
					/*-----*/		
					

	/* ---------------- --- ---------------- */
	/* -------- Application Header --------- */
	/* ----------------- 7A ---------------- */

			/*UPS Default*/
			/*-----------*/
						
					/*Header*/
					/*------*/
					.appHead h2{float:right;padding-right:0;padding-left:10px}
					.appHead h2{padding-right:0;padding-left:10px;float:right}
					
					/*Supprot Links*/
					/*-------------*/
					.appHead ul li{padding-right:10px;margin-left:0;float:left}
			
			/*Mod*/
			/*---*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
					
					
			/*Tab*/
			/*---*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
			
			
			/*Plain*/
			/*-----*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
			
			
			/*Gardient*/
			/*--------*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/


	/* -------------- --- --------------- */
	/* -------- Application Body -------- */
	/* ------------- 007B --------------- */
	
			/*UPS Default*/
			/*-----------*/			

			/*Mod*/
			/*---*/

			/*Tab*/
			/*---*/		
			
			/*Plain*/
			/*-----*/

			/*Gradient*/
			/*--------*/
			
			/*Support*/
			/*--------------*/
		
					/*5th Column Support Module*/ /*support links - support content*/
					/*-------------------------*/
				
					/*Call Out Message*/ /*Other website Information (Links and Content) - Below Application Module - Landing Page*/
					/*-------------------------*/

					/*Navagation Module*/ /*Within SubNav*/
					/*-------------------------*/
			

	/*paragraph*/
	/*---------*/


	/*headers*/
	/*-------*/
	
	
	/*list*/
	/*-----*/
	
	
	/*tables*/
	/*------*/
		
		
		
		
/*-- Default Modules --*/


		
/*-- Tab Modules --*/

		
/*-- Print/Pop Up White Bg Modules --*/


/*Intro Paragraph*/

/*Lines*/


/*Other*/

	/* -------------- --- ------------------ */
	/* --------- Application Footer -------- */
	/* -------------- 007B ----------------- */
	
		/*button bar*/	
		div.btnBar{text-align:left}
		
				/*button links*/
				div.btnBar .btnlnkL{margin-right:10px;margin-left:0}	
				
						/*Plain*/
						
						

/* ------------------------ --- ------------------------ */
/* ------------------ Section Modules ------------------ */
/* ------------------------ 008 ------------------------ */

		/*Step*/
		/*----*/

		/*Alternate*/
		/*---------*/

		/*Gradient*/
		/*--------*/		
		
		/*Plain*/
		/*-----*/
		
		/*Preferences*/
		/*-----------*/

		
		/*Message*/
		/*-------*/
		
					/*Lines*/
					/*-----*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/
					
								/*Lines*/
								/*-----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
					
								/*Lines*/
								/*-----*/

								
		/* Table Border Table*/
		/*-------------------*/		

							/*data table*/
							/*----------*/

		/* Table Only Table*/
		/*-----------------*/		

							/*data table*/
							/*----------*/

										/*table*/
										/*-----*/

		/* Table Scroll Window*/
		/*--------------------*/

					/*table*/
					/*-----*/



		/*Expandable*/
		/*----------*/
		

		/*Content Type */
		/*-------------*/
		
		/*link div*/
		/*--------*/
		
							
				/*header*/
				/*------*/

				
				/*body*/
				/*----*/
		
						/*links*/
						/*-----*/
						
						/*images*/
						/*------*/
		
						/*paragraph*/
						/*---------*/
		
						/*list*/
						/*----*/
		
						/*block quotes*/
						/*------------*/
		
						/*tables*/
						/*------*/
		
		
				/*footer*/
				/*------*/
				
				
		/*--- ------------------------- ---*/
		/* --- CMS Tracking Detail Msg --- */
		/*--- ------------------------- ---*/
		
		
		
		/*--- -------------------- ---*/
		/* --- CMS Message Module --- */
		/*--- -------------------- ---*/
		
		
		/*--- ---------------- ---*/
		/*--- CMS Plain Module ---*/
		/*--- ---------------- ---*/
		
		
		/*--- --------------------- ---*/
		/*--- CMS Media Only Module ---*/
		/*--- --------------------- ---*/
		
		
		/*--- -------------------- ---*/
		/*--- CMS Horzontal Module ---*/
		/*--- -------------------- ---*/
		
		
		/*--- -------------------- ---*/
		/*--- CMS Gradient Module ---*/
		/*--- -------------------- ---*/
		
				/*headers*/
				/*-------*/
				
				/*body*/
				/*----*/
				
						/*link div hover*/
						/*--------------*/
						
		
		/*--- -------------------- ---*/		
		/* ---------- LEGACY -------- */
		/*--- -------------------- ---*/
																							
											/*adobe download*/ /*v2*/
		
										
											/*value added services*/ /*v2*/
		
											
											/*search support*/ /*v3*/
		
											
											/*Table*/ /*v2*/ /*hard coded color old brown*/
		
											
											/*tracking module*/
				
				
				
	/* ------------- --- --------------- */
	/* ------- Section Header ---------- */
	/* ------------- 008A -------------- */

	/*Header*/
	/*------*/
	.secHead h3{float:right;padding-left:10px;padding-right:0}
	.secHead h4{float:right}
	
	/*Support Links*/
	/*-------------*/
	.secHead ul li{margin-left:0;margin-right:10px;float:left}
	
			/*Step*/
			/*----*/

					/* Numbers*/
					/*--------*/
					.stepNumberDiv{float:right;margin-right:0;margin-left:5px}
	
			/*Alternate*/
			/*---------*/
			
		
			/*Gradient*/
			/*--------*/
			
					/*Support Links*/
					/*-------------*/


			
			/*Plain*/
			/*-----*/


			/*Preferences*/
			/*-----------*/
			
			
			/*Message*/
			/*-------*/
			.message .secHead{padding:8px 10px 0 8px}


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
								
		
		/* Table Border Table*/
		/*-------------------*/		

							/*data table*/
							/*----------*/
							
							

		/* Table Only Table*/
		/*-----------------*/		
		
							/*data table*/
							/*----------*/

										/*table*/
										/*-----*/
	
	
		/* Table Scroll Window*/
		/*--------------------*/

					/*table*/
					/*-----*/
					
					
		/*Expandable*/
		/*----------*/

	

		
	/* ------------ --- -------------- */
	/* ------- Section Body ---------- */
	/* ------------ 008B ------------- */
	
	
			/*Default*/
			/*-------*/	
	
	
			/*Step*/
			/*----*/
			
				
			/*Alternate*/
			/*---------*/
			
		
			/*Gradient*/
			/*--------*/


			/*Plain*/
			/*-----*/

			
			/*Preferences*/
			/*-----------*/
			
			
			/*Message*/
			/*-------*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/

		
			/* Table Border Table*/
			/*-------------------*/		

								/*data table*/
								/*----------*/


			/* Table Only Table*/
			/*-----------------*/		
			
			
								/*data table*/
								/*----------*/

											/*table*/
											/*-----*/
		
		
			/* Table Scroll Window*/
			/*--------------------*/

						/*table*/
						/*-----*/
						
						
			/*Expandable*/
			/*----------*/


		
	/* ------------- --- --------------- */
	/* ------- Section Footer ---------- */
	/* ------------- 008C -------------- */
	.secFooter div.btnBar{margin-left:5px;margin-right:0}



/* ------------------------ --- ------------------------ */
/* --------- Sub Module Inside Section Modules --------- */
/* ------------------------ 009 ------------------------ */ 

		/*Step*/
		/*----*/
		
		/*Alternate*/
		/*---------*/

		/*Gradient*/
		/*--------*/
		
		/*Plain*/
		/*-----*/

					/*Sub plain*/
								/*Sub x2 plain*/

		/*Preferences*/
		/*-----------*/

		/*Message*/
		/*-------*/
					/*Sub support*/

					/*Sub message*/

					/*Sub sell*/

					/*Sub critical*/

					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/

					/* ------------------------ --- ------------------------ */
					/* ---------------- Home News Module ------------------- */
					/* --------------------- from v4 ---------------------- */


				/* new appLvl module colors - overwrite - module.css and color.css */
					.modNews .messaging img{ margin-right:10px; margin-left:0}

					/*.modNews td.messaging{ padding-right:10px; padding-left:0; }*/
					/*.modNews .mod{margin-right:10px; margin-left:0;}	*/	
					
					/* new definition list type - overwrite - module.css and color.css */
					dl.contentAccord {padding-left:0 !important; padding-right:0 !important;}
				
					.contentAccord dd img{ padding-right:0; padding-left:10px; float:right;}

					.newsControl {float:right; clear:both;}
					.newsContent {display:inline; float:left;}
					
					
					/*  From v4  */
					/*-- Application Header --*/
					
						.news .appHead h2{padding-left:10px; padding-right:0; float:right;}
						.news .appHead ul li{margin-right:10px;margin-left:0;float:left;}
					
						a.btnlnkR{padding-left:18px;padding-right:0px;}
						* html a.btnlnkR{padding-right:0px !important; padding-left:17px !important;}
						
					
					/* From v4 Button.css - added important overwrite */
					
						.triangleDownIcon,
						.collapseIcon{background-position:right -2524px}
						.newWindowIconR{background-position:0 -1946px !important}
						* html .newWindowIconR{background-position:right -1946px !important}
						.plusMini {background-position:0 -29px;}
						.minusMini {background-position:0 -61px;}
						.triangleUpIcon{background-position:right -2553px}
/* RIF Int Number */
.child-wrapper{float:right !important; padding-left:10px !important;padding-right:0 !important;}


#contactUPSmenu .secLvlPlain .secHead {padding: 2px 0 0 10px;}
#contactUPSmenu .floatBegin {margin-left:0px}
.wedgeUp, .wedgeUP {margin-right:155px}
#contactUPSmenu .floatEnd {margin-right:0px}

.lstIcon li img {padding:0 0 0 5px;}
