@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  #hcicHeading {
    font-family: $serif;
    font-weight: normal;
    font-size: 26.6px;
    color: $black_s4;
    padding: 0 14px;
  }

  #hcicTabs {
        color: $stone_40;
        border-bottom: none;
        float: none;
        width: 100%;
        padding-bottom: 0;
        list-style-type: none;

        li {
            height: 60px;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            background: $stone_40;
            position: relative;
            cursor: pointer;
            border: 1px solid $black_s1;
            margin:0;
            bottom: -1px;
            line-height: 52px;
            font-weight: normal;
            font-family: $sans;
            font-size: 14px;
            color: $black_s4;
            text-transform: uppercase;

            a {
                text-decoration: none;
                font-weight: normal;
                background-color: $white;
                border: none;
                color: $black_s4;
            }

            &.selected {
                background: $white;
                border-bottom: none;
                border-top: 5px solid;
                padding-bottom: 5px;
                z-index: 25;
                top: 5px;

                a {
                  color: $black_s4;
                }

                &:nth-child(4n+1) {
                    border-top-color: $ups_sun;
                }
                &:nth-child(4n+2) {
                    border-top-color: $ups_sky;
                }
                &:nth-child(4n+3) {
                    border-top-color: $ups_gold;
                }
                &:nth-child(4n+4) {
                    border-top-color: $ups_grass;
                }
            }
            &:not(.selected) {
                a {
                    font-family: $sans;
                    color: $black_s4;
                    background-color: $stone_40;
                }
            }
            &:last-of-type{
                border-#{$opposite-direction}: 1px solid $black_s1;
            }
        }
  }

  #hcicFileSection, #hcicContent {
    background-color: $white;
    color: $black_s4;
    p, div {
      color: $black_s4;
    }
  }

  #hcicTable {
    #hcicTh {
      background-color: $stone_s3;
      color: $black_s4;
    }

    #hcicTd1 {
      background-color: $stone_40;
    }

    td {
      color: $black_s4;
    }

    b {
      font : {
        family: $sans-bd;
        weight: normal;
      }
      color: $black_s4;
    }
  }
  .appLvl.mod.col5 {
    border: 1px solid #6e6e6e;
    margin-top: 10px;
    margin-bottom: 0;

    .appHead {
      background: #bebebe;
      padding: 10px;
    }
    .appBody {
      padding: 10px;
    }
  }
}
