---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <ul id="subTab">
            <li class="tab-off">
                <a href="repl_href">
                    Package
                </a>
            </li>
            <li class="tab-on">Freight</li>
        </ul>
        <div style="clear: both;"></div>
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
            <tr>
                <th> <div class="head-col4">
                        <h2>Your Freight Waybill has been created.</h2>
                        <div style="clear: both;"></div>
                    </div>
                </th>
            </tr>
            <tr>
                <td><!-- Begin: Section Module -->
                    
                    <div class="modMsg blu">
                        <h3>Your Freight Shipment Requires Pre-Authorization</h3>
                        <div class="modMsgBase">
                            <p>You must contact UPS-SCS for pre-authorization. Your shipment will not be scheduled for pickup or accepted at the origin service center until the authorization is completed. Please reference pickup number nnnnnnnnn.</p>
                            <ul class="lstArrow">
                                <li>
                                    <a href="repl_href">
                                        UPS Supply Chain Solutions Global Directory
                                    </a>
                                    (in English only)</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- End:  Section Module -->
                    
                    <!-- Begin: Section Module -->
                    
                    <div class="modFixed4col">
                        <div class="modContent">
                            <fieldset>
                                <legend>shipment information</legend>
                                <p>To <strong>modify</strong> or <strong>cancel</strong> this freight shipment, or to find the nearest Freight <strong>drop-off
                                    location</strong>, please use the
                                    <a href="repl_name">
                                        UPS Supply Chain Solutions Global Directory
                                    </a>
                                    to find contact and address information.</p>
                                <div class="outHozFixed2">
                                    <dl role="presentation">
                                        <dt>
                                            <label>Service:</label>
                                        </dt>
                                        <dd>[UPS Freight Service Name]</dd>
                                        <dt>
                                            <label>Guaranteed By:</label>
                                        </dt>
                                        <dd>[End of Day, weekday mm/dd/yyyy]</dd>
                                        <dt>
                                            <label>Shipment Date:</label>
                                        </dt>
                                        <dd>[weekday mm/dd/yyyy]</dd>
                                        <dt>
                                            <label>Payment Terms:</label>
                                        </dt>
                                        <dd>[prepaid]</dd>
                                        <dt>
                                            <label>Total:</label>
                                        </dt>
                                        <dd>[nn.00 USD]</dd>
                                    </dl>
                                    <dl role="presentation">
                                        <dt>
                                            <label>Pickup Confirmation:</label>
                                        </dt>
                                        <dd>000000000</dd>
                                        <dt>
                                            <label>Freight Tracking Number:</label>
                                        </dt>
                                        <dd>00000000000</dd>
                                    </dl>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End: Section Module -->
                    
                    <!-- Begin: Section Module -->
                    
                    <div id="dyn_pnl_1">
                        <!--Paperless Invoice - Enrolled-->
                        <div id="pnl_1_1">
                            <div class="modMsg blu">
                                <h3>UPS Paperless<sup>SM</sup> Invoice</h3>
                                <div class="modMsgBase">
                                    <p><strong>Note:</strong> To print copies of your paperless export forms documents, select <strong>Print My Paperless Export Forms Documentation</strong> below.</p>
                                </div>
                            </div>
                        </div>
                        <!--Paperless Invoice - Enrolled, User Does Not Complete Forms Online -->
                        <div id="pnl_1_2">
                            <div class="modMsg blu">
                                <h3>International Documents</h3>
                                <div class="modMsgBase">
                                    <p>Based on your Ship From and Ship To Address, your freight shipment may need international documents. You can access international shipping documents from the link below.</p>
                                    <ul class="lstArrow">
                                        <li>
                                            <a href="repl_href">
                                                Access International Forms
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Paperless Invoice - Non-Paperless, Paperless Available -->
                        <div id="pnl_1_3">
                            <div class="modMsg blu">
                                <h3>UPS Paperless<sup>SM</sup> Invoice</h3>
                                <div class="modMsgBase">
                                    <p>UPS Paperless<sup>SM</sup> Invoice eliminates the need for paper commercial invoices by transmitting commercial invoice data to enable clearance by Customs offices across the globe.</p>
                                    <p>
                                        <a href="repl_name">
                                            Learn More About UPS Paperless Invoice Enrollment
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- End:  Section Module -->
                    
                    <!-- Begin: Section Module -->
                    
                    <div class="stepModFixed4col">
                        <div class="stepModHead">
                            <h3 class="nostep">View/Print Freight Shipment Document(s)</h3>
                            <ul>
                                <li>
                                    <a href="javascript:repl_function('repl_href')">
                                        Help<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                    </a>
                                </li>
                            </ul>
                            <div style="clear: both;"></div>
                        </div>
                        <div id="dyn_pnl_2">
                            <!--View/Print - Non-Paperless-->
                            <div id="pnl_2_1">
                                <div class="stepModContent">
                                    <fieldset>
                                        <legend>print documents</legend>
                                        <p>Print the freight waybill shown in the second window. The waybill must be printed with a laser printer. UPS Thermal printers cannot be used. Select the View/Print button if the second window does not appear or has been closed.</p>
                                        <br>
                                        <p>Three copies of the waybill must be printed.</p>
                                        <ol class="indent">
                                            <li>One copy must be signed and given to the pickup driver.</li>
                                            <li>The second must be signed and attached to the shipment.</li>
                                            <li>The third should be retained for your records.</li>
                                        </ol>
                                        <br>
                                        <p>Sign the waybill and attach it to your freight shipment prior to pickup. Freight cannot be accepted without a signed waybill.</p>
                                        <br>
                                        <p>To <strong>modify</strong> or <strong>cancel</strong> this freight shipment, or to find the nearest Freight <strong>drop-off
                                            location</strong>, please use the
                                            <a href="repl_name">
                                                UPS Supply Chain Solutions Global Directory
                                            </a>
                                            to find contact and address information.</p>
                                    </fieldset>
                                </div>
                            </div>
                            <!--View/print - Paperless-->
                            <div id="pnl_2_2">
                                <div class="stepModContent">
                                    <fieldset>
                                        <legend>print documents</legend>
                                        <p>Print the freight waybill shown in the second window. The waybill must be printed with a laser printer. UPS Thermal printers cannot be used. Select the <strong>Print My Waybill</strong> if the second window does not appear or has been closed.</p>
                                        <br>
                                        <p>Three copies of the waybill must be printed.</p>
                                        <ol class="indent">
                                            <li>One copy must be signed and given to the pickup driver.</li>
                                            <li>The second must be signed and attached to the shipment.</li>
                                            <li>The third should be retained for your records.</li>
                                        </ol>
                                        <br>
                                        <p>Sign the waybill and attach it to your freight shipment prior to pickup. Freight cannot be accepted without a signed waybill.</p>
                                        <br>
                                        <p>To <strong>modify</strong> or <strong>cancel</strong> this reight shipment, or to find the nearest Freight <strong>drop-off
                                            location</strong>, please use the
                                            <a href="repl_name">
                                                UPS Supply Chain Solutions Global Directory
                                            </a>
                                            to find contact and address information.</p>
                                    </fieldset>
                                    <h4>Waybill</h4>
                                    <p>
                                        <a href="repl_href">
                                            Print My Waybill
                                        </a>
                                    </p>
                                    <h4>Export Forms Documentation</h4>
                                    <p>
                                        <a href="repl_href">
                                            Print My Paperless Export Forms Documentation
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="marginEnd">
                            <input name="repl_fname" type="button" value="View / Print" class="btn_a">
                        </p>
                    </div>
                    
                    <!-- End: Section Module --></td>
            </tr>
            <tr>
                <td><!-- Begin: Section Module -->
                    
                    <p></p>
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>Next Steps</h3>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>next steps</legend>
                                <h4>Getting your shipment to UPS</h4>
                                <p>Freight pickup by UPS is included at no additional charge.</p>
                                <h4>Your freight shipment requires pre-authorization.</h4>
                                <p>You must contact UPS-SCS for pre-authorization. Your shipment will not be scheduled for<br>
                                    pickup or accepted at the origin service center until the authorization is completed. Please<br>
                                    reference Pickup Number [NNNNNNNNNN].<br>
                                </p>
                                <ul class="lstArrow">
                                    <li>
                                        <a href="repl_href">
                                            UPS Supply Chain Solutions Global Directory
                                        </a>
                                        (in English only)</li>
                                </ul>
                                <p>Some Freight Pickups and Deliveries are performed by UPS Supply Chain Solutions, not the UPS small package driver network. Driver uniforms and truck appearance may vary by location.</p>
                                <h4>View History</h4>
                                <ul class="lstArrow">
                                    <li>
                                        <a href="repl_href">
                                            View Freight History
                                        </a>
                                        <br>
                                        Freight History can only be viewed from the US UPS.com country or territory site.</li>
                                    <li>
                                        <a href="repl_href">
                                            Begin a new shipment
                                        </a>
                                    </li>
                                    <li>
                                        <a href="repl_href">
                                            Ship Again using this shipment information
                                        </a>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End: Section Module --></td>
            </tr>
            <tr>
                <td><!-- Begin: Section Module -->
                    
                    <p></p>
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>Download, View, and Print</h3>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>get adobe reader</legend>
                                <h4>Adobe Reader</h4>
                                <p>If you have not already installed and configured the Adobe Reader&reg; or plug-in, select the link below or the Get Adobe icon for further instructions.</p>
                                <ul class="lstArrow">
                                    <li>
                                        <a href="repl_href">
                                            Get Adobe Reader
                                        </a>
                                    </li>
                                </ul>
                                <br>
                                <p class="reqTxtInst">Adobe, Adobe Reader, and the Adobe logo are trademarks of Adobe Systems Incorporated.</p>
                                <img alt="Get Adobe Reader" src="/img/btn_get_reader.gif" width="88" height="31">
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End: Section Module --></td>
            </tr>
        </table>
    </form>
    
    <!-- Section 1 -->
    <div id="select_pnl_1">
        <dl role="presentation">
            <dt>
                <label for="dyn_pnl_select_1">Paperless Invoice</label>
            </dt>
            <dd>
                <select id="dyn_pnl_select_1" class="formcol5">
                    <option value="1">1 Enrolled</option>
                    <option value="2">2 Enrolled, User Does Not Complete Forms Online </option>
                    <option value="3">3 Non-Paperless, Paperless Available </option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- Section 2 -->
    <div id="select_pnl_2">
        <dl role="presentation">
            <dt>
                <label for="dyn_pnl_select_2">View/Print</label>
            </dt>
            <dd>
                <select id="dyn_pnl_select_2" class="formcol5">
                    <option value="1">1 Non-Paperless</option>
                    <option value="2">2 Paperless</option>
                </select>
            </dd>
        </dl>
    </div>
</div>
