---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table width="566" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><!-- Begin Table: Module Table Header (Parent:Formatting Table) -->
                    
                    <div id="tabHeader">
                        <ul>
                            <li class="tab-off">
                                <a href="repl_href">
                                    package
                                </a>
                            </li>
                            <li class="tab-on">freight</li>
                        </ul>
                    </div>
                    
                    <!-- End Table: Module Table Header (Parent:Formatting Table) -->
                    <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="mod-clr">
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">begin your shipment</span></td>
                                                    <td class="mod-clr" align="right"><a href="#">
                                                            help
                                                        </a>
                                                        <a href="#">
                                                            <img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                        </a></td>
                                                </tr>
                                            </table>
                                            please enter your shipping information below.  required fields are shown in <strong>bold</strong>. (*required for international destinations)<br>
                                            &nbsp;
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="220"><span class="pi-h2">address information</span></td>
                                                    <td width="10">&nbsp;</td>
                                                    <td><span class="pi-h2">shipment information</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="pi-h3 nopad">ship to</span><br></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <!-- Left Column -->
                                                    <td valign="top"><dl>
                                                            <dt class="fldLbl nopad">my ups address book </dt>
                                                            <dd class="nopad">
                                                                <select name="select" class="modSelMedium">
                                                                    <option selected>select an address</option>
                                                                </select>
                                                            </dd>
                                                            <dd class="nopad">
                                                                <a href="#">
                                                                    external address book
                                                                </a>
                                                            </dd>
                                                            <dd class="nopad">
                                                                <a href="#">
                                                                    enter new address
                                                                </a>
                                                            </dd>
                                                        </dl>
                                                        <br>
                                                        <dl>
                                                            <dt class="pi-h4 nopad">shipper: <span class="edit">
                                                                <a href="repl_href">
                                                                    edit
                                                                </a>
                                                                </span></dt>
                                                            <dd class="nopad group">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="Joe Smith">
                                                                <br>
                                                            </dd>
                                                            <dd class="nopad group">2010 warsaw rd.</dd>
                                                            <dd class="nopad">roswell ga 30076</dd>
                                                        </dl>
                                                        <br>
                                                        <dl>
                                                            <dt class="pi-h4 nopad">ship from: <span class="edit">
                                                                <a href="repl_href">
                                                                    edit
                                                                </a>
                                                                </span></dt>
                                                            <dd class="nopad">roswell ga 30076</dd>
                                                            <dd class="nopad">
                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td><input type="checkbox"></td>
                                                                        <td>schedule a pickup</td>
                                                                    </tr>
                                                                </table>
                                                            </dd>
                                                        </dl>
                                                        <br>
                                                        <span class="pi-h2 nopad">payment information</span><br>
                                                        <dl>
                                                            <dt class="fldLbl nopad">bill shipping charges to:</dt>
                                                            <dd class="nopad">
                                                                <select name="select" class="modSelMedium">
                                                                    <option selected>shipper's ups account</option>
                                                                </select>
                                                            </dd>
                                                        </dl>
                                                        <br>
                                                        <dl>
                                                            <dt class="fldLbl nopad">shipper's ups account </dt>
                                                            <dd class="nopad">foo100</dd>
                                                        </dl>
                                                        <br></td>
                                                    <td>&nbsp;</td>
                                                    <!-- Right Column-->
                                                    <td valign="top"><dl>
                                                            <dt class="fldLbl">service:</dt>
                                                            <dd>
                                                                <select name="" class="modSelMedium">
                                                                    <option selected>select a service </option>
                                                                </select>
                                                            </dd>
                                                        </dl>
                                                        <br>
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="180"><span class="fldLbl">packaging:</span><br>
                                                                    <select name="" class="modSelMedium">
                                                                        <option selected>select packaging</option>
                                                                    </select></td>
                                                                <td><span class="fldLbl">number of packages:</span><br>
                                                                    <select name="" class="modSelSmall">
                                                                        <option selected>1</option>
                                                                    </select></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="180" valign="top"><span class="fldLbl">package 1<br>
                                                                    weight:</span><br>
                                                                    <input name="textfield" type="text" class="modTxtSmall" size="5">
                                                                    lbs<br>
                                                                    (not required for ups letters)</td>
                                                                <td valign="top"><span class="fldLbl">package 1<br>
                                                                    declared value:</span><br>
                                                                    <input name="textfield" type="text" class="modTxtSmall" size="5">
                                                                    cur</td>
                                                            </tr>
                                                        </table>
                                                        <br>
                                                        <dl>
                                                            <dt class="fldLbl">[reference #1:]</dt>
                                                            <dd>
                                                                <input name="textfield" type="text" class="modTxtMedium" size="5">
                                                            </dd>
                                                            <dd>
                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td><input type="checkbox"></td>
                                                                        <td>print [reference #1] on shipping  label as bar code</td>
                                                                    </tr>
                                                                </table>
                                                            </dd>
                                                            <dt class="fldLbl">[reference #2:]</dt>
                                                            <dd>
                                                                <input name="textfield" type="text" class="modTxtMedium" size="5">
                                                            </dd>
                                                        </dl></td>
                                                </tr>
                                            </table>
                                            
                                            <!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
                                    </tr>
                                </table></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- Begin: Button Bar Rows -->
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-bar" align="right"><input name="imageField" type="image" src="/img/en/btn_add_shi_options.gif" alt="Add a shipping option">
                                <input name="imageField" type="image" src="/img/en/btn_clear_all.gif" alt="Clear all">
                                <input name="imageField" type="image" src="/img/en/btn_preview_ship.gif" alt="Preview Shipment">
                                <input name="imageField" type="image" src="/img/en/btn_ship_now_a.gif" alt="Ship now"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- End: Button Bar Rows -->
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
            </tr>
        </table>
        <div class="container">
            <p class="mod-msg-pad fldLbl">other shipping services </p>
            <ul>
                <li>need same-day service for a critical shipment? contact ups sonicair at 1-800-451-4550, or find out more at
                    <a href="javascript:helpModLvl('repl_href')">
                        sonicair.ups.com/ups<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0">
                    </a>
                </li>
                <li>need to ship air or ocean freight? find out more about other ups freightsm services at
                    <a href="javascript:helpModLvl('repl_href')">
                        upsfreight.com<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0">
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>
