---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table width="566" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><!-- Begin Table: Module Table Header (Parent:Formatting Table) -->
                    
                    <div id="tabHeader">
                        <ul>
                            <li class="tab-off">
                                <a href="repl_href">
                                    package
                                </a>
                            </li>
                            <li class="tab-on">freight</li>
                        </ul>
                    </div>
                    
                    <!-- End Table: Module Table Header (Parent:Formatting Table) -->
                    <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="mod-clr">
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            
                                            <table width="550" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">template and draft list</span></td>
                                                    <td class="mod-clr" align="right"><a href="javascript:helpModLvl('repl_href')">
                                                            help<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                        </a></td>
                                                </tr>
                                            </table>
                                            <div class="container">
                                                <span class="mod-bot-spc">use this view to manage your template and draft freight shipments. mark the checkbox for the desired item and select the <b>next</b> button.</span>
                                            </div>
                                            <dl>
                                                <dt class="fldLbl">display per page:</dt>
                                                <dd>
                                                    <select class="modSelSmall">
                                                        <option selected>25</option>
                                                    </select>
                                                </dd>
                                            </dl>
                                            <table border="0" cellpadding="0" cellspacing="0" width="550">
                                                <tr>
                                                    <td class="bold">displaying results nn through nn of nn</td>
                                                </tr>
                                                <tr>
                                                    <td class="top-pad"><span class="reqTxtInst">
                                                        <a href="repl_href">
                                                            first
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            previous
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            1
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            2
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            3
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            4
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            5
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            6
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            7
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            8
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            9
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            10
                                                        </a>
                                                        | [
                                                        <a href="repl_href">
                                                            ...
                                                        </a>
                                                        ] |
                                                        <a href="repl_href">
                                                            next
                                                        </a>
                                                        |
                                                        <a href="repl_href">
                                                            last
                                                        </a>
                                                        </span></td>
                                                </tr>
                                                <tr>
                                                    <td class="mod-bot-spc"><a href="repl_href">
                                                            <img src="/img/btn_close_mini.gif" alt="" width="14" height="14" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">delete selected items
                                                        </a></td>
                                                </tr>
                                                <tr>
                                                    <td class="mod-bot-spc"><a href="repl_href">
                                                            <img src="/img/btn_select_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">select all
                                                        </a>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <a href="repl_href">
                                                            <img src="/img/btn_clear_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">clear all
                                                        </a></td>
                                                </tr>
                                            </table>
                                            
                                            <!-- Begin: Commodity Table -->
                                            
                                            <table class="border" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td nowrap class="sec-head"></td>
                                                    <td nowrap class="sec-head">date</td>
                                                    <td nowrap class="sec-head">name</td>
                                                    <td nowrap class="sec-head">shipper</td>
                                                    <td nowrap class="sec-head">receiver</td>
                                                    <td nowrap class="sec-head">type</td>
                                                </tr>
                                                <tr class="sec-row-od">
                                                    <td class="sec-pad"><input name="temp" type="checkbox" value="repl_value"></td>
                                                    <td class="sec-pad">mm/dd/yyyy</td>
                                                    <td class="sec-pad">draft/template name</td>
                                                    <td class="sec-pad">shipper company or name</td>
                                                    <td class="sec-pad">receiver company or name</td>
                                                    <td class="sec-pad">draft</td>
                                                </tr>
                                                <tr class="sec-row-ev">
                                                    <td class="sec-pad"><input name="temp" type="checkbox" value="repl_value"></td>
                                                    <td class="sec-pad">mm/dd/yyyy</td>
                                                    <td class="sec-pad">draft/template name</td>
                                                    <td class="sec-pad">shipper company or name</td>
                                                    <td class="sec-pad">receiver company or name</td>
                                                    <td class="sec-pad">draft</td>
                                                </tr>
                                                <tr class="sec-row-od">
                                                    <td class="sec-pad"><input name="temp" type="checkbox" value="repl_value"></td>
                                                    <td class="sec-pad">mm/dd/yyyy</td>
                                                    <td class="sec-pad">really really long draft/template name</td>
                                                    <td class="sec-pad">shipper company or name</td>
                                                    <td class="sec-pad">receiver company or name</td>
                                                    <td class="sec-pad">template</td>
                                                </tr>
                                            </table>
                                            <div class="Single">
                                                <table border="0" cellpadding="0" cellspacing="0" width="550">
                                                    <tr>
                                                        <td class="mod-bot-spc"><a href="repl_href">
                                                                <img src="/img/btn_select_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">select all
                                                            </a>
                                                            &nbsp;&nbsp;&nbsp;
                                                            <a href="repl_href">
                                                                <img src="/img/btn_clear_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">clear all
                                                            </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="mod-bot-spc"><a href="repl_href">
                                                                <img src="/img/btn_close_mini.gif" alt="" width="14" height="14" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">delete selected items
                                                            </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bold">displaying results nn through nn of nn </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="top-pad"><span class="reqTxtInst">
                                                            <a href="repl_href">
                                                                first
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                previous
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                1
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                2
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                3
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                4
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                5
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                6
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                7
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                8
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                9
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                10
                                                            </a>
                                                            | [
                                                            <a href="repl_href">
                                                                ...
                                                            </a>
                                                            ] |
                                                            <a href="repl_href">
                                                                next
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                last
                                                            </a>
                                                            </span></td>
                                                    </tr>
                                                </table>
                                            </div></td>
                                    </tr>
                                </table></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- Begin: Button Bar Rows -->
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-bar"><div align="right" style="width:550">
                                    <input name="back" type="button" value="Back" class="btn_bak_a">
                                    <input name="next" type="button" value="Next" class="btn_a">
                                </div></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- End: Button Bar Rows -->
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
            </tr>
        </table>
    </form>
</div>
