---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_fname">
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
            <tr>
                <th><div class="head-colFull">
                        <h2>module header</h2>
                        <div style="clear:both;"></div>
                    </div></th>
            </tr>
            <tr>
                <td><div class="introModFixed">
                        <!-- Begin: Exception Error Message -->
                        <p class="error">&gt;&gt;&gt; error message place holder</p>
                        <!-- End: Error Message -->
                        <p>please enter the information for your freight pickup request below. required fields are indicated with<img alt="" src="/img/icn_dia.gif" width="11" height="9" border="0">.</p>
                    </div>
                    
                    <!-- Begin Module -->
                    
                    <!--<div class="modFlex">
							<fieldset>
								<div class="modContent">
									<dl class="outHozFixed1">
										<dt>
											<label>pro number:</label>
										</dt>
										<dd>123456789</dd>
									</dl>
									<div style="clear:both"></div>
								</div>
								<div class="hr_spltMod"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
							</fieldset>
						</div>-->
                    
                    <!-- End Module -->
                    
                    <!-- Begin Module -->
                    
                    <div class="modFlex">
                        <div class="modHead">
                            <h3>schedule a pickup</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <fieldset>
                            <div class="modContent">
                                <dl>
                                    <dt>
                                        <label>pickup date:</label>
                                    </dt>
                                    <dd>
                                        <select name="">
                                            <option selected>pickup date</option>
                                        </select>
                                    </dd>
                                    <dd><strong>note:</strong> to facilitate the timely pickup of your same-day shipment, please submit your request before 3 p.m., local time. there may be additional charges for pickups occurring on weekends and holidays.</dd>
                                    <dt>
                                        <label>when will your freight shipment be ready for ups to pick up?</label>
                                    </dt>
                                    <dd>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><select name="">
                                                        <option selected>nn</option>
                                                    </select></td>
                                                <td>:
                                                    <select name="">
                                                        <option selected>nn</option>
                                                    </select></td>
                                                <td><input name="radiobutton" type="radio" value="input1"></td>
                                                <td>am</td>
                                                <td><input name="radiobutton" type="radio" value="input1"></td>
                                                <td>pm</td>
                                                <td class="mod-pad"><span class="reqTxtInst">(local time)</span></td>
                                            </tr>
                                        </table>
                                    </dd>
                                    <dt>
                                        <label>what is the latest time at which ups can pick up your freight shipment?</label>
                                    </dt>
                                    <dd>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><select name="">
                                                        <option selected>nn</option>
                                                    </select></td>
                                                <td>:
                                                    <select name="">
                                                        <option selected>nn</option>
                                                    </select></td>
                                                <td><input name="radiobutton" type="radio" value="input1"></td>
                                                <td>am</td>
                                                <td><input name="radiobutton" type="radio" value="input1"></td>
                                                <td>pm</td>
                                                <td class="mod-pad"><span class="reqTxtInst">(local time)</span></td>
                                            </tr>
                                        </table>
                                        <span class="reqTxtInst">(e.g. closing time)</span>
                                    </dd>
                                </dl>
                            </div>
                            <div class="hr_spltMod"><img src="/img/1.gif" alt="" width="1" height="1"></div>
                        </fieldset>
                    </div>
                    
                    <!-- End Module -->
                    <!-- Begin Module -->
                    
                    <div class="modFlex">
                        <div class="modHead">
                            <h3>pickup location</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <fieldset>
                            <div class="modContent">
                                <dl>
                                    <dt>
                                        <label>pickup from:</label>
                                    </dt>
                                    <dd>{company or name}<br>
                                        {address line 1}<br>
                                        {city}, {state} {zip code}<br>
                                        {country or territory} </dd>
                                </dl>
                            </div>
                            <div class="hr_spltMod"><img src="/img/1.gif" alt="" width="1" height="1"></div>
                        </fieldset>
                    </div>
                    
                    <!-- End Module -->
                    <!-- Begin Module -->
                    
                    <div class="modFlex">
                        <div class="modHead">
                            <h3>requester's contact information header</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <fieldset>
                            <div class="modContent">
                                <p>please provide contact information for your pickup request.</p>
                                <div>
                                    <dl>
                                        <dt>
                                            <label>you are the:</label>
                                        </dt>
                                        <dd>
                                            <select name="">
                                                <option selected>shipper</option>
                                            </select>
                                        </dd>
                                    </dl>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><input name="checkbox" type="checkbox" value=""></td>
                                            <td>contact information is the same as in pickup information</td>
                                        </tr>
                                    </table>
                                    <br/>
                                </div>
                                <div class="colL">
                                    <dl>
                                        <dt>
                                            <label>requester name:</label>
                                        </dt>
                                        <dd>
                                            <input name="" type="text">
                                            <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                    </dl>
                                    <dl class="flexFirst">
                                        <dt>
                                            <label>telephone:</label>
                                        </dt>
                                        <dd>
                                            <input type="text" name="">
                                            <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                    </dl>
                                    <dl class="flexAfter">
                                        <dt>
                                            <label>ext:</label>
                                        </dt>
                                        <dd>
                                            <input name="" type="text" size="5">
                                        </dd>
                                    </dl>
                                    <div style="clear:both"></div>
                                </div>
                                <div class="colR">
                                    <dl>
                                        <dt>
                                            <label>fax:</label>
                                        </dt>
                                        <dd>
                                            <input name="" type="text">
                                        </dd>
                                        <dt>
                                            <label>e-mail:</label>
                                        </dt>
                                        <dd>
                                            <input name="" type="text" size="32">
                                            <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                    </dl>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    
                    <!-- End Module --></td>
            </tr>
            <!-- Begin Button Bar Row -->
            <tr>
                <td class="btn-bar"><div class="btn-colFull">
                        <input name="" type="submit" value="next" class="btn_a">
                    </div></td>
            </tr>
            <!--End Button Bar Row -->
        </table>
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="note">
            <tr>
                <td><p>the terms and conditions (include cargo liability) governing transportation services by ups freight are set forth in ups freight's rules & charges (tariff upgf 102), which can be accessed via:.</p>
                    <p>
                        <a href="repl_href">
                            http://ltl.upsfreight.com/shipping/rules/index.aspx<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0">
                        </a>
                    </p></td>
            </tr>
        </table>
    </form>
</div>
