---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        
        <!-- Begin Table: Module Table (Parent:Formatting Table) -->
        
        <table width="422" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><div id="tabHeader">
                        <ul>
                            <li class="tab-off">
                                <a href="repl_href">
                                    package
                                </a>
                            </li>
                            <li class="tab-on">freight</li>
                        </ul>
                    </div>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="mod-clr">
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">import commodities </span></td>
                                                    <td class="mod-clr" align="right"></td>
                                                </tr>
                                            </table>
                                            <p>your request to upload commodities has been received. please allow up to 1 business day for processing.<br>
                                                <br>
                                                an e-mail will be sent to profile e-mail address@company.com when the file has been processed<br>
                                                <br>
                                                worldship users should check their manage commodity list page to verify a successful import.<br>
                                                <br>
                                                thank you for choosing ups.</p>
                                            <div class="modpadarrow"><img src="/img/icn_back_arrow.gif" width="8" height="8" alt="">
                                                <a href="repl_href">
                                                    back to manage commodity list
                                                </a>
                                            </div>
                                            <br>
                                            
                                            <!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
                                    </tr>
                                </table></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                    </table></td>
            </tr>
        </table>
        
        <!-- End Table: Module Table (Parent:Formatting Table) -->
        
    </form>
</div>
