---
title: Pickup Status
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table border="0" cellpadding="0" cellspacing="0" width="422">
            <tr>
                <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                    
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="mod-head-clr">view freight pickup status</td>
                        </tr>
                    </table>
                    <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                        <tr class="mod-clr">
                            <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                <!-- Begin: Exception Error Message -->
                                <!-- End: Error Message -->
                                <br>
                                <dl class="containerSmall">
                                    <dt class="fldLbl col1-3">pickup request number:</dt>
                                    <dd class="col2-2">
                                        <a href="#">
                                            nnnnnnnnn
                                        </a>
                                    </dd>
                                </dl>
                                to <strong>cancel</strong> an <strong>ltl freight pickup request</strong> call: <strong>1-8nn-nnn-nnnn</strong>.<br>
                                <br>
                                <dl>
                                    <dt class="pi-h2">scheduling information</dt>
                                    <dt class="col1-3 fldLbl">status:</dt>
                                    <dd class="col2-2 group">pickup status</dd>
                                    <dt class="col1-3 fldLbl">pickup date:</dt>
                                    <dd class="col2-2 group">weekday mm/dd/yyyy</dd>
                                    <dt class="col1-3 fldLbl">shipment ready at:</dt>
                                    <dd class="col2-2 group">hh:mm am/pm</dd>
                                    <dt class="col1-3 fldLbl">pick shipment up by:</dt>
                                    <dd class="col2-2 group">hh:mm am/pm</dd>
                                </dl>
                                <div class="hr clear"><img src="/img/1.gif" alt="" width="1" height="1"></div>
                                <dl>
                                    <dt class="pi-h2">customer information</dt>
                                    <dt class="col1-3 fldLbl">pickup from:</dt>
                                    <dd class="col2-2 nopad">
                                        <strong>contact:</strong> contact name<br>
                                        company name<br>
                                        address 1<br>
                                        city, state<br>
                                        country or territory<br>
                                        postal code<br>
                                        <strong>telephone:</strong> 000-000-0000<br>
                                        <strong>ext.:</strong> 0000<br>
                                        <strong>fax:</strong> 000-000-0000 </dd>
                                </dl>
                                <div class="hr clear"><img src="/img/1.gif" alt="" width="1" height="1"></div>
                                <div class="pi-h2 padbottom">shipment information</div>
                                <table class="border" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td nowrap class="sec-head">service type</td>
                                        <td nowrap class="sec-head">number of handling units</td>
                                    </tr>
                                    <tr class="sec-row-od">
                                        <td class="sec-pad">freight</td>
                                        <td class="sec-pad"></td>
                                    </tr>
                                    <tr class="sec-row-ev">
                                        <td class="sec-pad">ups freight ltl</td>
                                        <td class="sec-pad">nnn</td>
                                    </tr>
                                </table>
                                <br>
                                <dl>
                                    <dt class="col1-3 fldLbl">total handling units:</dt>
                                    <dd class="col2-2 group">nnn</dd>
                                    <dt class="col1-3 fldLbl">total shipment weight:</dt>
                                    <dd class="col2-2">nnnn lbs.</dd>
                                </dl>
                                <div class="hr clear"><img src="/img/1.gif" alt="" width="1" height="1"></div>
                                <dl>
                                    <dt class="fldLbl">pickup instructions:</dt>
                                    <dd> up to nn characters. up to nn characters. up to nn characters.
                                        up to nn characters. up to nn characters. up to nn characters.
                                        up to nn characters. up to nn characters. up to nn characters. </dd>
                                </dl>
                                
                                <!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
                        </tr>
                    </table></td>
            </tr>
            <!-- Begin: Button Bar Rows -->
            <tr>
                <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            </tr>
            <tr>
                <td class="mod-bar" align="right"><input name="back" type="button" value="Back" class="btn_bak_a"></td>
            </tr>
            <!-- End: Button Bar Rows -->
        </table>
        <!-- End Table: Module Table (Parent:Formatting Table) -->
    </form>
</div>
