---
title: Freight Pickup History
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        
        <table width="566" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><div id="tabHeader">
                        <ul>
                            <li class="tab-off">
                                <a href="repl_href">
                                    package
                                </a>
                            </li>
                            <li class="tab-on">freight</li>
                        </ul>
                    </div>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="mod-clr">
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">view previous pickup requests</span></td>
                                                </tr>
                                            </table>
                                            <div class="container">
                                                <!-- BEGIN: ERROR MESSAGE  -->
                                                <br>
                                                <!--<span class="redErrorBold">&gt;&gt;&gt; {Pickup Cancellation  Messaging Appears Here success/failure}</span> -->
                                                <!-- END: ERROR MESSAGE -->
                                                
                                                <p>you can view your previous pickup requests. select the desired number of days of history to refresh your history view paragraph text.</p>
                                                <p>to modify an ltl freight pickup request, select the request number link below. to initiate a pickup request from a previous pickup, select <strong>request new pickup from history</strong>. to cancel, select <strong>cancel pickup</strong>. for assistance, call: n-nnn-nnn-nnnn.</p>
                                                <dl class="col-Left">
                                                    <dt class="fldLbl">show history for the last:</dt>
                                                    <dd>
                                                        <select name="temp" class="modSelMediumSmall">
                                                            <option selected>7 days</option>
                                                        </select>
                                                    </dd>
                                                </dl>
                                                <dl class="col-Right">
                                                    <dt class="fldLbl">display per page:</dt>
                                                    <dd>
                                                        <select name="" class="modSelSmall">
                                                            <option selected>25</option>
                                                        </select>
                                                    </dd>
                                                </dl>
                                                <div style="clear:both"></div>
                                                <div class="pi-mA6-c-5 bold">displaying pickup request nn through nn out of nn in the last nn days </div>
                                                <span class="reqTxtInst">
                                                <a href="repl_href">
                                                    first
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    previous
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    1
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    2
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    3
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    4
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    5
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    6
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    7
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    8
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    9
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    10
                                                </a>
                                                | [
                                                <a href="repl_href">
                                                    ...
                                                </a>
                                                ] |
                                                <a href="repl_href">
                                                    next
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    last
                                                </a>
                                                </span>
                                            </div>
                                            <div class="Single">
                                                
                                                <!-- Begin: Commodity Table -->
                                                <table class="border" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td nowrap class="sec-head"></td>
                                                        <td nowrap class="sec-head">scheduled<br>
                                                            pickup</td>
                                                        <td nowrap class="sec-head">request<br>
                                                            number</td>
                                                        <td width="190" nowrap class="sec-head">ship to</td>
                                                        <td width="190" nowrap class="sec-head">ship from</td>
                                                        <td nowrap class="sec-head">pre-pickup request status</td>
                                                    </tr>
                                                    <tr class="sec-row-od">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="" checked></td>
                                                        <td class="sec-pad">10/12/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                1234567890
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, --</td>
                                                    </tr>
                                                    <tr class="sec-row-ev">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id=""></td>
                                                        <td class="sec-pad">10/15/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                2345567989
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, --</td>
                                                    </tr>
                                                    <tr class="sec-row-od">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id=""></td>
                                                        <td class="sec-pad">10/20/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                3456769902
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, -- </td>
                                                    </tr>
                                                    <tr class="sec-row-ev">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id=""></td>
                                                        <td class="sec-pad">10/24/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                2983429384
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, -- </td>
                                                    </tr>
                                                    <tr class="sec-row-od">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id=""></td>
                                                        <td class="sec-pad">10/30/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                2398424930
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, -- </td>
                                                    </tr>
                                                    <tr class="sec-row-ev">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id=""></td>
                                                        <td class="sec-pad">11/4/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                2938472938
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, -- </td>
                                                    </tr>
                                                    <tr class="sec-row-od">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id=""></td>
                                                        <td class="sec-pad">11/6/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                9845934933
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, -- </td>
                                                    </tr>
                                                    <tr class="sec-row-ev">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id=""></td>
                                                        <td class="sec-pad">11/6/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                3485934844
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, -- </td>
                                                    </tr>
                                                    <tr class="sec-row-od">
                                                        <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id=""></td>
                                                        <td class="sec-pad">11/10/2005</td>
                                                        <td class="sec-pad"><a href="#">
                                                                9823498374
                                                            </a></td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad">company or name<br>
                                                            city (state postal code</td>
                                                        <td class="sec-pad"> exceptions, driver in route, pickup scheduled, picked up, n/a, -- </td>
                                                    </tr>
                                                </table>
                                                <!-- End: Commodity Table -->
                                                
                                                <div class="pi-mA6-c-5 bold">displaying pickup request nn through nn out of nn in the last nn days </div>
                                                <span class="reqTxtInst">
                                                <a href="repl_href">
                                                    first
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    previous
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    1
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    2
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    3
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    4
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    5
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    6
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    7
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    8
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    9
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    10
                                                </a>
                                                | [
                                                <a href="repl_href">
                                                    ...
                                                </a>
                                                ] |
                                                <a href="repl_href">
                                                    next
                                                </a>
                                                |
                                                <a href="repl_href">
                                                    last
                                                </a>
                                                </span>
                                            </div>
                                            
                                            <!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
                                    </tr>
                                </table></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        
                        <!-- Begin: Button Bar Rows -->
                        <tr>
                            <td class="" colspan="5" style="text-align:right"><input name="repl_name" type="submit" value="cancel_pickup_button" class="btn">
                                <input name="repl_name" type="submit" value="modify_pickup_button" class="btn">
                                <input name="repl_name" type="submit" value="request_new_pickup_from_history_button" class="btn"></td>
                        </tr>
                        <!-- End: Button Bar Rows -->
                        
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
            </tr>
        </table>
    </form>
</div>
