---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_fname">
        <!-- Begin SubTabs -->
        <ul id="subTab">
            <li class="tab-off">
                <a href="repl_href">
                    package
                </a>
            </li>
            <li class="tab-on">freight</li>
        </ul>
        <!-- End SubTabs -->
        <div style="clear:both;"></div>
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
            <tr>
                <th> <div class="head-colFull">
                        <h2>module header</h2>
                        <ul>
                            <li class="helpmini">
                                <a href="repl_href">
                                    help
                                </a>
                            </li>
                        </ul>
                        <div style="clear:both;"></div>
                    </div>
                </th>
            </tr>
            <tr>
                <td><div class="introMod">
                        <!-- Begin: Exception Error Message -->
                        <!--<p class="error">&gt;&gt;&gt; Error Message </p>-->
                        <!-- End: Exception Error Message -->
                        <p>required fields are indicated with<img alt="" src="/img/icn_dia.gif" width="11" height="9" border="0">.</p>
                    </div>
                    
                    <!-- Begin Module : Pickup Order Management -->
                    
                    <div id="step-6" class="stepModFlex">
                        <div class="stepModHead">
                            <h3>pickup notifications for ltl</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="stepModContent">
                            <fieldset>
                                <legend>pickup notifications for ltl</legend>
                                <p>enter a pickup reference number in the box below. choose a number that is meaningful to the shipment, such as a po number or load number, to expedite the pick up process. based on the number you enter, select a <b>pickup reference type</b> from the drop down list.</p>
                                <div class="modFlex">
                                    <fieldset>
                                        <div class="modContent">
                                            <div class="colL">
                                                <dl class="group">
                                                    <dt>
                                                        <label>
                                                            <a href="repl_href" class="helpTerm">
                                                                pickup reference number:<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0">
                                                            </a>
                                                        </label>
                                                    </dt>
                                                    <dd>
                                                        <input name="repl_name" type="text" class="">
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="colR">
                                                <dl class="group">
                                                    <dt>
                                                        <label>
                                                            <a href="repl_href" class="helpTerm">
                                                                pickup refrence: type<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0">
                                                            </a>
                                                        </label>
                                                    </dt>
                                                    <dd>
                                                        <select name="repl_name" class="">
                                                            <option selected>select one</option>
                                                            <option>a longer selection</option>
                                                        </select>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="modContent"	>
                                    <fieldset>
                                        <legend></legend>
                                        <dl>
                                            <dt>
                                                <label for="repl_id">pickup request notification</label>
                                            </dt>
                                            <dd>enter up to five e-mail addresses to receive e-mail notifications for this pickup request ... paragraph text.</dd>
                                        </dl>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="left" class="sec-pad"><label>notification by e-mail</label></td>
                                                <td align="left" class="sec-pad"><label>
                                                        <a href="repl_href" class="helpTerm">
                                                            notification events<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0">
                                                        </a>
                                                    </label></td>
                                            </tr>
                                        </table>
                                        <table class="dataTable" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr style="vertical-align:bottom;">
                                                <th nowrap align="left" scope="col"><label>e-mail addresses</label></th>
                                                <th nowrap align="center" scope="col"><label>pickup<br>
                                                        scheduled</label></th>
                                                <th nowrap align="center" scope="col"><label>deliver<br>
                                                        en route</label></th>
                                                <th nowrap align="center" scope="col"><label>exception</label></th>
                                                <th nowrap align="center" scope="col"><label>picked up</label></th>
                                            </tr>
                                            <tr class="sec-row-od">
                                                <td width="52%"><input name="repl_name" type="text" class="" size="50"></td>
                                                <td width="12%" align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td width="12%" align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td width="12%" align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td width="12%" align="center"><input name="repl_name" type="checkbox" value=""></td>
                                            </tr>
                                            <tr class="sec-row-ev">
                                                <td><input name="repl_name" type="text" class="" size="50"></td>
                                                <td align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td align="center"><input name="repl_name" type="checkbox" value=""></td>
                                            </tr>
                                            <tr class="sec-row-od">
                                                <td><input name="repl_name" type="text" class="" size="50"></td>
                                                <td align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td align="center"><input name="repl_name" type="checkbox" value=""></td>
                                            </tr>
                                            <tr class="sec-row-ev" >
                                                <td style="border-bottom-color:#908474; border-bottom-style:solid; border-bottom-width:1px;"><input name="repl_name" type="text" class="" size="50"></td>
                                                <td style="border-bottom-color:#908474; border-bottom-style:solid; border-bottom-width:1px;" align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td style="border-bottom-color:#908474; border-bottom-style:solid; border-bottom-width:1px;" align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td style="border-bottom-color:#908474; border-bottom-style:solid; border-bottom-width:1px;" align="center"><input name="repl_name" type="checkbox" value=""></td>
                                                <td style="border-bottom-color:#908474; border-bottom-style:solid; border-bottom-width:1px;" align="center"><input name="repl_name" type="checkbox" value=""></td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </div>
                                <div class="modContent">
                                    <fieldset>
                                        <legend></legend>
                                        <dl>
                                            <dt class="">
                                                <label for="repl_id">e-mail message</label>
                                                :</dt>
                                            <dd>
                                                <textarea rows="3" cols="80" name="repl_name"></textarea>
                                            </dd>
                                            <dt>
                                                <label for="repl_id">if any notification is undeliverable</label>
                                                :</dt>
                                            <dd>
                                                <input name="repl_name" type="text">
                                                <span class="reqTxtInst">(instructional text)</span>
                                            </dd>
                                        </dl>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module -->
                    
                    <!-- Begin Module : Consignee Location -->
                    
                    <div id="step-7" class="stepModFixed4col">
                        <div class="stepModHead">
                            <h3>consignee location header</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <fieldset>
                            <legend>consignee location</legend>
                            <div class="stepModContent">
                                <dl>
                                    <dt>
                                        <label for="repl_id">Select from My Addresses:</label>
                                    </dt>
                                    <dd>
                                        <select name="repl_name" id="repl_id" class="" tabindex="">
                                            <option selected>select one</option>
                                            <option>select another one</option>
                                        </select>
                                        <img src="/img/icn_dia.gif" alt="Required" width="11" height="9">
                                    </dd>
                                </dl>
                                <div class="colL clearfix">
                                    <fieldset>
                                        <legend></legend>
                                        <dl>
                                            <dt>
                                                <label for="repl_id">contact name:</label>
                                            </dt>
                                            <dd>
                                                <input type="text" name="" id="repl_id">
                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                            <dt>
                                                <label for="repl_id">company or name:</label>
                                            </dt>
                                            <dd>
                                                <input type="text" name="" id="repl_id">
                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                            <dt>
                                                <label for="repl_id">country or territory:</label>
                                            </dt>
                                            <dd>[country or territory]</dd>
                                            <dt>
                                                <label for="repl_id">address line 1:</label>
                                            </dt>
                                            <dd>
                                                <input type="text" name="" id="repl_id">
                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                            <dt>
                                                <label for="repl_id">address line 2:</label>
                                            </dt>
                                            <dd>
                                                <input type="text" name="" id="repl_id">
                                                <br>
                                                <span class="reqTxtInst">instructional text</span></dd>
                                            <dt>
                                                <label for="repl_id">address line 3:</label>
                                            </dt>
                                            <dd>
                                                <input type="text" name="" id="repl_id">
                                                <br>
                                                <span class="reqTxtInst">instructional text</span></dd>
                                        </dl>
                                    </fieldset>
                                </div>
                                <div class="colR clearfix">
                                    <fieldset>
                                        <legend></legend>
                                        <dl class="clearfix">
                                            <dt>
                                                <label for="repl_id">city:</label>
                                            </dt>
                                            <dd>
                                                <input type="text" name="" id="repl_id">
                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                            <dt>
                                                <label for="repl_id">state:</label>
                                            </dt>
                                            <dd>[state]</dd>
                                            <dt>
                                                <label for="repl_id">zip code:</label>
                                            </dt>
                                            <dd>[00000]</dd>
                                        </dl>
                                        <div class="clearfix">
                                            <dl class="flexFirst">
                                                <dt>
                                                    <label for="repl_id">telephone:</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" name="" id="repl_id">
                                                    <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                            </dl>
                                            <dl class="flexAfter">
                                                <dt>
                                                    <label for="repl_id">ext.:</label>
                                                </dt>
                                                <dd>
                                                    <input name="" type="text" size="5">
                                                </dd>
                                            </dl>
                                        </div>
                                        <dl class="clearfix">
                                            <dt>
                                                <label for="repl_id">fax:</label>
                                            </dt>
                                            <dd>
                                                <input name="" type="text" id="repl_id">
                                            </dd>
                                            <dt>
                                                <label for="repl_id">e-mail:</label>
                                            </dt>
                                            <dd>
                                                <input name="" type="text" id="repl_id">
                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9">
                                            </dd>
                                        </dl>
                                    </fieldset>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </fieldset>
                    </div>
                    
                    <!-- End Module -->
                    
                    <!-- Begin Module : New Pickup Request -->
                    
                    <div id="step-8" class="stepModFixed4col">
                        <div class="stepModHead">
                            <h3>new pickup request</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="stepModContent">
                            <fieldset>
                                <legend>new pickup request</legend>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><input name="" type="checkbox" value="checkbox" checked></td>
                                        <td><label for="repl_id" class="sel">make a new freight pickup request after submitting this request</label></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module --></td>
            </tr>
            
            <!-- Begin Button Bar Row -->
            <tr>
                <td class="btn-bar"><div class="btn-colFull">
                        <input name="repl_name" type="submit" value="back" class="btn_bak_a">
                        <input name="repl_name" type="submit" value="next" class="btn_a">
                    </div></td>
            </tr>
            <!--End Button Bar Row -->
        </table>
        
        <!-- Begin Note Table -->
        <div class="modContent">
            <table width="75%" border="0" cellpadding="0" cellspacing="0"  class="note">
                <tr>
                    <td><p>the terms and conditions (include cargo liability) governing transportation services by ups ... rules &amp; charges ... paragraph text:</p>
                        <p>
                            <a href="repl_href">
                                text link<img height="1" border="0" width="3" src="/img/1.gif" alt=""><img height="9" border="0" width="9" alt="" src="/img/icn_popup_blue.gif">
                            </a>
                        </p></td>
                </tr>
            </table>
        </div>
        <!-- End Note Table -->
        
    </form>
</div>
