---
title: shipping
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
            <tr>
                <th> <div class="head-col4">
                        <h2>freight services</h2>
                        <div style="clear: both;"></div>
                    </div>
                </th>
            </tr>
            <tr>
                <td><div class="introModFixed">
                        <p>you do not have the shipping priviledge to ship freight services. please contact your campusship administrator.</p>
                        <p>ups freight offers a full range of global freight services for shipments over 150 ibs (70 kgs). learn more about our time-definite and day-definite freight shipping options, select the link below.</p>
                    </div></td>
            </tr>
        </table>
        <!-- Begin Note Table -->
        <table border="0" cellpadding="0" cellspacing="0" width="566" class="note">
            <tr>
                <td><h4>need information about freight services?</h4>
                    <ul class="lstArrow">
                        <li>
                            <a href="repl_href">
                                learn about freight shipment services
                            </a>
                        </li>
                    </ul></td>
            </tr>
        </table>
    </form>
</div>
