---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table width="566" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><!-- Begin Table: Module Table Header (Parent:Formatting Table) -->
                    
                    <div id="tabHeader">
                        <ul>
                            <li class="tab-off">
                                <a href="repl_href">
                                    package
                                </a>
                            </li>
                            <li class="tab-on">freight</li>
                        </ul>
                    </div>
                    
                    <!-- End Table: Module Table Header (Parent:Formatting Table) -->
                    <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="mod-clr">
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            
                                            <table width="550" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">create packing lists</span></td>
                                                    <td class="mod-clr" align="right"><a href="repl_href">
                                                            help<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                        </a></td>
                                                </tr>
                                            </table>
                                            <br>
                                            <div class="container"> provide or edit the indicated information to create a packing list for your freight shipment, or for 
                                                individual handling units.<br>
                                                <br>
                                                <strong>note:</strong> you may save your pdf packing list to your computer for future reference.<br>
                                            </div>
                                            <div class="container">
                                                
                                                <!-- Begin Ship To -->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="262" class="fldArea"><span class="pi-h3 nopad">ship to address:</span></td>
                                                        <td class="fldArea">&nbsp;</td>
                                                        <td width="262" class="fldArea">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fldArea"><dl>
                                                                <dt class="fldLbl nopad">My Contacts:</dt>
                                                                <dd class="nopad">
                                                                    <select name="select" class="modSelMedium">
                                                                        <option selected>select one</option>
                                                                    </select>
                                                                </dd>
                                                            </dl></td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- Left Column -->
                                                        <td valign="top" class="fldArea"><dl>
                                                                <dt class="fldLbl nopad">company or name:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="{Company or Name}">
                                                                </dd>
                                                                <dt class="fldLbl nopad">contact:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="{Contact}">
                                                                </dd>
                                                                <dt class="fldLbl">country or territory:</dt>
                                                                <dd>
                                                                    <select name="select2" class="modSelMedium">
                                                                        <option selected>country or territory</option>
                                                                    </select>
                                                                </dd>
                                                                <dt class="fldLbl nopad"> address line 1:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="{Address Line 1}">
                                                                </dd>
                                                                <dt class="fldLbl nopad">address line 2:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="">
                                                                    <br>
                                                                    <span class="reqTxtInst">apartment, suite, unit, building, floor, etc.</span></dd>
                                                                <dt class="fldLbl nopad">address line 3:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="">
                                                                    <br>
                                                                    <span class="reqTxtInst">department, c/o, etc.</span></dd>
                                                            </dl></td>
                                                        <td>&nbsp;</td>
                                                        <!-- Right Column-->
                                                        <td valign="top" class="fldArea"><dl>
                                                                <dt class="fldLbl nopad">city:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield3" class="modTxtMedium" value="{City}">
                                                                </dd>
                                                                <dt class="fldLbl nopad">state:</dt>
                                                                <dd class="nopad">
                                                                    <select name="" class="modSelMedium">
                                                                        <option selected>state</option>
                                                                    </select>
                                                                </dd>
                                                                <dt class="fldLbl">zip code:</dt>
                                                                <dd>
                                                                    <input type="text" name="textfield" class="modTxtMediumSmall" value="{ZIP/Postal Code}">
                                                                </dd>
                                                                <dd class="nopad">
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><span class="fldLbl">telephone:</span><br>
                                                                                <input type="text" name="textfield" class="modTxtMediumSmall" value="{123-456-7890}">
                                                                                <br></td>
                                                                            <td valign="top"class="mod-pad"><span class="fldLbl">ext.:</span><br>
                                                                                <input name="textfield2" type="text" class="modTxtSmall" size="5"></td>
                                                                        </tr>
                                                                    </table>
                                                                </dd>
                                                                <dt class="fldLbl">e-mail:</dt>
                                                                <dd>
                                                                    <input name="ref1" type="text" class="modTxtMedium" value="{address@email.com}">
                                                                </dd>
                                                            </dl></td>
                                                    </tr>
                                                </table>
                                                <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                                
                                                <!-- Begin Ship From -->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td  width="262" class="fldArea"><span class="pi-h3 nopad">ship from address:</span></td>
                                                        <td class="fldArea">&nbsp;</td>
                                                        <td  width="262" class="fldArea">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fldArea"><dl>
                                                                <dt class="fldLbl nopad">My Address:</dt>
                                                                <dd class="nopad">
                                                                    <select name="select" class="modSelMedium">
                                                                        <option selected>select one</option>
                                                                    </select>
                                                                </dd>
                                                            </dl></td>
                                                        <td>&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <!-- Left Column -->
                                                        <td valign="top" class="fldArea"><dl>
                                                                <dt class="fldLbl nopad">company or name:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="{Company or Name}">
                                                                </dd>
                                                                <dt class="fldLbl nopad">contact:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="{Contact}">
                                                                </dd>
                                                                <dt class="fldLbl">country or territory:</dt>
                                                                <dd>
                                                                    <select name="select2" class="modSelMedium">
                                                                        <option selected>country or territory</option>
                                                                    </select>
                                                                </dd>
                                                                <dt class="fldLbl nopad"> address line 1:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="{Address Line 1}">
                                                                </dd>
                                                                <dt class="fldLbl nopad">address line 2:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="">
                                                                    <br>
                                                                    <span class="reqTxtInst">apartment, suite, unit, building, floor, etc.</span></dd>
                                                                <dt class="fldLbl nopad">address line 3:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield" class="modTxtMedium" value="">
                                                                    <br>
                                                                    <span class="reqTxtInst">store number</span></dd>
                                                            </dl></td>
                                                        <td>&nbsp;</td>
                                                        <!-- Right Column-->
                                                        <td valign="top" class="fldArea"><dl>
                                                                <dt class="fldLbl nopad">city:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield3" class="modTxtMedium" value="{City}">
                                                                </dd>
                                                                <dt class="fldLbl nopad">state:</dt>
                                                                <dd class="nopad">
                                                                    <select name="" class="modSelMedium">
                                                                        <option selected>state</option>
                                                                    </select>
                                                                </dd>
                                                                <dt class="fldLbl">zip code:</dt>
                                                                <dd>
                                                                    <input type="text" name="textfield" class="modTxtMediumSmall" value="{ZIP/Postal Code}">
                                                                </dd>
                                                                <dd class="nopad">
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><span class="fldLbl">telephone:</span><br>
                                                                                <input type="text" name="textfield" class="modTxtMediumSmall" value="{123-456-7890}">
                                                                                <br></td>
                                                                            <td valign="top"class="mod-pad"><span class="fldLbl">ext.:</span><br>
                                                                                <input name="textfield2" type="text" class="modTxtSmall" size="5"></td>
                                                                        </tr>
                                                                    </table>
                                                                </dd>
                                                                <dt class="fldLbl">e-mail:</dt>
                                                                <dd>
                                                                    <input name="ref1" type="text" class="modTxtMedium" value="{address@email.com}">
                                                                </dd>
                                                            </dl></td>
                                                    </tr>
                                                </table>
                                                <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                                
                                                <!-- Begin Packing List From -->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="262" rowspan="2" class="fldArea"><dl>
                                                                <dt class="fldLbl nopad">number of  packing lists to create:</dt>
                                                                <dd class="nopad">
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><input type="text" name="textfield4" class="modTxtMediumSmall" value="{n}"></td>
                                                                            <td><a href="repl_href">
                                                                                    <img alt="" border="0" height="18" src="/img/1.gif" width="10"><img src="/img/btn_refresh_arrows.gif" alt="" width="18" height="18" border="0">
                                                                                </a></td>
                                                                        </tr>
                                                                    </table>
                                                                </dd>
                                                            </dl></td>
                                                        <td class="fldArea">&nbsp;</td>
                                                        <td class="fldArea"><span class="pi-h3 nopad">shipment reference numbers</span></td>
                                                    </tr>
                                                    <tr>
                                                        <!-- Left Column -->
                                                        <td>&nbsp;</td>
                                                        <!-- Right Column-->
                                                        <td width="262" valign="top" class="fldArea"><dl>
                                                                <dt class="fldLbl nopad">reference #1:</dt>
                                                                <dd class="nopad">
                                                                    <input type="text" name="textfield3" class="modTxtMedium" value="{user data}">
                                                                </dd>
                                                                <dt class="fldLbl">reference #2:</dt>
                                                                <dd>
                                                                    <input type="text" name="textfield3" class="modTxtMedium" value="{user data}">
                                                                </dd>
                                                            </dl></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="Single border">
                                                <table width="100%" cellspacing="0" border="0" cellpadding="0">
                                                    <tr>
                                                        <td class="uis-head"> shipmenthandling unit1 detail information <span class="show_hide">
                                                            <a href="repl_href">
                                                                <img src="/img/btn_minus_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">hide
                                                            </a>
                                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="show_hide">
                                                            <a href="repl_href">
                                                                <img src="/img/btn_close_mini.gif" alt="" width="14" height="14" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">remove this handling unit
                                                            </a>
                                                            </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="mod-body-pad">enter the detailed contents for your freight shipmenthandling unit n.</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="mod-body-pad"><div class="col-Left"><img src="/img/btn_select_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">
                                                                <a href="repl_href">
                                                                    select all
                                                                </a>
                                                                <img src="/img/btn_clear_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">
                                                                <a href="repl_href">
                                                                    clear all
                                                                </a>
                                                            </div>
                                                            <div class="col-Right butbaralign">
                                                                <a href="repl_href">
                                                                    <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">add 5 blank rows
                                                                </a>
                                                            </div></td>
                                                    </tr>
                                                    <tr>
                                                        <td><!-- Begin: Commodity Table -->
                                                            
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td nowrap class="sec-head">include<br>
                                                                        in list</td>
                                                                    <td nowrap class="sec-head"><a href="repl_href">
                                                                            number<br>
                                                                            of pieces<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                        </a></td>
                                                                    <td nowrap class="sec-head">description of goods</td>
                                                                    <td nowrap class="sec-head">packing type</td>
                                                                    <td nowrap class="sec-head">weight</td>
                                                                    <td nowrap class="sec-head"><a href="repl_href">
                                                                            nmfc<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                        </a></td>
                                                                    <td nowrap class="sec-head"><a href="repl_href">
                                                                            sub#<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                        </a></td>
                                                                    <td nowrap class="sec-head"><a href="repl_href">
                                                                            class<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                        </a></td>
                                                                    <td nowrap class="sec-head"><a href="repl_href">
                                                                            hazmat<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                        </a></td>
                                                                    <td nowrap class="sec-head">unit price<br>
                                                                        usd</td>
                                                                </tr>
                                                                <tr class="sec-row-od">
                                                                    <td class="sec-pad"><input name="checkbox" type="checkbox" value="checkbox" checked></td>
                                                                    <td class="sec-pad"><input name="temp6" type="text" class="modTxtSmall" value="{nnn}"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtMedium" value="{user data}"></td>
                                                                    <td class="sec-pad"><select name="temp" class="modSelMediumSmall">
                                                                            <option selected>select one</option>
                                                                        </select></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><select name="temp" class="modSelMediumSmall">
                                                                            <option selected>data</option>
                                                                        </select></td>
                                                                    <td class="sec-pad"><input name="checkbox" type="checkbox" value="checkbox" checked></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnn.00}"></td>
                                                                </tr>
                                                                <tr class="sec-row-ev">
                                                                    <td class="sec-pad"><input name="checkbox" type="checkbox" value="checkbox" checked></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nn}"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtMedium" value="{user data}"></td>
                                                                    <td class="sec-pad"><select name="temp" class="modSelMediumSmall">
                                                                            <option selected>select one</option>
                                                                        </select></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><select name="temp" class="modSelMediumSmall">
                                                                            <option selected>data</option>
                                                                        </select></td>
                                                                    <td class="sec-pad"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnn.00}"></td>
                                                                </tr>
                                                                <tr class="sec-row-od">
                                                                    <td class="sec-pad"><input name="checkbox" type="checkbox" value="checkbox" checked></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnn}"></td>
                                                                    <td class="sec-pad"><input name="temp2" type="text" class="modTxtMedium" value="{user data}"></td>
                                                                    <td class="sec-pad"><select name="temp" class="modSelMediumSmall">
                                                                            <option selected>select one</option>
                                                                        </select></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnnnnn}"></td>
                                                                    <td class="sec-pad"><select name="temp" class="modSelMediumSmall">
                                                                            <option selected>data</option>
                                                                        </select></td>
                                                                    <td class="sec-pad"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                                    <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall" value="{nnn.00}"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="9" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                                                </tr>
                                                                <tr class="sec-pad mod-bar">
                                                                    <td class="sec-pad bold">totals:</td>
                                                                    <td class="sec-pad bold">0000</td>
                                                                    <td class="sec-pad">&nbsp;</td>
                                                                    <td class="sec-pad">&nbsp;</td>
                                                                    <td nowrap class="sec-pad bold">0000lbs</td>
                                                                    <td class="sec-pad">&nbsp;</td>
                                                                    <td class="sec-pad">&nbsp;</td>
                                                                    <td class="sec-pad">&nbsp;</td>
                                                                    <td class="sec-pad">&nbsp;</td>
                                                                    <td class="sec-pad">&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="9" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                                                </tr>
                                                            </table>
                                                            
                                                            <!-- End: Commodity Table -->
                                                            
                                                            <table width="100%" cellspacing="0" border="0" cellpadding="0">
                                                                <tr>
                                                                    <td class="mod-body-pad"><div class="col-Left"><img src="/img/btn_select_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">
                                                                            <a href="repl_href">
                                                                                select all
                                                                            </a>
                                                                            <img src="/img/btn_clear_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">
                                                                            <a href="repl_href">
                                                                                clear all
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-Right butbaralign">
                                                                            <a href="repl_href">
                                                                                <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">add 5 blank rows
                                                                            </a>
                                                                        </div></td>
                                                                </tr>
                                                            </table></td>
                                                    </tr>
                                                </table>
                                                <table border="0" width="560" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td class="sec-pad" width="100%"><span class="fldLbl">special instructions:</span><br>
                                                            <textarea name="field04" rows="5" cols="95">enter text....</textarea>
                                                            <br>
                                                            <span class="reqTxtInst">(nnn character maximum.)</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="sec-pad" width="100%" align="right"><a href="repl_href">
                                                                view/print handling unit n list<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img src="/img/icn_print_blue.gif" alt="" width="9" height="10" border="0">
                                                            </a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="container border">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="uis-head">handling unit2 detail information <span class="show_hide">
                                                            <a href="repl_href">
                                                                <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">show
                                                            </a>
                                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="show_hide">
                                                            <a href="repl_href">
                                                                <img src="/img/btn_close_mini.gif" alt="" width="14" height="14" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">remove this handling unit
                                                            </a>
                                                            </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="mod-body-pad"> enter the detailed contents for your freight shipmenthandling unit 2.</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="container border">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="uis-head">handling unit3 detail information <span class="show_hide">
                                                            <a href="repl_href">
                                                                <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">show
                                                            </a>
                                                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="show_hide">
                                                            <a href="repl_href">
                                                                <img src="/img/btn_close_mini.gif" alt="" width="14" height="14" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">remove this handling unit
                                                            </a>
                                                            </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="mod-body-pad"> enter the detailed contents for your freight shipmenthandling unit 3.</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                            <div class="pi-h2">select packing lists</div>
                                            <table border="0" cellpadding="0" cellspacing="0" width="566">
                                                <tr>
                                                    <td colspan="6">indicate which individual handling unit packing list to include in your pdf file. select the <strong>view/print </strong>button to create your pdf file. you can  then view, save, and print your packing list.</td>
                                                </tr>
                                                <tr>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 1</td>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 2</td>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 3</td>
                                                </tr>
                                                <tr>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 4</td>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 5</td>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 6</td>
                                                </tr>
                                                <tr>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 7</td>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 8</td>
                                                    <td width="10"><input name="checkbox" type="checkbox" value="checkbox"></td>
                                                    <td class="sec-pad">handling unit 9</td>
                                                </tr>
                                            </table>
                                            <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                            <strong>note:</strong> you may save your pdf packing list to your computer for future reference.<br>
                                            <br></td>
                                    </tr>
                                </table></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- Begin: Button Bar Rows -->
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-bar"><div align="right" style="width:550">
                                    <input name="view/print" type="button" value="View/Print" class="btn">
                                    <input name="cancel" type="button" value="Cancel" class="btn">
                                    <input name="done" type="button" value="Done" class="btn_a">
                                </div></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- End: Button Bar Rows -->
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
            </tr>
        </table>
    </form>
</div>
