---
title: UPS Internet Freight
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    {{> background_modal_content }} 
    <!-- Dialog -->
    <div class="appLvl mod modal dialog">
        <div class="appHead clearfix">
            <h2>{{title}}</h2>
            <ul>
                <li>
                    <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
                </li>
            </ul>
        </div>
        <div class="appBody">
            <p class="error">>>>> error message goes here.</p>
            <p>please enter additional destination detail ... paragraph text.</p>
            <div class="secLvl seccol8 marginBegin">
                <fieldset>
                    <legend></legend>
                    <dl>
                        <dt>
                            <label for="repl_id">contact name:</label>
                        </dt>
                        <dd>
                            <input type="text" name="" id="">
                        </dd>
                        <dt>
                            <label for="repl_id">company or name:</label>
                        </dt>
                        <dd>
                            <input type="text" name="" id="">
                        </dd>
                        <dt>
                            <label for="repl_id">address line 1:</label>
                        </dt>
                        <dd>
                            <input type="text" name="" id="">
                        </dd>
                        <dt>
                            <label for="repl_id">city:</label>
                        </dt>
                        <dd>
                            <input type="text" name="" id="">
                        </dd>
                    </dl>
                </fieldset>
            </div>
            <div class="secLvl seccol8 marginEnd">
                <fieldset>
                    <legend></legend>
                    <div class="clearfix">
                        <dl class="flexFirst">
                            <dt>
                                <label for="repl_id">telephone:</label>
                            </dt>
                            <dd>
                                <input type="text" name="" id="">
                            </dd>
                        </dl>
                        <dl class="flexAfter indent">
                            <dt>
                                <label for="repl_id">ext.:</label>
                            </dt>
                            <dd>
                                <input name="" type="text" size="5">
                            </dd>
                        </dl>
                    </div>
                    <div style="clear:both"></div>
                    <dl class="clearfix">
                        <dt>
                            <label for="repl_id">zip code:</label>
                        </dt>
                        <dd>
                            <input type="text" name="" id="" value="[user data]">
                        </dd>
                        <dt>
                            <label for="repl_id">country or territory:</label>
                        </dt>
                        <dd> [user data] </dd>
                    </dl>
                </fieldset>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="appFooter">
            <div class="btnBar alignCenter">
                <input name="" type="button" value="no_btn" class="btn">
                <input name="" type="button" value="yes_btn" class="btn">
            </div>
        </div>
    </div>
    <!--/ END Dialog -->
    
<script type="text/javascript">
	
$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:470});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});	
});

</script>
</div>
