---
title: create a shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <ul id="subTab">
            <li class="tab-off">
                <a href="repl_href">
                    package
                </a>
            </li>
            <li class="tab-on">freight</li>
        </ul>
        <div style="clear: both;"></div>
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
            <tr>
                <td><!-- Begin: Section Module -->
                    
                    <div class="modFixed4col">
                        <div class="modContent">
                            <p><b>air freight services are not supported online for this country or territory</b></p>
                            <p>please call us so we can help you with your shipment needs. use the
                                <a href="javascript:repl_function('repl_href')">
                                    ups supply chain solutions global directory<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0">
                                </a>
                                to find your local contact, get a freight quote, and schedule your service</p>
                            <br>
                            <ul class="lstArrow">
                                <li class="back">
                                    <a href="repl_href">
                                        back to create a shipment
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- End: Section Module --></td>
            </tr>
        </table>
    </form>
</div>
