---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table width="566" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><!-- Begin Table: Module Table Header (Parent:Formatting Table) -->
                    
                    <div id="tabHeader">
                        <ul>
                            <li class="tab-off">
                                <a href="repl_href">
                                    package
                                </a>
                            </li>
                            <li class="tab-on">freight</li>
                        </ul>
                    </div>
                    
                    <!-- End Table: Module Table Header (Parent:Formatting Table) -->
                    <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="mod-clr">
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">edit ship to address</span></td>
                                                    <td class="mod-clr" align="right"><a href="javascript:helpModLvl('repl_href')">
                                                            help<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                        </a></td>
                                                </tr>
                                            </table>
                                            
                                            <!-- Begin: Exception Error Message -->
                                            <br>
                                            <div class="redErrorBold">&gt;&gt;&gt; error messaging appears here</div>
                                            <br>
                                            
                                            <!-- End: Error Message --> 
                                            please modify the information given below and select <span class="bold">next</span>. required fields are indicated with<img alt="" src="/img/icn_dia.gif" width="11" height="9" border="0">.<br>
                                            &nbsp;
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td class="fldArea"><span class="pi-h2">address information</span></td>
                                                    <td class="fldArea">&nbsp;</td>
                                                    <td class="fldArea">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="fldArea"><span class="pi-h3 nopad">select ship to:</span><br></td>
                                                    <td class="fldArea">&nbsp;</td>
                                                    <td class="fldArea">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="fldArea"><dl>
                                                            <dt class="fldLbl nopad">my ups address book:</dt>
                                                            <dd class="nopad">
                                                                <select name="select" class="modSelMedium">
                                                                    <option selected>select one</option>
                                                                </select>
                                                            </dd>
                                                        </dl></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <!-- Left Column -->
                                                    <td valign="top" class="fldArea"><dl>
                                                            <dt class="fldLbl nopad">contact name:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{Contact}">
                                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"><br>
                                                                <span class="reqTxtInst">(required for air freight)</span></dd>
                                                            <dt class="fldLbl nopad">company or name:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{Name}">
                                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                                            <dt class="fldLbl">country or territory</dt>
                                                            <dd>
                                                                <select name="select2" class="modSelMedium">
                                                                    <option selected>country or territory</option>
                                                                </select>
                                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                                            <dt class="fldLbl nopad">street address:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{Address 1}">
                                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                                            <dt class="fldLbl nopad">room; floor; apartment:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{Address 2}">
                                                            </dd>
                                                            <dt class="fldLbl nopad">store number :</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{Address 3}">
                                                            </dd>
                                                        </dl></td>
                                                    <td>&nbsp;</td>
                                                    <!-- Right Column-->
                                                    <td valign="top" class="fldArea"><dl>
                                                            <dt class="fldLbl nopad">city:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{City}">
                                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                                            <dd class="nopad">
                                                                <table border="0" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td><span class="fldLbl">state/province:</span><br>
                                                                            <select name="" class="modSelMedium">
                                                                                <option selected>select one</option>
                                                                            </select>
                                                                            <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"><br>
                                                                            <span class="reqTxtInst">(us/canada)</span></td>
                                                                        <td valign="top" class="mod-pad"><span class="fldLbl">other:</span><br>
                                                                            <input name="textfield" type="text" class="modTxtSmall" size="5"></td>
                                                                    </tr>
                                                                </table>
                                                            </dd>
                                                            <dt class="fldLbl">postal/zip code:</dt>
                                                            <dd>
                                                                <input type="text" name="textfield" class="modTxtMediumSmall" value="{12345-6789}">
                                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"><br>
                                                                <span class="reqTxtInst">(required for countries or territories with an *)</span>
                                                            </dd>
                                                            <dd class="nopad">
                                                                <table border="0" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td><span class="fldLbl">telephone:</span><br>
                                                                            <input type="text" name="textfield" class="modTxtMediumSmall" value="{123-456-7890}">
                                                                            <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"><br>
                                                                            <span class="reqTxtInst">(required for air freight)</span></td>
                                                                        <td valign="top"class="mod-pad"><span class="fldLbl">ext:</span><br>
                                                                            <input name="textfield2" type="text" class="modTxtSmall" size="5"></td>
                                                                    </tr>
                                                                </table>
                                                            </dd>
                                                            <dt class="fldLbl">e-mail:</dt>
                                                            <dd>
                                                                <input name="ref1" type="text" class="modTxtMedium" value="{address@email.com}">
                                                            </dd>
                                                            <dd>
                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td><input name="checkbox" type="checkbox" value="input1" checked></td>
                                                                        <td>perform detailed address verification</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><input name="checkbox" type="checkbox" value="input1"></td>
                                                                        <td>residential address</td>
                                                                    </tr>
                                                                </table>
                                                            </dd>
                                                        </dl></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3"><div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" class="fldArea"><dl>
                                                            <dt class="fldLbl">save options for address:</dt>
                                                            <dd>
                                                                <select name="select" class="modSelMedium">
                                                                    <option selected>select one</option>
                                                                </select>
                                                            </dd>
                                                        </dl></td>
                                                    <td>&nbsp;</td>
                                                    <td valign="top" class="fldArea"><dl>
                                                            <dt class="fldLbl">save this to my address book as:</dt>
                                                            <dd>
                                                                <input type="text" name="textfield" class="modTxtMedium" value="">
                                                            </dd>
                                                        </dl></td>
                                                </tr>
                                            </table>
                                            
                                            <!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
                                    </tr>
                                </table></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- Begin: Button Bar Rows -->
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-bar" align="right"><input name="back" type="button" value="Back" class="btn_bak_a">
                                <input name="next" type="button" value="Next" class="btn_a"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- End: Button Bar Rows -->
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
            </tr>
        </table>
    </form>
</div>
