---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- ///////                                                                          ////// -->
    <!-- //////   *****      DO NOT USE THE FOLLOWING IDs IN PRODUCTION CODE      *****    ///// -->
    <!-- /////                                                                              //// -->
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- //////                                                                            ///// -->
    <!-- ///////         ****   all id="dyn_pnl_1" through id="dyn_pnl_nn"   ****         ////// -->
    <!-- ////////        ****   all id="pnl_1_1" through id="pnl_nn_nn"      ****        /////// -->
    <!-- /////////                                                                      //////// -->
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
    
    <form action="repl_faction">
        <ul id="subTab">
            <li class="tab-off">
                <a href="repl_href">
                    package
                </a>
            </li>
            <li class="tab-on">freight</li>
        </ul>
        <div style="clear: both;"></div>
        <!-- ///////////////////////////////////////////////////////////////////////// -->
        <!-- ///////////////////////////////////////////////////////////////////////// -->
        <!-- //// Do not use Dyn_Pnls in production code                          //// -->
        <!-- ///////////////////////////////////////////////////////////////////////// -->
        <!-- ///////////////////////////////////////////////////////////////////////// -->
        <!-- //// Begin 4 Commodity and Handling Unit Information                 //// -->
        <!-- //// Begin Dyn_Pnl_1                                                 //// -->
        <!-- ///////////////////////////////////////////////////////////////////////// -->
        <div id="dyn_pnl_1">
            <!-- //////////////////////////////////////////////////////////////////////// -->
            <!-- //// Begin Panel 1 - Default                                        //// -->
            <!-- //////////////////////////////////////////////////////////////////////// -->
            <div id="pnl_1_1">
                <table width="710" border="0" cellspacing="0" cellpadding="0" class="tab" role="presentation">
                    
                    <!-- begin Application Header -->
                    <tr>
                        <th> <div class="modHead">
                                <h2>Select an International Forms Option</h2>
                                <ul>
                                    <li class="helpmini">
                                        <a href="javascript:repl_function('repl_href')">
                                            Help
                                        </a>
                                    </li>
                                </ul>
                                <div style="clear: both;"></div>
                            </div>
                        </th>
                    </tr>
                    <!-- end Application Header -->
                    
                    <!-- begin Application Body -->
                    
                    <tr>
                        <td><!-- Begin: Intro -->
                            
                            <div class="">
                                <p class="error">>>>>> error message.</p>
                                <p>Use the options below to indicate how you would like to generate export forms for this shipment.</p>
                            </div>
                            
                            <!-- End: Intro -->
                            
                            <table cellspacing="0" cellpadding="0" border="0" role="presentation">
                                <tr>
                                    <td width="10" valign="top"><input type="checkbox" id="repl_id" value="" name="repl_fname" ></td>
                                    <td><label class="sel" for="repl_id"> Designate shipment for State Department License Filing </label></td>
                                    <td><span style="margin-left:50px;">
                                        <a href="repl_href">
                                            What's This?
                                        </a>
                                        </span></td>
                                </tr>
                            </table>
                            
                            <!-- Begin: Section Module -->
                            
                            <div class="stepModContent" id="step" style="width:696px !important;">
                                <fieldset>
                                    <legend>select option</legend>
                                    
                                    <!-- //////////////////// -->
                                    <!-- begin JAN 12 ER 1206 -->
                                    <!-- Jan 12 : Select an International Forms Option - US - Paperless -->
                                    
                                    <p><strong>You requested to complete this shipment with paper forms.</strong></p>
                                    
                                    <!-- Select an International Forms Option - US - Paperless -->
                                    <!-- end JAN 12 ER 1206 -->
                                    <!-- ** Modify For ER1406 ** -->
                                    
                                    <div class="secLvl supportCall" style="padding-top:10px;padding-bottom:10px;margin-left:10px;border: 1px solid #D4CCBF;">
                                        <fieldset>
                                            <div class="secBody">
                                                <div style="margin-left:0px;padding-bottom:5px;">
                                                    <input type="radio" name="repl_fname" value="repl_fvalue" id="completeSelForm" checked>
                                                    <label class="sel" for="completeSelForm">Complete Selected Forms Online</label>
                                                </div>
                                                <div style="margin-left:20px;" >
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tr>
                                                            <td width="20"><!--<img src="/img/icn_check.gif" alt="repl_alt">-->
                                                                
                                                                <input type="checkbox" id="repl_id" name="repl_name"></td>
                                                            <td><label class="sel" for="repl_id">Commercial Invoice</label>
                                                                
                                                                <!--<span style="margin-left:20px;"><a href="repl_href" class="btnlnkR helpIcon">(UPS Paperless<sup>sm</sup> Invoice)</a></span>--></td>
                                                            <td><a href="repl_href">
                                                                    View Sample
                                                                </a></td>
                                                            <td><a href="repl_href">
                                                                    Print Blank
                                                                </a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="8.5">
                                                                <input type="checkbox" id="repl_id" name="repl_name"></td>
                                                            <td><label class="sel" for="repl_id">NAFTA Certificate of Origin</label>
                                                                
                                                                <!--<span style="margin-left:20px;"><a href="repl_href" class="btnlnkR helpIcon">(UPS Paperless NAFTA)</a></span>--></td>
                                                            <td><a href="repl_href">
                                                                    View Sample
                                                                </a></td>
                                                            <td><a href="repl_href">
                                                                    Print Blank
                                                                </a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="8.5">
                                                                <input type="checkbox" id="repl_id" name="repl_name"></td>
                                                            <td ><label class="sel" for="repl_id">U.S. Certificate of Origin</label></td>
                                                            <td><a href="repl_href">
                                                                    View Sample
                                                                </a></td>
                                                            <td><a href="repl_href">
                                                                    Print Blank
                                                                </a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><!--<img src="/img/icn_check.gif" alt="repl_alt">-->
                                                                
                                                                <input type="checkbox" id="repl_id" name="repl_name"></td>
                                                            <td><label class="sel" for="repl_id">Electronic Export Information(EEI)</label></td>
                                                            <td><a href="repl_href">
                                                                    View Sample
                                                                </a></td>
                                                            <td><a href="repl_href">
                                                                    Print Blank
                                                                </a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="1"></td>
                                                            <td colspan="3"><label for="repl_id">
                                                                    <a href="repl_href" class="btnlnkR helpIcon">
                                                                        Select EEI Filing Method:
                                                                    </a>
                                                                </label></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="1"></td>
                                                            <td colspan="3"><select id="repl_id" name="repl_name" style="width:250;">
                                                                    <option value="repl_value">Select One</option>
                                                                    <option value="repl_value">I have an ITN</option>
                                                                    <option value="repl_value">No EEI needed</option>
                                                                    <option value="repl_value">Self-file with ACE</option>
                                                                    <option value="repl_value">UPS file my EEI for me</option>
                                                                    <option value="repl_value">File post departure</option>
                                                                </select></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="1"></td>
                                                            <td colspan="3"><p><strong>Note:</strong> To file your EEI electronically, you must first register at
                                                                    <a href="repl_href" target="_blank">
                                                                        https://ace.cbp.dhs.gov/
                                                                    </a>
                                                                    .<br>
                                                                    <strong>If you elect to have UPS file your EEI, a USD $15 fee will appear on your shipment charges.</strong>
                                                                </p></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><input name="repl_fname" type="checkbox" value="repl_fvalue" id="usShipperExportDeclar" checked></td>
                                                            <td colspan="4"><label class="sel" for="usShipperExportDeclar">I will
                                                                    <a href="repl_href" class="btnlnkR helpIcon">
                                                                        Upload
                                                                    </a>
                                                                    my own forms also</label></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="secLvl supportCall" style="padding:10px;margin-left:10px;border: 1px solid #D4CCBF;">
                                        <fieldset>
                                            <div class="secBody">
                                                <input type="radio" name="repl_fname" value="repl_fvalue" id="repl_fid">
                                                <label class="sel" for="repl_fid">Refuse Forms from History</label>
                                                <table border="0" cellpadding="0" cellspacing="0"  class="indent" role="presentation">
                                                    <tr>
                                                        <td valign="top"><input name="repl_fname" type="checkbox" value="repl_fvalue" id=""></td>
                                                        <td><label for="" class="sel">I will
                                                                <a href="repl_href" class="btnlnkR helpIcon">
                                                                    Upload
                                                                </a>
                                                                my own forms also</label></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="secLvl supportCall" style="padding:10px;margin-left:10px;border: 1px solid #D4CCBF;">
                                        <fieldset>
                                            <div class="secBody">
                                                <span>
                                                <input type="radio" name="repl_fname" value="repl_fvalue" id="upsSuggest">
                                                <label class="sel" for="upsSuggest">
                                                    <a href="repl_href" class="btnlnkR helpIcon">
                                                        Upload my Forms
                                                    </a>
                                                </label>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="secLvl supportCall" style="padding:10px;margin-left:10px;border: 1px solid #D4CCBF;">
                                        <fieldset>
                                            <div class="secBody">
                                                <span>
                                                <input type="radio" name="repl_fname" value="repl_fvalue" id="repl_fid">
                                                Let UPS Suggest Forms for this Shipment </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="secLvl supportCall" style="padding:10px;margin-left:10px;border: 1px solid #D4CCBF;">
                                        <fieldset>
                                            <div class="secBody">
                                                <span>
                                                <input type="radio" name="repl_fname" value="repl_fvalue" id="repl_fid">
                                                Ship Now with my own paper export documents </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div style="clear:both;"></div>
                                </fieldset>
                            </div>
                            
                            <!-- End: Section Module --></td>
                    </tr>
                    
                    <!-- end Application Body -->
                    
                    <!-- begin Application Button Bar -->
                    <tr>
                        <td class="btn-bar"><div class="btn" style="text-align:right;">
                                <input name="repl_fname" type="button" value="back" class="btn_bak_a">
                                <input name="repl_fname" type="button" value="Next" class="btn_a">
                            </div></td>
                    </tr>
                    <!-- end Application Button Bar -->
                    
                </table>
                <div class="modContent">
                    <table width="710" border="0" cellspacing="0" cellpadding="0" role="presentation">
                        <tr>
                            <td><h4>adobe reader</h4>
                                <p>to view or print this file, you will need adobe reader<sup>&reg;</sup>.  if you do not have adobe reader, select the "get adobe reader<sup>&reg;</sup>" icon for further instructions.</p>
                                <span>
                                <img alt="Get Adobe Reader" src="/img/btn_get_reader.gif" width="88" height="31">
                                </span>
                                <p class="reqTxtInst">adobe<sup>&reg;</sup>, adobe acrobat reader<sup>&reg;</sup> are either trademarks or registered trademarks of adobe systems incorporated in the united states and other countries or territories.<br>
                                </p>
                                <p><strong>note:</strong> customers submitting a u.s. shipper's export declaration form, please review our important electronic
                                    <a href="repl_href">
                                        EEI Filing Information
                                    </a>
                                    .  this service is designed for goods whose
                                    <a href="repl_href" class="btnlnkR newWindowIcon">
                                        origin
                                    </a>
                                    is the u.s. or puerto rico only.</p></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- //////////////////////////////////////////////////////////////////////// -->
            <!-- //// End Panel 1 - Default                                          //// -->
            <!-- //// Begin Panel 2 - Paperless View                                 //// -->
            <!-- //////////////////////////////////////////////////////////////////////// -->
            <div id="pnl_1_2">
                <table width="710" border="0" cellspacing="0" cellpadding="0" class="tab" role="presentation">
                    
                    <!-- begin Application Header -->
                    <tr>
                        <th> <div class="modHead">
                                <h2>Select an International Forms Option</h2>
                                <ul>
                                    <li class="helpmini">
                                        <a href="javascript:repl_function('repl_href')">
                                            Help
                                        </a>
                                    </li>
                                </ul>
                                <div style="clear: both;"></div>
                            </div>
                        </th>
                    </tr>
                    <!-- end Application Header -->
                    
                    <!-- begin Application Body -->
                    
                    <tr>
                        <td><!-- Begin: Intro -->
                            
                            <div class="">
                                <p class="error">>>>>> error message.</p>
                                <p>Use the options below to indicate how you would like to generate export forms for this shipment.</p>
                            </div>
                            
                            <!-- End: Intro -->
                            
                            <table cellspacing="0" cellpadding="0" border="0" role="presentation">
                                <tr>
                                    <td width="10" valign="top"><input type="checkbox" id="repl_id" value="" name="repl_fname" ></td>
                                    <td><label class="sel" for="repl_id"> Designate shipment for State Department License Filing </label></td>
                                    <td><span style="margin-left:50px;">
                                        <a href="repl_href">
                                            What's This?
                                        </a>
                                        </span></td>
                                </tr>
                            </table>
                            
                            <!-- Begin: Section Module -->
                            
                            <div class="stepModContent" id="step" style="width:696px !important;">
                                <fieldset>
                                    <legend>select option</legend>
                                    
                                    <!-- //////////////////// -->
                                    <!-- begin JAN 12 ER 1206 -->
                                    <!-- Jan 12 : Select an International Forms Option - US - Paperless -->
                                    
                                    <p><strong>You requested to complete this shipment with paperless forms.</strong></p>
                                    
                                    <!-- Select an International Forms Option - US - Paperless -->
                                    <!-- end JAN 12 ER 1206 -->
                                    <!-- ** Modify For ER1406 ** -->
                                    
                                    <div class="secLvl supportCall" style="padding-top:10px;padding-bottom:10px;margin-left:10px;border: 1px solid #D4CCBF;">
                                        <fieldset>
                                            <div class="secBody">
                                                <div style="margin-left:0px;padding-bottom:5px;">
                                                    <input type="radio" name="repl_fname" value="repl_fvalue"id="completeSelForm" checked>
                                                    <label class="sel" for="completeSelForm">Complete Selected Forms Online</label>
                                                </div>
                                                <div style="margin-left:20px;" >
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tr>
                                                            <td width="20"><img src="/img/icn_check.gif" alt="repl_alt">
                                                                <!--<input type="checkbox" id="repl_id" name="repl_name">--></td>
                                                            <td><span class="sel" for="repl_id">Commercial Invoice</span>
                                                                <span style="margin-left:20px;">
                                                                <a href="repl_href" class="btnlnkR helpIcon">
                                                                    (UPS Paperless<sup>sm</sup> Invoice)
                                                                </a>
                                                                </span></td>
                                                            <td><a href="repl_href">
                                                                    View Sample
                                                                </a></td>
                                                            <td><a href="repl_href">
                                                                    Print Blank
                                                                </a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="8.5">
                                                                <!--<input type="checkbox" id="repl_id" name="repl_name">--></td>
                                                            <td><span class="sel" for="repl_id">NAFTA Certificate of Origin</span>
                                                                <span style="margin-left:20px;">
                                                                <a href="repl_href" class="btnlnkR helpIcon">
                                                                    (UPS Paperless NAFTA)
                                                                </a>
                                                                </span></td>
                                                            <td><a href="repl_href">
                                                                    View Sample
                                                                </a></td>
                                                            <td><a href="repl_href">
                                                                    Print Blank
                                                                </a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="8.5">
                                                                <!--<input type="checkbox" id="repl_id" name="repl_name">--></td>
                                                            <td ><span class="sel" for="repl_id">U.S. Certificate of Origin</span></td>
                                                            <td><a href="repl_href">
                                                                    View Sample
                                                                </a></td>
                                                            <td><a href="repl_href">
                                                                    Print Blank
                                                                </a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img src="/img/icn_check.gif" alt="repl_alt">
                                                                <!--<input type="checkbox" id="repl_id" name="repl_name"></td>-->
                                                            <td><span class="sel" for="repl_id">Electronic Export Information(EEI)</span></td>
                                                            <td><a href="repl_href">
                                                                    View Sample
                                                                </a></td>
                                                            <td><a href="repl_href">
                                                                    Print Blank
                                                                </a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="1"></td>
                                                            <td colspan="3"><label for="repl_id">
                                                                    <a href="repl_href" class="btnlnkR helpIcon">
                                                                        Select EEI Filing Method:
                                                                    </a>
                                                                </label></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="1"></td>
                                                            <td colspan="3"><select id="repl_id" name="repl_name" style="width:250;">
                                                                    <option value="repl_value">Select One</option>
                                                                    <option value="repl_value">I have an ITN</option>
                                                                    <option value="repl_value">No EEI needed</option>
                                                                    <option value="repl_value">Self-file with ACE</option>
                                                                    <option value="repl_value">UPS file my EEI for me</option>
                                                                    <option value="repl_value">File post departure</option>
                                                                </select></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="1"></td>
                                                            <td colspan="3"><p><strong>Note:</strong> To file your EEI electronically, you must first register at
                                                                    <a href="repl_href" target="_blank">
                                                                        https://ace.cbp.dhs.gov/
                                                                    </a>
                                                                    .<br>
                                                                    <strong>If you elect to have UPS file your EEI, a USD $15 fee will appear on your shipment charges.</strong>
                                                                </p></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20" valign="top"><input name="repl_fname" type="checkbox" value="repl_fvalue" id="usShipperExportDeclar" checked></td>
                                                            <td colspan="4"><label class="sel" for="usShipperExportDeclar">I will
                                                                    <a href="repl_href" class="btnlnkR helpIcon">
                                                                        Upload
                                                                    </a>
                                                                    my own forms also</label></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="secLvl supportCall" style="padding:10px;margin-left:10px;border: 1px solid #D4CCBF;">
                                        <fieldset>
                                            <div class="secBody">
                                                <input type="radio" name="repl_fname" value="repl_fvalue" id="repl_fid">
                                                <label class="sel" for="repl_fid">Reuse Forms from History</label>
                                                <table border="0" cellpadding="0" cellspacing="0"  class="indent" role="presentation">
                                                    <tr>
                                                        <td valign="top"><input name="repl_fname" type="checkbox" value="repl_fvalue" id=""></td>
                                                        <td><label for="" class="sel">I will
                                                                <a href="repl_href" class="btnlnkR helpIcon">
                                                                    Upload
                                                                </a>
                                                                my own forms also</label></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <!--<div class="secLvl supportCall" style="padding:10px;margin-left:10px;border: 1px solid #D4CCBF;">
										<fieldset>
											<div class="secBody"> <span>
												<input type="radio" name="repl_fname" value="repl_fvalue" id="upsSuggest">
												<label class="sel" for="upsSuggest"><a href="repl_href" class="btnlnkR helpIcon">Upload my Forms</a></label>
												</span> </div>
										</fieldset>
									</div>-->
                                    <div class="secLvl supportCall" style="padding:10px;margin-left:10px;border: 1px solid #D4CCBF;">
                                        <fieldset>
                                            <div class="secBody">
                                                <span>
                                                <input type="radio" name="repl_fname" value="repl_fvalue" id="repl_fid">
                                                Let UPS Suggest Forms for this Shipment </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <!--<div class="secLvl supportCall" style="padding:10px;margin-left:10px;border: 1px solid #D4CCBF;">
										<fieldset>
											<div class="secBody"> <span>
												<input type="radio" name="repl_fname" value="repl_fvalue" id="repl_fid">
												Ship Now with my own paper export documents </span> </div>
										</fieldset>
									</div>-->
                                    <div style="clear:both;"></div>
                                </fieldset>
                            </div>
                            
                            <!-- End: Section Module --></td>
                    </tr>
                    
                    <!-- end Application Body -->
                    
                    <!-- begin Application Button Bar -->
                    <tr>
                        <td class="btn-bar"><div class="btn" style="text-align:right;">
                                <!--<input name="repl_fname" type="button" value="back" class="btn_bak_a">-->
                                <input name="repl_fname" type="button" value="Next" class="btn_a">
                            </div></td>
                    </tr>
                    <!-- end Application Button Bar -->
                    
                </table>
                <!--<div class="modContent">
					<table width="710" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><h4>adobe reader</h4>
								<p>to view or print this file, you will need adobe reader<sup>&reg;</sup>.  if you do not have adobe reader, select the "get adobe reader<sup>&reg;</sup>" icon for further instructions.</p>
								<span> <img alt="Get Adobe Reader" src="/img/btn_get_reader.gif" width="88" height="31"> </span>
								<p class="reqTxtInst">adobe<sup>&reg;</sup>, adobe acrobat reader<sup>&reg;</sup> are either trademarks or registered trademarks of adobe systems incorporated in the united states and other countries or territories.<br>
								</p>
								<p><strong>note:</strong> customers submitting a u.s. shipper's export declaration form, please review our important electronic <a href="repl_href">EEI Filing Information</a>.  this service is designed for goods whose <a href="repl_href" class="btnlnkR newWindowIcon">origin</a> is the u.s. or puerto rico only.</p></td>
						</tr>
					</table>
				</div>-->
                
            </div>
            <!-- //////////////////////////////////////////////////////////////////////// -->
            <!-- //// End Panel 2 - Paperless View                                   //// -->
            <!-- //////////////////////////////////////////////////////////////////////// -->
        </div>
        <!-- end dyn_pnl -->
    </form>
    
    <!-- /////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////// -->
    <!-- //// Do not use Dyn_Pnls in production code        //// -->
    <!-- /////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////// -->
    <!-- //// Begin IC DEV Dynamic Panel Module             //// -->
    <!-- /////////////////////////////////////////////////////// -->
    
    <!-- Section 1 -->
    <div id="select_pnl_1">
        <dl role="presentation">
            <dt>
                <label for="dyn_pnl_select_1">Integrated Freight Int'l Forms</label>
            </dt>
            <dd>
                <select id="dyn_pnl_select_1" class="formcol5">
                    <option value="1">Default</option>
                    <option value="2">Paperless View</option>
                </select>
            </dd>
        </dl>
    </div>
</div>
