---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- Begin SubTabs -->
        <ul id="subTab">
            <li class="tab-off">
                <a href="repl_href">
                    package
                </a>
            </li>
            <li class="tab-on">freight</li>
            <li class="tab-off">
                <a href="repl_href">
                    international forms
                </a>
            </li>
        </ul>
        <!-- End SubTabs -->
        <div style="clear:both;"></div>
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab" role="presentation">
            <tr>
                <th><div class="head-col4">
                        <h2>shipment details</h2>
                        <div style="clear:both;"></div>
                    </div></th>
            </tr>
            <tr>
                <td><div class="introModFixed">
                        <p>below are the details for the shipment you selected in history.</p>
                    </div>
                    
                    <!-- Begin Module -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>address information</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>address information</legend>
                                <!--<dl role="presentation" class="flexFirst">
											<dt>
												<label for="">ship from:</label>
											</dt>
											<dd>company name<br>
												<label for="">contact:</label>
												contact name<br>
												address 1<br>
												room; floor; apartment<br>
												store number<br>
												city, state<br>
												country or territory<br>
												postal code<br>
												<label for="">telephone:</label>
												000-000-0000<br>
												<label for="">ext:</label>
												0000</dd>
										</dl>
										<dl role="presentation" class="flexAfter">
											<dt>
												<label for="">ship to:</label>
											</dt>
											<dd>company name<br>
												<label for="">contact:</label>
												contact name<br>
												address 1<br>
												room; floor; apartment<br>
												store number<br>
												city, state<br>
												country or territory<br>
												postal code<br>
												<label for="">telephone:</label>
												000-000-0000<br>
												<label for="">ext:</label>
												0000</dd>
										</dl>
										<dl role="presentation" class="flexAfter">
											<dt>
												<label for="">third party:</label>
											</dt>
											<dd>company name<br>
												<label for="">contact:</label>
												contact name<br>
												address 1<br>
												room; floor; apartment<br>
												store number<br>
												city, state<br>
												country or territory<br>
												postal code<br>
												<label for="">telephone:</label>
												000-000-0000<br>
												<label for="">ext:</label>
												0000</dd>
										</dl>-->
                                <dl role="presentation" class="flexFirst">
                                    <dt>
                                        <span class="label">ship from:</span>
                                    </dt>
                                    <dd>John Smith<br>
                                        UPS Innoplex<br>
                                        2010 Warsaw Rd<br>
                                        Roswell, GA 30076<br>
                                        US<br>
                                        <br>
                                        Telephone: 800-742-5877<br>
                                    </dd>
                                </dl>
                                <dl role="presentation" class="flexAfter">
                                    <dt>
                                        <span class="label">ship to:</span>
                                    </dt>
                                    <dd>Pat Jones<br>
                                        Consolidated Equip<br>
                                        6707 North Basin Ave<br>
                                        Portland, OR 97217<br>
                                        US<br>
                                        <br>
                                        Telephone: 800-742-5877<br>
                                    </dd>
                                </dl>
                                <dl role="presentation" class="flexAfter">
                                    <dt>
                                        <span class="label">Third Party:</span>
                                    </dt>
                                    <dd>Lynn Smith<br>
                                        Company Name<br>
                                        Street Address 1<br>
                                        City, State 00000<br>
                                        US<br>
                                        <br>
                                        Telephone: 800-123-4567<br>
                                    </dd>
                                </dl>
                                <div style="clear:both"></div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module -->
                    
                    <hr>
                    
                    <!-- Begin Module -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>shipment information</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>shipment information</legend>
                                <div class="outHozFixed2">
                                    <dl role="presentation">
                                        <dt>
                                            <label for="">pro number:</label>
                                        </dt>
                                        <dd>[123456789]</dd>
                                        <!--<dt>
													<label for="">bol number:</label>
												</dt>
												<dd>123456789</dd>-->
                                        <dt>
                                            <label for="">freight service:</label>
                                        </dt>
                                        <dd>[ups freight service name]</dd>
                                    </dl>
                                    <div class="indent">
                                        <p>Typically [<strong>0</strong>] business days in transit once this shipment has been tendered to UPS.</p>
                                    </div>
                                    <dl>
                                        <dt>
                                            <label for="">payment terms:</label>
                                        </dt>
                                        <dd>[bill receiver*]</dd>
                                    </dl>
                                    <div class="indent">
                                        <p>* charges for freight shipments are billed separately by ups freight, and will not appear on your ups small package invoice.</p>
                                    </div>
                                </div>
                                <!--<fieldset>
											<legend>pickup reuqest</legend>
											<div class="outHozFixed2">
												<dt>
													<label for="">pickup request number:</label>
												</dt>
												<dd><a href="repl_href">nnnnnnnnnnx</a></dd>
											</div>
											<div style="clear:both;"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
											<p>
											<ul class="lstArrow">
												<li><a href="repl_href">view freight pickup request history</a></li>
											</ul>
											</p>
											<dl role="presentation">
												<dt>
													<label for="">your shipment will be ready for ups to pick up at:</label>
												</dt>
												<dd>12:00 pm tuesday, 10/11/2005</dd>
												<dt>
													<label for="">the latest time a which ups can pick up your shipment is:</label>
												</dt>
												<dd>5:00 pm tuesday, 10/11/2005</dd>
											</dl>
										</fieldset>
										<div class="outHozFixed2">
											<dl role="presentation">
												<dt>
													<label for="">estimated delivery date:</label>
												</dt>
												<dd>weekday, mm/dd/yyyy</dd>
												<dt>
													<label for="">shipment reference 1:</label>
												</dt>
												<dd>user data code 1</dd>
												<dt>
													<label for="">shipment reference 2:</label>
												</dt>
												<dd>user data code 2</dd>
											</dl>
										</div>
									</fieldset>-->
                            </fieldset>
                            <p>To <strong>cancel or inquire about an LTL Freight Pickup Request</strong> call: 1-800-333-7400</p>
                        </div>
                    </div>
                    
                    <!-- End Module -->
                    
                    <!-- Begin Module -->
                    
                    <div class="modFlex">
                        <div class="modHead">
                            <h3>shipment commodity information</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <table class="dataTable" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th nowrap><label>
                                                <a href="javascript:repl_function('repl_href')">
                                                    pieces<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                </a>
                                            </label></th>
                                        <th nowrap>description of goods</th>
                                        <th nowrap>packaging type</th>
                                        <th nowrap>weight</th>
                                        <th nowrap><label>
                                                <a href="javascript:repl_function('repl_href')">
                                                    nmfc<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                </a>
                                            </label></th>
                                        <th nowrap><label>
                                                <a href="javascript:repl_function('repl_href')">
                                                    class<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                </a>
                                            </label></th>
                                        <th nowrap><label>
                                                <a href="javascript:repl_function('repl_href')">
                                                    hazmat<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                </a>
                                            </label></th>
                                    </tr>
                                    <tr class="sec-row-od">
                                        <td class="sec-pad">[nnnn]</td>
                                        <td class="sec-pad">[description of goods]</td>
                                        <td class="sec-pad">[packaging]</td>
                                        <td class="sec-pad">[nnnn]</td>
                                        <td class="sec-pad">[nnnnnn]-[nn]</td>
                                        <td class="sec-pad">[nn]</td>
                                        <td class="sec-pad" align="center"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
                                    </tr>
                                    <!--<tr class="sec-row-ev">
												<td class="sec-pad">nnnn</td>
												<td class="sec-pad">packaging</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad" align="center"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
											</tr>
											<tr class="sec-row-od">
												<td class="sec-pad">nnnn</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">packaging</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad" align="center"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
											</tr>
											<tr class="sec-row-ev">
												<td class="sec-pad">nnnn</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">packaging</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad" align="center"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
											</tr>
											<tr class="sec-row-od">
												<td class="sec-pad">nnnn</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">packaging</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad">user data</td>
												<td class="sec-pad" align="center"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
											</tr>-->
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module -->
                    <!-- Begin Module -->
                    
                    <div class="scroll">
                        <div class="modFixed4col">
                            <div class="modContent">
                                <fieldset>
                                    <legend>commodity information</legend>
                                    <div class="outHozFixed2">
                                        <dl role="presentation">
                                            <dt>
                                                <label>total shipment pieces:</label>
                                            </dt>
                                            <dd>[nn]</dd>
                                            <dt>
                                                <label>total shipment weight:</label>
                                            </dt>
                                            <dd>[nn]</dd>
                                            <dt>
                                                <label>total shipment value:</label>
                                            </dt>
                                            <dd>[nn]</dd>
                                        </dl>
                                    </div>
                                    <br>
                                    <div>
                                        <dl role="presentation">
                                            <dt>
                                                <label for="">number of handling unit (moveable pieces) in shipment:</label>
                                            </dt>
                                            <dd><span class="bold">nn</span> as packaging type and <span class="bold">nn</span> as packaging type 2.</dd>
                                        </dl>
                                    </div>
                                    <div class="modFlex">
                                        <div class="modHead">
                                            <h3>Handling Units in this Shipment</h3>
                                        </div>
                                        <fieldset>
                                            <legend>Handling Unit in this Shipment</legend>
                                            <table class="dataTable" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <th nowrap="">&nbsp;</th>
                                                        <th nowrap="">Handling Unit Type:</th>
                                                        <th nowrap="">Number of<br>
                                                            Handling Units:</th>
                                                        <th nowrap="">Length (in.)</th>
                                                        <th nowrap="">Width (in.)</th>
                                                        <th nowrap="">Height (in.)</th>
                                                    </tr>
                                                    <tr class="odd">
                                                        <td>1</td>
                                                        <td>[Hand Unit Type]</td>
                                                        <td>[00]</td>
                                                        <td>[00]</td>
                                                        <td>[00]</td>
                                                        <td>[00] [in/cm]</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>[Hand Unit Type]</td>
                                                        <td>[00]</td>
                                                        <td>[00]</td>
                                                        <td>[00]</td>
                                                        <td>[00] [in/cm]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </div>
                                    <dl role="presentation">
                                        <dt>
                                            <label>shipment length, width, and height: </label>
                                        </dt>
                                        <dd class="indent">[nn] x [nn] x [nn]</dd>
                                    </dl>
                                    <!--<div style="clear:both"></div>-->
                                    <div class="outHozFixed2">
                                        <p><strong>- or -</strong></p>
                                        <dl role="presentation">
                                            <dt>
                                                <label>total shipment cubic feet:</label>
                                            </dt>
                                            <dd>[nn]</dd>
                                            <dt>
                                                <label>price per cubic foot:</label>
                                            </dt>
                                            <dd>[nn]</dd>
                                            <dt>
                                                <label>price per cwt:</label>
                                            </dt>
                                            <dd>[nn]</dd>
                                        </dl>
                                    </div>
                                    <dl role="presentation">
                                        <dt>
                                            <label>hazardous materials contact:</label>
                                        </dt>
                                        <dd class="indent">contact name</dd>
                                    </dl>
                                    <dl role="presentation">
                                        <dt class="flexFirst">
                                            <span class="label">telephone:</span>
                                        </dt>
                                        <dd class="flexAfter">[nnn-nnn-nnnn]</dd>
                                    </dl>
                                    <dl role="presentation">
                                        <dt class="flexAfter indent">
                                            <label>ext.:</label>
                                        </dt>
                                        <dd class="flexAfter">[nnnn]</dd>
                                    </dl>
                                    <div style="clear:both"></div>
                                    <!--<div class="outHozLedger">
												<dl role="presentation">
													<dt>
														<label>transportation charges:</label>
													</dt>
													<dd>00000000.00</dd>
												</dl>
											</div>-->
                                </fieldset>
                            </div>
                        </div>
                        <div class="modFixed4col">
                            <div class="modContent">
                                <table border="0" cellpadding="2" cellspacing="0" width="100%" role="presentation">
                                    <tr>
                                        <td><span class="label">gross charges: </span></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td><span class="label">[nn%] discounted amount: <br>
                                            &nbsp;&nbsp;(Less-Than-Truckload)</span></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td><span class="label">Amount After Discount: </span></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td><span class="label">[LTL Guaranteed Service name]: </span></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><h3>freight shipment options</h3></td>
                                    </tr>
                                    <tr>
                                        <td><span class="label">[c.o.d. fee] </span></td>
                                        <td></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent"><span class="label">[c.o.d.amount:]</span></td>
                                        <td nowrap="">[nn.nn usd.]</td>
                                        <td nowrap="">[funds collention method]</td>
                                        <td nowrap=""></td>
                                    </tr>
                                    <tr>
                                        <td class="indent"><span class="label">c.o.d. address:</span>
                                            <br>
                                            john smith<br>
                                            ups innoplex<br>
                                            2010 warsaw rd<br>
                                            roswell, ga 30076<br>
                                            us</td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                    </tr>
                                    <tr>
                                        <td><span class="label">fuel surcharge: </span></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td nowrap=""><span class="label">Rated As Weight:</span></td>
                                        <td nowrap="">[nn.n] [lbs.]</td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                    </tr>
                                    <tr>
                                        <td nowrap=""><span class="label">Density-based Rating</span><br>
                                            (rated as pounds per cubic foot)</td>
                                        <td nowrap="">[nnn]</td>
                                        <td nowrap=""></td>
                                        <td class="marginEnd" nowrap="">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td nowrap=""><span class="label">Deficit Rate:</span></td>
                                        <td nowrap="">[nn.nn]</td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                    </tr>
                                    <tr>
                                        <td nowrap=""><span class="label">Deficit Weight:</span></td>
                                        <td nowrap="">[nn.n] [lbs.]</td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                    </tr>
                                    <tr>
                                        <td nowrap=""><span class="label">Deficit Charge:</span></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td><span class="label">sub total after discount: </span></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                    <tr>
                                        <td><span class="label">handling charge:</span></td>
                                        <td nowrap="">[nn.nn]</td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd"></td>
                                    </tr>
                                    <tr>
                                        <td><span class="label">grand total:</span></td>
                                        <td nowrap=""></td>
                                        <td nowrap=""></td>
                                        <td nowrap class="marginEnd">[nn.nn]</td>
                                    </tr>
                                </table>
                                <p>All shipping charges in (CUR)</p>
                            </div>
                        </div>
                        
                        <!-- End Module -->
                        
                        <!-- Begin Module -->
                        
                        <!--<div class="modFixed4col">
									<div class="modHead">
										<h3>freight shipment options</h3>
										<div style="clear:both;"></div>
									</div>
									<div class="modContent">
										<fieldset>
											<legend>leged header</legend>
											<table border="0" cellpadding="2" cellspacing="0" width="100%">
												<tr>
													<td ><label>holiday/weekend pickup or delivery: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">00000000.00</td>
												</tr>
												<tr>
													<td ><label>residential pickup: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">00000000.00</td>
												</tr>
												<tr>
													<td ><label>cod: </label></td>
													<td>00000000.00 prepaid certified check </td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">00000000.00</td>
												</tr>
												<tr>
													<td class="indent"><span class="label">c.o.d.amount:</span></td>
													<td nowrap="">nn.nn usd.</td>
													<td nowrap="">[funds collention method]</td>
													<td nowrap=""></td>
												</tr>
												<tr>
													<td class="indent"><span class="label">c.o.d. address:</span> <br>
														john smith<br>
														ups innoplex<br>
														2010 warsaw rd<br>
														roswell, ga 30076<br>
														us</td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
												</tr>
												<tr>
													<td nowrap=""><span class="label">Rated As Weight:</span></td>
													<td nowrap="">[nn.n] [lbs.]</td>
													<td nowrap=""></td>
													<td nowrap=""></td>
												</tr>
												<tr>
													<td nowrap=""><span class="label">Density-based Rating<br>
														(rated as pounds per cubic foot)</span></td>
													<td nowrap="">[nnn]</td>
													<td nowrap=""></td>
													<td class="marginEnd" nowrap="">[nn.nn]</td>
												</tr>
												<tr>
													<td nowrap=""><span class="label">Deficit Rate:</span></td>
													<td nowrap="">[nn.nn]</td>
													<td nowrap=""></td>
													<td nowrap=""></td>
												</tr>
												<tr>
													<td nowrap=""><span class="label">Deficit Weight:</span></td>
													<td nowrap="">[nn.n] [lbs.]</td>
													<td nowrap=""></td>
													<td nowrap=""></td>
												</tr>
                                                
                                        -->
                        <!--<tr>
													<td nowrap=""><span class="label">Deficit Charge:</span></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">[nn.nn]</td>
												</tr>-->
                        <!--
												<tr>
													<td nowrap=""><span class="label">Handling Charge:</span></td>
													<td nowrap="">[nn.nn] [lbs.]</td>
													<td nowrap=""></td>
													<td nowrap=""></td>
												</tr>
												<tr>
													<td ><label>residential delivery: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td ><label>saturday delivery: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td><label>handling charge: </label></td>
													<td>00000000.00</td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td ><label>gross charges: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd"><strong>0000000000.00</strong></td>
												</tr>
												<tr>
													<td ><label>[nn%] discounted amount: <br>
														&nbsp;&nbsp;(Less-Than-Truckload)</label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td ><label>Amount After Discount: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd"><strong>0000000000.00</strong></td>
												</tr>
												<tr>
													<td ><label>[LTL Guaranteed Service name]: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd"><strong>0000000000.00</strong></td>
												</tr>
												<tr>
													<td ><label>sub total after discount: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd"><strong>0000000000.00</strong></td>
												</tr>
												<tr>
													<td ><label>ocean charges: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td ><label>fuel surcharge: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td ><label>total ocean charges: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td ><label>island charges: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td ><label>fuel surcharge: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td ><label>total island charges: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd">0000000000.00</td>
												</tr>
												<tr>
													<td colspan="4"><div class="hr_spltMod"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div></td>
												</tr>
												<tr>
													<td ><label>grand total: </label></td>
													<td nowrap=""></td>
													<td nowrap=""></td>
													<td nowrap class="marginEnd"><strong>**0000000000.00</strong></td>
												</tr>
											</table>
											<br>
											<p class="reqTxtInst">all shipping charges in (usd) </p>
											<p>message to user to contact ups, display when rates are not displayed. message to user to contact ups </p>
											<ul class="lstArrow">
												<li><a href="javascript:repl_function('repl_href')">enroll now<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></li>
											</ul>
										</fieldset>
									</div>
								</div>-->
                    </div>
                    
                    <!-- End Module -->
                    
                    <div class="modFixed4col">
                        <div class="modContent">
                            <p>[We are unable to return negotiated rates for this shipment. If you have a negotiated rate, it will apply at the point of billing. If you do not have a negotiated rate, UPS would like to extend an introductory offer for this shipment. To receive the introductory discount for this shipment, you must provide the BOL created on ups.com to your UPS Freight driver.<br>
                                <br>
                                To receive your negotiated rates on future online shipments, or if you would like to discuss your rate options, visit ups.com and enroll to complete your freight information.]</p>
                            <div class="arrow-blue">
                                <a href="repl_href">
                                    [Enroll Now]
                                </a>
                                <span class="btnlnkR newWindowIcon"><img alt="" border="0" height="12" src="/img/1.gif" width="12"></span></div>
                            <br>
                            <p>[For questions, please call 1-800-333-7400 to speak to a Customer Service Representative.]</p>
                        </div>
                    </div>
                    <hr>
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>Additional Reference Numbers</h3>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <hr>
                    
                    <!-- Begin Module -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>notifications</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <table class="dataTable" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th nowrap><label>e-mail address</label></th>
                                        <th nowrap><label>type</label></th>
                                    </tr>
                                    <tr class="odd">
                                        <td>1. [shipper@company.com]</td>
                                        <td>[ship; delivery]</td>
                                    </tr>
                                    <tr>
                                        <td>2. [receiver@company.com]</td>
                                        <td>[ship; delivery]</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>3. [address@company.com]</td>
                                        <td>[ship; delivery]</td>
                                    </tr>
                                    <tr>
                                        <td>4. [profile_default@company.com]</td>
                                        <td>[failure address]</td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module -->
                    
                    <hr>
                    
                    <!-- Begin Module -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>shipment instructions</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <!--<div class="modContent">
									<fieldset>
										<legend>shipment instructions</legend>
										<dl role="presentation">
											<dt>
												<label>pickup:</label>
											</dt>
											<dd>up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here.</dd>
											<dt>
												<label>handling:</label>
											</dt>
											<dd>up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here.</dd>
											<dt>
												<label>delivery:</label>
											</dt>
											<dd>up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here. up to nnn characters max here.</dd>
										</dl>
									</fieldset>
								</div>-->
                    </div>
                    
                    <!-- End Module -->
                    
                    <hr>
                    
                    <!-- Begin Module -->
                    
                    <!--<div class="modFixed4col">
								<div class="modHead">
									<h3>additional reference numbers</h3>
									<div style="clear:both;"></div>
								</div>
								<div class="modContent">
									<fieldset>
										<table class="dataTable" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<th nowrap><label>reference number</label></th>
												<th nowrap><label>type</label></th>
												<th nowrap><label>number of cartons</label></th>
												<th nowrap><label>weight</label></th>
											</tr>
											<tr class="odd">
												<td>1. nnnn</td>
												<td>packaging</td>
												<td>user data</td>
												<td>user data</td>
											</tr>
											<tr>
												<td>2. nnnn</td>
												<td>packaging</td>
												<td>user data</td>
												<td>user data</td>
											</tr>
											<tr class="odd">
												<td>3. nnnn</td>
												<td>packaging</td>
												<td>user data</td>
												<td>user data</td>
											</tr>
											<tr>
												<td>4. nnnn</td>
												<td>packaging</td>
												<td>user data</td>
												<td>user data</td>
											</tr>
											<tr class="odd">
												<td>5. nnnn</td>
												<td>packaging</td>
												<td>user data</td>
												<td>user data</td>
											</tr>
										</table>
									</fieldset>
								</div>
							</div>-->
                    
                    <!-- End Module -->
                    
                    <!-- Begin Module -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>print freight documents</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>print freight documents</legend>
                                <dl role="presentation">
                                    <dt>select freight documents to reprint from history:</dt>
                                    <dd>
                                        <input name="" type="radio" value="" id="freight_docs">
                                        <label for="freight_docs" class="sel">freight documents</label>
                                        <span class="reqTxtInst">(bill of lading, laser printer address labels, etc.)</span></dd>
                                    <dd>
                                        <input name="" type="radio" value="" id="thermal_labels">
                                        <label for="thermal_labels" class="sel">address labels</label>
                                    </dd>
                                </dl>
                                <dl role="presentation" class="flexFirst">
                                    <dt>
                                        <label for="num_of_labels">number of labels to print from history:</label>
                                    </dt>
                                    <dd>
                                        <input type="text" name="repl_name" id="txtbox" size="5">
                                    </dd>
                                </dl>
                                <div style="clear:both"></div>
                                <p class="label">Print my freight shipment labels to a:</p>
                                <dl role="presentation" class="flexFirst">
                                    <dt>
                                        <input name="radiobutton" type="radio" value="input1" id="laser" checked>
                                        <label for="laser">laser printer</label>
                                    </dt>
                                    <dt>
                                        <label for="lp_per_page" class="selHov">
                                            <a href="javascript:helpModLvl('repl_href')">
                                                labels printed per page<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                            </a>
                                        </label>
                                    </dt>
                                    <dd>
                                        <select name="select" id="lp_per_page">
                                            <option selected>1</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl role="presentation" class="flexAfter" style="padding-left:25px;">
                                    <dt>
                                        <input name="radiobutton" type="radio" value="input1" id="thermal">
                                        <label for="thermal">ups thermal printer</label>
                                    </dt>
                                    <dt>
                                        <label class="sel" for="themal_format">thermal label format:</label>
                                    </dt>
                                    <dd>
                                        <select name="select" id="themal_format">
                                            <option selected>4x6</option>
                                            <option>4x8</option>
                                        </select>
                                        in.</dd>
                                </dl>
                                <div style="clear:both"></div>
                                <input name="repl_name" type="button" value="View/Print" class="btn_bak_a">
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module -->
                    
                    <!-- Begin Module -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>packing lists</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>packing lists</legend>
                                <p>you can create and print a packing list for this freight shipment or for individual handling units in the shipment. </p>
                                <div class="arrow-blue">
                                    <a href="repl_href">
                                        create packing lists
                                    </a>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module --></td>
            </tr>
            <tr>
                <td class="btn-bar"><div class="colL"> [
                        <a href="repl_href" class="btnlnkL arrowbakmini">
                            Back to My UPS Workspace
                        </a>
                        ] </div>
                    <div class="btn-col4">
                        <input name="repl_name" type="submit" value="Back to Summary" class="btn_bak_a">
                    </div></td>
            </tr>
        </table>
        <!-- Begin Note Table -->
        <table border="0" cellpadding="0" cellspacing="0" width="566" class="note" role="presentation">
            <tr>
                <td><p><strong>note:</strong> total shown is for reference only. it does not include applicable taxes. actual rates may vary.</p>
                    <p>** rate may contain a
                        <a href="repl_href">
                            fuel surcharge.<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_popup_blue.gif" width="9">
                        </a>
                    </p></td>
            </tr>
        </table>
    </form>
</div>
