---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table class="mod-clr" border="0" cellpadding="0" cellspacing="0" width="566">
            <tr>
                <td class="mod-head-clr"> search commodity list </td>
            </tr>
            <tr>
                <td><!-- Begin Table: Module Body(1) (Parent:Formatting Table) -->
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td class="sec-pad"><div class="container-4col">
                                    <dl>
                                        <dd>enter a term or phrase and set optional filters to search your commodity list.</dd>
                                        <dd>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="sec-pad"><input class="modTxtMedium"type="text" name="temp2"></td>
                                                    <td class="sec-pad"><input name="search" type="submit" value="Search" class="btn"></td>
                                                </tr>
                                            </table>
                                        </dd>
                                        <dd>search the
                                            <select name="" class="modSelMediumSmall">
                                                <option selected>description</option>
                                            </select>
                                            field.</dd>
                                        <dd>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                                                    <td>display commodities marked as hazmat</td>
                                                </tr>
                                            </table>
                                        </dd>
                                    </dl>
                                </div>
                                <p class="hr"><img src="/img/1.gif" alt="" width="1" height="1"></p>
                                <dl class="container">
                                    <p>enter values into the <b>rows to display</b> text boxes to indicate which commodities from your list search results should appear on your bill of lading. for example, entering "2" will display two rows of the desired commodity on the bill of lading. <br>
                                        only 99 commodities can be added to a bill of lading.</p>
                                    <dt class="fldLbl">display per page:</dt>
                                    <dd>
                                        <select class="modSelSmall">
                                            <option selected>25</option>
                                        </select>
                                    </dd>
                                </dl></td>
                        </tr>
                        <tr>
                            <td><div align="right" style="width:550">
                                    <input name="cancel" type="button" value="Cancel" class="btn">
                                    <input name="select" type="button" value="Select" class="btn">
                                </div></td>
                        </tr>
                        <tr>
                            <td class="sec-pad"><dl>
                                    <dd class="bold">displaying results nn through nn of nn</dd>
                                    <dd><span class="reqTxtInst">
                                        <a href="repl_href">
                                            first
                                        </a>
                                        |
                                        <a href="repl_href">
                                            previous
                                        </a>
                                        |
                                        <a href="repl_href">
                                            1
                                        </a>
                                        |
                                        <a href="repl_href">
                                            2
                                        </a>
                                        |
                                        <a href="repl_href">
                                            3
                                        </a>
                                        |
                                        <a href="repl_href">
                                            4
                                        </a>
                                        |
                                        <a href="repl_href">
                                            5
                                        </a>
                                        |
                                        <a href="repl_href">
                                            6
                                        </a>
                                        |
                                        <a href="repl_href">
                                            7
                                        </a>
                                        |
                                        <a href="repl_href">
                                            8
                                        </a>
                                        |
                                        <a href="repl_href">
                                            9
                                        </a>
                                        |
                                        <a href="repl_href">
                                            10
                                        </a>
                                        | [
                                        <a href="repl_href">
                                            ...
                                        </a>
                                        ] |
                                        <a href="repl_href">
                                            next
                                        </a>
                                        |
                                        <a href="repl_href">
                                            last
                                        </a>
                                        </span>
                                    </dd>
                                </dl></td>
                        </tr>
                        <tr>
                            <td class="mod-pad"><table class="border" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td nowrap class="sec-head">rows to<br>
                                            display</td>
                                        <td nowrap class="sec-head">description</td>
                                        <td nowrap class="sec-head">package<br>
                                            type</td>
                                        <td nowrap class="sec-head">unit<br>
                                            weight</td>
                                        <td nowrap class="sec-head">nmfc</td>
                                        <td nowrap class="sec-head">class</td>
                                        <td nowrap class="sec-head">hazmat</td>
                                    </tr>
                                    <tr class="sec-row-od">
                                        <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
                                        <td class="sec-pad">description</td>
                                        <td class="sec-pad">package type</td>
                                        <td class="sec-pad">weight</td>
                                        <td class="sec-pad">user data</td>
                                        <td class="sec-pad">user data</td>
                                        <td align="center" class="sec-pad bold"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
                                    </tr>
                                    <tr class="sec-row-ev">
                                        <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
                                        <td class="sec-pad">description</td>
                                        <td class="sec-pad">package type</td>
                                        <td class="sec-pad">weight</td>
                                        <td class="sec-pad">user data</td>
                                        <td class="sec-pad">user data</td>
                                        <td align="center" class="sec-pad">&nbsp;</td>
                                    </tr>
                                    <tr class="sec-row-od">
                                        <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
                                        <td class="sec-pad">description</td>
                                        <td class="sec-pad">package type</td>
                                        <td class="sec-pad">weight</td>
                                        <td class="sec-pad">user data</td>
                                        <td class="sec-pad">user data</td>
                                        <td align="center" class="sec-pad">&nbsp;</td>
                                    </tr>
                                    <tr class="sec-row-ev">
                                        <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
                                        <td class="sec-pad">description</td>
                                        <td class="sec-pad">package type</td>
                                        <td class="sec-pad">weight</td>
                                        <td class="sec-pad">user data</td>
                                        <td class="sec-pad">user data</td>
                                        <td align="center" class="sec-pad">&nbsp;</td>
                                    </tr>
                                    <tr class="sec-row-od">
                                        <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
                                        <td class="sec-pad">description</td>
                                        <td class="sec-pad">package type</td>
                                        <td class="sec-pad">weight</td>
                                        <td class="sec-pad">user data</td>
                                        <td class="sec-pad">user data</td>
                                        <td align="center" class="sec-pad bold"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
                                    </tr>
                                    <tr class="sec-row-ev">
                                        <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
                                        <td class="sec-pad">description</td>
                                        <td class="sec-pad">package type</td>
                                        <td class="sec-pad">weight</td>
                                        <td class="sec-pad">user data</td>
                                        <td class="sec-pad">user data</td>
                                        <td align="center" class="sec-pad bold"><img src="/img/icn_check.gif" alt="" width="9" height="9"></td>
                                    </tr>
                                    <tr class="sec-row-od">
                                        <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
                                        <td class="sec-pad">description</td>
                                        <td class="sec-pad">package type</td>
                                        <td class="sec-pad">weight</td>
                                        <td class="sec-pad">user data</td>
                                        <td class="sec-pad">user data</td>
                                        <td align="center" class="sec-pad">&nbsp;</td>
                                    </tr>
                                    <tr class="sec-row-ev">
                                        <td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
                                        <td class="sec-pad">description</td>
                                        <td class="sec-pad">package type</td>
                                        <td class="sec-pad">weight</td>
                                        <td class="sec-pad">user data</td>
                                        <td class="sec-pad">user data</td>
                                        <td align="center" class="sec-pad">&nbsp;</td>
                                    </tr>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="sec-pad"><dl>
                                    <dd><span class="reqTxtInst">
                                        <a href="repl_href">
                                            first
                                        </a>
                                        |
                                        <a href="repl_href">
                                            previous
                                        </a>
                                        |
                                        <a href="repl_href">
                                            1
                                        </a>
                                        |
                                        <a href="repl_href">
                                            2
                                        </a>
                                        |
                                        <a href="repl_href">
                                            3
                                        </a>
                                        |
                                        <a href="repl_href">
                                            4
                                        </a>
                                        |
                                        <a href="repl_href">
                                            5
                                        </a>
                                        |
                                        <a href="repl_href">
                                            6
                                        </a>
                                        |
                                        <a href="repl_href">
                                            7
                                        </a>
                                        |
                                        <a href="repl_href">
                                            8
                                        </a>
                                        |
                                        <a href="repl_href">
                                            9
                                        </a>
                                        |
                                        <a href="repl_href">
                                            10
                                        </a>
                                        | [
                                        <a href="repl_href">
                                            ...
                                        </a>
                                        ] |
                                        <a href="repl_href">
                                            next
                                        </a>
                                        |
                                        <a href="repl_href">
                                            last
                                        </a>
                                        </span></dd>
                                    <dd class="bold">displaying results nn through nn of nn</dd>
                                </dl></td>
                        </tr>
                        <!-- Begin Table: Form Control Buttons (Parent:Formatting Table) -->
                        <tr>
                            <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-bar"><div align="right" style="width:550">
                                    <input name="cancel" type="button" value="Cancel" class="btn">
                                    <input name="select" type="button" value="Select" class="btn">
                                </div></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- End Table: Form Control Buttons (Parent:Formatting Table) -->
                    </table>
                    
                    <!-- End Table: Module Body(1) (Parent:Formatting Table) --></td>
            </tr>
        </table>
    </form>
</div>
