---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        
        <!-- Begin Sub Tabs -->
        <ul id="subTab">
            <li class="tab-off">
                <a href="repl_href">
                    Package
                </a>
            </li>
            <li class="tab-on">Freight</li>
        </ul>
        <!-- End Sub Tabs -->
        
        <div style="clear: both;"></div>
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
            <tr>
                <th> <div class="head-col4">
                        <h2>Preview Shipment</h2>
                        <div style="clear: both;"></div>
                    </div>
                </th>
            </tr>
            <tr>
                <td><!-- Begin Module - Intro -->
                    
                    <div class="introModFixed">
                        <p>Please preview your freight shipment summary for accuracy. To modify information, select Edit.</p>
                    </div>
                    
                    <!-- End Module - Intro -->
                    
                    <!-- Begin Module - Address Information -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>Address Information</h3>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>address information</legend>
                                <dl role="presentation" class="flexFirst">
                                    <dt><span class="label">Ship From:</span>
                                        <a href="repl_href">
                                            Edit
                                        </a>
                                    </dt>
                                    <dd> John Smith<br>
                                        UPS Innoplex<br>
                                        2010 Warsaw Rd<br>
                                        Roswell, GA 30076<br>
                                        US<br>
                                        <span class="label">Telephone:</span> 800-742-5877<br>
                                    </dd>
                                </dl>
                                <dl role="presentation" class="flexAfter">
                                    <dt><span class="label">Ship To:</span>
                                        <a href="repl_href">
                                            Edit
                                        </a>
                                    </dt>
                                    <dd> Pat Jones<br>
                                        Consolidated Equip.<br>
                                        6707 North Basin Avenue<br>
                                        Portland, OR 97217<br>
                                        US<br>
                                        <span class="label">Telephone:</span> 800-742-5877<br>
                                    </dd>
                                </dl>
                                <dl role="presentation" class="flexAfter">
                                    <dt><span class="label">Third Party:</span>
                                        <a href="repl_href">
                                            Edit
                                        </a>
                                    </dt>
                                    <dd> Lynn Smith<br>
                                        Company Name<br>
                                        123 Any Street<br>
                                        City, XX 12345<br>
                                        US<br>
                                        <span class="label">Telephone:</span> 800-555-1234<br>
                                    </dd>
                                </dl>
                                <div style="clear:both;"></div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module - Address Information -->
                    
                    <!-- Begin Module - Freight Detail -->
                    
                    <div class="modFlex">
                        <div class="modHead">
                            <h3>Freight Detail</h3>
                            <a href="repl_href">
                                Edit
                            </a>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>freight detail</legend>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="dataTable">
                                    <thead>
                                        <tr>
                                            <th nowrap>Description of Goods</th>
                                            <th>Handling Units</th>
                                            <th>Length Each</th>
                                            <th>Width Each</th>
                                            <th>Height Each</th>
                                            <th>Weight Each</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td>{description of goods}</td>
                                            <td nowrap>{customer data}</td>
                                            <td nowrap>[nnn.0][in.]</td>
                                            <td nowrap>[nnn.0][in.]</td>
                                            <td nowrap>[nnn.0][in.]</td>
                                            <td nowrap>[nnn.0][lbs.]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="clear:both;"></div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module - Freight Detail -->
                    
                    <!-- Begin Module - Service and Payment Information -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>Service and Payment Information</h3>
                            <a href="repl_href">
                                Edit
                            </a>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>service and payment information</legend>
                                <div id="dyn_pnl_1">
                                    <div id="pnl_1_1">
                                        <!--No Message-->
                                    </div>
                                    <div id="pnl_1_2">
                                        <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td colspan="3" valign="top"><div style="border:1px solid #FFD124;background-color:#FFF2AC;">
                                                            <!-- Begin Sub Section Body -->
                                                            <div class="clearfix">
                                                                <p>[Your shipment weighs less than the minimum contracted weight for the CrossBorder Connect service.  The Billable Weight field will reflect the minimum contracted weight.]</p>
                                                            </div>
                                                            <!-- End Sub Section Body -->
                                                        </div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <!-- begin service section -->
                                
                                <div id="dyn_pnl_2">
                                    <div id="pnl_2_1">
                                        <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                            <tr>
                                                <td nowrap width="37%" valign="top"><span class="label">Service:</span></td>
                                                <td colspan="2">[UPS Freight Service Name]<br>
                                                    <a href="">
                                                        Compare Freight Time and Cost<span class="btnlnkR newWindowIcon"><img width="12" height="12" alt="" src="http://icdev.ups.com/img/1.gif" border="0"></span>
                                                    </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="pnl_2_2">
                                        <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                            <tr>
                                                <td nowrap width="37%" valign="top"><span class="label">Service:</span></td>
                                                <td colspan="2">[UPS CrossBorder Connect]<br>
                                                    <a href="">
                                                        Compare Freight Time and Cost<span class="btnlnkR newWindowIcon"><img width="12" height="12" alt="" src="http://icdev.ups.com/img/1.gif" border="0"></span>
                                                    </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                    <!-- begin guaranteed by section -->
                                    <tr>
                                        <td nowrap><span class="label">Guaranteed By:</span></td>
                                        <td nowrap colspan="2">[weekday] [dd/mm/yyyy] [hh:mm] [AM / PM]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="3"> [Pick up B2 / B3 extended area alert - additional transit days warning] </td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="3"> [Delivery B2 / B3 extended area alert - additional transit days warning] </td>
                                    </tr>
                                    
                                    <!-- begin freight tracking number section -->
                                    <tr>
                                        <td nowrap><span class="label">Freight Tracking Number:</span></td>
                                        <td colspan="2">[
                                            <a href="">
                                                1234567890
                                            </a>
                                            ]</td>
                                    </tr>
                                    
                                    <!-- begin payment terms section -->
                                    <tr>
                                        <td nowrap><span class="label">Payment Terms:</span></td>
                                        <td colspan="2">[payment method *]</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2">[UPS-SCS account number 000000000] or [000000000 - nickname]</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2">[<strong>Delivery Duty Paid/Delivery Duty Unpaid</strong>]</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">* Charges for freight shipment charges are billed separately by UPS-SCS, and will not appear on your UPS invoice.</td>
                                    </tr>
                                    
                                    <!-- begin air freight section -->
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Freight:</td>
                                        <td nowrap class="marginEnd">[nnnn.00]</td>
                                    </tr>
                                    
                                    <!-- begin fuel surcharge section -->
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Fuel Surcharge:</td>
                                        <td nowrap class="marginEnd">[nnnn.00]</td>
                                    </tr>
                                    
                                    <!-- begin freight total section -->
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td><strong>Freight Total:</strong></td>
                                        <td nowrap class="marginEnd"><strong>[nnnn.00]</strong></td>
                                    </tr>
                                    
                                    <!-- begin customs value section -->
                                    <tr>
                                        <td nowrap>Customs Value:</td>
                                        <td>[nnnn.00][usd]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <!-- begin pickup section -->
                                    <tr>
                                        <td nowrap><span class="label">Pickup Date:</span></td>
                                        <td>[weekday][dd/mm/yyyy]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td nowrap><span class="label">Pickup Confirmation:</span></td>
                                        <td>[123456789]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <!-- begin dropoff section -->
                                    <tr>
                                        <td nowrap><span class="label">Earliest Dropoff Time:</span></td>
                                        <td>[hh:mm][AM/PM]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td nowrap><span class="label">Latest Dropoff Time:</span></td>
                                        <td>[hh:mm][AM/PM]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td nowrap><span class="label">Pickup Site Close Time:</span></td>
                                        <td>[hh:mm][AM/PM]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <!-- begin pickup requestor section -->
                                    <tr>
                                        <td nowrap><span class="label">Pickup requester:</span></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="2">Contact: [Contact Name]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="2">Telephone: [nnn-nnn-nnnn]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="2">Ext.: [nnnn]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="2">Fax: [nnn-nnn-nnnn]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="2">E-mail: [name@company.com]</td>
                                    </tr>
                                    
                                    <!-- begin actual weight section -->
                                    <tr>
                                        <td nowrap><span class="label">Actual Weight:</span></td>
                                        <td>[nnnn.00][lb./kg.]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <!-- begin dimensional weight section -->
                                    <tr>
                                        <td nowrap><span class="label">
                                            <a href="repl_href">
                                                Dimensional Weight:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="Help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                            </a>
                                            </span></td>
                                        <td>[nnnn.00][lb./kg.]<img alt="" border="0" height="1" src="/img/1.gif" width="3"></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <!-- begin billable weight section -->
                                    <tr>
                                        <td nowrap><span class="label">
                                            <a href="repl_href">
                                                Billable Weight:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="Help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                            </a>
                                            </span></td>
                                        <td>[nnnn.00][lb./kg.]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <!-- begin fees section -->
                                    <tr>
                                        <td nowrap colspan="2">Miscellaneous Origin Fee:</td>
                                        <td>[nnnn.00]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td nowrap colspan="2">Security Fee:</td>
                                        <td>[nnnn.00]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td nowrap colspan="2">[Accessorial Placeholder]:</td>
                                        <td>[nnnn.00]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td nowrap colspan="2">[Accessorial Placeholder]:</td>
                                        <td>[nnnn.00]</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                                <div style="clear:both;"></div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module - Service and Payment Information -->
                    
                    <br>
                    
                    <!-- Begin Module - Shipment Options -->
                    
                    <div class="modFixed4col">
                        <div class="modHead">
                            <h3>Shipment Options</h3>
                            <a href="repl_href">
                                edit
                            </a>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>shipment options</legend>
                                <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                    
                                    <!-- begin shipment options section -->
                                    <tr>
                                        <td width="37%">Declared Value Surcharge:</td>
                                        <td>[nnnn.00][USD]</td>
                                        <td nowrap class="marginEnd">[nnnn.00]</td>
                                    </tr>
                                    <tr>
                                        <td>[Optional Placeholder]:</td>
                                        <td>&nbsp;</td>
                                        <td nowrap class="marginEnd">[nnnn.00]</td>
                                    </tr>
                                    
                                    <!-- begin dangerous goods surcharge section -->
                                    <tr>
                                        <td>Dangerous Goods Surcharge:</td>
                                        <td>&nbsp;</td>
                                        <td nowrap class="marginEnd">[nnnn.00]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="2">Contact: [Contact Name]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="2">Telephone: [nnn-nnn-nnnn]</td>
                                    </tr>
                                    <tr>
                                        <td class="indent" colspan="2">Ext.: [nnnn]</td>
                                    </tr>
                                    
                                    <!-- begin transportation mode section -->
                                    <tr>
                                        <td colspan="3">Transportation Mode: [Cargo Aircraft Only / Passenger Aircraft]</td>
                                    </tr>
                                    <!-- begin eei filing section -->
                                    <tr>
                                        <td class="ident" colspan="2">EEI Filing Surcharge:</td>
                                        <td nowrap colspan="2" class="marginEnd">[nnnn.00]</td>
                                    </tr>
                                    <!-- begin state dept license section -->
                                    <tr>
                                        <td class="ident" colspan="2">State Department License Filing Surcharge:</td>
                                        <td nowrap class="marginEnd">[nnnn.00]</td>
                                    </tr>
                                    <!-- begin destination airport section -->
                                    <tr>
                                        <td nowrap><span class="label">Hold at Destination Airport:</span></td>
                                    </tr>
                                    <tr>
                                        <td>Contact: [Contact Name]</td>
                                    </tr>
                                    <tr>
                                        <td>Telephone: [nnn-nnn-nnnn]</td>
                                    </tr>
                                    <tr>
                                        <td>Ext.: [nnnn]</td>
                                    </tr>
                                    
                                    <!-- begin total charges section -->
                                    <tr>
                                        <td nowrap><strong>Total:</strong></td>
                                        <td>&nbsp;</td>
                                        <td nowrap class="marginEnd"><strong>**[nnnn.00]</strong></td>
                                    </tr>
                                </table>
                                <p>All Shipping Charges in [USD]</p>
                                
                                <!-- begin message section -->
                                <div>
                                    <p>We are unable to return negotiated rates for this shipment. If you have a negotiated rate, it will apply at the point of billing.  If you do not have a negotiated rate, please call 1-800-443-6379 to discuss your rate options.</p>
                                </div>
                                
                                <!-- begin shipper / receiver references section -->
                                <div class="outHozFixed2">
                                    <dl role="presentation">
                                        <dt><span class="label">Shipper Reference:</span></dt>
                                        <dd>[user entered data]</dd>
                                        <dt><span class="label">Receiver Reference:</span></dt>
                                        <dd>[user entered data]</dd>
                                    </dl>
                                </div>
                                <div style="clear:both"></div>
                                <br>
                                
                                <!-- begin country or territory of origin section -->
                                <table border="0" cellpadding="0" cellspacing="0" class="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Country or Territory of Original Manufacture</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td>1. [Country or Territory Name]</td>
                                        </tr>
                                        <tr>
                                            <td>2. [Country or Territory Name]</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>3. [Country or Territory Name]</td>
                                        </tr>
                                        <tr>
                                            <td>4. [Country or Territory Name]</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>5. [Country or Territory Name]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                
                                <!-- begin customer's special instructions -->
                                <div>
                                    <h4>Special Instructions:</h4>
                                    <p>[Customer entered information. Customer entered information. Customer entered information. Customer entered information. Customer entered information.]</p>
                                </div>
                                <div style="clear:both;"></div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module - Shipment Options -->
                    
                    <!-- Begin: Section Module -->
                    
                    <div class="modFixed4col">
                        
                        <!-- begin notifications section -->
                        <div class="modHead">
                            <h3>Notifications</h3>
                            <a href="repl_href">
                                edit
                            </a>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="modContent">
                            <fieldset>
                                <legend>notifications</legend>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="dataTable">
                                    <thead>
                                        <tr>
                                            <th width="10">&nbsp;</th>
                                            <th>E-mail address</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td>1.</td>
                                            <td>[name@company.com]</td>
                                            <td>[Ship; Delivery]</td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>[name@company.com]</td>
                                            <td>[Ship; Delivery]</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>3.</td>
                                            <td>[name@company.com]</td>
                                            <td>[Ship; Delivery]</td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>[name@company.com]</td>
                                            <td>[Ship; Delivery]</td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>[name@company.com]</td>
                                            <td>[Failure Address]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="clear:both;"></div>
                                <div class="modContent">
                                    <fieldset>
                                        <legend>shipment instructions</legend>
                                        <p><strong>Note:</strong> {This shipment requires export forms documentation. When you select <strong>Next</strong> you will be taken to the Select Export Forms page. When you complete your export forms documentation, you will be taken to the shipment complete page to view your shipment details.}</p>
                                        <dl role="presentation">
                                            <dt><span class="label">Account enabled for:</span></dt>
                                            <dd>UPS Paperless Invoice<sup>sm</sup></dd>
                                            <dd>UPS Paperless NAFTA</dd>
                                            <dd>UPS Paperless Document Upload</dd>
                                        </dl>
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td width="10" valign="top"><input type="checkbox" id="repl_fid2" value="" name="repl_fname" checked>
                                                    <td><label class="sel" for="repl_fid2">
                                                            <a href="repl_href" class="btnlnkR helpIcon">
                                                                Process as a paperless shipment
                                                            </a>
                                                        </label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="" style="margin:3 0;"><img alt="repl_alt" border="0" height="1" src="/img/1.gif" width="1"></div>
                                        <p>By selecting the <strong>Ship Now</strong> button, I agree to the
                                            <a href="">
                                                Terms and Conditions<span class="btnlnkR newWindowIcon"><img alt="" border="0" height="12" src="/img/1.gif" width="12"></span>
                                            </a>
                                            .</p>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End: Section Module --></td>
            </tr>
            
            <!-- Begin Footer Module -->
            <tr>
                <td class="btn-bar"><div class="btn-col4">
                        <input name="repl_fname" type="button" value="Back" class="btn_bak_a">
                        <input name="repl_fname" type="button" value="Cancel" class="btn">
                        <input name="repl_fname" type="button" value="Ship Now/Next" class="btn_a">
                    </div></td>
            </tr>
            <!-- End Footer Module -->
            
        </table>
        <!-- End Notes Table -->
        
    </form>
    <!-- /////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////// -->
    <!-- //// Do not use Dyn_Pnls in production code        //// -->
    <!-- /////////////////////////////////////////////////////// -->
    <!-- /////////////////////////////////////////////////////// -->
    <!-- //// Begin IC DEV Dynamic Panel Module             //// -->
    <!-- /////////////////////////////////////////////////////// -->
    
    <!-- Section 1 -->
    <div id="select_pnl_1">
        <dl role="presentation">
            <dt>
                <label for="dyn_pnl_select_1">Message</label>
            </dt>
            <dd>
                <select id="dyn_pnl_select_1" class="formcol5">
                    <option value="1">Default - No Message</option>
                    <option value="2">CBC Underweight Message</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- Section 2 -->
    <div id="select_pnl_2" style="margin-top:4em">
        <dl role="presentation">
            <dt>
                <label for="dyn_pnl_select_2">Service</label>
            </dt>
            <dd>
                <select id="dyn_pnl_select_2" class="formcol5">
                    <option value="1">Default - UPS Freight Service Name</option>
                    <option value="2">UPS CrossBorder Connect</option>
                </select>
            </dd>
        </dl>
    </div>
</div>
