---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    <form action="repl_faction">
        
        <!-- <h1>{title}</h1> -->
        
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="">
            <tr>
            </tr>
            <tr>
                <td><div class="introModFixed">
                        <p>enterprise campusship users may not access the selected preferences page. you may</p>
                    </div>
                    <div class="modFlex">
                        <div class="modContent">
                            <ul class="lstNoPad">
                                <li>- access the enterprise campusship preferences page to set shipping prefeences, or</li>
                            </ul>
                            <ul class="lstArrow">
                                <li>
                                    <a href="repl_href">
                                        begin your shipment
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div></td>
            </tr>
        </table>
    </form>
</div>
