---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table width="566" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><!-- Begin Table: Module Table Header (Parent:Formatting Table) -->
                    
                    <div id="tabHeader">
                        <ul>
                            <li class="tab-off">
                                <a href="repl_href">
                                    package
                                </a>
                            </li>
                            <li class="tab-on">freight</li>
                        </ul>
                    </div>
                    
                    <!-- End Table: Module Table Header (Parent:Formatting Table) -->
                    <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr class="mod-clr">
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">address validation </span></td>
                                                    <td class="mod-clr" align="right"><a href="javascript:helpModLvl('repl_href')">
                                                            help<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                        </a></td>
                                                </tr>
                                            </table>
                                            <br>
                                            
                                            <!-- Begin: Exception Error Message -->
                                            <br>
                                            <div class="redErrorBold">&gt;&gt;&gt; this address was not found in our address database or requires additional information.</div>
                                            <br>
                                            
                                            <!-- End: Error Message --> 
                                            please review your entry for spelling and accuracy and modify the address as needed. you may wish to contact the recipient to ensure the original address is accurate. <br>
                                            <br>
                                            <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td valign="top" width="278"><dl>
                                                            <dd>
                                                                <!-- Begin: Exception Error Message -->
                                                                <div class="redErrorBold">&gt;&gt;&gt; enter ship to address</div>
                                                                <!-- End: Error Message -->
                                                            </dd>
                                                        </dl>
                                                        <dl>
                                                            <dt class="fldLbl nopad">company or name:</dt>
                                                            <dd class="nopad">
                                                                <input name="textfield" type="text" class="modTxtMedium" value="{user data}">
                                                            </dd>
                                                            <dt class="fldLbl nopad">contact:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{user data}">
                                                            </dd>
                                                            <dt class="fldLbl nopad">address:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{user data}">
                                                                <br>
                                                                <input type="text" name="textfield" class="modTxtMedium">
                                                                <br>
                                                                <input type="text" name="textfield" class="modTxtMedium">
                                                            </dd>
                                                            <dt class="fldLbl nopad">city:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{user data}">
                                                            </dd>
                                                            <dt class="fldLbl nopad">state:</dt>
                                                            <dd class="nopad">
                                                                <select class="modSelMedium">
                                                                    <option selected>user data</option>
                                                                </select>
                                                            </dd>
                                                            <dt class="fldLbl nopad">postal code:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMediumSmall" value="{user data}">
                                                            </dd>
                                                            <dd class="nopad">
                                                                <table border="0" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td class="fldArea"><span class="fldLbl">telephone:</span><br>
                                                                            <input type="text" name="textfield" class="modTxtMediumSmall" value="{user data}"></td>
                                                                        <td width="110" class="fldArea"><span class="fldLbl">ext:</span><br>
                                                                            <input name="textfield" type="text" class="modTxtSmall" size="5"></td>
                                                                    </tr>
                                                                </table>
                                                            </dd>
                                                            <dt class="fldLbl nopad">fax:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{user data}">
                                                            </dd>
                                                            <dt class="fldLbl nopad">e-mail:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{user data}">
                                                            </dd>
                                                            <dt class="fldLbl nopad">my ups address book options:</dt>
                                                            <dd class="nopad">
                                                                <select class="modSelMedium">
                                                                    <option selected>select one</option>
                                                                </select>
                                                            </dd>
                                                            <dt class="fldLbl nopad">save or update as:</dt>
                                                            <dd class="nopad">
                                                                <input type="text" name="textfield" class="modTxtMedium" value="{user data}">
                                                            </dd>
                                                        </dl></td>
                                                    <td valign="top" width="278"><dl>
                                                            <dd class="pi-h4">address suggestions </dd>
                                                        </dl>
                                                        <dl>
                                                            <dd class="nopad"> this is the closet match in our database. select use suggested address to apply the bolded changes to the address on the left. </dd>
                                                        </dl>
                                                        <dl>
                                                            <dd class="sec-pad"><strong>123 e</strong> any street <br>
                                                                any town, ga 00000-0000</dd>
                                                            <dd class="sec-pad">
                                                                <input name="Use Suggested Address" type="button" value="Use Suggested Address" class="btn">
                                                                <br>
                                                                <br>
                                                            </dd>
                                                            <dd>the following address and
                                                                <a href="repl_href">
                                                                    address range
                                                                </a>
                                                                suggestions may be helpful for editing the address on the left.</dd>
                                                            <dd class="nopad">
                                                                <textarea name="textareaName" class="modTxtAreaTrack" rows="6">1 - 99 w anystreet
anytown, ga 00000-0000

505 w anystreet
anytown, ga 00000-0000


</textarea>
                                                            </dd>
                                                        </dl></td>
                                                </tr>
                                            </table>
                                            
                                            <!-- End Table: Functional Table 4b (Parent:Module Table) -->
                                            
                                            <!-- Begin Table: Functional Table (Parent:Module Table) -->
                                            
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td><br>
                                                        ups assumes no liability for the address information provided by ups internet freight shipping. the address suggestions do not support the identification or verification of occupants at an address. the shipper is responsible for all fees as a result of address corrections.<br>
                                                        <br></td>
                                                </tr>
                                            </table>
                                            
                                            <!-- End Table: Functional Table (Parent:Module Table) --></td>
                                    </tr>
                                </table></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- Begin: Button Bar Rows -->
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-bar" align="right"><span class="pi-m-button">
                                <input name="use modified address" type="button" value="Use Modified Address" class="btn">
                                <input name="use original address" type="button" value="Use Original Address" class="btn_a">
                                </span></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- End: Button Bar Rows -->
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
            </tr>
        </table>
    </form>
</div>
