---
title: Schedule a Freight Pickup
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl mod col24 clearfix">
            <fieldset>
                
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                    <h2>confirmation</h2>
                </div>
                <!-- End Application Header -->
                
                <!-- Begin Application Body -->
                <div class="appBody appLvlPlain clearfix">
                    
                    <!-- Begin Section Module -->
                    <div class="secLvl supportCall sell clearfix">
                        <fieldset>
                            
                            <!-- Begin Section Body -->
                            <div class="secBody clearfix">
                                <p id="" class="error">
                                    >>> [weekend, holiday, or advantage guaranteed service messaging appears here.]</p>
                            </div>
                            <!-- End Section Body -->
                            
                        </fieldset>
                    </div>
                    <!-- End Section Module -->
                    
                    <!-- Begin Section Module -->
                    <div class="secLvl message clearfix">
                        <fieldset>
                            
                            <!-- Begin Section Body -->
                            <div class="secBody clearfix">
                                <p id="">
                                    <strong>thank you</strong> for using ups. your freight pickup request has been successfully received. if additional information is needed, or if we cannot secure pickup at your requested time, we will contact you to make alternative arrangements. <strong>print this page for future reference.</strong>
                                </p>
                                <dl class="outHozFixed1 clearfix group">
                                    <dt>
                                        <label id="" for="">pickup request number:</label>
                                    </dt>
                                    <dd id="">1zxnnxnnnnnnnnnnnn</dd>
                                </dl>
                                <p id="">
                                    <input id="" class="btnlnkL arrowIcon" type="button" name="repl_name">
                                    <a href="repl_href">
                                        view freight pickup request history
                                    </a>
                                </p>
                            </div>
                            <!-- End Section Body -->
                            
                        </fieldset>
                    </div>
                    <!-- End Section Module -->
                    
                    <!-- Begin Section Module -->
                    <div class="secLvl step clearfix">
                        <fieldset>
                            
                            <!-- Begin Section Header -->
                            <div class="secHead clearfix">
                                <h3 id="">pickup request information header</h3>
                            </div>
                            <!-- End Section Header -->
                            
                            <!-- Begin Section Body -->
                            <div class="secBody">
                                
                                <!-- //////////////////// -->
                                <!-- pickup date and time -->
                                <h4>pickup date and time</h4>
                                <!-- Begin Sub Module -->
                                <div class="secLvl subcol12 marginBegin clearfix">
                                    <fieldset>
                                        
                                        <!-- Begin Sub Body -->
                                        <div class="secBody clearfix">
                                            <h4>pickup location</h4>
                                            <dl>
                                                <dt><strong>pickup from:</strong></dt>
                                                <dd>[ contact name ]</dd>
                                                <dt>[ company name ]</dt>
                                                <dd>[ address 1 ]</dd>
                                                <dt>[ city ], [ other ]</dt>
                                                <dd>[ country or territory ]</dd>
                                            </dl>
                                            <dl class="outHozFlex">
                                                <dt>telephone:</dt>
                                                <dd>[ number ]</dd>
                                            </dl>
                                        </div>
                                        <!-- End Sub Body -->
                                        
                                    </fieldset>
                                </div>
                                <!-- End Sub Module -->
                                
                                <!-- Begin Sub Module -->
                                <div class="secLvl subcol12 marginEnd clearfix">
                                    <fieldset>
                                        
                                        <!-- Begin Sub Body -->
                                        <div class="secBody clearfix">
                                            <dl>
                                                <dt><strong>earliest pickup time:</strong></dt>
                                                <dd>[ earliest pickup time ]</dd>
                                                <dt><strong>latest pickup time:</strong></dt>
                                                <dd>[ latest pickup time ]</dd>
                                            </dl>
                                        </div>
                                        <!-- End Sub Body -->
                                        
                                    </fieldset>
                                </div>
                                <!-- End Sub Module -->
                                
                                <div class="clearfix"></div>
                                <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                
                                <!-- ///////////////////// -->
                                <!-- requestor information -->
                                <h4>requestor information</h4>
                                <!-- Begin Sub Module -->
                                <div class="secLvl clearfix">
                                    <fieldset>
                                        
                                        <!-- Begin Sub Body -->
                                        <div class="secBody clearfix">
                                            <h4>requestor is: [ role ]</h4>
                                            <p>[ requestor contact information is the same as pickup information. ]</p>
                                            
                                            <!-- Begin Requestor Detail - Different Than Pickup -->
                                            <div class="clearfix">
                                                <dl>
                                                    <dt>[ contact name ]</dt>
                                                    <dd>[ company name ]</dd>
                                                </dl>
                                                <dl class="outHozFlex">
                                                    <dt>telephone:</dt>
                                                    <dd>[ number ]</dd>
                                                </dl>
                                                <dl class="outHozFlex">
                                                    <dt>e-mail:</dt>
                                                    <dd>[ email@company.com ]</dd>
                                                </dl>
                                            </div>
                                            <!-- End Requestor Detail - Different Than Pickup -->
                                            
                                        </div>
                                        <!-- End Sub Body -->
                                        
                                    </fieldset>
                                </div>
                                <!-- End Sub Module -->
                                
                                <div class="clearfix"></div>
                                <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                
                                <!-- ///////////////////////// -->
                                <!-- additional pickup options -->
                                <h4>additional pickup options:</h4>
                                <!-- Begin Sub Module -->
                                <div class="secLvl clearfix">
                                    <fieldset>
                                        
                                        <!-- Begin Sub Body -->
                                        <div class="secBody clearfix">
                                            <p><span class="label" id="">[ pickup option ]</span></p>
                                            <p><span class="label"id="">[ pickup option ]</span></p>
                                            <dl>
                                                <dt><span class="label" id="">pickup notifications for ltl:</span></dt>
                                                <dd class="indent">1. <span id="">[ e-mail address ]</span></dd>
                                                <dd class="indent">e-mail failure notification: <span id="">[ e-mail address ]</span></dd>
                                            </dl>
                                        </div>
                                        <!-- End Sub Body -->
                                        
                                    </fieldset>
                                </div>
                                <!-- End Sub Module -->
                                
                                <div class="clearfix"></div>
                                <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                
                                <!-- //////////////////////////// -->
                                <!-- shipment information section -->
                                <h4>shipment information</h4>
                                <!-- Begin Sub Module -->
                                <div class="secLvlPlain clearfix">
                                    <fieldset>
                                        
                                        <!-- Begin Sub Body -->
                                        <div class="secBody clearfix">
                                            <table class="dataTable" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="nowrap">pieces</th>
                                                    <th class="nowrap">destination<br>
                                                        postal code</th>
                                                    <th class="nowrap">destination<br>
                                                        country or territory</th>
                                                    <th class="nowrap">description of<br>
                                                        nmfc</th>
                                                    <th class="nowrap">packaging type</th>
                                                    <th class="nowrap">weight</th>
                                                    <th class="nowrap">hazmat</th>
                                                </tr>
                                                <tr class="odd">
                                                    <td>[nnnn]</td>
                                                    <td>[00000]</td>
                                                    <td>[country or territory]</td>
                                                    <td>[user data]</td>
                                                    <td>[user data]</td>
                                                    <td>[nnn]</td>
                                                    <td align="center">x</td>
                                                </tr>
                                                <tr class="">
                                                    <td>[nnnn]</td>
                                                    <td>[00000]</td>
                                                    <td>[country or territory]</td>
                                                    <td>[user data]</td>
                                                    <td>[user data]</td>
                                                    <td>[nnn]</td>
                                                    <td align="center">x</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>[nnnn]</td>
                                                    <td>[00000]</td>
                                                    <td>[country or territory]</td>
                                                    <td>[user data]</td>
                                                    <td>[user data]</td>
                                                    <td>[nnn]</td>
                                                    <td align="center"></td>
                                                </tr>
                                                <tr class="">
                                                    <td>[nnnn]</td>
                                                    <td>[00000]</td>
                                                    <td>[country or territory]</td>
                                                    <td>[user data]</td>
                                                    <td>[user data]</td>
                                                    <td>[nnn]</td>
                                                    <td align="center"></td>
                                                </tr>
                                            </table>
                                            <dl class="outHozFlex">
                                                <dt>you have associated the following bill of lading with this pickup request:</dt>
                                                <dd></dd>
                                                <dt>
                                                    <label for="">pro number:</label>
                                                </dt>
                                                <dd>123456789</dd>
                                            </dl>
                                            <dl class="outHozFlex">
                                                <dt>
                                                    <label for="">total handling units:</label>
                                                </dt>
                                                <dd>[ nnnn ]</dd>
                                                <dt>
                                                    <label for="">total shipment weight:</label>
                                                </dt>
                                                <dd>[ nnnn ][ lbs. ]</dd>
                                            </dl>
                                            <div style="clear:both"></div>
                                            <dl class="outHozFlex">
                                                <dt>
                                                    <label for="">destination postal code:</label>
                                                </dt>
                                                <dd>[ nnnnn ]</dd>
                                                <dt>
                                                    <label for="">destination country or territory:</label>
                                                </dt>
                                                <dd>[ country or territory ]</dd>
                                            </dl>
                                            <div style="clear:both"></div>
                                            <p>the freight shipment for this pickup request is <strong>guaranteed</strong>.</p>
                                        </div>
                                        <!-- End Sub Body -->
                                        
                                    </fieldset>
                                </div>
                                <!-- End Sub Module -->
                                
                                <div class="clearfix"></div>
                                <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                
                                <!-- /////////////////////// -->
                                <!-- additional instructions -->
                                <h4>additional instructions or comments:</h4>
                                <!-- Begin Sub Module -->
                                <div class="secLvl clearfix">
                                    <fieldset>
                                        
                                        <!-- Begin Sub Body -->
                                        <div class="secBody clearfix">
                                            <p>[ up to <strong>nnn</strong> max characters here. up to <strong>nnn</strong> max characters here. up to <strong>nnn</strong> max characters here. up to <strong>nnn</strong> max characters here. ]</p>
                                        </div>
                                        <!-- End Sub Body -->
                                        
                                    </fieldset>
                                </div>
                                <!-- End Sub Module -->
                                
                                <div class="clearfix"></div>
                            </div>
                            <!-- End Section Body -->
                            
                        </fieldset>
                    </div>
                    <!-- End Section Module -->
                    
                </div>
                <!-- End Application Body -->
                
            </fieldset>
        </div>
        <!-- End Application Module -->
        
    </form>
</div>
