---
title: {page title}
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table width="566" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top"><table class="mod-clr" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td class="mod-head-clr"> view freight history </td>
                        </tr>
                    </table>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            <br>
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">ltl ground freight history </span></td>
                                                </tr>
                                            </table>
                                            <div class="container">
                                                <p class="nopad">select a shipment from your history to associate a specific shipment with your pickup request.</p>
                                                <dl>
                                                    <dt class="fldLbl">display per page:</dt>
                                                    <dd>
                                                        <select name="" class="modSelSmall">
                                                            <option selected>25</option>
                                                        </select>
                                                    </dd>
                                                </dl>
                                                <br>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="bold">displaying shipments nn through nn out of nn</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="reqTxtInst">
                                                            <a href="repl_href">
                                                                first
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                previous
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                1
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                2
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                3
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                4
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                5
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                6
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                7
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                8
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                9
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                10
                                                            </a>
                                                            | [
                                                            <a href="repl_href">
                                                                ...
                                                            </a>
                                                            ] |
                                                            <a href="repl_href">
                                                                next
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                last
                                                            </a>
                                                            </span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="Single">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="sec-pad" align="right"><input name="cancel" type="button" value="Cancel" class="btn">
                                                            <input name="select" type="button" value="Select" class="btn"></td>
                                                    </tr>
                                                </table>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border">
                                                    <tr class="sec-head">
                                                        <td colspan="2" class="sec-pad">shipment<br>
                                                            creation date</td>
                                                        <td class="sec-pad">shipped to</td>
                                                        <td class="sec-pad">freight service</td>
                                                        <td class="sec-pad" nowrap>pickup number<br>
                                                            and date</td>
                                                        <td class="sec-pad" nowrap>tracking number /<br>
                                                            pro number</td>
                                                    </tr>
                                                    <tr class="sec-row-od">
                                                        <td class="sec-pad" align="center"><input name="repl_name" value="repl_value" type="radio"></td>
                                                        <td class="sec-pad">mm/dd/yyyy</td>
                                                        <td class="sec-pad">company name<br>
                                                            roswell, ga 30076</td>
                                                        <td class="sec-pad">ups freight ltl</td>
                                                        <td class="sec-pad">000000000<br>
                                                            mm/dd/yyyy</td>
                                                        <td class="sec-pad">123456789</td>
                                                    </tr>
                                                    <tr class="sec-row-ev">
                                                        <td class="sec-pad" align="center"><input name="repl_name" value="repl_value" type="radio"></td>
                                                        <td class="sec-pad">mm/dd/yyyy</td>
                                                        <td class="sec-pad">company name<br>
                                                            roswell, ga 30076</td>
                                                        <td class="sec-pad">ups freight ltl</td>
                                                        <td class="sec-pad">000000000<br>
                                                            mm/dd/yyyy</td>
                                                        <td class="sec-pad">123456789</td>
                                                    </tr>
                                                    <tr class="sec-row-od">
                                                        <td class="sec-pad" align="center"><input name="repl_name" value="repl_value" type="radio"></td>
                                                        <td class="sec-pad">mm/dd/yyyy</td>
                                                        <td class="sec-pad">long company name<br>
                                                            and sons, inc. llc<br>
                                                            really long city name,<br>
                                                            xx 00000</td>
                                                        <td class="sec-pad">ups freight ltl -guaranteed</td>
                                                        <td class="sec-pad">000000000<br>
                                                            mm/dd/yyyy</td>
                                                        <td class="sec-pad">nnnnnnnnn</td>
                                                    </tr>
                                                    <tr class="sec-row-ev">
                                                        <td class="sec-pad" align="center"><input name="repl_name" value="repl_value" type="radio"></td>
                                                        <td class="sec-pad">mm/dd/yyyy</td>
                                                        <td class="sec-pad">company name<br>
                                                            city name, xx 00000 </td>
                                                        <td class="sec-pad">ups freight ltl </td>
                                                        <td class="sec-pad">000000000<br>
                                                            mm/dd/yyyy</td>
                                                        <td class="sec-pad">nnnnnnnnn</td>
                                                    </tr>
                                                    <tr class="sec-row-od">
                                                        <td class="sec-pad" align="center"><input name="repl_name" value="repl_value" type="radio"></td>
                                                        <td class="sec-pad">mm/dd/yyyy</td>
                                                        <td class="sec-pad">company name<br>
                                                            city name, xx 000000 </td>
                                                        <td class="sec-pad">ups freight ltl </td>
                                                        <td class="sec-pad">&nbsp;</td>
                                                        <td class="sec-pad">nnnnnnnnn</td>
                                                    </tr>
                                                </table>
                                                
                                                <!-- Begin: Commodity Table -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="sec-pad" align="right"><input name="cancel" type="button" value="Cancel" class="btn">
                                                            <input name="select" type="button" value="Select" class="btn"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="bold">displaying shipments nn through nn out of nn</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="reqTxtInst">
                                                            <a href="repl_href">
                                                                first
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                previous
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                1
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                2
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                3
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                4
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                5
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                6
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                7
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                8
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                9
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                10
                                                            </a>
                                                            | [
                                                            <a href="repl_href">
                                                                ...
                                                            </a>
                                                            ] |
                                                            <a href="repl_href">
                                                                next
                                                            </a>
                                                            |
                                                            <a href="repl_href">
                                                                last
                                                            </a>
                                                            </span></td>
                                                    </tr>
                                                </table>
                                            </div></td>
                                    </tr>
                                </table></td>
                        </tr>
                        <!-- Begin: Button Bar Rows -->
                        
                        <!-- End: Button Bar Rows -->
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
            </tr>
        </table>
    </form>
</div>
