---
title: Schedule a Pickup
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_fname">
        <!-- Begin Application Module -->
        <div class="appLvl step clearfix">
            <fieldset>
                
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                    <h2>pickup request cancelled header</h2>
                </div>
                
                <!-- End Application Header -->
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                    <p>your pickup request [
                        <label> nnnnnnnnnnnnn </label>
                        ] has been <strong>cancelled</strong>.</p>
                    <hr>
                    <p>
                        <label>next steps</label>
                    </p>
                    <p>
                        <a class="btnlnkL arrowIcon" href="repl_href">
                            schedule another ltl freight pickup
                        </a>
                    </p>
                    <p>
                        <a class="btnlnkL arrowIcon" href="repl_href">
                            return to freight pickup history
                        </a>
                    </p>
                </div>
                <!-- End Application Body -->
                
                <!-- Begin Application Footer -->
                <!-- End Application Footer -->
                
            </fieldset>
        </div>
        <!-- End Application Module -->
    </form>
</div>
