---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table width="566" border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
               <tr>
                <td valign="top" width="566"><!-- Begin Table: Module Table Header (Parent:Formatting Table) -->
                    
                    <div id="tabHeader">
                        <ul>
                            <li class="tab-off">
                                <a href="repl_href">
                                    package
                                </a>
                            </li>
                            <li class="tab-on">freight</li>
                        </ul>
                    </div>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                        <tr class="mod-clr">
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                
                                <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%" role="presentation">
                                    <tr class="mod-clr">
                                        <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                            
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                <tr>
                                                    <td class="mod-clr"><span class="pi-h3">add commodity</span></td>
                                                    <td class="mod-clr" align="right"><a href="javascript:helpModLvl('repl_href')">
                                                            help<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                        </a></td>
                                                </tr>
                                            </table>
                                            
                                            <!-- Begin: Exception Error Message -->
                                            
                                            <p class="redErrorBold">&gt;&gt;&gt; error messaging appears here</p>
                                            
                                            <!-- End: Error Message -->
                                            
                                            <p>enter the commodity information below and select <strong>next</strong>. required fields are indicated with<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></p>
                                            <table width="100%"  border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                <tr>
                                                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                            <tr>
                                                                <td class="fldLbl">packaging type:<br>
                                                                    <select name="temp" class="input1">
                                                                        <option selected>select packaging</option>
                                                                    </select>
                                                                    <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></td>
                                                                <td class="fldLbl">unit weight:<br>
                                                                    <input name="field01" type="text" class="modTxtSmall" value="">
                                                                    <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></td>
                                                                <td class="fldLbl" valign="top">weight unit of measure:<br>
                                                                    <span class="plain">[lbs / kg]</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="fldLbl"><a href="repl_href">
                                                                        nmfc:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                    </a>
                                                                    <br>
                                                                    <input name="field013" type="text" class="modTxtSmall" value="">
                                                                    -
                                                                    <input name="field020" type="text" class="modTxtSmall" value="">
                                                                <td class="fldLbl"><a href="repl_href">
                                                                        class:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                    </a>
                                                                    <br>
                                                                    <select name="temp" class="input1">
                                                                        <option selected>select class</option>
                                                                    </select>
                                                                    <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></td>
                                                                <td class="fldLbl">unit value:<br>
                                                                    <input name="field01" type="text" class="modTxtSmall" value=""></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span class="reqTxtInst">(enter 8 digits or leave blank.)</span></td>
                                                            </tr>
                                                        </table>
                                                        <br>
                                                        <dl>
                                                            <dt class="fldLbl">description of goods:</dt>
                                                            <dd>
                                                                <textarea name="field01" rows="2" cols="70"></textarea>
                                                                <img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
                                                            <dd>
                                                                <table border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                                    <tr>
                                                                        <td><input name="checkbox" type="checkbox" value="input1"></td>
                                                                        <td><span>contains</span>
                                                                            <a href="repl_href">
                                                                                hazardous materials<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                            </a></td>
                                                                    </tr>
                                                                </table>
                                                            </dd>
                                                        </dl></td>
                                                </tr>
                                            </table>
                                            
                                            <!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
                                    </tr>
                                </table></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- Begin: Button Bar Rows -->
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                            <td class="mod-bar"align="right"><input name="back" type="button" value="Back" class="btn_bak_a">
                                <input name="next" type="button" value="Next" class="btn_a"></td>
                            <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                        </tr>
                        <!-- End: Button Bar Rows -->
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
				</tr></tbody>
        </table>
    </form>
</div>
