---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_action">
        <ul id="subTab">
            <li class="tab-off">
                <a href="repl_href">
                    package
                </a>
            </li>
            <li class="tab-on">freight</li>
        </ul>
        <div style="clear:both;"></div>
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
            <tr>
                <th><div class="head-col4">
                        <h2>shipping country or territory mismatch</h2>
                    </div></th>
            </tr>
            <tr>
                <td><div class="introModFixed">
                        <p>please update the address information to reflect a country or territory ship from and a shipper address, and select a valid language for this country or territory below. required fields are indicated with<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">.</p>
                    </div>
                    <div id="step-1" class="stepModFixed4col">
                        <div class="stepModHead">
                            <h3>ship from address</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="stepModContent">
                            <fieldset>
                                <legend>step one: ship from address</legend>
                                <dl class="flexFirst">
                                    <dt>
                                        <label for="address_book">address book:</label>
                                    </dt>
                                    <dd>
                                        <select name="repl_name" id="address_book">
                                            <option value="" selected>select one</option>
                                            <option value="">this is a 35 character address entr</option>
                                        </select>
                                        <br>
                                    </dd>
                                </dl>
                                <dl class="flexAfter">
                                    <dt>&nbsp;</dt>
                                    <dd>--- or enter a new address below ---</dd>
                                </dl>
                                <div style="clear:both;"></div>
                            </fieldset>
                            <fieldset>
                                <legend>step one: enter address</legend>
                                <div class="colL">
                                    <dl>
                                        <dt>
                                            <label for="company">company or name:</label>
                                        </dt>
                                        <dd>
                                            <input name="company" type="text" id="company" value="{Company or Name}" size="32">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                        <dt>
                                            <label for="contact">contact:</label>
                                        </dt>
                                        <dd>
                                            <input name="contact" type="text" id="contact" size="32" value="{Contact}">
                                        </dd>
                                        <dt>
                                            <label for="country">country or territory:</label>
                                        </dt>
                                        <dd>
                                            <select name="country" size="1">
                                                <option value="None">country or territory</option>
                                                <option value="AL">albania</option>
                                                <option value="DZ">algeria</option>
                                                <option value="AS">american samoa</option>
                                                <option value="AD">andorra</option>
                                                <option value="AO">angola</option>
                                                <option value="AI">anguilla</option>
                                                <option value="AG">antigua &amp; barbuda</option>
                                                <option value="AR">argentina</option>
                                                <option value="AM">armenia</option>
                                                <option value="AW">aruba</option>
                                                <option value="AU">australia</option>
                                                <option value="AT">austria</option>
                                                <option value="AZ">azerbaijan</option>
                                                <option value="A2">azores</option>
                                                <option value="BS">bahamas</option>
                                                <option value="BH">bahrain</option>
                                                <option value="BD">bangladesh</option>
                                                <option value="BB">barbados</option>
                                                <option value="BY">belarus</option>
                                                <option value="BE">belgium</option>
                                                <option value="BZ">belize</option>
                                                <option value="BJ">benin</option>
                                                <option value="BM">bermuda</option>
                                                <option value="BT">bhutan</option>
                                                <option value="BO">bolivia</option>
                                                <option value="BL">bonaire</option>
                                                <option value="BA">bosnia &amp; herzegovina</option>
                                                <option value="BW">botswana</option>
                                                <option value="BR">brazil</option>
                                                <option value="BN">brunei</option>
                                                <option value="BG">bulgaria</option>
                                                <option value="BF">burkina faso</option>
                                                <option value="BI">burundi</option>
                                                <option value="KH">cambodia</option>
                                                <option value="CM">cameroon</option>
                                                <option value="CA">canada</option>
                                                <option value="IC">canary islands</option>
                                                <option value="CV">cape verde</option>
                                                <option value="KY">cayman islands</option>
                                                <option value="CF">central african republic</option>
                                                <option value="TD">chad</option>
                                                <option value="CL">chile</option>
                                                <option value="CN">china, people's republic of</option>
                                                <option value="CO">colombia</option>
                                                <option value="CG">congo</option>
                                                <option value="CD">congo, democratic republic of</option>
                                                <option value="CK">cook islands</option>
                                                <option value="CR">costa rica</option>
                                                <option value="HR">croatia</option>
                                                <option value="CB">curacao</option>
                                                <option value="CY">cyprus</option>
                                                <option value="CZ">czech republic</option>
                                                <option value="DK">denmark</option>
                                                <option value="DJ">djibouti</option>
                                                <option value="DM">dominica</option>
                                                <option value="DO">dominican republic</option>
                                                <option value="TL">east timor (timor-leste)</option>
                                                <option value="EC">ecuador</option>
                                                <option value="EG">egypt</option>
                                                <option value="SV">el salvador</option>
                                                <option value="EN">england</option>
                                                <option value="GQ">equatorial guinea</option>
                                                <option value="ER">eritrea</option>
                                                <option value="EE">estonia</option>
                                                <option value="ET">ethiopia</option>
                                                <option value="FO">faroe islands</option>
                                                <option value="FJ">fiji</option>
                                                <option value="FI">finland</option>
                                                <option value="FR">france</option>
                                                <option value="GF">french guiana</option>
                                                <option value="PF">french polynesia</option>
                                                <option value="GA">gabon</option>
                                                <option value="GM">gambia</option>
                                                <option value="GE">georgia</option>
                                                <option value="DE">germany</option>
                                                <option value="GH">ghana</option>
                                                <option value="GI">gibraltar</option>
                                                <option value="GR">greece</option>
                                                <option value="GL">greenland</option>
                                                <option value="GD">grenada</option>
                                                <option value="GP">guadeloupe</option>
                                                <option value="GU">guam</option>
                                                <option value="GT">guatemala</option>
                                                <option value="GG">guernsey</option>
                                                <option value="GN">guinea</option>
                                                <option value="GW">guinea-bissau</option>
                                                <option value="GY">guyana</option>
                                                <option value="HT">haiti</option>
                                                <option value="HO">holland</option>
                                                <option value="HN">honduras</option>
                                                <option value="HK">hong kong</option>
                                                <option value="HU">hungary</option>
                                                <option value="IS">iceland</option>
                                                <option value="IN">india</option>
                                                <option value="ID">indonesia</option>
                                                <option value="IQ">iraq</option>
                                                <option value="IE">ireland, republic of</option>
                                                <option value="IL">israel</option>
                                                <option value="IT">italy</option>
                                                <option value="CI">ivory coast</option>
                                                <option value="JM">jamaica</option>
                                                <option value="JP">japan</option>
                                                <option value="JE">jersey</option>
                                                <option value="JO">jordan</option>
                                                <option value="KZ">kazakhstan</option>
                                                <option value="KE">kenya</option>
                                                <option value="KI">kiribati</option>
                                                <option value="KO">kosrae</option>
                                                <option value="KW">kuwait</option>
                                                <option value="KG">kyrgyzstan</option>
                                                <option value="LA">laos</option>
                                                <option value="LV">latvia</option>
                                                <option value="LB">lebanon</option>
                                                <option value="LS">lesotho</option>
                                                <option value="LR">liberia</option>
                                                <option value="LY">libya</option>
                                                <option value="LI">liechtenstein</option>
                                                <option value="LT">lithuania</option>
                                                <option value="LU">luxembourg</option>
                                                <option value="MO">macau</option>
                                                <option value="MK">macedonia (fyrom)</option>
                                                <option value="MG">madagascar</option>
                                                <option value="M3">madeira</option>
                                                <option value="MW">malawi</option>
                                                <option value="MY">malaysia</option>
                                                <option value="MV">maldives</option>
                                                <option value="ML">mali</option>
                                                <option value="MT">malta</option>
                                                <option value="MH">marshall islands</option>
                                                <option value="MQ">martinique</option>
                                                <option value="MR">mauritania</option>
                                                <option value="MU">mauritius</option>
                                                <option value="MX">mexico</option>
                                                <option value="FM">micronesia</option>
                                                <option value="MD">moldova</option>
                                                <option value="MC">monaco</option>
                                                <option value="MN">mongolia</option>
                                                <option value="MS">montserrat</option>
                                                <option value="MA">morocco</option>
                                                <option value="MZ">mozambique</option>
                                                <option value="NA">namibia</option>
                                                <option value="NP">nepal</option>
                                                <option value="NL">netherlands</option>
                                                <option value="AN">netherlands antilles</option>
                                                <option value="NC">new caledonia</option>
                                                <option value="NZ">new zealand</option>
                                                <option value="NI">nicaragua</option>
                                                <option value="NE">niger</option>
                                                <option value="NG">nigeria</option>
                                                <option value="NF">norfolk island</option>
                                                <option value="NB">northern ireland</option>
                                                <option value="MP">northern mariana islands</option>
                                                <option value="NO">norway</option>
                                                <option value="OM">oman</option>
                                                <option value="PK">pakistan</option>
                                                <option value="PW">palau</option>
                                                <option value="PA">panama</option>
                                                <option value="PG">papua new guinea</option>
                                                <option value="PY">paraguay</option>
                                                <option value="PE">peru</option>
                                                <option value="PH">philippines</option>
                                                <option value="PL">poland</option>
                                                <option value="PO">ponape</option>
                                                <option value="PT">portugal</option>
                                                <option value="PR">puerto rico</option>
                                                <option value="QA">qatar</option>
                                                <option value="RE">reunion</option>
                                                <option value="RO">romania</option>
                                                <option value="RT">rota</option>
                                                <option value="RU">russia</option>
                                                <option value="RW">rwanda</option>
                                                <option value="SS">saba</option>
                                                <option value="SP">saipan</option>
                                                <option value="SM">san marino</option>
                                                <option value="SA">saudi arabia</option>
                                                <option value="SF">scotland</option>
                                                <option value="SN">senegal</option>
                                                <option value="CS">serbia and montenegro</option>
                                                <option value="SC">seychelles</option>
                                                <option value="SL">sierra leone</option>
                                                <option value="SG">singapore</option>
                                                <option value="SK">slovakia</option>
                                                <option value="SI">slovenia</option>
                                                <option value="SB">solomon islands</option>
                                                <option value="ZA">south africa</option>
                                                <option value="KR">south korea</option>
                                                <option value="ES">spain</option>
                                                <option value="LK">sri lanka</option>
                                                <option value="NT">st. barthelemy</option>
                                                <option value="SW">st. christopher</option>
                                                <option value="SX">st. croix</option>
                                                <option value="EU">st. eustatius</option>
                                                <option value="UV">st. john</option>
                                                <option value="KN">st. kitts &amp; nevis</option>
                                                <option value="LC">st. lucia</option>
                                                <option value="MB">st. maarten</option>
                                                <option value="TB">st. martin</option>
                                                <option value="VL">st. thomas</option>
                                                <option value="VC">st. vincent &amp; the grenadines</option>
                                                <option value="SR">suriname</option>
                                                <option value="SZ">swaziland</option>
                                                <option value="SE">sweden</option>
                                                <option value="CH">switzerland</option>
                                                <option value="SY">syria</option>
                                                <option value="TA">tahiti</option>
                                                <option value="TW">taiwan</option>
                                                <option value="TJ">tajikistan</option>
                                                <option value="TZ">tanzania</option>
                                                <option value="TH">thailand</option>
                                                <option value="TI">tinian</option>
                                                <option value="TG">togo</option>
                                                <option value="TO">tonga</option>
                                                <option value="ZZ">tortola</option>
                                                <option value="TT">trinidad &amp; tobago</option>
                                                <option value="TU">truk</option>
                                                <option value="TN">tunisia</option>
                                                <option value="TR">turkey</option>
                                                <option value="TM">turkmenistan</option>
                                                <option value="TC">turks &amp; caicos islands</option>
                                                <option value="TV">tuvalu</option>
                                                <option value="UG">uganda</option>
                                                <option value="UA">ukraine</option>
                                                <option value="UI">union island</option>
                                                <option value="AE">united arab emirates</option>
                                                <option value="GB">united kingdom</option>
                                                <option value="US" selected>united states</option>
                                                <option value="UY">uruguay</option>
                                                <option value="UZ">uzbekistan</option>
                                                <option value="VU">vanuatu</option>
                                                <option value="VA">vatican city</option>
                                                <option value="VE">venezuela</option>
                                                <option value="VN">vietnam</option>
                                                <option value="VR">virgin gorda</option>
                                                <option value="VG">virgin islands, british</option>
                                                <option value="VI">virgin islands, us</option>
                                                <option value="WL">wales</option>
                                                <option value="WF">wallis &amp; futuna islands</option>
                                                <option value="WS">western samoa</option>
                                                <option value="YA">yap</option>
                                                <option value="YE">yemen</option>
                                                <option value="ZM">zambia</option>
                                                <option value="ZW">zimbabwe</option>
                                            </select>
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
                                        </dd>
                                        <dt>
                                            <label for="address1">address line 1:</label>
                                        </dt>
                                        <dd>
                                            <input name="address1" type="text" id="address1" size="32" value="{Address Line 1}">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                        <dt>
                                            <label for="address2">address line2:</label>
                                        </dt>
                                        <dd>
                                            <input name="address2" type="text" id="address2" size="32">
                                            <br>
                                            <div class="reqTxtInst">apartment, suite, unit, building, floor, etc.</div>
                                        </dd>
                                        <dt>
                                            <label for="address3">address line 3:</label>
                                        </dt>
                                        <dd>
                                            <input name="address3" type="text" id="address3" size="32">
                                            <br>
                                            <div class="reqTxtInst">department, c/o, etc.</div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="colR">
                                    <dl>
                                        <dt>
                                            <label for="city">city:</label>
                                        </dt>
                                        <dd>
                                            <input name="city" type="text" id="city" size="32" value="{City}">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                        <dt>
                                            <label for="state">state:</label>
                                        </dt>
                                        <dd>
                                            <select name="state" id="state">
                                                <option value="" selected>state</option>
                                                <option value="AL">alabama</option>
                                                <option value="AK">alaska</option>
                                                <option value="AZ">arizona</option>
                                                <option value="AR">arkansas</option>
                                                <option value="CA">california</option>
                                                <option value="CO">colorado</option>
                                                <option value="CT">connecticut</option>
                                                <option value="DE">delaware</option>
                                                <option value="DC">district of columbia</option>
                                                <option value="FL">florida</option>
                                                <option value="GA">georgia</option>
                                                <option value="HI">hawaii</option>
                                                <option value="ID">idaho</option>
                                                <option value="IL">illinois</option>
                                                <option value="IN">indiana</option>
                                                <option value="IA">iowa</option>
                                                <option value="KS">kansas</option>
                                                <option value="KY">kentucky</option>
                                                <option value="LA">louisiana</option>
                                                <option value="ME">maine</option>
                                                <option value="MD">maryland</option>
                                                <option value="MA">massachusetts</option>
                                                <option value="MI">michigan</option>
                                                <option value="MN">minnesota</option>
                                                <option value="MS">mississippi</option>
                                                <option value="MO">missouri</option>
                                                <option value="MT">montana</option>
                                                <option value="NE">nebraska</option>
                                                <option value="NV">nevada</option>
                                                <option value="NH">new hampshire</option>
                                                <option value="NJ">new jersey</option>
                                                <option value="NM">new mexico</option>
                                                <option value="NY">new york</option>
                                                <option value="NC">north carolina</option>
                                                <option value="ND">north dakota</option>
                                                <option value="OH">ohio</option>
                                                <option value="OK">oklahoma</option>
                                                <option value="OR">oregon</option>
                                                <option value="PA">pennsylvania</option>
                                                <option value="RI">rhode island</option>
                                                <option value="SC">south carolina</option>
                                                <option value="SD">south dakota</option>
                                                <option value="TN">tennessee</option>
                                                <option value="TX">texas</option>
                                                <option value="UT">utah</option>
                                                <option value="VT">vermont</option>
                                                <option value="VA">virginia</option>
                                                <option value="WA">washington</option>
                                                <option value="WV">west virginia</option>
                                                <option value="WI">wisconsin</option>
                                                <option value="WY">wyoming</option>
                                            </select>
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                        <dt>
                                            <label for="postal">zip code:</label>
                                        </dt>
                                        <dd>
                                            <input name="postal" type="text" id="postal" size="15" value="{ZIP/Postal Code}">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                    </dl>
                                    <dl class="flexFirst">
                                        <dt>
                                            <label for="telephone">telephone:</label>
                                        </dt>
                                        <dd>
                                            <input name="telephone" type="text" id="telephone" size="15" value="{Telephone}">
                                        </dd>
                                    </dl>
                                    <dl class="flexAfter">
                                        <dt>
                                            <label for="ext">ext:</label>
                                        </dt>
                                        <dd>
                                            <input name="ext" type="text" id="ext" size="5">
                                        </dd>
                                    </dl>
                                    <div style="clear:both;"></div>
                                    <dl>
                                        <dt>
                                            <label for="email">e-mail</label>
                                        </dt>
                                        <dd>
                                            <input name="email" type="text" id="email" size="32" value="{E-mail}">
                                        </dd>
                                    </dl>
                                </div>
                                <div style="clear:both;"></div>
                            </fieldset>
                            <div class="hr"><img src="/img/1.gif" alt="" height="1"></div>
                            <fieldset>
                                <legend>step one: save address</legend>
                                <dl class="flexFirst">
                                    <dt>
                                        <label for="save_opt">save options for address:</label>
                                    </dt>
                                    <dd>
                                        <select name="" id="save_opt">
                                            <option value="" selected>select one</option>
                                            <option value="">save as new entry</option>
                                            <option value="">save as new entry and set as default</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl class="flexAfter">
                                    <dt>
                                        <label for="save_as">save this to my address book as:</label>
                                    </dt>
                                    <dd>
                                        <input type="text" name="textfield" id="save_as">
                                    </dd>
                                </dl>
                                <div style="clear:both;"></div>
                            </fieldset>
                            <div class="hr"><img src="/img/1.gif" alt="" height="1"></div>
                            <p><b>note:</b> the updated address information will be saved when the shipment is completed.</p>
                            </fieldset>
                        </div>
                    </div>
                    <div id="step-2" class="stepModFixed4col">
                        <div class="stepModHead">
                            <h3>requestor address</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="stepModContent">
                            <fieldset>
                                <legend>step two: shipper / return address</legend>
                                <p>
                                    <input name="repl_fname" type="checkbox" value="repl_fvalue" id="useShipFromAddress">
                                    <label class="sel" for="useShipFromAddress">use the ship from address as the shipper / return address</label>
                                </p>
                                <dl class="flexFirst">
                                    <dt>
                                        <label for="address_book">address book:</label>
                                    </dt>
                                    <dd>
                                        <select name="repl_name" id="address_book">
                                            <option value="" selected>select one</option>
                                            <option value="">this is a 35 character address entr</option>
                                        </select>
                                        <br>
                                    </dd>
                                </dl>
                                <dl class="flexAfter">
                                    <dt>&nbsp;</dt>
                                    <dd>--- or enter a new address below ---</dd>
                                </dl>
                                <div style="clear:both;"></div>
                            </fieldset>
                            <fieldset>
                                <legend>step two: enter address</legend>
                                <div class="colL">
                                    <dl>
                                        <dt>
                                            <label for="company">company or name:</label>
                                        </dt>
                                        <dd>
                                            <input name="company" type="text" id="company" value="{Company or Name}" size="32">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                        <dt>
                                            <label for="contact">contact:</label>
                                        </dt>
                                        <dd>
                                            <input name="contact" type="text" id="contact" size="32" value="{Contact}">
                                        </dd>
                                        <dt>
                                            <label for="country">country or territory:</label>
                                        </dt>
                                        <dd>
                                            <select name="country" size="1">
                                                <option value="None">country or territory</option>
                                                <option value="AL">albania</option>
                                                <option value="DZ">algeria</option>
                                                <option value="AS">american samoa</option>
                                                <option value="AD">andorra</option>
                                                <option value="AO">angola</option>
                                                <option value="AI">anguilla</option>
                                                <option value="AG">antigua &amp; barbuda</option>
                                                <option value="AR">argentina</option>
                                                <option value="AM">armenia</option>
                                                <option value="AW">aruba</option>
                                                <option value="AU">australia</option>
                                                <option value="AT">austria</option>
                                                <option value="AZ">azerbaijan</option>
                                                <option value="A2">azores</option>
                                                <option value="BS">bahamas</option>
                                                <option value="BH">bahrain</option>
                                                <option value="BD">bangladesh</option>
                                                <option value="BB">barbados</option>
                                                <option value="BY">belarus</option>
                                                <option value="BE">belgium</option>
                                                <option value="BZ">belize</option>
                                                <option value="BJ">benin</option>
                                                <option value="BM">bermuda</option>
                                                <option value="BT">bhutan</option>
                                                <option value="BO">bolivia</option>
                                                <option value="BL">bonaire</option>
                                                <option value="BA">bosnia &amp; herzegovina</option>
                                                <option value="BW">botswana</option>
                                                <option value="BR">brazil</option>
                                                <option value="BN">brunei</option>
                                                <option value="BG">bulgaria</option>
                                                <option value="BF">burkina faso</option>
                                                <option value="BI">burundi</option>
                                                <option value="KH">cambodia</option>
                                                <option value="CM">cameroon</option>
                                                <option value="CA">canada</option>
                                                <option value="IC">canary islands</option>
                                                <option value="CV">cape verde</option>
                                                <option value="KY">cayman islands</option>
                                                <option value="CF">central african republic</option>
                                                <option value="TD">chad</option>
                                                <option value="CL">chile</option>
                                                <option value="CN">china, people's republic of</option>
                                                <option value="CO">colombia</option>
                                                <option value="CG">congo</option>
                                                <option value="CD">congo, democratic republic of</option>
                                                <option value="CK">cook islands</option>
                                                <option value="CR">costa rica</option>
                                                <option value="HR">croatia</option>
                                                <option value="CB">curacao</option>
                                                <option value="CY">cyprus</option>
                                                <option value="CZ">czech republic</option>
                                                <option value="DK">denmark</option>
                                                <option value="DJ">djibouti</option>
                                                <option value="DM">dominica</option>
                                                <option value="DO">dominican republic</option>
                                                <option value="TL">east timor (timor-leste)</option>
                                                <option value="EC">ecuador</option>
                                                <option value="EG">egypt</option>
                                                <option value="SV">el salvador</option>
                                                <option value="EN">england</option>
                                                <option value="GQ">equatorial guinea</option>
                                                <option value="ER">eritrea</option>
                                                <option value="EE">estonia</option>
                                                <option value="ET">ethiopia</option>
                                                <option value="FO">faroe islands</option>
                                                <option value="FJ">fiji</option>
                                                <option value="FI">finland</option>
                                                <option value="FR">france</option>
                                                <option value="GF">french guiana</option>
                                                <option value="PF">french polynesia</option>
                                                <option value="GA">gabon</option>
                                                <option value="GM">gambia</option>
                                                <option value="GE">georgia</option>
                                                <option value="DE">germany</option>
                                                <option value="GH">ghana</option>
                                                <option value="GI">gibraltar</option>
                                                <option value="GR">greece</option>
                                                <option value="GL">greenland</option>
                                                <option value="GD">grenada</option>
                                                <option value="GP">guadeloupe</option>
                                                <option value="GU">guam</option>
                                                <option value="GT">guatemala</option>
                                                <option value="GG">guernsey</option>
                                                <option value="GN">guinea</option>
                                                <option value="GW">guinea-bissau</option>
                                                <option value="GY">guyana</option>
                                                <option value="HT">haiti</option>
                                                <option value="HO">holland</option>
                                                <option value="HN">honduras</option>
                                                <option value="HK">hong kong</option>
                                                <option value="HU">hungary</option>
                                                <option value="IS">iceland</option>
                                                <option value="IN">india</option>
                                                <option value="ID">indonesia</option>
                                                <option value="IQ">iraq</option>
                                                <option value="IE">ireland, republic of</option>
                                                <option value="IL">israel</option>
                                                <option value="IT">italy</option>
                                                <option value="CI">ivory coast</option>
                                                <option value="JM">jamaica</option>
                                                <option value="JP">japan</option>
                                                <option value="JE">jersey</option>
                                                <option value="JO">jordan</option>
                                                <option value="KZ">kazakhstan</option>
                                                <option value="KE">kenya</option>
                                                <option value="KI">kiribati</option>
                                                <option value="KO">kosrae</option>
                                                <option value="KW">kuwait</option>
                                                <option value="KG">kyrgyzstan</option>
                                                <option value="LA">laos</option>
                                                <option value="LV">latvia</option>
                                                <option value="LB">lebanon</option>
                                                <option value="LS">lesotho</option>
                                                <option value="LR">liberia</option>
                                                <option value="LY">libya</option>
                                                <option value="LI">liechtenstein</option>
                                                <option value="LT">lithuania</option>
                                                <option value="LU">luxembourg</option>
                                                <option value="MO">macau</option>
                                                <option value="MK">macedonia (fyrom)</option>
                                                <option value="MG">madagascar</option>
                                                <option value="M3">madeira</option>
                                                <option value="MW">malawi</option>
                                                <option value="MY">malaysia</option>
                                                <option value="MV">maldives</option>
                                                <option value="ML">mali</option>
                                                <option value="MT">malta</option>
                                                <option value="MH">marshall islands</option>
                                                <option value="MQ">martinique</option>
                                                <option value="MR">mauritania</option>
                                                <option value="MU">mauritius</option>
                                                <option value="MX">mexico</option>
                                                <option value="FM">micronesia</option>
                                                <option value="MD">moldova</option>
                                                <option value="MC">monaco</option>
                                                <option value="MN">mongolia</option>
                                                <option value="MS">montserrat</option>
                                                <option value="MA">morocco</option>
                                                <option value="MZ">mozambique</option>
                                                <option value="NA">namibia</option>
                                                <option value="NP">nepal</option>
                                                <option value="NL">netherlands</option>
                                                <option value="AN">netherlands antilles</option>
                                                <option value="NC">new caledonia</option>
                                                <option value="NZ">new zealand</option>
                                                <option value="NI">nicaragua</option>
                                                <option value="NE">niger</option>
                                                <option value="NG">nigeria</option>
                                                <option value="NF">norfolk island</option>
                                                <option value="NB">northern ireland</option>
                                                <option value="MP">northern mariana islands</option>
                                                <option value="NO">norway</option>
                                                <option value="OM">oman</option>
                                                <option value="PK">pakistan</option>
                                                <option value="PW">palau</option>
                                                <option value="PA">panama</option>
                                                <option value="PG">papua new guinea</option>
                                                <option value="PY">paraguay</option>
                                                <option value="PE">peru</option>
                                                <option value="PH">philippines</option>
                                                <option value="PL">poland</option>
                                                <option value="PO">ponape</option>
                                                <option value="PT">portugal</option>
                                                <option value="PR">puerto rico</option>
                                                <option value="QA">qatar</option>
                                                <option value="RE">reunion</option>
                                                <option value="RO">romania</option>
                                                <option value="RT">rota</option>
                                                <option value="RU">russia</option>
                                                <option value="RW">rwanda</option>
                                                <option value="SS">saba</option>
                                                <option value="SP">saipan</option>
                                                <option value="SM">san marino</option>
                                                <option value="SA">saudi arabia</option>
                                                <option value="SF">scotland</option>
                                                <option value="SN">senegal</option>
                                                <option value="CS">serbia and montenegro</option>
                                                <option value="SC">seychelles</option>
                                                <option value="SL">sierra leone</option>
                                                <option value="SG">singapore</option>
                                                <option value="SK">slovakia</option>
                                                <option value="SI">slovenia</option>
                                                <option value="SB">solomon islands</option>
                                                <option value="ZA">south africa</option>
                                                <option value="KR">south korea</option>
                                                <option value="ES">spain</option>
                                                <option value="LK">sri lanka</option>
                                                <option value="NT">st. barthelemy</option>
                                                <option value="SW">st. christopher</option>
                                                <option value="SX">st. croix</option>
                                                <option value="EU">st. eustatius</option>
                                                <option value="UV">st. john</option>
                                                <option value="KN">st. kitts &amp; nevis</option>
                                                <option value="LC">st. lucia</option>
                                                <option value="MB">st. maarten</option>
                                                <option value="TB">st. martin</option>
                                                <option value="VL">st. thomas</option>
                                                <option value="VC">st. vincent &amp; the grenadines</option>
                                                <option value="SR">suriname</option>
                                                <option value="SZ">swaziland</option>
                                                <option value="SE">sweden</option>
                                                <option value="CH">switzerland</option>
                                                <option value="SY">syria</option>
                                                <option value="TA">tahiti</option>
                                                <option value="TW">taiwan</option>
                                                <option value="TJ">tajikistan</option>
                                                <option value="TZ">tanzania</option>
                                                <option value="TH">thailand</option>
                                                <option value="TI">tinian</option>
                                                <option value="TG">togo</option>
                                                <option value="TO">tonga</option>
                                                <option value="ZZ">tortola</option>
                                                <option value="TT">trinidad &amp; tobago</option>
                                                <option value="TU">truk</option>
                                                <option value="TN">tunisia</option>
                                                <option value="TR">turkey</option>
                                                <option value="TM">turkmenistan</option>
                                                <option value="TC">turks &amp; caicos islands</option>
                                                <option value="TV">tuvalu</option>
                                                <option value="UG">uganda</option>
                                                <option value="UA">ukraine</option>
                                                <option value="UI">union island</option>
                                                <option value="AE">united arab emirates</option>
                                                <option value="GB">united kingdom</option>
                                                <option value="US" selected>united states</option>
                                                <option value="UY">uruguay</option>
                                                <option value="UZ">uzbekistan</option>
                                                <option value="VU">vanuatu</option>
                                                <option value="VA">vatican city</option>
                                                <option value="VE">venezuela</option>
                                                <option value="VN">vietnam</option>
                                                <option value="VR">virgin gorda</option>
                                                <option value="VG">virgin islands, british</option>
                                                <option value="VI">virgin islands, us</option>
                                                <option value="WL">wales</option>
                                                <option value="WF">wallis &amp; futuna islands</option>
                                                <option value="WS">western samoa</option>
                                                <option value="YA">yap</option>
                                                <option value="YE">yemen</option>
                                                <option value="ZM">zambia</option>
                                                <option value="ZW">zimbabwe</option>
                                            </select>
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
                                        </dd>
                                        <dt>
                                            <label for="address1">address line 1:</label>
                                        </dt>
                                        <dd>
                                            <input name="address1" type="text" id="address1" size="32" value="{Address Line 1}">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
                                            <div class="reqTxtInst">ex: 1234 sunshine street</div>
                                        </dd>
                                        <dt>
                                            <label for="address2">address line 2:</label>
                                        </dt>
                                        <dd>
                                            <input name="address2" type="text" id="address2" size="32">
                                            <br>
                                            <div class="reqTxtInst">ex: suite 100</div>
                                        </dd>
                                        <dt>
                                            <label for="address3">address line 3:</label>
                                        </dt>
                                        <dd>
                                            <input name="address3" type="text" id="address3" size="32">
                                            <br>
                                            <div class="reqTxtInst">ex: 7<sup>th</sup> floor</div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="colR">
                                    <dl>
                                        <dt>
                                            <label for="city">city:</label>
                                        </dt>
                                        <dd>
                                            <input name="city" type="text" id="city" size="32" value="{City}">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                        <dt>
                                            <label for="state">state:</label>
                                        </dt>
                                        <dd>
                                            <select name="state" id="state">
                                                <option value="" selected>state</option>
                                                <option value="AL">alabama</option>
                                                <option value="AK">alaska</option>
                                                <option value="AZ">arizona</option>
                                                <option value="AR">arkansas</option>
                                                <option value="CA">california</option>
                                                <option value="CO">colorado</option>
                                                <option value="CT">connecticut</option>
                                                <option value="DE">delaware</option>
                                                <option value="DC">district of columbia</option>
                                                <option value="FL">florida</option>
                                                <option value="GA">georgia</option>
                                                <option value="HI">hawaii</option>
                                                <option value="ID">idaho</option>
                                                <option value="IL">illinois</option>
                                                <option value="IN">indiana</option>
                                                <option value="IA">iowa</option>
                                                <option value="KS">kansas</option>
                                                <option value="KY">kentucky</option>
                                                <option value="LA">louisiana</option>
                                                <option value="ME">maine</option>
                                                <option value="MD">maryland</option>
                                                <option value="MA">massachusetts</option>
                                                <option value="MI">michigan</option>
                                                <option value="MN">minnesota</option>
                                                <option value="MS">mississippi</option>
                                                <option value="MO">missouri</option>
                                                <option value="MT">montana</option>
                                                <option value="NE">nebraska</option>
                                                <option value="NV">nevada</option>
                                                <option value="NH">new hampshire</option>
                                                <option value="NJ">new jersey</option>
                                                <option value="NM">new mexico</option>
                                                <option value="NY">new york</option>
                                                <option value="NC">north carolina</option>
                                                <option value="ND">north dakota</option>
                                                <option value="OH">ohio</option>
                                                <option value="OK">oklahoma</option>
                                                <option value="OR">oregon</option>
                                                <option value="PA">pennsylvania</option>
                                                <option value="RI">rhode island</option>
                                                <option value="SC">south carolina</option>
                                                <option value="SD">south dakota</option>
                                                <option value="TN">tennessee</option>
                                                <option value="TX">texas</option>
                                                <option value="UT">utah</option>
                                                <option value="VT">vermont</option>
                                                <option value="VA">virginia</option>
                                                <option value="WA">washington</option>
                                                <option value="WV">west virginia</option>
                                                <option value="WI">wisconsin</option>
                                                <option value="WY">wyoming</option>
                                            </select>
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                        <dt>
                                            <label for="postal">zip code:</label>
                                        </dt>
                                        <dd>
                                            <input name="postal" type="text" id="postal" size="15" value="{ZIP/Postal Code}">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                    </dl>
                                    <dl class="flexFirst">
                                        <dt>
                                            <label for="telephone">telephone:</label>
                                        </dt>
                                        <dd>
                                            <input name="telephone" type="text" id="telephone" size="15" value="{Telephone}">
                                        </dd>
                                    </dl>
                                    <dl class="flexAfter">
                                        <dt>
                                            <label for="ext">ext:</label>
                                        </dt>
                                        <dd>
                                            <input name="ext" type="text" id="ext" size="5">
                                        </dd>
                                    </dl>
                                    <div style="clear:both;"></div>
                                    <dl>
                                        <dt>
                                            <label for="email">e-mail</label>
                                        </dt>
                                        <dd>
                                            <input name="email" type="text" id="email" size="32" value="{E-mail}">
                                        </dd>
                                    </dl>
                                </div>
                                <div style="clear:both;"></div>
                            </fieldset>
                            <div class="hr"><img src="/img/1.gif" alt="" height="1"></div>
                            <fieldset>
                                <legend>step two: save address</legend>
                                <dl class="flexFirst">
                                    <dt>
                                        <label for="save_opt">save options for address:</label>
                                    </dt>
                                    <dd>
                                        <select name="" id="save_opt">
                                            <option value="" selected>select one</option>
                                            <option value="">save as new entry</option>
                                            <option value="">save as new entry and set as default</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl class="flexAfter">
                                    <dt>
                                        <label for="save_as">save this to my address book as:</label>
                                    </dt>
                                    <dd>
                                        <input type="text" name="textfield" id="save_as">
                                    </dd>
                                </dl>
                                <div style="clear:both;"></div>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- Step Module #3: US/PR Origin- Default Presentation -->
                    
                    <div id="step-3" class="stepModFixed4col">
                        <div class="stepModHead">
                            <h3>select a language</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="stepModContent">
                            <fieldset>
                                <legend>step three: select a language</legend>
                                <div class="">
                                    <dl class="">
                                        <dt>
                                            <label for="repl_fname">language:</label>
                                        </dt>
                                        <dd>
                                            <select name="repl_fname" id="repl_fid">
                                                <option value="repl_fvalue" selected>language</option>
                                            </select>
                                        </dd>
                                    </dl>
                                </div>
                                <div style="clear:both;"></div>
                            </fieldset>
                        </div>
                    </div></td>
            </tr>
            <tr>
                <td class="btn-bar"><div class="btn-col4">
                        <input name="repl_fname" type="button" value="Reset" class="btn">
                        <input name="repl_fname" type="button" value="Cancel" class="btn">
                        <input name="repl_fname" type="button" value="Update" class="btn">
                    </div></td>
            </tr>
        </table>
    </form>
</div>
