---
title: create a shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_fname">
        <table width="422" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><!-- Begin: Section Module -->
                    
                    <div class="modFlex">
                        <div class="introMod">
                            <p class="error">we are unable to process your export documents request at this time.</p>
                            <p>after viewing and printing your air waybill, select use international tools in the navigation on the side of the screen, then select access international forms, to complete your export documents.</p>
                            <p>or, you can contact your local freight service center at 1-800-443-6379 for assistance.</p>
                            <!--
              <p>Or, you can use the <a href="javascript:repl_function('repl_href')">UPS Supply Chain Solutions Global Directory<img width="3" height="1" border="0" src="/img/1.gif" alt=""/><img width="9" height="9" border="0" alt="" src="/img/icn_popup_blue.gif"/></a> to find your local contact for assistance.</p>
-->
                            <p><b>please note:</b> shipments may be delayed if not accompanied by the proper export documents.</p>
                            <br />
                            <ul class="lstArrow">
                                <li>
                                    <a href="repl_href">
                                        continue to view air waybill
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- End: Section Module --></td>
            </tr>
        </table>
    </form>
</div>
