---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <table width="566" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><!-- Begin: Section Module -->
                    
                    <div class="modFixed4col">
                        <div class="modContent">
                            <p class="error">we are unable to process your freight services request at this time. please try again later.</p>
                            <br>
                            <ul class="lstArrow">
                                <li class="back">
                                    <a href="repl_href">
                                        back to create a shipment
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- End: Section Module --></td>
            </tr>
        </table>
    </form>
</div>
