---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        
        <!-- Begin Table: Formatting Table 3col plus 1col -->
        <table border="0" cellpadding="0" cellspacing="0" width="566">
            <tr>
                <td valign="top" width="422"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
                    
                    <table width="422" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="top"><div id="tabHeader">
                                    <ul>
                                        <li class="tab-off">
                                            <a href="repl_href">
                                                package
                                            </a>
                                        </li>
                                        <li class="tab-on">freight</li>
                                    </ul>
                                </div>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr class="mod-clr">
                                        <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    </tr>
                                    <tr>
                                        <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        <td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                            
                                            <table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%">
                                                <tr class="mod-clr">
                                                    <td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                                        
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td class="mod-clr"><span class="pi-h3">import commodities </span></td>
                                                                <td class="mod-clr" align="right"><a href="javascript:helpModLvl('repl_href')">
                                                                        help<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                                    </a></td>
                                                            </tr>
                                                        </table>
                                                        <p>enter or browse to the location and name of the commodity file to be uploaded for your commodity information and select <strong>upload</strong>.</p>
                                                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td><dl>
                                                                        <dt class="fldLbl">location and name of commodity file:</dt>
                                                                        <dd>
                                                                            <input type="file" name="user_file">
                                                                        </dd>
                                                                    </dl>
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><span class="reqTxtInst"><strong>note:</strong> unique commodities imported will be appended to your existing commodity list, duplicate commodities will be ignored.</span></td>
                                                                        </tr>
                                                                    </table>
                                                                    <br></td>
                                                            </tr>
                                                        </table>
                                                        
                                                        <!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
                                                </tr>
                                            </table></td>
                                        <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    </tr>
                                    <!-- Begin: Button Bar Rows -->
                                    <tr>
                                        <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        <td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    </tr>
                                    <tr>
                                        <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        <td class="mod-bar" align="right"><input name="cancel" type="button" value="Cancel" class="btn">
                                            <input name="upload" type="button" value="Upload" class="btn_a"></td>
                                        <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    </tr>
                                    <tr>
                                        <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    </tr>
                                    <!-- End: Button Bar Rows -->
                                </table></td>
                        </tr>
                    </table>
                    
                    <!-- End Table: Module Table (Parent:Formatting Table) --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td valign="top" width="134"><br>
                    <br>
                    
                    <!-- Begin Table: Support Module (Parent:Formatting Table) -->
                    
                    <table class="pi-mB1" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td class="pi-mB1-t">file templates </td>
                        </tr>
                        <tr>
                            <td class="pi-mB1-c" valign="top"> download the file templates needed to create .csv commodity list files.<br>
                                <br>
                                <img src="/img/icn_arrow_blue.gif" width="10" height="10" alt="">
                                <a href="rep_href">
                                    download .csv file template
                                </a></td>
                        </tr>
                        <tr>
                            <td class="pi-mB1-b" valign="top"><img alt="" height="3" src="/img/1.gif" width="1"></td>
                        </tr>
                    </table>
                    
                    <!-- End Table: Support Module (Parent:Formatting Table) --></td>
            </tr>
        </table>
        
        <!-- End Table: Formatting Table 3col plus 1col -->
        
    </form>
</div>
