---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---

<div id="main">
    
    <form action="repl_action">
        <ul id="subTab">
            <li class="tab-off">
                <a href="repl_href">
                    Package
                </a>
            </li>
            <li class="tab-on">Freight</li>
        </ul>
        <div style="clear:both;"></div>
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
            <tr>
                <th><div class="head-colFull">
                        <h2>Shipment Information</h2>
                        <ul>
                            <li class="helpmini">
                                <a href="javascript:repl_function('repl_href')">
                                    Help
                                </a>
                            </li>
                        </ul>
                    </div></th>
            </tr>
            <tr>
                <td><!-- Begin Module -->
                    
                    <div id="step-4" class="stepModFlex">
                        <div class="stepModHead">
                            <h3>Enter Shipment Details</h3>
                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
                            <div style="clear:both;"></div>
                        </div>
                        <div class="stepModContent">
                            <fieldset>
                                <legend>step four: Enter Shipment Details</legend>
                                <p>Pallets or loose items that have the same length, width, and height can be entered in the same row. enter the average weight per piece in each row.</p>
                                <dl>
                                    <dt>
                                        <label>Display Unit of Measure As:</label>
                                    </dt>
                                    <dd>
                                        <input type="radio" name="repl_fname" value="repl_fvalue" id="measurementPound" checked>
                                        <label class="sel" for="measurementPound">Pounds/Inches</label>
                                        <input type="radio" name="repl_fname" value="repl_fvalue" id="measurementKilo">
                                        <label class="sel" for="measurementKilo">Kilograms/Centimeters</label>
                                    </dd>
                                </dl>
                                <fieldset>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="dataTable">
                                        <thead>
                                            <tr>
                                                <td nowrap><label>
                                                        <a href="javascript:repl_function('repl_href')">
                                                            Handling<br>
                                                            Units<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img alt="Help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                        </a>
                                                    </label></td>
                                                <td><label>Type</label></td>
                                                <td nowrap><label>Length Each</label></td>
                                                <td nowrap><label>Width Each</label></td>
                                                <td nowrap><label>Height Each</label></td>
                                                <td nowrap><label>
                                                        <a href="javascript:repl_function('repl_href')">
                                                            Weight Each<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img alt="Help" border="0" height="9" src="/img/icn_help_blue.gif" width="9">
                                                        </a>
                                                    </label></td>
                                                <td nowrap><label>Description of Goods</label></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd">
                                                <td><input size="5" type="text"></td>
                                                <td class=""><select name="repl_name" size="1">
                                                        <option selected>Pallets</option>
                                                        <option>loose items</option>
                                                    </select></td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [lbs.]</td>
                                                <td class=""><input maxlength="35" size="32" type="text"></td>
                                            </tr>
                                            <tr>
                                                <td><input size="5" type="text"></td>
                                                <td class=""><select name="repl_name" size="1">
                                                        <option selected>Pallets</option>
                                                        <option>loose items</option>
                                                    </select></td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [lbs.]</td>
                                                <td class=""><input maxlength="35" size="32" type="text"></td>
                                            </tr>
                                            <tr class="odd">
                                                <td><input size="5" type="text"></td>
                                                <td class=""><select name="repl_name" size="1">
                                                        <option selected>Pallets</option>
                                                        <option>loose items</option>
                                                    </select></td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [lbs.]</td>
                                                <td class=""><input maxlength="35" size="32" type="text"></td>
                                            </tr>
                                            <tr>
                                                <td><input size="5" type="text"></td>
                                                <td class=""><select name="repl_name" size="1">
                                                        <option selected>Pallets</option>
                                                        <option>loose items</option>
                                                    </select></td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [lbs.]</td>
                                                <td class=""><input maxlength="35" size="32" type="text"></td>
                                            </tr>
                                            <tr class="odd hrTable">
                                                <td><input size="5" type="text"></td>
                                                <td class=""><select name="repl_name" size="1">
                                                        <option selected>Pallets</option>
                                                        <option>loose items</option>
                                                    </select></td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [in.]</td>
                                                <td nowrap class=""><input size="5" type="text">
                                                    [lbs.]</td>
                                                <td class=""><input maxlength="35" size="32" type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="clear:both;"></div>
                                </fieldset>
                                <div style="clear:both;"></div>
                                <br>
                                <p>
                                    <input name="repl_fname2" type="checkbox" value="" id="contains_duty_paid">
                                    <label class="sel" for="contains_duty_paid">Shipment Contains
                                        <a href="javascript:repl_function('repl_href')">
                                            Dangerous Goods<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                        </a>
                                    </label>
                                </p>
                                <div class="indent">
                                    <b>Note:</b> Dangerous Goods is only valid with UPS Next Day Air Freight NGS or UPS Air Freight Consolidated. </div>
                                <div style="clear:both"></div>
                                <div class="indent">
                                    <dl class="flexAfter">
                                        <dt>
                                            <label for="dng_goods_contact">Dangerous Goods Contact Name:</label>
                                        </dt>
                                        <dd>
                                            <input name="repl_fname2" type="text" size="32" value="" id="dng_goods_contact">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
                                            <br>
                                        </dd>
                                    </dl>
                                    <dl class="flexAfter">
                                        <dt>
                                            <label for="dng_telephone">Telephone:</label>
                                        </dt>
                                        <dd>
                                            <input name="repl_fname2" type="text" size="15" value="" id="dng_telephone">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
                                        </dd>
                                    </dl>
                                    <dl class="flexAfter">
                                        <dt>
                                            <label for="dng_ext">Ext:</label>
                                        </dt>
                                        <dd>
                                            <input name="repl_fname2" type="text" size="5" value="" id="dng_ext">
                                        </dd>
                                    </dl>
                                    <div style="clear:both"></div>
                                    <div class="reqTxtInst">(Required when any commodity is marked as Dangerous Goods.)</div>
                                </div>
                                <br>
                                <div class="indent">
                                    <dl >
                                        <dt>
                                            <label>Dangerous Goods Transportation Mode:</label>
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dt>
                                        <dd>
                                            <input type="radio" name="repl_fnameA" value="repl_fvalue" id="cargoAircraftOnly" checked="checked">
                                            <label class="sel" for="cargoAircraftOnly">Cargo Aircraft Only</label>
                                            <input type="radio" name="repl_fname" value="repl_fvalue" id="passengerAircraftOnly">
                                            <label class="sel" for="passengerAircraftOnly">Passenger Aircraft Allowed</label>
                                        </dd>
                                    </dl>
                                    <div style="clear:both;"></div>
                                    <dl>
                                        <dt>
                                            <br>
                                        </dt>
                                        <dd>
                                            <div class="flexAfter">
                                                <input type="checkbox" name="repl_fname" value="repl_fvalue" id="designateShipment">
                                                <label class="sel" for="designateShipment">Designate shipment for State Department License Filing </label>
                                            </div>
                                            <div style="margin-left:50px;" class="flexAfter">
                                                <a href="repl_link">
                                                    What's this ?
                                                </a>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div style="clear:both;"></div>
                                <div style="padding:10px;">
                                    <hr>
                                </div>
                                <br>
                                <h4>Freight Shipment References</h4>
                                <p>Reference numbers are any combination of letters and numbers up to 30 characters. enter a purchase order number, customer number, or group of words you want to assign to your shipment.</p>
                                <dl class="flexFirst">
                                    <dt>
                                        <label for="ship_ref">Shipper Reference:</label>
                                    </dt>
                                    <dd>
                                        <input name="repl_fname" type="text" value="" id="ship_ref">
                                    </dd>
                                </dl>
                                <dl class="flexAfter">
                                    <dt>
                                        <label for="rec_ref">Receiver Reference:</label>
                                    </dt>
                                    <dd>
                                        <input name="repl_fname" type="text" value="" id="rec_ref">
                                    </dd>
                                </dl>
                                <div style="clear:both;"></div>
                                <div class="flexFirst">
                                    <dl>
                                        <dt>
                                            <label for="custom_value">Customs Value:</label>
                                        </dt>
                                        <dd>
                                            <input name="repl_fname" type="text" value="" id="custom_value" maxlength="12">
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                    </dl>
                                </div>
                                <div class="flexAfter">
                                    <dl>
                                        <dt>
                                            <label for="custom_currency">Customs Currency:</label>
                                        </dt>
                                        <dd>
                                            <select name="repl_fname" id="custom_currency">
                                                <option selected>[Country or Territory Name] - [currency code]</option>
                                            </select>
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                    </dl>
                                </div>
                                <div style="clear:both;"></div>
                                <dl>
                                    <dt>
                                        <label>Country or Territory of Original Manufacture:</label>
                                        <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dt>
                                    <dd>Select up to 5 Countries or Territories of Original Manufacture for the commodities in your shipment.</dd>
                                    <dd>
                                        <select name="repl_fname">
                                            <option selected>Select One</option>
                                        </select>
                                    </dd>
                                    <dd>
                                        <select name="repl_fname">
                                            <option selected>Select One</option>
                                        </select>
                                    </dd>
                                    <dd>
                                        <select name="repl_fname">
                                            <option selected>Select One</option>
                                        </select>
                                    </dd>
                                    <dd>
                                        <select name="repl_fname">
                                            <option selected>Select One</option>
                                        </select>
                                    </dd>
                                    <dd>
                                        <select name="repl_fname">
                                            <option selected>Select One</option>
                                        </select>
                                    </dd>
                                </dl>
                                <p><b>Note:</b> For detailed information on product country or territory of origin, rules of origin, certificate of origin if applicable, and any related matters, please contact your country's or territory's customs authority.</p>
                            </fieldset>
                        </div>
                    </div>
                    
                    <!-- End Module -->
                    
                    <!-- Begin Module -->
                    
                    <div id="step-5" class="stepModFlex">
                        <div class="stepModHead">
                            <h3>Select Shipment Options (Optional)</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="stepModContent">
                            <fieldset>
                                <legend>step five: select shipment options (optional)</legend>
                                <!--<h4>shipment options</h4>--><!--/** Remmoved From ER1406 **/-->
                                <div style="width:70%">
                                    <dl class="flexFirst">
                                        <dt>
                                            <label for="decl_value">
                                                <a href="javascript:repl_function('repl_href')">
                                                    Declared/Insured Value:<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                </a>
                                            </label>
                                        </dt>
                                        <dd>
                                            <input type="text" id="decl_value" value="" maxlength="12">
                                        </dd>
                                    </dl>
                                    <dl class="flexAfter">
                                        <dt>
                                            <label for="decl_value_cur">Declared Value Currency:</label>
                                        </dt>
                                        <dd>
                                            <select name="repl_fname" id="decl_value_cur">
                                                <option value="repl_fvalue" selected>[Country or Territory Name] - [currency code]</option>
                                                <option value="repl_fvalue">currency</option>
                                            </select>
                                            <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dd>
                                    </dl>
                                    <div style="clear:both;"></div>
                                    <div class="colL">
                                        <dl>
                                            <dd>
                                                <input name="repl_fname" type="checkbox" value="" id="res_pickup">
                                                <label for="res_pickup" class="sel">
                                                    <a href="javascript:repl_function('repl_href')">
                                                        Residential Pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                    </a>
                                                </label>
                                            </dd>
                                            <dd>
                                                <input name="repl_fname" type="checkbox" value="" id="hold">
                                                <label for="hold" class="sel">
                                                    <a href="javascript:repl_function('repl_href')">
                                                        Hold at Destination Airport for Pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                    </a>
                                                </label>
                                            </dd>
                                            <dd>
                                                <input name="repl_fname" type="checkbox" value="" id="customsclearance">
                                                <label for="hold" class="sel">
                                                    <a href="javascript:repl_function('repl_href')">
                                                        Customs Clearance<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                    </a>
                                                </label>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="colR">
                                        <dl class="">
                                            <dd>
                                                <input name="repl_fname" type="checkbox" value="" id="resid_delivery">
                                                <label for="resid_delivery" class="sel">
                                                    <a href="javascript:repl_function('repl_href')">
                                                        Residential Delivery<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                    </a>
                                                </label>
                                            </dd>
                                            <dd>
                                                <input name="repl_fname" type="checkbox" value="" id="liftgate">
                                                <label for="liftgate" class="sel">
                                                    <a href="javascript:repl_function('repl_href')">
                                                        Lift Gate Required<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">
                                                    </a>
                                                </label>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div style="clear:both"></div>
                                    <dl>
                                        <dt>
                                            <label for="spcl_instrt">Special Instructions:</label>
                                        </dt>
                                        <dd>
                                            <textarea cols="70" rows="3" name="repl_fname" id="spcl_instrt"></textarea>
                                            <div class="reqTxtInst">(Maximum 150 characters)</div>
                                        </dd>
                                    </dl>
                                    <div style="clear:both;"></div>
                                    <div style="padding:10px;">
                                        <hr>
                                    </div>
                                    <h4>Add E-mail Notifications (optional)</h4>
                                    <dl>
                                        <dt>
                                            <label>Quantum View Notify<sup>SM</sup>:</label>
                                        </dt>
                                        <dd>Send e-mail messages at the time of shipment, if your shipment is delayed, or when your shipment is delivered.</dd>
                                    </dl>
                                    <table border="0" cellpadding="0" cellspacing="0" class="dataTable" style="margin:10px;border-top:0;">
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td><label>E-mail addresses</label></td>
                                            <td align="center"><label>
                                                    <a href="javascript:repl_function('repl_href')">
                                                        Ship:<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img alt="Help" src="/img/icn_help_blue.gif" border="0" height="9" width="9">
                                                    </a>
                                                </label></td>
                                            <td align="center"><label>
                                                    <a href="javascript:repl_function('repl_href')">
                                                        Delivery:<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img alt="Help" src="/img/icn_help_blue.gif" border="0" height="9" width="9">
                                                    </a>
                                                </label></td>
                                        </tr>
                                        <tr class="odd">
                                            <td>1.</td>
                                            <td><input name="repl_fname" type="text" size="32" maxlength="50"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td><input name="repl_fname" type="text" size="32"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox" maxlength="50"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                        </tr>
                                        <tr class="odd">
                                            <td>3.</td>
                                            <td><input name="repl_fname" type="text" size="32"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td><input name="repl_fname" type="text" size="32"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                        </tr>
                                        <tr class="odd">
                                            <td>5.</td>
                                            <td><input name="repl_fname" type="text" size="32"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                            <td align="center"><input name="repl_fname" type="checkbox"></td>
                                        </tr>
                                    </table>
                                </div>
                                <br>
                                <dl>
                                    <dt>
                                        <label for="email_mesg">E-mail message:</label>
                                    </dt>
                                    <dd>
                                        <textarea cols="70" rows="3" name="repl_fname" id="email_mesg"></textarea>
                                        <div class="reqTxtInst">(Maximum 150 characters)</div>
                                    </dd>
                                    <dt>
                                        <label for="email_notify">If any notification is undeliverable, please e-mail:</label>
                                    </dt>
                                    <dd>
                                        <input name="repl_fname" type="text" size="32" value="jsmith@email.com"  id="email_notify">
                                        <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"><br>
                                        <div class="reqTxtInst">(Required for e-mail notifications.)</div>
                                    </dd>
                                </dl>
                            </fieldset>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    
                    <!-- End Module --></td>
            </tr>
            <tr>
                <td class="btn-bar"><div class="btn-col4" style="float:right;" >
                        <input name="repl_fname" type="button" value="Back" class="btn_bak_a">
                        <input name="repl_fname" type="button" value="Cancel" class="btn">
                        <input name="next" type="submit" value="Next" class="btn_a">
                    </div></td>
            </tr>
        </table>
    </form>
    <p>UPS.com Internet Freight Shipping is governed by UPS Freight's Rules &amp; Charges located
        <a href="repl_href">
            here
        </a>
        and UPS Air Freight Terms and Conditions of Contract for UPS Air Freight Services in the United States, Canada and International are located
        <a href="repl_href">
            here
        </a>
        .</p>
</div>
