---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
    <form action="repl_faction">
        <!-- End Table: Page Header -->
        <table class="mod-clr" border="0" cellpadding="0" cellspacing="0" width="422">
            <tr>
                <td class="mod-head-clr"> e-mail bill of lading and labels </td>
            </tr>
            <tr>
                <td><!-- Begin Table: Module Body(1) (Parent:Formatting Table) -->
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td><dl class="mod-msg-pad">
                                    enter up to five e-mail address to which to mail your freight documents.
                                    <dt class="fldLbl"><br>
                                        e-mail addresses:</dt>
                                    <dd>
                                        <input type="text" name="repl_name" class="modTxtLarge" value="">
                                    </dd>
                                    <dd>
                                        <input type="text" name="repl_name" class="modTxtLarge" value="">
                                    </dd>
                                    <dd>
                                        <input type="text" name="repl_name" class="modTxtLarge" value="">
                                    </dd>
                                    <dd>
                                        <input type="text" name="repl_name" class="modTxtLarge" value="">
                                    </dd>
                                    <dd>
                                        <input type="text" name="repl_name" class="modTxtLarge" value="">
                                    </dd>
                                    <dt class="fldLbl">subject line:</dt>
                                    <dd>
                                        <input type="text" name="field6" class="modTxtLarge" value="{UPS Freight BOL nnnnnnnnn and labels}">
                                    </dd>
                                    <dt class="fldLbl">e-mail message:</dt>
                                    <dd>
                                        <textarea name="textareaName" class="modTxtAreaTrack" cols="70" rows="6"></textarea>
                                        <br>
                                        <span class="reqTxtInst"> (nnn character maximum.) </span>
                                    </dd>
                                    <dt class="fldLbl">if any notification is undeliverable, please e-mail:</dt>
                                    <dd> profile e-mail address </dd>
                                </dl></td>
                        </tr>
                        <tr>
                            <td><!-- Begin Table: Form Control Buttons (Parent:Formatting Table) -->
                                
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td bgcolor="#ffffff" height="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    </tr>
                                    <tr>
                                        <td align="right" class="mod-bar" nowrap><input name="cancel" type="button" value="Cancel" class="btn">
                                            <input name="submit" type="submit" value="Submit" class="btn_a"></td>
                                    </tr>
                                </table>
                                
                                <!-- End Table: Form Control Buttons (Parent:Formatting Table) --></td>
                        </tr>
                    </table>
                    
                    <!-- End Table: Module Body(1) (Parent:Formatting Table) --></td>
            </tr>
        </table>
    </form>
</div>
