---
title: pickup request status header
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: ltr
lang: en
---
<div id="main">
    
      <!-- Begin Application Module -->
      
      <div class="appLvl mod">
        <fieldset>
          
          <!-- Begin Application Header -->
          
          <div class="appHead clearfix">
            <h2>your pickup request header</h2>
            <ul>
              <li><a href="repl_href" class="btnlnkR helpIconR">help</a></li>
            </ul>
          </div>
          
          <!-- End Application Header --> 
          
          <!-- Begin Application Body -->
          
          <div class="appBody clearfix"> 
            
            <!-- Begin Section Module -->
            
            <div class="secLvl secLvlPlain clearfix">
              <fieldset>
                
                <!-- Begin Section Body -->
                
                <div class="secBody step clearfix">
                  <p>to check the status, select account from dropdown.  if account is not shown you can <span class="label">add another account</span>.</p>
                  <p>you can calcel request by selecting radio button to the left and selecting <span class="label">cancel selected pickup</span>.  to view previous pickup requests or pickup request is scheduled more than two business days in advance, visit <a href="repl_href">pickup history</a>.</p>
                  <dl role="presentation" >
                    <dt>
                      <label for="">select a ups account label</label>
                    </dt>
                    <dd>
                      <select name="" id="">
                        <option value="" selected="">NNXNNX</option>
                      </select>
                    </dd>
                    <dd><a href="repl_href">add another account</a></dd>
                  </dl>
                  <dl role="presentation" >
                    <dt>
                      <label for="reapl_id">smart pickup status label</label>
                    </dt>
                    <dd>
                      <p>none requested for this <a href="repl_href" class="btnlnkR helpIconR">ups account's pickup location</a> for mm/dd/yyyy.</p>
                    </dd>
                  </dl>
                  <dl role="presentation" >
                    <dt>
                      <label for="reapl_id"><a href="repl_href" class="btnlnkR helpIconR">notify time label</a> for ups account [NNXNNX]:</label>
                    </dt>
                    <dd>[hh:mm pm]</dd>
                  </dl>
                  
                  <!-- Begin Section Level -->
                  
                  <div class="secLvl step">
                    <fieldset>
                      
                      <!-- Begin Section Header -->
                      
                      <div class="secHead clearfix">
                        <h3>pending pickup requests label</h3>
                      </div>
                      
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      
                      <div class="secBody clearfix">
                        <p>pending puckup request for ups account [number]</p>
                        <table class="dataTable full" title="repl_title" summary="repl_summary">
                          <thead>
                            <tr>
                              <th></th>
                              <th>pickup date</th>
                              <th>request number</th>
                              <th>request type</th>
                              <th>pickup reference</th>
                              <th>request status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="odd">
                              <td class="sel"><input type="radio" name="repl_name" id="repl_id"></td>
                              <td>[mm/dd/yyyy]</td>
                              <td><a href="repl_href">[nnnnnnnnnn]</a></td>
                              <td>on-call</td>
                              <td>[pickup reference]</td>
                              <td>[request status]</td>
                            </tr>
                            <tr>
                              <td class="sel"><input type="radio" name="repl_name" id="repl_id"></td>
                              <td>[mm/dd/yyyy]</td>
                              <td><a href="repl_href">[nnnnnnnnnn]</a></td>
                              <td>smart pickup</td>
                              <td>[pickup reference]</td>
                              <td>[request status]</td>
                            </tr>
                            <tr class="odd">
                              <td class="sel"><input type="radio" name="repl_name" id="repl_id"></td>
                              <td>[mm/dd/yyyy]</td>
                              <td><a href="repl_href">[nnnnnnnnnn]</a></td>
                              <td>on-call</td>
                              <td>[pickup reference]</td>
                              <td>[request status]</td>
                            </tr>
                            <tr>
                              <td class="sel"><input type="radio" name="repl_name" id="repl_id"></td>
                              <td>[mm/dd/yyyy]</td>
                              <td><a href="repl_href">[nnnnnnnnnn]</a></td>
                              <td>on-call</td>
                              <td>[pickup reference]</td>
                              <td>[request status]</td>
                            </tr>
                          </tbody>
                        </table>
                        <p>
                          <input type="button" name="repl_name" value="cancel selected pickup" class="btn">
                        </p>
                      </div>
                      
                      <!-- End Section Body -->
                      
                    </fieldset>
                  </div>
                  
                  <!-- End Section Level --> 
                  
                  <!-- Begin Section Level -->
                  
                  <div class="secLvl step clearfix">
                    <fieldset>
                      
                      <!-- Begin Section Header -->
                      
                      <div class="secHead clearfix">
                        <h3>prn search header</h3>
                      </div>
                      
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      
                      <div class="secBody clearfix">
                        <p>to search for a prn, enter it below and select <span class="label">submit</span></p>
                        <dl role="presentation" >
                          <dt>
                            <label for="repl_id01"><a href="" class="btnlnkR helpIconR">prn:</a></label>
                          </dt>
                          <dd>
                            <input type="text" name="repl_name" id="repl_id01">
                          </dd>
                          <dd>
                            <input type="button" name="repl_name" value="submit" class="btn" id="repl_id">
                          </dd>
                        </dl>
                      </div>
                      
                      <!-- End Section Body -->
                      
                    </fieldset>
                  </div>
                  
                  <!-- End Section Level --> 
                  
                </div>
                
                <!-- End Section Body -->
                
              </fieldset>
            </div>
            
            <!-- End Section Module -->
            
            <p><a href="repl_href" class="arrowIcon btnlnkL">return to schedule a pickup</a></p>
          </div>
          
          <!-- End Application Body --> 
          
          <!-- Begin Application Footer -->
          
          <div class="appFooter"> </div>
          
          <!-- End Application Footer -->
          
        </fieldset>
      </div>
      <!-- End Application Module --> 
    </div>
    
   