<form action="">
          <!-- ECS C-Clamp -->
          <div class="ccacmpad1">
            <div id="main">
              <!-- Begin Application Container -->

              <!-- begin application content -->
              <!-- begin application header -->
              <table border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                </tr>
                <tr>
                  <td valign="top"><!-- begin page title -->
                    <span class="blueboldHead">{ Create/Update } Shipping Privileges</span>
                    <!-- end page title --></td>
                </tr>
                <tr>
                  <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                </tr>
                <tr>
                  <td valign="top"><!-- begin instructional text -->

                    <p class="redError bold">&gt;&gt;&gt; Alert/Error Message</p>
                    <p>Create a CampusShip Shipping Privilege set. Enter the name for the Shipping Privilege and assign one or more countries or territories to the set. To save this Shipping Privilege, select <strong>Create</strong>.</p>
                    <p>Once you have saved this Shipping Privilege, you can assign users to it.</p>

                    <!-- end instructional text --></td>
                </tr>
                <tr>
                  <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                </tr>
              </table>
              <!-- end application header -->

              <!-- begin shipping privilege details module -->
              <table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">

                <!-- begin module header -->
                <tr>
                  <td><table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
                        <td width="49%"><!-- begin module title -->
                          <span class="whiteBoldHead">Shipping Privilege Detail</span>
                          <!-- end module title --></td>
                        <td width="49%"><!-- begin module navigation -->
                          <!-- Delete Version remove help -->

                          <div align="right"> <a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a> </div>

                          <!-- end module navigation --></td>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
                      </tr>
                    </table></td>
                </tr>
                <!-- end module header -->

                <tr>
                  <td><table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td bgcolor="#996633" colspan="3"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
                        <td valign="top" width="98%"><!-- begin content column -->
                          <!-- Delete Version all fields below will be static data and all field labels will be bold -->

                          <table cellpading="0" cellspacing="0" border="0">
                            <tr>
                              <td valign="top" width="266">
                                <div style="margin:3px; text-align:left;"> <span class="bold">Shipping Privilege Name:</span> <br>
                                  <input name="" type="text" value="">
                                  <br>
                                  <br>
                                  <span class="bold">Shipping Privilege Countries or Territories:</span>&nbsp;&nbsp;<a href="repl_href">Edit</a> <br>
                                  [Country1, Country2, Country3] <br>
                                  <br>
                                  <span class="bold">Restricted Destinations:</span> <br>
                                  <a href="repl_href">View/Edit Shipping Destinations</a>
                                </div>
                                <div class="clearfix">
                                  <p class="mod-pad"> </p>
                                </div>
                              </td>
                            </tr>
                          </table>

                          <!-- begin Freight Services Table -->

                          <fieldset>
                          	<legend ><h4>Freight Services: </h4></legend>
                          <table border="0" cellpadding="0" cellspacing="0" width="542" >
                          	<tbody>
                              <tr>
                                <td valign="top" width="10"></td>
                                <td valign="top" width="10"><input name="Privileges" type="checkbox" value="" checked></td>
                                <td valign="top" colspan="2">Allow Access to All Freight Services (Shipments over 150 lbs. or 70kg)</td>
                              </tr>
                              <tr>
                                <td valign="top" width="20" colspan="2"></td>
                                <td valign="top" width="10"><input name="Privileges" type="checkbox" value=""></td>
                                <td valign="top">Allow Access to UPS Ground&trade; with Freight Pricing (also requires that UPS Ground&trade; service checkbox is selected below)</td>
                              </tr>
                              <tr><td>&nbsp;</td></tr>
                              <tr>
                                <td valign="top" width="20" colspan="2"></td>
                                <td valign="top" colspan="2"><strong>Note:</strong> Privileges below are not applicable to freight shipping.</td>
                              </tr>
                            </tbody>
                          </table>
                          </fieldset>

                          <!-- end Freight Services Table -->

                          <!-- begin Shipping Services Tables -->

                          <div class="clearfix" > <span class="bold"> UPS Shipping Services : </span> </div>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td valign="top"><input  name="Options1" type="radio" value="" checked="checked"></td>
                              <td>Allow Access to All Shipping Services (Apply to small package shipping only.)</td>
                            </tr>
                            <tr >
                              <td valign="top"><input name="Options1" type="radio" value=""></td>
                              <td>Allow Only Indicated Shipping Services  (Apply to small package shipping only.)</td>
                            </tr>
                          </table>
                          <br>






                          <table border="0" cellpadding="1" cellspacing="0" width="542">
                            <tr>

                              <!-- 1st column -->
                              <td bgcolor="#cccccc" valign="top" width="261">
                                <table>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS Next Day Air Early A.M.<sup>&reg;</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS Next Day Air<sup>&reg;</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS Next Day Air Express<sup>&reg;</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS 2nd Day Air A.M.<sup>&reg;</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS 2nd Day Air<sup>&reg;</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS 3 Day Select<sup>&reg;</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top">UPS Ground<sup>&reg;</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top">UPS Express Plus<sup>SM</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top">UPS Express<sup>SM</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top">UPS Express<sup>SM</sup> 12:00</td>
                                  </tr>
                                </table>
                              </td>


                              <!-- 2nd column -->
                              <td bgcolor="#cccccc" valign="top" width="261">
                                <table>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS Saver<sup>SM</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" colspan="2">UPS Expedited<sup>SM</sup></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS Standard</td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS Worldwide Express Freight<sup>SM</sup> midday (a palletized small package service)</td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS WW Express Freight<sup>SM</sup>  (a palletized small package service)</td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">UPS Access Point&trade; Economy (Contract Only)</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>

                          <br><br>

                          <table border="0" cellpadding="1" cellspacing="0" width="542">
                            <tr>
                              <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="542">UPS SurePost - Parcel Select Light Weight / 1 lb or Greater (Contract Only)<br>
                                UPS SurePost - Parcel Select / Less than 1lb (Contract only)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="542">UPS SurePost - Bound Printed Matter (Contract Only)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="542">UPS SurePost - Media Mail (Contract Only)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="542">UPS Access Point&trade; Economy (Contract Only)</td>
                            </tr>
                          </table>

                          <!-- end Shipping Services Tables -->

                          
                          <br>
                          <!-- begin Shipping Accessorials Tables -->
                          <div class="clearfix"> <span class="bold"> UPS Shipping Accessorials : </span> </div>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td valign="top"><input  name="Options2" type="radio" value="" checked="checked"></td>
                              <td >Allow Access to All Shipping Accessorials</td>
                            </tr>
                            <tr>
                              <td valign="top"><input name="Options2" type="radio" value=""></td>
                              <td >Allow Only Indicated Shipping Accessorials</td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" height="10px" valign="top" colspan="2"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" with="20"></td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="542">
                            <tr>
                              <td colspan="6" height="10" bgcolor="#cccccc"><img src="/img/xln_cccccc.gif" height="1" width="10" border="0" alt=""></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">C.O.D.</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Access Point<span style="font-size:10px;"><strong><sup>TM</sup></strong></span> C.O.D.</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Can Request Pickup</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">EVS/Declared Value</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Bill Shipper for Declared Value (Receiver and Third Party Only)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Saturday Delivery</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Saturday Pickup</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Allow Shipper Release</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Dry Ice (Contract May Be Required)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Refrigeration (Contract Service)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Offset the Climate Impact of Shipments <a href="repl_href" class="btlnk helpIconR">(UPS carbon neutral<img alt="Help" border="0"  src="/img/icn_blu_help.gif">)</a></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Liftgate on Pickup</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Liftgate on Delivery</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Premium Care<span style="font-size:10px;"><strong><sup>TM</sup></strong></span></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Deliver to Addressee Only</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value="" checked="checked"></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Hold at UPS Access Point</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value="" checked="checked"></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Direct Delivery Only</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Package Release Code</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" colspan="5" width="512"><p class="bold">Quantum View Notify<span style="font-size:12px;"><strong><sup>SM</sup></strong></span> E-mail</p></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Ship</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Exception</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Delivery</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4" >Return Label Created</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Import Control Label Created</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">In Transit Notification</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" colspan="5" width="512"><p class="bold">Delivery Confirmation</p></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Delivery Confirmation</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Delivery Confirmation - Signature Required</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Delivery Confirmation - Adult Signature Required</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Verbal Confirmation of Delivery</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" colspan="5" width="512"><p class="bold">UPS Returns</p></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Returns Plus - 1 UPS Pickup Attempt With Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Returns Plus - 3 UPS Pickup Attempts With Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Returns Electronic Return Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Returns Print and Mail Return Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Returns<span style="font-size:10px;"><strong><sup>SM</sup></strong></span> Print Return Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Returns Flexible Access (Contract Service)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Returns<sup>&reg;</sup> Exchange (Contract Service)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">UPS Returns<sup>&reg;</sup>  Pack and Collect (Contract Service)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" colspan="5" width="512"><p class="bold">UPS Import Control<span style="font-size:12px;"><strong><sup>SM</sup></strong></span></p></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">1 UPS Pickup Attempt With Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">3 UPS Pickup Attempts With Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Electronic Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Print and Mail Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Print Label</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502" colspan="4">Commercial Invoice Removal</td>
                            </tr>

                            <!-- end Shipping Accessorials Tables -->

                            <!-- begin Special Commodities (Contract Only) Table -->

                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" colspan="5" width="512"><p class="bold">Special Commodities (Contract Only)</p></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Alcoholic Beverages</td>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Biological Substances</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Perishables</td>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Plants</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Seeds</td>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Special Exceptions</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Tobacco</td>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="241"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="241"></td>
                            </tr>
                            <tr>
                              <td colspan="6" height="10" bgcolor="#cccccc"><img src="/img/xln_cccccc.gif" height="1" width="10" border="0" alt=""></td>
                            </tr>
                          </table>
                          <!-- end Special Commodities (Contract Only) Table -->
                          <br>
                          <!-- begin Additional Shipping Options table -->
                          <div class="clearfix"> <span class="bold"> Additional Shipping Options : </span> </div>
                          <table border="0" cellpadding="1" cellspacing="0" width="542">
                            <tr>

                              <!-- 1st column -->
                              <td bgcolor="#cccccc" valign="top" width="261">
                                <table>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="231">
                                      International Documentation
                                      <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                          <td valign="top" width="10"><input type="checkbox" value="" name="repl_name" id="repl_id" disabled></td>
                                          <td width="221"> Allow State Department Licence (SDL) shipments (Contract Only)</td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="20"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value="">
                                    <td bgcolor="#cccccc" valign="top" width="231">Override Paperless Lane Settings</td>
                                  </tr>
                                  <tr>
                                    <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td colspan="2" bgcolor="#cccccc" valign="top"><strong>Rate Display When Shipping</strong> <br>
                                      <select name="repl_fname" class="modSelMedium" size="1">
                                        <option>UPS Published Rates</option>
                                        <option>UPS published and negotiated rates</option>
                                        <option>No Rates</option>
                                      </select>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="20"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td colspan="2" bgcolor="#cccccc" valign="top" class="fldLbl"><label for="repl_id"><a class="helpTerm" href="repl_href">Upload Files and Batch Shipping:<img width="2" height="2" border="0" alt="Help" src="/img/1.gif"><img width="9" height="9" border="0" alt="Help" src="/img/icn_help_blue.gif"></a></label>
                                      <br>
                                      <select name="repl_fname" class="modSelMedium" id="repl_id">
                                        <option>None Selected</option>
                                      </select>
                                      <br>
                                      <br>
                                    </td>
                                  </tr>
                                </table>
                              </td>


                              <!-- 2nd column -->
                              <td bgcolor="#cccccc" valign="top" width="261">
                                <table>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">
                                      Create Shipping Tickets
                                      <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                          <td valign="top" width="10"><input type="checkbox" value="" name="repl_name" id="repl_id" disabled></td>
                                          <td width="231">Create Shipping Tickets Only - No Shipping Labels</td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">Allow Display of UPS Account Number</td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">Allow UPS TradeAbility&trade; services</td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">Allow 3<sup>rd</sup> Country or Territory Returns / Import Control Destinations (Contract Only)</td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">Prevent Profile and Password Changes</td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                                    <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                                    <td bgcolor="#cccccc" valign="top" width="241">Hide Service Upgrade Message</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <!-- end Additional Shipping Options table -->
                          <br>
                          <!-- begin Billing Options Tables -->
                          <div class="clearfix"> <span class="bold"> Billing Options : </span> </div>
                          <table border="0" cellpadding="0" cellspacing="0" >
                            <tr>
                              <td valign="top"><input name="Options3" type="radio" value="" checked="checked"></td>
                              <td>Allow Access to All Billing Options</td>
                            </tr>
                            <tr>
                              <td valign="top"><input name="Options3" type="radio" value=""></td>
                              <td>Allow Only Indicated Billing Options</td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" height="10px" valign="top" colspan="2"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" with="20"></td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="542">
                            <tr>
                              <td bgcolor="#cccccc" valign="top" colspan="6"><img alt="" border="0" height="10" src="/img/xln_cccccc.gif" width="10"></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td colspan="2" valign="top" bgcolor="#cccccc"><b>Bill Shipping Charges to:</b></td>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td colspan="2" valign="top" bgcolor="#cccccc"><b>Bill Duties and Taxes to:</b></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Shipper's UPS Account</td>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Shipper's UPS Account</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Receiver</td>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Receiver</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Consignee Bill</td>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="241">Third Parties</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td bgcolor="#cccccc" valign="top"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top">Payment Card</td>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td bgcolor="#cccccc" valign="top"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top">Allow Split Duties VAT</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td bgcolor="#cccccc" valign="top"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top">Third Parties</td>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td bgcolor="#cccccc" valign="top"><input  name="Billing" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top">Alternate Payment Method</td>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                              <td bgcolor="#cccccc" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" colspan="6"><img alt="" border="0" height="10" src="/img/xln_cccccc.gif" width="10"></td>
                            </tr>
                          </table>
                          <!-- end Billings Options Table -->
                          <br>
                          <!-- begin Address Book Privileges Table -->
                          <div class="clearfix"> <span class="bold"> Address Book Priveleges : </span> </div>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td valign="top"><input name="Options4" type="radio" value="" checked="checked"></td>
                              <td>Allow Access to All Address Book Privileges When Shipping</td>
                            </tr>
                            <tr>
                              <td valign="top"><input name="Options4" type="radio" value=""></td>
                              <td>Allow Only Indicated Address Book Privileges When Shipping</td>
                            </tr>
                          </table>
                          <br>
                          <table border="0" cellpadding="0" cellspacing="0" width="542">
                            <tr>
                              <td bgcolor="#cccccc" valign="top" colspan="3"><img alt="" border="0" height="10" src="/img/xln_cccccc.gif" width="10"></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">Allow Manual Entry Of New Addresses</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">Select from, Edit and Save Addresses to UPS Address Book</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">Select Addresses from External Address Book</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" colspan="2"><p class="bold">Corporate Address Book Privileges</p></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">Select Addresses from Corporate Address Book</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">Edit Addresses Selected from Corporate Address Book</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">Save Changes to Selected Corporate Address Book Entry</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">Save Changes to Selected Corporate Address Book Entry as New Entry</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" colspan="3"><img height="10" width="10" src="/img/xln_cccccc.gif" alt="" border="0"></td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" valign="top" colspan="3"><img height="10" width="10" src="/img/xln_ffffff.gif" alt="" border="0"></td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" valign="top" colspan="3"><span class="bold">Note:</span> &quot;Addresses&quot; typically means the Ship To Address, or the Pickup From Address in the case of a Return. Some Save and Update settings may also apply to Shipper or Ship From addresses.</td>
                            </tr>
                          </table>
                          <!-- end Address Book Privileges Table -->
                          <br>
                          <!-- begin Additional Shipping Services -->
                          <div class="clearfix"> <span class="bold"> Additional Shipping Services : </span> </div>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td valign="top"><input  name="Options6" type="radio" value="" checked="checked"></td>
                              <td>Allow Access to All Additional Shipping Services</td>
                            </tr>
                            <tr>
                              <td valign="top"><input name="Options6" type="radio" value=""></td>
                              <td>Allow Only Indicated Additional Shipping Services</td>
                            </tr>
                          </table>
                          <br>
                          <table border="0" cellpadding="0" cellspacing="0" width="542">
                            <tr>
                              <td bgcolor="#cccccc" valign="top" colspan="3"><img alt="" border="0" height="10" src="/img/xln_cccccc.gif" width="20"></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Additional" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">UPS Delivery Intercept<span style="font-size:10px"><sup>SM</sup></span> (US/PR Only)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Additional" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">UPS Proactive Response<span style="font-size:10px;"><sup>SM</sup></span> (Contract Service)</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" colspan="3"><img alt="" border="0" height="10" src="/img/xln_cccccc.gif" width="20"></td>
                            </tr>
                          </table>
                          <!-- end Additional Shipping Services (US and PR Only) -->
                          <br>
                          <!-- begin Reference Number Restrictions Table -->
                          <div class="clearfix"> <span class="bold"> Reference Number Restrctions : </span> </div>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td valign="top"><input  name="Options5" type="radio" value="" checked="checked"></td>
                              <td>Activate All Reference Number Restrictions</td>
                            </tr>
                            <tr>
                              <td valign="top"><input name="Options5" type="radio" value=""></td>
                              <td>Activate Only Indicated Reference Number Restrictions</td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" valign="top" ><img height="10" width="10" src="/img/xln_ffffff.gif"></td>
                            </tr>
                          </table>
                          <table bgcolor="#cccccc" border="0" cellpadding="1" cellspacing="0" width="524">
                            <tr>
                              <td><table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="522">
                                  <tr>
                                    <td bgcolor="#cccccc" width="314"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc" width="69"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc" width="69"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc" width="68"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc"><div class="spacing"> <strong>Ref List 1</strong> </div></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc"><div class="spacing"> <strong>Ref List 2</strong> </div></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc"><div class="spacing"> <strong>Ref List 3</strong> </div></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff"><div class="spacing"> Require to Ship: </div></td>
                                    <td bgcolor="#ffffff"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue" checked>
                                      </div></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#ffffff"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue">
                                      </div></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#ffffff"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue">
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc"><div class="spacing"> Select from List / Display Search Link: </div></td>
                                    <td bgcolor="#cccccc"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue" checked>
                                      </div></td>
                                    <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue" checked>
                                      </div></td>
                                    <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#cccccc"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue" checked>
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#cccccc" colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff"><div class="spacing"> Validate against List: </div></td>
                                    <td bgcolor="#ffffff"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue" checked>
                                      </div></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#ffffff"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue">
                                      </div></td>
                                    <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td bgcolor="#ffffff"><div align="center">
                                        <input  name="repl_fname" type="checkbox" value="repl_fvalue">
                                      </div></td>
                                  </tr>
                                  <tr>
                                    <td bgcolor="#ffffff" colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table>
                          <!--/td>
                            </tr>
                        </table-->
                          <!-- end Reference Number Restrictions Table -->
                          <br>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td colspan="2" valign="top"><p class="bold">Prevent Administrator Lookup:</p></td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="542">
                            <tr>
                              <td bgcolor="#cccccc" valign="top" colspan="3"><img height="10" width="10" src="/img/xln_cccccc.gif" alt="" border="0"></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" width="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="10"></td>
                              <td bgcolor="#cccccc" valign="top" width="10"><input  name="Privileges" type="checkbox" value=""></td>
                              <td bgcolor="#cccccc" valign="top" width="502">Prevent Administrator Lookup</td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" valign="top" colspan="3"><img height="10" width="10" src="/img/xln_cccccc.gif" alt="" border="0"></td>
                            </tr>
                          </table>
                          <br>
                          <!-- end content column --></td>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
                      </tr>
                      <tr>
                        <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                      </tr>
                    </table>

                    <!-- end module column spacing table --></td>
                </tr>
              </table>
              <!-- end shipping privilege details module -->

              <!-- begin Footer Buttons -->
              <table border="0" cellpadding="0" cellspacing="1" width="566">
                <tr>
                  <td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
                </tr>
                <tr>
                  <td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
                  <td align="right" valign="top" width="366"><input value="Cancel" name="cancel" class="btn" type="button">
                    <input value="Create" name="create" class="btn" type="button"></td>
                </tr>
              </table>
              <!-- end Footer Buttons -->

              

              <!-- end application content -->

            </div>
          </div>
          <!-- End ECS C-Clamp -->
        </form>
