@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Mobile";
select#origCountryValue {
	margin-bottom: 0;
}

#additional-shipping-options + .row .form-group.col-sm-6 {
	padding: 0
}

.RIF_Address .RIF_Country>span select {
	border-radius: 7px;
}

#residentialAddress {
	padding: 0;
	margin-#{$default-float}: 0!important;
}

.checkbox label {
	padding: 0;
	margin: 0;
}

#upsAccessPoint #accessPointLabel #accessPoint {
	float: $default-float;
	padding: 0;
	margin-#{$default-float}: 0;
}

.checkbox {
	padding: 0!important;
	margin-bottom: 0!important;
}

#upsAccessPoint .checkbox {
	padding-top: 15px!important
}

section .row {
	padding: 0!important;
}

.form-group.col-sm-6 {
	padding: 0
}

.content {
	.list-group-item h3 {
		margin-top: 0;
	}

	.divider.full-width {
		h2 {
			padding-bottom: 0;

			&:last-child {
				padding-bottom: 20px;
			}
		}

		ul + p {
			padding-top: 0;
		}
	}

//	section > * {
//		margin: 0;
//	}
}
#main .subhead h1 {font-size: 1.6em;}
#ups-fw_legacy_app_wrap #main .subhead .back a {color:transparent!important}

#addHandling { margin-top:5px;}
#additional-shipping-options{
    margin:0px!important;
    .row {
        margin: 0 10px;
    }
    .checkbox{
        position: relative;
        margin: 0 10px;
        height: 34px;

        label {
            display: block;
            position: relative;
            padding-#{$default-float}: 28px;
            margin-bottom:12px;
        }

        input[type=checkbox] {
            position: absolute;
            #{$default-float}: 0;
            margin: 0;
            top: -3px;
            height: 20px;
            width: 20px;

            &:before {
                #{$default-float}: 0px;
            }
        }
        input[type=checkbox]:checked, input[type=checkbox]:focus:checked {
            &:after {
                margin-top:5px;
                #{$default-float}: 8px;
            }
        }
    }
}
.ups-native {
    #additional-shipping-options{
        .checkbox{
            input[type=checkbox] {
                &:before {
                    margin-top:5px;
                    #{$default-float}: -2px;
                }
            }
            input[type=checkbox]:checked, input[type=checkbox]:focus:checked {
                &:after {
                    #{$default-float}: 6px;
                }
            }
        }
    }
}

#ddo,#additionalhandling{
    padding:0;
    margin-#{$default-float}: 0 !important;
}

#main input[type="radio"], #main input[type="checkbox"]:before{top:0px;}
#ups-fw_legacy_app_wrap a.btn-aqua:not(.NavBar_button):not(.NavBar_compass):not(.locationPin) {color:#fff!important}
.error-content.alert.alert-info{
    color: #c91a13 !important;
    border: 1px solid #c91a13
}
