
<div class="appLvl col12 mod">
	<fieldset>
		<!-- Begin Applicaiton Header -->
		<div class="appHead clearfix">
			<h2>{Select Packages to Void}{Verify Your Shipment Information}</h2>
			<!--<ul>
                    <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                    <li><input class="btnlnkR printIconR" type="button" value="print" name="Input"></li>
                </ul>--> 
		</div>
		<!-- End Application Header --> 
		
		<!-- Begin Application Body -->
		<div class="appBody clearfix"> 
			
			<!-- Begin Section Module -->
			<div class="secLvl secLvlPlain clearfix"> 
				
				<!-- Begin Section Body -->
				<div class="secBody">
					<p>The tracking number entered is associated with a multi-{package/pallet} shipment. Verify that the information is correct for the shipment{s} you wish to void. To void individual packages, mark the check box next to one or more packages and select <strong>Void Selected</strong> to complete the transaction. To void the {entire} shipment, select <strong>Void All</strong> to complete the transaction.</p>
					<h3>Verify Void Request</h3>
					<dl class="outHozFixed clearfix">
						<dt><span class="label">Packages in Shipment:</span></dt>
						<dd>[00]</dd>
						<dt><span class="label">Original Scheduled Pickup Date:</span></dt>
						<dd>[Weekday, Month, dd, yyyy]</dd>
						<dt><span class="label">Ship To:</span></dt>
						<dd>[City, State, Country or Territory, ZIP/<br>
							Postal Code]</dd>
						<dt><span class="label">Service:</span></dt>
						<dd>[UPS Service Name]</dd>
					</dl>
					<div class="clear"></div>
					<table class="dataTable full" border="0" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>Tracking Number</th>
								<th>{Package/Pallet} Weight</th>
								<th>{Package/Pallet} Status</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td><input type="checkbox" size="10" id="repl_id" name="repl_name"></td>
								<td>1Z905AW0300043918</td>
								<td>0.00</td>
								<td>[Tracking or Void Status]</td>
							</tr>
							<tr class="">
								<td><input type="checkbox" size="10" id="repl_id" name="repl_name"></td>
								<td>1Z905AW0300043918</td>
								<td>0.00</td>
								<td>[Tracking or Void Status]</td>
							</tr>
							<tr class="odd">
								<td><input type="checkbox" size="10" id="repl_id" name="repl_name"></td>
								<td>1Z905AW0300043918</td>
								<td>0.00</td>
								<td>[Tracking or Void Status]</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- End Section Body --> 
				
			</div>
			<!-- End Section Module --> 
			
		</div>
		<!-- End Application Body --> 
		
		<!-- Begin Application Footer -->
		<div class="appFooter"> 
			
			<!-- Begin Button Bar Row -->
			<div class="btnBar">
				<input name="repl_name" type="button" value="Cancel" class="btn">
				<input name="repl_name" type="button" value="Void Selected" class="btn">
				<input name="repl_name" type="button" value="Void All" class="btn">
			</div>
			<!-- End Button Bar Row --> 
			
		</div>
		<!-- End Application Footer -->
	</fieldset>
</div>
