<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Calculate Time and Cost</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Results Summary</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Ship From:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[city, postal code, country or territory]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Ship To:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[city, postal code, country or territory]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Shipment Date:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[weekday month dd, yyyy]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Bill to UPS Account:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[yes/no]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Total Shipment Weight:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[nnn.00 lbs/kgs]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Drop-off/Pickup:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[drop-off/pickup option description]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Address Type:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[residential]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Number of Packages:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[nn]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Packaging:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[packaging type selection]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Customs Value:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[nnn.00]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Currency:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[USD]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<div align="center"><img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"></div>
			<a href="repl_href"><img alt="" border="0" height="7" src="/img/icn_anchor.gif" width="7"><img alt="" border="0" height="1" src="/img/1.gif" width="3">Package Information</a>
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr class="pi-r1-t">
			<td class="pi-r1-pad" width="40%">Service</td>
			<td class="pi-r1-line" width="35%">Total (All Packages)</td>
			<td class="pi-r1-line" width="25%">Days  In Transit</td>
		</tr>
		</thead>
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad"><a href="repl_href">UPS SonicAir</a><br>Guaranteed by: Same Day <sup>1</sup></td>
			<td class="pi-r1-pad">See Note <sup>1</sup></td>
			<td class="pi-r1-pad">Same Day <sup>1</sup></td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad"><a href="repl_href">[ups service name]</a><br>Guaranteed by: [hh:mm A.M.]<br>[weekday month dd, yyyy]</td>
			<td class="pi-r1-pad">[$ nnn.00*]<br><a href="repl_href">View Details</a><br><a href="repl_href">Select for Landed Cost</a></td>
			<td class="pi-r1-pad">1</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad"><a href="repl_href">[ups service name]</a><br>Guaranteed by: [hh:mm A.M.]<br>[weekday month dd, yyyy]</td>
			<td class="pi-r1-pad">[$ nnn.00*]<br><a href="repl_href">View Details</a><br><a href="repl_href">Select for Landed Cost</a></td>
			<td class="pi-r1-pad">1</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad"><a href="repl_href">[ups service name]</a><br>Guaranteed by: [hh:mm A.M.]<br>[weekday month dd, yyyy]</td>
			<td class="pi-r1-pad">[$ nnn.00*]<br><a href="repl_href">View Details</a><br><a href="repl_href">Select for Landed Cost</a></td>
			<td class="pi-r1-pad">2</td>
		</tr>
		</tbody>
		<tfoot>
		<tr class="pi-r1-b">
			<td colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		<tr>
			<td class="pi-r1-pad" colspan="3">Result estimates calculated by UPS: Friday May 2, 2004 4:37 P.M.  Eastern Time (USA)</td>
		</tr>
		</tfoot>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->

		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

<!-- Begin Table: Functional Table 2 -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td>

	<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
		<br>
		*Rate includes a <a href="repl_href">fuel surcharge</a>.
		<br><br>
		<sup>1</sup> Based on Flight Availability. Please visit UPS SonicAir or call 800-451-4550 for rates and additional details.
		<br><br>
    	<a href="repl_href"><img alt="" border="0" height="7" src="/img/icn_anchor.gif" width="7"><img alt="" border="0" height="1" src="/img/1.gif" width="3">Guarantees and Notices</a>
		<br><br>
		</td>
	</tr>
	</table>
	<!-- End Table: Functional Table 2 (Parent:Module Table) -->

	<!-- Begin Table: Functional Table 3 -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td colspan="4"><span class="pi-h3">Package Information</span></td>
	</tr>
	<tr>
		<td colspan="4"><span class="pi-h4">Package 1</span></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Weight:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[nn lbs/kgs]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Dimensions:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[not entered]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Insured:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[not entered]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td colspan="4"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td colspan="4"><span class="pi-h4">Package 2</span></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Weight:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[nn lbs/kgs]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Dimensions:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[not entered]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Insured:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[not entered]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Functional Table 3 -->

	<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
		<br>
		<span class="pi-h3">Guarantees and Notices</span><br>
		Subject to the Terms and Conditions of Service, services listed as guaranteed are backed by a money-back guarantee. UPS guarantees the day of delivery for every ground package you ship to any address within the 48 contiguous states, except for any ground package originating in Alaska or Hawaii. See the UPS Rate and Service Guide for details.
		<br><br>
		Rates are estimates only based on Prepaid service.
		<br><br>
		Scheduled business days are revised occasionally due to changes in technology, distribution and volume. Service to some remote areas may require additional delivery days.
		<br><br>
		<span class="pi-h4">Please Note:</span> Shipping rates quoted are estimates based on the information you have supplied. Shipping rates do not include duties, taxes or other non-routine customs brokerage charges. Other shipping charges, surcharges or accessorial charges may apply and your final shipping charge may differ based on your shipper characteristics and the characteristics of, and services requested for, packages actually tendered to UPS.  Rates quoted here are based on UPS published rates and do not include incentives or special programs.  If you have specially negotiated rates, contact your UPS account executive for a rate quote. Pease see the UPS Rate and Service Guide or similar guides or rate documents as may be applicable in your jurisdiction for details.  Rates may vary at retail locations.
		<br><br>
		</td>
	</tr>
	</table>
	<!-- End Table: Functional Table 2 (Parent:Module Table) -->

	</td>
</tr>
</table>
<!-- End Table: Functional Table 2 -->

</form>
