---
title: Gold Standard Baseline HTML
layout: default_light.hbs
dir: ltr
lang: en
alerts: true
---

{{> ts_rr_start}}
	{{> ts_component_start}}
		{{> M15_list landing_pages.default}}
	{{> ts_component_end}}
	{{> ts_component_start}}
		{{> M15_list landing_pages.legacy}}
	{{> ts_component_end}}
	{{> ts_component_start}}
		{{> M15_list landing_pages.wem}}
	{{> ts_component_end}}
	{{> ts_component_start}}
		{{> M15_list landing_pages.guides}}
	{{> ts_component_end}}

{{> ts_rr_mid}}
	<h2>Change Log</h2>

	{{> ts_component_start}}
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">
			<ul class="ups-accordion_content">

				<!-- ////////////////////// -->
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.79.0 03/09/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NWS: TFS#560717</li>
							<li>NWS: TFS#420614</li>
							<li>NWS: TFS#595981</li>
							<li>NWS: TFS#417832</li>
							<li>NWS: TFS#426973</li>
							<li>NWS: TFS#588260</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.77.0 03/02/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>DGAT: UPSO-2166</li>
                            <li>Visibility: UPSO - 3941</li>
                            <li>Visibility: UPSO - 4223</li>
                            <li><strong>[RAP] JIRA UPSO-2944 </strong> Merchant Plugin View | Merchant Plugin Create New Plugin Policy (customized views)</li>
                            <li><strong>[RAP] JIRA UPSO-2945</strong> Merchant Plugin View | Merchant Plugin Create New Plugin Returning User</li>
                            <li><strong>[RAP] JIRA UPSO-2946</strong> Merchant Plugin View | Merchant Plugin Product List</li>
                            <li>COU: Added New Claim and Honesty statement screens, JIRA UPSO-3285</li>
							<li>NBS: TFS#556422</li>
							<li>NBS: TFS#554097</li>
							<li>NBS: TFS#550545</li>
							<li>NBS: TFS#444656</li>
							<li>NBS: TFS#527126</li>
							<li>NBS: TFS#526390</li>
							<li>NBS: TFS#530623</li>
							<li>NBS: TFS#587383</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.76.1 02/26/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>Maintenance Build</strong> [PPC] JIRA UPSO-2843 ER7806 PPC QV Admin D3 Section 20, 21, 22 Only</li>
                            <li><strong>Maintenance Build</strong> [PPC] JIRA UPSO-2844 ER7806 PPC QV Admin D3 Section 23, 24, 25, 26 Only</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.76.0 02/23/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: TFS# 567298</li>
                            <li>Visibility: TFS# 576727</li>
                            <li>Visibility: TFS# 583508</li>
                            <li>Added New COU app</li>
                            <li><strong>[RAP] JIRA UPSO-2940 </strong> Portal Items | Returns Policies: Universal Return Rules</li>
                            <li><strong>[RAP] JIRA UPSO-2941</strong> Merchant Plugin View | Merchant Plugin Landing Page: First time user sees "Create New Plugin"</li>
                            <li><strong>[RAP] JIRA UPSO-2942</strong> Merchant Plugin View | Merchant Plugin Create & Name Your New Plugin</li>
                            <li><strong>[RAP] JIRA UPSO-2943</strong>Merchant Plugin View | Merchant Plugin Create New Plugin Policy</li>
                            <li>Added Specific date disable functionaility</li>
							<li>NWS: TFS#444665</li>
							<li>NWS: TFS#none/UPSO-3924</li>
							<li>NWS: TFS#532886</li>
							<li>NWS: TFS#568567</li>
							<li>NWS: TFS#504741</li>
							<li>NWS: TFS#526482</li>
							<li>NWS: TFS#578619</li>
							<li>NWS: Content Updates</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.75.0 02/16/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[PPC] JIRA UPSO-3797 ER7806 PPC QV Admin D3 Section 17</li>
                            <li>[PPC] JIRA UPSO-2842 ER7806 PPC QV Admin D3 Section 18 and 19</li>
                            <li>[FMD] Updated Access Point Content, JIRA: [UPSO-3491]</li>
                            <li>[Visibility] TFS# 395920</li>
                            <li>[Visibility] TFS# 395917</li>
                            <li>[Visibility] TFS# 447613</li>
                            <li>[NBS] TFS#395917</li>
							<li>[NBS] TFS#447613</li>
                            <li>[NBS] TFS#526486</li>
                            <li>[NBS] TFS#444665</li>
                            <li>[NBS] TFS#447719</li>
                            <li>[NBS] TFS#532886</li>
							<li>[NBS] Content Updates</li>
                            <li>
                                [DGAT] JIRA UPSO-2166
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.74.2 02/13/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>Maintenance Build</strong> [PPC] JIRA UPSO-2840 ER7806 PPC QV Admin Section 14 and 15 Only</li>
                            <li><strong>Maintenance Build</strong> [PPC] JIRA UPSO-2841 ER7806 PPC QV Admin Section 16 Only</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.74.1 02/09/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>JUL18 ER HTML/CSS Delivery</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.74.0 02/09/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Added promo banner to Tracking Details</li>
                            <li>[RAP] JIRA UPSO-2938 Portal Items | Admin: Accounts Section (Account Management)</li>
                            <li>[RAP] JIRA UPSO-2939 Portal Items | Returns Policies: Shipping & Billing Section</li>
							<li>NBS was updated</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.73.0 02/02/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Created Official UPS Datepicker JIRA: [2679]</li>
                            <li>[PPC] JIRA UPSO-2740 ER7806 PPC QV Admin D3 Section 8, 9, 10, 11, 12, and 13 Only</li>
                            <li>[NBS]TFS#516214, TFS#550058,TFS#504558</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.72.0 01/26/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: TFS# 425925</li>
                            <li>Visibility: TFS# 426121</li>
                            <li>Visibility: TFS# 426415</li>
                            <li>Visibility: TFS# 499195</li>
                            <li>Visibility: TFS# 543294</li>
                            <li>Visibility: TFS# 551963</li>
                            <li>Visibility: TFS# 551965</li>
                            <li><strong>[PPC] JIRA UPSO-2489</strong> ER7806 PPC QV Admin D3 Section 7 Only</li>
                            <li>NBS UPSO-2712</li>
                            <li>NBS UPSO-1144</li>
                            <li>NBS UPSO-1158</li>
                            <li>NBS UPSO-1196</li>
                            <li>NBS UPSO-2053</li>
                            <li>NBS UPSO-2011</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.71.0 01/19/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updated Send Updates Modal</li>
                            <li><strong>[RAP] JIRA UPSO-751</strong> Add Analytics section to Create Report</li>
                            <li><strong>[DOA] JIRA UPSO-652</strong> DOA Update - QVM integration - QVM Modal Addition</li>
                            <li><strong>[PPC] JIRA UPSO-652</strong> PPC Update - QVM integration - Error Handling Addition</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.70.0 01/12/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Added Tracking History Modals</li>
                            <li><strong>[RAP] JIRA UPSO-794</strong> Create Email Modals on Report Preview Page</li>
                            <li><strong>[RAP] JIRA UPSO-808</strong> Add Transborder section to Shipping and Billing Section</li>
                            <li><strong>[RAP] JIRA UPSO-765</strong> Add Return Slip Drawer to Return Policy Panel</li>
                            <li><strong>[RAP] JIRA UPSO-822</strong> Add Search Input & Filter Checkboxes</li>
                            <li><strong>[RAP] JIRA UPSO-737</strong> Move Size Lever from Additional Shipping Drawer to Customer Feedback Drawer</li>
                            <li><strong>[PPC] JIRA UPSO-652</strong> PPC Update - QVM integration</li>
                            <li>NBS: TFS#438226</li>
                            <li>NBS: TFS#546328</li>
                            <li>NBS: TFS#488402</li>
                            <li>NBS: TFS#516317</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.69.0 01/05/2018<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Fixed Icon display issue for attention required. TFS: [533213]</li>
                            <li>Visibility: Updated milestone table. TFS: [512323]</li>
                            <li>Visibility: Updated text for action required. TFS: [533214]</li>
                            <li>Visibility: Add attention text on tracking details for address. TFS: [528237]</li>
                            <li>Visibility: Removed new window icon from proof of delivery link. TFS: [528697]</li>
                            <li>Visibility: Updated show more link on additional details. TFS: [523043]</li>
                            <li>[RAP] TFS: 527636 - Ineligible Returns Updates</li>
                            <li>[RAP] TFS: 538027 - Change Report Preview Modal to Page</li>
                            <li>[RAP] TFS: 537962 - Add Filter Dropdown to Returns History page</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.68.0 12/22/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - TFS: [438238], TFS: [488401], TFS: [438247]</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.67.0 12/19/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Added Send Updates Modal. TFS: [530532]</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.66.0 12/15/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Additional Details section updated with show more. TFS: [523043]</li>
                            <li>Visibility: C.O.D. added to POD. TFS: [525287]</li>
                            <li>Visibility: Icon change to chevron up/down on tracking details. TFS: [526158]</li>
                            <li>Visibility: Updated Address Display. TFS: [525210]</li>
                            <li>Visibility: Content update for What's Next. TFS: [529471]</li>
                            <li>Visibility: Update content on POD. TFS: [524608]</li>
                            <li>Visibility: Fix Capitalization on POD. TFS: [524605]</li>
                            <li>Visibility: POD modal should have guest &amp; logged in view. TFS: [519255]</li>
                            <li>Visibility: Logged in view of tracking home shouldn't have T&amp;C. TFS: [527164]</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.65.1 12/12/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updated tile styling. TFS: [454756]</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.65.0 12/08/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updated tile styling. TFS: [454756]</li>
                            <li>Visibility: Updated track homepage. TFS: [512426]</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.64.0 12/04/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Resolved Chrome issue with alert icon on tracking status bar. TFS: [508133]</li>
                            <li>Visibility: Updated Proof of Delivery Time Zone. TFS: [515682]</li>
                            <li>Visibility: Updated A.M./P.M. indicator. TFS: [511592]</li>
                            <li>[RAP/Global] TFS: 489765 - Created a Disabled Version of A05 Switch - Toggle for the View Only Returns Panel </li>
                            <li>NBS: Updated Content, TFS: [514797]</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.63.1 11/22/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS Confirmation Page TFS#488408</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.63.0 11/22/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updated track homepage for Non-logged in state. TFS: [512426]</li>
                            <li>Visibility: Fixed defect with POD. TFS: [515682]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.62.0 11/17/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Description not breaking to new line, TFS: [485687]</li>
                            <li>Visibility: Update am/pm indicator, TFS: [511592]</li>
                            <li>Visibility: Colons should appear on inline text labels, TFS: [499158]</li>
                            <li>Visibility: Proof of Delivery modal, TFS: [474056]</li>
                            <li>Visibility: Delivery Options modal, TFS: [511985]</li>
                            <li>Visibility: Style Changes, TFS: [511989]</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.4.10.docx">visibility_build_notes_0.4.10.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.61.1 11/10/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS#488392</li>
							<li>TFS#488394</li>
							<li>TFS#488397</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.61.0 11/10/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: AP EPRA Message, TFS: [450691]</li>
                            <li>Visibility: AP Location Page, TFS: [450679]</li>
                            <li>Visibility: AP Locker Barcode, TFS: [450684]</li>
                            <li>Visibility: AP Pickup Location, TFS: [426461]</li>
                            <li>[RAP] TFS: 499926 - Ineligible Returns Update </li>
                            <li>[RAP] Added PopupService to app.ts file for DatePicker</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.60.0 11/03/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: TFS: [497509] Spec Update: Jan 17 vA1.19</li>
                            <li>Visibility: Return package state added, TFS: [464620]</li>
                            <li>NBS: <a href="./docs/nbs/20171103-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.59.1 10/28/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Tradeability: Landing Page Complete: Ready for Spec Update</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.59.0 10/27/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Add infonotice to tracking details, TFS: [475095]</li>
                            <li>Visibility: Create multi-track page, TFS: [493959]</li>
                            <li>[RAP] TFS: 470862 - Correct highlighting in pagination in RAP </li>
                            <li>[RAP] Placed the side navigation menu in a <code>nav</code> tag for accessibility</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.58.0 10/20/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[RAP] TFS: 473433 - View Policy User Permission - Add a View Only Option </li>
                            <li>[RAP] Added IE fix to help with routing</li>
                            <li>ERP: TFS 451765 Change LLP HTML To A Semantic Structure</li>
                            <li>PPC: TFS: [482724] Update readerTxt on legend for checkboxes in Communication Preferences</li>
                            <li>NBS: Added package animation, TFS: [426623]</li>
                            <li>NBS: Added code for adding new packages</li>
                            <li>NBS: Added code for lithium batteries, TFS: [449514]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.57.1 10/19/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Tradeability Setup</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.57.0 10/18/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_Internet_Pickup_1801a_vA1.0</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.56.0 10/13/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Add arrow and checkmark to milestones, TFS: [480733]</li>
                            <li>Visibility: Remove sorting button for shipment progress table, TFS: [480752]</li>
                            <li>Visibility: Remove labels on SVP of shipment progress table, TFS: [480772]</li>
                            <li>Global: Resolved issue with dropdowns and the error exclamation, TFS: [462589]</li>
                            <li>Global: Resolved accessibility issues and RTL issues with toggles, TFS: [462599]</li>
                            <li>[RAP] TFS: 473416 - Edit User - Remove User ID field, Update Subheader Copy, Moved Email input underneath Name field </li>
                            <li>[RAP] TFS: 473404 - Invite User - Add User ID field, Provided Alternative Error Message, Updated Copy underneath subheader</li>
                            <li>[RAP] TFS: 473439 - Current Users &amp; Permissions - Change Delete button to Remove button</li>
                            <li>[RAP] TFS: 473442 - Current Users &amp; Permissions - Created the Remove Users Permissions Modal
                            </li>
                            <li>[RAP] TFS: 473450 - Current Users &amp; Permissions/Create User - Updated the CTA on Current Users &amp; Permissiosn; Created the "Create User" Page
                            </li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.55.1 10/06/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_UIS_1801a_vA1.1 Spec Complete</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.55.0 10/06/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>RAP: Switch MRAP modals from jQuery to Angular 2/4 Modals, TFS: [451881]</li>
                            <li>PPC: Added padding to checkbox labels with help buttons, TFS: [321536] </li>
                            <li>PPC: Updated Delivery Alerts Section to WEM standards, added Page Level Error Handling, TFS: [323679]</li>
                            <li>DOA: Updated legacy stylesheet to fixed error handling color, TFS: [414585]</li>
                            <li>Global: Updated Angular 2 modal to allow component communication, TFS: [470697]</li>
                            <li>Global: Updated Angular 2 modal to allow any button to close the modal, TFS: [470718]</li>
                            <li>NBS: Added where from/ to modal, TFS: [465654]</li>
                            <li>NBS: Added error handling, TFS: [439901]</li>
                            <li>Visibility: Added edit button for add description, TFS: [465129]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.54.0 09/29/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Global: Fixed IE only clear button for email fields, TFS: [333264]</li>
                            <li>Global: Fixed Checkmarks overlapping text inputs, TFS: [409397]</li>
                            <li>PPC: TFS: [463374] Revert Social Icons Back to Previous Implementation</li>
                            <li>PPC: Resolved Input fields not clickable in SVP on my choice page, TFS: [435023]</li>
                            <li>PPC: Updated MNM with country code input, TFS: [459040]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.53.1 09/25/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - PPC: TFS: [459162] Doc Update 1.0</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.53.0 09/22/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: added Shipment Progress Table, TFS: [455406]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.52.5 09/21/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_ECS_Admin_1805_vA1.1</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.52.4 09/21/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD: Updated font size for EDW and CDW, TFS: [460544]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.52.3 09/20/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD: Style and content updates, TFS: [460544]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.52.2 09/20/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - ecs_admin, TFS454262 for FCTC RFC8654</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.52.1 09/19/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - PPC, LASSO, DOA: TFS: [450058] Update Social Icon Buttons</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.52.0 09/15/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: File a Claim button now only shown for logged in users, TFS: [455317]</li>
                            <li>Visibility: Add a Description now clears the textbox when the description is deleted.</li>
                            <li>Visibility: Simplied Text is now visible on exception states, TFS: [432175]</li>
                            <li>RAP: TFS Bug #421738: Display Issue For When 500 Characters Entered as One Word in Comments in Returns History Detail </li>
                            <li>PPC: TFS: [426413] Made changes to PPC CSS file due to validation errors</li>
                            <li>PPC: Added 2 links to inputs in Basic Details (PPC > Preferences > Shipping)</li>
                            <li>PPC: Added code to PPC CSS to make adjustments for error exclamation point for country code phone number inputs at line 3909</li>
                            <li>PPC: Added code to Forms CSS file to remove border-radius from country code phone number input </li>
                            <li>PPC: [PPC > Preferences > My Choice > Package Matching Options] Added a conditional to .ups-indent on the CTA so it does not appear in SVP</li>
                            <li>NBS: <a href="./docs/nbs/091517-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.51.3 09/14/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_ECS_Shipping_1826_vA1.1</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.51.2 09/13/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_Jan18_UIFS_1826_RFC8654_vA1.3</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.51.1 09/12/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_Jan18_UIFS_1826_RFC8654_vA1.3</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.51.0 09/08/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updates to send me updates button, mychoice view, and special instructions.</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.50.3 09/06/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: Maintenance Build, Added Error Handling and SVP Recommendations, TFS: [446038/437032]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.50.2 09/06/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_MarketplaceShipping_RFC8697_vA1.2 update</li>
                            <li>UI_CRT_RFC8654_A1.0</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.50.1 09/05/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UI_MarketplaceShipping_RFC8697_vA1.2</li>
                            <li>UI_FCTC_1826_RFC8654_vA1.2</li>
                            <li>UI_UIFS_1826_vA1.2</li>
                            <li>UI_CTC_1826_vA1.0</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.50.0 09/01/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD: Content Updates</li>
                            <li>NBS: Form Wizard added step 2.1 &amp; 2.2, TFS: [438211]</li>
                            <li>NBS: Form Wizard added step 1, TFS: [438200]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.49.1 08/29/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Maintenance Updates</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.49.0 08/25/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updates, TFS: [437365]</li>
                            <li>Angular 4 Modal Component created, TFS: [438255]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.48.0 08/18/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: Spec Update vA1.1 - 1811 and 1812 ONLY; TFS: [437032]; Note: Error Handling and SVP issues will be addressed in a subsequent task</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.47.0 08/11/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DatePicker implemented on RAP; Full DatePicker Implementation is dependent on IS approval from App Team</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.46.1 08/10/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: revised vHTML, TFS: [425089]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.46.0 08/04/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>RAP: Fixed Scrolling issue, TFS: [423905]</li>
                            <li>ERP: Fixed spacing from app to footer, TFS: [403723]</li>
                            <li>NBS: Updated SPA and created Angular 4 guided flow</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.45.0 07/28/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: Spec Update v1.1 1800g, TFS: [422765]</li>
                            <li>ERP: Make "Schedule Pickup" hidden on XS viewport.</li>
                            <li>RAP: Updated pagination classes</li>
                            <li>NBS: Payment section created</li>
                            <li>Moved page title styles from PPC to global</li>
                            <li>Built App Component Pages for CPC, CAC, alt CPC</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.44.0 07/21/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD: Update with map icons, TFS: [408682]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.43.0 07/14/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Build Angular 2 version of CAC</li>
                            <li>Build Angular 2 version of CPC</li>
                            <li>ERP: Fixed CTA buttons not spaced correctly, TFS: [402563]</li>
                            <li>RAP: added edit/delete screens, TFS: [407066]</li>
                            <li>RAP: Make Ineligible returns search required</li>
                            <li>RAP: Moved returns policy panel, TFS: [410171]</li>
                            <li>Legacy UIFS: Fixed alignment, TFS: [323267]</li>
                            <li>Legacy FCTC: Fixed alignment, TFS: [401210]</li>
                            <li>Legacy Tracking: Fixed icon issue, TFS: [394032]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.42.0 07/07/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: updates, TFS: [401764]</li>
                            <li>RAP: vHTML updates, TFS: [399832]</li>
                            <li>PPC: Welcome message fix, TFS: [346280]</li>
                            <li>PPC: Fixed add tags list, TFS: [374608]</li>
                            <li>Legacy Tracking: Fixed padding on web tracking summary, TFS: [379064]</li>
                            <li>Legacy Tracking: Added padding on panel for tracking details, TFS: [393627]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.41.0 06/30/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: Modal missing back button, TFS: [334719]</li>
                            <li>Legacy FCTC: Border alignment issue, TFS: [389368]</li>
                            <li>Legacy FCTC: Issues on 2olf, TFS: [395449]</li>
                            <li>NBS: SPA Options sections built</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.40.0 06/23/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Legacy Tracking: Chat icon missing, TFS: [379178]</li>
                            <li>Legacy Tracking: Status showing underline, TFS: [389800]</li>
                            <li>UPS Tile defect, TFS: [396890]</li>
                            <li>Legacy FCTC: missing fields, TFS: [373989]</li>
                            <li>NBS: Comact View What, TFS: [393588]</li>
                            <li>NBS: Comact View Where, TFS: [393588]</li>
                            <li>DOA: Spec Update vA1.16, TFS: [344862]</li>
                            <li>Back to Overview styles missing, TFS: [395549]</li>
                            <li>ERP/RAP: 7702 update, TFS: [388863]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.39.0 06/16/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Legacy Tracking: Removed track dot beside ID requirement link in package notifications, TFS: [387637]</li>
                            <li>Legacy Tracking: Fixed white text on exceptions, TFS: [387406]</li>
                            <li>Legacy Tracking: Resolved calendar icons datepicker issue, TFS: [390087]</li>
                            <li>PPC: Resolved checkbox not centered in international documentation, TFS: [390087]</li>
                            <li>Legacy CTC: Domestic discount and shipment dimensions fields added, TFS: [375286]</li>
                            <li>Redesigned Toggle Component TFS: [388926] </li>
                            <li>Redesigned Lever Component TFS: [388928] </li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.38.0 06/09/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC, DOA, LASSO; RFC 8671 Adding Twitter as Social Logion Option, TFS: [385855]</li>
                            <li>Legacy CTC: Resolved panel button wrapping, TFS: [380944]</li>
                            <li>Legacy CTC: Fixed View Detail white color X icon, TFS: [380241]</li>
                            <li>PPC: Zoom icons on map were overlapping header, TFS: [362634]</li>
                            <li>Fixed Levers and Toggles help button overlaping, TFS: [380241]</li>
                            <li>FMD: Added re-center button to map, TFS: [384278]</li>
                            <li>FMD: Added "this map updates automatically", TFS: [383866]</li>
                            <li>FMD: Updated package details text size, TFS: [384297]</li>
                            <li>Legacy Tracking: Fixed no padding on multi-track, TFS: [379064]</li>
                            <li>Legacy Tracking: Estimated Delivery Time displayed in bold, TFS: [380330]</li>
                            <li>RAP: Added History Table, TFS: [371278]</li>
                            <li>NBS: EEI updated, TFS: [384195]</li>

						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.37.0 06/02/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Legacy Tracking, Text color correction, TFS: [379170]</li>
                            <li>Legacy Tracking, Fixed spacing on Tracking, TFS: [379065]</li>
                            <li>Legacy Tracking, Fixed yellow arrow not showing, TFS: [379185]</li>
                            <li>Legacy Tracking, Fixed dropdown arrows in IE, TFS: [379061]</li>
                            <li>Legacy FCTC, Table border issue resolved, TFS: [382445, 373917]</li>
                            <li>RAP, 7702 update, TFS: [382704]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.36.1 05/30/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>CTC - maintenace build for ct1_shi_tnc_dlg_detailcharges, TFS: [380348]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.36.0 05/26/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UPPWA - redesign, TFS: [371806]</li>
                            <li>ERP - added mobile scan to LLP, TFS: [367002]</li>
                            <li>MRAP - Added section for package information, TFS: [371278]</li>
                            <li>NBS - update, TFS: [271142]</li>
                            <li>Internet Pickup (IP) - reskin, TFS: [341258, 341274, 341263, 351056, 341261]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.35.1 05/22/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - Updated FCTC</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.35.0 05/19/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>ERP - Updated Label landing page</li>
                            <li>Visibility - Updated Tracking Details Page</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_05192017.zip">UPS_HTML_05192017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.34.0 05/12/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UIS/ECS - Spec Update, TFS: [364655]</li>
                            <li>PPC - Spec Update vA1.18, TFS: [344865]</li>
                            <li>PPC - Fixed overlap in submit and cancel buttons, TFS: [350658]</li>
                            <li>Global - Made page level error links underlined</li>
                            <li>Global - Fixed invalid CSS rules</li>
                            <li>DOA - Fixed tooltip on signup, TFS: [313340]</li>
                            <li>NBS - Update, TFS: [252881]</li>
                            <li>NBS - Update, TFS: [271145]</li>
                            <li>NBS - Update, TFS: [226099]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_05122017.zip">UPS_HTML_05122017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.33.2 05/11/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenace Build - FCTC, TFS: [368003]</li>
                            <li>Maintenace Build - FCTC, TFS: [367996]</li>
                            <li>Maintenace Build - FCTC, TFS: [335595]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_05112017.zip">UPS_HTML_05112017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.33.1 05/09/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenace Build - Pickup Point, TFS: [356748]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_05092017.zip">UPS_HTML_05092017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.33.0 05/05/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Checked Error message on contact import, TFS: [310575]</li>
                            <li>PPC - Corrected Tiles on main page, TFS: [348254]</li>
                            <li>PPC - Corrected Welcome message, TFS: [338172]</li>
                            <li>PPC - Fixed Other Useful Links component, TFS: [352303]</li>
                            <li>Electronic Return (LLP) - Spec update, TFS: [361650]</li>
                            <li>Electronic Return (LLP) - Update, TFS: [359878]</li>
                            <li>Intenet Pickup - Reskin, TFS: [341265]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_05032017.zip">UPS_HTML_05032017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.32.1 05/03/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Electronic Return (Label Landing Page / MRAP) - Loader update, TFS: [358901]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_05032017.zip">UPS_HTML_05032017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.32.0 04/28/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Help links that open in a new window now show the correct icon, TFS: [348314]</li>
                            <li>NBS - Lithium batteries update, TFS: [314336]</li>
                            <li>NBS - D2R update, TFS: [312827]</li>
                            <li>NBS - Review, Ship From/To, Addons update, TFS: [362869]</li>
                            <li>Directional Chevrons and other arrows now show correctly in RTL</li>
                            <li>Internet Pickup - Reskin (1sch)_his(1lis), TFS: [341230]</li>
                            <li>FCTC - Reskin (4ltn), TFS: [335592]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_04282017.zip">UPS_HTML_04282017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.31.2 04/24/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Legacy Internet Pickup - Reskin pages</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_04242017.zip">UPS_HTML_04242017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.31.1 04/17/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Legacy QVM - updated QVM for A1.0</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_04172017.zip">UPS_HTML_04172017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.31.0 04/14/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - update, TFS: [318802]</li>
                            <li>NBS - EEI Standalone <strong>Partial Update</strong>, TFS: [337276, 337378]</li>
                            <li>RAP - New App added</li>
                            <li>Legacy CTC - Refactored Find Locations Link, TFS: [347423]</li>
                            <li>Legacy FCTC - Reskin of ct1_shi_ftc(3wer) and ct1_shi_ftc(3oty), TFS: [335575] </li>
                            <li>Legacy FCTC - Partial Reskin of ct1_shi_ftc(4ltn), TFS: [335592] </li>
                            <li>Legacy Internet Pickup - Reskin of ct1_shi_pic(1sch) part 2, TFS: [343474] </li>
                            <li>Legacy COU - Migrated into WEM</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_04142017.zip">UPS_HTML_04142017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.30.0 04/07/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Forms update, TFS: [337383, 337378, 337276]</li>
                            <li>NBS - update, TFS: [330416]</li>
                            <li>PPC - Fixed Text Overlap on show/hide button, TFS: [329257]</li>
                            <li>Electronic Return (Label Landing Page) - Spec update, TFS: [343390]</li>
                            <li>Legacy FCTC - Reskin of ct1_shi_ftc(2aft), TFS: [335600]</li>
                            <li>Legacy FCTC - Reskin of ct1_shi_ftc(3ltr), TFS: [335594]</li>
                            <li>Legacy Internet Pickup - Reskin of ct1_shi_pic(2inf), TFS: [341256]</li>
                            <li>Legacy Internet Pickup - Reskin of ct1_shi_pic(1sch)_sta(3mo1), TFS: [341247]</li>
                            <li>Legacy Tracking - Reskin, TFS: [327500]</li>
                            <li>Global - Fixed Page level error color issue</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_04072017.zip">UPS_HTML_04072017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.29.1 04/03/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Legacy CTC - Updated landing page</li>
                            <li>Merchandise Return - New App Added</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_04032017.zip">UPS_HTML_04032017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.29.0 03/31/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Components - Updated Google Icon for Social Signin, TFS: [325989] </li>
                            <li>Corrected Error State shown in black, TFS: [334575] </li>
                            <li>Legacy CTC - reskin ct1_shi_ctc, TFS: [335651] </li>
                            <li>Legacy CTC - part of reskin, TFS: [335657] </li>
                            <li>PPC - Added error message, TFS: [310575] </li>
                            <li>Corrected Error Display issue, TFS: [334579] </li>
                            <li>Corrected Double Arrow issue for IE9, TFS: [334464] </li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03312017.zip">UPS_HTML_03312017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.28.2 03/29/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - Legacy tracking update</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03292017.zip">UPS_HTML_03292017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.28.1 03/28/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - Legacy CTC Update</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03282017.zip">UPS_HTML_03282017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.28.0 03/24/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Legacy - QVMC update, TFS: [328354]</li>
                            <li>Legacy - CTC Redesign, TFS: [335652, 335653]</li>
                            <li>Legacy - Tracking update</li>
                            <li>DOA - Sign Up Error bug fix, TFS: [328826]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03242017.zip">UPS_HTML_03242017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.27.4 03/22/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - Legacy Tracking Update</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_032220173.zip">UPS_HTML_03222017 (3)</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.27.3 03/22/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - Legacy Tracking Update with ct1_tra_tra(1tra)</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_032220172.zip">UPS_HTML_03222017 (2)</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.27.2 03/22/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - Legacy Tracking Update</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03222017.zip">UPS_HTML_03222017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.27.1 03/20/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - Legacy Styles Update</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03202017.zip">UPS_HTML_03202017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.27.0 03/17/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Pickup Point - Initial Pages, TFS: [329457]</li>
                            <li>Legacy - Tracking re-design, TFS: [331503, 327500]</li>
                            <li>Legacy - QVMC integrated in WEM, TFS: [330109]</li>
                            <li>PPC - Resolved Calendar display issue, TFS: [323674]</li>
                            <li>Microsite, UPS Ready update, TFS: [253256]</li>
                            <li>Legacy - UIFS, TFS: [329352]</li>
                            <li>Fixed clickable area around lever (aka toggle), TFS: [327278]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03172017.zip">UPS_HTML_03172017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.26.0 03/10/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - When page updated, TFS: [328298]</li>
                            <li>Legacy - FCTC update, TFS: [327495]</li>
                            <li>Legacy - Tracking update, TFS: [329359]</li>
                            <li>Legacy - QVM update, TFS: [328354]</li>
                            <li>DOA - Page turning white issue with modal, TFS: [326412]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03102017.zip">UPS_HTML_03102017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.25.0 03/03/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Levers Updated to prevent different languages from being cut off, TFS: [321127]</li>
                            <li>NBS - Updated Text fields to prevent characters overlapping error states, TFS: [302158]</li>
                            <li>DOA - Corrected packing SVP and button alignment, TFS: [323532]</li>
                            <li>DOA - Spec Update, TFS: [322141]</li>
                            <li>DOA - Accessibility Sign Up Modal, TFS: [313365]</li>
                            <li>DOA - Correctly mysterious indent on signup page, TFS: [323492]</li>
                            <li>DOA - Correctly pickup option checkmark and SVP inline datepicker, TFS: [323514]</li>
                            <li>PPC - Corrected Help btn not working, TFS: [322146]</li>
                            <li>LASSO - Spec update 1.7, TFS: [327331]</li>
                            <li>LASSO - UTA Update, TFS: [306093]</li>
                            <li>LASSO - HTML content update, TFS: [314163]</li>
                            <li>LASSO - Content Updates, TFS: [313401]</li>
                            <li>Email - Make non-body rows dynamic, TFS: [322391]</li>
                            <li>Follow my Delivery - Initial Page, TFS: [322130]</li>
                            <li>Legacy - My Choice vA1.1, TFS: [320003]</li>
                            <li>Legacy - Merged Void Portal in WEM, TFS: [322557]</li>
                            <li>Legacy - Filters Overlap Map, TFS: [300982]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_03032017.zip">UPS_HTML_03032017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.24.0 02/24/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Added Saturday Delivery Toggle option, TFS: [319376]</li>
                            <li>NBS - Added COD subhelper text, TFS: [319378]</li>
                            <li>NBS - Added Add-ons "QV Notifications", TFS: [319379]</li>
                            <li>NBS - Removed Guarenteed Icon</li>
                            <li>Legacy - Migrated Int Forms</li>
                            <li>Legacy - Migrated QVMC</li>
                            <li>Legacy - Tracking update to vA1.2, TFS: [320004]</li>
                            <li>Styles - Global &amp; Legacy Stylesheet Regression, TFS: [320874]</li>
                            <li>Microsite - TFS: [222003]</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_02242017.zip">UPS_HTML_02242017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.23.0 02/17/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Change CTA Position, TFS: [316048]</li>
                            <li>NBS - View Additional Options Toggle change, TFS: [319362]</li>
                            <li>NBS - Address/Payment Update, TFS: [316046, 316042]</li>
                            <li>NBS - Terms/Conditions Legal Text Update, TFS: [319359]</li>
                            <li>NBS - Add Guaranteed Icon, TFS: [319346]</li>
                            <li>PPC - Spec Update to 1.17, TFS: [316514]</li>
                            <li>Electronic Return - Added Images, TFS: [317359]</li>
                            <li>Electronic Return - Edit Gruntfile for build TFS: [317344]</li>
                            <li>Electronic Return - Added Angular2 functionaility TFS: [317354]</li>
                            <li>Electronic Return - Added Angular2 fragment templates TFS: [317349]</li>
                            <li>Legacy - Moved Images</li>
                            <li>Legacy - Migrated CRT</li>
                            <li>Legacy - Migrated PPWA</li>
                            <li>Legacy - Infonotice content update</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_02172017.zip">UPS_HTML_02172017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.22.0 02/10/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Fix Address display error in IE, TFS: [302156]</li>
                            <li>NBS - When/Rates/Service page update, TFS: [316499]</li>
                            <li>PPC - Locator update, TFS: [299833]</li>
                            <li>PPC - Contact Table update, TFS: [312591]</li>
                            <li>PPC - Update to "Select an Image" button on Paperless Invoice</li>
                            <li>Legacy - CTC v1.0 update</li>
                            <li>Legacy - Alert Customization Tool A1.0 update</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_02102017.zip">UPS_HTML_02102017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.21.1 02/07/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Updated addons</li>


                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_02072017.zip">UPS_HTML_02072017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.21 02/03/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NGR - Added Next Generation Returns</li>
                            <li>NBS - Price Bar update TFS: [312281]</li>
                            <li>NBS - International Forms Update</li>
                            <li>NBS - Fixed spacing with "save this address" on ship from/to</li>
                            <li>PPC - Fixed incorrect + icon position. TFS: [310728]</li>
                            <li>PPC - Fixed Carousel. TFS: [301948]</li>
                            <li>PPC - Fixed Header Wrap issue. TFS: [301929]</li>
                            <li>PPC - Fixed Edit Tag issue. TFS: [308881]</li>
                            <li>PPC - Fixed Input Overlaps. TFS: [308883]</li>
                            <li>PPC - Change sorting anchors to buttons</li>
                            <li>DOA - Fixed broken aria reference TFS: [313218]</li>


                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_02032017.zip">UPS_HTML_02032017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.20 01/27/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>LASSO - spec update vA1.6</li>
                            <li>FCTC A1.1 spec update</li>
                            <li>Shipping migrated into WEM </li>
                            <li>Shipping A1.1 spec update </li>
                            <li>NBS - Payment page update</li>
                            <li>NBS - Addons page update</li>
                            <li>Merge UIFS into WEM</li>
                            <li>Locator A1.0 spec update</li>

                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_01272017.zip">UPS_HTML_01272017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.19 01/20/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DOA/LASSO - TFS: [297286]</li>
                            <li>DOA - TFS: [305785]</li>
                            <li>DOA - Updated Popover arrow color when popover is placed on the right side of input</li>
                            <li>PPC - Fixed spacing below breadcrumbs TFS: [302876]</li>
                            <li>PPC - Fixed missing chevron icon TFS: [310302]</li>
                            <li>PPC - Fixed Image load issue TFS: [304351]</li>
                            <li>PPC - Fixed Letterhead Image Modal Layout TFS: [307622]</li>
                            <li>Fixed Postal Code field length TFS: [301999 / 307163]</li>
                            <li>Corrected CAC issue TFS: [283846]</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_01202017.zip">UPS_HTML_01202017</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.18 01/13/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Changed size of validation checkmarks</li>
                            <li>Moved CTC into WEM</li>
                            <li>Moved Locator into WEM</li>
                            <li>LASSO spec update vA1.5</li>
                            <li>Updated LASSO login [296869]</li>
                            <li>Updated Accordion animations [287590] (Added accordion directive for page scrolling)</li>
                            <li>Updated Package page</li>
                            <li>Corrected Image issues for IE (Package Page)</li>
                            <li>Corrected Package Images issues for IE</li>
                            <li>Fixed form field height on EEI page</li>
                            <li>Remove top bar for ship freight/login on Ship from/to page</li>
                            <li>Added Ship Freight/Login buttons to NBS pages (Ship Freight is currently an SVG Image, will be changed to Icon Font at a later time)</li>
                            <li>Fixed Error State showing up on EEI / Cert of Origin / Forms Wizard RTL version</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_01132017.zip">UPS_HTML_01132017</a></li>
						</ul>
					</div>
				</li>
				 <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.17 01/07/2017<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Spec Update - PPC Av1.16</li>
                            <li>Spec Update - DOA Av1.15</li>
                            <li>Spec Update - My Choice Av1.0</li>
                            <li>Spec Update - UIFS Av1.0</li>
                            <li>Spec Update - Tracking Av1.0</li>
                            <li>TFS Defects NBS</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_01072017.zip">UPS_HTML_01072017</a></li>
						</ul>
					</div>
				</li>
				 <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.16.1 12/29/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Updated global styles</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_12292016.zip">UPS_HTML_12292016</a></li>
						</ul>
					</div>
				</li>
				 <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.16.0 12/23/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Updated CPC for all payment methods -TFS #299155</li>
                            <li>Corrected DOA/PPC Specific Day Pickup Styling - TFS #300085</li>
							<li>Added and Reviewed UTA fragment</li>
							<li>Corrected H1 Focus for SPA - TFS #299183</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_12232016.zip">UPS_HTML_12232016</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.15.0 12/16/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Migrated Legacy CSS to WEM</li>
                            <li>Compile Errors fixed in legacy CSS</li>
							<li>NBS - Pakage updates</li>
							<li>NBS - landing page update</li>
							<li>NBS - Acc. update</li>
                            <li>PPC - icon update</li>
                            <li>PPC - Fixed Visual defect</li>
                            <li>LASSO - Updated messaging</li>
                            <li>LASSO - Updated Sign In page</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_12162016.zip">UPS_HTML_12162016</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.14.0 12/09/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - add Package Type field back to Quick Quote page</li>
							<li>TFS #283706</li>
							<li>Update toggle switch "off" state color</li>
							<li>NBS - update gold underline color in Pickup are of When page (CSS change only)</li>
							<li>Begin merge of legacy app environments into WEM repo</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_12092016.zip">UPS_HTML_12092016</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.13.0 12/02/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Moved appropriate PPC/NBS styles to global style sheets</li>
                            <li>Visual Defect - TFS #295026</li>
							<li>NBS - Merged Payment &amp; Duties/Taxes pages</li>
							<li>NBS - Fixed Visual Defects</li>
							<li>NBS - Fixed Acc. Defects</li>
							<li>NBS - Pages Deprecated</li>
							<li>NBS - New Page Added</li>
							<li>DOA - Fixed Visual Defects</li>
							<li>LASSO - Fixed Visual Defects</li>
							<li>PPC - Fixed Visual Defects</li>
							<li>Components - Fixed Visual Defects</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_12022016.zip">UPS_HTML_12022016</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.12.2 11/29/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Fixed bug with balance bar being commented out on Ship From/To.</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_112920162.zip">UPS_HTML_112920162</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.12.1 11/29/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Fixed bug with balance bar color for the expanded bar.</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_11292016.zip">UPS_HTML_11292016</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.12.0 11/28/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Package page update to 10.6</li>
                            <li>NBS - Price Bar color change</li>
                            <li>NBS - Updated Page Headline font and size</li>
                            <li>Update Toggle Size</li>
                            <li>Added Speech Bubble Component</li>
                            <li>LASSO - Updated to spec vA1.4</li>
                            <li>PPC - Added missing Read Only state on Edit Account</li>
                            <li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_11282016.zip">UPS_HTML_11282016</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.11.0 11/18/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Added International help popup on Forms &gt; Help Wizard</li>
                            <li>PPC/DOA - Updated links that had a blank href to instead have a # for the href and the onclick handler to prevent the navigation from changing</li>
                            <li>Added field-level error component on NBS error pages</li>
                            <li>NBS Ship tips can now expand and collapse</li>
							<li>Updated popover content to be in an inline script tag instead of referencing an external file.</li>
                            <li>Made styles changes for popover content</li>
                            <li>Styles changes should now have .ups-active working correctly</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_11182016.zip">UPS_HTML_11182016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.10.0 11/14/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PPC Spec Update 1.15</li>
							<li>DOA Update to Standalone page. The H2 is now commented out on the html signup modal page. Also corrected the "Already have an ID?" Log In so it floats to the left</li>
							<li>DOA Spec Update vA1.14 (Content + PMG797)</li>
							<li>PPC Edit tags in SVP</li>
							<li>PPC Day-Specific Pickup HTML/CSS</li>
                            <li>PPC Save Changes Dialog was added</li>
                            <li>PPC - Fixed bug with filter tags on edit account / addresses not closing when clicking the close button</li>
                            <li>PPC - Fixed bug with arrows and slick dots not showing up on the page</li>
                            <li>Added Field Level Error Component</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_11142016.zip">UPS_HTML_11142016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.9.0 11/07/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PPC Spec Update vA1.14 part 2</li>
							<li>TFS #285415</li>
							<li>NBS Progress Bar messaging update (S0.02-Where)</li>
							<li>NBS Where spec update (S0.02-Where)</li>
							<li>TFS #279992 - VoiceOver issue for DO
								<ul>
									<li>Added directive 'pageTitle' to ups.DOApp.directives.js to handle focus control on route</li>
									<li>Removed aria-live region from page wrapper</li>
									<li>Added role="alert" to all error containers</li>
								</ul>
							</li>
							<li>Style update for error icon</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_11072016.zip">UPS_HTML_11072016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.8.0 10/28/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>DOA Spec Update vA1.13</li>
							<li>PPC Spec Update vA1.14 part 1</li>
							<li>NBS Payment update</li>
							<li>NBS Rates (When) update</li>
							<li>NBS Fixed Visual Defects</li>
							<li>LASSO Spec Update vA1.2</li>
							<li>LASSO Fixed Visual Defect</li>
							<li>Global Scss Updates</li>
							<li>Global Error Classing Update</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_10282016.zip">UPS_HTML_10282016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.7.0 10/21/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>WEM UX Code Merge to account for TeamSite page structure</li>
							<li>DOA Spec update vA1.12</li>
							<li>SPA screen reader class fix</li>
							<li>NBS update for payment tile grid</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_10212016.zip">UPS_HTML_10212016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.6.1 10/14/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>WEM UX Code Merge</li>
							<li>SCSS Updates to removed unused selectors/variables</li>
							<li>NBS Review Page update v11.0</li>
							<li>PPC Spec update v1.13</li>
							<li>Global CSS bug fixes</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_10142016.zip">UPS_HTML_10142016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.5.2 10/07/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS spec update v10.2</li>
							<li>Added Progess Circle Component</li>
							<li>SSO renamed LASSO</li>
							<li>LASSO spec update v1.1</li>
							<li>PMG AI #702</li>
							<li>Refactored toggle button styles</li>
							<li>Refactored scss
								<ul>
									<li>NBS</li>
									<li>PPC</li>
									<li>master/form</li>
									<li>master/layout</li>
								</ul>
							</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_10072016.zip">UPS_HTML_10072016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.5.1 10/05/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS Ship From/To update</li>
							<li>NBS Int. Forms update</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_10052016.zip">UPS_HTML_10052016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.5.0 09/30/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS Duties/Taxes page</li>
							<li>NBS What page</li>
							<li>Added component example page for Bootstrap Alert skins</li>
							<li>Two small UI defect fixes in PPC</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_09302016.zip">UPS_HTML_09302016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.4.2 09/23/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Component A07 visual defect fixed</li>
							<li>NBS - Package redesigned, Quick Quote updated, IN Forms added</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_09232016.zip">UPS_HTML_09232016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.4.1 09/20/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>DOA/PPC Spec updates for responsiveness/accessibility</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_09202016.zip">UPS_HTML_09202016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.4.0 09/16/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PPC Spec Update vA1.12</li>
							<li>DOA Spec Update vA1.11</li>
							<li>Multiple UI Bug fixes for DOA/PPC</li>
							<li>NBS Look and Feel Rework for T3 Design</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_09162016.zip">UPS_HTML_09162016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.3.0 09/09/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PPC Spec Update vA1.11</li>
							<li>DOA Spec Update vA1.10</li>
							<li>NBS Look and Feel Rework for T3 Design</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_09092016.zip">UPS_HTML_09092016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.2.2 09/02/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Finished PPC vA1.09 spec update</li>
							<li>PPC spec update vA1.10</li>
							<li>PPC Visual Defects Fixed</li>
							<li>DOA spec update vA1.09</li>
							<li>DOA Accessibility Defect Fixed</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_09022016.zip">UPS_HTML_09022016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.2.1 08/30/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Partial build for DOA spec update vA1.09</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_08302016.zip">UPS_HTML_08302016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.2.0 08/26/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>New demo page for Bootstrap panel component</li>
							<li>NBS update for Balance widget</li>
							<li>Spec update for PPC to vA1.09</li>
							<li>Multiple UI bug fixes across DOA/PPC</li>
							<li>Global style changes to align with WEM form display</li>
							<li>Known issues document pending for DOA/PPC</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_08262016.zip">UPS_HTML_08262016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.1.0 08/12/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added SSO Pages</li>
							<li>Added Application Components</li>
							<li>DOA/PPC Spec Updates</li>
							<li>Various UI/Accessibility Defects in DOA/PPC</li>
							<li>Build zip: <a href="http://icdev.ups.com/WEM/releases/UPS_HTML_08122016.zip">UPS_HTML_08122016</a></li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">v1.0.0 07/22/2016<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS</li>
							<li>A01_step_block</li>
							<li>A03_page_level_error</li>
							<li>A04_page_level_required_message</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</section>
	{{> ts_component_end}}

	<h2>UI Dev Documentation</h2>
	<p><em>Sapient BOX credentials required.</em></p>
	<ul>
		<li><a href="https://sapient.box.com/s/u1dvp8hgs5zjmoxzxb6d2zvcbrr270j0" target="_blank">UPS WEM UI Architecture Document</a></li>
		<li><a href="https://sapient.box.com/s/fux076tc17g3vq6gu6eyhpueqqnlcme1" target="_blank">UPS WEM UI - GIT Process</a></li>
		<li><a href="https://sapient.box.com/s/5i83vjk2ev0qm5aele207vop0vw0m91a" target="_blank">UPS WEM UI - Dependencies and Build</a></li>
		<li><a href="https://sapient.box.com/s/qvetbpj99nj5oywoj20irr7mqn4ddarg" target="_blank">UPS WEM UI - Dev Servers</a></li>
		<li><a href="https://sapient.box.com/s/27vom0u1d3ufguatf17hqwz2ulvkr9jt" target="_blank">UPS WEM UI - Setup of Environment within UPS</a></li>
		<li><a href="https://sapient.box.com/s/qq4axgt1jatjaonwfyqa67mo91yz11xg" target="_blank">UPS WEM UI - Icon Font Update</a></li>
		<li><a href="https://sapient.box.com/s/jku2dbd63ymsol10n8ou6rghvxm0ki4a" target="_blank">UPS WEM UI - SVG Map Update</a></li>
	</ul>
	<hr>
	<h2>UI Dev Enviornments</h2>
	<ul>
		<li>
			<h3><a href="http://uidev.ups.com">UPS Gold</a></h3>
			<p>This is the "Gold Standard" server. It will serve as an HTML reference for developers during CMS or application integration. Only stable and vetted builds will be published to this server.</p>
			<p><a href="http://uidev.ups.com">http://uidev.ups.com</a></p>
		</li>
		<li>
			<h3><a href="http://icdev.ups.com:8081">UPS QA</a></h3>
			<p>This is the QA server. It will receive periodic builds for testing prior to release.</p>
			<p><a href="http://icdev.ups.com:8081">http://icdev.ups.com:8081</a></p>
		</li>
		<li>
			<h3><a href="http://localhost:9000">UPS DEV</a></h3>
			<p>This is a UI developer's local grunt environment. It is only accessible by individual developers running <code>grunt serve</code> on their machine.</p>
			<p><a href="http://localhost:9000">http://localhost:9000</a></p>
		</li>
	</ul>

{{> ts_rr_end}}
