---
title: Digital Onboarding
layout: default.hbs
dir: ltr
lang: en
appId: ppc
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-wrap ups-onboApp-wrap-ppc" ng-app="upsDOApp" >
		<div class="ups-wrap_inner">
			<h1>UPS My Choice Service Terms</h1>
			<ups-serviceterms></ups-serviceterms>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
