<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Calculate Time and Cost</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Add Optional Services</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td colspan="4">Please choose the optional services to include for each package in your shipment by selecting the check boxes below. Selecting optional services will affect your cost estimate.<br><br></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Ship From:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[city, postal code, country or territory]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Ship To:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[city, postal code, country or territory]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Shipment Date:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[weekday month dd, yyyy]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Bill to UPS Account:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[yes/no]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Total Shipment Weight:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[nnn.00 lbs/kgs]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Drop-off/Pickup:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[drop-off/pickup option description]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Address Type:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[residential]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Number of Packages:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[nn]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Packaging:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[packaging type selection]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Declared Value:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[nnn.00 CUR]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Customs Value:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[nnn.00 CUR]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Duty Type:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[nn - duty type name]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<div align="center"><img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"></div>
			<a href="repl_href"><img alt="" border="0" height="7" src="/img/icn_anchor.gif" width="7"><img alt="" border="0" height="1" src="/img/1.gif" width="3">Package Information</a>
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">

				<!-- Begin Table: Inner Content (Parent:Module Table) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
				<tr class="pi-r1-t">
					<td class="pi-r1-pad">Optional Service</td>
					<td class="pi-r1-line" colspan="2">Packages</td>
					<td class="pi-r1-pad" colspan="4" align="right"><img alt="Back" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="3"><a href="repl_href"><img src="/img/en/btn_lnk_previous.gif" alt="Previous" width="38" height="11" border="0"></a><img alt="" border="0" height="1" src="/img/1.gif" width="3">|<img alt="" border="0" height="1" src="/img/1.gif" width="3"><a href="repl_href"><img src="/img/en/btn_lnk_next.gif" alt="Next" width="22" height="11" border="0"></a><img alt="" border="0" height="1" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"></td>
				</tr>
				<tr class="pi-r1-t">
					<td class="pi-r1-pad" width="30%">&nbsp;</td>
					<td class="pi-r1-line" width="12%"><a href="repl_href">All</a></td>
					<td class="pi-r1-pad" width="12%"><a href="repl_href">1</a></td>
					<td class="pi-r1-pad" width="12%"><a href="repl_href">2</a></td>
					<td class="pi-r1-pad" width="12%"><a href="repl_href">3</a></td>
					<td class="pi-r1-pad" width="12%"><a href="repl_href">4</a></td>
					<td class="pi-r1-pad" width="10%"><a href="repl_href">5</a></td>
				</tr>
				</thead>
				<tbody>
				<tr class="pi-r1-rws">
					<td class="pi-r1-pad" colspan="7">Pickup and Delivery Options</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad"><a href="repl_href">Returns Plus - 3 Pickup Attempts<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
				</tr>
				<tr class="pi-r1-rwe">
					<td class="pi-r1-pad"><a href="repl_href">COD<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a>&nbsp;&nbsp;&nbsp;&nbsp;CUR<br>(Enter an amount for all packages, or for each package)</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad"><input class="modTxtSmall" maxlength="30" size="4" type="text"></td>
					<td class="pi-r1-pad"><input class="modTxtSmall" maxlength="30" size="4" type="text"></td>
					<td class="pi-r1-pad"><input class="modTxtSmall" maxlength="30" size="4" type="text"></td>
					<td class="pi-r1-pad"><input class="modTxtSmall" maxlength="30" size="4" type="text"></td>
					<td class="pi-r1-pad"><input class="modTxtSmall" maxlength="30" size="4" type="text"></td>
				</tr>
				<tr class="pi-r1-rws">
					<td class="pi-r1-pad" colspan="7">Confirmation Options</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad"><a href="repl_href">Delivery Confirmation - No Signature<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
				</tr>
				<tr class="pi-r1-rwe">
					<td class="pi-r1-pad"><a href="repl_href">Delivery Confirmation - With Signature<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad"><a href="repl_href">Quantum View Notify - Ship E-mail<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
				</tr>
				<tr class="pi-r1-rwe">
					<td class="pi-r1-pad"><a href="repl_href">Quantum View Notify - Ship FAX, Exception, Delivery<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">&nbsp;</td>
				</tr>
				<tr class="pi-r1-rws">
					<td class="pi-r1-pad" colspan="7">Special Handling</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad"><a href="repl_href">Some Service<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
					<td class="pi-r1-pad"><input type="checkbox" name="checkbox" value="value"></td>
				</tr>
				</tbody>
				</table>
				<!-- End Table: Inner Content (Parent:Module Table) -->

				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->

			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Cancel" border="0" height="18" name="repl_fname" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Submit" border="0" height="18" name="repl_fname" src="/img/en/btn_submit_a.gif" type="image" width="64"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

<!-- Begin Table: Functional Table 2 -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td>

	<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
		<br>
		<span class="pi-h4">Please Note:</span> Shipping rates quoted are estimates based on the information you have supplied. Other shipping charges may apply and your final shipping charge may differ depending upon your UPS Account number and how you tender the package to UPS. Please see the UPS Rate and Service Guide applicable to you for details.
		<br><br>
		Rates are based on published rates and do not include incentives or special programs. If you have specially negotiated rates, contact your UPS account executive for a rate quote.
		<br><br>
		Please consult your UPS Service Guide for the specific terms of shipping. Any conflict between the UPS Service Guide and the Quick Cost Calculator is governed by the UPS Service Guide.
		<br><br>
		</td>
	</tr>
	</table>
	<!-- End Table: Functional Table 2 (Parent:Module Table) -->

	<!-- Begin Table: Functional Table 3 -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td colspan="4"><span class="pi-h3">Package Information</span></td>
	</tr>
	<tr>
		<td colspan="4"><span class="pi-h4">Package 1</span></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Weight:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[nn lbs/kgs]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Dimensions:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[not entered]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Insured:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[not entered]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td colspan="4"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td colspan="4"><span class="pi-h4">Package 2</span></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Weight:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[nn lbs/kgs]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Dimensions:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[not entered]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="top" nowrap>Insured:</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="100%">[not entered]</td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Functional Table 3 -->

	</td>
</tr>
</table>
<!-- End Table: Functional Table 2 -->

</form>
