<div class="ups-wrap ups-wrap_alt_background">
    <div class="ups-wrap_inner">
        <div class="ups-group">
            <p><strong>Sorry</strong></p>
            <p>It looks like that label expired on 12/16/2016. Please contact your retailer for more return information.</p>
            <div class="ups-form_ctaGroup">
                <a href="#" class="ups-cta ups-cta_primary">Got it</a>
            </div>
        </div>
    </div>
</div>