---
title: We're unable to confirm your identity.
appId: lasso
dir: rtl
lang: ar
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner ups-app_sso">
			{{>sso_verification_partial lasso.verify_locked}}
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->