{{#unless pick_notify_shown }}
    <!-- Destination Options - Pallet Request - Pickup -->

    <!-- Begin Header Bar -->
    <div class="secHead clearfix">
        <div class="stepNumberDiv"><span class="stepNumber">{n}</span></div>
        <h3>Pickup Notifications</h3>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--<ul>
            <li> <a href="repl_name">Show Pickup Notifications</a> </li>
        </ul>-->

        <div class="pull-right">
            <button class="ups-link">Show Pickup Notifications</button>
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design -->
        <!-- ************************************** -->
    </div>
    <!-- End Header Bar -->
{{/unless}}

{{#if pick_notify_shown }}
    <!-- Destination Options - Pallet Request - Drop-off -->

    <div class="secHead clearfix">
        <div class="stepNumberDiv"><span class="stepNumber">{n}</span></div>
        <h3>Pickup Notifications</h3>
    </div>
    <!-- Begin Section Body -->
    <div class="secBody clearfix">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->

        <!--<dl class="outHozLedger clearfix">
            <dt> <span class="label">Pickup Request Confirmations</span> </dt>
            <dd><a href="repl_name">Hide</a></dd>
        </dl>
        <p>Enter a mobile phone number and provider to receive SMS confirmation of this Pickup Request.</p>
        <table class="dataTable full" title="repl_title" summary="repl_summary">
            <thead>
                <tr>
                    <th>Mobile Phone Number:</th>
                    <th>Mobile Phone Provider:</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td><input type="text" name="repl_name" id="txtbox" class="formcol5"></td>
                    <td><select name="repl_name" id="selectbox" class="formcol5">
                            <option value="repl_value"></option>
                            <option value="repl_value">Option 2 which is much longer than Option 1</option>
                        </select></td>
                </tr>
            </tbody>
        </table>
        <hr class="hr">
        <p>Enter up to five e-mail addresses to receive e-mail confirmation of this Pickup Request.</p>
        <table class="dataTable full" title="repl_title" summary="repl_summary">
            <thead>
                <tr>
                    <th>Email Addresses:</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td><input type="text" name="repl_name" id="txtbox" class="formcol5"></td>
                </tr>
                <tr>
                    <td><input type="text" name="repl_name" id="txtbox" class="formcol5"></td>
                </tr>
                <tr class="odd">
                    <td><input type="text" name="repl_name" id="txtbox" class="formcol5"></td>
                </tr>
                <tr>
                    <td><input type="text" name="repl_name" id="txtbox" class="formcol5"></td>
                </tr>
                <tr class="odd">
                    <td><input type="text" name="repl_name" id="txtbox" class="formcol5"></td>
                </tr>
            </tbody>
        </table>
        <dl role="presentation">
            <dt>
                <label for="repl_id">Enter a personalized message to be included in your e-mail confirmation.*:</label>
            </dt>
            <dd>
                <textarea name="textarea" cols="32" rows="3" class="full"></textarea>
            </dd>
        </dl>
        <dl role="presentation">
            <dt>
                <label for="txtbox">If any notification is undeliverable, please e-mail:</label>
            </dt>
            <dd>
                <input type="text" name="repl_name" id="txtbox" class="formcol5" value="{profile e-mail address}">
            </dd>
            <p>(Required for e-mail notificaitons.)</p>
        </dl>-->


        <p>
            <strong>Pickup Request Confirmations</strong>
            <button class="ups-link pull-right">
                Hide
            </button>
        </p>
        <p>
            Enter a mobile phone number and provider to receive SMS confirmation of this Pickup Request.
        </p>

        <div class="row">
            <div class="col-xs-5">

                <div class="ups-form_group">
                    <label for="pickupNotificationsPhone" class="ups-form_label">
                        Mobile Phone Number
                    </label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input name="pickupNotificationsPhone"
                            class="ups-form_input"
                            id="pickupNotificationsPhone"
                            type="text">
                    </div>
                </div>

            </div>
            <div class="col-xs-5 col-xs-offset-1">

                <div class="ups-form_group">
                    <label for="pickupNotificationsPhoneProvider" class="ups-form_label">
                        Mobile Phone Provider
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupNotificationsPhoneProvider"
                            class="ups-dropdown"
                            id="pickupNotificationsPhoneProvider">
                            <option value="1">
                                {Cell Mobile}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <p>
            Enter up to five e-mail addresses to receive e-mail confirmation of this Pickup Request.
        </p>

        <div class="row">
            <div class="col-xs-5">

                <div class="ups-form_group">
                    <label for="pickupNotificationsEmail1" class="ups-form_label">
                        Email Addresses
                    </label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input name="pickupNotificationsEmail1"
                            class="ups-form_input"
                            id="pickupNotificationsEmail1"
                            type="text">
                    </div>
                </div>
                <div class="ups-form_group">
                    <label for="pickupNotificationsEmail2" class="ups-readerTxt">
                        Email Addresses
                    </label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input name="pickupNotificationsEmail2"
                            class="ups-form_input"
                            id="pickupNotificationsEmail2"
                            type="text">
                    </div>
                </div>
                <div class="ups-form_group">
                    <label for="pickupNotificationsEmail3" class="ups-readerTxt">
                        Email Addresses
                    </label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input name="pickupNotificationsEmail3"
                            class="ups-form_input"
                            id="pickupNotificationsEmail3"
                            type="text">
                    </div>
                </div>
                <div class="ups-form_group">
                    <label for="pickupNotificationsEmail4" class="ups-readerTxt">
                        Email Addresses
                    </label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input name="pickupNotificationsEmail4"
                            class="ups-form_input"
                            id="pickupNotificationsEmail4"
                            type="text">
                    </div>
                </div>
                <div class="ups-form_group">
                    <label for="pickupNotificationsEmail5" class="ups-readerTxt">
                        Email Addresses
                    </label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input name="pickupNotificationsEmail5"
                            class="ups-form_input"
                            id="pickupNotificationsEmail5"
                            type="text">
                    </div>
                </div>


            </div>
        </div>

        <hr>

        <div class="ups-form_group ups-form_required">
            <label for="pickupNotificationsPersonalizedMessage" class="ups-form_label">
                Enter a personalized message to be included in your e-mail confirmation.
                <span class="ups-required_indicator" aria-hidden="true"></span>
            </label>
            <div class="ups-textArea_wrapper ups-input_wrapper">
                <textarea class="ups-textArea" id="pickupNotificationsPersonalizedMessage" rows="4" maxlength="500" name="pickupNotificationsPersonalizedMessage" aria-required="true" required></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">

                <div class="ups-form_group">
                    <label for="pickupNotificationsUndeliverEmail" class="ups-form_label">
                        If any notification is undeliverable, please e-mail
                    </label>
                    <p class="ups-form_subheader">
                        (Required for e-mail notifications)
                    </p>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input name="pickupNotificationsUndeliverEmail"
                            class="ups-form_input"
                            id="pickupNotificationsUndeliverEmail"
                            type="text"
                            value="{profile e-mail address}">
                    </div>
                </div>

            </div>
        </div>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design -->
        <!-- ************************************** -->

    </div>
    <div class="clear"></div>
    <!-- End Section Body -->
{{/if}}
