{{#unless dest_opt_dropoff }}
    <!-- Destination Options - Pallet Request - Pickup -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--<dl role="presentation">
        <dt>
            <label for="selectbox" class="helpIconR btnlnkR">Delivery Preference:</label>
        </dt>
        <dd>
            <select name="repl_name" id="selectbox" class="formcol7" disabled>
                <option value="repl_value" selected>UPS will Deliver</option>
                <option value="repl_value">Option 2 which is much longer than Option 1</option>
            </select>
        </dd>
    </dl>
    <h4>Ultimate Destination Address Information</h4>
    <dl role="presentation">
        <dt>
            <label for="selectbox" class="helpIconR btnlnkR">Country or Territory:</label>
        </dt>
        <dd>
            <select name="repl_name" id="selectbox" class="formcol7" disabled>
                <option value="repl_value" selected>United States</option>
                <option value="repl_value">Option 2 which is much longer than Option 1</option>
            </select>
        </dd>
    </dl>-->

    <div class="row">
        <div class="col-xs-6">

            <div class="ups-form_group">
                <label for="pickupDeliveryPreference" class="ups-form_label">
                    <a href="repl_href" class="btnlnkR helpIconR">Delivery Preference</a>
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupDeliveryPreference"
                        class="ups-dropdown"
                        id="pickupDeliveryPreference"
                        disabled>
                        <option value="1">
                            UPS will Deliver
                        </option>
                    </select>
                </div>
            </div>
            <p>
                <strong>Ultimate Destination Address Information</strong>
            </p>
            <div class="ups-form_group">
                <label for="pickupCountry" class="ups-form_label">
                    <a href="repl_href" class="btnlnkR helpIconR">Country or Territory</a>
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupCountry"
                        class="ups-dropdown"
                        id="pickupCountry"
                        disabled>
                        <option value="1">
                            United States
                        </option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->
{{/unless}}

{{#if dest_opt_dropoff }}
    <!-- Destination Options - Pallet Request - Drop-off -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->

    <!--<div class="subcol12 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id01"><a href="" class="btnlnkR helpIconR">Delivery Preference:</a></label>
            </dt>
            <dd>
                <select id="repl_id01" disabled>
                    <option value="">ups will deliver</option>
                    <option value="" selected>Hold for Customer Pickup at UPS Location</option>
                </select>
                <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
        </dl>
        <div class="secLvl message clearfix">
            <div class="secHead clearfix">
                <h4>Shipment will be held for pick up at this UPS</h4>
            </div>
            <div class="secBody">
                <dl role="presentation" >
                    <dt><span class="label">[Location/Facility Name]</span></dt>
                    <dd>[Address 1] <br>
                        [City], [Other], [State] [ZIP/Postal Code] <br>
                        [Country or Territory] <br>
                        Telephone: [Number] <br>
                        Fax: [Number] </dd>
                </dl>
                <dl role="presentation" >
                    <dt><span class="label">Hours of Operation</span></dt>
                    <dd>[Weekday] hh:mm AM to hh:mm PM <br>
                        [Weekday] hh:mm AM to hh:mm PM <br>
                        [Weekday] hh:mm AM to hh:mm PM<br>
                        ...<br>
                        [Sunday][Closed] </dd>
                </dl>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-xs-6">

            <div class="ups-form_group ups-form_required">
                <label for="pickupDeliveryPreference" class="ups-form_label">
                    <a href="repl_href" class="btnlnkR helpIconR">Delivery Preference</a>
                    <span class="ups-required_indicator" aria-hidden="true"></span>
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupDeliveryPreference"
                        class="ups-dropdown"
                        id="pickupDeliveryPreference"
                        disabled>
                        <option value="1">
                            Hold for Customer Pickup at UPS Location
                        </option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <section class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Shipment will be held for pick up at this UPS</h4>
        </div>
        <div class="panel-body">
            <div class="ups-group ups-group_condensed">
                <div class="ups-group_label">
                    [Location/Facility Name]
                </div>
                <div class="ups-group_value">
                    <p>
                        [Address 1]<br>
                        [City], [Other], [State] [ZIP/Postal Code]<br>
                        [Country or Territory]
                    </p>
                    <p>
                        Telephone: [Number]
                    </p>
                    <p>
                        Fax: [Number]
                    </p>
                </div>
            </div>
            <div class="ups-group ups-group_condensed">
                <div class="ups-group_label">
                    Hours or Operation
                </div>
                <div class="ups-group_value">
                    <p>
                        [Weekday] hh:mm AM to hh:mm PM
                    </p>
                    <p>
                        [Weekday] hh:mm AM to hh:mm PM
                    </p>
                    <p>
                        [Weekday] hh:mm AM to hh:mm PM
                    </p>
                    <p>
                        ...
                    </p>
                    <p>
                        [Sunday][Closed]
                    </p>
                </div>
            </div>
            <div class="ups-group ups-group_condensed">
                <div class="ups-group_label">
                    UPS Location Latest Drop-off Time
                </div>
                <div class="ups-group_value">
                    <p>
                        hh:mm PM
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="ups-time_selection ups-form_group">
                        <div class="ups-time_selection_label">
                            <label for="pickupDropOffTimeHour" class="ups-form_label">
                                What time will your shipment be dropped off?
                                <span class="ups-required_indicator" aria-hidden="true"></span>
                            </label>
                            <p class="ups-form_subheader">
                                (local time)
                            </p>
                        </div>
                        <div class="ups-time_selection_hour">
                            <div class="ups-dropdown_wrapper ups-input_wrapper">
                                <select name="pickupDropOffTimeHour" class="ups-dropdown" id="pickupDropOffTimeHour" disabled="">
                                    <option value="1">
                                        nn
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="ups-time_selection_colon">
                            :
                        </div>
                        <div class="ups-time_selection_min">
                            <label for="pickupDropOffTimeMin" class="ups-readerTxt">
                                End of Lunch Period Minute
                            </label>
                            <div class="ups-dropdown_wrapper ups-input_wrapper">
                                <select name="pickupDropOffTimeMin" class="ups-dropdown" id="pickupDropOffTimeMin" disabled="">
                                    <option value="1">
                                        nn
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="ups-time_selection_ampm">
                            <div class="ups-buttonList_wrapper ups-input_wrapper">
                                <input id="pickupDropOffTimeAm" class="ups-radio-custom" name="pickupDropOffTimeAmPm" value="1" type="radio" disabled="">
                                <label for="pickupDropOffTimeAm" class="ups-radio-custom-label">
                                    AM
                                </label>
                            </div>
                            <div class="ups-buttonList_wrapper ups-input_wrapper">
                                <input id="pickupDropOffTimePm" class="ups-radio-custom" name="pickupDropOffTimeAmPm" value="1" type="radio" disabled="">
                                <label for="pickupDropOffTimePm" class="ups-radio-custom-label">
                                    PM
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>




    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->
{{/if}}
