{{#unless cust_ent_acct }}
    <!-- Default -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--<fieldset>
        <h4>Pickup Address:</h4>
        <dl role="presentation" >
            <dd>{Company or Name}</dd>
            <dd>{Address Line 1}</dd>
            <dd>{City}, {State}, {ZIP Code}</dd>
            <dd>{Country or Territory}</dd>
            <dd></dd>
        </dl>
        <dl role="presentation" class="outHozFlex clearfix">
            <dt>
                <span class="label">E-mail Address:</span>
            </dt>
            <dd>nnnnnnnnnnnnnn@nnnnnnn.com</dd>
        </dl>
        <div class="subcol7 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Contact Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="" id="repl_id" class="formcol6" maxlength="22">
                </dd>
                <dt>
                    <label for="repl_id">Suite/Room:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="15" id="repl_id" class="formcol6" maxlength="8">
                </dd>
            </dl>
        </div>
        <div class="subcol9">
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="30" id="repl_id" maxlength="15">
                    <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"> </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="8" id="repl_id" maxlength="4">
                </dd>
            </dl>
            <div class="clear"></div>
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Floor:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="30" id="repl_id" maxlength="3">
                </dd>
            </dl>
        </div>
    </fieldset>


    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                <td><label for="chxbox1" class="sel">Residential address</label></td>
            </tr>
        </tbody>
    </table>-->

    <div class="ups-group ups-group_condensed">
        <div class="ups-group_label">
            Pickup Address
        </div>
        <div class="ups-group_value">
            <p>{Company or Name}</p>
            <p>{Address Line 1}</p>
            <p>{City}, {State}, {ZIP Code}</p>
            <p>{Country or Territory}</p>
        </div>
    </div>

    <div class="ups-group ups-group_condensed">
        <div class="ups-group_label">
            E-mail Address
        </div>
        <div class="ups-group_value">
            <p>nnnnnnnnnnnnnnnnnnnnn@nnnnnnnnn.com</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="ups-form_group">
                <label class="ups-form_label" for="pickupCName">
                    Contact Name
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupCName"
                        name="pickupCName">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ups-form_group ups-form_required">
                <label class="ups-form_label" for="pickupTel">
                    Telephone
                    <span class="ups-required_indicator" aria-hidden="true"></span>
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupTel"
                        name="pickupTel"
                        required
                        aria-required="true">
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="ups-form_group">
                <label class="ups-form_label" for="pickupTel">
                    Ext
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupTel"
                        name="pickupTel">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="ups-form_group">
                <label class="ups-form_label" for="pickupSuite">
                    Suite/Room
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupSuite"
                        name="pickupSuite">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ups-form_group">
                <label class="ups-form_label" for="pickupFloor">
                    Floor
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupFloor"
                        name="pickupFloor">
                </div>
            </div>
        </div>
    </div>

    <div class="ups-form_group">
        <div class="ups-checkbox ups-input_wrapper">
            <input id="pickupResidential" class="ups-checkbox-custom" name="pickupResidential" value="1" type="checkbox">
            <label for="pickupResidential" class="ups-form_label ups-checkbox-custom-label">Residential address</label>
        </div>
    </div>


    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->
{{/unless}}

{{#if cust_ent_acct }}
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Customer Entered Account Number and ZIP Only -->
    <!--<fieldset>
        <h4>Pickup will be made at the Pickup Address for the UPS Account entered.</h4>
        <p>To view the Pickup Location details for an entered UPS Account Number, you must be <a href="#">logged into ups.com</a>.</p>
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Contact Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="" id="repl_id" class="formcol6" maxlength="22">
                </dd>
                <dt>
                    <label for="repl_id">Suite/Room:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="15" id="repl_id" class="formcol6" maxlength="8">
                </dd>
            </dl>
        </div>
        <div class="subcol9">
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="15" id="repl_id" class="formcol5" maxlength="15">
                    <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"> </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="5" id="repl_id" class="formcol3" maxlength="4">
                </dd>
            </dl>
            <div class="clear"></div>
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Floor:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="15" id="repl_id" class="formcol6" maxlength="3">
                </dd>
            </dl>
        </div>
    </fieldset>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                <td><label for="chxbox1" class="sel">Residential address</label></td>
            </tr>
        </tbody>
    </table>-->

    <p>
        <strong>Pickup will be made at the Pickup Address for the UPS Account entered.</strong>
    </p>
    <p>
        To view the Pickup Location details for an entered UPS Account Number, you must be <a href="#">logged into ups.com</a>.
    </p>
    <div class="row">
        <div class="col-xs-4">
            <div class="ups-form_group">
                <label class="ups-form_label" for="pickupCName">
                    Contact Name
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupCName"
                        name="pickupCName">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ups-form_group ups-form_required">
                <label class="ups-form_label" for="pickupTel">
                    Telephone
                    <span class="ups-required_indicator" aria-hidden="true"></span>
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupTel"
                        name="pickupTel"
                        required
                        aria-required="true">
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="ups-form_group">
                <label class="ups-form_label" for="pickupTel">
                    Ext
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupTel"
                        name="pickupTel">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="ups-form_group">
                <label class="ups-form_label" for="pickupSuite">
                    Suite/Room
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupSuite"
                        name="pickupSuite">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ups-form_group">
                <label class="ups-form_label" for="pickupFloor">
                    Floor
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        class="ups-form_input"
                        id="pickupFloor"
                        name="pickupFloor">
                </div>
            </div>
        </div>
    </div>

    <div class="ups-form_group">
        <div class="ups-checkbox ups-input_wrapper">
            <input id="pickupResidential" class="ups-checkbox-custom" name="pickupResidential" value="1" type="checkbox">
            <label for="pickupResidential" class="ups-form_label ups-checkbox-custom-label">Residential address</label>
        </div>
    </div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->


{{/if}}
