{{#if pdt_default }}
    <!-- Default -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--<dl role="presentation" >
        <dt>
            <label for="replace_id">Pickup Date:</label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id01">
                <option value="" selected="">{Pickup Date}</option>
                <option value="">I will drop off at a ups location</option>
            </select>
        </dd>
    </dl>
    <fieldset>
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id" >Earliest Pickup Time:</label>
                    <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                <dd>
                    <select name="repl_name" id="repl_id">
                        <option value="" selected>nn</option>
                    </select>
                    :
                    <select name="repl_name" id="repl_id">
                        <option value="" selected>nn</option>
                    </select>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">AM</label>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">PM</label>
                </dd>
                <dt>
                    <label for="repl_id" >Latest Pickup Time:</label>
                    <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                <dd>
                    <select name="repl_name" id="repl_id">
                        <option value="" selected>nn</option>
                    </select>
                    :
                    <select name="repl_name" id="repl_id">
                        <option value="" selected>nn</option>
                    </select>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">AM</label>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">PM</label>
                </dd>
            </dl>
        </div>
        <div class="subcol9">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id" >Start of Lunch Period:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id">
                        <option value="" selected>nn</option>
                    </select>
                    :
                    <select name="repl_name" id="repl_id">
                        <option value="" selected>nn</option>
                    </select>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">AM</label>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">PM</label>
                </dd>
                <dt>
                    <label for="repl_id" >End of Lunch Period:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id">
                        <option value="" selected>nn</option>
                    </select>
                    :
                    <select name="repl_name" id="repl_id">
                        <option value="" selected>nn</option>
                    </select>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">AM</label>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">PM</label>
                </dd>
            </dl>
        </div>
    </fieldset>
    <fieldset>
        <h4>Additional Pickup Information</h4>
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Preferred Pickup Location:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id" class="formcol5">
                        <option value="" selected>Choose One</option>
                    </select>
                </dd>
            </dl>
        </div>
        <div class="subcol9">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id"><a href="">Pickup Reference</a>:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="" id="repl_id" class="formcol5">
                </dd>
            </dl>
        </div>
    </fieldset>
    <dl role="presentation" >
        <dt>
            <label for="repl_id">Enter any special instructions to the UPS Driver:</label>
        </dt>
        <dd>
            <textarea name="textarea" cols="32" rows="3" class="full"></textarea>
        </dd>
    </dl>-->

    <div class="row">
        <div class="col-xs-5">
            <div class="ups-form_group">
                <label for="pickupDate" class="ups-form_label">
                    Pallet(s) in your Pickup
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupDate"
                        class="ups-dropdown"
                        id="pickupDate">
                        <option value="1">
                            {Pickup Date}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">

            <div class="ups-time_selection ups-form_group">
                <div class="ups-time_selection_label">
                    <label for="pickupEarliestTimeHour" class="ups-form_label">
                        Earliest Pickup Time
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="ups-time_selection_hour">
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEarliestTimeHour"
                            class="ups-dropdown"
                            id="pickupEarliestTimeHour">
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ups-time_selection_colon">
                    :
                </div>
                <div class="ups-time_selection_min">
                    <label for="pickupEarliestTimeMin" class="ups-readerTxt">
                        Earliest Pickup Time Minute
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEarliestTimeMin"
                            class="ups-dropdown"
                            id="pickupEarliestTimeMin">
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <fieldset class="ups-time_selection_ampm">
                    <legend>
                        AM/PM selection
                    </legend>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEarliestTimeAm"
                            class="ups-radio-custom"
                            name="pickupEarliestTimeAmPm"
                            value="1"
                            type="radio">
                        <label for="pickupEarliestTimeAm" class="ups-radio-custom-label">
                            AM
                        </label>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEarliestTimePm"
                            class="ups-radio-custom"
                            name="pickupEarliestTimeAmPm"
                            value="1"
                            type="radio">
                        <label for="pickupEarliestTimePm" class="ups-radio-custom-label">
                            PM
                        </label>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="col-xs-6">

            <div class="ups-time_selection ups-form_group">
                <div class="ups-time_selection_label">
                    <label for="pickupStartLunchTimeHour" class="ups-form_label">
                        Start of Lunch Period
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="ups-time_selection_hour">
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupStartLunchTimeHour"
                            class="ups-dropdown"
                            id="pickupStartLunchTimeHour">
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ups-time_selection_colon">
                    :
                </div>
                <div class="ups-time_selection_min">
                    <label for="pickupStartLunchTimeMin" class="ups-readerTxt">
                        Start of Lunch Period Minute
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupStartLunchTimeMin"
                            class="ups-dropdown"
                            id="pickupStartLunchTimeMin">
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <fieldset class="ups-time_selection_ampm">
                    <legend>
                        AM/PM selection
                    </legend>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupStartLunchTimeAm"
                            class="ups-radio-custom"
                            name="pickupStartLunchTimeAmPm"
                            value="1"
                            type="radio">
                        <label for="pickupStartLunchTimeAm" class="ups-radio-custom-label">
                            AM
                        </label>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupStartLunchTimePm"
                            class="ups-radio-custom"
                            name="pickupStartLunchTimeAmPm"
                            value="1"
                            type="radio">
                        <label for="pickupStartLunchTimePm" class="ups-radio-custom-label">
                            PM
                        </label>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">

            <div class="ups-time_selection ups-form_group">
                <div class="ups-time_selection_label">
                    <label for="pickupLatestTimeHour" class="ups-form_label">
                        Latest Pickup Time
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="ups-time_selection_hour">
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupLatestTimeHour"
                            class="ups-dropdown"
                            id="pickupLatestTimeHour">
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ups-time_selection_colon">
                    :
                </div>
                <div class="ups-time_selection_min">
                    <label for="pickupLatestTimeMin" class="ups-readerTxt">
                        Latest Pickup Time Minute
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupLatestTimeMin"
                            class="ups-dropdown"
                            id="pickupLatestTimeMin">
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <fieldset class="ups-time_selection_ampm">
                    <legend>
                        AM/PM selection
                    </legend>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupLatestTimeAm"
                            class="ups-radio-custom"
                            name="pickupLatestTimeAmPm"
                            value="1"
                            type="radio">
                        <label for="pickupLatestTimeAm" class="ups-radio-custom-label">
                            AM
                        </label>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupLatestTimePm"
                            class="ups-radio-custom"
                            name="pickupLatestTimeAmPm"
                            value="1"
                            type="radio">
                        <label for="pickupLatestTimePm" class="ups-radio-custom-label">
                            PM
                        </label>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="col-xs-6">

            <div class="ups-time_selection ups-form_group">
                <div class="ups-time_selection_label">
                    <label for="pickupEndLunchTimeHour" class="ups-form_label">
                        End of Lunch Period
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="ups-time_selection_hour">
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEndLunchTimeHour"
                            class="ups-dropdown"
                            id="pickupEndLunchTimeHour">
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ups-time_selection_colon">
                    :
                </div>
                <div class="ups-time_selection_min">
                    <label for="pickupEndLunchTimeMin" class="ups-readerTxt">
                        End of Lunch Period Minute
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEndLunchTimeMin"
                            class="ups-dropdown"
                            id="pickupEndLunchTimeMin">
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <fieldset class="ups-time_selection_ampm">
                    <legend>
                        AM/PM selection
                    </legend>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEndLunchTimeAm"
                            class="ups-radio-custom"
                            name="pickupEndLunchTimeAmPm"
                            value="1"
                            type="radio">
                        <label for="pickupEndLunchTimeAm" class="ups-radio-custom-label">
                            AM
                        </label>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEndLunchTimePm"
                            class="ups-radio-custom"
                            name="pickupEndLunchTimeAmPm"
                            value="1"
                            type="radio">
                        <label for="pickupEndLunchTimePm" class="ups-radio-custom-label">
                            PM
                        </label>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>

    <p>
        <strong>Additional Pickup Information</strong>
    </p>

    <div class="row">
        <div class="col-xs-5">
            <div class="ups-form_group">
                <label for="pickupPreferredLocation" class="ups-form_label">
                    Preferred Pickup Location
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupPreferredLocation"
                        class="ups-dropdown"
                        id="pickupPreferredLocation">
                        <option value="1">
                            Choose One
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="ups-form_group">
                <label for="pickupReference" class="ups-form_label">
                    <a href="repl_href" class="btnlnkR helpIconR">Pickup Reference</a>
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input name="pickupReference"
                        class="ups-form_input"
                        id="pickupReference"
                        type="text">
                </div>
            </div>
        </div>
    </div>

    <div class="ups-form_group">
        <label for="pickupSpecialInstructions" class="ups-form_label">
            Enter any special instructions to the UPS Driver
        </label>
        <div class="ups-textArea_wrapper ups-input_wrapper">
            <textarea class="ups-textArea" id="pickupSpecialInstructions" rows="4" maxlength="500" name="pickupSpecialInstructions"></textarea>
        </div>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->
{{/if}}

{{#if pdt_pallet_pickup }}
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Pickup Date and Time - Pallet Request - Pickup -->
    <!--<dl role="presentation">
        <dt>
            <label for="selectbox" class="helpIconR btnlnkR">Pickup Preference</label>
        </dt>
        <dd>
            <select name="repl_name" id="selectbox" class="formcol5" disabled>
                <option value="repl_value" selected>UPS will Pick up</option>
                <option value="repl_value">Option 2 which is much longer than Option 1</option>
            </select>
        </dd>
    </dl>
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td><input id="repl_id02" type="checkbox" value="repl_fvalue" name="repl_fname"></td>
                <td><label class="sel" for="repl_id02">Liftgate on Pickup</label></td>
            </tr>
        </tbody>
    </table>
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="" class="btnlnkR helpIconR">Pickup Date:</a></label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id01" disabled>
                <option value="" selected="">{Pickup Date}</option>
                <option value="">i will drop off at a ups location</option>
            </select>
            <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
    </dl>
    <fieldset>
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id" >Earliest Pickup Time:</label>
                    <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                <dd>
                    <select name="repl_name" id="repl_id" disabled>
                        <option value="" selected>nn</option>
                    </select>
                    :
                    <select name="repl_name" id="repl_id" disabled>
                        <option value="" selected>nn</option>
                    </select>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">AM</label>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">PM</label>
                </dd>
                <dt>
                    <label for="repl_id" >Latest Pickup Time:</label>
                    <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                <dd>
                    <select name="repl_name" id="repl_id" disabled>
                        <option value="" selected>nn</option>
                    </select>
                    :
                    <select name="repl_name" id="repl_id" disabled>
                        <option value="" selected>nn</option>
                    </select>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">AM</label>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">PM</label>
                </dd>
            </dl>
        </div>
        <div class="subcol9">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id" >Start of Lunch Period:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id" disabled>
                        <option value="" selected>nn</option>
                    </select>
                    :
                    <select name="repl_name" id="repl_id" disabled>
                        <option value="" selected>nn</option>
                    </select>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">AM</label>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">PM</label>
                </dd>
                <dt>
                    <label for="repl_id" >End of Lunch Period:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id" disabled>
                        <option value="" selected>nn</option>
                    </select>
                    :
                    <select name="repl_name" id="repl_id" disabled>
                        <option value="" selected>nn</option>
                    </select>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">AM</label>
                    <input type="radio" name="repl_name" value="" id="repl_id">
                    <label for="repl_id" class="sel">PM</label>
                </dd>
            </dl>
        </div>
    </fieldset>
    <fieldset>
        <h4>Additional Pickup Information</h4>
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Preferred Pickup Location:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id" class="formcol5">
                        <option value="" selected>Choose One</option>
                    </select>
                </dd>
            </dl>
        </div>
        <div class="subcol9">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id"><a href="">Pickup Reference</a>:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" size="" id="repl_id" class="formcol5">
                </dd>
            </dl>
        </div>
    </fieldset>
    <dl role="presentation" >
        <dt>
            <label for="repl_id">Enter any special instructions to the UPS Driver:</label>
        </dt>
        <dd>
            <textarea name="textarea" cols="32" rows="3" class="full"></textarea>
        </dd>
    </dl>-->

    <div class="row">
        <div class="col-xs-5">
            <div class="ups-form_group">
                <label for="pickupPreference" class="ups-form_label">
                    Pickup Preference
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupPreference"
                        class="ups-dropdown"
                        id="pickupPreference"
                        disabled>
                        <option value="1">
                            {Pickup Date}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="ups-form_group">
        <div class="ups-buttonList_wrapper ups-input_wrapper">
            <input id="pickupLiftgate"
                class="ups-checkbox-custom"
                name="pickupLiftgate"
                value="1"
                type="checkbox">
            <label for="pickupLiftgate" class="ups-checkbox-custom-label">Liftgate on Pickup</label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5">
            <div class="ups-form_group">
                <label for="pickupDate" class="ups-form_label">
                    Pickup Date
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupDate"
                        class="ups-dropdown"
                        id="pickupDate"
                        disabled>
                        <option value="1">
                            {Pickup Date}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">

            <div class="ups-time_selection ups-form_group">
                <div class="ups-time_selection_label">
                    <label for="pickupEarliestTimeHour" class="ups-form_label">
                        Earliest Pickup Time
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="ups-time_selection_hour">
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEarliestTimeHour"
                            class="ups-dropdown"
                            id="pickupEarliestTimeHour"
                            disabled>
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ups-time_selection_colon">
                    :
                </div>
                <div class="ups-time_selection_min">
                    <label for="pickupEarliestTimeMin" class="ups-readerTxt">
                        Earliest Pickup Time Minute
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEarliestTimeMin"
                            class="ups-dropdown"
                            id="pickupEarliestTimeMin"
                            disabled>
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <fieldset class="ups-time_selection_ampm">
                    <legend>
                        AM/PM selection
                    </legend>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEarliestTimeAm"
                            class="ups-radio-custom"
                            name="pickupEarliestTimeAmPm"
                            value="1"
                            type="radio"
                            disabled>
                        <label for="pickupEarliestTimeAm" class="ups-radio-custom-label">
                            AM
                        </label>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEarliestTimePm"
                            class="ups-radio-custom"
                            name="pickupEarliestTimeAmPm"
                            value="1"
                            type="radio"
                            disabled>
                        <label for="pickupEarliestTimePm" class="ups-radio-custom-label">
                            PM
                        </label>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="col-xs-6">

            <div class="ups-time_selection ups-form_group">
                <div class="ups-time_selection_label">
                    <label for="pickupStartLunchTimeHour" class="ups-form_label">
                        Start of Lunch Period
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="ups-time_selection_hour">
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupStartLunchTimeHour"
                            class="ups-dropdown"
                            id="pickupStartLunchTimeHour"
                            disabled>
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ups-time_selection_colon">
                    :
                </div>
                <div class="ups-time_selection_min">
                    <label for="pickupStartLunchTimeMin" class="ups-readerTxt">
                        Start of Lunch Period Minute
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupStartLunchTimeMin"
                            class="ups-dropdown"
                            id="pickupStartLunchTimeMin"
                            disabled>
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <fieldset class="ups-time_selection_ampm">
                    <legend>
                        AM/PM selection
                    </legend>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupStartLunchTimeAm"
                            class="ups-radio-custom"
                            name="pickupStartLunchTimeAmPm"
                            value="1"
                            type="radio"
                            disabled>
                        <label for="pickupStartLunchTimeAm" class="ups-radio-custom-label">
                            AM
                        </label>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupStartLunchTimePm"
                            class="ups-radio-custom"
                            name="pickupStartLunchTimeAmPm"
                            value="1"
                            type="radio"
                            disabled>
                        <label for="pickupStartLunchTimePm" class="ups-radio-custom-label">
                            PM
                        </label>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">

            <div class="ups-time_selection ups-form_group">
                <div class="ups-time_selection_label">
                    <label for="pickupLatestTimeHour" class="ups-form_label">
                        Latest Pickup Time
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="ups-time_selection_hour">
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupLatestTimeHour"
                            class="ups-dropdown"
                            id="pickupLatestTimeHour"
                            disabled>
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ups-time_selection_colon">
                    :
                </div>
                <div class="ups-time_selection_min">
                    <label for="pickupLatestTimeMin" class="ups-readerTxt">
                        Latest Pickup Time Minute
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupLatestTimeMin"
                            class="ups-dropdown"
                            id="pickupLatestTimeMin"
                            disabled>
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <fieldset class="ups-time_selection_ampm">
                    <legend>
                        AM/PM selection
                    </legend>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupLatestTimeAm"
                            class="ups-radio-custom"
                            name="pickupLatestTimeAmPm"
                            value="1"
                            type="radio"
                            disabled>
                        <label for="pickupLatestTimeAm" class="ups-radio-custom-label">
                            AM
                        </label>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupLatestTimePm"
                            class="ups-radio-custom"
                            name="pickupLatestTimeAmPm"
                            value="1"
                            type="radio"
                            disabled>
                        <label for="pickupLatestTimePm" class="ups-radio-custom-label">
                            PM
                        </label>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="col-xs-6">

            <div class="ups-time_selection ups-form_group">
                <div class="ups-time_selection_label">
                    <label for="pickupEndLunchTimeHour" class="ups-form_label">
                        End of Lunch Period
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                    </label>
                </div>
                <div class="ups-time_selection_hour">
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEndLunchTimeHour"
                            class="ups-dropdown"
                            id="pickupEndLunchTimeHour"
                            disabled>
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <div class="ups-time_selection_colon">
                    :
                </div>
                <div class="ups-time_selection_min">
                    <label for="pickupEndLunchTimeMin" class="ups-readerTxt">
                        End of Lunch Period Minute
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEndLunchTimeMin"
                            class="ups-dropdown"
                            id="pickupEndLunchTimeMin"
                            disabled>
                            <option value="1">
                                nn
                            </option>
                        </select>
                    </div>
                </div>
                <fieldset class="ups-time_selection_ampm">
                    <legend>
                        AM/PM selection
                    </legend>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEndLunchTimeAm"
                            class="ups-radio-custom"
                            name="pickupEndLunchTimeAmPm"
                            value="1"
                            type="radio"
                            disabled>
                        <label for="pickupEndLunchTimeAm" class="ups-radio-custom-label">
                            AM
                        </label>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEndLunchTimePm"
                            class="ups-radio-custom"
                            name="pickupEndLunchTimeAmPm"
                            value="1"
                            type="radio"
                            disabled>
                        <label for="pickupEndLunchTimePm" class="ups-radio-custom-label">
                            PM
                        </label>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>

    <p>
        <strong>Additional Pickup Information</strong>
    </p>

    <div class="row">
        <div class="col-xs-5">
            <div class="ups-form_group">
                <label for="pickupPreferredLocation" class="ups-form_label">
                    Preferred Pickup Location
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupPreferredLocation"
                        class="ups-dropdown"
                        id="pickupPreferredLocation">
                        <option value="1">
                            Choose One
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="ups-form_group">
                <label for="pickupReference" class="ups-form_label">
                    <a href="repl_href" class="btnlnkR helpIconR">Pickup Reference</a>
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input name="pickupReference"
                        class="ups-form_input"
                        id="pickupReference"
                        type="text">
                </div>
            </div>
        </div>
    </div>

    <div class="ups-form_group">
        <label for="pickupSpecialInstructions" class="ups-form_label">
            Enter any special instructions to the UPS Driver
        </label>
        <div class="ups-textArea_wrapper ups-input_wrapper">
            <textarea class="ups-textArea" id="pickupSpecialInstructions" rows="4" maxlength="500" name="pickupSpecialInstructions"></textarea>
        </div>
    </div>


    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->
{{/if}}

{{#if pdt_pallet_dropoff }}
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Pickup Date and Time - Pallet Request - Drop-off -->
    <!--<dl role="presentation">
        <dt>
            <label for="selectbox" class="helpIconR btnlnkR">Pickup Preference:</label>
        </dt>
        <dd>
            <select name="repl_name" id="selectbox" class="formcol5" disabled>
                <option value="repl_value" selected>I will drop off at a UPS Location</option>
                <option value="repl_value">Option 2 which is much longer than Option 1</option>
            </select>
        </dd>
    </dl>
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="" class="btnlnkR helpIconR">Drop-off Date:</a></label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id01" disabled>
                <option value="" selected="">{Today's Date}</option>
                <option value="">i will drop off at a ups location</option>
            </select>
            <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
    </dl>
    <div class="subcol12 marginBegin">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <dl role="presentation">
                    <dt><span class="label">[Location/Facility Name]</span></dt>
                    <dd>[Address 1] <br>
                        [City], [Other], [State] [ZIP/Postal Code] <br>
                        [Country or Territory] <br>
                        Telephone: [Number] <br>
                        Fax: [Number] </dd>
                </dl>
                <dl role="presentation">
                    <dt><span class="label">Hours of Operation</span></dt>
                    <dd>[Weekday] hh:mm AM to hh:mm PM </dd>
                </dl>
                <dl role="presentation">
                    <dt><span class="label">UPS Location Latest Drop-off Time:</span></dt>
                    <dd>hh:mm PM</dd>
                </dl>
                <dl role="presentation" >
                    <dt>
                        <label for="repl_id" >What time will your shipment be dropped off?</label>
                        <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                    <dd>
                        <select name="repl_name" id="repl_id" disabled>
                            <option value="" selected>10</option>
                        </select>
                        :
                        <select name="repl_name" id="repl_id" disabled>
                            <option value="" selected>00</option>
                        </select>
                        <input type="radio" name="repl_name" value="" id="repl_id" checked>
                        <label for="repl_id" class="sel">A.M.</label>
                        <input type="radio" name="repl_name" value="" id="repl_id">
                        <label for="repl_id" class="sel">PM</label>
                        <br>
                        (local time) </dd>
                </dl>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-5">
            <div class="ups-form_group">
                <label for="pickupPreference" class="ups-form_label">
                    <a href="" class="btnlnkR helpIconR">Pickup Preference</a>
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupPreference"
                        class="ups-dropdown"
                        id="pickupPreference">
                        <option value="1">
                            I will drop off at a UPS Location
                        </option>
                    </select>
                </div>
            </div>

            <div class="ups-form_group">
                <label for="pickupDropOffDate" class="ups-form_label">
                    <a href="" class="btnlnkR helpIconR">Drop-off Date</a>
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="pickupDropOffDate"
                        class="ups-dropdown"
                        id="pickupDropOffDate">
                        <option value="1">
                            {Today's Date}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <section class="panel panel-primary">
        <div class="panel-body">
            <div class="ups-group ups-group_condensed">
                <div class="ups-group_label">
                    [Location/Facility Name]
                </div>
                <div class="ups-group_value">
                    <p>
                        [Address 1]<br>
                        [City], [Other], [State] [ZIP/Postal Code]<br>
                        [Country or Territory]
                    </p>
                    <p>
                        Telephone: [Number]
                    </p>
                    <p>
                        Fax: [Number]
                    </p>
                </div>
            </div>
            <div class="ups-group ups-group_condensed">
                <div class="ups-group_label">
                    Hours or Operation
                </div>
                <div class="ups-group_value">
                    <p>
                        [Weekday] hh:mm AM to hh:mm PM
                    </p>
                </div>
            </div>
            <div class="ups-group ups-group_condensed">
                <div class="ups-group_label">
                    UPS Location Latest Drop-off Time
                </div>
                <div class="ups-group_value">
                    <p>
                        hh:mm PM
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="ups-time_selection ups-form_group">
                        <div class="ups-time_selection_label">
                            <label for="pickupDropOffTimeHour" class="ups-form_label">
                                What time will your shipment be dropped off?
                                <span class="ups-required_indicator" aria-hidden="true"></span>
                            </label>
                            <p class="ups-form_subheader">
                                (local time)
                            </p>
                        </div>
                        <div class="ups-time_selection_hour">
                            <div class="ups-dropdown_wrapper ups-input_wrapper">
                                <select name="pickupDropOffTimeHour"
                                    class="ups-dropdown"
                                    id="pickupDropOffTimeHour"
                                    disabled>
                                    <option value="1">
                                        nn
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="ups-time_selection_colon">
                            :
                        </div>
                        <div class="ups-time_selection_min">
                            <label for="pickupDropOffTimeMin" class="ups-readerTxt">
                                End of Lunch Period Minute
                            </label>
                            <div class="ups-dropdown_wrapper ups-input_wrapper">
                                <select name="pickupDropOffTimeMin"
                                    class="ups-dropdown"
                                    id="pickupDropOffTimeMin"
                                    disabled>
                                    <option value="1">
                                        nn
                                    </option>
                                </select>
                            </div>
                        </div>
                        <fieldset class="ups-time_selection_ampm">
                            <legend>
                                AM/PM selection
                            </legend>
                            <div class="ups-buttonList_wrapper ups-input_wrapper">
                                <input id="pickupDropOffTimeAm"
                                    class="ups-radio-custom"
                                    name="pickupDropOffTimeAmPm"
                                    value="1"
                                    type="radio"
                                    disabled>
                                <label for="pickupDropOffTimeAm" class="ups-radio-custom-label">
                                    AM
                                </label>
                            </div>
                            <div class="ups-buttonList_wrapper ups-input_wrapper">
                                <input id="pickupDropOffTimePm"
                                    class="ups-radio-custom"
                                    name="pickupDropOffTimeAmPm"
                                    value="1"
                                    type="radio"
                                    disabled>
                                <label for="pickupDropOffTimePm" class="ups-radio-custom-label">
                                    PM
                                </label>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>


        </div>
    </section>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->
{{/if}}
