
<div id="dyn_pnl_1"> 
{{#if default}}
	<!-- Panel 1 - Default -->
	<div id="pnl_1_1">
		<div id="step-1" class="stepModFlex ups-application_wrapper ups-form_wrap">
			<div class="stepModHead">
				<h3>Where and When</h3>
			</div>
			<div class="secBody">
							<!-- ************************************** -->
        		   			<!-- REDESIGN EDIT: Start part of re-design -->
        		   			<!-- ************************************** -->							
							<!-- Begin Left Column -->
						<!-- <h4>Ship From:</h4>
							<dl role="presentation">
								<dt>
									<label for="repl_id">Select from My Addresses:</label>
								</dt>
								<dd class="appExcReq">
									<select name="repl_name" size="1" id="from_addresses">
										<option value="">Select One</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
								</dd>
								<dt>
									<label for="repl_id">Country or Territory:</label>
								</dt>
								<dd class="appExcReq">
									<select name="repl_name" size="1" id="from_country">
										<option value="">UNITED STATES</option>
										<option value="">1234567890</option>
										<option value="">12345678901234567890</option>
										<option value="">123456789012345678901234567890</option>
									</select>
									<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"> </dd>
								<dt>
									<label for="repl_id">City:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" id="from_city" size="" maxlength="30">
								</dd>
								<dt>
									<label for="repl_id">State:</label>
								</dt>
								<dd class="appExcReq">
									<select name="repl_name" size="1" id="from_state">
										<option value="">Georgia</option>
										<option value="">1234567890</option>
										<option value="">1234567890123456789</option>
									</select>
									<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"> </dd>
								<dt>
									<label for="repl_id">Postal/ZIP Code:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" id="from_zip" size="" maxlength="10">
									<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"> </dd>
								<dd>
									<input name="repl_name" type="checkbox">
									<label class="sel" for="repl_id">Residential Address</label>
								</dd>
							</dl> -->
							<div class="row">
								<div class="col-xs-5">
								<h4>Ship From:</h4>
									<div class="ups-form_group ups-form_required">
									<label class="ups-form_label" for="from_addresses">Select from My Addresses
										</label>
									<div class="ups-dropdown_wrapper ups-input_wrapper">
										<select class="ups-dropdown" name="repl_name" size="1" id="from_addresses">
												<option value="">Select One</option>
												<option value="">This'n</option>
												<option value="">That'n</option>
												<option value="">This Other'n</option>
												<option value="">123456789012345678901234567890</option>
										</select>								
									</div>
									</div>
									<div class="ups-form_group ups-form_required">
									<label class="ups-form_label" for="from_country">Country or Territory
										<span aria-hidden="true" class="ups-required_indicator"></span>
									</label>
									<div class="ups-dropdown_wrapper ups-input_wrapper">
										<select class="ups-dropdown" name="repl_name" size="1" id="from_country">
											<option value="">UNITED STATES</option>
											<option value="">1234567890</option>
											<option value="">12345678901234567890</option>
											<option value="">123456789012345678901234567890</option>
										</select>									 
									 </div>
									</div>
									<div class="ups-form_group">
									<label class="ups-form_label" for="from_city">City</label>
									<div class="ups-text_wrapper ups-input_wrapper">
										<input class="ups-form_input" name="repl_name" type="text" id="from_city" size="" maxlength="30">
									</div>
									</div>
									<div class="ups-form_group ups-form_required">
										<label class="ups-form_label" for="from_state">State
											<span aria-hidden="true" class="ups-required_indicator"></span>
										</label>
										<div class="ups-dropdown_wrapper ups-input_wrapper">
										<select class="ups-dropdown" name="repl_name" size="1" id="from_state">
											<option value="">Georgia</option>
											<option value="">1234567890</option>
											<option value="">1234567890123456789</option>
										</select>
										</div>
									</div>
									<div class="ups-form_group ups-form_required">
									<label class="ups-form_label" for="from_zip">Postal/ZIP Code
										<span aria-hidden="true" class="ups-required_indicator"></span>
									</label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="from_zip" size="" maxlength="10">
										</div>
									</div>
									<fieldset class="ups-form_group">
										<div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-checkbox-custom" name="repl_name" type="checkbox" id="from_residential">
											<label class="ups-checkbox-custom-label sel" for="from_residential">Residential Address</label>
										</div>
									</fieldset>
								</div>
							<!-- End Left Column --> 
							<!-- ************************************** -->
        		   			<!-- REDESIGN EDIT: End part of re-design -->
        		   			<!-- ************************************** -->	
						
							<!-- ************************************** -->
        		   			<!-- REDESIGN EDIT: Start part of re-design -->
        		   			<!-- ************************************** -->  
					<!-- Begin Right Column -->
					<!-- <div class="colR">
						<fieldset>
							<legend>{legend text}</legend>
							<h4>Ship To:</h4>
							<dl role="presentation">
								<dt>
									<label for="repl_id">Select from My Contacts:</label>
								</dt>
								<dd class="appExcReq">
									<select name="repl_name" size="1" id="from_addresses">
										<option value="">Select One</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
								</dd>
								<dt>
									<label for="repl_id">Country or Territory:</label>
								</dt>
								<dd class="appExcReq">
									<select name="repl_name" size="1" id="from_country">
										<option value="">UNITED STATES</option>
										<option value="">1234567890</option>
										<option value="">12345678901234567890</option>
										<option value="">123456789012345678901234567890</option>
									</select>
									<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"> </dd>
								<dt>
									<label for="repl_id">City:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" id="from_city" size="" maxlength="30">
								</dd>
								<dt>
									<label for="repl_id">State:</label>
								</dt>
								<dd class="appExcReq">
									<select name="repl_name" size="1" id="from_state">
										<option value="">Georgia</option>
										<option value="">1234567890</option>
										<option value="">1234567890123456789</option>
									</select>
									<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"> </dd>
								<dt>
									<label for="repl_id">Postal/ZIP Code:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" id="from_zip" size="" maxlength="10">
									<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"> </dd>
								<dd>
									<input name="repl_name" type="checkbox">
									<label class="sel" for="repl_id">Residential Address</label>
								</dd>
							</dl>
							<div style="clear: both;"></div>
						</fieldset>
					</div> -->
					<!-- End Right Coloumn -->
							      		   			
        		   			<div class="col-xs-5 col-xs-offset-1">				
        		   				<h4>Ship To:</h4>
        		   				<div class="ups-form_group">
        		   					<label class="ups-form_label" for="from_contacts">Select from My Contacts</label>
									<div class="ups-dropdown_wrapper ups-input_wrapper">
										<select class="ups-dropdown" name="repl_name" size="1" id="from_contacts">
											<option value="">Select One</option>
											<option value="">This'n</option>
											<option value="">That'n</option>
											<option value="">This Other'n</option>
											<option value="">123456789012345678901234567890</option>
										</select>
									</div>
								</div>
								<div class="ups-form_group ups-form_required">
									<label for="from_country_01">Country or Territory
										<span aria-hidden="true" class="ups-required_indicator"></span>
									</label>
									<div class="ups-dropdown_wrapper ups-input_wrapper">
										<select class="ups-dropdown" name="repl_name" size="1" id="from_country_01">
										<option value="">UNITED STATES</option>
										<option value="">1234567890</option>
										<option value="">12345678901234567890</option>
										<option value="">123456789012345678901234567890</option>
									</select>
									</div>
								</div>
								<div class="ups-form_group">
									<label class="ups-form_label" for="from_city_01">City</label>
									<div class="ups-text_wrapper ups-input_wrapper">
										<input class="ups-form_input" name="repl_name" type="text" id="from_city_01" size="" maxlength="30">
									</div>
									</div>
									<div class="ups-form_group ups-form_required">
										<label class="ups-form_label" for="from_state_01">State
											<span aria-hidden="true" class="ups-required_indicator"></span>
										</label>
										<div class="ups-dropdown_wrapper ups-input_wrapper">
										<select class="ups-dropdown" name="repl_name" size="1" id="from_state_01">
											<option value="">Georgia</option>
											<option value="">1234567890</option>
											<option value="">1234567890123456789</option>
										</select>
										</div>
									</div>
									<div class="ups-form_group ups-form_required">
									<label class="ups-form_label" for="from_zip_01">Postal/ZIP Code
										<span aria-hidden="true" class="ups-required_indicator"></span>
									</label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="from_zip_01" size="" maxlength="10">
										</div>
									</div>
									<fieldset class="ups-form_group">
										<div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-checkbox-custom" name="repl_name" type="checkbox" id="from_residential_01">
											<label class="ups-checkbox-custom-label sel" for="from_residential_01">Residential Address</label>
										</div>
									</fieldset>
								</div>
							</div>
							<!-- ************************************** -->
        		   			<!-- REDESIGN EDIT: End part of re-design -->
        		   			<!-- ************************************** -->
					<div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
					<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: Start part of re-design -->
        		   	<!-- ************************************** -->
					<!-- Begin Left Column -->
					<!--<div class="colL">
						<dl role="presentation">
							<dt>
								<label for="">When are you shipping?</label>
							</dt>
							<dd class="appExcReq">
								<select name="repl_name" size="1">
									<option value="" selected></option>
									<option value="">This'n</option>
									<option value="">That'n</option>
									<option value="">This Other'n</option>
									<option value="">123456789012345678901234567890</option>
								</select>
							</dd>
						</dl>
					</div> -->
					<!-- End Left Column --> 					
					<div class="row">
						<div class="col-xs-5">
							<div class="ups-form_group">
								<label class="ups-form_label" for="">When are you shipping?</label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select class="ups-dropdown" name="repl_name" size="1">
										<option value="" selected></option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
								</div>
							</div>
						</div>
					
					<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: End part of re-design -->
        		   	<!-- ************************************** -->
        		   	
        		   	<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: Start part of re-design -->
        		   	<!-- ************************************** -->
					<!-- Begin Right Column -->
					<!--<div class="colR">
						<dl role="presentation">
							<dt>
								<label for="repl_id">Select a <a href="repl_name">UPS Account Number<span class="btnlnkR helpicon"><img width="12" height="12" src="/img/1.gif" alt=""></span></a></label>
							</dt>
							<dd class="appExcReq">
								<select name="repl_name" size="1">
									<option value="" selected>123456789 - 9 digit name</option>
									<option value="">This'n</option>
									<option value="">That'n</option>
									<option value="">This Other'n</option>
									<option value="">123456789012345678901234567890</option>
								</select>
								<p><a href="repl_href">Add another Account</a></p>
							</dd>
						</dl>
					</div> -->
					<!-- End Right Coloumn -->
						<div class="col-xs-5 col-xs-offset-1">
							<div class="ups-form_group">
								<label class="ups-form_label" dfor="repl_id">Select a <a href="repl_name">UPS Account Number<span class="btnlnkR helpicon"><img width="12" height="12" src="/img/1.gif" alt=""></span></a></label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select class="ups-dropdown" name="repl_name" size="1">
										<option value="" selected>123456789 - 9 digit name</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
									<p><span class="icon ups-icon-pluscircle" aria-hidden="true"></span> <a href="repl_href">Add another Account</a></p>
								</div>
							</div>
						</div>					
					</div>
					<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: End part of re-design -->
        		   	<!-- ************************************** -->
			</div>
		</div>
	</div>
	<!-- End of Panel 1 - Default --> 
{{/if}}
{{#if 1717_APAC}}
	<!-- Panel 2 - 1717 APAC -->
	<div id="pnl_1_2">
		<div id="step-1" class=" stepModFlex ups-application_wrapper ups-form_wrap">
			<div class="stepModHead">
				<h3>Where and When</h3>
			</div>
				<!-- ************************************** -->
        		<!-- REDESIGN EDIT: Start part of re-design -->
        		<!-- ************************************** -->
			<div class="secBody">
				<!-- <fieldset>
					<legend>{legend text}</legend>
					<!-- Begin Left Column -->
					<!-- <div class="colL">						
							<h4>Ship From:</h4>
							<dl role="presentation">
								<dt>
									<label for="repl_id">Select from My Addresses:</label>
								</dt>
								<dd>
									<select name="repl_name">
										<option>Select One</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
								</dd>
								<dt>
									<label for="repl_id">Country or Territory:</label>
								</dt>
								<dd>
									<select name="repl_name">
										<option>Singapore</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
									<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"> </dd>
								<dt>
									<label for="repl_id">City:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" size="25">
								</dd>
								<dt>
									<label for="repl_id">Postal Code:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" size="25">
									<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"> </dd>
								<dd>
									<input name="repl_name" type="checkbox">
									<label class="sel" for="repl_id">Residential Address</label>
								</dd>
							</dl>						
						</fieldset>
					</div> -->
					<!-- End Left Column --> 
				<div class="row">
					<div class="col-xs-5">
						<h4>Ship From:</h4>
						<div class="ups-form_group">
							<label class="ups-form_label" for="repl_id">Select from My Addresses</label>
							<div class="ups-dropdown_wrapper ups-input_wrapper">
								<select class="ups-dropdown" name="repl_name">
										<option>Select One</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
								</select>
							</div>
						</div>
						<div class="ups-form_group ups-form_required">
							<label class="ups-form_label" for="repl_id">Country or Territory
								<span aria-hidden="true" class="ups-required_indicator"></span>
							</label>
							<div class="ups-dropdown_wrapper ups-input_wrapper">
								<select class="ups-dropdown" name="repl_name">
										<option>Singapore</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
								</select>
							</div>
						</div>
						<div class="ups-form_group">
							<label class="ups-form_label" for="repl_id">City</label>
							<div class="ups-text_wrapper ups-input_wrapper">
								<input class="ups-form_input" name="repl_name" type="text" size="25">
							</div>
						</div>
						<div class="ups-form_group ups-form_required">
							<label class="ups-form_label" for="repl_id">Postal Code
								<span aria-hidden="true" class="ups-required_indicator"></span>
							</label>
							<div class="ups-text_wrapper ups-input_wrapper">
								<input class="ups-form_input" name="repl_name" type="text" size="25">
							</div>
						</div>
						<div class="ups-form_group">							
							<div class="buttonList_wrapper ups-input_wrapper">
							<input class="ups-checkbox-custom" id="residential_address_03" name="repl_name" type="checkbox">
									<label class="ups-checkbox-custom-label sel" for="residential_address_03">Residential Address</label>
							</div>
						</div>
					</div>					
				
					<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: End part of re-design -->
        		   	<!-- ************************************** -->
        		   	
        		   	<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: Start part of re-design -->
        		   	<!-- ************************************** -->
					<!-- Begin Right Column -->
					<!-- <div class="colR">						
							<h4>Ship To:</h4>
							<dl role="presentation">
								<dt>
									<label for="repl_id">Select from My Contacts:</label>
								</dt>
								<dd>
									<select name="repl_name">
										<option>Select One</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
								</dd>
								<dt>
									<label for="repl_id">Country or Territory:</label>
								</dt>
								<dd>
									<select name="repl_name">
										<option>Hong Kong</option>
										<option>Select One</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
									<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"> </dd>
								<dt>
									<label for="repl_id">Village/Town/District:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" size="25">
								</dd>
								<dt>
									<label for="repl_id">Postal Code:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" size="25">
									<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"> </dd>
								<dd>
									<input name="repl_name" type="checkbox">
									<label class="sel" for="repl_id">Residential Address</label>
								</dd>
							</dl>
					</div>
					<!-- End Right Coloumn -->
					<div class="col-xs-5 col-xs-offset-1">
						<h4>Ship To:</h4>
						<div class="ups-form_group">
							<label for="repl_id">Select from My Contacts</label>
							<div class="ups-dropdown_wrapper ups-input_wrapper">
								<select class="ups-dropdown" name="repl_name">
										<option>Select One</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
								</select>
							</div>
						</div>
						<div class="ups-form_group">
							<label for="repl_id">Country or Territory
								<span aria-hidden="true" class="ups-required_indicator"></span>
							</label>
							<div class="ups-dropdown_wrapper ups-input_wrapper">
								<select class="ups-dropdown" name="repl_name">
										<option>Hong Kong</option>
										<option>Select One</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
								</select>
							</div>
						</div>
						<div class="ups-form_group">
							<label class="ups-form_label" for="repl_id">Village/Town/District</label>
							<div class="ups-text_wrapper ups-input_wrapper">
								<input class="ups-form_input" name="repl_name" type="text" size="25">
							</div>
						</div>
						<div class="ups-form_group ups-form_required">
							<label class="ups-form_label" for="repl_id">Postal Code
								<span aria-hidden="true" class="ups-required_indicator"></span>
							</label>
							<div class="ups-text_wrapper ups-input_wrapper">
								<input class="ups-form_input" name="repl_name" type="text" size="25">
							</div>
						</div>
						<div class="ups-form_group">							
							<div class="buttonList_wrapper ups-input_wrapper">
							<input class="ups-checkbox-custom" id="residential_address_04" name="repl_name" type="checkbox">
									<label class="ups-checkbox-custom-label sel" for="residential_address_04">Residential Address</label>
							</div>
						</div>
					</div>
					
					</div>
					<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: End part of re-design -->
        		   	<!-- ************************************** -->
					<div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
					<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: Start part of re-design -->
        		   	<!-- ************************************** -->
					<!-- Begin Left Column -->
					<!-- <div class="colL">
						<dl role="presentation">
							<dt>
								<label for="repl_id">When are you shipping?</label>
							</dt>
							<dd>
								<select name="repl_name">
									<option></option>
									<option>Select One</option>
									<option value="">This'n</option>
									<option value="">That'n</option>
									<option value="">This Other'n</option>
									<option value="">123456789012345678901234567890</option>
								</select>
								<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"
							</dd>
						</dl>
					</div> -->
					<div class="row">
						<div class="col-xs-5">
							<div class="ups-form_group ups-form_required">
								<label class="ups-form_label" for="">When are you shipping?
									<span aria-hidden="true" class="ups-required_indicator"></span>
								</label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select class="ups-dropdown" name="repl_name" size="1">
										<option value="" selected></option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
								</div>
							</div>
						</div>
					<!-- End Left Column --> 
					<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: End part of re-design -->
        		   	<!-- ************************************** -->
        		   	
        		   	<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: Start part of re-design -->
        		   	<!-- ************************************** -->
					<!-- Begin Right Column -->
					<!--<div class="colR">
						<dl role="presentation">
							<dt>
								<label for="repl_id">Select a <a href="repl_name">UPS Account Number<span class="btnlnkR helpicon"><img width="12" height="12" src="/img/1.gif" alt=""></span></a></label>
							</dt>
							<dd>
								<select name="repl_name">
									<option>123456789 - 9 digit name</option>
									<option>Select One</option>
									<option value="">This'n</option>
									<option value="">That'n</option>
									<option value="">This Other'n</option>
									<option value="">123456789012345678901234567890</option>
								</select>
								<br>
								<a href="repl_href">Add another Account</a></dd>
						</dl>
					</div> -->
					<!-- End Right Coloumn -->
						<div class="col-xs-5 col-xs-offset-1">
							<div class="ups-form_group">
								<label class="ups-form_label" dfor="repl_id">Select a <a href="repl_name">UPS Account Number<span class="btnlnkR helpicon"><img width="12" height="12" src="/img/1.gif" alt=""></span></a></label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select class="ups-dropdown" name="repl_name" size="1">
										<option value="" selected>123456789 - 9 digit name</option>
										<option value="">This'n</option>
										<option value="">That'n</option>
										<option value="">This Other'n</option>
										<option value="">123456789012345678901234567890</option>
									</select>
									<p><span class="icon ups-icon-pluscircle" aria-hidden="true"></span> <a href="repl_href">Add another Account</a></p>
								</div>
							</div>
						</div>					
					</div>
					<!-- ************************************** -->
        		   	<!-- REDESIGN EDIT: End part of re-design -->
        		   	<!-- ************************************** -->
			</div>
		</div>
	</div>
	<!-- End of Panel 2 - 1717 APAC --> 
{{/if}}
</div>
