<form action="repl_fname">
	<table width="760" border="0" cellspacing="0" cellpadding="0" class="mod">
		<tr>
			<th><div class="head-colFull">
					<h2>Enter Information for Your Freight Shipment</h2>					
				</div>
			</th>
		</tr>
		<tr>
			<td><div class="introModFixed">
					<!-- ************************************** -->
					<!-- REDESIGN EDIT: Start part of re-design -->
					<!-- ************************************** -->
					<!-- <p>Required fields are indicated with <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">.</p> -->
					<p class="ups-reqMsg"><span>*</span><i> Indicates required field</i></p>
					<!-- ************************************** -->
					<!-- REDESIGN EDIT: End part of re-design -->
					<!-- ************************************** -->
				</div>
				
				<!-- Begin Step One Module --> 
				<!-- Begin Dynamic Panel -->
				
			{{>"ct1_shi_ftc(2aft)_logged_in_modify_information"}}
				
				<!-- End Dynami Panel --> 
				<!-- End Step One Module-->
				
				<div style="clear:both"></div>
				
				<!-- Begin Step Two Module -->
				
				<div id="step-2" class="ups-application_wrapper ups-form_wrap stepModFlex">
					<div class="stepModHead">
						<h3>Piece Detail</h3>
					</div>
					<!-- ************************************** -->
					<!-- REDESIGN EDIT: Start part of re-design -->
					<!-- ************************************** -->
					<!-- <div class="stepModContent">
						<fieldset>
							<legend>{legend text}</legend>
							<dl role="presentation">
								<dt>
									<label for="repl_id">Preferred Units of Measure:</label>
								</dt>
							</dl>
							<table border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td valign="top"><input name="repl_name1" type="radio" checked></td>
									<td><label class="sel" for="repl_id">Inches/Pounds</label></td>
								</tr>
								<tr>
									<td valign="top"><input name="repl_name1" type="radio"></td>
									<td><label class="sel" for="repl_id">Centimeters/Kilograms</label></td>
								</tr>
							</table>
							<br> -->
							
							<div class="secBody">
								<fieldset class="ups-form_group">
									<legend class="ups-form_label" for="repl_id">Preferred Units of Measure:</legend>
									<div class="buttonList_wrapper ups-input_wrapper">
										<input id="inches_pounds" class="ups-radio-custom" name="repl_name1" type="radio" checked>
										<label class="ups-radio-custom-label sel" for="inches_pounds">Inches/Pounds</label>
									</div>
									<div class="buttonList_wrapper ups-input_wrapper">
										<input id="cent_kg" class="ups-radio-custom" name="repl_name1" type="radio">
										<label class="ups-radio-custom-label sel" for="cent_kg">Centimeters/Kilograms</label>
									</div>
								</fieldset>
					<!-- ************************************** -->
					<!-- REDESIGN EDIT: End part of re-design -->
					<!-- ************************************** -->		
						<div class="ups-group">
							<p>Pallets or loose items that have the same length, width, and height can be entered in the same row. Enter the average weight per piece in each row.</p>
							<table border="0" cellpadding="0" cellspacing="0" class="full dataTable">
								<thead>
									<tr>
										<th scope="row col" nowrap><label for="repl_id"><a href="repl_href" class="btnlnkR helpicon">Quantity</a></label>
										</th>
										<th scope="col" nowrap><label for="repl_id">Type</label></th>
										<th scope="col" nowrap><label for="repl_id">Length (cm)</label></th>
										<th scope="col" nowrap><label for="repl_id">Width (cm)</label></th>
										<th scope="col" nowrap><label for="repl_id">Height (cm)</label></th>
										<th scope="col" nowrap><label for="repl_id"><a href="repl_href" class="btnlnkR helpicon">Weight (kg)</a></label>
										</th>
									</tr>
								</thead>
								<tbody>
								<tr class="odd">
									<td scope="row">
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-dropdown_wrapper ups-input_wrapper">
											<select class="ups-dropdown" name="repl_name">
												<option>Pallet</option>
												<option>Loose Items</option>
											</select>
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-dropdown_wrapper ups-input_wrapper">
											<select class="ups-dropdown" name="repl_name">
												<option>Pallet</option>
												<option>Loose Items</option>
											</select>
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
								</tr>
								<tr class="odd">
									<td scope="row">
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-dropdown_wrapper ups-input_wrapper">
											<select class="ups-dropdown" name="repl_name">
												<option>Pallet</option>
												<option>Loose Items</option>
											</select>
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td scope="row">
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-dropdown_wrapper ups-input_wrapper">
											<select class="ups-dropdown" name="repl_name">
												<option>Pallet</option>
												<option>Loose Items</option>
											</select>
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
								</tr>
								<tr class="odd">
									<td scope="row">
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-dropdown_wrapper ups-input_wrapper">
											<select class="ups-dropdown" name="repl_name">
												<option>Pallet</option>
												<option>Loose Items</option>
											</select>
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
									<td>
										<div class="ups-form_group">
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" size="5">
											</div>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<!-- End Step Two Module --> 
				<!-- Begin Step Three Module -->
				
				<div id="step-3" class="ups-application_wrapper ups-form_wrap stepModFlex">
					<div class="stepModHead">
						<h3>Optional Shipment Information</h3>
					</div>
					<!-- ************************************** -->
					<!-- REDESIGN EDIT: Start part of re-design -->
					<!-- ************************************** -->	
					<!-- <div class="stepModContent">
						<fieldset>
							<legend>{legend text}</legend>
							<dl role="presentation">
								<dt>
									<label for="repl_id">Declared/Insured Value<a href="repl_href" class="btnlnkR helpicon"></a></label>
								</dt>
								<dd>
									<input name="repl_name" type="text" maxlength="16">
									<select name="repl_name">
										<option>USD - US Dollar</option>
									</select>
								</dd>
							</dl>
							<div style="clear:both"></div>
							<dl role="presentation">
								<dt>
									<button name="repl_name" type="button" class="btnLnkL minusmini">Display / Update Service Options</button>
								</dt>
								<dd>
									<fieldset>
										<legend>{legend text}</legend>
										<div class="colL">
											<table cellpadding="0" cellspacing="0" border="0">
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id">Saturday Delivery</label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id">Dangerous Goods</label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id"><a href="repl_href" class="btnlnkR helpicon">Hold At Airport for Pickup </a></label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id"><a href="repl_href" class="btnlnkR helpicon">Residential Delivery</a></label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id"><a href="repl_href" class="btnlnkR helpicon">Residential Pickup</a></label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id"><a href="repl_href" class="btnlnkR helpicon">Customs clearance</a></label></td>
												</tr>
											</table>
										</div>
										<div class="colR">
											<table cellpadding="0" cellspacing="0" border="0">
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id">Delivery Duties Paid (DDP)</label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id">Delivery Duties Unpaid (DDU)</label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id"><a href="repl_href" class="btnlnkR helpicon">Liftgate Required</a></label></td>
												</tr>
												<tr>
													<td><input name="repl_name" type="checkbox"></td>
													<td><label class="sel" for="repl_id"><a href="repl_href" class="btnlnkR helpicon">Pickup</a></label></td>
												</tr>
											</table>
										</div>
									</fieldset>
								</dd>
							</dl>
						</fieldset>
					</div> -->
					<div class="secBody">
						<div class="row">
							<div class="col-xs-6">
							<label class="ups-form_label" for="repl_id">Declared/Insured Value<a href="repl_href" class="btnlnkR helpicon"></a></label>
								<div class="row">
									<div class="col-xs-7">
									<div class="ups-form_group">
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" maxlength="16">
										</div>
									</div>
									</div>
									<div class="col-xs-5">
									<div class="ups-form-group">
										<div class="ups-dropdown_wrapper ups-input_wrapper">
											<select class="ups-dropdown" name="repl_name">
												<option>USD - US Dollar</option>
											</select>
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
						<button name="repl_name" type="button" class="ups-link btnLnkL">Display / Update Service Options</button> <span class="icon ups-icon-wedgeup" aria-hidden="true"></span>					
						<div class="row">
							<div class="col-xs-6">								
								<fieldset class="ups-form_group">									
									<div class="buttonList_wrapper ups-input_wrapper">
										<input class="ups-checkbox-custom" id="saturday_delivery" name="repl_name" type="checkbox">
										<label class="ups-checkbox-custom-label sel" for="saturday_delivery">Saturday Delivery</label>
									</div>
									<div class="buttonList_wrapper ups-input_wrapper">
										<input class="ups-checkbox-custom" id="dangerous_goods" name="repl_name" type="checkbox">
										<label class="ups-checkbox-custom-label sel" for="dangerous_goods">Dangerous Goods</label>
									</div>
									<div class="buttonList_wrapper ups-input_wrapper">
										<input class="ups-checkbox-custom" id="hold_airport" name="repl_name" type="checkbox">
										<label class="ups-checkbox-custom-label sel" for="hold_airport"><a href="repl_href" class="ups-link_light btnlnkR helpicon">Hold At Airport for Pickup </a></label>
									</div>
									<div class="buttonList_wrapper ups-input_wrapper">
										<input class="ups-checkbox-custom" id="residential_delivery" name="repl_name" type="checkbox">
										<label class="ups-checkbox-custom-label sel" for="residential_delivery"><a href="repl_href" class="ups-link_light btnlnkR helpicon">Residential Delivery</a></label>
									</div>
									<div class="buttonList_wrapper ups-input_wrapper">
										<input class="ups-checkbox-custom" id="residenital_pickup" name="repl_name" type="checkbox">
										<label class="ups-checkbox-custom-label sel" for="residenital_pickup"><a href="repl_href" class="ups-link_light btnlnkR helpicon">Residential Pickup</a></label>
									</div>
									<div class="buttonList_wrapper ups-input_wrapper">
										<input class="ups-checkbox-custom" id="customs_clearance" name="repl_name" type="checkbox">
										<label class="ups-checkbox-custom-label sel" for="customs_clearance"><a href="repl_href" class="ups-link_light btnlnkR helpicon">Customs clearance</a></label>
									</div>
								</fieldset>
							</div>
							<div class="col-xs-6">
								<div class="buttonList_wrapper ups-input_wrapper">
									<input class="ups-checkbox-custom" id="delivery_paid" name="repl_name" type="checkbox">
									<label class="ups-checkbox-custom-label sel" for="delivery_paid">Delivery Duties Paid (DDP)</label>
								</div>
								<div class="buttonList_wrapper ups-input_wrapper">
									<input class="ups-checkbox-custom" id="delivery_unpaid" name="repl_name" type="checkbox">
									<label class="ups-checkbox-custom-label sel" for="delivery_unpaid">Delivery Duties Unpaid (DDU)</label>
								</div>
								<div class="buttonList_wrapper ups-input_wrapper">
									<input class="ups-checkbox-custom" id="liftgage_required" name="repl_name" type="checkbox">
									<label class="ups-checkbox-custom-label sel" for="liftgage_required"><a href="repl_href" class="ups-link_light btnlnkR helpicon">Liftgate Required</a></label>
								</div>
								<div class="buttonList_wrapper ups-input_wrapper">
									<input class="ups-checkbox-custom" id="pickup" name="repl_name" type="checkbox">
									<label class="ups-checkbox-custom-label sel" for="pickup"><a href="repl_href" class="ups-link_light btnlnkR helpicon">Pickup</a></label>
								</div>
							</div>
						</div>						
					</div>					
					<!-- ************************************** -->
					<!-- REDESIGN EDIT: End part of re-design -->
					<!-- ************************************** -->	
				</div>			
				
				<!-- End Step Three Module --></td>
		</tr>
					<!-- ************************************** -->
					<!-- REDESIGN EDIT: Start part of re-design -->
					<!-- ************************************** -->	
		<!-- <tr>
			<td class="btn-bar"><div class="btn-col4">
					<input name="repl_name" type="button" value="Back" class="btn_bak_a">
					<input name="repl_name" type="button" value="Cancel" class="btn">
					<input name="repl_name" type="submit" value="Next" class="btn_a">
				</div></td>
		</tr> -->
			<tr>
				<td class="btn-bar"><div class="btn-col4">
					<div class="ups-form_ctaGroup">
						<button name="repl_name" type="submit" class="ups-cta ups-cta_tertiary">Back</button>
						<button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Next</button>
						<button name="repl_name" type="submit" class="ups-cta ups-cta_secondary">Cancel</button>
					</div>
				</td>		
					<!-- ************************************** -->
					<!-- REDESIGN EDIT: End part of re-design -->
					<!-- ************************************** -->	
		</tr>
	</table>
</form>
