{{> global_html_header }}

<div id="ups-pageWrap">
    {{> M01_main_nav_light }}

    <main id="ups-main">
        {{ body }}
    </main>

    {{> M02_footer_light }}
</div>

{{> global_html_footer }}
