---
title: ct1_ppw(1add)
layout: legacy.hbs
version: v4
appID: com.ups.ppwa
appCSS: ups.legacy_overridePPWA
dir: rtl
lang: en
--- 

<!-- applicationArea -->
<div id="main">
	
		{{> "ct1_ppw(1add)_partial"}}
</div>
<!-- /applicationArea --> 
