<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Screen for Denied Parties</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">View Results</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<input alt="Printer Friendly View" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_print_friend_view.gif" type="image" width="126">
			<br><br>
			<span class="pi-h4">Request [transaction id] has been processed. You have been charged n.nn CUR*.</span>
			<br><br>
			<span class="pi-h3">Payment Method</span><br>
			UPS Account Number: F00100<br><br>
			<span class="pi-h3">Transaction References</span><br>
			Transaction Reference 1:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 1]<br>
			Transaction Reference 2:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 2]<br>
			Transaction Reference 3:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 3]<br>
			<div align="center"><img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"></div>
			<span class="pi-h4">The information you entered was not found on any government list. This may  mean that shipping to this [party/country or territory] is permissible. [You may want to try again using alternate spellings or try changing the <a href="repl_href">match level</a> <img src="/img/icn_help_blue.gif" alt="Help" width="9" height="9" border="0">.]</span><br>
			<br>
			Results provided by UPS: Weekday mm/dd/yyy hh:mm P.M. EST (USA)<br>
			<br>
			The accuracy of the results returned above depend on, among others, information you provide the TradeAbility&#0153; Services, the specific Match Level you designate and other information available to UPS. As such, these results may not be complete or accurate for your needs. For more information, please consult the <a href="repl_href">UPS TradeAbility License and Service Agreement<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a>.<br>
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Next Steps</span><br>
			Repeat the transaction above, make another TradeAbility service request, or begin a shipment using TradeAbility results by selecting an option from the drop-down menu below.
			<br><br>
			Next Steps Options:
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="baseline">
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Repeat This Transaction</option>
				</select></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="5"></td>
				<td valign="baseline"><input alt="Go" border="0" height="18" name="repl_fname" src="/img/btn_arrow_large.gif" type="image" width="18"></td>
			</tr>
			</table>
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Denied Party Screen Information</span><br>
			<br>
			<span class="pi-h4">Match Level</span><br>
			[match level]<br>
			<br>
			<img alt="" border="0" height="1" src="/img/1.gif" width="1"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><input alt="Save screener party name and address information to My UPS Address Book" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_save_screener_info.gif" type="image" width="427">
			<br><br>
			<span class="pi-h4">Party Name and Address Information</span><br>
			[Company Name]<br>
			[Contact Name]<br>
			[Street Address]<br>
			[City]<br>
			[County]<br>
			[State/Province/Region]<br>
			[Postal Code]<br>
			[Country or Territory]<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<input alt="Printer Friendly View" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_print_friend_view.gif" type="image" width="126">
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top" colspan="3">

		<!-- Begin Table: Module Note (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td><br>*Billing amount shown based on published rates. Actual billing amount may differ.</td>
		</tr>
		</table>
		<!-- End Table: Module Note (Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
