---
title: L1 One Column
dir: ltr
lang: en
---
{{!-----------------------------------------------------------------------------
================================================================================
L1 One Column Template
================================================================================
-------------------------------------------------------------------------------}}
<div> <!-- CMS MODULE CONTAINER [BODY] -->
    {{> cms_container }}
</div> <!-- @end CMS MODULE CONTAINER [BODY] -->

