---
title: L1 One Column
dir: ltr
lang: en
app: true
---
{{!-----------------------------------------------------------------------------
================================================================================
L1 One Column Template (Application Page)
================================================================================
********************************************************************************

* Class name "ups-appPage" is applied to body.
    - Fixed width / non-responsive variation to allow for legacy apps.

********************************************************************************
================================================================================
-------------------------------------------------------------------------------}}
<div> <!-- CMS MODULE CONTAINER [BODY] -->
    {{> cms_container }}
</div> <!-- @end CMS MODULE CONTAINER [BODY] -->

