---
title: L1 One Column
dir: ltr
lang: en
home: true
---
{{!-----------------------------------------------------------------------------
================================================================================
L1 One Column Template (HOME)
================================================================================
********************************************************************************

* Class name "ups-homePg" is applied to div#ups-pageWrap.
    - This triggers the QuickStart to be opened on the Home Page

********************************************************************************
================================================================================
-------------------------------------------------------------------------------}}
<div> <!-- CMS MODULE CONTAINER [BODY] -->
    {{> cms_container }}
</div> <!-- @end CMS MODULE CONTAINER [BODY] -->
