---
title: L2 Right Rail (ALT)
dir: ltr
lang: en
---
{{!-----------------------------------------------------------------------------
================================================================================
L4 Two Column Template (Alternate)
================================================================================
********************************************************************************

* Class name "ups-subsection-alt" is applied to div.ups-subsection.
    - Applies alternate background color

********************************************************************************
-------------------------------------------------------------------------------}}
<div> <!-- CMS MODULE CONTAINER [HEAD] -->
    {{> cms_container }}
</div> <!-- @end CMS MODULE CONTAINER [HEAD] -->

<div class="ups-subsection ups-wrap ups-subsection-alt">
    <div class="ups-subsection_inner">

        <div class="subsection_main">
            <!-- CMS MODULE CONTAINER [BODY] -->
                {{> cms_container }}
            <!-- @end CMS MODULE CONTAINER [BODY] -->
        </div>

        <aside class="subsection_aside">
            <!-- CMS MODULE CONTAINER [RAIL] -->
                {{> cms_container }}
            <!-- @end CMS MODULE CONTAINER [RAIL] -->
        </aside>

    </div>
</div>
