<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Check Import Compliance</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Enter Country or Territory Information</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">Check import compliance between specific origin and destination countries or territories. Required fields shown in <span class="pi-h4">bold.</span><br><br></div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		<tr>
			<td valign="top">
			<div class="pi-m-pad">
			<span class="pi-h4">Ship To Country or Territory:</span><br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>[context country or territory]</option>
			</select>
			<br><br>
			<span class="pi-h4">Ship From Country or Territory:</span><br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>Select One</option>
			</select>
			</div>
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Payment Method</span>&nbsp;&nbsp;<input alt="Edit" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_edit.gif" type="image" width="20">
			<br>
			UPS Account Number: FOO100<br><br>
			<span class="pi-h4">Note:</span> This TradeAbility service is charged on a transaction basis.<br><br>
			<span class="pi-h3">Transaction References</span><br>
			Provide transaction references to help you identify this request later in your Transaction History.<br><br>
			Transaction Reference 1:<br>
			<input class="modTxtLarge" maxlength="35" size="35" type="text"><br>
			Transaction Reference 2:<br>
			<input class="modTxtLarge" maxlength="35" size="35" type="text"><br>
			Transaction Reference 3:<br>
			<input class="modTxtLarge" maxlength="35" size="35" type="text"><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Next" border="0" height="18" name="repl_fname" src="/img/en/btn_next_a.gif" type="image" width="51"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
