<form action="repl_fname">
  <div class="appLvl ups-application_wrapper ups-form_wrap">
    <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
      <tr>
        <th><div class="head-col4">
            <h2>Enter Information for Your {Less-Than-Truckload} Freight Shipment</h2>
            <div style="clear:both;"></div>
          </div></th>
      </tr>
      <tr>
        <td><div class="introModFixed">
            <p></p>
          </div>
          
          <!-- Begin Module -->
          
          <div id="" class="stepModFlex">
            <div class="stepModHead">
              <h3 class="nostep">Shipments Under 151 lbs.</h3>
              <div style="clear:both;"></div>
            </div>
            <div class="stepModContent">
              <p>Based on the shipment weight  that you have entered, your shipment may be eligible to be shipped via one of UPS's package/letter shipping services.  The freight service that you selected is typically intended for palleted shipments exceeding {150 lbs}, or exceed the UPS small package size limitations.</p>
              <p>If you have incorrectly entered the weight of your shipment, select Back to correct this information.</p>
            <!-- ************************************** --> 
            <!-- REDESIGN EDIT: Start part of re-design --> 
            <!-- ************************************** -->
            <fieldset class="ups-form_group">
              <legend>Select An Option</legend>
              <div class="ups-buttonList_wrapper ups-input_wrapper">
                <input id="continueWithTheSelectedFreight" class="ups-radio-custom" name="shipUnder151Lbs" value="1" type="radio">
                <label for="continueWithTheSelectedFreight" class="ups-radio-custom-label">Continue with the selected freight service</label>
                <div class="ups-checkbox ups-input_wrapper ups-indent">
                  <input id="dontShowMeThisMessage" class="ups-checkbox-custom" name="dontShowMeThisMessage" type="checkbox">
                  <label for="dontShowMeThisMessage" value="1" class="ups-checkbox-custom-label">Don't show me this message again</label>
                </div>
              </div>
              <div class="ups-buttonList_wrapper ups-input_wrapper">
                <input id="modifyWeightFreightShip" class="ups-radio-custom" name="shipUnder151Lbs" value="2" type="radio">
                <label for="modifyWeightFreightShip" class="ups-radio-custom-label">Modify the weight of my freight shipment.</label>
              </div>
              <div class="ups-buttonList_wrapper ups-input_wrapper">
                <input id="rateThisShipment" class="ups-radio-custom" name="shipUnder151Lbs" value="3" type="radio">
                <label for="rateThisShipment" class="ups-radio-custom-label">Rate this shipment for UPS package/letter shipping.</label>
                <p class="ups-indent">Select this option for International palletized air freight shipments, then <strong>Next</strong>. You can complete shipment details on the next page to view UPS Worldwide Express Freight<sup>&#8480;</sup> service quotes (for countries or territories where the service is supported).</p>
              </div>
            </fieldset>
            <!-- ************************************** --> 
            <!-- REDESIGN EDIT: End part of re-design --> 
            <!-- ************************************** --> 
            </div>
            
            <!--<table class="dataTable" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="10" valign="top"><input id="continue" type="radio" name="group1" value=""></td>
								<td><label for="continue" class="sel">Continue with the selected freight service.</label>
									<br>
									<input  id="show_again" type="checkbox" name="checkboxName" value="">
									<label for="show_again" class="sel">Don't show me this message again</label></td>
							</tr>
							<tr>
								<td width="10" valign="top"><input id="modify" type="radio" name="group1" value=""></td>
								<td><label for="modify" class="sel">Modify the weight  of my freight shipment.</label></td>
							</tr>
							<tr>
								<td width="10" valign="top"><input id="following_service" type="radio" name="group1" value=""></td>
								<td><label for="following_service" class="sel">Rate this shipment for UPS package/letter shipping.</label></td>
							</tr>
							
							<!-- ///////////////////////////////////////////////////////////// --> 
            <!-- Begin FCTC - Shipments Under 150 lbs (1304 RFC 5974 RFC 6052) --
							<tr>
								<td width="10"></td>
								<td><label for="repl_id" class="sel">Select this option for International palletized air freight shipments, then <strong>Next</strong>.  You can complete shipment details on the next page to view UPS Worldwide Express Freight<sup>sm</sup> service quotes (for countries or territories where the service is supported).</label></td>
							</tr>
							<!-- End FCTC - Shipments Under 150 lbs (1304 RFC 5974 RFC 6052) --> 
            <!-- /////////////////////////////////////////////////////////// ->
							
						</table>--> 
          </div>
          
          <!-- End Module --></td>
      </tr>
      <tr>
        <td class="btn-bar">
         <!-- ************************************** --> 
            <!-- REDESIGN EDIT: Start part of re-design --> 
            <!-- ************************************** -->
        <div class="ups-form_ctaGroup">
            <button type="button" class="ups-cta ups-cta_tertiary">Back</button>
            <button type="button" class="ups-cta ups-cta_primary">Next</button>
            <button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
          </div>
            <!-- ************************************** --> 
            <!-- REDESIGN EDIT: End part of re-design --> 
            <!-- ************************************** --> 
            <!--<div class="btn-col4">
            <input name="repl_fname" type="button" class="btn_bak_a" value="Back">
            <input name="repl_fname" type="button" class="btn" value="Cancel">
            <input name="repl_fname" type="button" class="btn_a" value="Next">
          </div>--></td>
      </tr>
    </table>
  </div>
</form>
