---
title: Verify Now Authentication
layout: default_ar.hbs
dir: ltr
lang: ar
appId: ppc
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-wrap ups-onboApp-wrap-ppc" ng-app="upsDOApp" >
		<div class="ups-wrap_inner">
			<ups-verify-authentication-failed></ups-verify-authentication-failed>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
