---
title: Select UPS location Modal
layout: default.hbs
dir: ltr
lang: en
appId: ppc
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-wrap ups-onboApp-wrap-ppc" ng-app="upsDOApp" >
		<div class="ups-wrap_inner">
	
			<h1>Location Widget Modal</h1>
			<ups-location-widget></ups-location-widget>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
