---
title: ct1_shi_pic(1sch)_sta(3mo1)
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: rtl
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
        
        
          {{>"ct1_shi_pic(1sch)_sta(3mo1)_partial" ct1_shi_pic1sch_sta3mo1.pdt_dropoff}}  
<!-- /applicationArea --> 


</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
