---
title: ct1_shi_pic(1sch)_sta(3mo1)
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       <!---->


          {{>"ct1_shi_pic(1sch)_sta(3mo1)_partial" ct1_shi_pic1sch_sta3mo1.default }}

<!-- /applicationArea -->


<!-- Dynamic Panels -->
{{!-- <div id="select_pnl_1">
    <dl role="presentation">
        <dt>
            <label for="dyn_pnl_select_1">Pickup Information and Location:</label>
        </dt>
        <dd>
            <select id="dyn_pnl_select_1" class="formcol5">
                <option value="1">Default</option>
                <option value="2">Customer Entered Account Number and ZIP Only</option>
            </select>
        </dd>
    </dl>
</div>
<div id="select_pnl_2">
    <dl role="presentation">
        <dt>
            <label for="dyn_pnl_select_2">Service and Package Information:</label>
        </dt>
        <dd>
            <select id="dyn_pnl_select_2" class="formcol5">
                <option value="1">Default</option>
                <option value="2">Pallet Request</option>
            </select>
        </dd>
    </dl>
</div>
<div id="select_pnl_3">
    <dl role="presentation">
        <dt>
            <label for="dyn_pnl_select_3">Pickup Date and Time</label>
        </dt>
        <dd>
            <select id="dyn_pnl_select_3" class="formcol5">
                <option value="1">Default</option>
                <option value="2">Pallet Request - Pickup</option>
                <option value="3">Pallet Request - Drop-off</option>
            </select>
        </dd>
    </dl>
</div>
<div id="select_pnl_4">
    <dl role="presentation">
        <dt>
            <label for="dyn_pnl_select_4">Destination Options</label>
        </dt>
        <dd>
            <select id="dyn_pnl_select_4" class="formcol5">
                <option value="1">Pallet Request - Pickup</option>
                <option value="2">Pallet Request - Drop-off</option>
            </select>
        </dd>
    </dl>
</div>
<div id="select_pnl_5">
    <dl role="presentation">
        <dt>
            <label for="dyn_pnl_select_5">Pickup Notifications</label>
        </dt>
        <dd>
            <select id="dyn_pnl_select_5" class="formcol5">
                <option value="1">Hide</option>
                <option value="2">Show - Customer Entered Account Number and ZIP Only</option>
            </select>
        </dd>
    </dl>
</div> --}}


</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
