<div class="modal fade ups-form_wrap" role="dialog" tabindex="-1" aria-hidden="true">
	<!-- MODAL CONTENT -->
	<div class="modal-dialog modal-lg" role="document">
		<div aria-labelledBy="ups-modal-title" class="modal-content">
			<div class="modal-header">
				<a href="#" onclick="return false;" class="close"
					data-ng-click="closePopup($event);"
					data-ng-keydown="$event.keyCode == 13 ? closePopup($event) : null"
					data-dismiss="modal">
					<span class="ups-icon-x" aria-hidden="true"></span>
					<span class="ups-readerTxt">Close</span>
				</a>
				<h2 id="ups-modal-title" class="modal-title">{{headertitle}}</h2>
			</div>
			<div class="modal-body" data-ng-if="!onConfirm">
				<div data-ng-include="url"></div>
			</div>
		</div>
	</div>
</div>
