<!-- Controls the DOA Social Icon Group -->
<!-- Directive is located at src/common/apps/assets/angularjs/Base/directives/ups.DOApp.directives.js -->
<div class="ups-group ups-social_buttons" data-ng-hide="hideSocial">
	<!-- SOCAIL BASE CONTENT -->
	<ul class="ups-icon_list row">
		<li class="col-xs-6 col-md-3" data-ng-repeat="social in list">
        	<button type="button" data-ng-click="socialClick(social)"
			data-ng-keyup="$event.keyCode === 13 && socialClick(social);">
			<span class="{{social.class}}"> </span>
            	<span class="ups-readerTxt">Sign up with {{social.readerTxt}}</span>
                {{social.network}}
            </button>
        </li>
	</ul>
	<!-- ups-icon_list ups-list_horizontal -->
</div>
