<!-- ************************************************************************************ -->
<!-- A04 Page Level Required Message                                                      -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
A04 Page Level Required Message  - Notes
********************************************************************************
 - Placed above form element in pages with required fields
********************************************************************************
--}}

<!-- documentation ../source/module/A04_page_level_required_message.hbs -->
<p>
    <em>
        <span aria-hidden="true">*</span>
        <span class="ups-readerTxt">Required</span>
        Indicates required field
    </em>
</p>