<!-- ************************************************************************************ -->
<!-- A05 App Progress Bar                                                                 -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
A05 App Progress Bar - Data
********************************************************************************

Available Variations via class names:

    Secondary Skin
        Applied to when 
        
    Tertiary Skin
        Applied to when 



Configs via DATA attributes:

    DATA-ATTRIBUTE            TYPE          REQUIRED          EXAMPLE
    details                    = boolean    / NO            / Use if there is detail content below the progress bar?
    
    For Secondary Skin
    
    For Tertiary Skin

********************************************************************************
--}}


<!-- documentation ../source/module/A01_step_block.hbs -->
<div class="ups-progress_wrap">
	<div class="ups-progress_bar">
    </div>
    {{#if details}}
	<div class="ups-detail_row">
    </div>
    {{/if}}
</div>