<!-- ************************************************************************************ -->
<!-- A08 reCAPTCHA                                                                        -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
A08 reCAPTCHA
********************************************************************************

Configs via DATA attributes:

    DATA-ATTRIBUTE            TYPE          REQUIRED          EXAMPLE
    null                       = null       / null          / null
********************************************************************************
--}}


<!-- documentation ../source/module/A08_reCAPTCHA.hbs -->
<div class="reCAPTCHA">
	<p><strong>Prove you are not a robot.</strong></p>
	<div class="g-recaptcha" data-sitekey="your_site_key"></div>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</div>