<!-- ************************************************************************************ -->
<!-- A25 Speech Bubble                                                                -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
A25 Speech Bubble - Data
********************************************************************************

Available Variations via class names:



Configs via DATA attributes:

    DATA-ATTRIBUTE            TYPE			REQUIRED          	EXAMPLE
    text                      = string      / YES           	/ custom text
	

********************************************************************************
--}}


<!-- documentation ../source/parital/app_component/module/A25_speech_bubble.hbs -->
<div class="ups-speech_bubble">
    {{{ text }}}
</div>