<p>The progress circle component requires loading the UPS Angular App. It uses the <code>progress-circle</code> element with the main attributes being <code>min</code> and <code>max</code>. The <code>size</code> attribute should be set to 200, and the <code>offset</code> attribute should be set to 270.</p>

<div data-ng-app="upsApp" data-ng-init="percent = 30" class="ups-circle_progress">
	
	<progress-circle data-ng-model="percent" size="200" min="0" max="100"
		offset="270"></progress-circle>
    
    <div class="ups-progress-bar-label"><span data-ng-bind="percent"></span>%</div>
</div>