/* online_tools_css */

/* appLvl html missing "col" width setting which applies the width and float*/
.appLvl {width:710px;display:inline;float:left;/*margin-bottom:10px;padding:0*/}
* html .appLvl {width:712px}
#cookieMsg .appLvl {width:970px;} /*to expand cookieMsg across the entire page*/

.cclampFooter .appLvl {width:970px !important}

table.paddedCell td{padding-right:20px}

		/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/
			/* RIF CODE AT WORK, CAN BE REMOVE WHEN RIF IS CORRECTED Team: Bittner Daniel (TTR3ZGN); Hildebrand Scott (LCC1SDH)
				/* Defect 35484; WED 12/9/2009 8:43 AM; Team: Massey Ronald (esc1rcm); Schoultz Ryan (esc1rds); JothiPrakash Arvind (JQY3WGT) */
						.redErrorBold {color:#F31A12;font-weight:bold;}
						/* Massey Ronald (esc1rcm) could not confirm if they were using class on label or span,
						   this is going to effect error display when label is a term level help link.
						label.redErrorBold a {color:#F31A12}
						label.redErrorBold a:hover {color:#3366CC;}*/
				/**/
			/**/
		/**/
		
		
/* with Sub Nav
Defaults loaded in master.css*/
#ccGtrMod {}
#ccCntMod {}

/*without SubNav
#ccGtrMod {display:none; padding:0; margin:0;}
#ccCntMod {width:960px; padding:0; margin:0;text-align: center}
#main {width:950px; margin:0 auto;}*/