@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
	tr.pi-r1-t {
		background-color: $ups-gold;
		td {
			font: {
				family: $sans-bd;
				weight: normal;
			}
			border-#{$opposite-direction}: 1px solid black;
			&:last-child {
				border-#{$opposite-direction}: none;
			}
			&.pi-r1-line {
				background-image: none;
			}
		}
	}
	.pi-mA1 {
		border-#{$default-float}: 1px solid $black_s1;
		border-#{$opposite-direction}: 1px solid $black_s1;
	}
	.pi-mA1-c {
		.pi-m-pad span.pi-h4 {
			&:first-child {
				padding-#{$default-float}:3px;
			}
		}
		.pi-mA1 {
			border-#{$default-float}: none;
			border-#{$opposite-direction}: none;
		}
		.pi-mA1-line {
			border-#{$default-float}: none;
			border-#{$opposite-direction}: none;
			border-bottom: 1px solid $black_s1;
		}
	}

    form[name="frmPLIntSearchForm"]{
        .btn {
            width:auto;
        }
    }
}
#main table td.pi-mA2-t  {
    background: #bebebe;
    border: 1px solid #6e6e6e;
    border-bottom: none;
    position: relative;
}
#main table td.pi-mA2-c-t-spc {
border-#{$default-float}: 1px solid #6e6e6e;
    border-#{$opposite-direction}: 1px solid #6e6e6e;
    background: #fff;
}
#main table .pi-mA2-c {
    background: #fff;
    padding: 15px;
    border-#{$default-float}: 1px solid #6e6e6e;
    border-#{$opposite-direction}: 1px solid #6e6e6e;
    border-bottom: 1px solid #6e6e6e;
}

@media(max-width:992px){
	#main {
		padding:0!important;
	}
}
#fbopPopUp {
    top: 0px!important;
    padding-top:15px!important;
    .appHead {
padding:15px 0;
}

}
#ta_modalMask {
    height: auto!important
}

form[name=harmForm] .pi-m-button a img[name=Cancel] {
vertical-align: baseline;
}

form[name=harmForm] .pi-mA1 .pi-m-pad .modTxtMedium {
	margin-bottom: 15px;
}
#main input.btnlnkL.crossMini {
    padding-#{$default-float}: 18px;
    background-image: url(/assets/resources/images/legacyAppImages/crossmini.gif) !important;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    color: $black_s4;
}

@media (max-width: 767px) {
form[name=harmForm] .pi-m-button input.btn {
width:auto
}
}
.iw_columns.col-lg-8 .ups-secondaryNav {
    display: none;
}
form[name=retailform] .secLvl.secLvlPlain.seccol16.marginEnd.clearfix {width:50%}
#HPDCR_Dialog .alignCenter .subcol8 {width:280px}
