.ups-app_inner {
    width: 60%;
    margin: 0 auto;

    @media #{$media-medium} {
        width: auto;
    }
}

.ups-pickup_used_ids {
    a {
        display: inline-block;
        margin-right: 15px;
    }
}

.ups-pickup_request {
    background-color: $stone_40;
    margin: 10px -60px 25px;
    padding: 25px 65px;

    @media #{$media-small} {
        margin: 15px -20px 25px;
        padding: 25px 20px;
    }

    div:last-child, p:last-child {
        margin-bottom: 0;
    }

    .ups-app_inner {
        div:last-child, p:last-child {
            margin-bottom: 0;
        }
    }
}

.ups-pickup_status_pic {
    margin-#{$opposite-direction}: 10px;
}

p.h3, p.h2 {
    margin: 0 0 5px;
}

.ups-form_ctaGroup {
    margin-top: 25px;
}

.ups-application_wrapper .ups-icon-check.ups-position-normal {
    position: static;
	left: 0;
	right: 0;
	display: inline-block;
}

.ups-application_wrapper .ups-section .ups-invalid_color-list {
    margin-top: 20px;
}

.ups-pickup_top_status {
    .ups-pickup_top_row {
        margin-bottom: 10px;

        .col-md-7 {
            border-#{$opposite-direction}: 1px solid $stone_40;

            @media #{$media-medium} {
                border-#{$opposite-direction}: none;
            }
        }
    }

    .ups-pickup_bottom_row {
        border-top: 1px solid $stone_40;
        padding-top: 10px;

        .col-md-7 {
            border-#{$opposite-direction}: 1px solid $stone_40;

            @media #{$media-medium} {
                border-#{$opposite-direction}: none;
            }
        }
    }

    .ups-pickup_history_col {
        padding-top: 5px;
    }

    .ups-pickup_full_status {
        padding: 15px 0;
    }
}

.ups-input_camera_button {
    -webkit-appearance: none;
    border-radius: 0;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
    position: absolute;
    #{$default-float}: 0;
    top: 0;
    padding: 4px 8px 0;
    height: 35px;
    border-#{$opposite-direction}: 1px solid $stone_s3;
    cursor: pointer;
    font-size: 1.5em;
    color: #64a70b;
    line-height: 1em;
}

.ups-text_wrapper.ups-has_camera_icon {
    input {
        padding-#{$default-float}: 42px;
    }

    @media #{$not-mobile} {
        &.ups-has_camera_xs_only input {
            padding-#{$default-float}: 10px;
        }
    }
}

.ups-application_wrapper .ups-form_group.ups-pickup_day_choices {
    display: inline-block;
    width: auto;
    text-align: left;
    margin: 0 auto 15px;
    max-width: 400px;
}

.ups-pickup_history {
    margin-top: 15px;
}
.ups-pickup_request_options {
	display:inline-block;
	text-align: left;
}

.ups-pickup_language_bar {
	//background-color: $stone_40;
    margin: 0px -60px 25px;
    padding: 4px 67px;
}

.ups-language_exit_btn {
    //padding-top: 14px;
    top:16px;
    position: relative;
}

.ups-pickup_get_started_bar {
	//background-color: $stone_60;
    //margin: 10px -60px 25px;
    //padding: 25px 65px;
    margin-bottom: 25px;
}

.ups-font_equalizer {
    font-size: 18px;
}

.ups-application_wrapper .ups-drawer.ups-drawer_slim {
    .ups-drawer-btn.ups-drawer-btn_popUp {
        //background: #ffffff;
        //border-left: 2px solid $ups_sky;
        //border-top: 2px solid $ups_sky;
        //border-right: 2px solid $ups_sky;
        //border-bottom: 2px solid $ups_sky;
        padding: 15px 20px 15px;
        position: relative;
        z-index: 2;
    }
}

.ups-drawer.ups-drawer_slim {
    .ups-drawer-content.ups-drawer_popUp {
        background: #ffffff;
        width: auto;
        top: 100%;
        right: 0px;
        z-index: 1;
        //margin-top: 6px;
        //border: 1px solid $stone_s3;
        //border-top: 7px solid $stone_s3;
        border: 2px solid $stone_s3;
        //border-bottom: 2px solid $ups_gold;
        padding: 12px 5px;
        //padding: 12px 22px;
        //margin: 10px 0px;
        position: absolute;
        top: 49px;
        left: 15px;
        ul {
        list-style-type:none;
        margin-top: 10px;
        padding-left: 18px;
            li {
                padding: 10px 0;
                a {
                    text-decoration:none;
                    font-family: $sans;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

.ups-drawer.ups-drawer_slim {
    .ups-drawer-content.ups-toggle_view_state.ups-toggle_view_left {
        background: #f0f0ef;
        width: auto;
        top: 100%;
        right: 0px;
        z-index: 1;
        border: 4px solid #f0f0f0;
        padding: 12px 5px;
        position: absolute;
        top: 49px;
        left: 15px;
        //display: block;
        margin: 14px 0 30px;
        &::before {
            left:24px;
        }
        ul {
        list-style-type:none;
        margin-top: 10px;
        padding-left: 18px;
            li {
                padding: 10px 0;
                a {
                    text-decoration:none;
                    font-family: $sans;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

    }
}

// .ups-page-title {
//     padding-bottom: 0;
//     //text-align: center;
//     margin-right: 0;
// }

// .ups-application_wrapper .ups-previous_page {
//     margin-bottom: 25px;
//     display: inline-block;
//     text-transform: uppercase;
//     text-decoration: none;
//     line-height: 45px;
//     color: #404040;
// }
