@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
	tr[valign="top"]{
		td{
			padding-top: 10px;
			padding-bottom: 10px;
			input{
				border: none;
			}
		}
	}

	form > table:nth-child(3) {
		border: 1px solid #6e6e6e;
		display: block;
		padding: 10px;
		margin-bottom: 10px;
	}
	input {
		-webkit-appearance: none;
		border: 1px solid #bebebe;
		padding: 0 10px;
		font-size: 14px;
		font-family: "BerlingskeSans Bd", Tahoma, helvetica, arial, sans-serif;
		height: 35px;
		font-weight: normal;
	}

	input, select {
		margin-bottom: 15px;
	}

	table td[bgcolor="#FFFFFF"], table td[bgcolor="#FFF"], table td[bgcolor="#ffffff"], table td[bgcolor="#fff"]   {
		background-color: $white;
	}

	table td[bgcolor="#CCCCCC"], table td[bgcolor="#CCC"], table td[bgcolor="#cccccc"], table td[bgcolor="#ccc"]   {
		background-color: #ccc;
	}
}
// #main input[name="IAV_REGIONAL"]:before {
//     border: 1px solid #cccccc!important;
// }
#main input[name="IAV_REGIONAL"]
{border:2px solid #bebebe!important;padding:0;margin-#{$default-float}:15px}
