/******* HIDE FRAGMENT BANNER ON ECS ******/
#fragment_ADO{
display: none !important;
}
/**********************************************/

/*campusship_shipping_css*/

				.ccbambg1,
				.ccstambg5,
				.ccpnbmbg1,
				.ccpnbmbg2,
				.ccpnbmbg3,
				.ccsnmbg1,
				.ccsnmln1,
				.ccusbmbg1,
				.ccusbmln1,
				.ccfmln1{font-size:0;}

/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/
			/* RIF CODE AT WORK, CAN BE REMOVE WHEN RIF IS CORRECTED Team: Hildebrand Scott (LCC1SDH)
				/**/
						.redErrorBold {color:#F31A12;font-weight:bold;}
				/**/
			/**/
		/**/
		
/*-- UPS Logo List --*/
.lstBrand li{margin:5px 5px 0; padding:0px 0px 15px 50px;background-repeat:no-repeat;background-position:0 0}
.lstBrand li{background-image:url(/img/glo_ups_brandmark_pfv.gif)}

/* ------------------------ --- ----------------------- */
/* ---------------------- C-Clamp --------------------- */
/* ------------------------ --- ----------------------- */
.ccacmpad1{width:auto; padding:0 10px 0; width:100%;}

div.bnrBrand { position:static}

.ccusbmbg1 a, .blueLink {color:#3366CC;}

/*Banner*/
td.ccbambg1{background:#351C15;vertical-align:bottom; height:24px}
.ccstamali1{background:#003436;text-align:center;vertical-align:middle;}
.ccstambg5,.ccusbmbg1,.ccfmbg1,.ccbambg2,.cclccmbg2{background:#fff;}
.ccstambg1{background:#003436;}
.ccstambg2{background-image:url(/img/glo_bnr_abstract_cam_01.jpg);background-repeat:no-repeat;text-align:right;vertical-align:bottom;}
.ccstambg3{background-image:url(/img/glo_bnr_abstract_cam_02.jpg);background-repeat:no-repeat;}
.ccstambg4{background:#26A9AC;}

			/*main navagation*/	
			.ccpnbmbg1{background-color:#DFB42C;}
			.ccpnbmbg2{background-color:#003436;}
			.ccpnbmbg3{background-color:#003436;background-image:url(/img/glo_bnr_fade_blu.gif); background-repeat:repeat;}
				
			
				/*Production and ERPT has different html structure*/
				#ccpn a img {margin: 0 3px 0 0; padding:0} /*ERPT May10 - uses div*/
				td.ccpnbmbg3 table a img {margin: 0 3px 0 0; padding:0} /*Production May10 - uses table*/

.ccsnmbg1{background-color:#DCEDE5;}
.ccsnmln1{background-color:#DCEDE5;}

/*Login*/
	.ccstambg5,.ccfmbg1,.ccbambg2,.cclccmbg2{background:#fff;}
	.ccusbmbg1{background:#DCEDE5;}
	.ccusbmtxt1{color:#666;font-size:8pt;font-weight:bold;}
	.ccusbmtxt2{color:#000;font-size:8pt;}
		.ccusbmtxt2 a{font-size:8pt;}
	.ccusbmtxt3{color:#F31A12;font-size:8pt;}
	.ccusbmali1,.ccsnbmali1,.ccsnbmali2{text-align:right;vertical-align:middle;}	
	.ccusbmln1{background-color:#DCEDE5;}
	
/*Sub Nav*/
#cssnav{background-color:#DCEDE5;border-bottom:1px solid #DCEDE5;border-right:1px solid #DCEDE5;direction:ltr;padding-bottom:20px;padding-top:12px;width:174px;}
#cssnav a {color:#3366CC;}

.ccsnmnavlv1 {font-weight:bold;padding:0 5px;line-height:1em;}

	/*CMS Messaging*/


/*Footer*/
.ccfmln1{background:#ccc;}
.ccfmbg1 a {color:#3366CC;}
.ccfmtxt1,.ccfmtxt2{color:#666666;font-size:8pt;}

/* ---------------------- LAYOUT ---------------------- */
/* ----- Because ECS is inside the legacy c-clamp ----- */
/* ------------------------ --- ----------------------- */

.col8 {width:230px}
.col9 {width:270px}
.col18 {width:550px}
	/*IE borders +2*/
	* html .col8 {width:232px !important}
	* html .col9 {width:272px !important}
	* html .col18 {width:552px !important}


/*.col -12*/ /* ztr9cnb updated Jul10 cbarbre 11/24/09 */
.seccol8 {width:218px}
.seccol9 {width:258px}
.seccol18 {width:538px}
	/*IE borders .col -10** ztr9cnb updated Jul10 cbarbre 11/24/09 */
	.seccol8 {width:220px !important}
	.seccol9 {width:260px !important}
	* html .seccol18 {width:540px !important}

/*.col -2*/ /*appLvlPlain w/ no applvl padding */
.appLvlPlain .seccol8 {width:228px}
.appLvlPlain .seccol9 {width:268px}
.appLvlPlain .seccol18 {width:548px}
	/*IE borders  .col -0*/ /*appLvlPlain w/ no applvl padding */
	* html .appLvlPlain .seccol8 {width:230px !important}
	* html .appLvlPlain .seccol9 {width:270px !important}
	* html .appLvlPlain .seccol18 {width:550px !important}
	
/*.col -24*/
.subcol8 {width:206px}	
.subcol9 {width:246px}	
.subcol18 {width:526px}
	/*IE borders  .col -22*/ 
	* html .subcol8 {width:208px !important}	
	* html .subcol9 {width:248px !important}	
	* html .subcol18 {width:528px !important}

/*.col -32** ztr9cnb new Jul10 cbarbre 11/24/09 */
.seccol8 select {max-width:198px}
.seccol9 select {max-width:238px}
.seccol18 select {max-width:518px}

/*.col -42** ztr9cnb new Jul10 cbarbre 11/24/09 */
.secLvl .subcol8 select {max-width:286px}
.secLvl .subcol9 select {max-width:226px}
.secLvl .subcol18 select {max-width:506px}

		/*IE select fix for no max-width setting* ztr9cnb new Jul10 cbarbre 12/08/09 */
		* html .col8 select.maxwidthFix,
		* html .col9 select.maxwidthFix,
		* html .col18 select.maxwidthFix {width:100% !important}
		
		* html .seccol8 select.maxwidthFix,
		* html .seccol9 select.maxwidthFix,
		* html .seccol18 select.maxwidthFix {width:100% !important}
		
		* html .subcol8 select.maxwidthFix,
		* html .subcol9 select.maxwidthFix,
		* html .subcol18 select.maxwidthFix {width:94% !important}
 
/*Flexable Columns*/
/*----------------*/
/*cam_shi_shi(1add)_his(2det) should be adding class colPad to divide columns*/
div.floatBegin{margin-right:20px}
	
		
/* ------------------------ NEW ----------------------- */
/* -----------------      MODULE      ----------------- */
/* ------------------------ --- ----------------------- */
.mod .appHead {border-bottom:solid 3px}
.step .secHead {border-bottom:solid 3px}
.tableonly .secHead,
.tableOnly .secHead {border-bottom:none}
.secLvl .secLvl .secHead {border-bottom:none}


/* ----------------------- COLOR ---------------------- */
/* ----------------- Application Body ----------------- */
/* ------------------------ --- ----------------------- */

h1{color:#333366}
h2, h3, h4, h5, h6{color:#60513A;}

a{color:#3366CC}

.error{color:#f31a12}

.clear {background-color:transparent}

/* next 2 lines updated 10/19/09 ztr9cnb */
h4 a, h5 a, h6 a{color:#60513A}
h4 a:hover, h5 a:hover, h6 a:hover{color:#3366CC}

label a{color:#000}
label a:hover{color:#3366CC}
/*label.error{color:#f31a12}*/
label.error a{color:#f31a12}	
label.error a:hover{color:#3366CC}
label.sel a {color:#3366CC}

/*  next line added 10/19/09 ztr9cnb */
sup{color:inherit}

/* ----------------------- COLOR ---------------------- */
/* ---------------------- Modal ----------------------- */
/* ------------------------ --- ----------------------- */

#modal.mod {background-color:#FFFFFF}


/* ----------------------- COLOR ---------------------- */
/* -------------------- Columns  ---------------------- */
/* ------------------------ --- ----------------------- */

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col13,
.col14,
.col15,
.col16,
.col17,
.col18,
.col19,
.col20,
.col21,
.col22,
.col23,
.col24,
.colsuper {background-color:transparent}
.seccol1,
.seccol2,
.seccol3,
.seccol4,
.seccol5,
.seccol6,
.seccol7,
.seccol8,
.seccol9,
.seccol10,
.seccol11,
.seccol12,
.seccol13,
.seccol14,
.seccol15,
.seccol16,
.seccol17,
.seccol18,
.seccol19,
.seccol20,
.seccol21,
.seccol22,
.seccol23,
.seccol24 {background-color:transparent}

.subcol1,
.subcol2,
.subcol3,
.subcol4,
.subcol5,
.subcol6,
.subcol7,
.subcol8,
.subcol9,
.subcol10,
.subcol11,
.subcol12,
.subcol13,
.subcol14,
.subcol15,
.subcol16,
.subcol17,
.subcol18,
.subcol19,
.subcol20,
.subcol21,
.subcol22,
.subcol23,
.subcol24 {background-color:transparent}
/* ----------------------- COLOR ---------------------- */
/* ------------------ Application Lvl ----------------- */
/* ------------------------ --- ----------------------- */
		

		/*-- Application Header --*/

		
		/*-- Application Body --*/
		
		/* ztr9cnb new Jul10 cbarbre 12/02/09 */
		/*.inputTxtDefault,*/
		input.reqTxtInst {color:#999999}
		
		/*-- Plain Modules --*/
		.appLvlPlain{border-color:#FFF}
		
		/*-- Modules --*/
		.mod{background-color:#ebebe6;border-color:#FFF}
		.mod .appHead{background-color:#333366; border-color:#996633}
		.mod .appHead h2{color:#fff}
		
		.mod .appHead ul li a, 
		.mod .appHead ul li a:hover,  
		/*.mod .appHead ul li .btnlnk, */
		.mod .appHead ul li .btnlnkL, 
		.mod .appHead ul li .btnlnkR {color:#fff}
		
		/*-- Tab Modules --*/
		.tab {background-color:#ebebe6;border-color:#666699}
		.tab .appHead  h2 {color:#333366}

		
		/*-- Pop Up (White Bg) Modules --*/

		/* -- Note Module -- */


		/*Intro Paragraph*/

		/*Lines*/
		
		.hr{background-color:#908474}
			.message .hr{background-color:#599117;}
			.sell .hr{background-color:#FFD124;}
			.critical .hr{background-color:#FF7800;}
			.supportCall .hr{background-color:#D4CCBF;}
		
		/*div.col_splt div.colL {border-right-color:#908474}*/
		

/* ----------------------- COLOR ---------------------- */
/* --------------- Application Sub Tabs --------------- */
/* ------------------------ --- ----------------------- */

.subTab li{border-color:#666699}
.subTab li.tab-on{border-bottom-color:#ebebe6}
		
.tab-on{color:#333366;background-color:#ebebe6}
.tab-off{color:#333366;background-color:#D4CCBF}
.tab-off a,
.tab-on a{color:#333366}

/* ----------------------- COLOR ----------------------- */
/* ------------------- Progress Bar -------------------- */
/* ------------------------ --- ------------------------ */ 

/* ----------------------- COLOR ----------------------- */
/* ------------------ Section Modules ------------------ */
/* ------------------------ --- ------------------------ */ 
.secLvl {background-color:transparent;border-color:#ebebe6}
.secLvl .secLvl{border-color:#FFF}
.appLvlPlain .secLvl {border-color:#FFF}

/*Neutral*/


/*Step*/
div.step{background-color:#fff;border-color:#908474}
.appLvlPlain div.step{border-color:#74748f}

	/* Number Ids*/

/*Header Bar*/
	.updatedIcon {color:#C98400}
	
	/*Standard - No Bar*/
	
	/*Step - Bar*/
	.step .secHead{background-color:#D4CCBF; border-bottom-color:#ebebe6}
	.step .secHead h3 {color:#60513A}
	
		/* Number Ids*/
			.stepNumberDiv{background-color:#ffffff;border-color:#908474}
			.stepNumber{background-color:#908474;color:#ffffff}

		/* ----------------------- COLOR ----------------------- */
		/* ---------------- Section Module Body ---------------- */
		/* ------------------------ --- ------------------------ */
		.secBody .secHead{background-color:transparent}

			/*Standard Module Content*/	
			
			/*Step Module Content*/	
			
		/* ----------------------- COLOR ----------------------- */
		/* --------------- Section Module Footer --------------- */
		/* ------------------------ --- ------------------------ */
		.secFooter div.btnBar {border-top-color:#e6e6eb;background-color:transparent}
			.step .secFooter div.btnBar,
			.appLvlPlain .secFooter div.btnBar {border-top-color:#FFF;}
			.appLvlPlain .step .secFooter div.btnBar {border-top-color:#ebebe6;}
			
/* ------------------------ --- ------------------------ */
/* ------------------ Message Modules ------------------ */
/* ------------------------ --- ------------------------ */ 

	/*Call Out Message -		Other website Information (Links and Content) -	Below Application Module - Landing Page*/
			.supportCall,
			.appLvlPlain .supportCall {background-color:#FFF;border-color:#D4CCBF}
			.supportCall .secHead{background-color:#FFF;background-image:url(/img/xln_support_mod_bkg.gif)}
			.supportCall .secFooter div.btnBar {border-color:#FFF;}

		
	/*Note, Important Message*/
			.appLvl .message,
			.appLvlPlain .message {border-color:#599117;background-color:#FFFFFF}	
			.appLvl .message .secHead, 
			.appLvl .message .secFooter {background-color:#ccea8d}
			.appLvl .message h3,
			.appLvl .message h4{color:#1B380C}
			.appLvl .message .secBody {border-color:#ccea8d;background-color:#ccea8d;border-width:1px}
			.appLvl .message .secFooter div.btnBar {border-color:#ccea8d}
			/*.appLvl .message input.btn, 
			.appLvl .message input.btnArw, 
			.appLvl .message input.btnBackArw, 
			.appLvl .message button.btn, 
			.appLvl .message button.btnArw, 
			.appLvl .message button.btnBackArw {color:#FFF;background-color:#008198;border-color:#26A9AC #003436 #003436 #26A9AC}
				.appLvl .message input.disabled,
				.appLvl .message button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/
		
	/*Cost or Price Information, Upsell Message*/
			.appLvl .sell,
			.appLvlPlain .sell {border-color:#FFD124;background-color:#FFFFFF}
			.appLvl .sell .secHead, 
			.appLvl .sell .secFooter {background-color:#FFF2AC}
			.appLvl .sell h3,
			.appLvl .sell h4{color:#825300}
			.appLvl .sell .secBody{border-color:#FFF2AC;background-color:#FFF2AC}
			.appLvl .sell .secFooter div.btnBar {border-color:#FFF2AC}
			/*.appLvl .sell input.btn, 
			.appLvl .sell input.btnArw, 
			.appLvl .sell input.btnBackArw, 
			.appLvl .sell button.btn, 
			.appLvl .sell button.btnArw, 
			.appLvl .sell button.btnBackArw {color:#FFF;background-color:#C98400;border-color:#FFD124 #825300 #825300 #FFD124}
				.appLvl .sell input.disabled,
				.appLvl .sell button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/
				
	/*Red Color - Error Message */
			.appLvl .errorMod,
			.appLvlPlain .errorMod {border-color:#FF7800;background-color:#FFFFFF}
			.appLvl .errorMod .secHead, 
			.appLvl .errorMod .secFooter {background-color:#FED172;}
			.appLvl .errorMod h3,
			.appLvl .errorMod h4{color:#850600}
			.appLvl .errorMod .secBody{border-color:#FED172; background-color:#FED172}
			.appLvl .errorMod .secFooter div.btnBar {border-color:#FED172}
			/*.appLvl .error input.btn, 
			.appLvl .error input.btnArw, 
			.appLvl .error input.btnBackArw, 
			.appLvl .error button.btn, 
			.appLvl .error button.btnArw, 
			.appLvl .error button.btnBackArw {color:#FFF;background-color:#f31a12;border-color:#ff7800 #850600 #850600 #ff7800}
				.appLvl .error input.disabled,
				.appLvl .error button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/
	
	/*Yellow Color - Critical Message */
			.appLvl .critical,
			.appLvlPlain .critical {border-color:#FFD124;background-color:#FFFFFF}
			.appLvl .critical .secHead, 
			.appLvl .critical .secFooter {background-color:#FFED78;}
			.appLvl .critical h3,
			.appLvl .critical h4{color:#825300}
			.appLvl .critical .secBody{border-color:#FFED78; background-color:#FFED78}
			.appLvl .critical .secFooter div.btnBar {border-color:#FFED78}
			/*.appLvl .critical input.btn, 
			.appLvl .critical input.btnArw, 
			.appLvl .critical input.btnBackArw, 
			.appLvl .critical button.btn, 
			.appLvl .critical button.btnArw, 
			.appLvl .critical button.btnBackArw {color:#FFF;background-color:#C98400;border-color:#FFD124 #825300 #825300 #FFD124}
				.appLvl .critical input.disabled,
				.appLvl .critical button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/
	
		/*Green Yellow Color - Info Message */
			/*.appLvl .info,
			.appLvlPlain .info {border-color:#D0E92F;background-color:#FFFFFF}
			.appLvl .info .secHead, 
			.appLvl .info .secFooter {background-color:#E8F578;}
			.appLvl .info h3,
			.appLvl .info h4{color:#364505}
			.appLvl .info .secBody{border-color:#E8F578; background-color:#E8F578}
			.appLvl .info .secFooter div.btnBar {border-color:#E8F578}
			.appLvl .info input.btn, 
			.appLvl .info input.btnArw, 
			.appLvl .info input.btnBackArw, 
			.appLvl .info button.btn, 
			.appLvl .info button.btnArw, 
			.appLvl .info button.btnBackArw {color:#FFF;background-color:#93A708;border-color:#D0E92F #364505 #364505 #D0E92F}
				.appLvl .info input.disabled,
				.appLvl .info button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/
	
	/*Green Color - Info Message */
			/*.appLvl .info,
			.appLvlPlain .info {border-color:#8CCB3C;background-color:#FFFFFF}
			.appLvl .info .secHead, 
			.appLvl .info .secFooter {background-color:#CCEA8D;}
			.appLvl .info h3,
			.appLvl .info h4{color:#1B380C}
			.appLvl .info .secBody{border-color:#CCEA8D; background-color:#CCEA8D}
			.appLvl .info .secFooter div.btnBar {border-color:#CCEA8D}
			.appLvl .info input.btn, 
			.appLvl .info input.btnArw, 
			.appLvl .info input.btnBackArw, 
			.appLvl .info button.btn, 
			.appLvl .info button.btnArw, 
			.appLvl .info button.btnBackArw {color:#FFF;background-color:#8CCB3C;border-color:#8CCB3C #1B380C #1B380C #8CCB3C}
				.appLvl .info input.disabled,
				.appLvl .info button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/
	
	/*Blue Green Color - Info Message */
			/*.appLvl .info,
			.appLvlPlain .info {border-color:#55B884;background-color:#FFFFFF}
			.appLvl .info .secHead, 
			.appLvl .info .secFooter {background-color:#B8E4D4;}
			.appLvl .info h3,
			.appLvl .info h4{color:#0B4D40}
			.appLvl .info .secBody{border-color:#B8E4D4; background-color:#B8E4D4}
			.appLvl .info .secFooter div.btnBar {border-color:#B8E4D4}
			.appLvl .info input.btn, 
			.appLvl .info input.btnArw, 
			.appLvl .info input.btnBackArw, 
			.appLvl .info button.btn, 
			.appLvl .info button.btnArw, 
			.appLvl .info button.btnBackArw {color:#FFF;background-color:#018069;border-color:#55B884 #0B4D40 #0B4D40 #55B884}
				.appLvl .info input.disabled,
				.appLvl .info button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/
				
	/*Blue Color - Info Message */
			/*.appLvl .info,
			.appLvlPlain .info {border-color:#26A9AC;background-color:#FFFFFF}
			.appLvl .info .secHead, 
			.appLvl .info .secFooter {background-color:#80CED0;}
			.appLvl .info h3,
			.appLvl .info h4{color:#003436}
			.appLvl .info .secBody{border-color:#80CED0; background-color:#80CED0}
			.appLvl .info .secFooter div.btnBar {border-color:#80CED0}
			.appLvl .info input.btn, 
			.appLvl .info input.btnArw, 
			.appLvl .info input.btnBackArw, 
			.appLvl .info button.btn, 
			.appLvl .info button.btnArw, 
			.appLvl .info button.btnBackArw {color:#FFF;background-color:#018069;border-color:#26A9AC #003436 #003436 #26A9AC}
				.appLvl .info input.disabled,
				.appLvl .info button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/
	
	/*Brown Color - Info Message */
			/*.appLvl .info,
			.appLvlPlain .info {border-color:#B0A696;background-color:#FFFFFF}
			.appLvl .info .secHead, 
			.appLvl .info .secFooter {background-color:#D4CCBF;}
			.appLvl .info h3,
			.appLvl .info h4{color:#60513A}
			.appLvl .info .secBody{border-color:#D4CCBF; background-color:#D4CCBF}
			.appLvl .info .secFooter div.btnBar {border-color:#D4CCBF}
			.appLvl .info input.btn, 
			.appLvl .info input.btnArw, 
			.appLvl .info input.btnBackArw, 
			.appLvl .info button.btn, 
			.appLvl .info button.btnArw, 
			.appLvl .info button.btnBackArw {color:#FFF;background-color:#908474;border-color:#B0A696 #60513A #60513A #B0A696}
				.appLvl .info input.disabled,
				.appLvl .info button.disabled {background-color:#CCCCCC; border-color:#CCCCCC; color:#999999;}*/	
						
						/* ------------------------ --- ------------------------ */
						/* --------- Sub Module Inside Sec Modules --------- */
						/* ------------------------ --- ------------------------ */ 
						.appLvlPlain .step .secLvl {border-color:#EBEBE6}
						
						/*Call Out Message -		Other website Information (Links and Content) -	Below Application Module - Landing Page*/
								/**/
						
						/*Note, Important Message*/
								.appLvl .message .secLvl,
								.appLvl .message .secLvl .secBody,
								.appLvl .message .secLvl .secFooter div.btnBar{border-color:#FFF}
								.appLvl .message .secLvl .secHead, 
								.appLvl .message .secLvl .secFooter {background-color:transparent}
								.appLvlPlain .step .message {border-color:#26A9AC}
								.appLvlPlain .step .message .secFooter div.btnBar {border-top-color:#DCEDE5;}
						
						/*Cost or Price Information, Upsell Message*/
								.appLvl .sell .secLvl,
								.appLvl .sell .secLvl .secBody,
								.appLvl .sell .secLvl .secFooter div.btnBar{border-color:#FFF2AC}
								.appLvl .sell .secLvl .secHead, 
								.appLvl .sell .secLvl .secFooter {background-color:transparent}
								.appLvlPlain .step .sell {border-color:#FFD124}
								.appLvlPlain .step .sell .secFooter div.btnBar {border-top-color:#FFF2AC}
						
						/*Red Color - Error Message */
								.appLvl .errorMod .secLvl,
								.appLvl .errorMod .secLvl .secBody,
								.appLvl .errorMod .secLvl .secFooter div.btnBar {border-color:#FED172}
								.appLvl .errorMod .secLvl .secHead, 
								.appLvl .errorMod .secLvl .secFooter {background-color:transparent}
								.appLvlPlain .step .errorMod{border-color:#FF7800}
								.appLvlPlain .step .errorMod .secFooter div.btnBar {border-top-color:#FED172}
				
				
						/*Yellow Color - Critical Message */
								.appLvl .critical .secLvl,
								.appLvl .critical  .secLvl .secBody,
								.appLvl .critical  .secLvl .secFooter div.btnBar {border-color:#FFED7B}
								.appLvl .critical .secLvl .secHead, 
								.appLvl .critical .secLvl .secFooter {background-color:transparent}
								.appLvlPlain .step .critical{border-color:#FFD124}
								.appLvlPlain .step .critical .secFooter div.btnBar {border-top-color:#FFD124}

				
						/*Green Yellow Color - Info Message */
								/**/
						
						/*Green Color - Info Message */
								/**/
						
						/*Blue Green Color - Info Message */
								/**/
									
						/*Blue Color - Info Message */
								/**/
						
						/*Brown Color - Info Message */
								/**/
						
						.appLvlPlain .step .supportCall{border-color:#D4CCBF}
						.appLvlPlain .step .supportCall .secFooter div.btnBar {border-top-color:#FFF}
						
						
								/* ----- Sub Message Modules Inside Message Modules ---- */
								
								/*Call Out Message -		Other website Information (Links and Content) -	Below Application Module - Landing Page*/
									.appLvl .message .supportCall .secHead h3,
									.appLvl .message .supportCall .secHead h4{color:#825300}
									.appLvl .message .supportCall {background-color:#FFF;border-color:#D4CCBF}
									.appLvl .message .supportCall .secHead{background-color:#FFF; padding:5px}
									.appLvl .message .supportCall .secBody{border-color:#FFF; background-color:#FFF;}
									.appLvl .message .supportCall .secFooter div.btnBar {border-color:#FFF;}
								
								/*Note, Important Message*/
									.appLvl .message .message {border-color:#26A9AC;background-color:#FFFFFF}	
									.appLvl .message .message .secHead, 
									.appLvl .message .message .secFooter {background-color:#DCEDE5}
									.appLvl .message .message .secHead h3,
									.appLvl .message .message .secHead h4{color:#003436}
									.appLvl .message .message .secBody {border-color:#DCEDE5;background-color:transparent}
									.appLvl .message .message .secFooter div.btnBar {border-color:#DCEDE5}
								
								/*Cost or Price Information, Upsell Message*/
									.appLvl .message .sell {border-color:#FFD124; background-color:#FFFFFF}
									.appLvl .message .sell .secHead, 
									.appLvl .message .sell .secFooter {background-color:#FFF2AC;}
									.appLvl .message .sell .secHead h3,
									.appLvl .message .sell .secHead h4{color:#825300}
									.appLvl .message .sell .secBody{border-color:#FFF2AC;background-color:#FFF2AC}
									.appLvl .message .sell .secFooter div.btnBar {border-color:#FFF2AC}

								/*Red Color - Error Message */
									.appLvl .message .errorMod {border-color:#FF7800;background-color:#FFFFFF}
									.appLvl .message .errorMod .secHead, 
									.appLvl .message .errorMod .secFooter {background-color:#FED172;}
									.appLvl .message .errorMod .secHead h3,
									.appLvl .message .errorMod .secHead h4{color:#850600}
									.appLvl .message .errorMod .secBody{border-color:#FED172; background-color:#FED172}
									.appLvl .message .errorMod .secFooter div.btnBar {border-color:#FED172}
								
								/*Yellow Color - Critical Message */
									.appLvl .message .critical {border-color:#FFD124;background-color:#FFFFFF}
									.appLvl .message .critical .secHead, 
									.appLvl .message .critical .secFooter {background-color:#FFED7B;}
									.appLvl .message .critical .secHead h3,
									.appLvl .message .critical .secHead h4{color:#825300}
									.appLvl .message .critical .secBody{border-color:#FFED7B; background-color:#FFED7B}
									.appLvl .message .critical .secFooter div.btnBar {border-color:#FFED7B}
								
								/*Green Yellow Color - Info Message */
										/**/
								
								/*Green Color - Info Message */
										/**/
								
								/*Blue Green Color - Info Message */
										/**/
											
								/*Blue Color - Info Message */
										/**/
								
								/*Brown Color - Info Message */
										/**/
								
								/* ----- Sub Modules Inside Call Out Modules ---- */
								/* ------------------------ --- ------------------------ */ 
								.appLvl .supportCall .secLvl  {border-color:#FFFFFF; background-color:#FFFFFF}
								.appLvl .supportCall .secLvl .secHead{background-image:none}
								
								.appLvl .supportCall .message {border-color:#26A9AC;background-color:#FFFFFF}	
								.appLvl .supportCall .sell {border-color:#FFD124; background-color:#FFFFFF}
								.appLvl .supportCall .errorMod {border-color:#FF7800;background-color:#FFFFFF}
								.appLvl .supportCall .critical {border-color:#FFD124;background-color:#FFFFFF}
									/*Green Yellow Color - Info Message */
									/*Green Color - Info Message */
									/*Blue Green Color - Info Message */
									/*Blue Color - Info Message */
									/*Brown Color - Info Message */

								.appLvl .supportCall .supportCall {background-color:#FFF;border-color:#D4CCBF}
								.appLvl .supportCall .supportCall .secHead {background-image:url(/img/xln_support_mod_bkg.gif)}


/* ----------------------- COLOR ----------------------- */
/* ------------- Section Interior Modules -------------- */
/* ------------------------ --- ------------------------ */ 

/*Step - Bar*/

/* ----------------------- COLOR ----------------------- */
/* -------------------- Output Data -------------------- */
/* ------------------------ --- ------------------------ */ 

/*Two Column Layout*/	

/*Flex Width*/	

/*Output Horozonal Flex Width*/

/*Output Horozonal Fixed Width One*/

/*Output Horozonal Fixed Width Two*/

/*Output Horozonal Fixed Width (Within Each Column in Two Column Layout)*/

/* Ledger */ 

/* Ledger within dataTable */
/* ----------------------- COLOR ----------------------- */
/* ------------------- Scroll Window ------------------- */
/* ------------------------ --- ------------------------ */ 

/* ----------------------- COLOR ----------------------- */
/* --------------------- Pagination ---------------------*/
/* ------------------------ --- ------------------------ */
.pagination .off {border-color:#CCCCCC;background-color:#CCCCCC;color:#666666}
.pagination .on {border-color:#99CCFF;background-color:#99CCFF}

/* ----------------------- COLOR ----------------------- */
/* ------------------ Main Data Table ------------------ */
/* ------------------------ --- ------------------------ */ 
.dataTable{background-color:#ebebe6;border-color:#908474}
	
	.dataTable th{background-color:#D4CCBF;border-color:#908474}
	.step .dataTable th{background-color:#ebebe6}
	
	.dataTable th a{color:#000}
	
	.dataTable .odd td {background-color:#ffffff}
	.dataTable .end td {border-color:#908474}
	.dataTable .totals td {border-color:#908474}
	
/* ----------------------- COLOR ----------------------- */
/* --------------- Option Selection Table -------------- */
/* ------------------------ --- ------------------------ */ 


/* ----------------------- COLOR ----------------------- */
/* --------------------- Button Bar -------------------- */
/* ------------------------ --- ------------------------ */
div.btnBar{background-color:#D4CCBF;border-top-color:#FFF}
	.appLvlPlain div.btnBar{background-color:transparent;}
	


/* ----------------------- COLOR ----------------------- */
/* ------------- Buttons - Input & Buttons ------------- */
/* ------------------------ --- ------------------------ */

/* ----------------------- COLOR ----------------------- */
/* ---- Button Links - Input, Button, A Href & Span ---- */
/* ------------------------ --- ------------------------ */

/* ----------------------- COLOR ----------------------- */
/* -------------------- Popup Window ------------------- */
/* ------------------------ --- ------------------------ */

/* ----------------------- COLOR ----------------------- */
/* --------------------- List Items -------------------- */
/* ------------------------ --- ------------------------ */

/*-- Arrow List --*/

/*-- Bullet List --*/
.lstBullet li{background-position:0 0; background-image:url(/img/icn_bullet_4dot_996633.gif);}


/*-- Anchor Arrow List --*/

/*-- Credit Card Images --*/
 
/* ----------------------- COLOR ----------------------- */
/* --------------------- Date picker ------------------- */
/* ------------------------ --- ------------------------ */

/* jQuery UI/Datepicker */

/* ------------------------ --- ------------------------ */
/* ---------------- Download Progress Bar -------------- */
/* ------------------------ --- ------------------------ */
.progressIncomplete {background:transparent url(/img/uie_bkg_gry_progress.gif) repeat scroll left top !important}
.progressComplete {background:transparent url(/img/uie_bkg_blu_progress.gif) repeat scroll left top !important}


/* --------------------- EU COOKIES --------------------- */
/* ------------------ RFC 6088 JAN13 ---------------------*/
/*_____________________________________________________________________
Euro Cookies
______________________________________________________________________*/
#ccCntMod #cookieMsg {
    text-align: center;
}
#cookieMsg .appLvlPlain {
    border-color: #FFFFFF;
}
#cookieMsg .appLvl {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#cookieMsg .appLvlPlain .appBody {
    padding: 0;
}
#cookieMsg .appBody {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
#cookieMsg .secLvl {
    margin-bottom: 10px;
}
#cookieMsg .critical .secBody {
    background-color: #FFED78;
    border-color: #FFED78;
}
#cookieMsg .message .secBody {
    padding: 10px 10px 0;
}

#cookieMsg .critical .secHead, .critical .secFooter {
    background-color: #FFED78;
    background-image: none;
}

#cookieMsg .critical .secFooter div.btnBar {
    border-color: #FFED78;
}
#cookieMsg .secFooter div.btnBar {
    background-color: transparent;
}
#cookieMsg .secFooter div.btnBar {
    margin: 0 5px;
    padding: 3px 0;
}
#cookieMsg div.btnBar {
    text-align: right;
}
#cookieMsg .col18 {
   float: left;
    padding: 0;
    width: 628px;
}
#cookieMsg .subcol2, #cookieMsg .seccol16 {
    background-color: transparent;
    display: inline;
    float: left;
    margin-right: 0;
    padding: 0;
}
#cookieMsg .appLvlPlain .seccol16 {
    width: 550px;
    margin-left: 10px;
}
#cookieMsg .marginEnd {
    margin-right: 0;
}
#cookieMsg .alignBegin {
    text-align: left !important;
}
#cookieMsg h2, #cookieMsg h3, #cookieMsg h4, #cookieMsg h5, #cookieMsg h6 {
    color: #825300 !important;
}
#cookieMsg h4 {
    font-size: 1.1em;
    line-height: 1.4em;
}
#cookieMsg .appBody table {
    margin-bottom: 7px;
}
#cookieMsg table {
    border-collapse: collapse;
    border-spacing: 0;
}
#cookieMsg div.btnBar .btnlnkL {
    margin-left: 10px;
}
#cookieMsg a.btnlnkL,#cookieMsg a.btnlnkR,#cookieMsg a.btnIconL,#cookieMsg a.btnIconR {
    background-color: transparent;
}
#cookieMsg a.btnlnkL {
    background-color: transparent;
    color: #3366CC;
}
#cookieMsg label.btnlnkL,#cookieMsg a.btnlnkL,#cookieMsg a.btnIconL {
    background-repeat: no-repeat;
    border: medium none;
    margin: 0;
    padding-left: 16px;
    padding-right: 0;
}
#cookieMsg a.btnlnkL,#cookieMsg a.btnlnkR {
    font-size: 1em;
}
#cookieMsg .crossMini {
    background-position: 0 -337px;
    background-image: url("/img/icn_cmp_linkblue.gif");
    background-repeat: no-repeat;
}
#cookieMsg .btn,#cookieMsg .btnArw,#cookieMsg .btnBackArw,#cookieMsg .btnlnkL,#cookieMsg .btnlnkR {
    overflow: visible;
    width: auto;
}
#cookieMsg .btn,#cookieMsg .btn_a,#cookieMsg .btn_bak_a,#cookieMsg .btnlnk,#cookieMsg .btnlnkL,#cookieMsg .btnlnkR,#cookieMsg .btn_go {
    cursor: pointer;
}




