<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Detect Export Licenses</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Edit Product Information</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<div class="pi-m-pad">Update the product information below, then select <span class="pi-h4">Update</span>. Required fields are shown in <span class="pi-h4">bold.</span><br><br></div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td colspan="4">
			My Product List:<img alt="" border="0" height="1" src="/img/1.gif" width="100"><a href="repl_href">Search Product List</a><br>
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="baseline">
				<select name="repl_fname" class="modSelLarge2" size="1">
					<option>[select a product]</option>
				</select></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="5"></td>
				<td valign="baseline"><input alt="Refresh" border="0" height="18" name="repl_fname" src="/img/btn_refresh_arrows.gif" type="image" width="18"></td>
			</tr>
			</table>
			Product Name:<br>
			<input class="modTxtLarge" maxlength="50" size="35" type="text" value="&nbsp;&nbsp;"><br>
			Product Description: accepts 105 characters; additional characters will be discarded<br>
			<textarea class="modTxtAreaLarge" cols="40" rows="5" wrap="soft">&nbsp;</textarea><br>
			<span class="pi-h4"><a href="repl_href">Product ECCN Number:</a></span><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a><br>
			<input class="modTxtMedium" maxlength="5" size="19" type="text" value="value"><br>
			<a href="repl_href">Product CTP Rate:</a><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a><br>
			<input class="modTxtMedium" maxlength="5" size="19" type="text" value="&nbsp;"><br>
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="50%">
			<span class="pi-h4">Product Quantity:</span><br>
			<input class="modTxtMedium" maxlength="5" size="19" type="text" value="value"><br>
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="50%">
			<span class="pi-h4">Price per Unit:</span><br>
			<input class="modTxtMedium" maxlength="20" size="19" type="text" value="value"><br>
			</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="50%">
			<span class="pi-h4">Currency:</span><br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option> [CUR - Currency Name]</option>
			</select>
			</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td colspan="3">
			<br>Save the product to your Product List. Product Name and Product Description are required to save to your list.<br><br>
			Save to Product List Options:<br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>Select One</option>
			</select>
			</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Cancel" border="0" height="18" name="repl_fname" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Update" border="0" height="18" name="repl_fname" src="/img/en/btn_update_a.gif" type="image" width="64"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
