---
title: cam_shi_shi(4rev)
layout: legacy.hbs
version: v4
dynpnls: yes
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
	    
        {{>"cam_shi_shi(4rev)_partial" cam_shi_shi4rev.default }}
</div>
<!-- /applicationArea --> 

<!-- Begin IC DEV Dynamic Panel Module -->
<!--<div id="select_pnl_1">
	<dl role="presentation">
		<dt>
			<label for="dyn_pnl_select_1">Payment Method Module:</label>
		</dt>
		<dd>
			<select id="dyn_pnl_select_1" class="formcol5">
				<option value="1">Payment Card</option>
				<option value="2">Alt Payment Card</option>
			</select>
		</dd>
	</dl>
</div>-->
<!-- End IC DEV Dynamic Panel Module -->