---
title: cam_shi_shi(4rev)
layout: legacy.hbs
version: v4
dynpnls: yes
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
	{{>"cam_shi_shi(4rev)_partial" cam_shi_shi4rev.charges_pay_at_store }}
</div>
<!-- /applicationArea --> 