<!--Begin Dialog-->
<div id="HPDCR_Dialog" class="appLvl modal-dialog mod modal dialog"> 
    <!-- Begin Application Header -->
    <div class="appHead clearfix">
        <h2 class="ups-modal_heading">delivery change options</h2>
        <!-- Per TFS327500 update for close icon --> 
        <!--<ul class="clearfix">
							<li>
								<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
							</li>
						</ul> -->
        <button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()"> <span class="icon ups-icon-x" aria-hidden="true"></span> <span class="ups-readerTxt ng-binding">Close Action Unavailable dialog</span> </button>
        <!-- End update for close icon --> 
    </div>
    
    <!-- End Application Header --> 
    <!-- Begin Application Body -->
    <div class="appBody clearfix">
        <div class="secLvl clearfix">
            <div class="secHead">
                <h1>What do you want to change about your delivery?</h1>
            </div>
            <div class="secBody clearfix">
                <p>the following delivery changes may be available for your package.</p>
                <!-- Begin Sub Module --> 
                <!--////////////////////////////////////--> 
                <!--Begin Buttons 1511-->
                <div class="secLvl clearfix">
                    <div class="secBody clearfix"> 
                        <!--begin three buttons (gold)-->
                        <div class="ups-form_ctaGroup row">
                            <div class="col-md-4">
                                <button class="ups-cta ups-cta_primary" type="submit" id="tt_1">[Pickup my package at a UPS location]</button>
                            </div>
                            <div class="col-md-4">
                                <button class="ups-cta ups-cta_primary" type="submit" disabled>[Deliver my Package to another address]</button>
                            </div>
                            <div class="col-md-4">
                                <button class="ups-cta ups-cta_primary" type="submit" id="tt_1">[Deliver my package on another day]</button>
                            </div>
                        </div>
                        <div class="ups-form_group">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="reqTxtInst"><a class="btnlnkR sel" href="../repl_href">{this option has been restricted due to legal or regulatory reasons.}</a><span class="ups-track_help icon ups-icon-questioncircle" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="reqTxtInst"><a class="btnlnkR sel" href="../repl_href">{this option has been restricted by your shipper.}</a><span class="ups-track_help icon ups-icon-questioncircle" aria-hidden="true"></span></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="reqTxtInst"><a class="btnlnkR sel" href="../repl_href">{this option has been restricted due to legal or regulatory reasons.}</a><span class="ups-track_help icon ups-icon-questioncircle" aria-hidden="true"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="secLvl clearfix">
                        <div class="secBody noHead"> <a href=""><img src="/img/E226_arrow_return_left_32_water2.png" border="0" alt="">return to sender</a> 
                            <!--End Return to sender--> 
                        </div>
                    </div>
                </div>
                <!--End Bottone 1511--> 
                <!--////////////////////////////////////-->
                <div class="secLvl clearfix">
                    <div class="secHead">
                        <h2>but first, you must select one of the following</h2>
                        <br>
                        <label>ups infonotice<sup>&reg;</sup></label>
                        <p>you cna change delivery if a delivery attempt has been made.  the infonotice number can be found on the notice you recieved above the barcode.</p>
                        <p>if ups has made at least one delivery attempt, and you have received a ups service notice, you can contact ups regarding your delivery options.</p>
                        <p><a href="" class="btnlnkR">contact ups</a></p>
                    </div>
                    <div class="ups-form_group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="secHead">
                                    <label><img src="/img/logo_mychoice_heart.png" border="0" height="25" width="25" alt=""/> ups my choice<sup>&reg;</sup></label>
                                </div>
                                <div class="secBody clearfix">
                                    <p>prior to the first delivery attempt, as a member you can request to make delivery changes to fit your life and schedule.</p>
                                    <p><a href="">i'm alreade a member.  log in now.</a></p>
                                    <p><a href="">sign up</a></p>
                                    <br>
                                    <label>ups infonotice<sup>&reg;</sup></label>
                                    <p>[if a delivery attempt has been made, you can contact ups to make delivery changes.]</p>
                                    <a href="">track now</a> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="secHead clearfix"> <br>
                                    <label>ups infoNotice<sup>&reg;</sup></label>
                                </div>
                                <div class="secBody clearfix">
                                    <p>you can change delivery if a delivery attempt has been made.  the infonotice number can be found on the notice you received above the barcode.</p>
                                    <p><a href="" class="btnlnkR">contact ups</a></p>
                                    <p><a href="">track now</a></p>
                                    <br>
                                    <label>i'm the sender</label>
                                    <p>to change delivery of your shipments, you need to either permanently authenticate your ups shipping account, or temporarily validate your account for this visit.</p>
                                    <p><a href="">log in now.</a></p>
                                    <br>
                                    <p><a href="" class="btnlnkR">permanently authenticate my account</a></p>
                                    <p><a href="" class="btnlnkR">validate my account for this visit only</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="secLvl clearfix">
                        <p><strong>note:</strong>prior to the first delivery attempt, contact the sender to correct or change your delivery address.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Application Body--> 
    <!-- Begin Application Footer -->
    <div class="appFooter"> 
        <!-- Begin Button Bar Row -->
        <div class="ups-form_ctaGroup text-center">
            <button name="" type="submit" value="" class="ups-cta ups-cta_primary">Cancel</button>
        </div>
        <!-- End Button Bar Row --> 
    </div>
    <!-- End Application Footer --> 
	</div>
    <!--End Dialog--> 
    <!--///////////////////////////////////////////////--> 
    <!--///////////////////////////////////////////////--> 
    <!--///////////////////////////////////////////////--> 
    
    <script type="text/javascript">
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:710});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});
</script> 
    
    <!-- Begin IC Tooltip -->
    <div id="ttc_bullpen" class="hidden">
        <div id="ttc_tt_1">
            <div class="appLvl">
                <div class="appHead clearfix">
                    <h2>IC ToolTip</h2>
                </div>
                <div class="appBody">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum. </p>
                </div>
                <div class="appFooter"> </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
	$(document).ready(function(){
		$('.hozAnchor').ictooltip({
			orientation: "vert",
			tooltipClasses: "col8",
			hoverDelay: 450,
			tooltipID: "horiz_tt"
		});
	});
</script> 