---
title: Verify Now Authentication
layout: default.hbs
dir: ltr
lang: en
appId: ppc
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-wrap ups-onboApp-wrap-ppc" ng-app="upsDOApp" >
		<div class="ups-wrap_inner">
			<ups-verify-authentication-check></ups-verify-authentication-check>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->