<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>change password</h1>

		<!-- Begin Application -->

<!-- //////////////////// -->
<!-- Begin Enter Password -->

		<!-- Begin Application Module -->
				<div class="appLvl mod col18 clearfix">
				<fieldset><legend></legend>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>provide new password</h2>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">

						<p class="error">error message.</p>
						<p>please select a new password. your password is case sensitive and will be effective immediately.</p>
						<p>required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>

						<!-- Begin Section Module -->
						<div class="secLvl secLvlPlain clearfix">
							<fieldset><legend></legend>
							<!-- Begin Section Body -->
							<div class="secBody">



								<!-- begin user identification -->
									<div class="group clearfix">
									<fieldset><legend></legend>
										<dl>
											<dt><label for="repl_id">user id:</label></dt>
												<dd>johnups1</dd>
											<dt><label for="repl_id">existing password:</label></dt>
												<dd>
													<input type="text" id="repl_id1" class="formcol6" value=""><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
												</dd>
											<dt><label for="tt_1">new password:</label></dt>
												<dd>
													<input type="text" id="tt_1" class="formcol6 hintAnchor" value=""><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
												</dd>
											<dt><label for="tt_2">re-enter new password:</label></dt>
												<dd>
													<input type="text" id="tt_2" class="formcol6 hintAnchor" value=""><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
												</dd>
										</dl>
									</fieldset>
									</div>
								<!-- end user identification -->


							</div>
							<!-- End Section Body -->
							</fieldset>
						</div>
						<!-- End Section Module -->

					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="cancel_btn" class="btn">
							<input name="" type="button" value="change_password_btn" class="btnArw">
						</div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->

<!-- End Enter Password -->
<!-- ////////////////// -->

		<!-- End Application -->
	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
