<form action="repl_faction">

    <!-- Begin Table: Page Header no Icon -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td class="pi-h1" valign="top">
                Manage Product List
            </td>
        </tr>
    </table>
    <!-- End Table: Page Header no Icon -->

    <!-- Begin Table: Formatting Table 3col plus 1col -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td valign="top" width="422">

                <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td class="pi-mA1-t" valign="top">

                            <!-- Begin Table: Module Title (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-m-txt-title">
                                        Download Product List
                                    </td>
                                    <td class="pi-m-txt-title-link" nowrap>
                                        <a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Module Title (Parent:Module Table) -->

                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c-t-spc">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c" valign="top">

                            <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <div class="pi-m-pad">
                                            Select a download file format from the drop-down menu below and select <span class="pi-h4">Download</span>.<br>
                                            <br>
                                            <label for="repl_format">File Format:</label><br>
                                            <select name="repl_name" class="modSelMedium" size="1" id="repl_format">
                                                <option>Select File Type</option>
                                                <option>.csv</option>
                                                <option>.xml</option>
                                            </select>
                                            <br>
                                            <br>
                                            <span class="pi-h4">Note:</span> When file download requests exceed 5 Mb in size, multiple files are created and each file must be individually downloaded.
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Functional Table 2 (Parent:Module Table) -->

                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c-b-spc">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-line">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-b" valign="top">

                            <!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-m-button" nowrap>
                                        <input value="Cancel" type="button" class="btn">
                                        <input value="Download" type="button" class="btnArw">
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Form Control Buttons(Parent:Module Table) -->

                        </td>
                    </tr>
                </table>
                <!-- End Table: Module Table (Parent:Formatting Table) -->

            </td>
            <td width="10">
                <img alt="" border="0" height="1" src="/img/1.gif" width="10">
            </td>
            <td valign="top" width="134">

                <!-- Begin Table: Support Module (Parent:Formatting Table) -->
                <table class="pi-mB1" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td class="pi-mB1-t">
                            File Templates
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mB1-c" valign="top">
                            Templates are available to manage .csv or xml Product List files downloaded from UPS.<br>
                            <br>
                            <div class="pi-m-pad-arrow">
                                &nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Download .csv File Template</a>
                            </div>
                            <div class="pi-m-pad-arrow">
                                &nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Download xml File Template</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mB1-b" valign="top">
                            <img alt="" height="3" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                </table>
                <!-- End Table: Support Module (Parent:Formatting Table) -->

            </td>
        </tr>
    </table>
    <!-- End Table: Formatting Table 3col plus 1col -->

</form>
