
<div class="appLvl appLvlPlain clearfix">
	<fieldset>
		<!-- Begin Application Header --> 
		<!-- End Application Header --> 
		<!-- Begin Application Body -->
		<div class="appBody clearfix">
			<h3>Void Request Confirmation</h3>
			<div class="secLvl secLvlPlain col12 marginBegin">
				<div class="group clearfix">
					<dl class="outHozFixed">
						<dt><span class="label">Void Request Date:</span></dt>
						<dd>[Weekday, Month, dd, yyyy]</dd>
						<dt><span class="label">Original Scheduled Pickup/Drop<br>
							Off Date:</span></dt>
						<dd>[Weekday, Month, dd, yyyy]</dd>
						<dt><span class="label">Ship To:</span></dt>
						<dd>[City, State, Country or Territory, ZIP/<br>
							Postal Code]</dd>
						<dt><span class="label">Service:</span></dt>
						<dd>[UPS Service Name]</dd>
					</dl>
				</div>
				<div class="clear"></div>
				<div class="group clearfix">
					<dl class="outHozFlex">
						<dt><span class="label">Number of [Packages] {succussfully voided/voids denied}:</span></dt>
						<dd>[00]</dd>
					</dl>
				</div>
				<div class="clear"></div>
				<ul>
					<li> <span>[1Z1234567890123456]</span> <span>[0.00]</span> <span>[lbs/kgs]</span> </li>
					<li> <span>[1Z1234567890123456]</span> <span>[0.00]</span> <span>[lbs/kgs]</span> </li>
				</ul>
				<p>[The above voided shipment item(s) will be credited to your account.]</p>
				<div class="secLvl message critical clearfix">
					<div class="secBody">
						<div class="secHead clearfix">
							<h3>Pickup/Drop Off Request Reminder</h3>
						</div>
						<div class="secBody">
							<p>If you created a pickup request for this shipment and all packages have now been voided, please go to Schedule A Pickup/Pickup History to cancel your pickup request. (UPS: 81346)</p>
						</div>
					</div>
				</div>
			</div>
			<div class="secLvl message col6 marginEnd">
				<div class="secHead clearfix">
					<h3>Next Steps</h3>
				</div>
				<div class="secBody">
					<p><a href="repl_href" class="btnlnkL arrowIcon">Void another shipment</a></p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<!-- End Application Body --> 
		<!-- Begin Application Footer --> 
		<!-- End Application Footer -->
	</fieldset>
</div>
