---
title: UPS My Choice
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dynpnls: yes
dir: ltr
lang: en
---

<div id="main">
    <h1>{{title}} <sup>&reg;</sup></h1>
    {{> ct1_tra_umc_delplan_cal_partial delplan.nonUS }}
</div>
    <!-- /main end --> 
