---
title: cam_adm_ref(2det)
layout: legacy.hbs
version: v4
appID: com.ups.csadmin
appCSS: ups.legacy_overrideECSAdmin
dir: ltr
lang: en
---

		<!-- /main begin -->
		<div id="main">
			{{>"cam_adm_ref(2det)_partial"}}
		</div>
		<!-- /main end -->
