{{> "background_modal_content"}}
<!-- Begin Application Module -->
<div class="appLvl modal-dialog mod modal dialog"> 
	
	<!-- Begin Application Header -->
	<div class="appHead clearfix">
		<h2 class="ups-modal_heading">Provide Destination Address Details</h2>
		<!-- Old Legacy Close Button Implementation -->
		<!--<ul>
			<li>
				<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
			</li>
		</ul>-->
		
		<!-- New WEM Implementation -->
		<button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()"> <span class="icon ups-icon-x" aria-hidden="true"></span> <span class="ups-readerTxt ng-binding">Close This Dialog</span> </button>
	</div>
	<!-- End Application Header --> 
	
	<!-- Begin Application Body -->
	<div class="appBody ups-application_wrapper ups-form_wrap"> 
		
		<!-- <p class="error">>>> error message</p> -->
		<p>Required fields are indicated with <span aria-hidden="true">*</span><span class="ups-readerTxt">an asterisk</span>.</p>
		
		<!-- Begin Section Module -->
		<div class="secLvlPlain marginBegin clearfix"> 
			
			<!-- Begin Section Body -->
			<div class="secBody">
				<h4>Ship To:</h4>
				
				<!-- Begin Row -->
				<div class="row"> 
					<!-- Begin First Column -->
					<div class="col-md-5">
					
						<!-- Added WEM styling implementation i.e. .ups-form_group, etc.-->
						<div class="ups-form_group ups-form_required ">
							<label for="companyOrName" class="ups-form_label">Company or Name <span aria-hidden="true" class="ups-required_indicator"></span></label>
							<div class=" ups-text_wrapper ups-input_wrapper ">
								<input type="text" name="companyOrName" class="ups-form_input" id="companyOrName" aria-required="true" required="">
							</div>
						</div>
						<div class="ups-form_group">
							<label for="contact" class="ups-form_label">Contact</label>
							<div class=" ups-text_wrapper ups-input_wrapper ">
								<input type="text" name="contact" class="ups-form_input" id="contact">
							</div>
						</div>
						<div class="ups-form_group ups-form_required ">
							<label for="addressLine1" class="ups-form_label">Address Line 1 <span aria-hidden="true" class="ups-required_indicator"></span></label>
							<div class=" ups-text_wrapper ups-input_wrapper ">
								<input type="text" name="addressLine1" class="ups-form_input" id="addressLine1" aria-required="true" required="">
							</div>
						</div>
						<div class="ups-form_group">
							<label for="addressLine2" class="ups-form_label">Address Line 2</label>
							<div class=" ups-text_wrapper ups-input_wrapper ">
								<input type="text" name="addressLine2" class="ups-form_input" id="addressLine2">
							</div>
						</div>
						<div class="ups-form_group">
							<label for="addressLine3" class="ups-form_label">Address Line 3</label>
							<div class=" ups-text_wrapper ups-input_wrapper ">
								<input type="text" name="addressLine3" class="ups-form_input" id="addressLine3">
							</div>
						</div>
						
							<!-- Old Legacy Implementation -->
							<!-- Begin Sub Module --
							<div class="secLvlPlain subcol6 marginBegin clearfix">
								<!-- Begin Sub Body --
								<div class="secBody">
									<dl class="clearfix">
										<dt>
											<label for="repl_id1">company or name:</label>
										</dt>
										<dd>
											<input type="text" id="repl_id1" class="">
											<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
										<dt>
											<label for="repl_id2">contact name:</label>
										</dt>
										<dd>
											<input type="text" id="repl_id2">
										</dd>
										<dt>
											<label for="repl_id3">street address:</label>
										</dt>
										<dd>
											<input type="text" id="repl_id3">
											<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <br>
											<input type="text" id="repl_id3a">
											<br>
											<input type="text" id="repl_id3b">
										</dd>
									</dl>
								</div>
								<!-- End Sub Body --
							</div>
							<!-- End Sub Module --
			
							<!-- Begin Sub Module --
							<div class="secLvlPlain subcol6 marginEnd clearfix">
								<!-- Begin Sub Body --
								<div class="secBody">
									<dl class="clearfix">
										<dt><span class="label">city:</span></dt>
										<dd>{user data}</dd>
										<dt><span class="label">state:</span></dt>
										<dd>{user data}</dd>
										<dt><span class="label">country or territory:</span></dt>
										<dd>{user data}</dd>
										<dt><span class="label">postal/zip code:</span></dt>
										<dd>{user data}</dd>
									</dl>
								</div>
								<!-- End Sub Body --
							</div>
							<!-- End Sub Module --
							<!-- End of Old legacy implementation -->
					</div>
				    <!-- End First Column --> 
				
				  	<!-- Begin Second Column -->
					<div class="col-md-5 col-md-offset-1">
						
						<!-- Added WEM styling implementation i.e. .ups-group, etc.-->						
						<div class="ups-group">
							<p class="ups-group_label">City</p>
							<p class="ups-group_value">{user data}</p>
						</div>
						<div class="ups-group">
							<p class="ups-group_label">State</p>
							<p class="ups-group_value">{user data}</p>
						</div>
						<div class="ups-group">
							<p class="ups-group_label">Country or Territory</p>
							<p class="ups-group_value">{user data}</p>
						</div>
						<div class="ups-group">
							<p class="ups-group_label">Postal/Zip Code</p>
							<p class="ups-group_value">{user data}</p>
						</div>
					</div>
					<!-- End Second Column --> 
				</div>
				<!-- End Row -->
				
			</div>
			<!-- End Section Body --> 
			
		</div>
		<!-- End Section Module --> 
		
	</div>
	<!-- End Application Body --> 
	
	<!-- Begin Application Footer -->
	
	<!-- Old Legacy Implementation -->
	<!--<div class="appFooter">
		<div class="btnBar alignCenter">
			<input name="repl_name" type="button" value="cancel" class="btn">
			<input name="repl_name" type="button" value="close and update" class="btn">
		</div>
	</div>-->
	
	<!-- New WEM/Legacy Hybrid Implementation -->
	<div class="appFooter">
		<div class="ups-form_ctaGroup text-center">
			<button type="button" class="ups-cta ups-cta_primary">Close & Update</button>
			<button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
		</div>
	</div>
	<!-- End Application Footer --> 
	
</div>
<!-- End Application Module --> 

<script type="text/javascript">
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:510});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});
</script> 
