---
title: "UPS: Quantum View Manage"
layout: legacy.hbs
version: v4
appID: com.ups.CVA
appCSS: ups.legacy_overrideQVMC
legacyangularID: qvmc
dir: ltr
lang: en
---
<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->

<div id="main" ng-app="QvmcApp">
	<!-- Begin QVMC body content -->
	<div ui-view class="ups-application_wrapper ups-form_wrap"></div>
	<!-- End QVMC body content -->
</div>


<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
