@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";
#main {
	.introMod {
		padding: 0;
	}
	label[for="account"] {
		.helpicon.btnlnkR, .helpIcon.btnlnkR {
			padding-#{$default-float}: 0px;
			padding-#{$opposite-direction}: 6px;
		}
	}
	.stepModFlex {
		margin: 0 0 10px 0;
		.stepModContent fieldset {
			margin-top: 15px;
			padding-#{$default-float}: 5px;

			dl {
				padding-#{$default-float}: 60px;
			}

			p, dd a {
				float: $default-float;
				padding-#{$default-float}: 0px;
			}
		}
	}
	.stepModColL, .stepModColR {
		width: 49.5% !important;
		margin: 0;

		.stepModFixed2col {
			width: 100%;
			margin-#{$default-float}: 0px !important;
			margin-#{$opposite-direction}: 0px !important;
		}
		.stepModContent fieldset p {
			float: $default-float;
		}
		.stepModContent fieldset dl {
			padding-#{$default-float}: 60px;
			p {
				float: none;
			}
		}
	}
	.modFlex fieldset, .modContent fieldset {
		p {
			float: $default-float;
		}
		dl p {
			float: none;
		}
	}

	.dataTable.dataTableTop {
		border: 1px solid $black_s1;
		tbody {
			tr {
				td:not(:last-child) {
					border-#{$opposite-direction}: 0;
				}
				label {
					padding: 0;
				}
			}
		}
	}
	.checkbox {
		td: nth-child(2) {
			padding-top: 4px;
		}
	}
	.btnlnkR.newwindowicon,
	.arrowmini.btnlnkL {
		padding: 0;
		img {
			display: none;
		}
	}

	#editAddressLink a {
		display: block !important;
	}
	#editAddressLink {
		padding-#{$default-float}: 5px;
		float:$default-float;
		dl {
			padding-#{$default-float}: 0;
		}
	}
	#userLevelMessage {
		width: 100%;
		float: none;
		.btnlnkR img {
			display: none;
		}
	}
}

#shipTo > div {
	width:auto!important;
}

#staticAddress {
	clear:both;
}

#main .checkbox input[type=checkbox]:before {
display:block!important;
}
