<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Find Harmonized Codes</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Enter Country or Territory and Product Information</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			To identify a harmonized tariff code for a product, select destination countries or territories and enter search information, then select <span class="pi-h4">Search</span>.
			<br><br>
			<span class="pi-h3">Select Destination Countries or Territories</span><br>
			Select one or more of the following destinations countries or territories from the list below.<br><br>
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td>
				Destination Countries or Territories:<br>
				<select name="repl_fname" class="modSelMedium" size="10">
					<option>[country or territory 1]</option>
					<option>[country or territory 2]</option>
					<option>[country or territory 3]</option>
					<option>[country or territory 4]</option>
					<option>[country or territory 5]</option>
				</select>

				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="middle"><div align="center"><input alt="Add" border="0" height="18" name="Add" src="/img/en/btn_add_a.gif" type="image" width="47"><br><br><input alt="Remove" border="0" height="18" name="Remove" src="/img/en/btn_remove_a.gif" type="image" width="70"></div></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td>
				<span class="pi-h4">Selected Countries or Territories:</span><br>
				<select name="repl_fname" class="modSelMedium" size="10">
					<option>[country or territory 6]</option>
				</select>
				</td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!--- Begin Table: Functional Table 4a (Parent:Module Table) --->
		<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
		</tr>
		<tr>
			<td>
			<div class="pi-m-pad">
			<span class="pi-h3">Enter Search Information</span><br>
			Enter product keywords and select a category, or enter a full or partial tariff code. Required fields are shown in <span class="pi-h4">bold</span>.
			<br><br>
			<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">&nbsp;Search by Tariff Code<br>
			</div>
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!--- End Table: Functional Table 4a (Parent:Module Table) --->

		<!-- Begin table: Functional Table 4b (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td width="100%">
				<div class="pi-m-pad">
				<span class="pi-h4"><a href="repl_href">Tariff Code:</a></span>&nbsp;<img src="/img/icn_help_blue.gif" alt="" width="9" height="9" border="0"><br>
				<input class="modTxtLarge" maxlength="40" size="35" type="text" value="[tariff code]"><br>
				</div>
				</td>
			</tr>
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->

			</td>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 4b (Parent:Module Table) -->

		<!-- Begin table: Functional Table 4c (Parent:Module Table) -->
		<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="8" src="/img/1.gif" width="10"><br>
			<div class="pi-m-pad">
			<span class="pi-h4">*OR*</span><br>
			<img alt="" border="0" height="5" src="/img/1.gif" width="1"><br>
			<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">&nbsp;Search by Keywords and Product Category<br>
			</div>
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="10"><br></td>
		</tr>
		</table>
		<!-- End table: Functional Table 4c (Parent:Module Table) -->

		<!-- Begin table: Functional Table 4d (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin table: Inner Table (Parent:Functional Table 4d) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td width="100%">
				<div class="pi-m-pad">
				<span class="pi-h4">Keywords:</span><br>
				<input class="modTxtLarge" maxlength="50" size="35" type="text" value="[search keyword(s)]"><br>
				Product Category:<br>
				<select name="repl_fname" class="modSelLarge">
					<option>Select One</option>
				</select>
				</div>
				</td>
			</tr>
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4d) -->

			</td>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td class="pi-mA1" colspan="3"><img alt="" border="0" height="10" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 4d (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Search" border="0" height="18" name="Search" src="/img/en/btn_search.gif" type="image" width="47"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	<br>

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Tariff Code List </td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Select the tariff code based on the description that best matches your product.
			<br><br>
			<span class="pi-h4">**Note:</span> The Detail ID is used by TradeAbility<sup>TM</sup> to help refine results and should not be reported on official customs documents as part of the Tariff Code.
			<br><br>
			<span class="pi-h4">Displaying x-x of n</span><br>
			<!-- <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br> -->
			<input alt="First" border="0" height="11" name="page_first" src="/img/en/btn_lnk_first.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Previous" border="0" height="11" name="page_previous" src="/img/en/btn_lnk_previous.gif" type="image" width="38" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Previous 10" border="0" height="11" 	name="page_previous_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="1" border="0" height="11" name="page_1" src="/img/btn_lnk_1.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="2" border="0" height="11" name="page_2" src="/img/btn_lnk_2.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="3" border="0" height="11" name="page_3" src="/img/btn_lnk_3.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="4" border="0" height="11" name="page_4" 	src="/img/btn_lnk_4.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="5" border="0" 	height="11" name="page_5" src="/img/btn_lnk_5.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input 	alt="6" border="0" height="11" name="page_6" src="/img/btn_lnk_6.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="7" border="0" height="11" name="page_7" src="/img/btn_lnk_7.gif" type="image" width="7" /><img alt=""border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="8" border="0" height="11" name="page_8" src="/img/btn_lnk_8.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="9" border="0" height="11" name="page_9"	src="/img/btn_lnk_9.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="10" border="0" 	height="11" name="page_10" src="/img/btn_lnk_1.gif" type="image" width="7" /><input alt="10" border="0" height="11" name="page_10" src="/img/btn_lnk_0.gif" 	type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next 10" border="0" height="11" name="page_next_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next" border="0" height="11" name="page_next" src="/img/en/btn_lnk_next.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Last" border="0" height="11" name="page_last" src="/img/en/btn_lnk_last.gif" type="image" width="22" /><br>
			<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr class="pi-r1-t">
			<td class="pi-r1-pad" width="25%">Tariff Code</td>
			<td class="pi-r1-line" width="75%">Tariff Code Description</td>
		</tr>
		</thead>
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad"><a href="repl_href">[tariff code]</a><br><a href="repl_href">**[subcode]</a></td>
			<td class="pi-r1-pad">[description 1]</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad"><a href="repl_href">[partial code 2]</a></td>
			<td class="pi-r1-pad">[description 2]</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad"><a href="repl_href">[partial code 3]</a></td>
			<td class="pi-r1-pad">[description 3]</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad"><a href="repl_href">[partial code 4]</a></td>
			<td class="pi-r1-pad">[description 4]<br>&nbsp;&nbsp;&nbsp;digest description for code 4<br>&nbsp;&nbsp;&nbsp;digest description for code 4</td>
		</tr>
		</tbody>
		<tfoot>
		<tr class="pi-r1-b">
			<td colspan="2"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		</tfoot>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<!-- <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br> -->
			<input alt="First" border="0" height="11" name="page_first" src="/img/en/btn_lnk_first.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Previous" border="0" height="11" name="page_previous" src="/img/en/btn_lnk_previous.gif" type="image" width="38" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Previous 10" border="0" height="11" 	name="page_previous_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="1" border="0" height="11" name="page_1" src="/img/btn_lnk_1.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="2" border="0" height="11" name="page_2" src="/img/btn_lnk_2.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="3" border="0" height="11" name="page_3" src="/img/btn_lnk_3.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="4" border="0" height="11" name="page_4" 	src="/img/btn_lnk_4.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="5" border="0" 	height="11" name="page_5" src="/img/btn_lnk_5.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input 	alt="6" border="0" height="11" name="page_6" src="/img/btn_lnk_6.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="7" border="0" height="11" name="page_7" src="/img/btn_lnk_7.gif" type="image" width="7" /><img alt=""border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="8" border="0" height="11" name="page_8" src="/img/btn_lnk_8.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="9" border="0" height="11" name="page_9"	src="/img/btn_lnk_9.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="10" border="0" 	height="11" name="page_10" src="/img/btn_lnk_1.gif" type="image" width="7" /><input alt="10" border="0" height="11" name="page_10" src="/img/btn_lnk_0.gif" 	type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next 10" border="0" height="11" name="page_next_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next" border="0" height="11" name="page_next" src="/img/en/btn_lnk_next.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Last" border="0" height="11" name="page_last" src="/img/en/btn_lnk_last.gif" type="image" width="22" /><br>
			<span class="pi-h4">Displaying x-x of n</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
