---

appId: nbs
dir: ltr
lang: en
ang2: true
ang2ID: nbs
---

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper ups-app_nbs">
		<!--  //////////////////////////////////////////// -->
		<!--  //// This is an Angular app all content //// -->
		<!--  //// for this page is found in          //// -->
		<!--  //// nbs/assets/angular/templates       //// -->
		<!--  //////////////////////////////////////////// -->
		<ups-nbs-app>Loading...</ups-nbs-app>
		<!-- End Angular content -->
	</div>
</main>
