---
title: System Is Unavailable
layout: default.hbs
dir: rtl
lang: ar
appId: ppc
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-wrap ups-onboApp-wrap-ppc ups-wrap" ng-app="upsDOApp" >
		<div class="ups-ppc-wrap ups-wrap_inner">
			<div ng-include src="'/app_assets/templates/ups.systemdown.html'"></div>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
