<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Select Location Fields for Export</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
	 	To create a location export request, indicate the fields you want included in the export file to be created. At least one field must be selected.
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- begin log in module -->
	<table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">Export Location Fields</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin left content column -->
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Name<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Company or Name<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Contact Name<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Contact Telephone<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Contact Telephone Extension<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Contact E-mail<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Contact Fax<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Address 1<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Address 2<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Address 3<br>
			<br>
			<a href="#Select All">Select All</a>&nbsp;&nbsp;<a href="#Clear All">Clear All</a>
			<!-- end left content column -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin right content column -->
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location City<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location State/Province/County<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Postal Code<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Country or Territory Code<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location UPS Account Number<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Account Number Country or Territory Code<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Associated Address Group<br>
			<input  name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Location Rate Display Setting<br>
			<!-- end right content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
	</table>
	<!-- end log in module -->

	<!-- begin buttons -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
		<td align="right" valign="top" width="366"><input name="repl_fname" value="Cancel" class="btn" type="button"><input value="Export Data" class="btn" type="submit"></td>
	</tr>
	</table>
	<!-- end buttons -->

	<!-- begin note area -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
	</tr>
	</table>
	<!-- end note area -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
