<div class="ups-wrap ups-wrap_alt_background" [pageTitle]="'Return Your Package'">
    <div class="ups-wrap_inner">
        <div class="ups-group">
            <h2 class="ups-slim_h2">Oops, this package is no longer eligible for return</h2>
            <p>
                Unfortunately, the return window has expired for your shipment. You can contact the retailer for more information.
            </p>
            <button class="ups-cta ups-cta_primary">Okay</button>
        </div>

    </div>
</div>
