---
title: ct1_res_cus_dlg_legalstatement
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---

<div id="main">
  {{> "ct1_res_cus_dlg_legalstatement_partial" }}
</div>
