<!-- Hero Image Row -->
<div class="row iw_row iw_stretch">
    <div class="iw_columns col-lg-12">
        <div class="iw_component">
           <!-- ************************************************************************************ -->
           <!-- M15 List                                                                             -->
           <!-- ************************************************************************************ -->
           <div class="ups-list"> <!-- removed .ups-wrap -->
              <div class="ups-wrap_inner">
                 <div class="ups-list_component">
                    <!-- ************************************************************************************ -->
                    <!-- M15 List Multi                                                                       -->
                    <!-- ************************************************************************************ -->
                    <div class="ups-list_multi">
                       <div class="ups-list_row clearfix">
                          <div class="ups-list_detail ups-detail_imageblock ups-detail_imageblock_single">
                             <!-- ************************************************************************************ -->
                             <!-- M15 List Imageblock                                                                  -->
                             <!-- ************************************************************************************ -->
                             <!-- <a href="#"> -->
                                <div class="ups-imageblock_image ups-imageblock_single_image">
                                <h2 class="ups-readerTxt"></h2>
                                   <img src="assets/resources/images/rap/rap_hero_image.jpg" alt="Home Page Image" title="">
                                   <div class="ups-imageblock_text ups-imageblock_onlytext">
                                      <div><p class="h4">Welcome to the UPS Returns<sup>&reg;</sup> Manager, where you can plan all your returns needs, from creating returns policies, viewing past returns, or adding and managing users.</p></div>
                                   </div>
                                </div>
                             <!-- </a> -->
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
</div>
<!-- End of Hero Image Row -->

<!-- Row of Images -->
<div class="row iw_row iw_stretch">
    <div class="iw_columns col-lg-12">
        <div class="iw_component">
           <!-- ************************************************************************************ -->
           <!-- M15 List                                                                             -->
           <!-- ************************************************************************************ -->
           <div class="ups-list"> <!-- removed .ups-wrap -->
              <div class="ups-wrap_inner">
                 <div class="ups-list_component">
                    <!-- ************************************************************************************ -->
                    <!-- M15 List Multi                                                                       -->
                    <!-- ************************************************************************************ -->
                    <div class="ups-list_multi">
                       <div class="ups-list_row clearfix">
                          <div class="ups-list_detail ups-detail_imageblock">
                             <!-- ************************************************************************************ -->
                             <!-- M15 List Imageblock                                                                  -->
                             <!-- ************************************************************************************ -->
                             <a routerLink="/administration/users">
                                <div class="ups-imageblock_image">
                                   <img src="assets/resources/images/rap/rap_add_team_members_image.jpg" alt="" title="">
                                   <div class="ups-imageblock_text ups-imageblock_text_list">
                                      <h3 class="ups-desc-title">Add Team Members</h3>
                                      <div>Invite additional team members and assign various roles and permissions.</div>
                                      <span class="icon ups-imageblock-arrow" aria-hidden="true"></span>
                                   </div>
                                </div>
                             </a>
                          </div>
                          <div class="ups-list_detail ups-detail_imageblock">
                             <!-- ************************************************************************************ -->
                             <!-- M15 List Imageblock                                                                  -->
                             <!-- ************************************************************************************ -->
                             <a routerLink="/returnsPolicies">
                                <div class="ups-imageblock_image">
                                   <img src="assets/resources/images/rap/rap_set_up_policy_image.jpg" alt="" title="">
                                   <div class="ups-imageblock_text ups-imageblock_text_list">
                                      <h3 class="ups-desc-title">Set Up a Policy</h3>
                                      <div>Customize and manage all your returns settings.</div>
                                      <span class="icon ups-imageblock-arrow" aria-hidden="true"></span>
                                   </div>
                                </div>
                             </a>
                          </div>
                          <div class="ups-list_detail ups-detail_imageblock">
                             <!-- ************************************************************************************ -->
                             <!-- M15 List Imageblock                                                                  -->
                             <!-- ************************************************************************************ -->
                             <a routerLink="/returnsHistory">
                                <div class="ups-imageblock_image">
                                   <img src="assets/resources/images/rap/rap_find_a_return_image.jpg" alt="" title="">
                                   <div class="ups-imageblock_text ups-imageblock_text_list">
                                      <h3 class="ups-desc-title">Find a return</h3>
                                      <div>Access all active, upcoming, and delivered return shipments.</div>
                                      <span class="icon ups-imageblock-arrow" aria-hidden="true"></span>
                                   </div>
                                </div>
                             </a>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
</div>
<!-- End of Row of Images -->
