<!-- Beginning of Ineligible Returns Complete  Component -->
<div class="ups-section"> <!-- .ups-section -->

    <!-- Heading -->
    <div class="ups-section-header">
        <h2 class="ups-section_heading">Complete</h2>
    </div>
    <!-- End of Heading -->

    <div class="ups-group"> <!-- .ups-group -->
        <p>You have successfully created a return for an ineligible return and the return label has been sent to your customer.</p>
    </div><!-- .ups-group -->

    <div class="ups-group"><!-- .ups-group -->
        <p>You can find this returnshipment in your returns history.</p>
    </div> <!-- .ups-group -->

    <!-- CTA Button Group -->
    <div class="ups-form_ctaGroup">
        <a type="button" class="ups-cta ups-cta_primary" routerLink="/returnsHistory">View History</a>
        <a type="button" class="ups-cta ups-cta_primary" routerLink="/ineligibleReturns">Override Another Returns</a>
    </div>
    <!-- End of CTA Button Group -->

</div><!-- .ups-section -->
<!-- End of Ineligible Returns Complete Component -->
