<form novalidate>
    <div class="ups-section">
        <div class="ups-section-header">
            <h2 class="ups-section_heading">Create Plug-In</h2>
        </div>
        <h3>Name Your Plug-In</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="ups-form_group">
                    <label for="ups_choose_plugin_name" class="ups-form_label">How would you like your plugin's name to appear in Returns Manager?</label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input class="ups-form_input" id="ups_choose_plugin_name" name="ups_choose_plugin_name" type="text"/>
                    </div>
                </div>
            </div>
        </div>
        <h3>Download & Install</h3>

        <div class="ups-group">
            <p>
                Jiuntiorit hilloruntis abore pelique num qui alignia doloria cuscid que volorat ureicias de nosto omnimolut dolupta tusandanditi dolupicitam, odit lacearum quae nat veni omnihicia doluptati dolupta aut magnis.
            </p>
        </div>

        <div class="ups-group">
            <p>
                <a routerLink="#" class="ups-link">{{'<'}}Placeholder Link{{'>'}}</a>
            </p>
        </div>
        <div class="ups-group">
            <ul class="ups-list_style_none">
                <li *ngFor="let list of createPluginList">
                    <p>
                        <strong>{{list.firstColumnName}}</strong><span class="ups-indent">{{list.secondColumnName}}</span>
                    </p>
                </li>
            </ul>
        </div>

    </div>
    <div class="ups-form_ctaGroup">
        <button type="button" class="ups-cta ups-cta primary" (click)="goToCreateNamePluginPage();">Continue Creating Plug-In</button>
        <!-- <a routerLink="/merchantPlugIn/createNewPlugIn" class="ups-cta ups-cta_primary">Continue Creating Plug-In</a> -->
        <a routerLink="/merchantPlugIn" class="ups-cta ups-cta_secondary">Cancel</a>
    </div>
</form>
