<!-- Beginning of Permanent Change Modal -->
<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showPermanentChangeHeading" id="showPermanentChangeModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close" id="closeShowPermanentChangeModal"> <span class="ups-readerTxt">Close</span> </button>
				<h2 id="showPermanentChangeHeading" class="modal-title">Alert</h2>
			</div>
			<div class="modal-body">
                <div class="ups-group">
                    <p>
                        The changes made will be permanent and applied to all return shipments for selected accounts immediately.
                    </p>
                </div>
                <p>
                    Do you wish to continue?
                </p>
                <div class="ups-form_group">
					<div class="ups-buttonList_wrapper ups-input_wrapper">
						<input id="doNotAsk" class="ups-checkbox-custom" name="doNotAsk" type="checkbox" value="1">
						<label for="doNotAsk" class="ups-checkbox-custom-label">Do not ask me again</label>
                    </div>
                </div>
				<div class="ups-form_ctaGroup text-center">
                    <button type="button" class="ups-cta ups-cta_primary" data-dismiss="modal">Proceed</button>
                    <button type="button" class="ups-cta ups-cta_secondary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- End of Permanent Change Modal -->

<!-- Beginning of Change of Address Modal -->
<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showChangeOfAddressHeading" id="showChangeOfAddressModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close" id="showChangeOfAddressModal"> <span class="ups-readerTxt">Close</span> </button>
				<h2 id="showChangeOfAddressHeading" class="modal-title">Alert</h2>
			</div>
			<div class="modal-body">
                <div class="ups-group">
                    <p>
                        It looks like new address you have selected will affect your current shipping service.
                    </p>
                </div>
                <p>
                    Would you like to update the address or shipping service?
                </p>
				<div class="ups-form_ctaGroup text-center">
                    <button type="button" class="ups-cta ups-cta_primary" data-dismiss="modal">Update</button>
                    <button type="button" class="ups-cta ups-cta_secondary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- End of Change of Address Modal -->

<!--Beginning of Delete Policy Modal Component -->
<!--<ups-returns-delete-policy-modal></ups-returns-delete-policy-modal>-->
<!-- End of Delete Policy Modal Component -->

<!-- Beginning of Permanent Change New Angular 2/4 Modal  -->
<ups-modal modal-title="Alert" #permanentChangeModal>
    <div class="ups-group">
        <p>
            The changes made will be permanent and applied to all return shipments for selected accounts immediately.
        </p>
    </div>
    <p>
        Do you wish to continue?
    </p>
    <div class="ups-form_group">
        <div class="ups-buttonList_wrapper ups-input_wrapper">
            <input id="doNotAsk" class="ups-checkbox-custom" name="doNotAsk" type="checkbox" value="1">
            <label for="doNotAsk" class="ups-checkbox-custom-label">Do not ask me again</label>
        </div>
    </div>
    <div class="ups-form_ctaGroup text-center">
        <button type="button" class="ups-cta ups-cta_primary" #modalClose>Proceed</button>
        <button type="button" class="ups-cta ups-cta_secondary" #modalClose>Cancel</button>
    </div>
</ups-modal>
<!-- End of Permanent Change New Angular 2/4 Modal  -->

<!-- Beginning of Permanent Address New Angular 2/4 Modal  -->
<ups-modal modal-title="Alert" #addressChangeModal>
    <div class="ups-group">
        <p>
            It looks like new address you have selected will affect your current shipping service.
        </p>
    </div>
    <p>
        Would you like to update the address or shipping service?
    </p>
    <div class="ups-form_ctaGroup text-center">
        <button type="button" class="ups-cta ups-cta_primary" #modalClose>Update</button>
        <button type="button" class="ups-cta ups-cta_secondary" #modalClose>Cancel</button>
    </div></ups-modal>
<!-- End of Permanent Address New Angular 2/4 Modal  -->


<ups-returns-policy-panel></ups-returns-policy-panel>

<!--DO NOT USE THIS IN PRODUCTON -->
<div class="ups-cms-demo">
    <h4>Do not include this in production</h4>
    <!-- <button type="button" class="ups-cta ups-cta_secondary" (click)="demoPermanentChangeModal();">Permanent Change Modal</button>
    <button type="button" class="ups-cta ups-cta_secondary" (click)="demoChangeAddressModal();">Change Address Modal</button> -->
    <button type="button" class="ups-cta ups-cta_secondary" (click)="demoPermanentChangeModal2();">Permanent Modal</button>
    <button type="button" class="ups-cta ups-cta_secondary" (click)="demoChangeAddressModal2();">Change Address Modal</button>
</div>
<!-- DO NOT USE THIS IN PRODUCTION -->
