<!-- Delete User -->
<div class="ups-section">
    <!-- Delete User Heading -->
    <div class="ups-section-header">
        <h2 class="ups-section_heading">Delete User</h2>
    </div>
    <!-- End of Delete User Heading -->

    <p>You are about to permanently delete <strong>Jane Doe</strong> from your account. Past user information is not stored or recorded on portal.</p>
    <p>Do you wish to continue?</p>

    <!-- Button Group -->
    <div class="ups-form_ctaGroup">
        <a class="ups-cta ups-cta_primary" routerLink="/administration/users">Yes</a>
        <a class="ups-cta ups-cta_secondary" routerLink="/administration/users">Cancel</a>
    </div>
    <!-- End of Button Group -->

<!-- End of Delete User -->
