<div class="ups-section">
    <p>You are about to permanently delete <strong>Jane Doe</strong> from your account. If you would like to adjust these permissions at a later date, you may do so by clicking edit on the Current Users & Permissions page.</p>
    <p>Do you wish to continue?</p>

    <!-- Button Group -->
    <div class="ups-form_ctaGroup text-center">
        <button type="button" class="ups-cta ups-cta_primary" (click)="demoIDeletedAUser()" *ngIf="!editRedirect" #modalClose>Yes</button>
        <a href="#/administration/users" class="ups-cta ups-cta_primary" *ngIf="editRedirect">Yes</a>
        <button type="button" class="ups-cta ups-cta_secondary" (click)="demoIDidNotDeleteAUser()">Cancel</button>
    </div>
    <!-- End of Button Group -->
</div>
