<!-- Beginning of Modal -->
<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showDeletePolicyHeading" id="showDeletePolicyModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close" id="closeShowDeletePolicyModal"> <span class="ups-readerTxt">Close</span> </button>
				<h2 id="showDeletePolicyHeading" class="modal-title">Delete Policy</h2>
			</div>
			<div class="modal-body">
                <div class="ups-group">
                    <p>
                        Deleting your policy will be permanent and take effect immediately. Return shipments already in transit do not apply. You will not be able to undo this action.
                    </p>
                </div>
                <p>
                    How would you like to proceed?
                <

				<div class="ups-form_ctaGroup text-center">
                    <button type="button" class="ups-cta ups-cta_primary" data-dismiss="modal" (click)="demoIDeletedAPolicy()">Delete Policy</button>
                    <button type="button" class="ups-cta ups-cta_secondary" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- End of Modal -->

<!-- Beginning of New Angular 2/4 Modal -->
<div class="ups-group">
    <p>
        Deleting your policy will be permanent and take effect immediately. Return shipments already in transit do not apply. You will not be able to undo this action.
    </p>
</div>
<p>
    How would you like to proceed?
</p>

<div class="ups-form_ctaGroup text-center">
    <button type="button" class="ups-cta ups-cta_primary" (click)="demoIDeletedAPolicy()" #modalClose>Delete Policy</button>
    <button type="button" class="ups-cta ups-cta_secondary" #modalClose>Cancel</button>
</div>
<!-- End of New Angular 2/4 Modal -->
