<h2 class="ups-slim_header">My Returns Panel</h2>
<p> Manage your return policies in your returns panel. Since you currently have no existing policies, get started by creating a new policy.</p>
    <!-- <div *ngIf="hasAccts">
        <p>
            You've successfully created a new return policy named 'ACCESSORIES'
        </p>
        <div class="ups-section">
            <div class="ups-section-header">
                <h3 class="ups-section_heading">Manage your return polices</h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>
                        ACCESSORIES
                    </p>
                </div>
                <div class="col-md-4 ups-text-md-right">
                    <button class="ups-cta_link_primary">Edit</button><span class="hidden-sm hidden-xs"> | </span><button class="ups-cta_link_tertiary">Delete</button>
                </div>
            </div>
            <hr class="ups-returns_acct_separator">
        </div>
    </div>-->
    <!--<button class="ups-cta ups-cta_primary" (click)="createNew()">Create New Policy</button>-->
<a class="ups-cta ups-cta_primary" routerLink="/returnsPolicies/createPolicy">Create New Policy</a>
