/*locator_print_css*/



body{font-family:Arial;background:none;color:#000;font-size:10px;}

#printMain .appLvl{width:710px;margin:0 auto 0 auto;}

#printMain #printCP, #printMain #msveMap, #printMain #locDetails, #printMain .ui-button, #printMain .ui-menu{display:none;}
#printMain .noPrint {display:none !important;}

#printMain #printPageHeader .startAddress{margin:0 10px 10px 100px}

#printMain dl.inlineDefList dd {display:inline}

#printMain dl.inlineDefList dt {font-weight:bold;display:inline}

#printMain .clearfix{display:inline-block}

#printMain .dataTable{margin-top:0;/*width:90%;*/background-color:#ebebe6}

#printMain .dataTable tr th{text-align:left}

#printMain .dataTable tr{vertical-align:top}

#printMain .dataTable tr td, .dataTable tr th{padding:.5em}

#printMain .dataTable{border:1px solid #908474/*;margin-bottom:1em*/}

#printMain .dataTable td{border-top:1px solid #908474;}

#printMain .dataTable .odd td{background-color:#ffffff;}

#printMain .legendImage{padding:.25em}

#printMain label{font-weight:bold}

#printMain .valignTop td{vertical-align:top}

#printMain .dataTable .totals{font-weight:bold}

#printMain tr.totals td{text-align:right;border-top:1px solid #908474}

#printMain .scheduleTable{margin-bottom:2em}

#printMain .scheduleTable th{text-align:left; border-bottom:1px solid #351C15}

#printMain .locLocation, .scheduleTable, .dataTable{page-break-inside:avoid}

#printMain .headerTable{width:710px;margin-bottom:1em}

#printMain #locDetails{border:1px solid #908474;padding:10px 0 0 0;margin-bottom:10px;}

#printMain #locDetails .secLvl{margin-bottom:0}

#printMain .locLocation{background-color:#ebebe6;border:1px solid #908474}

#printMain .locLocation p{margin:1em}

#printMain .secBody{padding:0 10px}

#printMain .secFooter{padding:0 10px}

#printMain .marginBegin{margin-left:0}

#printMain .marginEnd{margin-left:10px;margin-right:0}

#printMain #msveMap {margin-bottom:10px;}

#printMain .alignBegin {text-align:left !important;}
#printMain .alignEnd {text-align:right !important;}
#printMain .floatBegin {float:left;display:inline;margin-right:10px;}
#printMain .floatEnd {float:right;display:inline;margin-left:10px;}

#printMain .locPrintTable.dataTable .scheduleTable td {border-top:none;}
#printMain .locHours td {border-top:none !important;}

#printMain .secLvl.locResults {border-top:1px solid #908474; border-left:1px solid #908474; border-right:1px solid #908474; display:block;}
#printMain .secLvl.locResults .secHead {padding:5px;display:block;border-bottom:1px solid #908474;}
#printMain .secLvl.locResults .secBody {display:block;border-bottom:1px solid #908474;padding-top:10px;page-break-inside:avoid !important;}
#printMain span.label {font-weight:bold;}
#printMain .scheduleTable h3{font-size:8pt;color:#000;}
#printMain .scheduleTable td, #printMain .scheduleTable th {font-size:8pt;padding:0 5px;}
#printMain a.locationPin {text-decoration:none;font-weight:bold;color:#000;}
#printMain label.sel, #printMain span.sel {padding-right:10px;}

#printMain .subcol1 {width:6px}
#printMain .subcol2 {width:46px}
#printMain .subcol3 {width:86px} 
#printMain .subcol4 {width:126px}
#printMain .subcol5 {width:166px}
#printMain .subcol6 {width:206px}
#printMain .subcol7 {width:246px}
#printMain .subcol8 {width:286px}
#printMain .subcol9 {width:326px} 
#printMain .subcol10 {width:366px}
#printMain .subcol11 {width:406px}
#printMain .subcol12 {width:446px}
#printMain .subcol13 {width:486px}
#printMain .subcol14 {width:526px}
#printMain .subcol15 {width:566px}
#printMain .subcol16 {width:606px}
#printMain .subcol17 {width:646px}
#printMain .subcol18 {width:686px}
#printMain .subcol19 {width:726px}
#printMain .subcol20 {width:766px}
#printMain .subcol21 {width:806px}
#printMain .subcol22 {width:846px}
#printMain .subcol23 {width:886px}
#printMain .subcol24 {width:926px}

#printMain .subcol1,
#printMain .subcol2,
#printMain .subcol3,
#printMain .subcol4,
#printMain .subcol5,
#printMain .subcol6,
#printMain .subcol7,
#printMain .subcol8,
#printMain .subcol9,
#printMain .subcol10,
#printMain .subcol11,
#printMain .subcol12,
#printMain .subcol13,
#printMain .subcol14,
#printMain .subcol15,
#printMain .subcol16,
#printMain .subcol17,
#printMain .subcol18,
#printMain .subcol19,
#printMain .subcol20,
#printMain .subcol21,
#printMain .subcol22,
#printMain .subcol23,
#printMain .subcol24 {display:inline;float:left;margin-left:10px;margin-right:0;padding:0px;}

#printMain .clear {clear:both;display:block;overflow:hidden;visibility:hidden;height:0;width:0;background-color:transparent;}

#printMain .formcol2{width:42px} /* ext*/ /* first initial*/
#printMain .formcol3 {width:82px}  /*zip*/ /*dates (datepicker icon does not fit)*/
#printMain .formcol4 {width:122px}
#printMain .formcol5 {width:162px} /*telephone*/
#printMain .formcol6 {width:202px} /* short email */
#printMain .formcol7 {width:242px} /*address lines, contact, email*/
#printMain .formcol8 {width:282px}
#printMain .formcol9 {width:322px}
#printMain .formcol10 {width:362px}
#printMain .formcol11 {width:402px}
#printMain .formcol12 {width:442px} /*text, instructions*/
#printMain .formcol13 {width:482px}
#printMain .formcol14 {width:522px}
#printMain .formcol15 {width:562px}
#printMain .formcol16 {width:602px}

/*Input Widths Inside Subcol*/  /*.subcol -16*/
/*--------------------------*/

#printMain .subcol .formcol2{width:30px} 
#printMain .subcol .formcol3 {width:70px}
#printMain .subcol .formcol4 {width:110px}
#printMain .subcol .formcol5 {width:150px}
#printMain .subcol .formcol6 {width:190px}
#printMain .subcol .formcol7 {width:230px} 
#printMain .subcol .formcol8 {width:270px}
#printMain .subcol .formcol9 {width:310px}
#printMain .subcol .formcol10 {width:350px}
#printMain .subcol .formcol11 {width:390px}
#printMain .subcol .formcol12 {width:430px} 
#printMain .subcol .formcol13 {width:470px}
#printMain .subcol .formcol14 {width:510px}
#printMain .subcol .formcol15 {width:550px}
#printMain .subcol .formcol16 {width:590px}
