/*locator_css*/

body{line-height:1.2em}

 /*Legacy CMS Fragments */
	/* h1 */
	.header{font-size:1.4em;line-height:2.2em;font-family:Arial,sans-serif;font-weight:bold;color:#351C15}
	/* h2 */
	.standardheader{font-size:1.2em;line-height:1.4em;font-family:Arial,sans-serif;font-weight:bold; color:#60513A}
	/* h3 */
	.subhd1{font-family:Arial,sans-serif;font-weight:bold; color:#60513A}
	.modpadarrow{padding-left:10px;padding-right:5px;text-indent:-13px}
	
	.popuppage-blue { background-image:url(/img/icn_popup_blue.gif); background-position:right top; background-repeat:no-repeat; border:0px none; display:inline; height:9px; margin:0px; padding:0px; width:12px; }
 /* END Legacy CMS Fragments */

#ccCntMod{width:960px}
#main{}

/* RFC 2011*/
.cmsMsgLocator .standardheader br {display:none}
.cmsMsgLocator table img {display:none}
	.cmsMsgLocator table .popuppage-blue img {display:inline;}
.cmsMsgLocator .secFooter div.btnBar {padding:0 0 3px 0}
.cmsMsgLocator div.btnBar {border:none}

.infoIcon{ background-image:url(/img/icon_information_circle_black_16.gif);background-repeat:no-repeat;line-height:1em;}
	a.btnlnkL16{margin:5px 0px;padding-left:20px;padding-right:0px; padding-bottom:2px;padding-top:0px;background-repeat:no-repeat;border:none}
	
	/* DOL GLOBAL CMS MESSAGE */
	.cmsMsgLocator .message table .arrow-blue {display:inline;}
	.cmsMsgLocator .message table .popuppage-blue { background-position:right center}
	.cmsMsgLocator .message table br {display:none}
	


/* /////////// */

.appLvlAction{float:right;display:inline;padding:10px 0 0 0}
.secLvlPlain{border:none;/*background:inherit !important*/}
.slider {background-color:#EBEBE6;border:1px solid #908474;border-top:none}
.slider .sliderPanelHeader {cursor:pointer;margin-bottom:0}
.slider .openPanelHeader{margin-bottom:10px}
.sliderPanelContent {overflow:hidden;border-top:1px solid #908474;margin:0 !important;padding:0 !important}
.sliderPanelContent dl{padding:5px}
dd.hidden{padding:0}
#slider .secLvl{border-style:none;border-top:1px solid #908474;margin-bottom:0}
#msveMap{width:100%;height:450px;background-color:#666;margin-bottom:10px}
#msveMap p{color:#fff !important}
#subMapLegend{width:100%;margin-bottom:10px}
.mapLegend{}
.mapLegend ul li{display:inline}
.hidden{display:none}
dl.showHideDL{padding-bottom:0 !important}
dl.showHideDL dd table{margin-bottom:0 !important}
dl.mapLegend dt{padding-bottom:5px}
dl.mapLegend dd{float:left;padding:2px 18px;margin:0}


div.resultsDiv{background-color:#FFFFFF;border:1px solid #908474;overflow:auto;width:auto;margin:0 0 10px 0;padding:0}
div.resultsDiv ul{margin:0;padding-bottom:0}
div.resultsDiv ul li{margin:0;padding:5px}
div.resultsDiv ul.mappedResultList li{margin:0 3px 0 0;padding:5px;cursor:pointer;border-bottom:1px solid #908474;font-size:12px;}
div.resultDetails{margin:0;padding:0;display:inline}
div.resultLocation{margin:7px 0 5px 0;padding:0;}


div.drivingDirections{padding-bottom:0}



li.selected{background-color:#fff2ac}
div.pagination{padding:0 20px}
ul.inlineList{margin:0;list-style:none}
ul.inlineList li{display:inline}
ul.upperSix, ul.upperThree{padding-bottom:0}
div.splitElements{margin:5px 0}
.splitRight{float:right;display:inline}
.valignTop td{vertical-align:top}
dl.inlineDefList dd {display:inline}
dl.inlineDefList dt {display:inline}
div.floatSuperDiv{margin:0 0 10px 0}
div.floatLeft {display:inline;float:left;padding-left:5px;padding-top:5px}
tr.totals td{text-align:right;background-color:#d4ccbf}

#closeIcon{float:right;display:inline;margin:10px;font-weight:bold;cursor:pointer}

#legendInfotip{position:absolute;width:490px;z-index:1000;border:1px solid #351C15;background-color:#ebebe6;padding:0;margin:0}
#legendInfotipBody{padding:5px 5px 10px 5px}
#legendInfotipBody h4{}
#legendInfotipBody p{}
#legendInfotipBody table{margin-bottom:0}
#legendInfotipBody .legendInfotipImage{float:left;display:inline;margin:5px}
#legendInfotipDropSpace{width:100%;position:absolute;top:100%;height:11px}
#legendInfotipPointer{margin:0;padding:0;border:none;position:absolute;left:10px;top:-1px;width:21px;height:11px;background:url(/img/hov_glo_arrow_btm_brn_lgt.gif) no-repeat top center;z-index:1010}


#locationInfotip{/*width:310px;*/z-index:1010;border:1px solid #60513a;background-color:#ebebe6;padding:0;margin:0}
#locationInfotipBody{padding:5px}
#locationInfotipFooter{padding:5px}
#locationInfotipDropSpace{width:100%;position:relative;bottom:-10px;height:11px}
#locationInfotipPointer{position:relative;left:10px;top:-8px;width:21px;height:11px;background:url(/img/hov_glo_arrow_top_brn_lgt.gif) no-repeat bottom center;z-index:1010}
#locationInfotip .secLvl{margin-bottom:10px}
#locationInfotip .secFooter p, #locationInfotip .appFooter p{margin:0 10px;padding:0}
#locationInfotip .appHead{margin:0}
#locationInfotip .tab .secBody{padding:5px;background-color:#ffffff}
#locationInfotip .tab .secLvl{background-color:#ffffff}
/*#locationInfotip .secBody{padding:0}*/

#subTab li.tab-off{cursor:pointer}
#subTab li.tab-on{background-color:#ffffff;border-bottom-color:#ffffff}
.tabContent{width:100%}
.tabPanel{display:none}
div.tabPanel{height:auto;}
table.scheduleTable{border-collapse:collapse}
table.scheduleTable th{border-bottom:1px solid #351C15;padding:0 5px;text-align:left; background-color:transparent;}
table.scheduleTable td{padding:0 5px}
table.scheduleTable .splitRow td{border-top:1px dotted #351C15}
table.scheduleTable .secondaryHeaderRow td{padding-top:5px;padding-left:0}

#printMain{}
#printCP{position:fixed;top:0;left:0;right:0;padding:5px 10px;background-color:#ebebe6;margin:0 0 10px 0; z-index:10001;}
#printCP .floatRight{display:inline;float:right;margin-right:30px}
#printCP .printOptions{}
#printMain .appLvl{padding-top:60px;width:710px;margin:0 auto 0 auto}
#printMain #msveMap, #printMain #locDetails{display:none}
#printMain #locDetails{border:1px solid #908474;padding:10px 5px 0 5px;margin-bottom:10px}
#printMain #locDetails .secLvl{margin-bottom:0}
.locLocation{background-color:#ebebe6;border:1px solid #908474;padding:10px 10px 0 10px;margin-bottom:7px;}
#printMain .locPrintTable{}
#printMain .secLvlPlain{background-color:#fff;border:none}
#printMain #locHours {border-top:none !important;}
#printMain .locPrintTable.dataTable #locDetails {border:none; width:100%;}
#printMain a.upsLocation, #printMain a.otherLocation {margin-left:0;}
#printMain label.sel, #printMain span.sel {padding-right:10px;}

.legendImage{padding:.25em}

* html {overflow-y:hidden}
* html body {height:100%;overflow-y:auto;}
* html div#printCP{position:absolute;left:15px;top:0;right:30px}


/* Structure Overrides */
	/*locationInfotip is appLvl module loading onto an appLvlPlain page*/
	.appLvlPlain .appLvl .appBody {padding:0 10px;}
	.appLvlPlain .appLvl .secLvl {border-color:#EBEBE6;}
		.appLvlPlain .appLvl .tab {border-color:#908474}
	
	/* DOL using class="step" inside secHead*/
	.sliderPanelHeader .step{background-color:transparent;} 

	* html .scheduleTable {width:94%;}

.refreshMini {background-image: url("/img/btn_refresh_arrows.gif"); background-repeat: no-repeat; background-position: 0 0;}
	
input.refreshMini {font-size: 1.3em; height:1.3em; padding-right:0px !important; vertical-align:top;}




/*Amazon Example
body {font:"Times New Roman", Times, serif !important}
a {color:#05a !important}
a:hover {color:#e47911 !important}
a.locationPin {color:#fff !important}
.step .secHead {background-color: #ccc !important;}
div.step {background-color: #fff !important;border-color: #111 !important;}
.step .secHead h3 {color: #666 !important;}
.appLvlPlain div.step {border-color: #666 !important;}
.stepNumberDiv {background-color: #ffffff !important;border-color: #666 !important;}
.stepNumber {background-color: #666!important;color: #ffffff!important;}
input.btn, input.btnArw, input.btnBackArw, button.btn, button.btnArw, button.btnBackArw {color: #FFF !important;background-color: #666 !important;border-color: #666  !important;}
.slider .secFooter {background-color: #fff!important;}*/

/* Locator Redesign */
	.secLvl.step.tab {background-color: #ffffff;	border-color: #908474;}
	/* for select box in secHead */
	.secHead table {padding:0;margin:0 0 0 -20px;}
	.secHead select {margin:0;}

	#filters .btnlnkL {color:#000;}
	.searchBtn { width:24px !important; /*background-color:#69F !important;border-color:#9CF #66C #66C #9CF !important;*/}
	.searchBtnIcon {background-image:url("/img/E100_magnify_16_white.png") !important; background-repeat:no-repeat;background-size:16px;}
	
	.fullMap {position:relative;}
	.appliedFilters {position:absolute; bottom:0;}
	.appLvlAction .appliedFilters {margin-bottom: 15px;margin-top:10px;position:relative;}
	.appliedFilters dd {margin-right:10px;}
	.appliedFilters span, .appliedFilters input {vertical-align:middle;}
	.closeTime {color:#64A70B;}
	.featuredLocation {padding-left:20px;background-repeat:no-repeat;background-image:url("/img/E342_star_full_16_water2.png");background-position:left center;}
	.newLocation {padding-left:20px;background-repeat:no-repeat;background-image:url("/img/E505_new_star_16_water2.png");background-position:left center;}
	.featuredLocationArea {background-color:#FFE199;padding:5px;display:inline-block;margin-bottom:10px;}
	.featuredLocationArea .featuredLocation, #locationInfotip .featuredLocation {margin-bottom:7px;}
	.featuredLocation1 {cursor:pointer;padding-right:5px;}
	.featuredLocation2 {border-left:1px solid #908474; padding-left:15px; padding-right:5px;cursor:pointer;}
	/*a.locationPin {font-size:1em;padding-top:2px;}*/
	mappedResultList .mileage {font-weight:bold;}
	/* may need to be set as the default for <select> due to IE/FF default behavior */
	#filters select {margin:2px 0;}
	
	.separateTotals {margin-bottom:0 !important;border-bottom:none;}
	.display {display:inline-block !important;}
	
	.secLvl.locResults {background-color:transparent !important;}
	.secLvl.locResults .odd {background-color:#EBEBE6;}
	.secLvl.locResults .secHead {margin-bottom:0;}
	.secLvl.locResults .secBody {padding-left:0;padding-top:10px;}
	
/* styles for cms fragments */
	.locator_tip {background-color:#99D7E5;padding:10px;margin-bottom:10px;}
	.locator_alert {background-color:#99D7E5;padding:10px;margin-bottom:10px;}
	.locator_banner_1 {}
	.locator_banner_1 .secLvl {background-color:#351C15;border:1px solid #351C15;}
	.locator_banner_1 img {float:right;margin:10px 15px 7px 0;}
	.locator_banner_1 .secHead {margin:18px 0 7px 15px;}
	.locator_banner_1 .secHead p {padding-bottom:0;}
	.locator_banner_1 .secHead h3 {color:#FFB500;font-size:22px;font-weight:normal;}
	.locator_banner_1 .secBody {margin-left:15px;margin-bottom:7px;}
	.locator_banner_1 .secBody h4 {color:#FFFFFF;font-weight:bold;font-size:16px;}