<form action="">
<!-- ECS C-Clamp -->
<div class="ccacmpad1">
   <div id="main">
<!-- Begin Application Container -->

       <!-- Begin Application Module -->
           <div class="appLvl appLvlPlain col18 clearfix">
           <fieldset>

               <!-- Begin Application Header -->
               <div class="appHead clearfix">
                   <h2>restricted access</h2>
               </div>
               <!-- End Application Header -->

               <!-- Begin Application Body -->
               <div class="appBody clearfix">

                   <p>your company's access to ups campusship<sup>tm</sup> has been suspended.</p>
                   <p>contact your company administrator for assistance with ups campusship.</p>

                   <dl class="outHozFlex">
                       <dt><label for="">company support:</label></dt>
                           <dd><strong>{ telephone }</strong></dd>
                           <dd class="indent"><strong>{ emailaddress@email.com }</strong></dd>
                   </dl>

               </div>
               <!-- End Application Body -->

               <!-- Begin Application Footer -->
               <div class="appFooter">

                   <!-- Begin Button Bar Row -->
                   <div class="btnBar">
                       <input name="" type="button" value="continue_btn" class="btnArw">
                   </div>
                   <!-- End Button Bar Row -->

               </div>
               <!-- End Application Footer -->

           </fieldset>
           </div>
           <!-- End Application Module -->

<!-- end application content -->


   </div>
</div>
<!-- End ECS C-Clamp -->
</form>
    
