---
title: ct1_tra_action_unavailable_dlg
layout: legacy.hbs
version: v4
appID: com.ups.trackWeb
appCSS: ups.legacy_overrideWebTrkApp
dir: rtl
lang: ar
---

<div id="main">
<style type="text/css">
				.ctrl_box {
					z-index: 2001;
					margin: 10px;
					padding: 10px;
					background-color: #FFF2AC;
					border: 1px solid #FF7800;
					position: absolute;
					top: 0;
					right: 0;
				}
				.ctrl_box .btn {
					background-color: #F31A12;
					border-color: #FF7800 #850600 #850600 #FF7800;
				}
				</style>
{{>background_modal_content}}
{{>ct1_tra_action_unavailable_dlg_partial}}
</div>
