<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
            <h1>log in</h1>


                <!-- Begin Application Module -->
                <div class="appLvl mod col18 clearfix">
                <fieldset><legend></legend>
                    <p class="group">welcome to ups campusship. to begin, please enter your user id.</p>
                    <p><strong>note:</strong> user ids are case sensitive.</p>

                    <!-- Begin Application Header -->
                    <div class="appHead clearfix">
                        <h2>returning users</h2>
                    </div>
                    <!-- End Application Header -->

                    <!-- Begin Application Body -->
                    <div class="appBody clearfix">
                    <fieldset><legend></legend>
                        <p>{ we are not able to complete your request at this time for this device. }</p>

                        <p class="group">{ if you are concerned about the security of this device, please contact ups at 1-800-nnn-nnnn. }
                        <p>{ if you are concerned about the security of this device, please contact the ups fraud prevention group at <a href="repl_href">fraud@ups.com</a>. }</p>

                        <p>to learn more about how ups is protecting you against fraud, visit <a href="repl_href">protect against fraud</a>. }</p>
                    </fieldset>
                    </div>
                    <!-- End Application Body -->

                <!-- Begin Application Footer -->
                <div class="appFooter">
                    <!-- Begin Button Bar Row -->
                    <div class="btnBar">
                        <input name="" type="submit" value="continue" class="btnArw" />
                    </div>
                    <!-- End Button Bar Row -->
                </div>
                <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
