<form action="repl_fname">
	<!-- Begin SubTabs -->
	<ul id="subTab">
		<li class="tab-off"> <a href="repl_href"> package </a> </li>
		<li class="tab-on">freight</li>
	</ul>
	<!-- End SubTabs -->
	<div style="clear:both;"></div>
	<table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
		<tr>
			<th> <div class="head-colFull">
					<h2>Enter Freight Pickup Information</h2>
					<ul>
						<li class="helpmini"> <a href="repl_href"> help </a> </li>
					</ul>
					<div style="clear:both;"></div>
				</div>
			</th>
		</tr>
		<tr>
			<td><div class="introMod"> 
					<!-- Begin: Exception Error Message --> 
					<!--<p class="error">&gt;&gt;&gt; Error Message </p>--> 
					<!-- End: Exception Error Message -->
					<p>required fields are indicated with<img alt="" src="/img/icn_dia.gif" width="11" height="9" border="0">.</p>
				</div>
				
				<!-- Begin Module : pickup date and time -->
				
				<div id="step-1" class="stepModFixed4col">
					<div class="stepModHead">
						<h3>pickup date and time header</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
						<legend>pickup date and time header</legend>
						<div class="stepModContent">
							<div class="colL">
								<fieldset>
									<legend>pickup date selection</legend>
									<dl>
										<dt>
											<label for="">pickup date:</label>
										</dt>
										<dd>
											<select name="" id="">
												<option selected>{Pickup Date}</option>
											</select>
										</dd>
										<dd><strong>note:</strong> to facilitate the timely pickup of your same-day shipment, please submit your request before 3 p.m., local time. there may be additional charges for pickups occurring on weekends and holidays.</dd>
									</dl>
								</fieldset>
							</div>
							<div class="colR">
								<fieldset>
									<legend>pickup location</legend>
									<!-- Begin Message Box -->
									<div class="modMsg blu">
										<h3>air and ocean freight</h3>
										<div class="modMsgBase">
											<p>arrange to have your freight shipment pickup up by ups.</p>
											<ul class="lstNoPad">
												<li> <a href="repl_href" class="btnLnkR newwindowicon"> schedule an air or ocean freight pickup </a> </li>
											</ul>
											<p> need international palletized air freight? try our <a href="repl_href">ups worldwide express freight &#8480 ser</a> services </p>
										</div>
									</div>
									<!-- End Message Box -->
								</fieldset>
							</div>
							<div style="clear:both"></div>
							<dl>
								<dt>
									<label for="">when will your freight shipment be ready for ups to pick up?</label>
								</dt>
								<dd>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td><select name="repl_name" id="repl_id" class="" tabindex="">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
													<option>11</option>
													<option selected>12</option>
												</select></td>
											<td><select name="repl_name" id="repl_id" class="" tabindex="">
													<option selected>00</option>
													<option>15</option>
													<option>30</option>
													<option>45</option>
												</select></td>
											<td><input name="repl_name" id="repl_id" type="radio" value="repl_value" checked></td>
											<td>am</td>
											<td><input name="repl_name" id="repl_id" type="radio" value="repl_value"></td>
											<td>pm</td>
											<td class="mod-pad"><span class="reqTxtInst">(local time)</span></td>
										</tr>
									</table>
								</dd>
								<dt>
									<label for="">what is the latest time at which ups can pick up your freight shipment?</label>
								</dt>
								<dd> <span class="reqTxtInst">(e.g. closing time)</span>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td><select name="repl_name" id="repl_id" class="" tabindex="">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
													<option>11</option>
													<option selected>12</option>
												</select></td>
											<td><select name="repl_name" id="repl_id" class="" tabindex="">
													<option selected>00</option>
													<option>15</option>
													<option>30</option>
													<option>45</option>
												</select></td>
											<td><input name="repl_name" id="repl_id" type="radio" value="repl_value" checked></td>
											<td>am</td>
											<td><input name="repl_name" id="repl_id" type="radio" value="repl_value"></td>
											<td>pm</td>
											<td class="mod-pad"><span class="reqTxtInst">(local time)</span></td>
										</tr>
									</table>
								</dd>
							</dl>
							<ul class="lstArrow">
								<li> <a href="repl_href"> select a shipment from history </a> </li>
							</ul>
						</div>
					</fieldset>
				</div>
				
				<!-- End Module --> 
				
				<!-- Begin Module : pickup location -->
				
				<div id="step-2" class="stepModFixed4col">
					<div class="stepModHead">
						<h3>pickup location header</h3>
						<div style="clear:both;"></div>
					</div>
					{{#if pickup_location_default}}
					<fieldset>
						<legend>pickup location</legend>
						<div class="stepModContent">
							<dl>
								<dt>
									<label for="">Select from My Addresses</label>
								</dt>
								<dd>
									<select name="repl_name" id="repl_id" class="" tabindex="">
										<option selected>select one</option>
									</select>
									<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </dd>
							</dl>
							<div class="colL">
								<dl class="">
									<dt>
										<label for="">contact name:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
									<dt>
										<label for="">company or name</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
									<dt>
										<label for="">country or territory:</label>
									</dt>
									<dd>
										<select name="" id="">
											<option selected>select one</option>
											<option>united states</option>
										</select>
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </dd>
									<dt>
										<label for="">address line 1:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
									<dt>
										<label for="">address line 2:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<br>
										<span class="reqTxtInst">apartment, suite, unit, building, floor, etc.</span> </dd>
									<dt>
										<label for="">address line 3:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<br>
										<span class="reqTxtInst">department, c/o, etc.</span> </dd>
								</dl>
							</div>
							<div class="colR">
								<dl>
									<dt>
										<label for="">city:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
									<dt>
										<label for="">state:</label>
									</dt>
									<dd>
										<select name="" id="">
											<option selected>select one</option>
										</select>
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </dd>
									<dt>
										<label for="">zip code:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
								</dl>
								<dl class="flexFirst">
									<dt>
										<label for="">telephone:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
								</dl>
								<dl class="flexAfter">
									<dt>
										<label for="">ext.:</label>
									</dt>
									<dd>
										<input name="" type="text" size="5">
									</dd>
								</dl>
								<div style="clear:both"></div>
								<dl>
									<dt>
										<label for="">fax:</label>
									</dt>
									<dd>
										<input name="" type="text" id="">
									</dd>
									<dt>
										<label for="">e-mail:</label>
									</dt>
									<dd>
										<input name="" type="text" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </dd>
								</dl>
							</div>
						</div>
					</fieldset>
					{{/if}} 
					<!-- Selected from History BEGIN --> 
					{{#if pickup_location_selected_from_history}}
					<div class="stepModContent">
						<h4>pickup from:
							<label class="sel"> <a href="repl_href"> edit </a> </label>
						</h4>
						<dl class="outHozFlex">
							<dt>
								<label for="">contact:</label>
							</dt>
							<dd>{contact name}</dd>
						</dl>
						<div style="clear:both;"></div>
						<dl class="">
							<dt><span class="sel">{company or name}</span></dt>
							<dd>{address line 1}<br>
								{city}, {state}, {zip code}<br>
								{country or territory}</dd>
						</dl>
						<dl class="outHozFlex">
							<dt>
								<label for="">telephone:</label>
							</dt>
							<dd>telephone number</dd>
							<dt>
								<label for="">e-mail:</label>
							</dt>
							<dd>email@company.com</dd>
						</dl>
						<div style="clear:both;"></div>
					</div>
					<!-- Selected from History END --> 
					{{/if}} </div>
				
				<!-- End Module --> 
				
				<!-- Begin Module : Requestor's Information -->
				
				<div id="step-3" class="stepModFixed4col">
					<div class="stepModHead">
						<h3>requester's contact information</h3>
						<div style="clear:both;"></div>
					</div>
					<div class="stepModContent">
						<fieldset>
							<legend>requester's information</legend>
							<p>please provide contact information for your pickup request.</p>
							<div class="clearfix">
								<dl>
									<dt>
										<label for="">you are the:</label>
									</dt>
									<dd>
										<select name="" id="">
											<option selected>shipper</option>
										</select>
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> <br>
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td><input name="repl_name" type="checkbox" value="repl_value"></td>
												<td>contact information is the same as in pickup information</td>
											</tr>
										</table>
									</dd>
								</dl>
							</div>
							<div class="colL">
								<dl>
									<dt>
										<label for="">requester name:</label>
									</dt>
									<dd>
										<input name="" type="text" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
								</dl>
								<dl class="flexFirst">
									<dt>
										<label for="">telephone:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
								</dl>
								<dl class="flexAfter">
									<dt>
										<label for="">ext:</label>
									</dt>
									<dd>
										<input name="" type="text" size="5">
									</dd>
								</dl>
								<div style="clear:both"></div>
							</div>
							<div class="colR">
								<dl>
									<dt>
										<label for="">fax:</label>
									</dt>
									<dd>
										<input type="text" name="" id="">
									</dd>
									<dt>
										<label for="">e-mail:</label>
									</dt>
									<dd>
										<input name="" type="text" id="">
										<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
								</dl>
							</div>
						</fieldset>
					</div>
				</div>
				
				<!-- End Module : Requestor's Information --> 
				
				<!-- //// start July 11 ER //////////////////// --> 
				<!-- UIFS - Freight Pickup - Stand Alone - No POM --> 
				<!-- Begin Module : Other Pickup Services (optional) -->
				
				<div id="step-4" class="stepModFixed4col">
					<div class="stepModHead">
						<h3>other pickup services (optional)</h3>
						<span class="indent">
						<input id="" class="btnlnkL plusmini" type="button" value="show" name="">
						</span> <span class="indent">
						<input id="" class="btnlnkL minusMini" type="button" value="hide" name="">
						</span> </div>
					<div class="stepModContent">
						<fieldset>
							<legend>other pickup services</legend>
							<p class="error">[&gt;&gt;&gt; pom checkbox deselected, pom not available for zip or postal code mmessage here]</p>
							<p> <a href="repl_href" class="helpTerm"> weekend pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0"> </a> and <a href="repl_href" class="helpTerm"> holiday pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0"> </a> may be available for certain shipments; please call 1-800-333-7400 for assistance.</p>
							<div class="marginBegin subcol8 clearfix">
								<table border="0" cellpadding="0" cellspacing="0" role="presentation">
									<tbody>
										<tr>
											<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
											<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Inside Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
										</tr>
										<tr>
											<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
											<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Liftgate Service<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
										</tr>
										<tr>
											<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
											<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Residential Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
										</tr>
										<tr>
											<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
											<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Tradeshow Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="marginEnd subcol7 clearfix">
								<table border="0" cellpadding="0" cellspacing="0" role="presentation">
									<tbody>
										<tr>
											<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
											<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Freezable Protection<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
										</tr>
										<tr>
											<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
											<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Limited Access<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
										</tr>
										<tr>
											<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="extLengthFreight"></td>
											<td><label for="" class="sel"><a href="repl_href" class="helpTerm">Extreme Length<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0"> </a> (greater than 12 ft.)</label>
												<dl role="presentation" id="extLengthContainerFreight" style="display: none;">
													<dt>
														<label for="txtbox">Longest Side:</label>
														<span class="reqTxtInst">(in feet)</span> </dt>
													<dd>
														<input type="text" name="repl_name" id="txtbox" size="10">
													</dd>
												</dl></td>
										</tr>
									</tbody>
								</table>
							</div>
							<hr width="98%">
							<table width="100%" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td width="10"><input name="" type="checkbox" value="" id=""></td>
									<td><a href="repl_href" class="helpTerm"> pickup notifications for ltl<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0"> </a></td>
								</tr>
								<tr>
									<td width="10">&nbsp;</td>
									<td><dl>
											<dt>
												<label for="">country or territory:</label>
											</dt>
											<dd>
												<select name="" id="">
													<option selected>select one</option>
												</select>
												<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </dd>
										</dl>
										<dl class="flexFirst">
											<dt>
												<label for="">zip or postal code:</label>
											</dt>
											<dd>
												<input type="text" name="" id="">
												<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
										</dl>
										<dl class="flexAfter">
											<dt>
												<label for="">state:</label>
											</dt>
											<dd>
												<select name="" id="">
													<option selected>select one</option>
												</select>
												<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"></dd>
										</dl></td>
								</tr>
								<tr>
									<td width="10">&nbsp;</td>
									<td><p><strong>note:</strong> you will be able to enter extra information for this service on the next page.</p></td>
								</tr>
							</table>
						</fieldset>
					</div>
				</div>
				
				<!-- End Module --> 
				<!-- UIFS - Freight Pickup - Stand Alone - No POM --> 
				<!-- ///// stop July 11 ER //////////////////// --> 
				
				<!-- Begin Module : Shipment Information -->
				
				<div id="step-5" class="stepModFlex">
					<div class="stepModHead">
						<h3>shipment information</h3>
						<div style="clear:both;"></div>
					</div>
					<div class="stepModContent">
						<fieldset>
							<legend>shipment information</legend>
							<p>please provide shipment details for your pickup request.</p>
							<div class="modFlex"> {{#if commodity_detail_default}}
								<div class="modContent">
									<dl class="outHozFlex">
										<dt>you may enter details for up to 25 commodities.</dt>
										<dd> <a href="repl_href" class="btnlnkL viewmini"> search my commodity list </a> </dd>
									</dl>
									<table class="dataTable" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<th nowrap align="left" class="sec-pad"> <label> <a href="repl_href" class="helpTerm"> pieces<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0"> </a> </label>
												<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </th>
											<th nowrap align="left" class="sec-pad"> <label>destination<br>
													postal code</label>
												<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </th>
											<th nowrap align="left" class="sec-pad">&nbsp; </th>
											<th nowrap align="left" class="sec-pad"> <label>destination<br>
													country or territory</label>
											</th>
											<th nowrap align="left" class="sec-pad"> <label>description or<br>
													<a href="repl_href" class="helpTerm"> nmfc<img alt="" border="0" height="1" src="/img/1.gif" width="3"> </a> <img src="/img/icn_help_blue.gif" alt="NMFC" height="9" width="9" border="0"><img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </a> </label>
											</th>
											<th nowrap align="left" class="sec-pad"> <label>package type</label>
												<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </th>
											<th nowrap align="left" class="sec-pad"> <label>weight</label>
												<img src="/img/icn_dia.gif" alt="Required" width="11" height="9"> </th>
											<th nowrap align="left" class="sec-pad"> <label> <a href="repl_href" class="helpTerm"> hazmat<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="HazMat" height="9" width="9" border="0"> </a> </label></th>
										</tr>
										<tr class="sec-row-od">
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td class="sec-pad"><select name="repl_name" class="modSelSmall">
													<option>ca</option>
													<option>mx</option>
													<option>pr</option>
													<option>us</option>
													<option selected>aa</option>
												</select></td>
											<td class="sec-pad"><a href="repl_href">enter additional destination detail</a></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtMedium"></td>
											<td class="sec-pad"><select name="repl_name">
													<option selected>select packaging</option>
													<option>bag</option>
													<option>barrel</option>
													<option>basket</option>
													<option>bin ...</option>
													<option>... wrapper</option>
												</select></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td align="center" class="sec-pad"><input name="repl_name" type="checkbox" value=""></td>
										</tr>
										<tr class="sec-row-ev">
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall" ></td>
											<td class="sec-pad"><select name="repl_name" class="modSelSmall">
													<option>ca</option>
													<option>mx</option>
													<option>pr</option>
													<option>us</option>
													<option selected>aa</option>
												</select></td>
											<td class="sec-pad"><a href="repl_href">enter additional destination detail</a></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtMedium"></td>
											<td class="sec-pad"><select name="repl_name">
													<option selected>select packaging</option>
													<option>bag</option>
													<option>barrel</option>
													<option>basket</option>
													<option>bin ...</option>
													<option>... wrapper</option>
												</select></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td align="center" class="sec-pad"><input name="repl_name" type="checkbox" value=""></td>
										</tr>
										<tr class="sec-row-od">
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td class="sec-pad"><select name="repl_name" class="modSelSmall">
													<option>ca</option>
													<option>mx</option>
													<option>pr</option>
													<option>us</option>
													<option selected>aa</option>
												</select></td>
											<td class="sec-pad"><a href="repl_href">enter additional destination detail</a></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtMedium"></td>
											<td class="sec-pad"><select name="repl_name">
													<option selected>select packaging</option>
													<option>bag</option>
													<option>barrel</option>
													<option>basket</option>
													<option>bin ...</option>
													<option>... wrapper</option>
												</select></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td align="center" class="sec-pad"><input name="repl_name" type="checkbox" value=""></td>
										</tr>
										<tr class="sec-row-ev">
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall" ></td>
											<td class="sec-pad"><select name="repl_name" class="modSelSmall">
													<option>ca</option>
													<option>mx</option>
													<option>pr</option>
													<option>us</option>
													<option selected>aa</option>
												</select></td>
											<td class="sec-pad"><a href="repl_href">enter additional destination detail</a></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtMedium"></td>
											<td class="sec-pad"><select name="repl_name">
													<option selected>select packaging</option>
													<option>bag</option>
													<option>barrel</option>
													<option>basket</option>
													<option>bin ...</option>
													<option>... wrapper</option>
												</select></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td align="center" class="sec-pad"><input name="repl_name" type="checkbox" value=""></td>
										</tr>
										<tr class="sec-row-od">
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td class="sec-pad"><select name="repl_name" class="modSelSmall">
													<option>ca</option>
													<option>mx</option>
													<option>pr</option>
													<option>us</option>
													<option selected>aa</option>
												</select></td>
											<td class="sec-pad"><a href="repl_href">enter additional destination detail</a></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtMedium"></td>
											<td class="sec-pad"><select name="repl_name">
													<option selected>select packaging</option>
													<option>bag</option>
													<option>barrel</option>
													<option>basket</option>
													<option>bin ...</option>
													<option>... wrapper</option>
												</select></td>
											<td class="sec-pad"><input name="repl_name" type="text" class="modTxtSmall"></td>
											<td align="center" class="sec-pad"><input name="repl_name" type="checkbox" value=""></td>
										</tr>
										<tr>
											<td colspan="8" class="hr"><img src="/img/1.gif" alt="" width="1" height="1"></td>
										</tr>
										<tr align="right" class="sec-row-od">
											<td colspan="7" class="sec-pad"><label class="sel">add</label>
												<input name="repl_name" type="text" class="modTxtSmall">
												<label class="sel">more table rows.</label></td>
											<td class="sec-pad"><input name="repl_name" type="submit" value="go" class="btn_a"></td>
										</tr>
									</table>
								</div>
								{{/if}}
								<div class="stepModContent"> {{#if commodity_detail_selected_from_history}} 
									<!-- Selected from History BEGIN -->
									<p>you have associated the following bill of lading with this pickup request.</p>
									<dl class="outHozFlex">
										<dt>
											<label>pro number:</label>
										</dt>
										<dd>{123456789}</dd>
									</dl>
									<!-- Selected from History END --> 
									{{/if}}
									<dl>
										<dt>&nbsp;</dt>
										<dd>
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td><input type="checkbox" name="repl_name" value="">
														the freight shipment for this pickup request is <strong>guaranteed</strong>. <a href=""> what's this?<img height="1" width="3" border="0" src="/img/1.gif" alt=""><img height="9" width="9" border="0" src="/img/icn_help_blue.gif" alt=""> </a></td>
												</tr>
											</table>
										</dd>
										<dt class="">additional comments or instructions:</dt>
										<dd>
											<textarea class="full" rows="3" cols="40" name="repl_name"></textarea>
											<br>
											<span class="reqTxtInst">(60 character maximum)</span> </dd>
									</dl>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				
				<!-- End Module --> 
				
				<!-- Begin Module : New Pickup Request -->
				
				<div id="step-6" class="stepModFixed4col">
					<div class="stepModHead">
						<h3>new pickup request</h3>
						<div style="clear:both;"></div>
					</div>
					<div class="stepModContent">
						<fieldset>
							<legend>new pickup request</legend>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><input name="" type="checkbox" value="checkbox" checked></td>
									<td><label for="" class="sel">make a new freight pickup request after submitting this request</label></td>
								</tr>
							</table>
						</fieldset>
					</div>
				</div>
				
				<!-- End Module --></td>
		</tr>
		
		<!-- Begin Button Bar Row -->
		<tr>
			<td class="btn-bar"><div class="btn-colFull">
					<input name="repl_name" type="submit" value="next" class="btn_a">
				</div></td>
		</tr>
		<!--End Button Bar Row -->
	</table>
	
	<!-- Begin Note Table -->
	<div class="modContent">
		<table width="75%" border="0" cellpadding="0" cellspacing="0"  class="note">
			<tr>
				<td><p>the terms and conditions (include cargo liability) governing transportation services by ups freight are set forth in ups freight's rules & charges (tariff upgf 102), which can be accessed via</p>
					<p> <a href="repl_href"> http://ltl.upsfreight.com/shipping/rules/index.aspx<img height="1" border="0" width="3" src="/img/1.gif" alt=""><img height="9" border="0" width="9" alt="" src="/img/icn_popup_blue.gif"> </a> </p></td>
			</tr>
		</table>
	</div>
	<!-- End Note Table -->
</form>
