<form action="repl_fname">
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod" role="presentation">
            <tr>
                <th><div class="head-col4">
                        <h2>shipments under 151 lbs.</h2>
                        <div style="clear:both;"></div>
                    </div></th>
            </tr>
            <tr>
                <td><div class="introModFixed">
                        <!-- Begin: Exception Error Message -->
                        <!--<p class="error">&gt;&gt;&gt; Error Message </p>-->
                        <!-- End: Error Message -->
                        <p>based on the shipment weight that you have entered, your shipment may be eligible to be shipped via one of ups's package/letter shipping services. the freight service that you selected is typically intended for palletized shipments exceeding 150 lbs, or exceeding the ups small package size limitations. if you have incorrectly entered the weight of your shipment, you may go back and correct this information.</p>
                    </div>
                    
                    <!-- Begin Module -->
                    
                    <div class="modFixed4col">
                        <fieldset>
                            <table border="0" cellpadding="0" cellspacing="0" class="dataTable">
                                <tr class="odd">
                                    <td width="10" valign="top"><input type="radio" name="repl_group1" value="repl_1" checked></td>
                                    <td>continue with the selected freight service.<br>
                                        <input type="checkbox" name="checkboxName" value="repl_1">
                                        don't show me this message again</td>
                                </tr>
                                <tr>
                                    <td width="10" valign="top"><input type="radio" name="repl_group1" value="repl_2"></td>
                                    <td>modify the weight  of my freight shipment.</td>
                                </tr>
                                <tr class="odd">
                                    <td width="10" valign="top"><input type="radio" name="repl_group1" value="repl_3"></td>
                                    <td>use one of the following ups package services for my shipment.<br>
                                        <label for="repl_id">Service:</label>
                                        <br>
                                        <select name="temp">
                                            <option selected>select a package service</option>
                                        </select>
                                        <br>
                                        international palletized air freight shipments can select the ups worldwide express freight service choice above and then enter shipment details on the next page. </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                    
                    <!-- End Module --></td>
            </tr>
            <!-- Begin Button Bar Row -->
            <tr>
                <td class="btn-bar"><div class="btn-colFull">
                        <input name="repl_name" type="submit" value="{next}" class="btn">
                    </div></td>
            </tr>
            <!--End Button Bar Row -->
        </table>
    </form>