@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

.ui-widget input{
	&#emopa_cso_resia{
		&:focus{
			font-size: 0em !important;
		}
	}
}
#main {
	.appBody .presentation {
		padding-#{$opposite-direction}: 0px;
	}

    .dataTable.fht-table.fht-table-init {
      margin-top: -89px!important;
    }

    ul.lstBullet {
        font-family: $sans;
        li {
          background-image: none;

          &:before {
            @include ups-iconFont("\e633");
            font-size: 7px;
            line-height: 14px;
            vertical-align: top;
            padding-#{$opposite-direction}: 5px;
          }
        }
    }

    .secLvlPad {
      .scrollTable {
        margin-bottom: 15px;
        width: 500px;
        overflow-x: auto;
      }
    }

    .scrollTable {
      margin-bottom: 15px;
      width: 698px;
      overflow-x: scroll;
    }

    #repl_btname {
      margin: 10px 0;
    }

    img[src="/img/icn_calendar.gif"] {
      width: 14px;
    }

	#emopa_dsh_ordm, #emopa_dsh_ordh {

		.secBody {
			padding-#{$opposite-direction}: 0px;
		}

		.floatBegin {
			float: $default-float;
			/* width: 100%; */
			/* margin: 0; */
		}

		.step.secLvl {
			margin-bottom: 0px;
			/* margin-top: 7px; */
			margin-bottom: 7px;
		}

		.floatEnd {
			float: $opposite-direction;
			margin: 0;
			/* margin-top: 20px; */
			margin-bottom: 10px;

			.secBody {
				float: $opposite-direction;
			}
		}

		.marginEnd.subcol4 {
			width: auto;
		}

		.marginEnd.subcol6 {
			width: auto;
			padding-#{$opposite-direction}: 15px;
		}

		.scrollTable {
			overflow: auto;

			.btnlnkL {
				position: relative;
				width: 100%;

				&:before {
					position: absolute !important;
					top: 0;
					#{$default-float}: 0;
					content: '';
					width: 16px;
				}

				&.sortDownIcon:before {
					@include ups-iconFont("\e677");
				}

				&.sortUpIcon:before {
					@include ups-iconFont("\e67a");
				}
			}
		}
	}

	form#ct1_shi_eom_manage_formManageMarketplaces .appLvl.mod {
		width: 100%;
	}

	#emopa_ord_edit {
		display:block!important;
	}

	#emopa_ord_addd {
		.floatBegin, .floatEnd {
			width: auto;
		}
	}
}

#main .secLvl:not(.cmsMsg) .secBody dl dd {
	position:static;
}

.btnArwSingle.disabled , .btn.disabled {
    background: #e8e8e6 !important;
    color: #6e6e6e;
    cursor: not-allowed;
}
#main #emopa_dsh_ultb.subTab li {padding:5px 10px!important}

/* tab style changes per ema spec update */
div#main form ul.subTab.clearfix li.tab-off a {
    font-weight: normal;
    font-family: "BerlingskeSans", Tahoma, helvetica, arial, sans-serif;
}

div#main form ul.subTab.clearfix li.tab-on {
    font-weight: bold;
    border-bottom: none;
}

div#main form ul.subTab.clearfix li.tab-on a {
    text-decoration: none;
}

.secLvlPlain .secBody {
    float: left;
}
