{{#if fees_show }}
<!-- Detail Displayed -->
<div id="pnl_3_1">
    <div class="secBody clearfix">

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <dl role="presentation" class="outHozLedger group">
            <dt>
                <span class="label">Total Charge for Pickup:</span>
                <a href="repl_href" class="noprint">Hide Pickup Fee Details</a></dt>
            <dd>NN.NN USD</dd>
        </dl>
        <dl class="outHozLedger" role="presentation">
            <dt class="indent">
                <span class="sel">Pickup Fee Detail (Placeholder)</span>
            </dt>
            <dd>NN.NN USD</dd>
            <dt class="indent">
                <span class="sel">Pickup Fee Detail (Placeholder)</span>
            </dt>
            <dd>NN.NN USD</dd>
            <dt class="indent">
                <span class="sel">Pickup Fee Detail (Placeholder)</span>
            </dt>
            <dd>NN.NN USD</dd>
            <dt class="indent">
                <span class="sel">Pickup Fee Detail (PlaceHolder)</span>
            </dt>
            <dd>NN.NN USD</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Total Charge for Shipment:</span>
            </dt>
            <dd>NN.NN USD</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Total Charge for Taxes:</span>
            </dt>
            <dd>NN.NN USD</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">{Total Amount Due}:</span>
            </dt>
            <dd>NN.NN USD</dd>
        </dl>

        -->

        <div class="ups-group ups-group_condensed">
          <p class="ups-group_label">
            Total Charge for Pickup
            <span class="indent">
              <a href="#">Hide Pickup Fee Details</a>
              <span class="icon ups-icon-wedgeup" aria-hidden="true"></span>
            </span>
            <span class="pull-right">NN.NN USD</span>
          </p>
          <p class="indent">Pickup Fee Detail (Placeholder) <span class="pull-right">NN.NN USD</span></p>
          <p class="indent">Pickup Fee Detail (Placeholder) <span class="pull-right">NN.NN USD</span></p>
          <p class="indent">Pickup Fee Detail (Placeholder) <span class="pull-right">NN.NN USD</span></p>
          <p class="indent">Pickup Fee Detail (Placeholder) <span class="pull-right">NN.NN USD</span></p>
        </div>

        <p><strong>Total Charge for Shipment</strong> <span class="pull-right">NN.NN USD</span></p>

        <p><strong>Total Charge for Taxes</strong> <span class="pull-right">NN.NN USD</span></p>

        <p><strong>{Total Amount Due}</strong> <span class="pull-right">NN.NN USD</span></p>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

    </div>
</div>
{{/if}}

{{#if fees_hidden }}
<!-- Detail Hidden -->
<div id="pnl_3_2">
    <div class="secBody clearfix">

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <dl role="presentation" class="outHozLedger group">
            <dt>
                <span class="label">Total Charge for Pickup:</span>
                <a href="repl_href" class="noprint">Show Pickup Fee Details</a></dt>
            <dd>NN.NN USD</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Total Charge for Shipment:</span>
            </dt>
            <dd>NN.NN USD</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Total Charge for Taxes:</span>
            </dt>
            <dd>NN.NN USD</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">{Total Amount Due}:</span>
            </dt>
            <dd>NN.NN USD</dd>
        </dl>

        -->

        <div class="ups-group ups-group_condensed">
          <p class="ups-group_label">
            Total Charge for Pickup
            <span class="indent">
              <a href="#">Show Pickup Fee Details</a>
              <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
            </span>
            <span class="pull-right">NN.NN USD</span>
          </p>
        </div>

        <p><strong>Total Charge for Shipment</strong> <span class="pull-right">NN.NN USD</span></p>

        <p><strong>Total Charge for Taxes</strong> <span class="pull-right">NN.NN USD</span></p>

        <p><strong>{Total Amount Due}</strong> <span class="pull-right">NN.NN USD</span></p>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

    </div>
</div>
{{/if}}

{{#if fees_hidden_eu_ca_me }}
<!-- Detail Hidden - 1507 (Europe, Canada and Mexico) -->
<div id="pnl_3_3">
    <div class="secBody clearfix">

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <dl role="presentation" class="outHozLedger group">
            <dt>
                <span class="label"  >Total Charge for Pickup:</span>
                <a href="repl_href" class="noprint">Show Pickup Fee Details</a></dt>
            <dd>nnn,nn XXX</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label"  >Charges:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Total UPS Charges:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt>
                <span class="sel">{Tax 1}:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt>
                <span class="sel">{Tax 2}:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt>
                <span class="sel">{Tax 3}:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Total Charges:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
        </dl>

        -->

        <div class="ups-group ups-group_condensed">
          <p class="ups-group_label">
            Total Charge for Pickup
            <span class="indent">
              <a href="#">Show Pickup Fee Details</a>
              <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
            </span>
            <span class="pull-right">NN.NN USD</span>
          </p>
        </div>

        <p><strong>Charges</strong> <span class="pull-right">nnn,nn XXX</span></p>

        <div class="ups-group ups-group_condensed">
          <p class="ups-group_label">Total UPS Charges</p>
          <p class="indent">{Tax 1} <span class="pull-right">nnn,nn XXX</span></p>
          <p class="indent">{Tax 2} <span class="pull-right">nnn,nn XXX</span></p>
          <p class="indent">{Tax 3} <span class="pull-right">nnn,nn XXX</span></p>
        </div>

        <p><strong>Total Charges</strong> <span class="pull-right">nnn,nn XXX</span></p>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

    </div>
</div>
{{/if}}

{{#if fees_show_eu_ca_me }}
<!-- Detail Displayed - 1507 (Europe, Canada and Mexico) -->
<div id="pnl_3_4">
    <div class="secBody clearfix">

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <dl role="presentation" class="outHozLedger group">
            <dt>
                <span class="label"  >Total Charge for Pickup:</span>
                <a href="repl_href" class="noprint">Hide Pickup Fee Details</a></dt>
            <dd>nnn,nn XXX</dd>
        </dl>
        <dl class="outHozLedger" role="presentation">
            <dt class="indent">
                <span class="sel ">Pickup Fee Detail (Placeholder)</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt class="indent">
                <span class="sel">Pickup Fee Detail (Placeholder)</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt class="indent">
                <span class="sel">Pickup Fee Detail (Placeholder)</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt class="indent">
                <span class="sel">Pickup Fee Detail (PlaceHolder)</span>
            </dt>
            <dd>nnn,nn XXX</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Charges:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Total UPS Charges:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt>
                <span class="sel">{Tax 1}:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt>
                <span class="sel">{Tax 2}:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
            <dt>
                <span class="sel">{Tax 3}:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
        </dl>
        <dl role="presentation" class="outHozLedger">
            <dt>
                <span class="label">Total Charges:</span>
            </dt>
            <dd>nnn,nn XXX</dd>
        </dl>

        -->

        <div class="ups-group ups-group_condensed">
          <p class="ups-group_label">
            Total Charge for Pickup
            <span class="indent">
              <a href="#">Hide Pickup Fee Details</a>
              <span class="icon ups-icon-wedgeup" aria-hidden="true"></span>
            </span>
            <span class="pull-right">NN.NN USD</span>
          </p>
          <p class="indent">Pickup Fee Detail (Placeholder) <span class="pull-right">nnn,nn XXX</span></p>
          <p class="indent">Pickup Fee Detail (Placeholder) <span class="pull-right">nnn,nn XXX</span></p>
          <p class="indent">Pickup Fee Detail (Placeholder) <span class="pull-right">nnn,nn XXX</span></p>
          <p class="indent">Pickup Fee Detail (Placeholder) <span class="pull-right">nnn,nn XXX</span></p>
        </div>

        <p><strong>Charges</strong> <span class="pull-right">nnn,nn XXX</span></p>

        <div class="ups-group ups-group_condensed">
          <p class="ups-group_label">Total UPS Charges</p>
          <p class="indent">{Tax 1} <span class="pull-right">nnn,nn XXX</span></p>
          <p class="indent">{Tax 2} <span class="pull-right">nnn,nn XXX</span></p>
          <p class="indent">{Tax 3} <span class="pull-right">nnn,nn XXX</span></p>
        </div>

        <p><strong>Total Charges</strong> <span class="pull-right">nnn,nn XXX</span></p>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

    </div>
</div>
{{/if}}
