{{#unless dropoff_hold }}
<!-- Pickup - Drop-off Time - Default-->
    <!-- Set Section Lvl -->
    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Pickup Date and Time</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">
              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

                <dl role="presentation" >
                    <dt>
                        <span class="label">Pickup Date:</span>
                    </dt>
                    <dd>{pickup date}</dd>
                </dl>

                    <!-- Begin Interior Column 1 ->
                    <div class="subcol9 marginBegin">
                        <dl role="presentation" >
                            <dt>
                                <span class="label" >Earliest Pickup:</span>
                            </dt>
                            <dd>{pickup time}</dd>
                            <dt>
                                <span class="label" >Latest Pickup:</span>
                            </dt>
                            <dd>{latest pickup time}</dd>
                        </dl>
                    </div>
                    <!-- End Interior Column 1 -->
                    <!-- Begin Interior Column 2 ->
                    <div class="subcol9">
                        <dl role="presentation" >
                            <dt>
                                <span class="label" >Start of Lunch Period:</span>
                            </dt>
                            <dd>{start of lunch period}</dd>
                            <dt>
                                <span class="label" >End of Lunch Period:</span>
                            </dt>
                            <dd>{end of lunch period}</dd>
                        </dl>
                    </div>
                    <!-- End Interior Column 2 -->

                    <div class="ups-group ups-group_condensed">
                      <p class="ups-group_label">Pickup Date</p>
                      <p>{pickup date}</p>
                    </div>

                    <div class="row">

                      <div class="col-xs-6">
                        <div class="ups-group ups-group_condensed">
                          <p class="ups-group_label">Earliest Pickup</p>
                          <p>{dynamic earliest time}</p>
                        </div>

                        <div class="ups-group ups-group_condensed">
                          <p class="ups-group_label">Latest Pickup</p>
                          <p>{latest pickup time}</p>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="ups-group ups-group_condensed">
                          <p class="ups-group_label">Start of Lunch Period</p>
                          <p>{start of lunch period}</p>
                        </div>

                        <div class="ups-group ups-group_condensed">
                          <p class="ups-group_label">End of Lunch Period</p>
                          <p>{end of lunch period}</p>
                        </div>
                      </div>

                    </div>

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

            </div>
            <!-- End Section Body -->
            <!-- Begin Section Footer -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->
    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Pickup Address</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

                <dl role="presentation" class="outHozFlex clearfix">
                    <dt>
                        <span class="label">Company or Name:</span>
                    </dt>
                    <dd>{Company or Name}</dd>
                    <dt>
                        <span class="label">Contact Name:</span>
                    </dt>
                    <dd>{Contact Name}</dd>
                    <dd>{Address}</dd>
                    <dd>{City}, {State} {ZIP Code}</dd>
                </dl>

              -->

                <div class="ups-group ups-group_condensed">
                  <p class="ups-group_label">Company or Name</p>
                  <p>{Company or Name}</p>
                </div>

                <div class="ups-group ups-group_condensed">
                  <p class="ups-group_label">Contact Name</p>
                  <p>{Contact Name}</p>
                  <p>{Address}</p>
                  <p>{City}, {State} {ZIP Code}</p>
                </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->
            </div>
            <!-- End Section Body -->
            <!-- Begin Section Footer -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->

    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Pickup Information</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

                <dl role="presentation" class="outHozFixed clearfix">
                    <dt>
                        <span class="label">Telephone:</span>
                    </dt>
                    <dd>{Telephone}</dd>
                    <dt>
                        <span class="label">Pick Up From:</span>
                    </dt>
                    <dd>{Pickup From}</dd>
                    <dt>
                        <span class="label">Special Instructions:</span>
                    </dt>
                    <dd>{Special Instructions}</dd>
                    <dt>
                        <span class="label">Send Pickup Notifications To:</span>
                    </dt>
                    <dd>{Mobile Number}<br/>
                        {E-mail Address}<br/>
                        {E-mail Address}<br/>
                        {E-mail Address}</dd>
                </dl>

              -->

                <div class="row ups-group">
                  <div class="col-xs-5">
                    <p><strong>Telephone</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{Telephone}</p>
                  </div>
                </div>

                <div class="row ups-group">
                  <div class="col-xs-5">
                    <p><strong>Pick Up From</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{Pickup From}</p>
                  </div>
                </div>

                <div class="row ups-group">
                  <div class="col-xs-5">
                    <p><strong>Special Instructions</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{Special Instructions}</p>
                  </div>
                </div>

                <div class="row ups-group">
                  <div class="col-xs-5">
                    <p><strong>Send Pickup Notifications To</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <div class="ups-group ups-group_condensed">
                      <p>{Mobile Number}</p>
                      <p>{E-mail Address}</p>
                      <p>{E-mail Address}</p>
                      <p>{E-mail Address}</p>
                    </div>
                  </div>
                </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>
            <!-- End Section Body -->
            <!-- Begin Section Footer -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->
    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Delivery Information</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">
              <p>You requested UPS deliver your UPS Worldwide Express Freight Shipment.</p>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

              <dl role="presentation" >
                  <dt>
                      <span class="label">Ship To:</span>
                  </dt>
                  <dd>[Country or Territory]</dd>
              </dl>
              <div class="clear"></div>

              -->

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Ship To</p>
                <p>[Country or Territory]</p>
              </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>
            <!-- End Section Body -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->
    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Shipment Information</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

                <dl role="presentation" class="outHozFixed clearfix">
                    <dt>
                        <span class="label">Total Number of Packages:</span>
                    </dt>
                    <dd>{n}</dd>
                    <dt>
                        <span class="label">Services Selected:</span>
                    </dt>
                    <dd>{service}, {service}, {service}...</dd>
                    <dt>
                        <span class="label">Total Shipment Weight:</span>
                    </dt>
                    <dd>{n} {lbs/kg}</dd>
                    <!-- ///////////////////////////////////////////// ->
                    <dt>
                        <span class="label">Dimensions of Largest Pallet:</span>
                    </dt>
                    <dd>[00] x [00] x [00] [in/cm]</dd>
                    <dt>
                        <span class="label">Shipment Contains Danergous Goods:</span>
                    </dt>
                    <dd>[Yes/No]</dd>
                    <!-- /////////////////////////////////////////// ->
                    <dt>
                        <span class="label">Pickup Reference:</span>
                    </dt>
                    <dd>{ABCD1234}, ...</dd>
                </dl>

              -->

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Total Number of Packages</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{n}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Services Selected</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{service}, {service}, {service}...</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Total Shipment Weight</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{n} {lbs/kg}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Dimensions of Largest Pallet</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>[00] x [00] x [00] [in/cm]</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Shipment Contains Danergous Goods</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>[Yes/No]</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Pickup Reference</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{ABCD1234...}</p>
                </div>
              </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>
            <!-- End Section Body -->
            <!-- Begin Section Footer -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->
    <!-------------------------------------------------->
    <!-- End Section Lvl -->
{{/unless}}

{{#if dropoff_hold }}
<!-- Pickup - Drop-off Time - Drop-off Hold-->
    <!-- Set Section Lvl -->
    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Drop-off Date and Time header</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">
                <p>Customer elected to drop off this shipment.</p>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!--

                <dl role="presentation" class="outHozFixed clearfix">
                    <dt>
                        <span class="label">Drop-off Date:</span>
                    </dt>
                    <dd>[drop-off date]</dd>
                    <dt>
                        <span class="label">Shipment drop off-time:</span>
                    </dt>
                    <dd>[hh:mm] [AM/PM]</dd>
                </dl>
                <div class="clear"></div>
                <dl role="presentation">
                    <dt>
                        <span class="label">[Location/Facility Name]</span>
                    </dt>
                    <dd>[Address 1]</dd>
                    <dd>[City], [Other], [State] [ZIP/Postal Code]</dd>
                    <dd>[Country or Territory]</dd>
                    <dd>telephone: [Number]</dd>
                    <dd>Fax: [Number]</dd>
                    <dt>
                        <span class="label">Hours of Operation:</span>
                    </dt>
                    <dd>[Weekday] hh:mm AM to hh:mm PM</dd>
                    <dt>
                        <span class="label">UPS Location Latest Drop-off Time:</span>
                    </dt>
                    <dd>hh:mm PM</dd>
                </dl>

              -->

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Drop-off Date</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>[drop-off date]</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Shipment drop-off time</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>[hh:mm] [AM/PM]</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-7">
                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">[Location/Facility Name]</p>
                    <p>[Address 1]</p>
                    <p>[City], [Other], [State] [ZIP/Postal Code]</p>
                    <p>[Country or Territory]</p>
                    <p>Telephone: [number]</p>
                    <p>Fax: [number]</p>
                  </div>
                </div>
              </div>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Hours of Operation</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
              </div>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">UPS Location Latest Drop-off Time</p>
                <p>hh:mm PM</p>
              </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>
            <!-- End Section Body -->
            <!-- Begin Section Footer -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->
    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Pickup Information</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

                <dl role="presentation" class="outHozFlex clearfix">
                    <dt>
                        <span class="label"  >Company or Name:</span>
                    </dt>
                    <dd>{Company or Name}</dd>
                    <dt>
                        <span class="label"  >Contact Name:</span>
                    </dt>
                    <dd>{Contact Name}</dd>
                    <dd>{Address}</dd>
                    <dd>{City}, {State} {ZIP Code}</dd>
                </dl>
                <dl role="presentation" class="outHozFixed clearfix">
                    <dt>
                        <span class="label"  >Telephone:</span>
                    </dt>
                    <dd>{Telephone}</dd>
                    <dt>
                        <span class="label"  >Special Instructions:</span>
                    </dt>
                    <dd>{Special Instructions}</dd>
                    <dt>
                        <span class="label"  >Send Pickup Notifications To:</span>
                    </dt>
                    <dd>{Mobile Number}<br/>
                        {E-mail Address}<br/>
                        {E-mail Address}<br/>
                        {E-mail Address}</dd>
                </dl>

              -->

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Company or Name</p>
                <p>{Company or Name}</p>
              </div>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Contact Name</p>
                <p>{Contact Name}</p>
                <p>{Address}</p>
                <p>{City}, {State} {ZIP Code}</p>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Telephone</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{Telephone}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Special Instructions</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{Special Instructions}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <strong>Send Pickup Notifications To</strong>
                </div>
                <div class="col-xs-7">
                  <div class="ups-group ups-group_condensed">
                    <p>{Mobile Number}</p>
                    <p>{E-mail Address}</p>
                    <p>{E-mail Address}</p>
                    <p>{E-mail Address}</p>
                  </div>
                </div>
              </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>
            <!-- End Section Body -->
            <!-- Begin Section Footer -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->
    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Delivery Information</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">
                <p>You requested UPS deliver your UPS Worldwide Express Freight Shipment.</p>
                <p><strong>Shipment will be held for pick up at this UPS Location:</strong></p>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!--

                <div class="marginBegin subcol7 clearfix">
                    <p><strong>[Location/Facility Name]</strong><br>
                        [Address 1]<br>
                        [City], [Other], [State] [ZIP/Postcal Code]<br>
                        [Country or Territory]<br>
                        Telephone: [Number]<br>
                        Fax: [Number]</p>
                </div>
                <div class="marginEnd subcol7 clearfix">
                    <p><strong>Hours of Operation:</strong><br>
                        [Weekday] hh:mm AM to hh:mm PM<br>
                        [Weekday] hh:mm AM to hh:mm PM<br>
                        [Weekday] hh:mm AM to hh:mm PM<br>
                        ...<br>
                        [Sunday][Closed]</p>
                </div>
                <div class="clear"></div>

              -->

              <div class="row">
                <div class="col-xs-5">
                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">[Location/Facility Name]</p>
                    <p>[Address 1]</p>
                    <p>[City], [Other], [State] [ZIP/Postal Code]</p>
                    <p>[Country or Territory]</p>
                    <p>Telephone: [number]</p>
                    <p>Fax: [number]</p>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">Hours of Operation</p>
                    <p>[Weekday] hh:mm AM to hh:mm PM</p>
                    <p>[Weekday] hh:mm AM to hh:mm PM</p>
                    <p>[Weekday] hh:mm AM to hh:mm PM</p>
                    <p>...</p>
                    <p>[Sunday][Closed]</p>
                  </div>
                </div>
              </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>
            <!-- End Section Body -->
            <!-- Begin Section Footer -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->
    <!-- Begin Section Module -->

        <div class="secLvl step">
            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
                <h3>Shipment Information</h3>
            </div>
            <!-- End Header Bar -->
            <!-- Begin Section Body -->
            <div class="secBody clearfix">

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

                <dl role="presentation" class="outHozFixed clearfix">
                    <dt>
                        <span class="label"  >Total Number of Packages:</span>
                    </dt>
                    <dd>{00}</dd>
                    <dt>
                        <span class="label"  >Services Selected:</span>
                    </dt>
                    <dd>[WW Express Freight]</dd>
                    <dt>
                        <span class="label"  >Total Shipment Weight:</span>
                    </dt>
                    <dd>{0000} {lbs/kg}</dd>
                    <!-- ///////////////////////////////////////////// ->
                    <dt>
                        <span class="label">Dimensions of Largest Pallet:</span>
                    </dt>
                    <dd>[00] x [00] x [00] [in/cm]</dd>
                    <dt>
                        <span class="label">Shipment Contains Danergous Goods:</span>
                    </dt>
                    <dd>[Yes/No]</dd>
                    <!-- /////////////////////////////////////////// ->
                    <dt>
                        <span class="label"  >Pickup Reference:</span>
                    </dt>
                    <dd>{ABCD1234}, ...</dd>
                </dl>

              -->

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Total Number of Packages</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{00}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Services Selected</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>[WW Express Freight]</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Total Shipment Weight</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{0000} {lbs/kg}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Dimensions of Largest Pallet</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>[00] x [00] x [00] [in/cm]</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Shipment Contains Danergous Goods</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>[Yes/No]</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>Pickup Reference</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{ABCD1234...}</p>
                </div>
              </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>
            <!-- End Section Body -->
            <!-- Begin Section Footer -->
            <!-- End Section Footer -->
        </div>

    <!-- End Section Module -->
    <!-------------------------------------------------->
    <!-- End Section Lvl -->
{{/if}}
