{{#if payment_default }}
<div id="pnl_2_1" class="secBody clearfix">
    <h4>Bill to:</h4>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <dl role="presentation" class="outHozFixed clearfix">
        <dt>
            <span class="label"  >{UPS Account Number Label}:</span>
        </dt>
        <dd>{UPS Account Number}</dd>
        <dt>
            <span class="label"  >{ZIP Code Label}:</span>
        </dt>
        <dd>{ZIP Code}</dd>
        <dt>
            <span class="label"  >{Country or Territory Label}:</span>
        </dt>
        <dd>{Country or Territory Code}</dd>
    </dl>

    -->

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>{UPS Account Number Label}</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{UPS Account Number}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>{ZIP Code Label}</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{ZIP Code}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>{Country or Territory Label}</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{Country or Territory Code}</p>
      </div>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

</div>
{{/if}}

{{#if payment_cc }}
<!-- Credit Card -->
<div id="pnl_2_2" class="secBody clearfix">
    <h4>Bill to:</h4>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <dl role="presentation" class="outHozFixed clearfix">
        <dt>
            <span class="label"  >Payment Card Type:</span>
        </dt>
        <dd>{Payment Card Type}</dd>
        <dt>
            <span class="label"  >Payment Card Number:</span>
        </dt>
        <dd>{XXXX-XXXX-XXXX-NNNN}</dd>
        <dt>
            <span class="label"  >Expiration</span>
        </dt>
        <dd>{MM/YYYY}</dd>
        <dt>
            <span class="label"  >Cardholder Name:</span>
        </dt>
        <dd>{Cardholder Name}</dd>
    </dl>

    -->

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>Payment Card Type</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{Payment Card Type}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>Payment Card Number</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{XXXX-XXXX-XXXX-NNNN}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>Expiration</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{MM/YYYY}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>Cardholder Name</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{Cardholder Name}</p>
      </div>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

</div>
{{/if}}

{{#if payment_receiver }}
<!-- Receiver or Third Party -->
<div id="pnl_2_3" class="secBody clearfix">
    <h4>Bill to:</h4>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <dl role="presentation" class="outHozFixed clearfix">
        <dt>
            <span class="label"  >UPS Account Number:</span>
        </dt>
        <dd>{UPS Account Number}</dd>
        <dt>
            <span class="label"  >ZIP Code:</span>
        </dt>
        <dd>{ZIP Code}</dd>
        <dt>
            <span class="label"  >Country or Territory:</span>
        </dt>
        <dd>{Country or Territory Code}</dd>
        <dt>
            <span class="label"  >{Receiver} UPS Account Number:</span>
        </dt>
        <dd>{Receiver or Third Party} UPS Account Number}</dd>
        <dt>
            <span class="label"  >{Receiver} ZIP Code:</span>
        </dt>
        <dd>{Receiver or Third Party} ZIP Code}</dd>
    </dl>

    -->

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>UPS Account Number</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{UPS Account Number}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>ZIP Code</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{ZIP Code}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>Country or Territory</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{Country or Territory Code}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>{Receiver} UPS Account Number</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{Receiver or Third Party UPS Account Number}</p>
      </div>
    </div>

    <div class="row ups-group">
      <div class="col-xs-5">
        <p><strong>{Receiver} ZIP Code</strong></p>
      </div>
      <div class="col-xs-7">
        <p>{Receiver or Third Party ZIP Code}</p>
      </div>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

</div>
{{/if}}

{{#if payment_ww_express }}
<!-- WW Express Freight Notice -->
<div id="pnl_2_4" class="secBody clearfix">
    <h4>Bill to:</h4>
    <p><strong>Note:</strong> Pickup charges are included in the UPS Worldwide Express Freight&#8480; service fees. If you do not already have shipping labels then transportation charges will still apply when shipping labels are generated.</p>
</div>
{{/if}}

{{#if payment_cash }}
<!-- Cash / Check / Money Order -->
<div id="pnl_2_5" class="secBody clearfix">
    <p>Customer selected {Cash}. The UPS driver will collect your funds at time of pickup.</p>
</div>
{{/if}}
