// ----------------------------------------------------
// MEDIUM-MID BREAKPOINT GRID
// ----------------------------------------------------

@media (min-width: $screen-mdMid) {
    .container { width: 840px; }

    .col-mdMid-1, .col-mdMid-2, .col-mdMid-3, .col-mdMid-4, .col-mdMid-5, .col-mdMid-6, .col-mdMid-7, .col-mdMid-8, .col-mdMid-9, .col-mdMid-10, .col-mdMid-11, .col-mdMid-12 { float: $default-float; }
    .col-mdMid-1 { width: 8.33333%; }
    .col-mdMid-2 { width: 16.66667%; }
    .col-mdMid-3 { width: 25%; }
    .col-mdMid-4 { width: 33.33333%; }
    .col-mdMid-5 { width: 41.66667%; }
    .col-mdMid-6 { width: 50%; }
    .col-mdMid-7 { width: 58.33333%; }
    .col-mdMid-8 { width: 66.66667%; }
    .col-mdMid-9 { width: 75%; }
    .col-mdMid-10 { width: 83.33333%; }
    .col-mdMid-11 { width: 91.66667%; }
    .col-mdMid-12 { width: 100%; }
    .col-mdMid-pull-0 { #{$opposite-direction}: auto; }
    .col-mdMid-pull-1 { #{$opposite-direction}: 8.33333%; }
    .col-mdMid-pull-2 { #{$opposite-direction}: 16.66667%; }
    .col-mdMid-pull-3 { #{$opposite-direction}: 25%; }
    .col-mdMid-pull-4 { #{$opposite-direction}: 33.33333%; }
    .col-mdMid-pull-5 { #{$opposite-direction}: 41.66667%; }
    .col-mdMid-pull-6 { #{$opposite-direction}: 50%; }
    .col-mdMid-pull-7 { #{$opposite-direction}: 58.33333%; }
    .col-mdMid-pull-8 { #{$opposite-direction}: 66.66667%; }
    .col-mdMid-pull-9 { #{$opposite-direction}: 75%; }
    .col-mdMid-pull-10 { #{$opposite-direction}: 83.33333%; }
    .col-mdMid-pull-11 { #{$opposite-direction}: 91.66667%; }
    .col-mdMid-pull-12 { #{$opposite-direction}: 100%; }
    .col-mdMid-push-0 { #{$default-float}: auto; }
    .col-mdMid-push-1 { #{$default-float}: 8.33333%; }
    .col-mdMid-push-2 { #{$default-float}: 16.66667%; }
    .col-mdMid-push-3 { #{$default-float}: 25%; }
    .col-mdMid-push-4 { #{$default-float}: 33.33333%; }
    .col-mdMid-push-5 { #{$default-float}: 41.66667%; }
    .col-mdMid-push-6 { #{$default-float}: 50%; }
    .col-mdMid-push-7 { #{$default-float}: 58.33333%; }
    .col-mdMid-push-8 { #{$default-float}: 66.66667%; }
    .col-mdMid-push-9 { #{$default-float}: 75%; }
    .col-mdMid-push-10 { #{$default-float}: 83.33333%; }
    .col-mdMid-push-11 { #{$default-float}: 91.66667%; }
    .col-mdMid-push-12 { #{$default-float}: 100%; }
    .col-mdMid-offset-0 { margin-#{$default-float}: 0%; }
    .col-mdMid-offset-1 { margin-#{$default-float}: 8.33333%; }
    .col-mdMid-offset-2 { margin-#{$default-float}: 16.66667%; }
    .col-mdMid-offset-3 { margin-#{$default-float}: 25%; }
    .col-mdMid-offset-4 { margin-#{$default-float}: 33.33333%; }
    .col-mdMid-offset-5 { margin-#{$default-float}: 41.66667%; }
    .col-mdMid-offset-6 { margin-#{$default-float}: 50%; }
    .col-mdMid-offset-7 { margin-#{$default-float}: 58.33333%; }
    .col-mdMid-offset-8 { margin-#{$default-float}: 66.66667%; }
    .col-mdMid-offset-9 { margin-#{$default-float}: 75%; }
    .col-mdMid-offset-10 { margin-#{$default-float}: 83.33333%; }
    .col-mdMid-offset-11 { margin-#{$default-float}: 91.66667%; }
    .col-mdMid-offset-12 { margin-#{$default-float}: 100%; }
}


