---
title: Tracking Details
appId: visibility
dir: rtl
lang: ar
ang2: true
ang2ID: visibility
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-application_wrapper">
		<div>
            <!-- add UZ script here -->
            <script type="text/javascript" charset="utf-8" src="https://cdn3.userzoom.com/
uz.js?cuid=C268"></script>
            <!-- UserZoom uztracker() -->
            <script>
            (function(w){ w.uztracker = w.uztracker || function(){ console.warn && console.warn('The
            uztracker() is not available.'); }; })(window);
            </script>
            <!-- End UserZoom uztracker() -->
			<ups-tracking-app>Loading...</ups-tracking-app>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
