<!-- Begin Application Module -->

<div class="appLvl mod ups-application_wrapper ups-form_wrap">

  <!-- Begin Application Header -->

  <div class="appHead clearfix">

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--<h2>view pickup application header</h2>
    <ul>
      <li><a href="" class="btnlnkR printIconR">Print</a></li>
    </ul>-->
    <h2>View Pickup</h2>
    <span class="pull-right">
      <span class="icon ups-icon-print"></span> <a href="#">Print</a>
    </span>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->
  </div>

  <!-- End Application Header -->

  <!-- Begin Application Body -->

  <div class="appBody clearfix">
  <!-- ************************************** -->
  <!-- REDESIGN EDIT: Start part of re-design -->
  <!-- ************************************** -->
  <!--

    <dl role="presentation" class="outHozLedger">
      <dt>
        <label>pickup request label:</label>
      </dt>
      <dd>{<a href="" class="btnlnkR newwindowIconR">dynamic pickup request number link</a>}</dd>
      <dt>
        <label>total amount label:</label>
      </dt>
      <dd>{dynamic nn.nn USD}</dd>
  </dl>

  -->

  <div class="row ups-group">
      <div class="col-xs-6">
          <p><strong>Pickup Request</strong></p>
      </div>
      <div class="col-xs-6">
          <p class="pull-right">{<a href="" class="ups-link_light">dynamic pickup request number link</a> <span class="icon ups-icon-newwindow" aria-hidden="true"></span>}</p>
      </div>
  </div>

  <!-- ************************************ -->
  <!-- REDESIGN EDIT: End part of re-design -->
  <!-- ************************************ -->

    <!-- Set Section Lvl -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>scheduling information header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">
          <p>{dynamic processed paragraph text.}</p>
        </div>

        <!-- End Section Body -->

        <!-- Begin Section Footer --><!-- End Section Footer -->

      </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->
      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>pickup date section header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <dl role="presentation" >
            <dt>
              <label for="">pickup date label:</label>
            </dt>
            <dd>{dynamic pickup date text}</dd>
          </dl>
          <fieldset>

            <!-- Begin Interior Column 1 ->

            <div class="subcol9 marginBegin">
              <dl role="presentation" >
                <dt>
                  <label>earliest pickup label:</label>
                </dt>
                <dd>{dynamic pickup text}</dd>
                <dt>
                  <label>latest pickup label:</label>
                </dt>
                <dd>{dynamic latest pickup text}</dd>
              </dl>
            </div>

            <!-- End Interior Column 1 -->

            <!-- Begin Interior Column 2 ->

            <div class="subcol9">
              <dl role="presentation" >
                <dt>
                  <label>lunch period label:</label>
                </dt>
                <dd>{dynamic lunch text}</dd>
                <dt>
                  <label>end of lunch label:</label>
                </dt>
                <dd>{dynamic end of lunch period}</dd>
              </dl>
            </div>

            <!-- End Interior Column 2 ->

          </fieldset>

          -->

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">Pickup Date</p>
            <p>{pickup date}</p>
          </div>

          <div class="row">

            <div class="col-xs-6">
              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Earliest Pickup</p>
                <p>{dynamic earliest time}</p>
              </div>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Latest Pickup</p>
                <p>{latest pickup time}</p>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Start of Lunch Period</p>
                <p>{start of lunch period}</p>
              </div>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">End of Lunch Period</p>
                <p>{end of lunch period}</p>
              </div>
            </div>

          </div>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->
        </div>

        <!-- End Section Body -->

        <!-- Begin Section Footer --><!-- End Section Footer -->

      </div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>pickup information section header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">

          <!-- END (Results) -->

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <fieldset>

            <!-- Begin Interior Column 1 ->

            <div class="subcol9 marginBegin">
              <div class="subcol9 marginBegin">
                <dl role="presentation" >
                  <dt>
                    <label>pickup address label:</label>
                  </dt>
                  <dd>{dynamic company or name}</dd>
                  <dd>{dynamic address line 1}</dd>
                  <dd>{dynamic city}, {dynamic state} {dynamic zip}</dd>
                  <dd>{dynamic country or territory}</dd>
                </dl>
              </div>
            </div>

            <!-- End Interior Column 1 -->

            <!-- Begin Interior Column 2 ->

            <div class="subcol9">
              <dl role="presentation" class="outHozFlex clearfix">
                <dt>
                  <label for="">telephone label:</label>
                </dt>
                <dd>{dynamic telephone}</dd>
                <dt>
                  <label for="">pick up from label:</label>
                </dt>
                <dd>{dynamic pickup from}</dd>
              </dl>
            </div>

            <!-- End Interior Column 2 ->

          </fieldset>

          <!-- (Results) -->

          <!-- (Results - If Address Determined by Account Number) ->

          <dl role="presentation" class="group">
            <dt>
              <label for="">pickup paragraph label.</label>
            </dt>
            <dd>{to view paragraph, <a href="" class="btnlnkR newwindowIconR">new window link</a>}</dd>
          </dl>

          <!-- END (Results - If Address Determined by Account Number) ->

          <dl role="presentation" class="outHozFixed clearfix">
            <dt>
              <label for="">special instructions label:</label>
            </dt>
            <dd>{dynamic special instructions}</dd>
            <dt>
              <label for="">e-mail notifications label:</label>
            </dt>
            <dd>{dynamic e-mail address}<br/>
              {dynamic e-mail address}</dd>
          </dl>

          -->

          <div class="row">

            <div class="col-xs-6">
              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">pickup address label</p>
                <p>{dynamic company or name}</p>
                <p>{dynamic address line 1}</p>
                <p>{dynamic city}, {dynamic state} {dynamic zip}</p>
                <p>{dynamic country or territory}</p>
              </div>
            </div>

            <div class="col-xs-6">

              <div class="row ups-group">
                <div class="col-xs-6">
                  <p><strong>telephone label</strong></p>
                </div>
                <div class="col-xs-6">
                  <p>{dynamic telephone}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-6">
                  <p><strong>pick up from label</strong></p>
                </div>
                <div class="col-xs-6">
                  <p>{dynamic pickup from}</p>
                </div>
              </div>

            </div>

          </div>

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">pickup paragraph label.</p>
            <p>{to view paragraph, <a href="#">new window link</a> <span class="icon ups-icon-newwindow" aria-hidden="true"></span>}</p>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>special instructions label</strong></p>
            </div>
            <div class="col-xs-7">
              <p>{dynamic special instructions}</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>e-mail notifications label</strong></p>
            </div>
            <div class="col-xs-7">
              <div class="ups-group ups-group_condensed">
                <p>{dynamic e-mail address}</p>
                <p>{dynamic e-mail address}</p>
              </div>
            </div>
          </div>

        <!-- ************************************ -->
        <!-- REDESIGN EDIT: End part of re-design -->
        <!-- ************************************ -->

        </div>

        <!-- End Section Body -->

        <!-- Begin Section Footer --><!-- End Section Footer -->

      </div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- ////////////////////////////// -->

    <!-- Begin Schedule a Pickup (1304) -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->
      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>delivery information header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">
          <p>You requested... dynamic paragraph.</p>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <dl role="presentation" >
            <dt>
              <label for="repl_id">Ship To:</label>
            </dt>
            <dd>[country or territory]</dd>
          </dl>
          <p><span class="label">shipment will be held for pick up... text</span></p>
          <dl role="presentation" class="flexFirstPad clearfix">
            <dt>
              <label for="">[location/facility name]</label>
            </dt>
            <dd>[address 1]</dd>
            <dd>[city], [other], [state][zip/postal code]</dd>
            <dd>[country or territory]</dd>
            <dd>Telephone: [number]</dd>
            <dd>Fax: [number]</dd>
          </dl>
          <dl role="presentation" class="flexAfterPad clearfix">
            <dt>
              <label for="">hours of operation:</label>
            </dt>
            <dd>[weekday] hh:mm am to hh:mm pm</dd>
            <dd>[weekday] hh:mm am to hh:mm pm</dd>
            <dd>[weekday] hh:mm am to hh:mm pm</dd>
            <dd>...</dd>
            <dd>[sunday][closed]</dd>
          </dl>
          <div class="clear"></div>

          -->

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">Ship To</p>
            <p>[country or territory]</p>
          </div>

          <p><strong>shipment will be held for pick up... text</strong></p>

          <div class="row">
            <div class="col-xs-5">
              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">[Location/Facility Name]</p>
                <p>[Address 1]</p>
                <p>[City], [Other], [State] [ZIP/Postal Code]</p>
                <p>[Country or Territory]</p>
                <p>Telephone: [number]</p>
                <p>Fax: [number]</p>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Hours of Operation</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>...</p>
                <p>[Sunday][Closed]</p>
              </div>
            </div>
          </div>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

        </div>

        <!-- End Section Body -->

      </div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- End Schedule a Pickup (1304) -->

    <!-- //////////////////////////// -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->
      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>shipment section header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <dl role="presentation" class="outHozFixed clearfix">
            <dt>
              <label for="">total number label:</label>
            </dt>
            <dd>n</dd>
            <dt>
              <label for="">services selected label:</label>
            </dt>
            <dd>{dynamic service}, {dynamic service}, {dynamic service}...</dd>
            <dt>
              <label for="">total shipment weight label:</label>
            </dt>
            <dd>n {lbs/kg}</dd>

            <!-- //////////////////////////////////////// -->

            <!-- Begin Pickup - Drop-off Module(s) (1304) ->

            <dt>
              <label for="">dimensions label:</label>
            </dt>
            <dd>[00] x [00] x [00] [in/cm]</dd>

            <!-- End Pickup - Drop-off Module(s) (1304) -->

            <!-- ////////////////////////////////////// -->

            <!-- 10.1 User Interface - Shipment Information Section ->

            <dt>
              <label for="">pickup reference label:</label>
            </dt>
            <dd>{dynamic pickup reference number}</dd>
            <dt>
              <label for="">tracking number label:</label>
            </dt>
            <dd>{dynamic tracking reference}</dd>

            <!-- //////////////////////////////////////// -->

            <!-- Begin Pickup - Drop-off Module(s) (1304) ->

            <dt>
              <label for="">dangerous goods label:</label>
            </dt>
            <dd>[yes/no]</dd>

            <!-- End Pickup - Drop-off Module(s) (1304) -->

            <!-- ////////////////////////////////////// ->

            <dt>
              <label for="">package reference label:</label>
            </dt>
            <dd>{dynamic reference}, {dynamic reference}, {dynamic reference}</dd>

            <!-- End 10.1 User Interface ->

          </dl>

          -->

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>total number label</strong></p>
            </div>
            <div class="col-xs-7">
              <p>{n}</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>services selected label</strong></p>
            </div>
            <div class="col-xs-7">
              <p>{dynamic service}, {dynamic service}, {dynamic service}...</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>total shipment weight label</strong></p>
            </div>
            <div class="col-xs-7">
              <p>{n} {lbs/kg}</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>dimensions label</strong></p>
            </div>
            <div class="col-xs-7">
              <p>[00] x [00] x [00] [in/cm]</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>pickup reference label</strong></p>
            </div>
            <div class="col-xs-7">
              <p>{dynamic pickup reference number}</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>tracking reference label</strong></p>
            </div>
            <div class="col-xs-7">
              <p>{dynamic tracking reference}</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>dangerous goods label:</strong></p>
            </div>
            <div class="col-xs-7">
              <p>[Yes/No]</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>package reference label:</strong></p>
            </div>
            <div class="col-xs-7">
              <p>{dynamic reference}, {dynamic reference}, {dynamic reference}</p>
            </div>
          </div>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

        </div>

        <!-- End Section Body -->

        <!-- Begin Section Footer --><!-- End Section Footer -->

      </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- //////////////////////////////////////// -->

    <!-- Begin Pickup - Drop-off Module(s) (1304) -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>pallet information header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <p>
            <label for="repl_id001">Pallet [00] of [00]</label>
          </p>
          <dl role="presentation" id="repl_id001" class="outHozFixed clearfix">
            <dt>
              <label for="">Dimensions:</label>
            </dt>
            <dd>[000] x [000] x [000][in/cm]</dd>
            <dt>
              <label for="">Pallet Weight:</label>
            </dt>
            <dd>[00000][lb/kg]</dd>

            <!--<dt><label for="">Pallet Declared Value:</label></dt>

                <dd>[00000][cur]</dd>

            <dt><label for="">Pallet Contains Dangerous Goods:</label></dt>

                <dd>[yes/no]</dd>->

          </dl>
          <p>
            <label for="repl_id002">Pallet [00] of [00]</label>
          </p>
          <dl role="presentation" id="repl_id002" class="outHozFixed clearfix">
            <dt>
              <label for="">Dimensions:</label>
            </dt>
            <dd>[000] x [000] x [000][in/cm]</dd>
            <dt>
              <label for="">Pallet Weight:</label>
            </dt>
            <dd>[00000][lb/kg]</dd>

            <!--<dt><label for="">Pallet Declared Value:</label></dt>

                <dd>[00000][cur]</dd>

            <dt><label for="">Pallet Contains Dangerous Goods:</label></dt>

                <dd>[yes/no]</dd>->

          </dl>
          <div class="clear"></div>

          -->

          <div class="ups-group">
            <p class="ups-group_label">Pallet [00] of [00]</p>

            <div class="row">
              <div class="col-xs-5">
                <p><strong>Dimensions</strong></p>
              </div>
              <div class="col-xs-7">
                <p>[000] x [000] x [000][in/cm]</p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5">
                <p><strong>Pallet Weight</strong></p>
              </div>
              <div class="col-xs-7">
                <p>[00000][lb/kg]</p>
              </div>
            </div>
          </div>

          <div class="ups-group">
            <p class="ups-group_label">Pallet [00] of [00]</p>

            <div class="row">
              <div class="col-xs-5">
                <p><strong>Dimensions</strong></p>
              </div>
              <div class="col-xs-7">
                <p>[000] x [000] x [000][in/cm]</p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-5">
                <p><strong>Pallet Weight</strong></p>
              </div>
              <div class="col-xs-7">
                <p>[00000][lb/kg]</p>
              </div>
            </div>
          </div>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: End part of re-design   -->
          <!-- ************************************** -->

          <p><a href="">Show {All}{Less}</a></p>
        </div>

        <!-- End Section Body -->

      </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- End Pickup - Drop-off Module(s) (1304) -->

    <!-- ////////////////////////////////////// -->

    <!-- /////////////////////////////////////////////////// -->

    <!-- Begin Pickup - Drop-off Time - Drop-off/Hold (1304) -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>drop-off date and time header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">
          <p>customer elected... text</p>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <dl role="presentation" class="outHozFixed clearfix">
            <dt>
              <label for="">Drop-off Date:</label>
            </dt>
            <dd>[date]</dd>
            <dt>
              <label for="">Shipment drop off time:</label>
            </dt>
            <dd>[hh:mm][am/pm]</dd>
          </dl>
          <div class="clear"></div>
          <dl role="presentation" >
            <dt>
              <label for="">[location/facility name]</label>
            </dt>
            <dd>[address 1]</dd>
            <dd>[city], [other], [state][zip/postal code]</dd>
            <dd>[country or territory]</dd>
            <dd>Telephone: [number]</dd>
            <dd>Fax: [number]</dd>
          </dl>
          <dl role="presentation" >
            <dt>
              <label for="">hours of operation:</label>
            </dt>
            <dd>[weekday] hh:mm am to hh:mm pm</dd>
          </dl>
          <dl role="presentation" >
            <dt>
              <label for="">ups location latest drop-off time:</label>
            </dt>
            <dd>[weekday] hh:mm am to hh:mm pm</dd>
          </dl>

          -->

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>Drop-off Date</strong></p>
            </div>
            <div class="col-xs-7">
              <p>[date]</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <p><strong>Shipment drop off time</strong></p>
            </div>
            <div class="col-xs-7">
              <p>[hh:mm][am/pm]</p>
            </div>
          </div>

          <div class="row ups-group">
            <div class="col-xs-5">
              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">[location/facility name]</p>
                <p>[address 1]</p>
                <p>[city], [other], [state][zip/postal code]</p>
                <p>[country or territory]</p>
                <p>Telephone: [number]</p>
                <p>Fax: [number]</p>
              </div>
            </div>
          </div>

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">hours of operation</p>
            <p>[weekday] hh:mm am to hh:mm pm</p>
          </div>

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">ups location latest drop-off time</p>
            <p>[weekday] hh:mm am to hh:mm pm</p>
          </div>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: End part of re-design   -->
          <!-- ************************************** -->

        </div>

        <!-- End Section Body -->

      </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- End Pickup - Drop-off Time - Drop-off/Hold (1304) -->

    <!-- ///////////////////////////////////////////////// -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>payment section header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <dl role="presentation" >
            <dt>
              <label for="">ups account number label:</label>
            </dt>
            <dd>{dynamic ups account number}</dd>
            <dd>{dynamic zip code}</dd>

            <!-- <dd>{dynamic country or territory}</dd> ->

            <dd>{dynamic alternate address on-call pickup}</dd>
          </dl>

          -->

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">ups account number label</p>
            <p>{dynamic ups account number}</p>
            <p>{dynamic zip code}</p>
            <p>{dynamic alternate address on-call pickup}</p>
          </div>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

          <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
        </div>

        <!-- End Section Body -->

        <!-- Begin Section Footer --><!-- End Section Footer -->

      </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- ////////////////////////////////////// -->

    <!-- Begin WW Express Freight notice (1304) -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

      <div class="secLvl step">

        {{#if payment_info.default }}
        <!-- Begin Header Bar -->
        <div class="secHead clearfix">
          <h3>Payment Information for All Fees</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">
            <h4>Bill to:</h4>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">UPS Account Number:</span> </dt>
                <dd>{UPS Account Number}</dd>
                <dt> <span class="label">ZIP Code:</span> </dt>
                <dd>{ZIP Code}</dd>
                <dt> <span class="label">Country or Territory:</span> </dt>
                <dd>{Country or Territory}</dd>
            </dl>

            -->

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>UPS Account Number</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{UPS Account Number}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>ZIP Code</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{ZIP Code}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>Country or Territory</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{Country or Territory}</p>
              </div>
            </div>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

            <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
        </div>
        <!-- End Section Body -->
        {{/if}}

        {{#if payment_info.cc }}
        <!-- Begin Header Bar -->
        <div class="secHead clearfix">
          <h3>Payment Information for All Fees</h3>
          {{#if payment_info.edit_btn }}

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <ul>
              <li>
                <input name="" type="button" class="btnlnkL editMini" value="Edit">
              </li>
            </ul>

            -->

            <a href="#" class="pull-right">Edit</a>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

          {{/if}}
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">
            <h4>Bill to:</h4>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">Payment Card Type:</span> </dt>
                <dd>{Payment Card Type}</dd>
                <dt> <span class="label">Payment Card Number:</span> </dt>
                <dd>{XXXX-XXXX-XXXX-NNNN}</dd>
                <dt> <span class="label">Expiration:</span> </dt>
                <dd>{MM/YYYY}</dd>
                <dt> <span class="label">Cardholder Name:</span> </dt>
                <dd>{Cardholder Name}</dd>
            </dl>

            -->

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>Payment Card Type</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{Payment Card Type}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>Payment Card Number</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{XXXX-XXXX-XXXX-NNNN}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>Expiration</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{MM/YYYY}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>Cardholder Name</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{Cardholder Name}</p>
              </div>
            </div>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

            <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
        </div>
        <!-- End Section Body -->
        {{/if}}

        {{#if payment_info.receiver }}
        <!-- Begin Header Bar -->
        <div class="secHead clearfix">
          <h3>Payment Information for All Fees</h3>
          {{#if payment_info.edit_btn }}

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <ul>
              <li>
                <input name="" type="button" class="btnlnkL editMini" value="Edit">
              </li>
            </ul>

            -->

            <a href="#" class="pull-right">Edit</a>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

          {{/if}}
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">
            <h4>Bill to:</h4>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">UPS Account Number:</span> </dt>
                <dd>{UPS Account Number}</dd>
                <dt> <span class="label">ZIP Code:</span> </dt>
                <dd>{ZIP Code}</dd>
                <dt> <span class="label">Country or Territory:</span> </dt>
                <dd>{Country or Territory}</dd>
                <dt> <span class="label">{Receiver} UPS Account Number:</span> </dt>
                <dd>{Receiver or Third Party UPS Account Number}</dd>
                <dt> <span class="label">{Receiver} ZIP Code:</span> </dt>
                <dd>{Receiver or Third Party ZIP Code}</dd>
            </dl>

            -->

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>UPS Account Number</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{UPS Account Number}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>ZIP Code</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{ZIP Code}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>Country or Territory</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{Country or Territory}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>{Receiver} UPS Account Number</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{Receiver or Third Party UPS Account Number}</p>
              </div>
            </div>

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>{Receiver} ZIP Code</strong></p>
              </div>
              <div class="col-xs-7">
                <p>{Receiver or Third Party ZIP Code}</p>
              </div>
            </div>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

            <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
        </div>
        <!-- End Section Body -->
        {{/if}}

        {{#if payment_info.cash }}
        <!-- Begin Header Bar -->
        <div class="secHead clearfix">
          <h3>Payment Information for All Fees</h3>
          {{#if payment_info.edit_btn }}

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <ul>
              <li>
                <input name="" type="button" class="btnlnkL editMini" value="Edit">
              </li>
            </ul>

            -->

            <a href="#" class="pull-right">Edit</a>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

          {{/if}}
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->
        <div class="secBody clearfix">
            <p>Customer selected {Cash}. The UPS driver will collect your funds at time of pickup.</p>
            <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
        </div>
        <!-- End Section Body -->
        {{/if}}

        {{#if payment_info.ww_express }}
        <!-- Begin Header Bar -->
        <div class="secHead clearfix">
          <h3>Payment Information for All Fees</h3>
          {{#if payment_info.edit_btn }}

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <ul>
              <li>
                <input name="" type="button" class="btnlnkL editMini" value="Edit">
              </li>
            </ul>

            -->

            <a href="#" class="pull-right">Edit</a>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

          {{/if}}
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->
        <div class="secBody clearfix">
            <h4>Bill to:</h4>
            <p><strong>Note:</strong> Pickup charges are included in the UPS Worldwide Express Freight&#8480; service fees. If you do not already have shipping labels then transportation charges will still apply when shipping labels are generated.</p>
        </div>
        <!-- End Section Body -->
        {{/if}}

        {{#if payment_info.paypal }}
        <!-- Begin Header Bar -->
        <div class="secHead clearfix">
          <h3>Payment Information for All Fees</h3>
          {{#if payment_info.edit_btn }}

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <ul>
              <li>
                <input name="" type="button" class="btnlnkL editMini" value="Edit">
              </li>
            </ul>

            -->

            <a href="#" class="pull-right">Edit</a>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

          {{/if}}
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->
        <div class="secBody clearfix">
            <h4>Bill to:</h4>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">Payment Method:</span> </dt>
                <dd>[not saved]</dd>
            </dl>

            -->

            <div class="row ups-group">
              <div class="col-xs-5">
                <p><strong>Payment Method</strong></p>
              </div>
              <div class="col-xs-7">
                <p>[not saved]</p>
              </div>
            </div>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

            <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
        </div>
        <!-- End Section Body -->
        {{/if}}

      </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- End WW Express Freight notice (1304) -->

    <!-- //////////////////////////////////// -->

    <!-- Begin Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    <fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>total fees section header</h3>
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <dl role="presentation" class="outHozLedger group">
            <dt>
              <label for="">total charge for pickup label:</label>
              &nbsp; <!--<a href="repl_href" class="btnlnkL expandIcon noprint">show pickup fee support link</a>-><a href="repl_href" class="btnlnkL collapseIcon noprint">hide pickup fee support link</a></dt>
            <dd>nn.nn USD</dd>
          </dl>

          <!-- Pickup Fee Details Hidden/Shown ->

          <dl role="presentation" class="outHozLedger">
            <dt>
              <label class="sel indent">pickup fee detail label</label>
            </dt>
            <dd>{nn.nn USD}</dd>
            <dt>
              <label class="sel indent">pickup fee detail label</label>
            </dt>
            <dd>{nn.nn USD}</dd>
            <dt>
              <label class="sel indent">pickup fee detail label</label>
            </dt>
            <dd>{nn.nn USD}</dd>
            <dt>
              <label class="sel indent">pickup fee detail label</label>
            </dt>
            <dd>{nn.nn USD}</dd>
          </dl>
          <div class="clear"></div>

          <!-- END Pickup Fee Details Hidden/Shown ->

          <dl role="presentation" class="outHozLedger">
            <dt>
              <label for="">total charge for shipment label:</label>
            </dt>
            <dd>{nn.nn USD}</dd>
            <dt>
              <label for="">total charge for taxes label:</label>
            </dt>
            <dd>{nn.nn USD}</dd>
            <dt>
              <label for="">{dynamic total amount due label}:</label>
            </dt>
            <dd>{nn.nn USD}</dd>
          </dl>

          -->

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">
              Total Charge for Pickup
              <span class="indent">
                <a href="#">Show Pickup Fee Details</a>
                <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
              </span>
              <span class="pull-right">NN.NN USD</span>
            </p>
            <p class="indent">pickup fee detail label <span class="pull-right">{nn.nn USD}</span></p>
            <p class="indent">pickup fee detail label <span class="pull-right">{nn.nn USD}</span></p>
            <p class="indent">pickup fee detail label <span class="pull-right">{nn.nn USD}</span></p>
            <p class="indent">pickup fee detail label <span class="pull-right">{nn.nn USD}</span></p>
          </div>

          <p><strong>total charge for shipment label</strong> <span class="pull-right">{nn.nn USD}</span></p>

          <p><strong>total charge for taxes label</strong> <span class="pull-right">{nn.nn USD}</span></p>

          <p><strong>{dynamic total amount due label}</strong> <span class="pull-right"><strong>{nn.nn USD}</strong></span></p>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

        </div>

        <!-- End Section Body -->

        <!-- Begin Section Footer --><!-- End Section Footer -->

      </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- remove fieldset for reskin
    </fieldset>
    -->
    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Module -->

    <!-- End Section Lvl -->

  </div>

  <!-- End Application Body -->

  <!-- Begin Application Footer -->

  <div class="appFooter">

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <!-- Begin Button Bar Row ->

    <div class="btnBar">
        <div class="floatBegin">
            <a href="repl_href">Back to UPS Workspace</a>
        </div>
      <input name="" type="button" value="cancel pickup button" class="btn">
      <input name="" type="submit" value="modify pickup button" class="btn">
        <div class="clear"></div>
    </div>

    <!-- End Button Bar Row ->

    -->

    <div class="ups-form_ctaGroup">
      <button type="submit" class="ups-cta ups-cta_primary">Modify Pickup</button>
      <button type="button" class="ups-cta ups-cta_secondary">Cancel Pickup</button>
      <button type="button" class="ups-cta ups-cta_secondary">Back to UPS Workspace</button>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

  </div>

  <!-- End Application Footer -->

</div>

<!-- End Application Module -->
