---
title: Profile and Preference Center
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>
{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.ppc}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/26/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>Maintenance Build</strong> [PPC] JIRA UPSO-2843 ER7806 PPC QV Admin D3 Section 20, 21, 22 Only</li>
                            <li><strong>Maintenance Build</strong> [PPC] JIRA UPSO-2844 ER7806 PPC QV Admin D3 Section 23, 24, 25, 26 Only</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/16/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[PPC] JIRA UPSO-3797 ER7806 PPC QV Admin D3 Section 17</li>
                            <li>[PPC] JIRA UPSO-2842 ER7806 PPC QV Admin D3 Section 18 and 19</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/13/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>Maintenance Build</strong> [PPC] JIRA UPSO-2840 ER7806 PPC QV Admin Section 14 and 15 Only</li>
                            <li><strong>Maintenance Build</strong> [PPC] JIRA UPSO-2841 ER7806 PPC QV Admin Section 16 Only</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/02/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>[PPC] JIRA UPSO-2740 ER7806 PPC QV Admin D3 Section 8, 9, 10, 11, 12, and 13 Only</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/26/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>[PPC] JIRA UPSO-2489</strong> ER7806 PPC QV Admin D3 Section 7 Only</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/19/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>[PPC] JIRA UPSO-652</strong> PPC Update - QVM integration - Error Handling Addition</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/12/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>[PPC] JIRA UPSO-652</strong> PPC Update - QVM integration</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: TFS: [497509] Spec Update: Jan 17 vA1.19</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: TFS: [482724] Update readerTxt on legend for checkboxes in Communication Preferences</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/06/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: TFS: [321536] Added padding to checkbox labels with help buttons </li>
                            <li>
                                PPC: TFS: [323679] Updated Delivery Alerts Section to WEM standards, added Page Level Error Handling
                            </li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/29/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: TFS: [463374] Revert Social Icons Back to Previous Implementation</li>
                            <li>PPC: Resolved Input fields not clickable in SVP on my choice page, TFS: [435023]</li>
                            <li>PPC: Updated MNM with country code input, TFS: [459040]</li>
                            <li>PPC: TFS: [333264] IE Only: 'X' appears underneath valid checkmark in PPC > My Information > Login Settings</li>
                            <li>PPC: TFS: [409397] Added Padding-Right: 33px for Valid Inputs to Forms CSS</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/25/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - PPC: TFS: [459162] Doc Update 1.0</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/19/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - PPC: TFS: [450058] Update Social Icon Buttons to Rectangular Shaped Buttons</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/15/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: TFS: [426413] Made changes to PPC CSS file due to validation errors</li>
                            <li>Added 2 links to inputs in Basic Details (PPC > Preferences > Shipping)</li>
                            <li>Added code to PPC CSS to make adjustments for error exclamation point for country code phone number inputs at line 3909</li>
                            <li>Added code to Forms CSS file to remove border-radius from country code phone number input </li>
                            <li> [PPC > Preferences > My Choice > Package Matching Options] Added a conditional to .ups-indent on the CTA so it does not appear in SVP</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/06/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: TFS: [446038] Error Handling for Privacy Preferences, Edit Communication Preferences, Package Matching Options > Add Email or Phone; Applied IA SVP recommendtions to Package Matching Options > Pending Verifications (Maintenance Build)</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/18/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: Spec Update vA1.1 - 1811 and 1812 ONLY; TFS: [437032]; Note: Error Handling and SVP issues will be addressed in a subsequent task</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/28/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: Spec Update vA1.1 - 1800g ONLY; TFS: [422765]</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: Welcome message fix, TFS: [346280]</li>
                            <li>PPC: Fixed add tags list, TFS: [374608]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/30/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC: Modal missing back button, TFS: [334719]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/09/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - RFC 8671 Adding Twitter as Social Login Option, TFS: [385855]</li>
                            <li>PPC: Zoom icons on map were overlapping header, TFS: [362634]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">05/12/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Spec Update vA1.18, TFS: [344865]</li>
                            <li>PPC - Fixed overlap in submit and cancel buttons, TFS: [350658]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">05/05/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Checked Error message on contact import, TFS: [310575]</li>
                            <li>PPC - Corrected Tiles on main page, TFS: [348254]</li>
                            <li>PPC - Corrected Welcome message, TFS: [338172]</li>
                            <li>PPC - Fixed Other Useful Links component, TFS: [352303]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/28/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Help links that open in a new window now show the correct icon, TFS: [348314]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Fixed Text Overlap on show/hide button, TFS: [329257]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/31/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Added error message, TFS: [310575] </li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/17/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Resolved Calendar display issue, TFS: [323674]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Corrected Help btn not working, TFS: [322146]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/17/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Spec Update to 1.17, TFS: [316514]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Locator update, TFS: [299833]</li>
                            <li>PPC - Contact Table update, TFS: [312591]</li>
                            <li>PPC - Update to "Select an Image" button on Paperless Invoice</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Fixed incorrect + icon position. TFS: [310728]</li>
                            <li>PPC - Fixed Carousel. TFS: [301948]</li>
                            <li>PPC - Fixed Header Wrap issue. TFS: [301929]</li>
                            <li>PPC - Fixed Edit Tag issue. TFS: [308881]</li>
                            <li>PPC - Fixed Input Overlaps. TFS: [308883]</li>
                            <li>PPC - Change sorting anchors to buttons</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Fixed spacing below breadcrumbs TFS: [302876]</li>
                            <li>PPC - Fixed missing chevron icon TFS: [310302]</li>
                            <li>PPC - Fixed Image load issue TFS: [304351]</li>
                            <li>PPC - Fixed Letterhead Image Modal Layout TFS: [307622]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/13/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Updated Accordion animations [287590] (Added accordion directive for page scrolling)</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Spec Update Av1.16</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/23/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS #299183 - H1 focus styles</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/16/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS #299833 - icon update</li>
                            <li>TFS #296908 - Fixed Visual defect</li>
                            <li>TFS #297016 - Fixed Visual defect</li>
                            <li>TFS #299636 - Fixed Visual defect</li>
                            <li>TFS #299537 - updated fragments "Address"</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/09/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS #283706</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/02/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visual Defect - TFS #289517</li>
                            <li>Visual Defect - TFS #289622</li>
                            <li>Visual Defect - TFS #283706</li>
                            <li>Visual Defect - TFS #289939</li>
                            <li>Visual Defect - TFS #296040</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/28/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC - Added missing Read Only state on Edit Account</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/18/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>PPC/DOA - Updated links that had a blank href to instead have a # for the href and the onclick handler to prevent the navigation from changing</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/14/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PPC Spec update v1.15</li>
							<li>PPC Edit tags in SVP</li>
							<li>PPC Day-Specific Pickup HTML/CSS</li>
                            <li>PPC Save Changes Dialog was added</li>
                            <li>PPC - Fixed bug with filter tags on edit account / addresses not closing when clicking the close button</li>
                            <li>PPC - Fixed bug with arrows and slick dots not showing up on the page</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/07/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PPC Spec update v1.14 part 2</li>
							<li>TFS #279992 - VoiceOver issue for DO
								<ul>
									<li>Added directive 'pageTitle' to ups.DOApp.directives.js to handle focus control on route</li>
									<li>Removed aria-live region from page wrapper</li>
									<li>Added role="alert" to all error containers</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/28/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PPC Spec update v1.14 part 1
								<ul>
									<li>PMG775</li>
									<li>PMG763</li>
									<li>PMG833</li>
									<li>PMG727</li>
									<li>PMG774</li>
									<li>PMG782</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/14/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PPC Spec update v1.13</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/07/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>PMG AI #702 Update dangerous goods accordion</li>
							<li>Removed ups-informationContent_box from scss</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/30/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Defect fix for error icon position in date picker inputs</li>
							<li>Defect fix for My Information-Communication Preferences not using WEM design for inputs</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/20/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>UI fixes for responsiveness/accessibility</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/16/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec Update vA1.12</li>
							<li>Fixed several implementation issues with Bootstrap grid</li>
							<li>Verified JIRA UPSDO-2047</li>
							<li>Fixed issue on My Choice Preferences page where State/Zip did not change label based on country</li>
							<li>Fixed Preferences landing page breakpoints</li>
							<li>Merged WEM update to form field helper text</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/09/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec Update vA1.11</li>
							<li>Defect: Jira UPSDO-2354</li>
							<li>Defect: My Choice Pref accordian opens incorrectly</li>
							<li>Defect: auto Renew Validation refactored to HTML standards</li>
							<li>Defect: ups.ppc-mychoice-preference-manageMembershipRenewal refactored to HTML standards</li>
							<li>Defect: Remove icon on /EditCardAccount</li>
							<li>Defect: Implement error handling PPC Edit Account</li>
							<li>Defect: CAC no longer showing on certain pages</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/02/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec Update vA1.09</li>
							<li>Spec Update vA1.10</li>
							<li>Fixed Defect: "I agree" statement on Login needs to be in a paragraph</li>
							<li>Fixed Defect: Preference landing page grid not responding correctly.</li>
							<li>Fixed Defect: incorrect classing on CPC radio button group.</li>
							<li>Fixed Defect: CAC non-US input fields appearing when US is selected.</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/26/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.09</li>
							<li>Updated accordion classing to match WEM implementation</li>
							<li>Addressed bug where markup was being generated in the browser title for My Choice Prefs.</li>
							<li>Addressed bug with superscript element in the page title</li>
							<li>Updated date picker DOM order for keyboard/SR accessibility</li>
							<li>Multiple occurances of classing changes for links</li>
							<li>Removed icons from the previous page links in PPC</li>
							<li>Updated form-level error icon</li>
							<li>Updated required field icon implimentation to align with WEM accessibility change</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/12/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.08</li>
							<li>Added dynamic page title directive</li>
							<li>Integrated angular CPC/CAC in payment card view</li>
							<li>A few low-level updates for Accessibility</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/17/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Baseline merge from Sapient</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
