<div class="secLvl step">

    <!-- Begin Header Bar -->

    <div class="secHead clearfix">
        <h3>Shipment Information</h3>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--<ul><li>
            <input name="" type="button" class="btnlnkL editMini" value="Edit">
        </li></ul>-->
        <div class="pull-right">
            <button class="ups-link">Edit</button>
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
    </div>

    <!-- End Header Bar -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Removed DOM
    <div id="dyn_pnl_5">
    <div id="pnl_5_1">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
    <div class="secBody clearfix">
        {{#if shipment_info.default }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">Total Number of Packages:</span> </dt>
                <dd>{n}</dd>
                <dt> <span class="label">Services Selected:</span> </dt>
                <dd>{service}, {service}, {service}...</dd>
                <dt> <span class="label">Total Shipment Weight:</span> </dt>
                <dd>{n} {lbs/kg}</dd>
                <dt> <span class="label">Only documents of no commercial value?</span> </dt>
                <dd>{Yes}</dd>
                <dt> <span class="label">Pickup Reference:</span> </dt>
                <dd>{ABCD1234}, ...</dd>
            </dl> -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_5_2">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if shipment_info.logged_in }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">Total Number of Packages:</span> </dt>
                <dd>{n}</dd>
                <dt> <span class="label">Services Selected:</span> </dt>
                <dd>{service}, {service}, {service}...</dd>
                <dt> <span class="label">Total Shipment Weight:</span> </dt>
                <dd>{n} {lbs/kg}</dd>
                <dt> <span class="label">Only documents of no commercial value?</span> </dt>
                <dd>{Yes}</dd>
            </dl> -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_5_3">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if shipment_info.ww_freight }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">Total Number of Packages:</span> </dt>
                <dd>{n}</dd>
                <dt> <span class="label">Services Selected:</span> </dt>
                <dd>{service}, {service}, {service}...</dd>
                <dt> <span class="label">Total Shipment Weight:</span> </dt>
                <dd>{n} {lbs/kg}</dd>
                <dt> <span class="label">Dimensions of Largest Pallet:</span> </dt>
                <dd>[00] x [00] x [00] [in/cm]</dd>
                <dt> <span class="label">Shipment Contains Dangerous Goods:</span> </dt>
                <dd>[Yes/No]</dd>
                <dt> <span class="label">Pickup Reference:</span> </dt>
                <dd>{ABCD1234}, ...</dd>
            </dl> -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_5_4">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if shipment_info.no_login }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozFlex clearfix">
                <dt> <span class="label">Total Number of Packages:</span> </dt>
                <dd>n</dd>
                <dt> <span class="label">Services Selected:</span> </dt>
                <dd>{service}, {service}, {service}...</dd>
                <dt> <span class="label">Total Shipment Weight:</span> </dt>
                <dd>n {lbs/kg}</dd>
            </dl>
            <dl class="outHozFixed clearfix">
                <dt> <span class="label">Pickup Reference:</span> </dt>
                <dd>{ABCD1234}, ...</dd>
            </dl> -->
        {{/if}}

        {{#if shipment_info.tnp}}<div class="row ups-group">
            <div class="col-xs-5">
                <p class="ups-group_label">Total Number of Packages</p>
            </div>
            <div class="col-xs-5">
                <p>{n}</p>
            </div>
        </div>{{/if}}
        {{#if shipment_info.ss}}<div class="row ups-group">
            <div class="col-xs-5">
                <p class="ups-group_label">Services Selected</p>
            </div>
            <div class="col-xs-5">
                <p>{service}, {service}, {service}</p>
            </div>
        </div>{{/if}}
        {{#if shipment_info.tsw}}<div class="row ups-group">
            <div class="col-xs-5">
                <p class="ups-group_label">Total Shipment Weight</p>
            </div>
            <div class="col-xs-5">
                <p>{n} {lbs/kg}</p>
            </div>
        </div>{{/if}}
        {{#if shipment_info.odncv}}<div class="row ups-group">
            <div class="col-xs-5">
                <p class="ups-group_label">Only documents of no commercial value?</p>
            </div>
            <div class="col-xs-5">
                <p>{yes}</p>
            </div>
        </div>{{/if}}
        {{#if shipment_info.dlp}}<div class="row ups-group">
            <div class="col-xs-5">
                <p class="ups-group_label">Dimensions of Largest Pallet</p>
            </div>
            <div class="col-xs-5">
                <p>[00] x [00] x [00] [in/cm]</p>
            </div>
        </div>{{/if}}
        {{#if shipment_info.scdg}}<div class="row ups-group">
            <div class="col-xs-5">
                <p class="ups-group_label">Shipment Contains Dangerous Goods</p>
            </div>
            <div class="col-xs-5">
                <p>{yes/no}</p>
            </div>
        </div>{{/if}}
        {{#if shipment_info.pr}}<div class="row ups-group">
            <div class="col-xs-5">
                <p class="ups-group_label">Pickup Reference</p>
            </div>
            <div class="col-xs-5">
                <p>{abcd1234}</p>
            </div>
        </div>{{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
    </div>
    <!-- End Section Body -->
</div>
