<div class="secLvl step">

    <!-- Begin Header Bar -->

    <div class="secHead clearfix">
        <h3>Payment Information for All Fees</h3>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--<ul><li>
            <input name="" type="button" class="btnlnkL editMini" value="Edit">
        </li></ul>-->
        <div class="pull-right">
            <button class="ups-link">Edit</button>
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
    </div>

    <!-- End Header Bar -->
    <!-- Begin Body Bar -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Removed DOM
    <div id="dyn_pnl_6">
    <div id="pnl_6_1">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
    <div class="secBody clearfix">
        {{#if payment_info.ups_account }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <h4>Bill to:</h4>
            <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">UPS Account Number:</span> </dt>
                <dd>{UPS Account Number}</dd>
                <dt> <span class="label">ZIP Code:</span> </dt>
                <dd>{ZIP Code}</dd>
                <dt> <span class="label">Country or Territory:</span> </dt>
                <dd>{Country or Territory}</dd>
            </dl> -->
            <div class="ups-group">
                <p class="ups-group_label">Bill to</p>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>UPS Account Number</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{UPS Account Number}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>ZIP Code</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{zip code}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>Country or Territory</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{country or territory}</p>
                    </div>
                </div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <p>The shipper has agreed to pay all fees related to pickup. No payment is required for pickup.</p>
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_6_2">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if payment_info.cc }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <!-- <h4>Bill to:</h4>
            <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">Payment Card Type:</span> </dt>
                <dd>{Payment Card Type}</dd>
                <dt> <span class="label">Payment Card Number:</span> </dt>
                <dd>{XXXX-XXXX-XXXX-NNNN}</dd>
                <dt> <span class="label">Expiration:</span> </dt>
                <dd>{MM/YYYY}</dd>
                <dt> <span class="label">Cardholder Name:</span> </dt>
                <dd>{Cardholder Name}</dd>
            </dl> -->
            <div class="ups-group">
                <p class="ups-group_label">Bill to</p>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>Payment Card Type</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{Payment Card Type}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>Payment Card Number</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{XXXX-XXXX-XXXX-NNNN}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>Expiration</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{MM/YYYY}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>Cardholder Name</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{cardholder name}</p>
                    </div>
                </div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <p>The shipper has agreed to pay all fees related to pickup. No payment is required for pickup.</p>
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_6_3">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if payment_info.receiver }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <!-- <h4>Bill to:</h4>
            <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">UPS Account Number:</span> </dt>
                <dd>{UPS Account Number}</dd>
                <dt> <span class="label">ZIP Code:</span> </dt>
                <dd>{ZIP Code}</dd>
                <dt> <span class="label">Country or Territory:</span> </dt>
                <dd>{Country or Territory}</dd>
                <dt> <span class="label">{Receiver} UPS Account Number:</span> </dt>
                <dd>{Receiver or Third Party UPS Account Number}</dd>
                <dt> <span class="label">{Receiver} ZIP Code:</span> </dt>
                <dd>{Receiver or Third Party ZIP Code}</dd>
            </dl> -->
            <div class="ups-group">
                <p class="ups-group_label">Bill to</p>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>UPS Account Number</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{ups account number}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>ZIP Code</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{zip code}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>Country or Territory</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{country or territory}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>{Receiver} UPS Account Number</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{receiver ups account number}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <p><strong>{Receiver} ZIP Code</strong></p>
                    </div>
                    <div class="col-xs-5">
                        <p>{receiver or third party zip code}</p>
                    </div>
                </div>
            </div>
            <p>The shipper has agreed to pay all fees related to pickup. No payment is required for pickup.</p>
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_6_4">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if payment_info.check }}
            <p>Customer selected {Cash}. The UPS driver will collect your funds at time of pickup.</p>
            <p>The shipper has agreed to pay all fees related to pickup. No payment is required for pickup.</p>
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_6_5">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if payment_info.ww_express }}
            <h4>Bill to</h4>
            <p><strong>Note:</strong> Pickup charges are included in the UPS Worldwide Express Freight&#8480; service fees. If you do not already have shipping labels then transportation charges will still apply when shipping labels are generated.</p>
        {{/if}}
    </div>
    <!-- End Body Bar -->
</div>
