<form action="repl_fname">
    <!-- Begin Application Module -->
    <div class="appLvl mod">
        <!-- Begin Application Header -->
        <div class="appHead clearfix">
            <h2>Verify Pickup Request Details</h2>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <ul>
                <li><a href="repl_href" class="btnlnkR printIconR">Print</a></li>
            </ul> -->
            <div class="pull-right">
                <span class="icon ups-icon-print"></span>
                <button class="ups-link">Print</button>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        </div>
        <!-- End Application Header -->
        <!-- Begin Application Body -->
        <div class="appBody clearfix">
            <p>Please verify the details of your request.</p>
            <p>
                <strong>{Total Amount Due}</strong>
                <span class="indent">NN.NN USD</span>
            </p>

            <!-- Begin Pickup Date and Time Section Module -->

            {{! ****************************************** }}
            {{! **** Begin Pickup Date & Time Section **** }}
            {{! ****************************************** }}
            {{> "ct1_shi_pic(5ver)_pickup_dateTime" }}
            {{! ****************************************** }}
            {{! **** End Pickup Date & Time Section   **** }}
            {{! ****************************************** }}

            <!-- End Pickup Date and Time Section Module -->
            <!-- Begin Pickup Address Section Module -->

            {{! ****************************************** }}
            {{! **** Begin Pickup Address Section     **** }}
            {{! ****************************************** }}
            <div class="secLvl step">

                <!-- Begin Header Bar -->

                <div class="secHead clearfix">
                    <h3>Pickup Address</h3>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- <ul>
                        <li>
                            <input name="" type="button" class="btnlnkL editMini" value="Edit">
                        </li>
                    </ul> -->
                    <div class="pull-right">
                        <button class="ups-link">Edit</button>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->
                </div>

                <!-- End Header Bar -->

                <!-- Begin Section Body -->

                <div class="secBody clearfix">
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<dl role="presentation" class="outHozFlex clearfix">
                        <dt> <span class="label">Company or Name:</span> </dt>
                        <dd>{Company or Name}</dd>
                        <dt> <span class="label">Contact Name:</span> </dt>
                        <dd>{Contact Name}</dd>
                        <dd>{Address}</dd>
                        <dd>{City}, {State} {ZIP Code}</dd>
                    </dl>-->
                    <div class="row ups-group">
                        <div class="col-xs-5">
                            <p class="ups-group_label">Company or Name</p>
                        </div>
                        <div class="col-xs-5">
                            <p>{Company or Name}</p>
                        </div>
                    </div>
                    <div class="row ups-group ups-group_condenced">
                        <div class="col-xs-5">
                            <p class="ups-group_label">Contact Name</p>
                        </div>
                        <div class="col-xs-5">
                            <p>{Contact Name}</p>
                            <p>{Address}</p>
                            <p>{City}, {State} {ZIP Code}</p>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->
                </div>

                <!-- End Section Body -->

                <!-- Begin Section Footer --><!-- End Section Footer -->

            </div>
            {{! ****************************************** }}
            {{! **** End Pickup Address Section       **** }}
            {{! ****************************************** }}

            <!-- End Pickup Address Section Module -->
            <!-- Begin Section Module -->

            {{! ****************************************** }}
            {{! **** Begin Pickup Info Section        **** }}
            {{! ****************************************** }}
            {{> "ct1_shi_pic(5ver)_pickup_info" }}
            {{! ****************************************** }}
            {{! **** End Pickup Info Section          **** }}
            {{! ****************************************** }}

            <!-- End Section Module -->
            <!-- Begin Section Module -->

            {{! ****************************************** }}
            {{! **** Begin Delivery Info Section      **** }}
            {{! ****************************************** }}
            {{> "ct1_shi_pic(5ver)_delivery_info" }}
            {{! ****************************************** }}
            {{! **** End Delivery Info Section        **** }}
            {{! ****************************************** }}

            <!-- End Section Module -->
            <!-- Begin Section Module -->

            {{! ****************************************** }}
            {{! **** Begin Shipment Info Section      **** }}
            {{! ****************************************** }}
            {{> "ct1_shi_pic(5ver)_shipment_info" }}
            {{! ****************************************** }}
            {{! **** End Shipment Info Section        **** }}
            {{! ****************************************** }}

            <!-- End Section Module -->
            <!-- Begin Section Module -->

            {{! ****************************************** }}
            {{! **** Begin Pallet Info Section        **** }}
            {{! ****************************************** }}
            <div class="secLvl step">

                <!-- Begin Header Bar -->

                <div class="secHead clearfix">
                    <h3>Pallet Information</h3>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<ul><li>
                        <input name="" type="button" class="btnlnkL editMini" value="Edit">
                    </li></ul>-->
                    <div class="pull-right">
                        <button class="ups-link">Edit</button>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->
                </div>

                <!-- End Header Bar -->

                <!-- Begin Section Body -->

                <div class="secBody clearfix">
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<p>
                        <span class="label">Pallet [00] of [00]</span>
                    </p>
                    <dl role="presentation" id="repl_id001" class="outHozFixed clearfix">
                        <dt> <span class="label">Dimensions:</span> </dt>
                        <dd>[000] x [000] x [000] [in/cm]</dd>
                        <dt> <span class="label">Pallet Weight:</span> </dt>
                        <dd>[00000][lb/kg]</dd>
                    </dl>
                    <p>
                        <span class="label">Pallet [00] of [00]</span>
                    </p>
                    <dl role="presentation" class="outHozFixed clearfix">
                        <dt> <span class="label">Dimensions:</span> </dt>
                        <dd>[000] x [000] x [000] [in/cm]</dd>
                        <dt> <span class="label">Pallet Weight:</span> </dt>
                        <dd>[00000][lb/kg]</dd>
                    </dl>
                    <div class="clear"></div>
                    <p>Displaying [2] of [00] <a href="">Show All</a></p>-->

                    <div class="ups-group">
                        <p class="ups-group_label">
                            Pallet [01] of [nn]
                        </p>
                        <div class="row">
                            <div class="col-xs-5">
                                <p><strong>Dimensions</strong></p>
                            </div>
                            <div class="col-xs-5">
                                <p>
                                    [000] x [000] x [000] [in/cm]
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <p><strong>Pallet Weight</strong></p>
                            </div>
                            <div class="col-xs-5">
                                <p>
                                    [00000][lb/kg]
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ups-group">
                        <p class="ups-group_label">
                            Pallet [02] of [nn]
                        </p>
                        <div class="row">
                            <div class="col-xs-5">
                                <p><strong>Dimensions</strong></p>
                            </div>
                            <div class="col-xs-5">
                                <p>
                                    [000] x [000] x [000] [in/cm]
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <p><strong>Pallet Weight</strong></p>
                            </div>
                            <div class="col-xs-5">
                                <p>
                                    [00000][lb/kg]
                                </p>
                            </div>
                        </div>
                    </div>
                    <p>Displaying [2] of [00] <a href="">Show All</a></p>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->
                </div>

                <!-- End Section Body -->

            </div>
            {{! ****************************************** }}
            {{! **** End Pallet Info Section          **** }}
            {{! ****************************************** }}

            <!-- End Section Module -->
            <!-- Begin Section Module -->

            {{! ****************************************** }}
            {{! **** Begin Payment Info Section       **** }}
            {{! ****************************************** }}
            {{> "ct1_shi_pic(5ver)_payment_info" }}
            {{! ****************************************** }}
            {{! **** End Payment Info Section         **** }}
            {{! ****************************************** }}

            <!-- End Section Module -->
            <!-- Begin Section Module -->

            {{! ****************************************** }}
            {{! **** Begin Total Fees Section         **** }}
            {{! ****************************************** }}
            {{> "ct1_shi_pic(5ver)_total_fees" }}
            {{! ****************************************** }}
            {{! **** End Total Fees Section           **** }}
            {{! ****************************************** }}

            <!-- End Section Lvl -->
            <p><strong>Note:</strong> This is not an invoice. Your final invoice may vary from the displayed charges.</p>
        </div>
        <!-- End Application Body -->
        <!-- Begin Application Footer -->
        <div class="appFooter">

            <!-- Begin Button Bar Row -->

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--<div class="btnBar">
                <input name="repl_name" type="button" value="Back" class="btnBackArw">
                <input name="repl_name" type="button" value="Cancel" class="btn">
                <input name="Input" type="submit" value="Next" class="btnArw">
            </div>-->
            <div class="ups-form_ctaGroup">
                <button type="button" class="ups-cta ups-cta_tertiary">Back</button>
                <button type="button" class="ups-cta ups-cta_primary">Next</button>
                <button type="submit" class="ups-cta ups-cta_secondary">Cancel</button>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            <!-- End Button Bar Row -->

        </div>
        <!-- End Application Footer -->
    </div>
    <!-- End Application Module -->
</form>
