<div class="secLvl step">
    <!-- Begin Header Bar -->
    <div class="secHead clearfix">
        <h3>Delivery Information</h3>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--<ul><li>
            <input name="" type="button" class="btnlnkL editMini" value="Edit">
        </li></ul>-->
        <div class="pull-right">
            <button class="ups-link">Edit</button>
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
    </div>
    <!-- End Header Bar -->
    <!-- Begin Section Body -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Removed DOM
    <div id="dyn_pnl_4">
    <div id="pnl_4_1">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
    <div class="secBody clearfix">
        {{#if delivery_info.default }}
            <p>You requested UPS deliver your WW Express Freight Shipment.</p>
            <div class="ups-group">
                <p class="ups-group_label">Ship To</p>
                <p>[Country or Territory]</p>
            </div>
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_4_2">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if delivery_info.drop_off }}
            <p>You requested UPS deliver your WW Express Freight Shipment for customer pickup.</p>
            <p><strong>Shipment will be held for pick up at this UPS Location:</strong></p>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--<div class="marginBegin subcol7 clearfix">
                <p><strong>[Location/Facility]</strong></p>
                <p>[Address 1]<br>
                    [City], [Other], [State] [ZIP/Postal Code]<br>
                    [Country or Territory]<br>
                    Telephone: [Number]<br>
                    Fax: [Number]</p>
            </div>
            <div class="marginEnd subcol7 clearfix">
                <p><strong>Hours of Operation:</strong></p>
                <p>[Weekday] hh:mm AM to hh:mm PM<br>
                    [Weekday] hh:mm AM to hh:mm PM<br>
                    [Weekday] hh:mm AM to hh:mm PM<br>
                    ...<br>
                    [Sunday][Closed]</p>
            </div>
            <div class="clear"></div>-->

            <div class="row">
                <div class="col-xs-5">
                    <div class="ups-group">
                        <p class="ups-group_label">[Location/Facility]</p>
                        <p>[Address 1]</p>
                        <p>[City], [Other], [State] [ZIP/Postal Code]</p>
                        <p>[Country or Territory]</p>
                        <p>Telephone [Number]</p>
                        <p>Fax [Number]</p>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="ups-group">
                        <p class="ups-group_label">Hours of Operation</p>
                        <p>[Weekday] hh:mm AM to hh:mm PM</p>
                        <p>[Weekday] hh:mm AM to hh:mm PM</p>
                        <p>[Weekday] hh:mm AM to hh:mm PM</p>
                        <p>...</p>
                        <p>[Sunday][Closed]</p>
                    </div>
                </div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
            <p><a href="repl_name" class="helpIconR btnlnkR">Directions to Loading/Unloading Area</a></p>
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
    </div>
</div>
