<div class="secLvl step">

    <!-- Begin Header Bar -->

    <div class="secHead clearfix">
        <h3>Pickup Date and Time</h3>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--<ul><li>
            <input name="" type="button" class="btnlnkL editMini" value="Edit">
        </li></ul>-->
        <div class="pull-right">
            <button class="ups-link">Edit</button>
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
    </div>

    <!-- End Header Bar -->
    <!-- Verify Pickup Request Details -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Removed DOM
    <div id="dyn_pnl_1">
    <div id="pnl_1_1">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

    <!-- Begin Section Body -->
    <div class="secBody clearfix">
        {{#if pickup.default }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--<dl role="presentation" >
                <dt> <span class="label">Pickup Date:</span> </dt>
                <dd>{pickup date}</dd>
            </dl>
            <!-- Begin Interior Column 1 --
            <div class="subcol9 marginBegin">
                <dl role="presentation" >
                    <dt> <span class="label">Earliest Pickup Time:</span> </dt>
                    <dd>{pickup time}</dd>
                    <dt> <span class="label">Latest Pickup Time:</span> </dt>
                    <dd>{latest pickup time}</dd>
                </dl>
            </div>
            <!-- End Interior Column 1 --
            <!-- Begin Interior Column 2 --
            <div class="subcol9">
                <dl role="presentation" >
                    <dt> <span class="label">Start of Lunch Period:</span> </dt>
                    <dd>{start of lunch period}</dd>
                    <dt> <span class="label">End of Lunch Period:</span> </dt>
                    <dd>{end of lunch period}</dd>
                </dl>
            </div>
            -->

            <div class="ups-group">
                <p class="ups-group_label">Pickup Date</p>
                <p>{pickup date}</p>
            </div>

            <div class="row">
                <div class="col-xs-5">
                    <div class="ups-group ups-group_condenced">
                        <p class="ups-group_label">Earliest Pickup Time</p>
                        <p>{earliest pickup time}</p>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="ups-group ups-group_condenced">
                        <p class="ups-group_label">Start of Lunch Period</p>
                        <p>{start of lunch period}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <div class="ups-group ups-group_condenced">
                        <p class="ups-group_label">Latest Pickup Time</p>
                        <p>{latest pickup time}</p>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="ups-group ups-group_condenced">
                        <p class="ups-group_label">End of Lunch Period</p>
                        <p>{end of lunch period}</p>
                    </div>
                </div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_1_2">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if pickup.dropoff }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--<p>Customer elected to drop off this shipment.</p>
            <dl role="presentation" class="outHozFixed clearfix">
                <dt>
                    <span for="repl_id">Drop-off Date:</span>
                </dt>
                <dd>[drop-off date]</dd>
                <dt>
                    <span for="repl_id">Shipment drop off-time:</span>
                </dt>
                <dd>[hh:mm] [AM/PM]</dd>
            </dl>
            <div class="clear"></div>
            <dl role="presentation" class="outHozFixed clearfix">
                <dt>
                    <span for="repl_id">[Location/Facility Name]</span>
                </dt>
                <dd>[000][mi/km]</dd>
             </dl>
             <dl role="presentation">
                <dd>[Address 1]</dd>
                <dd>[City], [Other], [State] [ZIP/Postal Code]</dd>
                <dd>[Country or Territory]</dd>
                <dd>Telephone: [Number]</dd>
                <dd>Fax: [Number]</dd>
             </dl>
                    <p><a href="repl_name" class="btnlnkR newWindowIconR">Directions to Loading/Unloading Area</a></p>
            <dl role="presentation">
                <dt>
                    <span for="repl_id">Hours of Operation:</span>
                </dt>
                <dd>[Weekday] hh:mm AM to hh:mm PM</dd>
                <dt>
                    <span for="repl_id">UPS Location Latest Drop-off Time:</span>
                </dt>
                <dd>hh:mm PM</dd>
            </dl> -->

            <p>Customer elected to drop off this shipment.</p>
            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Drop-off Date</p>
                </div>
                <div class="col-xs-5">
                    <p class="ups-group_value">[drop-off date]</p>
                </div>
            </div>
            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Shipment drop off-time</p>
                </div>
                <div class="col-xs-5">
                    <p class="ups-group_value">[hh:mm] [AM/PM]</p>
                </div>
            </div>
            <div class="ups-group ups-group_condenced">
                <p class="ups-group_label">
                    Shipment drop off-time
                    <span class="indent">[000][mi/km]</span>
                </p>
                 <div class="ups-group_value">
                    <p>[Address 1]</p>
                    <p>[City], [Other], [State] [ZIP/Postal Code]</p>
                    <p>[Country or Territory]</p>
                    <p>Telephone [Number]</p>
                    <p>Fax [Number]</p>
                </div>
            </div>
            <p>
                <a href="#">Directions to Loading/Unloading Area</a>
                <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                <span class="ups-readerTxt">Open the link in a new window</span>
            </p>
            <div class="ups-group">
                <p class="ups-group_label">Hours of Operation</p>
                <p class="ups-group_value">[Weekday] hh:mm AM to hh:mm PM</p>
            </div>
            <div class="ups-group">
                <p class="ups-group_label">UPS Location Latest Drop-off Time</p>
                <p class="ups-group_value">hh:mm PM</p>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
    </div>
    <!-- End Section Body -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Removed DOM
    </div>
    </div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
</div>
