<div class="secLvl step">

    <!-- Begin Header Bar -->

    <div class="secHead clearfix">
        <h3>Total Fees</h3>
    </div>

    <!-- End Header Bar -->
    <!-- Begin Body Bar -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Removed DOM
    <div id="dyn_pnl_7">
    <div id="pnl_7_1">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
    <div class="secBody clearfix">
        {{#if total_fees.hidden }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozLedger group">
                <dt> <span class="label">Total Charge for Pickup:</span> <a href="repl_href" class="btnlnkL collapseIcon noPrint">Show Pickup Fee Details</a></dt>
                <dd>NN.NN USD</dd>
                <dt> <span class="label">Total Charge for Shipment:</span></dt>
                <dd>NN.NN USD</dd>
                <dt> <span class="label">Total Charge for Taxes:</span></dt>
                <dd>NN.NN USD</dd>
                <dt> <span class="label">You're saving money with a discount:</span></dt>
                <dd>&nbsp;</dd>
                <dt> <span class="label">{Total Amount Due}:</span></dt>
                <dd><strong>NN.NN USD</strong></dd>
            </dl> -->

            <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">
                    Total Charge for Pickup
                    <span class="indent">
                        <a href="#">Show Pickup Fee Details</a>
                        <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
                    </span>
                    <span class="pull-right">NN.NN USD</span>
                </p>
            </div>

            <p><strong>Total Charge for Shipment</strong> <span class="pull-right">NN.NN USD</span></p>
            <p><strong>Total Charge for Taxes</strong> <span class="pull-right">NN.NN USD</span></p>
            <p><strong>You're saving money with a discount</strong></p>
            <p><strong>{Total Amount Due} <span class="pull-right">NN.NN USD</span></strong></p>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_7_2">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if total_fees.displayed }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozLedger group">
                <dt> <span class="label" >Total Charge for Pickup:</span> <a href="repl_href" class="btnlnkL collapseIcon noPrint">Show Pickup Fee Details</a></dt>
                <dd>NN.NN USD</dd>
                <dl role="presentation" class="outHozLedger indent">
                    <dt> Pickup Fee Detail (Placeholder) </dt>
                    <dd>nnn,nn XXX</dd>
                    <dt> Pickup Fee Detail (Placeholder) </dt>
                    <dd>nnn,nn XXX</dd>
                    <dt> Pickup Fee Detail (Placeholder) </dt>
                    <dd>nnn,nn XXX</dd>
                    <dt> Pickup Fee Detail (Placeholder) </dt>
                    <dd>nnn,nn XXX</dd>
                </dl>
                <dt> <span class="label">Total Charge for Shipment:</span></dt>
                <dd>NN.NN USD</dd>
                <dt> <span class="label">Total Charge for Taxes:</span></dt>
                <dd>NN.NN USD</dd>
                <dt> <span class="label">You're saving money with a discount:</span></dt>
                <dd>&nbsp;</dd>
                <dt> <span class="label">{Total Amount Due}:</span></dt>
                <dd><strong>NN.NN USD</strong></dd>
            </dl> -->

            <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">
                    Total Charge for Pickup
                    <span class="indent">
                        <a href="#">Show Pickup Fee Details</a>
                        <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
                    </span>
                    <span class="pull-right">NN.NN USD</span>
                </p>
                <div class="indent">
                    <p>Pickup Fee Detail (Placeholder)  <span class="pull-right">nn.nn XXX</span></p>
                    <p>Pickup Fee Detail (Placeholder)  <span class="pull-right">nn.nn XXX</span></p>
                    <p>Pickup Fee Detail (Placeholder)  <span class="pull-right">nn.nn XXX</span></p>
                    <p>Pickup Fee Detail (Placeholder)  <span class="pull-right">nn.nn XXX</span></p>
                </div>
            </div>
            <p><strong>Total Charge for Shipment</strong> <span class="pull-right">NN.NN USD</span></p>
            <p><strong>Total Charge for Taxes</strong> <span class="pull-right">NN.NN USD</span></p>
            <p><strong>You're saving money with a discount</strong></p>
            <p><strong>{Total Amount Due} <span class="pull-right">NN.NN USD</span></strong></p>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_7_3">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if total_fees.hidden_eucame }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozLedger group clearfix">
                <dt> <span class="label">Total Charge for Pickup:</span> &nbsp; <a href="repl_href" class="btnlnkL collapseIcon noPrint">Show Pickup Fee Detail</a></dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger clearfix">
                <dt>
                    <p><span class="label">Negotiated Pickup Charges:</span></p>
                    <p>Negotiated rates were applied to this pickup.</p>
                </dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger clearfix">
                <dt> <span class="label">Total Charge for Shipment:</span> </dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger clearfix">
                <dt>
                    <p><span class="label">Negotiated Charges:</span></p>
                    <p>Negotiated rates were applied to this shipment.</p>
                </dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger clearfix">
                <dt><span class="label">Sub-Total:</span></dt>
                <dd>nnn,nn XXX</dd>

                <dt><span class="label">VAT:</span></dt>
                <dd>nnn,nn XXX</dd>

                <dt><span class="label">Total Charges:</span></dt>
                <dd>nnn,nn XXX</dd>
            </dl> -->

            <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">
                    Total Charge for Pickup
                    <span class="indent">
                        <a href="#">Show Pickup Fee Details</a>
                        <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
                    </span>
                    <span class="pull-right">NN.NN USD</span>
                </p>
            </div>
            <div class="ups-group">
                <p><strong>Negotiated Pickup Charges</strong> <span class="pull-right">NN.NN USD</span></p>
                <p>Negotiated rates were applied to this pickup.</p>
            </div>
            <div class="ups-group">
                <p><strong>Total Charge for Shipment</strong> <span class="pull-right">NN.NN USD</span></p>
                <p><strong>Negotiated Charges</strong> <span class="pull-right">NN.NN USD</span></p>
                <p>Negotiated rates were applied to this shipment.</p>
            </div>
            <p><strong>Sub-Total</strong> <span class="pull-right">NN.NN USD</span></p>
            <p><strong>VAT</strong> <span class="pull-right">NN.NN USD</span></p>
            <p><strong>Total Charges <span class="pull-right">NN.NN USD</span></strong></p>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_7_4">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if total_fees.displayed_eucame }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozLedger group">
                <dt> <span class="totals">Total Charge for Pickup:</span> &nbsp; <a href="repl_href" class="btnlnkL collapseIcon noPrint">Hide Pickup Fee Details</a></dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger indent clearfix">
                <dt> Pickup Fee Detail (Placeholder) </dt>
                <dd>nnn,nn XXX</dd>
                <dt> Pickup Fee Detail (Placeholder) </dt>
                <dd>nnn,nn XXX</dd>
                <dt> Pickup Fee Detail (Placeholder) </dt>
                <dd>nnn,nn XXX</dd>
                <dt> Pickup Fee Detail (Placeholder) </dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger clearfix">
                <dt>
                    <p><span class="label">Negotiated Pickup Charges:</span></p>
                    <p>Negotiated rates were applied to this pickup.</p>
                </dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger clearfix">
                <dt> <span class="label">Total Charge for Shipment:</span> </dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger clearfix">
                <dt>
                    <p><span class="label">Negotiated Charges:</span></p>
                    <p>Negotiated rates were applied to this shipment.</p>
                </dt>
                <dd>nnn,nn XXX</dd>
            </dl>
            <dl role="presentation" class="outHozLedger clearfix">
                <dt class="totals">Sub-Total:</dt>
                <dd class="totals">nnn,nn XXX</dd>

                <dt class="totals">VAT:</dt>
                <dd class="totals">nnn,nn XXX</dd>

                <dt class="totals">Total Charges:</dt>
                <dd class="totals">nnn,nn XXX</dd>
            </dl> -->

            <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">
                    Total Charge for Pickup
                    <span class="indent">
                        <a href="#">Show Pickup Fee Details</a>
                        <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
                    </span>
                    <span class="pull-right">NN.NN USD</span>
                </p>
                <div class="indent">
                    <p>Pickup Fee Detail (Placeholder)  <span class="pull-right">nn.nn XXX</span></p>
                    <p>Pickup Fee Detail (Placeholder)  <span class="pull-right">nn.nn XXX</span></p>
                    <p>Pickup Fee Detail (Placeholder)  <span class="pull-right">nn.nn XXX</span></p>
                    <p>Pickup Fee Detail (Placeholder)  <span class="pull-right">nn.nn XXX</span></p>
                </div>
            </div>
            <div class="ups-group">
                <p><strong>Negotiated Pickup Charges</strong> <span class="pull-right">NN.NN USD</span></p>
                <p>Negotiated rates were applied to this pickup.</p>
            </div>
            <div class="ups-group">
                <p><strong>Total Charge for Shipment</strong> <span class="pull-right">NN.NN USD</span></p>
                <p><strong>Negotiated Charges</strong> <span class="pull-right">NN.NN USD</span></p>
                <p>Negotiated rates were applied to this shipment.</p>
            </div>
            <p><strong>Sub-Total</strong> <span class="pull-right">NN.NN USD</span></p>
            <p><strong>VAT</strong> <span class="pull-right">NN.NN USD</span></p>
            <p><strong>Total Charges <span class="pull-right">NN.NN USD</span></strong></p>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
    </div>
    <!-- End Body Bar -->
</div>
