<div class="secLvl step">

    <!-- Begin Header Bar -->

    <div class="secHead clearfix">
        <h3>
            {{#if title.default }}Pickup Information{{/if}}
            {{#if title.request_info }}Pickup Request Information{{/if}}
        </h3>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--<ul><li>
            <input name="" type="button" class="btnlnkL editMini" value="Edit">
        </li></ul>-->
        <div class="pull-right">
            <button class="ups-link">Edit</button>
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
    </div>

    <!-- End Header Bar -->
    <!-- Begin Section Body -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- Removed DOM
    <div id="dyn_pnl_3">
    <div id="pnl_3_1">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
    <div class="secBody clearfix">
        {{#if pickup_info.default }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozFixed clearfix">
                    <dt> <span class="label">Telephone:</span> </dt>
                    <dd>{Telephone}</dd>
                    <dt> <span class="label">Pick Up From:</span> </dt>
                    <dd>{Pick Up From}</dd>
                    <dt> <span class="label">Special Instructions:</span> </dt>
                    <dd>{Special Instructions}</dd>
                    <dt> <span class="label">Send Pickup Notifications To:</span> </dt>
                    <dd>{Mobile Number}<br>
                        {E-mail Address}<br>
                        {E-mail Address}<br>
                        {E-mail Address}</dd>
                </dl> -->

            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Telephone</p>
                </div>
                <div class="col-xs-5">
                    <p>{telephone}</p>
                </div>
            </div>
            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Pick Up From</p>
                </div>
                <div class="col-xs-5">
                    <p>{pick up from}</p>
                </div>
            </div>
            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Special Instructions</p>
                </div>
                <div class="col-xs-5">
                    <p>{special instructions}</p>
                </div>
            </div>
            <div class="row ups-group ups-group_condenced">
                <div class="col-xs-5">
                    <p class="ups-group_label">Send Pickup Notifications To</p>
                </div>
                <div class="col-xs-5">
                    <p>{mobile number}</p>
                    <p>{e-mail address 1}</p>
                    <p>{e-mail address 2}</p>
                    <p>{e-mail address 3}</p>
                </div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_3_2">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if pickup_info.no_login }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="group">
                <dt> <span class="label">Pickup will be made at the Pickup Address for the UPS Account entered.</span> </dt>
                <dd>To view the Pickup Location details for an entered UPS Account Number, you must be <a href="" class="btnlnkR newwindowIconR">logged into My UPS</a>.</dd>
            </dl>
            <dl role="presentation" class="outHozFixed clearfix">
                <dt> <span class="label">Special Instructions:</span> </dt>
                <dd>{Special Instructions}</dd>
            </dl>
            <p><strong>E-mail Pickup Notification To:</strong></p>
            <p class="indent">{E-Mail Address}</p>
            <p class="indent">{E-mail Address}</p> -->

            <div class="ups-group">
                <p class="ups-group_label">Pickup will be made at the Pickup Address for the UPS Account entered.</p>
                <p class="ups-group_value">
                    To view the Pickup Location details for an entered UPS Account Number, you must be
                    <a href="#">logged into My UPS.</a>
                    <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                    <span class="ups-readerTxt">Open the link in a new window</span>
                </p>
            </div>
            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Special Instructions</p>
                </div>
                <div class="col-xs-5">
                    <p>{special instructions}</p>
                </div>
            </div>
            <div class="row ups-group ups-group_condenced">
                <div class="col-xs-5">
                    <p class="ups-group_label">E-mail Pickup Notifications To</p>
                </div>
                <div class="col-xs-5">
                    <p>{e-mail address 1}</p>
                    <p>{e-mail address 2}</p>
                </div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- Removed DOM
        </div>
        <div id="pnl_3_3">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
        {{#if pickup_info.drop_off }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- <dl role="presentation" class="outHozFlex clearfix">
                <dt>
                    <span class="label">Company or Name:</span>
                </dt>
                <dd>{Company or Name}</dd>
                <dt>
                    <span class="label">Contact Name:</span>
                </dt>
                <dd>{Contact Name}</dd>
                <dd>{Address}</dd>
                <dd>{City}, {State} {ZIP Code}</dd>
            </dl>
            <dl role="presentation" class="outHozFixed clearfix">
                <dt>
                    <span class="label">Telephone:</span>
                </dt>
                <dd>{Telephone}</dd>
                <dt>
                    <span class="label">Special Instructions:</span>
                </dt>
                <dd>{Special Instructions}</dd>
                <dt>
                    <span class="label">Send Pickup Notifications To:</span>
                </dt>
                <dd>{Mobile Number}<br>
                    {E-mail Address}<br>
                    {E-mail Address}<br>
                    {E-mail Address}</dd>
            </dl> -->

            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Company or Name</p>
                </div>
                <div class="col-xs-5">
                    <p>{company or name}</p>
                </div>
            </div>
            <div class="row ups-group ups-group_condenced">
                <div class="col-xs-5">
                    <p class="ups-group_label">Contact Name</p>
                </div>
                <div class="col-xs-5">
                    <p>{contact name}</p>
                    <p>{address}</p>
                    <p>{city}, {state} {zip code}</p>
                </div>
            </div>

            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Telephone</p>
                </div>
                <div class="col-xs-5">
                    <p>{telephone}</p>
                </div>
            </div>
            <div class="row ups-group">
                <div class="col-xs-5">
                    <p class="ups-group_label">Special Instructions</p>
                </div>
                <div class="col-xs-5">
                    <p>{special instructions}</p>
                </div>
            </div>
            <div class="row ups-group ups-group_condenced">
                <div class="col-xs-5">
                    <p class="ups-group_label">Send Pickup Notifications To</p>
                </div>
                <div class="col-xs-5">
                    <p>{mobile number}</p>
                    <p>{e-mail address 1}</p>
                    <p>{e-mail address 2}</p>
                    <p>{e-mail address 3}</p>
                </div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
        {{/if}}
    </div>
    <!-- End Section Body -->
</div>
