<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Manage Company Logos</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
	 	View or change the company logo that displays on your UPS CampusShip screens and on commercial invoices. To save changes, select <b>Upload</b>.
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- begin logo information module -->
	<table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>
		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">Upload Web Logo File</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="3"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="98%">

			<!-- begin content column -->
			<p><span class="modsubheader">CampusShip Web Page Logo</span></p>
			<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td><img alt="" border="0" height="51" src="/img/1.gif" width="20"></td>
				<td><img alt="Logo" border="0" height="51" src="/img/1.gif" width="62"></td>
			</tr>
			</table>
			<br>
			<div class="pi-m-pad-arrow">&nbsp;<img alt="" src="/img/icn_arrow_blue.gif" border="0" height="10" width="10"><a href="repl_href">Delete Current Web Page Logo</a></div>
			<br>
			This logo will display on the top of CampusShip web pages. Enter or browse to the location and name of the logo file to be uploaded and select <b>Upload</b>.
			<br>
			<br><b>Location and Name of CampusShip Logo File:</b><br>
			<input type="file" name="file" class="modTxtLarge" size="50"><br>
			This action supports two .gif file formats: Portrait (66 pixels wide by 50 pixels high) or Landscape (124 pixels wide by 50 pixels high).<br>
			<br>
			<b>Note</b>: After you select <b>Submit</b>, the new logo will display in place of the previous logo.<br>
			<br>
			</td>

		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
  </table>
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
		<td align="right" valign="top" width="366"><input name="repl_fname" value="Submit" class="btn" type="submit"></td>
	</tr>
	</table>
	<!-- end buttons -->

	<!-- begin note area -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
	</tr>
	</table>
	<!-- end note area -->

	<!-- end application content -->

  <table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
    <tr>
      <td><!-- begin module header -->
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="10"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
              <td><!-- begin module title -->
                  <span class="whiteBoldHead">Upload Commercial Invoice Logo File</span>
                  <!-- end module title -->
              </td>
						</tr>
          </table>
          <!-- end module header -->
      </td>
    </tr>
    <tr>
      <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
          <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td bgcolor="#996633" colspan="3"></td>
            </tr>
            <tr>
              <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
            </tr>
            <tr>
              <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
              <td valign="top" width="98%">
							<!-- begin content column -->
							<span class="modsubheader">Commercial Invoice Logo</span><br>
							<br>
							<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td><img alt="" border="0" height="51" src="/img/1.gif" width="20"></td>
                <td><img alt="Logo" border="0" height="51" src="/img/1.gif" width="62"></td>
              </tr>
            </table>
            <br>
						This logo can display on commercial invoices printed from your locations. Enter or browse to the location and name of the logo file to be uploaded and select <b>Upload</b>.<br>
						<br>
						<b>Location and Name of <a href="rep_href">Commercial Invoice Logo<img alt="" border="0" height="1" src="/img/1.gif" width="2"><img alt="Help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a> File:</b><br>
						<input type="file" name="file22" class="modTxtLarge" size="50"><br>
            <br>
						This action supports .gif files up to 32KB for logos up to 4 inches wide and 2 inches high.<br>
						<br>
						<b>Note</b>: After you select <b>Submit</b>, the new logo will display in place of the previous logo.<br>
						<br>
              </td>
            </tr>
          </table>
          <!-- end module column spacing table -->
      </td>
    </tr>
  </table>
  <table border="0" cellpadding="0" cellspacing="1" width="566">
    <tr>
      <td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
    </tr>
    <tr>
      <td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
      <td align="right" valign="top" width="366"><input name="repl_fname" class="btn_bak_a" value="Back" type="button"><input name="repl_fname" value="Submit" class="btn" type="submit"></td>
    </tr>
  </table>
  <!-- end buttons -->
  <!-- begin note area -->
  <table border="0" cellpadding="0" cellspacing="1" width="566">
    <tr>
      <td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
    </tr>
  </table>
  <p>&nbsp;</p>
<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
