<form action="repl_faction">

    <div class="appLvl mod col18 ups-application_wrapper ups-form_wrap">
        <div class="appBody clearfix">
            <div class="secLvl clearfix">
                <div class="secHead clearfix">
                    <h2>Provide Package Information</h2>
                </div>
                <div class="secBody clearfix">
                    <p class="error">&gt;&gt;&gt; Error message here. Error message here.</p>
                    <p>To upload claims docmentation, enter the UPS Claim Number and Shipper UPS Account Number.</p>
                    {{> A04_page_level_required_message }}
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="ups-form_group ups-form_required">
                                <label for="ups-claim_number" class="ups-form_label">UPS Claim Number <span aria-hidden="true" class="ups-required_indicator"></span> </label>
                                <div class="ups-text_wrapper ups-input_wrapper">
                                    <input type="text" name="ups-claim_number" class="ups-form_input" id="ups-claim_number" aria-required="true" required="">
                                </div>
                            </div>
                            <div class="ups-form_group ups-form_required">
                                <label for="ups-account_number" class="ups-form_label">Shipper UPS Account Number <span aria-hidden="true" class="ups-required_indicator"></span> </label>
                                <div class="ups-text_wrapper ups-input_wrapper">
                                    <input type="text" name="ups-account_number" class="ups-form_input" id="ups-account_number" aria-required="true" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="ups-tech_agree" class="ups-checkbox-custom" name="ups-tech_agree" type="checkbox" value="1">
                        <label for="ups-tech_agree" class="ups-checkbox-custom-label">
                            By selecting this box you agree to the following <a href="#" class="ups-link">UPS Technology Agreement</a>.<span class="icon ups-link_newwindow" aria-hidden="true"></span><span class="ups-readerTxt">Open the link in a new window</span>
                        </label>
                    </div>
                </div>
                <div class="secFooter clearfix">
                    <button class="ups-cta ups-cta_primary" name="ups-next_btn" type="submit" value="">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="appLvl mod col6 ups-application_wrapper ups-form_wrap">
        <div class="appBody clearfix">
            <div class="secLvl secLvlPlain clearfix">
                <div class="secHead clearfix">
                    <h2>Claims at UPS.com</h2>
                </div>
                <div class="secBody clearfix">
                    <p>Need to file a claim UPS.com Claims lets you report a package problem, request an investigation, and obtain up-to-date status reports and emails throughout the investigation process.</p>
                    <p><a href="#" class="ups-link">UPS.com Claims</a>.<span class="icon ups-link_newwindow" aria-hidden="true"></span><span class="ups-readerTxt">Open the link in a new window</span></p>
                </div>
            </div>
        </div>
    </div>

</form>
