
{{> background_modal_content }}

<!-- Begin Application Module -->
<div class="appLvl modal-dialog mod col18 modal dialog">

	<!-- Begin Application Header -->
	<div class="appHead clearfix">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
		<!--<h2>zip/postal finder dialog</h2>
		<ul>
			<li>
				<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
			</li>
		</ul>-->
    	<h2 class="ups-modal_heading">ZIP/Postal finder</h2>
        <button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()">
    		<span class="icon ups-icon-x" aria-hidden="true"></span>
    		<span class="ups-readerTxt ng-binding">Close this dialog</span>
    	</button>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design -->
        <!-- ************************************** -->
	</div>
	<!-- End Application Header -->

	<!-- Begin Application Body -->
	<div class="appBody ups-form_wrap ups-application_wrapper">

		<!-- <p class="error">>>> error message</p> -->
		<p>Enter your search criteria and select <strong>search</strong> to continue. If you know a partial city name, you can enter it to help find a match.</p>
        {{> A04_page_level_required_message }}

		<!-- Begin Section Module -->
		<div class="secLvlPlain clearfix">

			<!-- Begin Section Body -->
			<div class="secBody">

				<!-- Begin Sub Module -->
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!-- div added to DOM -->
                <div class="row">
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!--
                <div class="secLvlPlain subcol6 marginBegin clearfix">
					<!-- Begin Sub Body --
					<div class="secBody">
						<dl class="clearfix">
							<dt><span class="label">country or territory:</span></dt>
							<dd>united states</dd>
							<dt>
								<label for="repl_id2">address:</label>
							</dt>
							<dd>
								<input type="text" id="repl_id2">
							</dd>
							<dt>
								<label for="repl_id3">city:</label>
							</dt>
							<dd>
								<input type="text" id="repl_id3">
								<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
							<dt>
								<label for="repl_id4">state:</label>
							</dt>
							<dd>
								<select id="repl_id4">
									<option value="repl_value">select one</option>
									<option value="repl_value">select a longer one</option>
								</select>
							</dd>
						</dl>
					</div>
					<!-- End Sub Body --
				</div>
                -->
                    <div class="col-xs-6">
                        <div class="ups-group">
                            <p class="ups-group_label">Country or Territory</p>
                            <p class="ups-group_value">United States</p>
                        </div>
                        <div class="ups-form_group">
                            <label for="ups-address" class="ups-form_label">Address</label>
                            <div class=" ups-text_wrapper ups-input_wrapper ">
                                <input type="text" name="name" class="ups-form_input" id="ups-address" >
                            </div>
                        </div>
                        <div class="ups-form_group ups-form_required ">
                            <label for="ups-city" class="ups-form_label">
                                City
                                <span aria-hidden="true" class="ups-required_indicator"></span>
                            </label>
                            <div class=" ups-text_wrapper ups-input_wrapper">
                                <input type="text" name="name" class="ups-form_input ups-error" id="ups-city" aria-required="true" required="">
                            </div>
                        </div>
                        <div class="ups-form_group">
							<label for="ups-state" class="ups-form_label">State</label>
							<div class="ups-dropdown_wrapper ups-input_wrapper">
								<select name="select" class="ups-dropdown" id="ups-state">
									<option value="">Select One</option>
								</select>
							</div>
						</div>
                    </div>
				<!-- End Sub Module -->

				<!-- Begin Sub Module -->

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!--
				<div class="secLvlPlain marginEnd clearfix">
					<!-- Begin Sub Body --

					<!-- height should be set dynamically based on functional requirement --
					<div class="iDiv" style="height:465px;">
						<dl class="outHozFlex clearfix">
							<dt>total results:</dt>
							<dd>##</dd>
						</dl>
						<p class="error">{&gt;&gt;&gt;error message.}</p>
						<p>try entering more complete address information to narrow down these results.</p>
						<ul>
							<li><a href="repl_href">10001</a> city, st</li>
							<li><a href="repl_href">10002</a> city, st</li>
							<li><a href="repl_href">10003</a> city, st</li>
							<li><a href="repl_href">10004</a> city, st</li>
							<li><a href="repl_href">10005</a> city, st</li>
							<li><a href="repl_href">10006</a> city, st</li>
							<li><a href="repl_href">10007</a> city, st</li>
							<li><a href="repl_href">10008</a> city, st</li>
							<li><a href="repl_href">10009</a> city, st</li>
							<li><a href="repl_href">10010</a> city, st</li>
						</ul>
					</div>

					<!-- End Section Body --
				</div>
                -->
				    <!-- End Section Module -->
                    <div class="col-xs-6">
                        <div class="ups-text_scroll">
                            <p><strong>Total Results</strong> <span class="indent">{nn}</span></p>
                            <p>Try entering more complete address information to narrow down these results.</p>
                            <ul>
    							<li><a href="repl_href">10001</a> city, st</li>
    							<li><a href="repl_href">10002</a> city, st</li>
    							<li><a href="repl_href">10003</a> city, st</li>
    							<li><a href="repl_href">10004</a> city, st</li>
    							<li><a href="repl_href">10005</a> city, st</li>
    							<li><a href="repl_href">10006</a> city, st</li>
    							<li><a href="repl_href">10007</a> city, st</li>
    							<li><a href="repl_href">10008</a> city, st</li>
    							<li><a href="repl_href">10009</a> city, st</li>
    							<li><a href="repl_href">10010</a> city, st</li>
    						</ul>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!-- div added to DOM -->
                </div>
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!-- div removed from DOM -->
				<!--<div class="clear"></div>-->
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
			</div>
			<!-- End Section Body -->

		</div>
		<!-- End Section Module -->

	</div>
	<!-- End Application Body -->

	<!-- Begin Application Footer -->
	<div class="appFooter">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
		<!--<div class="btnBar alignCenter">
			<input name="repl_name" type="button" value="cancel" class="btn">
			<input name="repl_name" type="button" value="search" class="btn">
		</div>-->
        <div class="ups-form_ctaGroup text-center">
    		<button type="submit" class="ups-cta ups-cta_primary" value="" name="repl_name">Search</button>
    		<button type="submit" class="ups-cta ups-cta_secondary" value="" name="repl_name">Cancel</button>
		</div>
	</div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************** -->

	<!-- End Application Footer -->

</div>
<!-- End Application Module -->

<script type="text/javascript">
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:590});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});
</script>
