---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
appJS: internet_freight
dir: rtl
lang: en
---
<div id="main">

{{> "ct1_shi_fsh(4opg)_partial" ltldetail.density_based}}

</div>
