@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

span.standardheader {
    margin-bottom: 15px;
}

.modpadarrow {
    background-image: none;
    a {
        &:before {
            @include ups-iconFont("\e60f");
            display: inline-block;
        }
    }
    img {
        display: none;
    }
}

#main {
    .instrcolor {
        background-color: $white;

        .appheadercolor {
            background-color: $stone_s3;

            .modulepad {
                padding: 12px 15px;
                display: inherit;
            }
        }
    }

    .whitesubheadbold {
        padding: 0;
        float: $default-float;
        color: $black_s4;
        font : {
                family: $sans-bd;
                weight: normal;
                size: 15.6px;
            }

        .changed {
            font : {
                family: $sans-bd;
                weight: normal;
                size: 15.6px;
            }
            float: $default-float;
            color: $black_s4;
            padding: 0
        }

        &:after {
            content: '';
            display: none;
        }
    }



    .subhd1 {
        font : {
            family: $sans-bd;
            weight: normal;
            size: 16.38px;
        }
        color: $black_s4;
    }

    span.bold {
        color: $black_s4;
    }

    a[href="#top"] {
        &:before {
            @include ups-iconFont("\e618");
            display: inline-block;
            margin-#{$opposite-direction}: 3px;
        }
    }

    img[src="/img/icn_back_top.gif"] {
        display: none;
    }
}


.butbarbgcolor {
    background-color: $white;
}
