---
title: ct1_shi_pickup_fraud_fail
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: rtl
lang: ar
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      
      <!-- Begin Application Module -->
        <div class="appBody clearfix">
        
            <div class="secLvl message clearfix">
                <div class="secHead clearfix">
                    <h3>Pickup Request Failed</h3>
                </div>
                <div class="secBody">
                    <p>We were unable to complete your pickup request based on the information you provided. Please contact UPS at [local contact information] for more information.</p>
                </div>
                <div class="secFooter alignEnd">
                    <button name="repl_name" id="repl_id" class="btn">
                        Continue
                    </button>
                </div>
            </div>
        
        </div>
      
      <!-- End Application Module --> 
      
    
    <!-- /applicationArea --> 
    
    <!-- /contentArea --> 
    
    <!-- /contentArea --> 
    
    <!-- /contentArea --> 
    
    <!-- /contentArea --> 
    
    <!-- /contentArea --> 
    
    <!-- /contentArea --> 
    
    <!-- /contentArea --> 
    
</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->