<p>
    Thank you. We've received your request. Updates will be sent to the recipients you indicated.
</p>
<div class="ups-group">
    <ul>
        <li *ngIf="notificationsSelected.pkgUpdatesCurStatus">
            Current Status
        </li>
        <li *ngIf="notificationsSelected.pkgUpdatesDelay">
            If a delay occurs
        </li>
        <li *ngIf="notificationsSelected.pkgUpdatesDelivered">
            When the shipment is delivered
        </li>
    </ul>
</div>
<div class="ups-form_ctaGroup text-center">
    <button class="ups-cta ups-cta_primary" (click)="closeBtn()">Close</button>
</div>
