<h3>UPS My Choice <sup>&reg;</sup></h3>
<div class="ups-group ups-group_condensed">
    <p>
        Manage home deliveries to fit your schedule by changing how, when and where they are delivered.
    </p>
    <a href="#" class="ups-link">Sign Up Now</a>
</div>

<h3>Quantum View <sup>&reg;</sup></h3>
<div class="ups-group ups-group_condensed">
    <p>
        Get detailed visibility into shipping activity across your supply chain with highly customizable views, notifications and reporting.
    </p>
    <a href="#" class="ups-link">Learn More About Quantum View</a>
</div>

<h3>Flex Global View&trade;</h3>
<div class="ups-group ups-group_condensed">
    <p>
        Manage your global supply chain, suppliers and inventory with enterprise-wide tracking across multiple transportation modes.
    </p>
    <a href="#" class="ups-link">Learn More About Flex Global View</a>
</div>

<div class="text-center">
    <button type="button" class="ups-cta ups-cta_tertiary" (click)="closeBtn()">Close</button>
</div>
