<div class="row">
    <div class="col-sm-6">
        <div class="ups-group ups-group_condensed">
            <p>[Name]</p>
            <p>[123 Main St, Unit 12]</p> 
            <p>[City], [State] [00000]</p>
        </div>
    </div>
</div>
<p>Would you like to update it or continue with the provided address?</p>
<div class="ups-form_ctaGroup text-center">
    <button class="ups-cta ups-cta_tertiary" type="button" (click)="closeEvent()">Update</button>
    <button class="ups-cta ups-cta_primary" type="button" (click)="closeEvent()">Continue</button>
</div>


