<ups-modal #modal1>
    Testing
</ups-modal>
<div class="cms-demo">
    <button type="button" class="ups-cta ups-cta_primary" (click)="changeRoute('beta')">Beta Welcome Modal</button>
    <br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="changeRoute('invAdd')">Invalid Address</button>
    <br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="changeRoute('resiComm')">Residential/Commercial Address</button>
    <br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="changeRoute('dutiable')">Dutiable</button>
</div>