<form action="">
	<!-- ECS C-Clamp -->

	<div id="main">
	<div class="appLvl col18 mod">
		<div class="appHead clearfix">
			<h2>manage investigation sites</h2>
		</div>
		<div class="appBody">
			<p><span class="error">[Error Message placeholder]</span> <span class="label">[00 custom package types successfully deleted.]</span></p>
			<p>use the list below to manage the investigative sites assigned to your clinical trial.  mark any sites to be removed from the trial and select the <strong>Remove Selected Sites from Trial</strong> link.  to add addistional sites to the trial, select the <strong>Add Investigative Sites</strong> link.</p>
			<dl class="outHozFlex">
				<dt>
					<label for="repl_id">Clinical Trial ID/Number:</label>
				</dt>
				<dd>AA123456789012345678 - [Description]</dd>
			</dl>
			<div class="clear"></div>
			<!-- begin page display settings -->
			<dl class="alignEnd">
				<dt>Display per Page:</dt>
				<dd>
				<select name="repl_fname" class="modSelSmall" size="1">
					<option selected>25</option>
					<option>50</option>
					<option>100</option>
				</select>
				</dd>
			</dl>
			<!-- end page display settings -->
			<div class="group">
				<div class="flexFirstPad">
					<input name="remove selected" type="button" id="" class="btnlnkL crossMini" value="remove selected sites from trial"/>
				</div>
				<div class="flexAfterPad">
					<input name="Add selected" type="button" id="" class="btnlnkL plusMini" value="add investigative sites"/>
				</div>
				<div class="clear"></div>
			</div>
			<!-- begin record count -->
			<p>Displaying x-y of nnn</p>
			<!-- end record count -->
			<!-- begin pagination -->
			<p>
				<a href="repl_href">first</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">previous</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">1</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">2</a>
				<img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">3</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">4</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">5</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">6</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">7</a>
				<img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">8</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">9</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">10</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11">
				<a href="repl_href">next</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">last</a>
			</p>
			<!-- end pagination -->
			<table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
				<!-- Begin Row: Header Rows with vertical spacing -->
				<thead>
					<tr class="odd">
						<th><input  name="repl_fname" type="checkbox" value="repl_fvalue"></th>
						<th><span class="bold">Location Name</span></th>
						<th><span class="bold">City or Locality</span></th>
						<th><span class="bold">Country or Territory</span></th>
					</tr>
				</thead>
				<!-- End Row: Header Rows with vertical spacing -->

				<!-- Begin Row: Odd Row with vertical spacing -->
				<tbody>
					<tr class="odd">
						<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
						<td>[location Name]</td>
						<td>[City Name]</td>
						<td>[country or territory]</td>
					</tr>
					<!-- End Row: Odd Row with vertical spacing -->

					<!-- Begin Row: Even Row with vertical spacing -->

					<tr>
						<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
						<td>[location name]</td>
						<td>[city name]</td>
						<td>[country or territory]</td>
					</tr>

					<!-- End Row: Even Row with vertical spacing -->

					<!-- Begin Row: Odd Row with vertical spacing -->

					<tr class="odd">
						<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
						<td>[location name]</td>
						<td>[city name]</td>
						<td>[country or territory]</td>
					</tr>

					<!-- End Row: Odd Row with vertical spacing -->
					<!-- Begin Row: Even Row with vertical spacing -->

					<tr>
						<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
						<td>[location name]</td>
						<td>[city name]</td>
						<td>[country or territory]</td>
					</tr>

					<!-- End Row: Even Row with vertical spacing -->
					<!-- Begin Row: Odd Row with vertical spacing -->
					<tr class="odd">
						<td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
						<td>[location name]</td>
						<td>[city name]</td>
						<td>[country or territory]</td>
					</tr>
				</tbody>
				<!-- End Row: Odd Row with vertical spacing -->

			</table>
			<!-- end results table -->
			<!-- begin record count -->
			<p>Displaying x-y of nnn</p>
			<!-- end record count -->
			<!-- begin pagination -->
			<p>
				<a href="repl_href">first</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">previous</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">1</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">2</a>
				<img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">3</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">4</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">5</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">6</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">7</a>
				<img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">8</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">9</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">10</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11">
				<a href="repl_href">next</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">last</a>
			</p>
			<!-- end pagination -->
			<div class="group">
				<div class="flexFirstPad">
					<input name="remove selected" type="button" id="" class="btnlnkL crossMini" value="remove selected sites from trial"/>
				</div>
				<div class="flexAfterPad">
					<input name="Add selected" type="button" id="" class="btnlnkL plusMini" value="add investigative sites"/>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- Begin Button Bar Row -->
		<div class="appFooter clearfix">
			<div class="btnBar">
				<input value="Cancel" name="cancel" class="btn" type="button">
				<input value="Update" name="" class="btn" type="button">
			</div>
		</div>
		<!-- End Button Bar Row -->
	</div>

	</div>

</form>
