<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">View Transaction History</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Select Transactions</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td colspan="3">
				To download all UPS TradeAbility<sup>TM</sup> information in your Transaction History, select <span class="pi-h4">Download All Transactions</span>, or select <span class="pi-h4">Search</span> to find specific transactions.
				<br><br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Download All Transactions</a><br><br></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top">&nbsp;</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td colspan="3">
				<span class="pi-h3">Display Options</span>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top">
				Show Services:<br>
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>All Services</option>
				</select>
				<br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top">Results per Page:<br>
				<select name="repl_fname" class="modSelSmall" size="1">
					<option>25</option>
				</select>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td colspan="3" valign="top">
				<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>Show History for the Last:<br>
					<select name="repl_fname" class="modSelMedium" size="1">
						<option>7 Days</option>
					</select></td>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="5"></td>
					<td valign="bottom"><input alt="Refresh" border="0" height="18" name="repl_fname" src="/img/btn_refresh_arrows.gif" type="image" width="18"></td>
				</tr>
				</table>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top">
				Start Date:
				<br>
				<select class="modSelMediumSmall" name="Month" size="1">
					<option value="00" selected>[Month]</option>
					<option value="01">January</option>
					<option value="02">February</option>
					<option value="03">March</option>
					<option value="04">April</option>
					<option value="05">May</option>
					<option value="06">June</option>
					<option value="07">July</option>
					<option value="08">August</option>
					<option value="09">September</option>
					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
				</select>
				<select class="modSelSmall" name="Day" size="1">
					<option value="00" selected>[Day]</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="30">31</option>
				</select>
				<select class="modSelSmall2" name="Year" size="1">
					<option value="00" selected>[Year]</option>
					<option value="01">2004</option>
					<option value="02">2005</option>
				</select>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td>
				End Date:
				<br>
				<select class="modSelMediumSmall" name="Month" size="1">
					<option value="00" selected>[Month]</option>
					<option value="01">January</option>
					<option value="02">February</option>
					<option value="03">March</option>
					<option value="04">April</option>
					<option value="05">May</option>
					<option value="06">June</option>
					<option value="07">July</option>
					<option value="08">August</option>
					<option value="09">September</option>
					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
				</select>
				<select class="modSelSmall" name="Day" size="1">
					<option value="00" selected>[Day]</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="30">31</option>
				</select>
				<select class="modSelSmall2" name="Year" size="1">
					<option value="00" selected>[Year]</option>
					<option value="01">2004</option>
					<option value="02">2005</option>
					</select>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td colspan="3">
				<span class="pi-h4">Note:</span> Historic data is only available for the previous 90 days.<br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			</table>

			</td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Search" border="0" height="18" name="search" src="/img/en/btn_search_a.gif" type="image" width="60"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	<br>

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Results</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td colspan="3">
				To view transaction details, select a linked Service Name. To download transactions, select the corresponding checkbox(es), then select <span class="pi-h4">Download Selected Items</span>. To download all transactions below, select <span class="pi-h4">Download Current Results</span>. Or, scroll to the bottom of the list for more options.
				<br><br>
				<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Download Current Results</a>
				<br><br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td colspan="3">
				<span class="pi-h4">Displaying transactions [x] - [y] of [nnn] in the last nn days</span><br>
				<!-- <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br> -->
				<input alt="First" border="0" height="11" name="page_first" src="/img/en/btn_lnk_first.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Previous" border="0" height="11" name="page_previous" src="/img/en/btn_lnk_previous.gif" type="image" 	width="38" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Previous 10" border="0" height="11" 	name="page_previous_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="1" border="0" height="11" name="page_1" src="/img/btn_lnk_1.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="2" border="0" height="11" name="page_2" src="/img/btn_lnk_2.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="3" border="0" height="11" name="page_3" src="/img/btn_lnk_3.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="4" border="0" height="11" name="page_4" 	src="/img/btn_lnk_4.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="5" border="0" 	height="11" name="page_5" src="/img/btn_lnk_5.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input 	alt="6" border="0" height="11" name="page_6" src="/img/btn_lnk_6.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="7" border="0" height="11" name="page_7" src="/img/btn_lnk_7.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="8" border="0" height="11" name="page_8" src="/img/btn_lnk_8.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="9" border="0" height="11" name="page_9" 	src="/img/btn_lnk_9.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="10" border="0" 	height="11" name="page_10" src="/img/btn_lnk_1.gif" type="image" width="7" /><input alt="10" border="0" height="11" name="page_10" src="/img/btn_lnk_0.gif" 	type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next 10" border="0" height="11" 	name="page_next_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="Next" border="0" height="11" name="page_next" src="/img/en/btn_lnk_next.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Last" border="0" height="11" name="page_last" src="/img/en/btn_lnk_last.gif" type="image" width="22" /><br>
				<br>
				<a href="repl_href"><img align="bottom" alt="" border="0" height="12" src="/img/btn_download_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">Download Selected Items</a>&nbsp;&nbsp;<a href="repl_href"><img align="bottom" alt="" border="0" height="12" src="/img/btn_details_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">Review Download List</a><br>
				<input alt="Select All" border="0" height="14" name="select_all" src="/img/en/btn_lnk_select_all_mini.gif" type="image" width="64" />&nbsp;&nbsp;<input alt="Clear All" border="0" height="14" name="clear_all" src="/img/en/btn_lnk_clear_all_mini.gif" type="image" width="60" />
				<br><br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			</table>

			</td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">

				<!-- Begin Table: Inner Content (Parent:Module Table) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
				<tr class="pi-r1-t">
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad" colspan="2"> <input alt="Service Name" border="0" height="10" name="service name" src="/img/en/btn_lnk_hdr_service_name.gif" type="image" width="90"><img alt="" border="0" height="1" src="/img/1.gif" width="3"><img alt="" height="10" src="/img/xln_arrow_black_down.gif" width="10"><br><input alt="Date/Time" border="0" height="11" name="date/time" src="/img/en/btn_lnk_hdr_date_time.gif" type="image" width="70"></td>
					<td class="pi-r1-line" colspan="2" nowrap>Party Name/Country or Territory Screened<br><div align="center">- or -</div>Ship To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ship From</td>
					<td class="pi-r1-line"> <input alt="Reference 1" border="0" height="11" name="reference 1" src="/img/en/btn_lnk_hdr_ref1.gif" type="image" width="78"><br>Reference 2<br>Reference 3</td>
				</tr>
				</thead>
				<tbody>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
					<td class="pi-r1-pad">n.</td>
					<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
				</tr>
				<tr class="pi-r1-rwe">
					<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
					<td class="pi-r1-pad">n.</td>
					<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
					<td class="pi-r1-pad">n.</td>
					<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
				</tr>
				<tr class="pi-r1-rwe">
					<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
					<td class="pi-r1-pad">n.</td>
					<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
					<td class="pi-r1-pad">n.</td>
					<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
					<td class="pi-r1-pad" colspan="2">[company/contact name]</td>
					<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
				</tr>
				</tbody>
				</table>
				<!-- End Table: Inner Content (Parent:Module Table) -->

				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->

			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<br>
			<img alt="" border="0" height="1" src="/img/1.gif" width="10">
			<input alt="Select All" border="0" height="14" name="select_all" src="/img/en/btn_lnk_select_all_mini.gif" type="image" width="64" />&nbsp;&nbsp;<input alt="Clear All" border="0" height="14" name="clear_all" src="/img/en/btn_lnk_clear_all_mini.gif" type="image" width="60" />
			<br>
			<img alt="" border="0" height="1" src="/img/1.gif" width="10">
			<a href="repl_href"><img align="bottom" alt="" border="0" height="12" src="/img/btn_download_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">Download Selected Items</a>&nbsp;&nbsp;<a href="repl_href"><img align="bottom" alt="" border="0" height="12" src="/img/btn_details_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">Review Download List</a>
			<div class="pi-m-pad">
			<br>
			<span class="pi-h4">Displaying transactions [x] - [y] of [nnn] in the last nn days</span><br>
			<!-- <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br> -->
			<input alt="First" border="0" height="11" name="page_first" src="/img/en/btn_lnk_first.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Previous" border="0" height="11" name="page_previous" src="/img/en/btn_lnk_previous.gif" type="image" 	width="38" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Previous 10" border="0" height="11" 	name="page_previous_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="1" border="0" height="11" name="page_1" src="/img/btn_lnk_1.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="2" border="0" height="11" name="page_2" src="/img/btn_lnk_2.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="3" border="0" height="11" name="page_3" src="/img/btn_lnk_3.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="4" border="0" height="11" name="page_4" 	src="/img/btn_lnk_4.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="5" border="0" 	height="11" name="page_5" src="/img/btn_lnk_5.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input 	alt="6" border="0" height="11" name="page_6" src="/img/btn_lnk_6.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="7" border="0" height="11" name="page_7" src="/img/btn_lnk_7.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="8" border="0" height="11" name="page_8" src="/img/btn_lnk_8.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="9" border="0" height="11" name="page_9" 	src="/img/btn_lnk_9.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="10" border="0" 	height="11" name="page_10" src="/img/btn_lnk_1.gif" type="image" width="7" /><input alt="10" border="0" height="11" name="page_10" src="/img/btn_lnk_0.gif" 	type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next 10" border="0" height="11" 	name="page_next_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="Next" border="0" height="11" name="page_next" src="/img/en/btn_lnk_next.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Last" border="0" height="11" name="page_last" src="/img/en/btn_lnk_last.gif" type="image" width="22" /><br><br>
			<div align="center"><img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"></div>
			<span class="pi-h3">Next Steps</span><br>
			Make another TradeAbility service request, or begin a shipment using TradeAbility results by selecting an option from the drop-down menu below.
			<br><br>
			Next Steps Options:
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="baseline">
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Repeat Selected Transaction</option>
				</select></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="5"></td>
				<td valign="baseline"><input alt="Go" border="0" height="18" name="repl_fname" src="/img/btn_arrow_large.gif" type="image" width="18"></td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
