{{!-----------------------------------------}}
{{! Begin Shipping Schedule               --}}
{{!-----------------------------------------}}

<fieldset class="ups-shipping_schedule_when">
    <legend class="ups-readerTxt">Delivery Date and Time Selection</legend>

    <!--------------------------------------->
    {{#if wwef}}
        <!-- begin #rateTblWWEF                -->
        <!--------------------------------------->
        <div class="row ups-shipping_schedule_row" id="rateTblWWEF">
            <div class="col-sm-3">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Mon,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 17
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule40" class="ups-radio-custom" name="deliverSchedule" type="radio" value="0">
                    <label for="deliverSchedule40">
                        <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                        <button type="button" class="ups-link">by [12:00/2:00] Midday</button>
                        <!-- ////////////////////////////////////////////// -->
                        <!-- UPS Worldwide Express Freight has a register   -->
                        <!-- or trademart symbole depending on the country  -->
                        <!-- or territory the the content is being viewed in-->
                        <!-- ////////////////////////////////////////////// -->
                        <p>UPS Worldwide Express Freight {<sup>&reg;</sup> | &trade;} Midday</p>
                        <p><strong>$3,555.13 USD</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule41" class="ups-radio-custom" name="deliverSchedule" type="radio" value="1">
                    <label for="deliverSchedule41">
                        <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                        <button type="button" class="ups-link">by End of Day</button>
                        <!-- ////////////////////////////////////////////// -->
                        <!-- UPS Worldwide Express Freight has a register   -->
                        <!-- or trademart symbole depending on the country  -->
                        <!-- or territory the the content is being viewed in-->
                        <!-- ////////////////////////////////////////////// -->
                        <p>UPS Worldwide Express Freight {<sup>&reg;</sup> | &trade;}</p>
                        <p><strong>$2247.22 USD</strong></p>
                    </label>
                </div>
                 <!-- end .row -->
            </div> <!-- end .col-sm-9 -->
        </div>
        <!--------------------------------------->
        <!-- end #rateTblWWEF                  -->
    {{else}}
        <!-- begin #rateTbl5                   -->
        <!--------------------------------------->
        <div class="row ups-shipping_schedule_row" id="rateTbl5">
            <div class="ups-shipping_schedule_col5">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Fri,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 14
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule1" class="ups-radio-custom" name="deliverSchedule" type="radio" value="1">
                    <label for="deliverSchedule1">
                        <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                        <button type="button" class="ups-link">by 8:00 AM</button>
                        <p>UPS Next Day Air Early</p>
                        <p><strong>$109.67 USD</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule2" class="ups-radio-custom" name="deliverSchedule" type="radio" value="2">
                    <label for="deliverSchedule2">
                        <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                        <button type="button" class="ups-link">by 10:30 AM</button>
                        <p>UPS Next Day Air</p>
                        <p><strong>$78.47 USD</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule3" class="ups-radio-custom" name="deliverSchedule" type="radio" value="3">
                    <label for="deliverSchedule3">
                        <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                        <button type="button" class="ups-link">by 3:30 AM</button>
                        <p>UPS Next Day Air Saver</p>
                        <p><strong>$74.83 USD</strong></p>
                    </label>
                </div>
            </div>
            <div class="ups-shipping_schedule_col5">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Sat,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 15
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule4" class="ups-radio-custom" name="deliverSchedule" type="radio" value="4">
                    <label for="deliverSchedule4">
                        <span class="ups-readerTxt">Delivery Saturday, Oct 15</span>
                        <button type="button" class="ups-link">by End of Day</button>
                        <p>UPS 2nd Day Air</p>
                        <p><strong>$47.22 USD</strong></p>
                    </label>
                </div>
            </div>
            <div class="ups-shipping_schedule_col5">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Mon,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 17
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule5" class="ups-radio-custom" name="deliverSchedule" type="radio" value="5">
                    <label for="deliverSchedule5">
                        <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                        <button type="button" class="ups-link">by 10:30 AM</button>
                        <p>UPS 2nd Day Air A.M</p>
                        <p><strong>$35.13 USD</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule6" class="ups-radio-custom" name="deliverSchedule" type="radio" value="6">
                    <label for="deliverSchedule6">
                        <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                        <button type="button" class="ups-link">by End of Day</button>
                        <p>UPS 2nd Day Air</p>
                        <p><strong>$30.58 USD</strong></p>
                    </label>
                </div>
            </div>
            <div class="ups-shipping_schedule_col5">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Tue,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 18
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule7" class="ups-radio-custom" name="deliverSchedule" type="radio" value="7">
                    <label for="deliverSchedule7">
                        <span class="ups-readerTxt">Delivery Tuesday, Oct 18</span>
                        <button type="button" class="ups-link">by End of Day</button>
                        <p>UPS Ground</p>
                        <p><strong>$22.61 USD</strong></p>
                    </label>
                </div>
            </div>
            <div class="ups-shipping_schedule_col5">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Wed,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 19
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule8" class="ups-radio-custom" name="deliverSchedule" type="radio" value="8">
                    <label for="deliverSchedule8">
                        <span class="ups-readerTxt">Delivery Wednesday, Oct 19</span>
                        <button type="button" class="ups-link">by End of Day</button>
                        <p>UPS Ground</p>
                        <p><strong>$17.61 USD</strong></p>
                    </label>
                </div>

                <div class="ups-shipping_schedule_header_wrap ups-shipping_schedule_surepost6" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">7+ Days</span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate ups-shipping_schedule_surepost">
                    <input id="deliverSchedule9" class="ups-radio-custom" name="deliverSchedule" type="radio" value="9">
                    <label for="deliverSchedule9">
                        <span class="ups-readerTxt">Delivery at or over 7 Days</span>
                        <p>Sure Post</p>
                        <p><strong>$11.61 USD</strong></p>
                    </label>
                </div>
            </div>
        </div>

        <!--------------------------------------->
        <!-- end #rateTbl5                     -->
        <!-- begin #rateTbl4                   -->
        <!--------------------------------------->

        <div class="row ups-shipping_schedule_row" id="rateTbl4">
            <div class="col-sm-3">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Fri,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 14
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule10" class="ups-radio-custom" name="deliverSchedule" type="radio" value="1">
                    <label for="deliverSchedule10">
                        <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                        <button type="button" class="ups-link">by 8:00 AM</button>
                        <p>UPS Next Day Air Early</p>
                        <p><strong>$109.67 USD</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule11" class="ups-radio-custom" name="deliverSchedule" type="radio" value="2">
                    <label for="deliverSchedule11">
                        <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                        <button type="button" class="ups-link">by 10:30 AM</button>
                        <p>UPS Next Day Air</p>
                        <p><strong>$78.47 USD</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule12" class="ups-radio-custom" name="deliverSchedule" type="radio" value="3">
                    <label for="deliverSchedule12">
                        <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                        <button type="button" class="ups-link">by 3:30 AM</button>
                        <p>UPS Next Day Air Saver</p>
                        <p><strong>$74.83 USD</strong></p>
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Sat,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 15
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule13" class="ups-radio-custom" name="deliverSchedule" type="radio" value="4">
                    <label for="deliverSchedule13">
                        <span class="ups-readerTxt">Delivery Saturday, Oct 15</span>
                        <button type="button" class="ups-link">by End of Day</button>
                        <p>UPS 2nd Day Air</p>
                        <p><strong>$47.22 USD</strong></p>
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Mon,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 17
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule14" class="ups-radio-custom" name="deliverSchedule" type="radio" value="5">
                    <label for="deliverSchedule14">
                        <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                        <button type="button" class="ups-link">by 10:30 AM</button>
                        <p>UPS 2nd Day Air A.M</p>
                        <p><strong>$35.13 USD</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule15" class="ups-radio-custom" name="deliverSchedule" type="radio" value="6">
                    <label for="deliverSchedule15">
                        <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                        <button type="button" class="ups-link">by End of Day</button>
                        <p>UPS 2nd Day Air</p>
                        <p><strong>$30.58 USD</strong></p>
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Tue,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 18
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule16" class="ups-radio-custom" name="deliverSchedule" type="radio" value="7">
                    <label for="deliverSchedule16">
                        <span class="ups-readerTxt">Delivery Tuesday, Oct 18</span>
                        <button type="button" class="ups-link">by End of Day</button>
                        <p>UPS Ground</p>
                        <p><strong>$22.61 USD</strong></p>
                    </label>
                </div>
            </div>
        </div>

        <!--------------------------------------->
        <!-- end #rateTbl4                     -->
        <!-- begin .row #rateTbl2dayWeekend    -->
        <!--------------------------------------->

        <div class="row ups-shipping_schedule_row" id="rateTbl2dayWeekend">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                            <span class="ups-shipping_schedule_day">Fri,</span>
                            <span class="ups-shipping_schedule_date">
                                Oct 14
                            </span>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule17" class="ups-radio-custom" name="deliverSchedule" type="radio" value="1">
                            <label for="deliverSchedule17">
                                <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                                <button type="button" class="ups-link">by 8:00 AM</button>
                                <p>UPS Next Day Air Early</p>
                                <p><strong>$109.67 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule18" class="ups-radio-custom" name="deliverSchedule" type="radio" value="2">
                            <label for="deliverSchedule18">
                                <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                                <button type="button" class="ups-link">by 10:30 AM</button>
                                <p>UPS Next Day Air</p>
                                <p><strong>$78.47 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule19" class="ups-radio-custom" name="deliverSchedule" type="radio" value="3">
                            <label for="deliverSchedule19">
                                <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                                <button type="button" class="ups-link">by 3:30 AM</button>
                                <p>UPS Next Day Air Saver</p>
                                <p><strong>$74.83 USD</strong></p>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                            <span class="ups-shipping_schedule_day">Sat,</span>
                            <span class="ups-shipping_schedule_date">
                                Oct 15
                            </span>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule20" class="ups-radio-custom" name="deliverSchedule" type="radio" value="4">
                            <label for="deliverSchedule20">
                                <span class="ups-readerTxt">Delivery Saturday, Oct 15</span>
                                <button type="button" class="ups-link">by End of Day</button>
                                <p>UPS 2nd Day Air</p>
                                <p><strong>$47.22 USD</strong></p>
                            </label>
                        </div>
                    </div>
                </div> <!-- end .row -->
            </div> <!-- end .col-sm-6 -->
            <div class="col-sm-6">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Mon,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 17
                    </span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule21" class="ups-radio-custom" name="deliverSchedule" type="radio" value="5">
                            <label for="deliverSchedule21">
                                <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                                <button type="button" class="ups-link">by 10:30 AM</button>
                                <p>UPS 2nd Day Air A.M</p>
                                <p><strong>$35.13 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule22" class="ups-radio-custom" name="deliverSchedule" type="radio" value="6">
                            <label for="deliverSchedule22">
                                <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                                <button type="button" class="ups-link">by End of Day</button>
                                <p>UPS 2nd Day Air</p>
                                <p><strong>$30.58 USD</strong></p>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule23" class="ups-radio-custom" name="deliverSchedule" type="radio" value="8">
                            <label for="deliverSchedule23">
                                <span class="ups-readerTxt">Delivery Wednesday, Oct 19</span>
                                <button type="button" class="ups-link">by End of Day</button>
                                <p>UPS Ground</p>
                                <p><strong>$17.61 USD</strong></p>
                            </label>
                        </div>
                    </div>
                </div>
            </div> <!-- end .col-sm-6 -->
        </div>

        <!--------------------------------------->
        <!-- end .row #rateTbl2dayWeekend      -->
        <!-- begin #rateTbl2day                -->
        <!--------------------------------------->

        <div class="row ups-shipping_schedule_row" id="rateTbl2day">
            <div class="col-sm-3">
                <!--<div class="row">
                    <div class="col-sm-6">-->

                        <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                            <span class="ups-shipping_schedule_day">Sat,</span>
                            <span class="ups-shipping_schedule_date">
                                Oct 15
                            </span>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule24" class="ups-radio-custom" name="deliverSchedule" type="radio" value="1">
                            <label for="deliverSchedule24">
                                <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                                <button type="button" class="ups-link">by 8:00 AM</button>
                                <p>UPS Next Day Air Early</p>
                                <p><strong>$109.67 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule25" class="ups-radio-custom" name="deliverSchedule" type="radio" value="2">
                            <label for="deliverSchedule25">
                                <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                                <button type="button" class="ups-link">by 10:30 AM</button>
                                <p>UPS Next Day Air</p>
                                <p><strong>$78.47 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule26" class="ups-radio-custom" name="deliverSchedule" type="radio" value="4">
                            <label for="deliverSchedule26">
                                <span class="ups-readerTxt">Delivery Saturday, Oct 15</span>
                                <button type="button" class="ups-link">by End of Day</button>
                                <p>UPS 2nd Day Air</p>
                                <p><strong>$47.22 USD</strong></p>
                            </label>
                        </div>
                    <!--</div>
                </div>-->
            </div>
            <div class="col-sm-6">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Mon,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 17
                    </span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule27" class="ups-radio-custom" name="deliverSchedule" type="radio" value="5">
                            <label for="deliverSchedule27">
                                <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                                <button type="button" class="ups-link">by 10:30 AM</button>
                                <p>UPS 2nd Day Air A.M</p>
                                <p><strong>$35.13 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule28" class="ups-radio-custom" name="deliverSchedule" type="radio" value="6">
                            <label for="deliverSchedule28">
                                <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                                <button type="button" class="ups-link">by End of Day</button>
                                <p>UPS 2nd Day Air</p>
                                <p><strong>$30.58 USD</strong></p>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule29" class="ups-radio-custom" name="deliverSchedule" type="radio" value="8">
                            <label for="deliverSchedule29">
                                <span class="ups-readerTxt">Delivery Wednesday, Oct 19</span>
                                <button type="button" class="ups-link">by End of Day</button>
                                <p>UPS Ground</p>
                                <p><strong>$17.61 USD</strong></p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------------->
        <!-- end #rateTbl2day                  -->
        <!-- begin #rateTbl2dayAlt             -->
        <!--------------------------------------->

        <div class="row ups-shipping_schedule_row" id="rateTbl2dayAlt">
            <div class="col-sm-3">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Tues,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 18
                    </span>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule30" class="ups-radio-custom" name="deliverSchedule" type="radio" value="4">
                    <label for="deliverSchedule30">
                        <span class="ups-readerTxt">Delivery Tuesday, Oct 18</span>
                        <button type="button" class="ups-link">by 8:00 AM</button>
                        <p>UPS Express Plus &reg;</p>
                        <p><strong>&euro;217.22 EUR</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule31" class="ups-radio-custom" name="deliverSchedule" type="radio" value="5">
                    <label for="deliverSchedule31">
                        <span class="ups-readerTxt">Delivery Tuesday, Oct 18</span>
                        <button type="button" class="ups-link">by 10:30 AM</button>
                        <p>UPS Express &reg;</p>
                        <p><strong>&euro;158.06 EUR</strong></p>
                    </label>
                </div>
                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule32" class="ups-radio-custom" name="deliverSchedule" type="radio" value="6">
                    <label for="deliverSchedule32">
                        <span class="ups-readerTxt">Delivery Tuesday, Oct 18</span>
                        <button type="button" class="ups-link">by 3:30 AM</button>
                        <p>UPS Express Saver &reg;</p>
                        <p><strong>&euro;148.54 EUR</strong></p>
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Wed,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 19
                    </span>
                </div>

                <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                    <input id="deliverSchedule33" class="ups-radio-custom" name="deliverSchedule" type="radio" value="8">
                    <label for="deliverSchedule33">
                        <span class="ups-readerTxt">Delivery Wednesday, Oct 19</span>
                        <button type="button" class="ups-link">by 10:30 AM</button>
                        <p>UPS Standard &reg;</p>
                        <p><strong>&euro;58.78 EUR</strong></p>
                    </label>
                </div>
            </div>
        </div>

        <!--------------------------------------->
        <!-- end #rateTbl2dayAlt               -->
        <!-- begin .row #rateTbl1day           -->
        <!--------------------------------------->

        <div class="row ups-shipping_schedule_row" id="rateTbl1day">
            <div class="col-sm-9">
                <div class="ups-shipping_schedule_header_wrap" aria-hidden="true">
                    <span class="ups-shipping_schedule_day">Mon,</span>
                    <span class="ups-shipping_schedule_date">
                        Oct 17
                    </span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule34" class="ups-radio-custom" name="deliverSchedule" type="radio" value="1">
                            <label for="deliverSchedule34">
                                <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                                <button type="button" class="ups-link">by 8:00 AM</button>
                                <p>UPS Next Day Air Early</p>
                                <p><strong>$109.67 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule35" class="ups-radio-custom" name="deliverSchedule" type="radio" value="2">
                            <label for="deliverSchedule35">
                                <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                                <button type="button" class="ups-link">by 10:30 AM</button>
                                <p>UPS Next Day Air</p>
                                <p><strong>$78.47 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule36" class="ups-radio-custom" name="deliverSchedule" type="radio" value="3">
                            <label for="deliverSchedule36">
                                <span class="ups-readerTxt">Delivery Friday, Oct 14</span>
                                <button type="button" class="ups-link">by 3:30 AM</button>
                                <p>UPS Next Day Air Saver</p>
                                <p><strong>$74.83 USD</strong></p>
                            </label>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule37" class="ups-radio-custom" name="deliverSchedule" type="radio" value="5">
                            <label for="deliverSchedule37">
                                <span class="ups-readerTxt">Delivery Monday, Oct 17</span>
                                <button type="button" class="ups-link">by 10:30 AM</button>
                                <p>UPS 2nd Day Air A.M</p>
                                <p><strong>$35.13 USD</strong></p>
                            </label>
                        </div>
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule38" class="ups-radio-custom" name="deliverSchedule" type="radio" value="4">
                            <label for="deliverSchedule38">
                                <span class="ups-readerTxt">Delivery Saturday, Oct 15</span>
                                <button type="button" class="ups-link">by End of Day</button>
                                <p>UPS 2nd Day Air</p>
                                <p><strong>$47.22 USD</strong></p>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ups-buttonList_wrapper ups-input_wrapper ups-day_rate">
                            <input id="deliverSchedule39" class="ups-radio-custom" name="deliverSchedule" type="radio" value="8">
                            <label for="deliverSchedule39">
                                <span class="ups-readerTxt">Delivery Wednesday, Oct 19</span>
                                <button type="button" class="ups-link">by End of Day</button>
                                <p>UPS Ground</p>
                                <p><strong>$17.61 USD</strong></p>
                            </label>
                        </div>
                    </div>
                </div> <!-- end .row -->
            </div> <!-- end .col-sm-9 -->
        </div>

        <!--------------------------------------->
        <!-- end .row #rateTbl1day             -->
    {{/if}}
    <!--------------------------------------->

</fieldset>

{{!-----------------------------------------}}
{{! End Shipping Schedule                   }}
{{!-----------------------------------------}}
