<div class="ups-toggle_view_right" id="wwxfUPSDelivery">
   <div class="ups-form_group">
       {{> A05_switch_lever liftgateLever2 }}
   </div>
   <div class="row">
       <div class="col-md-5">
           <div class="ups-form_group ups-form_required">
               <label for="packagePickupDate2" class="ups-form_label">
                   Pickup Date
                   <span aria-hidden="true" class="ups-required_indicator"></span>
               </label>
               <div class="ups-text_wrapper ups-input_wrapper ups-has_calendar_icon">
                   <input type="text" name="packagePickupDate2" class="ups-form_input" id="packagePickupDate2" aria-required="true" value="{Saturday 03/10/17}" required="" aria-label="Please enter date in mm/dd/yyyy format">
                   <button type="button" class="ups-date_picker_button">
                       <span class="icon ups-icon-calendar" aria-hidden="true"></span>
                       <span class="ups-readerTxt">Select date from a calendar</span>
                   </button>
               </div>
           </div>
       </div>
   </div>
   <div class="ups-section ups-section_condensed">
       <div class="ups-section-header">
           <!-- Edit Button spans are for translations & reader text -->
           <button type="button" class="ups-link pull-right" id="editPickupBtn">
               <span id="pickupInEditTxt" style="display: none;">Cancel</span>
               <span id="pickupNotInEditTxt">Edit</span>
               <span class="ups-readerTxt"> Pickup Address</span>
           </button>
           <p class="ups-subsection_heading ups-section_heading_label">Pickup Address</p>
       </div>
        <div id="noEditPickup">
            {Company or Name}
            <address class="ups-address_condensed">
                {Address Line 1}, {City},{State}, {ZIP Code}, {Country or Territory}
            </address>
        </div>
        <div id="editPickup">
            <div class="row">
                <div class="col-md-6">
                    <div class="ups-form_group ups-form_required">
                        <label for="pickupName" class="ups-form_label">
                            Name
                            <span aria-hidden="true" class="ups-required_indicator"></span>
                        </label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text"
                                name="pickupName"
                                class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}"
                                id="pickupName"
                                aria-required="true"
                                required
                                value="Frances Smith"
                                {{#if error}}aria-describedby="pickupName_error"{{/if}}>
                        </div>
                        {{#if non_error}}
                            {{> A12_field_lvl_success }}
                        {{/if}}
                        {{#if error}}
                            {{>A11_field_lvl_error error_pickupName }}
                        {{/if}}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="ups-form_group">
                        <label for="pickupContactName" class="ups-form_label">
                            Contact Name
                        </label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text" name="fromContactName" class="ups-form_input" id="pickupContactName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ups-form_group ups-form_required">
                <label for="pickupStreetAddress" class="ups-form_label">
                    Address
                    <span aria-hidden="true" class="ups-required_indicator"></span>
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        name="pickupStreetAddress"
                        class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}"
                        id="pickupStreetAddress"
                        placeholder="Street Address"
                        aria-required="true"
                        value="1333 Piedmont Ave"
                        required
                        {{#if error}}aria-describedby="pickupStreetAddress_error"{{/if}}>
                </div>
                {{#if non_error}}
                    {{> A12_field_lvl_success }}
                {{/if}}
                {{#if error}}
                    {{>A11_field_lvl_error error_pickupStreetAddress }}
                {{/if}}
            </div>
            <div class="ups-form_group">
                <label for="pickupAddress2" class="ups-form_label ups-readerTxt">
                    Apartment Suite or Unit
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        name="pickupAddress2"
                        class="ups-form_input"
                        id="pickupAddress2"
                        placeholder="Apt., Suite, Unit">
                </div>
            </div>
            <div class="ups-form_group">
                <label for="pickupAddress3" class="ups-form_label ups-readerTxt">
                    Department c/o etcetera
                </label>
                <div class="ups-text_wrapper ups-input_wrapper">
                    <input type="text"
                        name="pickupAddress3"
                        class="ups-form_input"
                        id="pickupAddress3"
                        placeholder="Dept., c/o, etc.">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" id="fromCityContainer">
                    <div class="ups-form_group ups-form_required">
                        <label for="pickupState" class="ups-form_label">
                            City
                            <span aria-hidden="true" class="ups-required_indicator"></span>
                        </label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text"
                                name="pickupCity"
                                class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}"
                                id="pickupCity"
                                aria-required="true"
                                required
                                value="Atlanta"
                                {{#if error}}aria-describedby="pickupCity_error"{{/if}}>
                        </div>
                        {{#if non_error}}
                            {{> A12_field_lvl_success }}
                        {{/if}}
                        {{#if error}}
                            {{>A11_field_lvl_error error_pickupCity }}
                        {{/if}}
                    </div>
                </div>

                <div class="col-sm-4" id="fromStateContainer">
                    <div class="ups-form_group ups-form_required">
                        <label for="pickupStateDropdown" class="ups-form_label">
                            State
                            <span aria-hidden="true" class="ups-required_indicator"></span>
                        </label>
                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                            <select id="pickupStateDropdown"
                                name="pickupStateDropdown"
                                class="ups-dropdown{{#if error}} ng-invalid ng-dirty{{/if}}"
                                aria-required="true"
                                required
                                {{#if error}}aria-describedby="pickupStateDropdown_error"{{/if}}>
                                <option>Select</option>
                                <option>Alabama</option>
                                <option>Georgia</option>
                            </select>
                        </div>
                        {{#if non_error}}
                            {{> A12_field_lvl_success }}
                        {{/if}}
                        {{#if error}}
                            {{>A11_field_lvl_error error_pickupStateDropdown }}
                        {{/if}}
                    </div>
                </div>

                <div class="col-sm-2" id="fromZipCodeContainer">
                    <div class="ups-form_group ups-form_required">
                        <label for="pickupZip" class="ups-form_label">
                            {ZIP} Code
                            <span aria-hidden="true" class="ups-required_indicator"></span>
                        </label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text"
                                name="pickupZip"
                                class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}"
                                id="pickupZip"
                                aria-required="true"
                                required
                                value="30309"
                                {{#if error}}aria-describedby="pickupZip_error"{{/if}}>
                        </div>
                        {{#if non_error}}
                            {{> A12_field_lvl_success }}
                        {{/if}}
                        {{#if error}}
                            {{>A11_field_lvl_error error_pickupZip }}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="ups-form_group ups-form_required">
                        <label for="pickupEmail" class="ups-form_label">
                            Email
                            <span aria-hidden="true" class="ups-required_indicator"></span>
                        </label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text"
                                name="pickupEmail"
                                class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}"
                                value="fsmith@email.com"
                                id="pickupEmail"
                                aria-required="true"
                                required
                                {{#if error}}aria-describedby="pickupEmail_error"{{/if}}>
                        </div>
                        {{#if non_error}}
                            {{> A12_field_lvl_success }}
                        {{/if}}
                        {{#if error}}
                            {{>A11_field_lvl_error error_pickupEmail }}
                        {{/if}}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="ups-form_group ups-form_required">
                        <label for="pickupPhone" class="ups-form_label">
                            Phone
                            <span aria-hidden="true" class="ups-required_indicator"></span>
                        </label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text"
                                name="pickupPhone"
                                class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}"
                                id="pickupPhone"
                                aria-required="true"
                                value="[nnn-nnnn]"
                                required
                                {{#if error}}aria-describedby="pickupPhone_error"{{/if}}>
                        </div>
                        {{#if non_error}}
                            {{> A12_field_lvl_success }}
                        {{/if}}
                        {{#if error}}
                            {{>A11_field_lvl_error error_pickupPhone }}
                        {{/if}}
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="ups-form_group">
                        <label for="pickupExt" class="ups-form_label">
                            Ext
                        </label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text" name="pickupExt" class="ups-form_input" id="pickupExt">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                     <div class="ups-form_group ups-help_wrapper">
                         {{> A05_switch_lever isThisAResidentialAddressLever2 }}
                     </div>
                </div>
            </div>
        </div>
   </div>
    <div class="ups-section">
        <div class="ups-section-header">
            <!-- Edit Button spans are for translations & reader text -->
            <button type="button" class="ups-link pull-right" id="pickupTimeEditBtn">
                <span id="pickupTimeNotInEditTxt">Edit</span>
                <span id="pickupTimeInEditTxt">Cancel</span>
                <span class="ups-readerTxt"> Pickup Details</span>
            </button>
            <p class="ups-subsection_heading ups-section_heading_label">Pickup Details</p>
        </div>
        <div class="row ups-group" id="noEditPickupTime">
            <div class="col-md-4">
                <p><strong>Your Pickup Window</strong></p>
            </div>
            <div class="col-md-4">
                <p>8:00AM - 6:00PM</p>
            </div>
        </div>
        <div class="row ups-group" id="noEditPickupTime">
            <div class="col-md-4">
                <p><strong>Pickup Location</strong></p>
            </div>
            <div class="col-md-4">
                <p>Loading Dock</p>
            </div>
        </div>
        <div id="editPickupTime">
            <div class="row">
                <div class="col-md-6">
                    <div class="ups-form_group">
                        <label for="pickupEarliestTime" class="ups-form_label">
                            Earliest Arrival Time
                        </label>
                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                            <select id="pickupEarliestTime" name="pickupEarliestTime" class="ups-dropdown">
                                <option>8:00 AM</option>
                                <option>8:30 AM</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ups-form_group">
                        <label for="pickupLatestTime" class="ups-form_label">
                            Latest Arrival Time
                        </label>
                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                            <select id="pickupLatestTime" name="pickupLatestTime" class="ups-dropdown">
                                <option>6:00 PM</option>
                                <option>6:30 PM</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="ups-form_group">
                        <label for="pickupPreferredLoc" class="ups-form_label">
                            Preferred Pickup Location
                        </label>
                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                            <select id="pickupPreferredLoc" name="pickupPreferredLoc" class="ups-dropdown">
                                <option>Front Door</option>
                                <option>Roof Door</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ups-form_group ups-help_wrapper">
                        <label for="pickupReference" class="ups-form_label">
                            Pickup Reference
                        </label>
                        <div class="ups-help">
                            <button type="button" id="ups-formHelp1" class="ups-help_link">
                                <span class="icon ups-icon-questioncircle" aria-hidden="true"></span>
                                Help
                            </button>
                            <div class="ups-help_tooltip ups-help_tooltip_bottomAleft">
                                <button type="button" class="ups-help_close">
                                    <span class="icon ups-icon-x ups-iconAlone" aria-hidden="true"></span>
                                    <span class="ups-readerTxt">Close</span>
                                </button>
                                <p><strong>Pickup Reference</strong> help text placeholder.</p>
                            </div>
                        </div>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="text"
                                name="pickupReference"
                                class="ups-form_input"
                                id="pickupReference">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ups-toggle_view_right" id="wwxfHoldForPickup">
    <p><strong>
        <span class="icon ups-icon-alert"><span class="ups-readerTxt">Alert</span></span>
        Shipments with a total weight of more than 4400 lbs/2000kg must be approved before pickup.
    </strong></p>
    <p>Contact UPS Customer Service at 1-800-782-7892 to schedule a pickup.</p>
</div>

<div class="ups-toggle_view_left" id="wwxfDropoff">
    <div class="row">
        <div class="col-md-6">
            <div class="ups-form_group ups-form_required">
                <label for="wwxfDropoff2" class="ups-form_label">
                    Dropoff Date
                    <span aria-hidden="true" class="ups-required_indicator"></span>
                </label>
                <div class="ups-text_wrapper ups-input_wrapper ups-has_calendar_icon">
                    <input type="text"
                        name="wwxfDropoff2"
                        class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}"
                        id="wwxfDropoff2"
                        value="{Saturday 03/10/17}"
                        aria-required="true"
                        required
                        aria-label="Please enter date in mm/dd/yyyy format"
                        {{#if error}}aria-describedby="wwxfDropoff2_error"{{/if}}>
                    <button type="button" class="ups-date_picker_button">
                        <span class="icon ups-icon-calendar" aria-hidden="true"></span>
                        <span class="ups-readerTxt">Select date from a calendar</span>
                    </button>
                </div>
                {{#if non_error}}
                    {{> A12_field_lvl_success }}
                {{/if}}
                {{#if error}}
                    {{> A11_field_lvl_error error_wwxfDropoff2 }}
                {{/if}}
            </div>

            <div class="ups-form_group ups-form_required">
                <label for="wwxfDropoffLoc2" class="ups-form_label">
                    Available Dropoff Locations
                    <span class="ups-required_indicator" aria-required="true"></span>
                </label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="wwxfDropoffLoc2"
                        class="ups-dropdown{{#if error}} ng-invalid ng-dirty{{/if}}"
                        id="wwxfDropoffLoc2"
                        aria-required="true"
                        required
                        {{#if error}}aria-describedby="wwxfDropoffLoc2_error"{{/if}}>
                        <option value="0">[UPS Location Name][City][000][mi/km]</option>
                    </select>
                </div>
                {{#if non_error}}
                    {{> A12_field_lvl_success }}
                {{/if}}
                {{#if error}}
                    {{>A11_field_lvl_error error_wwxfDropoffLoc2 }}
                {{/if}}
            </div>

            <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">[Location/Facility Name]</p>
                <p>[Address], [City], [Other], [State], [ZIP/Postal Code], [Country or Territory]</p>
                <p>Telephone: [Number]</p>
                <p>Fax: [Number]</p>
            </div>

            <p><a href="#" class="ups-link">Directions to Loading/Unloading Area</a>
               <span class="icon ups-icon-newwindow"></span></p>
            <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Hours of Operation</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
                <p>[Weekday] hh:mm AM to hh:mm PM</p>
            </div>
            <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">UPS Location Latest Drop-Off Time</p>
                <p>hh:mm PM</p>
            </div>
            <div class="ups-form_group">
                <label for="wwxfDropoffTime2" class="ups-form_label">
                    What time will you drop off you shipment?
                </label>
                <p class="ups-form_subheader" id="wwxfDropOfflocalTime2HelperTxt">local time</p>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="wwxfDropoffTime2"
                        class="ups-dropdown"
                        id="wwxfDropoffTime2"
                        aria-describedby="wwxfDropOfflocalTime2HelperTxt">
                        <option value="0">[nn:nn am]</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ups-toggle_view_left" id="wwxfDropoffNotAvailable">
    <p><strong>
        <span class="icon ups-icon-alert"><span class="ups-readerTxt">Alert</span></span>
        No Worldwide Express Freight dropoff locations were found in your area.</strong></p>
    <p>Please schedule a pickup or <a href="repl_href" class="ups-link">Contact UPS</a> for other options.</p>
</div>
