	 <form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">

<div class="mod modal dialog">
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td>


				<!-- begin application -->

				<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="100%">
					<tr>
						<td>
						<!-- begin module header -->
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td width="10"><img height="1" border="0" width="10" src="/img/xln_spacer.gif" alt=""/></td>
										<td width=""><!-- begin module title -->
											<div class="modspacepad"><span class="whiteBoldHead">Create a New Distribution List</span></div>
											<!-- end module title -->
										</td>
										<td><!-- begin module navigation -->
												<div align="right" class="modspacepad"><a href="javascript:void(0);" id="repl_idname"><img height="12" width="12" border="0" title="Close" alt="Close" src="/img/icn_cross_mini_wht.gif"/></a></div>
											<div><img height="1" border="0" width="1" src="/img/xln_spacer.gif" alt=""/></div>
											<!-- end module navigation -->
										</td>
										<td width="10"><img height="1" border="0" width="10" src="/img/xln_spacer.gif" alt=""/></td>
									</tr>
								</tbody>
							</table>
						<!-- end module header -->
						</td>
					</tr>
					<tr>
						<td><!-- begin module column spacing table -->
							<table cellspacing="0" cellpadding="0" border="0" width="100%" class="modbgcolor2">
								<tbody>
									<tr>
										<td colspan="5" class="modline2"><img height="3" border="0" width="1" src="/img/xln_spacer.gif" alt=""/></td>
									</tr>
									<tr>
										<td class="nopad" colspan="3"><img alt="" border="0" src="/img/1.gif" height="10" width="1"></td>
									</tr>
									<tr>
										<td class="nopad" colspan="3">

										<!-- begin create distribution list module -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%">

											<!-- Begin Optional Error Message -->
											<tr>
													<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
													<td><span class="redErrorBold">&gt;&gt;&gt; You must enter a unique Distribution List Name.</span></td>
													<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
											</tr>
											<!-- End Optional Error Message -->
											<tr>
													<td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
											</tr>
											<tr>
													<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
													<td valign="top">
															<!-- begin instructional text -->
															To create a new distribution list, enter a unique name and select <span class="bold">next</span>.
															<!-- end instructional text -->
													</td>
													<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
											</tr>
											<tr>
													<td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
											</tr>
											<tr>
															<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
															<td valign="top">
															<!-- begin content column -->
																<div class="bold">Distribution List Name:</div>
																	<!-- Begin Optional Error Message -->
																	<div class="redErrorBold">&gt;&gt;&gt; Distribution List</div>
																	<!-- End Optional Error Message -->
																	<input class="modTxtLarge" maxlength="50" name="Distribution List Name" size="34" type="text" value="">
																	<div class="reqTxtInst" id="" title="">{character max}</div>
															<!-- end content column -->
															</td>
															<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
											</tr>
											<tr>
													<td colspan="3"><img alt="" border="0" height="20" src="/img/xln_ffffff.gif" width="1"></td>
											</tr>
										</table>
										<!-- end create distribution list module -->

										<!-- begin buttons -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tr>
												<td width="10"><img alt="" border="0" height="22" src="/img/xln_ffffff.gif" width="10"></td>
													<td align="center" valign="top">
														<input value="Cancel" name="cancel" class="btn" type="button">
														<input value="Next" name="next" class="btn_a" type="button">
													</td>
													<td width="10"><img alt="" border="0" height="22" src="/img/xln_ffffff.gif" width="10"></td>
											</tr>
										</table>
										<!-- end buttons -->
										</td>
									</tr>
								</tbody>
							</table>
							<!-- end module column spacing table -->
						</td>
					</tr>
				</table>

				<!-- end application -->

</td>
</tr>
</table>
</div>
</div></div>
</form>


<!-- /dialog area END -->

<script type="text/javascript">
$(document).ready(function(){
	$('.mod').dialog({width:470,modal:true,bgiframe:true,dialogClass:'modal'});
	$
	$('#repl_idname').click(function(e){
		$('.mod').dialog('close');
	});
});
</script>
