{{#if default_pretable}}
<div class="secLvl">
	<div class="secHead clearfix">
		<h3>Service Details</h3>
	</div>
	<div class="secBody">
		<p><a class="ups-link ups-new-window" href="repl_href">UPS Next Day Air&reg; Early A.M.<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a> - zone 108</p>
		<p><strong>Guaranteed By:</strong> 9:30 A.M.</p>
		<p>Thursday February 4, 2010</p>
		
		<!-- Old Legacy Code --> 
		<!--<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Next Day Air Early A.M. (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <span class="label">Guaranteed By:</span> </dt>
	<dd>8:30 A.M.</dd>
</dl>
<p>Thursday February 4, 2010</p>
<div class="clear"></div>--> 
		<!-- End of Old Legacy Code -->
		
		<div class="pull-right">
			<p>(Displaying 1-3 of XX) <a href="repl_href">Previous</a> | <a href="repl_href2">Next</a></p>
		</div>
	</div>
</div>
{{/if}}
{{#if eu_ca_mx_pretable}}
<div class="secLvl">
	<div class="secHead clearfix">
		<h3>[Service Details]  [Rates by Service]</h3>
	</div>
	<div class="secBody">
		<p><a class="ups-link ups-new-window" href="repl_href">UPS Service Name&reg; <span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a> - zone 108</p>
		<p><strong>Guaranteed By:</strong> 8:30 A.M.</p>
		<p>Thursday February 4, 2010</p>
	</div>
</div>

<!-- Old Legacy Implementation --> 
<!--<dl class="outHozLedger clearfix">
	<dt> <span class="label">[Service Details] [Rates by Service]</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Service Name (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <span class="label">Guaranteed By:</span> </dt>
	<dd>8:30 A.M.</dd>
</dl>
<p>Thursday February 4, 2010</p>
<div class="clear"></div>--> 
{{/if}}
{{#if import_control_pretable}}
<div class="secLvl">
	<div class="secHead clearfix">
		<h3>Service Details</h3>
	</div>
	<div class="secBody">
		<p><a class="ups-link ups-new-window" href="repl_href">UPS Express Plus&reg; <span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a> (This is a zone 6 shipment.)</p>
		<p><strong>Guaranteed By:</strong> 8:30 A.M.</p>
		<p>Thursday February 4, 2010</p>
		
		<!-- Old Legacy Implementation --> 
		<!--<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Express Plus<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>(This is a zone 6 shipment.)</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <span class="label">Guaranteed By:</span> </dt>
	<dd>8:30 A.M.</dd>
</dl>
<p>Thursday February 4, 2010</p>
<div class="clear"></div>-->
		<div class="pull-right">
			<p>(Displaying 1-3 of XX) <a href="repl_href">Previous</a> | <a href="repl_href2">Next</a></p>
		</div>
	</div>
</div>
{{/if}}
{{#if ww_express_pretable}}
<div class="secLvl">
	<div class="secHead clearfix">
		<h3>Service Details</h3>
	</div>
	<div class="secBody">
	<p><a class="ups-link ups-new-window" href="repl_href">UPS Worldwide Express Freight&trade; <span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a> - zone 108</p>
	<p><strong>Deliver By:</strong></p>
	<p><strong>8:30 A.M. Thursday February 4, 2010</strong></p>
	<p>March 21, 2011</p>
	<p><strong>Guaranteed</strong></p>
	</div>
</div>
<!-- Old Legacy Implementation --> 
<!--<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Worldwide Express Freight&trade;<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="flexFirst clearfix">
		<dt>
			Deliver By:
		</dt>
		<dd>	<strong>End of Day Thursday</strong></dd>
	</dl>
<div class="clear"></div>

<p>March 21, 2011</p>
<p><strong>Guaranteed</strong></p>--> 
{{/if}}
{{#if ABR_pretable}}
<div class="secLvl">
	<div class="secHead clearfix">
		<h3>Service Details</h3>
	</div>
	<div class="secBody">
	<p><a class="ups-link ups-new-window" href="repl_href">UPS Next Day Air&reg; Early A.M. <span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a> -zone 108</p>
	<p><strong>Deliver By:</strong></p>
	<p><strong>End of Day Thursday</strong></p>
	<p>March 21, 2011</p>
	<p><strong>Guaranteed</strong></p>
	</div>
</div>
<!--<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Next Day Air Early A.M. (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="flexFirst clearfix">
		<dt>
			Deliver By:
		</dt>
		<dd>	<strong>End of Day Thursday</strong></dd>
	</dl>
<div class="clear"></div>

<p>March 21, 2011</p>
<p><strong>Guaranteed</strong></p>--> 
{{/if}}
{{#if ulan_pretable}}
<div class="secLvl">
	<div class="secHead clearfix">
		<h3>Service Details</h3>
	</div>
	<div class="secBody">
	<p><a class="ups-link ups-new-window" href="repl_href">UPS Next Day Air&reg; Early A.M. <span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a>- zone 108</p>
	<p><strong>Deliver By:</strong></p>
	<p><strong>End of Day Thursday</strong></p>
	<p>March 21, 2011</p>
	<p><strong>Guaranteed</strong></p>
	</div>
</div>
<!--<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Next Day Air Early A.M. (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="flexFirst clearfix">
		<dt>
			Deliver By:
		</dt>
		<dd>	<strong>End of Day Thursday</strong></dd>
	</dl>
<div class="clear"></div>

<p>March 21, 2011</p>
<p><strong>Guaranteed</strong></p>--> 
{{/if}}
{{#if vat_pretable}}
<div class="secLvl">
	<div class="secHead clearfix">
		<h3>Service Details</h3>
	</div>
	<div class="secBody">
	<p><a class="ups-link ups-new-window" href="repl_href">UPS Express Saver - Future Day Pickup <span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a>- zone</p>
	<p><strong>Deliver By:</strong></p>
	<p><strong>End of Day Thursday</strong></p>
	<p>March 21, 2011</p>
	<p><strong>Guaranteed</strong></p>
	</div>
</div>
<!-- Old Legacy Implementation --> 
<!--<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Express Saver - Future Day Pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone</dd>
</dl>
<dl class="flexFirst clearfix">
		<dt>
			Deliver By:
		</dt>
		<dd>	<strong>End of Day Thursday</strong></dd>
	</dl>
<div class="clear"></div>

<p>March 21, 2011</p>
<p><strong>Guaranteed</strong></p>--> 
{{/if}}
{{#if international_pretable}}
<div class="secLvl">
	<div class="secHead clearfix">
		<h3>Service Details</h3>
	</div>
	<div class="secBody">
	<p><a class="ups-link ups-new-window" href="repl_href">UPS Service Name&reg <span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a>- zone 108</p>
	<p><strong>Guaranteed By:</strong> 8:30 A.M.</p>
	<p>Thursday February 4, 2010</p>
	</div>
</div>
<!-- Old Legacy Implementation --> 
<!--
<dl class="outHozLedger clearfix">
	<dt> <span class="label">Service Details</span> </dt>
	<dd>
		<input name="input" class="btnlnkR printmini" value="Print" type="submit">
	</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <a href="repl_href">UPS Service (R)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> </dt>
	<dd>-zone 108</dd>
</dl>
<dl class="outHozFlex clearfix">
	<dt> <span class="label">Guaranteed By:</span> </dt>
	<dd>8:30 A.M.</dd>
</dl>
<p>Thursday February 4, 2010</p>
<div class="clear"></div>--> 
{{/if}} 