{{>"background_modal_content"}}
<div class="appLvl modal-dialog mod modal dialog"> {{>"ct1_shi_tnc_dlg_detailcharges_modalheader_partial"}}
	<div class="appBody ups-application_wrapper ups-form_wrap">
		<div class="ups-app_actions_container">
			<div class="ups-app_actions">
				<div class="pull-right">
					<button class="ups-link">Print <span class="icon ups-icon-print" aria-hidden="true"></span> <span class="ups-readerTxt">Print</span> </button>
				</div>
			</div>
		</div>
		{{>"ct1_shi_tnc_dlg_detailcharges_pretable_text_partial"}}
		<div class="secLvl">
			<div class="secBody"> 
			{{>"ct1_shi_tnc_dlg_detailcharges_table_partial"}}
			{{>"ct1_shi_tnc_dlg_detailcharges_posttable_text_partial"}} 
			</div>
		</div>
	</div>
	<!-- Begin Application Footer --> 
	<!-- Old Button --> 
	<!-- <div class="appFooter">
		<div class="btnBar alignCenter">
			<input id="repl_id" name="repl_name" type="button" value="okay" class="btn">
		</div>
	</div> --> 
	<!-- New WEM/Legacy Button Group -->
	<div class="appFooter">
		<div class="ups-form_ctaGroup text-center">
			<button type="button" class="ups-cta ups-cta_primary">Ship Now</button>
			<button type="button" class="ups-cta ups-cta_secondary">Close</button>
		</div>
	</div>
	<!-- End Application Footer --> 
</div>
