{{#if default_posttable}}
<div class="ups-group">
<p>{1507 disclaimer placeholder}</p>
</div>
<div class="ups-group">
<p>* All applicable promotional discounts have been applied.</p>
<p>{Account-based} rates have been applied to the {Pickup Charge}.</p>
<p>The weight exceeds the limit for the UPS Letter/Envelope rate and will be rated using the weight.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
</div>
<div class="ups-group">
	<ul>
		<li>For packages shipped from and delivered to a UPS Access Point<sup>&trade;</sup> location</li>
		<li>Days in transit is based on a drop-off prior to a location's collection time</li>
	</ul>
</div>
{{/if}}
{{#if eu_ca_mx_posttable}}
<div class="ups-group">
<p>{1507 disclaimer placeholder}</p>
</div>
<div class="ups-group">
<p>* All applicable promotional discounts have been applied</p>
<p>{Account-based} rates have been applied to the {Pickup Charge}.</p>
<p>The weight exceeds the limit for the UPS Letter/Envelope rate and will be rated using the weight.</p>
</div>
{{/if}}
{{#if import_control_posttable}}
<div class="ups-group">
<p>{1507 disclaimer placeholder}</p>
</div>
<div class="ups-group">
<p>* All applicable promotional discounts have been applied.</p>
<p>{Account-based} rates have been applied to the {Pickup Charge}.</p>
<p>The weight exceeds the limit for the UPS Letter/Envelope rate and will be rated using the weight.</p>
<p>Rates estimates are based on import rates of the destination country or territory, and may include a label accessorial fee.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
</div>
{{/if}}
{{#if ww_express_posttable}}
<div class="ups-group">
<p>[All applicable promotional discounts have been applied.]</p>
<p>{Account-based} rates have been applied to the {Pickup Charge}.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
</div>
{{/if}}
{{#if ABR_posttable}}
<div class="ups-group">
<p>[All applicable promotional discounts have been applied.]</p>
<p>{Account-based} rates have been applied to the {Pickup Charge}.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
</div>
{{/if}}
{{#if ulan_posttable}}
<div class="ups-group">
<p>{1507 disclaimer placeholder}</p>
</div>
<div class="ups-group">
<p>[All applicable promotional discounts have been applied.]</p>
<p>{Account-based} rates have been applied to the {Pickup Charge}.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
</div>
{{/if}}
{{#if vat_posttable}}
<div class="ups-group">
<p>{1507 disclaimer placeholder}</p>
</div>
<div class="ups-group">
<p>[All applicable promotional discounts have been applied.]</p>
<p>{Account-based} rates have been applied to the {Pickup Charge}.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
</div>
{{/if}}
{{#if international_posttable}}
<div class="ups-group">
<p>{1507 disclaimer placeholder}</p>
</div>
<div class="ups-group">
<p>* All applicable promotional discounts have been applied.</p>
<p>{Account-based} rates have been applied to the {Pickup Charge}.</p>
<p>The weight exceeds the limit for the UPS Letter/Envelope rate and will be rated using the weight.</p>
<p>Rates may vary at retail locations. Result estimates calculated by UPS: Wednesday, February 3, 2010 9:32 A.M. Eastern Time (USA)</p>
</div>
{{/if}}
