{{#if default_table}}
<!-- New WEM/Legacy Hybrid Code-->
<table class="dataTable full ups-table_group">
	<tr>
		<th scope="col"></th>
		<th scope="col">Package 1</th>
		<th scope="col">Package 2</th>
		<th scope="col">Package 3</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Next Day Air<sup>&reg;</sup> Early A.M.</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Additional Handling<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>--</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Chain of Custody<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX CAD</td>
		<td>XX.XX CAD</td>
		<td>XX.XX CAD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Declared Value<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Delivery Area Surcharge - Rural<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Fuel Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row">Large Package Surcharge</td>
		<td>--</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Security Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row">Charges Per Package</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Peak Surcharge - Residential<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Peak Surcharge - Commercial<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Peak Surcharge - Large Package<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Peak Surcharge - Additional Handling<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Peak Surcharge - Over Max<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="totals">
		<td colspan="3" class="ups-table_total_row"><strong>Pre-Tax Sub Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	 </tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row">{Various Pickup Fees}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="totals">
	<td colspan="3" class="ups-table_total_row"><strong>Shipment Total:</strong></td>
	<td nowrap=""><strong>XX.XX USD</strong></td>
  </tr>
  <tr class="totals">
	<td colspan="3" class="ups-table_total_row"><strong>Adjusted Total:</strong></td>
	<td nowrap=""><strong>XX.XX USD*</strong></td>
  </tr>
  
</table>
<!-- Old Legacy Code -->
<!--<table class="dataTable full">
	<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">Package 1</th>
		<th scope="col">Package 2</th>
		<th scope="col">Package 3</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Next Day Air Early A.M. (R)</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Additional Handling<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>--</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Chain of Custody<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX CAD</td>
		<td>XX.XX CAD</td>
		<td>XX.XX CAD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href">Declared Value<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>{Free}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Delivery Area Surcharge - Rural<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">Saturday Air Processing Fee</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Fuel Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">Large Package Surcharge</td>
		<td>--</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href">Security Surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">Charges Per Package</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="totals">
		<td colspan="3"><strong>Pre-Tax Sub total:</strong></td>
		<td nowrap=""><strong>XX.XX usd</strong></td>
 	 </tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row">{Various Pickup Fees}</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="totals">
	<td colspan="3"><strong>Shipment total:</strong></td>
	<td nowrap=""><strong>XX.XX usd</strong></td>
  </tr>
  <tr class="totals">
	<td colspan="3"><strong>Adjusted total:</strong></td>
	<td nowrap=""><strong>XX.XX usd*</strong></td>
  </tr>
  
</table>

<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
		<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Adjusted Total:</span>
			</dt>
			<dd>nnn,nn XXX*</dd>
		</dl>
	<div class="clear"></div>
</div>
<div class="clear"></div>-->
{{/if}} 
{{#if eu_ca_mx_table}}
<!-- New WEM/Legacy Hybrid Code -->
<table class="dataTable full ups-table_group">
	<tr>
		<th scope="col"></th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Service Name<sup>&reg;</sup></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Declared Value<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>[Free] (or) nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row">C.O.D.</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Additional Handling<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Delivery Area Surcharge - Rural<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Residential Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Extended Area Surcharge - Rural (Ship From)<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Extended Area Surcharge - [Code] (Ship To)<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Fuel Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row">Large Package Surcharge</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Security Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Other Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Pre-Tax Sub-Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
	<!--<tr>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
	</tr>-->
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Total Charges:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
	<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Adjusted Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD*</strong></td>
 	</tr>
</table>

<!--<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Pre-Tax Subtotal:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
	<div class="clear"></div>
</div>-->
<!--<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Total Charges:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
		<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Adjusted Total:</span>
			</dt>
			<dd>nnn,nn XXX*</dd>
		</dl>
	<div class="clear"></div>
</div>
<div class="clear"></div>-->
<!--<div class="btnBar">
	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>-->
{{/if}}
{{#if import_control_table}}
<!-- New Wem/Legacy Hybrid Code -->

<table class="dataTable full ups-table_group">
	<tr>
		<th scope="col"></th>
		<th scope="col">Package 1</th>
		<th scope="col">Package 2</th>
		<th scope="col">Package 3</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Express Plus</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Additional Handling<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>--</td>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Import Control - Electronic Label</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Fuel Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row">Large Package Surcharge</td>
		<td>--</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">[Other Surcharge]<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row">Charges Per Package</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Carbon Neutral</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="totals">
		<td colspan="3" class="ups-table_total_row"><strong>pre-tax sub-total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>		
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>		
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>
		<td>nnn,nn XXX</td>		
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="3" class="ups-table_total_row"><strong>Shipment Total:</strong></td>
		<td nowrap=""><strong>nnn,nn XXX</strong></td>
 	</tr>
	<tr>
		<tr class="totals">
		<td colspan="3" class="ups-table_total_row"><strong>Adjusted Total:</strong></td>
		<td nowrap=""><strong>nnn,nn XXX</strong></td>
 	</tr>
</table>

<!--<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
		<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Adjusted Total:</span>
			</dt>
			<dd>nnn,nn XXX*</dd>
		</dl>
	<div class="clear"></div>
</div>
<div class="clear"></div>-->
<!--<div class="btnBar alignEnd">
	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>-->
<!-- End of Legacy Code -->
{{/if}}
{{#if ww_express_table}}
<table class="dataTable full ups-table_group">
	<tr>
		<th scope="col"></th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Worldwide Express Freight&#8480;</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Declared Value<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Pallet Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Liftgate on Pickup<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Fuel Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Security Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">[Other Surcharge]<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Pre-Tax Sub-Total:</strong></td>
		<td nowrap=""><strong>XXX.XX USD</strong></td>
 	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Shipment Total:</strong><p>[Negotiated Rates were Applied]</p></td>
		<td nowrap=""><strong>XXX.XX USD</strong></td>
 	</tr>
</table>
<p>{1507 disclaimer placeholder}</p>

<!--<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Shipment Total:</span>
				<br>
				<p>[Negotiated Rates were Applied]</p>
			</dt>
			<dd>XXX.XX USD</dd>
		</dl>
</div>-->
<!--<dl class="outHozLedger clearfix">
		<dt>
		<p>{1507 disclaimer placeholder}</p>
		</dt>
		<dd>	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</dd>
	</dl>-->
{{/if}}
{{#if ABR_table}}
<table class="dataTable full ups-table_group">
	<tr>
		<th scope="col"></th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Next Day Air Early A.M.<sup>&reg;</sup></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Declared Value<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Pick up Charge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Fuel Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">[Other Surcharge]<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Pre-Tax Sub-Total:</strong></td>
		<td nowrap=""><strong>XXX.XX USD</strong></td>
 	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Shipment Total:</strong><p>[negotiated rates were applied]</p></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
</table>
<p>{1507 disclaimer place holder}</p>
<!-- Old Legacy Code -->
<!--<dl class="outHozLedger clearfix">
		<dt>
		<p>{1507 disclaimer placeholder}</p>
		</dt>
		<dd>	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</dd>
	</dl>-->
{{/if}}
{{#if ulan_table}}

<!-- New WEM/Legacy Hybrid Code -->
<table class="dataTable full ups-table_group">
	<tr>
		<th scope="col"></th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Next Day Air Early A.M.<sup>&reg;</sup></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row" class="ups-table_total_row"><span class="reqTxtInst">You're saving money with a discount</span></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Declared Value<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Pickup Charge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row"><span class="reqTxtInst">You're saving money with a discount</span></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Fuel Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">[Other Surcharge]<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Pre-Tax Sub-Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
	<tr>
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>	
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Shipment Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
</table>
<!--<div class="clear"></div>
<div class="btnBar">
<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>
<div class="clear"></div>-->
{{/if}}
{{#if vat_table}}

<!-- New WEM/Legacy Hybrid Code -->
<table class="dataTable full ups-table_group">
	<tr>
		<th scope="col"></th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Express Saver - Future Day Pickup</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row" class="ups-table_total_row"><span class="reqTxtInst">You're saving money with a discount</span></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Declared Value<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Pick up Charge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>{Free} (or) XX.XX USD</td>
	</tr>
	<tr>
		<td scope="row" class="ups-table_total_row"><span class="reqTxtInst">You're saving money with a discount</span></td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Fuel Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">[Other Surcharge]<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Pre-Tax Sub-Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
	<tr class="odd">
		<td scope="row">VAT</td>
		<td>XX.XX USD</td>
	</tr>
	<tr>
		<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Shipment Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
</table>
<!-- Old Legacy Code -->
<!--<div class="clear"></div>
<div class="btnBar">
<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>
<div class="clear"></div>-->
{{/if}}
{{#if international_table}}
<!-- New WEM/Hybrid Legacy Code -->
<table class="dataTable full ups-table_group">
	<tr>
		<th scope="col"></th>
		<th scope="col">Rates</th>
	</tr>
	<tr class="odd">
		<td scope="row">UPS Service Name<sup>&reg;</sup></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Additional Handling<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Declared Value<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>[Free] (or) nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Delivery Area Surcharge - Rural<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Residential Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Extended Area Surcharge - Rural (Ship From)<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Extended Area Surcharge - [Code] (Ship To)<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Fuel Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row">Large Package Surcharge</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Security Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row"><a href="repl_href" class="ups-link ups-new-window">Other Surcharge<span class="ups-icon-newwindow" aria-hidden="true"></span><span class="ups-readerTxt">This will open a new window</span></a></td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Pre-Tax Sub-Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
	<tr class="odd">
		<td scope="row">{Tax 1}</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr>
		<td scope="row">{Tax 2}</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="odd">
		<td scope="row">{Tax 3}</td>
		<td>nnn,nn XXX</td>
	</tr>
	<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Shipment Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD</strong></td>
 	</tr>
	<tr class="totals">
		<td colspan="1" class="ups-table_total_row"><strong>Adjusted Total:</strong></td>
		<td nowrap=""><strong>XX.XX USD*</strong></td>
 	</tr>
</table>
<!-- Old Legacy Code -->
<!--<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Pre-Tax Subtotal:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
	<div class="clear"></div>
</div>-
<div class="clear"></div>
<!--<div class="floatEnd">
	<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Total Charges:</span>
			</dt>
			<dd>nnn,nn XXX</dd>
		</dl>
		<dl class="outHozFixed clearfix">
			<dt>
				<span class="label">Adjusted Total:</span>
			</dt>
			<dd>nnn,nn XXX*</dd>
		</dl>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="btnBar">
	<input type="submit" class="btn_a" value="Ship Now" name="repl_name">
</div>-->
{{/if}}
