{{#if retail_rates_by_service_modalheader}}
<div class="appHead clearfix">
	<h2 class="ups-modal_heading">Retail Rates by Service</h2>
	<!-- Old Close Button Implementation --> 
	<!--<ul>
			<li>
				<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
			</li>
		</ul>--> 
	<!-- New WEM Button Implementation -->
	<button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()"> <span class="icon ups-icon-x" aria-hidden="true"></span> <span class="ups-readerTxt ng-binding">Close This Dialog</span> </button>
</div>
{{/if}}
{{#if discounted_rates_by_service_modalheader}}
<div class="appHead clearfix">
	<h2 class="ups-modal_heading">Discounted Rates by Service</h2>
	<!-- Old Close Button Implementation --> 
	<!--<ul>
			<li>
				<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
			</li>
		</ul>--> 
	<!-- New WEM Button Implementation -->
	<button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()"> <span class="icon ups-icon-x" aria-hidden="true"></span> <span class="ups-readerTxt ng-binding">Close This Dialog</span> </button>
</div>
{{/if}} 