---
title: ct1_dia_trk
layout: legacy.hbs
version: v4
appID: com.ups.trackWeb
appCSS: ups.legacy_overrideWebTrkApp
dir: ltr
lang: en
---

<!-- *************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
	
				<style type="text/css">
				.ctrl_box {
					z-index: 2001;
					margin: 10px;
					padding: 10px;
					background-color: #FFF2AC;
					border: 1px solid #FF7800;
					position: absolute;
					top: 0;
					right: 0;
				}
				.ctrl_box .btn {
					background-color: #F31A12;
					border-color: #FF7800 #850600 #850600 #FF7800;
				}
				</style>
			<form action="repl_fname">
				
				<!-- Begin Application Module -->
				<div class="appLvl col18 mod"> 
					
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>{Application Header}</h2>
						<ul>
							<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
						</ul>
					</div>
					<!-- End Application Header --> 
					
					<!-- Begin Application Body -->
					<div class="appBody clearfix"> 
						
						<!-- Begin Section Module -->
						<div class="secLvl clearfix"> 
							
							<!-- Begin Section Header --><!-- End Section Header --> 
							
							<!-- Begin Section Body -->
							<div class="secBody clearfix">
								<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
								<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
								<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
								<select>
									<option>item1</option>
								</select>
								<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
								<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
								<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
								<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
								<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
								<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
								<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
								<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
								<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
								<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
								<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
								<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							</div>
							<!-- End Section Body --> 
							
							<!-- Begin Section Footer --><!-- End Section Footer --> 
							
						</div>
						<!-- End Section Module --> 
						
					</div>
					<!-- End Application Body --> 
					
					<!-- Begin Application Footer --><!-- End Application Footer --> 
					
				</div>
				<!-- End Application Module -->
				
			</form>
			<!-- /contentArea -->

			<div class="mod modal dialog clearfix" id="fontControl"> 
			<button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()">
				<span class="icon ups-icon-x" aria-hidden="true"></span>
				<span class="ups-readerTxt ng-binding">Close Action Tracking Detail Header dialog</span>
			</button>
	
	<!-- Begin Application Header -->
	<div class="appHead clearfix">
                
                    <h2>1z1234567890123456</h2>
                    <a href="#" class="ups-link_label indent">(add description)</a>
                
                
                
			<ul id="fontControlButtons" class="clearfix">
				<li class="indent">
    				<a href="javascript:void(0);" class="fontSmall" title="Small Font">A</a>
    				<a href="javascript:void(0);" class="fontMedium" title="Medium Font">A</a>
    				<a href="javascript:void(0);" class="fontLarge" title="Large Font">A</a>
				</li>
				<!--<li>
				<a href="javascript:void(0);" class="fontIncrease" title="Increase Font Size">&#43;</a></li>
				<li><a href="javascript:void(0);" class="fontReset" title="Reset Font Size">reset</a></li>
				<li><a href="javascript:void(0);" class="fontDecrease" title="Decrease Font Size">&#8722;</a>
				</li>-->
				<li><span class="icon ups-icon-questioncircle" aria-hidden="true"></span><a href="repl_href">help</a></li>
				<li><span class="icon ups-icon-print" aria-hidden="true"></span><a href="repl_href">print</a></li>
			</ul>
            
		</div>
	<!-- End Application Header --> 
	
	<!-- Begin Application Body -->
	<div class="appBody clearfix fontControlBody"> 
					
					<!-- Begin Section Module -->
					<div class="secLvl secLvlPlain detail clearfix"> 
			
			<!-- Begin Section Header -->
			<div class="secHead clearfix">
							<h3>{1z123456789012345} <span class="indent"><a href="">(add descripition)</a></span></h3>
							<ul class="clearfix">
					<li>00/00/0000</li>
					<li>updated 00:00 a.m.,</li>
				</ul>
						</div>
			<!-- End Section Header --> 
			<!-- Begin Section Body -->
			<div class="secBody clearfix">
							<dl class="outHozFlex clearfix indent">
					<dt><img alt="" border="0" height="16" width="16" src="/img/1.gif" class="categoryIcon16"><a href="" class="btnlnkR helpIconR">infonotice number alternate tracking number(s):</a></dt>
					<dd><a href="repl_href">1z1234567890123456</a> <br>
									<a href="repl_href">1z1234567890123456</a> <br>
									<a href="repl_href">1z1234567890123456</a> </dd>
				</dl>
							
							<!-- Begin Column -->
							<div class="seccol18"> 
					
					<!-- Begin Sub Module -->
					<div class="secLvl gradient gradientGroup4 cmsMsg clearfix"> 
									
									<!-- Begin Sub Header -->
									<div class="secHead clearfix">
							<h4>on time package status: <a href="repl_href" class="btnlnkR helpIconR"><span>out for delivery</span></a></h4>
							<ul class="countDown clearfix">
											<li>business<br>
									days left</li>
											<li class="number">3</li>
											<!-- Delivered 
													<li><img alt="" border="0" height="32" width="32" src="/img/1.gif" class="checkIcon32"></li>
													-->
										</ul>
						</div>
									<!-- End Sub Header --> 
									
									<!-- ////////// Progress Bar ////////// --> 
									<!-- Setting gradientGroup to 7 in secLvl div will set the bar to blank/no status --> 
									<!-- Setting gradientGroup to 4 or 2 in secLvl div will determine the color of the progress bar --> 
									<!-- Add or Remove "pkgReturn" class to the pkgProgress div will reverse the bar's direction --> 
									
									<!-- Box Highlighted 0% //No Arrow// -->
									
									<div class="pkgProgress">
							<div class="status0">
											<div class="seccol1 start">&nbsp;</div>
											<div class="seccol3 transit">&nbsp;</div>
											<div class="seccol14 shipment">&nbsp;</div>
											<div class="seccol1 end" >&nbsp;</div>
										</div>
						</div>
									<div class="cmsMsgTrk"> 
							<!-- Begin Package Status Alert Message --> 
							<!-- //////////////////////////////////////////////////////////////////////////// --> 
							
							<!--#include virtual="/app_ent/cms_fragments/jul16/cmsMsg_package_status_alert.html" --> 
							<!-- //////////////////////////////////////////////////////////////////////////// --> 
							<!-- end Package Status Alert Message  --> 
						</div>
									
									<!-- Begin Sub Body -->
									<div class="secBody clearfix"> 
							
							<!-- Begin Column -->
							<div class="row">
								<div class="col-xs-6">
									<div class="ups-form_ctaGroup">
										<button class="ups-cta ups-cta_primary ups-extended" type="submit"value="">Notify Me with Updates </button>
										<button class="ups-cta ups-cta_primary ups-extended" type="submit"value="">change delivery </button>
										<button class="ups-cta ups-cta_primary ups-extended" type="submit"value="">request status updates</button>
										<button class="ups-cta ups-cta_primary ups-extended" type="submit"value="">report a claim</button>
										<button class="ups-cta ups-cta_primary ups-extended" type="submit"value="">select a 2-hour delivery window</button>
										<button class="ups-cta ups-cta_primary ups-extended" type="submit"value="">provide delivery  instructions</button>
									</div>
								</div>
							    <div class="col-xs-6">
											<dl role="presentation">
									<dt>
													<label>schedule delivery label:</label>
												</dt>
									<dd>wednesday, 00/00/0000, end of day<!--, 00:00 a.m. - 0:00 p.m-->.</dd>
								</dl>
											
											<!-- Mail Innovations -->
											<dl role="presentation">
									<dt> <span class="label">delivered on label:</span> </dt>
									<dd>wednesday, 00/00/0000</dd>
									<dt> <span class="label">package must be picked up by label:</span> </dt>
									<dd>wednesday, 00/00/0000</dd>
									<dt> <span class="label">UPS Access Point<sup>&trade;</sup> Location label:</span> </dt>
									<dd>{company}</dd>
									<dd>{address 1}</dd>
									<dd>{address 2}</dd>
									<dd>{phone}</dd>
									<dd>{email}</dd>
									<dt>
													<label>scheduled for early delivery on label:</label>
												</dt>
									<dd>wednesday, 00/00/0000, 00:00 a.m. - 0:00 p.m.</dd>
									<dt>
													<label>originally scheduled for delivery on label:</label>
												</dt>
									<dd>wednesday, 00/00/0000, 00:00 a.m. - 0:00 p.m.</dd>
									<dt>
													<label><a href="repl_href" class="btnlnkR helpIconR">approximate delivery time:</a></label>
												</dt>
									<dd>00:00 a.m. - 0:00 p.m.</dd>
									<dt>
													<label>last location label:</label>
												</dt>
									<dd>departed - louisville, ky, us, tuesday 00/00/0000</dd>
								</dl>
											<p><strong>Note:</strong> A delivery service has been selected that may delay your shipment by a day.</p>
											
											<!-- Special Messing Module --> 
											<!-- ////////////////////// -->
											<dl>
									<dt>
													<label>special instructions:</label>
												</dt>
									<dd>c.o.d. - nn.nn usd, check/money order</dd>
									<dd><a href="repl_href" class="btnlnkR helpIconR">adult signature required</a></dd>
									<dd><a href="repl_href" class="btnlnkR helpIconR">signature required</a></dd>
									<dd>the driver may not leave this package without your authorization</dd>
									<dd><a href="repl_href" class="btnlnkR arrowIconR">authorize shipment release</a></dd>
									<dd>shipment release authorized</dd>
									<dd><a href="repl_href" class="">cancel shipment release authorization</a></dd>
								</dl>
											<dl>
									<dt>
													<label>delivery change requested:</label>
												</dt>
									<!-- // Leave With Neighbor/Deliver to Another Address/UPS Retail/Reschedule/Return/C.O.D./Existing Request with New Pending Request //-->
									<dd>leave with neighbor - the driver will deliver your shipment to the address your requested.</dd>
									
									<!-- // Will Call or SameDay Will Call //-->
									<dd>will call - <a href="repl_href">view pickup location information</a></dd>
									<dd>same day will call - <a href="repl_href">view pickup location information</a></dd>
									
									<!-- // Delivery Change Requested //-->
									<dd>delivery to another address - the driver will deliver your shipment to the address you requested.</dd>
									
									<!-- // Delivery Change Requested //-->
									<dd>delivery to another address - the driver will deliver your shipment to the UPS retail location you requested.</dd>
									
									<!-- // Delivery Change Requested //-->
									<dd>rescheduled delivery - the scheduled delivery date has been updated.</dd>
									
									<!-- // Delivery Change Requested //-->
									<dd>return to sender</dd>
								</dl>
											
											<!-- // Existing Request with New Pending Request //-->
											<p><strong>note:</strong> there is an additional existing pending delivery change request (same day will call) that has not yet been applied to this shipment. The shipment information will be updated when that delivery change request.</p>
											<dl>
									<dt>
													<label>Received By:</label>
												</dt>
									<dd>obrian authorized release of this shipment.
													<div> <img alt="signature" src="/img_fpo/signature/fpo_signature3.gif" width="243" height="44"> </div>
												</dd>
								</dl>
											<p><a href="repl_href" class="btnlnkR newWindowIconR">proof of delivery</a></p>
											<dl>
									<dt>
													<label>left at:</label>
												</dt>
									<dd>front desk</dd>
								</dl>
											
											<!-- PMG30870 -->
											<dl>
									<dt></dt>
									<dd> <img src="repl_barcode" alt="Replace Place Holder with Code Bar" width="300" height="75"> </dd>
								</dl>
											<p> To pick up your package from the UPS Access Point<sup>TM</sup> Parcel locker you will need either your InfoNotice,
									Delivery Notification, or Tracking NUmber, and your government issued ID (e.g. Driver's License) or mobile phone. </p>
											<a href="repl_href"  >Show Location Information and Pickup Instruction</a> 
											<!-- PMG30870 --> 
											
							</div>
										</div>
							<!-- End Column --> 
							
							<!-- Begin Column --> 
							
							<!-- End Column --> 
							
						</div>
									<!-- End Sub Body --> 
									
								</div>
					<!-- End Sub Module --> 
					
					<!-- Begin Sub Module -->
					<div class="secLvl gradient gradientGroup7 module1"> 
									
									<!-- Begin Sub Header -->
									<div id="collapse1" class="secHead collapsible clearfix">
							<h4 class="btnlnkL collapseIcon">Additional Information</h4>
						</div>
									<!-- End Sub Header --> 
									
									<!-- Begin Sub Body -->
									<div class="secBody"> 
							<!-- ////////////////////////////////////// --> 
							<!-- Additional Information - Small Package --> 
							<!-- ////////////////////////////////////// -->
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>additional packages:</label>
								</dt>
											<dd>2</dd>
											<dt>
									<label>c.o.d.:</label>
								</dt>
											<dd>n.nn usd</dd>
											<dt>
									<label>c.o.d. payment method:</label>
								</dt>
											<dd>check</dd>
											<dt>
									<label>commercial invoice removal:</label>
								</dt>
											<dd>removed</dd>
											<dt>
									<label>location:</label>
								</dt>
											<dd>front door</dd>
											<dt>
									<label>location assured:</label>
								</dt>
											<dd>yes</dd>
											<dt>
									<label>multiple packages:</label>
								</dt>
											<dd>2</dd>
											<dt>
									<label><a href="" class="btnlnkR helpIconR">postal services tracking id:</a></label>
								</dt>
											<dd>1234567890123456789012</dd>
										</dl>
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>reference number(s):</label>
								</dt>
											<dd>shipment reference number 1<br>
									shipment reference number 2<br>
									package reference number 1<br>
									package reference number 2<br>
									package reference number 3<br>
									package reference number 4<br>
									package reference number 5 </dd>
										</dl>
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>shipped/billed on:</label>
								</dt>
											<dd>01/01/0000</dd>
											<dt>
									<label>type:</label>
								</dt>
											<dd>package</dd>
											<dt>
									<label>weight:</label>
								</dt>
											<dd>n.nn{lbs/oz}</dd>
										</dl>
							<!-- //////////////////END///////////////// --> 
							
							<!-- ////////////////////////////////////// --> 
							<!-- Additional Information - SCS Freight --> 
							<!-- ////////////////////////////////////// -->
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>cargo ready:</label>
								</dt>
											<dd>mm/dd/yyyy, hh:mm a.m.</dd>
											<dt>
									<label>description of goods:</label>
								</dt>
											<dd>description</dd>
											<dt>
									<label>file number:</label>
								</dt>
											<dd>number</dd>
											<dt>
									<label>manifest:</label>
								</dt>
											<dd>???</dd>
											<dt>
									<label>number of pallets:</label>
								</dt>
											<dd>2</dd>
											<dt>
									<label>number of pieces:</label>
								</dt>
											<dd>2</dd>
											<dt>
									<label>origin port:</label>
								</dt>
											<dd>origin port</dd>
											<dt>
									<label>est. departure:</label>
								</dt>
											<dd>mm/dd/yyyy</dd>
											<dt>
									<label>destination port</label>
								</dt>
											<dd>destination port</dd>
											<dt>
									<label>est. arrival:</label>
								</dt>
											<dd>mm/dd/yyyy</dd>
											<dt>
									<label>product:</label>
								</dt>
											<dd>product</dd>
											<dt>
									<label>reference number(s):</label>
								</dt>
											<dd>reference 1<br>
									reference 2</dd>
											<dt>
									<label>shipment volume</label>
								</dt>
											<dd>container</dd>
											<dt>
									<label>shipment weight:</label>
								</dt>
											<dd>n.nn lbs</dd>
											<dt>
									<label>type:</label>
								</dt>
											<dd>house bill of lading</dd>
										</dl>
							<!-- //////////////////END///////////////// --> 
							
							<!-- ////////////////////////////////////// --> 
							<!-- Additional Information - UPGF Freight --> 
							<!-- ////////////////////////////////////// -->
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label><a href="" class="btnlnkR helpIconR">appointment made:</a></label>
								</dt>
											<dd>mm/dd/yyyy, hh:mm a.m.</dd>
											<dt>
									<label><a href="" class="btnlnkR helpIconR">appointment requested:</a></label>
								</dt>
											<dd>mm/dd/yyyy, hh:mm a.m.</dd>
											<dt>
									<label><a href="" class="btnlnkR helpIconR">appointment requested time range:</a></label>
								</dt>
											<dd>mm/dd/yyyy, hh:mm a.m.</dd>
											<dt>
									<label>bill of lading:</label>
								</dt>
											<dd>bill of lading</dd>
											<dt>
									<label>c.o.d.:</label>
								</dt>
											<dd>collected</dd>
											<dt>
									<label>number of pieces:</label>
								</dt>
											<dd>2</dd>
											<dt>
									<label>po number:</label>
								</dt>
											<dd>po number</dd>
											<dt>
									<label>reference number(s):</label>
								</dt>
											<dd>reference 1<br>
									reference 2</dd>
											<dt>
									<label>weight:</label>
								</dt>
											<dd>n.nn lbs</dd>
										</dl>
							<!-- //////////////////END///////////////// --> 
							
							<!-- ////////////////////////////////////// --> 
							<!-- UPS Returns Exchange --> 
							<!-- ////////////////////////////////////// -->
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>location:</label>
								</dt>
											<dd>dock</dd>
										</dl>
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>reference number(s):</label>
								</dt>
											<dd>shipment reference number 1<br>
									shipment reference number 2<br>
									package reference number 1<br>
									package reference number 2<br>
									package reference number 3<br>
									package reference number 4<br>
									package reference number 5 </dd>
										</dl>
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>shipped/billed on:</label>
								</dt>
											<dd>mm/dd/yyyy</dd>
											<dt>
									<label>type:</label>
								</dt>
											<dd>package</dd>
											<dt>
									<label>ups returns<sup>&reg;</sup>exchange:</label>
								</dt>
											<dd>requested</dd>
											<dt>
									<label>weight:</label>
								</dt>
											<dd>n.nn lbs</dd>
										</dl>
							<!-- //////////////////END///////////////// --> 
							
							<!-- ////////////////////////////////////// --> 
							<!-- UPS Returns Pack and Collect --> 
							<!-- ////////////////////////////////////// -->
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>location:</label>
								</dt>
											<dd>dock</dd>
											<dt>
									<label>product</label>
								</dt>
											<dd>ups returns<sup>&reg;</sup>pack and collect:</dd>
										</dl>
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>reference number(s):</label>
								</dt>
											<dd>shipment reference number 1<br>
									shipment reference number 2<br>
									package reference number 1<br>
									package reference number 2<br>
									package reference number 3<br>
									package reference number 4<br>
									package reference number 5 </dd>
										</dl>
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>shipped/billed on:</label>
								</dt>
											<dd>mm/dd/yyyy</dd>
											<dt>
									<label>type:</label>
								</dt>
											<dd>package</dd>
											<dt>
									<label>weight:</label>
								</dt>
											<dd>n.nn lbs</dd>
										</dl>
							
							<!-- //////////////////END///////////////// --> 
							
							<!-- ////////////////////////////////////// --> 
							<!-- Mail Innovations Example --> 
							<!-- ////////////////////////////////////// -->
							<dl class="outHozFixed1 clearfix">
											<dt>
									<label>package sequence number:</label>
								</dt>
											<dd>{package sequence number}</dd>
											<dt>
									<label>package identification code</label>
								</dt>
											<dd>{pic}</dd>
											<dt>
									<label>package id:</label>
								</dt>
											<dd>{package id}</dd>
											<dt>
									<label>package status:</label>
								</dt>
											<dd>{package status}</dd>
											<dt>
									<label>projected delivery date:</label>
								</dt>
											<dd>mm/dd/yyyy</dd>
											<dt>
									<label>package destination:</label>
								</dt>
											<dd>{city, state/province, country or territory, zip/postal code}</dd>
											<dt>
									<label>package delivery date:</label>
								</dt>
											<dd>mm/dd/yyyy</dd>
											<dt>
									<label>package actual weight:</label>
								</dt>
											<dd>nnn.nn lbs</dd>
										</dl>
							
							<!-- //////////////////END///////////////// --> 
						</div>
									
									<!-- End Sub Body --> 
									
								</div>
					<!-- End Sub Module --> 
					
					<!-- Begin Sub Module -->
					<div class="secLvl gradient gradientGroup7 tableonly module2"> 
									
									<!-- Begin Section Header -->
									<div id="collapse2" class="secHead collapsible clearfix">
							<h4 class="btnlnkL collapseIcon">Flight Information</h4>
						</div>
									<!-- End Section Header --> 
									<!-- Begin Section Body -->
									<div class="secBody">
							<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
											<tr>
									<th scope="col">status</th>
									<th scope="col">flight</th>
									<th scope="col">vessel</th>
									<th scope="col">voyage</th>
									<th scope="col" class="full">description</th>
									<th scope="col">departure</th>
									<th scope="col">arrival</th>
								</tr>
											<tr valign="top" class="odd">
									<td class="nowrap">status</td>
									<td class="nowrap">flight number</td>
									<td class="nowrap">vessel name</td>
									<td class="nowrap">voyage #</td>
									<td>description</td>
									<td class="nowrap">mm/dd/yyyy<br>
													hh.mm a.m.</td>
									<td class="nowrap">mm/dd/yyyy<br>
													hh.mm a.m.</td>
								</tr>
											<tr valign="top">
									<td class="nowrap">status</td>
									<td class="nowrap">flight number</td>
									<td class="nowrap">vessel name</td>
									<td class="nowrap">voyage #</td>
									<td>description</td>
									<td class="nowrap">mm/dd/yyyy<br>
													hh.mm a.m.</td>
									<td class="nowrap">mm/dd/yyyy<br>
													hh.mm a.m.</td>
								</tr>
										</table>
						</div>
									<!-- End Section Body --> 
									
								</div>
					<!-- End Sub Module --> 
					
					<!-- Begin Sub Module -->
					<div class="secLvl gradient gradientGroup7 module3"><!-- add "tableonly" class if only one table in secBody--> 
									
									<!-- Begin Section Header -->
									<div id="collapse3" class="secHead expandible collapsible clearfix">
							<h4 class="btnlnkL collapseIcon">Shipment Progress</h4>
							<ul class="indent">
											<li><a href="repl_href">(what's this?)</a></li>
										</ul>
						</div>
									<!-- End Section Header --> 
									<!-- Begin Section Body -->
									<div class="secBody"> 
							
							<!-- GSR Note -->
							<p><strong>note:</strong> a guaranteed service refund has been submitted for this shipment.</p>
							<h5>usps delivery confirmation information</h5>
							<dl class="outHozFixed outHozFixedCol6 clearfix">
											<dt>in conjuction with delivery confirmation by:</dt>
											<dd><img alt="usps logo" src="/img_fpo/messaging/fpo-174x40.gif" width="174" height="45"></dd>
										</dl>
							<p>delivery confirmation information provided by the united states postal service.</p>
							<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
											<tr>
									<th scope="col">location</th>
									<th scope="col">date</th>
									<th scope="col">local time</th>
									<th scope="col" class="full">activity</th>
								</tr>
											<tr valign="top" class="odd">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td class="nowrap">hh.mm a.m.</td>
									<td>summary status information goes here.</td>
								</tr>
											<tr valign="top">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td class="nowrap">hh.mm a.m.</td>
									<td>summary status information goes here.</td>
								</tr>
											<tr valign="top" class="odd">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td class="nowrap">hh.mm a.m.</td>
									<td>summary status information goes here.</td>
								</tr>
											<tr valign="top">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td class="nowrap">hh.mm a.m.</td>
									<td>summary status information goes here.</td>
								</tr>
											<tr valign="top" class="odd">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td class="nowrap">hh.mm a.m.</td>
									<td>summary status information goes here.</td>
								</tr>
										</table>
							<h5>ups mail innovations shipment progress</h5>
							<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable">
											<tr>
									<th scope="col">location</th>
									<th scope="col">date</th>
									<th scope="col" class="full">activity</th>
								</tr>
											<tr valign="top" class="odd">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td>summary status information goes here.</td>
								</tr>
											<tr valign="top">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td>summary status information goes here.</td>
								</tr>
											<tr valign="top" class="odd">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td>summary status information goes here.</td>
								</tr>
											<tr valign="top">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td>summary status information goes here.</td>
								</tr>
											<tr valign="top" class="odd">
									<td class="nowrap">city, st, us</td>
									<td class="nowrap">mm/dd/yyyy</td>
									<td>summary status information goes here.</td>
								</tr>
										</table>
						</div>
									<!-- End Section Body --> 
									
								</div>
					<!-- End Sub Module --> 
					
					<!-- Begin Sub Module -->
					<div class="secLvl gradient gradientGroup7 module4"> 
									
									<!-- Begin Section Header -->
									<div id="collapse4" class="secHead expandible collapsible clearfix">
							<h4 class="btnlnkL collapseIcon">packages in this shipment (total packages: 2)</h4>
						</div>
									<!-- End Section Header --> 
									<!-- Begin Section Body -->
									<div class="secBody">
							<p>select a tracking number to see the detail for another package.</p>
							<p>your multi-peice shipment contains more tracking results than can be displayed. If you frequently track multi-piece shipments, you should subscribe to <a href="">ups quantum view</a>.</p>
							<!-- Table height must be set dynamicly-->
							<div class="tableWindow subseccol18 marginBegin" style="height:289px;">
											<table summary="" border="0" cellpadding="0" cellspacing="0" class="dataTable full">
									<tr>
													<th scope="col">tracking number</th>
													<th scope="col">reference</th>
													<th scope="col">status</th>
													<th scope="col">shipped</th>
													<th scope="col">scheduled delivery</th>
													<th scope="col">service</th>
													<th scope="col">weight</th>
												</tr>
									<tr valign="top" class="odd">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top" class="odd">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top" class="odd">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top" class="odd">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top" class="odd">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top" class="odd">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
									<tr valign="top">
													<td scope="row" class="nowrap"><a href="">1z1234567890123456</a></td>
													<td class="nowrap"></td>
													<td>on time: in transit</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td class="nowrap">mm/dd/yyyy</td>
													<td>service</td>
													<td class="nowrap">00.0 lbs</td>
												</tr>
								</table>
										</div>
						</div>
									<!-- End Section Body --> 
									
								</div>
					<!-- End Sub Module --> 
					
				</div>
							<!-- End Column --> 
							
							<!-- Begin Column -->
							<div class="seccol6 marginEnd"> 
					
					<!-- Begin Sub Module -->
					<div class="secLvl gradient gradientGroup7 clearfix"> 
									
									<!-- Begin Sub Header -->
									<div class="secHead clearfix">
							<h4>shipping information</h4>
						</div>
									<!-- End Sub Header --> 
									
									<!-- Begin Sub Body -->
									<div class="secBody">
							<dl class="outHozFlex clearfix">
											<dt>
									<label>from:</label>
								</dt>
											<dd><strong>saddlebrook, nj, us</strong><br>
									monday, 00/00/0000</dd>
										</dl>
							<dl class="outHozFlex clearfix">
											<dt>
									<label>to:</label>
								</dt>
											<dd><strong>john smith</strong><br>
									oooo street name<br>
									city, st, 00000, us </dd>
										</dl>
						</div>
									<!-- End Sub Body --> 
									
								</div>
					<!-- End Sub Module --> 
					
					<!-- Begin Sub Module -->
					<div class="secLvl gradient gradientGroup7 clearfix"> 
									
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
							<h4>shipping by</h4>
						</div>
									<!-- End Section Header --> 
									<!-- Begin Section Body -->
									<div class="secBody"> 
							
							<!-- Begin Column -->
							<div class="subcol4 marginBegin">
											<p><a href="" class="service">ups worldwide expedited<sup>&reg;</sup></a></p>
										</div>
							<!-- End Column --> 
							
							<!-- Begin Column -->
							<div class="subcol2 marginEnd alignEnd"> <img alt="" border="0" height="32" width="32" src="/img/1.gif" class="assorialIconCarbonNeutral32"> </div>
							<!-- End Column --> 
							
						</div>
									<!-- End Section Body --> 
									
								</div>
					<!-- End Sub Module --> 
					
					<!-- Begin Sub Module -->
					<div class="secLvl gradient gradientGroup7 clearfix"> 
									
									<!-- Begin Sub Header -->
									<div class="secHead clearfix">
							<h4>ups my choice preferences</h4>
						</div>
									<!-- End Sub Header --> 
									<!-- Begin Sub Body -->
									<div class="secBody">
							<dl class="outHozFlex clearfix">
											<dt>
									<label>experation date:</label>
								</dt>
											<dd>00/00/0000</dd>
										</dl>
							<dl class="outHozFlex clearfix">
											<dt>
									<label>renewal activation date:</label>
								</dt>
											<dd>00/00/0000</dd>
										</dl>
							<p>your ups my choice subscription will expire soon. <br>
											<a href="" class="btnlnkR arrowIconR">renew/extended</a> </p>
							<p>your ups my choice subscription is currently inactive. <br>
											<a href="" class="btnlnkR arrowIconR">reactivate</a> </p>
							<p><a href="" class="btnlnkR arrowIconR">ups my choice preferences</a></p>
							<p><a href="" class="btnlnkR arrowIconR">edit vacation settings</a></p>
							<p><a href="" class="btnlnkR arrowIconR">upgrade to ups my choice premium</a></p>
						</div>
									<!-- End Sub Body --> 
									
								</div>
					<!-- End Sub Module --> 
					
				</div>
							<!-- End Column --> 
							
						</div>
			<!-- End Section Body --> 
			
		</div>
					<!-- End Section Module --> 
					
				</div>
	<!-- End Application Body --> 
	
	<!-- End Application Module --> 
	
	<!-- Begin IC DEVELOPMENT USE ONLY --> 
</div>

<!------------- -- -------------->
<!--   IC DEV Display Module   --> 
<!------------- -- -------------- 
<script type="text/javascript">
var htmlcobrand;
$(document).ready(function(){
	/* Prepend Control Box */
	$('body').prepend('<div id="control_box" class="ctrl_box"><div class="control_box_head"><label class="error" id="">Switch View:</label></div><div class="alignCenter"><input type="button" onclick="switchContainer(\'ccacmpad1\')" value="Campus Track" class="btn"><br><input type="button" onclick="switchContainer(\'ccCntMod\')" value="Tracking" class="btn"></div></div>');
	/* Set default container and stylesheet to Internet Pickup */
	$('.switchContainer').removeClass('ccacmpad1');
	$('.switchContainer').attr('id', 'ccCntMod');
	chooseStyle('Tracking', 60);	
	htmlcobrand = $('.cobrand').html();
	$('.cobrand').remove();
	
});
/* function to switch views */
function switchContainer(container) {
	if(container == 'ccCntMod') {
		$('.switchContainer').removeClass('ccacmpad1');
		$('.switchContainer').attr('id', container);
		chooseStyle('Tracking', 60);
		$('.cobrand').remove();
	} 
	if(container == 'ccacmpad1') {
		$('.switchContainer').attr('id', '');
		$('.switchContainer').addClass(container);
		chooseStyle('Campus Track', 60);
		$('.cobrand').remove();
		$('form[action=repl_fname]').append($('<div class="cobrand" align="center" />').append(htmlcobrand));
	}
}

</script> 

<!------------- -- --------------> 
<!-- END IC DEV Display Module --> 
<!------------- -- --------------> 

<script type="text/javascript">


		
$(document).ready(function(){

	var modal = $('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal', width:990});
	$('#modalClose').click(function(e){
		modal.dialog('close');
	});	
});


</script> 
<script type="text/javascript">
$(document).ready(function() {

   $('#collapse1').click(function(){
		 $('.module1 div.secBody').toggle();
		 $('#collapse1 h4').toggleClass('collapseIcon').toggleClass('expandIcon');
		 $('#collapse1').toggleClass('collapsed').toggleClass('');
   });
	 
   $('#collapse2').click(function(){
     $('.module2 div.secBody').toggle();
		 $('#collapse2 h4').toggleClass('collapseIcon').toggleClass('expandIcon');
		 $('#collapse3').toggleClass('collapsed').toggleClass('');
   });
	 
   $('#collapse3').click(function(){
     $('.module3 div.secBody').toggle();
		 $('#collapse3 h4').toggleClass('collapseIcon').toggleClass('expandIcon');
		 $('#collapse3').toggleClass('collapsed').toggleClass('');
   });
	 
	 $('#collapse4').click(function(){
     $('.module4 div.secBody').toggle();
		 $('#collapse4 h4').toggleClass('collapseIcon').toggleClass('expandIcon');
		 $('#collapse4').toggleClass('collapsed').toggleClass('');
   });
 });
</script> 
<script type="text/javascript">
	$('#fontControl ul').icfontcontrol();
</script> 
<script type="text/javascript">
$(document).ready(function(){
	$('button.btnGradient7').hover(function(){
		$(this).css("background-position","0 -28px");
		//$(this).animate( { backgroundPositionY: "-30px" }, 10 );
	},function(){
		//$(this).animate( { backgroundPositionY: "-4px" }, 1000 );
		$(this).css("background-position","0 -2px");
	});
	
});

</script>
</div>
<!-- **************************** --> 
<!-- End Application Owned HTML --> 
<!-- **************************** -->