<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
                    <!-- Begin Application Container -->



                    <!-- ======================== -->
                    <!-- begin application header -->
                    <!-- ======================== -->
                    <table border="0" cellpadding="0" cellspacing="0" width="566">
                        <tr>
                            <td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td valign="top">


                            <!-- ////////////////////////////// -->
                            <!-- ////////////////////////////// -->
                            <!-- begin Admin Search Users -->
                            <!-- begin Admin Search Users (Batch Assign) -->
                            <!-- ////////////////////////////// -->
                            <!-- ////////////////////////////// -->
                                	<span class="blueboldHead">{Search Users/Change User Locations/Assign Users to Privilege}</span>
                            <!-- ////////////////////////////// -->
                            <!-- ////////////////////////////// -->
                            <!-- end Admin Search Users (Batch Assign) -->
                            <!-- end Admin Search Users -->
                            <!-- ////////////////////////////// -->
                            <!-- ////////////////////////////// -->


                            </td>
                        </tr>
                        <tr>
                            <td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <!-- begin informational text -->
                                    <p><span class="bold">{your search criteria [has been saved/has been discarded]. delete confirm message here.}</span></p>
                                <!-- end informational text -->
                                <!-- begin instructional text -->
                                    <p>To return a list of Users, enter a search word or phrase and select the search criteria.</p>
                                    <p>Or you may <a href="">create a new campusship user</a>.</p>
                                <!-- end instructional text -->
                            </td>
                        </tr>
                        <tr>
                            <td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                        </tr>
                    </table>
                    <!-- ======================== -->
                    <!-- end application header -->
                    <!-- ======================== -->



                    <!-- ========================= -->
                    <!-- begin application content -->
                    <!-- ========================= -->
                        <!-- begin search module -->
                            <table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">

                                <tr>
                                    <td>
                                    <!-- begin module header -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="1%"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                <td width="49%">
                                                    <!-- begin module title -->
                                                    <span class="whiteBoldHead">Search</span>
                                                    <!-- end module title -->
                                                </td>
                                                <td width="49%">
                                                    <!-- begin module navigation -->
                                                    <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
                                                    <!-- end module navigation -->
                                                </td>
                                                <td width="1%"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                            </tr>
                                        </table>
                                    <!-- end module header -->
                                    </td>
                                </tr>

                                <tr>
                                    <!-- begin module content -->
                                    <td>
                                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td bgcolor="#996633" colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                            </tr>
                                            <tr>
                                                <td width="1%"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                <td valign="top" width="98%">
                                                <!-- begin content column -->
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td><input class="modTxtLarge" maxlength="50" name="Search" size="34" type="text" value=""></td>
                                                            <td>&nbsp;&nbsp;<input name="repl_fname" value="Search" class="btn" type="submit"></td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table border="0" cellpadding="2" cellspacing="0">
                                                        <tr>
                                                            <td>Search for&nbsp;&nbsp;</td>
                                                            <td>
                                                            <select name="repl_fname" class="modSelMediumSmall" size="1">
                                                              <option>User Name</option>
                                                              <option>User ID</option>
                                                              <option>Location ID</option>
                                                            </select>
                                                            </td>
                                                            <td>&nbsp;&nbsp;that&nbsp;&nbsp;</td>
                                                            <td>
                                                            <select name="repl_fname" class="modSelMediumSmall" size="1">
                                                              <option>Contains</option>
                                                              <option>Starts With</option>
                                                              <option>Exactly Matches</option>
                                                            </select>
                                                            </td>
                                                            <td>&nbsp;&nbsp;the search terms.</td>
                                                        </tr>
                                                        <!--<tr>
                                                            <td colspan="4">
                                                                <input  name="repl_fname" type="checkbox" value="repl_fvalue">
                                                                Show Only Users with Admin Rights
                                                                <br>
                                                            </td>
                                                        </tr>-->
                                                    </table>
                                                    <br>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
                                                           	<td valign="bottom">
                                                                <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Show All</a>
                                                            </td>
														</tr>
                                                        <tr>
                                                            <td valign="bottom">
                                                                <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Show Only Users Without CampusShip Access</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="bottom">
                                                                <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Show/Hide Search Options</a>
                                                            </td>
														</tr>
                                                        <tr>
															<td valign="bottom">
                                                                <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><a href="repl_href">save criteria for future searches</a>
                                                            </td>
														</tr>
                                                        <tr>
															<td valign="bottom">
                                                                <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><a href="repl_href">clear saved search criteria</a>
                                                            </td>
														</tr>
                                                    </table>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td><img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="542"><br></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="bold">Optional: Modify Search</span><br>Refine or limit your search by entering locations to search.<br>If unsure of location names, use the links to Search for Location Names.<br></td>
                                                        </tr>
                                                        <tr>
                                                            <td><img alt="" border="0" height="7" src="/img/1.gif" width="1"></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="21" valign="top"><input class="modTxtLarge" maxlength="15" name="repl_fname" size="15" type="text" value="">&nbsp;&nbsp;<a href="repl_href">Search</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="21" valign="top"><input class="modTxtLarge" maxlength="15" name="repl_fname" size="15" type="text" value="">&nbsp;&nbsp;<a href="repl_href">Search</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="21" valign="top"><input class="modTxtLarge" maxlength="15" name="repl_fname" size="15" type="text" value="">&nbsp;&nbsp;<a href="repl_href">Search</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="21" valign="top"><input class="modTxtLarge" maxlength="15" name="repl_fname" size="15" type="text" value="">&nbsp;&nbsp;<a href="repl_href">Search</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="21" valign="top"><input class="modTxtLarge" maxlength="15" name="repl_fname" size="15" type="text" value="">&nbsp;&nbsp;<a href="repl_href">Search</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><img alt="" border="0" height="7" src="/img/1.gif" width="1"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                            	<img alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Search Using Enhanced Shipping Privilege Set Name</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                <!-- end content column -->
                                                </td>
                                                <td width="1%"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <!-- end module content -->
                                </tr>
                            </table>
                        <!-- end search module -->


                        <!-- begin search results module -->
                            <table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">

                            <!-- begin module header -->
                                <tr>
                                    <td>

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="1%"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                        <td width="49%">
                                            <!-- begin module title -->
                                            <span class="whiteBoldHead">Search Results</span>
                                            <!-- end module title -->
                                        </td>
                                        <td width="49%">
                                            <!-- begin module navigation -->
                                            <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
                                        <!-- end module navigation -->
                                        </td>
                                        <td width="1%"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                    </tr>
                                    </table>
                                    </td>
                                </tr>
                            <!-- end module header -->

                            <!-- begin module content -->
                                <tr>
                                    <td>
                                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                            </tr>
                                            <tr>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                <td colspan="3">


                                            <!-- ////////////////////////////// -->
                                            <!-- ////////////////////////////// -->
                                            <!-- begin Admin Search Users -->
                                            <!-- ////////////////////////////// -->
                                            <!-- ////////////////////////////// -->
                                                    <p>Your search returned the following Users. Please select a link below to view, update, or delete that item.</p>
                                            <!-- ////////////////////////////// -->
                                            <!-- ////////////////////////////// -->
                                            <!-- end Admin Search Users -->
                                            <!-- ////////////////////////////// -->
                                            <!-- ////////////////////////////// -->


                                            <!-- ////////////////////////////// -->
                                            <!-- ////////////////////////////// -->
                                            <!-- begin Admin Search Users (Batch Assign )-->
                                            <!-- ////////////////////////////// -->
                                            <!-- ////////////////////////////// -->
                                                    <p>your search returned the following users. {select users to build a group list, and then use the <strong>{change location/assign to privilege/assign to location}</strong> button to assign to users in the list to a new location.}</p>
                                            <!-- ////////////////////////////// -->
                                            <!-- ////////////////////////////// -->
                                            <!-- end Admin Search Users (Batch Assign -->
                                            <!-- ////////////////////////////// -->
                                            <!-- ////////////////////////////// -->


                                                </td>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                            </tr>
                                            <tr>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                <td>&nbsp;<!-- insert select functionality here --></td>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                <td>
                                                    <div align="right">
                                                        <!-- begin page display settings -->
                                                        Display per Page:<br>
                                                        <select name="repl_fname" class="modSelSmall" size="1">
                                                          <option selected>25</option>
                                                          <option>50</option>
                                                          <option>100</option>
                                                        </select>
                                                        <!-- end page display settings -->
                                                    </div>
                                                </td>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                            </tr>


                                    <!-- ////////////////////////////// -->
                                    <!-- ////////////////////////////// -->
                                    <!-- begin Admin Search Users (Batch Assign) -->
                                    <!-- ////////////////////////////// -->
                                    <!-- ////////////////////////////// -->
											<tr>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                <td colspan="3">
                                                	<!-- insert select functionality here -->
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    	<tr>
                                                        	<td>
                                                            	<img align="bottom" alt="" border="0" height="12" src="/img/btn_details_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
                                                            <a href="repl_href">view selections</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                        	<td>
                                                            	<img align="bottom" alt="" border="0" height="12" src="/img/btn_select_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
                                                            <a href="repl_href">select all</a>
                                                            <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                            <img align="bottom" alt="" border="0" height="12" src="/img/btn_clear_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
                                                            <a href="repl_href">clear all</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
											</tr>
                                    <!-- ////////////////////////////// -->
                                    <!-- ////////////////////////////// -->
                                    <!-- end Admin Search Users (Batch Assign) -->
                                    <!-- ////////////////////////////// -->
                                    <!-- ////////////////////////////// -->


                                            <tr>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                <td colspan="3">
                                                    <br>
                                                    <!-- begin record count -->
                                                    Displaying 1-9 of 9
                                                    <!-- end record count -->
                                                    <br>
                                                    <!-- begin pagination -->
                                                    <input value="First" name="page_first" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="Previous" name="page_previous" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Previous 10" name="page_previous_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input value="1" name="page_1" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="2" name="page_2" class="btnlnk" type="button"><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="3" name="page_3" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="4" name="page_4" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="5" name="page_5" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="6" name="page_6" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="7" name="page_7" class="btnlnk" type="button"><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="8" name="page_8" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="9" name="page_9" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="10" name="page_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Next 10" name="page_next_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input value="Next" name="page_next" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="Last" name="page_last" class="btnlnk" type="button">
                                                <!-- end pagination -->
                                                    <br><br>
                                                </td>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                            </tr>
                                        </table>



            <!-- ////////////////////////////// -->
            <!-- ============================== -->
            <!-- begin Admin Search Users -->
            <!-- ============================== -->
            <!-- ////////////////////////////// -->
                                    <!-- begin results table -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="562">
                                        <!-- Begin Row: Header Rows with vertical spacing -->
                                        <tr>
                                            <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="106"></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="106"></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="106"></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="106"></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">User ID</span></div></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">User Name</span></div></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">assigned location</span></div></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">assigned shipping<br>privilege name</span></div></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <!-- End Row: Header Rows with vertical spacing -->
                                        <!-- Begin Row: Odd Row with vertical spacing -->
                                        <tr bgcolor="#ffffff">
                                            <td colspan="9" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <tr bgcolor="#ffffff">
                                            <td><div class="spacingResults"><a href="repl_href">{user id}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults">{user name}</div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults"><a href="">{location name}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults"><a href="">{privilege name}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <tr bgcolor="#ffffff">
                                            <td colspan="9" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <!-- End Row: Odd Row with vertical spacing -->
                                        <!-- Begin Row: Even Row with vertical spacing -->
                                        <tr bgcolor="#cccccc">
                                            <td colspan="9" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <tr bgcolor="#cccccc">
                                            <td><div class="spacingResults"><a href="repl_href">{user id}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults">{user name}</div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults"><a href="">{location name}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults"><a href="">{privilege name}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <tr bgcolor="#cccccc">
                                            <td colspan="9" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <!-- End Row: Even Row with vertical spacing -->
                                        <!-- Begin Row: Odd Row with vertical spacing -->
                                        <tr bgcolor="#ffffff">
                                            <td colspan="9" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <tr bgcolor="#ffffff">
                                            <td><div class="spacingResults"><a href="repl_href">{user id}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults">{user name}</div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults"><a href="">{location name}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                            <td><div class="spacingResults"><a href="">{privilege name}</a></div></td>
                                            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <tr bgcolor="#ffffff">
                                            <td colspan="9" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        <!-- End Row: Odd Row with vertical spacing -->
                                        <tr bgcolor="#cccccc">
                                            <td colspan="9"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                        </tr>
                                        </table>
                                    <!-- end results table -->
            <!-- ////////////////////////////// -->
            <!-- ============================== -->
            <!-- end Admin Search Users -->
            <!-- ============================== -->
            <!-- ////////////////////////////// -->


                                    <!-- begin module column spacing table 2 - 5 columns with 3 spacer columns and 2 content columns -->
                                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                        <td>
                                            <br>
                                            <!-- begin record count -->
                                            Displaying 1-9 of 9
                                            <!-- end record count -->
                                            <br>
                                        	<!-- begin pagination | image version -->
                                        	<input value="First" name="page_first" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="Previous" name="page_previous" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Previous 10" name="page_previous_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input value="1" name="page_1" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="2" name="page_2" class="btnlnk" type="button"><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="3" name="page_3" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="4" name="page_4" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="5" name="page_5" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="6" name="page_6" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="7" name="page_7" class="btnlnk" type="button"><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="8" name="page_8" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="9" name="page_9" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="10" name="page_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Next 10" name="page_next_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input value="Next" name="page_next" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="Last" name="page_last" class="btnlnk" type="button">
                                            <!-- end pagination -->
                                            <!-- begin pagination | text version
                                            <a href="repl_href">First</a> |
                                            <a href="repl_href">Previous</a> |
                                            <a href="repl_href">...</a> |
                                            <a href="repl_href">1</a> |
                                            <a href="repl_href">2</a> |
                                            <a href="repl_href">3</a> |
                                            <a href="repl_href">4</a> |
                                            <a href="repl_href">5</a> |
                                            <a href="repl_href">6</a> |
                                            <a href="repl_href">7</a> |
                                            <a href="repl_href">8</a> |
                                            <a href="repl_href">9</a> |
                                            <a href="repl_href">10</a> |
                                            <a href="repl_href">...</a> |
                                            <a href="repl_href">Next</a> |
                                            <a href="repl_href">Last</a>
                                            end pagination -->
                                            <br><br>
                                        </td>
                                        <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                    </tr>



                                    <!-- ////////////////////////////// -->
                                    <!-- ////////////////////////////// -->
                                    <!-- begin Admin Search Users (Batch Assign) -->
                                    <!-- ////////////////////////////// -->
                                    <!-- ////////////////////////////// -->
											<tr>
                                                <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                <td colspan="3">
                                                	<!-- insert select functionality here -->
                                                	<table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    	<tr>
                                                        	<td>
                                                            	<img align="bottom" alt="" border="0" height="12" src="/img/btn_details_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
                                                            <a href="repl_href">view selections</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                        	<td>
                                                            	<img align="bottom" alt="" border="0" height="12" src="/img/btn_select_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
                                                            <a href="repl_href">select all</a>
                                                            <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                            <img align="bottom" alt="" border="0" height="12" src="/img/btn_clear_mini.gif" width="12"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
                                                            <a href="repl_href">clear all</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                	<img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                	<br><br>
                                                </td>
											</tr>
                                    <!-- ////////////////////////////// -->
                                    <!-- ////////////////////////////// -->
                                    <!-- end Admin Search Users (Batch Assign) -->
                                    <!-- ////////////////////////////// -->
                                    <!-- ////////////////////////////// -->


                                    </table>
                                    </td>
                                </tr>
                            </table>
                        <!-- end search results module -->
                    <!-- ========================= -->
                    <!-- end application content -->
                    <!-- ========================= -->



                    <!-- ========================= -->
                    <!-- begin application footer -->
                    <!-- ========================= -->
                    	<!-- begin buttons -->
                            <table border="0" cellpadding="0" cellspacing="1" width="566">
                                <tr>
                                    <td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
                                </tr>


            <!-- ////////////////////////////// -->
            <!-- ////////////////////////////// -->
            <!-- begin Admin Search Users -->
            <!-- ////////////////////////////// -->
            <!-- ////////////////////////////// -->
                                <tr>
                                    <td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td align="right" valign="top" width="366"><input value="Cancel" name="cancel" class="btn" type="button"><input value="change location" name="" class="btn" type="button"></td>
                                </tr>
            <!-- ////////////////////////////// -->
            <!-- ////////////////////////////// -->
            <!-- end Admin Search Users -->
            <!-- ////////////////////////////// -->
            <!-- ////////////////////////////// -->


            <!-- ////////////////////////////// -->
            <!-- ////////////////////////////// -->
            <!-- begin Admin Search Users (Batch Assign) -->
            <!-- ////////////////////////////// -->
            <!-- ////////////////////////////// -->
                                <tr>
                                    <td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                                    <td align="right" valign="top" width="366"><input value="cancel" name="" class="btn" type="button"><input value="assign to privilege" name="" class="btn" type="button"></td>
                                </tr>
            <!-- ////////////////////////////// -->
            <!-- ////////////////////////////// -->
            <!-- end Admin Search Users (Batch Assign)  -->
            <!-- ////////////////////////////// -->
            <!-- ////////////////////////////// -->


                            </table>
                    	<!-- end buttons -->
                        <!-- begin company support -->
                            <table border="0" cellpadding="0" cellspacing="0" width="566">
                                <tr>
                                    <td><img alt="" border="0" height="15" src="/img/xln_ffffff.gif" width="1"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                    <span class="bold">Company Support: (nnn) nnn-nnnn&nbsp;&nbsp;&nbsp;E-mail: <a href="repl_href">address@company.com</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img alt="" border="0" height="20" src="/img/xln_ffffff.gif" width="1"></td>
                                </tr>
                            </table>
                        <!-- end company support -->
                    <!-- ========================= -->
                    <!-- end application footer -->
                    <!-- ========================= -->


<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
