---
title: ct1_shi_cwt(1rat)
layout: legacy.hbs
version: v4
appID: com.ups.cwt
appCSS: ups.legacy_overrideCRT
dynpnls: yes
dir: ltr
lang: en
---
    
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    
    <!-- /applicationArea -->
    <div id="main">
      
      <!-- Begin Application Module -->
    {{> "ct1_shi_cwt(1rat)_partial" }}
      <!-- End Application Module --> 
    </div>
    <!-- /applicationArea --> 
    
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
 