@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {

	#contact.RIF_Address {
		.stepModContent input[size="32"] {
			width: 235px !important;
		}

		#contactExtension {
			margin-#{$default-float}: 18px;
		}
	}

  .secLvl.message {
    .secHead {
      h3 {
        color: $white !important;
      }
    }
  }

  #webPromo {
    h3 {
      font : {
        family: $sans-bd;
        weight: normal;
      }
    }

    .headRow {
        &.upsBrown {
          background-color: $ups_brown;

          h1, p {
            color: $white;
          }
        }

        &.upsSand {
          background-color: $ups_sand;

          h1, p {
            color: $black_s4;
          }
        }

        &.upsStone {
          background-color: $ups_stone;

          h1, p {
            color: $black_s4;
          }
        }

        &.upsSun {
          background-color: $ups_sun;

          h1, p {
            color: $black_s4;
          }
        }

        &.upsGrass {
          background-color: $ups_grass;

          h1, p {
            color: $black_s4;
          }
        }

        &.upsSky {
          background-color: $ups_sky;

          h1, p {
            color: $black_s4;
          }
        }

        &.upsWhite {
          background-color: $white;

          h1, p {
            color: $black_s4;
          }
        }
      }//end headrow


      // footer cta seconday gray background $stone   ups-cta_tertiary

      .contentRow {
        border: none;

        .secLvl {
          .secHead {
            @include ups-serifHeaderSmaller;
          }
        }

        .secLvl.subcol18 {
          margin-#{$default-float}: 0;

          .secBody, .secFooter{
            margin-#{$default-float}: 15px;
          }
        }

        .secLvl.seccol6.floatEnd {
          margin-#{$opposite-direction}: 0;

          .secBody, .secFooter {
            margin-#{$opposite-direction}: 15px;
          }

          input[type=button] {
            margin: 10px 0;
          }
        }
      }

      .button {
        color: $white;
        height: auto;
        min-height: 35px;
        padding: 7px 30px !important;
      }

      .module {
        a.button {
          line-height: 35px;
        }
        .button.secondary {
          @include ups-legacy_cta($black_s1);
        }
      }

      .moduleRow {
        .secLvl.seccol12.minHeight150 {
          display: table;
          // align-items: center;
          .module {
            display: table-cell;
            vertical-align: middle;
            float: none;
            padding: 5px 10px;
            margin: 0;
          }

          .floatEnd, .floatBegin {
            display: table-cell;
            vertical-align: middle;
            float: none;

            &.floatBegin {
              img {
                float: $default-float;
              }
            }

            &.floatEnd {
              img {
                float: $opposite-direction;
              }
            }
          }
        }
      }
  }//end web promo
}
