<form action="repl_faction">

<!-- Begin Table: Printer Friendly Header Table -->
<table border="0" cellpadding="0" cellspacing="0" width="586">
<tr>
	<td colspan="4" bgcolor="#996633"><img alt="" align="baseline" border="0" height="8" src="/img/1.gif" width="1"></td>
</tr>
<tr>
	<td colspan="4" bgcolor="#996633"><img alt="" align="baseline" border="0" height="7" src="/img/glo_tab_white.gif" width="76"></td>
</tr>
<tr>
	<td rowspan="2" width="10"><img alt="" border="0" height="68" src="/img/1.gif" width="10"></td>
	<td width="42"><img alt="" border="0" height="2" src="/img/1.gif" width="42"></td>
	<td rowspan="2" width="116"><img alt="" border="0" height="1" src="/img/1.gif" width="116"></td>
	<td align="right" rowspan="2" valign="bottom">

	<!-- Begin Table: Close Window(Parent:Printer Friendly Header Table) -->
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="middle"><a href="javascript:window.close();"><img alt="Close Window" border="0" height="14" src="/img/btn_close_mini.gif" width="14">Close Window</a></td>
		<td><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td colspan="2"><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
	</tr>
	</table>
	<!-- End Table: Close Window(Parent:Printer Friendly Header Table) -->

	</td>
</tr>
<tr>
	<td height="55" width="42" valign="top"><img alt="UPS" border="0" height="55" src="/img/glo_ups_brandmark_pfv.gif" width="42"></td>
</tr>
</table>
<!-- End Table: Printer Friendly Header Table -->

<div class="pi-m-pad">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Screen for Denied Parties</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Results</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<span class="pi-h4">Request [transaction id] has been processed. You have been charged n.nn CUR*.</span>
			<br><br>
			<span class="pi-h3">Payment Method</span><br>
			UPS Account Number: F00100<br><br>
			<span class="pi-h3">Transaction References</span><br>
			Transaction Reference 1:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 1]<br>
			Transaction Reference 2:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 2]<br>
			Transaction Reference 3:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 3]<br>
			<div align="center"><img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"></div>
			<span class="pi-h3">Denied Party Screener Results</span><br>
			<span class="pi-h4">Denied parties were found on the following government lists:</span><br>
			[Government List 1], [Government List 2], ...<br>
			<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr class="pi-r1-t">
			<td  class="pi-r1-pad" width="34%">Company / Contact Name(s)</td>
			<td class="pi-r1-line" width="33%">Address</td>
			<td class="pi-r1-line" width="33%">Government List</td>
		</tr>
		</thead>
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">[Name 1]<br>[Name 2]</td>
			<td class="pi-r1-pad">[Street Address]<br>[City]<br>[County]<br>[State]<br>[Postal Code]<br>[Country or Territory]</td>
			<td class="pi-r1-pad" rowspan="2"><span class="pi-h4">List Name:</span> GOV-US-DPL<br><br><span class="pi-h4">List Description:</span> Denied Party List, published by US Dept of Commerce, Bureau of Industry &amp; Security<br><span class="pi-h4">Control Agency:</span> BIS<br><span class="pi-h4">Last Regulatory Update:</span> 03/01/2004<br><br><span class="pi-h4">Remarks:</span> Effective Date: 01/10/1984</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">[Name 1]<br>[Name 2]</td>
			<td class="pi-r1-pad">[Street Address]<br>[City]<br>[County]<br>[State]<br>[Postal Code]<br>[Country or Territory]</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">[Name 1]<br>[Name 2]</td>
			<td class="pi-r1-pad">[Street Address]<br>[City]<br>[County]<br>[State]<br>[Postal Code]<br>[Country or Territory]</td>
			<td class="pi-r1-pad"><span class="pi-h4">List Name:</span> GOV-US-DPL<br><br><span class="pi-h4">List Description:</span> Denied Party List, published by US Dept of Commerce, Bureau of Industry &amp; Security<br><span class="pi-h4">Control Agency:</span> BIS<br><span class="pi-h4">Last Regulatory Update:</span> 03/01/2004<br><br><span class="pi-h4">Remarks:</span> Effective Date: 01/10/1984</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">[Name 1]<br>[Name 2]</td>
			<td class="pi-r1-pad">[Street Address]<br>[City]<br>[County]<br>[State]<br>[Postal Code]<br>[Country or Territory]</td>
			<td class="pi-r1-pad"><span class="pi-h4">List Name:</span> GOV-US-DPL<br><br><span class="pi-h4">List Description:</span> Denied Party List, published by US Dept of Commerce, Bureau of Industry &amp; Security<br><span class="pi-h4">Control Agency:</span> BIS<br><span class="pi-h4">Last Regulatory Update:</span> 03/01/2004<br><br><span class="pi-h4">Remarks:</span> Effective Date: 01/10/1984</td>
		</tr>
		</tbody>
		<tfoot>
		<tr class="pi-r1-b">
			<td colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		</tfoot>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			Results provided by UPS: Weekday mm/dd/yyyy hh:mm P.M. EST (USA)<br>
			<br>
			The accuracy of the results returned above depend on, among others, information you provide the TradeAbility&#0153; Services, the specific Match Level you designate and other information available to UPS. As such, these results may not be complete or accurate for your needs. For more information, please consult the UPS TradeAbility License and Service Agreement.<br>
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Denied Party Screen Information</span>
			<br>
			<span class="pi-h4">Match Level</span><br>
			[match level]<br>
			<br>
			<span class="pi-h4">Party Name and Address Information</span><br>
			[Company Name]<br>
			[Contact Name]<br>
			[Street Address]<br>
			[City]<br>
			[County]<br>
			[State/Province/Region]<br>
			[Postal Code]<br>
			[Country or Territory]<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top" colspan="3">

		<!-- Begin Table: Module Note (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td><br>*Billing amount shown based on published rates. Actual billing amount may differ.</td>
		</tr>
		</table>
		<!-- End Table: Module Note (Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

<!-- Begin Table: Printer Friendly Footer Table -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td align="right" valign="bottom">

	<!-- Begin Table: Close Window(Parent:Printer Friendly Footer Table) -->
	<table border="0" cellpadding="0" cellspacing="0" align="right">
	<tr>
		<td colspan="2"><img alt="" border="0" height="8" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="middle"><a href="javascript:window.close();"><img alt="Close Window" border="0" height="14" src="/img/btn_close_mini.gif" width="14"> Close Window</a></td>
		<td><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
	</tr>
	</table>
	<!-- End Table: Close Window(Parent:Printer Friendly Footer Table) -->

	</td>
</tr>
<tr>
	<td>

	<!--- Begin Table: Footer(Parent:Printer Friendly Footer Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img alt="" border="0" height="20" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="7" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td>
		<span class="grey2">
		Copyright&nbsp;&copy; 1994-2004 United Parcel Service of America, Inc. All rights reserved.<br>
		</span>
		</td>
	</tr>
	<tr>
		<td height="10"><img alt="" border="0" height="10" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!--- End Table: Footer(Parent:Printer Friendly Footer Table) --->

	</td>
</tr>
</table>
<!-- End Table: Printer Friendly Footer Table -->

</div>

</form>
