@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
    .appLvl {
        &.col6.colPad {
            margin-#{$default-float}: 30px !important;
        }

        .secLvl.message .secHead {
          h3 {
            color: $white !important;
          }
        }

        .secBody {
          dl {
            margin-bottom: 0;
          }
        }
    }

    .subcol12 {
      width: 300px;
    }

    .colsuper {
      width: 786px;
    }

    .secLvl.tableOnly {
      overflow-x: scroll;
    }
}
