/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/

			/*Font Size ISSUE base on CT using legacy html in a v4 page*/
				/**/
				/*shi(9rec) to prevent receipt from printing on two pages*/
						.close a {font-size:7pt;}
						table.note {width:100% !important}
						table.note td.reqTxtInst p  {font-size:7pt;}
						table.note td.reqTxtInst {font-size:7pt;}

				/**/
			/**/
		/**/
		
		* html body table {font-size:8pt;}

/*shipping_receipt_css*/
/*ups_internet_shipping*/

/*Main Nav*/
	#ccGloBnr {display:none}
/*Sub Nav*/
	#cssnav{display:none}
	
p, dt, dd, input {font-size:.7em;}
/*Getting your Shipment to UPS */
#origFacilityInfo dt, #origFacilityInfo dd  {font-size:1em;}
	
h1 {font-size:1em;line-height:4.2em;}
* html h1 {font-size:1.2em;}

h2 {font-size:.8em;line-height:1.2em;}
* html h2 {font-size:1em;}

h3, h4, th, .dataTable td{font-size:.85em;}
* html h3, * html h4, * html th, * html .dataTable td {font-size:1em;}

	a, strong {font-size:1em;}
	label{font-size:1em;}

* html .outHozLedger {line-height:.95em;}


/* over ride monitor display width */
.appLvl {width:auto !important}

/* columns in step 3 should be using "subcol" not "col" */
/* hrCol adds padding, width of first column must be adusted*/
.col9 {width: 290px}

.arrowMini, .arrowLeftMini, .arrowUpMini, .arrowDownMini, .clearMini, .checkMini, .contactMini, .crossMini, .editMini, .mailMini, .minusMini, .pageMini, .plusMini, .printMini, .reorderMini, .reorderLeftMini, .saveMini, .sortLeftMini, .sortRightMini, .sortUpMini, .sortDownMini, .trackMini, .viewMini, .anchorIcon, .anchorIconR, .arrowBackIcon, .arrowBackIconR, .arrowIcon, .arrowIconR, .backToTopIcon, .backToTopIconR, .closeIcon, .closeIconR, .closeIconBrn, .collapseIcon, .collapseIconR, .diamondIcon, .diamondIconR, .expandIcon, .expandIconR, .helpIcon, .helpIconR, .linkBackIcon, .linkForwardIconR, .linkBackIconPassive, .linkForwardIconRPassive, .lockIcon, .lockIconR, .newWindowIcon, .newWindowIconR, .printIcon, .printIconR, .requiredIcon, .requiredIconR, .sortUpIcon, .sortUpIconR, .sortDownIcon, .sortDownIconR, .triangleDownIcon, .triangleUpIcon, .triangleLeftIcon, .triangleRightIcon, .updatedIcon, .updatedIconR {
background-image:none;}

label.btnlnkL, a.btnlnkL {padding-left:0}
label.btnlnkR, a.btnlnkR {padding-right:0}

/*-- UPS Logo List --*/
.lstBrand li{margin:5px 5px 0; padding:0px 0px 0px 50px;background-repeat:no-repeat;background-position:0 0}
.lstBrand li{background-image:url(/img/glo_ups_brandmark_pfv.gif)}






/* Legacy C-Clamp */
	/*.ccacmpad1{width:auto; padding:0px 10px 0px; width:100%;}*/

	/*Banner*/
		/*.ccbambg1{display:none}
		.ccstamali1{display:none}
		.ccstambg5,.ccusbmbg1,.ccfmbg1,.ccbambg2,.cclccmbg2{display:none}
		.ccstambg1{display:none}
		.ccstambg2{display:none}
		.ccstambg3{display:none}
		.ccstambg4{display:none}
		.ccstambg5,.ccusbmbg1,.ccfmbg1,.ccbambg2,.cclccmbg2{display:none}*/
		
					/*main navagation*/	
					/*.ccpnbmbg1{display:none}
					.ccpnbmbg2{display:none}
					.ccpnbmbg3{display:none}*/
		
		/*.ccsnmbg1{display:none}
		.ccsnmln1{display:none}*/



