@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  .appLvl.mod {
    .appBody {
      .secLvl.seccol18.marginBegin {
        border: none;

        #passwordlabel {
          padding-#{$default-float}: 10px;
          font-family: $sans-bd;
          margin: 0;
        }
      }
    }
  }

  #dyn_pnl_1 {
    .secBody {
      .secLvl.subcol4 {
        border: none;
      }
      .secLvl.message.subcol12 {
        .seccol2 {
          float: none;

            a.button.btnGroup7 {
              color: $white;
              line-height: 35px;
              position: absolute;
              text-decoration: none;
              &:after {
                content: none;
              }
            }
        }
      }
    }
  }

  #pnl_2_1 {
    .secLvl {
      .secBody {
        .secHead {
          background-color: $white;
          padding-#{$default-float}: 10px;
        }
      }
    }
  }

  #buttonsADL {
    .flexFirst {
      margin-bottom: 10px;

      &.nowrap {
        display: block;
        width: 100%;
        padding-#{$default-float}: 30px;
      }
    }
  }

  #dyn_pnl_4 {
    .module.serviceInfo {
      min-height: 160px;
    }
  }

  #dyn_pnl_5 {
    .dataTable.sel {
      background: $white;

      td, tr {
        background: $white;
        border: none;
      }

      #promoCodeAlias {
        @include ups-textbox;
      }
    }
  }

  .appFooter {
    #start_over {
      margin-#{$opposite-direction}: 10px;
    }
  }

  #pnl_1_2 {
    .secLvl.subcol12 {
      border: none;

      .secLvl.message {
        .secHead {
          h4 {
            color: $white !important;
          }
        }
      }
    }
  }
}

.ui-dialog.ui-widget {
    .iDiv {
      .dataTable {
        @include ups-dataTable;
      }
  }

  .appHead {
    a.btnlnkR {

    }
    input.helpIconR {

    }
  }
}
