<!-- ************************************************************************************ -->
<!-- M07 PAGE TITLE NO SHARE                                                              -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
M07 PAGE TITLE: -LAYOUT-
********************************************************************************

| 15px
-breadcrumb-
| 15px
-page title no share-
| 15px

********************************************************************************
--}}

{{!--
********************************************************************************
M07 PAGE TITLE: HEADING
********************************************************************************

M07 Page Title uses h1 for the main page. 

'page-title_cell' is a 'table-cell' for when share is aligned next to header.
More details to be be in partials/modules/M07_page_title_share.hbs

********************************************************************************
--}}

<div class="ups-page-title ups-wrap">
    <div class="ups-wrap_inner">
        <div class="page-title_table">
            <div class="page-title_cell">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</div> <!-- @end .ups-page-title -->
