<!-- ************************************************************************************ -->
<!-- M14 BREADCRUMB                                                                       -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
M14 BREADCRUMB: -LAYOUT-
********************************************************************************

| 15px
-breadcrumb-
| 15px
-page title and share-
| 15px

********************************************************************************
--}}

{{!--
********************************************************************************
M14 BREADCRUMB: TEXT
********************************************************************************

M14 Breadcrumb takes all breadcrumbs, adds a link and a '>'
The last Breadcrumb takes the title of the current page, and no link is added

********************************************************************************
--}}

<nav class="ups-breadcrumb ups-wrap">
    <ol class="ups-wrap_inner">
        {{#each breadcrumb}}
	        <li class="breadcrumb">
	            <a href="{{link}}" class="ups-link">{{name}}</a><span aria-hidden="true"> ></span> 
	        </li>
        {{/each}}
    	<li class="breadcrumb">
	        {{title}}
    	</li>	
    </ol>
</nav> <!-- @end .ups-breadcrumb -->
