{{!--------------------------------------------
===============================================
M15 List Help
===============================================
---------------------------------------------}}

<div class="ups-list_help {{#if collapse}} collapse{{/if}}">
    <h2>{{this.subtitle}}</h2>

    <ul>
    {{#each this.entries}}
        <li>
            <a class="{{type}}" href="{{url}}"><span class="icon" aria-hidden="true"></span>{{{label}}}</a>
        </li>
    {{/each}}
    </ul>
</div>
