{{!-------------------------------------------- 
=============================================== 
M15 List Black 
=============================================== 
---------------------------------------------}}

<div class="ups-list_black">
    <h2 class="ups-listblack-subtitle">{{this.subtitle}}</h2>
    
    {{#each this.entries}} 
    <div class="ups-list-black_detail clearfix">
        <div class="ups-list-black_text" style="background-image: url('{{icon}}')">{{txt}}</div>
    </div>
    {{/each}}
</div>

