<!-- ************************************************************************************ -->
<!-- M15 List Single                                                                      -->
<!-- ************************************************************************************ -->


{{!--
********************************************************************************
M15 LIST SINGLE: ROWS
********************************************************************************

M15 List Single only uses 1 detail per row

********************************************************************************
--}}

<div class="ups-list_single">
    {{#each this.entries}} 
    <div class="ups-list_row clearfix">  
        <div class="ups-list_detail"{{#if tag}} data-tag="{{tag}}"{{/if}}> 
            {{> M15_list_detail this}}
        </div>
    </div>
    {{/each}} 
</div>
