<!-- ************************************************************************************ -->
<!-- M15 List Simple Alternative                                                          -->
<!-- ************************************************************************************ -->


{{!--
********************************************************************************
M15 LIST SIMPLE ALTERNATIVE: -LAYOUT-
********************************************************************************

| 60px
-header-
| 45px
-list header-
| 5px
-list desc-
| 30px
-list header-
| 5px
-list desc-
| 60px

********************************************************************************
--}}


{{!--
********************************************************************************
M15 LIST SIMPLE ALTERNATIVE: ROWS
********************************************************************************

M15 List Simple Alternative only uses 1 detail per row, and spacing on left-right 
page-margin-sm

********************************************************************************
--}}

<div class="ups-list_alt">
    <div class="ups-list-alt_detail">
        <ul class="ups-list_{{type}}">
            {{#each entries}}
                <li>{{text}}</li>
            {{/each}}
        </ul>
    </div>
</div>