{{!-------------------------------------------- 
=============================================== 
M15 List White 
=============================================== 
---------------------------------------------}}

<div class="list-white">
    <h2 class="subtitle">{{this.subtitle}}</h2>
    
    <ul>
    {{#each this.entries}} 
        <li class="ups-list_detail {{type}}"></li>
    {{/each}}
    </ul>
</div>
