<!-- ************************************************************************************ -->
<!-- M27 Search Support Primary Skin                                                      -->
<!-- ************************************************************************************ -->

<section class="ups-search_support ups-search_primary" data-ajax-source="shipping.json" data-widget-source="Search" data-formtype="get"> 
    <div class="search-magnify ups-sm_hide">
        <span class="ups-iconAlone ups-icon-search" aria-hidden="true">
            <!--<span class="ups-readerTxt">Search</span>-->
        </span>
    </div>
    {{> M27_search_support}}
    {{> M27_search_support_results}}
</section>
