<!-- ************************************************************************************ -->
<!-- M27 Search Support Results                                                           -->
<!-- ************************************************************************************ -->

<div class="ups-search_results">
    <div class="ups-wrap ups-search_wrap">
        <div class="ups-wrap_inner">
            <div class="results-header clearfix">
                <h3><span class="search-type">Search results for</span> <span class="search-text"></span></h3>
                <div class="results-num-container"></div>
            </div>
            <div class="results-container">
                
            </div>
            <div class="ups-srMessage ups-readerTxt" aria-relevant="additions" data-loadingtxt="Results are Loading" data-loadedtxt="Results have loaded" data-notloadedtxt="No Results"></div>
            <div class="results-footer clearfix">
                <div class="footer-container">
                    <button class="first ups-sm_hide">First</button>
                    <button class="prev ups-sm_hide">&#60; Previous</button>
                    <div class="pagination-container ups-sm_hide">
                        <button class="pag active">1</button>
                        <button class="pag">2</button>
                        <button class="pag">3</button>
                        <button class="pag">4</button>
                        <button class="pag">5</button>
                        <button class="pag">6</button>
                        <button class="pag">7</button>
                        <button class="pag">8</button>
                        <button class="pag">9</button>
                        <button class="pag">10</button>
                    </div>
                    <button class="next ups-sm_hide">Next &#62;</button>
                    <button class="last ups-sm_hide">Last</button>
                </div>
            </div>
            
            <div class="ups-search_resultsbar ups-sm_hide"></div>
        </div>
    </div>
</div>
