<!-- ************************************************************************************ -->
<!-- M32 PAGE LEVEL NOTIFICATIONS                                                         -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
M32 PAGE LEVEL NOTIFICATIONS: -LAYOUT-
********************************************************************************

| 30px
-page level notification-
| 30px

********************************************************************************
--}}

<div id="ups-pageLevel_notifications">
   <div class="ups-notification_label">
        <h3>{{#if icon}}<span class="icon ups-icon-exclamationcircle" aria-hidden="true"></span>{{/if}}<span>{{label}}</span></h3>
   </div>
    <div class="ups-notification_message">
        <span>{{message}}</span>
        {{#if link}}
        <a class="ups-pageLevel_notifications_link" href="{{link}}">Learn More</a>
        {{/if}}
    </div>
</div>



