<!-- ************************************************************************************ -->
<!-- M60 Personalization Opt Out                                                              -->
<!-- ************************************************************************************ -->

<div class="ups-personalize ups-wrap">
    <div class="ups-wrap_inner">
        <div class="ups-contentOpt">
            <div class="text-center">
                <p class="ups-personalize_content" data-targeted="You have opted out of targeting!">You are viewing targeted content. Click the button below to opt out.</p>
                <button class="ups-cta">Opt Out</button>
            </div>
        </div>
    </div>
</div>
