{{!--------------------------------------------
===============================================
PRE FOOTER (REGULAR)
===============================================
---------------------------------------------}}

<section class="ups-pre-footer">
    {{> M03_banner}}

    {{> M52_featured_three_piece}}

    {{> M03_simpleMsg_subscribe}}
</section>
