{{!--------------------------------------------
===============================================
PRE FOOTER (SEARCH)
===============================================
---------------------------------------------}}

<section class="ups-pre-footer">
    {{> M03_simpleMsg_search}}

    {{> M52_featured_three_piece featured_three}}

    {{> M03_simpleMsg_subscribe}}
</section>
