{{!--------------------------------------------
===============================================
SUBSECTION ASIDE
===============================================
---------------------------------------------}}

<aside class="ups-subsection-aside">
    <div class="row">
        <div class="col-sm-4 ups-aside-container">
            {{> resource}}
        </div>
    </div>
</aside>
