---
title: ct1_shi_ftc(2ltl)
layout: legacy.hbs
version: v4
appID: com.ups.FCTC
appCSS: ups.legacy_overrideFCTC
dynpnls: yes
dir: rtl
lang: ar
---

<div id="main">	
	{{>"ct1_shi_ftc(2ltl)_partial" ct1_shi_ftc2ltl.gfp_available}}
</div>
