---

layout: legacy.hbs
version: v4
appID: com.ups.trackWeb
appCSS: ups.legacy_overrideWebTrkApp
dynpnls: yes
dir: ltr
lang: en
---

<div id="main">
	

	{{>"ct1_tra_tra(3det)_partial" ct1_tra_tra3det.status_follow_my_delivery}}

</div>
