/*discount_rate_change_css*/

/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/
			/* RIF CODE AT WORK, CAN BE REMOVE WHEN RIF IS CORRECTED Team: Hildebrand Scott (LCC1SDH)
				/**/
						.redErrorBold {color:#F31A12;font-weight:bold;}
				/**/
			/**/
		/**/
		
		/*-- UPS Logo List --*/
		
.lstBrand li{margin:5px 5px 0; padding:0px 0px 15px 50px;background-repeat:no-repeat;background-position:0 0}
.lstBrand li{background-image:url(/img/glo_ups_brandmark_pfv.gif)}

/* with Sub Nav
Defaults loaded in master.css
#ccGtrMod {}
#ccCntMod {}*/

/*without SubNav*/
#ccGtrMod {display:none; padding:0; margin:0;}
#ccCntMod {width:970px; padding:0; margin:0;text-align: center}
#main {width:950px; margin:0 auto; text-align:left !important}

/*Legacy CMS Fragments */
/* END Legacy CMS Fragments */

/* ----------------------------------- */
/* ---- 7506 Web Promotion Styles ---- */
/* ----------------------------------- */
/* define headers */
#webPromo h1 {font-size:24px; font-family:Georgia, Times, serif; font-style:normal; font-variant:normal; font-weight:400; color:inherit; display:inline-block;}
#webPromo h2 {font-size:20px; font-family:Georgia, Times, serif; font-style:normal; font-variant:normal; font-weight:400; color:inherit; display:inline-block;}
#webPromo h3 {font-size:14px; font-family:Arial, Tahoma, Helvetica, sans-serif; font-weight:bold; color:inherit; display:inline-block; margin-bottom:5px;}

/* color options */
#webPromo .upsWhite {background-color:#F2F2F1;}
#webPromo .upsBrown {background-color:#351C15; 	color:#FFFFFF;}
#webPromo .upsSand {background-color:#E1C8B0; color:#232323;}
#webPromo .upsStone {background-color:#D9D9D6; color:#232323;}
#webPromo .upsSun {background-color:#F68B20; color:#232323;}
#webPromo .upsGrass {background-color:#64A70B; color:#FFFFFF;}
#webPromo .upsSky {background-color:#009CBD; color:#FFFFFF;}
#webPromo .headerDefault, #webPromo .subHeaderDefault {color:#232323;}
#webPromo .headerSun, #webPromo .subHeaderSun {color:#F68B20;}
#webPromo .headerGrass, #webPromo .subHeaderGrass {color:#64A70B;}
#webPromo .headerSky, #webPromo .subHeaderSky {color:#009CBD;}


/* head row */
#webPromo .headRow {margin-bottom:15px; display:table; border-spacing:0px;}
#webPromo .library600 img {display:inline-block; max-width:600px; max-height:180px; float:right;}
#webPromo .library950 img {max-width:950px; max-height:180px;}
#webPromo .colImg {display:table-cell; vertical-align:middle; text-align:center; width:350px;}
#webPromo .colImg img {max-width:300px; max-height:180px;}
#webPromo .imgLeft img {margin-right:50px;}
#webPromo .imgRight img {margin-left:50px;}
#webPromo .colContent {display:inline-block; padding:0 10px; width:580px; max-width:580px;}


/* content row */
#webPromo .contentRow {margin-bottom:15px; color:#232323; border:1px solid #E1C8B0;}
#webPromo .secLvl.floatEnd {margin-right:10px;}
#webPromo ul.footerLinks li {float:left; display:inline; padding-right:5px;}
#webPromo .btnBar {padding-bottom:0;}
#webPromo .contentRow img {margin-bottom:10px; max-width:686px;}


/* footer row */
#webPromo .moduleRow .secLvl {border:1px solid #E1C8B0;position:relative;margin-bottom:15px;}
#webPromo .moduleRow .secFooter {position:absolute;bottom:15px;right:0;}
#webPromo .btnBar a {background:none; border:none; margin:0; padding:0;}
#webPromo ul.itemPad li {margin-bottom:7px;}
#webPromo .moduleRow .module {margin:5px 10px;}


/* form elements */
#webPromo .button {text-decoration:none; background-color:#40c1ac; font-weight:bold; padding:10px; margin:0 0 10px 0; width:100%; border:none; white-space:normal; display:block; color:#242424;}
#webPromo .button:hover, #webPromo .button.secondary:hover {background-color:#FFB500; color:#242424; text-decoration:none;} 
#webPromo .button.disabled, #webPromo .button.secondary.disabled {background-color:#f0f0ef; cursor:default; color:#6e6e6e;}
#webPromo .button.secondary {background-color:#d9d9d6; padding:0 10px; color:#242424; width:auto;}
#webPromo .moduleRow .button {display:inline-block;}
#webPromo a {color:#009CBD; text-decoration:none;}
#webPromo a:hover {text-decoration:underline;}
#webPromo .link {background-color:transparent; border:none; color:#009CBD; white-space:normal; padding:0;}
#webPromo .link:hover {text-decoration:underline; cursor:pointer;}
#webPromo ul.bullet li {padding:0 0 0 16px; background-repeat:no-repeat; background-position:0 1px; background-image:url("/img/F106_map_mark_circle_sm_16_brown.png");}
#webPromo .input {border:1px solid #E1C8B0; width:100%; padding:0 5px; line-height:26px;}
/* ----------------------------------- */
/* ---- 7506 Web Promotion Styles ---- */
/* ----------------------------------- */