@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main .secLvl:not(.cmsMsg) .secBody dl[role=presentation] dd {
	padding:.2em .6em .3em;
}
form[name=mhome_form] {
    margin-bottom:10px;
    overflow: hidden;
}

form[name=mhome_form] .content div.pad-top {
	float:$default-float;
	margin-#{$opposite-direction}:10px;
}

#main section.divider ul li {
	list-style-type:disc;
}

#main section.divider p a.btn-yellow {
	padding-top:10px!important;
}
