<form action="repl_fname">
	<table border="0" cellspacing="0" cellpadding="0" class="mod" width="566">
		<tr>
			<th><!--<div class="head-col4">
					<h2>{time and cost detail header text}</h2>
					<ul>
						<li>
							<input name="" type="submit" class="btnlnkR printmini" value="{link text}">
						</li>
					</ul>
				</div>-->

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <div class="appLvl mod clearfix">
                	<div class="appHead clearfix">
                		<h2>{time and cost detail header text}</h2>
                		<ul class="clearfix">
                			<li><a href="repl_href" class="btnlnkR printmini">{link text}</a></li>
                		</ul>
                	</div>
                </div>
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: End part of re-design   -->
                <!-- ************************************** -->
            </th>
		</tr>
		<tr>
			<td>
                <div class="introModFixed">
					<p></p>
				</div>
				<!-- Begin Module -->
				<div class="stepModFixed4col secLvl step clearfix">
                    <!-- REDESIGN EDIT: secLvl, step, clearfix class was added to above div -->
					<div class="stepModhead secHead">
                        <!-- REDESIGN EDIT: secHead class was added to above div -->
						<h3 class="nostep">{service details header text}</h3>
						<ul class="">
							<li class="back"><a href="repl_href">{link text}</a></li>
						</ul>
						<div style="clear:both;"></div>
					</div>
					<div class="secBody">
                        <!-- REDESIGN EDIT: secBody class was added to above div, stepModContent was removed -->
						<!--<p>-->
							<!--Begin Used-in-Production Sample-->
							<!--<a href=""><div class="popuppage-blue"><img width="12" height="9" border="0" src="/img/1.gif" alt=""></div></a>-->
							<!--End Used-in-Production Sample-->
							<!--<a href="">{ups service label}<img alt="" border="0" height="1" width="3" src="/img/1.gif" ><img alt="" border="" height="9" width="9" src="/img/icn_popup_blue.gif" ></a> - {zone note text}</p>-->
                            <!-- ************************************** -->
                            <!-- REDESIGN EDIT: Start part of re-design -->
                            <!-- ************************************** -->
                            <p>
                                <span class="label">
                                    <a href="#" class="btnlnkR newWindowIconR">{ups service label}</a>
                                </span>
                                <span>- {zone note text}</span>
                            </p>
                            <p>
                                <span class="label">{guaranteed by label:}</span>
                                <span>{guaranteed by value} thursday february 4, 2010</span>
                            </p>
                            <div class="group">
                                <p class="pull-right">
                                    (Displaying  1-3 of 4)
                                    <button type="button"
                                        class="ups-cta ups-cta_secondary"
                                        name="show_next.y">
                                        Previous
                                    </button>
                                    |
                                    <button type="button"
                                        class="ups-cta ups-cta_secondary"
                                        name="show_next.y">
                                        Next
                                    </button>
                                </p>

                                <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="marginEnd">{column header}</th>
                                        <th class="marginEnd">{column header}</th>
                                        <th class="marginEnd">{column header}</th>
                                    </tr>
                                    <tr class="odd">
                                        <td nowrap>
                                            <a href="#" class="btnlnkR newWindowIconR">{cell data}</a>
                                        </td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                    </tr>
                                    <tr>
                                        <td nowrap>
                                            <a href="#" class="btnlnkR newWindowIconR">{cell data}</a>
                                        </td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                    </tr>
                                    <tr class="odd end">
                                        <td nowrap>
                                            <a href="repl_href" class="btnlnkR newWindowIconR">{cell data}</a>
                                        </td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" nowrap>{cell data}</td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                    </tr>
                                    <tr class="totals">
                                        <td colspan="3" nowrap class="text-right"><label>{shipment total label}:</label></td>
                                        <td nowrap class="marginEnd">{cell data}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="group">
                                <button name=""
                                    type="submit"
                                    class="ups-cta ups-cta_primary btn_a pull-right">
                                    Ship
                                </button>
                                <div style="clear:both"></div>
                            </div>
                            <p class="reqTxtInst">Aenean vel sodales magna. Maecenas quis tellus dui, sollicitudin tincidunt arcu.</p>
                            <p class="reqTxtInst">Suspendisse quam elit, lobortis in tempus eget, porttitor congue nisl.</p>
                            <p class="reqTxtInst">Maecenas eleifend magna ut justo blandit mattis.</p>
                            <ul class="">
                                <li class="back"><a href="repl_href">{link text}</a></li>
                            </ul>

                            <!-- ************************************** -->
                            <!-- REDESIGN EDIT: End part of re-design   -->
                            <!-- ************************************** -->
						<!--<dl class="outHozFlex">
							<dt>
								<label>{guaranteed by label:}</label>
							</dt>
							<dd>{guaranteed by value}</dd>
						</dl>
						<p>thursday february 4, 2010</p>-->
					</div>
									<!--<p class="marginEnd">(Displaying  1-3 of 4)&nbsp;&nbsp;<input type="submit" border="0" class="btnlnk" value="Previous" name="show_next.y"><img width="3" height="1" border="0" src="/img/1.gif" alt="">&nbsp;|&nbsp;<input type="submit" border="0" class="btnlnk" value="Next" name="show_next.y"><img width="3" height="1" border="0" src="/img/1.gif" alt=""></p>
									<table border="0" cellpadding="0" cellspacing="0" class="dataTable">
										<tr>
											<th>&nbsp;</th>
											<th class="marginEnd">{column header}</th>
											<th class="marginEnd">{column header}</th>
											<th class="marginEnd">{column header}</th>
										</tr>
										<tr class="odd">
											<td nowrap><a href="">{cell data}<img alt="" border="0" height="1" width="3" src="/img/1.gif" ><img alt="" border="" height="9" width="9" src="/img/icn_popup_blue.gif" ></a></td>
											<td nowrap class="marginEnd">{cell data}</td>
											<td nowrap class="marginEnd">{cell data}</td>
											<td nowrap class="marginEnd">{cell data}</td>
										</tr>
										<tr>
											<td nowrap><a href="">{cell data}<img alt="" border="0" height="1" width="3" src="/img/1.gif" ><img alt="" border="" height="9" width="9" src="/img/icn_popup_blue.gif" ></a></td>
											<td nowrap class="marginEnd">{cell data}</td>
											<td nowrap class="marginEnd">{cell data}</td>
											<td nowrap class="marginEnd">{cell data}</td>
										</tr>
										<tr class="odd end">
											<td nowrap><a href="repl_href">{cell data}<img alt="" border="0" height="3" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
											<td nowrap class="marginEnd">{cell data}</td>
											<td nowrap class="marginEnd">{cell data}</td>
											<td nowrap class="marginEnd">{cell data}</td>
										</tr>
										<tr>
											<td colspan="3" nowrap>{cell data}</td>
											<td nowrap class="marginEnd">{cell data}</td>
										</tr>
										<tr class="totals">
											<td colspan="3" nowrap class="marginEnd"><label>{shipment total label}:</label></td>
											<td nowrap class="marginEnd">{cell data}</td>
										</tr>
										<tr>
											<td colspan="3"></td>
											<td class="marginEnd"><input name="" type="submit" value="Ship" class="btn_a">
											</td>
										</tr>
									</table>
									<div class="stepModContent">
										<p class="reqTxtInst">Aenean vel sodales magna. Maecenas quis tellus dui, sollicitudin tincidunt arcu.</p>
										<p class="reqTxtInst">Suspendisse quam elit, lobortis in tempus eget, porttitor congue nisl.</p>
										<p class="reqTxtInst">Maecenas eleifend magna ut justo blandit mattis.</p>
										<ul class="lstArrow">
											<li class="back"><a href="repl_href">{link text}</a></li>
										</ul>
										<div style="clear:both"></div>
									</div>-->

				</div>
								<!--End Module -->
								<!-- Begin Module -->
				<div class="stepModFixed4col secLvl step clearfix">
                    <!-- REDESIGN EDIT: secLvl, step, clearfix class was added to above div -->
					<div class="stepModHead secHead">
                        <!-- REDESIGN EDIT: secHead class was added to above div -->
						<h3 class="nostep">{shipment information header text}</h3>
						<div style="clear:both;"></div>
					</div>
                    <div class="secBody">
                        <!-- REDESIGN EDIT: secBody class was added to above div, stepModContent was removed -->
                        <!-- ************************************** -->
                        <!-- REDESIGN EDIT: Start part of re-design -->
                        <!-- ************************************** -->
						<div class="outHozFixed">
                            <!-- REDESIGN EDIT: outHozFixed2 was changed to outHozFixed -->
							<dl>
								<dt>
									<span class="label">{ship to label}:</span>
								</dt>
								<dd>{ship to value}</dd>
								<dt>
									<span class="label">{ship from label}:</span>
								</dt>
								<dd>{ship from value}</dd>
								<dt>
									<span class="label">{shipment date label}:</span>
								</dt>
								<dd>{shipment date value}</dd>
								<dt>
									<span class="label">{total shipment weight label}:</span>
								</dt>
								<dd>{total shipment weight value}</dd>
								<dt>
									<span class="label">{customs value label}:</span>
								</dt>
								<dd>{customs value value}</dd>
								<dt>
									<span class="label">{destination type label}</span>
								</dt>
								<dd>{destination type value}</dd>
								<dt>
									<span class="label">ups account number label}</span>
								</dt>
								<dd>{ups account number value}</dd>
								<dt>
									<span class="label">{number of packages label}</span>
								</dt>
								<dd>{number of packages  value}</dd>
								<dt>
									<span class="label">{duty type label}</span>
								</dt>
								<dd>{duty type value}</dd>
							</dl>
						</div>
                        <div style="clear:both;"></div>
                        <!-- ************************************** -->
                        <!-- REDESIGN EDIT: End part of re-design   -->
                        <!-- ************************************** -->
					</div>
				</div>
				<!--End Module -->
				<!-- Begin Module -->
				<div class="stepModFixed4col secLvl step clearfix">
                    <!-- REDESIGN EDIT: secLvl, step, clearfix class was added to above div -->
					<div class="stepModHead secHead">
                        <!-- REDESIGN EDIT: secHead class was added to above div -->
						<h3 class="nostep">{package details header text}</h3>
						<div style="clear:both;"></div>
					</div>
                    <div class="secBody">
                        <!-- REDESIGN EDIT: div.secBody element was added above -->
    					<table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
                            <!-- REDESIGN EDIT: full class was added to above table -->
    						<tr>
    							<th>{header text}</th>
    							<th>{header text}</th>
    							<th>{header text} / {header text}</th>
    							<th>{header text}</th>
    							<th>{header text}</th>
    						</tr>
    						<tr class="odd">
    							<td>{cell data}</td>
    							<td nowrap>{cell data}</td>
    							<td>{cell data}<br>
    								{cell data}</td>
    							<td>{cell data}</td>
    							<td>{cell data}</td>
    						</tr>
    					</table>
    					<p class="reqTxtInst">* Maecenas eleifend magna ut justo blandit mattis.</p>
                    </div>
				</div>

				<!--End Module -->
				<!-- Begin Module -->
				<div class="stepModFixed4col secLvl step clearfix">
                    <!-- REDESIGN EDIT: secLvl, step, clearfix class was added to above div -->
					<div class="stepModHead secHead">
                        <!-- REDESIGN EDIT: secHead class was added to above div -->
						<h3 class="nostep">{next steps header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<div class="secBody">
                        <!-- REDESIGN EDIT: modContent class was changed to secBody -->
						<ul class="">
							<li class="back"><a href="repl_href">{link text}</a></li>
							<li class="back"><a href="repl_href">{link text}</a></li>
							<li class="back"><a href="repl_href">{link text}</a></li>
						</ul>
					</div>
				</div>
				<!-- End Module -->
				<!-- Begin Module -->
				<div class="modFixed4col">
					<div class="modHead">
						<h3>{guarangees and notices header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<div class="modContent">
						<p class="reqTxtInst">Phasellus quis cursus ante. Nulla porta magna quis orci sodales suscipit. Proin vulputate ipsum sed neque malesuada facilisis. Quisque mattis, nisl eu mollis dapibus, quam lorem sodales felis, et consectetur odio sapien id ipsum. Nam commodo, ligula id egestas gravida, justo turpis semper neque, sed viverra justo tellus non lacus. Sed magna est, mattis id ornare et, laoreet ac dolor. Aliquam turpis lectus, pellentesque in luctus eget, cursus at eros. Praesent sapien tellus, mollis porttitor feugiat eget, placerat at nisl.</p>
						<p class="reqTxtInst">Quisque vehicula consectetur quam sed mollis.</p>
						<p class="reqTxtInst"><strong>{note label}:</strong> Ut ultrices dolor a enim blandit sed mollis enim consectetur. In et nunc enim. Integer malesuada ligula a risus aliquet iaculis. Sed nibh metus, varius sed hendrerit id, tincidunt eu risus</p>
						<p class="reqTxtInst">Aliquam pellentesque neque ut elit blandit sed semper nunc scelerisque. Pellentesque nec rutrum eros.</p>
					</div>
					<div style="clear:both"></div>
				</div>
				<!--End Module -->
			</td>
		</tr>
	</table>

</form>
