<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">View Transaction History</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">
	We're sorry; UPS TradeAbility<sup>TM</sup> File Status is not able to complete your request at this time. Please try again later.
	<br><br>
	<img alt="Back to TradeAbility International Tools" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><a href="repl_href">Back to TradeAbility International Tools</a>
	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>
