<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>user login settings</h1>

		<!-- Begin Application Module -->
        <div class="appLvl mod col18 clearfix">
        <fieldset><legend></legend>
            <!-- Begin Application Header -->
            <div class="appHead clearfix">
                <h2>returning users</h2>
            </div>
            <!-- End Application Header -->
            <!-- Begin Application Body -->
            <div class="appBody clearfix">
            <fieldset><legend></legend>

            <p class="error">&gt;&gt;&gt; { error message. }</p>

                <!-- begin user identification -->
                    <div class="group clearfix">
                    <fieldset><legend></legend>
                        <dl>
                            <dt><label for="repl_id">user id:</label></dt>
                                <dd>{ user id }</dd>
                        </dl>



                        <!-- begin Security System is Available -->
                        <dl>
                            <dt>
                                <label for="repl_id">security image:</label>
                                <!-- <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required" />-->
                           </dt>
                            <dd>
                                <span><img alt="" border="0" height="100" width="100" title="security image" src="/img_fpo/other/fpo_134_134.gif" /></span>
                                <span class="indent"><a href="" >this is not my image</a></span>
                            </dd>

                        </dl>

                        <p>{ your caption displays here }</p>
                        <!-- end Security System is Available -->


                        <!-- begin Security System Not Available -->
                        <p>your security image and caption are not available for display due to system issues. do not provide your password unless you have confirmed the following:</p>
                        <ul class="lstBullet">
                            <li>the web address begins with <b>https://www.ups.com</b></li>
                            <li><b>united parcel services inc</b> is displayed next to the web address and provides access to certificate information.</li>
                        </ul>
                        <!-- end Security System Not Available -->

                        <dl>
                            <dt><label for="repl_id">password:</label></dt>
                                <dd>
                                    <input type="password" id="repl_id1" class="formcol5" value="password" /><!--<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0" />-->
                                    <div><a href="repl_href" >i forgot my password</a></div>
                                </dd>
                        </dl>



                        <dl>
                            <dt><label for="replid">would you like us to <a href="repl_href" class="btnLnkR helpIconR">remember this device</a> for you?</label></dt>
                            <dd>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="sel">
                                            <input name="repl_name" type="radio" value="repl_value" id="repl_id" />
                                        </td>
                                        <td>
                                            <label for="" class="sel">yes, i use this device frequently, please remember this device. <span class="reqTxtInst">(do not check for shared computers.)</span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sel">
                                            <input name="repl_name" type="radio" value="repl_value" id="repl_id" />
                                        </td>
                                        <td>
                                            <label for="" class="sel">no, i do not want you to remember this device.</label>
                                        </td>
                                    </tr>
                                </table>
                            </dd>
                        </dl>
                    </fieldset>
                    </div>



</fieldset>
            </div>
            <!-- End Application Body -->
            <!-- Begin Application Footer -->
            <div class="appFooter">
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                    <input name="" type="button" value="cancel" class="btn" />
                    <input name="" type="button" value="login" class="btnArw" />
                </div>
                <!-- End Button Bar Row -->
            </div>
            <!-- End Application Footer -->


                <div class="note">
                    <p><a href="repl_href" class="btnlnkL arrowIcon">forgot user id or password</a></p>
                </div>



        </fieldset>
        </div>
        <!-- End Application Module -->



		<!-- End Application -->
<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
