<h2>This is my Index Template</h2>

<ul>
    <li><a href="#/nbsSpa">SPA</a></li>
    <li><a href="#/gfWrapper/whereFrom">Guided Flow Where From/Return</a></li>
    <li><a href="#/gfWrapper/whereTo">Guided Flow Where To</a></li>
    <li><a href="#/gfWrapper/what">Guided Flow What</a></li>
    <li><a href="#/gfWrapper/when">Guided Flow When</a></li>
    <li><a href="#/gfWrapper/intForms">Guided Flow Int Forms</a></li>
    <li><a href="#/gfWrapper/addons">Guided Flow Addons</a></li>
    <li><a href="#/gfWrapper/payment">Guided Flow Payment Duties and Taxes</a></li>
    <!--
    <li><a href="#/gfWrapper/review">Guided Flow Review</a></li>
    <li><a href="#/gfWrapper/confirmation">Guided Flow Confirmation</a></li>
    <li><a href="#/gfWrapper/payment">Guided Flow Payment Duties and Taxes</a></li>
    <li><a href="#/gfWrapper/modals">Guided Flow Modals</a></li>
    -->
</ul>