<section class="ups-section">
        <div class="ups-section-header">
            <h2 class="ups-section_heading">Product [1]</h2>
        </div>
        <p>{{'{'}}Product Description from Product Details page{{'}'}}</p>
        
        <ups-step231 #Step31Comp *ngIf="step31">Loading Step 2.3.1</ups-step231>
        
        <ups-step232yes #Step32yesComp *ngIf="step32yes">Loading Step 2.3.2a</ups-step232yes>
        
        <ups-step232no #Step32noComp *ngIf="step32no">Loading Step 2.3.2b</ups-step232no>
    </section>
    
    <div class="ups-form_ctaGroup text-center">
        <button class="ups-cta ups-cta_tertiary" type="button" (click)="step2_3BackBtn()">Back</button>
        <button class="ups-cta ups-cta_primary" type="button" (click)="step2_3NextBtn()">Next</button>
    </div>