@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_reskin";

#main {

	form[name="trkBar"] + script + h1 {
		float: $default-float;
		width: 100%;
	}

    .secLvl {

        .secHead {
            ul {
                display: inline;
                #lastTrack {
                    /* color: #FFF; Removed for Defect 379170 */
                    position: relative;
                    font-family: "BerlingskeSans Bd", Tahoma, helvetica, arial, sans-serif;
                    padding: 5px 0 0;
                }
            }
        }
        .secBody {
            background: none;
            padding: 0;

            b.highlight {
                color: $black_s4;
            }

            .gradient input.btn {
                color: $white;
















            }
        }

        &.trackingGrid {
            .secHead {
                width: 620px;
            }

			.trk-grid-hResizer {
				background-color: $black_s1 !important;
				width: 2px !important;
			}

            #trk-grid-wrapper {
                .trk-grid-hdr {
                    .trk-grid-col-hdr {
						padding-#{$default-float}: 0;

                        div {
                            font-family: $sans-bd;
                            margin-top: 2px;
                        }

                        &#trk-grid-col-hdr-4 {
                            &:before {
                                @include ups-iconFont("\e65e");
                                font-size: 18px;
                            }
                            .iconPushPinColor7116 {
                                background-image: none;
                            }
                        }
                    }
                }

                .trk-grid-vResizer {
                    .vResizer {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }

        #accordion {
            .ui-accordion-content:nth-of-type(2) {
                .secBody {
                    dl:nth-of-type(1) {
                        dd:first-of-type {
                            input[type=radio]:before {
                                vertical-align: top;
                            }
                        }
                    }


                    dl:nth-of-type(3) {
                            input {
                                width: 101px !important;
                                font-size: 12px;
                                padding: 0 6px;
                            }

                    }

                }
            }

            td img {
                display: none;
            }

            .btnBar {
                margin: 0;
                padding: 0;
            }

            #SenderShipperNumber {
                margin-bottom: 5px;
            }

            input[type="file"] {
                width: 230px;
                display: inline-block;
            }
        }

        .secFooter {
            .btnBar input.btnGroup6 {
                @include ups-legacy_cta($water_s3);
            }
            .btnBar input.btnGroup6.arrowIconRight{
            	margin-bottom: 5px;
            }

        }
    }
    .tab {
        padding: $margin_4;
        .ui-accordion {
            padding-#{$opposite-direction} : $margin_4;
        }
        .trackingGrid{
            margin-#{$default-float}: 0;
            #trk-grid-wrapper{
                .trk-grid {
                    border: 1px solid #6e6e6e;
                    .trk-grid-col-hdr {
                        background: #d9d9d6;
                        a {
                            text-decoration: none;
                        }
                    }
                    .trk-grid-cell-odd {
                        background-color: #f0f0ef;
                    }
                }
                .trk-grid-vResizer {
                    background: #6e6e6e;
                    border-color: #6e6e6e;
                }
            }
        }
        .btnGroup6 {
            border: none;
            margin: 0;
            padding: 0 15px;
            color: #fff;
            background: #008369;
            font: 1em/35px "BerlingskeSans", Tahoma, helvetica, arial, sans-serif;
            height: 35px;
        }
    }



    // Tracking Details override

    //track bar
    form {
        //single pixel handling
        input[type=image] {
            display: none;
        }

        .appLvl.appLvlPlain {
            padding: 0;

            .secLvl.trkBar {
                background-color: $stone_40;
                border: 1px solid $black_s1;
                border-top-width: 8px;
                margin-top: 0;
                padding: 10px;
				max-width: 940px;

                fieldset {

                    .subcol9:first-of-type {
                        #trackNums {
                            width: 195px;
                            margin-#{$opposite-direction}: 5px;
                            height: 35px;
                        }
                        .btnGroup6 {
                            @include ups-legacy_cta($water_s3);
                        }
                    }

                    .subcol7 {
                        top: 14px;
                        position: relative;
                        padding: 0;
                        margin: 0;

                        a.arrowIconR {

                        }
                    }

                }

                .subcol24 {
                    margin-top: 15px;
                }
            }


        }
    }

     #ups-fw_legacy_app_wrap .appLvlGradient.appLvlGradientGroup7 {
        padding: 0;
        border-bottom-width: 1px;

        &#fontControl {
            .appHead {
                margin: 0 10px;
            }
        }

        .appHead {
            margin: 0;
            padding: 0;

            h2 {
                margin: 0;
            }

            p.error {
                margin: 0;
                padding: 0;
            }

            img.social {
                margin-top: 24px;
            }

            #fontControlButtons {
                margin: 0px;

                li.indent {
                        a {
                            text-decoration: none;
                            margin: 0 5px;
                            padding: 3px 4px 0 4px;
                        }
                }
            }
        }

        .appBody.fontControlBody {
            border-color: $black_s1;
			.secLvl:first-child .secLvl.group6.clearfix {
			  margin-bottom: 0;
			}
			.secLvl:nth-child(4) .hr {
			  display: none;
			}

            #detailFormid {
                margin: 0 10px;
            }

            .secLvl.detail {
                border: none;

                form {
                    .secLvl.secLvlPlain {
                        .secHead {
                            padding: 0;
                            margin: 0;
                            background-color: $white;
                            #trkNum {
                                color: $black_s4;

                                img {
                                    display: none;
                                }
                            }

                            span.indent {
                                display: inline-block;
                                margin-top: -1px;
                            }

                            .outHozFlex {
                                dt a.helpIconR {
                                    padding-#{$opposite-direction}: 3px;
                                    padding-#{$default-float}: 3px;
                                }

                                a:hover {
                                    color: $black_s1;
                                }
                            }

                        }
                    }
                }

                .secBody {
                    /* padding: 0 10px 10px;
                    padding: 15px 10px 10px; */
                    border-color: $black_s1;

                    .secLvl {
                        /* border-bottom-width: 1px; */

                        .newpkgProgress {
                            background-color: $stone_60;
                            .pkgstep.delivery {
                                background-color: $stone_60;
                            }
                            /* new tracking images, updated colors */
                            .pkgstep.current {
                                background: url(/assets/resources/images/legacyAppImages/trk_pkg_progress_bar_current.png) no-repeat  $opposite-direction center $grass_s3;
                                &.exception {
                                    background: url(/assets/resources/images/legacyAppImages/trk_pkg_progress_bar_exception.png) no-repeat  $opposite-direction center $gold_60;
                                    a {
                                        color: $black_s4;
                                    }
                                }
                                .newStatusR & {
                                    background: url(/assets/resources/images/legacyAppImages/trk_pkg_progress_bar_current.png) no-repeat left center $grass_s3;
                                }
                            }
                            .pkgstep {
                                background: url(/assets/resources/images/legacyAppImages/trk_pkg_progress_bar.png) no-repeat  $opposite-direction center;
                                &.delivery {
                                    background-image: none;
                                }
                            }
                            &.return .current {
                                background: url(/assets/resources/images/legacyAppImages/trk_pkg_progress_bar_current_rtl.png) no-repeat left center $grass_s3;
                            }
                            .pkgstep.current {
                                .pkgstep1R {
                                    width: 348px;
                                }
                                a, span {
                                    color: $white;
                                    font-size: inherit;
                                    font-weight: normal;
                                    background: none;
                                    text-decoration: none;
                                }
								&.exception {
									color: $black_s4;

									a, span {
										color: $black_s4;
									}
								}
                                a:hover {
                                    text-decoration: underline;
                                }
                                a:after {
                                    font-family: "UPSicons" !important;
                                    content:"\e660";
                                    position: relative;
                                    margin-#{$default-float}: 5px;
                                    display: inline;
                                }
                                &.complete4 {
                                    a:after {
                                        @include ups-iconFont("\e623");
                                    }
                                }
                                &.complete5 {
                                    span:after {
                                        @include ups-iconFont("\e623");
                                        padding-#{$default-float}: 5px;
                                    }

                                    .pkgstep1R a.helpIconR.btnlnkR:after {
                                        content: "\e623";
                                    }
                                }
                            }
                        }

                        .secBody {
                            /* margin-top: 0px; */
                            div.marginBegin {
                                dt {
                                    font-family: $sans;
                                    font-weight: normal;
                                }
                                dl{
                                	dd{
                                		display: inline-block;
                                	}
                                }

                                .col7.marginEnd.secLvlPad {
                                    .btnBar {
                                        .btnGroup7 {
                                            @include ups-legacy_cta($water_s3);
                                            background-image: none;
                                            margin-bottom: 10px;
	;

                                            &:after {
                                                content: '';
                                            }
                                        }
                                    }
                                }
                            }

                            b {
                                font-family: $sans-bd;
                                font-weight: normal;
                            }

                            .subcol6.marginBegin {
                                margin-#{$opposite-direction}: 10px;

                            }

                            .buttonArwGroup2 {
                                font-family: $sans-bd;
                                font-weight: normal;
                                line-height: 2em;

                            }

                            #mc_logon {
                                sup {
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    .gradient.gradientGroup6 {
                        margin-top: 10px;
                    }

                    .secLvl.gradientGroup7 {
                        border-bottom-width: 1px;
                        border-color: $black_s1;

                        .secHead {
                            h4 {
                                padding-#{$default-float}: 0;
                            }

                            &#collapse3 {
                                .helpIconR {
                                    top: 6px;
                                }
                            }
                        }

                        &.module3 {
                            .dataTable {
                                tr {
                                    th:nth-child(-n+3), td:nth-child(-n+3) {
                                        border-#{$opposite-direction}: 1px solid $ups-brown;
                                    }
                                }
                            }
                        }

                        &.module4 {
                            #trk-grid-wrapper {

								.trk-grid-cell {
									border-bottom: 1px solid $ups-brown;
								}


                                .trk-grid {
                                    /* background: $stone_40; */
                                    border-color: $ups_brown;
                                    border-#{$default-float}: 0;
                                    border-#{$opposite-direction}: 0;
                                    border-top-width: 3px;
                                }

                                .trk-grid-col-hdr {
                                    padding: 5px 0;
                                    background: $stone_40;

                                    &:nth-child(-n+6) {
                                        border-#{$opposite-direction}: 1px solid $ups-brown;
                                    }

                                    .vMiddle {
                                        font-family: $sans-bd;
                                    }
                                }

                                .trk-grid-cell, .trk-grid-cell-odd {
                                    .vMiddle {
                                        font-family: $sans;
                                        padding: 4px 0;
                                    }
                                }

                                .trk-grid-col:nth-child(-n+6) {
                                    border-#{$opposite-direction}: 1px solid $ups-brown;
                                }

                                .trk-grid-cell-odd {
                                    background: $stone_40;
                                }

                                #trk-grid-col-0 {
                                    .vMiddle {
                                        color: $black_s4 !important;

                                        &:hover {
                                            color: $black_s1 !important;
                                        }
                                    }
                                }

                                #trk-grid-col-hdr-2 {
                                    .vMiddle {
                                        &:after {
                                            font-family: "UPSicons" !important;

                                            @include ups-iconFont("\e677");
                                            display:none;
                                        }
                                    }

                                    /* if can;t click this then will need to change */
                                    #statusIcon {
                                        /* display: none; */
                                    }
                                }

                                #trk-grid-0_resizerBottom {
                                    background-color: $stone_40 !important;
                                    border: 1px solid $ups-brown !important;
                                    border-#{$opposite-direction}: 0 !important;
                                    border-#{$default-float}: 0 !important;
                                    border-top: 0 !important;
                                }
                            }
                        }

                        .btnGroup6 {
                            @include ups-legacy_cta($water_s3);
                        }
                    }

                    .seccol6.marginEnd {
                        .gradientGroup7 .secBody.chat {
                            background:$sand_40;
                            margin-top:0px;

                            .chatHead  h4 {
                                color:$black_s4;
                            }

                            .btnGroup6 {
                                line-height: 35px;
                            }
                        }

                        .secHead {
                            background-color:$stone_s3;
                            margin-bottom:0px;

                            h4 {
                                color:$black_s4;
                            }
                        }

                        a.service {
                            color: $black_s4 !important;

                            &:hover {
                                color: $black_s1 !important;
                            }
                        }
                    }
                }
            }


		}
    }

    .secFooter.trk-grid-footer {
        margin-top: 15px;
    }

	.appBody.fontControlBody form[name="sumForm"] .secBody fieldset {
		padding: 0 10px; /* 0 */

		fieldset {
			padding: inherit;
		}
	}

	.ui-datepicker-trigger {
		width: auto !important;
	}

}


/* --------------------------------------
change delivery and notify me modals
#ups-main { */

    .ui-dialog.ui-widget { /* all modals should have these two */
		position: absolute;
		top: 15% !important;
		#{$default-float}: 50% !important;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);

		.marginEnd.clearfix {
			margin: 0;
		}

        #HPDCR_Dialog {
            padding: 0;
        }

        .secBody.alignCenter {
            .subcol6 {
                margin: 0;

                button.gldIcnBtn {
                    color: inherit;
                }
            }
        }

        .UPSELL_Dialog, .VB_Dialog {
            padding: 0;
        }

        .secLvl {
            .seccol8 {
                .secHead {
                    background-color: $white;
                    color: $black_s4;
                    padding: 0;
                    margin-bottom: 5px;

                    label {
                        font-family: $sans-bd;
                    }
                }
                .secBody {
                    padding: 0 10px;
                }
            }

            .col16 {
                margin-top: 30px;
            }
        }

        .secBody {
            padding: 0;


            .secLvl.clearfix:nth-of-type(2) {
                .secBody.noHead {
                    /* add in return to sender icon when courtney makes it */
                    img {
                        display: none;
                    }
                }
            }
        }

        //---------------------------------------------
        //specific for notify me with updates modal
        .VB_Dialog{
            .appHead {
                li {
                    position: absolute;
                    #{$opposite-direction}: 4px;
                }
            }
            .appBody {
                #recipients + p:nth-of-type(2) {
                   &:before {
                        font-family: "UPSicons" !important;
                        content:'\e65b';
                        position: relative;
                        top: 2px;
                        font-size: 1em;
                    }
                }

                #recipients {
                    background-color: $stone_40;
                    border: 1px solid $black_s1;
                    border-top-width: 8px;
                    padding: 15px 10px 10px 10px;

                    .secHead {

                        p {
                            margin-bottom: 0;
                            padding-bottom: 0;
                            display: inline-block;
                            float: $opposite-direction;
                            position: relative;

                            &:before {
                                @include ups-iconFont("\e67c");
                                font-size: 1.2em;
                                top: 5px;
                            }
                        }

                        h3 {
                            position: relative;
                            top: 5px;
                        }
                        .crossMini {
                            background-image: none;
                            color: $black_s4;
                            font-family: $sans-bd;
                            font-weight: normal;
                            padding-#{$default-float}: 5px;
                            margin-bottom: 0;

                            &:before {
                                content: "99999";
                            }
                        }
                    }

                    table {
                        margin-#{$default-float}: 5px;
                    }

                    dl {
                        margin-bottom: 0;
                    }

                    a.helpIconR {
                        color: $black_s4 !important;
                        background-image: none;
                        padding-#{$opposite-direction}: 0;

                        &:after {
                          @include ups-iconFont("\e660");
                          display: inline-block;
                          line-height: 1.1em;
                          margin-#{$opposite-direction}: 5px;
                        }

                        &:hover{
                            color: $black_s1 !important;
                        }
                    }

                }

                .plusMini.btnlnkL {
                    background-image: none;
                    color: $black_s4;
                    font-family: $sans-bd;
                    font-weight: normal;
                    padding-#{$default-float}: 2px;

                    &:hover {
                        color: $black_s1;
                    }
                }

                textarea {
                    -webkit-appearance: none;
                    border: 1px solid #bebebe;
                    padding: 0 10px;
                    font-family: $sans-bd;
                    color: $black_s4;
                }

            }
            .appFooter .btnBar {
                input[type=button]:nth-of-type(1) {
                    margin-#{$opposite-direction}: 10px;
                }
            }
        }

    }

// }
.ui-dialog.ui-widget button.gldIcnBtn.disabled {
    background: #e8e8e6 !important;
    color: #6e6e6e!important;
    cursor: not-allowed!important;
}

.ui-dialog.ui-widget button.gldIcnBtn {
    background: #008369!important;
    height: 35px;
    padding: 0 30px !important;
    text-align: center;
    font-weight: 400 !important;
    color: #fff;
    cursor: pointer!important;
    border-radius: 25px;
    font-family: "UPSSans Medium",Tahoma,helvetica,arial,sans-serif !important;
    font-size: 15.4px !important;
    border-color: transparent;
}

form {
    .note {
        padding-#{$default-float}: 30px;
        position: relative;

        &:before {
            @include ups-iconFont("\e613");
            position: absolute;
            #{$default-float}: 10px;
            top: 0;
        }
    }
}

form, .btnBar {
    .btnGradient7  {
        margin-bottom:10px;
    }
}
#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secLvl.gradientGroup2  .secBody ,
#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secLvl.gradientGroup4  .secBody
, #main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secLvl.gradientGroup7  .secBody   {
    padding:15px 10px 10px /*TFS408421 */
}

// add vertical padding to top of message box
#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secLvl.gradientGroup7 .secBody .cmsMsgTrk .secLvl .secBody {
    padding: 10px;
}

#main .secLvl.gradientGroup4 .secBody, #main .secLvl.gradientGroup7 .secBody, #main .secLvl.gradientGroup2 .secBody {
    padding: 15px 10px 10px;
}

//#toDatepicker, #toDatepicker + img {
//    float:left;
//}

#acctSection {
    clear:both;
}


#main form[name=refinput] > table + table table:first-child > tbody > tr:first-child > td.mod-line:first-child {
    border-top: none;
    background: none;
}

#main form[name=refinput] > table + table table:first-child > tbody > tr:nth-child(2) > td:last-child {
    border-bottom: 1px solid $black_s1;
}

#main form[name=refinput] > table + table table:first-child > tbody > tr:first-child > td {
    background: none;
    /* display: none; */
    /* border: 1px solid; */
    /* border-bottom: none; */
}

#main form[name=refinput] > table + table table:first-child > tbody > tr td img {
    display: none
}

.tab-off {
    background: #f0f0f0;
    padding: 20px;
    border: 1px solid $black_s1 ;
    /* border:1px solid #000 */
    /* border-bottom: none; */
}

.tab-off a {
   text-transform:uppercase;
}

.tab-on {
    border-top: 5px solid $ups_sun!important;
    text-transform:uppercase;
    border: 1px solid $black_s1 ;
    background-color: $white;
    padding: 20px 10px;
    position: relative;
    border-bottom: 1px solid $white;
    //top: 0px;
    border-bottom: 1px solid $white;
}

#main .mod-line {
    background-color: transparent;

}

td.tab-off:nth-of-type(3n) {
    border-#{$default-float}: none!important;
    border-#{$opposite-direction}: none!important;

}

.mod-pad {
    padding: 15px;
}

#main form[name=refinput] > table + table table:nth-child(2) {
    border: 1px solid $black_s1;
    border-top: none;
    margin-bottom: 15px;
}

.modTxtMedium {
    margin-bottom: 15px
}

.btn , .btn_a {
    margin-#{$opposite-direction}: 5px!important;
}

form[name='fdform'] ul li:first-child > a {
background-position: 1px 1px;
    background-image: url(/assets/resources/images/legacyAppImages/crossmini.gif);
    height: 20px;
    background-repeat: no-repeat;
    width: 20px;
    display: inline-block;
}
form[name='retailform'] ul li:first-child > a {
background-position: 1px 1px;
    background-image: url(/assets/resources/images/legacyAppImages/crossmini.gif);
    height: 20px;
    background-repeat: no-repeat;
    width: 20px;
    display: inline-block;
}


form[name='fdform'] ul li:first-child a img  , form[name='retailform'] ul li:first-child a img{
    display:none;
}
#viewretailradio + label , #viewretailradio + br + label {
    //background: url(https://www.ups.com/img/icn_map_32_c2_1009.gif) no-repeat 6px 0px!important;
    //text-indent: 10px;
}
#viewretailradio + br {
    display:none;
}
input[name='FromDatepicker'] , input[name='FromDatepicker'] + img , input[name='FromDatepicker'] + img + label {
    //float: left;
    margin-#{$opposite-direction}: 5px;
}

input[name='FromDatepicker'] + img + label {
	margin-#{$opposite-direction}: 5px;
}

input[name='ToDatepicker'] {
    clear: both;
    margin-#{$opposite-direction}: 5px;
}

.secFooter .btnBar {
    input.button{
        margin:5px 0;
    }
}

html[lang='es'] #fontControlButtons li a.helpIcon {
    text-indent:-10px
}

.btnlinkR{
    color:#fff!important
}

input[name=FromDatepicker] , input[name=ToDatepicker]{
    float: $default-float;
}
#main .ui-datepicker-trigger , #main .ui-datepicker-trigger + label{
float:$default-float;
padding-top:5px;
}
/*#acctSection {padding-top:10px} removed for TFS 379065 */
#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secBody .secLvl .newpkgProgress .pkgstep.current {
		a {
    	text-decoration: none;
			color: $white!important;
			&:hover {
				text-decoration: underline;
				color: $white;
			}
			&:after {
			    font-family: "UPSicons" !important;
			    content: "\e660";
			    position: relative;
			    margin-#{$default-float}: 5px;
			    display: inline;
					color: $white;
			}
		}

		&.complete4 .pkgstep1 {
			a {
				color: $white;

                &:after {
			    display: inline-block;
			      @include ups-iconFont("\e623");
				}
			}
		}
        /* Defect 426370 */
        &.complete4.exception .pkgstep1.alignCenter {
            a.infoAnchor:after {
                @include ups-iconFont("\e660");
            }
        }
		&.complete5 span:after {
		    font-family: "UPSicons" !important;
		    display: inline-block;
            content:'\e623';
		    padding-#{$default-float}: 5px
		}
		&.exception {
			a {
				color: #363636!important;
				&:after, &:hover {
					color: #363636;
				}
			}
		}
}

#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secLvl {
	.secBody .infoAnchor.helpIconR {
		&:after {
			height: 17px;
		}
	}
	&.detail {
		.secLvl.gradientGroup7 {
			.secLvl.gradientGroup6 {
				.secBody {
					.button.btnlnkR {
						max-width: 344px;
						white-space: normal;
					}
				}
			}
		}
	}
}

form[name='retailform'] .appBody .secBody .secHead {
	input[name='ShowAllBtn'] {
		padding-#{$default-float}: 20px;
		vertical-align: baseline;
	}
	.printicon {
		display: inline-block;
    width: auto;
    background-image  : none;
    padding-#{$opposite-direction}: 20px;
    position: relative;
		vertical-align: text-top;
		&:after {
			display: inline-block;
            content:'\e660';
    	text-decoration: none;
    	position: absolute;
    	font-size: 1.1em;
    	line-height: 1.1em;
    	font-family: UPSicons;
    	#{$opposite-direction}: 0;
		}
	}
}

.error div#lwnErrMsg {
    color: $red;
}
#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secBody .secLvl .newpkgProgress .pkgstep.current.complete4 a:after {
    display: inline-block;
     @include ups-iconFont("\e623");
}
#RIF_Address {
    > div {
        width:320px !important;
    }
}
#orig > div {width:auto!important}
#origStreet br,#origAddr2 br,#origAddr3 br{display:none}
#orig div,#cpcWidgetAddress div {padding-bottom:15px}
#statusUpdatesformid .btnBar button {height:auto!important}

//#trk-grid-col-hdr-2 a div  , #trk-grid-col-hdr-3 a div{
//	cursor: pointer;
//    margin-#{$default-float}: 7px;
//    border-#{$default-float}: 2px solid rgba(181, 181, 181, 0.3);
//    border-style: inset;
//    width: 5px;
//    /* height: 10px; */
//    visibility: visible;
//    padding-top: 2px;
//    padding-#{$default-float}: 5px;
//    display: inline-block;
//}
form a img[alt=Close]{
    background-position: 1px 1px !important;
    background-image: url(/assets/resources/images/legacyAppImages/crossmini.gif);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    }

input[name=txt_street] {width:284px}
/********************************************
*********************************************
Cannot be committed until July ER Release
*********************************************
********************************************/
/*************/
/* TFS327500 */
/*************/

#ups-fw_legacy_app_wrap div#main label {
	margin-bottom: 0px;
	line-height: 25px;
}

.ups-appPage .ups-icon-pushpin {
	position: relative;
    #{$default-float}: 7px;
}

.ups-appPage .trk-grid-cell {
	background-color: transparent;
}

#ups-fw_legacy_app_wrap div#main select:not([multiple]) {
	background-color: transparent;
	background-image: none;
}

// #ups-fw_legacy_app_wrap .ups-application_wrapper .ups-date_picker_button span.ups-icon-calendar {
//     font-size: 1.5em !important;
//     color: #64a70b !important;
//     line-height: 1em;
// }

.ui-dialog.ui-widget .secLvl .seccol8 .secHead label img {
	margin-#{$opposite-direction}: 5px;
}

#ups-fw_legacy_app_wrap div#main .ups-required_indication, .ups-required_indicator:after {
    content: "*";
	position: relative;
	#{$default-float}: 3px;
}

/* #acctSection {padding:20px 0;} removed for TFS 379065 */
/*#selectCntry, lblCntry {padding-bottom: 20px;} removed for TFS 379065 */
#main .secLvl:not(.cmsMsg) .secBody dl {
	overflow: hidden;
}

//#ups-fw_legacy_app_wrap div#main select:not([multiple]) {
//	background-color: transparent;
//	background-image: none;
//}

//// #ups-fw_legacy_app_wrap .ups-application_wrapper .ups-date_picker_button span.ups-icon-calendar {
////     font-size: 1.5em !important;
////     color: #64a70b !important;
////     line-height: 1em;
//// }

//.ui-dialog.ui-widget .secLvl .seccol8 .secHead label img {
//	margin-right: 5px;
//}

//#ups-fw_legacy_app_wrap div#main .ups-required_indication, .ups-required_indicator:after {
//    content: "*";
//	position: relative;
//	left: 3px;
//}

div#main .formcol7 {width: 160px;margin-#{$opposite-direction}: 10px;}

//#main input[type=checkbox] {top: 2px;}

//.ui-dialog.ui-widget .appLvl.modal .appHead h2 {width: 95%;}

//.ui-dialog.ui-widget .appFooter {margin-top: 20px;}

//.ui-dialog.ui-widget div.appBody label {display: inline;}

//div#main .formcol7 {width: 160px;margin-right: 10px;}

//body.ups-appPage .container-fluid.iw_section .row.iw_row #ups-fw_legacy_app_wrap .ups-fw_legacy_app_inner {
//	margin: 0 auto;
//}

.ups-extended {
	width: 100%;
	margin-bottom: 10px;
}

//.gradient .secHead ul.countDown li, .gradient .secHead ul.countDown li.number {
//	color: #242424;
//}

//.ups-no_label {display: none; text-decoration: none;}

//.panel.panel-default {
//    border-color: $stone_s3;
//}
//.panel.panel-default > .panel-heading {
//    background-color: $stone_s3;
//}

//.ups-group {
//	margin-bottom: $margin_4;

//	.ups-group_label {
//		font-family: $sans-bd;
//        font-weight: normal;
//        color: $black_s4;
//        font-size: 1em;
//		line-height: inherit;
//		margin: 0 0 $margin_5;
//	}

//	.ups-group_value {
//		line-height: 35px;
//	}

//	&.ups-group_condensed p {
//		margin-bottom: 0;
//	}

//	&.ups-group_condensed p.ups-form_label {
//		margin-bottom: 10px;
//	}

//	address {
//		margin-bottom: 15px;
//	}
//}

.ups-appPage #ups-fw_legacy_app_wrap div#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secLvl.detail .secBody .secLvl .newpkgProgress .pkgstep.current a {
	color: $white;
}

#main .secLvl .secBody .secLvl .newpkgProgress .pkgstep.current {
	span, a {
		color: $white !important;
	}

	&.exception {
		span, a {
			color: $black_s4 !important;
		}
	}
}

.ups-appPage span.ups-track_help {
	position: relative;
	#{$opposite-direction}: 0px;
    top: 3px;
}

//#main input[type="radio"] {
//    cursor: default;
//    border: none;
//    width: auto;
//    height: auto;
//    position: absolute;
//    bottom: auto;
//    margin: 0;
//    border-radius: 0;
//    outline: none;
//    vertical-align: baseline;
//}

//.panel.panel-default > .panel-heading { color: #333; font-weight: bold !important; }

//#main .secLvl .secBody .panel.panel-primary > .panel-heading, { color: $white; font-weight: bold; }

//#main .secLvl .secBody .panel.panel-info > .panel-heading, { color: $white; font-weight: bold; }

//#main .secLvl .secBody .panel.panel-warning > .panel-heading { color: $white; font-weight: bold; }

.panel-warning .icon.ups-icon-alert { font-size: 2.5em }
.buttonArwGroup2 {
    background: url(/assets/resources/images/legacyAppImages/btn_bg_mc_g23.png);
    font-size:1.8em;
}
strong.highlight {
    color: $ups_gold;
    font-weight: bold;
}
.dataTable { margin-bottom: 20px; }

/* Removed this padding rule to allow padding for notifications dialog page - Quest
.ups-appPage .ui-dialog.ui-widget .appBody .secLvl .secBody, .mod.modal.dialog.col12 .appBody .secLvl .secBody {
	padding: 0;
} */

.ups-actions li {
    line-height: 1.6em;
    margin-#{$default-float}: 10px;
    display: inline;
    float: $opposite-direction;
}

//.ups-appPage .ui-dialog.ui-widget button.ups-cta.ups-cta_secondary {
//	color: $black_s3;
//}

.modal .mod .secLvl .ups-dlg_notifications {
	border-color: #908474;
}
form[name=retailform] .secLvl.secLvlPlain.seccol16.marginEnd.clearfix {width:50%}
#HPDCR_Dialog .appBody  {padding:0}

/* TFS387367 */
.appBody ul li {
	list-style: none;
}

/* TFS 389800 */

#ups-fw_legacy_app_wrap #main span a.btnlnkR {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}

    /* &:after { TFS395115
        @include ups-iconFont("\e623");
    } */
}

/* TFS395270 */
.secLvl .ups-special_instructions.panel-warning {
    margin: 0 0 20px 0;
}

div.cmsMsgTrk {
	overflow: hidden;
}

#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secLvl.detail .secBody .secLvl .newpkgProgress .pkgstep.current.complete4 a::after
{
  // content: "\e660";
}

#main .secLvl.group2.message {
	margin-bottom: 10px;
}

#main .secLvl:not(.gradient) {
    border: none;
}

#ups-fw_legacy_app_wrap .complete4 .helpIconR::after,
#ups-fw_legacy_app_wrap .complete4 .helpIcon.btnlnkR::after,
#ups-fw_legacy_app_wrap .complete4 .helpicon.btnlnkR::after,
#ups-fw_legacy_app_wrap .complete4 .helpiconR.btnlnkR::after,
#ups-fw_legacy_app_wrap .complete4 .helpIconR.btnlnkR::after,
#ups-rr_legacy_app_wrap .complete4 .helpIconR::after,
#ups-rr_legacy_app_wrap .complete4 .helpIcon.btnlnkR::after,
#ups-rr_legacy_app_wrap .complete4 .helpicon.btnlnkR::after,
#ups-rr_legacy_app_wrap .complete4 .helpiconR.btnlnkR::after,
#ups-rr_legacy_app_wrap .complete4 .helpIconR.btnlnkR::after {
    content: "\e623";
}

#ups-fw_legacy_app_wrap .return .complete5 .pkgstep1R span {
    background-image: none;
}

#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secBody .secLvl .newpkgProgress .pkgstep.current.complete5 span::after {
    display: none;
}

#main .appLvlGradient.appLvlGradientGroup7 .appBody.fontControlBody .secBody .secLvl .newpkgProgress .pkgstep.current.complete5 a::after {
    content: "\e623";
}

.modal.dialog{
    form[name='retailform']{
        label.error{
            color: $red;
        }
        label.locationPin{
            margin-left: -25px;
        }
    }
}


/********************************************
*********************************************
End Cannot be committed until July ER Release
*********************************************
********************************************/

/* Defect 420617:Remove Grid lines on ups.com package progress */
#main{
	.panel.module3{
		.panel-body{
			table.dataTable{
				tbody:first-child tr:nth-child(1) th:not(:last-child),
				td{
					border-right: 0;
					border-bottom: 0;
				}
				&:not(.sel){
					border-bottom: 0;
				}
			}
		}
	}
}
