<form action="repl_fname">

    <!-- Begin Application Module -->

    <div class="appLvl col18 mod">

        <!-- Begin Application Header -->

        <div class="appHead clearfix">
            <h2>{Application Header}</h2>
            <ul>
                <li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
            </ul>
        </div>

        <!-- End Application Header -->

        <!-- Begin Application Body -->

        <div class="appBody clearfix">

            <!-- Begin Section Module -->

            <div class="secLvl clearfix">

                <!-- Begin Section Header --><!-- End Section Header -->

                <!-- Begin Section Body -->

                <div class="secBody clearfix">
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <select>
                        <option>item1</option>
                    </select>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                </div>

                <!-- End Section Body -->

                <!-- Begin Section Footer --><!-- End Section Footer -->

            </div>

            <!-- End Section Module -->

        </div>

        <!-- End Application Body -->

        <!-- Begin Application Footer --><!-- End Application Footer -->

    </div>

    <!-- End Application Module -->

</form>
</div>

<!-- /applicationArea -->

<!-- /contentArea -->

<!-- /contentArea -->

<!-- /contentArea -->

<!-- /contentArea -->

<!-- /contentArea -->

<!-- /contentArea -->

<!-- /contentArea -->

</div>
</div>
<div class="cclampFooter">
<div class="appLvl appLvlPlain colsuper clearfix">
<div class="appHead clearfix">
<dl class="inline">
    <dt><label>footer</label></dt>
    <dd></dd>
    <dd></dd>
</dl>
</div>
<div class="appBody clearfix">
<div class="secLvl secLvlPlain seccol6 clearfix">
</div>
</div>
<div class="appFooter">
</div>
</div>
</div>
<div class="appLvl mod modal dialog">
<div class="appHead clearfix">
<h2>{Tariff Code Validation Opt Out / Discard All Tariff Codes?}</h2>
<ul>
<li>
    <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
</li>
</ul>
</div>
<div class="appBody">
<p>{Are you sure you no longer want to receive tariff code suggestions?}</p>
<p>{If you opt out, we'll no longer offer suggestions, and we'll remove the suggested destination country or territory/tariff code pairs that are missing final tariff codes.}</p>
<p><strong>Cancel</strong> {to continue to receive tariff code suggestions.}</p>
<p>Select <strong>Ok</strong> {to stop receiving suggestions.}</p>
</div>
<div class="appFooter">
<div class="btnBar alignCenter">
<input type="button" class="btn" value="Cancel" name="repl_name">
<input type="button" class="btn" value="Ok" name="repl_name">
</div>
</div>
</div>
<script type="text/javascript">



$(document).ready(function(){
var modal = $('.modal').dialog({modal:true,dialogClass:'modal', width:510});
$('#modalClose').click(function(e){
modal.dialog('close');
});
});
