// VARIABLES
// ----------------------------------
$col-xs: '.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12';
$col-sm: '.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12';
$col-md: '.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12';
$col-lg: '.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12';

html.ups-rtl[dir='rtl'] ul.uib-datepicker-popup.dropdown-menu.ng-scope {
    left: auto !important;
}
@mixin focus {
	outline-width: 5px;
	outline-style: auto;
	outline-offset: initial;
	outline-color: $ups_gold;
}

@import "bootstrap/BS05_forms";
@import "bootstrap/BS01_panel";
@import "bootstrap/BS04_table";
@import "bootstrap/BS00_modal";
@import "bootstrap/BS03_popover";
@import "bootstrap/BS02_alert";
@import "bootstrap/BS06_datepicker";


.row.vertical-align {
    display: flex;
    align-items: center;

    @media (max-width: #{$screen-sm}) {
        display: block;
    }
}

.row.bottom-align {
    display: flex;
    align-items: flex-end;

    @media (max-width: #{$screen-sm}) {
        display: block;
    }
}

/*
PPC Accordion
*/
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}

/*
BS Helper Classes
*/
.pull-right {
	float: $opposite-direction !important;
}

.pull-left {
	float: $default-float !important;
}

.modal-open {
    -ms-overflow-style: none; //prevents background scrollbar on IE when modal is open
}

.modal-open .modal {
    -ms-overflow-style: scrollbar; //forces modal scrollbar to show on IE when modal is open
}
