// ----------------------------------------------------
// BOOTSTRAP OVERRIDES
//
// !! This file should only contain overrides for bootstrap variables
//    Bootstrap styling should be overridden in _bs_reskin.scss
//
// ----------------------------------------------------

$grid-gutter-width: 30px;

$screen-xs:                  320px;
$screen-xs-min:              $screen-xs;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

$screen-md:                  992px;
$screen-md-min:              $screen-md;

$screen-lg:                  1400px;
$screen-lg-min:              $screen-lg;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$zindex-popover:             $zTop - 1; // makse sure popover z-index is always 1 less than the z-index for the WEM header

