// ----------------------------------
// FONTS
// ----------------------------------





// BerlingskeSans
// ----------------------------------
@font-face {
    font-family: 'BerlingskeSans';
    src: font-url('UPSBerlingskeSans-Rg.eot');
    src: font-url('UPSBerlingskeSans-Rg.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSans-Rg.woff') format('woff'),
         font-url('UPSBerlingskeSans-Rg.woff2')format('woff2'),
         font-url('UPSBerlingskeSans-Rg.ttf')  format('truetype');
    font-style:   normal;
    font-weight:  400;
}
@font-face {
    font-family: 'BerlingskeSans';
    src: font-url('UPSBerlingskeSans-It.eot');
    src: font-url('UPSBerlingskeSans-It.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSans-It.woff') format('woff'),
         font-url('UPSBerlingskeSans-It.woff2')format('woff2'),
         font-url('UPSBerlingskeSans-It.ttf')  format('truetype');
    font-style:   italic;
    font-weight:  400;
}
@font-face {
  font-family: 'BerlingskeSans';
  src: font-url('UPSBerlingskeSans-Bd.eot');
  src: font-url('UPSBerlingskeSans-Bd.eot?#iefix') format('embedded-opentype'),
       font-url('UPSBerlingskeSans-Bd.woff') format('woff'),
	   font-url('UPSBerlingskeSans-Bd.woff2')format('woff2'),
       font-url('UPSBerlingskeSans-Bd.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  500;
}
@font-face {
    font-family: 'BerlingskeSans';
    src: font-url('UPSBerlingskeSans-BdIt.eot');
    src: font-url('UPSBerlingskeSans-BdIt.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSans-BdIt.woff') format('woff'),
         font-url('UPSBerlingskeSans-BdIt.woff2')format('woff2'),
         font-url('UPSBerlingskeSans-BdIt.ttf')  format('truetype');
    font-style:   italic;
    font-weight:  500;
}
@font-face {
    font-family: 'BerlingskeSans';
    src: font-url('UPSBerlingskeSans-Bd.eot');
    src: font-url('UPSBerlingskeSans-Bd.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSans-Bd.woff') format('woff'),
         font-url('UPSBerlingskeSans-Bd.woff2')format('woff2'),
         font-url('UPSBerlingskeSans-Bd.ttf')  format('truetype');
    font-style:   normal;
    font-weight:  700;
}
@font-face {
    font-family: 'BerlingskeSans';
    src: font-url('UPSBerlingskeSans-BdIt.eot');
    src: font-url('UPSBerlingskeSans-BdIt.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSans-BdIt.woff') format('woff'),
         font-url('UPSBerlingskeSans-BdIt.woff2')format('woff2'),
         font-url('UPSBerlingskeSans-BdIt.ttf')  format('truetype');
    font-style:   italic;
    font-weight:  700;
}








// BerlingskeSans Bd
// ----------------------------------
@font-face {
    font-family: 'BerlingskeSans Bd';
    src: font-url('UPSBerlingskeSans-Bd.eot');
    src: font-url('UPSBerlingskeSans-Bd.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSans-Bd.woff') format('woff'),
         font-url('UPSBerlingskeSans-Bd.woff2')format('woff2'),
         font-url('UPSBerlingskeSans-Bd.ttf')  format('truetype');
    font-style:   normal;
    font-weight:  700;
}
@font-face {
    font-family: 'BerlingskeSans Bd';
    src: font-url('UPSBerlingskeSans-BdIt.eot');
    src: font-url('UPSBerlingskeSans-BdIt.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSans-BdIt.woff') format('woff'),
         font-url('UPSBerlingskeSans-BdIt.woff2')format('woff2'),
         font-url('UPSBerlingskeSans-BdIt.ttf')  format('truetype');
    font-style:   italic;
    font-weight:  700;
}





// BerlingskeSans Serif
// ----------------------------------
@font-face {
  font-family: 'BerlingskeSans Serif';
  src: font-url('UPSBerlingskeSerifTx-Rg.eot');
  src: font-url('UPSBerlingskeSerifTx-Rg.eot?#iefix') format('embedded-opentype'),
       font-url('UPSBerlingskeSerifTx-Rg.woff') format('woff'),
	   font-url('UPSBerlingskeSerifTx-Rg.woff2')format('woff2'),
       font-url('UPSBerlingskeSerifTx-Rg.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
    font-family: 'BerlingskeSans Serif';
    src: font-url('UPSBerlingskeSerifTx-It.eot');
    src: font-url('UPSBerlingskeSerifTx-It.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSerifTx-It.woff') format('woff'),
         font-url('UPSBerlingskeSerifTx-It.woff2')format('woff2'),
         font-url('UPSBerlingskeSerifTx-It.ttf')  format('truetype');
    font-style:   italic;
    font-weight:  400;
}
@font-face {
  font-family: 'BerlingskeSans Serif';
  src: font-url('UPSBerlingskeSerifTx-Bd.eot');
  src: font-url('UPSBerlingskeSerifTx-Bd.eot?#iefix') format('embedded-opentype'),
       font-url('UPSBerlingskeSerifTx-Bd.woff') format('woff'),
	   font-url('UPSBerlingskeSerifTx-Bd.woff2')format('woff2'),
       font-url('UPSBerlingskeSerifTx-Bd.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  500;
}
@font-face {
  font-family: 'BerlingskeSans Serif';
  src: font-url('UPSBerlingskeSerifTx-BdIt.eot');
  src: font-url('UPSBerlingskeSerifTx-BdIt.eot?#iefix') format('embedded-opentype'),
       font-url('UPSBerlingskeSerifTx-BdIt.woff') format('woff'),
	   font-url('UPSBerlingskeSerifTx-BdIt.woff2')format('woff2'),
       font-url('UPSBerlingskeSerifTx-BdIt.ttf')  format('truetype');
  font-style:   italic;
  font-weight:  500;
}
@font-face {
    font-family: 'BerlingskeSans Serif';
    src: font-url('UPSBerlingskeSerifTx-Bd.eot');
    src: font-url('UPSBerlingskeSerifTx-Bd.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSerifTx-Bd.woff') format('woff'),
         font-url('UPSBerlingskeSerifTx-Bd.woff2')format('woff2'),
         font-url('UPSBerlingskeSerifTx-Bd.ttf')  format('truetype');
    font-style:   normal;
    font-weight:  700;
}
@font-face {
    font-family: 'BerlingskeSans Serif';
    src: font-url('UPSBerlingskeSerifTx-BdIt.eot');
    src: font-url('UPSBerlingskeSerifTx-BdIt.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSerifTx-BdIt.woff') format('woff'),
         font-url('UPSBerlingskeSerifTx-BdIt.woff2')format('woff2'),
         font-url('UPSBerlingskeSerifTx-BdIt.ttf')  format('truetype');
    font-style:   italic;
    font-weight:  700;
}





// BerlingskeSans Serif Bd
// ----------------------------------
@font-face {
    font-family: 'BerlingskeSans Serif Bd';
    src: font-url('UPSBerlingskeSerifTx-Bd.eot');
    src: font-url('UPSBerlingskeSerifTx-Bd.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSerifTx-Bd.woff') format('woff'),
         font-url('UPSBerlingskeSerifTx-Bd.woff2')format('woff2'),
         font-url('UPSBerlingskeSerifTx-Bd.ttf')  format('truetype');
    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'BerlingskeSans Serif Bd';
    src: font-url('UPSBerlingskeSerifTx-BdIt.eot');
    src: font-url('UPSBerlingskeSerifTx-BdIt.eot?#iefix') format('embedded-opentype'),
         font-url('UPSBerlingskeSerifTx-BdIt.woff') format('woff'),
         font-url('UPSBerlingskeSerifTx-BdIt.woff2')format('woff2'),
         font-url('UPSBerlingskeSerifTx-BdIt.ttf')  format('truetype');
    font-style:   italic;
    font-weight:  700;
}
