// ----------------------------------
// FONTS
// ----------------------------------

//$sans-fallback  : Tahoma, helvetica, arial, sans-serif;
//$sans           : "UPSSans", $sans-fallback;
//$sans-med       : "UPSSans Medium", $sans-fallback;
//$sans-cond      : "UPSSans Cond", $sans, $sans-fallback;
//$serif-fallback : Georgia, Times, serif;
//$serif          : $serif-fallback;

// ----------------------------------
// UPS Sans -------------------------

@font-face {
    font-family: 'UPSSans';
    src: font-url('UPSSans-Bold.eot');
    src: font-url('UPSSans-Bold.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-Bold.woff') format('woff'),
         font-url('UPSSans-Bold.ttf')  format('truetype'),
         font-url('UPSSans-Bold.svg#d3e7b7fc46d8faaf59c25d303032500b') format('svg');
    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'UPSSans Cond';
    src: font-url('UPSSans-BoldCond.eot');
    src: font-url('UPSSans-BoldCond.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-BoldCond.woff') format('woff'),
         font-url('UPSSans-BoldCond.ttf')  format('truetype'),
         font-url('UPSSans-BoldCond.svg#c8983c763d430b2bac53c98352f17198') format('svg');
    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'UPSSans Cond';
    src: font-url('UPSSans-BoldCondItalic.eot');
    src: font-url('UPSSans-BoldCondItalic.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-BoldCondItalic.woff') format('woff'),
         font-url('UPSSans-BoldCondItalic.ttf')  format('truetype'),
         font-url('UPSSans-BoldCondItalic.svg#ad8664319fd29f88d5e0dd8cc01aef7b') format('svg');
    font-style:   italic;
    font-weight:  700;
}

@font-face {
    font-family: 'UPSSans';
    src: font-url('UPSSans-BoldItalic.eot');
    src: font-url('UPSSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-BoldItalic.woff') format('woff'),
         font-url('UPSSans-BoldItalic.ttf')  format('truetype'),
         font-url('UPSSans-BoldItalic.svg#372f6df4acee9144aea2076bc8613b33') format('svg');
    font-style:   italic;
    font-weight:  700;
}

@font-face {
    font-family: 'UPSSans Cond';
    src: font-url('UPSSans-Cond.eot');
    src: font-url('UPSSans-Cond.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-Cond.woff') format('woff'),
         font-url('UPSSans-Cond.ttf')  format('truetype'),
         font-url('UPSSans-Cond.svg#844bc3a4b77e91ddce033b1e863dbe6c') format('svg');
    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'UPSSans Cond';
    src: font-url('UPSSans-CondItalic.eot');
    src: font-url('UPSSans-CondItalic.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-CondItalic.woff') format('woff'),
         font-url('UPSSans-CondItalic.ttf')  format('truetype'),
         font-url('UPSSans-CondItalic.svg#9d066fe5a8ae83eaf2847cf8722b9b4e') format('svg');
    font-style:   italic;
    font-weight:  400;
}

@font-face {
    font-family: 'UPSSans Extra Bold';
    src: font-url('UPSSans-ExtraBold.eot');
    src: font-url('UPSSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-ExtraBold.woff') format('woff'),
         font-url('UPSSans-ExtraBold.ttf')  format('truetype'),
         font-url('UPSSans-ExtraBold.svg#4b93e034867545e542fcfe8d525dd7d4') format('svg');
    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'UPSSans Extra Bold Ext';
    src: font-url('UPSSans-ExtraBoldExt.eot');
    src: font-url('UPSSans-ExtraBoldExt.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-ExtraBoldExt.woff') format('woff'),
         font-url('UPSSans-ExtraBoldExt.ttf')  format('truetype'),
         font-url('UPSSans-ExtraBoldExt.svg#775297c82541e6a24b33f5c001df6330') format('svg');
    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'UPSSans Extra Bold Ext';
    src: font-url('UPSSans-ExtraBoldExtItalic.eot');
    src: font-url('UPSSans-ExtraBoldExtItalic.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-ExtraBoldExtItalic.woff') format('woff'),
         font-url('UPSSans-ExtraBoldExtItalic.ttf')  format('truetype'),
         font-url('UPSSans-ExtraBoldExtItalic.svg#1f74d5e868a5614da46ebc66ffe2ffbf') format('svg');
    font-style:   italic;
    font-weight:  700;
}

@font-face {
    font-family: 'UPSSans Extra Bold';
    src: font-url('UPSSans-ExtraBoldItalic.eot');
    src: font-url('UPSSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-ExtraBoldItalic.woff') format('woff'),
         font-url('UPSSans-ExtraBoldItalic.ttf')  format('truetype'),
         font-url('UPSSans-ExtraBoldItalic.svg#9fbeef6ec89b3b2e9f5b691665ebaae6') format('svg');
    font-style:   italic;
    font-weight:  700;
}

@font-face {
    font-family: 'UPSSans';
    src: font-url('UPSSans-Italic.eot');
    src: font-url('UPSSans-Italic.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-Italic.woff') format('woff'),
         font-url('UPSSans-Italic.ttf')  format('truetype'),
         font-url('UPSSans-Italic.svg#ea18780ab7d63f95bffc0812abda4569') format('svg');
    font-style:   italic;
    font-weight:  400;
}

@font-face {
    font-family: 'UPSSans Medium';
    src: font-url('UPSSans-Medium.eot');
    src: font-url('UPSSans-Medium.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-Medium.woff') format('woff'),
         font-url('UPSSans-Medium.ttf')  format('truetype'),
         font-url('UPSSans-Medium.svg#22d17e0ff49518f0d37b93e417b5716d') format('svg');
    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'UPSSans Medium Cond';
    src: font-url('UPSSans-MediumCond.eot');
    src: font-url('UPSSans-MediumCond.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-MediumCond.woff') format('woff'),
         font-url('UPSSans-MediumCond.ttf')  format('truetype'),
         font-url('UPSSans-MediumCond.svg#49bf28d4c81b088a75fc19a7abe8183e') format('svg');
    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'UPSSans Medium Cond';
    src: font-url('UPSSans-MediumCondItalic.eot');
    src: font-url('UPSSans-MediumCondItalic.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-MediumCondItalic.woff') format('woff'),
         font-url('UPSSans-MediumCondItalic.ttf')  format('truetype'),
         font-url('UPSSans-MediumCondItalic.svg#2b1ce6cdce2832ce300dfdeb8e7b7382') format('svg');
    font-style:   italic;
    font-weight:  400;
}

@font-face {
    font-family: 'UPSSans Medium';
    src: font-url('UPSSans-MediumItalic.eot');
    src: font-url('UPSSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-MediumItalic.woff') format('woff'),
         font-url('UPSSans-MediumItalic.ttf')  format('truetype'),
         font-url('UPSSans-MediumItalic.svg#61bc99508df0252c1c89308e07bc7888') format('svg');
    font-style:   italic;
    font-weight:  400;
}

@font-face {
    font-family: 'UPSSans';
    src: font-url('UPSSans-Regular.eot');
    src: font-url('UPSSans-Regular.eot?#iefix') format('embedded-opentype'),
         font-url('UPSSans-Regular.woff') format('woff'),
         font-url('UPSSans-Regular.ttf')  format('truetype'),
         font-url('UPSSans-Regular.svg#45ec83dd1386437a6e59d75961406ae7') format('svg');
    font-style:   normal;
    font-weight:  400;
}

// @font-face {
//     font-family: 'GuardianEgyp';
//     src: font-url('GuardianEgyp-Light.eot');
//     src: font-url('GuardianEgyp-Light.eot?#iefix') format('embedded-opentype'),
//          font-url('GuardianEgyp-Light.woff') format('woff'),
//          font-url('GuardianEgyp-Light.ttf') format('truetype'),
//          font-url('GuardianEgyp-Light.svg') format('svg');
//     font-style: normal;
//     font-weight: 400;
// }

// @font-face {
//     font-family: 'GuardianEgyp';
//     src: font-url('GuardianEgyp-Regular.eot');
//     src: font-url('GuardianEgyp-Regular.eot?#iefix') format('embedded-opentype'),
//          font-url('GuardianEgyp-Regular.woff') format('woff'),
//          font-url('GuardianEgyp-Regular.ttf') format('truetype'),
//          font-url('GuardianEgyp-Regular.svg') format('svg');
//     font-style: normal;
//     font-weight: 500;
// }

