// ----------------------------------------------------
// VARIABLES
// ----------------------------------------------------

@import "compass/css3";
@import "compass/utilities";

// MEASURES
// ----------------------------------

// Transition Variables
$main-transition-speed: 0.2s;

// Header Vars
$head_hgt:          140px;
$head_line:         8px;

$head_hgt_md:       100px;
$head_line_md:      7px;

$head_hgt_sm:       82px;
$head_line_sm:      6px;

$offCanvas_dur:     0.15s;
$offCanvas_close:   64px;

// Side Margins of Page
$page-margin:       60px;
$page-margin-sm:    20px;

// Alerts Bar
$alerts_hgt:        42px;

$aside-width:       320px;


// LTR/RTL DIRECTIONS
// ----------------------------------
$default-float:         left  !default;
$opposite-direction:    right !default;

@if $text-direction == ltr {
    $default-float:         left;
    $opposite-direction:    right;
} @else {
    $default-float:         right;
    $opposite-direction:    left;
}


// CUSTOM BREAKPOINTS
// ----------------------------------
$screen-mdMid:      840px;


// GRID LAYOUT
// ----------------------------------
$margin_1:   60px;   // margin between components
$margin_2:   45px;   // margin from ‘main header’ of component
$margin_3:   30px;   // margin between items that are separate in body
$margin_4:   15px;   // margin between items that are linked together
$margin_5:   5px;    // margin between internal items and their ‘sub-header’, like an input and its label.
$margin_0:   0px;	 // margin between internal items and their ‘sub-header’, like an input and its label.

// BORDER RADIUS
// ----------------------------------
$border_radius:	25px;

// HEIGHTS
// ----------------------------------

// Scroll Areas (.ups-text_scroll)
$max_ht_sm: 120px;
$max_ht_md: 150px;
$max_ht_lg: 180px;


// COLORS
// ----------------------------------
// * AA Contrast Compliant as Background w/ White Text

$ups_brown  : #351c15;  // UPS Brown *
$ups_gold   : #ffb500;  // UPS Gold
$ups_gold_light  : #ffda80;  // UPS GoldLight
$brown_dk   : #1b0e0b;  // Dark Brown *
$brown_s4   : #46322d;  // Brown Shade 4 *
$brown_s3   : #573616;  // Brown Shade 3 *
$brown_s1   : #795a40;  // Brown Shade 1 *

$sand_s2    : #c3a282;  // Sand Shade 2 *
$ups_sand   : #e1c8b0;  // UPS Sand
$sand_60    : #edded0;  // Sand 60%
$sand_40    : #f3e9df;  // Sand 40%

$gold_60    : #ffd366;  // Gold 60%
$gold_40    : #ffe199;  // Gold 40%

$white      : #fff;     // White
$black      : #000;     // Black *
$red        : #c91a13;  // Red - Error Only *

$black_s5   : #333333;  // Black Shade 5 *
$black_s4   : #242424;  // Black Shade 4 *
$black_s3   : #404040;  // Black Shade 3 *
$black_s1   : #6e6e6e;  // Black Shade 1 *

$ups_stone  : #d9d9d6;  // UPS Stone
$stone_s3   : #bebebe;  // Stone Shade 3 *
$stone_60   : #e8e8e6;  // Stone 60%
$stone_40   : #f0f0ef;  // Stone 40%

$ups_grass  : #64a70b;  // UPS Grass
$grass_s3   : #357715;  // Grass Shade 3 *
$grass_60   : #a2ca6d;  // Grass 60%

$ups_water  : #40c1ac;  // UPS Water
$water_s3   : #008369;  // Water Shade 3 *
$water_60   : #8cdacd;  // Water 60%

$ups_sky    : #009cbd;  // UPS Sky
$sky_s3     : #187ca2;  // Sky Shade 3 *
$sky_60     : #66c4d7;  // Sky 60%

$ups_sun    : #f68b20;  // UPS Sun
$sun_s3     : #e45321;  // Sun Shade 3
$sun_60     : #f4b966;  // Sun 60%

$facebook   : #3b5998;
$google     : #d03324;
$linkedin   : #008bc2;
$twitter    : #00bbf1;


// FONTS
// ----------------------------------
$sans-fallback  : Tahoma, helvetica, arial, sans-serif;
$sans           : "BerlingskeSans", $sans-fallback;
$sans-bd        : "BerlingskeSans Bd", $sans-fallback;
$serif-fallback : Georgia, Times, serif;
$serif          : "BerlingskeSans Serif", $serif-fallback;
$serif-bd       : "BerlingskeSans Serif Bd", $serif-fallback;
$icon-family    : "upsicons";


// Z-INDEX
// ----------------------------------
$zTop       : 100;
$zMid       : 50;
$zQtr       : 25;

// FORMS
// -----------------------------------
$dropdown-margin_bottom: 5px;
// font-size
$standard_font :12px;
$large_font :16px;
