---
title: ct1_shi_itl_har(2cod)_pro(1sav)
layout: legacy.hbs
version: v4
appID: com.ups.taApp
appCSS: ups.legacy_overrideTAWebApp
dir: rtl
lang: ar
---

		<!-- /main begin -->
		<div id="main">
			{{>"ct1_shi_itl_har(2cod)_pro(1sav)_partial"}}
		</div>
		<!-- /main end -->
