---
title: ct1_tra_qvm_jav(1err)
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main">
  <h1>Quantum View Manage</h1>
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" class="mod" style="width:100%;">
			<tr>
				<th><div>
						<h2>Error - Quantum View Manage</h2>
						<div style="clear:both;"></div>
					</div></th>
			</tr>
			<tr>
				<td>
					<div class="introMod">
						<p class="error">&gt;&gt;&gt; You must have javascript installed to use Quantum View Manage.</p>
					</div>
					<div class="modFlex">
						<div class="modContent">
							<fieldset>
							<legend>Access Quantum View Manage</legend>
							<p>To access Quantum View Manage, follow these steps:</p>
							<table cellspacing="0" cellpadding="0" border="0">
							<tr valign="top">
							<td><label>Step 1:</label>&nbsp;</td>
							<td><p>Enable javascript in your browser.</p>
							<ul>
							<li>For IE, go to Tools/Internet Options and adjust your Security settings.</li>
							<li>For Firefox, go to Tools/Options, select the Content tab, and select Enable Javascript.</li>
							<li>For other browsers, check the Help menu in the browser for sepcific instructions on how to enable javascript.</li>
							</ul>
							</td>
							</tr>
							<tr valign="top">
							<td><label>Step 2:</label>&nbsp;</td>
							<td><p>Return to UPS.com and log-in.</p></td>
							</tr>
							<tr valign="top">
							<td><label>Step 3:</label>&nbsp;</td>
							<td><p>Click Track/Quantum View Manage to view your shipment data.</p></td>
							</tr>
							</table>

							</fieldset>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</form>
</div>
