---
title: ct1_tra_qvm_thi(3lan)
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main" class="pop">
<table border="0" cellpadding="0" cellspacing="0" width="566" class="popHead">
			<tr valign="middle">
				<td><img alt="UPS" border="0" src="/img/glo_ups_brandmark_pfv.gif"></td>
				<td><h1>Quantum View Manage Notification</h1></td>
			</tr>
		</table>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<th><div class="head-col4">
					<h2>Shipment Detail</h2>
				</div></th>
		</tr>
		<tr>
			<td><div class="modFlex">
					<div class="modContent">
						<fieldset>
						<legend>Shipment Details</legend>
						<div class="outHozFixed2">
							<dl>
								<dt>
									<label>Tracking Number:</label>
								</dt>
								<dd>1Z06X3410291034971</dd>
								<dt>
									<label>Alternate Tracking Number:</label>
								</dt>
								<dd>1Z06X3410291044443</dd>
								<dt>
									<label>Status:</label>
								</dt>
								<dd><strong>Delivered</strong></dd>
								<dt>
									<label>Signed By:</label>
								</dt>
								<dd>Rivers</dd>
								<dt>
									<label>Returned To:</label>
								</dt>
								<dd>John Smith<br>
									UPS Innoplex eSolutions<br>
									2010 Warsaw Road<br>
									Roswell, GA, US<br>
									30076</dd>
								<dt>
									<label>Returned on:</label>
								</dt>
								<dd>01/31/2007, 10:15 A.M.</dd>
								<dt>
									<label>Delivery Location:</label>
								</dt>
								<dd>Front Porch</dd>
								<dt>
									<label>Scheduled Delivery Date:</label>
								</dt>
								<dd>01/31/2007</dd>
								<dt>
									<label>Type:</label>
								</dt>
								<dd>Package</dd>
								<dt>
									<label>Service:</label>
								</dt>
								<dd>UPS Ground</dd>
								<dt>
									<label>Weight:</label>
								</dt>
								<dd>25.00 LBS</dd>
								<dt>
									<label>C.O.D. Amount Collected:</label>
								</dt>
								<dd>45.00 USD</dd>
								<dt>
									<label>C.O.D. Amount Due:</label>
								</dt>
								<dd>45.00 USD</dd>
								<dt>
									<label>Description of Goods:</label>
								</dt>
								<dd>No</dd>
								<dt>
									<label>Saturday Delivery:</label>
								</dt>
								<dd>No</dd>
							</dl>
						</div>
						</fieldset>
					</div>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">Address Information</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>Address Details</legend>
					<div class="stepModContent">
						<dl class="flexFirst">
							<dt>
								<label>Shipped From:</label>
							</dt>
							<dd>John Smith<br>
								UPS Innoplex eSolutions<br>
								2010 Warsaw Road<br>
								Roswell, GA, US<br>
								30076</dd>
						</dl>
						<dl class="flexAfter">
							<dt>
								<label>Shipped To:</label>
							</dt>
							<dd>Kim Young<br>
								Logistics Solutions, Inc.<br>
								2135 Espey Court<br>
								Suite One<br>
								Crofton, MD, US<br>
								21114<br>
								Telephone: 1-410-793-0709</dd>
						</dl>
						<dl class="flexAfter">
							<dt>
								<label>Returned To:</label>
							</dt>
							<dd>John Smith<br>
								UPS Innoplex eSolutions<br>
								2010 Warsaw Road<br>
								Roswell, GA, US<br>
								30076</dd>
						</dl>
					</div>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep"> Additional Shipment Information</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>Shipment Details</legend>
					<div class="stepModContent">
						<div class="outHozFixed2">
							<dl>
								<dt>
									<label>Declared Value:</label>
								</dt>
								<dd>No</dd>
								<dt>
									<label>Document</label>
								</dt>
								<dd>Yes</dd>
								<dt>
									<label>Hazardous Materials:</label>
								</dt>
								<dd>Yes</dd>
								<dt>
									<label>Number of Pieces:</label>
								</dt>
								<dd>1</dd>
								<dt>
									<label>Shipment Reference 1:</label>
								</dt>
								<dd>2010849932 - Bill of Lading</dd>
							</dl>
						</div>
						<div style="clear:both;"></div>
					</div>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">Packages in this Shipment</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>Package Details</legend>
					<p>The table below displays all associated packages for this multi-piece shipment. Select a tracking number to view the details for a package.</p>
					<table cellspacing="0" cellpadding="0" border="0" class="dataTable">
						<tr>
							<th>Tracking Number</th>
							<th>Reference</th>
							<th>Status</th>
							<th>Manifest Date</th>
							<th>Scheduled Delivery Date</th>
							<th>Service</th>
							<th>Weight</th>
						</tr>
						<tr class="odd">
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr>
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr class="odd">
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr>
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr class="odd">
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr>
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr class="odd">
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr>
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
					</table>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">Consolidated Shipments</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>Consolidated Shipment Details</legend>
					<p>The table below displays all associated shipments for this Trade Direct consolidated movement. Select a tracking number to view the details for a shipment.</p>
					<table cellspacing="0" cellpadding="0" border="0" class="dataTable">
						<tr>
							<th>Tracking Number</th>
							<th>Reference</th>
							<th>Status</th>
							<th>Manifest Date</th>
							<th>Scheduled Delivery Date</th>
							<th>Service</th>
							<th>Weight</th>
						</tr>
						<tr class="odd">
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr>
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr class="odd">
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr>
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr class="odd">
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr>
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr class="odd">
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
						<tr>
							<td>1Z07000E0199142059</td>
							<td>VALUE - TYPE</td>
							<td>VALUE</td>
							<td>mm/dd/yyyy</td>
							<td>mm/dd/yyyy</td>
							<td>VALUE</td>
							<td>nn lbs</td>
						</tr>
					</table>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">Shipment Progress</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>Progress Details</legend>
					<table cellspacing="0" cellpadding="0" border="0" class="dataTable">
						<tr>
							<th>Location</th>
							<th>Date</th>
							<th>Local Time</th>
							<th>Description</th>
						</tr>
						<tr class="odd">
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr>
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr class="odd">
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr>
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr class="odd">
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr>
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr class="odd">
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr>
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
					</table>
					<p>Tracking results provided by UPS 07/09/2008 12:55 P.M. ET</p>
					</fieldset>
				</div></td>
		</tr>
	</table>
</div>
