---
title: ct1_tra_aqv_cva(1irr)
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th>
					<div align="left">
						<h2>Quantum View Manage</h2>
					</div></th>
			</tr>
			<tr>
				<td>

					<div class="modFlex">

						<div class="modContent">
						<h4>invaild report request.</h4>
						<p>the custom view report that you are trying to access is not available.</p>
						</div>
					</div></td>
			</tr>

		</table>
	</form>
</div>
