---
title: ct1_tra_aqv_inb(2b3p)_fax
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main">
	<table border="0" cellpadding="0" cellspacing="0" class="popHead full">
		<tr valign="middle">
			<td><img alt="UPS" border="0" src="/img/glo_ups_brandmark_pfv.gif"></td>
			<td><h1>fax cover page</h1></td>
			<td>
				<table align="right" style="text-align:right">
					<tr>
						<td>fax to:</td>
					</tr>
					<tr>
						<td><strong>n-nnn-nnn-nnnn (xxxx)</strong></td>
					</tr>
					<tr>
						<td>month dd, yyyy hh:mm am/pm</td>
					</tr>
				</table>
		</tr>
	</table>
	<hr>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>

					<div class="modFlex">
							<div class="modContent">
									<fieldset>
									<legend>facsimile details</legend>

											<table width="100%">
												<tr>
													<td width="200" style="vertical-align:top;"><label for="">company</label>:</td>
													<td>
														<table style="vertical-align:top">
															<tr><td>{company name}</td></tr>
															<tr><td>{user name}</td></tr>
															<tr><td>{e-mail address}</td></tr>
														</table>
													</td>
												</tr>
												<tr>
													<td width="100" style="vertical-align:top;"><label for="">account number(s)</label>:</td>
													<td>
														<table style="vertical-align:top; font-size:8pt">
															<tr>
																<td style="font-size:8pt">
																1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 																						1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, 1Z06X3410291034971, etc.</td></tr>
														</table>
													</td>
												</tr>
												<tr>
													<td width="200" style="vertical-align:top;"><label for="">reason for contact</label>:</td>
													<td>
														<table style="vertical-align:top">
															<tr><td><p>paragraph text.</p></td></tr>
														</table>
													</td>
												</tr>
												<tr>
													<td width="200" style="vertical-align:top;"><label for="">message</label>:</td>
													<td>
														<table style="vertical-align:top">
															<tr><td><p>paragraph text.</p></td></tr>
														</table>
													</td>
												</tr>
											</table>
											<hr>
											<p>copyright&copy; 1994-2010 united parcel service of america, inc. all rights reserved.

									</fieldset>
							</div>
					</div>

			</td>
		</tr>
	</table>
</div>
