---
title: ct1_tra_qvm_dlg_notifications_v2
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<link rel="stylesheet" href="/stylesheets/jan11/du_qvm.css" type="text/css" media="screen">

<script type="text/javascript">
function limitText(whichField, maxLen) {
	if (whichField.value.length > maxLen) {
		whichField.value = whichField.value.substring(0, maxLen);
	}
}
</script>

<!-- background is set to help represent the visual created by a lightbox -->

<!--
NOTE: the maximum modal dialog size is 960px wide x 960px tall, and minimum modal dialog size of 240px x 240px
as set by UPS Brand Group must be set by the container which hosts this page.  Size constraints set within this
html are set for demonstration purposes only. Width and height should be variable.
-->
<!-- MODAL -->
<div align="center">
<!-- Alignment & size should be set by Modal -->
<div class="" style="width:740px; height:595px; overflow:auto;">
<!-- Modal size should be variable - width and height in the html document are for visual presentation purposes only. -->
<!-- Size show in ICDev (740x595) represents the minimum size US English can be displayed in this example without the need of scroll bars -->
<!-- MODAL -->
<!-- Begin Module -->

<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
			<tr>
				<th><div>
						<h2>Quantum View Notify &reg;</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div>
					</div></th>
			</tr>
			<tr>
				<td><div class="introMod">
						<p>E-mail this shipment detail page to up to five recipients. UPS can also notify you via e-mail when this shipment is delivered or if an <a href="repl_href">exception<span class="btnlnkR helpicon"><img alt="" border="0" height="12" src="/img/1.gif" width="12"></span></a>  occurs. Required fields are indicated with<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">.</p>
					</div>
					<div class="modFlex">
						<div class="modContent">
							<fieldset>
							<legend>Notifications Form</legend>
							<table width="100%" cellspacing="0" cellpadding="0" border="0" class="dataTable">
								<tbody>
									<tr>
										<th scope="col"><label>Recipient E-mail:<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></label></th>
										<th scope="col"><label>Country or Territory and Language:</label></th>
										<th scope="col"><label>Current Status</label></th>
										<th scope="col"><label>Exception</label></th>
										<th scope="col"><label>Delivery</label></th>
									</tr>
									<tr class="odd">
										<td><input type="text" size="32" name=""></td>
										<td><select name="">
														<option>Australia - English</option>
														<option>Austria - English</option>
														<option>Belgium - Dutch</option>
														<option>Belgium - English</option>
														<option>Belgium - French</option>
														<option>Brazil - English</option>
														<option>Brazil - Portuguese</option>
														<option>Canada - English</option>
														<option>Canada - French</option>
														<option>China - Chinese</option>
														<option>China - English</option>
														<option>Czech Republic - Czech</option>
														<option>Czech Republic - English</option>
														<option>Denmark - Danish</option>
														<option>Denmark - English</option>
														<option>Finland - English</option>
														<option>France - English</option>
														<option>France - French</option>
														<option>Germany - English</option>
														<option>Germany - German</option>
														<option>Hong Kong - Chinese</option>
														<option>Hong Kong - English</option>
														<option>Hungary - English</option>
														<option>Hungary - Hungarian</option>
														<option>India - English</option>
														<option>Ireland (Republic of) - English</option>
														<option>Italy - English</option>
														<option>Italy - Italian</option>
														<option>Japan - English</option>
														<option>Japan - Japanese</option>
														<option>Malaysia - English</option>
														<option>Mexico - English</option>
														<option>Mexico - Spanish</option>
														<option>Netherlands - Dutch</option>
														<option>Netherlands - English</option>
														<option>Norway - English</option>
														<option>Norway - Norwegian</option>
														<option>Philippines - English</option>
														<option>Poland - English</option>
														<option>Poland - Polish</option>
														<option>Portugal - English</option>
														<option>Portugal - Portuguese</option>
														<option>Puerto Rico - English</option>
														<option>Puerto Rico - Spanish</option>
														<option>Romania - English</option>
														<option>Romania - Romanian</option>
														<option>Russia - English</option>
														<option>Russia - Russian</option>
														<option>Singapore - English</option>
														<option>South Korea - English</option>
														<option>South Korea - Korean</option>
														<option>Spain - English</option>
														<option>Spain - Spanish</option>
														<option>Sweden - English</option>
														<option>Sweden - Swedish</option>
														<option>Switzerland - English</option>
														<option>Switzerland - French</option>
														<option>Switzerland - German</option>
														<option>Taiwan - Chinese</option>
														<option>Taiwan - English</option>
														<option>Thailand - English</option>
														<option>Turkey - English</option>
														<option>Turkey - Turkish</option>
														<option>United Kingdom - English</option>
														<option selected>United States - English</option>
													</select>
												</td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
									</tr>
									<tr>
										<td><input type="text" size="32" name=""></td>
										<td><select name="">
														<option>Australia - English</option>
														<option>Austria - English</option>
														<option>Belgium - Dutch</option>
														<option>Belgium - English</option>
														<option>Belgium - French</option>
														<option>Brazil - English</option>
														<option>Brazil - Portuguese</option>
														<option>Canada - English</option>
														<option>Canada - French</option>
														<option>China - Chinese</option>
														<option>China - English</option>
														<option>Czech Republic - Czech</option>
														<option>Czech Republic - English</option>
														<option>Denmark - Danish</option>
														<option>Denmark - English</option>
														<option>Finland - English</option>
														<option>France - English</option>
														<option>France - French</option>
														<option>Germany - English</option>
														<option>Germany - German</option>
														<option>Hong Kong - Chinese</option>
														<option>Hong Kong - English</option>
														<option>Hungary - English</option>
														<option>Hungary - Hungarian</option>
														<option>India - English</option>
														<option>Ireland (Republic of) - English</option>
														<option>Italy - English</option>
														<option>Italy - Italian</option>
														<option>Japan - English</option>
														<option>Japan - Japanese</option>
														<option>Malaysia - English</option>
														<option>Mexico - English</option>
														<option>Mexico - Spanish</option>
														<option>Netherlands - Dutch</option>
														<option>Netherlands - English</option>
														<option>Norway - English</option>
														<option>Norway - Norwegian</option>
														<option>Philippines - English</option>
														<option>Poland - English</option>
														<option>Poland - Polish</option>
														<option>Portugal - English</option>
														<option>Portugal - Portuguese</option>
														<option>Puerto Rico - English</option>
														<option>Puerto Rico - Spanish</option>
														<option>Romania - English</option>
														<option>Romania - Romanian</option>
														<option>Russia - English</option>
														<option>Russia - Russian</option>
														<option>Singapore - English</option>
														<option>South Korea - English</option>
														<option>South Korea - Korean</option>
														<option>Spain - English</option>
														<option>Spain - Spanish</option>
														<option>Sweden - English</option>
														<option>Sweden - Swedish</option>
														<option>Switzerland - English</option>
														<option>Switzerland - French</option>
														<option>Switzerland - German</option>
														<option>Taiwan - Chinese</option>
														<option>Taiwan - English</option>
														<option>Thailand - English</option>
														<option>Turkey - English</option>
														<option>Turkey - Turkish</option>
														<option>United Kingdom - English</option>
														<option selected>United States - English</option>
													</select>
												</td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
									</tr>
									<tr class="odd">
										<td><input type="text" size="32" name=""></td>
										<td><select name="">
														<option>Australia - English</option>
														<option>Austria - English</option>
														<option>Belgium - Dutch</option>
														<option>Belgium - English</option>
														<option>Belgium - French</option>
														<option>Brazil - English</option>
														<option>Brazil - Portuguese</option>
														<option>Canada - English</option>
														<option>Canada - French</option>
														<option>China - Chinese</option>
														<option>China - English</option>
														<option>Czech Republic - Czech</option>
														<option>Czech Republic - English</option>
														<option>Denmark - Danish</option>
														<option>Denmark - English</option>
														<option>Finland - English</option>
														<option>France - English</option>
														<option>France - French</option>
														<option>Germany - English</option>
														<option>Germany - German</option>
														<option>Hong Kong - Chinese</option>
														<option>Hong Kong - English</option>
														<option>Hungary - English</option>
														<option>Hungary - Hungarian</option>
														<option>India - English</option>
														<option>Ireland (Republic of) - English</option>
														<option>Italy - English</option>
														<option>Italy - Italian</option>
														<option>Japan - English</option>
														<option>Japan - Japanese</option>
														<option>Malaysia - English</option>
														<option>Mexico - English</option>
														<option>Mexico - Spanish</option>
														<option>Netherlands - Dutch</option>
														<option>Netherlands - English</option>
														<option>Norway - English</option>
														<option>Norway - Norwegian</option>
														<option>Philippines - English</option>
														<option>Poland - English</option>
														<option>Poland - Polish</option>
														<option>Portugal - English</option>
														<option>Portugal - Portuguese</option>
														<option>Puerto Rico - English</option>
														<option>Puerto Rico - Spanish</option>
														<option>Romania - English</option>
														<option>Romania - Romanian</option>
														<option>Russia - English</option>
														<option>Russia - Russian</option>
														<option>Singapore - English</option>
														<option>South Korea - English</option>
														<option>South Korea - Korean</option>
														<option>Spain - English</option>
														<option>Spain - Spanish</option>
														<option>Sweden - English</option>
														<option>Sweden - Swedish</option>
														<option>Switzerland - English</option>
														<option>Switzerland - French</option>
														<option>Switzerland - German</option>
														<option>Taiwan - Chinese</option>
														<option>Taiwan - English</option>
														<option>Thailand - English</option>
														<option>Turkey - English</option>
														<option>Turkey - Turkish</option>
														<option>United Kingdom - English</option>
														<option selected>United States - English</option>
													</select>
												</td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
									</tr>
									<tr>
										<td><input type="text" size="32" name=""></td>
										<td><select name="">
														<option>Australia - English</option>
														<option>Austria - English</option>
														<option>Belgium - Dutch</option>
														<option>Belgium - English</option>
														<option>Belgium - French</option>
														<option>Brazil - English</option>
														<option>Brazil - Portuguese</option>
														<option>Canada - English</option>
														<option>Canada - French</option>
														<option>China - Chinese</option>
														<option>China - English</option>
														<option>Czech Republic - Czech</option>
														<option>Czech Republic - English</option>
														<option>Denmark - Danish</option>
														<option>Denmark - English</option>
														<option>Finland - English</option>
														<option>France - English</option>
														<option>France - French</option>
														<option>Germany - English</option>
														<option>Germany - German</option>
														<option>Hong Kong - Chinese</option>
														<option>Hong Kong - English</option>
														<option>Hungary - English</option>
														<option>Hungary - Hungarian</option>
														<option>India - English</option>
														<option>Ireland (Republic of) - English</option>
														<option>Italy - English</option>
														<option>Italy - Italian</option>
														<option>Japan - English</option>
														<option>Japan - Japanese</option>
														<option>Malaysia - English</option>
														<option>Mexico - English</option>
														<option>Mexico - Spanish</option>
														<option>Netherlands - Dutch</option>
														<option>Netherlands - English</option>
														<option>Norway - English</option>
														<option>Norway - Norwegian</option>
														<option>Philippines - English</option>
														<option>Poland - English</option>
														<option>Poland - Polish</option>
														<option>Portugal - English</option>
														<option>Portugal - Portuguese</option>
														<option>Puerto Rico - English</option>
														<option>Puerto Rico - Spanish</option>
														<option>Romania - English</option>
														<option>Romania - Romanian</option>
														<option>Russia - English</option>
														<option>Russia - Russian</option>
														<option>Singapore - English</option>
														<option>South Korea - English</option>
														<option>South Korea - Korean</option>
														<option>Spain - English</option>
														<option>Spain - Spanish</option>
														<option>Sweden - English</option>
														<option>Sweden - Swedish</option>
														<option>Switzerland - English</option>
														<option>Switzerland - French</option>
														<option>Switzerland - German</option>
														<option>Taiwan - Chinese</option>
														<option>Taiwan - English</option>
														<option>Thailand - English</option>
														<option>Turkey - English</option>
														<option>Turkey - Turkish</option>
														<option>United Kingdom - English</option>
														<option selected>United States - English</option>
													</select>
												</td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
									</tr>
									<tr class="odd">
										<td><input type="text" size="32" name=""></td>
										<td><select name="">
														<option>Australia - English</option>
														<option>Austria - English</option>
														<option>Belgium - Dutch</option>
														<option>Belgium - English</option>
														<option>Belgium - French</option>
														<option>Brazil - English</option>
														<option>Brazil - Portuguese</option>
														<option>Canada - English</option>
														<option>Canada - French</option>
														<option>China - Chinese</option>
														<option>China - English</option>
														<option>Czech Republic - Czech</option>
														<option>Czech Republic - English</option>
														<option>Denmark - Danish</option>
														<option>Denmark - English</option>
														<option>Finland - English</option>
														<option>France - English</option>
														<option>France - French</option>
														<option>Germany - English</option>
														<option>Germany - German</option>
														<option>Hong Kong - Chinese</option>
														<option>Hong Kong - English</option>
														<option>Hungary - English</option>
														<option>Hungary - Hungarian</option>
														<option>India - English</option>
														<option>Ireland (Republic of) - English</option>
														<option>Italy - English</option>
														<option>Italy - Italian</option>
														<option>Japan - English</option>
														<option>Japan - Japanese</option>
														<option>Malaysia - English</option>
														<option>Mexico - English</option>
														<option>Mexico - Spanish</option>
														<option>Netherlands - Dutch</option>
														<option>Netherlands - English</option>
														<option>Norway - English</option>
														<option>Norway - Norwegian</option>
														<option>Philippines - English</option>
														<option>Poland - English</option>
														<option>Poland - Polish</option>
														<option>Portugal - English</option>
														<option>Portugal - Portuguese</option>
														<option>Puerto Rico - English</option>
														<option>Puerto Rico - Spanish</option>
														<option>Romania - English</option>
														<option>Romania - Romanian</option>
														<option>Russia - English</option>
														<option>Russia - Russian</option>
														<option>Singapore - English</option>
														<option>South Korea - English</option>
														<option>South Korea - Korean</option>
														<option>Spain - English</option>
														<option>Spain - Spanish</option>
														<option>Sweden - English</option>
														<option>Sweden - Swedish</option>
														<option>Switzerland - English</option>
														<option>Switzerland - French</option>
														<option>Switzerland - German</option>
														<option>Taiwan - Chinese</option>
														<option>Taiwan - English</option>
														<option>Thailand - English</option>
														<option>Turkey - English</option>
														<option>Turkey - Turkish</option>
														<option>United Kingdom - English</option>
														<option selected>United States - English</option>
													</select>
												</td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
										<td class="marginCenter"><input type="checkbox" value="" name=""></td>
									</tr>
								</tbody>
							</table>
							<br>
							<dl>
								<dt>
									<label>Personal Message:</label>
								</dt>
								<dd>
									<textarea onKeyUp="limitText(this.form.max_length_field,150);" onKeyDown="limitText(this.form.max_length_field,150);" rows="4" cols="64" name="max_length_field" style="width: 90%;"></textarea>
									<br>
									<p class="reqTxtInst">(maximum 150 characters)</p>
								</dd>
								<dt>
									<label>Your Name:</label>
								</dt>
								<dd>
									<input type="text" name="" size="32"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
								</dd>
								<dt>
									<label>Your E-mail:</label>
								</dt>
								<dd>
									<input type="text" name="" size="32"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
								</dd>
								<dd>Note: UPS will notify you if there is a problem sending any of these e-mail notifications.</dd>
							</dl>
							</fieldset>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="btn-bar"><div class="margincenter">
						<input type="button" class="btn" value="Cancel" name="repl_name"><input type="button" class="btn" value="OK" name="repl_name">
					</div></td>
			</tr>
		</table>
	</form>
</div>

</div>
</div>
