---
title: ct1_tra_qvm_dlg_preferences
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
730x776
-->
<div style="overflow:auto;width:730px;height:776px;">
<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
			<tr>
				<th><div>
						<h2>Quantum View Manage Preferences</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
							<li><a href="javascript:void(0)"><img src="/img/icn_qmark_wht.gif" alt="Help" title="Help" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div>
					</div></th>
			</tr>
			<tr>
				<td><div class="introMod">
						<p></p>
					</div>
					<div class="stepModFlex">
						<div class="stepModContent">
							<fieldset>
							<legend>Set Preferences</legend>
							<h4>Default Tab:</h4>
							<input type="radio" name="repl_name" value="repl_value">
							Combined
							<input type="radio" name="repl_name" value="repl_value" checked="checked">
							Outbound
							<input type="radio" name="repl_name" value="repl_value">
							Inbound
							<input type="radio" name="repl_name" value="repl_value">
							Third Party
							<input type="radio" name="repl_name" value="repl_value">
							Imports
							<div class="hr"><img width="1" height="1" border="0" src="/img/1.gif" alt=""></div>
							<h4>Default View for:</h4>
							<p>If you would like Quantum View Manage to automatically remember any changes you have made to your display, choose "My View From Last Time" as the default view for a tab.</p>
							<dl>
								<dt>
									<label>Combined:</label>
								</dt>
								<dd>
									<select>
										<option value="">My View From Last Time</option>
										<option value="" selected>Default Combined View</option>
										<option value="">Combined Custom View 1</option>
										<option value="">Combined Custom View ...</option>
										<option value="">Combined Custom View n</option>
									</select>
								</dd>
								<dt>
									<label>Outbound:</label>
								</dt>
								<dd>
									<select>
										<option value="">My View From Last Time</option>
										<option value="" selected>Default Outbound View</option>
										<option value="">Outbound Custom View 1</option>
										<option value="">Outbound Custom View ...</option>
										<option value="">Outbound Custom View n</option>
									</select>
								</dd>
							</dl>
							<dl class="flexFirst">
								<dt>
									<label>Inbound:</label>
								</dt>
								<dd>
									<select>
										<option value="">My View From Last Time</option>
										<option value="" selected>Default Inbound View</option>
										<option value="">Inbound Custom View 1</option>
										<option value="">Inbound Custom View ...</option>
										<option value="">Inbound Custom View n</option>
									</select>
								</dd>
							</dl>
							<dl class="flexAfter">
								<dt>
									<label>View Inbound Summary By:</label>
								</dt>
								<dd>
									<select>
										<option value="">Location ID</option>
										<option value="" selected>Receiving Address</option>
									</select>
								</dd>
							</dl>
							<div style="clear:both;"></div>
							<dl>
								<dt>
									<label>Third Party:</label>
								</dt>
								<dd>
									<select>
										<option value="">My View From Last Time</option>
										<option value="" selected>Default Third Party View</option>
										<option value="">Third Party Custom View 1</option>
										<option value="">Third Party Custom View ...</option>
										<option value="">Third Party Custom View n</option>
									</select>
								</dd>
								<dt>
									<label>Imports:</label>
								</dt>
								<dd>
									<select>
										<option value="">My View From Last Time</option>
										<option value="" selected>Default Imports View</option>
										<option value="">Imports Custom View 1</option>
										<option value="">Imports Custom View ...</option>
										<option value="">Imports Custom View n</option>
									</select>
								</dd>
							</dl>
							<div class="hr"><img width="1" height="1" border="0" src="/img/1.gif" alt=""></div>
							<h4>
								<label> <a href="javascript:void(0)">Number of Days Available for Display&nbsp;<span class="btnlnkR helpicon"><img alt="" border="0" height="12" src="/img/1.gif" width="12"></span></a></label>
							</h4>
							<dl>
								<dt>
									<label>For Combined View:</label>
								</dt>
								<dd>
									<select>
										<option value="">1 Day</option>
										<option value="">2 Days</option>
										<option value="">3 Days</option>
										<option value="">4 Days</option>
										<option value="">5 Days</option>
										<option value="">6 Days</option>
										<option value="">7 Days</option>
										<option value="" selected>15 Days</option>
										<option value="">30 Days</option>
										<option value="">45 Days</option>
									</select>
								</dd>
								<dt>
									<label>For Outbound, Inbound, and Third Party:</label>
								</dt>
								<dd>
									<select>
										<option value="">1 Day</option>
										<option value="">2 Days</option>
										<option value="">3 Days</option>
										<option value="">4 Days</option>
										<option value="">5 Days</option>
										<option value="">6 Days</option>
										<option value="">7 Days</option>
										<option value="">15 Days</option>
										<option value="">30 Days</option>
										<option value="" selected>45 Days</option>
									</select>
								</dd>
								<dt>
									<label>For Imports:</label>
								</dt>
								<dd>
									<select>
										<option value="">1 Day</option>
										<option value="">2 Days</option>
										<option value="">3 Days</option>
										<option value="">4 Days</option>
										<option value="">5 Days</option>
										<option value="">6 Days</option>
										<option value="">7 Days</option>
										<option value="">15 Days</option>
										<option value="">30 Days</option>
										<option value="" selected>45 Days</option>
									</select>
								</dd>
							</dl>
							<div class="hr"><img width="1" height="1" border="0" src="/img/1.gif" alt=""></div>
							<dl>
								<dt>
									<label>Default Time Zone:</label>
								</dt>
								<dd>
									<select>
										<option value="" selected>(GMT) Greenwich Mean Time: Dublin, Edinburgh, Lisbon, London</option>
										<option value="">(GMT+1)</option>
										<option value="">(GMT+...)</option>
										<option value="">(GMT+12)</option>
										<option value="">(GMT-1)</option>
										<option value="">(GMT-...)</option>
										<option value="">(GMT-12)</option>
									</select>
									<p class="reqTxtInst">(Only applies to Delivery alerts)</p>
								</dd>
								<dt>
									<label>Display Weight As:</label>
								</dt>
								<dd>
									<select>
										<option value="">Kilograms (kg)</option>
										<option value="" selected>Pounds (lbs)</option>
									</select>
									<p class="reqTxtInst">(Only applies to weight displayed in inbound summary table)</p>
								</dd>
							</dl>
							</fieldset>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="btn-bar"><div class="margincenter">
						<input type="button" class="btn" value="Close" name="repl_name"><input type="button" class="btn" value="Update" name="repl_name">
					</div></td>
			</tr>
		</table>
	</form>
</div>
</div>
