---
title: ct1_tra_qvm_dlg_imports_emailanotherparty_v1
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---


<script type="text/javascript">
function limitText(whichField, maxLen) {
	if (whichField.value.length > maxLen) {
		whichField.value = whichField.value.substring(0, maxLen);
	}
}
</script>
<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
730x517
-->
<div style="overflow:auto;width:730px;height:517px;">
<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
			<tr>
				<th>
						<h2>E-mail Information to Another Party</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div>
					</th>
			</tr>
			<tr>
				<td><div class="introMod">
						<p>E-mail the shipment detail, invoice, or commodity information to up to five recipients. Required fields are indicated with <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">.</p>
					</div>
					<div class="modFlex">
						<div class="modContent">
							<fieldset>
							<legend>E-mail to Another Party Form</legend>
							<table width="100%" cellspacing="0" cellpadding="0" border="0" class="dataTable">
								<tbody>
									<tr>
										<th scope="col"><label>Recipient E-mail:</label> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></th>
										<th scope="col"><label>Language:</label></th>
										<th scope="col"><label>Shipment Detail</label></th>
										<th scope="col"><label>Invoice</label></th>
										<th scope="col"><label>Commodity</label></th>
									</tr>
									<tr class="odd">
										<td><input type="text" size="32" name="" value="loggedinuser@email.com"></td>
										<td><select>
												<option>English (US)</option>
											</select>
										</td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
									</tr>
									<tr>
										<td><input type="text" size="32" name=""></td>
										<td><select>
												<option>English (US)</option>
											</select>
										</td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
									</tr>
									<tr class="odd">
										<td><input type="text" size="32" name=""></td>
										<td><select>
												<option>English (US)</option>
											</select>
										</td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
									</tr>
									<tr>
										<td><input type="text" size="32" name=""></td>
										<td><select>
												<option>English (US)</option>
											</select>
										</td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
									</tr>
									<tr class="odd">
										<td><input type="text" size="32" name=""></td>
										<td><select>
												<option>English (US)</option>
											</select>
										</td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
										<td align="center"><input type="checkbox" value="" name=""></td>
									</tr>
								</tbody>
							</table>
							<br>
							<dl>
								<dt>
									<label>Personal Message:</label>
								</dt>
								<dd>
									<textarea onKeyUp="limitText(this.form.max_length_field,150);" onKeyDown="limitText(this.form.max_length_field,150);" rows="4" cols="64" name="max_length_field" style="width: 90%;"></textarea>
									<br>
									<p class="reqTxtInst">(maximum 150 characters)</p>
								</dd>
								<dd>
									<input type="checkbox" value="" name="" checked="checked">
									Notify me if there is a problem sending any of these e-mail notifications<br>
								</dd>
								<dd class="indent">
									<input type="text" name="" size="32" value="loggedinuser@email.com">
								</dd>
							</dl>
							</fieldset>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="btn-bar"><div class="margincenter">
						<input type="button" class="btn" value="Cancel" name="repl_name"><input type="button" class="btn" value="OK" name="repl_name">
					</div></td>
			</tr>
		</table>
	</form>
</div>
</div>
