---
title: ct1_tra_qvm_dlg_savecustom_v3
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
490x130
-->
<div style="overflow:auto;width:490px;height:130px;">
<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
			<tr>
				<th>
						<h2>Save Custom View</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
							<li><a href="javascript:void(0)"><img src="/img/icn_qmark_wht.gif" alt="Help" title="Help" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div>
					</th>
			</tr>
			<tr>
				<td><div class="modFlex">
						<div class="modContent">A custom view with that name already exists. If you want to update the existing custom view, select <strong>Update</strong>. If you want to enter a different name, select <strong>Cancel</strong>.</div>
					</div></td>
			</tr>
			<tr>
				<td class="btn-bar"><div class="margincenter">
						<input type="button" class="btn" value="Cancel" name="repl_name"><input type="button" class="btn" value="Update" name="repl_name">
					</div></td>
			</tr>
		</table>
	</form>
</div>
</div>
