---
title: ct1_tra_qvm_imp(3lan)
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main" class="pop">
<table border="0" cellpadding="0" cellspacing="0" width="566" class="popHead">
			<tr valign="middle">
				<td><img alt="UPS" border="0" src="/img/glo_ups_brandmark_pfv.gif"></td>
				<td><h1>Quantum View Manage Notification</h1></td>
			</tr>
		</table>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<th><div class="head-col4">
					<h2>Shipment Detail</h2>
				</div></th>
		</tr>
		<tr>
			<td><div class="modFlex">
					<div class="modContent">
						<fieldset>
						<legend>Shipment Details</legend>
						<div class="outHozFixed2">
							<dl>
								<dt>
									<label>Tracking Number:</label>
								</dt>
								<dd>1Z06X3410291034971</dd>
								<dt>
									<label>House Airway Bill Number:</label>
								</dt>
								<dd>H7844485937</dd>
								<dt>
									<label>Customs Control Number:</label>
								</dt>
								<dd>4775923</dd>
								<dt>
									<label>Number of Packages:</label>
								</dt>
								<dd>1</dd>
								<dt>
									<label>Shipment Total Weight:</label>
								</dt>
								<dd>16.20 KG</dd>
								<dt>
									<label>Service Level:</label>
								</dt>
								<dd>WORLDWIDE EXPRESS SAVER</dd>
								<dt>
									<label>Customs Entry Type:</label>
								</dt>
								<dd>01 - IMY</dd>
								<dt>
									<label>Duty Type:</label>
								</dt>
								<dd>01 - Dutiable</dd>
							</dl>
						</div>
						</fieldset>
					</div>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">Address Information</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>Address Details</legend>
					<div class="stepModContent">
						<dl class="flexFirst">
							<dt>
								<label>Shipped:</label>
							</dt>
							<dd>John Smith<br>
								UPS Innoplex eSolutions<br>
								2010 Warsaw Road<br>
								Roswell, GA, US<br>
								30076</dd>
						</dl>
						<dl class="flexAfter">
							<dt>
								<label>Importer of Record:</label>
							</dt>
							<dd>Kim Young<br>
								Logistics Solutions, Inc.<br>
								2135 Espey Court<br>
								Suite One<br>
								Crofton, MD, US<br>
								21114<br>
								Telephone: 1-410-793-0709</dd>
						</dl>
						<dl class="flexAfter">
							<dt>
								<label>Sold To:</label>
							</dt>
							<dd>Bandolera BV<br>
							Attn:<br>
							Cosignee No.<br>
							NL800767627B01<br>
							Heydweg 10<br>
							Swalmen<br>
							6071PT<br>
							Netherlands</dd>
						</dl>
					</div>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep"> Additional Shipment Information</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>Shipment Details</legend>
					<div class="stepModContent">
							<h4>Shipment Header</h4>
						<div class="outHozFixed2">
							<dl class="flexFirst">
								<dt>
									<label>Shipment Description:</label>
								</dt>
								<dd>100% Cotton Ladies Knitted Garments</dd>
								<dt>
									<label>Type of Goods</label>
								</dt>
								<dd>--</dd>
								<dt>
									<label>Declaration Origin of Country or Territory:</label>
								</dt>
								<dd>India</dd>
								<dt>
									<label>Export Country or Territory:</label>
								</dt>
								<dd>India</dd>
								<dt>
									<label>Reconciliation Type:</label>
								</dt>
								<dd>--</dd>
							</dl>
							<dl class="flexAfter">
								<dt>
									<label>Bill Type:</label>
								</dt>
								<dd>03 - Non-Document</dd>
								<dt>
									<label>Bill Term:</label>
								</dt>
								<dd>P/P - Prepaid</dd>
								<dt>
									<label>Broker Code:</label>
								</dt>
								<dd>237 - UPS SCS</dd>
								<dt>
									<label>Reference Number:</label>
								</dt>
								<dd>0077.26.892.00.08.25562131 - Bill of Lading</dd>
								<dt>
									<label>Bond Type:</label>
								</dt>
								<dd>--</dd>
								<dt>
									<label>Bond Number:</label>
								</dt>
								<dd>--</dd>
							</dl>

						<div style="clear:both;"></div>
						<h4>Estimated Shipment Charges</h4>

							<dl>
								<dt>
									<label>Invoice Value of Goods:</label>
								</dt>
								<dd>80.00 USD</dd>
								<dt>
									<label>Exchange Rate:</label>
								</dt>
								<dd>0.682314410</dd>
								<dt>
									<label>Declared Value:</label>
								</dt>
								<dd>54.59 EUR</dd>
								<dt>
									<label>Transportation Charges:</label>
								</dt>
								<dd>161.19 EUR</dd>
								<dt>
									<label>Total Taxes:</label>
								</dt>
								<dd>0.00</dd>
								<dt>
									<label>Total Fees Amount:</label>
								</dt>
								<dd>0.00</dd>
								<dt>
									<label>Total for Entry*:</label>
								</dt>
								<dd>15.48 EUR</dd>
							</dl>

						<p>* Total for Entry includes duties, taxes, and government fees.</p>
						<div style="clear:both;"></div>
						<h4>Milestones</h4>
							<dl class="flexFirst">
								<dt>
									<label>Ship Date:</label>
								</dt>
								<dd>03/06/2008</dd>
								<dt>
									<label>Export Date:</label>
								</dt>
								<dd>03/07/2008</dd>
								<dt>
									<label>Import Date:</label>
								</dt>
								<dd>03/10/2008</dd>
								<dt>
									<label>Entry Date:</label>
								</dt>
								<dd>03/12/2008</dd>
							</dl>
							<dl class="flexAfter">
								<dt>
									<label>Final Submission Date:</label>
								</dt>
								<dd>Not Avail.</dd>
								<dt>
									<label>Clearance Date:</label>
								</dt>
								<dd>03/07/2008</dd>
								<dt>
									<label>Release Date:</label>
								</dt>
								<dd>03/10/2008</dd>
								<dt>
									<label>Customs Payment Due Date:</label>
								</dt>
								<dd>Not Avail.</dd>
							</dl>

						</div>
						<div style="clear:both;"></div>
					</div>
					</fieldset>
				</div>

				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">Shipment Progress</h3>
						<div style="clear:both;"></div>
					</div>
					<div class="modContent">
						<div class="outHozFixed2">
							<dl>
								<dt>
									<label>Tracking Number:</label>
								</dt>
								<dd>H7833382936</dd>
								<dt>
									<label>Status:</label>
								</dt>
								<dd>View_UI_In_Transit_I</dd>
								<dt>
									<label>Number of Packages:</label>
								</dt>
								<dd>1</dd>
								<dt>
									<label>Shipped or Billed On:</label>
								</dt>
								<dd>--</dd>
							</dl>
						</div>
					</div>

					<fieldset>
					<legend>Progress Details</legend>
					<table cellspacing="0" cellpadding="0" border="0" class="dataTable">
						<tr>
							<th>Location</th>
							<th>Date</th>
							<th>Local Time</th>
							<th>Description</th>
						</tr>
						<tr class="odd">
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr>
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr class="odd">
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr>
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr class="odd">
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr>
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr class="odd">
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
						<tr>
							<td>LOCATION</td>
							<td>mm/dd/yyyy</td>
							<td>HH:MM X.M.</td>
							<td>DESCRIPTION</td>
						</tr>
					</table>
					<p>Tracking results provided by UPS 07/09/2008 12:55 P.M. ET</p>
					</fieldset>
				</div></td>
		</tr>
	</table>
</div>
