---
title: ct1_tra_qvm_(2det)_pfv_freight
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main" class="pop">
	<table border="0" cellpadding="0" cellspacing="0" width="566" class="popHead">
		<tr valign="middle">
			<td><img alt="UPS" border="0" src="/img/glo_ups_brandmark_pfv.gif"></td>
			<td><h1>{page header text}</h1></td>
		</tr>
	</table>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td><div class="modFlex">
					<div class="modContent">
						<fieldset>
						<legend>{legend text}</legend>
						<div class="outHozFixed2">
							<dl>
								<dt>
									<label>{tracking number label}:</label>
								</dt>
								<dd>{tracking number value}</dd>
								<dt>
									<label>{status label}:</label>
								</dt>
								<dd><strong>{status value}</strong></dd>
								<dt>
									<label>{shipped or billed on label}:</label>
								</dt>
								<dd>{shipped or billed on value}</dd>
								<dt>
									<label>{scheduled delivery date label}:</label>
								</dt>
								<dd>{scheduled delivery date value}</dd>
								<dt>
									<label>{type label}:</label>
								</dt>
								<dd>{type value}</dd>
								<dt>
									<label>{product label}:</label>
								</dt>
								<dd>{product value}</dd>
								<dt>
									<label>{service label}:</label>
								</dt>
								<dd>{service value}</dd>
								<dt>
									<label>{weight label}:</label>
								</dt>
								<dd>{weight value}</dd>
								<dt>
									<label>{description of goods label}:</label>
								</dt>
								<dd>{description of goods value}</dd>
								<dt>
									<label>{saturday delivery label}:</label>
								</dt>
								<dd>{saturday delivery value}</dd>
							</dl>
						</div>
						</fieldset>
					</div>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">{address information header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>{legend text}</legend>
					<div class="stepModContent">
						<dl class="flexFirst">
							<dt>
								<label>{shipped from label}:</label>
							</dt>
							<dd> M. Tullius Cicero <br>
								Lorem Ipsum Dolor <br>
								MMX Sit Amet <br>
								Consectetuer, Adipiscing XLV <br>
								IT <br>
								Lorem: MCCXXXIV<br>
								Tristique: DLV-CXXIII-MMMMDLXVII</dd>
						</dl>
						<dl class="flexAfter">
							<dt>
								<label>{shipped to label}:</label>
							</dt>
							<dd> M. Tullius Cicero <br>
								Lorem Ipsum Dolor <br>
								MMX Sit Amet <br>
								Consectetuer, Adipiscing XLV <br>
								IT <br>
								Lorem: MCCXXXIV<br>
								Tristique: DLV-CXXIII-MMMMDLXVII</dd>
						</dl>
						<dl class="flexAfter">
							<dt>
								<label>{bill to label}:</label>
							</dt>
							<dd> M. Tullius Cicero <br>
								Lorem Ipsum Dolor <br>
								MMX Sit Amet <br>
								Consectetuer, Adipiscing XLV <br>
								IT <br>
								Lorem: MCCXXXIV<br>
								Tristique: DLV-CXXIII-MMMMDLXVII</dd>
						</dl>
					</div>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">{billing information header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>{legend text}</legend>
					<div class="stepModContent">
						<div class="outHozFixed2">
							<dl>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
							</dl>
						</div>
						<div style="clear:both;"></div>
					</div>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">{additional shipment information header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>{legend text}</legend>
					<div class="stepModContent">
						<div class="outHozFixed2">
							<dl>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
							</dl>
						</div>
						<div style="clear:both;"></div>
					</div>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">{voyage information header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>{legend text}</legend>
					<div class="stepModContent">
						<div class="outHozFixed2">
							<dl>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
								<dt>
									<label>{label}:</label>
								</dt>
								<dd>{value}</dd>
							</dl>
						</div>
					</div>
					<table cellspacing="0" cellpadding="0" border="0" class="dataTable">
						<tr>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
						</tr>
						<tr class="odd">
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
					</table>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">{shipment progress header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>{legend text}</legend>
					<div class="stepModContent"> </div>
					<table cellspacing="0" cellpadding="0" border="0" class="dataTable">
						<tr>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
						</tr>
						<tr class="odd">
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr class="odd">
							<td>&nbsp;</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr class="odd">
							<td>&nbsp;</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr class="odd">
							<td>&nbsp;</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr class="odd">
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr class="odd end">
							<td>&nbsp;</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
					</table>
					<p>Duis ligula lorem tristique nec UPS 07/09/2008 12:55 P.M. ET</p>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">{item manifest detail header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>{legend text}</legend>
					<table cellspacing="0" cellpadding="0" border="0" class="dataTable">
						<tr>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
						</tr>
						<tr class="odd">
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr class="odd">
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
					</table>
					</fieldset>
				</div>
				<div class="stepModFlex">
					<div class="stepModHead">
						<h3 class="nostep">{invoice detail header text}</h3>
						<div style="clear:both;"></div>
					</div>
					<fieldset>
					<legend>{legend text}</legend>
					<table cellspacing="0" cellpadding="0" border="0" class="dataTable">
						<tr>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
							<th>{column header text}</th>
						</tr>
						<tr class="odd">
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
						<tr class="odd">
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
							<td>{cell data}</td>
						</tr>
					</table>
					</fieldset>
				</div></td>
		</tr>
	</table>
</div>
