---
title: ct1_tra_qvm_dlg_switch
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
730x535
-->
<div style="overflow:auto;width:730px;height:527px;">
<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
			<tr>
				<th>
						<h2>Switch to Classic View</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div>
					</th>
			</tr>
			<tr>
				<td><div class="introMod">
						<p>Are you sure you want to switch to the classic version of Quantum View Manage?</p>
						<p>We've introduced the Enhanced version of Quantum View Manage to simplify your tracking needs. All necessary tasks have been consolidated into one dynamic user interface, making it simpler to organize, track, and manage your shipments.</p>
						<p>To help us improve the Quantum View Manage experience, please answer the following questions. Required fields are indicated with <img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0">.</p>
					</div>
					<div class="modFlex">
						<div class="modContent">
							<fieldset>
							<legend>Switch to Classic Form</legend>
							<dl>
								<dt>
									<label>Reason for Switching:</label>
								</dt>
								<dd>
								<select onChange="document.getElementById('comments_nealy').className = this.selectedIndex == 5 ? 'shown' : 'hidden'">
										<option value="" selected>Select One</option>
										<option value="">Could not access the new system</option>
										<option value="">Could not install the Flash plug-in</option>
										<option value="">The system was too slow</option>
										<option value="">Did not have time to learn the new system right now</option>
										<option value="">Other (please provide additional comments below)</option>
									</select>&nbsp;<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0">
								</dd>
								<dt>
									<label>Name:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" size="32" value="">&nbsp;<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0">
								</dd>
								<dt>
									<label>E-mail:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" size="32" value="">&nbsp;<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0">
								</dd>
								<dt>
									<label>Telephone:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" size="32" value="">&nbsp;<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0">
								</dd>
							</dl>
							<dl>
								<dt>
									<label>Additional Comments:</label>
								</dt>
								<dd>
									<table cellspacing="0" cellpadding="0" border="0">
									<tr valign="middle"><td>
									<textarea name="repl_name" cols="100" rows="5"
									onKeyDown="if(this.value.length > 500) this.value = this.value.substring(0, 500)"
									onKeyUp="if(this.value.length > 500) this.value = this.value.substring(0, 500)"></textarea><br>
									<div class="reqTxtInst">(Maximum 500 characters)</div>
									</td><td align="left"><img id="comments_nealy" src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0" class="hidden"></td>
									</tr>
									</table>
								</dd>
							</dl>
							</fieldset>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="btn-bar"><div class="margincenter">
						<input type="button" class="btn" value="Cancel" name="repl_name"><input type="button" class="btn" value="Switch" name="repl_name">
					</div></td>
			</tr>
		</table>
	</form>
</div>
</div>
