---
title: ct1_tra_qvm_dlg_notifications_confirmation
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
490x214
-->
<div style="overflow:auto;width:490px;height:427px;">
	<div id="main">
		<form action="repl_fname">
			<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
				<tr>
					<th> <h2>Quantum View Notify &reg; Confirmation</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div></th>
				</tr>
				<!-- begin v1 -->
				<tr>
					<td><div class="introMod">
							<p>Thank you. Your request has been received.</p>
						</div>
						<div class="modFlex">
							<div class="modContent">
								<ul class="lstCheck">
									<li>Current status information will be sent to the recipients you indicated.</li><br>
									<li>Please note that Exception Notification e-mails will be sent to the recipients you indicated if an exception occurs. Separate notifications will be sent for each exception that occurs.</li><br>
									<li>Delivery Confirmation e-mail will be sent once the shipment has been delivered.</li><br>
									<li>Freight event information will be sent to the recipients you indicated.</li>
								</ul>
							</div>
						</div></td>
				</tr>
				<!-- end v1 -->
				<!-- begin v2 -->
				<tr>
					<td><div class="introMod">
							<p>Thank you. Your request has been received, but there was a problem with the request for one or more recipients.</p>
						</div>
						<div class="modFlex">
							<div class="modContent">
								<dl>
									<dt><img src="/img/icn_cross_mini_wht.gif" alt="" width="12" height="12"> The request failed for the following recipients: </dt>
									<dd class="indent"> recipient@email.com<br>
										another recipient@email.com </dd>
									<dd class="indent">Please resubmit the request for these recipients later.</dd>
								</dl>
							</div>
						</div></td>
				</tr>
				<!-- end v2 -->
				<!-- begin v3 -->
				<tr>
					<td><div class="modFlex">
							<div class="modContent">
								<p>Your request has failed. Please resubmit your request or try again later.</p>
							</div>
						</div></td>
				</tr>
				<!-- end v3 -->
				<tr>
					<td class="btn-bar"><div class="margincenter">
							<input type="button" class="btn" value="Close" name="repl_name">
						</div></td>
				</tr>
			</table>
		</form>
	</div>
</div>
