---
title: ct1_tra_qvm_dlg_savecustom
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
			<tr>
				<th>
						<h2>Save Custom View</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
							<li><a href="javascript:void(0)"><img src="/img/icn_qmark_wht.gif" alt="Help" title="Help" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div>
					</th>
			</tr>
			<tr>
				<td><div class="introMod">
					<p>Required fields are indicated with <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">.
					</p>
				</div>
					<div class="modFlex">
						<div class="modContent">
							<fieldset>
							<legend>Save Custom View</legend>
							<dl>
								<dt>
									<label>Custom View Name:</label>
								</dt>
								<dd>
									<input name="repl_name" type="text" size="32" value="">&nbsp;<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
								</dd>
								<dd>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td class="sel"><input name="repl_name" type="checkbox" value="repl_value" id="repl_id" checked="checked"></td>
											<td><label for="" class="sel">set as my default Imports view</label></td>
										</tr>
									</table>
								</dd>
							</dl>


						<!-- save custom view dialog - imports -->
							<dl class="dl_inline">
								<dt><label for="">import country or territory:</label></dt>
								<dd>united states/puerto rico</dd>
							</dl>
						<!-- save custom view dialog - imports -->


							<dl class="dl_inline">
								<dt><label for="">current search:</label></dt>
								<dd>{search term}</dd>
							</dl>
							<dl class="dl_inline">
								<dt><label for="">current filters:</label></dt>
								<dd>status, service, account, .... other current filter text</dd>
							</dl>
							<dl class="dl_inline">
								<dt><label for="">date type:</label></dt>
								<dd>scheduled delivery date/entry date</dd>
							</dl>


							<br>


							<div class="modMsg">
								<dl class="dl_inline">
									<dt>
										<label for=""><a href="">date range:<span class="btnlnkR helpicon"><img alt="" border="0" height="12" src="/img/1.gif" width="12"></span></a></label>
									</dt>
									<dd class="">
											<table border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td class="sel"><input name="repl_name" type="radio" value="repl_value" id="repl_id" selected></td>
													<td><label for="" class="sel">general date range:</label></td>
													<td>
														<select>
															<option value="" selected>All Available Dates</option>
															<option value="">Next 7 Days</option>
															<option value="">Next 6 Days</option>
															<option value="">Next 5 Days</option>
															<option value="">Next 4 Days</option>
															<option value="">Next 3 Days</option>
															<option value="">Next 2 Days</option>
															<option value="">Today</option>
															<option value="">Last 2 Days</option>
															<option value="">Last 3 Days</option>
															<option value="">Last 4 Days</option>
															<option value="">Last 5 Days</option>
															<option value="">Last 6 Days</option>
															<option value="">Last 7 Days</option>
															<option value="">Last 8 Days</option>
															<option value="">Last 9 Days</option>
															<option value="">Last 10 Days</option>
															<option value="">Last 11 Days</option>
															<option value="">Last 12 Days</option>
															<option value="">Last 13 Days</option>
															<option value="">Last 14 Days</option>
															<option value="">Last 15 Days</option>
															<option value="">Last 30 Days</option>
															<option value="">Last 45 Days</option>
														</select>
													</td>
												</tr>
											</table>
									</dd>
									<dd class="">
										<table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td class="sel"><input name="repl_name" type="radio" value="repl_value" id="repl_id" selected></td>
												<td><label for="" class="sel">exact range (07/24/2008 - 07/31/2009)</label></td>
											</tr>
										</table>
									</dd>
									<dd>
										<table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td class="sel"><input name="repl_name" type="checkbox" value="repl_value" id="repl_id" checked></td>
												<td><label for="" class="sel">include shipments with unknown delivery dates</label></td>
											</tr>
										</table>
									</dd>

								<!-- save custom view dialog - imports -->
									<dd>
										<p><strong>note:</strong> adjusting the date range ... note text.</p>
									</dd>
								<!-- save custom view dialog - imports -->

									<!--
									<dd>
										<input type="checkbox" name="repl_name" value="repl_value">
										Set as my default Outbound view
									</dd>
									-->
								</dl>
							</div>


							</fieldset>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="btn-bar"><div class="margincenter">
						<input type="button" class="btn" value="Cancel" name="repl_name"><input type="button" class="btn" value="Save" name="repl_name"><input type="button" class="btn" value="Save & Schedule ..." name="repl_name">
					</div></td>
			</tr>
		</table>
	</form>
</div>
