---
title: ct1_tra_qvm_dlg_notifications
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---


<!-- /contentArea -->
<div id="ccCntMod">
	<!-- /applicationArea -->
	<div id="main">
	<h1>Quantum View &reg; Page Title</h1>

		<form action="repl_fname">

		<!-- Begin Application Module -->
			<div class="appLvl col18 mod">
				<fieldset>
				<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>{Application Header}</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->

				<!-- Begin Application Body -->
					<div class="appBody clearfix">

					<!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<fieldset>
							<!-- Begin Section Header --><!-- End Section Header -->

							<!-- Begin Section Body -->
							<div class="secBody clearfix">

									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<select>
										<option>item1</option>
									</select>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							</div>
							<!-- End Section Body -->

							<!-- Begin Section Footer --><!-- End Section Footer -->
							</fieldset>

						</div>
					<!-- End Section Module -->

					</div>
				<!-- End Application Body -->

				<!-- Begin Application Footer --><!-- End Application Footer -->
				</fieldset>
			</div>
		<!-- End Application Module -->

		</form>
	<!-- /contentArea -->
	</div>
<!-- /applicationArea -->
</div>


		<div class="appLvl mod modal dialog">
        <form action="repl_fname">
            <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
                <tr>
                	<th>

                        <div class="head-col4">
                            <h2>Add Notification {Error}: {1Z234123412341234} Module Header</h2>
                            <div style="clear:both;"></div>
                        </div>

                	</th>
                </tr>
                <tr>
                    <td>

                        <div class="introModFixed">
                        	<!-- JAN 2011 5.2.5 - All Fail Error -->
                            <p>Your request has failed.  Please resubmit your request or try again later.</p>
                        	<!-- JAN 2011 5.2.5 - All Fail Error - END -->
                        	<p>Select a notification type, delivery method, and the recipient information for up to five recipients.  Required fields are indicated with <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></p>
                        	<p class="error">>>>>> Error message Paragraph Text.</p>
                        </div>




                        <!-- Begin Module -->
                        <div id="" class="stepModFlex">
                            <!--<div class="stepModHead"></div>-->


                            <table id="" width="800">
                            <tr>
                            <td>

                            <div class="stepModContent clearfix">
                                <fieldset>
                                    <legend>Legend Header</legend>
                                    <h4>Recipient 1 Section Subheader</h4>

                                    <dl class="flexFirst">
                                        <dt><label for="">Send Notifications By:</label></dt>
                                        <dd>
                                            <select><option>{E-Mail/SMS}</option></select>
                                        </dd>
        							</dl>

									<!-- JAN 2011 5.3.2 - Recipient Module - Five Recipients (E-mail) -->
                                    <!--
                                    <dl class="flexAfter">
                                        <dt><label for="">E-mail:</label></dt>
                                        <dd><input type="text" size="28" name="repl_name" value=""></dd>
                                    </dl>
   									-->
                                    <!-- end JAN 2011 5.3.2 - Recipient Module - Five Recipients (E-mail) -->

                                    <!-- JAN 2011 5.3.2 - Recipient Module - Five Recipients (Text Message) -->
                                    <dl class="flexAfter">
                                        <dt><label for="">Country or Territory Dial Code:</label></dt>
                                        <dd><select name="repl_name">
                                                <option>United States - 011 01</option>
                                            </select>
                                        </dd>
                                    </dl>
                                    <dl class="flexAfter">
                                        <dt><label for="">Telephone:</label></dt>
                                        <dd><input type="text" size="15" name="repl_name" value=""></dd>
                                    </dl>
                                    <!-- end JAN 2011 5.3.2 - Recipient Module - Five Recipients (Text Message) -->

                                    <!-- JAN 2011 5.3.2 - Recipient Module - Five Recipients (Text Message) -->
                                    <!-- JAN 2011 5.3.2 - Recipient Module - Five Recipients (E-mail) -->
        							<dl class="flexAfter">
            							<dt><label for="">Language Format Label:</label></dt>
                						<dd>
                    						<select name="repl_name">
                                                <option>Australia - English</option>
                                                <option>Austria - English</option>
                                                <option>Belgium - Dutch</option>
                                                <option>Belgium - English</option>
                                                <option>Belgium - French</option>
                                                <option>Brazil - English</option>
                                                <option>Brazil - Portuguese</option>
                                                <option>Canada - English</option>
                                                <option>Canada - French</option>
                                                <option>China - Chinese</option>
                                                <option>China - English</option>
                                                <option>Czech Republic - Czech</option>
                                                <option>Czech Republic - English</option>
                                                <option>Denmark - Danish</option>
                                                <option>Denmark - English</option>
                                                <option>Finland - English</option>
                                                <option>France - English</option>
                                                <option>France - French</option>
                                                <option>Germany - English</option>
                                                <option>Germany - German</option>
                                                <option>Hong Kong - Chinese</option>
                                                <option>Hong Kong - English</option>
                                                <option>Hungary - English</option>
                                                <option>Hungary - Hungarian</option>
                                                <option>India - English</option>
                                                <option>Ireland (Republic of) - English</option>
                                                <option>Italy - English</option>
                                                <option>Italy - Italian</option>
                                                <option>Japan - English</option>
                                                <option>Japan - Japanese</option>
                                                <option>Malaysia - English</option>
                                                <option>Mexico - English</option>
                                                <option>Mexico - Spanish</option>
                                                <option>Netherlands - Dutch</option>
                                                <option>Netherlands - English</option>
                                                <option>Norway - English</option>
                                                <option>Norway - Norwegian</option>
                                                <option>Philippines - English</option>
                                                <option>Poland - English</option>
                                                <option>Poland - Polish</option>
                                                <option>Portugal - English</option>
                                                <option>Portugal - Portuguese</option>
                                                <option>Puerto Rico - English</option>
                                                <option>Puerto Rico - Spanish</option>
                                                <option>Romania - English</option>
                                                <option>Romania - Romanian</option>
                                                <option>Russia - English</option>
                                                <option>Russia - Russian</option>
                                                <option>Singapore - English</option>
                                                <option>South Korea - English</option>
                                                <option>South Korea - Korean</option>
                                                <option>Spain - English</option>
                                                <option>Spain - Spanish</option>
                                                <option>Sweden - English</option>
                                                <option>Sweden - Swedish</option>
                                                <option>Switzerland - English</option>
                                                <option>Switzerland - French</option>
                                                <option>Switzerland - German</option>
                                                <option>Taiwan - Chinese</option>
                                                <option>Taiwan - English</option>
                                                <option>Thailand - English</option>
                                                <option>Turkey - English</option>
                                                <option>Turkey - Turkish</option>
                                                <option>United Kingdom - English</option>
                                                <option selected>United States - English</option>
                    						</select>
                						</dd>
        							</dl>

        							<div style="clear:both;"></div>

        							<dl>
                                    	<dt><label>Notification Type Label:</label></dt>
                                        <dd>
                                           	<input type="checkbox" value="" name="repl_name">Current status Text
                                        </dd>
                                        <dd>
                                            <input type="checkbox" value="" name="repl_name">If a delay or <a href="repl_href">exception<span class="btnlnkR helpicon"><img alt="" border="0" height="12" src="/img/1.gif" width="12"></span></a> has occurred Text
                                        </dd>
                                        <dd>
                                            <input type="checkbox" value="" name="repl_name">When the shipment Text
                                        </dd>
                                        <dd>
                                            <input type="checkbox" value="" name="repl_name">A freight shipment <a href="repl_href">event<span class="btnlnkR helpicon"><img alt="" border="0" height="12" src="/img/1.gif" width="12"></span></a> has occurred Text
                                        </dd>
                                    </dl>
                                </fieldset>
                            </div>

                            </td>
                            </tr>
                            </table>

                        </div>
                        <!-- End Module -->

                        <div style="clear:both"></div>

                        <!-- Begin Module -->
                        <div id="" class="">
                            <!--<div class="stepModHead"></div>-->
                            <div class="stepModContent">
                                <fieldset>
                                    <legend>Legend Header</legend>

                                    <!-- Add Another Recipient -->
                                    <div style="margin-left=15;">
                                        <dl>
                                            <dt><input name="" type="submit" class="btnlnkL plusmini" value="Add Another Recipient"></dt>
                                        </dl>
                                    </div>
                                    <!-- end Add Another Recipient -->

                                    <div>
                            			<dl>
                                			<dt><label>Personal Message (Applies to all e-mail notifications.  Enter up to 150 characters.):</label></dt>
                                    		<dd><textarea name="repl_name" cols="100" rows="4"></textarea></dd>
                            			</dl>
                            		</div>

                                   <div style="clear:both"></div>

                                   <div class="clearfix">
                                   		<dl class="flexFirst">
                                        	<dt><label for="">From (First Initial, Last Name.  Applies to all SMS text messages.):</label></dt>
                                            <dd><input type="text" size="28" name="repl_name" value=""></dd>
                                        </dl>

                                        <dl class="flexAfter">
                                            <dt class="instText">:</dt>
                                            <dd><input type="text" size="28" name="repl_name" value=""></dd>
                                        </dl>

                                   	</div>

                                   	<div style="clear:both"></div>

                                    <p><strong>Note:</strong> UPS will notify you by e-mail if there is a problem sending any of these notifications Paragraph Text.</p>

                                    <!-- Error in Email address -->
                                    <div>
                                    	<dl>
                                        	<dt><label class="error">>>>></label><input type="text" size="28" name="repl_name" value=""></dt>
                                        </dl>
                                    </div>
                                    <!-- end Error in Email address -->

									<p><strong>Note:</strong> Only these Country or Territory and Language option(s) are valid for Exception and Delivery notifications Paragraph Text.</p>

                                </fieldset>
                            </div>
                        </div>
                        <!-- End Module -->

                    </td>
                </tr>

                <!-- Button Bar -->
                <tr>
					<td class="btn-bar">
                        <div class="margincenter">

                            <!-- JAN 2011 5.2.5 - All Fail Error - BEGIN -->
							<input type="button" class="btn" value="Cancel" name="repl_name">
                            <!-- JAN 2011 5.2.5 - All Fail Error - END -->

                            <input type="button" class="btn" value="Cancel" name="repl_name">
                            <input type="button" class="btn" value="Done" name="repl_name">
                        </div>
                    </td>
				</tr>
                <!-- end Button Bar -->

            </table>
        </form>
    </div>



<script type="text/javascript">



$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:740});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});
});


</script>
