---
title: ct1_tra_qvm_dlg_start
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
490x195
-->
<div style="overflow:auto;width:490px;height:195px;">
<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
			<tr>
				<th>
						<h2>Quantum View Manage</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div>
					</th>
			</tr>
			<tr>
				<td><div class="modFlex">
						<div class="modContent">
							<fieldset>
							<legend>Quantum View Manage Start</legend>
							<p>This is CMS content. Content TBD. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper, tortor sit amet tincidunt mollis, urna nisi hendrerit nisi, quis tincidunt ligula pede vitae nunc. Donec non nisl. Curabitur convallis malesuada arcu. Donec pretium eleifend orci. Duis sit amet felis.</p>
							</fieldset>
						</div>
						<div class="modContent">
							<p>
								<input name="cb_repl_name" type="checkbox" value="">
								Don't show this message to me again.</p>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="btn-bar"><div class="margincenter">
						<input type="button" class="btn" value="Close" name="repl_name">
					</div></td>
			</tr>
		</table>
	</form>
</div>
</div>
