---
title: ct1_tra_qvm_dlg_help
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
730x592
-->
<div style="overflow:auto;width:730px;height:592px;">
<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" id="modal" class="mod">
			<tr>
				<th>
						<h2>Help - Quantum View Manage</h2>
						<ul>
							<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
						</ul>
						<div style="clear:both;"></div>
					</th>
			</tr>
			<tr>
				<td><div class="introMod">
						<p>Let us help you navigate your way through Quantum View Manage. For step-by-step instructions, we recommend that you review the interactive demo by selecting the link below. For specific help information, select one of the frequently asked questions below.</p>
						<p><a href="javascript:void(0);">Interactive Demo</a> <img src="/img/icn_popup_green.gif" alt="" width="9" height="9">
						</p>
					</div>
					<div class="modFlex">
						<div class="modContent">
							<fieldset>
							<legend>Frequently Asked Questions</legend>
							<label>Frequently Asked Questions</label>
							<div class="helpdiv">

							<a name="mktop">&nbsp;</a>
							<dl class="flexFirstPad">
								<dt>
								</dt>
								<dd><a class="btnlnkL anchoricon" href="#mk1">How To Specify A Date Range{FAQ link text}</a>
								</dd>
								<dd><a class="btnlnkL anchoricon" href="#mk2">How To Apply Filters to Shipment Information</a>
								</dd>
								<dd><a class="btnlnkL anchoricon" href="#">{FAQ link text}</a>
								</dd>
								<dd><a class="btnlnkL anchoricon" href="#">{FAQ link text}</a>
								</dd>
							</dl>
							<dl class="flexAfter">
								<dt>
								</dt>
								<dd><a class="btnlnkL anchoricon" href="#mk5">How To View Shipment Details</a>
								</dd>
								<dd><a class="btnlnkL anchoricon" href="#mk6">How To Download Shipment Data</a>
								</dd>
								<dd><a class="btnlnkL anchoricon" href="#">{FAQ link text}</a>
								</dd>
								<dd><a class="btnlnkL anchoricon" href="#">{FAQ link text}</a>
								</dd>
								<dd><a class="btnlnkL anchoricon" href="#">{FAQ link text}</a>
								</dd>
							</dl>
							<div style="clear:both;">&nbsp;</div>
								<a name="mk1">&nbsp;</a>
								<h2>How To Specify A Date Range</h2>
								<p>One Etiam pede leo, aliquet ut, tempor vel, tempor at, dolor. Sed condimentum, pede et tempus dignissim, libero nunc egestas eros, vel viverra nisi risus vel sapien. Duis pulvinar nibh at ante. Suspendisse dignissim accumsan nisi. Donec non tellus sit amet nulla vehicula luctus. Vivamus nulla mauris, dapibus vitae, convallis vitae, accumsan ut, odio. Sed nec pede sit amet eros pharetra congue. Maecenas eu tellus ut sem auctor scelerisque. Nunc dictum dictum sem. Ut posuere orci ac lorem. In hac habitasse platea dictumst. Vivamus ullamcorper. Maecenas commodo euismod dolor. Nunc congue mollis augue. Morbi et mi. Pellentesque vitae eros ut quam auctor suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
								</p>
								<ol>
								<li> In the <strong>From</strong> and <strong>To</strong> fields, specify a complete month, day and year combination:
								<ul>
									<li>Rci ac lorem. In hac habitasse platea dictumst. Vivamus ullamcorper. Maecenas comm.</li>
									<li>Us vitae, convallis vitae, accumsan ut, odio. Sed nec pede sit.</li>
									<li>Rci ac lorem. In hac habitasse platea dictumst. Vivamus ullamcorper.</li>
								</ul>
								</li>
								<li>Select <strong>Go</strong>.
								</li>
								</ol>
								<p><a class="btnlnkL baktotopicon" href="#mktop">Back to Top</a></p>
								<a name="mk2">&nbsp;</a>
								<h2>How To Apply Filters to Shipment Information</h2>
								<p>Two Etiam pede leo, aliquet ut, tempor vel, tempor at, dolor. Sed condimentum, pede et tempus dignissim, libero nunc egestas eros, vel viverra nisi risus vel sapien. Duis pulvinar nibh at ante. Suspendisse dignissim accumsan nisi.
								</p>
								<ol>
								<li>Donec non tellus sit amet nulla vehicula luctus.</li>
								<li>Vivamus nulla mauris, dapibus vitae, convallis vitae, accumsan ut, odio.</li>
								<li>Sed nec pede sit amet eros pharetra congue.</li>
								<li>Maecenas eu tellus ut sem auctor scelerisque.</li>
								</ol>
								<p><a class="btnlnkL baktotopicon" href="#mktop">Back to Top</a></p>
								<h2>How To Suspendisse Dignissim Accumsan Nisi</h2>
								<p>Etiam pede leo, aliquet ut, tempor vel, tempor at, dolor. Sed condimentum, pede et tempus dignissim, libero nunc egestas eros, vel viverra nisi risus vel sapien. Duis pulvinar nibh at ante. Suspendisse dignissim accumsan nisi. Donec non tellus sit amet nulla vehicula luctus. Vivamus nulla mauris, dapibus vitae, convallis vitae, accumsan ut, odio. Sed nec pede sit amet eros pharetra congue. Maecenas eu tellus ut sem auctor scelerisque. Nunc dictum dictum sem. Ut posuere orci ac lorem. In hac habitasse platea dictumst. Vivamus ullamcorper. Maecenas commodo euismod dolor. Nunc congue mollis augue. Morbi et mi. Pellentesque vitae eros ut quam auctor suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
								</p>
								<p><a class="btnlnkL baktotopicon" href="#mktop">Back to Top</a></p>
								<h2>How To Suspendisse Dignissim Accumsan Nisi</h2>
								<p>Etiam pede leo, aliquet ut, tempor vel, tempor at, dolor. Sed condimentum, pede et tempus dignissim, libero nunc egestas eros, vel viverra nisi risus vel sapien. Duis pulvinar nibh at ante. Suspendisse dignissim accumsan nisi. Donec non tellus sit amet nulla vehicula luctus. Vivamus nulla mauris, dapibus vitae, convallis vitae, accumsan ut, odio. Sed nec pede sit amet eros pharetra congue. Maecenas eu tellus ut sem auctor scelerisque. Nunc dictum dictum sem. Ut posuere orci ac lorem. In hac habitasse platea dictumst. Vivamus ullamcorper. Maecenas commodo euismod dolor. Nunc congue mollis augue. Morbi et mi. Pellentesque vitae eros ut quam auctor suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
								</p>
								<p><a class="btnlnkL baktotopicon" href="#mktop">Back to Top</a></p>
								<a name="mk5">&nbsp;</a>
								<h2>How To Remove or Clear All Filters</h2>
								<p>Five Etiam pede leo, aliquet ut, tempor vel, tempor at, dolor. Sed condimentum, pede et tempus dignissim, libero nunc egestas eros, vel viverra nisi risus vel sapien. Duis pulvinar nibh at ante. Suspendisse dignissim accumsan nisi.
								</p>
								<p><a class="btnlnkL baktotopicon" href="#mktop">Back to Top</a></p>
								<a name="mk6">&nbsp;</a>
								<h2>How To Suspendisse Dignissim Accumsan Nisi</h2>
								<p>Six Etiam pede leo, aliquet ut, tempor vel, tempor at, dolor. Sed condimentum, pede et tempus dignissim, libero nunc egestas eros, vel viverra nisi risus vel sapien. Duis pulvinar nibh at ante. Suspendisse dignissim accumsan nisi. Donec non tellus sit amet nulla vehicula luctus. Vivamus nulla mauris, dapibus vitae, convallis vitae, accumsan ut, odio. Sed nec pede sit amet eros pharetra congue. Maecenas eu tellus ut sem auctor scelerisque. Nunc dictum dictum sem. Ut posuere orci ac lorem. In hac habitasse platea dictumst. Vivamus ullamcorper. Maecenas commodo euismod dolor. Nunc congue mollis augue. Morbi et mi. Pellentesque vitae eros ut quam auctor suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
								</p>
								<p><a class="btnlnkL baktotopicon" href="#mktop">Back to Top</a></p>
							</div>
							</fieldset>
						</div>
					</div></td>
			</tr>
			<tr>
				<td class="btn-bar"><div class="margincenter">
						<input type="button" class="btn" value="Close" name="repl_name">
					</div></td>
			</tr>
		</table>
	</form>
</div>
</div>
<script type="text/javascript">
function searchSubmit(){
	if(document.getElementById("search_repl_id").value != ""){
		var searchURL = "repl_href" + "?query=" + encodeURI(document.getElementById("search_repl_id").value);
		window.open(searchURL, "_blank");
	}
}
</script>
