---
title: ct1_tra_qvm_com(1sum)_v2
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

	<div id="main">
		<form action="repl_fname">
			<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
				<tr>
					<th>
							<h2>Delete Custom View</h2>
							<ul>
								<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
							</ul>
							<div style="clear:both;"></div>
						</th>
				</tr>
				<tr>
					<td><div class="modFlex">
							<div class="modContent">
								<fieldset>
								<legend>QVM Delete Custom View</legend>

								<span>
									<!-- begin Delete Custom View - Custom View is Default -->
											<p>the custom view you want to delete is your default ... paragraph text.</p>
									<!-- end Delete Custom View - Custom View is Default -->

									<p>Are you sure you want to delete {custom view name}?</p>

									<p><strong>note:</strong> any recurring report associated ... paragraph text.</p>
								</span>



								</fieldset>
							</div>
						</div></td>
				</tr>
				<tr>
					<td class="btn-bar"><div class="margincenter">
							<input type="button" class="btn" value="Yes" name="repl_name">
							<input type="button" class="btn" value="No" name="repl_name">
							<!-- begin Delete Custom View - Custom View is Default -->
									<input type="button" class="btn" value="ok" name="repl_name">
							<!-- end Delete Custom View - Custom View is Default -->
						</div></td>
				</tr>
			</table>
		</form>
	</div>
