---
title: ct1_tra_qvm_dlg_abovethreshold
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
490x296
-->
<div style="overflow:auto;width:490px;height:296px;">
	<div id="main">
		<form action="repl_fname">
			<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
				<tr>
					<th>
							<h2>Entering High Volume View</h2>
							<ul>
								<li><a href="javascript:void(0)"><img src="/img/icn_cross_mini_wht.gif" alt="Close" title="Close" width="12" height="12"></a></li>
							</ul>
							<div style="clear:both;"></div>
						</th>
				</tr>
				<tr>
					<td><div class="modFlex">
							<div class="modContent">
								<fieldset>
								<legend>High Volume View Information</legend>
								<p>Quantum View Manage supports a High Volume View for customers who need fast access to shipment details for a large number of shipments. The High Volume View provides you with:</p>
								<ul>
								<li>Faster access to your data</li>
								<li>The ability to search all of your shipments using Tracking Numbers, Reference Numbers, and Shipper or Ship To fields</li>
								</ul><br>
								<p>If you prefer to use the standard view, which has some additional features like advanced search, you should reduce the number of displayed shipments by using search, applying filters, or narrowing the date range</p>
								</fieldset>
							</div>
							<div class="modContent">
								<p>
									<input name="cb_repl_name" type="checkbox" value=""> Don't show this message to me again.</p>
							</div>
						</div></td>
				</tr>
				<tr>
					<td class="btn-bar"><div class="margincenter">
							<input type="button" class="btn" value="Close" name="repl_name">
						</div></td>
				</tr>
			</table>
		</form>
	</div>
</div>
