---
title: ct1_tra_qvm_msg_mod
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<!-- NOTE: This module will be displayed above the application in the full application width which is set below as 970px, but will be set by the application container in production.  The module should span the full width of the application. The application of the style, "width:970px", below is for pre-development display purposes only and should not be part of the HTML used in production. -->
<div id="main" style="width:970px">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" class="mod" style="width:100%;">
			<tr>
				<th><div>
						<h2>What's New With Quantum View Manage</h2>
					</div></th>
			</tr>
			<tr>
				<td><div class="modFlex">
						<div class="modContent">
						<p>Quantum View Manage introduces an exciting new redesign. All necessary tasks have been consolidated into one dynammic user interface, making it simpler to organize, track, and manage your shipments. To learn about the new features and discover what has changed, select the link below to explore the interactive demo.</p>
						<div class="divFloatLeft"><a href="repl_href" class="btnlnkR popuppage-green">Interactive Demo</a></div>
						<div class="marginEnd"><a href="repl_href">Don't show this message to me again</a></div>
			</div>		</div></td>
			</tr>
		</table>
	</form>
</div>
