---
title: ct1_sol_(1err)
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" class="mod">
			<tr>
				<th><div>
						<h2>Quantum View Manage</h2>
						<div style="clear:both;"></div>
					</div></th>
			</tr>
			<tr>
				<td>
				<div class="introMod">
						<p class="error">&gt;&gt;&gt; You must have Flash Player installed to use Quantum View Manage.</p>
					</div>
					<div class="modFlex">
						<div class="modContent"><a href="repl_href" class="btnlnkL arrowmini">Download and install Flash Player</a></div>
					</div></td>
			</tr>

		</table>
	</form>
</div>
