---
title: ct1_tra_aqv_cva(1mul)
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<script type="text/javascript">
function limitText(whichField, maxLen) {
	if (whichField.value.length > maxLen) {
		whichField.value = whichField.value.substring(0, maxLen);
	}
}
</script>
<!--
NOTE: As required by the use of ThickBox, the following sizes are provided for display of this dialog. No guarantee of visual correctness is provided due to the potential differences caused by the use of ThickBox and content translations.
730x517
-->
<div style="overflow:auto;width:730px;height:517px;">
<div id="main">
	<form action="repl_fname">
		<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
			<tr>
				<th>
						<h2>download detail files</h2>
					</th>
			</tr>
			<tr>
				<td><div class="introMod">
						<p>when detail requests are too large to view the system creates multiple files that must be individually downloaded. select the filename below to download each file.</p>
					</div>
					<div class="modFlex">
						<div class="modContent">
							<fieldset>
							<legend></legend>
							<table width="100%" cellspacing="0" cellpadding="0" border="0" class="dataTable">
								<tbody>
									<tr>
										<th scope="col"><label>file name</label></th>
										<th scope="col"><label>date range</label></th>
									</tr>
									<tr class="odd">
										<td><label for="" class="sel"><a href="repl_href">file name 1.csv</a></label></td>
										<td><label class="sel">mm/dd/yyyy - mm/dd/yyyy</label></td>
									</tr>
									<tr>
										<td><label for="" class="sel"><a href="repl_href">file name 1.csv</a></label></td>
										<td><label class="sel">mm/dd/yyyy - mm/dd/yyyy</label></td>
									</tr>
									<tr class="odd">
										<td><label for="" class="sel"><a href="repl_href">file name 1.csv</a></label></td>
										<td><label class="sel">mm/dd/yyyy - mm/dd/yyyy</label></td>
									</tr>
									<tr>
										<td><label for="" class="sel"><a href="repl_href">file name 1.csv</a></label></td>
										<td><label class="sel">mm/dd/yyyy - mm/dd/yyyy</label></td>
									</tr>
								</tbody>
							</table>
							</fieldset>
						</div>
					</div></td>
			</tr>
		</table>
	</form>
</div>
</div>
