---
title: ct1_tra_qvm_alt(2det)_prod
layout: legacy.hbs
version: legacy
appCSS: ups.legacy_overrideQVMC
dir: ltr
lang: en
---

<div id="main" class="pop">
	<form action="repl_faction">
		<table border="0" cellpadding="0" cellspacing="0" width="566" class="popHead">
			<tr valign="middle">
				<td><img alt="UPS" border="0" src="/img/glo_ups_brandmark_pfv.gif"></td>
				<td><h1>Proof of Delivery</h1></td>
				<td class="close"><a href="javascript:window.close();"><img alt="" height="14" src="/img/btn_close_mini.gif" width="14" border="0"><img alt="" border="0" height="8" width="3" src="/img/1.gif">Close Window</a></td>
			</tr>
		</table>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<td><div class="introMod">
							<p>Dear Customer,</p>
							<p>This notice serves as proof of delivery for the shipment listed below.</p>
						</div>
						<div class="modFlex">
							<div class="modContent">
								<fieldset>
								<legend>Shipment Details</legend>
								<div class="outHozFixed2">
									<dl>
										<dt>
											<label>Tracking Number:</label>
										</dt>
										<dd>1Z06X3410291034971</dd>
										<dt>
											<label>Alternate Tracking Number:</label>
										</dt>
										<dd>1Z06X3410291044423</dd>
										<dt>
											<label>Service:</label>
										</dt>
										<dd>{UPS Light Weight Service}</dd>
										<dt>
											<label>Weight:</label>
										</dt>
										<dd>25.00 LBS</dd>
										<dt>
											<label>Returned On:</label>
										</dt>
										<dd>09/12/2008</dd>
										<dt>
											<label>Returned To:</label>
										</dt>
										<dd>UPS Innoplex<br>
											2010 Warsaw Road<br>
											Roswell, GA, US<br>
											30076</dd>
										<dt>
											<label>Signed By:</label>
										</dt>
										<dd>SMITH<br>
											<img alt="" border="0" src="/img_fpo/fpo_signature.gif"> </dd>
										<dt>
											<label>Location:</label>
										</dt>
										<dd>Front Desk</dd>
									</dl>
								</div>
								</fieldset>
							</div>
							<p>Thank you for giving us this opportunity to serve you</p>
							<p>Sincerely,</p>
							<p>UPS</p>
							<p>Tracking results provided by UPS: 09/15/2008 9:14 A.M. ET</p>
						</div></td>
				</tr>
			</tbody>
		</table>
		<table id="foot" width="100%" border="0" cellspacing="0" cellpadding="0" class="note">
			<tr>
				<td class="close"><a href="javascript:window.close();"><img alt="" height="14" src="/img/btn_close_mini.gif" width="14" border="0"><img alt="" border="0" height="8" width="3" src="/img/1.gif">Close Window</a></td>
			</tr>
		</table>
	</form>
</div>
