---
title: Digital Onboarding Application
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>


{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.doa}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/19/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><strong>[DOA] JIRA UPSO-652</strong> DOA Update - QVM integration - QVM Modal Addition</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/29/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                                <li>DOA: TFS: [463374] Revert Social Icons Back to Previous Implementation</li>
                                <li>DOA: TFS: [409397] Added Padding-Right: 33px for Valid Inputs to Forms CSS</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/19/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - DOA: TFS: [450058] Update Social Icon Buttons to Rectangular Shaped Buttons</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/23/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Profile DOA Spec Update vA1.16 [PMG 899 addition], TFS: [344862]</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/09/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DOA - RFC 8671 Adding Twitter as Social Login Option, TFS: [385855]</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">05/12/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DOA - Fixed tooltip on signup, TFS: [313340]</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/24/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DOA - Sign Up Error bug fix, TFS: [328826]</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DOA - Page turning white issue with modal, TFS: [326412]</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DOA - Corrected packing SVP and button alignment, TFS: [323532]</li>
                            <li>DOA - Spec Update, TFS: [322141]</li>
                            <li>DOA - Accessibility Sign Up Modal, TFS: [313365]</li>
                            <li>DOA - Correctly mysterious indent on signup page, TFS: [323492]</li>
                            <li>DOA - Correctly pickup option checkmark and SVP inline datepicker, TFS: [323514]</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>DOA - Fixed broken aria reference TFS: [313218]</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>DOA/LASSO - TFS: [297286]</li>
                            <li>DOA - TFS: [305785]</li>
                            <li>DOA - Updated Popover arrow color when popover is placed on the right side of input</li>
                        </ul>
					</div>
				</li>
              <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec Update Av1.15</li>
                        </ul>
					</div>
				</li>
              <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/23/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visual Defect - Fixed Day Specific Checkbox</li>
                        </ul>
					</div>
				</li>
               <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/23/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec Update A1.15</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/02/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visual Defect - Fixed error states on "Sign Up" pages</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/18/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Updated popover content to be in an inline script tag instead of referencing an external file.</li>
                            <li>Made styles changes for popover content</li>
                            <li>Styles changes should now have .ups-active working correctly</li>
                            <li>PPC/DOA - Updated links that had a blank href to instead have a # for the href and the onclick handler to prevent the navigation from changing</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/07/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #285415</li>
							<li>TFS #279992 - VoiceOver issue for DO
								<ul>
									<li>Added directive 'pageTitle' to ups.DOApp.directives.js to handle focus control on route</li>
									<li>Removed aria-live region from page wrapper</li>
									<li>Added role="alert" to all error containers</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/28/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.13</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/21/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.13</li>
							<li>Update SPA screen reader class to always use .ups-readerTxt</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/20/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>UI fixes for responsiveness/accessibility</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/16/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.11</li>
							<li>Fixed several implementation issues with Bootstrap grid</li>
							<li>Merged WEM update to form field helper text</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/09/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.10 finished</li>
							<li>Defect: Wrapped CAC in bootstrap row/col</li>
							<li>Defect: Switch CTA order to match across all pages</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/02/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.09 finished</li>
							<li>Remove aria-describedby from the "from guest shipping" modal</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/30/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.09 except for Enter Address and Inline Confirmation - My Choice</li>
							<li>Fixed Defect: incorrect classing on CPC radio button group.</li>
							<li>Fixed Defect: CAC non-US input fields appearing when US is selected.</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/26/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Fixed validation checkmark implementation</li>
							<li>Updated form-level error icon</li>
							<li>Updated date picker DOM order for keyboard/SR accessibility</li>
							<li>Multiple occurances of classing changes for links</li>
							<li>Fixed layout issue on Enter Address page where the CAC is being referenced</li>
							<li>Updated required field icon implimentation to align with WEM accessibility change</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/12/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec update vA1.07, vA1.08</li>
							<li>Class misspelling defect for ups-cons vs. ups-icons</li>
							<li>A few low-level updates for Accessibility</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/17/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Baseline merge from Sapient</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
