<!-- Campus Shipping --->
    {{#if default}}
    <!-- Ship To Address - Default -->
    <div id="pnl_6_1">
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">Address Book:</label>
            </dt>
            <dd> 
                
                <div class="combobox" id="repl_id020"> 
                    
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>Select One</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </div>
                
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dt>&nbsp; </dt>
            <dd>--- or enter a new address below ---</dd>
        </dl>
        <dl role="presentation" class="flexFirst group">
            <dd><a id="repl_id021" href="repl_href">Enter New Address</a></dd>
            <dd><a id="repl_id022" href="repl_href">External Address Book</a></dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dd><a id="repl_id023" href="repl_href">Corporate Address Book</a></dd>
        </dl>
    </div>
    <div class="clear"></div>
    {{/if}}
    
    {{#if cs_saved_addr }}
    <!--Ship to Address - Saved Address Selected -->
    <div id="pnl_6_2">
        <dl role="presentation" class="flexFirst">
    <dt>
        <label for="repl_id">Address Book:</label>
    </dt>
    <dd> 
        
        <div class="combobox" id="repl_id020"> 
            <select name="repl_name" id="selectbox" class="formcol5">
                <option value="repl_value" selected>Select One</option>
                <option value="repl_value">Option 2 which is much longer than Option 1</option>
            </select>
        </div>
    </dd>
</dl>
        <dl role="presentation" class="flexAfter">
    <dt>&nbsp; </dt>
    <dd>--- or enter a new address below ---</dd>
</dl>
        <dl role="presentation" class="flexFirst group">
            <dd><a id="repl_id024" href="repl_href">Enter New Address</a></dd>
            <dd><label>Ship To Address:</label><br>
            Production Test <br>
            CIM Group QV Company<br>
            640 Winters Ave <br>
            PARAMUS, NJ 07652 <br>
            Telephone: 555-283-3107</dd>															
        </dl>
        <dl role="presentation" class="flexAfter">
            <dd><a id="repl_id026" href="repl_href">Corporate Address Book</a></dd>
            <dd><a id="repl_id027" href="repl_href">Edit</a></dd>														
        </dl>
        <div class="clear"></div>													
        <div class="secLvl message clearfix icon-left-32 icon-warning-callout">
            <div class="secHead clearfix">
                <h4>Help Reduce Customs Holds</h4>
            </div>
            <div class="secBody">
                <p>This shipment may require documentaiton from the receiver. To ensure timely customs clearance, please provide complete receiver contact information, including a valid mobile phone number and email address.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{/if}}
    
    {{#if cs_enter_new}}
    <!-- Ship To Address - Enter A New Address -->
    <div id="pnl_6_3">
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">Address Book:</label>
            </dt>
            <dd> 													
                <div class="combobox" id="repl_id018"> 
                    <select name="repl_name" id="selectbox" class="formcol5" disabled>
                        <option value="repl_value" selected>Select One</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </div>														
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dt>&nbsp; </dt>
            <dd>--- or enter a new address below ---</dd>
        </dl>
        <div class="clearfix"></div>
        <dl role="presentation" class="flexFirst">
            <dd><a id="repl_id025" href="repl_href">External Address Book</a></dd>
        </dl>
        {{#unless cs_timely_delivery}}
        <dl role="presentation" class="flexAfter">
            <dd><a id="repl_id029" href="repl_href">Corporate Address Book</a></dd>
        </dl>
        {{/unless}}
        <div class="clear"></div>
        <div class="flexFirst clearfix">
            <p><strong>Enter a New Address</strong></p>
        </div>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id028" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <select name="repl_name" size="1" id="repl_id030">
                        <option value="None">United States</option>
                        <option value="None">Add Another Country or Territory In This Spot</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id031" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id032" size="32">
                    <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id033" size="32">
                    <div class="reqTxtInst"> Department, c/o, etc.</div>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt> <strong>
                    <label for="repl_id">City:</label>
                    </strong> </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id034" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id">State:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id039">
                        <option value="" selected>Select One</option>
                        <option value="">Add Another State In This Spaces</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt>
                    <label for="repl_id">Zip Code:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id038" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            </dl>
            <dl role="presentation" class="flexfirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" size="20">
                </dd>
            </dl>
            <dl role="presentation" class="flexafter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" size="32" data-container="body" data-toggle="popover-focus" data-placement="top" data-content="Day Before Delivery Alert messaging goes here... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet...">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                {{#unless cs_timely_delivery}}
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>
                {{/unless}}
                {{#unless cs_timely_delivery}}
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id5"></td>
                    <td><label id="repl_id6" for="repl_id5" class="sel">USPS PO Box</label></td>
                </tr>
                {{/unless}}
            </table>
        </div>
        <!-- End Right Column -->
        
        <div class="clear"> </div>
        {{#if cs_timely_delivery}}
    	<div class="panel panel-info">
			<div class="panel-heading">
				<h4>Ensure Timely Delivery</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-2">
						<img src="/assets/resources/images/placeholder-icon.jpg" height="35px" width="50px" alt="flag alt text">
					</div>
					
					<div class="col-xs-10">
						<p>To help ensure timely delivery to your receiver, please provide a valid mobile phone number and/or email address.  UPS may use the email address and/or mobile number provided to update your receiver about the status of their package.</p>
					</div>
				</div>
			</div>			
		</div>
    {{/if}}
        <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
        
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save this to my Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol6">
                </dd>
            </dl>
        </div>
        <!-- End Right Column --> 
    </div>
    <div class="clear"></div>
    {{/if}}
    
    {{#if cs_address_list}}
    <!-- Ship To Address - Address List -->
    <div id="pnl_6_4">
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">Address Book:</label>
            </dt>
            <dd>
                <div class="combobox" id="repl_id017"> 
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>My Saved List</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </div>														
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dt>&nbsp; </dt>
            <dd>--- or enter a new address below ---</dd>
        </dl>
        <dl role="presentation" class="flexFirst group">
            <dd><a id="repl_id024" href="repl_href">External Address Book</a></dd>
            <dd><label class="sel">Address <strong>1</strong> of <strong>nnn</strong></label><br>
            [Contact Name] <br>
            [Company Name]<br>
            [Address 1]<br>
            [City], [Other] <br>
            [Country or Territory] <br>
            Telephone: [Number]</dd>															
        </dl>
        <div class="clear"></div>													
        <p><strong>Note:</strong>When using a distribution list to ship, you specify the shipment details once for the first address, and those details, including Ship From Address, package details, service, and payment information, will be used for all recipients in your list. </p>
    </div>
    <div class="clear"></div>
    {{/if}}
    
    {{#if cs_verify }}
    <!-- Ship To Address - Service Verification - City -->
    <div id="pnl_6_5">
    <div class="flexFirst clearfix">
            <p><strong>Enter a New Address</strong></p>
        </div>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id028" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <select name="repl_name" size="1" id="repl_id030">
                        <option value="None">Zimbabwe</option>
                        <option value="None">Add Another Country or Territory In This Spot</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id031" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id032" size="32">
                    <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id033" size="32">
                    <div class="reqTxtInst"> Department, c/o, etc.</div>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt>
                    <label for="repl_id">City:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id039">
                        <option value=""></option>
                        <option value="">Add Another State In This Spaces</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt>
                    <label for="repl_id">Other Address Information:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id038" size="32">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" size="20">
                </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" size="32" data-container="body" data-toggle="popover-focus" data-placement="top" data-content="Day Before Delivery Alert messaging goes here... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet...">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>																
            </table>
        </div>
        <!-- End Right Column -->
        
        <div class="clear"> </div>
        <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
        
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save this to my Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save to Corporate Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
        </div>
        <!-- End Right Column --> 	
    </div>
    <div class="clear"></div>
    {{/if}}
    
    {{#if cs_verify_other }}
    <!-- Ship To Address - Service Verification - City Plus Other-->
    <div id="pnl_6_6">
    <div class="flexFirst clearfix">
            <p><strong>Enter a New Address</strong></p>
        </div>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id028" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <select name="repl_name" size="1" id="repl_id030">
                        <option value="None">Panama</option>
                        <option value="None">Add Another Country or Territory In This Spot</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id031" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id032" size="32">
                    <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id033" size="32">
                    <div class="reqTxtInst"> Department, c/o, etc.</div>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt>
                    <label for="repl_id">City:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id039">
                        <option value=""></option>
                        <option value="">Add Another State In This Spaces</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt>
                    <label for="repl_id">Metro Area:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id038" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            </dl>
            <dl role="presentation" class="flexFirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" size="20">
                </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" size="32" data-container="body" data-toggle="popover-focus" data-placement="top" data-content="Day Before Delivery Alert messaging goes here... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet...">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>																
            </table>
        </div>
        <!-- End Right Column -->
        
        <div class="clear"> </div>
        <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
        
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save this to my Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save to Corporate Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
        </div>
        <!-- End Right Column --> 	
    </div>	
    <div class="clear"></div>
    {{/if}}
    
    <!-- Internet Shipping App -->
    {{#if int_shipping_default}}
    <!-- Ship To Address - Default -->
    <div id="pnl_6_7">
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">Address Book:</label>
            </dt>
            <dd> 
                <div class="combobox" id="repl_id020"> 																
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>Select One</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </div>
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dt>&nbsp; </dt>
            <dd>--- or enter a new address below ---</dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dd><a id="repl_id025" href="repl_href">External Address Book</a></dd>
        </dl>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id028" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <select name="repl_name" size="1" id="repl_id030">
                        <option value="None">United States</option>
                        <option value="None">Add Another Country or Territory In This Spot</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id031" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id032" size="32">
                    <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id033" size="32">
                    <div class="reqTxtInst"> Department, c/o, etc.</div>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt> <strong>
                    <label for="repl_id">City:</label>
                    </strong> </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id034" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id">State:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id039">
                        <option value="" selected>Select One</option>
                        <option value="">Add Another State In This Spaces</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt>
                    <label for="repl_id">Zip Code:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id038" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            </dl>
            <dl role="presentation" class="flexFirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" size="32">
                </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" size="32" data-container="body" data-toggle="popover-focus" data-placement="top" data-content="Day Before Delivery Alert messaging goes here... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet...">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>																
            </table>
        </div>
        <!-- End Right Column -->
        
        <div class="clear"> </div>
        <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
        
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol8 marginEnd">
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save this to my Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
        </div>
        </div>
    <div class="clear"></div>
    {{/if}}
    
    
    <!-- Ship To Address - Address List Selected -->
    {{#if int_shipping_address_sel }}
    <div id="pnl_6_8">
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">Address Book:</label>
            </dt>
            <dd> 
                <div class="combobox" id="repl_id020"> 
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>{List 1}</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </div>
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dt>&nbsp; </dt>
            <dd>--- or enter a new address below ---</dd>
        </dl>
        <div class="clear"></div>
        <dl role="presentation" class="flexfirst group">
            <dd><a id="repl_id024" href="repl_href">External Address Book</a></dd>
            <dd><label class="sel">Address <strong>1</strong> of <strong>nnn</strong></label><br>
            [Contact Name] <br>
            [Company Name]<br>
            [Address 1]<br>
            [City], [Other] <br>
            [Country or Territory] <br>
            Telephone: [Number]</dd>															
        </dl>
        <div class="clear"></div>													
        <p><strong>Note:</strong> When using a distribution list to ship, you specify the shipment details once for the first address, and those details, including Ship From Address, package details, service, and payment information, will be used for all recipients in your list. </p>
    </div>
    <div class="clear"></div>
    {{/if}}
    
    
    <!-- Ship To Address - Service Validation - City -->
    {{#if int_shipping_validate}}
    <div id="pnl_6_9">
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">Address Book:</label>
            </dt>
            <dd> 
                <div class="combobox" id="repl_id020"> 
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>Select One</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </div>
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dt>&nbsp; </dt>
            <dd>--- or enter a new address below ---</dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dd><a id="repl_id025" href="repl_href">External Address Book</a></dd>
        </dl>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id028" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <select name="repl_name" size="1" id="repl_id030">
                        <option value="None" selected>[Country or Territory]</option>
                        <option value="None">Add Another Country or Territory In This Spot</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id031" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id032" size="32">
                    <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id033" size="32">
                    <div class="reqTxtInst"> Department, c/o, etc.</div>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt> <strong>
                    <label for="repl_id">City:</label>
                    </strong> </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id034" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id">State:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id039">
                        <option value="" selected>Select One</option>
                        <option value="">Add Another State In This Spaces</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dl>
            <dl role="presentation" class="flexFirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" size="32">
                </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" size="32" data-container="body" data-toggle="popover-focus" data-placement="top" data-content="Day Before Delivery Alert messaging goes here... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet...">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>																
            </table>
        </div>
        <!-- End Right Column -->
        
        <div class="clear"> </div>
        <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
        
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol8 marginEnd">
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save this to my Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
        </div>
        </div>
    <div class="clear"></div>
    {{/if}}
    
    
    <!-- Ship To Address - Service Validation - City Plus-->
    {{#if int_shipping_validate_city}}
    <div id="pnl_6_10">
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">Address Book:</label>
            </dt>
            <dd> 
                <div class="combobox" id="repl_id020"> 
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>Select One</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </div>																
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dt>&nbsp; </dt>
            <dd>--- or enter a new address below ---</dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dd><a id="repl_id025" href="repl_href">External Address Book</a></dd>
        </dl>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id028" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <select name="repl_name" size="1" id="repl_id030">
                        <option value="None" selected>[Country or Territory]</option>
                        <option value="None">Add Another Country or Territory In This Spot</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id031" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id032" size="32">
                    <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id033" size="32">
                    <div class="reqTxtInst"> Department, c/o, etc.</div>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt> <strong>
                    <label for="repl_id">City:</label>
                    </strong> </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id034" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id">Metro Area:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id039">
                        <option value="" selected>Select One</option>
                        <option value="">Add Another Metro Area In This Spaces</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dl>
            <dl role="presentation" class="flexFirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" size="32">
                </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" size="32" data-container="body" data-toggle="popover-focus" data-placement="top" data-content="Day Before Delivery Alert messaging goes here... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet...">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>																
            </table>
        </div>
        <!-- End Right Column -->
        
        <div class="clear"> </div>
        <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
        
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol8 marginEnd">
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save this to my Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
        </div>
        <div class="clear"></div>												
        <p>[For those context country or territory addresses where State/Province/OTHER is displayed, where "Other" field will not be the default text input, but a combo box. (See Appendix C in the 7012 FRs/BRs)]</p>
    </div>
    <div class="clear"></div>
    {{/if}}
    
    
    <!-- Ship To - Unregistered Shipper -->
    {{#if int_shipping_unregistered}}
    <div id="pnl_6_11">
        <dl role="presentation" class="flexFirst">
            <dd><a id="repl_id025" href="repl_href">External Address Book</a></dd>
        </dl>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id028" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <select name="repl_name" size="1" id="repl_id030">
                        <option value="None" selected>[Country or Territory]</option>
                        <option value="None">Add Another Country or Territory In This Spot</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id031" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id032" size="32">
                    <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id033" size="32">
                    <div class="reqTxtInst"> Department, c/o, etc.</div>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt> <strong>
                    <label for="repl_id">City:</label>
                    </strong> </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id034" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id">State:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id039">
                        <option value="" selected>Select One</option>
                        <option value="">Add Another State In This Spaces</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dl>
            <dl role="presentation" class="flexFirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" size="32">
                </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" size="32" data-container="body" data-toggle="popover-focus" data-placement="top" data-content="Day Before Delivery Alert messaging goes here... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet...">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>																
            </table>
        </div>
        <!-- End Right Column -->
        <div class="clear"></div>													
    </div>
    <div class="clear"></div>
    {{/if}}