{{#if logged_in }}
<div id="pnl_2_1">
    <div class="secLvl message"> 
        <div class="secBody">
            <p><strong>Shipping designed with you in mind.</strong></p>
            <p>Check out our new shipping experience today.</p>
            <button name="repl_name" id="repl_id" class="btn">[Try It Now]</button>
        </div>
    </div>
</div>
{{/if}}

{{#if not_logged_in }}
{{/if}}