{{#if logged_in }}
<div id="pnl_2_1">
    <div class="secLvl message"> 
        <div class="secBody">
            <p id="repl_id09"> <a id="repl_id010" href="repl_href">Set your preferences</a> to enable <strong>one-step shipping</strong>. <a id="repl_id011" href="repl_href">(Don't show this message again)</a> </p>
        </div>
    </div>
</div>
{{/if}}
{{#if not_logged_in }}
<div id="pnl_2_2">
    <div class="secLvl message sell clearfix">
        <div class="secBody">
            <p>You can save shipment details to your history and address books if you <a href="repl_name">Log In.</a><br><a href="repl_name">Register Now</a> if you don't already have a ups.com profile.</p>
        </div>
    </div>
</div>
{{/if}}