{{#if default}}
<div id="pnl_12_1">
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Payment Method for Shipping Charges:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
                <option>[Account Number] - [Account Nickname]</option>
                <option>[Third Party Account Number] - [Third Party Nickname]</option>
                <option>[Payment Card Type] xxxx[last four digits]</option>
                <option>[Alternate Payment Method Type] - [Alternate Payment Method Nickname]</option>
                <option disabled>---------------</option>
                <option>Enter a Shipping Account</option>
                <option>Enter a Payment Card</option>
                <option>Enter an Alternate Payment Method</option>
                <option disabled>---------------</option>
                <option>Bill a Third Party</option>
                <option>Bill the Receiver</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="indent">Check My Discounts</a>
        </dd>
    </dl>
    <dl role="presentation" >
        <dt>
            <label for="repl_id" class="btnlnkR helpIconR">&gt;&gt;&gt; Promotion Code:</label>
        </dt>
        <dd>
            <input type="text" name="repl_name" id="repl_id" maxlength="20">
            <button name="repl_name" id="repl_id" class="btn">Apply Code</button> 
        </dd>
    </dl>
</div>
{{/if}}

{{#if promo_applied}}
<div id="pnl_12_2">
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Payment Method for Shipping Charges:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
                <option>[Account Number] - [Account Nickname]</option>
                <option>[Third Party Account Number] - [Third Party Nickname]</option>
                <option>[Payment Card Type] xxxx[last four digits]</option>
                <option>[Alternate Payment Method Type] - [Alternate Payment Method Nickname]</option>
                <option disabled>---------------</option>
                <option>Enter a Shipping Account</option>
                <option>Enter a Payment Card</option>
                <option>Enter an Alternate Payment Method</option>
                <option disabled>---------------</option>
                <option>Bill a Third Party</option>
                <option>Bill the Receiver</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="indent">Check My Discounts</a>
        </dd>
    </dl>
    <dl role="presentation" >
        <dt>
            <label for="repl_id" class="btnlnkR helpIconR">&gt;&gt;&gt; Promotion Code:</label>
        </dt>
        <dd>
            <input type="text" name="repl_name" id="repl_id" value="SHIPTOUS48" maxlength="20">
            <button name="repl_name" id="repl_id" class="btn">Remove Code</button> 
        </dd>
    </dl>
    <p>Receive 40% off a ground shipment within the continental United States.</p>
    <p><a>Read Promotion Terms and Conditions</a></p>
</div>
{{/if}}

{{#if no_promo}}
<div id="pnl_12_3"> 
    <!-- no promo code --> 
</div>
{{/if}}

{{#if promo_third_party}}
<div id="pnl_12_4">
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Payment Method for Shipping Charges:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
                <option>[Account Number] - [Account Nickname]</option>
                <option>[Third Party Account Number] - [Third Party Nickname]</option>
                <option>[Payment Card Type] xxxx[last four digits]</option>
                <option>[Alternate Payment Method Type] - [Alternate Payment Method Nickname]</option>
                <option disabled>---------------</option>
                <option>Enter a Shipping Account</option>
                <option>Enter a Payment Card</option>
                <option>Enter an Alternate Payment Method</option>
                <option disabled>---------------</option>
                <option>Bill a Third Party</option>
                <option>Bill the Receiver</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="indent">Check My Discounts</a>
        </dd>
        <dt>
            <label for="repl_id029">Third Party UPS Account Number:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id029" size="32">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
        </dd>
        <dt>
            <label for="repl_id030">Country or Territory:</label>
        </dt>
        <dd>
            <select name="repl_name" size="1" id="repl_id030">
                <option value="None">United States</option>
                <option value="None">Add Another Country or Territory In This Spot</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
        </dd>
        <dt>
            <label for="repl_id">Zip Code:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id038">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
        </dd>
    </dl>
    <table summary="repl_summary" title="repl_title">
        <tr>
            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
            <td><label id="repl_id2" for="repl_id1" class="sel">Save and set as my default Third party account</label></td>
        </tr>
    </table>
    <hr>
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Associate a UPS Shippers Account:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>{XXXXXX} - {Account Nickname}</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
        </dd>
    </dl>
    <table summary="repl_summary" title="repl_title">
        <tr>
            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
            <td><label id="repl_id2" for="repl_id1" class="sel">Bill Declared Value Charges to Shipper</label></td>
        </tr>
    </table>
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Payment Method for Shipping Charges:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Third Party Account 345678 - {Acct Nickname}</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
        </dd>
    </dl>
</div>
{{/if}}

{{#if promo_bill_receiver}}
<div id="pnl_12_5">
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Payment Method for Shipping Charges:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
                <option>[Account Number] - [Account Nickname]</option>
                <option>[Third Party Account Number] - [Third Party Nickname]</option>
                <option>[Payment Card Type] xxxx[last four digits]</option>
                <option>[Alternate Payment Method Type] - [Alternate Payment Method Nickname]</option>
                <option disabled>---------------</option>
                <option>Enter a Shipping Account</option>
                <option>Enter a Payment Card</option>
                <option>Enter an Alternate Payment Method</option>
                <option disabled>---------------</option>
                <option>Bill a Third Party</option>
                <option>Bill the Receiver</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="indent">Check My Discounts</a>
        </dd>
        <dt>
            <label for="repl_id029">Receiver UPS Account Number:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id029" size="32">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
        </dd>
        <dt>
            <label for="repl_id030">Country or Territory:</label>
        </dt>
        <dd>
            United States
        </dd>
        <dt>
            <label for="repl_id">Zip Code:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id038">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
        </dd>
    </dl>
    <table summary="repl_summary" title="repl_title">
        <tr>
            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
            <td><label id="repl_id2" for="repl_id1" class="sel">Associate ths UPS Account to the receiver's address book entry</label></td>
        </tr>
    </table>
    <hr>
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Associate UPS Shippers Account:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>{XXXXXX} - {Account Nickname}</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
        </dd>
    </dl>
    <table summary="repl_summary" title="repl_title">
        <tr>
            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
            <td><label id="repl_id2" for="repl_id1" class="sel">Bill Declared Value Charges to Shipper</label></td>
        </tr>
    </table>
</div>
{{/if}}

{{#if promo_bill_consignee}}
<div id="pnl_12_6">
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Payment Method for Shipping Charges:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
                <option>[Account Number] - [Account Nickname]</option>
                <option>[Third Party Account Number] - [Third Party Nickname]</option>
                <option>[Payment Card Type] xxxx[last four digits]</option>
                <option>[Alternate Payment Method Type] - [Alternate Payment Method Nickname]</option>
                <option disabled>---------------</option>
                <option>Enter a Shipping Account</option>
                <option>Enter a Payment Card</option>
                <option>Enter an Alternate Payment Method</option>
                <option disabled>---------------</option>
                <option>Bill a Third Party</option>
                <option>Bill the Receiver</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="indent">Check My Discounts</a>
        </dd>
    </dl>
    <hr>
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Associate UPS Shippers Account:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>{XXXXXX} - {Account Nickname}</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
        </dd>
    </dl>
    <table summary="repl_summary" title="repl_title">
        <tr>
            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
            <td><label id="repl_id2" for="repl_id1" class="sel">Bill Declared Value Charges to Shipper</label></td>
        </tr>
    </table>
</div>
{{/if}}

{{#if promo_shipper_account}}
<div id="pnl_12_7">
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Payment Method for Shipping Charges:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
                <option>[Account Number] - [Account Nickname]</option>
                <option>[Third Party Account Number] - [Third Party Nickname]</option>
                <option>[Payment Card Type] xxxx[last four digits]</option>
                <option>[Alternate Payment Method Type] - [Alternate Payment Method Nickname]</option>
                <option disabled>---------------</option>
                <option>Enter a Shipping Account</option>
                <option>Enter a Payment Card</option>
                <option>Enter an Alternate Payment Method</option>
                <option disabled>---------------</option>
                <option>Bill a Third Party</option>
                <option>Bill the Receiver</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="indent">Check My Discounts</a>
        </dd>
    </dl>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top">
                <div style="margin:3px; text-align:left;">
                    <dl>
                        <dt>
                            <label for="repl_id029">UPS Account Number:</label>
                        </dt>
                        <dd>
                            <input name="repl_name" type="text" id="repl_id029" size="32">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                        </dd>
                        <dt>
                            <label for="repl_id030">Account Name:</label>
                        </dt>
                        <dd>
                            <input name="repl_name" type="text" id="repl_id029" size="32">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                            <br>Your descriptive name for this account.
                        </dd>
                        <dt>
                            <label for="repl_id030">Country or Territory:</label>
                        </dt>
                        <dd>
                            United States or Puerto Rico
                        </dd>
                        <dt>
                            <label for="repl_id">Zip Code:</label>
                        </dt>
                        <dd>
                            <input name="repl_name" type="text" id="repl_id038">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                        </dd>
                    </dl>
                </div>
            </td>

            <!-- begin Message Box -->
            <td valign="top">
                <div style="margin:30px;padding:10px; border:1px solid; border-color:#26A9AC; background-color:#DCEDE5;">
                    <div style="border:0; padding:10px; background-color:#FFFFFF;">
                        <p><span class="bold">Don't have a UPS Account?</span></p>
                        <p><a href="">Open a UPS Account</a> (You will leave the shipping screens)</p>
                    </div>
                </div>
            </td>
            <!-- end Message Box -->
        </tr>
    </table>    
    <hr>
    <dl role="presentation">
        <dt>
            <label for="repl_id031"Provide VAT ID:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id031" size="32">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
            <br>Please note, if no VAT ID is given you will receive a final consumer invoice.
        </dd>
    </dl>
    <hr>
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href">Save Options for Account Number:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Save as New Entry</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
        </dd>
        <dt>
            <label for="repl_id" class="btnlnkR helpIconR">Promotion Code:</label>
        </dt>
        <dd>
            <input type="text" name="repl_name" id="repl_id" maxlength="20">
            <button name="repl_name" id="repl_id" class="btn">Apply Code</button> 
        </dd>
    </dl>
</div>
{{/if}}