<!-- Button Bar - Default -->
{{#if no_distro_list}}
<div id="pnl_10_1">
    <input name="repl_name" type="button" id="repl_id0192" value="Start Over" class="btn">
    <input name="repl_name" type="submit" id="repl_id0193" value="Next" class="btnArw">
</div>
{{/if}}


<!-- Button Bar - Distribution List -->
{{#if distro_list}}
<div id="pnl_10_2">
    <input name="repl_name" type="button" id="repl_id0192" value="Start Over" class="btn">
    <input name="repl_name" type="button" id="repl_id0193" value="Ship Now" class="btnArw">
    <input name="repl_name" type="button" id="repl_id0193" value="Ship To All" class="btnArw">
</div>
{{/if}}