{{#if logged_in}}
<div id="pnl_11_1">
    <p> [Select Ship Now to process the first shipment for your list, instructions for other pending shipments.] </p>
    <table summary="repl_summary" title="repl_title" border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id60" checked/></td>
                <td><label for="repl_id60" class="sel" id="repl_id61">Review shipping details, including price, before completing this shipment</label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id62"/></td>
                <td><label for="repl_id62" class="sel" id="repl_id64">Save As Shipping Ticket</label></td>
            </tr>
        </tbody>
    </table>
</div>
{{/if}}

{{#if not_logged_in}}
<div id="pnl_11_2">
    <table summary="repl_summary" title="repl_title" border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id63" checked/></td>
                <td><label for="repl_id63" class="sel" id="repl_id65">Review shipping details, including price, before completing this shipment</label></td>
            </tr>
        </tbody>
    </table>
</div>
{{/if}}
<p> By selecting the <strong>Next</strong> button, I agree to the <a href="repl_href" class="btnlnkR newwindowIconR">terms and conditions</a>. </p>