
<div id="repl_id"> 
    <!-- Begin Promotion Banner --> 
    <!-- //////////////////////////////////////////////////////////////////////////// --> 
    
    <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_promo_banner.html" --> 
    <!-- //////////////////////////////////////////////////////////////////////////// --> 
    <!-- end Promotion Banner  --> 
</div>
<div id="repl_id"> 
    <!-- Begin Automatic Discount ADO Offer Banner --> 
    <!-- //////////////////////////////////////////////////////////////////////////// --> 
    
    <!--#include virtual="/app_ent/cms_fragments/jan17/fragment_ADO.html" --> 
    <!-- //////////////////////////////////////////////////////////////////////////// --> 
    <!-- end Automatic Discount ADO Offer Banner  --> 
</div>

<form action="" name="mainPageForm">
    <!-- Begin SubTabs -->
    <ul class="subTab  col18 clearfix">
        <li class="tab-on"> Package </li>
        <li class="tab-off"> <a id="repl_id02" href="repl_href">Freight</a> </li>
    </ul>
    <!-- End SubTabs --> 
    
    <!-- Begin Application Module -->
    <div class="appLvl col18 tab"> 
        
        <!-- Begin Application Header -->
        <div class="appHead clearfix">
            <h2 id="repl_id03">Begin Your Shipment</h2>
            <ul>
                <li> <a id="repl_id04" href="repl_href" class="btnlnkR helpiconR">Help</a> </li>
            </ul>
        </div>
        <!-- End Application Header --> 
        
        <!-- Begin Application Body -->
        <div class="appBody">
            <div class="clearfix">
                <p> <strong>Informational message placeholder ...</strong> 
            </div>
            <p class="error"> <strong>&gt;&gt;&gt;Error message placeholder, error description. Next steps or solution</strong> </p>
            <p id="repl_id05"> Please enter your shipping information below. Required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">. </p>

            <!-- Begin Section Module -->
            <div id="dyn_pnl_2">
                {{>"cam_shi_shi(1cre)_shipping_guide_flow_partial" shipping_guide_flow }}
            </div>
            <!-- End Section Module --> 

            <!-- Begin Section Module -->
            <div id="dyn_pnl_2">
                {{>"cam_shi_shi(1cre)_preference_msg_partial" preference_msg }}
            </div>
            <!-- End Section Module --> 
            
        
            <!-- /////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End What is your Destination Country or Territory             //// --> 
            <!-- //// Begin 1 Where is the Shipment Going                           //// --> 
            <!-- /////////////////////////////////////////////////////////////////////// -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">1</span> </div>
                    <h3 id="repl_id019">Where is this shipment going?</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody">
                    <fieldset>
                        <div id="dyn_pnl_6">
                            {{>"cam_shi_shi(1cre)_shipment_loc_partial" shipment_loc }}
                        </div>
                    </fieldset>
                </div>
                <!-- End Section Body --> 
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End 1 Where is the Shipment Going ?                              //// --> 
            <!-- //// Begin 2 Where is the Shipment Coming From ?                      //// --> 
            <!-- ////////////////////////////////////////////////////////////////////////// -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                    <h3 id="repl_id046">Where is the shipment coming from?</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody">
                    <div id="dyn_pnl_3">
                        {{>"cam_shi_shi(1cre)_return_addr_partial" return_addr }}
                    </div>
                </div>
                <!-- End Section Body --> 
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End 2 Where is the Shipment Coming From?                         //// --> 
            <!-- //// Begin 3 What are you Shipping?                                   //// --> 
            <!-- ////////////////////////////////////////////////////////////////////////// -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">3</span> </div>
                    <h3 id="repl_id046">What are you shipping?</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody">
                    <div id="dyn_pnl_4">
                        {{>"cam_shi_shi(1cre)_what_shipping_partial" what_shipping }}
                    </div>
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- End Section Body --> 
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End 3 What are you Shipping?                                     //// --> 
            <!-- //// Begin 4 How would you like to Ship?                              //// --> 
            <!-- ////////////////////////////////////////////////////////////////////////// -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">4</span> </div>
                    <h3 id="repl_id0112">How would you like to ship?</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody">
                    <div id="dyn_pnl_5">
                        {{>"cam_shi_shi(1cre)_ship_service_partial" ship_service }}
                    </div>											
                </div>
                <!-- End Section Body --> 
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End 4 How would you like to Ship                                 //// --> 
            <!-- //// Begin 5 Would you like to add Reference Numbers to this Shipment //// --> 
            <!-- ////////////////////////////////////////////////////////////////////////// -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">5</span> </div>
                    <h3 id="repl_id0118">Would you like to add reference numbers to this shipment? (optional)</h3>
                </div>
                <!-- End Section Header --> 
                <!-- Begin Section Body -->
                <div class="secBody">
                    <p id="repl_id0119"> UPS gives you the option to track your shipments using <a id="repl_id0130"class="btnlnkR helpIconR" href="repl_href">references</a> that you define. </p>
                    <div id="dyn_pnl_7">
                        {{>"cam_shi_shi(1cre)_reference_nums_partial" reference_nums }}
                    </div>
                <!-- End Section Body -->
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End 5 Would you like to add Reference Numbers to this Shipment?   //// --> 
            <!-- //// Begin 6 How would you like to Pay?                                //// --> 
            <!-- ////////////////////////////////////////////////////////////////////////// -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">6</span> </div>
                    <h3 id="repl_id0156">How would you like to pay?</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody">
                    <p><span class="error">&gt;&gt;&gt;Error Message placeholder</span></p>
<p>Required fields are indicated with <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>
                    <div id="dyn_pnl_1">
                        <!--#include virtual="/app_ent/common_components/jan17/payment_method.html"-->
                    </div>
                    
                    <div id="dyn_pnl_12">
                        {{>"cam_shi_shi(1cre)_promo_code_partial" promo }}
                    </div>
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End 6 How would you like to Pay?                                 //// --> 
            <!-- //// Begin 7 Would you like to Schedule a Pickup?                     //// --> 
            <!-- ////////////////////////////////////////////////////////////////////////// -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">7</span> </div>
                    <div id="dyn_pnl_9">
                        {{>"cam_shi_shi(1cre)_pickup_header_partial" pickups_header }}
                    </div>
                </div>
                <!-- End Section Header --> 
                <!-- Begin Section Body -->
                <div class="secBody"> 
                    <div id="dyn_pnl_8">
                        {{>"cam_shi_shi(1cre)_pickups_partial" pickups }}
                    </div>				
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End 7 Would you like to Schedule a Pickup?                       //// --> 
            <!-- //// Begin Bottom of app section                                      //// --> 
            <!-- ////////////////////////////////////////////////////////////////////////// -->
            <div class="secLvl secLvlPlain clearfix">
                <div class="secBody">
                    <div id="dyn_pnl_11">
                        {{>"cam_shi_shi(1cre)_shipping_options_partial" shipping_options }}
                    </div>
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
            <!-- //// End Bottom of app section                                        //// --> 
            <!-- ////////////////////////////////////////////////////////////////////////// --> 
        </div>
        
        <!-- ////////////////////////////////////////////////////////////////////////// --> 
        <!-- //// End Application Body                                             //// --> 
        <!-- //// Begin Application Footer                                         //// --> 
        <!-- ////////////////////////////////////////////////////////////////////////// -->
        
        <div class="appFooter"> 
            <!-- Begin Button Bar Row -->
            <div class="btnBar">
                <div id="dyn_pnl_10">
                    {{>"cam_shi_shi(1cre)_shipping_buttons_partial" shipping_btns}}
                </div>
            </div>
            <!-- End Button Bar Row --> 
        </div>
        
        <!-- ////////////////////////////////////////////////////////////////////////// --> 
        <!-- //// End Application Footer                                           //// --> 
        <!-- ////////////////////////////////////////////////////////////////////////// --> 
        
    </div>
    <!-- End Application Module -->
    
    <div align="center" class="cobrand"> <br>
        <table role="presentation">
            <tbody>
                <tr>
                    <td>
                        Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;
                        <a id="repl_idName" href="mailto:test@ups.com">test@ups.com</a> 
                    </td>
                 </tr>
             </tbody>
         </table>
     </div>
</form>
<!-- /applicationArea --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 
<!-- //////////////// --> 

<!-- Begin IC DEVELOPMENT USE ONLY --> 