{{#if schedule_pickup}}
<div id="pnl_9_1">
    <h3 id="repl_id0182">Would you like to schedule a pickup?</h3>
</div>
{{/if}}

{{#if pickup_scheduled}}
<div id="pnl_9_2">
    <h3 id="repl_id0182">Getting your Shipment to UPS</h3>
</div>
{{/if}}