@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  .modFixed4col {
      .modContent {
        .hr {
          height: 1px;
          margin-bottom: 20px;
        }
      }
  }

  .message {
    .secHead {
      h3 {
        color: $white !important;
      }
    }
  }

  #support_cat  , #suppot_topic{
    width:160px;
  }

  form[name='inputForm'] .btn-bar {
    input[name='cancel'], input[name='next'] {
      vertical-align: bottom;
    }
  }

}

label.fldErr a , label.fldErr{
  color:#c91a13!important;
}

#telephone.form-control {border-radius:0}
