legend {display:none}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,fieldset,
dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;
padding:0;
border:0;
outline:0;
font-size:inherit;
/*font-family:Arial,Sans-serif;*/
color:inherit;
/*vertical-align:baseline;*/ /*Causing problems with table cell alignment*/
/*background:transparent;*//*Causing problems in IE6/7 with a inside div is not showing div bg icon*/
}

input, textarea, select {font-family:Arial,Sans-serif}

body {line-height:1.2; font-size:80%;color:#000;}
ol, ul {list-style:none}
blockquote, q {quotes:none}

/* remember to define focus styles! */
/* :focus {outline:0} commented out due to accessibility problems */

/* remember to highlight inserts somehow! */
ins {text-decoration:none}
del {text-decoration:line-through}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse:collapse;border-spacing:0}
/* CSS Document */

