
/* ------------------------ --- ------------------------ */
/* ------------- Buttons - Input & Buttons ------------- */
/* ------------------------ --- ------------------------ */
input.btn, 
button.btn,
input.btnArw, 
button.btnArw,
input.btnBackArw, 
button.btnBackArw,
input.btnArwSingle,
button.btnArwSingle,
input.btnBackArwSingle,
button.btnBackArwSingle,
/*input.btnlnk, button.btnlnk,*/
input.btnlnkL, 
button.btnlnkL,
input.btnlnkR, 
button.btnlnkR {cursor:pointer}

.btn,
.btnArw,
.btnBackArw,
input.btnArwSingle,
button.btnArwSingle,
input.btnBackArwSingle,
button.btnBackArwSingle,
/*.btnlnk,*/
.btnlnkL,
.btnlnkR{overflow:visible;width:auto;}

/* next line added gyx2jmz 6/25 */
/* modified to reflect the change away from the brand documented padding by denete 8/27/09 */
input.btn, 
button.btn{border:1px solid;/*margin:0*/margin: 3px 3px 3px 0;padding:1px 3px 2px 3px/*padding:5px 10px;*/}

		.alignBegin input.btn, 
		.alignBegin button.btn{margin: 3px 0 3px 3px;}

/*input.btnArw{border:1px solid;background-image:url(/img/2010/icn_wht_arrow_dbl.gif);background-position:right;background-repeat:no-repeat;padding:1px 12px 2px 4px}*/
/*input.btnBackArw{border:1px solid;background-image:url(/img/2010/icn_wht_arrow_dbl_bak.gif);background-position:left;background-repeat:no-repeat;padding:1px 3px 2px 15px}*/

/*button.btn{border:1px solid;padding:1px 3px 2px 3px}*/
/*button.btnArw{border:1px solid;background-image:url(/img/2010/icn_wht_arrow_dbl.gif);background-position:right;background-repeat:no-repeat;padding:1px 14px 2px 4px}*/


/* next line added gyx2jmz 6/22 */
/* may need to be reconsidered */
/* modified to reflect the change away from the brand documented padding by denete 8/27/09 */
button.btnArw, 
input.btnArw{border:1px solid;background-image:url(/img/icn_cmp_linkblue.gif);background-repeat:no-repeat;background-position:right -1506px;/*background-position:right -1503px;*//*margin:0*/margin: 3px 3px 3px 0;padding:1px 14px 2px 4px/*padding:5px 15px 5px 10px;*/}
/*button.btnBackArw{border:1px solid;background-image:url(/img/2010/icn_wht_arrow_dbl_bak.gif);background-position:left;background-repeat:no-repeat;padding:1px 3px 2px 15px}*/

/* next line added gyx2jmz 6/22 */
/* may need to be reconsidered */
/* modified to reflect the change away from the brand documented padding by denete 8/27/09 */
button.btnBackArw, 
input.btnBackArw{border:1px solid;background-image:url(/img/icn_cmp_linkblue.gif);background-repeat:no-repeat;background-position:left -1472px;/*background-position:left -1469px;*//*margin:0*/margin: 3px 3px 3px 0;padding:1px 4px 2px 14px;/*padding:5px 10px 5px 15px;*/}


input.btnArwSingle,
button.btnArwSingle {border:1px solid;background-image:url(/img/icn_cmp_linkblue.gif);background-repeat:no-repeat;background-position:right -1370px;/*background-position:left -1469px;*//*margin:0*/margin: 3px 3px 3px 0;padding:1px 14px 2px 4px/*padding:5px 10px 5px 15px;*/}
input.btnBackArwSingle,
button.btnBackArwSingle {border:1px solid;background-image:url(/img/icn_cmp_linkblue.gif);background-repeat:no-repeat;background-position:left -1267px;/*background-position:left -1469px;*//*margin:0*/margin: 3px 3px 3px 0;padding:1px 4px 2px 14px;/*padding:5px 10px 5px 15px;*/}

/* ------------------------ --- ------------------------ */
/* ---- Button Links - Input, Button, A Href & Span ---- */
/* ------------------------ --- ------------------------ */

/* next block added comment gyx2jmz 6/22 */
button.btnlnkL,
input.btnlnkL{text-decoration:underline;margin:0em;padding-left:1.3em;padding-right:0em;/*background-position:left center;*/background-repeat:no-repeat;border:none}


/* next block added comment gyx2jmz 6/22 */
button.btnlnkR,
input.btnlnkR{text-decoration:underline;margin:0em;padding-right:1.3em;padding-left:0em;/*background-position:right center;*/background-repeat:no-repeat;border:none}		



		/* ------------- --- ----------- */
		/*Module Header Buttons Icon ONLY*/
		/* ------------- --- ----------- */
		/*close button*/
		.ui-dialog .appLvl .appHead .closeIcon,
		.perTooltip .appLvl .appHead .closeIconBrn {height:14px}
		
		
		/*input.minibtn {padding-left:13px}*/
		
/* next block added second comment gyx2jmz 6/22 */
label.btnlnkL,
a.btnlnkL,
a.btnIconL{margin:0px;padding-left:16px;padding-right:0px;/*text-decoration:underline;background-position:left;*/background-repeat:no-repeat;border:none}

/* next block added second comment gyx2jmz 6/22 */
label.btnlnkR,
a.btnlnkR,
a.btnIconR{margin:0px;padding-right:18px;padding-left:0px;/*text-decoration:underline;background-position:right;*/background-repeat:no-repeat;border:none}

a.btnIconL{padding-left:19px;padding-right:0px;}
a.btnIconR{padding-right:21px;padding-left:0px;}

	/* a.minibtn {padding-left:16px}		*/

/*input.btnlnk{text-decoration:underline;padding:0px;border:none}*/


/*button.btnlnk{text-decoration:underline;padding:0px;border:none}*/
/*button.btnlnkL{text-decoration:underline;margin:0px;padding-left:13px;padding-right:0px;background-position:left center;background-repeat:no-repeat;border:none}*/

/*button.btnlnkR{text-decoration:underline;margin:0px;padding-right:10px;padding-left:0px;background-position:right;background-repeat:no-repeat;border:none}



span.btnlnkL{margin:0px;padding-right:4px;background-position:left center;background-repeat:no-repeat;border:none}
span.btnlnkR{margin:0px;padding-left:6px;background-position:center;background-repeat:no-repeat;border:none}

label a.btnlnkL{text-decoration:none}
label a.btnlnkR{text-decoration:none}
label a.btnlnkL:hover, label a.btnlnkR:hover,label.error a.btnlnkL:hover,label.error a.btnlnkR:hover{text-decoration:underline}
*/

input.disabled,
button.disabled {cursor:auto;}

.arrowMini,  /*.arrowRightMini, */
.arrowLeftMini,
.arrowUpMini, 
.arrowDownMini, 
.clearMini, 
.checkMini, 
.contactMini, 
.crossMini, 
.editMini,
.mailMini, 
.minusMini, 
.pageMini, 
.plusMini,  
.printMini,
.reorderMini,  /*.reorderRightMini, */
.reorderLeftMini,
.saveMini, 
.sortLeftMini, 
.sortRightMini, 
.sortUpMini, 
.sortDownMini,
/*.sortDownMiniBtn,*//*moved to ui.all.css to support auto complete in all code bases*/
.trackMini, 
.viewMini,
.anchorIcon, .anchorIconR,
.arrowBackIcon, .arrowBackIconR,
.arrowIcon, .arrowIconR,
.backToTopIcon, .backToTopIconR,
.closeIcon, .closeIconR, 
.closeIconBrn, .closeIconBrnR,
.collapseIcon, .collapseIconR,
.diamondIcon, .diamondIconR,
.expandIcon, .expandIconR,
.helpIcon, .helpIconR,
.linkBackIcon, .linkForwardIconR,
.linkBackIconPassive, 
.linkForwardIconRPassive,
.lockIcon, .lockIconR, 
.newWindowIcon, .newWindowIconR,
.printIcon, .printIconR,
.requiredIcon, .requiredIconR,
.sortUpIcon, .sortUpIconR,
.sortDownIcon, .sortDownIconR,
.triangleDownIcon, 
.triangleUpIcon,
.triangleLeftIcon, 
.triangleRightIcon,
.updatedIcon, .updatedIconR{background-image:url(/img/icn_cmp_linkblue.gif);background-repeat:no-repeat}

.cclampFooter .helpIcon, .cclampFooter .helpIconR,
.cclampFooter .lockIcon, .cclampFooter .lockIconR, 
.cclampFooter .newWindowIcon, .cclampFooter .newWindowIconR {background-image:url(/img/icn_cmp_blue_drk.gif);background-repeat:no-repeat}

.successIcon{background-image:url(/img/icon_checkmark_16.gif);background-repeat:no-repeat; vertical-align:text-bottom;}
.errorIcon{background-image:url(/img/icon_x_16.gif);background-repeat:no-repeat; vertical-align:text-bottom;}

.heartIcon {background-image:url(/img/logo_mychoice_heart_sm.png)}
.arrowMini {background-position:0 -199px}/*.arrowRightMini {background-position:0 -199px}*/
.arrowLeftMini {background-position:0 -165px}
.arrowUpMini {background-position:0 -96px}
.arrowDownMini {background-position:0 -130px}
.clearMini {background-position:0 2px}
.checkMini {background-position:0 -647px}
.contactMini {background-position:0 -406px}
.crossMini {background-position:0 -337px}
.editMini {background-position:0 -578px}
.mailMini {background-position:0 -476px}
.minusMini {background-position:0 -59px}
.pageMini {background-position:0 -613px}
.plusMini {background-position:0 -27px}
.printMini {background-position:0 -544px}
.reorderMini {background-position:0 -303px}/*.reorderRightMini {background-position:0 -301px}*/
.reorderLeftMini {background-position:0 -268px}
.saveMini {background-position:0 -510px}
.sortLeftMini {background-position:0 -682px}
.sortRightMini {background-position:0 -716px}
.sortUpMini {background-position:0 -234px}
.sortDownMini {background-position:0 -372px}
/*.sortDownMiniBtn {background-position:0 -3050px}*/ /*moved to ui.all.css to support auto complete in all code bases*/
.trackMini {background-position:0 -749px}
.viewMini {background-position:0 -441px}

		input.arrowMini, button.arrowMini {background-position:0 -198px}
		input.arrowLeftMini,button.arrowLeftMini {background-position:0 -164px}
		input.arrowUpMini,button.arrowUpMini {background-position:0 -95px}
		input.arrowDownMini,button.arrowDownMini {background-position:0 -129px}
		input.clearMini,button.clearMini {background-position:0 3px}
		input.checkMini,button.checkMini {background-position:0 -646px}
		input.contactMini,button.contactMini {background-position:0 -405px}
		input.crossMini,button.crossMini {background-position:0 -336px}
		input.editMini,button.editMini {background-position:0 -577px}
		input.mailMini,button.mailMini {background-position:0 -475px}
		input.minusMini,button.minusMini {background-position:0 -58px}
		input.pageMini,button.pageMini {background-position:0 -612px}
		input.plusMini,button.plusMini {background-position:0 -26px}
		input.printMini,button.printMini {background-position:0 -543px}
		input.reorderMini,button.reorderMini {background-position:0 -302px}
		input.reorderLeftMini,button.reorderLeftMini {background-position:0 -267px}
		input.saveMini,button.saveMini {background-position:0 -509px}
		input.sortLeftMini,button.sortLeftMini {background-position:0 -681px}
		input.sortRightMini,button.sortRightMini {background-position:0 -715px}
		input.sortUpMini,button.sortUpMini {background-position:0 -233px}
		input.sortDownMini,button.sortDownMini {background-position:0 -371px}
		input.trackMini,button.trackMini {background-position:0 -748px}
		input.viewMini,button.viewMini {background-position:0 -440px}
		
			.arrowMiniTypeImg {background-position:0 -199px !important}
			.arrowLeftMiniTypeImg {background-position:0 -165px !important}
			.arrowUpMiniTypeImg {background-position:0 -96px !important}
			.arrowDownMiniTypeImg {background-position:0 -130px !important}
			.clearMiniTypeImg {background-position:0 2px !important}
			.checkMiniTypeImg {background-position:0 -647px !important}
			.contactMiniTypeImg {background-position:0 -406px !important}
			.crossMiniTypeImg {background-position:0 -338px !important}
			.editMiniTypeImg {background-position:0 -578px !important}
			.mailMiniTypeImg {background-position:0 -476px !important}
			.minusMiniTypeImg {background-position:0 -59px !important}
			.pageMiniTypeImg {background-position:0 -613px !important}
			.plusMiniTypeImg{background-position:0 -27px !important}
			.printMiniTypeImg {background-position:0 -544px !important}
			.reorderMiniTypeImg {background-position:0 -303px !important}
			.reorderLeftMiniTypeImg {background-position:0 -268px !important}
			.saveMiniTypeImg {background-position:0 -510px !important}
			.sortLeftMiniTypeImg {background-position:0 -682px !important}
			.sortRightMiniTypeImg {background-position:0 -716px !important}
			.sortUpMiniTypeImg {background-position:0 -234px !important}
			.sortDownMiniTypeImg {background-position:0 -372px !important}
			.trackMiniTypeImg {background-position:0 -749px !important}
			.viewMiniTypeImg {background-position:0 -441px !important}

.anchorIcon{background-position:0 -1844px}
.anchorIconR{background-position:right -1844px}
.arrowBackIcon{background-position:0 -2372px}
.arrowBackIconR{background-position:right -2372px}
.arrowIcon{background-position:0 -2402px}
.arrowIconR{background-position:right -2402px}
.backToTopIcon{background-position:0 -1672px}
.backToTopIconR{background-position:right -1672px}
.closeIcon{background-position:0 -2434px}
.closeIconR{background-position:right -2434px}
.closeIconBrn{background-position:0 -2924px}
.closeIconBrnR{background-position:right -2924px}
.collapseIcon{background-position:0 -2524px}
.collapseIconR{background-position:right -2524px}
.diamondIcon{background-position:0 -1639px}
.diamondIconR{background-position:right -1639px}
.expandIcon{background-position:0 -2463px}
.expandIconR{background-position:right -2463px}
.helpIcon{background-position:0 -1879px}
		.appLvlGradient .appHead .helpIcon,
		.gradient .appHead .helpIcon,
		.gradient .secHead .helpIcon{background-position:0 -1129px}
.helpIconR{background-position:right -1879px}
		.appLvlGradient .appHead .helpIconR,
		.mod .appHead .helpIconR,
		.gradient .appHead .helpIconR,
		.gradient .secHead .helpIconR{background-position:right -1129px}
		.reqTxtInst .helpIconR{background-position: right -1881px}
.linkBackIcon{background-position:0 -2221px}
.linkForwardIconR{background-position:right -2255px}
.linkBackIconPassive{background-position:0 -2865px}
.linkForwardIconRPassive{background-position:right -2895px}
.lockIcon {background-position:0 -1776px}
.lockIconR {background-position:right -1776px}
.newWindowIcon{background-position:0 -1946px}
.newWindowIconR{background-position:right -1946px}
.printIcon{background-position:0 -1810px}
		.appLvlGradient .appHead .printIcon,
		.gradient .appHead .printIcon{background-position:0 -1060px}
.printIconR{background-position:right -1810px}
		.mod .appHead .printIconR{background-position:right -1060px}
.requiredIcon {background-position:-3px -2344px}
.requiredIconR {background-position:right -2344px}
.sortUpIcon{background-position:0 -2284px}
.sortUpIconR{background-position:right -2284px}
.sortDownIcon{background-position:0 -2314px}
.sortDownIconR{background-position:right -2314px}
.triangleUpIcon{background-position:0 -2554px}
.triangleDownIcon{background-position:0 -2524px}
.triangleLeftIcon{background-position:0 -2493px}
.triangleRightIcon{background-position:0 -2464px}
.updatedIcon{background-position:0 -2777px}
.updatedIconR{background-position:right -2777px}


/*-- Mini Buttons ( Left Placement) --*/
/*.arrowmini{background-image:url(/img/2010/icn_blu_arrow.gif)}
.crossmini{background-image:url(/img/2010/btn_mini_blu_cross.gif)}
.editmini{background-image:url(/img/2010/btn_mini_blu_edit.gif)}
.plusmini{background-image:url(/img/2010/btn_mini_blu_add.gif)}
.reordermini{background-image:url(/img/2010/btn_mini_blu_reorder.gif)}
.viewmini{background-image:url(/img/2010/btn_mini_blu_details.gif)}
.minusmini{background-image:url(/img/2010/btn_mini_blu_minus.gif)}*/

/*.savemini{background-image:url(/img/btn_blu_save_mini.gif)}
.mailmini{background-image:url(/img/btn_blu_email_mini.gif)}
.clearmini{background-image:url(/img/btn_blu_clear_mini.gif)}
.checkmini{background-image:url(/img/btn_blu_select_mini.gif)}

.contactmini{background-image:url(/img/btn_blu_contact_mini.gif)}
.downarwmini{background-image:url(/img/btn_blu_download_mini.gif)}

.trackmini{background-image:url(/img/btn_blu_track_mini.gif)}
.downmini{background-image:url(/img/btn_blu_sort_mini.gif)}
.upmini{background-image:url(/img/btn_blu_sort_up_mini.gif)}

.pagemini{background-image:url(/img/btn_blu_show_receipt_mini.gif)}
.printmini{background-image:url(/img/btn_blu_print_mini.gif)}*/

/*.arrowbakmini{background-image:url(/img/icn_blu_back_arrow.gif)}*/



/*-- Icon graphics (Right Placement) --*/
/*.requiredicon{background-image:url(/img/2010/icn_ylw_drk_diamond.gif)} 
.sortupicon{background-image:url(/img/2010/icn_blu_sort_up.gif)}
.sortdownicon{background-image:url(/img/2010/icn_blu_sort_down.gif)}
.newwindowicon{background-image:url(/img/2010/icn_blu_popup.gif)}
.helpicon{background-image:url(/img/2010/icn_blu_help.gif)}
.printicon{background-image:url(/img/2010/icn_blu_print.gif)}
.lockicon{background-image:url(/img/2010/icn_blu_lock.gif)}
.baktotopicon{background-image:url(/img/2010/icn_blu_back_top.gif)}
.anchoricon{background-image:url(/img/2010/icn_blu_anchor.gif)}
.diamondicon{background-image:url(/img/icn_dia.gif)}*/

	/*-- <h2> Header Bar Mod (White on Brown) --*/
	/*.mod .appHead .helpicon{background-image:url(/img/icn_help_white.gif)}*/
	/* next 2 lines added gyx2jmz 6/29 */
	/*.mod .appHead .helpIcon{background-position:right -1129px;padding:0 18px 0 0}
	.mod .appHead .printIcon{background-position:right -1060px;padding:0 18px 0 0}*/
		
	/*-- <table> <th> Bar (Black on Light Brown) --*/
	/* next block added comment gyx2jmz 6/22 */
	/*.dataTable .sortupicon{background-image:url(/img/2010/icn_blk_sort_up.gif)} */
	/*.dataTable .sortdownicon{background-image:url(/img/2010/icn_blk_sort_down.gif)}*/

	/*-- NEW JUL09 (replace blu icons with wht)
	.mod th ul li input.printicon, .pop th ul li input.printicon, .mod th ul li button.printicon, .pop th ul li button.printicon, .mod th ul li a.printicon, .pop th ul li a.printicon{background-image:url(/img/icn_print_white.gif)}
	.mod th ul li input.helpicon, .pop th ul li input.helpicon, .mod th ul li button.helpicon, pop th ul li button.helpicon, .mod th ul li a.helpicon, .pop th ul li a.helpicon{background-image:url(/img/icn_help_white.gif)}
	.mod th ul li input.arrowmini, .pop th ul li input.arrowmini, .mod th ul li button.arrowmini, pop th ul li button.arrowmini, .mod th ul li a.arrowmini, .pop th ul li a.arrowmini{background-image:url(/img/icn_arrow_white.gif )}
	.mod th ul li input.arrowbakmini, .pop th ul li input.arrowbakmini, .mod th ul li button.arrowbakmini, pop th ul li button.arrowbakmini, .mod th ul li a.arrowbakmini, .pop th ul li a.arrowbakmini{background-image:url(/img/icn_back_arrow_white.gif )}
	.mod th ul li input.newwindowicon, .pop th ul li input.newwindowicon, .mod th ul li button.newwindowicon, pop th ul li button.newwindowicon, .mod th ul li a.newwindowicon, .pop th ul li a.newwindowicon{background-image:url(/img/icn_popup_white.gif)}
	.mod th ul li input.sortdownicon, .pop th ul li input.sortdownicon, .mod th ul li button.sortdownicon, pop th ul li button.sortdownicon, .mod th ul li a.sortdownicon, .pop th ul li a.sortdownicon{background-image:url(/img/icn_sort_down_wht.gif)}
	.mod th ul li input.sortupicon, .pop th ul li input.sortupicon, .mod th ul li button.sortupicon, pop th ul li button.sortupicon, .mod th ul li a.sortupicon, .pop th ul li a.sortupicon{background-image:url(/img/icn_sort_up_wht.gif)}
	 --*/

/* ------------------------ --- ------------------------ */
/* ------------- Gradient Buttons - links -------------- */
/* ------------------------ --- ------------------------ */
/*.btnBar .gradient {margin-right:5px;}
	.secBody .btnBar .gradient {margin-right:0;}
	.secFooter .btnBar .gradient {margin-left:5px;}*/
	
		input[type="submit"]::-moz-focus-inner,
		input[type="button"]::-moz-focus-inner,
		button::-moz-focus-inner { border : 0px; }
		/*for IE8 */
		/* input[type="submit"]:focus,
		input[type="button"]:focus { outline : none; } commented out due to accessibility problems */
		

.button {font-family:Arial;padding:1px 7px 2px 7px;overflow: visible;cursor:pointer; margin-left:5px; margin-bottom:2px; color:#ffffff; font-weight:bold; font-size:1em;line-height:1.3em; text-decoration:none; text-align:center; white-space:nowrap; vertical-align:middle;}


a.button {padding:2px 10px 3px 10px; vertical-align:center; line-height:2.3em;}
.button span { color:#ffffff; font-weight:bold; font-size:1em; line-height:1.2em; text-decoration:none;}

.appFooter .btnBar .button {margin: 3px 3px 3px 0;}


.gradient .secBody .floatEnd .button {white-space:normal; width:100%; min-width:240px; margin-left:0px; height:35px}
* html .gradient .secBody .floatEnd .button {width:260px !important}

.btnGradient {background-position:0 0; overflow:hidden; background-repeat: repeat-x;}
.btnGradient:hover {color:#FFF;}

.arrowIconRight:after{content: "\0020 \00BB"; margin-right:2px;}
.arrowIconLeft:before{content: "\00AB \0020"; margin-left:2px;}


.arrowIconRightSingle:after{content: "\0020 \003E"; margin-right:2px;}
.arrowIconLeftSingle:before{content: "\003C \0020"; margin-left:2px;}


.btnGroup2{color:#000;border:none;background-color:#FFD124}
.btnGroup6{color:#FFFFFF;border:.1em solid #003436;background-color:#008198}
.btnGroup7{color:#FFFFFF;border:.1em solid #60513A;background-color:#908474}
.btnGroupLnk{color:#FFF;border:.1em solid;border-color:#9CF #66C #66C #9CF; background-color:#69F;}

	
.btnGradient2{background-image: url(/img/fb_btns_icn_arrow_m.png), url(/img/gradient_2x75_23_22.jpg);background-image: none/9; background-color:#FFD124; background-repeat: no-repeat, repeat-y; background-position:15px 1px, 0 -2px; line-height:2.2em; padding-left:45px; padding-right:25px;padding-right:45px\9;-moz-border-radius: 5px;-webkit-border-radius: 6px;border-radius: 5px;}

.btnGradient6{background-image: url(/img/gradient_btn_1x60_65_63_61.jpg); background-color:#003436; background-position:0 -2px;}
.invert6{background-image: url(/img/gradient_btn_1x60_61_63_65.jpg) !important;}
	.invert6:hover{color:#003436;}

.btnGradient7{color:#351C15;background-image: url(/img/gradient_btn_1x60_75_73_71.jpg); background-color:#60513A; background-position:0 -2px;}
/* commented out until CT can implement html change */
/*.btnRow .btnGradient7{color:#351C15;background-image: url(/img/gradient_btn_1x60_75_73_71_2.jpg); background-color:#8F8273; background-position:0 -2px;border-top-width:1px;}
.btnRow .button.btnGradient7 {padding:5px 2px;}*/
.invert7{background-image: url(/img/gradient_btn_1x60_71_73_75.jpg);border:.1em solid #60513A;background-color:#908474}
	.invert7:hover{color:#351C15;}
	/* ---------jan15 my choice redesign-------*/
	.btnGradient7:hover{background-position:0px}
	.btnGradient7.disabled{background:#CCCCCC;}
	.btnGradient7.disabled:hover{color:#999999;} 
	/* commented out until CT can implement html change */
	/*.btnRow .btnGradient7:hover{background-position:0px; color:#FFFFFF;}
	.btnRow .btnGradient7.disabled{background:#CCCCCC; color:#999999;}
	.btnRow .btnGradient7.disabled:hover{color:#999999;} 
	.btnRow .iconCol3 {display:inline; padding:0px; width:57px;}
	.btnRow .btnCol3 {display:inline; padding:0px; width:134px;}
	.btnRow .iconCol2 {display:inline; padding:0px; width:38px;}
	.btnRow .btnCol2 {display:inline; padding:0px; width:153px;}*/
	
/* ------------------------ --- ------------------------ */
/* -------------- MONSTER Buttons - links -------------- */
/* ------------------------ --- ------------------------ */
.btnMonster{line-height:2em; padding:0 10px; font-size:1.2em;}
.btnMonster span{line-height:1.9em; font-size:1.5em;}

.iconPushpin16{background-image:url(/img/icon_push_pin_16.gif);background-repeat:no-repeat}
.iconPushPinColor7116{background-image:url(/img/icon_push_pin_c71_16.gif);background-repeat:no-repeat}

/*.iconPrint{background-image:url(/img/icon_printer_onecolor_c00_16.gif);background-repeat:no-repeat}
.iconHelp{background-image:url(/img/icon_question_onecolor_c00_16.gif);background-repeat:no-repeat}
.tab .iconPrint{background-image:url(/img/icon_printer_onecolor_c21_16.gif);background-repeat:no-repeat}
.tab .iconHelp{background-image:url(/img/icon_question_onecolor_c21_16.gif);background-repeat:no-repeat}
.iconHelpR{background-image: url(/img/icon_question_onecolor_c21_16.gif);background-repeat:no-repeat;background-position:right;}

.iconArrowRtR{background-image: url(/img/icon_arrow_right_16.gif);background-repeat:no-repeat;background-position:right 0px;}
.iconArrowRt{background-image: url(/img/icon_arrow_right_16.gif);background-repeat:no-repeat}
.iconArrowLt{background-image: url(/img/icon_arrow_left_16.gif);background-repeat:no-repeat}
.iconNewWindowR{background-image: url(/img/icon_window_maximize_16.gif);background-repeat:no-repeat;background-position:right;}

.iconDiamond{background-image: url(/img/icon_diamond_16.gif);background-repeat:no-repeat}

.lstArrow li {background-image: url(/img/icon_arrow_right_16.gif) !important;background-repeat:no-repeat;background-position:0 0px;}

.xSquIcon {background-image: url(/img/icon_x_square_16.gif) !important;background-repeat:no-repeat;background-position:0 0px;}
.checkMarkSquIcon {background-image: url(/img/icon_checkmark_16.gif) !important;background-repeat:no-repeat;background-position:0 0px;}
*/
.categoryIcon16 {background-image: url(/img/icon_category_left_16.gif);background-repeat:no-repeat;background-position:0 3px;padding-right:5px;}

.assorialIconCarbonNeutral32{background-image:url(/img/icon_leaf_32.gif);background-repeat:no-repeat}
.assorialIconRefrigeration32{background-image:url(/img/icon_box_cold_32.gif);background-repeat:no-repeat}
.assorialIconDryIce32{background-image:url(/img/icon_dryice_32.gif);background-repeat:no-repeat}
.assorialIconSaturday32{background-image:url(/img/icon_box_date_32.gif);background-repeat:no-repeat}
.assorialIconReturn32{background-image:url(/img/icon_box_return_32.gif);background-repeat:no-repeat}
.assorialIconPremiumCare32{background-image:url(/img/icon_box_care_32.gif);background-repeat:no-repeat}

.checkIcon32{background-image: url(/img/icon_checkmark_cfff_bg72_32.gif);background-repeat:no-repeat}

.feedback {background-image:url(/img/icn_plus_black.gif); background-repeat:no-repeat; background-position:0 0; margin-right:4px; background-color:transparent;}
.pageHead .clamp .feedback,
.cclampFooter .appHead .feedback {background-image:url(/img/icn_plus_white.gif);}


		



/* ----------------------------------------------------- */
/* ---------------- 7310 Social Widgets ---------------- */
/* ----------------------------------------------------- */

.social button {
	cursor:pointer;
	border:1px solid #CAD4E7;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	background-image:url("/img/icon_facebook_16.gif");
	background-repeat:no-repeat;
	background-size:14px 14px;
	background-position:3px center;
	text-align:left;
	min-height:20px;
}

/* Table & span look like button*/
.socialButton {
display: inline-block;
cursor: pointer;
vertical-align: top;
}

.socialButton span span {
padding: 2px 6px 3px;
vertical-align: top;
display: inline-block;
border-top-width:1px;
border-top-style:solid;
white-space: nowrap;
}

.socialButton table {
border: 0;
border-collapse: collapse;
border-spacing: 0;
margin-bottom:0 !important;
}

.fbButtonIcon {
background-image: url(/img/icon_facebook_22.png);
background-size: auto;
background-repeat: no-repeat;
display: inline-block;
width: 22px;
height: 22px;
vertical-align: top;
}

.fbButtonBorder, .fbButtonBorder:active {
display: inline-block;
border-top-width:1px;
border-top-style:solid;
border-right-width:1px;
border-right-style:solid;
border-bottom-width:1px;
border-bottom-style:solid;
}

.gldIcnBtn {border:0px none; border-bottom:2px solid #FFD774; background-color:#FFB500; padding:10px 5px 10px 40px; background-repeat:no-repeat; background-position: 7px center; margin:0; cursor:pointer;font-weight:bold;font-size:13px;font-family:Arial, Sans-serif;min-height:52px;}
.gldIcnBtn:hover {background-color:#FFD774;}
.gldIcnBtn.disabled:hover {background-color:#CCCCCC;color:#999999;}
.gldIcnBtn.shieldIcon {background-image:url("/img/E828_shield_32_brown.png")/*url("/img/icon_myc_store.png");padding:10px 5px 10px 64px*/}
.gldIcnBtn.calIcon {background-image:url("/img/icon_myc_calendar.png");}
.gldIcnBtn.rerouteIcon {background-image:url("/img/icon_myc_arrows.png");}
.gldIcnBtn.redeliverIcon{background-image:url("/img/E072_package_car_48_brown.png");padding-left:56px;}
