/* ------------------------ --- ----------------------- */
/* ---------------------- C-Clamp --------------------- */
/* ---------------------- LEGACY ---------------------- */


/*------------*/
/*---Banner---*/
/*------------*/
#ccGloBnr {min-width:970px;max-width:970px}
div.bnrGtr {width:160px}
div.bnrGtr2 {width:800px}
	
		/*menu*/
		/* ---- */
	
	
		/*Login*/
		/* --- */
		div.navLogin dd input {width:90px}
		div.navSearch dd input {width:90px}
		div.navSearch .btn_a {width:20px}
		div.navSearch input {width:100%}
	
	
		/*Log In Modal*/
		/* ---------- */
		
			
		/*main navagation*/
		/* ------------- */



/*--------------------*/
/*---Body Container---*/
/*--------------------*/


#ccGloBody, #ccGloBdy {width:970px;}
 /*#ccCntMod {width:950px;}*/

	
		/*Sub Nav Column*/
		/*--------------*/
		/*Due to old SubNav ztr9cnb #ccGtrMod {width:230px}*/
		#ccGtrMod {width:174px}
		#ccGtrMod textarea,  #ccGtrMod select {width:215px}
		
		/*CMS Messaging*/
		/* ----------- */
	

/*---------------------------*/
/*---Application Container---*/
/*---------------------------*/

		/*Due to old SubNav ztr9cnb #ccCntMod {width:730px}*/
		#ccCntMod {width:786px}																								

/*------------*/		
/*---Footer---*/
/*------------*/
/*#ccGloFt div.ccGloFtr {width:970px}
	#ccGloFt div.nav1 {width:170px}
	#ccGloFt div.nav2 {width:190px}*/
	
	/* REMOVED ztr9cnb 10/19/09 cbarbre*/
	/*#ccGloFt div.nav3 {width:970px}*/
	
/*#ccGloFt div.nav1 input.ccGloFtrEmailInput {width:100%}*/


/* ------------------------ --- ----------------------- */
/* ---------------------- C-Clamp --------------------- */
/* --------------------- REDESIGN --------------------- */

/*------------*/		
/*---Footer---*/
/*------------*/


/* ------------------------ --- ----------------------- */
/* ---------------------- Modal ----------------------- */
/* ------------------------ 001 ----------------------- */


/* ------------------------ --- ----------------------- */
/* -------------------- Columns  ---------------------- */
/* ------------------------ 002 ----------------------- */

/*Standard Column Grid*/
/*--------------------*/
.col1 {width:30px}
.col2 {width:70px}
.col3 {width:110px}
.col4 {width:150px}
.col5 {width:190px}
.col6 {width:230px}
.col7 {width:270px}
.col8 {width:310px}
.col9 {width:350px}
.col10 {width:390px}
.col11 {width:430px}
.col12 {width:470px}
.col13 {width:510px}
.col14 {width:550px}
.col15 {width:590px}
.col16 {width:630px}
.col17 {width:670px}
.col18 {width:710px}
.col19 {width:750px}
.col20 {width:790px}
.col21 {width:830px}
.col22 {width:870px}
.col23 {width:910px}
.col24 {width:950px}
.colsuper {width:970px}

/*Section Column Grid*/ /*.col -12*/
/*-------------------*/ /* ztr9cnb updated Jul10 cbarbre 11/24/09 */
.seccol1 {width:18px}
.seccol2 {width:58px}
.seccol3 {width:98px}
.seccol4 {width:138px}
.seccol5 {width:178px}
.seccol6 {width:218px}
.seccol7 {width:258px}
.seccol8 {width:298px}
.seccol9 {width:338px}
.seccol10 {width:378px}
.seccol11 {width:418px}
.seccol12 {width:458px}
.seccol13 {width:498px}
.seccol14 {width:538px}
.seccol15 {width:578px}
.seccol16 {width:618px}
.seccol17 {width:658px}
.seccol18 {width:698px}
.seccol19 {width:738px}
.seccol20 {width:778px}
.seccol21 {width:818px}
.seccol22 {width:858px}
.seccol23 {width:898px}
.seccol24 {width:938px}

		/*Section Column Grid Inside Application Level Plain*/ 
		/*--------------------------------------------------*/ 
		
		/*Section Column Grid Inside Application Level Plain*/ 
		/*--------------------------------------------------*/ 

		/*Section Column Grid Inside Application Level Plain*/ /*.col -2*/
		/*--------------------------------------------------*/ 
		.appLvlPlain .seccol1 {width:28px}
		.appLvlPlain .seccol2 {width:68px}
		.appLvlPlain .seccol3 {width:108px}
		.appLvlPlain .seccol4 {width:148px}
		.appLvlPlain .seccol5 {width:188px}
		.appLvlPlain .seccol6  {width:228px}
		.appLvlPlain .seccol7 {width:268px}
		.appLvlPlain .seccol8 {width:308px}
		.appLvlPlain .seccol9 {width:348px}	
		.appLvlPlain .seccol10 {width:388px}
		.appLvlPlain .seccol11 {width:428px}
		.appLvlPlain .seccol12 {width:468px}
		.appLvlPlain .seccol13  {width:508px}
		.appLvlPlain .seccol14  {width:548px}
		.appLvlPlain .seccol15 {width:588px}
		.appLvlPlain .seccol16 {width:628px}
		.appLvlPlain .seccol17 {width:668px}
		.appLvlPlain .seccol18  {width:708px}
		.appLvlPlain .seccol19 {width:748px}
		.appLvlPlain .seccol20 {width:788px}
		.appLvlPlain .seccol21 {width:828px}
		.appLvlPlain .seccol22  {width:868px}
		.appLvlPlain .seccol23 {width:908px}
		.appLvlPlain .seccol24 {width:948px}

/*Sub Section Column Grid*/ /*.col -24*/ 
/*-----------------------*/
.subcol1 {width:6px}
.subcol2 {width:46px}
.subcol3 {width:86px} 
.subcol4 {width:126px}
.subcol5 {width:166px}
.subcol6 {width:206px}
.subcol7 {width:246px}
.subcol8 {width:286px}
.subcol9 {width:326px} fieldset.show .subcol9{width:296px}
.subcol10 {width:366px}
.subcol11 {width:406px}
.subcol12 {width:446px}
.subcol13 {width:486px}
.subcol14 {width:526px}
.subcol15 {width:566px}
.subcol16 {width:606px}
.subcol17 {width:646px}
.subcol18 {width:686px}
.subcol19 {width:726px}
.subcol20 {width:766px}
.subcol21 {width:806px}
.subcol22 {width:846px}
.subcol23 {width:886px}
.subcol24 {width:926px}

/*Select List Max Width Inside Section Column*/ /*.col -32*/
/*----------------------------------------------------*/ /* ztr9cnb new Jul10 cbarbre 11/24/09 */
.seccol1 select {max-width:0px}
.seccol2 select {max-width:38px}
.seccol3 select {max-width:78px}
.seccol4 select {max-width:118px}
.seccol5 select {max-width:158px}
.seccol6 select {max-width:198px}
.seccol7 select {max-width:238px}
.seccol8 select {max-width:278px}
.seccol9 select {max-width:318px}
.seccol10 select {max-width:358px}
.seccol11 select {max-width:398px}
.seccol12 select {max-width:438px}
.seccol13 select {max-width:478px}
.seccol14 select {max-width:518px}
.seccol15 select {max-width:558px}
.seccol16 select {max-width:598px}
.seccol17 select {max-width:638px}
.seccol18 select {max-width:678px}
.seccol19 select {max-width:718px}
.seccol20 select {max-width:758px}
.seccol21 select {max-width:798px}
.seccol22 select {max-width:838px}
.seccol23 select {max-width:878px}
.seccol24 select {max-width:918px}

/*Select List Max Width Inside Sub Section Column*/ /*.col -42*/
/*-----------------------------------------------*/ /* ztr9cnb new Jul10 cbarbre 11/24/09 */
.seccol1 .secLvl select,
.secLvl .subcol1 select {max-width:0px}
.seccol2 .secLvl select,
.secLvl .subcol2 select {max-width:26px}
.seccol3 .secLvl select,
.secLvl .subcol3 select {max-width:66px}
.seccol4 .secLvl select,
.secLvl .subcol4 select {max-width:106px}
.seccol5 .secLvl select,
.secLvl .subcol5 select {max-width:146px}
.seccol6 .secLvl select,
.secLvl .subcol6 select {max-width:186px}
.seccol7 .secLvl select,
.secLvl .subcol7 select {max-width:226px}
.seccol8 .secLvl select,
.secLvl .subcol8 select {max-width:266px}
.seccol9 .secLvl select,
.secLvl .subcol9 select {max-width:306px}
.seccol10 .secLvl select,
.secLvl .subcol10 select {max-width:346px}
.seccol11 .secLvl select,
.secLvl .subcol11 select {max-width:386px}
.seccol12 .secLvl select,
.secLvl .subcol12 select {max-width:426px}
.seccol13 .secLvl select,
.secLvl .subcol13 select {max-width:466px}
.seccol14 .secLvl select,
.secLvl .subcol14 select {max-width:506px}
.seccol15 .secLvl select,
.secLvl .subcol15 select {max-width:546px}
.seccol16 .secLvl select,
.secLvl .subcol16 select {max-width:586px}
.seccol17 .secLvl select,
.secLvl .subcol17 select {max-width:626px}
.seccol18 .secLvl select,
.secLvl .subcol18 select {max-width:666px}
.seccol19 .secLvl select,
.secLvl .subcol19 select {max-width:706px}
.seccol20 .secLvl select,
.secLvl .subcol20 select {max-width:746px}
.seccol21 .secLvl select,
.secLvl .subcol21 select {max-width:786px}
.seccol22 .secLvl select,
.secLvl .subcol22 select {max-width:826px}
.seccol23 .secLvl select,
.secLvl .subcol23 select {max-width:866px}
.seccol24 .secLvl select,
.secLvl .subcol24 select {max-width:906px}

/*Flexable Columns*/
/*----------------*/


div.inline4col div.floatBegin { min-height: 190px; margin-bottom:.5em; max-width: 150px; margin-right:1.7em; padding-right:.6em;margin-right:.6em;float: none;display: inline-block;vertical-align:top; word-wrap:break-word}

	/*Gadient*/
	/*-------*/



/* ------------------------ --- ----------------------- */
/* ----------------- Application Main ----------------- */
/* ------------------------ 003 ----------------------- */
.full {width:100%;}
	textarea.full {width:98%;} /*(make space for diamond)*/

	/*Default Alignment*/
	/*-----------------*/
	
	
	/*Default Spacing*/
	/*---------------*/
	
	
	/*Default Show/Hide*/
	/*-----------------*/		
	
	
	/*Default Headers*/
	/*---------------*/
	
	
	/*Default Labels*/
	/*--------------*/
	
	
	/*Default Paragraph*/
	/*-----------------*/
	
	
	/*Default List*/
	/*------------*/
	
	
	/*Default Form Fields*/
	/*-------------------*/
	
			
	/*Default Special Text*/
	/*--------------------*/	
	
	
	/*Default Links*/
	/*-------------*/
	
			/*Header Link*/
			/*-----------*/
			
			/*UPS Service Link*/
			/*----------------*/

			/*Label Link*/
			/*----------*/
			
			/*Special Text Link*/
			/*----------------*/
			
			
	/*Lines*/	
	/*-----*/
	


/* ------------------------ --- ----------------------- */
/* --------------- Application Sub Tabs --------------- */
/* ------------------------ 004 ----------------------- */


/* ------------------------ --- ------------------------ */
/* ------------------- Progress Bar -------------------- */
/* ------------------------ 005 ------------------------ */ 

/*table*/

/*list*/
.steps6 li.start {width:12%;}
.steps6 li {width:17%;}
.steps5 li.start {width:13%;}
.steps5 li {width:21%;}
.steps4 li.start {width:18%;}
.steps4 li {width:27%;}
.steps3 li.start {width:25%;}
.steps3 li {width:35%;}
.steps2 li.start {width:40%;}
.steps2 li {width:55%;}

/* ------------------------ --- ------------------------ */
/* --------------- Package Progress Bar ---------------- */
/* ------------------------ 006 ------------------------ */ 


/* ------------------------ --- ----------------------- */
/* ------------ Application Lvl - Module -------------- */
/* ------------------------ 007 ----------------------- */
	
	
	/*-------------------------------*/		
	/*---Application Modules Types*---/
	/*-------------------------------*/	
	
			/*UPS Default*/
			/*-----------*/
					

			/*Mod*/
			/*---*/
					
			
			/*Tab*/
			/*---*/
					
			
			/*Plain*/
			/*-----*/
					
			
			/*Gradient*/
			/*--------*/
			
					/*Lines*/
					/*-----*/		
					
					
			/*Support*/
			/*-------*/	
			
					/*Lines*/
					/*-----*/
					
					
			/* Printer Friendly */
			/*------------------*/	
					
			
	/* ---------------- --- ---------------- */
	/* -------- Application Header --------- */
	/* ----------------- 7A ---------------- */
			
			/*UPS Default*/
			/*-----------*/
						
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
					
					
			/*Mod*/
			/*---*/
															
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
					
			
			/*Tab*/
			/*---*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
			
			
			/*Plain*/
			/*-----*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
			
			
			/*Gradient*/
			/*--------*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
	

	/* -------------- --- --------------- */
	/* -------- Application Body -------- */
	/* ------------- 007B --------------- */
	
			/*UPS Default*/
			/*-----------*/			

			/*Mod*/
			/*---*/

			/*Tab*/
			/*---*/		
			
			/*Plain*/
			/*-----*/

			/*Gradient*/
			/*--------*/
			
			/*Support*/
			/*--------------*/
		
					/*5th Column Support Module*/ /*support links - support content*/
					/*-------------------------*/
				
					/*Call Out Message*/ /*Other website Information (Links and Content) - Below Application Module - Landing Page*/
					/*-------------------------*/

					/*Navagation Module*/ /*Within SubNav*/
					/*-------------------------*/
			

	/*paragraph*/
	/*---------*/


	/*headers*/
	/*-------*/
	
	
	/*list*/
	/*-----*/
	
	
	/*tables*/
	/*------*/
		


	/* ------------------------ --- ----------------------- */
	/* ---------------- Application Footer ---------------- */
	/* ----------------------- 007B ----------------------- */
	
		/*button bar*/		

				/*button links*/
				
						/*Plain*/
				
	
				
/* ------------------------ --- ------------------------ */
/* ------------------ Section Modules ------------------ */
/* ------------------------ 008 ------------------------ */

		/*Step*/
		/*----*/

		/*Alternate*/
		/*---------*/

		/*Gradient*/
		/*--------*/		
		
		/*Plain*/
		/*-----*/
		
		/*Preferences*/
		/*-----------*/

		
		/*Message*/
		/*-------*/
		
					/*Lines*/
					/*-----*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/
					
								/*Lines*/
								/*-----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
					
								/*Lines*/
								/*-----*/

								
		/* Table Border Table*/
		/*-------------------*/		

							/*data table*/
							/*----------*/

		/* Table Only Table*/
		/*-----------------*/		

							/*data table*/
							/*----------*/

										/*table*/
										/*-----*/

		/* Table Scroll Window*/
		/*--------------------*/

					/*table*/
					/*-----*/



		/*Expandable*/
		/*----------*/
		
		
		/*Content Type */
		/*-------------*/
		
		/*link div*/
		/*--------*/
		
							
				/*header*/
				/*------*/
		
				/*body*/
				/*----*/
		
						/*links*/
						/*-----*/
						
						/*images*/
						/*------*/
		
						/*paragraph*/
						/*---------*/
		
						/*list*/
						/*----*/
		
						/*block quotes*/
						/*------------*/
		
						/*tables*/
						/*------*/
		
		
				/*footer*/
				/*------*/
				
				
		/*--- ------------------------- ---*/
		/* --- CMS Tracking Detail Msg --- */
		/*--- ------------------------- ---*/
		
		
		
		/*--- -------------------- ---*/
		/* --- CMS Message Module --- */
		/*--- -------------------- ---*/
		
		
		
		/*--- ---------------- ---*/
		/*--- CMS Plain Module ---*/
		/*--- ---------------- ---*/
		
		
		/*--- --------------------- ---*/
		/*--- CMS Media Only Module ---*/
		/*--- --------------------- ---*/
		
		
		/*--- -------------------- ---*/
		/*--- CMS Horzontal Module ---*/
		/*--- -------------------- ---*/
		
		
		/*--- -------------------- ---*/
		/*--- CMS Gradient Module ---*/
		/*--- -------------------- ---*/
		
				/*headers*/
				/*-------*/
				
				/*body*/
				/*----*/
				
						/*link div hover*/
						/*--------------*/
		
		/*--- -------------------- ---*/		
		/* ---------- LEGACY -------- */
		/*--- -------------------- ---*/
																							
											/*adobe download*/ /*v2*/
		
										
											/*value added services*/ /*v2*/
		
											
											/*search support*/ /*v3*/
		
											
											/*Table*/ /*v2*/ /*hard coded color old brown*/
		
											
											/*tracking module*/
				
	
	/* ------------- --- --------------- */
	/* ------- Section Header ---------- */
	/* ------------- 008A -------------- */
	
	
	/*Header*/
	/*------*/

	
	/*Support Links*/
	/*-------------*/

	
			/*Step*/
			/*----*/

					/* Numbers*/
					/*--------*/

	
			/*Alternate*/
			/*---------*/
			
		
			/*Gradient*/
			/*--------*/

			
			/*Plain*/
			/*-----*/


			/*Preferences*/
			/*-----------*/
			
			
			/*Message*/
			/*-------*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
								
		
		/* Table Border Table*/
		/*-------------------*/		

							/*data table*/
							/*----------*/
							
							

		/* Table Only Table*/
		/*-----------------*/		
		
							/*data table*/
							/*----------*/

										/*table*/
										/*-----*/
	
	
		/* Table Scroll Window*/
		/*--------------------*/

					/*table*/
					/*-----*/
					
					
		/*Expandable*/
		/*----------*/

	

		
	/* ------------ --- -------------- */
	/* ------- Section Body ---------- */
	/* ------------ 008B ------------- */
	
	
			/*Default*/
			/*-------*/	
	
	
			/*Step*/
			/*----*/
			
				
			/*Alternate*/
			/*---------*/
			
		
			/*Gradient*/
			/*--------*/


			/*Plain*/
			/*-----*/

			
			/*Preferences*/
			/*-----------*/
			
			
			/*Message*/
			/*-------*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/

		
			/* Table Border Table*/
			/*-------------------*/		

								/*data table*/
								/*----------*/


			/* Table Only Table*/
			/*-----------------*/		
			
			
								/*data table*/
								/*----------*/

											/*table*/
											/*-----*/
		
		
			/* Table Scroll Window*/
			/*--------------------*/

						/*table*/
						/*-----*/
						
						
			/*Expandable*/
			/*----------*/


		
	/* ------------- --- --------------- */
	/* ------- Section Footer ---------- */
	/* ------------- 008C -------------- */




/* ------------------------ --- ------------------------ */
/* --------- Sub Module Inside Section Modules --------- */
/* ------------------------ 009 ------------------------ */ 

		/*Step*/
		/*----*/
		
		/*Alternate*/
		/*---------*/

		/*Gradient*/
		/*--------*/
		
		/*Plain*/
		/*-----*/

					/*Sub plain*/
								/*Sub x2 plain*/

		/*Preferences*/
		/*-----------*/

		/*Message*/
		/*-------*/
					/*Sub support*/

					/*Sub message*/

					/*Sub sell*/

					/*Sub critical*/

					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					

/* ------------------------ --- ------------------------ */
/* --------------- Input Output Form Data -------------- */
/* ------------------------ 010 ------------------------ */ 

/*Input Widths Inside Seccol*/  /*.seccol -16*/
/*--------------------------*/

.formcol2{width:42px} /* ext*/ /* first initial*/
.formcol3 {width:82px}  /*zip*/ /*dates (datepicker icon does not fit)*/
	.hasDatepicker {width:97px !important}
.formcol4 {width:122px}
.formcol5 {width:162px} /*telephone*/
.formcol6 {width:202px} /* short email */
.formcol7 {width:242px} /*address lines, contact, email*/
.formcol8 {width:282px}
.formcol9 {width:322px}
.formcol10 {width:362px}
.formcol11 {width:402px}
.formcol12 {width:442px} /*text, instructions*/
.formcol13 {width:482px}
.formcol14 {width:522px}
.formcol15 {width:562px}
.formcol16 {width:602px}

/*Input Widths Inside Subcol*/  /*.subcol -16*/
/*--------------------------*/

.subcol .formcol2{width:30px} 
.subcol .formcol3 {width:70px}
.subcol .formcol4 {width:110px}
.subcol .formcol5 {width:150px}
.subcol .formcol6 {width:190px}
.subcol .formcol7 {width:230px} 
.subcol .formcol8 {width:270px}
.subcol .formcol9 {width:310px}
.subcol .formcol10 {width:350px}
.subcol .formcol11 {width:390px}
.subcol .formcol12 {width:430px} 
.subcol .formcol13 {width:470px}
.subcol .formcol14 {width:510px}
.subcol .formcol15 {width:550px}
.subcol .formcol16 {width:590px}

/*Definition List*/
/*---------------*/

		/*Flex Width*/	
		/*----------*/	
		
		/*Inline*/
		/*------*/	
		
		/*Bullet Definition Title*/
		/*-----------------------*/

/*Div Sections*/
/*------------*/

		/*Output Horozonal Flex*/
		/*---------------------*/
		
		/*Output Horozonal Fixed Width*/
		/*----------------------------*/
		.outHozFixed dt{width:258px}
		.outHozFixed dd.fixed{width:178px;}
	
		/*Output Horozonal Fixed Width One*/
		/*--------------------------------*/
		.outHozFixed1 dt{width:338px}
		.outHozFixed1 dd.fixed{width:138px;}
		
		/*Output Horozonal Fixed Width Two*/
		/*--------------------------------*/
		.outHozFixed2 dt{width:418px}
		.outHozFixed2 dd.fixed{width:98px;}
		
					/*Output Horozonal Fixed Brand Grid*/
					/*---------------------------------*/
					.outHozFixedCol1 dt{width:18px}
					.outHozFixedCol2 dt{width:58px}
					.outHozFixedCol3 dt{width:98px}
					.outHozFixedCol4 dt{width:138px}
					.outHozFixedCol5 dt{width:178px}
					.outHozFixedCol6 dt{width:218px}
					.outHozFixedCol7 dt{width:258px}
					.outHozFixedCol8 dt{width:298px}
					.outHozFixedCol9 dt{width:338px}
					.outHozFixedCol10 dt{width:378px}
					.outHozFixedCol11 dt{width:418px}
					.outHozFixedCol12 dt{width:458px}
					.outHozFixedCol13 dt{width:498px}
					.outHozFixedCol14 dt{width:538px}
					.outHozFixedCol15 dt{width:578px}
					.outHozFixedCol16 dt{width:618px}
					.outHozFixedCol17 dt{width:658px}
					.outHozFixedCol18 dt{width:698px}
					.outHozFixedCol19 dt{width:738px}
					.outHozFixedCol20 dt{width:778px}
					.outHozFixedCol21 dt{width:88px}
					.outHozFixedCol22 dt{width:858px}
					.outHozFixedCol23 dt{width:898px}
					.outHozFixedCol24 dt{width:938px}
					.outHozFixedColsuper dt{width:958px}
		
	
		/* Ledger */ 
		/*--------*/
		
		/* checkbox/radio row/column list*/
		/*-------------------------------*/
			.sel3 {min-width:78px}
			.sel4 {min-width:118px}
			.sel5 {min-width:158px}
	
	
/* ------------------------ --- ------------------------ */
/* ------------------- Scroll Window ------------------- */
/* ------------------------ 011 ------------------------ */ 

	/*paragraph*/
	/*---------*/
	
	/*list*/
	/*----*/
	
/* ------------------------ --- ------------------------ */
/* --------------------- Pagination ---------------------*/
/* ------------------------ 012 ------------------------ */


/* ------------------------ --- ------------------------ */
/* --------------------- Data Table -------------------- */
/* ------------------------ 013 ------------------------ */
		
		/*Rows*/
		/*----*/
	
			
			/*Columns*/
			/*-------*/
			
			
			/*Cells*/
			/*-----*/	
			
					/*header*/
					/*------*/

							/*links*/
							/*-----*/
							
							
/* Selection List Table*/
/*---------------------*/

				/*Rows*/
				/*----*/		
			
				/*Columns*/
				/*-------*/
				
				/*Cells*/
				/*-----*/	
				
						/*header*/
						/*------*/
						
						
								/*links*/
								/*-----*/	
		
					/* checkbox-radio column or numbered cell */


/* Plain Table*/
/*------------*/	


/* ------------------------ --- ------------------------ */
/* ------------- Buttons - Input & Buttons ------------- */
/* ------------------------ 014 ------------------------ */

/*buttons - inputs*/
/*----------------*/

/*disabled*/
/*--------*/


/* ------------------------ --- ------------------------ */
/* ---- Button Links - Input, Button, A Href & Span ---- */
/* ------------------------ 015 ------------------------ */

/*buttons - inputs*/
/*----------------*/

/*a href*/
/*------*/

/*span*/
/*----*/

/*label*/
/*-----*/


/* ------------------------ --- ------------------------ */
/* ------------------ Popup/PFV Window ----------------- */
/* ------------------------ 016 ------------------------ */


/* ------------------------ --- ------------------------ */
/* --------------------- List Items -------------------- */
/* ------------------------ 017 ------------------------ */

/*Default Unordered List*/
/*----------------------*/

/*Inline List*/
/*-----------*/

/*Arrow List*/
/*----------*/

/*Bullet List*/
/*-----------*/

/*Anchor Arrow List*/
/*-----------------*/

/*Credit Card Images*/
/*------------------*/

	/*-- Credit Card Images in <dd> Inline with Input --*/


/* ----------------------------------------------------- */
/* -------------------- Accessibility ------------------ */
/* ----------------------------------------------------- */
.visually-hidden { position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

#skip_link {
    position: absolute;
    width: 140px;
    background: #ffb500;
    padding: 5px;
    text-align: center;
    color: #351c15;
    top: -100px;
    left: 50%;
    margin-left: -70px;
    font-family: "UPSSans", Tahoma, helvetica, arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8em;
    max-height: 40px;
    z-index: 1001;
    -moz-transition-property: top;
    -o-transition-property: top;
    -webkit-transition-property: top;
    transition-property: top;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#skip_link:focus {
    top: 0;
}


/* ------------------------ --- ------------------------ */
/* --------------------- Note Section ------------------ */
/* ------------------------ 018 ------------------------ */

#cc_search_wrapper {
	position: absolute;
	right: 5px;
	top: 30px;
}

/* ------------------------ --- ------------------------ */
/* --------------------- Hide Body --------------------- */
/* ------------------------ --- ------------------------ */
.secLvl.hideBody .secHead {
	margin-bottom: 0;
}
.secLvl.hideBody .secBody {
	display: none;
}
