/* ------------------------ --- ----------------------- */
/* ---------------------- C-Clamp --------------------- */
/* ---------------------- LEGACY ---------------------- */

input.btn_a{font-family:arial,sans-serif;font-size:1em;font-weight:bold}


/*------------*/
/*---Banner---*/
/*------------*/
.bnrGtr2 h1{line-height:1.8em}
	
	
		/*menu*/
		/* -- */
		.ccpnmenu a{font-weight:bold; font-size:.9em}
	
	
		/*Login*/
		/* --- */
		div.navLogin a, div.navSearch a {font-weight:bold;font-size:.84em} /* Noel was here */
		div.navSearch dd input{font-size:.84em}
		div.navSearch input {font-weight:bold}
		div.navLogin dt  { font-size: .84em; line-height: 1.5em;}
		div.navLogin dt label { font-size: 1em; }
	
	
		/*Log In Modal*/
		/* ---------- */
		.hovHelpBrw div.modHead h3 {font-weight:bold}
		div.login button.btn {font-size:0.75em}
	
	
		/*main navagation*/
		/* ------------- */
		#ccGloBnr #nav1 ul, #ccGloBnr #nav1 li {line-height:1.2em}

/*--------------------*/
/*---Body Container---*/
/*--------------------*/

		/*Sub Nav Column*/
		/*--------------*/
		.ccsnmnavlv1 {font-size:1em;font-weight:bold;line-height:1.3em}
		.ccsnmnavlv2 a, .ccsnmnavlv3 a, .ccsnmnavlv4 a, .ccsnmnavlv5 a {font-size:0.9em;font-weight:normal;line-height:1.3em}
		.ccsnmnavlv2sel, .ccsnmnavlv3sel, .ccsnmnavlv4sel, .ccsnmnavlv5sel {font-size:0.9em;font-weight:bold;line-height:1.3em}
		
		
		.ccbmmbg1 {text-align:center}
		
		#ccGtrMod div.modHead h3 {font-weight:bold}
		
		#ccGtrMod .mod th {text-align:left}
		#ccGtrMod td.btn-bar {text-align:left}
		#ccGtrMod td.btn-bar div.btn-colFull {text-align:right}


		/*CMS Messaging*/
		/* ----------- */
		.cclccmtxt1 {font-size:1em;font-weight:bold}
		.cclccmtxt3 {font-size:.9em}
		
		
/*---------------------------*/
/*---Application Container---*/
/*---------------------------*/
	
	
/*------------*/		
/*---Footer---*/
/*------------*/
/*#ccGloFt dt {font-weight:bold}
#ccGloFt div.ccGloFtr input,
#ccGloFt div.ccGloFtr a {font-size:0.9em}
#ccGloFt div.nav1 dd.indent {font-size:0.9em}

#ccGloFt div.nav1 input.ccGloFtrEmailInput {font-weight:bold}*/


/* ------------------------ --- ----------------------- */
/* ---------------------- C-Clamp --------------------- */
/* --------------------- REDESIGN --------------------- */

/*------------*/		
/*---Footer---*/
/*------------*/
.cclampFooter .button {font-size:.9em; /*REMOVED WITH IE8 COMPAT VIEW line-height:1em;*/}
	.cclampFooter .appLvlPlain .appHead dt,
	.cclampFooter .appLvlPlain .appHead dd {line-height:1.7em}

/* ------------------------ --- ----------------------- */
/* ---------------------- Modal ----------------------- */
/* ------------------------ 001 ----------------------- */


/* ------------------------ --- ----------------------- */
/* -------------------- Columns  ---------------------- */
/* ------------------------ 003 ----------------------- */

/*Standard Column Grid*/
/*--------------------*/

/*Section Column Grid*/ 
/*-------------------*/ 

		/*Section Column Grid Inside Application Level Plain*/ 
		/*--------------------------------------------------*/ 
		
		/*Section Column Grid Inside Application Level Plain*/ 
		/*--------------------------------------------------*/ 
		
		/*Section Column Grid Inside Application Level Plain*/
		/*--------------------------------------------------*/ 
		
		
/*Sub Section Column Grid*/
/*-----------------------*/

/*Select List Max Width Inside Section Column*/ 
/*----------------------------------------------------*/ 


/*Select List Max Width Inside Sub Section Column*/ 
/*-----------------------------------------------*/ 

/*Flexable Columns*/
/*----------------*/

	/*Gadient*/
	/*-------*/


/* ------------------------ --- ----------------------- */
/* ----------------- Application Main ----------------- */
/* ------------------------ 003 ----------------------- */

	/*Default Alignment*/
	/*-----------------*/
	
	
	/*Default Spacing*/
	/*---------------*/
	
	
	/*Default Show/Hide*/
	/*-----------------*/		
	
	
	/*Default Headers*/
	/*---------------*/
	/* next line added 6/9/09 gyx2jmz */
	/* removed "Trebuchet MS" by denete 8/27/09 */
	/* ztr9cnb removed "color" by ztr9cnb 10/19/09 */
	h1, h2, h3, h4, h5, h6{font-family:Arial, sans-serif;font-weight:bold;/*font-family:"Trebuchet MS",Arial, sans-serif;color:#60513a;line-height:2.2em;*/}
			
	h1{/*font-family:Verdana,Sans-serif;*/font-size:1.4em;/*font-weight:900;*/line-height:2.2em}
	/* next line added 6/9/09 gyx2jmz */
	/* Removed 10/19/09 ztr9cnb h1 {font-size:1.6em;font-weight:bold} */
	/* Removed 10/19/09 ztr9cnb h1 sup{font-size:1.2em;line-height:2.2em}*/
	
	h2{font-size:1.2em;line-height:1.4em}
	/* next line added 6/9/09 gyx2jmz
	h2{font-size:1.3em} *//* Removed 10/19/09 ztr9cnb */
	h2 span a{font-weight:normal;}
	
	h3{font-size:1.1em;line-height:1.4em}
	/* next line added 6/9/09 gyx2jmz 
	h3{font-size:1.2em}*/ /* Removed 10/19/09 ztr9cnb */
		h3 span {font-size:.9em;font-weight:normal}
	
		h3 span a {font-size:inherit;font-weight:inherit;text-decoration: underline;}
		
		
		.alternate h3 {font-size:1.4em;line-height:1.6em}
		.alternate h3 a {font-size:1em;line-height:1.4em;text-decoration: none; }
		.alternate h3 a:hover {text-decoration: underline; }
		
		
		.alternate h3 span {font-size:.8em;font-weight:normal;} 
		.alternate h3 span a {font-size:inherit;font-weight:normal;} 
		
		
		.alternate h4 span a { font-weight: normal; text-decoration: normal; }
		.alternate h4 span { font-weight: normal;}
		
		.detail h3  {font-size:1.4em}
		/**/.detail h3 span {font-size:.7em}
	
	
	h4{font-size:1.1em;line-height:1.4em}
	/* next line added 6/9/09 gyx2jmz */
	h4 a{font-weight:bold; font-size:1.0em}
		.gradient h4 {font-size:1.4em;line-height:1.9em}
		.gradient h4 span {font-size:1em;line-height:1.9em}
		
	h5{font-size:1.1em;line-height:1.4em}
	h5 a{font-weight:bold; font-size:1.0em}
		.gradient h5 {font-size:1.4em;line-height:1.6em}
		.gradient h5 span {font-size:1em;line-height:1.2em}

	/*Default Labels*/
	/*---------------*/
	label, span.label{font-weight:bold}
	/*label a{font-weight:bold}*/
	label.sel, span.sel{font-weight:normal}
	label.sel a, span.sel {font-weight:normal}
	/*label.selHov a{font-weight:normal}*/
	
	
	
	
	/*Default List*/
	/*------------*/
	
	
	/*Default Form Fields*/
	/*-------------------*/
	input, textarea, select {font-size:1em;}


	/*Default Special Text*/
	/*--------------------*/
	.error {font-weight:bold}
	.criticalMessage {font-weight:bold}
	.reqTxtInst {font-weight:normal; font-size:0.875em}
			input.reqTxtInst,
			textarea.reqTxtInst,
			#passwordlabel.reqTxtInst{font-style:italic;font-size:1em;}
			span.reqTxtInst{font-style:italic;}
			
			
			.trk-grid div.reqTxtInst{font-style:italic;}
			
	.totals {font-weight:bold}
	/* ztr9cnb new Jul10 cbarbre 10/19/09 */
	/*sup{font-size:inherit}*/
	sup{font-size:.8em; line-height:.5em}
	small{font-size:.8em} /*LEGACY CMS*/
	
	/*Default Links*/
	/*-------------*/
	
			/*Header Link*/
			/*-----------*/
	
			/*UPS Service Link*/
			/*----------------*/
			a.service{font-weight:bold; font-size:1.2em !important}

			/*Label Link*/
			/*----------*/
			
			/*Special Text Link*/
			/*----------------*/
			
	/*Lines*/	
	/*-----*/
	.hr{font-size:0;}


/* ------------------------ --- ----------------------- */
/* --------------- Application Sub Tabs --------------- */
/* ------------------------ 004 ----------------------- */
/*.subTab li {font-size:1em}*/
.tab-on{font-weight:bold}
.tab-off{font-weight:bold}


/* ------------------------ --- ------------------------ */
/* ------------------- Progress Bar -------------------- */
/* ------------------------ 005 ------------------------ */ 

/*table*/
.progress h3{font-size:1.0em}
.progress td.on{font-weight:bold}
.progress td.lastOn{font-weight:bold}

/*list*/
.lstProgress li {font-weight:bold;}
.lstProgress .number {font-size:3.3em; font-weight:bold; }

	.steps6 .number {font-size:2.5em}
	.steps6 .title {font-size:.9em}
	
	
	/* minify */
	.pBminify .lstProgress .number {font-size:2em; font-weight:bold;} 

/* ------------------------ --- ------------------------ */
/* --------------- Package Progress Bar ---------------- */
/* ------------------------ 006 ------------------------ */ 


/* ------------------------ --- ----------------------- */
/* ------------ Application Lvl - Module -------------- */
/* ------------------------ 007 ----------------------- */

	/*-------------------------------*/		
	/*---Application Modules Types*---/
	/*-------------------------------*/	
	
			/*UPS Default*/
			/*-----------*/


			/*Mod*/
			/*---*/

			
			/*Tab*/
			/*---*/
			
			
			/*Plain*/
			/*-----*/
			
			
			/*Gradient*/
			/*--------*/
			
					/*Lines*/
					/*-----*/		
					
					
			/*Support*/
			/*-------*/	
			
					/*Lines*/
					/*-----*/
					
							
			/* Printer Friendly */
			/*------------------*/	
					

	/* ---------------- --- ---------------- */
	/* -------- Application Header --------- */
	/* ----------------- 7A ---------------- */
			
			/*UPS Default*/
			/*-----------*/
						
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
					.appHead ul li{line-height:1.6em}
			
			
			/*Mod*/
			/*---*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
					
					
			/*Tab*/
			/*---*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
			
			
			/*Plain*/
			/*-----*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
			
			
			/*Gardient*/
			/*--------*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/


	/* -------------- --- --------------- */
	/* -------- Application Body -------- */
	/* ------------- 007B --------------- */
	
			/*UPS Default*/
			/*-----------*/			

			/*Mod*/
			/*---*/

			/*Tab*/
			/*---*/		
			
			/*Plain*/
			/*-----*/

			/*Gradient*/
			/*--------*/
			
			/*Support*/
			/*--------------*/
		
					/*5th Column Support Module*/ /*support links - support content*/
					/*-------------------------*/
				
					/*Call Out Message*/ /*Other website Information (Links and Content) - Below Application Module - Landing Page*/
					/*-------------------------*/

					/*Navagation Module*/ /*Within SubNav*/
					/*-------------------------*/
			

	/*paragraph*/
	/*---------*/


	/*headers*/
	/*-------*/
	
	
	/*list*/
	/*-----*/
	
	
	/*tables*/
	/*------*/
		
		
		
		
/*-- Default Modules --*/
/*.mod .modHead h2{line-height:1.3em}*/

		
/*-- Tab Modules --*/
/*.tab .modHead h2{line-height:1.3em}
.tab .modHead ul li{font-weight:normal}
.tab dd{}*/
		
/*-- Print/Pop Up White Bg Modules --*/


/*Intro Paragraph*/

/*Lines*/
/*.hr{line-height:1px}*/

/*Other*/

	/* -------------- --- ------------------ */
	/* --------- Application Footer -------- */
	/* -------------- 007B ----------------- */
	
		/*button bar*/		

				/*button links*/
				
						/*Plain*/
						
						

/* ------------------------ --- ------------------------ */
/* ------------------ Section Modules ------------------ */
/* ------------------------ 008 ------------------------ */

		/*Step*/
		/*----*/

		/*Alternate*/
		/*---------*/

		/*Gradient*/
		/*--------*/		
		
		/*Plain*/
		/*-----*/
		
		/*Preferences*/
		/*-----------*/

		
		/*Message*/
		/*-------*/
		
					/*Lines*/
					/*-----*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/
					
								/*Lines*/
								/*-----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
					
								/*Lines*/
								/*-----*/

								
		/* Table Border Table*/
		/*-------------------*/		

							/*data table*/
							/*----------*/

		/* Table Only Table*/
		/*-----------------*/		

							/*data table*/
							/*----------*/

										/*table*/
										/*-----*/

		/* Table Scroll Window*/
		/*--------------------*/

					/*table*/
					/*-----*/



		/*Expandable*/
		/*----------*/
		

		/*Content Type */
		/*-------------*/
		
		/*link div*/
		/*--------*/
		
							
				/*header*/
				/*------*/
				.contentType .cmsMsg h3{font-size:1.5em}
				
				/*body*/
				/*----*/
		
						/*links*/
						/*-----*/
						
						/*images*/
						/*------*/
		
						/*paragraph*/
						/*---------*/
		
						/*list*/
						/*----*/
		
						/*block quotes*/
						/*------------*/
		
						/*tables*/
						/*------*/
		
		
				/*footer*/
				/*------*/
				
				
		/*--- ------------------------- ---*/
		/* --- CMS Tracking Detail Msg --- */
		/*--- ------------------------- ---*/
		
		
		
		/*--- -------------------- ---*/
		/* --- CMS Message Module --- */
		/*--- -------------------- ---*/
		.contentType .cmsMsgModule .secHead h3 {font-size:1.2em}
		
		
		/*--- ---------------- ---*/
		/*--- CMS Plain Module ---*/
		/*--- ---------------- ---*/
		
		
		/*--- --------------------- ---*/
		/*--- CMS Media Only Module ---*/
		/*--- --------------------- ---*/
		
		
		/*--- -------------------- ---*/
		/*--- CMS Horzontal Module ---*/
		/*--- -------------------- ---*/
		
		
		/*--- -------------------- ---*/
		/*--- CMS Gradient Module ---*/
		/*--- -------------------- ---*/
		
				/*headers*/
				/*-------*/
				
				/*body*/
				/*----*/
				
						/*link div hover*/
						/*--------------*/
						
		
		/*--- -------------------- ---*/		
		/* ---------- LEGACY -------- */
		/*--- -------------------- ---*/
																							
											/*adobe download*/ /*v2*/
		
										
											/*value added services*/ /*v2*/
		
											
											/*search support*/ /*v3*/
		
											
											/*Table*/ /*v2*/ /*hard coded color old brown*/
		
											
											/*tracking module*/
				
				
				
	/* ------------- --- --------------- */
	/* ------- Section Header ---------- */
	/* ------------- 008A -------------- */
	
	
	/*Header*/
	/*------*/

	
	/*Support Links*/
	/*-------------*/

	
			/*Step*/
			/*----*/

					/* Numbers*/
					/*--------*/
					.stepNumber{font-weight:bold}
					.stepNumberDiv{line-height:1.1em}

	
			/*Alternate*/
			/*---------*/
			
		
			/*Gradient*/
			/*--------*/
			
					/*Support Links*/
					/*-------------*/
					.gradient ul.countDown li {font-size:.9em;  font-weight:bold;}
					.gradient ul.countDown li.number {font-size:2.0em;}

			
			/*Plain*/
			/*-----*/


			/*Preferences*/
			/*-----------*/
			
			
			/*Message*/
			/*-------*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
								
		
		/* Table Border Table*/
		/*-------------------*/		

							/*data table*/
							/*----------*/
							
							

		/* Table Only Table*/
		/*-----------------*/		
		
							/*data table*/
							/*----------*/

										/*table*/
										/*-----*/
	
	
		/* Table Scroll Window*/
		/*--------------------*/

					/*table*/
					/*-----*/
					
					
		/*Expandable*/
		/*----------*/

	

		
	/* ------------ --- -------------- */
	/* ------- Section Body ---------- */
	/* ------------ 008B ------------- */
	
	
			/*Default*/
			/*-------*/	
	
	
			/*Step*/
			/*----*/
			
				
			/*Alternate*/
			/*---------*/
			
		
			/*Gradient*/
			/*--------*/


			/*Plain*/
			/*-----*/

			
			/*Preferences*/
			/*-----------*/
			
			
			/*Message*/
			/*-------*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/

		
			/* Table Border Table*/
			/*-------------------*/		

								/*data table*/
								/*----------*/


			/* Table Only Table*/
			/*-----------------*/		
			
			
								/*data table*/
								/*----------*/

											/*table*/
											/*-----*/
		
		
			/* Table Scroll Window*/
			/*--------------------*/

						/*table*/
						/*-----*/
						
						
			/*Expandable*/
			/*----------*/


		
	/* ------------- --- --------------- */
	/* ------- Section Footer ---------- */
	/* ------------- 008C -------------- */




/* ------------------------ --- ------------------------ */
/* --------- Sub Module Inside Section Modules --------- */
/* ------------------------ 009 ------------------------ */ 

		/*Step*/
		/*----*/
		
		/*Alternate*/
		/*---------*/

		/*Gradient*/
		/*--------*/
		
		/*Plain*/
		/*-----*/

					/*Sub plain*/
								/*Sub x2 plain*/

		/*Preferences*/
		/*-----------*/

		/*Message*/
		/*-------*/
					/*Sub support*/

					/*Sub message*/

					/*Sub sell*/

					/*Sub critical*/

					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					

/* ------------------------ --- ------------------------ */
/* --------------- Input Output Form Data -------------- */
/* ------------------------ 010 ------------------------ */ 

/*Definition List*/
/*---------------*/

		/*Flex Width*/	
		/*----------*/	
		
		/*Inline*/
		/*------*/	
		
		/*Bullet Definition Title*/
		/*-----------------------*/

/*Div Sections*/
/*------------*/

		/*Output Horozonal Flex*/
		/*---------------------*/
		
		/*Output Horozonal Fixed Width*/
		/*----------------------------*/

		/*Output Horozonal Fixed Width One*/
		/*--------------------------------*/
		
		/*Output Horozonal Fixed Width Two*/
		/*--------------------------------*/
		
					/*Output Horozonal Fixed Brand Grid*/
					/*---------------------------------*/
					
		
		/* Ledger */ 
		/*--------*/
		
		/* checkbox/radio row/column list*/
		/*-------------------------------*/


/* ------------------------ --- ------------------------ */
/* ------------------- Scroll Window ------------------- */
/* ------------------------ 011 ------------------------ */

	/*paragraph*/
	/*---------*/
	
	/*list*/
	/*----*/
	

/* ------------------------ --- ------------------------ */
/* --------------------- Pagination ---------------------*/
/* ------------------------ 012 ------------------------ */
.pagination .btn {font-size:0.8em}
.pagination .button {font-size:0.8em; font-weight:bold}

.pagination .on,
.pagination .off {font-size:0.75em}


/* ------------------------ --- ------------------------ */
/* --------------------- Data Table -------------------- */
/* ------------------------ 013 ------------------------ */
		
		/*Rows*/
		/*----*/
	
			
			/*Columns*/
			/*-------*/
			
			
			/*Cells*/
			/*-----*/	
			
					/*header*/
					/*------*/

							/*links*/
							/*-----*/
							.dataTable table th a:hover {font-weight:bold}
							
/* Selection List Table*/
/*---------------------*/

				/*Rows*/
				/*----*/		
			
				/*Columns*/
				/*-------*/
				
				/*Cells*/
				/*-----*/	
				
						/*header*/
						/*------*/
						
						
								/*links*/
								/*-----*/	
		
					/* checkbox-radio column or numbered cell */


/* Plain Table*/
/*------------*/	


/* ------------------------ --- ------------------------ */
/* ------------- Buttons - Input & Buttons ------------- */
/* ------------------------ 014 ------------------------ */

/*buttons - inputs*/
/*----------------*/
input.btn,
input.btnArw,
input.btnBackArw,
button.btnArw,
button.btnBackArw,
input.btnArwSingle,
button.btnArwSingle,
input.btnBackArwSingle,
button.btnBackArwSingle,
button.btn{font-family:arial,sans-serif;font-weight:bold;font-size:1.0em}

/*disabled*/
/*--------*/

/* ------------------------ --- ------------------------ */
/* ---- Button Links - Input, Button, A Href & Span ---- */
/* ------------------------ 015 ------------------------ */

/*buttons - inputs*/
/*----------------*/
button.btnlnkL,
input.btnlnkL{font-family:arial,sans-serif;font-size:1.0em}

button.btnlnkR, 
input.btnlnkR{font-family:arial,sans-serif;font-size:1.0em}

/*a href*/
/*------*/
a.btnlnkL,
a.btnlnkR{font-size:1.0em;}

/*span*/
/*----*/

/*label*/
/*-----*/



/* ------------------------ --- ------------------------ */
/* ------------------ Popup/PFV Window ----------------- */
/* ------------------------ 016 ------------------------ */


/* ------------------------ --- ------------------------ */
/* --------------------- List Items -------------------- */
/* ------------------------ 017 ------------------------ */

/*Default Unordered List*/
/*----------------------*/

/*Inline List*/
/*-----------*/

/*Arrow List*/
/*----------*/

/*Bullet List*/
/*-----------*/

/*Anchor Arrow List*/
/*-----------------*/

/*Credit Card Images*/
/*------------------*/

	/*-- Credit Card Images in <dd> Inline with Input --*/
 
/* ------------------------ --- ------------------------ */
/* --------------------- Note Section ------------------ */
/* ------------------------ 018 ------------------------ */




/* ----------------------------------------------------- */
/* ---------------- 7310 Social Widgets ---------------- */
/* ----------------------------------------------------- */
.social button {
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:11px;
	line-height:1.28em;
}

/* Table & span look like button*/
.socialButton span span {
font-size: 13px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-weight:bold;
line-height: 14px;
}

