/*************************************************
** Compile errors 
** - erronious semicolons
** - 
*************************************************/

/* Copyright  2003-2009 United Parcel Service of America, Inc. All rights reserved.

   Edit: 30-May-2008 */



.calloutLeft {
	background: url(/img/hov_help_arrow_lft.png) no-repeat;
	width : 27px;
	height: 34px;
}
.calloutRight {
	background: url(/img/hov_help_arrow_rgt.png) no-repeat;
	width : 27px;
	height: 34px;
}
.calloutTop {
	background: url(/img/hov_help_arrow_top.png) no-repeat;
	width : 34px;
	height: 27px;
}
.calloutBottom {
	background: url(/img/hov_help_arrow_btm.png) no-repeat;
	width : 34px;
	height: 27px;
}
/*New Additions*/



.hh_popupMainDiv {
	display: block;
	position: absolute;
	width: 296px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	z-index: 2;
}
.hh_popupMainDiv {
	text-align: -moz-center;
}
.hh_topShadow {
	display: block;
	background: url(/img/hov_help_shw_top.png) no-repeat;
	position: relative;
	width: 296px;
	line-height: 9px;
}
.hh_sideShadow /* Internet Explorer */ {
	display: block;
	position: relative;
	text-align : center;
	width: auto;
}
.hh_sideShadow /* Mozilla Firefox alignment */ {
	text-align: -moz-center;
}
.pgx_hh {
	position: relative;
	display: block;
	width: auto;
}
.pgx_hh_header {
	display: block;
	position: relative;
	height: 21px;
	background: brown;
	padding: 0px;
}
.pgx_hh_close {
	display: block;
	position: relative;
	width: 21px;
	text-align: center;
	text-align: -moz-center;
	float: right;
	color: white;
	font-weight: bold;
	margin: 1px;
}
.pgx_hh_closeAnchor {
	color: white;
	text-decoration: none;
}
.pgx_hh_contentDivHolder {
	display: block;
	position: relative;
	/*width: 258px;*//*ztr9cnb removed 02-03-10 unsure of need? .pgx_hh_contentDiv sets padding and .pgx_hh sets width*/

	width: auto;
}
.pgx_hh_contentDiv {
	display: block;
	position: relative;
	text-align : left;
	padding: 0;
	width: auto;
}
.pgx_hh_contentDivRTL {
	display: block;
	position: relative;
	text-align : right;
	padding: 10px;
}
.pgx_hh_linkedText {
/*			This class is reserved for Hover Help Links*/

}
.hh_bottomShadow {
	display: block;
	background: url(/img/hov_help_shw_bottom.png) no-repeat;
	position: relative;
	width : 296px;
	line-height: 9px;
}
.innerTableClass {
	text-align: center;
	display: block;
	position: relative;
	width: auto;
	direction: ltr;
}
.innerTableClass {
	text-align: -moz-center;
}
.textBlock {
	direction: ltr;
}
.leftShadow {
	background: url(/img/hov_help_shw_lft.png) repeat-y;
	width: 9px;
}
.rightShadow {
	background: url(/img/hov_help_shw_rgt.png) repeat-y;
	width: 9px;
}
.leftShadowRTL {
	background: url(/img/hov_help_shw_lft.png) repeat-y;
	width: 8px;
}
.rightShadowRTL {
	background: url(/img/hov_help_shw_rgt.png) repeat-y;
	width: 8px;
}
.centerTD {
	/*			This class is reserved for the content TD*/

	padding: 5px 10px;
	background: #fff;
	width: 258px;
}
/*			This is reserved for the tracking status label -not a true input label so it does not follow standard

				Bold, blue, and underlined.*/

.anchor {
	cursor: pointer;
	cursor: hand; /* IE5 Why do we care? */
	text-decoration: underline;
}
/*			This is reserved for the hompage launchlet

				Bold Label should be black and no underline. Hover is blue and underlined */	

#ccGloBdyGtr1 a.anchor {
	color: #000000;
	text-decoration: none;
	font-weight: bold
}
#ccGloBdyGtr1 a.anchor:hover {
	color: #008198;
	text-decoration: underline
}
/* Added Mar 10 ztr9cnb - old fragment header in hoverhelp*/

#popupHelp .standardheader {
	font-size: 11pt;
	color: #60513A;
	font-weight: bold
}
#popupHelp h2, #popupHelp h3, #popupHelp h4, #popupHelp h5, #popupHelp h6 {
	color: #60513A;
	font-weight: bold;
	font-family: Arial, Sans-serif;
	font-size: 10pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
#popupHelp h3 {
	font-size: 1.1em;
	line-height: 1.4em;
}
