		/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/
			/* GLOBAL SOURCE AT WORK, CAN BE REMOVE WHEN OA IS CORRECTED: 
				/*ztr9cnb - Open Account Jul11 (9con)_pfv*/
						#progress {}
				
						#progress table{text-align:right;}

						#progress table {border-left:none; border-right:solid 10px #fff }

						#progress td.past { padding-left:15px;  padding-right:0px; background-position:right top;}
						#progress td.on { padding-left:15px;  padding-right:0px; background-position:right top;}
						#progress td.off { padding-left:15px;  padding-right:0px; background-position:right top }
						#progress td.last { padding-left:15px;  padding-right:0px; background-position:right top;}
						#progress td.lastOn { padding-left:15px;  padding-right:0px; background-position:right top; }

				/**/
			/**/
		/**/
		
		
		/* base */
body,
blockquote{direction:rtl}

/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/
			/* WCMS FRAGMENT CODE AT WORK, CAN BE REMOVE WHEN FRAGMENT IS CORRECTED
				/**/
						.popuppage-blue { background-position:left top;}
				/**/
			/**/
		/**/
		
		/* AIA CODE AT WORK, CAN BE REMOVE WHEN AIA IS CORRECTED Team: Borror James (ism2jdb) Bennett Christopher (ism1cjb)
				/**/
				.mod-bar {text-align:left }
				.mod-head-clr {text-align:right }
				.fldPad { padding:0px 0px 10px 30px }	
				/**/
			/**/
		/**/
		
			
			

/* ------------------------ --- ----------------------- */
/* ---------------------- C-Clamp --------------------- */
/* ---------------------- LEGACY ---------------------- */

input.btn_a{background-position:left;padding:1px 4px 2px 16px}


/*------------*/
/*---Banner---*/
/*------------*/

#ccGloBnr{background-position:top right}

div.bnrGtr{position:absolute;right:0px;left:inherit}
div.bnrBrand{position:inherit;right:10px;left:inherit;top:inherit;}


div.bnrGtr2{position:absolute;right:170px;left:inherit}
	
	
		/*menu*/
		/* -- */
		
	
	
		/*Login*/
		/* --- */
		div.navLogin dt, div.navLogin dd{float:right}
			* html div.navLogin dt, div.navLogin dd{float:left}
		div.navLogin dd input{padding:1px 5px 1px 0px}
	
		div.navLogin, div.navSearch{float:left}
		div.navSearch .btn_a{background-image:url(/img/icn_arw_brn_bak.gif)}
		
			
		/*Log In Modal*/
		/* ---------- */
		.hovHelpBrw div.modHead h3{float:right}
		.hovHelpBrw div.modHead ul li{float:left;padding-left:0;padding-right:8px}

		.hovHelpBrw div.modContent p{padding:0 0 5px 5px}
		#logon_btn {float:left !important;}
		.hovHelpBrw input.btn_a {background-image:url(/img/icn_arw_bak_wht.gif);background-position:left center;padding-left:11px;padding-right:5px;}

		.hovHelpBrw a.btnlnkL{display:block!important;}


		
		.hovHelpBrw .arrowmini {background-image:url(/img/icn_arrow_blu_bak.gif);}
		

	
		/*main navagation*/
		/* ------------- */
		div.nav1GloBnr{padding-right:170px;padding-left:0}
		#ccGloBnr #nav1 ul, #ccGloBnr #nav1 li{float:right}
		#ccGloBnr #nav1 li.tab-on, #ccGloBnr #nav1 li.tab-off{margin-left:3px;margin-right:0}
	
		div.navHeader{float:right}
		

/*--------------------*/
/*---Body Container---*/
/*--------------------*/

		/*Sub Nav Column*/
		/*--------------*/
		.ccsnmnavlv2,
		.ccsnmnavlv3,
		.ccsnmnavlv4,
		.ccsnmnavlv5,
		.ccsnmnavlv2sel,
		.ccsnmnavlv3sel,
		.ccsnmnavlv4sel,
		.ccsnmnavlv5sel {padding:0px 15px 0px 5px}
	
		.ccsnmnavlv2{margin-left:0px;background-position:right -2374px}
		.ccsnmnavlv2sel{margin-left:0px;background-position:right -2805px}
		.ccsnmnavlv3{margin-right:8px;margin-left:0px;background-position:right -2049px}
		.ccsnmnavlv3sel{margin-right:8px;margin-left:0px;background-position:right -2616px}
		.ccsnmnavlv4{margin-right:15px;margin-left:0px;background-position:right -2015px}
		.ccsnmnavlv4sel{margin-right:15px;margin-left:0px;background-position:right -2580px}
		.ccsnmnavlv5{margin-right:21px;margin-left:0px;background-position:right -2185px}
		.ccsnmnavlv5sel{margin-right:21px;margin-left:0px;background-position:right -2750px}
	
		#ccGtrMod{float:right}
		#ccGtrMod div.modHead h3{padding-right:0px;float:right}
		#ccGtrMod div.modContent ul{padding:0px 5px 10px 0px}
	
		#ccGtrMod .mod th h2{padding-right:8px;padding-left:0}
		



		/*CMS Messaging*/
		/* ----------- */
		
				/* Ask UPS */
							#ccGtrMod .mod th{text-align:right}
							#ccGtrMod .mod th h2{padding:0;padding-right:8px;float:right}
									
							#ccGtrMod td.btn-bar{text-align:right}
							#ccGtrMod td.btn-bar div.btn-colFull{text-align:left}
				
				/*CMS Messaging*/
							.arrow-blue{background-position:right -2373px;padding-right:15px;padding-left:0}
				
				/* Application page */

		
		
/*---------------------------*/
/*---Application Container---*/
/*---------------------------*/
#ccCntMod{float:right;padding-left:0;padding-right:10px}

#main {text-align:right !important;}
			
.appLvl{float:right}
	
	
/*------------*/		
/*---Footer---*/
/*------------*/
/*#ccGloFt div.nav1{float:right}

#ccGloFt div.nav1 dd.indent{padding-right:15px;padding-left:0}
#ccGloFt div.nav2{float:right}

#ccGloFt .marginEnd{text-align:left}

#ccGloFt .popuppage-green{background-image:url(/img/icn_cmp_blue_drk.gif);background-position:right -1947px;margin-right:4px;margin-left:0}

* html #ccGloFt .popuppage-green{background-position:right -1951px}*/


/* ------------------------ --- ----------------------- */
/* ---------------------- C-Clamp --------------------- */
/* --------------------- REDESIGN --------------------- */

	/* Go button used with drop list */
	.arrowBtnMini {background-position:2px 2px;background-image:url(/img/icn_arw_bak_wht.gif);border-width:1px;margin-right:2px;}


/*------------*/		
/*---Footer---*/
/*------------*/

.cclampFooter .button {margin-right:0; }


	.cclampFooter .appLvlPlain .appHead dl { float:right;}
		.cclampFooter .appLvlPlain .appHead dt {padding-right:0; padding-left:10px;  }

			.cclampFooter .secHead h4 {padding-left:0;}
	
					* html .cclampFooter dl.inline {float:none;}
					* html .cclampFooter dl.inline dt {float:none;}
					* html .cclampFooter dl.inline dd {float:none;}
	
	.cclampFooter dl.inline dd {margin-right:0; margin-left:15px;}

	.cclampFooter .btnlnkL {padding-right:20px;}
	.cclampFooter .contactMini {background-image:url(/img/icon_user_16.gif); background-position:right 0}
		.cclampFooter .mailMini {background-image:url(/img/icon_mail_16.gif); background-position:right 0}




/* ------------------------ --- ----------------------- */
/* ---------------------- Modal ----------------------- */
/* ------------------------ 001 ----------------------- */




/* ------------------------ --- ----------------------- */
/* -------------------- Columns  ---------------------- */
/* ------------------------ 002 ----------------------- */

/*Standard Column Grid*/
/*--------------------*/
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col13,
.col14,
.col15,
.col16,
.col17,
.col18,
.col19,
.col20,
.col21,
.col22,
.col23,
.col24,
.colsuper{float:right}


/*Section Column Grid*/ 
/*-------------------*/ 
.seccol1,
.seccol2,
.seccol3,
.seccol4,
.seccol5,
.seccol6,
.seccol7,
.seccol8,
.seccol9,
.seccol10,
.seccol11,
.seccol12,
.seccol13,
.seccol14,
.seccol15,
.seccol16,
.seccol17,
.seccol18,
.seccol19,
.seccol20,
.seccol21,
.seccol22,
.seccol23,
.seccol24{float:right;margin-right:10px;margin-left:0}



		/*Section Column Grid Inside Application Level Plain*/ 
		/*--------------------------------------------------*/ 
		
		/*Section Column Grid Inside Application Level Plain*/ 
		/*--------------------------------------------------*/ 
		
		/*Section Column Grid Inside Application Level Plain*/
		/*--------------------------------------------------*/ 
		
		
/*Sub Section Column Grid*/
/*-----------------------*/
.subcol1,
.subcol2,
.subcol3,
.subcol4,
.subcol5,
.subcol6,
.subcol7,
.subcol8,
.subcol9,
.subcol10,
.subcol11,
.subcol12,
.subcol13,
.subcol14,
.subcol15,
.subcol16,
.subcol17,
.subcol18,
.subcol19,
.subcol20,
.subcol21,
.subcol22,
.subcol23,
.subcol24{float:right;margin-right:10px;margin-left:0px}

/*Select List Max Width Inside Section Column*/
/*----------------------------------------------------*/ 


/*Select List Max Width Inside Sub Section Column*/
/*-----------------------------------------------*/ 

/*Flexable Columns*/
/*----------------*/
div.floatBegin{float:right;margin-left:20px;margin-right:0}
div.floatEnd{float:left;margin-right:20px;margin-left:0}

	/*Gadient*/
	/*-------*/
	.gradient .floatBegin{float:right;margin-left:10px;margin-right:0}
	.gradient .floatEnd{float:left;margin-right:10px;margin-left:0}

	.gradient .floatBegin .floatBegin {float:right;margin-left:20px;margin-right:0}
	.gradient .floatBegin .floatEnd{float:left;margin-right:20px;margin-left:0}
	


/* ------------------------ --- ----------------------- */
/* ----------------- Application Main ----------------- */
/* ------------------------ 002 ----------------------- */
	
	/*Default Alignment*/
	/*-----------------*/
	.alignEnd{text-align:left !important}
				.alignBegin{text-align:right !important}
	
	/*Default Spacing*/
	/*---------------*/
	.marginBegin{margin-right:0}
	.marginEnd{margin-left:0}
	
	.indent {padding-left:0px;padding-right:25px}
				
				
	
	/*Default Show/Hide*/
	/*-----------------*/		
	
	
	/*Default Headers*/
	/*---------------*/


	/*Default Labels*/
	/*---------------*/

	
	
	/*Default List*/
	/*------------*/
	ol{list-style-position:outside;list-style-type:decimal;margin:0 20px 0 0}
	
	/*Default Form Fields*/
	/*-------------------*/



	/*Default Special Text*/
	/*--------------------*/
	
	
	/*Default Links*/
	/*-------------*/
	
			/*Header Link*/
			/*-----------*/
	
			/*UPS Service Link*/
			/*----------------*/


			/*Label Link*/
			/*----------*/
			
			/*Special Text Link*/
			/*----------------*/
			
	/*Lines*/	
	/*-----*/
	


/* ------------------------ --- ----------------------- */
/* --------------- Application Sub Tabs --------------- */
/* ------------------------ 004 ----------------------- */
.subTab li{float:right;margin:0 0 0 3px;padding:4px 5px 5px 6px}


/* ------------------------ --- ------------------------ */
/* ------------------- Progress Bar -------------------- */
/* ------------------------ 005 ------------------------ */ 

/*table*/
.progress table{padding:5px 10px 5px 0px}

.progress td.past{padding-left:15px;padding-right:0;background-position:right top;background-repeat:no-repeat}
.progress td.on{padding-left:15px;padding-right:0;background-position:right top;background-repeat:no-repeat}
.progress td.off{padding-left:15px;padding-right:0;background-position:right top;background-repeat:no-repeat}
.progress td.last{padding-left:5px;padding-right:0;background-position:right top;background-repeat:no-repeat}
.progress td.lastOn{padding-left:5px;padding-right:0;background-position:right top;background-repeat:no-repeat}

/*list*/
.lstProgress li {float:right;}

.lstProgress .number { background-position:75% 40%; padding-left:10px; padding-right:70px;}
		.lstProgress .start .number {padding-right:0 !important; padding-left:10px !important;}
		
			.steps6 .number {padding-left:10px; padding-right:38px;background-position:5% 40%; }
		
.lstProgress .number {background-image:url(/img/icon_arrow_fwd1_left_onecolor_c73_32.png);/* IE does not supportbg image size*/ background-image:url(/img/icon_arrow_fwd1_left_onecolor_c73_11.png)\9;}
	.lstProgress .next .number {background-image:url(/img/icon_arrow_fwd1_left_onecolor_c21_32.png);/* IE does not supportbg image size*/ background-image:url(/img/icon_arrow_fwd1_left_onecolor_c21_11.png)\9;}



/* ------------------------ --- ------------------------ */
/* --------------- Package Progress Bar ---------------- */
/* ------------------------ 006 ------------------------ */ 


	
	


/* ------------------------ --- ----------------------- */
/* ------------ Application Lvl - Module -------------- */
/* ------------------------ 007 ----------------------- */

	/*-------------------------------*/		
	/*---Application Modules Types*---/
	/*-------------------------------*/	
	
			/*UPS Default*/
			/*-----------*/


			/*Mod*/
			/*---*/

			
			/*Tab*/
			/*---*/
			
			
			/*Plain*/
			/*-----*/
			
			
			/*Gradient*/
			/*--------*/
			
					/*Lines*/
					/*-----*/		
					

	/* ---------------- --- ---------------- */
	/* -------- Application Header --------- */
	/* ----------------- 7A ---------------- */

			/*UPS Default*/
			/*-----------*/
						
					/*Header*/
					/*------*/
					.appHead h2{float:right;padding-right:0;padding-left:10px}
					.appHead h2{padding-right:0;padding-left:10px;float:right}
					
					/*Supprot Links*/
					/*-------------*/
					.appHead ul li{padding-right:10px;margin-left:0;float:left}
			
			/*Mod*/
			/*---*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
					
					
			/*Tab*/
			/*---*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
			
			
			/*Plain*/
			/*-----*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/
			
			
			/*Gardient*/
			/*--------*/
									
					/*Header*/
					/*------*/
					
					/*Supprot Links*/
					/*-------------*/


	/* -------------- --- --------------- */
	/* -------- Application Body -------- */
	/* ------------- 007B --------------- */
	
			/*UPS Default*/
			/*-----------*/			

			/*Mod*/
			/*---*/

			/*Tab*/
			/*---*/		
			
			/*Plain*/
			/*-----*/

			/*Gradient*/
			/*--------*/
			
			/*Support*/
			/*--------------*/
		
					/*5th Column Support Module*/ /*support links - support content*/
					/*-------------------------*/
				
					/*Call Out Message*/ /*Other website Information (Links and Content) - Below Application Module - Landing Page*/
					/*-------------------------*/

					/*Navagation Module*/ /*Within SubNav*/
					/*-------------------------*/
			

	/*paragraph*/
	/*---------*/


	/*headers*/
	/*-------*/
	
	
	/*list*/
	/*-----*/
	
	
	/*tables*/
	/*------*/
		
		
		
		
/*-- Default Modules --*/


		
/*-- Tab Modules --*/

		
/*-- Print/Pop Up White Bg Modules --*/


/*Intro Paragraph*/

/*Lines*/


/*Other*/

	/* -------------- --- ------------------ */
	/* --------- Application Footer -------- */
	/* -------------- 007B ----------------- */
	
		/*button bar*/	
		div.btnBar{text-align:left}
		
				/*button links*/
				div.btnBar .btnlnkL{margin-right:10px;margin-left:0}	
				* html div.btnBar .btnlnkL{margin-right:0px;margin-left:10px;}	
				*+html div.btnBar .btnlnkL{margin-right:0px;}	
						/*Plain*/
						
						

/* ------------------------ --- ------------------------ */
/* ------------------ Section Modules ------------------ */
/* ------------------------ 008 ------------------------ */

		/*Step*/
		/*----*/

		/*Alternate*/
		/*---------*/

		/*Gradient*/
		/*--------*/		
		
		/*Plain*/
		/*-----*/
		
		/*Preferences*/
		/*-----------*/

		
		/*Message*/
		/*-------*/
		
					/*Lines*/
					/*-----*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/
					
								/*Lines*/
								/*-----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
					
								/*Lines*/
								/*-----*/

								
		/* Table Border Table*/
		/*-------------------*/		

							/*data table*/
							/*----------*/

		/* Table Only Table*/
		/*-----------------*/		

							/*data table*/
							/*----------*/

										/*table*/
										/*-----*/

		/* Table Scroll Window*/
		/*--------------------*/

					/*table*/
					/*-----*/



		/*Expandable*/
		/*----------*/
		

		/*Content Type*/
										/*------------*/
										.contentType .cmsMsg {}
										.contentType {text-align: right !important;}
										
										/*-- master update override--*/
										#main .contentType .appBody .marginEnd, /* due to loading v3 css before v4 css on 5col gen*/
										.contentType .appBody .marginEnd {margin-right:10px;text-align:right;}
										

										/*link div*/
										/*--------*/
										a.lnkdiv {}
										.lnkdiv span.clearfix{}
																		
																			
												/*header*/
												/*------*/
												
												/*body*/
												/*----*/
												.contentType .cmsMsg .secBody{float:none; float:right;}
													
														
														/*links*/
														/*-----*/
														
														/*images*/
														/*------*/
														.contentType .cmsMsg img {float:none; float:left}
														
														.contentType .cmsMsg .secBody img,
														.contentType .cmsMsg p a img,
														.contentType .cmsMsg a span.popuppage-blue,
														.contentType .cmsMsg table td img {float:none;}
														
														.contentType .cmsMsg table td.pi-utl-track-bg img {float:none}
														.contentType .cmsMsg table td.pi-utl-track-bg div img {float:none;}
														
														
														/*paragraph*/
														/*---------*/
										
														/*list*/
														/*----*/
														.contentType .cmsMsg ul li,
														.cmsMsg .cmsMsg ul li,
														.contentType ul li{;padding:0px 16px 0px 0px;background-position:right 1px}
														

														
														/*block quotes*/
														/*------------*/
														.contentType blockquote{ margin-right:20px; margin-left:0px;}
														
														/*tables*/
														/*------*/
														.contentType table td {text-align:right !important;}
										
										
												/*footer*/
												/*------*/
												.contentType .secFooter .btnBar a {background-position:0 -1472px; margin: 3px 0 3px 3px;padding:2px 4px 3px 14px}
												* html .contentType .secFooter .btnBar a {background-position:right -1472px;}
										
										/*--- ------------------------- ---*/
										/* --- CMS Tracking Detail Msg --- */
										/*--- ------------------------- ---*/
										
										
										/*--- -------------------- ---*/
										/* --- CMS Message Module --- */
										/*--- -------------------- ---*/
										
										
										/*--- ---------------- ---*/
										/*--- CMS Plain Module ---*/
										/*--- ---------------- ---*/
										
										
										/*--- --------------------- ---*/
										/*--- CMS Media Only Module ---*/
										/*--- --------------------- ---*/
										
										
										/*--- -------------------- ---*/
										/*--- CMS Horzontal Module ---*/
										/*--- -------------------- ---*/
										.contentType .cmsMsgHozMedia {margin-left:1px; margin-right:0px; padding-left:0px; padding-right:0px; border-left:1px solid #FFF; border-right:none}		
										
										
										/*--- -------------------- ---*/
										/*--- CMS Gradient Module ---*/
										/*--- -------------------- ---*/
										
												/*headers*/
												/*-------*/
												
												/*body*/
												/*----*/
												
														/*link div hover*/
														/*--------------*/
														
														
														
									/*--- -------------------- ---*/		
									/* ---------- LEGACY -------- */
									/*--- -------------------- ---*/
																							
																				
																				/*adobe download*/ /*v2*/																							
																							.contentType .cmsMsg .arrow-blue {background-position:right -2805px;}
																								
																			
																					/*value added services*/ /*v2*/

																					
																					/*search support*/ /*v3*/
																					
																					
																					/*Table*/ /*v2*/ /*hard coded color old brown*/
																					
																					
																					/*tracking module*/ /*v2*/

				
				
				
	/* ------------- --- --------------- */
	/* ------- Section Header ---------- */
	/* ------------- 008A -------------- */

	/*Header*/
	/*------*/
	.secHead h3{float:right;padding-left:10px;padding-right:0}
	.secHead h4{float:right}
	
	/*Support Links*/
	/*-------------*/
	.secHead ul li{margin-left:0;margin-right:10px;float:left}
	
			/*Step*/
			/*----*/

					/* Numbers*/
					/*--------*/
					.stepNumberDiv{float:right;margin-right:0;margin-left:5px}
	
			/*Alternate*/
			/*---------*/
			
		
			/*Gradient*/
			/*--------*/
			
					/*Support Links*/
					/*-------------*/


			
			/*Plain*/
			/*-----*/
			.secLvlPlain .secHead{padding-left:10px; padding-right:0px;}

			/*Preferences*/
			/*-----------*/
			
			
			/*Message*/
			/*-------*/
			.message .secHead{padding:8px 10px 0 8px}


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
								
		
		/* Table Border Table*/
		/*-------------------*/		

							/*data table*/
							/*----------*/
							
							

		/* Table Only Table*/
		/*-----------------*/		
		
							/*data table*/
							/*----------*/

										/*table*/
										/*-----*/
	
	
		/* Table Scroll Window*/
		/*--------------------*/

					/*table*/
					/*-----*/
					
					
		/*Expandable*/
		/*----------*/

	

		
	/* ------------ --- -------------- */
	/* ------- Section Body ---------- */
	/* ------------ 008B ------------- */
	
	
			/*Default*/
			/*-------*/	
	
	
			/*Step*/
			/*----*/
			
				
			/*Alternate*/
			/*---------*/
			
		
			/*Gradient*/
			/*--------*/


			/*Plain*/
			/*-----*/

			
			/*Preferences*/
			/*-----------*/
			
			
			/*Message*/
			/*-------*/


					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/

		
			/* Table Border Table*/
			/*-------------------*/		

								/*data table*/
								/*----------*/


			/* Table Only Table*/
			/*-----------------*/		
			
			
								/*data table*/
								/*----------*/

											/*table*/
											/*-----*/
		
		
			/* Table Scroll Window*/
			/*--------------------*/

						/*table*/
						/*-----*/
						
						
			/*Expandable*/
			/*----------*/


		
	/* ------------- --- --------------- */
	/* ------- Section Footer ---------- */
	/* ------------- 008C -------------- */



/* ------------------------ --- ------------------------ */
/* --------- Sub Module Inside Section Modules --------- */
/* ------------------------ 009 ------------------------ */ 

		/*Step*/
		/*----*/
		
		/*Alternate*/
		/*---------*/

		/*Gradient*/
		/*--------*/
		
		/*Plain*/
		/*-----*/

					/*Sub plain*/
								/*Sub x2 plain*/

		/*Preferences*/
		/*-----------*/

		/*Message*/
		/*-------*/
					/*Sub support*/

					/*Sub message*/

					/*Sub sell*/

					/*Sub critical*/

					/*sell*/ /*Yellow Color - Cost or Price Information, Upsale Message*/
					/*----*/

					
					/*critical*/ /*Orange Color - Critical Message */
					/*--------*/
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					

/* ------------------------ --- ------------------------ */
/* --------------- Input Output Form Data -------------- */
/* ------------------------ 010 ------------------------ */ 


/*Definition List*/
/*---------------*/

		/*Flex Width*/	
		/*----------*/	
		.flexFirst{float:right;padding-left:15px;padding-right:0}
		.flexAfter{float:right;padding-left:15px;padding-right:0}
				
		.flexFirstPad{float:right; padding-left:25px; padding-right:0;}
		.flexAfterPad{float:right; padding-left:25px; padding-right:0;}

		/*Inline*/
		/*------*/	
		dl.inline dt{float:right}
		dl.inline dd{float:right;margin-right:10px;margin-left:0}
		
		/*Bullet Definition Title*/
		/*-----------------------*/

/*Div Sections*/
/*------------*/

		/*Output Horozonal Flex*/
		/*---------------------*/
		.outHozFlex dt{float:right;padding-right:0px;padding-left:10px}
		.outHozFlex dd{float:right;}

		/*Output Horozonal Fixed Width*/
		/*----------------------------*/
		.outHozFixed dt{float:right;margin-left:10px;margin-right:0}
		.outHozFixed dd{float:right}

		/*Output Horozonal Fixed Width One*/
		/*--------------------------------*/
		.outHozFixed1 dt {clear:both;float:right;margin-left:10px;margin-right:0px;}	
		.outHozFixed1 dd{float:right;}
		
		/*Output Horozonal Fixed Width Two*/
		/*--------------------------------*/
		
					/*Output Horozonal Fixed Brand Grid*/
					/*---------------------------------*/
					
		
		/* Ledger */ 
		/*--------*/
		.outHozLedger dt {clear:both;float:right;}
		.outHozLedger dd {text-align:left;}

		/* checkbox/radio row/column list*/
		/*-------------------------------*/
		div.sel dl{clear:none; float:right;}
		div.sel dt{padding-left:0;}
		div.sel dd{padding-left:20px; padding-right:0;}	

/* ------------------------ --- ------------------------ */
/* ------------------- Scroll Window ------------------- */
/* ------------------------ 011 ------------------------ */

	/*paragraph*/
	/*---------*/
	
	/*list*/
	/*----*/
	

/* ------------------------ --- ------------------------ */
/* --------------------- Pagination ---------------------*/
/* ------------------------ 012 ------------------------ */
.pagination .first{padding-left:3px;padding-right:13px;background-position:right -1508px}
.pagination .previous{padding-left:3px;padding-right:13px;background-position:right -1370px}
.pagination .next{padding-left:13px;padding-right:3px;background-position:0 -1267px}
.pagination .last{padding-left:13px;padding-right:3px;background-position:0 -1474px}


/* ------------------------ --- ------------------------ */
/* --------------------- Data Table -------------------- */
/* ------------------------ 013 ------------------------ */
		
		/*Rows*/
		/*----*/
		
			
			/*Columns*/
			/*-------*/
			
			
			/*Cells*/
			/*-----*/	
			.dataTable th{text-align:right}
			
					/*header*/
					/*------*/

							/*links*/
							/*-----*/

							
/* Selection List Table*/
/*---------------------*/

				/*Rows*/
				/*----*/		
			
				/*Columns*/
				/*-------*/
				
				/*Cells*/
				/*-----*/	
				
						/*header*/
						/*------*/
						
						
								/*links*/
								/*-----*/	
		
					/* checkbox-radio column or numbered cell */


/* Plain Table*/
/*------------*/	


/* ------------------------ --- ------------------------ */
/* ------------- Buttons - Input & Buttons ------------- */
/* ------------------------ 014 ------------------------ */

			/* ------------------------ --- ------------------------ */
			/* ------------- Buttons - Input & Buttons ------------- */
			/* ------------------------ --- ------------------------ */
					
			.navSearch input.btn{text-align:left}
			
			input.btn, 
			button.btn{margin: 3px 0 3px 3px;}
	
			
			button.btnArw, 
			input.btnArw{background-position:0 -1506px;margin: 3px 0 3px 3px;padding:1px 4px 2px 14px}
			
			button.btnBackArw, 
			input.btnBackArw{background-position:right -1472px;margin: 3px 0 3px 3px;padding:1px 14px 2px 4px;}
			
			/* ------------------------ --- ------------------------ */
			/* ---- Button Links - Input, Button, A Href & Span ---- */
			/* ------------------------ --- ------------------------ */
			
/*buttons - inputs*/
/*----------------*/






			
			button.btnlnkL,
			input.btnlnkL{padding-right:13px;padding-left:0px;}
			
			button.btnlnkR,
			input.btnlnkR{padding-left:13px;padding-right:0px;}		
			
			
			label.btnlnkL,
			a.btnlnkL,
			a.btnIconL{padding-right:16px;padding-left:0px;}
			
			label.btnlnkR,
			a.btnlnkR,
			a.btnIconR{padding-left:18px;padding-right:0px;}
			
						/*span*/
						/*----*/ /*NOT IN BUTTON SHEET*/
						span.btnlnkL{padding-left:4px;background-position:left center}
						span.btnlnkR{padding-right:6px;background-position:center}
			
			a.btnIconL{padding-right:19px;padding-left:0px;}
			a.btnIconR{padding-left:21px;padding-right:0px;}


			.arrowMini {background-position:right -165px}/*.arrowRightMini {background-position:right -199px}*/
			.arrowLeftMini {background-position:right -199px}
			.arrowUpMini {background-position:right -96px}
			.arrowDownMini {background-position:right -130px}
			.clearMini {background-position:right 2px}
			.checkMini {background-position:right -647px}
					img.checkMini {background-position:0 -647px}
			.contactMini {background-position:right -406px}
			.crossMini {background-position:right -337px}
					img.crossMini {background-position:0 -337px}
			.editMini {background-position:right -578px}
			.mailMini {background-position:right -476px}
			.minusMini {background-position:right -59px}
			.pageMini {background-position:right -613px}
			.plusMini {background-position:right -27px}
			.printMini {background-position:right -544px}
			.reorderMini {background-position:right -303px}/*.reorderRightMini {background-position:right -301px}*/
			.reorderLeftMini {background-position:right -268px}
			.saveMini {background-position:right -510px}
			.sortLeftMini {background-position:right -716px}
			.sortRightMini {background-position:right -682px}
			.sortUpMini {background-position:right -234px}
			.sortDownMini {background-position:right -372px}
			/*.sortDownMiniBtn {background-position:right -3050px}*/ /*moved to ui.all.css to support auto complete in all code bases*/
			.trackMini {background-position:right -749px}
			.viewMini {background-position:right -441px}
			
					input.arrowMini, button.arrowMini {background-position:right -164px}
					input.arrowLeftMini,button.arrowLeftMini {background-position:right -198px}
					input.arrowUpMini,button.arrowUpMini {background-position:right -95px}
					input.arrowDownMini,button.arrowDownMini {background-position:right -129px}
					input.clearMini,button.clearMini {background-position:right 3px}
					input.checkMini,button.checkMini {background-position:right -646px}
					input.contactMini,button.contactMini {background-position:right -405px}
					input.crossMini,button.crossMini {background-position:right -336px}
					input.editMini,button.editMini {background-position:right -577px}
					input.mailMini,button.mailMini {background-position:right -475px}
					input.minusMini,button.minusMini {background-position:right -58px}
					input.pageMini,button.pageMini {background-position:right -612px}
					input.plusMini,button.plusMini {background-position:right -26px}
					input.printMini,button.printMini {background-position:right -543px}
					input.reorderMini,button.reorderMini {background-position:right -302px}
					input.reorderLeftMini,button.reorderLeftMini {background-position:right -267px}
					input.saveMini,button.saveMini {background-position:right -509px}
					input.sortLeftMini,button.sortLeftMini {background-position:right -715px}
					input.sortRightMini,button.sortRightMini {background-position:right -681px}
					input.sortUpMini,button.sortUpMini {background-position:right -233px}
					input.sortDownMini,button.sortDownMini {background-position:right -371px}
					input.trackMini,button.trackMini {background-position:right -748px}
					input.viewMini,button.viewMini {background-position:right -440px}
					
						.arrowMiniTypeImg {background-position:right -165px !important}
						.arrowLeftMiniTypeImg {background-position:right -199px !important}
						.arrowUpMiniTypeImg {background-position:right -96px !important}
						.arrowDownMiniTypeImg {background-position:right -130px !important}
						.clearMiniTypeImg {background-position:right 2px !important}
						.checkMiniTypeImg {background-position:right -647px !important}
						.contactMiniTypeImg {background-position:right -406px !important}
						.crossMiniTypeImg {background-position:right -338px !important}
						.editMiniTypeImg {background-position:right -578px !important}
						.mailMiniTypeImg {background-position:right -476px !important}
						.minusMiniTypeImg {background-position:right -59px !important}
						.pageMiniTypeImg {background-position:right -613px !important}
						.plusMiniTypeImg{background-position:right -27px !important}
						.printMiniTypeImg {background-position:right -544px !important}
						.reorderMiniTypeImg {background-position:right -303px !important}
						.reorderLeftMiniTypeImg {background-position:right -268px !important}
						.saveMiniTypeImg {background-position:right -510px !important}
						.sortLeftMiniTypeImg {background-position:right -716px !important}
						.sortRightMiniTypeImg {background-position:right -682px !important}
						.sortUpMiniTypeImg {background-position:right -234px !important}
						.sortDownMiniTypeImg {background-position:right -372px !important}
						.trackMiniTypeImg {background-position:right -749px !important}
						.viewMiniTypeImg {background-position:right -441px !important}
			
			.anchorIcon{background-position:right -1844px}
			.anchorIconR{background-position:0 -1844px}
			
			.arrowBackIcon{background-position:right -2402px}
			.arrowBackIconR{background-position:0 -2402px}
			.arrowIcon{background-position:right -2372px}
			.arrowIconR{background-position:0 -2372px}
			.backToTopIcon{background-position:right -1672px}
			.backToTopIconR{background-position:0 -1672px}
			.closeIcon{background-position:right -2434px}
			.closeIconR{background-position:0 -2434px}
			.closeIconBrn{background-position:right -2924}
			.closeIconBrnR{background-position:0 -2924}
			.collapseIcon{background-position:right -2524px}
			.collapseIconR{background-position:0 -2524px}
			.diamondIcon{background-position:right -1639px}
			.diamondIconR{background-position:0 -1639px}
			.expandIcon{background-position:right -2463px}
			.expandIconR{background-position:0 -2463px}
			.helpIcon{background-position:right -1879px}
					.appLvlGradient .appHead .helpIcon,
					.gradient .appHead .helpIcon,
					.gradient .secHead .helpIcon{background-position:right -1129px}
			.helpIconR{background-position:0 -1879px}
					.appLvlGradient .appHead .helpIconR,
					.mod .appHead .helpIconR,
					.gradient .appHead .helpIconR,
					.gradient .secHead .helpIconR{background-position:0 -1129px}
			.linkBackIcon{background-position:right -2255px}
			.linkForwardIconR{background-position:0 -2221px}
			.linkBackIconPassive{background-position:right -2895px}
			.linkForwardIconRPassive{background-position:0 -2865px}
			.lockIcon {background-position:right -1776px}
			.lockIconR {background-position:0 -1776px}
			.newWindowIcon{background-position:right -1946px}
			.newWindowIconR{background-position:0 -1946px}
			.printIcon{background-position:right -1810px}
					.appLvlGradient .appHead .printIcon,
					.gradient .appHead .printIcon{background-position:right -1060px}
			.printIconR{background-position:0 -1810px}
					.mod .appHead .printIconR{background-position:0 -1060px}
			.requiredIcon {background-position:-3px -2344px}
			.requiredIconR {background-position:0 -2344px}
			.sortUpIcon{background-position:right -2284px}
			.sortUpIconR{background-position:0 -2284px}
			.sortDownIcon{background-position:right -2314px}
			.sortDownIconR{background-position:0 -2314px}
			.triangleUpIcon{background-position:right -2554px}
			.triangleDownIcon{background-position:right -2524px}
			.triangleLeftIcon{background-position:right -2464px}
			.triangleRightIcon{background-position:right -2493px}
			.updatedIcon{background-position:right -2777px}
			.updatedIconR{background-position:0 -2777px}


.feedback {margin-right:0px;margin-left:4px;}
.categoryIcon16 {background-image: url(/img/icon_category_right_16.gif);background-position:right 3px;padding-left:5px;padding-right:0px;}



/* ------------------------------------------------------------------------------------------*/

	/* next 2 lines added gyx2jmz 6/29 */
	.mod .appHead .helpIcon{background-position:0 -1129px;padding:0 0 0 18px}
	.mod .appHead .printIcon{background-position:0 -1060px;padding:0 0 0 18px}
		/* next 2 lines added ztr9cnb 7/30 */
		.mod .appHead .helpIconR{background-position:0 -1129px}
		.mod .appHead .printIconR{background-position:0 -1060px}
		


a.btnlnkL,
a.btnIconL {padding-left:0px;padding-right:19px;}
	*+html a.btnlnkL,
	*+html a.btnIconL {padding-left:19px !important;padding-right:0px !important;}
	
	* html a.btnlnkL,
	* html a.btnlnkR,
	* html a.btnIconL,
	* html a.btnIconR{background-image:none !important;}
	
a.btnlnkR,
a.btnIconR {padding-left:21px;padding-right:0px;}
	*+html a.btnlnkR,
	*+html a.btnIconR {padding-left:0px !important;padding-right:0px !important;background-image:none !important;}
	
		



		/* ------------------------ --- ------------------------ */
		/* ------------- Gradient Buttons - links -------------- */
		/* ------------------------ --- ------------------------ */
		
		.button {margin-left:0px; margin-right:5px;}

		.arrowIconRight:after{content: "\0020 \00BB";}
		.arrowIconLeft:before{content: "\00AB \0020";}
		
		.arrowIconRightSingle:after{content: "\0020 \003E";}
		.arrowIconLeftSingle:before{content: "\003C \0020";}
		
		.categoryIcon16 {padding-right:0;padding-left:5px;}

		.feedback {margin-right:0px;margin-left:4px;}



/* ------------------------ --- ------------------------ */
/* ------------------ Popup/PFV Window ----------------- */
/* ------------------------ 016 ------------------------ */


/* ------------------------ --- ------------------------ */
/* --------------------- List Items -------------------- */
/* ------------------------ 017 ------------------------ */

/*Default Unordered List*/
/*----------------------*/

/*Inline List*/
/*-----------*/

/*Arrow List*/
/*----------*/
.lstArrow li{padding:0px 16px 0px 0;background-position:right;background-image:url(/img/icn_arrow_blue_lst_lt.gif)}
.lstArrow li.back{background-image:url(/img/icn_arrow_blue_lst_rt.gif)}

/*Bullet List*/
/*-----------*/
.lstBullet li{padding:0px 16px 0px 0px;background-position:right 0;}

/*Anchor Arrow List*/
/*-----------------*/

/*Credit Card Images*/
/*------------------*/
ul.cc{margin:0 2px 0 0}

	/*-- Credit Card Images in <dd> Inline with Input --*/
 
/* ------------------------ --- ------------------------ */
/* --------------------- Note Section ------------------ */
/* ------------------------ 018 ------------------------ */





	
/* ------------------------ --- ----------------------- */
/* ------------------- PRINT - PRINT ------------------ */
/* ------------------------ --- ----------------------- */

.lstBrand li {background-position:right 0 !important; padding-right:50px !important; padding-left:0 !important;}


/* -----------------------------------------------------------------------------------------------*/
/* ---------->>> Collapsible Gradient Modules <<<-------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------*/


.collapsible h4.collapseIcon {padding-right:20px;padding-left:0px; background-position:right 5px;}
.collapsible h4.expandIcon {background-image:url(/img/icn_arw_wht_lft_16.gif); padding-right:20px;padding-left:0px; background-position:right 5px;}



/* -----------------------------------------------------------------------------------------------*/
/* ---------->>> New Package Progress Bar <<<-------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------*/


.pkgProgress .end {float:left;}

	.pkgReturn .start {float:left;}
	.pkgReturn .end {float:right;}
	
	.pkgReturn .transit {float:left;}
	.pkgReturn .shipment {float:left;}

	.gradientGroup4 .status0 .transit, 
	.gradientGroup2 .status0 .transit,
	.gradientGroup4 .transit,
	.gradientGroup2 .transit,
	.gradientGroup4 .status1 .shipment,
	.gradientGroup2 .status1 .shipment,
	.gradientGroup4 .status2 .shipment,
	.gradientGroup2 .status2 .shipment,
	.gradientGroup4 .status3 .shipment,
	.gradientGroup2 .status3 .shipment,
	.status4 .shipment {background-position:right 0; }
	
		.gradientGroup4 .pkgReturn .status1 .shipment,
		.gradientGroup2 .pkgReturn .status1 .shipment,
		.gradientGroup4 .pkgReturn .status2 .shipment,
		.gradientGroup2 .pkgReturn .status2 .shipment, 
		.gradientGroup4 .pkgReturn .status3 .shipment, 
		.gradientGroup2 .pkgReturn .status3 .shipment {background-position:0 0; direction:ltr;}
		
	.gradientGroup4 .status1 .shipment {background-image:url(/img/gradient_pkg_progress_group4_rtn_arrow1.gif);}
		.gradientGroup4 .pkgReturn .status1 .shipment {background-image:url(/img/gradient_pkg_progress_group4_arrow1.gif);}
	.gradientGroup2 .status1 .shipment {background-image:url(/img/gradient_pkg_progress_group2_rtn_arrow1.gif);}
		.gradientGroup2 .pkgReturn .status1 .shipment {background-image:url(/img/gradient_pkg_progress_group2_arrow1.gif);}
	
	.gradientGroup4 .status2 .shipment {background-image:url(/img/gradient_pkg_progress_group4_rtn_arrow2.gif);}
		.gradientGroup4 .pkgReturn .status2 .shipment {background-image:url(/img/gradient_pkg_progress_group4_arrow2.gif);}
	.gradientGroup2 .status2 .shipment {background-image:url(/img/gradient_pkg_progress_group2_rtn_arrow2.gif);}
		.gradientGroup2 .pkgReturn .status2 .shipment {background-image:url(/img/gradient_pkg_progress_group2_arrow2.gif);}
	
	.gradientGroup4 .status3 .shipment {background-image:url(/img/gradient_pkg_progress_group4_rtn_arrow3.gif);}
		.gradientGroup4 .pkgReturn .status3 .shipment {background-image:url(/img/gradient_pkg_progress_group4_arrow3.gif);}
	.gradientGroup2 .status3 .shipment {background-image:url(/img/gradient_pkg_progress_group2_rtn_arrow3.gif);}
		.gradientGroup2 .pkgReturn .status3 .shipment {background-image:url(/img/gradient_pkg_progress_group2_arrow3.gif);}
		
		
		
		
		
	

	
		.pkgstep {background:url(/img/trk_pkg_progress_bar_rtl.png) no-repeat left center;}
		
			.pkgstep1 {text-align:right;}
				.complete1 {text-align:right}
					.complete1 .pkgstep1 {text-align:right}
	
	
					.complete4 .pkgstep1 {text-align:left;width:696px; font-size:1.4em}
		
					
				.complete5 {text-align:right}
	
		
			.pkgstep span{margin:0 0 0 20px; padding: 0 10px 0 0;}

	
			.current {background:url(/img/trk_pkg_progress_bar_current_rtl.png) no-repeat left center #599117;}
			.exception {background:url(/img/trk_pkg_progress_bar_exception_rtl.png) no-repeat left center #FFD124;}
			
				.current a {padding: 5px 0 5px 25px; background-position:left center; font-weight:bold}
				.exception a {padding: 5px 0 5px 25px; background-position:left center; font-weight:bold}
				.complete4 a, 
				.complete4 .pkgstep2R a{background-position:left center; padding: 5px 0 5px 30px; }	
				
			
		.return .pkgstep {background:url(/img/trk_pkg_progress_bar.png) no-repeat rightcenter;}
		.return .pkgstep span{margin:0 40px 0 0 ; padding: 0 0 0 15px;}																							
		.return .current {background:url(/img/trk_pkg_progress_bar_current.png) no-repeat right center #599117; }
		
			
					.return .pkgstep2R span {margin:0 20px 0 0;}	
					
		.return .complete5 .pkgstep1R {text-align:right;}
			.return .complete5 .pkgstep1R span {background-position:left center; padding-left:30px !important; padding-right:inherit; margin-right:20px !important; margin-left:inherit;}									
															
			.complete, .return .complete {display:none !important}													
			.delivery , .return .delivery{background-image:none;}
			
			
			
			
			
		.seccol18 .gradientGroup2 .cmsMsgTrk .secLvl,
		.seccol18 .gradientGroup4 .cmsMsgTrk .secLvl,
		.seccol18 .gradientGroup7 .cmsMsgTrk .secLvl {;margin-right:0}
	
		.secLvl .secBody .chat .chatHead img {margin-left:10px;}

			
			
			


/* ------------------------ --- ----------------------- */
/* ----------------- UI ALL OVERWRITES ---------------- */
/* ------------------------ --- ----------------------- */

.ui-accordion .ui-accordion-header .ui-icon {left:inherit;right:0.5em !important}
.ui-accordion-icons .ui-accordion-header a {padding-left:0 !important; padding-right:2.2em !important;}
.ui-icon-triangle-1-e {background-position:-96px -16px !important; }


img.ui-datepicker-trigger {margin-right:-20px !important; margin-left:0 !important;}

/* Tracking Grid */
		

		/*#trk-grid-col-4 {border-right:1px solid #b0a696; border-left:none;}*/
		
			.trk-grid-cell {text-align:right; border-right:none;}
			.trk-grid-cell-odd {text-align:right;}
				.trk-grid-cell-check {padding:0; margin:4px 5px 3px 4px;}

#trk-grid-wrapper .headerSortUp {padding-left: 14px; background: url("/img/icn_sort_up.gif") no-repeat left center; cursor: pointer;  padding-right: 0;}
#trk-grid-wrapper .headerSortDown {padding-left: 14px; background: url("/img/icn_sort_down.gif") no-repeat left center; cursor: pointer; padding-right: 0;}

.trk-grid-desc-text-edit .crossMini, .trk-grid-desc-text-edit-input .crossMini { right: inherit; left: 0; margin: 0 0 0 10px;}

.trk-grid-cell-checkAll { margin: 4px 5px 3px 4px;}

.trk-grid-save {text-align:right;}


.trk-grid-desc-text-edit .updatedIcon, .trk-grid-desc-text-edit-input .updatedIcon  {margin:0 -20px 0 0;}

/* RIF Int Number */
.child-wrapper{float:right !important; padding-left:10px !important;padding-right:0 !important;}



#contactUPSmenu .secLvlPlain .secHead {padding: 2px 0 0 10px;}
#contactUPSmenu .floatBegin {margin-left:0px}
#contactUPSmenu .floatEnd {margin-right:0px}

* html .wedgeUp, .wedgeUP {margin-right:155px}

.lstIcon li img {padding:0 0 0 5px;}
