---
title: ct1_shi_pic_anon_smart
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: rtl
lang: ar
---

<div id="main">
    {{> "ct1_shi_pic_anon_smart_partial" }}
</div>
