@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";
#main {
	input[type=button]:focus{
		outline: none !important;
	}
	#QvmcAppCtrlId .appLvl dl[role=presentation].flexAfterPadQvm {
		display: inline-block;
		padding-#{$opposite-direction}: 15px;
	}
	#QvmcAppCtrlId .appLvl dl[role=presentation].flexFirstPadQvm dd {
		display: inline-block;
		margin-#{$default-float}: 0;
	}
	#QvmcAppCtrlId .appLvl dl[role=presentation].flexFirstPadQvm dt {
		padding-#{$opposite-direction}: 5px;
	}
	#QvmcAppCtrlId .appLvl dl[role=presentation].flexFirstPadQvm {
		display: inline-block;
		padding-#{$default-float}: 5px;
	}
	.flexAfterPad,
	.flexAfter {
		padding-#{$opposite-direction}: 5px;
	}
	.flexFirstPad {
		padding-#{$opposite-direction}: 5px;
	}
	div.floatBegin {
		margin-#{$opposite-direction}: 0px;
	}
	#main input[type="text"],
	#main input[type="password"] {
		padding: 0 5px;
	}
	.subTab {
		margin: 0;
	}
}

.ngdialog-theme-plain.ngdialog {
    z-index: 999!important;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content ,
.ngdialog.ngdialog-theme-plain.custom-width-525 .ngdialog-content.ui-draggable{
    width: 630px !important;
    background: none;
}

.ui-datepicker th {
    background:none;
}

.ngdialog-content .appLvl.modal {
    display: block;
    //width: 600px;
    //height: 400px;
    margin: 0 auto!important;
    /* background: none; */
    position: static!important;
    padding: 0;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);

	.appBody{
		div.alignCenter{
			margin-bottom: 10px;
		}
	}
	.qvmbottom dl {
		display: table;

		dd, dt {
			//display: table-cell;
			display: inline-block;
		}
	}
}

.ngdialog-overlay {
    background: #fff;
    opacity: 0.5;
}

.ngdialog.ngdialog-theme-plain .ngdialog-message .ngdialog-close:before ,
.ngdialog.ngdialog-theme-plain .ngdialog-content .ngdialog-close:before
 {
    #{$opposite-direction}: 15px!important;
    top: 13px!important;
    font-size: 42px!important;
    color: #000!important;
}

.ngdialog-content .ui-draggable-handle.appHead {
    border: none !important;
    background-color: #fff;
    border-radius: 0;
    border-top: 8px solid #ffb500 !important;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.5); */
    padding: 10px 10px;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content .appHead.ui-draggable-handle h2 {
    font-family: "BerlingskeSans Serif",Georgia,Times,serif;
    font-weight: normal;
    font-size: 26.6px;
    color: #242424!important;
    position: relative;
    padding-#{$default-float}: 0;
    margin-top: 0;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    background: none!important;
}
/*
* Hiding this will hide close icon from "Create a custom view report" modal,
* so instead will overlap this on other close icon, like how it's done in legacy
.ngdialog-close {
	display: none;
}
*/
.ui-dialog-titlebar-close, .btnlnkL.closeIcon {
	background-position: 1px 1px!important;
    background-image: url(/assets/resources/images/legacyAppImages/crossmini.gif);
    height: 20px;
    /* background: none; */
    background-color: #fff;
    border: none;
    outline: none;
    background-repeat: no-repeat;
}

.ui-dialog.ui-widget.modal {
    position: absolute;
    height: auto;
    width: 730px;
    display: block;
    margin: 0px auto !important;
    #{$default-float}: 98.75px !important;
    top: 215px !important;
}

.modal .ui-dialog-titlebar {
	width: 96% !important;
}

.modal .ui-dialog-titlebar > button {
	visibility: inherit !important;
}

select[multiple] {
	width: 240px;
}

input[repl_name] {
	display: none;
}

#addRemoveDialog .multi-select dl {
	width:auto!important;
}

.multi-select .flexFirst {
	width: 42%;
}

.multi-select .flexAfter:nth-child(2) {
	width: 9%;
}

.multi-select .flexAfter:nth-child(3) {
	width: 40%;
}
.multi-select .flexAfter:nth-child(4) { float:$opposite-direction; padding-#{$opposite-direction}:0}

.ngdialog .appHead h2 {
	color: $black_s1;
}

.ngdialog .ngdialog-content .mod .appHead ul li a.btnlnkR.helpIconR {
	background: transparent url(/assets/resources/images/legacyAppImages/helpIcon.gif) no-repeat 0 0 !important;
	width: 12px;
	height: 15px;
	margin: 5px 0 0 0;
}

#Services_Grid .sel input[name=repl_name] {
	display: none;
}

form[name=repl_fname] span a.crossMini:before {
display:none!important

}

input[type="search"] {
    width:125px;
    height: 35px;
		-webkit-appearance: none;
    border: 1px solid #bebebe;
    padding: 0 10px;
}

#outboundSearchDropdown {
    width:158px;
}

.flexAfter:nth-child(5) dl[role=presentation] dt:first-child {
    display: none;
}
.flexAfter:nth-child(5) dl[role=presentation] dd {
    margin-#{$default-float}:0px!important
}

.flexFirstPad  input[type=button]{
    padding:0 25px!important
}

.flexAfter input[type=button]{
	margin:0;
	padding:0 15px!important;
	min-width:45px;
}
.flexAfterPad p a.btnInk {
padding-top:10px;
display:inline-block;

}
.bFilterDisplay {
    display:inline-block;
    float:$default-float;
}

.hasDatepicker .ui-widget-header .ui-icon {
	background-image: url('../../images/jquery-ui/ui-icons_ffffff_256x240.png');
}

#addRemoveDialog h2 {float:$default-float; width:85%;}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
	border-top: 8px solid #{$ups_gold};
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	font-family: "BerlingskeSans Serif",Georgia,Times,serif !important;
	font-size: 15.4px !important;
	.appLvl {
		.appHead {
			background-color: $white;
			color: $black_s4;
			margin-bottom: 0px;
			h2 {
				color: $black_s4 !important;
				margin-top: 8px;
				margin-bottom: 0px;
			}
		}
		.appBody {
			select:not([multiple]) {
				height: 35px;
				padding-top: 8px;
				padding-bottom: 5px;
				padding-#{$opposite-direction}: 17px;
				padding-#{$default-float}: 10px;
				border: 1px solid #bebebe;
				font-family: "BerlingskeSans",Tahoma,helvetica,arial,sans-serif;
				border-radius: 7px;
				font-weight: bold;
				margin-bottom: 5px;
				min-width: 55px;
				font-size: 13px;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				appearance: none;
				background-color: white;
				background-image: url(/assets/resources/images/legacyAppImages/sprites_black.png);
				background-repeat: no-repeat;
				background-position:  $opposite-direction -2305px;
				position: relative;
				cursor: pointer;
				pointer-events: auto;
				text-align: center;
			}

			input[type='text'] {
				-webkit-appearance: none;
				border: 1px solid #bebebe;
				padding: 0 10px;
				font-size: 14px;
				font-family: "BerlingskeSans Bd",Tahoma,helvetica,arial,sans-serif;
				height: 35px;
				color: #242424;
				width: 200px;
				&.hasDatepicker {
					width: 105px !important;
				}
			}
			textarea.formcol12 {
				width: 420px;
				height: 55px;
			}
			.gridcontent {
				margin-bottom: 10px;
			}
			div.floatBegin, dl dd table label {
				font-family: "BerlingskeSans Bd",Tahoma,helvetica,arial,sans-serif;
			}
			.qvmbottom form[name='saveCustomViewForm'] > dl {
				margin-bottom: 0px;
				dd, dt {
					display: block;
				}
			}
			.secLvl .secBody .outHozFixed5 > .flexAfter > dl {
				margin-bottom: 0px;
			}
			div > .outHozFixed + hr {
				margin: 0
			}
			dl, p, label {
				margin-bottom: 0px;
			}
			div > .outHozFixed5 > .floatEnd + .flexAfter {
				clear: both;
			}
			div > .outHozFixed > dl > dt {
				width: 262px;
			}
		}
	}
}

#main form[action='/webqvm/downloaddocumenttypes'] {
	margin-bottom: 20px;
	table tr td input[name='download'] {
		vertical-align: bottom;
	}
}


#requestCDFormTwo {
    .qvmbottom dl dt {
        margin-botom:10px;
    }
    .qvmbottom dl dd {
        display:block;
        float:none;
    }
    .appBody input[type='text']{
        width:242px;
    }
}

.ngdialog.ngdialog-theme-plain .ngdialog-content .appLvl .appBody div>.outHozFixed>dl>dt {
    font-weight: normal;
}
.ui-dialog.ui-widget.modal {z-index:1000}
#ups-fw_legacy_app_wrap #ShpMainCtrlId form .qvmbottom a.arrowIconLeft{padding-top: 10px!important;color: #fff!important;}

#main div.floatBegin.floatBeginInbBg{margin-right:-2px!important;float:right}
#addRemoveDialog .table tbody tr:first-child td{border:none}

/******************************************
***     7703 Edits                      ***
******************************************/
.ups-cta_primary .icon:before, .ups-cta_tertiary .icon:before{
    color: white;
}

button.ups-no_label {
    display: inline-block;
}

.ui-grid .ups-form_group {
    margin-bottom: 0;
}

#main .ups-form_wrap label.ups-checkbox-custom-label, #main .ups-form_wrap label.ups-radio-custom-label {
    margin-bottom: 5px;
    line-height: 25px;
}

#main .ups-form_wrap input.ups-checkbox-custom, #main .ups-form_wrap input.ups-radio-custom {
    position: absolute;
}

.ui-grid-header-cell .ups-checkbox, .ui-grid .ui-grid-cell .ups-checkbox{
    position: absolute;
    #{$default-float}: 5px;
    top: -5px;
}

.ui-grid .grid-no-rows {
    position: absolute;
    top: 35px;
    #{$default-float}: 10px;
}

.ups-search_support .ups-cta.ups-cta_secondary:hover {
    color: white;
}

#main .ups-application_wrapper .ups-search_support .ups-search_results .ups-wrap_inner .results-footer a.ups-cta.ups-cta_secondary {
    padding: 15px;
    color: white !important;

    &:hover {
        color: white !important;
    }
}

.ui-grid .ui-grid-icon-up-dir:before, .ui-grid .ui-grid-icon-down-dir:before {
    font-family: "UPSicons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.ui-grid .ui-grid-icon-up-dir:before {
    content: "\e67a";
}

.ui-grid .ui-grid-icon-down-dir:before {
    content: "\e677";
}

button.close.ups-modal-close-icon span.icon.ups-icon-x {
	color: $black;
}

.appBody ul.ul_no_bul {
    list-style-type: none;
    list-style-image: none;
}

.ups-form_wrap {
    margin-bottom: 0;
}
/******************************************
***     End 7703 Edits                  ***
******************************************/

// override inline "width: 770px" declaration so content isn't wider than its container.
// allows vertical scrollbars to appear
#qvm_main .modContent > a.selectnonemasse + div {
	width: auto !important;
}
