<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">View Transaction History</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">[Service Name] Results</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<input alt="Printer Friendly View" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_print_friend_view.gif" type="image" width="126">
			<br><br>
			<span class="pi-h4">This transaction was charged n.nn CUR*.</span><br>
			[UPS.com/Web Services] transaction xxxxxxxxxxxxxxxxxxxx
			<br><br>
			<span class="pi-h3">Payment Method</span><br>
			UPS Account Number: FOO100<br><br>
			<span class="pi-h3">Transaction References</span><br>
			Transaction Reference 1:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 1]<br>
			Transaction Reference 2:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 2]<br>
			Transaction Reference 3:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 3]<br>
			<div align="center"><img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"></div>
			<span class="pi-h3">Estimate Landed Cost Information</span><br>
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Ship To:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[country or territory name] [state/province name]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Ship From:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[country or territory name] [state/province name]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">UPS Service Name:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[UPS service name]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">UPS Service Duration Time:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[UPS service duration time]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="2">Shipping Charges:</td>
			<td class="pi-r1-pad" colspan="3">&nbsp;</td>
			<td class="pi-r1-pad">nn.nn</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="2">Additional Insurance:</td>
			<td class="pi-r1-pad" colspan="3">&nbsp;</td>
			<td class="pi-r1-pad">nn.nn</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="2">Taxes &amp; Fees:</td>
			<td class="pi-r1-pad" colspan="3">&nbsp;</td>
			<td class="pi-r1-pad">nn.nn</td>
		</tr>
		<tr class="pi-r1-b">
			<td colspan="6"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">&nbsp;</td>
			<td align="right" class="pi-r1-pad" colspan="4"><span class="pi-h4">Shipment Charges Sub Total:</span></td>
			<td align="right" class="pi-r1-pad"><span class="pi-h4">nn.nn</span></td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="6"><span class="pi-h4">**Note:</span> The Detail ID is used by TradeAbility<sup>TM</sup> to help refine results and should not be reported on official customs documents as part of the Tariff Code.</td>
		</tr>
		<tr class="pi-r1-t">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad">Cost of Goods:</td>
			<td class="pi-r1-line">VAT:</td>
			<td class="pi-r1-line">Duties:</td>
			<td class="pi-r1-line">Other Taxes &amp; Fees:</td>
			<td class="pi-r1-line">Product Sub Total:</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">1.</td>
			<td class="pi-r1-pad" colspan="5">[product name]<br>[product description]</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad" colspan="5">[product tariff code]<br>**[sub code]</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad">[nn.nn]</td>
			<td class="pi-r1-pad">[nn.nn]</td>
			<td class="pi-r1-pad">[nn.nn]</td>
			<td class="pi-r1-pad">[nn.nn]</td>
			<td class="pi-r1-pad">[nn.nn]</td>
		</tr>
		<tr class="pi-r1-b">
			<td colspan="6"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="2">&nbsp;</td>
			<td align="right" class="pi-r1-pad" colspan="3"><span class="pi-h4">Product Charges Sub Total:</span></td>
			<td align="right" class="pi-r1-pad"><span class="pi-h4">nn.nn</span></td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="3"><span class="pi-h4">Total Landed Cost:</span></td>
			<td class="pi-r1-pad" colspan="2">All currencies in [CUR]</td>
			<td align="right" class="pi-r1-pad"><span class="pi-h4">nn.nn</span></td>
		</tr>
		</tbody>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="1" src="/img/xln_544pixel_dotted_rule.gif" vspace="8" width="544"><br>
			Result estimates calculated by UPS: Weekday mm/dd/yyyy hh:mm P.M.  Eastern Time (USA)
			<br><br>
			Landed cost estimate may not include all Brokerage Fees.
			<br><br>
			The results returned above are estimates based on, among others, information you provide the TradeAbility<sup>TM</sup> Services and other information available to UPS. As such, these results may not be complete or accurate for your needs. For more information, please consult the <a href="repl_href">UPS TradeAbility License and Service Agreement</a><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a>.
			<div align="center"><img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"></div>
			To ask our international trade experts about this TradeAbility transaction, select <span class="pi-h4">Contact Trade Support</span>. You will receive a response within two to three business days.<br>
			<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Contact Trade Support</a>
			<div align="center"><img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"></div>
			<span class="pi-h3">Next Steps</span><br>
			Repeat the transaction above or make another TradeAbility service request by selecting an option from the drop-down menu below.
			<br><br>
			Next Steps Options:
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="baseline">
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Repeat this transaction</option>
				</select></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="5"></td>
				<td valign="baseline"><input alt="Go" border="0" height="18" name="repl_fname" src="/img/btn_arrow_large.gif" type="image" width="18"></td>
			</tr>
			</table>
			<br>
			<img alt="Back" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><a href="repl_href">Back to Transaction History</a>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<div align="center"><img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"></div>
			<span class="pi-h3">Landed Cost Request Information</span>&nbsp;&nbsp;<input alt="Hide Details" border="0" height="14" name="repl_fname" src="/img/en/btn_lnk_hide_details.gif" type="image" width="77"><br>
			<br>
			<span class="pi-h4">Country or Territory Information</span><br>
			<span class="pi-h4">Ship To:</span><br>
			[country or territory name] [state/province name]<br>
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr class="pi-r1-t">
			<td class="pi-r1-pad" width="25%">Ship From:</td>
			<td class="pi-r1-line" width="25%">Transportation Mode</td>
			<td class="pi-r1-line" width="25%">Total Shipping Charges</td>
			<td class="pi-r1-line" width="25%">Additional Insurance</td>
		</tr>
		</thead>
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">[country or territory name]<br>[state/province name]</td>
			<td class="pi-r1-pad">[mode]</td>
			<td class="pi-r1-pad">[nn.00] [CUR]<br>[UPS service name]<br>[UPS service duration time]</td>
			<td class="pi-r1-pad">[nn.00] [CUR]</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="3">[dynamic question? user supplied response]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="3">[dynamic question? user supplied value response?]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad" colspan="3">[dynamic question? not answered]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		</tbody>
		<tfoot>
		<tr class="pi-r1-b">
			<td colspan="4"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		</tfoot>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad"><br>
			<span class="pi-h4">Product Information</span>
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr class="pi-r1-t">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad">Product Country or Territory<br>of Origin:</td>
			<td class="pi-r1-line">Quantity</td>
			<td class="pi-r1-line">Price per Unit<br>/Total Weight</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		</thead>
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">n.</td>
			<td class="pi-r1-pad" colspan="3">[product name]<br>[product description]<br><br>[tariff code] - [tariff code]<br>**[sub code]&nbsp;**[sub code]<br>[tariff code description] + [tariff dash code description]</td>
			<td class="pi-r1-pad">Verfied</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad">[product country or territory of origin]</td>
			<td class="pi-r1-pad">[quantity]</td>
			<td class="pi-r1-pad">[value]&nbsp;[CUR]&nbsp;[weight]&nbsp;[unit]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad" colspan="3">[dynamic question? user supplied response]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad" colspan="3">[dynamic question? user supplied value response?]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad" colspan="3">[dynamic question? not answered]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">n.</td>
			<td class="pi-r1-pad" colspan="3">[product name]<br>[product description]<br><br>[tariff code] - [tariff code]<br>**[sub code]&nbsp;**[sub code]<br>[tariff code description] + [tariff dash code description]</td>
			<td class="pi-r1-pad">Not Verified</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad">[product country or territory of origin]</td>
			<td class="pi-r1-pad">[quantity]</td>
			<td class="pi-r1-pad">[value]&nbsp;[CUR]&nbsp;[weight]&nbsp;[unit]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad" colspan="3">[dynamic question? user supplied response]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad" colspan="3">[dynamic question? user supplied value response?]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">&nbsp;</td>
			<td class="pi-r1-pad" colspan="3">[dynamic question? not answered]</td>
			<td class="pi-r1-pad">&nbsp;</td>
		</tr>
		</tbody>
		<tfoot>
		<tr class="pi-r1-b">
			<td colspan="5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		</tfoot>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<input alt="Printer Friendly View" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_print_friend_view.gif" type="image" width="126">
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

<!-- Begin Table: Functional Table 2 -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td>
	<br>
	*Billing amount shown based on published rates.  Actual billing amount may differ.
	</td>
</tr>
</table>
<!-- End Table: Functional Table 2 -->

</form>
