{{!--------------------------------------------
===============================================
Main Content Widget Example
===============================================
---------------------------------------------}}


<div id = "" class="ups-widget">
    <div class="ups-widget_header">
        <h2>{{title}}</h2>
    </div>
    <div class="ups-widget_panel">
        <h1>H1 Example</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, ab laboriosam, laudantium dicta, libero sapiente debitis commodi ratione ipsam alias quae ex sed! Perferendis repudiandae praesentium fugiat expedita alias voluptates.</p>
        <h2>H2 Example</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, ab laboriosam, laudantium dicta, libero sapiente debitis commodi ratione ipsam alias quae ex sed! Perferendis repudiandae praesentium fugiat expedita alias voluptates.</p>
        <h3>H3 Example</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus in accusantium quam saepe ad error, mollitia facilis itaque officia unde explicabo ipsam provident placeat ut harum voluptatum reprehenderit repellat cum.</p>
    </div> <!-- @end .ups-news_panel -->
</div> <!-- @end .ups-news -->