---
title: Change in Pickup Options at New Location Modals
appId: ppc
dir: rtl
lang: ar
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper" ng-app="ppcAuthRequired">  
		<div class="ups-wrap_inner">
			<ups-change-pickup></ups-change-pickup>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
