---
title: ct1_shi_pic(1sch)_sta(3can)
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: rtl
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       

<!-- Style for the icdev display control box, not to be used on UPS.com -->

<style type="text/css">
.ctrl_box {
	z-index: 2001;
	margin: 10px;
	padding: 10px;
	background-color: #FFF2AC;
	border: 1px solid #FF7800;
	position: absolute;
	top: 0;
	right: 0;
}
.ctrl_box .btn {
	background-color: #F31A12;
	border-color: #FF7800 #850600 #850600 #FF7800;
}
</style>

<!-- End Style for the icdev display control box -->
            <form action="repl_fname">
            
                <div class="secLvl message sell clearfix">
                    <div class="secHead clearfix">
                        <h3>Pickup Request Cancelled</h3>
                    </div>
                    <div class="secBody">
                        <div class="group">
                            <p class="secLvlPad">Your Pickup Request (nnnnnnnnnnnn) has been cancelled.</p>
                            <p><strong>Receive refund due to immediate withdrawal of funds for your payment method</strong></p>
                            <p>To process your refund, please contact UPS Customer Service at [country's or territory's customer service phone number].</p>
                        </div>
                        <hr class="hr">
                        <div class="group">
                            <p><span class="label">Next Steps</span></p>
                            <p><a href="repl_href">&gt; Schedule Another Pickup</a></p>
                        </div>
                    </div>
                </div>
            
            </form>
        
        
        <!-- /applicationArea --> 
        
        <!-- /contentArea --> 
        
        <!-- /contentArea --> 
        
        <!-- /contentArea --> 
        
        <!-- /contentArea --> 
        
        <!-- /contentArea --> 
        
        <!-- /contentArea --> 
        
        <!-- /contentArea --> 
</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->