/*************************************************
** Compile errors 
** - erronious semicolons
** - 
*************************************************/

/*discount_rate_change_css*/

/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/
			/* RIF CODE AT WORK, CAN BE REMOVE WHEN RIF IS CORRECTED Team: Hildebrand Scott (LCC1SDH)
				/**/
						.redErrorBold {color:#F31A12;font-weight:bold;}
				/**/
			/**/
		/**/
		
		/*-- UPS Logo List --*/
		
/*.lstBrand li{margin:5px 5px 0; padding:0px 0px 15px 50px;background-repeat:no-repeat;background-position:0 0}
.lstBrand li{background-image:url(/img/glo_ups_brandmark_pfv.gif)}*/


/* with Sub Nav
Defaults loaded in master.css
#ccGtrMod {}
#ccCntMod {}*/

/*without SubNav
#ccGtrMod {display:none; padding:0; margin:0;}
#ccCntMod {width:960px; padding:0; margin:0;text-align: center}*/
#main {width:950px; margin:0 auto;}

/* CSS Document */

.dataTable th {background-color:#D4CCBF !important;}
.secLvl {padding-bottom:10px !important;}
.indentTwo {padding-left:50px;}
table caption {text-align:left;}
p.alignRight {text-align:right !important; padding-right:0 !important;}
.alert {color:#F00;}

a.viewmini{background-image:url(/img/btn_details_mini.gif);}

/* handle the text are to not be resizeable */
textarea{resize:none;}
textarea.comment{height:50px;max-height:50px;width:100%;max-width:200px;} 

/* set font for print version of completed export forms */
.pfv{font-size:medium;}