---
title: Pay Import Fees Online
appId: ippa
dir: ltr
lang: en
---

{{> M07_page_title}}

<div class="ups-form_wrap ups-wrap ups-application_wrapper">  
    <div class="ups-wrap_inner ups-app_ippa">
        {{> import_payment_confirmation_partial }}
    </div>
</div>
