<ups-modal modal-title="Test" #modal1>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS1>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS21>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS22>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS23>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS24>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS25>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS26>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS27>
    Testing
</ups-modal>
<ups-modal modal-title="Test" #ModalS3>
    Testing
</ups-modal>
<div class="ups-cms-demo">
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s1')">Step 1</button><br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s21')">Step 2.1</button><br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s22')">Step 2.2</button><br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s23')">Step 2.3</button><br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s24')">Step 2.4</button><br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s25')">Step 2.5</button><br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s26')">Step 2.6</button><br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s27')">Step 2.7</button><br><br>
    <button type="button" class="ups-cta ups-cta_primary" (click)="wizChangeRoute('s3')">Step 3</button>
</div>