<div class="ups-form_group">
    <label class="ups-lever" onclick="" for="hmcMinedLever">
        <input type="checkbox"
                id="hmcMinedLever"
                name="hmcMinedLever"
                class="ups-lever_checkbox"
                [(ngModel)]="hmcMinedLever"
                [ngModelOptions]="{'standalone': true}">
        <strong class="ups-form_label ups-lever_label">Would this item be considered a different kind of product than the materials used to make it?</strong>
        <p class="ups-form_subheader">For example, a t-shirt or baked goods would not be sold the same as the cotton or flour they are made from.</p>
        <!-- if checked then yes -->
        <span aria-hidden="true" class="ups-lever_switch">
            <span class="ups-lever_switch_yes">Yes</span>
            <span class="ups-lever_switch_bg"></span>
            <span class="ups-lever_switch_no">No</span>
        </span>
    </label>
</div>
