---
title: ct1_shi_ifwa_comminvoice
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        


		<!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->


        <form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>create commercial invoice</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p class="error">{&gt;&gt;&gt;error message.}</p>
                            <p>use the form below to add or modify information that will appear on your commercial invoice.</p>


                            <div class="clearfix">
                            	<dl class="clearfix">
                                	<dt><label for="repl_id" id="repl_id">total weight:</label></dt>
                                    <dd>
                                    	<input id="repl_id" type="text">
                                            <select id="repl_id">
                                                <option>lbs.</option>
                                            </select>
                                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                                </dl>
                            </div>


							<!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Address Information -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>address information</h3>
                                    </div>
                                    <!-- End Section Header -->


                                    <!-- Begin Section Body -->
                                    <div class="secBody">
                                        <dl class="flexFirstPad clearfix">
                                            <dd><span class="label">ship to:</span></dd>
                                            <dd>company name</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>

											<dt><label for="repl_id" id="repl_id"><a href="repl_href" class="btnlnkR helpIconR">ship from tax id (ein/vat):</a></label></dt>
                                            <dd><input type="text" id="repl_id" class="formcol4"></dd>
                                        </dl>

                                        <dl class="flexAfterPad clearfix">
                                            <dt>
                                            	<span class="label">ship to:</span>
                                                <span class="indentTwo">
                                                	<a href="repl_href" class="btnlnk">edit</a>
                                                </span>
                                            </dt>
                                            <dd>company name</dd>
                                            <dt>contact name</dt>
                                            <dd>address</dd>
                                            <dt>city/state/province/zip/postal code</dt>
                                            <dd>country or territory</dd>
                                            <dt>phone</dt>


											<dt>
												<label for="repl_id" id="repl_id"><a href="repl_href" class="btnlnkR helpIconR">ship to tax id (ein/vat):</a></label></dt>
                                            <dd><input type="text" id="repl_id" class="formcol4"></dd>
                                        </dl>

										<dl class="flexAfterPad clearfix">
                                            <dt>
                                            	<span class="label">sold to:</span>
                                                <span class="indentTwo">
                                                	<a href="repl_href" class="btnlnk">edit</a>
                                                </span>
                                            </dt>
                                            <dd>company name</dd>
                                            <dt>contact name</dt>
                                            <dd>address</dd>
                                            <dt>city/state/province/zip/postal code</dt>
                                            <dd>country or territory</dd>
                                            <dt>phone</dt>


											<dt>
												<label for="repl_id" id="repl_id"><a href="repl_href" class="btnlnkR helpIconR">sold to tax id (ein/vat):</a></label></dt>
                                            <dd><input type="text" id="repl_id" class="formcol4"></dd>
                                        </dl>

                                        <div class="clear"></div>
                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Address Information -->
							<!-- ////////////////////////////////////////// -->


                            <!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Product Information -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>product information</h3>
                                    </div>
                                    <!-- End Section Header -->

                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <p>information about the products added to your shipment is displayed below. you can edit, remove, or add additional products as needed.</p>

                                        <div class="clearfix">

                                            <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
                                               	<thead>
                                               		<tr>
                                                        <th><input type="checkbox" id="repl_id" width="10px"></th>
                                                        <th><a href="repl_href" class="btnlnkR sortDownIconR">product name <!--[if lte IE 7]><img src="/img/icn_sort_down.gif" width="10" height="10" alt=""><![endif]--></a></th>
                                                        <th>product description</th>
                                                        <th>unit of measure</th>
                                                        <th>number of units</th>
                                                        <th colspan="2">price per unit</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr class="odd">
                                                        <td><input type="checkbox" id="repl_id" width="10px"></td>
                                                        <td>productname3</td>
                                                        <td>product description content ...</td>
                                                        <td>bag; box; etc</td>
                                                        <td>nn</td>
                                                        <td>nn.00 ccc</td>
														<td><a href="repl_href" class="btnlnk">edit</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" id="repl_id" width="10px"></td>
                                                        <td>productname2</td>
                                                        <td>product description content ...</td>
                                                        <td>bag; box; etc</td>
                                                        <td>nn</td>
                                                        <td>nn.00 ccc</td>
														<td><a href="repl_href" class="btnlnk">edit</a></td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <td><input type="checkbox" id="repl_id" width="10px"></td>
                                                        <td>productname1</td>
                                                        <td>product description content ...</td>
                                                        <td>bag; box; etc</td>
                                                        <td>nn</td>
                                                        <td>nn.00 ccc</td>
														<TD><a href="repl_href" class="btnlnk">edit</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7"><input name="repl_name" type="button" value="remove selected" class="btn"></td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                            <p><a href="repl_href" class="btnlnk">add product</a></p>

                                        </div>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Product Information -->
							<!-- ////////////////////////////////////////// -->


							<!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Shipment Data -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>shipment data</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="outHozFlex clearfix">
                                        <dt>no shipment data</dt>
                                        <dd><a href="repl_href" class="btnlnk">add shipment data</a></dd>
                                    </dl>

                                    <div class="clear"></div>


                                    <!-- Begin Shipment Data Added -->
                                    <div class="clearfix">

                                        <dl>
                                            <dt>
                                            	<span class="label">ship from tax id:</span>
                                                <span class="indent"><a href="repl_href" class="btnlnk">edit</a></span>
                                            </dt>
                                            <dd>nnnnnnnnn</dd>
                                            <dt>
                                            	<span class="label">ship to tax id:</span>
                                            </dt>
                                            <dd>nnnnnnnnn</dd>
                                            <dt>
                                            	<span class="label">purchase order number:</span>
                                            </dt>
                                            <dd>nnnnnnnnn</dd>
                                        </dl>

                                    </div>
                                    <!-- End Shipment Data Added -->

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Shipment Data  -->
							<!-- ////////////////////////////////////////// -->



							<!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Declaration Statement -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>declaration statement</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="outHozFlex">
                                        <dt>none</dt>
                                        <dd><a href="repl_href" class="btnlnk">add statement</a></dd>
                                    </dl>

									<div class="clear"></div>

                                    <!-- Begin Declaration Statement Added -->
                                    <div class="clearfix">

                                        <dl class="flexFirst formcol16">
                                            <dt>the declaration statement selected or created by the user will appear in this area after they apply it from the declaration statement dialog. it can be as many as 550 characters. if the user wants to modify the statement, he can access the dialog again by clicking the edit link.</dt>
                                        </dl>

										<dl class="flexAfter">
                                            <dt><a href="repl_href" class="btnlnk">edit</a></dt>
                                        </dl>

                                    </div>

                                    <div class="clear"></div>
                                    <!-- End Declaration Statement Added -->


                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Declaration Statement  -->
							<!-- ////////////////////////////////////////// -->



							<!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Commercial Invoice Logo -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>commercial invoice logo</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="outHozFlex">
                                        <dt>no saved logo</dt>
                                        <dd><a href="repl_href" class="btnlnk">add logo</a></dd>
                                    </dl>

                                    <div class="clear"></div>

                                    <div class="clearfix">

                                        <fieldset><legend>repl_legend</legend>
                                        <table summary="repl_summary" title="repl_title">
                                        <!-- <caption>repl_caption</caption> -->
                                        <tr>
                                            <td class="sel" scope="row">
                                            	<input name="repl_name" type="checkbox" value="" id="repl_id1" checked="checked">
                                            </td>
                                            <td>
                                                <label id="repl_id2" for="repl_id1" class="sel">use saved logo</label>
                                                <span class="indent"><a href="repl_href" class="btnlnk">edit logo</a></span>
                                            </td>
                                        </tr>
                                        </table>
                                        </fieldset>

                                    </div>
                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Commercial Invoice Logo -->
							<!-- ////////////////////////////////////////// -->


                             <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>


                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw disabled">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
