---
title: Access International Forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>Access International Forms</h1>

		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>Select Suggested Forms</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>UPS recommends the following document(s) for your shipment. Suggestions are adequate for most shipments, but do not take into account all worldwide regulatory information. The forms suggested therefore might not be adequate for every shipment. Select the desired forms and either complete them online or print blank copies.</p>

                            <div class="clearfix">

                                <!-- Begin Section Module -->
                                <div class="secLvl clearfix">

                                    <fieldset>

                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <fieldset>
                                        <table summary="repl_summary" title="repl_title">
                                        <!-- <caption>repl_caption</caption> -->
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel" >Commercial Invoice</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel">Packing list</label>

                                       			 <!-- ////////////////////////////////////////////// -->
                                        		<!-- Begin Standalone Select Suggested Forms (1304) -->
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                	<tr>
                                                    	<td><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
                                                        <td><label id="repl_id" for="repl_id" class="sel">Use the <a href="repl_href">Worldwide Express Freight<sup>sm</sup> Packing List</a></label></td>
                                                    </tr>
                                                </table>
                                      			<!-- End Standalone Select Suggested Forms (1304) -->
                                        		<!-- //////////////////////////////////////////// -->


                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel">U.S. certificate of origin</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel">NAFTA certificate of origin</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel">Electronic Export Information (EEI)</label>
                                            </td>
                                        </tr>

                                        </table>
                                        </fieldset>

                                        <div class="clearfix">
                                            <dl class="indent">
                                            <dt><label for="repl_id" id="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Select EEI Filing Method:</a></label></dt>
                                            <dd>
                                            	<select id="repl_id" class="formcol7">
                                                	<option>Select One</option>
                                                    <option>I have an ITN</option>
                                                    <option>No EEI needed</option>
                                                    <option>Self-file with AES Direct (AES OPT 2)</option>
                                                    <option>UPS file my EEI for me</option>
                                                    <option>File post departure (AES OPT 4)</option>
                                                </select>{<img src="/img/1.gif" class="requiredIcon" width="12" height="11">}</dd>
                                            </dl>
                                            <p class="indent"><strong>Note:</strong> To file your EEI electronically, you must first register at <a href="repl_href" class="btnlnk">www.aesdirect.gov</a>.</p>
                                            <p class="indent"><strong>If you want ups to file your EEI, a $10 usd fee will appear on your shipping charges.</strong></p>
                                        </div>

                                        <div class="clearfix">
                                        <fieldset><legend>repl_legend</legend>
                                            <dl>
                                            	<dt><span class="label">Next step:</span></dt>
                                                <dd>
                                                    <table summary="repl_summary" title="repl_title">
                                                    <!-- <caption>repl_caption</caption> -->
                                                        <tr>
                                                            <td class="sel" scope="row">
                                                            <input name="repl_name" type="radio" id="repl_id15" checked="checked">
                                                            </td>
                                                            <td>
                                                                <label id="repl_id16" for="repl_id15" class="sel">
                                                                Complete selected forms online
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sel" scope="row">
                                                                <input name="repl_name" type="radio" id="repl_id17">
                                                            </td>
                                                            <td>
                                                                <label id="repl_id18" for="repl_id17" class="sel">
                                                                Reuse forms from your forms history
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sel" scope="row">
                                                                <input name="repl_name" type="radio" id="repl_id19">
                                                            </td>
                                                            <td>
                                                                <label id="repl_id20" for="repl_id19" class="sel">
                                                                Download and print blank forms from the forms library
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </dd>
                                            </dl>
                                        </fieldset>
                                        </div>


                                        <h3>Related Solutions</h3>
                                        <dl>
                                        	<dt>use ImportEexport to access general information about country or territory regulations.</dt>
	                                        <dd><a href="repl_href" class="btnlnkR newWindowIconR">Review Country or Territory Regulations</a></dd>
                                        </dl>
                                        <dl>
                                        	<dt>Ensure that your shipment is in compliance with country-specific or territory-specific regulations, procedures, tariffs and laws.</dt>
	                                        <dd><a href="repl_href" class="btnlnkR newWindowIconR">Check Import Compliance</a></dd>
                                        </dl>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                                </div>
                                <!-- End Section Module -->

                    		</div>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
								<input name="" type="submit" value="back" class="btnBackArw">
                                <input name="" type="submit" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
