---
title: create a shipment
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">

        <h1>{create a shipment}</h1>



		<form action="repl_fname">
        <!-- /application area begin -->

            <!-- Begin Application Mo dule -->
            <div class="appLvl mod">
				<fieldset><legend></legend>
				<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>{Application Header}</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->

				<!-- Begin Application Body -->
					<div class="appBody clearfix">

					<!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<fieldset><legend></legend>
							<!-- Begin Section Header --><!-- End Section Header -->

							<!-- Begin Section Body -->
							<div class="secBody clearfix">

									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<select>
										<option>item1</option>
									</select>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							</div>
							<!-- End Section Body -->

							<!-- Begin Section Footer --><!-- End Section Footer -->
							</fieldset>

						</div>
					<!-- End Section Module -->

					</div>
				<!-- End Application Body -->

				<!-- Begin Application Footer --><!-- End Application Footer -->
				</fieldset>
			</div>
            <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
<!-- applicationArea -->

		<div class="appLvl mod modal dialog">

			<div class="appHead clearfix">
				<h2>{add/edit} product</h2>
				<ul>
                	<li><input id="" type="button" title="Close" class="btnlnkL closeIcon modalClose"></li>
					<li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                </ul>
			</div>

			<div class="appBody">

                <p class="error">{&gt;&gt;&gt;error message.}</p>
                <p>use the form below to add a product to your shipment. you can select a saved product from your product list or add new product information.</p>


                <div class="clearfix">

                    <dl>

                        <dt><label for="repl_id">product list:</label></dt>
                        <dd>
                        	<select id="repl_id">
                        		<option>select one</option>
                            </select>
                            <span> --- or enter new product details below</span>
                        </dd>
                    </dl>

					<dl>
                        <dt><label for="repl_id">product name:</label></dt>
                        <dd>
                            <table summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                                <tr>
                                    <!-- adjust the class="formcol6" number as the input length changes -->
                                    <td class="formcol6"><input id="repl_id" type="text"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></td>
                                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                                    <td><label id="repl_id2" for="repl_id1" class="sel">save to product list</label></td>
                                </tr>
                            </table>
                        </dd>

                        <dt>
                        	<label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">product description:</a></label>
                            </dt>

                        <dd>
                        	<!-- textarea vertical scroll bars become visible automatically when content exceeds the heighth -->
                            <textarea rows="4" cols="50"></textarea>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>

                        <dt><label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">number of units:</a></label></dt>
                        <dd>
                        	<input id="repl_id" type="text">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>

                        <dt><label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">price per unit:</a></label></dt>
                        <dd>
                        	<input id="repl_id" type="text">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">






                            <!-- /////////////////////////////////////////////////////////////////////////// -->
                            <!-- Begin 1303 CN22 Add or Edit Product Dialog -->
                            <span class="indent">[USD]</span>
                            <!-- End 1303 CN22 Add or Edit Product Dialog -->
                            <!-- /////////////////////////////////////////////////////////////////////////// -->




                        </dd>

                        <dt><label for="repl_id">currency:</label></dt>
                        <dd>
                        	<select id="repl_id">
                        		<option>ccc - currency name</option>
                            </select>
                           	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>

                    </dl>

                    <div class="clearfix">

                        <dl class="flexFirst clearfix">








                            <!-- /////////////////////////////////////////////////////////////////////////// -->
                            <!-- Begin 1303 CN22 Add or Edit Product Dialog -->
                            <dt><label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">unit of measure:</a></label></dt>
                            <dd>
                                <select id="repl_id">
                                    <option>each</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                            </dd>
                            <!-- Begin 1303 CN22 Add or Edit Product Dialog -->
                            <!-- /////////////////////////////////////////////////////////////////////////// -->






                        </dl>

                        <dl class="flexAfter clearfix">

                            <dt><label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">other unit of measurement:</a></label></dt>
                            <dd>
                                <input id="repl_id" type="text">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                <span class="indent">[ccc]</span>
                            </dd>

                        </dl>

                        <div class="clear"></div>

                    </div>

                    <dl class="clearfix">

                    	<dt><label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">product country or territory of origin:</a></label></dt>
                        <dd>
                            <select id="repl_id">
                                <option>united states</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>

                    </dl>

                    <div class="clearfix">

                    	<fieldset><legend>repl_legend</legend>
                        <table summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                            <tr>
                                <td class="sel" scope="row">
                                	<input name="repl_name" type="checkbox" value="" id="repl_id1">
                                </td>
                                <td>
                                	<label id="repl_id2" for="repl_id1" class="sel">use <a href="repl_href" class="btnlnkR helpIconR">joint production</a> ("jnt") as country or territory of origin for nafta</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="sel" scope="row">
                               		<input name="repl_name" type="checkbox" value="" id="repl_id3">
                                </td>
                                <td>
                                	<label id="repl_id4" for="repl_id3" class="sel"><a href="repl_href" class="btnlnkR helpIconR">exclude from nafta</a></label>
                                </td>
                            </tr>
                        </table>
                        </fieldset>

                    </div>

                    <dl class="clearfix">

                    	<dt><span class="label"><a href="repl_href" class="btnlnkR helpIconR">tariff code:</a></span></dt>
                        <dd>
                        	<input id="repl_id" type="text">
                            <span class="indent">
                            	<!-- cannot add an arrowIcon with a newWindowIcon -->
                                <a href="repl_href" class="btnlnkR newWindowIconR">search for tariff codes</a>
                            </span>
                        </dd>

                    </dl>

                </div>

			</div>

			<div class="appFooter">
				<div class="btnBar alignCenter">
					<input name="" type="button" value="cancel" class="btn modalClose">
					<input name="" type="submit" value="submit" class="btn">
				</div>
			</div>
		</div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->


<script type="text/javascript">

$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:710});
	$('.modalClose').click(function(e){
		$('.modal').dialog('close');
	});
});

</script>
