---
title: review export forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>review export forms</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->



		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>review export forms</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">


							<p>use the tables below to review all export forms associated with your shipment.</p>


							<!-- ///////////////////////// -->
                            <!-- Begin Online Export Forms -->

                            <h3>online export forms</h3>

                            <!-- Begin Section Module -->
                            <div class="secLvl secLvlPlain seccol13 marginBegin clearfix">
                                <fieldset>
                                <!-- Begin Section Body -->
                                <div class="secBody">
                                    <fieldset><legend>repl_legend</legend>
                                    <table summary="repl_summary" title="repl_title" class="dataTable"><!-- <caption>repl_caption</caption> -->
                                        <thead>
                                            <tr>
                                                <th>form type</th>
                                                <th>actions</th>
                                            </tr>
                                        </thead>





                                    <!-- /////////////////////////////////////////////////////////////////////////// -->
                                    <!-- Begin Review Forms -->
                                        <tr class="odd">
                                            <td class="formcol9">commercial invoice</td>
                                            <td><a href="repl_href" class="btnlnk">edit form</a></td>
                                        </tr>
                                        <tr>
                                            <td class="formcol9">us certificate of origin</td>
                                            <td><a href="repl_href" class="btnlnk">edit form</a></td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="formcol9">nafta</td>
                                            <td><a href="repl_href" class="btnlnk">complete now</a></td>
                                        </tr>
                                    </table>

                                    <p><a href="repl_href" class="btnlnk">{print all online forms}{preview form}</a></p>
                                    <!-- End Review Forms -->
                                    <!-- /////////////////////////////////////////////////////////////////////////// -->





                                    </fieldset>
                                </div>
                                <!-- End Section Body -->
                                </fieldset>
                            </div>
                            <!-- End Section Module -->

                            <!-- End Online Export Forms -->
							<!-- /////////////////////// -->


							<!-- ////////////////////////////// -->
                            <!-- Begin Paperless Message Module -->

                            <!-- Begin Section Module -->
                            <div class="secLvl message seccol11 marginEnd clearfix">
                                <fieldset>
                                <!-- Begin Section Header -->
                                <!-- End Section Header -->
                                <!-- Begin Section Body -->
                                <div class="secBody">
                                    <p>ups paperlessSM invoice is activated for your selected ups account, so a printed commercial invoice is not required for this shipment. all other completed forms will be printed. note: the air waybill number will not be included when printing an air freight commercial invoice.</p>
                                </div>
                                <!-- End Section Body -->
                                </fieldset>
                            </div>
                            <!-- End Section Module -->

                            <!-- End Online Export Forms -->
							<!-- /////////////////////// -->


                            <div class="clear"></div>


							<!-- /////////////////////////// -->
                            <!-- Begin Uploaded Export Forms -->
                            <h3>uploaded export forms</h3>

                            <fieldset><legend>repl_legend</legend>
                            <table summary="repl_summary" title="repl_title" class="dataTable"><!-- <caption>repl_caption</caption> -->
                                <thead>
                                	<tr>
                                    	<th>file name</th>
                                        <th>form type</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>

                                <tr class="odd">
                                	<td class="formcol8">my forms 090911</td>
                                    <td class="formcol8">power of attorney<br>other</td>
                                    <td><a href="repl_href" class="btnlnk">view and print form</a></td>
                                </tr>
                                <tr>
                                	<td class="formcol8">my forms 2</td>
                                    <td class="formcol8">[form 1]</td>
                                    <td><a href="repl_href" class="btnlnk">view and print form</a></td>
                                </tr>
                            </table>
                            </fieldset>
                            <!-- End Uploaded Export Forms -->
							<!-- ///////////////////////// -->



                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->




                            <!-- /////////////////////////////////////////////////////////////////////////// -->
                            <!-- Begin Review Forms -->
                            <div class="btnBar">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Review Forms -->
                            <!-- /////////////////////////////////////////////////////////////////////////// -->





                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
