---
title: review export forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>review export forms</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->



		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>review export forms</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">


							<p>use the table below to review all export forms you created online.</p>


							<!-- ///////////////////////// -->
                            <!-- Begin Online Export Forms -->
                            <h3>online export forms</h3>
                            <fieldset><legend>repl_legend</legend>
                            <table summary="repl_summary" title="repl_title" class="dataTable"><!-- <caption>repl_caption</caption> -->
                                <thead>
                                	<tr>
                                    	<th>form type</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>

                                <tr class="odd">
                                	<td class="formcol10">commercial invoice</td>
                                    <td><a href="repl_href" class="btnlnk">edit form</a></td>
                                </tr>
                                <tr>
                                	<td class="formcol10">us certificate of origin</td>
                                    <td><a href="repl_href" class="btnlnk">edit form</a></td>
                                </tr>
                                <tr class="odd">
                                	<td class="formcol10">nafta</td>
                                    <td><a href="repl_href" class="btnlnk">complete now</a></td>
                                </tr>
                            </table>

                            <p><a href="repl_href" class="btnlnk">print all online forms</a></p>
                            </fieldset>
                            <!-- End Online Export Forms -->
							<!-- /////////////////////// -->

							<br>
							<hr class="hr">

                            <h3>next steps</h3>
							<p><a href="repl_href" class="btnlnk">create new forms</a></p>
                            <p><a href="repl_href" class="btnlnk">reuse forms</a></p>
                            <p><a href="repl_href" class="btnlnk">view forms history</a></p>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
