---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
	<h1>{Page Title}</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->



		<form action="repl_fname">

		<!-- Begin Application Module -->
			<div class="appLvl mod col24">
				<fieldset><legend>repl_legend</legend>

                <!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>enter address information</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->


                <!-- Begin Application Body -->
                <div class="appBody">

                    <p class="error">{&gt;&gt;&gt;error message.}</p>
                    <p>complete the form fields to create your printable forms. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>


                    <!-- Begin Section Module -->
						<div class="secLvl seccol12 marginBegin clearfix">
							<fieldset>

                            <!-- Begin Section Header -->
							<div class="secHead clearfix">
								<h3>ship from:</h3>
							</div>
							<!-- End Section Header -->

                            <!-- Begin Section Body -->
							<div class="secBody">

                                <dl>

                                    <dt><label id="repl_id1" for="repl_id2">my addresses:</label></dt>
                                    <dd>
                                        <select id="repl_id2">
                                            <option>enter new address</option>
                                        </select>
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">contact name:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">company name:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id1" for="repl_id2">country or territory:</label></dt>
                                    <dd>
                                        <select id="repl_id2">
                                            <option>united states</option>
                                        </select>
                                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">address line 1:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                        <br>
                                    	<input id="repl_id4" type="text">
                                    	<br>
                                        <input id="repl_id4" type="text">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">city:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id1" for="repl_id2">state:</label></dt>
                                    <dd>
                                        <select id="repl_id2">
                                            <option>select one</option>
                                        </select>
                                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">zip code:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">telephone:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                        <br>
                                        <fieldset><legend>repl_legend</legend>
                                        <table summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                                            <tr>
                                                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                                                <td><label id="repl_id2" for="repl_id1" class="sel">perform address validation</label></td>
                                            </tr>
                                        </table>
                                        </fieldset>

                                    </dd>
                                    <dt><label id="repl_id1" for="repl_id2" class="sel">My Addresses Options:</label></dt>
                                    <dd>
                                        <select id="repl_id2">
                                            <option>select one</option>
                                        </select>
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4" class="sel">Save to or Update to My Addresses As:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    </dd>
                                </dl>

							</div>
							<!-- End Section Body -->
							</fieldset>
						</div>
						<!-- End Section Module -->



                     	<!-- Begin Section Module -->
						<div class="secLvl seccol12 marginEnd clearfix">
							<fieldset>

                            <!-- Begin Section Header -->
							<div class="secHead clearfix">
								<h3>ship to:</h3>
							</div>
							<!-- End Section Header -->


                            <!-- Begin Section Body -->
							<div class="secBody">

                                <dl>

                                    <dt><label id="repl_id1" for="repl_id2">My Contacts:</label></dt>
                                    <dd>
                                        <select id="repl_id2">
                                            <option>enter new address</option>
                                        </select>
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">contact name:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">company name:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id1" for="repl_id2">country or territory:</label></dt>
                                    <dd>
                                        <select id="repl_id2">
                                            <option>united states</option>
                                        </select>
                                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">address line 1:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                        <br>
                                    	<input id="repl_id4" type="text">
                                    	<br>
                                        <input id="repl_id4" type="text">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">city:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id1" for="repl_id2">state:</label></dt>
                                    <dd>
                                        <select id="repl_id2">
                                            <option>georgia</option>
                                        </select>
                                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">zip code:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4">telephone:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    	<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                    <dt><label id="repl_id1" for="repl_id2" class="sel">My Contacts Options:</label></dt>
                                    <dd>
                                        <select id="repl_id2">
                                            <option>select one</option>
                                        </select>
                                    </dd>
                                    <dt><label id="repl_id3" for="repl_id4" class="sel">Save to or Update to My Contacts As:</label> </dt>
                                    <dd>
                                    	<input id="repl_id4" type="text">
                                    </dd>
                                </dl>

							</div>
							<!-- End Section Body -->
							</fieldset>
						</div>
						<!-- End Section Module -->

                    	<div class="clear"></div>


                <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>


                </div>
                <!-- End Application Body -->


                <!-- Begin Application Footer -->
                <div class="appFooter">
                    <!-- Begin Button Bar Row -->
                    <div class="btnBar">
                        <input name="" type="button" value="back" class="btnBackArw">
                        <input name="" type="button" value="cancel" class="btn">
                        <input name="" type="submit" value="next" class="btnArw">
                    </div>
                    <!-- End Button Bar Row -->
                </div>
                <!-- End Application Footer -->

		</fieldset>
        </div>
        <!-- End Application Module -->

        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
