---
title: ct1_shi_ifwa_comminvoice_dlg_decstatement
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
	

		<form action="repl_fname">

		<!-- Begin Application Module -->
			<div class="appLvl mod">
				<fieldset><legend></legend>
				<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>Application Header</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->

				<!-- Begin Application Body -->
					<div class="appBody clearfix">

					<!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<fieldset><legend></legend>
							<!-- Begin Section Header --><!-- End Section Header -->

							<!-- Begin Section Body -->
							<div class="secBody clearfix">

									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<select>
										<option>item1</option>
									</select>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							</div>
							<!-- End Section Body -->

							<!-- Begin Section Footer --><!-- End Section Footer -->
							</fieldset>

						</div>
					<!-- End Section Module -->

					</div>
				<!-- End Application Body -->

				<!-- Begin Application Footer --><!-- End Application Footer -->
				</fieldset>
			</div>
		<!-- End Application Module -->

		</form>
	<!-- contentArea -->
	</div>
<!-- applicationArea -->




			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->


</div>

</div>

<div class="cclampFooter">
<div class="appLvl appLvlPlain colsuper clearfix">
<fieldset>
<div class="appHead clearfix">
<dl class="inline">
<dt><label>footer</label></dt>
<dd></dd>
<dd></dd>
</dl>
</div>
<div class="appBody clearfix">
<fieldset>
<div class="secLvl secLvlPlain seccol6 clearfix"></div>
</fieldset>
</div>
<div class="appFooter"></div>
</fieldset>
</div>
</div>



<!-- Begin Add Statement View (Default) -->
    <div class="appLvl mod modal col18 dialog">

        <div class="appHead clearfix">
            <h2>add declaration statement {to invoice}{dialog}</h2>
            <ul>
                <li><a href="repl_href" class="btnlnkR helpIconR">{Help}</a></li>
            </ul>
        </div>

        <div class="appBody">

            <p class="error">{&gt;&gt;&gt;error message.}</p>
            <p>use the form below to add a declaration statement to your commercial invoice. you can select a saved statement from your library or create a new one. required fields are marked with a <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>


            <!-- Begin Section Module -->
            <div class="secLvl secLvlPlain clearfix">
                <fieldset>
                <!-- Begin Section Body -->
                <div class="secBody">

                    <dl class="flexFirst formcol6 clearfix">
                        <dt>
                            <label id="repl_id1" for="repl_id2">
                                <a href="repl_href" class="btnlnkR helpIconR">{my ups address book:}{declaration statement library:}</a>
                            </label>
                        </dt>
                        <dd>
                            <select id="repl_id2" multiple="multiple" size="8" class="formcol6">
                                <option>ups canned 1</option>
                                <option>ups canned 2</option>
                                <option>for mexico</option>
                                <option>for china*</option>
                                <option>for malaysia</option>
                                <option>for germany</option>
                            </select>
                            <br>

                            <!-- Begin Add Statement View -->
                            <span class="label">this is my default statement.</span>
                            <!-- End Add Statement View -->

                        </dd>
                    </dl>

                    <dl class="flexAfter formcol12 clearfix">
                        <dt>
                            <label id="repl_id3" for="repl_id4">preview selected statement:</label>
                        </dt>
                        <dd>
                            <textarea id="repl_id4" rows="7" cols="65">text of saved statement displayed here for reference.</textarea>
                            <br>
                            <p class="alignRight">
                            <a href="repl_href" name="" class="btnlnk">edit saved statement</a>
                            </p>
                        </dd>
                    </dl>

                    <div class="clear"></div>

                </div>
                <!-- End Section Body -->

                </fieldset>

            	<span class="label"><a href="repl_href" class="btnlnkL plusMini">create new statement</a></span>

            </div>
            <!-- End Section Module -->



            <!-- Begin Edit Statement View -->
            <!-- Begin Section Module -->
			<div class="secLvl secLvlPlain clearfix">

                <!-- Begin Section Body -->
                <div class="secBody clearfix">

                    <dl>
                    	<dt>
                        	<label id="repl_id5" for="repl_id6">declaration statement name:</label>
                        </dt>
                        <dd>
                        	<input type="text" id="repl_id6" value="prepopulated name"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>

                        <!-- Begin Create New Statement -->
                        <dt><label id="repl_7" for="repl_id8">name:</label></dt>
                        <dd><input type="text" id="repl_id8"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                        <!-- End Create New Statement -->

                    </dl>
                    <dl>
                    	<dt><label id="repl_id9" for="repl_id10">declaration statement text:</label></dt>
                        <dd>
                            <textarea id="repl_id10" disabled="disabled" value="text of saved statement displayed here for reference." rows="7" cols="100">existing declaration statement prepopulated here. user can modify it. declaration statement text goes in this area, up to 550 characters. i can add another sentence or two if I want, or change the words. or i can start over witha  brand new statement. declaration statement text goes in this area, up to 550 characters. i can add another sentence or two if i want, or change the words. or i can start over with a brand new statement ...</textarea><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>
                    </dl>

                    <div class="clearfix">
                        <fieldset><legend>repl_legend</legend>
                        <table summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                            <tr>
                                <td class="sel" scope="row">
                                	<input name="repl_name" type="checkbox" value="" id="repl_id11" checked="checked">
                                </td>
                                <td>
                                	<label id="repl_id12" for="repl_id11" class="sel">save statement to library</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="sel" scope="row">
                                	<input name="repl_name" type="checkbox" value="" id="repl_id13" checked="checked">
                                </td>
                                <td>
                                	<label id="repl_id14" for="repl_id13" class="sel">make this my default statement</label>
                                </td>
                            </tr>
                        </table>
                        </fieldset>

                        <!-- Begin Create New Statement -->
                        <p class="indent"><label><a href="repl_href" class="btnlnkR helpIconR">you have saved the maximum number of statements to your library.</a></label></p>
                        <!-- End Create New Statement -->

                    </div>
                </div>
                <!-- End Section Body -->

            </div>
			<!-- End Section Module -->
            <!-- End Edit Statement View -->



        </div>

        <div class="appFooter">
            <div class="btnBar alignCenter">
                <input name="" type="button" value="cancel" class="btn">
                <input name="" type="submit" value="add to invoice" class="btn">
            </div>
        </div>

    </div>
<!-- End Add Statement View (Default) -->



<script type="text/javascript">

$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:710});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});
});

</script>

</body>
</html>
