---
title: ct1_shi_ifwa_packinglist_dlg_notes
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
    

		<form action="repl_fname">

		<!-- Begin Application Module -->
			<div class="appLvl mod">
				<fieldset><legend></legend>
				<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>{Application Header}</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->

				<!-- Begin Application Body -->
					<div class="appBody clearfix">

					<!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<fieldset><legend></legend>
							<!-- Begin Section Header --><!-- End Section Header -->

							<!-- Begin Section Body -->
							<div class="secBody clearfix">

									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<select>
										<option>item1</option>
									</select>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							</div>
							<!-- End Section Body -->

							<!-- Begin Section Footer --><!-- End Section Footer -->
							</fieldset>

						</div>
					<!-- End Section Module -->

					</div>
				<!-- End Application Body -->

				<!-- Begin Application Footer --><!-- End Application Footer -->
				</fieldset>
			</div>
		<!-- End Application Module -->

		</form>
	<!-- contentArea -->
	</div>
<!-- applicationArea -->




			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->



        <!-- Begin Application Module -->
        <div class="appLvl mod modal dialog">


            <!-- Begin Application Header -->
            <div class="appHead clearfix">
				<h2>{add/edit} note</h2>
				<ul>
					<li><input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
				</ul>
			</div>
            <!-- End Application Header -->


            <!-- Begin Application Body -->
            <div class="appBody">
				<p>use the field below to enter additional details about a specifid product such as a sku number or other relevant information. there is a 35-character maximum.</p>


                <div class="clearfix">

                    <dl class="flexFirst formcol8 clearfix">
                        <dt><span class="label">description of goods:</span></dt>
                        <dd>
                        	<span>[tariff code]</span>
                            <span>[product description]</span>
                        </dd>
                    </dl>

                    <dl class="flexAfter">
                        <dt><label id="repl_id1" for="repl_id2">{add/edit} note:</label></dt>
                        <dd><input id="repl_id2" type="text" class="formcol8" value="12345678901234567890123456789012345"></dd>
                    </dl>

                    <div class="clear"></div>

                </div>

			</div>
            <!-- End Application Body -->


            <!-- Begin Application Footer -->
            <div class="appFooter">
				<div class="btnBar alignCenter">
					<input name="" type="button" value="cancel" class="btn">
					<input name="" type="submit" value="submit" class="btn">
				</div>
			</div>
            <!-- End Application Footer -->


        </div>
        <!-- End Application Module -->


<script type="text/javascript">

$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:710});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});
});

</script>
