---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>access international forms</h1>

        <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->




		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>enter a description of your forms</h2>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>enter an optional description of the forms just completed to help you identify them in your forms history. you will still be able to access these forms from your forms history if you do not provide a description.</p>

                            <dl>
                                <dt><label for="repl_id1" id="repl_id2">forms description:</label></dt>
                                <dd><input type="text" id="repl_id1" class="formcol10"></dd>
                            </dl>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
