---
title: ct1_shi_ifwa_packinglist_wwef
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>[access international forms]</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->


		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>create packing list</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p class="error">>>>> error message goes here.</p>

                            <p>review your shipment details below. you may provide additional information, as needed. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>


                            <!-- ////////////////////////////////////////////// -->
                            <!-- Begin Section Module (Address Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>
                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>address information</h3>
                                </div>
                                <!-- End Section Header -->
                                <!-- Begin Section Body -->
                                <div class="secBody clearfix">

                                        <dl class="flexFirst formcol12 clearfix">
                                            <dt><span class="label">ship from:</span></dt>
                                            <dd>company name</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>address 2</dd>
                                            <dd>address 3</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>

											<!--<dt><label id="repl_id1" for="repl_id2"><a href="repl_href" class="btnlnkR helpIconR">ship from tax id (ein/vat):</a></label></dt>
											<dd><input id="repl_id2" type="text"></dd>-->

                                        </dl>

                                        <dl class="flexAfter clearfix">
                                            <span class="label">ship to:</span>
                                            <dd>company name</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>address 2</dd>
                                            <dd>address 3</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>
											<!--<dd class="appLvlPad">tax id/vat</dd>-->
                                        </dl>

                                        <div class="clear"></div>

                                </div>
                                <!-- End Section Body -->
                                </fieldset>
                            </div>
                            <!-- End Section Module (Address Information) -->
                            <!-- /////////////////////////////////////////// -->



							<!-- ////////////////////////////////////////////////// -->
							<!-- Begin Section Module (Shipment Information) (1304) -->
                            <div class="secLvl step clearfix">
                                <fieldset>
                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>shipment information header</h3>
                                </div>
                                <!-- End Section Header -->
                                <!-- Begin Section Body -->
                                <div class="secBody clearfix">

                                        <dl class="flexFirst formcol12 clearfix">
                                            <dt><label for="repl_id1">special commodities label</label></dt>
                                            <dd id="repl_id1">[yes/no]</dd>
                                        </dl>

                                        <dl class="flexAfter clearfix">
                                            <dd id="repl_id">[reference #1]</dd>
                                            <dd id="repl_id">[reference #2]</dd>
                                            <dd id="repl_id">[reference #3]</dd>
                                        </dl>

                                        <div class="clear"></div>

                                </div>
                                <!-- End Section Body -->
                                </fieldset>
                            </div>
							<!-- End Section Module (Shipment Informaiton) (1304) -->
                            <!-- //////////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Pallet Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>{package}{pallet} information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol12">
                                        <dt><label for="repl_id">tracking number:</label></dt>
                                        <dd id="repl_id">[nnnnnnnnnnnnnn]</dd>



                                        <!-- //////////////////////////// -->
                                        <!-- Begin Number of Units (1304) -->
                                        <dt><label for="repl_id2">number of units label</label></dt>
                                        <dd id="repl_id2">[00000]</dd>
                                        <!-- End Number of Units (1304) -->
                                        <!-- ////////////////////////// -->



                                        <dt><label for="repl_id">dimensions:</label></dt>
                                        <dd id="repl_id">[000] x [000] x [000][in/cm]</dd>
                                        <dt><label for="repl_id">weight:</label></dt>
                                        <dd id="repl_id">[00000]</dd>
                                    </dl>

                                    <dl class="flexAfter">


                                    	<!-- //////////////////////////////// -->
                                        <!-- Begin Special Commodities (1304) -->
                                    	<dt><label for="repl_id1">special commodities label</label></dt>
                                        <dd id="repl_id1">[yes/no]</dd>
                                    	<!-- End Special Commodities (1304) -->
                                        <!-- ////////////////////////////// -->



                                        <dt><label for="repl_id">dangerous goods:</label></dt>
                                        <dd id="repl_id">[yes/no]</dd>
                                        <dt id="repl_id">reference #1</dt>
                                        <dd id="repl_id">reference #2</dd>
                                        <dd id="repl_id">reference #3</dd>
                                        <dd id="repl_id">reference #4</dd>
                                    </dl>
                                    <div class="clear"></div>


                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col"><a href="repl_href" class="btnlnkR helpIconR">description of goods</a></th>
                                                <th nowrap scope="col">unit price</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td><input type="text" id="repl_id" size="80"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></td>
                                                <td><input type="text" id="repl_id" size="10"></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Pallet Information) -->
                            <!-- /////////////////////////////////////////// -->



<!-- /////////////////////////////////////////////////////////////////////////////// -->
<!-- Begin 1304 WW Express Freight Packing List Form - Multi-Pallet -->
<!-- /////////////////////////////////////////////////////////////////////////////// -->


                                    <!-- /////////////////////////////////////////// -->
                                    <!-- Begin Section Module (Pallet 1 Information) -->
                                    <div class="secLvl step clearfix">
                                        <fieldset>

                                        <!-- Begin Section Header -->
                                        <div class="secHead clearfix">
                                            <h3>{package}{pallet} 1 information</h3>
                                        </div>
                                        <!-- End Section Header -->

                                        <!-- Begin Section Body -->
                                        <div class="secBody">

                                            <dl class="flexFirst formcol12">
                                                <dt><label for="repl_id">tracking number:</label></dt>
                                                <dd id="repl_id">nnnnnnnnnnnnnn</dd>




                                                <!-- //////////////////////////// -->
                                                <!-- Begin Number of Units (1304) -->
                                                <dt><label for="repl_id2">number of units label</label></dt>
                                                <dd id="repl_id2">[00000]</dd>
                                                <!-- End Number of Units (1304) -->
                                                <!-- ////////////////////////// -->


                                            </dl>

                                            <dl class="flexAfter">
                                            	<dt><label for="repl_id">dimensions:</label></dt>
                                                <dd id="repl_id">[000] x [000] x [000][in/cm]</dd>
                                                <dt><label for="repl_id">weight:</label></dt>
                                                <dd id="repl_id">[00000]</dd>

                                            </dl>
                                            <div class="clear"></div>


                                            <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
                                                <thead>
                                                    <tr>
                                                        <th nowrap scope="col"><a href="repl_href" class="btnlnkR helpIconR">description of goods</a></th>
                                                        <th nowrap scope="col">unit price</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr class="odd">
                                                        <td><input type="text" id="repl_id" size="80"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></td>
                                                        <td><input type="text" id="repl_id" size="10"></td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                        <!-- End Section Body -->

                                        </fieldset>
                                    </div>
                                    <!-- End Section Module (Pallet 1 Information) -->
                                    <!-- /////////////////////////////////////////// -->



                                    <!-- /////////////////////////////////////////// -->
                                    <!-- Begin Section Module (Pallet 2 Information) -->
                                    <div class="secLvl step clearfix">
                                        <fieldset>

                                        <!-- Begin Section Header -->
                                        <div class="secHead clearfix">
                                            <h3>{package}{pallet} 2 information</h3>
                                        </div>
                                        <!-- End Section Header -->

                                        <!-- Begin Section Body -->
                                        <div class="secBody">

                                            <dl class="flexFirst formcol12">
                                                <dt><label for="repl_id">tracking number:</label></dt>
                                                <dd id="repl_id">nnnnnnnnnnnnnn</dd>




                                                <!-- //////////////////////////// -->
                                                <!-- Begin Number of Units (1304) -->
                                                <dt><label for="repl_id2">number of units label</label></dt>
                                                <dd id="repl_id2">[00000]</dd>
                                                <!-- End Number of Units (1304) -->
                                                <!-- ////////////////////////// -->


                                            </dl>

                                            <dl class="flexAfter">
                                            	<dt><label for="repl_id">dimensions:</label></dt>
                                                <dd id="repl_id">[000] x [000] x [000][in/cm]</dd>
                                                <dt><label for="repl_id">weight:</label></dt>
                                                <dd id="repl_id">[00000]</dd>

                                            </dl>
                                            <div class="clear"></div>


                                            <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
                                                <thead>
                                                    <tr>
                                                        <th nowrap scope="col"><a href="repl_href" class="btnlnkR helpIconR">description of goods</a></th>
                                                        <th nowrap scope="col">unit price</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr class="odd">
                                                        <td><input type="text" id="repl_id" size="80"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></td>
                                                        <td><input type="text" id="repl_id" size="10"></td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                        <!-- End Section Body -->

                                        </fieldset>
                                    </div>
                                    <!-- End Section Module (Pallet 2 Information) -->
                                    <!-- /////////////////////////////////////////// -->


                                    <!-- /////////////////////////////////////////// -->
                                    <!-- Begin Section Module (Pallet 3 Information) -->
                                    <div class="secLvl step clearfix">
                                        <fieldset>

                                        <!-- Begin Section Header -->
                                        <div class="secHead clearfix">
                                            <h3>{package}{pallet} 3 information</h3>
                                        </div>
                                        <!-- End Section Header -->

                                        <!-- Begin Section Body -->
                                        <div class="secBody">

                                            <dl class="flexFirst formcol12">
                                                <dt><label for="repl_id">tracking number:</label></dt>
                                                <dd id="repl_id">nnnnnnnnnnnnnn</dd>




                                                <!-- //////////////////////////// -->
                                                <!-- Begin Number of Units (1304) -->
                                                <dt><label for="repl_id2">number of units label</label></dt>
                                                <dd id="repl_id2">[00000]</dd>
                                                <!-- End Number of Units (1304) -->
                                                <!-- ////////////////////////// -->


                                            </dl>

                                            <dl class="flexAfter">
                                            	<dt><label for="repl_id">dimensions:</label></dt>
                                                <dd id="repl_id">[000] x [000] x [000][in/cm]</dd>
                                                <dt><label for="repl_id">weight:</label></dt>
                                                <dd id="repl_id">[00000]</dd>

                                            </dl>
                                            <div class="clear"></div>


                                            <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
                                                <thead>
                                                    <tr>
                                                        <th nowrap scope="col"><a href="repl_href" class="btnlnkR helpIconR">description of goods</a></th>
                                                        <th nowrap scope="col">unit price</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr class="odd">
                                                        <td><input type="text" id="repl_id" size="80"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></td>
                                                        <td><input type="text" id="repl_id" size="10"></td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                        <!-- End Section Body -->

                                        </fieldset>
                                    </div>
                                    <!-- End Section Module (Pallet 3 Information) -->
                                    <!-- /////////////////////////////////////////// -->


<!-- /////////////////////////////////////////////////////////////////////////////// -->
<!-- End 1304 WW Express Freight Packing List Form - Multi-Pallet -->
<!-- /////////////////////////////////////////////////////////////////////////////// -->





                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Shipper Memo) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>shipper memo</h3>
                                    <ul>
                                        <li>{<a href="repl_href" class="btnlnk">add memo</a>}{<a href="repl_href" class="btnlnk">edit</a>}</li>
                                    </ul>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">


                                    	<p>none</p>


                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Shipper Memo) -->
                            <!-- /////////////////////////////////////////// -->

                             <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
