---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>{access international forms}</h1>

        <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_3_minify.html" -->
        <!-- END Progress Bar -->





		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>Create Electronic Export Information</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

							<p class="error">{&gt;&gt;&gt;error message.}</p>
                            <p>Use the form below to add additional details to your Electronic Export Information. You must enter information marked as Required, other fields are optional.</p>

                            <div class="clearfix">
                            	<dl>
                                	<dt><label for="repl_id" id="repl_id">Total Weight:</label></dt>
                                    <dd><input id="repl_id" type="text">
                                    	<select id="repl_id">
                                        	<option>lbs.</option>
                                            </select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                     </dd>
                                 </dl>
                            </div>

                            <fieldset><legend>repl_legend</legend>
                            <dl>
								<dt><label><a href="repl_href" class="btnlnkR helpIconR">Is this a freight shipment?</a></label></dt>
								<dd>
									<table summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
										<tr>
											<td scope="row">
												<input name="repl_FS" type="radio" value="" id="repl_FS1" checked="checked"> <label id="repl_id2" for="repl_id1" class="sel">Yes</label>
											</td>
											<td class="indent" scope="row">
												<input name="repl_FS" type="radio" value="" id="repl_FS2"> <label id="repl_id4" for="repl_id3" class="sel">No</label>
											</td>
										</tr>
									</table>
								</dd>
							</dl>
                            </fieldset>



							<!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Address Information -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>Additional Address Information (Optional)</h3>
                                    </div>
                                    <!-- End Section Header -->


                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <dl>
                                        	<dt>
                                            	<label>Is the Ship To Address the same as the <a href="repl_href" class="btnlnkR helpIconR">Ultimate Recipient</a></label>
                                            </dt>
                                            <dd>
                                            	<table summary="repl_summary" title="repl_title">
                                                    <tr>
                                                        <td scope="row">
                                                            <input name="repl_UR" type="radio" value="" id="repl_UR1" checked="checked"> <label for="repl_id1" class="sel">Yes</label>
                                                        </td>
                                                        <td class="indent" scope="row">
                                                            <input name="repl_UR" type="radio" value="" id="repl_UR2"> <label for="repl_id2" class="sel">No</label>
                                                        </td>
                                                        <td class="indent" scope="row">
                                                        	<a href="repl_href" class="btnlnkR" >Add Ultimate Recipient</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </dd>
                                         </dl>

                                         <div class="clear"></div>

                                       <dl class="flexFirst formcol8 clearfix">
                                            <dt>
                                            	<span class="label">{Ship To / Intermediate Recipient:}</span>
                                            </dt>
                                            <dd>
                                            	Company Name<br>
                                                Contact Name<br>
                                                Address<br>
                                                City/State/province/Zip/Postal Code<br>
                                                Country or Territory<br>
                                                Phone<br><br>
                                            </dd>
                                        </dl>

                                        <dl class="flexAfter formcol8 clearfix">
                                            <dt><span class="label">Forwarding Agent:</span>
                                                <span class="indent">
                                                    <a href="repl_href" class="btnlnk">Edit</a>
                                                </span>
                                            </dt>
                                            <dd>
                                            	UPS<br>
                                                Contact Name<br>
                                                Address<br>
                                                City/State/province/Zip/Postal Code<br>
                                                Country or Territory<br>
                                                Phone<br><br>
                                            </dd>
                                        </dl>

                                        <dl class="flexAfter formcol8 clearfix">
                                            <dt><span class="label">Ultimate Recipient:</span>
                                                <span class="indent">
                                                    <a href="repl_href" class="btnlnk">Edit</a>
                                                </span>
                                            </dt>
                                            <dd>
                                            	Company Name<br>
                                                Contact Name<br>
                                                Address<br>
                                                City/State/province/Zip/Postal Code<br>
                                                Country or Territory<br>
                                                Phone<br><br>
                                            </dd>
                                            <dt>
                                            	<label><a href="repl_href" class="btnlnkR helpIconR" >Ultimate Recipient Type: </a></label>
                                            </dt>
                                            <dd>
                                            	<select name="repl_name" id="repl_id" class="formcol6">
                                                	<option value="">Select One</option>
                                                </select><img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif" alt="">
                                            </dd>
                                        </dl>

                                        <div class="clear"></div>

                                       	<p>
                                        	<a href="repl_name" class="btnlnk">Add Forwarding Agent</a>
                                        </p>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Address Information -->
							<!-- ////////////////////////////////////////// -->



							<!-- //////////////////////////////////////////////////////////////////////// -->
                            <!-- Begin Section Module - Shipper Export Declaration Information (Required) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>Electronic Export Information (Required)</h3>
                                    </div>
                                    <!-- End Section Header -->


                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <dl class="flexFirst formcol10 clearfix">
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Employer ID NUmber (EIN/Tax ID):</a></label></dt>
                                            <dd>
                                            	<input type="text" name="repl_name" value="" class="formcol5" >
                                                <select name="repl_name" id="repl_id" class="formcol4">
                                                	<option value="">Select ID Type</option>
                                                </select><img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif" alt="">
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Method of Transportation:</a></label></dt>
                                            <dd>
                                                <select name="repl_name" id="repl_id" class="formcol6">
                                                	<option value="">Select One</option>
                                                </select><img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif" alt="">
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Point (State) of Origin or Free Trade Zone Number:</a></label></dt>
                                            <dd>
                                            	<input type="text" name="repl_name" value="" class="formcol5" >
                                                <select name="repl_name" id="repl_id" class="formcol4">
                                                	<option value="">Select ID Type</option>
                                                </select><img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif" alt="">
                                            </dd>
                                        </dl>

										<dl class="flexAfter formcol7 clearfix">
                                        	<dt><label><a href="repl_href" class="btnlnkR helpIconR">Waybill Number/Shipment ID:</a></label></dt>
                                            <dd>
                                            	<input type="text" name="repl_name" value="nnnnnnnnnnnnnnnnnnnnn" class="formcol6" ><img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif" alt="">
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Exporting Carrier:</a></label></dt>
                                            <dd>
                                                <select name="repl_name" id="repl_id" class="formcol6">
                                                	<option value="">UPS</option>
                                                </select><img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif" alt="">
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">In Bond Code:</a></label></dt>
                                            <dd>
                                                <select name="repl_name" id="repl_id" class="formcol6">
                                                	<option value="">70 - Not in Bond</option>
                                                </select><img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif" alt="">
                                            </dd>
                                        </dl>

                                        <dl class="flexAfter formcol7 clearfix">
                                        	<dt>
                                            	<label><a href="repl_href" class="btnlnkR helpIconR">Parties to Transaction:</a></label>
                                            </dt>
                                            <dd>
                                            	<table summary="repl_summary" title="repl_title">
                                                    <tr>
                                                        <td scope="row">
                                                            <input name="repl_PT" type="radio" value="" id="repl_PT1" checked="checked"> <label for="repl_id1" class="sel">Non-Related</label>
                                                        </td>
                                                        <td class="indent" scope="row">
                                                            <input name="repl_PT" type="radio" value="" id="repl_PT2"> <label for="repl_id2" class="sel">Related</label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </dd>
                                            <dt>
                                            	<label><a href="repl_href" class="btnlnkR helpIconR">Hazardous Materials?</a></label>
                                            </dt>
                                            <dd>
                                            	<table summary="repl_summary" title="repl_title">
                                                    <tr>
                                                        <td scope="row">
                                                            <input name="repl_HM" type="radio" value="" id="repl_HM1" checked="checked"> <label for="repl_id1" class="sel">Yes</label>
                                                        </td>
                                                        <td class="indent" scope="row">
                                                            <input name="repl_HM" type="radio" value="" id="repl_HM2"> <label for="repl_id2" class="sel">No</label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Entry Number:</a></label></dt>
                                            <dd>
                                                <input type="text" name="repl_name" id="repl_id" class="formcol6"><img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif" alt=""><br>Required if In Bond Code is other <br>than 70 (Not In Bond)
                                            </dd>

                                        </dl>

                                        <div class="clear"></div>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Shipper Export Declaration Information (Required) -->
							<!-- //////////////////////////////////////////////////////////////////////// -->



                            <!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Product Information -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>Additional Export Fields (Optional)</h3>
                                        <ul class="clearfix">
                                            <li><a href="repl_href" class="btnlnk">Show More</a> / <a href="repl_href" class="btnlnk">Show Less</a></li>
                                        </ul>
                                    </div>
                                    <!-- End Section Header -->

                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <p>Enter optional EEI information, as needed</p>

                                        <dl class="flexFirst formcol10 clearfix">
                                        	<dt><label><a href="repl_href" class="btnlnkR helpIconR">Loading Pier:</a></label></dt>
                                            <dd>
                                            	<input type="text" name="repl_name" id="repl_id" class="formcol6" value="">
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Port of Export:</a></label></dt>
                                            <dd>
                                            	<input type="text" name="repl_name" id="repl_id" class="formcol6" value=""><a href="" class="btnlnkL arrowIcon" >Lookup Port of Export</a>
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Port of Unloading:</a></label></dt>
                                            <dd>
                                            	<input type="text" name="repl_name" id="repl_id" class="formcol6" value="">
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Containerized?</a></label></dt>
                                            <dd>
                                            	<table summary="repl_summary" title="repl_title">
                                                    <tr>
                                                        <td scope="row">
                                                            <input name="repl_containerized" type="radio" value="" id="repl_containerized1" > <label for="repl_id1" class="sel">Yes</label>
                                                        </td>
                                                        <td class="indent" scope="row">
                                                            <input name="repl_containerized" type="radio" value="" id="repl_containerized2" checked="checked" > <label for="repl_id2" class="sel">No</label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </dd>
                                        </dl>

                                        <dl class="flexAfter formcol12 clearfix">
                                        	<dt><label><a href="repl_href" class="btnlnkR helpIconR">Carrier Identification Code</a></label></dt>
                                            <dd>
                                            	<input type="text" name="repl_name" id="repl_id" class="formcol6" value="5X">
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Shipement Reference Number:</a></label></dt>
                                            <dd>
                                            	<input type="text" name="repl_name" id="repl_id" class="formcol6" value="">
                                            </dd>
                                            <dt><label><a href="repl_href" class="btnlnkR helpIconR">Routed Export Transaction:</a></label></dt>
                                            <dd>
                                            	<table summary="repl_summary" title="repl_title">
                                                    <tr>
                                                        <td scope="row">
                                                            <input name="repl_RET" type="radio" value="" id="repl_RET1"> <label for="repl_id1" class="sel">Yes</label>
                                                        </td>
                                                        <td class="indent" scope="row">
                                                            <input name="repl_RET" type="radio" value="" id="repl_RET2" checked="checked"> <label for="repl_id2" class="sel">No</label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </dd>
                                        </dl>

                                        <div class="clear"></div>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Product Information -->
							<!-- //////////////////////////////////////// -->



 							<!-- //////////////////////////////////// -->
                            <!-- Begin Section Module - Optional Data -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>Product[00] Information</h3>
                                    </div>
                                    <!-- End Section Header -->


                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <p>
                                        	Qualifying EEI products are displayed in the table below, complete the fields to continue. Required fields are marked with a <img width="11" height="12" border="0" class="requiredIcon" src="/img/1.gif">.
                                        </p>
                                        <div class="clearfix">
                                        	<table cellpadding="0" cellspacing="0" border="0">
                                            	<tr>
                                                	<td align="left" class="formcol4 clearfix"><span class="label">Product Name:</span></td>
                                                    <td align="left"><span class="">[ProductName3]</span></td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2"><img height="10" src="/img/1.gif"></td>
                                                </tr>
                                                <tr>
                                                	<td align="left" valign="top" class="formcol4 clearfix"><span class="label">Description:</span></td>
                                                    <td align="left" ><span class="">[Product Description Product Description Product Description Product Description Product Description Product Description Product Description Product Description Product Description ]</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="clearfix">
                                        	<table>
                                            	<tr>
                                                	<td>
                                                    	<label for="repl_SBN"><a href="repl_href" class="btnlnkR helpIconR">Schedule B Number:</a></label>
                                                    </td>
                                                    <td class="indent">
                                                    	<label for="repl_GW"><a href="repl_href" class="btnlnkR helpIconR">Gross Weight:</a></label>
                                                    </td>
                                                    <td class="indent">
                                                    	<label for="repl_DFM"><a href="repl_href" class="btnlnkR helpIconR">D/F/M:</a></label>
                                                    </td>
                                                </tr>
                                            	<tr>
                                                	<td>
                                                    	<input type="text" maxlenght="10" name="repl_SBN" class="formcol4"><img width="12" height="11" src="/img/1.gif" class="requiredIcon">
                                                    </td>
                                                    <td class="indent">
                                                    	<input type="text" name="repl_GW" class="formcol4">
                                                        <select name="repl_name" id="repl_id" class="formcol2">
                                                        	<option value="lbs">lbs.</option>
                                                        </select><img width="12" height="11" src="/img/1.gif" class="requiredIcon">
                                                    </td>
                                                    <td class="indent">
                                                    	<select name="repl_DFM" id="repl_DFM" class="formcol4">
                                                        	<option value="">Select One</option>
                                                            <option value="D">Domestic - D</option>
                                                            <option value="F">Foreign - F</option>
                                                            <option value="M">Foreign Military Sale - M</option>
                                                        </select><img width="12" height="11" src="/img/1.gif" class="requiredIcon">
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2">
                                                    	<label for="repl_SBQ1"><a href="repl_href" class="btnlnkR helpIconR" >Schedule B Quantity 1:</a></label>
                                                    </td>
                                                    <td class="indent">
                                                    	<label for="repl_SBQ2"><a href="repl_href" class="btnlnkR helpIconR" >Schedule B Quantity 2:</a></label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2">
                                                    	<input type="text" name="repl_SBQ1" class="formcol4">
                                                        <select name="repl_name" id="repl_id" class="formcol7">
                                                        	<option value="">Unit1</option>
                                                        </select><img width="12" height="11" src="/img/1.gif" class="requiredIcon">
                                                    </td>
                                                    <td class="indent">
                                                    	<input type="text" name="repl_SBQ2" class="formcol4">
                                                        <select name="repl_name" id="repl_id" class="formcol7">
                                                        	<option value="">Unit2</option>
                                                        </select><img width="12" height="11" src="/img/1.gif" class="requiredIcon">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="clear"></div>
                                        <div  class="clearfix">
                                        	<span class="label">License Information:</span><br>
                                            <p>
                                            	[Enter either License Exception Code plus ECCN, or License Number and License Date. Select an option and complete the appropriate inforamtion.]
                                            </p>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="clearfix">
                                        	<table cellpadding="0" cellpadding="0" border="0">
                                            	<tr>
                                                	<td>
                                                    	<label for="repl_LI"><a href="repl_href" class="btnlnkR helpIconR">License Information:</a></label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td>
                                                    	<select name="repl_LI" id="repl_LI" class="formcol8">
                                                        	<option value="">Select One</option>
                                                        </select><img src="/img/1.gif" class="requiredIcon" width="12" height="11">
                                                    </td>
                                                </tr>
                                             </table>
                                             <table cellpadding="0" cellpadding="0" border="0">
                                                <tr>
                                                	<td><label for="repl_LN"><a href="repl_href" class="btnlnkR helpIconR">License Number:</a></label></td>
                                                    <td class="indent"><label for="repl_LV"><a href="repl_href" class="btnlnkR helpIconR">Line Value:</a></label></td>
                                                    <td class="indent"><label for="repl_ECCN"><a href="repl_href" class="btnlnkR helpIconR">ECCN:</a></label></td>
                                                    <td class="indent"><label for="repl_EIC"><a href="repl_href" class="btnlnkR helpIconR">Export Information Code:</a></label></td>
                                                </tr>
                                                <tr>
                                                	<td><input type="text" class="form4" name="repl_LN"><img src="/img/1.gif" width="12" height="11" class="requiredIcon"></td>
                                                    <td class="indent"><input type="text" class="form4" name="repl_Lv"><img src="/img/1.gif" width="12" height="11" class="requiredIcon"></td>
                                                    <td class="indent"><input type="text" class="form4" name="repl_LECCN"><img src="/img/1.gif" width="12" height="11" class="requiredIcon"></td>
                                                    <td class="indent">
                                                    	<select class="formcol5" name="repl_EIC">
                                                        	<option value="">Select One</option>
                                                        </select><img src="/img/1.gif" width="12" height="11" class="requiredIcon">
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td><label for="repl_ITAR"><a href="repl_href" class="btnlnkR helpIconR">ITAR Exemption:</a></label></td>
                                                    <td class="indent"><label for="repl_CAN"><a href="repl_href" class="btnlnkR helpIconR">Community Association Number:</a></label></td>
                                                    <td class="indent" colspan="2"><label for="repl_EPC"><a href="repl_href" class="btnlnkR helpIconR">Eligible Party Certification</a></label></td>
                                                </tr>
                                                <tr>
                                                	<td>
                                                    	<select class="formcol5" name="repl_ITAR">
                                                        	<option value="">Select One</option>
                                                        </select><img src="/img/1.gif" width="12" height="11" class="requiredIcon">
                                                    </td>
                                                    <td class="indent"><input type="text" class="form4" name="repl_CAN"><img src="/img/1.gif" width="12" height="11" class="requiredIcon"></td>
                                                    <td class="indent" colspan="2">
                                                    	<input type="radio" name="repl_EPC" id="repl_EPC1" checked="checked" ><label for="repl_EPC1" class="sel">Yes</label>
                                                        <input type="radio" name="repl_EPC" id="repl_EPC2" ><label for="repl_EPC2" class="sel">No</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td><label for="repl_RN"><a href="repl_href" class="btnlnkR helpIconR">Registration Number:</a></label></td>
                                                    <td class="indent"><label for="repl_Q"><a href="repl_href" class="btnlnkR helpIconR">Quantity:</a></label></td>
                                                    <td class="indent"><label for="repl_USML"><a href="repl_href" class="btnlnkR helpIconR">USML Cateory Code:</a></label></td>
                                                    <td class="indent"><label for="repl_EPC"><a href="repl_href" class="btnlnkR helpIconR">Significant Military Equipment:</a></label></td>
                                                </tr>
                                                <tr>
                                                	<td ><input type="text" class="form4" name="repl_RN"><img src="/img/1.gif" width="12" height="11" class="requiredIcon"></td>
                                                	<td class="indent">
                                                    	<input type="text" class="formcol3" name="repl_Q">
                                                    	<select class="formcol3" name="repl_Q">
                                                        	<option value="">UOM</option>
                                                        </select><img src="/img/1.gif" width="12" height="11" class="requiredIcon">
                                                    </td>
                                                    <td class="indent">
                                                    	<select class="formcol5" name="repl_USML">
                                                        	<option value="">Select One</option>
                                                        </select><img src="/img/1.gif" width="12" height="11" class="requiredIcon">
                                                    </td>
                                                    <td class="indent">
                                                    	<select class="formcol5" name="repl_EPC">
                                                        	<option value="">Select One</option>
                                                        </select><img src="/img/1.gif" width="12" height="11" class="requiredIcon">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Optional Data -->
							<!-- ////////////////////////////////// -->


                             <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>


                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="submit" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
