---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>{access international forms}</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->



		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>[create nafta certificate]</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p class="error">{&gt;&gt;&gt;error message.}</p>
                            <p>enter details for the certificate of origin. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>




                            <!-- /////////////////////////////////// -->
                            <!-- Begin (Waybill Number/Shipment ID) -->
                            <div class="clearfix">
                            <fieldset><legend></legend>
                            	<dl>
                                	<dt>
                                    	<label id="repl_id1" for="repl_id2"><a href="repl_href" class="btnlnkR helpIconR">waybill number/shipment:</a></label>
                                    </dt>
                                    <dd><input type="text" value="nnnnnnnnnnnnnn" id="repl_id2"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                                </dl>
                            </fieldset>
                            </div>
                            <!-- End (Waybill Number/Shipment ID) -->
                            <!-- /////////////////////////////////// -->


                            <!-- /////////////////////////////////// -->
                            <!-- Begin (NAFTA Blanket Period) -->
                            <div class="clearfix">
                            <fieldset><legend></legend>
                                <dl>
                                	<dt>
                                    	<label id="repl_id3" for="repl_id4">
                                        	<a href="repl_href" class="btnlnkR helpIconR">nafta blanket period from:</a>
                                        </label>
                                    </dt>
                                    <dd>
                                    	<select id="repl_id4" class="formcol5">
                                        	<option value="repl_value">[month name]</option>
                                        </select>
                                        <select id="repl_id4a" class="formcol3">
                                        	<option value="repl_value">[01]</option>
                                        </select>
                                    	<select id="repl_id4b" class="formcol4">
                                        	<option value="repl_value">[yyyy]</option>
                                        </select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                </dl>
                                <dl>
                                	<dt>
                                    	<label id="repl_id5" for="repl_id6">
                                        	<a href="repl_href" class="btnlnkR helpIconR">nafta blanket period to:</a>
                                        </label>
                                    </dt>
                                    <dd>
                                    	<select id="repl_id6" class="formcol5">
                                        	<option value="repl_value">[month name]</option>
                                        </select>
                                        <select id="repl_id6a" class="formcol3">
                                        	<option value="repl_value">[01]</option>
                                        </select>
                                    	<select id="repl_id6b" class="formcol4">
                                        	<option value="repl_value">[yyyy]</option>
                                        </select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                </dl>

                            </fieldset>
                            </div>
                            <!-- End (NAFTA Blanket Period) -->
                            <!-- /////////////////////////////////// -->


							<!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Address Information -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>address information</h3>
                                    </div>
                                    <!-- End Section Header -->


                                    <!-- Begin Section Body -->
                                    <div class="secBody">
                                        <dl class="flexFirst formcol12 clearfix">
                                            <dt><span class="label">importer:</span></dt>
                                            <dd>company name</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>

											<dt>
												<label id="repl_id7" for="repl_id7b"><a href="repl_href" class="btnlnkR helpIconR">ship to tax id (ein/vat):</a></label></dt>
											<dd><input id="repl_id7b" type="text"></dd>

											<dd class="appLvlPad">tax id/vat</dd>
                                        </dl>

                                        <dl class="flexAfter clearfix">
                                            <dt>
                                            	<span class="label">producer:</span>
                                                <span class="indentTwo">
                                                	<a href="repl_href" class="btnlnk">edit</a>
                                                </span>
                                            </dt>
                                            <dd>{available to customers upon request.}{company name}</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>
                                        </dl>

                                        <div class="clear"></div>
                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Address Information -->
							<!-- ////////////////////////////////////////// -->


                            <!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module (Product Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>product information</h3>
                                    </div>
                                    <!-- End Section Header -->

                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <p>qualifying nafta products are displayed in the table below, complete the fields to continue. all fields are required.</p>


                                        <table summary="repl_summary" title="repl_title" class="dataTable tableonly full"><!-- <caption>repl_caption</caption> -->
                                            <tr class="odd">
                                                <td colspan="6"></td>
                                            </tr>

                                            <thead>
                                                <tr>
                                                    <th scope="col">product name</th>
                                                    <th scope="col">product description</th>
                                                    <th scope="col"><a href="repl_href" class="btnlnkR helpIconR">preference<br>criteria</a></th>
                                                    <th scope="col"><a href="repl_href" class="btnlnkR helpIconR">producer</a></th>
                                                    <th scope="col"><a href="repl_href" class="btnlnkR helpIconR">rvc calculation<br>method</a></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr class="odd">
                                                    <td>[productname3]</td>
                                                    <td>[product description content ...]</td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>[productname2]</td>
                                                    <td>[product description content ...]</td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr class="odd">
                                                    <td>[productname1]</td>
                                                    <td>[product description content ...]</td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>[productname1]</td>
                                                    <td>[product description content ...]</td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="repl_id" class="formcol5">
                                                            <option value="repl_value">select one</option>
                                                        </select>
                                                    </td>
                                                </tr>

                                            </tbody>

                                        </table>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Product Information) -->
							<!-- ////////////////////////////////////////// -->


                             <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>


                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw disabled">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
