---
title: ct1_shi_ifwa_comminvoice_dlg_shipmentdata
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
	<h1>{Page Title}</h1>

		<form action="repl_fname">

		<!-- Begin Application Module -->
			<div class="appLvl mod">
				<fieldset><legend></legend>
				<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>{Application Header}</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->

				<!-- Begin Application Body -->
					<div class="appBody clearfix">

					<!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<fieldset><legend></legend>
							<!-- Begin Section Header --><!-- End Section Header -->

							<!-- Begin Section Body -->
							<div class="secBody clearfix">

									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<select>
										<option>item1</option>
									</select>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							</div>
							<!-- End Section Body -->

							<!-- Begin Section Footer --><!-- End Section Footer -->
							</fieldset>

						</div>
					<!-- End Section Module -->

					</div>
				<!-- End Application Body -->

				<!-- Begin Application Footer --><!-- End Application Footer -->
				</fieldset>
			</div>
		<!-- End Application Module -->

		</form>
	<!-- contentArea -->
	</div>
<!-- applicationArea -->


		<div class="appLvl mod modal dialog">

			<div class="appHead clearfix">
				<h2>shipment data</h2>

                <ul>
                    <li><input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
				</ul>
			</div>

			<div class="appBody">

                <p>use the form below to enter additional information for the commerical invoice. all fields are optional.</p>

                <div class="clearfix">

                    <dl>

                        <dt><label id="repl_id5" for="repl_id6">invoice number:</label></dt>
                        <dd><input id="repl_id6" type="text"></dd>

                        <dt><label id="repl_id7" for="repl_id8">purchase order number:</label></dt>
                        <dd><input id="repl_id8" type="text"></dd>

                        <dt><label id="repl_id9" for="repl_id10"><a href="repl_href" class="btnlnkR helpIconR">term of sale:</a></label></dt>
                        <dd>
                        	<select id="repl_id10">
                        		<option>select one</option>
                            </select>
                        </dd>

                        <dt><label id="repl_id11" for="repl_id12">reason for export:</label></dt>
                        <dd>
                        	<select id="repl_id12">
                        		<option>select one</option>
                            </select>
                        </dd>

                        <dt><label id="repl_id13" for="repl_id14">additional comments:</label></dt>
                        <dd>
                        	<input id="repl_id14" type="text">
                            <br>
                            <textarea id="repl_id4" cols="50" rows="3">scroll bars will appear when text is too large for the displayed area.</textarea>
                        </dd>

                        <dt><label id="repl_id15" for="repl_id16">total number of packages:</label></dt>
                        <dd><input id="repl_id16" type="text" class="formcol2"> nnnn</dd>

                        <dt>
                        	<label id="repl_id17" for="repl_id18"><a href="repl_href" class="btnlnkR helpIconR">discount/rebate (cannot be greater than total invoice value):</a></label>
                        </dt>
                        <dd><input id="repl_id18" type="text"></dd>

                        <dt>
                        	<label id="repl_id19b" for="repl_id20b"><a href="repl_href" class="btnlnkR helpIconR">waybill number/shipment id:</a></label>
                        </dt>
                        <dd><input id="repl_id20b" type="text"></dd>

                        <dt>
                        	<label id="repl_id19" for="repl_id20"><a href="repl_href" class="btnlnkR helpIconR">freight charges:</a></label>
                        </dt>
                        <dd><input id="repl_id20" type="text"></dd>

                        <dt><label id="repl_id21" for="repl_id22"><a href="repl_href" class="btnlnkR helpIconR">insurance:</a></label></dt>
                        <dd><input id="repl_id22" type="text"></dd>

                        <dt>
                        	<label id="repl_id23" for="repl_id24"><a href="repl_href" class="btnlnkR helpIconR">other charges:</a></label>
                        </dt>
                        <dd><input id="repl_id24" type="text"></dd>

                        <dt>
                        	<label id="repl_id25" for="repl_id26"><a href="repl_href" class="btnlnkR helpIconR">if other charges, specify type:</a></label>
                        </dt>
                        <dd><input id="repl_id26" type="text"></dd>

                    </dl>

                </div>

			</div>

			<div class="appFooter">
				<div class="btnBar alignCenter">
					<input name="" type="button" value="cancel" class="btn">
					<input name="" type="submit" value="submit" class="btn">
				</div>
			</div>
		</div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




<script type="text/javascript">

$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:710});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});
});

</script>
