---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>[access international forms]</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->


		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>create packing list</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>review your shipment details below. you may provide additional information, as needed.</p>


                            <!-- ////////////////////////////////////////////// -->
                            <!-- Begin Section Module (Address Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>
                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>address information</h3>
                                </div>
                                <!-- End Section Header -->
                                <!-- Begin Section Body -->
                                <div class="secBody clearfix">

                                        <dl class="flexFirst formcol12 clearfix">
                                            <dt><span class="label">ship from:</span></dt>
                                            <dd>company name</dd>
                                            <dt>contact name</dt>
                                            <dd>address</dd>
                                            <dt>city/state/province/zip/postal code</dt>
                                            <dd>country or territory</dd>
                                            <dt>phone</dt>
											<dd></dd>
											<dt><label id="repl_id1" for="repl_id2"><a href="repl_href" class="btnlnkR helpIconR">ship from tax id (ein/vat):</a></label></dt>
											<dd><input id="repl_id2" type="text"></dd>
                                        </dl>

                                        <dl class="flexAfter clearfix">
                                            <dt><span class="label">ship to:</span>
                                            </dt>
                                            <dd>company name</dd>
                                            <dt>contact name</dt>
                                            <dd>address</dd>
                                            <dt>city/state/province/zip/postal code</dt>
                                            <dd>country or territory</dd>
                                            <dt>phone</dt>
												<dd></dd>
											<dt><label id="repl_id1" for="repl_id2"><a href="repl_href" class="btnlnkR helpIconR">ship to tax id (ein/vat):</a></label></dt>
											<dd><input id="repl_id2" type="text"></dd>
                                        </dl>

                                        <div class="clear"></div>

                                </div>
                                <!-- End Section Body -->
                                </fieldset>
                            </div>
                            <!-- End Section Module (Address Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Shipment Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>shipment information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol12">
                                        <dt><label for="repl_id1" id="repl_id2">shipment number:</label></dt>
                                        <dd><input id="repl_id1" type="text"></dd>
                                        <dt><label for="repl_id3" id="repl_id4">invoice number:</label></dt>
                                        <dd><input id="repl_id3" type="text"></dd>
                                        <dt><label for="repl_id5" id="repl_id6">po number:</label></dt>
                                        <dd><input id="repl_id5" type="text"></dd>
                                        <dt><label for="repl_id7" id="repl_id8">description of goods:</label></dt>
                                        <dd><input id="repl_id7" type="text"></dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt><label for="repl_id9" id="repl_id10">total shipment weight:</label></dt>
                                        <dd><input id="repl_id9" type="text">
                                            <select id="repl_id9">
                                            	<option>lbs.</option>
                                            </select>
                                        </dd>
                                        <dt><label for="repl_id11" id="repl_id12">total number of packages:</label></dt>
                                        <dd>
                                            <select id="repl_id11">
                                            	<option>l</option>
                                            </select>
                                        </dd>
                                        <dt>
                                            <a href="repl_href" class="btnlnk">add shipment reference numbers</a>
                                        </dt>
                                    </dl>
                                    <div class="clear"></div>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Shipment Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Package Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>package information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol9">
                                        <dt><label for="repl_id13" id="repl_id14">tracking number:</label></dt>
                                        <dd><input id="repl_id13" type="text"></dd>
                                        <dt><label for="repl_id15" id="repl_id16">weight:</label></dt>
                                        <dd>
                                        	<input id="repl_id15" type="text">
                                        	<select id="repl_id15">
                                            	<option>lbs.</option>
                                            </select>
                                        </dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt>[reference #1 value]</dt>
                                        <dd>[reference #2 value]</dd>
                                        <dt>
                                            <a href="repl_href" class="btnlnk">edit package reference numbers</a>
                                        </dt>
                                    </dl>

                                    <div class="clear"></div>

                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap scope="col" colspan="2">notes</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td>[tariff code] [product description content ...]</td>
                                                <td>[nn]</td>
                                                <td>[xxxxxxxxx]</td>
                                                <td>my note about this product</td>
                                                <td><a href="repl_href" class="btnlnk">edit</a></td>
                                            </tr>
                                            <tr>
                                                <td>[tariff code] [product description content ...]</td>
                                                <td>[nn]</td>
                                                <td>[xxxxxxxxx]</td>
                                                <td colspan="2"><a href="repl_href" class="btnlnk">add</a></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>[tariff code] [product description content ...]</td>
                                                <td>[nn]</td>
                                                <td>[xxxxxxxxx]</td>
                                                <td colspan="2"><a href="repl_href" class="btnlnk">add</a></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Package Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Unassigned Products) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>unassigned products</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <p>all products designated for this shipment appear below. use this table to assign products to specific packages.</p>
                                    <p>all products have been assigned to packages.</p>

                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col" colspan="2">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap scope="col">assign number</th>
                                                <th nowrap scope="col">assign to</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td scope="row">jeans</td>
                                                <td>jeans, denim men</td>
                                                <td>20</td>
                                                <td>pairs</td>
                                                <td><input type="text" id="repl_id" value="20"></td>
                                                <td><select><option>package1</option></select></td>
                                            </tr>
                                            <tr>
                                                <td scope="row">t-shirt</td>
                                                <td>100% cotton, long sleeve</td>
                                                <td>20</td>
                                                <td>each</td>
                                                <td><input type="text" id="repl_id" value="20"></td>
                                                <td><select><option>package1</option></select></td>
                                            </tr>
                                            <tr class="odd">
                                                <td scope="row">socks</td>
                                                <td>50-50, crew</td>
                                                <td>30</td>
                                                <td>pairs</td>
                                                <td><input type="text" id="repl_id" value="30"></td>
                                                <td><select><option>package1</option></select></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                    <p><input type="button" value="assign products" id="repl_id"  class="disabled"></p>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Unassigned Products) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Package 1 Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>package 1 information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol9">
                                        <dt><label for="repl_id17" id="repl_id18">tracking number:</label></dt>
                                        <dd><input id="repl_id17" type="text"></dd>
                                        <dt><label for="repl_id19" id="repl_id20">weight:</label></dt>
                                        <dd>
                                        	<input id="repl_id19" type="text">
                                        	<select id="repl_id19">
                                            	<option>lbs.</option>
                                            </select>
                                        </dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt>[reference #1 value]</dt>
                                        <dd>[reference #2 value]</dd>
                                        <dt>
                                            <a href="repl_href" class="btnlnk">edit package reference numbers</a>
                                        </dt>
                                    </dl>

                                    <div class="clear"></div>


                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap scope="col">notes</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td colspan="4">no products assigned to this package.</td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Package 1 Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Package 2 Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>package 2 information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol9">
                                        <dt><label for="repl_id21" id="repl_id22">tracking number:</label></dt>
                                        <dd><input id="repl_id21" type="text"></dd>
                                        <dt><label for="repl_id23" id="repl_id24">weight:</label></dt>
                                        <dd>
                                        	<input id="repl_id23" type="text">
                                        	<select id="repl_id23">
                                            	<option>lbs.</option>
                                            </select>
                                        </dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt>[reference #1 value]</dt>
                                        <dd>[reference #2 value]</dd>
                                        <dt>
                                            <a href="repl_href" class="btnlnk">edit package reference numbers</a>
                                        </dt>
                                    </dl>

                                    <div class="clear"></div>


                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap scope="col">notes</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td colspan="4">no products assigned to this package.</td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Package 2 Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Package 3 Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>package 3 information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol9">
                                        <dt><label for="repl_id25" id="repl_id26">tracking number:</label></dt>
                                        <dd><input id="repl_id25" type="text"></dd>
                                        <dt><label for="repl_id27" id="repl_id28">weight:</label></dt>
                                        <dd>
                                        	<input id="repl_id27" type="text">
                                        	<select id="repl_id27">
                                            	<option>lbs.</option>
                                            </select>
                                        </dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt>[reference #1 value]</dt>
                                        <dd>[reference #2 value]</dd>
                                        <dt>
                                            <a href="repl_href" class="btnlnk">edit package reference numbers</a>
                                        </dt>
                                    </dl>

                                    <div class="clear"></div>


                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap scope="col">notes</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td colspan="4">no products assigned to this package.</td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Package 3 Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Shipper Memo) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>shipper memo</h3>
                                    <ul>
                                        <li><a href="repl_href" class="btnlnk">edit</a></li>
                                    </ul>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">


                                    	<p>none</p>
                                    	<!--<p>userenterstextwithnospaceslikeanidiotbutwestilltestforitanywaybecausesomeonebelievesusersdoitallthetime.howdowegetuserstostartusingspacessotheycanreadthereownmemos.myguessisthatsofewusersdothisthatweshouldstoptryingtodevelopcodearoundthiserror.iftheuserdoesn'tlikespacesthenletthemdealwiththefactthatthemodulepokesoutfromitsparentmodule.</p>-->

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Shipper Memo) -->
                            <!-- /////////////////////////////////////////// -->

                             <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
