---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>[access international forms]</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->



		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>create us certificate of origin</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">
                            <p class="error">{&gt;&gt;&gt;error message.}</p>
                            <p>products you indicated as being of u.s. origin are displayed in the table below, complete the fields to continue. all fields are required.</p>


                            <!-- ///////////////////////////////////////// -->
                            <!-- Begin Standalone US Certificate of Origin -->
                            <!-- Begin (Waybill Number/Shipment ID) -->
                            <div class="clearfix">
                            	<dl>
                                	<dt>
                                    	<label id="repl_id1" for="repl_id2"><a href="repl_href" class="btnlnkR helpIconR">waybill number/shipment:</a></label>
                                    </dt>
                                    <dd><input type="text" value="nnnnnnnnnnnnnn" id="repl_id2"></dd>
                                </dl>
                            </div>
                            <!-- End (Waybill Number/Shipment ID) -->
                            <!-- End Standalone US Certificate of Origin -->
                            <!-- /////////////////////////////////////// -->


                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Products Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>products information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <p>products in your shipment:</p>

                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
                                        <thead>
                                        	<tr>
                                                <th scope="col">product name</th>
                                                <th scopr="col" class="formcol7">product description</th>
                                                <th scope="col">number of packages</th>
                                                <th scope="col" colspan="2">
                                                	<a href="repl_href" class="btnlnkR helpIconR">gross weight</a>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td>[product name 3]</td>
                                                <td>[product description<br>content ...]</td>
                                                <td><input type="text" name="repl_name" class="formcol3"></td>
                                                <td><input type="text" name="repl_name" class="formcol3"></td>
                                                <td>
                                                    <select id="repl_id" class="formcol2">
                                                        <option value="repl_value">lbs</option>
                                                    </select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>[product name 2]</td>
                                                <td>[product description<br>content ...]</td>
                                                <td><input type="text" name="repl_name" class="formcol3"></td>
                                                <td><input type="text" name="repl_name" class="formcol3"></td>
                                                <td>
                                                    <select id="repl_id" class="formcol2">
                                                        <option value="repl_value">lbs</option>
                                                    </select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                                </td>
                                            </tr>
                                            <tr class="odd">
                                                <td>[product name 1]</td>
                                                <td>[product description<br>content ...]</td>
                                                <td><input type="text" name="repl_name" class="formcol3"></td>
                                                <td><input type="text" name="repl_name" class="formcol3"></td>
                                                <td>
                                                    <select id="repl_id" class="formcol2">
                                                        <option value="repl_value">lbs</option>
                                                    </select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                                </td>
                                            </tr>
                                         </tbody>

                                    </table>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Products Information) -->
                            <!-- /////////////////////////////////////////// -->


                             <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>


                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
