---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>access international forms</h1>

		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>select suggested forms</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>ups recommends the following document(s) for your shipment. suggestions are adequate for most shipments, but do not take into account all worldwide regulatory information. the forms suggested therefore might not be adequate for every shipment. select the desired forms and either complete them online or print blank copies.</p>

                            <div class="clearfix">

                                <!-- Begin Section Module -->
                                <div class="secLvl clearfix">

                                    <fieldset>

                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <fieldset>
                                        <table summary="repl_summary" title="repl_title">
                                        <!-- <caption>repl_caption</caption> -->
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel" >commercial invoice</label>
                                            <!-- /////////////////////////////////// -->
                                            <!-- Begin Select Suggested Forms (7306) -->
                                            	(<a href="repl_href" class="btnlnkR helpIconR">UPS Paperless<sup>sm</sup> Invoice</a>)
                                            <!-- End Select Suggested Forms (7306) -->
                                            <!-- ///////////////////////////////// -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel">packing list</label>
                                            <!-- /////////////////////////////////// -->
                                            <!-- Begin Select Suggested Forms (7306) -->
                                            	(<a href="repl_href" class="btnlnkR helpIconR">UPS Paperless Packing List<sup>sm</sup></a>)
                                            <!-- End Select Suggested Forms (7306) -->
                                            <!-- ///////////////////////////////// -->
                                            </td>
                                        </tr>
                                        <!-- //////////////////////////////////////////////// -->
                                        <!-- Begin Selected Forms - WW Express Freight (7306) -->
                                        <tr>
                                        	<td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol16">
                                                <label id="repl_id4" for="repl_id3" class="sel">worldwide express freight packing list</label>
                                            	(<a href="repl_href" class="btnlnkR helpIconR">Paperless Worldwide Express Freight Packing List<sup>sm</sup></a>)
                                            </td>
                                        </tr>
                                        <!-- End Selected Forms - WW Express Freight (7306) -->
                                        <!-- ////////////////////////////////////////////// -->
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel">u.s. certificate of origin</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel">nafta certificate of origin</label>
                                            <!-- /////////////////////////////////// -->
                                            <!-- Begin Select Suggested Forms (7306) -->
                                            	(<a href="repl_href" class="btnlnkR helpIconR">UPS Paperless NAFTA</a>)
                                            <!-- End Select Suggested Forms (7306) -->
                                            <!-- ///////////////////////////////// -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sel" scope="row" width="10">
                                                <input name="repl_name" type="checkbox" value="" id="repl_id3" checked="checked">
                                            </td>
                                            <td class="formcol10">
                                                <label id="repl_id4" for="repl_id3" class="sel">shipper export declaration (sed)</label>
                                            </td>
                                        </tr>

                                        </table>
                                        </fieldset>

                                        <div class="clearfix">
                                            <dl class="indent">
                                            <dt><label for="repl_id" id="repl_id"><a href="repl_href" class="btnlnkR helpIconR">select sed filing method:</a></label></dt>
                                            <dd><select id="repl_id" class="formcol7"><option>print and attach my sed</option></select>{<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">}</dd>
                                            </dl>
                                            <p class="indent"><strong>note:</strong> to file your sed electronically, you must first register at <a href="repl_href" class="btnlnk">www.aesdirect.gov</a>.</p>
                                            <p class="indent"><strong>if you want ups to file your sed, a $10 usd fee will appear on your shipping charges.</strong></p>
                                        </div>

                                        <div class="clearfix">
                                        <fieldset><legend>repl_legend</legend>
                                            <dl>
                                            	<dt><span class="label">next step:</span></dt>
                                                <dd>
                                                    <table summary="repl_summary" title="repl_title">
                                                    <!-- <caption>repl_caption</caption> -->
                                                        <tr>
                                                            <td class="sel" scope="row">
                                                            <input name="repl_name" type="radio" id="repl_id15" checked="checked">
                                                            </td>
                                                            <td>
                                                                <label id="repl_id16" for="repl_id15" class="sel">
                                                                complete selected forms online
                                                                </label>


                                                                <br>
                                                                <table>
                                                                <tr>
                                                                <td>
                                                                <input name="repl_name" type="checkbox" id="repl_id15_b">
                                                                </td>
                                                                <td>
                                                                <label class="sel" for id="repl_id15_b">
                                                                I will <a href="repl_href" class="btnlnkR helpIconR">upload</a> my own forms also
                                                                </label>
                                                                </td>
                                                                </tr>
                                                                </table>


                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sel" scope="row">
                                                                <input name="repl_name" type="radio" id="repl_id17">
                                                            </td>
                                                            <td>
                                                                <label id="repl_id18" for="repl_id17" class="sel">
                                                                reuse forms from your forms history
                                                                </label>


                                                                <br>
                                                                <table>
                                                                <tr>
                                                                <td>
                                                                <input name="repl_name" type="checkbox" id="repl_id15_b">
                                                                </td>
                                                                <td>
                                                                <label class="sel" for id="repl_id15_b">
                                                                I will <a href="repl_href" class="btnlnkR helpIconR">upload</a> my own forms also
                                                                </label>
                                                                </td>
                                                                </tr>
                                                                </table>


                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sel" scope="row">
                                                                <input name="repl_name" type="radio" id="repl_id19">
                                                            </td>
                                                            <td>
                                                                <label id="repl_id20" for="repl_id19" class="sel">
                                                                <a href="repl_href" class="btnlnkR helpIconR">upload my forms</a>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </dd>
                                            </dl>
                                        </fieldset>
                                        </div>


                                        <h3>related solutions</h3>
                                        <dl>
                                        	<dt>use import/export to access general information about country or territory regulations.</dt>
	                                        <dd><a href="repl_href" class="btnlnkR newWindowIconR">review country or territory regulations</a></dd>
                                        </dl>
                                        <dl>
                                        	<dt>ensure that your shipment is in compliance with country-specific or territory-specific regulations, procedures, tariffs and laws.</dt>
	                                        <dd><a href="repl_href" class="btnlnkR newWindowIconR">check import compliance</a></dd>
                                        </dl>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                                </div>
                                <!-- End Section Module -->

                    		</div>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
								<input name="" type="submit" value="back" class="btnBackArw">
                                <input name="" type="submit" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
