---
title: ct1_shi_ifwa_sed_dlg_optionaldata
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
	

		<form action="repl_fname">

		<!-- Begin Application Module -->
			<div class="appLvl mod">
				<fieldset><legend></legend>
				<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>{Application Header}</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->

				<!-- Begin Application Body -->
					<div class="appBody clearfix">

					<!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<fieldset><legend></legend>
							<!-- Begin Section Header --><!-- End Section Header -->

							<!-- Begin Section Body -->
							<div class="secBody clearfix">

									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<select>
										<option>item1</option>
									</select>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							</div>
							<!-- End Section Body -->

							<!-- Begin Section Footer --><!-- End Section Footer -->
							</fieldset>

						</div>
					<!-- End Section Module -->

					</div>
				<!-- End Application Body -->

				<!-- Begin Application Footer --><!-- End Application Footer -->
				</fieldset>
			</div>
		<!-- End Application Module -->

		</form>
	<!-- contentArea -->
	</div>
<!-- applicationArea -->
<!-- applicationArea -->




			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->


    <div class="appLvl mod modal dialog">

        <div class="appHead clearfix">
            <h2>optional data</h2>
            <ul>
					<li><input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
            </ul>
        </div>

        <div class="appBody">

            <p class="error">{&gt;&gt;&gt;error message.}</p>
            <p>enter optional sed information, as needed.</p>


            <!-- Begin Section Module -->
            <div class="secLvl secLvlPlain clearfix">
                <fieldset>
                <!-- Begin Section Body -->
                <div class="secBody">

    				<dl>
                        <dt>
                        	<label for="repl_id1" id="repl_id2">
                            	<a href="repl_href" class="btnlnkR helpIconR">loading pier:</a>
                            </label>
                        </dt>
                        <dd><input type="text" id="repl_id1"></dd>
                        <dt>
                        	<label for="repl_id3" id="repl_id4">
                            	<a href="repl_href" class="btnlnkR helpIconR">port of export:</a>
                            </label>
                        </dt>
                        <dd><input type="text" id="repl_id3"></dd>
                        <dt>
                        	<label for="repl_id5" id="repl_id6">
                            	<a href="repl_href" class="btnlnkR helpIconR">port of unloading:</a>
                            </label>
                        </dt>
                        <dd><input type="text" id="repl_id5"></dd>
                        <dt>
                        	<label for="repl_id7" id="repl_id8">
                            	<a href="repl_href" class="btnlnkR helpIconR">containerized:</a>
                            </label>
                        </dt>
                        <dd>
                            <fieldset><legend>repl_legend</legend>
                            <table id="repl_id7" summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                                <tr>
                                    <td class="sel" scope="row">
                                    	<input name="repl_name1" type="radio" value="" id="repl_id9">
                                    </td>
                                    <td>
                                    	<label id="repl_id10" for="repl_id9" class="sel">yes</label>
                                    </td>
                                    <td class="sel" scope="row">
                                    	<input name="repl_name1" type="radio" value="" id="repl_id11" checked="checked">
                                    </td>
                                    <td>
                                    	<label id="repl_id12" for="repl_id11" class="sel">no</label>
                                    </td>
                                </tr>
                            </table>
                            </fieldset>
                        </dd>
                        <dt>
                        	<label for="repl_id13" id="repl_id14">
                            	<a href="repl_href" class="btnlnkR helpIconR">carrier identification code:</a>
                            </label>
                        </dt>
                        <dd><input type="text" id="repl_id13"></dd>
                        <dt>
                        	<label for="repl_id15" id="repl_id16">
                            	<a href="repl_href" class="btnlnkR helpIconR">shipment reference number:</a>
                            </label>
                        </dt>
                        <dd><input type="text" id="repl_id15"></dd>
                        <dt>
                        	<label for="repl_id17" id="repl_id18">
                            	<a href="repl_href" class="btnlnkR helpIconR">in bond code:</a>
                            </label>
                        </dt>
                        <dd>
                        	<select id="repl_id17">
                            	<option>70 - not in bond</option>
                            </select>
                        </dd>
                        <dt>
                        	<label for="repl_id19" id="repl_id20">
                            	<a href="repl_href" class="btnlnkR helpIconR">entry number:</a>
                            </label>
                        </dt>
                        <dd>
                            <input type="text" id="repl_id19">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                            <br>
                            <p>required if in bond code is other than 70 (not in bond).
                        </dd>
                        <dt>
                        	<label for="repl_id21" id="repl_id22">
                            	<a href="repl_href" class="btnlnkR helpIconR">routed export transaction:</a>
                            </label>
                        </dt>
                        <dd>
                            <fieldset><legend>repl_legend</legend>
                            <table id="repl_id21" summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                                <tr>
                                    <td class="sel" scope="row">
                                    	<input name="repl_name2" type="radio" value="" id="repl_id23">
                                    </td>
                                    <td>
                                    	<label id="repl_id24" for="repl_id23" class="sel">yes</label>
                                    </td>
                                    <td class="sel" scope="row">
                                    	<input name="repl_name2" type="radio" value="" id="repl_id25" checked="checked">
                                    </td>
                                    <td>
                                    	<label id="repl_id26" for="repl_id25" class="sel">no</label>
                                    </td>
                                </tr>
                            </table>
                            </fieldset>
                        </dd>
                    </dl>

                </div>
                <!-- End Section Body -->

                </fieldset>

            </div>
            <!-- End Section Module -->

        </div>

        <div class="appFooter">
            <div class="btnBar alignCenter">
                <input name="" type="button" value="cancel" class="btn">
                <input name="" type="submit" value="submit" class="btn">
            </div>
        </div>

    </div>

<script type="text/javascript">

$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:710});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});
});

</script>
