---
title: Access International Forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>Access International Forms</h1>
        <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->




		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>Electronic Export Information (EEI) Filing Options</h2>
                            <ul class="clearfix">
                            	<li><a href="repl_href" class="btnlnkR helpIconR" >Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>You are preparing an nternational shipment that requires export documentation. UPS can help you prepare typical export documentation, such as a Commercial Invoice, with links to export documents after you print shipping labels.</p>

                             <p>A Electronic Export Information (EEI) may be required if any schedule B commodity within your shipement exceeds USD 2,500. This page can help you file an electronic EEI, if one is required for your shipment.</p>

                             <p>
                             	<a href="repl_href" class="btnlnkL arrowIcon">Modify Export Documents</a>
                             </p>

                            <p>
                            	<span class="label">EEI Filing Options - </span>
                            </p>
                            <p>
                            	<span class="label">{ EEI Options 2 Filer }<br>{ EEI Options 4 Filer }<br>{ No EEI Filing Required Additional Documents Attached }<br>{ UPS File my EEI for me }</span>
                            </p>
                            <div class="clearfix indent">
                            	<p>
                                	<strong>Note:</strong> You must provide all additional documents required for this shipment. Incomplete or missing documents could delay your shipment in Customs.
                                </p>
                            	<p>
                                	The Automated Export System ( AES ) on the AESDirect Web site will use your AESDirect Filer ID Number and an Export Reference Number for this shipment to create your AEs Trabsaction Number.<br>
                                    For more information about AESDirect, go to <a href="http://www.aesdirect.gov">www.aesdirect.gov</a>
                                </p>
                                <p>
                                	After your shipment is processed, you have 10 calendar days after date export to file your updated export information with AESDirect. The Exporter Identification Number below will be included with your shipment information.
                                </p>
                                <p>
                                	After your shipment is processed, UPS will file your export information with AESDirect. The Exporter Identification Number below will be included with your shipment information.
                                </p>
                                <table cellpadding="0" cellspacing="0" border="0">
                                	<tr>
                                    	<td colspan="2">
                                        	<label for="repl_EIN">Export Identification Number:</label>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	<input type="text" name="repl_EIN" class="formcol5" >
                                        </td>
                                        <td class="indent">
                                        	<select name="repl_name" id="repl_id" class="formcol5">
                                            	<option value="">Select ID Type</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	<label for="repl_ERN">Export Reference Number:</label>
                                        </td>
                                        <td class="indent">
                                        	<label for="repl_ENT">Reference Number Type:</label>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	<input type="text" name="repl_ERN" class="formcol5" value="[AA00ZZ99SS88D7FF12]">
                                        </td>
                                        <td class="indent">
                                        	<select name="repl_ENT" id="ENT_id" class="formcol7">
                                            	<option value="">Customs generated number (ITN)</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="0">
                                	<tr>
                                    	<td colpn="2"><label for="repl_LEC"><a href="repl_href" class="btnlnkR helpIconR">License Exception Code:</a></label></td>
                                    </tr>
                                    <tr>
                                    	<td colpn="2">
                                        	<select name="repl_name" id="repl_LEC" class="formcol7">
                                            	<option value="">Select One</option>
                                            </select><img src="/img/1.gif" width="12" height="11" class="requiredIcon">
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td><label for="repl_LN"><a href="href_repl" class="btnlnkR helpIconR" >License Number:</a></label></td>
                                        <td class="indent"><label for="repl_LD"><a href="href_repl" class="btnlnkR helpIconR" >License Date:</a></label></td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	<input type="text" name="repl_name" class="formcol5" value="">
                                        </td>
                                        <td class="indent">
                                        	<select name="repl_name" class="forcol2" >
                                            	<option value="">Day</option>
                                            </select>
                                            <select name="repl_name" class="forcol2" >
                                            	<option value="">Month</option>
                                            </select>
                                            <select name="repl_name" class="forcol2" >
                                            	<option value="">Year</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td colspan="2"><label for="repl_ECCN"><a href="href_repl" class="btnlnkR helpIconR" >ECCN:</a></label></td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	<input type="text" name="repl_ECCN" class="formcol5" value="">
                                        </td>
                                    </tr>
                                </table>
                                <p>
                                	<strong>Note:</strong> If you file electronicaly by a different method, you must provide the internal Transaction Number (ITN) generated by U.S Customs Service in the Export Reference field.<br>
                                    To file your EEI electronically with AESDirect now, go to AES WebLink.
                                </p>
                                <p>
                                	<button class="btnArw">Go To AES Weblink Now</button>
                                </p>
                            </div>
                            <p>
                            	<input type="checkbox" name="repl_name" checked="checked"><label for="repl_id" class="sel">Notify the following email address for status changes on my EEI filing</label>
                            </p>
                            <div class="indent clearfix">
                            	<dl>
                                	<dt>
                                    	<label for="repl_EA">Email Address:</label>
                                    </dt>
                                    <dd>
                                    	<input type="text" name="repl_name" value="[myprofileemail@company.com]" class="formcol7">
                                    </dd>
                                </dl>
                            </div>
                            <p>
                            	<label><a href="repl_href" class="btnlnkR helpIconR">Power of Attorney:</a></label><img width="12" height="11" src="/img/1.gif" class="requiredIcon"><br>
                                Instructions for Power of Attorney for your filing.
                            </p>
                            <div class="clearfix indent">
					   	<div class="group">
                            	<div class="iDiv noHead">
							<div class="secBody">
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
								<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish.</p>
								<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish.</p>
								<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish.</p>
								<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish.</p>
							</div>

						</div>
						</div>
						<table class="sel">
                                    <tr>
                                    	<td class="sel">
                                            <input type="radio" name="repl_name" checked="checked">
								</td>
								<td>
									<label class="sel">I authorize UPS blanket power of attornet for this and future shipments.</label>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td class="sel">
                                            <input type="radio" name="repl_name" >
								</td>
								<td>
									<label class="sel">I authorize UPS one time power of attorney for this shipment.</label>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td class="sel">
                                            <input type="checkbox" name="repl_name" checked="checked">
								</td>
								<td>
									<label class="sel">I authorize UPS one time power of attorney for this shipment.</label>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td class="sel">
                                            <input type="checkbox" name="repl_name" checked="checked">
								</td>
								<td>
									<label class="sel">Power of attorney on file with UPS for this shipment.</label>
                                            <div>
                                                <a href="repl_href" class="btnlnkR newWindowIconR">{ Rewiew Power of Attorney / Terms and Conditions }</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
