---
title: reuse forms from your forms history
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>reuse forms from your forms history</h1>

		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>reuse forms from your forms history</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>use view history to view, reuse, and print your previous international forms. you can also complete the forms again using information from previously completed forms. any changes you make to your forms history view are automatically saved. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>

							<!-- Begin Section Module -->
                            <div class="secLvl secLvlPlain clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>history selection</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">
                                    <dl>
                                        <dt><label for="repl_id1" id="repl_id2">display the following:</label><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dt>
                                        <dd>

                                            <table summary="repl_summary" title="repl_title">
                                            <!-- <caption>repl_caption</caption> -->
                                                <tr>
                                                    <td class="sel" scope="row">
                                                    <input name="repl_name" type="radio" id="repl_id15" checked="checked">
                                                    </td>
                                                    <td>
                                                        <label id="repl_id16" for="repl_id15" class="sel">all forms</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="sel" scope="row">
                                                        <input name="repl_name" type="radio" id="repl_id17">
                                                    </td>
                                                    <td>
                                                        <label id="repl_id16" for="repl_id15" class="sel">completed</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="sel" scope="row">
                                                        <input name="repl_name" type="radio" id="repl_id19">
                                                    </td>
                                                    <td>
                                                        <label id="repl_id16" for="repl_id15" class="sel">partially completed</label>
                                                    </td>
                                                </tr>
                                            </table>

                                        </dd>
                                        <dt><label for="repl_id3" id="repl_id4">display per page:</label></dt>
                                        <dd>
                                            <select id="repl_id3" class="formcol6">
                                                <option>25</option>
                                            </select>
                                        </dd>
                                        <dt><label for="repl_id5" id="repl_id6">show history for the last:</label></dt>
                                        <dd>
                                            <select id="repl_id5" class="formcol6">
                                                <option>30 days</option>
                                            </select>
                                        </dd>
                                    </dl>

                                    <dl class="flexFirst clearfix">
                                    	<dt><label for="repl_id7" id="repl_id8">start date:</label></dt>
                                        <dd>
                                        <select id="repl_id30" class="formcol4">
                                            <option>month</option>
                                        </select>
                                        <select id="repl_id30">
                                            <option>day</option>
                                        </select>
                                        <select id="repl_id30">
                                            <option>year</option>
                                        </select>
                                        </dd>
                                    </dl>
                                    <dl class="flexAfter clearfix">
                                    	<dt><label for="repl_id7" id="repl_id8">end date:</label></dt>
                                        <dd>
                                        <select id="repl_id30" class="formcol4">
                                            <option>month</option>
                                        </select>
                                        <select id="repl_id30">
                                            <option>day</option>
                                        </select>
                                        <select id="repl_id30">
                                            <option>year</option>
                                        </select>
                                        </dd>
                                    </dl>
                                    <div class="clear"></div>
                                   	<p class="reqTxtInst">(maximum range is 90 days)</p>

                                </div>
                                <!-- End Section Body -->

                                <!-- Begin Section Footer -->
                                <div class="secFooter">
                                    <!-- Begin Button Bar Row -->
                                    <div class="btnBar">
                                        <input name="" type="button" value="retrieve forms" class="btn">
                                    </div>
                                    <!-- End Button Bar Row -->
                                </div>
                                <!-- End Section Footer -->


                                </fieldset>
                            </div>
                            <!-- End Section Module -->

                            <hr class="hr clearfix">

                            <!-- Begin Section Module -->
                            <div class="secLvl secLvlPlain clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>previous international forms</h3>
                                </div>
                                <!-- End Section Header -->
                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <p>select forms using the radio buttons. you can then view and print forms by selecting view/print or reuse the forms by selecting text.</p>

                                    <!-- Begin Sub Body -->
									<div class="secBody">

                                        <p>displaying forms 1 through 4 out of 4 in the last 30 days</p>
                                        <p style="text-align:right;">
                                        <input name="" type="button" value="view / print" class="btn">
                                        </p>


                            <fieldset><legend>repl_legend</legend>
                            <table summary="repl_summary" title="repl_title" class="dataTable full"><!-- <caption>repl_caption</caption> -->
                                <thead>
                                	<tr>
                                    	<th scope="col" width="10"></th>
                                        <th scope="col"><a class="btnlnkR sortDownIconR" href="repl_href">date <!--[if lte IE 7]><img src="/img/icn_sort_down.gif" width="10" height="10" alt=""><![endif]--></a></th>
                                        <th scope="col">forms</th>
                                        <th scope="col">ship to<br>country or territory</th>
                                        <th scope="col">ship to content</th>
                                        <th scope="col">description</th>
                                        <th scope="col">status</th>
                                    </tr>
                                </thead>

                                <tr class="odd">
                                	<td><input name="repl_name" type="radio" value="" id="repl_id1"></td>
							       	<td>01 Aug 2011</td>
                                	<td>commercial invoice</td>
                                	<td>mx</td>
                                	<td>jane doe</td>
                                	<td>monthly tool shipment</td>
                                	<td>completed</td>
                                </tr>
                                <tr>
                                	<td><input name="repl_name" type="radio" value="" id="repl_id1"></td>
							       	<td>22 Jul 2011</td>
                                	<td>commercial invoice</td>
                                	<td>ca</td>
                                	<td>jane doe</td>
                                	<td>monthly tool shipment</td>
                                	<td>completed</td>
                                </tr>
                                <tr class="odd">
                                	<td><input name="repl_name" type="radio" value="" id="repl_id1"></td>
							       	<td>22 Jul 2011</td>
                                	<td>commercial invoice</td>
                                	<td>de</td>
                                	<td>jane doe</td>
                                	<td>monthly tool shipment</td>
                                	<td>completed</td>
                                </tr>
                                <tr>
                                	<td><input name="repl_name" type="radio" value="" id="repl_id1"></td>
							       	<td>20 Jul 2011</td>
                                	<td>u.s. certificate of origin</td>
                                	<td>cn</td>
                                	<td>jane doe</td>
                                	<td>monthly tool shipment</td>
                                	<td>completed</td>
                                </tr>
                                <tr class="odd">
                                	<td><input name="repl_name" type="radio" value="" id="repl_id1"></td>
							       	<td>16 Jun 2011</td>
                                	<td>commercial invoice nafta<br>certificate of origin</td>
                                	<td>mx</td>
                                	<td>jane doe</td>
                                	<td>monthly tool shipment</td>
                                	<td>completed</td>
                                </tr>

                            </table>
                            </fieldset>

                                        <p>displaying forms 1 through 4 out of 4 in the last 30 days</p>
                                        <p style="text-align:right;">
                                        <input name="" type="button" value="view / print" class="btn">
                                        </p>

									</div>
									<!-- End Sub Body -->

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module -->

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
