---
title: ct1_shi_ifwa_eei_bridge
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>Access International Forms</h1>
        <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->



		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>You are leaving ups.com to connect to the AESDirect website</h2>
                            <ul class="clearfix">
                            	<li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                           <p>
                            	<a href="repl_href" class="btnlnkL arrowBackIcon">Return to ups.com</a>
                           </p>
                           <dl>
                           		<dt><span class="label">LEGAL DISCLAMER:</span></dt>
                                <dd>
                                	When you click the <strong>Submit EEI to AESWebLink</strong> button, the information you provided in this form will be transmitted to a web site operated by the census bureau. The AESDirect Web site is not operated by or affiliated with UPS. UPS does not endorse or make any representations about the AESDirect Web site, or any information, software or other products or materials found there, or any results that may be obtained from using the site, Please note that your use of the AESDirect Web site is entirely at your own risk and subject to the terms and conditions and privacy of that site. UPS is not responsible for the activities of the AESDirect Web site.
                                </dd>
                           </dl>
                           <table cellpadding="0" cellspacing="0" border="0">
                           		<tr>
                                	<td>
                           				<img src="/img/aesdirect_s.jpg">
                                	</td>
                                    <td>
                                    	<img height="10" src="/img/1.gif">
                                    </td>
                                	<td>
                                		<input style="margin-top:5px;" type="button" class="btnArw" name="repl_name" value="Submit EEI to AES Weblink">
                                	</td>
                                </tr>
                                <tr>
                                	<td colspan="3">
                                    	<img height="10" src="/img/1.gif">
                                    </td>
                                </tr>
                                <tr>
                                	<td colspan="3">
                           				<a href="repl_href" class="btnlnk">AESDirect Homepage </a>|<a href="repl_href" class="btnlnk"> AESWebLink Login Help</a>
                                	</td>
                                </tr>
                                <tr>
                                	<td colspan="3">
                                    	<img height="10" src="/img/1.gif">
                                    </td>
                                </tr>
                           </table>

                        </div>
                        <!-- End Application Body -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->
