---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>[access international forms]</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->


		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>create packing list</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>review your shipment details below. you may provide additional information, as needed.</p>


                            <!-- ////////////////////////////////////////////// -->
                            <!-- Begin Section Module (Address Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>
                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>address information</h3>
                                </div>
                                <!-- End Section Header -->
                                <!-- Begin Section Body -->
                                <div class="secBody clearfix">

                                        <dl class="flexFirst formcol12 clearfix">
                                            <dt><span class="label">ship from:</span></dt>
                                            <dd>company name</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>

											<dt><label id="repl_id1" for="repl_id2"><a href="repl_href" class="btnlnkR helpIconR">ship from tax id (ein/vat):</a></label></dt>
											<dd><input id="repl_id2" type="text"></dd>
                                        </dl>

                                        <dl class="flexAfter clearfix">
                                            <span class="label">ship to:</span>
                                            <dd>company name</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>
											<dd class="appLvlPad">tax id/vat</dd>
                                        </dl>

                                        <div class="clear"></div>

                                </div>
                                <!-- End Section Body -->
                                </fieldset>
                            </div>
                            <!-- End Section Module (Address Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Shipment Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>shipment information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol12">
                                        <dt><span class="label">shipment number:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnnnnn</dd>
                                        <dt><span class="label">invoice number:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnnn</dd>
                                        <dt><label for="repl_id" id="repl_id">invoice number:</label></dt>
                                        <dd><input type="text" id="repl_id"></dd>
                                        <dt><span class="label">po number:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnn</dd>
                                        <dt><label for="repl_id" id="repl_id">po number:</label></dt>
                                        <dd><input type="text" id="repl_id"></dd>
                                        <dt><span class="label">total shipment weight:</span></dt>
                                        <dd id="repl_id">nnnnnnnnn [lbs]</dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt><span class="label">total number of packages:</span></dt>
                                        <dd id="repl_id">nnn</dd>
                                        <dt><span class="label">description of goods:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnnn</dd>
                                        <dt>[reference #1]</dt>
                                        <dd>[reference #2]</dd>
                                        <dt>[reference #3]</dt>
                                        <dd>[reference #4]</dd>
                                        <dt>[reference #5]</dt>
                                    </dl>
                                    <div class="clear"></div>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Shipment Information) -->
                            <!-- /////////////////////////////////////////// -->


                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Unassigned Products) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>unassigned products</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <p>all products included in this shipment appear below. use this table to assign products to specific packages.</p>
                                    <p>all products have been assigned.</p>

                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap scope="col">assign number</th>
                                                <th nowrap scope="col">assign to</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td>6203.42.99 jeans, denim men</td>
                                                <td>20</td><!--<td class="alert">20</td>-->
                                                <td>pairs</td>
                                                <td><input type="text" id="repl_id" value="20"></td>
                                                <td><select><option>package1</option></select></td>
                                            </tr>
                                            <tr>
                                                <td>6111.20 t-shirt, 100% cotton, long sleeve</td>
                                                <td>20</td><!--<td class="alert">20</td>-->
                                                <td>each</td>
                                                <td><input type="text" id="repl_id" value="20"></td>
                                                <td><select><option>package1</option></select></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>socks, 50-50, crew</td>
                                                <td>30</td><!--<td class="alert">20</td>-->
                                                <td>pairs</td>
                                                <td><input type="text" id="repl_id" value="30"></td>
                                                <td><select><option>package1</option></select></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                    <p><input type="button" value="assign products" id="repl_id" class="disabled"></p>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Unassigned Products) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Package Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>package information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol12">
                                        <dt><span class="label">tracking number:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnnnnn</dd>
                                        <dt><span class="label">weight:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnn</dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt>[reference #1]</dt>
                                        <dd>[reference #2]</dd>
                                        <dt>[reference #3]</dt>
                                        <dd>[reference #4]</dd>
                                        <dt>[reference #5]</dt>
                                    </dl>
                                    <div class="clear"></div>


                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap scope="col" colspan="2">notes</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td>[tariff code product description content goes in this space]</td>
                                                <td>[nn]</td>
                                                <td>[1234567890123]</td>
                                                <td>my 35-character note maxes out here</td>
                                                <td><a href="repl_href" class="btnlnk">edit</a></td>
                                            </tr>
                                            <tr>
                                                <td>[tariff code] [product description content ...]</td>
                                                <td>[nn]</td>
                                                <td>[xxxxxxxxx]</td>
                                                <td colspan="2"><a href="repl_href" class="btnlnk">add</a></td>
                                            </tr>
                                            <tr class="odd">
                                                <td>[tariff code] [product description content ...]</td>
                                                <td>[nn]</td>
                                                <td>[xxxxxxxxx]</td>
                                                <td colspan="2"><a href="repl_href" class="btnlnk">add</a></td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Package Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Package 1 Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>package 1 information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol12">
                                        <dt><span class="label">tracking number:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnnnnn</dd>
                                        <dt><span class="label">weight:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnn</dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt>[reference #1]</dt>
                                        <dd>[reference #2]</dd>
                                        <dt>[reference #3]</dt>
                                        <dd>[reference #4]</dd>
                                        <dt>[reference #5]</dt>
                                    </dl>

                                    <div class="clear"></div>

                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col"><input type="checkbox" id="repl_id" width="10"></th>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap colspan="2" scope="col">notes</th>
                                        	</tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd">
                                                <td colspan="6">no products assigned to this package.</td>
                                            </tr>
                                            <tr class="odd">
                                            	<td><input type="checkbox" id="repl_id" width="10"></td>
                                                <td>socks, 50-50 crew</td>
                                                <td>30</td>
                                                <td>pairs</td>
                                                <td>sku nnnnnnnnnnnnnnnnnnnnn</td>
												<td><a href="repl_href" class="btnlnk">edit</a></td>
                                            </tr>
                                            <tr>
                                            	<td><input type="checkbox" id="repl_id" width="10"></td>
                                                <td>61111.20 t-shirt, 100% cotton, long sleeve</td>
                                                <td>10</td>
                                                <td>each</td>
                                                <td>sku nnnnnnnnnnnnnnnnnnnnn</td>
                                                <td><a href="repl_href" class="btnlnk">edit</a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p><input type="button" value="remove from package" id="repl_id" class="disabled"></p>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Package 1 Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Package 2 Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>package 2 information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol12">
                                        <dt><span class="label">tracking number:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnnnnn</dd>
                                        <dt><span class="label">weight:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnn</dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt>[reference #1]</dt>
                                        <dd>[reference #2]</dd>
                                        <dt>[reference #3]</dt>
                                        <dd>[reference #4]</dd>
                                        <dt>[reference #5]</dt>
                                    </dl>

                                    <div class="clear"></div>

                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col"><input type="checkbox" id="repl_id" width="10"></th>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap colspan="2" scope="col">notes</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td colspan="6
												">no products assigned to this package.</td>
                                            </tr>
                                            <tr class="odd">
                                            	<td><input type="checkbox" id="repl_id" width="10"></td>
                                                <td>6203.42.99 jeans, denim men</td>
                                                <td>10</td>
                                                <td>pairs</td>
                                                <td>sku nnnnnnnnnnnnnnnnnnnnn</td>
												<td><a href="repl_href" class="btnlnk">edit</a></td>
                                            </tr>
                                            <tr>
                                            	<td><input type="checkbox" id="repl_id" width="10"></td>
                                                <td>61111.20 t-shirt, 100% cotton, long sleeve</td>
                                                <td>10</td>
                                                <td>each</td>
                                                <td>sku nnnnnnnnnnnnnnnnnnnnn</td>
												<td><a href="repl_href" class="btnlnk">edit</a></td>
                                            </tr>

                                        </tbody>

                                    </table>

                                    <p><input type="button" value="remove from package" id="repl_id" class="disabled"></p>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Package 2 Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Package 3 Information) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>package 3 information</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <dl class="flexFirst formcol12">
                                        <dt><span class="label">tracking number:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnnnnn</dd>
                                        <dt><span class="label">weight:</span></dt>
                                        <dd id="repl_id">nnnnnnnnnnn</dd>
                                    </dl>

                                    <dl class="flexAfter">
                                        <dt>[reference #1]</dt>
                                        <dd>[reference #2]</dd>
                                        <dt>[reference #3]</dt>
                                        <dd>[reference #4]</dd>
                                        <dt>[reference #5]</dt>
                                    </dl>
                                    <div class="clear"></div>


                                    <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
										<thead>
                                        	<tr>
                                                <th nowrap scope="col"><input type="checkbox" id="repl_id" width="10"></th>
                                                <th nowrap scope="col">description of goods</th>
                                                <th nowrap scope="col">number of units</th>
                                                <th nowrap scope="col">unit of measure</th>
                                                <th nowrap colspan="2" scope="col">notes</th>
                                        	</tr>
                                        </thead>

                                        <tbody>
                                            <tr class="odd">
                                                <td colspan="6">no products assigned to this package.</td>
                                            </tr>
                                            <tr class="odd">
                                            	<td><input type="checkbox" id="repl_id" width="10"></td>
                                                <td>6203.42.99 jeans, denim men</td>
                                                <td>10</td>
                                                <td>pairs</td>
                                                <td>sku nnnnnnnnnnnnnnnnnnnnn</td>
												<td><a href="repl_href" class="btnlnk">edit</a></td>
                                            </tr>
                                            <tr>
                                            	<td><input type="checkbox" id="repl_id" width="10"></td>
                                                <td>61111.20 t-shirt, 100% cotton, long sleeve</td>
                                                <td>10</td>
                                                <td>each</td>
                                                <td>sku nnnnnnnnnnnnnnnnnnnnn</td>
												<td><a href="repl_href" class="btnlnk">edit</a></td>
                                            </tr>

                                        </tbody>

                                    </table>

                                    <p><input type="button" value="remove from package" id="repl_id" class="disabled"></p>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Package 3 Information) -->
                            <!-- /////////////////////////////////////////// -->



                            <!-- /////////////////////////////////////////// -->
                            <!-- Begin Section Module (Shipper Memo) -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>shipper memo</h3>
                                    <ul>
                                        <li><a href="repl_href" class="btnlnk">edit</a></li>
                                    </ul>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">


                                    	<p>none</p>


                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module (Shipper Memo) -->
                            <!-- /////////////////////////////////////////// -->

                             <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
