---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>{access international forms}</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->


		<form action="repl_fname">
        <!-- /application area begin -->




                <!-- Begin Application Module -->
				<div class="appLvl mod clearfix">
				<fieldset>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>enter nafta certificate net cost period details</h2>
                        <ul class="clearfix">
                        	<li><a class="btnlnkR helpIconR" href="repl_href">Help</a></li>
                    	</ul>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">

                        <p>enter nafta certificate of origin net cost period details. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>

                        <!-- Begin Section Module -->
						<div class="secLvl secLvlPlain clearfix">
							<fieldset>
							<!-- Begin Section Header -->
							<div class="secHead clearfix">
								<h3>product details</h3>
							</div>
							<!-- End Section Header -->
							<!-- Begin Section Body -->
							<div class="secBody">

                                <div class="secLvl secLvlPlain subcol12 marginBegin clearfix">
                                    displaying #-# of ##
                                </div>

                                <div class="secLvl secLvlPlain subcol12 marginEnd clearfix" align="right">
                                    <dl>
                                    	<dt>display per page:</dt>
                                        <dd>
                                        	<select>
                                            	<option>25</option>
                                            </select>
                                        </dd>
                                    </dl>
                                </div>

                                <div class="clear"></div>

                                <div class="secLvl secLvlPlain clearfix">
                                <table class="datatable full">
                                    <tr>
                                        <thead>
                                            <th></th>
                                            <th>product name -<br>product description</th>
                                            <th colspan="4"><a href="repl_href" class="btnlnkR helpIconR">net cost period</a></th>
                                        </thead>
                                    </tr>
                                    <tr class="odd">
                                        <td rowspan="2">1.</td>
                                        <td>jeans</td>
                                        <td><b>from:</b></td>
                                        <td>
                                            <select>
                                            	<option>month</option>
                                                <option>a much longer month's name</option>
                                            </select>
                                            <select>
                                            	<option>day</option>
                                            </select>
                                            <select>
                                            	<option>year</option>
                                            </select><img alt="" src="/img/1.gif" class="requiredIcon" border="0" height="12" width="11">
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td>blue jeans</td>
                                        <td><b>to:</b></td>
                                        <td>
                                            <select>
                                            	<option>month</option>
                                                <option>a much longer month's name</option>
                                            </select>
                                            <select>
                                            	<option>day</option>
                                            </select>
                                            <select>
                                            	<option>year</option>
                                            </select><img alt="" src="/img/1.gif" class="requiredIcon" border="0" height="12" width="11">
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td rowspan="2">2.</td>
                                        <td>shirts</td>
                                        <td><b>from:</b></td>
                                        <td>
                                            <select>
                                            	<option>month</option>
                                                <option>a much longer month's name</option>
                                            </select>
                                            <select>
                                            	<option>day</option>
                                            </select>
                                            <select>
                                            	<option>year</option>
                                            </select><img alt="" src="/img/1.gif" class="requiredIcon" border="0" height="12" width="11">
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>long-sleeve shirts</td>
                                        <td><b>to:</b></td>
                                        <td>
                                            <select>
                                            	<option>month</option>
                                                <option>a much longer month's name</option>
                                            </select>
                                            <select>
                                            	<option>day</option>
                                            </select>
                                            <select>
                                            	<option>year</option>
                                            </select><img alt="" src="/img/1.gif" class="requiredIcon" border="0" height="12" width="11">
                                        </td>
                                    </tr>

                                </table>
                                </div>

                                <hr class="hr">

                                <p>displaying #-# of ##</p>

                                <hr class="hr">

                                <p><a class="btnlnkL saveMini" href="repl_href">save your forms and finish them later</a></p>

							</div>
							<!-- End Section Body -->
							</fieldset>
						</div>
						<!-- End Section Module -->


					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="back" class="btnBackArw">
							<input name="" type="submit" value="next" class="btnArw"></div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->





        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
