---
title: view and print completed export forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

    <!-- /content area begin -->
    <div id="main" class="pfv">

        <h1 class="noPrint">view and print completed export forms</h1>

		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <div class="onlyPrint floatBegin">
                            	<img height="55" border="0" width="42" alt="repl_alt" src="/img/glo_ups_brandmark.gif">
                            </div>

                            <div class="floatEnd">
                            	<a href="repl_href" class="btnlnkL crossMini">close window</a>
                            </div>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                                <!-- Begin Section Module -->
                                <div class="secLvl step clearfix">
                                <fieldset><legend>repl_legend</legend>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>view and print completed export forms</h3>
                                    </div>
                                    <!-- End Section Header -->

                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <p>to view and print completed export forms, or to save them to your computer, select view/print.</p>

                                        <fieldset><legend>repl_legend</legend>

                                        <table summary="repl_summary" title="repl_title" class="dataTable"><!-- <caption>repl_caption</caption> -->
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="formcol6">description</th>
                                                    <th scope="col" class="formcol6">form type</th>
                                                    <th scope="col" class="formcol4">actions</th>
                                                </tr>
                                            </thead>

                                            <tr class="odd">
                                                <td scope="row">shipment to canada</td>
                                                <td>commercial invoice<br>nafta co<br>sed</td>
                                                <td>
                                                    <a href="repl_href" class="btnlnkR newWindowIconR">view/print</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td scope="row">[uploaded form a]</td>
                                                <td>import license form</td>
                                                <td>
                                                    <a href="repl_href" class="btnlnkR newWindowIconR">view/print</a>
                                                </td>
                                            </tr>

                                            <tr class="odd">
                                                <td scope="row">[uploaded form b]</td>
                                                <td>power of attorney</td>
                                                <td>
                                                    <a href="repl_href" class="btnlnkR newWindowIconR">view/print</a>
                                                </td>
                                            </tr>

                                        </table>

                                        </fieldset>
                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                                </div>
                                <!-- End Section Module -->

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
    <!-- /contentArea end -->
