---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>access international forms</h1>

		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>forms library</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>to view details about a form, select a form name from below. to view or print a form, select the <strong>view/print pdf</strong> link next to the form.</p>

                            <div class="clearfix" style="text-align:right;">
                            	<span>
                                	<input type="text" id="repl_id" value="enter keyword">
                                    <a href="repl_href" class="btnlnk"><img src="/img/btn_details_mini.gif" width="15" height="15" border="0" alt="find"></a>
                                    <a href="repl_href" class="btnlnk"><img src="/img/btn_refresh_arrows.gif" title="refresh table" width="15" height="15" border="0" alt="find"></a>
                                </span>
                            </div>

                            <p><strong>[xx results found]</strong></p>

                            <div class="clearfix">

                            <fieldset><legend>repl_legend</legend>
                            <table summary="repl_summary" title="repl_title" class="dataTable full"><!-- <caption>repl_caption</caption> -->
                                <thead>
                                	<tr>
                                    	<th><a class="btnlnkR sortDownIconR" href="repl_href">form name <!--[if lte IE 7]><img src="/img/icn_sort_down.gif" width="10" height="10" alt=""><![endif]--></a></th>
                                        <th scope="col">description</th>
                                        <th scope="col"><a class="btnlnkR sortDownIconR" href="repl_href">country or territory <!--[if lte IE 7]><img src="/img/icn_sort_down.gif" width="10" height="10" alt=""><![endif]--></a></th>
                                        <th scope="col">form type</th>
                                        <th scope="col">document actions</th>
                                    </tr>
                                </thead>

                                <tr class="odd">
                                	<td>
                                    	<a href="repl_href">application for a biosecurity<br>
                                    authority/clearance certificate<br>
                                    (bacc)</a>
                                    </td>
                                    <td>
                                    	required for all shipments by new<br>
                                    zealand customs and the ministry of<br>
                                    agriculture. items that may require<br>
                                    this form include foodstuffs, personal<br>
                                    effects, handcrafts, and dietary supplements.<br>
                                    </td>
                                    <td>new zealand</td>
                                    <td>[import/<br>export]</td>
                                    <td><a href="repl_href" class="btnlnk">view/print pdf</a></td>
                                </tr>
                                <tr>
                                	<td><a href="repl_href">commercial invoice</a></td>
                                    <td>used for all shipments containing non-<br>
                                    documents. primary document used for<br>
                                    importation control, valuation, and duty<br>
                                    determination. identifies the products<br>
                                    being shipped.<br>
                                    </td>
                                    <td>united states<br>puerto rico</td>
                                    <td>[import/<br>export]</td>
                                    <td><a href="repl_href" class="btnlnk">view/print pdf</a></td>
                                </tr>
                                <tr class="odd">
                                	<td><a href="repl_href">[form name]</a></td>
                                    <td>[description goes in this space.]</td>
                                    <td>[country or territory name]</td>
                                    <td>[import/<br>export]</td>
                                    <td><a href="repl_href" class="btnlnk">view/print pdf</a></td>
                                </tr>
                                <tr>
                                	<td><a href="repl_href">[form name]</a></td>
                                    <td>[description goes in this space.]</td>
                                    <td>[country or territory name]</td>
                                    <td>[import/<br>export]</td>
                                    <td><a href="repl_href" class="btnlnk">view/print pdf</a></td>
                                </tr>
                            </table>
                            </fieldset>

                            </div>

                        </div>
                        <!-- End Application Body -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
