---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>{access international forms}</h1>


		 <!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->



		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>upload my forms</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

							<p class="error">{&gt;&gt;&gt;error message.}</p>

                            <p>you indicated previously that you wanted to upload export forms you created offline.  use the form below to begin.</p>
                            <p>the offline forms you uploaded appear in the table below. you may upload additional forms or select <strong>next</strong> to continue.</p>

                            <dl>
                                <dt><label for="repl_id1" id="repl_id2">how many export forms are included in this upload?</label></dt>
                                <dd>
                                	<select id="repl_id1">
                                        <option>2</option>
                                    </select>
                                </dd>
                                <dt><label for="repl_id3" id="repl_id4">form #1 type:</label></dt>
                                <dd>
                                	<select id="repl_id3" name="repl_name1">
                                        <option>authorization form</option>
                                        <option>commercial invoice</option>
                                        <option>certificate of origin</option>
                                        <option>export accompanying document</option>
                                        <option>export license</option>
                                        <option>import permit</option>
                                        <option>one-time nafta/co</option>
                                        <option>other document</option>
                                        <option selected="selected">power of attorney</option>
                                        <option>packing list</option>
                                        <option>sed document</option>
                                        <option>declaration</option>
                                        <option>shipper's letter of instruction</option>
                                    </select>
                                </dd>
                                <dt><label for="repl_id5" id="repl_id6">form #2 type:</label></dt>
                                <dd>
                                	<select id="repl_id5" name="repl_name2">
                                        <option>authorization form</option>
                                        <option>commercial invoice</option>
                                        <option>certificate of origin</option>
                                        <option>export accompanying document</option>
                                        <option>export license</option>
                                        <option>import permit</option>
                                        <option>one-time nafta/co</option>
                                        <option selected="selected">other document</option>
                                        <option>power of attorney</option>
                                        <option>packing list</option>
                                        <option>sed document</option>
                                        <option>declaration</option>
                                        <option>shipper's letter of instruction</option>
                                    </select>
                                </dd>
                                <dt><label for="repl_id7" id="repl_id8">file to upload:</label></dt>
                                <dd><input type="file" id="repl_id7"></dd>
                                <dt><label for="repl_id9" id="repl_id10">file name:</label></dt>
                                <dd><input type="text" id="repl_id9"></dd>
                            </dl>

                            <div class="clearfix">

                                <fieldset><legend>repl_legend</legend>
                                <table summary="repl_summary" title="repl_title" class="dataTable"><!--<caption>repl_caption</caption>-->
                                    <thead>
                                        <tr>
                                            <th class="formcol7">file name</th>
                                            <th class="formcol7">form type</th>
                                            <th class="formcol4">view form</th>
                                            <th class="formcol4">remove file</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr class="odd">
                                            <td>my forms 090911</td>
                                            <td>power of attorney<br>other</td>
                                            <td><a href="repl_href" class="btnlnk">view</a></td>
                                            <td><a href="repl_href" class="btnlnk">remove</a></td>
                                        </tr>
                                    </tbody>

                                </table>
                                </fieldset>

                            </div>

							<p><input name="repl_name" type="button" value="{upload additional forms}{upload now}" class="btn"></p>
                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
