---
title: ct1_shi_ifwa_sed_dlg_sedinfo
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
	

		<form action="repl_fname">

		<!-- Begin Application Module -->
			<div class="appLvl mod">
				<fieldset><legend></legend>
				<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>{Application Header}</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->

				<!-- Begin Application Body -->
					<div class="appBody clearfix">

					<!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<fieldset><legend></legend>
							<!-- Begin Section Header --><!-- End Section Header -->

							<!-- Begin Section Body -->
							<div class="secBody clearfix">

									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<select>
										<option>item1</option>
									</select>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p><p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
									<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
							</div>
							<!-- End Section Body -->

							<!-- Begin Section Footer --><!-- End Section Footer -->
							</fieldset>

						</div>
					<!-- End Section Module -->

					</div>
				<!-- End Application Body -->

				<!-- Begin Application Footer --><!-- End Application Footer -->
				</fieldset>
			</div>
		<!-- End Application Module -->

		</form>
	<!-- contentArea -->
	</div>
<!-- applicationArea -->
<!-- applicationArea -->




			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->



<!-- Begin Add Statement View (Default) -->
    <div class="appLvl mod modal dialog">

        <div class="appHead clearfix">
            <h2>shipper export declaration information</h2>
            <ul>
					<li><input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
            </ul>
        </div>

        <div class="appBody">

            <p class="error">{&gt;&gt;&gt;error message.}</p>
            <p>add shipper information to complete your sed form. required fields are marked with a <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>


            <!-- Begin Section Module -->
            <div class="secLvl secLvlPlain clearfix">
                <fieldset>
                <!-- Begin Section Body -->
                <div class="secBody">

    				<dl>

                        <dt>
                        	<label for="repl_id1" id="repl_id2">
                            	<a href="repl_href" class="btnlnkR helpIconR">employer id number (ein/tax id):</a>
                            </label>
                        </dt>
                        <dd>
                        	<input type="text" id="repl_id1">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>

                    </dl>

    				<dl>
                        <dt>
                        	<label for="repl_id3" id="repl_id4">
                            <a href="repl_href" class="btnlnkR helpIconR">parties to transaction:</a>
                            </label>
                        </dt>
                        <dd>
                            <fieldset><legend>repl_legend</legend>
                            <table id="repl_id3" summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                                <tr>
                                    <td class="sel" scope="row">
                                        <input name="repl_name" type="radio" value="" id="repl_id5" checked="checked">
                                    </td>
                                    <td>
                                        <label id="repl_id6" for="repl_id5" class="sel">non-related</label>
                                    </td>
                                    <td class="sel" scope="row">
                                        <input name="repl_name" type="radio" value="" id="repl_id7">
                                    </td>
                                    <td>
                                        <label id="repl_id8" for="repl_id7" class="sel">related</label>
                                    </td>
                                </tr>
                            </table>
                            </fieldset>
                        </dd>
                    </dl>

    				<dl>
                        <dt>
                        	<label for="repl_id11a" id="repl_id12a">
                            <a href="repl_href" class="btnlnkR helpIconR">waybill number/shipment id:</a>
                            </label>
                        </dt>
                        <dd>
                            <input type="text" id="repl_id11a" value="nnnnnnnnnnnnnnn">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>

                        <dt>
                        	<label for="repl_id9" id="repl_id10">
                            <a href="repl_href" class="btnlnkR helpIconR">point (state) of origin of free trade zone number:</a>
                            </label>
                        </dt>
                        <dd>
                            <input type="text" id="repl_id9">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>
                        <dt>
                        	<label for="repl_id11" id="repl_id12">
                            <a href="repl_href" class="btnlnkR helpIconR">method of transportation:</a>
                            </label>
                        </dt>
                        <dd>
                            <select id="repl_id11">
                             	<option>select one</option>
                                <option>select a longer option</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>
                        <dt>
                        	<label for="repl_id13" id="repl_id14">
                            <a href="repl_href" class="btnlnkR helpIconR">exporting carrier:</a>
                            </label>
                        </dt>
                        <dd>
                            <input type="text" id="repl_id13">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                        </dd>
                        <dt>
                        	<label for="repl_id15" id="repl_id16">
                            <a href="repl_href" class="btnlnkR helpIconR">hazardous materials:</a>
                            </label>
                        </dt>
                        <dd>
                            <fieldset><legend>repl_legend</legend>
                            <table id="repl_id15" summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                                <tr>
                                    <td class="sel" scope="row">
                                        <input name="repl_name1" type="radio" value="" id="repl_id17">
                                    </td>
                                    <td>
                                        <label id="repl_id18" for="repl_id17" class="sel">yes</label>
                                    </td>
                                    <td class="sel" scope="row">
                                        <input name="repl_name1" type="radio" value="" id="repl_id19" checked="checked">
                                    </td>
                                    <td>
                                        <label id="repl_id20" for="repl_id19" class="sel">no</label>
                                    </td>
                                </tr>
                            </table>
                            </fieldset>
                        </dd>

                    </dl>

                    <div class="clearfix">


                        <dt>
                        	<label for="repl_id21" id="repl_id22">license information:</label>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                            <br>
                            [enter either license exception code plus eccn, or license number and license date. select an option and complete the appropriate information.]
                        </dt>
                        <dd>
                            <fieldset><legend>repl_legend</legend>
                            <table id="repl_id21" summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                                <tr>
                                    <td class="sel" scope="row">
                                        <input name="repl_name" type="radio" value="" id="repl_id23" checked="checked">
                                    </td>
                                    <td class="formcol6">
                                        <label id="repl_id24" for="repl_id23">
                                        <a href="repl_href" class="btnlnkR helpIconR">license exception code:</a>
                                        </label>
                                        <br>
                                        <select id="repl_id11">
                                            <option>select one</option>
                                            <option>select a longer option</option>
                                        </select>

                                    </td>
                                    <td>
                                        <label id="repl_id25" for="repl_id26">
                                        <a href="repl_href" class="btnlnkR helpIconR">eccn:</a>
                                        </label>
                                        <br>
                                        <input type="text" id="repl_id26">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="sel" scope="row">
                                        <input name="repl_name" type="radio" value="" id="repl_id27">
                                    </td>
                                    <td class="formcol6">
                                        <label id="repl_id28" for="repl_id27">
                                        <a href="repl_href" class="btnlnkR helpIconR">license number:</a>
                                        </label>
                                        <br>
                                        <input type="text" id="repl_id27">
                                    </td>
                                    <td>
                                        <label id="repl_id29" for="repl_id30">
                                        <a href="repl_href" class="btnlnkR helpIconR">license date:</a>
                                        </label>
                                        <br>
                                        <select id="repl_id30">
                                            <option>day</option>
                                        </select>
                                        <select id="repl_id30">
                                            <option>month</option>
                                        </select>
                                        <select id="repl_id30">
                                            <option>year</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            </fieldset>
                        </dd>



                    </div>

                    <div class="clearfix">

                    </div>

                </div>
                <!-- End Section Body -->

                </fieldset>

            </div>
            <!-- End Section Module -->

        </div>

        <div class="appFooter">
            <div class="btnBar alignCenter">
                <input name="" type="button" value="cancel" class="btn">
                <input name="" type="submit" value="submit" class="btn">
            </div>
        </div>

    </div>
<!-- End Add Statement View (Default) -->



<script type="text/javascript">

$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:710});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});
});

</script>
