---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        


		<!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->

        <form action="repl_fname">
        <!-- /application area begin -->




                <!-- Begin Application Module -->
				<div class="appLvl mod clearfix">
				<fieldset>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>address validation</h2>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">

                        <p>the ship to city, state and postal code combination you entered appears to be incorrect. please review the address for spelling and accuracy and modify the address as needed. you might want to contact the recipient to check that the accress is accuate.</p>

                        <!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<fieldset>
							<!-- Begin Section Header -->
							<div class="secHead clearfix">
								<h3>address validation</h3>
							</div>
							<!-- End Section Header -->
							<!-- Begin Section Body -->
							<div class="secBody">

								<dl>
                                	<dt><span class="label">you entered:</span></dt>
                                    	<dd>south bend, in nnnnn</dd>
                                    <dt><span class="label">we suggest:</span></dt>
                                        <dd>
                                            <select id="repl_id">
                                                <option>use entered address</option>
                                            </select>
                                        </dd>
                                </dl>

							</div>
							<!-- End Section Body -->
							</fieldset>
						</div>
						<!-- End Section Module -->


					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="back" class="btnBackArw">
							<input name="" type="submit" value="next" class="btnArw"></div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->





        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
