---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---


<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        


		<!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->




        <form action="repl_fname">
        <!-- /application area begin -->




                <!-- Begin Application Module -->
				<div class="appLvl mod clearfix">
				<fieldset>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>validate address information</h2>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">

                        <p>the address you provided was not found in our address database, or requires additional information.</p>
                        <p>please review the address for spelling and accuracy and modify the address as needed. you might want to contact the recipient to check that the address is accurate. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>




                        <!-- Begin Section Module -->
						<div class="secLvl secLvlPlain seccol10 marginBegin clearfix">
							<fieldset>
							<!-- Begin Section Header -->
							<div class="secHead clearfix">
								<h3>address you entered</h3>
							</div>
							<!-- End Section Header -->
							<!-- Begin Section Body -->
							<div class="secBody">

								<dl>
                                	<dt><span class="label">company name:</span></dt>
                                    	<dd><input type="text" id="repl_id" value="susan maloney"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                                   	<dt><span class="label">street address:</span></dt>
                                    	<dd>
                                        	<input type="text" id="repl_id" value="123 some street"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
											<br><input type="text" id="repl_id">
                                            <br><input type="text" id="repl_id">
                                        </dd>
                                	<dt><span class="label">city:</span></dt>
                                    	<dd><input type="text" id="repl_id" value="south bend"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                                    <dt><span class="label">state:</span></dt>
                                        <dd>
                                            <select id="repl_id">
                                                <option>indiana</option>
                                            </select>
                                        </dd>
                                	<dt><span class="label">zip code:</span></dt>
                                    	<dd><input type="text" id="repl_id" value="12345"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                                </dl>

							</div>
							<!-- End Section Body -->
							</fieldset>
						</div>
						<!-- End Section Module -->




                        <!-- Begin Section Module -->
						<div class="secLvl secLvlPlain seccol14 marginEnd clearfix">
							<fieldset>
							<!-- Begin Section Header -->


                            <div class="secHead clearfix">
								<h3>address suggestions</h3>
							</div>
							<!-- End Section Header -->

							<!-- Begin Section Body -->
							<div class="secBody">

                                <p>the closest match in our address database is shown below. select use suggested address to apply the <b>bolded changes</b> to the address on the left.</p>

                                <dl>
                                	<dt><b>1234-1234 some street</b></dt>
                                    	<dd>south bend, in <b>12345-1234</b></dd>
                                </dl>

                                <span><input type="button" class="btn" value="use suggested address"></span>

                                <p>the following address and address range suggestions might be helpful for modifying the address on the left.</p>

                                <div id="iDiv">
                                	<textarea cols="50" rows="4" id="repl_id">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</textarea>
                                </div>

							</div>
							<!-- End Section Body -->
							</fieldset>
						</div>
						<!-- End Section Module -->




                        <div class="clear"></div>



					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="back" class="btnBackArw">
							<input name="" type="submit" value="next" class="btnArw"></div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->





        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
