---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>{access international forms}</h1>


		<!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->


        <form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>create customs declaration cn22</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p class="error">{&gt;&gt;&gt;error message.}</p>
                            <p>use the form below to add or modify information that will appear on your customs declaration.</p>


                            <div class="clearfix">
                            	<dl class="flexFirst clearfix">
                                	<dt><label for="repl_id" id="repl_id"><a href="repl_href" class="btnlnkR helpIconR">shipment contains:</a></label></dt>
                                    <dd><select id="repl_id">
                                            <option>select one</option>
                                        </select>
                                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                                </dl>
                                <dl class="flexAfter clearfix">
                    				<dt><label id="repl_id" for="repl_id">additional information for other:</label></dt>
									<dd><input id="repl_id" type="text"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                                </dl>

                                <div class="clear"></div>
                            </div>


							<!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Address Information -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>address information</h3>
                                    </div>
                                    <!-- End Section Header -->


                                    <!-- Begin Section Body -->
                                    <div class="secBody">
                                        <dl class="flexFirstPad clearfix">
                                            <dt><span class="label">ship to:</span></dt>
                                            <dd>company name</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>
                                        </dl>

										<dl class="flexAfterPad clearfix">
                                            <dt>
                                            	<span class="label">ship from:</span>
                                            </dt>
                                            <dd>company name</dd>
                                            <dd>contact name</dd>
                                            <dd>address</dd>
                                            <dd>city/state/province/zip/postal code</dd>
                                            <dd>country or territory</dd>
                                            <dd>phone</dd>
                                        </dl>

                                        <div class="clear"></div>
                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Address Information -->
							<!-- ////////////////////////////////////////// -->


                            <!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Product Information -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                    <!-- Begin Section Header -->
                                    <div class="secHead clearfix">
                                        <h3>product information</h3>
                                    </div>
                                    <!-- End Section Header -->

                                    <!-- Begin Section Body -->
                                    <div class="secBody">

                                        <p>information about the products added to your shipment is displayed below. you can edit, remove, or add additional products as needed.</p>

                                        <div class="clearfix">

                                            <table summary="repl_summary" title="repl_title" class="dataTable full"><!--<caption>repl_caption</caption>-->
                                               	<thead>
                                               		<tr>
                                                        <th><input type="checkbox" id="repl_id" width="10px"></th>
                                                        <th><a href="repl_href" class="btnlnkR sortDownIconR">product description <!--[if lte IE 7]><img src="/img/icn_sort_down.gif" width="10" height="10" alt=""><![endif]--></a></th>
                                                        <th>number of units</th>
                                                        <th>weight <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></th>
                                                        <th>price per unit</th>
                                                        <th colspan="2">hs tariff code</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                	<tr class="odd"><td colspan="7"><strong>no products added to shipment; add a product to continue</strong></td></tr>
                                                    <tr class="odd">
                                                        <td><input type="checkbox" id="repl_id" width="10px"></td>
                                                        <td>product description content ...</td>
                                                        <td>nn</td>
                                                        <td><input id="repl_id" type="text" class="formcol2"> lbs <input id="repl_id" type="text" class="formcol2"> ozs</td>
                                                        <td>nn.00 ccc</td>
                                                        <td>[000000][0000]</td>
														<td><a href="repl_href" class="btnlnk">edit</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" id="repl_id" width="10px"></td>
                                                        <td>product description content ...</td>
                                                        <td>nn</td>
                                                        <td><input id="repl_id" type="text" class="formcol2"> lbs <input id="repl_id" type="text" class="formcol2"> ozs</td>
                                                        <td>nn.00 ccc</td>
                                                        <td>[000000][0000]</td>
														<td><a href="repl_href" class="btnlnk">edit</a></td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <td><input type="checkbox" id="repl_id" width="10px"></td>
                                                        <td>product description content ...</td>
                                                        <td>nn</td>
                                                        <td><input id="repl_id" type="text" class="formcol2"> lbs <input id="repl_id" type="text" class="formcol2"> ozs</td>
                                                        <td>nn.00 ccc</td>
                                                        <td>[000000][0000]</td>
														<TD><a href="repl_href" class="btnlnk">edit</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7"><input name="repl_name" type="button" value="remove selected" class="btn"></td>
                                                    </tr>
                                                </tbody>

                                            </table>

                                            <p><a href="repl_href" class="btnlnk">add product</a></p>
                                            <br>
                                            <dl class="flexFirstPad clearfix">
                                            	<dt><label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">product country or territory of origin</a></label></dt>
                                                <dd>[country or territory of origin product 1 above]</dd>
                                            </dl>
                                            <dl class="flexAfterPad clearfix">
                                            	<dt><label for="repl_id">hs tariff code</label></dt>
                                                <dd>[00000000-0000] of product 1 above]</dd>
                                            </dl>

                                            <div class="clear"></div>
                                        </div>

                                    </div>
                                    <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Product Information -->
							<!-- ////////////////////////////////////////// -->



							<!-- ////////////////////////////////////////// -->
                            <!-- Begin Section Module - Declaration Statement -->
                            <div class="secLvl step clearfix">
                                <fieldset>

                                <!-- Begin Section Header -->
                                <div class="secHead clearfix">
                                    <h3>declaration statement</h3>
                                </div>
                                <!-- End Section Header -->

                                <!-- Begin Section Body -->
                                <div class="secBody">

                                    <p>[i certify the particulars given in this customs declaration are correct.  this item does not contain any dangerous article or articles prohibited by legislation or by postal customs regulations.  i have met all applicable export filing requirements under the foreign trade regulations.]</p>

                                </div>
                                <!-- End Section Body -->

                                </fieldset>
                            </div>
                            <!-- End Section Module - Declaration Statement  -->
							<!-- ////////////////////////////////////////// -->

                            <dl>
                            	<dt><label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">exemption/exclusion legend</a></label></dt>
                                <dd><img width="9" height="9" alt="repl_alt" src="/img/icn_check.gif"> noeei &sect; 30.37(a)</dd>
                            </dl>

                            <p><a href="repl_href" class="btnlnkL saveMini">save your forms and finish them later</a></p>


                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="cancel" class="btn">
                                <input name="" type="submit" value="next" class="btnArw disabled">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
