---
title: access international forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>{access international forms}</h1>

		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>suggest export forms</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

							<p class="error">{&gt;&gt;&gt;error message.}</p>
                            <p>provide the requested information below to receive export forms recommendations for your shipment. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">. shipments that consist of documents with <a href="repl_href" class="btnlnkR helpIconR">no commercial value</a> do not require export documentation.</p>

							<div class="clearfix">
                            	<dl>
                                	<dt><label for="repl_id1" id="repl_id2">origin country or territory</label></dt>
                                    <dd>
                                    	<select id="repl_id1" class="formcol5">
                                        	<option>select one</option>
                                        </select>
                                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                	<dt><label for="repl_id3" id="repl_id4">destination country or territory</label></dt>
                                    <dd>
                                    	<select id="repl_id3" class="formcol5">
                                        	<option>select one</option>
                                        </select>
                                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                	<dt><label for="repl_id5" id="repl_id6">value of shipment</label></dt>
                                    <dd>
                                    	<select id="repl_id5" class="formcol5">
                                        	<option>2500.00 + usd</option>
                                        </select>
                                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">
                                    </dd>
                                </dl>
                            </div>

                            <div class="clearfix">
                                <fieldset><legend>repl_legend</legend>
                                <table summary="repl_summary" title="repl_title"><!-- <caption>repl_caption</caption> -->
                                    <tr>
                                        <td class="sel" scope="row">
                                        	<input name="repl_name" type="checkbox" value="" id="repl_id6">
                                        </td>
                                        <td>
                                        	<label id="repl_id7" for="repl_id6" class="sel">
                                            this shipment contains one or more individual products worth 2500.00 usd or more.
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row">
                                        	<input name="repl_name" type="checkbox" value="" id="repl_id8">
                                        </td>
                                        <td>
                                        	<label id="repl_id9" for="repl_id8" class="sel">
                                            this shipment contains individual commodities that require an <a href="repl_href" class="btnlnkR helpIconR">export license</a> or license <a href="repl_href" class="btnlnkR helpIconR">exception</a>.
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>

                            </div>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="button" value="back" class="btnBackArw">
                                <input name="" type="button" value="clear fields" class="btn">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
