---
title: Access International Forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>Access International Forms</h1>

		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>Select Export Forms</h2>
                            <ul class="clearfix">
                                <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">

                            <p>ups tradeability<sup>&reg;</sup> offers a variety of forms for your international shipments. you can complete selected export forms online or let ups help you decide which export forms you need by answering a few questions. you can also browse the library of downloadable import and export forms.</p>

                            <p>use the options below to indicate how you would like to generate export forms.</p>

                            <div class="clearfix">

                                <!-- BEGIN section (complete selected forms online) -->
                                <div class="clearfix brdBox" >
                                    <table summary="repl_summary" title="repl_title" class="sel"><!-- <caption>repl_caption</caption> -->
                                        <tr>
                                            <td class="sel" scope="row">
                                                <input name="repl_name" type="radio" value="" id="repl_id1" checked="checked">
                                            </td>
                                            <td>
                                                <label id="repl_id2" for="repl_id1" class="sel">Complete Selected Forms Online</label>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- Begin Section Module -->
                                    <div class="secLvl clearfix">
                                        <fieldset><legend></legend>

                                        <!-- Begin Section Body -->
                                        <div class="secBody">
                               				<!-- Begin Standalone Select Export Forms (1304) -->

                                            <table class="sel" cellspacing="0" cellpadding="0">
                                            	<tr>
                                                	<td class="sel"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                                                    <td><label id="repl_id4" for="repl_id3" class="sel">Commercial Invoice</label></td>
                                                    <td><a href="repl_href" class="btnlnk">view sample</a></td>
                                                </tr>
                                                <tr>
                                                	<td class="sel"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                                                    <td><label id="repl_id4" for="repl_id3" class="sel">Packing List</label></td>
                                                    <td><a href="repl_href" class="btnlnk">view sample</a></td>
                                                </tr>
                                                <tr>
                                                	<td></td>
                                                	<td>
                                                    	<table class="sel"  border="0" cellpadding="0" cellspacing="0">
                                                        	<tr>
                                                            	<td class="sel"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
                                                                <td><label id="repl_id" for="repl_id" class="sel">Use the <a href="repl_href">UPS Worldwide Express Freight<sup>sm</sup> Packing List</a></label></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td><a href="repl_href" class="btnlnk">view sample</a></td>
                                                </tr>
                                                <tr>
                                                	<td class="sel"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                                                    <td><label id="repl_id4" for="repl_id3" class="sel">U.S. Certificate of Origin</label></td>
                                                    <td><a href="repl_href" class="btnlnk">view sample</a></td>
                                                </tr>
                                                <tr>
                                                	<td class="sel"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                                                    <td><label id="repl_id4" for="repl_id3" class="sel">NAFTA Certificate of Origin</label></td>
                                                    <td><a href="repl_href" class="btnlnk">view sample</a></td>
                                                </tr>
                                                <tr>
                                                	<td class="sel"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                                                    <td><label id="repl_id4" for="repl_id3" class="sel">Electronic Export Information (EEI)</label></td>
                                                    <td><a href="repl_href" class="btnlnk">view sample</a></td>
                                                </tr>
                                            </table>
                                            <!-- End Standalone Select Export Forms (1304) -->

                                        </div>
                                        <!-- End Section Body -->

                                    	</fieldset>
                                    </div>
                                	<!-- End Section Module -->

								</div>
                                <!-- END section (complete selected forms online) -->

								<!-- Simple Line changed to brdbox class <hr class="hr"> -->

                                <div class="clearfix brdBox">
                                <fieldset><legend>repl_legend</legend>
                                <table summary="repl_summary" title="repl_title" class="sel">
                                <!-- <caption>repl_caption</caption> -->
                                    <tr class="sel">
                                        <td class="sel" scope="row">
                                            <input name="repl_name" type="radio" value="" id="repl_id15">
                                        </td>
                                        <td>
                                            <label id="repl_id16" for="repl_id15" class="sel">
                                            Reuse forms from history
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>
                            	</div>

								<!-- Simple Line changed to brdbox class <hr class="hr"> -->

                            	<div class="clearfix brdBox">
                                <fieldset><legend>repl_legend</legend>
                                <table summary="repl_summary" title="repl_title" class="sel">
                                <!-- <caption>repl_caption</caption> -->
                                    <tr>
                                        <td class="sel" scope="row">
                                            <input name="repl_name" type="radio" value="" id="repl_id17">
                                        </td>
                                        <td>
                                            <label id="repl_id18" for="repl_id17" class="sel">
                                            Let UPS suggest which export forms you should use
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>
								</div>

								<!-- Simple Line changed to brdbox class <hr class="hr"> -->

								<div class="clearfix brdBox">
                                <fieldset><legend>repl_legend</legend>
                                <table summary="repl_summary" title="repl_title" class="sel">
                                <!-- <caption>repl_caption</caption> -->
                                    <tr>
                                        <td class="sel" scope="row">
                                            <input name="repl_name" type="radio" value="" id="repl_id19">
                                        </td>
                                        <td>
                                            <label id="repl_id20" for="repl_id19" class="sel">
                                            Download and print blank forms from the Forms Library
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>
								</div>

                    		</div>

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <div class="appFooter">
                            <!-- Begin Button Bar Row -->
                            <div class="btnBar">
                                <input name="" type="submit" value="next" class="btnArw">
                            </div>
                            <!-- End Button Bar Row -->
                        </div>
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
