---
title: review export forms
layout: legacy.hbs
version: v4
appID: com.ups.IntForms
appCSS: ups.legacy_overrideIF
dir: ltr
lang: en
---

<!-- VISE CLAMP -->
<!--<div id="ccGtrMod">


<div id="cssnav"></div>
<div class="navMod"></div>
<div style="clear:both"></div>

<div class="navMod"></div>
<div style="clear:both"></div>

</div>-->

			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->




	<!-- applicationArea -->
	<div id="main">
        <h1>review export forms</h1>


		<!-- BEGIN Progress Bar -->
        	<!--#include virtual="../../common_components/jan14/progressbar_va/progressbar_4_minify.html" -->
        <!-- END Progress Bar -->




		<form action="repl_fname">
        <!-- /application area begin -->


                <!-- Begin Application Module -->
                <div class="appLvl mod clearfix">
                <fieldset>

                        <!-- Begin Application Header -->
                        <div class="appHead clearfix">
                            <h2>view/print export forms</h2>
                        </div>
                        <!-- End Application Header -->

                        <!-- Begin Application Body -->
                        <div class="appBody clearfix">


							<!-- ///////////////////////////////// -->
                            <!-- Begin View and Print Export Forms -->
                            <p>to view and print completed export forms, or to save them to your computer, select view/print.</p>
                            <fieldset><legend>repl_legend</legend>
                            <table summary="repl_summary" title="repl_title" class="dataTable"><!-- <caption>repl_caption</caption> -->
                                <thead>
                                	<tr>
                                    	<th scope="col" class="formcol6">description</th>
                                        <th scope="col" class="formcol6">form type</th>
                                        <th scope="col" class="formcol4">actions</th>
                                    </tr>
                                </thead>

                                <tr class="odd">
                                	<td scope="row">shipment to canada</td>
                                    <td>commercial invoice<br>nafta co<br>sed</td>
                                    <td>
                                    	<a href="repl_href" class="btnlnkR newWindowIconR">view/print</a>
                                    </td>
                                </tr>

                                <tr>
                                	<td scope="row">[uploaded form a]</td>
                                    <td>import license form</td>
                                    <td>
                                    	<a href="repl_href" class="btnlnkR newWindowIconR">view/print</a>
                                    </td>
                                </tr>

                                <tr class="odd">
                                	<td scope="row">[uploaded form b]</td>
                                    <td>power of attorney</td>
                                    <td>
                                    	<a href="repl_href" class="btnlnkR newWindowIconR">view/print</a>
                                    </td>
                                </tr>

                            </table>

                            <p><a href="repl_href" class="btnlnkL arrowIcon">return to shipping history</a></p>
                            </fieldset>
                            <!-- End View and Print Export Forms -->
							<!-- /////////////////////////////// -->

                        </div>
                        <!-- End Application Body -->

                        <!-- Begin Application Footer -->
                        <!-- End Application Footer -->

                </fieldset>
                </div>
                <!-- End Application Module -->


        <!-- /application area end -->
        </form>

    </div>
	<!-- /applicationArea -->






			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
