
<form action="repl_faction">
	
	<!-- Begin Applicaiton Header -->
	<div class="appHead clearfix">
		<h2>Enter Your Tracking Number to Void a Shipment</h2>
		<!--<ul>
                            <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                        </ul>--> 
	</div>
	<!-- End Application Header --> 
	
	<!-- Begin Application Body -->
	<div class="appBody clearfix"> 
		
		<!-- Begin Section Module -->
		<div class="secLvl"> 
			<!-- Begin Section Body -->
			<div class="secBody step clearfix">
				<fieldset>
					<p class="error">>>>> error message placholder</p>
					<p>To void charges for a shipment already billed to your UPS account, but not shipped, enter the associated Tracking Number.</p>
					<dl>
						<dt>
							<label id="repl_id" for="repl_id">UPS Tracking Number:</label>
						</dt>
						<dd>
							<input id="repl_id" type="text">
						</dd>
					</dl>
					<hr class="hr">
					<p><strong>NOTICE:</strong>- You may only void a shipment through this Void Portal when:<br>
						- The shipment is under a UPS customer account associated with your My UPS account<br>
						- You have printed the label and sent the information to UPS, but UPS has not taken possession of the shipment<br>
						- The request to void the shipment is made less than 90 days after the shipment's label was created and the information about the shipment was sent to UPS<br>
						-The shipment was processed through UPS Internet Shipping, UPS WorldShip<sup>&reg;</sup> of UPS OnLine Tools.</p>
				</fieldset>
			</div>
			<!-- End Section Body --> 
			
		</div>
		<!-- End Section Module --> 
		
	</div>
	<!-- End Application Body --> 
	
	<!-- Begin Application Footer -->
	<div class="appFooter"> 
		
		<!-- Begin Button Bar Row -->
		<div class="btnBar">
			<input name="repl_name" type="button" value="Clear" class="btn">
			<input name="Input" type="submit" value="Continue" class="btnArw">
		</div>
		<!-- End Button Bar Row --> 
		
	</div>
	<!-- End Application Footer -->
</form>
