---
title: ct1_tra_umc_delplan_cal_month
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////                                                                          ////// -->
<!-- //////   *****      DO NOT USE THE FOLLOWING IDs IN PRODUCTION CODE      *****    ///// -->
<!-- /////                                                                              //// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////                                                                            ///// -->
<!-- ///////         ****   all id="dyn_pnl_1" through id="dyn_pnl_nn"   ****         ////// -->
<!-- ////////        ****   all id="pnl_1_1" through id="pnl_nn_nn"      ****        /////// -->
<!-- /////////                                                                      //////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
	   {{> "ct1_tra_umc_delplan_cal_month_partial" delplan.pre_authorized_returns}}
 
    <!-- /main end --> 
    
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    

<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////                                                                          ////// -->
<!-- //////   *****      DO NOT USE THE FOLLOWING IDs IN PRODUCTION CODE      *****    ///// -->
<!-- /////                                                                              //// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////                                                                            ///// -->
<!-- ///////         ****   all id="dyn_pnl_1" through id="dyn_pnl_nn"   ****         ////// -->
<!-- ////////        ****   all id="pnl_1_1" through id="pnl_nn_nn"      ****        /////// -->
<!-- /////////                                                                      //////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->