---
title: CTC
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>
{{> ts_rr_start}}
	{{> M22_accordion_list legacy_landing_pages.ctc}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
               <!-- ////////////////////////////////////////////////////////// -->
               <!-- ////////////////////////////////////////////////////////// -->
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">02/09/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>UI_CTC_7803_7807_vA1.0</li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">09/05/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>UI_CTC_RFC8654_A1.0</li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">08/18/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>UI_CTC_RFC8654_A1.0</li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">08/08/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>UI_CTC_RFC8654_A1.0</li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">06/16/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>Legacy CTC: Domestic discount and shipment dimensions fields added, TFS: [375286]</li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">06/09/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>Legacy CTC: Resolved panel button wrapping, TFS: [380944]</li>
                           <li>Legacy CTC: Fixed View Detail white color X icon, TFS: [380241]</li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">05/30/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>CTC - maintenace build for ct1_shi_tnc_dlg_detailcharges, TFS: [380348]</li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">04/14/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>Legacy CTC - Refactored Find Locations Link, TFS: [347423]</li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">03/31/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>Legacy CTC - reskin ct1_shi_ctc, TFS: [335651] </li>
                           <li>Legacy CTC - part of reskin, TFS: [335657] </li>
                       </ul>
                   </div>
               </li>
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">03/24/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>Legacy - CTC Redesign, TFS: [335652, 335653]</li>
                       </ul>
                   </div>
               </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Spec Update Av1.0</li>
                            <li>Initial Merge into WEM</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
