---
title: ct1_shi_pic(4col)
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: rtl
lang: ar
---

<div id="main">
    {{> "ct1_shi_pic(4col)_partial" }}
</div>
