@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

.centerTD{
 	width : 94% !important;
}

#main {

	.centerTD{
     	width : 94% !important;
    }

	table td.mod-msg-pad{
         border: 1px solid #6e6e6e;
   }

    input.printmini.btnlnkR{
  		background-position: $opposite-direction;
  }

}
