<form action="repl_fname" class="ups-application_wrapper ups-form_wrap">
	<table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
		<tr>
			<th>
                <div class="head-col4">
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
					<!--<h2>{less-than-truckload freight time and cost details}</h2>
					<ul>
						<li>
							<input name="Input" class="btnlnkR printmini" value="{print label}" type="submit">
						</li>
					</ul>
					<div style="clear:both;"></div>-->
					<h2>
                        {ltl freight time and cost details}
                        <button type="button" class="ups-link ups-link_header pull-right">Print</button>
                    </h2>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->
				</div>
            </th>
		</tr>
		<tr>
			<td>
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
				<!--<div class="stepModFixed4col" style="border-color:#FFD124;background-color:#FFF2AC;">
					<div class="clearfix">
						<p>[Your shipment weighs less than the UPS CrossBorder Connect minimum contracted weight.  It is rated at the minimum contracted weight.]</p>
					</div>
				</div>-->
                <div class="panel panel-info">
					<div class="panel-body">
						<p>[Your shipment weighs less than the UPS CrossBorder Connect minimum contracted weight.  It is rated at the minimum contracted weight.]</p>
                    </div>
                </div>
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: End part of re-design   -->
                <!-- ************************************** -->


				{{>"ct1_shi_ftc(4ltn)_fctc_time_cost_ltl_freight_partial"}}

            </td>
		</tr>
	</table>
</form>
