<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
<tr>
	<td class="pi-h1" valign="top">Calculate Time and Cost</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
<tr>
	<td valign="top" width="422">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">Provide Shipment Information</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Please provide information about your entire shipment. If you wish to enter shipment details for each package, select the Enter Package Detail link. To include services like COD or Saturday Delivery in your cost estimate, select the Optional Services button, below. Required fields are shown in <span class="pi-h4">bold</span>.<br><br>
			<span class="pi-h3">Package Information</span><img alt="" border="0" height="1" src="/img/1.gif" width="10"><a href="repl_href"><img alt="Enter Package Detail" border="0" height="10" src="/img/en/btn_lnk_ent_pack_detail.gif" width="112"></a><br>
			<span class="pi-h4">Number of Packages:</span><br>
			<select name="repl_fname" class="modSelSmall" size="1">
		  	<option>1</option>
		  	<option>2</option>
		  	<option>3</option>
		  	<option>4</option>
			</select>
			<br>
			<span class="pi-h4">Packaging:</span><br>
			<select name="repl_fname" class="modSelMedium" size="1">
		  	<option>Select One</option>
		  	<option>Item 1</option>
		  	<option>Item 2</option>
		  	<option>Item 3</option>
			</select>
			<br>
			<span class="pi-h4">Shipment Weight:</span><br>
			<input class="modTxtSmall" maxlength="35" size="4" type="text"><img alt="" border="0" height="1" src="/img/1.gif" width="10">kgs
			<br>
			<span class="pi-h4">Declared Value:</span><br>
			<input class="modTxtSmall" maxlength="35" size="4" type="text"><img alt="" border="0" height="1" src="/img/1.gif" width="10">CUR<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Cancel" border="0" height="18" name="repl_fname" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Optional Services" border="0" height="18" name="repl_fname" src="/img/en/btn_optional_services.gif" type="image" width="111"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Submit" border="0" height="18" name="repl_fname" src="/img/en/btn_submit_a.gif" type="image" width="64"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

<!-- Begin Table: Functional Table 2 -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
<tr>
	<td>
	<br>
	<span class="pi-h4">Please Note:</span> Shipping rates quoted are estimates based on the information you have supplied. Other shipping charges may apply and your final shipping charge may differ depending upon your UPS Account number and how you tender the package to UPS. Please see the UPS Rate and Service Guide applicable to you for details.
	</td>
</tr>
</table>
<!-- End Table: Functional Table 2 -->

</form>
