<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Check File Status</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">View Uploaded and Downloaded Files</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			The information below reflects TradeAbility<sup>TM</sup> file activity over the last seven days. Select <span class="pi-h4">Refresh</span> on your browser to see the most current status.
			<br><br>
			<span class="pi-h4">Displaying x-x of n</span><br>
			<!-- <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br> -->
			<input alt="First" border="0" height="11" name="page_first" src="/img/en/btn_lnk_first.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Previous" border="0" height="11" name="page_previous" src="/img/en/btn_lnk_previous.gif" type="image" 	width="38" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Previous 10" border="0" height="11" 	name="page_previous_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="1" border="0" height="11" name="page_1" src="/img/btn_lnk_1.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="2" border="0" height="11" name="page_2" src="/img/btn_lnk_2.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="3" border="0" height="11" name="page_3" src="/img/btn_lnk_3.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="4" border="0" height="11" name="page_4" 	src="/img/btn_lnk_4.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="5" border="0" 	height="11" name="page_5" src="/img/btn_lnk_5.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input 	alt="6" border="0" height="11" name="page_6" src="/img/btn_lnk_6.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="7" border="0" height="11" name="page_7" src="/img/btn_lnk_7.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="8" border="0" height="11" name="page_8" src="/img/btn_lnk_8.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="9" border="0" height="11" name="page_9" 	src="/img/btn_lnk_9.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="10" border="0" 	height="11" name="page_10" src="/img/btn_lnk_1.gif" type="image" width="7" /><input alt="10" border="0" height="11" name="page_10" src="/img/btn_lnk_0.gif" 	type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next 10" border="0" height="11" 	name="page_next_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="Next" border="0" height="11" name="page_next" src="/img/en/btn_lnk_next.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Last" border="0" height="11" name="page_last" src="/img/en/btn_lnk_last.gif" type="image" width="22" /><br><br>
			</div>
			</td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr class="pi-r1-t">
			<td class="pi-r1-pad" width="25%">File Type/Action</td>
			<td class="pi-r1-line" width="25%">File Reference ID</td>
			<td class="pi-r1-line" width="25%">Date Created</td>
			<td class="pi-r1-line" width="25%">Status</td>
		</tr>
		</thead>
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">Product List Upload</td>
			<td class="pi-r1-pad">abcdefghijlmno123432</td>
			<td class="pi-r1-pad">MM/DD/YYYY<br>hh:mm A./P.M. EST</td>
			<td class="pi-r1-pad">In Progress</td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">Transaction History Download</td>
			<td class="pi-r1-pad">abcdefghijlmno123401</td>
			<td class="pi-r1-pad">MM/DD/YYYY<br>hh:mm A./P.M. EST</td>
			<td class="pi-r1-pad">Completed<br><a href="repl_href">Download Ready</a></td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">Transaction History Download</td>
			<td class="pi-r1-pad">abcdefghijlmno123444</td>
			<td class="pi-r1-pad">MM/DD/YYYY<br>hh:mm A./P.M. EST</td>
			<td class="pi-r1-pad">Completed with Errors<br><a href="repl_href">Download Ready</a><br><a href="repl_href">View Errors</a></td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">Transaction History Download</td>
			<td class="pi-r1-pad">abcdefghijlmno123468</td>
			<td class="pi-r1-pad">MM/DD/YYYY<br>hh:mm A./P.M. EST</td>
			<td class="pi-r1-pad">Failed<br><a href="repl_href">View Errors</a></td>
		</tr>
		</tbody>
		<tfoot>
		<tr class="pi-r1-b">
			<td colspan="4"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		</tfoot>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<span class="pi-h4">Displaying x-x of n</span><br>
			<!-- <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br> -->
			<input alt="First" border="0" height="11" name="page_first" src="/img/en/btn_lnk_first.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Previous" border="0" height="11" name="page_previous" src="/img/en/btn_lnk_previous.gif" type="image" 	width="38" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Previous 10" border="0" height="11" 	name="page_previous_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="1" border="0" height="11" name="page_1" src="/img/btn_lnk_1.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="2" border="0" height="11" name="page_2" src="/img/btn_lnk_2.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="3" border="0" height="11" name="page_3" src="/img/btn_lnk_3.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="4" border="0" height="11" name="page_4" 	src="/img/btn_lnk_4.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="5" border="0" 	height="11" name="page_5" src="/img/btn_lnk_5.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input 	alt="6" border="0" height="11" name="page_6" src="/img/btn_lnk_6.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="7" border="0" height="11" name="page_7" src="/img/btn_lnk_7.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="8" border="0" height="11" name="page_8" src="/img/btn_lnk_8.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="9" border="0" height="11" name="page_9" 	src="/img/btn_lnk_9.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="10" border="0" 	height="11" name="page_10" src="/img/btn_lnk_1.gif" type="image" width="7" /><input alt="10" border="0" height="11" name="page_10" src="/img/btn_lnk_0.gif" 	type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next 10" border="0" height="11" 	name="page_next_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="Next" border="0" height="11" name="page_next" src="/img/en/btn_lnk_next.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Last" border="0" height="11" name="page_last" src="/img/en/btn_lnk_last.gif" type="image" width="22" />
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
