<!-- Begin Application Module -->

<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** -->
<!--
  <div class="appLvl mod">
  -->

<div class="appLvl mod ups-application_wrapper ups-form_wrap">
<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design   -->
<!-- ************************************** -->

<div class="appHead clearfix">
  <!-- ************************************** -->
  <!-- REDESIGN EDIT: Start part of re-design -->
  <!-- ************************************** -->
  <!--
    <div class="secHead clearfix">
      <h3>Pickup Request Complete</h3>
      <ul>
        <li><a href="repl_href" class="btnlnkR printIconR">print</a></li>

        <!--<li><input class="btnlnkR printIconR" type="button" value="print" name="Input"></li> -
      </ul>
  </div>
  -->
  <h2>Pickup Request Complete</h2>
  <span class="pull-right">
      <span class="icon ups-icon-print"></span> <a href="#">Print</a>
    </span>
</div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
      <!-- Begin Application Body -->

      <div class="appBody clearfix">


        <p>Thank you for choosing UPS... please print text</p>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <dl role="presentation" class="outHozFixed clearfix">
          <dt>
            <span class="label" for="">pickup request number:</span>
          </dt>
          <dd><a href="">[pickup request number]</a></dd>
        </dl>
        <div class="clear"></div>
        <dl role="presentation" class="outHozLedger clearfix">
          <dt>
            <span class="label" for="">{total amount due}:</span>
          </dt>
          <dd>NN.NN USD</dd>
        </dl>
        <div class="clear"></div>
        -->

        <div class="row ups-group">
          <div class="col-xs-4">
            <p><strong>pickup request number</strong></p>
          </div>
          <div class="col-xs-8">
            <p><a href="">[pickup request number]</a></p>
          </div>
        </div>

        <div class="row ups-group">
          <div class="col-xs-12">
            <p>{Total Base Collection Charges:} <span class="pull-right">{nn.nn USD}</span></p>
          </div>
        </div>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->


        <!-- Begin JULY 2013 - RFC 6063 -->

        <!-- Begin Section Level -->


        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

          <div class="secLvl message critical clearfix">

            <!-- Begin Section Head ->

            <div class="secHead clearfix">
              <h3>please do not seal or close your packages</h3>
            </div>

            <!-- End Section Head -->

            <!-- Begin Section Body ->

            <div class="secBody">
              <p>in order to comply with Australian regulations, ups will need to inspect the contents of the packages. please keep your packages open for inspection at pickup and show the driver a current photo I.D. for us to verify and record.</p>
            </div>

            <!-- End Section Body -->

            <!-- Begin Section Footer --><!-- End Section Footer ->

          </div>

          <div class="secLvl message clearfix">
              <!--<div class="secHead clearfix">
                <h3>please do not seal or close your packages</h3>
              </div> ->
              <div class="secBody">
                <p><strong>To change, cancel, or check the status of your pickup, create a ups.com&reg; profile now.</strong> We'll even save your pickup address to your contacts for faster scheduling next time.</p>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row">
                                <input name="repl_name" type="checkbox" value="" id="chxbox1"/>
                            </td>
                            <td>
                                <label for="chxbox1" class="sel">Save [VISA][***********NNNN] to my profile for future pickup requests.</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alignEnd">
                    <button name="repl_name" id="repl_id" class="btn">
                        Sign up Now &gt;
                    </button>
                </div>
              </div>
          </div>

        -->
            <div class="panel panel-primary">
    			<div class="panel-heading">
    				Please do not seal or close your packages
    			</div>
    			<div class="panel-body">
    				<p>In order to comply with Australian regulations, UPS will need to inspect the contents of the packages. Please keep your packages open for inspection at pickup and show the driver a current photo I.D. for us to verify and record.</p>
    			</div>
    		</div>

            <div class="panel panel-primary">
				<div class="panel-body">
					<p><strong>To change, cancel, or check the status of your pickup, create a ups.com&reg; profile now.</strong> We'll even save your pickup address to your contacts for faster scheduling next time.</p>

                    <div class="ups-form_group">
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="checkbox_1" class="ups-checkbox-custom" name="check" type="checkbox" checked="">
							<label for="checkbox_1" value="1" class="ups-checkbox-custom-label">Save [VISA][***********NNNN] to my profile for future pickup requests.</label>
						</div>
					</div>
				</div>
			</div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->


        <!-- End Section Level -->

        <!-- End JULY 2013 - RFC 6063 -->

        <!-- Set Section Lvl -->

        <!-- Begin Pickup Date and Time Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>pickup date and time</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

              <dl role="presentation" >
                <dt>
                  <span class="label" for="">pickup date:</span>
                </dt>
                <dd>{dynamic pickup date}</dd>
              </dl>


                <!-- Begin Interior Column 1 ->

                <div class="subcol9 marginBegin">
                  <dl role="presentation" >
                    <dt>
                      <span class="label">earliest:</span>
                    </dt>
                    <dd>{dynamic earliest time}</dd>
                    <dt>
                      <span class="label">latest:</span>
                    </dt>
                    <dd>{dynamic latest time}</dd>
                  </dl>
                </div>

                <!-- End Interior Column 1 -->

                <!-- Begin Interior Column 2 ->

                <div class="subcol9">
                  <dl role="presentation" >
                    <dt>
                      <span class="label">start lunch:</span>
                    </dt>
                    <dd>{dynamic start lunch}</dd>
                    <dt>
                      <span class="label">{end lunch}:</span>
                    </dt>
                    <dd>{dynamic end lunch}</dd>
                  </dl>
                </div>

                <!-- End Interior Column 2 -->


                <div class="ups-group ups-group_condensed">
                  <p class="ups-group_label">pickup date</p>
                  <p>{dynamic pickup date}</p>
                </div>

                <div class="row">

                  <div class="col-xs-6">
                    <div class="ups-group ups-group_condensed">
                      <p class="ups-group_label">earliest</p>
                      <p>{dynamic earliest time}</p>
                    </div>

                    <div class="ups-group ups-group_condensed">
                      <p class="ups-group_label">latest</p>
                      <p>{dynamic latest time}</p>
                    </div>
                  </div>

                  <div class="col-xs-6">
                    <div class="ups-group ups-group_condensed">
                      <p class="ups-group_label">start lunch</p>
                      <p>{dynamic start lunch}</p>
                    </div>

                    <div class="ups-group ups-group_condensed">
                      <p class="ups-group_label">{end lunch}</p>
                      <p>{dynamic end lunch}</p>
                    </div>
                  </div>

                </div>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: End part of re-design   -->
                <!-- ************************************** -->

            </div>

            <!-- End Section Body -->

          </div>


        <!-- End Pickup Date and Time Section Module -->

        <!-- Begin Pickup Address Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>pickup address</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

              <dl role="presentation" class="outHozFlex">
                <dt>
                  <span class="label" for="repl_id">company or name:</span>
                </dt>
                <dd>{dynamic company or name}</dd>
              </dl>
              <dl role="presentation" class="outHozFlex">
                <dt>
                  <label for="outHozFlex">contact name:</span>
                </dt>
                <dd>{dynamic contact name}<br>
                  {dynamic address}<br>
                  {dynamic city}, {dynamic state} {dynamic zip code}</dd>
              </dl>

            -->

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">company or name</p>
                <p>{dynamic company or name}</p>
              </div>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">contact name</p>
                <p>{dynamic contact name}</p>
                <p>{dynamic address}</p>
                <p>{dynamic city}, {dynamic state} {dynamic zip code}</p>
              </div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            </div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- removed with reskin

            <div class="clear"></div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            <!-- End Section Body -->

            <!-- Begin Section Footer --><!-- End Section Footer -->

          </div>


        <!-- End Pickup Address Section Module -->

        <!-- Begin Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>pickup information</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

              <dl role="presentation" class="outHozFixed clearfix">
                <dt>
                  <span class="label" for="">telephone:</span>
                </dt>
                <dd>{dynamic telephone}</dd>
                <dt>
                  <span class="label" for="">pick up from:</span>
                </dt>
                <dd>{dynamic pickup from}</dd>
                <dt>
                  <span class="label" for="">special instructions:</span>
                </dt>
                <dd>{dynamic special instructions}</dd>
                <dt>
                  <span class="label" for="">send notifications:</span>
                </dt>
                <dd>{dynamic mobile number}<br>
                  {dynamic E-mail Address}<br>
                  {dynamic E-mail Address}<br>
                  {dynamic E-mail Address}</dd>
              </dl>

            -->

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>telephone</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic telephone}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>pick up from</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic pickup from}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>special instructions</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic special instructions}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <strong>send notifications</strong></p>
                </div>
                <div class="col-xs-7">
                  <div class="ups-group ups-group_condensed">
                    <p>{dynamic mobile number}</p>
                    <p>{dynamic E-mail Address}</p>
                    <p>{dynamic E-mail Address}</p>
                    <p>{dynamic E-mail Address}</p>
                  </div>
                </div>
              </div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->


            </div>

            <!-- End Section Body -->

            <!-- Begin Section Footer --><!-- End Section Footer -->

          </div>


        <!-- End Section Module -->

        <!-- Begin Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>delivery information</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">
              <p>You requested UPS deliver your WW Express Freight Shipment.</p>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

              <dl role="presentation" >
                <dt>
                  <span class="label" for="repl_id">Ship To:</span>
                </dt>
                <dd>[country or territory]</dd>
              </dl>
              <dl role="presentation" >
                <dt>
                  <span class="label" for="">Guaranteed By:</span>
                </dt>
                <dd>[end of day], [weekday], [mm/dd/yyyy]</dd>
              </dl>

            -->

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Ship To</p>
                <p>[country or territory]</p>
              </div>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">Guaranteed By</p>
                <p>[end of day], [weekday], [mm/dd/yyyy]</p>
              </div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            </div>

            <!-- End Section Body -->

          </div>


        <!-- End Section Module -->

        <!-- Begin Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>shipment information</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

              <dl role="presentation" class="outHozFixed clearfix">
                <dt>
                  <span class="label" for="">total number:</span>
                </dt>
                <dd>{dynamic n}</dd>
                <dt>
                  <span class="label" for="">services selected:</span>
                </dt>
                <dd>{dynamic service}, {dynamic service}, {dynamic service}...</dd>
                <dt>
                  <span class="label" for="">shipment weight:</span>
                </dt>
                <dd>{dynamic n {lbs/kg}}</dd>
                <dt>
                  <span class="label" for="">dimensions</span>
                </dt>
                <dd>{dynamic dimensions}</dd>
                <dt>
                  <span class="label" for="">weight of heaviest</span>
                </dt>
                <dd>{dynamic weight}</dd>
                <dt>
                  <span class="label" for="">pickup referencel:</span>
                </dt>
                <dd>{dynamic ABCDEF...</dd>
                <dt>
                  <span class="label" for="">dangerous goods:</span>
                </dt>
                <dd>{dynamic yes/no}</dd>
              </dl>

            -->

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>total number</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic n}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>services selected</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic service}, {dynamic service}, {dynamic service}...</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>shipment weight</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic n {lbs/kg}}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>dimensions</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic dimensions}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>weight of heaviest</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic weight}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>pickup reference</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic ABCDEF...}</p>
                </div>
              </div>

              <div class="row ups-group">
                <div class="col-xs-5">
                  <p><strong>dangerous goods</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>{dynamic yes/no}</p>
                </div>
              </div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            </div>

            <!-- End Section Body -->

            <!-- Begin Section Footer --><!-- End Section Footer -->

          </div>


        <!-- End Section Module -->

        <!-- Begin Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>Pallet Information</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

              <p><span class="label">Pallet [00] of [00]</span></p>
              <dl role="presentation" class="outHozFixed clearfix">
                <dt>
                  <span class="label" for="">Dimensions:</span>
                </dt>
                <dd>[000] x [000] x [000][in/cm]</dd>
                <dt>
                  <span class="label" for="">Pallet Weight:</span>
                </dt>
                <dd>[00000][lb/kg]</dd>
              </dl>
              <dl role="presentation" class="outHozFixed clearfix">
                <dt>
                  <span class="label" for="">Dimensions:</span>
                </dt>
                <dd>[000] x [000] x [000][in/cm]</dd>
                <dt>
                  <span class="label" for="">Pallet Weight:</span>
                </dt>
                <dd>[00000][lb/kg]</dd>
              </dl>
              <div class="clear"></div>

              -->

              <div class="ups-group">
                <p class="ups-group_label">Pallet [00] of [00]</p>

                <div class="row">
                  <div class="col-xs-5">
                    <p><strong>Dimensions</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>[000] x [000] x [000][in/cm]</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-5">
                    <p><strong>Pallet Weight</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>[00000][lb/kg]</p>
                  </div>
                </div>
              </div>

              <div class="ups-group">
                <p class="ups-group_label">Pallet [00] of [00]</p>

                <div class="row">
                  <div class="col-xs-5">
                    <p><strong>Dimensions</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>[000] x [000] x [000][in/cm]</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-5">
                    <p><strong>Pallet Weight</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>[00000][lb/kg]</p>
                  </div>
                </div>
              </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

              <p><a href="">Show {All}{Less}</a></p>

            </div>

            <!-- End Section Body -->

          </div>


        <!-- End Section Module -->

        <!-- Begin Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>drop-off date and timer</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">
              <p>customer elected... text</p>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

              <dl role="presentation" class="outHozFixed clearfix">
                <dt>
                  <span class="label" for="">Drop-off Date:</span>
                </dt>
                <dd>[date]</dd>
                <dt>
                  <span class="label" for="">Shipment drop off time:</span>
                </dt>
                <dd>[hh:mm][am/pm]</dd>
              </dl>
              <div class="clear"></div>
              <div class="marginBegin col6 clearfix">
                <dl role="presentation" >
                  <dt>
                    <span class="label" for="">[location/facility name]</span>
                  </dt>
                  <dd>[address 1]</dd>
                  <dd>[city], [other], [state][zip/postal code]</dd>
                  <dd>[country or territory]</dd>
                  <dd>Telephone: [number]</dd>
                  <dd>Fax: [number]</dd>
                </dl>
              </div>
              <div class="marginEnd clearfix">
                <p>[<strong>000</strong>][mi/km]</p>
              </div>
              <div class="clear"></div>

              <!-- ///////////////////////////////////////////////////// -->

              <!-- Begin Pickup - Drop-off Time - Drop-off / Hold (7306) ->

              <p><a class="btnlnkR newWindowIconR" href="repl_href">Last 50 feet directions</a></p>

              <!-- End Pickup - Drop-off Time - Drop-off / Hold (7306) -->

              <!-- /////////////////////////////////////////////////// ->

              <dl role="presentation" >
                <dt>
                  <span class="label" for="">hours of operation:</span>
                </dt>
                <dd>[weekday] hh:mm am to hh:mm pm</dd>
              </dl>
              <dl role="presentation" >
                <dt>
                  <span class="label" for="">ups location latest drop-off time:</span>
                </dt>
                <dd>[weekday] hh:mm am to hh:mm pm</dd>
              </dl>

              -->

              <div class="row">
                <div class="col-xs-5">
                  <p><strong>Drop-off Date</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>[date]</p>
                </div>

                <div class="col-xs-5">
                  <p><strong>Shipment drop off time</strong></p>
                </div>
                <div class="col-xs-7">
                  <p>hh:mm][am/pm]</p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-5">
                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">[location/facility name]</p>
                    <p>[address 1]</p>
                    <p>[city], [other], [state][zip/postal code]</p>
                    <p>[country or territory]</p>
                    <p>Telephone: [number]</p>
                    <p>Fax: [number]</p>
                  </div>
                </div>
                <div class="col-xs-7">
                  <p>[<strong>000</strong>][mi/km]</p>
                </div>
              </div>

              <p><a href="#">Last 50 feet directions</a> <span class="icon ups-icon-newwindow" aria-hidden="true"></span></p>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">hours of operation</p>
                <p>[weekday] hh:mm am to hh:mm pm</p>
              </div>

              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">ups location latest drop-off time</p>
                <p>[weekday] hh:mm am to hh:mm pm</p>
              </div>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>

            <!-- End Section Body -->

          </div>


        <!-- End Section Module -->

        <!-- Begin Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>delivery information</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">
              <p>you requested ups hold... text</p>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

              <p><span class="label">shipment will be held for pick up... text</span></p>
              <dl role="presentation" class="flexFirst clearfix">
                <dt>
                  <span class="label" for="">[location/facility name]</span>
                </dt>
                <dd>[address 1]</dd>
                <dd>[city], [other], [state][zip/postal code]</dd>
                <dd>[country or territory]</dd>
                <dd>Telephone: [number]</dd>
                <dd>Fax: [number]</dd>
              </dl>
              <dl role="presentation" class="flexAfter clearfix">
                <dt>
                  <span class="label" for="">hours of operation:</span>
                </dt>
                <dd>[weekday] hh:mm am to hh:mm pm</dd>
                <dd>[weekday] hh:mm am to hh:mm pm</dd>
                <dd>[weekday] hh:mm am to hh:mm pm</dd>
                <dd>...</dd>
                <dd>[sunday][closed]</dd>
              </dl>
              <div class="clear"></div>

              <!-- ///////////////////////////////////////////////////// -->

              <!-- Begin Pickup - Drop-off Time - Drop-off / Hold (7306) ->

              <p><a class="btnlnkR newWindowIconR" href="repl_href">Last 50 feet directions</a></p>

              <!-- End Pickup - Drop-off Time - Drop-off / Hold (7306) -->

              <!-- /////////////////////////////////////////////////// ->

              -->

              <p><strong>shipment will be held for pick up... text</strong></p>

              <div class="row">
                <div class="col-xs-5">
                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">[location/facility name]</p>
                    <p>[address 1]</p>
                    <p>[city], [other], [state][zip/postal code]</p>
                    <p>[country or territory]</p>
                    <p>Telephone: [number]</p>
                    <p>Fax: [number]</p>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">hours of operation</p>
                    <p>[weekday] hh:mm am to hh:mm pm</p>
                    <p>[weekday] hh:mm am to hh:mm pm</p>
                    <p>[weekday] hh:mm am to hh:mm pm</p>
                    <p>...</p>
                    <p>[sunday][closed]</p>
                  </div>
                </div>
              </div>

              <p><a href="#">Last 50 feet directions</a> <span class="icon ups-icon-newwindow" aria-hidden="true"></span></p>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->

            </div>

            <!-- End Section Body -->

          </div>


        <!-- End Section Module -->

        <!-- Begin Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--
              <h3>payment information for all fees</h3>
              <ul>
                <li>
                    <input name="" type="button" class="btnlnkL editMini" value="Edit">
                </li>
              </ul>
              -->

              <h3>payment information for all fees</h3>
              <a href="#" class="pull-right">Edit</a>

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: End part of re-design   -->
              <!-- ************************************** -->
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">
              {{#if payment_info.default }}
                <h4>Bill to:</h4>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!--

                <dl role="presentation" class="outHozFixed clearfix">
                    <dt>
                      <span class="label" for="">ups account number:</span>
                    </dt>
                    <dd>{ups account number}</dd>
                    <dt>
                      <span class="label" for="">zip code:</span>
                    </dt>
                    <dd>{zip code}</dd>
                    <dt>
                      <span class="label" for="">country or territory:</span>
                    </dt>
                    <dd>{country or territory}</dd>
                </dl>

                -->

                <div class="row">
                  <div class="col-xs-5">
                    <p><strong>ups account number</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{ups account number}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>zip code</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{zip code}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>country or territory</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{country or territory}</p>
                  </div>
                </div>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: End part of re-design   -->
                <!-- ************************************** -->

                <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
              {{/if}}

              {{#if payment_info.cc }}
                <h4>Bill to:</h4>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!--

                <dl role="presentation" class="outHozFixed clearfix">
                    <dt>
                      <span class="label" for="">Payment Card Type:</span>
                    </dt>
                    <dd>{dynamic payment card type}</dd>
                    <dt>
                      <span class="label" for="">payment card number:</span>
                    </dt>
                    <dd>{dynamic XXXX-XXXX-XXXX-NNNN}</dd>
                    <dt>
                      <span class="label" for="">expiration</span>
                    </dt>
                    <dd>{dynamic MM/YYYY}</dd>
                    <dt>
                      <span class="label" for="">cardholder name:</span>
                    </dt>
                    <dd>{dynamic cardholder name}</dd>
                </dl>

                -->

                <div class="row">
                  <div class="col-xs-5">
                    <p><strong>Payment Card Type</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{dynamic payment card type}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>payment card number</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{dynamic XXXX-XXXX-XXXX-NNNN}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>expiration</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{dynamic MM/YYYY}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>cardholder name</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{dynamic cardholder name}</p>
                  </div>
                </div>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: End part of re-design   -->
                <!-- ************************************** -->

                <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
              {{/if}}

              {{#if payment_info.receiver }}
                <h4>Bill to:</h4>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
                <!--

                <dl role="presentation" class="outHozFixed clearfix">
                    <dt>
                      <span class="label" for="">ups account number:</span>
                    </dt>
                    <dd>{ups account number}</dd>
                    <dt>
                      <span class="label" for="">zip code:</span>
                    </dt>
                    <dd>{zip code}</dd>
                    <dt>
                      <span class="label" for="">country or territory:</span>
                    </dt>
                    <dd>{country or territory}</dd>
                    <dt>
                      <span class="label" for="">{Receiver} UPS Account Number:</span>
                    </dt>
                    <dd>{Receiver or Third Party UPS Account Number}</dd>
                    <dt>
                      <span class="label" for="">{Receiver} ZIP Code:</span>
                    </dt>
                    <dd>{Receiver or Third Party ZIP Code}</dd>
                </dl>

                -->

                <div class="row">
                  <div class="col-xs-5">
                    <p><strong>ups account number</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{ups account number}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>zip code</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{zip code}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>country or territory</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{country or territory}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>{Receiver} UPS Account Number</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{Receiver or Third Party UPS Account Number}</p>
                  </div>

                  <div class="col-xs-5">
                    <p><strong>{Receiver} ZIP Code</strong></p>
                  </div>
                  <div class="col-xs-7">
                    <p>{Receiver or Third Party ZIP Code}</p>
                  </div>
                </div>

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: End part of re-design   -->
                <!-- ************************************** -->

                <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
              {{/if}}

              {{#if payment_info.cash }}
                <p>Customer selected {cash}. The UPS driver will collect your funds at time of pickup.</p>
                <p>The shipper has paid all fees related to pickup. No payment is required for pickup.</p>
              {{/if}}

              {{#if payment_info.ww_express }}
                <h4>Bill to:</h4>
                <p><strong>Note:</strong> Pickup charges are included in the UPS Worldwide Express Freight&#8480; service fees. If you do not already have shipping labels then transportation charges will still apply when shipping labels are generated.</p>
              {{/if}}

            </div>

            <!-- End Section Body -->

            <!-- Begin Section Footer --><!-- End Section Footer -->

          </div>


        <!-- End Section Module -->

        <!-- Begin Section Module -->


          <div class="secLvl step">

            <!-- Begin Header Bar -->

            <div class="secHead clearfix">
              <h3>total fees</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">

              <!-- ************************************** -->
              <!-- REDESIGN EDIT: Start part of re-design -->
              <!-- ************************************** -->
              <!--

              <dl role="presentation" class="outHozLedger group">
                <dt>
                  <span class="label total" for="">total charge pickup:</span>
                  &nbsp;

                  <!--<a href="repl_href" class="btnlnkL expandIcon">Show Support Link</a>->

                  <a href="repl_href" class="btnlnkL collapseIcon noPrint">Show Pickup Fee Details</a></dt>
                <dd>NN.NN USD</dd>
              </dl>

              <!-- Begin 5.4.1 / 5.4.2 Total Fee - Details Displayed -->

              <!-- Begin 9.4.1 / 9.4.2 Total Fee - Details Displayed ->

              <dl role="presentation" class="outHozLedger indent">
                <dt>
                  pickup fee detail (Placeholder)
                </dt>
                <dd>NN.NN USD</dd>
                <dt>
                  pickup fee detail (Placeholder)
                </dt>
                <dd>NN.NN USD</dd>
                <dt>
                  pickup fee detail (Placeholder)
                </dt>
                <dd>NN.NN USD</dd>
                <dt>
                  pickup fee detail (Placeholder)
                </dt>
                <dd>NN.NN USD</dd>
              </dl>
              <div class="clear"></div>

              <!-- END 9.4.1 / 9.4.2 Total Fee - Details Displayed -->

              <!-- END 5.4.1 / 5.4.2 Total Fee - Details Displayed ->

              <dl role="presentation" class="outHozLedger">
                <dt>
                  <span class="label" for="">total charge shipment:</span>
                </dt>
                <dd>NN.NN USD</dd>
                <dt>
                  <span class="label" for="">total ups charges:</span>
                </dt>
                <dd>NN.NN USD</dd>
                <dt>
                  <span class="label" for="">total charge taxes:</span>
                </dt>
                <dd>NN.NN USD</dd>
                <dt class="indent">
                  tax 1
                </dt>
                <dd>NN.NN USD</dd>
                <dt class="indent">
                  tax 2
                </dt>
                <dd>NN.NN USD</dd>
                <dt class="indent">
                  tax 3
                </dt>
                <dd>NN.NN USD</dd>
                <p>
                  <strong>You're saving money with a discount.</strong>
                </p>
                </dl>
                <dl role="presentation" class="outHozLedger totals">
                <dt>
                  <span class="label" for="">{dynamic total charges}:</span>
                </dt>
                <dd>NN.NN USD</dd>
              </dl>

            -->

            <div class="ups-group ups-group_condensed">
              <p class="ups-group_label">
                total charge pickup
                <span class="indent">
                  <a href="#">Show Pickup Fee Details</a>
                  <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
                </span>
                <span class="pull-right">NN.NN USD</span>
              </p>
              <p class="indent">pickup fee detail (Placeholder) <span class="pull-right">NN.NN USD</span></p>
              <p class="indent">pickup fee detail (Placeholder) <span class="pull-right">NN.NN USD</span></p>
              <p class="indent">pickup fee detail (Placeholder) <span class="pull-right">NN.NN USD</span></p>
              <p class="indent">pickup fee detail (Placeholder) <span class="pull-right">NN.NN USD</span></p>
            </div>

            <p><strong>total charge shipment</strong> <span class="pull-right">NN.NN USD</span></p>

            <p><strong>total ups charges</strong> <span class="pull-right">NN.NN USD</span></p>

            <div class="ups-group ups-group_condensed">
              <p class="ups-group_label">total charge taxes</p>
              <p class="indent">tax 1 <span class="pull-right">NN.NN USD</span></p>
              <p class="indent">tax 2 <span class="pull-right">NN.NN USD</span></p>
              <p class="indent">tax 3 <span class="pull-right">NN.NN USD</span></p>
            </div>

            <p><strong>You're saving money with a discount.</strong></p>

            <p><strong>{dynamic total charges}</strong> <span class="pull-right"><strong>NN.NN USD</strong></span></p>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            </div>

            <!-- End Section Body -->

            <!-- Begin Section Footer --><!-- End Section Footer -->

          </div>


        <p><strong>Note:</strong> This is not an invoice. Your final invoice may vary from the displayed charges.</p>
        <!-- End Section Module -->

      </div>

      <!-- End Application Body -->

      <!-- Begin Application Footer -->

      <div class="appFooter">

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <!-- Begin Button Bar Row ->

        <div class="btnBar">
          <input name="repl_name" type="button" value="{Back}" class="btnBackArw">
          <input name="repl_name" type="button" value="{Cancel}" class="btn">
          <input name="Input" type="submit" value="{Next}" class="btnArw">
        </div>

        <!-- End Button Bar Row -->

        <div class="ups-form_ctaGroup">
          <button type="button" class="ups-cta ups-cta_tertiary">Back</button>
          <button type="submit" class="ups-cta ups-cta_primary">Next</button>
          <button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
        </div>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

      </div>

      <!-- End Application Footer -->

  </div>

  <!-- End Application Module -->
