<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
            <h1>log in</h1>

                <!-- Begin Application Module -->
                <div class="appLvl mod col18 clearfix">
                <fieldset><legend></legend>
                    <p class="group">welcome to ups campusship. to begin, please enter your user id.</p>
                    <p><strong>note:</strong> user ids are case sensitive.</p>

                    <!-- Begin Application Header -->
                    <div class="appHead clearfix">
                        <h2>returning users</h2>
                    </div>
                    <!-- End Application Header -->

                    <!-- Begin Application Body -->
                    <div class="appBody clearfix">
                    <p>you indicated that the image shown does not match the image associated with your user id.</p>
                    <fieldset><legend></legend>
                        <dl class="group">
                            <dt><label for="">{ user id }:</label></dt>
                            <dd>johnups1</dd>
                        </dl>
                        <p><a href="">re-enter user id</a></label></p>

                        <p>please complete one of the following:</p>
                        <ul class="lstBullet">
                            <li>if your user id is not correct, re-enter your user id.</b></li>
                            <li>if your user id is correct and the image displayed is not your image, do not provide your password. instead, open a new browser window, go to www.ups.com and log in again.</li>
                            <li>if you are concerned about the security of this device, please <a href="repl_href">contact ups</a>.</li>
                        </ul>

                    </fieldset>
                    </div>
                    <!-- End Application Body -->

                </fieldset>
                </div>
                <!-- End Application Module -->

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
