<form action="">
	<!-- ECS C-Clamp -->

	<div id="main">
		<div class="appLvl mod col18">
			<div class="appHead clearfix">
				<h2>Create Clinical Trial</h2>
			</div>
			<div class="appBody clearfix">
			<div class="secLvl clearfix">
				<div class="secBody noHead clearfix">
					<p>clinical trial
						<label>Clinical trial ID</label>
						-
						<label>Clinical Trial Description</label>
						successfully created.</p>
					<p>you now have the option to assign investigative clinics or sites to this clinical trial.  to assign locations, select the <strong>assign investigative sites</strong> link.</p>
				<p class="indent"> <a href="">Assign ivestigative sites</a> </p>
					<p>Or you may now:</p>
					<p class="indent"> <a href="">Create another clinical trial</a> </p>
				</div>
			</div>
		</div>
	</div>
	</div>
</form>
