<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>change password</h1>

		<!-- Begin Application -->

<!-- /////////////////////////////// -->
<!-- Begin Password Update Cancelled -->

		<!-- Begin Application Module -->
				<div class="appLvl mod col18 clearfix">
				<fieldset><legend></legend>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>password update</h2>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">

						<p class="error">error message.</p>
						<p><label>please select a new password. your password is case sensitive and will be effective immediately.</label></p>

					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="continue_btn" class="btnArw">
						</div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
		<!-- End Application Module -->

<!-- End Password Update Cancelled -->
<!-- ///////////////////////////// -->

		<!-- End Application -->
	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
