{{#if non_us}}
<div class="ups-text_scroll">
    <div class="ups-group">
        <p>UPS Technology Agreement</p>
        <p>[PUT UTA CONTENT HERE]</p>
    </div>

    <div class="ups-group">
        <p>UPS My Choice Service Terms</p>
        <p>[PUT MY CHOICE SERVICE TERMS CONTENT HERE]</p>
    </div>
</div>
{{/if}}

<div class="ups-form_group">
    <div class="ups-checkbox ups-input_wrapper">
        <input check-verify="" id="ups-offers_checkbox_non-US" class="ups-checkbox-custom" name="ups-offers_checkbox" value="1" type="checkbox">
        <label for="ups-offers_checkbox_non-US" class="ups-form_label ups-checkbox-custom-label">
            I agree to the UPS Technology Agreement and the UPS My Choice&reg; Terms and confirm I've been given enough time to read these agreements and the UPS Privacy Notice. I understand the agreements contain important terms about my use of UPS Technologies and the UPS My Choice service, like limiting UPS's liability and my agreement on how disputes between UPS and me will be handled, and the UPS Privacy Notice describes how UPS will collect and use my information.{{#if 14_day_withdrawal}} Since I'd like immediate access to UPS Technologies and the UPS My Choice Service, I waive my right to a 14-day period from withdrawal from the UPS Technology Agreement.{{/if}}
            <span class="ups-required_indicator" aria-hidden="true"></span>
        </label>
    </div>
</div>
<div class="ups-group">
<p><a href="#" class="ups-link ups-new-window">Download the UPS Technology Agreement <span class="ups-readerTxt">will open in a new window</span> <span class=" icon ups-icon-newwindow" target="_blank" aria-hidden="true"></span></a></p>

<p><a href="#" class="ups-link ups-new-window">Download the UPS My Choice&reg; Terms <span class="ups-readerTxt">will open in a new window</span><span class=" icon ups-icon-newwindow" aria-hidden="true" target="_blank" ></span></a></p>

<p><a href="#" class="ups-link ups-new-window">Read Our Privacy Policy <span class="ups-readerTxt">will open in a new window</span><span class=" icon ups-icon-newwindow" aria-hidden="true" target="_blank" ></span></a></p>
</div>

<!-- begin button group -->
<div class="ups-form_ctaGroup{{#if modal}} text-center{{/if}}"> 
	{{#each button}}
    <button type="{{button_type}}" class="ups-cta ups-cta_{{button_class}}">{{button_copy}}</button>
    {{/each}}
</div>
<!-- end button group -->
