<div class="ups-cms-demo ups-content-wrapper"
	data-ng-controller='OpenAccountFailCtrl'>
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button type="button" data-ng-click="FailModal('defaultFail')"
            class="ups-cta ups-cta_primary">Fail - Sent Info to UPS - Default</button>
        Open Account Fail- Sent Info to Ups - Default
    </div>
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button type="button" data-ng-click="FailModal('EU')"
            class="ups-cta ups-cta_primary">Fail-EU</button>
        Open Account Fail- Sent Info to Ups - EU
    </div>
	 <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button type="button" data-ng-click="FailModal('ContactUPS')"
            class="ups-cta ups-cta_primary">Fail_Contact-UPS</button>
        Open Account Fail- Contact Ups
    </div>
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button type="button" data-ng-click="FailModal('BillingSystem')"
            class="ups-cta ups-cta_primary">Fail_Billing-System</button>
        Open Account Fail- Billing System Failure
    </div>
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button type="button" data-ng-click="FailModal('BillingAddress')"
            class="ups-cta ups-cta_primary">Fail_Billing-Address</button>
        Open Account Fail- Billing Address Problem
    </div>
</div>