<div class="ups-cms-demo">
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('us', 'us-submit')" type="button"
            class="ups-cta ups-cta_primary">US / Submit Success</button>
        <span>Shows the US resident Form with successful submission</span>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('nonus', 'nonus-submit')"
            type="button" class="ups-cta ups-cta_primary">NON-US /
            Submit Success</button>
        <span>Shows the Non-US resident Form with successful
            submission</span>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('eu', 'nonus-submit')"
            type="button" class="ups-cta ups-cta_primary">EU Countries /
            Submit Success</button>
        <span>Shows the EU countries resident Form with successful
            submission</span>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('us-fail', 'us-fail')"
            type="button" class="ups-cta ups-cta_primary">US / Submit
            Failed</button>
        <span>Shows the US resident Form with unsuccessful submission</span>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('nonus-fail', 'non-fail')"
            type="button" class="ups-cta ups-cta_primary">NON-US /
            Submit Failed</button>
        <span>Shows the Non-US resident Form with unsuccessful
            submission</span>
    </div>
    <br>
	 <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('onboardingFlowSignUp', 'us', 'us-submit')"
            type="button" class="ups-cta ups-cta_primary">Sign up is First Step of Onboarding Flow</button>
        <span>Default Sign Up Page with NEXT button instead of Sign Up Button</span>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('uid', 'uid-success')"
            type="button" class="ups-cta ups-cta_primary">Success User
            ID</button>
        <span>Shows the Form with User ID hints</span>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('social', 'social-success')"
            type="button" class="ups-cta ups-cta_primary">Social
            Success</button>
        <span>Shows the successful User signing in using Social Media</span>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('social-fail', 'socialfail')"
            type="button" class="ups-cta ups-cta_primary">Social Fail
        </button>
        <span>Shows the unsuccessful User signing in using Social
            Media</span>
    </div>
	<br>
	<div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('nonUniqueEmail')"
            type="button" class="ups-cta ups-cta_primary">Non-unique Email
        </button>
        <span>Shows when a user enters an email address that is not unique</span>
    </div>

    <!-- ups-form_ctaGroup -->
</div>