<div class="ups-cms-demo ups-enter_address ups-doa-wrap">
<!-- //// begin ups.doa-address //// -->
    <!-- MY CHOICE ADDRESS PAGE -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('us')" type="button"
            class="ups-cta ups-cta_primary">Default/US</button>
        <span>Enter Default Address Form </span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('myChoiceAddress')"
            type="button" class="ups-cta ups-cta_primary">My Choice Address with Promo Code Input.</button>
        <span>Enter My Choice Address Form with Promo Code Field</span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('promoError')"
            type="button" class="ups-cta ups-cta_primary">US/Promo
            Code Error</button>
        <span>Enter Address Form with Promo Code error</span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('nonus')" type="button"
            class="ups-cta ups-cta_primary">Non-US/My Choice Address/No Promo-Code</button>
        <span>Enter Non US My Choice Address Form with no Promo Code input box</span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('addresserror')"
            type="button" class="ups-cta ups-cta_primary">Enter
            My Choice - Non-Resi./Institutional Address Errors</button>
        <span>Enter My Choice Address Form w/ Institutional Address Errors (User Enters Non-Resi. Address)</span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('regionalLevel')"
            type="button" class="ups-cta ups-cta_primary">Enter
            Address/Regional Level Error</button>
        <span>Enter Address Form with Regional Level Error</span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('pickup')" type="button"
            class="ups-cta ups-cta_primary">Pickup</button>
        <span>Enter Pickup Address Form </span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('non-us-geo')" type="button"
            class="ups-cta ups-cta_primary">Non-US with Geo-Political Subdivision 2</button>
        <span>Enter Non-US Address Form with Geo-Political Subdivision </span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('non-us-no-geo')" type="button"
            class="ups-cta ups-cta_primary">Non-US with No Geo-Political Subdivision 2</button>
        <span>Enter Non-US Address Form with Geo-Political Subdivision </span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('streetLevel')"
            type="button" class="ups-cta ups-cta_primary">Enter
            Address/Street Level Error</button>
        <span>Enter Address Form with Street Level Error</span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('chooseAddress')"
            type="button" class="ups-cta ups-cta_primary">US/Choose
            Address</button>
        <span>Opens the Choose address dialog</span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('noRecordsChooseAddress')"
            type="button" class="ups-cta ups-cta_primary">US/Choose
            Address/No Records</button>
        <span>Skips the Choose address dialog and jumps to Address Dialog as no records available</span>
    </div>
    <br />
    <!-- ups-form_ctaGroup -->
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleAddressModal('homePhone')"
            type="button" class="ups-cta ups-cta_primary">Home Phone</button>
        <span>Shows the Home Phone flow</span>
    </div>
    <!-- ups-form_ctaGroup -->
<!-- //// end ups.doa-address //// -->
</div>
