<form name="ups_passwordConfirm" class="ups-confirm_password"
	error-on-submit novalidate>
	<!-- //// begin ups.doa-newPasswordModal //// -->
	<h3>
		<span class="ups-invalid_color ups-icon-exclamation"
			id="otpNumber-error" 
            data-ng-if="isType==='error'"
            aria-hidden="true" >To
			continue enter password. </span>
	</h3>

	<div class="ups-introductory-text" data-ng-if="!onConfirm">
        <p>
            <em>
                <span aria-hidden="true">*</span>
                <span class="ups-readerTxt">Required</span>
                Indicates required field
            </em>
        </p>
	</div>
	
    <div class="row">
		<div class="col-md-5">
			<div class="ups-form_group ups-form_required ups-form_popover ups-form_user_password">
				<label for="ups-user_password_input" class="ups-form_label">
                	Password
                    <span aria-hidden="true" class="ups-required_indicator"></span>
                </label>
				<div class="ups-text_wrapper ups-input_wrapper ups-show_password_wrapper "
					data-errormsg="This field is required">
					<input error-on-blur 
                    	focus-on-error 
                        type="password"
						name="password_input" 
                        class="ups-form_input ups-long_password"
						id="ups-user_password_input"
                        title=""
                        maxlength="26" 
						data-ng-model="formObj.password" 
                        aria-required="true" 
                        required > 
                    <span class="ups-invalid_color"
						data-ng-show="!ups_passwordConfirm.password_input.$pristine && ups_passwordConfirm.password_input.$invalid" role="alert">
						<span class="icon ups-error_exclamation"><span class="ups-icon-exclamation" aria-hidden="true"></span></span> 
                        <span class="ups-readerTxt">Invalid</span> 
                        <span data-ng-show="ups_passwordConfirm.password_input.$error.required">This field is required.</span>
					</span>
					<button type="button" 
                    	id="showButton"
						class="ups-cta ups-cta_secondary ups-questions_showhide"
                        value="Show"
						data-ng-click="showHide($event)" 
						aria-describedby="ups-show-hide-text">Show</button>	
					<span id="ups-show-hide-text" class="ups-readerTxt">password in plain text</span>
					<div data-ng-if="(ups_passwordConfirm.password_input.$valid)">
						<span class="ups-icon-check" aria-hidden="true"></span>
						<!-- @Note: screen reader text needs to be translated as well -->
						<span class="ups-readerTxt">Check</span>
					</div>
				</div>
				<!-- ups-text_wrapper ups-input_wrapper -->
			</div>
		</div>
	</div>

	<div class="text-center ups-form_ctaGroup">
        <button type="submit" class="ups-cta ups-cta_primary"
            data-ng-click="Continue()">Continue</button>
        <button type="submit" class="ups-cta ups-cta_secondary  "
            data-dismiss="modal" data-ng-click="ModalService.dismiss()">Cancel</button>
	</div>
	<!-- //// end ups.doa-newPasswordModal //// -->
</form>
