<div class="ups-cms-demo ups-modal-container" data-ng-controller="OpenAccountCtrl">
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="PromoModal()" type="button"
            class="ups-cta ups-cta_primary">Open Account -Promo</button>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="promoConflictCode('default')" type="button"
            class="ups-cta ups-cta_primary">Promo Conflict Dialog default</button>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="promoConflictCode('keepcurrent')" type="button"
            class="ups-cta ups-cta_primary">Promo Conflict Dialog keep current</button>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="promoConflictCode('new')" type="button"
            class="ups-cta ups-cta_primary">Promo Conflict Dialog New</button>
    </div>
</div>