
<div class="ups-cms-demo ups-content-wrapper">
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup">
        <button data-ng-click="toggleModal('us')" type="button"
            class="ups-cta ups-cta_primary">Account Options/US and PR</button>
        <span>Shows Choose Your Account Options Flow for US/PR</span>
    </div>
    <br>
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup">
        <button data-ng-click="toggleModal('ca')" type="button"
            class="ups-cta ups-cta_primary">Account Options/CA</button>
        <span>Shows Choose Your Account Options Flow for CA</span>
    </div>
    <br>
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup">
        <button data-ng-click="toggleModal('eu')" type="button"
            class="ups-cta ups-cta_primary">Account Options/EU/APAC</button>
        <span>Shows Choose Your Account Options Flow for EU/APAC</span>
    </div>
    <br>
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup">
        <button data-ng-click="toggleModal('other')" type="button"
            class="ups-cta ups-cta_primary">Account Options/Non
            US/CA/PR</button>
        <span>Shows Choose Your Account Options Flow for Non US/CA/PR</span>
    </div>
    <br>
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup">
        <button data-ng-click="toggleModal('promo')" type="button"
            class="ups-cta ups-cta_primary">Account Options Promo</button>
        <span>Shows Choose Your Account Options Flow for When User Opens Account When Adding a Promo Discount</span>
    </div>
</div>
