<div data-ng-controller="MyAvailabilityCtrl" class="ups-my-availability">
	<!-- //// begin ups.doa-myavailabilityModal //// -->
    <!-- MY AVAILABILITY CONTENT -->
	<div class="ups-introductory-text">
		<p>We're growing our network, and certain options may not yet be
			available in your area.</p>

		<p>
            <em>
                <span aria-hidden="true">*</span>
                <span class="ups-readerTxt">Required</span>
                Indicates required field
            </em>
        </p>
	</div>
    
	<form name="availabilityForm" error-on-submit novalidate>

		<h3 class="ups-error_alert">
			<span class=" ups-invalid_color ups-icon-exclamation" aria-hidden="true">Please correct the following errors </span>
		</h3>

		<div class="row">
			<div class="col-md-5">
				<div class="ups-form_group ups-form_required">
					<label for="ups-country_select" class="ups-form_label">
                    	Country
                        <span aria-hidden="true" class="ups-required_indicator"></span>
                    </label>
					<div class="ups-dropdown_wrapper ups-input_wrapper">
						<select error-on-blur
                            name="select" 
                            class="ups-dropdown" 
                            id="ups-country_select"
							data-ng-model="checkObj.country"
                            data-ng-class="{'ups-bodError':(availabilityForm.country.$invalid && clicked)}"
							data-ng-change="clearPostalCode()" 
                            aria-required="true" 
                            required>
                            <option value="">Select One</option>
							<option data-ng-repeat="countries in countryList"
								value="{{countries.code}}">{{countries.country}}</option>
						</select>
                        <span class="ups-invalid_color"
                              data-ng-show="(!availabilityForm.country.$pristine && availabilityForm.country.$invalid)||(availabilityForm.country.$invalid && clicked)" role="alert">
							 <span class="icon ups-error_exclamation"><span class=" ups-icon-exclamation" aria-hidden="true"></span></span>
							<span data-ng-if="setUS"
                                  data-ng-show="ups_Cardform.state.$error.required">Country is
								required.</span>
						</span>
					</div>
					<!-- ups-dropdown_wrapper ups-input_wrapper -->
				</div>
				
                <div class="ups-form_group ups-form_required ups-myChoice-postalDiv">
					<label for="ups-postal_input" class="ups-form_label">
                    	Postal Code
                        <span aria-hidden="true" class="ups-required_indicator"></span>
                    </label>
					<div class="ups-text_wrapper ups-input_wrapper"
						data-errormsg="This field is required">
						<input name="postalCode" 
                            id="ups-postal_input" 
                        	error-on-blur type="text"
                            class="ups-form_input"
							maxlength="15" 
							data-ng-model="checkObj.postalcode"
							data-ng-model-options="{updateOn: 'blur'}"
							data-ng-pattern="/^[a-zA-Z0-9]+$/"
							aria-describedby="postalCode-error" 
                            aria-required="true"
                            required> 
                        <span id="postalCode-error" role="alert">
                        	<span class="ups-invalid_color" data-ng-if="!availabilityForm.postalCode.$pristine && availabilityForm.postalCode.$invalid">
								<span class="icon ups-error_exclamation"><span class="ups-icon-exclamation" aria-hidden="true"></span></span>
								<span data-ng-show="availabilityForm.postalCode.$error.required">Postal Code is required.</span> 
                                <span data-ng-show="!availabilityForm.postalCode.$error.required && !ups_editaddressform.postalCode.$error.maxLength">Invalid Postal Code.</span> 
                                <span data-ng-show="ups_editaddressform.postalCode.$error.maxLength">Max length can be 15.</span>
							</span> 
                            <span class="ups-invalid_color" data-ng-show="checkObj.postalcode && !isValid && inlineError">
                            	<span class="icon ups-error_exclamation"><span class="ups-icon-exclamation" aria-hidden="true"></span></span>
								{{inlineError}}
                            </span>
							<span data-ng-if="availabilityForm.postalCode.$valid && availabilityForm.postalCode.$dirty && !inlineError" >
								<span class="ups-readerTxt">Check</span>
							</span>
						</span>
						<div data-ng-if="(availabilityForm.postalCode.$valid && availabilityForm.postalCode.$dirty && !inlineError)">
							<span class="ups-icon-check" aria-hidden="true"></span>
							<span class="ups-readerTxt">Check</span>
						</div>
					</div>
				</div>
                
				<button type="submit" 
                	class="ups-cta ups-cta_primary "
					data-ng-click="checkPostalCode()"
					data-ng-disabled="!checkObj.postalcode">Check</button>
			</div>
		</div>
		
        <div class="ups-error-message"
			data-ng-if="message" 
			data-ng-class="{'ups-myChoice-validClass': isValid, 'ups-myChoice-errorClass':!isValid}"
            aria-describedby="ups-mychoice-pc-error">
			<span id="ups-mychoice-pc-error" tabindex="0"> 
            	<strong>Available?</strong>
				<span data-ng-class="{'ups-invalid_color': !isValid, 'ups-check': isValid}">{{message}}</span>
			</span>
		</div>

		<div class="ups-form_ctaGroup text-center">
            <button class="ups-cta ups-cta_tertiary"
                data-ng-click="ModalService.back()">Back</button>
            <button type="submit" class="ups-cta ups-cta_primary "
                data-ng-click="submitForm(availabilityForm.$valid, isNext)"
                data-dismiss="{{!isNext?'modal':''}}">{{isNext?"Next":"Done"}}</button>
            <button type="submit" class="ups-cta ups-cta_secondary"
                data-ng-click="ModalService.dismiss()">Cancel</button>
		</div>
		<!-- ups-form_ctaGroup -->
	</form>
	<!-- //// end ups.doa-myavailabilityModal //// -->
</div>
