@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
    span.blueboldhead {
        a {
            font : {
                family: $sans-bd;
                weight: normal;
                size: 14px;
            }
        }
    }

    .appHead.clearfix {
        border-bottom: none;
    }

    tr {
        background-color: $white;
    }

    a.white {
        span.white {
            color: $black_s4 !important;
            font : {
                family: $sans-bd;
            }

            &:hover, &:focus {
                color: $black_s1 !important;
            }

            &:after {
                @include ups-iconFont("\e660");
                display: inline-block;
            }
        }
    }

    .appLvl.mod {
        input.btnlnkL {
            color: $black_s4;
            text-decoration: underline;
            margin: 0 0 15px;
            position: relative;
            font-family: $sans-bd;
            font-weight: normal;
            background-image: none;

            &:hover, &:focus {
                color: $black_s1;
            }
        }
        .secLvl {
            .secLvl.clearfix {
                border: none;
            }
        }
    }

    tr[valign="top"], td[valign="top"] {
        ~tr {
            td {
                padding: 5px 0;
            }
        }
    }

    .mod-line img {
        display: none;
    }



    .modpadarrow {
        a {
            padding-#{$default-float}: 14px;
            img {
                display: none;
            }
            &:before {
                @include ups-iconFont("\e60f");
                display: inline-block;
            }
        }
    }

    a[href="#top"] {
        &:before {
            @include ups-iconFont("\e618");
            display: inline-block;
        }
    }

    img[src="/img/icn_back_top.gif"] {
        display: none;
    }

    .mod-line {
        background-color: $white;
    }

    td.modline {
        display: none;
    }

    table.mod-clr {
        border: 1px solid $black_s1;
        border-top: 0;
    }

    tr.mod-line {
        background-color: $black_s1;
        height: 1px;
    }

    td.mod-top-spc {
        padding: 0;
    }

    td.bold {
        font : {
            family: $sans-bd;
            weight: normal;
        }
        #{$default-float}: -15px;
        position: relative;
    }

    .tab-on{
        background: $white;
        border: 1px solid $black_s1;
        border-bottom: none;
        border-top: 5px solid;
        padding-bottom: 5px;
        z-index: 25;
        &:nth-child(4n+1) {
            border-top-color: $ups_sun;
        }
        &:nth-child(4n+2) {
            border-top-color: $ups_sky;
        }
        &:nth-child(4n+3) {
            border-top-color: $ups_gold;
        }
        &:nth-child(4n+4) {
            border-top-color: $ups_grass;
        }
    }

    .tab-off {
        background: $white;
        border: 1px solid $black_s1;
        a {
            font-family: $sans;
        }
    }

    table[border="2"] {
        border: 1px solid $black_s1;
    }

    img[alt="Help"] {
        display: none;
    }


    input[name="cancel"] {
        margin-#{$opposite-direction}: 5px;
    }

    #tabHeader ul {
        margin:0px;
        padding:0px;
        list-style:none;
        overflow:none;
        position:relative;
        bottom:-1px;
    }
.mod-line {
    background-color:transparent;
}
    //table {
      //  border:1px solid #6e6e6e;
        // Impacting other pages - check 311327
        // .mod-clr {
        //     display:none;
        // }
    //}

#multiPackage table:nth-child(4)  , #multiPackage table.modcolor:nth-child(5) , #multiPackage .modbordercolor{
    border-#{$default-float}: 1px solid #6e6e6e;
    border-#{$opposite-direction}: 1px solid #6e6e6e;
}
#multiPackage table:nth-child(4) tr:first-child {
    display:none
}

/*.cobrand {width:566px; border-#{$default-float}: 1px solid #6e6e6e;
    border-#{$opposite-direction}: 1px solid #6e6e6e;
    border-bottom: 1px solid #6e6e6e;
    margin-bottom: 10px;}*/

   .instrpad {
       padding:0px 8px;
   }

}
#TermsAndConditionsScreen > table:first-of-type {
    margin-bottom: 20px;
}

p.MsoBodyText {margin-#{$default-float}:20px}
#main .tab-on:nth-child(4n+2) {
    border-top-color: #f68b20!important;
}

#main table {width:100%}

#SearchForm img {display:none}
#SearchForm {padding:10px;margin-top:10px}
#SearchForm {padding:10px;margin-top:10px}
.whiteBoldHead {white-space: nowrap;}

#main img[src="/img/xln_333366.gif"],
#main img[src="/img/xln_996633.gif"],
#main img[src="/img/xln_cccccc.gif"]
{
    display:none;
}

form[name="mainPageForm"] {
    input[name="emailNotificationAddress"],
    input[name="emailAddress1"],
    input[name="emailAddress2"],
    #preferredADLEmailFailureNotification {
        max-width: 340px;
    }
}
.requiredIcon {
    background-image: url(/img/icn_cmp_linkblue.gif);
    background-repeat: no-repeat;
    background-position: -3px -2346px;
}

#main #EditShippingPrivsScreen , #main form#CreateShippingPrivsScreen{
    table {
        width:auto;
    }
}

input[name="csbean.phoneExt"] , input[name="usersbean.phoneExt"] {width:55px}