@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#ccCntMod {
    width: 876px;
    .pg-head {
        font-size: 2em;
        font-family: Georgia, Times, serif;
        font-weight: normal;
    }
    .head-colFull,.introMod{
        padding: 0 $margin_3;
        h2,p {
            padding: 0;
        }
        p{
            margin-bottom: $margin_2;
        }
    }
    #optionsHideBtn, #optionsShowBtn {
        margin: 5px 0 0 15px;
        padding-#{$default-float}: 17px;
    }

    input.btn_a {
        border: none;
        margin: 0;
        padding: 0 15px;
        color: #fff;
        background: #008369;
        font: 1em/35px "BerlingskeSans", Tahoma, helvetica, arial, sans-serif;
        height: 35px;
    }

    .stepModFixed4col,.stepModFlex {
        margin: 0 $margin_3 $margin_3;
        table.dataTable {
            border: 1px solid #908474;
        }
    }
    .btn-bar {
        padding: $margin_3;
        .btn-col4 {
            float: $opposite-direction;
        }
    }
    #step-1 .stepModHead, #step-2 .stepModHead, #step-3 .stepModHead, #step-4 .stepModHead, #step-5 .stepModHead, #step-6 .stepModHead  {
        &:before {
            content: '1.';
            margin: 0;
            font-family: serif;
            line-height: 1.1;
            font-size: 1.5em;
            color: #fff;
            padding: 0;
            font-weight: bold;
            float: $default-float;
            margin: 0px 15px 0 0;
        }
    }
    #step-2 .stepModHead:before {
        content:'2.'
    }

    #step-3 .stepModHead:before {
        content:'3.'
    }

    #step-4 .stepModHead:before {
        content:'4.'
    }

    #step-5 .stepModHead:before {
        content:'5.'
    }

    #step-6 .stepModHead:before {
        content:'6.'
    }


    .helpmini {
        background-image: url(/assets/resources/images/appCSSImages/help_icon.png);
    }

    .plusmini{
        background-position: 0 -26px;
    }
    .minusMini{
        background-position: 0 -59px;
    }
}
