<form action="repl_faction">

	<!-- Begin Header Table -->
	<table cellspacing="0" cellpadding="0" width="566" border="0">
		<tbody>
			<tr>
				<td class="pi-h1" valign="top">UPS TradeAbility<sup>®</sup> Internationale Tools </td>
			</tr>
		</tbody>
	</table>
	<!-- End Header Table -->

	<!-- Begin Body Table -->
	<table cellspacing="0" cellpadding="0" width="566" border="0">
		<tbody>
			<tr>
				<td valign="top" width="422"><table cellspacing="0" cellpadding="0" width="100%" border="0">
						<tbody>
							<tr>
								<td class="pi-mA1-t" valign="top"><table cellspacing="0" cellpadding="0" width="422" border="0">
										<tbody>
											<tr>
												<td class="pi-m-txt-title">UPS TradeAbility Sprachhinweise</td>
											</tr>
										</tbody>
									</table></td>
							</tr>
							<tr>
								<td class="pi-mA1-c-t-spc"><img height="1" alt="" src="/img/1.gif" width="1" border="0"></td>
							</tr>
							<tr>
								<td class="pi-mA1-c" valign="top"><table cellspacing="0" cellpadding="0" width="100%" border="0">
										<tbody>
											<tr>
												<td><div class="pi-m-pad">
														Beachten Sie bitte, dass alle UPS TradeAbility<sup>®</sup> Serviceoptionen und damit verbundene Inhalte derzeitig nur in Englisch verfügbar sind; die Navigation auf der linken Seite erscheint in der von Ihnen gewünschten Sprache. <br>
														<br>
														Mit TradeAbility können Sie Risiken im internationalen Handel minimieren, globale Lieferketten verbessern und Betriebskosten senken, indem Sie den Versand von Waren zeitgerecht, effizient und auftragsgenau steuern.<br>
														<br>
														Der TradeAbility Service beinhaltet:
														<ul>
															<li><span class="pi-h4">Denied Party Screener</span> - Suche nach gesperrten Handelspartnern und unter Handelsembargo stehenden Ländern.</li>
															<li><span class="pi-h4">Harmonizer</span> - Schnell und genau einen abgestimmten Produkttarif bestimmen und anwenden.</li>
															<li><span class="pi-h4">Landed Cost</span> - Versandkosten schätzen, inklusive aller Abgaben, Steuern und Transportgebühren. </li>
															<li><span class="pi-h4">Ausfuhrlizenzen</span> - Stellen Sie sicher, dass Ihre Sendung alle US-Ausfuhrbestimmungen, Verfahren, Tarife und Gesetze befolgt. </li>
															<li><span class="pi-h4">Import Compliance</span> - Stellen Sie sicher, dass Ihre Sendung mit den länderspezifischen Vorschriften, Verfahren, Tarifen und Gesetzen übereinstimmt.</li>
															<li><span class="pi-h4">Internationale Formulare</span> - Durchsuchen Sie eine Sammlung von Online- und Download-Unterlagen für Export- und Importsendungen. </li>
														</ul>
														<br>
														Um diese Nachricht in Zukunft nicht mehr anzuzeigen wählen Sie bitte die Option: <br>
														<input class="rad" type="checkbox" name="repl_name">
														&nbsp;Sprachhinweis zukünftig nicht mehr anzeigen. <br>
													</div></td>
											</tr>
										</tbody>
									</table></td>
							</tr>
							<tr>
								<td class="pi-mA1-c-b-spc"><img height="1" alt="" src="/img/1.gif" width="1" border="0"></td>
							</tr>
							<tr>
								<td class="pi-mA1-line"><img height="1" alt="" src="/img/1.gif" width="1" border="0"></td>
							</tr>
							<tr>
								<td class="pi-mA1-b" valign="top"><table cellspacing="0" cellpadding="0" width="422" border="0">
										<tbody>
											<tr>
												<td class="pi-m-button" nowrap="">
													<input name="repl_name" type="button" class="btn" value="Abbrechen">
													<input name="repl_name" type="submit" class="btnArw" value="Weiter"></td>
											</tr>
										</tbody>
									</table>
									<!-- End Table: Form Control Buttons(Parent:Module Table) --></td>
							</tr>
						</tbody>
					</table></td>
				<td width="10"><img height="1" alt="" src="/img/1.gif" width="10" border="0"></td>
				<td valign="top" width="134"><img height="1" alt="" src="/img/1.gif" width="134" border="0"></td>
			</tr>
		</tbody>
	</table>
	<!-- End Body Table -->

</form>
