<form action="" name="mainPageForm">
    <!-- Begin SubTabs -->
    <ul class="subTab clearfix">
        <li class="tab-on">Package</li>
        <li class="tab-off"><a href="repl_href">Freight</a></li>
    </ul>
    <!-- End SubTabs --> 
    
    <!-- USE Class="tab" for tab application display or use class="mod" for default application display --> 
    <!-- ECS no tabs, UIS Tabs --> 
    
    <!-- Begin Application Module --> 
    
    <!-- --> 
    <!-- If table data in the application page forces the module 
to a wider width then the c-clamp remove the "col18" setting --> 
    <!-- -->
    
    <div class="appLvl col18 tab"> 
        <!-- Begin Application Header -->
        <div class="appHead clearfix">
            <h2>Review your Shipment Details</h2>
            <ul>
                <li><a href="repl_href" class="btnlnkR helpiconR">Help</a></li>
            </ul>
        </div>
        <!-- End Application Header --> 
        <!-- Begin Application Body -->
        <div class="appBody clearfix">
            <p>Please review your shipping information for accuracy. Selet <strong>Edit</strong> to modify information.</p>
            
            <!-- Begin Section Module -->
            <div class="secLvl message"> 
                <!-- Begin Section Header --><!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody">
                    <p><b>Note:</b> you are currently creating a shipping ticket note paragraph.</p>
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- End Section Module --> 
            
            <!-- //////////////////////////////////////////////////////////// --> 
            <!-- //// Begin Panel 1 Address Info                         //// --> 
            <!-- //////////////////////////////////////////////////////////// --> 
            
            <!-- Begin Section Module -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">1</span> </div>
                    <h3>Address Information</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody inline4col clearfix">
                    <div class="floatBegin">
                        <dl role="presentation">
                            <dt> <span class="label">Ship To:</span> <a href="repl_href">Edit</a></dt>
                            <dd>
                                [Contact Name]<br>
                                [Company Name]<br>
                                [Address 1]<br>
                                [City, Other]<br>
                                [Country or Territory]<br>
                                Telephone: [Number]
                                <br><br>
                                <!-- Ship To - Address List --> 
                                Address <b>1</b> of <b>nn</b><br>
                                from [Distribution List Name]
                                <!-- END Ship To - Address List --> 
                            </dd>
                        </dl>
                    </div>
                    <!--** ER1401 Alternate Address **-->
                    <div class="floatBegin">
                        <dl role="presentation">
                            <dt> <span class="label">Alternate Address:</span> <a href="repl_href">Edit</a></dt>
                            <dd>[Contact Name]<br>
                                [Company Name]<br>
                                [Address 1]<br>
                                [City, Other]<br>
                                [Country or Territory]<br>
                                Telephone: [Number]<br>
                                Notifications:<br>
                                Receiver - [jsmith@email.com]<br>
                                Shipper - [jsmith@email.com]<br>
                                <br>
                            </dd>
                        </dl>
                    </div>
                    <!--** ER1401 Alternate Address **-->
                    <div class="floatBegin">
                        <dl role="presentation">
                            <dt> <span class="label">Ship From:</span> <a href="repl_href">Edit</a></dt>
                            <dd>[Contact Name]<br>
                                [Company Name]<br>
                                [Address 1]<br>
                                [City, Other]<br>
                                [Country or Territory]<br>
                                Telephone: [Number]<br>
                                <br>
                            </dd>
                        </dl>
                    </div>
                    <div class="floatBegin">
                        <dl role="presentation">
                            <dt> <span class="label">Return Address:</span> <a href="repl_href">Edit</a></dt>
                            <dd>[Contact Name]<br>
                                [Company Name]<br>
                                [Address 1]<br>
                                [City, Other]<br>
                                [Country or Territory]<br>
                                Telephone: [Number]<br>
                                <br>
                            </dd>
                        </dl>
                    </div>
                    <!-- Begin Section Body -->
                    
                    <div class="secLvl message clearfix">
                        <div class="secBody noHead">
                            <p><strong>Note:</strong> The selected UPS Access Point&trade; location may not be open when the shipment is scheduled for delivery and the service commit time may not be met.</p>
                        </div>
                        
                        <!-- End Section Body --> 
                    </div>
                    <!-- End Section Body --> 
                    <!-- Begin Section Module --> 
                    
                    <!-- Begin Section Header --><!-- End Section Header --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer --> 
                    
                    <!-- End Section Module --> 
                    <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                <!-- 13 --> 
            </div>
            
            <!-- //////////////////////////////////////////////////////////// --> 
            <!-- //// End Panel 1 Address Info                           //// --> 
            <!-- //// Begin Panel 2 Package Info                         //// --> 
            <!-- //////////////////////////////////////////////////////////// --> 
            
            <!-- Begin Section Module -->
            <div class="secLvl step tableonly"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                    <h3>Package Information</h3>
                    
                    <!-- Default (when either general or package information are shown alone in step2 module) -->
                    
                    <ul>
                        <li><a href="repl_href" class="btnlnkL editMini">Edit</a></li>
                    </ul>
                    
                    <!-- Default (when either general or package information are shown alone in step2 module) --> 
                    
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody"> 
                    
                    <!-- Package Information --> 
                    
                    <!-- Sub Level Module Container not need when Package Information shown alone --> 
                    
                    <!-- MUST add class(tableonly) at beginning of section module when Shipment Information is removed and table is display ALONE in secLvl div -->
                    
                    <table summary="repl_summary" title="repl_title" class="dataTable full">
                        <!--<caption>repl_caption</caption>-->
                        <tr>
                            <th class="alignCenter" scope="col">&nbsp;</th>
                            <th scope="col"><span class="label">Weight</span></th>
                            <th class="nowrap" scope="col"><span class="label">Dimensions/<br>
                                Packaging</span></th>
                            <th scope="col"><span class="label">Declared Value</span></th>
                            <th class="nowrap" scope="col"> <span class="label"> <a href="repl_href" class="btnlnkR helpIconR">Reference Numbers</a> </span> </th>
                        </tr>
                        <tr class="odd">
                            <td class="alignCenter" scope="row">1.</td>
                            <td class="nowrap">nn.n {lbs/kg}<br>
                                (00.0 lbs/kg billable)</td>
                            <td class="nowrap">ll x ww x hh in.<br>
                                [Packaging Type]</td>
                            <td class="nowrap">nn.nn USD</td>
                            <td>[Reference #1]</td>
                        </tr>
                        <tr>
                            <td class="alignCenter" scope="row">2.</td>
                            <td class="nowrap">nn.n {lbs/kg}<br>
                                (00.0 lbs/kg billable)</td>
                            <td class="nowrap">ll x ww x hh in.<br>
                                {Packaging Type}</td>
                            <td class="nowrap">nn.nn USD</td>
                            <td>[Reference #2]</td>
                        </tr>
                    </table>
                    
                    <!-- Default --> 
                    
                    <!-- END Package Information --> 
                    
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- End Section Module --> 
            
            <!-- //////////////////////////////////////////////////////////// --> 
            <!-- //// End Panel 2 Package Info                           //// --> 
            <!-- //// Begin Panel 2 Shipment/Package Info                //// --> 
            <!-- //////////////////////////////////////////////////////////// --> 
            
            <!-- Begin Section Module -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                    <h3>Shipment Information</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody"> 
                    
                    <!-- Sub Level Module Containers NEEDED when General Information and Shipment Information shown together --> 
                    
                    <!-- Shipment Information -->
                    
                    <div class="secLvl secLvlPlain"> 
                        <!-- Begin Sub Header -->
                        <div class="secHead clearfix">
                            <h4>General Shipment Information</h4>
                            <ul>
                                <li><a href="repl_href" class="btnlnkL editMini">Edit</a></li>
                            </ul>
                        </div>
                        <!-- End Sub Header --> 
                        
                        <!-- Begin Sub Body -->
                        <div class="secBody">
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">{Shipment/Actual} Weight:</span> </dt>
                                <dd>nn.n {lbs}{kg}</dd>
                            </dl>
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label"><a href="repl_href" class="btnlnkR helpIconR">Total Number of Pieces on all Pallets</a></span> </dt>
                                <dd>[00]</dd>
                            </dl>
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label"><a href="repl_href" class="btnlnkR helpIconR"> Total Billable Weight:</a></span> </dt>
                                <dd>nn.n {lbs}{kg}</dd>
                            </dl>
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Description of Goods:</span> </dt>
                                <dd>{Description of Goods}</dd>
                            </dl>
                            
                            <!-- Shipment Information - DE to EU Transborder GNIFC, Shipment Processing -->
                            
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Movement Reference Number:</span> </dt>
                                <dd>{Movement Reference Number}</dd>
                            </dl>
                            
                            <!-- Shipment Information - DE to FR EU Transborder, Shipment Processing -->
                            
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Shipment Declared Value:</span> </dt>
                                <dd>nn,nn eur</dd>
                            </dl>
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Number of Packages:</span> </dt>
                                <dd>n</dd>
                            </dl>
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Packaging Type:</span> </dt>
                                <dd>{Packaging Type}</dd>
                            </dl>
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Package Dimensions:</span> </dt>
                                <dd>[ll x ww x hh] [in.]</dd>
                            </dl>
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Number of Packages that are Large Packages:</span> </dt>
                                <dd>n</dd>
                            </dl>
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Number of Packages with Additional Handling:</span> </dt>
                                <dd>n</dd>
                            </dl>
                            
                            <!-- Shipment Information - DE to FR EU Transborder, Package Processing -->
                            
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">{Reference #1}:</span> </dt>
                                <dd>{Appropriation Number - NxNxNNxNN}</dd>
                                <dt> <span class="label">{Reference #2}:</span> </dt>
                                <dd>{FDA Product Code xNNNNxxNNN}</dd>
                            </dl>
                            
                            <!-- END Shipment Information - DE to FR EU Transborder, Package Processing -->
                            
                            <dl role="presentation" class="outHozFixed1 clearfix">
                                <dt> <span class="label">Other Options:</span> </dt>
                                <dd>Goods not in Free Circulation</dd>
                            </dl>
                            <div class="clear"> </div>
                            
                            <!-- END Shipment Information - DE to FR EU Transborder, Shipment Processing --> 
                            
                            <!-- END Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                            
                            <!-- start 7210 ER Jul12 -->
                            <h3>Account Enabled For:</h3>
                            <p>UPS Paperless<sup>SM</sup> Invoice</p>
                            <p>UPS Paperless NAFTA</p>
                            <p>UPS Paperless Packing List</p>
                            <p>UPS Paperless Document Upload</p>
                            <!-- end 7210 ER Jul12 --> 
                        </div>
                    </div>
                    <!-- END Shipment Information --> 
                    
                    <!-- Package Information --> 
                    
                    <!-- Begin Sub Module -->
                    <div class="secLvl secLvlPlain"> 
                        <!-- Begin Sub Header -->
                        <div class="secHead clearfix">
                            <h4>General Shipment Information</h4>
                            <ul>
                                <li><a href="repl_href" class="btnlnkL editMini">Edit</a></li>
                            </ul>
                        </div>
                        <!-- End Sub Header --> 
                        
                        <!-- Begin Sub Body -->
                        <div class="secBody">
                            <p>This shipment was started as a <a href="repl_href" class="btnlnkR helpIconR">density-based rated</a> freight shipment, please review the handling unit information displayed. To modify unit data, select the <strong>Back to Freight</strong> link.</p>
                            <p><strong>Note:</strong> some shipment detail does not transfer and will need to be re-entered in the freight screen.</p>
                            <dl role="presentation" class="outHozLedger clearfix">
                                <dt><strong>Handling Units in this Shipment</strong></dt>
                                <dd><a href="repl_href">&lt;Back to Freight</a></dd>
                            </dl>
                            <div class="clear"></div>
                            <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Number of<br>
                                            Handling Units:</th>
                                        <th scope="col">Handling Unit Type:</th>
                                        <th scope="col">Length</th>
                                        <th scope="col">Width</th>
                                        <th scope="col">Height</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd">
                                        <td scope="row">1</td>
                                        <td>[00]</td>
                                        <td>[Hand Unit Type]</td>
                                        <td>[00]</td>
                                        <td>[00]</td>
                                        <td>[00] [in]</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">2</td>
                                        <td>[00]</td>
                                        <td>[Hand Unit Type]</td>
                                        <td>[00]</td>
                                        <td>[00]</td>
                                        <td>[00] [in]</td>
                                    </tr>
                                    <tr class="odd">
                                        <td scope="row">3</td>
                                        <td>[00]</td>
                                        <td>[Hand Unit Type]</td>
                                        <td>[00]</td>
                                        <td>[00]</td>
                                        <td>[00] [in]</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>(Only your first 3 handling units are displayed)</p>
                        </div>
                    </div>
                    
                    <!-- Package Information --> 
                    
                    <!-- Begin Sub Module -->
                    <div class="secLvl secLvlPlain"> 
                        <!-- Begin Sub Header -->
                        <div class="secHead clearfix">
                            <h4>{Package}{Pallet} Information</h4>
                            <ul>
                                <li><a href="repl_href" class="btnlnkL editMini">Edit</a></li>
                            </ul>
                        </div>
                        <!-- End Sub Header --> 
                        
                        <!-- Begin Sub Body -->
                        <div class="secBody">
                            <table summary="repl_summary" title="repl_title" class="dataTable full">
                                <!--<caption>repl_caption</caption>-->
                                <tr>
                                    <th class="sel alignCenter" scope="col">&nbsp;</th>
                                    <th scope="col"><span class="label"><a href="repl_href" class="btnlnkR helpIconR">Weight </a></span></th>
                                    <th class="nowrap" scope="col"><span class="label">Dimensions/<br>
                                        Packaging</span></th>
                                    <th scope="col"><span class="label">Declared Value</span></th>
                                    <th class="nowrap" scope="col"><span class="label"><a href="repl_href" class="btnlnkR helpIconR">References Numbers</a></span></th>
                                </tr>
                                <tr class="odd">
                                    <td class="sel alignCenter" scope="row">1.</td>
                                    <td class="nowrap">nn.n {lbs}{kg}<br>
                                        (00.0 {lbs}{kg} billable)</td>
                                    <td class="nowrap">ll x ww x hh in.<br>
                                        Packaging Type</td>
                                    <td class="nowrap">nn.nn USD</td>
                                    <td>{Reference #1}</td>
                                </tr>
                                <tr>
                                    <td class="sel alignCenter" scope="row">2.</td>
                                    <td class="nowrap">nn.n {lbs}{kg}<br>
                                        (00.0 {lbs}{kg} billable)</td>
                                    <td class="nowrap">ll x ww x hh in.<br>
                                        Packaging Type</td>
                                    <td class="nowrap">nn.nn USD</td>
                                    <td>{Reference #2}</td>
                                </tr>
                                <tr class="odd">
                                    <td class="sel alignCenter" scope="row">3.</td>
                                    <td class="nowrap">nn.n {lbs}{kg}<br>
                                        (00.0 {lbs}{kg} billable)</td>
                                    <td class="nowrap">ll x ww x hh in.<br>
                                        Packaging Type</td>
                                    <td class="nowrap">nn.nn USD</td>
                                    <td>{Reference #3}</td>
                                </tr>
                            </table>
                            
                            <!-- Default -->
                            <p>Review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidelines</a> to see if they apply to your pallet</p>
                        </div>
                        <!-- End Sub Body --> 
                        
                        <!-- Begin Sub Footer --><!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module --> 
                    
                    <!-- END Package Information --> 
                    
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- End Section Module --> 
            
            <!-- //////////////////////////////////////////////////////////// --> 
            <!-- //// End Panel 2 Shipment/Package Info                  //// --> 
            <!-- //// Begin Panel 3 UPS Shipping Service/Options         //// --> 
            <!-- //////////////////////////////////////////////////////////// --> 
            
            <!-- Begin Section Module -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">3</span> </div>
                    <h3>UPS Shipping Service and Shipping Options</h3>
                    <ul>
                        <li><a href="repl_href" class="btnlnkL editMini">Edit</a></li>
                    </ul>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody"> 
                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                        <dl role="presentation">
                            <dt> <span class="label">Service:</span> </dt>
                            <dd>{Service Type}</dd>
                        </dl>
                        
                        <!-- //////////////////////////////////////// --> 
                        <!-- Begin Shipping Options - SurePost (1304) -->
                        <p>[<strong>Surepost Sub-classification:</strong> irregular / machineable]</p>
                        <p>[<strong>USPS Endorsement - or UPS driver release</strong>]</p>
                        <!-- End Shipping Options - SurePost (1304) --> 
                        <!-- ////////////////////////////////////// --> 
                        
                    </div>
                    <!-- End Column --> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginEnd">
                        <p class="alignEnd"><a class="btnlnkR newWindowIconR" href="javascript:repl_function('repl_href')">Compare Time and Cost</a></p>
                    </div>
                    <!-- End Column -->
                    <div class="clear"> </div>
                    <div class="secLvl message clearfix">
                        <div class="secBody noHead">
                            <p><strong>Note:</strong> This service is for packages shipped from and delivered to a UPS Access Point&trade; location.</p>
                        </div>
                    </div>

                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                        <dl role="presentation">
                            <dt> <span class="label">Guaranteed By:</span> </dt>
                            <dd>[End of Day], {Weekday}, {mm/dd/yyyy}</dd>
                        </dl>
                    </div>
                    <!-- End Column --> 
                    
                    <div class="clear"></div>

                    <!-- Begin Sub Module -->
                    <div class="secLvl message sell tableonly clearfix"> 
                        <!-- Begin Sub Header -->
                        <div class="secHead clearfix">
                            <h4>Do you need it there sooner?</h4>
                        </div>
                        <!-- End Sub Header --> 
                        
                        <!-- Begin Sub Body -->
                        <div class="secBody">
                            <table summary="repl_summary" title="repl_title" class="sel full">
                                <!--<caption>repl_caption</caption>-->
                                <tr>
                                    <td class="sel" scope="row"><input type="radio" value="" id="repl_id" checked="checked"></td>
                                    <td class=""><label for="repl_id" class="sel">UPS Ground</label></td>
                                    <td class="alignEnd nowrap">Currently Selected</td>
                                    <td class="alignEnd">No later than end of day Weekday, mm/dd/yyyy</td>
                                </tr>
                                <tr>
                                    <td class="sel" scope="row"><input type="radio" value="" id="repl_id"></td>
                                    <td class=""><label for="repl_id" class="sel">UPS 2nd Day Air</label></td>
                                    <td class="alignEnd nowrap">nn.nn USD more</td>
                                    <td class="alignEnd">hh:mm A.M. Weekday, mm/dd/yyyy</td>
                                </tr>
                                <tr>
                                    <td class="sel" scope="row"><input type="radio" value="" id="repl_id"></td>
                                    <td class=""><label for="repl_id" class="sel">UPS Next Day Air</label></td>
                                    <td class="alignEnd nowrap">nn.nn USD more</td>
                                    <td class="alignEnd">hh:mm A.M. Weekday, mm/dd/yyyy</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="3"><p> <i>* Selected promotion applies to this service</i> </p>
                                        <p><strong>Note:</strong> {Negotiated} rates were applied to this shipment.</p>
                                        <p>***Taxes included</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- End Sub Body --> 
                        
                        <!-- Begin Sub Footer -->
                        <div class="secFooter">
                            <div class="btnBar alignEnd">
                                <input name="repl_name" type="button" value="Update" class="btnlnkL checkMini">
                            </div>
                        </div>
                        <!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module --> 
                    
                    <!-- Begin Sub Module -->
                    <div class="secLvl message sell clearfix"> 
                        <!-- Begin Sub Header -->
                        <div class="secHead clearfix">
                            <h4>Do you wish to offset the climate impact of this shipment?</h4>
                        </div>
                        <!-- End Sub Header --> 
                        
                        <!-- Begin Sub Body -->
                        <div class="secBody">
                            <p>Select <strong>Update</strong> to include <a href="repl_href" class="btnlnkR helpIconR">UPS carbon neutral</a> <span class="indent"><a href="repl_href" class="btnlnkR">Show Fee</a></span> <span id="repl_id">nn.nn USD more</span> </p>
                        </div>
                        <!-- End Sub Body --> 
                        
                        <!-- Begin Sub Footer -->
                        <div class="secFooter">
                            <div class="btnBar">
                                <input name="repl_name" type="button" value="Update" class="btnlnkL checkMini">
                            </div>
                        </div>
                        <!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module -->
                    
                    <dl role="presentation" class="outHozLedger clearfix">
                        <dt> <span class="label">Shipping Fees Subtotal:</span> </dt>
                        <dd><b>nn.nn USD</b></dd>
                    </dl>
                    
                    <!-- Shipping Fees Subtotal Collapsed (Default) -->
                    
                    <div>
                        <input onClick="" name="repl_name" type="button" class="btnlnkL expandIcon" value="Show shipping fees subtotal details" id="shippingFeesShow">
                    </div>
                    
                    <!-- END Shipping Fees Subtotal Collapsed (Default) --> 
                    
                    <!-- Shipping Fees Subtotal Expanded -->
                    <div>
                        <input onClick="" name="repl_name" type="button" class="btnlnkL collapseIcon" value="Hide shipping fees subtotal details" id="shippingFeesHide">
                    </div>
                    <div id="shippingFees">
                        <dl role="presentation" class="outHozFixed indent clearfix">
                            <dt> <span class="label">Density Rated</span><br>
                                (rated as pounds per cubic foot) </dt>
                            <dd>[nnn]</dd>
                        </dl>
                        <div class="clearfix"></div>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">[nn%] Discounted Amount<br>
                                &nbsp; &nbsp; (Ground with Freight Pricing)</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Amount After Discount</span><br>
                                &nbsp; </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Transportation</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <!-- begin ER JAN 12 --> 
                        <!-- Step 3 - Service and Shipping Options Module -->
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Delivery Area Surcharge - Rural</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Extended Area Surcharge (Ship From)</span> </dt>
                            <dd>nnn.nn USD</dd>
                            <dt class="indent">[geo-type]</dt>
                            <dd>&nbsp;</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Extended Area Surcharge (Ship To)</span> </dt>
                            <dd>nnn.nn USD</dd>
                            <dt class="indent">[geo-type]</dt>
                            <dd>&nbsp;</dd>
                        </dl>
                        <!-- Step 3 - Service and Shipping Options Module --> 
                        <!-- end ER JAN 12 --> 
                        
                        <!-- //////////////////////////////////////// --> 
                        <!-- Begin Shipping Options - SurePost (1304) -->
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Non-DDU Field</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <!-- End Shipping Options - SurePost (1304) --> 
                        <!-- ////////////////////////////////////// -->
                        
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Fuel Surcharge</span> </dt>
                            <dd>nn.dd USD</dd>
                        </dl>
                        
                        <!--** ER1406 Dymanic Text **-->
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">EEI Filing Surcharge</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">State Department License Filing Surcharge</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <!--** ER 1406 Dynamic Text **-->
                        
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Saturday Air Processing Fee</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Pallet Surcharge</span> </dt>
                            <dd>nnn.nn USD</dd>
                            <dt class="indent">Pallet n</dt>
                            <dd>&nbsp;</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Additional Handling</span> </dt>
                            <dd>&nbsp;</dd>
                            <dt class="indent">Package n</dt>
                            <dd>nnn,nn eur</dd>
                            <dt class="indent">Package n</dt>
                            <dd>nnn,nn eur</dd>
                            <dt class="indent">Package n</dt>
                            <dd>nnn,nn eur</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Large Package Surcharge</span> </dt>
                            <dd>&nbsp;</dd>
                            <dt class="indent">Package n</dt>
                            <dd>nnn,nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Declared Value</span> </dt>
                            <dd>&nbsp;</dd>
                            <dt class="indent">Package n</dt>
                            <dd>&nbsp;</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Residential Surcharge</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Security Surcharge</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Seasonal Surcharge</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Peak Surcharge - Residential</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Peak Surcharge - Commercial</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Peak Surcharge - Large Package</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Peak Surcharge - Additional Handling</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Peak Surcharge - Over Max</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Declared Value</span> </dt>
                            <dd>No Charge</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger indent clearfix">
                            <dt> <span class="label">Extended Area Surcharge</span> </dt>
                            <dd>nnn,nn eur</dd>
                        </dl>
                        <div class="clearfix"></div>
                        <hr class="hr">
                        <!-- END Shipping Fees Subtotal Expanded -->
                        
                        <h4>Additional Shipping Options:</h4>
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">International Special Commodity on Shipment</span> <span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a> </span> </dt>
                            <dd>No Charge</dd>
                        </dl>
                        <!-- BEGIN UPS Returns Exchange -->
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">UPS Returns<sup>&reg;</sup> Exchange:</span> <span><img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a> </span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">UPS Returns<sup>&reg;</sup> Exchange Notification:</span> <span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Edit</a> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a> </span> </dt>
                            <dd>No Charge</dd>
                        </dl>
                        <dl role="presentation" class="outHozFlex clearfix">
                            <dt class="indent">Call:</dt>
                            <dd>{Phone Number} - {Country or Territory - Language}</dd>
                            <dt class="indent">SMS:</dt>
                            <dd>{Mobile Number} - {Country or Territory - Language}</dd>
                            <dt class="indent">E-mail:</dt>
                            <dd>{Email Address} - {Country or Territory - Language}</dd>
                            <dt class="indent">E-mail Failure Notification:</dt>
                            <dd>{Email Address}</dd>
                        </dl>
                        <!-- END UPS Returns Exchange -->
                        
                        <p> <span class="label">C.O.D. Amount:</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Edit</a> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a> </p>
                        <dl role="presentation" class="outHozFlex clearfix">
                            <dt class="indent">Package 1: </dt>
                            <dd style="text-align:left;"> C.O.D. Amount 25.00 USD, Cashier's Chk./M.O. Only</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">E-mail Notifications:</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Edit</a> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a></dt>
                            <dd>No Charge</dd>
                        </dl>
                        <dl role="presentation" class="outHozFlex clearfix">
                            <dt class="indent">1. {E-mail Address}:</dt>
                            <dd>Label Created, Ship, Exception, Delivery</dd>
                            <dt class="indent">E-mail Failure Notification:</dt>
                            <dd>{Email Address}</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger group clearfix">
                            <dt> <span class="label"><a href="repl_href" class="btnlnkR helpIconR">Chain of Custody:</a></span> </dt>
                            <dd>&nbsp;</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger group clearfix">
                            <dt> <span class="label"><a href="repl_href" class="btnlnkR helpIconR">UPS Premium Care:</a></span> </dt>
                            <dd>&nbsp;</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger clearfix">
                            <dt class="indent"> <span class="label">Package 1: <a href="repl_href">Cancel</a></span> </dt>
                            <dd>nnn.nn CAD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger clearfix">
                            <dt> <span class="label">UPS carbon neutral:</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Edit</a> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a></dt>
                            <dd>nnn.nn USD</dd>
                            <dt class="indent">Package n</dt>
                            <dd>nnn.nn USD</dd>
                            <dt class="indent">Package n</dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        
                        <!-- //////////////////////////////////////// --> 
                        <!-- Begin Shipping Options - SurePost (1304) -->
                        <dl role="presentation" class="outHozLedger clearfix">
                            <dt> <span class="label">Non-Machineable</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <!-- End Shipping Options - SurePost (1304) --> 
                        <!-- ////////////////////////////////////// -->
                        
                        <p class="indent"><b>Note:</b> UPS Carbon Neutral text</p>
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">UPS Proactive Response<sup>SM</sup>:</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <p class="indent">Needed</p>
                        
                        <!-- ////////////////////////////////////////////////// --> 
                        <!-- Begin Shipping Options - WW Express Freight (1304) -->
                        <dl role="presentation">
                            <dt><span class="label">Dry Ice (Shipped under IATA regulations)</span></dt>
                            <dd class="indent">Pallet [0]<br>
                                Dry Ice Weight: [00.0][lb/kg]</dd>
                        </dl>
                        <p> <span class="label">Saturday Pickup:</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Edit</a></p>
                        <p> <span class="label">Liftgate on Pickup</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a></p>
                        <p> <span class="label">Liftgate on Delivery</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a></p>
                        <!-- End Shipping Options - WW Express Freight (1304) --> 
                        <!-- //////////////////////////////////////////////// -->
                        
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">Saturday Delivery:</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a></dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <!--** ER1401 New accessorials **-->
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">Deliver to Addressee Only</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">Direct Delivery Only</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Cancel</a> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">Electronic Package Release Authorization</span> <img src="/img/1.gif" alt="" width="5" height="1"><a href="repl_href">Edit</a> <a href="repl_href">Cancel</a><br>
                                &nbsp; &nbsp; &nbsp; &nbsp;EPRA Code: 123456</dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">Collect Proof of Identity</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <dl role="presentation" class="outHozLedger clearfix group">
                            <dt> <span class="label">Direct to Retail Shipment</span> </dt>
                            <dd>nnn.nn USD</dd>
                        </dl>
                        <!--** ER1401 End New accessorials **-->
                        <dl role="presentation" class="outHozLedger totals clearfix">
                            <dt>Total Shipping Charges</dt>
                            <dd>nnn.nn CUR</dd>
                        </dl>
                    </div>
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- End Section Module --> 
            
            <!-- //////////////////////////////////////////////////////////// --> 
            <!-- //// End Panel 3 UPS Shipping Service/Options           //// --> 
            <!-- //// Begin Panel 4 Pickup/Drop-off                      //// --> 
            <!-- //////////////////////////////////////////////////////////// --> 
            
            <!-- Begin Section Module -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">4</span> </div>
                    <h3>[Pickup][/Dropoff] Information</h3>
                    <ul>
                        <li><a href="repl_href" class="btnlnkL editMini">Edit</a></li>
                    </ul>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody"> 
                    <div class="clearfix">
                        <h4>Pickup Preference</h4>
                        <p>UPS will pickup this shipment.</p>
                    </div>
                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                        <dl role="presentation">
                            <dt> <span class="label">Pickup Address:</span> </dt>
                            <dd>[Contact Name]<br>
                                [Company Name]<br>
                                [Address 1]<br>
                                [City, Other]<br>
                                [Country or Territory]<br>
                                Telephone: [Number]<br>
                                <br>
                                {Residential Address}</dd>
                        </dl>
                    </div>
                    <!-- End Column --> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginEnd">
                        <dl role="presentation">
                            <dt> <span class="label">Earliest Pickup Time:</span> </dt>
                            <dd>{earliest pickup time}</dd>
                        </dl>
                        <dl role="presentation">
                            <dt> <span class="label">Latest Pickup Time:</span> </dt>
                            <dd>{latest pickup time}</dd>
                        </dl>
                        <dl role="presentation">
                            <dt> <span class="label">Pickup Reference:</span> </dt>
                            <dd>{reference number for pickup}</dd>
                        </dl>
                    </div>
                    <!-- End Column -->
                    <div class="clearfix"></div>
                    <dl role="presentation" class="outHozLedger clearfix">
                        <dt> <span class="label">Schedule a Pickup</span> <a href="repl_href">Cancel</a> </dt>
                        <dd>nnn.nn CUR</dd>
                        <dt class="indent">{Various Pickup Fees}</dt>
                        <dd>nnn.nn CUR</dd>
                        <dt class="indent">{Tax 1}</dt>
                        <dd>nnn.nn CUR</dd>
                        <dt class="indent">{Tax 2}</dt>
                        <dd>nnn.nn CUR</dd>
                        <dt class="indent">{Tax 3}</dt>
                        <dd>nnn.nn CUR</dd>
                    </dl>
                    <dl role="presentation" class="outHozLedger clearfix totals">
                        <dt><strong>Total Pickup Charges</strong></dt>
                        <dd>nnn.nn CUR</dd>
                    </dl>
                    
                    <!-- //////////////////////////////////////////////////////////// --> 
                    <!-- Begin Pickup Info - WW Express Freight - Door to Door (1304) -->
                    <dl role="presentation">
                        <dt> <span class="label">Delivery Option</span> </dt>
                        <dd>UPS will deliver this freight shipment to the customer <strong>ship to</strong> address above.</dd>
                    </dl>
                    <dl role="presentation" class="outHozFixed">
                        <dt> <span class="label"><a href="repl_href" class="btnlnkR helpIconR">Shipment Drop-off Time:</a></span> </dt>
                        <dd>hh:mm am/pm</dd>
                    </dl>
                    <div class="clear"> </div>
                    <dl role="presentation">
                        <dt> <span class="label">[UPS location name]</span> </dt>
                        <dd>[Address 1]<br>
                            [City], [Other]<br>
                            [Country or Territory]<br>
                            Telephone: [Number]<br>
                            Fax: [Number]</dd>
                    </dl>
                    <dl role="presentation">
                        <dt> <span class="label">Hours of Operation:</span> </dt>
                        <dd>hh:mm am/pm to hh:mm am/pm</dd>
                    </dl>
                    <dl role="presentation" class="outHozFixed">
                        <dt> <span class="label">Location Cut-off Time:</span> </dt>
                        <dd>hh:mm am/pm</dd>
                    </dl>
                    <div class="clear"> </div>
                    <div class="clearfix">
                        <h4>Drop-off Preference</h4>
                        <p>Customer selected to drop off this shipment.</p>
                        <dl role="presentation" class="outHozFixed">
                            <dt><span class="label">Drop-off Date:</span></dt>
                            <dd>mm/dd/yyyy</dd>
                        </dl>
                        <div class="clear"> </div>
                        <div class="flexFirst indent clearfix">
                            <dl role="presentation">
                                <dt> <span class="label">[Location/Facility Name]</span> </dt>
                                <dd> [Address 1]<br>
                                    [City], [Other], [State] [ZIP/Postal Code]<br>
                                    [Country or Territory]<br>
                                    Telephone: [Number]<br>
                                    Fax: [Number] </dd>
                            </dl>
                            <p><a class="btnlnkR newWindowIconR" href="repl_href">Directions to Loading/Unloading Area</a></p>
                            <dl role="presentation">
                                <dt> <span class="label">Hours of Operation</span> </dt>
                                <dd>[Weekday] hh:mm AM to hh:mm PM</dd>
                            </dl>
                        </div>
                        <div class="flexAfter clearfix">
                            <dl role="presentation" class="outHozFlex clearfix">
                                <dt> <span class="label">[000]</span> </dt>
                                <dd>[mi/km]</dd>
                            </dl>
                        </div>
                        <div class="clear"> </div>
                        <dl role="presentation" class="outHozFixed">
                            <dt> <span class="label"><a href="repl_href" class="btnlnkR helpIconR">Location Cut-off time</a>:</span> </dt>
                            <dd>hh:mm PM</dd>
                        </dl>
                    </div>
                    <hr class="hr">
                    <div class="clearfix">
                        <h4>Delivery Preference</h4>
                        <p>This shipment will be held at destination UPS Location for customer pickup.</p>
                        <div class="indent clearfix">
                            <dl role="presentation">
                                <dt> <span class="label">[Location/Facility Name]</span> </dt>
                                <dd> [Address 1]<br>
                                    [City], [Other], [State] [ZIP/Postal Code]<br>
                                    [Country or Territory]<br>
                                    Telephone: [Number]
                                    Fax: [Number] </dd>
                            </dl>
                            <p><a class="btnlnkR newWindowIconR" href="repl_href">Directions to Loading/Unloading Area</a></p>
                            <dl role="presentation">
                                <dt> <span class="label">Hours of Operation</span> </dt>
                                <dd>[Weekday] hh:mm AM to hh:mm PM<br>
                                    [Weekday] hh:mm AM to hh:mm PM<br>
                                    [Weekday] hh:mm AM to hh:mm PM<br>
                                    ...<br>
                                    [Sunday] [Closed]</dd>
                            </dl>
                        </div>
                        <dl role="presentation" class="outHozFixed">
                            <dt> <span class="label"><a href="repl_href" class="btnlnkR helpIconR">Location Cut-off time</a>:</span> </dt>
                            <dd>hh:mm PM</dd>
                        </dl>
                    </div>
                    <hr class="hr">
                    <dl role="presentation">
                        <dt> <span class="label">[UPS Location Name]</span> </dt>
                        <dd>[Address 1]<br>
                            [City], [Other]<br>
                            [Country or Territory]<br>
                            Telephone: [Number]<br>
                            Fax: [Number]</dd>
                        <dt><span class="label">Hours of Operation:</span></dt>
                        <dd>hh:mm AM/PM to hh:mm AM/PM</dd>
                    </dl>
                    
                    <!-- End Pickup Info - WW Express Freight - Door to Door (1304) --> 
                    <!-- ////////////////////////////////////////////////////////// --> 
                    
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- End Section Module --> 
            
            <!-- //////////////////////////////////////////////////////////// --> 
            <!-- //// End Panel 4 Pickup/Drop-off                        //// --> 
            <!-- //// Begin Panel 5 Payment Info                         //// --> 
            <!-- //////////////////////////////////////////////////////////// --> 
            
            <!-- Begin Section Module -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">5</span> </div>
                    <h3>Payment Information</h3>
                    
                    <!-- ////////////////////////////// --> 
                    <!-- Begin Create a Shipment (1304) -->
                    <ul>
                        <li><a class="btnlnkL editMini" href="repl_href">Edit</a></li>
                    </ul>
                    <!-- End Create a Shipment (1304) --> 
                    <!-- //////////////////////////// --> 
                    
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody">
                    <dl role="presentation" class="outHozFixed clearfix">
                        <dt> <span class="label">Bill Shipping {and Pickup} Charges:</span> </dt>
                        <dd>{Payment Method}</dd>
                    </dl>
                    <dl role="presentation" class="outHozFixed clearfix">
                        <dt> <span class="label">Bill Duties and Taxes to:</span> </dt>
                        <dd>{Payment Method}</dd>
                    </dl>
                    <dl role="presentation" class="outHozFixed clearfix">
                        <dt> <span class="label">Associated Shipper's Account:</span> </dt>
                        <dd>XNNXNN</dd>
                    </dl>
                    <dl role="presentation" class="outHozFixed clearfix">
                        <dt> <span class="label">Email Shipping Ticket and Receipt To:</span> </dt>
                        <dd>{jsmith@email.com, United States - English}</dd>
                    </dl>
                    
                    <!--** Promotion Code un-registered user **-->
                    <p> <span class="label error">&gt;&gt;&gt;Promotion Code:</span></p>
                    <div class="flexFirstPad clearfix"> 
                        <!--** New UIS ER1415 **-->
                        <p>SHIPTOUS48</p>
                    </div>
                    <div class="flexAfterPad clearfix">
                        <p><a href="Repl_href">Remove Code</a></p>
                        <!--** UIS ER1415 **--> 
                    </div>
                    <div class="clearfix"></div>
                    <!--** New UIS ER1415 **-->
                    <p> Recieve 40% off a ground shipment within the continental United States.<br>
                        <a href="repl_href">Read Promotion Terms and Conditions</a> </p>
                    <!--** UIS ER1415 **--> 
                    <br>
                    <!--** End Promotion Code Un-registered user **-->
                    
                    <dl role="presentation" class="outHozFixed clearfix">
                        <dt> <span class="label">Payment Method for Shipping:</span> </dt>
                        <dd>{Payment Method}</dd>
                    </dl>
                    <dl role="presentation" class="outHozFixed clearfix">
                        <dt> <span class="label">Payment Method for Duties and Taxes:</span> </dt>
                        <dd>Receiver</dd>
                    </dl>
                    <dl role="presentation" class="outHozFixed clearfix">
                        <dt> <span class="label">Apply Rates from Shipping Account:</span> </dt>
                        <dd>123456 <br>
                            <span class="reqTxtInst">{Negotiated rates were applied}</span></dd>
                    </dl>
                    
                    <!-- Begin Section Module -->
                    <div class="secLvl message"> 
                        <!-- Begin Section Header --><!-- End Section Header --> 
                        
                        <!-- Begin Section Body -->
                        <div class="secBody">
                            {{>"cam_shi_shi(4rev)_charges_partial" charges }}
                            
                        </div>
                        <!-- End Section Body --> 
                        
                        <!-- Begin Section Footer --><!-- End Section Footer --> 
                    </div>
                    <!-- End Section Module --> 
                    
                    <p>Pickup Charges: {Tax Disclaimer Placeholder - EU, CA, MX}</p>
                    <p>Transportation Charges: {Tax Disclaimer Placeholder}</p>
                    
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- End Section Module --> 
            
            <!-- //////////////////////////////////////////////////////////// --> 
            <!-- //// End Panel 5 Payment Info                           //// --> 
            <!-- //// Begin Panel 6 How would you like to pay            //// --> 
            <!-- //////////////////////////////////////////////////////////// --> 
            
            <!-- Begin Section Module -->
            <div class="secLvl step"> 
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">6</span> </div>
                    <h3>How would you like to pay?</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div id="dyn_pnl_1"> 
                    {{>"cam_shi_shi(4rev)_payment_partial" payment }}
                </div>
                <!-- End Section Body --> 
                
                <!-- Begin Section Footer --><!-- End Section Footer --> 
            </div>
            <!-- End Section Module -->
            
            <table summary="repl_summary" title="repl_title">
                <!--<caption>repl_caption</caption>-->
                <tr>
                    <td class="sel" scope="row"><input name="repl_fname" type="checkbox" id="repl_fid"></td>
                    <td><label for="repl_fid">By selecting this box and the ship now button, I agree to the UPS tariff/terms and conditions of service above. View and download the <a href="repl_href" class="btnlnkR newWindowIconR">UPS tariff/terms and conditions of service</a>.</label></td>
                </tr>
            </table>
            <p>Pickup Charges:{1507 Disclaimer Placeholder}</p>
            <p>Transportation  Charges:{1507 Disclaimer Placeholder}</p>
            <p>[The charges above were estimated/calculated using published rates; the payor may have negotiated rates or other rates may vary.]</p>
            <p>[Select ship now to proceed paragraph text.]</p>
            <p>[Charges shown are calculated for the first receipient paragraph text.]</p>
            <p>[To complete export documents for any recipient paragraph text.]</p>
            <table summary="repl_summary" title="repl_title">
                <!--<caption>repl_caption</caption>-->
                <tr>
                    <td class="sel" scope="row"><input name="repl_name02" type="checkbox" value="" id="repl_name2" checked="checked"></td>
                    <td><label for="repl_name2" class="sel">Save as Shipping Ticket</label></td>
                </tr>
            </table>
            <p>[By selecting the <b>ship now/next </b> button, I agree to the <a href="repl_href" class="btnlnkR newwindowIconR">terms and conditions</a>].</p>
            
            <!-- ////////// begin Jan 12 : Review Shipment Details ////////// -->
            <p>{This shipment is eligible for paperless shipping.}</p>
            <!-- ////////// end Jan 12 : Review Shipment Details ////////// --> 
            
        </div>
        <!-- End Application Body --> 
        <!-- Begin Application Footer -->
        <div class="appFooter"> 
            <!-- Begin Button Bar Row -->
            <div class="btnBar">
                <input name="repl_name" type="button" value="cancel shipment" class="btn">
                
                <!-- ////////// begin Jan 15 : Create shipping ticket ////////// -->
                
                <input name="repl_name" type="button" value="Create Shipping Ticket" class="btn">
                <!-- ////////// End Jan 15 : Create shipping ticket ////////// --> 
                
                <!-- ////////// begin Jan 12 : Review Shipment Details ////////// -->
                <input name="repl_name" type="submit" value="{ship now/next}" class="btnArw">
                <!-- ////////// end Jan 12 : Review Shipment Details ////////// -->
                
                <input name="repl_name" type="button" value="ship to all address" class="btnArw">
            </div>
            <!-- End Button Bar Row --> 
        </div>
        <!-- End Application Footer --> 
    </div>
    <!-- End Application Module -->
    
    <div align="center" class="cobrand"> <br>
        <table>
            <tbody>
                <tr>
                    <td>
                        Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;
                        <a href="mailto:test@ups.com">test@ups.com</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>