<!--<p>{a discount was applied to the {Standard List/Daily/Retail} rates for this shipment.}</p>
<p>{retail rates were applied to this shipment}</p>-->

{{#if default}}
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Subtotal Pickup Charges:</span> </dt>
    <dd>nnnn.nn USD</dd>
    <dt> <span class="label">Subtotal Shipping Charges:</span> </dt>
    <dd>nnnn.nn USD</dd>
</dl>
<p>{Retail rates were applied to this shipment.}</p>
<p>{A discount was applied to the {Rate Name} for this shipment.}</p>
<p>{The regular incentive rate is less than the promotional discount. The promotion code has been removed from the shipment.}</p>
<p>{Your account has incentives that may apply to this shipment, but you are not authorized to view them online. To view negotiated rates, please authenticate your account.}</p>
<p>{A promotional discount was applied to this shipment.}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total Charged:</span> </dt>
    <dd>nnnn.nn USD</dd>
    <dt> <span class="label">Negotiated {Shipping} Total:</span> </dt>
    <dd>nnnn.nn USD</dd>
</dl>
{{/if}}

{{#if eu_ca_me}}
<p>{Retail rates were applied to this shipment.}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Subtotal Pickup Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">Negotiated Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
</dl>

<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total UPS Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 1}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 2}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 3}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">Total Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
</dl>
{{/if}}

{{#if eu_consolidated}}
<p>A discount has been applied to the {Standard List/Daily/Retail} rates for this shipment.</p>
<div class="group">
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">Negotiated Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">ABR Rate for Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
<p>Negotiated rates were applied to this shipment.</p>
</div>

<div class="group">
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Pickup Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">Negotiated Pickup Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">ABR Rate for Pickup Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
<p>Negotiated rates were applied to this pickup.</p>
</div>

<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Fuel Surcharge:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>

<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total UPS Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>

<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">VAT:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>

<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
{{/if}}

{{#if r2r_applied}}
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Subtotal Pickup Charges:</span> </dt>
    <dd>nnnn.nn USD</dd>
    <dt> <span class="label">Subtotal Shipping Charges:</span> </dt>
    <dd>nnnn.nn USD</dd>
</dl>
<p>UPS Access Point&trade; delivery rates were applied to this shipment.</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total Charged:</span> </dt>
    <dd>nnnn.nn USD</dd>
    <dt> <span class="label">Negotiated {Shipping} Total:</span> </dt>
    <dd>nnnn.nn USD</dd>
</dl>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total UPS Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 1}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 2}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 3}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">Total Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
</dl>
{{/if}}

{{#if published_shipping_charges}}
<p>{Retail rates were applied to this shipment.}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
{{/if}}

{{#if published_shipping_charges_negotiated}}
<p>{Retail rates were applied to this shipment.}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">Negotiated Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
{{/if}}

{{#if published_shipping_charges_pickup}}
<p>{Retail rates were applied to this shipment.}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Subtotal Pickup Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
{{/if}}

{{#if published_shipping_charges_pickup_negotiated}}
<p>{Retail rates were applied to this shipment.}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Subtotal Pickup Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">Negotiated Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
{{/if}}


{{#if old }}
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Charges:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">negotiated charges:</span> </dt>
    <dd>nnnn.nn usd</dd>
</dl>
<p>{retail rates were applied to this shipment}</p>
<p>{a discount was applied to the {rate name} for this shipment.}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">subtotal pickup charges:</span> </dt>
    <dd>nnnn.nn usd</dd>
    
</dl>
<p>{retail rates were applied to this shipment}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Estimated Total Cost:</span> </dt>
    <dd>nnnn.nn usd</dd>
    
    <!--**ER1415 Rate Dyanamic Content**-->
    <dt><span style="font-weight:normal;">{Promotion code was applied to this shipment.}</span></dt>
    <dd>&nbsp;</dd>
    <dt><span style="font-weight:normal;">{A discount was applied to the {Standard List/daily/Retail Rates}for this shipment.}</span></dt>
    <dd>&nbsp;</dd>
    <!--** End ER1415 Rate Dyanamic Content**-->
    <dt> <span class="label">total ups charges</span> </dt>
    <dd>nnn.nn cur</dd>
    <dt class="indent">{Tax 1}</dt>
    <dd>nnn.nn cur</dd>
    <dt class="indent">{Tax 2}</dt>
    <dd>nnn.nn cur</dd>
    <dt class="indent">{Tax 3}</dt>
    <dd>nnn.nn cur</dd>
    <dt> <span class="label">{Total/Net Amount} charged:</span> </dt>
    <dd>nnnn.nn usd</dd>
</dl>

<!-- Review Shipment Details - No Fees Displayed (user can see fees) -->

<p class="criticalMessage">you are not a authorized to view rates. all shipping dollars in usd.</p>
{{/if}}

{{#if pay_at_store}}
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total Cost:</span> </dt>
    <dd>nnnn.nn XXX</dd>
    <dt> <span class="label">Negotiated Total Cost:</span> </dt>
    <dd>nnnn.nn XXX</dd>
</dl>
<p>{Retail rates were applied to this shipment.}</p>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Subtotal Pickup Charges:</span> </dt>
    <dd>nnnn.nn USD</dd>
    <dt> <span class="label">Charges:</span> </dt>
    <dd>nnnn.nn USD</dd>
    <dt> <span class="label">Negotiated Charges:</span> </dt>
    <dd>nnnn.nn USD</dd>
</dl>
<dl role="presentation" class="outHozLedger clearfix totals">
    <dt> <span class="label">Total UPS Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 1}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 2}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">{Tax 3}:</span> </dt>
    <dd>nnn,nn XXX</dd>
    <dt> <span class="label">Total Charges:</span> </dt>
    <dd>nnn,nn XXX</dd>
</dl>
{{/if}}