---

appId: nbs
dir: ltr
lang: en
---




<main id="ups-main">
	<div class="ups-form_wrap ups-formStrict ups-wrap ups-application_wrapper">  
		<div class="ups-wrap_inner ups-app_nbs">
			<form name="dutiesForm" novalidate>
                {{>pay_duty_tax_partial pay_duty_tax.default }}
            </form>
        </div>
    </div>
</main>