<!-- ///////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////// -->
<!-- //////////////////         DATE: 03-16-17          ////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////// -->
<!--
    INITIATIVE: TFS327500
    UPDATE:
    - Updated the dom structure across the application
    - label class removed from page.
    - image icon are now icon fonts and aria-hidden
    - Unless otherwise mentioned secLvl |secHead | secBody will replaced with
        - panel panel-default | panel-body | panel-heading
    - all form fields input, select, checkbox, radio, textarea, etc. Have been updated to match WEM HTML/CSS
    - Unless other wise mentioned dl | dt | dd have been replaced with row/col
    - Unless other wise mentioned floatBegin | floatEnd have been replaced with row/col
    - Unless other wise mentioned marginBegin | marginEnd have been replaced with row/col
    - for/id has been added fields
    - <br /> tags have been removed line break now being accomplished with <p> and /or css as needed
    - all classing has changed.
-->
<!-- ///////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////// -->

<form action="repl_fname" name="" method="">
    <!-- Begin Application Module -->
    <div class="appLvl col24 clearfix" id="fontControl">
        <!-- Begin Tracking Bar Panel Module -->
        <div class="panel panel-default">

            <!-- Begin Panel Body -->
            <div class="panel-body">
                <div class="row">
                    <!-- Begin Column -->
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="ups-form_group">
                                    <label for="trk_bar_trk_num" class="ups-readerTxt">Enter tracking or infonotice number</label>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input type="text" name="trk_bar_trk_num" class="ups-form_input" id="trk_bar_trk_num">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <button class="ups-cta ups-cta_primary" type="submit" value="">Track</button>
                            </div>
                        </div>
                    </div>
                    <!-- End Column -->

                    <!-- Begin Column -->
                    <div class="col-xs-3">
                        <p><a href="repl_href" class="ups-link_light" onClick="repl_onClick">View Tracking History</a></p>
                    </div>
                    <!-- End Column -->

                    <!-- Begin Column -->
                    <div class="col-xs-4">
                        <!-- Begin Structure Added for Non Javascript Users -->
                        <div class="row">
                            <div class="col-xs-9">
                                <!-- End Structure Added for Non Javascript Users -->
                                <div class="ups-form_group">
                                    <label for="trk_bar_trk_sel" class="ups-readerTxt">Select other tracking options</label>
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select id="trk_bar_trk_sel" name="trk_bar_trk_sel" class="ups-dropdown">
                                            <option value="" selected>{other tracking options}</option>
                                            <option value="">{1234567890 1234567890 1234567890 1234567890}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Begin Structure Added for Non Javascript Users -->
                            </div>
                            <div class="col-xs-3">
                                <button class="ups-cta ups-cta_primary" type="submit" value="">Go</button>
                            </div>
                        </div>
                        <!-- End Structure Added for Non Javascript Users -->
                    </div>
                    <!-- End Column -->                    
                </div>
                <p class="text-center">View secure details (e.g., digital signiture for <a href="relp_href" class="ups-link_light">this visit</a>), or <a href="relp_href" class="ups-link_light">add this account to your profile</a>.</p>
            </div>
            <!-- End Panel Body -->

        </div>
        <!-- End Tracking Bar Panel Module -->

        <!-- Begin Application Header -->
        <div class="appHead clearfix">
            <h2>Tracking Summary</h2>
            
        </div>
        <!-- End Application Header -->

        <!-- Begin Application Body -->
        <div class="appBody clearfix fontControlBody">
			<ul id="fontControlButtons" class="pull-right ups-actions">
                <li><span class="ups-track_help icon ups-icon-questioncircle" aria-hidden="true"></span> <a href="repl_href">help</a></li>
                <li><span class="icon ups-icon-print" aria-hidden="true"></span> <a href="repl_href">print</a></li>
            </ul>
            <p>your search found 2 packages matching your package reference criteria.<a onClick="repl_href" class="indent ups-link-light">search again</a></p>
            <!-- Begin Track Summary -->
            <!-- Begin Panel Module -->
            <div class="panel panel-primary">
                <!-- Begin Panel Body -->
                <div class="panel-body">
                    <!-- ////////////////////////////////////// -->
                    <!-- BEGIN Multi Track Summary - InfoNotice -->
                    <!-- ////////////////////////////////////// -->
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-5"><strong>Infonotice Number</strong></div>
                                <div class="col-xs-7">123456789012</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong>Number of Packages</strong></div>
                                <div class="col-xs-7">2</div>
                            </div>
                        </div>
                    </div>
                    <!-- ////////////////////////////////////// -->
                    <!-- END Multi Track Summary - InfoNotice   -->
                    <!-- BEGIN Multi Track Summary - Reference  -->
                    <!-- ////////////////////////////////////// -->
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-5"><strong>Shipment Reference</strong></div>
                                <div class="col-xs-7">123456789012</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong>Shipment Type</strong></div>
                                <div class="col-xs-7">freight</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong>Ship Date Range</strong></div>
                                <div class="col-xs-7">mm/dd/yyyy-mm/dd/yyyy</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong>UPS Account Number</strong></div>
                                <div class="col-xs-7">123456</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-5"><strong>Origin Country or Territory</strong></div>
                                <div class="col-xs-7">united states</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong>Origin ZIP/Postal Code</strong></div>
                                <div class="col-xs-7">12345</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong>Destination Country or Territory</strong></div>
                                <div class="col-xs-7">United States</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5"><strong>Destination ZIP/Postal Code</strong></div>
                                <div class="col-xs-7">54321</div>
                            </div>
                        </div>
                    </div>
                    <!-- ////////////////////////////////////// -->
                    <!-- END Multi Track Summary - Reference    -->
                    <!-- ////////////////////////////////////// -->
                </div>
                <!-- End Panel Body -->

            </div>
            <!-- End Panel Module -->
            <!-- End Track Summary Panel Module -->


            <!-- Begin Section Module -->
            <div class="secLvl secLvlPlain clearfix">
                <!-- Begin Section Header -->
                <div class="secHeader">
                    <h3><a onClick="repl_href">{1z123456789012345}</a> <span></span> <span class="indent"><a href="">(add description)</a></span> </h3>
                </div>
                <!-- End Section Header -->
                <!-- Begin Section Body -->
                <div class="secBody row">

                    <!-- Begin Column -->
                    <div class="col-xs-9">

                        <!-- Begin Sub Module -->
                        <div class="secLvl gradient gradientGroup4 cmsMsg clearfix">

                            <!-- Begin Sub Module "Status" -->
                            {{!-- BEGIN _status_partial --}}
    						{{>"ct1_tra_tra(3det)_status_bar_partial" }}
                            {{!-- END _status_partial --}}
    						<!-- End Sub Module "Status" -->

                            <!-- Begin Sub Body -->
                            <div class="secBody clearfix">
                                <!-- Begin Column -->
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="ups-group ups-group-condensed">
                                            <p class="ups-form_label"><strong>Schedule Delivery</strong></p>
                                            <p>{wednesday, 00/00/0000, end of day.}</p>
                                            <p>{Scheduled delivery information is not available.}</p>
                                        </div>
                                        <div class="ups-group ups-group-condensed">
                                            <p class="ups-form_label">
                                                <strong>Scheduled for Early Delivery on</strong>
                                            </p>
                                            <p>wednesday, 00/00/0000, 00:00 a.m. - 0:00 p.m.</p>
                                        </div>
                                        <div class="ups-group ups-group-condensed">
                                            <p class="ups-form_label">
                                                <strong>Originally Scheduled for Delivery On</strong>
                                            </p>
                                            <p>wednesday, 00/00/0000, 00:00 a.m. - 0:00 p.m.</p>
                                        </div>
                                        <div class="ups-group ups-group-condensed">
                                            <p class="ups-form_label">
                                                <strong>Special Instructions</strong>
                                            </p>
                                            <p><a href="repl_href" class="btnlnkR helpIconR">adult signature required</a></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="ups-form_ctaGroup">
                                            <button class="ups-cta ups-cta_primary ups-extended" type="submit" value="">Change Delivery</button>
                                            <button class="ups-cta ups-cta_primary ups-extended" type="submit" value="">Request Status Updates</button>
                                            <button class="ups-cta ups-cta_primary ups-extended" type="submit" value="">Report a Claim</button>
                                            <button class="ups-cta ups-cta_primary ups-extended" type="submit" value="">Select a 2-hour Delivery Window</button>
                                            <button class="ups-cta ups-cta_primary ups-extended" type="submit" value="">Provide Delivery  Instructions</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Column -->
                            </div>
                            <!-- End Sub Body -->
                        </div>
                        <!-- End Sub Module -->
                    </div>
                    <!-- End Column -->

                    <!-- Begin Column -->
                    <div class="col-xs-3">
                        <!-- Begin Shipping Information Panel -->
                        <div class="panel panel-default">
                            <!-- Begin Panel Header -->
                            <div class="panel-heading">Shipping Information</div>
                            <!-- End Panel Header -->

                            <!-- Begin Panel Body -->
                            <div class="panel-body">
                                <div class="ups-group">
        	                       <p class="ups-group_label"><strong>From</strong></p>
                                   <p>Saddlebrook, NJ, US</p>
                                   <p>Monday, 00/00/0000</p>
                                </div>
                                <div class="ups-group">
                                	<p class="ups-group_label"><strong>To</strong></p>
                                    <p>John Smith</p>
                                    <address>
                                        <p>2010 Warsaw Rd.</p>
                                		<p>Roswell, GA 30076, US</p>
                                    </address>
                                </div>
                            </div>
                            <!-- End Panel Body -->

                        </div>
                        <!-- End Shipping Information Panel -->

                        <!-- Begin Shipping By Panel -->
                        <div class="panel panel-default">
                            <!-- Begin Panel Header -->
                            <div class="panel-heading">Shipping By</div>
                            <!-- End Panel Header -->
                            <!-- Begin Panel Body -->
                            <div class="panel-body">
                                <p><a href="#" class="ups-link_light">UPS Worldwide Expedited</a> <sup>&reg;</sup></p>
                            </div>
                            <!-- End Panel Body -->
                        </div>
                        <!-- End Shipping By Panel -->
                    </div>
                    <!-- End Column -->
                </div>
                <!-- End Section Body -->

            </div>
            <!-- End Section Module -->

            <!-- Begin Section Module -->
            <div class="secLvl secLvlPlain clearfix">
                <!-- Begin Section Header -->
                <div class="secHeader">
                    <h3><a onClick="repl_href">{nick name up to 35 characters}</a> <span>- 1z1234567890123456</span> <span class="indent"><a href="#" class="ups-link_light">(change description)</a></span></h3>
                    <p><strong>Multiple [packages/pallets]:</strong> 3 <a href="#" class="indent ups-link_light">show all</a></p>
                </div>
                <div class="secBody row">

                    <!-- Begin Column -->
                    <div class="col-xs-9">

                        <!-- Begin Sub Module -->
                        <div class="secLvl gradient gradientGroup4 cmsMsg clearfix">

                            <!-- Begin Sub Module "Status" -->
                            {{!-- BEGIN _status_partial --}}
    						{{>"ct1_tra_tra(3det)_status_bar_partial" }}
                            {{!-- END _status_partial --}}
    						<!-- End Sub Module "Status" -->

                            <!-- Begin Sub Body -->
                            <div class="secBody clearfix">
                                <!-- Begin Column -->
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="ups-group ups-group-condensed">
                                            <p class="ups-form_label"><strong>Schedule Delivery (Updated)</strong></p>
                                            <p>{Scheduled delivery information is not available}</p>
                                            <p>{Wednesday  00/00/0000, 00:00 a.m. - 0:00 p.m.}</p>
                                        </div>
                                        <div class="ups-group ups-group-condensed">
                                            <p class="ups-form_label"><strong>Scheduled for Early Delivery on</strong></p>
                                            <p>Wednesday, 00/00/0000, 00:00 a.m. - 0:00 p.m.</p>
                                        </div>
                                        <!-- Special Messing Module -->
                                        <!-- ////////////////////// -->
                                        <div class="ups-group ups-group-condensed">
                                            <p class="ups-form_label"><strong>Special Instructions</strong></p>
                                            <p><a href="repl_href" class="ups-link_light helpIconR">adult signature required</a></p>
                                        </div>
                                    </div>
                                    <!-- End Column -->
                                    <div class="col-xs-6">
                                        <div class="ups-form_ctaGroup">
                                            <button class="ups-cta ups-cta_primary ups-extended" type="submit">Change Delivery</button>
                                            <button class="ups-cta ups-cta_primary ups-extended" type="submit">Request Status Updates</button>
                                            <button class="ups-cta ups-cta_primary ups-extended" type="submit">Report a Claim</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Sub Body -->
                        </div>
                        <!-- End Sub Module -->

                    </div>
                    <!-- End Column -->

                    <!-- Begin Column -->
                    <div class="col-xs-3">
                        <!-- Begin Shipping Information Panel -->
                        <div class="panel panel-default">
                            <!-- Begin Panel Header -->
                            <div class="panel-heading">Shipping Information</div>
                            <!-- End Panel Header -->

                            <!-- Begin Panel Body -->
                            <div class="panel-body">
                                <div class="ups-group">
        	                       <p class="ups-group_label"><strong>From</strong></p>
                                   <p>Saddlebrook, NJ, US</p>
                                   <p>Monday, 00/00/0000</p>
                                </div>
                                <div class="ups-group">
                                	<p class="ups-group_label"><strong>To</strong></p>
                                    <p>John Smith</p>
                                    <address>
                                        <p>2010 Warsaw Rd.</p>
                                		<p>Roswell, GA 30076, US</p>
                                    </address>
                                </div>
                            </div>
                            <!-- End Panel Body -->

                        </div>
                        <!-- End Shipping Information Panel -->

                        <!-- Begin Shipping By Panel -->
                        <div class="panel panel-default">
                            <!-- Begin Panel Header -->
                            <div class="panel-heading">Shipping By</div>
                            <!-- End Panel Header -->
                            <!-- Begin Panel Body -->
                            <div class="panel-body">
                                <p><a href="#" class="ups-link_light">UPS Worldwide Expedited</a> <sup>&reg;</sup></p>
                            </div>
                            <!-- End Panel Body -->
                        </div>
                        <!-- End Shipping By Panel -->
                    </div>
                    <!-- End Column -->
                </div>
            </div>
            <!-- Begin Search Results Module -->
            <p><a onClick="repl_href" class="">back to tracking summary</a></p>

            <!-- End Search Results Module -->
            {{> "pagination_footer" }}
            <!-- End Search Results Module -->
        </div>
        <!-- End Application Body -->
    </div>
    <!-- End Application Module -->
</form>

<!-- /applicationArea end -->
<script type="text/javascript">
    $('#fontControl ul').icfontcontrol();
</script>
