<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
			<td valign="top"><!-- begin page title -->
				<span class="blueboldHead">Search Distribution Lists</span>
				<!-- end page title -->
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="16" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
	</table>
	<!-- end application header -->
	<!-- Begin: Tab Navigation Wrapper -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td valign="top" width="100%"><!-- Begin: Tab Cells -->
				<table border="0" cellpadding="0" cellspacing="0" width="566">
					<tr>
						<td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<!-- TAB ONE-->
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td class="tab-off" valign="top" nowrap><a href="repl_href">Addresses</a></td>
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
						<!-- TAB TWO -->
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td class="tab-on" valign="top" nowrap>Distribution Lists</td>
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					<tr class="mod-line">
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<!-- TAB ONE ON/OFF -->
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<!-- TAB TWO ON/OFF -->
						<td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
				</table>
				<!-- End: Tab Cells -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
					<tr>
						<td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td valign="top">
							<!-- begin application content -->
							<!-- begin search module -->
							<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="564">
								<tr>
									<td><!-- begin module header -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td width="10"><img height="1" border="0" width="10" src="/img/xln_spacer.gif" alt=""/></td>
													<td width="283"><!-- begin module title -->
														<div class="modspacepad"></div>
														<!-- end module title -->
													</td>
													<td><!-- begin module navigation -->
														<div class="uis"><img height="1" border="0" width="1" src="/img/xln_spacer.gif" alt=""/></div>
														<div class="campusship">
															<div align="right" class="modspacepad"><a class="white" href="repl_href">Help<img height="10" border="0" width="3" src="/img/1.gif" alt=""/><img height="9" border="0" width="9" src="/img/icn_help_white.gif" alt="Help"/></a></div>
														</div>
														<!-- end module navigation -->
													</td>
													<td width="10"><img height="1" border="0" width="10" src="/img/xln_spacer.gif" alt=""/></td>
												</tr>
											</tbody>
										</table>
										<!-- end module header -->
									</td>
								</tr>
								<tr>
									<td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
										<table cellspacing="0" cellpadding="0" border="0" width="100%" class="modbgcolor2">
											<tbody>
												<tr>
													<td colspan="5" class="modline2"><img height="3" border="0" width="1" src="/img/xln_spacer.gif" alt=""/></td>
												</tr>
												<tr>
													<td colspan="5"><div class="instrpad"> <span class="bold">Create a New Distribution Lists</span> to create a new list. To find a list, type the first few characters of the list name in the <span class="bold">Find a Distribution List</span> field. To create a shipment with an Distribution List, select <span class="bold">Ship</span>. <br>
														</div></td>
												</tr>
												<tr>
													<td class="nopad" colspan="3"><img alt="" border="0" src="/img/1.gif" height="10" width="1"></td>
												</tr>
												<tr>
													<td class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
													<td align="left" valign="top"><img src="/img/icn_arrow_blue.gif" alt="" border="0" width="10" height="10"><a href="repl_href">Create a New Distribution List</a></td>
													<td class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
												</tr>
												<tr>
													<td class="nopad" colspan="3"><img alt="" border="0" src="/img/1.gif" height="10" width="1"></td>
												</tr>
											</tbody>
										</table>
										<!-- end module column spacing table -->
										<!-- Begin Search Results -->
										<table class=" modbgcolor2" border="0" cellpadding="1" cellspacing="0" width="100%">
											<tr>
												<td width="10" class="nopad"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
												<td valign="top"><span class="bold">Find a Distribution List:</span><br>
													<input maxlength="50" name="Find an Distribution List" size="34" type="text" value="{enter a search phrase}" id="" class="reqTxtInst">
													<input value="Search" name="search" class="btn" type="submit"> <input value="Show All" name="show_all" class="btn" type="button">
													<br>

													<br>
												</td>
												<td class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
											</tr>
											<tr>
												<td class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
												<td><!-- begin results table -->
													<div class="distbListWindow" style="height:244px">
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<!-- Begin Row: Header Rows with vertical spacing -->
															<tr>
																<td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
																<td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td bgcolor="#cccccc" width="150"><img alt="" border="0" height="1" src="/img/1.gif" width="100"></td>
															</tr>
															<tr>
																<td bgcolor="#cccccc" align="center"><div class="spacingResults fldLbl"><span class="bold"><a href="repl_href">Distribution List Name<img alt="" border="0" height="10" src="/img/xln_arrow_black_up.gif" width="10"></a></span></div></td>
																<td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td bgcolor="#cccccc" align="center"><div class="spacingResults"><span class="bold">Delete</span></div></td>
															</tr>
															<tr>
																<td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
																<td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Header Rows with vertical spacing -->
															<!-- Begin Row: Odd Row with vertical spacing -->
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td><div class="spacingResults"><a href="repl_href">[List Name 1]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Odd Row with vertical spacing -->
															<!-- Begin Row: Even Row with vertical spacing -->
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td><div class="spacingResults"><a href="repl_href">[List Name 2]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Even Row with vertical spacing -->
															<!-- Begin Row: Odd Row with vertical spacing -->
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td><div class="spacingResults"><a href="repl_href">[List Name 3]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Odd Row with vertical spacing -->
															<!-- Begin Row: Even Row with vertical spacing -->
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td><div class="spacingResults"><a href="repl_href">[List Name 4]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Even Row with vertical spacing -->
															<!-- Begin Row: Odd Row with vertical spacing -->
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td><div class="spacingResults"><a href="repl_href">[List Name 5]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Odd Row with vertical spacing -->
															<!-- Begin Row: Even Row with vertical spacing -->
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td><div class="spacingResults"><a href="repl_href">[List Name 6]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Even Row with vertical spacing -->
															<!-- Begin Row: Odd Row with vertical spacing -->
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td><div class="spacingResults"><a href="repl_href">[List Name 7]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Odd Row with vertical spacing -->
															<!-- Begin Row: Even Row with vertical spacing -->
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td><div class="spacingResults"><a href="repl_href">[List Name 8]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Even Row with vertical spacing -->
															<!-- Begin Row: Odd Row with vertical spacing -->
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td><div class="spacingResults"><a href="repl_href">[List Name 9]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Odd Row with vertical spacing -->
															<!-- Begin Row: Even Row with vertical spacing -->
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td><div class="spacingResults"><a href="repl_href">[List Name 10]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Even Row with vertical spacing -->
															<!-- Begin Row: Odd Row with vertical spacing -->
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td><div class="spacingResults"><a href="repl_href">[List Name 11]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Odd Row with vertical spacing -->
															<!-- Begin Row: Even Row with vertical spacing -->
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td><div class="spacingResults"><a href="repl_href">[List Name 12]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Even Row with vertical spacing -->
															<!-- Begin Row: Odd Row with vertical spacing -->
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td><div class="spacingResults"><a href="repl_href">[List Name 99]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#ffffff">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Odd Row with vertical spacing -->
															<!-- Begin Row: Even Row with vertical spacing -->
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td><div class="spacingResults"><a href="repl_href">[List Name 100]</a></div></td>
																<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																<td align="center"><div class="spacingResults"><a href="repl_href">Delete</a></div></td>
															</tr>
															<tr bgcolor="#cccccc">
																<td colspan="3" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
															</tr>
															<!-- End Row: Even Row with vertical spacing -->
															<tr bgcolor="#cccccc">
																<td colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
															</tr>
														</table>
													</div>
													<!-- end results table -->
												</td>
												<td class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
											</tr>
											<tr  class="">
												<td class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
												<td><!-- begin record count -->
													Displaying x-x of n
													<!-- end record count -->
													<br>
													<!-- begin pagination -->
													<input value="First" name="page_first" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Previous" name="page_previous" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="1" name="page_1" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="2" name="page_2" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="3" name="page_3" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="4" name="page_4" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="5" name="page_5" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="6" name="page_6" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="7" name="page_7" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="8" name="page_8" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="9" name="page_9" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="10" name="page_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="..." name="page_nextset" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Next" name="page_next" class="btnlnk" type="button">
													<!-- end pagination -->
												</td>
												<td class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
											</tr>
											<tr>
												<td class="nopad" colspan="3"><img alt="" border="0" height="10" src="/img/1.gif" width="1"></td>
											</tr>
										</table>
										<!-- End Search Results -->
									</td>
								</tr>
							</table>
							<!-- end search module -->

							<!-- begin buttons -->
							<table border="0" cellpadding="0" cellspacing="1" width="564">
								<tr>
									<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
								</tr>
								<tr>
									<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									<td align="right" valign="top" width="366"><input value="Cancel" name="cancel" class="btn" type="button"></td>
								</tr>
							</table>
							<!-- end buttons -->

							<!-- end application content -->
						</td>
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
				</table>
				<!-- End Table: Module Table (Parent:Formatting Table) -->
			</td>
		</tr>
	</table>
	<!-- End: Tab Navigation Wrapper -->


<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
