---
title: Login (LASSO)
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>

{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.lasso}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/29/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                                <li>LASSO: TFS: [463374] Revert Social Icons Back to Previous Implementation</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/19/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Maintenance Build - LASSO: TFS: [450058] Update Social Icon Buttons to Rectangular Shaped Buttons</li>
						</ul>
					</div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/09/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>LASSO - RFC 8671 Adding Twitter as Social Login Option TFS: [385855]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>LASSO - Spec update 1.7, TFS: [327331]</li>
                            <li>LASSO - UTA Update, TFS: [306093]</li>
                            <li>LASSO - HTML content update, TFS: [314163]</li>
                            <li>LASSO - Content Updates, TFS: [313401]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/27/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>LASSO - spec update vA1.6</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>DOA/LASSO - TFS: [297286]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/13/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>LASSO spec update vA1.5</li>
                            <li>Updated LASSO login [296869]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/11/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added Reset Password Page</li>
                            <li>Updated Content</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/16/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #296477 - Updated field error text</li>
							<li>TFS #296467 - Updated spacing on Sign In page</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/02/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visual Defect - Error border added</li>
                            <li>Changed hidden text on check mark</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/23/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Added UTA pages</li>
							<li>Updated Content on Pages for vA1.4</li>
							<li>Added Security Question Verification Pages</li>
                            <li>Updated GPS ID for the pages to match the spec</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/28/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec Update vA1.2</li>
							<li>Fixed Visual defect causing fields/pages not to appear</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/21/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Update page structure to more clearly distinguish where WEM HTML stops and where APP HTML starts</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/25/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec Update v1.2 - added Link My ID (ct1_reg_link)</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/07/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Combined login accordion headers under 1 header</li>
							<li>Renamed SSO, LASSO</li>
							<li>divided partial file into 3 files
								<ul>
									<li>sso_partial</li>
									<li>sso_login_partial</li>
									<li>sso_content_page_partial</li>
								</ul>
							</li>
							<li>New Content site wide</li>
							<li>Pages added
								<ul>
									<li>Forget User ID or Password</li>
									<li>Forgot Confirmation</li>
									<li>My UPS User Email Validation</li>
									<li>Report Fraud</li>
									<li>Fraud Reported Confirmation</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/05/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Log In</li>
							<li>Change Password</li>
							<li>Password Updated</li>
							<li>Review Service Agreement</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/12/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Input defect in Change Password</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
