---
title: Please review the UPS Technology Agreement.
appId: lasso
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner ups-app_sso">
			{{> sso_uta_partial lasso.uta_error }}
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
