<form action="repl_faction">
    <!-- Begin Table: Page Header no Icon -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td class="pi-h1" valign="top" id="">
                Port of Export
            </td>
        </tr>
    </table>
    <!-- End Table: Page Header no Icon -->

    <!-- Begin Table: Formatting Table 2col plus 2col -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
        <tr>
            <td valign="top" width="278">
                <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td class="pi-mA1-t" valign="top">
                            <!-- Begin Table: Module Title (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-m-txt-title">
                                        Port of Export Look Up
                                    </td>
                                    <td class="pi-m-txt-title-link" nowrap>
                                        <a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Module Title (Parent:Module Table) -->
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c-t-spc">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c" valign="top">

                            <!-- Begin: Parent:Formatting table -->
                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" width="278">

                                            <!-- Begin: Left column -->

                                            <table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <div class="pi-m-pad">
                                                            <span class="pi-h3">Ship From:</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img alt="" border="0" height="4" src="/img/1.gif" width="1">
                                                    </td>
                                                </tr>
                                            </table>

                                            <!-- End: Left column -->

                                        </td>
                                        <td width="10">
                                            <!-- Begin: gutter spacing column -->
                                            <img height="1" alt="" src="/img/1.gif" width="10" border="0">
                                            <!-- End: gutter spacing column -->
                                        </td>
                                        <td valign="top" width="278">
                                            <!-- Begin: Right column -->

                                            <table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <div class="pi-m-pad">
                                                            <span class="pi-h3">Ship To:</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img alt="" border="0" height="4" src="/img/1.gif" width="1">
                                                    </td>
                                                </tr>
                                            </table>

                                            <!-- End: Right column -->

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End: Parent:Formatting table -->

                            <!-- Begin: Parent:Formatting table -->
                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" width="278">

                                            <!-- Begin: Left column -->

                                            <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <div class="pi-m-pad">
                                                            <strong>Country or Territory:</strong><br>
                                                            <select name="repl_fname" class="modSelMedium2" size="1" id="">
                                                                <option id="">Select One</option>
                                                            </select>
                                                            <img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><img align="bottom" alt="" border="0" height="8" src="/img/icn_diamond.gif" width="11"> <br>
                                                            <strong>State:</strong><br>
                                                            <select name="repl_fname" class="modSelMedium2" size="1" id="">
                                                                <option id="">Select One</option>
                                                            </select>
                                                            <img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><img align="bottom" alt="" border="0" height="8" src="/img/icn_diamond.gif" width="11"> <br>
                                                            <strong>Zip Code:</strong><br>
                                                            <input class="modTxtMedium" maxlength="" size="" type="text" value="" id="" name="">
                                                            <img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><img align="bottom" alt="" border="0" height="8" src="/img/icn_diamond.gif" width="11"> <br>
                                                            <strong>Service:</strong><br>
                                                            <select name="repl_fname" class="modSelMedium2" size="1" id="">
                                                                <option id="">Select One</option>
                                                            </select>
                                                            <img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><img align="bottom" alt="" border="0" height="8" src="/img/icn_diamond.gif" width="11"> <br>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- End Table: Functional Table 2 (Parent:Module Table) -->

                                            <!-- End: Left column -->

                                        </td>
                                        <td width="10">
                                            <!-- Begin: gutter spacing column -->
                                            <img height="1" alt="" src="/img/1.gif" width="10" border="0">
                                            <!-- End: gutter spacing column -->
                                        </td>
                                        <td valign="top" width="278">
                                            <!-- Begin: Right column -->

                                            <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <div class="pi-m-pad">
                                                            <strong>Country or Territory:</strong><br>
                                                            <select name="repl_fname" class="modSelMedium2" size="1" id="">
                                                                <option id="">[Profile Country or Territory]</option>
                                                            </select>
                                                            <img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><img align="bottom" alt="" border="0" height="8" src="/img/icn_diamond.gif" width="11"> <br>
                                                            <strong>Province/County/District:</strong><br>
                                                            <select name="repl_fname" class="modSelMedium2" size="1" id="">
                                                                <option id="">Select One</option>
                                                            </select>
                                                            <img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><img align="bottom" alt="" border="0" height="8" src="/img/icn_diamond.gif" width="11"> <br>
                                                            <strong>Postal/Zip Code:</strong><br>
                                                            <input class="modTxtMedium" maxlength="" size="" type="text" value="" id="" name="">
                                                            <img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><img align="bottom" alt="" border="0" height="8" src="/img/icn_diamond.gif" width="11"> <br>
                                                            <br>
                                                            <input type="button" class="btn_a" value="Search" id="">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- End Table: Functional Table 2 (Parent:Module Table) -->

                                            <!-- End: Right column -->

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End: Parent:Formatting table -->

                            <!-- Begin: Parent:Formatting table -->
                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" width="100%">
                                            <table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="pi-m-pad">
                                                                <table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <img alt="" border="0" height="10" src="/img/1.gif" width="1">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="pi-mA1-line">
                                                                                <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="3">
                                                                                <img alt="" border="0" height="10" src="/img/1.gif" width="1">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="pi-m-pad">
                                                                Results are based on your shipment information displayed above.<br>
                                                                <br>

                                                                <!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" nowrap="">
                                                                                <strong>Port of Export:</strong>
                                                                            </td>
                                                                            <td>
                                                                                <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                                            </td>
                                                                            <td valign="top" width="100%">
                                                                                [0000]
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="3">
                                                                                <img alt="" border="0" height="4" src="/img/1.gif" width="1">
                                                                            </td>
                                                                        </tr>
                                                                        <!-- <tr>
                                                                                                        <td valign="top" nowrap=""><strong>Estimated Export Date:</strong></td>
                                                                                                        <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                                                                                                        <td valign="top" width="100%">[Weekday], [MM/DD/YYYY]</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td colspan="3"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                                                                                                    </tr> -->
                                                                        <tr>
                                                                            <td valign="top" nowrap="">
                                                                                <strong>Carrier Name:</strong>
                                                                            </td>
                                                                            <td>
                                                                                <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                                            </td>
                                                                            <td valign="top" width="100%">
                                                                                [UPS]
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="3">
                                                                                <img alt="" border="0" height="4" src="/img/1.gif" width="1">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top" nowrap="">
                                                                                <strong>Carrier Code:</strong>
                                                                            </td>
                                                                            <td>
                                                                                <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                                            </td>
                                                                            <td valign="top" width="100%">
                                                                                [5X]
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="3">
                                                                                <img alt="" border="0" height="4" src="/img/1.gif" width="1">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <!-- End Table: Functional Table 3 (Parent:Module Table) -->

                                                                <br>
                                                                <strong>Note:</strong> The Export Date for your shipment is estimated from the pickup date. Typically, it is one business day later for air shipments and two business days later for ground and freight shipments.
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End: Parent:Formatting table -->

                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c-b-spc">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-line">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-b" valign="top">
                            <!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-m-button" nowrap>
                                        <input type="button" class="btn" value="Done" id="">
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Form Control Buttons(Parent:Module Table) -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Begin Table: Formatting Table 2col plus 2col -->
</form>
