<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>forgot user id or password</h1>


				<!-- Begin Application Module -->
				<div class="appLvl mod col18 clearfix">
				<fieldset><legend></legend>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>temporary password sent</h2>

						<!-- //////////////////////////////////////////////// -->
						<!-- USE THIS HEADER SECTION FOR User IDs Sent Module -->
						<h2>user ids sent</h2>
						<!-- USE THIS HEADER SECTION FOR User IDs Sent Module -->
						<!-- //////////////////////////////////////////////// -->

					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">


						<!-- /////////////////////////////////////////////////// -->
						<!-- USE THIS SECTION FOR Temporary Password Sent Module -->
                        <!-- begin RFC -->
						<p class="criticalMessage">your password has been successfully updated. you will receive an e-mail notification with the temporary password.</p>
                        <p class="criticalMessage">for your protection, your payment card information (if any) has been removed from your campusship preferences.</p>
						<!-- end RFC -->
                        <!-- END USE THIS SECTION FOR Temporary Password Sent Module -->
						<!-- /////////////////////////////////////////////////////// -->


						<!-- ///////////////////////////////////////// -->
						<!-- USE THIS SECTION FOR User IDs Sent Module -->
						<!-- begin RFC -->
                        <p class="criticalMessage">the user ids for the following e-mail address have been sent to:</p>
						<p><span class="label">{ e-mail address }</span></p>
						<!-- end RFC -->
                        <!-- END USE THIS SECTION FOR User IDs Sent Module -->
						<!-- ///////////////////////////////////////////// -->


					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="continue" class="btnArw" />
						</div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->

		<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
