  <!-- Begin Application Module -->
<div class="appLvl col12 mod marginBegin clearfix">
	<fieldset>
		<form action="repl_faction">
			<!-- Begin Applicaiton Header -->
			<div class="appHead clearfix">
				<h2>Log In</h2>
			</div>
			<!-- End Application Header -->
			
			<!-- Begin Application Body -->
			<div class="appBody clearfix">
			
				<!-- Begin Section Module -->
				<div class="secLvl">
					
					<!-- Begin Section Body -->
					<div class="secBody step clearfix">
						<fieldset>
							<dl clsas="group">
								<dt><label id="repl_id" for="repl_id">User ID:</label></dt>
								<dd><input id="repl_id" type="text"></dd>
								<dt><label id="repl_id" for="repl_id">Password:</label></dt>
								<dd><input id="repl_id" type="text"></dd>
							</dl>
							
							<p>By logging in to UPS.com, you agree to the following <a class="btnlnkR newWindowIconR" href="repl_href">Terms and Conditions</a>.</p>
							
							<p><a id="" class="btnlnkL arrowIcon" href="repl_href">Forgot Password</a></p>
						</fieldset>
					</div>
					<!-- End Section Body -->
				
				</div>
				<!-- End Section Module -->
				
			</div>
			<!-- End Application Body -->
			
			<!-- Begin Application Footer -->
			<div class="appFooter">

				<!-- Begin Button Bar Row -->
				<div class="btnBar">
					<input name="Input" type="submit" value="Log In" class="btnArw">
				</div>
				<!-- End Button Bar Row -->

			</div>
			<!-- End Application Footer -->
		
		</form>
	</fieldset>
</div>
<!-- End Application Module -->


<!-- Begin Application Module -->
<div class="appLvl mod appMultiple colPad col6 marginEnd clearfix">
	<!-- Begin Applicaiton Header -->
	<div class="appHead clearfix">
		<h2>Reasons to Register</h2>
	</div>
	<!-- End Application Header -->
	
	<!-- Begin Application Body -->
	<div class="appBody clearfix">
		<fieldset>
			<p>Registering for My UPS allows you to void shipment not processed within the past 24 hours.</p>
			<p><a id="" class="btnlnkL arrowIcon" href="repl_href">Learn More</a></p>
			<p><a id="" class="btnlnkL arrowIcon" href="repl_href">Register</a></p>
		</fieldset>
	</div>
	<!-- End Application Body -->
</div>
<!-- End Application Module -->

<div class="clear"></div>
        