---

appId: nbs
breadcrumb: [{name: Home, link: home.html}, {name: Link, link: link.html}, {name: Link, link: link.html}, {name: Link, link: link.html},]
dir: ltr
lang: en
---




<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner ups-app_confirmation">
				{{> confirmation_partial confirmation}}	
		</div>
	</div>
</main>


