<p>If you continue, we'll remove this household member from your UPS My Choice membership.</p>
<form name="deleteHouseholdPopUp" error-on-submit>
	<div class="ups-group">
        <p><span class="ups-group_label">Household Member:</span> <span class="ups-group_value">{{ householdMember }}</span></p>
   
    </div>
	<div class="ups-form_ctaGroup text-center">
        <button type="submit" data-ng-click="deleteHouseholdMem()"
            class="ups-cta ups-cta_primary">Yes</button>
        <button type="submit" class="ups-cta ups-cta_primary ups-cta_tertiary" data-ng-click="back()">No</button>
	</div>
	<!-- ups-form_ctaGroup -->
</form>
