<div class="ups-verifyAuthentication">
	<h2>Verify Your	Identity</h2>
	<div class="ups-verifyAuth_body">
		<div data-ng-if="user.user_type.locale.inCountry">
			<!--<p>We need to verify your identity before you can continue your enrollment.</p>-->
			<p><strong>Receive Activation Code by Mail</strong></p>
			<p>Our last step to complete your enrollment. Request your letter with a code and instructions on how to verify your identity.</p>
		</div>
		<div data-ng-if="!user.user_type.locale.inCountry">
			<p><strong>Receive Activation Code by Mail</strong></p>
			<p>Our last step to complete your enrollment. Request your letter with a code and instructions on how to verify your identity.</p>
		</div>
	</div>
	<div class="col-md-5">
		<div class="ups-form_ctaGroup">
			<button type="button" class="ups-cta ups-cta-primary" data-ng-click="submit()">Send My Code</button>
			<button type="button" class="ups-cta ups-cta_secondary" data-ng-click="openCancelPopUp()">Cancel</button>
		</div>
	</div>	
</div>