<div class="ups-cms-demo ups-modal-wrapper"> 
    <!-- LOGIN CONTENT --> 
    <!-- Button trigger modal -->
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal('US')" type="button"
					class="ups-cta ups-cta_primary">Log In</button>
        <label for="Agreement_checkbox"
					class="ups-form_label ups-checkbox-custom-label">
            <input
					id="Agreement_checkbox" check-verify class="ups-checkbox-custom"
					data-ng-click="setCheckBox(formObj.Agrement)"
					name="Agreement_checkbox" type="checkbox"
					data-ng-model="formObj.Agrement" data-ng-checked="formObj.Agrement">
            UPS Technology Agreement
            changed </label>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleModal(NONUS)" type="button"
					class="ups-cta ups-cta_primary">Log In Non US</button>
        <label for="Agreement_checkbox_NONUS"
					class="ups-form_label ups-checkbox-custom-label">
            <input
					id="Agreement_checkbox_NONUS" check-verify class="ups-checkbox-custom"
					data-ng-click="setCheckBox(formObj.Agrement)"
					name="Agreement_checkbox_NONUS" type="checkbox"
					data-ng-model="formObj.Agrement" data-ng-checked="formObj.Agrement">
            UPS Technology Agreement
            changed </label>
    </div>
    <br>
    <div class="ups-form_ctaGroup ">
        <button data-ng-click="toggleProgressBarModal()" type="button"
					class="ups-cta ups-cta_primary">Export/Import Progress Error</button>
    </div>
</div>
