<ng-form name="myForm.ups_addStatementDecForm" novalidate>
	<!-- //// begin ups.ppc-add-statement-Dec-modal //// -->
    <!-- ADD STATEMENT DECLARATION DIAOGUE -->
    <p> 
    	<em> 
        	<span aria-hidden="true">*</span> 
            <span class="ups-readerTxt">Required</span> 
            Indicates required field 
        </em> 
    </p>
    
    <div class="ups-form_group ups-checkbox_group" data-ng-if="isEditModal">
        <div class="ups-checkbox ups-input_wrapper "
            data-errormsg="Agreement to Terms &amp; Conditions is required.">
            <input check-verify id="ups-new-statement"
                class="ups-checkbox-custom" name="ups-new-statement" value="1"
                type="checkbox" data-ng-model="formObj.cBoxNewStatement"
                data-ng-checked="formObj.cBoxNewStatement"
                data-ng-click="saveNewStatement(formObj.cBoxNewStatement)"
                data-ng-disabled="isAddDisabled">
            <label for="ups-new-statement"
                class="ups-form_label ups-checkbox-custom-label"> Save this as a new statement.</label>
        </div>
    </div>
    <!-- ups-checkbox ups-input_wrapper --> 
    
    <div class="ups-form_group ups-form_required"
        data-ng-class="{ 'has-error' : myForm.ups_addStatementDecForm.statementName.$invalid && !myForm.ups_addStatementDecForm.statementName.$pristine }">
        <label for="ups-statement_name_input" class="ups-form_label"> Name <span aria-hidden="true" class="ups-required_indicator"></span> </label>
        <div data-ng-if="!isEditModal || newStatementChecked"
            class="ups-text_wrapper ups-input_wrapper"
            data-errormsg="This field is required">
            <input error-on-blur type="text" name="statementName"
                class="ups-form_input" id="ups-statement_name_input"
                data-ng-model="formObj.statement_name" aria-required="true" required maxlength="40">
            <span class="ups-invalid_color"
                data-ng-show="!myForm.ups_addStatementDecForm.statementName.$pristine && myForm.ups_addStatementDecForm.statementName.$invalid" role="alert"> <span class="icon ups-error_exclamation"><span class="ups-icon-exclamation" aria-hidden="true"></span></span> <span class="ups-readerTxt">Invalid</span> <span
            data-ng-show="myForm.ups_addStatementDecForm.statementName.$error.required">Statement
            Name is required.</span> </span> <span class="ups-invalid_color" role="alert"> <span
            data-ng-if="isDupName">Name already exists</span> </span>
            <div data-ng-if="(myForm.ups_addStatementDecForm.statementName.$valid && myForm.ups_addStatementDecForm.statementName.$dirty)"> <span class="ups-icon-check" aria-hidden="true"></span> 
                <!-- @Note: screen reader text needs to be translated as well --> 
                <span class="ups-readerTxt">Check</span> </div>
        </div>
        <p data-ng-if="isEditModal && !newStatementChecked">{{statementName}}</p>
        <!-- ups-text_wrapper ups-input_wrapper --> 
    </div>
    <!-- ups-form_group ups-form_required -->
    
    <div class="ups-form_group ups-form_required ">
        <label for="ups_uid_declaration_text" class="ups-form_label"> Text 
            <span aria-hidden="true" class="ups-required_indicator"></span> 
        </label>
        <div class="ups-textArea_wrapper ups-input_wrapper"
            data-errormsg="Please provide a message.">
            <textarea class="ups-textArea" id="ups_uid_declaration_text"
                rows="8" maxlength="550" name="ups_uid_declaration_text"
                data-ng-model="formObj.statementContent" aria-required="true" required></textarea>
            <span class="ups-invalid_color"
                data-ng-show="!myForm.ups_addStatementDecForm.ups_uid_declaration_text.$pristine && myForm.ups_addStatementDecForm.ups_uid_declaration_text.$invalid" role="alert"> <span class="icon ups-error_exclamation"><span class="ups-icon-exclamation" aria-hidden="true"></span></span> <span class="ups-readerTxt">Invalid</span> <span
            data-ng-show="myForm.ups_addStatementDecForm.ups_uid_declaration_text.$error.required">Statement
            Text is required.</span> </span>
            <p class="ups-textArea_characters"></p>
        </div>
        <em><span>Up to 550 characters.</span></em> </div>
        
    <div class="ups-form_group">
        <div class="ups-checkbox ups-input_wrapper "
            data-errormsg="Agreement to Terms &amp; Conditions is required.">
            <input check-verify id="ups_default_statement"
                class="ups-checkbox-custom" name="ups_default_statement" value="1"
                type="checkbox" data-ng-model="formObj.Default"
                data-ng-checked="formObj.Default">
            <label for="ups_default_statement"
                class="ups-form_label ups-checkbox-custom-label">Make this my default declaration statement.</label>
        </div>
    </div>
    <!-- ups-checkbox ups-input_wrapper --> 
            
    <div class="ups-form_ctaGroup text-center">
        <button type="submit"
        class="ups-cta ups-cta_primary"
        data-dismiss="{{isDupName ? '' : 'modal'}}"
        data-ng-click="saveStatement(formObj.statement_name,formObj.statementContent,formObj.Default)">Save</button>
        <!-- data-ng-disabled="(isEdModal && !myForm.ups_addStatementDecForm.$dirty) || (!isEdModal && !myForm.ups_addStatementDecForm.$valid)" -->
        
        <button type="submit" class="ups-cta ups-cta_secondary "
        data-ng-click="cancel()">Cancel</button>
    </div>
    <!-- ups-form_ctaGroup -->
	<!-- //// end ups.ppc-add-statement-Dec-modal //// -->
</ng-form>
