<div class="ups-cms-demo">
    <h3>Promotion Conflict Modals</h3>
	<button class="ups-cta ups-cta-primary" ng-click="promoConflict()">Promotion Conflict</button><br><br>
    <button class="ups-cta ups-cta-primary" ng-click="promoConflictOld()">Promotion Conflict (Recommend Current)</button><br><br>
    <button class="ups-cta ups-cta-primary" ng-click="promoConflictNew()">Promotion Conflict (Recommend New)</button>
    <hr />
    <h3>Promo Terms and Conditions Modal</h3>
    <button class="ups-cta ups-cta-primary" ng-click="promoTermsConditions()">Promo Terms and Conditions</button>
</div>
