
<form name="ups_chooseLocation" error-on-submit novalidate>
	<!-- <div class="row">
		<div class="col-md-5">
			Map will come here!
			<div ng-repeat="location in locationVal">
				<input type="radio" ng-model="form.locationVal" name="foo" value="{{location.val}}" class="ups-radio-custom" id="{{location.id}}"/>
				<label for="{{location.id}}" class="ups-radio-custom-label">{{location.name}}</label>
        	</div>
		</div>
	</div> -->
	<div class="ups-group">

            	<p class="ups-form_label">UPS Access Point&trade; Locations Near</p>
                <address>
                	1234 Main Street<br>
                    Roswell, GA 30076
                </address>
                <p>Select a new delivery location from the list of participating UPS Access Point&trade; locations below.</p>
                <div class="row">
                	<div class="col-md-5">
                    	<div class="panel panel-default">
                    		<p class="ups-form_label panel-heading">Select a Location</p>
                        	<div class="panel-body">
                                <div class="ups-locator_container">
                                    <fieldset class="ups-form_group">
                                        <legend class="ups-readerTxt">Choose location below</legend>
                                        <div class="ups-buttonList_wrapper ups-input_wrapper">
                                            <input id="upsAPLocation1" class="ups-radio-custom" name="upsAPLocation" value="1" type="radio" data-ng-model="formObj.upsLocation1">

                                            <label for="upsAPLocation1" class="">
                                                <!--<span class="ups-locator_miles pull-right">
                                                    1.1 mi
                                                </span>
                                                <span class="ups-locator_icon pull-left">
                                                    <span class="icon ups-icon-locationups" aria-hidden="true"></span>
                                                </span>-->
                                                <span class="ups-locator_number pull-right">
                                                    <span class="icon ups-icon-locationfull" aria-hidden="true"></span>
                                                    <div class="ups-locator_number_rank">1</div>
                                                    <div class="ups-locator_milage">1.1 mi</div>
                                                </span>
                                                <span class="ups-locator_address">
                                                    <span class="ups-form_label">The UPS Store</span>
                                                    <address class="ups-address_condensed">
                                                        3000 Old Alabama Rd. 119<br>
                                                        Alpharetta, GA 30022<br>
                                                        US
                                                    </address>
                                                    <p>770-740-0169</p>
                                                    <p><a href="#" class="ups-link">View Details<span class="ups-readerTxt"> for 3000 Old Alabama Rd. 119, Alpharetta, GA 30022, US</span></a></p>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="ups-buttonList_wrapper ups-input_wrapper">
                                            <input id="upsAPLocation2" class="ups-radio-custom" name="upsAPLocation" value="2" type="radio" data-ng-model="formObj.upsLocation1">

                                            <label for="upsAPLocation2" class="">
                                                <!--<span class="ups-locator_miles pull-right">
                                                    1.5 mi
                                                </span>
                                                <span class="ups-locator_icon pull-left">
                                                    <span class="icon ups-icon-locationups" aria-hidden="true"></span>
                                                </span>-->
                                                <span class="ups-locator_number pull-right">
                                                    <span class="icon ups-icon-locationfull" aria-hidden="true"></span>
                                                    <div class="ups-locator_number_rank">2</div>
                                                    <div class="ups-locator_milage">1.5 mi</div>
                                                </span>
                                                <span class="ups-locator_address">
                                                    <span class="ups-form_label">The UPS Store</span>
                                                    <address class="ups-address_condensed">
                                                        2300 Holcomb Bridge Rd<br>
                                                        Ste 103<br>
                                                        Roswell, GA 30076<br>
                                                        US
                                                    </address>
                                                    <p>678-352-7934</p>
                                                    <p><a href="#" class="ups-link">View Details<span class="ups-readerTxt"> for 2300 Holcomb Bridge Rd Ste 103, Roswell, GA 30076, US</span></a></p>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="ups-buttonList_wrapper ups-input_wrapper">
                                            <input id="upsAPLocation3" class="ups-radio-custom" name="upsAPLocation" value="3" type="radio" data-ng-model="formObj.upsLocation1">

                                            <label for="upsAPLocation3" class="">
                                                <!--<span class="ups-locator_miles pull-right">
                                                    1.9 mi
                                                </span>
                                                <span class="ups-locator_icon pull-left">
                                                    <span class="icon ups-icon-locationups" aria-hidden="true"></span>
                                                </span>-->
                                                <span class="ups-locator_number pull-right">
                                                    <span class="icon ups-icon-locationfull" aria-hidden="true"></span>
                                                    <div class="ups-locator_number_rank">3</div>
                                                    <div class="ups-locator_milage">1.9 mi</div>
                                                </span>
                                                <span class="ups-locator_address">
                                                    <span class="ups-form_label">The UPS Store</span>
                                                    <address class="ups-address_condensed">
                                                        1425 Market Blvd 330<br>
                                                        Roswell, GA 30076<br>
                                                        US
                                                    </address>
                                                    <p>770-518-8900</p>
                                                    <p><a href="#" class="ups-link">View Details<span class="ups-readerTxt"> for 1425 Market Blvd 330, Roswell, GA 30076, US</span></a></p>
                                                </span>
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="ups-locator_pager">
                                    <div class="ups-locator_previous_page ups-btn_has_icon">
                                        <button type="button" class="ups-link">
                                            <span class="icon ups-icon-chevronleft-thin" aria-hidden="true"></span>
                                            Previous
                                        </button>
                                    </div>
                                    <div class="ups-locator_next_page ups-btn_has_icon">
                                        <button type="button" class="ups-link">
                                            Next
                                            <span class="icon ups-icon-chevronright-thin" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="ups-locator_current_page">
                                        1-10 of 100
                                    </div>
                                </div>
                        	</div>
                        </div>
                        <p class="ups-form_label">Location Filter Options</p>
                        <div class="ups-form_group">
                            <div class="ups-checkbox ups-input_wrapper">
                                <input id="locationFilterLockers" class="ups-checkbox-custom" name="ups-uid-form_title-checkboxterms" value="1" type="checkbox">
                                <label for="locationFilterLockers" class="ups-checkbox-custom-label">
                                    Only show UPS Access Point&trade; lockers
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="visible-sm visible-xs">
                    <div class="col-md-7">
                    	<div data-ng-if="(!upsLocationsButtons)">
                    		<p><button class="ups-link ups-btn_has_icon">
                        		<span class="icon ups-icon-chevronleft-thin" aria-hidden="true"></span>
                            	Show All Locations
                            </button></p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="ups-form_label">
                                        <button class="ups-link pull-right">Print</button>
                                        Driving Directions
                                    </p>
                                </div>
                            </div>
                            <div class="ups-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="ups-form_label">From</p>
                                        <address>
                                            1234 Main Street<br>
                                            Roswell, GA 30076<br>
                                            US
                                        </address>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="ups-form_label">From</p>
                                        <address>
                                            2300 Holcomb Bridge Rd<br>
                                            Suite 103<br>
                                            Roswell, GA 30076<br>
                                            US
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    	<div class="ups-group">
                        	<div class="ups-cms-demo" data-ng-class="{'ups-cms_map_adl_demo': upsLocationsButtons}">
                        		Map
                            </div>
                        </div>
                        <div class="ups-group ups-locator_directions" data-ng-if="(!upsLocationsButtons)">
                        	<div class="row">
                            	<div class="col-xs-6">
                                	<p class="ups-form_label">Directions</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                	<p class="ups-form_label">Distance</p>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-xs-6">
                                	<p>1. Driving instructions go here...</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                	<p>0.08 mi</p>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-xs-6">
                                	<p>2. Driving instructions go here...</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                	<p>0.19 mi</p>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-xs-6">
                                	<p>3. etc</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                	<p>1.2 mi</p>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-xs-6">
                                	<p class="ups-form_label">Total Driving Distances</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                	<p class="ups-form_label">n.nn mi</p>
                                </div>
                            </div>
                        </div>
                        <div class="ups-group" data-ng-if="directionsShown">
                        	<div class="row">
                            	<div class="col-md-6">
                                    <p class="ups-form_label">The UPS Store</p>
                                    <address class="ups-address_condensed">
                                        2300 Holcomb Bridge Rd<br>
                                        Suite 103<br>
                                        Roswell, GA 30076<br>
                                        US
                                    </address>
                                    <p>678-352-7934</p>
                                </div>
                                <div class="col-md-6">
                                	<p class="ups-form_label">Hours of Operation</p>
                                    <p>Mon: 08:30 - 19:00</p>
                                    <p>Tue: 08:30 - 19:00</p>
                                    <p>Wed: 08:30 - 19:00</p>
                                    <p>Thu: 08:30 - 19:00</p>
                                    <p>Fri: 08:30 - 19:00</p>
                                    <p>Sat: 10:00 - 16:00</p>
                                    <p>Sun: Closed</p>
                                </div>
                            </div>
                        </div>
                        <div class="ups-group" data-ng-if="upsLocationsButtons">
                            <p class="ups-group_label">UPS Locations</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ups-help">
                                        <button type="button" ups-help-hover class="ups-link">UPS Customer Center</button>
                                        <div class="ups-help_tooltip ups-help_tooltip_topleft">
                                            <button type="button" class="ups-help_close">
                                                <span class="icon ups-icon-x ups-iconAlone" aria-hidden="true"></span>
                                                <span class="ups-readerTxt">Close</span>
                                            </button>
                                        	<p>A UPS Customer Center provides you with full-service packaging services and convenient hours to handle your last-minute shipping needs.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ups-help">
                                        <button type="button" ups-help-hover class="ups-link">UPS Access Point Locations</button>
                                        <div class="ups-help_tooltip ups-help_tooltip_topleft">
                                            <button type="button" class="ups-help_close">
                                                <span class="icon ups-icon-x ups-iconAlone" aria-hidden="true"></span>
                                                <span class="ups-readerTxt">Close</span>
                                            </button>
                                        	<p>These UPS-affiliated retail locations are neighborhood stores--like newsagents or grocers--offering convenient package drop-off or delivery.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ups-help">
                                        <button type="button" ups-help-hover class="ups-link">The UPS Store&reg;</button>
                                        <div class="ups-help_tooltip ups-help_tooltip_topleft">
                                            <button type="button" class="ups-help_close">
                                                <span class="icon ups-icon-x ups-iconAlone" aria-hidden="true"></span>
                                                <span class="ups-readerTxt">Close</span>
                                            </button>
                                        	<p>A UPS Customer Center provides you with full-service packaging services and convenient hours to handle your last-minute shipping needs.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p data-ng-if="!upsLocationsButtons">These directions are informational only. The information is provided "AS IS," and no representation is made or warranty is given as to the information provided. These directions show one possible route to the location. They are based on data that may not account for weather conditions, construction, detours, one-way streets, turn restrictions or other local conditions. You assume all risk of use. UPS and its suppliers assume no responsibility for any loss or damages resulting from your use of the information provided, even if UPS or its suppliers have been advised of the possibility of such loss or damages.</p>
                        <!-- DO NOT INCLUDE IN PRODUCTION -->
                        <div class="ups-cms-demo">
                            <button type="button" class="ups-cta ups-cta_secondary" data-ng-click="upsLocationsButtons=false">Driving Directions</button>
                            <button type="button" class="ups-cta ups-cta_secondary" data-ng-click="upsLocationsButtons=true">UPS Locations</button>
                        </div>
                        <!-- DO NOT INCLUDE IN PRODUCTION -->
                    </div>
                </div>
                <p><strong>Note:</strong> Locations, hours of operation, and pickup times may change periodically. A government issued photo ID is required when picking up a UPS My Choice&reg; package. Retail rates may vary.</p>

                <p data-ng-if="selectPrimaryLoc" class="ups-invalid_Code">Select your preferred location to continue.</p>

                <div class="ups-form_ctaGroup text-center">
					<button type="submit" class="ups-cta ups-cta_primary" data-ng-click="saveLocation()">Save</button>
					<button type="button" class="ups-cta ups-cta_secondary" data-ng-click="cancel()">Cancel</button>
				</div>

                <!-- <div class="ups-cms-demo">
                	<button class="ups-cta ups-cta_secondary" data-ng-click="directionsShown = true;">Address Selected</button>
                    <button class="ups-cta ups-cta_secondary" data-ng-click="directionsShown = false;">Address Not Selected</button>
                </div> -->
            </div>
	<!-- <div class="ups-form_ctaGroup text-center">
		<button type="submit" class="ups-cta ups-cta_primary"
			data-ng-click="ok(form.locationVal)">Select</button>
            <!-- data-ng-disabled="!form.locationVal"
		<button type="button" class="ups-cta ups-cta_secondary"
			data-ng-click="cancel()">Cancel</button>
	</div> -->
</form>
