<p>
    {{modal_content.downgrade}}
</p>
<div class="ups-address_block">
        <div class="ups-group">
            <p class="ups-group_label">Address</p>
            <p>{{address.street}}<br>
            	{{address.city}}, {{address.stateCode}} {{address.pCode}}
            </p>
        </div>
        <div class="ups-group">
            <p class="ups-group_label">Location Nickname</p>
            <p>{{address.house}}</p>
        </div>
        <div class="ups-group">
            <p class="ups-group_label">Expiration Date</p>
            <p>
                {{address.house}}
            </p>
        </div>
</div>

<div class="ups-form_ctaGroup text-center">
    <button type="submit" class="ups-cta ups-cta_primary"
        data-ng-click="yesDowngrade();">Yes</button>
    <button type="submit" class="ups-cta ups-cta_tertiary"
        data-ng-click="cancel();">No</button>
</div>
