<!-- Mobile Number Not Opted In Modal -->
<div class="ups-box-modal  ups-modal-container">
<div class="ups-modal-container">
      
        	<p>The mobile device number you entered has not yet responded to a previous opt-in request.  If you still wish to submit your requrest, select <strong>Submit</strong>.  If you wish to cancel this request, select <strong>Cancel</strong>.</p>
            
            <div class="ups-no_label text-center">
                <button type="button" class="ups-cta ups-cta_secondary" data-ng-click="closeDialog()">Cancel</button>
                <button type="button" class="ups-cta ups-cta_primary" data-ng-click="modalService.submit()">Submit</button>
            </div>
    
 </div>
 </div>               
            
<!-- End Mobile Number Not Opted In Modal -->