<div data-page-title="Authenticate this device">
    <p>We're sorry, but we do not recognize this device. Please select a PIN delivery option to continue.</p>
    
    <fieldset>
        <legend class="ups-form_label ups-no_label">Choose where you'd like us to send your PIN</legend>
        <div class="ups-buttonList_wrapper ups-input_wrapper">
            <input id="authSMSText" class="ups-radio-custom" name="authMethod" type="radio" value="Text" ng-model="pinMethod">
            <label for="authSMSText" class="ups-radio-custom-label">Text -- to phone ending in 1234</label>
        </div>
        <div class="ups-buttonList_wrapper ups-input_wrapper">
            <input id="authPhone" class="ups-radio-custom" name="authMethod" type="radio" value="Phone" ng-model="pinMethod">
            <label for="authPhone" class="ups-radio-custom-label">Phone -- to phone ending in 1234</label>
        </div>
        <div class="ups-buttonList_wrapper ups-input_wrapper">
            <input id="authEmail" class="ups-radio-custom" name="authMethod" type="radio" value="Email" ng-model="pinMethod">
            <label for="authEmail" class="ups-radio-custom-label">Email -- to jsmith@email.com</label>
        </div>
    </fieldset>
    
    <div class="ups-form_ctaGroup">
        <button type="submit" class="ups-cta ups-cta_primary" ng-click="nextScreen()">Send PIN</button>   
    </div>
</div>