<div class="ups-cms-demo ups-modal-wrapper ups-modal-container">
        <!-- Button trigger modal -->
        <div class="ups-form_ctaGroup">
            <button data-ng-click="toggleModal('normal')" type="button"
                class="ups-cta ups-cta_primary">My Choice Service Terms</button>
            <span>Shows Service Terms dialog without errors</span>
        </div>
		<br/>
        <!-- Button trigger modal -->
        <div class="ups-form_ctaGroup">
            <button data-ng-click="toggleModal('error')" type="button"
                class="ups-cta ups-cta_primary">My Choice Service Terms/ Errors</button>
            <span>Shows Service Terms dialog with errors</span>
        </div>
	<!-- modal
		class="ups-wrap ups-application_wrapper ups-app_onboarding ups-form_wrap"
		visible="showAIAModal" value="modalValues"> </modal-->
</div>