
<div aria-describedby="deleteProfileText" tabindex="0">
	<p id="deleteProfileText">If you continue, we'll permanently remove
		your profile and all saved information, including addresses, contacts,
		payment options and application preferences.</p>
</div>
<form error-on-submit novalidate>
    <div class="ups-form_ctaGroup text-center">
        <button class="ups-cta ups-cta_primary "
            data-ng-click="goToProfilePage()">Yes</button>
        <button class="ups-cta ups-cta_secondary ups-aside-none"
            data-ng-click="cancel()">No</button>
    </div>
</form>