<div class="ups-activationCode ups-form_wrap ups-application_wrapper ups-tab-container" data-page-title="Activate My Membership">
	<!-- //// begin ups.ppc-activation-code-confirm //// -->
    <p class="ups-form_label">We got your request. Expect a letter with your new code in the next two to five business days.</p>

	<p>The letter will provide an activation code and instructions on how to complete your enrollment.</p>

    <div class="ups-group">
        <p class="ups-form_label">User ID</p>
        <p >jsmith#1234</p>
    </div>
    <div class="ups-group">
        <p class="ups-form_label">Name and Address</p>
        <p>{{AddressLine1}}</p>
        <p>{{AddressLine2}}</p>
        <p>{{AddressLine3}}</p>
    </div>
	<div class="ups-form_ctaGroup">
        <button type="submit" class="ups-cta ups-cta_primary" data-dismiss="modal"
            data-ng-click="returnToPrefernces()">Go to My Preferences</button>
        <!--  data-ng-if="Updated" -->
        <button type="submit" class="ups-cta ups-cta_tertiary"
            data-ng-click="printPage()">Print This Page</button>
    </div>
	<!-- //// end ups.ppc-activation-code-confirm //// -->
</div>
