<!-- Mobile Updated Terms and Conditions Modal -->
<div class="ups-box-modal  ups-modal-container">
<div class="ups-modal-container">
      
        	<p>The SMS Terms and Conditions have been updated.  You must acknowledge the current version in order to receive SMS text messages.</p>
            <div class="ups-buttonList_wrapper ups-input_wrapper">
                <input id="agreeTermsConditions" class="ups-checkbox-custom" name="agreeTermsConditions" type="checkbox" value="1">
                <label for="agreeTermsConditions" class="ups-checkbox-custom-label ups-no_label">I certify that this is my own number and I agree to the UPS SMS Program Terms of Use and the UPS Privacy Notice for requested package(s)</label>
            
            <p><a href="repl_href" class="ups-link">SMS Program Terms of Use<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p>
            <p><a href="repl_href" class="ups-link">UPS Privacy Notice <span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p>
            </div>
            <div class="ups-no_label text-center">
                <button type="button" class="ups-cta ups-cta_secondary" data-ng-click="closeDialog()">Cancel</button>
                <button type="button" class="ups-cta ups-cta_primary" data-ng-click="">Submit</button>
            </div>
    
 </div>
 </div>               
            
<!-- End Mobile Updated Terms and Conditions Modal -->