<form error-on-submit data-novalidate>
	<div>
		<p>This action cannot be undone. Please make sure you want to proceed.</p>
	</div>
	
    <div class="row">
		<div class="col-sm-5 col-md-3">
			<p>Name:</p>
		</div>
		<div class="col-sm-7 col-md-9">
			<div class="ups-form_group">
				<p>16% Shipping Discount</p>
			</div>
			<!-- ups-form_group -->
		</div>
	</div>
	
    <div class="row">
		<div class="col-md-3">
			<p>Description:</p>
		</div>
		<div class="col-md-9">
			<div class="ups-form_group">
				<p>
					Promotion description goes here...includes <a target="_blank"
						href="https://www.ups.com/mrd/promodiscount?loc=en_US&promoCd=BON5XYU72"
						class="ups-link ups-new-window">link to promo page.<span
						class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a>
				</p>
			</div>
			<!-- ups-form_group -->
		</div>
	</div>
    
    <div class="ups-form_ctaGroup text-center">
        <button type="submit" class="ups-cta ups-cta_primary"
            data-dismiss="modal" data-ng-click="ok()">Yes</button>
        <button type="submit" class="ups-cta ups-cta_tertiary ups-aside-none"
            data-ng-click="cancel()">No</button>
    </div>
    <!-- ups-form_ctaGroup -->
</form>
