<div class="ups-prefManageAddress ups-application_wrapper ups-form_wrap"
    data-page-title="Membership Information">
    <!--data-ng-controller="myChoiceManageMembershipAddCtrl"-->
    <a point-focus="" href="#/preferencePage/mychoicePreference" class="ups-previous_page"> <span class="icon ups-icon-chevronleft" aria-hidden="true"></span> Back to UPS My Choice Preferences </a>
    <ng-form name="ups_manageMembershipOrAddress" data-novalidate>
        <p> <em> <span aria-hidden="true">*</span> <span class="ups-readerTxt">Required</span> Indicates required field </em> </p>
        <p>Keep your memberships and addresses updated for improved control of home deliveries.</p>
        <h2>My Memberships</h2>
        <div class="ups-table ups-table-decoration">
            <div data-ng-init="length=payementData.paymentMethods.length"
                class="ups-table ups-table-responsive ups-tableScroll">
                <table class="table table-striped">
                    <caption class="ups-readerTxt">
                    Current Delivery address table
                    </caption>
                    <tbody>
                        <tr>
                            <th scope="col" class="col-xs-2 ">Location Nickname</th>
                            <th scope="col" data-ng-init="sortNickName=true"
                                class="col-xs-2 ">Address</th>
                            <th scope="col" data-ng-init="sortNumber=true"
                                class="col-xs-2 ">{{ (isUS) ? 'Expiration Date' : 'Manage Memberships' }}</th>
                            <th scope="col" class="col-xs-2 " data-ng-if="isUS">Manage
                                Memberships</th>
                        </tr>
                        <tr data-ng-repeat="(key, data) in getAddresses() track by $index">
                            <td class="col-xs-2 ">{{data.description}}</td>
                            <td class="col-xs-2 ">{{data.address.street}}<br />
                                {{data.address.city}},&nbsp;&nbsp;{{data.address.stateCode}}&nbsp;{{data.address.pCode}} </td>
                            <td class="col-xs-2 "><p class="ups-multiple-char">{{data.expText}}</p>
                                <p data-ng-if="data.pendingActCode"> <a href="#/preferencePage/mychoice/activationCodeStep1" class="ups-link">Enter
                                    My Activation Code</a> </p>
                                <p> <a class="ups-text-underline ups-link"
                                    	href="#" onclick="return false;"
                                        data-ng-click="openCancelMembership(data.address,data.description,data.memLevel,data.modal_content)"
                                        data-ng-if="data.active && !isUS"> Cancel My Membership </a> </p>
                                <p> <a class="ups-text-underline ups-link"
                                        href="#/preferencePage/mychoice/membershipReactivate"
                                        data-ng-if="!data.active && (data.expired || data.pendingExp || data.cancelled) && !isUS"> Reactivate My Membership </a> </p>
                            </td>
                            <td class="col-xs-2" data-ng-if="isUS"><p data-ng-if="data.active" data-ng-switch="data.memLevel">
                                <a href="#" onclick="return false;" class="ups-link" data-ng-click="upgradeToPremium($index)" data-ng-switch-when="basic">Upgrade To Premium Membership</a>
                                <a href="#" onclick="return false;" class="ups-link"
                                data-ng-click="openDowngradeModal(data.address,data.description,data.memLevel,data.modal_content,$index)" data-ng-switch-when="premium">Downgrade My Premium Membership</a>
                                <!--<a class="ups-text-underline ups-link"
                                        href="#" onclick="return false;" data-ng-if="data.active"> <span
                                        data-ng-switch="data.memLevel"> <span
                                            data-ng-switch-when="basic" data-ng-click="upgradeToPremium($index)">Upgrade To Premium</span> <span
                                            data-ng-switch-when="premium" data-ng-click="upgradeToBasic($index)">Downgrade To Member</span>
                                    </span>--> <!--<span class="ups-readerTxt"> {{data.memLevel}}</span>-->
                                    <!--</a>-->
                                    <!--data-ng-click="addCustomPackage('Edit',data.name,data.length,data.width,data.height,$index)"-->
                                </p>
                                <p> <a class="ups-text-underline ups-link"
                                        href="#/preferencePage/mychoice/membershipRenewal"
                                        data-ng-if="data.memLevel==='premium'">Renew My Membership </a> </p>
                                <p> <a class="ups-text-underline ups-link"
                                    	href="#" onclick="return false;"
                                        data-ng-click="openCancelMembership(data.address,data.description,data.memLevel,data.modal_content)"
                                        data-ng-if="data.active"> Cancel My Membership </a> </p>
                                <p> <a class="ups-text-underline ups-link"
                                        href="#/preferencePage/mychoice/membershipReactivate"
                                        data-ng-if="!data.active && (data.expired || data.pendingExp || data.cancelled)"> Reactivate My Membership </a> </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ups-form_ctaGroup">
            <button type="submit" class="ups-cta ups-cta_primary "
                data-dismiss="modal" data-ng-click="openMyChoiceModal()">Add Another Delivery
            Address</button>

            <!-- data-ng-disabled="isAddDisabled" -->
        </div>
    </ng-form>
    <div class="ups-cms-demo">
        <button type="button" class="ups-cta ups-cta_secondary" data-ng-click="isUS = false;">Non U.S.</button>
        <button type="button" class="ups-cta ups-cta_secondary" data-ng-click="isUS = true;">U.S.</button>
    </div>
</div>
