<!-- Promotion Conflict Modal -->
<div class="ups-box-modal  ups-modal-container">
<div class="ups-modal-container">
    <p>Looks like you've already got a special discount or negotiated rate. Compare the discounts below and choose which one you prefer.</p>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            New Discount Name
        </div>
        <div class="panel-body">
        	<h3 ng-if="(recommendNew)">We recommend that you apply the new discount.</3>
            <p>Some discount description here. Some discount description here. Some discount description here. Some discount description here. </p>
            <a href="repl_href" class="ups-link">View Terms and Conditions <span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a>
            
            <div class="ups-buttonList_wrapper ups-input_wrapper">
                <input id="agreeTermsConditions" class="ups-checkbox-custom" name="agreeTermsConditions" type="checkbox" value="1">
                <label for="agreeTermsConditions" class="ups-checkbox-custom-label ups-no_label">By selecting this checkbox and the Apply New Discount button, I agree to the terms and conditions.</label>
            </div>
            <div class="ups-no_label">
            	<button class="ups-cta ups-cta_primary" ng-click="applyDiscount()">Apply Discount</button>
            </div>
        </div>
    </div>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            Current Conflict Name
        </div>
        <div class="panel-body">
        	<h3 ng-if="(recommendOld)">We recommend that you keep your existing discount.</h3>
            <p>Some discount description here. Some discount description here. Some discount description here. Some discount description here. </p>
            <p><a href="repl_href" class="ups-link">View Terms and Conditions <span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p>
            <p><a href="repl_href" class="ups-link">View Current Savings <span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p>
            <div class="ups-no_label">
                <button class="ups-cta ups-cta_primary" ng-click="keepDiscount()">Keep Discount</button>
            </div>
        </div>
    </div>
 </div>
 </div>               
            
<!-- End Promotion Conflict -->