<div class="ups-cms-demo">
	<button class="ups-cta ups-cta-primary" ng-click="mobileNotification()">Mobile Notifications Manager</button><br><br>
    <button class="ups-cta ups-cta-primary" ng-click="mobileNotificationOptedOut()">Mobile Number Opted Out</button><br><br>
    <button class="ups-cta ups-cta-primary" ng-click="mobileNotificationNotOptedIn()">Mobile Number Not Opted In</button><br><br>
    <button class="ups-cta ups-cta-primary" ng-click="mobileUpdatedTermsConditions()">Updated Terms and Conditions</button>
</div>