<div class="ups-application_wrapper"
	data-ng-class="{'ups-wrap ups-form_wrap':hideHeader}">
    <h2 data-ng-if="hideHeader === true" class="ups-no-modal">Log in.</h2>
    <span class="ups-modal_subtitle ">New
    to UPS? <a href="#" onclick="return false;" data-ng-click="signUpLink()" class="ups-link">Sign up</a> </span>
    <h3 data-ng-show="hideInfo" class="ups-regular_case">Use
        one of these trusted sites.</h3>
    <social data-ng-class="{'social-icons-content-header':hideHeader}"></social>
    <h3 data-ng-if="errorList.length>0" class="ups-invalid_color"><span class="ups-icon-exclamation" aria-hidden="true"></span>Errors:
        (<span data-ng-repeat="err in errorList">{{err.errorCode}}:
        {{err.errorMessage}}</span>) </h3>
    <form name="ups_signupform" error-on-submit novalidate>
        <!-- LOGIN CONTENT -->
        <div data-ng-show="hideInfo">
            <div class="ups-offset-02">
                <h3 class="ups-regular_case">Or enter your own information.</h3>
            </div>
        </div>
        <div data-ng-show="hideInfo">
            <p> <em> <span aria-hidden="true">*</span> <span class="ups-readerTxt">Required</span> Indicates required field </em> </p>
        </div>
        <div  class="row">
            <div class="col-md-5">
                <div class="ups-form_group ups-form_required">
                    <label for="ups-email_input" class="ups-form_label">Email
                        or User ID <span aria-hidden="true" class="ups-required_indicator"></span> </label>
                    <div class="ups-text_wrapper ups-input_wrapper"
						data-errormsg="This field is required">
                        <input error-on-blur
							name="email_input" class="ups-form_input" id="ups-email_input"
							value="" maxlength="50" required data-ng-model="formObj.email"
							title="address@domail.com" aria-describedby="email-error"
							aria-required="true" data-ng-model-options="{updateOn: 'blur'}">
                        <span id="email-error" role="alert"><span class="ups-invalid_color"
							data-ng-if="!ups_signupform.email_input.$pristine && ups_signupform.email_input.$invalid"> <span class="icon ups-error_exclamation"><span class="ups-icon-exclamation" aria-hidden="true"></span></span> <span data-ng-show="ups_signupform.email_input.$error.required">This
                        field is required.</span> <span
								data-ng-hide="ups_signupform.email_input.$error.required">Please
                        enter a valid email address or user ID.</span> </span> <span data-ng-if="ups_signupform.email_input.$valid" > <span class="ups-readerTxt">Check</span> </span> </span>
                        <div data-ng-if="(ups_signupform.email_input.$valid)"> 
                            <!-- @Note: screen reader text needs to be translated as well --> 
                            <span class="ups-icon-check" aria-hidden="true"></span> <span class="ups-readerTxt">Check</span> </div>
                    </div>
                    <!-- ups-text_wrapper ups-input_wrapper --> 
                </div>
                <div class="ups-form_group ups-form_required ups-form_popover ups-form_user_password">
                    <label for="ups-user_password_input" class="ups-form_label"> Password <span aria-hidden="true" class="ups-required_indicator"></span> </label>
                    <div
						class="ups-text_wrapper ups-input_wrapper ups-show_password_wrapper "
						data-errormsg="This field is required">
                        <input error-on-blur type="{{inputType}}" name="password_input"
							class="ups-form_input " id="ups-user_password_input"
							data-original-title="" data-ng-keyup="passwordValidation(pswd)"
							data-ng-model="formObj.password" title="" required
							data-ng-focus="showvalidations = true;"
							aria-describedby="ups-user-password-input-error"
							data-ng-blur="showvalidations=false;showUserValidation=false;checkValidation(formObj.password)"
							maxlength="26" data-ng-model-options="{updateOn: 'blur'}"
							aria-required="true">
                        <button type="button" id="showButton"
							class="ups-cta ups-cta_secondary ups-questions_showhide"
							data-ng-click="showHide($event)" value="Show"
							aria-describedby="ups-show-hide-text">Show</button>
                        <span id="ups-show-hide-text" class="ups-readerTxt">password
                        in plain text</span> <a class="ups-forgetPass ups-fp-rtl" href="#" onclick="return false;"
							data-ng-click="forgotPassword()" class="ups-link">I forgot my password</a> <span
							id="ups-user-password-input-error" role="alert"> <span
							class="ups-invalid_color"
							data-ng-show="!ups_signupform.password_input.$pristine && ups_signupform.password_input.$invalid"> <span class="icon ups-error_exclamation"><span class="ups-icon-exclamation" aria-hidden="true"></span></span> <span
								data-ng-show="ups_signupform.password_input.$error.required">This
                        field is required.</span> </span> <!-- span data-ng-show="isPassBlank" class="ups-invalid_color">This
							field is required2.</span--> 
                        <span data-ng-if="ups_signupform.password_input.$valid" > <span class="ups-readerTxt">Check</span> </span> </span>
                        <div data-ng-if="(ups_signupform.password_input.$valid)"> 
                            <!-- @Note: screen reader text needs to be translated as well --> 
                            <span class="ups-icon-check" aria-hidden="true"></span> <span class="ups-readerTxt">Check</span> </div>
                    </div>
                    <!-- ups-text_wrapper ups-input_wrapper --> 
                </div>
                <!-- ups-form_group ups-form_required -->
                <div class="ups-form_group">
                    <div class="ups-checkbox ups-input_wrapper  "
						data-errormsg="Remember Me">
                        <input check-verify id="ups-offers_checkbox_non-US"
							class="ups-checkbox-custom" name="ups-offers_checkbox" value="1"
							type="checkbox" data-ng-model="rememberMe"
							data-ng-change="check()" data-ng-checked="rememberMe">
                        <label
							for="ups-offers_checkbox_non-US"
							class="ups-form_label ups-checkbox-custom-label">Remember
                            my email or user ID.</label>
                    </div>
                    <!-- ups-checkbox ups-input_wrapper --> 
                </div>
                <!-- ups-form_group --> 
            </div>
        </div>
        <div class="ups-form_group">
            <p>By logging in, I agree to the <a href="https://www.ups.com/content/us/en/resources/ship/terms/technology_agreement.html"
							target="_blank"
							class="ups-new-window" class="ups-link"> UPS Technology Agreement<span class="ups-readerTxt">will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a>. </p>
        </div>
        <!-- ups-form_group -->
        <div class="ups-form_ctaGroup" data-ng-class="{'text-center':!hideHeader}">
            <button type="submit" class="ups-cta ups-cta_primary"
							data-ng-click="submitForm()">Log in</button>
            <!-- data-ng-disabled="!ups_signupform.$valid" --> 
        </div>
        <!-- ups-form_ctaGroup -->
    </form>
</div>
