
<p>Are you sure you want to cancel your activation?</p>
<!-- //// begin ups.ppc-cancelActivationModal //// -->
<form name="deleteAddressPopUp" error-on-submit>
    <div class="ups-form_ctaGroup text-center">
        <button type="submit" data-ng-click="delete()"
                class="ups-cta ups-cta_primary "
                data-dismiss="modal">Yes</button>
        <button type="submit" class="ups-cta ups-cta_primary ups-cta_tertiary "
                data-dismiss="modal" data-ng-click="noDelete()">No</button>
    </div>
    <!-- ups-form_ctaGroup -->
<!-- //// end ups.ppc-cancelActivationModal //// -->
</form>