<div class="ups-confirmation"
	data-ng-controller="FreightShipingPreferenceCtrl"> 
    <!-- //// begin ups.ppc-addEdit-notificationModal //// --> 
    <!-- CONFIRMATION CONTENT -->
    <p> 
        <em> 
            <span aria-hidden="true">*</span> 
            <span class="ups-readerTxt">Required</span> 
            Indicates required field 
        </em> 
    </p>
    
    <form name="ups_addEditNotification" error-on-submit novalidate>
        <div class="row">
            <div class="col-md-5">
                <div class=" ups-form_group ups-form_required">
                    <label for="ups-sendto" class="ups-form_label"> 
                        Send To 
                        <span aria-hidden="true" class="ups-required_indicator"></span> 
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper margin20">
                        <select error-on-blur data-ng-model="obj.send_To" id="ups-sendto"
							name="notification" class="ups-dropdown"
							data-ng-options="notificationTo for notificationTo in formObj.NotificationTo"
							data-ng-change="checkOther()" aria-required="true" required>
                            <option value="" selected>Select One</option>
                        </select>
                        <span role="alert">
                        <span class="ups-invalid_color"
                              data-ng-if="(!ups_addEditNotification.send_To.$pristine && form.ups_addEditNotification.send_To.$invalid)"> <span class="icon ups-error_exclamation"><span
                                class="ups-icon-exclamation" aria-hidden="true"></span></span> <span
                                data-ng-hide="ups_addEditNotification.send_To.$error.required">Invalid
                        Zip Code.</span> </span> </span>
                    </div>
                </div>
                
                <div class=" ups-form_group ups-form_required">
                    <label for="ups-email" class="ups-form_label"> 
                        Email 
                        <span aria-hidden="true" class="ups-required_indicator"></span> 
                    </label>
                    <div data-ng-if="obj.send_To!=='Receiver'"
						class="ups-input_wrapper">
                        <input id="ups-email" error-on-blur validate-email type="email"
							name="email_input" class="ups-form_input"
							maxlength="50" required data-ng-model="obj.email"
							title="address@domail.com"
							data-ng-model-options="{updateOn: 'blur'}"
							aria-describedby="email-error" aria-required="true">
                        <span
							id="email-error" role="alert"><span class="ups-invalid_color"
							data-ng-show="!ups_addEditNotification.email_input.$pristine && ups_addEditNotification.email_input.$invalid"> <span class="icon ups-error_exclamation"> <span
									class="ups-icon-exclamation" aria-hidden="true"></span> </span> <span
								data-ng-show="ups_addEditNotification.email_input.$error.required">This
                        field is required.</span> <span
								data-ng-hide="ups_addEditNotification.email_input.$error.required">Please
                        enter a valid email address.</span> </span> <span data-ng-if="ps_addEditNotification.email_input.$valid"> <span class="ups-readerTxt">Check</span> </span> </span>
                        <div class=""
							data-ng-class="{'ups-active' : ups_addEditNotification.email_input.$valid}"> <span class="ups-icon-check" aria-hidden="true"></span> <span
								class="ups-readerTxt">Check</span> </div>
                    </div>
                    <div data-ng-if="obj.send_To==='Receiver'"
						class="ups-text_wrapper ups-input_wrapper"> <span>{{obj.email}}</span> </div>
                </div>
            </di	v>
        </div>
        <fieldset class="ups-form_group ups-form_required">
            <legend class="ups-form_label"> 
                Alert Type 
                <span aria-hidden="true" class="ups-required_indicator"></span> 
            </legend>
            <div class="ups-buttonList_wrapper"
				data-ng-repeat="notificationFor in obj.alert_Type">
                <input check-verify id="ups-alertType{{$index}}"
                    class="ups-checkbox-custom" name="ups-notification_for"
                    type="checkbox" value="1" data-ng-model="notificationFor.Selected"
                    data-ng-checked="notificationFor.Selected"
                    data-ng-click="alertType()">
                <label for="ups-alertType{{$index}}" class="ups-checkbox-custom-label" aria-required="true" required>{{notificationFor.type}}</label>
            </div>
        </fieldset>
        
        <!-- ups-checkbox ups-input_wrapper -->
        
        <div class="ups-form_ctaGroup text-center">
            <button type="submit" class="ups-cta ups-cta_primary "
                data-ng-click="notificationDone()">Done</button>
            <!-- data-ng-disabled='ups_addEditNotification.$invalid || check' -->
            <button type="submit" class="ups-cta ups-cta_secondary"
                data-ng-click="cancel()">Cancel</button>
        </div>
    </form>
    <!-- //// end ups.ppc-addEdit-notificationModal //// --> 
</div>
