<div class="ups-profileWrapper"
	data-ng-class="{'ups-white-bg':hideHeader}">
	<!-- <uib-tabset active="active" justified="true" data-ng-if="!hideHeader" id="{{nav.id}}" aria-controls="{{nav.id}}" template-url="app_assets/templates/ups.tabset.html">
	<uib-tab index="$index + 1" data-ng-repeat="nav in navData"
		data-ng-init="url=nav.hash" data-ng-click="tabChange($index);" id="{{nav.id}}" aria-controls="{{nav.id}}" class="{{nav.class}}" template-url="app_assets/templates/ups.tab.html">
	<uib-tab-heading>
	<div class=" ups-NavSVP icon ups-icon-informationcircle"
		data-ng-class="'ups-'+nav.hash"></div>
	<span class="ups-NavLSV ups-text-border">{{nav.title}}</span> </uib-tab-heading> <span
		class="ups-NavSVP ups-text-border">{{nav.title}}</span> </uib-tab> </uib-tabset> -->

	<!-- <h1>{{pageTitle}}</h1> -->
	<div class="ups-form_wrap ups-application_wrapper" id="{{tabContentId}}" data-ng-view></div>
</div>