<div class="ups-prefManageAddress ups-prefRenewal" data-page-title="Membership Information">
	<div class="ups-prefManageAddress_contentBody">
		<div class="ups-prefManageAddress_content ups-form_wrap ups-application_wrapper">
			<p>We're sorry to see you go. You'll continue to have access to your premium perks until your membership expires.</p>
			<!--<div class="ups-profileConfirmation col-xs-12">
				<div class="col-xs-4">
					<h3>{{profile.address.head}}</h3>
					<p class="ups-prfMngAddress">
						<span>{{profile.address.street}}</span>
						<span>{{profile.address.city}}</span>
						<span>{{profile.address.country}}</span>
					</p>
				</div>
				<div class="col-xs-4">
					<h3>{{profile.contactInfo.head}}</h3>
					<p class="ups-prfMngAddress">
						<span>{{profile.contactInfo.email}}</span>
						<span>{{profile.contactInfo.phone}}</span>
					</p>
				</div>
				<div class="col-xs-4">
					<h3>{{profile.active_user_info.head}}</h3>
					<p class="ups-prfMngAddress">
						<span>{{profile.active_user_info.id}}</span>
						<span class="ups-facebook_invite">Invite my friends to join UPS My Choice</span>
					</p>
				</div>

			</div>
			<h2>Enjoy Greater Flexibility Over Home Deliveries</h2>

            <p class="ups-prefManageAddress_thanks">UPS My Choice help you manage your most valuable commodity - your time</p>
            <ul>
            	<li>View all UPS home deliveries on the UPS My Choice Delivery Planner </li>
            	<li>Provide specific Leave at instructions for your UPS driver</li>
            	<li>Have your package delivered to a neighbor</li>
            	<li>Request a confirmed 2-hour delivery window
            	<p class="col-xs-12 ups-move_left"><em>(There's a small fee for a 2-hour confirmed delivery window)</em></p></li>
            </ul>
            <div class="ups-form_ctaGroup">
                <button type="submit" class="ups-cta ups-cta_primary" data-ng-click="redirectTrack()">Track Your Package</button>
            </div>-->
            <div class="ups-group">
                <div class="row">
                    <div class="col-md-4">
                        <span class="ups-form_label">Name:</span>
                    </div>
                    <div class="col-md-8">
                        {{ user.first_name }} {{ user.last_name }}<br>
                        {{ user.default_address.street }}<br>
                        {{ user.default_address.city }} {{ user.default_address.zip }}<br>
                        United States
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="ups-form_label">Location Nickname:</span>
                    </div>
                    <div class="col-md-8">
                        My House
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="ups-form_label">Expiration Date:</span>
                    </div>
                    <div class="col-md-8">
                        mm/dd/yyyy
                    </div>
                </div>
            </div>
            <p>Change your mind? You can reactivate at any time by managing your membership information.</p>
            <div class="ups-form_ctaGroup">
                <button type="submit" class="ups-cta ups-cta_primary" data-ng-click="reactivateMembership()">Reactivate My Membership</button>
            </div>
		</div>
	</div>
</div>
