<div class="ups-application_wrapper ups-form_wrap ups-quantum-view-pref" data-page-title="Quantum View" data-ng-controller="QuantumViewUserAdministrationCtrl">
	<!--Previous Link Starts-->
	<a point-focus="" href="#/preferencePage/quantumView" class="ups-previous_page">
		<span class="icon ups-icon-chevronleft" aria-hidden="true"></span>
		Back to Quantum View
	</a>
	<!--Previous Link Ends-->
	<form error-on-submit name="ups_quantumViewUserAdminForm" novalidate>
        <h2>User Administration</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <p><strong>Name:</strong></p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <p>
                            Abigail Smith
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <p><strong>User ID:</strong></p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <p>
                            asmith
                        </p>
                    </div>
                </div>
            </div>
        </div>
		<div class="ups-accordion_list">
			<div class="ups-accordion_wrapper">
				<div class="ups-accordion_content">
					<uib-accordion close-others="oneAtATime"> <uib-accordion-group
						data-ng-repeat="group in groups"
						template-url="/app_assets/templates/ups.accordion.group.html"
						is-open="group.active">
						<uib-accordion-heading>
						{{group.title}}
						<span class="icon" aria-hidden="true"
						data-ng-class="{'ups-icon-minus ups-active': group.active, 'ups-icon-plus': !group.active}"></span>
						<span class="ups-readerTxt" ng-if="group.active">collapse</span>
						<span class="ups-readerTxt" ng-if="!group.active">expand</span>
						</uib-accordion-heading>
					<div data-ng-include="group.content"></div>
					</uib-accordion-group> </uib-accordion>
				</div>
			</div>
		</div>
	</form>
</div>
