<div class="ups-accessLocation" data-ng-controller="findLocationCtrl">
	<div class="ups-accessLocation_locatorWidget">
		<div class="ups-locFinder_wrap">
			<div class="ups-wrap_inner">
				<div class="ups-locFinder ups-form_wrap ups-widget" data-map=""
					data-closest="" data-hasloc=""
					data-locmsg="Location Services Not Available">
					<div class="ups-widget_header">
						<h2>Location</h2>
					</div>
					<div class="ups-widget_panel">
						<h3 class="ups-locFinder_heading ">Location Nearest You</h3>
						<a href="#view_list" class="ups-link ups-locFinder_link">View Locations
							List</a>
					</div>
				</div>
			</div>
			<!-- @end .ups-wrap_inner -->
		</div>
	</div>
    <div class="ups-form_ctaGroup text-center">
        <button type="submit" class="ups-cta ups-cta_tertiary "
            data-dismiss="modal" data-ng-click="backToPrev('ID')">Cancel</button>
        <button type="submit" class="ups-cta ups-cta_primary "
            data-ng-click="submit()" disabled="disabled">select</button>
    </div>
</div>