<div class="ups-tab-container" data-page-title="Profile">
	<!-- ups.ppc-profile -->

    <!-- 'data-ng-if="!welcomeMessage" used to toggle on and off Welcome Message' -->
	<div class="ups-banner banner_black_s4" data-ng-if="welcomeMessage">
		<div class="ups-banner_container ups-wrap">
			<button type="button" class="close" data-ng-click="closeMessage();">
				<span class="ups-icon-x" aria-hidden="true"></span>
				<span class="ups-readerTxt">Close Confirmation Messaging</span>
			</button>
			<div class="ups-wrap_inner">
				<div class="ups-banner_main">
					<div class="text-container ">
						<h2>Confirmation Messaging</h2>
						<p>{{confirmationText.confirmationMessage}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ///////////////////////////////// -->
	<!-- //// Begin Carousel          //// -->
	<!-- ///////////////////////////////// -->
	<h2 class="ups-carousel_heading">Recommended for You</h2>
	<div class="ups-carousel">
		<div class="ups-carousel_list slick-initialized slick-slider">
			<div slick>
				<div>
					<div class="ups-profile-slider">
						<h3>Get Free Delivery Alerts</h3>
						<p>Sign up for UPS My Choice<sup>&reg;</sup>, and we'll email the latest delivery info for your eligible packages.</p>
						<a href="#" class="ups-link">Sign up for UPS My Choice</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Set up Weekly Billing</h3>
						<p>Charge shipments to a payment account, then manage weekly invoices in our online billing center.</p>
						<a href="#" class="ups-link">Open a Payment Account</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Subscribe to Email Offers and Insights</h3>
						<p>Sign up for UPS emails with promotions, news, critical service updates, and more.</p>
						<a href="#" class="ups-link">Email Me the Latest News</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Automatically Schedule Pickups</h3>
						<p>Send us automatic alerts whenever you ship online, and we'll send a driver to pick up your package.</p>
						<a href="#" class="ups-link">Add UPS Smart Pickup to My Account</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Update Your Personal Info</h3>
						<p>Add a address to your profile, and we'll use that info to help you fill out ups.com forms faster.</p>
						<a href="#" class="ups-link">Add My Address</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Get Premium Delivery Perks</h3>
						<p>Upgrade to UPS My Choice<sup>&reg;</sup> Premium, and get delivery changes at no additional cost with your subscription.</p>
						<a href="#" class="ups-link">Upgrade My UPS My Choice Membership</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Stock up on Supplies</h3>
						<p>Make sure you've got all the UPS supplies you need to pack your shipments.</p>
						<a href="#" class="ups-link">Order My Supplies</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Pick up Deliveries on Your Schedule</h3>
						<p>Redirect all your deliveries to a nearby UPS Access Point<sup>&reg;</sup> location, and pick them up when it's convenient for you.</p>
						<a href="#" class="ups-link">Set an Alternate Delivery Location</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Share Shipping Privileges</h3>
						<p>Invite up to five people to become authorized users of your payment account.</p>
						<a href="#" class="ups-link">Manage My Account</a>
					</div>
				</div>
				<div>
					<div class="ups-profile-slider">
						<h3>Stock up on Supplies</h3>
						<p>Make sure you've got all the UPS supplies you need to pack your shipments.</p>
						<a href="#" class="ups-link">See Available Supplies</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ///////////////////////////////// -->
	<!-- //// End Carousel            //// -->
	<!-- //// Begin Profile           //// -->
	<!-- ///////////////////////////////// -->
	<div class="ups-spot_contentWrap">
		<h2>Your Profile at a Glance</h2>

		<div class="row">
			<div class="col-md-3">
				<div class="ups-spot_boxMod">
					<a href="#/informationPage" class="ups-link">
                        <div class="ups-spot_titleWrap ups-orange_border">
                            <span class="icon ups-icon-user" aria-hidden="true"></span>
							<h3 class="ups-spot_title">My Information<span class="ups-icon-chevronright" aria-hidden="true"></span></h3>
						</div></a>
					<div class="ups-spot_content">
						<p>Update your login settings, email preferences, and security questions.</p>
						<a href="#" class="ups-link">Check My Email Subscriptions</a>
						<a href="#" class="ups-link">Change My Login Settings</a>
					</div>
				</div>
			</div>


			<div class="col-md-3">
				<div class="ups-spot_boxMod">
					<a href="#/contactPage" class="ups-link">
                        <div class="ups-spot_titleWrap ups-blue_border">
                            <span class="icon ups-icon-address" aria-hidden="true"></span>
							<h3 class="ups-spot_title">Addresses<span class="icon ups-icon-chevronright" aria-hidden="true"></span></h3>
						</div></a>
					<div class="ups-spot_content">
						<p>Add, edit, or remove your profile addresses, contacts and distribution lists.</p>
						<a href="#" class="ups-link">Add a Contact</a>
						<a href="#" class="ups-link">Create a Distribution List</a>
						<a href="#" class="ups-link">Update My Addresses</a>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="ups-spot_boxMod">
					<a href="#/paymentPage" class="ups-link">
                        <div class="ups-spot_titleWrap ups-yellow_border">
                            <span class="icon ups-icon-creditcard" aria-hidden="true"></span>
							<h3 class="ups-spot_title">Payment Options<span class="ups-icon-chevronright" aria-hidden="true"></span></h3>
						</div></a>
					<div class="ups-spot_content">
						<p>Check expiration dates and keep your payment methods current.</p>
						<a href="#" class="ups-link">Add a Payment Card</a>
						<a href="#" class="ups-link">Open a Payment Account</a>
						<a href="#" class="ups-link">Manage My Payment Options</a>
						<a href="#" class="ups-link">Preferences</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ups-spot_boxMod">
					<a href="#/preferencePage" class="ups-link">
                        <div class="ups-spot_titleWrap ups-green_border">
                            <span class="icon ups-icon-controls" aria-hidden="true"></span>
							<h3 class="ups-spot_title">Set My Preferences<span class="icon ups-icon-chevronright" aria-hidden="true"></span></h3>
						</div></a>
					<div class="ups-spot_content">
						<p>Choose default settings for your frequent shipping tasks.</p>
						<a href="#" class="ups-link">Shipping</a>
						<a href="#" class="ups-link">Freight Shipping</a>
						<a href="#" class="ups-link">Pickup</a>
						<a href="#" class="ups-link">Calaculate Time &amp; Cost</a>
						<a href="#" class="ups-link">International Documentation</a>
						<a href="#" class="ups-link">UPS My Choice<sup>&reg;</sup></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ///////////////////////////////// -->
	<!-- //// End Profile             //// -->
	<!-- //// Begin Other useful link //// -->
	<!-- ///////////////////////////////// -->
	<div class="ups-list ups-wrap ups-offset-00">
		<div class="ups-wrap_inner">
			<div class="ups-list_component">
				<div class="ups-list-col_bullets">
					<h2>Other Useful Links</h2>
					<div class="ups-list_row clearfix">
						<a class="ups-list_link" data-ng-repeat="item in otherLinks"
							data-ng-show="item.active" href="{{item.link}}">
							<div class="ups-list_detail">
								<h3>{{item.title}}</h3>
								<span class="icon ups-listbullet-arrow" aria-hidden="true"></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ///////////////////////////////// -->
	<!-- //// End Other useful link   //// -->
	<!-- ///////////////////////////////// -->

    <!-- DO NOT INCLUDE THIS IN PRODUCTION -->
    <!-- Welcome Message Toggle -->
    <div class="row">
        <div class="col-md-6">
            <div class="ups-cms-demo">
                <p>
                    <strong>Do not include this in production</strong>
                </p>
                    <button type="button" class="ups-cta ups-cta_secondary" data-ng-click="welcomeMessage=true">Show Welcome Message</button>
                <button type="button" class="ups-cta ups-cta_secondary" data-ng-click="welcomeMessage=false">Hide Welcome Message</button>
            </div>
        </div>
    </div>
    <!-- End Welcome Message Toggle -->
    <!-- DO NOT INCLUDE THIS IN PRODUCTION -->
</div>
