<form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1">
        <div id="main">
        <div class="appLvl mod col20">
        <!-- Begin Application Container -->

        <!-- begin application content --> 

        <!-- begin application header -->
        <!-- Begin Application Body -->

        <div class="appHead clearfix">
            <!-- begin page title -->
            <h2>Create Clinical Trial</h2>
        </div>
        <!-- end page title -->
        <div class="appBody">
        <!-- begin instructional text -->
        <div class="secLvl clearfix">
            <div class="secBody noHead">
                <p>enter the the number for the clinical trial and select <strong>next</strong> to check that the clinical trial number is not already in use.  required feild are shown as <strong>bold</strong>.</p>

                <!--Begin Note section-->

                <div class="secLvl message clearfix">
                    <div class="secBody noHead">
                        <p><strong>note:</strong> A custom package type is required to create a clinical trial, and none were found associated with your clinical trial research location.  to continue, you should exit this screen and create and save a minimum of one custom package type. </p>
                        <p><a href="">create a custome package type</a></p>
                    </div>
                </div>

                <!--End Note section-->

                <!--Begin Full page Clinincal Trial text-->

                <p>create a clinical trial.  enter the name for the clinical trial and assign one or more countries or territories to the set.  to save this clinical trial, selct <strong>submit</strong>.  required fields are shown as <strong>bold</strong></p>
                <br>
                <p>once you have saved this clinical trial, you can assign it to clinical trial investigative site locations.</p>
            </div>
        </div>
        <!--End Full page Clinincal Trial text-->

        <!--Begin start page text-->
        <div class="secLvl step clearfix">
        <div class="secHead clearfix">
            <h3>Clinical Trial Detail</h3>
            <ul>
                <li><a href="" class="btnlnkR helpIconR">Help</a></li>
            </ul>
        </div>

        <!-- begin content column -->
        <div class="secBody clearfix">
        <div class="flexFirst">
        <dl>
            <dt><label>clinical trial id/number:</label></dt>

            <dd>
                <input class="formcol5" type="text" value="AA1234567890" name="clinical trial id/number" maxlength="30"/>
            </dd>
            <dd>
                [AA1234567890]
            </dd>
        </dl>

        <dl>

            <dt>
                <label>clinical trial name/description:</label>
            </dt>
            <dd>
                <input class="formcol7" type="text" value="customer entered data" name="clinical trial name/description" maxlength="25"/>

            </dd>
            <br>
            <dd><strong>investigative site(s) will ship to this selected research lab:</strong></dd>
            <br>
            <dd><a href="">select a research lab location</a></dd>

        </dl>
        </div>
        <div class="flexAfter">

            <p><a href="" class="btnlnkR helpIconR">Clinical trial number format</a>
            <p><a href="">use a previous clinical trial to fill in details for this new trial</a>

        </div>
        <!--begin site address 1505-->
        <div class="secBody clearfix">
            <dl class="flexFirst">
                <dt>
                <dd>Location Name</dd>
                <dd>Address 123456</dd>
                <dd>City, Other/State</dd>
                <dd>Country or Territory</dd>
                <br>
                </dt>
            </dl>

            <dl class="flexAfter">
                <dt>
                <dd><a href="">edit</a></dd>
                </dt>
            </dl>

            <!--End site address 1505-->
            <div class="clear"></div>
            <div class="secLvl clearfix">
                <div class="secHead clearfix">
                    <h4>set clinical trail package types:</h4>
                </div>
                <div class="secBody">
                    <p>set a package type for this trial.  you can define a default package weight, and if dry ice is needed, a dry ice weight.  add additional package types as needed.</p>
                </div>
            </div>
        </div>
        <div class="secLvl clearfix">
        <fieldset>
            <legend></legend>
            <!-- Begin Section Header -->
            <div class="secBody noHead clearfix">
                <table class="dataTable full">

                    <!-- Begin Row: Header Rows with vertical spacing -->

                    <tr class="odd">
                        <th></th>
                        <th>Custom Package Name</th>
                        <th>Dimensions<br>
                             LxWxH</th>
                        <th>Default Weight</th>
                        <th><a href="" class="btnlnkR helpIconR">Dry Ice Weight
                            </a><br>(if any)</th>
                    </tr>

                    <!-- End Row: Header Rows with vertical spacing -->

                    <!-- Begin Row: Odd Row with vertical spacing -->

                    <tr class="odd">
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package #1</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td>[00][kg]</td>
                    </tr>
                    <!-- End Row: Odd Row with vertical spacing -->

                    <!-- Begin Row: Even Row with vertical spacing -->

                    <tr>
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package #2</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td></td>
                    </tr>

                    <!-- End Row: Even Row with vertical spacing -->

                    <!-- Begin Row: Odd Row with vertical spacing -->

                    <tr class="odd">
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package #3</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td></td>
                    </tr>

                    <!-- End Row: Odd Row with vertical spacing -->
                    <!-- Begin Row: Even Row with vertical spacing -->

                    <tr>
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package #4</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td>[00][kg]</td>
                    </tr>

                    <!-- End Row: Even Row with vertical spacing -->
                    <!-- Begin Row: Odd Row with vertical spacing -->
                    <tr class="odd">
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package #5</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td></td>
                    </tr>

                    <!-- End Row: Odd Row with vertical spacing -->
                    <!-- Begin Row: Even Row with vertical spacing -->

                    <tr>
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package #6</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td></td>
                    </tr>

                    <!-- End Row: Even Row with vertical spacing -->
                    <!-- Begin Row: Odd Row with vertical spacing -->
                    <tr class="odd">
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package #7</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td>[00][kg]</td>
                    </tr>

                    <!-- End Row: Odd Row with vertical spacing -->
                    <!-- Begin Row: Even Row with vertical spacing -->

                    <tr>
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package ...</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td></td>
                    </tr>

                    <!-- End Row: Even Row with vertical spacing -->
                    <!-- Begin Row: Odd Row with vertical spacing -->
                    <tr class="odd">
                        <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                        <td>Company Package #20</td>
                        <td>[00]x[00]x[00]</td>
                        <td>[00][uom]</td>
                        <td></td>
                    </tr>

                    <!-- End Row: Odd Row with vertical spacing -->

                </table>
            </div>
        </fieldset>
        <!--Begin Note section-->

        <div class="secLvl clearfix">
            <div class="secHead clearfix">
                <h2>select a shipping service</h2>
                <p>select shipping service(s) depending on where your investigative sites are located.  a minimum of one service must be selected.</p>
            </div>
            <div class="secLvl clearfix">
            <div class="secBody noHead clearfix">
                <div class="seccol8 marginBegin">
                    <dl>
                        <dt>
                            <label>available services if the United States will be an origin country or territory</label>
                        </dt>
                        <dd>
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="sel" scope="row"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS Next Day Air Early A.M.&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS Next Day Air&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS Next Day Air Express&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS 2nd Day Air A.M.&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS 2nd Day Air&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS 3 Day Select&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS Ground&reg;</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>

                <div class="seccol8 marginEnd">
                    <dl>
                        <dt>
                            <label>available services if a different country or territory will be an origin country or territory</label>
                        </dt>
                        <dd>
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="sel" scope="row"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS Express Early A.M.&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS Express PlusSM&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS ExpressSM&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS SaverSM&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS ExpeditedSM&reg;</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                                        <td><label for="chxbox1" class="sel">UPS Standard&reg;</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
        <!--End select shipping service section-->

        <!--Begin shipping accessorrials section-->

        <div class="secLvl clearfix">
        <div class="secHead">
            <label>UPS Shipping Accessorials:</label>
        </div>
        <div class="secBody noHead clearfix">
        <div class="seccol8 marginBegin">
        <dl>
        <dt>
            <label>Contract Only Services</label>
        </dt>
        <dd>
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="sel" scope="row"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                        <td><label for="chxbox1" class="sel">dry ice (contract may be required)</label></td>
                    </tr>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                        <td><label for="chxbox1" class="sel">refrigeration (contract service)</label></td>
                    </tr>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                        <td><label for="chxbox1" class="sel">ups proactive responseSM (contract service)</label></td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </dl>
        </div>
        </div>
        </div
        ></div>
        </div>
        </div>
        <!--End shipping accessorrials section-->

        <!-- begin AppFooter -->
        </div>
        </div>
        <div class="appFooter">
            <!-- Begin Button Bar Row -->
            <div class="btnBar">
                <input name="repl_fname" value="cancel" class="btn" type="button">
                <input name="repl_fname" value="submit" class="btnArw" type="submit">
            </div>
            <!-- End Button Bar Row -->
        </div>

        <!-- end AppFooter-->

        <!-- begin note area -->

        <!-- end note area -->

        <!-- end application content -->

        <!--End full page section-->
        <!-- End ECS C-Clamp -->

        </div>
        </div>
        </div>
    </form>
