<!--<div class="secLvl message clearfix">
    <div class="secHead clearfix">
        <h3>You can login to access your saved payment methods to pay the import fees.</h3>
    </div>
    <div class="secBody">
        <a href="repl_href">Log in to ups.com</a><br><br>
    </div>
</div>-->
<!--<div class="ups-module">
    <div class="ups-module_header">
        <h3>Total Due [currency]:</h3>
    </div>
</div>-->


<!--
<h3>Total Due [currency]:
<span class="pull-right">999,999.99</span></h3>
<hr>

<div class="ups-module">
    <div class="ups-module_header">
    	<button class="ups-cta ups-cta_secondary pull-right ups-details_ctrl">Hide Details</button>
        <h3>Shipment and Address Information</h3>
    </div>
    <div class="ups-module_panel">
    	<div class="row">
          <div class="col-sm-6">
            	<strong>Tracking Information</strong><br>
                [1Z1016EW6844558998]
                <br><br>            
          </div>
          <div class="col-sm-6">
            	<strong>Port of Entry</strong><br>
                [0410 - Fort Erie]
                <br><br>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            	<strong>Invoice Number</strong><br>
                [508047223]
                <br><br>           
            </div>
            <div class="col-sm-6">
            	<strong>Shipper Information</strong><br>
                [Fulfillment Center<br>
                Allentown, PA, US]
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            	<strong>Import Date</strong><br>
                [MM/DD/YYYY]
                <br><br>           
            </div>
            <div class="col-sm-6">
            	<strong>Consignee Information</strong><br>
                [Gregory Martin<br>
                Timmins ON CA]
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="ups-module">
    <div class="ups-module_header">
    	<button class="ups-cta ups-cta_secondary pull-right ups-details_ctrl">Hide Details</button>
        <h3>Import Charges</h3>
    </div>
    <div class="ups-module_panel">
    	<p>NOTE: the total value used for calculation of all Duty-based fees is [n.nn].</p>
          
		<div class="row">
			<div class="col-xs-7">
				<p><strong>Government Fees</strong></p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <div class="row ups-details_collapsible">
            <div class="col-xs-7">
				<p><span class="ups-indent hidden-xs"></span>Duty:</p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <div class="row ups-details_collapsible">
            <div class="col-xs-7">
				<p><span class="ups-indent hidden-xs"></span>GST/HST:</p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <div class="row ups-details_collapsible">
			<div class="col-xs-7">
				<p><span class="ups-indent hidden-xs"></span>Excise:</p><br class="hidden-xs">
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p><br>
            </div>
		</div>
        <div class="row">
			<div class="col-xs-7">
				<p><strong>UPS<span class="hidden-xs"> Customs</span> Brokeage Fees</strong></p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <div class="row ups-details_collapsible">
			<div class="col-xs-7">
				<p><span class="ups-indent hidden-xs"></span>Brokeage Fee:</p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <div class="row ups-details_collapsible">
			<div class="col-xs-7">
				<p><span class="ups-indent hidden-xs"></span>Brokeage GST/HST:</p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <div class="row ups-details_collapsible">
			<div class="col-xs-7">
				<p><span class="ups-indent hidden-xs"></span>Brokeage QST:</p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <div class="row ups-details_collapsible">
			<div class="col-xs-7">
				<p><span class="ups-indent hidden-xs"></span>Freight Collect:</p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <div class="row ups-details_collapsible">
			<div class="col-xs-7">
				<p><span class="ups-indent hidden-xs"></span>Permit:</p>
            </div>
            <div class="col-xs-5">
              	<p>999,999.99</p>
            </div>
		</div>
	</div>
</div>

<hr>
<h3>Total Due [currency]:
<span class="pull-right">999,999.99</span></h3>
<hr>

<p>All Currency displayed in [local currency]</p><br>
                
<p><a href="repl_href" class="ups-new-window">Exchange Rate: [currency used to determine value of goods] = [conversion rate] [ShipTo currency]<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p><br>

<p>Charges displayed are estimated and subject to change based on new information provided to UPS Brokerage.</p><br>

<p><a href="repl_href" class="ups-new-window">Payments can be made any time online. However, it is recommended that payment occur at least 30 minutes prior to driver's arrival.<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p>
<br>

<div class="row">
	<div class="col-md-12">
    	<div class="ups-form_ctaGroup">
        	<button type="submit" class="ups-cta ups-cta_primary">Next</button>   
        </div>
    </div>
</div>-->


<div class="secLvl message clearfix panel panel-info">
    <div class="panel-body">
        <div class="secHead clearfix">
            <p class="h3 big">You can login to access your saved payment methods to pay the import fees.</p>
        </div>
        <div class="secBody">
            <p class="pad-bottom"><a href="repl_href" class="ups-link">Log in to ups.com</a></p>
        </div>
    </div>
</div>

<div class="appLvl col18 mod">
    <div class="appHead clearfix">
        <h2>Import Fee Details</h2>
    </div>
    <div class="appBody clearfix">
        <div class="secLvl message sell clearfix">
            <div class="secBody">
                <p class="h3 sel">Total Due [currency]:
                    <span class="pull-right">999,999.99</span>
                </p>
                <hr>
            </div>
        </div>
        
        <p><strong>There are import fees due on this shipment.</strong> You can put those fees now online to expedite final delivery. Your driver also accepts limited payment methods in person upon delivery.<br>If you choose to pay your import fee online, we recommends printing a copy of your receipt for your records.</p>

        <div class="secLvl step clearfix ups-module">
            <div class="secHead clearfix ups-module_header">
                <button class="btnlnk ups-cta ups-cta_secondary pull-right ups-details_ctrl">Hide Details</button>
                <h3>Shipment and Address Information</h3>
            </div>
            <div class="secBody ups-module_panel">
                <div class="row">
                  <div class="marginBegin subcol9 clearfix col-sm-6">
                        <strong>Tracking Information</strong><br>
                        [1Z1016EW6844558998]
                        <br><br>
                  </div>
                  <div class="marginEnd subcol9 clearfix col-sm-6">
                        <strong>Port of Entry</strong><br>
                        [0410 - Fort Erie]
                        <br><br>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="marginBegin subcol9 clearfix col-sm-6">
                        <strong>Invoice Number</strong><br>
                        [508047223]
                        <br><br>
                    </div>
                    <div class="marginEnd subcol9 clearfix col-sm-6">
                        <strong>Shipper Information</strong><br>
                        [Fulfillment Center<br>
                        Allentown, PA, US]
                        <br><br>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="marginBegin subcol9 clearfix col-sm-6">
                        <strong>Import Date</strong><br>
                        [MM/DD/YYYY]
                        <br><br>
                    </div>
                    <div class="marginEnd subcol9 clearfix col-sm-6">
                        <strong>Consignee Information</strong><br>
                        [Gregory Martin<br>
                        Timmins ON CA]
                        <br><br>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        
        <div class="secLvl step clearfix ups-module">
            <div class="secHead clearfix ups-module_header">
                <button class="btnlnk ups-cta ups-cta_secondary pull-right ups-details_ctrl">Hide Details</button>
                <h3>Import Charges</h3>
            </div>
            <div class="secBody ups-module_panel">
                <p>NOTE: the total value used for calculation of all Duty-based fees is [n.nn].</p>
                  
                <div class="row">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><strong>Government Fees</strong></p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row ups-details_collapsible">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><span class="ups-indent hidden-xs"></span>Duty:</p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row ups-details_collapsible">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><span class="ups-indent hidden-xs"></span>GST/HST:</p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row ups-details_collapsible">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><span class="ups-indent hidden-xs"></span>Excise:</p><br class="hidden-xs">
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p><br>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><strong>UPS<span class="hidden-xs"> Customs</span> Brokeage Fees</strong></p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row ups-details_collapsible">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><span class="ups-indent hidden-xs"></span>Brokeage Fee:</p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row ups-details_collapsible">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><span class="ups-indent hidden-xs"></span>Brokeage GST/HST:</p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row ups-details_collapsible">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><span class="ups-indent hidden-xs"></span>Brokeage QST:</p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row ups-details_collapsible">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><span class="ups-indent hidden-xs"></span>Freight Collect:</p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row ups-details_collapsible">
                    <div class="marginBegin subcol9 clearfix col-xs-7">
                        <p><span class="ups-indent hidden-xs"></span>Permit:</p>
                    </div>
                    <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                        <p>999,999.99</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        
        <div class="secLvl message sell clearfix">
            <div class="secBody">
                <hr>
                <p class="h3 sel">Total Due [currency]:
                    <span class="pull-right">999,999.99</span>
                </p>
                <hr>
            </div>
        </div>
        
        <p>All Currency displayed in [local currency]</p><br>
                        
        <p><a href="repl_href" class="btnlnkR helpIconR ups-new-window">Exchange Rate: [currency used to determine value of goods] = [conversion rate] [ShipTo currency]<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p><br>
        
        <p>Charges displayed are estimated and subject to change based on new information provided to UPS Brokerage.</p><br>
        
        <p><a href="repl_href" class="btnlnkR helpIconR ups-new-window">Payments can be made any time online. However, it is recommended that payment occur at least 30 minutes prior to driver's arrival.<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p>
        <br>
        
    </div>
    <div class="appFooter">
        <div class="btnBar">
            <div class="row">
                <div class="col-md-12">
                    <div class="ups-form_ctaGroup">
                        <button type="submit" class="btnArw ups-cta ups-cta_primary">Continue</button>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>