<!--<h3>Total Due [currency]:
<span class="pull-right">999,999.99</span></h3>
<hr>

<p>Please review the following infomation. When you are ready to submit payment for your shipment, select <strong>Submit Payment</strong>.


<div class="ups-module">
    <div class="ups-module_header">
    	<a href="#" class="pull-right">Edit</a>
        <h3>Payment Information</h3>
    </div>
    <div class="ups-module_panel">
    	<div class="row">
            <div class="col-sm-6">
                <strong>Payment Method</strong><br>
                Mike Myers<br>
                [Payment Method Type][xxxx9999]          
            </div>
            <div class="col-sm-6">
                <strong>Billing Address</strong><br>
                Mike Myers<br>
				14048 Hwy 215<br>
				Shubenacadie NS B0N2H0<br>
				Canada
            </div>
        </div>
    </div>
</div>

<div class="ups-module">
    <div class="ups-module_header">
    	<button class="ups-cta ups-cta_secondary pull-right ups-details_ctrl">Hide Details</button>
        <h3>Import Charges</h3>
    </div>
    <div class="ups-module_panel">
    	<p>NOTE: the total value used for calculation of all Duty-based fees is [n.nn].</p>
          
		<div class="row">
			<div class="col-sm-7">
				<p><strong>Government Fees</strong></p>
            </div>
            <div class="col-sm-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row ups-details_collapsible">
			<div class="col-sm-7 col-xs-offset-1 col-sm-offset-0">
				<p><span class="ups-indent hidden-xs"></span>Duty:</p>
            </div>
            <div class="col-sm-5 col-xs-offset-1 col-sm-offset-0">
              	<p>999,999.99</p>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row ups-details_collapsible">
			<div class="col-sm-7 col-xs-offset-1 col-sm-offset-0">
				<p><span class="ups-indent hidden-xs"></span>GST/HST:</p>
            </div>
            <div class="col-sm-5 col-xs-offset-1 col-sm-offset-0">
              	<p>999,999.99</p>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row ups-details_collapsible">
			<div class="col-sm-7 col-xs-offset-1 col-sm-offset-0">
				<p><span class="ups-indent hidden-xs"></span>Excise:</p><br class="hidden-xs">
            </div>
            <div class="col-sm-5 col-xs-offset-1 col-sm-offset-0">
              	<p>999,999.99</p><br>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row">
			<div class="col-sm-7">
				<p><strong>UPS Customs Brokeage Fees</strong></p>
            </div>
            <div class="col-sm-5">
              	<p>999,999.99</p>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row ups-details_collapsible">
			<div class="col-sm-7 col-xs-offset-1 col-sm-offset-0">
				<p><span class="ups-indent hidden-xs"></span>Brokeage Fee:</p>
            </div>
            <div class="col-sm-5 col-xs-offset-1 col-sm-offset-0">
              	<p>999,999.99</p>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row ups-details_collapsible">
			<div class="col-sm-7 col-xs-offset-1 col-sm-offset-0">
				<p><span class="ups-indent hidden-xs"></span>Brokeage GST/HST:</p>
            </div>
            <div class="col-sm-5 col-xs-offset-1 col-sm-offset-0">
              	<p>999,999.99</p>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row ups-details_collapsible">
			<div class="col-sm-7 col-xs-offset-1 col-sm-offset-0">
				<p><span class="ups-indent hidden-xs"></span>Brokeage QST:</p>
            </div>
            <div class="col-sm-5 col-xs-offset-1 col-sm-offset-0">
              	<p>999,999.99</p>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row ups-details_collapsible">
			<div class="col-sm-7 col-xs-offset-1 col-sm-offset-0">
				<p><span class="ups-indent hidden-xs"></span>Freight Collect:</p>
            </div>
            <div class="col-sm-5 col-xs-offset-1 col-sm-offset-0">
              	<p>999,999.99</p>
            </div>
		</div>
        <br class="visible-xs">
        <div class="row ups-details_collapsible">
			<div class="col-sm-7 col-xs-offset-1 col-sm-offset-0">
				<p><span class="ups-indent hidden-xs"></span>Permit:</p>
            </div>
            <div class="col-sm-5 col-xs-offset-1 col-sm-offset-0">
              	<p>999,999.99</p>
            </div>
		</div>
	</div>
</div>

<hr>
<h3>Total Due [currency]:
<span class="pull-right">999,999.99</span></h3>
<hr>

<p>All Currency displayed in [local currency]</p><br>
                
<p><a href="repl_href" class="ups-new-window">Exchange Rate: [currency used to determine value of goods] = [conversion rate] [ShipTo currency]<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p><br>

<p>Charges displayed are estimated and subject to change based on new information provided to UPS Brokerage.</p><br>

<p><a href="repl_href" class="ups-new-window">Payments can be made any time online. However, it is recommended that payment occur at least 30 minutes prior to driver's arrival.<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p>
<br>

<div class="row">
	<div class="col-md-12">
    	<div class="ups-form_ctaGroup">
        	<button type="submit" class="ups-cta ups-cta_tertiary">Back</button>&nbsp; 
        	<button type="submit" class="ups-cta ups-cta_primary">Submit Payment</button>   
        </div>
    </div>
</div>-->


<div class="appLvl col18 mod">
			<div class="appHead clearfix">
				<h2>Review Payment</h2>
			</div>
			<div class="appBody clearfix">
            	<div class="secLvl message sell clearfix">
                	<div class="secBody">
                        <p class="h3 sel">Total Due [currency]:
                            <span class="pull-right">999,999.99</span>
                        </p>
                        <hr>
                    </div>
                </div>
                
                <p>Please review the following information. When you are ready to submit payment for your shipment, select <strong>Submit Payment</strong></p>
                
                
                <div class="secLvl step clearfix ups-module">
    				<div class="secHead clearfix ups-module_header">
    					<a href="#" class="pull-right ups-link">Edit</a>
        				<h3>Payment Information</h3>
    				</div>
                    <div class="secBody ups-module_panel">
                    	<div class="row">
                            <div class="marginBegin subcol9 clearfix col-sm-6">
                                <strong>Payment Method</strong><br>
                                Mike Myers<br>
                                [Payment Method Type][xxxx9999]          
                            </div>
                            <div class="marginEnd subcol9 clearfix col-sm-6">
                                <strong>Billing Address</strong><br>
                                Mike Myers<br>
                                14048 Hwy 215<br>
                                Shubenacadie NS B0N2H0<br>
                                Canada
                                <br><br>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                
                <div class="secLvl step clearfix ups-module">
                    <div class="secHead clearfix ups-module_header">
                        <button class="btnlnk ups-cta ups-cta_secondary pull-right ups-details_ctrl">Hide Details</button>
                        <h3>Import Charges</h3>
                    </div>
                    <div class="secBody ups-module_panel">
                        <p>NOTE: the total value used for calculation of all Duty-based fees is [n.nn].</p>
                          
                        <div class="row">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><strong>Government Fees</strong></p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Duty:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>GST/HST:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Excise:</p><br class="hidden-xs">
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p><br>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><strong>UPS<span class="hidden-xs"> Customs</span> Brokeage Fees</strong></p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Brokeage Fee:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Brokeage GST/HST:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Brokeage QST:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Freight Collect:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Permit:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                
                
                <div class="secLvl message sell clearfix">
                	<div class="secBody">
                    	<hr>
                        <p class="h3 sel">Total Due [currency]:
                            <span class="pull-right">999,999.99</span>
                        </p>
                        <hr>
                    </div>
                </div>
                
                <p>All Currency displayed in [local currency]</p><br>
                                
                <p><a href="repl_href" class="btnlnkR helpIconR ups-new-window">Exchange Rate: [currency used to determine value of goods] = [conversion rate] [ShipTo currency]<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p><br>
                
                <p>Charges displayed are estimated and subject to change based on new information provided to UPS Brokerage.</p><br>
                
                <p><a href="repl_href" class="btnlnkR helpIconR ups-new-window">Payments can be made any time online. However, it is recommended that payment occur at least 30 minutes prior to driver's arrival.<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p>
                <br>
                
			</div>
            <div class="appFooter">
                <div class="btnBar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ups-form_ctaGroup">
                            	<button type="submit" class="btn ups-cta ups-cta_tertiary">Back</button>
                                <button type="submit" class="btnArw ups-cta ups-cta_primary">Submit Payment</button>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>