<div class="appLvl col18 mod">
			<div class="appHead clearfix">
				<h2>Payment Complete</h2>
			</div>
			<div class="appBody clearfix">
            	
                <div class="secLvl message clearfix ups-module">
                    <div class="secHead clearfix ups-module_header">
                        <!--<a href="#" class="pull-right">Edit</a>-->
                        <h3>Your payment has been processed</h3>
                    </div>
                    <div class="secBody ups-module_panel">
                        <p>Your UPS driver may require a copy of this receipt to complete delivery. You can print this receipt, and receipts are available from this website for 30 days after payment. For inquires call 1-877-877-1851.</p>
                        <p class="displayInline"><button class="btn ups-cta ups-cta_primary">Print Receipt</button></p><p class="displayInline"><a href="repl_href" class="btn ups-cta ups-cta_secondary">Change Delivery</a></p><p class="displayInline"><a href="repl_href" class="btn ups-cta ups-cta_secondary">View Delivery Planner</a></p>
                    </div>
                </div>
            
            	<div class="secLvl message sell clearfix">
                	<div class="secBody">
                        <p class="h3 sel">Total Paid [currency]:
                            <span class="pull-right">999,999.99</span>
                        </p>
                        <hr>
                    </div>
                </div>
                
                <div class="secLvl step clearfix ups-module">
    				<div class="secHead clearfix ups-module_header">
    					<button class="btnlnk ups-cta ups-cta_secondary pull-right ups-details_ctrl">Hide Details</button>
        				<h3>Shipment and Address Information</h3>
    				</div>
                    <div class="secBody ups-module_panel">
                        <div class="row">
                          <div class="marginBegin subcol9 clearfix col-sm-6">
                                <strong>Tracking Information</strong><br>
                                [1Z1016EW6844558998]
                                <br><br>
                          </div>
                          <div class="marginEnd subcol9 clearfix col-sm-6">
                                <strong>Port of Entry</strong><br>
                                [0410 - Fort Erie]
                                <br><br>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="row">
                            <div class="marginBegin subcol9 clearfix col-sm-6">
                                <strong>Invoice Number</strong><br>
                                [508047223]
                                <br><br>
                            </div>
                            <div class="marginEnd subcol9 clearfix col-sm-6">
                                <strong>Shipper Information</strong><br>
                                [Fulfillment Center<br>
                                Allentown, PA, US]
                                <br><br>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <div class="marginBegin subcol9 clearfix col-sm-6">
                                <strong>Import Date</strong><br>
                                [MM/DD/YYYY]
                                <br><br>
                            </div>
                            <div class="marginEnd subcol9 clearfix col-sm-6">
                                <strong>Consignee Information</strong><br>
                                [Gregory Martin<br>
                                Timmins ON CA]
                                <br><br>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                
                <!-- table -->
                <div class="ups-contentBlock">
                <div class="tableWindow ups-table">
                    <table class="dataTable full">
                        <thead>
                            <tr>
                                <th colspan="13">B3 Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Qty</th>
                                <th scope="col">Description</th>
                                <th scope="col">HS Code</th>
                                <th scope="col">Tariff Code</th>
                                <th scope="col">Tariff Treatment</th>
                                <th scope="col">Country or Territory of Origin</th>
                                <th scope="col">Order In Counsel</th>
                                <th scope="col">Excise Rate</th>
                                <th scope="col">GST/HST</th>
                                <th scope="col">Rate of Duty</th>
                                <th scope="col">Total Customs</th>
                                <th scope="col">SIMA</th>
                                <th scope="col">Value for Duty</th>
                            </tr>
                                <tr>
                                    <td>X</td>
                                    <td>An object that is described with 35</td>
                                    <td>AAAAA AAAAA</td>
                                    <td>SSSS</td>
                                    <td>ZZZ</td>
                                    <td>CA</td>
                                    <td>This is 20 character</td>
                                    <td></td>
                                    <td>n.nn</td>
                                    <td>n.nnn%</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="odd">
                                    <td>X</td>
                                    <td>An object that is described with 35</td>
                                    <td>AAAAA AAAAA</td>
                                    <td>SSSS</td>
                                    <td>ZZZ</td>
                                    <td>CA</td>
                                    <td>This is 20 character</td>
                                    <td></td>
                                    <td>n.nn</td>
                                    <td>n.nnn%</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>X</td>
                                    <td>An object that is described with 35</td>
                                    <td>AAAAA AAAAA</td>
                                    <td>SSSS</td>
                                    <td>ZZZ</td>
                                    <td>CA</td>
                                    <td>This is 20 character</td>
                                    <td></td>
                                    <td>n.nn</td>
                                    <td>n.nnn%</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="odd">
                                    <td>X</td>
                                    <td>An object that is described with 35</td>
                                    <td>AAAAA AAAAA</td>
                                    <td>SSSS</td>
                                    <td>ZZZ</td>
                                    <td>CA</td>
                                    <td>This is 20 character</td>
                                    <td></td>
                                    <td>n.nn</td>
                                    <td>n.nnn%</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total {PST/QST}</td>
                                    <td></td>
                                    <td>BBBBB</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>n.nn</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                
                <div class="secLvl step clearfix ups-module">
    				<div class="secHead clearfix ups-module_header">
                    	<h3>Payment Information</h3>
    				</div>
                    <div class="secBody ups-module_panel">
                    	<div class="row">
                            <div class="marginBegin subcol9 clearfix col-sm-6">
                                <strong>Payment Method</strong><br>
                                Mike Myers<br>
                                [Payment Method Type][xxxx9999]          
                            </div>
                            <div class="marginEnd subcol9 clearfix col-sm-6">
                                <strong>Billing Address</strong><br>
                                Mike Myers<br>
                                14048 Hwy 215<br>
                                Shubenacadie NS B0N2H0<br>
                                Canada
                                <br><br>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                
                <div class="secLvl step clearfix ups-module">
                    <div class="secHead clearfix ups-module_header">
                        <button class="btnlnk ups-cta ups-cta_secondary pull-right ups-details_ctrl">Hide Details</button>
                        <h3>Import Charges</h3>
                    </div>
                    <div class="secBody ups-module_panel">
                        <p>NOTE: the total value used for calculation of all Duty-based fees is [n.nn].</p>
                          
                        <div class="row">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><strong>Government Fees</strong></p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Duty:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>GST/HST:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Excise:</p><br class="hidden-xs">
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p><br>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><strong>UPS<span class="hidden-xs"> Customs</span> Brokeage Fees</strong></p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Brokeage Fee:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Brokeage GST/HST:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Brokeage QST:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Freight Collect:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row ups-details_collapsible">
                            <div class="marginBegin subcol9 clearfix col-xs-7">
                                <p><span class="ups-indent hidden-xs"></span>Permit:</p>
                            </div>
                            <div class="marginEnd subcol9 clearfix alignEnd col-xs-5">
                                <p>999,999.99</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                
                <div class="secLvl message sell clearfix">
                	<div class="secBody">
                    	<hr>
                        <p class="h3 sel">Total Paid [currency]:
                            <span class="pull-right">999,999.99</span>
                        </p>
                        <hr>
                    </div>
                </div>
                
                <p>All Currency displayed in [local currency]</p><br>
                                
                <p><a href="repl_href" class="btnlnkR helpIconR ups-new-window">Exchange Rate: [currency used to determine value of goods] = [conversion rate] [ShipTo currency]<span class="ups-readerTxt">This will open in a new window</span><span class="ups-icon-newwindow" aria-hidden="true"></span></a></p><br>
                
                <p>Charges displayed are estimated and subject to change based on new information provided to UPS Brokerage.</p><br>
                
			</div>
		</div>