<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
            <h1>log in</h1>

                <!-- Begin Application Module -->
                <div class="appLvl mod col18 clearfix">
                <fieldset><legend></legend>
                    <p class="group">welcome to ups campusship. to begin, please enter your user id.</p>
                    <p><strong>note:</strong> user ids are case sensitive.</p>

                    <!-- Begin Application Header -->
                    <div class="appHead clearfix">
                        <h2>returning users</h2>
                    </div>
                    <!-- End Application Header -->

                    <!-- Begin Application Body -->
                    <div class="appBody clearfix">
                    <fieldset><legend></legend>
                        <p>the answers you provided do not match our records, so the user id has been locked.</p>
                        <p class="group">you may request to have your security information reset. to reset the login, an email will be sent to the email address associated with the user id. please check your email to complete the reset process.</p>
                        <p><a href="repl_href" >reset now</a></p>
                        <p>if you need additional assistance, please contact your administrator.</p>

                    </fieldset>
                    </div>
                    <!-- End Application Body -->



                </fieldset>
                </div>
                <!-- End Application Module -->


            <!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
