<!-- Begin Application Module -->
    <div class="appLvl modal-dialog mod modal dialog">
        <div class="appHead clearfix">
            <h2 class="ups-modal_heading">UPS My Choice Enrollment Required</h2>
            <!--<ul>
					<li>
					  <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
					</li>
				  </ul>-->
            <button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()"> <span class="icon ups-icon-x" aria-hidden="true"></span> <span class="ups-readerTxt ng-binding">Close Action Unavailable dialog</span> </button>
        </div>
        <div class="appBody">
            <p>Thank you for starting your UPS My Choice&reg; enrollment witht he UPS Contact Center.</p>
            <ul>
                <li>select <strong>continue</strong> to complete your enrollment.</li>
            </ul>
            <p></p>
        </div>
        <div class="appFooter">
            <div class="ups-form_ctaGroup text-center">
                 <button type="submit" class="ups-cta ups-cta_primary" value="" name="repl_name">Continue</button>
                <button type="submit" class="ups-cta ups-cta_secondary" value="" name="repl_name">Cancel</button>               
            </div>
        </div>
    </div>
    <script type="text/javascript">
			$(document).ready(function(){
				var modal = $('.modal').dialog({width:550,modal:true,bgiframe:true,dialogClass:'modal'});
				$('#modalClose').click(function(e){
					modal.dialog('close');
				});	
			});
			</script> 
    
    <!------------- -- --------------> 
    <!--   IC DEV Display Module   --> 
    <!------------- -- --------------> 
    <!--<script type="text/javascript">
			var htmlcobrand;
			$(document).ready(function(){
				/* Prepend Control Box */
				$('body').prepend('<div id="control_box" class="ctrl_box"><div class="control_box_head"><label class="error" id="">Switch View:</label></div><div class="alignCenter"><input type="button" onclick="switchContainer(\'ccacmpad1\')" value="CampusShip" class="btn"><br><input type="button" onclick="switchContainer(\'ccCntMod\')" value="Internet Shipping" class="btn"></div></div>');
				/* Set default container and stylesheet to Internet Shipping */
				$('.switchContainer').removeClass('ccacmpad1');
				$('.switchContainer').attr('id', 'ccCntMod');
				chooseStyle('Internet Shipping', 60);	
				htmlcobrand = $('.cobrand').html();
				$('.cobrand').remove();
				
			});
			/* function to switch views */
			function switchContainer(container) {
				if(container == 'ccCntMod') {
					$('.switchContainer').removeClass('ccacmpad1');
					$('.switchContainer').attr('id', container);
					chooseStyle('Internet Shipping', 60);
					$('.cobrand').remove();
				} 
				if(container == 'ccacmpad1') {
					$('.switchContainer').attr('id', '');
					$('.switchContainer').addClass(container);
					chooseStyle('CampusShip', 60);
					$('.cobrand').remove();
					$('form[action=repl_fname]').append($('<div class="cobrand" align="center" />').append(htmlcobrand));
				}
			}
			
			</script> --> 
    
    <!------------- -- --------------> 
    <!-- END IC DEV Display Module --> 
    <!------------- -- --------------> 