---
title: cam_adm_com_log(2del)
layout: legacy.hbs
version: v4
appID: com.ups.csadmin
appCSS: ups.legacy_overrideECSAdmin
dir: rtl
lang: ar
---

		<!-- /main begin -->
		<div id="main">
			{{>"cam_adm_com_log(2del)_partial"}}
		</div>
		<!-- /main end -->
