---
title: Dangerous Goods Acceptance Tool
appId: dgat
dir: rlt
lang: ar
ang2: true
ang2ID: dgat
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
    <div class="ups-form_wrap ups-application_wrapper">
        <div>
            <ups-myapp>Loading...</ups-myapp>
        </div>
    </div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->