---
title: Dangerous Goods Acceptance Tool
appId: dgat
dir: ltr
lang: en
ang2: true
ang2ID: dgat
---

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper ups-app_dgat">
		<!--  //////////////////////////////////////////// -->
		<!--  //// This is an Angular app all content //// -->
		<!--  //// for this page is found in          //// -->
		<!--  //// dgat/assets/angular/templates       //// -->
		<!--  //////////////////////////////////////////// -->
		<ups-dgat-app>Loading...</ups-dgat-app>
        
		<!-- End Angular content -->
	</div>
</main>