---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
dir: rtl
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          {{>"cam_shi_shi(5con)_partial" cam_shi_shi5con.pay_store_promo }}
</div>
<!-- /applicationArea -->  

<!-- ICDEV DYNAMIC PANEL WIDGET -->
<!--<div id="select_pnl_1">
  <dl role="presentation">
    <dt>
      <label for="dyn_pnl_select_1">Pay at Store<br>
        Shipping Ticket Module:</label>
    </dt>
    <dd>
      <select id="dyn_pnl_select_1" class="formcol5">
        <option value="1">Default</option>
        <option value="2">Negotiated Rates</option>
        <option value="3">Promo Code Applied</option>
        <option value="4">Printed</option>
        <option value="5">Europe, Canada, Mexico</option>
      </select>
    </dd>
  </dl>
</div>-->
<script type="text/javascript" src="/assets/icdev/dyn_pnl/dyn_pnl.js"></script> 
<!-- ICDEV DYNAMIC PANEL WIDGET -->