---
title: Log In to UPS CampusShip
layout: default_light.hbs
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper">
		<div class="ups-wrap_inner ups-app_ecs_login">
			{{> cam_log_log_1ent_page_partial cam_log_log_1ent.error}}
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->