<!-- Begin SubTabs -->
<ul class="subTab clearfix">
    <li class="tab-on">track</li>
    <li class="tab-off"><a href="repl_href">my inbound</a></li>
    <li class="tab-off"><a href="repl_href">quantum view</a></li>
    <li class="tab-off"><a href="repl_href">flex global view</a></li>
</ul>
<!-- End SubTabs -->
<!-- Begin Application Module -->
<div class="appLvl tab col24 clearfix" id="fontControl">

    <!-- Begin Application Body -->
    <div class="appBody">
        <div class="row">
            <!-- Begin LEFT COLUMN -->
            <div class="col-xs-4">
                <!--<section class="ups-accordion_list">
                        <div class="ups-accordion_wrapper">-->
                    <div class="ui-accordion ui-widget ui-helper-reset" id="accordion" role="tablist">
                        <!-- BEGIN Track by Number section -->
                        <h3 aria-controls="ui-id-2" aria-expanded="true" aria-selected="true" class="ui-accordion-header ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" id="ui-id-1" role="tab" tabindex="0">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                            <a href="#" role="tab" aria-controls="ups-accordionPanel0" aria-selected="false" id="ups-accordionHead0" aria-expanded="false">Track by Number</a>
                        </h3>
                        <div aria-hidden="false" aria-labelledby="ui-id-1" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-id-2" role="tabpanel" style="display: block;">
                            <form action="https://wwwapps.ups.com/WebTracking/track" id="trkbynum" method="post" name="trkbynum">
                                <input name="loc" type="hidden" value="en_US">
                                <input name="HTMLVersion" type="hidden" value="5.0">
                                <input name="USER_HISTORY_LIST" type="hidden" value="">
                                <!-- TFS327500 Removed dl dt dd -->
                                <div class="ups-form_group">
                                    <label class="ups-form_label" for="trackNums"><a href="javascript:helpModLvl('https://www.ups.com/content/us/en/tracking/help/tracking/tnh.html')">Tracking or InfoNotice Numbers:</a> <span class="icon ups-track_help ups-icon-questioncircle" aria-hidden="true"></span></label>
                                    <div class="ups-textArea_wrapper ups-input_wrapper ups-showError">
                                        <textarea class="ups-textArea" cols="40" id="trackNums" name="trackNums"  rows="6" placeholder="Enter up to 25 tracking or InfoNotice numbers, one per line."></textarea>
                                    </div>
                                </div>
                                <p>By selecting the <span class="pi-h4">Track</span> button, I agree to the <a  href="javascript:helpModLvl('/WebTracking/terms?loc=en_US')">Terms and Conditions.</a><span class="icon ups-link_newwindow" aria-hidden="true"></span><span class="ups-readerTxt">Open the link in a new window</span></p>
                                <button class="ups-cta ups-cta_primary" name="track.x" type="submit" value="">Track</button>
                                <!-- end TFS327500 -->
                            </form>
                            <script language="JavaScript1.2" type="text/javascript">
                                /*$(function(){
                                    Tracking.setLocaleString('en_US');
                                    Tracking.setLoadingText('Loading. Please wait a moment.');
                                    Tracking.setErrorMessage3('The system is unable to process your request at this time. Please try again later.');
                                    Tracking.addInstructionTextForInputPage("Enter up to 25 tracking or InfoNotice numbers, one per line.", 'y');
                                });*/
                            </script>
                        </div>
                        <!-- END Track by Number section -->
                        <!-- BEGIN Track by Reference section -->
                        <h3 aria-controls="ui-id-4" aria-expanded="false" aria-selected="false" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" id="ui-id-3" role="tab" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <a href="#" class="ups-accordion_toggle">Track by Reference</a>
                        </h3>
                        <div aria-hidden="true" aria-labelledby="ui-id-3" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-4" role="tabpanel" style="display: none;">
                            <form action="https://wwwapps.ups.com/WebTracking/track?loc=en_US" id="refinput" method="post" name="refinput">
                                <input name="USER_HISTORY_LIST" type="hidden" value="">
                                <input id="destCntry" name="DestinationCountry&quot;" type="hidden" value="">
                                <!-- TFS327500 removed dl dt dd -->
                                <fieldset class="ups-form_group">
                                    <legend class="ups-form_label">
                                        <a  href="javascript:helpModLvl('https://%20www.ups.com/content/us/en/tracking/reference/shipment_type.html')">Shipment Type:</a>
                                        <span class="ups-track_help icon ups-icon-questioncircle" aria-hidden="true"></span>
                                    </legend>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input checked="checked" id="packageRadio" class="ups-radio-custom" name="shipmentType" onclick="Tracking.showPackageFields('28');" type="radio" value="package">
                                        <label class="ups-radio-custom-label" for="packageRadio">Package</label>
                                    </div>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="freightRadio" name="shipmentType" class="ups-radio-custom" onclick="Tracking.showFreightFields('28');" type="radio" value="freight">
                                        <label class="ups-radio-custom-label" for="freightRadio">Freight</label>
                                    </div>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="mailRadio" name="shipmentType" class="ups-radio-custom" onclick="Tracking.showMailInnovationsFields('28');" type="radio" value="mi">
                                        <label class="ups-radio-custom-label" for="mailRadio">Mail Innovations</label>
                                    </div>
                                </fieldset>
                                <div class="ups-form_group ups-form_required">
                                    <label class="ups-form_label" for="">
                                        <a href="javascript:helpModLvl('https://www.ups.com/content/us/en/tracking/help/tracking/rnh.html')">
                                            Shipment Reference
                                        </a>
                                        <span aria-hidden="true" class="ups-required_indicator"></span>
                                        <span class="ups-readerTxt">Required</span>
                                        <span class="ups-track_help icon ups-icon-questioncircle" aria-hidden="true"></span>
                                    </label>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input class="ups-form_input" maxlength="35" name="ReferenceNumber" type="text" value="">
                                    </div>
                                </div>
                                <div class="ups-form_group ups-form_required">
                                    <label class="ups-form_label" for="fromDatepicker">
                                        Shipment Date Range
                                        <span aria-hidden="true" class="ups-required_indicator"></span>
                                        <span class="ups-readerTxt">Required</span>
                                    </label>
                                    <div class="ups-text_wrapper ups-input_wrapper ups-has_calendar_icon">
                                        <input class="ups-form_input" id="fromDatepicker" maxlength="10" name="FromDatepicker" tabindex="5" type="text" value="02/06/2017">
                                        <button type="button" class="ups-date_picker_button"> <span class="icon ups-icon-calendar" aria-hidden="true"></span> <span class="ups-readerTxt">Select date from a calendar</span> </button>
                                    </div>
                                </div>
                                <div class="ups-form_group">
                                    <label class="ups-form_label" for="toDatepicker">To</label>
                                    <div class="ups-text_wrapper ups-input_wrapper ups-has_calendar_icon">
                                        <input class="ups-form_input" id="toDatepicker" maxlength="10" name="ToDatepicker"  tabindex="5" type="text" value="03/06/2017">
                                        <button type="button" class="ups-date_picker_button"> <span class="icon ups-icon-calendar" aria-hidden="true"></span> <span class="ups-readerTxt">Select date from a calendar</span> </button>
                                    </div>
                                </div>
                                <div class="ups-form_group">
                                    <label class="ups-form_label" for="">Shipper Account</label>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input class="ups-form_input" id="acctNum" name="SenderShipperNumber" type="text" value="">
                                    </div>
                                </div>
                                <div class="ups-form_group ups-help_wrapper">
                                    <label class="ups-form_label" for="">Origin Country or Territory</label>
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select class="ups-dropdown" name="OriginCountry">
                                            <option value=" "> Select one </option>
                                            <option value="af"> Afghanistan </option>
                                            <option value="zm"> ... </option>
                                            <option value="zw"> Zimbabwe </option>
                                        </select>
                                    </div>
                                </div>
                                <div id="origPostalDiv" style="display: none;">
                                    <label class="ups-form_label" for="">Origin Postal/ZIP Code</label>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input class="ups-form_input" id="" name="OriginPostalCode" type="text" value="">
                                    </div>
                                </div>
                                <div class="ups-form_group ups-help_wrapper">
                                    <label class="ups-form_label" for="DestCountry">Destination Country or Territory</label>
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select class="ups-dropdown" id="DestCountry" name="DestCountry">
                                            <option value=" "> Select one </option>
                                            <option value="af"> Afghanistan </option>
                                            <option value="zm"> ... </option>
                                            <option value="zw"> Zimbabwe </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ups-form_group" id="lblCntry" style="display: none;">
                                    <p for="pop_country">Destination Country or Territory</p>
                                    <p id="pop_country">United States</p>
                                </div>
                                <div class="ups-form_group">
                                    <label class="ups-form_label" for="DestinationPostalCode">Destination ZIP/Postal Code</label>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input class="ups-form_input" id="DestinationPostalCode" name="DestinationPostalCode" type="text" value="">
                                    </div>
                                </div>
                                <p>
                                    By selecting the Track button, I agree to the <a  href="javascript:helpModLvl('/WebTracking/terms?loc=en_US')">Terms and Conditions.</a><span class="icon ups-link_newwindow" aria-hidden="true"></span>
                                    <span class="ups-readerTxt">Open the link in a new window</span>
                                </p>
                                <button class="ups-cta ups-cta_primary" name="track.x" type="submit" value="">Track</button>
                            </form>
                            <script type="text/javascript">
                                /*var dateRange = 28;
                                $(function()
                                {
                                    Tracking.loadReferenceElements("package", dateRange);
                                });*/
                            </script>
                        </div>
                        <!-- END Track by Reference section -->
                        <!-- BEGIN Track by Email section -->
                        <h3 aria-controls="ui-id-6" aria-expanded="false" aria-selected="false" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" id="ui-id-5" role="tab" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <a href="#" class="ups-accordion_toggle">Track by Email</a>
                        </h3>
                        <div aria-hidden="true" aria-labelledby="ui-id-5" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" role="tabpanel" style="display: none;">
                            <!-- cms: id="ct1_fra_tra_tra_email_en_us" actiontype="0" -->
                            <div class="ups-group">
                                <p>Track up to 25 small package shipments at once by sending your tracking numbers in an e-mail message to <a href="mailto:totaltrack@ups.com">totaltrack@ups.com</a>.</p>
                            </div>
                            <div class="ups-group">
                                <p><strong>Track a Single Tracking Number</strong>
                                Enter the UPS Tracking Number in the subject line of the e-mail or in the body of the message. A detailed tracking response will be returned to your e-mail address.</p>
                            </div>
                            <div class="ups-group">
                                <p><strong>Track Multiple Tracking Numbers</strong>
                                Enter all UPS Tracking Numbers in the body of the e-mail message. You do not&nbsp;need to specify a subject for the e-mail. A detailed tracking response for all numbers will be returned to your e-mail address.</p>
                            </div>
                            <div class="ups-group">
                                <p><strong>Note:</strong> This feature is not available for freight shipment tracking.</p>
                            </div>
                        </div>
                        <!-- END Track by Email section -->
                        <!-- BEGIN Track by Tracking Numbers section -->
                        <h3 aria-controls="ui-id-8" aria-expanded="false" aria-selected="false" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" id="ui-id-7" role="tab" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <a href="#" class="ups-accordion_toggle">Import Tracking Numbers</a>
                        </h3>
                        <div aria-hidden="true" aria-labelledby="ui-id-7" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-8" role="tabpanel" style="display: none;">
                            <form action="https://wwwapps.ups.com/tracking_import/ProcessImport?loc=en_US" enctype="multipart/form-data" id="importtrk" method="post" name="importtrk">
                                <input name="loc" type="hidden" value="en_US">
                                <div class="ups-group">
                                    <p>To import tracking numbers on UPS.com you must log in or register.</p>
                                    <p>
                                        <a href="#" onclick="javascript:launchLoginModal('en_US');">Login</a>
                                        <a class="indent" href="#/doapp/register/?ClientId=02&amp;loc=en_US&amp;ReturnTo=https://www.ups.com/WebTracking/track?loc=en_US">Sign up</a>
                                    </p>
                                </div>
                                <div class="ups-group">
                                    <p id="importFileError" class="error" style="display: none;"></p>
                                    <p id="importEmailError" class="error" style="display: none;"></p>
                                    <p class="btnlnkR helpIconR">
                                        <a href="javascript:helpModLvl('https://www.ups.com/content/us/en/tracking/tracking/help.html')">
                                            Import File
                                            <span>(.dat and .csv only)</span>
                                        </a><span aria-hidden="true" class="ups-required_indicator"></span>
                                    </p>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input id="file" name="file" type="file">
                                    </div>
                                </div>
                                <fieldset class="ups-form_group">
                                    <legend class="ups-form_label">Tracking Results Options</legend>
                                    <p>Choose how you want to receive your results.</p>
                                    <p><strong>Note:</strong> This feature is not available for freight shipment tracking.</p>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input class="ups-radio-custom" onclick="Tracking.changeCsvValue('yes')" name="csv_button" value="yes" id="csv_button" type="radio" checked="">
                                        <label class="ups-radio-custom-label" for="csv_button" class="sel">
                                        CSV file
                                        </label>
                                    </div>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input class="ups-radio-custom" onclick="Tracking.changeCsvValue('no')" name="csv_button" value="no" id="email_results" type="radio">
                                        <label class="ups-radio-custom-label" for="email_results" class="sel">
                                        E-mail the results to me.
                                        </label>
                                    </div>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input class="ups-form_input" id="eaddress" name="eaddress" type="text" value="MPADWAL@TRANSPERFECT.COM">
                                    </div>
                                </fieldset>
                                <button class="ups-cta ups-cta_primary" name="IMPORT.x" onclick="return Tracking.validateAndSubmitImport('/tracking_import/impVal');" type="submit" value="">Import</button>
                            </form>
                        </div>
                        <!-- END Track by Tracking Numbers section -->
                        <!-- BEGIN SMS Tracking section -->
                        <h3 aria-controls="ui-id-10" aria-expanded="false" aria-selected="false" class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" id="ui-id-9" role="tab" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <a href="#" class="ups-accordion_toggle">SMS Tracking</a>
                        </h3>
                        <div aria-hidden="true" aria-labelledby="ui-id-9" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-10" role="tabpanel" style="display: none;">
                            <!-- cms: id="ct1_fra_tra_tra_sms_en_us" actiontype="0" -->
                            <p> Get information on the status of your shipments quickly and efficiently with UPS SMS Tracking. You must opt into the service to begin tracking with SMS.<p>
                            <ol>
                                <li>From the Tracking Detail page, add SMS notifications by selecting <strong>Notify Me with Updates</strong>.</li>
                                <li>When selecting the type of notification, select SMS Text Message and enter your mobile number to opt in.</li>
                                <li>After confirming your request from your mobile phone, UPS will begin to send you <strong>SMS text messages</strong> with your tracking status for this shipment.</li>
                                <li>Once opted in, you will not be asked to verify your request from your phone again unless you choose to opt out of the service.</li>
                                <li>For logged in users, an option to <strong>Remember this Number</strong> is presented in the Notifications dialog box. By selecting that checkbox, your phone number is retained as an option to select the next time you track.</li>
                            </ol>
                            <p>To track packages while on the go, send UPS an SMS to get the status of your shipment. Simply text your tracking keyword followed by your tracking number to your country or territory SMS number and we'll reply with your shipment status details. If you are new to receiving text messages from UPS, this also opts you in to our SMS notifications program. </p>
                        </div>
                        <!-- END SMS Tracking section -->
                    </div>
                    <!--</div>
                </section>-->
            </div>
            <!-- End LEFT COLUMN -->
            <!-- Begin RIGHT COLUMN -->
            <div class="col-xs-8">
                <!-- Begin Recently Tracked Panel without table -->
                <div class="panel panel-default">
                    <!-- Begin Section Header -->
                    <div class="panel-heading">Recently Tracked</div>
                    <!-- End Section Header -->

                    <!-- Begin Section Body -->
                    <div class="panel-body">
                        <p><a href="repl_href">login</a> or <a href="repl_href">sign up</a> to view your recently tracked shipments</p>
                    </div>
                    <!-- End Section Body -->
                </div>
                <!-- End Recently Tracked Panel without table -->

                <!-- Begin Recently Tracked Panel w/ table -->
                <div class="panel panel-default">
                    <!-- Begin Section Header -->
                    <div class="panel-heading">
                        Recently Tracked
                        <span class="pull-right">last updated: 00:00 a.m., 00/00/0000</span>
                    </div>
                    <!-- End Section Header -->

                    <!-- Begin Section Body -->
                    <div class="panel-body">
                        <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
                        	<thead>
                        		<tr>
                        			<th>
                                        <div class="ups-input_wrapper">
                    						<input id="selectAll" class="ups-checkbox-custom" name="selectAll" type="checkbox" value="all">
                    						<label for="selectAll" class="ups-checkbox-custom-label">Recent Tracks</label>
                    					</div>
                                    </th>
                        			<th>Description</th>
                        			<th>Status <span class="pull-right icon ups-icon-pushpin" aria-hidden="true"></span></th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr class="odd">
                        			<td>
                                        <div class="ups-input_wrapper">
                    						<input id="repl_id_001" class="ups-checkbox-custom" name="repl_id_001" type="checkbox" value="001">
                    						<label for="repl_id_001" class="ups-checkbox-custom-label"><a class="ups-link_light" href="">1z1234567890123456</a></label>
                    					</div>
                                    </td>
                        			<td>
                                        <div class="ups-form_group">
                                            <label class="ups-readerTxt" for="repl_id_001">Discription for 1z1234567890123456</label>
                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                <input class="ups-form_input" id="repl_id_001" name="repl_id_001" type="text" placeholder="click to add a description">
                                            </div>
                                        </div>
                                    </td>
                        			<td><a class="ups-link_light btnlnkR helpIconR" href="javascript:void(0)" id="">On Time: Intransit</a></span></td>
                        		</tr>
                        		<tr>
                        			<td>
                                        <div class="ups-input_wrapper">
                    						<input id="repl_id_002" class="ups-checkbox-custom" name="repl_id_002" type="checkbox" value="002">
                    						<label for="repl_id_002" class="ups-checkbox-custom-label"><a class="ups-link_light" href="">1z1234567890123456</a></label>
                    					</div>
                                    </td>
                        			<td>
                                        <div class="ups-form_group">
                                            <label class="ups-readerTxt" for="repl_id_002">Discription for 1z1234567890123456</label>
                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                <input class="ups-form_input" id="repl_id_002" name="repl_id_002" type="text" value="golf clubs">
                                            </div>
                                        </div>
                                    </td>
                        			<td><a class="ups-link_light btnlnkR helpIconR" href="javascript:void(0)" id="">Delivered</a></td>
                        		</tr>
                        		<tr class="odd">
                        			<td>
                                        <div class="ups-input_wrapper">
                    						<input id="repl_id_003" class="ups-checkbox-custom" name="repl_id_003" type="checkbox" value="003">
                    						<label for="repl_id_003" class="ups-checkbox-custom-label"><a class="ups-link_light" href="">1z1234567890123456</a></label>
                    					</div>
                                    </td>
                        			<td>
                                        <div class="ups-form_group">
                                            <label class="ups-readerTxt" for="repl_id_003">Discription for 1z1234567890123456</label>
                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                <input class="ups-form_input" id="repl_id_003" name="repl_id_003" type="text" placeholder="click to add a description">
                                            </div>
                                        </div>
                                    </td>
                        			<td><a class="ups-link_light btnlnkR helpIconR" href="javascript:void(0)" id="">Delayed: Action Requried</a>
                                        <span class="icon ups-icon-pushpin" aria-hidden="true"></span>
                                    </td>
                        		</tr>
                        		<tr>
                        			<td>
                                        <div class="ups-input_wrapper">
                    						<input id="repl_id_004" class="ups-checkbox-custom" name="repl_id_004" type="checkbox" value="004">
                    						<label for="repl_id_004" class="ups-checkbox-custom-label"><a class="ups-link_light" href="">1z1234567890123456</a></label>
                    					</div>
                                    </td>
                        			<td>
                                        <div class="ups-form_group">
                                            <label class="ups-readerTxt" for="repl_id_004">Discription for 1z1234567890123456</label>
                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                <input class="ups-form_input" id="repl_id_004" name="repl_id_004" type="text" placeholder="click to add a description">
                                            </div>
                                        </div>
                                    </td>
                        			<td><a class="ups-link_light btnlnkR helpIconR" href="javascript:void(0)" id="">Shipping Label Crated</a></td>
                        		</tr>
                        		<tr class="odd">
                        			<td>
                                        <div class="ups-input_wrapper">
                    						<input id="repl_id_005" class="ups-checkbox-custom" name="repl_id_006" type="checkbox" value="005">
                    						<label for="repl_id_005" class="ups-checkbox-custom-label"><a class="ups-link_light" href="">1z1234567890123456</a></label>
                    					</div>
                                    </td>
                        			<td>
                                        <div class="ups-form_group">
                                            <label class="ups-readerTxt" for="repl_id_005">Discription for 1z1234567890123456</label>
                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                <input class="ups-form_input" id="repl_id_005" name="repl_id_005" type="text" placeholder="click to add a description">
                                            </div>
                                        </div>
                                    </td>
                        			<td><a class="ups-link_light btnlnkR helpIconR" href="javascript:void(0)" id="">Out For Delivery</a></span>
                                    </td>
                        		</tr>
                        	</tbody>
                        </table>
                        <div class="row">
                            <div class="col-xs-4">
                                <button class="ups-cta ups-cta_primary ups-extended" type="submit" value="">Track Selected</button>
                            </div>
                            <div class="col-xs-4">
                                <button class="ups-cta ups-cta_primary ups-extended" type="submit" value="">Remove Selected</button>
                            </div>
                            <div class="col-xs-4">
                                <button class="ups-cta ups-cta_primary ups-extended" type="submit" value="">Save Selected</button>
                            </div>
                        </div>
                        <!-- End Button Bar Row -->
                    </div>
                    <!-- End Section Footer -->
                </div>
                <!-- End Recently Tracked Panel w/ table -->
            </div>
            <!-- Begin RIGHT COLUMN -->
        </div>
        <!-- End Application Body -->
    </div>
    <!-- End Application Module -->
</div>

<script type="text/javascript">
    $(function(){
        // Accordion
        $("#accordion").accordion({ header: "h3",heightStyle: "content" });
    });

    $(function(){
        // Datepicker
        $('#datepicker').datepicker({
            inline: true,
            numberOfMonths: 1,
            showButtonPanel: true,
            closeText: 'Close',
            showOn: 'button',
            buttonImage: '/img/icn_calendar.gif',
            buttonImageOnly: true
        });

        $('#datepicker2').datepicker({
            inline: true,
            numberOfMonths: 1,
            showButtonPanel: true,
            closeText: 'Close',
            showOn: 'button',
            buttonImage: '/img/icn_calendar.gif',
            buttonImageOnly: true
        });
    });
</script>
<script type="text/javascript">
    /*$('#fontControl ul').icfontcontrol();*/

    /*$(document).ready(function(){
        $('a.gradient7').hover(function(){
            $(this).css("background-position","0 -20px");
            //$(this).animate( { backgroundPositionY: "-30px" }, 10 );
        },function(){
            //$(this).animate( { backgroundPositionY: "-4px" }, 1000 );
            $(this).css("background-position","0 0px");
        });
    });*/
</script>
<div id="ttc_bullpen" class="hidden">
    <div id="ttc_tt_0"> </div>
</div>
<script type="text/javascript">
    /*function buildExamplePage(){
        var winWidth = $(window).width();
        var tempWidth = winWidth;
        var thisWidth;
        for(i=1;i<6;i++){
            if(tempWidth < 400){
                thisWidth = tempWidth-151;
                tempWidth = winWidth;
                cat = true;
            } else {
                thisWidth = Math.floor(Math.random()*(300-150+1)) + 150;
                tempWidth -= thisWidth;
                cat = false;
            }
            $('#ttc_bullpen').append("<div id=\"ttc_tt_" + i + "\"><div class=\"appLvl\"><div class=\"appHead clearfix\"><h2>IC ToolTip</h2></div><div class=\"appBody\"><p>Tooltip content from element id: ttc_tt_" + i + "<p>This was generated by ictooltip, a tooltip plugin for jQuery. It has been tested with jQuery 1.2.6 and 1.3.2. Enhancements will follow. (11/20/09)</p><p><strong>Note:</strong> Need to add options for hoverOutDelay, persistence/close controls. (ToolTip Content ID: ttc_tt_" + i + ")</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum, diam id ultricies pulvinar, ante tortor sagittis nunc, nec vehicula sapien ligula eu nibh. Vestibulum molestie, ante non hendrerit fermentum, metus urna laoreet lacus, tincidunt tristique eros risus id leo. Suspendisse vel risus lorem, ac venenatis erat. Suspendisse sit amet est risus. Etiam a nibh orci, non varius orci. Fusce augue dui, molestie non ornare eu, mattis et tellus. Maecenas sapien eros, consectetur vitae fermentum non, sagittis quis lorem. Proin lestie adipiscing. Nullam egestas sapien nec nisl volutpat ut dignissim eros blandit. Aliquam vitae nisl at mauris congue molestie. In quis metus aliquet est dignissim pretium. Donec enim orci, blandit vestibulum dapibus sit amet, varius eget erat. In suscipit ipsum nec odio fringilla nec tristique leo rutrum. Cras et porta lectus. Nullam semper felis sed elit feugiat at convallis nibh eleifend. Etiam venenatis lorem ligula, sit amet tristique mi. Cras a tempor leo.</p></div><div class=\"appFooter\"></div></div></div>");
        }
    }
    $(document).ready(function(){
        buildExamplePage();
        $('.hozAnchor').ictooltip({
            orientation: "horiz",
            tooltipClasses: "col12",
            hoverDelay: 450,
            tooltipID: "horiz_tt"
        });
    });*/
</script>
