<!-- Cancel Shipment Modal -->
<div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-cancel_your_shipment_modal" tabindex="-1" role="dialog" aria-labelledby="ups-cancel_your_shipment_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- begin modal-header -->
            <div class="modal-header">
                <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                <h2 class="modal-title" id="ups-certificate_origin_2_label">Are You Sure?</h2>
            </div>
            <!-- end modal-header -->
            <!-- begin modal-body -->
            <div class="modal-body">
                <div class="ups-section">
					<p>If you continue, we'll cancel this shipment?</p>
					<div class="ups-clear ups-form_ctaGroup text-center ups-noTxt">
						<button type="submit" class="ups-cta ups-cta_primary">Yes</button>
						<button type="submit" class="ups-cta ups-cta_tertiary">No</button>
					</div>
                </div>
            </div>
            <!-- end modal-body -->
        </div>
    </div>
</div>
<!-- End Cancel Shipment Modal -->

<div class="ups-cms-demo">
<!------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/////   Don't Use Below Code in Production                                 /////   
/////   Code Below is only to Demonstrate Modals                           /////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
-------------------------------------------------------------------------------> 
<button class="ups-cta ups-cta_primary" onclick="" type="button" data-toggle="modal" data-target="#ups-cancel_your_shipment_modal">Cancel Your Shipment Modal</button>
<br>
</div>
<!-- end packing list modal -->