<!-- certificate of origin -->

<!-- start certificate of origin modal -->

<div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-certificate_origin_modal" tabindex="-1" role="dialog" aria-labelledby="ups-certificate_origin_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                <h2 class="modal-title" id="ups-certificate_origin_5_label">U.S. Certificate of Origin</h2>
            </div>
            <!-- modal-header -->
            <div class="modal-body">
                <div class="ups-form_status">
                    <div class="row">
                        <div class="col-sm-5"> <strong class="h4">In Progress</strong> </div>
                        <div class="col-sm-7 ups-text-sm-right"> <em>Complete all required information</em> </div>
                    </div>
                </div>
                <div class="ups-section">
                    <div class="ups-section-header">
                        <button class="ups-cta ups-cta_secondary pull-right">{Edit}</button>
                        <h3 class="ups-section_heading">Shipment Data</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ups-section ups-section_condensed">
                                <div class="ups-section-header">
                                    <h4 class="ups-section_heading">Ship From</h4>
                                </div>
                                <p>[Country or Territory]</p>
                                <p>[Contact Name]</p>
                                <p>[Company Name]</p>
                                <address class="ups-address_condensed">
                                [Street Address]<br>
                                [Address 2]<br>
                                [Address 3]<br>
                                [City], [State], [Zip]
                                </address>
                                <p>[Email]</p>
                                <p>[Phone]</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="ups-section ups-section_condensed">
                                <div class="ups-section-header">
                                    <h4 class="ups-section_heading">Ship To</h4>
                                </div>
                                <p>[Country or Territory]</p>
                                <p>[Contact Name]</p>
                                <p>[Company Name]</p>
                                <address class="ups-address_condensed">
                                [Street Address]<br>
                                [Address 2]<br>
                                [Address 3]<br>
                                [City], [State], [Zip]
                                </address>
                                <p>[Email]</p>
                                <p>[Phone]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ups-section">
                    <div class="ups-section-header">
                        <button class="ups-cta ups-cta_secondary pull-right">{Edit}</button>
                        <h3 class="ups-section_heading">Product Information</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p><em>{Additional Description Information}</em></p>
                            <p><em>{Additional Description Information}</em></p>
                            <p><em>{Additional Description Information}</em></p>
                        </div>
                        <div class="col-md-4">
                            <p>No. of Packages <em>Required*</em></p>
                            <p>No. of Packages <em>Required*</em></p>
                            <p>No. of Packages <em>Required*</em></p>
                        </div>
                        <div class="col-md-4">
                            <p>Gross Weight <em>Required*</em></p>
                            <p>Gross Weight <em>Required*</em></p>
                            <p>Gross Weight <em>Required*</em></p>
                        </div>
                    </div>
                </div>
                <div class="ups-clear ups-form_ctaGroup text-center">
                    <button type="submit" class="ups-cta ups-cta_primary">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end certificate of origin modal --> 

<!-- start us certificate (all fields) modal -->

<div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-certificate_all_modal" tabindex="-1" role="dialog" aria-labelledby="ups-certificate_all_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                <h2 class="modal-title" id="ups-us_certificate_label">U.S. Certificate of Origin</h2>
            </div>
            <!-- modal-header -->
            <div class="modal-body">
                <div class="ups-form_status">
                    <div class="row">
                        <div class="col-sm-5"> <strong class="h4">Ready to go</strong> </div>
                        <div class="col-sm-7 ups-text-sm-right"> <em>All required fields have been entered in this form.<br>
                            You may add additional information if you wish.</em> </div>
                    </div>
                </div>
                <div class="ups-section">
                    <div class="ups-section-header">
                        <button class="ups-cta ups-cta_secondary pull-right">{Edit}</button>
                        <h3 class="ups-section_heading">Shipment Data</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ups-section">
                                <div class="ups-section-header">
                                    <h4 class="ups-section_heading">Ship From</h4>
                                </div>
                                <p>[Country or Territory]</p>
                                <p>[Contact Name]</p>
                                <p>[Company Name]</p>
                                <address class="ups-address_condensed">
                                [Street Address]<br>
                                [Address 2]<br>
                                [Address 3]<br>
                                [City], [State], [Zip]
                                </address>
                                <p>[Email]</p>
                                <p>[Phone]</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="ups-section">
                                <div class="ups-section-header">
                                    <h4 class="ups-section_heading">Ship To</h4>
                                </div>
                                <p>[Country or Territory]</p>
                                <p>[Contact Name]</p>
                                <p>[Company Name]</p>
                                <address class="ups-address_condensed">
                                [Street Address]<br>
                                [Address 2]<br>
                                [Address 3]<br>
                                [City], [State], [Zip]
                                </address>
                                <p>[Email]</p>
                                <p>[Phone]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ups-section">
                    <div class="ups-section-header">
                        <button class="ups-cta ups-cta_secondary pull-right">{Edit}</button>
                        <h3 class="ups-section_heading">Product Information</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p><em>{Additional Description Information}</em></p>
                            <p><em>{Additional Description Information}</em></p>
                            <p><em>{Additional Description Information}</em></p>
                        </div>
                        <div class="col-md-4">
                            <p>No. of Packages <em>Required*</em></p>
                            <p>No. of Packages <em>Required*</em></p>
                            <p>No. of Packages <em>Required*</em></p>
                        </div>
                        <div class="col-md-4">
                            <p>Gross Weight <em>Required*</em></p>
                            <p>Gross Weight <em>Required*</em></p>
                            <p>Gross Weight <em>Required*</em></p>
                        </div>
                    </div>
                </div>
                <div class="ups-clear ups-form_ctaGroup text-center">
                    <button type="submit" class="ups-cta ups-cta_primary">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end us certificate (all fields) modal --> 

<!-- start us certificate (edit) modal -->

<div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-certificate_edit_modal" tabindex="-1" role="dialog" aria-labelledby="ups-certificate_edit_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                <h3 class="modal-title" id="ups-certificate_origin_5_label">U.S. Certificate of Origin</h3>
            </div>
            <!-- modal-header -->
            <div class="modal-body">
                <div class="ups-section">
                    <div class="ups-section-header">
                        <h4 class="ups-section_heading">{Product Name}:</h4>
                        <p>{Additional Description Information}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ups-form_group ups-noTxt">
                                <label for="certOriginNumPackages" class="ups-form_label">How many packages hold this item?</label>
                                <p id="itemDescription2HelperTxt" class="ups-form_subheader">Number of packages</p>
                                <div class="ups-text_wrapper ups-input_wrapper">
                                    <input type="text" name="certOriginNumPackages" class="ups-form_input" id="certOriginNumPackages" aria-describedby="itemDescription2HelperTxt">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="ups-form_group ups-noTxt">
                                <label for="certTotalWeight" class="ups-form_label">Weight of these {n} packages</label>
                                <p id="itemDescription3HelperTxt" class="ups-form_subheader">Gross weight</p>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="ups-text_wrapper ups-input_wrapper">
                                            <input type="text" name="certTotalWeight" class="ups-form_input" id="certTotalWeight" aria-describedby="itemDescription3HelperTxt">
                                        </div>
                                    </div>
                                    <div class="col-md-2">{LBS}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ups-section-header">
                        <h4 class="ups-section_heading">{Product Name}:</h4>
                        <p>{Additional Description Information}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ups-form_group ups-noTxt">
                                <label for="certOriginNumPackages" class="ups-form_label">How many packages hold this item?</label>
                                <p id="itemDescription2HelperTxt" class="ups-form_subheader">Number of packages</p>
                                <div class="ups-text_wrapper ups-input_wrapper">
                                    <input type="text" name="certOriginNumPackages" class="ups-form_input" id="certOriginNumPackages" aria-describedby="itemDescription2HelperTxt">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="ups-form_group ups-noTxt">
                                <label for="certTotalWeight" class="ups-form_label">Weight of these {n} packages</label>
                                <p id="itemDescription3HelperTxt" class="ups-form_subheader">Gross weight</p>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="ups-text_wrapper ups-input_wrapper">
                                            <input type="text" name="certTotalWeight" class="ups-form_input" id="certTotalWeight" aria-describedby="itemDescription3HelperTxt">
                                        </div>
                                    </div>
                                    <div class="col-md-2">{LBS}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ups-section-header">
                        <h3 class="ups-section_heading">Additional Products:</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ups-form_group">
                                <label for="selectDeclarationStatement" class=
                            "ups-form_label">Include an additional product</label>
                                <div class="ups-dropdown_wrapper ups-input_wrapper">
                                    <select id="selectDeclarationStatement" name=
                                "declarationStatement" class="ups-dropdown">
                                        <option>Select One</option>
                                        <option>Select One</option>
                                        <option>Select One</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ups-clear ups-form_ctaGroup text-center ups-noTxt">
                        <button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
                        <button type="button" class="ups-cta ups-cta_primary">Save and Close</button>
                    </div>
                    <div class="text-center ups-noTxt"> Still need help? Call USA Trade 1-800 USA-TRADE <br class="visible-sm-block visible-xs-block">
                        or Call UPS Customer Service 1 (800) 742-5877 </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-us_certificate_edit_modal" tabindex="-1" role="dialog" aria-labelledby="ups-us_certificate_edit_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                <h3 class="modal-title" id="ups-us_certificate_edit_label">U.S. Certificate of Origin</h3>
            </div>
            <!-- modal-header -->
            <div class="modal-body"> 
                <!--<form>--> 
                <!--<div class="ups-accordion_slim">
                    	<section class="ups-accordion_list">
    						<div class="ups-wrap_inner">
                                <div class="ups-accordion_wrapper">
									<ul class="ups-accordion_content">
                                    	<li class="ups-accordion_item">
                                        	<button class="ups-accordion_toggle">
                                            	Product Information
                                                <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i>
                                            </button>
                    						<div class="ups-accordion_expand">
                                            
                                                <div class="ups-contentBlock ups-wrap">
                                                    <div class="ups-wrap_inner">-->
                
                <div class="row">
                    <div class="col-md-5">
                        <div class="ups-form_group">
                            <label for="certItemName1" class="ups-form_label">Item Name</label>
                            <div class="ups-text_wrapper ups-input_wrapper">
                                <input type="text" name="certItemName1" class="ups-form_input" id="certItemName1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ups-form_group">
                    <label for="certAdditionalDetails1" class="ups-form_label">Additional Details</label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input type="text" name="certAdditionalDetails1" class="ups-form_input" id="certAdditionalDetails1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="ups-form_group">
                            <label for="certNumPackages1" class="ups-form_label">Number of Packages</label>
                            <div class="ups-text_wrapper ups-input_wrapper">
                                <input type="text" name="certNumPackages1" class="ups-form_input" id="certNumPackages1">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="ups-form_group">
                                    <label for="certWeight1" class="ups-form_label">Weight</label>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input type="text" name="certWeight1" class="ups-form_input" id="certWeight1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="ups-form_group">
                                    <fieldset>
                                        <legend class="ups-form_label">Unit of Measure</legend>
                                        <div class="ups-toggle well">
                                            <input id="certUnitMeasureLbs1" name="certUnitMeasure1" type="radio" checked>
                                            <label for="certUnitMeasureLbs1" onclick="">LBS</label>
                                            <input id="certUnitMeasureKgs1" name="certUnitMeasure1" type="radio">
                                            <label for="certUnitMeasureKgs1" onclick="">KGS</label>
                                            <div class="switch-bg"></div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="ups-cta ups-cta_secondary pull-right">Remove this Item</button>
                <div class="clearfix"></div>
                <hr>
                <div class="row">
                    <div class="col-md-5">
                        <div class="ups-form_group">
                            <label for="certItemName2" class="ups-form_label">Item Name</label>
                            <div class="ups-text_wrapper ups-input_wrapper">
                                <input type="text" name="certItemName2" class="ups-form_input" id="certItemName2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ups-form_group">
                    <label for="certAdditionalDetails2" class="ups-form_label">Additional Details</label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                        <input type="text" name="certAdditionalDetails2" class="ups-form_input" id="certAdditionalDetails2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="ups-form_group">
                            <label for="certNumPackages2" class="ups-form_label">Number of Packages</label>
                            <div class="ups-text_wrapper ups-input_wrapper">
                                <input type="text" name="certNumPackages2" class="ups-form_input" id="certNumPackages2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="ups-form_group">
                                    <label for="certWeight2" class="ups-form_label">Weight</label>
                                    <div class="ups-text_wrapper ups-input_wrapper">
                                        <input type="text" name="certWeight2" class="ups-form_input" id="certWeight2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="ups-form_group">
                                    <fieldset>
                                        <legend class="ups-form_label">Unit of Measure</legend>
                                        <div class="ups-toggle well">
                                            <input id="certUnitMeasureLbs2" name="certUnitMeasure2" type="radio" checked>
                                            <label for="certUnitMeasureLbs2" onclick="">LBS</label>
                                            <input id="certUnitMeasureKgs2" name="certUnitMeasure2" type="radio">
                                            <label for="certUnitMeasureKgs2" onclick="">KGS</label>
                                            <div class="switch-bg"></div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="ups-cta ups-cta_secondary pull-right">Remove this Item</button>
                <div class="clearfix"></div>
                <div class="text-center">
                    <button type="button" class="ups-cta ups-cta_secondary">Add Another Item to this Package</button>
                </div>
                <div class="ups-clear ups-form_ctaGroup text-center ups-noTxt">
                    <button type="submit" class="ups-cta ups-cta_primary">Save and Close</button>
                    <button type="submit" class="ups-cta ups-cta_secondary">Cancel</button>
                </div>
                
                <!--</div>
                                                </div>--> <!-- end .ups-contentBlock --> 
                
                <!--</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>--> 
                <!--</form>--> 
            </div>
        </div>
    </div>
</div>

<!-- end us certificate (edit) modal --> 

<!-- start certificate of help wizard modal -->

<div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-certificate_origin_help_wizard_modal" tabindex="-1" role="dialog" aria-labelledby="ups-certificate_origin_help_wizard_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                <h3 class="modal-title" id="ups-certificate_help_wizard_label">U.S. Certificate of Origin</h3>
            </div>
            <!-- modal-header -->
            <div class="modal-body">
                {{#if error}}
                	{{> A03_page_level_error this.co_error }}
                {{/if}}
                <div class="ups-section">
                    <div class="ups-section-header">
                        <h4>Item Name</h4>
                        <p>{Additional Description Information}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ups-form_group ups-form_required">
                                <label for="certOriginNumItem" class="ups-form_label">Total number of packages contain {item}? <span aria-hidden="true" class="ups-required_indicator"></span> </label>
                                <p class="ups-form_subheader">Number of Packages, Boxes or Cases</p>
                                <div class="ups-text_wrapper ups-input_wrapper">
                                    <input type="text" name="certOriginNumItem" class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}" id="certOriginNumItem" {{#if error}}aria-describedby="certOriginNumeItem_error"{{/if}} aria-required="true" required>
                                </div>
                              {{#if non_error}}
                              <div class="ups-check ups-active">
                                  <span class="icon ups-icon-check" aria-hidden="true"></span>
                                  <span class="ups-readerTxt">Check</span>
                              </div>
                              {{/if}}
                              {{#if error}}
                                {{>A11_field_lvl_error error_certOriginNumItem }}
                              {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="ups-form_group ups-form_required ups-input_has_unit">
                                <label for="certOriginWeightItem" class="ups-form_label">The total weight of {item}?<span aria-hidden="true" class="ups-required_indicator"></span></label>
                                <p class="ups-form_subheader">Gross Weight</p>
                                <div class="ups-text_wrapper ups-input_wrapper">
                                    <input type="text" name="certOriginWeightItem" class="ups-form_input{{#if error}} ng-invalid ng-dirty{{/if}}" id="certOriginWeightItem" {{#if error}}aria-describedby="certOriginWeightItem_error"{{/if}} aria-required="true" required>
                                    <span class="ups-input_unit_measure">{KGS}</span> 
                               	</div>
                              {{#if non_error}}
                              <div class="ups-check ups-active">
                                  <span class="push icon ups-icon-check" aria-hidden="true"></span>
                                  <span class="ups-readerTxt">Check</span>
                              </div>
                              {{/if}}
                              {{#if error}}
                                {{>A11_field_lvl_error error_certOriginWeightItem }}
                              {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="ups-clear ups-form_ctaGroup text-center ups-noTxt">
                        <button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
                        <button type="button" class="ups-cta ups-cta_primary">Next: {Item/Review/Finish}</button>
                    </div>
                    <p class="text-center"> Still need help? Call USA Trade 1-800 USA-TRADE <br class="visible-sm-block visible-xs-block">
                        or Call UPS Customer Service 1 (800) 742-5877 </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end certificate of origin help wizard modal --> 

<!-- start certificate of origin review modal -->

<div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-certificate_origin_review_modal" tabindex="-1" role="dialog" aria-labelledby="ups-certificate_origin_review_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                <h3 class="modal-title" id="ups-certificate_origin_review_label">U.S. Certificate of Origin</h3>
            </div>
            <!-- modal-header -->
            <div class="modal-body">
                <div class="ups-section">
                    <div class="ups-section-header">
                        <h3 class="ups-section_heading">Review Products</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-5"> <br>
                            {Product name} - {Product Description Information}<br>
                            Number of Packages {n}<br>
                            Gross Weight {n}  {LBS} </div>
                        <div class="col-md-5 col-md-offset-1">
                            <p class="text-right">
                                <button type="button" class="ups-cta ups-cta_secondary">Edit/View</button>
                            </p>
                            <p class="text-right">
                                <button type="button" class="ups-cta ups-cta_secondary">Remove</button>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-5"> <br>
                            {Product name} - {Product Description Information}<br>
                            Number of Packages {n}<br>
                            Gross Weight {n}  {LBS} </div>
                        <div class="col-md-5 col-md-offset-1">
                            <p class="text-right">
                                <button type="button" class="ups-cta ups-cta_secondary">Edit/View</button>
                            </p>
                            <p class="text-right">
                                <button type="button" class="ups-cta ups-cta_secondary">Remove</button>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="ups-clear ups-form_ctaGroup text-center">
                        <button type="button" class="ups-cta ups-cta_tertiary">Previous</button>
                        <button type="button" class="ups-cta ups-cta_primary">Finish</button>
                    </div>
                </div>
                <div class="text-center ups-noTxt"> Still need help? Call USA Trade 1-800 USA-TRADE <br class="visible-sm-block visible-xs-block">
                    or Call UPS Customer Service 1 (800) 742-5877 </div>
            </div>
        </div>
    </div>
</div>

<!-- end certificate of origin review modal -->

<div class="ups-cms-demo"> 
    <!------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/////   Don't Use Below Code in Production                                 /////   
/////   Code Below is only to Demonstrate Modals                           /////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------->
    <button type="button" class="ups-cta ups-cta_primary" onclick="" data-toggle="modal" data-target="#ups-certificate_origin_modal">US Certificate of Origin - In Progress</button>
    <br>
    <br>
    <button type="button" class="ups-cta ups-cta_primary" onclick="" data-toggle="modal" data-target="#ups-certificate_all_modal">US Certificate of Origin (All Fields)</button>
    <br>
    <br>
    <button type="button" class="ups-cta ups-cta_primary" onclick="" data-toggle="modal" data-target="#ups-certificate_edit_modal">US Certificate of Origin (Edit)</button>
    <br>
    <br>
    <button type="button" class="ups-cta ups-cta_primary" onclick="" data-toggle="modal" data-target="#ups-certificate_origin_help_wizard_modal">Certificate of Origin Help Wizard</button>
    <br>
    <br>
    <button type="button" class="ups-cta ups-cta_primary" onclick="" data-toggle="modal" data-target="#ups-certificate_origin_review_modal">Certificate of Review</button>
    <!-- end certificate of origin --> 
    
</div>
<!-- end ups-cms-demo --> 