{{!-----------------------------------------------------------------------------
================================================================================
Needs Based Shipping - Confirmation page
--------------------------------------------------------------------------------
UI Issues to resolve at later time:
================================================================================
-------------------------------------------------------------------------------}} 
<!-- For full documentation see partial partials/_app_ent/nbs/confirmation_partial.hbs --> 
<!-- Data objects can be found at data/confirmation.json --> 
<div class="ups-app_inner">
<!-- /////////////////////////////////////////// --> 
<!-- /// Title 								//// --> 
<!-- /////////////////////////////////////////// -->
<div class="row">
	<div class="col-xs-12 text-center">
		<div class="ups-group">
			<h2 class="ups-section_heading ups-centered_header">Confirmation.</h2>
		</div>
	</div>
</div>
<!-- /////////////////////////////////////////// --> 
<!-- //// Begin Intro Section           	//// --> 
<!-- /////////////////////////////////////////// --> 

<section class="ups-section" id="introSection">
	<div class="row">
		<div class="col-md-5">
			<div class="ups-step_block">
				<div class="ups-step_block_body"> 
					<div class="row">
						<div class="col-sm-1 col-md-2 text-center" id="ups-icon-email">
						<span class="icon ups-icon-email ups-icon_big pull-left" aria-hidden="true"></span></div>
						<div class="col-sm-11 col-md-10">
							<p class="ups-step_block_copy">Thanks for using UPS for your shipping needs! An
							email confirmation has been sent to <a href="#" class="ups-link">shipper@emailaddress.com</a></p>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="ups-group">
				<p class="ups-form_label">Your Tracking Number</p>
				<span class="h3">1Z 620 003 34 2343 345 2</span>
			</div>
		</div>
	</div>
</section>
<!-- /////////////////////////////////////////// --> 
<!-- //// End Intro Section                 //// --> 
<!-- //// Begin Shipping Sumary Section     //// --> 
<!-- /////////////////////////////////////////// -->
<section class="ups-section" id="shippingSummarySection">
	<div class="ups-section-header">
		<h2 class="ups-section_heading">Shipping Summary</h2>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="ups-group">
				<p class="ups-form_label">From</p>
				<address>
				Frances Smith, State the Label<br>
				1375 Peachtree St, Atlanta, GA 30309<br>
				USA
				</address>
			</div>
			<div class="ups-group">
				<p class="ups-form_label">To</p>
				<address>
				Rachel Williams<br>
				5847 San Felipe, Suite 400, Houston, TX 77001<br>
				USA
				</address>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="ups-group ups-group_condensed">
				<p class="ups-form_label">Delivery Time</p>
				<p>2nd Day Air</p>
				<p>Saturday, December 10th</p>
				<p>End of Day</p>
			</div>
			<div class="ups-group ups-group_condensed">
				<p class="ups-form_label">Payment</p>
				<p>Charges to XXXX-XXXX-XXXX-0268</p>
				<p>Total: $105.57</p>
			</div>
		</div>
	</div>
	
	<button type="submit" class="ups-link ups-btn_has_icon" id="expandDetails">See Full Shipping Details <span class="icon ups-icon-wedgedown" aria-hidden="true"></span></button>
			
	<div id="fullDetailsSection">
		<div class="row">
			<div class="col-md-5">
				<div class="ups-group ups-group_condensed">
					<p class="ups-form_label">Return To</p>
					<address>
					Rachel Williams<br>
					5847 San Felipe, Suite 400, Houston, TX 77001<br>
					USA
					</address>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="ups-group ups-group_condensed">
					<p class="ups-form_label">Pickup Details</p>
					<p>[Friday] [Dec10th], [8 am- 6pm], at [Front Door]</p>
					<address>
					Frances Smith, State the Label<br>
					1375 Peachtree St., Atlanta, GA 30309<br>
					USA
					</address>
					<p><a href="#" class="ups-link">[PRN #]</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="ups-group ups-group_condensed">
					<p class="ups-form_label">International Forms Documentation</p>
					<p>Commercial Invoice {(UPS Paperless)}</p>
					<p>NAFTA Certificate of Origin {(UPS Paperless)}</p>
					<p>Packing List {(Uploaded)}</p>
					<p>U.S. Certificate of Origin</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<h3 class="ups-form_label">Shipping Service Options</h3>
				<div class="ups-balance_table clearfix">
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Transportation
					</div>
					<div class="ups-balance_row clearfix">
						<span class="pull-right">nnn.nn USD</span>
						Delivery Area Surcharge - Rural
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						EEI Filing Surcharge
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Extended Area Surcharge (Ship From) - [geo-type]
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Extended Area Surcharge (Ship To)  - [geo-type]
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Fuel Surcharge
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Residential Surcharge
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Security Surcharge
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						State Department License Filling Surcharge
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Saturday Air Processing Fee Package n
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Large Package Surcharge
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Declared Value [(Billed to Shipper)]
					</div>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<h3 class="ups-form_label">Additional Option Fees</h3>
				<div class="ups-balance_table">
					<div class="ups-balance_row ups-balance_row_condensed">
						C.O.D. Amount
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Package n
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Email Notifications
					</div>
					<div class="ups-balance_row ups-balance_row_condensed">
						UPS Premium Care
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						- Package 1
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						UPS Carbon Neutral
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Deliver to Addressee Only
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Direct Delivery Only
					</div>
					<div class="ups-balance_row ups-balance_row_condensed">
						UPS Premium Care
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						- Package n
					</div>
					<div class="ups-balance_row">
						<span class="pull-right">nnn.nn USD</span>
						Saturday Delivery
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="ups-form_ctaGroup text-center">
					<button type="submit" class="ups-cta ups-cta_secondary" id="hideDetails">Hide Details</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /////////////////////////////////////////// --> 
<!-- //// End Shipping Summary Section      //// --> 
<!-- //// Begin Create a UPS Profile Section /// --> 
<!-- /////////////////////////////////////////// -->
<section class="ups-section">
	<div class="ups-section-header">
		<h2 class="ups-section_heading">Create a UPS Profile</h2>
	</div>
	<div class="row"> 
		<div class="col-md-5">
			<div class="ups-step_block">
				<div class="ups-step_block_body"> 
					<div class="row">
						<div class="col-sm-1 col-md-2 text-center" id="ups-icon-email">
						<span class="icon ups-icon-recurring ups-icon_big pull-left" aria-hidden="true"></span></div>
						<div class="col-sm-11 col-md-10">
							<p class="ups-step_block_title">Ship Faster With Saved Information</p>
							<p class="ups-step_block_copy">Save all details of this shipment and use them for future shipments.</a></p>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="ups-form_ctaGroup">
				<button type="submit" class="ups-cta ups-cta_primary">Create Profile</button>
			</div>
		</div>
	</div>
</section>

<!-- /////////////////////////////////////////// --> 
<!-- //// End Create a UPS Profile Section   /// --> 
<!-- //// Begin Next Steps Section          //// --> 
<!-- /////////////////////////////////////////// -->
<section class="ups-section">
	<div class="ups-section-header">
		<h2 class="ups-section_heading">Next Steps</h2>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-12"> {{> A01_step_block step_block_1}} </div>
		<div class="col-md-4 col-sm-12"> {{> A01_step_block step_block_2}} </div>
		<div class="col-md-4 col-sm-12"> {{> A01_step_block step_block_3}} </div>
	</div>
</section>
<section class="ups-section">
	<div class="ups-section-header">
		<h2 class="ups-section_heading">Drop Off Your Shipment at a UPS Location Near You</h2>
	</div>
	
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ////// Remove this h3 and replace with map ////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
	<div class="ups-cms-demo">
		<h3 style="font-size:300%; color:#242424;" class="text-center">INSERT MAP HERE</h3>
    </div>
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
	
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ////// Remove this h3 and replace with map ////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ///////////////////////////////////////////////// --> 
	<!-- ///////////////////////////////////////////////// --> 
</section>
</div>
<!-- /////////////////////////////////////////// --> 
<!-- //// End Drop Off Section              //// --> 
<!-- //// Begin Create Profile Section      //// --> 
<!-- /////////////////////////////////////////// --> 
<!-- <section class="ups-section"> 
	<div class="ups-section-header">
		<h2 class="ups-section_heading">Create a UPS Profile Today</h2>
	</div>	
	<div class="row">	
		<div class="col-md-4 col-sm-12 text-center">
			{{!-- documentation ../source/module/A01_step_block.hbs --}}
		</div>
		<div class="col-md-4 col-sm-12 text-center">
			{{!-- documentation ../source/module/A01_step_block.hbs --}}
		</div>
		<div class="col-md-4 col-sm-12 text-center">
			{{!-- documentation ../source/module/A01_step_block.hbs --}}
		</div>
	</div>
</section>	--> 
<!-- /////////////////////////////////////////// --> 
<!-- //// End Create Profile Section        //// --> 
<!-- //// Begin Template Section            //// --> 
<!-- /////////////////////////////////////////// -- 
<section class="ups-section"> 
	<div class="ups-section-header">
		<h2 class="ups-section_heading">Ship Quick with Templates</h2>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="ups-group">
				<p class="ups-group_label">Plan on shipping again?</p>
				<p class="ups-group_value">Save a template for future use.</p>
			</div>
			<div class="ups-form_group ">
				<label for="template_name" class="ups-form_label">Enter Template Name</label>
				<div class="ups-text_wrapper ups-input_wrapper">
					<input type="text" name="name" class="ups-form_input" id="template_name">
				</div>
			</div>
			<div class="ups-form_group">
				<label for="template_desc" class="ups-form_label">Enter Template Description</label>									
				<div class="ups-textArea_wrapper ups-input_wrapper">
					<textarea class="ups-textArea" id="template_desc" rows="8" maxlength="500" name=""></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1 ups-pull-right-lg">
			<fieldset class="ups-form_group">
				<legend class="ups-form_label">Select the details you'd like to use for this template.</legend>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="from_checkbox" class="ups-checkbox-custom" name="check" type="checkbox" checked="">
					<label for="from_checkbox" value="1" class="ups-checkbox-custom-label">From: [name], [address line 1]</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="to_checkbox" class="ups-checkbox-custom" name="check" type="checkbox">
					<label for="to_checkbox" value="2" class="ups-checkbox-custom-label">To: [name], [address line 1]</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="what_checkbox" class="ups-checkbox-custom" name="check" type="checkbox">
					<label for="what_checkbox" value="3" class="ups-checkbox-custom-label">What: [n], [packaging], [weight]</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="when_checkbox" class="ups-checkbox-custom" name="check" type="checkbox">
					<label for="when_checkbox" value="4" class="ups-checkbox-custom-label">When: [service]</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="forms_checkbox" class="ups-checkbox-custom" name="check" type="checkbox">
					<label for="forms_checkbox" value="5" class="ups-checkbox-custom-label">Forms: ?Products to list</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="add_ons_checkbox" class="ups-checkbox-custom" name="check" type="checkbox">
					<label for="add_ons_checkbox" value="6" class="ups-checkbox-custom-label">Add ons: [vas {C.O.D}], [vas {Delivery without signature}]</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="duties_taxes_checkbox" class="ups-checkbox-custom" name="check" type="checkbox">
					<label for="duties_taxes_checkbox" value="7" class="ups-checkbox-custom-label">Duties and Taxes: [payment method]</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="payment_checkbox" class="ups-checkbox-custom" name="check" type="checkbox">
					<label for="payment_checkbox" value="8" class="ups-checkbox-custom-label">Payment: [payment method]</label>
				</div>
			</fieldset>
		</div>
	</div>
</section>
<!-- /////////////////////////////////////////// --> 
<!-- //// End Template Section              //// --> 
<!-- /////////////////////////////////////////// -->