<!-- start packing list ready to go modal  -->

<div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-packing_list_ready_to_go_modal" tabindex="-1" role="dialog" aria-labelledby="ups-packing_list_ready_to_go_label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                        <h2 class="modal-title" id="ups-assign_products_list_label">Assign Products to Packages</h2>
                    </div>
                    <div class="modal-body">
                        <div class="ups-form_status">
                                <div class="row">
                                    <div class="col-sm-5"> <strong class="h4">Ready to go</strong> </div>
                                    <div class="col-sm-7 ups-text-sm-right"> <em>All required fields have been entered in this form.<br>You may add additional information if you wish.</em> </div>
                                </div>
                            </div>
                            <div class="ups-section">
                            	<div class="ups-section-header">
                                	<h3 class="ups-section_heading">Address Information</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="ups-section ups-section_condensed">
                                            <div class="ups-section-header">
                                                <h4 class="ups-section_heading">Ship From</h4>
                                            </div>
                                            <p>[Country or Territory]</p>
                                            <p>[Contact Name]</p>
                                            <p>[Company Name]</p>
                                            <address class="ups-address_condensed">
                                            [Street Address]<br>
                                            [Address 2]<br>
                                            [Address 3]<br>
                                            [City], [State], [Zip]
                                            </address>
                                            <p>[Email]</p>
                                            <p>[Phone]</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-md-offset-1">
                                        <div class="ups-section ups-section_condensed">
                                            <div class="ups-section-header">
                                                <h4 class="ups-section_heading">Ship To</h4>
                                            </div>
                                            <p>[Country or Territory]</p>
                                            <p>[Contact Name]</p>
                                            <p>[Company Name]</p>
                                            <address class="ups-address_condensed">
                                            [Street Address]<br>
                                            [Address 2]<br>
                                            [Address 3]<br>
                                            [City], [State], [Zip]
                                            </address>
                                            <p>[Email]</p>
                                            <p>[Phone]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ups-section">
                                <div class="ups-section-header">
                                <button class="ups-cta ups-cta_secondary pull-right">{Edit}</button>
                                    <h3 class="ups-section_heading">Shipment Information</h3>
                                </div>
                                
                                <div class="ups-group">
                                    <p class="ups-group_label">[Description of Goods]</p>
                                    <p class="ups-group_value">{prepopulate from shipment "what" page}</p>
                                </div>                                    
                                
                                <div class="ups-group">
                                    <p class="ups-group_label">[Total Shipment Weight]</p>
                                    <p class="ups-group_value">{prepopulate from shipment "what" page}</p>
                                </div>                                    
                            
                                <div class="ups-group">
                                    <p class="ups-group_label">[Total Number of Packages]</p>
                                    <p class="ups-group_value">{prepopulate from shipment "what" page}</p>
                                </div>                                    
                            </div>
                            
                            <div class="ups-section">
                                <div class="ups-section-header">
                                <button class="ups-cta ups-cta_secondary pull-right">{Edit}</button>
                                    <h3 class="ups-section_heading">Assign Products</h3>
                                </div>
                                <p>All {item name}{unit}s have been assigned!</p>
                                <p>All {item name}{unit}s have been assigned!</p>
                                <p>All {item name}{unit}s have been assigned!</p>
                            </div>
                            <div class="ups-section">
                                <div class="ups-section-header">
                                	<button class="ups-cta ups-cta_secondary pull-right">{Edit}</button>
                                    <h3 class="ups-section_heading">Package 1</h3>
                                    <p>Package Weight: [Weight]</p>
                                </div>
                                <div class="ups-contentBlock">
                                    <div class="ups-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th scope="col">Description of Goods</th>
                                                    <th scope="col">Number of Units</th>
                                                    <th scope="col">Unit of Measure</th>
                                                    <th scope="col">Notes</th>
                                                </tr>
                                                <tr>
                                                    <td>1. {Table lamp}</td>
                                                    <td>{uuuu}</td>
                                                    <td>{uuuu}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>2. {fabric shade}</td>
                                                    <td>{uuuu}</td>
                                                    <td>{uuuu}</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <!--<div class="row">
                                    <div class="col-md-3">
                                        <p class="ups-form_label">Description of Goods</p>
                                	</div>
                                    <div class="col-md-3">
                                    	<p class="ups-form_label">Number of Units</p>
                                	</div>
                                    <div class="col-md-3">
                                    	<p class="ups-form_label">Unit of Measure</p>
                                	</div>
                                    <div class="col-md-3">
                                        <p class="ups-form_label">Notes</p>
                                	</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>1. {Table lamp}</p>
                                	</div>
                                    <div class="col-md-3">
                                        <p>{uuuu}</p>
                                	</div>
                                    <div class="col-md-3">
                                       	<p>{uuuu}</p>
                                	</div>
                                    <div class="col-md-3">
                                    	
                                	</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">  
                                        <p>2. {fabric shade}</p>
                                	</div>
                                    <div class="col-md-3">
                                        <p>{uuuu}</p>
                                	</div>
                                    <div class="col-md-3">
                                       	<p>{uuuu}</p>
                                	</div>
                                    <div class="col-md-3">
                                    	
                                	</div>
                                </div>-->
                            </div>
                            <div class="ups-section">
                                <div class="ups-section-header">
                                <button class="ups-cta ups-cta_secondary pull-right">{Edit}</button>
                                    <h3 class="ups-section_heading">Package {n}</h3>
                                    <p>Package Weight: [Weight]</p>
                                </div>
                                <div class="ups-contentBlock">
                                    <div class="ups-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th scope="col">Description of Goods</th>
                                                    <th scope="col">Number of Units</th>
                                                    <th scope="col">Unit of Measure</th>
                                                    <th scope="col">Notes</th>
                                                </tr>
                                                <tr>
                                                    <td>1. [light bulbs]</td>
                                                    <td>{uuuu}</td>
                                                    <td>{uuuu}</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--<div class="row">
                                    <div class="col-md-3">
                                        <p class="ups-form_label">Description of Goods</p> 
                                    </div>                                       
                                    <div class="col-md-3">
                                    	<p class="ups-form_label">Number of Units</p>                                          
                                	</div>
                                    <div class="col-md-3">
                                    	<p class="ups-form_label">Unit of Measure</p>                                                               
                                	</div>
                                    <div class="col-md-3">
                                        <p class="ups-form_label">Notes</p>                      
                                	</div>
                                </div> 
                                <div class="row">
                                	<div class="col-md-3">
                                    	<p>1. [light bulbs]</p>
                                    </div>
                                    <div class="col-md-3">
                                    	<p>{uuuu}</p> 
                                    </div>
                                    <div class="col-md-3">
                                    	<p>{uuuu}</p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>-->
                            </div>
                            <div class="ups-section">
                                <div class="ups-section-header">
                                <button class="ups-cta ups-cta_secondary pull-right">{Add}</button>
                                    <h3 class="ups-section_heading">Shipper Memo</h3>
                                </div>                         
                            </div>
                            <div class="ups-clear ups-form_ctaGroup text-center">
                                <button type="submit" class="ups-cta ups-cta_primary">Close</button>                                
                            </div> 
                    </div>
                </div>
            </div>
        </div>
        
<!-- end packing list ready to go modal  -->

<!-- start packing list edit modal  -->
        
        <div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-packing_list_edit_modal" tabindex="-1" role="dialog" aria-labelledby="ups-packing_list_edit_label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                        <h2 class="modal-title" id="ups-packing_list_label">Packing List</h2>
                    </div>
                    <div class="modal-body">
                        <div class="ups-accordion_slim">
                            <section class="ups-accordion_list">
                                <div class="ups-wrap_inner">
                                    <div class="ups-accordion_wrapper">
                                        <ul class="ups-accordion_content" role="tablist">
                                            <li class="ups-accordion_item">
                                                <a href="#" class="ups-accordion_toggle" role="tab" aria-controls="ups-accordionPanel_1" aria-selected="false" aria-expanded="false"> Address Information <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </a>
                                                <div class="ups-accordion_expand" id="ups-accordionPanel_1" role="tabpanel" aria-hidden="true">
                                                    <div class="ups-contentBlock ups-wrap">
                                                        <div class="ups-wrap_inner">
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <div class="ups-section ups-section_condensed">
                                                                        <div class="ups-section-header">
                                                                            <h3>Ship From</h3>
                                                                        </div>
                                                                        <p>[Country or Territory]</p>
                                                                        <p>[Contact Name]</p>
                                                                        <p>[Company Name]</p>
                                                                        <address class="ups-address_condensed">
                                                                        [Street Address]<br>
                                                                        [Address 2]<br>
                                                                        [Address 3]<br>
                                                                        [City], [State], [Zip]
                                                                        </address>
                                                                        <p>[Email]</p>
                                                                        <p>[Phone]</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 col-md-offset-1">
                                                                    <div class="ups-section ups-section_condensed">
                                                                        <div class="ups-section-header">
                                                                            <h3>Ship To</h3>
                                                                        </div>
                                                                        <p>[Country or Territory]</p>
                                                                        <p>[Contact Name]</p>
                                                                        <p>[Company Name]</p>
                                                                        <address class="ups-address_condensed">
                                                                        [Street Address]<br>
                                                                        [Address 2]<br>
                                                                        [Address 3]<br>
                                                                        [City], [State], [Zip]
                                                                        </address>
                                                                        <p>[Email]</p>
                                                                        <p>[Phone]</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end .ups-contentBlock --> 
                                                </div>
                                            </li>
                                            <li class="ups-accordion_item">
                                                <a href="#" class="ups-accordion_toggle" role="tab" aria-controls="ups-accordionPanel_2" aria-selected="false" aria-expanded="false"> Shipment Information <i class="icon ups-icon-plus"> <span class="ups-readerTxt">expand</span> </i> </a>
                                                <div class="ups-accordion_expand" id="ups-accordionPanel_2" role="tabpanel" aria-hidden="true">
                                                    <div class="ups-contentBlock ups-wrap">
                                                        <div class="ups-wrap_inner">
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <div class="ups-form_group">
                                                                        <label for="packingListShipmentNum" class="ups-form_label">[Shipment Number]</label>
                                                                        <div class="ups-text_wrapper ups-input_wrapper">
                                                                            <input type="text" name="packingListShipmentNum" class="ups-form_input" id="packingListShipmentNum">
                                                                        </div>
                                                                    </div>
                                                                    <div class="ups-form_group">
                                                                        <label for="packingListInvoiceNum" class="ups-form_label">[Invoice Number]</label>
                                                                        <div class="ups-text_wrapper ups-input_wrapper">
                                                                            <input type="text" name="packingListInvoiceNum" class="ups-form_input" id="packingListInvoiceNum">
                                                                        </div>
                                                                    </div>
                                                                    <div class="ups-form_group">
                                                                        <label for="packingListPONum" class="ups-form_label">[PO Number]</label>
                                                                        <div class="ups-text_wrapper ups-input_wrapper">
                                                                            <input type="text" name="packingListPONum" class="ups-form_input" id="packingListPONum">
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-md-5 col-md-offset-1">
                                                                    <div class="ups-group">
                                                                        <div class="ups-group_label">[Description of Goods]</div>
                                                                        <div class="ups-group_value">{prepopulate from shipment "what" page}</div>
                                                                    </div>
                                                                    <div class="ups-group">
                                                                        <div class="ups-group_label">[Total Shipment Weight]</div>
                                                                        <div class="ups-group_value">{prepopulate weight from "what" page}</div>
                                                                    </div>
                                                                    <div class="ups-group">
                                                                        <div class="ups-group_label">[Total Number of Packages]</div>
                                                                        <div class="ups-group_value">{prepopulate weight from "what" page}</div>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end .ups-contentBlock --> 
                                                    
                                                </div>
                                            </li>
                                            <li class="ups-accordion_item">
                                                <a href="#" class="ups-accordion_toggle" role="tab" aria-controls="ups-accordionPanel_3" aria-selected="false" aria-expanded="false">Assign Products (nn Units Assigned) <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </a>
                                                <div class="ups-accordion_expand" id="ups-accordionPanel_3" role="tabpanel" aria-hidden="true">
                                                    <div class="ups-contentBlock ups-wrap">
                                                        <div class="ups-wrap_inner">
                                                            <p>You have {nn} unassigned products.</p>
                                                                    <p>Assign products by entering in the Number of Units and selecting the package number from the "Assign to" drop down menu lorem ipsum.</p>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <p class="ups-no_label">{nn}{Item name}{unit} left to assign.</p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="ups-form_group">
                                                                                <label for="packingListNumberUnits1" class="ups-form_label">Number of Units</label>
                                                                                <div class="ups-text_wrapper ups-input_wrapper">
                                                                                    <input type="text" name="packingListNumberUnits1" class="ups-form_input" id="packingListNumberUnits1" value="0">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="ups-form_group">
                                                                                <label for="packingListUnitAssignTo1" class="ups-form_label">Assign To</label>
                                                                                <div class="ups-dropdown_wrapper ups-input_wrapper">
                                                                                    <select id="packingListUnitAssignTo1" name="packingListUnitAssignTo1" class="ups-dropdown">
                                                                                        <option>Package 1</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <p class="ups-no_label">{nn}{Item name}{unit} left to assign.</p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="ups-form_group">
                                                                                <label for="packingListNumberUnits2" class="ups-form_label">Number of Units</label>
                                                                                <div class="ups-text_wrapper ups-input_wrapper">
                                                                                    <input type="text" name="packingListNumberUnits2" class="ups-form_input" id="packingListNumberUnits2" value="0">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="ups-form_group">
                                                                                <label for="packingListUnitAssignTo2" class="ups-form_label">Assign To</label>
                                                                                <div class="ups-dropdown_wrapper ups-input_wrapper">
                                                                                    <select id="packingListUnitAssignTo2" name="packingListUnitAssignTo2" class="ups-dropdown">
                                                                                        <option>Package 1</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <p class="ups-no_label">{nn}{Item name}{unit} left to assign.</p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="ups-form_group">
                                                                                <label for="packingListNumberUnits3" class="ups-form_label">Number of Units</label>
                                                                                <div class="ups-text_wrapper ups-input_wrapper">
                                                                                    <input type="text" name="packingListNumberUnits3" class="ups-form_input" id="packingListNumberUnits3" value="0">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="ups-form_group">
                                                                                <label for="packingListUnitAssignTo3" class="ups-form_label">Assign To</label>
                                                                                <div class="ups-dropdown_wrapper ups-input_wrapper">
                                                                                    <select id="packingListUnitAssignTo3" name="packingListUnitAssignTo3" class="ups-dropdown">
                                                                                        <option>Package 1</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>                                                            	
                                                        </div>
                                                    </div>
                                                    <!-- end .ups-contentBlock --> 
                                                    <div class="ups-clear ups-form_ctaGroup text-center">
                                									<button type="submit" class="ups-cta ups-cta_primary pull-right">Assign Products</button>
                            						</div>
                                                </div>
                                            </li>
                                            <li class="ups-accordion_item">
                                                <a href="#"class="ups-accordion_toggle" role="tab" aria-controls="ups-accordionPanel_4" aria-selected="false" aria-expanded="false"> Package 1 <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </a>
                                                <div class="ups-accordion_expand" id="ups-accordionPanel_4" role="tabpanel" aria-hidden="true">
                                                    <div class="ups-contentBlock ups-wrap">                                                    
                                                        <div class="ups-wrap_inner">
                                                        
                                                        	<p>{Shipment/Package} Weight: [Weight]</p>
                                                        
                                                            <!--<div class="ups-table">
                                                                <table>
                                                                    <tbody>
                                                                    	<tr>
                                                                            <th>Description of Goods</th>
                                                                            <th>Number of Units</th>
                                                                            <th>Unit of Measure</th>
                                                                            <th>Notes</th>
                                                                        </tr>
                                                                        <tr>
                                                                        	<td>{Table lamp with fabric shade}</td>
                                                                            <td>
                                                                            	<div class="ups-form_group">                                                                					<label for="packingListPk1NumberUnits1" class="ups-readerTxt">
                                                                                	Number for Units for Item 1
                                                                            		</label>
                                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                                        <input type="text" name="packingListPk1NumberUnits1" class="ups-form_input" id="packingListPk1NumberUnits1" value="{nnnn}">
                                                                                    </div>
                                                                        		</div>
                                                                			</td>
                                                                            <td>{uuuu}</td>
                                                                            <td>
                                                                            	<div class="ups-form_group">                                                                					<label for="packingListPk1Notes1" class="ups-readerTxt">
                                                                            			Notes for Item 1
                                                                        			</label>
                                                                        			<div class="ups-text_wrapper ups-input_wrapper">
                                                                            			<input type="text" name="packingListPk1Notes1" class="ups-form_input" id="packingListPk1Notes1" value="{nnnn}">
                                                                        			</div>
                                                                    			</div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                        	<td>{Bean bag}</td>
                                                                            <td>
                                                                            	<div class="ups-form_group">                                                                					<label for="packingListPk1NumberUnits2" class="ups-readerTxt">
                                                                                	Number for Units for Item 2
                                                                            		</label>
                                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                                        <input type="text" name="packingListPk1NumberUnits2" class="ups-form_input" id="packingListPk1NumberUnits2" value="{nnnn}">
                                                                                    </div>
                                                                        		</div>
                                                                			</td>
                                                                            <td>{uuuu}</td>
                                                                            <td>
                                                                            	<div class="ups-form_group">                                                                					<label for="packingListPk1Notes2" class="ups-readerTxt">
                                                                            			Notes for Item 2
                                                                        			</label>
                                                                        			<div class="ups-text_wrapper ups-input_wrapper">
                                                                            			<input type="text" name="packingListPk1Notes2" class="ups-form_input" id="packingListPk1Notes2" value="{nnnn}">
                                                                        			</div>
                                                                    			</div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                        	<td>{Floor lamp with fabric shade}</td>
                                                                            <td>
                                                                            	<div class="ups-form_group">                                                                					<label for="packingListPk1NumberUnits3" class="ups-readerTxt">
                                                                                	Number for Units for Item 3
                                                                            		</label>
                                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                                        <input type="text" name="packingListPk1NumberUnits3" class="ups-form_input" id="packingListPk1NumberUnits3" value="{nnnn}">
                                                                                    </div>
                                                                        		</div>
                                                                			</td>
                                                                            <td>{uuuu}</td>
                                                                            <td>
                                                                            	<div class="ups-form_group">                                                                					<label for="packingListPk1Notes3" class="ups-readerTxt">
                                                                            			Notes for Item 3
                                                                        			</label>
                                                                        			<div class="ups-text_wrapper ups-input_wrapper">
                                                                            			<input type="text" name="packingListPk1Notes3" class="ups-form_input" id="packingListPk1Notes3" value="{nnnn}">
                                                                        			</div>
                                                                    			</div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>-->
                                                            <fieldset class="ups-group">
                                                            	<legend class="ups-readerTxt_LVP">Item 1</legend>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label">Description of Goods</p>
                                                                        <p>{Table lamp with fabric shade}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label">Number of Units</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPk1NumberUnits1" class="ups-readerTxt">
                                                                                Number for Units for Item 1
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPk1NumberUnits1" class="ups-form_input" id="packingListPk1NumberUnits1" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label">Unit of Measure</p>
                                                                        <p>{uuuu}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label">Notes</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPk1Notes1" class="ups-readerTxt">
                                                                                Notes for Item 1
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPk1Notes1" class="ups-form_input" id="packingListPk1Notes1" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset class="ups-group">
                                                            	<legend class="ups-readerTxt_LVP">Item 2</legend>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Description of Goods</p>
                                                                        <p>{Bean bag}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Number of Units</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPk1NumberUnits2" class="ups-readerTxt">
                                                                                Number for Units for Item 2
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPk1NumberUnits2" class="ups-form_input" id="packingListPk1NumberUnits2" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Unit of Measure</p>
                                                                        <p>{uuuu}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Notes</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPk1Notes2" class="ups-readerTxt">
                                                                                Notes for Item 2
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPk1Notes2" class="ups-form_input" id="packingListPk1Notes2" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset class="ups-group">
                                                            	<legend class="ups-readerTxt_LVP">Item 3</legend>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Description of Goods</p>
                                                                        <p>{Floor lamp with fabric shade}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Number of Units</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPk1NumberUnits3" class="ups-readerTxt">
                                                                                Number for Units for Item 3
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPk1NumberUnits3" class="ups-form_input" id="packingListPk1NumberUnits3" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Unit of Measure</p>
                                                                        <p>{uuuu}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Notes</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPk1Notes3" class="ups-readerTxt">
                                                                                Notes for Item 3
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPk1Notes3" class="ups-form_input" id="packingListPk1Notes3" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            
                                                            
                                                            
                                                            
                                                           <!--<div class="row">
                                                           		<div class="col-md-3">
                                                               		{Table lamp with fabric shade}                                                            
                                                               </div>
                                                               <div class="col-md-3">
                                                                <div class="ups-form_group">                                                                	<label for="packingListPk1NumberUnits1" class="ups-readerTxt">
                                                                		Number for Units for Item 1
                                                                    </label>
                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                        <input type="text" name="packingListPk1NumberUnits1" class="ups-form_input" id="packingListPk1NumberUnits1" value="{nnnn}">
                                                                    </div>
                                                               	</div>
                                                               </div>
                                                               <div class="col-md-3">
                                                               		{uuuu}    
                                                               </div>
                                                               <div class="col-md-3">
                                                               	 <div class="ups-form_group">                                                                	<label for="packingListPk1Notes1" class="ups-readerTxt">
                                                                		Notes for Item 1
                                                                    </label>
                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                        <input type="text" name="packingListPk1Notes1" class="ups-form_input" id="packingListPk1Notes1" value="{nnnn}">
                                                                    </div>
                                                               	</div>
                                                               </div>                                                              
                                                           </div>
                                                           <div class="row">
                                                           		<div class="col-md-3">
                                                               		{Bean bag}                                                            
                                                               </div>
                                                               <div class="col-md-3">
                                                               	<div class="ups-form_group">                                                                	<label for="packingListPk1NumberUnits2" class="ups-readerTxt">
                                                                		Number for Units for Item 2
                                                                    </label>
                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                        <input type="text" name="packingListPk1NumberUnits2" class="ups-form_input" id="packingListPk1NumberUnits2" value="{nnnn}">
                                                                    </div>
                                                               	</div>
                                                               </div>
                                                               <div class="col-md-3">
                                                               		{uuuu}   
                                                               </div>
                                                               <div class="col-md-3">
                                                               	<div class="ups-form_group">                                                                	<label for="packingListPk1Notes2" class="ups-readerTxt">
                                                                		Notes for Item 2
                                                                    </label>
                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                        <input type="text" name="packingListPk1Notes2" class="ups-form_input" id="packingListPk1Notes2" value="{nnnn}">
                                                                    </div>
                                                               	</div> 
                                                               </div>                                                              
                                                           </div>
                                                           <div class="row">
                                                           		<div class="col-md-3">
                                                               		{Floor lamp with fabric shade}                                                            
                                                               </div>
                                                               <div class="col-md-3">
                                                               	<div class="ups-form_group">                                                                	<label for="packingListPk1NumberUnits3" class="ups-readerTxt">
                                                                		Number for Units for Item 3
                                                                    </label>
                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                        <input type="text" name="packingListPk1NumberUnits3" class="ups-form_input" id="packingListPk1NumberUnits3" value="{nnnn}">
                                                                    </div>
                                                               	</div>  
                                                               </div>
                                                               <div class="col-md-3">
                                                               		{uuuu}   
                                                               </div>
                                                               <div class="col-md-3">
                                                               	<div class="ups-form_group">                                                                	<label for="packingListPk1Notes3" class="ups-readerTxt">
                                                                		Notes for Item 3
                                                                    </label>
                                                                    <div class="ups-text_wrapper ups-input_wrapper">
                                                                        <input type="text" name="packingListPk1Notes3" class="ups-form_input" id="packingListPk1Notes3" value="{nnnn}">
                                                                    </div>
                                                               	</div>  
                                                               </div>                                                              
                                                           </div>-->
                                                           
                                                                                                                      
                                                        </div>
                                                    </div>
                                                    <!-- end .ups-contentBlock --> 
                                                </div>
                                            </li>
                                            <li class="ups-accordion_item">
                                                <a href="#" class="ups-accordion_toggle" role="tab" aria-controls="ups-accordionPanel_5" aria-selected="false" aria-expanded="false"> Package {n} <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </a>
                                                <div class="ups-accordion_expand" id="ups-accordionPanel_5" role="tabpanel" aria-hidden="true">
                                                    <div class="ups-contentBlock ups-wrap">                                                    
                                                        <div class="ups-wrap_inner">
                                                        <p>{Shipment/Package} Weight: [Weight]</p>
                                                           <fieldset class="ups-group">
                                                            	<legend class="ups-readerTxt_LVP">Item 1</legend>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label">Description of Goods</p>
                                                                        <p>{Table lamp with fabric shade}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label">Number of Units</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPknNumberUnits1" class="ups-readerTxt">
                                                                                Number for Units for Item 1
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPknNumberUnits1" class="ups-form_input" id="packingListPknNumberUnits1" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label">Unit of Measure</p>
                                                                        <p>{uuuu}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label">Notes</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPknNotes1" class="ups-readerTxt">
                                                                                Notes for Item 1
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPknNotes1" class="ups-form_input" id="packingListPknNotes1" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset class="ups-group">
                                                            	<legend class="ups-readerTxt_LVP">Item 2</legend>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Description of Goods</p>
                                                                        <p>{Bean bag}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Number of Units</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPknNumberUnits2" class="ups-readerTxt">
                                                                                Number for Units for Item 2
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPknNumberUnits2" class="ups-form_input" id="packingListPknNumberUnits2" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Unit of Measure</p>
                                                                        <p>{uuuu}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Notes</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPknNotes2" class="ups-readerTxt">
                                                                                Notes for Item 2
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPknNotes2" class="ups-form_input" id="packingListPknNotes2" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset class="ups-group">
                                                            	<legend class="ups-readerTxt_LVP">Item 3</legend>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Description of Goods</p>
                                                                        <p>{Floor lamp with fabric shade}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Number of Units</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPknNumberUnits3" class="ups-readerTxt">
                                                                                Number for Units for Item 3
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPknNumberUnits3" class="ups-form_input" id="packingListPknNumberUnits3" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Unit of Measure</p>
                                                                        <p>{uuuu}</p>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <p class="ups-form_label ups-readerTxt_LVP">Notes</p>
                                                                        <div class="ups-form_group">                                                                		<label for="packingListPknNotes3" class="ups-readerTxt">
                                                                                Notes for Item 3
                                                                            </label>
                                                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                                                <input type="text" name="packingListPknNotes3" class="ups-form_input" id="packingListPknNotes3" value="{nnnn}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <!-- end .ups-contentBlock --> 
                                                </div>
                                            </li>
                                            <li class="ups-accordion_item">
                                                <a href="#" class="ups-accordion_toggle" role="tab" aria-controls="ups-accordionPanel_6" aria-selected="false" aria-expanded="false">Shipper Memo<i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                                                <div class="ups-accordion_expand" id="ups-accordionPanel_6" role="tabpanel" aria-hidden="true">
                                                    <div class="ups-contentBlock ups-wrap">                                                    
                                                        <div class="ups-wrap_inner">
                                                        	<div class="ups-form_group">
                                                                <label for="declarationStatement" class=
                                                        "ups-form_label">Shipper Memo</label>
                                                                <div class="ups-textArea_wrapper ups-input_wrapper">
                                                                    <textarea class="ups-textArea" id="declarationStatement" rows=
                                                            "8" maxlength="500" name=
                                                            "declarationStatement"></textarea>
                                                                </div>
                                                            </div>
                                                                                                                      
                                                        </div>
                                                    </div>
                                                    <!-- end .ups-contentBlock --> 
                                                </div>
                                            </li>
                                            {{!--
                                            <li class="ups-accordion_item">
                                                <button class="ups-accordion_toggle"> Declaration Statement <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                                                <div class="ups-accordion_expand">
                                                    <div class="ups-contentBlock ups-wrap">
                                                        <div class="ups-wrap_inner">
                                                            <div class="ups-form_group">
                                                                <label for="selectDeclarationStatement" class=
                                                        "ups-form_label">Select Declaration Statement</label>
                                                                <div class="ups-dropdown_wrapper ups-input_wrapper">
                                                                    <select id="selectDeclarationStatement" name=
                                                            "declarationStatement" class="ups-dropdown">
                                                                        <option> Standard </option>
                                                                        <option> Complicated </option>
                                                                        <option> Foreign </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="ups-form_group">
                                                                <label for="declarationStatement" class=
                                                        "ups-form_label">Statement</label>
                                                                <div class="ups-textArea_wrapper ups-input_wrapper">
                                                                    <textarea class="ups-textArea" id="declarationStatement" rows=
                                                            "8" maxlength="500" name=
                                                            "declarationStatement">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis ac lorem eu euismod. Pellentesque ornare pellentesque viverra. Morbi, this text shouldn't be put in production rhoncus id nulla sit amet euismod.</textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="ups-form_group">
                                                                        <label for="customNickname" class="ups-form_label">Custom
                                                                            Statement Nickname</label>
                                                                        <div class="ups-text_wrapper ups-input_wrapper">
                                                                            <input type="text" name="customNickname" class=
                                                                    "ups-form_input" id="customNickname">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end .ups-contentBlock --> 
                                                </div>
                                            </li>
                                            --}}
                                        </ul>
                                    </div>
                                    <!-- end .ups-accordion_wrapper --> 
                                </div>
                                <!-- end .ups-wrap_inner --> 
                            </section>
                        </div>
                        <!-- end .accordion-slim -->
                        <div class="ups-form_ctaGroup ups-noTxt text-center">
                            <button class="ups-cta ups-cta_primary">Save and Close</button>
                            <button class="ups-cta ups-cta_secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- end packing list edit modal  -->      

<!-- start packing list help wizard modal  -->
         <div aria-hidden="false" class="modal fade ups-form_wrap in" id="ups-packing_list_help_wizard_modal" tabindex="-1" role="dialog" aria-labelledby="ups-packing_list_help_wizard_label">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close ups-icon-x" data-dismiss="modal" aria-label="Close"> <span class="ups-readerTxt">Close</span> </button>
                        <h2 class="modal-title" id="ups-assign_products_list_label">Assign Products to Packages</h2>
                    </div>
                    <div class="modal-body">
                        <p>Select the item.  Then the package you'd like to fill, and the quantity of that item you'd like to fill that package with.</p>
                        <div class="ups-section">
                            <div class="ups-section-header">
                                <h3 class="ups-section_heading">Products</h3>
                                <p>{Product name} - {Product Description Information}</p>
                                <p>{n} Units   {Price/Unit}{CUR} per {Units of Measurements}</p>
                            </div>
                            <div class="row">
                            <div class="col-md-8">
                            	<button class="ups-link">-Sort {Item name} for Packing List</button>
                                <p>{nn} {unit} left to assign.</p>
                                <p>{nn} {unit} in {pn}. <button type="button" class="ups-link"><span class="icon ups-icon-x" aria-hidden="true"></span>  Remove</button></p>
                                
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-4">
                            <div class="ups-form_group">
                                        <label for="toCountryDropdown" class="ups-form_label">Select a package to fill</label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select id="toCountryDropdown" name="toCountryDropdown" class="ups-dropdown" >
                                                <option>{pn}</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4">
                            <div class="ups-form_group">
                                        <label for="toCountryDropdown" class="ups-form_label">How many are in package {pn}?</label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select id="toCountryDropdown" name="toCountryDropdown" class="ups-dropdown" >
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                        <button type="submit" class="ups-cta ups-cta_tertiary ups-no_label">assign</button>
                            </div>
                            </div>
                            <hr>
                                <p>0000.00.00  {Product name} - {Product Description Information}</p>
                                <p>{n} Units   {Price/Unit}{CUR} per {Units of Measurements}</p>
                            <div class="row">
                            <div class="col-md-8">
                            	<button class="ups-link">-Sort {Item name} for Packing List</button>
                                <p>{nn} {unit} left to assign.</p>
                                <p>{nn} {unit} in {pn}. <button type="button" class="ups-link"><span class="icon ups-icon-x" aria-hidden="true"></span> Remove</button></p>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="ups-form_group">
                                        <label for="toCountryDropdown" class="ups-form_label">Select a package to fill</label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select id="toCountryDropdown" name="toCountryDropdown" class="ups-dropdown">
                                                <option>{pn}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="ups-form_group">
                                        <label for="toCountryDropdown" class="ups-form_label">How many are in package {pn}?</label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select id="toCountryDropdown" name="toCountryDropdown" class="ups-dropdown">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                	<button type="submit" class="ups-cta ups-cta_tertiary ups-no_label">assign</button>
                            	</div>
                            </div>
                            <div class="ups-clear ups-form_ctaGroup text-center">
                                <button type="submit" class="ups-cta ups-cta_tertiary">Cancel</button>
                                <button type="submit" class="ups-cta ups-cta_primary">Done</button>
                            </div>
                            <div class="text-center ups-noTxt"> Still need help? Call USA Trade 1-800 USA-TRADE <br class="visible-sm-block visible-xs-block">
                                or Call UPS Customer Service 1 (800) 742-5877 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<!-- end packing list help wizard modal -->
        
        <div class="ups-cms-demo">
        <!------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/////   Don't Use Below Code in Production                                 /////   
/////   Code Below is only to Demonstrate Modals                           /////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
-------------------------------------------------------------------------------> 
		<button class="ups-cta ups-cta_primary" onclick="" type="button" data-toggle="modal" data-target="#ups-packing_list_ready_to_go_modal">Packing List - Ready To Go</button>
        <br>
        <br>
        <button class="ups-cta ups-cta_primary" onclick="" type="button" data-toggle="modal" data-target="#ups-packing_list_edit_modal">Packing List - Edit</button>
        <br>
        <br>
        <button class="ups-cta ups-cta_primary" onclick="" type="button" data-toggle="modal" data-target="#ups-packing_list_help_wizard_modal">Packing List - Help Wizard</button>
        </div>
        <!-- end packing list modal -->