@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
	form[action="/one-to-one/login"] {
		min-width: 966px;
	}
	.secBody {
		.socialButton {
			.fbButtonBorder span {
				color: $white;
				height: 20px;
			}
		}
	}
	.secFooter {
		.btnBar {
			width: 220px;
			input[type="image"] {
				display: none;
			}
		}
	}
	a.newWindowIconR,
	a.arrowIconR {
		background-image: none !important;
	}
	.appLvl.mod {
		position:relative;
		z-index: 50;
	}
	.appLvl.appLvlPlain {
		position: relative;
		z-index: 0;
	}
}
