---
title: create a shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIFS
appCSS: ups.legacy_overrideUIFS
dir: rtl
lang: ar
---

<div id="main">
    
    {{> ct1_shi_fsh_0und_partial }}
</div>
