---
title: UPS Alert Customization Tool
layout: legacy.hbs
version: v4
appID: com.ups.SCT
appCSS: ups.legacy_overrideACT
dir: rtl
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      {{>ct1_sct_alert_create_custom_alerts_partial ct1_sct_alert_create_custom_alerts.all_information}}
    <!-- /main end --> 
    
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    
  
<script type="text/javascript">
//
// Datepicker
//$(function(){
	//$('.datePicker').datepicker({
		//inline: true,
		//numberOfMonths: 1,
		//showButtonPanel: true,
		//closeText: 'Close',
		//showOn: 'button',
		//buttonImage: '/img/icn_calendar.gif',
		//buttonImageOnly: true

	//});
	
//});


//image validation
//$("#user_profile_pic").change(function() {

//    var val = $(this).val();

//    switch(val.substring(val.lastIndexOf('.') + 1).toLowerCase()){
//        case 'gif': case 'jpg': case 'png': case 'bmp':
//            document.getElementById('add_image').style.display = "inline-block";
//            break;
//        default:
//            $(this).val('');
            // error message here
//		  document.getElementById('add_image').style.display = "none";
//            alert("not an approved file type");
//            break;
//    }
//});


//
//function showDiv() {
//   document.getElementById('email_preview').style.display = "block";
//}

//
//function hideDiv() {
//   document.getElementById('email_preview').style.display = "none";
//   document.getElementById('add_image').style.display = "none";
//}
 
 
//Check All boxes
// $(document).ready(function () {
//    $('#selectall').click(function () {
//        $('.selectedId').prop('checked', this.checked);
//    });
//
//    $('.selectedId').change(function () {
//        var check = ($('.selectedId').filter(":checked").length == $('.selectedId').length);
//        $('#selectall').prop("checked", check);
//   });
//});





//function showButton() {
//   document.getElementById('add_image').style.display = "inline-block";
//}
</script> 
<script type="text/javascript">

$('.scrollTable .dataTable').fixedHeaderTable({height: 170});
		
</script>

</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
