<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Manage Company Locations Information</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
	 	Manage the company locations information stored on UPS CampusShip.
		<br><br>
		<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Search for Locations">Search for Locations</a></div>
		<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Create Locations">Create Locations</a></div>
		<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Import Locations">Import Locations</a></div>
		<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Export Locations">Export Locations</a></div>
		<br>
		<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Manage Rate Display Settings for All Locations">Manage Rate Display Settings for All Locations</a></div>
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
