<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->
  <!-- Begin Table: Page Header Icon -->
  <table border="0" cellpadding="0" cellspacing="0" width="422">
    <tr>
      <td width="100%"><span class="blueboldHead">Manage Location</span><br>&nbsp;</td>
    </tr>
  </table>
  <!-- End Table: Page Header Icon -->
  <table border="0" cellpadding="0" cellspacing="0" width="422" bgcolor="#666699">
    <tr>
      <td colspan="2"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
    </tr>
    <tr>
      <td><span class="whiteBoldHead">Upload Commercial Invoice Logo File</span></td>
      <td class="mod-head-clr" align="right"><span class="white"><a class="white" href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" src="/img/icn_help_white.gif" border="0" height="9" width="9"></a></span>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#996633"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
    </tr>
    <tr>
      <td colspan="2"><!-- Begin Table: Module Body(1) (Parent:Formatting Table) -->
        <table border="0" cellpadding="0" cellspacing="2" width="100%">
          <tr>
            <td class="mod-msg-pad">
						<table bgcolor="#FFFFFF" cellpadding="0" cellspacing="5">
						<tr>
						<td>
						Enter or browse to the location and name of the logo file to be uploaded for your location&rsquo;s commercial invoices and select <b>Upload</b>.<br>
              <br>
              <table width="0" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="2"><span class="fldLbl">Location and Name of Logo File:</span></td>
                </tr>
                <tr>
                  <td><input type="text" name="browsefile" class="modSelLarge"></td>
                  <td><span class="mod-bar">
                    <input name="repl_fname" type="submit" class="btn_a" value="Browse&hellip;">
                    </span></td>
                </tr>
              </table>
              <span class="reqTxtInst">This action supports .gif files up to 32KB for logos up to 4 inches (10 cm) wide and 2 inches (5 cm) high.</span><br>
              <br>
              <b>Note:</b> After you select <b>Upload</b>, the new logo will display in place of the previous logo.
							</td>
							</tr>
							</table>
              <!-- Begin: Product List Table -->
						</td>
          </tr>
        </table>
        <!-- End Table: Module Body(1) (Parent:Formatting Table) -->
      </td>
    </tr>
  </table>
					<table border="0" cellpadding="0" cellspacing="0" width="422">
                <tr>
                  <td bgcolor="#ffffff" height="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                </tr>
                <tr>
                  <td align="right" nowrap><input value="Cancel" name="repl_fname" class="btn" type="button"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input name="repl_fname" type="submit" class="btn_a" value="Upload"></td>
                </tr>
  </table>
</div>
</div>
<!-- End ECS C-Clamp -->
</form>
