---
title: Delete User Confirmation Modal
appId: ppc
layout: default.hbs
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper" ng-app="ppcAuthRequired">  
		<div class="ups-wrap_inner">
			<ups-quantum-view-delete-user-confirmation-modal></ups-quantum-view-delete-user-confirmation-modal>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
