<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->
		<div class="appLvl col18 mod">
	<!-- begin application content -->

	<!-- begin application header -->

		<div class="appHead clearfix">
		<!-- begin page title -->
		<h2>search clinical trials</h2>
		<!-- end page title -->
		</div>

		<div class="appBody">
		<!-- begin instructional text -->
		<p><strong>your search criteria [has been saved/has been discarded].  delete confirm message here.</strong></p>


	 	<p>to return a list of clinical trials, enter a search word or phrase and select the search criteria.  or you may <a href="">create a new clinical trial</a>.</p>

		<!-- end instructional text -->


			<!-- begin module title -->
			<div class="secLvl step clearfix">
				<div class="secHead clearfix">
					<h3>Search</h3>
						<ul>
							<li><a href="" class="btnlnkR helpIconR">Help</a></li>
						</ul>
			</div>


			<div class="secBody clearfix">

				<dl>
					<dt>
						<dd><input class="formcol7" maxlength="50" name="Search" size="34" type="text" value="">
						&nbsp;&nbsp;<input name="repl_fname" value="Search" class="btn" type="submit"></dd>
					</dt>
				</dl>


				<p>Search for <select name="repl_fname" class="modSelMedium" size="1">
				  <option>Clinical Trial Name</option>
				  <option>Clinical Trial Number</option>
				</select> that <select name="repl_fname" class="modSelMediumSmall" size="1">
				  <option> Contains </option>
				  <option>Starts With</option>
				  <option>Exactly Matches</option>
				</select>  the search terms.</p>




				<p><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Show All</a></p>

				<p><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Save Criteria for Future Searches</a></p>
				<p><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Clear Saved Search Criteria</a></p>
			</div>

			<!-- end content column -->


		<!-- end module column spacing table -->

	<!-- end search module -->

		</div>
			<div class="secLvl step clearfix">
			<!-- begin module title -->
				<div class="secHead clearfix">
			<h3>Search Results</h3>
	<!-- begin module navigation -->

			<!-- end module navigation -->
			</div>
			<div class="secBody clearfix">



		    <p>your search returned the following Clinical trials.  please select a link below to view, update, or delete that item.</p>


			<!--begin select a clinical trial paragraph-->

		    <p>the search returned the Clinical trials listed below.select a clinical trial by indicating the desired row, then the <strong>next</strong> button to use a previous clinical trial as a new clinical trial.</p>
		    <!--end select a clinical trial paragraph-->


			<div align="right">
			<!-- begin page display settings -->
			Display per Page:<br>
			<select name="repl_fname" class="modSelSmall" size="1">
			  <option selected>25</option>
			  <option>50</option>
			  <option>100</option>
			</select>
			<!-- end page display settings -->
			</div>


			<!-- begin record count -->
			<p>Displaying x-y of nnn</p>
			<!-- end record count -->



				<!-- begin pagination -->
			<p>
				<a href="repl_href">first</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">previous</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">1</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">2</a>
				<img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">3</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">4</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">5</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">6</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">7</a>
				<img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">8</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">9</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">10</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11">
				<a href="repl_href">next</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">last</a>
			</p>
			<!-- end pagination -->

		<!-- end module column spacing table 1 -->

		<!-- begin results table -->
		<table border="0" cellpadding="0" cellspacing="0" class="dataTable full">

			<thead>
				<tr>
					<th></th>
					<th>Clinical Trial</th>
				</tr>
			</thead>
				<tbody>
					<tr class="odd">
						<td class="sel"><input type="radio"></td>
						<td>[clinical trial id] -
						[clinical trial name]</td>
					</tr>
					<tr>
						<td class="sel"><input type="radio"></td>
						<td>[clinical trial id] -
						[clinical trial name]</td>
					</tr>
					<tr class="odd">
						<td class="sel"><input type="radio"></td>
						<td>[clinical trial id] -
						[clinical trial name]</td>
					</tr>
					<tr>
						<td class="sel"><input type="radio"></td>
						<td>[clinical trial id] -
						[clinical trial name]</td>
					</tr>
					<tr class="odd">
						<td class="sel"><input type="radio"></td>
						<td>[clinical trial id] -
						[clinical trial name]</td>
					</tr>

		</table>
		<!-- end results table -->

		<!-- begin module column spacing table 2 - 5 columns with 3 spacer columns and 2 content columns -->

		<!-- begin record count -->
			<p>Displaying x-x of n</p>
			<!-- end record count -->



				<!-- begin pagination -->
			<p>
				<a href="repl_href">first</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">previous</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">1</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">2</a>
				<img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">3</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">4</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">5</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">6</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">7</a>
				<img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">8</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">9</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">10</a>
				<img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11">
				<a href="repl_href">next</a>
				<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
				<a href="repl_href">last</a>
			</p>



	</div>
</div>
</div>
	<!-- end search results module -->



	<!-- begin buttons -->
	<div class="appFooter clearfix">
		<div class="btnBar">

		<input value="Cancel" name="cancel" class="btn" type="button">
		<input value="Next" name="next" class="btnArw" type="submit">
	<!-- end buttons -->
	</div>

	<!-- begin note area -->

	</div>
	 <table border="0" cellpadding="0" cellspacing="1" width="566">
                        <tr>
                        	<td valign="top" colspan="3"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
                        </tr>
                        <tr>
                            <td align="right" valign="top"><span class="bold">Company Support: (nnn) nnn-nnnn</span></td>
                            <td align="center" valign="top" width="20"></td>
                            <td align="left" valign="top"><span class="bold">E-mail: <a href="mailto: emailaddress@email.com">address@company.com</a></span></td>
                        </tr>
                    </table>
	</div>
	<!-- end note area -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
