---
title: ct1_shi_ftc(3oty)
layout: legacy.hbs
version: v4
appID: com.ups.FCTC
appCSS: ups.legacy_overrideFCTC
dynpnls: yes
dir: rtl
lang: en
---
		
<div id="main"> 
	{{>"ct1_shi_ftc(3oty)_partial" ct1_shi_ftc3oty.ocean}}
</div>