
{{> background_modal_content }}
<!-- /contentArea -->

<div class="appLvl modal-dialog mod modal dialog">

	<!-- Begin Application Header -->
    <div class="appHead clearfix">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--<h2>Multiple Matches Found</h2>
		<ul>
			<li>
				<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
			</li>
		</ul>-->
    	<h2 class="ups-modal_heading">Multiple Matches Found</h2>
        <button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()">
    		<span class="icon ups-icon-x" aria-hidden="true"></span>
    		<span class="ups-readerTxt ng-binding">Close this dialog</span>
    	</button>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design -->
        <!-- ************************************** -->
	</div>
	<!-- End Application Header -->

	<!-- Begin Application Body -->
	<div class="appBody ups-form_wrap ups-application_wrapper">
		<p>There are multiple matches for the Location ID you entered.  Please choose your preferred location from the list below and select <strong>ok</strong> to continue.</p>

		<!-- Begin Section Module -->
		<div class="secLvl secLvlPlain tableOnly clearfix">

			<!-- Begin Section Body -->

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
			<!--<div class="iDiv" style="height:865px"> <!-- height should be set dynamicly based on funcional requirement --
				<div class="secBody">
					<table summary="repl_summary" class="dataTable full" >
						<!--<caption>repl_caption</caption>--

						<tbody>
							<tr>
								<td><input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked></td>
								<td>Location Name <br>
									Address Line 1 <br>
									City, ST Postal Code <br>
									Country or Territory <br>
									Tel: nnn-nnnn </td>
							</tr>
							<tr>
								<td><input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked></td>
								<td>Location Name <br>
									Address Line 1 <br>
									City, ST Postal Code <br>
									Country or Territory <br>
									Tel: nnn-nnnn </td>
							</tr>
							<tr>
								<td><input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked></td>
								<td>Location Name <br>
									Address Line 1 <br>
									City, ST Postal Code <br>
									Country or Territory <br>
									Tel: nnn-nnnn </td>
							</tr>
							<tr>
								<td><input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked></td>
								<td>Location Name <br>
									Address Line 1 <br>
									City, ST Postal Code <br>
									Country or Territory <br>
									Tel: nnn-nnnn </td>
							</tr>
							<tr>
								<td><input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked></td>
								<td>Location Name <br>
									Address Line 1 <br>
									City, ST Postal Code <br>
									Country or Territory <br>
									Tel: nnn-nnnn </td>
							</tr>
							<tr>
								<td><input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked></td>
								<td>Location Name <br>
									Address Line 1 <br>
									City, ST Postal Code <br>
									Country or Territory <br>
									Tel: nnn-nnnn </td>
							</tr>
							<tr>
								<td><input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked></td>
								<td>Location Name <br>
									Address Line 1 <br>
									City, ST Postal Code <br>
									Country or Territory <br>
									Tel: nnn-nnnn </td>
							</tr>
							<tr>
								<td><input name="repl_radio1" type="radio" value="repl_fvalue" id="repl_radio1" checked></td>
								<td>Location Name <br>
									Address Line 1 <br>
									City, ST Postal Code <br>
									Country or Territory <br>
									Tel: nnn-nnnn </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>-->
            <div class="secBody">
                <div class="ups-text_scroll">
                    <fieldset class="ups-form_group">
    					<legend class="ups-readerTxt">Pick a single address</legend>
    					<div class="ups-buttonList_wrapper ups-input_wrapper">
    						<input id="ups-mult_loc_match_01" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
    						<label for="ups-mult_loc_match_01" class="ups-radio-custom-label">
                              	<p>Location Name</p>
                              	<p>Address Line 1</p>
                              	<p>City, ST Postal Code</p>
                              	<p>Country or Territory</p>
                              	<p>Tel: nnn-nnnn</p>
                            </label>
    					</div>
                        <hr class="hr" />
    					<div class="ups-buttonList_wrapper ups-input_wrapper">
    						<input id="ups-mult_loc_match_02" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
    						<label for="ups-mult_loc_match_02" class="ups-radio-custom-label">
                              	<p>Location Name</p>
                              	<p>Address Line 1</p>
                              	<p>City, ST Postal Code</p>
                              	<p>Country or Territory</p>
                              	<p>Tel: nnn-nnnn</p>
                            </label>
    					</div>
                        <hr class="hr" />
    					<div class="ups-buttonList_wrapper ups-input_wrapper">
    						<input id="ups-mult_loc_match_03" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
    						<label for="ups-mult_loc_match_03" class="ups-radio-custom-label">
                              	<p>Location Name</p>
                              	<p>Address Line 1</p>
                              	<p>City, ST Postal Code</p>
                              	<p>Country or Territory</p>
                              	<p>Tel: nnn-nnnn</p>
                            </label>
    					</div>
                        <hr class="hr" />
    					<div class="ups-buttonList_wrapper ups-input_wrapper">
    						<input id="ups-mult_loc_match_04" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
    						<label for="ups-mult_loc_match_04" class="ups-radio-custom-label">
                              	<p>Location Name</p>
                              	<p>Address Line 1</p>
                              	<p>City, ST Postal Code</p>
                              	<p>Country or Territory</p>
                              	<p>Tel: nnn-nnnn</p>
                            </label>
    					</div>
                        <hr class="hr" />
    					<div class="ups-buttonList_wrapper ups-input_wrapper">
    						<input id="ups-mult_loc_match_05" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
    						<label for="ups-mult_loc_match_05" class="ups-radio-custom-label">
                              	<p>Location Name</p>
                              	<p>Address Line 1</p>
                              	<p>City, ST Postal Code</p>
                              	<p>Country or Territory</p>
                              	<p>Tel: nnn-nnnn</p>
                            </label>
    					</div>
                        <hr class="hr" />
    					<div class="ups-buttonList_wrapper ups-input_wrapper">
    						<input id="ups-mult_loc_match_06" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
    						<label for="ups-mult_loc_match_06" class="ups-radio-custom-label">
                              	<p>Location Name</p>
                              	<p>Address Line 1</p>
                              	<p>City, ST Postal Code</p>
                              	<p>Country or Territory</p>
                              	<p>Tel: nnn-nnnn</p>
                            </label>
    					</div>
                        <hr class="hr" />
    					<div class="ups-buttonList_wrapper ups-input_wrapper">
    						<input id="ups-mult_loc_match_07" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
    						<label for="ups-mult_loc_match_07" class="ups-radio-custom-label">
                              	<p>Location Name</p>
                              	<p>Address Line 1</p>
                              	<p>City, ST Postal Code</p>
                              	<p>Country or Territory</p>
                              	<p>Tel: nnn-nnnn</p>
                            </label>
    					</div>
    				</fieldset>
                </div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************** -->

			<!-- End Section Body -->

		</div>
		<!-- End Section Module -->

	</div>
	<!-- End Application Body -->

	<!-- Begin Application Footer -->
	<div class="appFooter">
		<!-- Begin Button Bar Row -->

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Begin part of re-design -->
        <!-- ************************************** -->
		<!--<div class="btnBar alignCenter">
			<input name="repl_name" type="button" value="cancel" class="btn">
			<input name="repl_name" type="button" value="ok" class="btn">
		</div>-->
        <div class="ups-form_ctaGroup text-center">
            <button type="submit" class="ups-cta ups-cta_primary" value="" name="repl_name">Ok</button>
            <button type="submit" class="ups-cta ups-cta_secondary" value="" name="repl_name">Cancel</button>
        </div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design -->
        <!-- ************************************** -->

		<!-- End Button Bar Row -->
	</div>
	<!-- End Application Footer -->

</div>

<!-- ///////////////////////////////////// -->
<!-- end Manage Paperless Shipping Lanes -->
<!-- ///////////////////////////////////// -->

<script type="text/javascript">



$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:450});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});


</script>
