@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
	table td {
		div.brownbold {
			color: $black_s4;
			font-weight: normal;
			font: $sans-bd;
		}
	}
	.header {
		span.changed {
			font: {
				family: $serif;
				weight: normal;
			}
		}
	}
	input[type="button"] {
		@include ups-legacy_cta($water_s3);
	}
	form[name='maps_europe'] > table:first-of-type,
	//form[name='maps_europe'] > table:first-of-type + table + table,
	form[action="/maps_europe/no_map"] > table:first-of-type + table {
		width: 100%;
	}
	form[name='maps_europe'] > table:first-of-type + table + table {
		border: 1px solid #6e6e6e;
		border-top: none;

		img[src="/img/1.gif"] {
			display: none;
		}
	}
	form[name='maps_europe'] > table:first-of-type + table {
		border: 1px solid #6e6e6e;
		display: block;
		padding: 10px;
		//margin-bottom: 10px;
		//width: 100%;
	}
	.modTxtMedium {
		width: 100%;
		padding-bottom: 5px;
	}
	form[name='maps_europe'] {
		margin-bottom: 20px;
	}
}

#header ,#indentnonexpress{
    font-family: "BerlingskeSans Bd",Tahoma,helvetica,arial,sans-serif;
    font-weight: normal;
}

#indentregular{
    font-family: "BerlingskeSans",Tahoma,helvetica,arial,sans-serif;
}

#main #trial #legend {
	top:85px;
}
