<form action="repl_fname">
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
          <tr>
            <th><div class="head-col4">
                <h2>{less-than-truckload freight time and cost details header text}</h2>
                <ul>
                  <li>
                    <input name="Input" class="btnlnkR printmini" value="{print label}" type="submit">
                  </li>
                </ul>
                <div style="clear:both;"></div>
              </div></th>
          </tr>
          <tr>
            <td><div class="introModFixed">
                <p></p>
              </div>
              
              <!-- Begin Module -->
              
              <div class="stepModFixed4col">
                <div class="stepModHead">
                  <h3 class="nostep">{rate estimate header text}</h3>
                  <ul>
                    <li>
                      <input name="repl_name2" type="submit" class="btnlnkL arrowbakmini" value="{modify your shipment information label}">
                    </li>
                  </ul>
                  <div style="clear:both;"></div>
                </div>
                <fieldset>
                  <legend>{legend text}</legend>
                  <table border="0" cellpadding="0" cellspacing="0" class="dataTable">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col" class="marginCenter">ups ltl freight<br>
                        (contract)</th>
                      <th scope="col" class="marginCenter">ups ground<br>
                        freight pricing</th>
                    </tr>
                    <tr>
                      <td><label for="repl_id">{gross shipping charges}:</label></td>
                      <td nowrap></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">{total shipment weight}:</label></td>
                      <td nowrap>{nn.n lbs}</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">{rated as weight}:</label></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="indent"><label for="repl_id">{ups ltl freight}</label></td>
                      <td nowrap>{nn.n lbs}</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="indent"><label for="repl_id">{ups ground (freight pricing)}</label></td>
                      <td nowrap>{nn.n lbs}</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">Deficit Weight:</label></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="indent"><label for="repl_id">UPS LTL Freight</label></td>
                      <td nowrap>{nn.n lbs}</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">{deficit rate label}:</label></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">{[nn%] discounted amount}</label></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="indent"><label for="repl_id">(ground freight pricing)</label></td>
                      <td></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">{[nn%] discounted amount}</label></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="indent"><label for="repl_id">(less then truckload)</label></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">{amount after discount}</label></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td><label for="repl_id"><a href="repl_href">{cod fee label<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">}</a></label></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td class="indent"><label for="repl_id">{cod amount<strong></strong><img alt="" border="0" height="1" src="/img/1.gif" width="3">}</label></td>
                      <td nowrap>{nn.nn usd}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">Guaranteed Service Charge</label></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><label for="repl_id"><a href="repl_href">{fuel surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">}</a></label></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td><label for="repl_id">{limited access fee}</label></td>
                      <td></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td><label for="repl_id"><a href="repl_href">{other surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">}</a></label></td>
                      <td></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td><label for="repl_id"><a href="repl_href">{other surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">}</a></label></td>
                      <td></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td><label for="repl_id"><a href="repl_href">{security surcharge<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0">}</a></label></td>
                      <td></td>
                      <td></td>
                      <td nowrap class="marginEnd">{nn.nn usd}</td>
                    </tr>
                    <tr>
                      <td colspan="3" nowrap><label for="repl_id">{total accessorial / surcharge amount label}:</label></td>
                      <td class="marginEnd" nowrap>{nn.nn usd}</td>
                    </tr>
                    <tr class="totals">
                      <td class="marginEnd" colspan="2" nowrap><label for="repl_id">{total charges label}:</label></td>
                      <td class="marginEnd" nowrap>{nn.nn usd}</td>
                      <td class="marginEnd" nowrap>{nn.nn usd}</td>
                    </tr>
                    <tr class="end">
                      <td class="marginEnd" colspan="2">&nbsp;</td>
                      <td nowrap class="marginEnd"><input name="repl_name" type="submit" value="{ship ups ltl freight}" class="btn"></td>
                      <td nowrap class="marginEnd"><input name="repl_name" type="submit" value="{ship ups ground}" class="btn"></td>
                    </tr>
                  </table>
                  <p>Pellentesque non dolor vel massa tristique dignissim. Nam mauris nisl, posuere <strong>vitae posuere</strong> non, luctus a est. Proin condimentum molestie dolor, non rhoncus <a href="repl_href">lacus posuere<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a>, massa tristique dignissim.</p>
                </fieldset>
              </div>
              
              <!-- End Module --> 
              <!-- Begin Module -->
              
              <div class="stepModFixed4col">
                <div class="stepModHead">
                  <h3 class="nostep">{shipment information header text}</h3>
                  <div style="clear:both;"></div>
                </div>
                <fieldset>
                  <legend>{legend text}</legend>
                  <div class="stepModContent">
                    <div class="outHozFixed2">
                      <dl>
                        <dt>
                          <label for="repl_id">{ship to label}:</label>
                        </dt>
                        <dd>{ship to value}</dd>
                        <dt>
                          <label for="repl_id">{ship from label}:</label>
                        </dt>
                        <dd>{ship from value}</dd>
                        <dt>
                          <label for="repl_id">{shipment date label}:</label>
                        </dt>
                        <dd>{shipment date value}</dd>
                        <dt>
                          <label for="repl_id">{declared value label}:</label>
                        </dt>
                        <dd>{declared value value}</dd>
                        <dt>
                          <label for="repl_id">{destination type label}:</label>
                        </dt>
                        <dd>{destination type value}</dd>
                        <dt>
                          <label for="repl_id">{ups account number label}:</label>
                        </dt>
                        <dd>{ups account number value} <a href="repl_href">{negotiated rates applied link text}<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a></dd>
                      </dl>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                </fieldset>
              </div>
              
              <!--End Module --> 
              <!-- Begin Module -->
              
              <div class="stepModFixed4col">
                <div class="stepModHead">
                  <h3 class="nostep">{less-than-truckload origin and destination header text}</h3>
                  <div style="clear:both;"></div>
                </div>
                <div class="stepModContent">
                  <fieldset>
                    <legend>{legend text}</legend>
                    <div class="outHozFixed2">
                      <dl>
                        <dt>
                          <label for="repl_id">{origin label}:</label>
                        </dt>
                        <dd>{origin value}</dd>
                        <dt>
                          <label for="repl_id">{destination label}:</label>
                        </dt>
                        <dd>{destination value}</dd>
                        <dt>
                          <label for="repl_id">{service standard label}:</label>
                        </dt>
                        <dd>{service standard value}</dd>
                      </dl>
                    </div>
                  </fieldset>
                </div>
              </div>
              
              <!-- Begin Module -->
              
              <div class="modFixed4col">
                <div class="modHead">
                  <h3>{next steps header text}</h3>
                  <div style="clear:both;"></div>
                </div>
                <div class="modContent">
                  <fieldset>
                    <legend>{legend text}</legend>
                    <ul class="lstArrow">
                      <li class="back"><a href="repl_href">{link text}</a></li>
                      <li class="back"><a href="repl_href">{link text}</a></li>
                      <li class="back"><a href="repl_href">{link text}</a></li>
                    </ul>
                  </fieldset>
                </div>
              </div>
              
              <!-- End Module --> 
              <!-- Begin Module -->
              
              <div class="modFixed4col">
                <div class="modHead">
                  <h3>{guarantees and notices header text}</h3>
                  <div style="clear:both;"></div>
                </div>
                <div class="modContent">
                  <fieldset>
                    <legend>{legend text}</legend>
                    <h4>{notice header text}</h4>
                    <p>Sed at justo justo, et vulputate nunc. Mauris turpis turpis, sollicitudin nec molestie nec, lacinia at quam. Quisque tellus justo, fringilla sit amet molestie et, faucibus non risus. Etiam luctus, tortor sodales vestibulum tempus, libero nisl posuere ligula, vitae adipiscing lacus magna at sem. In pellentesque pharetra mauris, in vehicula mi tempor vel. Aliquam convallis massa sed elit ullamcorper sed commodo augue accumsan.</p>
                    <h4>{guarantee header text}</h4>
                    <p>Integer ac felis eros. Ut rhoncus laoreet velit, eget fringilla dolor aliquet eu. Morbi ut augue ipsum. Fusce pretium sapien sit amet nisl facilisis id gravida sapien accumsan. Vestibulum lacinia laoreet purus, in adipiscing nulla congue eu. Etiam <a href="repl_href">facilisis sodales dolor <img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> eget gravida.</p>
                  </fieldset>
                </div>
              </div>
              
              <!-- End Module --></td>
          </tr>
        </table>
      </form>
