---
title: ct1_sct_alert_preview
layout: legacy.hbs
version: v4
appID: com.ups.SCT
appCSS: ups.legacy_overrideACT
dir: rtl
lang: ar
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod"> 
          <!-- Begin Application Header -->
          <div class="appHead clearfix">
            <h2>{Application Header}</h2>
            <ul>
              <li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
            </ul>
          </div>
          <!-- End Application Header --> 
          
          <!-- Begin Application Body -->
          <div class="appBody clearfix"> 
            
            <!-- Begin Section Module -->
            <div class="secLvl clearfix"> 
              <!-- Begin Section Header --><!-- End Section Header --> 
              
              <!-- Begin Section Body -->
              <div class="secBody clearfix">
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <select>
                  <option>item1</option>
                </select>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
              </div>
              <!-- End Section Body --> 
              
              <!-- Begin Section Footer --><!-- End Section Footer --> 
              
            </div>
            <!-- End Section Module --> 
            
          </div>
          <!-- End Application Body --> 
          
          <!-- Begin Application Footer --><!-- End Application Footer --> 
        </div>
        <!-- End Application Module -->
        
      </form>
    <!-- /main end --> 
    
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    



<div class="appLvl mod modal dialog">
  <div class="appHead clearfix">
    <h2>Preview For Image Position</h2>
    <ul>
      <li>
        <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
      </li>
    </ul>
  </div>
  <div class="appBody">
	  <p style="text-align:center;"><img src="#" width="400" height="700" alt="preview for image position"></p>
  </div>
  <div class="appFooter">
	  <p><strong>Image URL:</strong> http://www.mywebsite.com/special_page</p>
    <!--<div class="btnBar alignCenter">
      <input name="" type="button" value="Yes" class="btn">
      <input name="" type="button" value="No" class="btn">
    </div> -->
  </div>
</div>
<script type="text/javascript">


		
$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:470});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});	
});


</script>
</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
