---
title: Home Page
layout: default_ar.hbs
dir: rtl
lang: ar
home: true
noPageTitle: true
---
	{{>ts_component_start}}
		{{> M04_carousel home_carousel}}
	{{>ts_component_end}}

<div class="ups-wrap">
    <div class="ups-wrap_inner">
    {{>ts_component_start}}
        {{> M35_news home_news}}
    {{>ts_component_end}}
    </div> <!-- @end .ups-wrap_inner -->
</div> <!-- @end .ups-wrap -->
