---
title: Country/Language Select
layout: default_light_ar.hbs
dir: rtl
lang: ar
alerts: true
---


<div class="ups-wrap">
    <div class="ups-wrap_inner">
        <section class="ups-simplemsg">
        {{>ts_component_start}}
            {{> M21_imageMap langSelect }}
          {{>ts_component_end}}

        </section>
    </div> <!-- @end .ups-wrap_inner -->
</div> <!-- @end .ups-wrap -->

