<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->



	<!-- begin application content -->



	<!-- begin application header -->

	<table border="0" cellpadding="0" cellspacing="0" width="566">

	<tr>

		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>

	</tr>

	<tr>

		<td valign="top">



		<!-- begin page title -->

		<span class="blueboldHead">Manage UPS CampusShip Users Information</span>

		<!-- end page title -->



		</td>

	</tr>

	<tr>

		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>

	</tr>

	<tr>

		<td valign="top">



		<!-- begin instructional text -->

	 	Manage information about your company's authorized UPS CampusShip users.

		<br><br>

		<div class="modpadbullet">&nbsp;&nbsp;&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Search for a User">Search Users</a></div>

		<div class="modpadbullet">&nbsp;&nbsp;&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Create Users">Create Users</a></div>

		<div class="modpadbullet">&nbsp;&nbsp;&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Create Users">Delete Users</a></div>

		<div class="modpadbullet">&nbsp;&nbsp;&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Change User Locations">Change User Locations</a></div>

		<div class="modpadbullet">&nbsp;&nbsp;&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Import Users">Import Users</a></div>

		<div class="modpadbullet">&nbsp;&nbsp;&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Export Users">Export Users</a></div>

		<div class="modpadbullet">&nbsp;&nbsp;&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Delete Users">Invite Users to Join Company</a></div>

		<!-- end instructional text -->



		</td>

	</tr>

	<tr>

		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>

	</tr>

	</table>
	<!-- end application header -->


	<!-- begin company support -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="15" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>

	<tr>
		<td align="center">
		<span class="bold">Company Support: (nnn) nnn-nnnn&nbsp;&nbsp;&nbsp;E-mail: <a href="repl_href">address@company.com</a></span>
		</td>
	</tr>

	<tr>
		<td><img alt="" border="0" height="20" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>

	</table>
	<!-- end company support -->

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
