---

appId: nbs
dir: rtl
lang: ar
---




<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper">  
		<div class="ups-wrap_inner ups-app_single_page">
			<form name="singlePageForm">{{> single_page_partial single_page }}</form>
		</div>
	</div> 
</main>


