@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  form[name="selectaccountnumber"] {
    .secLvl {
      border: none;
    }
  }

  .secLvl.message {
    .secHead {
      h4 {
        color: $white !important;
      }
    }
  }

	ul.lstArrow li a:after,
	ul.lstArrow li.back a:after {
		@include ups-iconFont("\e656");
		top: 2px;
		margin-#{$default-float}: 3px;
	}

	ul.lstArrow li img {
		display: none;
	}
}

.modal.dialog.col12.appLvl {


    .appHead {
      background-color: $white;

      h2 {
        color: $black_s4;
        font : {
          family: $serif;
          size: 2em;
        }
      }
    }

    .appBody {
      div {
        font-family: $sans;
      }
    }

    .dataTable {
      @include ups-dataTable;
      td {
        font-family: $sans;
      }

    }

    #repl_id {
      margin: 10px 0;
    }
}

.mod.modal.dialog.col12 {
    border: none !important;
    /* background-color: #fff; */
    border-radius: 0;
    border-top: 0;
    box-shadow: 0;
    padding: 0;
    box-shadow:none;
}

.mod.modal.dialog.col12.modal {
    bottom: auto!important;
    z-index: 135!important;
}

#selecteddays > table:first-child {
    margin-bottom:0px
}

#div_pickuplocation > .col7 {
width:290px!important
}

#selecteddays table{
  float:$default-float;
  width:130px;
}

#uploadDialog.modal {
position:static;
display:block;
padding-top:50px;
}
