---
title: BRAND COLORS
heading: Brand Colors
---

<style>

    #ups-colorDemo .row {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #ups-colorDemo .color_inner {
        padding: 15px 25px 40px 15px;
        position: relative;
        height: 160px;
        font-family: "BerlingskeSans Bd", Tahoma, helvetica, arial, sans-serif;
    }

    #ups-colorDemo .color_inner h3 {
        margin-top: 0;
        font-family: "BerlingskeSans Bd", Tahoma, helvetica, arial, sans-serif;
    }

    #ups-colorDemo .color-variable {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        margin: 0;
    }

    #ups-colorDemo .color_inner.color_reverse {
        color: white;
    }

    #ups-colorDemo .color_inner.color_reverse:before,
    #ups-colorDemo .color_inner.color_black:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        border: 20px solid transparent;
        border-right-color: #fff;
        border-top-color: #fff;
    }

    #ups-colorDemo .color_inner.color_reverse.no_lt:before{
        border:0;
    }



    #ups-colorDemo .color_inner.color_lt:after {
        content: '*';
          font-size: 40px;
          color: #f00;
          display: block;
          position: absolute;
          top: 25px;
          right: 3px;
          z-index: 2;
          line-height: 0;
    }

    #ups-colorDemo .color-asterix {
        font-size: 30px;
        position: relative;
        top: 10px;
        color: #f00;
    }

    #ups-colorDemo .lt_text_black{font-weight:bold;color:#242424;font-size:18px;}
    #ups-colorDemo .lt_text_white{font-weight:bold;color:#FFF;font-size:18px;}

</style>

<div id="ups-colorDemo" class="ups-wrap">
    <div class="ups-wrap_inner">

        <h1>Brand Colors</h1>
        <p>Accessibility Compliance <br /> In order to comply with AA Accessibility Guidelines for color contrast ratios, this palette depicts every UPS color that be used with either white or dark text. Only use the exact text/color combinations shown here.</p>

        <p><em><span class="color-asterix">*</span> <strong> LT - Large Text Only: </strong>
        Color swatches marked with “<span class="color-asterix">*</span>” indicate text colors that must be a minimum of 18pt or 14pt bold size to use with that background color.</em></p>

        <div class="row">
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#1b0e0b">
                    <h3>Dark Brown</h3>
                    <p>#1b0e0b</p>
                    <p class="color-variable"><strong><em>$brown_dk</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#351c15">
                    <h3>UPS Brown</h3>
                    <p>#351c15</p>
                    <p class="color-variable"><strong><em>$ups_brown</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#46322d">
                    <h3>Brown Shade 4</h3>
                    <p>#46322d</p>
                    <p class="color-variable"><strong><em>$brown_s4</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#573616">
                    <h3>Brown Shade 3</h3>
                    <p>#573616</p>
                    <p class="color-variable"><strong><em>$brown_s3</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#795a40">
                    <h3>Brown Shade 1</h3>
                    <p>#795a40</p>
                    <p class="color-variable"><strong><em>$brown_s1</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner" style="background:#c3a282">
                    <h3>Sand Shade 2</h3>
                    <p>#c3a282</p>
                    <p class="color-variable"><strong><em>$sand_s2</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#e1c8b0">
                    <h3>UPS Sand</h3>
                    <p>#e1c8b0</p>
                    <p class="color-variable"><strong><em>$ups_sand</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#edded0">
                    <h3>Sand 60% Tint</h3>
                    <p>#edded0</p>
                    <p class="color-variable"><strong><em>$sand_60</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#f3e9df">
                    <h3>Sand 40% Tint</h3>
                    <p>#f3e9df</p>
                    <p class="color-variable"><strong><em>$sand_40</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner" style="background:#ffb500">
                    <h3>UPS Gold</h3>
                    <p>#ffb500</p>
                    <p class="color-variable"><strong><em>$ups_gold</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#ffd366">
                    <h3>Gold 60% Tint</h3>
                    <p>#ffd366</p>
                    <p class="color-variable"><strong><em>$gold_60</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#ffe199">
                    <h3>Gold 40% Tint</h3>
                    <p>#ffe199</p>
                    <p class="color-variable"><strong><em>$gold_40</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner" style="background:#fff;border:1px solid #ccc;">
                    <h3>White</h3>
                    <p>#fff</p>
                    <p class="color-variable"><strong><em>$white</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#000">
                    <h3>Black</h3>
                    <p>#000</p>
                    <p class="color-variable"><strong><em>$black</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#c91a13">
                    <h3>Red <br>(Error Only)</h3>
                    <p>#c91a13</p>
                    <p class="color-variable"><strong><em>$red</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#242424">
                    <h3>Black Shade 4</h3>
                    <p>#242424</p>
                    <p class="color-variable"><strong><em>$black_s4</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#404040">
                    <h3>Black Shade 3</h3>
                    <p>#404040</p>
                    <p class="color-variable"><strong><em>$black_s3</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_reverse color_lt" style="background:#6e6e6e">
                    <h3>Black Shade 1</h3>
                    <p>#6e6e6e</p>
                    <h3 class="lt_text_black">LT</h3>
                    <p class="color-variable"><strong><em>$black_s1</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner" style="background:#bebebe">
                    <h3>Stone Shade 3</h3>
                    <p>#bebebe</p>
                    <p class="color-variable"><strong><em>$stone_s3</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#d9d9d6">
                    <h3>UPS Stone</h3>
                    <p>#d9d9d6</p>
                    <p class="color-variable"><strong><em>$ups_stone</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#e8e8e6">
                    <h3>Stone 60% Tint</h3>
                    <p>#e8e8e6</p>
                    <p class="color-variable"><strong><em>$stone_60</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#f0f0ef">
                    <h3>Stone 40% Tint</h3>
                    <p>#f0f0ef</p>
                    <p class="color-variable"><strong><em>$stone_40</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner color_reverse no_lt" style="background:#357715">
                    <h3>Grass Shade 3</h3>
                    <p>#357715</p>
                    <p class="color-variable"><strong><em>$grass_s3</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#64a70b">
                    <h3>UPS Grass</h3>
                    <p>#64a70b</p>
                    <p class="color-variable"><strong><em>$ups_grass</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#a2ca6d">
                    <h3>Grass 60% Tint</h3>
                    <p>#a2ca6d</p>
                    <p class="color-variable"><strong><em>$grass_60</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner color_reverse color_lt" style="background:#008369">
                    <h3>Water Shade 3</h3>
                    <p>#008369</p>
                    <h3 class="lt_text_black">LT</h3>
                    <p class="color-variable"><strong><em>$water_s3</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#40c1ac">
                    <h3>UPS Water</h3>
                    <p>#40c1ac</p>
                    <p class="color-variable"><strong><em>$ups_water</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#8cdacd">
                    <h3>Water 60% Tint</h3>
                    <p>#8cdacd</p>
                    <p class="color-variable"><strong><em>$water_60</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner color_reverse color_lt" style="background:#187ca2">
                    <h3>Sky Shade 3</h3>
                    <p>#187ca2</p>
                    <h3 class="lt_text_black">LT</h3>
                    <p class="color-variable"><strong><em>$sky_s3</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner color_lt color_black"  style="background:#009cbd">
                    <h3>UPS Sky</h3>
                    <p>#009cbd</p>
                    <h3 class="lt_text_white">LT</h3>
                    <p class="color-variable"><strong><em>$ups_sky</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#66c4d7">
                    <h3>Sky 60% Tint</h3>
                    <p>#66c4d7</p>
                    <p class="color-variable"><strong><em>$sky_60</em></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="color_inner color_reverse color_lt" style="background:#e45321">
                    <h3>Sun Shade 3</h3>
                    <p>#e45321</p>
                    <h3 class="lt_text_white">LT</h3>
                    <h3 class="lt_text_black">LT</h3>
                    <p class="color-variable"><strong><em>$sun_s3</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#f68b20">
                    <h3>UPS Sun</h3>
                    <p>#f68b20</p>
                    <p class="color-variable"><strong><em>$ups_sun</em></strong></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="color_inner" style="background:#f4b966">
                    <h3>Sun 60% Tint</h3>
                    <p>#f4b966</p>
                    <p class="color-variable"><strong><em>$sun_60</em></strong></p>
                </div>
            </div>
        </div>

    </div> <!-- @end .ups-wrap_inner -->
</div> <!-- @end .ups-wrap -->

