---
title: GRID DEMO
heading: Grid Demo
---

<style>
    #ups-grid-demo h2 {
        text-align: center;
    }
    #ups-grid-demo .row {
        background: #ccc;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        margin: 10px 0;
    }


    #ups-grid-demo .row p {
        max-width: 800px;
        padding: 0 20px;
        margin: 0 auto;
    }

    #ups-grid-demo .col {
        background: #ddd;
        padding: 10px 0;
        border: 1px solid #bbb;
    }
</style>

<div class="ups-wrap">
    <div class="ups-wrap_inner">

        <div id="ups-grid-demo">


            <h1>{{{title}}}</h1>

            <p>The following is a very simplistic demo of the grid system we are utilizing via Bootstrap. The demo is setup to respond to differnt viewports.</p>
            <p>For more information, see the <a href="http://getbootstrap.com/css/#grid">Bootstrap Docs</a></p>
            <p><strong><em>Our breakpoint labels are different than those used in Bootstrap. For example, our "Medium" is referred to as "Small" (sm) in Bootstrap. See "BS Class" in table below.</em></strong></p>

            <hr>

            <table class="table">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>BS Class</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Small</th>
                        <td>"xs"</td>
                        <td>&lt; 480px</td>
                    </tr>
                    <tr>
                        <th>Medium</th>
                        <td>"sm"</td>
                        <td>&lt; 992px</td>
                    </tr>
                    <tr>
                        <th>Large</th>
                        <td>"md"</td>
                        <td>&lt; 1400px</td>
                    </tr>
                    <tr>
                        <th>X-Large</th>
                        <td>"lg"</td>
                        <td>&gt;= 1400px</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h2>
                <span class="visible-xs">Currently SMALL Viewport</span>
                <span class="visible-sm">Currently MEDIUM Viewport</span>
                <span class="visible-md">Currently LARGE Viewport</span>
                <span class="visible-lg">Currently X-LARGE Viewport</span>
            </h2>

            <hr>

            <div class="row">
                <p>12 Columns on all Screens</p>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
                <div class="col col-xs-1">1</div>
            </div>

            <div class="row">
                <p>12 Columns on Large and X-Large - Single Column on Medium and Small</p>
                <p><em>Setting column width for a viewport, defines it for all larger viewports. In this case, the Large column setting is being applied to the X-Large viewport since there is no X-Large column width defined. Everything below the defined column widths will default to a single column.</em></p>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>
                <div class="col col-md-1">Large: 1</div>

                <div class="col col-md-3">Large: 3</div>
                <div class="col col-md-3">Large: 3</div>
                <div class="col col-md-3">Large: 3</div>
                <div class="col col-md-3">Large: 3</div>

                <div class="col col-md-6">Large: 6</div>
                <div class="col col-md-6">Large: 6</div>
            </div>

            <div class="row">
                <p>Different Column widths based on Viewport</p>
                <div class="col col-xs-4 col-sm-2 col-md-3 col-lg-4">
                    <p>Small: 4</p>
                    <p>Medium: 2</p>
                    <p>Large: 3</p>
                    <p>X-Large: 4</p>
                </div>
                <div class="col col-xs-4 col-sm-8 col-md-6 col-lg-6">
                    <p>Small: 4</p>
                    <p>Medium: 8</p>
                    <p>Large: 6</p>
                    <p>X-Large: 6</p>
                </div>
                <div class="col col-xs-4 col-sm-2 col-md-3 col-lg-2">
                    <p>Small: 4</p>
                    <p>Medium: 2</p>
                    <p>Large: 3</p>
                    <p>X-Large: 2</p>
                </div>
            </div>
        </div>

    </div> <!-- @end .ups-wrap_inner -->
</div> <!-- @end .ups-wrap -->

