---
title: Icon Font
---
<style type="text/css">
    .glyphs.character-mapping{margin:0 0 20px 0;padding:20px 0 20px 30px;color:rgba(0,0,0,0.5);border:1px solid #d8e0e5;-webkit-border-radius:3px;border-radius:3px;}
    .glyphs.character-mapping li{margin:0 30px 20px 0;display:inline-block;width:90px}
    .glyphs.character-mapping .icon{margin:10px 0 10px 15px;padding:15px;position:relative;width:55px;height:55px;color:#351c15 !important;overflow:hidden;-webkit-border-radius:3px;border-radius:3px;font-size:32px;}
    .glyphs.character-mapping .icon svg{fill:#000}
    .glyphs.character-mapping input{margin:0;padding:5px 0;line-height:12px;font-size:12px;display:block;width:100%;border:1px solid #d8e0e5;-webkit-border-radius:5px;border-radius:5px;text-align:center;outline:0;}
    .glyphs.character-mapping input:focus{border:1px solid #fbde4a;-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
    .glyphs.character-mapping input:hover{-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
    .glyphs.css-mapping{margin:0 0 60px 0;padding:30px 0 20px 30px;color:rgba(0,0,0,0.5);border:1px solid #d8e0e5;-webkit-border-radius:3px;border-radius:3px;}
    .glyphs.css-mapping li{margin:0 30px 20px 0;padding:0;display:inline-block;overflow:hidden}
    .glyphs.css-mapping .icon{margin:0;margin-right:10px;padding:13px;height:50px;width:50px;color:#351c15 !important;overflow:hidden;float:left;font-size:24px}
    .glyphs.css-mapping input{margin:0;margin-top:5px;padding:8px;line-height:16px;font-size:16px;display:block;width:150px;height:40px;border:1px solid #d8e0e5;-webkit-border-radius:5px;border-radius:5px;background:#fff;outline:0;float:right;}
    .glyphs.css-mapping input:focus{border:1px solid #fbde4a;-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
    .glyphs.css-mapping input:hover{-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
    .glyphs.character-mapping > li > input:last-child{background: pink;  }
</style>

<div class="ups-wrap">
    <div class="ups-wrap_inner">

    <h2>CSS mapping</h2>
        <ul class="glyphs css-mapping">
            <li>
          <div class="icon ups-icon-2chevrondown"></div>
          <input type="text" readonly="readonly" value="2chevrondown">
        </li>
        <li>
          <div class="icon ups-icon-2chevronleft"></div>
          <input type="text" readonly="readonly" value="2chevronleft">
        </li>
        <li>
          <div class="icon ups-icon-2chevronright"></div>
          <input type="text" readonly="readonly" value="2chevronright">
        </li>
        <li>
          <div class="icon ups-icon-2chevronup"></div>
          <input type="text" readonly="readonly" value="2chevronup">
        </li>
        <li>
          <div class="icon ups-icon-addcreditcard"></div>
          <input type="text" readonly="readonly" value="addcreditcard">
        </li>
        <li>
          <div class="icon ups-icon-addemail"></div>
          <input type="text" readonly="readonly" value="addemail">
        </li>
        <li>
          <div class="icon ups-icon-addpackage"></div>
          <input type="text" readonly="readonly" value="addpackage">
        </li>
        <li>
          <div class="icon ups-icon-address"></div>
          <input type="text" readonly="readonly" value="address">
        </li>
        <li>
          <div class="icon ups-icon-aironeday"></div>
          <input type="text" readonly="readonly" value="aironeday">
        </li>
        <li>
          <div class="icon ups-icon-airtwoday"></div>
          <input type="text" readonly="readonly" value="airtwoday">
        </li>
        <li>
          <div class="icon ups-icon-alert"></div>
          <input type="text" readonly="readonly" value="alert">
        </li>
        <li>
          <div class="icon ups-icon-alert-location"></div>
          <input type="text" readonly="readonly" value="alert-location">
        </li>
        <li>
          <div class="icon ups-icon-alert-search"></div>
          <input type="text" readonly="readonly" value="alert-search">
        </li>
        <li>
          <div class="icon ups-icon-arrowback"></div>
          <input type="text" readonly="readonly" value="arrowback">
        </li>
        <li>
          <div class="icon ups-icon-arrowbackforward"></div>
          <input type="text" readonly="readonly" value="arrowbackforward">
        </li>
        <li>
          <div class="icon ups-icon-arrowdown"></div>
          <input type="text" readonly="readonly" value="arrowdown">
        </li>
        <li>
          <div class="icon ups-icon-arrowdownleft"></div>
          <input type="text" readonly="readonly" value="arrowdownleft">
        </li>
        <li>
          <div class="icon ups-icon-arrowdownright"></div>
          <input type="text" readonly="readonly" value="arrowdownright">
        </li>
        <li>
          <div class="icon ups-icon-arrowforward"></div>
          <input type="text" readonly="readonly" value="arrowforward">
        </li>
        <li>
          <div class="icon ups-icon-arrowleft"></div>
          <input type="text" readonly="readonly" value="arrowleft">
        </li>
        <li>
          <div class="icon ups-icon-arrowleftright"></div>
          <input type="text" readonly="readonly" value="arrowleftright">
        </li>
        <li>
          <div class="icon ups-icon-arrowloop"></div>
          <input type="text" readonly="readonly" value="arrowloop">
        </li>
        <li>
          <div class="icon ups-icon-arrowredo"></div>
          <input type="text" readonly="readonly" value="arrowredo">
        </li>
        <li>
          <div class="icon ups-icon-arrowright"></div>
          <input type="text" readonly="readonly" value="arrowright">
        </li>
        <li>
          <div class="icon ups-icon-arrowup"></div>
          <input type="text" readonly="readonly" value="arrowup">
        </li>
        <li>
          <div class="icon ups-icon-arrowupdown"></div>
          <input type="text" readonly="readonly" value="arrowupdown">
        </li>
        <li>
          <div class="icon ups-icon-arrowupleft"></div>
          <input type="text" readonly="readonly" value="arrowupleft">
        </li>
        <li>
          <div class="icon ups-icon-arrowupright"></div>
          <input type="text" readonly="readonly" value="arrowupright">
        </li>
        <li>
          <div class="icon ups-icon-box"></div>
          <input type="text" readonly="readonly" value="box">
        </li>
        <li>
          <div class="icon ups-icon-calculator"></div>
          <input type="text" readonly="readonly" value="calculator">
        </li>
        <li>
          <div class="icon ups-icon-calendar"></div>
          <input type="text" readonly="readonly" value="calendar">
        </li>
        <li>
          <div class="icon ups-icon-camera"></div>
          <input type="text" readonly="readonly" value="camera">
        </li>
        <li>
          <div class="icon ups-icon-carbonneutral"></div>
          <input type="text" readonly="readonly" value="carbonneutral">
        </li>
        <li>
          <div class="icon ups-icon-chat"></div>
          <input type="text" readonly="readonly" value="chat">
        </li>
        <li>
          <div class="icon ups-icon-check"></div>
          <input type="text" readonly="readonly" value="check">
        </li>
        <li>
          <div class="icon ups-icon-checkcircle"></div>
          <input type="text" readonly="readonly" value="checkcircle">
        </li>
        <li>
          <div class="icon ups-icon-checkcircle-solid"></div>
          <input type="text" readonly="readonly" value="checkcircle-solid">
        </li>
        <li>
          <div class="icon ups-icon-checklist"></div>
          <input type="text" readonly="readonly" value="checklist">
        </li>
        <li>
          <div class="icon ups-icon-chevrondown"></div>
          <input type="text" readonly="readonly" value="chevrondown">
        </li>
        <li>
          <div class="icon ups-icon-chevronleft"></div>
          <input type="text" readonly="readonly" value="chevronleft">
        </li>
        <li>
          <div class="icon ups-icon-chevronleft-thin"></div>
          <input type="text" readonly="readonly" value="chevronleft-thin">
        </li>
        <li>
          <div class="icon ups-icon-chevronright"></div>
          <input type="text" readonly="readonly" value="chevronright">
        </li>
        <li>
          <div class="icon ups-icon-chevronright-thin"></div>
          <input type="text" readonly="readonly" value="chevronright-thin">
        </li>
        <li>
          <div class="icon ups-icon-chevronup"></div>
          <input type="text" readonly="readonly" value="chevronup">
        </li>
        <li>
          <div class="icon ups-icon-cme-play"></div>
          <input type="text" readonly="readonly" value="cme-play">
        </li>
        <li>
          <div class="icon ups-icon-contactcircle"></div>
          <input type="text" readonly="readonly" value="contactcircle">
        </li>
        <li>
          <div class="icon ups-icon-controls"></div>
          <input type="text" readonly="readonly" value="controls">
        </li>
        <li>
          <div class="icon ups-icon-conversation"></div>
          <input type="text" readonly="readonly" value="conversation">
        </li>
        <li>
          <div class="icon ups-icon-creditcard"></div>
          <input type="text" readonly="readonly" value="creditcard">
        </li>
        <li>
          <div class="icon ups-icon-document"></div>
          <input type="text" readonly="readonly" value="document">
        </li>
        <li>
          <div class="icon ups-icon-dollarsign"></div>
          <input type="text" readonly="readonly" value="dollarsign">
        </li>
        <li>
          <div class="icon ups-icon-dot"></div>
          <input type="text" readonly="readonly" value="dot">
        </li>
        <li>
          <div class="icon ups-icon-download"></div>
          <input type="text" readonly="readonly" value="download">
        </li>
        <li>
          <div class="icon ups-icon-duplicate"></div>
          <input type="text" readonly="readonly" value="duplicate">
        </li>
        <li>
          <div class="icon ups-icon-edit"></div>
          <input type="text" readonly="readonly" value="edit">
        </li>
        <li>
          <div class="icon ups-icon-email"></div>
          <input type="text" readonly="readonly" value="email">
        </li>
        <li>
          <div class="icon ups-icon-exclamation"></div>
          <input type="text" readonly="readonly" value="exclamation">
        </li>
        <li>
          <div class="icon ups-icon-exclamationcircle"></div>
          <input type="text" readonly="readonly" value="exclamationcircle">
        </li>
        <li>
          <div class="icon ups-icon-export"></div>
          <input type="text" readonly="readonly" value="export">
        </li>
        <li>
          <div class="icon ups-icon-feedback"></div>
          <input type="text" readonly="readonly" value="feedback">
        </li>
        <li>
          <div class="icon ups-icon-fullscreen"></div>
          <input type="text" readonly="readonly" value="fullscreen">
        </li>
        <li>
          <div class="icon ups-icon-fullscreenexit"></div>
          <input type="text" readonly="readonly" value="fullscreenexit">
        </li>
        <li>
          <div class="icon ups-icon-globe"></div>
          <input type="text" readonly="readonly" value="globe">
        </li>
        <li>
          <div class="icon ups-icon-grid"></div>
          <input type="text" readonly="readonly" value="grid">
        </li>
        <li>
          <div class="icon ups-icon-guaranteedbadge"></div>
          <input type="text" readonly="readonly" value="guaranteedbadge">
        </li>
        <li>
          <div class="icon ups-icon-helpchat"></div>
          <input type="text" readonly="readonly" value="helpchat">
        </li>
        <li>
          <div class="icon ups-icon-home"></div>
          <input type="text" readonly="readonly" value="home">
        </li>
        <li>
          <div class="icon ups-icon-homedeliveries"></div>
          <input type="text" readonly="readonly" value="homedeliveries">
        </li>
        <li>
          <div class="icon ups-icon-homedeliveries-solid"></div>
          <input type="text" readonly="readonly" value="homedeliveries-solid">
        </li>
        <li>
          <div class="icon ups-icon-information"></div>
          <input type="text" readonly="readonly" value="information">
        </li>
        <li>
          <div class="icon ups-icon-informationcircle"></div>
          <input type="text" readonly="readonly" value="informationcircle">
        </li>
        <li>
          <div class="icon ups-icon-international"></div>
          <input type="text" readonly="readonly" value="international">
        </li>
        <li>
          <div class="icon ups-icon-list"></div>
          <input type="text" readonly="readonly" value="list">
        </li>
        <li>
          <div class="icon ups-icon-location"></div>
          <input type="text" readonly="readonly" value="location">
        </li>
        <li>
          <div class="icon ups-icon-locationdot"></div>
          <input type="text" readonly="readonly" value="locationdot">
        </li>
        <li>
          <div class="icon ups-icon-locationfull"></div>
          <input type="text" readonly="readonly" value="locationfull">
        </li>
        <li>
          <div class="icon ups-icon-locationhollow"></div>
          <input type="text" readonly="readonly" value="locationhollow">
        </li>
        <li>
          <div class="icon ups-icon-locationstar"></div>
          <input type="text" readonly="readonly" value="locationstar">
        </li>
        <li>
          <div class="icon ups-icon-locationups"></div>
          <input type="text" readonly="readonly" value="locationups">
        </li>
        <li>
          <div class="icon ups-icon-locator"></div>
          <input type="text" readonly="readonly" value="locator">
        </li>
        <li>
          <div class="icon ups-icon-lock"></div>
          <input type="text" readonly="readonly" value="lock">
        </li>
        <li>
          <div class="icon ups-icon-map"></div>
          <input type="text" readonly="readonly" value="map">
        </li>
        <li>
          <div class="icon ups-icon-menu"></div>
          <input type="text" readonly="readonly" value="menu">
        </li>
        <li>
          <div class="icon ups-icon-minus"></div>
          <input type="text" readonly="readonly" value="minus">
        </li>
        <li>
          <div class="icon ups-icon-minuscircle"></div>
          <input type="text" readonly="readonly" value="minuscircle">
        </li>
        <li>
          <div class="icon ups-icon-mobile"></div>
          <input type="text" readonly="readonly" value="mobile">
        </li>
        <li>
          <div class="icon ups-icon-newwindow"></div>
          <input type="text" readonly="readonly" value="newwindow">
        </li>
        <li>
          <div class="icon ups-icon-paypal"></div>
          <input type="text" readonly="readonly" value="paypal">
        </li>
        <li>
          <div class="icon ups-icon-phone"></div>
          <input type="text" readonly="readonly" value="phone">
        </li>
        <li>
          <div class="icon ups-icon-plane"></div>
          <input type="text" readonly="readonly" value="plane">
        </li>
        <li>
          <div class="icon ups-icon-play"></div>
          <input type="text" readonly="readonly" value="play">
        </li>
        <li>
          <div class="icon ups-icon-plus"></div>
          <input type="text" readonly="readonly" value="plus">
        </li>
        <li>
          <div class="icon ups-icon-pluscircle"></div>
          <input type="text" readonly="readonly" value="pluscircle">
        </li>
        <li>
          <div class="icon ups-icon-print"></div>
          <input type="text" readonly="readonly" value="print">
        </li>
        <li>
          <div class="icon ups-icon-pushpin"></div>
          <input type="text" readonly="readonly" value="pushpin">
        </li>
        <li>
          <div class="icon ups-icon-question"></div>
          <input type="text" readonly="readonly" value="question">
        </li>
        <li>
          <div class="icon ups-icon-questioncircle"></div>
          <input type="text" readonly="readonly" value="questioncircle">
        </li>
        <li>
          <div class="icon ups-icon-recurring"></div>
          <input type="text" readonly="readonly" value="recurring">
        </li>
        <li>
          <div class="icon ups-icon-reroute"></div>
          <input type="text" readonly="readonly" value="reroute">
        </li>
        <li>
          <div class="icon ups-icon-returnleft"></div>
          <input type="text" readonly="readonly" value="returnleft">
        </li>
        <li>
          <div class="icon ups-icon-returnright"></div>
          <input type="text" readonly="readonly" value="returnright">
        </li>
        <li>
          <div class="icon ups-icon-review"></div>
          <input type="text" readonly="readonly" value="review">
        </li>
        <li>
          <div class="icon ups-icon-rss"></div>
          <input type="text" readonly="readonly" value="rss">
        </li>
        <li>
          <div class="icon ups-icon-save"></div>
          <input type="text" readonly="readonly" value="save">
        </li>
        <li>
          <div class="icon ups-icon-search"></div>
          <input type="text" readonly="readonly" value="search">
        </li>
        <li>
          <div class="icon ups-icon-settings"></div>
          <input type="text" readonly="readonly" value="settings">
        </li>
        <li>
          <div class="icon ups-icon-share"></div>
          <input type="text" readonly="readonly" value="share">
        </li>
        <li>
          <div class="icon ups-icon-shield"></div>
          <input type="text" readonly="readonly" value="shield">
        </li>
        <li>
          <div class="icon ups-icon-ship"></div>
          <input type="text" readonly="readonly" value="ship">
        </li>
        <li>
          <div class="icon ups-icon-shippingaltpayment"></div>
          <input type="text" readonly="readonly" value="shippingaltpayment">
        </li>
        <li>
          <div class="icon ups-icon-shippingbillthirdparty"></div>
          <input type="text" readonly="readonly" value="shippingbillthirdparty">
        </li>
        <li>
          <div class="icon ups-icon-shippingfreight"></div>
          <input type="text" readonly="readonly" value="shippingfreight">
        </li>
        <li>
          <div class="icon ups-icon-shippingpayatstore"></div>
          <input type="text" readonly="readonly" value="shippingpayatstore">
        </li>
        <li>
          <div class="icon ups-icon-syncsticker"></div>
          <input type="text" readonly="readonly" value="syncsticker">
        </li>
        <li>
          <div class="icon ups-icon-time"></div>
          <input type="text" readonly="readonly" value="time">
        </li>
        <li>
          <div class="icon ups-icon-track"></div>
          <input type="text" readonly="readonly" value="track">
        </li>
        <li>
          <div class="icon ups-icon-truck"></div>
          <input type="text" readonly="readonly" value="truck">
        </li>
        <li>
          <div class="icon ups-icon-user"></div>
          <input type="text" readonly="readonly" value="user">
        </li>
        <li>
          <div class="icon ups-icon-userhollow"></div>
          <input type="text" readonly="readonly" value="userhollow">
        </li>
        <li>
          <div class="icon ups-icon-wedgedown"></div>
          <input type="text" readonly="readonly" value="wedgedown">
        </li>
        <li>
          <div class="icon ups-icon-wedgeleft"></div>
          <input type="text" readonly="readonly" value="wedgeleft">
        </li>
        <li>
          <div class="icon ups-icon-wedgeright"></div>
          <input type="text" readonly="readonly" value="wedgeright">
        </li>
        <li>
          <div class="icon ups-icon-wedgeup"></div>
          <input type="text" readonly="readonly" value="wedgeup">
        </li>
        <li>
          <div class="icon ups-icon-x"></div>
          <input type="text" readonly="readonly" value="x">
        </li>
        <li>
          <div class="icon ups-icon-xcircle"></div>
          <input type="text" readonly="readonly" value="xcircle">
        </li>
        <li>
          <div class="icon ups-icon-xcircle-solid"></div>
          <input type="text" readonly="readonly" value="xcircle-solid">
        </li>
        <li>
          <div class="icon ups-icon-returndown"></div>
          <input type="text" readonly="readonly" value="returndown">
        </li>
        </ul>
        <h2>Character mapping</h2>
        <ul class="glyphs character-mapping">
            <li>
          <div data-icon="&#xe600;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe600;">
          <input class="ups-older" type="text" readonly="readonly" value="&amp;#xe204;">
        </li>
        <li>
          <div data-icon="&#xe601;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe601;">
          <input type="text" readonly="readonly" value="&amp;#xe207;">
        </li>
        <li>
          <div data-icon="&#xe602;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe602;">
          <input type="text" readonly="readonly" value="&amp;#xe205;">
        </li>
        <li>
          <div data-icon="&#xe603;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe603;">
          <input type="text" readonly="readonly" value="&amp;#xe206;">
        </li>
        <li>
          <div data-icon="&#xe604;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe604;">
          <input type="text" readonly="readonly" value="&amp;#x25ad;">
        </li>
        <li>
          <div data-icon="&#xe605;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe605;">
          <input type="text" readonly="readonly" value="&amp;#x2709;">
        </li>
        <li>
          <div data-icon="&#xe606;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe606;">
          <input type="text" readonly="readonly" value="&amp;#x229e;">
        </li>
        <li>
          <div data-icon="&#xe607;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe607;">
          <input type="text" readonly="readonly" value="&amp;#xe004;">
        </li>
        <li>
          <div data-icon="&#xe608;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe608;">
          <input type="text" readonly="readonly" value="&amp;#x2460;">
        </li>
        <li>
          <div data-icon="&#xe609;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe609;">
          <input type="text" readonly="readonly" value="&amp;#x2461;">
        </li>
        <li>
          <div data-icon="&#xe60a;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe60a;">
          <input type="text" readonly="readonly" value="&amp;#x25b3;">
        </li>
        <li>
          <div data-icon="&#xe60b;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe60b;">
          <input type="text" readonly="readonly" value="&amp;#x29ca;">
        </li>
        <li>
          <div data-icon="&#xe60c;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe60c;">
          <input type="text" readonly="readonly" value="&amp;#2a39;">
        </li>
        <li>
          <div data-icon="&#xe60d;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe60d;">
          <input type="text" readonly="readonly" value="&amp;#xf224;">
        </li>
        <li>
          <div data-icon="&#xe60e;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe60e;">
          <input type="text" readonly="readonly" value="&amp;#xf222;">
        </li>
        <li>
          <div data-icon="&#xe60f;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe60f;">
          <input type="text" readonly="readonly" value="&amp;#xf216;">
        </li>
        <li>
          <div data-icon="&#xe610;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe610;">
          <input type="text" readonly="readonly" value="&amp;#xf217;">
        </li>
        <li>
          <div data-icon="&#xe611;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe611;">
          <input type="text" readonly="readonly" value="&amp;#xf215;">
        </li>
        <li>
          <div data-icon="&#xe612;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe612;">
          <input type="text" readonly="readonly" value="&amp;#xf223;">
        </li>
        <li>
          <div data-icon="&#xe613;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe613;">
          <input type="text" readonly="readonly" value="&amp;#xf218;">
        </li>
        <li>
          <div data-icon="&#xe614;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe614;">
          <input type="text" readonly="readonly" value="&amp;#xf221;">
        </li>
        <li>
          <div data-icon="&#xe615;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe615;">
          <input type="text" readonly="readonly" value="&amp;#xf228;">
        </li>
        <li>
          <div data-icon="&#xe616;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe616;">
          <input type="text" readonly="readonly" value="&amp;#xf227;">
        </li>
        <li>
          <div data-icon="&#xe617;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe617;">
          <input type="text" readonly="readonly" value="&amp;#xf214;">
        </li>
        <li>
          <div data-icon="&#xe618;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe618;">
          <input type="text" readonly="readonly" value="&amp;#xf212;">
        </li>
        <li>
          <div data-icon="&#xe619;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe619;">
          <input type="text" readonly="readonly" value="&amp;#xf220;">
        </li>
        <li>
          <div data-icon="&#xe61a;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe61a;">
          <input type="text" readonly="readonly" value="&amp;#xf213;">
        </li>
        <li>
          <div data-icon="&#xe61b;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe61b;">
          <input type="text" readonly="readonly" value="&amp;#xf219;">
        </li>
        <li>
          <div data-icon="&#xe61c;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe61c;">
          <input type="text" readonly="readonly" value="&amp;#xf071;">
        </li>
        <li>
          <div data-icon="&#xe61d;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe61d;">
          <input type="text" readonly="readonly" value="&amp;#xe010;">
        </li>
        <li>
          <div data-icon="&#xe61e;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe61e;">
          <input type="text" readonly="readonly" value="&amp;#xf007;">
        </li>
        <li>
          <div data-icon="&#xe61f;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe61f;">
          <input type="text" readonly="readonly" value="&amp;#xe00a;">
        </li>
        <li>
          <div data-icon="&#xe620;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe620;">
          <input type="text" readonly="readonly" value="&amp;#x2e19;">
        </li>
        <li>
          <div data-icon="&#xe621;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe621;">
          <input type="text" readonly="readonly" value="&amp;#xe031;">
        </li>
        <li>
          <div data-icon="&#xe622;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe622;">
          <input type="text" readonly="readonly" value="&amp;#x2714;">
        </li>
        <li>
          <div data-icon="&#xe623;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe623;">
          <input type="text" readonly="readonly" value="&amp;#x2611;">
        </li>
        <li>
          <div data-icon="&#xe624;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe624;">
          <input type="text" readonly="readonly" value="&amp;#x2713;">
        </li>
        <li>
          <div data-icon="&#xe625;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe625;">
          <input type="text" readonly="readonly" value="&amp;#x2705;">
        </li>
        <li>
          <div data-icon="&#xe626;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe626;">
          <input type="text" readonly="readonly" value="&amp;#xe202;">
        </li>
        <li>
          <div data-icon="&#xe627;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe627;">
          <input type="text" readonly="readonly" value="&amp;#xe201;">
        </li>
        <li>
          <div data-icon="&#xe628;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe628;">
          <input type="text" readonly="readonly" value="&amp;#x23f4;">
        </li>
        <li>
          <div data-icon="&#xe629;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe629;">
          <input type="text" readonly="readonly" value="&amp;#xe203;">
        </li>
        <li>
          <div data-icon="&#xe62a;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe62a;">
          <input type="text" readonly="readonly" value="&amp;#x23f5;">
        </li>
        <li>
          <div data-icon="&#xe62b;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe62b;">
          <input type="text" readonly="readonly" value="&amp;#xe220;">
        </li>
        <li>
          <div data-icon="&#xe62c;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe62c;">
          <input type="text" readonly="readonly" value="new cme icon">
        </li>
        <li>
          <div data-icon="&#xe62d;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe62d;">
          <input type="text" readonly="readonly" value="&amp;#x263a;">
        </li>
        <li>
          <div data-icon="&#xe62e;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe62e;">
          <input type="text" readonly="readonly" value="&amp;#x2637;">
        </li>
        <li>
          <div data-icon="&#xe62f;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe62f;">
          <input type="text" readonly="readonly" value="&amp;#xe02a;">
        </li>
        <li>
          <div data-icon="&#xe630;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe630;">
          <input type="text" readonly="readonly" value="&amp;#x25ac;">
        </li>
        <li>
          <div data-icon="&#xe631;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe631;">
          <input type="text" readonly="readonly" value="&amp;#xe023;">
        </li>
        <li>
          <div data-icon="&#xe632;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe632;">
          <input type="text" readonly="readonly" value="&amp;#x2718;">
        </li>
        <li>
          <div data-icon="&#xe633;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe633;">
          <input type="text" readonly="readonly" value="&amp;#xf308;">
        </li>
        <li>
          <div data-icon="&#xe634;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe634;">
          <input type="text" readonly="readonly" value="&amp;#xe017;">
        </li>
        <li>
          <div data-icon="&#xe635;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe635;">
          <input type="text" readonly="readonly" value="&amp;#x25a4;">
        </li>
        <li>
          <div data-icon="&#xe636;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe636;">
          <input type="text" readonly="readonly" value="&amp;#xe014;">
        </li>
        <li>
          <div data-icon="&#xe637;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe637;">
          <input type="text" readonly="readonly" value="&amp;#xe005;">
        </li>
        <li>
          <div data-icon="&#xe638;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe638;">
          <input type="text" readonly="readonly" value="&amp;#xe329;">
        </li>
        <li>
          <div data-icon="&#xe639;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe639;">
          <input type="text" readonly="readonly" value="&amp;#xe331;">
        </li>
        <li>
          <div data-icon="&#xe63a;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe63a;">
          <input type="text" readonly="readonly" value="&amp;#xe00f;">
        </li>
        <li>
          <div data-icon="&#xe63b;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe63b;">
          <input type="text" readonly="readonly" value="&amp;#xe039;">
        </li>
        <li>
          <div data-icon="&#xe63c;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe63c;">
          <input type="text" readonly="readonly" value="&amp;#xe053;">
        </li>
        <li>
          <div data-icon="&#xe63d;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe63d;">
          <input type="text" readonly="readonly" value="&amp;#xe054;">
        </li>
        <li>
          <div data-icon="&#xe63e;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe63e;">
          <input type="text" readonly="readonly" value="&amp;#x1f310;">
        </li>
        <li>
          <div data-icon="&#xe63f;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe63f;">
          <input type="text" readonly="readonly" value="&amp;#xe00b;">
        </li>
        <li>
          <div data-icon="&#xe640;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe640;">
          <input type="text" readonly="readonly" value="&amp;#x2724;">
        </li>
        <li>
          <div data-icon="&#xe641;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe641;">
          <input type="text" readonly="readonly" value="?">
        </li>
        <li>
          <div data-icon="&#xe642;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe642;">
          <input type="text" readonly="readonly" value="&amp;#x2303;">
        </li>
        <li>
          <div data-icon="&#xe643;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe643;">
          <input type="text" readonly="readonly" value="&amp;#2b20;">
        </li>
        <li>
          <div data-icon="&#xe644;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe644;">
          <input type="text" readonly="readonly" value="&amp;#2302;">
        </li>
        <li>
          <div data-icon="&#xe645;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe645;">
          <input type="text" readonly="readonly" value="&amp;#e326;">
        </li>
        <li>
          <div data-icon="&#xe646;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe646;">
          <input type="text" readonly="readonly" value="&amp;#e328;">
        </li>
        <li>
          <div data-icon="&#xe647;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe647;">
          <input type="text" readonly="readonly" value="&amp;#1f311;">
        </li>
        <li>
          <div data-icon="&#xe648;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe648;">
          <input type="text" readonly="readonly" value="&amp;#x2261;">
        </li>
        <li>
          <div data-icon="&#xe649;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe649;">
          <input type="text" readonly="readonly" value="&amp;#xe105;">
        </li>
        <li>
          <div data-icon="&#xe64a;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe64a;">
          <input type="text" readonly="readonly" value="&amp;#e106;">
        </li>
        <li>
          <div data-icon="&#xe64b;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe64b;">
          <input type="text" readonly="readonly" value="&amp;#xf105;">
        </li>
        <li>
          <div data-icon="&#xe64c;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe64c;">
          <input type="text" readonly="readonly" value="&amp;#xe109;">
        </li>
        <li>
          <div data-icon="&#xe64d;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe64d;">
          <input type="text" readonly="readonly" value="&amp;#xe107;">
        </li>
        <li>
          <div data-icon="&#xe64e;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe64e;">
          <input type="text" readonly="readonly" value="&amp;#xe108;">
        </li>
        <li>
          <div data-icon="&#xe64f;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe64f;">
          <input type="text" readonly="readonly" value="&amp;#xe111;">
        </li>
        <li>
          <div data-icon="&#xe650;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe650;">
          <input type="text" readonly="readonly" value="&amp;#xe011;">
        </li>
        <li>
          <div data-icon="&#xe651;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe651;">
          <input type="text" readonly="readonly" value="&amp;#x25a5;">
        </li>
        <li>
          <div data-icon="&#xe652;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe652;">
          <input type="text" readonly="readonly" value="&amp;#xe049;">
        </li>
        <li>
          <div data-icon="&#xe653;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe653;">
          <input type="text" readonly="readonly" value="&amp;#xe319;">
        </li>
        <li>
          <div data-icon="&#xe654;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe654;">
          <input type="text" readonly="readonly" value="&amp;#xe321;">
        </li>
        <li>
          <div data-icon="&#xe655;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe655;">
          <input type="text" readonly="readonly" value="&amp;#x2725;">
        </li>
        <li>
          <div data-icon="&#xe656;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe656;">
          <input type="text" readonly="readonly" value="&amp;#x22a0;">
        </li>
        <li>
          <div data-icon="&#xe657;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe657;">
          <input type="text" readonly="readonly" value="&amp;#x440;">
        </li>
        <li>
          <div data-icon="&#xe658;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe658;">
          <input type="text" readonly="readonly" value="&amp;#xe008;">
        </li>
        <li>
          <div data-icon="&#xe659;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe659;">
          <input type="text" readonly="readonly" value="&amp;#x2708;">
        </li>
        <li>
          <div data-icon="&#xe65a;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe65a;">
          <input type="text" readonly="readonly" value="&amp;#x2bc8;">
        </li>
        <li>
          <div data-icon="&#xe65b;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe65b;">
          <input type="text" readonly="readonly" value="&amp;#xe316;">
        </li>
        <li>
          <div data-icon="&#xe65c;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe65c;">
          <input type="text" readonly="readonly" value="&amp;#xe318;">
        </li>
        <li>
          <div data-icon="&#xe65d;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe65d;">
          <input type="text" readonly="readonly" value="&amp;#xe016;">
        </li>
        <li>
          <div data-icon="&#xe65e;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe65e;">
          <input type="text" readonly="readonly" value="&amp;#x272f;">
        </li>
        <li>
          <div data-icon="&#xe65f;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe65f;">
          <input type="text" readonly="readonly" value="&amp;#xe323;">
        </li>
        <li>
          <div data-icon="&#xe660;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe660;">
          <input type="text" readonly="readonly" value="&amp;#xe325;">
        </li>
        <li>
          <div data-icon="&#xe661;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe661;">
          <input type="text" readonly="readonly" value="&amp;#x23f1;">
        </li>
        <li>
          <div data-icon="&#xe662;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe662;">
          <input type="text" readonly="readonly" value="&amp;#x22ac;">
        </li>
        <li>
          <div data-icon="&#xe663;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe663;">
          <input type="text" readonly="readonly" value="&amp;#xf226;">
        </li>
        <li>
          <div data-icon="&#xe664;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe664;">
          <input type="text" readonly="readonly" value="&amp;#xf225;">
        </li>
        <li>
          <div data-icon="&#xe665;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe665;">
          <input type="text" readonly="readonly" value="&amp;#x236f;">
        </li>
        <li>
          <div data-icon="&#xe666;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe666;">
          <input type="text" readonly="readonly" value="&amp;#xe058;">
        </li>
        <li>
          <div data-icon="&#xe667;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe667;">
          <input type="text" readonly="readonly" value="&amp;#x29ea;">
        </li>
        <li>
          <div data-icon="&#xe668;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe668;">
          <input type="text" readonly="readonly" value="&amp;#xe100;">
        </li>
        <li>
          <div data-icon="&#xe669;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe669;">
          <input type="text" readonly="readonly" value="&amp;#xe015;">
        </li>
        <li>
          <div data-icon="&#xe66a;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe66a;">
          <input type="text" readonly="readonly" value="&amp;#x2bb9;">
        </li>
        <li>
          <div data-icon="&#xe66b;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe66b;">
          <input type="text" readonly="readonly" value="&amp;#x2bc2;">
        </li>
        <li>
          <div data-icon="&#xe66c;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe66c;">
          <input type="text" readonly="readonly" value="&amp;#xe071;">
        </li>
        <li>
          <div data-icon="&#xe66d;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe66d;">
          <input type="text" readonly="readonly" value="&amp;#x2719;">
        </li>
        <li>
          <div data-icon="&#xe66e;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe66e;">
          <input type="text" readonly="readonly" value="&amp;#x2720;">
        </li>
        <li>
          <div data-icon="&#xe66f;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe66f;">
          <input type="text" readonly="readonly" value="&amp;#x2722;">
        </li>
        <li>
          <div data-icon="&#xe670;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe670;">
          <input type="text" readonly="readonly" value="&amp;#x2721;">

        </li>
        <li>
          <div data-icon="&#xe671;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe671;">
          <input type="text" readonly="readonly" value="&amp;#x2723;">
        </li>
        <li>
          <div data-icon="&#xe672;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe672;">
          <input type="text" readonly="readonly" value="&amp;#x23f2;">
        </li>
        <li>
          <div data-icon="&#xe673;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe673;">
          <input type="text" readonly="readonly" value="&amp;#xe070;">
        </li>
        <li>
          <div data-icon="&#xe674;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe674;">
          <input type="text" readonly="readonly" value="&amp;#x26df;">
        </li>
        <li>
          <div data-icon="&#xe675;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe675;">
          <input type="text" readonly="readonly" value="&amp;#xe002;">
        </li>
        <li>
          <div data-icon="&#xe676;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe676;">
          <input type="text" readonly="readonly" value="&amp;#xe003;">
        </li>
        <li>
          <div data-icon="&#xe677;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe677;">
          <input type="text" readonly="readonly" value="&amp;#xe210;">
        </li>
        <li>
          <div data-icon="&#xe678;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe678;">
          <input type="text" readonly="readonly" value="&amp;#xe211;">
        </li>
        <li>
          <div data-icon="&#xe679;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe679;">
          <input type="text" readonly="readonly" value="&amp;#xe209;">
        </li>
        <li>
          <div data-icon="&#xe67a;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe67a;">
          <input type="text" readonly="readonly" value="&amp;#xe208;">
        </li>
        <li>
          <div data-icon="&#xe67b;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe67b;">
          <input type="text" readonly="readonly" value="&amp;#xe313;">
        </li>
        <li>
          <div data-icon="&#xe67c;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe67c;">
          <input type="text" readonly="readonly" value="&amp;#xe315;">
        </li>
        <li>
          <div data-icon="&#xe67d;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe67d;">
          <input type="text" readonly="readonly" value="&amp;#x2717;">
        </li>
         <li>
          <div data-icon="&#xe67e;" class="icon"></div>
          <input type="text" readonly="readonly" value="&amp;#xe67e;">
          <input type="text" readonly="readonly" value="new icon">
        </li>
        </ul>
  </div> <!-- @end .ups-wrap_inner -->
</div> <!-- @end .ups-wrap -->
