---
title: ct1_shi_dro_email_driving_directions_dlg
layout: legacy.hbs
version: v4
appID: com.ups.dol
appCSS: ups.legacy_overrideDOL
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       

		<form action="repl_fname">

		<!-- Begin Application Module -->
			<div class="appLvl col18 mod">
				<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2 id="repl_id">{application header}</h2>
							<ul>
								<li>{<a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link}</a></li>
							</ul>
					</div>
				<!-- End Application Header -->
				
				<!-- Begin Application Body -->
					<div class="appBody clearfix">			
						
					<!-- Begin Section Module -->
						<div class="secLvl clearfix">
							<!-- Begin Section Header --><!-- End Section Header -->
							
							<!-- Begin Section Body -->
							<div class="secBody clearfix">

									<p id="repl_id">fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p><p id="repl_id">praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
									<p id="repl_id">duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
									<p id="repl_id">fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p><p id="repl_id">praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
									<p id="repl_id">duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
									<p id="repl_id">fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p><p id="repl_id">praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
									<p id="repl_id">duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
									<p id="repl_id">fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p><p id="repl_id">praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
									<p id="repl_id">duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
									<p id="repl_id">fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p><p id="repl_id">praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
									<p id="repl_id">duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
							</div>
							<!-- End Section Body -->
							
							<!-- Begin Section Footer --><!-- End Section Footer -->
							
						</div>		
					<!-- End Section Module -->
					
					</div>
				<!-- End Application Body -->
				
				<!-- Begin Application Footer --><!-- End Application Footer -->
			</div>
		<!-- End Application Module -->
		</form>
		
	</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
