---
title: ct1_shi_dro_print_results
layout: legacy.hbs
version: v4
appID: com.ups.dol
appCSS: ups.legacy_overrideDOL
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
	<div class="appLvl appLvlPlain ">
		<!--<div class="appHead"></div>-->
		<div class="appBody">
			<div class="secLvl secLvlPlain">
				<!--<div class="secHead"></div>-->
				<div class="secBody">
					<table class="valignTop headerTable" width="50%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td><img width="42" height="55" border="0" src="/img/glo_ups_brandmark_pfv.gif" alt="UPS"></td>
								<td align="right"><strong>Locations Near:&nbsp;</strong></td>
								<td> Roswell, GA 30076 </td>
							</tr>
						</tbody>
					</table>
					<div id="msveMap">
						<img src="/img_fpo/other/fpo-970x572.gif" width="710" height="450" alt="">
					</div>
					<div class="secLvl step locResults clearfix">
						<div class="secHead clearfix">
							<span class="label">location</span>
							<div class="floatEnd">
								<span class="label">distance*</span>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin upsLocation">1</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody odd">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin otherLocation">2</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="6"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
											<th scope="col">express</th>
											<th scope="col">standard</th>
											<th scope="col">international</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin upsLocation">3</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<!--<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">-</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">-</td>
											<td nowrap="nowrap">-</td>
										</tr>
									</table>-->
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody odd">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin otherLocation">4</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<!--<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">-</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">-</td>
											<td nowrap="nowrap">-</td>
										</tr>
									</table>-->
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin upsLocation">5</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<!--<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">-</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">-</td>
											<td nowrap="nowrap">-</td>
										</tr>
									</table>-->
								</div>
								<div class="floatBegin  clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody odd">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin otherLocation">6</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin upsLocation">7</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody odd">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin otherLocation">8</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin upsLocation">9</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
						<div class="secBody odd">
							<div class="floatEnd">
								<span>nn.n miles</span>
							</div>
							<div class="subcol2">
								<p><a href="repl_href" class="locationPin otherLocation">10</a></p>
							</div>
							<div class="subcol14">
								<p><strong>{Result Type}</strong> <br>
									{address line 1} <br>
									{address line 2} <br>
									{City, State, ZIP Code}</p>
								<p>{additional comments that may display from scl for a particular location.}</p>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>operating hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>will call hours</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">open</th>
											<th scope="col">break</th>
											<th scope="col">close</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">1 pm - 2 pm</td>
											<td nowrap="nowrap">9:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">8:00 am</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">12:00 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">closed</td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="floatBegin clearfix">
									<table class="scheduleTable" cellspacing="0" cellpadding="0" border="0" width="100%">
										<tr class="secondaryHeaderRow">
											<td colspan="4"><h3>latest drop-off times</h3></td>
										</tr>
										<tr>
											<th scope="col"></th>
											<th scope="col">air</th>
											<th scope="col">ground</th>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>mon-fri</strong></td>
											<td nowrap="nowrap">6:30 pm</td>
											<td nowrap="nowrap">5:15 pm</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sat</strong></td>
											<td nowrap="nowrap">1:00 pm</td>
											<td nowrap="nowrap">--</td>
										</tr>
										<tr>
											<td nowrap="nowrap"><strong>sun</strong></td>
											<td nowrap="nowrap">--</td>
											<td nowrap="nowrap">--</td>
										</tr>
									</table>
								</div>
								<div class="clear">
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
					</div>
				</div>
				<div class="secFooter">
					<div class="note">
						<p>* Driving distances are approximate.</p>
						<p>Copyright &copy; 1994-2009 United Parcel Service of America, Inc. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="appFooter"></div>-->
	</div>
</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
