---
title: ct1_shi_dro_results
layout: legacy.hbs
version: v4
appID: com.ups.dol
appCSS: ups.legacy_overrideDOL
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
				<form action="repl_fname" method="repl_method" name="repl_name">
					<div class="appBody">
						<div id="searchCol" class="seccol8 marginBegin">
							<div class="secLvl step noHead clearfix">
								<div class="secBody">
									<p class="error">&gt;&gt;&gt; error message placeholder</p>
									<div class="floatEnd clearfix">
										<p><a href="repl_href" class="btnlnkL currentLocationIcon">use my current location</a></p>
									</div>
									<dl>
										<dt>
											<!-- toggle these for error state -->
											<label for="repl_id" class="error">&gt;&gt;&gt; near:</label>
											<label for="repl_id">near:</label>
										</dt>
										<dd>
											<select id="repl_id" class="ui-combobox">
												<option value="">902 Main Street, Houston, TX 12345</option>
												<option value="">902 Mall Blvd., Houston, TX 12345</option>
												<option value="">Saved Locations</option>
												<option value="">Near home</option>
												<option value="">Near work</option>
												<option value="">Work2</option>
												<option value="">The UPS Store 128050 Highway 9...</option>
												<option value="">Near dad's house</option>
												<option value="">Recent Searches</option>
												<option value="">30005</option>
												<option value="">Houston, TX</option>
												<option value="">128050 Highway 9 N, S-600, Aplh...</option>
												<option value="">12380 Morris Road, GA</option>
												<option value="">90210</option>
											</select>
											<br>
											<label for="repl_id" class="visually-hidden">country or territory</label>
											<select id="repl_id" class="formcol6">
												<option value="">united states</option>
											</select>
										</dd>
									</dl>
									<!-- This is an example of what should be output by the JQuery autocomplete --> 
									<!-- Actual location should be set dynamically based on input's location -->
									<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; display: none; width: 238px;">
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">902 Main Street, Houston, TX 12345</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">902 Mall Blvd., Houston, TX 12345</a></li>
										<li class="ui-menu-item-category" role="menuitem">
											<hr>
										</li>
										<li class="ui-menu-item-category" role="menuitem">Saved Locations</li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Near home</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Near work</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Work2</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">The UPS Store 128050 Highway 9...</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Near dad's house</a></li>
										<li class="ui-menu-item-category" role="menuitem">
											<hr>
										</li>
										<li class="ui-menu-item-category" role="menuitem">Recent Searches</li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">30005</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Houston, TX</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">128050 Highway 9 N, S-600, Aplh...</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">12380 Morris Road, GA</a></li>
										<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">90210</a></li>
									</ul>
									<p><a href="repl_href">refine search</a></p>
									<dl>
										<dt>
											<span class="label">narrow your search</span>
										</dt>
										<dd>
											<table border="0" cellpadding="0" cellspacing="0" role="presentation">
												<tbody>
													<tr>
														<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"></td>
														<td><label for="chxbox1" class="sel"><a href="repl_href" class="btnlnkR helpIconR">find a dropoff location</a></label></td>
													</tr>
													<tr>
														<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"></td>
														<td><label for="chxbox2" class="sel"><a href="repl_href" class="btnlnkR helpIconR">pay for a ups shipping label</a></label></td>
													</tr>
													<tr>
														<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox3"></td>
														<td><label for="chxbox3" class="sel"><a href="repl_href" class="btnlnkR helpIconR">help with packaging my shipment</a></label></td>
													</tr>
												</tbody>
											</table>
										</dd>
									</dl>
									<div id="filters">
										<dl>
											<dt>
												<span class="label">filter by:</span>
											</dt>
											<dd>
												<table border="0" cellpadding="0" cellspacing="0" role="presentation">
													<tbody>
														<tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
															<td><label for="repl_id" class="sel"><a href="repl_href" class="btnlnkR helpIconR">ups worldwide express freight centers</a></label></td>
														</tr>
													</tbody>
												</table>
												<dl>
													<dt>
														<span class="label"><a href="repl_href" class="btnlnkL plusMini"></a><a href="repl_href" class="btnlnkL minusMini"></a> <a href="repl_href" class="btnlnkR helpIconR">location type</a></span>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">the ups store &reg;</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">ups access point<sup>&trade;</sup></label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">ups customer centers</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">ups drop boxes</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">Retail Chains</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">authorized shipping outlets*</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">ups authorized service providers</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">ups express</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">ups alliance locations</label></td>
																</tr>
															</tbody>
														</table>
														<p class="reqTxtInst">* Retail rates may apply</p>
													</dd>
												</dl>
												<dl>
													<dt>
														<span class="label"><a href="repl_href" class="btnlnkL plusMini"></a><a href="repl_href" class="btnlnkL minusMini"></a> <a href="repl_href" class="btnlnkR helpIconR">other services</a></span>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id" checked="checked"></td>
																	<td><label for="repl_id" class="sel">purchase packaging supplies</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">office supplies and services</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">copying/faxing</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">mail box rentals</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">notary public service</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
												<dl>
													<dt>
														<span class="label"><a href="repl_href" class="btnlnkL plusMini"></a><a href="repl_href" class="btnlnkL minusMini"></a> <a href="repl_href" class="btnlnkR helpIconR">specialized services and programs</a></span>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id" checked="checked"></td>
																	<td><label for="repl_id" class="sel">pack & ship guarantee</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">international shipping expert</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">apple returns program</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">saturday will call</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
												<dl>
													<dt>
														<span class="label"><a href="repl_href" class="btnlnkL plusMini"></a><a href="repl_href" class="btnlnkL minusMini"></a> <a href="repl_href" class="btnlnkR helpIconR">location filters</a></span>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">staffed</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">bill my account</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">accept shipping tickets</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">accept restricted articles</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">only show locations within:</label>
																		<br>
																		<label for="repl_id" class="visually-hidden">distance</label>
																		<select id="repl_id" class="formcol6">
																			<option value="">200 mi / 200 km</option>
																		</select></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">only show locations with drop-off times by:</label>
																		<br>
																		<label for="repl_id" class="visually-hidden">service</label>
																		<select id="repl_id" class="formcol6">
																			<option value="" selected>select service</option>
																			<option value="">another service option</option>
																			<option value="">another much longer service option</option>
																		</select>
																		<br>
																		<label for="repl_id" class="visually-hidden">day of week</label>
																		<select id="repl_id" class="formcol6">
																			<option value="">select day of week</option>
																		</select>
																		<br>
																		<label for="repl_id" class="visually-hidden">time of day</label>
																		<select id="repl_id" class="formcol6">
																			<option value="">select time of day</option>
																		</select>
																	</td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
																	<td><label for="repl_id" class="sel">
																		only show locations open:</label>
																		<br>
																		<label for="repl_id" class="visually-hidden">day of week</label>
																		<select id="repl_id" class="formcol6">
																			<option value="">select day of week</option>
																		</select>
																		<br>
																		<table border="0" cellpadding="0" cellspacing="0" role="presentation">
																			<tbody>
																				<tr>
																					<td><label for="repl_id" class="sel">from:</label></td>
																					<td><select id="repl_id" class="formcol4">
																							<option value="">select time</option>
																						</select></td>
																				</tr>
																				<tr>
																					<td><label for="repl_id" class="sel">to:</label></td>
																					<td><select id="repl_id" class="formcol4">
																							<option value="">select time</option>
																						</select></td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
											</dd>
										</dl>
									</div>
									<p><a href="repl_href" class="btnlnkL plusMini"></a><a href="repl_href" class="btnlnkR helpIconR">see all options</a></p>
									<p><a href="repl_href" class="btnlnkL minusMini"></a><a href="repl_href" class="btnlnkR helpIconR">hide all options</a></p>
									<p><a href="repl_href">clear filters</a></p>
								</div>
								<div class="secFooter">
									<div class="btnBar">
										<div class="floatLeft clearfix"> <a href="repl_href">cancel</a> </div>
										<!--<input class="btn" type="button" value="cancel">-->
										<input class="btn" type="button" value="refine search">
									</div>
								</div>
							</div>
							<div class="locator_alert">
								<div class="cmsMsg"> 
									<!--#include virtual="/app_ent/cms_fragments/jan17/locator_alert.html" --> 
								</div>
							</div>
							<div class="secLvl step"> 
								<!--<div class="sliderPanelHeader secHead clearfix openPanelHeader">-->
								<div class="secHead clearfix">
									<h3>results</h3>
									<ul class="clearfix">
										<li><a href="repl_href" class="btnlnkR printIconR">Print Results</a></li>
									</ul>
								</div>
								<div class="secBody">
									<dl class="outHozFlex clearfix">
										<dt>
											<label for="repl_id">sort by:</label>
										</dt>
										<dd>
											<select id="repl_id" class="formcol6">
												<option>closest location</option>
												<option>another longer option to display past the element width, and that's ok</option>
											</select>
										</dd>
									</dl>
									<div id="repl_id" class="resultsDiv" style="height:360px;">
										<div class="upperThree">
											<ul class="mappedResultList">
												<li class="selected">
													<div class="subcol2 marginBegin alignCenter clearfix">
														<p class="clearfix"><a href="repl_href" class="locationPin upsLocation">1</a></p>
														<span class="mileage"><strong>n.n mi</strong></span> </div>
													<div class="seccol5 marginEnd group clearfix"> <span class="label"><a href="repl_href">the ups store&reg;</a></span><br>
														<span>1425 MARKET BLVD, 300, ROSWELL, GA 30076 <br>
														tel: (770) 518-8900</span>
														<p class="closeTime">closes at ##:##pm</p>
														<dl class="outHozFlex clearfix">
															<dt>
																<span class="label">latest drop off:</span>
															</dt>
															<dd>ground ##:##pm | air ##:##pm</dd>
														</dl>
														<div class="clear"></div>
														<div class="floatBegin newLocation">new</div>
														<div class="floatEnd"><a href="repl_href">directions</a></div>
														<div class="clear"></div>
													</div>
													<div class="clear"></div>
												</li>
												<li>
													<div class="subcol2 marginBegin alignCenter clearfix">
														<p class="clearfix"><a href="repl_href" class="locationPin otherLocation">2</a></p>
														<span class="mileage"><strong>nn.n mi</strong></span> </div>
													<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
														<span>{LOCATION ADDRESS}<br>
														tel: {LOCATION PHONE}</span>
														<p class="closeTime">closes at ##:##pm</p>
														<dl class="outHozFlex clearfix">
															<dt>
																<span class="label">latest drop off:</span>
															</dt>
															<dd>ground ##:##pm | air ##:##pm</dd>
														</dl>
														<div class="clear"></div>
														<div class="floatBegin featuredLocation">featured</div>
														<div class="floatEnd"><a href="repl_href">directions</a></div>
														<div class="clear"></div>
													</div>
													<div class="clear"></div>
												</li>
												<li>
													<div class="subcol2 marginBegin alignCenter clearfix">
														<p class="clearfix"><a href="repl_href" class="locationPin upsLocation">3</a></p>
														<span class="mileage"><strong>nnn.n mi</strong></span> </div>
													<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
														<span>{LOCATION ADDRESS}<br>
														tel: {LOCATION PHONE}</span>
														<p class="closeTime">closes at ##:##pm</p>
														<dl class="outHozFlex clearfix">
															<dt>
																<span class="label">latest drop off:</span>
															</dt>
															<dd>ground ##:##pm | air ##:##pm</dd>
														</dl>
														<div class="clear"></div>
														<div class="floatEnd"><a href="repl_href">directions</a></div>
														<div class="clear"></div>
													</div>
													<div class="clear"></div>
												</li>
											</ul>
										</div>
										<ul class="mappedResultList">
											<li>
												<div class="subcol2 marginBegin alignCenter clearfix">
													<p class="clearfix"><a href="repl_href" class="locationPin otherLocation">4</a></p>
													<span class="mileage"><strong>nn.n mi</strong></span> </div>
												<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
													<span>{LOCATION ADDRESS}<br>
													tel: {LOCATION PHONE}</span>
													<p class="closeTime">closes at ##:##pm</p>
													<dl class="outHozFlex clearfix">
														<dt>
															<span class="label">latest drop off:</span>
														</dt>
														<dd>ground ##:##pm | air ##:##pm</dd>
													</dl>
													<div class="clear"></div>
													<div class="floatBegin newLocation">new</div>
													<div class="floatEnd"><a href="repl_href">directions</a></div>
													<div class="clear"></div>
												</div>
												<div class="clear"></div>
											</li>
											<li>
												<div class="subcol2 marginBegin alignCenter clearfix">
													<p class="clearfix"><a href="repl_href" class="locationPin upsLocation">5</a></p>
													<span class="mileage"><strong>nn.n mi</strong></span> </div>
												<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
													<span>{LOCATION ADDRESS}<br>
													tel: {LOCATION PHONE}</span>
													<p class="closeTime">closes at ##:##pm</p>
													<dl class="outHozFlex clearfix">
														<dt>
															<span class="label">latest drop off:</span>
														</dt>
														<dd>ground ##:##pm | air ##:##pm</dd>
													</dl>
													<div class="clear"></div>
													<div class="floatBegin newLocation">new</div>
													<div class="floatEnd"><a href="repl_href">directions</a></div>
													<div class="clear"></div>
												</div>
												<div class="clear"></div>
											</li>
											<li>
												<div class="subcol2 marginBegin alignCenter clearfix">
													<p class="clearfix"><a href="repl_href" class="locationPin otherLocation">6</a></p>
													<span class="mileage"><strong>nn.n mi</strong></span> </div>
												<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
													<span>{LOCATION ADDRESS}<br>
													tel: {LOCATION PHONE}</span>
													<p class="closeTime">closes at ##:##pm</p>
													<dl class="outHozFlex clearfix">
														<dt>
															<span class="label">latest drop off:</span>
														</dt>
														<dd>ground ##:##pm | air ##:##pm</dd>
													</dl>
													<div class="clear"></div>
													<div class="floatBegin newLocation">new</div>
													<div class="floatEnd"><a href="repl_href">directions</a></div>
													<div class="clear"></div>
												</div>
												<div class="clear"></div>
											</li>
											<li>
												<div class="subcol2 marginBegin alignCenter clearfix">
													<p class="clearfix"><a href="repl_href" class="locationPin upsLocation">7</a></p>
													<span class="mileage"><strong>nn.n mi</strong></span> </div>
												<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
													<span>{LOCATION ADDRESS}<br>
													tel: {LOCATION PHONE}</span>
													<p class="closeTime">closes at ##:##pm</p>
													<dl class="outHozFlex clearfix">
														<dt>
															<span class="label">latest drop off:</span>
														</dt>
														<dd>ground ##:##pm | air ##:##pm</dd>
													</dl>
													<div class="clear"></div>
													<div class="floatBegin newLocation">new</div>
													<div class="floatEnd"><a href="repl_href">directions</a></div>
													<div class="clear"></div>
												</div>
												<div class="clear"></div>
											</li>
											<li>
												<div class="subcol2 marginBegin alignCenter clearfix">
													<p class="clearfix"><a href="repl_href" class="locationPin otherLocation">8</a></p>
													<span class="mileage"><strong>nn.n mi</strong></span> </div>
												<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
													<span>{LOCATION ADDRESS}<br>
													tel: {LOCATION PHONE}</span>
													<p class="closeTime">closes at ##:##pm</p>
													<dl class="outHozFlex clearfix">
														<dt>
															<span class="label">latest drop off:</span>
														</dt>
														<dd>ground ##:##pm | air ##:##pm</dd>
													</dl>
													<div class="clear"></div>
													<div class="floatBegin newLocation">new</div>
													<div class="floatEnd"><a href="repl_href">directions</a></div>
													<div class="clear"></div>
												</div>
												<div class="clear"></div>
											</li>
											<li>
												<div class="subcol2 marginBegin alignCenter clearfix">
													<p class="clearfix"><a href="repl_href" class="locationPin upsLocation">9</a></p>
													<span class="mileage"><strong>nn.n mi</strong></span> </div>
												<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
													<span>{LOCATION ADDRESS}<br>
													tel: {LOCATION PHONE}</span>
													<p class="closeTime">closes at ##:##pm</p>
													<dl class="outHozFlex clearfix">
														<dt>
															<span class="label">latest drop off:</span>
														</dt>
														<dd>ground ##:##pm | air ##:##pm</dd>
													</dl>
													<div class="clear"></div>
													<div class="floatBegin newLocation">new</div>
													<div class="floatEnd"><a href="repl_href">directions</a></div>
													<div class="clear"></div>
												</div>
												<div class="clear"></div>
											</li>
											<li>
												<div class="subcol2 marginBegin alignCenter clearfix">
													<p class="clearfix"><a href="repl_href" class="locationPin otherLocation">10</a></p>
													<span class="mileage"><strong>nn.n mi</strong></span> </div>
												<div class="seccol5 marginEnd group clearfix"> <span class="label">{LOCATION TYPE}</span><br>
													<span>{LOCATION ADDRESS}<br>
													tel: {LOCATION PHONE}</span>
													<p class="closeTime">closes at ##:##pm</p>
													<dl class="outHozFlex clearfix">
														<dt>
															<span class="label">latest drop off:</span>
														</dt>
														<dd>ground ##:##pm | air ##:##pm</dd>
													</dl>
													<div class="clear"></div>
													<div class="floatBegin newLocation">new</div>
													<div class="floatEnd"><a href="repl_href">directions</a></div>
													<div class="clear"></div>
												</div>
												<div class="clear"></div>
											</li>
										</ul>
									</div>
									<div class="pagination group">
										<table width="100%" cellspacing="0" cellpadding="0" border="0" >
											<tr>
												<td align="left" ><!-- begin first page -->Previous<!-- end first page --><!-- being not first page --><a class="btnlnkL linkBackIcon">Previous</a><!-- end not first page --></td>
												<td align="left" >1-10 of 20</td>
												<td align="right" ><!-- begin not last page --><a href="repl_href" class="btnlnkR linkForwardIconR">Next</a><!-- end not last page --><!-- begin last page -->Next<!-- end last page --></td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						
						<!-- begin display area --> 
						<!-- v1 map -->
						<div class="seccol16 marginEnd">
							<div class="floatEnd clearfix">
								<input type="button" class="btn" value="full map view">
							</div>
							<div id="msveMap">
								<p>Map Element Placeholder</p>
							</div>
							<div class="clear"></div>
							<div class="featuredLocationArea">
								<div class="featuredLocation1 subcol8">
									<div class="featuredLocation clearfix">featured</div>
									<div class="subcol2 marginBegin alignCenter clearfix">
										<p><a href="repl_href" class="locationPin upsLocation">1</a></p>
										<span class="mileage"><strong>n.n mi</strong></span> </div>
									<div class="seccol6 marginEnd group clearfix"> <span class="label">the ups store&reg;</span><br>
										<span>1425 market blvd, 300, roswell, ga 30076</span> </div>
								</div>
								<div class="featuredLocation2 subcol8">
									<div class="featuredLocation clearfix">featured</div>
									<div class="subcol2 marginBegin alignCenter clearfix">
										<p><a href="repl_href" class="locationPin otherLocation">2</a></p>
										<span class="mileage"><strong>nnn.n mi</strong></span> </div>
									<div class="seccol6 marginEnd group clearfix"> <span class="label">staples&reg;</span><br>
										<span>12345 state bridge rd, &#35;401, alpharetta, ga 30022</span> </div>
								</div>
								<div class="clear"></div>
							</div>
							
							<!-- Begin Tooltip Content Area -->
							<div id="locationtip" class="hidden">
								<div id="locationtipDropSpace">
									<div id="legendInfotipPointer" style="background:url('/img/hov_glo_arrow_top_brn_lgt.gif');"></div>
								</div>
								<div id="locationtipBody">
									<div class="marginBegin seccol2 alignCenter clearfix">
										<p><a href="repl_href" class="">#</a></p>
										<span class="mileage"><strong>nn.n mi</strong></span> </div>
									<div class="marginEnd seccol7 clearfix">
										<div class="floatEnd clearfix"> <a href="repl_href" class="btnlnkL closeIconBrn"></a> </div>
										<p><a href="repl_href">{LOCATION TYPE}</a> - {outside}</p>
										<p>{location street address}<br>
											tel: {xxx-xxx-xxxx}</p>
										<dl class="outHozFlex clearfix">
											<dt>
												<span class="label">{air/express drop off deadline}:</span>
											</dt>
											<dd>{00:00 xx}</dd>
											<dt>
												<span class="label">{ground/standard drop off deadline}:</span>
											</dt>
											<dd>{00:00 xx}</dd>
											<dt>
												<span class="label">{closes at}:</span>
											</dt>
											<dd>{00:00 xx}</dd>
										</dl>
										<div class="clear"></div>
										<div class="floatBegin newLocation">new</div>
										<div class="floatBegin featuredLocation">featured location</div>
										<div class="floatEnd"><a href="repl_href">directions</a></div>
										<div class="clear"></div>
										<p>{additional comments that may display from scl for a particular location.}</p>
										<p><a href="repl_hre">{view promotion}</a></p>
										<p>{last 50' (feet) driving directions placeholder}</p>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<!-- End Tooltip Content Area --> 
						</div>
						
						<!-- end display area -->
						
						<div class="clear"></div>
						
						<!-- Begin Full Map View -->
						<div class="fullMap">
							<div id="searchCol" class="seccol8 marginBegin">
								<div class="secLvl step noHead clearfix">
									<div class="secBody">
										<div class="floatEnd clearfix">
											<p><a href="repl_href" class="btnlnkL currentLocationIcon">use my current location</a></p>
										</div>
										<dl>
											<dt>
												<label for="repl_id">near:</label>
											</dt>
											<dd>
												<select id="repl_id" class="ui-combobox">
													<option value="">902 Main Street, Houston, TX 12345</option>
													<option value="">902 Mall Blvd., Houston, TX 12345</option>
													<option value="">Saved Locations</option>
													<option value="">Near home</option>
													<option value="">Near work</option>
													<option value="">Work2</option>
													<option value="">The UPS Store 128050 Highway 9...</option>
													<option value="">Near dad's house</option>
													<option value="">Recent Searches</option>
													<option value="">30005</option>
													<option value="">Houston, TX</option>
													<option value="">128050 Highway 9 N, S-600, Aplh...</option>
													<option value="">12380 Morris Road, GA</option>
													<option value="">90210</option>
												</select>
												<br>
												<label for="repl_id" class="visually-hidden">country or territory</label>
												<select id="repl_id" class="formcol6">
													<option value="">united states</option>
												</select>
											</dd>
										</dl>
										<!-- This is an example of what should be output by the JQuery autocomplete --> 
										<!-- Actual location should be set dynamically based on input's location -->
										<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 172px; left: 22px; display: none; width: 238px;">
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">902 Main Street, Houston, TX 12345</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">902 Mall Blvd., Houston, TX 12345</a></li>
											<li class="ui-menu-item-category" role="menuitem">
												<hr>
											</li>
											<li class="ui-menu-item-category" role="menuitem">Saved Locations</li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Near home</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Near work</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Work2</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">The UPS Store 128050 Highway 9...</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Near dad's house</a></li>
											<li class="ui-menu-item-category" role="menuitem">
												<hr>
											</li>
											<li class="ui-menu-item-category" role="menuitem">Recent Searches</li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">30005</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Houston, TX</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">128050 Highway 9 N, S-600, Aplh...</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">12380 Morris Road, GA</a></li>
											<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">90210</a></li>
										</ul>
										<p><a href="repl_href">refine search</a></p>
									</div>
								</div>
							</div>
							<div class="seccol15 marginEnd appliedFilters">
								<dl class="alignBottom outHozFlex clearfix">
									<dt>
										<span class="label">filters applied:</span>
									</dt>
									<dd>staffed, purchase packaging supplies</dd>
								</dl>
							</div>
							<div class="clear"></div>
						</div>
						<div class="floatEnd clearfix">
							<input type="button" class="btn" value="list view">
						</div>
						<div id="msveMap">
							<p>Full Map View Placeholder</p>
						</div>
						<div class="clear"></div>
						<!-- End Full Map View -->
						
						<div class="locator_banner_1">
							<div class="cmsMsg"> 
								<!--#include virtual="/app_ent/cms_fragments/jan17/locator_banner_1.html" --> 
							</div>
						</div>
					</div>
				</form>
			
		
		<!-- /contentArea --> 
		<!-- /contentArea --> 
		<!-- /contentArea --> 
		<!-- /contentArea --> 
		<!-- /contentArea --> 
		<!-- /contentArea --> 
		<!-- /contentArea --> 

<script type="text/javascript">
var spacer = -2;
$(document).ready(function(){
	// the highlighting for the items in the results list
	$('.resultsDiv li').click(function(){
		if(!$(this).hasClass('selected')){
			$(this).parents('.resultsDiv').find('li.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
</script>
</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
