---
title: Choose Payment
layout: default.hbs
dir: ltr
lang: en
appId: ppc
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-wrap ups-onboApp-wrap-doa" ng-app="upsDOApp" >
		<div class="ups-wrap_inner">	
			<ups-payment></ups-payment>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
