<!-- ************************************************************************************ -->
<!-- W5 Manage Home Delivieres, Not Logged In                                             -->
<!-- ************************************************************************************ -->

<div class="ups-widget ups-manage-deliveries manage-deliveries_nli ups-wrap ups-cont-white">
   <div class="ups-wrap_inner">
        <div class="ups-widget_header">
            <h2>Manage Home Deliveries</h2>
            <button class="ups-help_button"><span class="icon ups-icon-questioncircle" aria-hidden="true"></span><span class="ups-helpicon-text">Help</span></button>
        </div>
        <div class="ups-widget_panel">
            <div class="ups-help_panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati maiores doloremque ab quibusdam adipisci corporis commodi ad rerum ipsum minima aliquam a natus cumque architecto tenetur consequatur quisquam, quidem atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta accusantium deleniti quia esse vitae itaque corporis repellat sequi veniam, molestias hic nisi animi nobis minima, quaerat quam expedita quod ex! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut placeat consequuntur magni, voluptatibus magnam, debitis suscipit error accusantium blanditiis maiores laborum quae, repellat perspiciatis omnis corporis, quasi iste voluptatem a.</p>
            </div>
            <span class="ups-widget_line"></span>
            <p class="ups-widget_redirect">Please <a class="ups-link" href="#login">log in</a> to view your upcoming deliveries.</p>
        </div>
        <!-- @end .ups-widget_panel -->
   </div>
   <script type="text/javascript">
            var mhd_url='/assets/resources/ajax/mhd.json';
            var multilingual={
                dayEnd:'Manage Home Deliveries is unavailable at this time.',
                today:'Today',
                changeDelivery:'Change Delivery',
                view:'Pick a Delivery Address',  
                yourPackage:'Your Packages',
                deliveryDay:'Delivery Day',
                deliveryDate:'Delivery Date and Time',
                shipFrom:'Sender and Tracking #',
                statusAction:'Status/Manage',
                deliveryScheduler:'No Upcoming Deliveries',
                deliverySchedulerWeek:'There are no deliveries scheduled for the upcoming week.',
                deliverySchedulerToday:'There are no deliveries scheduled for today.'
            };
            var seeShipment={
                url:'https://wwwapps.ups.com/mcdp?loc=en_US&data-content-block-id=W5',
                title:'See All My Shipments',
                contentBlock:'templatedata/structure/widget/data/en_US/widget.dcr'
            };
        </script>
</div>
<!-- @end .ups-widget -->
