{{!--------------------------------------------
===============================================
W18 Subscribe To Email - Logged In
===============================================
---------------------------------------------}}

<section class="ups-subscribe-email">
    <div class="main ups-wrap">
        <div class="ups-wrap_inner">
            <div class="row bottom-align">
                <div class="col-sm-4 clearfix">
                    <div class="txt-container">
                        <div class="subscribe-input-title">Subscribe to UPS Emails.</div>
                        <!--div class="example-emails ups-sm_show">
                            <button class="templates_toggle">
                                <span class="ups-link">
                                    <span class="ups-subscribe-view">View </span>
                                    <span class="ups-subscribe-hide">Hide </span>
                                    Examples
                                </span>
                                <span class="ups-iconAlone ups-icon-plus" aria-hidden="true"></span>
                            </button>
                        </div-->
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="#modify-email-pref" class="ups-link">Modify Email Preferences</a>
                </div>
                <div class="col-sm-4">
                    <button class="templates_toggle">
                        <span class="ups-link">
                            <span class="ups-subscribe-view">View </span>
                            <span class="ups-subscribe-hide">Hide </span>
                            Examples
                        </span>
                        <span class="ups-iconAlone ups-icon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="templates">
        <div class="templates-container ups-wrap">
            <div class="ups-wrap_inner">
                <button class="templates_close"><span class="ups-readerTxt">Close</span><span class="icon ups-icon-xcircle" aria-hidden="true"></span>
                </button>

                <h3>Email Examples</h3>

                <div class="templates-main-desc">
                    <p>You can manage the email communicates you receive from UPS. To receive the types of communications that are of interest to you, choose from any of the following options</p>
                </div>

                <div class="templates row">
                    <div class="col-sm-3 template">
                        <div class="template-title">
                            <h4>New Product Announcements/ Enhancements</h4>
                        </div>
                        <div class="template-img">
                            <img src="/assets/resources/images/demo/template1.jpg" alt="New Product Announcements/ Enhancements" title="New Product Announcements/ Enhancements" />
                        </div>
                        <div class="template-desc">Select <strong>New Product Annoucements/ Enchancements</strong> to keep up to date with new product announcements and enhancements to existing products</div>
                    </div>
                    <div class="col-sm-3 template">
                        <div class="template-title">
                            <h4>Promotions and Offers</h4>
                        </div>
                        <div class="template-img">
                            <img src="/assets/resources/images/demo/template2.jpg" alt="Promotions and Offers" title="Promotions and Offers" />
                        </div>
                        <div class="template-desc">Select <strong>Promotions and Offers</strong> to receieve communications regarding available promotions and special offers that best suit your business needs.</div>
                    </div>
                    <div class="col-sm-3 template">
                        <div class="template-title">
                            <h4>Newsletters</h4>
                        </div>
                        <div class="template-img">
                            <img src="/assets/resources/images/demo/template3.jpg" alt="Newsletters" title="Newsletters" />
                        </div>
                        <div class="template-desc">Select <strong>Newsletters</strong> to receive the latest information exclusive news, and feature stories</div>

                    </div>
                    <div class="col-sm-3 template">
                        <div class="template-title">
                            <h4>Service Updates/ Regulatory Changes</h4>
                        </div>
                        <div class="template-img">
                            <img src="/assets/resources/images/demo/template4.jpg" alt="Service Updates/ Regulatory Changes" title="Service Updates/ Regulatory Changes" />
                        </div>
                        <div class="template-desc">Select <strong>Service Updates/ Regulatory Changes</strong> to receive alerts about service changes or announcements of proposed regulatory changes</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
