{{!-----------------------------------------------------------------------------
================================================================================
W66 Download Zone Chart
================================================================================
********************************************************************************

-------------------------------------------------------------------------------

LAYOUT:

-widget-header
| 30px
-instructional text
| 30px
-zip
| 30px
-cta
| 30px

********************************************************************************
-------------------------------------------------------------------------------}}

<!-- W66 Download Zone Chart -->
<!-- For full documentation app/source/partials/widgets/W66_download_zone_chart.hbs -->
<div class="ups-wrap">
    <div class="ups-wrap_inner">
        <div class="ups-form_wrap ups-widget ups-zoneChart {{bg}}">
            <div class="ups-widget_header">
                <h2 id="ups-download-zc_head">Download Zone Charts</h2>
                <button class="ups-help_button">
                        <i class="icon ups-icon-questioncircle" aria-hidden="true"></i>
                        <span class="ups-helpicon-text">Help</span>
                    </button>
            </div>
            <div class="ups-widget_panel" aria-labelledby="ups-download-zc_head" role="group">
                <div class="ups-help_panel"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati maiores doloremque ab quibusdam adipisci corporis commodi ad rerum ipsum minima aliquam a natus cumque architecto tenetur consequatur quisquam, quidem atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta accusantium deleniti quia esse vitae itaque corporis repellat.</p></div>

                <p>Enter your ZIP Code below. Select Download to obtain the Zone Chart.</p>
                <form action="https://www.ups.com/zonecharts/" method="post">
                    <div class="ups-form_group ups-form_required">
                        <label for="ups-zone_zip" class="ups-form_label">
                            Origin ZIP Code 
                        </label>
                        <div class="ups-text_wrapper ups-input_wrapper">
                            <input type="search" name="zipcode" class="ups-form_input" id="ups-zone_zip" maxlength="5">
                        </div>
                    </div>
                    <div class="ups-form_ctaGroup">
                       <button class="ups-cta ups-cta_primary" type="submit">Download Charts</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- @end .ups-wrap_inner -->
</div> <!-- @end .ups-wrap.ups-zoneChart_wrap -->
