---
title: ct1_tra_tra_dlg_myc_accelerated_enrollment_incomplete
layout: legacy.hbs
version: v4
appID: com.ups.trackWeb
appCSS: ups.legacy_overrideWebTrkApp
dir: rtl
lang: ar
--- 

<div id="main">
 	{{>background_modal_content}}
 	{{>ct1_tra_tra_dlg_myc_accelerated_enrollment_incomplete_partial}}
</div>
