@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";
#main {
	form > table {
		// border: 1px solid #6e6e6e;
		padding: 10px;
		display: inherit;
	}
	input[type="text"],
	input[type="password"] {
		margin: 5px 0;
	}
}

#main form > table:first-of-type > tbody:first-of-type > tr:first-child > td:last-child{
    display:none
}
#main form > table:first-of-type > tbody:first-of-type > tr:first-child > td:first-child {
    width:100%;
}

#main form > table:first-of-type > tbody:first-of-type > tr:first-child > td:first-child table:first-of-type{
    padding-top:5px;
    border-top:1px solid;
}
#main form > table:first-of-type > tbody:first-of-type > tr:first-child > td:first-child table:first-of-type .whitesubheadbold {
	padding-top:5px;
}
#main form > table:first-of-type > tbody:first-of-type > tr:first-child > td:first-child  > table{
    border-#{$opposite-direction}:1px solid;
    border-#{$default-float}:1px solid;

	&:nth-of-type(6) {
		border-bottom: 1px solid;
	}
}
#main form > table:first-of-type table:last-of-type {
    border-#{$opposite-direction}:1px solid;
    border-#{$default-float}:1px solid;
}

input[name=ext],input[name=exchange]{
    min-width:60px
}
input[name=zip1],input[name=zip2],input[name=shipper_num]{
    min-width:80px
}
