/*internet_pickup_css*/

/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/
			/* RIF CODE AT WORK, CAN BE REMOVE WHEN RIF IS CORRECTED Team: Hildebrand Scott (LCC1SDH)
				/**/
						.redErrorBold {color:#F31A12;font-weight:bold;}
				/**/
			/**/
		/**/

/* appLvl html missing "col" width setting which applies the width and float*/
.appLvl {width:710px;display:inline;float:left;/*margin-bottom:10px;padding:0*/}
* html .appLvl {width:712px}
#cookieMsg .appLvl {width:970px;} /*to expand cookieMsg across the entire page*/
#cookieMsg .popuppage-blue{
	background-image: url("/img/icn_blu_popup.gif");
	background-position: right top;
	background-repeat: no-repeat;
	border: 0 none;
	display: inline;
	height: 9px;
	margin: 0;
	padding: 0;
	width: 12px;
	}

.cclampFooter .appLvl {width:970px !important}

/*Output Hoz Flex Width
A work around that must be removed once the application team has updated their jsps
vHTML was missing .clearfix after ,outHozFlex */ 
.outHozFlex dd{margin-left:10px; float:none}

/* Added Mar 10 ztr9cnb - old fragment in hoverhelp*/
.standardheader{font-size:11pt;color:#60513A;font-weight:bold}


/* with Sub Nav
Defaults loaded in master.css*/
#ccGtrMod {}
#ccCntMod {}

/*without SubNav
#ccGtrMod {display:none; padding:0; margin:0;}
#ccCntMod {width:960px; padding:0; margin:0;text-align: center}
#main {width:950px; margin:0 auto;}*/