<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1></h1>


			<!-- Begin Application Module -->
				<div class="appLvl appLvlPlain col18 clearfix">
				<fieldset><legend></legend>

					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>restricted access</h2>
					</div>
					<!-- End Application Header -->

					<!-- Begin Application Body -->
					<div class="appBody clearfix">
						<p>your password has been changed. for your protection, your payment card information (if any) has been removed from your ups campusship preferences.</p>
						<p><a href="">proceed to ups campusship log in</a></p>

						<dl class="outHozFlex">
							<dt><label for="repl_id">company support:</label></dt>
								<dd><strong>{ telephone }</strong></dd>
								<dd class="indent"><strong>{ emailaddress@email.com }</strong></dd>
						</dl>

						<div style="clear:both"></div>

					</div>
					<!-- End Application Body -->

					<!-- Begin Application Footer -->
					<div class="appFooter">

						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="continue" class="btnArw">
						</div>
						<!-- End Button Bar Row -->

					</div>
					<!-- End Application Footer -->

				</fieldset>
				<!-- end application content -->


		</div>
	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
