@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  .mod th ul li input.printmini.btnlnkR {
    background-image: url(/assets/resources/images/legacyAppImages/printIcon.gif);
    background-position: 1px 1px;
    background-repeat: no-repeat;
    text-decoration: underline;
    margin: 0px;
    padding-#{$opposite-direction}: 18px;
    padding-#{$default-float}: 0px;
    background-color: transparent;
    background-position: $opposite-direction;
    background-repeat: no-repeat;
    border: none;
  }
}
#main table.note td p.reqTxtInst {font-size:100%;}
#main table.note td {font-size:88%}