<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>change password</h1>

		<!-- Begin Application -->

<!-- ////////////////////// -->
<!-- Begin Password Updated -->

		<!-- Begin Application Module -->
				<div class="appLvl mod col18 clearfix">
				<fieldset>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>password update</h2>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">

						<p><label>your password has been successfully updates. you will receive an e-mail notification confirming the password update.</label></p>

					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="continue_btn" class="btnArw">
						</div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->

<!-- End Password Updated -->
<!-- //////////////////// -->

		<!-- End Application -->
		<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
