
<form action="repl_fname">
	
	<!-- Begin Application Module -->
	<div class="appLvl col24 mod"> 
		<!-- Begin Application Header -->
		<div class="appHead clearfix">
			<h2>{Application Header}</h2>
			<ul>
				<li><a href="repl_href" class="btnlnkR helpiconR">{Help link text}</a></li>
			</ul>
		</div>
		<!-- End Application Header --> 
		
		<!-- Begin Application Body -->
		<div class="appBody clearfix"> 
			
			<!-- Begin Section Module -->
			<div class="secLvl clearfix"> 
				<!-- Begin Section Header --><!-- End Section Header --> 
				
				<!-- Begin Section Body -->
				<div class="secBody clearfix">
					<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
					<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
					<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
					<select>
						<option>item1</option>
					</select>
					<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
					<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
					<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
					<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
					<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
					<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
					<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
					<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
					<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
					<p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
					<p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
					<p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
				</div>
				<!-- End Section Body --> 
				
				<!-- Begin Section Footer --><!-- End Section Footer --> 
				
			</div>
			<!-- End Section Module --> 
			
		</div>
		<!-- End Application Body --> 
		
		<!-- Begin Application Footer --><!-- End Application Footer --> 
	</div>
	<!-- End Application Module -->
	
</form>

<!-- Begin Application Module -->
<div class="appLvl modal-dialog mod modal dialog"> 
	
	<!-- Begin Application Header -->
	<div class="appHead clearfix">
		<h2 class="ups-modal_heading">{country/package type} change</h2>
		<!-- Old Close Button Implementation -->		
		<!--<ul>
			<li>
				<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
			</li>
		</ul>-->
		
		<!-- New WEM Button Implementation -->
		<button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()"> <span class="icon ups-icon-x" aria-hidden="true"></span> <span class="ups-readerTxt ng-binding">Close This Dialog</span> </button>
	</div>
	<!-- End Application Header --> 
	
	<!-- Begin Application Body -->
	<div class="appBody">
		<p>if you change the ship from or ship to countries or territories, some or all of the shipment or package information already entered may be discards. do you want to continue?</p>
		<p>if you change the package type, some or all of the shipment or package information already entered may be discarded. do you want to continue?</p>
		<!-- Old Legacy Checkbox Implementation -->
		<!--<table summary="repl_summary" title="repl_title">
			<!-- <caption>repl_caption</caption> --
			<tr>
				<td class="sel" scope="row"><input name="repl_fname" type="checkbox" value="repl_fvalue" id="repl_id2"></td>
				<td><label for="repl_id2" class="sel">don't show me this message again.</label></td>
			</tr>
		</table>-->
		<!-- Added WEM Checkbox Implementation -->
		<div class="ups-form_group">
			<div class="ups-checkbox ups-input_wrapper">
				<input id="dontShowThisMessageAgain" class="ups-checkbox-custom" name="dontShowThisMessageAgain" type="checkbox">
				<label for="dontShowThisMessageAgain" value="1" class="ups-checkbox-custom-label">Don't show me this message again.</label>
			</div>
		</div>
	</div>
	<!-- End Application Body --> 
	
	<!-- Begin Application Footer -->
	<!-- Old Legacy Button Implementation --> 
	<!--<div class="appFooter">
		<div class="btnBar alignCenter">
			<input name="repl_name" type="button" value="cancel" class="btn">
			<input name="repl_name" type="button" value="okay" class="btn">
		</div>
	</div>-->
	
	<!-- New WEM/Legacy Hybrid Implementation -->
	<div class="appFooter">
		<div class="ups-form_ctaGroup text-center">
			<button type="button" class="ups-cta ups-cta_primary">Okay</button>
			<button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
		</div>
	</div>
	<!-- End Application Footer --> 
	
</div>
<!-- End Application Module --> 

<script type="text/javascript">
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:510});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});
</script> 
