---
title: Dangerous Goods Acceptance Tool
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>


{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.dgat}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

            <ul class="ups-accordion_content">

				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/02/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UPSO-2166</li>

							<li><a href="../docs/dgat/20180302-DGAT_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
				
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/16/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UPSO-2166</li>

							<li><a href="../docs/dgat/20180216-DGAT_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
            </ul>

		</div>
	</section>
{{> ts_rr_end}}