<form action="">
<!-- ECS C-Clamp -->
<div class="ccacmpad1">
   <div id="main">
<!-- Begin Application Container -->

<!-- begin application content -->

<!-- begin application header -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
   <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
</tr>
<tr>
   <td valign="top">

   <!-- begin page title -->
   <span class="blueboldHead">Create Address Group</span>
   <!-- end page title -->

   </td>
</tr>
<tr>
   <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
</tr>
<tr>
   <td valign="top">

   <!-- begin instructional text -->
   Enter a search word or phrase and select the search criteria.
   <!-- end instructional text -->

   </td>
</tr>
<tr>
   <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
</tr>
</table>
<!-- end application header -->

<!-- begin search module -->
<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="566">
<tr>
   <td>

   <!-- begin module header -->
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
       <td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
       <td width="49%">

       <!-- begin module title -->
       <span class="whiteBoldHead">Associate Locations</span>
       <!-- end module title -->

       </td>
       <td width="49%">

       <!-- begin module navigation -->
       <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
       <!-- end module navigation -->

       </td>
       <td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
   </tr>
   </table>
   <!-- end module header -->

   </td>
</tr>
<tr>
   <td>

   <!-- Begin Table: Search Options (Parent:Formatting Table) -->
   <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
       <td bgcolor="#996633" colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
   </tr>
   <tr>
       <td colspan="3"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <tr>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td width="100%">
       <span class="bold">Address Group Name:</span>
       <br>
       [address group name]
       <br><br>
       <span class="modsubheader">Search</span>
       </td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   <tr>
       <td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
   </tr>
   </table>
   <!-- End Table: Search Options (Parent:Formatting Table) -->

   <!-- Begin Table: White Border(1) (Parent:Formatting Table) -->
   <table bgcolor="#cccccc" border="0" cellpadding="1" cellspacing="0" width="100%">
   <tr>
       <td bgcolor="#ffffff" class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td width="100%">

       <!-- Begin Table: Inner (Parent:White Border Table(1)) -->
       <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
       <tr>
           <td bgcolor="#ffffff"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
       </tr>
       <tr>
           <td width="100%">
           <div class="modulepad">
           <table border="0" cellpadding="0" cellspacing="0">
           <tr>
               <td><input class="modTxtLarge" maxlength="50" name="Search" size="34" type="text" value=""></td>
               <td>&nbsp;&nbsp;<input value="Search" name="search" class="btn" type="submit"></td>
           </tr>
           </table>
           <br>
           <table border="0" cellpadding="2" cellspacing="0">
           <tr>
               <td valign="baseline">Search for&nbsp;&nbsp;</td>
               <td valign="baseline">
               <select name="repl_fname" class="modSelMedium" size="1">
                   <option>Location Name</option>
                   <option>Location Account Number</option>
               </select>
               </td>
               <td valign="baseline">&nbsp;&nbsp;that&nbsp;&nbsp;</td>
               <td valign="baseline">
               <select name="repl_fname" class="modSelMediumSmall" size="1">
                   <option>Contains</option>
                   <option>Starts With</option>
                   <option>Exactly Matches</option>
               </select>
               </td>
               <td valign="baseline">&nbsp;&nbsp;the search terms.</td>
           </tr>
           </table>
           </div>
           </td>
       </tr>
       <tr>
           <td bgcolor="#ffffff"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
       </tr>
       </table>
       <!-- End Table: Inner (Parent:White Border Table(1)) -->

       </td>
       <td width="10" bgcolor="#ffffff" class="nopad"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   </table>
   <!-- End Table: White Border(1) (Parent:Formatting Table) -->

   <!-- Begin Table: Module Body(1) (Parent:Formatting Table) -->
   <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td valign="bottom" width="50%">
       <br>
       <input class="btnlnk" name="show_search" value="Show All" type="button"><br>
       </td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td width="50%">&nbsp;</td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   <tr>
       <td bgcolor="#ffffff" colspan="3" height="10"><img alt="" border="0" height="10" src="/img/1.gif" width="1"></td>
   </tr>
   </table>
   <!-- End Table: Module Body(1) (Parent:Formatting Table) -->

   </td>
</tr>
</table>
<!-- end search module -->

<br>

<!-- begin search results module -->
<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="566">
<tr>
   <td>

   <!-- begin module header -->
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
       <td width="1%"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td width="49%">

       <!-- begin module title -->
       <span class="whiteBoldHead">Search Results</span>
       <!-- end module title -->

       </td>
       <td width="49%">

       <!-- begin module navigation -->
       &nbsp;<!-- <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div> -->
       <!-- end module navigation -->

       </td>
       <td width="1%"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   </table>
   <!-- end module header -->

   </td>
</tr>
<tr>
   <td>

   <!-- begin module column spacing table 1 - 5 columns with 3 spacer columns and 2 content columns -->
   <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
       <td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
   </tr>
   <tr>
       <td colspan="5"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <tr>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td colspan="3">Your search returned the following Locations. Use the checkboxes to choose one or more Locations.  Selecting <span class="bold">Associate</span> will associate the selected Locations and refresh these search results.  When finished, select [<span class="bold">Cancel</span>/<span class="bold">Finish</span>] to return to the previous page.
       <br><br>
       <span class="bold">Note:</span> Only one group can be associated per location.  Selecting a previously associated location will replace the existing group assignment with the new group assignment.<br><br></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   <tr>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td>

       <!-- begin secondary select functionality -->
       <input value="Select All" name="select_all" class="btnlnk" type="button">&nbsp;&nbsp;<input value="Clear All" name="clear_all" class="btnlnk" type="button">
       <!-- end secondary select functionality -->

       <br><br></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td>
       <div align="right">

       <!-- begin page display settings -->
       Display per Page:<br>
       <select name="repl_fname" class="modSelSmall" size="1">
         <option selected>25</option>
         <option>50</option>
         <option>100</option>
       </select>
       <!-- end page display settings -->

       </div>
       </td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   <tr>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td colspan="3">

       <!-- begin record count -->
       Displaying x-x of n
       <!-- end record count -->

       <br>

       <!-- begin pagination -->
       <input value="First" name="page_first" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="Previous" name="page_previous" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Previous 10" name="page_previous_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="1" name="page_1" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="2" name="page_2" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="3" name="page_3" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="4" name="page_4" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="5" name="page_5" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="6" name="page_6" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="7" name="page_7" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="8" name="page_8" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="9" name="page_9" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="10" name="page_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Next 10" name="page_next_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input value="Next" name="page_next" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="Last" name="page_last" class="btnlnk" type="button">
       <!-- end pagination -->

       <br><br></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   </table>
   <!-- end module column spacing table 1 -->

   <!-- begin results table -->
   <table border="0" cellpadding="0" cellspacing="0" width="562">

   <!-- Begin Row: Header Rows with vertical spacing -->
   <tr>
       <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="20"></td>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="90"></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="125"></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="220"></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="104"></td>
   </tr>
   <tr>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">Location</span></div></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">Account Number</span></div></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">City, State/Province/County,<br>Postal Code, Country or Territory</span></div></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">Group Assignment</span></div></td>
   </tr>
   <tr>
       <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
   </tr>
   <!-- End Row: Header Rows with vertical spacing -->

   <!-- Begin Row: Odd Row with vertical spacing -->
   <tr bgcolor="#ffffff">
       <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <tr bgcolor="#ffffff">
       <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
       <td><div class="spacingResults">[location]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[account number]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[city, state/province/county,<br>postal code, country or territory]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[group assignment]</div></td>
   </tr>
   <tr bgcolor="#ffffff">
       <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <!-- End Row: Odd Row with vertical spacing -->

   <!-- Begin Row: Even Row with vertical spacing -->
   <tr bgcolor="#cccccc">
       <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <tr bgcolor="#cccccc">
       <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
       <td><div class="spacingResults">[location]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[account number]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[city, state/province/county,<br>postal code, country or territory]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[group assignment]</div></td>
   </tr>
   <tr bgcolor="#cccccc">
       <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <!-- End Row: Even Row with vertical spacing -->

   <!-- Begin Row: Odd Row with vertical spacing -->
   <tr bgcolor="#ffffff">
       <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <tr bgcolor="#ffffff">
       <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
       <td><div class="spacingResults">[location]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[account number]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[city, state/province/county,<br>postal code, country or territory]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">&nbsp;</div></td>
   </tr>
   <tr bgcolor="#ffffff">
       <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <!-- End Row: Odd Row with vertical spacing -->

   <!-- Begin Row: Even Row with vertical spacing -->
   <tr bgcolor="#cccccc">
       <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <tr bgcolor="#cccccc">
       <td><input  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
       <td><div class="spacingResults">[location]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[account number]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">[city, state/province/county,<br>postal code, country or territory]</div></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
       <td><div class="spacingResults">&nbsp;</div></td>
   </tr>
   <tr bgcolor="#cccccc">
       <td colspan="8" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
   </tr>
   <!-- End Row: Even Row with vertical spacing -->

   <tr bgcolor="#cccccc">
       <td colspan="8"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
   </tr>
   </table>
   <!-- end results table -->

   <!-- begin module column spacing table 2 - 5 columns with 3 spacer columns and 2 content columns -->
   <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td><br>

       <!-- begin record count -->
       Displaying x-x of n
       <!-- end record count -->

       <br>

       <!-- begin pagination | image version -->
       <input value="First" name="page_first" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="Previous" name="page_previous" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Previous 10" name="page_previous_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="1" name="page_1" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="2" name="page_2" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="3" name="page_3" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="4" name="page_4" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="5" name="page_5" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="6" name="page_6" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="7" name="page_7" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="8" name="page_8" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="9" name="page_9" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="10" name="page_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Next 10" name="page_next_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input value="Next" name="page_next" class="btnlnk" type="button"><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input value="Last" name="page_last" class="btnlnk" type="button">
       <!-- end pagination -->

       <!-- begin pagination | text version
       <a href="repl_href">First</a> |
       <a href="repl_href">Previous</a> |
       <a href="repl_href"></a> |
       <a href="repl_href">1</a> |
       <a href="repl_href">2</a> |
       <a href="repl_href">3</a> |
       <a href="repl_href">4</a> |
       <a href="repl_href">5</a> |
       <a href="repl_href">6</a> |
       <a href="repl_href">7</a> |
       <a href="repl_href">8</a> |
       <a href="repl_href">9</a> |
       <a href="repl_href">10</a> |
       <a href="repl_href"></a> |
       <a href="repl_href">Next</a> |
       <a href="repl_href">Last</a>
       end pagination -->

       <br><br></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   <tr>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       <td>

       <!-- begin secondary select functionality -->
       <input value="Select All" name="select_all" class="btnlnk" type="button">&nbsp;&nbsp;<input value="Clear All" name="clear_all" class="btnlnk" type="button">
       <!-- end secondary select functionality -->

       <br><br></td>
       <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
   </tr>
   </table>
   <!-- end module column spacing table 2 -->

   </td>
</tr>
</table>
<!-- end search results module -->

<!-- begin buttons -->
<table border="0" cellpadding="0" cellspacing="1" width="566">
<tr>
   <td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
</tr>
<tr>
   <td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
   <td align="right" valign="top" width="366"><input value="Cancel" name="cancel" class="btn" type="button"><input value="Associate" name="associate" class="btn" type="submit"></td>
</tr>
</table>
<!-- end buttons -->

<!-- begin note area -->
<table border="0" cellpadding="0" cellspacing="1" width="566">
<tr>
   <td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
</tr>
<tr>
   <td valign="top">&nbsp;</td>
</tr>
</table>
<!-- end note area -->

<!-- end application content -->


   </div>
</div>
<!-- End ECS C-Clamp -->
</form>    
