---
title: Bootstrap Alert Example
dir: rtl
lang: ar
---

<!-- ************************************************************************************ -->
<!-- BS02 Example                                                                          -->
<!-- For full documentation see partials/app_component/BS02_alert.hbs                      -->
<!-- ************************************************************************************ -->


{{!--
********************************************************************************
BS02 Example
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper">  
		<div class="ups-wrap_inner">
			<div class="row">
				<div class="col-md-6">
					<h2 class="ups-article-header">Alerts</h2>
					<p>The Bootstrap Alert Component has been customized for use on UPS.com. There are different color schemes that can be used to match the UPS color palette.</p>
					<p>Alert can have an icon on the left using the UPS Icon Font and also have the option of being dismissable or not.</p>
					
					<h3>Alert Success</h3>
					{{> BS02_alert BS02_alert.success }}
					
					<h3>Alert Info</h3>
					{{> BS02_alert BS02_alert.info }}
					
					<h3>Alert Warning</h3>
					{{> BS02_alert BS02_alert.warning }}
				</div> <!-- .col-md-6 -->
			</div> <!-- .row -->
		</div> <!-- .ups-wrap_inner -->
	</div> <!-- .ups-form_wrap.ups-wrap.ups-application_wrapper -->
</main>