@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
  @media(min-width:840px){
 form[name=EnrollRequestForm] .container {
    width:774px!important;
}
}
.white{
	color:#fff!important;
}
}

.container-fluid.iw_section .row.iw_row .iw_columns.col-lg-12 .col-lg-4 {
	width:auto!important
}

form[name='EnrollConfForm'] table.mod-clr{
	width:100%;

	dl.container {
		width:100%!important;
	}
}

#main form[name=EnrollRequestForm] .mod-msg-pad .container {
    width:685px!important;
}
