<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Request Multiple Services</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Review Request</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Please review your request below and select <span class="pi-h4">Submit</span>. To edit information, select the corresponding <span class="pi-h4">Edit</span> link. Once the request is processed successfully, you will be charged.
			<br><br>
			You will be charged <span class="pi-h4">n.nn USD*</span> for this Denied Party Screener request.<br>
			You will be charged <span class="pi-h4">n.nn USD*</span> for this Estimate Landed Cost request.<br>
			You will be charged <span class="pi-h4">n.nn USD*</span> for this Detect Export Licenses.<br><br>
			There is no charge to Access International Forms.
			<br><br>
			<span class="pi-h3">Selected Services</span>&nbsp;&nbsp;<input alt="Edit" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_edit.gif" type="image" width="20"><br>
			Denied Party Screener<br>
			Landed Cost<br>
			Detect Export Licenses
			<br><br>
			<span class="pi-h3">Payment Method</span>&nbsp;&nbsp;<input alt="Edit" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_edit.gif" type="image" width="20"><br>
			UPS Account Number: FOO100<br><br>
			<span class="pi-h3">Transaction References</span>&nbsp;&nbsp;<input alt="Edit" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_edit.gif" type="image" width="20"><br>
			Transaction Reference 1:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 1]<br>
			Transaction Reference 2:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 2]<br>
			Transaction Reference 3:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[reference code 3]<br><br>
			<span class="pi-h3">Denied Party Information</span>&nbsp;&nbsp;<input alt="Edit" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_edit.gif" type="image" width="20"><br>
			[company name]<br>
			[contact name]<br>
			[telephone number ext.]<br>
			[address 1]<br>
			[address 2]<br>
			[address 3]<br>
			[city, state, postal code]<br><br>
			<span class="pi-h4">Match Level</span><br>
			[match level]
			<br><br>
			<span class="pi-h3">Country or Territory Information</span>&nbsp;&nbsp;<input alt="Edit" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_edit.gif" type="image" width="20"><br>
			<span class="pi-h4">Ship To:</span><br>
			[country or territory Name] [state/province name]<br>
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">

				<!-- Begin Table: Inner Content (Parent:Module Table) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
				<tr class="pi-r1-t">
					<td class="pi-r1-pad" width="25%">Ship From:</td>
					<td class="pi-r1-line" width="25%">Transportation Mode</td>
					<td class="pi-r1-line" width="25%">Total Shipping Charges</td>
					<td class="pi-r1-line" width="25%">Additional Insurance</td>
				</tr>
				</thead>
				<tbody>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">[country or territory name]<br>[state/province name]</td>
					<td class="pi-r1-pad">[mode]</td>
					<td class="pi-r1-pad">[nn.00] [CUR]<br>[UPS service name]<br>[UPS service duration time]</td>
					<td class="pi-r1-pad">[nn.00] [CUR]</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad" colspan="4">[dynamic question? user supplied response]</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad" colspan="4">[dynamic question? user supplied value response?]</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad" colspan="4">[dynamic question? not answered]</td>
				</tr>
				</tbody>
				</table>
				<!-- End Table: Inner Content (Parent:Module Table) -->

				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->

			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad"><br>
			<span class="pi-h3">Product Information</span>&nbsp;&nbsp;<input alt="Edit" border="0" height="10" name="repl_fname" src="/img/en/btn_lnk_edit.gif" type="image" width="20"><br>
			<span class="pi-h4">**Note:</span> The Detail ID is used by TradeAbility&#0153; to help refine results and should not be reported on official customs documents as part of the Tariff Code.<br><br>
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">

				<!-- Begin Table: Inner Content (Parent:Module Table) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
				<tr class="pi-r1-t">
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">Product Country or Territory<br>of Origin:<br>ECCN Number:</td>
					<td class="pi-r1-line">Quantity</td>
					<td class="pi-r1-line">Price per Unit<br>/Total Weight<br>CTP Rate</td>
				</tr>
				</thead>
				<tbody>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">n.</td>
					<td class="pi-r1-pad" colspan="3">[product name]<br>[product description]<br><br>[tariff code]<br>**[sub code]<br>[tariff code description]</td>
					<td class="pi-r1-pad">Verified</td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">[product country or territory of origin]<br>[eccn number]</td>
					<td class="pi-r1-pad">[quantity]</td>
					<td class="pi-r1-pad">[value]&nbsp;[CUR]&nbsp;[weight]&nbsp;[unit]<br><br>[ctp rate]</td>
					<td class="pi-r1-pad">&nbsp;</td>
				</tr>
				<tr class="pi-r1-rwe">
					<td class="pi-r1-pad">n.</td>
					<td class="pi-r1-pad" colspan="3">[product name]<br>[product description]<br><br>[tariff code] - [tariff code]<br>**[sub code]&nbsp;&nbsp;**[sub code]<br>[tariff code description + tariff dash code description]</td>
					<td class="pi-r1-pad">Not Verified</td>
				</tr>
				<tr class="pi-r1-rwe">
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">[product country or territory of origin]<br>[eccn number]</td>
					<td class="pi-r1-pad">[quantity]</td>
					<td class="pi-r1-pad">[value]&nbsp;[CUR]&nbsp;[weight]&nbsp;[unit]<br><br>[ctp rate]</td>
					<td class="pi-r1-pad">&nbsp;</td>
				</tr>
				</tbody>
				</table>
				<!-- End Table: Inner Content (Parent:Module Table) -->

				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->

			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Back" border="0" height="18" name="repl_fname" src="/img/en/btn_back_a.gif" type="image" width="52"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Cancel" border="0" height="18" name="repl_fname" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Submit" border="0" height="18" name="repl_fname" src="/img/en/btn_submit_a.gif" type="image" width="64"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

<!-- Begin Table: Functional Table 2 -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td>
	<br>
	*Billing amount shown based on published rates.  Actual billing amount may differ.
	</td>
</tr>
</table>
<!-- End Table: Functional Table 2 -->

</form>
