---
title: ct1_res_cus_cla(1sum)_cod(5con)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">Report</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><!-- Begin Table: Status Bar -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="422">
						<tr>
							<td class="pi-mA6"><!-- Begin Table: Outer Background (Parent:Status Bar) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
										<td class="pi-mA6-c"><!-- End Table: Inner Background (Parent:Outer Background) -->
											
											<table border="0" cellpadding="0" cellspacing="0" width="100%">
												<tr>
													<td colspan="8"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
												</tr>
												<tr>
													<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
													<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
												</tr>
												<tr>
													<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
													<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
													<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
													<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
													<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
													<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
												</tr>
												<tr>
													<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
													<td class="pi-mA6-c-4">Uncollected C.O.D. Reported</td>
													<td class="pi-mA6-c-3">C.O.D. Collection in Progress</td>
													<td class="pi-mA6-c-3">Shipper Submits Documents</td>
													<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
													<td class="pi-mA6-c-3">UPS Processes Payment</td>
												</tr>
												<tr>
													<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
												</tr>
											</table>
											
											<!-- End Table: Inner Background (Parent:Outer Background) --></td>
										<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
									</tr>
									<tr>
										<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Outer Background (Parent:Status Bar) --></td>
						</tr>
					</table>
					
					<!-- End Table: Status Bar --></td>
				<!-- Begin Image: UPS C.O.D. Collection Process 
	<td><img alt="UPS Searches System" border="0" height="81" src="/img/en/inf_cow_unpaid_step2.gif" width="422"></td>
	<td><img alt="File a Claim" border="0" height="81" src="/img/en/inf_cow_unpaid_step3.gif" width="422"></td>
	<td><img alt="Shipper Submits Documents" border="0" height="81" src="/img/en/inf_cow_unpaid_step4.gif" width="422"></td>
	<td><img alt="UPS Approves or Denies Claim" border="0" height="81" src="/img/en/inf_cow_unpaid_step5.gif" width="422"></td>
	<td><img alt="UPS Processes Payment" border="0" height="81" src="/img/en/inf_cow_unpaid_step6.gif" width="422"></td>
	End Image: UPS C.O.D. Collection Process  --> 
			</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
		
		<!-- Begin Table: Formatting Table 3col plus 1col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="422"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA2-t" colspan="3" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="422">
									<tr>
										<td class="pi-m-txt-title">View Uncollected C.O.D. Confirmation</td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c" valign="top" width="100%"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad" align="right">
												<input class="btnlnkR printmini" value="Printer Friendly" type="button">
												<br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> Thank you for reporting an uncollected C.O.D. to UPS. We regret any inconvenience that this may have caused you. <br>
												<br>
												Tracking Number:<img alt="" border="0" height="1" src="/img/1.gif" width="10">1Z 5738 5736 5993 56 479 <br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">View C.O.D. Details</a> <img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402"> <span class="pi-h3">UPS Next Steps</span><br>
												
												<!-- Dyanamic text based on status --> 
												[UPS will search for your C.O.D. and notify you with any updates or additional information requests. You may check your status online to see our progress.] 
												<!-- Dyanamic text based on status --> 
												
												<br>
												<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402"> <span class="pi-h3">Your Next Steps</span><br>
												
												<!-- Dyanamic text based on status --> 
												[You are not required to provide any additional information at this time.  If you have any questions, please contact UPS Customer Service at 1-800-PICK UPS (1-800-742-5877).] 
												<!-- Dyanamic text based on status --> 
												
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 1 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402"> <span class="pi-h3">Package Information</span><br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Tracking Number</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1Z T71 611 03 9500 902</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Ship Date:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">XX/XX/XXXX</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Service:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">UPS Next Day Air</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Weight:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">5 lbs</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Number of Packages:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Declared Value:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">XXX.XX USD</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Status:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">Delivered</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Signed By:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">R. Jones</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Delivery Date:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">XX/XX/XXXX, ##:## X.M.</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402"> <span class="pi-h3">Shipping Label Information</span><br>
												<br>
												<table border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="100"></td>
													</tr>
													<tr>
														<td><span class="pi-h4">Shipped From:</span><br>
															Company Name<br>
															Name<br>
															Address 1<br>
															Address 2<br>
															Address 3<br>
															City, State<br>
															ZIP, Country or Territory<br>
															Telephone<br>
															Ext.<br></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
														<td><span class="pi-h4">Ship To/Delivered To:</span><br>
															Company Name<br>
															Name<br>
															Address 1<br>
															Address 2<br>
															Address 3<br>
															City, State<br>
															ZIP, Country or Territory<br>
															Telephone<br>
															Ext.<br></td>
													</tr>
												</table>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402"> <span class="pi-h3">C.O.D. Information</span><br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Amount:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">XXX.XX USD</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Control Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">12345678</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"><br></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="402"> <span class="pi-h3">Merchandise Information</span> <br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Number of Packages Received:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">4</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Merchandise Description 1:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Provide description...]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Number of Items:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">2</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5">&nbsp;</td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Merchandise Description 2:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Provide description...]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Number of Items:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">2</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5">&nbsp;</td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Additional Information:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Provide user input...]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402"> <span class="pi-h3">Reference Information</span><br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">P.O. Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Reference #]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Invoice Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Reference #]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Shipper Reference Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Reference #]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="402"> <span class="pi-h3">Contact Information</span><br>
												Company Name<br>
												Contact Name<br>
												Address 1<br>
												Address 2<br>
												Address 3<br>
												City, State, ZIP<br>
												Country or Territory<br>
												Telephone<br>
												Ext.<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="402"> <span class="pi-h3">Primary Contact Preference</span><br>
												<table border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td nowrap valign="top" width="220"><span class="pi-h4">By E-mail:</span></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
														<td valign="top" width="100%">customer@work.com</td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
													</tr>
												</table>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="402"> <span class="pi-h3">Confirmation and Status Updates</span> </div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"  width="220"><span class="pi-h4">E-mail:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">customer@work.com</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">E-mail a confirmation to all contacts.</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">&nbsp;</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">E-mail status updates to all contacts.</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">&nbsp;</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Secondary Contact Name:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">Sue Jones</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Secondary E-mail:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">suejones@work.com</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">&nbsp;</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">&nbsp;</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Contact Language Preference:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">English</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								<br>
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"><img alt="Back to Tracking Detail" border="0" height="8" src="/img/icn_back_arrow.gif" width="8">
												<input value="Back to Tracking Detail" name="back to tracking detail" class="btnlnk" type="button">
												<br>
												<!-- <img alt="Back" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><input alt="Back to Quantum View Detail" border="0" height="10" name="back to quantum view detail" src="/img/en/btn_lnk_back_qv_detail.gif" type="image" width="159">
			--> 
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
				<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="134"><!-- Begin Table: Support Module (Parent:Formatting Table) -->
					
					<table class="pi-mB1" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mB1-t">Claims Resources</td>
						</tr>
						<tr>
							<td class="pi-mB1-c" valign="top"><div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Preventing Claims</a></div>
								<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Email Claims Question</a></div></td>
						</tr>
						<tr>
							<td class="pi-mB1-b" valign="top"><img alt="" height="3" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Support Module (Parent:Formatting Table) --></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 3col plus 1col -->
		
	</form>
</div>
