---
title: ct1_res_cus_cla(1sum)_his(2dow)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Claims History</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Request Download Details</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<span class="pi-h4">File Name:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value="ABC Claims"><br><br>
			<input class="rad" checked name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;E-mail me when the claim details are available to download.<br>
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Elements for Download:</span><br>
			Download elements for the claims in your history. To download the Current Selections, select <span class="pi-h4">Submit</span>.
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Current Selections for Download:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="30"></td>
			<td valign="top" width="100%">Tracking Number<br>Claim Type<br>Claim Number<br>Date Filed<br>UPS Account Number<br>Claim Status</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table class="" border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input value="Submit" name="submit" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<span class="pi-h3">Edit Selections for Download:</span><br>
			All elements located in the Current Selections will be downloaded.  To edit the elements for download, select the element from the Available Selections or the Current Selections and <span class="pi-h4">Add</span> or <span class="pi-h4">Remove</span> it to/from the list.  To determine download order for selections, select an element and use <span class="pi-h4">Move Up</span> and <span class="pi-h4">Move Down</span> to position the elements for display in the download.  To download the Current Selections, select <span class="pi-h4">Submit</span>.
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		
		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">
			
			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">
				
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					<td><br><span class="pi-h4">Available Selections</span></td>
					<td>&nbsp;</td>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="20"></td>
					<td><br><span class="pi-h4">Current Selections</span></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					<td><select name="repl_fname2" class="modTxtAreaMedium" size="12">
                      <option>Paid Amount</option>
                      <option>Paid Amount Currency</option>
                      <option>Paid Date</option>
                      <option>Purchase Order Number</option>
                      <option>Invoice Number</option>
                      <option>Shipper Reference Number</option>
                      <option>Ship To</option>
                      <option>- Ship To Name</option>
                      <option>- Ship To Company Name</option>
                      <option>- Ship To City</option>
                      <option>- Ship To State / Province</option>
                      <option>Merchandise Description</option>
                      <option>Number of Items</option>
                      <option>Paid Amount</option>
                    </select></td>
					<td align="center">
					<input value="Add" name="add" class="btn_a" type="button">
					<br><br>
					<input value="Remove" name="remove" class="btn_bak_a" type="button">					</td>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					<td>
					<select name="repl_fname" class="modTxtAreaMedium" size="12">
						<option>Tracking Number</option>
						<option>Claim Number</option>
						<option>UPS Account Number</option>
						<option>Claim Type</option>
						<option>Date Filed</option>
						<option>Claim Amount</option>
                        <option>Claim Amount Currency</option>
					</select>					</td>
				</tr>
				<tr>
					<td colspan="4"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					<td><input value="Move Up" name="move up" class="btn" type="button"><input value="Move Down" name="move down" class="btn" type="button"><br><br></td>
				</tr>
				</table>
				
				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->
			
			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input value="Cancel" name="cancel" class="btn" type="button"><input value="Submit" name="submit" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
</div>