---
title: ct1_res_cus_cla(1sum)_cla(0reg)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
	
	<!-- Begin: Page Heading -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td><img alt="" height="15" src="/img/1.gif" width="1"></td>
		</tr>
		<tr>
			<td valign="top"><span class="header">Claims</span></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="15" src="/img/1.gif" width="1"></td>
		</tr>
	</table>
	<!-- END: Page Heading --> 
	
	<!-- BEGIN: Formatting table -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td valign="top" width="278"><!-- BEGIN: Left column --> 
			<!-- BEGIN Table: Form Input(Parent:Formatting Table) -->
	<form action="repl_faction">
		<table bgcolor="#cccccc" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td bgcolor="#996633"><img alt="" border="0" height="4" src="/img/1.gif" width="8"></td>
				<td bgcolor="#996633" height="20" width="100%"><span class="whitesubheadbold">My UPS</span></td>
			</tr>
		</table>
		<table bgcolor="#cccccc" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td colspan="2"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td colspan="2"><div class="modulepad"> Please log in or register to use online claim services.<br>
						<br>
						<span class="bold">User ID:</span><br>
						<input class="modTxtMedium" maxlength="35" type="text">
						<br>
						<input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue">
						&nbsp;<a href="repl_href">Remember my User ID on this computer</a><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="Help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a><br>
						<br>
						<span class="bold">Password:</span><br>
						<input class="modTxtMedium" maxlength="35" type="password">
						<br>
						<br>
						By logging in to ups.com, you agree to the following <a href="repl_href">My UPS Terms and Conditions<img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a>. <br>
						<br>
						<div class="modpadarrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Forgot User ID or Password</a></div>
					</div></td>
			</tr>
		</table>
		<!-- END Table: Form Input(Parent:Formatting Table) --> 
		<!-- Begin Table: Form Control Buttons(Parent:Formatting Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td bgcolor="#cccccc" colspan="2" height="10"><img alt="" height="10" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td bgcolor="#ffffff" colspan="2" height="1"><img alt="" height="1" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td width="100%" bgcolor="#999999">&nbsp;</td>
				<td bgcolor="#999999" ><input value="Log In" name="update" class="btn_a" type="submit"></td>
			</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Formatting Table) -->
	</form>
	<!-- END: Left column -->
	
	</td>
	<td width="10"><!-- BEGIN: gutter spacing column --> 
		<img alt="" border="0" height="1" src="/img/1.gif" width="10"> 
		<!-- END: gutter spacing column --></td>
	<td valign="top" width="278"><!-- BEGIN: Right column --> 
		<!-- BEGIN: border table(Parent: Formatting table) -->
		
		<table bgcolor="#cccccc" border="0" cellpadding="1" cellspacing="0" width="100%">
			<tr>
				<td><!-- BEGIN: Module Head table(Parent: border table) -->
					
					<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td width="10"><img alt="" border="0" height="20" src="/img/1.gif" width="10"></td>
							<td width="100%"><span class="brownboldsup">Reasons to Register</span></td>
						</tr>
					</table>
					
					<!-- END: Module Head table(Parent: border table) --> 
					<!-- BEGIN: content table(Parent: border table) -->
					
					<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td><img alt="" border="0" height="3" src="/img/xln_mod_2_col_2pix.gif" width="278"></td>
						</tr>
						<tr>
							<td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td><div class="modulepad"> <span class="grey2"> <span class="brownbold">Claims</span><br>
									Report packages that might have been lost, damaged, or have an uncollected C.O.D. outstanding. Submit claim documents online, view your claims history,  request status emails or check the status of investigations. <br>
									<br>
									<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Learn More</a><br>
									<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Register</a> </span></div></td>
						</tr>
						<tr>
							<td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- END: content table(Parent: border table) --></td>
			</tr>
		</table>
		
		<!-- END: border table(Parent: Formatting table) --> 
		<!-- END: Right column --></td>
	</tr>
	</table>
	<!-- END:  Formatting table -->
	
	</form>
</div>
