---
title: ct1_res_cus_cla(1sum)_upd(1inf)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Report</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Update Claims Information</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Please review the information carefully and update, if necessary, to complete the claim.  Required fields are indicated by <img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" > .
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544">
			<span class="pi-h3">{Package/Pallet} Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Tracking Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1Z T71 611 03 9500 902 3</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <!-- ***** Not provided on ER1413 Spec ***** -->
		<!--tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Ship Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr-->
        <!-- ***** END MISSING TEXT/VALUE***** -->
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Service:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">UPS Next Day Air</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Weight:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">5 lbs</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Number of Packages:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <!-- ***** Not provided on ER1413 Spec ***** -->
		<!--tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Declared Value:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XXX.XX USD</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Reported By:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">R. Jones</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr-->
        <!-- ***** END MISSING TEXT/VALUE ***** -->
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544">
			<span class="pi-h3">Shipping Details</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="546"></td>
			</tr>
			<tr>
				<td><span class="pi-h4">Shipped From:</span><br>
				Company Name<br>
				Name<br>
				Address 1<br>
				Address 2<br>
				Address 3<br>
				City, State<br>
				ZIP, Country or Territory<br>
				Telephone<br>
				Ext.<br>
                E-mail<br>
                Fax<br>
                Fax Country or Territory<br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
				<td><span class="pi-h4">Shipped To:</span><br>
				Company Name<br>
				Name<br>
				Address 1<br>
				Address 2<br>
				Address 3<br>
				City, State<br>
				ZIP, Country or Territory<br>
				Telephone<br>
				Ext.<br>
                E-mail<br>
                Fax<br>
                Fax Country or Territory<br>
				</td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Claim Information</span>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Claim Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">72649871</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Claim Type:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Damage/Lost/Uncollected C.O.D.]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <!-- ***** Not provided ER1413 Spec ***** -->
		<!--tr>
      	  <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		  <td nowrap valign="top">C.O.D. Amount:</td>
		  <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		  <td valign="top">[xx.xx USD]</td>
		  <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr-->
        <!-- ***** END MISSING TEXT/VALUE ***** -->
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Date Reported:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">04/12/2004</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <!-- ***** Not provided on ER1413 Spec ***** -->
		<!--tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Reported By:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Rob Jones</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr-->
        <!-- ***** END MISSING TEXT/VALUE ***** -->
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Merchandise Detail(s):</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Provide (Number of Items) MD/ (Number of Items) MD/...]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
        <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Damage Information</span>
			</div></td>
		</tr>
        <tr>
            <td><div class="pi-m-pad">All values provided will require supporting documentation. All fileds are required.</div><br></td>
        </tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
        
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			
			<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
			<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
            <tr>
				<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td width="100%">
				
				<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
				<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%"
				<tr>
					<td width="100%">
					
					<table border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td colspan="9"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
                    	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    	<td><span class="pi-h4">Number of Items:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4">Merchandise Description:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4">Cost/Item:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4 RedErrorBold">>>>Cost is For:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
					<tr>
                    	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    	<td valign="top"><input class="modTxtSmall" maxlength="35" size="19" type="text" value="xx"><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><textarea cols="30" rows="4" ></textarea><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td valign="top"><input class="modTxtSmall" maxlength="35" size="4" type="text"  value="xx.xx">&nbsp;&nbsp;USD<br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td valign="top">
                        <select class="modTxt" >
                        	<option value="">Replace</option>
                            <option value="">Repair</option>
                        </select><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
					<tr>
                    	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    	<td><span class="pi-h4">Number of Items:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4">Merchandise Description:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4">Cost/Item:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4">Cost is For:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
					<tr>
                    	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    	<td valign="top"><input class="modTxtSmall" maxlength="35" size="19" type="text" value="xx"><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><textarea cols="30" rows="4" ></textarea><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td valign="top"><input class="modTxtSmall" maxlength="35" size="4" type="text"  value="xx.xx">&nbsp;&nbsp;USD<br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td valign="top">
                        <select class="modTxt" >
                        	<option value="">Replace</option>
                            <option value="">Repair</option>
                        </select><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
                    <tr>
                    	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    	<td><span class="pi-h4">Number of Items:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4">Merchandise Description:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4">Cost/Item:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><span class="pi-h4">Cost is For:</span></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
					<tr>
                    	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    	<td valign="top"><input class="modTxtSmall" maxlength="35" size="19" type="text" value="xx"><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td><textarea cols="30" rows="4" ></textarea><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td valign="top"><input class="modTxtSmall" maxlength="35" size="4" type="text"  value="xx.xx">&nbsp;&nbsp;USD<br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td valign="top">
                        <select class="modTxt" >
                        	<option value="">Replace</option>
                            <option value="">Repair</option>
                        </select><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
                    
                    
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td colspan="7"><a href="repl_href"><img alt="" border="0" height="12" src="/img/btn_add_mini.gif" width="12"><img alt="" border="0" height="1" src="/img/1.gif" width="4">Add More Items</a></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td colspan="7"><img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="522"><br></td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
						<td colspan="6" align="right"><input class="rad" name="repl_fname" type="checkbox" checked value="repl_fvalue">&nbsp;Reimburse <a href="repl_href">Transportation Charges:<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img alt="" border="0" width="9" height="9" src="/img/icn_help_blue.gif"></a>&nbsp;&nbsp;<input class="modTxtSmall" maxlength="35" size="4" type="text" value="xx.xx"></td>
						<td>&nbsp;&nbsp;USD</td>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					</tr>
					<tr>
						<td colspan="9"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					
					</td>
				</tr>
				</table>
				<!-- End table: Inner Table (Parent:Functional Table 4b) -->
					
				</td>
				<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			</table>
			<!-- End table: Functional Table 5 (Parent:Module Table) -->
			
			</td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input value="Back" name="back" class="btn_bak_a" type="button"><input value="Cancel" name="cancel" class="btn" type="button"><input value="Submit" name="submit" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->


</form>
		
</div>