---
title: ct1_res_cus_cla(1sum)_los(2una)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">Report</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 3col plus 1col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="422"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td><span class="pi-h3">Unable to Report A Lost Package</span><br>
								<br></td>
						</tr>
					</table>
					
					<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
					
					<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td nowrap valign="top"><span class="pi-h4">UPS Tracking Number:</span></td>
							<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
							<td valign="top" width="100%">1Z63R9A67261549471</td>
						</tr>
						<tr>
							<td colspan="3"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
					
					<br>
					
					<!-- ////////////////////////////////////////// --> 
					<!-- Begin Report - Package Not Eligible (1304) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td><!-- Dynamic text --> 
								This package was tendered to the US Postal Service for delivery.  Please contact the shipper or your local Post Office to report a problem with this shipment.<br>
								<br>
								
								<!-- Dynamic text --></td>
						</tr>
					</table>
					<div class="cmsMsg">
						<div class="contentType"> 
							<!-- ///////////////////////////////////////////////////////// --> 
							<!-- CMS Module ////////////////////////////////////////////// -->
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td><!-- Dynamic text --> 
										[To submit a claim for a Worldwide Express Freight shipment, please call 1-800-782-7892.]<br>
										<br>
										
										<!-- Dynamic text --></td>
								</tr>
							</table>
							<!-- CMS Module ////////////////////////////////////////////// --> 
							<!-- ///////////////////////////////////////////////////////// --> 
						</div>
					</div>
					
					<!-- End Report - Package Not Eligible (1304) --> 
					<!-- //////////////////////////////////////// --> 
					
					<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td><!-- Dyanamic text based on status --> 
								A search for this package cannot be initiated at this time.  Today's date must be at least one day past the date of scheduled delivery.<br>
								
								<!-- Dyanamic text based on status --> 
								
								<br>
								<span class="pi-h4">Receive Delivery Notification</span><br>
								Sign up for Quantum View Notify<sup>SM</sup> to receive e-mail notification when your package is delivered.<br>
								<br>
								<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Learn More</a><br>
								<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Request Quantum View<sup>SM</sup>Notify</a><br></td>
						</tr>
					</table>
					
					<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
				<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 3col plus 1col -->
		
	</form>
</div>
