---
title: ct1_res_cus_cla(1sum)_los(4rev)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="550">
<tr>
	<td class="pi-h1" valign="top">Report</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="550">
<tr>
	<td valign="top" width="510">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="510">
		<tr>
			<td class="pi-m-txt-title">Review Lost {Package/Pallet} Information</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
		
		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Please review the information that you have provided before submitting it to UPS.  To make changes, select <span class="pi-h4">Edit</span> in the section you wish to update.<br>
			<br></div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table class="" border="0" cellpadding="0" cellspacing="0" width="550" class="">
		<tr>
			<td class="pi-m-button pi-mA1-b" nowrap><input value="Submit" name="submit" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<span class="pi-h3">{Package/Pallet} Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td ><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"  width="220">Tracking Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1Z T71 611 03 9500 902</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Ship Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Service:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">UPS Next Day Air</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Weight:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">5 lbs</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Number of {Packages/Pallets}:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Declared Value:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XXX.XX USD</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Status:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Delivered</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Received By:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">R. Jones</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Delivery Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX, ##:## X.M.</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="510">
			<span class="pi-h3">Shipping Details</span><span style="display:block;float:right;margin-right:20px;"><a href="repl_href">Edit</a></span><br>
            <div style="clear:both;"></div>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="100"></td>
			</tr>
			<tr>
				<td  width="220"><span class="pi-h4">Shipped From:</span><br>
				Company Name<br>
				Name<br>
				Address 1<br>
				Address 2<br>
				Address 3<br>
				City, State<br>
				ZIP, Country or Territory<br><br>
               <span class="pi-h4">Email:</span><br>
               [email address]<br><br>
				<span class="pi-h4">Phone</span><br>
                [phone number]<br><br>
                <span class="pi-h4">Fax</span><br>
                [fax]<br><br>
                <span class="pi-h4">Country or Territory</span><br>
                [fax country or territory]<br><br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
				<td><span class="pi-h4">Shipped To:</span><br>
				Company Name<br>
				Name<br>
				Address 1<br>
				Address 2<br>
				Address 3<br>
				City, State<br>
				ZIP, Country or Territory<br><br>
               <span class="pi-h4">Email:</span><br>
               [email address]<br><br>
				<span class="pi-h4">Phone</span><br>
                [phone number]<br><br>
                <span class="pi-h4">Fax</span><br>
                [fax]<br><br>
                <span class="pi-h4">Country or Territory</span><br>
                [fax country or territory]<br><br>
				</td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="510">
			<span class="pi-h3">Type of Loss</span>
			<br>
			The {package/pallet} was delivered to an address other than the Ship To address .<br><br> 
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"  width="220"><span class="pi-h4">Name of Person Denying Receipt:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">John Smith</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Phone for Denying Person:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">222-333-4444</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Ext:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">56345</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Date of Denial:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="510">
			<span class="pi-h3">Merchandise Information</span><span style="display:block;float:right;margin-right:20px;"><a href="repl_href">Edit</a></span>
			<br>
            <div style="clear:both;"></div>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top" width="220"><span class="pi-h4">Number of {Packages/Pallets} Received:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>    
			<td valign="top" width="100%">[#] of [#]<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Merchandise Description 1:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Provide description...]<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Number of Items:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">2<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Cost per item:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XXX.XX USD<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Merchandise Description 2:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Provide description...]<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Number of Items:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">2<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Cost per item:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XXX.XX USD<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Total Amount Requested:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
       </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX.XX USD<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Additional Information:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Provide user input...]<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="3"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
        <!--***** Not provided on ER1413 spec *****-->
        
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<!--table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="510">
			<span class="pi-h3">Reference Information</span>&nbsp;<a href="repl_href">Edit</a>
			</div></td>
		</tr>
		</table-->
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
        
        
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<!--table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top" width="220">P.O Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Reference #]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Invoice Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Reference #]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Shipper Reference Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Reference #]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table-->
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
        
        <!--***** END MISSING SECTION *****-->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="510">
			<span class="pi-h3">Inquirer Contact Information</span><span style="display:block;float:right;margin-right:20px;"><a href="repl_href">Edit</a></span>
			<br>
            <div style="clear:both;"></div>
			Company Name<br>
			Contact Name<br>
			Address 1<br>
			Address 2<br>	
			Address 3<br>	
			City, State, ZIP<br>		
			Country or Territory<br>
			Email<br>
            Phone<br>
            Ext.<br>
            Fax<br>
            Fax Country or Territory<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
            <div class="pi-m-pad">
            
            <!-- ***** Not provided on ER1413 spec ***** -->
			<!--img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="510"-->
			<!--span class="pi-h3">Primary Contact Preference</span>&nbsp;<a href="repl_href">Edit</a><br-->
			<!--***** END MISSING TITLE *****-->
            
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
            	<tr>
                    <td><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
                    <td><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
				</tr>
				<tr>
                    <td nowrap valign="top" width="220"><span class="pi-h4">I would like to be contacted about outcome of this claim by:</span></td>
                    <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                 </tr>
                 <tr>
                    <td valign="top" width="100%">E-mail:</td>
                    <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				</tr>
                 <tr>
                    <td valign="top" width="100%">customer@work.com</td>
                    <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				</tr>
        	</table>
			</div>
            </td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
        
        <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="510">
			<span class="pi-h3">Send confirmation and status updates to</span><span style="display:block;float:right;margin-right:20px;"><a href="repl_href">Edit</a></span>
			<br>
            <div style="clear:both;"></div>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"  width="220"><span class="pi-h4">E-mail:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">addressr@company.com<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">E-mail a confirmation to all contacts.</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">E-mail status updates to all contacts.</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Secondary Contact Name:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Sue Jones<br><br></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Secondary E-mail:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">suejones@work.com</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">&nbsp;</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        
        <!--***** Not provided on ER1413 Spec *****-->
        <!--tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Contact Language Preference:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">English</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr-->
        <!--***** END MISSING FIELD  *****-->
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
        
        
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="550">
		<tr>
			<td class="pi-m-button" nowrap><input value="Cancel" name="cancel" class="btn" type="button"><input value="Submit" name="submit" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>
		
</div>