---
title: ct1_res_cus_cla(1sum)_los(3con)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	

<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
<tr>
	<td class="pi-h1" valign="top">Report</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td>

			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">

				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">

					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="8"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-4">Lost Package Reported</td>
						<td class="pi-mA6-c-3">UPS Package Search</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->

					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->

				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->


	</td>
	<!-- Begin Image: Lost Packages Process
	<td><img alt="UPS Package Search" border="0" height="95" src="/img/en/img/en/inf_cow_lost_step2.gif" width="422"></td>
	<td><img alt="Claim Issued/Claim Not Approved/Package Found" border="0" height="95" src="/img/en/img/en/inf_cow_lost_step3.gif" width="422"></td>
	<td><img alt="Documentation Submitted" border="0" height="95" src="/img/en/img/en/inf_cow_lost_step4.gif" width="422"></td>
	<td><img alt="Claim Payment Approved/Not Approved" border="0" height="95" src="/img/en/img/en/inf_cow_lost_step5.gif" width="422"></td>
	End Image: Lost Packages Process -->
</tr>
</table>
<!-- End Table: Functional Table 2 (Parent:Module Table) -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">Lost {Package/Pallet} Confirmation</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
        	<td><div align="right"><span class="pi-m-pad"><a href=""><img alt="" border="0" height="" src="/img/icn_print_blue.gif"> Printer Friendly</a><span></div><br	></td>
        </tr>
		<tr>
			<td><div class="pi-m-pad">
			We have received your request to search for a lost {package/pallet}. We regret any inconvenience that this may have caused.
			<br><br>
			Tracking Number:<img alt="" border="0" height="1" src="/img/1.gif" width="10">1Z 5738 5736 5993 56 479
			<br>


            <!-- //////////////////////////////////////// -->
            <!-- Begin Regport - Loss Confirmation (7306) -->
            <div class="pi-m-pad"><img width="8" height="8" border="0" src="/img/arrow.gif" alt="View Lost {Package/Pallet} Detail"><input type="button" class="btnlnk" name="View Lost {Package/Pallet} Detail" value="View Lost {Package/Pallet} Detail"><br>
			</div>
            <!-- End Report - Loss Confirmation (7306) -->
            <!-- ///////////////////////////////////// -->



			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">UPS Next Steps:</span><br>

			<!-- Dyanamic text based on status -->
			We will search for the package information and provide a Proof of Delivery, if avaliable. Since this search has been initiated by someone other than the original shipper, it may not result in a claim.
			<!-- Dyanamic text based on status -->

			<br>
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Your Next Steps</span><br>

			<!-- Dyanamic text based on status -->
			You are not required to provide any additional information at this time.  You may check the status of your request online.
			<!-- Dyanamic text based on status -->

			<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">{Package/Pallet} Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Tracking Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1Z T71 611 03 9500 902</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Ship Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Service:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">UPS Next Day Air</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Weight:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">5 lbs</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Number of {Packages/Pallets}:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Declared Value:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XXX.XX USD</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Status:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Delivered</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Received By:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">R. Jones</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Delivery Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX, ##:## X.M.</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Shipping Label Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="100"></td>
			</tr>
			<tr>
				<td><span class="pi-h4">Shipped From:</span><br>
				Company Name<br>
				Name<br>
				Address 1<br>
				Address 2<br>
				Address 3<br>
				City, State<br>
				ZIP, Country or Territory<br>
                E-mail<br>
                Telephone<br>
                Ext<br>
                Fax<br>
                Fax Country or Territory<br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
				<td><span class="pi-h4">Ship To/Delivered To:</span><br>
				Company Name<br>
				Name<br>
				Address 1<br>
				Address 2<br>
				Address 3<br>
				City, State<br>
				ZIP, Country or Territory<br>
				E-mail<br>
                Telephone<br>
                Ext<br>
                Fax<br>
                Fax Country or Territory<br>
				</td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

        <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Type of Loss</span><br>
			</div></td>
		</tr>
        <tr>
        	<td>
            	<div class="pi-m-pad">The {Package/Pallet} was delivered to an address other than the Ship To address.</div>
            </td>
        </tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Merchandise Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Number of {Packages/Pallets} Received:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[00]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Detailed Merchandise Description 1:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[description]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Number of Items:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[00]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Cost per Item:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[000.00][USD]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Total Amount Requested:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[000.00] USD</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Additional Information:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
        </tr>
        <tr>
        	<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Description]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

        <!--***** Not provided on ER1413 spec *****-->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<!--table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Reference Information</span><br>
			</div></td>
		</tr>
		</table-->
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<!--table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">P.O Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[provide number]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Invoice Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[provide number]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Shipper Reference Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[provide number]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table-->
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

        <!--***** END MISSING SECTION *****-->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Inquirer Contact Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<div class="pi-m-pad">
			[primary contact name]<br>
			[company name]<br>
			[address]<br>
			[city, state]<br>
			[zip, country or territory]<br>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td nowrap valign="top"><span class="pi-h4">Telephone:</span></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%">234-456-7809</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td nowrap valign="top"><span class="pi-h4">Fax Number:</span></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%">234-567-8900</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			</table>
			[fax country or territory]
			<br>
			</div></td>
		</tr>
        <tr>
        	<td>
            	<div class="pi-m-pad pi-h3">
                 I would like to be contacted about outcome of this claim by:
                </div>
            </td>
        </tr>
        <tr>
        	<td>
            	<div class="pi-m-pad">E-mail:[address@work.com]</div>
            </td>
        </tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<br>
			<div class="pi-m-pad"><img alt="Back to Tracking Detail" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><input value="Back to Tracking Detail" name="back to tracking detail" class="btnlnk" type="button"><br>
			<!-- <img alt="Back" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><input alt="Back to Quantum View Detail" border="0" height="10" name="back to quantum view detail" src="/img/en/btn_lnk_back_qv_detail.gif" type="image" width="159">
			-->
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>

	</div>
