---
title: ct1_res_cus_cla(1sum)_cod(2inf)_v2
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">Report</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 4col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="566"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA1-t" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="566">
									<tr>
										<td class="pi-m-txt-title">Complete Form to Report An Uncollected C.O.D.</td>
										<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-c" valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> Please complete the information below to report an uncollected C.O.D. Required fields are shown <span class="pi-h4">bold</span>. </div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"> <span class="pi-h3">Package Information</span><br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Tracking Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1Z T71 611 03 9500 902 3</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Ship Date:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">XX/XX/XXXX</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Service:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">UPS Next Day Air</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Weight:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">5 lbs</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Number of Packages:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Declared Value:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">XXX.XX USD</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Status:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">Delivered</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Signed By:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">R. Jones</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Delivery Date:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Provide date and time from tracking]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"> <span class="pi-h3">Shipping Label Information</span><br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> If any Shipping Label Information is missing, please select <span class="pi-h4">Edit</span> to provide the missing information. <br>
												<br>
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="546"></td>
													</tr>
													<tr>
														<td><span class="pi-h4">Shipped From:</span>&nbsp;&nbsp;<a href="repl_href">Edit</a><br>
															Company Name<br>
															Name<br>
															Address 1<br>
															Address 2<br>
															Address 3<br>
															City, State<br>
															ZIP, Country or Territory<br>
															Telephone<br>
															Ext.<br></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
														<td><span class="pi-h4">[Ship To/Delivered To]:</span>&nbsp;&nbsp;<a href="repl_href">Edit</a><br>
															Company Name<br>
															Name<br>
															Address 1<br>
															Address 2<br>
															Address 3<br>
															City, State<br>
															ZIP, Country or Territory<br>
															Telephone<br>
															Ext.<br></td>
													</tr>
												</table>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"> <span class="pi-h3">C.O.D. Information</span><br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Amount:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">329.99 USD</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Control Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">123456</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <br>
												<span class="pi-h4">Number of Packages Received:</span><br>
												<input class="modTxtSmall" maxlength="35" type="text">
												&nbsp;out of 1 packages(s). <br>
												<br>
											</div>
											<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
												<tr>
													<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
													<td width="100%"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
														
														<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td width="100%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
																		<tr>
																			<td colspan="5"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td colspan="3"><i>All values provided may require supporting documentation.</i><br>
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><span class="pi-h4">Merchandise Description:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td nowrap><span class="pi-h4">Number of Items:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtLarge" maxlength="35" size="19" type="text">
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtSmall" maxlength="35" size="4" type="text">
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><span class="pi-h4">Merchandise Description:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td nowrap><span class="pi-h4">Number of Items:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtLarge" maxlength="35" size="19" type="text">
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtSmall" maxlength="35" size="4" type="text">
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><span class="pi-h4">Merchandise Description:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td nowrap><span class="pi-h4">Number of Items:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtLarge" maxlength="35" size="19" type="text">
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtSmall" maxlength="35" size="4" type="text">
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td colspan="8"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td colspan="3"><a href="repl_href"><img alt="" border="0" height="12" src="/img/btn_add_mini.gif" width="12"><img alt="" border="0" height="1" src="/img/1.gif" width="4">Add More Items</a></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td colspan="5"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
																		</tr>
																	</table></td>
															</tr>
														</table>
														
														<!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
													<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
												</tr>
											</table>
											<div class="pi-m-pad"> <br>
												Additional Information:<br>
												<textarea class="modTxtAreaLarge" cols="40" rows="1" name="repl_fname"></textarea>
												<br>
												<span class="reqTxtInst">(Ex: Please call between 8 a.m. and 5 p.m.)</span> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
												<span class="pi-h3">Reference Information</span><br>
												Provide information below to help you and UPS identify this package in subsequent communications. <br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 1 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">P.O. Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%"><input class="modTxtMedium" maxlength="35" size="19" type="text" value=""></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Invoice Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%"><input class="modTxtMedium" maxlength="35" size="19" type="text"></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Shipper Reference Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%"><input class="modTxtMedium" maxlength="35" size="19" type="text"></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-b" valign="top"><!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="566">
									<tr>
										<td class="pi-m-button" nowrap><input value="Next" name="next" class="btn_a" type="submit"></td>
									</tr>
								</table>
								
								<!-- End Table: Form Control Buttons(Parent:Module Table) --></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 4col -->
		
	</form>
</div>
