---
title: ct1_res_cus_cla(1sum)_fil(6doc)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">[Report]</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 3col plus 1col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="422"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA1-t" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="422">
									<tr>
										<td class="pi-m-txt-title">Submit Documents</td>
										<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-c" valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <span class="pi-h4">Your request has been submitted.  Please indicate when and how you will submit documentation.</span> <br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Shipper UPS Account Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">123456</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Claim Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">123456789</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Tracking Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1Z 5738 5736 5993 56 479</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <br>
												Provide UPS with documentation that shows the lesser of actual cost, cost to repair or replace the merchandise, such as:
												<ul>
													<li>invoice/ receipt</li>
													<li>purchase order</li>
													<li>repair bill/ estimate</li>
												</ul>
												<br>
												You may send your documents to UPS by electronic file upload, mail, or fax. <br>
												<br>
												If there is no record of the package in the UPS system, UPS may require you to provide proof of shipment. <br>
												<br>
												Issuance of the claim number above or submission of required documents does not guarantee approval or payment of claim. <br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top"><input class="rad" name="repl_fname" type="radio" value="repl_fvalue"></td>
										<td><span class="pi-h4">I will provide documentation later.</span><br>
											I will not send documents at this time.<br>
											<br></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top"><input class="rad" name="repl_fname" type="radio" value="repl_fvalue"></td>
										<td><span class="pi-h4">I will fax or mail documentation with Claim Payment Form.</span><br>
											You will be required to print the Claim Payment Form to accompany your documents. <i>(Adobe Reader is required to print the Claim Payment Form. If you choose this option, you can download Adobe Reader on the next page.)</i><br>
											<br></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top"><input class="rad" name="repl_fname" type="radio" value="repl_fvalue"></td>
										<td><span class="pi-h4">I will provide documents electronically now.</span><br>
											UPS accepts DOC (text only), PDF, BMP, TIF, GIF and JPG file
											formats. File size can not exceed 1 MB per document. You must
											provide at least one document to complete submission. Up to a maximum of 10 documents.<br>
											<br>
											Upload Document 1:<br>
											<input class="modTxtMedium" maxlength="35" size="19" type="text">
											<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											<input type="submit" name="repl_fname" value="Browse">
											<br>
											<br>
											<input value="Add more documents" name="add more documents" class="btnlnkL plusmini" type="button"></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-b" valign="top"><!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="422">
									<tr>
										<td class="pi-m-button" nowrap><input value="Cancel" name="cancel" class="btn" type="button">
											<input value="Submit" name="submit" class="btn_a" type="submit"></td>
									</tr>
								</table>
								
								<!-- End Table: Form Control Buttons(Parent:Module Table) --></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
				<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 3col plus 1col -->
		
	</form>
</div>
