---
title: ct1_res_cus_cla(1sum)_dam(2inf)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">Report</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 4col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="566"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA1-t" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="566">
									<tr>
										<td class="pi-m-txt-title">Complete Form to Report Damage</td>
										<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-c" valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad redErrorBold"> >>>Error message </div></td>
									</tr>
									<tr>
										<td><div class="pi-m-pad"> Please complete the information below to report damage. Required fields are shown in <span class="pi-h4">bold</span>. </div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"> <span class="pi-h3">{Package/Pallet} Information</span><br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Tracking Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1Z T71 611 03 9500 902 3</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Ship Date:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">XX/XX/XXXX</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Service:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">UPS Next Day Air</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Weight:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">5 lbs</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Number of {Packages/Pallets}:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Declared Value:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">XXX.XX USD</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Status:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">Delivered</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Signed By:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">R. Jones</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Delivery Date:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%"><p>[Provide date and time from tracking]</p></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"> <span class="pi-h3">Shipping Label Information</span><br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> If any Shipping Label Information is missing, please select <span class="pi-h4">Edit</span> to provide the missing information. <br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td><div class="pi-m-pad"> <span class="pi-h4">Shipped From:</span>&nbsp;&nbsp;<a href="repl_href">Edit</a><br>
												Company Name<br>
												Name<br>
												Address 1<br>
												Address 2<br>
												Address 3<br>
												City, State<br>
												ZIP, Country or Territory<br>
												Telephone<br>
												Ext.<br>
											</div></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
										<td><div class="pi-m-pad"> <span class="pi-h4">[Ship To/Delivered To:]</span>&nbsp;&nbsp;<a href="repl_href">Edit</a><br>
												Company Name<br>
												Name<br>
												Address 1<br>
												Address 2<br>
												Address 3<br>
												City, State<br>
												ZIP, Country or Territory<br>
												Telephone<br>
												Ext.<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
												<span class="pi-h3">Damage Information</span><br>
												<span class="pi-h4">Date Damage Was Discovered</span><br>
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td><span class="pi-h4">Month:</span><br>
															<select name="repl_fname" class="modSelSmall2" size="1">
																<option>07</option>
															</select></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="3"></td>
														<td><span class="pi-h4">Day:</span><br>
															<select name="repl_fname" class="modSelSmall2" size="1">
																<option>14</option>
															</select></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="3"></td>
														<td><span class="pi-h4">Year:</span><br>
															<select name="repl_fname" class="modSelSmall2" size="1">
																<option>2005</option>
															</select></td>
													</tr>
												</table>
												<br>
												<span class="pi-h4">Number of Items in {Package/Pallet}:</span><br>
												<input class="modTxtMedium" maxlength="35" size="19" type="text">
												<br>
												<br>
												<span class="pi-h4">Are any items missing?</span><br>
												<input checked class="rad" name="repl_fname1" type="radio" value="repl_fvalue">
												&nbsp;No <img alt="" border="0" height="1" src="/img/1.gif" width="10">
												<input class="rad" name="repl_fname1" type="radio" value="repl_fvalue">
												&nbsp;Yes<br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 1 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><!-- Begin table: Functional Table 5 (Parent:Module Table) -->
											
											<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
												<tr>
													<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
													<td width="100%"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
														
														<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td width="100%"><table border="0" cellpadding="0" cellspacing="0">
																		<tr>
																			<td colspan="8"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td colspan="6"><em>All values provided will require supporting documentation. Please provide only damaged or missing merchandise information.</em><br>
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><span class="pi-h4">Damaged Merchandise Description:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td nowrap><span class="pi-h4">Number of Items:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td colspan="2"><span class="pi-h4">Cost/Item:</span></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtLarge" maxlength="35" size="19" type="text">
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtSmall" maxlength="35" size="4" type="text">
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td><input class="modTxtSmall" maxlength="35" size="4" type="text">
																				<br></td>
																			<td>&nbsp;USD</td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td colspan="6"><span class="pi-h4">Cost is to:</span>
																				<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">
																				&nbsp;Repair Items&nbsp;
																				<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">
																				&nbsp;Replace Items<br>
																				<br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td colspan="6"><input value="Add more Items" name="add more items" class="btnlnkL plusmini" type="button"></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td colspan="6"><img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="522"><br></td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																			<td colspan="5" align="right"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue">
																				&nbsp;Reimburse <a href="repl_href">Transportation Charges:<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img alt="" border="0" width="9" height="9" src="/img/icn_help_blue.gif"></a>&nbsp;&nbsp;
																				<input class="modTxtSmall" maxlength="35" size="4" type="text"></td>
																			<td>&nbsp;&nbsp;USD</td>
																			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																		</tr>
																		<tr>
																			<td colspan="8"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
																		</tr>
																	</table></td>
															</tr>
														</table>
														
														<!-- End table: Inner Table (Parent:Functional Table 4b) --></td>
													<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
												</tr>
											</table>
											
											<!-- End table: Functional Table 5 (Parent:Module Table) --></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <br>
												Additional Information:<br>
												<textarea class="modTxtAreaLarge" cols="40" rows="1"name=" repl_fname" ></textarea>
												<br>
												<span class="reqTxtInst"> (Ex.: {Package/Pallet} left in rain. Contents water-damaged.)</span><br>
												<br>
												<span class="pi-h4">Does your {package/pallet} contain the following:</span><br>
												<input class="rad" name="repl_fname3" type="radio" value="repl_fvalue">
												&nbsp;Dangerous Goods/Unknown Chemicals<br>
												<input class="rad" name="repl_fname3" type="radio" value="repl_fvalue">
												&nbsp;Computer Equipment<br>
												<input class="rad" name="repl_fname3" type="radio" value="repl_fvalue">
												&nbsp;Firearms<br>
												<input checked class="rad" name="repl_fname3" type="radio" value="repl_fvalue">
												&nbsp;None of the above<br>
												<br>
												<span class="pi-h4">Can the {package/pallet} be sealed and transported safely?</span><br>
												<input class="rad" name="repl_fname4" type="radio" value="repl_fvalue">
												&nbsp;No <img alt="" border="0" height="1" src="/img/1.gif" width="10">
												<input class="rad" name="repl_fname4" type="radio" value="repl_fvalue">
												&nbsp;Yes<br>
												<br>
												<span class="pi-h4">Current location of the damaged {package/pallet}:</span><br>
												<select name="repl_fname" class="modSelMedium" size="1">
													<option>Delivered To Address</option>
												</select>
												<br>
												<span class="reqTxtInst"> If 'Other Address' is selected, then the address must be provided.</span><br>
												<br>
												Comments about {package/pallet} location:<br>
												<textarea class="modTxtAreaLarge" cols="40" rows="1" name="repl_fname2"></textarea>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA1-b" valign="top"><!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="566">
									<tr>
										<td class="pi-m-button" nowrap><input value="Back" name="back" class="btn_bak_a" type="button">
											<input value="Cancel" name="cancel" class="btn" type="button">
											<input value="Next" name="next" class="btn_a" type="submit"></td>
									</tr>
								</table>
								
								<!-- End Table: Form Control Buttons(Parent:Module Table) --></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 4col -->
		
	</form>
</div>
