---
title: ct1_res_cus_cla(1sum)_set(1pre)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Set Preferences</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
<td valign="top" width="566">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Enter Claims Preferences</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top"> 
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td><div class="pi-m-pad">
			Customizing your preferences saves time and allows you to process claims in a way that is more convenient for you. 
			<br><br>
			<span class="pi-h3">Primary Contact Preference</span>
				<br>
               <table border="0" cellpadding="0" cellspacing="0">
                
                
                
			<tr>
       
            <td nowrap valign="top"><input class="rad" name="repl_fname" type="radio" checked value="repl_fvalue"></td>
				<td><span class="pi-h4">&nbsp;E-mail: </span></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%"><input class="modTxtMedium" maxlength="35" size="19" type="text" ></td>
			</tr>
            
            
			<tr>
				<td nowrap valign="top"><input class="rad" name="repl_fname" type="radio" value="repl_fvalue"></td>
                
                <td ><span class="pi-h4">&nbsp;Fax: </span></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%"><input class="modTxtMedium" maxlength="35" size="19" type="text" ></td>
			</tr>
            
            
            <tr>
				<td nowrap valign="top"><br></td>
                
                <td nowrap ><span class="pi-h4">&nbsp;Fax Country or Territory: </span></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%"><select name="repl_fname" class="modSelMedium" size="1"><option>United States</option></select></td>
			</tr>
            
            
            
			<tr>
            <td nowrap valign="top"><input class="rad" name="repl_fname" type="radio" value="repl_fvalue"></td>
				<td nowrap valign="middle"><span class="pi-h4">&nbsp;Mail:</span></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%"><br></td>
			</tr>
            
            
            
			<tr>
            
				<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
			</tr>
			</table>
			
            
				<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
				<span class="pi-h3">Confirmation and Status Updates</span><br><br>
                <span class="pi-h4">E-mail:</span><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" ><br>
				<input class="rad" name="repl_fname" checked type="checkbox" value="repl_fvalue">&nbsp;E-mail a confirmation to all contacts.<br>
				<input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;E-mail status updates to all contacts.<br>
            
            
            <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">View Preferences</span><br>
			Set viewing preferences for Claims History by choosing the number <strong>Default Days Displayed</strong> and by selecting the columns to display.
			<br>
			<br>
			<span class="pi-h4">Default Days Displayed:</span><br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>Last 30 Days</option>
			</select>
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="566">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">
			
			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">
				
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
					<td><br><span class="pi-h4">Available Selections:</span></td>
					<td>&nbsp;</td>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="20"></td>
					<td><br><span class="pi-h4">Current Selections:</span></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					<td>
					<select name="repl_fname" class="modTxtAreaMedium" size="12">
						
						<option>Paid Amount</option>
						<option>Paid Amount Currency</option>
						<option>Paid Date</option>
						<option>Purchase Order Number</option>
						<option>Invoice Number</option>
						<option>Shipper Reference Number</option>
						<option>Ship To</option>
						<option>- Ship To Name</option>
						<option>- Ship To Company Name</option>
						<option>- Ship To City</option>
						<option>- Ship To State / Province</option>
					</select>
					</td>
					<td align="center">
					<input value="Add" name="add" class="btn_a" type="button">
					<br><br>
					<input value="Remove" name="remove" class="btn_bak_a" type="button">
					</td>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					<td>
					<select name="repl_fname" class="modTxtAreaMedium" size="12">
						<option>Tracking Number</option>
						<option>Claim Number</option>
						<option>UPS Account Number</option>
						<option>Claim Type</option>
						<option>Date Filed</option>
						<option>Claim Status</option>
                        <option>Claim Amount</option>
                        <option>Claim Amount Currency</option>
					</select>
					</td>
				</tr>
				<tr>
					<td colspan="4"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					<td><input alt="Move Up" border="0" height="18" name="move up" src="/img/en/btn_move_up.gif" type="image" width="58"><input alt="Move Down" border="0" height="18" name="move down" src="/img/en/btn_move_down.gif" type="image" width="75"><br><br></td>
				</tr>
				</table>
				
				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->
			
			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->
		
		<br>
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<span class="pi-h3">Claims History Preview</span>&nbsp;&nbsp;<a href="repl_href">Update Preview</a>
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
	
		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">
			
			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">
				
				<!-- Begin Table: Inner Content (Parent:Module Table) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
				<tr class="pi-r1-t">
				<td width="15%" nowrap class="pi-r1-pad"><input class="btnlnk" value="Tracking Number" name="tracking number" type="submit"><input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
				<td width="15%" nowrap class="pi-r1-line"><input class="btnlnk" value="Type" name="type" type="submit"><input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
				<td width="14%" nowrap class="pi-r1-line"><input class="btnlnk" value="Claim No." name="claim no." type="submit"><input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
				<td width="14%" nowrap class="pi-r1-line"><input class="btnlnk" value="Date Filed" name="Date Filed" type="submit"><input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
				<td width="14%" nowrap class="pi-r1-line"><input class="btnlnk" value="UPS Account No." name="UPS Account No." type="submit"><input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
				<td width="14%" nowrap class="pi-r1-line"><input class="btnlnk" value="Status" name="Status" type="submit"><input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
                <td width="14%" nowrap class="pi-r1-line"><input class="btnlnk" value="Claim Amount" name="Claim Amount" type="submit"><input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
                <td width="14%" nowrap class="pi-r1-line"><input class="btnlnk" value="Claim Amount Currency" name="Claim Amount Currency" type="submit"><input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
			</tr>
				</thead>
				<tbody>
				<tr class="pi-r1-rwo">
					<td nowrap class="pi-r1-pad">1Z03E05W0322970678<br>
					  <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
					<td class="pi-r1-pad">Damaged</td>
					<td class="pi-r1-pad">&nbsp;</td>
					<td class="pi-r1-pad">02/13/2004</td>
					<td class="pi-r1-pad">987654</td>
					<td nowrap class="pi-r1-pad">Awaiting Supporting Documents<br>
					  <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><input value="Submit documents" name="submit documents" class="btnlnk" type="submit"></td>
					<td class="pi-r1-pad">48.00</td>
                    <td class="pi-r1-pad">USD</td>
                </tr>
				</tbody>
				<tfoot>
				<tr class="pi-r1-b">
					<td colspan="7"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
				</tr>
				</tfoot>
				</table>
				<!-- End Table: Inner Content (Parent:Module Table) -->
				
				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functionalww Table 4b) -->
				
			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input value="Cancel" name="cancel" class="btn" type="button"><input value="Update" name="update" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
		
</div>