---
title: ct1_res_cus_cla(1sum)_upd(2inf)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Report</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->


<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Update Additional Claim Information</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
	
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Please complete the information below to report damage. Required fields are shown in <span class="pi-h4">bold.</span>
			<br><br>
			<span class="pi-h3">Reference Information</span><br>
			Provide information below to help you and UPS identify this package in subsequent communications.
			<br><br>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td nowrap valign="top">P.O. Number:</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%"><input class="modTxtMedium" maxlength="35" size="19" type="text" value="12345678"><br></td>
			</tr>
			<tr>
				<td nowrap valign="top">Invoice Number:</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%"><input class="modTxtMedium" maxlength="35" size="19" type="text"><br></td>
			</tr>
			<tr>
				<td nowrap valign="top">Shipper Reference Number:</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%"><input class="modTxtMedium" maxlength="35" size="19" type="text"></td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		<br>
        
        <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
        	<td>
            <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
            </td>
        </tr>
        
        <tr>
			<td><div class="pi-m-pad">
			<span class="pi-h3">Contact Information</span>&nbsp;&nbsp;<a href="repl_href">Edit</a><br><br>
            Contact Name<br>
            Telephone<br>
            Ext.<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
        
		<br>
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
        	<td>
            <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
            </td>
        </tr>
        
        <tr>
			<td><div class="pi-m-pad">
			<span class="pi-h3">Confirmation and Status Updates</span><br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<span class="pi-h4">E-mail:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value="customer@work.com"><br>
			<input class="rad" name="repl_fname" checked type="checkbox" value="repl_fvalue">&nbsp;E-mail a confirmation to all contacts.<br>
            <input class="rad" name="repl_fname"  type="checkbox" value="repl_fvalue">&nbsp;E-mail status updates to all contacts.<br><br>
			<span class="pi-h4">Secondary Contact Name:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value=""><br>
			<span class="pi-h4">Secondary E-mail:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value=""><br>
			
            
            <br>
            <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
				<span class="pi-h4">Contact Language Preference:</span><br><br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>English</option>
			</select>
            <br>
            </div>
            </td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input value="Back" name="back" class="btn_bak_a" type="button"><input value="Cancel" name="cancel" class="btn" type="button"><input value="Next" name="next" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
		
</div>