---
title: ct1_res_cus_cla_edit_shipping_details_dlg
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
			
<form action="repl_faction">

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">Edit Inquirer Address</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Please edit the address information below.  Required fields are indicated by <img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" > .<br><br>
			<span class="pi-h4">Company Name:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[Company Name]"><br><br>
			<span class="pi-h4">Name:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[Contact]"><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br><br>
            <span class="pi-h4">Country or Territory:</span><br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>United States</option>
			</select><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br><br>
            
			<span class="pi-h4">Address Line 1:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[Address]"><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br><br>
            <span class="pi-h4">Address Line 2:</span><br> 
			<input class="modTxtMedium" maxlength="35" size="19" type="text"><br><span class="reqTxtInst">Apartment, suite, unit, building, floor, etc.</span><br><br>
            <span class="pi-h4">Address Line 3:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text"><br><span class="reqTxtInst">Department, c/o, etc.</span><br><br>
			<span class="pi-h4">City:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[City]"><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br><br>
			<span class="pi-h4">{State/Province}:</span><br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>[Select One]</option>
			</select><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br><br>
			<span class="pi-h4">ZIP Code:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[XXXXX]"><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><div class="pi-m-pad">
			<span class="pi-h4">Telephone:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[Telephone]"><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br>
			</div></td>
			<td>
			<span class="pi-h4">Ext.:</span><br>
			<input class="modTxtSmall" maxlength="35" size="4" type="text"><br>
			</td>
		</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-button" nowrap><input value="Cancel" name="cancel" class="btn" type="button"><input value="Submit" name="submit" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
		
	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>
		

<div class="modal">			
			
<form action="repl_faction" width="100%">

<!-- Begin Table: Page Header no Icon -->
<!--table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td class="pi-h1" valign="top"></td>
</tr>
</table-->
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td valign="top" width="566">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td class="pi-m-txt-title">Edit Shipping Details</td>
			<td class="pi-m-txt-title-link" nowrap>&nbsp;&nbsp;&nbsp;<span class="modalClose"><img alt="close" border="0" height="9" src="/img/icn_cross_mini_wht.gif" ></span></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
            	<div class="pi-m-pad">
					<span class="pi-h3">Shipping Details</span>
                </div>
            </td>
         </tr>
         <tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		 </tr>  
         <tr>
            <td>
            	<div class="pi-m-pad"><p>
                    You must complete at least one of the e-mail address, telephone number or fax number fields for both the Shipped From and the Shipped To addresses below so we can communicate with the {Package/Pallet} shipper and recipient.
                </p></div>
			</td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="100%"></td>
		</tr>
		<tr>
			<td>
            <div class="pi-m-pad">
                <span class="pi-h4">Shipped From:</span>&nbsp;<img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br>
                Company Name<br>
                Name<br>
                Address 1<br>
                Address 2<br>
                Address 3<br>
                City, State<br>
                ZIP, Country or Territory<br>
                Telephone<br>
                Ext.:<br>
			</div>
            </td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
			<td>
            <div class="pi-m-pad">
                <span class="pi-h4">Shipped To:</span>&nbsp;<img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br>
                Company Name<br>
                Name<br>
                Address 1<br>
                Address 2<br>
                Address 3<br>
                City, State<br>
                ZIP, Country or Territory<br>
                Telephone<br>
                Ext.:<br>
			</div>
            </td>
		</tr>
        <tr>
			<td colspan="3"><img alt="" border="0" height="8" src="/img/1.gif" width="100%"></td>
		</tr>
        <tr>
        	<td><div class="pi-m-pad redErrorBold">
            >>>Name or Company Name:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad redErrorBold">
            >>>Name or Company Name:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad redErrorBold">
            >>>Postal Code:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad redErrorBold">
            >>>Postal Code:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad pi-h4">
            E-mail:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad pi-h4">
            E-mail:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" maxlength="35" size="19" type="text" value="customer@work.com"></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" maxlength="35" size="19" type="text" value="customer@work.com"></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad pi-h4">
            Telephone:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad pi-h4">
            Telephone:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad pi-h4">
           	Fax:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad pi-h4">
            Fax:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad pi-h4">
           	Fax Country or Territory:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad pi-h4">
            Fax Country or Territory:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad">
                <select class="modTxtMedium" name="" id="" width="200px">
                	<option value="US">United States</option>
                    <option value="US">Canada</option>
                </select>
                </div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad">
                <select class="modTxtMedium" name="" id="" width="200px">
                	<option value="US">United States</option>
                    <option value="US">Canada</option>
                </select>
                </div>
            </td>
        </tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="20" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
		<tr align="center" >
			<td class="pi-m-button"><div align="center"><input value="Cancel" name="cancel" class="btn modalClose" type="button">&nbsp;<input value="Submit" name="submit" class="btn_a" type="submit"></div></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
		
			
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			<!-- /contentArea -->
			
			
</div>
<!--div class="modal">lorem text...<a id="modalClose">close</a><div-->

<!--/div-->

</div>

<script type="text/javascript">
$(document).ready(function(){
	//alert('Jquery loading');
	$('.modal').dialog({modal:true,dialogClass:'modal', width:590});
	$('.modalClose').click(function(e){
		$('.modal').dialog('close');
	});	
});
</script>