---
title: ct1_res_cus_cla(1sum)_cod(5con)_pfv
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
<form action="repl_faction">

<!-- Begin Table: Printer Friendly Header Table -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
<tr>
	<td rowspan="2" width="10"><img alt="" border="0" height="68" src="/img/1.gif" width="10"></td>
	<td width="42"><img alt="" border="0" height="2" src="/img/1.gif" width="42"></td>
	<td rowspan="2" width="116"><img alt="" border="0" height="1" src="/img/1.gif" width="116"></td>
	<td align="right" rowspan="2" valign="bottom">
	
	<!-- Begin Table: Close Window(Parent:Printer Friendly Header Table) -->
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="middle" class="noprint"><a href="javascript:window.close();"><img alt="Close Window" border="0" height="14" src="/img/btn_close_mini.gif" width="14">Close Window</a></td>
		<td><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td colspan="2"><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
	</tr>
	</table>
	<!-- End Table: Close Window(Parent:Printer Friendly Header Table) -->
	
	</td>
</tr>
<tr>
	<td height="55" width="42" valign="top"><img alt="UPS" border="0" height="55" src="/img/glo_ups_brandmark_pfv.gif" width="42"></td>
</tr>
</table>
<!-- End Table: Printer Friendly Header Table -->

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Report</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td>			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="8"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-4">Uncollected C.O.D. Reported</td>
						<td class="pi-mA6-c-3">C.O.D. Collection in Progress</td>
						<td class="pi-mA6-c-3">Claim Authorized</td>
						<td class="pi-mA6-c-3">UPS Reviews Documents</td>
						<td class="pi-mA6-c-3">Claim Paid</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
</td>
	<!-- Begin Image: Unpaid C.O.D. Process 
	<td><img alt="C.O.D. Collection In Progress" border="0" height="81" src="/img/en/inf_cow_unpaid_step2.gif" width="422"></td>
	<td><img alt="Claim Issued/Claim not Approved" border="0" height="81" src="/img/en/inf_cow_unpaid_step3.gif" width="422"></td>
	<td><img alt="Documentation Submitted" border="0" height="81" src="/img/en/inf_cow_unpaid_step4.gif" width="422"></td>
	<td><img alt="Claim Payment Approved/Not Approved" border="0" height="81" src="/img/en/inf_cow_unpaid_step5.gif" width="422"></td>
	<td><img alt="C.O.D. Collected" border="0" height="81" src="/img/en/inf_cow_unpaid_step6.gif" width="422"></td>
	End Image: Unpaid C.O.D. Process -->
</tr>
</table>
<!-- End Table: Functional Table 2 (Parent:Module Table) -->
	
<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">View Uncollected C.O.D. Confirmation</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">
		
		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			We have received your request to search for an unpaid C.O.D. We regret any inconvenience that this may have caused you.
			<br><br>
			Tracking Number:<img alt="" border="0" height="1" src="/img/1.gif" width="10">1Z 5738 5736 5993 56 479
			<br>
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">UPS Next Steps</span><br>
			
			<!-- Dyanamic text based on status -->
			UPS will search for your C.O.D. and notify you with any updates or additional information requests. You may check your status online to see our progress. 
			<!-- Dyanamic text based on status -->
						
			<br>
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Your Next Steps</span><br>
			
			<!-- Dyanamic text based on status -->
			You are not required to provide any additional information at this time.  If you have any questions, please contact UPS Customer Service at 1-800-PICK UPS (1-800-742-5877).
			<!-- Dyanamic text based on status -->
			
			<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Package Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Tracking Number</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1Z T71 611 03 9500 902</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Ship Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Service:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">UPS Next Day Air</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Weight:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">5 lbs</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Number of Packages:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Declared Value:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XXX.XX USD</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Status:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Delivered</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Signed By:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">R. Jones</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Delivery Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX, ##:## X.M.</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Shipping Label Information</span><br>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="100"></td>
			</tr>
			<tr>
				<td><span class="pi-h4">Ship From:</span><br>
				Company Name<br>
				Name<br>
				Address 1<br>
				Address 2<br>
				Address 3<br>
				City, State<br>
				ZIP, Country or Territory<br>
				Telephone<br>
				Ext.<br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
				<td><span class="pi-h4">Ship To/Delivered To:</span><br>
				Company Name<br>
				Name<br>
				Address 1<br>
				Address 2<br>
				Address 3<br>
				City, State<br>
				ZIP, Country or Territory<br>
				Telephone<br>
				Ext.<br>
				</td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">C.O.D. Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Amount:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XXX.XX USD</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Control Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">12345678</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"><br></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
			<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="402">
			<span class="pi-h3">Merchandise Information</span>
			<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Number of Packages Received:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">4</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Merchandise Description 1:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[provide description]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4"># of Items:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">2</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Merchandise Description 2:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[provide description]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4"># of Items:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">2</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Additional Information:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[provide user input.]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Reference Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">P.O. Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[reference #]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Invoice Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[reference #]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Shipper Reference Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[reference #]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
				<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Primary Contact Information</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Contact Name</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Joe Customer</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Telephone:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">123-456-7890</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Ext.:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">11111</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">E-mail</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">customer@work.com</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">E-mail a confirmation to all contacts</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">&nbsp;</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">E-mail status updates to all contacts.</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">&nbsp;</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Secondary Contact Name:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">&nbsp;</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top"><span class="pi-h4">Secondary E-mail</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">&nbsp;</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="402">
			<span class="pi-h3">Primary Contact Preferences</span><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<div class="pi-m-pad">
			[address 1]<br>
			[address 2]<br>
			[address 3]<br>
			[city, state]<br>
			[zip, country]<br>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td nowrap valign="top"><span class="pi-h4">Telephone:</span></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%">234-456-7809</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td nowrap valign="top"><span class="pi-h4">Fax Number:</span></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%">234-567-8900</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			</table>
			[fax country]
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

	<!-- Begin Table: Printer Friendly Footer Table -->
	<table border="0" cellpadding="0" cellspacing="0" width="422">
	<tr>
	<td align="right" valign="bottom">
	
	<!-- Begin Table: Close Window(Parent:Printer Friendly Footer Table) -->
	<table border="0" cellpadding="0" cellspacing="0" align="right">
	<tr>
		<td colspan="2"><img alt="" border="0" height="8" src="/img/1.gif" width="10"></td>
	</tr>
	<tr>
		<td valign="middle" class="noprint"><a href="javascript:window.close();"><img alt="Close Window" border="0" height="14" src="/img/btn_close_mini.gif" width="14">Close Window</a></td>
		<td><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
	</tr>
	</table>
	<!-- End Table: Close Window(Parent:Printer Friendly Footer Table) -->
	
	</td>
</tr>
<tr>
	<td>
	
	<!--- Begin Table: Footer(Parent:Printer Friendly Footer Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><img alt="" border="0" height="20" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="7" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td>
		<span class="grey2">
		Copyright&nbsp;&copy; 1994-2005 United Parcel Service of America, Inc. All rights reserved.<br>
		</span>
		</td>
	</tr>
	<tr>
		<td height="10"><img alt="" border="0" height="10" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!--- End Table: Footer(Parent:Printer Friendly Footer Table) --->
	
	</td>
</tr>
</table>
<!-- End Table: Printer Friendly Footer Table -->

</form>
</div>
	