---
title: ct1_res_cus_cla(1sum)_fil(7con)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-h1" valign="top">Report</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 3col plus 1col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="422"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA2-t" colspan="3" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="422">
									<tr>
										<td class="pi-m-txt-title">View Submit Documents Confirmation</td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c" valign="top" width="100%"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad" align="right">
												<input class="btnlnkR printmini" value="Printer Friendly" type="button">
												<br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> Thank you for sending your supporting documents. We will review these. If necessary, we will contact the shipper for additional information. <br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 1 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Claim Number</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">123456789</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Tracking Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1Z 5738 5736 5993 56 479</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Shipper UPS Account Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[########]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Claim Type:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Damage]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><br>
											Document(s):</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%"><br>
											[document 1, document 2]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad">
												<input class="btn" value="Print Claim Payment Form" type="button">
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"><br>
												<em>Issuance of the claim number above or submission of required documents does not guarantee approval or payment of claim.</em></div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
				<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="134"><!-- Begin Table: Support Module (Parent:Formatting Table) -->
					
					<table class="pi-mB1" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mB1-t">Claims Resources</td>
						</tr>
						<tr>
							<td class="pi-mB1-c" valign="top"><div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Preventing Claims</a></div>
								<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Email Claims Question</a></div></td>
						</tr>
						<tr>
							<td class="pi-mB1-b" valign="top"><img alt="" height="3" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Support Module (Parent:Formatting Table) --> 
					
					<br>
					
					<!-- Begin Table: Support Module (Parent:Formatting Table) -->
					
					<table class="pi-mB1" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mB1-t">Download, View, and Print</td>
						</tr>
						<tr>
							<td class="pi-mB1-c" valign="top"><span class="pi-h4">Adobe Reader</span><br>
								If you have not already installed and configured the Adobe Reader or plug-in, select the <span class="pi-h4">Get Adobe Reader</span> icon for further instructions.<br>
								<br>
								<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Get Adobe Reader</a></div>
								<br>
								<input alt="Get Acrobat" border="0" height="31" name="get acrobat" src="/img/en/btn_get_acrobat.gif" type="image" width="88">
								<br>
								<br>
								Adobe, Adobe Reader, and the Adobe Logo are trademarks of Adobe Systems Incorporated. </td>
						</tr>
						<tr>
							<td class="pi-mB1-b" valign="top"><img alt="" height="3" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Support Module (Parent:Formatting Table) --></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 3col plus 1col -->
		
	</form>
</div>
