---
title: ct1_res_cus_cla(1sum)_cps(3lim)_v1
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Check Status</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td>			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="8"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-4">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
</td>
	<!-- Begin Image: Damages Process
	<td><img alt=" UPS Inspects Package if Required" border="0" height="81" src="/img/en/inf_cow_dam_step2.gif" width="422"></td>
	<td><img alt="Claim Issued/Claim not Approved" border="0" height="81" src="/img/en/inf_cow_dam_step3.gif" width="422"></td>
	<td><img alt="Documentation Submitted" border="0" height="81" src="/img/en/inf_cow_dam_step4.gif" width="422"></td>
	<td><img alt="Claim Payment Approved/Not Approved" border="0" height="81" src="/img/en/inf_cow_dam_step5.gif" width="422"></td>
	End Image: Damages Process -->
</tr>
</table>
<!-- End Table: Functional Table 2 (Parent:Module Table) -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">View Detail</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<span class="pi-h3">Your Next Steps</span><br>
			<span class="pi-h4">Keep the Package for Inspection</span><br>
			[Please hold the package in its original packaging at the current location.]
			<br><br>
			<span class="pi-h3">UPS Next Steps</span><br>
			[UPS will review your claim and determine if it will be approved for payment. Your package may be inspected, and if the claim is approved, supporting documentation will be required.]
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
				
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td colspan="4"><span class="pi-h3">Claim Information</span></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Status:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[find most recent status]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Tracking Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1Z63R9A67261549471</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Claim Type:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[Damage/Lost/Uncollected C.O.D.]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Merchandise Detail(s):</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[provide MD/ MD/...]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<br>
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td colspan="4"><span class="pi-h3">Requested Claim Information</span></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Merchandise Description 1:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1000 Business Cards</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Merchandise Description 2:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Note Pads</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Merchandise Description 3:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Pencils</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<span class="pi-h3">More Information</span><br>
			To access more information about this claim, please provide the claim number, shipper account number and postal code.<br><br>
			<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">View More Claim Details</a> 
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="Back" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><a href="repl_href">Back to previous</a>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134">
	
		<!-- Begin Table: Support Module (Parent:Formatting Table) -->
	<table class="pi-mB1" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mB1-t">Claim Resources</td>
	</tr>
	<tr>
		<td class="pi-mB1-c" valign="top">
		<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Preventing Claims</a></div>
		<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Email Claims Question</a></div>
		</td>
	</tr>
	<tr>
		<td class="pi-mB1-b" valign="top"><img alt="" height="3" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Support Module (Parent:Formatting Table) -->
	
	</td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->


</form>
</div>
		
			
