---
title: ct1_res_cus_cla(1sum)_los(2inf)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Report</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Complete Form to Report A Lost {Package/Pallet}</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
        	<td><div class="pi-m-pad redErrorBold">
            >>>Error message
            </div></td>
        </tr>
		<tr>
			<td><div class="pi-m-pad"><p>
			Please complete the information below to report a lost {package/pallet}. Required fields are indicated by <img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" >.
			</p></div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544">
			<span class="pi-h3">{Package/Pallet} Information</span><br>
			</div></td>
		</tr>
        <tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Tracking Number:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1Z T71 611 03 9500 902 3</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Ship Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XX/XX/XXXX</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Service:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">UPS Next Day Air</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Weight:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">5 lbs</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Number of {Packages/Pallets}:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">1</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <!-- Not a existing value on ER1413 Spec-->
		<!--tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Declared Value:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">XXX.XX USD</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr-->
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Status:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">Delivered</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
        <!-- Not a existing value on ER1413 Spec-->
		<!--tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Signed By:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">R. Jones</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td nowrap valign="top">Delivery Date:</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[provide date and time from tracking]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr-->
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
            	<div class="pi-m-pad">
					<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544">
					<span class="pi-h3">Shipping Details</span>
                </div>
            </td>
         </tr>
         <tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		 </tr>  
         <tr>
            <td>
            	<div class="pi-m-pad"><p>
                    You must complete at least one of the e-mail address, telephone number or fax number fields for both the Shipped From and the Shipped To addresses below so we can communicate with the {Package/Pallet} shipper and recipient.
                </p></div>
			</td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="546"></td>
		</tr>
		<tr>
			<td>
            <div class="pi-m-pad">
                <span class="pi-h4">Shipped From:</span>&nbsp;<img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br>
                Company Name<br>
                Name<br>
                Address 1<br>
                Address 2<br>
                Address 3<br>
                City, State<br>
                ZIP, Country or Territory<br>
                Telephone<br>
                Ext.:<br>
			</div>
            </td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
			<td>
            <div class="pi-m-pad">
                <span class="pi-h4">Shipped To:</span>&nbsp;<img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ><br>
                Company Name<br>
                Name<br>
                Address 1<br>
                Address 2<br>
                Address 3<br>
                City, State<br>
                ZIP, Country or Territory<br>
                Telephone<br>
                Ext.:<br>
			</div>
            </td>
		</tr>
        <tr>
			<td colspan="3"><img alt="" border="0" height="8" src="/img/1.gif" width="546"></td>
		</tr>
        <tr>
        	<td><div class="pi-m-pad redErrorBold">
            >>>Name or Company Name:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad redErrorBold">
            >>>Name or Company Name:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad redErrorBold">
            >>>Postal Code:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad redErrorBold">
            >>>Postal Code:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ><img alt="" border="0" width="10px" height="8px" src="/img/icn_diamond.gif" ></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad pi-h4">
            E-mail:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad pi-h4">
            E-mail:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" maxlength="35" size="19" type="text" value="customer@work.com"></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" maxlength="35" size="19" type="text" value="customer@work.com"></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad pi-h4">
            Telephone:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad pi-h4">
            Telephone:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad pi-h4">
           	Fax:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad pi-h4">
            Fax:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ></div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad"><input class="modTxtMedium" name="" id="" type="text" value="" ></div>
            </td>
        </tr>
        <tr>
        	<td><div class="pi-m-pad pi-h4">
           	Fax Country or Territory:
            </div></td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td><div class="pi-m-pad pi-h4">
            Fax Country or Territory:
            </div></td>
        </tr>
        <tr>
        	<td>
             	<div class="pi-m-pad">
                <select class="modTxtMedium" name="" id="" width="200px">
                	<option value="US">United States</option>
                    <option value="US">Canada</option>
                </select>
                </div>
            </td>
            <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
            <td>
            	<div class="pi-m-pad">
                <select class="modTxtMedium" name="" id="" width="200px">
                	<option value="US">United States</option>
                    <option value="US">Canada</option>
                </select>
                </div>
            </td>
        </tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544">
			<span class="pi-h4">Type of Loss:</span><br>
			
			<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td><input class="rad" name="repl_fname" type="radio" value="repl_fvalue"></td>
				<td>&nbsp;</td>
				<td>The {package/pallet} was delivered to an address other than the Ship To address.<br></td>
			</tr>
            <!-- Not provided on ER1314 spec-->
			<!--tr>
				<td><input class="rad" name="repl_fname" type="radio" value="repl_fvalue"></td>
				<td>&nbsp;</td>
				<td>Unable to locate the {package/pallet}, although the status shows that it was delivered.<br></td>
			</tr-->
			<tr>
				<td><input class="rad" name="repl_fname" type="radio" value="repl_fvalue"></td>
				<td>&nbsp;</td>
				<td>Recipient denies receipt of {package/pallet}, although the status shows it was delivered and signed for.<br></td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
        
        <!-- ***** This Section Not provided on ER1314 spec *****-->
		
        <!--table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544">
			<span class="pi-h4">Name of Person Denying Receipt:</span><br>
			<input class="modTxtLarge" maxlength="35" size="34" type="text"><br-->
			
			<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
			<!--table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td>
				<span class="pi-h4">Telelphone of Denying Person:</span><br>
				<input class="modTxtMedium" maxlength="15" type="text"><br></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td>Ext.:<br>
				<input class="modTxtSmall" maxlength="15" type="text"><br>
				</td>
			</tr>
			</table-->
			<!-- End Table: Functional Table 1 (Parent:Module Table) -->
			
			<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
			<!--table>
            <tr><td colspan="5">&nbsp;</td></tr>
			<tr>
				<td colspan="5"><span class="pi-h4">Date of Denial:</span></td>
			</tr>
			<tr>
				<td>
				<span class="pi-h4">Month:</span><br>
				<select name="repl_fname" class="modSelSmall2" size="1">
				  <option>07</option>
				</select>
				</td>
				<td>
				<span class="pi-h4">Day:</span><br>
				<select name="repl_fname" class="modSelSmall2" size="1">
				  <option>14</option>
				</select>
				</td>
				<td>
				<span class="pi-h4">Year:</span><br>
				<select name="repl_fname" class="modSelSmall2" size="1">
				  <option>2005</option>
				</select>
				</td>
			</tr>
			</table-->
			<!-- End Table: Functional Table 1 (Parent:Module Table) -->
			
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="20" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input value="Next" name="next" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
		
</div>			
	