---
title: ct1_res_cus_cla(1sum)_dam(2una)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">Report</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 3col plus 1col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="422"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td><span class="pi-h3">Package is not Eligible</span><br>
								<br></td>
						</tr>
					</table>
					
					<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
					
					<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td nowrap valign="top"><span class="pi-h4">UPS Tracking Number:</span></td>
							<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
							<td valign="top" width="100%">1Z63R9A67261549471</td>
						</tr>
						<tr>
							<td colspan="3"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
					
					<br>
					
					<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td><!-- Dyanamic text based on status --> 
								You may not report damage as this package has not yet been delivered <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"> 
								<!-- Dyanamic text based on status --> 
								
								<a href="repl_href">View Tracking Details</a> <br>
								<br>
								To receive status updates regarding this package, register for Quantum View<sup>SM</sup> Notify.<br>
								<br>
								<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Learn More</a><br>
								<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Request Quantum View Notify<sup>SM</sup></a><br></td>
						</tr>
					</table>
					
					<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
				<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 3col plus 1col -->
		
	</form>
</div>
