---
title: ct1_res_cus_cla(1sum)_his(2fil)_v1
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Claim History</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA3-t" colspan="3" valign="top"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA3-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA3-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA3-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA3-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA3-c" valign="top" width="100%"><div class="pi-m-pad">
		To further refine your Claims History view, select the filter you would like to apply then select Go. 
		<br><br>
		Filter Claims by:<br>
		<select name="repl_fname" class="modSelMedium" size="1">
			<option>Select One</option>
		</select>
		<img alt="" border="0" height="1" src="/img/1.gif" width="3"><input class="btn" value="Go" name="go" type="submit">
		<br><br>
		Filter Path: <a href="repl_href">Claims History</a> &gt; Claim Status
		</div></td>
		<td class="pi-mA3-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA3-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA3-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA3-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA3-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	<br>
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Select Filter Details</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			All Claim Statuses available in your claims history are shown below. To reduce the number of claims shown in your Claims History, select one or more filters below. Only claims that match the filters selected will be shown.
			<br><br>
			<span class="pi-h3">Select Filter Values</span>
			<br><br>
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td><input value="Clear All" name="clear all" class="btnlnkL clearmini" type="button"></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td><input value="Select All" name="select all" class="btnlnkL checkmini" type="button"></td>
			</tr>
			</table>
			<br>
			<span class="pi-h4">Claim State</span><br>
			<input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Closed<br>
			<input class="rad" name="repl_fname" checked type="checkbox" value="repl_fvalue">&nbsp;Open<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input value="Cancel" name="cancel" class="btn" type="button"><input value="Update" name="update" class="btn" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->


</form>
		
</div>