---
title: ct1_res_cus_cla(1sum)_his(3can)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">Claims History</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 3col plus 1col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="422"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA2-t" colspan="3" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="422">
									<tr>
										<td class="pi-m-txt-title">Cancel Claim Confirmation</td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c" valign="top" width="100%"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> Your request to cancel a claim is being processed. <br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Shipper UPS Account Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">12345678</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Claim Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">12345678</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Tracking Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1Z03E05W0322970678</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <span class="pi-h4">Reason for Cancellation:</span><br>
												[Reason for cancellation]<br>
												[If Reason is 'Other' provide reason from user input.] <br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Supporting Details:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Provide any commnets submitted by shipper in this area.]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Name:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Name]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Telephone:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Phone number]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">Telephone Country or Territory:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Country or Territory]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><span class="pi-h4">E-mail:</span></td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[E-mail address]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <br>
												<img alt="Back to Detail" border="0" height="8" src="/img/icn_back_arrow.gif" width="8">
												<input value="Back to Detail" name="back to detail" class="btnlnk" type="button">
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
				<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="134"><!-- Begin Table: Support Module (Parent:Formatting Table) -->
					
					<table class="pi-mB1" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mB1-t">Claims Resources</td>
						</tr>
						<tr>
							<td class="pi-mB1-c" valign="top"><div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Damaged Packages Claims Process </a></div>
								<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Lost Packages Claims Process</a></div>
								<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">C.O.D Package Search Process</a></div>
								<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Claims FAQ</a></div>
								<div class="pi-m-pad-arrow">&nbsp;<img alt="" border="0" height="10" src="/img/icn_arrow_blue.gif" width="10"><a href="repl_href">Preventing Claims</a></div></td>
						</tr>
						<tr>
							<td class="pi-mB1-b" valign="top"><img alt="" height="3" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Support Module (Parent:Formatting Table) --></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 3col plus 1col -->
		
	</form>
</div>
