---
title: ct1_res_cus_cla(1sum)_his(2vie)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Claims History</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">Download Files</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			To download the files, select <span class="pi-h4">Download</span> below for each of the files listed.  When file download requests exceed 5MB in size, multiple files are created. Each file must be individually downloaded. 
			<br><br>
			<span class="pi-h3">Download Files</span>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr class="pi-r1-t">
			<td class="pi-r1-pad" width="25%">File Name</td>
			<td class="pi-r1-line" width="25%">File Format</td>
			<td class="pi-r1-line" width="25%">Date Created</td>
			<td class="pi-r1-line" width="25%">Download</td>
		</tr>
		</thead>
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">ABCClaims_05052005_01.csv</td>
			<td class="pi-r1-pad">CSV</td>
			<td class="pi-r1-pad">01/01/2005</td>
			<td class="pi-r1-pad"><input value="Download" name="download" class="btnlnkL downmini" type="button"> </td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">ABCClaims_05052005_02.csv</td>
			<td class="pi-r1-pad">CSV</td>
			<td class="pi-r1-pad">01/01/2005</td>
			<td class="pi-r1-pad"><input value="Download" name="download" class="btnlnkL downmini" type="button"></td>
		</tr>
		</tbody>
		<tfoot>
		<tr class="pi-r1-b">
			<td colspan="4"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		</tfoot>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->
		
		<br>
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="Back" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><input value="Back to Claims History" name="back to claims history" class="btnlnk" type="button">
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->


</form>
		
</div>