---
title: ct1_res_cus_cla(1sum)_his(3con)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">Claims History</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 3col plus 1col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="422"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA2-t" colspan="3" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="422">
									<tr>
										<td class="pi-m-txt-title">View Download Request</td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c" valign="top" width="100%"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> We have received your request to download claim details. <br>
												<br>
												You will be notified at your My UPS profile e-mail when the following file is available for download. <br>
												<br>
												<span class="pi-h4">File Name:</span> [ABC Claims] <br>
												<br>
												To access the file for download, go to Claims History and select <span class="pi-h4">View Downloads</span>. <br>
												<br>
												<img alt="Back" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><a href="repl_href">Back to Claims History</a> </div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
				<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 3col plus 1col -->
		
	</form>
</div>
