---
title: ct1_res_cus_cla(1sum)_add_v2
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
				
	<form action="repl_faction">
	
	<!-- Begin Table: Formatting Table 3col plus 1col -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td valign="top" width="422">
		
		<!-- Begin Table: Module Table (Parent:Formatting Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1-t" valign="top">
			
			<!-- Begin Table: Module Title (Parent:Module Table) -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-m-txt-title">Edit [Contact] Address</td>
			</tr>
			</table>
			<!-- End Table: Module Title (Parent:Module Table) -->
			
			</td>
		</tr>
		<tr>
			<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		<tr>
			<td class="pi-mA1-c" valign="top">
			
			<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><div class="pi-m-pad">
				Please edit the address below.  Required fields are shown in <span class="pi-h4">bold</span>.<br><br>
				<span class="pi-h4">Company Name:</span><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[Company Name]"><br><br>
				<span class="pi-h4">Name:</span><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[Contact]"><br><br>
				<span class="pi-h4">Country or Territory:</span><br>
				[United States]<br><br>
				<span class="pi-h4">Address Line 1:</span><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[Address]"><br><br>
				Address Line 2:<br> 
				<input class="modTxtMedium" maxlength="35" size="19" type="text"><br><span class="reqTxtInst">Apartment, suite, unit, building, floor, etc.</span><br><br>
				Address Line 3:<br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text"><br><span class="reqTxtInst">Department, c/o, etc.</span><br><br>
				<span class="pi-h4">City:</span><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[City]"><br><br>
				<span class="pi-h4">State:</span><br>
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>[Select One]</option>
				</select><br><br>
				<span class="pi-h4">ZIP Code:</span><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[XXXXX]"><br><br>
				
				</div></td>
			</tr>
			</table>
			<!-- End Table: Functional Table 2 (Parent:Module Table) -->
			
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td><div class="pi-m-pad">
				<span class="pi-h4">Telephone:</span><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value="[Telephone]"><br>
				</div></td>
				<td>
				Ext.:<br>
				<input class="modTxtSmall" maxlength="35" size="4" type="text"><br>
				</td>
			</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		<tr>
			<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		<tr>
			<td class="pi-mA1-b" valign="top">
			
			<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-m-button" nowrap><input value="Update" name="update" class="btn" type="submit"></td>
			</tr>
			</table>
			<!-- End Table: Form Control Buttons(Parent:Module Table) -->
			
			</td>
		</tr>
		</table>
		<!-- End Table: Module Table (Parent:Formatting Table) -->
			
		</td>
		<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
	</tr>
	</table>
	<!-- End Table: Formatting Table 3col plus 1col -->
	
	</form>
</div>
		
	
