---
title: ct1_res_cus_cla(1sum)_cps(2one)_v1
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Check Status</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">
	
	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">
		
		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">Provide UPS Account Number</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">
		
		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			UPS Claim Number:<br>
			12345678
			<br><br>
			To view details of this claim, select its Account Number or provide the shipper's Account Number and Postal Code. Required fields are shown in <span class="pi-h4">bold</span>.
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->
		
		<!--- Begin Table: Functional Table 4a (Parent:Module Table) --->
		<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!--- End Table: Functional Table 4a (Parent:Module Table) --->
		
		<!-- Begin table: Functional Table 4b (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">
			
			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td width="100%">
				<div class="pi-m-pad">
				<span class="pi-h4">Shipper UPS Account Number:</span><br>
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>[select an account number]</option>
				</select>
				</div>
				</td>
			</tr>
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->
				
			</td>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 4b (Parent:Module Table) -->
		
		<!-- Begin table: Functional Table 4c (Parent:Module Table) -->
		<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="8" src="/img/1.gif" width="10"><br>
			<div class="pi-m-pad">
			<br>
			<span class="pi-h4">-OR-</span>
			<br><br>
			</div>
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="10"><br></td>
		</tr>
		</table>
		<!-- End table: Functional Table 4c (Parent:Module Table) -->
		
		<!-- Begin table: Functional Table 4d (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">
			
			<!-- Begin table: Inner Table (Parent:Functional Table 4d) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td width="100%">
				<div class="pi-m-pad">
				<span class="pi-h4">Shipper UPS Account Number:</span><br>
				<input class="modTxtMedium" maxlength="35" size="35" type="text" value=""><br>
				<span class="pi-h4">Postal Code: (Pick-up Location)</span><br>
				<input class="modTxtMedium" maxlength="35" size="35" type="text" value=""><br>
				</div>
				</td>
			</tr>
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4d) -->
				
			</td>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td class="pi-mA1" colspan="3"><img alt="" border="0" height="10" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 4d (Parent:Module Table) -->
		
		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">
		
		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-button" nowrap><input value="Cancel" name="cancel" class="btn" type="button"><input value="Continue" name="repl_fname" class="btn_a" type="submit"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->
		
		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	
	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>
		
</div>