---
title: ct1_res_cus_cla(1sum)_fil(7con)_pfv
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Printer Friendly Header Table -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td colspan="4" ><img alt=""  border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td colspan="4" ><img alt=""  border="0" height="7" src="/img/glo_tab_white.gif" width="76"></td>
			</tr>
			<tr>
				<td rowspan="2" width="10"><img alt="" border="0" height="68" src="/img/1.gif" width="10"></td>
				<td width="42"><img alt="" border="0" height="2" src="/img/1.gif" width="42"></td>
				<td rowspan="2" width="116"><img alt="" border="0" height="1" src="/img/1.gif" width="116"></td>
				<td align="right" rowspan="2" valign="bottom"><!-- Begin Table: Close Window(Parent:Printer Friendly Header Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="middle"><input name="close window" type="button" class="btnlnkL crossmini" value="Close Window" onClick="window.close();"></td>
							<td><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
						</tr>
						<tr>
							<td colspan="2"><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
						</tr>
					</table>
					
					<!-- End Table: Close Window(Parent:Printer Friendly Header Table) --></td>
			</tr>
			<tr>
				<td height="55" width="42" valign="top"><img alt="UPS" border="0" height="55" src="/img/glo_ups_brandmark_pfv.gif" width="42"></td>
			</tr>
		</table>
		<!-- End Table: Printer Friendly Header Table --> 
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-h1" valign="top">Report</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 3col plus 1col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="422"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA2-t" colspan="3" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="422">
									<tr>
										<td class="pi-m-txt-title">Submit Documents Confirmation</td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c" valign="top" width="100%"><!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> Thank you for sending your supporting documents. We will review these. If necessary, we will contact the shipper for additional information. <br>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 1 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Claim Number</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">123456789</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Tracking Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">1Z 5738 5736 5993 56 479</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Shipper UPS Account Number:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[########]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top">Claim Type:</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%">[Damage]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td nowrap valign="top"><br>
											Document(s):</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
										<td valign="top" width="100%"><br>
											[document 1, document 2]</td>
										<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
									</tr>
									<tr>
										<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 3 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <br>
												<em>Issuance of the claim number above or submission of required documents does not guarantee approval or payment of claim.</em> </div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
				<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 3col plus 1col --> 
		
		<!-- Begin Table: Printer Friendly Footer Table -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td align="right" valign="bottom"><!-- Begin Table: Close Window(Parent:Printer Friendly Footer Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" align="right">
						<tr>
							<td colspan="2"><img alt="" border="0" height="8" src="/img/1.gif" width="10"></td>
						</tr>
						<tr>
							<td valign="middle"><input name="close window" type="button" class="btnlnkL crossmini" value="Close Window" onClick="window.close();"></td>
							<td><img alt="" border="0" height="5" src="/img/1.gif" width="10"></td>
						</tr>
					</table>
					
					<!-- End Table: Close Window(Parent:Printer Friendly Footer Table) --></td>
			</tr>
			<tr>
				<td><!--- Begin Table: Footer(Parent:Printer Friendly Footer Table) --> 
					<!--- End Table: Footer(Parent:Printer Friendly Footer Table) --></td>
			</tr>
		</table>
		<!-- End Table: Printer Friendly Footer Table -->
		
	</form>
</div>
