---
title: ct1_res_cus_cla(1sum)_his(1all)
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
	<form action="repl_faction">
		
		<!-- Begin Table: Page Header no Icon -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td class="pi-h1" valign="top">Claims History</td>
			</tr>
		</table>
		<!-- End Table: Page Header no Icon --> 
		
		<!-- Begin Table: Formatting Table 4col -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
			<tr>
				<td valign="top" width="566"><!-- Begin Table: Module Table (Parent:Formatting Table) -->
					
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="pi-mA2-t" colspan="3" valign="top"><!-- Begin Table: Module Title (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="566">
									<tr>
										<td class="pi-m-txt-title">View Package History</td>
										<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
									</tr>
								</table>
								
								<!-- End Table: Module Title (Parent:Module Table) --></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c" valign="top" width="100%"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="566">
									<tr>
										<td><div class="pi-m-pad"> View the history of lost, damaged or C.O.D searches filed with UPS. You can change how this page is displayed by updating <a href="repl_href">Set Preferences</a>. <br>
												<br>
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td>Days Displayed:</td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="3"></td>
														<td>&nbsp;</td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
														<td>Filter Claims by:</td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="3"></td>
														<td>&nbsp;</td>
													</tr>
													<tr>
														<td><select name="repl_fname" class="modSelMedium" size="1">
																<option>Last 30 Days</option>
															</select></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="3"></td>
														<td><input class="btn" value="Go" name="go" type="submit"></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
														<td><select name="repl_fname" class="modSelMedium" size="1">
																<option>Select Filter</option>
															</select></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="3"></td>
														<td><input class="btn" value="Go" name="go" type="submit"></td>
													</tr>
												</table>
												<br>
												Filter Path: <a href="repl_href">Claims History</a>&nbsp;&gt;&nbsp;<a href="repl_href">Claim Status</a><br>
												<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"><br>
												<span class="pi-h3">Download Options</span><br>
												To download the current view, select <span class="pi-h4">Request Download</span>. To view downloads that you have previously requested, select <span class="pi-h4">View Downloads</span>. <br>
												<br>
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
															<input class="btnlnk" value="Request Downloads" name="Request Downloads" type="button"></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
														<td><img alt="" border="0" height="1" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
															<input class="btnlnk" value="View Downloads" name="view downloads" type="button"></td>
													</tr>
												</table>
												<br>
											</div></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <span class="pi-h4">Displaying 1 - 20 of 134</span><br>
												<input class="btnLnk" value="Previous" name="previous" type="button">
												<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
												<input class="btnLnk" value="Next" name="next" type="button">
												<br>
											</div>
											<br></td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --> 
								
								<!-- Begin Table: Inner Content (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<thead>
										<tr class="pi-r1-t">
											<td width="14%" nowrap class="pi-r1-pad"><input class="btnlnk" value="Tracking Number" name="tracking number" type="submit">
												<input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
											<td width="14%" nowrap class="pi-r1-line"><input class="btnlnk" value="Type" name="type" type="submit">
												<input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
											<td width="12%" nowrap class="pi-r1-line"><input class="btnlnk" value="Claim No." name="claim no." type="submit">
												<input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
											<td width="12%" nowrap class="pi-r1-line"><input class="btnlnk" value="Date Filed" name="Date Filed" type="submit">
												<input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
											<td width="12%" nowrap class="pi-r1-line"><input class="btnlnk" value="UPS Account No." name="UPS Account No." type="submit">
												<input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
											<td width="12%" nowrap class="pi-r1-line"><input class="btnlnk" value="Status" name="Status" type="button">
												<input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
											<td width="12%" nowrap class="pi-r1-line"><input class="btnlnk" value="Claim Amount" name="Claim Amount" type="submit">
												<input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
											<td width="12%" nowrap class="pi-r1-line"><input class="btnlnk" value="Claim Amount Currency" name="Claim Amount Currency" type="submit">
												<input alt="" border="0" height="10" name="repl_fname" src="/img/xln_arrow_black_down.gif" type="image" width="10"></td>
										</tr>
									</thead>
									<tbody>
										<tr class="pi-r1-rwo">
											<td class="pi-r1-pad">1Z03E05W0322970678<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Damaged</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">05/13/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Damage Reported by Shipper<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Submit documents" name="submit documents" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwe">
											<td class="pi-r1-pad">1Z03E05W0322970679<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Damaged</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">05/10/2005</td>
											<td class="pi-r1-pad">675433</td>
											<td class="pi-r1-pad">Package Inspection Scheduled<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Submit documents" name="submit documents" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">45.73</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwo">
											<td class="pi-r1-pad">1Z03E05W0322970680<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Damaged</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">05/01/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Package Inspection Complete - Approved Final Review of Complete Documentation</td>
											<td class="pi-r1-pad">6.30</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwe">
											<td class="pi-r1-pad">1Z03E05W0322970681<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Damaged</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/22/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Package Inspection Complete - Not Approved</td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwo">
											<td class="pi-r1-pad">1Z03E05W0322970682<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Damaged</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/19/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Claim Approved for XXX.XX USD - Awaiting Payment</td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwe">
											<td class="pi-r1-pad">1Z03E05W0322970683<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Damaged</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/18/2005</td>
											<td class="pi-r1-pad">675433</td>
											<td class="pi-r1-pad">UPS Processes Payment</td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwo">
											<td class="pi-r1-pad">1Z03E05W0322970684<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Damaged</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/10/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Damage Found by UPS<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Submit documents" name="submit documents" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwe">
											<td class="pi-r1-pad">1Z03E05W0322970685<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Lost</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/08/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Package Search Complete - Found</td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwo">
											<td class="pi-r1-pad">1Z03E05W0322970686<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Lost</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/06/2005</td>
											<td class="pi-r1-pad">675433</td>
											<td class="pi-r1-pad">Package Search in Progress</td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwe">
											<td class="pi-r1-pad">1Z03E05W0322970687<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Lost</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/01/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Package Search Complete - Not Found<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Update Claims and Submit Documents" name="Update Claims and Submit Documents" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwo">
											<td class="pi-r1-pad">1Z03E05W0322970688<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Lost</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/01/2005</td>
											<td class="pi-r1-pad">675433</td>
											<td class="pi-r1-pad">Awaiting Additional Documents - Missing Proof of Value <br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Submit documents" name="submit documents" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwe">
											<td class="pi-r1-pad">1Z03E05W0322970689<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Lost</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/01/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Incomplete Documentation<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Submit documents" name="submit documents" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwo">
											<td class="pi-r1-pad">1Z03E05W0322970690<br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Lost</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/01/2005</td>
											<td class="pi-r1-pad">987654</td>
											<td class="pi-r1-pad">Final Review of Complete Documentation</td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
										<tr class="pi-r1-rwe">
											<td class="pi-r1-pad"><i>Not available</i><br>
												<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">
												<input value="Claim detail" name="claim detail" class="btnlnk" type="submit"></td>
											<td class="pi-r1-pad">Lost</td>
											<td class="pi-r1-pad">12345678</td>
											<td class="pi-r1-pad">04/01/2005</td>
											<td class="pi-r1-pad">675433</td>
											<td class="pi-r1-pad">Claim Not Approved</td>
											<td class="pi-r1-pad">120.01</td>
											<td class="pi-r1-pad">USD</td>
										</tr>
									</tbody>
									<tfoot>
										<tr class="pi-r1-b">
											<td colspan="7"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
										</tr>
									</tfoot>
								</table>
								
								<!-- End Table: Inner Content (Parent:Module Table) --> 
								
								<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td><div class="pi-m-pad"> <br>
												<span class="pi-h4">Displaying 1 - 20 of 134</span><br>
												<input class="btnLnk" value="Previous" name="previous" type="button">
												<img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11">
												<input class="btnLnk" value="Next" name="next" type="button">
												<br>
											</div>
											<br></td>
									</tr>
									<tr>
										<td align="center">Status updated by UPS: Apr 6, 2004 11:34 A.M. Eastern Time (USA)</td>
									</tr>
								</table>
								
								<!-- End Table: Functional Table 2 (Parent:Module Table) --></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr>
							<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</table>
					
					<!-- End Table: Module Table (Parent:Formatting Table) --></td>
			</tr>
		</table>
		<!-- End Table: Formatting Table 4col -->
		
	</form>
</div>
