---
title: damages_progress
layout: legacy.hbs
version: v4
appID: com.ups.cla
appCSS: ups.legacy_overrideCOU
dir: ltr
lang: en
---
<div id="main">
	
			
			
<form action="repl_faction">

<!-- Begin




1.
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="8"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-4">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	<br><br><br><br>2.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-3">Report Damage</td>
						<td class="pi-mA6-c-4">UPS Inspects Package</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	<br><br><br><br>3.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-3">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-4">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	<br><br><br><br>4.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-3">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-4">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
				</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	<br><br><br><br>5.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-3">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-4">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	<br><br><br><br>6.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/1.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/1.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-3">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-4">Claim Not Approved</td>
						<td class="pi-mA6-c-3">&nbsp;</td>
						<td class="pi-mA6-c-3">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	<br><br><br><br>7.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-3">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Reviews Documents, if Required</td>
						<td class="pi-mA6-c-4">Claim Not Approved</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	
<br><br><br><br>8.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="8"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-4">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	<br><br><br><br>9.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-3">Report Damage</td>
						<td class="pi-mA6-c-4">UPS Inspects Package</td>
						<td class="pi-mA6-c-3">Shipper Submits Documents</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	
	
	<br><br><br><br>10.<br>
			<!-- Begin Table: Status Bar -->
			<table border="0" cellpadding="0" cellspacing="0" width="422">
			<tr>
				<td class="pi-mA6">
				
				<!-- Begin Table: Outer Background (Parent:Status Bar) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
				</tr>
				<tr>
					<td><img alt="" border="0" height="1" src="/img/1.gif" width="7"></td>
					<td class="pi-mA6-c">
					
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="6"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td colspan="5" class="pi-mA6-c-1">UPS Claims Process:</td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_past_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_selected.gif" width="7"></td>
						<td class="pi-mA6-c-2"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
						<td class="pi-mA6-c-3"><img alt="" border="0" height="10" src="/img/xln_status_unselected.gif" width="7"></td>
					</tr>
					<tr>
						<td><img alt="" border="0" height="1" src="/img/1.gif" width="8"></td>
						<td class="pi-mA6-c-3">Report Damage</td>
						<td class="pi-mA6-c-3">UPS Inspects Package</td>
						<td class="pi-mA6-c-4">UPS Inspection Waived / Complete</td>
						<td class="pi-mA6-c-3">UPS Approves or Denies Claim</td>
						<td class="pi-mA6-c-3">UPS Processes Payment</td>
					</tr>
					<tr>
						<td colspan="6" class="pi-mA6-c-5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					</table>
					<!-- End Table: Inner Background (Parent:Outer Background) -->
					
					</td>
					<td><img alt="" border="0" height="1" src="img/1.gif" width="7"></td>
				</tr>
				<tr>
					<td colspan="3"><img alt="" border="0" height="3" src="img/1.gif" width="1"></td>
				</tr>
				</table>
				<!-- End Table: Outer Background (Parent:Status Bar) -->
				
				</td>
			</tr>
			</table>
			<!-- End Table: Status Bar -->	

</form>
		
	</div>