---
title: COU
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
    .ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
    	display: inline-block;
    	margin-right: 15px;
    }
    @media (max-width: 768px) {
    	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
    		display: block;
    	}
    }
</style>
{{> ts_rr_start}}
	{{> M22_accordion_list legacy_landing_pages.cou}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
               <!-- ////////////////////////////////////////////////////////// -->
               <!-- ////////////////////////////////////////////////////////// -->
               <li class="ups-accordion_item">
                   <button class="ups-accordion_toggle">04/28/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                   <div class="ups-accordion_expand">
                       <ul>
                           <li>Spec update A1.0</li>
                       </ul>
                   </div>
               </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/14/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Initial Merge into WEM</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
