<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>log in</h1>


				<!-- Begin Application Module -->
				<div class="appLvl mod col18 clearfix">
				<fieldset><legend></legend>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>thank you</h2>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">
						<p class="criticalMessage">the updates have been made to your user id.</p>
					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="continue" class="btnArw" />
						</div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
