<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">

	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1" /></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Manage CampusShip User Information</span>
		<!-- end page title -->		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1" /></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->

		Edit a CampusShip user's information. To save your changes, select Update.
		<!-- end instructional text -->		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1" /></td>
	</tr>
	</table>

	<!-- end application header -->

	<!-- begin user information module -->
	<table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10" /></td>

			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">User Information</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15" /></a></div>

			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10" /></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>

		<td>

		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1" /></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1" /></td>
		</tr>

		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10" /></td>
		    <td valign="top" width="48%">

			<!-- begin left content column -->
			<span class="bold">Name:</span>
			<br />
			<input class="modTxtMedium" maxlength="15" name="Name" size="15" type="text" value="{Used Data}" />
			<br /><br />

			<span class="bold">User ID:</span>
			<br />
			[User Data]
			<br />
			<br />
			<span class="bold">E-mail:</span>
			<br />
			<input class="modTxtMedium" maxlength="15" name="E-mail Address" size="15" type="text" value="{Used Data}" />
			<br /><br />

			<span class="bold">Re-enter E-mail:</span>
			<br />
			<input class="modTxtMedium" maxlength="15" name="Verify E-mail Address" size="15" type="text" />
			<br /><br />
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top">Telephone Number:</td>
				<td rowspan="2"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10" /></td>
				<td valign="top">Ext.:</td>
			</tr>
			<tr>
				<td valign="top"><input class="modTxtMedium" maxlength="10" name="Phone" type="text" size="10" value="{Used Data}" /></td>
				<td valign="top"><input class="modTxtSmall" maxlength="5" name="PhoneExtension" type="text" size="5" /></td>
			</tr>
			<tr>
				<td valign="top" colspan="3"><br /></td>
			</tr>
			<tr>
				<td valign="top" colspan="3">Fax Number:</td>
			</tr>
			<tr>
				<td valign="top" colspan="3"><input class="modTxtMedium" maxlength="15" name="Fax Number" size="15" type="text"  value="{Used Data}" /></td>
			</tr>
			<tr>

				<td valign="top" colspan="3"><br /></td>
			</tr>



<!-- ////////////////////////////// -->
<!-- ============================== -->
<!-- begin Admin Manage User Detail -->
<!-- ============================== -->
<!-- ////////////////////////////// -->
			<tr>
				<td valign="top" colspan=3"">
                	<span class="bold">company location:</span>
                    <span class="indent"><a class="indent" href="repl_href">Edit</a></span>
                  	<select name="select" class="modSelMedium" size="1">
                        <option>{assigned location}</option>
                        <option>Item 1</option>
                        <option>Item 2</option>
                      </select>
               	</td>

			</tr>
			<tr>
			  <td valign="top" colspan="3"><a href="repl_href">Search</a> for Location Names</td>
			  </tr>
			<tr>
<!-- ////////////////////////////// -->
<!-- ============================== -->
<!-- end Admin Manage User Detail -->
<!-- ============================== -->
<!-- ////////////////////////////// -->



        <td valign="top" colspan="3"><br /></td>
			  </tr>
			<tr>
			  <td valign="top" colspan="3">Language Preference:<br />
                  <select name="select" class="modSelMedium" size="1">
                    <option>English</option>
                    <option>Item 1</option>
                    <option>Item 2</option>
                    <option>Item 3</option>
                  </select>
               </td>
			  </tr>
			</table>
			<!-- end left content column -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10" /></td>
		    <td valign="top" width="48%">

			<!-- begin right content column -->



<!-- ////////////////////////////// -->
<!-- ============================== -->
<!-- begin Admin Manage User Detail -->
<!-- ============================== -->
<!-- ////////////////////////////// -->
            <span class="bold">assigned to shipping privilege set:</span>
			<br />
			<select name="repl_fname" class="modSelMedium" size="1">
			  <option>{assigned privilege}</option>
			  <option>Item 1</option>
			  <option>Item 2</option>
			  <option>Item 3</option>
			</select>
			<br /><br />
			<a href="repl_href">Search</a> for Shipping Privilege Names
			<br /><br />
			Default Reference #1 Value:
            <br />
			<input class="modTxtMedium" maxlength="15" name="Default Reference #1 Value" size="15" type="text"  value="{Used Data}" />
            <br /><br />
			<a href="Search">Search</a> for Reference #1 values<br />
			<br />
<!-- ////////////////////////////// -->
<!-- ============================== -->
<!-- end Admin Manage User Detail -->
<!-- ============================== -->
<!-- ////////////////////////////// -->



            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top"><input  name="repl_fname2" type="checkbox" value="repl_fvalue" /></td>
                  <td>Do not allow user to change Reference #1 value.</td>
                </tr>
            </table>
			<br /><br />
			Default Service Level:<br />
			<select name="repl_fname" class="modSelMedium" size="1">
			  <option>{User Selection}</option>
			  <option>Item 1</option>
			  <option>Item 2</option>
			  <option>Item 3</option>
			</select>
			<br /><br />
			<span class="bold">Traveling User Status:</span><br />
			<input  name="ON" type="radio" value="" />&nbsp;&nbsp;ON<br />
			<input checked  name="OFF" type="radio" value="" />&nbsp;&nbsp;OFF<br />
			<br />

			<span class="bold">Authority to Order UPS Supplies:</span><br />
			<input  name="ON2" type="radio" value="" />&nbsp;&nbsp;ON<br />
			<input checked  name="OFF2" type="radio" value="" />&nbsp;&nbsp;OFF<br />
			<br />
			<input name="Reset User Password" type="checkbox" value="" />Reset User Password



            <!-- ////////////// -->
            <!-- begin RFC 5443 -->
            <br />
            <input name="Reset User Security Questions" type="checkbox" value="" />reset user security questions
            <!-- end RFC 5443 -->
            <!-- //////////// -->



			<!-- end right content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10" /></td>

		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1" /></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
	</table>

	<!-- end user information module -->

	<!-- begin buttons -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1" /></td>
	</tr>
	<tr>
		<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1" /></td>
		<td align="right" valign="top" width="366"><input value="Cancel" name="cancel" class="btn" type="button" /><input value="Update" name="update" class="btn_a" type="submit" /></td>

	</tr>
	</table>
	<!-- end buttons -->

	<!-- begin note area -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1" /></td>
	</tr>
	<tr>
		<td align="center">
		<span class="bold">Company Support: (nnn) nnn-nnnn&nbsp;&nbsp;&nbsp;E-mail: <a href="repl_href">address@company.com</a></span>
		</td>
	</tr>
	</table>
	<!-- end note area -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
