
<form action="repl_fname">
	
	<!-- Begin Application Module -->
	<div class="appLvl mod col24 clearfix"> 
		<!-- Begin Application Header -->
		<div class="appHead clearfix">
			<h2>provide privacy preferences</h2>
		</div>
		
		<!-- End Application Header --> 
		
		<!-- Begin Application Body -->
		<div class="appBody clearfix">
			<p>if you have an my ups user id you can <a href="repl_href">log in</a> to provide your preferences.</p>
			<p>as described in the &quot;information we share&quot; section of the ups privacy policy notice, you may opt out of certain sharing of personal information with third parties. to do so, please provide the information requested below and then indicate your preference. your preference will apply to the information you supply here. required fields are indicated with<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
			
			<!-- Begin Section Module -->
			<div class="secLvl secLvlPlain clearfix"> 
				<!-- Begin Section Header --><!-- End Section Header --> 
				<!-- Begin Section Body -->
				<div class="secBody">
					<div class="secLvlPad">
						<fieldset>
							<legend></legend>
							<!-- Begin Column -->
							<div class="seccol12 marginBegin">
								<dl>
									<dt>
										<label for="repl_id_001">first name:</label>
									</dt>
									<dd>
										<input name="repl_name_001" type="text" id="repl_id_001" class="formcol7">
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
									<dt>
										<label for="repl_id_002">last name:</label>
									</dt>
									<dd>
										<input name="repl_name_002" type="text" id="repl_id_002" class="formcol7">
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
									<dt>
										<label for="repl_id_003">country:</label>
									</dt>
									<dd>
										<select name="repl_name_003" id="repl_id_003">
											<option value="" selected>united states</option>
											<option value="">{1234567890 1234567890}</option>
										</select>
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
									<dt>
										<label for="repl_id_004">address line 1:</label>
									</dt>
									<dd>
										<input name="repl_name_004" type="text" id="repl_id_004" class="formcol7">
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
									<dt>
										<label for="repl_id_005">address line 2:</label>
									</dt>
									<dd>
										<input name="repl_name_005" type="text" id="repl_id_005" class="formcol7">
										<div class="reqTxtInst">apartment, suite, unit, building, floor, etc.</div>
									</dd>
									<dt>
										<label for="repl_id_006">address line 3:</label>
									</dt>
									<dd>
										<input name="repl_name_006" type="text" id="repl_id_006" class="formcol7">
										<div class="reqTxtInst">department, c/o, etc.</div>
									</dd>
								</dl>
							</div>
							
							<!-- Begin Column -->
							<div class="seccol12 marginEnd group">
								<dl>
									<dt>
										<label for="repl_id_007">city:</label>
									</dt>
									<dd>
										<input name="repl_name_007" type="text" id="repl_id_007" class="formcol7">
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
									<dt>
										<label for="repl_id_008">state:</label>
									</dt>
									<dd>
										<select name="repl_name" id="repl_id_008">
											<option value="" selected>select one</option>
											<option value="">{1234567890 1234567890}</option>
										</select>
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
									<dt>
										<label for="repl_id_009">zip code:</label>
									</dt>
									<dd>
										<input name="repl_name_009" type="text" id="repl_id_009" class="formcol4">
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>
								<dl class="flexFirst group clearfix">
									<dt>
										<label for="repl_id_010">telephone:</label>
									</dt>
									<dd>
										<input name="repl_name_010" type="text" id="repl_id_010" class="formcol4">
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>
								<dl class="flexAfter group clearfix">
									<dt>
										<label for="repl_id_011">ext:</label>
									</dt>
									<dd>
										<input name="repl_name_011" type="text" id="repl_id_011" class="formcol2">
									</dd>
								</dl>
								<div class="clear"></div>
								<dl>
									<dt>
										<label for="repl_id_012">e-mail:</label>
									</dt>
									<dd>
										<input name="repl_name_012" type="text" id="repl_id_012" class="formcol7">
										<img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>
							</div>
						</fieldset>
					</div>
					<div class="secLvlPad">
						<dl>
							<dt>
								<label for="repl_id_013">existing ups account number:</label>
							</dt>
							<dd>
								<input name="repl_name_013" type="text" id="repl_id_013" class="formcol7">
							</dd>
						</dl>
					</div>
					<div>
						<fieldset>
							<legend></legend>
							<label for="repl_id_000">privacy settings: <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></label>
							<table class="group">
								<tr>
									<td class="sel" scope="row"><input name="repl_name_014" type="radio" value="" id="repl_id_014" checked="checked"></td>
									<td><label for="repl_id_014" class="sel">ups may share my personal information with third parties for those third parties' own purposes.</label>
										<div class="secLvlPad"></div></td>
								</tr>
								<tr>
									<td class="sel" scope="row"><input name="repl_name_014" type="radio" value="" id="repl_id_018"></td>
									<td colspan="2"><label for="repl_id_018" class="sel">ups may not share my personal information with third parties for those third parties' own purposes, except as described in the privacy notice.</label></td>
								</tr>
							</table>
						</fieldset>
					</div>
				</div>
				<!-- End Section Body --> 
				<!-- Begin Setion Footer --><!-- End Section Footer --> 
			</div>
			<!-- End Section Module --> 
			
		</div>
		<!-- End Application Body --> 
		
		<!-- Begin Application Footer -->
		<div class="appFooter"> 
			<!-- Begin Button Bar Row -->
			<div class="btnBar">
				<input name="repl_name_0" type="button" value="cancel" class="btn">
				<input name="repl_name_0" type="submit" value="next" class="btnArw">
			</div>
			<!-- End Button Bar Row --> 
		</div>
		<!-- End Application Footer --> 
		
	</div>
	<!-- End Application Module -->
	
</form>
