<form action="repl_fname">
		
		<!-- Begin Application Module -->
		<div class="appLvl mod col24 clearfix"> 
			<!-- Begin Application Header -->
			<div class="appHead clearfix">
				<h2>ups privacy preferences confirmation</h2>
			</div>
			
			<!-- End Application Header --> 
			
			<!-- Begin Application Body -->
			<div class="appBody clearfix"> 
				
				<!-- Begin Section Module -->
				<div class="secLvl secLvlPlain seccol18 marginBegin clearfix"> 
					<!-- Begin Section Header -->
					<div class="secHead clearfix">
						<h3>your privacy preferences have been submitted. the updates will be applied within 10 business days.</h3>
					</div>
					<!-- End Section Header --> 
					<!-- Begin Section Body -->
					<div class="secBody"> 
						
						<!-- Begin Column -->
						
						<dl class="outHozFlex clearfix">
							<dt><span class="label">updated:</span></dt>
							<dd>mm/dd/yyyy</dd>
						</dl>
						<div class="clear"></div>
						<div class="secLvlPad">
							<p class="group"> name<br/>
								address1<br/>
								address2<br/>
								address3<br/>
								city, st, postal<br/>
								country<br/>
							</p>
							<dl class="outHozFlex group clearfix">
								<dt>telephone:</dt>
								<dd>nnn-nnn-nnnn</dd>
							</dl>
							<dl class="outHozFlex clearfix">
								<dt>ext:</dt>
								<dd>nnnnn</dd>
							</dl>
						</div>
						<div class="secLvlPad">
							<dl class="outHozFlex clearfix">
								<dt><span class="label">e-mail:</span></dt>
								<dd>usersemail@something.com</dd>
							</dl>
						</div>
						<div class="secLvlPad">
							<dl class="outHozFlex clearfix">
								<dt><span class="label">ups account number:</span></dt>
								<dd>nnnnnn</dd>
							</dl>
						</div>
						<div class="secLvlPad">
							<dl>
								<dt><span class="label">privacy preference settings:</span></dt>
								<dd>ups <strong>may</strong> share your personal information with third parties for those third parties' own purposes.</dd>
								<dd>ups <strong>may not</strong> share your personal information with third parties for those third parties' own purposes, except as described in the privacy notice.</dd>
							</dl>
						</div>
						<p>information provided for this update will not change any existing profile information you may have with ups. if you need to access the ups privacy notice in the future, please visit ups.com and select the privacy notice link at the bottom of any page.</p>
					</div>
					<!-- End Section Body --> 
					<!-- Begin Setion Footer --><!-- End Section Footer --> 
				</div>
				<!-- End Section Module --> 
				
				<!-- Begin Section Module -->
				<div class="secLvl message seccol6 marginEnd clearfix noPrint"> 
					<!-- Begin Section Header -->
					<div class="secHead clearfix">
						<h3>for your records</h3>
					</div>
					<!-- End Section Header --> 
					<!-- Begin Section Body -->
					<div class="secBody">
						<p>we recommend that you print a copy of the update for your records.</p>
					</div>
					<!-- End Section Body --> 
					<!-- Begin Setion Footer -->
					<div class="secFooter"> 
						<!-- Begin Button Bar Row -->
						<div class="btnBar alignCenter">
							<input name="" type="submit" value="print" class="btn">
						</div>
						<!-- End Button Bar Row --> 
					</div>
					<!-- End Section Footer --> 
				</div>
				<!-- End Section Module --> 
				
			</div>
			<!-- End Application Body --> 
			
			<!-- Begin Application Footer --><!-- End Application Footer --> 
			
		</div>
		<!-- End Application Module -->
		
	</form>
