$high_level_filter_spacing: 30px;
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main , #printMain {

	div.labelToggle_Container{
		width: 100%;
	}

	input#navbarLabelToggleInput{
		margin-top: 15px;
	}

	label.labelToggle_label{
		&:before{
			#{$default-float}: 4px;
		}
		&:after{
			#{$default-float}: 7px;
		}
	}
	label.labelStyleSwitchDescription, label.labelStyleSwitch{
			#{$opposite-direction}: 22px;
	}

	.ssSIV {
		z-index: 0;
	}

	.streetsideExit {
		position: relative;
		z-index: 20;
	}

  .appLvlPlain {
    margin-bottom: 0;
    padding-bottom: 0;
    .appHead {
      h1 {
        display: inline-block;
      }
    }

	  .seccol6 {
		  width: 218px;
	  }
  }



//	.NavBar_compass.NavBar_compassFlat {
//		background: transparent url(../../../7.0.20160525132934.57/i/d.png) no-repeat 0 0;
//	}
//
//	.NavBar_button.NavBar_toolButton.NavBar_zoomOut {
//		background: transparent url(../../../7.0.20160525132934.57/i/d.png) no-repeat 50% 50%
//	}
//
//	.NavBar_button.NavBar_toolButton.NavBar_zoomIn {
//		background: transparent url(../../../7.0.20160525132934.57/i/d.png) no-repeat 50% 50%;
//	}

  .appLvlAction {
    //float:none;
    //text-align:$opposite-direction;

    p strong {
        margin-#{$opposite-direction}: 10px;
        i {
          font-family: $sans;
        }
    }

    input[name=trackbutton] {
      @include ups-legacy_cta($water_s3);
    }

    #filtersAppliedSection {
		margin-bottom: 20px;
		display: table-cell;
		vertical-align: bottom;
		position: relative;
		top: 13px;

		&.fullMapView {
			position: relative;
			top: 0;
			height: 218px;
			max-height: 218px;
		}
	}
  }

  a#currentloclink.btnlnkL.currentLocationIcon {
    background-image: none;

    &:before {
      color: $black_s4;
      content: "\e64f";
      display: inline-block;
      text-decoration: none;
      font-size: 1em;
      font-family: "UPSicons" !important;
      line-height: 0;
      padding-#{$opposite-direction}: 5px;
      position: relative;
      top: 2px;
    }
  }

  #featuredLocationsMain, #resultsDiv {
    div, span {
      font-family: $sans;
    }

    .mileage strong {
      font-family: $sans-bd;
      font-weight: normal;
    }

    .mappedResultList li {
      margin: 0;
    }


    a.locationPin {
      color: $white !important;
      line-height: 2em;
      text-decoration: none;

      &.upsLocation {
        background-image: none;
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        top: 1px;
        vertical-align: middle;
		position: relative;
        z-index: 0;

        &:before {
          color: $ups_brown;
          content: "\e66b";
          font-family: "UPSicons" !important;
          font-size: 2em;
          #{$default-float}: -9px;
          position: absolute;
          top: 3px;
          width: 50px;
          z-index: -99;
        }
      }

      &.otherLocation {
        background-image: none;
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
		position: relative;
        z-index: 0;


        &:before {
          color: $sky_s3;
          content: "\e64b";
          font-family: "UPSicons" !important;
          font-size: 2em;
          #{$default-float}: -9px;
          position: absolute;
          top: 5px;
          width: 50px;
          z-index: -99;
        }
      }
    }
  }

//search has multiple results
#glCandidateListDiv {
  .arrowBackIcon {
    background-image: none;
    padding-#{$default-float}: 0;

    &:before {
      content: "\e613";
      display: inline-block;
      font-family: "UPSicons" !important;
      font-size: 1em;
      margin-#{$opposite-direction}: 5px;
    }
  }
  }

/**** For adding icons to map
  #div_resultmap .MicrosoftMap {
    .MapPushpinBase {
      & img {
        // display: none;
      }
      // div {
      //   color: $white;
      //   text-decoration: none;
      //   line-height: 2em;
      //   z-index: 0;
      //   color: #fff;
      //   font-family: $sans-bd;
      //   height: 50px;
      //   width: 50px;
      //   text-align: center;
      //   vertical-align: middle;
      //   display: inline-block;
      //   top: 1px;

      //   &:before {
      //       @include ups-icons;
      //       content: "\e64b";
      //       color: $water_s3;
      //       font-size: 3em;
      //       position: absolute;
      //       #{$default-float}: -4px;
      //       top: -8px;
      //       z-index: -1;
      //     }
      //   }
    }
  }
*/

  #div_use_my_cur_loc p {
    margin-bottom: 0;
  }

  #txtQuery {
    margin-bottom: $margin_4;
    vertical-align: top;
  }

  button {
      &.dropDownBtn {
        #{$default-float}: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: $water_s3;
        border-bottom: 1px solid $stone_s3 !important;
        border-#{$default-float}: 0;
        border-radius: 0px;
        border-#{$opposite-direction}: 1px solid $stone_s3 !important;
        border-top: 1px solid $stone_s3;
        cursor: pointer;
        font-family: "UPSicons" !important;
        font-size: 12px;
        font-weight: 700;
        height: 35px;
        margin-bottom: $margin_4;
        margin-#{$opposite-direction}: 0;
        pointer-events: auto;
        position: relative;
        top: 0px !important;
        width: 30px;
        -moz-transition-duration: 0.2s;
        -moz-transition-property: all;
        -o-transition-duration: 0.2s;
        -o-transition-property: all;
        -webkit-appearance: none;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-property: all;

        &:hover, &:focus {
            background-color: darken($water_s3, 5%) !important;
        }

        .ie9 & {
            width: 125%;
        }

        @media screen and (min-width: 0\0) {
            background-image: none;
            padding: 5px;
        }

        &:before {
          color: $white;
          content: "\e677";
          #{$default-float}: 0px;
          line-height: 35px;
          position: absolute;
          text-align: center;
          top: 0px;
          width: 30px;

          .ie9 &{
            z-index:999;
          }
        }
      }

      &.searchBtn {
        background-color: $water_s3;
        border: none;
        border-radius: 0;
        float: $opposite-direction;
        height: 35px;
        position: relative;
        margin-bottom: $margin_4;
        margin-#{$opposite-direction}: 0;
        //overriding top calculation set somewhere
        top: 1px !important;
        vertical-align: top;
        //.searchBtn has !important width in com.ups.DOL.css line 5, override here
        width: 35px !important;

        &:hover, &:focus {
            background-color: darken($water_s3, 5%) !important;
        }

        &:after {
          @include ups-iconFont("\e668");
          color: $white;
          position: absolute;
          #{$default-float}: 11px;
        }

        .searchBtnIcon {
          background-image: none !important;
          margin: 0;
        }
      }
    }

  #searchCol {
    #gdol_search_box {
      .error {
        color: $red;
      }
    }

	  .secFooter .btnBar {
		  text-align: $opposite-direction;
	  }

    .step {
      background-color: $white;
    }

    .secBody {
      padding-top: 5px;
    }

    //styling for list restuls text area
    input[type='text']:read-only {
      border: 1px solid $stone_s3;
      font-family: $sans-bd;
      font-size: 14px;
      height: 35px;
      max-width: 266px;
      padding: 0 10px;
      width: 100%;
     -webkit-appearance: none;
    }

    #country {
      //margin-top: 15px;
      width: 100%;
    }

    .ui-autocomplete {
      height: 200px;
      overflow-y: scroll;
      overflow-x: hidden;
    }




    #high_level_filter, #filters {
      // to account for the dd and dl margin-bottom, this brings see all options up
      // margin-bottom: -15px;

      tr {
          // height: $high_level_filter_spacing + 4;

          // td.sel {
          //   height: $high_level_filter_spacing;
          //   line-height: $high_level_filter_spacing;
          // }
      }
    }

    #show_all_options, #hide_all_options {
      p {
        margin: 0;
        padding: 0;
      }
    }

    #a_show_all_options {
      background-image: none;
      padding-#{$default-float}: 0;
      &:before {
        background-color: $water_s3;
        border: none;
        color: $white;
        content: "\e65b";
        display: inline-block;
        text-decoration: none;
        font-family: "UPSicons" !important;
        height: 35px;
        line-height: 35px;
        margin-bottom: 4px;
        margin-#{$opposite-direction}: $margin_5;
        text-align: center;
        vertical-align: middle;
        width: 35px;

        -moz-transition-duration: 0.2s;
        -moz-transition-property: all;
        -o-transition-duration: 0.2s;
        -o-transition-property: all;
        -webkit-appearance: none;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-property: all;


      }
      &:hover:before, &:focus:before {
          background-color: darken($water_s3, 5%);
      }
      }

    #filters {
      // to account for the dd and dl margin-bottom, this brings see all options up
      margin-bottom: -15px;

      #hideWhenWWEF{
        dt + label {
          height: 40px;
        }

        td + label {
          margin-bottom: 0;
        }
      }

      dd {
        font-family: $sans;
      }

      label.filter_loc_type {
        margin-bottom: 0;
      }

      #a_sub_filter_loc_type, #a_sub_filter_oth_srvc, #a_sub_filter_mkg_prg, #a_sub_filter_loc_flt {
        background-image: none;
        padding-#{$default-float}: 0;

        &.plusMini {
          text-decoration: none;
          &:before {
            background-color: $water_s3;
            border: none;
            color: $white;
            content: "\e65b";
            display: inline-block;
            font-family: "UPSicons" !important;
            height: 35px;
            line-height: 35px;
            margin-bottom: 4px;
            margin-#{$opposite-direction}: $margin_5;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            width: 35px;
            -moz-transition-duration: 0.2s;
            -moz-transition-property: all;
            -o-transition-duration: 0.2s;
            -o-transition-property: all;
            -webkit-appearance: none;
            -webkit-transition-duration: 0.2s;
            -webkit-transition-property: all;


          }
          &:hover:before, &:focus:before {
              background-color: darken($water_s3, 5%);
          }
        }

        &.minusMini {
          text-decoration: none;
          &:before {
            background-color: $water_s3;
            border: none;
            color: $white;
            content: "\e653";
            display: inline-block;
            font-family: "UPSicons" !important;
            height: 35px;
            line-height: 35px;
            margin-bottom: 4px;
            margin-#{$opposite-direction}: $margin_5;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            width: 35px;
          -moz-transition-duration: 0.2s;
          -moz-transition-property: all;
          -o-transition-duration: 0.2s;
          -o-transition-property: all;
          -webkit-appearance: none;
          -webkit-transition-duration: 0.2s;
          -webkit-transition-property: all;


        }
        &:hover:before, &:focus:before {
            background-color: darken($water_s3, 5%);
        }
        }

        & + a {
          background-image: none;
          padding-#{$opposite-direction}: 0;

          &:after {
            // @include ups-icons;
            content: "\e660";
            display: inline-block;
            font-family: "UPSicons" !important;
            line-height: 1.1;
            margin-#{$default-float}: 5px;
            position: relative;
            top: -1px;
          }
        }
      }

      #gdol_loc_type_filter, #gdol_oth_srvc_filter, #gdol_spl_srvc_filter, #gdol_loc_filter {
        margin-#{$default-float}: 10px;
      }
    } //end filters

    #gdol_loc_filter {
      //add space around drop down selectons in location filters
      select {
        margin-bottom: 20px;
      }
    }

    #hide_all_options a {
      background-image: none;
      padding-#{$default-float}: 0;
      &:before {
        background-color: $water_s3;
        border: none;
        color: $white;
        content: "\e653";
        display: inline-block;
        font-family: "UPSicons" !important;
        height: 35px;
        line-height: 35px;
        margin-bottom: 4px;
        margin-#{$opposite-direction}: $margin_5;
        text-align: center;
        vertical-align: middle;
        width: 35px;
        -moz-transition-duration: 0.2s;
        -moz-transition-property: all;
        -o-transition-duration: 0.2s;
        -o-transition-property: all;
        -webkit-appearance: none;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-property: all;


      }
      &:hover:before, &:focus:before {
          background-color: darken($water_s3, 5%);
      }
    }
  .secFooter {
    padding: 0 15px 15px 15px;

    div.btnBar {
      margin: 0;
      padding: 0;

      .btn {
        @include ups-legacy_cta($water_s3);
      }

      .floatLeft {
        padding: 0;
      }
    }

    #clearFilters {
      display: inline-block;
      margin-top: 23px;
    }
  }


    //global locator specific
    .locator_alert, .locator_tip {
        border: 1px solid transparent;
        border-color: $sky_s3;
        border-radius: 0;
        margin-bottom: 30px;
        border-top-width: 8px;
        background-color: $stone_40;//$white;
        box-sizing: border-box;
        .cmsMsg {
            font-family: $sans;
        }
        strong {
            font-family: $sans-bd;
        }
    }
  }

  #searchResultPanel {

	  .secHead ul.clearfix {
		  float: $opposite-direction;
	  }

    #resultsDiv {
		height: 600px;

      li.selected {
        background-color: $gold_60;
      }

      span.label {
        color: $black_s4;
        font-family: $sans-bd;
        font-size: 1.17em;
        text-decoration: none;
        white-space: normal;
        padding-#{$default-float}: 0;
        padding-#{$opposite-direction}: 0;

        &:hover, &:focus {
          color: $black_s1;
        }
      }

		.seccol5.marginEnd.group {
			padding-bottom: 0 !important;
		}

		.mappedResultList {
			.group {
				dl, dd {
					margin-bottom: 0;
				}
				span {
					display: inline-block;
					margin-bottom: 5px;
          text-align:$default-float;
				}
				a span.label {
					text-decoration: underline;
				}
			}
		}

      .featuredLocation {
        background-image: none;
        display: block;
        padding-#{$default-float}: 0;
        position: relative;
        top: -5px;

        &:before {
          color: $water_s3;
          content: "\e64d";
          display: inline-block;
          font-family: "UPSicons" !important;
          font-size: 1.5em;
          position: relative;
          top: 4px;
        }
      }

    }

    .pagination.group {
        width: 100%;
      }
  }

  .locator_banner_1 {
    .cmsMsgPlain {
        background-color: $ups_brown;
        border: 1px solid $ups_brown;
        .secHead {
          background-color: $ups-brown;
          margin: 25px 0 7px 20px;
          padding: 0;
            h3 {
              background-color: $ups-brown;
              color: $ups-gold;
              font-size: 22px;
              font-weight: normal;
              text-transform: none;
            }
        }
    }
    img {
      float: $opposite-direction;
      margin: 10px 15px 8px 0;
    }
  }

  .appBody {
    .locator_alert {
      .arrow-blue {
        padding-top: 5px;
        a {
          margin-#{$default-float}: 5px;
          top:-2px;
        }
      }
      .popuppage-blue {
        background-image: none;
        &:after {
            color: $black;
            content: "\e656";
            display: inline-block;
            font-family: "UPSicons" !important;
            margin-#{$default-float}: 5px;
            position: absolute;
            top:-1px;
        }
        img {
            display: none;
        }
      }
    }

    #staticContent {
      .header {
        font-family: $serif;
        font-size: 1.9em;
        font-weight: normal;
      }

      .standardheader {
        font-family: $sans-bd;
        font-size: 1.5em;
        color: $black_s4;
        padding-bottom: 0;

        &:after {
          display: none;
        }
      }

      .subhd1 {
        font-family: $sans-bd;
        font-size: 1.17em;
        color: $black_s4;
      }
    }

    .featuredLocationArea {
      background-color: $white;
      border: 1px solid transparent;
      border-color: $ups-gold;
      border-radius: 0;
      border-top-width: 8px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.05);
      box-sizing: border-box;
      margin-bottom: 30px;

      span {
        display: inline-block;
        margin-bottom: 5px;
      }

      span.label {
        color: $black_s3;
        font-family: $sans-bd;
        font-size: 1.17em;
        text-decoration: underline;
        padding-#{$default-float}: 0;
        padding-#{$opposite-direction}: 0;
      }

      .featuredLocation {
        background-image: none;
        display: block;
        margin-bottom: 15px;
        padding-#{$default-float}: 0;

        &:before {
          color: $water_s3;
          content: "\e64d";
          display: inline-block;
          font-family: "UPSicons" !important;
          font-size: 1.5em;
          position: relative;
          top: 4px;
        }
      }

      .featuredLocation2 {
		  padding-#{$default-float}: 5px;
		  border-#{$default-float}-color: $ups_gold;
      }

    }

    .note {
       @include ups-legacy_colorHeader($sky_s3);
       padding: 10px;
    }
  }
}

//Full Map View Button on Map
#msveMap #showbutton {
  @include ups-legacy_cta($water_s3);
}

//Map tooltip
#locinfoframe {
  #main {
    padding: inherit;
    margin: auto;
    position: absolute;
    width: auto;

    & .tab {
      padding: 0;
      border: none;
    }

    & .tabPanel {
      overflow: inherit;

      & .secBody {
        border: 1px solid $black_s1;
      }
    }

    & .subTab {
      float: none;
    }
  }

  .appLvl {
    padding: 0;
  }

  .appBody {
    padding: 0 10px 10px 10px;
  }

  #locationInfotipDropSpace:after {
    border: 10px solid transparent;
    border-bottom-color: #ffb500;
    bottom: 90%;
    content: " ";
    height: 0;
    #{$default-float}: 10px;
    pointer-events: none;
    position: absolute;
    width: 0;
  }
  #locationInfotipPointer {
    display: none;
  }

  #locationInfotip {
    border: 1px solid $ups-gold;
    border-top-width: 8px;

    #closeIcon {
      position: relative;
      #{$opposite-direction}: 15px;
      top: 5px;
	  float: $opposite-direction;
      z-index:1;

      &:after {
        @include ups-iconFont("\e67b");
        display: inline-block;
        // content: "\e67c";
        // display: inline-block;
        // font-family: "UPSicons" !important;
        // font-size: 20px;
        // color: $black_s4;
        // font-weight: normal;
        // line-height: inherit;
      }
      img {
        display: none;
      }
    }

    .appHead {
      height: 15px;
      padding: 0;
    }

    .appBody {
      padding-bottom: 10px;
		background: transparent;

      p {
        margin-bottom: 0;
      }

      span.label label, span.label label a, label {
          font-family: $sans-bd;
		  white-space: normal;
      }

      #locationType .newWindowIconR {
		background-image: none;
        padding-#{$opposite-direction}: 0;

        &:after {
            @include ups-iconFont("\e656");
            top: 2px;
            font-size: 1em;
            margin-#{$default-float}: 4px;
        }

		&:hover:after, &:hover, &:focus, &:focus:after {
		  color: $black_s1;
		}
      }

      //in override, not specific enough so putting in here.
      .subTab,#subTab {
        color: $stone_40;
        padding: 0;
        width: 100%;
        li {
            background: $stone_40;
            border: 1px solid $black_s1;
            border-#{$opposite-direction}: 0;
            box-sizing: border-box;
            cursor: pointer;
            float: $default-float;
            font-family: $sans;
            font-size: 14px;
            font-weight: normal;
            height: 50px;
            line-height: 52px;
            margin:0;
            padding: 0px 5px;
            position: relative;
            text-align: center;
            text-transform: uppercase;

            a {
                text-decoration: none;
            }

            &.tab-on{
                background: $white;
                border-bottom: none;
                border-top: 5px solid;
                z-index: 25;
                &:nth-child(4n+1) {
                    border-top-color: $ups_sun;
                }
                &:nth-child(4n+2) {
                    border-top-color: $ups_sky;
                }
                &:nth-child(4n+3) {
                    border-top-color: $ups_gold;
                }
                &:nth-child(4n+4) {
                  border-top-color: $ups_grass;
                }

            &.tab-off {
              padding-top: 5px;

                a {
                    font-family: $sans;
                }
            }
          }

          &:last-of-type {
                border-#{$opposite-direction}: 1px solid $black_s1;
          }
        }
      }


      .tabPanel {
        .secondaryHeaderRow h3 {
          margin-bottom: 1px;
          margin-top: 5px;
        }
        td {
          hr {
            border-color: $ups_gold;
            margin-bottom: 8px;
            margin-top: 2px;
          }
        }
        label {
          font-family: $sans-bd;
        }
      }

      #locationDirectionLink a, #saveloclink, #providefeedback, #printLocationRes, #emaillocinfo  {
        color: $black_s4;
        font-family: $sans-bd;
        text-decoration: underline;

        &:hover, &:focus {
          color: $black_s1;
        }
      }

      .tabPanel {
        tbody td {
          font-family: $sans;
          & strong {
            font-family: $sans-bd;
          }
        }
        dd {
          font-family: $sans;
        }
      }
    }//end appBody
  }
}

//Directions print popup page
#printMain {
	color: $black_s1;

	.upsLocation, .otherLocation {
		color: $white !important;
	}

	.appLvl.appLvlPlain {
		padding-top: 56px + 10px;
	}

  button {
      &.dropDownBtn {
        #{$default-float}: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: $water_s3;
        border-bottom: 1px solid $stone_s3 !important;
        border-#{$default-float}: 0;
        border-radius: 0px;
        border-#{$opposite-direction}: 1px solid $stone_s3 !important;
        border-top: 1px solid $stone_s3;
        cursor: pointer;
        font-family: "UPSicons" !important;
        font-size: 12px;
        font-weight: 700;
        height: 35px;
        margin-bottom: $margin_4;
        margin-#{$opposite-direction}: 0;
        pointer-events: auto;
        position: relative;
        top: 0 !important;
        width: 30px;
        -moz-transition-duration: 0.2s;
        -moz-transition-property: all;
        -o-transition-duration: 0.2s;
        -o-transition-property: all;
        -webkit-appearance: none;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-property: all;

        &:hover, &:focus {
            background-color: darken($water_s3, 5%) !important;
        }

        .ie9 & {
            width: 125%;
        }

        @media screen and (min-width: 0\0) {
            background-image: none;
            padding: 5px;
        }

        &:before {
          color: $white;
          content: "\e677";
          #{$default-float}: 0px;
          line-height: 35px;
          position: absolute;
          text-align: center;
          top: 0px;
          width: 30px;

          .ie9 &{
            z-index:999;
          }
        }
      }

      &.searchBtn {
        background-color: $water_s3;
        border: none;
        border-radius: 0;
        float: none;
        height: 35px;
        position: relative;
        margin-bottom: $margin_4;
        margin-#{$opposite-direction}: 0;
        //overriding top calculation set somewhere
        top: 0 !important;
        vertical-align: top;
        //.searchBtn has !important width in com.ups.DOL.css line 5, override here
        width: 35px !important;

        &:hover, &:focus {
            background-color: darken($water_s3, 5%) !important;
        }

        &:after {
          @include ups-iconFont("\e668");
          color: $white;
          position: absolute;
          #{$default-float}: 11px;
        }

        .searchBtnIcon {
          background-image: none !important;
          margin: 0;
        }
      }
    }

    .dataTable {
      @include ups-dataTable;
    }

	#directionsonly {

		td:not(:last-child) {
			border-#{$opposite-direction}: none !important;
		}

		table {
			border: 1px solid $black_s1;
		}
	}

    table.scheduleTable {
     .secondaryHeaderRow h3 {
          margin-bottom: 1px;
          margin-top: 5px;
        }
        td {
          font-family: $sans;
          hr {
            border-color: $ups_gold;
            margin-bottom: 8px;
            margin-top: 2px;
          }
        }

        label {
          font-family: $sans-bd;
        }

        strong {
          font : {
            family: $sans-bd;
            weight: normal;
          }
        }
    }

    input[type="text"] {
      @include ups-textbox;
    }

    input[type="radio"] {
      @include ups-radio;
    }

    td, dt, dd {
      font-family: $sans;

      label {
        font : {
          family: $sans-bd;;
          weight: normal;
        }

        &.sel {
          font : {
            family: $sans;
          }
        }
      }
    }

    p {
      font-family: $sans;
    }
}

//for the jquery ui auto complete for locations
.ui-menu .ui-menu-item {
  float: $default-float;
	width: 100%;
  a, span {
    font-family: $sans;
    font-weight: normal;
  }
}

.appLvl.mod.modal.dialog { // #div_saveloc, #locfeedback, #div_emaildirDialog, #emaillocinfodialog, #div_currentloc
	display: table;
	position: fixed;
	top: 50% !important;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	padding: 0;
	height: auto;
}

body.ups-printPreview {
   .mod.modal.dialog.appLvl { //all modals should have these two
    border: none !important;
    background-color: $white;
    border-radius: 0;
    border-top: 8px solid $ups_gold !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 10px 10px;

    .ui-dialog-titlebar.ui-widget-header {
        display: none;//insert because jquery ui was handling this
    }

    // .ui-dialog-titlebar.ui-widget-header {
        // background : {
        //     color: $white;
        //     image: none;
        // }
        // border: none;

        // .ui-dialog-title {
        //     font : {
        //         size: 2em;
        //         family: $serif;
        //         weight: normal;
        //     }
        //     line-height: inherit;
        //     margin-top: 0;
        //     margin-bottom: 0;
        //     padding-bottom: 0;
        //     padding-#{$opposite-direction}: 25px;
        //     color: $black_s4;

        //     &:after {
        //         display: none;
        //     }
        // }
    // }

    .iDiv {
        font : {
            family: $sans;
            weight: normal;
        }
        border-color: $black_s1;
    }

    button { //for ctas
        // background: $white none 1px 1px !important;
        // border: none !important;
        color: $white;

        &:hover {
            // background-color: $white !important;
        }

        span {
            font-family: $sans-bd;
            font-weight: normal;
            padding: 0;
        }

        .ui-icon-closethick {
            background : {
                image: url(/assets/resources/images/legacyAppImages/crossmini.gif);
                color: $white;
                position: 1px 1px;
            }
            position: absolute;
            top: 0;
            #{$default-float}: 0;
        }

        &.ui-button-text-only {
            @include ups-legacy_cta($water_s3);
        }
    }

    &.modal {
        bottom: auto !important;
    }

    .modal {
        display: block;
        position: relative;
        background-color: $white;
        border: none;

        .secLvl {
            .secHead {
                background-color: $stone_s3;
                padding: 12px 15px;
            }
        }

		a.helpIconR {
            background-image: none;
            padding-#{$opposite-direction}: 0;

            &:after {
                @include ups-iconFont("\e660");
                margin-#{$default-float}: 3px;
                display: inline-block;
            }
        }

        .dataTable:not(.sel) {
            @include ups-dataTable;

            td {
                font-family: $sans;
            }

            th {
                color: $black_s4;
            }
        }
    }

    .appLvl {
        padding: 0;

        &.appLvlGradientGroup1, &.appLvlGradientGroup2, &.appLvlGradientGroup3,
        &.appLvlGradientGroup4, &.appLvlGradientGroup5, &.appLvlGradientGroup6, &.appLvlGradientGroup7,  &.modal {
            .appHead {
                @include ups-serifHeaderSmaller;
            }
        }

        .mod .secLvl {
            border: none;
        }

        .mod .secLvl {
            &.group4 {
                border-color: $black_s1;

                .secBody {
                    padding: 0 5px;
                }
            }
        }
    }



    .modal .appHead {
        padding: 0;
        background-color: $white;

        li {
            position: relative;
        }
        ul {
            margin-bottom: 0;
            position: absolute;
            #{$opposite-direction}: 0;
        }


        a.btnlnkR {
            color: $black_s4;
            padding-#{$opposite-direction}: 0;
        }

        input.helpIconR {
            background : {
                position: 1px 1px;
                image: url(/assets/resources/images/legacyAppImages/helpIcon.gif);
            }
        }

        input.closeIcon {
            background : {
                position: 1px 1px;
                image: url(/assets/resources/images/legacyAppImages/crossmini.gif);
            }

            height: 20px;
        }


        h2 {
            font-size: 2em;
            line-height: inherit;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-#{$opposite-direction}: 25px;
            color: $black_s4;

            &:after {
                display: none;
            }
        }
    }

    //Shipper initiated intercept styling
    table.tab {
        background-color: $white;
        border: 1px solid $black_s1;

        .modHead {
            h3 {
                color: $black_s4;
                font-weight: normal;
            }

        }

        input.modTxtMedium {
            @include ups-textbox;
        }

        dt label {
            color: $black_s4;
            font : {
                family: $sans-bd;
                weight: normal;
            }

            &.sel {
                font : {
                    family: $sans;
                    weight: normal;
                }
            }
        }

        dd select {
            @include ups-selectDD;
        }
    }
    table.mod {
        background-color: $white;
    }

    .mod {
        table, tr, th, td, div, h2, h4 {
            color: $black_s4;
        }

        .sec-pad {
            font-family: $sans;
        }

        .stepModFlex {
            border: 1px solid $black_s1;
            margin-bottom: 10px;

            .stepModHead {
                background-color: $stone_s3;
                padding: 12px 15px;


                h3 {
                    font-family: $sans-bd;
                    font-weight: normal;
                    color: $black_s4;
                    text-transform: uppercase;
                    position: relative;
                    top: 2px;
                }
            }

        }

        input[type="radio"] {
            @include ups-radio;
        }

        input[type="checkbox"] {
            @include ups-checkbox;
        }

        input[type="text"] {
            @include ups-textbox;
        }

        // PANELS
        // ----------------------------------
        .modMsg {
            border-radius: 0px;
            margin-bottom: $margin_4;
            border-top-width: $head_line;
            border-color: $black_s1;
            padding: 0;

            > h3 {
                padding: $margin_4;
                border-radius: 0px;
                margin-top: -$head_line;
                color: $white;
                background-color: $sky_s3;
                border-color: $sky_s3;
                border-bottom-#{$default-float}-radius: 0;
                border-bottom-#{$opposite-direction}-radius: 0;
            }

            > .modMsgBase {
                padding: 10px;
                border: 0;
                border-radius: 0px;
                background-color: $stone_40;
            }

            &.blu {
                border-color: $sky_s3;

                h3 {
                    font-weight: normal;
                }
            }
        }


        th {
            background-color: $white;

            .head-colFull {
                h2 {
                     @include ups-serifHeader;
                 }
            }
        }

        td.mod-line {
            background-color: $white;
        }

        .mod-clr {
            background-color: $white;



            .pi-h3 {
                font: 16.38px $sans-bd;
                font-weight: normal;
                color: $black_s4;
                text-decoration: none;
            }

            table.modline {
                background-color: $white;
            }
        }

        .stepModContent {
            h4 {
                font-family: $sans-bd;
                font-weight: normal;
            }
        }

        .mod-bar, .btn-bar {
            background-color: $white;
        }
    }



    .appBody {
        padding: 0;
        font-family: $sans;

        input[type="text"], input[type="password"] {
            @include ups-textbox;
        }

        p {
            padding: 0;
            margin-bottom: 5px;
        }

         span.label {
            font : {
                family: $sans-bd;
                weight: normal;
            }

            &.sel {
                font : {
                    family: $sans;
                    weight: normal;
                }
            }
        }


         label {
            font-family: $sans-bd;
            color: $black_s4;
            font-weight: normal;
            display: inherit;

            &.sel {
                padding-top: 3px;
                font-family: $sans;
                font-weight: normal;
            }
        }

        select {
            @include ups-selectDD;
        }

        dl {
            margin-bottom: 0;
        }

        input:disabled,
        textarea:disabled,
        select:disabled {
            @include ups-legacy_inputDisabled;
        }

        input[type=checkbox] {
            @include ups-checkbox;
        }

        input[type=radio] {
            @include ups-radio;
            line-height: 16px;
        }

        .secLvl {
//            background : {
//                color: $white;
//            }

            .secBody {
                padding: 0 10px;
            }

            &.step {
                .secBody {
                    padding: 0 10px;
                }
            }

            &.message {
                @include ups-legacy_colorHeader($sky_s3);
				color: $white !important;
                .secBody {
                    padding-top: 10px;
                }
            }

            &.group4 {
                border-color: $black_s1;
            }
        }

        table {
            margin-bottom: 0;
        }
    }

    .appFooter {
        background: $white;

        .btnBar {
            background: $white;
        }

        input.btn, input.btnArw {
            @include ups-legacy_cta($water_s3);
            margin-#{$default-float}: 5px;
        }
    }

    .ui-dialog-buttonpane {
        background-color: $white;
        border: none;
    }

    a, a span {
        color: $black_s4;
        font-family: $sans-bd;
        font-weight: normal;
        text-decoration: underline;

        &:hover, &:focus {
            color: $black_s1;
        }
    }

    .secLvl {
        margin: 10px 0;

        .secHead {
            margin: 0 0 10px 0;
            border: 0;
            padding: 12px 15px;

            h1, h2, h3, h4 {
                margin: 0;
                font-family: $sans-bd;
                font-size: 1.17em;
                color: $black_s4;
                float: none;

            }

            p {
                display: inline;
            }

            br {
                display: none;
            }

            input[type="button"] {
                margin: 0;
                padding: 0;
            }

            a {
                 &:hover, &:focus {
                    color: darken($black_s4, 5%);
                }
            }
        }

        .seccol8 {
            .secHead {
                background-color: $white;
                color: $black_s4;
                padding: 0;
                margin-bottom: 5px;

                label {
                    font-family: $sans-bd;
                }
                a {
                    &:hover, &:focus {
                        color: darken($black_s4, 5%);
                    }
                }
            }
            .secBody {
                padding: 0;
            }
        }


    }

    p, .secBody {
        font-family: $sans;
        margin-bottom: 0;

        dd, li, td {
            font-family: $sans;
        }

        strong, b {
            font-family: $sans-bd;
            font-weight: normal;
        }

        a.helpIconR {
            background-image: none;
            padding-#{$opposite-direction}: 0;

            &:after {
                @include ups-iconFont("\e660");
                margin-#{$default-float}: 3px;
                display: inline-block;
            }
        }
    }

    dd {
        font-family: $sans;
    }
    .secBody {
        padding: 0;
    }

	}//close modals and widgets
}
#emaillocinfodialog {
  width:550px;
  border-color:transparent;
  border:none;
  background:$white;
  box-shadow:0 5px 15px rgba(0,0,0,0.5);
  #locinfoemailhead  {
    background:none;
    border-top:8px solid #ffb500;
    color:$black;
    h2{
      color:$black;
      font-family:$serif-fallback;
      font-size:2.4em;
    }
  }
  #locemailloctxt {
    height:35px;
    border:1px solid #bebebe;
    padding:0 10px;
    font-size:$standard_font + 2px;
    font-family:$sans;
  }

  #loc_footer {
    div.btnBar {
      background:transparent;
      border-top:transparent;
      padding-bottom:10px;
    }
  }
}

#modalMask {
  background-color:#fff!important;
  opacity:0.5!important;
}

.ups-headFixed #ups-headerWrap {
  z-index:3;
}

body.ups-appPage .container-fluid.iw_section .row.iw_row #ups-fw_legacy_app_wrap {
overflow:hidden;
}

#locinfoclosebtn, #gl_email_dir_modalClose {
	text-indent: -9999px;
	cursor: pointer;
	background-position: 1px 3px;
	background-image: url(/assets/resources/images/legacyAppImages/crossmini.gif);
	height: 20px;
	width: 30px;
	background-repeat: no-repeat;
}

#div_saveloc.mod, #locfeedback.mod, #div_emaildirDialog.mod {
	background: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border: transparent;
	.appHead {
		background: transparent;
		border-top: 8px solid $ups_gold;
		h2 {
			color: #fff;
			margin-top: 0;
			color: #000;
			font-family: Georgia, Times, serif;
			font-size: 2.4em;
		}
	}
	div.btnBar {
		background-color: transparent;
		border-top: transparent;
		padding-bottom: 10px;
	}
	#saveTxt, #feedbackcomments, #emailtxt {
		border: 1px solid $stone_s3;
		padding: 0 10px;
		font-size: 14px;
		font-family: "BerlingskeSans", Tahoma, helvetica, arial, sans-serif;
	}
	#saveTxt, #emailtxt {
		height: 35px;
	}
	#save_loc_modalClose, #feedbk_cls_btn, #gl_email_dir_modalClose {
		text-indent: -9999px;
		cursor: pointer;
		background-position: 1px 3px;
		background-image: url(/assets/resources/images/legacyAppImages/crossmini.gif);
		height: 20px;
		width: 30px;
		background-repeat: no-repeat;
	}
}

//.appBody removing this because of issue on 306936
#printdrivingform {
	position: relative;
}

 #ui-id-1 {

//	top: 71px !important;
//	#{$default-float}: 13px !important;
	background: $white !important;
	color: $black_s1 !important;
	border-color: $ups_gold !important;

	 li.ui-menu-item span {
		 color: inherit !important;
	 }
}

#printMain #msveMap {
  width:628px!important;
  height:460px!important;
}
//#printdrivingform #autoSuggestBox {
//	#{$default-float}: 270px!important;
//	top: 100px!important;
//}


.MicrosoftMap .NavBar_Container {
  z-index:1!important;
  top:40px!important;
}

#ssControlsOverlay, .MicrosoftMap .overviewMapShrine.effective {
	z-index:1 !important;
}

#addressblock p:first-child span.label:first-child{
    text-align:$default-float;
    padding-#{$default-float}:0
}

#main input[name='loc_type']{
  margin-#{$default-float}:0px;
}
#clearFilters {
    padding-top:15px;
    display:inline-block!important
}
#main #searchCol #showRefineSearchBtn .secFooter {
    padding-#{$default-float}:0px;
}
#main #searchCol #showRefineSearchBtn .secFooter div.btnBar .floatLeft {
padding-top:10px
}

#printMain a.btnlnkL {
color:#000;
}
#printMain .secBody .headerTable td:nth-child(2){
  line-height:12px;
}
#autoSuggestBox {
  z-index:2!important;
}

.ie9 {
#printMain button.dropDownBtn{
  top:-2px!important;
}

#printMain button.searchBtn{
  top:1px!important;
}
}
#printMain .appLvl.appLvlPlain {background: #fff;}
#main input[type=checkbox]{
          margin-#{$opposite-direction}:10px;

}

.container-fluid.iw_section {
  overflow:inherit!important;
}
#printMain #gdol_search_box {
    position: relative;
}
.featuredLocationArea {width:100%}

form[name=frmresult] #printMain .headerTable td strong {
  word-break:break-all;
    padding-#{$opposite-direction}: 10px;
    display: inline-block;
    padding-#{$default-float}: 10px;}
#searchResultPanel .pagination {padding:0}

#printMain .headerTable tbody tr td:last-of-type ,#printMain .secBody .headerTable td:nth-child(2)
{white-space:nowrap}
form[name=frmresult] #main .appLvlPlain .appHead h1 {width:310px}
#locationInfotip #subTab + div + div.marginBegin {width:42%}
#locationInfotip #subTab  + div + div.marginBegin + div.marginEnd {width:54%}
.mappedResultList li , #autoSuggestBox li,#candidateResultsDiv ul li {list-style:none}
#main .appLvlAction {padding: 0;}
#main .appLvlAction #filtersAppliedSection {top: 0;}
@media (min-width: 1401px)
{
.ups-page-title {    width: 1000px;
    margin: 0 auto;
    padding-left: 0;
    }

}

#printMain .locResults .secBody .marginBegin ,#printMain .locResults .secBody .marginEnd {width:100%}
#printdrivingform #printMain .headerTable tbody tr td:last-of-type {
    white-space:normal;
}

// offset target links to account for fixed header
:target::before {
  content: "";
  display: block;
  position: absolute;
  height: 120px !important;
  margin: -120px 0 0;
}