---
title: ct1_tra_dlg_dcr_nonauthorized
layout: legacy.hbs
version: v4
appID: com.ups.trackWeb
appCSS: ups.legacy_overrideWebTrkApp
dir: rtl
lang: ar
--- 

<div id="main">
	{{>background_modal_content}}
	{{>ct1_tra_dlg_dcr_nonauthorized_partial}} 
</div>
