<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Request Multiple Services</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Enter Screening Information&nbsp;&nbsp;<span class="pi-m-txt-title-normal"></span></td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!--- Begin Table: Functional Table 4a (Parent:Module Table) --->
		<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<div class="pi-m-pad">
			Screen for restricted trade partners by destination country or territory or by party. To review your entries and view estimated charges for this transaction, select <span class="pi-h4">Review</span> at the bottom of the screen. Required fields are shown in <span class="pi-h4">bold</span>.<br>
			<br>
			<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">&nbsp;Screen by Country or Territory<br>
			</div>
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!--- End Table: Functional Table 4a (Parent:Module Table) --->

		<!-- Begin Table: Functional Table 4b (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin Table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td width="100%">
				<div class="pi-m-pad">
				<span class="pi-h4">Country or Territory:</span><br>
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Select One</option>
					<option>Item 1</option>
					<option>Item 2</option>
					<option>Item 3</option>
				</select><br>
				</div>
				</td>
			</tr>
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			</table>
			<!-- End Table: Inner Table (Parent:Functional Table 4b) -->

			</td>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 4b (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 4c (Parent:Module Table) -->
		<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><img alt="" border="0" height="8" src="/img/1.gif" width="10"><br>
			<div class="pi-m-pad">
			<span class="pi-h4">*OR*</span><br>
			<img alt="" border="0" height="5" src="/img/1.gif" width="1"><br>
			<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">&nbsp;Screen by Party Name and Address<br>
			</div>
			</td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="4" src="/img/1.gif" width="10"><br></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 4c (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 4d (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin Table: Inner Table (Parent:Functional Table 4d) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			<tr>
				<td width="100%">
				<div class="pi-m-pad">
				My UPS Address Book:<br>
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Select One</option>
					<option>Item 1</option>
					<option>Item 2</option>
					<option>Item 3</option>
				</select> <img src="/img/btn_refresh_arrows.gif" alt="Refresh" width="18" height="18" border="0" align="top"><br>
				<span class="pi-h4">Company Name: (required if Contact Name is not provided)</span><br>
				<input class="modTxtLarge" maxlength="128" size="35" type="text" value=""><br>
				<span class="pi-h4">Contact Name: (required if Company Name is not provided)</span><br>
				<input class="modTxtLarge" maxlength="128" size="35" type="text" value=""><br>
				Address:<br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value=""><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value=""><br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value=""><br>
				City:<br>
				<input class="modTxtMedium" maxlength="30" size="19" type="text" value=""><br>
				County:<br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value=""><br>
				State/Province/Region:<br>
				<input class="modTxtMedium" maxlength="35" size="19" type="text" value=""><br>
				Postal Code:<br>
				<input class="modTxtMedium" maxlength="20" size="19" type="text" value=""><br>
				Country or Territory:<br>
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Select One</option>
					<option>Item 1</option>
					<option>Item 2</option>
					<option>Item 3</option>
				</select><br>
				<a href="repl_href">Screener Match Level:</a> <img src="/img/icn_help_blue.gif" alt="" width="9" height="9" border="0"><br>
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Medium</option>
					<option>Item 1</option>
					<option>Item 2</option>
					<option>Item 3</option>
				</select><br>
				</div>
				</td>
			</tr>
			<tr>
				<td class="pi-mA1"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
			</tr>
			</table>
			<!-- End Table: Inner Table (Parent:Functional Table 4d) -->

			</td>
			<td class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 4d (Parent:Module Table) -->

		  <!-- Begin Table: Functional Table 6 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad"><br><span class="pi-h4">Note:</span> This TradeAbility service is charge on a transaction basis. To review charges before completing the transaction, please select <span class="pi-h4">Review</span>.</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 6 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Back" border="0" height="18" name="repl_fname" src="/img/en/btn_back_a.gif" type="image" width="52"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Cancel" border="0" height="18" name="repl_fname" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Review" border="0" height="18" name="repl_fname" src="/img/en/btn_review.gif" type="image" width="51"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Next" border="0" height="18" name="repl_fname" src="/img/en/btn_next_a.gif" type="image" width="51"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
