<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Create Reference Numbers</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
		To create additional reference numbers for [Reference Number List Name], enter the requested information. To create up to 25 more numbers, select Create Additional 25 below.
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- begin enter reference numbers module -->
	<table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">Reference Number Information</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="3"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="98%">

			<!-- begin content column -->
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="bottom"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="15"></td>
				<td valign="bottom"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
				<td valign="bottom"><span class="bold">Value:</span></td>
				<td valign="bottom"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
				<td valign="bottom"><span class="bold">Description:</span></td>
			</tr>
			<tr>
				<td valign="bottom">1.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">2.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">3.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">4.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">5.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">6.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">7.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">8.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">9.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">10.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">11.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">12.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">13.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">14.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">15.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">16.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">17.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">18.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">19.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">20.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">21.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">22.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">23.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">24.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="bottom">25.</td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtMedium" maxlength="35" name="Value" size="19" type="text" value=""></td>
				<td valign="bottom">&nbsp;</td>
				<td valign="bottom"><input class="modTxtLarge" maxlength="50" name="Description" size="34" type="text" value=""></td>
			</tr>
			</table>
			<br>
			<div align="right"><input value="Create Additional 25" class="btn" type="submit"></div>
			<!-- end content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
	</table>
	<!-- end enter reference numbers module -->

	<!-- begin buttons -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
		<td align="right" valign="top" width="366"><input name="repl_fname" value="Cancel" class="btn" type="button"><input value="Continue" class="btn" type="submit"></td>
	</tr>
	</table>
	<!-- end buttons -->

	<!-- begin note area -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
	</tr>
	</table>
	<!-- end note area -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
