<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>log in</h1>

			<!-- Begin Application Module -->
			<div class="appLvl mod col18 clearfix">
            <fieldset>
            <legend></legend>

            <p class="error">&gt;&gt;&gt; { error message. }</p>
            <p class="group">welcome to ups campusship. to begin, please enter your user id and password.</p>
            <p><strong>note:</strong> user id and password fields are case sensitive.</p>


					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>returning users</h2>
                        <ul class="clearfix">
                            <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                        </ul>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">







						<!-- //////////////////////////////////////////// -->
						<!-- BEGIN Returning Users Login Module (Default) -->
						<!-- BEGIN Co-Branded Company Login Module -->
								<!-- Begin Sub Module -->
								<div class="secLvl secLvlPlain clearfix">
								<fieldset>
									<!-- Begin Sub Body -->
									<div class="secBody">
										<dl>
											<dt><label for="">{ user id }:</label></dt>
												<dd><input type="text" id="" class="formcol6" value="" /></dd>
											<dt></dt>
												<dd>
													<table border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td class="sel"><input name="" type="checkbox" value="" id="" /></td>
															<td><label for="" class="sel"><a href="" class=" btnlnkR helpIconR">remember me</a></label>
                                                            <div class="reqTxtInst">(do not check for shared computer)</div></td>
														</tr>
													</table>
												</dd>


									<!-- ////////////////////////////////////////// -->
									<!-- END Returning Users Login Module (Default) -->
											<dt><label for="">{ password }:</label></dt>
											<dd><input type="text" id="" class="formcol6" value="" /></dd>
									<!-- BEGIN Returning Users Login Module (Default) -->
									<!-- //////////////////////////////////////////// -->


										</dl>


										<hr />


										<dl>
											<dt><label for="" class="sel">change the language of this page:</label></dt>
												<dd>
													<select>
														<option value="">select language</option>
														</select> <sub><img src="/img/btn_refresh_arrows.gif" height="18" width="18" border="0" alt="refresh" /></sub>
												</dd>
										</dl>
									</div>
									<!-- End Sub Body -->
								</fieldset>
								</div>
								<!-- End Sub Module -->
						<!-- END Co-Branded Company Login Module -->
						<!-- END Returning Users Login Module (Default) -->
						<!-- ////////////////////////////////////////// -->





					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
                    <div class="appFooter">
                        <!-- Begin Button Bar Row -->
                        <div class="btnBar">
                            <input name="" type="submit" value="next" class="btnArw" />
                            <input name="" type="submit" value="login" class="btnArw" />
                        </div>
                        <!-- End Button Bar Row -->
                    </div>
                    <!-- End Application  Footer -->




			</fieldset>
			</div>
			<!-- End Application Module -->

		<p><a href="" class="btnlnkL arrowIcon">forgot user id or password</a></p>

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
