---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
					<form action="repl_fname">
						<!-- Begin Application Module -->
						<div class="appLvl col18 tab"> 
							
							<!-- Begin Application Header -->
							<div class="appHead clearfix">
								<h2 id="repl_id">Edit Payment Information</h2>
								<ul>
									<li><a href="repl_href" class="btnlnkR helpiconR">Help</a></li>
								</ul>
							</div>
							<!-- End Application Header --> 
							
							<!-- Begin Application Body -->
							<div class="appBody clearfix">
								<p id="repl_id">Required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
								
								<!-- Begin Section Module -->
								<div class="secLvl step clearfix"> 
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<div class="stepNumberDiv"><span class="stepNumber">1</span></div>
										<h3>How would you like to pay?</h3>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody clearfix">
										<p> Please enter your payment information below. The information you enter will be transmitted using a secure connection. Required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
										<div id="dyn_pnl_1"> 
											<!-- /////////////////////////////////////////////////// --> 
											<!--#include virtual="/app_ent/common_components/jan17/payment_method.html"--> 
											<!-- /////////////////////////////////////////////////// --> 
										</div>
										<div id="dyn_pnl_2">
											<div id="pnl_2_1">
												<hr class="hr">
												<dl role="presentation">
													<dt>
														<label for="repl_id"><span class="error">&gt;&gt;&gt;Promotion Code:</span></label>
													</dt>
													<dd>
														<input type="text" name="repl_name" id="repl_id" value="SHIPTOUS48">
														<a href="Repl_href">Remove Code</a> </dd>
												</dl>
												<p>Recieve 40% off a ground shipment within the continental United States.</p>
												<p><a href="repl_href">Read Promotion Terms and Conditions</a></p>
											</div>
											<div id="pnl_2_2"> 
												<!-- no promo code --> 
											</div>
										</div>
									</div>
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
								</div>
								<!-- End Section Module --> 
								
								<div id="dyn_pnl_5">
									<div id="pnl_5_1">
									<!-- Hide This Module -->
									</div>
									<div id="pnl_5_2">
										<!-- Begin Section Module -->
										<div class="secLvl step"> 
											<!-- Begin Section Header -->
											<div class="secHead clearfix">
												<div class="stepNumberDiv"><span class="stepNumber">2</span></div>
												<div id="dyn_pnl_4">
													<div id="pnl_4_1">
														<h3 id="repl_id">Would you like to schedule a pickup?</h3>
													</div>
													<div id="pnl_4_2">
														<h3>Getting your Shipment to UPS</h3>
													</div>
												</div>
											</div>
											<!-- End Section Header --> 
											
											<!-- Begin Section Body -->
											<div class="secBody">
												<div id="dyn_pnl_3"> 
													<!--Payment Card - Default -->
													<div id="pnl_3_1">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Schedule an {additional} <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<!--Payment Card - SAP -->
													<div id="pnl_3_2">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"></td>
																	<td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
																</tr>
															</tbody>
														</table>
														<div class="alignBegin clearfix">
															<p><strong>Pending On-Call Pickups for {UPS Account Number} </strong></p>
															<dl class="indent outHozFlex">
															  <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
															  <dd>{n}</dd>
															</dl>
															<dl class="indent outHozFlex">
															  <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
															  <dd>{n}</dd>
															</dl>
														</div>
													</div>
													<!--UPS Account - Daily - Default -->
													<div id="pnl_3_3">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Schedule an {additional} <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<!--UPS Account - Daily - SAP -->
													<div id="pnl_3_4">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"></td>
																	<td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
																</tr>
															</tbody>
														</table>
														<div class="alignBegin clearfix">
															<p><strong>Pending On-Call Pickups for {UPS Account Number} </strong></p>
															<dl class="indent outHozFlex">
															  <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
															  <dd>{n}</dd>
															</dl>
															<dl class="indent outHozFlex">
															  <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
															  <dd>{n}</dd>
															</dl>
														</div>
													</div>
													<!--UPS Account - Scheduled - Default -->
													<div id="pnl_3_5">
														<div class="alignBegin clearfix">
															<p><strong>{UPS Account FOO100}</strong> is a <strong>{Day-Specific Pickup - n day}.}<br>
																Pickups will occur for this UPS Account's pickup location on:</strong><br>
																{Monday, Tuesday, Wednesday, Thursday, Friday} </p>
														</div>
														<div class="marginBegin subcol6 indent clearfix">
															<p>{Company or Name}<br>
																{Address Line 1}<br>
																{City}, {State} {ZIP Code}<br>
																{Country or Territory} </p>
														</div>
														<div class="marginEnd subcol11 alignCenter clearfix">
															<div class="secLvl message clearfix">
																<div class="secBody">
																	<p>We will pick up your shipment at the address shown at left.</p>
																</div>
															</div>
														</div>
														<div class="clear"></div>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"></td>
																	<td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<!--UPS Account - Scheduled - SAP -->
													<div id="pnl_3_6">
														<div class="alignBegin clearfix">
															<p><strong>{UPS Account FOO100}</strong> is a <strong>{Day-Specific Pickup - n day}.}<br>
																Pickups will occur for this UPS Account's pickup location on:</strong><br>
																{Monday, Tuesday, Wednesday, Thursday, Friday} </p>
														</div>
														<div class="marginBegin subcol6 indent clearfix">
															<p>{Company or Name}<br>
																{Address Line 1}<br>
																{City}, {State} {ZIP Code}<br>
																{Country or Territory} </p>
														</div>
														<div class="marginEnd subcol11 alignCenter clearfix">
															<div class="secLvl message clearfix">
																<div class="secBody">
																	<p>We will pick up your shipment at the address shown at left.</p>
																</div>
															</div>
														</div>
														<div class="clear"></div>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"></td>
																	<td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
																</tr>
															</tbody>
														</table>
														<div class="alignBegin clearfix">
															<p><strong>Pending On-Call Pickups for {UPS Account Number} </strong></p>
															<dl class="indent outHozFlex">
															  <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
															  <dd>{n}</dd>
															</dl>
															<dl class="indent outHozFlex">
															  <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
															  <dd>{n}</dd>
															</dl>
														</div>
													</div>
													<!-- UPS Account - When Needed - Not Req Today -->
													<div id="pnl_3_7">
														<div class="alignBegin clearfix">
															<p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
														</div>
														<div class="alignBegin clearfix">
															<p><strong>Smart Pickup Status:</strong><br>
																A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
														</div>
														<label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_nameA" type="radio" value="" id="radio1" checked></td>
																	<td><label for="radio1" class="sel">Request a Smart Pickup. <br>
																			{If submitted {before} (notify time on today's date), a UPS driver will visit this UPS Account's pickup location {today's date}.}</label></td>
																</tr>
															</tbody>
														</table>
														<div class="marginBegin subcol9 indent clearfix">
															<p>{Company or Name}<br>
																{Address Line 1}<br>
																{City}, {State} {ZIP Code}<br>
																{Country or Territory} </p>
														</div>
														<div class="marginEnd subcol8 alignCenter clearfix">
															<div class="secLvl message clearfix">
																<div class="secBody">
																	<p>Your Ship From Address will be updated to match your UPS Account's Pickup Address for this shipment. We will pick up your shipment at the address shown at left.</p>
																</div>
															</div>
														</div>
														<div class="clear"></div>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Schedule a <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"></td>
																	<td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<!-- UPS Account - When Needed - Already Req Today -->
													<div id="pnl_3_8">
														<div class="alignBegin clearfix">
															<p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
														</div>
														<div class="alignBegin clearfix">
															<p><strong>Smart Pickup Status:</strong><br>
																A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
														</div>
														<label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Include this shipment with {today's} Smart Pickup. No further action is needed.</label></td>
																</tr>
															</tbody>
														</table>
														<div class="marginBegin subcol9 indent clearfix">
															<p>{Company or Name}<br>
																{Address Line 1}<br>
																{City}, {State} {ZIP Code}<br>
																{Country or Territory} </p>
														</div>
														<div class="marginEnd subcol8 alignCenter clearfix">
															<div class="secLvl message clearfix">
																<div class="secBody">
																	<p>We will pick up your shipment at the address shown at left.</p>
																</div>
															</div>
														</div>
														<div class="clear"></div>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Schedule an <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"></td>
																	<td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<!-- UPS Account - When Needed - Already Req Today After Notify -->
													<div id="pnl_3_9">
														<div class="alignBegin clearfix">
															<p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
														</div>
														<div class="alignBegin clearfix">
															<p><strong>Smart Pickup Status:</strong><br>
																A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
														</div>
														<label class="sel">If the pickup <strong>has not been completed,</strong> you may: </label>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Include this shipment with {today's} Smart Pickup. No further action is needed.</label></td>
																</tr>
															</tbody>
														</table>
														<label class="sel">If the pickup <strong>has been completed,</strong> you may: </label>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Request a Smart Pickup for this UPS Account's pickup location {next business day}</label></td>
																</tr>
															</tbody>
														</table>
														<div class="marginBegin subcol9 indent clearfix">
															<p>{Company or Name}<br>
																{Address Line 1}<br>
																{City}, {State} {ZIP Code}<br>
																{Country or Territory} </p>
														</div>
														<div class="marginEnd subcol8 alignCenter clearfix">
															<div class="secLvl message clearfix">
																<div class="secBody">
																	<p>Your Ship From Address will be updated to match your UPS Account's Pickup Address for this shipment. We will pick up your shipment at the address shown at left.</p>
																</div>
															</div>
														</div>
														<div class="clear"></div>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Schedule a <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"></td>
																	<td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<!-- UPS Account - When Needed - After Notify Req Tomorrow -->
													<div id="pnl_3_10">
														<div class="alignBegin clearfix">
															<p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
														</div>
														<div class="alignBegin clearfix">
															<p><strong>Smart Pickup Status:</strong><br>
																A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
														</div>
														<label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Include this shipment with {next business day's} Smart Pickup. No further action is needed.</label></td>
																</tr>
															</tbody>
														</table>
														<div class="marginBegin subcol9 indent clearfix">
															<p>{Company or Name}<br>
																{Address Line 1}<br>
																{City}, {State} {ZIP Code}<br>
																{Country or Territory} </p>
														</div>
														<div class="marginEnd subcol8 alignCenter clearfix">
															<div class="secLvl message clearfix">
																<div class="secBody">
																	<p>We will pick up your shipment at the address shown at left.</p>
																</div>
															</div>
														</div>
														<div class="clear"></div>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Schedule a <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"></td>
																	<td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<!-- UPS Account - When Needed - On-Call -->
													<div id="pnl_3_11">
														<div class="alignBegin clearfix">
															<p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
														</div>
														<div class="alignBegin clearfix">
															<p><strong>Smart Pickup Status:</strong><br>
																A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
														</div>
														<label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Request a Smart Pickup.</label>
																		<p>{If submitted {before} {notify time on today's date}, a UPS driver will visit this UPS Account's pickup location {today's date}.}</p></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Schedule a <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label>
																		<div class="alignBegin clearfix">
																			<p><strong>Pending On-Call Pickups for {UPS Account Number} </strong></p>
																			<dl class="indent outHozFlex">
																			  <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
																			  <dd>{n}</dd>
																			</dl>
																			<dl class="indent outHozFlex">
																			  <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
																			  <dd>{n}</dd>
																			</dl>
																		</div></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"></td>
																	<td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
																</tr>
															</tbody>
														</table>
														<div class="clear"></div>
													</div>
													<!-- UPS Account - When Needed - Drop-off -->
													<div id="pnl_3_12">
														<div class="alignBegin clearfix">
															<p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
														</div>
														<div class="alignBegin clearfix">
															<p><strong>Smart Pickup Status:</strong><br>
																A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
														</div>
														<label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1" checked></td>
																	<td><label for="radio1" class="sel">Request a Smart Pickup.</label>
																		<p>{If submitted {before} {notify time on today's date}, a UPS driver will visit this UPS Account's pickup location {today's date}.}</p></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
																	<td><label for="radio1" class="sel">Schedule an <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"></td>
																	<td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
																</tr>
															</tbody>
														</table>
														<div class="clear"></div>
														<p class="indent"> Complete your shipment and follow the Find Locations link on your Shipment Confirmation to find a UPS location.</p>
													</div>
													<!-- WW Express Freight (1) -->
													<div id="pnl_3_13">
														<div class="flexFirst clearfix">
															<p>UPS WWExpress Freight requires you to select a Pickup Option and a Delivery option for each shipment. You will enter pickup details or delivery details on a following page.</p>
														</div>
														<div class="clear"></div>
													</div>
													<!-- WW Express Freight (2) -->
													<div id="pnl_3_14">
														<div class="flexFirst clearfix">
															<p>[This UPS Worldwide Express Freight shipment requires assistance, please contact UPS Customer Service at 1-800-xxx-xxxx.]</p>
														</div>
														<div class="clear"></div>
													</div>
												</div>
											</div>
											
											<!-- End Section Body --> 
											
											<!-- Begin Section Footer --><!-- End Section Footer --> 
										</div>
										<!-- End Section Module -->
									</div>
								</div>
								 
							</div>
							<!-- End Application Body --> 
							<!-- Begin Application Footer -->
							<div class="appFooter"> 
								<!-- Begin Button Bar Row -->
								<div class="btnBar">
									<input name="" type="button" id="repl_id" value="Cancel" class="btn">
									<input name="" type="submit" id="repl_id" value="Next" class="btnArw">
								</div>
								<!-- End Button Bar Row --> 
							</div>
							<!-- End Application Footer --> 
						</div>
						<!-- End Application Module -->
						
						<div align="center" class="cobrand"><br>
							Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
					</form>
				</div>
				<!-- /applicationArea --> 

<!------------- -- --------------> 
<!-- END IC DEV Display Module --> 
<!------------- -- --------------> 
<!-- Begin IC DEV Dynamic Panel Module -->
<div id="select_pnl_1">
	<dl role="presentation">
		<dt>
			<label for="dyn_pnl_select_1">Payment Method Module:</label>
		</dt>
		<dd>
			<select id="dyn_pnl_select_1" class="formcol5">
				<option value="1"></option>
				<option value="25">Default (User Interface) (Use this for Edit Payment Information)</option>
				<option value="26">Default (2) ECS-Edit Payment Information</option>				
				<option value="2">Use a UPS Shipper Account</option>
				<option value="3">Bill Third Party</option>
				<option value="4">Bill The Receiver</option>
				<option value="5">Bill Consignee</option>
				<option value="6">Use Another Payment Card</option>
				<option value="7">PayPal - Saved PayPal Account</option>
				<option value="8">PayPal - Use Another PayPal Account</option>
				<option value="9">Pay at a UPS Access Point Location</option>
				<option value="10">Unregistered Shipper</option>
				<option value="11">Alt Use Another Payment Card(Jul16)</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_2" style="margin-top:3em">
	<dl role="presentation">
		<dt>
			<label for="dyn_pnl_select_2">Promotion Code Module:</label>
		</dt>
		<dd>
			<select id="dyn_pnl_select_2" class="formcol5">
				<option value="1">Default</option>
				<option value="2">No Promotion Code</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_3" style="margin-top:3em">
	<dl role="presentation">
		<dt>
			<label for="dyn_pnl_select_3">Pickup Options:</label>
		</dt>
		<dd>
			<select id="dyn_pnl_select_3" class="formcol5">
				<option value="1">Default</option>
				<option value="2">Payment Card - SAP</option>
				<option value="3">UPS Account - Daily - Default</option>
				<option value="4">UPS Account - Daily - SAP</option>
				<option value="5">UPS Account - Scheduled - Default</option>
				<option value="6">UPS Acount - Scheduled - SAP</option>
				<option value="7">When Needed - Not Req Today</option>
				<option value="8">When Needed - Already Req Today</option>
				<option value="9">When Needed - Already Req Today After Notify</option>
				<option value="10">When Needed - After Notify Req Tomorrow</option>
				<option value="11">When Needed - On-Call</option>
				<option value="12">When Needed - Drop-off</option>
				<option value="13">WW Express Freight (1)</option>
				<option value="14">WW Express Freight (2)</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_4">
	<dl role="presentation">
		<dt>
			<label for="dyn_pnl_select_4">Pickup Module Title:</label>
		</dt>
		<dd>
			<select id="dyn_pnl_select_4" class="formcol5">
				<option value="1">Default</option>
				<option value="2">"Getting Your Shipment To UPS"</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_5" style="margin-top: 17em">
	<dl role="presentation">
		<dt>
			<label for="dyn_pnl_select_5">Show/Hide Pickup Module:</label>
		</dt>
		<dd>
			<select id="dyn_pnl_select_5" class="formcol5">
				<option value="1">Hide</option>
				<option value="2">Show</option>
			</select>
		</dd>
	</dl>
</div>
<script type="text/javascript" src="/assets/icdev/dyn_pnl/dyn_pnl.js"></script> 
<!-- End IC DEV Dynamic Panel Module -->