---
title: cam_shi_shi(4opt)_tnc
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- begin pop up header -->
            <div class="uis">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="left" class="popupbg1" valign="bottom"><img alt="" align="bottom" border="0" height="10" src="/img/1.gif" width="1"></td>
                </tr>
                <tr>
                  <td align="left" class="popupbg1" valign="bottom"><img alt="" border="0" height="7" src="/img/glo_tab_white.gif" width="76"></td>
                </tr>
              </table>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td bgcolor="#ffffff" align="left" valign="bottom"><img alt="" align="bottom" border="0" height="3" src="/img/1.gif" width="1"></td>
              </tr>
              <tr>
                <td align="right" bgcolor="#ffffff" valign="top"><div class="spacing noprint"> <a href="javascript:window.close();"><img align="bottom" alt="" height="14" src="/img/btn_close_mini.gif" width="14" border="0">Close Window</a><br>
                  </div></td>
              </tr>
              <tr>
                <td align="left" bgcolor="#ffffff"><div class="uis">
                    <div class="spacing"> <span class="header"><img alt="UPS" align="bottom" border="0" height="55" src="/img/glo_ups_brandmark_pfv.gif" width="42"></span> </div>
                  </div></td>
              </tr>
            </table>
            <!-- end pop up header -->
            
            <div class="spacing">
              <div class="campusship"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
                <span class="header2">Calculate Delivery Time</span><br>
                <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              </div>
              <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
                <span class="header">Calculate Delivery Time</span><br>
                <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              </div>
              
              <!-- begin application header -->
              <div class="uis">
                <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                  <tr>
                    <td width="283"><!-- begin title -->
                      
                      <div class="appspacepad"><span class="header2">Estimated Delivery Date and Time</span></div>
                      
                      <!-- end title --></td>
                    <td width="283"><!-- begin module navigation --> 
                      &nbsp;<!-- <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div> --> 
                      <!-- end module navigation --></td>
                  </tr>
                </table>
              </div>
              <!-- end application header --> 
              
              <!-- begin module header -->
              <div class="campusship">
                <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                  <tr>
                    <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    <td width="283"><!-- begin module title -->
                      
                      <div class="modspacepad"><span class="modheader">Estimated Delivery Date and Time</span></div>
                      
                      <!-- end module title --></td>
                    <td width="283"><!-- begin module navigation --> 
                      &nbsp;<!-- <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div> --> 
                      <!-- end module navigation --></td>
                    <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                  </tr>
                </table>
              </div>
              <!-- end module header --> 
              
              <!-- begin module -->
              <table class="modbordercolor2" border="0" cellpadding="2" cellspacing="0" width="566">
                <tr>
                  <td><!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                    
                    <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td class="modline2" colspan="5"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                        <td valign="top" width="48%"><!-- begin content column --> 
                          Delivery options for all available services for the following shipment: <br>
                          <br>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td><span class="bold">Ship From:</span></td>
                              <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                              <td>Roswell, 30076, United States</td>
                            </tr>
                            <tr>
                              <td><span class="bold">Ship To:</span></td>
                              <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                              <td>Colgate, 53017, United States</td>
                            </tr>
                            <tr>
                              <td><span class="bold">Shipment Date:</span></td>
                              <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                              <td>Thursday, October 23,2003</td>
                            </tr>
                          </table>
                          
                          <!-- end content column --></td>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      </tr>
                      <tr>
                        <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                    </table>
                    
                    <!-- end module column spacing table --> 
                    
                    <!-- begin results table -->
                    
                    <table bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                      
                      <!-- Begin Row: Header Rows with vertical spacing -->
                      <tr>
                        <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="281"></td>
                        <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                        <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="280"></td>
                      </tr>
                      <tr>
                        <td bgcolor="#cccccc" valign="top"><div class="spacing"><span class="bold">Service</span></div></td>
                        <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                        <td bgcolor="#cccccc" valign="top"><div class="spacing"><span class="bold">Days In Transit</span></div></td>
                      </tr>
                      <tr>
                        <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="4" src="/img/xln_spacer.gif" width="1"></td>
                        <td bgcolor="#ffffff" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                        <td bgcolor="#cccccc" valign="top"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <!-- End Row: Header Rows with vertical spacing --> 
                      
                      <!-- Begin Row: Odd Row with vertical spacing -->
                      <tr bgcolor="#ffffff">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr bgcolor="#ffffff">
                        <td><div class="spacing">UPS Sonic Air<br>
                            Guaranteed by:<br>
                            Same Day *</div></td>
                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                        <td valign="top"><div class="spacing">Same Day *</div></td>
                      </tr>
                      <tr bgcolor="#ffffff">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <!-- End Row: Odd Row with vertical spacing --> 
                      
                      <!-- Begin Row: Even Row with vertical spacing -->
                      <tr bgcolor="#cccccc">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr bgcolor="#cccccc">
                        <td><div class="spacing">Service Name<br>
                            Guaranteed by: hh:mm A.M.<br>
                            Day, Month dd, year<br>
                          </div></td>
                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                        <td valign="top"><div class="spacing">1</div></td>
                      </tr>
                      <tr bgcolor="#cccccc">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <!-- End Row: Even Row with vertical spacing --> 
                      
                      <!-- Begin Row: Odd Row with vertical spacing -->
                      <tr bgcolor="#ffffff">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr bgcolor="#ffffff">
                        <td><div class="spacing">Service Name<br>
                            Guaranteed by: hh:mm A.M.<br>
                            Day, Month dd, year<br>
                          </div></td>
                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                        <td valign="top"><div class="spacing">1</div></td>
                      </tr>
                      <tr bgcolor="#ffffff">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <!-- End Row: Odd Row with vertical spacing --> 
                      
                      <!-- Begin Row: Even Row with vertical spacing -->
                      <tr bgcolor="#cccccc">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr bgcolor="#cccccc">
                        <td><div class="spacing">Service Name<br>
                            Guaranteed by: hh:mm A.M.<br>
                            Day, Month dd, year<br>
                          </div></td>
                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                        <td valign="top"><div class="spacing">2</div></td>
                      </tr>
                      <tr bgcolor="#cccccc">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <!-- End Row: Even Row with vertical spacing --> 
                      
                      <!-- Begin Row: Odd Row with vertical spacing -->
                      <tr bgcolor="#ffffff">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr bgcolor="#ffffff">
                        <td><div class="spacing">Service Name<br>
                            Guaranteed by: hh:mm A.M.<br>
                            Day, Month dd, year<br>
                          </div></td>
                        <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                        <td valign="top"><div class="spacing">3</div></td>
                      </tr>
                      <tr bgcolor="#ffffff">
                        <td colspan="3" valign="top"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <!-- End Row: Odd Row with vertical spacing -->
                      
                      <tr bgcolor="#cccccc">
                        <td colspan="3"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                    </table>
                    
                    <!-- end results table --> 
                    
                    <!-- begin module column spacing table 2 - 3 columns with 2 spacer columns and 1 content columns -->
                    
                    <table class="modbgcolor2" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                      <tr>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                        <td valign="top" width="98%"><!-- begin content column --> 
                          Result estimates calculated by UPS: Friday May 2, 2003 4:37 P.M. Eastern Time (USA) 
                          <!-- end content column --></td>
                        <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      </tr>
                      <tr>
                        <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                      </tr>
                    </table>
                    
                    <!-- end module column spacing table --></td>
                </tr>
              </table>
              <!-- end module --> 
              
              <!-- begin buttons -->
              <table class="butbarbgcolor2" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td valign="top"><div align="right"><img alt="" border="0" height="2" src="/img/xln_spacer.gif" width="1"></div></td>
                </tr>
              </table>
              <!-- end buttons --> 
              
              <!-- begin note area -->
              <table border="0" cellpadding="0" cellspacing="1" width="566">
                <tr>
                  <td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
                </tr>
                <tr>
                  <td valign="top"> * Based on flight availability and time of day. Please call 800-451-4550 for details. <br>
                    <br>
                    Services listed as guaranteed are backed by a money-back guarantee for transportation charges only. UPS guarantees the day of delivery for every ground package you ship to any address within the 48 contiguous states, except for any ground package originating in Alaska or Hawaii. In addition, the guarantee applies to shipments from Puerto Rico to the 48 contiguous states. See Terms and Conditions in the Service Guide for details. </td>
                </tr>
              </table>
              <!-- end note area --> 
              
            </div>
            
            <!-- begin pop up footer -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td align="right" width="100%" class="noprint"><img alt="" align="bottom" border="0" height="8" src="/img/1.gif" width="1"><br>
                  <a href="javascript:window.close();"><img align="bottom"  alt="" height="14" src="/img/btn_close_mini.gif" width="14" border="0">Close Window</a><br>
                  <img alt="" align="bottom" border="0" height="8" src="/img/1.gif" width="1"><br></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
              <tr>
                <td colspan="3"><img alt="" border="0" height="13" src="/img/1.gif" width="1"></td>
              </tr>
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td bgcolor="#cccccc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                <td width="100%"><img alt="" border="0" height="8" src="/img/1.gif" width="1"><br>
                  <span class="grey2"> Copyright&nbsp;&copy; 1994-2004 United Parcel Service of America, Inc. All rights reserved. </span></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
              </tr>
            </table>
            <!-- end pop up footer -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>