---
title: cam_shi_shi(8con)_voi(1voi)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content -->
            <div class="campusship"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <span class="header2">Complete Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            
            <!-- begin instructional text -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="566"><span class="bold">Your shipment has been voided.</span> <br>
                  <br>
                  <span class="bold">View History or Void Shipment</span> <br>
                  Use this area to review shipment information, track previously shipped packages, and cancel packages you haven't shipped. Shipments may be cancelled within 24 hours of accepting the charges. <br>
                  <br>
                  <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">View History or Void Shipment</a><br>
                  <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Create Another Shipment</a><br>
                  <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Begin Another Shipment</a><br>
                  <br></td>
              </tr>
            </table>
            <!-- end instructional text -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>