---
title: create an return page title
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">review your return details application header</h2>
                <ul>
                  <li><a href="repl_href" class="btnlnkR helpiconR">help link</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p id="repl_id">please review your return shipping info paragraph text. select <strong>edit</strong> to modify info paragraph text.</p>
                
                <!-- /////////////////////////////////////////////////////////// -->
                <!-- //// Begin Panel 1 Address Info                        //// -->
                <!-- /////////////////////////////////////////////////////////// -->
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">1</span> </div>
                    <h3 id="repl_id">address info section header</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody clearfix">
                    <div class="floatBegin">
                      <dl>
                        <dt> <span class="label">import to:</span> <a href="repl_href">edit link</a></dt>
                        <dd>[contact name]<br>
                          [company name]<br>
                          [address 1]<br>
                          [city, other]<br>
                          [country or territory]<br>
                          telephone: [number]</dd>
                      </dl>
                    </div>
                    <div class="floatBegin">
                      <dl>
                        <dt> <span class="label">ship to:</span> <a href="repl_href">edit link</a></dt>
                        <dd>[contact name]<br>
                          [company name]<br>
                          [address 1]<br>
                          [city, other]<br>
                          [country or territory]<br>
                          telephone: [number]<br>
                        </dd>
                      </dl>
                    </div>
                    <div class="floatBegin">
                      <dl>
                        <dt> <span class="label">importer address:</span> <a href="repl_href">edit link</a></dt>
                        <dd>[contact name]<br>
                          [company name]<br>
                          [address 1]<br>
                          [city, other]<br>
                          [country or territory]<br>
                          telephone: [number]<br>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////// -->
                <!-- //// End Panel 1 Address Info                          //// -->
                <!-- //// Begin Panel 2 Package Info                        //// -->
                <!-- /////////////////////////////////////////////////////////// -->
                
                <!-- Section #2 When ONLY Package Information displayed --> 
                <!-- Begin Section Module -->
                <div class="secLvl step tableonly"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                    <h3 id="repl_id">package information only (container example) section header</h3>
                    <!-- --------------------------------------------------------- --> 
                    <!-- Default (when either general or package information are shown alone in step2 module) --> 
                    <!-- --------------------------------------------------------- -->
                    <ul>
                      <li><a href="repl_href" class="btnlnkL editMini">edit</a></li>
                    </ul>
                    <!-- --------------------------------------------------------- --> 
                    <!-- Default (when either general or package information are shown alone in step2 module) --> 
                    <!-- --------------------------------------------------------- --> 
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Package Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- Sub Level Module Container not need when Package Information shown alone --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- MUST add class(tableonly) at beginning of section module when Shipment Information is removed and table is display ALONE in secLvl div --> 
                    <!-- --------------------------------------------------------- -->
                    <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
                      <tr>
                        <th class="sel alignCenter">&nbsp;</th>
                        <th><span class="label">weight</span></th>
                        <th class="nowrap"><span class="label">dimensions/<br>
                          packaging</span></th>
                        <th><span class="label">declared value</span></th>
                        <th nowrap="nowrap"><span class="label"><a href="" class="btnlnkR helpIconR">references</a> or description</span></th>
                      </tr>
                      <tr class="odd">
                        <td class="sel alignCenter">1.</td>
                        <td nowrap="nowrap">nn.n {lbs}{kg}<br>
                          (00.0 {lbs}{kg} billable)</td>
                        <td nowrap="nowrap">nnxnnxnn in.<br>
                          {packaging type}</td>
                        <td nowrap="nowrap">nn.nn usd</td>
                        <td>{reference # or description}</td>
                      </tr>
                      <tr>
                        <td class="sel alignCenter">2.</td>
                        <td nowrap="nowrap">nn.n {lbs}{kg}<br>
                          (00.0 {lbs}{kg} billable)</td>
                        <td nowrap="nowrap">nnxnnxnn in.<br>
                          {packaging type}</td>
                        <td nowrap="nowrap">nn.nn usd</td>
                        <td>{reference # or description}</td>
                      </tr>
                    </table>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Default --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Package Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module -->
                
                <!-- /////////////////////////////////////////////////////////// -->
                <!-- //// End Panel 2 Package Info                          //// -->
                <!-- //// Begin Panel 2 Shipment Info                       //// -->
                <!-- /////////////////////////////////////////////////////////// --> 
                
                <!-- Section #2 When BOTH Shipment Information and General Information displayed --> 
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                    <h3 id="repl_id">shipment information (container example) section header</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- Sub Level Module Containers NEEDED when General Information and Shipment Information shown together --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Shipment Information --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- Begin Sub Module -->
                    <div class="secLvl"> 
                      <!-- Begin Sub Header -->
                      <div class="secHead clearfix">
                        <h4 id="repl_id">general information subsection header</h4>
                        <ul>
                          <li><a href="repl_href" class="btnlnkL editMini">edit</a></li>
                        </ul>
                      </div>
                      <!-- End Sub Header --> 
                      
                      <!-- Begin Sub Body -->
                      <div class="secBody">
                        <dl class="outHozFixed1 clearfix">
                          <dt><span class="label">actual weight label:</span></dt>
                          <dd>{nn.n lbs/kg}</dd>
                          <dt><span class="label"><a href="repl_href" class="btnlnkR helpIconR">total number of pieces on all pallets:</a></span></dt>
                          <dd>[00]</dd>
                          <dt>shipment contains <strong>dangerous goods</strong>:</dt>
                          <dd>[yes]</dd>
                          <dt><span class="label"><a href="repl_href" class="btnlnkR helpIconR">billable weight label:</a></span></dt>
                          <dd>{nn.n lbs/kg}</dd>
                          <dt><span class="label">description of goods label:</span></dt>
                          <dd>description of goods</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                          <!-- --------------------------------------------------------- -->
                          <dt><span class="label">movement reference number label:</span></dt>
                          <dd>movement reference number</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- Shipment Information - DE to FR EU Transborder, Shipment Processing --> 
                          <!-- --------------------------------------------------------- -->
                          <dt><span class="label">shipment declared label:</span></dt>
                          <dd>nn,nn eur</dd>
                          <dt><span class="label">number of packages label:</span></dt>
                          <dd>n</dd>
                          <dt><span class="label">packaging type label:</span></dt>
                          <dd>packaging type</dd>
                          <dt><span class="label">number of packages that are large packages label:</span></dt>
                          <dd>n</dd>
                          <dt><span class="label">number of packages with additional handling label:</span></dt>
                          <dd>n</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Shipment Information - DE to FR EU Transborder, Shipment Processing --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- Shipment Information - DE to FR EU Transborder, Package Processing --> 
                          <!-- --------------------------------------------------------- -->
                          <dt><span class="label">reference #1:</span></dt>
                          <dd>appropriation number - NxNxNNxNN</dd>
                          <dt><span class="label">reference #2:</span></dt>
                          <dd>fda product code xNNNNxxNNN</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Shipment Information - DE to FR EU Transborder, Package Processing --> 
                          <!-- --------------------------------------------------------- --> 
                          
                          <!-- --------------------------------------------------------- --> 
                          <!-- Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                          <!-- --------------------------------------------------------- -->
                          <dt><span class="label">other options label:</span></dt>
                          <dd>goods not in free circulation</dd>
                          <!-- --------------------------------------------------------- --> 
                          <!-- END Shipment Information - DE to EU Transborder GNIFC, Shipment Processing --> 
                          <!-- --------------------------------------------------------- -->
                        </dl>
                        <p id="repl_id">account enabled text</p>
                      </div>
                      <!-- End Sub Body --> 
                      
                      <!-- Begin Sub Footer --><!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Shipment Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Package Information --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- Begin Sub Module -->
                    <div class="secLvl"> 
                      <!-- Begin Sub Header -->
                      <div class="secHead clearfix">
                        <h4 id="repl_id">{package/pallet} information subsection header</h4>
                        <ul>
                          <li><a href="repl_href" class="btnlnkL editMini">edit</a></li>
                        </ul>
                      </div>
                      <!-- End Sub Header --> 
                      
                      <!-- Begin Sub Body -->
                      <div class="secBody">
                        <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
                          <tr>
                            <th class="sel alignCenter">&nbsp;</th>
                            <th><span class="label">weight</span></th>
                            <th class="nowrap"><span class="label">dimensions/<br>
                              packaging</span></th>
                            <th><span class="label">declared value</span></th>
                            <th nowrap="nowrap"><span class="label"><a href="" class="btnlnkR helpIconR">references</a> or description</span></th>
                          </tr>
                          <tr class="odd">
                            <td class="sel alignCenter">1.</td>
                            <td nowrap="nowrap">nn.n {lbs}{kg}<br>
                              (00.0 {lbs}{kg} billable)</td>
                            <td nowrap="nowrap">nnxnnxnn in.<br>
                              packaging type</td>
                            <td nowrap="nowrap">nn.nn usd</td>
                            <td>reference # or description</td>
                          </tr>
                          <tr>
                            <td class="sel alignCenter">2.</td>
                            <td nowrap="nowrap">nn.n {lbs}{kg}<br>
                              (00.0 {lbs}{kg} billable)</td>
                            <td nowrap="nowrap">nnxnnxnn in.<br>
                              packaging type</td>
                            <td nowrap="nowrap">nn.nn usd</td>
                            <td>reference # or description</td>
                          </tr>
                          <tr class="odd">
                            <td class="sel alignCenter">3.</td>
                            <td nowrap="nowrap">nn.n {lbs}{kg}<br>
                              (00.0 {lbs}{kg} billable)</td>
                            <td nowrap="nowrap">nnxnnxnn in.<br>
                              packaging type</td>
                            <td nowrap="nowrap">nn.nn usd</td>
                            <td>reference # or description</td>
                          </tr>
                        </table>
                        
                        <!-- --------------------------------------------------------- --> 
                        <!-- Default --> 
                        <!-- --------------------------------------------------------- -->
                        <p>review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidelines</a> to see if they apply to your pallet.</p>
                      </div>
                      <!-- End Sub Body --> 
                      
                      <!-- Begin Sub Footer --><!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Package Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////// -->
                <!-- //// End Panel 2 Shipment Info                         //// -->
                <!-- //// Begin Panel 2 General Info                        //// -->
                <!-- /////////////////////////////////////////////////////////// --> 
                
                <!-- Section #2 When ONLY General Information  displayed --> 
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                    <h3 id="repl_id">general information only (container example) section header</h3>
                    <!-- --------------------------------------------------------- --> 
                    <!-- Default (when either general or package information are shown alone in step2 module) --> 
                    <!-- --------------------------------------------------------- -->
                    <ul>
                      <li><a href="repl_href" class="btnlnkL editMini">edit</a></li>
                    </ul>
                    <!-- --------------------------------------------------------- --> 
                    <!-- Default (when either general or package information are shown alone in step2 module) --> 
                    <!-- --------------------------------------------------------- --> 
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Shipment Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- Sub Level Module Container not need when General Information shown alone -->
                    
                    <dl class="outHozFixed1 clearfix">
                      <dt><span class="label">actual weight label:</span></dt>
                      <dd>nn.n lbs</dd>
                      <dt><span class="label"><a href="repl_href" class="btnlnkR helpIconR">billable weight label:</a></span></dt>
                      <dd>nn.n lbs</dd>
                      <dt><span class="label">description of goods label:</span></dt>
                      <dd>description of goods</dd>
                    </dl>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Shipment Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////// -->
                <!-- //// End Panel 2 General Info                          //// -->
                <!-- //// Begin Panel 3 Service / Shipping Options          //// -->
                <!-- /////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">3</span> </div>
                    <h3 id="repl_id">service and shipping options section header</h3>
                    <ul>
                      <li><a href="repl_href" class="btnlnkL editMini">edit link</a></li>
                    </ul>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <dl>
                      <dt> <span class="label">service label:</span> </dt>
                      <dd>{service type}</dd>
                      <dt> <span class="label">label delivery method label:</span> </dt>
                      <dd>{electronic label type}</dd>
                    </dl>
                    
                    <!-- Begin Sub Module -->
                    <div class="secLvl message sell clearfix tableonly"> 
                      <!-- Begin Sub Header -->
                      <div class="secHead clearfix">
                        <h4 id="repl_id">do you need it sooner section header?</h4>
                      </div>
                      <!-- End Sub Header --> 
                      
                      <!-- Begin Sub Body -->
                      <div class="secBody">
                        <table border="0" cellpadding="0" cellspacing="0" class="sel full">
                          <tr>
                            <td class="sel"><input name="repl_name01" type="radio" value="" id="repl_name" checked="checked"></td>
                            <td class=""><label id="repl_id" for="repl_name" class="sel">ups services</label></td>
                            <td class="alignEnd nowrap">currently selected</td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="radio" value="" id="repl_name"></td>
                            <td class=""><label id="repl_id" for="repl_name" class="sel">ups services</label></td>
                            <td class="alignEnd nowrap">nn.nn usd more</td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="radio" value="" id="repl_name"></td>
                            <td class=""><label id="repl_id" for="repl_name" class="sel">ups services</label></td>
                            <td class="alignEnd nowrap">nn.nn usd more</td>
                          </tr>
                        </table>
                      </div>
                      <!-- End Sub Body --> 
                      
                      <!-- Begin Sub Footer -->
                      <div class="secFooter">
                        <div class="btnBar">
                          <input name="" type="button" id="repl_id" value="update" class="btnlnkL checkMini">
                        </div>
                      </div>
                      <!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module --> 
                    
                    <!-- Begin Sub Module -->
                    <div class="secLvl message sell clearfix tableonly"> 
                      <!-- Begin Sub Header -->
                      <div class="secHead clearfix">
                        <h4 id="repl_id">Do you wish to offset the climate impact section header?</h4>
                      </div>
                      <!-- End Sub Header --> 
                      
                      <!-- Begin Sub Body -->
                      <div class="secBody">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">select <a href="repl_href" class="btnlnkR helpIconR">carbon neutral</a></label></td>
                            <td class="alignEnd nowrap">nn.nn usd y</td>
                          </tr>
                        </table>
                      </div>
                      <!-- End Sub Body --> 
                      
                      <!-- Begin Sub Footer -->
                      <div class="secFooter">
                        <div class="btnBar">
                          <input name="" type="button" id="repl_id" value="update" class="btnlnkL checkMini">
                        </div>
                      </div>
                      <!-- End Sub Footer --> 
                    </div>
                    <!-- End Sub Module -->
                    
                    <dl class="outHozLedger clearfix">
                      <dt> <span class="label">shipping fees subtotal label:</span> </dt>
                      <dd><strong>nn.nn usd</strong></dd>
                    </dl>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Shipping Fees Subtotal Collapsed (Default) --> 
                    <!-- --------------------------------------------------------- -->
                    <div>
                      <input id="repl_id" onClick="" name="" type="button" class="btnlnkL expandIcon" value="show shipping fees subtotal details">
                    </div>
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Shipping Fees Subtotal Collapsed (Default) --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Shipping Fees Subtotal Expanded --> 
                    <!-- --------------------------------------------------------- -->
                    <div>
                      <input id="repl_id" onClick="" name="" type="button" class="btnlnkL collapseIcon" value="hide shipping fees subtotal details">
                    </div>
                    <dl class="outHozLedger indent clearfix">
                      <dt><span class="label">transportation label</span></dt>
                      <dd>nn.dd usd</dd>
                      <dt><span class="label">fuel surcharge label</span></dt>
                      <dd>nn.dd usd</dd>
                      <dt><span class="label">declared value label</span></dt>
                      <dd>&nbsp;</dd>
                      <dt class="indent">package n</dt>
                      <dd>&nbsp;</dd>
                      <!-- --------------------------------------------------------- --> 
                      <!-- Shipping Fees Subtotal - DE to DE Forward, Package Processing --> 
                      <!-- --------------------------------------------------------- -->
                      <dt><span class="label">additional handing label</span></dt>
                      <dd>&nbsp;</dd>
                      <dt class="indent">package n</dt>
                      <dd>nnn,nn eur</dd>
                      <dt class="indent">package n</dt>
                      <dd>nnn,nn eur</dd>
                      <dt class="indent">package n</dt>
                      <dd>nnn,nn eur</dd>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Shipping Fees Subtotal - DE to DE Forward, Package Processing --> 
                      <!-- --------------------------------------------------------- -->
                      <dt><span class="label">large package surcharge label</span></dt>
                      <dd>&nbsp;</dd>
                      <dt class="indent">package n</dt>
                      <dd>nnn,nn usd</dd>
                      <dt><span class="label">residential surcharge label</span></dt>
                      <dd>nnn.nn usd</dd>
                      <dt><span class="label">security surcharge label</span></dt>
                      <dd>nnn.nn usd</dd>
                      <dt><span class="label">seasonal surcharge label</span></dt>
                      <dd>nnn.nn usd</dd>
                      <dt><span class="label">saturday processing fee</span></dt>
                      <dd>nnn.nn usd</dd>
                      <dt><span class="label">pallet surcharge</span></dt>
                      <dd>nnn.nn usd</dd>
                      <dt class="indent">pallet n</dt>
                      <dd>&nbsp;</dd>
                      <!-- --------------------------------------------------------- --> 
                      <!-- Shipping Fees Subtotal - DE to DE Forward, Package Processing --> 
                      <!-- --------------------------------------------------------- -->
                      <dt><span class="label">declared value label</span></dt>
                      <dd>no charge</dd>
                      <dt><span class="label">extended area surcharge label</span></dt>
                      <dd>nnn,nn eur</dd>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Shipping Fees Subtotal - DE to DE Forward, Package Processing --> 
                      <!-- --------------------------------------------------------- -->
                      
                    </dl>
                    <div class="hr"> <img src="/img/1.gif" alt="" width="1" height="1"> </div>
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Shipping Fees Subtotal Expanded --> 
                    <!-- --------------------------------------------------------- -->
                    
                    <h4 id="repl_id">additional shipping options subsection header:</h4>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">e-mail notifications label:</span> <a href="repl_href">edit link</a> <a href="repl_href">cancel link</a></dt>
                      <dd>no charge</dd>
                    </dl>
                    <dl class="outHozFlex clearfix">
                      <dt class="indent">1.{e-mail address}:</dt>
                      <dd>label created, ship, exception, delivery</dd>
                      <dt class="indent">e-mail failure notification:</dt>
                      <dd>{email address}</dd>
                    </dl>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">electronic label:</span> <a href="repl_href">edit link</a></dt>
                      <dd>nnn.nn usd</dd>
                    </dl>
                    <dl class="outHozFlex clearfix">
                      <dt class="indent">email electronic label to:</dt>
                      <dd>e-mail address</dd>
                      <dt class="indent">e-mail failure notification:</dt>
                      <dd>email address</dd>
                    </dl>
                    <dl class="group">
                      <dt><span class="label"><a href="repl_href" class="btnlnkR helpIconR">ups premium care</a></span></dt>
                      <dd></dd>
                    </dl>
                    <dl class="outHozLedger clearfix">
                      <dt class="indent">package 1: <a href="repl_href">cancel</a></dt>
                      <dd>nnn.nn cad</dd>
                    </dl>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">ups carbon neutral label:</span> <a href="repl_href">edit link</a> <a href="repl_href">cancel link</a></dt>
                      <dd>nnn.nn usd</dd>
                      <dt><span class="label">saturday pickup</span> <a href="repl_href">edit</a></dt>
                      <dd>nnn.nn usd</dd>
                      <dt><span class="label">dry ice (shipped under iata regulations)</span></dt>
                      <dd>nnn.nn usd</dd>
                    </dl>
                    <dl class="indent group">
                      <dt>pallet [0]</dt>
                      <dd class="indent">dry ice weight: [00.0][lb/kg]</dd>
                    </dl>
                    <dl class="outHozLedger clearfix group">
                      <dt><span class="label">liftgate on pickup</span> <a href="repl_href">cancel</a></dt>
                      <dd>nnn.nn usd</dd>
                      <dt><span class="label">liftgate on delivery</span> <a href="repl_href">cancel</a></dt>
                      <dd>nnn.nn usd</dd>
                      <dt> <span class="label">ups proactive response<sup>sm</sup> label:</span> <a href="repl_href">cancel link</a></dt>
                      <dd>nnn.nn usd</dd>
                    </dl>
                    <p id="repl_id" class="indent">needed</p>
                    <dl class="outHozLedger clearfix group">
                      <dt> <span class="label">saturday delivery label:</span> <a href="repl_href">cancel link</a></dt>
                      <dd>nnn.nn usd</dd>
                    </dl>
                    <dl class="outHozLedger totals clearfix">
                      <dt> <span class="label">total shipping charges</span> </dt>
                      <dd>nnn.nn cur</dd>
                    </dl>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////// -->
                <!-- //// End Panel 3 Service / Shipping Options            //// -->
                <!-- //// Begin Panel 4 Pickup/Drop-off Info                //// -->
                <!-- /////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">4</span> </div>
                    <h3 id="repl_id">[pickup][/dropoff] information</h3>
                    <ul>
                      <li><a href="repl_href" class="btnlnkL editMini">edit link</a></li>
                    </ul>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <h3>pickup / drop-off option</h3>
                    <p>ups will pick up / customer selected to drop off this shipment.</p>
                    <p><strong>Note:</strong> the party that will be receiving the return shipment label(s) must arrange for getting the return shipment to ups.</p>
                    <hr class="hr">
                    <h3>delivery option</h3>
                    <p>this shipment will be held at destination ups location for customer pickup.</p>
                    <div class="flexFirst clearfix">
                      <dl>
                        <dt><span class="label">[location/facility name]</span></dt>
                        <dd>[address 1]<br>
                          [city], [other], [state] [zip/postal code]<br>
                          [country or territory]<br>
                          telephone: [number]<br>
                          fax: [number]</dd>
                      </dl>
                      <p><a class="btnlnkR newWindowIconR" href="repl_href">last 50 feet directions</a></p>
                      <dl>
                        <dt><span class="label">hours of operation:</span></dt>
                        <dd>[weekday hh:mm am to hh:mm pm<br>
                          [weekday hh:mm am to hh:mm pm<br>
                          ...<br>
                          [sunday] [closed]</dd>
                      </dl>
                    </div>
                    <div class="flexAfter clearfix">
                      <dl class="outHozFlex clearfix">
                        <dt><span class="label">[000]</span></dt>
                        <dd>[mi/km]</dd>
                      </dl>
                    </div>
                    <div class="clear"> </div>
                    <p><strong>Note:</strong> the party that will be sending the return shipment must notify the recipient if the return shipment will be help for pick up at a ups location.</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module -->  
                
                <!-- /////////////////////////////////////////////////////////// -->
                <!-- //// End Panel 4 Pickup/Drop-off Info                  //// -->
                <!-- //// Begin Panel 5 Payment Info                        //// -->
                <!-- /////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">5</span> </div>
                    <h3 id="repl_id">Payment Information</h3>
                    <ul>
                      <li><a href="repl_href" class="btnlnkL editMini">edit</a></li>
                    </ul>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <dl class="outHozFixed clearfix">
                      <dt><span class="label">bill return shipping charges to:</span></dt>
                      <dd>{payment method}</dd>
                    </dl>
                    <div class="secLvl message clearfix">
                      <div class="secBody">
                        <p>{rate name} rate was applied to this shipment</p>
                        <p>{message placeholder for not showing total charges}</p>
                        <dl class="outHozLedger clearfix">
                          <dt><span class="label">return shipping charges:</span></dt>
                          <dd>nnn.nn usd</dd>
                        </dl>
                        <p>{retail rates were applied to this shipment}</p>
                        <dl class="outHozLedger clearfix">
                          <dt><span class="label">exchange shipping charges:</span></dt>
                          <dd>nnn.nn usd</dd>
                        </dl>
                        <dl class="outHozLedger totals clearfix">
                          <dt>total charged:</dt>
                          <dd>nnn.nn usd</dd>
                          <dt>negotiated total:</dt>
                          <dd>nnn.nn usd</dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <!-- End Section Body --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- /////////////////////////////////////////////////////////// -->
                <!-- //// End Panel 5 Payment Info                          //// -->
                <!-- /////////////////////////////////////////////////////////// --> 
                
                <p id="repl_id">select ship now paragraph text.</p>
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="sel"><input name="repl_name02" type="checkbox" value="" id="repl_id" checked="checked"></td>
                    <td><label for="repl_id" class="sel">save as shipping ticket</label></td>
                  </tr>
                </table>
                <p>by selecting the <strong>ship now</strong> button, i agree to the <a href="" class="btnlnkR newwindowIconR">term and conditions</a>.</p>
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="cancel {return/shipment}" class="btn">
                  <input name="" type="submit" id="repl_id" value="{create return/ship now}" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"> <br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a> </div>
          </form>
        </div>
        <!-- /applicationArea --> 