---
title: cam_shi_shi(1add)_pre_dlg_edit_custom_package
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod">
          <fieldset>
            <legend></legend>
            <!-- Begin Application Header -->
            <div class="appHead clearfix">
              <h2>{Application Header}</h2>
              <ul>
                <li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
              </ul>
            </div>
            <!-- End Application Header --> 
            
            <!-- Begin Application Body -->
            <div class="appBody clearfix"> 
              
              <!-- Begin Section Module -->
              <div class="secLvl clearfix">
                <fieldset>
                  <legend></legend>
                  <!-- Begin Section Header --><!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody clearfix">
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <select>
                      <option>item1</option>
                    </select>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer -->
                </fieldset>
              </div>
              <!-- End Section Module --> 
              
            </div>
            <!-- End Application Body --> 
            
            <!-- Begin Application Footer --><!-- End Application Footer -->
          </fieldset>
        </div>
        <!-- End Application Module -->
        
      </form>
      <!-- contentArea --> 
    </div>
    <!-- applicationArea --> 
    
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    
<div class="cclampFooter">
  <div class="appLvl appLvlPlain colsuper clearfix">
    <fieldset>
      <div class="appHead clearfix">
        <dl class="inline">
          <dt>
            <label>footer</label>
          </dt>
          <dd></dd>
          <dd></dd>
        </dl>
      </div>
      <div class="appBody clearfix">
        <fieldset>
          <div class="secLvl secLvlPlain seccol6 clearfix"></div>
        </fieldset>
      </div>
      <div class="appFooter"></div>
    </fieldset>
  </div>
</div>
<div class="appLvl mod modal col18 dialog">
  <div class="appHead clearfix">
    <h2>edit custom packaging</h2>
    <ul>
      <li>
        <input type="button" class="btnlnkL closeIcon" title="Close" id="modalClose">
      </li>
    </ul>
  </div>
  <div class="appBody">
    <p>use the form below to edit the selected custom packaging type.  you can update and save the packaging type and save changes.  or you can save changes as a new custom packaging type with a new name.  required fields are marked with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>
    <dl>
      <dt>
        <label id="repl_id" for="repl_id">custom packaging name:</label>
      </dt>
      <dd>
        <input id="repl_id" type="text" value="[user entered name]">
        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
    </dl>
    <p>
      <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">package dimensions:</a></label>
    </p>
    <dl class="flexFirst clearfix">
      <dt>
        <label id="repl_id" for="repl_id">length:</label>
      </dt>
      <dd>
        <input id="repl_id" type="text" class="formcol3">
        x</dd>
    </dl>
    <dl class="flexAfter clearfix">
      <dt>
        <label id="repl_id" for="repl_id">width:</label>
      </dt>
      <dd>
        <input id="repl_id" type="text" class="formcol3">
        x</dd>
    </dl>
    <dl class="flexAfter clearfix">
      <dt>
        <label id="repl_id" for="repl_id">height:</label>
      </dt>
      <dd>
        <input id="repl_id" type="text" class="formcol3">
        [cm]</dd>
    </dl>
    <dl class="flexAfter clearfix">
      <dt><span class="label">unit of measure:</span></dt>
      <dd>
        <select id="repl_id">
          <option>in</option>
          <option>cm</option>
        </select>
        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
    </dl>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id"></td>
        <td><label for="repl_id" class="sel">save as new custom package type</label></td>
      </tr>
    </table>
  </div>
  <div class="appFooter">
    <div class="btnBar alignCenter">
      <input name="" type="button" value="cancel" class="btn">
      <input name="" type="button" value="save {changes}" class="btn">
    </div>
  </div>
</div>
<script type="text/javascript">
		
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:710});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});

</script>
