---
title: cam_shi_shi(6rev)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            <!-- begin application header -->
            <div >
              <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td width="283"><!-- begin title -->
                    
                    <div class="appspacepad"><span class="header2">Preview Shipment</span></div>
                    
                    <!-- end title --></td>
                  <td width="283"><!-- begin module navigation --> 
                    <img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"> 
                    <!-- end module navigation --></td>
                </tr>
              </table>
            </div>
            <!-- end application header --> 
            <!-- begin instructional text -->
            <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top" width="546" class="instrpad"><!-- Begin: Error Message --> 
                  <span class="redErrorBold">{&gt;&gt;&gt; error message or user informational message here.}</span><br>
                  
                  <!-- End: Error Message --> 
                  <br>
                  Please review your shipping summary for accuracy. To modify information select the appropriate edit link.<br>
                  <br></td>
              </tr>
            </table>
            <!-- end instructional text --> 
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Address Information</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation --> 
                  <img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"> 
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 7 columns with 4 spacer columns and 3 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="7"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="7"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin left content column --> 
                        <span class="bold">Ship To :</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end left content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin center content column --> 
                        <span class="bold">Shipper :</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end center content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin right content column --> 
                        <span class="bold">Ship From :</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end right content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="7"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr >
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Shipment Information</span> &nbsp;&nbsp; <a href="repl_href" class="modlinkheader">Edit</a></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation --> 
                  <img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"> 
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column -->
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="2%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="right" nowrap valign="baseline" width="28%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="10%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="55"></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Service:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ service }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Exporter Identification Number:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nnnnnnnnnn</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Export Reference Number:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nnnnnnnnnnnnnnnnn</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><a href="repl_href">Guaranteed by:</a>&nbsp;*</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">Month dd, yyyy hh:mm A.M.</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Quantum View Notify<sup>SM</sup> 1:</span><br>
                              &nbsp;&nbsp;Ship; Exception; Delivery</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">address@company.com</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">E-mail Failure Notification:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">address@company.com</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">No Charge</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Quantum View Notify<sup>SM</sup></span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline"><span class="bold">Total:</span></td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">No Charge</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Saturday Delivery:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Saturday Processing Charge:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Declared Value Charge:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Actual Weight:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">n.n { lbs }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{<a href="javascript:helpModLvl('repl_href')">Billable Weight:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a>}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" valign="baseline" colspan="3">n.n { lbs }</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{<a href="javascript:helpModLvl('repl_href')">Dimensional Weight:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a>}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" valign="baseline" colspan="3">n.n { lbs }</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="5">{ <a href="javascript:helpModLvl('repl_href')">Peak Season Surcharge<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a> has been applied to this shipment.} </td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="5">{ Large Package Surcharge has been applied to package number:<br>
                              1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20 }</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="5">{ This item exceeds the allowable weight threshold and was rated by weight. }</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Description Of Goods:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td colspan="2" align="left" valign="baseline" nowrap>{ customer description }<br>
                              <span class="bold">{ Goods not in Free Circulation }</span></td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Delivery Confirmation:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{Signature Required}</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td colspan="5"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">SED Filing Surcharge:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <!-- ECS Preview Shipment - Shipment Processing -->
                          <tr >
                            <td align="left" nowrap valign="baseline">C.O.D. Amount:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left"  valign="baseline">{nnn.00} {Cashier's Chk/M.O. Only}</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">nnnn.00</td>
                          </tr>
                          <tr >
                            <td align="left" nowrap valign="baseline">Additional Handling:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{nn} packages</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">nnnn.00</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Large Package Surcharge:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" valign="baseline" nowrap>{nn} packages</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <!-- END ECS Preview Shipment - Shipment Processing -->
                          <tr>
                            <td align="left" nowrap valign="baseline">Reference #1:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ reference code 1 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Reference #2:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ reference code 2 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">{Fuel Surcharge}:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">** nn . nn</td>
                          </tr>
                          <tr >
                            <td colspan="5"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Shipping:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="right" nowrap valign="baseline">** nn . nn<span ></span></td>
                          </tr>
                        </table>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Pickup Information</span>&nbsp;&nbsp;<a href="repl_href" class="modlinkheader">Edit</a></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation --> 
                  <img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"> 
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column -->
                        
                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td colspan="2"><span class="bold">UPS On-Call Pickup<sup>SM</sup>:</span><span class="campusship">&nbsp;&nbsp;<a href="repl_href">Cancel</a></span></td>
                            <td>&nbsp;</td>
                            <td align="right">&nbsp;</td>
                          </tr>
                          <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="38%">Earliest Pickup:</td>
                            <td>{ mm/dd/yyyy hh:mm A.M.}</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td>Latest Pickup:</td>
                            <td>{ mm/dd/yyyy hh:mm  A.M.}</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="2">Pickup Reference:</td>
                            <td>{nnnxxxnnnxxxnnn}</td>
                            <td align="right">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="2" valign="top">Pickup Address:</td>
                            <td>{Company Name} <br>
                              {Address Line 1} <br>
                              {City}, {State} {ZIP Code} <br>
                              {Country or Territory}<br>
                              {Telephone Number}<br>
                              {Residential Address}</td>
                            <td align="right">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="2">{Various Pickup Fees:}</td>
                            <td>&nbsp;</td>
                            <td align="right"><span class="bold">** nnnn . nn</span></td>
                          </tr>
                          <tr>
                            <td colspan="2"><span class="bold">Pickup:</span></td>
                            <td>&nbsp;</td>
                            <td align="right"><span class="bold">** nnnn . nn</span></td>
                          </tr>
                          
                          <!--<tr >
									<td colspan="2"><span class="bold">Negotiated Total :</span></td>
									<td><span class="bold">Negotiated Charges in CUR</span></td>
									<td align="right"><span class="bold">** nn . nn</span></td>
								</tr>--> 
                          <!--<tr>
									<td colspan="4">Split Duty VAT shipment, shipper will pay Shipping Charges and Duties. There is a small charge on your final bill for splitting duties and taxes.</td>
								</tr>-->
                        </table>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Payment Information</span>&nbsp;&nbsp;<a href="repl_href" class="modlinkheader">Edit</a></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation --> 
                  <img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"> 
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column -->
                        
                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="38%"><span class="bold">Bill Shipping {and pickup}Charges to:</span></td>
                            <td>{ Bill Sender FOO100 }</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td><span class="bold">Bill Duties and Taxes to:</span></td>
                            <td>{ Bill Sender FOO100 }</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="4">{Deficit weight pricing has been applied to reduce your charges.}</td>
                          </tr>
                          <tr>
                            <td colspan="2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="2"><span class="bold">Subtotal Pickup Charges:</span></td>
                            <td>&nbsp;</td>
                            <td align="right"><span class="bold">** nnnn . nn</span></td>
                          </tr>
                          <tr>
                            <td colspan="2"><span class="bold">Subtotal Shipping Charges:</span></td>
                            <td>&nbsp;</td>
                            <td align="right"><span class="bold">** nnnn . nn</span></td>
                          </tr>
                          <tr>
                            <td colspan="2">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="2"><span class="bold">Total:</span></td>
                            <td><span class="bold">All Shipping Charges in CUR</span></td>
                            <td align="right"><span class="bold">** nnnn . nn</span></td>
                          </tr>
                          <tr>
                            <td colspan="2"><span class="bold">Negotiated Total:</span></td>
                            <td><span class="bold">Negotiated Charges in CUR</span></td>
                            <td align="right"><span class="bold">** nnnn . nn</span></td>
                          </tr>
                          
                          <!--<tr >
									<td colspan="2"><span class="bold">Negotiated Total :</span></td>
									<td><span class="bold">Negotiated Charges in CUR</span></td>
									<td align="right"><span class="bold">** nn . nn</span></td>
								</tr>--> 
                          <!--<tr>
									<td colspan="4">Split Duty VAT shipment, shipper will pay Shipping Charges and Duties. There is a small charge on your final bill for splitting duties and taxes.</td>
								</tr>-->
                          
                        </table>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin buttons spacer -->
            <div style="background:#FFFFFF"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top"><div align="right">
                    <input class="btn" value="Cancel Shipment" type="button" name="repl_fname">
                    <input value="Ship Now" class="btn_a" type="button" name="repl_fname">
                  </div></td>
              </tr>
            </table>
            <!-- end buttons -->
            <table border="0" cellpadding="0" cellspacing="1" width="566">
              <tr>
                <td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top"><span class="bold">Note:</span> Your invoice may vary from the displayed reference rates.<br>
                  <br>
                  * For delivery and guarantee information, see the <a href="repl_href">UPS Service Guide</a>. To talk with a customer service representative, call 1-800-PICK-UPS. <br>
                  <br>
                  * * Detailed information on <a href="repl_href">fuel surcharges</a> is also available. <br></td>
              </tr>
            </table>
            <!-- End Table: Module Table (Parent:Formatting Table) --> 
            <!-- begin note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end note area --> 
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>