---
title: cam_shi_shi(1add)_his(5edt)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">

    <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- begin application header -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top"><!-- begin page title --> 
                  <span class="blueboldHead">Edit Selected Locations</span> 
                  <!-- end page title --></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top"><!-- begin instructional text --> 
                  Use the checkboxes below to de-select any unwanted locations. Once you have completed your choices, select Update to return to an updated Selected Locations page. Select Cancel to return to your list without making any changes. 
                  <!-- end instructional text --></td>
              </tr>
              <tr>
                <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
              </tr>
            </table>
            <!-- end application header --> 
            
            <!-- begin selected locations module -->
            <table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module header -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
                      <td width="49%"><!-- begin module title --> 
                        <span class="whiteBoldHead">Locations List</span> 
                        <!-- end module title --></td>
                      <td width="49%"><!-- begin module navigation -->
                        
                        <div align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                        
                        <!-- end module navigation --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
                    </tr>
                  </table>
                  
                  <!-- end module header --></td>
              </tr>
              <tr>
                <td><!-- begin module column spacing table 1 - 5 columns with 3 spacer columns and 2 content columns -->
                  
                  <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                      <td><!-- begin secondary select functionality -->
                        
                        <input alt="Select All" border="0" height="14" name="select_all" src="/img_translations/en/btn_lnk_select_all_mini.gif" type="image" width="64">
                        &nbsp;&nbsp;
                        <input alt="Clear All" border="0" height="14" name="clear_all" src="/img_translations/en/btn_lnk_clear_all_mini.gif" type="image" width="60">
                        
                        <!-- end secondary select functionality --> 
                        
                        <br>
                        <br></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                      <td><div align="right"> 
                          
                          <!-- begin page display settings --> 
                          Display per Page:<br>
                          <select name="repl_fname" class="modSelSmall" size="1">
                            <option selected>25</option>
                            <option>50</option>
                            <option>100</option>
                          </select>
                          <!-- end page display settings --> 
                          
                        </div></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                      <td colspan="3"><!-- begin record count --> 
                        Displaying x-x of n 
                        <!-- end record count --> 
                        
                        <br>
                        
                        <!-- begin pagination -->
                        
                        <input value="First" name="page_first2" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Previous" name="page_previous22" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Previous 10" name="page_previous_1022" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="1" name="page_122" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="2" name="page_222" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="3" name="page_322" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="4" name="page_422" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="5" name="page_522" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="6" name="page_622" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="7" name="page_722" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="8" name="page_822" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="9" name="page_922" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="10" name="page_1022" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Next 10" name="page_next_1022" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Next" name="page_next22" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Last" name="page_last22" class="btn_lnk" type="button">
                        
                        <!-- end pagination --> 
                        
                        <br>
                        <br></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table 1 --> 
                  
                  <!-- begin results table -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="562">
                    
                    <!-- Begin Row: Header Rows with vertical spacing -->
                    <tr>
                      <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="28"></td>
                      <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="266"></td>
                      <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="28"></td>
                      <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="239"></td>
                    </tr>
                    <tr>
                      <td bgcolor="#cccccc">&nbsp;</td>
                      <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">Location Name</span></div></td>
                      <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td bgcolor="#cccccc">&nbsp;</td>
                      <td bgcolor="#cccccc"><div class="spacingResults"><span class="bold">Location Name</span></div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#cccccc"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
                      <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!-- End Row: Header Rows with vertical spacing --> 
                    
                    <!-- Begin Row: Odd Row with vertical spacing -->
                    <tr bgcolor="#ffffff">
                      <td colspan="5" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                      <td><input checked  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                      <td><div class="spacingResults">[location name]</div></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><input checked  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                      <td><div class="spacingResults">[location name]</div></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                      <td colspan="5" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!-- End Row: Odd Row with vertical spacing --> 
                    
                    <!-- Begin Row: Even Row with vertical spacing -->
                    <tr bgcolor="#cccccc">
                      <td colspan="5" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr bgcolor="#cccccc">
                      <td><input checked  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                      <td><div class="spacingResults">[location name]</div></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><input checked  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                      <td><div class="spacingResults">[location name]</div></td>
                    </tr>
                    <tr bgcolor="#cccccc">
                      <td colspan="5" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!-- End Row: Even Row with vertical spacing --> 
                    
                    <!-- Begin Row: Odd Row with vertical spacing -->
                    <tr bgcolor="#ffffff">
                      <td colspan="5" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                      <td><input checked  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                      <td><div class="spacingResults">[location name]</div></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><input checked  name="repl_fname" type="checkbox" value="repl_fvalue"></td>
                      <td><div class="spacingResults">[location name]</div></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                      <td colspan="5" valign="top"><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!-- End Row: Odd Row with vertical spacing -->
                    
                    <tr bgcolor="#cccccc">
                      <td colspan="5"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end results table --> 
                  
                  <!-- begin module column spacing table 2 - 5 columns with 3 spacer columns and 2 content columns -->
                  
                  <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                      <td><br>
                        
                        <!-- begin record count --> 
                        Displaying x-x of n 
                        <!-- end record count --> 
                        
                        <br>
                        
                        <!-- begin pagination | image version -->
                        
                        <input value="First" name="page_first2" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Previous" name="page_previous22" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Previous 10" name="page_previous_1022" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="1" name="page_122" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="2" name="page_222" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="3" name="page_322" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="4" name="page_422" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="5" name="page_522" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="6" name="page_622" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="7" name="page_722" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="8" name="page_822" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="9" name="page_922" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="10" name="page_1022" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Next 10" name="page_next_1022" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Next" name="page_next22" class="btn_lnk" type="button">
                        <img border="0" height="10" src="/img/xln_vertical_line.gif" width="11">
                        <input value="Last" name="page_last22" class="btn_lnk" type="button">
                        
                        <!-- end pagination --> 
                        
                        <!-- begin pagination | text version
			<a href="repl_href">First</a> | 
			<a href="repl_href">Previous</a> | 
			<a href="repl_href">.</a> | 
			<a href="repl_href">1</a> | 
			<a href="repl_href">2</a> | 
			<a href="repl_href">3</a> | 
			<a href="repl_href">4</a> | 
			<a href="repl_href">5</a> | 
			<a href="repl_href">6</a> | 
			<a href="repl_href">7</a> | 
			<a href="repl_href">8</a> | 
			<a href="repl_href">9</a> | 
			<a href="repl_href">10</a> | 
			<a href="repl_href">.</a> | 
			<a href="repl_href">Next</a> | 
			<a href="repl_href">Last</a>
			end pagination --> 
                        
                        <br>
                        <br></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                      <td><!-- begin secondary select functionality -->
                        
                        <input alt="Select All" border="0" height="14" name="select_all" src="/img_translations/en/btn_lnk_select_all_mini.gif" type="image" width="64">
                        &nbsp;&nbsp;
                        <input alt="Clear All" border="0" height="14" name="clear_all" src="/img_translations/en/btn_lnk_clear_all_mini.gif" type="image" width="60">
                        
                        <!-- end secondary select functionality --> 
                        
                        <br>
                        <br></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table 2 --></td>
              </tr>
            </table>
            <!-- end selected locations module --> 
            
            <!-- begin buttons -->
            <table border="0" cellpadding="0" cellspacing="1" width="566">
              <tr>
                <td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
              </tr>
              <tr>
                <td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
                <td align="right" valign="top" width="366"><input value="Cancel" class="btn" type="button">
                  <input value="Update" class="btn" type="button"></td>
              </tr>
            </table>
            <!-- end buttons -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
  </div>