---
title: cam_shi_imp_edt_package
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">{application header}</h2>
                <ul>
                  <li>{<a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link}</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p class="error">{&gt;&gt;&gt;error message.}</p>
                <p>{paragraph text. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.}</p>
                <dl class="outHozFlex clearfix">
                  <dt>{total packages label}:</dt>
                  <dd id="repl_id">{n}</dd>
                </dl>
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3 id="repl_id" class="">{package n}</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody clearfix">
                      <dl class="group">
                        <dt>
                          <label id="repl_id" for="repl_id" class="error">{<a id="repl_id" href="repl_href" class="btnlnkR helpIconR">&gt;&gt;&gt;package type label:</a>}</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id" onChange="switchid(this.options[this.selectedIndex].value);">
                            <option value="" selected>{my packaging}</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">{weight label:}</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="{10.0}" size="5">
                          lbs<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <label id="repl_id" for="repl_id">{<a id="repl_id" href="repl_href" class="btnlnkR helpIconR">package dimensions:</a>}</label>
                      <fieldset>
                        <dl class="flexFirst group">
                          <dt>
                            <label id="repl_id" for="repl_id">{length label:}</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" value="{12}" size="5">
                          </dd>
                        </dl>
                        <dl class="flexAfter group">
                          <dt>
                            <label id="repl_id" for="repl_id">{width label:}</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" value="{12}" size="5">
                          </dd>
                        </dl>
                        <dl class="flexAfter group">
                          <dt>
                            <label id="repl_id" for="repl_id">{height label:}</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" value="{6}" size="5">
                            in.</dd>
                        </dl>
                      </fieldset>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                          <td><label id="repl_id" for="repl_id" class="sel">{large package: text.}</label></td>
                        </tr>
                        <tr>
                          <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                          <td><label id="repl_id" for="repl_id" class="sel">{additional landing: text.}</label></td>
                        </tr>
                      </table>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">{declared value label:</a>}</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="{25.00}" size="5">
                          usd</dd>
                      </dl>
                      <p>{<strong>note:</strong> additional shipping fees.}</p>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">{merchandise description:</a>}</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="{example description}">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <label id="repl_id" for="repl_id">{<a id="repl_id" href="repl_href" class="btnlnkR helpIconR">references:</a>}</label>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">{reference #1 label:}</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="">
                          {<a id="repl_id" href="repl_href">serach link</a>}</dd>
                        <dt>
                          <label id="repl_id" for="repl_id">{reference #2 label:}</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="">
                          {<a id="repl_id" href="repl_href">serach link</a>}</dd>
                        <dt>
                          <label id="repl_id" for="repl_id">{reference #3 label:}</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="">
                          {<a id="repl_id" href="repl_href">serach link</a>}</dd>
                      </dl>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                          <td><label id="repl_id" for="repl_id" class="sel">{<a id="repl_id" href="repl_href" class="btnlnkR helpIconR">add a bar code for reference #1 (applies all packages)</a>.}</label></td>
                        </tr>
                      </table>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="{cancel}" class="btn">
                  <input name="" type="submit" id="repl_id" value="{next}" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 