---
title: cam_shi_shi_edt_shipmentinfo
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">application header</h2>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p class="error">&gt;&gt;&gt;error message.</p>
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl">
                    <fieldset>
                      <!-- Begin Section Header --><!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id" class="error"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">&gt;&gt;&gt;description of goods:</a></label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" value="{description of goods}">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">selection one</label></td>
                          </tr>
                          <tr>
                            <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                            <td><label id="repl_id" for="repl_id" class="sel">selection two</label></td>
                          </tr>
                        </table>
                        
                        <!-- --------------------------------------------------------- --> 
                        <!-- Shipment Information - DE to FR EU Transborder, Shipment Processing --> 
                        <!-- --------------------------------------------------------- -->
                        
                        <dl class="group">
                          <dt>
                            <label id="repl_id" for="repl_id">number of packages label:</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id" onChange="">
                              <option value="" selected>n</option>
                            </select>
                          </dd>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">packaging type label:</a></label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id" onChange="">
                              <option value=""  selected>my packaging</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                          <dt>
                            <label id="repl_id" for="repl_id">total shipment weight label:</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" value="56,0" >
                            kg<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                          <dt>
                            <label id="repl_id" for="repl_id"><a href="" class="btnlnkR helpIconR">total dimensinal weight label:</a></label>
                            <a id="repl_id" href="repl_href" class="indent">or enter package dimensions link</a></dt>
                          <dd>
                            <input name="" type="text" id="repl_id" value="[nn,nn]" >
                            [kg]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                          <dt>
                            <label id="repl_id" for="repl_id">total shipment declared value:</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id" value="233,50" >
                            eur<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                          <p><strong>note:</strong> additional shipping fees.</p>
                        </dl>
                        <dl>
                          <dt>
                            <label><a href="" class="btnlnkR helpIconR">large or unusually shaped packages</a></label>
                          </dt>
                          <dd>
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                                <td><label id="repl_id" class="sel" for="repl_id">large package label</label></td>
                              </tr>
                              <tr>
                                <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                                <td><label id="repl_id" class="sel" for="repl_id">additional handling label.</label></td>
                              </tr>
                            </table>
                          </dd>
                        </dl>
                        
                        <!-- REMOVED JAN11 ER
												<dl class="group">
													<dt><label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">number of packages that are large label:</a></label></dt>
													<dd><select name="" id="repl_id" onChange="">
																<option value="" selected>n</option>
															</select>
													</dd>
													<dt><label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">number of packages with additional label:</a></label></dt>
													<dd><select name="" id="repl_id" onChange="">
																<option value="" selected>n</option>
															</select>
													</dd>
												</dl>--> 
                        
                        <!-- --------------------------------------------------------- --> 
                        <!-- END Shipment Information - DE to FR EU Transborder, Shipment Processing --> 
                        <!-- --------------------------------------------------------- -->
                        
                        <fieldset>
                          <dl class="flexFirst">
                            <dt>
                              <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">appropriation number:</a></label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" value="description of goods">
                            </dd>
                          </dl>
                          <dl class="flexAfter">
                            <dt>
                              <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">fda product code:</a></label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" value="description of goods">
                            </dd>
                          </dl>
                        </fieldset>
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                            <td><label id="repl_id" for="repl_id" class="sel"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">add a bar code for appropriation number to my shipping label</a></label></td>
                          </tr>
                        </table>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row -->
                  <div class="btnBar">
                    <input name="" type="button" id="repl_id" value="cancel" class="btn">
                    <input name="" type="submit" id="repl_id" value="next" class="btnArw">
                  </div>
                  <!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 