---
title: cam_shi_imp_edi_address
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <h1 id="repl_id">{page title}</h1>
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">{application header}</h2>
                <ul>
                  <li><a id="repl_id" href="repl_href" class="btnlnkR printIconR">{help link}</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p class="error">{&gt;&gt;&gt;error message.}</p>
                <p>{paragraph text. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.}</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl clearfix">
                  <fieldset>
                    <!-- Begin Section Header --><!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody clearfix">
                      <dl class="clearfix">
                        <dt>
                          <label id="repl_id" for="repl_id">{address book label:}</label>
                        </dt>
                        <dd>
                          <div class="floatBegin">
                            <select name="" id="repl_id">
                              <option value="">{enter or select one}</option>
                            </select>
                          </div>
                          <div class="floatBegin"> -- {or enter a new address below} -- </div>
                        </dd>
                      </dl>
                      <div><a id="repl_id" href="repl_href">{external address book link}</a></div>
                      <fieldset>
                        <!-- Begin Column -->
                        <div class="subcol9 marginBegin">
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">{company or name:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" value="{company/name}" size="32">
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            <dt>
                              <label id="repl_id" for="repl_id">{contact:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" value="{contact}" size="32">
                            </dd>
                            <dt>
                              <label id="repl_id" for="repl_id">{country or territory:}</label>
                            </dt>
                            <dd>
                              <select name="" size="1" id="repl_id">
                                <option value="">{select a country or territory}</option>
                                <option value="" selected>{country or territory}</option>
                              </select>
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                            <dt>
                              <label id="repl_id" for="repl_id">{address line 1:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" value="{address}" size="32">
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            <dt>
                              <label id="repl_id" for="repl_id">{address line 2:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" size="32">
                              <div class="reqTxtInst">{instructional text}</div>
                            </dd>
                            <dt>
                              <label id="repl_id" for="repl_id">{address line 3:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" size="32">
                              <div class="reqTxtInst">{instructional text}</div>
                            </dd>
                          </dl>
                        </div>
                        <!-- End Column --> 
                        
                        <!-- Begin Column -->
                        <div class="subcol9 marginEnd">
                          <dl class="group">
                            <dt>
                              <label id="repl_id" for="repl_id" class="error">{&gt;&gt;&gt;city:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" value="{city}" size="32">
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            <dt>
                              <label id="repl_id" for="repl_id">{state:}</label>
                            </dt>
                            <dd>
                              <select name="" id="repl_id">
                                <option value="">{select one}</option>
                                <option value="" selected>{state}</option>
                              </select>
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            <dt>
                              <label id="repl_id" for="repl_id">{zip code:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" value="{nnnnnn}" size="15">
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                          </dl>
                          <fieldset>
                            <dl class="flexFirst group">
                              <dt>
                                <label id="repl_id" for="repl_id">{telephone:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" value="{nnn-nnn-nnnn}" size="15">
                              </dd>
                            </dl>
                            <dl class="flexAfter group">
                              <dt>
                                <label id="repl_id" for="repl_id">{ext.:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="5">
                              </dd>
                            </dl>
                          </fieldset>
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">{e-mail:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" id="repl_id" size="32">
                            </dd>
                          </dl>
                        </div>
                        <!-- End Column -->
                      </fieldset>
                      <div class="hr"><img alt="" border="0" width="1" height="1" src="/img/1.gif" ></div>
                      <fieldset>
                        <!-- Begin Column -->
                        <div class="subcol9 marginBegin">
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">{save options for address:}</label>
                            </dt>
                            <dd>
                              <select name="" id="repl_id">
                                <option value="" selected>{select one}</option>
                              </select>
                            </dd>
                          </dl>
                        </div>
                        <!-- End Column --> 
                        
                        <!-- Begin Column -->
                        <div class="subcol9 marginEnd">
                          <dl>
                            <dt>
                              <label id="repl_id" for="repl_id">{save this to my address book as:}</label>
                            </dt>
                            <dd>
                              <input type="text" name="" id="repl_id">
                            </dd>
                          </dl>
                        </div>
                        <!-- End Column -->
                      </fieldset>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
              </div>
              <!-- End Application Body --> 
              
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="{cancel}" class="btn">
                  <input name="" type="submit" id="repl_id" value="{update}" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 