---
title: cam_shi_shi(1add)_ret(6rev)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">

<form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content -->
            <div class="campusship"><img alt="" border="0" height="8" src="/img/icn_page_title_cs.gif" width="1"></div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Return</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            
            <!-- begin application header -->
            <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="283"><!-- begin title -->
                  
                  <div class="appspacepad"><span class="header2">Preview Return Shipment</span></div>
                  
                  <!-- end title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis">
                    <div class="modspacepad" align="right"><a href="repl_href" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                  </div>
                  
                  <!-- end module navigation --></td>
              </tr>
            </table>
            <!-- end application header --> 
            
            <!-- begin instructional text -->
            <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td valign="top" width="546"><!-- Begin: Error Message -->
                  
                  <div class="instrpad"> <span class="redErrorBold">&gt;&gt;&gt; error message or user informational message here. error message or user informational message here. error message or user informational message here. error message or user informational message here.</span><br>
                    
                    <!-- End: Error Message --> 
                    <br>
                  </div>
                  <div class="instrpad">Please review your shipping summary for accuracy. To modify information select the appropriate edit link.</div>
                  <br></td>
              </tr>
            </table>
            <!-- end instructional text --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Address Information</span></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  <div class="campusship"> </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 7 columns with 4 spacer columns and 3 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="7"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="7"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin left content column --> 
                        <span class="bold">Return To :</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end left content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin center content column --> 
                        <span class="bold">Shipper :</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end center content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="32%"><!-- begin right content column --> 
                        <span class="bold">Pickup From :</span> &nbsp;&nbsp; <a href="repl_href">Edit</a> <br>
                        {company name}<br>
                        {contact name}<br>
                        {telephone number ext.}<br>
                        {address 1}<br>
                        {address 2}<br>
                        {address 3}<br>
                        {city, state, postal code} 
                        <!-- end right content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="7"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table -->
                  
                  <table class="campusship" bgcolor="#FFFFFF" width="100%">
                    <tr>
                      <td><input type="checkbox">
                        &nbsp;Perform Detailed Address Validation</td>
                    </tr>
                  </table></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module divider line -->
            <div class="uis">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="6" src="/img/icn_module_divider_gline.gif" width="566"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Shipment Information</span>&nbsp;&nbsp;<a href="repl_href" class="modlinkheader">Edit</a></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  <div class="campusship"> </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column -->
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="2%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="right" nowrap valign="baseline" width="28%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="10%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="55"></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Return Service:</span></td>
                            <td align="left" nowrap valign="baseline"></td>
                            <td align="left" nowrap valign="baseline">UPS Returns<sup>SM</sup> Print Return Label</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Service:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ service name }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Special Commodities:</span></td>
                            <td align="left" nowrap valign="baseline"></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">No Charge</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Exporter Identification Number:</td>
                            <td align="left" nowrap valign="baseline"></td>
                            <td align="left" nowrap valign="baseline">nnnnnnnnnn</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Export Reference Number:</td>
                            <td align="left" nowrap valign="baseline"></td>
                            <td align="left" nowrap valign="baseline">nnnnnnnnnnnnnnnnn</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="3">&nbsp;{Account Enabled for Paperless Commercial Invoicing}</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><a href="repl_href">Guaranteed by:</a>*</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">Month dd, yyyy hh:mm A.M.</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Return Notification 1:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">address@company.com</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Return Notification 2:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">address@company.com</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Return Notification 3:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">address@company.com</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Return Notification 4:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">address@company.com</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Return Notification 5:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">address@company.com</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">E-mail Failure Notification:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">address@company.com</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">No Charge</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Return Notifications</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline"><span class="bold">Total:</span></td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">No Charge</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Saturday Delivery:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Actual Weight:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">n.n {lbs}</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{<a href="javascript:helpModLvl('repl_href')">Billable Weight:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a>}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" valign="baseline" colspan="3">n.n { lbs }</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="5">{ Large Package Surcharge has been applied to package number:<br>
                              1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20 }</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Description Of Goods:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td colspan="2" align="left" valign="baseline" nowrap>{ customer description }<br>
                              <span class="bold">{ Goods not in Free Circulation }</span></td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="5"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Additional Handling:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td colspan="5"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Declared Value Amount:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ nnn.00} {USD}</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td colspan="5"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">UPS On Call Air Pickup</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline"><a href="repl_href">Edit</a>&nbsp;&nbsp;&nbsp;<a href="repl_href">Cancel</a></td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">No Charge</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Shipment Ready at:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">Month dd, yyyy hh:mm A.M.</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Pick Up by:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">Month dd, yyyy hh:mm A.M.</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="5"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">SED Filing Surcharge:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Reference #1:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ reference code 1 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">Reference #2:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ reference code 2 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="5"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">{Fuel Surcharge}:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">** nn . nn</td>
                          </tr>
                          <tr>
                            <td colspan="5"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Shipping:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                        </table>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module divider line -->
            <div class="uis">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="6" src="/img/icn_module_divider_gline.gif" width="566"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Package Information</span>&nbsp;&nbsp;<a href="repl_href" class="modlinkheader">Edit</a></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  <div class="campusship"> </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column -->
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="2%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="right" nowrap valign="baseline" width="28%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="10%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="55"></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="modsubheader">Package 1 of n :</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;Package Type:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ package type }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;Dimensions:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn x nn x nn in.</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;Actual Weight:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn.n lb</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{<a href="javascript:helpModLvl('repl_href')">Billable Weight:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a>}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{nn.n}{lb}</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="5">&nbsp;{ Large Package Surcharge has been applied to this package. }</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" nowrap valign="baseline"><span class="bold">UPS Proactive Response<sup>SM</sup></span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="3"><span class="bold">Dry Ice:</span> (Shipped under IATA regulations.)</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" nowrap valign="baseline">&nbsp;Dry Ice Weight:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn.n kg</td>
                            <td align="right" nowrap valign="baseline">&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Additional Handling:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" nowrap valign="baseline"><span class="bold">Delivery Confirmation:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">No Indirect Delivery, Signature Req.</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" nowrap valign="baseline">&nbsp;Merchandise Description:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ customer data }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Declared Value Amount:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nnn . 00</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Verbal Confirmation:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;&nbsp;Contact Name:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ Contact Name }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;&nbsp;Phone Number:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ Customer Phone }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">C.O.D. Amount:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nnn . 00 Cashier's CHK/M.O. Only</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" colspan="3">This package may be delivered without receiving a signature</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{Reference #1:}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ reference code 1 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{Reference #2:}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ reference code 2 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" colspan="5" nowrap valign="baseline"><br></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="modsubheader">Package 2 of n :</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;Package Type:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ package type }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;Dimensions:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn x nn x nn in.</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;Actual Weight:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn.n lb</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{<a href="javascript:helpModLvl('repl_href')">Billable Weight:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a>}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{nn.n}{lb}</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="5">&nbsp;{ Large Package Surcharge has been applied to this package. }</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" nowrap valign="baseline"><span class="bold">UPS Proactive Response<sup>SM</sup></span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline" colspan="3"><span class="bold">Dry Ice:</span> (Shipped under IATA regulations.)</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" nowrap valign="baseline">&nbsp;Dry Ice Weight:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn.n kg</td>
                            <td align="right" nowrap valign="baseline">&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Additional Handling:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" nowrap valign="baseline"><span class="bold">Delivery Confirmation:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">No Indirect Delivery, Signature Req.</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Declared Value Amount:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nnn . 00</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Verbal Confirmation:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;&nbsp;Contact Name:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ Contact Name }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">&nbsp;&nbsp;Phone Number:</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ Customer Phone }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">C.O.D. Amount:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nnn . 00 Cashier's CHK/M.O. Only</td>
                            <td align="right" nowrap valign="baseline">. . . . . . . . .&nbsp;&nbsp;</td>
                            <td align="left" nowrap valign="baseline">nn . nn</td>
                          </tr>
                          <tr class="campusship">
                            <td align="left" colspan="3">This package may be delivered without receiving a signature</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{Reference #1:}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ reference code 1 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline">{Reference #2:}</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ reference code 2 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" colspan="5" nowrap valign="baseline"><br></td>
                          </tr>
                        </table>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin module divider line -->
            <div class="campusship">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="16" src="/img/icn_module_divider.gif" width="1"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module divider line -->
            <div class="uis">
              <table class="moddividercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                <tr>
                  <td><img alt="" border="0" height="6" src="/img/icn_module_divider_gline.gif" width="566"></td>
                </tr>
              </table>
            </div>
            <!-- end module divider line --> 
            
            <!-- begin module header -->
            <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                <td width="283"><!-- begin module title -->
                  
                  <div class="modspacepad"><span class="modheader">Payment Information</span>&nbsp;&nbsp;<a href="repl_href" class="modlinkheader">Edit</a></div>
                  
                  <!-- end module title --></td>
                <td width="283"><!-- begin module navigation -->
                  
                  <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                  <div class="campusship"> </div>
                  
                  <!-- end module navigation --></td>
                <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
            </table>
            <!-- end module header --> 
            
            <!-- begin module -->
            <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
              <tr>
                <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                  
                  <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                      <td valign="top" width="98%"><!-- begin content column -->
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="2%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="right" nowrap valign="baseline" width="28%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="10%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="55"></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Bill Shipping Charges to:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ Bill Sender F00100 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Bill Duties and Taxes to:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">{ Bill Sender F00100 }</td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                          </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="2%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td align="left" nowrap valign="baseline" width="30%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="right" nowrap valign="baseline" width="28%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></td>
                            <td align="left" nowrap valign="baseline" width="10%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="55"></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Total :</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline"><span class="bold">All Shipping Charges in CUR</span></td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline"><span class="bold">** nn . nn</span></td>
                          </tr>
                          <tr>
                            <td align="left" nowrap valign="baseline"><span class="bold">Negotiated Total:</span></td>
                            <td align="left" nowrap valign="baseline">&nbsp;</td>
                            <td align="left" nowrap valign="baseline"><span class="bold">Negotiated Charges in CUR</span></td>
                            <td align="right" nowrap valign="baseline">&nbsp;</td>
                            <td align="right" nowrap valign="baseline"><span class="bold">** nn . nn</span></td>
                          </tr>
                        </table>
                        
                        <!-- end content column --></td>
                      <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                    </tr>
                    <tr>
                      <td colspan="3"><br>
                        Charges shown are for your initial return shipping label, any additional return labels created as a batch will be billed separately on your UPS billing statement. </td>
                    </tr>
                    <tr>
                      <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- end module column spacing table --></td>
              </tr>
            </table>
            <!-- end module --> 
            
            <!-- begin buttons spacer -->
            <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
            <!-- end buttons spacer --> 
            
            <!-- begin buttons -->
            <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top"><div align="right">
                    <input value="Cancel Shipment" class="btn" type="button">
                    <input value="Ship Now" class="btn_a" type="button">
                  </div></td>
              </tr>
            </table>
            <!-- end buttons --> 
            
            <!-- begin note area -->
            <div class="modspacepad">
              <table border="0" cellpadding="0" cellspacing="1" width="566">
                <tr>
                  <td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
                </tr>
                <tr>
                  <td valign="top"><br>
                    An additional surcharge may be included when Duties and Taxes are paid for outside the destination country or territory.<br>
                    <br>
                    Negotiated Rates are currently unavailable. <br>
                    <br>
                    &nbsp;<span class="bold">Note: Total</span> is for reference only. It does not include applicable taxes. <br>
                    <br>
                    * For delivery and guarantee information, see the UPS Service Guide. To talk with a customer service representative, call 1-800-PICK-UPS. <br>
                    <br>
                    * *Detailed information on <a href="repl_href">fuel surcharges</a> is also available. <br>
                    <br>
                    <div class="campusship"> # Hundredweight (CWT) rate has automatically been applied to this shipment. </div></td>
                </tr>
              </table>
            </div>
            <!-- end note area -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
  </div>