---
title: create an import control shipment
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       \
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">{thank you. your ups import control<sup>sm</sup> shipment has been processed.}</h2>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix"> 
                
                <!-- Begin Section Module -->
                <div class="secLvl message clearfix"> 
                  <!-- Begin Section Header --><!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  
                  <div class="secBody clearfix">
                    <p id="repl_id">we have received your shipping details.  if you need to {<strong>pring a shipping label</strong>, or} <strong>print a receipt</strong>, follow the steps below.</p>
                    <div class="secLvl message clearfix">
                      <div class="secBody clearfix">
                        <p><strong>Note:</strong> <strong>ups worldwide express freight</strong> shipments require <strong>five (5) labels</strong> for each pallet in your shipment</p>
                      </div>
                    </div>
                    <dl class="outHozFixed clearfix">
                      <dt> <span class="label">{tracking number:}</span> </dt>
                      <dd>{1zXnnXnnnnnnnnnnnn}</dd>
                      <dt> <span class="label">{service:}</span> </dt>
                      <dd>{ups service}</dd>
                      <dt> <span class="label">{label delivery method:}</span> </dt>
                      <dd>{electronic label}</dd>
                      <dt> <span class="label">{bill shipping {and pickup} charges to:}</span> </dt>
                      <dd>{card name} nnnnnn</dd>
                    </dl>
                    <p>{rate name} rate was applied to this shipment</p>
                    <dl class="outHozFixed clearfix">
                      <dt> <span class="label">{subtotal pickup charges:}</span> </dt>
                      <dd >{nn.nn}{usd}</dd>
                      <dt> <span class="label">{subtotal shipping charges:}</span> </dt>
                      <dd>{nn.nn}{usd}</dd>
                    </dl>
                    <dl class="outHozFixed clearfix totals">
                      <dt> <span class="label">{total charged:}</span> </dt>
                      <dd>{nn.nn} {usd}</dd>
                    </dl>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">print ups import control shipping documents</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p id="repl_id">select the item to print below, then select <strong>print</strong>.</p>
                    <p id="repl_id"><strong>Note:</strong> you need to print <strong>5 labels</strong> for each pallet in your ups worldwide express freight shipment.</p>
                    <dl class="outHozFlex clearfix">
                      <dt>
                        <label for="repl_id">number of selected labels to print:</label>
                      </dt>
                      <dd>
                        <select id="repl_id" class="formcol2">
                          <option selected="selected">5</option>
                          <option>##</option>
                        </select>
                      </dd>
                    </dl>
                    <div class="clearfix"> </div>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Print Shipping Documents - Labels Printed --> 
                    <!-- --------------------------------------------------------- -->
                    <h4 id="repl_id">{label:}</h4>
                    <div class="sel clearfix">
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 1 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 2 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 3 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 4 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 5 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 6 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 7 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 8 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 9 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 10 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 11 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 12 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 13 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 14 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 15 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Pallet 16 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 17 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 18 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 19 Labels</label>
                        </dd>
                      </dl>
                      <dl class="outHozFlex sel5 clearfix">
                        <dt>
                          <input name="" type="checkbox" value="">
                        </dt>
                        <dd>
                          <label id="repl_id" for="repl_id" class="sel">Package 20 Labels</label>
                        </dd>
                      </dl>
                    </div>
                    <dl class="outHozFlex group clearfix">
                      <dt>
                        <label id="repl_id" for="repl_id" class="sel">{print labels using my ups thermal printer?}</label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="no" selected>no</option>
                          <option value="yes">yes</option>
                        </select>
                      </dd>
                      <dt>
                        <label id="repl_id" for="repl_id" class="sel">{print label instructions on?}</label>
                      </dt>
                      <!-- enabled - default -->
                      <dd>
                        <select name="" id="repl_id">
                          <option value="" selected>each label</option>
                        </select>
                      </dd>
                      <!-- enabled - default --> 
                      
                      <!-- disabled - freight -->
                      <dd>
                        <select name="" id="repl_id" class="disabled" disabled>
                          <option value="" selected>each label</option>
                        </select>
                      </dd>
                      <!-- disabled - freight -->
                    </dl>
                    <p id="repl_id" class="reqTxtInst">{(shipment requiring a signature text)}</p>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Print Shipping Documents - Labels Printed --> 
                    <!-- --------------------------------------------------------- -->
                    
                    <h4 id="repl_id">{receipt:}</h4>
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" for="repl_id" class="sel">{receipt}</label></td>
                      </tr>
                    </table>
                    <dl class="outHozFlex clearfix">
                      <dt>
                        <label id="repl_id" for="repl_id" class="sel">{print receipt using my ups thermal printer?}</label>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="no" selected>no</option>
                          <option value="yes">yes</option>
                        </select>
                      </dd>
                    </dl>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer -->
                  <div class="secFooter">
                    <div class="btnBar">
                      <input name="" type="button" id="repl_id" class="btn" value="Print">
                    </div>
                  </div>
                  <!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">void this shipment or past shipments</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p id="repl_id">{paragraph text, <strong>void this/all shipment(s)</strong>. pragraph text <a href="repl_href">history link</a>.}</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer -->
                  <div class="secFooter">
                    <div class="btnBar">
                      <input name="" type="button" id="repl_id" class="btn" value="{void {this/all} Shipment}">
                    </div>
                  </div>
                  <!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">what about my ups import control shipping label?</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p id="repl_id">{paragraph text}</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- ////////////////////////////////////////////////////////////// --> 
                <!-- The following is a dynamic version of the previous module with 
                        changed module title, instructions and controls --> 
                <!-- ////////////////////////////////////////////////////////////// --> 
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">getting your shipments to ups</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <dl>
                      <dt>
                        <label for="repl_id">pickup / drop-off option</label>
                      </dt>
                      <dd>ups will pick up / customer selected to drop off this shipment.</dd>
                    </dl>
                    <p><strong>Note:</strong> the party that will be receiving the return shipment label(s) must arrange for getting the return shipment to ups.</p>
                    <hr class="hr">
                    <div id="repl_id">
                      <div class="flexFirst clearfix">
                        <dl>
                          <dt>
                            <label for="repl_id">[location/facility name]</label>
                          </dt>
                          <dd>[address 1]<br>
                            [city], [other], [state] [zip/postal code]<br>
                            [country or territory]<br>
                            telephone: [number]<br>
                            fax: [number]</dd>
                        </dl>
                        <p><a class="btnlnkR newWindowIconR" href="repl_href">last 50 feet directions</a></p>
                        <dl>
                          <dt>
                            <label for="repl_id">hours of operation:</label>
                          </dt>
                          <dd>[weekday] hh:mm am to hh:mm pm<br>
                            [weekday] hh:mm am to hh:mm pm<br>
                            [weekday] hh:mm am to hh:mm pm<br>
                            ...<br>
                            [sunday] [closed]</dd>
                        </dl>
                      </div>
                      <div class="flexAfter clearfix">
                        <dl class="outHozFlex clearfix">
                          <dt>
                            <label for="repl_id">[000]</label>
                          </dt>
                          <dd>[mi/km]</dd>
                        </dl>
                      </div>
                      <div class="clear"> </div>
                      <p><strong>Note:</strong> the party that will be sending the return shipment must notify the recipient if the return shipment will be help for pick up at a ups location.</p>
                    </div>
                    <div id="repl_id">
                      <dl>
                        <dt>
                          <label for="repl_id">delivery option</label>
                        </dt>
                        <dd> 
                          <!-- Begin Sub Section Level -->
                          <div class="secLvl message clearfix"> 
                            <!-- Begin Sub Section Header -->
                            <div class="secHead clearfix">
                              <h4>no ups facility were found within the search radius</h4>
                            </div>
                            <!-- End Sub Section Header --> 
                            
                            <!-- Begin Sub Section Body -->
                            <div class="secBody clearfix">
                              <p>[this ups worldwide express freight shipment requires assistance, please select the <strong>contact ups</strong> link above to schedule a pickup.]</p>
                            </div>
                            <!-- End Sub Section Body --> 
                          </div>
                          <!-- End Sub Section Level --> 
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3 id="repl_id">next steps...</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p id="repl_id" class="group">{you can create another shipment, or view your shipment history to review and track previously shipped packages.}</p>
                    <ul class="lstArrow">
                      <li><a href="repl_href">{create another shipment}</a></li>
                      <li><a href="repl_href">{view your shipping history}</a></li>
                    </ul>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer --><!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"> <br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a> </div>
          </form>
        </div>
        <!-- /applicationArea --> 