---
title: cam_shi_shi(2adr)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin popup header -->
            <table class="popcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td><!-- begin module title -->
                  
                  <div class="popspacepad"><span class="popheader">Enter New Address</span></div>
                  
                  <!-- end module title --></td>
              </tr>
              <tr>
                <td class="popline"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
            </table>
            <!-- end popup header --> 
            
            <!-- begin application content -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
              </tr>
              <tr>
                <td width="10"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="10"></td>
                <td colspan="3"> Required fields are shown in bold. (*required for international destinations and UPS Next Day Air Early A.M. service.) <br>
                  <br></td>
                <td width="10"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
              <tr>
                <td width="10"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="10"></td>
                <td align="left" valign="top" width="278"><table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="left" valign="top"><span class="bold">Company or Name:</span> <br>
                        <input class="modTxtMedium" maxlength="15" name="Company" size="15" type="text">
                        <br>
                        *Contact: <br>
                        <input class="modTxtMedium" maxlength="15" name="Contact" size="15" type="text">
                        <br>
                        <span class="bold">Address:</span> <br>
                        <input class="modTxtMedium" maxlength="15" name="Address1" size="15" type="text">
                        <input class="modTxtMedium" maxlength="15" name="Address2" size="15" type="text">
                        <input class="modTxtMedium" maxlength="15" name="Address3" size="15" type="text">
                        <br>
                        <span class="bold">City:</span> <br>
                        <input class="modTxtMedium" maxlength="15" name="City" size="15" type="text"></td>
                    </tr>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td valign="top"><span class="bold">State/Province:</span> (US/Canada)</td>
                      <td rowspan="2"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
                      <td valign="top">Other:</td>
                    </tr>
                    <tr>
                      <td valign="top"><select class="modSelMediumSmall" name="State" size="1">
                          <option selected>Select One</option>
                          <option>Alabama</option>
                          <option>Alaska</option>
                          <option>Arkansas</option>
                          <option>Arizona</option>
                          <option>Etc</option>
                        </select></td>
                      <td valign="top"><input class="modTxtSmall" maxlength="5" name="Other" size="5" type="text"></td>
                    </tr>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td valign="top" nowrap><span class="bold">Postal Code:</span></td>
                      <td rowspan="2"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
                      <td valign="top"><span class="bold">Country or Territory:</span></td>
                    </tr>
                    <tr>
                      <td valign="top"><input class="modTxtSmall" maxlength="9" name="postalCode" size="9" type="text"></td>
                      <td valign="top"><select class="modSelMediumSmall" name="Country" size="1">
                          <option selected>Select One</option>
                          <option>Country or Territory 1</option>
                          <option>Country or Territory 2</option>
                          <option>Country or Territory 3</option>
                          <option>Etc</option>
                        </select></td>
                    </tr>
                  </table></td>
                <td width="10"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="10"></td>
                <td align="left" valign="top" width="278"><table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>*Telephone:</td>
                      <td rowspan="2"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
                      <td>Ext:</td>
                    </tr>
                    <tr>
                      <td><input class="modTxtMediumSmall" maxlength="10" name="Phone" type="text" size="10"></td>
                      <td><input class="modTxtSmall" maxlength="5" name="PhoneExtension" type="text" size="5"></td>
                    </tr>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td> Email: <br>
                        <input class="modTxtMedium" maxlength="15" name="Email" type="text" size="15">
                        <br>
                        Fax: <br>
                        <input class="modTxtMedium" maxlength="15" name="Fax" type="text" size="15">
                        <br>
                        Location ID: <br>
                        <input class="modTxtMedium" maxlength="15" name="LocationID" type="text" size="15">
                        <br>
                        <input name="ConsigneeBillable" type="checkbox" value="Consignee Billable">
                        Consignee Billable <br>
                        <input name="ResidentialAddress" type="checkbox" value="Residential Address">
                        Residential Address <br>
                        <input name="PersonalAddressBook" type="checkbox" value="Save to Personal Address Book">
                        Save to My UPS Address Book as: <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="modTxtMedium" maxlength="15" name="PersonalAddressBookName" type="text" size="15">
                        <br>
                        <input name="GlobalAddressBook" type="checkbox" value="checkbox">
                        Save to Corporate Address Book as: <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="modTxtMedium" maxlength="15" name="GlobalAddressBookName" type="text" size="15">
                        <br>
                        My UPS Address Book Options <br>
                        <select class="modSelMedium" name="Country" size="1">
                          <option selected>Select One</option>
                          <option>Save as New Entry</option>
                          <option>Update Entry</option>
                          <option>Don't Save Entry</option>
                        </select>
                        <br>
                        Save or Update as: <br>
                        <input class="modTxtMedium" maxlength="15" name="GlobalAddressBookName" type="text" size="15">
                        <br>
                        <br>
                        <input name="DetailedAddressValidation" type="checkbox" value="checkbox">
                        Perform Detailed Address Validation </td>
                    </tr>
                  </table></td>
                <td width="10"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="10"></td>
              </tr>
              <tr>
                <td colspan="5"><br>
                  
                  <!-- begin buttons -->
                  
                  <div align="right">
                    <input value="Cancel" class="btn" type="button">
                    <input value="Clear All" class="btn" type="button">
                    <input value="Update" class="btn" type="button">
                  </div>
                  
                  <!-- end buttons --></td>
              </tr>
            </table>
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>