---
title: cam_shi_shi_edt_pickup
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            <!-- Begin SubTabs -->
            <ul class="subTab clearfix">
              <li class="tab-on">Package</li>
              <li class="tab-off"><a href="repl_href">Freight</a></li>
            </ul>
            <!-- End SubTabs --> 
            
            <!-- USE Class="tab" for tab application display or use class="mod" for default application display --> 
            <!-- ECS no tabs, UIS Tabs --> 
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 tab">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">{application header}</h2>
                  <ul>
                    <li>
                      <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="{remove this option}">
                    </li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix"> 
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl clearfix">
                    <fieldset>
                      <!-- Begin Section Header --><!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody clearfix">
                        <dl class="group">
                          <dt>
                            <label id="repl_id" for="repl_id">{pickup date label:}</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="">{select one}</option>
                              <option value="" selected>{today's date}</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <p class="group">{<strong>note:</strong> ground pickups text.}</p>
                        <p>{<strong>note:</strong> pickups are available text.}</p>
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">{earliest pickup time label}</a>:</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" selected>{nn}</option>
                            </select>
                            :
                            <select name="" id="repl_id">
                              <option value="" selected>{nn}</option>
                            </select>
                            <input type="radio" name="repl_name01" value="" id="repl_id" checked="checked">
                            <label id="repl_id" for="repl_id" class="sel">{a.m.}</label>
                            <input type="radio" name="" value="" id="repl_id">
                            <label id="repl_id" for="repl_id" class="sel">{p.m.}</label>
                          </dd>
                        </dl>
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">{latest pickup time label}</a>:</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" selected>{nn}</option>
                            </select>
                            :
                            <select name="" id="repl_id">
                              <option value="" selected>{nn}</option>
                            </select>
                            {p.m.} </dd>
                        </dl>
                        <dl class="group">
                          <dt>
                            <label id="repl_id" for="repl_id">{pickup address label:}</label>
                          </dt>
                          <dd id="repl_id">{company or name}<br>
                            {address line 1}<br>
                            {city}, {state} {zip code}<br>
                            {country or territory} </dd>
                        </dl>
                        <dl class="outHozFlex clearfix">
                          <dt>{e-mail address label}:</dt>
                          <dd id="repl_id">{nnnnnnnnnn@nnnn.com}</dd>
                        </dl>
                        <fieldset>
                          <dl class="flexFirst group">
                            <dt>
                              <label id="repl_id" for="repl_id">{contact name label:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" value="" id="repl_id">
                            </dd>
                          </dl>
                          <dl class="flexAfter group">
                            <dt>
                              <label id="repl_id" for="repl_id" class="error">{&gt;&gt;&gt;telephone label:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" value=""  id="repl_id">
                              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                          </dl>
                          <dl class="flexAfter group">
                            <dt>
                              <label id="repl_id" for="repl_id">{ext. label:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" size="5" id="repl_id">
                            </dd>
                          </dl>
                        </fieldset>
                        <fieldset>
                          <dl class="flexFirst group">
                            <dt>
                              <label id="repl_id" for="repl_id">{suite/room label:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" size="10" id="repl_id">
                            </dd>
                          </dl>
                          <dl class="flexAfter group">
                            <dt>
                              <label id="repl_id" for="repl_id">{floor label:}</label>
                            </dt>
                            <dd>
                              <input name="" type="text" size="10" id="repl_id">
                            </dd>
                          </dl>
                        </fieldset>
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{residential address label}</label></td>
                          </tr>
                        </table>
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id">{preferred pickup location label:}</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" selected>{choose one}</option>
                            </select>
                          </dd>
                          <dt>
                            <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">{pickup reference label}</a>:</label>
                          </dt>
                          <dd>
                            <input name="" type="text" size="" id="repl_id">
                          </dd>
                        </dl>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row -->
                  <div class="btnBar">
                    <input name="" type="button" id="repl_id" value="{cancel}" class="btn">
                    <input name="" type="submit" id="repl_id" value="{next}" class="btnArw">
                  </div>
                  <!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 