---
title: cam_shi_bat(3pro)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">{application header}</h2>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p>{now processing shipment x of y.}</p>
                  <div class="progressContainer clearfix">
                    <div class="progressGraphic">
                      <div class="progressIncomplete" id="progressTrack">
                        <div class="progressComplete" id="progressBar">&nbsp;</div>
                      </div>
                    </div>
                  </div>
                  <p>{when the batch process is complete, paragraph text.}</p>
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer --><!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 