---
title: cam_shi_shi(1err)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- Begin : Page Header -->
            <div class="campusship"><img alt="" border="0" height="8" src="/img/icn_page_title_cs.gif" width="1"></div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            <!-- End: Page Header --> 
            
            <!-- Begin: Tab Navigation Wrapper -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- Begin: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr> 
                      <!-- TAB ONE-->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-on" valign="top" nowrap>Package</td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB TWO -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v2.html">Freight</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB THREE -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v3.html">International Forms</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr class="mod-line">
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB ONE ON/OFF -->
                      <td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB TWO ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB THREE ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
                    <tr>
                      <td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td valign="top"><!-- Begin: Inner Content --> 
                        <!-- begin application header -->
                        
                        <table class="appheadercolor2" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td width="283"><!-- begin title -->
                              
                              <div class="appspacepad2"><span class="header3">We're Sorry...</span></div>
                              
                              <!-- end title --></td>
                            <td width="283"><!-- begin module navigation -->
                              
                              <div class="uis">
                                <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                              </div>
                              
                              <!-- end module navigation --></td>
                          </tr>
                        </table>
                        
                        <!-- end application header --> 
                        
                        <!-- begin instructional text -->
                        
                        <table class="instrcolor3" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td valign="top" width="546"><div class="instrpad2"> <span class="redErrorBold"> An unexpected error occurred. Please try again later. <br>
                                <br>
                                (UCS: 81001) </span> <br>
                                <br>
                                <a href="#Customer Service">Contact UPS</a> / <a href="#Contact UPS">Customer Service</a> </div>
                              <br></td>
                          </tr>
                        </table>
                        
                        <!-- end instructional text --> 
                        <!-- End: Inner Content --></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!--
              <tr>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-bot-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
							-->
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- End: Tab Navigation Wrapper -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
  </div>