---
title: cam_shi_shi(1add)_pre(1add)_dlg_editlib
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">{application header}</h2>
                  <ul>
                    <li>{<a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link}</a></li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix"> 
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl clearfix">
                    <fieldset>
                      <!-- Begin Section Header --><!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody clearfix">
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer --><!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
          </form>
          
          <!-- Begin Application Module -->
          <div class="appLvl mod modal dialog">
            <fieldset>
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">{edit declaration statement}</h2>
                <ul>
                  <li>
                    <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
                  </li>
                  <li><a href="repl_href" class="btnlnkR helpIconR">help</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <fieldset>
                  <p>use the form below to edit the selected declaration statement to your library. you can update and save the existing text, or you can save this statement with a new name and add it to your library. required fields are marked with <img width="11" height="9" border="0" src="/img/icn_dia.gif" alt="">.</p>
                  <dl>
                    <dt>
                      <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="sel"><input type="checkbox" name="checkbox" id="repl_id"></td>
                            <td><label for="repl_id" class="sel">save as new statement</label></td>
                          </tr>
                        </tbody>
                      </table>
                    </dt>
                    <dt>
                      <label for="repl_id">declaration statement name:</label>
                    </dt>
                    <dd>
                      <input type="text" class="formcol6" name="repl_name" id="repl_id">
                      <img width="11" height="9" border="0" alt="" src="/img/icn_dia.gif"></dd>
                    <dt>
                      <label for="repl_id">declaration statement name:</label>
                    </dt>
                    <dd><span id="repl_id">{declaration statement name playback}</span></dd>
                    <dt>
                      <label for="repl_id">declaration statement text: </label>
                    </dt>
                    <dd>
                      <textarea cols="70" rows="4" name="repl_name">{declaration statement text playback. declaration statement text playback. declaration statement text playback. declaration statement text playback. declaration statement text playback. declaration statement text playback. declaration statement text playback. declaration statement text playback. declaration statement text playback.}</textarea>
                      <img width="11" height="9" alt="Required" src="/img/icn_dia.gif"></dd>
                    <dt>
                      <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="sel"><input type="checkbox" name="checkbox" id="repl_id"></td>
                            <td><label for="repl_id" class="sel">set as default statement</label></td>
                          </tr>
                        </tbody>
                      </table>
                    </dt>
                  </dl>
                </fieldset>
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar alignCenter">
                  <input name="" type="button" id="repl_id" value="{cancel}" class="btn">
                  <input name="" type="button" id="repl_id" value="{save changes}" class="btn">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer -->
            </fieldset>
          </div>
          <!-- End Application Module --> 
          
        </div>
        <!-- /applicationArea --> 

<script type="text/javascript">
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:550});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});
</script> 
