---
title: cam_shi_shi_dlg_compare
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">{application header}</h2>
                  <ul>
                    <li>{<a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link}</a></li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix"> 
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl clearfix">
                    <fieldset>
                      <!-- Begin Section Header --><!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody clearfix">
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                        <p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.}</p>
                        <p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.}</p>
                        <p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.}</p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer --><!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
          </form>
          
          <!-- Begin Application Module -->
          <div class="appLvl mod modal dialog" style="width:auto">
            <fieldset>
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">{ups service comparison}</h2>
                <ul>
                  <li>
                    <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
                  </li>
                </ul>
              </div>
              <!-- End Application Header --> 
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <fieldset>
                  <dl class="outHozFixed clearfix">
                    <dt>
                      <label id="repl_id" for="repl_id">{ship from:}</label>
                    </dt>
                    <dd id="repl_id">{city, zip/postal country or territory:}</dd>
                    <dt>
                      <label id="repl_id" for="repl_id">{ship to:}</label>
                    </dt>
                    <dd id="repl_id">{Xxxxxxx, nnnnn XX:}</dd>
                    <dt>
                      <label id="repl_id" for="repl_id">{number of packages:}</label>
                    </dt>
                    <dd id="repl_id">{n}</dd>
                  </dl>
                </fieldset>
                <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
                  <tr class="odd">
                    <th>{services}</th>
                    <th>{schedule by}</th>
                    <th>{pickup by}</th>
                    <th>{estimated delivery *}</th>
                    <th>{estimated cost}</th>
                  </tr>
                  <tr class="odd">
                    <td>{services}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td class="nowrap alignEnd">{nn.nn usd}</td>
                  </tr>
                  <tr>
                    <td>{services}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td class="nowrap alignEnd">{nn.nn usd}</td>
                  </tr>
                  <tr class="odd">
                    <td>{services}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td class="nowrap alignEnd">{nn.nn usd}</td>
                  </tr>
                  <tr>
                    <td>{services}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td class="nowrap alignEnd">{nn.nn usd}</td>
                  </tr>
                  <tr class="odd">
                    <td>{services}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td class="nowrap alignEnd">{nn.nn usd}</td>
                  </tr>
                  <tr>
                    <td>{services}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td class="nowrap alignEnd">{nn.nn usd}</td>
                  </tr>
                  <tr class="odd">
                    <td>{services}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td>{hh:mm a.m.}, {weekday} <br>
                      {mm/dd/yy}</td>
                    <td class="nowrap alignEnd">{nn.nn usd}</td>
                  </tr>
                </table>
                <p>{1507 disclaimer placeholder}</p>
                <p>{* the estimated cost of the shipment text}</p>
                <!--** New ER1415 - UIS **-->
                <p> {** The promotion code was applied to this service} </p>
                <p>**For packages shipped from and delivered to a UPS Access Point<sup>TM</sup> location.  Estimated Delivery is based on a drop-off prior to a location's collection time. </p>
                <!--** End New ER1415 - UIS **--> 
                
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar alignCenter">
                  <input name="" type="button" id="repl_id" value="{close}" class="btn">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer -->
            </fieldset>
          </div>
          <!-- End Application Module --> 
          
        </div>
        <!-- /applicationArea --> 

<script type="text/javascript">
	
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:910});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});
</script> 
