---
title: create import page title
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin SubTabs --> 
            <!-- when tabs are removed the Application Module must be set to "mod" currently is set to "tab" -->
            <ul class="subTab clearfix">
              <li class="tab-on">Package</li>
              <li class="tab-off"><a href="repl_href">Freight</a></li>
            </ul>
            <!-- End SubTabs --> 
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 tab"> 
              
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">create import application header <sup>SM</sup></h2>
                <ul>
                  <li><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody">
                <p class="error">&gt;&gt;&gt;error message.</p>
                <p>please enter your shipping info paragraph text. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl message"> 
                  <!-- Begin Section Header --><!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p><a id="repl_id" href="repl_href">set preference link</a> paragraph text <strong>bold text</strong>. (<a id="repl_id" href="repl_href">don't show link</a>)</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">1</span> </div>
                    <h3 id="repl_id">where is the shipment coming from header</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id">address book label:</label>
                      </dt>
                      <dd> 
                        <!--combo box-->
                        <select name="" id="repl_id">
                          <option value="">enter or select one</option>
                        </select>
                        <!--combo box--> 
                      </dd>
                    </dl>
                    <dl class="flexfirst group">
                      <dd><a id="repl_id" href="repl_href">enter a new address link</a></dd>
                    </dl>
                    <dl class="flexAfter group">
                      <dd><a id="repl_id" href="repl_href">external address book link</a></dd>
                    </dl>
                    <dl class="flexAfter">
                      <dd><a id="repl_id" href="repl_href">corporate address book link</a></dd>
                    </dl>
                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">company or name label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">contact label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                        </dd>
                        <dt>
                          <label id="repl_id" for="repl_id">country or territory label:</label>
                        </dt>
                        <dd>
                          <select name="" size="1" id="repl_id">
                            <option value="None">select a country or territory</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                        <dt>
                          <label id="repl_id" for="repl_id">address line 1 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">address line 2 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                          <div class="reqTxtInst"> apartment, suite, instructional text </div>
                        </dd>
                        <dt>
                          <label id="repl_id" for="repl_id">address line 3 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                          <div class="reqTxtInst"> department instructional text </div>
                        </dd>
                      </dl>
                    </div>
                    <!-- End Column --> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginEnd">
                      <dl class="group">
                        <dt>
                          <label id="repl_id" for="repl_id" class="error">&gt;&gt;&gt;city label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="city" size="32">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">state label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="">select one</option>
                            <option value="" selected>state</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">zip code label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="nnnnnn" size="15">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <dl class="flexFirst group">
                        <dt>
                          <label id="repl_id" for="repl_id">telephone label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="nnn-nnn-nnnn" size="15">
                        </dd>
                      </dl>
                      <dl class="flexAfter group">
                        <dt>
                          <label id="repl_id" for="repl_id">ext.:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="5">
                        </dd>
                      </dl>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">e-mail label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                        </dd>
                      </dl>
                    </div>
                    <!-- End Column --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                    <h3 id="repl_id">where is the shipment going header</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">import to address label:</label>
                          <a id="repl_id" href="repl_href">edit link</a> </dt>
                        <dd id="repl_id">company or name<br>
                          address line 1<br>
                          address line 2<br>
                          address line 3<br>
                          city, state zip<br>
                          telephone: NNN-NNN-NNNN </dd>
                      </dl>
                    </div>
                    <!-- End Column --> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginEnd">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">requesters address label:</label>
                          <a id="repl_id" href="repl_href">edit link</a> </dt>
                        <dd id="repl_id">
                          <input type="text" id="repl_id" value="[production test]">
                          <br>
                          [company or name]<br>
                          [address line 1]<br>
                          [address line 2]<br>
                          [address line 3]<br>
                          [city, state zip]<br>
                          telephone: [NNN-NNN-NNNN] </dd>
                      </dl>
                    </div>
                    <!-- Emd Column --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Return From Address - Enter a New Address --> 
                    <!-- --------------------------------------------------------- -->
                    <h4 id="repl_id">enter a new address header</h4>
                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">company or name label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                        <dt>
                          <label id="repl_id" for="repl_id">contact label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                        </dd>
                        <dt>
                          <label id="repl_id" for="repl_id">country or territory label:</label>
                        </dt>
                        <dd>
                          <select name="" size="1" id="repl_id">
                            <option value="">select a country or territory</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">address line 1 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">address line 2 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                          <div class="reqTxtInst"> instructional text </div>
                        </dd>
                        <dt>
                          <label id="repl_id" for="repl_id">address line 3 label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                          <div class="reqTxtInst"> instructional text </div>
                        </dd>
                      </dl>
                    </div>
                    <!-- End Column --> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginEnd">
                      <dl class="group">
                        <dt>
                          <label id="repl_id" for="repl_id">city label:</label>
                        </dt>
                        <dd> 
                          <!--combo box-->
                          <input name="" type="text" id="repl_id" size="32">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> 
                          <!--combo box--> 
                        </dd>
                        <dt>
                          <label id="repl_id" for="repl_id">state label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>select one</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">zip code label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="15">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <dl class="flexFirst group">
                        <dt>
                          <label id="repl_id" for="repl_id">telephone label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="15">
                        </dd>
                      </dl>
                      <dl class="flexAfter group">
                        <dt>
                          <label id="repl_id" for="repl_id">ext.:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="5">
                        </dd>
                      </dl>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">e-mail label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                        </dd>
                      </dl>
                    </div>
                    <!-- End Column -->
                    
                    <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">save options for address label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>select one</option>
                            <option value="">save as new entry</option>
                            <option value="">update entry</option>
                          </select>
                        </dd>
                      </dl>
                    </div>
                    <!-- Begin Column --> 
                    
                    <!-- End Column -->
                    <div class="subcol9 marginEnd">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">save this to my address book as label:</label>
                        </dt>
                        <dd>
                          <input type="text" name="" id="repl_id">
                        </dd>
                      </dl>
                    </div>
                    <!-- End Column --> 
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Return From Address - Enter a New Address --> 
                    <!-- --------------------------------------------------------- --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">3</span> </div>
                    <h3 id="repl_id">what are you shipping header</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Package Information - DE Return To with US Pickup From --> 
                    <!-- Package Information - US Return To, DE Pickup From --> 
                    <!-- --------------------------------------------------------- -->
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">description of goods label:</a></label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id">
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                    </dl>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" for="repl_id" class="sel">documents of no commercial value selection</label></td>
                      </tr>
                      <!-- Package Information - DE Return To with US Pickup From -->
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" for="repl_id" class="sel"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">goods not in free circulation selection</a></label></td>
                      </tr>
                      <!-- END Package Information - DE Return To with US Pickup From -->
                    </table>
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Package Information - DE Return To with US Pickup From --> 
                    <!-- END Package Information - US Return To, DE Pickup From --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">number of {packages/pallets} label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="1">n</option>
                          </select>
                          <select name="" id="repl_id" class="disabled" disabled="disabled">
                            <option value="1">n</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                      </dl>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">package type label:</a></label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="">select one</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                      </dl>
                    </div>
                    <!-- End Column --> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginEnd">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">same values label?</label>
                        </dt>
                        <dd>
                          <select name="select" id="repl_id">
                            <option value="" selected >yes</option>
                            <option value=""  >no</option>
                          </select>
                          <select name="" id="repl_id" class="disabled" disabled="disabled">
                            <option value="" selected >yes</option>
                            <option value=""  >no</option>
                          </select>
                        </dd>
                      </dl>
                      <p>Review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidelines</a> to see if they apply to your pallet</p>
                    </div>
                    <!-- End Column --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Package Information - 2+ Packages - Different Values --> 
                    <!-- --------------------------------------------------------- -->
                    <p>since you indicated that your packages have different values text. <strong>note:</strong> text.</p>
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Package Information - 2+ Packages - Different Values --> 
                    <!-- --------------------------------------------------------- -->
                    
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id">merchandise description label:</label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id">
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                    </dl>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Package Details Module --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- 1.1.5.8. Other Packaging --> 
                    
                    <!-- Other Packaging (weight without instructional text) --> 
                    <!-- UPS PAK (weight without instructional text) --> 
                    <!-- UPS Tube (weight without instructional text) --> 
                    <!-- UPS Express Box - Small (weight without instructional text) --> 
                    <!-- UPS Express Box - Medium (weight without instructional text) --> 
                    <!-- UPS Express Box - Large (weight without instructional text) --> 
                    <!-- UPS Letter (weight not required) -->
                    <dl class="group">
                      <dt>
                        <label id="repl_id" for="repl_id">weight label:</label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" size="5">
                        [uom]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                    </dl>
                    <p><strong>note:</strong> instructional text</p>
                    <!-- END UPS Letter -->
                    
                    <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">{package/pallet} dimensions label:</a></label>
                    <dl class="flexFirst clearfix">
                      <dt>
                        <label id="repl_id" for="repl_id">length:</label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" size="5">
                        x</dd>
                    </dl>
                    <dl class="flexAfter clearfix">
                      <dt>
                        <label id="repl_id" for="repl_id">width:</label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" size="5">
                        x</dd>
                    </dl>
                    <dl class="flexAfter clearfix">
                      <dt>
                        <label id="repl_id" for="repl_id">height:</label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" size="5">
                        in.</dd>
                    </dl>
                    <div class="clear"> </div>
                    <p class="reqTxtInst">(for pallets, the value entered for length must be greater than or equal to the width value.)</p>
                    <!-- END UPS PAK --> 
                    <!-- END UPS Tube --> 
                    <!-- END UPS Express Box - Small --> 
                    <!-- END UPS Express Box - Medium --> 
                    <!-- END UPS Express Box - Large -->
                    
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" class="sel" for="repl_id">large package label</label></td>
                      </tr>
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" class="sel" for="repl_id">additional handling label.</label></td>
                      </tr>
                    </table>
                    
                    <!-- UPS Letter --> 
                    <!-- UPS PAK --> 
                    <!-- UPS Tube --> 
                    <!-- UPS Express Box - Small --> 
                    <!-- UPS Express Box - Medium --> 
                    <!-- UPS Express Box - Large -->
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">declared value label:</a></label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" >
                        usd </dd>
                    </dl>
                    <p><strong>note:</strong> instructional text</p>
                    <dl>
                      <dt>
                        <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">number of pieces on pallet</a></label>
                      </dt>
                      <dd>
                        <input type="text" name="repl_name" id="repl_id">
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                    </dl>
                    <dl>
                      <dt>
                        <label for="repl_id">merchandise description</label>
                      </dt>
                      <dd>
                        <input type="text" name="repl_name" id="repl_id" class="formcol8">
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                    </dl>
                    <!-- END UPS Letter --> 
                    <!-- END UPS PAK --> 
                    <!-- END UPS Tube --> 
                    <!-- END UPS Express Box - Small --> 
                    <!-- END UPS Express Box - Medium --> 
                    <!-- END UPS Express Box - Large --> 
                    <!-- END Other Packaging --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Package Details Module --> 
                    <!-- --------------------------------------------------------- --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">4</span> </div>
                    <h3 id="repl_id">how would you like to ship header</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id">services label:</label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="">select one</option>
                        </select>
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <span class="indent"><a id="repl_id"class="btnlnkR newWindowIconR" href="repl_href">campare service options link</a></span> </dd>
                    </dl>
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">label delivery method label:</a></label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="">none selected</option>
                        </select>
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                    </dl>
                    <dl class="outHozLedger clearfix">
                      <dt>
                        <label id="repl_id" for="repl_id" class="sel">label text <a id="repl_id"class="btnlnkR helpIconR" href="repl_href">additional services link?</a></label>
                      </dt>
                      <dd>
                        <label id="repl_id" for="repl_id">fee?</label>
                      </dd>
                      <dt>
                        <input name="" type="checkbox" value="" id="repl_id">
                        <label id="repl_id" class="sel" for="repl_id">send email notifications</label>
                      </dt>
                      <dd id="repl_id">yes/free</dd>
                      <dt>
                        <input name="" type="checkbox" value="" id="repl_id">
                        <label id="repl_id" class="sel" for="repl_id">commercial invoice removal</label>
                      </dt>
                      <dd id="repl_id">yes/free</dd>
                      <dt>
                        <input name="" type="checkbox" value="" id="repl_id">
                        <label id="repl_id" class="sel" for="repl_id">deliver on saturday</label>
                      </dt>
                      <dd id="repl_id">yes/free</dd>
                      <dt>
                        <input name="" type="checkbox" value="" id="repl_id">
                        <label id="repl_id" class="sel" for="repl_id">special commodities</label>
                      </dt>
                      <dd id="repl_id">yes/free</dd>
                      <dt>
                        <input name="" type="checkbox" value="" id="repl_id">
                        <label id="repl_id" class="sel" for="repl_id">dry ice</label>
                      </dt>
                      <dd id="repl_id">yes/free</dd>
                      <dt>
                        <input name="" type="checkbox" value="" id="repl_id">
                        <label id="repl_id" class="sel" for="repl_id">ups proactive response<sup>sm</sup></label>
                      </dt>
                      <dd id="repl_id">yes/free</dd>
                      <dt>
                        <input name="" type="checkbox" value="" id="repl_id">
                        <label id="repl_id" class="sel" for="repl_id">offset the climate impact of this shipment (<a id="repl_id" href="repl_href" class="btnlnkR helpIconR">carbon neutral link</a>)</label>
                      </dt>
                      <dd id="repl_id">yes/free</dd>
                    </dl>
                    <p>some services may require paragraph text.</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">5</span> </div>
                    <h3 id="repl_id">would you like to add reference numbers to this shipment (optional) header</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>ups gives you the option paragraph text with <a id="repl_id"class="btnlnkR helpIconR" href="repl_href">term lvl help link</a>.</p>
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id">reference 1 label:</label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" >
                        <a id="repl_id" href="repl_href">search link</a></dd>
                      <dt>
                        <label id="repl_id" for="repl_id">reference 2 label:</label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" >
                        <a id="repl_id" href="repl_href">search link</a></dd>
                      <dt>
                        <label id="repl_id" for="repl_id">reference 3 label:</label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" >
                        <a id="repl_id" href="repl_href">search link</a></dd>
                    </dl>
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" for="repl_id" class="sel"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">add a bar code label</a></label></td>
                      </tr>
                    </table>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">6</span> </div>
                    <h3 id="repl_id">how would you like to pay header</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>please select your payment method below paragraph text. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">bill shipping charges to label:</a></label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="">select one</option>
                        </select>
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                    </dl>
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- Payment Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                    <!-- Use Another Payment Card --> 
                    <!-- Consignee Bill --> 
                    <!-- Bill the Receiver -->
                    <div class="hr"> <img alt="" border="0" height="1" src="/img/1.gif" width="1"> </div>
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">bill duties and taxes to label:</a></label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="">select one</option>
                        </select>
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                    </dl>
                    <!-- END Use Another Credit Card --> 
                    <!-- END Consignee Bill -->
                    
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" for="repl_id" class="sel"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">split duty/vat label</a></label></td>
                      </tr>
                    </table>
                    
                    <!-- END Bill the Receiver --> 
                    
                    <!-- --------------------------------------------------------- --> 
                    <!-- END Payment Information --> 
                    <!-- --------------------------------------------------------- --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"> <span class="stepNumber">7</span> </div>
                    <h3 id="repl_id">getting your shipment to ups</h3>
                  </div>
                  <!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>ups wwexpress freight requires you to select a pickup option and a delivery option for each shipment.  you will enter pickup details or delivery preferences on a following page.</p>
                  </div>
                  <!-- End Section Body --> 
                </div>
                <!-- End Section Module -->
                
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr class="sel">
                    <td class="sel"><input type="checkbox" checked></td>
                    <td><label id="repl_id" class="sel" for="repl_id">review shipping details label</label></td>
                  </tr>
                  <tr class="sel">
                    <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                    <td><label id="repl_id" class="sel" for="repl_id">sava as shipping ticket label</label></td>
                  </tr>
                </table>
                <p>by selecting the <strong>next</strong> button, i agree to the <a href="" class="btnlnkR newwindowIconR">term and conditions</a>.</p>
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="start over" class="btn">
                  <input name="" type="submit" id="repl_id" value="next" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"> <br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a> </div>
          </form>
        </div>