---
title: cam_shi_shi(7i7s)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
       <form action="">
        <!-- ECS C-Clamp -->
        <div class="ccacmpad1"> 
          <!-- Begin Application Container -->
          <div> 
            <!-- begin application content --> 
            
            <!-- Begin : Page Header -->
            <div class="campusship"><img alt="" border="0" height="8" src="/img/icn_page_title_cs.gif" width="1"></div>
            <div class="uis"> <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
              <img alt="" border="0" height="19" src="/img/icn_ship_head.gif" width="41"><span class="header">Create a Shipment</span><br>
              <img alt="" height="15" src="/img/xln_spacer.gif" width="1"><br>
            </div>
            
            <!-- End: Page Header --> 
            
            <!-- Begin: Tab Navigation Wrapper -->
            <table border="0" cellpadding="0" cellspacing="0" width="566">
              <tr>
                <td valign="top" width="100%"><!-- Begin: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr> 
                      <!-- TAB ONE-->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-on" valign="top" nowrap>Package</td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB TWO -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v2.html">Freight</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="8" src="/img/1.gif" width="4"></td>
                      <!-- TAB THREE -->
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="tab-off" valign="top" nowrap><a href="cti_shi_tnc(1ent)_ser_us_v3.html">International Forms</a></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr class="mod-line">
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB ONE ON/OFF -->
                      <td class="mod-clr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB TWO ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <!-- TAB THREE ON/OFF -->
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End: Tab Cells -->
                  
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mod-clr">
                    <tr>
                      <td class="mod-line" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <tr>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                      <td valign="top" class="modbgcolor2"><!-- Begin: Inner Content --> 
                        
                        <!-- begin application header -->
                        
                        <table class="appheadercolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td width="283"><!-- begin title -->
                              
                              <div class="appspacepad"><span class="header2">Shipper Export Declaration</span></div>
                              
                              <!-- end title --></td>
                            <td width="283"><!-- begin module navigation -->
                              
                              <div class="uis">
                                <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                              </div>
                              
                              <!-- end module navigation --></td>
                          </tr>
                        </table>
                        
                        <!-- end application header --> 
                        
                        <!-- begin instructional text -->
                        
                        <table class="instrcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                          </tr>
                          <tr>
                            <td valign="top" width="546"><div class="instrpad">
                                <div class="uis"> <span class="modheader">Electronic SED Filing Options</span> <br>
                                </div>
                                You are preparing an international shipment that requires export documentation. A Shipper's Export Declaration (SED) may be required if any schedule B commodity within your shipment exceeds USD $2,500. This page can help you file an electronic SED, if one is required for your shipment. <br>
                                <br>
                                <a href="#ModifySEDPreferences">Modify SED Preferences</a><br>
                                <a href="#ModifyExportDocuments">Modify Export Documents</a> </div>
                              <br></td>
                          </tr>
                        </table>
                        
                        <!-- end instructional text --> 
                        
                        <!-- begin module header -->
                        
                        <table class="modcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                            <td width="283"><!-- begin module title -->
                              
                              <div class="modspacepad">
                                <div class="campusship"> <span class="modheader">Electronic SED Filing Options</span> </div>
                              </div>
                              
                              <!-- end module title --></td>
                            <td width="283"><!-- begin module navigation -->
                              
                              <div class="uis"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                              <div class="campusship">
                                <div class="modspacepad" align="right"><a href="#Help" class="white">Help<img alt="" src="/img/1.gif" width="3" height="10" border="0"><img alt="Help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></div>
                              </div>
                              
                              <!-- end module navigation --></td>
                            <td width="10"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                          </tr>
                        </table>
                        
                        <!-- end module header --> 
                        
                        <!-- begin module -->
                        
                        <table class="modbordercolor" border="0" cellpadding="2" cellspacing="0" width="566">
                          <tr>
                            <td><!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
                              
                              <table class="modbgcolor" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="modline" colspan="3"><img alt="" border="0" height="3" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                                <tr>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                  <td valign="top" width="98%"><!-- begin content column --> 
                                    Please choose one of the following options related to your shipment: <br>
                                    <br>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td width="1%" class="modinputbg"><input  checked name="SEDOption" type="radio" value="D"></td>
                                        <td width="99%" class="modinputbg"><span class="modinputheader">SED Option 2 Filer</span></td>
                                      </tr>
                                      <tr>
                                        <td width="1%">&nbsp;</td>
                                        <td width="99%"><table bgcolor="#cccccc" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                              <td colspan="3"><br></td>
                                            </tr>
                                            <tr>
                                              <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                              <td> The Automated Export System ( AES ) on the AESDirect Web site will use your 
                                                AESDirect Filer ID Number and an Export Reference Number for this shipment to 
                                                create your AES Transaction Number.<br>
                                                For more information about AESDirect, go to <a href="javascript:viewAes('http://www.aesdirect.gov');">www.aesdirect.gov</a> <br>
                                                <br>
                                                <span class="bold">You AESDirect Filer ID Number:</span> <br>
                                                <input class="modTxtMedium" maxlength="15" name="options2Ein" size="15" type="text" value="">
                                                &nbsp;
                                                <select class="modSelMedium" name="Option2Filertype" size="1">
                                                  <option selected value="99">Select ID type</option>
                                                  <option value="79">EIN</option>
                                                  <option value="06">SSN</option>
                                                  <option value="04">D-U-N-S</option>
                                                </select>
                                                <br>
                                                <br>
                                                <span class="bold">Export Reference Number:</span> <br>
                                                <input class="modTxtMedium" maxlength="15" name="ExportReferenceNumber" size="15" type="text" value="10144114452570138">
                                                <br>
                                                <br>
                                                To file your SED electronically  with AESDirect now, go to AES WebLink. <br>
                                                <br>
                                                <div align="right"><img alt="" border="0" height="18" src="/img_translations/en/btn_goto_aesweblink.gif" width="160"></div></td>
                                              <td><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="3"><br></td>
                                            </tr>
                                          </table></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2"><br></td>
                                      </tr>
                                      <tr>
                                        <td width="1%" class="modinputbg"><input name="SEDOption" type="radio" value="D"></td>
                                        <td width="99%" class="modinputbg"><span class="modinputheader">SED Option 4 Filer</span></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2"><br></td>
                                      </tr>
                                      <tr>
                                        <td width="1%">&nbsp;</td>
                                        <td width="99%"> After your shipment is processed, you have 24 hours to file your export information with AESDirect  The Exporter Identification Number below will be included with your shipment information. <br>
                                          <br>
                                          <span class="bold">Exporter Identification Number:</span> <br>
                                          <input class="modTxtMedium" maxlength="15" name="options2Ein" size="15" type="text" value="">
                                          &nbsp;
                                          <select class="modSelMedium" name="Option2Filertype" size="1">
                                            <option selected value="99">Select ID type</option>
                                            <option value="79">EIN</option>
                                            <option value="06">SSN</option>
                                            <option value="04">D-U-N-S</option>
                                          </select></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2"><br></td>
                                      </tr>
                                      <tr>
                                        <td width="1%" class="modinputbg"><input name="SEDOption" type="radio" value="D"></td>
                                        <td width="99%" class="modinputbg"><span class="modinputheader">No SED Documentation Required or Additional Documents Attached</span></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2"><br></td>
                                      </tr>
                                      <tr>
                                        <td width="1%">&nbsp;</td>
                                        <td width="99%"><span class="bold">Note:</span> You must provide all additional documents required for this shipment. Incomplete or missing documents could delay your shipment in Customs.</td>
                                      </tr>
                                    </table>
                                    
                                    <!-- end content column --></td>
                                  <td width="1%"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="10"></td>
                                </tr>
                                <tr>
                                  <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_spacer.gif" width="1"></td>
                                </tr>
                              </table>
                              
                              <!-- end module column spacing table --></td>
                          </tr>
                        </table>
                        
                        <!-- end module --> 
                        
                        <!-- begin buttons spacer -->
                        
                        <div class="butbarbr"><img alt="" border="0" height="1" src="/img/xln_spacer.gif" width="1"></div>
                        
                        <!-- end buttons spacer --> 
                        
                        <!-- begin buttons -->
                        
                        <table class="butbarbgcolor" border="0" cellpadding="0" cellspacing="0" width="566">
                          <tr>
                            <td valign="top"><div align="right">
                                <input value="Cancel" class="btn" type="button">
                                <input value="Review Shipment" class="btn" type="button">
                                <input value="Ship Now" class="btn" type="button">
                              </div></td>
                          </tr>
                        </table>
                        
                        <!-- end buttons --> 
                        
                        <!-- begin note area --> 
                        <!--<table border="0" cellpadding="0" cellspacing="1" width="566">
								<tr>
									<td valign="top"><img alt="" border="0" height="10" src="/img/xln_spacer.gif" width="1"></td>
								</tr>
								<tr>
									<td valign="top">&nbsp;</td>
								</tr>
								</table>--> 
                        <!-- end note area --> 
                        
                        <!-- End: Inner Content --></td>
                      <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                    <!--
              <tr>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-bot-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                <td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
              </tr>
							-->
                    <tr>
                      <td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
                    </tr>
                  </table>
                  
                  <!-- End Table: Module Table (Parent:Formatting Table) --></td>
              </tr>
            </table>
            <!-- End: Tab Navigation Wrapper -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp;4105604203&nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
            <!-- end application content --> 
          </div>
        </div>
      </form>
 </div>