---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin SubTabs -->
            <ul class="subTab clearfix">
              <li class="tab-on">Package</li>
              <li class="tab-off"><a href="repl_href">Freight</a></li>
            </ul>
            <!-- End SubTabs --> 
            
            <!-- USE Class="tab" for tab application display or use class="mod" for default application display --> 
            <!-- ECS no tabs, UIS Tabs --> 
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 tab"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">Additional Shipping Options</h2>
                <ul>
                  <li><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">help</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p class="error">&gt;&gt;&gt;error message.</p>
                <p>Additional information is needed paragraph text. Required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl message">
                  
                    <!-- Begin Section Header --><!-- End Section Header --> 
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p><strong>Note:</strong> You are currently creating a shipping ticket.</p>
                    </div>
                    <!-- End Section Body --> 
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  
                </div>
                <!-- End Section Module --> 
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// Begin Panel 1 Schedule a Pickup / Drop-off         //// --> 
                <!-- //////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step">
                  
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
                      <h3 id="repl_id">Schedule a {Pickup}{Drop-off}</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p>[one or more of your pallets, or your total shipment weight exceeds text]</p>
                      <p>[this ups worldwide express freight text <strong>contact ups</strong> more text</p>
                      <dl role="presentation">
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Pickup Preference</a>:</label>
                        </dt>
                        <dd>
                          <select id="repl_id">
                            <option>UPS will Pickup</option>
                            <option>I will drop off at a UPS Location</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                      </dl>
                      <dl role="presentation"> 
                        <dt>
                          <label for="repl_id">Pickup Date:</label>
                        </dt>
                        <dd>
                          <select id="repl_id">
                            <option>{Today's Date}</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                      </dl>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id"></td>
                          <td><label for="repl_id" class="sel">liftgate on pickup</label></td>
                        </tr>
                      </table>
                      <dl role="presentation">
                        <dt><span class="label">drop-off date label:</span></dt>
                        <dd>
                          <select id="repl_id">
                            <option>{today's date}</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                      </dl>
                      <dl role="presentation">
                        <dt>
                          <label><a href="repl_href" class="btnlnkR helpIconR">earliest pickup label</a>:</label>
                        </dt>
                        <dd>
                          <select id="repl_id" name="repl_name">
                            <option selected="" value="">nn</option>
                          </select>
                          :
                          <select id="repl_id" name="repl_name">
                            <option selected="" value="">nn</option>
                          </select>
                          <input type="radio" id="repl_id" value="" name="repl_name" checked="checked">
                          <label class="sel" for="repl_id">AM</label>
                          <input type="radio" id="repl_id" value="" name="repl_name">
                          <label class="sel" for="repl_id">PM</label>
                        <div class="reqTxtInst">(local time)</div>
                        </dd>
                      </dl>
                      <dl role="presentation">
                        <dt>
                          <label><a href="repl_href" class="btnlnkR helpIconR">latest pickup label</a>:</label>
                        </dt>
                        <dd>
                          <select id="repl_id" name="repl_name">
                            <option selected="" value="">nn</option>
                          </select>
                          :
                          <select id="repl_id" name="repl_name">
                            <option selected="" value="">nn</option>
                          </select>
                          <input type="radio" id="repl_id" value="" name="repl_name" checked="checked">
                          <label class="sel" for="repl_id">AM</label>
                          <input type="radio" id="repl_id" value="" name="repl_name">
                          <label class="sel" for="repl_id">PM</label>
                        <div class="reqTxtInst">(local time)</div>
                        </dd>
                      </dl>
                      <dl role="presentation">
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">drop-off location label:</a></label>
                        </dt>
                        <dd>
                          <select id="repl_id">
                            <option>Select One</option>
                            <option>[Hartsfield International][City]</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                        <dd>
                          <select id="repl_id" disabled>
                            <option>None Found</option>
                          </select>
                        </dd>
                      </dl>
                      <!-- Begin Sub Section Level -->
                      <div class="secLvl message clearfix">
                        
                          <!-- Begin Sub Section Body -->
                          <div class="secBody clearfix">
                            <div class="flexFirst clearfix">
                              <dl role="presentation" 
                                <dt><span class="label">[ups location name]</span></dt>
                                <dd> [address 1]<br>
                                  [city], [other], [state] [ZIP/Postal Code]<br>
                                  [country or territory]<br>
                                  telephone: [number]<br>
                                  fax: [number] </dd>
                              </dl>
                              <p><a class="btnlnkR newWindowIconR" href="repl_href">last 50 feet directions</a></p>
                              <dl role="presentation" 
                                <dt><span class="label">hours of operation:</span></dt>
                                <dd>hh:mm am/pm to hh:mm am/pm</dd>
                                <dt><span class="label">drop-off time label:</span></dt>
                                <dd>hh:mm pm</dd>
                              </dl>
                            </div>
                            <div class="flexAfter clearfix">
                              <dl role="presentation" class="outHozFlex clearfix">
                                <dt>
                                  <label for="repl_id">[000]</label>
                                </dt>
                                <dd>[mi/km]</dd>
                              </dl>
                            </div>
                            <div class="clear"></div>
                          </div>
                          <!-- End Sub Section Body -->
                        
                      </div>
                      <!-- End Sub Section Level -->
                      <p><strong>note:</strong> cut-off time note and content tbd.</p>
                      <dl role="presentation">
                        <dt>
                          <label>What time will your shipment be dropped off?</label>
                        </dt>
                        <dd>
                          <select id="repl_id" name="repl_name">
                            <option selected="" value="">nn</option>
                          </select>
                          :
                          <select id="repl_id" name="repl_name">
                            <option selected="" value="">nn</option>
                          </select>
                          <input type="radio" id="repl_id" value="" name="repl_name" checked="checked">
                          <label class="sel" for="repl_id">AM</label>
                          <input type="radio" id="repl_id" value="" name="repl_name">
                          <label class="sel" for="repl_id">PM</label>
                        <div class="reqTxtInst">(local time)</div>
                        </dd>
                      </dl>
                        
                      <div class="secLvl message clearfix">
                        
                          <div class="secBody">
                            <p class="criticalMessage">The last drop for the UPS Location selected has already occured for today.  To see other times, select a different UPS location or a different Drop-off Date.</p>
                            <dl role="presentation">
                              <dt>
                                <label for="repl_id">no ups facility results were found</label>
                              </dt>
                              <dd>[this ups worldwide express freight shipment text]</dd>
                            </dl>
                          </div>
                        
                      </div>
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">pickup date label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="">select one</option>
                            <option value="" selected>{today's date}</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <!-- BEGIN Pickup Date Note - Ground -->
                      <p class="group"><strong>note:</strong> ground pickups text.</p>
                      <!-- END Pickup Date Note - Ground --> 
                      
                      <!-- BEGIN Pickup Date Note - Air -->
                      <p><strong>note:</strong> pickups are available text.</p>
                      <!-- END Pickup Date Note - Air --> 
                      
                      <!-- BEGIN Pickup Date Note - Current Date -->
                      <p><strong>note:</strong> the current date is not available for selection text.</p>
                      <!-- END Pickup Date Note - Current Date --> 
                      
                      <!-- --------------------------------------------------------- --> 
                      <!-- Schedule a Pickup - With Pending Pickups --> 
                      <!-- --------------------------------------------------------- -->
                      <dl role="presentation">
                        <dt>
                          <label id="repl_id" for="repl_id">pending on-call pickups for ups account number label</label>
                        </dt>
                        <dd class="indent"> <strong>for {weekday} {mm/dd/yyyy}: {n}</strong> <br>
                          <strong>for {weekday} {mm/dd/yyyy}: {n}</strong> </dd>
                      </dl>
                      <p><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">how do i add help link?</a></p>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Schedule a Pickup - With Pending Pickups --> 
                      <!-- --------------------------------------------------------- -->
                      
                      <dl role="presentation">
                        <dt>
                          <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">earliest pickup time label</a>:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>nn</option>
                          </select>
                          :
                          <select name="" id="repl_id">
                            <option value="" selected>nn</option>
                          </select>
                          <input type="radio" name="repl_name01" value="" id="repl_id" checked="checked">
                          <label id="repl_id" for="repl_id" class="sel">a.m.</label>
                          <input type="radio" name="" value="" id="repl_id">
                          <label id="repl_id" for="repl_id" class="sel">p.m.</label>
                        </dd>
                      </dl>
                      <dl role="presentation">
                        <dt>
                          <label id="repl_id" for="repl_id"><a id="repl_id"class="btnlnkR helpIconR" href="repl_href">latest pickup time label</a>:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>nn</option>
                          </select>
                          :
                          <select name="" id="repl_id">
                            <option value="" selected>nn</option>
                          </select>
                          p.m. </dd>
                      </dl>
                      <dl role="presentation"> 
                        <dt><span class="label">Pickup Address:</span></dt>
                        <dd> {Company or Name}<br>
                          {Address 1}<br>
                          {City}, {State} {ZIP Code}<br>
                          {Country or Territory}<br>
                        </dd>
                      </dl>
                      <dl role="presentation" class="outHozFlex">
                        <dt>E-mail Address:</dt>
                        <dd>nnnnnnnnnnnnnnnnnnnn@nnnn.com</dd>
                      </dl>
                      <div class="clear"></div>
                      <h4 id="repl_id">select a pickup address label:<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></h4>
                      
                      <!-- Begin Column -->
                      <div class="subcol9 marginBegin">
                        <dl role="presentation">
                          <dt>
                            <input name="repl_name02" type="radio" id="repl_id" checked="checked">
                            <label id="repl_id" for="repl_id">pickup address label:</label>
                          </dt>
                          <dd class="indent">{company or name}<br>
                            {address line 1}<br>
                            {city}, {state} {zip code}<br>
                            {country or territory} </dd>
                        </dl>
                        <dl role="presentation" class="outHozFlex indent clearfix">
                          <dt>e-mail address label:</dt>
                          <dd id="repl_id">nnnnnnnnnn@nnnn.com</dd>
                        </dl>
                      </div>
                      <!-- End Column --> 
                      
                      <!-- --------------------------------------------------------- --> 
                      <!-- Schedule a Pickup - With Address Selection --> 
                      <!-- --------------------------------------------------------- --> 
                      <!-- Begin Column --> 
                      
                      <!-- Begin Section Module -->
                      <div class="secLvl message subcol9 marginEnd">
                        
                          <!-- Begin Header Bar --><!-- End Header Bar --> 
                          <!-- Begin Sub Body -->
                          <div class="secBdy"> 
                            <!-- Begin Section Body -->
                            <div class="secBody">
                              <p><strong>note:</strong> note text.</p>
                            </div>
                            <!-- End Section Body --> 
                          </div>
                          <!-- End Sub Body --> 
                          <!-- Begin Sub Footer --><!-- End Sub Footer -->
                        
                      </div>
                      <!-- End Section Module --> 
                      <div class="clearfix"></div>
                      <!-- End Column -->
                    
                      <!-- Begin Column -->
                      <div class="subcol9 marginBegin">
                        <dl role="presentation"> 
                          <dt>
                            <input name="" type="radio" id="repl_id" checked="checked">
                            <label id="repl_id" for="repl_id">ship from address label:</label>
                          </dt>
                          <dd class="indent">company or name<br>
                            address line 1<br>
                            city, state zip code<br>
                            country or territory </dd>
                        </dl>
                        <dl role="presentation" class="outHozFlex indent clearfix">
                          <dt>e-mail address label:</dt>
                          <dd id="repl_id">nnnnnnnnnn@nnnn.com</dd>
                        </dl>
                      </div>
                      <!-- End Column --> 
                      
                      <!-- Begin Column --> 
                      <div class="secLvl message subcol9 marginEnd">
                        
                          <!-- Begin Sub Header --><!-- End Sub Header --> 
                          <!-- Begin Sub Body -->
                          <div class="secBdy"> 
                            <!-- Begin Sub Body -->
                            <div class="secBody">
                              <p><strong>note:</strong> note text.</p>
                            </div>
                            <!-- End Sub Body --> 
                          </div>
                          <!-- End Sub Body --> 
                          <!-- Begin Sub Footer --><!-- End Sub Footer -->
                        
                      </div>
                      <!-- End Column -->
                      <div class="clearfix"></div>
                      <!-- --------------------------------------------------------- --> 
                      <!-- END Schedule a Pickup - With Address Selection --> 
                      <!-- --------------------------------------------------------- --> 
                      
                      <!-- Begin Section Level -->
                      <div class="secLvl secLvlPlain clearfix">
                        
                          <div class="secBody">
                            <div class="subcol9 marginBegin clearfix">
                              <dl role="presentation">
                                <dt>
                                  <label for="repl_id">Contact Name:</label>
                                </dt>
                                <dd>
                                  <input type="text" name="repl_name" id="repl_id">
                                </dd>
                              </dl>
                              <dl role="presentation">
                                <dt>
                                  <label for="repl_id">Suite/Room:</label>
                                </dt>
                                <dd>
                                  <input type="text" name="repl_name" id="repl_id">
                                </dd>
                              </dl>
                              <dl role="presentation">
                                <dt>
                                  <label for="repl_id">Billing Address Line 1:</label>
                                </dt>
                              </dl>
                              <table>
                                <tbody>
                                  <tr>
                                    <td><input width="10" type="checkbox"></td>
                                    <td>Residential address.</td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="clearfix"></div>
                              <dl role="presentation"> 
                                <dt>
                                  <label for="repl_id">Preferred Pickup Location:</label>
                                </dt>
                                <dd>
                                  <select id="repl_id">
                                    <option value="repl_value">Choose One</option>
                                  </select>
                                </dd>
                              </dl>
                              <dl role="presentation">
                                <dt>
                                  <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Pickup Reference</a>:</label>
                                </dt>
                                <dd>
                                  <input type="text" name="repl_name" id="repl_id">
                                </dd>
                              </dl>
                            </div>
                            <div class="subcol9 marginEnd clearfix">
                              <dl role="presentation" class="flexFirst">
                                <dt>
                                  <label for="repl_id">Telephone:</label>
                                </dt>
                                <dd>
                                  <input type="text" name="repl_name" id="repl_id">
                                  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              </dl>
                              <dl role="presentation" class="flexAfter">
                                <dt>
                                  <label for="repl_id">Ext:</label>
                                </dt>
                                <dd>
                                  <input type="text" name="repl_name" id="repl_id" class="formcol2">
                                </dd>
                              </dl>
                              <div class="clear"></div>
                              <dl role="presentation"> 
                                <dt>
                                  <label for="repl_id">Floor:</label>
                                </dt>
                                <dd>
                                  <input type="text" name="repl_name" id="repl_id">
                                </dd>
                              </dl>
                            </div>
                          </div>
                        
                      </div>
                      <!-- End Section Level --> 
                      
                    </div>
                    
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  
                </div>
                <!-- End Section Module --> 
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// End Panel 1 Schedule a Pickup / Drop-off           //// --> 
                <!-- //// Begin Panel 2 Delivery Options                     //// --> 
                <!-- //////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
                      <h3 id="repl_id">delivery options section header</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <div class="secBody">
                      <p>Select the delivery options and/or confirmation method:</p>
                      <p>Requiring a signature is included as part of ups premium care service.  if needed, you can select the delivery confirmation option below.</p>
                      <dl role="presentation">
                        <dt>
                          <label id="repl_id" for="repl_id">delivery options:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>ups will deliver</option>
                            <option value="">hold for customer pickup at ups location</option>
                            <option value="">Delivery Confirmation</option>
                          </select>
                          <!--<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">--> 
                        </dd>
                      </dl>
                      <hr class="hr">
                      <p>How do you want UPS to deliver your UPS Worldwide Express Freight shipment?</p>
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Delivery Preferences:</a></label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>UPS Will Deliver</option>
                            <option value="">Hold for Customer Pickup at UPS Location</option>
                            <option value="">Delivery Confirmation</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                      </dl>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id"></td>
                          <td><label for="repl_id" class="sel">liftgate at delivery</label></td>
                        </tr>
                      </table>
                      <dl role="presentation"> 
                        <dt>
                          <span class="label" for="repl_id">[Location/Facility Name]</span>
                        </dt>
                        <dd> [address 1]<br>
                          [City], [Other], [State]  [ZIP/Postal Code]<br>
                          [Country or Territory]<br>
                          Telephone:  [number]<br>
                          Fax:  [number]<br>
                        </dd>
                      </dl>
                      <p><a class="btnlnkR newWindowIconR" href="repl_href">last 50 feet directions</a></p>
                      <dl role="presentation"> 
                        <dt>
                          <span class="label" for="repl_id">hours of operation:</span>
                        </dt>
                        <dd> <span id="repl_id">[Weekday] hh:mm am/pm to hh:mm am/pm</span><br>
                          <span id="repl_id">[Weekday] hh:mm am/pm to hh:mm am/pm</span><br>
                          <span id="repl_id">[Weekday] hh:mm am/pm to hh:mm am/pm</span><br>
                          <span id="repl_id">[Weekday] hh:mm am/pm to hh:mm am/pm</span><br>
                          <span id="repl_id">[Weekday] hh:mm am/pm to hh:mm am/pm</span><br>
                          <span id="repl_id">[Weekday] hh:mm am/pm to hh:mm am/pm</span><br>
                          <span id="repl_id">[Sunday] [Closed]</span><br>
                        </dd>
                      </dl>
                      <dl role="presentation">
                        <dt><span class="label">no ups facility results were found label</span></dt>
                        <dd>[this ups worldwide express freight shipment requires assistance paragraph text]</dd>
                      </dl>
                    </div>
                    
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  
                </div>
                <!-- End Section Module --> 
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// End Panel 2 Delivery Options                       //// --> 
                <!-- //// Begin Panel 3 E-mail Notification                  //// --> 
                <!-- //////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">3</span></div>
                      <h3 id="repl_id">e-mail notifications section header</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p>you can send any of the following <a id="repl_id" href="repl_href" class="btnlnkR helpIconR">notifications</a> paragraph text.</p>
                      <table border="0" cellspacing="0" cellpadding="0" class="dataTable full">
                        <tr>
                          <th class="sel alignCenter">&nbsp;</th>
                          <th><label id="repl_id" for="repl_id">e-mail  header:</label></th>
                          <th class="alignCenter"><label id="repl_id" for="repl_id"><a href="" class="btnlnkR helpIconR">ship header: </a></label></th>
                          <th class="alignCenter"><label id="repl_id" for="repl_id"><a href="" class="btnlnkR helpIconR">exception header: </a></label></th>
                          <th class="alignCenter"><label id="repl_id" for="repl_id"><a href="" class="btnlnkR helpIconR">delivery header: </a></label></th>
                        </tr>
                        <tr class="odd">
                          <td class="sel alignCenter">1.</td>
                          <td><input name="" type="text" id="repl_id" value="xxxxxxxxxxxxxx@xxxxxxx.com"></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                        <tr>
                          <td class="sel alignCenter">2.</td>
                          <td><input name="" type="text" id="repl_id" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                        <tr class="odd">
                          <td class="sel alignCenter">3.</td>
                          <td><input name="" type="text" id="repl_id" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                        <tr>
                          <td class="sel alignCenter">4.</td>
                          <td><input name="" type="text" id="repl_id" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                        <tr class="odd">
                          <td class="sel alignCenter">5.</td>
                          <td><input name="" type="text" id="repl_id" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                      </table>
                      <dl role="presentation"> 
                        <dt>
                          <span class="label" id="repl_id" for="repl_id">personal e-mail message label:</span>
                        </dt>
                        <dd>
                          <textarea class="full" name="" cols="60" rows="2"></textarea>
                          <div class="reqTxtInst">maximum 150 characters instructional text</div>
                        </dd>
                      </dl>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="sel"><input name="repl_name03" type="checkbox" id="repl_id" value="" checked="checked"></td>
                          <td><label id="repl_id" for="repl_id" class="sel">notify me if there is a problem text</label>
                            <br>
                            <input name="" type="text" id="repl_id" value="xxxxxxxxxxxxx@xxxxxxx.com"></td>
                        </tr>
                      </table>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  
                </div>
                <!-- End Section Module --> 
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// End Panel 3 E-mail Notification                    //// --> 
                <!-- //// Begin Panel 3 UPS Returns Notification             //// --> 
                <!-- //////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">3</span></div>
                      <h3 id="repl_id">ups returns&reg; {exchange/pack and collect} notification section header</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p>ups will contact the holder of the mechandise to remind them to be ready paragraph text.</p>
                      <h4>contact method sub header</h4>
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">phone number label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id">
                        </dd>
                      </dl>
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">sms mobile number label*:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id">
                        </dd>
                      </dl>
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">e-mail address label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" size="32">
                        </dd>
                      </dl>
                      <dl role="presentation"> 
                        <dt>
                          <span><strong>Note:</strong> ups will notify you if there is a problem sending a pre-alert e-mail.</span> </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="{user-profile@address.com}" size="32">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <hr class="hr">
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">pre-alert language label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>select one</option>
                          </select>
                        </dd>
                      </dl>
                      <p>{*standard text messaging rates apply.}</p>
                    </div>
                    <!-- End Section Body --> 
                    <!-- Begin Setion Footer --><!-- End Section Footer -->
                  
                </div>
                <!-- End Section Module --> 
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// End Panel 3 UPS Returns Notification               //// --> 
                <!-- //// Begin Panel 4 Dynamic Panel                        //// --> 
                <!-- //////////////////////////////////////////////////////////// -->
                
                <div id="dyn_pnl_1"> 
                  
                  <!-- //////////////////////////////////////////////////////////// --> 
                  <!-- //// Begin Panel 4 Proactive Response                   //// --> 
                  <!-- //////////////////////////////////////////////////////////// --> 
                  
                  <!-- Begin Section Module -->
                  <div id="pnl_1_1"  class="secLvl step clearfix">
                    
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"><span class="stepNumber">4</span></div>
                        <h3 id="repl_id">proactive response section header</h3>
                        <ul>
                          <li>
                            <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                          </li>
                        </ul>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <p>proactive response has been requested paragraph text.</p>
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">refrigeration needed</label></td>
                          </tr>
                        </table>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    
                  </div>
                  <!-- End Section Module --> 
                  
                  <!-- //////////////////////////////////////////////////////////// --> 
                  <!-- //// End Panel 4 Proactive Response                     //// --> 
                  <!-- //// Begin Panel 4 Electronic Package Release           //// --> 
                  <!-- //////////////////////////////////////////////////////////// --> 
                  
                  <!-- Begin Section Module -->
                  <div id="pnl_1_2" class="secLvl step clearfix">
                    
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"><span class="stepNumber">4</span></div>
                        <h3 id="repl_id">Electronic Package Release Authorization</h3>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <p>Please provide the Electronic Package Release Authorization code for this shipment.  The code can be 4-6 numbers in length.</p>
                        <dl role="presentation"> 
                          <dt>
                            <label id="repl_id" for="repl_id">EPRA Code:</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    
                  </div>
                  <!-- End Section Module --> 
                  
                  <!-- //////////////////////////////////////////////////////////// --> 
                  <!-- //// End Panel 4 Electronic Package Release             //// --> 
                  <!-- //// Begin Panel 4 C.O.D.                               //// --> 
                  <!-- //////////////////////////////////////////////////////////// --> 
                  
                  <!-- Begin Section Module -->
                  <div id="pnl_1_3" class="secLvl step clearfix">
                    
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"><span class="stepNumber">4</span></div>
                        <h3 id="repl_id">C.O.D.</h3>
                        <ul>
                          <li>
                            <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                          </li>
                        </ul>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <p>Enter the amount UPS is to collent from your recipient upon delivery of this shipment.</p>
                        <dl role="presentation" class="flexFirst clearfix">
                          <dt>
                            <label id="repl_id" for="repl_id">C.O.D. Amount:</label>
                          </dt>
                          <dd>
                            <input name="" type="text" id="repl_id">
                            [CCC] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        </dl>
                        <dl role="presentation" class="flexAfter clearfix">
                          <dt>
                            <label id="repl_id" for="repl_id">&nbsp;</label>
                          </dt>
                          <dd>
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td class="sel"><input name="repl_name03" type="checkbox" id="repl_id" value=""></td>
                                  <td><label id="repl_id" for="repl_id" class="sel">[Cashier's Check, Certified Cheque, Bank Draft, or Money Order</label></td>
                                </tr>
                              </tbody>
                            </table>
                          </dd>
                        </dl>
                        <div class="clearfix"></div>
                        <dl role="presentation">
                          <dt>
                            <label id="repl_id" for="repl_id">C.O.D. Currency:</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" selected="">select one</option>
                            </select>&nbsp;
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                          </dd>
                        </dl>
                        <dl role="presentation"> 
                          <dt>
                            <label id="repl_id" for="repl_id">C.O.D. Payment Method:</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" selected="">select one</option>
                              <option value="">Cash Only</option>
                              <option value="">Cash or Personal Check</option>
                              <option value="">Cash or Certified Check</option>
                            </select>&nbsp;
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                          </dd>
                        </dl>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    
                  </div>
                  <!-- End Section Module --> 
                  
                  <!-- //////////////////////////////////////////////////////////// --> 
                  <!-- //// End Panel 4 C.O.D.                                 //// --> 
                  <!-- //////////////////////////////////////////////////////////// --> 
                  
                </div>
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// End Panel 4 Dynamic Panel                          //// --> 
                <!-- //// Begin Panel 5 Dry Ice                              //// --> 
                <!-- //////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
                      <h3 id="repl_id">dry ice section header</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">dry ice weight label: <span class="sel">(for all pallets)</span></label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id">
                          kg</dd>
                      </dl>
                      <p><strong>note:</strong> all packages are shipped text.</p>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  
                </div>
                <!-- End Section Module --> 
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// End Panel 5 Dry Ice                                //// --> 
                <!-- //// Begin Panel 6 Special Comodities                   //// --> 
                <!-- //////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">6</span></div>
                      <h3 id="repl_id">special commodities section header</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody clearfix">
                        <!-- Begin Column -->
                        <div class="subcol9 marginBegin">
                          <ul>
                            <li>
                              <input name="" type="checkbox" id="repl_id" value="">
                              <label id="repl_id" for="repl_id" class="sel">alcoholic commodities</label>
                            </li>
                            <li>
                              <input name="" type="checkbox" id="repl_id" value="">
                              <label id="repl_id" for="repl_id" class="sel">perishables commodities</label>
                            </li>
                            <li>
                              <input name="" type="checkbox" id="repl_id" value="">
                              <label id="repl_id" for="repl_id" class="sel">seeds commodities</label>
                            </li>
                            <li>
                              <input name="" type="checkbox" id="repl_id" value="">
                              <label id="repl_id" for="repl_id" class="sel">tabacco commodities</label>
                            </li>
                          </ul>
                        </div>
                        <!-- End Column --> 
                        
                        <!-- Begin Column -->
                        <div class="subcol9 marginEnd">
                          <ul>
                            <li>
                              <input name="" type="checkbox" id="repl_id" value="">
                              <label id="repl_id" for="repl_id" class="sel">biological substances commodities</label>
                            </li>
                            <li>
                              <input name="" type="checkbox" id="repl_id" value="">
                              <label id="repl_id" for="repl_id" class="sel">plants commodities</label>
                            </li>
                            <li>
                              <input name="" type="checkbox" id="repl_id" value="">
                              <label id="repl_id" for="repl_id" class="sel">special exceptions commodities</label>
                            </li>
                          </ul>
                        </div>
                        <!-- End Column -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  
                </div>
                <!-- End Section Module --> 
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// End Panel 6 Special Comodities                     //// --> 
                <!-- //// Begin Panel 7 COD                                  //// --> 
                <!-- //////////////////////////////////////////////////////////// --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step">
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">7</span></div>
                      <h3 id="repl_id">cod section header</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">c.o.d. ammount label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">c.o.d. currency label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="">select one</option>
                            <option value="">usd</option>
                            <option value="" selected>[CCC]</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <dl role="presentation"> 
                        <dt>
                          <label id="repl_id" for="repl_id">c.o.d. payment method label:</label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="">select one</option>
                            <option value="" selected>either cash or cheque</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  
                </div>
                <!-- End Section Module --> 
                
                <!-- //////////////////////////////////////////////////////////// --> 
                <!-- //// End Panel 7 COD                                    //// --> 
                <!-- //////////////////////////////////////////////////////////// --> 
                
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="back" class="btnBackArw">
                  <input name="" type="button" id="repl_id" value="cancel {shipment}" class="btn">
                  <input name="" type="submit" id="repl_id" value="next" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 

<!-- Begin IC DEV Dynamic Panel Module -->
<div id="select_pnl_1">
  <dl role="presentation" role="presentation">
  <dt>
    <label for="dyn_pnl_select_1">Panel 4:</label>
  </dt>
  <dd>
    <select id="dyn_pnl_select_1" class="formcol5">
      <option value="1">Proactive Response</option>
      <option value="2">EPRA</option>
      <option value="3">COD</option>
    </select>
  </dd>
  </dl>
</div>
