---
title: create a return shipment
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">enter additional information</h2>
                <ul>
                  <li><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">help</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p class="error">&gt;&gt;&gt;error message.</p>
                <p>additional information is needed to complete your shipment. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl step">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
                      <h3 id="repl_id">electronic label</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id" class="error">&gt;&gt;&gt;e-mail electronic label to:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                        <dt>
                          <label id="repl_id" for="repl_id">electronic label memo:</label>
                        </dt>
                        <dd>
                          <textarea class="full" name="" cols="60" rows="2"></textarea>
                          <div class="reqTxtInst">instructional text</div>
                        </dd>
                      </dl>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="sel"><input name="repl_name03" type="checkbox" id="repl_id" value="" checked="checked"></td>
                          <td><dl>
                              <dt>
                                <label id="repl_id" for="repl_id" class="sel">notify me if there is a problem text</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" value="xxxxxxxxxxxxx@xxxxxxx.com">
                              </dd>
                            </dl></td>
                        </tr>
                      </table>
                    </div>
                    
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
                      <h3 id="repl_id">email notifications</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p>paragraph e-mail <a id="repl_id" href="repl_href" class="btnlnkR helpIconR">notifications</a> text.</p>
                      <table border="0" cellspacing="0" cellpadding="0" class="dataTable full">
                        <tr>
                          <th class="sel alignCenter">&nbsp;</th>
                          <th><label id="repl_id" for="repl_id">e-mail address header</label></th>
                          <th class="alignCenter"><label id="repl_id" for="repl_id">label created header</label></th>
                          <th class="alignCenter"><label id="repl_id" for="repl_id">intransit header</label></th>
                          <th class="alignCenter"><label id="repl_id" for="repl_id">exception header</label></th>
                          <th class="alignCenter"><label id="repl_id" for="repl_id">delivery header</label></th>
                        </tr>
                        <tr class="odd">
                          <td class="sel alignCenter">1.</td>
                          <td><input name="" type="text" id="repl_id" value="xxxxxxxxxxxxxx@xxxxxxx.com"></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                        <tr>
                          <td class="sel alignCenter">2.</td>
                          <td><input name="" type="text" id="repl_id" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                        <tr class="odd">
                          <td class="sel alignCenter">3.</td>
                          <td><input name="" type="text" id="repl_id" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                        <tr>
                          <td class="sel alignCenter">4.</td>
                          <td><input name="" type="text" id="repl_id" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                        <tr class="odd">
                          <td class="sel alignCenter">5.</td>
                          <td><input name="" type="text" id="repl_id" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                          <td class="alignCenter"><input name="" type="checkbox" value=""></td>
                        </tr>
                      </table>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">e-mail message label:</label>
                        </dt>
                        <dd>
                          <textarea class="full" name="" cols="60" rows="2"></textarea>
                          <div class="reqTxtInst">instructional text</div>
                        </dd>
                      </dl>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="sel"><input name="repl_name03" type="checkbox" id="repl_id" value="" checked="checked"></td>
                          <td><label id="repl_id" for="repl_id" class="sel">notify me if there is a problem text</label>
                            <br>
                            <input name="" type="text" id="repl_id" value="xxxxxxxxxxxxx@xxxxxxx.com"></td>
                        </tr>
                      </table>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">3</span></div>
                      <h3 id="repl_id">dry ice</h3>
                      <ul>
                        <li>
                          <input name="" type="button" id="repl_id" class="btnlnkL crossMini" value="remove this option">
                        </li>
                      </ul>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <dl>
                        <dt>
                          <label for="repl_id">dry ice weight:</label>
                        </dt>
                        <dd>
                          <input type="text" id="repl_id" class="formcol3">
                          [lb/kg]</dd>
                      </dl>
                      <p><strong>Note:</strong> all packages are shipped under iata regulations.</p>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">4</span></div>
                      <h3 id="repl_id">schedule a pickup / drop-off</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <p>[one or more of your pallets, or your total shipment weight is more than 4400 lbs or 2000 kgs and requires approval, please contact ups customer service at 1-800-782-7892].</p>
                      <p>[your total shipment weight... <a href="repl_href">contact ups</a> to schedule a pickup.]</p>
                      <dl>
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">pickup opitons:</a></label>
                        </dt>
                        <dd>
                          <select id="repl_id" class="formcol6">
                            <option value="" selected="selected">ups will pickup</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id"></td>
                          <td><label for="repl_id" class="sel">liftgate on pickup</label></td>
                        </tr>
                      </table>
                      <p><strong>note:</strong> the party that will be receiving... shipment to ups.</p>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
                      <h3 id="repl_id">delivery options</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody">
                      <dl>
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">delivery opitons:</a></label>
                        </dt>
                        <dd>
                          <select id="repl_id" class="formcol6">
                            <option value="" selected="selected">ups will deliver</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id"></td>
                          <td><label for="repl_id" class="sel">liftgate at delivery</label></td>
                        </tr>
                      </table>
                      <div id="repl_id">
                        <div class="flexFirst clearfix">
                          <dl>
                            <dt>
                              <label for="repl_id">[location/facility name]</label>
                            </dt>
                            <dd>[address 1]<br>
                              [city], [other], [state] [zip/postal code]<br>
                              [country or territory]<br>
                              telephone: [number]<br>
                              fax: [number]</dd>
                          </dl>
                          <p><a class="btnlnkR newWindowIconR" href="repl_href">last 50 feet directions</a></p>
                          <dl>
                            <dt>
                              <label for="repl_id">hours of operation:</label>
                            </dt>
                            <dd>[weekday] hh:mm am to hh:mm pm<br>
                              [weekday] hh:mm am to hh:mm pm<br>
                              [weekday] hh:mm am to hh:mm pm<br>
                              ...<br>
                              [sunday] [closed]</dd>
                          </dl>
                        </div>
                        <div class="flexAfter clearfix">
                          <dl class="outHozFlex clearfix">
                            <dt>
                              <label for="repl_id">[000]</label>
                            </dt>
                            <dd>[mi/km]</dd>
                          </dl>
                        </div>
                        <div class="clear"></div>
                        <p><strong>Note:</strong> the party that will be sending the return shipment must notify the recipient if the return shipment will be help for pick up at a ups location.</p>
                      </div>
                      <div id="repl_id">
                        <dl>
                          <dt>
                            <label for="repl_id">no ups facility were found within the search radius.</label>
                          </dt>
                          <dd>[the ups worldwide express... <a href="repl_href">contact ups</a> to schedule a pickup.]</dd>
                        </dl>
                      </div>
                    </div>
                    <!-- End Section Body --> 
                    
                    <!-- Begin Section Footer --><!-- End Section Footer -->
                  </fieldset>
                </div>
                <!-- End Section Module --> 
                
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="next" class="btnBackArw">
                  <input name="" type="button" id="repl_id" value="next" class="btn">
                  <input name="" type="submit" id="repl_id" value="next" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 
