---
title: create an import control shipment
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">edit information for all pallets</h2>
                <ul>
                  <li><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p class="error">{&gt;&gt;&gt;error message.}</p>
                <p>please enter your pallet information below.  you can enter information for up to 20 pallets.  required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                <dl class="outHozFlex clearfix">
                  <dt>
                    <label for="repl_id">total pallets:</label>
                  </dt>
                  <dd><strong>[1]</strong></dd>
                </dl>
                <p>review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidelines</a> to see if they apply to your pallet.</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix">
                  <fieldset>
                    <!-- Begin Section Header -->
                    <div class="secHead clearfix">
                      <h3>pallet 1</h3>
                    </div>
                    <!-- End Section Header --> 
                    
                    <!-- Begin Section Body -->
                    <div class="secBody clearfix">
                      <dl>
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">packaging type:</a></label>
                        </dt>
                        <dd>
                          <select id="repl_id" name="repl_name" class="formcol6">
                            <option value="repl_value" selected="selected">pallet</option>
                            <option value="repl_value2">another longer option with about 46 characters</option>
                          </select>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                      </dl>
                      <dl>
                        <dt>
                          <label for="repl_id">pallet weight:</label>
                        </dt>
                        <dd>
                          <input type="text" id="repl_id" name="repl_name" class="formcol4">
                          [lbs/kgs] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <dl>
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">pallet dimensions:</a></label>
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dt>
                        <dd>
                          <dl class="flexFirst clearfix">
                            <dt>
                              <label id="repl_id" for="repl_id">length:</label>
                            </dt>
                            <dd>
                              <input id="repl_id" type="text" class="formcol3">
                              x</dd>
                          </dl>
                          <dl class="flexAfter clearfix">
                            <dt>
                              <label id="repl_id" for="repl_id">width:</label>
                            </dt>
                            <dd>
                              <input id="repl_id" type="text" class="formcol3">
                              x</dd>
                          </dl>
                          <dl class="flexAfter clearfix">
                            <dt>
                              <label id="repl_id" for="repl_id">height:</label>
                            </dt>
                            <dd>
                              <input id="repl_id" type="text" class="formcol3">
                              [in/cm]</dd>
                          </dl>
                          <div class="clear"></div>
                        </dd>
                      </dl>
                      <p class="reqTxtInst">(for pallets, the value entered for length must be greater than or equal to the width value.)</p>
                      <dl>
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">pallet declared value:</a></label>
                        </dt>
                        <dd>
                          <input type="text" id="repl_id" class="formcol4">
                          [usd]</dd>
                      </dl>
                      <p><strong>note:</strong> additional shipping fees may apply based on declared value.</p>
                      <dl>
                        <dt>
                          <label for="repl_id">merchandise description:</label>
                        </dt>
                        <dd>
                          <input type="text" id="repl_id" class="formcol5">
                          <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      </dl>
                      <dl>
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">references:</a></label>
                        </dt>
                        <dd>
                          <dl>
                            <dt>
                              <label for="repl_id">reference #1:</label>
                            </dt>
                            <dd>
                              <input type="text" id="repl_id" class="formcol5">
                              <span class="indent"><a href="repl_href">search</a></span></dd>
                          </dl>
                          <dl>
                            <dt>
                              <label for="repl_id">reference #2:</label>
                            </dt>
                            <dd>
                              <input type="text" id="repl_id" class="formcol5">
                              <span class="indent"><a href="repl_href">search</a></span></dd>
                          </dl>
                          <dl>
                            <dt>
                              <label for="repl_id">reference #3:</label>
                            </dt>
                            <dd>
                              <input type="text" id="repl_id" class="formcol5">
                              <span class="indent"><a href="repl_href">search</a></span></dd>
                          </dl>
                        </dd>
                      </dl>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id1"></td>
                          <td><label for="repl_id1" class="sel"><a href="repl_href" class="btnlnkR helpIconR">add a bar code for reference #1 to my return label (this applies to all pallets in the shipment)</a></label></td>
                        </tr>
                      </table>
                      <hr class="hr">
                      <h4>additional shipping options and services</h4>
                      <dl>
                        <dt>
                          <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">proactive response:</a></label>
                        </dt>
                        <dd>
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td class="sel"><input type="radio" value="repl_value" name="repl_name2" id="repl_id2"></td>
                              <td><label for="repl_id2" class="sel">proactive response requeseted</label>
                                <br>
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id3"></td>
                                    <td><label for="repl_id3" class="sel">refrigeration needed</label></td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td class="sel"><input type="radio" value="repl_value" name="repl_name2" id="repl_id4"></td>
                              <td><label for="repl_id4" class="sel">proactive response not requested</label></td>
                            </tr>
                          </table>
                        </dd>
                      </dl>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id4"></td>
                          <td><label for="repl_id4" class="sel">{dry ice/<a href="repl_href" class="btnlnkR helpIconR">dry ice</a>}</label></td>
                        </tr>
                      </table>
                      <dl>
                        <dt>
                          <label for="repl_id">dry ice weight:</label>
                        </dt>
                        <dd>
                          <input type="text" id="repl_id" class="formcol4">
                          [lb/kg]</dd>
                      </dl>
                      <p><strong>note:</strong> all packages are shipped under iata regulations</p>
                    </div>
                    <!-- End Section Body -->
                  </fieldset>
                </div>
                <!-- End Section Module -->
                <p><a href="repl_href" class="btnlnkL plusMini">add one pallet</a></p>
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="cancel" class="btn">
                  <input name="" type="submit" id="repl_id" value="next" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
          </form>
        </div>
        <!-- /applicationArea --> 