---
title: Creeate a Return Shipment
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">Edit Payment Information</h2>
                <ul>
                  <li>{<a id="repl_id" href="repl_href" class="btnlnkR helpiconR">Help</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p>Please enter your payment information below. The information you enter will be transmitted using a secure connection. Required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl clearfix"> 
                  <!-- Begin Section Header --><!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody clearfix">
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">Payment Method for Shipping Charges:</a></label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id" onChange="switchid(this.options[this.selectedIndex].value);">
                          <option value="" selected>nnnnnn - Account Nickname</option>
                        </select>
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      <dt>
                        <label id="repl_id" for="repl_id">UPS Account Number:</label>
                      </dt>
                      <dd id="repl_id">nnnnnn</dd>
                      <dt>
                        <label id="repl_id" for="repl_id"></label>
                      </dt>
                      <dd>
                        <input name="" type="text" id="repl_id" value="Account Nickname" size="32">
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                      <dt>
                        <label id="repl_id" for="repl_id">Country or territory:</label>
                      </dt>
                      <dd id="repl_id">United States or Puerto Rico</dd>
                    </dl>
                    <div class="hr"> <img alt="" border="0" height="1" src="/img/1.gif" width="1"> </div>
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">Payment Method for Duties and Taxes: </a></label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id" class="formcol5">
                          <option value="" selected>Select One</option>
                        </select>
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                    </dl>
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="sel"><input name="" type="checkbox" value="" id="repl_id"></td>
                        <td><label id="repl_id" for="repl_id" class="sel"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">Split Duty/VAT</a></label></td>
                      </tr>
                    </table>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Section Module --> 
                
              </div>
              <!-- End Application Body --> 
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="{cancel}" class="btn">
                  <input name="" type="submit" id="repl_id" value="{next}" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"> <br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a> </div>
          </form>
        </div>
        <!-- /applicationArea --> 