---
title: Create a Shipment
layout: legacy.hbs
version: v4
dynpnls: yes
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
					<form action="repl_fname">
						<!-- Begin Application Module -->  
						
						<!-- USE Class="tab" for tab application display or use class="mod" for default application display --> 
						<!-- ECS no tabs, UIS Tabs -->
						<div class="appLvl col18 tab"> 
							<!-- Begin Application Header -->
							<div class="appHead clearfix">
								<div id="dyn_pnl_1">
									<div id="pnl_1_1">
										<h2 id="repl_id">Enter Information for All Packages</h2>
									</div>
									<div id="pnl_1_2">
										<h2 id="repl_id">Enter Information for All Pallets</h2>
									</div>
								</div>
								<ul>
									<li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
								</ul>
							</div>
							<!-- End Application Header --> 
							<!-- Begin Application Body -->
							<div class="appBody clearfix">
								<p id="repl_id">Please enter your package/pallet information below. You can enter information for up to 20 packages/pallets. Required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
								<!-- Begin Section Module - NOTE MESSAGE -->
								<div class="secLvl message"> 
									<!-- Begin Section Header --><!-- End Section Header --> 
									<!-- Begin Section Body -->
									<div class="secBody">
										<p id="repl_id"><strong>Note: </strong>You are currently creating a shipping ticket.</p>
									</div>
									<!-- End Section Body --> 
									<!-- Begin Section Footer --><!-- End Section Footer --> 
								</div>
								<!-- End Section Module - NOTE MESSAGE -->
								<dl role="presentation"  class="outHozFlex clearfix">
									<dt><strong>Total Packages:</strong></dt>
									<dd id="repl_id"><strong>2</strong></dd>
								</dl>
								<div id="dyn_pnl_6">
									<div class="alignBegin clearfix" id="pnl_6_2">
										<p>Review the <a href="repl_name" class="btnlnkR newWindowIconR">Raw Wood Guidelines</a> to see if they apply to your pallet.</p>
									</div>
								</div>
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// Begin Section Module - PACKAGE/PALLET 1       //// --> 
								<!-- /////////////////////////////////////////////////////// -->
								
								<div class="secLvl step clearfix"> 
									<!-- Begin Section Header -->
									
									<div class="secHead clearfix">
										<div id="dyn_pnl_2">
											<div id="pnl_2_1">
												<h3 id="repl_id">Package 1</h3>
												<ul>
													<li>
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL crossMini" value="Remove Package">
													</li>
												</ul>
											</div>
											<div id="pnl_2_2">
												<h3 id="repl_id">Pallet [1]</h3>
												<ul>
													<li>
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL crossMini" value="Remove Pallet">
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody">
										<div id="dyn_pnl_3">
											<!--Campus Shipping -->
											<!-- Multi-Package - Default -->
											<div id="pnl_3_1">
												<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="" selected>Select One</option>
															<option value="">Pallet</option>
															<option value="">Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
												</dl>
												<dl role="presentation" >
													<dt>
														<label for="repl_id">Does this shipment include <a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">batteries</a>?</label>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_nameA" type="radio" value="" id="radio1"/></td>
																	<td><label for="radio1" class="sel">Yes</label></td>
																	<td class="sel" scope="row"><input name="radio_group_nameB" type="radio" value="" id="radio2" checked/></td>
																	<td><label for="radio2" class="sel">No</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
												<p id="repl_id">
													<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
												</p>
											</div>
											<!-- Multi-Package - Lithium Battery Checkboxes Example -->
											<div id="pnl_3_2">
												<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="" selected>Select One</option>
															<option value="">Pallet</option>
															<option value="">Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
												</dl>
												<dl role="presentation" >
													<dt>
														<label for="repl_id">Does this shipment include <a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">batteries</a>?</label>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_nameE" type="radio" value="" id="radio1" checked/></td>
																	<td><label for="radio1" class="sel">Yes</label></td>
																	<td class="sel" scope="row"><input name="radio_group_nameF" type="radio" value="" id="radio2" /></td>
																	<td><label for="radio2" class="sel">No</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
													<div class="clear"></div>
													<div class="marginBegin subcol7 clearfix indent">
														<p><strong>Check all that apply:</strong></p>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Lithium Ion (alone)</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																	<td><label for="chxbox2" class="sel">Lithium Metal (alone)</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="marginEnd subcol9 clearfix">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Lithium Ion in equipment (e.g. laptop, cellphone)</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																	<td><label for="chxbox2" class="sel">Lithium Metal in equipment</label></td>
																</tr>
															</tbody>
														</table>
														<div class="clear"></div>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Lithium Ion packed with equipment</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																	<td><label for="chxbox2" class="sel">Lithium Metal packed with equipment</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="clear"></div>
												<p id="repl_id">
													<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
												</p>
											</div>
											<!-- Multi-Pallet WW Express Freight -->
											<div id="pnl_3_3">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="" selected>Pallet</option>
																<option value="">Other Packaging</option>
															</select>
															<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
													</dl>
													<dl role="presentation">
														<dt><label for="txtbox"> Pallet Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Pallet Dimenisons:</strong></p>
													</div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> [in.]
															<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
														</dd>
													</dl>
													<div class="clear"></div>
													<div class="flexFirst clearfix">
														<p class="reqTxtInst">(For pallets, the value entered for Length must be greater than or equal ot the width value.)</p>	
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Pallet Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [USD] </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Number of Pieces on Pallet</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol4"></dd>
														</dl>
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Merchandise Description</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol6"> <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
														</dl>
														<dl role="presentation">
														<dt>
															<label for="repl_id">{Reference 1}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id0131">
															<a id="repl_id0132" href="repl_href">Search</a></dd>
														<dt>
															<label for="repl_id">{Reference 2}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id8b">
															<a id="repl_id0133" href="repl_href">Search</a></dd>
														<dt>
															<label for="repl_id">{Reference 3}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id0149">
															<a id="repl_id0150" href="repl_href">Search</a></dd>
													</dl>
													<table summary="repl_summary" title="repl_title">
														<tbody><tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id47"></td>
															<td><label id="repl_id48" for="repl_id47" class="sel btnlnkR helpIconR">Add a bar code for Reference #1 to my Return label (this applies to all pallets in the shipment)</label></td>
														</tr>
													</tbody></table>
													<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
													<p><strong>Additional Shipping Options and Services</strong></p>
													<table summary="repl_summary" title="repl_title">
														<tbody><tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id47"></td>
															<td><label id="repl_id48" for="repl_id47" class="sel btnlnkR helpIconR">Dry Ice</label></td>
														</tr>
													</tbody></table>
													<dl role="presentation">
														<dt><label for="txtbox"> Dry Ice Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [lb/kg] </dd>
													</dl>
													<p><strong>Note:</strong> All packages are shipped under IATA regulations.</p>
													<p id="repl_id">
													<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
												</p>
													</div>
											</div>
											<!-- Package Edit Fields - Other Packaging-->
											<div id="pnl_3_4">
													
													<dl role="presentation">
														<dt><label for="txtbox">Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"><input type="button" name="repl_name" id="repl_id" class="btn indent" value="Weigh It"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Pallet Dimenisons:</strong></p>
													</div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> in.
														</dd>
													</dl>
													<div class="clear"></div>
													<label class="helpIconR btnlnkR">Large or Unusually Shaped Packages</label>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel">Large Package</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel">Additional Handling</label></td>
															</tr>
														</tbody>
													</table>
													<div class="flexFirst clearfix">
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [USD] </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														<dl role="presentation">
														<dt>
															<label for="repl_id">{Reference 1}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id0131">
															<a id="repl_id0132" href="repl_href">Search</a></dd>
														<dt>
															<label for="repl_id">{Reference 2}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id8b">
															<a id="repl_id0133" href="repl_href">Search</a></dd>
														<dt>
															<label for="repl_id">{Reference 3}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id0149">
															<a id="repl_id0150" href="repl_href">Search</a></dd>
													</dl>
													<table summary="repl_summary" title="repl_title">
														<tbody><tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id47"></td>
															<td><label id="repl_id48" for="repl_id47" class="sel btnlnkR helpIconR">Add a bar code for Reference #1 to my Return label (this applies to all pallets in the shipment)</label></td>
														</tr>
													</tbody></table>
													<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
													<p><strong>Additional Shipping Options and Services</strong></p>
													<p>Enter the amount UPS is to collect from your recipient upon delivery of this shipment.</p>					
													<div class="marginBegin subcol7 clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">C.O.D. Amount</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol5">USD <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
														</dl>
													</div>
													<div class="marginEnd subcol7 clearfix">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Cashier's Check or Money Order Only</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="flexFirst clearfix">
														<p>Select the delivery options and/or confirmation method:</p>
														<p>Based on your selected shipping options, UPS can provide verbal confirmation of delivery for this shipment. Please provide contact information below.</p>
													<dl role="presentation">
														<dt><label for="selectbox">Delivery Options:</label></dt>
														<dd>
															<select name="repl_name" id="selectbox" class="formcol5">
																<option value="repl_value" selected>None Selected</option>
																<option value="repl_value">Option 2 which is much longer than Option 1</option>
															</select>
														</dd>
													</dl>
													</div>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel btnlnkR helpIconR" >UPS Premium Care &trade;</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel btnlnkR helpIconR">UPS Proactive ResponseSM</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel btnlnkR helpIconR">Dry Ice</label></td>
															</tr>
														</tbody>
													</table>
													<div class="indent">
														<dl role="presentation">
															<dt><label for="txtbox"> Dry Ice Weight:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [UOM] </dd>
														</dl>
														<p><strong>Note:</strong> All packages are shipped under IATA regulations.</p>
													</div>
														<p id="repl_id">
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
													</p>
													</div>
											</div>
											<!-- Package Edit Fields - Other Packaging - DE Package Entry-->
											<div id="pnl_3_5">
													<dl role="presentation">
														<dt><label for="txtbox">Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Package Dimenisons:</strong></p>
													</div>
													<div class="flexAfter clearfix"><a href="repl_name" class="indent">or enter dimensional weight</a></div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> [cm]
														</dd>
													</dl>
													<div class="clear"></div>
													<label class="helpIconR btnlnkR">Large or Unusually Shaped Packages</label>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel">Large Package</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel">Additional Handling</label></td>
															</tr>
														</tbody>
													</table>
													<div class="flexFirst clearfix">
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> EUR </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														<p id="repl_id">
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
													</p>
													</div>
											</div>
											<!-- Package Edit Fields - Other Packaging (2)-->
											<div id="pnl_3_9">
													
													<dl role="presentation">
														<dt><label for="txtbox">Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"><input type="button" name="repl_name" id="repl_id" class="btn indent" value="Weigh It"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Pallet Dimenisons:</strong></p>
													</div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> [in.]
														</dd>
													</dl>
													<div class="clear"></div>
													<label class="helpIconR btnlnkR">Large or Unusually Shaped Packages</label>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel">Large Package</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel">Additional Handling</label></td>
															</tr>
														</tbody>
													</table>
													<div class="flexFirst clearfix">
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [USD] </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														<dl role="presentation">
														<dt>
															<label for="repl_id">{Reference 1}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id0131">
															<a id="repl_id0132" href="repl_href">Search</a></dd>
														<dt>
															<label for="repl_id">{Reference 2}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id8b">
															<a id="repl_id0133" href="repl_href">Search</a></dd>
														<dt>
															<label for="repl_id">{Reference 3}:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id0149">
															<a id="repl_id0150" href="repl_href">Search</a></dd>
													</dl>
													<table summary="repl_summary" title="repl_title">
														<tbody><tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id47"></td>
															<td><label id="repl_id48" for="repl_id47" class="sel btnlnkR helpIconR">Add a bar code for Reference #1 to my Return label (this applies to all pallets in the shipment)</label></td>
														</tr>
													</tbody></table>
													<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
													<p><strong>Additional Shipping Options and Services</strong></p>
													<p>Enter the amount UPS is to collect from your recipient upon delivery of this shipment.</p>					
													<div class="marginBegin subcol7 clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">C.O.D. Amount</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol5">USD <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
														</dl>
													</div>
													<div class="marginEnd subcol7 clearfix">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Cashier's Check or Money Order Only</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="flexFirst clearfix">
														<p>Select the delivery options and/or confirmation method:</p>
														<p>Based on your selected shipping options, UPS can provide verbal confirmation of delivery for this shipment. Please provide contact information below.</p>
													<dl role="presentation">
														<dt><label for="selectbox">Delivery Options:</label></dt>
														<dd>
															<select name="repl_name" id="selectbox" class="formcol5">
																<option value="repl_value" selected>None Selected</option>
																<option value="repl_value">Option 2 which is much longer than Option 1</option>
															</select>
														</dd>
													</dl>
													</div>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel btnlnkR helpIconR" >UPS Premium Care &trade;</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel btnlnkR helpIconR">UPS Proactive ResponseSM</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel btnlnkR helpIconR">Dry Ice</label></td>
															</tr>
														</tbody>
													</table>
													<div class="indent">
														<dl role="presentation">
															<dt><label for="txtbox"> Dry Ice Weight:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [UOM] </dd>
														</dl>
														<p><strong>Note:</strong> All packages are shipped under IATA regulations.</p>
													</div>
														<p id="repl_id">
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
													</p>
													</div>
											</div>
											<!-- Package Edit Fields - Other Packaging - DE Package Entry (2)-->
											<div id="pnl_3_10">
													<dl role="presentation">
														<dt><label for="txtbox">Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Package Dimenisons:</strong></p>
													</div>
													<div class="flexAfter clearfix"><a href="repl_name" class="indent">or enter dimensional weight</a></div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> [cm]
														</dd>
													</dl>
													<div class="clear"></div>
													<label class="helpIconR btnlnkR">Large or Unusually Shaped Packages</label>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel">Large Package</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel">Additional Handling</label></td>
															</tr>
														</tbody>
													</table>
													<div class="flexFirst clearfix">
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> EUR </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														<p id="repl_id">
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
													</p>
													</div>
											</div>
											<!-- Delivery Options - Verbal Confirmation (2)-->
											<div id="pnl_3_11">
													<div class="flexFirst group clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">Contact Name:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol5" value="John Smith"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
														</dl>
													</div>
													<div class="flexAfter group clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">Telephone:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol5" value="555-123-4567"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
														</dl>
													</div>
													<div class="flexAfter group clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">Ext:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"></dd>
														</dl>
													</div>
										
											</div>
											<!-- Edit Package - Pkg Dim / Dim Weight - Default (2)-->
											<div id="pnl_3_12">
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Package Dimenisons:</strong></p>
													</div>
													<div class="flexAfter clearfix"><a href="repl_name" class="indent">or enter dimensional weight</a></div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> [cm]
														</dd>
													</dl>
													<div class="clear"></div>
											</div>
											<!-- Edit Package - Pkg Dim / Dim Weight - Dimensional Weight (2)-->
											<div id="pnl_3_13">
													<dl role="presentation">
														<dt><label for="txtbox" class="helpIconR btnlnkR">Package Dimensional Weight</label> <a href="repl_name" class="indent">or enter dimenisonal weight</a></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
													</dl>
										
											</div>
											
											<!-- Campus Shipping and Internet Shipping Only -->
											<!-- Delivery Options - Verbal Confirmation-->
											<div id="pnl_3_6">
													<div class="flexFirst group clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">Contact Name:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol5" value="John Smith"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
														</dl>
													</div>
													<div class="flexAfter group clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">Telephone:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol5" value="555-123-4567"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
														</dl>
													</div>
													<div class="flexAfter group clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">Ext:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3"></dd>
														</dl>
													</div>
										
											</div>
											<!-- Edit Package - Pkg Dim / Dim Weight - Default-->
											<div id="pnl_3_7">
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Package Dimenisons:</strong></p>
													</div>
													<div class="flexAfter clearfix"><a href="repl_name" class="indent">or enter dimensional weight</a></div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8" value="[nn]" maxlength="4"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]" maxlength="4"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]" maxlength="4"> [cm]
														</dd>
													</dl>
													<div class="clear"></div>
											</div>
											<!-- Edit Package - Pkg Dim / Dim Weight - Dimensional Weight-->
											<div id="pnl_3_8">
													<dl role="presentation">
														<dt><label for="txtbox" class="helpIconR btnlnkR">Package Dimensional Weight</label> <a href="repl_name" class="indent">or enter dimenisonal weight</a></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
													</dl>
										
											</div>
											
											<!-- Internet Shipping Only -->
											<!-- Multi-Pkg Module 1 - Default -->
											<div id="pnl_3_14">
												<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="" selected>Select One</option>
															<option value="">Pallet</option>
															<option value="">Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
												</dl>
												<dl role="presentation">
													<dt><label for="txtbox">Merchandise Description:</label></dt>
													<dd><input type="text" name="repl_name" id="txtbox" class="formcol5"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
												</dl>
												<dl role="presentation" >
													<dt>
														<label for="repl_id">Does this shipment include <a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">batteries</a>?</label>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_nameG" type="radio" value="" id="radio1"/></td>
																	<td><label for="radio1" class="sel">Yes</label></td>
																	<td class="sel" scope="row"><input name="radio_group_nameH" type="radio" value="" id="radio2" checked/></td>
																	<td><label for="radio2" class="sel">No</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
												<p id="repl_id">
													<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
												</p>
											</div>
											<!-- Multi-Pkg Module - Lithium Battery Checkboxes Example -->
											<div id="pnl_3_15">
												<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="" selected>Select One</option>
															<option value="">Pallet</option>
															<option value="">Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
												</dl>
												<dl role="presentation">
													<dt><label for="txtbox">Merchandise Description:</label></dt>
													<dd><input type="text" name="repl_name" id="txtbox" class="formcol5"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
												</dl>
												<dl role="presentation" >
													<dt>
														<label for="repl_id">Does this shipment include <a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">batteries</a>?</label>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_nameY" type="radio" value="" id="radio1" checked/></td>
																	<td><label for="radio1" class="sel">Yes</label></td>
																	<td class="sel" scope="row"><input name="radio_group_nameZ" type="radio" value="" id="radio2" /></td>
																	<td><label for="radio2" class="sel">No</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
													<div class="clear"></div>
													<div class="marginBegin subcol7 clearfix indent">
														<p><strong>Check all that apply:</strong></p>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Lithium Ion (alone)</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																	<td><label for="chxbox2" class="sel">Lithium Metal (alone)</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="marginEnd subcol9 clearfix">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Lithium Ion in equipment (e.g. laptop, cellphone)</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																	<td><label for="chxbox2" class="sel">Lithium Metal in equipment</label></td>
																</tr>
															</tbody>
														</table>
														<div class="clear"></div>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Lithium Ion packed with equipment</label></td>
																</tr>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																	<td><label for="chxbox2" class="sel">Lithium Metal packed with equipment</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="clear"></div>
												<p id="repl_id">
													<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
												</p>
											</div>
											<!-- Multi-Pkg Module 1 - Default -->
											<div id="pnl_3_16">
												<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="">Select One</option>
															<option value="">Pallet</option>
															<option value="" selected>Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
												</dl>
												<dl role="presentation" >
													<dt>
														<label for="repl_id">Does this shipment include <a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">batteries</a>?</label>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
																	<td><label for="radio1" class="sel">Yes</label></td>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2" checked></td>
																	<td><label for="radio2" class="sel">No</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
											</div>
											<!-- Package Edit Fields - Other Packaging-->
											<div id="pnl_3_17">
													<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="">Select One</option>
															<option value="">Pallet</option>
															<option value="" selected>Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
												</dl>
													<dl role="presentation">
														<dt><label for="txtbox">Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3" value="10.0"> [lb] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Package Dimenisons:</strong></p>
													</div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8" maxlength="4"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> [cm]
														</dd>
													</dl>
													<div class="clear"></div>
													<label class="helpIconR btnlnkR">Large or Unusually Shaped Packages</label>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel">Large Package</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel">Additional Handling</label></td>
															</tr>
														</tbody>
													</table>
													<div class="flexFirst clearfix">
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3" value="25.00"> [CCC] </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														<p>UPS gives you the option to track your shipments using <a href="repl_name" class="helpIconR btnlnkR">references</a> that you define.</p>
														
														<dl class="flexFirst clearfix">
															<dt>
																<span class="label">{Reference 1}:</span>
															</dt>
															<dd><input name="repl_name" type="text" id="repl_id0131"></dd>
														</dl>
														<dl class="flexAfter clearfix">
															<dt>
																<span class="label">{Reference 2}:</span>
															</dt>
															<dd>
																<input name="repl_name" type="text" id="repl_id8b">
															</dd>
														</dl>
													<div class="clear"></div>
													<table summary="repl_summary" title="repl_title">
														<tbody><tr>
															<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id47"></td>
															<td><label id="repl_id48" for="repl_id47" class="sel btnlnkR helpIconR">Add a bar code for [Reference #1] to my [shipping/Return] label (this applies to all packages in the shipment)</label></td>
														</tr>
													</tbody></table>
													<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
													<p><strong>Additional Shipping Options and Services</strong></p>
													<p>Enter the amount UPS is to collect from your recipient upon delivery of this shipment.</p>					
													<div class="marginBegin subcol7 clearfix">
														<dl role="presentation">
															<dt><label for="txtbox">C.O.D. Amount</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol5" maxlength="8">USD <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
														</dl>
													</div>
													<div class="marginEnd subcol7 clearfix">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel">Cashier's Check or Money Order Only</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="flexFirst clearfix">
														<p>Select the delivery options and/or confirmation method:</p>
														<p>Based on your selected shipping options, UPS can provide verbal confirmation of delivery for this shipment. Please provide contact information below.</p>
													<dl role="presentation">
														<dt><label for="selectbox">Delivery Options:</label></dt>
														<dd>
															<select name="repl_name" id="selectbox" class="formcol5">
																<option value="repl_value" selected>None Selected</option>
																<option value="repl_value">Option 2 which is much longer than Option 1</option>
															</select>
														</dd>
													</dl>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel btnlnkR helpIconR" >UPS Premium Care &trade;</label></td>
																</tr>
															</tbody>
														</table>
													</div>
								
													</div>
											</div>
											<!-- Package Edit Fields - Other Packaging - DE Package Entry-->
											<div id="pnl_3_18">
													<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="">Select One</option>
															<option value="">Pallet</option>
															<option value="" selected>Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
													</dl>
													<dl role="presentation">
														<dt><label for="txtbox">Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3" value="10.0"> [kg] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Package Dimenisons:</strong></p>
													</div>
													<div class="flexAfter clearfix">
														<a href="repl_name">or enter dimensional weight</a>
													</div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> [cm]
														</dd>
													</dl>
													<div class="clear"></div>
													<label class="helpIconR btnlnkR">Large or Unusually Shaped Packages</label>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel">Large Package</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel">Additional Handling</label></td>
															</tr>
														</tbody>
													</table>
													<div class="flexFirst clearfix">
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3" value="25.00"> [EUR] </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														</div>
														
													<div class="clear"></div>
													<p id="repl_id">
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
													</p>
													</div>
											<!-- Package Edit Fields - Ground Freight Pricing-->
											<div id="pnl_3_19">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="">Select One</option>
																<option value="">Pallet</option>
																<option value="" selected>Other Packaging</option>
															</select>
															<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
													</dl>
													<dl role="presentation">
														<dt><label for="txtbox">Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3" value="000.0"> [lb] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Package Dimenisons:</strong></p>
													</div>
													<div class="flexAfter clearfix">
														<a href="repl_name">or enter dimensional weight</a>
													</div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> [cm]
														</dd>
													</dl>
													<div class="clear"></div>
													<label class="helpIconR btnlnkR">Large or Unusually Shaped Packages</label>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel">Large Package</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel">Additional Handling</label></td>
															</tr>
														</tbody>
													</table>
													<div class="flexFirst clearfix">
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3" value="000.00"> [CCC] </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														</div>
														
													<div class="clear"></div>
													<p>UPS gives you the option to track your shipments using <a href="repl_name" class="helpIconR btnlnkR">references</a> that you define. </p>
													<dl role="presentation">
														<dt><label for="txtbox">[Reference #1]:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol5"></dd>
													</dl>
													<dl role="presentation">
														<dt><label for="txtbox">[Reference #2]:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol5"></dd>
													</dl>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel helpIconR btnlnkR">Add a bar code for [Reference #1] to my [shipping/Return] label (this applies to all packages in the shipment)</label></td>
															</tr>
														</tbody>
													</table>
													<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
													<p><strong>Additional Shipping Options and Services</strong></p>
													<p><strong>UPS Ground with Freight Pricing Details for Package 1:</strong></p>
													<dl role="presentation" class="flexFirst">
														<dt><label for="selectbox">Class</label></dt>
														<dd>
															<select name="repl_name" id="selectbox" class="formcol3">
																<option value="repl_value" selected>60</option>
																<option value="repl_value">Option 2 which is much longer than Option 1</option>
															</select>
															<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">NMFC</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" maxlength="6">
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Sub#</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" maxlength="2">
														</dd>
													</dl>
													<div class="flexFirst clearfix">
													<p id="repl_id">
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
													</p>
													</div>
													
													</div>		
											<!-- Package Edit Fields - COD example-->
											<div id="pnl_3_20">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="">Select One</option>
																<option value="">Pallet</option>
																<option value="" selected>Other Packaging</option>
															</select>
															<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
													</dl>
													<dl role="presentation">
														<dt><label for="txtbox">Weight:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol3" value="10.0"> [lb] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
													</dl>
													<div class="flexFirst clearfix btnlnkR helpIconR">
														<p><strong>Package Dimenisons:</strong></p>
													</div>
													<dl role="presentation" class="flexFirst">
														<dt>
															<label for="repl_id">Length:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id041" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter">
														<dt>
															<label for="repl_id">Width:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8" value="[nn]"> x
														</dd>
													</dl>
													<dl role="presentation" class="flexAfter" value="[nn]">
														<dt>
															<label for="repl_id">Height:</label>
														</dt>
														<dd>
															<input name="repl_name" type="text" id="repl_id042" size="8"> [cm]
														</dd>
													</dl>
													<div class="clear"></div>
													<label class="helpIconR btnlnkR">Large or Unusually Shaped Packages</label>
													<table border="0" cellpadding="0" cellspacing="0" role="presentation">
														<tbody>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																<td><label for="chxbox1" class="sel">Large Package</label></td>
															</tr>
															<tr>
																<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
																<td><label for="chxbox2" class="sel">Additional Handling</label></td>
															</tr>
														</tbody>
													</table>
													<div class="flexFirst clearfix">
														<dl role="presentation">
															<dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
															<dd><input type="text" name="repl_name" id="txtbox" class="formcol3" value="25.00"> [CCC] </dd>
														</dl>		
														<p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
														</div>
														
													<div class="clear"></div>
													<p>UPS gives you the option to track your shipments using <a href="repl_name" class="helpIconR btnlnkR">references</a> that you define. </p>
													<div class="marginBegin subcol7 clearfix">
													<dl role="presentation">
														<dt><label for="txtbox">[Reference #1]:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol5"></dd>
													</dl>
													</div>
													<div class="marginEnd subcol9 clearfix">
													<dl role="presentation">
														<dt><label for="txtbox">[Reference #2]:</label></dt>
														<dd><input type="text" name="repl_name" id="txtbox" class="formcol5"></dd>
													</dl>
													</div>
													<div class="alignBegin clearfix">
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
																	<td><label for="chxbox1" class="sel helpIconR btnlnkR">Add a bar code for [Reference #1] to my [shipping/Return] label (this applies to all packages in the shipment)</label></td>
																</tr>
															</tbody>
														</table>
													</div>
													<div id="dyn_pnl_7">
														<div id="pnl_7_1">
															<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
															<p><strong>Additional Shipping Options and Services</strong></p>
															<p>Enter the amount UPS is to collect from your recipient upon delivery of this shipment.</p>
															<dl role="presentation">
																<dt><label for="txtbox">C.O.D. Amount</label></dt>
																<dd><input type="text" name="repl_name" id="txtbox" class="formcol5" maxlength="8">[USD]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> [Cash Only]</dd>
															</dl>
															<div class="alignBegin">
																<p id="repl_id">
																	<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
																</p>
															</div>
														</div>
														<div id="pnl_7_2">
															<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
															<p><strong>Additional Shipping Options and Services</strong></p>
															<p>Enter the amount UPS is to collect from your recipient upon delivery of this shipment.</p>
															<dl role="presentation" class="flexFirst">
																<dt>
																	<label id="repl_id" for="repl_id">C.O.D. Amount:</label>
																</dt>
																<dd>
																	<input name="repl_name" type="text" id="repl_id">
																	[USD]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
															</dl>
															<dl role="presentation" class="subcol10">
																<dt>&nbsp;</dt>
																<dd>
																	<input name="repl_name" type="checkbox" value="" id="repl_id">
																	<label id="repl_id" for="repl_id" class="sel">[Cashier's Check or Money Order Only]</label>
																</dd>
															</dl>
														</div>
														<div id="pnl_7_3">
															<div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif"> </div>
															<p><strong>Additional Shipping Options and Services</strong></p>
															<p>Enter the amount UPS is to collect from your recipient upon delivery of this shipment.</p>
															<dl role="presentation">
																<dt>
																	<label id="repl_id" for="repl_id">C.O.D. Amount:</label>
																</dt>
																<dd>
																	<input name="repl_name" type="text" id="repl_id">
																	[USD]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
															</dl>
															<dl role="presentation">
																<dt><label for="selectbox">C.O.D. Payment Method</label></dt>
																<dd>
																	<select name="repl_name" id="selectbox" class="formcol5">
																		<option value="repl_value" selected>Either cash or cheque</option>
																		<option value="repl_value">Option 2 which is much longer than Option 1</option>
																	</select>
																</dd>
															</dl>
															<div class="alignBegin">
																<p id="repl_id">
																	<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
																</p>
															</div>
														</div>
													</div>
												</div>				
											</div>
										</div>
						
										
									<!-- End Section Body --> 
									
									<!-- Begin Section Footer --><!-- End Section Footer --> 
									
								</div>
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Section Module - PACKAGE/PALLET 1         //// --> 
								<!-- //// Begin Section Module - PACKAGE/PALLET 2       //// --> 
								<!-- /////////////////////////////////////////////////////// -->
								
								<div class="secLvl step clearfix"> 
									<!-- Begin Section Header -->
									<div class="secHead clearfix">
										<div id="dyn_pnl_4">
											<div id="pnl_4_1">
												<h3 id="repl_id">Package 2</h3>
												<ul>
													<li>
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL crossMini" value="Remove Package">
													</li>
													<li>
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortUpMini" value="Copy From Above">
													</li>
												</ul>
											</div>
											<div id="pnl_4_2">
												<h3 id="repl_id">Pallet [2]</h3>
												<ul>
													<li>
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL crossMini" value="Remove Pallet">
													</li>
													<li>
														<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortUpMini" value="Copy From Above">
													</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- End Section Header --> 
									
									<!-- Begin Section Body -->
									<div class="secBody">
										<div id="dyn_pnl_5">
											<!--Multi-Package - Default -->
											<div id="pnl_5_1">
												<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"><a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a></label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="" selected>Select One</option>
															<option value="">Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
												</dl>
												<dl role="presentation">
													<dt>
														<label for="repl_id">Does this shipment include <a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">batteries</a>?</label>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_nameC" type="radio" value="" id="radio3"/></td>
																	<td><label for="radio3" class="sel">Yes</label></td>
																	<td class="sel" scope="row"><input name="radio_group_nameD" type="radio" value="" id="radio4" checked></td>
																	<td><label for="radio4" class="sel">No</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
												<p id="repl_id">
													<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
												</p>
											</div>
											<!-- Multi-Package - Lithium Battery Checkboxes Example -->
											<div id="pnl_5_2">
												<dl role="presentation">
													<dt>
														<label id="repl_id" for="repl_id"><a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a></label>
													</dt>
													<dd>
														<select name="repl_name" id="repl_id" class="formcol5">
															<option value="" selected>Select One</option>
															<option value="">Other Packaging</option>
														</select>
														<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
												</dl>
												<dl role="presentation">
													<dt>
														<label for="repl_id">Does this shipment include <a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">batteries</a>?</label>
													</dt>
													<dd>
														<table border="0" cellpadding="0" cellspacing="0" role="presentation">
															<tbody>
																<tr>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
																	<td><label for="radio1" class="sel">Yes</label></td>
																	<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2" checked/></td>
																	<td><label for="radio2" class="sel">No</label></td>
																</tr>
															</tbody>
														</table>
													</dd>
												</dl>
												<p id="repl_id">
													<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
												</p>
											</div>
											<!-- Multi-Pallet - WW Express Freight -->
											<div id="pnl_5_3">
													<dl role="presentation">
														<dt>
															<label id="repl_id" for="repl_id"> <a class="btnlnkR helpIconR" href="javascript:repl_function('repl_href')">Packaging Type:</a> </label>
														</dt>
														<dd>
															<select name="repl_name" id="repl_id" class="formcol5">
																<option value="" selected>Pallet</option>
																<option value="">Other Packaging</option>
															</select>
															<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
													</dl>	
													<p id="repl_id">
													<input name="repl_name" type="button" id="repl_id" class="btnlnkL sortDownMini" value="Copy To All">
												</p>					
											</div>
										</div>
									</div>
									<!-- End Section Body --> 
									<!-- Begin Section Footer --><!-- End Section Footer --> 
								</div>
								
								<!-- /////////////////////////////////////////////////////// --> 
								<!-- //// End Section Module - PACKAGE/PALLET 2         //// --> 
								<!-- /////////////////////////////////////////////////////// -->
								
								<p id="repl_id">
									<input name="repl_name" type="button" id="repl_id" class="btnlnkL plusMini" value="Add One Package">
								</p>
							</div>
							<!-- End Application Body --> 
							<!-- Begin Application Footer -->
							<div class="appFooter"> 
								<!-- Begin Button Bar Row -->
								<div class="btnBar">
									<input name="repl_name" type="button" id="repl_id" value="Back" class="btnBackArw">
									<!--** ER1401 cancel shipment button behavior **-->
									<input name="repl_name" type="button" id="repl_id" value="Cancel Shipment" class="btn">
									<!--** ER1401 End cancel shipment button behavior **-->
									<input name="repl_name" type="submit" id="repl_id" value="Next" class="btnArw">
								</div>
								<!-- End Button Bar Row --> 
							</div>
							<!-- End Application Footer --> 
							
						</div>
						<!-- End Application Module -->
						<div align="center" class="cobrand"><br>
							Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
					</form>
				</div>
				<!-- /applicationArea --> 
<!------------- -- -------------->
<!-- BEGINNING OF DYNAMIC PANEL ->
<!------------------------------->
<div id="select_pnl_1" >
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_1">Header:</label></dt>
		<dd>
			<select id="dyn_pnl_select_1" class="formcol5">
				<option value="1">Packages</option>
				<option value="2">Pallets</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_2" style="margin-top:4em; margin-bottom:3em">
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_2">Header:</label></dt>
		<dd>
			<select id="dyn_pnl_select_2" class="formcol5">
				<option value="1">Packages</option>
				<option value="2">Pallets</option>
			</select>
		</dd>
	</dl>
</div>

<div id="select_pnl_3"  style="margin-top:6em; margin-bottom:3em">
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_3">Multi-Package/Pallet Modules <br> For Package/Pallet 1:</label></dt>
		<dd>
			<select id="dyn_pnl_select_3" class="formcol5">
				<option value="" disabled>-- Campus Shipping Only--</option>
				<option value="1">Multi-Package - Default</option>
				<option value="2">Multi-Package - Lithium Battery Checkboxes Example</option>
				<option value="3">Multi-Pallet - WW Express Freight</option>
				<option value="4">Package Edit Fields - Other Packaging</option>		
				<option value="5">Package Edit Fields - Other Packaging - DE Package Entry</option>						
				<option value="9">Package Edit Fields - Other Packaging (2)</option>		
				<option value="10">Package Edit Fields - Other Packaging - DE Package Entry (2)</option>
				<option value="11">Delivery Options - Verbal Confirmation (2)</option>	
				<option value="12">Pkg Dim / Dim Weight - Default (2)</option>	
				<option value="13">Pkg Dim / Dim Weight - Dimensional Weight (2)</option>

				<option value="" disabled>-- Campus Shipping and Internet Shipping --</option>
				<option value="6">Delivery Options - Verbal Confirmation</option>	
				<option value="7">Pkg Dim / Dim Weight - Default</option>	
				<option value="8">Pkg Dim / Dim Weight - Dimensional Weight</option>	
				
				<option value="" disabled>-- Internet Shipping Only--</option>
				<option value="14">Multi-pkg Module 1 - Default</option>
				<option value="15">Multi-pkg - Lithium Battery Checkbox Example</option>
				<option value="16">Multi-pkg Module 1 - Unregistered User</option>
				<option value="17">Package Edit Fields - Other Packaging</option>
				<option value="18">Package Edit Fields - Other Packaging - DE Package Entry</option>
				<option value="19">Package Edit Fields - Ground Freight Pricing</option>
				<option value="20">Package Edit Fields - COD example</option>	
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_4" style="margin-top:1em">
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_4">Header:</label></dt>
		<dd>
			<select id="dyn_pnl_select_4" class="formcol5">
				<option value="1">Packages</option>
				<option value="2">Pallets</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_5"  style="margin-top:3em">
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_5">Multi-Package/Pallet Modules <br> For Package/Pallet 2:</label></dt>
		<dd>
			<select id="dyn_pnl_select_5" class="formcol5">
				<option value="" disabled>-- Campus Shipping --</option>
				<option value="1">Multi-Package - Default</option>
				<option value="2">Multi-Package - Lithium Battery Checkboxes Example</option>
				<option value="3">Multi-Pallet - WW Express Freight</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_6">
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_6">Raw Wood Guidelines:</label></dt>
		<dd>
			<select id="dyn_pnl_select_6" class="formcol5">
				<option value="1">Don't Appear</option>
				<option value="2">Appear</option>
			</select>
		</dd>
	</dl>
</div>
<div id="select_pnl_7">
	<dl role="presentation">
		<dt><label for="dyn_pnl_select_7">Addt'l Shipping Opts and Services:</label></dt>
		<dd>
			<select id="dyn_pnl_select_7" class="formcol5">
				<option value="1">C.O.D. Cash Only</option>
				<option value="2">C.O.D. Check or Money Order Only</option>
			</select>
		</dd>
	</dl>
</div>
