---
title: cam_shi_shi(1add)_his(2err)
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod">
              <fieldset>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id">{application header}</h2>
                </div>
                <!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p class="error">{&gt;&gt;&gt;error message.}</p>
                  <p>{paragraph text. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.}</p>
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"> <span class="stepNumber">{1}</span> </div>
                        <h3 id="repl_id">{section header}</h3>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody clearfix">
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id">{language:}</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="" selected>{english}</option>
                            </select>
                          </dd>
                        </dl>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"> <span class="stepNumber">{2}</span> </div>
                        <h3 id="repl_id">{section header}</h3>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <dl class="group">
                          <dt>
                            <label id="repl_id" for="repl_id">{address book label:}</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="">{my profile address}</option>
                            </select>
                            <span class="indent">-- or enter a new address below --</span> </dd>
                        </dl>
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id" class="error">{&gt;&gt;&gt;company or name:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32" value="{compant/Name}"}>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{contact:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32" value="{contact Name}">
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{country or territory:}</label>
                              </dt>
                              <dd>
                                <select name="" size="1" id="repl_id">
                                  <option value="">{select a country or territory}</option>
                                  <option selected>{country or territory}</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{address line 1:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32" value="{address}">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{address line 2:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <div class="reqTxtInst">{instructional text}</div>
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{address line 3:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <div class="reqTxtInst">{instructional text}</div>
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginEnd">
                            <dl class="group">
                              <dt>
                                <label id="repl_id" for="repl_id" class="error">{&gt;&gt;&gt;city:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" value="{city}" size="32">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> 
                                
                                <!-- --------------------------------------------------------- --> 
                                <!-- UIS Service Validation --> 
                                <!-- --------------------------------------------------------- --> 
                                
                                <!-- combo box -->
                                <div class="combobox" id="repl_id">
                                  <input type="text" onClick="cbToggle(this);" class="comboboxTextInput">
                                  <a onClick="cbToggle(this);" href="javascript:void(0);" class="comboboxAnchor"><img alt="" src="/img/1.gif" class="imgButton comboboxIcon"></a><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> 
                                  <!-- br needed for IE 6 --><br>
                                  <select style="display:none;" size="10" onChange="cbSelect(this);" class="comboboxSelectInput">
                                    <option>Option One</option>
                                    <option>Option Two</option>
                                    <option>Option Three</option>
                                    <option>Option Four</option>
                                    <option>Option Five</option>
                                    <option>Option Six</option>
                                    <option>Option Seven</option>
                                    <option>Option Eight</option>
                                    <option>Option Nine</option>
                                    <option>Option Ten</option>
                                    <option>Option Eleven</option>
                                    <option>Option Twelve</option>
                                    <option>Option Thirteen</option>
                                  </select>
                                </div>
                                <!-- END combo box --> 
                                
                                <!-- --------------------------------------------------------- --> 
                                <!-- END Service Validation --> 
                                <!-- --------------------------------------------------------- --> 
                                
                              </dd>
                              
                              <!-- --------------------------------------------------------- --> 
                              <!-- UIS Service Validation --> 
                              <!-- --------------------------------------------------------- -->
                              <dt>
                                <label id="repl_id" for="repl_id">{metro area:}</label>
                              </dt>
                              <dd> 
                                <!-- combo box -->
                                <div class="combobox" id="repl_id">
                                  <input type="text" onClick="cbToggle(this);" class="comboboxTextInput">
                                  <a onClick="cbToggle(this);" href="javascript:void(0);" class="comboboxAnchor"><img alt="" src="/img/1.gif" class="imgButton comboboxIcon"></a><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> 
                                  <!-- br needed for IE 6 --><br>
                                  <select style="display:none;" size="10" onChange="cbSelect(this);" class="comboboxSelectInput">
                                    <option>Option One</option>
                                    <option>Option Two</option>
                                    <option>Option Three</option>
                                    <option>Option Four</option>
                                    <option>Option Five</option>
                                    <option>Option Six</option>
                                    <option>Option Seven</option>
                                    <option>Option Eight</option>
                                    <option>Option Nine</option>
                                    <option>Option Ten</option>
                                    <option>Option Eleven</option>
                                    <option>Option Twelve</option>
                                    <option>Option Thirteen</option>
                                  </select>
                                </div>
                                <!-- END combo box --> 
                              </dd>
                              <!-- --------------------------------------------------------- --> 
                              <!-- END UIS Service Validation --> 
                              <!-- --------------------------------------------------------- --> 
                              
                              <!-- --------------------------------------------------------- --> 
                              <!-- ECS Service Validation --> 
                              <!-- --------------------------------------------------------- -->
                              <dt>
                                <label id="repl_id" for="repl_id">{otheraddress information:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" value="{nnnnnn}" size="15">
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{postal code:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" value="{nnnnnn}" size="15">
                              </dd>
                              <!-- --------------------------------------------------------- --> 
                              <!-- END ECS Service Validation --> 
                              <!-- --------------------------------------------------------- -->
                              
                              <dt>
                                <label id="repl_id" for="repl_id">{state:}</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="">{select one}</option>
                                  <option value="" selected>{state}</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{zip code:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" value="{nnnnnn}" size="15">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            </dl>
                            <fieldset>
                              <dl class="flexFirst group">
                                <dt>
                                  <label id="repl_id" for="repl_id">{telephone:}</label>
                                </dt>
                                <dd>
                                  <input name="" type="text" id="repl_id" value="{nnn-nnn-nnnn}" size="15">
                                </dd>
                              </dl>
                              <dl class="flexAfter group">
                                <dt>
                                  <label id="repl_id" for="repl_id">{ext.:}</label>
                                </dt>
                                <dd>
                                  <input name="" type="text" id="repl_id" size="5">
                                </dd>
                              </dl>
                            </fieldset>
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">{e-mail:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                        <div class="hr"><img alt="" border="0" width="1" height="1" src="/img/1.gif" ></div>
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">save options for address:</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="" selected>select one</option>
                                </select>
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginEnd">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">save this to my address book as:</label>
                              </dt>
                              <dd>
                                <input type="text" name="" id="repl_id" value="{address book name}">
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                        <p><strong>note:</strong> {note text.}</p>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End section Module --> 
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <div class="stepNumberDiv"> <span class="stepNumber">{3}</span> </div>
                        <h3 id="repl_id">{section header}</h3>
                      </div>
                      <!-- End Section Header --> 
                      
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class="sel"><input name="" type="checkbox" id="repl_id" value=""></td>
                            <td><label id="repl_id" for="repl_id" class="sel">{use the ship form address text.}</label></td>
                          </tr>
                        </table>
                        <dl>
                          <dt>
                            <label id="repl_id" for="repl_id">{address book label:}</label>
                          </dt>
                          <dd>
                            <select name="" id="repl_id">
                              <option value="">{address book name}</option>
                            </select>
                            <span class="indent">-- or enter a new address below</span> </dd>
                        </dl>
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">{company or name:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32" value="{compant/Name}"}>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{contact:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32" value="{contact Name}">
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{country or territory:}</label>
                              </dt>
                              <dd>
                                <select name="" size="1" id="repl_id">
                                  <option value="">{select a country or territory}</option>
                                  <option selected>{country or territory}</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{address line 1:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32" value="{address}">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{address line 2:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <div class="reqTxtInst">{instructional text}</div>
                              </dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{address line 3:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32">
                                <div class="reqTxtInst">{instructional text}</div>
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginEnd">
                            <dl class="group">
                              <dt>
                                <label id="repl_id" for="repl_id">{city:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32" value="{city}">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{state:}</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="" selected>{state}</option>
                                </select>
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                              <dt>
                                <label id="repl_id" for="repl_id">{zip code:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="15" value="{nnnnn}">
                                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                            </dl>
                            <fieldset>
                              <dl class="flexFirst group">
                                <dt>
                                  <label id="repl_id" for="repl_id">{telephone:}</label>
                                </dt>
                                <dd>
                                  <input name="" type="text" id="repl_id" size="15" value="{nnn-nnn-nnnn}">
                                </dd>
                              </dl>
                              <dl class="flexAfter group">
                                <dt>
                                  <label id="repl_id" for="repl_id">{ext.:}</label>
                                </dt>
                                <dd>
                                  <input name="" type="text" id="repl_id" size="5" value="">
                                </dd>
                              </dl>
                            </fieldset>
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">{e-mail:}</label>
                              </dt>
                              <dd>
                                <input name="" type="text" id="repl_id" size="32" value="{email Address}">
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                        <div class="hr"><img alt="" border="0" width="1" height="1" src="/img/1.gif" ></div>
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">save options for address:</label>
                              </dt>
                              <dd>
                                <select name="" id="repl_id">
                                  <option value="" selected>select one</option>
                                </select>
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginEnd">
                            <dl>
                              <dt>
                                <label id="repl_id" for="repl_id">save this to my address book as:</label>
                              </dt>
                              <dd>
                                <input type="text" name="" id="repl_id" value="">
                              </dd>
                            </dl>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                      </div>
                      <!-- End Section Body --> 
                      
                      <!-- Begin Section Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row -->
                  <div class="btnBar">
                    <input name="" type="button" id="repl_id" value="{reset}" class="btn">
                    <input name="" type="button" id="repl_id" value="{cancel}" class="btn">
                    <input name="" type="submit" id="repl_id" value="{update}" class="btn">
                  </div>
                  <!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 
