---
title: batch file shipping
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 mod"> 
              <!-- Begin Application Header -->
              <div class="appHead clearfix">
                <h2 id="repl_id">begin your batch file shipment</h2>
                <ul>
                  <li><a id="repl_id" href="repl_href" class="btnlnkR helpiconR">help link</a></li>
                </ul>
              </div>
              <!-- End Application Header --> 
              
              <!-- Begin Application Body -->
              <div class="appBody clearfix">
                <p class="error">&gt;&gt;&gt;error message.</p>
                <p>please enter your shipping info paragraph text. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
                    <h3 id="repl_id">upload batch file header</h3>
                  </div>
                  <!-- End Section Header --> 
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>enter your <a id="repl_id" href="repl_href" class="btnlnkR helpIconR">batch file</a> path and or select <strong>browse</strong>text.</p>
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id" class="error">&gt;&gt;&gt;file name or path error example label:</label>
                      </dt>
                      <dd>
                        <input name="" type="file" id="repl_id">
                        <!--<input name="" type="button" id="repl_id" value="Browse" class="btn">--><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                    </dl>
                  </div>
                  <!-- End Section Body --> 
                  <!-- Begin Setion Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
                    <h3 id="repl_id">ship from header</h3>
                  </div>
                  <!-- End Section Header --> 
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginBegin">
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">ship from address label:</label>
                          <a id="repl_id" href="repl_href">edit link</a> </dt>
                        <dd id="repl_id">company name<br>
                          address line 1<br>
                          city, state zip<br>
                          telephone: NNN-NNN-NNNN </dd>
                      </dl>
                    </div>
                    <!-- End Column --> 
                    
                    <!-- Begin Column -->
                    <div class="subcol9 marginEnd">
                      <p>if the shipment is undelivererable text:</p>
                      <dl>
                        <dt>
                          <label id="repl_id" for="repl_id">contact label:</label>
                        </dt>
                        <dd>
                          <input name="" type="text" id="repl_id" value="{profile address}">
                        </dd>
                        <dt>
                          <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">return address label:</a></label>
                        </dt>
                        <dd>
                          <select name="" id="repl_id">
                            <option value="" selected>same as [ship from]</option>
                          </select>
                        </dd>
                      </dl>
                    </div>
                    <!-- End Column --> 
                    
                  </div>
                  <!-- End Section Body --> 
                  <!-- Begin Setion Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Module --> 
                
                <!-- Begin Section Module -->
                <div class="secLvl step clearfix"> 
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <div class="stepNumberDiv"><span class="stepNumber">3</span></div>
                    <h3 id="repl_id">payment information header</h3>
                  </div>
                  <!-- End Section Header --> 
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p>please enter your payment paragraph text. the information you enter will paragraph text. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                    <dl>
                      <dt>
                        <label id="repl_id" for="repl_id"><a id="repl_id" href="repl_href" class="btnlnkR helpIconR">bill shipping charges to label:</a></label>
                      </dt>
                      <dd>
                        <select name="" id="repl_id">
                          <option value="" selected>select one</option>
                          <option value="">Select One</option>
                        </select>
                        <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                    </dl>
                    <!--** Promotion Code un-registered user **-->
                    <div class="clearfix">
                      <dl>
                        <!--** New UIS ER1415 **-->
                        <dt>
                          <label for="repl_id"><span class="error">&gt;&gt;&gt;Promotion Code:</span></label>
                        </dt>
                        <dd>
                          <input type="text" name="repl_name" id="repl_id" value="SHIPTOUS48">
                          <a href="Repl_href">Remove Code</a> </dd>
                        <!--** UIS ER1415 **-->
                      </dl>
                      <!--** New UIS ER1415 **-->
                      <p> Recieve 40% off a ground shipment within the continental United States.<br>
                        <a href="repl_href">Read Promotion Terms and Conditions</a> </p>
                      <!--** UIS ER1415 **--> 
                    </div>
                    <!--** End Promotion Code Un-registered user **--> 
                  </div>
                  <!-- End Section Body --> 
                  <!-- Begin Setion Footer --><!-- End Section Footer --> 
                </div>
                <!-- End Module -->
                
                <p>by selecting the <strong>next</strong> button, i agree to the <a href="" class="btnlnkR newwindowIconR">term and conditions</a>.</p>
              </div>
              <!-- End Application Body --> 
              
              <!-- Begin Application Footer -->
              <div class="appFooter"> 
                <!-- Begin Button Bar Row -->
                <div class="btnBar">
                  <input name="" type="button" id="repl_id" value="start over" class="btn">
                  <input name="" type="submit" id="repl_id" value="next" class="btnArw">
                </div>
                <!-- End Button Bar Row --> 
              </div>
              <!-- End Application Footer --> 
            </div>
            <!-- End Application Module -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 
      
      