---
title: cam_res
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            
            <!-- Begin Application Module -->
            <div class="appLvl col18 appLvlPlain">
              <fieldset>
                <!-- Begin Application Header --><!-- End Application Header --> 
                
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p>{the resources links below paragraph text.}</p>
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3 id="repl_id">{general resources header}</h3>
                      </div>
                      <!-- End Section Header --> 
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <p>{<a id="repl_id" href="repl_href">ups tracking link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">ups locations link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">schedule a pickup link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">order supplieslink</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">packaging advisor link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">ups customer service link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">legal agreement link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">ups campusship support link</a>}</p>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginEnd">
                            <label id="repl_id" for="repl_id">{<a id="repl_id" href="repl_href">ups tradeability<sup>tm</sup> international tools label link</a>}</label>
                            <ul class="lstBullet">
                              <li>{screen for denied parties}</li>
                              <li>{find hamonized codes}</li>
                              <li>{estimate landed cost}</li>
                              <li>{detect export licenses}</li>
                              <li>{check import compliance}</li>
                              <li>{access international forms}</li>
                            </ul>
                            <label id="repl_id" for="repl_id">{other features label}</label>
                            <ul class="lstBullet">
                              <li>{create and manage a product list}</li>
                              <li>{view your transaction history}</li>
                            </ul>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                      </div>
                      <!-- End Section Body --> 
                      <!-- Begin Setion Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3 id="repl_id">{freight resources header}</h3>
                      </div>
                      <!-- End Section Header --> 
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <fieldset>
                          <!-- Begin Column -->
                          <div class="subcol9 marginBegin">
                            <p>{<a id="repl_id" href="repl_href">create a freight shipment link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">view freight history link</a>}</p>
                          </div>
                          <!-- End Column --> 
                          
                          <!-- Begin Column -->
                          <div class="subcol9 marginEnd">
                            <p>{<a id="repl_id" href="repl_href">manage commodity list link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">schedule freight pickup link</a>}</p>
                            <p>{<a id="repl_id" href="repl_href">view freight pickup history link</a>}</p>
                          </div>
                          <!-- End Column -->
                        </fieldset>
                      </div>
                      <!-- End Section Body --> 
                      <!-- Begin Setion Footer --><!-- End Section Footer -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                </div>
                <!-- End Application Body --> 
                
                <!-- Begin Application Footer --><!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
</div>
      