---
title: PayPal Details
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            <!--** Begin App Module**-->
            <div class="appLvl col18 mod"> 
              <!--** Begin Application Header **-->
              <div class="appHead clearfix">
                <h2 id="repl_id">Modify PayPal</h2>
              </div>
              <!--** End Application Header **--> 
              <!--** Begin App Body Module**-->
              <div class="appBody"> 
                <!--** Begin Section Module** -->
                <div class="secLvl clearfix">
                  <fieldset>
                    <legend>repl_legend</legend>
                    
                    <!--** Begin Section Body **-->
                    <div class="secBody clearfix">
                      <p> You may modify the nickname of this PayPal account. </p>
                      <dl>
                        <dt>
                          <label for="repl_id">PayPal Nickname:</label>
                        </dt>
                        <dd>
                          <input type="text" id="repl_id" name="repl_name" class="formcol6" value="PayPal">
                        </dd>
                      </dl>
                    </div>
                    <!--** End Section Body **-->
                    
                  </fieldset>
                </div>
                <!--** End Section Module **--> 
              </div>
              <!--** End App Body Module **--> 
              <!--** Begin Application Footer **-->
              <div class="appFooter"> 
                <!--** Begin Button Bar Row **-->
                <div class="btnBar">
                  <input name="repl_name" type="button" id="repl_id" value="Cancel" class="btn">
                  <input name="repl_name" type="button" id="repl_id" value="Remove PayPal Account" class="btn">
                  <input name="repl_name" type="submit" id="repl_id" value="Update" class="btn">
                </div>
                <!--** End Button Bar Row **--> 
              </div>
              <!--** End Application Footer **--> 
            </div>
            <!--** End App Body Module **-->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 
