---
title: page title
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          <form action="repl_fname">
            <!-- Begin Application Module --> 
            
            <!-- Begin SubTabs -->
            <ul class="subTab clearfix">
              <li class="tab-on">Package</li>
              <li class="tab-off"><a href="repl_href">Freight</a></li>
            </ul>
            <!-- End SubTabs --> 
            
            <!-- USE Class="tab" for tab application display or use class="mod" for default application display --> 
            <!-- ECS no tabs, UIS Tabs -->
            <div class="appLvl col18 tab">
              <fieldset>
                <legend>repl_legend</legend>
                <!-- Begin Application Header -->
                <div class="appHead clearfix">
                  <h2 id="repl_id2">application header</h2>
                  <ul>
                    <li><a id="repl_id3" href="repl_href" class="btnlnkR helpIconR">help</a></li>
                  </ul>
                </div>
                <!-- End Application Header --> 
                <!-- Begin Application Body -->
                <div class="appBody clearfix">
                  <p id="repl_id4" class="error">&gt;&gt;&gt;error message.</p>
                  <p id="repl_id5">paragraph text. required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                  <dl class="outHozFlex clearfix">
                    <dt><span class="label">shipping ticket id:</span></dt>
                    <dd><b>12345678901234567890</b></dd>
                  </dl>
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <legend>repl_legend</legend>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3>repl{address information}</h3>
                      </div>
                      <!-- End Section Header --> 
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <div class="subcol9 marginBegin">
                          <dl>
                            <dt> <span class="label">ship to:</span> </dt>
                            <dd id="repl_id"> [test name]<br>
                              [cim group qv company]<br>
                              [640 winters ave]<br>
                              [PARAMUS, NJ 07652]<br>
                            </dd>
                          </dl>
                        </div>
                        <div class="subcol9 marginEnd">
                          <dl>
                            <dt> <span class="label">shipper:</span> </dt>
                            <dd id="repl_id110"> [shipper name]<br>
                              [cim group qv company]<br>
                              [640 winters ave]<br>
                              [PARAMUS, NJ 07652]<br>
                            </dd>
                          </dl>
                          <dl class="outHozFlex">
                            <dt> <span class="label">prepared by:</span> </dt>
                            <dd> [test name] </dd>
                            <dt> <span class="label">phone number:</span> </dt>
                            <dd> [phone number] </dd>
                            <dt> <span class="label">email:</span> </dt>
                            <dd> [test@ups.com] </dd>
                          </dl>
                        </div>
                      </div>
                      <!-- End Section Body -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <legend>repl_legend</legend>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3>repl{package information}</h3>
                      </div>
                      <!-- End Section Header --> 
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <fieldset>
                          <legend>repl_legend</legend>
                          <b>package n of n</b>
                          <dl class="outHozFlex">
                            <dt> <span class="label sel">package type:</span> </dt>
                            <dd> [my packaging] </dd>
                            <dt> <span class="label sel">actual weight:</span> </dt>
                            <dd>
                              <input type="text" name="repl_name">
                              [lb] <span class="indent">
                              <input type="button" class="btn" value="weight it" name="repl_name">
                              </span> </dd>
                          </dl>
                        </fieldset>
                        <fieldset>
                          <legend>repl_legend</legend>
                          <b>package n of n</b>
                          <dl class="outHozFlex">
                            <dt> <span class="label sel">package type:</span> </dt>
                            <dd> [my packaging] </dd>
                            <dt> <span class="label sel">actual weight:</span> </dt>
                            <dd>
                              <input type="text" name="repl_name">
                              [lb] <span class="indent">
                              <input type="button" class="btn" value="weight it" name="repl_name">
                              </span> </dd>
                          </dl>
                        </fieldset>
                      </div>
                      <!-- End Section Body -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  <!-- Begin Section Module -->
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <legend>repl_legend</legend>
                      <!-- Begin Section Header -->
                      <div class="secHead clearfix">
                        <h3>repl{pickup information}</h3>
                      </div>
                      <!-- End Section Header --> 
                      <!-- Begin Section Body -->
                      <div class="secBody">
                        <fieldset>
                          <legend>repl_legend</legend>
                          <table>
                            <tr>
                              <td colspan="2"><span class="label">smart pickup status:</span></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td colspan="2"><p>a <a href="repl_href" class="btnlnkR helpIconR">smart pickup</a> <b>has been requested</b> for this <a href="repl_href" class="btnlnkR helpIconR">ups account's pickup location</a> for repl{today's date}.</p></td>
                            </tr>
                            <tr>
                              <td colspan="2"><span class="label">pickup options:</span></td>
                            </tr>
                            <tr>
                              <td class="sel"><input type="radio" name="repl_name" id="repl_id101" value="" class="sel"></td>
                              <td><label id="repl_id102" for="repl_id101" class="sel">include this shipment with the {repl day of week, mm/dd/yyyy} smart pickup. no further action is needed.</label></td>
                              <td><p>if submitted before notify time on {repl day of week, mm/dd/yyyy}, a ups driver will visit this ups account's pickup location {repl day of week, mm/dd/yyyy}}</p></td>
                            </tr>
                            <tr>
                              <td class="sel"><input type="radio" name="repl_name" id="repl_id103" value=""></td>
                              <td><label id="repl_id104" for="repl_id103" class="sel">find a ups location near you.</label></td>
                              <td> {company or name}<br>
                                {address line 1}<br>
                                {city}, {state} {zip code}<br>
                                {country or territory} </td>
                            </tr>
                          </table>
                        </fieldset>
                      </div>
                      <!-- End Section Body -->
                    </fieldset>
                  </div>
                  <!-- End Section Module --> 
                  
                  <!-- begin JAN 12 --> 
                  <!-- begin Shipping Ticket -->
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id105" checked="checked"></td>
                      <td><label for="repl_id105" class="sel"> <a href="repl_href" class="btnlnkR helpIconR">process as a paperless shipment</a> </label></td>
                    </tr>
                  </table>
                  <!-- end Shipping Ticket --> 
                  <!-- end JAN 12 -->
                  
                  <p>by selecting the <b>ship now</b> button, i agree to the <a href="repl_href" class="btnlnkR newWindowIconR">terms and conditions</a>. 
                </div>
                <!-- End Application Body --> 
                <!-- Begin Application Footer -->
                <div class="appFooter"> 
                  <!-- Begin Button Bar Row -->
                  <div class="btnBar">
                    <input name="repl_fname" type="button" id="repl_id200" value="repl{cancel shipment}" class="btn">
                    <input name="repl_fname" type="button" id="repl_id201" value="repl{save shipping ticket}" class="btn">
                    <input name="repl_fname" type="submit" id="repl_id203" value="repl{ship now}" class="btnArw">
                  </div>
                  <!-- End Button Bar Row --> 
                </div>
                <!-- End Application Footer -->
              </fieldset>
            </div>
            <!-- End Application Module -->
            <div align="center" class="cobrand"><br>
              Company Support: &nbsp;&nbsp; 678-585-1321 &nbsp;&nbsp;<a id="repl_id204" href="mailto:test@ups.com">test@ups.com</a></div>
          </form>
        </div>
        <!-- /applicationArea --> 
        <!-- Begin IC DEVELOPMENT USE ONLY --> 
