---
title: View Package History or Void Shipment
layout: legacy.hbs
version: v4
appID: com.ups.ECS
appCSS: ups.legacy_overrideECS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
        <form action="repl_fname">
          
          <!-- Begin SubTabs -->
          <ul class="subTab clearfix">
            <li class="tab-on">Package</li>
          </ul>
          <!-- End SubTabs --> 
          <!-- Begin Application Module -->
          <div class="appLvl col18 clearfix tab">
          <!-- Begin Application Header -->
          <div class="appHead clearfix">
            <h2>Shipment Details</h2>
            <ul>
              <li><a href="repl_href" class="btnlnkR helpiconR">Help</a></li>
            </ul>
          </div>
          <!-- End Application Header --> 
          <!-- Begin Application Body -->
          <div class="appBody clearfix">
            <p>This page shows the shipment history details for the shipment you selected.</p>
            <p class="error">{Voided Shipment text.}</p>
            <dl class="outHozFixed1 clearfix">
              <dt><span class="label">pickup request number:</span></dt>
              <dd>{pickup request number}</dd>
              <dt><span class="label">service:</span></dt>
              <dd> {ups service}</dd>
            </dl>
            <dl class="outHozFixed1 clearfix">
              <dt>
                <label for="repl_id">shipping to research lab:</label>
              </dt>
              <dd>[location name]<br>
                [address 1]<br>
                [city], [other]<br>
                [country or territory]<br>
                <br>
                <a href="">reprint commercial invoice</a></dd>
            </dl>
            <dl class="outHozFixed1 clearfix">
              <dt>
                <label for="repl_id">descriptions of good:</label>
              </dt>
              <dd>[customer entered value]</dd>
              <dt><span class="label">customs value:</span></dt>
              <dd>[0000.00] [cur]</dd>
            </dl>
            <dl class="outHozFixed1 clearfix">
              <dt>
                <label>Package [1]</label>
              </dt>
            </dl>
            <dl class="outHozFixed1 clearfix">
              <dt>
                <label>Clinical Tiral number:</label>
              </dt>
              <dd>[AA12345678900000000]</dd>
              <dt>
                <label>tracking</label>
              </dt>
              <dd>[1ZX00X000000000000]</dd>
              <dt>
                <label>package type:</label></dt>
              <dd>[other packaging]</dd>
              <dt>
                <label>dry ice weight:</label></dt>
              <dd>[00] [kg]</dd>
            </dl>
            <div class="secLvl clearfix step">
              <fieldset>
                <legend>repl_legend</legend>
                <!-- Begin Section Header -->
                <div class="secHead clearfix">
                  <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
                  <h3 id="repl_id13">{printing preferences header}</h3>
                </div>
                <!-- End Section Header --> 
                
                <!-- Begin Section Body -->
                <div class="secBody">
                  <fieldset>
                    <legend>repl_legend</legend>
                    <table>
                      <tr>
                        <td scope="row"><input name="repl_name01" type="checkbox" value="" id="repl_id14"></td>
                        <td class="alignTop"><label for="repl_id14" class="sel">{print instructions selection}</label></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><fieldset>
                            <legend>repl_legend</legend>
                            <table>
                              <tr>
                                <td scope="row"><input name="repl_name02" type="radio" value="" id="repl_id15"></td>
                                <td><label for="repl_id15" class="sel">{on each selection}</label></td>
                              </tr>
                              <tr>
                                <td scope="row" class="alignTop"><input name="repl_id16" type="radio" value="" id="repl_id16"></td>
                                <td><label for="repl_id16" class="sel">{on first selection}</label>
                                  <div class="reqTxtInst">{international instructional text}</div></td>
                              </tr>
                            </table>
                          </fieldset></td>
                      </tr>
                      <tr>
                        <td scope="row" class="alignTop"><input name="repl_name03" type="checkbox" value="" id="repl_id17"></td>
                        <td><label for="repl_id17" class="sel">{use my thermal to print labels selection}</label></td>
                      </tr>
                    </table>
                    <br>
                  </fieldset>
                </div>
                <!-- End Section Body -->
                
              </fieldset>
            </div>
          </div>
          <!-- Begin Application Footer -->
          <div class="appFooter"> 
            <!-- Begin Button Bar Row -->
            <div class="btnBar">
              <input name="repl_name5" type="button" id="repl_btn_id01" value="{back to shipping history}" class="btn">
              <input name="repl_name6" type="submit" id="repl_btn_id02" value="{view/print label}" class="btn">
            </div>
            <!-- End Button Bar Row --> 
          </div>
          </div>
          <!-- End Application Footer -->
        </form>
      </div>
