---
title: ct1_pnl_shi
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
          
          <!-- Accordion -->
          <div class="RIF_Accordion" id="a1">
            <div class="RIF_Panel" id="p1">
              <div class="RIF_Content"> 
                <!-- Accordion -->
                
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td><fieldset>
                        <legend>{create a shipment}</legend>
                        <form>
                          
                          <!-- Begin Module -->
                          <div id="repl_id" class="">
                            <div class="modContent"> 
                              
                              <!-- --> 
                              <!-- --> 
                              <!-- HTML SAMPLED FROM PRODUCTION Jan1, 2010 --> 
                              <!-- --> 
                              <!-- -->
                              
                              <div class="accordCnt1">
                                <dl class="flexFirst">
                                  <dt>
                                    <label for="repl_id">{shipment type:}</label>
                                  </dt>
                                  <dd>
                                    <select onChange="javascript:displayLink();" id="repl_id" name="">
                                      <option selected="" value="">{package/letter}</option>
                                      <option value="">{freight}</option>
                                    </select>
                                  </dd>
                                </dl>
                                <dl class="flexAfter">
                                  <dt>
                                    <label for="repl_id">{weight:}</label>
                                  </dt>
                                  <dd>
                                    <input type="text" value="" maxlength="5" size="5" name="">
                                    <span id="repl_id">{lbs}
                                    <input type="hidden" value="" id="repl_id" name="">
                                    </span> </dd>
                                </dl>
                                <div style="clear: both;"></div>
                                <dl>
                                  <dt>
                                    <label for="repl_id">{ship to:}</label>
                                  </dt>
                                  <dd>
                                    <select id="repl_id" name="" style="width: 100% ! important;">
                                      <option value="">{select one}</option>
                                    </select>
                                  </dd>
                                  <dd>
                                    <div style="position: absolute;" id="repl_id">
                                      <div class="reqTxtInst"><a id="repl_id" href="repl_href">{use another address}</a></div>
                                    </div>
                                    <div style="position: absolute; visibility: hidden;" id="repl_id">
                                      <div class="reqTxtInst"><a id="repl_id" href="repl_href">use another address</a></div>
                                    </div>
                                  </dd>
                                </dl>
                                <dl>
                                  &nbsp;
                                </dl>
                              </div>
                              <!-- COPIED FROM PRODUCTION --> 
                              
                              <!-- COPIED FROM PRODUCTION -->
                              <div class="accordCnt1">
                                <dl>
                                  <dt>
                                    <label for="repl_id">{service:}</label>
                                  </dt>
                                  <dd>
                                    <div id="repl_id">
                                      <select id="repl_id" name="" style="width: 100% ! important;">
                                        <option value="">{select one}</option>
                                      </select>
                                    </div>
                                  </dd>
                                </dl>
                                <div id="repl_id">
                                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tbody>
                                      <tr>
                                        <td valign="top"><input type="checkbox" id="repl_id" value="" name=""></td>
                                        <td valign="top"><label for="formbean.shipping.displayPreviewPage" class="sel">{review details before completing shipment.}</label></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!-- COPIED FROM PRODUCTION -->
                              
                              <div style="clear:both;"></div>
                              
                              <!-- COPIED FROM PRODUCTION -->
                              <p class="marginEnd">
                                <input type="button" value="{ship}" onClick="javascript:void(0);" class="btnArw">
                              </p>
                              <div class="hr">&nbsp;</div>
                              <p> <span class="btnlnkL arrowmini"><img height="12" border="0" width="12" alt="" src="/img/1.gif"></span><a id="repl_id" href="repl_href">{shipping history}</a> <br>
                                <span class="btnlnkL arrowmini"><img height="12" border="0" width="12" alt="" src="/img/1.gif"></span><a id="repl_id" href="repl_href">shipping preferences}</a> <br>
                                <span class="btnlnkL arrowmini"><img height="12" border="0" width="12" alt="" src="/img/1.gif"></span><a id="repl_id" href="repl_href">{create a return}</a> <br>
                                <span class="btnlnkL arrowmini"><img height="12" border="0" width="12" alt="" src="/img/1.gif"></span><a id="repl_id" href="repl_href">{create an import}</a> </p>
                            </div>
                          </div>
                          <!-- End Module -->
                          
                        </form>
                      </fieldset></td>
                  </tr>
                </table>
                
                <!-- Accordion --> 
              </div>
            </div>
          </div>
          <!-- Accordion --> 
          
          
 </div>
