---
title: ct1_shi_shi(1add)_his(2pic)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
        <tr>
          <th><div class="head-col4">
              <h2>{module header text}</h2>
              <ul>
                <li class="helpmini"><a href="repl_href">{help link}</a></li>
              </ul>
            </div></th>
        </tr>
        <tr>
          <td valign="top"><div class="introModFixed">
              <p>Paragraph text. Required fields are indicated with <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">.</p>
            </div>
            <div id="step-1" class="stepModFixed4col">
              <div class="stepModHead">
                <h3>{Section Header Text}</h3>
                <div style="clear:both;"></div>
              </div>
              <div class="stepModContent">
                <fieldset>
                  <legend>{Section legend text}</legend>
                  <p>
                    <label>{[US Account NNXNNX] in a [Day Specific Pickup]}</label>
                  </p>
                  <dl>
                    <dt>
                      <label>{When Needed Status Label:}</label>
                    </dt>
                    <dd>{<a href="repl_href">Smart Pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a> request text for <a href="repl_href">location text<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a> for {today's date}}</dd>
                  </dl>
                  <dl>
                    <dt>
                      <label>{Select an Option Label:}</label>
                      <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dt>
                    <dd>
                      <input type="radio" checked>
                      <label class="sel" for="repl_id">{Request a Smart Pickup label text}</label>
                    </dd>
                    <dd class="indent">{If submitted time text}</dd>
                    <dd>
                      <div class="colL">
                        <dl>
                          <dd class="indent">{Company or Name}<br/>
                            {Address Line1}<br/>
                            {City}, {State} {ZIP}<br/>
                            {Country or Territory} </dd>
                        </dl>
                      </div>
                      <div class="colR">
                        <div class="modMsg blu">
                          <div class="modMsgBase">{Paragraph Text}</div>
                        </div>
                      </div>
                      <div style="clear:both;"></div>
                    </dd>
                    <dd>
                      <input type="radio">
                      <label class="sel" for="repl_id">{Schedule label text <a href="repl_href">Pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a>}</label>
                    </dd>
                    <dd>
                      <input type="radio">
                      <label class="sel" for="repl_id">{Find a Location label text}</label>
                    </dd>
                  </dl>
                </fieldset>
              </div>
            </div></td>
        </tr>
        <tr>
          <td class="btn-bar"><div class="btn-col4">
              <input type="submit" value="{Start Over}" class="btn">
              <input type="submit" value="{Next}" class="btn_a">
            </div></td>
        </tr>
      </table>
    </form>
  </div>

