---
title: create a shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
			<form action="repl_fname">
				<!-- Begin SubTabs -->
				<ul class="subTab clearfix">
					<li class="tab-on">Package</li>
					<li class="tab-off"><a href="repl_href">Freight</a></li>
				</ul>
				<!-- End SubTabs --> 
				
				<!-- USE Class="tab" for tab application display or use class="mod" for default application display --> 
				<!-- ECS no tabs, UIS Tabs --> 
				
				<!-- Begin Application Module -->
				<div class="appLvl col18 tab clearfix"> 
					
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2 id="repl_id">select {export} forms</h2>
						<ul>
							<li><a href="repl_href" class="btnlnkR helpiconR">help</a></li>
						</ul>
					</div>
					<!-- End Application Header --> 
					<!-- Begin Application Body -->
					<div class="appBody clearfix">
						<p id="repl_id" class="error">&gt;&gt;&gt;error message place holder.</p>
						<p id="repl_id">use the options below to indicate how you would like to generate export forms for this shipment.</p>
						<p id="repl_id">you can complete the export forms online or let ups help you decide which export forms you need by answering a few questions. you can also review your forms history and reuse previously completed forms for your current shipment.</p>
						
						<!-- Paperless -->
						<fieldset>
							<legend>repl_legend</legend>
							<table class="sel">
								<!--** Begin ER1406 shipment state department checkbox **-->
								<tr>
									<td class="sel"><img src="/img/icn_check.gif" alt="repl_alt" width="9" height="9">
										<input name="repl_name" type="checkbox" value="repl_value" id="repl_id" ></td>
									<td><label for="repl_id" class="sel"> Designate shipment for state department License Filing </label>
										<span style="margin-left:50px;"><a href="repl_href">What's this?</a></span></td>
								</tr>
								<!--** End ER1406 shipment state department checkbox **-->
								<tr>
									<td class="sel"><img src="/img/icn_check.gif" alt="repl_alt" width="9" height="9">
										<input name="repl_name" type="checkbox" value="repl_value" id="repl_id1" checked="checked"></td>
									<td><label for="repl_id1" class="sel"> <a href="repl_href" class="btnlnkR helpIconR">process as paperless shipment</a> </label></td>
								</tr>
								<tr>
									<td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id2" checked></td>
									<td><label for="repl_id4" class="sel">reuse forms from your forms history</label></td>
								</tr>
								
								<!-- Selected Forms Online -->
								<tr>
									<td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id5" checked></td>
									<td><label for="repl_id5" class="sel">complete selected export forms online</label></td>
								</tr>
								<tr>
									<td></td>
									<td><table class="sel">
											
											<!-- Commercial Invoice -->
											<tr>
												<td class="sel"><img src="/img/icn_check.gif" alt="repl_alt" width="9" height="9"></td>
												<td><label class="sel">{commercial invoice} {customs declaration - cn 22}</label>
													(<a href="repl_href" class="btnlnkR helpIconR">ups paperless<sup>SM</sup> invoice</a>) </td>
												
												<!-- //////////////////////////////////////////// --> 
												<!-- Begin Select Export Forms - US - CN22 (1303) -->
												<td><a href="repl_href">view sample</a></td>
												<td><a href="repl_href">print blank</a></td>
												<!-- End Select Export Forms - US - CN22 (1303) --> 
												<!-- ////////////////////////////////////////// --> 
												
											</tr>
										</table></td>
								</tr>
								<tr>
									<td></td>
									<td><table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td class="sel"><input type="checkbox" value="repl_value" name="repl_name01" id="repl_id01"></td>
												<td><label for="repl_id01" class="sel">ups worldwide express freight<sup>sm</sup> packing list</label></td>
												<td> (<a href="repl_href" class="btnlnkR helpIconR">paperless worldwide express freight packing list</a>) </td>
											</tr>
										</table></td>
								</tr>
								<tr>
									<td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id4" checked></td>
									<td><label for="repl_id4" class="sel">reuse forms from your forms history</label></td>
								</tr>
								
								<!-- Selected Forms Online -->
								<tr>
									<td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id5" checked></td>
									<td><label for="repl_id5" class="sel">complete selected export forms online</label></td>
								</tr>
								<tr>
									<td></td>
									<td><table class="sel">
											
											<!-- Commercial Invoice -->
											<tr>
												<td class="sel"><input type="checkbox" name="repl_fname" id="repl_id6" class="" checked></td>
												<td><label class="sel" for="repl_id6">commercial invoice</label></td>
												<td><a href="repl_href">view sample</a></td>
												<td><a href="repl_href">print blank</a></td>
											</tr>
											<tr>
												<td class="sel"><img src="/img/icn_check.gif" alt="" width="9" height="9" class=""></td>
												<td><label class="sel">{paperless} commercial invoice</label></td>
												<td><a href="repl_href">view sample</a></td>
												<td><a href="repl_href">print blank</a></td>
											</tr>
											<!-- --> 
											
											<!-- Packing List -->
											<tr>
												<td class="sel"><input type="checkbox" name="repl_fname" id="repl_id7" class="" checked></td>
												<!--
                                    <td class="alignCenter"><img src="/img/icn_check.gif" alt="" width="9" height="9" class=""></td>									
                                    -->
												<td><label class="sel" for="repl_id7">{paperless} packing list</label></td>
												<td><a href="repl_href">view sample</a></td>
												<td><a href="repl_href">print blank</a></td>
											</tr>
											<!-- --> 
											
											<!-- worldwide express -->
											<tr>
												<td class="sel"><input type="checkbox" name="repl_fname" id="repl_id7" class="" checked></td>
												<!--
                                    <td class="alignCenter"><img src="/img/icn_check.gif" alt="" width="9" height="9" class=""></td>									
                                    -->
												<td><label class="sel" for="repl_id7">worldwide express freight<sup>sm</sup> packing list</label></td>
												<td><a href="repl_href">view sample</a></td>
												<td><a href="repl_href">print blank</a></td>
											</tr>
											<!-- --> 
											
											<!-- Nafta Certificate of Origin -->
											<tr>
												<td class="sel"><input type="checkbox" name="repl_fname" id="repl_id8" class="" checked></td>
												<td><label class="sel" for="repl_id8">nafta certificate of origin</label>
													(<a href="repl_href" class="btnlnkR helpIconR">ups paperless nafta</a>) </td>
												<td><a href="repl_href">view sample</a></td>
												<td><a href="repl_href">print blank</a></td>
											</tr>
											<!-- --> 
											
											<!-- U.S. Certificate of Origin -->
											<tr>
												<td class="sel"><input type="checkbox" name="repl_fname" id="repl_id9" class=""></td>
												<td><label class="sel" for="repl_id9">us certificate of origin</label></td>
												<td><a href="repl_href">view sample</a></td>
												<td><a href="repl_href">print blank</a></td>
											</tr>
											<!-- --> 
											
											<!--** Begin ER1406 EEI **-->
											<tr>
												<td class="sel"><input type="checkbox" name="repl_fname" id="repl_id10" class=""></td>
												<td><label class="sel" for="repl_id10">Electronic Export Information (EEI)</label></td>
												<td><a href="repl_href">view sample</a></td>
												<td><a href="repl_href">print blank</a></td>
											</tr>
											<tr>
												<td></td>
												<td colspan="3"><dl>
														<dt>
															<label for="repl_id11"><a href="repl_href" class="btnlnkR helpIconR">Select EEI Filing Method:</a></label>
														</dt>
														<dd>
															<select id="repl_id11" name="repl_name" class="">
																<option value="repl_value" selected>print and attach my EEI</option>
																<option value="repl_value">select</option>
															</select>
														</dd>
													</dl>
													<p><strong>Note:</strong> To take advantage of this online EEI filing capability in the future, you should register to file electronically at <a href="https://ace.cbp.dhs.gov/" class="btnlnkR newWindowIconR">https://ace.cbp.dhs.gov/</a>. You will then have the information you need to set your EEI Shipping Preferences.</p></td>
											</tr>
											<!--** End ER1406 Change instance SED to EEI **--> 
											
											<!--** Upload Own Forms **-->
											<tr>
												<td class="sel"><input type="checkbox" name="repl_name" id="repl_id12" class=""></td>
												<td colspan="3"><label class="sel" for="repl_id12">i will upload my own forms also</label>
													<span style="margin-left:50px;"><a href="repl_href" class="btnlnkR helpIconR">User-Created Forms Link</a></span></td>
											</tr>
											<!--** **-->
											
										</table></td>
								</tr>
								<!--** **--> 
								
								<!--** Reuse Forms **-->
								<tr>
									<td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id13" checked></td>
									<td><label for="repl_id13" class="sel">reuse forms from <a href="repl_href" class="btnlnkR helpIconR">history</a></label></td>
								</tr>
								<tr>
									<td></td>
									<td><table class="sel">
											<tr>
												<td class="sel"><input type="checkbox" name="repl_fname" id="repl_id14" class=""></td>
												<td><label for="repl_id14" class="sel">i will upload my own forms also</label>
													<span style="margin-left:50px;"><a href="repl_href" class="btnlnkR helpIconR">User-Created Forms Link</a></span></td>
											</tr>
										</table></td>
								</tr>
								<!--** **--> 
								
								<!--** Upload Forms **-->
								<tr>
									<td class="sel"><input type="radio" value="repl_fvalue" name="repl_fname" id="repl_id15"></td>
									<td colspan="2"><label for="repl_id15" class="sel">upload my forms</label>
										<span style="margin-left:50px;"><a href="repl_href" class="btnlnkR helpIconR">User-Created Forms Link</a></span></td>
								</tr>
								<!--** **--> 
								
								<!-- UPS Suggest Forms -->
								<tr>
									<td class="sel"><input type="radio" value="repl_fvalue" name="repl_fname" id="repl_id16"></td>
									<td colspan="2"><label for="repl_id16" class="sel">let ups suggest forms for this shipment</label></td>
								</tr>
								<!-- --> 
								
								<!-- Ship Now - No Export Documents -->
								<tr>
									<td class="sel"><input type="radio" value="repl_fvalue" name="repl_fname" id="repl_id17"></td>
									<td colspan="2"><label for="repl_id17" class="sel">ship now with no export documents {or with documents you supply}</label></td>
								</tr>
								<!-- --> 
								
								<!-- //////////////////////////////////////////// --> 
								<!-- Begin Select Export Forms - US - CN22 (1303) -->
								<tr>
									<td></td>
									<td><table class="sel">
											<tr>
												<td class="sel"><input type="checkbox" name="repl_fname" id="repl_id" class=""></td>
												<td><label for="repl_id" class="sel">i always supply my own printed customs declaration cn 22 form; don't bother me again with online forms for those documents (you can change this in your preferences later if needed.)</label></td>
											</tr>
										</table></td>
								</tr>
								<tr>
									<td class="sel"><input type="radio" value="repl_fvalue" name="repl_fname" id="repl_id17"></td>
									<td colspan="2"><label for="repl_id17" class="sel">ship now with completed export documents</label></td>
								</tr>
								<tr>
									<td></td>
									<td><table class="sel">
											<!-- Commercial Invoice -->
											<tbody>
												<tr>
													<td class="sel"><img width="9" height="9" alt="repl_alt" src="/img/icn_check.gif"></td>
													<td>&nbsp;
														<label class="sel">customs declaration - cn22</label></td>
												</tr>
											</tbody>
										</table></td>
								</tr>
								<!-- End Select Export Forms - US - CN22 (1303) --> 
								<!-- ////////////////////////////////////////// --> 
								
								<!--** Begin ER1411 cancel shipment radio **-->
								<tr>
									<td class="sel"><input type="radio" value="repl_fvalue" name="repl_fname" id="repl_id"></td>
									<td><label for="repl_id" class="sel">Cancel Your Shipment</label></td>
								</tr>
								<!--** End ER1411 cancel shipment radio **-->
								
							</table>
						</fieldset>
					</div>
					<!-- End Application Body --> 
					<!-- Begin Application Footer -->
					<div class="appFooter"> 
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="repl_fname" type="button" id="repl_id18" value="back" class="btn">
							<input name="repl_fname" type="submit" id="repl_id19" value="next" class="btnArw">
						</div>
						<!-- End Button Bar Row --> 
					</div>
					<!-- End Application Footer --> 
				</div>
				<!-- End Application Module -->
				<div class="note col18 marginBegin">
					<h3>adobe reader</h3>
					<p>to view or print this file, you will need the adobe &reg; acrobat &reg; reader or plug-in. if you do not have the adobe acrobat reader or plug-in, select the "get acrobat" icon for further instructions.</p>
					<a href="repl_href"><img width="88" height="31" border="0" src="/img/btn_get_reader.gif" alt=""></a>
					<p>adobe &reg; and adobe acrobat reader &reg; are either trademarks or registered trademarks of adobe systems incorporated in the united states and other countries or territories.</p>
				</div>
				<div class="note col18 marginBegin">
					<p><strong>Note: </strong> Customers submitting a US shipper's Electronic Export Information (EEI) form, please review our important electronic <a href="repl_href">EEI Filing Information</a>. this service is designed for goods whose <a href="repl_href" class="btnlnkR newWindowIconR">origin</a> is the us or puerto rico only.</p>
				</div>
			</form>
		</div>
		<!-- /applicationArea --> 
		
	


