---
title: UPS Service Comparison
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
    <form action="repl_fname">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="popHead">
        <tr>
          <td><img alt="UPS" border="0" height="55" src="/img/glo_ups_brandmark_pfv.gif" width="42"></td>
          <td class="close"><a href="javascript:window.close();"><img alt="" height="14" src="/img/btn_close_mini.gif" width="14" border="0">Close Window</a></td>
        </tr>
      </table>
      
      <table border="0" cellspacing="0" cellpadding="0" class="dataTable border" width="100%">
        <tr>
          <th scope="col">Shipping Option</th>
          <th scope="col">Description</th>
          <th scope="col">Extra Fee?</th>
          <th scope="col">Available for...</th>
        </tr>
        <tr class="odd">
          <td>{Accessorial Name}</td>
          <td>{Description}</td>
          <td>{Yes/Free}</td>
          <td>{Country or Territory}, {Country or Territory}</td>
        </tr>
        <tr>
          <td>{Accessorial Name}</td>
          <td>{Description}</td>
          <td>{Yes/Free}</td>
          <td>{Country or Territory}</td>
        </tr>
        <tr class="odd">
          <td>{Accessorial Name}</td>
          <td>{Description}</td>
          <td>{Yes/Free}</td>
          <td>{Country or Territory}</td>
        </tr>
        <tr>
          <td>{Accessorial Name}</td>
          <td>{Description}</td>
          <td>{Yes/Free}</td>
          <td>{Country or Territory}, {Country or Territory}</td>
        </tr>
        <tr class="odd">
          <td>{Accessorial Name}</td>
          <td>{Description}</td>
          <td>{Yes/Free}</td>
          <td>{Country or Territory}, {Country or Territory}</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="note">
        <tr>
          <td class="close"><a href="javascript:window.close();"><img alt="" height="14" src="/img/btn_close_mini.gif" width="14" border="0">Close Window</a></td>
        </tr>
      </table>
    </form>
  </div>

