---
title: ct1_shi_shi_dlg_register
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
  <form action="repl_fname">
    
    <!-- Begin Application Module -->
    <div class="appLvl col18 mod">
      <fieldset>
        <!-- Begin Application Header -->
        <div class="appHead clearfix">
          <h2>{Application Header}</h2>
          <ul>
            <li><a class="btnlnkR helpIconR" href="repl_href">{Help link text}</a></li>
          </ul>
        </div>
        <!-- End Application Header --> 
        
        <!-- Begin Application Body -->
        <div class="appBody clearfix"> 
          
          <!-- Begin Section Module -->
          <div class="secLvl clearfix">
            <fieldset>
              <!-- Begin Section Header --><!-- End Section Header --> 
              
              <!-- Begin Section Body -->
              <div class="secBody clearfix">
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <select>
                  <option>item1</option>
                </select>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
              </div>
              <!-- End Section Body --> 
              
              <!-- Begin Section Footer --><!-- End Section Footer -->
            </fieldset>
          </div>
          <!-- End Section Module --> 
          
        </div>
        <!-- End Application Body --> 
        
        <!-- Begin Application Footer --><!-- End Application Footer -->
      </fieldset>
    </div>
    <!-- End Application Module -->
    
  </form>
  <!-- /contentArea --> 
</div>
<!-- /applicationArea --> 
<!-- </div> --> 
<!-- </div> --> 
<!-- /c-clamp contentArea container --> 


<!-- Begin Application Module -->
<div class="appLvl mod modal col14 dialog ui-dialog-content ui-widget-content">
  <fieldset>
    <!-- Begin Application Header -->
    <div class="appHead clearfix">
      <h2 id="repl_id">{application header} register</h2>
      <ul class="clearfix">
        <li>
          <input type="button" class="btnlnkL closeIcon" title="Close" id="modalClose">
        </li>
      </ul>
    </div>
    <!-- End Application Header --> 
    <!-- Begin Application Body -->
    <div class="appBody clearfix">
      <p>please review or enter the requested information below to start your registration. required fields are indicated with <img width="11" height="12" border="0" title="Required" class="requiredIcon" src="/img/1.gif" alt=""></p>
      <!-- Begin Section Module -->
      <div class="secLvl seclvlplain seccol7 marginBegin">
        <fieldset>
          <!-- Begin Section Header --> 
          <!-- End Section Header --> 
          <!-- Begin Section Body -->
          <div class="secBody">
            <dl>
              <dt>
                <label for="repl_fid" id="repl_fid">user id:</label>
              </dt>
              <dd>
                <input type="text" value="" id="repl_fid" name="repl_fname" class="formcol6">
                <img width="11" height="12" border="0" title="Required" class="requiredIcon" src="/img/1.gif" alt=""></dd>
              <dt>
                <label for="repl_fid" id="repl_id"><a id="tt_1" href="repl_href" class="infoAnchor btnlnkR helpIconR hozAnchor">password:</a></label>
              </dt>
              <dd>
                <input type="password" value="" id="repl_fid" name="repl_fname" class="formcol6">
                <img width="11" height="12" border="0" title="Required" class="requiredIcon" src="/img/1.gif" alt=""></dd>
              <dt>
                <label for="repl_fid" id="repl_id"><a id="tt_1" href="repl_href" class="infoAnchor btnlnkR helpIconR hozAnchor">re-enter password:</a></label>
              </dt>
              <dd>
                <input type="password" value="" id="repl_fid" name="repl_fname" class="formcol6">
                <img width="11" height="12" border="0" title="Required" class="requiredIcon" src="/img/1.gif" alt=""></dd>
            </dl>
          </div>
          <!-- End Section Body --> 
          <!-- Begin Setion Footer --> 
          <!-- Begin Button Bar Row --> 
          <!-- End Button Bar Row --> 
          <!-- End Section Footer -->
        </fieldset>
      </div>
      <!-- End Section Module --> 
      <!-- Begin Section Module -->
      <div class="secLvl seclvlplain seccol7 marginEnd">
        <fieldset>
          <!-- Begin Section Header --> 
          <!-- End Section Header --> 
          <!-- Begin Section Body -->
          <div class="secBody">
            <dl>
              <dt>
                <label for="repl_fid" id="repl_id">contact name:</label>
              </dt>
              <dd>
                <input type="text" value="repl_fvalue{user data}" id="repl_fid" name="repl_fname" class="formcol6">
                <img width="11" height="12" border="0" title="Required" class="requiredIcon" src="/img/1.gif" alt=""></dd>
              <dt>
                <label for="repl_fid" id="repl_id">e-mail:</label>
              </dt>
              <dd>
                <input type="text" value="repl_fvalue{name@company.com}" id="repl_fid" name="repl_fname" class="formcol6">
                <img width="11" height="12" border="0" title="Required" class="requiredIcon" src="/img/1.gif" alt=""></dd>
            </dl>
          </div>
          <!-- End Section Body --> 
          <!-- Begin Setion Footer -->
          <div class="secFooter"> 
            <!-- Begin Button Bar Row --> 
            <!-- End Button Bar Row --> 
          </div>
          <!-- End Section Footer -->
        </fieldset>
      </div>
      <!-- End Section Module --> 
    </div>
    <!-- End Application Body --> 
    <!-- Begin Application Footer -->
    <div class="appFooter"> 
      <!-- Begin Button Bar Row -->
      <div class="btnBar alignCenter">
        <input type="button" name="repl_fname" value="repl_fvalue{cancel}" class="btn">
        <input type="button" name="repl_fname" value="repl_fvalue{submit}" class="btn">
      </div>
      <!-- End Button Bar Row --> 
    </div>
    <!-- End Application Footer -->
  </fieldset>
</div>
<!-- End Application Module -->
<div id="ttc_bullpen" class="hidden"> 
  <!-- Begin ToolTip Content ID 1-->
  <div id="ttc_tt_1"> 
    <!-- Begin Application Module -->
    <div class="appLvl clearfix">
      <fieldset>
        <!-- Begin Application Header -->
        <div class="appHead"></div>
        <!-- End Application Header --> 
        <!-- Begin Application Body -->
        <div class="appBody clearfix">
          <p><strong>hint: </strong> passwords must contain letters, numbers and special characters. it must include one uppercase letter, one lowercase letter and one special character ($ - _ ! * , .).</p>
        </div>
        <!-- End Application Body --> 
        <!-- Begin Application Footer -->
        <div class="appFooter"> 
          <!-- Begin Button Bar Row --> 
          <!-- End Button Bar Row --> 
        </div>
        <!-- End Application Footer -->
      </fieldset>
    </div>
    <!-- End Application Module --> 
  </div>
  <!-- End ToolTip Content ID 1--> 
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal', width:550});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});	
});
</script> 
<script type="text/javascript">
	function random_color(format){
		var rint = Math.round(0xffffff * Math.random());
	}
	function buildPasswordToolTip(){
		var winWidth = $(window).width();
		var tempWidth = winWidth;
		var thisWidth;
		for(i=1;i<3;i++){
			if(tempWidth < 400){
				thisWidth = tempWidth-151;
				tempWidth = winWidth;
				cat = true;
			} else {
				thisWidth = Math.floor(Math.random()*(300-150+1)) + 150;
				tempWidth -= thisWidth;
				cat = false;
			}
		}
	}
	$(document).ready(function(){
		buildPasswordToolTip();	
		$('.hozAnchor').ictooltip({
			orientation: "horiz",
			tooltipClasses: "col14",
			hoverDelay: 450,
			tooltipID: "horiz_tt"
		});
	});
</script>