---
title: ct1_shi_shi(1rev)_edt(1pay)
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
      <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
        <tr>
          <th><div class="head-col4">
              <h2>{module header text}</h2>
            </div></th>
        </tr>
        <tr>
          <td valign="top"><div class="introModFixed">
              <p>Required fields are indicated with <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">.</p>
            </div>
            <div id="step-1" class="stepModFixed4col">
              <div class="stepModHead">
                <h3>{Section Header Text}</h3>
                <div style="clear:both;"></div>
              </div>
              <div class="stepModContent">
                <fieldset>
                  <legend>{Sub Section  Legend text}</legend>
                  <dl class="flexFirst">
                    <dt>
                      <label for="repl_id"><a href="repl_href">{Payment Method label text}:<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a></label>
                    </dt>
                    <dd>
                      <select>
                        <option>{option text}</option>
                      </select>
                    </dd>
                  </dl>
                </fieldset>
                <div style="clear:both;"></div>
              </div>
            </div>
            
            <!-- Create a Shipment (UPS Account Selected - Schedule A Pickup) -->
            
            <div id="step-2" class="stepModFixed4col">
              <div class="stepModHead">
                <h3>{Section Header Text}</h3>
                <div style="clear:both;"></div>
              </div>
              <div class="stepModContent">
                <fieldset>
                  <legend>{Section legend text}</legend>
                  
                  <!-- WN Account Display - Example -->
                  <p>
                    <label>{[US Account NNXNNX] in a [Day Specific Pickup]}</label>
                  </p>
                  <dl>
                    <dt>
                      <label>{When Needed Status Label:}</label>
                    </dt>
                    <dd>{<a href="repl_href">Smart Pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a> request text for <a href="repl_href">location text<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a> for {today's date}}</dd>
                  </dl>
                  <dl>
                    <dt>
                      <label>{Select an Option Label:}</label>
                      <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></dt>
                    <dd>
                      <input type="radio">
                      <label class="sel" for="repl_id">{Request a Smart Pickup label text}</label>
                    </dd>
                    <dd class="indent">{If submitted time text}</dd>
                    <dd>
                      <div class="colL">
                        <dl>
                          <dd class="indent">{Company or Name}<br/>
                            {Address Line1}<br/>
                            {City}, {State} {ZIP}<br/>
                            {Country or Territory} </dd>
                        </dl>
                      </div>
                      <div class="colR">
                        <div class="modMsg blu">
                          <div class="modMsgBase">{Paragraph Text}</div>
                        </div>
                      </div>
                      <div style="clear:both;"></div>
                    </dd>
                    <dd>
                      <input type="radio">
                      <label class="sel" for="repl_id">{Schedule label text <a href="repl_href">Pickup<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a>}</label>
                    </dd>
                    <dd>
                      <input type="radio">
                      <label class="sel" for="repl_id">{Find a Location label text}</label>
                    </dd>
                  </dl>
                  <!-- END WN Account Display - Example --> 
                  
                  <!-- Daily Account - Example -->
                  <p>
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr valign="top">
                      <td><input type="checkbox"></td>
                      <td><label for="repl_id">{Schedule an {addition} <a href="repl_href">Pickup label text<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a>.}</label>
                        <span class="reqTxtInst"> - Additional instructional text.</span></td>
                    </tr>
                  </table>
                  </p>
                  <p>
                    <label>{Pending Label for {UPS Account Number}}</label>
                  </p>
                  <dl class="outHozFlex">
                    <dt class="indent">
                      <label>{for {weekday}{mm/dd/yyyy}}:</label>
                    </dt>
                    <dd>{n}</dd>
                    <dt class="indent">
                      <label>{for {weekday}{mm/dd/yyyy}}:</label>
                    </dt>
                    <dd>{n}</dd>
                  </dl>
                  <!-- END Daily Account - Example -->
                  
                </fieldset>
              </div>
            </div></td>
        </tr>
        <tr>
          <td class="btn-bar"><div class="btn-col4">
              <input type="submit" value="{Start Over}" class="btn">
              <input type="submit" value="{Next}" class="btn_a">
            </div></td>
        </tr>
      </table>
    </div>
