---
title: Create a Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
    <form action="repl_fname">
      
      <!-- Begin SubTabs -->
      <ul id="subTab">
        <li class="tab-on">Package</li>
        <li class="tab-off"><a href="repl_href">Freight</a></li>
        <li class="tab-off"><a href="repl_href">International Forms</a></li>
      </ul>
      <!-- End SubTabs -->
      
      <div style="clear:both;"></div>
      <table width="566" border="0" cellspacing="0" cellpadding="0" class="tab">
        <tr>
          <th><div class="head-col4">
              <h2>Shipper Export Declaration</h2>
              <ul>
                <li class="helpmini"><a href="repl_href">Help</a></li>
              </ul>
              <div style="clear:both;"></div>
            </div></th>
        </tr>
        <tr>
          <td><!-- Begin Module -->
            
            <div class="modFixed4col">
              <div class="modHead">
                <h3>Electronic SED Filing Options</h3>
                <div style="clear:both;"></div>
              </div>
              <div class="modContent">
                <fieldset>
                  <legend>Ledged Header</legend>
                  <p>You are preparing an international shipment that requires export documentation. A Shipper's Export Declaration (SED) may be required if any schedule B commodity within your shipment exceeds USD $2,500. This page can help you file an electronic SED, if one is required for your shipment.</p>
                  <ul class="lstArrow">
                    <li><a href="#ModifySEDPreferences">Modify SED Preferences</a></li>
                    <li><a href="#ModifyExportDocuments">Modify Export Documents</a></li>
                  </ul>
                </fieldset>
                <br>
                <fieldset>
                  <legend>Leged Header</legend>
                  <p>
                    <label>Please choose one of the following options related to your shipment:</label>
                  </p>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td><input class="rad5" checked name="SEDOption" type="radio" value="D">
                        SED Option 2 Filer
                        </dt></td>
                    </tr>
                    <tr>
                      <td class="indent"><br>
                        <p>The Automated Export System ( AES ) on the AESDirect Web site will use your 
                          AESDirect Filer ID Number and an Export Reference Number for this shipment to 
                          create your AES Transaction Number.<br>
                          For more information about AESDirect, go to <a href="javascript:viewAes('http://www.aesdirect.gov');">www.aesdirect.gov</a></p>
                        <dl>
                          <dt>
                            <label>Youe AESDirect Filer ID Number:</label>
                          </dt>
                          <dd>
                            <input maxlength="15" name="options2Ein" type="text" value="">
                            <select name="Option2Filertype" size="1">
                              <option selected value="99">Select ID type</option>
                              <option value="79">EIN</option>
                              <option value="06">SSN</option>
                              <option value="04">D-U-N-S</option>
                            </select>
                          </dd>
                          <dt>Export Reference Number:</dt>
                          <dd>
                            <input maxlength="15" name="ExportReferenceNumber" type="text" value="10144114452570138">
                          </dd>
                        </dl>
                        <p>To file your SED electronically with AESDirect now, go to AES WebLink.</p>
                        <ul class="lstArrow">
                          <li><a href="repl_href">Go To AES WebLink Now</a></li>
                        </ul>
                        <br>
                        <br></td>
                    </tr>
                    <tr>
                      <td><input class="rad5" checked name="SEDOption" type="radio" value="D">
                        SED Option 4 Filer</td>
                    </tr>
                    <tr>
                      <td class="indent"><br>
                        <p>After your shipment is processed, you have 24 hours to file your export information with AESDirect The Exporter Identification Number below will be included with your shipment information.</p>
                        <dl>
                          <dt>
                            <label>Youe AESDirect Filer ID Number:</label>
                          </dt>
                          <dd>
                            <input maxlength="15" name="options2Ein" type="text" value="">
                            <select name="Option2Filertype" size="1">
                              <option selected value="99">Select ID type</option>
                              <option value="79">EIN</option>
                              <option value="06">SSN</option>
                              <option value="04">D-U-N-S</option>
                            </select>
                          </dd>
                        </dl>
                        <br>
                        <br></td>
                    </tr>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td><input class="rad5" checked name="SEDOption" type="radio" value="D">
                        No SED Documentation Required or Additional Documents Attached</td>
                    </tr>
                    <tr>
                      <td class="indent"><br>
                        <b>Note:</b> You must provide all additional documents required for this shipment. Incomplete or missing documents could delay your shipment in Customs</td>
                    </tr>
                  </table>
                </fieldset>
              </div>
            </div>
            
            <!-- End Module --></td>
        </tr>
      </table>
    </form>
  </div>

