---
title: ct1_shi_pic(1sch)
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: rtl
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">        
        {{>"ct1_shi_pic(1sch)_partial" ct1_shi_pic1sch.pickup_smart }}

</div>

<!--<div class="ups-cms-demo">
    <button type="button" id="acctInfoDefaultBtn" class="ups-cta ups-cta_secondary">Account Information - Default</button><br>
    <button type="button" id="acctInfoDailyNoPendBtn" class="ups-cta ups-cta_secondary">Account Information - Daily Scheduled - No Pending Pickups</button><br>
    <button type="button" id="acctInfoWhenNeededBtn" class="ups-cta ups-cta_secondary">Account Information - When Needed</button><br>
    <button type="button" id="acctInfoWhenNeededTimeNoSetBtn" class="ups-cta ups-cta_secondary">Account Information - When Needed - Requested - Notify Time Not Set</button><br>
    <button type="button" id="acctInfoWhenNeededTimeSetBtn" class="ups-cta ups-cta_secondary">Account Information - When Needed - Requested - Notify Time Set</button>
</div>-->

<script src="assets/resources/scripts/legacy_app_ent/internet_pickup/master.js"></script>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->