// ----------------------------------------------------
// MAIN NAV - CAMPUS SHIP
// ----------------------------------------------------

.ups-header-campusShip {
    &#ups-headerWrap {
        height: 166px;
        @media #{$media-medium} {
            height: 100px;
        }
        @media #{$media-small} {
            height: auto;
        }
        .ups-toolsToggle{
          padding-top:21px;
        }
        .ups-headerTools_list{
          top:117%;
        }
        
        .ups-navMenu .ups-menu_list{
          @media (min-width: 993px){
            top:106%;
          }
          
        }
        #ups-header_custServ{
          padding-top:5px;
          &.ups-active{
            .ups-header_custServ_list{
              top:55px;
            }
          } 
        }
        
    }

    #ups-header {
        height: 158px;
        @media #{$media-medium} {
            height: 93px;
        }
        @media #{$media-small} {
            height: auto;
        }
    }

    #ups-header_logo {
        bottom: 35px;
        @media #{$media-medium} {
            bottom: 20px;
        }
    }

    .ups-header_utils {
        li.ups-account {
            .ups-menu_toggle {
                .ups-account_user{
                    height: 50px;

                    @media #{$media-medium} {
                        top: -16px;
                    }
                }
            }
        }
    }

    #ups-header_search {
        top: 70px;
    }

    .ups-navItems_primary {
        padding-top: 119px;
    }

    .ups-campusShip_head {
        position: absolute;
        display: block;
        #{$default-float}: 88px;
        top: 70px;
        color: $white;
        font: 1.5em/1 $sans-bd;
        display: block;
        // @include transition-property(all);
        // @include transition-duration(0.15s);

        .ups-rtl {
            font-family: $sans;
            font-weight: 700;
        }

        @media #{$media-medium} {
            top: 28px;
            font-size: 1.3em;
            #{$default-float}: 65px;
        }

        @media #{$media-small} {
            top: 22px;
            font-size: 1.2em;
            #{$default-float}: 60px;
        }
    }

    .ups-headFixed &#ups-headerWrap {
        top: -66px;

        #ups-header_logo {
            bottom: 5px;
        }

        .ups-campusShip_head {
            // #{$default-float}: 80px;
            bottom: 54px;
            top:90px;
        }

        @media #{$media-medium} {
            top: 0;

            #ups-header_logo {
                bottom: 20px;
            }

            .ups-campusShip_head {
                bottom: 48px;
                #{$default-float}: 65px;
                top:28px;
            }
        }

        @media #{$media-small} {
            .ups-campusShip_head {
                bottom: 38px;
                #{$default-float}: 60px;
            }
        }
    }
}

.ups-header_custServ_list.single_box {
      width:200px;
      &:before{
        position:static;
      }
      ul.ups-headerCust_links.col-md-6{
        width:100%;
      }
    }
