// ----------------------------------------------------
// M03 Simple Msg
// ----------------------------------------------------

.ups-msg-full {
    background: $stone_60;
    padding-top: $page-margin;
    padding-bottom: $page-margin;
    text-align: center;
    
    h2 {
        margin-top: 0;   
        font-size: 30px;
    }
    
    p {
        font-size: 20px;  
    }
    
    h2, p, .ups-cta, img {
        margin-bottom: $page-margin / 2;
        
        &:last-child {
            margin-bottom: 0;   
        }
    }
}

.ups-simplemsg_subnote {
    background: $black_s3;
    color: $white;
    padding: $grid-gutter-width;
    
    h3 {
        font-size: 20px;
        margin-top: 0;
    }
    
    img {
        @include vertical-align();
        position: absolute;
        #{$opposite-direction}: 0;
        max-width: 60px;
    }
    
    .list-detail {
        position: relative;
        padding-right: $page-margin + ($grid-gutter-width / 2);   
    }
}

.ups-simplemsg {
    padding-top: $page-margin;
    padding-bottom: $page-margin;
}
