// ----------------------------------------------------
// Video Downloads
// ----------------------------------------------------

.ups-video-downloads {
    border: 1px solid $black_s1;
    overflow: hidden;
    
    .ups-skipNav_carousel{ 
		position: absolute;
	    width: 140px;
	    background: $ups_gold;
	    padding: 5px;
	    text-align: center;
	    color: $ups_brown;
	    top: -100px;
	    left: 50%;
	    margin-left: -70px;
	    font-family: $sans;
	    font-weight: 700;
	    text-transform: uppercase;
	    font-size: 0.8em;
	    max-height: 40px;
	    z-index: 1;
	    @include transition-property(top);
	    @include transition-duration(0.3s);
	    
	    &.ups-autoplay_show{
	    	top: 0;
	    }
	}

    &.slick-slider {
        padding-bottom: $margin_1 - 15px;
        background: $white;
    }

    .ups-resource {
        background: $white;

        .txt-container {
            border: none;
            padding-bottom: $margin_3;

            a:hover {
                color: $black_s1;
            }
        }

        h3 {
            color: $black_s3;
            font-size: 16px;
        }

        p {
            font-size: 14px;
            line-height:1.25;
            font-weight: normal;
        }
    }
}

.subsection_aside .ups-video-downloads,
.iw_columns.col-lg-4 .ups-video-downloads {
    @include aside-pad_sm;
}
