// ----------------------------------------------------
// M60 Personalization Opt Out
// ----------------------------------------------------

.ups-personalize{
	.ups-contentOpt{
		margin: 20px 0;
		.ups-cta.ups-inactive{
			display:none;
		}
		@media #{$media-small} {
			.ups-cta{
				width: inherit;
			}	
		}
	}
	
} 