
<tr width="100%">
	<td>
		{{#if deliver_to_another_address}}
		<div id="subpnl_1_1_1" data-pnl-name="01 Deliver to Another Address">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11">Exception</dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Deliver to Another Address</strong><br>
								John Jones<br>
								1234 Main Street<br>
								Roswell, GA 30076, US<br>
								<br>
								<strong>Note:</strong> A delivery change request (Deliver To Another Address) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>--> 
						<!--<button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 1 -->
		{{/if}}
		{{#if deliver_to_ups_retail}}
		<div id="subpnl_1_1_2" data-pnl-name="02 Deliver to UPS Retail">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11"><a id="tt_m" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">In Transit</a></dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Deliver to a UPS Access Point</strong><br>
								The UPS Store<br>
								1010 MaRonsell Rd<br>
								Roswell, GA 30076, US<br>
								Tel: 555-123-4567<br>
								<br>
								<strong>Note:</strong> A delivery change request (Deliver to a UPS Access Point) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>--> 
						<!--<button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 2 -->
		{{/if}}
		{{#if reschedule}}
		<div id="subpnl_1_1_3" data-pnl-name="03 Reschedule">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11"><a id="tt_m" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">In Transit</a></dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> My House<br>
								<br>
								<strong>Note:</strong> A delivery change request (Reschedule Delivery) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
						<button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 3 -->
		{{/if}}
		
		{{#if will_call}}
		<div id="subpnl_1_1_4" data-pnl-name="04 Will Call">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11">Exception</dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Not Available</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Hold for Pickup</strong><br>
								<br>
								<strong>Note:</strong> A delivery change request (Hold for Pickup) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
                                                  <button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
                                                  <button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 4 -->
		{{/if}}
		
		{{#if same_day_will_call}}
		<div id="subpnl_1_1_5" data-pnl-name="05 Same Day Will Call">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11">Exception</dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Not Available</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Hold for Pickup Today</strong><br>
								Pickup By: 01/01/2013<br>
								<br>
								<strong>Note:</strong> A delivery change request (Hold for Pickup Today) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
                                                  <button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
                                                  <button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 5 -->
		{{/if}}
		
		{{#if upgrade_available}}
		<div id="subpnl_1_1_6" data-pnl-name="06 Upgrade Available">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11"><a id="tt_m" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">In Transit</a></dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<dt> <span class="label">Estimated Delivery Time:</span> </dt>
							<dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> My House<br>
								<br>
								<!--<strong>Note:</strong> A delivery change request (Reschedule Delivery) was applied to this shipment.--> 
							</dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
							<a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
						<button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 6 -->
		{{/if}}
		
		{{#if upgrade_and_deliver_to_another_address}}
		<div id="subpnl_1_1_7" data-pnl-name="07 Upgrade and Deliver to Another Address">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11">Exception</dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Service Upgrade and Deliver to Another Address</strong><br>
								John Jones<br>
								1234 Main Street<br>
								Roswell, GA 30076, US<br>
								<br>
								<strong>Note:</strong> A delivery change request (Service Upgrade and Deliver to Another Address) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
						<button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 7 -->
		{{/if}}
		{{#if upgrade_and_deliver_to_ups_retail_location}}
		<div id="subpnl_1_1_8" data-pnl-name="08 Upgrade and Deliver to a UPS Retail Location">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11"><a id="tt_m" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">In Transit</a></dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010 By End of Day</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Service Upgrade and Deliver to a UPS Access Point</strong><br>
								The UPS Store<br>
								1010 Mansell Rd.<br>
								Roswell, GA, US 30076<br>
								Tel: 555-123-4567<br>
								store@email.com<br>
								<br>
								<strong>Note:</strong> A delivery change request (Service Upgrade and Deliver to a UPS Access Point) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
                                                  <button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 8 -->
		{{/if}}
		{{#if upgrade_and_reschedule}}
		<div id="subpnl_1_1_9" data-pnl-name="09 Upgrade and Reschedule">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11"><a id="tt_m" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">Exception</a></dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> My House<br>
								<br>
								<strong>Note:</strong> A delivery change request (Service Upgrade and Reschedule Delivery) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
						<button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 9 -->
		{{/if}}
		{{#if upgrade_and_will_call}}
		<div id="subpnl_1_1_10" data-pnl-name="10 Upgrade and Will Call">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11">Exception</dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Not Available</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Service Upgrade and Hold for Pickup</strong><br>
								<br>
								<strong>Note:</strong> A delivery change request (Service Upgrade and Hold for Pickup) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
                                                  <button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
                                                  <button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 10 -->
		{{/if}}
		{{#if upgrade_and_same_day_will_call}}
		<div id="subpnl_1_1_11" data-pnl-name="11 Upgrade and Same Day Will Call">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11">Exception</dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Not Available</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Service Upgrade and Hold for Pickup Today</strong><br>
								Pickup By: 01/01/2013<br>
								<br>
								<strong>Note:</strong> A delivery change request (Service Upgrade and Hold for Pickup Today) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
                                                  <button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>
                                                  <button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 11 -->
		{{/if}}
		{{#if not_at_access_point}}
		<div id="subpnl_1_1_12" data-pnl-name="12 Not at access point">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11"><a id="tt_m" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">Not at Access Point Yet</a></dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Deliver to a UPS Access Point</strong><br>
								The UPS Store<br>
								1010 MaRonsell Rd<br>
								Roswell, GA 30076, US<br>
								Tel: 555-123-4567<br>
								<br>
								<strong>Note:</strong> A delivery change request (Deliver to a UPS Access Point) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>--> 
						<!--<button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 12 -->
		{{/if}}
		{{#if out_for_delivery_to_access_point}}
		<div id="subpnl_1_1_13" data-pnl-name="13 Out for Delivery to access point">
			<div class="secLvl clearfix">
				<div class="secHead clearfix"> 
					
					<!-- ////////////////////////////// --> 
					<!-- Begin Shipment Details Tooltip -->
					<h3>Package 3: <a onClick="javascript:mcdp.redirectToTracking('1Z1234567890123434')" class="anchor ttAnchor" id="tt_2" title="TITLE: tt_1">1Z1234567890123434</a></h3>
					<!-- End Shipment Details Tooltip --> 
					<!-- //////////////////////////// --> 
					
				</div>
				<div class="secBody">
					<div class="subcol17 marginBegin">
						<dl class="outHozFixed outHozFixedCol6 clearfix" role="presentation">
							<dt> <span class="label">Status:</span> </dt>
							<dd class="formcol11"><a id="tt_m" class="anchor infoAnchor hozAnchor btnlnkR helpIconR">Out for Delivery to Access Point</a></dd>
							<dt> <span class="label">Scheduled Delivery:</span> </dt>
							<dd class="formcol11">Thursday, 04/01/2010</dd>
							<dt style="display: none;"> <span class="label"><a id="" class="anchor infoAnchor hozAnchor btnlnkR helpIconR"></a></span> </dt>
							<dd style="display: none;" class="formcol11"></dd>
							<!--<dt>
                                                      <span class="label">Estimated Delivery Time:</span>
                                                    </dt>
                                                    <dd class="formcol11">10:00 A.M. - 2:00 P.M.</dd>-->
							<dt> <span class="label">From:</span> </dt>
							<dd class="formcol11">ABC Corporation<br/>
								Saddlebrook, NJ, US</dd>
							<dt> <span class="label">To:</span> </dt>
							<dd class="formcol11"> <strong>Deliver to a UPS Access Point</strong><br>
								The UPS Store<br>
								1010 MaRonsell Rd<br>
								Roswell, GA 30076, US<br>
								Tel: 555-123-4567<br>
								<br>
								<strong>Note:</strong> A delivery change request (Deliver to a UPS Access Point) was applied to this shipment. </dd>
							<!--<dt style="display: block;">
                                                      <span class="label">Special Instructions:</span>
                                                    </dt>
                                                    <dd style="display: block;" class="formcol11">Shipment Release Authorized<br/>
                                                      <a onClick="mcdp.ajaxGetModal('csr','1','1','1Z1234567890123434')" class="anchor">Cancel Shipment Release</a></dd>-->
						</dl>
						<!--<p><strong>Note:</strong> Gain access to UPS MyChoice features by upgrading this package to UPS Ground.<br/>
                                                    <a class="btnlnkR arrowIconR" href="repl_href">Upgrade Now</a></p>--> 
					</div>
					<div class="floatEnd subcol7 marginEnd">
						<button onClick="mcdp.ajaxGetModal('dcr',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Change Delivery</button>
						<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Delivery Alerts</button>
						<!--<button onClick="mcdp.ajaxGetModal('da',1,'1','1Z5012X70171076895')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Select a 2-Hour Delivery Window</button>--> 
						<!--<button onClick="mcdp.ajaxGetModal('di',1,'1','1Z5012X70172412500')" class="clearfix button btnGroup7 btnGradient btnGradient7 arrowIconRight formcol7" style="background-position: 0pt -2px;">Provide Delivery Instructions</button>--> 
					</div>
				</div>
			</div>
		</div>
		<!-- end subpanel 13 -->
		{{/if}}</td>
</tr>
