<div class="appLvl mod modal dialog">
  <div class="appHead clearfix">
    <div class="onlyPrint floatBegin"><img height="55" width="42" border="0" src="/img/glo_ups_brandmark_pfv.gif" alt="repl_alt_text"></div>
    <h2>UPS My Choice - Confirmed Delivery Window Confirmation</h2>
    <ul>
      <li>
        <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
      </li>
    </ul>
  </div>
  
	<div class="appBody"> 
	<!-- Begin Section Module -->
	<div class="secLvl secLvlPlain clearfix">
		<!-- Begin Section Header -->
		<div class="secHead clearfix">
		  <h3>Confirmed Delivery Window Confirmation</h3>
		  <ul>
			<li> <a href="repl_href" class="btnLnkR printIconR">print</a> </li>
		  </ul>
		</div>
		<!-- End Section Header --> 

		<!-- Begin Section Body -->
		<div class="secBody">
		  <p>Your confirmed delivery window is displayed below. Please, print this page for your records.</p>
		  <p><strong>Note:</strong> If you already selected a confirmed delivery window, this new window will be applied to all other shipments with a confirmed window on the same date.</p>
		  <p><strong>Note:</strong> This shipment is part of a multi-piece small package shipment. The confirmed delivery window you select will be applied to all of the other packages automatically.</p>

		  <!--Begin 7516 ER Jul15 -->
		  <div class="secLvl message clearfix">
			<div class="secBody noHead">
			  <p><span class="criticalMessage">2-Hour Confirmed Delivery Window:</span> XX of XX FREE remaining until mm/dd/yyyy</p>
			</div>
		  </div>
		  <!--End 7516 ER Jul15 -->

			<dl role="presentation" class="outHozFixed">
			  <dt><span class="label">Tracking Number</span></dt>
			  <dd>1z1234567890123456 - description</dd>
			</dl>
			<dl role="presentation" class="outHozFixed">
			  <dt><span class="label">
				{{#if upgrade}}Estimated{{else}}Approximate{{/if}}
				 Delivery Window</span></dt>
			  <dd>10:00 a.m. - 2:00 p.m., mm/dd/yyyy</dd>
			</dl>
			<dl role="presentation" class="outHozFixed">
			  <dt><span class="label">Confirmed Delivery Window</span></dt>
			  <dd>12:00 p.m. - 2:00 p.m., mm/dd/yyyy</dd>
			</dl>
			
			{{#if upgrade}}
			<dl role="presentation" class="outHozFixed">
			  <dt><span class="label">Confirmed Delivery Fee</span></dt>
			  <dd>0.00 usd</dd>
			</dl>
			<dl role="presentation" class="outHozFixed">
			  <dt><span class="label">Premium Membership</span><br/>($40 Value)</dt>
			  <dd>20.00 usd</dd>
			</dl>
			{{/if}}
			
		  	<dl role="presentation" class="outHozFixed">
			  <dt><span class="label">Fee</span></dt>
			  <dd>n.nn usd</dd>
			</dl>
			<dl role="presentation" class="outHozFixed">
			  <dt><span class="label">Total Charges</span></dt>
			  <dd><strong>n.nn usd</strong></dd>
			</dl>
			<dl role="presentation" class="outHozFixed">
			  <dt><span class="label">{{#if upgrade}}Payment Method{{else}}Bill Charges To{{/if}}</span></dt>
			  <dd>visa xxxxxxxxxxxx1234</dd>
			</dl>
			
			{{#if upgrade}}
			<hr>
			<div class="marginBegin subcol5 clearfix">
				<img src="repl_src" alt="repl_alt" />
			</div>
			<div class="marginEnd subcol9 clearfix">
				<span class="label">Your Premium Membership includes:</span>
				<ul>
					<li>Three Free Confirmed Delivery Windows</li>
					<li>Unlimited Free Deliveries to Another Address</li>
					<li>Unlimited Free Deliveries on Another Day</li>
					<li>Unlimited Free UPS SurePost packages, which typically use the U.S. Postal Service for final delivery</li>
				</ul>
			</div>
			<div class="clearfix"></div>
			{{/if}}
		</div>
		<!-- End Section Body -->
	</div>
	<!-- End Section Module --> 
	</div>
	<div class="appFooter">
	<div class="btnBar alignCenter">
	  <input name="" type="button" value="close" class="btn">
	</div>
	</div>
  
</div>
<script type="text/javascript">


		
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:590});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});



</script>