      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod">
          <fieldset>
            <legend></legend>
            <!-- Begin Application Header -->
            <div class="appHead clearfix">
              <h2>{Application Header}</h2>
              <ul>
                <li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
              </ul>
            </div>
            <!-- End Application Header --> 
            
            <!-- Begin Application Body -->
            <div class="appBody clearfix"> 
              
              <!-- Begin Section Module -->
              <div class="secLvl clearfix">
                <fieldset>
                  <legend></legend>
                  <!-- Begin Section Header --><!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  <div class="secBody clearfix">
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <select>
                      <option>item1</option>
                    </select>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                  </div>
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer -->
                </fieldset>
              </div>
              <!-- End Section Module --> 
              
            </div>
            <!-- End Application Body --> 
            
            <!-- Begin Application Footer --><!-- End Application Footer -->
          </fieldset>
        </div>
        <!-- End Application Module -->
        
      </form>

<div class="appLvl mod modal dialog">
  <div class="appHead clearfix">
	<h2>UPS My Choice - Select a Confirmed Delivery Window</h2>
	<ul>
	  <li>
		<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
	  </li>
	</ul>
  </div>
  {{#if v5}}
  <div class="appBody clearfix">
	<p class="error">>>>error</p>
	
 	{{#if prem}}
		<p>select your confirmed delivery window.</p>
		<p><strong>note:</strong> the confirmed delivery window must fall within the normal estimate delivery time window displayed for this shipment.</p>
		<p><strong>note:</strong> If you have already selected a confirmed delivery window, this new window will be applied to all other shipments with a confirmed delivery window on the same date.</p>
		<!-- <p><strong>note:</strong> if you already selected a confirmed delivery window, this new window will be applied to all other shipments with a confirmed window on the same date.</p> --> 
		<!-- <p><strong>note:</strong> this shipment is part of a multi-piece small package shipment.  the confirmed delivery window you select will be applied to all of the other packages automatically.</p> --> 

		<!-- Doc Update_01 ER JUL12 -->
		<div class="cmsMsg"> 

		  <!-- begin WCMS --> 
		  <!-- //////////////////////////////////////////////////////////////////////////// --> 

		  <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_delivery_window.html" --> 
		  <!-- //////////////////////////////////////////////////////////////////////////// --> 
		  <!-- end WCMS --> 

		</div>
		<!-- END Doc Update_01 ER JUL12 --> 

		<!--Begin 7516 ER Jul15 -->
		<div class="secLvl message clearfix">
		  <div class="secBody noHead">
			<p><span class="criticalMessage">2-Hour Confirmed Delivery Window:</span> XX of XX FREE remaining until mm/dd/yyyy</p>
		  </div>
		</div>
		<!--End 7516 ER Jul15 -->
	{{/if}}
	{{#if non_prem}}
	  	<p><strong>Make deliveries fir your schedule. Get a 2-hour confirmed delivery window</strong></p>
	{{/if}}
	<dl role="presentation" class="outHozFixed clearfix">
	  <dt>
		<span class="label" for="repl_fid">Tracking Number</span>
	  </dt>
	  <dd>1z1234567890123456 </dd>
	</dl>
	<dl role="presentation" class="outHozFixed clearfix">
	  <dt>
		<span class="label" for="repl_fid">Estimated Delivery Time</span>
	  </dt>
	  <dd>10:00 a.m. - 4:00 p.m., mm/dd/yyyy</dd>
	</dl>
	<dl role="presentation" class="outHozFixed clearfix">
	  <dt>
		<label for="repl_fid">Confirmed Delivery Window</label>
	  </dt>
	  <dd>
		<select name="repl_name" id="repl_id">
		  <option value="" selected>select one</option>
		</select>
		<span class="indent"><a href="">cancel this delivery window</a></span> </dd>
	</dl>
	{{#if non_prem}}
	<p>Note: The confirmed delivery window must fall within the normal estimated delivery time window displayed for this shipment.</p>
	{{/if}}
	<dl role="presentation" class="outHozFixed clearfix">
	  <dt>
		<span class="label" for="repl_fid">Fee</span>
	  </dt>
	  <dd>n:nn usd</dd>
	</dl>
	
	{{#if non_prem}}
		<div class="secLvl message critical clearfix">
		  <div class="secBody">
			  <p><strong>Get 3 Confirmed Delivery Windows for FREE. Upgrade to Premium for $20 {a $40 Value}.</strong></p>
		  </div>
		</div>
		<table border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td scope="row" class="sel"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id"></td>
			  <td scope="row"><label for="repl_fid" class="sel">Yes, sign me up for My Choice Premium. I want XX Free confirmed delivery windows. By selecting this checkbox and selecting submit, I agree to <a href="repl_href">My Choice Service Terms</a>.</label></td>
		  </tr>
		</table>
	{{/if}}
	  
  	<dl role="presentation" class="outHozFixed clearfix">
	  <dt>
		<span class="label" for="repl_fid">Total Charges</span>
	  </dt>
	  <dd><strong>n.nn usd</strong></dd>
	</dl>

	<!-- BEGIN payment card information -->
	
	<p>Please enter your payment card information.  You can save this card to your my ups profile by selecting <strong>save this card to my UPS profile</strong>.</p>
	<dl role="presentation">
	  <dt>
		<label for="repl_fid">Saved Payment Cards</label>
	  </dt>
	  <dd>
		<select name="repl_name" id="repl_id">
		  <option value="" selected>select one</option>
		  <option value="">enter a different payment card</option>
		  <option value="">visa - xxxxxxxxxxxx1234</option>
		  <option value="">{1234567890 1234567890 1234567890}</option>
		</select>
	  </dd>
	</dl>

	<!-- END payment card information section -->

	<dl role="presentation">
	  <dt>
		<label for="repl_fid">Card Type</label>
	  </dt>
	  <dd class="inline">
		<select name="repl_name" id="repl_id">
		  <option value="" selected>select one</option>
		  <option value="">american express</option>
		</select>
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
		<ul class="cc">
		  <li><img src="/img/inf_cc_30x23_amex.gif" alt="American Express" title="American Express"></li>
		  <li><img src="/img/inf_cc_30x23_visa.gif" alt="Visa" title="Visa"></li>
		  <li><img src="/img/inf_cc_30x23_mcard.gif" alt="MasterCard" title="MasterCard"></li>
		  <li><img src="/img/inf_cc_30x23_discover.gif" alt="Discover" title="Discover"></li>
		  <li><img src="/img/inf_cc_35x23_billme.gif" alt="Bill Me Later" title="Bill Me Later"></li>
		  <li><img src="/img/inf_cc_30x23_jcb.gif" alt="JCB" title="JCB"></li>
		  <li><img src="/img/inf_cc_35x23_paypal.gif" alt="PayPal" title="PayPal"></li>
		</ul>
	  </dd>
	</dl>
	<dl role="presentation">
	  <dt>
		<label for="repl_fid">Card Number</label>
	  </dt>
	  <dd>
		<input type="text" id="repl_id" value="">
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
	</dl>
	<dl role="presentation">
	  <dt>
		<label for="repl_fid">Expiration</label>
	  </dt>
	  <dd>
		<select name="repl_name" id="repl_id">
		  <option value="" selected>mm</option>
		  <option value=""></option>
		</select>
		<select name="repl_name" id="repl_id">
		  <option value="" selected>yyyy</option>
		  <option value=""></option>
		</select>
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
	</dl>
	<dl role="presentation">
	  <dt>
		<label for="repl_fid"><a href="" class="btnlnkR helpIconR">Verification Code</a></label>
	  </dt>
	  <dd>
		<input name="" type="text" id="repl_id" class="formCol2">
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
	</dl>
	<table border="0" cellpadding="0" cellspacing="0">
	  <tr>
		<td scope="row" class="sel"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id"></td>
		<td scope="row"><label for="repl_fid" class="sel">save this card to my ups profile</label></td>
	  </tr>
	</table>
	<dl role="presentation">
	  <dt>
		<label for="repl_fid">Billing Address</label>
	  </dt>
	  <dd>
		<table border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td scope="row"class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
			<td scope="row"><label for="repl_fid" class="sel">same as delivery address</label></td>
		  </tr>
		  <tr>
			<td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id">

			  <!--<input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked>--></td>
			<td scope="row"><label for="repl_fid" class="sel">enter a different billing address</label></td>
		  </tr>
		</table>
	  </dd>
	</dl>

	<!-- billing address module - enter a different billing address -->

	<div class="seccol9 marginBegin clearfix">
	  <dl role="presentation">
		<dt>
		  <span class="label" for="repl_fid">Country or Territory</span>
		</dt>
		<dd>United States</dd>
	  </dl>
	  <dl role="presentation">
		<dt>
		  <label for="repl_fid">Address Line 1</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol7">
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
		<dt>
		  <label for="repl_fid">Address Line 2</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol7">
		  <div class="reqTxtInst">apartment, suite, unit, building, floor, etc.</div>
		</dd>
		<dt>
		  <label for="repl_fid">Address Line 3</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol7">
		  <div class="reqTxtInst">department, c/o, etc.</div>
		</dd>
	  </dl>
	</div>
	<div class="seccol9 marginBegin clearfix">
	  <dl role="presentation">
		<dt>
		  <label for="repl_fid">City</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol7">
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
	  </dl>
	  <dl role="presentation">
		<dt>
		  <label for="repl_fid">State</label>
		</dt>
		<dd>
		  <select name="repl_name" id="repl_id">
			<option value="" selected>select one</option>
			<option value="">{1234567890}</option>
		  </select>
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
	  </dl>
	  <dl role="presentation">
		<dt>
		  <label for="repl_fid">Zip Code</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol3">
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
	  </dl>
	</div>
  </div>
  <div class="appFooter">
	<div class="btnBar alignCenter">
	  <input name="" type="button" value="cancel" class="btn">
	  <input name="" type="button" value="finish" class="btn">
	</div>
  </div>
  {{/if}}
  

{{#if original_v4}}
  <div class="appBody clearfix">
	<p class="error">>>>error</p>
	<p>select your confirmed delivery window.</p>
	<p><strong>note:</strong> the confirmed delivery window must fall within the normal estimate delivery time window displayed for this shipment.</p>
	<p><strong>note:</strong> If you have already selected a confirmed delivery window, this new window will be applied to all other shipments with a confirmed delivery window on the same date.</p>
	<!-- <p><strong>note:</strong> if you already selected a confirmed delivery window, this new window will be applied to all other shipments with a confirmed window on the same date.</p> --> 
	<!-- <p><strong>note:</strong> this shipment is part of a multi-piece small package shipment.  the confirmed delivery window you select will be applied to all of the other packages automatically.</p> --> 

	<!-- Doc Update_01 ER JUL12 -->
	<div class="cmsMsg"> 

	  <!-- begin WCMS --> 
	  <!-- //////////////////////////////////////////////////////////////////////////// --> 

	  <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_delivery_window.html" --> 
	  <!-- //////////////////////////////////////////////////////////////////////////// --> 
	  <!-- end WCMS --> 

	</div>
	<!-- END Doc Update_01 ER JUL12 --> 

	<!--Begin 7516 ER Jul15 -->
	<div class="secLvl message clearfix">
	  <div class="secBody noHead">
		<p><span class="criticalMessage">2-Hour Confirmed Delivery Window:</span> XX of XX FREE remaining until mm/dd/yyyy</p>
	  </div>
	</div>
	<!--End 7516 ER Jul15 -->

	<dl role="presentation" class="outHozFixed clearfix">
	  <dt>
		<label for="repl_fid">tracking number: </label>
	  </dt>
	  <dd>1z1234567890123456 - description</dd>
	  <dt>
		<label for="repl_fid">Estimated delivery time:</label>
	  </dt>
	  <dd>10:00 a.m. - 12:00 p.m., mm/dd/yyyy</dd>
	  <dt>
		<label for="repl_fid">confirmed delivery window:</label>
	  </dt>
	  <dd>
		<select name="repl_name" id="repl_id">
		  <option value="" selected>select one</option>
		</select>
		<span class="indent"><a href="">cancel this delivery window</a></span> </dd>
	  <dt>
		<label for="repl_fid">fee:</label>
	  </dt>
	  <dd>n:nn usd</dd>
	</dl>
	<p>please enter your payment card information.  you can save this card to your my ups profile by selecting <strong>save this card to my ups profile</strong>.</p>

	<!-- BEGIN payment card information -->

	<p>please verify your payment card selection.  to enter a new card, select <strong>enter a different payment card</strong>.</p>
	<dl role="presentation">
	  <dt>
		<label for="repl_fid">saved payment cards:</label>
	  </dt>
	  <dd>
		<select name="repl_name" id="repl_id">
		  <option value="" selected>select one</option>
		  <option value="">enter a different payment card</option>
		  <option value="">visa - xxxxxxxxxxxx1234</option>
		  <option value="">{1234567890 1234567890 1234567890}</option>
		</select>
	  </dd>
	</dl>

	<!-- END payment card information section -->

	<dl role="presentation" class="group clearfix">
	  <dt>
		<label for="repl_fid">card type:</label>
	  </dt>
	  <dd class="inline">
		<select name="repl_name" id="repl_id">
		  <option value="" selected>select one</option>
		  <option value="">american express</option>
		</select>
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
		<ul class="cc">
		  <li><img src="/img/inf_cc_30x23_amex.gif" alt="American Express" title="American Express"></li>
		  <li><img src="/img/inf_cc_30x23_visa.gif" alt="Visa" title="Visa"></li>
		  <li><img src="/img/inf_cc_30x23_mcard.gif" alt="MasterCard" title="MasterCard"></li>
		  <li><img src="/img/inf_cc_30x23_discover.gif" alt="Discover" title="Discover"></li>
		  <li><img src="/img/inf_cc_35x23_billme.gif" alt="Bill Me Later" title="Bill Me Later"></li>
		  <li><img src="/img/inf_cc_30x23_jcb.gif" alt="JCB" title="JCB"></li>
		  <li><img src="/img/inf_cc_35x23_paypal.gif" alt="PayPal" title="PayPal"></li>
		</ul>
	  </dd>
	</dl>
	<dl role="presentation">
	  <dt>
		<label for="repl_fid">card number:</label>
	  </dt>
	  <dd>
		<input type="text" id="repl_id" value="">
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
	  <dt>
		<label for="repl_fid">expiration:</label>
	  </dt>
	  <dd>
		<select name="repl_name" id="repl_id">
		  <option value="" selected>mm</option>
		  <option value=""></option>
		</select>
		<select name="repl_name" id="repl_id">
		  <option value="" selected>yyyy</option>
		  <option value=""></option>
		</select>
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
	  <dt>
		<label for="repl_fid"><a href="" class="btnlnkR helpIconR">verification code:</a></label>
	  </dt>
	  <dd>
		<input name="" type="text" id="repl_id" class="formCol2">
		<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
	</dl>
	<table border="0" cellpadding="0" cellspacing="0">
	  <tr>
		<td scope="row" class="sel"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id"></td>
		<td scope="row"><label for="repl_fid" class="sel">save this card to my ups profile</label></td>
	  </tr>
	</table>
	<dl role="presentation">
	  <dt>
		<label for="repl_fid">billing address</label>
	  </dt>
	  <dd>
		<table border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td scope="row"class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
			<td scope="row"><label for="repl_fid" class="sel">same as delivery address</label></td>
		  </tr>
		  <tr>
			<td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id">

			  <!--<input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked>--></td>
			<td scope="row"><label for="repl_fid" class="sel">enter a different billing address</label></td>
		  </tr>
		</table>
	  </dd>
	</dl>

	<!-- billing address module - enter a different billing address -->

	<div class="seccol9 marginBegin clearfix">
	  <dl role="presentation" class="group">
		<dt>
		  <label for="repl_fid">country or territory:</label>
		</dt>
		<dd>united states</dd>
		<dt>
		  <label for="repl_fid">address line 1:</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol7">
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
		<dt>
		  <label for="repl_fid">address line 2:</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol7">
		  <div class="reqTxtInst">apartment, suite, unit, building, floor, etc.</div>
		</dd>
		<dt>
		  <label for="repl_fid">address line 3:</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol7">
		  <div class="reqTxtInst">department, c/o, etc.</div>
		</dd>
	  </dl>
	</div>
	<div class="seccol9 marginBegin clearfix">
	  <dl role="presentation" class="group">
		<dt>
		  <label for="repl_fid">city:</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol7">
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
		<dt>
		  <label for="repl_fid">state:</label>
		</dt>
		<dd>
		  <select name="repl_name" id="repl_id">
			<option value="" selected>select one</option>
			<option value="">{1234567890}</option>
		  </select>
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
		<dt>
		  <label for="repl_fid">zip code:</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="" class="formcol3">
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
	  </dl>
	</div>
  </div>
  <div class="appFooter">
	<div class="btnBar alignCenter">
	  <input name="" type="button" value="cancel" class="btn">
	  <input name="" type="button" value="finish" class="btn">
	</div>
  </div>
{{/if}}
  
  
</div>
