<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Manage UPS Administration Status</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
	 	Please indicate whether this user's UPS CampusShip Administrator access is ON or OFF.
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- begin ucsa user information module -->
	<table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">Employee Information</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			&nbsp;<!-- <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div> -->
			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin left content column -->
			<span class="bold">User ID:</span>
			<br>
			[myuserid]
			<br><br>
			<span class="bold">Company Name:</span>
			<br>
			[UPS]
			<br><br>
			<span class="bold">Name:</span>
			<br>
			[Some User Name]
			<br><br>
			<span class="bold">Address:</span>
			<br>
			[Company Address]
			<br>
			[Company Address2]
			<br>
			[Company Address3]
			<br><br>
			<span class="bold">City:</span>
			<br>
			[City]
			<!-- end left content column -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin right content column -->
			<span class="bold">State/Province:</span>
			<br>
			[state /province/ county]
			<br><br>
			<span class="bold">Postal Code:</span>
			<br>
			[nnnnn]
			<br><br>
			<span class="bold">Country or Territory:</span>
			<br>
			[XX]
			<br><br>
			<span class="bold">E-mail Address:</span>
			<br>
			[myname@company.com]
			<br><br>
			<span class="bold">Phone:</span>
			<br>
			[(nnn) nnn-nnnn]
			<!-- end right content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		<!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="98%">

			<!-- begin content column -->
			<span class="bold">UPS CampusShip Administrator access is:</span>
			<br><br>
			<input name="ON" type="radio" value="">ON
			<br><br>
			<input checked name="OFF" type="radio" value="">OFF
			<!-- end content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
	</table>
	<!-- end ucsa user information module -->

	<!-- begin buttons -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
		<td align="right" valign="top" width="366"><input name="repl_fname" value="Cancel" class="btn" type="button"><input name="repl_fname" value="Update" class="btn" type="submit"></td>
	</tr>
	</table>
	<!-- end buttons -->

	<!-- begin note area -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
	</tr>
	</table>
	<!-- end note area -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
