---
title: Duplicate Package Match Modal
appId: ppc
layout: default.hbs
dir: rtl
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper" ng-app="ppcAuthRequired">  
		<div class="ups-wrap_inner">
			<ups-duplicate-package-match-modal></ups-duplicate-package-match-modal>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
