---
title: PPC Loading Screen
appId: ppc
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper" ng-app="ppcAuthRequired">  
		<div class="ups-wrap_inner">
			<ups-loading-screen></ups-loading-screen>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->