---
title: UPS Pickup Point™
layout: default_light.hbs
dir: ltr
lang: en
ang2: true
ang2ID: uppwa
appId: uppwa
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-wrap ups-form_wrap ups-application_wrapper">
		<div class="ups-wrap_inner">
            <!--<script type="text/javascript" src='http://www.bing.com/api/maps/mapcontrol?branch=experimental' async defer></script>-->
            <!--<script type="text/javascript" src='http://www.bing.com/api/maps/mapcontrol?branch=experimental' async defer></script>-->
            <ups-pickup-point>Loading...</ups-pickup-point>
        </div>
    </div>
</main>
