<div class="appLvl ups-application_wrapper ups-form_wrap">
	<div class="appBody">	
	<!-- Begin Application Body -->
	{{>"ct1_shi_ftc(3oty)_fctc_request_confirmations_partial" }}
	<!-- End Application Body --> 
	</div>
</div>
