<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** ->
 <form action="repl_fname">
		<table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
			<tr>
-->

<form action="repl_fname" method="repl_method" name="repl_fname">
	<div class="row">
		<div class="col-xs-8">

<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design -->
<!-- ************************************** -->

			{{#if truckload1}}

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** ->
					<th><div class="head-col4">
							<h2>Thank You For Your Truckload Request</h2>
							<div style="clear:both;"></div>
						</div></th>
				</tr>
				<tr>
					<td><br>
						<div class="stepModFixed4col" style="border:0">
							<div class="clearfix">
								<p>Your truckload quote request has been received by Coyote Logistics, our truckload freight and transportation management subsidiary. A Coyote representative will contact you shortly. </p>
							</div>
						</div>
						<div class="stepModFixed4col" style="border:0">
							<div class="clearfix">
								<p> For immediate assistance for a Truckload shipment, please call <strong>877-626-9683</strong>.</p>
							</div>
						</div>
						<div class="stepModFixed4col" style="border:0">
							<div class="clearfix">
								<p><a href="repl_name"><span class="arrow-blue">Submit another Freight Rate Request</span></a></p>
							</div>
						</div></td>
				</tr>
			</table>
			</form>
		-->

			<h2>Thank You For Your Truckload Request</h2>
			<div class="ups-group">
				<p>Your truckload quote request has been received by Coyote Logistics, our truckload freight and transportation management subsidiary. A Coyote representative will contact you shortly. </p>
				<p>For immediate assistance for a Truckload shipment, please call <strong>877-626-9683</strong>.</p>
			</div>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design -->
			<!-- ************************************** -->

	{{/if}}
	{{#if truckload2}}

	<!-- ************************************** -->
	<!-- REDESIGN EDIT: Start part of re-design -->
	<!-- ************************************** ->
		<table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
				<tr>
					<th><div class="head-col4">
							<h2>Thank You For Your Truckload Request</h2>
							<div style="clear:both;"></div>
						</div></th>
				</tr>
				<tr>
					<td><br>
						<div class="stepModFixed4col" style="border:0">
							<div class="clearfix">
								<p>Your truckload quote request has been received by Coyote Logistics, our truckload freight and transportation management subsidiary. A Coyote representative will contact you shortly. </p>
							</div>
						</div>
						<div class="stepModFixed4col" style="border:0">
							<div class="clearfix">
								<p> For immediate assistance for a Truckload shipment, please email <strong>ContactShipper@coyote.com</strong>.</p>
							</div>
						</div>
						<div class="stepModFixed4col" style="border:0">
							<div class="clearfix">
								<p><a href="repl_name"><span class="arrow-blue">Submit another Freight Rate Request</span></a></p>
							</div>
						</div></td>
				</tr>
			</table>-->

			<h2>Thank You For Your Truckload Request</h2>
			<div class="ups-group">
				<p>Your truckload quote request has been received by Coyote Logistics, our truckload freight and transportation management subsidiary. A Coyote representative will contact you shortly. </p>
				<p>For immediate assistance for a Truckload shipment, please email <strong>ContactShipper@coyote.com</strong>.</p>
			</div>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design -->
			<!-- ************************************** -->

	{{/if}}
	{{#if ocean}}

	<!-- ************************************** -->
	<!-- REDESIGN EDIT: Start part of re-design -->
	<!-- ************************************** ->
	<form action="repl_fname">
		<table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
			<tr>
				<th><div class="head-col4">
						<h2>Thank You For Your Ocean Freight Rate Request</h2>
						<div style="clear:both;"></div>
					</div></th>
			</tr>
			<tr>
				<td><br>
					<div class="stepModFixed4col" style="border:0">
						<div class="clearfix">
							<p>Your request for an Ocean Freight Rate Quote has been submitted. You will be contacted via the phone number or e-mail address you provided within 24 to 48 hours.</p>
						</div>
					</div>
					<div class="stepModFixed4col" style="border:0">
						<div class="clearfix">
							<p> Thank you for choosing UPS Freight</p>
						</div>
					</div>
					<div class="stepModFixed4col" style="border:0">
						<div class="clearfix">
							<p><a href="repl_name"><span class="arrow-blue">Submit another Freight Rate Request</span></a></p>
						</div>
					</div></td>
				-->

			<h2>Thank You For Your Ocean Freight Rate Request</h2>
			<div class="ups-group">
				<p>Your request for an Ocean Freight Rate Quote has been submitted. You will be contacted via the phone number or e-mail address you provided within 24 to 48 hours.</p>
			</div>
			<p> Thank you for choosing UPS Freight.</p>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design -->
			<!-- ************************************** -->


{{/if}}

<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** ->
				</tr>
		</table>
</form>
-->

      <p><a class="ups-link_light" href="repl_name">Submit another Freight Rate Request</a></p>
    </div>
  </div>
</form>


<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design -->
<!-- ************************************** -->
