---

appId: nbs
dir: rtl
lang: ar
---




<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper">
		<div class="ups-wrap_inner ups-app_nbs">
			<form name="modalsForm">{{> cancel_ship_confirmation_partial}}</form>
		</div>
	</div>
</main>


