{{#if air_freight}}
	<!-- ////////////////////////////////////////////////// -->
	<!-- ////         Begin Air Freight Results        //// -->
	<!-- ////////////////////////////////////////////////// -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
	<!--<div class="stepModFixed4col">
		<div class="stepModHead">
            <h3 class="nostep">Freight Results</h3>
			<div style="clear:both;"> </div>
			<ul>
				<li>
					<input name="repl_name" type="submit" class="btnlnkL" value="&lt; Modify Your Freight Rate Request">
				</li>
			</ul>
			<div style="clear:both;"> </div>
		</div>-->
	<div class="secLvl clearfix">
		<div class="secHead clearfix">
			<h3>
                Freight Results
			    <a href="#" class="ups-link_header pull-right">Modify Your Freight Rate Request</a>
            </h3>
		</div>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

		<table border="0" cellpadding="0" cellspacing="0" class="dataTable">
			<tr>
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
				<!--<th scope="col">Freight Service</th>-->
				<th scope="row col">Freight Service</th>
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: End part of re-design   -->
                <!-- ************************************** -->
				<th scope="col">Total</th>
				<th scope="col" >Ship Date</th>
				<th scope="col" >Expected Delivery<br>
					to Destination<sup>&lowast;</sup></th>
				<th scope="col" >&nbsp;</th>
			</tr>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
			<!--<tr class="odd">
                <td valign="top"><a href="repl_href">UPS Air Freight<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>(Guaranteed)</strong></td>
				<td valign="top" class="color12" nowrap>[nn.nn USD]<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top">[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="Ship" class="btn_a"></td>
            </tr>
			<tr>
				<td valign="top"><a href="repl_href">UPS Air Freight<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>(Non-Guaranteed)</strong></td>
				<td valign="top" class="color12"nowrap>[nn.nn USD]<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top">[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="Ship" class="btn_a"></td>
			</tr>
			<tr class="odd">
				<td valign="top"><a href="repl_href">UPS Air Freight<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>(Guaranteed)</strong></td>
				<td valign="top" class="color12" nowrap>[nn.nn USD]<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Hide Details</a></td>
				<td valign="top">[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top">[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="Ship" class="btn_a"></td>
			</tr>
            <tr class="odd">
				<td colspan="2"><strong>&nbsp; Base Transportion:<br>
					&nbsp; Delivery:<br>
					&nbsp; Pickup:<br>
					&nbsp; <a href="repl_href" class="btnIconR helpIconR">Declared/Insured Value Surcharge:</a><br>
					&nbsp; Fuel Surcharge:<br>
					&nbsp; Security Fee:<br>
					&nbsp; Liftgate Required: <span class="sel">(or other option)</span><br>
					&nbsp; Total:</strong></td>
				<td colspan="3">[nn.nn]][USD]<br>
					[nn.nn]][USD] or [included]<br>
					[nn.nn]][USD] or [included]<br>
					[nn.nn]][USD]<br>
					[nn.nn]][USD]<br>
					[nn.nn]][USD]<br>
					[nn.nn]][USD]<br>
					<strong>[nn.nn USD]</strong></td>
			</tr>
			<tr>
				<td valign="top"><a href="repl_href">UPS Air Freight<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>(Non-Guaranteed)</strong></td>
				<td valign="top" class="color12" nowrap>[nn.nn USD]<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top">[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="Ship" class="btn_a"></td>
			</tr>
			<tr class="odd">
				<td valign="top"><a href="repl_href">UPS CrossBorder Connect<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>(Non-Guaranteed)</strong></td>
				<td valign="top" class="color12" nowrap>[nn.nn USD]<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top">[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="Ship" class="btn_a"></td>
			</tr>
			<tr>
				<td colspan="2"><a href="http://www.ups.com/us/en/shipping/international/services/worldwide-express-freightmidday.page">UPS Worldwide Express Freight Midday<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
				<td colspan="3"><div class="floatEnd"><a href="repl_href">Get a UPS Worldwide Express Freight Quote</a></div></td>
			</tr>
			<tr>
				<td colspan="5">Evaluate content for edits for WWEF mid-day service. UPS Worldwide Express Freight is an International palletized air freight service. Select the quote link to transfer your shipment details for a quote.</td>
			</tr>
			<tr class="odd">
				<td colspan="2"><a href="repl_href">UPS Worldwide Express Freight<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
				<td colspan="3"><div class="floatEnd"><a href="repl_href">Get a UPS Worldwide Express Freight Quote</a></div></td>
			</tr>
			<tr class="odd">
				<td colspan="5">UPS Worldwide Express Freight is an International palletized air freight service. Select the quote link transfer your shipment details for a quote.</td>
			</tr>
			<tr>
				<td colspan="2"><a href="repl_href">UPS Express Critical<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
				<td colspan="3"><div class="floatEnd"><a href="repl_href">Get a UPS Express Critical Quote</a></div></td>
			</tr>
			<tr class="odd">
				<td colspan="2"><strong>All UPS Freight Options</strong></td>
				<td colspan="3"><div class="floatEnd"><a href="repl_href">View UPS Freight Portfolio</a></div></td>
			</tr>
			<tr class="odd">
				<td colspan="5"> Result estimates calculated by UPS:[weekday][mm/dd/yyyy][hh:mm: PM] {[country or territory]}<br>
					Pre-authorization may be required to complete pickup arrangements.<br>
					<sup>&lowast;</sup> Fuel surcharge applied.<br>
					<sup>&lowast;</sup> Destination delivery time may vary by local service conditions and accessorial(s) selected. Day of delivery and any guarantee are conditioned on meeting local pickup time requirements. Please contact your local UPS service center for details.<br>
					<sup>&lowast;</sup> Services subject to <a href="repl_href">UPS Air Freight Terms and Conditions of Contract.<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a></td>
			</tr>-->
			<tr class="odd">
                <td scope="row">
                    <div class="ups-group ups-group_condensed">
                        <p>
                            <a href="repl_href">UPS Air Freight
                            <span class="ups-readerTxt">Open the link in a new window</span></a>
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                        </p>
                        <p><strong>(Guaranteed)</strong></p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[nn.nn USD]</p>
                        <p>
                            <a href="repl_href" class="ups-link_light">Show Details</a>
                            <span class="icon ups-icon-search" aria-hidden="true"></span>
                        </p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[weekday]</p>
                        <p>[mm/dd/yyyy]</p>
                    </div>
                </td>
				<td><p>[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship</button></td>
			</tr>
			<tr>
                <td scope="row">
                    <div class="ups-group ups-group_condensed">
                        <p>
                            <a href="repl_href">UPS Air Freight
                            <span class="ups-readerTxt">Open the link in a new window</span></a>
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                        </p>
                        <p><strong>(Non-Guaranteed)</strong></p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[nn.nn USD]</p>
                        <p>
                            <a href="repl_href" class="ups-link_light">Show Details</a>
                            <span class="icon ups-icon-search" aria-hidden="true"></span>
                        </p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[weekday]</p>
                        <p>[mm/dd/yyyy]</p>
                    </div>
                </td>
				<td><p>[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship</button></td>
			</tr>
			<tr class="odd">
                <td scope="row">
                    <div class="ups-group ups-group_condensed">
                        <p>
                            <a href="repl_href">UPS Air Freight
                            <span class="ups-readerTxt">Open the link in a new window</span></a>
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                        </p>
                        <p><strong>(Guaranteed)</strong></p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[nn.nn USD]</p>
                        <p>
                            <a href="repl_href" class="ups-link_light">Show Details</a>
                            <span class="icon ups-icon-search" aria-hidden="true"></span>
                        </p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[weekday]</p>
                        <p>[mm/dd/yyyy]</p>
                    </div>
                </td>
				<td><p>[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship</button></td>
			</tr>
            <tr class="odd">
                <td colspan="5">
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>Base Transportion</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <p>[nn.nn]][USD]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>Delivery</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <p>[nn.nn]][USD] or [included]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>Pickup</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <p>[nn.nn]][USD] or [included]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p><a href="repl_href" class="btnlnkR helpIconR">Declared/Insured Value Surcharge:</a></p>
                        </div>
                        <div class="col-xs-6">
                            <p>[nn.nn]][USD]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>Fuel Surcharge</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <p>[nn.nn]][USD]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>Security Fee</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <p>[nn.nn]][USD]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>Liftgate Required</strong> (or other option)</p>
                        </div>
                        <div class="col-xs-6">
                            <p>[nn.nn]][USD]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>Total</strong></p>
                        </div>
                        <div class="col-xs-6">
                            <p><strong>[nn.nn]][USD]</strong></p>
                        </div>
                    </div>
                </td>
            </tr>
			<tr>
                <td scope="row">
                    <div class="ups-group ups-group_condensed">
                        <p>
                            <a href="repl_href">UPS Air Freight
                            <span class="ups-readerTxt">Open the link in a new window</span></a>
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                        </p>
                        <p><strong>(Non-Guaranteed)</strong></p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[nn.nn USD]</p>
                        <p>
                            <a href="repl_href" class="ups-link_light">Show Details</a>
                            <span class="icon ups-icon-search" aria-hidden="true"></span>
                        </p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[weekday]</p>
                        <p>[mm/dd/yyyy]</p>
                    </div>
                </td>
				<td><p>[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship</button></td>
			</tr>
            <tr>
                <td scope="row">
                    <div class="ups-group ups-group_condensed">
                        <p>
                            <a href="repl_href">UPS CrossBorder Connect
                            <span class="ups-readerTxt">Open the link in a new window</span></a>
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                        </p>
                        <p><strong>(Non-Guaranteed)</strong></p>
                    </div>
                </td>
                <td>
                    <div class="ups-group ups-group_condensed">
                        <p>[nn.nn USD]</p>
                        <p>
                            <a href="repl_href" class="ups-link_light">Show Details</a>
                            <span class="icon ups-icon-search" aria-hidden="true"></span>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="ups-group ups-group_condensed">
                        <p>[weekday]</p>
                        <p>[mm/dd/yyyy]</p>
                    </div>
                </td>
                <td><p>[hh:mm:PM],<br>
                    [weekday]<br>
                    [mm/dd/yyyy]</td>
                <td><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship</button></td>
            </tr>
			<tr class="odd">
                <td scope="row">
                    <div class="ups-group ups-group_condensed">
                        <p>
                            <a href="repl_href">UPS Air Freight
                            <span class="ups-readerTxt">Open the link in a new window</span></a>
                            <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                        </p>
                        <p><strong>(Guaranteed)</strong></p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[nn.nn USD]</p>
                        <p>
                            <a href="repl_href" class="ups-link_light">Show Details</a>
                            <span class="icon ups-icon-search" aria-hidden="true"></span>
                        </p>
                    </div>
                </td>
				<td>
                    <div class="ups-group ups-group_condensed">
                        <p>[weekday]</p>
                        <p>[mm/dd/yyyy]</p>
                    </div>
                </td>
				<td><p>[hh:mm:PM],<br>
					[weekday]<br>
					[mm/dd/yyyy]</td>
				<td><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship</button></td>
			</tr>
			<tr>
                <td scope="row" colspan="5">
                    <p>
                        <a href="http://www.ups.com/us/en/shipping/international/services/worldwide-express-freightmidday.page">UPS Worldwide Express Freight Midday
                        <span class="ups-readerTxt">Open the link in a new window</span></a>
                        <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                    </p>
                    <p>
                        <a href="repl_href">Get a UPS Worldwide Express Freight Quote</a>
                    </p>
                    <p>Evaluate content for edits for WWEF mid-day service. UPS Worldwide Express Freight is an International palletized air freight service. Select the quote link to transfer your shipment details for a quote.</p>
                </td>
			</tr>
			<tr class="odd">
                <td scope="row" colspan="5">
                    <p>
                        <a href="repl_href">UPS Worldwide Express Freight
                        <span class="ups-readerTxt">Open the link in a new window</span></a>
                        <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                        <span class="pull-right"><a href="repl_href">Get a UPS Worldwide Express Freight Quote</a></span>
                    </p>
                    <p>UPS Worldwide Express Freight is an International palletized air freight service. Select the quote link to transfer your shipment details for a quote.</p>
                </td>
			</tr>
			<tr class="odd">
                <td scope="row" colspan="2">
                    <p>
                        <a href="repl_href">UPS Express Critical
                        <span class="ups-readerTxt">Open the link in a new window</span></a>
                        <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                    </p>
                </td>
				<td colspan="3"><div class="floatEnd"><a href="repl_href">Get a UPS Express Critical Quote</a></div></td>
			</tr>
			<tr class="odd">
				<td scope="row" colspan="5">
                    <p><strong>All UPS Freight Options</strong><a href="repl_href" class="pull-right">View UPS Freight Portfolio</a></p>
                    <p>Result estimates calculated by UPS:[weekday][mm/dd/yyyy][hh:mm: PM] {[country or territory]}</p>
					<p>Pre-authorization may be required to complete pickup arrangements.</p>
					<p><sup>&lowast;</sup> Fuel surcharge applied.</p>
					<p><sup>&lowast;</sup> Destination delivery time may vary by local service conditions and accessorial(s) selected. Day of delivery and any guarantee are conditioned on meeting local pickup time requirements. Please contact your local UPS service center for details.</p>
					<p><sup>&lowast;</sup> Services subject to <a href="repl_href">UPS Air Freight Terms and Conditions of Contract.<span class="ups-readerTxt">Open the link in a new window</span></a> <span class="icon ups-link_newwindow" aria-hidden="true"></span></p>
                </td>
			</tr>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
		</table>
	</div>

	<!-- ////////////////////////////////////////////////// -->
	<!-- ////         End Air Freight Results          //// -->
	<!-- ////  Begin Air Freight Rate Request Details  //// -->
	<!-- ////////////////////////////////////////////////// -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
	<!--<div class="stepModFixed4col">
		<div class="stepModHead">
			<!--<h3 class="nostep">Freight Rate Request Details</h3>
			<div style="clear:both;"> </div>
		</div>
		<div class="stepModContent">
			<dl role="presentation" class="outHozFixed2">
                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
    			<!--<dt> <strong>Ship To:</strong> </dt>
				<dd>[City][State][Postal Code][Country or Territory]</dd>
				<dt> <strong>Ship From:</strong> </dt>
				<dd>[City][State][Postal Code][Country or Territory]</dd>
				<dt> <strong>Shipment Date:</strong> </dt>
				<dd>[Weekday],[MM/DD/YYYY]</dd>
				<dt> <strong>Payment Terms</strong> </dt>
				<dd>[Prepaid]</dd>
				<dt> <strong>Declared/Insured Valuee</strong></dt>
				<dd> [nn.nn USD]</dd>
				<dt> <strong>Actual Weight:</strong> </dt>
				<dd>[0000][lbs / kg]</dd>
				<dt> <strong>Dimensional Weight:</strong> </dt>
				<dd>[0000][lbs / kg]</dd>
				<dt> <strong>Billable Weight:</strong> </dt>
				<dd>[0000][lbs / kg]</dd>
				<dt> <strong>UPS Account Number:</strong> </dt>
				<dd>[NNYNNY][nickname] or [123456789][nickname]</dd>
			</dl>
        </div>
    </div>-->
    <div class="secLvl clearfix">
		<div class="secHead clearfix"><h3>Freight Rate Request Details</h3></div>
		<div class="secBody">
            <div class="ups-group">
            <div class="row">
                <div class="col-xs-5"><strong>Ship To</strong></div>
                <div class="col-xs-7">[City][State][Postal Code][Country or Territory]</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Ship From</strong></div>
                <div class="col-xs-7">[City][State][Postal Code][Country or Territory]</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Shipment Date</strong></div>
                <div class="col-xs-7">[Weekday],[MM/DD/YYYY]</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Payment Terms</strong></div>
                <div class="col-xs-7">[Prepaid]</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Declared/Insured Value</strong></div>
                <div class="col-xs-7">[nn.nn USD]</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>Actual Weight</strong></div>
                <div class="col-xs-7">[0000][lbs/kg]</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong><a href="repl_href" class="btnlnkR helpIconR">Dimensional Weight</a></strong></div>
                <div class="col-xs-7">[0000][lbs/kg]</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong><a href="repl_href" class="btnlnkR helpIconR">Billable Weight</a></strong></div>
                <div class="col-xs-7">[0000][lbs/kg]</div>
            </div>
            <div class="row">
                <div class="col-xs-5"><strong>UPS Account Number</strong></div>
                <div class="col-xs-7">[NNYNNY][nickname] or [123456789][nickname]</div>
            </div>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
		</div>
        </div>
	</div>

	<!-- ////////////////////////////////////////////////// -->
	<!-- ////   End Air Freight Rate Request Details   //// -->
	<!-- ////            Begin Prices Detail           //// -->
	<!-- ////////////////////////////////////////////////// -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
	<!--<div class="stepModFixed4col">
		<div class="stepModHead">
			<h3 class="nostep">Prices Detail</h3>
			<div style="clear:both;"> </div>
		</div>
		<div class="stepModContent">
			<div class="marginBegin subcol6 clearfix">
				<dl>
					<dt> <span class="label">Quantity</span> </dt>
					<dd>{n}</dd>
					<dt> <span class="label">Selected Options</span> </dt>
					<dd>{Liftgate Required}<br>
						{Customer selected option}</dd>
				</dl>
			</div>
			<div style="text-align: left;" class="marginEnd subcol9 clearfix">
				<dl class="flexFirstPad clearfix">
					<dt> <span class="label">Dimensions / Type</span> </dt>
					<dd>{40} x {40} x {30} {in.} / {Pallets}</dd>
				</dl>
				<dl class="flexAfterPad clearfix">
					<dt> <span class="label">Weight Each</span> </dt>
					<dd>{200} {lbs}</dd>
				</dl>
			</div>
			<div class="clear"></div>
        </div>
    </div>-->
    <div class="secLvl clearfix">
		<div class="secHead clearfix"><h3>Piices Detail</h3></div>
		<div class="secBody">
            <div class="row">
                <div class="col-xs-3">
                    <div class="ups-group ups-group_condensed">
                        <p><strong>Quantity</strong></p>
                        <p>{n}</p>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="ups-group ups-group_condensed">
                        <p><strong>Dimensions / Type</strong></p>
                        <p>{40} x {40} x {30} {in.} / {Pallets}</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="ups-group ups-group_condensed">
                        <p><strong>Weight Each</strong></p>
                        <p>{200} {lbs}</p>
                    </div>
                </div>
            </div>
            <div class="ups-group ups-group_condensed">
                <p><strong>Selected Options</strong></p>
                <p>{Liftgate Required}</p>
                <p>{Customer selected option}</p>
            </div>
		</div>
	</div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

	<!-- ////////////////////////////////////////////////// -->
	<!-- ////            End Prices Detail             //// -->
{{/if}}
{{#if ltl}}
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
	<!--<div class="stepModFixed4col">
		<div class="stepModHead">
			<h3 class="nostep">Less Than-Truckload Freight Results</h3>
			<ul>
				<li>
					<input name="repl_name" type="submit" class="btnlnkL" value="&lt; Modify Your LTL Rate Request">
				</li>
			</ul>
			<div style="clear:both;"> </div>
		</div>
		<table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
			<tr>
				<th scope="col">LTL Freight Services</th>
				<th scope="col">Total</th>
				<th scope="col" colspan="2">Days in Transit</th>
			</tr>
			<tr class="odd">
				<td valign="top"><a href="repl_href">UPS Freight LTL Guaranteed A.M.<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>Guaranteed by 12 PM</strong></td>
				<td valign="top" nowrap>nnn.nn USD*<br>
					Non-Contract<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">n</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="ship ltl" class="btn_a"></td>
			</tr>
			<tr class="odd">
				<td valign="top"><a href="repl_href">UPS Freight LTL Guaranteed<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>Guaranteed by End of Day</strong></td>
				<td valign="top" nowrap>nnn.nn USD*<br>
					Non-Contract<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">n</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="ship ltl" class="btn_a"></td>
			</tr>
			<tr class="odd">
				<td valign="top"><a href="repl_href">UPS Freight LTL<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>Guaranteed by End of Day</strong></td>
				<td valign="top" nowrap>nnn.nn USD*<br>
					Non-Contract<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">n</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="ship ltl" class="btn_a"></td>
			</tr>
			<tr class="odd">
				<td valign="top"><a href="repl_href">UPS Freight LTL<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>Non-Guaranteed by End of Day</strong></td>
				<td valign="top" nowrap>nnn.nn USD*<br>
					Non-Contract<br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">n</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="ship ltl" class="btn_a"></td>
			</tr>
		</table>
        {{#if gfp}}<table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
			<tbody><tr>
				<th scope="col">Ground Service</th>
				<th scope="col">Total</th>
				<th scope="col" colspan="2">Days in Transit</th>
			</tr>
			<tr class="odd">
				<td valign="top"><a href="repl_href">UPS Ground with Freight Pricing<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_popup_blue.gif" alt="" height="9" width="9" border="0"></a> <br>
					<strong>Guaranteed By:</strong> <br>
					[hh:mm PM] <br>
					[Weekday] <br>
					[mm/dd/yyyy]</td>
				<td valign="top" nowrap="">nnn.nn USD<sup>∗</sup> <br>
					<a href="repl_href"><img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img src="/img/1.gif" alt="" width="3" height="1" border="0">Show Details</a></td>
				<td valign="top">n</td>
				<td valign="top" class="marginEnd"><input name="repl_name" type="submit" value="Ship" class="btn_a"></td>
			</tr>
			<tr class="odd">
				<td colspan="4"> UPS Ground with Freight Pricing shipments are moved via the <strong>UPS Package</strong> system and must conform to the <a href="repl_href">UPS Tariff <img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"></a>, including constraints on weight, demensions, and packaging.</td>
			</tr>
			<tr class="odd">
				<td colspan="4"><strong>Note:</strong> This UPS Ground with Freight Pricing rate includes a security surcharge.</td>
			</tr>
		</tbody></table>
        {{/if}}
		<table border="0" cellpadding="0" cellspacing="0" class="dataTable full tableBorder">
			<thead>
			<th colspan="2">Other Available Freight Services</th>
					</thead>
			<tbody>
				<tr class="odd">
					<td valign="top">&nbsp;<strong>UPS Freight Urgent</strong>
						<p>Trust UPS Freight for your time-critical shipments. Our seamless, multimodal transportation network gets your shipments where they need to be.</p></td>
					<td valign="top" nowrap=""><a href="repl_href">Learn About UPS Freight Urgent</a></td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" class="dataTable full table">
			<thead>
			<th colspan="2">All UPS Freight Options</th>
					</thead>
			<tbody>
				<tr class="odd end">
					<td valign="top"><p>UPS can help streamline your global supply chain through end-to-end transportation and freight solutions to reach customers worldwide.</p></td>
					<td valign="top" nowrap=""><a href="repl_href">View UPS Freight Portfolio</a></td>
				</tr>
			</tbody>
		</table>
		<p>Result estimates calculated by UPS: [Weekday], [mm/dd/yyyy] [hh:mm: PM] [time zone] ([country or territory])</p>
		<p>You must ship online using UPS Internet Freight Shipping in order to take advantage of the discounted rates above.</p>
		<p><sup>&lowast;</sup> Requires pre-authorization to complete pickup arrangements.</p>
	</div> -->
	<div class="secLvl clearfix">
		<div class="secHead clearfix">
			<h3>
                Less Than-Truckload Freight Results
			    <a href="#" class="ups-link_header pull-right">Modify Your LTL Freight Rate Request</a>
            </h3>
		</div>
		<table border="0" cellpadding="0" cellspacing="0" class="dataTable full table">
			<thead>
                <tr>
    				<th scope="row col">LTL Freight Service</th>
    				<th scope="col">Total</th>
    				<th scope="col" colspan="2">Days in Transit</th>
    			</tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td scope="row" nowrap>
                        <div class="ups-group ups-group_condensed">
                            <p>
                                <a href="repl_href">UPS Freight LTL Guaranteed A.M.
                                <span class="ups-readerTxt">Open the link in a new window</span></a>
                                <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                            </p>
                            <p><strong>Guaranteed by 12 PM</strong></p>
                            <p>Weekday</p>
                            <p>mm/dd/yyy</p>
                        </div>
                    </td>
    				<td nowrap>
                        <div class="ups-group ups-group_condensed">
                            <p>[nn.nn USD]<sup>&lowast;</sup></p>
                            <p>Non-Contact</p>
                            <p>
                                <a href="repl_href" class="ups-link_light">Show Details</a>
                                <span class="icon ups-icon-search" aria-hidden="true"></span>
                            </p>
                        </div>
                    </td>
    				<td>n</td>
    				<td nowrap><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship LTL</button></td>
    			</tr>
    			<tr class="odd">
                    <td scope="row" nowrap>
                        <div class="ups-group ups-group_condensed">
                            <p>
                                <a href="repl_href">UPS Freight LTL Guaranteed
                                <span class="ups-readerTxt">Open the link in a new window</span></a>
                                <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                            </p>
                            <p><strong>Guaranteed End of Day</strong></p>
                            <p>Weekday</p>
                            <p>mm/dd/yyy</p>
                        </div>
                    </td>
    				<td nowrap>
                        <div class="ups-group ups-group_condensed">
                            <p>[nn.nn USD]<sup>&lowast;</sup></p>
                            <p>Non-Contact</p>
                            <p>
                                <a href="repl_href" class="ups-link_light">Show Details</a>
                                <span class="icon ups-icon-search" aria-hidden="true"></span>
                            </p>
                        </div>
                    </td>
    				<td>n</td>
    				<td nowrap><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship LTL</button></td>
    			</tr>
    			<tr class="odd">
                    <td scope="row" nowrap>
                        <div class="ups-group ups-group_condensed">
                            <p>
                                <a href="repl_href">UPS Freight LTL
                                <span class="ups-readerTxt">Open the link in a new window</span></a>
                                <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                            </p>
                            <p><strong>Guaranteed End of Day</strong></p>
                            <p>Weekday</p>
                            <p>mm/dd/yyy</p>
                        </div>
                    </td>
    				<td nowrap>
                        <div class="ups-group ups-group_condensed">
                            <p>[nn.nn USD]<sup>&lowast;</sup></p>
                            <p>Non-Contact</p>
                            <p>
                                <a href="repl_href" class="ups-link_light">Show Details</a>
                                <span class="icon ups-icon-search" aria-hidden="true"></span>
                            </p>
                        </div>
                    </td>
    				<td>n</td>
    				<td nowrap><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship LTL</button></td>
    			</tr>
    			<tr class="odd">
                    <td scope="row" nowrap>
                        <div class="ups-group ups-group_condensed">
                            <p>
                                <a href="repl_href">UPS Freight LTL
                                <span class="ups-readerTxt">Open the link in a new window</span></a>
                                <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                            </p>
                            <p><strong>Non-Guaranteed End of Day</strong></p>
                            <p>Weekday</p>
                            <p>mm/dd/yyy</p>
                        </div>
                    </td>
    				<td nowrap>
                        <div class="ups-group ups-group_condensed">
                            <p>[nn.nn USD]<sup>&lowast;</sup></p>
                            <p>Non-Contact</p>
                            <p>
                                <a href="repl_href" class="ups-link_light">Show Details</a>
                                <span class="icon ups-icon-search" aria-hidden="true"></span>
                            </p>
                        </div>
                    </td>
    				<td>n</td>
    				<td nowrap><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship LTL</button></td>
    			</tr>
            {{#if gfp}}</tbody>
    			<thead>
                    <tr>
        				<th scope="row col">Ground Service</th>
        				<th scope="col">Total</th>
        				<th scope="col" colspan="2">Days in Transit</th>
        			</tr>
                <thead>
                <tbody>
    		        <tr class="odd">
        				<td>
                            <div class="ups-group ups-group_condensed">
                                <p>
                                    <a href="repl_href">UPS Ground (Freight Pricing)
                                    <span class="ups-readerTxt">Open the link in a new window</span></a>
                                    <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                                </p>
                                <p><strong>Guaranteed By:</strong></p>
                                <p>[hh:mm PM / End of Day]</p>
                                <p>[Saturday]</p>
                                <p>[mm/dd/yyyy]</p>
                            </div>
                        </td>
        				<td nowrap>
                            <div class="ups-group ups-group_condensed">
                                <p>[nn.nn USD]<sup>&lowast;</sup></p>
                                <p>
                                    <a href="repl_href" class="ups-link_light">Show Details</a>
                                    <span class="icon ups-icon-search" aria-hidden="true"></span>
                                </p>
                            </div>
                        </td>
        				<td>n</td>
        				<td><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship</button></td>
        			</tr>
                    <tr class="odd">
                        <td>
                            <div class="ups-group ups-group_condensed">
                                <p>
                                    <a href="repl_href">UPS Ground (Freight Pricing)
                                    <span class="ups-readerTxt">Open the link in a new window</span></a>
                                    <span class="icon ups-link_newwindow" aria-hidden="true"></span>
                                </p>
                                <p><strong>Guaranteed By:</strong></p>
                                <p>[hh:mm PM]</p>
                                <p>[Weekday]</p>
                                <p>[mm/dd/yyyy]</p>
                            </div>
                        </td>
                        <td nowrap>
                            <div class="ups-group ups-group_condensed">
                                <p>[nn.nn USD]<sup>&lowast;</sup></p>
                                <p>
                                    <a href="repl_href" class="ups-link_light">Show Details</a>
                                    <span class="icon ups-icon-search" aria-hidden="true"></span>
                                </p>
                            </div>
                        </td>
                        <td>n</td>
                        <td><button name="repl_name" type="submit" class="ups-cta ups-cta_primary">Ship</button></td>
                    </tr>
        			<tr class="odd">
        				<td colspan="4">
                            <p>UPS Ground (Freight Pricing) shipments are moved via the <strong>UPS Package</strong> system and must conform to the <a href="repl_href" class="ups-link_light btnlnkR helpIconR indent">UPS Tariff</a>, including constraints on weight, demensions, and packaging.</p>
                            <p><strong>Note:</strong> This UPS Ground with Freight Pricing rate includes a security surcharge.</p>
                        </td>
        			</tr>
                {{/if}}
            </tbody>
		</table>
		<table border="0" cellpadding="0" cellspacing="0" class="dataTable full table">
			<thead>
                <tr>
                    <th scope="row col" colspan="2">Other Available Freight Services</th>
                </tr>
			</thead>
			<tbody>
				<tr class="odd">
					<td scope="row">
                        <p><strong>UPS Freight Urgent</strong></p>
						<p>Trust UPS Freight for your time-critical shipments. Our seamless, multimodal transportation network gets your shipments where they need to be.</p>
                    </td>
					<td nowrap=""><a href="repl_href">Learn About UPS Freight Urgent</a></td>
				</tr>
			</tbody>
			<thead>
	            <th colspan="2">All UPS Freight Options</th>
			</thead>
			<tbody>
				<tr class="odd">
					<td scope="row"><p>UPS can help streamline your global supply chain through end-to-end transportation and freight solutions to reach customers worldwide.</p></td>
					<td nowrap=""><a href="repl_href">View UPS Freight Portfolio</a></td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body">
            <p>Result estimates calculated by UPS: [Weekday], [mm/dd/yyyy] [hh:mm: PM] [time zone] ([country or territory])</p>
    		<p>You must ship online using UPS Internet Freight Shipping in order to take advantage of the discounted rates above.</p>
    		<p><sup>&lowast;</sup> Requires pre-authorization to complete pickup arrangements.</p>
        </div>
	</div>
	<!-- ////        Begin Shipment Information        //// -->
	<!-- ////////////////////////////////////////////////// -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
	<!--<div class="stepModFixed4col">
		<div class="stepModHead">
			<h3 class="nostep">Shipment Information</h3>
			<div style="clear:both;"> </div>
		</div>
		<div class="stepModContent">
			<div class="outHozFixed2">
				<dl>
					<dt> <strong>Ship To:</strong> </dt>
					<dd>[Postal Code][Country or Territory]</dd>
					<dt> <strong>Ship From:</strong> </dt>
					<dd>[City][State][Postal Code][Country or Territory]</dd>
					<dt> <strong>Shipment Date:</strong> </dt>
					<dd>[weekday],[mm/dd/yyyy]</dd>
					<dt> <strong>Declared Value:</strong> </dt>
					<dd>[nn.nn USD]</dd>
					<dt> <strong>Destination Type:</strong> </dt>
					<dd>[Residential / Commercial]</dd>
					<dt> <strong>UPS Account Number:</strong> </dt>
					<dd>[NNYNNY] <span class="indent"> <a href="repl_href">[Negotiated Rates [Not] Applied]</a></span></dd>
				</dl>
			</div>
		</div>
	</div>-->
	<div class="secLvl clearfix">
		<div class="secHead clearfix">
			<h3>Shipment Information</h3>
		</div>
		<div class="secBody">
            <div class="ups-group">
    			<div class="row">
    				<div class="col-xs-5"> <strong>Ship To</strong> </div>
    				<div class="col-xs-7">[Postal Code][Country or Territory]</div>
                </div>
    			<div class="row">
    				<div class="col-xs-5"> <strong>Ship From</strong> </div>
<<<<<<< HEAD
    				<div class="col-xs-7">[Postal Code][Country]</div>
=======
    				<div class="col-xs-7">[City][State][Postal Code][Country or Territory]</div>
>>>>>>> Gold
                </div>
    			<div class="row">
    				<div class="col-xs-5"> <strong>Shipment Date</strong> </div>
    				<div class="col-xs-7">[weekday],[mm/dd/yyyy]</div>
                </div>
    			<div class="row">
    				<div class="col-xs-5"> <strong>Declared Value</strong> </div>
    				<div class="col-xs-7">[nn.nn USD]</div>
                </div>
    			<div class="row">
    				<div class="col-xs-5"> <strong>Destination Type</strong> </div>
    				<div class="col-xs-7">[Residential / Commercial]</div>
                </div>
    			<div class="row">
    				<div class="col-xs-5"> <strong>UPS Account Number</strong> </div>
    				<div class="col-xs-7">[NNYNNY] <span class="indent"> <a href="repl_href">[Negotiated Rates [Not] Applied]</a></span></div>
    			</div>
                <div class="row">
                    <div class="col-xs-5"> <strong>Relation to Shipper</strong> </div>
                    <div class="col-xs-7">[value from previous page]</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"> <strong>Third Party Country</strong> </div>
                    <div class="col-xs-7">[value from previous page]</div>
                </div>
                <div class="row">
                    <div class="col-xs-5"> <strong>Third Party Postal Code</strong> </div>
                    <div class="col-xs-7">[value from previous page]</div>
                </div>
            </div>
		</div>
	</div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

	<!-- ////////////////////////////////////////////////// -->
	<!-- ////         End Shipment Information         //// -->
	<!-- //// Begin LTL-Freight Origin and Destination //// -->
	<!-- ////////////////////////////////////////////////// -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
	<!--<div class="stepModFixed4col">
		<div class="stepModHead">
			<h3 class="nostep">{less-than-truckload origin and destination header text}</h3>
			<div style="clear:both;"> </div>
		</div>
		<div class="stepModContent">
			<div class="outHozFixed2">
				<dl>
					<dt> <strong>Origin:</strong> </dt>
					<dd>[ZIP][Country or Territory]</dd>
					<dt> <strong>Destination:</strong> </dt>
					<dd>[ZIP][Country or Territory]</dd>
					<dt> <strong>Service Standard:</strong> </dt>
					<dd>[n] Days</dd>
				</dl>
			</div>
		</div>
	</div>-->
    <div class="secLvl clearfix">
		<div class="secHead clearfix">
			<h3>Less-Than-Truckload Origin and Destination</h3>
		</div>
		<div class="secBody">
            <div class="ups-group">
    			<div class="row">
    				<div class="col-xs-5"> <strong>Origin</strong> </div>
    				<div class="col-xs-7">[ZIP][Country or Territory]</div>
                </div>
    			<div class="row">
    				<div class="col-xs-5"> <strong>Destination</strong> </div>
    				<div class="col-xs-7">[ZIP][Country or Territory]</div>
                </div>
    			<div class="row">
    				<div class="col-xs-5"> <strong>Service Standard</strong> </div>
    				<div class="col-xs-7">[n] Days</div>
    			</div>
            </div>
		</div>
	</div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
	<!-- ////////////////////////////////////////////////// -->
	<!-- ////  End LTL-Freight Origin and Destination  //// -->
	<!-- ////               Begin Footer               //// -->
	<!-- ////////////////////////////////////////////////// -->
{{/if}}
<!-- ////////////////////////////////////////////////// -->

<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** -->
<!--<div class="modFixed4col">
	<div class="modHead">
		<h3>Next Steps and Notices</h3>
	</div>
	<div class="modContent">
		<p><a href="repl_href">Modify Your LTL Freight Rate Request</a></p>
		<p><a href="repl_href">Get Another Freight Rate Request</a></p>
	</div>
</div>-->
<h3>Next Steps and Notices</h3>
<p><a href="repl_href" class="ups-link_light">Modify Your LTL Freight Rate Request</a></p>
<p><a href="repl_href" class="ups-link_light">Get Another Freight Rate Request</a></p>
<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design   -->
<!-- ************************************** -->
{{#if air_freight}}
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
	<!-- removed these divs
    <div class="stepModFixed4col" style="border:0">
    	<div class="modContent">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
	<h3>Guarantees and Notices</h3>
	<p>On-schedule delivery of UPS Next Day Air<sup>&reg;</sup> Freight, UPS 2nd Day Air<sup>&reg;</sup> Freight, UPS 3 Day Freight <sup>SM</sup> and UPS Express <sup>SM</sup> Freight, where such services are available, is guaranteed pursuant to the <a href="repl_href">UPS Air Freight Terms and Conditions of Contract<span class="ups-readerTxt">Open the link in a new window</span></a><span class="icon ups-link_newwindow" aria-hidden="true"></span>. Guaranteed Service is not available in all locations and scheduled business days and delivery schedules are revised occasionally due to changes in distribution and volume. Service to some remote areas may require additional delivery days. For current service information, visit the <a href="repl_href">Service Guide</a><span class="icon ups-link_newwindow" aria-hidden="true"></span>.</p>
	<p><strong>Please also note:</strong> Shipping rates quoted are estimates based on the information you have supplied and are for reference purposes only. Displayed shipping rates may not include exact fuel surcharges, or all applicable taxes, shipping charges, surcharges and fees. Customs clearance fees for shipments moving between the U.S., Canada, and PUerto Rico are not included in the shipping rate quoted. Your final shipping charge may differ based on your shipper characteristics and the characteristics of, and services requested for, shipments actually tendered to UPS. See the UPS Air Freight Terms and Conditions of Contract and the UPS Air Freight Services description in the <a href="repl_href">Service Guide</a><span class="icon ups-link_newwindow" aria-hidden="true"></span>.</p>
	<p>Rates quoted here are based on either UPS published rates or specially-negotiated rates. For questions regarding a rate quote call <a href="tel:18004436379">1-800-443-6379</a> or contact your local SCS service center. You can use the <a href="repl_href">UPS Supply Chain Solutions Global Directory</span></a><span class="icon ups-link_newwindow" aria-hidden="true"></span> to find your local contact (in English only). Rates and services may vary at retail locations.</p>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
	<!-- removed these divs
    	</div>
    </div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
{{else}}
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- removed in reskin
	<div class="modFixed4col">
		<div class="modHead">
			<h3>{{#if ltl_freight}}<a href="repl_href">{{/if}}Guarantees and Notices{{#if ltl_freight}}</a>{{/if}}</h3>
			<div style="clear:both;"> </div>
		</div>
		<div class="modContent">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
    <h3>{{#if ltl_freight}}<a href="repl_href">{{/if}}Guarantees and Notices{{#if ltl_freight}}</a>{{/if}}</h3>
    <div class="ups-group">
        <p><strong>Notice</strong></p>
    	<p>Freight charges provided are estimates based on the information entered. Freight charges may differ based on actual shipment characteristics, services requested and date of shipment. Cargo liability limits apply. For rules, services and information on cargo liability limits, see the UPS Freight Rules Tariff. Rates quoted may be based on UPS Freight published rates or specially negotiated rates.</p>
    </div>
    <div class="ups-group">
    	<p><strong>Guarantee</strong></p>
    	<p>UPS Freight's on-time delivery guarantee applies to  less than truckload shipments between direct points in the contiguous United States subject to the current UPS Freight tariff. For customers on a customized base rates tariff, UPS Freight will guarantee on-time delivery for a surcharge. Restrictions apply. See <a href="repl_href" class="ups-link_light">the UPS Freight Rules Tariff</a> for applicable terms and conditions.</p>
    </div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- removed in reskin
		</div>
	</div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
{{/if}}

	<!-- ////////////////////////////////////////////////// -->
	<!-- ////                End Footer                //// -->
	<!-- ////////////////////////////////////////////////// -->
