<form action="repl_fname" class="ups-application_wrapper ups-form_wrap">
	<table width="566" border="0" cellspacing="0" cellpadding="0" class="mod">
        <tr>
    		<th>
                <div class="head-col4">
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
					<!--<h2>Freight Time and Cost Summary</h2>
					<ul>
						<li>
							<input name="Input" class="btnlnkR printmini" value="Print" type="submit">
						</li>
					</ul>
					<div class="clearfix"> </div>-->
					<h2>
                        Freight Time and Cost Summary
                        <a href="#" class="ups-link_header pull-right">Print</a>
                    </h2>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->
				</div>
            </th>
		</tr>
        <tr>
			<td>

				<!-- ////////////////////////////////////////////////// -->
				<!-- ////         Begin Visual Message Box         //// -->
				<!-- ////////////////////////////////////////////////// -->

                <!-- ************************************** -->
                <!-- REDESIGN EDIT: Start part of re-design -->
                <!-- ************************************** -->
				<!--<div class="stepModFixed4col" style="border-color:#FFD124;background-color:#FFF2AC;">

					<div class="clearfix">
						<p>[Your shipment weighs less than the UPS CrossBorder Connect minimum contracted weight.  It is rated at the minimum contracted weight.]</p>
					</div>
				</div>
				<div class="stepModFixed4col" style="border:0">
					<p>[Based on the selected destination, 1 or more additional days time in transit may apply.]</p>
				</div>-->
				<div class="panel panel-info">
					<!-- Begin Sub Section Body -->
					<div class="panel-body">
						<p>[Your shipment weighs less than the UPS CrossBorder Connect minimum contracted weight.  It is rated at the minimum contracted weight.]</p>
					</div>
					<!-- End Sub Section Body -->
				</div>
				<p>[Based on the selected destination, 1 or more additional days time in transit may apply.]</p>
				<!-- ************************************** -->
                <!-- REDESIGN EDIT: End part of re-design   -->
                <!-- ************************************** -->

				<!-- ////////////////////////////////////////////////// -->
				<!-- ////           End Visual Message Box         //// -->
				<!-- ////////////////////////////////////////////////// -->

				{{> "ct1_shi_ftc(3ltr)_fctc_time_cost_summary_partial"}}

			</td>
		</tr>
	</table>
</form>
