
<div class="appLvl col12 mod">
	<fieldset>
		<!-- Begin Applicaiton Header -->
		<div class="appHead clearfix">
			<h2>Verify Your Shipment Information</h2>
			<!--<ul>
                    <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                </ul>--> 
		</div>
		<!-- End Application Header --> 
		
		<!-- Begin Application Body -->
		<div class="appBody clearfix"> 
			
			<!-- Begin Section Module -->
			<div class="secLvl secLvlPlain clearfix"> 
				
				<!-- Begin Section Body -->
				<div class="secBody">
					<p>Shipment information for the Tracking Number you entered is listed below.  If the information is correct for the charges you wish to void, select "Void Shipment" to complete the transaction.</p>
					<h3>Verify Void Request</h3>
					<dl class="outHozFixed clearfix">
						<dt><span class="label">Original Scheduled Pickup Date:</span></dt>
						<dd>[Weekday, Month, dd, yyyy]</dd>
						<dt><span class="label">Shipped To:</span></dt>
						<dd>[City, State, Country or Territory, ZIP/<br>
							Postal Code]</dd>
						<dt><span class="label">Service:</span></dt>
						<dd>[UPS Service Name]</dd>
					</dl>
					<div class="clear"></div>
					<table class="dataTable full" border="0" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>Tracking Number</th>
								<th>{Package/Pallet} Weight</th>
								<th>{Package/Pallet} Status</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd">
								<td>1Z905AW0300043918</td>
								<td>0.00</td>
								<td>[Tracking or Void Status]</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- End Section Body --> 
				
			</div>
			<!-- End Section Module --> 
			
		</div>
		<!-- End Application Body --> 
		
		<!-- Begin Application Footer -->
		<div class="appFooter"> 
			
			<!-- Begin Button Bar Row -->
			<div class="btnBar">
				<input name="repl_name" type="button" value="Cancel" class="btn">
				<input name="repl_name" type="button" value="Void" class="btnArw">
			</div>
			<!-- End Button Bar Row --> 
			
		</div>
		<!-- End Application Footer -->
	</fieldset>
</div>
