{{#if ups_delivery}}
	<div class="appBody clearfix">
				<p>dear customer,</p>
				<p>this notice serves as proof of delivery for the shipment listed below.</p>
				<dl class="outHozFixed clearfix group" id="trackingNumberLabel">
					<dt>
						<label>tracking number label:</label>
					</dt>
					<dd>1z1234567890123456</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="referenceNumberLabel">
					<dt>
						<label>reference number(s) label:</label>
					</dt>
					<dd>dh00-00000, karen soh, 9a8690gqywm</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="serviceLabel">
					<dt>
						<label>service label:</label>
					</dt>
					<dd>service label value</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="weightLabel">
					<dt>
						<label>weight label:</label>
					</dt>
					<dd>10 kg</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsCarbonNeutralLabel">
					<dt>
						<label>ups carbon neutral label:</label>
					</dt>
					<dd>yes</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="specialInstructionsLabel">
					<dt>
						<label>special instructions label:</label>
					</dt>
					<dd>adult signature required</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="shippedBilledLabel">
					<dt>
						<label>shipped/billed on label:</label>
					</dt>
					<dd>00/00/0000</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredOnLabel">
					<dt>
						<label>delivered on label:</label>
					</dt>
					<dd>00/00/0000 0:00 a.m.</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredToLabel">
					<dt>
						<label>delivered to label:</label>
					</dt>
					<dd>address line 1 <br>
						address line 2 <br>
						address line 3</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsReturnsLabel">
					<dt>
						<label>ups returns<sup>&reg;</sup> exchange label:</label>
					</dt>
					<dd>completed</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="receivedByLabel">
					<dt>
						<label>received by label:</label>
					</dt>
					<dd>received by value<br>
						<img class="pfvSize" width="400" height="75" border="0" id="receivedByPhoto" src="/img_fpo/signature/fpo_signature2.gif" alt="FPO"> </dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="leftAtLabel">
					<dt>
						<label>left at label:</label>
					</dt>
					<dd>location value</dd>
				</dl>
				<p>thanks you for giving us this opportunity to serve you.</p>
				<p>sincerely,</p>
				<p>ups</p>
				<p>tracking results provided by ups: 00/00/0000 0:00 a.m. et</p>
			</div>
{{/if}}
{{#if postal_service_delivery}}
	<div class="appBody clearfix">
				<p>dear customer,</p>
				<p>this notice serves as proof of delivery for the shipment listed below.</p>
				<dl class="outHozFixed clearfix group" id="trackingNumberLabel">
					<dt>
						<label>tracking number label:</label>
					</dt>
					<dd>1z1234567890123456</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="referenceNumberLabel">
					<dt>
						<label>reference number(s) label:</label>
					</dt>
					<dd>dh00-00000, karen soh, 9a8690gqywm</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="serviceLabel">
					<dt>
						<label>service label:</label>
					</dt>
					<dd>service label value</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="weightLabel">
					<dt>
						<label>weight label:</label>
					</dt>
					<dd>10 kg</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="shippedBilledLabel">
					<dt>
						<label>shipped/billed on label:</label>
					</dt>
					<dd>00/00/0000</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredOnLabel">
					<dt>
						<label>delivered on label:</label>
					</dt>
					<dd>00/00/0000 0:00 a.m.</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredToLabel">
					<dt>
						<label>delivered to label:</label>
					</dt>
					<dd>address line 1 <br>
						address line 2 <br>
						address line 3</dd>
				</dl>
				<p>thanks you for giving us this opportunity to serve you.</p>
				<p>sincerely,</p>
				<p>ups</p>
				<p>tracking results provided by ups: 00/00/0000 0:00 a.m. et</p>
			</div>
{{/if}}
{{#if ups_returns}}
	<div class="appBody clearfix">
				<p>dear customer,</p>
				<p>this notice serves as proof of delivery for the shipment listed below.</p>
				<dl class="outHozFixed clearfix group" id="trackingNumberLabel">
					<dt>
						<label>tracking number label:</label>
					</dt>
					<dd>1z1234567890123456</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="referenceNumberLabel">
					<dt>
						<label>reference number(s) label:</label>
					</dt>
					<dd>dh00-00000, karen soh, 9a8690gqywm</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="serviceLabel">
					<dt>
						<label>service label:</label>
					</dt>
					<dd>service label value</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="productLabel">
					<dt>
						<label>product label:</label>
					</dt>
					<dd>ups returns <sup>&reg;</sup> pack and collect</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="weightLabel">
					<dt>
						<label>weight label:</label>
					</dt>
					<dd>10 kg</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsCarbonNeutralLabel">
					<dt>
						<label>ups carbon neutral label:</label>
					</dt>
					<dd>yes</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="specialInstructionsLabel">
					<dt>
						<label>special instructions label:</label>
					</dt>
					<dd>adult signature required</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="shippedBilledLabel">
					<dt>
						<label>shipped/billed on label:</label>
					</dt>
					<dd>00/00/0000</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredOnLabel">
					<dt>
						<label>delivered on label:</label>
					</dt>
					<dd>00/00/0000 0:00 a.m.</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredToLabel">
					<dt>
						<label>delivered to label:</label>
					</dt>
					<dd>address line 1 <br>
						address line 2 <br>
						address line 3</dd>
				<dl class="outHozFixed clearfix group" id="receivedByLabel">
					<dt>
						<label>received by label:</label>
					</dt>
					<dd>received by value<br>
						<img class="pfvSize" width="400" height="75" border="0" id="receivedByPhoto" src="/img_fpo/signature/fpo_signature2.gif" alt="FPO"> </dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="leftAtLabel">
					<dt>
						<label>left at label:</label>
					</dt>
					<dd>location value</dd>
				</dl>
				<p>thanks you for giving us this opportunity to serve you.</p>
				<p>sincerely,</p>
				<p>ups</p>
				<p>tracking results provided by ups: 00/00/0000 0:00 a.m. et</p>
			</div>
{{/if}}
{{#if ltl_freight}}
	<div class="appBody clearfix">
				<p>dear customer,</p>
				<p>this notice serves as proof of delivery for the shipment listed below.</p>
				<dl class="outHozFixed clearfix group" id="trackingPROLabel">
					<dt>
						<label>tracking number / pro number label:</label>
					</dt>
					<dd>419231750</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="billOfLadingLabel">
					<dt>
						<label>bill of lading label:</label>
					</dt>
					<dd>[19747170]</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="poNumberLabel">
					<dt>
						<label>po number label:</label>
					</dt>
					<dd>[62]</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredOnLabel">
					<dt>
						<label>delivered on label:</label>
					</dt>
					<dd>00/00/0000 0:00 a.m.</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="servicesLabel">
					<dt>
						<label>services label:</label>
					</dt>
					<dd>[ups freight ltl]</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredToLabel">
					<dt>
						<label>delivered to label:</label>
					</dt>
					<dd>address line 1 <br>
						address line 2 <br>
						address line 3</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="numberOfPiecesLabel">
					<dt>
						<label>number of pieces:</label>
					</dt>
					<dd>[nn]</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="weightLabel2">
					<dt>
						<label>weight:</label>
					</dt>
					<dd>[nnn][lbs]</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="shippedFromLabel">
					<dt>
						<label>shipped from label:</label>
					</dt>
					<dd>[xxx]</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="receivedByLabel">
					<dt>
						<label>received by label:</label>
					</dt>
					<dd>received by value<br>
						<img class="pfvSize" width="400" height="75" border="0" id="receivedByPhoto" src="/img_fpo/signature/fpo_signature2.gif" alt="FPO"> </dd>
				</dl>
				<p>thanks you for giving us this opportunity to serve you.</p>
				<p>sincerely,</p>
				<p>ups</p>
				<p>tracking results provided by ups: 00/00/0000 0:00 a.m. et</p>
			</div>
{{/if}}
{{#if shipment_release_authorized}}
	<div class="appBody clearfix">
				<p>dear customer,</p>
				<p>this notice serves as proof of delivery for the shipment listed below.</p>
				<dl class="outHozFixed clearfix group" id="trackingNumberLabel">
					<dt>
						<label>tracking number label:</label>
					</dt>
					<dd>1z1234567890123456</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="referenceNumberLabel">
					<dt>
						<label>reference number(s) label:</label>
					</dt>
					<dd>dh00-00000, karen soh, 9a8690gqywm</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="serviceLabel">
					<dt>
						<label>service label:</label>
					</dt>
					<dd>service label value</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="weightLabel">
					<dt>
						<label>weight label:</label>
					</dt>
					<dd>10 kg</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsCarbonNeutralLabel">
					<dt>
						<label>ups carbon neutral label:</label>
					</dt>
					<dd>yes</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="specialInstructionsLabel">
					<dt>
						<label>special instructions label:</label>
					</dt>
					<dd>adult signature required</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="shippedBilledLabel">
					<dt>
						<label>shipped/billed on label:</label>
					</dt>
					<dd>00/00/0000</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredOnLabel">
					<dt>
						<label>delivered on label:</label>
					</dt>
					<dd>00/00/0000 0:00 a.m.</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredToLabel">
					<dt>
						<label>delivered to label:</label>
					</dt>
					<dd>address line 1 <br>
						address line 2 <br>
						address line 3</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsReturnsLabel">
					<dt>
						<label>ups returns<sup>&reg;</sup> exchange label:</label>
					</dt>
					<dd>completed</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="receivedByLabel">
					<dt>
						<label>received by label:</label>
					</dt>
					<dd>received by value<br>
						<img class="pfvSize" width="400" height="75" border="0" id="receivedByPhoto" src="/img_fpo/signature/fpo_signature2.gif" alt="FPO"> </dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="leftAtLabel">
					<dt>
						<label>left at label:</label>
					</dt>
					<dd>location value</dd>
				</dl>
				<p>thanks you for giving us this opportunity to serve you.</p>
				<p>sincerely,</p>
				<p>ups</p>
				<p>tracking results provided by ups: 00/00/0000 0:00 a.m. et</p>
			</div>
{{/if}}
{{#if with_gps_coordinates}}
	<div class="appBody clearfix">
				<p>dear customer,</p>
				<p>this notice serves as proof of delivery for the shipment listed below.</p>
				<dl class="outHozFixed clearfix group" id="trackingNumberLabel">
					<dt>
						<label>tracking number label:</label>
					</dt>
					<dd>1z1234567890123456</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="referenceNumberLabel">
					<dt>
						<label>reference number(s) label:</label>
					</dt>
					<dd>dh00-00000, karen soh, 9a8690gqywm</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="serviceLabel">
					<dt>
						<label>service label:</label>
					</dt>
					<dd>service label value</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="weightLabel">
					<dt>
						<label>weight label:</label>
					</dt>
					<dd>10 kg</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsCarbonNeutralLabel">
					<dt>
						<label>ups carbon neutral label:</label>
					</dt>
					<dd>yes</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="specialInstructionsLabel">
					<dt>
						<label>special instructions label:</label>
					</dt>
					<dd>adult signature required</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="shippedBilledLabel">
					<dt>
						<label>shipped/billed on label:</label>
					</dt>
					<dd>00/00/0000</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredOnLabel">
					<dt>
						<label>delivered on label:</label>
					</dt>
					<dd>00/00/0000 0:00 a.m.</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredToLabel">
					<dt>
						<label>delivered to label:</label>
					</dt>
					<dd>address line 1 <br>
						address line 2 <br>
						address line 3</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsReturnsLabel">
					<dt>
						<label>ups returns<sup>&reg;</sup> exchange label:</label>
					</dt>
					<dd>completed</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="receivedByLabel">
					<dt>
						<label>received by label:</label>
					</dt>
					<dd>received by value<br>
						<img class="pfvSize" width="400" height="75" border="0" id="receivedByPhoto" src="/img_fpo/signature/fpo_signature2.gif" alt="FPO"> </dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="leftAtLabel">
					<dt>
						<label>left at label:</label>
					</dt>
					<dd>location value</dd>
				</dl>
                <dl role="presentation">
                	<dt>
                		<label for="repl_id">delivery location:</label>
                	</dt>
                	<dd>MAP INSTRUCTIONS GO HERE.....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</dd>
                </dl>
                <!-- Map Displyed -->
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                	<tbody>
                		<tr>
                			<td><img src="/img_fpo/other/fpo-400x200.gif" width="400" height="200" alt="Placeholder for Map and Driving Directions"/></td>
                		</tr>
                	</tbody>
                </table>
                <!-- Map Displyed -->
                <dl class="outHozFixed clearfix">
                	<dt>
                		<label for="repl_id">gps coordinates:</label>
                	</dt>
                	<dd>{lat 40.424602}<br>
                		{long 74.021388}<br>
                	</dd>
                </dl>
                <p>LEGAL DISCLAIMER GOES HERE...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
				<p>thanks you for giving us this opportunity to serve you.</p>
				<p>sincerely,</p>
				<p>ups</p>
				<p>tracking results provided by ups: 00/00/0000 0:00 a.m. et</p>
			</div>
{{/if}}
{{#if with_gps_coordinates_error}}
	<div class="appBody clearfix">
				<p>dear customer,</p>
				<p>this notice serves as proof of delivery for the shipment listed below.</p>
				<dl class="outHozFixed clearfix group" id="trackingNumberLabel">
					<dt>
						<label>tracking number label:</label>
					</dt>
					<dd>1z1234567890123456</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="referenceNumberLabel">
					<dt>
						<label>reference number(s) label:</label>
					</dt>
					<dd>dh00-00000, karen soh, 9a8690gqywm</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="serviceLabel">
					<dt>
						<label>service label:</label>
					</dt>
					<dd>service label value</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="weightLabel">
					<dt>
						<label>weight label:</label>
					</dt>
					<dd>10 kg</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsCarbonNeutralLabel">
					<dt>
						<label>ups carbon neutral label:</label>
					</dt>
					<dd>yes</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="specialInstructionsLabel">
					<dt>
						<label>special instructions label:</label>
					</dt>
					<dd>adult signature required</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="shippedBilledLabel">
					<dt>
						<label>shipped/billed on label:</label>
					</dt>
					<dd>00/00/0000</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredOnLabel">
					<dt>
						<label>delivered on label:</label>
					</dt>
					<dd>00/00/0000 0:00 a.m.</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="deliveredToLabel">
					<dt>
						<label>delivered to label:</label>
					</dt>
					<dd>address line 1 <br>
						address line 2 <br>
						address line 3</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="upsReturnsLabel">
					<dt>
						<label>ups returns<sup>&reg;</sup> exchange label:</label>
					</dt>
					<dd>completed</dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="receivedByLabel">
					<dt>
						<label>received by label:</label>
					</dt>
					<dd>received by value<br>
						<img class="pfvSize" width="400" height="75" border="0" id="receivedByPhoto" src="/img_fpo/signature/fpo_signature2.gif" alt="FPO"> </dd>
				</dl>
				<dl class="outHozFixed clearfix group" id="leftAtLabel">
					<dt>
						<label>left at label:</label>
					</dt>
					<dd>location value</dd>
				</dl>
                <dl role="presentation">
                	<dt>
                		<label for="repl_id">delivery location:</label>
                	</dt>
                	<dd>MAP INSTRUCTIONS GO HERE.....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</dd>
                </dl>
                <!-- Map Displyed -->
                <!--<table cellspacing="0" cellpadding="0" border="0" width="100%">
                	<tbody>
                		<tr>
                			<td><img src="/img_fpo/other/fpo-400x200.gif" width="400" height="200" alt="Placeholder for Map and Driving Directions"/></td>
                		</tr>
                	</tbody>
                </table>-->
                <p><strong>The delivery location map is currently not available.</strong></p>
                <!-- Map Displyed -->
                <dl class="outHozFixed clearfix">
                	<dt>
                		<label for="repl_id">gps coordinates:</label>
                	</dt>
                	<dd>{lat 40.424602}<br>
                		{long 74.021388}<br>
                	</dd>
                </dl>
                <p>LEGAL DISCLAIMER GOES HERE...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
				<p>thanks you for giving us this opportunity to serve you.</p>
				<p>sincerely,</p>
				<p>ups</p>
				<p>tracking results provided by ups: 00/00/0000 0:00 a.m. et</p>
			</div>
{{/if}}
