@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#support {
  border: none;

  .modSupport {
    background-image: none;
    background-color: $sky_s3;

    h3 {
      color: $white;
      font-family: $sans;
      font-weight: normal;
      font-size: 14px;
      background-color: $sky_s3;
    }
  }

  .modSupportBase {
    background-image: none;
  }
}

#honestyDialog {margin:0 auto!important}