---
title: ct1_tra_umc_delplan_tbl
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
{{> "ct1_tra_umc_delplan_tbl_partial" delplan.pre_authorized_returns }}
</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->