---
title: UPS My Choice
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---

<div id="main">
    <h1>{{title}}<sup>&reg;</sup></h1>
    
    {{> "ct1_tra_umc_delplan_tbl_partial" delplan.default }}
    
</div>


