/*********************************************************************
 ** ******************************************************************
 ** These styles are for a global step block component. 		 *****
 ** No app or page specific styles.     						 *****
 ** ******************************************************************
 ********************************************************************/
 
 
 
 /******************************************
  **  BEGIN LVP STYLES  ********************
  ******************************************/


 .ups-step_block {
	.ups-step_block_header {
		
	}
	
	.ups-step_block_body {
		
	}
	
	.ups-step_block_number {
		margin-top: 10px;
		font-size: 24px;
	}
	
	.ups-step-icon {
		font-size: 50px;
		font-weight:300;
		text-align: center;
	}
	
	.ups-step_block_title {
		font-weight: bold;
	}
	
	.ups-step_block_copy {
		
	}
	
	.ups-step_block_list {
			
	    -webkit-padding-start: 0px;
		
		li {
			margin-top: $margin_4;
			list-style: none;
		}
	}
}

 /******************************************
  **  END LVP STYLES    ********************
  **  BEGIN MVP STYLES  ********************
  ******************************************/
 
 
 
 /******************************************
  **  END MVP STYLES    ********************
  **  BEGIN SVP STYLES  ********************
  ******************************************/
  
  
 /******************************************
  **  END SVP STYLES    ********************
  ******************************************/