/***********************************************
**                                            **
**	UPS Tile Card Styles                      **
**                                            **
***********************************************/
/*.ups-tile_card {
	margin-bottom: 30px;
    min-height: 390px;
    border: 1px solid $stone_s3;
	border-top: none;

	.ups-tile_card_title {
		text-transform: uppercase;
		padding: 10px;

		&.ups-tile_card_orange {
			border-top: 4px solid $ups_sun;
		}

		&.ups-tile_card_blue {
			border-top: 4px solid $sky_s3;
		}

		&.ups-tile_card_yellow {
			border-top: 4px solid $ups_gold;
		}

		&.ups-tile_card_green {
			border-top: 4px solid $grass_s3;
		}

		&.ups-tile_card_default {
			border-top: 4px solid $stone_s3;
		}

		a {
			display: block;
			min-height: 100px;
			text-decoration: none;
			font-size: 1.2em;
			line-height: 1.7em;
		}

		.icon {
			font-size: 1.5em;
			position: relative;
			top: 5px;
		}
	}

	.ups-tile_icon_right {
		float: $opposite-direction;
	}

	.ups-tile_card_content {
		border-top: 1px solid #bebebe;
		padding: 10px;
	}
}*/
.ups-gray-border {
	border-top: 1px solid $stone_s3;
}

/********************************************
*********************************************
**************Begin TFS348254***************/
h3.ups-spot_title span.ups-icon-chevronright {
			position: absolute;
			top: 15px;
			right: 15px;
	}

/********************************************
*********************************************
**************End TFS348254*****************/

.ups-spot_contentWrap {
        .ups-spot_title {
            font-size: 0.5em;
            word-wrap: break-word;
			margin: 4px 40px 0px;
        }

        .ups-spot_boxMod {
            background: $white;
            margin-bottom: 30px;
            min-height: 390px;
            border: 1px solid $stone_s3;
            border-top: none;
            /* padding-bottom: 30px; */
            @media screen and (max-width: #{$screen-md - 1}){
                min-height: 0;
                float: $default-float;
                width: 100%;
                /* padding: 0 0 30px; */
            }
@media screen and (min-width: #{$screen-md}) and (max-width: 1150px) {
               /* min-height: 720px; */
            }
            .ups-spot_content {
                padding: 15px;

                p {
                    margin: 10px 0;  //changed by Doug to fix component spacing
                    text-align: $default-float;
                    width: auto;
                }
                .ups-link {
                    line-height: 3em;
                    display: block;
                }
            }

            .ups-spot_titleWrap {
                border-bottom: 1px solid #bebebe;
                min-height: 70px;
                padding: 5px 0 0;
                display: inline-block;
                width: 100%;
                color: $black_s3;
                overflow: hidden;
				position: relative;
                font-size: 2.5em;
                > span {
                    /*float: $default-float;*/
                    /*margin: 12px 10px 15px 15px;*/
					/* margin: 12px 10px 15px;
					margin-#{$default-float}: 15px; */
                    font-size: 0.7em;
					left: 8px;
					position: absolute;
					top: 7px;
                }

                &.ups-orange_border {
                    border-top: 4px solid $ups_sun;
                }
                &.ups-blue_border {
                    border-top: 4px solid $sky_s3;
                }
                &.ups-yellow_border {
                    border-top: 4px solid $ups_gold;
                }
                &.ups-green_border {
                    border-top: 4px solid $grass_s3;
                }
                &.ups-NoIcon {
                    padding: 0 15px 15px;
                    @media screen and (min-width: #{$screen-md}){
                        min-height: 110px;
                    }
                    &:after {
                        display: none;
                    }
                    .ups-spot_title {
                        display: block;
                        word-wrap: break-word;
                    }

					.ups-spot_title {
						margin: 20px 0 10px;
					}
                }
				/* @media #{$media-medLarge} {
                   	min-height: 144px;
					position: relative;

					&:after {
						position: absolute;
						bottom: 0;
						right: 0;
					}
                }	*/

            }
        }
         .ups-spot_col-5 {
            /* margin: 0 0.5%;
            width: 19%; */
			width: 20%;
			float: #{$default-float};
            @media screen and (max-width: #{$screen-md}){
                min-height: 0;
                float: $default-float;
                width: 100%;

            }
@media screen and (min-width: 1401px) {
		.ups-spot_content {
				min-height: 135px;

			}

	}
@media screen and (max-width: #{$screen-sm - 1}){
                padding: 0;
            }
        }
    }
/***********************************************
**	End UPS Tile Card Styles                  **
***********************************************/
