.ups-multi_select_view {
    .ups-text_scroll {
        height: 365px;
        max-height: 365px;
        margin-bottom: 0;
        border: 1px solid $stone_s3;

        @media #{$media-medium} {
            height: 180px;
            max-height: 180px;
        }
    }

    .ups-multi_select_list {
        margin: 0;
        padding: 0;

        .ups-multi_select_option {
            background-color: $ups_stone;
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 5px;
            list-style: none;

            .ups-multi_select_list_btn {
                background-color: transparent;
                border: none;
            }
        }
    }
}
