.ups-side_menu {
    border: 1px solid $black_s1;

    ul {
        margin: 0;
        padding: 0;

        li.ups-side_menu_list {
            display: block;
            list-style: none;
            padding: 0px;
            background-color: $white;
            border-top: 1px solid $black_s1;

            &:first-child {
                border-top: none;
                padding: 0;
            }

            a {
                display: block;
                padding: 8px 10px;
            }

            //active state for the side menu
            &.ups-side_menu_active {
                background-color: $ups_gold;

                a {
                    font-family: $sans-bd;
                }
            }
        }
    }

    .ups-link {
        text-decoration: none;
        color: $black;
        font-family: $sans;

        &:hover {
            text-decoration: underline;
        }
    }

    .ups-application_wrapper & {
        .ups-drawer.ups-drawer_slim {
            &.ups-side_menu_list {
                border-top: 1px solid $white;

                &:first-child {
                    border-top: none;
                }
            }

            //styles the button that opens the menu
            .ups-drawer-btn {
                display: block;
                width: 100%;
                text-decoration: none;
                background-color: $black_s1;
                color: $white;
            }
            //Styles the entire submenu
            .ups-side_sub_menu {
                border-top: 1px solid $black_s1;
                padding: 0;
                .ups-side_sub_menu_list {
                    border: none;
                    list-style: none;
                    a {
                        padding: 8px 20px;
                    }
                    //active state for the sub menu
                    &.ups-side_sub_menu_active {
                        background-color: $ups_gold;
                        a {
                            font-family: $sans-bd;
                        }
                    }
                }
            }

            .ups-side_menu_drawer_content {
                padding: 8px 10px;
            }
        }
    }

}
