@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Mobile";

.content {
    #card_images {
        li {
            float: $default-float;
        }
    }

    .RIF_CardNumber {
        width: 100%;
        margin-bottom: 10px;
        input {
            width: 100%;
        }
    }

//    #residential {
//        position: absolute;
//        #{$default-float}: 0;
//        position: absolute;
//        top: 40px;
//        margin: 0;
//    }

//    #residentialLabel {
//        padding-#{$default-float}: 30px;
//    }

    .checkbox.label {
        padding-#{$default-float}: 30px;
    }

	.checkbox.form-group {
		padding-top: 0;
		padding-bottom: 0;

		input[type="checkbox"] {
			float: $default-float;
			margin-top: 1px;
		}
	}

    img[alt="Required"] {
      display: none;
    }

    label.fldLbl.required, label.required {
        &:before {
            content: '';
        }

        &:after {
            content: ' *';
        }
    }


    input#cpcWidget_newAddress {
        padding: 0;
    }

    #cpcWidgetExistingAddressButtonLabel, #cpcWidgetNewAddressButtonLabel {
        margin-#{$default-float}: 5px;

    }


    .RIF_ExpirationYear {
        span {
            display: inline-block;
        }
    }

}

form[name="mainPageForm"] .btn-text-combo {
	display: table;
	width: 100%;
	margin: 0;
	padding-#{$default-float}: 10px;
	padding-#{$opposite-direction}: 10px;

	.btn {
		width: 100% !important;
		display: block;
	}

	.text {
		display: table;
		width: 100%;
		padding: 0;
		text-align: center;
		margin-top: 15px;
	}
}

#mobileShipFromCountry {
	span {
		border-radius:7px;
	}

	select {
		border-color: $stone_s3 !important;
	}
}

form[name="mainPageForm"] .error-content.alert.alert-info p {
  color: #000
}

.error-content.alert-info {
    color: #c91a13 !important;
    border: 1px solid #c91a13!important;
    font-family: "BerlingskeSans",Tahoma,helvetica,arial,sans-serif!important;
}
.error-content.alert-info P
{    color: #c91a13 !important;font-family: "BerlingskeSans",Tahoma,helvetica,arial,sans-serif!important;}

#ups-fw_legacy_app_wrap #main .back a {color:transparent!important}
.subhead .subtask{color:#242424}

form[name=mainPageForm] .content .grey-header + div.row :first-child {
    padding: 0;
}

.distance {padding-#{$opposite-direction}:20px;}
#mobileShipFromCountryValue{border:none!important}

#value {
    .form-group {
        padding-#{$default-float}: 0;
        padding-#{$opposite-direction}: 0;
    }
}
#ups-fw_legacy_app_wrap a.btn-aqua:not(.NavBar_button):not(.NavBar_compass):not(.locationPin) {color:#fff!important}

.barcode.manual-entry {
    height: 75px;
    max-height: 100px;
}