<form action="">

  <!-- Begin Application Module -->

  <div class="appLvl ups-application_wrapper ups-form_wrap mod">

  <!-- Begin Application Header -->

  <div class="appHead clearfix">
    <h2>enter information for all pallets header</h2>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <ul class="clearfix">
    <ul class="clearfix">
      <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
    </ul>

    -->

		<button type="button" class="ups-link icon ups-icon-questioncircle pull-right">Help</button>

    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->
  </div>

  <!-- End Application Header -->

  <!-- Begin Application Body -->

  <div class="appBody clearfix">
    <p class="error">>>>total shipment weight error message</p>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--
    <p>please enter pallet information below... paragraph text.  required fields indicated with <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></p>
    -->

    <p>please enter pallet information below... paragraph text.  required fields indicated with <span class="ups-required_indicator" aria-hidden="true"></span></p>

    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <dl role="presentation" class="outHozFlex clearfix">
      <dt>total pallets label:</dt>
      <dd><strong>[00]</strong></dd>
    </dl>
    <div class="clear"></div>

    -->

    <div class="ups-group">
      <p>UPS Account Number: <strong>[00]</strong></p>
    </div>

    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- Begin Section Module -->

    <fieldset>
      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>pallet[1] header</h3>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <ul class="clearfix">
            <li><a href="repl_href" class="btnlnkL crossMini">Remove Pallet</a></li>
          </ul>

          -->

          <span class="pull-right">
            <span class="icon ups-icon-xcircle" aria-hidden="true"></span> <a href="#">Remove Pallet</a>
          </span>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">
          <p class="error">>>>error message</p>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <dl role="presentation" >
            <dt>
              <label for="repl_id">pallet weight label:</label>
            </dt>
            <dd>
              <input id="repl_id" type="text" class="formcol3">
              [lb/kg] <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
          </dl>

          -->

          <div class="row">
            <div class="col-xs-3">
              <div class="ups-form_group ups-input_has_unit ups-form_required">
  							<label for="text_input_1" class="ups-form_label">pallet weight</label>
  							<div class="ups-text_wrapper ups-input_wrapper" data-errormsg="This field is required">
  								<input type="text" name="name" class="ups-form_input ups-error" id="text_input_1"> <span class="ups-input_unit_measure">[lb/kg] <span class="ups-required_indicator" aria-hidden="true"></span></span>
  							</div>
  						</div>
            </div>
          </div>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

          <p>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">pallet dimensions label:</a></label>
          </p>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <div id="repl_id">
            <dl role="presentation" class="flexFirst clearfix">
              <dt>
                <label id="repl_id" for="repl_id">length:</label>
              </dt>
              <dd>
                <input id="repl_id" type="text" class="formcol3">
                x</dd>
            </dl>
            <dl role="presentation" class="flexAfter clearfix">
              <dt>
                <label id="repl_id" for="repl_id">width:</label>
              </dt>
              <dd>
                <input id="repl_id" type="text" class="formcol3">
                x</dd>
            </dl>
            <dl role="presentation" class="flexAfter clearfix">
              <dt>
                <label id="repl_id" for="repl_id">height:</label>
              </dt>
              <dd>
                <input id="repl_id" type="text" class="formcol3">
                [in] <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
            </dl>
          </div>
          <div class="clear"></div>

          -->

          <div id="repl_id">

            <div class="row">

              <div class="col-xs-3">
                <div class="ups-form_group ups-input_has_unit">
    							<label for="text_input_0" class="ups-form_label">length</label>
    							<div class="ups-text_wrapper ups-input_wrapper">
    								<input type="text" name="name" class="ups-form_input ups-error" id="text_input_0">
                    <span class="ups-input_unit_measure">x</span>
    							</div>
    						</div>
              </div>

              <div class="col-xs-3">
                <div class="ups-form_group ups-input_has_unit">
    							<label for="text_input_0" class="ups-form_label">width</label>
    							<div class="ups-text_wrapper ups-input_wrapper">
    								<input type="text" name="name" class="ups-form_input ups-error" id="text_input_0">
                    <span class="ups-input_unit_measure">x</span>
    							</div>
    						</div>
              </div>

              <div class="col-xs-3">
                <div class="ups-form_group ups-input_has_unit">
    							<label for="text_input_0" class="ups-form_label">height</label>
    							<div class="ups-text_wrapper ups-input_wrapper">
    								<input type="text" name="name" class="ups-form_input ups-error" id="text_input_0">
                    <span class="ups-input_unit_measure">[in] <span class="ups-required_indicator" aria-hidden="true"></span></span>
    							</div>
    						</div>
              </div>

            </div>

          </div>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->



          <!-- //////////////////////////////////////////////////////////// -->

          <!-- Begin No Labels - WW Express Freight - Pallet Detail (7203?) -->

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <p>
            <label for="repl_id" class="reqTxtInst">(For pallets, the value entered for Length must be greater than or equal to the width value.)</label>
          </p>

          -->

          <p>(For pallets, the value entered for Length must be greater than or equal to the width value.)</p>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

          <!-- End No Labels - WW Express Freight - Pallet Detail (7203?) -->

          <!-- ////////////////////////////////////////////////////////// -->


          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <p><a id="" class="btnlnkL sortDownMini" href="repl_href">copy to all link</a></p>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

          <p>
            <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
            <a href="#">copy to all link</a>
          </p>
        </div>

        <!-- End Section Body -->

        <!-- Begin Section Footer --><!-- End Section Footer -->

      </div>
    </fieldset>

    <!-- End Section Module -->

    <!-- Begin Section Module -->

    <fieldset>
      <div class="secLvl step">

        <!-- Begin Header Bar -->

        <div class="secHead clearfix">
          <h3>pallet[2] header</h3>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <ul class="clearfix">
            <li><a href="repl_href" class="btnlnkL crossMini">Remove Pallet</a></li>
            <li><a href="repl_href" class="btnlnkL sortUpMini">copy from above</a></li>
          </ul>

          -->

          <span class="pull-right">
            <span class="icon ups-icon-wedgeup" aria-hidden="true"></span> <a href="#">copy from above</a> <span class="icon ups-icon-xcircle indent" aria-hidden="true"></span> <a href="#">Remove Pallet</a>
          </span>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->
        </div>

        <!-- End Header Bar -->

        <!-- Begin Section Body -->

        <div class="secBody clearfix">
          <p class="error">>>>error message</p>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <dl role="presentation" >
            <dt>
              <label for="repl_id">pallet weight label:</label>
            </dt>
            <dd>
              <input id="repl_id" type="text" class="formcol3">
              [lb/kg] <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
          </dl>

          -->

          <div class="row">
            <div class="col-xs-3">
              <div class="ups-form_group ups-input_has_unit ups-form_required">
  							<label for="text_input_1" class="ups-form_label">pallet weight</label>
  							<div class="ups-text_wrapper ups-input_wrapper" data-errormsg="This field is required">
  								<input type="text" name="name" class="ups-form_input ups-error" id="text_input_1">
                  <span class="ups-input_unit_measure">[lb/kg] <span class="ups-required_indicator" aria-hidden="true"></span></span>
  							</div>
  						</div>
            </div>
          </div>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->


          <p>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">pallet dimensions label:</a></label>
          </p>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <div id="repl_id">
            <dl role="presentation" class="flexFirst clearfix">
              <dt>
                <label id="repl_id" for="repl_id">length:</label>
              </dt>
              <dd>
                <input id="repl_id" type="text" class="formcol3">
                x</dd>
            </dl>
            <dl role="presentation" class="flexAfter clearfix">
              <dt>
                <label id="repl_id" for="repl_id">width:</label>
              </dt>
              <dd>
                <input id="repl_id" type="text" class="formcol3">
                x</dd>
            </dl>
            <dl role="presentation" class="flexAfter clearfix">
              <dt>
                <label id="repl_id" for="repl_id">height:</label>
              </dt>
              <dd>
                <input id="repl_id" type="text" class="formcol3">
                [in] <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
            </dl>
          </div>
          <div class="clear"></div>

          -->

          <div id="repl_id">

            <div class="row">

              <div class="col-xs-3">
                <div class="ups-form_group ups-input_has_unit">
    							<label for="text_input_0" class="ups-form_label">length</label>
    							<div class="ups-text_wrapper ups-input_wrapper">
    								<input type="text" name="name" class="ups-form_input ups-error" id="text_input_0">
                    <span class="ups-input_unit_measure">x</span>
    							</div>
    						</div>
              </div>

              <div class="col-xs-3">
                <div class="ups-form_group ups-input_has_unit">
    							<label for="text_input_0" class="ups-form_label">width</label>
    							<div class="ups-text_wrapper ups-input_wrapper">
    								<input type="text" name="name" class="ups-form_input ups-error" id="text_input_0">
                    <span class="ups-input_unit_measure">x</span>
    							</div>
    						</div>
              </div>

              <div class="col-xs-3">
                <div class="ups-form_group ups-input_has_unit">
    							<label for="text_input_0" class="ups-form_label">height</label>
    							<div class="ups-text_wrapper ups-input_wrapper">
    								<input type="text" name="name" class="ups-form_input ups-error" id="text_input_0">
                    <span class="ups-input_unit_measure">[in] <span class="ups-required_indicator" aria-hidden="true"></span></span>
    							</div>
    						</div>
              </div>

            </div>

          </div>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

          <!-- //////////////////////////////////////////////////////////// -->

          <!-- Begin No Labels - WW Express Freight - Pallet Detail (7203?) -->

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--

          <p>
            <label for="repl_id" class="reqTxtInst">(For pallets, the value entered for Length must be greater than or equal to the width value.)</label>
          </p>

          -->

          <p>(For pallets, the value entered for Length must be greater than or equal to the width value.)</p>

          <!-- ************************************ -->
          <!-- REDESIGN EDIT: End part of re-design -->
          <!-- ************************************ -->

          <!-- End No Labels - WW Express Freight - Pallet Detail (7203?) -->

          <!-- ////////////////////////////////////////////////////////// -->

        </div>

        <!-- End Section Body -->

        <!-- Begin Section Footer --><!-- End Section Footer -->

      </div>
    </fieldset>

    <!-- End Section Module -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <p><a id="" class="btnlnkL plusMini" href="repl_href">add one pallet</a></p>

    -->

    <p>
      <span class="icon ups-icon-plus" aria-hidden="true"></span>
      <a href="#">add one pallet</a>
    </p>

    <!-- ************************************ -->
    <!-- REDESIGN EDIT: End part of re-design -->
    <!-- ************************************ -->

    <!-- End Section Lvl -->

  </div>

  <!-- End Application Body -->

  <!-- Begin Application Footer -->

  <div class="appFooter">

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <!-- Begin Button Bar Row ->
    <div class="btnBar">
      <input name="" type="button" value="back" class="btnBackArw">
      <input name="" type="button" value="cancel" class="btn">
      <input name="" type="submit" value="next" class="btnArw disabled">
    </div>
    <!-- End Button Bar Row -->

    <div class="ups-form_ctaGroup">
      <button type="button" class="ups-cta ups-cta_tertiary">Back</button>
      <button type="submit" class="ups-cta ups-cta_primary">Next</button>
      <button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

  </div>

  <!-- End Application Footer -->

  </div>

  <!-- End Application Module -->

</form>
