<form action="repl_fname" class="ups-form_wrap ups-application_wrapper">

    <!-- Begin Application Module -->

    <div class="appLvl mod">

        <!-- Begin Application Header -->

        <div class="appHead clearfix">
            <h2>{Application Header}</h2>
        </div>

        <!-- End Application Header -->

        <!-- Begin Application Body -->

        <div class="appBody clearfix">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
            <!--<p>Required fields are indicated with <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon">.</p>-->
            {{> A04_page_level_required_message }}
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            <!-- Begin Section Module -->

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- fieldset removed in reskin
            <fieldset>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            {{!******************************************}}
            {{! Begin Step1 SERVICE AND PALLET           }}
            {{! INFORMATION HEADER                       }}
            {{!******************************************}}
            <div class="secLvl step">

                <!-- Begin Header Bar -->

                <div class="secHead clearfix">
                    <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
                    <h3>service and pallet information header</h3>
                </div>

                <!-- End Header Bar -->

                <!-- Begin Section Body -->

                <div class="secBody clearfix">

                    <!-- /////////////////////////////////////////////////////////// -->
                    <!-- Begin Add'I Pickup Info Modules - WW Express Freight (1304) -->

                    <p>select the derisred ups service paragraph text...</p>
                    <p>ups worldwide express freight paragraph text...</p>

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id2"></td>
                            <td><label for="repl_id2" class="sel">this is a pallet pickup request</label></td>
                        </tr>
                    </table>-->
                    <div class="ups-form_group">
                        <div class="ups-input_wrapper">
                            <input id="notifyProblem" class="ups-checkbox-custom" name="notifyProblem" type="checkbox" value="1" data-parsley-multiple="notifyProblem">
                            <label for="notifyProblem" class="ups-checkbox-custom-label">This is a pallet pickup request</label>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<h4>ups services sub header:</h4>
                    <!-- Begin Interior Column 1 --
                    <div class="subcol9 marginBegin">
                        <dl role="presentation" >
                            <dt>
                                <input name="" type="button" value="ups domestic collapsible section" class="btnlnkL minusMini group">
                            </dt>
                            <dd>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr class="odd">
                                        <td class="indent"><input name="repl_fname" type="checkbox" value="repl_fvalue" id=""></td>
                                        <td><label for="" class="sel"><a href="repl_href">ups service&reg;</a></label></td>
                                    </tr>
                                    <tr>
                                        <td class="indent"><input name="repl_fname" type="checkbox" value="repl_fvalue" id=""></td>
                                        <td><label for="" class="sel"><a href="repl_href">ups service&reg;</a></label></td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="indent"><input name="repl_fname" type="checkbox" value="repl_fvalue" id=""></td>
                                        <td><label for="" class="sel"><a href="repl_href">ups service&reg;</a></label></td>
                                    </tr>
                                    <tr>
                                        <td class="indent"><input name="repl_fname" type="checkbox" value="repl_fvalue" id=""></td>
                                        <td><label for="" class="sel"><a href="repl_href">ups service&reg;</a></label></td>
                                    </tr>
                                    <tr class="odd">
                                        <td class="indent"><input name="repl_fname" type="checkbox" value="repl_fvalue" id=""></td>
                                        <td><label for="" class="sel"><a href="repl_href">ups service&reg;</a></label></td>
                                    </tr>
                                </table>
                            </dd>
                        </dl>
                    </div>
                    <!-- End Interior Column 1 --
                    <!-- Begin Interior Column 2 --
                    <div class="subcol9">
                        <dl role="presentation" >
                            <dt>
                                <input name="" type="button" value="ups international expandable section 1" class="btnlnkL plusMini">
                            </dt>
                            <dd> </dd>
                            <dt>
                                <input name="" type="button" value="ups transborder expandable section 2" class="btnlnkL plusMini">
                            </dt>
                            <dd> </dd>
                        </dl>
                        <dl role="presentation" >
                            <dt>
                                <label for="repl_id">preferred unit of measure label</label>
                            </dt>
                            <dd>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id1" checked="checked"></td>
                                        <td><label for="repl_id1" class="sel">inches / pounds</label></td>
                                    </tr>
                                    <tr>
                                        <td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id2"></td>
                                        <td><label for="repl_id2" class="sel">centimeters / kilograms</label></td>
                                    </tr>
                                </table>
                            </dd>
                        </dl>
                    </div>
                    <div class="clear"></div>-->
                    <div class="secLvl secLvlPlain">
                        <div class="secHead clearfix"><h4>UPS Services</h4></div>
                        <div class="secBody">
                            <div class="row">
                                <div class="col-xs-5">
                                    <fieldset class="ups-form_group">
                						<legend class="ups-form_label">
                                            <a href="#" class="ups-link_light">UPS Domestic Collapsible Section</a>
                                            <span class="icon ups-icon-wedgeup" aria-hidden="true"></span>
                                        </legend>
                						<div class="ups-buttonList_wrapper ups-input_wrapper">
                							<input id="checkbox_1" class="ups-checkbox-custom" name="check" type="checkbox" checked="">
                							<label for="checkbox_1" value="1" class="ups-checkbox-custom-label"><a href="#" class="ups-link_light">UPS Service</a><sup>&reg;</sup></label>
                						</div>
                						<div class="ups-buttonList_wrapper ups-input_wrapper">
                							<input id="checkbox_2" class="ups-checkbox-custom" name="check" type="checkbox">
                							<label for="checkbox_2" value="2" class="ups-checkbox-custom-label"><a href="#" class="ups-link_light">UPS Service</a><sup>&reg;</sup></label>
                						</div>
                						<div class="ups-buttonList_wrapper ups-input_wrapper">
                							<input id="checkbox_3" class="ups-checkbox-custom" name="check" type="checkbox">
                							<label for="checkbox_3" value="3" class="ups-checkbox-custom-label"><a href="#" class="ups-link_light">UPS Service</a><sup>&reg;</sup></label>
                						</div>
                						<div class="ups-buttonList_wrapper ups-input_wrapper">
                							<input id="checkbox_4" class="ups-checkbox-custom" name="check" type="checkbox">
                							<label for="checkbox_4" value="4" class="ups-checkbox-custom-label"><a href="#" class="ups-link_light">UPS Service</a><sup>&reg;</sup></label>
                						</div>
                						<div class="ups-buttonList_wrapper ups-input_wrapper">
                							<input id="checkbox_5" class="ups-checkbox-custom" name="check" type="checkbox">
                							<label for="checkbox_5" value="5" class="ups-checkbox-custom-label"><a href="#" class="ups-link_light">UPS Service</a><sup>&reg;</sup></label>
                						</div>
                					</fieldset>
                                </div>
                                <div class="col-xs-5">
                                    <p><a href="#" class="ups-link_light">UPS International Expandable Section 1</a>
                                    <span class="icon ups-icon-wedgedown" aria-hidden="true"></span></p>
                                    <p><a href="#" class="ups-link_light">UPS International Expandable Section 2</a>
                                    <span class="icon ups-icon-wedgedown" aria-hidden="true"></span></p>
                                    <fieldset class="ups-form_group">
            							<legend class="ups-form_label">Preferred Unit of Measure</legend>
            							<div class="ups-buttonList_wrapper ups-input_wrapper">
            								<input id="ups-uid-form_title-amer" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
            								<label for="ups-uid-form_title-amer" class="ups-radio-custom-label">inches / pounds</label>
            							</div>
            							<div class="ups-buttonList_wrapper ups-input_wrapper">
            								<input id="ups-uid-form_title-meteric" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="no">
            								<label for="ups-uid-form_title-meteric" class="ups-radio-custom-label">centimeters / kilograms</label>
            							</div>
            						</fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- End Add'I Pickup Info Modules - WW Express Freight (1304) -->
                    <!-- ///////////////////////////////////////////////////////// -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- fieldset removed in reskin
                    <fieldset>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- Begin Interior Column 1 -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<div class="subcol9 marginBegin">
                        <dl role="presentation" >
                            <dt>
                                <label for="">{Package(s) Label}:</label>
                            </dt>
                            <dd>
                                <select name="repl_name" id="">
                                    <option value="" selected>{0}</option>
                                </select>
                            </dd>
                        </dl>
                    </div>
                    <!-- End Interior Column 1 --
                    <!-- Begin Interior Column 2 --
                    <div class="subcol9">
                        <dl role="presentation" >
                            <dt>
                                <label for="">{Total Weight Label}:</label>
                            </dt>
                            <dd>
                                <input name="repl_fname" type="text" value="" id="">
                                lbs. </dd>
                        </dl>
                    </div>-->
                    <!-- End Interior Column 2 -->
                    <div class="row">
						<div class="col-xs-5">
							<div class="ups-form_group">
								<label for="ups-pl" class="ups-form_label">{Package(s) Label}</label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select id="ups-pl" name="ups-pl" class="ups-dropdown">
										<option>Select</option>
									</select>
								</div>
							</div>
						</div>
                        <div class="col-xs-5 col-xs-offset-1">
                            <div class="ups-form_group ups-input_has_unit">
                                <label for="ups-twl" class="ups-form_label">{Total Weight Label}</label>
                                <div class="ups-text_wrapper ups-input_wrapper">
                                    <input type="text" name="ups-twl" class="ups-form_input" id="ups-twl">
                                    <span class="ups-input_unit_measure">lbs/kg</span>
                                </div>
                            </div>
                        </div>
				    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- fieldset removed in reskin
                    </fieldset>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- /////////////////////////////////////////////////////////// -->
                    <!-- Begin Add'I Pickup Info Modules - WW Express Freight (1304) -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- removed in reskin
                    <fieldset>
                        <div class="clearfix">
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<dl role="presentation" class="clearfix">
                        <label for=""><a href="" class="btnlnkR helpIconR">Dimensions input label</a></label>
                    </dl>
                    <dl role="presentation" class="flexFirst clearfix">
                        <dt>
                            <label for="repl_id07">Length:</label>
                        </dt>
                        <dd>
                            <input id="repl_id07" type="text" class="formcol3">
                            x</dd>
                    </dl>
                    <dl role="presentation" class="flexAfter clearfix">
                        <dt>
                            <label for="repl_id08">Width:</label>
                        </dt>
                        <dd>
                            <input id="repl_id08" type="text" class="formcol3">
                            x</dd>
                    </dl>
                    <dl role="presentation" class="flexAfter clearfix">
                        <dt>
                            <label for="repl_id09">Height:</label>
                        </dt>
                        <dd>
                            <input id="repl_id09" type="text" class="formcol3">
                            [unit label]<img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                    </dl>
                    <div class="clearfix"></div>-->
                    <div class="row">
                        <div class="col-xs-5">
                            <h4><a href="#" class="btnlnkR helpIconR">Dimensions</a></h4>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="ups-form_group">
                                        <label for="ups-length" class="ups-form_label">Length</label>
                                        <div class="ups-text_wrapper ups-input_wrapper">
                                            <input type="text" name="ups-length" class="ups-form_input" id="ups-length">
                                        </div>
                                        <!-- ups-text_wrapper ups-input_wrapper -->
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="ups-form_group">
                                        <label for="ups-width" class="ups-form_label">Width</label>
                                        <div class="ups-text_wrapper ups-input_wrapper">
                                            <input type="text" name="width" class="ups-form_input" id="ups-width">
                                        </div>
                                        <!-- ups-text_wrapper ups-input_wrapper -->
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="ups-form_group">
                                        <label for="ups-height" class="ups-form_label">Height</label>
                                        <div class="ups-text_wrapper ups-input_wrapper">
                                            <input type="text" name="ups-height" class="ups-form_input" id="ups-height">
                                        </div>
                                        <!-- ups-text_wrapper ups-input_wrapper -->
                                    </div>
                                </div>
                            </div>
                    	</div>
                        <div class="col-xs-5 col-xs-offset-1">
                            <p class="reqTxtInst ups-no_label">(For pallets, the value entered for Length must be greater than or equal to the width value.)</p>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- removed in reskin
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<div class="group clearfix">
                        <dl role="presentation" class="outHozFlex">
                            <dt>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><input id="repl_id10" type="checkbox" value="repl_fvalue" name="repl_fname"></td>
                                        <td><label class="sel" for="repl_id10">dangerous goods label</label></td>
                                    </tr>
                                </table>
                            </dt>
                            <dd><a href="repl_href" class="btnlnkR helpIconR">what's this?</a></dd>
                        </dl>
                    </div>
                    <div class="clear"></div>-->
                    <div class="ups-form_group">
                        <div class="ups-input_wrapper">
                            <input id="repl_id10" class="ups-checkbox-custom" name="repl_id10" type="checkbox" value="1" data-parsley-multiple="notifyProblem">
                            <label for="repl_id10" class="ups-checkbox-custom-label">Dangerous goods label</label>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<div class="clearfix">
                        <p>Review the <a class="ups-link_light" href="repl_href">raw wood guidlines</a> to see if they apply to your pallet.</p>
                    </div>-->
                    <p>Review the <a class="ups-link_light" href="repl_href">raw wood guidlines</a><span class="icon ups-link_newwindow" aria-hidden="true"></span><span class="ups-readerTxt">Open the link in a new window</span> to see if they apply to your pallet.</p>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- fieldset removed in reskin
                    </fieldset>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- End Add'I Pickup Info Modules - WW Express Freight (1304) -->
                    <!-- ///////////////////////////////////////////////////////// -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- fieldset removed in reskin
                    <fieldset>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<h4>{Sub Header}:</h4>
                    <!-- Begin Interior Column 1 --
                    <div class="subcol9 marginBegin">
                        <dl role="presentation" >
                            <dt>
                                <label>{Question Label?}</label>
                            </dt>
                            <dd>
                                <input name="repl_fname" type="radio" value="repl_fvalue" id="">
                                <label for="" class="sel">Yes</label>
                            </dd>
                            <dd>
                                <input name="repl_fname" type="radio" value="repl_fvalue" id="" checked>
                                <label for="" class="sel">No</label>
                            </dd>
                        </dl>
                    </div>
                    <!-- End Interior Column 1 --
                    <!-- Begin Interior Column 2 --
                    <div class="subcol9">
                        <dl role="presentation" >
                            <dt>
                                <label for="">{Question <a href="" class="btnlnkR helpIconR">Term Level Help Label</a>}:</label>
                            </dt>
                            <dd>
                                <input name="repl_fname" type="radio" value="repl_fvalue" id="">
                                <label for="" class="sel">Yes</label>
                            </dd>
                            <dd>
                                <input name="repl_fname" type="radio" value="repl_fvalue" id="" checked>
                                <label for="" class="sel">No</label>
                            </dd>
                        </dl>
                    </div>
                    <!-- End Interior Column 2 -->
                    <div class="secLvl secLvlPlain">
                        <div class="secHead clearfix"><h4>{Sub Header}</h4></div>
                        <div class="secBody">
                            <div class="row">
                                <div class="col-xs-5">
                                    <fieldset class="ups-form_group">
            							<legend class="ups-form_label">{Question Label?}</legend>
            							<div class="ups-buttonList_wrapper ups-input_wrapper">
            								<input id="ups-uid-form_title-yes" class="ups-radio-custom" name="ups-uid-form_title-radio_group_02" type="radio" value="yes" checked="">
            								<label for="ups-uid-form_title-yes" class="ups-radio-custom-label">Yes</label>
            							</div>
            							<div class="ups-buttonList_wrapper ups-input_wrapper">
            								<input id="ups-uid-form_title-no" class="ups-radio-custom" name="ups-uid-form_title-radio_group_02" type="radio" value="no">
            								<label for="ups-uid-form_title-no" class="ups-radio-custom-label">No</label>
            							</div>
            						</fieldset>
                                </div>
                                <div class="col-xs-5">
                                    <fieldset class="ups-form_group">
            							<legend class="ups-form_label">{Question <a href="#" class="btnlnkR helpIconR">Term Level Help Label</a>}</legend>
            							<div class="ups-buttonList_wrapper ups-input_wrapper">
            								<input id="ups-uid-form_title-yes" class="ups-radio-custom" name="ups-uid-form_title-radio_group_03" type="radio" value="yes" checked="">
            								<label for="ups-uid-form_title-yes" class="ups-radio-custom-label">Yes</label>
            							</div>
            							<div class="ups-buttonList_wrapper ups-input_wrapper">
            								<input id="ups-uid-form_title-no" class="ups-radio-custom" name="ups-uid-form_title-radio_group_03" type="radio" value="no">
            								<label for="ups-uid-form_title-no" class="ups-radio-custom-label">No</label>
            							</div>
            						</fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- //////////////////////////////////////////////// -->
                    <!-- Begin Add'I Pickup Info Modules - Default (1304) -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<h3>ups pallet service header</h3>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="sel"><input type="checkbox" value="repl_value" name="repl_name" id="repl_id1"></td>
                            <td><label for="repl_id1" class="sel"><a href="repl_href">ups ww express freight link</a></label></td>
                        </tr>
                    </table>-->
                    <div class="secLvl secLvlPlain">
                        <div class="secHead clearfix"><h4>UPS Pallet</h4></div>
                        <div class="secBody">
                            <div class="ups-form_group">
                                <div class="ups-input_wrapper">
                                    <input id="notifyProblem" class="ups-checkbox-custom" name="notifyProblem" type="checkbox" value="1" data-parsley-multiple="notifyProblem">
                                    <label for="notifyProblem" class="ups-checkbox-custom-label"><a href="#" class="ups-link_light">UPS WW Express Freight</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- End Add'I Pickup Info Modules - Default (1304) -->
                    <!-- ////////////////////////////////////////////// -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- fieldset removed in reskin
                    </fieldset>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->
                </div>

                <!-- End Section Body -->

            </div>
            {{!******************************************}}
            {{! End Step1 SERVICE AND PALLET             }}
            {{! INFORMATION HEADER                       }}
            {{!******************************************}}

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- fieldset removed in reskin
            </fieldset>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************** -->

            <!-- End Section Module -->
            <!-- Begin Section Module -->

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- fieldset removed in reskin
            <fieldset>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************** -->

            {{!******************************************}}
            {{! Begin Step2 PICKUP DATE AND TIME SECTION }}
            {{! HEADER                                   }}
            {{!******************************************}}
            <div class="secLvl step">

                <!-- Begin Header Bar -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
                    <h3>pickup date and time section header</h3>
                </div>
                <!-- End Header Bar -->
                <!-- Begin Section Body -->
                <div class="secBody clearfix">
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- fieldset removed
                    <fieldset>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<dl role="presentation" >
                        <dt>
                            <label for=""><a href="" class="btnlnkR helpIconR">pickup preference label:</a></label>
                        </dt>
                        <dd>
                            <select name="repl_name" id="repl_id01">
                                <option value="" selected="">ups will pickup</option>
                                <option value="">i will drop off at a ups location</option>
                            </select>
                            <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                    </dl>
                    <div class="subcol9 group clearfix">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td><input id="repl_id02" type="checkbox" value="repl_fvalue" name="repl_fname"></td>
                                <td><label class="sel" for="repl_id02">liftgate on pickup</label></td>
                            </tr>
                        </table>
                    </div>
                    <div class="clear"></div>
                    <dl role="presentation" >
                        <dt>
                            <label for="">{Pickup Date Label}:</label>
                        </dt>
                        <dd>
                            <select name="repl_name" id="">
                                <option value="" selected>{Pickup Date}</option>

                                <!-- <option value="">{1234567890 1234567890 1234567890 1234567890 1234567890 }</option> --

                            </select>
                        </dd>
                    </dl>-->
                    <div class="row">
						<div class="col-xs-5">
							<div class="ups-form_group ups-form_required">
								<label for="ups-pic_pref" class="ups-form_label"><a href="#" class="btnlnkR helpIconR">Pickup Preference</a></label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select id="ups-pic_pref" name="ups-pic_pref" class="ups-dropdown" aria-required="true" required="">
										<option>Select</option>
									</select>
								</div>
							</div>
                            <div class="ups-form_group">
                                <div class="ups-input_wrapper">
                                    <input id="ups-liftgate" class="ups-checkbox-custom" name="ups-liftgate" type="checkbox" value="1" data-parsley-multiple="notifyProblem">
                                    <label for="ups-liftgate" class="ups-checkbox-custom-label">Liftgate on pickup</label>
                                </div>
                            </div>
							<div class="ups-form_group">
								<label for="ups-pic_date" class="ups-form_label">{Pickup Date}</label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select id="ups-pic_date" name="ups-pic_date" class="ups-dropdown">
										<option>Select</option>
									</select>
								</div>
							</div>
						</div>
				    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- Begin Interior Column 1 --
                    <div class="subcol9 marginBegin">
                        <dl role="presentation" >
                            <dt>
                                <label>{Earliest Pickup Label}:</label>
                                <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                            <dd>
                                <select name="repl_name" id="">
                                    <option value="" selected>{nn}</option>

                                    <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>--

                                </select>
                                :
                                <select name="repl_name" id="">
                                    <option value="" selected>{nn}</option>

                                    <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>--

                                </select>
                                <input type="radio" name="repl_name" value="" id="">
                                <label for="" class="sel">{AM}</label>
                                <input type="radio" name="repl_name" value="" id="">
                                <label for="" class="sel">{PM}</label>
                            </dd>
                            <dt>
                                <label>{Latest Pickup Label}:</label>
                                <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                            <dd>
                                <select name="repl_name" id="">
                                    <option value="" selected>{nn}</option>

                                    <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>--

                                </select>
                                :
                                <select name="repl_name" id="">
                                    <option value="" selected>{nn}</option>

                                    <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>--

                                </select>
                                <input type="radio" name="repl_name" value="" id="">
                                <label for="" class="sel">{AM}</label>
                                <input type="radio" name="repl_name" value="" id="">
                                <label for="" class="sel">{PM}</label>
                            </dd>
                        </dl>
                    </div>
                    <!-- End Interior Column 1 --
                    <!-- Begin Interior Column 2 --
                    <div class="subcol9">
                        <dl role="presentation" >
                            <dt>
                                <label>{Lunch Period Label}:</label>
                            </dt>
                            <dd>
                                <select name="repl_name" id="">
                                    <option value="" selected>{nn}</option>

                                    <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>--

                                </select>
                                :
                                <select name="repl_name" id="">
                                    <option value="" selected>{nn}</option>

                                    <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>--

                                </select>
                                <input type="radio" name="repl_name" value="" id="">
                                <label for="" class="sel">{AM}</label>
                                <input type="radio" name="repl_name" value="" id="">
                                <label for="" class="sel">{PM}</label>
                            </dd>
                            <dt>
                                <label>{End of Lunch Label}:</label>
                            </dt>
                            <dd>
                                <select name="repl_name" id="">
                                    <option value="" selected>{nn}</option>

                                    <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>--

                                </select>
                                :
                                <select name="repl_name" id="">
                                    <option value="" selected>{nn}</option>

                                    <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>--

                                </select>
                                <input type="radio" name="repl_name" value="" id="">
                                <label for="" class="sel">{AM}</label>
                                <input type="radio" name="repl_name" value="" id="">
                                <label for="" class="sel">{PM}</label>
                            </dd>
                        </dl>
                    </div>-->
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="ups-time_selection ups-form_group">
                                <div class="ups-time_selection_label">
                                    <label for="pickupEarliestTimeHour" class="ups-form_label">
                                        Earliest Pickup Time
                                        <span class="ups-required_indicator" aria-hidden="true"></span>
                                    </label>
                                </div>
                                <div class="ups-time_selection_hour">
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select name="pickupEarliestTimeHour" class="ups-dropdown" id="pickupEarliestTimeHour">
                                            <option value="1">
                                                nn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ups-time_selection_colon">
                                    :
                                </div>
                                <div class="ups-time_selection_min">
                                    <label for="pickupEarliestTimeMin" class="ups-readerTxt">
                                        Earliest Pickup Time Minute
                                    </label>
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select name="pickupEarliestTimeMin" class="ups-dropdown" id="pickupEarliestTimeMin">
                                            <option value="1">
                                                nn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <fieldset class="ups-time_selection_ampm">
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="pickupEarliestTimeAm" class="ups-radio-custom" name="pickupEarliestTimeAmPm" value="1" type="radio">
                                        <label for="pickupEarliestTimeAm" class="ups-radio-custom-label">
                                            AM
                                        </label>
                                    </div>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="pickupEarliestTimePm" class="ups-radio-custom" name="pickupEarliestTimeAmPm" value="1" type="radio">
                                        <label for="pickupEarliestTimePm" class="ups-radio-custom-label">
                                            PM
                                        </label>
                                    </div>
                                </fieldset>
                            </div>

                        </div>
                        <div class="col-xs-6">
                            <div class="ups-time_selection ups-form_group">
                                <div class="ups-time_selection_label">
                                    <label for="pickupStartLunchTimeHour" class="ups-form_label">
                                        Start of Lunch Period
                                        <span class="ups-required_indicator" aria-hidden="true"></span>
                                    </label>
                                </div>
                                <div class="ups-time_selection_hour">
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select name="pickupStartLunchTimeHour" class="ups-dropdown" id="pickupStartLunchTimeHour">
                                            <option value="1">
                                                nn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ups-time_selection_colon">
                                    :
                                </div>
                                <div class="ups-time_selection_min">
                                    <label for="pickupStartLunchTimeMin" class="ups-readerTxt">
                                        Start of Lunch Period Minute
                                    </label>
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select name="pickupStartLunchTimeMin" class="ups-dropdown" id="pickupStartLunchTimeMin">
                                            <option value="1">
                                                nn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ups-time_selection_ampm">
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="pickupStartLunchTimeAm" class="ups-radio-custom" name="pickupStartLunchTimeAmPm" value="1" type="radio">
                                        <label for="pickupStartLunchTimeAm" class="ups-radio-custom-label">
                                            AM
                                        </label>
                                    </div>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="pickupStartLunchTimePm" class="ups-radio-custom" name="pickupStartLunchTimeAmPm" value="1" type="radio">
                                        <label for="pickupStartLunchTimePm" class="ups-radio-custom-label">
                                            PM
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="ups-time_selection ups-form_group">
                                <div class="ups-time_selection_label">
                                    <label for="pickupLatestTimeHour" class="ups-form_label">
                                        Latest Pickup Time
                                        <span class="ups-required_indicator" aria-hidden="true"></span>
                                    </label>
                                </div>
                                <div class="ups-time_selection_hour">
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select name="pickupLatestTimeHour" class="ups-dropdown" id="pickupLatestTimeHour">
                                            <option value="1">
                                                nn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ups-time_selection_colon">
                                    :
                                </div>
                                <div class="ups-time_selection_min">
                                    <label for="pickupLatestTimeMin" class="ups-readerTxt">
                                        Latest Pickup Time Minute
                                    </label>
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select name="pickupLatestTimeMin" class="ups-dropdown" id="pickupLatestTimeMin">
                                            <option value="1">
                                                nn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ups-time_selection_ampm">
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="pickupLatestTimeAm" class="ups-radio-custom" name="pickupLatestTimeAmPm" value="1" type="radio">
                                        <label for="pickupLatestTimeAm" class="ups-radio-custom-label">
                                            AM
                                        </label>
                                    </div>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="pickupLatestTimePm" class="ups-radio-custom" name="pickupLatestTimeAmPm" value="1" type="radio">
                                        <label for="pickupLatestTimePm" class="ups-radio-custom-label">
                                            PM
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="ups-time_selection ups-form_group">
                                <div class="ups-time_selection_label">
                                    <label for="pickupEndLunchTimeHour" class="ups-form_label">
                                        End of Lunch Period
                                        <span class="ups-required_indicator" aria-hidden="true"></span>
                                    </label>
                                </div>
                                <div class="ups-time_selection_hour">
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select name="pickupEndLunchTimeHour" class="ups-dropdown" id="pickupEndLunchTimeHour">
                                            <option value="1">
                                                nn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ups-time_selection_colon">
                                    :
                                </div>
                                <div class="ups-time_selection_min">
                                    <label for="pickupEndLunchTimeMin" class="ups-readerTxt">
                                        End of Lunch Period Minute
                                    </label>
                                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                                        <select name="pickupEndLunchTimeMin" class="ups-dropdown" id="pickupEndLunchTimeMin">
                                            <option value="1">
                                                nn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ups-time_selection_ampm">
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="pickupEndLunchTimeAm" class="ups-radio-custom" name="pickupEndLunchTimeAmPm" value="1" type="radio">
                                        <label for="pickupEndLunchTimeAm" class="ups-radio-custom-label">
                                            AM
                                        </label>
                                    </div>
                                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                                        <input id="pickupEndLunchTimePm" class="ups-radio-custom" name="pickupEndLunchTimeAmPm" value="1" type="radio">
                                        <label for="pickupEndLunchTimePm" class="ups-radio-custom-label">
                                            PM
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!-- fieldset removed
                    </fieldset>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<fieldset>
                        <h4>{Sub Header}</h4>

                        <!-- Begin Interior Column 1 --

                        <div class="subcol9 marginBegin">
                            <dl role="presentation" >
                                <dt>
                                    <label for="">{Preferred Pickup Label:}</label>
                                </dt>
                                <dd>
                                    <select name="repl_name" id="">
                                        <option value="" selected>{Choose One}</option>
                                    </select>
                                </dd>
                            </dl>
                        </div>

                        <!-- End Interior Column 1 --

                        <!-- Begin Interior Column 2 --

                        <div class="subcol9">
                            <dl role="presentation" >
                                <dt>
                                    <label for="">{<a href="" class="btnlnkR helpIconR">Pickup Reference Label</a>}:</label>
                                </dt>
                                <dd>
                                    <input name="repl_name" type="text" size="" id="">
                                </dd>
                            </dl>
                        </div>

                        <!-- End Interior Column 2 --

                    </fieldset>-->
                    <div class="secLvl secLvlPlain">
                        <div class="secHead clearfix"><h4>{Sub Header}</h4></div>
                        <div class="secBody">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="ups-form_group">
        								<label for="ups-pref_pic_date" class="ups-form_label">{Preferred Pickup Label}</label>
        								<div class="ups-dropdown_wrapper ups-input_wrapper">
        									<select id="ups-pref_pic_date" name="ups-pref_pic_date" class="ups-dropdown">
        										<option>Select</option>
        									</select>
        								</div>
        							</div>
                                </div>
                                <div class="col-xs-5 col-xs-offset-1">
                                    <div class="ups-form_group">
                                        <label for="ups-pic_ref" class="ups-form_label"><a href="" class="btnlnkR helpIconR">Pickup Reference Label</a></label>
                                        <div class="ups-text_wrapper ups-input_wrapper">
                                            <input type="text" name="ups-pic_ref" class="ups-form_input" id="ups-pic_ref">
                                        </div>
                                        <!-- ups-text_wrapper ups-input_wrapper -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<dl role="presentation" >
                        <dt>
                            <label for="">{Enter Special Instructions Label}:</label>
                        </dt>
                        <dd>
                            <textarea name="" cols="32" rows="3" class="full"></textarea>
                        </dd>
                    </dl>-->
                    <div class="ups-form_group">
						<label for="ups-spec_inst" class="ups-form_label">Enter Special Instructions Label</label>
						<div class="ups-textArea_wrapper ups-input_wrapper">
							<textarea class="ups-textArea" id="ups-spec_inst" rows="8" maxlength="500" name=""></textarea>
						</div>
					</div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ///////////////////////////////////////// -->
                    <!-- Begin Pickup - Drop-off - Drop-off (1304) -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<dl role="presentation" >
                        <dt>
                            <label for="repl_id02">drop-off date:</label>
                        </dt>
                        <dd>
                            <select name="repl_name" id="repl_id02">
                                <option value="" selected="">{today's date}</option>
                            </select>
                            <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                    </dl>
                    <dl role="presentation" >
                        <dt>
                            <label for=""><a href="" class="btnlnkR helpIconR">drop-off locations:</a></label>
                        </dt>
                        <dd>
                            <select name="repl_name" id="repl_id03">
                                <option value="" selected="">Select One</option>
                            </select>
                            <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                    </dl>-->
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="ups-form_group ups-form_required">
								<label for="ups-drop_off_date" class="ups-form_label">Drop-off Date<span aria-hidden="true" class="ups-required_indicator"></span> </label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select id="ups-drop_off_date" name="ups-drop_off_date" class="ups-dropdown" aria-required="true" required="">
										<option>Select</option>
									</select>
								</div>
							</div>
                            <div class="ups-form_group ups-form_required">
								<label for="ups-drop_off_loc" class="ups-form_label">Drop-off Location<span aria-hidden="true" class="ups-required_indicator"></span> </label>
								<div class="ups-dropdown_wrapper ups-input_wrapper">
									<select id="ups-drop_off_loc" name="ups-drop_off_loc" class="ups-dropdown" aria-required="true" required="">
										<option>Select</option>
									</select>
								</div>
							</div>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->
                    <div class="secLvl secLvlPlain clearfix">
                        <div class="secBody">

                            <!-- //////////////////////////////////////////////// -->
                            <!-- Begin Pickup - Drop-off Module - Drop-off (7306) -->

                            <!--<div class="marginBegin col6 clearfix">
                                <dl role="presentation" >
                                    <dt>
                                        <label for="repl_id">[location/facility name]</label>
                                    </dt>
                                    <dd>[address 1]<br>
                                        [city], [other], [state] [zip/postal code]<br>
                                        [country or territory]<br>
                                        Telephone: [number]<br>
                                        Fax: [number]</dd>
                                </dl>
                                <p><a class="btnlnkR newWindowIconR" href="repl_href">Last 50 feet directions</a></p>
                                <dl role="presentation" >
                                    <dt>
                                        <label for="repl_id">hours of operation:</label>
                                    </dt>
                                    <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                                </dl>
                                <dl role="presentation" >
                                    <dt>
                                        <label for="repl_id">ups location latest drop-off time:</label>
                                    </dt>
                                    <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                                </dl>
                            </div>
                            <div class="marginEnd clearfix">
                                <p>[<strong>000</strong>][mi/km]</p>
                            </div>
                            <div class="clear"></div>-->
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="ups-group ups-group_condensed">
                                        <p class="ups-group_label">[location/facility name]</p>
                                        <p>[address 1]</p>
                                        <p>[city], [other], [state] [zip/postal code]</p>
                                        <p>[country or territory]</p>
                                        <p>Telephone: [number]</p>
                                        <p>Fax: [number]</p>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <p><strong>[000]</strong>[mi/km]</p>
                                </div>
                            </div>
                            <!-- End Pickup - Drop-off Module - Drop-off (7306) -->
                            <!-- ////////////////////////////////////////////// -->

                        </div>
                    </div>

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<div class="secLvl message clearfix">
                        <fieldset>
                            <div class="secBody">
                                <p><strong>No UPS Facility results were found.</strong></p>
                                <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
                            </div>
                        </fieldset>
                    </div>
                    <div class="clear"></div>-->
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <p><strong>No UPS Facility results were found.</strong></p>
                            <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<div class="group clearfix">
                        <p>
                            <label for="repl_id">what time will your shipment be dropped off?</label>
                        </p>
                        <dl role="presentation" class="flexFirst">
                            <dt></dt>
                            <dd>
                                <select name="repl_name" id="repl_id">
                                    <option value="" selected="">nn</option>
                                </select>
                            </dd>
                        </dl>
                        <dl role="presentation" class="flexAfter">
                            <dd>
                                <select name="repl_name" id="repl_id">
                                    <option value="" selected="">nn</option>
                                </select>
                            </dd>
                        </dl>
                        <dl role="presentation" class="flexAfter">
                            <dd>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="alignTop"><input id="repl_id01" type="radio" value="" name="repl_name">
                                            <label class="sel" for="repl_id01">AM</label></td>
                                        <td class="alignTop"><input id="repl_id02" type="radio" value="" name="repl_name">
                                            <label class="sel" for="repl_id02">PM</label></td>
                                        <td class="alignTop">[PM]</td>
                                    </tr>
                                </table>
                            </dd>
                        </dl>
                        <div class="clear"></div>
                        <p>(local time)</p>
                        <div class="secLvl message clearfix">
                            <fieldset>
                                <div class="secBody">
                                    <p class="criticalMessage">The last drop for the UPS Location selected has already occured for today.  To see other times, select a different UPS location or a different Drop-off Date.</p>
                                </div>
                            </fieldset>
                        </div>
                    </div>-->
                    <div class="ups-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="ups-time_selection ups-form_group">
                                    <div class="ups-time_selection_label">
                                        <label for="pickupEarliestTimeHour" class="ups-form_label">
                                            What time will your shipment be dropped off?
                                            <span class="ups-required_indicator" aria-hidden="true"></span>
                                        </label>
                                    </div>
                                    <div class="ups-time_selection_hour">
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select name="pickupEarliestTimeHour" class="ups-dropdown" id="pickupEarliestTimeHour">
                                                <option value="1">
                                                    nn
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ups-time_selection_colon">
                                        :
                                    </div>
                                    <div class="ups-time_selection_min">
                                        <label for="pickupEarliestTimeMin" class="ups-readerTxt">
                                            What time will your shipment be dropped off?
                                        </label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select name="pickupEarliestTimeMin" class="ups-dropdown" id="pickupEarliestTimeMin">
                                                <option value="1">
                                                    nn
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <fieldset class="ups-time_selection_ampm">
                                        <div class="ups-buttonList_wrapper ups-input_wrapper">
                                            <input id="pickupEarliestTimeAm" class="ups-radio-custom" name="pickupEarliestTimeAmPm_01" value="1" type="radio">
                                            <label for="pickupEarliestTimeAm" class="ups-radio-custom-label">
                                                AM
                                            </label>
                                        </div>
                                        <div class="ups-buttonList_wrapper ups-input_wrapper">
                                            <input id="pickupEarliestTimePm" class="ups-radio-custom" name="pickupEarliestTimeAmPm_01" value="1" type="radio">
                                            <label for="pickupEarliestTimePm" class="ups-radio-custom-label">
                                                PM
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <p>(local time)</p>
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <p>The last drop for the UPS Location selected has already occured for today. To see other times, select a different UPS location or a different Drop-off Date.</p>
                            </div>
                        </div>
                    </div>
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: End part of re-design   -->
                    <!-- ************************************** -->

                    <!-- End Pickup - Drop-off - Drop-off (1304) -->
                    <!-- /////////////////////////////////////// -->

                </div>

                <!-- End Section Body -->
            </div>
            {{!******************************************}}
            {{! End Step2 PICKUP DATE AND TIME SECTION   }}
            {{! HEADER                                   }}
            {{!******************************************}}

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- fieldset removed in reskin
            </fieldset>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************** -->

            <!-- End Section Module -->
            <!-- ////////////////////////////////////////////// -->

            <!-- Begin Pickup - Drop-off Module - Pickup (1304) -->
            <!-- Begin Section Module -->

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- fieldset removed in reskin
            <fieldset>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************** -->

            {{!******************************************}}
            {{! Begin Step3 DESTINATION OPTIONS HEADER   }}
            {{!******************************************}}
            <div class="secLvl step">

                <!-- Begin Header Bar -->
                <div class="secHead clearfix">
                    <div class="stepNumberDiv"><span class="stepNumber">3</span></div>
                    <h3>destination options header</h3>
                </div>

                <!-- End Header Bar -->

                <!-- Begin Section Body -->

                <div class="secBody clearfix">
                    <!-- ************************************** -->
                    <!-- REDESIGN EDIT: Start part of re-design -->
                    <!-- ************************************** -->
                    <!--<dl role="presentation" >
                        <dt>
                            <label for="repl_id01"><a href="" class="btnlnkR helpIconR">delivery preference label:</a></label>
                        </dt>
                        <dd>
                            <select id="repl_id01">
                                <option value="" selected="">ups will deliver</option>
                            </select>
                            <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                    </dl>
                    <div class="clearfix">
                        <p><strong>Enter Ultimate Destination Address</strong></p>
                        <dl role="presentation" class="flexFirst">
                            <dt>
                                <label for="repl_id02">Country or Territory:</label>
                            </dt>
                            <dd>
                                <select id="repl_id02">
                                    <option value="" selected="">United States</option>
                                </select>
                                <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                        </dl>
                        <dl role="presentation" class="flexAfter">
                            <dt>
                                <label for="repl_id05">ZIP Code:</label>
                            </dt>
                            <dd>
                                <input type="text" id="repl_id05">
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="clear"></div>

                <!-- End Section Body --

                <!-- Begin Header Bar --

                <div class="secHead clearfix">
                    <div class="stepNumberDiv"><span class="stepNumber">3</span></div>
                    <h3>destination options header</h3>
                </div>

                <!-- End Header Bar --

                <!-- Begin Section Body --

                <div class="secBody clearfix">
                    <dl role="presentation" >
                        <dt>
                            <label for="repl_id01"><a href="" class="btnlnkR helpIconR">delivery preference label:</a></label>
                        </dt>
                        <dd>
                            <select id="repl_id01">
                                <option value="" selected="">ups will deliver</option>
                                <option value="">hold for customer pickup at ups location</option>
                            </select>
                            <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                    </dl>
                    <div class="subcol8 marginBegin clearfix">
                        <p><strong>Enter Ultimate Destination Address</strong></p>
                        <dl role="presentation" >
                            <dt>
                                <label for="repl_id02">Country or Territory:</label>
                            </dt>
                            <dd>
                                <select id="repl_id02">
                                    <option value="" selected="">United States</option>
                                </select>
                                <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                            <dt>
                                <label for="repl_id05">ZIP Code:</label>
                            </dt>
                            <dd>
                                <input type="text" id="repl_id05">
                                <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                            <input type="button" value="Find Location" class="btnArw">
                        </dl>
                    </div>
                    <div class="subcol10 marginEnd clearfix">
                        <p><span class="label">Shipment will be held for pick up at this UPS Location:</span></p>

                        <!-- //////////////////////////////////////////////// --

                        <!-- Begin Pickup - Drop-off Module - Drop-off (7306) --

                        <div class="secLvl clearfix">
                            <div class="secBody">
                                <dl role="presentation" >
                                    <dt>
                                        <label for="repl_id">[location/facility name]</label>
                                    </dt>
                                    <dd>[address 1]</dd>
                                    <dd>[city], [other], [state] [zip/postal code]</dd>
                                    <dd>[country or territory]</dd>
                                    <dd>Telephone: [number]</dd>
                                    <dd>Fax: [number]</dd>
                                </dl>
                                <p><a class="btnlnkR newWindowIconR" href="repl_href">Last 50 feet directions</a></p>
                                <dl role="presentation" >
                                    <dt>
                                        <label for="repl_id">Hours of Operation:</label>
                                    </dt>
                                    <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                                    <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                                    <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                                    <dd>...</dd>
                                    <dd>[Sunday] [Closed]</dd>
                                </dl>
                            </div>
                        </div>

                        <!-- End Pickup - Drop-off Module - Drop-off (7306) --

                        <!-- ////////////////////////////////////////////// --

                        <div class="secLvl message clearfix">
                            <fieldset>
                                <div class="secBody">
                                    <p><strong>No UPS Facility results were found.</strong></p>
                                    <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>-->
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="ups-form_group ups-form_required">
                                <label for="ups-del_pref" class="ups-form_label"><a href="" class="btnlnkR helpIconR">Delivery Preference</a><span aria-hidden="true" class="ups-required_indicator"></span> </label>
                                <div class="ups-dropdown_wrapper ups-input_wrapper">
                                    <select id="ups-del_pref" name="ups-del_pref" class="ups-dropdown" aria-required="true" required="">
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <fieldset class="ups-form_group">
                                <legend id="ups_ult_dest_add" class="ups-form_label">Enter Ultimate Destination Address</legend>
                                <div class="row">
                                    <div class="col-xs-7">
                                        <div class="ups-form_group ups-form_required">
                                            <label for="ups-country" class="ups-form_label"><a href="" class="btnlnkR helpIconR">Country or Territory</a><span aria-hidden="true" class="ups-required_indicator"></span> </label>
                                            <div class="ups-dropdown_wrapper ups-input_wrapper">
                                                <select id="ups-country" name="ups-country" class="ups-dropdown" aria-required="true" required="" aria-discribedby="ups_ult_dest_add">
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="ups-form_group">
                                            <label for="ups-zip" class="ups-form_label">Zip Code</label>
                                            <div class="ups-text_wrapper ups-input_wrapper">
                                                <input type="text" name="ups-zip" class="ups-form_input" id="ups-zip">
                                            </div>
                                            <!-- ups-text_wrapper ups-input_wrapper -->
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-xs-7">
                            <p><strong>Shipment will be held for pick up at this UPS Location</strong></p>
                            <div class="ups-group ups-group_condensed">
                                <p class="ups-group_label">[location/facility name]</p>
                                <p>[address 1]</p>
                                <p>[city], [other], [state] [zip/postal code]</p>
                                <p>[country or territory]</p>
                                <p>Telephone: [number]</p>
                                <p>Fax: [number]</p>
                            </div>
                            <p><a href="#" class="ups-link_light">Last 50 feet directions</a><span class="icon ups-link_newwindow" aria-hidden="true"></span><span class="ups-readerTxt">Open the link in a new window</span></p>
                            <div class="ups-group ups-group_condensed">
                                <p class="ups-group_label">Hours of Operation</p>
                                <p>[weekday] hh:mm AM to hh:mm PM</p>
                                <p>[weekday] hh:mm AM to hh:mm PM</p>
                                <p>[weekday] hh:mm AM to hh:mm PM</p>
                                <p>[weekday] hh:mm AM to hh:mm PM</p>
                                <p>...</p>
                                <p>[Sunday] [Closed]</p>
                            </div>
                            <div class="panel panel-info">
                                        <div class="panel-body">
                                            <p><strong>No UPS Facility results were found.</strong></p>
                                            <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>

                <!-- End Section Body -->

            </div>
            {{!******************************************}}
            {{! End Step3 DESTINATION OPTIONS HEADER     }}
            {{!******************************************}}

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!-- fieldset removed in reskin
            </fieldset>
            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************** -->

            <!-- End Section Module -->

            <!-- End Pickup - Drop-off Module - Pickup (1304) -->
            <!-- //////////////////////////////////////////// -->

            <!-- End Section Lvl -->
        </div>
        <!-- End Application Body -->
        <!-- Begin Application Footer -->
        <div class="appFooter">

            <!-- Begin Button Bar Row -->

            <button name="Input" type="submit" class="ups-cta ups-cta_primary">Next</button>

            <!-- End Button Bar Row -->

        </div>
        <!-- End Application Footer -->
    </div>

    <!-- End Application Module -->]
</form>
