{{> "background_modal_content"}}

<!-- Modal-->
<div class="appLvl modal-dialog mod modal dialog">
	<div class="appHead clearfix">

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <h2>Modify Pickup Request</h2>

    <ul>
      <li>
        <input type="button" class="btnlnkL closeIcon" title="Close" id="modalClose">
      </li>
    </ul>

    -->

    <h2 class="ups-modal_heading">Modify Pickup Request</h2>

    <button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()"> <span class="icon ups-icon-x" aria-hidden="true"></span> <span class="ups-readerTxt ng-binding">Close This Dialog</span> </button>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

	</div>

	<div class="appBody ups-application_wrapper">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- for reskin: add div.ups-group wrapper  -->
    <div class="ups-group">
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
  		<p>{[We are unable to process your request become of a system error. Please try again.]</p>
  		<p>[Your pickup request is already in progress. Changes to this request can no longer be made.]}</p>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- for reskin: add div.ups-group wrapper  -->
    </div>
    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->
	</div>

	<div class="appFooter">

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <div class="btnBar alignCenter">
			<input name="" type="button" value="Ok" class="btn">
		</div>

    -->

    <div class="ups-form_ctaGroup text-center">
      <button type="button" class="ups-cta ups-cta_primary">okay</button>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

	</div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
  	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:710});
  	$('#modalClose').click(function(e){
  			modal.dialog('close');
  	});
  });
</script>
