<!-- Begin Application Module -->

<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** -->
<!--

<div class="appLvl col18 mod">
  <fieldset>
  -->

<form action="">

  <div class="appLvl mod ups-application_wrapper ups-form_wrap">

<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design   -->
<!-- ************************************** -->

    <!-- Begin Application Header -->

    <div class="appHead clearfix">
      <h2>Enter Pickup Information header</h2>
    </div>

    <!-- End Application Header -->

    <!-- Begin Application Body -->

    <div class="appBody clearfix">

      <!-- Begin Section Module -->

      <div class="secLvl clearfix">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- remove fieldset for reskin
        <fieldset>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

          <!-- Begin Section Body -->

          <div class="secBody step noHead clearfix">

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <dl role="presentation">
              <dt>
                <label for="">UPS Account Number:</label>
              </dt>
              <dd>NNXNNX</dd>
            </dl>

            <!-- Begin Section Level ->

            <div class="secLvl message clearfix">

              <fieldset>
                <div class="secBody clearfix">
                  <h4>UPS Smart Pickup Status</h4>
                  <p>A pickup occurred at your location earlier today.  PRN <a href="">NNXNNX</a></p>
                </div>
              </fieldset>

            </div>

            <!-- End Section Level ->

            -->

            <div class="ups-group">
              <p class="ups-group_label">UPS Account Number</p>
              <p>NNXNNX</p>
            </div>

            <div class="panel panel-primary">
      				<div class="panel-body">
                <h4>UPS Smart Pickup Status</h4>
                <p>A pickup occurred at your location earlier today.  PRN <a href="">NNXNNX</a></p>
              </div>
					  </div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            <p>{the notify time for this account has passed}</p>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <dl role="presentation" >
              <dt>
                <label for="repl_id">A <a href="../../_app_ent/internet_pickup/repl_href1" class="btnlnkR helpIconR">Smart Pickup</a> can be requested</label>
                for {the next business day/date}.</dt>
              <dd></dd>
            </dl>

            <p><span class="label">Select an Option:<img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></span></p>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="sel"><input name="repl_name" type="radio" value="repl_fvalue" id="repl_id01" checked></td>
                <td><label for="repl_id01" class="sel">Include this shipment with the {next business day/date} Smart Pickup using account</label></td>
              </tr>
              <tr>
                <td class="sel"><input name="repl_name" type="radio" value="repl_fvalue" id="repl_id02"></td>
                <td><label for="repl_id01" class="sel">Schedule an {additional} <a href="../../_app_ent/internet_pickup/repl_href2" class="btnlnkR helpIconR">UPS On-Call Pickup</a>.  UPS Smart Pickup customers may schedule an Air or International pickup at no charge</label></td>
              </tr>
              <tr>
                <td class="sel"><input name="repl_name" type="radio" value="repl_fvalue" id="repl_id03"></td>
                <td><label for="repl_id01" class="sel">Find a UPS location near you.  {Select this option for no pickup}</label></td>
              </tr>
            </table>

            -->

            <div class="ups-group">
              <strong>A <a href="../../_app_ent/internet_pickup/repl_href1" class="btnlnkR helpIconR">Smart Pickup</a> can be requested</strong> for {the next business day/date}.
            </div>

            <fieldset class="ups-form_group">
  						<legend class="ups-form_label">Select An Option</legend>
  						<div class="ups-buttonList_wrapper ups-input_wrapper">
  							<input id="ups-uid-form_title-yes" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt1" checked="">
  							<label for="ups-uid-form_title-yes" class="ups-radio-custom-label">Include this shipment with the {next business day/date} Smart Pickup using account</label>
  						</div>
  						<div class="ups-buttonList_wrapper ups-input_wrapper">
  							<input id="ups-uid-form_title-no" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt2">
  							<label for="ups-uid-form_title-no" class="ups-radio-custom-label">Schedule an {additional} <a href="../../_app_ent/internet_pickup/repl_href2" class="btnlnkR helpIconR">UPS On-Call Pickup</a>.  UPS Smart Pickup customers may schedule an Air or International pickup at no charge</label>
  						</div>
  						<div class="ups-buttonList_wrapper ups-input_wrapper">
  							<input id="ups-uid-form_title-no" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt3">
  							<label for="ups-uid-form_title-no" class="ups-radio-custom-label">Find a UPS location near you.  {Select this option for no pickup}</label>
  						</div>
  					</fieldset>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->


          </div>

          <!-- End Section Body -->

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!-- remove fieldset for reskin
        </fieldset>
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->
      </div>

      <!-- End Section Module -->

    </div>

    <!-- End Application Body -->

    <!-- Begin Application Footer -->

    <div class="appFooter">

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!--

      <!-- Begin Button Bar Row ->
      <div class="btnBar">
        <input name="repl_name" type="button" value="{Cancel}" class="btn">
        <input name="Input" type="submit" value="{Next}" class="btnArw">
      </div>
      <!-- End Button Bar Row -->

      <div class="ups-form_ctaGroup">
        <button type="submit" class="ups-cta ups-cta_primary">Next</button>
        <button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
      </div>

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: End part of re-design   -->
      <!-- ************************************** -->

    </div>

    <!-- End Application Footer -->

  <!-- ************************************** -->
  <!-- REDESIGN EDIT: Start part of re-design -->
  <!-- ************************************** -->
  <!-- remove fieldset for reskin
  </fieldset>
  <!-- ************************************** -->
  <!-- REDESIGN EDIT: End part of re-design   -->
  <!-- ************************************** -->

  </div>

<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** -->
</form>
<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design   -->
<!-- ************************************** -->

<!-- End Application Module -->
