<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** -->
<!-- FOR RESKIN: add wrapper classes -->

<div class="ups-application_wrapper ups-form_wrap">

<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design   -->
<!-- ************************************** -->

  <form action="repl_fname">

    <!-- Begin Application Module -->

    <div class="appLvl mod">

      <!-- Begin Application Header -->

      <div class="appHead clearfix">
        <h2>{Application Header}</h2>
      </div>

      <!-- End Application Header -->

      <!-- Begin Application Body -->

      <div class="appBody clearfix">
        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--
        <p>Required fields are indicated with <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon">.</p>
        -->

        <p>Required fields are indicated with <span aria-hidden="true">*</span><span class="ups-readerTxt">Required</span>.</p>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->


        <!-- Set Section Lvl -->

        <!-- Begin Section Module -->

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <fieldset>

          <div class="secLvl step">
            <div class="secHead clearfix">
              <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
              <h3>pickup date and time header</h3>
            </div>

            <!-- Begin Section Body ->

            <div class="secBody clearfix">

              <!-- ////////////////////////////////////////////// -->

              <!-- Begin Pickup - Drop-off Module - Pickup (1304) ->

              <dl role="presentation" >
                <dt>
                  <label for=""><a href="" class="btnlnkR helpIconR">pickup options label:</a></label>
                </dt>
                <dd>
                  <select name="repl_name" id="repl_id01">
                    <option value="" selected="">ups will pickup</option>
                  </select>
                  <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
              </dl>
              <div class="subcol9 group clearfix">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><input id="repl_id02" type="checkbox" value="repl_fvalue" name="repl_fname"></td>
                    <td><label class="sel" for="repl_id02">liftgate on pickup</label></td>
                  </tr>
                </table>
              </div>
              <div class="clear"></div>

              <!-- End Pickup - Drop-off Module - Pickup (1304) -->

              <!-- //////////////////////////////////////////// ->

              <dl role="presentation" >
                <dt>
                  <label for="">{Pickup Date Label}:</label>
                </dt>
                <dd>{Pickup Date}</dd>
              </dl>
              <fieldset>

                <!-- Begin Interior Column 1 ->

                <div class="subcol9 marginBegin">
                  <dl role="presentation" >
                    <dt>
                      <label>{Earliest Pickup Label}:</label>
                      <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                    <dd>
                      <select name="repl_name" id="">
                        <option value="" selected>{nn}</option>

                        <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>->

                      </select>
                      :
                      <select name="repl_name" id="">
                        <option value="" selected>{nn}</option>

                        <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>->

                      </select>
                      <input type="radio" name="repl_name" value="" id="">
                      <label for="" class="sel">{AM}</label>
                      <input type="radio" name="repl_name" value="" id="">
                      <label for="" class="sel">{PM}</label>
                    </dd>
                    <dt>
                      <label>{Latest Pickup Label}:</label>
                      <img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"></dt>
                    <dd>
                      <select name="repl_name" id="">
                        <option value="" selected>{nn}</option>

                        <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>->

                      </select>
                      :
                      <select name="repl_name" id="">
                        <option value="" selected>{nn}</option>

                        <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>->

                      </select>
                      <input type="radio" name="repl_name" value="" id="">
                      <label for="" class="sel">{AM}</label>
                      <input type="radio" name="repl_name" value="" id="">
                      <label for="" class="sel">{PM}</label>
                    </dd>
                  </dl>
                </div>

                <!-- End Interior Column 1 -->

                <!-- Begin Interior Column 2 ->

                <div class="subcol9">
                  <dl role="presentation" >
                    <dt>
                      <label>{Lunch Period Label}:</label>
                    </dt>
                    <dd>
                      <select name="repl_name" id="">
                        <option value="" selected>{nn}</option>

                        <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>->

                      </select>
                      :
                      <select name="repl_name" id="">
                        <option value="" selected>{nn}</option>

                        <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>->

                      </select>
                      <input type="radio" name="repl_name" value="" id="">
                      <label for="" class="sel">{AM}</label>
                      <input type="radio" name="repl_name" value="" id="">
                      <label for="" class="sel">{PM}</label>
                    </dd>
                    <dt>
                      <label>{End of Lunch Label}:</label>
                    </dt>
                    <dd>
                      <select name="repl_name" id="">
                        <option value="" selected>{nn}</option>

                        <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>->

                      </select>
                      :
                      <select name="repl_name" id="">
                        <option value="" selected>{nn}</option>

                        <!--<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>->

                      </select>
                      <input type="radio" name="repl_name" value="" id="">
                      <label for="" class="sel">{AM}</label>
                      <input type="radio" name="repl_name" value="" id="">
                      <label for="" class="sel">{PM}</label>
                    </dd>
                  </dl>
                </div>

                <!-- End Interior Column 2 ->

              </fieldset>
              <fieldset>
                <h4>{Sub Header}</h4>

                <!-- Begin Interior Column 1 ->

                <div class="subcol9 marginBegin">
                  <dl role="presentation" >
                    <dt>
                      <label for="">{Preferred Pickup Label:}</label>
                    </dt>
                    <dd>
                      <select name="repl_name" id="">
                        <option value="" selected>{Choose One}</option>
                      </select>
                    </dd>
                  </dl>
                </div>

                <!-- End Interior Column 1 -->

                <!-- Begin Interior Column 2 ->

                <div class="subcol9">
                  <dl role="presentation" >
                    <dt>
                      <label for="">{<a href="" class="btnlnkR helpIconR">Pickup Reference Label</a>}:</label>
                    </dt>
                    <dd>
                      <input name="repl_name" type="text" size="" id="">
                    </dd>
                  </dl>
                </div>

                <!-- End Interior Column 2 ->

              </fieldset>
              <dl role="presentation" >
                <dt>
                  <label for="">{Enter Special Instructions Label}:</label>
                </dt>
                <dd>
                  <textarea name="" cols="32" rows="3" class="full"></textarea>
                </dd>
              </dl>

              <!-- ///////////////////////////////////////// -->

              <!-- Begin Pickup - Drop-off - Drop-off (1304) ->

              <dl role="presentation" >
                <dt>
                  <label for="repl_id02">drop-off date:</label>
                </dt>
                <dd>
                  <select name="repl_name" id="repl_id02">
                    <option value="" selected="">{today's date}</option>
                  </select>
                  <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
              </dl>
              <dl role="presentation" >
                <dt>
                  <label for=""><a href="" class="btnlnkR helpIconR">drop-off locations:</a></label>
                </dt>
                <dd>
                  <select name="repl_name" id="repl_id03">
                    <option value="" selected="">Select One</option>
                  </select>
                  <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
              </dl>
              <div class="secLvl message sell clearfix">
                <div class="secBody">
                  <dl role="presentation" >
                    <dt>
                      <label for="repl_id">[location/facility name]</label>
                    </dt>
                    <dd>[address 1]</dd>
                    <dd>[city], [other], [state] [zip/postal code]</dd>
                    <dd>[country or territory]</dd>
                    <dd>Telephone: [number]</dd>
                    <dd>Fax: [number]</dd>
                  </dl>
                  <dl role="presentation" >
                    <dt>
                      <label for="repl_id">hours of operation:</label>
                    </dt>
                    <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                  </dl>
                  <dl role="presentation" >
                    <dt>
                      <label for="repl_id">ups location latest drop-off time:</label>
                    </dt>
                    <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                  </dl>
                </div>
              </div>
              <div class="secLvl message sell clearfix">
                <fieldset>
                  <div class="secBody">
                    <p><strong>No UPS Facility results were found.</strong></p>
                    <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
                  </div>
                </fieldset>
              </div>
              <div class="group clearfix">
                <p>
                  <label for="repl_id">what time will your shipment be dropped off?</label>
                </p>
                <dl role="presentation" class="flexFirst">
                  <dt></dt>
                  <dd>
                    <select name="repl_name" id="repl_id">
                      <option value="" selected="">nn</option>
                    </select>
                  </dd>
                </dl>
                <dl role="presentation" class="flexAfter">
                  <dd>
                    <select name="repl_name" id="repl_id">
                      <option value="" selected="">nn</option>
                    </select>
                  </dd>
                </dl>
                <dl role="presentation" class="flexAfter">
                  <dd>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="alignTop"><input id="repl_id01" type="radio" value="" name="repl_name">
                          <label class="sel" for="repl_id01">AM</label></td>
                        <td class="alignTop"><input id="repl_id02" type="radio" value="" name="repl_name">
                          <label class="sel" for="repl_id02">PM</label></td>
                        <td class="alignTop">[PM]</td>
                      </tr>
                    </table>
                  </dd>
                </dl>
                <div class="clear"></div>
                <p>(local time)</p>
                <div class="secLvl message sell clearfix">
                  <fieldset>
                    <div class="secBody">
                      <p class="criticalMessage">The last drop for the UPS Location selected has already occured for today.  To see other times, select a different UPS location or a different Drop-off Date.</p>
                    </div>
                  </fieldset>
                </div>
              </div>

              <!-- End Pickup - Drop-off - Drop-off (1304) -->

              <!-- /////////////////////////////////////// -->

              <!-- ////////////////////////////////////////////// -->

              <!-- Begin Pickup - Drop-off Module - Pickup (1304) ->

              <div class="group clearfix">
                <dl role="presentation" class="outHozFlex">
                  <dt>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><input id="repl_id10" type="checkbox" value="repl_fvalue" name="repl_fname"></td>
                        <td><label class="sel" for="repl_id10">dangerous goods label</label></td>
                      </tr>
                    </table>
                  </dt>
                  <dd><a href="repl_href" class="btnlnkR helpIconR">what's this?</a></dd>
                </dl>
              </div>
              <div class="clear"></div>
              <div class="clearfix">
                <p>Review the <a class="btnlnkR newWindowIconR" href="repl_href">raw wood guidlines</a> to see if they apply to your pallet.</p>
              </div>

              <!-- End Pickup - Drop-off Module - Pickup (1304) -->

              <!-- //////////////////////////////////////////// ->

            </fieldset>

            -->

          <div class="secLvl step" id="step-1">

            <!-- Begin Header Bar -->
            <div class="secHead clearfix">
              <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
              <h3>pickup date and time header</h3>
            </div>
            <!-- End Header Bar -->

            <!-- Begin Section Body -->

            <div class="secBody clearfix">

              <div class="row">
                <div class="col-xs-5">
                  <div class="ups-form_group ups-form_required ">
                    <label for="pickup_options" class="ups-form_label"><a href="#" class="btnlnkR helpIconR">pickup options label</a> <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                      <select name="pickup_options" class="ups-dropdown" id="pickup_options">
                        <option value="" selected="">ups will pickup</option>
                      </select>
                    </div>
                  </div>

                  <div class="ups-form_group">
                    <div class="ups-buttonList_wrapper ups-input_wrapper">
                      <input id="liftgate" class="ups-checkbox-custom" name="check" type="checkbox" checked="">
                      <label for="liftgate" value="1" class="ups-checkbox-custom-label">liftgate on pickup</label>
                    </div>
                  </div>

                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">Pickup Date Label</p>
                    <p>{Pickup Date}</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">

                  <div class="ups-time_selection ups-form_group">
                    <div class="ups-time_selection_label">
                      <label for="pickupEarliestTimeHour" class="ups-form_label">
                        {Earliest Pickup Label}
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                      </label>
                    </div>
                    <div class="ups-time_selection_hour">
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEarliestTimeHour"
                          class="ups-dropdown"
                          id="pickupEarliestTimeHour">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="ups-time_selection_colon">
                      :
                    </div>
                    <div class="ups-time_selection_min">
                      <label for="pickupEarliestTimeMin" class="ups-readerTxt">
                        Earliest Pickup Time Minute
                      </label>
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEarliestTimeMin"
                          class="ups-dropdown"
                          id="pickupEarliestTimeMin">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <fieldset class="ups-time_selection_ampm">
                      <legend>
                        AM/PM selection
                      </legend>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEarliestTimeAm"
                          class="ups-radio-custom"
                          name="pickupEarliestTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="pickupEarliestTimeAm" class="ups-radio-custom-label">
                          AM
                        </label>
                      </div>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEarliestTimePm"
                          class="ups-radio-custom"
                          name="pickupEarliestTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="pickupEarliestTimePm" class="ups-radio-custom-label">
                          PM
                        </label>
                      </div>
                    </fieldset>
                  </div>

                </div>

                <div class="col-xs-6">

                  <div class="ups-time_selection ups-form_group">
                    <div class="ups-time_selection_label">
                      <label for="pickupStartLunchTimeHour" class="ups-form_label">
                        {Lunch Period Label}
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                      </label>
                    </div>
                    <div class="ups-time_selection_hour">
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupStartLunchTimeHour"
                          class="ups-dropdown"
                          id="pickupStartLunchTimeHour">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="ups-time_selection_colon">
                      :
                    </div>
                    <div class="ups-time_selection_min">
                      <label for="pickupStartLunchTimeMin" class="ups-readerTxt">
                        Start of Lunch Period Minute
                      </label>
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupStartLunchTimeMin"
                          class="ups-dropdown"
                          id="pickupStartLunchTimeMin">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <fieldset class="ups-time_selection_ampm">
                      <legend>
                        AM/PM selection
                      </legend>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupStartLunchTimeAm"
                          class="ups-radio-custom"
                          name="pickupStartLunchTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="pickupStartLunchTimeAm" class="ups-radio-custom-label">
                          AM
                        </label>
                      </div>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupStartLunchTimePm"
                          class="ups-radio-custom"
                          name="pickupStartLunchTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="pickupStartLunchTimePm" class="ups-radio-custom-label">
                          PM
                        </label>
                      </div>
                    </fieldset>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-xs-6">

                  <div class="ups-time_selection ups-form_group">
                    <div class="ups-time_selection_label">
                      <label for="pickupLatestTimeHour" class="ups-form_label">
                        {Latest Pickup Label}
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                      </label>
                    </div>
                    <div class="ups-time_selection_hour">
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupLatestTimeHour"
                          class="ups-dropdown"
                          id="pickupLatestTimeHour">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="ups-time_selection_colon">
                      :
                    </div>
                    <div class="ups-time_selection_min">
                      <label for="pickupLatestTimeMin" class="ups-readerTxt">
                        Latest Pickup Time Minute
                      </label>
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupLatestTimeMin"
                          class="ups-dropdown"
                          id="pickupLatestTimeMin">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <fieldset class="ups-time_selection_ampm">
                      <legend>
                        AM/PM selection
                      </legend>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupLatestTimeAm"
                          class="ups-radio-custom"
                          name="pickupLatestTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="pickupLatestTimeAm" class="ups-radio-custom-label">
                          AM
                        </label>
                      </div>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupLatestTimePm"
                          class="ups-radio-custom"
                          name="pickupLatestTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="pickupLatestTimePm" class="ups-radio-custom-label">
                          PM
                        </label>
                      </div>
                    </fieldset>
                  </div>

                </div>
                <div class="col-xs-6">

                  <div class="ups-time_selection ups-form_group">
                    <div class="ups-time_selection_label">
                      <label for="pickupEndLunchTimeHour" class="ups-form_label">
                        {End of Lunch Label}
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                      </label>
                    </div>
                    <div class="ups-time_selection_hour">
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEndLunchTimeHour"
                          class="ups-dropdown"
                          id="pickupEndLunchTimeHour">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="ups-time_selection_colon">
                      :
                    </div>
                    <div class="ups-time_selection_min">
                      <label for="pickupEndLunchTimeMin" class="ups-readerTxt">
                        End of Lunch Period Minute
                      </label>
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="pickupEndLunchTimeMin"
                          class="ups-dropdown"
                          id="pickupEndLunchTimeMin">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <fieldset class="ups-time_selection_ampm">
                      <legend>
                        AM/PM selection
                      </legend>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEndLunchTimeAm"
                          class="ups-radio-custom"
                          name="pickupEndLunchTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="pickupEndLunchTimeAm" class="ups-radio-custom-label">
                          AM
                        </label>
                      </div>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="pickupEndLunchTimePm"
                          class="ups-radio-custom"
                          name="pickupEndLunchTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="pickupEndLunchTimePm" class="ups-radio-custom-label">
                          PM
                        </label>
                      </div>
                    </fieldset>
                  </div>

                </div>
              </div>

              <h4>{Sub Header}</h4>

              <div class="row">
                <div class="col-xs-5">
                  <div class="ups-form_group">
                    <label for="pickupPreferredLocation" class="ups-form_label">
                      {Preferred Pickup Label:}
                    </label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                      <select name="pickupPreferredLocation"
                        class="ups-dropdown"
                        id="pickupPreferredLocation">
                        <option value="1">
                          Choose One
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-xs-5 col-xs-offset-1">
                  <div class="ups-form_group">
                    <label for="pickupReference" class="ups-form_label">
                      {<a href="repl_href" class="btnlnkR helpIconR">Pickup Reference Label</a>}
                    </label>
                    <div class="ups-text_wrapper ups-input_wrapper">
                      <input name="pickupReference"
                        class="ups-form_input"
                        id="pickupReference"
                        type="text">
                    </div>
                  </div>
                </div>
              </div>

              <div class="ups-form_group">
                <label for="pickupSpecialInstructions" class="ups-form_label">
                  {Enter Special Instructions Label}
                </label>
                <div class="ups-textArea_wrapper ups-input_wrapper">
                  <textarea class="ups-textArea" id="pickupSpecialInstructions" rows="4" maxlength="500" name="pickupSpecialInstructions"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-5">
                  <div class="ups-form_group ups-form_required ">
                    <label for="dropoff_date" class="ups-form_label">drop-off date <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                      <select name="dropoff_date" class="ups-dropdown" id="dropoff_date">
                        <option value="" selected="">{today's date}</option>
                      </select>
                    </div>
                  </div>

                  <div class="ups-form_group ups-form_required ">
                    <label for="dropoff_locations" class="ups-form_label"><a href="#" class="btnlnkR helpIconR">drop-off locations</a> <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
                    <div class="ups-dropdown_wrapper ups-input_wrapper">
                      <select name="dropoff_locations" class="ups-dropdown" id="dropoff_locations">
                        <option value="" selected="">Select One</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-primary">
        				<div class="panel-body">

                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">[location/facility name]</p>
                    <p>[address 1]</p>
                    <p>[city], [other], [state][zip/postal code]</p>
                    <p>[country or territory]</p>
                    <p>Telephone: [number]</p>
                    <p>Fax: [number]</p>
                  </div>

                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">hours of operation</p>
                    <p>[weekday] hh:mm AM to hh:mm PM</p>
                  </div>

                  <div class="ups-group ups-group_condensed">
                    <p class="ups-group_label">ups location latest drop-off time</p>
                    <p>[weekday] hh:mm AM to hh:mm PM</p>
                  </div>

        				</div>
        			</div>

              <div class="panel panel-primary">
        				<div class="panel-body">
                  <p><strong>No UPS Facility results were found.</strong></p>
                  <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
        				</div>
        			</div>

              <div class="row">
                <div class="col-xs-6">

                  <div class="ups-time_selection ups-form_group">
                    <div class="ups-time_selection_label">
                      <label for="dropoffTimeHour" class="ups-form_label">
                        what time will your shipment be dropped off?
                        <span class="ups-required_indicator" aria-hidden="true"></span>
                      </label>
                    </div>
                    <div class="ups-time_selection_hour">
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="dropoffTimeHour"
                          class="ups-dropdown"
                          id="dropoffTimeHour">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="ups-time_selection_colon">
                      :
                    </div>
                    <div class="ups-time_selection_min">
                      <label for="dropoffTimeMin" class="ups-readerTxt">
                        Dropoff Time Minute
                      </label>
                      <div class="ups-dropdown_wrapper ups-input_wrapper">
                        <select name="dropoffTimeMin"
                          class="ups-dropdown"
                          id="dropoffTimeMin">
                          <option value="1">
                            nn
                          </option>
                        </select>
                      </div>
                    </div>
                    <fieldset class="ups-time_selection_ampm">
                      <legend>
                        AM/PM selection
                      </legend>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="dropoffTimeAm"
                          class="ups-radio-custom"
                          name="dropoffTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="dropoffTimeAm" class="ups-radio-custom-label">
                          AM
                        </label>
                      </div>
                      <div class="ups-buttonList_wrapper ups-input_wrapper">
                        <input id="dropoffTimePm"
                          class="ups-radio-custom"
                          name="dropoffTimeAmPm"
                          value="1"
                          type="radio">
                        <label for="dropoffTimePm" class="ups-radio-custom-label">
                          PM
                        </label>
                      </div>
                    </fieldset>
                  </div>

                </div>
              </div>

              <div class="panel panel-primary">
        				<div class="panel-body">
                  <p><strong>The last drop for the UPS Location selected has already occured for today. To see other times, select a different UPS location or a different Drop-off Date.</strong></p>
        				</div>
        			</div>

              <div class="row">
                <div class="col-xs-6">
                  <div class="ups-form_group">
      							<div class="ups-checkbox ups-input_wrapper">
      								<input id="dangerous_goods" class="ups-checkbox-custom" name="check_req" type="checkbox">
      								<label for="dangerous_goods" value="1" class="ups-checkbox-custom-label">
      									dangerous goods label <a href="#" class="btnlnkR helpIconR">what's this</a>.
      								</label>
      							</div>
      						</div>
                </div>
              </div>

              <p>Review the <a href="repl_href">raw wood guidlines</a> <span class="icon ups-icon-newwindow" aria-hidden="true"></span> to see if they apply to your pallet.</p>

            </div>

            <!-- End Section Body -->

          </div>

          <!-- Begin Section Footer --><!-- End Section Footer -->

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

        <!-- End Section Module -->

        <!-- ////////////////////////////////////////////// -->

        <!-- Begin Pickup - Drop-off Module - Pickup (1304) -->

        <!-- Begin Section Module -->

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <fieldset>
          <div class="secLvl step">

            <!-- Begin Header Bar ->

            <div class="secHead clearfix">
              <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
              <h3>destination options header</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body ->

            <div class="secBody clearfix">
              <dl role="presentation" >
                <dt>
                  <label for="repl_id01"><a href="" class="btnlnkR helpIconR">delivery options label:</a></label>
                </dt>
                <dd>
                  <select id="repl_id01">
                    <option value="" selected="">ups will deliver</option>
                  </select>
                  <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
              </dl>
              <div class="clearfix">
                <p><strong>Enter Ultimate Destination Address</strong></p>
                <dl role="presentation" class="flexFirst">
                  <dt>
                    <label for="repl_id02">Country or Territory:</label>
                  </dt>
                  <dd>
                    <select id="repl_id02">
                      <option value="" selected="">United States</option>
                    </select>
                    <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                </dl>
                <dl role="presentation" class="flexAfter">
                  <dt>
                    <label for="repl_id05">ZIP Code:</label>
                  </dt>
                  <dd>
                    <input type="text" id="repl_id05">
                  </dd>
                </dl>
              </div>
            </div>
            <div class="clear"></div>

            <!-- End Section Body -->

            <!-- Begin Header Bar ->

            <div class="secHead clearfix">
              <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
              <h3>destination options header</h3>
            </div>

            <!-- End Header Bar -->

            <!-- Begin Section Body ->

            <div class="secBody clearfix">
              <dl role="presentation" >
                <dt>
                  <label for="repl_id01"><a href="" class="btnlnkR helpIconR">delivery preference label:</a></label>
                </dt>
                <dd>
                  <select id="repl_id01">
                    <option value="" selected="">ups will deliver</option>
                    <option value="">hold for customer pickup at ups location</option>
                  </select>
                  <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
              </dl>
              <div class="subcol9 marginBegin clearfix">
                <p><strong>Enter Ultimate Destination Address</strong></p>
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id02">Country or Territory:</label>
                  </dt>
                  <dd>
                    <select id="repl_id02">
                      <option value="" selected="">United States</option>
                    </select>
                    <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                  <dt>
                    <label for="repl_id05">ZIP Code:</label>
                  </dt>
                  <dd>
                    <input type="text" id="repl_id05">
                    <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                  <input type="button" value="Find Location" class="btnArw">
                </dl>
              </div>
              <div class="subcol9 marginEnd clearfix">
                <p><span class="label">Shipment will be held for pick up at this UPS Location:</span></p>
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">[location/facility name]</label>
                  </dt>
                  <dd>[address 1]</dd>
                  <dd>[city], [other], [state] [zip/postal code]</dd>
                  <dd>[country or territory]</dd>
                  <dd>Telephone: [number]</dd>
                  <dd>Fax: [number]</dd>
                </dl>
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">Hours of Operation:</label>
                  </dt>
                  <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                  <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                  <dd>[weekday] hh:mm AM to hh:mm PM</dd>
                  <dd>...</dd>
                  <dd>[Sunday] [Closed]</dd>
                </dl>
                <div class="secLvl message sell clearfix">
                  <fieldset>
                    <div class="secBody">
                      <p><strong>No UPS Facility results were found.</strong></p>
                      <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="clear"></div>

            <!-- End Section Body ->

          </div>

        </fieldset>

        -->

        <div class="secLvl step" id="step-2">

          <!-- Begin Header Bar -->
          <div class="secHead clearfix">
            <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
            <h3>destination options header</h3>
          </div>
          <!-- End Header Bar -->

          <!-- Begin Section Body -->

          <div class="secBody clearfix">

            <div class="row">
              <div class="col-xs-5">
                <div class="ups-form_group ups-form_required ">
                  <label for="delivery_options" class="ups-form_label"><a href="#" class="btnlnkR helpIconR">pickup options label</a> <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
                  <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="delivery_options" class="ups-dropdown" id="delivery_options">
                      <option value="" selected="">ups will pickup</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <h4>Enter Ultimate Destination Address</h4>

            <div class="row">

              <div class="col-xs-5">
                <div class="ups-form_group ups-form_required ">
                  <label for="dest_country" class="ups-form_label">Country or Territory <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
                  <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="dest_country" class="ups-dropdown" id="dest_country">
                      <option value="" selected="">United States</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-xs-5 col-xs-offset-1">
                <div class="ups-form_group">
        					<label for="zip_code" class="ups-form_label">Zip Code</label>
        					<div class=" ups-text_wrapper ups-input_wrapper ">
        						<input type="text" name="zip_code" class="ups-form_input" id="zip_code">
        					</div>
        				</div>
              </div>

            </div>

          </div>
          <!-- End Section Body -->

          <!-- Begin Header Bar -->
          <div class="secHead clearfix">
            <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
            <h3>destination options header</h3>
          </div>
          <!-- End Header Bar -->

          <!-- Begin Section Body -->

          <div class="secBody clearfix">

            <div class="row">
              <div class="col-xs-5">
                <div class="ups-form_group ups-form_required ">
                  <label for="delivery_preference" class="ups-form_label"><a href="#" class="btnlnkR helpIconR">delivery preference label</a> <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
                  <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="delivery_preference" class="ups-dropdown" id="delivery_preference">
                      <option value="" selected="">ups will deliver</option>
                      <option value="" selected="">hold for customer at pickup location</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <h4>Enter Ultimate Destination Address</h4>

            <div class="row">

              <div class="col-xs-5">
                <div class="ups-form_group ups-form_required ">
                  <label for="dest_country" class="ups-form_label">Country or Territory <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
                  <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="dest_country" class="ups-dropdown" id="dest_country">
                      <option value="" selected="">United States</option>
                    </select>
                  </div>
                </div>

                <div class="ups-form_group ups-form_required">
        					<label for="zip_code" class="ups-form_label">Zip Code <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
        					<div class=" ups-text_wrapper ups-input_wrapper ">
        						<input type="text" name="zip_code" class="ups-form_input" id="zip_code">
        					</div>
        				</div>

                <div class="ups-form_ctaGroup">
                  <button type="submit" class="ups-cta ups-cta_primary">Find Location</button>
                </div>
              </div>

              <div class="col-xs-5 col-xs-offset-1">
                <div class="ups-group ups-group_condensed">
                  <p class="ups-group_label">[location/facility name]</p>
                  <p>[address 1]</p>
                  <p>[city], [other], [state][zip/postal code]</p>
                  <p>[country or territory]</p>
                  <p>Telephone: [number]</p>
                  <p>Fax: [number]</p>
                </div>

                <div class="ups-group ups-group_condensed">
                  <p class="ups-group_label">hours of operation</p>
                  <p>[weekday] hh:mm AM to hh:mm PM</p>
                </div>

                <div class="ups-group ups-group_condensed">
                  <p class="ups-group_label">ups location latest drop-off time</p>
                  <p>[weekday] hh:mm AM to hh:mm PM</p>
                  <p>...</p>
                  <p>[Sunday][Closed]</p>
                </div>

                <div class="panel panel-primary">
          				<div class="panel-body">
                    <p><strong>No UPS Facility results were found.</strong></p>
                    <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
          				</div>
          			</div>
              </div>

            </div>

          </div>
          <!-- End Section Body -->

        </div>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

        <!-- End Section Module -->

        <!-- End Pickup - Drop-off Module - Pickup (1304) -->

        <!-- //////////////////////////////////////////// -->

        <!-- End Section Lvl -->

      </div>

      <!-- End Application Body -->

      <!-- Begin Application Footer -->

      <div class="appFooter">

        <!-- Begin Button Bar Row -->

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: Start part of re-design -->
        <!-- ************************************** -->
        <!--

        <div class="btnBar">
          <input name="Input" type="submit" value="Next" class="btnArw">
        </div>

        -->

        <div class="ups-form_ctaGroup">
          <button type="submit" class="ups-cta ups-cta_primary">Next</button>
        </div>

        <!-- ************************************** -->
        <!-- REDESIGN EDIT: End part of re-design   -->
        <!-- ************************************** -->

        <!-- End Button Bar Row -->

      </div>

      <!-- End Application Footer -->

    </div>

    <!-- End Application Module -->

  </form>

<!-- /applicationArea -->

<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** -->
<!-- FOR RESKIN: add wrapper classes -->

</div>

<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design   -->
<!-- ************************************** -->
