<form action="repl_fname">

  <!-- Begin Application Module -->

  <!-- ************************************** -->
  <!-- REDESIGN EDIT: Start part of re-design -->
  <!-- ************************************** -->
  <!--

  <div class="appLvl mod">

  -->

  <div class="appLvl ups-application_wrapper ups-form_wrap mod">

  <!-- ************************************ -->
  <!-- REDESIGN EDIT: End part of re-design -->
  <!-- ************************************ -->

    <!-- Begin Application Header -->

    <div class="appHead clearfix">
      <h2>get rate quotes for your shipments</h2>
    </div>

    <!-- End Application Header -->

    <!-- Begin Application Body -->

    <div class="appBody clearfix">
      <p class="error">>>>error message</p>
      <p>all rate quotes will be calculated using your pickup location <strong>(origin zip code)</strong> as the shipment origin and the pickup date as the shipment date.</p>
      <p>to start, select the <strong>destination zip code</strong> of your first (or only) destination, then the <strong> number of packages</strong> going to that destination.  select <strong>next</strong> to go to calculated time and cost to complete your rate quote request.</p>
      <p>you may return to calculate time and cost if you need rates for packages going to other destinations.</p>

      <!-- Set Section Lvl -->

      <!-- (Rate Quote More) -->

      <!-- Begin Section Module -->

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!-- REMOVE FOR RESKIN
      <fieldset>
      <!-- ************************************ -->
      <!-- REDESIGN EDIT: End part of re-design -->
      <!-- ************************************ -->

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!--
      <div class="secLvl secLvlPlain">
      -->
      <div class="secLvl step">

      <!-- ************************************ -->
      <!-- REDESIGN EDIT: End part of re-design -->
      <!-- ************************************ -->

          <!-- Begin Header Bar -->

          <div class="secHead clearfix group">
            <h3>{Retrieved Rate Quote }</h3>
          </div>

          <!-- End Header Bar -->

          <!-- Begin Section Body -->

          <!-- End Section Body -->

          <div class="secBody clearfix">

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
              <tr>
                <th>destination zip code</th>
                <th>number of {packages}{pallets}</th>
                <th>selected service</th>
                <th class="alignCenter">rate quoted</th>
                <th></th>
              </tr>
              <tr class="odd">
                <td>1. To {Zip Code}</td>
                <td>{nn Packages/Pallets}</td>
                <td class="nowrap">{UPS Services}

                  <!-- Show/Hide Details ->

                  <br/>
                  {Total Charges} <br/>
                  {Details - Shipping Charges} <br/>
                  {Details - Total Tax} <br/>
                  {Details - Tax 1} <br/>
                  {Details - Tax 2} <br/>
                  {Details - Tax 3} <br/>
                  {Details - Total Charges}

                  <!-- END Show/Hide Details -></td>
                <td class="nowrap alignEnd"> {NN.NN USD}

                  <!-- Show/Hide Details ->

                  <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD}

                  <!-- END Show/Hide Details ->

                  <br/>

                  <!--<a href="repl_href" class="btnLnkL plusMini">{Show Details}</a>->

                  <a href="repl_href" class="btnLnkL minusMini">{Hide Details}</a></td>
                <td><input name="repl_name2" type="button" class="btnlnkL reorderMini" value="Recalculate">
                  <br>
                  <a href="repl_href" class="btnlnkL crossMini">{Remove}</a></td>
              </tr>

              <!--Begin 1507 disclaimer placeholder->

              <tr class="odd">
                <td class="nowrap"> {1507 disclaimer placeholder for a ups disclamer}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <!--End 1507 disclaimer placeholder->

              <tr>
                <td>2. To {Zip Code}</td>
                <td>{nn Packages/pallets}</td>
                <td class="nowrap">{UPS Services}</td>

                <!-- Show/Hide Details -->

                <!-- END Show/Hide Details ->

                <td class="nowrap alignEnd"> {NN.NN USD}

                  <!-- Show/Hide Details -->

                  <!-- END Show/Hide Details ->

                  <br/>
                  <a href="repl_href" class="btnLnkL plusMini">{Show Details}</a>

                  <!--<a href="repl_href" class="btnLnkL minusMini">{Hide Details}</a>-></td>
                <td><input name="repl_name2" type="button" class="btnlnkL reorderMini" value="Recalculate">
                  <br>
                  <a href="repl_href" class="btnlnkL crossMini">{Remove}</a></td>

                <!--Begin 1507 disclaimer placeholder->

              <tr class="">
                <td class="nowrap"> {1507 disclaimer placeholder for a ups disclamer}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <!--End 1507 disclaimer placeholder->

                </tr>

              <tr class="odd">
                <td>3. To {Zip Code}</td>
                <td>{nn Packages/pallets}</td>
                <td class="nowrap">{UPS Services}</td>

                <!-- Show/Hide Details -->

                <!-- END Show/Hide Details ->

                <td class="nowrap alignEnd"> {NN.NN USD}

                  <!-- Show/Hide Details -->

                  <!-- END Show/Hide Details ->

                  <br/>
                  <a href="repl_href" class="btnLnkL plusMini">{Show Details}</a>

                  <!--<a href="repl_href" class="btnLnkL minusMini">{Hide Details}</a>-></td>
                <td><input name="repl_name3" type="button" class="btnlnkL reorderMini" value="Recalculate">
                  <br>
                  <a href="repl_href" class="btnlnkL crossMini">{Remove}</a></td>

                <!--Begin 1507 disclaimer placeholder->

              <tr class="odd">
                <td class="nowrap"> {1507 disclaimer placeholder for a ups disclamer}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <!--End 1507 disclaimer placeholder->

                </tr>

              <tr class="totals">
                <td></td>
                <td></td>
                <td class="nowrap"><strong>Total Charge for Pickup:</strong> <br/>
                  <strong>Total Charge for Shipment:</strong> <br/>
                  <strong>Charges:</strong> <br/>
                  <strong>Sub-Total:</strong> <br/>
                  {Tax 1} <br/>
                  {Tax 2} <br/>
                  {Tax 3} <br/>
                  <strong>VAT:</strong><br>
                  <strong>Total Charges:</strong> <br/></td>
                <td class="nowrap alignEnd">{NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/>
                  {NN.NN USD} <br/></td>
                <td></td>
              </tr>
            </table>

            -->

            <table class="table table-striped">
							<tbody>
								<tr>
									<th class="ups-table_header_tertiary" scope="col">destination zip code</th>
									<th class="ups-table_header_tertiary" scope="col">number of {packages}{pallets}</th>
									<th class="ups-table_header_tertiary" scope="col">selected service</th>
									<th class="ups-table_header_tertiary" scope="col">rate quoted</th>
									<th class="ups-table_header_tertiary" scope="col"></th>
								</tr>
								<tr>
									<td>
                    <p>1. To {Zip Code}</p>
                    <p>&nbsp;</p>
                    <p>{1507 disclaimer placeholder for a ups disclamer}</p>
                  </td>
									<td>
                    <p>{nn Packages/Pallets}</p>
                  </td>
									<td>
                    <p>{UPS Services}</p>
                    <!-- Show/Hide Details -->
                    <p>{Total Charges}</p>
                    <p>{Details - Shipping Charges}</p>
                    <p>{Details - Total Tax}</p>
                    <p>{Details - Tax 1}</p>
                    <p>{Details - Tax 2}</p>
                    <p>{Details - Tax 3}</p>
                    <p>{Details - Total Charges}</p>
                    <!-- END Show/Hide Details -->
                  </td>
									<td>
                    <p>{NN.NN USD}</p>
                    <!-- Show/Hide Details -->
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <!-- END Show/Hide Details -->

                    <p>
                      <!-- <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
                      <a href="repl_href">{Show Details}</a> -->

                      <span class="icon ups-icon-wedgeup" aria-hidden="true"></span>
                      <a href="repl_href">{Hide Details}</a>
                    </p>
                  </td>
									<td>
                    <p>
                      <span class="icon ups-icon-arrowbackforward" aria-hidden="true"></span>
                      <a href="repl_href">Recalculate</a>
                    </p>

                    <p>
                      <span class="icon ups-icon-xcircle" aria-hidden="true"></span>
                      <a href="repl_href">Remove</a>
                    </p>
                  </td>
								</tr>

								<tr>
									<td>
                    <p>2. To {Zip Code}</p>
                    <p>&nbsp;</p>
                    <p>{1507 disclaimer placeholder for a ups disclamer}</p>
                  </td>
                  <td>
                    <p>{nn Packages/Pallets}</p>
                  </td>
                  <td>
                    <p>{UPS Services}</p>
                    <!-- Show/Hide Details -->
                    <!--
                    <p>{Total Charges}</p>
                    <p>{Details - Shipping Charges}</p>
                    <p>{Details - Total Tax}</p>
                    <p>{Details - Tax 1}</p>
                    <p>{Details - Tax 2}</p>
                    <p>{Details - Tax 3}</p>
                    <p>{Details - Total Charges}</p>
                    -->
                    <!-- END Show/Hide Details -->
                  </td>
									<td>
                    <p>{NN.NN USD}</p>
                    <!-- Show/Hide Details -->
                    <!--
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    -->
                    <!-- END Show/Hide Details -->

                    <p>
                      <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
                      <a href="repl_href">{Show Details}</a>

                      <!-- <span class="icon ups-icon-wedgeup" aria-hidden="true"></span>
                      <a href="repl_href">{Hide Details}</a> -->
                    </p>
                  </td>
									<td>
                    <p>
                      <span class="icon ups-icon-arrowbackforward" aria-hidden="true"></span>
                      <a href="repl_href">Recalculate</a>
                    </p>

                    <p>
                      <span class="icon ups-icon-xcircle" aria-hidden="true"></span>
                      <a href="repl_href">Remove</a>
                    </p>
                  </td>
								</tr>

								<tr>
									<td>
                    <p>3. To {Zip Code}</p>
                    <p>&nbsp;</p>
                    <p>{1507 disclaimer placeholder for a ups disclamer}</p>
                  </td>
                  <td>
                    <p>{nn Packages/Pallets}</p>
                  </td>
                  <td>
                    <p>{UPS Services}</p>
                    <!-- Show/Hide Details -->
                    <!--
                    <p>{Total Charges}</p>
                    <p>{Details - Shipping Charges}</p>
                    <p>{Details - Total Tax}</p>
                    <p>{Details - Tax 1}</p>
                    <p>{Details - Tax 2}</p>
                    <p>{Details - Tax 3}</p>
                    <p>{Details - Total Charges}</p>
                    -->
                    <!-- END Show/Hide Details -->
                  </td>
									<td>
                    <p>{NN.NN USD}</p>
                    <!-- Show/Hide Details -->
                    <!--
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    <p>{NN.NN USD}</p>
                    -->
                    <!-- END Show/Hide Details -->

                    <p>
                      <span class="icon ups-icon-wedgedown" aria-hidden="true"></span>
                      <a href="repl_href">{Show Details}</a>

                      <!-- <span class="icon ups-icon-wedgeup" aria-hidden="true"></span>
                      <a href="repl_href">{Hide Details}</a> -->
                    </p>
                  </td>
									<td>
                    <p>
                      <span class="icon ups-icon-arrowbackforward" aria-hidden="true"></span>
                      <a href="repl_href">Recalculate</a>
                    </p>

                    <p>
                      <span class="icon ups-icon-xcircle" aria-hidden="true"></span>
                      <a href="repl_href">Remove</a>
                    </p>
                  </td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2" scope="row"></td>
                  <td>
                    <strong>
                      <p>total charge for pickup</p>
                      <p>charges</p>
                      <p>total ups charges</p>
                      <p>total taxes</p>
                      <p>{Details - Tax 1}</p>
                      <p>{Details - Tax 2}</p>
                      <p>{Details - Tax 3}</p>
                      <p>total charges</p>
                    </strong>
                  </td>
									<td>
                    <strong>
                      <p>{NN.NN USD}</p>
                      <p>{NN.NN USD}</p>
                      <p>{NN.NN USD}</p>
                      <p>{NN.NN USD}</p>
                      <p>{NN.NN USD}</p>
                      <p>{NN.NN USD}</p>
                      <p>{NN.NN USD}</p>
                      <p>{NN.NN USD}</p>
                    </strong>
                  </td>
                  <td></td>
								</tr>
							</tfoot>
						</table>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

          </div>

          <!-- Begin Section Footer --><!-- End Section Footer -->

        </div>

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!-- REMOVE FOR RESKIN
      </fieldset>
      <!-- ************************************ -->
      <!-- REDESIGN EDIT: End part of re-design -->
      <!-- ************************************ -->

      <!-- End Section Module -->

      <!-- END (Rate Quote More) -->

      <!-- (Rate Quote #) -->

      <!-- Begin Section Module -->

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!-- REMOVE FOR RESKIN
      <fieldset>
      <!-- ************************************ -->
      <!-- REDESIGN EDIT: End part of re-design -->
      <!-- ************************************ -->

        <div class="secLvl step">

          <!-- Begin Header Bar -->

          <div class="secHead clearfix">
            <h3>{Rate Quote {#}}</h3>
          </div>

          <!-- End Header Bar -->

          <!-- Begin Section Body -->

          <div class="secBody clearfix">

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <fieldset>
              <div class="subcol9 marginBegin">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">shipment date:</label>
                  </dt>
                  <dd><strong>[pickup date]</strong></dd>
                </dl>
              </div>
              <div class="subcol9 marginEnd">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">destination country or territory:</label>
                  </dt>
                  <dd>
                    <select name="repl_name" id="">
                      <option value="" selected>[country or territory]</option>
                    </select>
                    <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                </dl>
              </div>
              <div class="clear"></div>
              <div class="subcol9 marginBegin">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">origin zip code:</label>
                  </dt>
                  <dd><strong>[pikcup location zip code]</strong></dd>
                </dl>
              </div>
              <div class="subcol9 marginEnd">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">destination zip code:</label>
                  </dt>
                  <dd>
                    <input name="repl_name" type="text" size="15" id="">
                    <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> &nbsp; <a href="" class="btnlnkL viewMini">ZIP</a></dd>
                </dl>
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">destination city:</label>
                  </dt>
                  <dd>
                    <input name="repl_name" type="text" size="15" id="">
                    <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                </dl>
              </div>
              <div class="clear"></div>
              <div class="subcol9 marginBegin">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">type of packaging:</label>
                  </dt>
                  <dd>
                    <select name="repl_name" id="">
                      <option value="" selected>{Select One}</option>
                    </select>
                    <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                </dl>
              </div>
              <div class="subcol9 marginEnd">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">destination country or territory/district:</label>
                  </dt>
                  <dd>
                    <input name="repl_name" type="text" size="15" id="">
                    <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                </dl>
              </div>
              <div class="clear"></div>
              <div class="subcol9 marginBegin">
                <dl role="presentation" >
                  <dt>
                    <label for="">{Number of Packages/Pallets Label}:</label>
                  </dt>
                  <dd>
                    <select name="repl_name" id="">
                      <option value="" selected>{1}</option>
                    </select>
                    <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                </dl>
              </div>
              <div class="clear"></div>
            </fieldset>
            <fieldset>

              <!-- Begin Interior Column 1 ->

              <div class="subcol9 marginBegin">
                <dl role="presentation" >
                  <dt>
                    <label>{Only <a href="" class="btnlnkR helpIconR">Commercial Value Label</a>}:</label>
                  </dt>
                  <dd>
                    <input name="repl_fname1" type="radio" value="repl_fvalue" id="">
                    <label for="" class="sel">{Yes}</label>
                  </dd>
                  <dd>
                    <input name="repl_fname2" type="radio" value="repl_fvalue" id="" checked>
                    <label for="" class="sel">{No}</label>
                  </dd>
                </dl>
              </div>

              <!-- End Interior Column 1 -->

              <!-- Begin Interior Column 2 ->

              <div class="subcol9">
                <p>
                  <input name="repl_fname" type="checkbox" value="repl_fvalue" id="">
                  <label for="">{<a href="" class="btnlnkR helpIconR">Destination Address Label</a>}</label>
                </p>
              </div>
              <div class="clear"></div>

              <!-- End Interior Column 2 ->

            </fieldset>

            -->

            <div class="row">

              <div class="col-xs-6">
                <div class="ups-group ups-group_condensed">
                  <p class="ups-group_label">shipment date</p>
                  <p>[pickup date]</p>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="ups-form_group">
    							<label for="select_box_1" class="ups-form_label">destination country or territory <span class="ups-required_indicator" aria-hidden="true"></span></label>
    							<div class="ups-dropdown_wrapper ups-input_wrapper">
    								<select name="select" class="ups-dropdown" id="select_box_1">
    									<option value="">[country or territory]</option>
    									<option value="option_2">Option 2</option>
    									<option value="option_3">Option 3</option>
    								</select>
    							</div>
    						</div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-6">
                <div class="ups-group ups-group_condensed">
                  <p class="ups-group_label">origin zip code</p>
                  <p>[pickup location zip code]</p>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="ups-form_group ups-form_required ups-input_has_unit">
                  <label for="destination_zip" class="ups-form_label">destination zip code <span class="ups-required_indicator" aria-hidden="true"></span></label>
                  <div class=" ups-text_wrapper ups-input_wrapper ">
                    <input type="text" name="destination_zip" class="ups-form_input" id="destination_zip" aria-required="true" required="">
                    <span class="ups-input_unit_measure">
                      <span class="icon ups-icon-search" aria-hidden="true"></span>
                      <a href="repl_href">ZIP</a>
                    </span>
                  </div>
                </div>

                <div class="ups-form_group ups-form_required">
                  <label for="destination_city" class="ups-form_label">destination city <span class="ups-required_indicator" aria-hidden="true"></span></label>
                  <div class=" ups-text_wrapper ups-input_wrapper ">
                    <input type="text" name="destination_city" class="ups-form_input" id="destination_city" aria-required="true" required="">
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-6">
                <div class="ups-form_group">
    							<label for="type_of_packaging" class="ups-form_label">type of packaging <span class="ups-required_indicator" aria-hidden="true"></span></label>
    							<div class="ups-dropdown_wrapper ups-input_wrapper">
    								<select name="select" class="ups-dropdown" id="type_of_packaging">
    									<option value="">{Select One}</option>
    									<option value="option_2">Option 2</option>
    									<option value="option_3">Option 3</option>
    								</select>
    							</div>
    						</div>
              </div>

              <div class="col-xs-6">
                <div class="ups-form_group ups-form_required">
                  <label for="destination_country_district" class="ups-form_label">destination country or territory/district <span class="ups-required_indicator" aria-hidden="true"></span></label>
                  <div class=" ups-text_wrapper ups-input_wrapper ">
                    <input type="text" name="destination_country_district" class="ups-form_input" id="destination_country_district" aria-required="true" required="">
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-6">
                <div class="ups-form_group">
    							<label for="number_of_packages" class="ups-form_label">{Number of Packages/Pallets Label} <span class="ups-required_indicator" aria-hidden="true"></span></label>
    							<div class="ups-dropdown_wrapper ups-input_wrapper">
    								<select name="select" class="ups-dropdown" id="number_of_packages">
    									<option value="">{1}</option>
    									<option value="option_2">Option 2</option>
    									<option value="option_3">Option 3</option>
    								</select>
    							</div>
    						</div>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-6">
                <fieldset class="ups-form_group">
    							<legend class="ups-form_label">{Only <a href="" class="btnlnkR helpIconR">Commercial Value Label</a>}</legend>
    							<div class="ups-buttonList_wrapper ups-input_wrapper">
    								<input id="ups-uid-form_title-yes" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
    								<label for="ups-uid-form_title-yes" class="ups-radio-custom-label">{Yes}</label>
    							</div>
    							<div class="ups-buttonList_wrapper ups-input_wrapper">
    								<input id="ups-uid-form_title-no" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="no">
    								<label for="ups-uid-form_title-no" class="ups-radio-custom-label">{No}</label>
    							</div>
    						</fieldset>
              </div>

              <div class="col-xs-6">
                <div class="ups-form_group">
                  <div class="ups-checkbox ups-input_wrapper">
                    <input id="hazardous" class="ups-checkbox-custom" name="check_req" type="checkbox">
                    <label for="hazardous" value="1" class="ups-checkbox-custom-label">
                      {<a href="#" class="btnlnkR helpIconR">Destination Address Label</a>}
                    </label>
                  </div>
                </div>
              </div>

            </div>

            <!-- ************************************ -->
            <!-- REDESIGN EDIT: End part of re-design -->
            <!-- ************************************ -->

          </div>

          <!-- End Section Body -->

          <!-- Begin Section Footer -->

          <div class="secFooter">

            <!--(Rate Quote More) -->

            <!-- Begin Button Bar Row -->

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <div class="btnBar">
              <input name="Input" type="button" value="{Cancel This Request}" class="btnlnkL crossMini">
            </div>

            -->

            <p><span class="icon ups-icon-xcircle" aria-hidden="true"></span><a href="repl_href">{Cancel This Request}</a></p>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            <!-- End Button Bar Row -->

            <!-- END (Rate Quote More) -->

          </div>

          <!-- End Section Footer -->

        </div>

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!-- REMOVE FOR RESKIN
      </fieldset>
      <!-- ************************************ -->
      <!-- REDESIGN EDIT: End part of re-design -->
      <!-- ************************************ -->

      <!-- End Section Module -->

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!--

      <p><a href="repl_href" class="btnlnkL plusMini">{Get Another Rate Quote Link}</a></p>

      -->

      <p><span class="icon ups-icon-wedgeup" aria-hidden="true"></span><a href="repl_href">{Get Another Rate Quote Link}</a></p>

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: End part of re-design   -->
      <!-- ************************************** -->

      <!-- End Section Lvl -->

    </div>

    <!-- End Application Body -->

    <!-- Begin Application Footer -->

    <div class="appFooter">

      <!-- Begin Button Bar Row -->

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!--

      <div class="btnBar">
        <input name="Input" type="button" value="Back" class="btnBackArw">
        <input name="Input" type="button" value="Cancel" class="btn">
        <input name="Input" type="submit" value="Next" class="btnArw">
      </div>

      -->

      <div class="ups-form_ctaGroup">
        <button type="button" class="ups-cta ups-cta_tertiary">Back</button>
        <button type="submit" class="ups-cta ups-cta_primary">Next</button>
        <button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
      </div>

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: End part of re-design   -->
      <!-- ************************************** -->

      <!-- End Button Bar Row -->

    </div>

    <!-- End Application Footer -->

  </div>

  <!-- End Application Module -->

  <!-- ************************************** -->
  <!-- REDESIGN EDIT: Start part of re-design -->
  <!-- ************************************** -->
  <!--

  <div class="note">
    <label>Note:</label>
    {Paragraph Text.}
  </div>

  -->

  <div class="note">
    <p><strong>Note:</strong> {Paragraph Text.}</p>
  </div>

  <!-- ************************************** -->
  <!-- REDESIGN EDIT: End part of re-design   -->
  <!-- ************************************** -->


</form>
