<!-- Begin Application Module -->
<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** -->
<!--
<div class="appLvl appLvlPlain">
-->

<div class="appLvl appLvlPlain ups-application_wrapper ups-form_wrap">

<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design   -->
<!-- ************************************** -->
    <!-- Begin Application Header -->

    <div class="appHead clearfix">
      <h2>Schedule a Pickup</h2>
    </div>

    <!-- End Application Header -->

    <!-- Begin Application Body -->

    <div class="appBody clearfix">

      <!-- Begin Section Module -->

      <div class="secLvl step clearfix">

          <!-- Begin Section Header -->

          <div class="secHead step clearfix">
            <h3>Correct Service or Pickup Date</h3>
          </div>

          <!-- End Section Header -->

          <!-- Begin Section Body -->

          <div class="secBody step clearfix">

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
      			<!--

            <p>The options selected for your Pickup Request, {Pick Up Date} and {Service Name}, are not valid.  To continue, please select either a new service or pickup date and select <span class="label">Next</span>.</p>

            <p>You selected <span class="label">(Pickup Date)</span></p>

            <div class="secLvl message clearfix">
              <div class="secBody clearfix">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">Select another Pickup Date:</label>
                  </dt>
                  <dd class="flexFirst">
                    <select name="repl_name" id="repl_id">
                      <option value="" selected="">Tomorrow</option>
                    </select>
                  </dd>
                  <dd class="flexAfter">
                    <input name="" type="button" value="Next" class="btnArw">
                  </dd>
                </dl>
              </div>
            </div> -->

            <p>The options selected for your Pickup Request, {Pick Up Date} and {Service Name}, are not valid.  To continue, please select either a new service or pickup date and select <strong>Next</strong>.</p>

            <p>You selected <strong>(Pickup Date)</strong></p>

            <div class="row">
              <div class="col-xs-5">
                <div class="ups-form_group">
    							<label for="select_box_1" class="ups-form_label">Select another Pickup Date</label>
    							<div class="ups-dropdown_wrapper ups-input_wrapper">
    								<select name="select" class="ups-dropdown" id="select_box_1">
    									<option value="" selected="">Tomorrow</option>
    								</select>
    							</div>
    						</div>
              </div>
            </div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->



            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--
            <p><span class="label">* OR *</span></p>
            <p>You selected <span class="label">(Service Name)</span></p>
            -->

            <p class="h3"><strong>&lowast; OR &lowast;</strong></p>
            <p>You selected <strong>(Service Name)</strong></p>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->



            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
      			<!--
            <div class="secLvl message clearfix">
              <div class="secBody clearfix">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">Select another Service:</label>
                  </dt>
                  <dd class="flexFirst">
                    <select name="repl_name" id="repl_id">
                      <option value="" selected="">Select One</option>
                    </select>
                  </dd>
                  <dd class="flexAfter">
                    <input name="" type="button" value="Next" class="btnArw">
                  </dd>
                </dl>
              </div>
            </div>
          </div> -->

          <div class="row">
            <div class="col-xs-5">
              <div class="ups-form_group">
                <label for="select_box_1" class="ups-form_label">Select another Service</label>
                <div class="ups-dropdown_wrapper ups-input_wrapper">
                  <select name="select" class="ups-dropdown" id="select_box_1">
                    <option value="" selected="">Select One</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: End part of re-design   -->
          <!-- ************************************** -->

        </div>
        <!-- End Section Body -->

        <!-- Begin Setion Footer -->

        <div class="secFooter">

          <!-- Begin Button Bar Row -->

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: Start part of re-design -->
          <!-- ************************************** -->
          <!--
          <div class="btnBar">
            <input name="" type="button" value="Back" class="btnBackArw">
            <input name="" type="button" value="Cancel" class="btn">
          </div>
          -->

          	<div class="ups-form_ctaGroup">
				<button type="submit" class="ups-cta ups-cta_tertiary">Back</button>
				<button type="submit" class="ups-cta ups-cta_primary">Next</button>
				<button type="submit" class="ups-cta ups-cta_secondary">Cancel</button>
			</div>

          <!-- ************************************** -->
          <!-- REDESIGN EDIT: End part of re-design   -->
          <!-- ************************************** -->

          <!-- End Button Bar Row -->

        </div>

        <!-- End Section Footer -->

      </div>

      <!-- End Section Module -->

      <!-- Begin Section Module -->

      <div class="secLvl step clearfix">

          <!-- Begin Section Header -->

          <div class="secHead step clearfix">
            <h3>Correct Service</h3>
          </div>

          <!-- End Section Header -->

          <!-- Begin Section Body -->

          <div class="secBody step clearfix">

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--

            <p>The {Service Name} option selected for your Pickup Request is not valid.  To continue, please select a new service, and select <span class="label">Next</span>.</p>

            <p>You selected <span class="label">(Service Name)</span></p>

            <div class="secLvl message clearfix">
              <div class="secBody clearfix">
                <dl role="presentation" >
                  <dt>
                    <label for="repl_id">Select another Service:</label>
                  </dt>
                  <dd class="flexFirst">
                    <select name="repl_name" id="repl_id">
                      <option value="" selected="">Select One</option>
                    </select>
                  </dd>
                  <dd class="flexAfter">
                    <input name="" type="button" value="Next" class="btnArw">
                  </dd>
                </dl>
              </div>
            </div> -->

            <p>The {Service Name} option selected for your Pickup Request is not valid.  To continue, please select a new service, and select <strong>Next</strong>.</p>

            <p>You selected <strong>(Service Name)</strong></p>

            <div class="row">
              <div class="col-xs-5">
                <div class="ups-form_group">
                  <label for="select_box_1" class="ups-form_label">Select another Service</label>
                  <div class="ups-dropdown_wrapper ups-input_wrapper">
                    <select name="select" class="ups-dropdown" id="select_box_1">
                      <option value="" selected="">Select One</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->
          </div>


          <!-- End Section Body -->

          <!-- Begin Setion Footer -->

          <div class="secFooter">

            <!-- Begin Button Bar Row -->

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: Start part of re-design -->
            <!-- ************************************** -->
            <!--
            <div class="btnBar">
              <input name="" type="button" value="Back" class="btnBackArw">
              <input name="" type="button" value="Cancel" class="btn">
            </div>
            -->

            <div class="ups-form_ctaGroup">
				<button type="submit" class="ups-cta ups-cta_tertiary">Back</button>
				<button type="submit" class="ups-cta ups-cta_primary">Next</button>
				<button type="submit" class="ups-cta ups-cta_secondary">Cancel</button>
			</div>

            <!-- ************************************** -->
            <!-- REDESIGN EDIT: End part of re-design   -->
            <!-- ************************************** -->

            <!-- End Button Bar Row -->

          </div>

          <!-- End Section Footer -->

      </div>

      <!-- End Section Module -->

    </div>

    <!-- End Application Body -->

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!-- REMOVED IN RESKIN

    <div class="appFooter"> </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

</div>
