{{> "background_modal_content"}}

<div class="appLvl modal-dialog mod modal dialog">
  <div class="appHead clearfix">

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <h2>directions to loading/unloading area</h2>

    <ul>
      <li>
        <input type="button" class="btnlnkL closeIcon" title="Close" id="modalClose">
      </li>
    </ul>

    -->

    <h2 class="ups-modal_heading">directions to loading/unloading area</h2>

    <button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()"> <span class="icon ups-icon-x" aria-hidden="true"></span> <span class="ups-readerTxt ng-binding">Close This Dialog</span> </button>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

  </div>

  <div class="appBody ups-application_wrapper">
    <div class="secLvl secLvlPlain clearfix">

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!--

      <fieldset>

        <!-- Begin Section Header ->

        <div class="secHead clearfix">
          <ul class="clearfix">
            <li><a class="btnlnkR printIconR dialogPrint" href="JavaScript:void(0);">print</a></li>
          </ul>
        </div>

        <!-- End Section Header -->

        <!-- Begin Section Body ->

        <div class="secBody">
          <div class="subcol10 marginBegin clearfix">
            <div class="flexFirst clearfix">
              <dl role="presentation" >
                <dt>
                  <label for="repl_id">[Location/Facility Name]</label>
                </dt>
                <dd>[Address 1]<br>
                  [City], [Other], [State] [ZIP / Postal Code]<br>
                  [Country or Territory]<br>
                  Telephone: [Number]<br>
                  Fax: [Number]</dd>
              </dl>
            </div>
            <div class="flexAfter clearfix">
              <dl role="presentation" class="outHozFlex clearfix">
                <dt>
                  <label for="rpel_id">[000]</label>
                </dt>
                <dd>[mi/km]</dd>
              </dl>
            </div>
          </div>
          <div class="subcol10 marginEnd clearfix">
            <dl role="presentation" >
              <dt>
                <label for="repl_id">Hours of Operatoin:</label>
              </dt>
              <dd>[Weekday] hh:mm AM to hh:mm PM</dd>
            </dl>
            <dl role="presentation" >
              <dt>
                <label for="repl_id">UPS Location Latest Drop-off TIme:</label>
              </dt>
              <dd>hh:mm PM</dd>
            </dl>
          </div>
          <div class="clear"></div>
          <dl role="presentation" >
            <dt>
              <label for="repl_id">Text sub header</label>
            </dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
          </dl>
        </div>

        <!-- End Section Body ->

      </fieldset>

      -->

      <p>&nbsp;
        <span class="pull-right">
          <span class="icon ups-icon-print" aria-hidden="true"></span> <a href="#">Print</a>
        </span>
      </p>


      <div class="row ups-group">

        <div class="col-xs-6">
          <div class="row ups-group">
            <div class="col-xs-7">
              <div class="ups-group ups-group_condensed">
                <p class="ups-group_label">[Location/Facility Name]</p>
                <p>[Address 1]</p>
                <p>[City], [Other], [State] [ZIP/Postal Code]</p>
                <p>[Country or Territory]</p>
                <p>Telephone: [number]</p>
                <p>Fax: [number]</p>
              </div>
            </div>

            <div class="col-xs-5">
              <p>[<strong>000</strong>][mi/km]</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">Hours of Operation</p>
            <p>[Weekday] hh:mm AM to hh:mm PM</p>
          </div>

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">UPS Location Latest Drop-off Time</p>
            <p>hh:mm PM</p>
          </div>
        </div>

      </div>

      <div class="ups-group ups-group_condensed">
        <p class="ups-group_label">Text sub header</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <!-- End Section Body -->

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: End part of re-design   -->
      <!-- ************************************** -->

    </div>
  </div>

  <div class="appFooter">

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: Start part of re-design -->
    <!-- ************************************** -->
    <!--

    <div class="btnBar alignCenter">
      <input name="" type="button" value="okay" class="btn">
    </div>

    -->

    <div class="ups-form_ctaGroup text-center">
      <button type="button" class="ups-cta ups-cta_primary">okay</button>
    </div>

    <!-- ************************************** -->
    <!-- REDESIGN EDIT: End part of re-design   -->
    <!-- ************************************** -->

  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
  	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:790});
  	$('#modalClose').click(function(e){
  			modal.dialog('close');
  	});
  });
</script>
