<form action="repl_fname">

<!-- Begin Application Module -->
<!-- ************************************** -->
<!-- REDESIGN EDIT: Start part of re-design -->
<!-- ************************************** -->
<!--
<div class="appLvl mod">
-->

  <div class="appLvl mod ups-application_wrapper ups-form_wrap">

<!-- ************************************** -->
<!-- REDESIGN EDIT: End part of re-design   -->
<!-- ************************************** -->

    <!-- Begin Application Header -->
    <div class="appHead clearfix">
      <h2>Accept Collection Charges</h2>
    </div>
    <!-- End Application Header -->
    <!-- Begin Application Body -->
    <div class="appBody clearfix">
      <p>The collection you have scheduled consists of only ups standard shipments within germany.  there is an addistional charge associated with this pickup.  you must accept this charge, change one of your shipments to another service, or cancel your collection request.</p>
      <!-- Set Section Lvl -->
      <!-- Begin Section Module -->

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!--

      <fieldset>
        <div class="secLvl">
          <!-- Begin Header Bar --><!-- End Header Bar -->
          <!-- Begin Section Body -->

          <!--
          <div class="secBody clearfix">
            <h4>collection charges</h4>
            <dl role="presentation" class="outHozLedger">
              <dt>{Total Base Collection Charges:}</dt>
              <dd>{nn.nn USD}</dd>
              <dt>{Total Taxes Collection Charges:}</dt>
              <dd>{nn.nn USD}</dd>
              <dt>{Total Charges for Collection:}</dt>
              <dd>{nn.nn USD}</dd>
            </dl>
            <h4>shipping charges:</h4>
            <dl role="presentation" class="outHozLedger">
              <dt>{Total Shipping Charges for All Rate Quote:}</dt>
              <dd>{nn.nn USD}</dd>
              <dt>{Total Taxes for All Rate Quote:}</dt>
              <dd>{nn.nn USD}</dd>
              <dt>{Total Charges for All Rate Quote:}</dt>
              <dd>{nn.nn USD}</dd>
            </dl>
            <h4>total charges and taxes:</h4>
            <dl role="presentation" class="outHozLedger">
              <dt>{Total Sipping and Collection Charges:}</dt>
              <dd>{nn.nn USD}</dd>
              <dt>{Total Taxes Charg MWST for All Charges:}</dt>
              <dd>{nn.nn USD}</dd>
              <dt>{Total Charges:}</dt>
              <dd>{nn.nn USD}</dd>
            </dl>
            <dl role="presentation" >
              <dt>
                <label>Select An Action:</label>
              </dt>
              <dd>
                <input name="repl_fname1" type="radio" value="repl_fvalue" id="">
                <label for="" class="sel">{accept the collection charge and continue with schedulingthe collection}</label>
              </dd>
              <dd>
                <input name="repl_fname2" type="radio" value="repl_fvalue" id="">
                <label for="" class="sel">{return ot the previous page and remove one of your shipments and change to another ups service}</label>
              </dd>
            </dl>
          </div>
          <!-- End Section Body -->
          <!-- Begin Section Footer --><!-- End Section Footer -->

          <!--
        </div>
      </fieldset>
      -->


      <div class="secLvl">

        <!-- Begin Section Body -->
        <div class="secBody noHead clearfix">

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">collection charges</p>
            <p>{Total Base Collection Charges:} <span class="pull-right">{nn.nn USD}</span></p>
            <p>{Total Taxes Collection Charges:} <span class="pull-right">{nn.nn USD}</span></p>
            <p>{Total Charges for Collection:} <span class="pull-right">{nn.nn USD}</span></p>
          </div>

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">shipping charges</p>
            <p>{Total Shipping Charges for All Rate Quote:} <span class="pull-right">{nn.nn USD}</span></p>
            <p>{Total Taxes for All Rate Quote:} <span class="pull-right">{nn.nn USD}</span></p>
            <p>{Total Charges for All Rate Quote:} <span class="pull-right">{nn.nn USD}</span></p>
          </div>

          <div class="ups-group ups-group_condensed">
            <p class="ups-group_label">total charges and taxes</p>
            <p>{Total Shipping and Collection Charges:} <span class="pull-right">{nn.nn USD}</span></p>
            <p>{Total Taxes Collection Charges:}{Total Taxes Charg MWST for All Charges:} <span class="pull-right">{nn.nn USD}</span></p>
            <p>{Total Charges:} <span class="pull-right">{nn.nn USD}</span></p>
          </div>

          <fieldset class="ups-form_group">
						<legend class="ups-form_label">Select An Action</legend>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-yes" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="yes" checked="">
							<label for="ups-uid-form_title-yes" class="ups-radio-custom-label">{accept the collection charge and continue with schedulingthe collection}</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-no" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="no">
							<label for="ups-uid-form_title-no" class="ups-radio-custom-label">{return to the previous page and remove one of your shipments and change to another ups service}</label>
						</div>
					</fieldset>

        </div>
        <!-- End Section Body -->

      </div>

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: End part of re-design   -->
      <!-- ************************************** -->

      <!-- End Section Module -->

      <!-- End Section Lvl -->

    </div>
    <!-- End Application Body -->
    <!-- Begin Application Footer -->
    <div class="appFooter">

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: Start part of re-design -->
      <!-- ************************************** -->
      <!--

      <!-- Begin Button Bar Row -->
      <!-- <div class="btnBar">
        <input name="Input" type="submit" value="Back" class="btnBackArw">
        <input name="Input" type="submit" value="Cancel" class="btn">
        <input name="Input" type="submit" value="Next" class="btnArw">
      </div> -->
      <!-- End Button Bar Row -->

      <div class="ups-form_ctaGroup">
        <button type="button" class="ups-cta ups-cta_tertiary">Back</button>
        <button type="submit" class="ups-cta ups-cta_primary">Next</button>
        <button type="button" class="ups-cta ups-cta_secondary">Cancel</button>
      </div>

      <!-- ************************************** -->
      <!-- REDESIGN EDIT: End part of re-design   -->
      <!-- ************************************** -->
    </div>
    <!-- End Application Footer -->
  </div>
  <!-- End Application Module -->
</form>
<!-- /applicationArea -->
