---
title: ct1_shi_itl_lan(1ent)_tnc(2pac)
layout: legacy.hbs
version: v4
appID: com.ups.taApp
appCSS: ups.legacy_overrideTAWebApp
dir: ltr
lang: en
---

		<!-- /main begin -->
		<div id="main">
			{{>"ct1_shi_itl_lan(1ent)_tnc(2pac)_partial"}}
		</div>
		<!-- /main end -->
