---
title: Needs Based Shipping
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>

{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.nbsAngular}}
	{{> M22_accordion_list landing_pages.nbsHBS}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/09/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Feature #1: TFS#560717</li>
							<li>Feature #2: TFS#420614</li>
							<li>Feature #3: TFS#595981</li>
							<li>Feature #4: TFS#417832</li>
							<li>Task #1: TFS#426973</li>
							<li>Task #2: TFS#588260</li>

							<li><a href="./docs/nbs/20180309-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/02/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Feature #1: TFS#556422</li>
							<li>Feature #2: TFS#554097</li>
							<li>Feature #3: TFS#550545</li>
							<li>Task TFS#444656</li>
							<li>Task TFS#527126</li>
							<li>Task TFS#526390</li>
							<li>Task TFS#530623</li>
							<li>Task TFS#587383</li>

							<li><a href="./docs/nbs/20180302-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/23/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Feature #1: TFS#444665</li>
							<li>Feature #2: TFS#none/UPSO-3924</li>
							<li>Feature #3: TFS#532886</li>
							<li>Feature #4: TFS#568567</li>
							<li>Task TFS#504741</li>
							<li>Task TFS#526482</li>
							<li>Task TFS#578619</li>
							<li>Content Updates</li>

							<li><a href="./docs/nbs/20180223-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/16/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS#395917</li>
							<li>TFS#447613</li>
                            <li>TFS#526486</li>
                            <li>TFS#444665</li>
                            <li>TFS#447719</li>
                            <li>TFS#532886</li>
							<li>Content Updates</li>

							<li><a href="./docs/nbs/20180216-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/09/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS#516226</li>
							<li>TFS#526486</li>
							<li>TFS#522398</li>
							<li>TFS#516181</li>
							<li>TFS#516221</li>
							<li>TFS#495482</li>
							<li>TFS#495488</li>
							<li>TFS#526470</li>
							<li>TFS#501544</li>
							<li>TFS#526464</li>
							<li>TFS#504825</li>
							<li>TFS#444762</li>
							<li>TFS#556422</li>
							<li>TFS#549544</li>
							<li>3 Content Updates</li>

							<li><a href="./docs/nbs/20180209-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/02/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS#516214</li>
                            <li>TFS#550058</li>
                            <li>TFS#504558</li>
							<li><a href="./docs/nbs/20180202-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/26/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UPSO-2712</li>
                            <li>UPSO-1144</li>
                            <li>UPSO-1158</li>
                            <li>UPSO-1196</li>
                            <li>UPSO-2053</li>
                            <li>UPSO-2011</li>
							<li><a href="./docs/nbs/20180126-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/22/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS#516317</li>
                            <li>TFS#513367</li>
                            <li>TFS#513364</li>
                            <li>TFS#503423</li>
                            <li>TFS#503408</li>
                            <li>TFS#444822</li>
                            <li>TFS#502311</li>
                            <li>TFS#554089</li>
                            <li>UPSO-2180 Create CoreFormComponent</li>
                            <li>UPSO-1130 Update Form Wizard Step 2.4 & 3 content</li>
							<li><a href="./docs/nbs/20180122-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/12/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS#438226</li>
                            <li>TFS#546328</li>
                            <li>TFS#488402</li>
                            <li>TFS#516317</li>
                            <li>Progress Bar content update</li>
							<li><a href="./docs/nbs/20180112-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/22/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/20171222-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/08/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/20171208-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/01/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/20171201-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/22/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/20171122-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/20171110-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/20171103-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/20171020-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/06/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/100617-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/15/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li><a href="./docs/nbs/091517-NBS_Build_Notes.docx">Build Notes</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/01/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS: Updated SPA and created Angular 4 guided flow</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/28/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS: Payment section created</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/30/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS: SPA Options sections built</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/23/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS: Comact View What, TFS: [393588]</li>
                            <li>NBS: Comact View Where, TFS: [393588]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/09/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Updated file names to match naming convention</li>
                            <li>NBS: EEI updated, TFS: [384195]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">05/26/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - update, TFS: [271142]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/14/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - update, TFS: [318802]</li>
                            <li>NBS - EEI Standalone <strong>Partial Update</strong>, TFS: [337276, 337378]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Forms update, TFS: [337383, 337378, 337276]</li>
                            <li>NBS - update, TFS: [330416]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - When page updated, TFS: [328298]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Levers Updated to prevent different languages from being cut off, TFS: [321127]</li>
                            <li>NBS - Updated Text fields to prevent characters overlapping error states, TFS: [302158]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/24/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Added Saturday Delivery Toggle option, TFS: [319376]</li>
                            <li>NBS - Added COD subhelper text, TFS: [319378]</li>
                            <li>NBS - Added Add-ons "QV Notifications", TFS: [319379]</li>
                            <li>NBS - Removed Guarenteed Icon</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/17/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>NBS - Change CTA Position, TFS: [316048]</li>
                            <li>NBS - View Additional Options Toggle change, TFS: [319362]</li>
                            <li>NBS - Address/Payment Update, TFS: [316046, 316042]</li>
                            <li>NBS - Terms/Conditions Legal Text Update, TFS: [319359]</li>
                            <li>NBS - Add Guaranteed Icon, TFS: [319346]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Fix Address display error in IE, TFS: [302156]</li>
                            <li>NBS - When/Rates/Service page update, TFS: [316499]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Updated addons</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/02/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Price Bar update TFS: [312281]</li>
                            <li>NBS - International Forms Update</li>
                            <li>NBS - Fixed spacing with "save this address" on ship from/to</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/27/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Payment page update</li>
                            <li>NBS - Addons page update</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Fixed Postal Code field length TFS: [301999 / 307163]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/13/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Updated Package page</li>
                            <li>Corrected Image issues for IE (Package Page)</li>
                            <li>Corrected Package Images issues for IE</li>
                            <li>Fixed form field height on EEI page</li>
                            <li>Remove top bar for ship freight/login on Ship from/to page</li>
                            <li>Added Ship Freight/Login buttons to NBS pages (Ship Freight is currently an SVG Image, will be changed to Icon Font at a later time)</li>
                            <li>Fixed Error State showing up on EEI RTL version</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>TFS #302006</li>
							<li>TFS #304004</li>
							<li>Visual Fix - Addon Page</li>
							<li>Update to Balance Bar</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/23/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Acc Update - accordions</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/16/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added NBS Images to PT via CMS</li>
                            <li>Added Modal accordion item</li>
							<li>Added Cancel Shippment Modal</li>
                            <li>Acc Update - Package added reader text inside help text</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/09/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Update gold underline color in Pickup are of When page (CSS change only)</li>
							<li>Udd Package Type field back to Quick Quote page</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/02/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Acc. Defect - accordian aria-syntax</li>
							<li>Visual Defect - Error border added</li>
							<li>Page Deprecated - Payment</li>
							<li>Page Deprecated - Duties/Taxes</li>
							<li>New Page Added - Payment &amp; Duties/Taxes pages TFS #290163</li>
							<li>Change Page Headers to h2</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/29/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Fixed bug with balance bar being commented out on Ship From/To.</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/29/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Fixed bug with balance bar color for the expanded bar.</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/28/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Package page update to 10.6</li>
                            <li>NBS - Price Bar color change</li>
                            <li>NBS - Updated Page Headline font and size</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/18/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS - Added International help popup on Forms &gt; Help Wizard</li>
                            <li>Added field-level error component on NBS error pages</li>
                            <li>NBS Ship tips can now expand and collapse</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/07/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>NBS Progress Bar messaging update (S0.02-Where)</li>
							<li>NBS Where spec update (S0.02-Where)</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/28/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Spec Update Payments</li>
							<li>Spec Update Rates</li>
							<li>Updated ship tip classing</li>
							<li>Fixed Visual Defect: Error States represented incorrectly</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/21/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Updated screen reader class to always use .ups-readerTxt</li>
							<li>Updated Payment page for payment tile grid</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/14/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Updated Review Page spec v11.0</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/13/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Updated Package (What) Page</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/07/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Refactored out global scss from nbs.scss</li>
							<li>Refactor nbs.scss for RTL version</li>
							<li>Added International Forms Pt.2
								<ul>
									<li>EEI</li>
									<li>Package List</li>
								</ul>
							</li>
							<li>Updated To/From v10.2</li>
							<li>Show Return Address on toggle (To/From)</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/05/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Updated Ship From/To page for return address section</li>
							<li>Updated Int. Forms page for spec</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/30/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Updated Duties/Taxes page</li>
							<li>Updated What page</li>
							<li>Fixed spacing defect on Shipping Summary groups on Confirmation page</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/23/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Redisgned Package page</li>
							<li>Update Quick Quote page - It now uses the same styles as Package Page where appropriate</li>
							<li>Added International Forms pages - NAFTA, Comercial Invoice</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/16/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Updated Confirmation page</li>
							<li>Updated Review page</li>
							<li>Merged WEM update to form field helper text</li>
							<li>Fixed display issue of help tooltip on Services page</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/09/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Update: Quick Quote Guided Flow</li>
							<li>Update: Ship From / Ship To Guided Flow</li>
							<li>Update: Add-Ons Guided Flow</li>
							<li>Update: Service (When) Guided Flow - added 2 states Add Package and Alt Add Package</li>
							<li>Added progress bar to Add-ons, Ship From/To, and Quick Quote</li>
							<li>Added balance bar to Add-ons, Ship From/To, and Quick Quote</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/26/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added Draft of balance widget.  Known issues with keyboard/SR accessibility and SVP height that will be addressed in the next build.</li>
							<li>Updated required field icon implimentation to align with WEM accessibility change</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/22/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added Review</li>
							<li>Added Package (What)</li>
							<li>Added Forms</li>
							<li>Added Confirmation</li>
							<li>Added Duties&amp;Taxes</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/17/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added Ship From / Ship To page</li>
							<li>Added Service (When) page</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">05/20/2016 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added Quick Quote page</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
