@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Mobile";

.content {
  a.btn-facebook {
    width: auto;
  }

  a.help + p {
    margin-top: 10px;
  }

  a {
    width: auto;
  }
}
