---
title: "UPS: Quantum View Manage Client"
layout: legacy.hbs
version: v4
appID: com.ups.CVA
appCSS: ups.legacy_overrideQVMC
legacyangularID: qvmc
dir: ltr
lang: en
--- 
<!-- **************************** --> 
<!-- Begin Application Owned HTML --> 
<!-- **************************** -->

<div id="main" ng-app="AlertsApp">
	<h1>{{title}}</h1>
	<!-- Begin QVMC body content -->
	<div ng-controller="MainCtrl">
		<div class="floatBegin col10" style=" margin-top: 30px; margin-left: 30px;">
			<ul>
				<!--  Combined alerts popup link-->
				<li>
					<input type="button" class="btn" ng-click="combAlerts($event)" value="Alerts" />
				</li>
				<!--  Delete Custom view alerts popup link-->
				<li> <a href="#" ng-click="delCustView($event)">Delete Custom View </a> </li>
				<!--  Email Confirmation alerts popup link-->
				<li> <a href="#" ng-click="emailConfirmation($event)">Email Confirmation</a> </li>
				<!--  Delete alerts popup link-->
				<li> <a href="#" ng-click="deleteAlerts($event)">Delete Alerts</a> </li>
				<!--  Date Range picker alerts popup link-->
				<li> <a href="#" ng-click="dateRangePicker($event)">Date Range Picker</a> </li>
				<!--  View Image alerts popup link-->
				<li> <a href="#" ng-click="viewImage($event)">View</a> </li>
				<!--  Alert popup1 link-->
				<li>
					<input type="button" class="btn" ng-click="alertPopup1($event)" value="Alert 1" />
				</li>
				<!--  Alert popup2 link-->
				<li>
					<input type="button" class="btn" ng-click="alertPopup2($event)" value="Alert 2" />
				</li>
				<!--  Email Shipment details step1 link-->
				<li>
					<input type="button" class="btn" ng-click="emailStep1($event)" value="Email Step1" />
				</li>
				<!--  Email Shipment details step2 link-->
				<li>
					<input type="button" class="btn" ng-click="emailStep2($event)" value="Email Step2" />
				</li>
			</ul>
		</div>
	</div>
	<!-- End QVMC body content --> 
</div>

<!-- **************************** --> 
<!-- End Application Owned HTML --> 
<!-- **************************** --> 