<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">

                    <!-- begin Application Content Area -->

                    <!-- begin Application Header -->
                        <table border="0" cellpadding="0" cellspacing="0" width="566">
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                        <span class="blueboldHead">{Application Header}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                        </table>
                        <!-- end Application Header -->

                        <!-- begin Application Body -->
                        <table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="1%">
                                                <img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10">
                                            </td>
                                            <td width="49%">
                                                <span class="whiteBoldHead">Reference Number Lists</span>
                                            </td>
                                            <td width="49%">
                                                <div align="right">
                                                    <a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a>
                                                </div>
                                            </td>
                                            <td width="1%">
                                                <img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                        	<td bgcolor="#996633" colspan="3">
                                            	<img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td colspan="3">
                                            	<img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                       			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        		<p><select><option>item 1</option></select></p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td colspan="3">
                                            	<img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
      					<!-- end Application Body -->

                        <br>

                        <!-- begin buttons -->
                        <table border="0" cellpadding="0" cellspacing="1" width="566">
                            <tr>
                            	<td colspan="2" valign="top">
                                	<img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                            	<td align="left" valign="top" width="200">
                                	<img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            	<td align="right" valign="top" width="366"></td>
                            </tr>
                        </table>
                        <!-- end buttons -->

                        <!-- begin note area -->
                        <table border="0" cellpadding="0" cellspacing="1" width="566">
                            <tr>
                            	<td valign="top">
                                	<img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                            	<td valign="top">&nbsp;</td>
                            </tr>
                        </table>
                        <!-- end note area -->

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>

<!-- /////////////////////////////// -->
<!-- begin 1220 - Dialog - View Locations -- >
<!-- /////////////////////////////// -->
<div class="appLvl mod modal dialog col18">

    <div class="appHead clearfix">
        <h2>create custom packaging type{edit}</h2>
            <ul>
            	<li><input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
            </ul>
    </div>

    <div class="appBody clearfix">


        <!--Begin New create package type-->
	      <fieldset>





                        <!-- Begin Section Body -->
			<div class="secBody noHead clearfix">

                            <p>use the form below to create clinical trial custom packaging types.  you will be able to select from your packaging types when setting up a clinical trial.  required fields are shown as <strong>bold</strong></p>


						<dl class="flexFirst clearfix">
							<dt><label>display units of measure as:</label></dt>
						</dl>
						<dl class="flexAfter clearfix">
							<dt><input type="radio">imperial</dt>
						</dl>
						<dl class="flexAfter clearfix">
							<dt><input type="radio">Metric</dt>
						</dl>

                            <dl class="flexFirst clearfix">

                            	<dt class=""><label for="repl_id">custom packaging name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</dt>

                                <dd><input type="text" class="formcol3"value="[package type name]"></dd>

					   </dl>

					    <dl class=" flexAfter clearfix">

                                    <dt class=""><label>default package weight:</label></dt>

                                    <dd><input type="text" class="formcol3" value="[00]"> [lb/kg]</dd>

                                </dl>






					   <dl class="flexFirst clearfix">

                            <p><label><a href="" class="btnlnkR helpIconR">package dimensions:</a></label></p>

					   </dl>



                                <dl class="flexFirst clearfix">

                                    <dt><label>length:</label></dt>

                                    <dd><input type="formcol3" class="formcol3" value="[00]"/> x&nbsp; </dd>

                                </dl>

                                <dl class="flexAfter clearfix">

                                    <dt><label>width:</label></dt>

                                    <dd><input type="formcol3" value="[00]"/> x&nbsp; </dd>

                                </dl>

                                <dl class="flexAfter clearfix">

                                    <dt><label>height:</label></dt>

                                    <dd><input type="formcol3" value="[00]"/> [in/cm]</dd>

                                </dl>


						<dl class="flexFirst clearfix">
							<dt><input type="checkbox">custom package type uses dry ice</dt>
						</dl>
							<dl class="flexFirst clearfix">
								<dt><label>dry ice wieght[?]</label></dt>
								<dd><input type="text" value="[00]"/>&nbsp;<select name="repl_name" id="">

                                                        <option value="" selected>lb</option>
											 <option value="">kg</option></select></dd>
							</dl>
						<dl class="flexFirst clearfix">
							<dt><strong>note:</strong> any package containing dry ice will be shipped under iata regulations.</dt>
						</dl>


					</fieldset>



					  </div>


					  <div class="appFooter clearfix">
        <div class="btnBar alignCenter">
        	<input type="button" class="btn" value="cancel" name="repl_name">
		<input type="button" class="btn" value="save" name="repl_name">
        </div>

                            </div>
					 </div>
					 </div>
	   <!--End New Create Package Type-->





	   <!-- Begin Column -->









<script type="text/javascript">



$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:710});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});


</script>
<!-- /////////////////////////////// -->
<!-- end 1220 - Dialog - View Locations -- >
<!-- /////////////////////////////// -->
