// ----------------------------------------------------
// Unique styles for Desktop/fixed-width application pages
// ----------------------------------------------------

body.ups-appPage {
    min-width: 1116px;

    .container-fluid.iw_section {
        .row.iw_row {

            //full width
            #ups-fw_legacy_app_wrap {


                .ups-fw_legacy_app_inner {
                    padding: 0 60px;
                    max-width: 1116px;
                    min-width: 970px;
                    //color: $white !important;

                    @media #{$media-small} {
                        padding: 0 20px;
                    }
                }
            }
        }
    }

    @media #{$media-medium} {
        #ups-header {
            width: auto;
        }
    }

    @media #{$media-small} {
        min-width: 960px;
    }
}
@media print {
    body.ups-appPage {
        min-width: 0;
        @media #{$media-small} {
            min-width: 0;
        }
    }
}


