/**********************************************************
** Begin ups reskin classes
** DO NOT MERGE UNTIL JULY 17 RELIESE
***********************************************************/
#main input[type="radio"] {
    cursor: default;
    border: none;
    width: auto;
    height: auto;
    position: absolute;
    bottom: auto;
    margin: 0;
    border-radius: 0;
    outline: none;
    vertical-align: baseline;
}

.ui-dialog.ui-widget .appBody table.ups-table_group {
	margin-bottom: $margin_4;
}
/**********************************************************
** END ups reskin classes
** DO NOT MERGE UNTIL JULY 17 RELIESE
***********************************************************/

/**********************************************************
** BEGIN ups classes
** DO NOT MERGE UNTIL JULY 17 RELEASE
***********************************************************/
#ups-fw_legacy_app_wrap #main a.ups-link_light {
    font-family: $sans;
}
.appBody .ups-formGroup {
    margin-bottom:15px;
}

.ups-no_label { margin-top: 25px; }

.panel.panel-default {
    border-color: $stone_s3;
}
.panel.panel-default > .panel-heading {
    background-color: $stone_s3;
}

#ups-fw_legacy_app_wrap #main .ups-group {
    margin-bottom: $margin_4;

    .ups-group_label {
        font-family: $sans-bd;
        font-weight: bold;
        color: $black_s4;
        font-size: 1em;
        line-height: inherit;
        margin: 0 0 $margin_5;
    }

    .ups-group_value {
        line-height: 35px;
    }

    &.ups-group_condensed p {
        margin-bottom: 0;
    }

    &.ups-group_condensed p.ups-form_label {
        margin-bottom: 10px;
    }

    address {
        margin-bottom: 15px;
        font-family: $sans;
    }
}

#main input[type="radio"] {
    cursor: default;
    border: none;
    width: auto;
    height: auto;
    position: absolute;
    bottom: auto;
    margin: 0;
    border-radius: 0;
    outline: none;
    vertical-align: baseline;
}
.secLvl .panel-warning { margin: 10px 10px 0; }

#main .ups-search_support .ups-search_results .results-footer .footer-container .pagination-container {
    color: #fff;
}

#main .ups-application_wrapper .ups-tab_wIcon {
    .subTab {

    }
}

#ups-fw_legacy_app_wrap .ups-application_wrapper .ups-date_picker_button span.ups-icon-calendar {
    font-size: 1.5em !important;
    color: #64a70b !important;
    line-height: 1em;
}

/*.ui-dialog.ui-widget .appBody table.ups-table_group {
    margin-bottom: $margin_4;
}*/

.ups-appPage #ups-fw_legacy_app_wrap div#main ul.subTab.clearfix li a {
    text-decoration: none;
}

#main select.ups-dropdown::-ms-expand,.ui-dialog.ui-widget .appLvl .ups-application_wrapper select.ups-dropdown::-ms-expand {
	display: none;
}

.ups-dropdown_wrapper:before {
    content: "\e210";
    position: absolute;
    text-align: center;
    color: #64a70b;
    top: 0px;
    width: 46px;
    height: 35px;
    font-family: "UPSicons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 35px;
    #{$opposite-direction}: 0px;
}

#main .ups-dropdown_wrapper select:not([multiple]), .ui-dialog.ui-widget .ups-application_wrapper.appBody select {
    background: none;
    padding-right: 30px;
}

@media #{$media-small} {
    #ups-fw_legacy_app_wrap .ups-cta {
        width: auto;
    }
}

#main .secBody .ups-form_group.ups-input_has_unit .ups-input_unit_measure {
    line-height: 35px;
}

#main .ups-form_wrap label.ups-checkbox-custom-label, #main .ups-form_wrap label.ups-radio-custom-label {
    margin-bottom: 5px;
    line-height: 25px;
}

#main .ups-form_wrap input.ups-checkbox-custom, #main .ups-form_wrap input.ups-radio-custom {
    position: absolute;
}

.ui-dialog .appLvl .appBody {
    font-size:14px;
}

.ui-dialog.ui-widget .appLvl button {
    font-weight: 400;
    font-family: $sans-bd;
}

.ups-appPage .ui-dialog.ui-widget .appBody {
    padding: 20px 40px 0 40px;
}

.ups-appPage .ui-dialog.ui-widget .appLvl.modal .appHead h2.ups-modal_heading {
    padding-top: 35px;
    padding-left: 40px;
}

.ups-appPage .ui-dialog.ui-widget .close {
    font-size: 21px;
    position: absolute;
    top: 3px;
    #{$opposite-direction}: 10px;
}

.ups-appPage .ups-icon-questioncircle {
    position: relative;
    //#{$opposite-direction}: 22px;
    top: 5px;
}

.ups-application_wrapper .ups-no_label {
    display: block;
}

.ui-dialog.ui-widget .appBody.ups-application_wrapper input[type=checkbox] {
    margin: 5px 0;
    position: absolute;
}

.ui-dialog.ui-widget div.appBody.ups-application_wrapper label {
    display: inline-block;
}

.ups-input_btn_action {
    padding-left: 0;
}

.ups-icon_emphasis {
    font-size: 20px;
}

.ups-form_wrap .ups-btn_has_icon .icon.ups-icon_emphasis {
    @extend .ups-icon_emphasis;
}

.ups-tbl_has_inputs .text-center .ups-checkbox-custom-label {
    width: auto;
}

.ui-dialog.ui-widget .appBody .ups-checkbox-custom-label {
    font-family: $sans;
}

.ups-application_wrapper .secHead .ups-cta_secondary {
    padding-top: 0;
    padding-bottom: 0;
}

.appBody ul {
	padding-#{$default-float}: 16px;
    list-style:disc;
    li {
        font-family: $sans;
    }
}

.ups-time_selection {
    .ups-time_selection_hour, .ups-time_selection_colon, .ups-time_selection_min, .ups-time_selection_ampm {
        display: inline-block;
        vertical-align: middle;
    }

    .ups-time_selection_hour, .ups-time_selection_min {
        width: 24%;
    }

    .ups-time_selection_min {
        margin-#{$opposite-direction}: 5px;
    }

    .ups-time_selection_ampm .ups-buttonList_wrapper {
        display: inline-block;
        width: auto;
        margin-#{$opposite-direction}: 10px;
    }
}

#main .panel .panel-heading {
    .panel-title {
        color: white;
    }
}

.ups-app_actions_container {
    position: relative;
    margin: 0;
    min-height: 30px;

    .ups-app_actions button {
        color: black;
    }
}

.ups-app_actions {
    position: absolute;
    bottom: 0;
    #{$opposite-direction}: 0;

    li {
        display: inline-block;
        margin-left: 15px;

        span.ups-icon-print:before {
            position: relative;
            top: 2px;
            margin-left: 0;
        }

        span.ups-icon-newwindow:before {
            position: relative;
            top: 1px;
        }
    }
}

.ui-dialog .modal-dialog {
    width: 100% !important;
}

#main .appLvl.ups-legacy_tab_view {
    padding: 0px;

    .appHead {
        padding:10px;
    }

    .secLvl {
        border:none;
        .secHead {
            padding: 5px;
        }
    }
}

#main .appLvl .secLvl .secHead .ups-secHeadBtn {
    padding-top: 5px;
}

#main .hasDatepicker {
	width: 100% !important;
}

#main .hasDatepicker {
	width: 100% !important;
}

/* TFS335595 & TFS381328 */
.ups-form_group.ups-input_required_inside_table {
	.ups-input_wrapper {
		padding-#{$opposite-direction}: 15px;
	}

	.ups-dropdown_wrapper:before {
		#{$opposite-direction}: 15px;
	}

	.ups-dropdown_wrapper .ups-dropdown {
		width: auto;
	}

	.ups-required_indicator {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 35px;
	}
}



/**********************************************************
** END ups classes
** DO NOT MERGE UNTIL JULY 17 RELEASE
***********************************************************/
