<form action="repl_fname">

	<!--Begin Subtabs -->
	<ul class="subTab clearfix">
		<li class="tab-off"><a href="repl_href">Package</a></li>
		<li class="tab-on">Freight</li>
	</ul>
	<!--End Subtabs -->

	<!-- ************************************** -->
	<!-- REDESIGN EDIT: Start part of re-design -->
	<!-- ************************************** -->
	<!--

	<div style="clear:both"></div>
	<table border="0" cellspacing="0" cellpadding="0" class="tab" width="566">
		<tr>
			<th><div class="head-col4">
					<h2>Provide Shipment Information</h2>
				</div></th>
		</tr>
		<tr>
			<td><div class="introModFixed">
			<!-- Begin Message Box ->
			<p>Please provide information about your freight shipment including origin, destination, and shipment date. Required fields are indicated with <img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0">.</p>

		-->

		<div class="appLvl ups-application_wrapper ups-form_wrap ups-legacy_tab_view tab">

			<!-- Begin Application Header -->
			<div class="appHead clearfix">
				<h2>Provide Shipment Information</h2>
				<div class="clear"></div>
				<!-- Begin Message Box -->
				<p>Please provide information about your freight shipment including origin, destination, and shipment date. Required fields are indicated with <span aria-hidden="true">*</span>.</p>
				
				<div class="panel panel-primary">
				<div class="panel-body">
					<p><a href="repl_name">Set your preferences</a> to enable <strong>one-step rating</strong>. (<a href="repl_name">Don't show this message again</a>)</p>
				</div>
			</div>

			</div>
			<!-- End Application Header -->

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design   -->
			<!-- ************************************** -->



			<!-- ////////////////////////////////////////////////// -->
			<!-- ////         Begin Visual Message Box         //// -->
			<!-- ////////////////////////////////////////////////// -->

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** -->
			<!--

			<div class="secLvl message clearfix">
				<div class="secBody">
					<p><a href="repl_name">Set your preferences</a> to enable <strong>one-step rating</strong>. (<a href="repl_name">Don't show this message again</a>)</p>
				</div>
			</div>

			-->


			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design   -->
			<!-- ************************************** -->

			<!-- ////////////////////////////////////////////////// -->
			<!-- ////           End Visual Message Box         //// -->
			<!-- ////////////////////////////////////////////////// -->

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** -->
			<!--

			</div>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design   -->
			<!-- ************************************** -->


			<!-- Begin Step Module One -->

			<!-- ///////////////////////////////////////////////// -->
			<!-- //// Begin Step 1 Select Freight Offering    //// -->
			<!-- ///////////////////////////////////////////////// -->

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** -->
			<!--

			<div id="step-1" class="stepModFixed4col">
				<div class="stepModHead">
					<h3>Select a Freight Offering</h3>
					<div style="clear:both;"></div>
				</div>
				<fieldset>
					<legend>Step One: Section Header Text</legend>

				</fieldset>
				<div style="clear:both"></div>
			</div>
			<div style="clear:both"></div>

			-->

			<div class="secLvl step" id="step-1">

				<!-- Begin Header Bar -->
				<div class="secHead clearfix">
					<div class="stepNumberDiv"><span class="stepNumber">1</span></div>
					<h3>Select a Freight Offering</h3>
				</div>
				<!-- End Header Bar -->

				<!-- Begin Section Body -->
				<div class="secBody clearfix">
					{{> "ct1_shi_tnc(1frt)_fctc_select_freight_partial"}}
				</div>
				<!-- End Section Body -->

			</div>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design   -->
			<!-- ************************************** -->

			<!-- ///////////////////////////////////////////////// -->
			<!-- //// End Step 1 Select Freight Offering      //// -->
			<!-- //// Begin Step 2 Where and When             //// -->
			<!-- ///////////////////////////////////////////////// -->




			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** -->
			<!--

			<div id="step-2" class="stepModFixed4col">
				<div class="stepModHead">
					<h3>Where and When?</h3>
					<div style="clear:both;"></div>
				</div>



			</div>

			-->

			<div class="secLvl step" id="step-2">

				<!-- Begin Header Bar -->
				<div class="secHead clearfix">
					<div class="stepNumberDiv"><span class="stepNumber">2</span></div>
					<h3>Where and When?</h3>
				</div>
				<!-- End Header Bar -->

				<!-- Begin Section Body -->
				<div class="secBody clearfix">
					{{> "ct1_shi_tnc(1frt)_fctc_freight_type_partial"}}
				</div>
				<!-- End Section Body -->

			</div>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design   -->
			<!-- ************************************** -->

			<!-- ///////////////////////////////////////////////// -->
			<!-- //// End Step 2 Where and When               //// -->
			<!-- ///////////////////////////////////////////////// -->




			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** -->
			<!--

				<div style="clear:both"></div>
			</td>
		</tr>
		<tr>
			<td class="btn-bar"><div class="btn-col4">
					<input name="repl_name" type="submit" value="Next" class="btn">
				</div></td>
		</tr>
	</table>

			<!-- Start Application Footer -->
			<div class="clear"></div>
			<div class="appFooter">
				<div class="ups-group">
					<button type="button" class="ups-cta ups-cta_primary">Next</button>
				</div>
			</div>
			<!-- End Application Footer -->

		</div>

		<!-- ************************************** -->
		<!-- REDESIGN EDIT: End part of re-design   -->
		<!-- ************************************** -->

	<!--End of parent table -->
</form>
