<div id="dyn_pnl_2">
	{{#if default}}
	<div id="pnl_2_1">
		<div class="stepModContent">

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** -->
			<!--

			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><div>
							<dl role="presentation">
								<dt>
									<label for="">Which frieght offering do you need?<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"></label>
								</dt>
								<dd>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id="" ></td>
											<td><label for="" class="sel">Ground Freight (Less-Than-Truckload)</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Air Freight</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Truckload</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Ocean (Less-Than-Container Load)</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Ocean (Full Container Load)</label></td>
										</tr>
									</table>
								</dd>
							</dl>
						</div></td>
				</tr>
			</table>

			-->

			<fieldset class="ups-form_group">
				<!-- FCTC hack
				<legend class="ups-form_label">Which frieght offering do you need? <span class="ups-required_indicator" aria-hidden="true"></span></legend>
				-->
				<legend class="ups-form_label">Which frieght offering do you need? <img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"></legend>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="ups-uid-form_title-1" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt1" checked="">
					<label for="ups-uid-form_title-1" class="ups-radio-custom-label">Ground Freight (Less-Than-Truckload)</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="ups-uid-form_title-2" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt2">
					<label for="ups-uid-form_title-2" class="ups-radio-custom-label">Air Freight</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="ups-uid-form_title-3" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt3">
					<label for="ups-uid-form_title-3" class="ups-radio-custom-label">Truckload</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="ups-uid-form_title-4" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt4">
					<label for="ups-uid-form_title-4" class="ups-radio-custom-label">Ocean (Less-Than-Container Load)</label>
				</div>
				<div class="ups-buttonList_wrapper ups-input_wrapper">
					<input id="ups-uid-form_title-5" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt5">
					<label for="ups-uid-form_title-5" class="ups-radio-custom-label">Ocean (Full Container Load)</label>
				</div>
			</fieldset>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design   -->
			<!-- ************************************** -->

		</div>
	</div>
	{{/if}}

	{{#if air_freight}}
	<div id="pnl_2_2">
		<div class="stepModContent">

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** -->
			<!--

			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><dl role="presentation">
							<dt>
								<label for="">Which freight offering do you need?<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"></label>
							</dt>
							<div class="colL">
								<dd>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id="" ></td>
											<td><label for="" class="sel">Ground Freight (Less-Than-Truckload)</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Air Freight</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Truckload</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Ocean (Less-Than-Container Load)</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Ocean (Full Container Load)</label></td>
										</tr>
									</table>
								</dd>
							</div>
						</dl></td>
					<div class="colR">
						<td class="col6">
							<div class="secLvl message clearfix">
								<fieldset>
									<div class="secBody clearfix">
										<p>Is your shipment: <strong>international, palletized, and air freight?</strong> get a quote using our ups worldwide express freight service.  select the package tab above to transfer shipment details to <strong>calculate time and cost</strong>.</p>
									</div>
								</fieldset>
							</div>
						</td>
					</div>
				</tr>
			</table>

			-->

			<div class="row">

				<div class="col-xs-6">
					<fieldset class="ups-form_group">
						<legend class="ups-form_label">Which frieght offering do you need? <span class="ups-required_indicator" aria-hidden="true"></span></legend>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-1" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt1" checked="">
							<label for="ups-uid-form_title-1" class="ups-radio-custom-label">Ground Freight (Less-Than-Truckload)</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-2" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt2">
							<label for="ups-uid-form_title-2" class="ups-radio-custom-label">Air Freight</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-3" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt3">
							<label for="ups-uid-form_title-3" class="ups-radio-custom-label">Truckload</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-4" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt4">
							<label for="ups-uid-form_title-4" class="ups-radio-custom-label">Ocean (Less-Than-Container Load)</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-5" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt5">
							<label for="ups-uid-form_title-5" class="ups-radio-custom-label">Ocean (Full Container Load)</label>
						</div>
					</fieldset>
				</div>

				<div class="col-xs-6">
					<div class="panel panel-primary">
						<div class="panel-body">
							<p>Is your shipment: <strong>international, palletized, and air freight?</strong> get a quote using our ups worldwide express freight service.  select the package tab above to transfer shipment details to <strong>calculate time and cost</strong>.</p>
						</div>
					</div>
				</div>

			</div>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design   -->
			<!-- ************************************** -->
		</div>
	</div>
	{{/if}}


	{{#if air_freight_APAC}}
	<div id="pnl_2_3">
		<div class="stepModContent">

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: Start part of re-design -->
			<!-- ************************************** -->
			<!--

			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><dl role="presentation">
							<dt>
								<label for="">Which freight offering do you need?<img src="/img/icn_dia.gif" alt="Required" width="11" height="9" border="0"></label>
							</dt>
							<div class="colL">
								<dd>
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Air Freight (including UPS Worldwide Expedited Groung Freight&#8482; where supported)</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Ocean (Less-Than-Container Load)</label></td>
										</tr>
										<tr>
											<td valign="top"><input name="repl_name" type="radio" id=""></td>
											<td><label for="" class="sel">Ocean (Full Container Load)</label></td>
										</tr>
									</table>
								</dd>
							</div>
						</dl></td>
					<div class="colR">
						<td class="col6"><div class="secLvl message clearfix">
								<fieldset>
									<div class="secBody clearfix">
										<p>Is your shipment: <strong>international, palletized, and air freight?</strong> get a quote using our ups worldwide express freight service.  select the package tab above to transfer shipment details to <strong>calculate time and cost</strong>.</p>
									</div>
								</fieldset>
							</div></td>
					</div>
				</tr>
			</table>

			-->

			<div class="row">
				<div class="col-xs-6">
					<fieldset class="ups-form_group">
						<legend class="ups-form_label">Which frieght offering do you need? <span class="ups-required_indicator" aria-hidden="true"></span></legend>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-1" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt1" checked="">
							<label for="ups-uid-form_title-1" class="ups-radio-custom-label">Air Freight (including UPS Worldwide Expedited Groung Freight&#8482; where supported)</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-2" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt2">
							<label for="ups-uid-form_title-2" class="ups-radio-custom-label">Ocean (Less-Than-Container Load)</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input id="ups-uid-form_title-3" class="ups-radio-custom" name="ups-uid-form_title-radio_group" type="radio" value="opt3">
							<label for="ups-uid-form_title-3" class="ups-radio-custom-label">Ocean (Full Container Load)</label>
						</div>
					</fieldset>
				</div>

				<div class="col-xs-6">
					<div class="panel panel-primary">
						<div class="panel-body">
							<p>Is your shipment: <strong>international, palletized, and air freight?</strong> get a quote using our ups worldwide express freight service.  select the package tab above to transfer shipment details to <strong>calculate time and cost</strong>.</p>
						</div>
					</div>
				</div>

			</div>

			<!-- ************************************** -->
			<!-- REDESIGN EDIT: End part of re-design   -->
			<!-- ************************************** -->

		</div>
	</div>
	{{/if}}
</div>
