<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">User Profile</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
		View or Edit your profile information.
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- begin profile information module -->
	<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">Profile Information</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_333366.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin left content column -->
			<span class="bold">User Name:</span>
			<br>
			<input class="modTxtMedium" maxlength="15" name="User Name" size="15" type="text" value="">
			<br><br>
			<span class="bold">User ID:</span>
			<br>
			<input class="modTxtMedium" maxlength="15" name="User ID" size="15" type="text" value="">
			<br><br>
			<span class="bold">E-mail Address:</span>
			<br>
			<input class="modTxtMedium" maxlength="15" name="E-mail Address" size="15" type="text" value="">
			<!-- end left content column -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">

			<!-- begin right content column -->
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top"><span class="bold">Telephone Phone:</span></td>
				<td rowspan="2"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
				<td valign="top"><span class="bold">Ext.:</span></td>
			</tr>
			<tr>
				<td valign="top"><input class="modTxtMediumSmall" maxlength="10" name="Phone" type="text" size="10"></td>
				<td valign="top"><input class="modTxtSmall" maxlength="5" name="PhoneExtension" type="text" size="5"></td>
			</tr>
			<tr>
				<td valign="top" colspan="3"><br></td>
			</tr>
			<tr>
				<td valign="top" colspan="3"><span class="bold">Fax:</span></td>
			</tr>
			<tr>
				<td valign="top" colspan="3"><input class="modTxtMedium" maxlength="15" name="Fax Number" size="15" type="text" value=""></td>
			</tr>
			<tr>
				<td valign="top" colspan="3"><br></td>
			</tr>
			<tr>
				<td valign="top" colspan="3"><span class="bold">language Preference:</span></td>
			</tr>
			<tr>
				<td valign="top" colspan="3">
				<select class="modSelMedium" name="language Preference" size="1">
				  <option>Select language</option>
				  <option>Item 1</option>
				  <option>Item 2</option>
				  <option>Item 3</option>
				</select>
				</td>
			</tr>
			</table>
			<!-- end right content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
	</table>
	<!-- end profile information module -->

	<!-- begin buttons -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
		<td align="right" valign="top" width="366"><input name="repl_fname" value="Cancel" class="btn" type="button"><input name="repl_fname" value="Update" class="btn" type="submit"></td>
	</tr>
	</table>
	<!-- end buttons -->

	<!-- begin note area -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
	</tr>
	</table>
	<!-- end note area -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>    
