---
title: ct1_shi_pic(1sch)_sta(2res)
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: rtl
lang: en
---

<div id="main">
    {{>"ct1_shi_pic(1sch)_sta(2res)_partial" ct1_shi_pic1sch_sta2res.default }}
</div>
