@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {

	.requiredIcon {
		background-position: -3px -2347px;
	}

	.appLvl.mod .appBody {
		.secLvl .secBody dl {
			// float: $default-float;

			dd {
				/* V4 Styling issues. Based on the discussion with Doug.
				position: relative;

				&:after {
					@include ups-iconFont("\e007");
					position: relative;
					#{$opposite-direction}: 25px;
					top: 5px;
					z-index: 0;
				}
				img.requiredIcon {
					position: absolute;
					top: 50%;
					#{$opposite-direction}: -5px;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
				}
				*/
				.datePicker {
					width: 138px !important;
				}
				.ui-datepicker-trigger {
					cursor: pointer;
					width: auto;
					margin-#{$default-float}: -21px;

					&+img.requiredIcon {
						margin-#{$default-float}: 5px;
					}
				}
			}
		}
	}
	.secLvl:not(.cmsMsg) .secBody dl dd {
		position:static!important;
	}
}

#email_preview .flexFirstPad div {
	width:auto!important;
}

.iw_viewport-wrapper .container-fluid.iw_section:nth-child(2){ margin-top:auto;}