<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Calculate Time and Cost</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">
	Delivery options for all available services for the following shipment:<br><br>
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><span class="pi-h4">Ship From:</span></td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td>ROSWELL, 30076 UNITED STATES</td>
	</tr>
	<tr>
		<td><span class="pi-h4">Ship To:</span></td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td>WARE, SG 120 SD UNITED KINGDOM</td>
	</tr>
	<tr>
		<td><span class="pi-h4">Shipment Date:</span></td>
		<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		<td>Monday, May 3, 2004</td>
	</tr>
	</table><br>
	The shipment descriptions you have indicated may require special assistance. Please check the accuracy of your request or contact your local UPS office for assistance.
	<br><br>
	<img alt="Back to Estimate Landed Cost" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><a href="repl_href">Back to Estimate Landed Cost</a>
	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>
