---
title: Authentication Required
dir: rtl
layout: default.hbs
appId: ppc
lang: ar
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div ng-app="ppcAuthRequired">
		<div class="ups-form_wrap ups-wrap ups-application_wrapper">  
			<div class="ups-wrap_inner">
				{{!-- {{> ppc_auth_required_partial }} --}}
				<ng-view></ng-view>
			</div>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->