		<form action="repl_faction">
			<!-- Begin Table: Page Header no Icon -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td class="pi-h1" valign="top" id="">
						UPS TradeAbility International Tools
					</td>
				</tr>
			</table>
			<!-- End Table: Page Header no Icon -->
			<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
				<tr>
					<td>
						UPS TradeAbility<sup>TM</sup> will help you effectively and confidently manage the movement of goods internationally in a timely, efficient, and compliant manner. Start using a TradeAbility service below, view the online demonstration, or learn more about the features and benefits of each service. <br>
						<br>
						<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Learn More</a><br>
						<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">View Demo</a><br>
						<br>
					</td>
				</tr>
			</table>
			<!-- End Table: Functional Table 2 (Parent:Module Table) -->

			<!-- Begin Table: Tariff Code Validation Notice -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
				<tr>
					<td>
						<div class="secLvl message" style="padding:10px 10px 10px 0;">
							<div class="secbody">
								<table border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td style="padding-right:5px;">
												<img align="middle" alt="repl_alt" border="0" height="32" src="/img/E828_shield_32_brown.png" width="32">
											</td>
											<td>
												<strong>{action needed}</strong> - {tariff code paragraph text... tariff code paragraph text... tariff code paragraph text... tariff code paragraph text... tariff code paragraph text... } <a href="repl_href">manage your product list</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<!-- End Table: Tariff Code Validation Notice -->
			<!-- Begin Table: Formatting Table 2col plus 2col -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
				<tr>
					<td valign="top" width="100%">
						<!-- Begin Table: Module Table (Parent:Formatting Table) -->

						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td class="pi-mA1-t" valign="top">
									<!-- Begin Table: Module Title (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-txt-title">
												Estimate Landed Cost
											</td>
										</tr>
									</table>

									<!-- End Table: Module Title (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-t-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c" valign="top">
									<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td>
												<div class="pi-m-pad">
													Estimate the cost to move a shipment across borders, including duties, taxes, and transportation charges. <br>
													<br>
													<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Learn More</a><br>
													<br>
													<label for="repl_landingCostToCountry" class="sel">Ship To Country or Territory:</label><br>
													<select name="repl_fname" class="modSelMedium2" size="1" id="repl_landingCostToCountry">
														<option id="">[Profile Country]</option>
													</select>
													<br>
													<label for="repl_landingCostFromCountry" class="sel">Ship From Country or Territory:</label><br>
													<select name="repl_fname" class="modSelMedium2" size="1" id="repl_landingCostFromCountry">
														<option id="">Select One</option>
													</select>
												</div>
											</td>
										</tr>
									</table>

									<!-- End Table: Functional Table 2 (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-b-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA2-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-b" valign="top">
									<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-button" nowrap>
												<input type="button" class="btn_a" value="Next" id="">
											</td>
										</tr>
									</table>

									<!-- End Table: Form Control Buttons(Parent:Module Table) -->
								</td>
							</tr>
						</table>

						<!-- End Table: Module Table (Parent:Formatting Table) -->
						<br>

						<!-- Begin Table: Module Table (Parent:Formatting Table) -->

						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
							<tr>
								<td class="pi-mA1-t" valign="top">
									<!-- Begin Table: Module Title (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-txt-title">
												Find Harmonized Codes
											</td>
										</tr>
									</table>

									<!-- End Table: Module Title (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-t-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c" valign="top">
									<!-- Begin Table: Functional Table 4a (Parent:Module Table) -->

									<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td>
												<div class="pi-m-pad">
													Quickly and accurately identify and apply a product's harmonized tariff code. <br>
													<br>
													<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Learn More</a><br>
													<br>
													<span class="pi-h3">Enter Search Keywords</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<img alt="" border="0" height="4" src="/img/1.gif" width="1">
											</td>
										</tr>
									</table>

									<!-- End Table: Functional Table 4a (Parent:Module Table) -->
									<!-- Begin table: Functional Table 4b (Parent:Module Table) -->

									<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%" id="">
										<tr>
											<td class="pi-mA1">
												<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											</td>
											<td width="100%">
												<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->

												<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td class="pi-mA1">
															<img alt="" border="0" height="8" src="/img/1.gif" width="1">
														</td>
													</tr>
													<tr>
														<td width="100%">
															<div class="pi-m-pad">
																<label for="repl_keywords" class="sel">Keywords:</label><br>
																<input class="modTxtMedium" maxlength="50" size="19" type="text" value="" id="repl_keywords" name="">
																<br>
															</div>
														</td>
													</tr>
													<tr>
														<td class="pi-mA1">
															<img alt="" border="0" height="8" src="/img/1.gif" width="1">
														</td>
													</tr>
												</table>

												<!-- End table: Inner Table (Parent:Functional Table 4b) -->
											</td>
											<td class="pi-mA1">
												<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											</td>
										</tr>
									</table>

									<!-- End table: Functional Table 4b (Parent:Module Table) -->
									<!-- Begin table: Functional Table 4c (Parent:Module Table) -->

									<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%" id="">
										<tr>
											<td>
												<img alt="" border="0" height="8" src="/img/1.gif" width="10"><br>
												<div class="pi-m-pad">
													<span class="pi-h4">*OR*</span><br>
													<img alt="" border="0" height="5" src="/img/1.gif" width="1"><br>
													<span class="pi-h3">Enter Tariff Code</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<img alt="" border="0" height="4" src="/img/1.gif" width="10"><br>
											</td>
										</tr>
									</table>

									<!-- End table: Functional Table 4c (Parent:Module Table) -->
									<!-- Begin table: Functional Table 4d (Parent:Module Table) -->

									<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%" id="">
										<tr>
											<td class="pi-mA1">
												<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											</td>
											<td width="100%">
												<!-- Begin table: Inner Table (Parent:Functional Table 4d) -->

												<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td class="pi-mA1">
															<img alt="" border="0" height="8" src="/img/1.gif" width="1">
														</td>
													</tr>
													<tr>
														<td width="100%">
															<div class="pi-m-pad">
																<label for="repl_tariffCode" class="sel">Tariff Code:</label><br>
																<input class="modTxtMedium" maxlength="40" size="19" type="text" value="" id="repl_tariffCode" name="">
																<br>
															</div>
														</td>
													</tr>
													<tr>
														<td class="pi-mA1">
															<img alt="" border="0" height="8" src="/img/1.gif" width="1">
														</td>
													</tr>
												</table>

												<!-- End table: Inner Table (Parent:Functional Table 4d) -->
											</td>
											<td class="pi-mA1">
												<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											</td>
										</tr>
										<tr>
											<td class="pi-mA1" colspan="3">
												<img alt="" border="0" height="10" src="/img/1.gif" width="1">
											</td>
										</tr>
									</table>

									<!-- End table: Functional Table 4d (Parent:Module Table) -->
									<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td>
												<div class="pi-m-pad">
													<label for="repl_harmonizedToCountry" class="sel">Ship To Country or Territory:</label><br>
													<select name="repl_fname" class="modSelMedium2" size="1" id="repl_harmonizedToCountry">
														<option id="">[Profile Country or Territory]</option>
													</select>
													<br>
												</div>
											</td>
										</tr>
									</table>

									<!-- End Table: Functional Table 2 (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-b-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-b" valign="top">
									<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
										<tr>
											<td class="pi-m-button" nowrap>
												<input type="button" class="btn_a" value="Next" id="">
											</td>
										</tr>
									</table>

									<!-- End Table: Form Control Buttons(Parent:Module Table) -->
								</td>
							</tr>
						</table>

						<!-- End Table: Module Table (Parent:Formatting Table) -->
						<br>

						<!-- Begin Table: Module Table (Parent:Formatting Table) -->

						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
							<tr>
								<td class="pi-mA1-t" valign="top">
									<!-- Begin Table: Module Title (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-txt-title">
												Detect Export Licenses
											</td>
										</tr>
									</table>

									<!-- End Table: Module Title (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-t-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c" valign="top">
									<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
										<tr>
											<td>
												<div class="pi-m-pad">
													Ensure that your shipment is in compliance with US export regulations, procedures, tariffs and laws. <br>
													<br>
													<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Learn More</a><br>
													<br>
													<label for="repl_exportToCountry" class="sel">Ship To Country or Territory:</label><br>
													<select name="repl_fname" class="modSelMedium2" size="1" id="repl_exportToCountry">
														<option id="">Select One</option>
													</select>
													<br>
													<label for="repl_exportFromCountry" class="sel">Ship From Country or Territory:</label><br>
													<select name="repl_fname" class="modSelMedium2" size="1" id="repl_exportFromCountry">
														<option id="">[Profile Country or Territory]</option>
													</select>
												</div>
											</td>
										</tr>
									</table>

									<!-- End Table: Functional Table 2 (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-b-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-b" valign="top">
									<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-button" nowrap>
												<input type="button" class="btn_a" value="Next" id="">
											</td>
										</tr>
									</table>

									<!-- End Table: Form Control Buttons(Parent:Module Table) -->
								</td>
							</tr>
						</table>

						<!-- End Table: Module Table (Parent:Formatting Table) -->
					</td>
					<td width="10">
						<img alt="" border="0" height="1" src="/img/1.gif" width="10">
					</td>
					<td valign="top" width="100%">
						<!-- Begin Table: Module Table (Parent:Formatting Table) -->

						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
							<tr>
								<td class="pi-mA1-t" valign="top">
									<!-- Begin Table: Module Title (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-txt-title">
												Screen for Denied Parties
											</td>
										</tr>
									</table>

									<!-- End Table: Module Title (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-t-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c" valign="top">
									<!-- Begin Table: Functional Table 4a (Parent:Module Table) -->

									<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%" id="">
										<tr>
											<td>
												<div class="pi-m-pad">
													Screen for restricted trade parties and embargoed countries or territories. <br>
													<br>
													<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Learn More</a><br>
													<br>
													<span class="pi-h3">Enter Company and/or Name</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<img alt="" border="0" height="4" src="/img/1.gif" width="1">
											</td>
										</tr>
									</table>

									<!-- End Table: Functional Table 4a (Parent:Module Table) -->
									<!-- Begin table: Functional Table 4b (Parent:Module Table) -->

									<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%" id="">
										<tr>
											<td class="pi-mA1">
												<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											</td>
											<td width="100%">
												<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->

												<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td class="pi-mA1">
															<img alt="" border="0" height="8" src="/img/1.gif" width="1">
														</td>
													</tr>
													<tr>
														<td width="100%">
															<div class="pi-m-pad">
																<label for="repl_company" class="sel">Company:</label> (Required if Contact Name is not provided)<br>
																<input class="modTxtMedium" maxlength="128" size="19" type="text" value="" id="repl_company">
																<br>
																<label for="repl_contactName" class="sel">Contact Name:</label> (Required if Company Name is not provided)<br>
																<input class="modTxtMedium" maxlength="128" size="19" type="text" value="" id="repl_contactName">
																<br>
															</div>
														</td>
													</tr>
													<tr>
														<td class="pi-mA1">
															<img alt="" border="0" height="8" src="/img/1.gif" width="1">
														</td>
													</tr>
												</table>

												<!-- End table: Inner Table (Parent:Functional Table 4b) -->
											</td>
											<td class="pi-mA1">
												<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											</td>
										</tr>
									</table>

									<!-- End table: Functional Table 4b (Parent:Module Table) -->
									<!-- Begin table: Functional Table 4c (Parent:Module Table) -->

									<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%" id="">
										<tr>
											<td>
												<img alt="" border="0" height="8" src="/img/1.gif" width="10"><br>
												<div class="pi-m-pad">
													<span class="pi-h4">*OR*</span><br>
													<img alt="" border="0" height="5" src="/img/1.gif" width="1"><br>
													<span class="pi-h3">Select Country or Territory</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<img alt="" border="0" height="4" src="/img/1.gif" width="10"><br>
											</td>
										</tr>
									</table>

									<!-- End table: Functional Table 4c (Parent:Module Table) -->
									<!-- Begin table: Functional Table 4d (Parent:Module Table) -->

									<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%" id="">
										<tr>
											<td class="pi-mA1">
												<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											</td>
											<td width="100%">
												<!-- Begin table: Inner Table (Parent:Functional Table 4d) -->

												<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
														<td class="pi-mA1">
															<img alt="" border="0" height="8" src="/img/1.gif" width="1">
														</td>
													</tr>
													<tr>
														<td width="100%">
															<div class="pi-m-pad">
																<label for="repl_country" class="sel">Country or Territory:</label><br>
																<select name="repl_fname" class="modSelMedium2" size="1" id="repl_country">
																	<option id="">Select One</option>
																</select>
																<br>
															</div>
														</td>
													</tr>
													<tr>
														<td class="pi-mA1">
															<img alt="" border="0" height="8" src="/img/1.gif" width="1">
														</td>
													</tr>
												</table>

												<!-- End table: Inner Table (Parent:Functional Table 4d) -->
											</td>
											<td class="pi-mA1">
												<img alt="" border="0" height="1" src="/img/1.gif" width="10">
											</td>
										</tr>
										<tr>
											<td class="pi-mA1" colspan="3">
												<img alt="" border="0" height="10" src="/img/1.gif" width="1">
											</td>
										</tr>
									</table>

									<!-- End table: Functional Table 4d (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-b-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-b" valign="top">
									<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-button" nowrap>
												<input type="button" class="btn_a" value="Next" id="">
											</td>
										</tr>
									</table>

									<!-- End Table: Form Control Buttons(Parent:Module Table) -->
								</td>
							</tr>
						</table>

						<!-- End Table: Module Table (Parent:Formatting Table) -->
						<br>

						<!-- Begin Table: Module Table (Parent:Formatting Table) -->

						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
							<tr>
								<td class="pi-mA1-t" valign="top">
									<!-- Begin Table: Module Title (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-txt-title">
												Check Import Compliance
											</td>
										</tr>
									</table>

									<!-- End Table: Module Title (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-t-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c" valign="top">
									<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td>
												<div class="pi-m-pad">
													Ensure that your shipment is in compliance with country-specific regulations, procedures, tariffs and laws. <br>
													<br>
													<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Learn More</a><br>
													<br>
													Ship To Country or Territory:<br>
													<select name="repl_fname" class="modSelMedium2" size="1" id="">
														<option id="">[Profile Country or Territory]</option>
													</select>
													<br>
													Ship From Country or Territory:<br>
													<select name="repl_fname" class="modSelMedium2" size="1" id="">
														<option id="">Select One</option>
													</select>
												</div>
											</td>
										</tr>
									</table>

									<!-- End Table: Functional Table 2 (Parent:Module Table) -->
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-c-b-spc">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA1-b" valign="top">
									<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->

									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td class="pi-m-button" nowrap>
												<input type="button" class="btn_a" value="Next" id="">
											</td>
										</tr>
									</table>

									<!-- End Table: Form Control Buttons(Parent:Module Table) -->
								</td>
							</tr>
						</table>

						<!-- End Table: Module Table (Parent:Formatting Table) -->
						<br>

						<!-- Begin Table: Module Table (Parent:Formatting Table) -->

						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
							<tr>
								<td class="pi-mA4-line" colspan="3" valign="top">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-t" valign="top" width="100%">
									Request Multiple Services
								</td>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-c-t-spc" width="100%">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-line" width="1">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-c" valign="top" width="100%">
									<div class="pi-m-pad">
										Enter shipment information once and request multiple TradeAbility services at one time. <br>
										<br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Learn More</a><br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Request Multiple Services<img alt="" border="0" height="8" src="/img/icn_lock_blue.gif" width="11"></a>
									</div>
								</td>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-c-b-spc" width="100%">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line" colspan="3">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
						</table>

						<!-- End Table: Module Table (Parent:Formatting Table) -->
						<br>

						<!-- Begin Table: Module Table (Parent:Formatting Table) -->

						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
							<tr>
								<td class="pi-mA4-line" colspan="3" valign="top">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-t" valign="top" width="100%">
									More International Tools
								</td>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-c-t-spc" width="100%">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-line" width="1">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-c" valign="top" width="100%">
									<div class="pi-m-pad">
										Find international forms, maintain a list of your products, review global shipping guidelines and procedures, and more. <br>
										<br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Access International Forms</a><br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Enroll in UPS Paperless Invoice<img alt="" border="0" height="8" src="/img/icn_lock_blue.gif" width="11"></a><br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Manage Your Product List<img alt="" border="0" height="8" src="/img/icn_lock_blue.gif" width="11"></a><br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">View Transaction History<img alt="" border="0" height="8" src="/img/icn_lock_blue.gif" width="11"></a><br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Check File Status<img alt="" border="0" height="8" src="/img/icn_lock_blue.gif" width="11"></a><br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Review Country or Territory Regulations</a><br>
										<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href" id="">Lookup Port of Export</a>
									</div>
								</td>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-c-b-spc" width="100%">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
								<td class="pi-mA4-line">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
							<tr>
								<td class="pi-mA4-line" colspan="3">
									<img alt="" border="0" height="1" src="/img/1.gif" width="1">
								</td>
							</tr>
						</table>

						<!-- End Table: Module Table (Parent:Formatting Table) -->
					</td>
				</tr>
			</table>
			<!-- Begin Table: Formatting Table 2col plus 2col -->
		</form>
