@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
    .header {
        span.changed {
            font-family: $serif;
        }
    }

	#usmDate span:not(.RIF_description) {
		width: 100%;
		float: $default-float;
		margin-bottom: 5px;

		&:after {
			@include ups-iconFont("\e007");
			position: relative;
			#{$opposite-direction}: 29px;
			top: 5px;
			z-index: 0;
		}

		img.ui-datepicker-trigger {
			opacity: 0;
			margin-top: 10px;
			position: relative;
			z-index: 10;
			cursor: pointer;
			margin-#{$default-float}: 0px;
		}
	}

}
