<form action="../repl_fname">
    <div class="ups-application_wrapper ups-form_wrap">
        <table width="566" border="0" cellspacing="0" cellpadding="0" class="mod" role="presentation">
            <tr>
                <th> <div class="head-col4">
					<h2><p>Enter Information for Your Ocean Freight</p>
                       <p>Shipment (Less-Than-Container Load)</p></h2>
                        <div style="clear:both;"></div>
                    </div></th>
            </tr>
            <tr>
                <td><div class="introModFixed">
                        <p>Required fields are indicated with *.</p>
                    </div>
                    
                    <!-- Step Module One -->
                    
                    <div id="step-1" class="secLvl step">
                        <div class="secHead clearfix">
                           <div class="stepNumberDiv"> <span class="stepNumber">1</span> </div>
                            <h3>Enter Your Customer Information</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="secBody">
                        
						<div class="stepModContent"> 
                           <h4>Customer Information</h4>
                            <div class="row">
                            	<div class="col-xs-5">
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Account Number</label>
										<div class="ups-text_wrapper ups-input_wrapper">
                                            <input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
                                        </div>
									</div>
								</div>
							</div>
                            <div class="row">
                            	<div class="col-xs-5">
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Company Name <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Title </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Contact Name <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Country or Territory <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                            </select>
                                        </div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Street Address <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
								<div class="col-xs-5 col-offset-1">
									<div class="ups-form_group">
										<label class="ups-form_label" for="">City </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Other Address Information </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Zip Code <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="row">
										<div class="col-xs-7">
											<div class="ups-form_group">
												<label class="ups-form_label" for="">Telphone <span aria-hidden="true" class="ups-required_indicator"></span></label>
												<div class="ups-text_wrapper ups-input_wrapper">
													<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
												</div>
											</div>
										</div>
										<div class="col-xs-5">
											<div class="ups-form_group">
												<label class="ups-form_label" for="">Ext </label>
												<div class="ups-text_wrapper ups-input_wrapper">
													<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
												</div>
											</div>
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Email <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
							</div>
					   		<div class="clear"></div>
						   	<div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div> 
							<div class="row">
                                <!-- Begin Left Column -->
                                <div class="col-xs-5">                                    
                                    <div class="ups-form_group">
										<label class="ups-form_label" for="">Payment Information <span aria-hidden="true" class="ups-required_indicator"></span></label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Bill to Shipper</option>
                                                <option value="">Bill to Consignee</option>
                                                <option value="">Bill to Third Party</option>
                                            </select>
                                        </div>
									</div>
									<fieldset class="ups-form_group">
										<legend class="ups-form_label" for="">Letter of Credit <span aria-hidden="true" class="ups-required_indicator"></span></legend>
										<div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" type="radio" value="repl_fvalue" id="yesRadio" checked>
											<label for="yesRadio" class="ups-radio-custom-label">Yes</label>
										 </div>
										 <div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" value="repl_fvalue" type="radio" id="noRadio">
											<label for="noRadio" class="ups-radio-custom-label">No</label>
										 </div>
									 </fieldset>
									 <fieldset class="ups-form_group">
										<legend class="ups-form_label" for="">Shipper's All Risk Insurance? <span aria-hidden="true" class="ups-required_indicator"></span></legend>
										<div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" type="radio" value="repl_fvalue" id="yesRadio" checked>
											<label for="yesRadio" class="ups-radio-custom-label">Yes</label>
										 </div>
										 <div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" value="repl_fvalue" type="radio" id="noRadio">
											<label for="noRadio" class="ups-radio-custom-label">No</label>
										 </div>
									 </fieldset>
							 	</div>
                                
                                <!-- End Left Column --> 
                                
                                <!-- Begin Right Column -->
                                
                                <div class="col-xs-5 col-xs-offset-1">
                                    <div class="ups-form_group">
										<label class="ups-form_label" for="">Payment Terms <span aria-hidden="true" class="ups-required_indicator"></span></label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">CIF (Cost Insurance Freight)</option>
                                                <option value="">C&F (Cost & Freight)</option>
                                                <option value="">FOB (Freight On Board)</option>
                                                <option value="">FAS (Freight Along Ship)</option>
                                                <option value="">PPD (Pre-Paid Deliver)</option>
                                                <option value="">COL (Collect)</option>
                                            </select>
                                        </div>
									</div>
                                    <div class="ups-form_group">
                                        <label class="ups-form_label" for="">Delivery Terms <span aria-hidden="true" class="ups-required_indicator"></span></label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Port to Port</option>
                                                <option value="">Door to Port</option>
                                                <option value="">Port to Door</option>
                                                <option value="">Door to Door</option>
                                            </select>
										</div>
									</div>
								</div>
							</div>
						</div>
                                <div style="clear:both"></div>
                                
                                <!-- End Right Column -->
                                
                                <div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
                                <h4>Consignee / Third Party Information</h4>
                                <div class="row">
                            	<div class="col-xs-5">
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Account Number</label>
										<div class="ups-text_wrapper ups-input_wrapper">
                                            <input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
                                        </div>
									</div>
								</div>
							</div>
                            <div class="row">
                            	<div class="col-xs-5">
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Company Name <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Title </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Contact Name <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Country or Territory <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                            </select>
                                        </div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Street Address <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
								<div class="col-xs-5 col-offset-1">
									<div class="ups-form_group">
										<label class="ups-form_label" for="">City </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Other Address Information </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Zip Code </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="row">
										<div class="col-xs-7">
											<div class="ups-form_group">
												<label class="ups-form_label" for="">Telphpone<span aria-hidden="true" class="ups-required_indicator"></span></label>
												<div class="ups-text_wrapper ups-input_wrapper">
													<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
												</div>
											</div>
										</div>
										<div class="col-xs-5">
											<div class="ups-form_group">
												<label class="ups-form_label" for="">Ext </label>
												<div class="ups-text_wrapper ups-input_wrapper">
													<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
												</div>
											</div>
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Email <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
							</div>
                        </div>                  
                    </div>
                    
                    <!-- End Step Module One --> 
                    
                    <!-- Step Module Two -->
                    <div id="step-2" class="secLvl step">
                        <div class="secHead clearfix">
                           <div class="stepNumberDiv"> <span class="stepNumber">2</span> </div>
                            <h3>Enter Your Ocean Freight Shipment Information</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="secBody">
                        
						<div class="stepModContent"> 
                            <div class="row">
                            	<div class="col-xs-5">
									<h4>Ship From</h4>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Country or Territory <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                            </select>
                                        </div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">City </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">State <span aria-hidden="true" class="ups-required_indicator"></span></label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                            </select>
                                        </div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Zip Code <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
								<div class="col-xs-5 col-xs-offset-1">
									<h4>Ship To</h4>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Country or Territory <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                                <option value="">Select One</option>
                                            </select>
                                        </div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">City </label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">State <span aria-hidden="true" class="ups-required_indicator"></span></label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Bill to Shipper</option>
                                                <option value="">Bill to Consignee</option>
                                                <option value="">Bill to Third Party</option>
                                            </select>
                                        </div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Zip Code <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
							</div>
					   		<div style="clear:both"></div>
						   	<div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div> 
							<div class="row">
                                <!-- Begin Left Column -->
                                <div class="col-xs-5">                                    
                                    <div class="ups-form_group">
										<label class="ups-form_label" for="">Payment Information <span aria-hidden="true" class="ups-required_indicator"></span></label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Bill to Shipper</option>
                                                <option value="">Bill to Consignee</option>
                                                <option value="">Bill to Third Party</option>
                                            </select>
                                        </div>
									</div>
									<fieldset class="ups-form_group">
										<legend class="ups-form_label" for="">Letter of Credit <span aria-hidden="true" class="ups-required_indicator"></span></legend>
										<div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" type="radio" value="repl_fvalue" id="yesRadio" checked>
											<label for="yesRadio" class="ups-radio-custom-label">Yes</label>
										 </div>
										 <div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" value="repl_fvalue" type="radio" id="noRadio">
											<label for="noRadio" class="ups-radio-custom-label">No</label>
										 </div>
									 </fieldset>
									 <fieldset class="ups-form_group">
										<legend class="ups-form_label" for="">Shipper's All Risk Insurance? <span aria-hidden="true" class="ups-required_indicator"></span></legend>
										<div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" type="radio" value="repl_fvalue" id="yesRadio" checked>
											<label for="yesRadio" class="ups-radio-custom-label">Yes</label>
										 </div>
										 <div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" value="repl_fvalue" type="radio" id="noRadio">
											<label for="noRadio" class="ups-radio-custom-label">No</label>
										 </div>
									 </fieldset>
							 	</div>
                                
                                <!-- End Left Column --> 
                                
                                <!-- Begin Right Column -->
                                
                                <div class="col-xs-5 col-xs-offset-1">
                                    <div class="ups-form_group">
										<label class="ups-form_label" for="">Payment Terms <span aria-hidden="true" class="ups-required_indicator"></span></label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">CIF (Cost Insurance Freight)</option>
                                                <option value="">C&F (Cost & Freight)</option>
                                                <option value="">FOB (Freight On Board)</option>
                                                <option value="">FAS (Freight Along Ship)</option>
                                                <option value="">PPD (Pre-Paid Deliver)</option>
                                                <option value="">COL (Collect)</option>
                                            </select>
                                        </div>
									</div>
                                    <div class="ups-form_group">
                                        <label class="ups-form_label" for="">Delivery Terms <span aria-hidden="true" class="ups-required_indicator"></span></label>
                                        <div class="ups-dropdown_wrapper ups-input_wrapper">
                                            <select class="ups-dropdown" name="repl_name" size="1" id="">
                                                <option value="">Select One</option>
                                                <option value="">Port to Port</option>
                                                <option value="">Door to Port</option>
                                                <option value="">Port to Door</option>
                                                <option value="">Door to Door</option>
                                            </select>
										</div>
									</div>
								</div>
							</div>
						</div>                                
                                <!-- End Right Column -->
                                </div>
                            </div>
                    <!-- End Step Module Two -->
                    
                    <!-- Step Module Three -->
                    <div id="step-3" class="secLvl step">
                        <div class="secHead clearfix">
                           <div class="stepNumberDiv"> <span class="stepNumber">3</span> </div>
                            <h3>Shipment Information</h3>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="secBody">
                        
						<div class="stepModContent"> 
                            <div class="row">
                            	<div class="col-xs-5">
									<h4>Ship From</h4>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Commodity <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
                                            <input class="ups-form_input" name="repl_name" type="text" id="" value="" size=""> 
                                        </div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Declared Value <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<fieldset class="ups-form_group">
										<legend class="ups-form_label" for="">Hazardous Cargo? <span aria-hidden="true" class="ups-required_indicator"></span></legend>
										<div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" type="radio" value="repl_fvalue" id="yesRadio" checked>
											<label for="yesRadio" class="ups-radio-custom-label">Yes</label>
										 </div>
										 <div class="ups-buttonList_wrapper ups-input_wrapper">
											<input class="ups-radio-custom" name="repl_fname" value="repl_fvalue" type="radio" id="noRadio">
											<label for="noRadio" class="ups-radio-custom-label">No</label>
										 </div>
									 </fieldset>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Zip Code <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
								<div class="col-xs-7">
									<h4>Ship To</h4>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Expected shipments per month <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
                                            <input class="ups-form_input" name="repl_name" type="text" id="" value="" size=""> 
                                        </div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">Schedule B Number <span aria-hidden="true" class="ups-required_indicator"></span></label>
										<div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
							</div>
							<h4>If Hazardous, then complete the following </h4> 
							<div class="row">
                                <!-- Begin Left Column -->
                                <div class="col-xs-5">                                    
                                    <div class="ups-form_group">
										<label class="ups-form_label" for="">UN Number </label>
                                        <div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
									<div class="ups-form_group">
										<label class="ups-form_label" for="">IMDG Page Number </label>
                                        <div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
							 	</div>
                                
                                <!-- End Left Column --> 
                                
                                <!-- Begin Right Column -->
                                
                                <div class="col-xs-5 col-xs-offset-1">
                                    <div class="ups-form_group">
										<label class="ups-form_label" for="">Class Number </label>
                                        <div class="ups-text_wrapper ups-input_wrapper">
											<input class="ups-form_input" name="repl_name" type="text" id="" value="" size="">
										</div>
									</div>
								</div>
							</div>
						</div>                                
                                <!-- End Right Column -->
                                </div>
                            </div>
                    
                    <!-- End Step Module Three -->
                    
                    <!-- Step Module Four -->
                    
                    <div id="step-4" class="secLvl step">
                        <div class="secHead clearfix">
                           <div class="stepNumberDiv"> <span class="stepNumber">4</span> </div>
                            <h3>Freight Information</h3>
                            <div style="clear:both;"></div>
						</div>
                        <div class="secBody">
							<div class="stepModContent">
								<div class="row">
									<div class="col-xs-5">
										<div class="ups-form_group">
											<label class="ups-form_label" for="">Container Size <span aria-hidden="true" class="ups-required_indicator"></span></label>
											<div class="ups-dropdown_wrapper ups-input_wrapper">
												<select class="ups-dropdown" name="repl_name" size="1" id="">
													<option value="">Select One</option>
													<option value="">20' Standard</option>
													<option value="">40' Standard</option>
													<option value="">40' High Cube</option>
													<option value="">45' </option>
													<option value="">20' Refigerated</option>
													<option value="">40' Refrigated Standard</option>
													<option value="">40' Refrigated High Cube</option>
												</select>
											</div>
										</div>
										<div class="ups-form_group">
											<label class="ups-form_label" for="">Message / Special handling Instructions</label>
											<div class="ups-text_wrapper ups-input_wrapper">
												<input class="ups-form_input" name="repl_name" type="text" id="" size="">
											</div>
										</div>
									</div>

									<div class="col-xs-7">
									   <div class="ups-form_group ups-no_label">
										   <label class="ups-form_label">Special Equipment Requirements</label>
											<div class="ups-dropdown_wrapper ups-input_wrapper">
												<select class="ups-dropdown" name="repl_name" size="1" id="">
													<option value="">None</option>
													<option value="">20' Upgraded</option>
													<option value="">20' Flat Rack</option>
													<option value="">40' Flat Rack</option>
													<option value="">20' Open Top</option>
													<option value="">20' Open Top</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                    
                    <!-- End Step Module Four --></td>
            </tr>
        </table>
        	<div class="btn-col4 ups-form_ctaGroup">
				<button name="repl_name" type="button" value="" class="ups-cta ups-cta_primary">Submit</button>
				<button name="repl_name" type="button" value="" class="ups-cta ups-cta_secondary">Cancel</button>
           </div>
    </div>
</form>