@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";

#main {
	.RIF_Address input, .RIF_Address select {
		width: 100% !important;
	}

}

#ModalForm #modal.marginBegin{
	width:auto!important;
}

.ui-dialog-content.ui-widget-content #main {
	padding: 0 !important;
}
