<section class="ups-search_support">
    <div class="ups-search_results active">
        <div class="ups-wrap_inner">
            <div class="results-footer clearfix">
                <div class="footer-container">
                    <button class="first">First</button>
                    <button class="prev">&lt; Previous</button>
                    <div class="pagination-container">
                        <button class="pag">1</button>
                        <button class="pag active">2</button>
                        <button class="pag" data-prev-selected="true">3</button>
                        <button class="pag">4</button>
                        <button class="pag">5</button>
                        <button class="pag">6</button>
                        <button class="pag">7</button>
                        <button class="pag">8</button>
                        <button class="pag">9</button>
                        <button class="pag">10</button>
                        <button class="pag ups-inactive">11</button>
                        <button class="pag ups-inactive">12</button>
                        <button class="pag ups-inactive">13</button>
                        <button class="pag ups-inactive">14</button>
                        <button class="pag ups-inactive">15</button>
                    </div>
                    <button class="next">Next &gt;</button>
                    <button class="last">Last</button>
                </div>
            </div>
        </div>
    </div>
</section>
