---
title: ct1_shi_itl_int(4pro)_wai
layout: legacy.hbs
version: v4
appID: com.ups.taApp
appCSS: ups.legacy_overrideTAWebApp
dir: ltr
lang: en
---

		<!-- /main begin -->
		<div id="main">
			{{>"ct1_shi_itl_int(4pro)_wai_partial"}}
		</div>
		<!-- /main end -->
