<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">View Transaction History</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Review Download List</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td colspan="3">
				The transactions you selected for download are listed below. To add more, select <span class="pi-h4">Add More Transactions</span>. To reduce the list, select one or more transactions, then select <span class="pi-h4">Remove Transactions</span>. To download the current list, select <span class="pi-h4">Next</span>.
				<br><br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td colspan="3">
				<span class="pi-h4">Displaying x-x of n</span><br>
				<!-- <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br> -->
				<input alt="First" border="0" height="11" name="page_first" src="/img/en/btn_lnk_first.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Previous" border="0" height="11" name="page_previous" src="/img/en/btn_lnk_previous.gif" type="image" 	width="38" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Previous 10" border="0" height="11" 	name="page_previous_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="1" border="0" height="11" name="page_1" src="/img/btn_lnk_1.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="2" border="0" height="11" name="page_2" src="/img/btn_lnk_2.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="3" border="0" height="11" name="page_3" src="/img/btn_lnk_3.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="4" border="0" height="11" name="page_4" 	src="/img/btn_lnk_4.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="5" border="0" 	height="11" name="page_5" src="/img/btn_lnk_5.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input 	alt="6" border="0" height="11" name="page_6" src="/img/btn_lnk_6.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="7" border="0" height="11" name="page_7" src="/img/btn_lnk_7.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="8" border="0" height="11" name="page_8" src="/img/btn_lnk_8.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="9" border="0" height="11" name="page_9" 	src="/img/btn_lnk_9.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="10" border="0" 	height="11" name="page_10" src="/img/btn_lnk_1.gif" type="image" width="7" /><input alt="10" border="0" height="11" name="page_10" src="/img/btn_lnk_0.gif" 	type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next 10" border="0" height="11" 	name="page_next_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="Next" border="0" height="11" name="page_next" src="/img/en/btn_lnk_next.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Last" border="0" height="11" name="page_last" src="/img/en/btn_lnk_last.gif" type="image" width="22" /><br>
				<br>
				</td>
			</tr>
			<tr>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top">
				<a href="repl_href"><img align="bottom" alt="Add More Transactions" border="0" height="14" src="/img/en/btn_lnk_add_more_trans.gif" width="142"></a>&nbsp;&nbsp;<a href="repl_href"><img align="bottom" alt="Remove Transactions" border="0" height="14" src="/img/en/btn_lnk_remove_trans.gif" width="135"></a>
				<br>
				<input alt="Select All" border="0" height="14" name="select_all" src="/img/en/btn_lnk_select_all_mini.gif" type="image" width="64" />&nbsp;&nbsp;<input alt="Clear All" border="0" height="14" name="clear_all" src="/img/en/btn_lnk_clear_all_mini.gif" type="image" width="60" />
				<br><br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td align="right">Display per Page:<br>
				<select name="repl_fname" class="modSelSmall" size="1">
					<option>25</option>
				</select>
				<br><br>
				</td>
			</tr>
			</table>

			</td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin Table: Inner Content (Parent:Functional Table 5) -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<thead>
			<tr class="pi-r1-t">
				<td class="pi-r1-pad">&nbsp;</td>
				<td class="pi-r1-pad" colspan="2"><a href="repl_href">Service Name</a><img alt="" height="10" src="/img/xln_arrow_black_down.gif" width="10"><br><a href="repl_href">Date/Time</a></td>
				<td class="pi-r1-line" colspan="2">Party Name/Country or Territory Screened<br><div align="center">- or -</div>Ship To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ship From</td>
				<td class="pi-r1-line"><a href="repl_href">Reference 1</a><br>Reference 2<br>Reference 3</td>
			</tr>
			</thead>
			<tbody>
			<tr class="pi-r1-rwo">
				<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
				<td class="pi-r1-pad">n.</td>
				<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
				<td class="pi-r1-pad">[country or territory]</td>
				<td class="pi-r1-pad">[country or territory]</td>
				<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
			</tr>
			<tr class="pi-r1-rwe">
				<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
				<td class="pi-r1-pad">n.</td>
				<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
				<td class="pi-r1-pad">[country or territory]</td>
				<td class="pi-r1-pad">[country or territory]</td>
				<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
			</tr>
			<tr class="pi-r1-rwo">
				<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
				<td class="pi-r1-pad">n.</td>
				<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
				<td class="pi-r1-pad">[country or territory]</td>
				<td class="pi-r1-pad">[country or territory]</td>
				<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
			</tr>
			<tr class="pi-r1-rwe">
				<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
				<td class="pi-r1-pad">n.</td>
				<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
				<td class="pi-r1-pad">[country or territory]</td>
				<td class="pi-r1-pad">&nbsp;</td>
				<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
			</tr>
			<tr class="pi-r1-rwo">
				<td class="pi-r1-pad"><input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue"></td>
				<td class="pi-r1-pad">n.</td>
				<td class="pi-r1-pad"><a href="repl_href">[service name]</a><br><a href="repl_href">[date/time]</a></td>
				<td class="pi-r1-pad" colspan="2">[company/contact name]</td>
				<td class="pi-r1-pad">[reference 1]<br>[reference 2]<br>[reference 3]</td>
			</tr>
			</tbody>
			</table>
			<!-- End Table: Inner Content (Parent:Functional Table 5) -->

			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<input alt="Select All" border="0" height="14" name="select_all" src="/img/en/btn_lnk_select_all_mini.gif" type="image" width="64" />&nbsp;&nbsp;<input alt="Clear All" border="0" height="14" name="clear_all" src="/img/en/btn_lnk_clear_all_mini.gif" type="image" width="60" />
			<br>
			<a href="repl_href"><img align="bottom" alt="Add More Transactions" border="0" height="14" src="/img/en/btn_lnk_add_more_trans.gif" width="142"></a>&nbsp;&nbsp;<a href="repl_href"><img align="bottom" alt="Remove Transactions" border="0" height="14" src="/img/en/btn_lnk_remove_trans.gif" width="135"></a>
			<br><br>
			<span class="pi-h4">Displaying x-x of n</span><br>
			<!-- <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br> -->
			<input alt="First" border="0" height="11" name="page_first" src="/img/en/btn_lnk_first.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Previous" border="0" height="11" name="page_previous" src="/img/en/btn_lnk_previous.gif" type="image" 	width="38" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Previous 10" border="0" height="11" 	name="page_previous_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="1" border="0" height="11" name="page_1" src="/img/btn_lnk_1.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="2" border="0" height="11" name="page_2" src="/img/btn_lnk_2.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="3" border="0" height="11" name="page_3" src="/img/btn_lnk_3.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="4" border="0" height="11" name="page_4" 	src="/img/btn_lnk_4.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="5" border="0" 	height="11" name="page_5" src="/img/btn_lnk_5.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input 	alt="6" border="0" height="11" name="page_6" src="/img/btn_lnk_6.gif" type="image" width="7" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="7" border="0" height="11" name="page_7" src="/img/btn_lnk_7.gif" type="image" width="7" /><img alt="" 	border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="8" border="0" height="11" name="page_8" src="/img/btn_lnk_8.gif" type="image" 	width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="9" border="0" height="11" name="page_9" 	src="/img/btn_lnk_9.gif" type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="10" border="0" 	height="11" name="page_10" src="/img/btn_lnk_1.gif" type="image" width="7" /><input alt="10" border="0" height="11" name="page_10" src="/img/btn_lnk_0.gif" 	type="image" width="7" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input alt="Next 10" border="0" height="11" 	name="page_next_10" src="/img/btn_lnk_ellipses.gif" type="image" width="11" /><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" 	width="11"><input alt="Next" border="0" height="11" name="page_next" src="/img/en/btn_lnk_next.gif" type="image" width="22" /><img alt="" border="0" height="10" 	src="/img/xln_vertical_line.gif" width="11"><input alt="Last" border="0" height="11" name="page_last" src="/img/en/btn_lnk_last.gif" type="image" width="22" /><br><br>
		</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Cancel" border="0" height="18" name="repl_fname" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Next" border="0" height="18" name="repl_fname" src="/img/en/btn_next_a.gif" type="image" width="51"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
