---
title: ct1_shi_cwt(1rat)
layout: legacy.hbs
version: v4
appID: com.ups.cwt
appCSS: ups.legacy_overrideCRT
dynpnls: yes
dir: rtl
lang: en
--- 
<!-- /contentArea --> 
<!-- /contentArea --> 
<!-- /contentArea --> 
<!-- /contentArea --> 
<!-- /contentArea --> 
<!-- /contentArea --> 

<!-- /applicationArea -->
<div id="main">
	
	{{> "ct1_shi_cwt(1rat)_dlg_shipdetails_partial" }}
	<!-- /contentArea --> 
</div>
<!-- /applicationArea --> 

<!-- /contentArea --> 
<!-- /contentArea --> 
<!-- /contentArea --> 
<!-- /contentArea --> 
<!-- /contentArea --> 
<!-- /contentArea --> 

<script type="text/javascript">


		
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:510});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});

</script> 
