<!-- Begin Section Module -->

<div class="secLvl step"> 
  <!-- ************************************** --> 
  <!-- REDESIGN EDIT: Start part of re-design --> 
  <!-- ************************************** -->
  <div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
    <h3>Destination Options</h3>
  </div>
  <div class="secBody clearfix">
  	<div class="row">
      <div class="col-xs-6">
      	<div class="ups-form_group ups-form_required">
          <label for="deliveryPreference" class="ups-form_label"> <a href="repl_href" class="btnlnkR helpIconR">Delivery Preference</a> <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span> </label>
          <div class="ups-dropdown_wrapper ups-input_wrapper">
            <select name="deliveryPreference" class="ups-dropdown" id="deliveryPreference">
              <option value="1"> UPS will Deliver </option>
            </select>
          </div>
        </div>
      </div>
  	</div>
    <p><strong>Ultimate Destination Address Information</strong></p>
    <div class="row">
    <div class="col-xs-4">
    	<div class="ups-form_group">
          <label for="countrySB" class="ups-form_label">Country or Territory<span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span> </label>
          <div class="ups-dropdown_wrapper ups-input_wrapper">
            <select name="countrySB" class="ups-dropdown" id="countrySB">
              <option value="1"> United States </option>
            </select>
          </div>
        </div>
    </div>
    </div>
  </div>
   <!-- ************************************** --> 
  <!-- REDESIGN EDIT: End part of re-design --> 
  <!-- ************************************** -->
  
  
  
  
  <!-- ------------------------- -->
  <!-- Old Legacy Implementation -->
  <!-- ------------------------- -->
  
  <!-- Begin Header Bar --> 
  <!-- BEGIN 2.3.1 Notifications - Hidden -->
  <!--<div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
    <h3>notifications section header</h3>
    <ul>
      <li>
        <input name="" type="button" class="btnlnkL" value="show pickup notifications">
      </li>
    </ul>
  </div>-->
  <!-- END 3.3.2 No Labels - Default - I will Pay ... checkbox IS NOT selected --> 
  <!-- END 2.3.1 Notifications - Hidden --> 
  <!-- END 6.3.2 No Labels - Default - I will Pay ... checkbox IS NOT selected --> 
  
  <!-- BEGIN 2.3.2 Notifications - Displayed -->
  <!--<div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
    <h3>notifications section header</h3>
    <ul>
      <li>
        <input name="" type="button" class="btnlnkL" value="hide">
      </li>
    </ul>
  </div>-->
  <!-- END 2.3.2 Notifications - Displayed --> 
  
  <!-- BEGIN 7.3.1 Notifications - Hidden -->
 <!-- <div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">6</span></div>
    <h3>notifications section header</h3>
    <ul>
      <li>
        <input name="" type="button" class="btnlnkL" value="show pickup notifications">
      </li>
    </ul>
  </div>-->
  <!-- END 7.3.1 Notifications - Hidden --> 
  
  <!-- BEGIN 7.3.2 Notifications - Displayed -->
 <!-- <div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">6</span></div>
    <h3>notifications section header</h3>
    <ul>
      <li>
        <input name="" type="button" class="btnlnkL" value="hide">
      </li>
    </ul>
  </div>-->
  <!-- END 7.3.2 Notifications - Displayed --> 
  
  <!-- BEGIN 3.3.1 No Labels - I will Pay ... checkbox IS selected --> 
  <!-- BEGIN 6.3.1 No Labels - I will Pay ... checkbox IS selected --> 
  <!-- BEGIN 3.4.1 Notifications - Hidden --> 
  <!-- BEGIN 6.4.1 Notifications - Hidden -->
 <!-- <div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
    <h3>pickup notifications section header</h3>
    <ul>
      <li>
        <input name="" type="button" class="btnlnkL" value="show pickup notifications">
      </li>
    </ul>
  </div>-->
  <!-- END 6.4.1 Notifications - Hidden --> 
  <!-- END 3.4.1 Notifications - Hidden --> 
  <!-- END 6.3.1 No Labels - I will Pay ... checkbox IS selected --> 
  <!-- END 3.3.1 No Labels - I will Pay ... checkbox IS selected --> 
  
  <!-- BEGIN 3.4.2 Notifications - Displayed --> 
  <!-- BEGIN 6.4.2 Notifications - Displayed --> 
  <!-- BEGIN 7.3.2 Notifications - Displayed -->
  <!--<div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
    <h3>pickup notifications section header</h3>
    <ul>
      <li>
        <input name="" type="button" class="btnlnkL" value="hide">
      </li>
    </ul>
  </div>-->
  <!-- End Header Bar --> 
  
  <!-- Begin Section Body -->
 <!-- <div class="secBody clearfix">
    <h4>pickup request sub header</h4>
    <fieldset>
      <p>enter a mobile paragraph text.</p>
      <dl role="presentation" class="flexFirst">
        <dt>
          <label for="">mobile number label:</label>
        </dt>
        <dd>
          <input name="repl_name" type="text" size="15" id="">
        </dd>
      </dl>
      <dl role="presentation" class="flexAfter">
        <dt>
          <label for="">mobile provider label:</label>
        </dt>
        <dd>
          <select name="repl_name" id="">
            <option value="" selected>provider list</option>
          </select>
        </dd>
      </dl>
    </fieldset>
    <hr class="hr">
    <fieldset>
      <p>enter up to e-mail addresses five paragraph text.</p>
      <dl role="presentation" >
        <dt>
          <label for="">email addresses label:</label>
        </dt>
        <dd>
          <input name="repl_name" type="text" size="" id="">
        </dd>
        <dd>
          <input name="repl_name" type="text" size="" id="">
        </dd>
        <dd>
          <input name="repl_name" type="text" size="" id="">
        </dd>
        <dd>
          <input name="repl_name" type="text" size="" id="">
        </dd>
        <dd>
          <input name="repl_name" type="text" size="" id="">
        </dd>
      </dl>
      <dl role="presentation" >
        <dt>
          <label for="">personalized message label.&#42</label>
        </dt>
        <dd>
          <textarea name="" cols="32" rows="3" class="full"></textarea>
        </dd>
      </dl>
      <dl role="presentation" >
        <dt>
          <label for="">Your E-mail Address:</label>
        </dt>
        <dd>
          <input name="repl_name" type="text" size="" id="" value="{profile e-mail address}">
          <div class="reqTxtInst">UPS will notify your if there is a problem sending any of the e-mail notifications you requested for this pickup request.</div>
        </dd>
      </dl>
    </fieldset>
  </div>-->
  <!-- END 7.3.2 Notifications - Displayed --> 
  <!-- END 6.4.2 Notifications - Displayed --> 
  <!-- END 3.4.2 Notifications - Displayed --> 
  <!-- End Section Body --> 
  
  <!-- Begin Section Footer --><!-- End Section Footer --> 
  
</div>
<!-- End Section Module --> 