<!-- Begin Section Module -->

<div class="secLvl step"> 
  <!-- ************************************** --> 
  <!-- REDESIGN EDIT: Start part of re-design --> 
  <!-- ************************************** --> 
  <!-- Begin Header Bar -->
  <div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
    <h3>Pickup Notifications</h3>
    <div class="pull-right ups-secHeadBtn">
      <button type="button" id="showPickupNotificationsBtn" class="ups-cta ups-cta_secondary ups-link ups-btn_has_icon"><span class="icon ups-icon-wedgedown"></span>Show Pickup Notifcations</button>
      <button type="button" id="hidePickupNotificationsBtn" class="ups-cta ups-cta_secondary ups-link ups-btn_has_icon"><span class="icon ups-icon-wedgeup"></span>Hide</button>
    </div>
  </div>
  <!-- End Header Bar --> 
  
  <!-- Begin Section Body -->
  <div class="secBody clearfix" id="showPickupNotificationsDisplayed">
    <p><strong>Pickup Request Confirmations</strong></p>
    <div class="ups-app_actions_container">
      <p>Enter a mobile device number to receive SMS confirmation of this Pickup Request.</p>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="ups-form_group">
          <label for="mobileDeviceNum" class="ups-form_label"> Mobile Device Number </label>
          <div class="ups-dropdown_wrapper ups-input_wrapper">
            <select name="mobileDeviceNum" class="ups-dropdown" id="mobileDeviceNum">
              <option value="1"> Add New Entry </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="ups-group">
          <p class="ups-group_label"><strong>Language Format</strong></p>
          <p class="ups-group_value">[Country or Territory] - [Language]</p>
        </div>
      </div>
    </div>
    <p>Enter up to five e-mail addresses to receive e-mail confirmation of this Pickup Request.</p>
    <div class="row">
      <div class="col-xs-5">
        <div class="ups-form_group">
          <label for="emailNum1" class="ups-form_label">E-mail Addresses</label>
          <div class=" ups-text_wrapper ups-input_wrapper ">
            <input type="text" name="repl_name" class="ups-form_input" id="traceNum1">
          </div>
        </div>
        <div class="ups-form_group">
          <label for="emailNum2" class="ups-form_label ups-readerTxt ">Enter Email Number 2</label>
          <div class=" ups-text_wrapper ups-input_wrapper ">
            <input type="text" name="repl_name" class="ups-form_input" id="emailNum2">
          </div>
        </div>
        <div class="ups-form_group">
          <label for="emailNum3" class="ups-form_label ups-readerTxt">Enter Email Number 3</label>
          <div class=" ups-text_wrapper ups-input_wrapper ">
            <input type="text" name="repl_name" class="ups-form_input" id="emailNum3">
          </div>
        </div>
        <div class="ups-form_group">
          <label for="emailNum4" class="ups-form_label ups-readerTxt">Enter Email Number 4</label>
          <div class=" ups-text_wrapper ups-input_wrapper ">
            <input type="text" name="repl_name" class="ups-form_input" id="emailNum4">
          </div>
        </div>
        <div class="ups-form_group">
          <label for="emailNum5" class="ups-form_label ups-readerTxt ">Enter Email Number 5</label>
          <div class=" ups-text_wrapper ups-input_wrapper ">
            <input type="text" name="repl_name" class="ups-form_input" id="emailNum5">
          </div>
        </div>
      </div>
    </div>
    <div class="ups-form_group">
      <label for="emailConfirmation" class="ups-form_label">Enter a personalized message to be included in your e-mail confirmation <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
      <div class="ups-textArea_wrapper ups-input_wrapper">
        <textarea class="ups-textArea" id="emailConfirmation" rows="4" maxlength="500" name="emailConfirmation"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <div class="ups-form_group">
          <label for="yourEmailAddress" class="ups-form_label">Your E-mail Address </label>
          <div class=" ups-text_wrapper ups-input_wrapper ">
            <input type="text" name="yourEmailAddress" class="ups-form_input" id="yourEmailAddress">
          </div>
        </div>
      </div>
    </div>
    <p>UPS will notify you if there is a problem sending any of the e-mail notifications you requested for this pickup request.</p>
  </div>
  <!-- End Section Body --> 
  <!-- ************************************** --> 
  <!-- REDESIGN EDIT: End part of re-design --> 
  <!-- ************************************** --> 
  
  
  <!-- Begin Header Bar --> 
  <!--<div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
    <h3>destination options header</h3>
  </div>--> 
  <!-- End Header Bar --> 
  
  <!-- Begin Section Body --> 
  <!-- <div class="secBody clearfix">
    <dl role="presentation" >
      <dt>
        <label for="repl_id01"><a href="" class="btnlnkR helpIconR">delivery preference label:</a></label>
      </dt>
      <dd>
        <select id="repl_id01">
          <option selected="" value="">ups will deliver</option>
          <option value="">hold for customer pickup at ups location</option>
        </select>
        <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
    </dl>
    <div class="clear"></div>
    <h4>Ultimate Destination Address Information</h4>
    <dl role="presentation" >
      <dt>
        <label for="repl_id03">Country or Territory:</label>
      </dt>
      <dd>
        <select id="repl_id03">
          <option selected="" value="">United States</option>
        </select>
        <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
    </dl>
  </div>--> 
  <!-- End Section Body --> 
  
  <!-- Begin Header Bar --> 
  <!--<div class="secHead clearfix">
    <div class="stepNumberDiv"><span class="stepNumber">5</span></div>
    <h3>destination options header</h3>
  </div>--> 
  <!-- End Header Bar --> 
  
  <!-- Begin Section Body --> 
  <!-- <div class="secBody clearfix">
    <dl role="presentation" >
      <dt>
        <label for="repl_id01"><a href="" class="btnlnkR helpIconR">delivery preference label:</a></label>
      </dt>
      <dd>
        <select id="repl_id01">
          <option value="" selected="">ups will deliver</option>
          <option value="">hold for customer pickup at ups location</option>
        </select>
        <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
    </dl>
    <div class="subcol9 marginBegin clearfix">
      <p><strong>Enter Ultimate Destination Address</strong></p>
      <dl role="presentation" >
        <dt>
          <label for="repl_id02">Country or Territory:</label>
        </dt>
        <dd>
          <select id="repl_id02">
            <option value="" selected="">United States</option>
          </select>
          <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>--> 
  <!--<dt><label for="repl_id03">City:</label></dt>
                                    <dd><input type="text" id="repl_id03"><img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
                                    <dt><label for="repl_id04">State:</label></dt>
                                    <dd><select id="repl_id04">
                                            <option value="" selected="">Select One</option></select><img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>--> 
  <!-- <dt>
          <label for="repl_id05">ZIP Code:</label>
        </dt>
        <dd>
          <input type="text" id="repl_id05">
          <img class="requiredIcon" width="12" height="11" border="0" src="/img/1.gif" alt="repl_alt"></dd>
        <input type="button" value="Find Location" class="btnArw">
      </dl>
    </div>
    <div class="subcol9 marginEnd clearfix">
      <p><span class="label">Shipment will be held for pick up at this UPS Location:</span></p>--> 
  
  <!-- //////////////////////////////////////////////// --> 
  <!-- Begin Pickup - Drop-off Module - Drop-off (7306) --> 
  <!-- <dl role="presentation" >
        <dt>
          <label for="repl_id">[location/facility name]</label>
        </dt>
        <dd>[address 1]</dd>
        <dd>[city], [other], [state] [zip/postal code]</dd>
        <dd>[country or Territory]</dd>
        <dd>Telephone: [number]</dd>
        <dd>Fax: [number]</dd>
      </dl>
      <p><a class="btnlnkR newWindowIconR" href="repl_href">Last 50 feet directions</a></p>
      <dl role="presentation" >
        <dt>
          <label for="repl_id">Hours of Operation:</label>
        </dt>
        <dd>[weekday] hh:mm AM to hh:mm PM</dd>
        <dd>[weekday] hh:mm AM to hh:mm PM</dd>
        <dd>[weekday] hh:mm AM to hh:mm PM</dd>
        <dd>...</dd>
        <dd>[Sunday] [Closed]</dd>
      </dl>--> 
  <!-- End Pickup - Drop-off Module - Drop-off (7306) --> 
  <!-- ////////////////////////////////////////////// --> 
  
  <!-- <div class="secLvl message clearfix">
        <fieldset>
          <div class="secBody">
            <p class="criticalMessage">No UPS Facility results were found.</p>
            <p>Please contact UPS Customer Service at 1-800-782-7892 for assistance with this UPS Worldwide Express Freight shipment.</p>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="clear"></div>--> 
  <!-- End Section Body --> 
</div>
<!-- End Section Module --> 