	<div class="secLvl step"> 
		
		<!-- Begin Header Bar -->
		<div class="secHead clearfix">
			<div class="stepNumberDiv"><span class="stepNumber">2</span></div>
			<h3>Pickup Address Information</h3>
		</div>
		<div class="secBody clearfix">
			<div class="ups-group ups-group_condensed">
			<p class="ups-group_label">Pickup Address</p>
				<p>{Company or Name}</p>
					<address>
					{Address Line 1}<br>
					{City}, {State} {ZIP Code}<br>
					{Country or Territory}
					</address> 
			</div>
			<!-- ------------------------- -->
			<!-- Old Legacy Implementation -->
			<!-- ------------------------- -->
			
			<!--<p><span class="label">Pickup Address:</span></p>
			<p>{Company or Name}<br>
				{Address Line 1}<br>
				{City}, {State} {ZIP Code}<br>
				{Country or Territory}</p>-->
		</div>
	</div>
