<div class="secLvl step"> 
		<!-- Begin Header Bar -->
		<div class="secHead clearfix">
			<div class="stepNumberDiv"><span class="stepNumber">3</span></div>
			<h3>Pickup Address Information</h3>
		</div>
		<div class="secBody clearfix">
		
		<fieldset class="ups-form_group ups-form_required">
			<legend class="ups-form_label">Pick Up From <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt"> Required</span></legend>
			<div class="ups-buttonList_wrapper ups-input_wrapper">
				<input id="yourSelectedUPSAddress" class="ups-radio-custom" name="pickUpFrom" value="1" type="radio">
				<label for="yourSelectedUPSAddress" class="ups-radio-custom-label">Your selected <a href="repl_href" class="btnlnkR helpIconR">UPS Account's Pickup Address</a></label>
			</div>
			<div class="ups-buttonList_wrapper ups-input_wrapper">
				<input id="aDifferentPickup" class="ups-radio-custom" name="pickUpFrom" value="2" type="radio">
				<label for="aDifferentPickup" class="ups-radio-custom-label">A different pickup address</label>
			</div>
		</fieldset>
			<div class="ups-group ups-group_condensed">
			<p class="ups-group_label">Pickup Address</p>
				<p>{Company or Name}</p>
					<address>
					{Address Line 1}<br>
					{City}, {State} {ZIP Code}<br>
					{Country or Territory}
					</address> 
			</div>
			<p>Email Address: nnnnnnnnnn@nnnn.com</p>
			<div class="row">
				<div class="col-xs-4">
					<div class="ups-form_group">
						<label for="contactName" class="ups-form_label">Contact Name</label>
						<div class=" ups-text_wrapper ups-input_wrapper ">
							<input type="text" name="contactName" class="ups-form_input" id="contactName">
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="ups-form_group ups-form_required">
						<label for="telephone" class="ups-form_label">Telephone <span aria-hidden="true" class="ups-required_indicator"></span><span class="ups-readerTxt">Required</span></label>
						<div class=" ups-text_wrapper ups-input_wrapper ">
							<input type="text" name="telephone" class="ups-form_input" id="telephone">
						</div>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="ups-form_group">
						<label for="ext" class="ups-form_label">Ext</label>
						<div class="ups-text_wrapper ups-input_wrapper ">
							<input type="text" name="ext" class="ups-form_input" id="ext">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="ups-form_group">
						<label for="suiteRoom" class="ups-form_label">Suite/Room</label>
						<div class=" ups-text_wrapper ups-input_wrapper ">
							<input type="text" name="suiteRoom" class="ups-form_input" id="suiteRoom">
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="ups-form_group">
						<label for="floor" class="ups-form_label">Floor</label>
						<div class=" ups-text_wrapper ups-input_wrapper ">
							<input type="text" name="floor" class="ups-form_input" id="floor">
						</div>
					</div>
				</div>
			</div>
			<div class="ups-form_group">
				<div class="ups-checkbox ups-input_wrapper">
					<input id="residentialAddress2" class="ups-checkbox-custom" name="residentialAddress2" type="checkbox">
					<label for="residentialAddress2" value="1" class="ups-checkbox-custom-label">Residential Address</label>
				</div>
			</div>
			<!-- ------------------------- -->
			<!-- Old Legacy Implementation -->
			<!-- ------------------------- -->
			<!--<p><span class="label">Pick Up From: <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"/></span></p>
			<div class="indent">
				<table border="0" cellpadding="0" cellspacing="0" role="presentation">
					<tbody>
						<tr>
							<td class="sel" scope="row"><input name="pickUpChoice" type="radio" value="0" id="pickUpSelected" checked/></td>
							<td><label for="pickUpSelected" class="sel">Your selected <a href="repl_href" class="btnlnkR helpIconR">UPS Account's Pickup Address</a></label></td>
						</tr>
						<tr>
							<td class="sel" scope="row"><input name="pickUpChoice" type="radio" value="1" id="pickUpDiff"/></td>
							<td><label for="pickUpDiff" class="sel">A different pickup address</label></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p><span class="label">Pickup Address:</span></p>
			<div id="pickUpSelectedContainer">
				<p>{Company or Name}<br>
					{Address Line 1}<br>
					{City}, {State} {ZIP Code}<br>
					{Country or Territory}</p>
				<p>E-mail Address: nnnnnnnnnnnn@nnnn.com</p>
				<div class="marginBegin subcol5 clearfix">
					<dl role="presentation">
						<dt>
							<label for="txtbox">Contact Name:</label>
						</dt>
						<dd>
							<input type="text" name="repl_name" id="txtbox" class="formcol5">
						</dd>
					</dl>
				</div>
				<div class="subcol6 clearfix">
					<dl role="presentation">
						<dt>
							<label for="txtbox">Telephone:</label>
						</dt>
						<dd>
							<input type="text" name="repl_name" id="txtbox" class="formcol5">
							<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"/> </dd>
					</dl>
				</div>
				<div class="marginEnd subcol4 clearfix">
					<dl role="presentation">
						<dt>
							<label for="txtbox">Ext:</label>
						</dt>
						<dd>
							<input type="text" name="repl_name" id="txtbox" class="formcol4">
						</dd>
					</dl>
				</div>
				<div class="clear"></div>
				<div class="marginBegin subcol5 clearfix">
					<dl role="presentation">
						<dt>
							<label for="txtbox">Suite/Room:</label>
						</dt>
						<dd>
							<input type="text" name="repl_name" id="txtbox" class="formcol5">
						</dd>
					</dl>
				</div>
				<div class="marginEnd subcol6 clearfix">
					<dl role="presentation">
						<dt>
							<label for="txtbox">Floor:</label>
						</dt>
						<dd>
							<input type="text" name="repl_name" id="txtbox" class="formcol5">
						</dd>
					</dl>
				</div>
				<div class="clear"></div>
			</div>
			<div id="pickUpDiffContainer">
				<dl role="presentation">
					<dt>
						<label for="selectbox">Select from My UPS Address Book:</label>
					</dt>
					<dd>
						<select name="repl_name" id="selectbox" class="formcol5">
							<option value="repl_value" selected>Select One</option>
						</select>
					</dd>
				</dl>
				<div class="subcol9 marginBegin">
					<dl role="presentation" >
						<dt>
							<label for="">Company or Name:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="" id="">
							<img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"> </dd>
						<dt>
							<label for="">Contact Name:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="" id="">
						</dd>
						<dt>
							<label for="">Street Address:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="" id="">
							<img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"> </dd>
						<dt>
							<label for="">Suite/Room:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="15" id="">
						</dd>
						<dt>
							<label for="">Floor:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="15" id="">
						</dd>
					</dl>
				</div>
				<div class="subcol9 marginEnd">
					<dl role="presentation" >
						<dt>
							<label for="">Country or Territory:</label>
						</dt>
						<dd>[United States]</dd>
						<dt>
							<label for="">City:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="" id="">
							<img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"> </dd>
						<dt>
							<label for="">State:</label>
						</dt>
						<dd>
							<select name="repl_name" id="">
								<option value="" selected>select state option</option>
							</select>
							<img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"> </dd>
						<dt>
							<label for="">ZIP Code:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="15" id="">
							<img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"> </dd>
					</dl>
					<dl role="presentation" class="flexFirst">
						<dt>
							<label for="">Telephone:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="15" id="">
							<img alt="repl_alt" border="0" height="11" width="12" src="/img/1.gif" class="requiredIcon"> </dd>
					</dl>
					<dl role="presentation" class="flexAfter">
						<dt>
							<label for="">Ext:</label>
						</dt>
						<dd>
							<input name="repl_name" type="text" size="5" id="">
						</dd>
					</dl>
				</div>
				<div class="clearfix"></div>
			</div>
			<table border="0" cellpadding="0" cellspacing="0" role="presentation">
				<tbody>
					<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
						<td><label for="chxbox1" class="sel">Residential address</label></td>
					</tr>
				</tbody>
			</table>-->
		</div>
	</div>
