---

appId: nbs
dir: rtl
lang: ar
---




<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper">
		<div class="ups-wrap_inner ups-app_nbs">
			<form name="addonsForm">{{> packing_list_partial int_forms }}</form>
		</div>
	</div>
</main>


