<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Access Suspended</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
	 	Your company's access to UPS CampusShip&#0153; has been suspended.<br>
		<br>
		Contact your company administrator for assistance with UPS CampusShip.<br>
		<br>
		<span class="bold">Company Support: (nnn) nnn-nnnn</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail: <a href="repl_href">address@company.com</a>
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- begin note area -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
	</tr>
	</table>
	<!-- end note area -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
