<form action="">
<!-- ECS C-Clamp -->
<div class="ccacmpad1">
   <div id="main">
               <!-- begin Application Container -->
               <!-- begin application content -->

               <!-- begin application header -->
                   <table border="0" cellpadding="0" cellspacing="0" width="566">
                       <tr>
                           <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                       </tr>
                       <tr>
                           <td valign="top">
                               <!-- begin page title -->
                               <span class="blueboldHead">Administration</span>
                               <!-- end page title -->
                           </td>
                       </tr>
                       <tr>
                           <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                       </tr>
                       <tr>
                           <td valign="top">
                               <!-- begin instructional text -->
                               Manage information about your company's authorized UPS CampusShip users.
                               <!-- end instructional text -->
                           </td>
                       </tr>
                       <tr>
                           <td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                       </tr>
                   </table>
               <!-- end application header -->



               <!-- begin profile and preference settings module -->
                   <table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">


                       <tr>
                           <td>
                           <!-- begin module header: administrative tasks -->
                               <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                   <tr>
                                       <td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
                                       <td width="49%">
                                           <!-- begin module title -->
                                           <span class="whiteBoldHead">Administrative Tasks</span>
                                           <!-- end module title -->
                                       </td>
                                       <td width="49%">
                                           <!-- begin module navigation -->
                                           &nbsp;<!-- <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div> -->
                                           <!-- end module navigation -->
                                       </td>
                                       <td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
                                   </tr>
                               </table>
                           <!-- end module header: administrative tasks -->
                           </td>
                       </tr>


                       <tr>
                           <td>
                           <!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
                               <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">

                                   <tr>
                                       <td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
                                   </tr>

                                   <tr>
                                       <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
                                   </tr>

                                   <tr>
                                       <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
                                       <td valign="top" width="48%">

                                       <!-- begin left column content -->

                                       <!-- //////////////////////// -->
                                       <!-- begin manage company -->
                                           <a href="#Manage Company"><strong>Manage Company</strong></a>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Modify Company Profile</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Modify Login Labels</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Modify Company Logo</a>
                                           </div>
                                   <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Manage company custom package types</a>
                                           </div>
                                       <!-- end manage company links -->
                                       <!-- //////////////////////// -->

                                       <br>

                                       <!-- //////////////////////// -->
                                       <!-- begin manage locations -->
                                           <a href="#Manage Locations"><strong>Manage Locations</strong></a>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Search Locations</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Create Location</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Import Locations</a>
                                           </div>
                                           <!-- <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               Import Status
                                           </div> -->
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Export Locations</a>
                                           </div>
                                       <!-- end manage locations links -->
                                       <!-- //////////////////////// -->

                                       <br>

                                       <!-- //////////////////////// -->
                                       <!-- begin manage reference numbers -->
                                           <a href="#Manage Reference Numbers"><strong>Manage Reference Numbers</strong></a>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               Edit Reference Number List Names
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               Search Reference Number Lists
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               Create Reference Numbers
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               Import Reference Numbers
                                           </div>
                                           <!-- <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               Import Status
                                           </div> -->
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               Export Reference Numbers
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Download Scheduled Import Tool</a>
                                           </div>
                                       <!-- end manage reference numbers -->
                                       <!-- //////////////////////// -->

                                       <br>

                                       <!-- //////////////////////// -->
                                       <!-- begin manage shipping privileges -->
                                           <a href="#Manage Shipping Privileges"><strong>Manage Shipping Privileges</strong></a>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Search Shipping Privileges</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Create Shipping Privileges</a>
                                           </div>
                                       <!-- end manage shipping privileges -->
                                       <!-- //////////////////////// -->

                                       <br>

                                       <!-- //////////////////////// -->
                                       <!-- begin manage address groups -->
                                           <a href="#Manage Address Groups"><strong>Manage Address Groups</strong></a>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Search Address Groups</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Create Address Groups</a>
                                           </div>
                                       <!-- end manage address groups -->
                                       <!-- //////////////////////// -->

                                       <!-- end left content column -->

                                       <br>

                                       </td>

                                       <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
                                       <td valign="top" width="48%">

                                       <!-- begin right content column -->

                                       <!-- //////////////////////// -->
                                       <!-- begin manage users -->
                                           <a href="#Manage Users"><strong>Manage Users</strong></a>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Search Users</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Create User</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Delete Users</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Change User Locations</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Import Users</a>
                                           </div>
                                           <!-- <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Import Status</a>
                                           </div> -->
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Export Users</a>
                                           </div>
                                           <div class="modpadbullet">
                                               <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                               <a href="">Invite Users to Join Company</a>
                                           </div>
                                       <!-- end manage users -->
                                       <!-- //////////////////////// -->

                                       <br>

                                       <!-- //////////////////////// -->
                                       <!-- begin import/export files -->
                                       <a href="#Manage Shipping Privileges"><strong>Import/Export Files</strong></a>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Import/Export Status</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Import Corporate Address Book</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Export Corporate Address Book</a>
                                       </div>
                                <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Placeholder API link for 1315</a>
                                       </div>
                                       <!-- end import/export files -->
                                       <!-- //////////////////////// -->

                                       <br>

                                       <!-- //////////////////////// -->
                                       <!-- begin administrative faqs -->
                                       <a href="#Administrative FAQs"><strong>Administrative FAQs</strong></a>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Manage Privileges</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Manage Company</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Manage Reference Numbers</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Manage Users</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Manage Locations</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Using Import Tools</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Optimizing Performance</a>
                                       </div>
                                <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Clinical Trials</a>
                                       </div>
                                       <!-- end administrative faqs -->
                               <!-- //////////////////////// -->

                                       <br>

                                       <!-- //////////////////////// -->
                               <!--Begin Manage Clincal Trials-->
                                       <a href="#Administrative FAQs"><strong>Manage Clinical Trials</strong></a>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Search Clinical Trials</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Create a Clinical Trial</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Assign Investigative Sites</a>
                                       </div>
                                       <div class="modpadbullet">
                                           <img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8">
                                           <a href="">Manage company custom package types</a>
                                       </div>
                               <!--End Manage Clinical Trials-->
                                       <!-- //////////////////////// -->
                               <br/>

                                       <!-- end right content column -->

                                       </td>
                                       <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
                                   </tr>
                               </table>
                           <!-- end module column spacing table -->

                           </td>
                       </tr>
                   </table>
               <!-- end profile and preference settings module -->


               <!-- begin company support -->
                   <table border="0" cellpadding="0" cellspacing="0" width="566">
                   <tr>
                   <td><img alt="" border="0" height="15" src="/img/xln_ffffff.gif" width="1"></td>
                   </tr>

                   <tr>
                   <td align="center">
                   <span class="bold">Company Support: (nnn) nnn-nnnn&nbsp;&nbsp;&nbsp;E-mail: <a href="repl_href">address@company.com</a></span>
                   </td>
                   </tr>

                   <tr>
                   <td><img alt="" border="0" height="20" src="/img/xln_ffffff.gif" width="1"></td>
                   </tr>

                   </table>
               <!-- end company support -->

<!-- end application content -->


   </div>
</div>
<!-- End ECS C-Clamp -->
</form>    
