<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>login</h1>


				<!-- Begin Application Module -->
				<div class="appLvl mod col18 clearfix">
				<fieldset>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>provide user login information</h2>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">

                        <p class="error">&gt;&gt;&gt; { error message. }</p>
						<p>required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required" />.</p>
						<p>to help ups protect your privacy, select an image and provide personal questions and answers. this image will be displayed during login to help protect your login information and keep others from accessing your account. the questions will be displayed when accessing the site from an unknown device or when resetting your password.</p>

                        <!-- Begin Section Module -->
						<div class="secLvl secLvlPlain clearfix">
						<fieldset><legend></legend>

                            <!-- Begin Section Body -->
                            <div class="secBody">

                                <div class="group clearfix">
                                <fieldset><legend></legend>
                                    <dl>
                                        <dt>
                                            <label for="repl_id">security image:</label>
                                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required" />
                                        </dt>
                                        <dd>
                                            <!-- //////// Image /////////// -->
                                            <!--
                                            <img alt="" border="0" height="100" width="100" title="security image" src="/img_fpo/other/fpo_134_134.gif" /><
                                            -->

                                            <!-- //////// NO Image /////////// -->
                                            <div class="securityNoImg"><p class="full">no image selected</p></div> <span class="indent"><a href="" class="btnlnkR arrowIconR">select my image</a></span>
                                        </dd>
                                        <dt><label for="repl_id">your caption:</label></dt>
                                        <dd><input type="text" id="repl_id" name="repl_name" class="formcol7" value="" /> <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required" /></dd>
                                    </dl>
                                </fieldset>
                                </div>

								<fieldset>
								<legend></legend>
								<dl class="flexFirstPad">
									<dt><label for="repl_id8">personal question 1:</label></dt>
									<dd><select name="repl_name" id="repl_id8" class="formcol8">
											<option value="" selected>select one</option>
											<option value="">{1234567890 1234567890}</option>
											</select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>
								<dl class="flexAfter">
									<dt><label for="repl_id14">answer 1:</label></dt>
									<dd><input name="" type="text" id="repl_id14" class="formcol5"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>

								<dl class="flexFirstPad">
									<dt><label for="repl_id9">personal question 2:</label></dt>
									<dd><select name="repl_name" id="repl_id9" class="formcol8">
											<option value="" selected>select one</option>
											<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>
											</select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>
								<dl class="flexAfter">
									<dt><label for="repl_id10">answer 2:</label></dt>
									<dd><input name="" type="text" id="repl_id10" class="formcol5"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>

								<dl class="flexFirstPad">
									<dt><label for="repl_id11">personal question 3:</label></dt>
									<dd><select name="repl_name" id="repl_id11" class="formcol8">
											<option value="" selected>select one</option>
											<option value="">{1234567890 1234567890 1234567890 1234567890 1234567890}</option>
											</select><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>
								<dl class="flexAfter">
									<dt><label for="repl_id12">answer 3:</label></dt>
									<dd><input name="" type="text" id="repl_id12" class="formcol5"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
								</dl>
								</fieldset>

                                <div style="clear:both"></div>

                                <div class="group">
                                <fieldset>
                                    <span class="label">would you like us to <a href="" class="btnLnkR helpIconR">remember this device</a> for you?</span>

                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="sel"><input type="radio" value="yes" id="repl_id" name="repl_name"/> </td>
                                            <td><label for="" class="sel">yes, i use this device frequently, please remember this device. (do not check for shared computers.)</label></td>
                                        </tr>
                                        <tr>
                                        <td class="sel"><input type="radio" value="no" id="repl_id" name="repl_name" /> </td>
                                            <td><label for="" class="sel">no, i do not want you to remember this device.</label></td>
                                        </tr>
                                    </table>
                                </fieldset>
                                </div>

                                <div>
                                <fieldset><legend></legend>

                                    <span class="label">change password (optional)</span>

                                    <p>the password you currently use does not contain the required letters, numbers and special character. please provide a new password.</p>

                                    <dl>
                                        <dt><label for="tt_1">new password:</label></dt>
                                            <dd>
                                                <input type="text" id="tt_1" class="formcol6 hintAnchor" value="" /><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0" />
                                            </dd>
                                        <dt><label for="tt_2">re-enter new password:</label></dt>
                                            <dd>
                                                <input type="text" id="tt_2" class="formcol6 hintAnchor" value="" /><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0" />
                                            </dd>
                                    </dl>

                                </fieldset>
                                </div>

                                <p>{you have x successful logins remaining before you must complete the login and security information.}</p>

								</div>
								<!-- End Section Body -->
						</fieldset>
						</div>
						<!-- End Section Module -->


					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
                        	<div class=" alignBegin seccol12 marginBegin"><input name="" type="button" value="remind me next time" class="btn"></div>
							<input name="" type="submit" value="next" class="btnArw">
						</div>
						<!-- End Button Bar Row -->
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->

		<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
