---
title: ct1_shi_pic(1sch)_sta(3mo2)
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dynpnls: yes
dir: rtl
lang: en
---

<div id="main">
    {{>"ct1_shi_pic(1sch)_sta(3mo2)_partial" ct1_shi_pic1sch_sta3mo2.payment_type_cc }}
</div>
