<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Contact Trade Support</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 3col plus 1col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="422">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">Enter Support Details</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Please provide the information below to submit a Trade Support e-mail. Required fields are shown in <span class="pi-h4">bold</span>. For more immediate help, select <span class="pi-h4">Help</span> in the area at the left and try <span class="pi-h4">FAQ</span> under <span class="pi-h4">Using International Tools</span>.
			<br><br>
			Company or Name:<br>
			<input class="modTxtMedium" maxlength="35" name="CompanyOrName" size="19" type="text" value="[profile value]"><br>
			<span class="pi-h4">Contact Name:</span><br>
			<input class="modTxtMedium" maxlength="35" name="ContactName" size="19" type="text" value="[profile value]"><br>
			Street Address:<br>
			<input class="modTxtMedium" maxlength="35" name="Address1" size="19" type="text" value="[profile value]"><br>
			<input class="modTxtMedium" maxlength="35" name="Address2" size="19" type="text" value="[profile value]"><br>
			<input class="modTxtMedium" maxlength="35" name="Address3" size="19" type="text" value="[profile value]"><br>
			City:<br>
			<input class="modTxtMedium" maxlength="30" name="City" size="19" type="text" value="[profile value]"><br>
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td>
				State/Province: (US/Canada)<br>
				<select class="modSelMedium" name="State/Province" size="1">
					<option selected value="None">[profile value]</option>
				</select></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td>
				Other:<br>
				<input class="modTxtMedium" maxlength="5" name="Other" size="19" type="text" value="">
				</td>
			</tr>
			<tr>
				<td>
				Postal Code:<br>
				<input class="modTxtMedium" maxlength="9" name="PostalCode" size="19" type="text" value="[profile value]"><br>
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td>
				Country or Territory:<br>
				<select class="modSelMedium" name="Country" size="1">
					<option selected>[profile value]</option>
				</select>
				</td>
			</tr>
			<tr>
				<td>
				Telephone:<br>
				<input class="modTxtMedium" maxlength="15" name="Telephone" type="text" size="19" value="[profile value]">
				</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td>
				Ext:<br>
				<input class="modTxtSmall" maxlength="5" name="TelephoneExtension" type="text" size="4" value="[profile value]">
				</td>
			</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td>
				<span class="pi-h4">E-mail:</span><br>
				<input class="modTxtLarge" maxlength="64" name="E-mail" type="text" size="35" value="[profile value]"><br><br>
				<span class="pi-h4">TradeAbility<sup>TM</sup> Transaction:</span><br>
				[service name]<br>
				[transaction date, time]<br>
				[reference 1]<br>
				[reference 2]<br>
				[reference 3]<br><br>
				<span class="pi-h4">Comments:</span><br>
				<textarea class="modTxtAreaLarge" cols="40" rows="5"></textarea><br>
				</td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Cancel" border="0" height="18" name="repl_fname" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Submit" border="0" height="18" name="repl_fname" src="/img/en/btn_submit_a.gif" type="image" width="64"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
	<td width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
	<td valign="top" width="134"><img alt="" border="0" height="1" src="/img/1.gif" width="134"></td>
</tr>
</table>
<!-- End Table: Formatting Table 3col plus 1col -->

</form>
