<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
    
<div class="mod modal dialog">
			<table border="0" cellspacing="0" cellpadding="0">
			<tr>
			<td>


						<!-- begin application -->

						<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="100%">
								<tr>
									<td>
									<!-- begin module header -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td width="10"><img height="1" border="0" width="10" src="/img/xln_spacer.gif" alt=""/></td>
													<td width=""><!-- begin module title -->
														<div class="modspacepad"><span class="whiteBoldHead">Create a New Distribution List</span></div>
														<!-- end module title -->
													</td>
													<td><!-- begin module navigation -->
														<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
														<div><img height="1" border="0" width="1" src="/img/xln_spacer.gif" alt=""/></div>
														<!-- end module navigation -->
													</td>
													<td><!-- begin module navigation -->
														<div align="right" class="modspacepad"><a href="javascript:void(0);" id="repl_idname"><img height="12" width="12" border="0" title="Close" alt="Close" src="/img/icn_cross_mini_wht.gif"/></a></div>
														<div><img height="1" border="0" width="1" src="/img/xln_spacer.gif" alt=""/></div>
														<!-- end module navigation -->
													</td>
													<td width="10"><img height="1" border="0" width="10" src="/img/xln_spacer.gif" alt=""/></td>
												</tr>
											</tbody>
										</table>
									<!-- end module header -->
									</td>
								</tr>
								<tr>
									<td><!-- begin module column spacing table -->
										<table cellspacing="0" cellpadding="0" border="0" width="100%" class="modbgcolor2">
											<tbody>
												<tr>
													<td colspan="5" class="modline2"><img height="3" border="0" width="1" src="/img/xln_spacer.gif" alt=""/></td>
												</tr>
												<tr>
													<td class="nopad" colspan="3"><img alt="" border="0" src="/img/1.gif" height="10" width="1"></td>
												</tr>
												<tr>
													<td class="nopad" colspan="3">

														<!-- begin instructional text -->
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
																<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
																<td valign="top">
																		<div><span class="bold">Distribution List [Nickname] created</span>. To add addresses to your list (up to 100), choose addresses from your address book and select <span class="bold">Add</span>. Addresses can be removed from you list by marking the desired address and selecting <span class="bold">Remove from List</span>.
																		</div>
																		<div><span class="bold">Note:</span> Addresses in a list must be from the same country or territory or the EU.</div><br>
																		<div><span class="bold">Distribution Nickname:</span> <a href="repl_href">edit</a><br>[list_name]</div>
																</td>
																<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
														</tr>
														<tr>
																<td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
														</tr>
														</table>
														<!-- end instructional text -->

														<!-- begin search table -->
														<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td colspan="5" bgcolor="#CCCCCC"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
															</tr>
															<tr>
																	<td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
															</tr>
															<tr>
																<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
																<td valign="top" colspan="3">
																	<!-- begin content column -->
																		<span class="bold">Find Address By:</span> <br>
																		<select class="modSelMedium" name="Country" size="1">
																			<option value="nickname" selected>Nickname</option>
																				<option value="address">Address</option>
																				<option value="city">City</option>
																				<option value="stateProvinceCounty">State/Province/County</option>
																				<option value="country">Country or Territory</option>
																		</select>

																		<input name="SearchText" type="text" size="35" value="{enter a search phrase}" id="" class="reqTxtInst">
																		<input value="Search" name="search" class="btn" type="submit"> <input value="Show All" name="show_all" class="btn" type="button">
															</td>
																<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
															</tr>
															<tr>
																<td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
															</tr>
															<tr>
																<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
																	<td valign="top">

																		<span class="bold">Address Book Header</span>
																		<!-- Height of iWindow must be set dynamicly based on number of rows - min height 110 - max height 250 -->
																		<div class="distbListWindow" style="height:250px">
																		<table border="0" cellpadding="0" cellspacing="0" width="100%">
																				<!-- Begin Row: Header Rows with vertical spacing -->
																					<tr>
																						<td bgcolor="#cccccc"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc" width="110"><img alt="" border="0" height="1" src="/img/1.gif" width="100"></td>
																					</tr>
																					<tr>
																						<td bgcolor="#cccccc" width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td bgcolor="#cccccc" align="center"><div class="spacingResults fldLbl"><span class="bold"><a href="repl_href">Nickname<img alt="" border="0" height="10" src="/img/xln_arrow_black_up.gif" width="10"></a></span></div></td>
																							<td bgcolor="#ffffff" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc" align="center"><div class="spacingResults fldLbl"><span class="bold"><a href="repl_href">Location</a></span></div></td>
																					</tr>
																					<tr>
																						<td bgcolor="#cccccc"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Header Rows with vertical spacing -->
																					<!-- Begin Row: Odd Row with vertical spacing -->
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 1]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Odd Row with vertical spacing -->
																					<!-- Begin Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 2]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][Country or Territory]</div></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Even Row with vertical spacing -->
																					<!-- Begin Row: Odd Row with vertical spacing -->
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 3]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Odd Row with vertical spacing -->
																					<!-- Begin Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 4]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Even Row with vertical spacing -->
																					<!-- Begin Row: Odd Row with vertical spacing -->
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 5]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Odd Row with vertical spacing -->
																					<!-- Begin Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 6]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Even Row with vertical spacing -->
																					<!-- Begin Row: Odd Row with vertical spacing -->
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 7]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Odd Row with vertical spacing -->
																					<!-- Begin Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 8]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Even Row with vertical spacing -->
																					<!-- Begin Row: Odd Row with vertical spacing -->
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 9]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Odd Row with vertical spacing -->
																					<!-- Begin Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 10]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Even Row with vertical spacing -->
																					<!-- Begin Row: Odd Row with vertical spacing -->
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 99]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Odd Row with vertical spacing -->
																					<!-- Begin Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 100]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Even Row with vertical spacing -->


																					<tr bgcolor="#cccccc">
																							<td colspan="4"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																					</tr>
																</table>
																			<!-- end results table -->
																		</div>
																		<input value="Add" name="add" class="btn_a" type="button">
																		<!-- when disabled --><input value="Add" name="add" class="btn_a disabled" type="button" disabled="disabled">

																	</td>
																	<td width="10"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
																	<td valign="top">

																	<span class="bold">{Distribution List Header}</span>
																	<!-- Height of iWindow must be set dynamicly based on number of rows - min height 110 - max height 250 -->
																		<div class="distbListWindow" style="height:">
																		<table border="0" cellpadding="0" cellspacing="0" width="100%">
																				<!-- Begin Row: Header Rows with vertical spacing -->
																					<tr>
																						<td bgcolor="#cccccc"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc" width="110"><img alt="" border="0" height="1" src="/img/1.gif" width="100"></td>
																					</tr>
																					<tr>
																						<td bgcolor="#cccccc" width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td bgcolor="#cccccc" align="center"><div class="spacingResults fldLbl"><span class="bold"><a href="repl_href">Nickname<img alt="" border="0" height="10" src="/img/xln_arrow_black_up.gif" width="10"></a></span></div></td>
																							<td bgcolor="#ffffff" width="1"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc" align="center"><div class="spacingResults fldLbl"><span class="bold"><a href="repl_href">Location</a></span></div></td>
																					</tr>
																					<tr>
																						<td bgcolor="#cccccc"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#ffffff"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td bgcolor="#cccccc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Header Rows with vertical spacing -->
																					<!-- Begin Row: Odd Row with vertical spacing -->
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 1]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Odd Row with vertical spacing -->
																					<!-- Begin Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 2]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Even Row with vertical spacing -->
																					<!-- Begin Row: Odd Row with vertical spacing -->
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 3]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#ffffff">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Odd Row with vertical spacing -->
																					<!-- Begin Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																						<td width="20"><input name="repl_fname" type="checkbox" value="repl_fvalue"></td>
																							<td><div class="spacingResults"><a href="repl_href">[Nickname 4]</a></div></td>
																							<td><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																							<td><div class="spacingResults">[City][State]</div></td>
																					</tr>
																					<tr bgcolor="#cccccc">
																							<td colspan="4" valign="top"><img alt="" border="0" height="2" src="/img/1.gif" width="1"></td>
																					</tr>
																					<!-- End Row: Even Row with vertical spacing -->
																					<tr bgcolor="#cccccc">
																							<td colspan="4"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
																					</tr>
																</table>
																			<!-- end results table -->
																			</div>
																			<!-- end results table -->
																			<input value="Remove from List" name="remove" class="btn" type="button">
																			<!-- when disabled --><input value="Remove from List" name="remove" class="btn disabled" type="button" disabled="disabled">
																			<!-- end content column -->
															</td>
														</tr>
															<tr>
																	<td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
															</tr>
															<tr>
																	<td bgcolor="#ffffff" class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
																	<td colspan="3"><!-- begin record count -->
																				Displaying x-x of n
																				<!-- end record count -->
																				<br>
																				<!-- begin pagination -->
																				<input value="First" name="page_first" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="Prev" name="page_previous" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="1" name="page_1" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="2" name="page_2" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="3" name="page_3" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="4" name="page_4" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="5" name="page_5" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="6" name="page_6" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="7" name="page_7" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="8" name="page_8" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="9" name="page_9" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif" width="11"><input value="10" name="page_10" class="btnlnk" type="button"><img alt="" border="0" height="10" src="/img/xln_vertical_line.gif"	width="11"><input value="Next" name="page_next" class="btnlnk" type="button">
																				<!-- end pagination -->
																				<br>
																				<br>
																</td>
																	<td bgcolor="#ffffff" class="nopad" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
														</tr>
														</table>

														<!-- begin buttons -->
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td width="10"><img alt="" border="0" height="22" src="/img/xln_ffffff.gif" width="10"></td>
																<td align="center" valign="top">
																	<input value="Cancel" name="cancel" class="btn" type="button">
																	<input value="Finished" name="finished" class="btn" type="button">
																</td>
																<td width="10"><img alt="" border="0" height="22" src="/img/xln_ffffff.gif" width="10"></td>
														</tr>
													</table>
													 <!-- end buttons -->


													</td>
												</tr>
											</tbody>
										</table>
										<!-- end module column spacing table -->
									</td>
								</tr>
							</table>

						<!-- end application -->

			</td>
			</tr>
			</table>
			</div>



<div id="ttc_bullpen" class="hidden">

	<div id="codesample">
		<!-- Fragment BEGIN -->
		<h3>{NickName}</h3>
		<p>{Address}<br>
		{City}, {State} {Postal Code}<br>
		{County}<br>
		</p>
		<!-- Fragment END -->
	</div>

</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('.mod').dialog({width:910,maxHeight:420,modal:true,bgiframe:true,dialogClass:'modal'});
	$
	$('#repl_idname').click(function(e){
		$('.mod').dialog('close');
	});
});
</script>
