@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";
#main {
	.secLvl.message {
		h3 {
			color: $white !important;
		}
	}
	table.note {

		.colL, .colR {
			float: $default-float;
			width: 50%;
		}

		.modCallBase {
			min-height: 122px;
			padding: 12px 15px;
		}

		.colL .modCall {
			border-#{$opposite-direction}: 1px solid $white;
		}

		.colR .modCallBase {
			border-#{$default-float}: none;
		}

		.lstArrow {
			padding-top: 10px;
		}
	}

	table.mod {

		.modMsg.blu {
			margin-#{$default-float}: 8px;
		}

		.modMsg.blu h3 {
			margin: 0;
		}

		#step-3 {
			.colL, .colR {
				float: $default-float;
				padding-#{$opposite-direction}: 10px;
				width: 50%;
			}
		}
	}

	// just like .stepModContent in global
	.modContent {
		margin-top: 10px;
		padding: 5px;
		background: $white
	}
}
