<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Find Harmonized Codes</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Refine and Add Harmonized Codes</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td colspan="3">
			Your search has returned the full and partial tariff codes below. Select <span class="pi-h4">Add</span> to add full tariff codes to your Product Tariff Code List, or continue to navigate through partial results. To change harmonization criteria, select <span class="pi-h4">Back</span>.
			<br><br>
			</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Keywords:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[keyword(s)]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Product Category:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[category]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" nowrap><span class="pi-h4">Tariff Code:</span></td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top" width="100%">[code]</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="5"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 3 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td colspan="9"><div class="pi-m-pad">
			<span class="pi-h4">Countries or Territories Requiring Harmonization:</span><br>
			</div></td>
		</tr>
		<tr>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top">
			<a href="repl_href">[country or territory 1]</a><br>
			<span class="pi-h4">[country or territory 2]</span><br>
			<a href="repl_href">[country or territory 3]</a><br>
			<a href="repl_href">[country or territory 4]</a><br>
			<a href="repl_href">[country or territory 5]</a><br>
			<a href="repl_href">[country or territory 6]</a><br>
			<a href="repl_href">[country or territory 7]</a><br>
			<a href="repl_href">[country or territory 8]</a><br>
			<a href="repl_href">[country or territory 9]</a><br>
			<a href="repl_href">[country or territory 10]</a><br>
			<a href="repl_href">[country or territory 11]</a><br>
			<a href="repl_href">[country or territory 12]</a><br>
			<a href="repl_href">[country or territory 13]</a><br>
			<a href="repl_href">[country or territory 14]</a><br>
			<a href="repl_href">[country or territory 15]</a><br>
			<a href="repl_href">[country or territory 16]</a><br>
			<a href="repl_href">[country or territory 17]</a><br>
			</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top">
			<a href="repl_href">[country or territory 18]</a><br>
			<a href="repl_href">[country or territory 19]</a><br>
			<a href="repl_href">[country or territory 20]</a><br>
			<a href="repl_href">[country or territory 21]</a><br>
			<a href="repl_href">[country or territory 22]</a><br>
			<a href="repl_href">[country or territory 23]</a><br>
			<a href="repl_href">[country or territory 24]</a><br>
			<a href="repl_href">[country or territory 25]</a><br>
			<a href="repl_href">[country or territory 26]</a><br>
			<a href="repl_href">[country or territory 27]</a><br>
			<a href="repl_href">[country or territory 28]</a><br>
			<a href="repl_href">[country or territory 29]</a><br>
			<a href="repl_href">[country or territory 30]</a><br>
			<a href="repl_href">[country or territory 31]</a><br>
			<a href="repl_href">[country or territory 32]</a><br>
			<a href="repl_href">[country or territory 33]</a><br>
			<a href="repl_href">[country or territory 34]</a><br>
			</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top">
			<a href="repl_href">[country or territory 35]</a><br>
			<a href="repl_href">[country or territory 36]</a><br>
			<a href="repl_href">[country or territory 37]</a><br>
			<a href="repl_href">[country or territory 38]</a><br>
			<a href="repl_href">[country or territory 39]</a><br>
			<a href="repl_href">[country or territory 40]</a><br>
			<a href="repl_href">[country or territory 41]</a><br>
			<a href="repl_href">[country or territory 42]</a><br>
			<a href="repl_href">[country or territory 43]</a><br>
			<a href="repl_href">[country or territory 44]</a><br>
			<a href="repl_href">[country or territory 45]</a><br>
			<a href="repl_href">[country or territory 46]</a><br>
			<a href="repl_href">[country or territory 47]</a><br>
			<a href="repl_href">[country or territory 48]</a><br>
			<a href="repl_href">[country or territory 49]</a><br>
			<a href="repl_href">[country or territory 50]</a><br>
			<a href="repl_href">[country or territory 51]</a><br>
			</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td valign="top">
			<a href="repl_href">[country or territory 52]</a><br>
			<a href="repl_href">[country or territory 53]</a><br>
			<a href="repl_href">[country or territory 54]</a><br>
			<a href="repl_href">[country or territory 55]</a><br>
			<a href="repl_href">[country or territory 56]</a><br>
			<a href="repl_href">[country or territory 57]</a><br>
			<a href="repl_href">[country or territory 58]</a><br>
			<a href="repl_href">[country or territory 59]</a><br>
			<a href="repl_href">[country or territory 60]</a><br>
			<a href="repl_href">[country or territory 61]</a><br>
			<a href="repl_href">[country or territory 62]</a><br>
			<a href="repl_href">[country or territory 63]</a><br>
			<a href="repl_href">[country or territory 64]</a><br>
			<a href="repl_href">[country or territory 65]</a><br>
			</td>
			<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		<tr>
			<td colspan="9"><div class="pi-m-pad">
			<br><span class="pi-h4">Now harmonizing for:<img alt="" border="0" height="1" src="/img/1.gif" width="10">[country or territory 2]</span>
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">

				<!-- Begin Table: Inner Content (Parent:Module Table) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
				<tr class="pi-r1-t">
					<td class="pi-r1-pad" width="40%"><a href="repl_href">Tariff Code Tree</a><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a></td>
					<td class="pi-r1-line" width="20%">Tariff Code</td>
					<td class="pi-r1-line" colspan="2">Tariff Description</td>
				</tr>
				</thead>
				<tbody>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad" rowspan="5" valign="top">
					<div class="pi-nav-lv1">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">Table of Contents</a></div>
					<!-- <div class="pi-nav-lv1-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">Table of Contents</div> -->
					<div class="pi-nav-lv2">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">Coffee, Tea, Mate and Spices</a></div>
					<!-- <div class="pi-nav-lv2-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">Coffee, Tea, Mate and Spices</div> -->
					<div class="pi-nav-lv3">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">Ginger, saffron, turmeric (curcuma), thyme, bay leaves, curry, and other spices</a></div>
					<!-- <div class="pi-nav-lv3-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">Ginger, saffron, turmeric (curcuma), thyme, bay leaves, curry, and other spices</div> -->
					<div class="pi-nav-lv4">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">Other Spices</a></div>
					<!-- <div class="pi-nav-lv4-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">Other Spices</div> -->
					<div class="pi-nav-lv5">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">Spices for Pickling</a></div>
					<!-- <div class="pi-nav-lv5-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">Spices for Pickling</div> -->
					<!-- <div class="pi-nav-lv6">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">Other</a></div> -->
					<div class="pi-nav-lv6-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">Other</div>

					<!-- full nav list
					<div class="pi-nav-lv1">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">[name]</a></div>
					<div class="pi-nav-lv1-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">[name]</div>
					<div class="pi-nav-lv2">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">[name]</a></div>
					<div class="pi-nav-lv2-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">[name]</div>
					<div class="pi-nav-lv3">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">[name]</a></div>
					<div class="pi-nav-lv3-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">[name]</div>
					<div class="pi-nav-lv4">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">[name]</a></div>
					<div class="pi-nav-lv4-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">[name]</div>
					<div class="pi-nav-lv5">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">[name]</a></div>
					<div class="pi-nav-lv5-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">[name]</div>
					<div class="pi-nav-lv6">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">[name]</a></div>
					<div class="pi-nav-lv6-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">[name]</div>
					<div class="pi-nav-lv7">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">[name]</a></div>
					<div class="pi-nav-lv7-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">[name]</div>
					<div class="pi-nav-lv8">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_opened.gif" width="11"><a href="repl_href">[name]</a></div>
					<div class="pi-nav-lv8-sel">&nbsp;<img alt="" border="0" height="8" src="/img/icn_arrow_tree_closed.gif" width="11">[name]</div>
					 -->
					</td>
					<td class="pi-r1-pad">0910.99.10.00</td>
					<td class="pi-r1-pad">Other</td>
					<td class="pi-r1-pad"><a href="repl_href">Add</a></td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">**0000001</td>
					<td class="pi-r1-pad">Detailed Description 1<br>&nbsp;&nbsp;<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">View Secondary Code</a></td>
					<td class="pi-r1-pad"><a href="repl_href">Add</a></td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">**0000002</td>
					<td class="pi-r1-pad">Detailed Description 2</td>
					<td class="pi-r1-pad"><a href="repl_href">Add</a></td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">**0000003</td>
					<td class="pi-r1-pad">Detailed Description 3</td>
					<td class="pi-r1-pad"><a href="repl_href">Add</a></td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">**0000004</td>
					<td class="pi-r1-pad">Detailed Description 4<br>&nbsp;&nbsp;<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">View Secondary Code</a><br>
					&nbsp;&nbsp;Digest Description<br>&nbsp;&nbsp;Digest Description
					</td>
					<td class="pi-r1-pad"><a href="repl_href">Add</a></td>
				</tr>
				</tbody>
				</table>
				<!-- End Table: Inner Content (Parent:Module Table) -->

				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->

			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			The accuracy of the TradeAbility<sup>TM</sup> Services depends on, among others, information you provide the TradeAbility Services, including your selection of the correct Tariff Codes, as well as other information available to UPS. As such, these results may not be complete or accurate for your needs. For more information, please consult the <a href="repl_href">UPS TradeAbility License and Service Agreement</a><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"></a>.
			<div align="center"><img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"></div>
			<span class="pi-h3">Product Tariff Code List</span><br>
			To harmonize this product again for a country or territory below, select a corresponding <span class="pi-h4">Search Again</span> link.
			<br><br>
			<span class="pi-h4">**Note:</span> The Detail ID  is used by TradeAbility<sup>TM</sup> to help refine results and should not be reported on official customs documents as part of the Tariff Code.
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin table: Functional Table 5 (Parent:Module Table) -->
		<table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
		<tr>
			<td class="pi-mA1" width="10"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
			<td width="100%">

			<!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
			<table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="100%">

				<!-- Begin Table: Inner Content (Parent:Module Table) -->
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
				<tr class="pi-r1-t">
					<td class="pi-r1-pad" width="25%">Country or Territory</td>
					<td class="pi-r1-line" width="25%">Tariff Code</td>
					<td class="pi-r1-line" colspan="2">Tariff Code Description</td>
				</tr>
				</thead>
				<tbody>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[tariff code]<br>**[subcode]</td>
					<td class="pi-r1-pad">[tariff description]</td>
					<td class="pi-r1-pad"><a href="repl_href">Search Again</a></td>
				</tr>
				<tr class="pi-r1-rwe">
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[tariff code]</td>
					<td class="pi-r1-pad">[tariff description]</td>
					<td class="pi-r1-pad"><a href="repl_href">Search Again</a></td>
				</tr>
				<tr class="pi-r1-rwo">
					<td class="pi-r1-pad">[country or territory]</td>
					<td class="pi-r1-pad">[tariff code] - [tariff code]</td>
					<td class="pi-r1-pad">[tariff description + secondary description]</td>
					<td class="pi-r1-pad"><a href="repl_href">Search Again</a></td>
				</tr>
				</tbody>
				</table>
				<!-- End Table: Inner Content (Parent:Module Table) -->

				</td>
			</tr>
			</table>
			<!-- End table: Inner Table (Parent:Functional Table 4b) -->

			</td>
			<td width="10" class="pi-mA1"><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
		</tr>
		</table>
		<!-- End table: Functional Table 5 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<a href="repl_href"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">Save Tariff Codes to My Product List</a><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><img align="bottom" alt="" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"><br>
			<a href="repl_href"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">Find New Harmonized Codes</a>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Back" border="0" height="18" name="Back" src="/img/en/btn_back_a.gif" type="image" width="52"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
