<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
		<h1>forgot user id or password</h1>


				<!-- Begin Application Module -->
				<div class="appLvl mod col18 clearfix">
				<fieldset><legend></legend>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>answer personal question</h2>

						<!-- /////////////////////////////////////////////////////////////// -->
						<!-- USE THIS HEADER SECTION FOR Forgot: Failed All Questions Module -->
                        <!-- begin RFC 5443, 5476 -->
						<h2>failed personal questions</h2>
                        <!-- end RFC 5443, 5476 -->
						<!-- END USE THIS HEADER SECTION FOR Forgot: Failed All Questions Module -->
						<!-- /////////////////////////////////////////////////////////////////// -->

					</div>
					<!-- End Application Header -->

					<!-- Begin Application Body -->
					<div class="appBody clearfix">

						<p class="error">error message.</p>
						<p>to ensure your security, you may be required to answer up to three personal questions to verify your identity.</p>

                        <!-- begin RFC 5476, 5443 -->
                        <p>the answers you provided do not match our records, so the user id has been locked.</p>
                        <p class="group">you may request to have your security information reset. to reset the login, an email will be sent to the email address associated with the user id. please check your email to complete the reset process.</p>
                        <p><a href="repl_href">reset now</a></p>
                        <p>if you need additional assistance, please contact your administrator.</p>
						<!-- end RFC 5476, 5443 -->


						<!-- Begin Section Module -->
						<div class="secLvl secLvlPlain clearfix">
						<fieldset><legend></legend>

								<!-- Begin Section Body -->
								<div class="secBody">

									<div class="group clearfix">
									<fieldset><legend></legend>

										<!-- begin RFC 5476 -->
										<h3>personal question:</h3>
                                        <!-- end RFC 5476 -->

										<p>what is my mother's high school?</p>

										<dl>
											<dt><label for="repl_id">answer:</label></dt>
												<dd>
													<input type="text" id="repl_id" class="formcol6" value="" />
												</dd>
										</dl>
									</fieldset>
									</div>

								</div>
								<!-- End Section Body -->

						</fieldset>
						</div>
						<!-- End Section Module -->


				<!-- //////////////////////////////////////////////////////// -->
				<!-- ADD THIS SECTION FOR Forgot: Failed All Questions Module -->
						<div class="secLvl secLvlPlain clearfix">
						<fieldset><legend></legend>
								<!-- Begin Section Body -->
								<div class="secBody">
									<p>the answers you provided do not match our records, so the user id has been locked. please contact your administrator.</p>
								</div>
								<!-- End Section Body -->
						</fieldset>
						</div>
				<!-- END ADD THIS SECTION FOR Forgot: Failed All Questions Module -->
				<!-- //////////////////////////////////////////////////////// -->


					</div>
					<!-- End Application Body -->
					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="cancel" class="btn" />
                            <input name="" type="button" value="next" class="btnArw" />
							<input name="" type="button" value="continue" class="btnArw" />
						</div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->
				</fieldset>
				</div>
				<!-- End Application Module -->


<!-- END ECS Forgot Password - Personal Questions -->
<!-- //////////////////////////////////////////// -->


<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
