---
title: Mobile Notifications Manager Modals
appId: ppc
dir: rtl
lang: ar
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper" ng-app="ppcAuthRequired">  
		<div class="ups-wrap_inner">
			{{!-- {{> ppc_discount_code_partial }} --}}
			<ups-mobile-notifications-manager></ups-mobile-notifications-manager>
		</div>
	</div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->