<form action="repl_faction">

    <!-- Begin Table: Formatting Table 4col -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td valign="top" width="100%">

                <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td class="pi-mA1-t" valign="top">

                            <!-- Begin Table: Module Title (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-m-txt-title">
                                        Search Product List
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Module Title (Parent:Module Table) -->

                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c-t-spc">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c" valign="top">

                            <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td colspan="3">
                                                    To return a list of products, enter a search word or phrase and select the search criteria. <br>
                                                    <br>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <label for="repl_searchBox" class="visually-hidden">[enter search terms]</label>
                                                                <input class="modTxtLarge" maxlength="50" name="Search" size="34" type="text" id="repl_searchBox">
                                                            </td>
                                                            <td>
                                                                &nbsp;&nbsp;
                                                                <input value="Search" type="button" class="btn">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <table border="0" cellpadding="2" cellspacing="0">
                                                        <tr>
                                                            <td valign="baseline">
                                                                Search for&nbsp;&nbsp;
                                                            </td>
                                                            <td valign="baseline">
                                                                <label for="repl_productName" class="visually-hidden">[select search type]</label>
                                                                <select name="repl_fname" class="modSelMediumSmall" size="1" id="repl_productName">
                                                                    <option>Product Name</option>
                                                                </select>
                                                            </td>
                                                            <td valign="baseline">
                                                                &nbsp;&nbsp;that&nbsp;&nbsp;
                                                            </td>
                                                            <td valign="baseline">
                                                                <label for="repl_contains" class="visually-hidden">[select filter type]</label>
                                                                <select name="repl_fname" class="modSelMediumSmall" size="1" id="repl_contains">
                                                                    <option>Contains</option>
                                                                    <option>Starts With</option>
                                                                    <option>Exactly Matches</option>
                                                                </select>
                                                            </td>
                                                            <td valign="baseline">
                                                                &nbsp;&nbsp;the search terms.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <br>
                                                    <br>
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td colspan="3">
                                                    <span class="pi-h4">Displaying x-x of n</span><br>
                                                    <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br>
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td valign="top">&nbsp;
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td align="right">
                                                    <label for="repl_displayNumber" class="sel">Display per Page:</label><br>
                                                    <select name="repl_fname" class="modSelSmall" size="1" id="repl_displayNumber">
                                                        <option>25</option>
                                                    </select>
                                                    <br>
                                                    <br>
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Functional Table 2 (Parent:Module Table) -->

                            <!-- Begin table: Functional Table 5 (Parent:Module Table) -->
                            <table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-mA1" width="10">
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td width="100%">

                                        <!-- Begin Table: Inner Content (Parent:Functional Table 5) -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <thead>
                                                <tr class="pi-r1-t">
                                                    <td class="pi-r1-pad">&nbsp;
                                                    </td>
                                                    <td class="pi-r1-pad" colspan="2">
                                                        Product Name<br>
                                                        Product Description
                                                    </td>
                                                    <td class="pi-r1-line">
                                                        Date/Time<br>
                                                        Last Modified
                                                    </td>
                                                    <td class="pi-r1-line">
                                                        Product Reference 1<br>
                                                        Product Reference 2<br>
                                                        Product Reference 3
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="pi-r1-rwo">
                                                    <td class="pi-r1-pad">
                                                        <label for="repl_radio1" class="visually-hidden">select [product name]</label>
                                                        <input class="rad" name="repl_fname" type="radio" value="repl_fvalue" id="repl_radio1">
                                                        &nbsp;<br>
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        1.
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [product name]<br>
                                                        [product description]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [date/time]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [reference 1]<br>
                                                        [reference 2]<br>
                                                        [reference 3]
                                                    </td>
                                                </tr>
                                                <tr class="pi-r1-rwe">
                                                    <td class="pi-r1-pad">
                                                        <label for="repl_radio2" class="visually-hidden">select [product name]</label>
                                                        <input class="rad" name="repl_fname" type="radio" value="repl_fvalue" id="repl_radio2">
                                                        &nbsp;<br>
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        2.
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [product name]<br>
                                                        [product description]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [date/time]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [reference 1]<br>
                                                        [reference 2]<br>
                                                        [reference 3]
                                                    </td>
                                                </tr>
                                                <tr class="pi-r1-rwo">
                                                    <td class="pi-r1-pad">
                                                        <label for="repl_radio3" class="visually-hidden">select [product name]</label>
                                                        <input class="rad" name="repl_fname" type="radio" value="repl_fvalue" id="repl_radio3">
                                                        &nbsp;<br>
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        3.
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [product name]<br>
                                                        [product description]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [date/time]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [reference 1]<br>
                                                        [reference 2]<br>
                                                        [reference 3]
                                                    </td>
                                                </tr>
                                                <tr class="pi-r1-rwe">
                                                    <td class="pi-r1-pad">
                                                        <label for="repl_radio4" class="visually-hidden">select [product name]</label>
                                                        <input class="rad" name="repl_fname" type="radio" value="repl_fvalue" id="repl_radio4">
                                                        &nbsp;<br>
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        4.
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [product name]<br>
                                                        [product description]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [date/time]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [reference 1]<br>
                                                        [reference 2]<br>
                                                        [reference 3]
                                                    </td>
                                                </tr>
                                                <tr class="pi-r1-rwo">
                                                    <td class="pi-r1-pad">
                                                        <label for="repl_radio5" class="visually-hidden">select [product name]</label>
                                                        <input class="rad" name="repl_fname" type="radio" value="repl_fvalue" id="repl_radio5">
                                                        &nbsp;<br>
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        5.
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [product name]<br>
                                                        [product description]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [date/time]
                                                    </td>
                                                    <td class="pi-r1-pad">
                                                        [reference 1]<br>
                                                        [reference 2]<br>
                                                        [reference 3]
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- End Table: Inner Content (Parent:Functional Table 5) -->

                                    </td>
                                    <td width="10" class="pi-mA1">
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                            </table>
                            <!-- End table: Functional Table 5 (Parent:Module Table) -->

                            <!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <div class="pi-m-pad">
                                            <br>
                                            <span class="pi-h4">Displaying x-x of n</span><br>
                                            <a href="repl_href">First</a> | <a href="repl_href">Previous</a> | <a href="repl_href">1</a> | <a href="repl_href">2</a> | <a href="repl_href">3</a> | <a href="repl_href">4</a> | <a href="repl_href">5</a> | <a href="repl_href">6</a> | <a href="repl_href">7</a> | <a href="repl_href">8</a> | <a href="repl_href">9</a> | <a href="repl_href">10</a> | ... | <a href="repl_href">Next</a> | <a href="repl_href">Last</a><br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Functional Table 2 (Parent:Module Table) -->

                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c-b-spc">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-line">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-b" valign="top">

                            <!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-m-button" nowrap>
                                        <input value="Cancel" type="button" class="btn">
                                        <input value="Select" type="button" class="btn">
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Form Control Buttons(Parent:Module Table) -->

                        </td>
                    </tr>
                </table>
                <!-- End Table: Module Table (Parent:Formatting Table) -->

            </td>
        </tr>
    </table>
    <!-- End Table: Formatting Table 4col -->

</form>
