<form action="repl_fname">
    <!-- Begin Application Module -->
    <div class="appLvl mod">
    <!-- Begin Application Header -->
    <div class="appHead clearfix">
        <h2>Payment Information</h2>
    </div>
    <!-- End Application Header --> 
    <!-- Begin Application Body -->
    <div class="appBody ups-application_wrapper ups-form_wrap ups-form_required clearfix">
        <h3>Select Payment Method</h3>
        <p class="error">&gt;&gt;&gt; Error message here. Error message here.</p>
		<p>Required fields are indicated with *.
        <dl role="presentation" class="outHozLedger clearfix">
            <dt><span class="label">Total Charge for [Pickup][Collection]:</span></dt>
            <dd>[00.00][CCC]</dd>
        </dl>
        <div class="clearfix"></div>
        <!-- Begin Section Module -->
        <div class="secLvl step">
            <div class="secHead clearfix">
                <h3>Payment Information</h3>
            </div>
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            <!-- //// Do not use Dyn_Pnls in production code                          //// --> 
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            <!-- //// Begin Dyn_Pnl_1 - Payment Method Information  (Not Logged In)   //// --> 
            <!-- ///////////////////////////////////////////////////////////////////////// -->
            {{>"ct1_shi_pic(3pic)_payments_partial" }}
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            <!-- //// END Dyn_Pnl_1 - Payment Information                             //// --> 
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            <!-- //// Do not use Dyn_Pnls in production code                          //// --> 
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            <!-- ///////////////////////////////////////////////////////////////////////// --> 
            
        </div>
        <!-- End Application Body --> 
        
        <!-- Begin Application Footer -->
    	<div class="appFooter"> 
        <!-- Begin Button Bar Row -->
			<div class="btnBar ups-form_ctaGroup">
				<button name="repl_name" type="button" value="" class="ups-cta ups-cta_tertiary">Back</button>
				<button name="input" type="submit" value="" class="ups-cta ups-cta_primary">Next</button>
				<button name="repl_name" type="button" value="" class="ups-cta ups-cta_secondary">Cancel</button>
			</div>
        <!-- End Button Bar Row --> 
    </div>
    <!-- End Application Footer --> 
    </div>
    
    <!-- End Application Module -->
    </div>
</form>