<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">

                    <!-- begin Application Content Area -->

                    <!-- begin Application Header -->
                        <table border="0" cellpadding="0" cellspacing="0" width="566">
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                        <span class="blueboldHead">{Application Header}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                        </table>
                        <!-- end Application Header -->

                        <!-- begin Application Body -->
                        <table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="1%">
                                                <img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10">
                                            </td>
                                            <td width="49%">
                                                <span class="whiteBoldHead">Reference Number Lists</span>
                                            </td>
                                            <td width="49%">
                                                <div align="right">
                                                    <a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a>
                                                </div>
                                            </td>
                                            <td width="1%">
                                                <img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                        	<td bgcolor="#996633" colspan="3">
                                            	<img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td colspan="3">
                                            	<img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                       			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        		<p><select><option>item 1</option></select></p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat.</p>
                                       		 	<p>Mauris blandit posuere lectus, eget rhoncus augue dignissim at.</p>
                                        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit posuere lectus, eget rhoncus augue dignissim at. Quisque mollis urna hendrerit dui mollis consectetur. Sed congue nulla tincidunt est consectetur viverra. Vestibulum eget dui lectus. Nullam dictum nunc nec magna tincidunt auctor. Vestibulum imperdiet vehicula auctor. Proin varius magna nec lacus ornare at elementum erat feugiat. Sed quis neque lorem, et cursus risus. Donec varius cursus sapien condimentum lobortis. Cras ultrices tempor dictum. Ut ac nunc orci, ac varius urna. Mauris eget elit ante, ut sodales mi. Ut sit amet ligula id eros semper pharetra eu vitae felis. Integer lectus massa, pellentesque vel tincidunt quis, egestas id magna.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td colspan="3">
                                            	<img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
      					<!-- end Application Body -->

                        <br>

                        <!-- begin buttons -->
                        <table border="0" cellpadding="0" cellspacing="1" width="566">
                            <tr>
                            	<td colspan="2" valign="top">
                                	<img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                            	<td align="left" valign="top" width="200">
                                	<img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            	<td align="right" valign="top" width="366"></td>
                            </tr>
                        </table>
                        <!-- end buttons -->

                        <!-- begin note area -->
                        <table border="0" cellpadding="0" cellspacing="1" width="566">
                            <tr>
                            	<td valign="top">
                                	<img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1">
                                </td>
                            </tr>
                            <tr>
                            	<td valign="top">&nbsp;</td>
                            </tr>
                        </table>
                        <!-- end note area -->

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form> 
<!-- ///////////////////////// -->
<!-- end v3 underlay container -->
<!-- ///////////////////////// -->




<!-- /////////////////////////////////////////// -->
<!-- begin View Shipping Privileges Modal Dialog -->
<!-- /////////////////////////////////////////// -->
<div class="appLvl mod modal dialog">

    <div class="appHead clearfix">
        <h2>view shipping privileges</h2>
            <ul>
            	<li><input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
            </ul>
    </div>

    <div class="appBody">



                        <div class="seccol9 marginBegin">
                            <dl>
                                <dt><span class="label">shipping privilege name:</span></dt>
                                    <dd>{privilege name}</dd>
                            </dl>


                            <dl>
                                <dt><span class="label">shipping privilege countries or territories:</span></dt>
                                    <dd>{united states, ...}</dd>
                            </dl>
                      	</div>

                        <div class="seccol9 marginEnd">
                            <dl>
                                <dt><span class="label">number of assigned users:</span></dt>
                                    <dd>{ 00000 }</dd>
                            </dl>


                            <dl>
                                <dt><span class="label">restricted destinations:</span></dt>
                                    <dd>{united states, country or territory x, ...}</dd>
                            </dl>
                        </div>

                    <div style="clear:both;"></div>


                    <!-- Begin Sub Module -->
                    <div class="secLvl secLvlPlain clearfix">

                    	<!-- Begin Section Header -->
							<div class="secHead clearfix">
								<h3 class="group">shipping privileges settings</h3
							></div>
							<!-- End Section Header -->


                        <!-- Begin Sub Body -->
                        <div class="iDiv">

                        <div class="secBody">

                    		<!-- Begin Sub Module -->
								<div class="secLvl clearfix">

									<!-- Begin Sub Header -->
									<div class="secHead clearfix">
										<h4>freight services:</h4>
									</div>
									<!-- End Sub Header -->
									<!-- Begin Sub Body -->
									<div class="secBody">
										<p>access to all freight services (shipments over 150 lbs. or 70 kg.)  this is extra text to test wrapping in this module.</p>
                                        <p><strong>note: </strong>privileges below are not applicable to freight shipping.  this is extra text to test wrapping in this module.</p>
									</div>
									<!-- End Sub Body -->

								</div>
							<!-- End Sub Module -->

                            <!-- Begin Sub Module -->
								<div class="secLvl clearfix">

									<!-- Begin Sub Header -->
									<div class="secHead clearfix">
										<h4>ups shipping services:</h4>
									</div>
									<!-- End Sub Header -->
									<!-- Begin Sub Body -->
									<div class="secBody">
										<p>{access to all package services / access to only indicated packaged services}</p>

                                        <div class="subcol8 marginBegin">
                                            <ul>
                                                <li>{ups service name 1}</li>
                                                <li>{ups service name 2}</li>
                                                <li>{ups service name 3}</li>
                                                <li>{ups service name 4}</li>
                                            </ul>
                                        </div>

                                        <div class="subcol8 marginEnd">
                                            <ul>
                                                <li>{ups service name 1}</li>
                                                <li>{ups service name 2}</li>
                                                <li>{ups service name 3}</li>
                                                <li>{ups service name 4}</li>
                                            </ul>
                                        </div>
									</div>
									<!-- End Sub Body -->

								</div>
							<!-- End Sub Module -->


                            <!-- Begin Sub Module -->
								<div class="secLvl clearfix">

									<!-- Begin Sub Header -->
									<div class="secHead clearfix">
										<h4>ups shipping accessorials:</h4>
									</div>
									<!-- End Sub Header -->
									<!-- Begin Sub Body -->
									<div class="secBody">
										<p>{access to all shipping accessorials /access to only indicated shipping accessorials}</p>
										<ul>
                                            <li>{ups accessorial name}</li>
                                            <li>{ups accessorial name}</li>
                                            <li>{ups accessorial name}</li>
                                            <li>{ups accessorial name}</li>
                                        </ul>

                                        <h5 class="indent">quantum view notify<sup>sm</sup> e-mail:</h5>
                                        <ul class="indent">
                                            <li>{ups accessorial name}</li>
                                            <li>{ups accessorial name}</li>
                                            <li>{ups accessorial name}</li>
                                            <li>{ups accessorial name}</li>
                                        </ul>

                                    </div>
									<!-- End Sub Body -->

								</div>
							<!-- End Sub Module -->


                        </div>

                        </div>
                        <!-- End Sub Body -->

                    </div>
                    <!-- End Sub Module -->

                	<div style="clear:both"></div>


    </div>

</div>
<!-- ///////////////////////////////////////// -->
<!-- end View Shipping Privileges Modal Dialog -->
<!-- ///////////////////////////////////////// -->


<!-- begin Script That Opens Modal Dialog Window -->
<script type="text/javascript">
$(document).ready(function(){

	$('.modal').dialog({modal:true,dialogClass:'modal', width:710});
	$('#modalClose').click(function(e){
		$('.modal').dialog('close');
	});
});
</script>
<!-- end Script That Opens Modal Dialog Window -->


</body>
</html>
