---
title: UPS My Choice Service Terms
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
    
	{{> background_modal_content }}
    
  
<div class="appLvl mod modal dialog">
  <div class="appHead clearfix">
    <h2>UPS My Choice Service Terms</h2>
    <ul>
      <li>
        <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
      </li>
    </ul>
  </div>
  <div class="appBody">
    <p class="error">&gt;&gt;&gt; error message placeholder</p>
    <p>to manage your deliveries you must first accept the ups my choice service terms.</p>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="sel"><input name="" type="checkbox" value="" id=""></td>
        <td><span for="" class="label sel">by selecting the checkbox and the <b>next</b> button i agree to the <a href="http://www.ups.com/content/us/en/resources/ship/terms/technology_agreement.html " class="btnlnkR newWindowIconR">ups technology agreement</a> and the <a href="http://www.ups.com/content/us/en/resources/ship/terms/service_mychoice.html" class="btnlnkR newWindowIconR">ups my choice service terms</a></span></td>
      </tr>
    </table>
  </div>
  <div class="appFooter">
    <div class="btnBar alignCenter">
      <input name="" type="button" value="canel" class="btn">
      <input name="" type="submit" value="next" class="btn">
    </div>
  </div>
</div>

<script type="text/javascript">


		
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:470});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});


</script>
</div>
