---
title: ct1_tra_umc_nonauth_auto
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       

      <form action="repl_fname">
        <!-- Begin SubTabs -->
        <ul class="subTab clearfix">
          <li class="tab-off"><a href="repl_href">track</a></li>
          <li class="tab-on">ups my choice</li>
          <li class="tab-off"><a href="repl_href">quantum view</a></li>
          <li class="tab-off"><a href="repl_href">flex global view</a></li>
        </ul>
        <!-- End SubTabs --> 
        <!-- Begin Application Module -->
        <div class="appLvl tab col24 noHead clearfix">
          <fieldset>
            <legend></legend>
            <!-- Begin Application Header --><!-- End Application Header --> 
            <!-- Begin Application Body -->
            <div class="appBody clearfix">
              <div class="cmsMsg clearfix"> 
                
                <!-- begin WCMS --> 
                <!-- //////////////////////////////////////////////////////////////////////////// --> 
                <!-- cms: id="ct1_tra_tra_umc_auth_nonauth_nonenrolled_users_hover_help_en_us" actiontype="0" --> 
                <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_tab.html" --> 
                <!-- //////////////////////////////////////////////////////////////////////////// --> 
                <!-- end WCMS --> 
                
              </div>
            </div>
            <!-- End Application Body -->
          </fieldset>
        </div>
        <!-- End Application Module -->
        
      </form>
  
</div>
