---
title: ct1_tra_umc_reg(1del)
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       

      <form action="repl_fname">
        
        <!-- begin Progress Bar --> 
        <!-- //////////////////////////////////////////////////////////////////////////// --> 
        
        <!--#include virtual="/app_ent/common_components/jan17/progressbar_va/progressbar_3_minify.html" --> 
        <!-- //////////////////////////////////////////////////////////////////////////// --> 
        <!-- end Progress Bar --> 
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod noHead clearfix">
          <fieldset>
            <legend>repl_legend</legend>
            
            <!-- Begin Application Body -->
            <div class="appBody clearfix"> 
              
              <!-- Begin Section Module -->
              <div class="secLvl step clearfix">
                <fieldset>
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3>UPS My Choice Availability </h3>
                  </div>
                  <!-- End Section Header --> 
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p class="error">&gt;&gt;&gt; error message placeholder</p>
                    <p> UPS My Choice<sup>&reg;</sup> is available in your area paragraph text... agree to terms and select <strong>Submit</strong>. </p>
                    <p> We're sorry. UPS My Choice is not available at your current address. </p>
                    <div class="group clearfix">
                      <dl class="flexFirstPad">
                        <dt>
                          <label>Name:</label>
                        </dt>
                        <dd>John A. Smith, Jr.</dd>
                      </dl>
                      <dl class="flexAfterPad">
                        <dt>
                          <label>Home Address:</label>
                        </dt>
                        <dd> 1234 Apple Blossom Lane<br>
                          Roswell, GA 30076<br>
                          United States<br>
                        </dd>
                      </dl>
                      <dl class="flexAfterPad">
                        <dt>
                          <label>E-mail/Phone:</label>
                        </dt>
                        <dd> john@email.com<br>
                          678-555-5555 </dd>
                      </dl>
                      <dl class="flexAfterPad">
                        <dt>
                          <label>User ID:</label>
                        </dt>
                        <dd> JSmith1234 </dd>
                      </dl>
                    </div>
                    <div class="group">
                      <div class="iDiv" style="height:100px;max-height:100px;padding:15px;" readonly> UPS TECHNOLOGY AGREEMENT
                        [CONTENT GOES HERE]
                        UPS MY CHOICE SERVICE TERMS
                        [CONTENT GOES HERE]
                        /******/ THIS IS A SCROLLABLE TEXT AREA /******/
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </div>
                      <p> 
                        <!-- INTERNATIONAL ONLY-->
                        <input type="checkbox" id="repl_id" name="repl_name" value="" >
                        &nbsp;by selecting this checkbox and the <strong>submit</strong> button, i agree to the <a href="http://www.ups.com/content/us/en/resources/ship/terms/technology_agreement.html " class="btnlnkR newWindowIconR">ups technology agreement</a> and the <a href="http://www.ups.com/content/us/en/resources/ship/terms/service_mychoice.html" class="btnlnkR newWindowIconR">ups my choice service terms</a> and the <a href="repl_link" class="btnlnkR newWindowIconR">Privacy Statement</a>. 
                        <!-- --> 
                      </p>
                    </div>
                    <div class="group">
                      <p><a href="repl_href" class="btnlnkL plusMini">have a promotion code?</a><!--plusMini / minusMini--></p>
                      
                      <!-- Promo Code - Expanded -->
                      <div class="remov remov_class_area2 remov_class_ALL">
                        <p>
                          <input type="text" id="repl_id11" name="repl_name" value="">
                          <button name="repl_name" type="button" value="{}" class="button btnGroupLnk">apply promotion code</button>
                          <span class="indent"><a href="repl_href" class="btnlnkR">clear promotion code</a></span> </p>
                      </div>
                      <p><strong>note:</strong> the promotion code you entered is good for: [promotion code title].</p>
                    </div>
                    <p> If you'd like to <a href="repl_href">register a different address</a>. Check availability below. </p>
                    <div class="group clearfix">
                      <p> Select a Country or Territory and enter Postal Code to check My Choice availability in a different area from your current address. </p>
                      <dl class="flexFirstPad">
                        <dt>
                          <label for="repl_id">Country or Territory:</label>
                        </dt>
                        <dd>
                          <select id="repl_id" name="repl_name" >
                            <option>United States</option>
                          </select>
                          <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                      </dl>
                      <dl class="flexAfterPad">
                        <dt>
                          <label for="repl_id">Postal Code:</label>
                        </dt>
                        <dd>
                          <input type="text" id="repl_id" name="repl_name" class="" />
                          <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                      </dl>
                      <dl class="flexAfterPad">
                        <dt><br>
                        </dt>
                        </dd>
                      </dl>
                      <dl class="flexAfterPad">
                        <dt>&nbsp;</dt>
                        <dd>
                          <button id="repl_id" name="repl_name" class="btn">Search</button>
                        </dd>
                      </dl>
                    </div>
                    <p> Yes, My Choice is available in your area. Complete the form below if you'd like to continue your enrollment. </p>
                    <p> We're sorry. My Choice is not available in that area. </p>
                  </div>
                  <!-- End Section Module-->
                </fieldset>
              </div>
              <!-- End Section Module --> 
              
              <!-- Begin Section Module -->
              <div class="secLvl step clearfix">
                <fieldset>
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3>profile information</h3>
                    <ul class="clearfix">
                      <li><a href="repl_href" class="btnlnkR helpIconR">Help</a></li>
                      <li><a href="repl_href" class="btnlnkL crossMini"></a></li>
                    </ul>
                  </div>
                  <!-- End Section Header --> 
                  <!-- Begin Section Body -->
                  <div class="secBody"> 
                    
                    <!-- ERROR MESSAGE -->
                    <p class="error">&gt;&gt;&gt; error message placeholder</p>
                    
                    <!-- Login Reminder Text-->
                    <p> Use the form below to enroll in UPS my Choice. <strong>If you have used ups.com before and already have a My UPS ID, please <a href="repl_href">log in</a> before you enroll.</strong> </p>
                    
                    <!-- Profile Information - Existing User -->
                    <h4 class="remov remov_class_area1 remov_class_ALL">welcome</h4>
                    
                    <!-- INSTRUCTIONAL PARAGRAPH -->
                    <p>please verify your delivery address information. to complete enrollment, verify your information, agree to <strong>terms &amp; conditions</strong>, then select <strong>submit</strong>. required fields are indicated with <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
                    
                    <!-- Profile Information - Existing User -->
                    <div class="remov remov_class_area1 remov_class_area1a remov_class_ALL">
                      <div class="flexFirstPad">
                        <dl>
                          <dt><span class="label">home address:</span></dt>
                          <dd>1234 apple blossom lane <br>
                            roswell, ga 30076 <br>
                            united states</dd>
                        </dl>
                      </div>
                      <div class="flexAfterPad">
                        <dl>
                          <dt><span class="label">contact info:</span></dt>
                          <dd>john@email.com<br>
                            678-123-4567</dd>
                        </dl>
                      </div>
                      <div class="flexAfterPad">
                        <dl>
                          <dt><span class="label">my ups id:</span></dt>
                          <dd>jsmith1234</dd>
                        </dl>
                      </div>
                      <div class="clearfix"></div>
                      <p><a href="repl_href">edit</a> 
                    </div>
                    <div class=" remov remov_class_area0 remov_class_area1a remov_class_area2 remov_class_ALL">
                      <div class="seccol8 marginBegin clearfix">
                        <dl class="flexFirst">
                          <dt>
                            <label for="repl_id">first name:</label>
                          </dt>
                          <dd>
                            <input type="text"  value="john" maxlength="35" class="formcol5">
                            <img alt="success" border="0" height="16" width="16" src="/img/1.gif" class="successIcon" title="success"></dd>
                        </dl>
                        <dl class="flexAfter">
                          <dt>
                            <label for="repl_id">mi:</label>
                          </dt>
                          <dd>
                            <input type="text"  value="" maxlength="1"  class="formcol2">
                          </dd>
                        </dl>
                      </div>
                      <div class="seccol12 marginEnd clearfix">
                        <dl class="flexAfter">
                          <dt>
                            <label for="repl_id">last name:</label>
                          </dt>
                          <dd>
                            <input type="text"  value="smith"maxlength="35">
                            <img alt="error" border="0" height="16" width="16" src="/img/1.gif" class="errorIcon" title="error"></dd>
                        </dl>
                        <dl class="flexAfter">
                          <dt>
                            <label for="repl_id">suffix:</label>
                          </dt>
                          <dd>
                            <select name="repl_name" >
                              <option value="" selected>select one</option>
                            </select>
                            <input type="text" id="repl_id" name="repl_name" value="" maxlength="5" class="formcol2">
                          </dd>
                        </dl>
                        <div class="clear"></div>
                      </div>
                      <div class="clear"></div>
                      <div class="seccol8 marginBegin clearfix">
                        <dl class="flexFirst">
                          <dt>
                            <label >e-mail:</label>
                            <span class="reqTxtInst">example name@domain.com</span></dt>
                          <dd>
                            <input name="repl_name" value="" type="text" class="formcol7" title="" maxlength="50" >
                            <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                        </dl>
                      </div>
                      <div class="seccol12 marginEnd clearfix">
                        <dl class="flexAfter">
                          <dt>
                            <label >re-enter e-mail:</label>
                          </dt>
                          <dd>
                            <input name="repl_name" value="" type="text" class="formcol7" title="hint" maxlength="50" >
                            <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                        </dl>
                      </div>
                      <div class="clear"></div>
                      
                      <!-- country -->
                      <dl>
                        <dt>
                          <label for="repl_for">country or territory</label>
                        </dt>
                        <dd>
                          <select name="country" size="1" >
                            <option value="None">United States</option>
                          </select>
                          <img src="/img/icn_dia.gif" alt="repl_alt" width="11" height="9" border="0"> </dd>
                      </dl>
                      
                      <!-- Begin Left Column -->
                      <div class="seccol8 marginBegin clearfix">
                        <dl>
                          <dt>
                            <label for="repl_id4">home address line 1:</label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id4" value="1234 apple blossom lane" class="formcol7">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                          <dt>
                            <label for="repl_id5">address line 2:</label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id5" value="" class="formcol7">
                            <br>
                            <span class="reqTxtInst">apartment, building, etc.</span> </dd>
                          <dt>
                            <label for="repl_id6">address Line 3:</label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id6" value="" class="formcol7">
                            <br>
                            <span class="reqTxtInst">department, c/o, etc.</span> </dd>
                        </dl>
                      </div>
                      <!-- End Left Column --> 
                      
                      <!-- Begin Right Column -->
                      <div class="seccol12 marginEnd clearfix">
                        <dl>
                          <dt>
                            <label for="repl_id7">city:</label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id7" value="roswell" class="formcol7">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                          <dt>
                            <label for="repl_id8">{state/region/province}:</label>
                          </dt>
                          <dd>
                            <select name="repl_name" id="repl_id8">
                              <option value="">select one</option>
                              <option value="" selected>georgia</option>
                            </select>
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                          <dt>
                            <label for="repl_id9">{zip code/postal code}:</label>
                          </dt>
                          <dd>
                            <input type="text" id="repl_id9" value="30076" class="formcol3">
                            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                        </dl>
                      </div>
                      <!-- End Right Column -->
                      <div class="clear"></div>
                      <dl class="flexFirst">
                        <dt>
                          <label for="repl_id">mobile or home phone:</label>
                        </dt>
                        <dd>
                          <input id="phone" type="text" size="15" class="" value="">
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <!-- End Section Body --> 
                  <!-- Begin Setion Footer -->
                  
                </fieldset>
              </div>
              <!-- End Section Module --> 
              
              <!-- Begin Section Module -->
              <div class="secLvl step clearfix">
                <fieldset>
                  <!-- Begin Section Header -->
                  <div class="secHead clearfix">
                    <h3>login information</h3>
                  </div>
                  <!-- End Section Header --> 
                  <!-- Begin Section Body -->
                  <div class="secBody">
                    <p class="error">&gt;&gt;&gt; error message placeholder</p>
                    f
                    <dl>
                      <dt>
                        <label for="tt_0">create user id:</label>
                      </dt>
                      <dd>
                        <input name="repl_name" value="" type="text" class="hintAnchorA" title="hint" maxlength="50" id="tt_0">
                        <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                      <dt>
                        <label for="tt_1">create password:</label>
                      </dt>
                      <dd>
                        <input name="repl_name" value="" type="text" class="hintAnchorB" title="hint" maxlength="26" id="tt_1">
                        <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
                      <dt>
                        <label for="tt_2">re-enter password:</label>
                      </dt>
                      <dd>
                        <input name="repl_name" type="text" title="hint" maxlength="26" id="tt_2">
                        <img alt="repl_alt" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
                    </dl>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id15"></td>
                        <td><label for="repl_id15" class="sel">by selecting this checkbox and the <strong>submit</strong> button, i agree to the <a href="http://www.ups.com/content/us/en/resources/ship/terms/technology_agreement.html " class="btnlnkR newWindowIconR">ups technology agreement</a> and the <a href="http://www.ups.com/content/us/en/resources/ship/terms/service_mychoice.html" class="btnlnkR newWindowIconR">ups my choice service terms</a>.</label></td>
                      </tr>
                    </table>
                    <p><a href="repl_href" class="btnlnkL plusMini">have a promotion code?</a><!--plusMini / minusMini--> 
                      
                      <!-- Promo Code - Expanded -->
                    <div class="remov remov_class_area2 remov_class_ALL">
                      <p>
                        <input type="text" id="repl_id11" name="repl_name" value="">
                        <button name="repl_name" type="button" value="{}" class="button btnGroupLnk">apply promotion code</button>
                        <span class="indent"><a href="repl_href" class="btnlnkR">clear promotion code</a></span>
                        </dd>
                      </p>
                      <p><strong>note:</strong> the promotion code you entered is goo for: [promotion code title].</p>
                    </div>
                  </div>
                  <!-- End Section Body -->
                  
                </fieldset>
              </div>
              <!-- End Section Module --> 
              
            </div>
            <!-- End Application Body --> 
            
            <!-- Begin Application Footer -->
            <div class="appFooter"> 
              <!-- Begin Button Bar Row -->
              <div class="btnBar"> <a href="repl_href">Register a different address</a>
                <input name="repl_name" type="button" value="cancel" class="btn">
                <input name="repl_name" type="button" value="submit" class="btnArw">
              </div>
              <!-- End Button Bar Row --> 
            </div>
            <!-- End Application Footer -->
            
          </fieldset>
        </div>
        <!-- End Application Module -->
        
      </form>

 
<script type="text/javascript">

	
	$(document).ready(function(){
   jQuery(function($){
   $("#phone").mask("?(999) 999-9999",{placeholder:" "});
});
});

 </script> 

<!-- Begin ER JUL13 7310 -->
<div id="ttc_bullpenA" class="hidden "></div>
<div id="ttc_bullpenB" class="hidden"></div>
<!--<div id="ttc_bullpenC" class="hidden"></div>--> 

<!-- End ER JUL13 7310 --> 

<script type="text/javascript">
	function buildhint1()
	{
			$('#ttc_bullpenA').append("<div id=\"ttc_tt_0\"></div>");	
			$('#ttc_bullpenB').append("<div id=\"ttc_tt_1\"></div>");
			//$('#ttc_bullpenB').append("<div id=\"ttc_tt_1\"><div class=\"appLvl noHead\"><div class=\"appBody\"><p><strong>Hint:</strong> password must contain 2 of the following:</p><ul class=\"imageType\"><li>8-26 characters</li><li class=\"success\">lowercase letters</li><li>uppercase letters</li><li>numbers</li><li>special characters or spaces</li></ul></div></div></div>");
		}
    
	$(document).ready(function(){
		buildhint1();	
		$('.hintAnchorA').ichint($("#ttc_tt_0").load("/app_ent/common_components/jan17/tooltips/tt_id_hint2.html"));
		$('.hintAnchorB').ichint($("#ttc_tt_1").load("/app_ent/common_components/jan17/tooltips/tt_pw_hint1.html"));
		//$('.hintAnchorB').ichint();
	});

			
</script>

</div>
