---
title: compare membership options
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
	{{> background_modal_content }}

<div class="appLvl mod modal dialog">
  <div class="appHead clearfix">
    <div class="onlyPrint floatBegin"><img height="55" width="42" border="0" src="/img/glo_ups_brandmark_pfv.gif" alt="repl_alt_text"></div>
    <h2>{{title}}</h2>
    <ul>
      <li>
        <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
      </li>
    </ul>
  </div>
  <div class="appBody"> 
    <!-- Begin Section Module -->
    <div class="secLvl clearfix">
      <fieldset>
        <legend></legend>
        
        <!-- Begin Section Body -->
        <div class="secBody">
          <div class="cmsMsg"> 
            
            <!-- begin WCMS --> 
            <!-- //////////////////////////////////////////////////////////////////////////// --> 
            
            <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_compare.html" --> 
            <!-- //////////////////////////////////////////////////////////////////////////// --> 
            <!-- end WCMS --> 
            
          </div>
          <div class="secLvl seccol8 clearfix  marginBegin">
            <div class="secBody">
              <input name="" type="button" value="Enroll as a Member" class="btn">
            </div>
          </div>
          <div class="secLvl seccol8 clearfix  marginEnd">
            <div class="secBody">
              <input name="" type="button" value="Enroll as a Premium Member" class="btn">
            </div>
          </div>
        </div>
        <!-- End Section Body -->
      </fieldset>
    </div>
    <!-- End Section Module --> 
    
  </div>
</div>

<script type="text/javascript">
		
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:760});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});

</script>
</div>
