---
title: ct1_tra_umc_membership_renewal_confirmation
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       

      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod clearfix">
          <fieldset>
            <legend></legend>
            
            <!-- Begin Application Header -->
            <div class="appHead clearfix">
              <h2>UPS My Choice Membership Renewal Confirmation</h2>
            </div>
            <!-- End Application Header --> 
            
            <!-- Begin Application Body -->
            <div class="appBody clearfix">
              <div class="secLvl secLvlPlain clearfix">
                <div class="secHead clearfix">
                  <h2>You have successfully completed the UPS My Choice membership renewal process.</h2>
                </div>
                <div class="secBody">
                  <div class="secLvl secLvlPlain seccol18 marginBegin clearfix">
                    <div class="marginBegin subcol10">
                      <dl>
                        <dt>john smith</dt>
                        <dd>1234 apple blossom lane <br>
                          roswell, ga 30076</dd>
                      </dl>
                    </div>
                    <div class="marginEnd subcol8"> 
                      <!-- Begin Social Aggregator Buttons --> 
                      <!-- //////////////////////////////////////////////////////////////////////////// --> 
                      
                      <!--#include virtual="/app_ent/common_components/jan17/social_fb_buttons_va/social_fb_buttons_stk2.html" --> 
                      <!-- //////////////////////////////////////////////////////////////////////////// --> 
                      <!-- end Social Aggregator Buttons --> 
                    </div>
                    <div class="clear"></div>
                    <p>Your membership will be renewed automatically on mm/dd/yyyy.</p>
                    <p>UPS will send you a reminder prior to your next renewal date.  You can choose to opt out of automatic membership renewal, or update your membership preferences at any time by visiting <a href="repl_href">UPS My Choice Preferences</a>.</p>
                    <div class="secLvl secLvlPlain clearfix">
                      <div class="secHead clearfix">
                        <h3>Your UPS My Choice Preferences</h3>
                      </div>
                      <div class="secBody">
                        <div class="indent">
                          <dl class="outHozFixed clearfix">
                            <dt>
                              <label for="repl_id">Name Variations:</label>
                            </dt>
                            <dd>Johnny<br>
                              J.T.</dd>
                            <dt>
                              <label for="repl_id">Other Household Members:</label>
                            </dt>
                            <dd>None Added<br>
                              Jennifer Smith (Name Variations: Jen, Jenny)<br>
                              Billy Smith<br>
                              Edna Gardner</dd>
                            <dt>
                              <label for="repl_id">Delivery Alerts:</label>
                            </dt>
                            <dd>Day Before Delivery Reminder - E-mail - jsmith@email.com<br>
                              Morning of Delivery Alert - E-mail - jsmith@email.com<br>
                              Confirmation of Delivery Alert - NOT SELECTED<br>
                              Tendered to UPS UPS Access Point Alert - E-mail - jsmith@email.com</dd>
                            <dt>
                              <label for="repl_id">Security Code:</label>
                            </dt>
                            <dd>PREMIUM MEMBERS ONLY</dd>
                            <dt>
                              <label for="repl_id">Leave At:</label>
                            </dt>
                            <dd>PREMIUM MEMBERS ONLY</dd>
                            <dt>
                              <label for="repl_id">Authorize Shipment Release:</label>
                            </dt>
                            <dd>[YES/NO]</dd>
                            <dt>
                              <label for="repl_id">package upgrade options:</label>
                            </dt>
                            <dd>package eligible for upgrade alert - E-mail - jsmith@email.com<br>
                              auto-upgrade to ups ground - not selected<br>
                              <!--Auto-Upgrade - NOT SELECTED<br>
                                                    Auto-Upgrade - SELECTED<br>
                                                    <span class="indent">Upgrade Successful - E-mail - jsmith@email.com</span><br>
                                                    <span class="indent">Upgrade Failure - SMS - 1-555-123-4567</span>--></dd>
                            <dt>
                              <label for="repl_id">Vacation Option:</label>
                            </dt>
                            <dd>NOT SELECTED<br>
                              07/05/2010 - 07/11/2010<br>
                              Reschedule delivery for 07/12/2012<br>
                              Deliver to a UPS UPS Access Point:<br>
                              <br>
                              The UPS Store<br>
                              4321 Hill Street<br>
                              Suite A<br>
                              Roswell, GA, US 30076<br>
                              Telephone:555-123-4567<br>
                              store1422@theupsstore.com</dd>
                            <dt>
                              <label for="repl_id">Membership Renewal Option:</label>
                            </dt>
                            <dd>[AUTO-RENEW / DO NOT AUTO-RENEW]</dd>
                          </dl>
                          <dl class="outHozFixed clearfix">
                            <dt>
                              <label for="repl_id">Renewal Date:</label>
                            </dt>
                            <dd><strong>mm/dd/yyyy</strong></dd>
                          </dl>
                          <div class="clear"></div>
                          <p>(<strong>Note:</strong> We'll send you a renewal reminder a month before your subscription ends.)</p>
                          <dl>
                            <dt>
                              <label for="repl_id">Now you can:</label>
                            </dt>
                            <dd>
                              <ul class="lstBullet">
                                <li>Get notified about incoming shipments</li>
                                <li>Plan your day around approximate delivery times</li>
                                <li>Sign for packages online with digital signature</li>
                                <li>Change delivery options (Will Call, Reshcedule, Deliver to Another Address)</li>
                              </ul>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="secLvl secLvlPlain clearfix">
                      <div class="secHead clearfix">
                        <h3>Need even more control over your shipments?</h3>
                      </div>
                      <div class="secBody">
                        <div class="indent">
                          <p>Upgrade to UPS My Choice Premium ($40 annual subscription):</p>
                          <ul class="lstBullet">
                            <li>See all homebound shipments on a calendar or in a list view with Delivery Planner</li>
                            <li>Get confirmed delivery windows</li>
                            <li>Instruct driver on preferred location to leave packages</li>
                            <li>Enjoy unlimited delivery changes (Will Call, Reschedule, Deliver to Another Address)</li>
                          </ul>
                          <p>
                            <input name="" type="button" value="become a premium member" class="btnArw">
                          </p>
                          <p>For your convernience, you may also wish to review the <a href="http://www.ups.com/content/us/en/resources/ship/terms/technology_agreement.html " class="btnlnkR newWindowIconR">ups technology agreement</a> and the <a href="http://www.ups.com/content/us/en/resources/ship/terms/service_mychoice.html" class="btnlnkR newWindowIconR">ups my choice service terms</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="secLvl sell seccol6 marginEnd clearfix">
                    <div class="secHead clearfix">
                      <h3>Next Steps:</h3>
                    </div>
                    <div class="secBody">
                      <p>Within an hour, you'll be able to access UPS My Choice features when you track a package.</p>
                      <dl>
                        <dt>
                          <label for="repl_id">Update Your My Choice Preferences</label>
                        </dt>
                        <dd><a href="repl_href">Update Your Delivery Alert Settings</a><br>
                          <a href="repl_href">Add Other Household Members</a><br>
                          <a href="repl_href">Set Your Vacation Options</a><br>
                          <a href="repl_href">Add Another Delivery Address</a><br>
                          <a href="repl_href">set your package upgrade options</a></dd>
                      </dl>
                    </div>
                  </div>
                  
                  <!-- Begin Share with Facebook widget -->
                  <div class="secLvl sell seccol6 marginEnd clearfix">
                    <div class="secHead clearfix">
                      <h2>Share with Facebook</h2>
                    </div>
                    <div class="secBody group clearfix"> 
                      
                      <!-- Begin Social Aggregator Buttons --> 
                      <!-- //////////////////////////////////////////////////////////////////////////// --> 
                      
                      <!--#include virtual="/app_ent/common_components/jan17/social_fb_buttons_va/social_fb_buttons_stk1.html" --> 
                      <!-- //////////////////////////////////////////////////////////////////////////// --> 
                      <!-- end Social Aggregator Buttons --> 
                      
                    </div>
                  </div>
                  <div class="clear"></div>
                  <!-- End Share with Facebook widget --> 
                </div>
              </div>
            </div>
            <!-- End Application Body --> 
            
            <!-- Begin Application Footer -->
            <div class="appFooter"> 
              <!-- Begin Button Bar Row -->
              <div class="btnBar">
                <input name="" type="button" value="back to the delivery planner" class="btnBackArw">
              </div>
              <!-- End Button Bar Row --> 
            </div>
            <!-- End Application Footer -->
            
          </fieldset>
        </div>
        <!-- End Application Module -->
        
      </form>
      
</div>
