---
title: Address Modification
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
	{{> background_modal_content }}

<div id="HPDCR_Dialog" class="appLvl mod modal dialog">
  <div class="appHead clearfix">
    <h2>{{title}}</h2>
    <ul>
      <li>
        <input type="button" class="btnlnkL closeIcon" title="Close" id="modalClose">
      </li>
    </ul>
  </div>
  <div class="appBody clearfix">
    
    <!-- Begin New Delivery Address Information Module -->
    <div class="secLvl secLvlPlain clearfix">
      
      <!-- Begin Section Body -->
      <div class="secBody">
        <p>Options are available below for correcting your address.</p>
        <div class="group clearfix">
          <dl class="outHozFixed clearfix">
            <dt>
              <label for="repl_id">Tracking Number:</label>
            </dt>
            <dd id="repl_id">1Z18239X0397528297</dd>
          </dl>
          <dl class="outHozFixed clearfix">
            <dt>
              <label for="repl_id">Status:</label>
            </dt>
            <dd id="repl_id"><strong>Exception: Action Required</strong></dd>
          </dl>
          <dl class="outHozFixed clearfix">
            <dt>
              <label for="repl_id">Original Delivery Address:</label>
            </dt>
            <dd id="repl_id">270 Marvin Miller Dr.<br>
              Atlanta, GA, 30336	 US</dd>
          </dl>
        </div>
      </div>
      <!-- End Section Body -->
    </div>
    <!-- End New Delivery Address Information Module -->
    
    <!-- Begin New Delivery Address Module -->
    <div class="secLvl secLvlPlain clearfix">
      
      <!-- Begin Section Header -->
      <div class="secHead clearfix">
        <h3>New Delivery Address</h3>
      </div>
      <!-- End Section Header -->
      
      <!-- Begin Section Body -->
      <div class="secBody clearfix">
        <p>Use the droplist below to select which field you need to edit. You will only be allowed to modify certain fields and save the updated address one time<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>
        <div class="group">
          <select id="repl_id">
            <option value="repl_value">Choose One</option>
          </select>
        </div>
        
        <!-- Begin Left Column -->
        <div class="seccol7 marginBegin">
          <dl>
            <dt>
              <label for="repl_id">Street Number:</label>
            </dt>
            <dd id="repl_id">
              <input type="text" value="999" size="5"class="disabled"  disabled>
            </dd>
          </dl>
          <dl>
            <dt>
              <label for="repl_id">Street Name:</label>
            </dt>
            <dd id="repl_id">
              <input type="text" value="street name"class="disabled"  disabled>
            </dd>
          </dl>
          <dl>
            <dt>
              <label for="repl_id">Apartment, suite, or floor:</label>
            </dt>
            <dd id="repl_id">
              <input type="text" class="disabled"  disabled>
            </dd>
          </dl>
        </div>
        <!-- End Left Column -->
        
        <!-- Begin Right Column -->
        <div class="seccol7 marginEnd">
          <dl>
            <dt>
              <label for="repl_id">City:</label>
            </dt>
            <dd id="repl_id">
              <input type="text" value="city name" class="disabled"  disabled>
            </dd>
          </dl>
          <dl>
            <dt>
              <label for="repl_id">State:</label>
            </dt>
            <dd id="repl_id">Georgia</dd>
          </dl>
          <dl>
            <dt>
              <label for="repl_id">Zip Code:</label>
            </dt>
            <dd id="repl_id">
              <input type="text" value="00000" class="disabled"  disabled>
            </dd>
          </dl>
        </div>
        <!-- End Right Column -->
        
      </div>
      <!-- End Section Body -->
      
    </div>
    <!-- End New Delivery Address Module -->
    
  </div>
  <!-- End Application Body -->
  
  <!-- Begin Application Footer -->
  <div class="appFooter">
    <!-- Begin Button Bar Row -->
    <div class="btnBar alignCenter">
      <input name="" type="button" value="Cancel" class="btn">
      <input name="" type="submit" value="Next" class="btnArw">
    </div>
    <!-- End Button Bar Row -->
  </div>
  <!-- End Application Footer -->
  
</div>

<script type="text/javascript">
	
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:710});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});


</script>
</div>
