---
title: ct1_tra_umc_reg_pre(1pmg)
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
   

  <form action="repl_fname">

	<!-- begin Progress Bar --> 
	<!-- //////////////////////////////////////////////////////////////////////////// --> 

	<!--#include virtual="/app_ent/common_components/jan17/progressbar_va/progressbar_2_minify.html" --> 
	<!-- //////////////////////////////////////////////////////////////////////////// --> 
	<!-- end Progress Bar --> 

	<!-- Begin Application Module -->
	<div class="appLvl col24 mod clearfix">
	  <fieldset>
		<legend></legend>

		<!-- Begin Application Header -->
		<div class="appHead clearfix">
		  <h2>enter your payment information</h2>
		</div>
		<!-- End Application Header --> 

		<!-- Begin Application Body -->
		<div class="appBody"> 

		  <!-- Begin Section Module -->
		  <div class="secLvl clearfix">
			<fieldset>
			  <legend></legend>

			  <!-- Begin Section Header -->
			  <div class="secHead clearfix">
				<h3>enter your payment details to complete your my choice enrollment.</h3>
			  </div>
			  <!-- End Section Header --> 

			  <!-- Begin Section Body -->
			  <div class="secBody">
				<p class="error">{&gt;&gt;&gt;error message.}</p>
				<p>required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
				<p>if you have a promotional code, enter it and select <strong>apply promotion code</strong> to your updated membership cost.</p>
				<dl class="outHozFlex clearfix">
				  <dt><span class="label">subscription cost:</span></dt>
				  <dd><strong>20.00 usd</strong> with the premium membership expiring on october 3, 2012
					<div class="remov remov_class_area1f remov_class_ALL">discounted based on promotion code: [promotion code title]</div>
				  </dd>
				</dl>
				<p>your premium membership will automatically renew.  you authorize UPS to charge your payment card for the current and subsequent membership subscription costs.  to cancel automatic renewal, as described in the <a href="repl_href">ups my choice service terms</a>, log on to ups.com, select <strong>access ups my choice</strong> under the <strong>tracking</strong> tab, select the <strong>preferences</strong> link, and edit your <strong>membership information</strong>.</p>
				<dl>
				  <dt>
					<label for="repl_id1">payment method:</label>
				  </dt>
				  <dd>
					<select name="repl_name" id="repl_id1">
					  <option selected>enter a different payment card</option>
					  <option>enter a different account</option>
					</select>
				  </dd>
				</dl>
				<div class="remov remov_class_area0 remov_class_area1a remov_class_area1e remov_class_area1g remov_class_ALL">
				  <dl>
					<dt>
					  <label for="repl_id2" class="error">&gt;&gt;&gt; card type:</label>
					</dt>
					<dd class="cc">
					  <select name="repl_name" id="repl_id2">
						<option selected>select one</option>
						<option>{visa}</option>
					  </select>
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
					<dd>
					  <ul class="cc">
						<li><img src="/img/inf_cc_30x23_amex.gif" alt="American Express" title="American Express"></li>
						<li><img src="/img/inf_cc_30x23_visa.gif" alt="Visa" title="Visa"></li>
						<li><img src="/img/inf_cc_30x23_mcard.gif" alt="MasterCard" title="MasterCard"></li>
						<li><img src="/img/inf_cc_30x23_discover.gif" alt="Discover" title="Discover"></li>
						<li><img src="/img/inf_cc_35x23_billme.gif" alt="Bill Me Later" title="Bill Me Later"></li>
						<li><img src="/img/inf_cc_30x23_jcb.gif" alt="JCB" title="JCB"></li>
						<li><img src="/img/inf_cc_35x23_paypal.gif" alt="PayPal" title="PayPal"></li>
					  </ul>
					</dd>
				  </dl>
				  <dl>
					<dt>
					  <label for="repl_id3">card number:</label>
					</dt>
					<dd>
					  <input type="text" id="repl_id3" value="">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <dl>
					<dt>
					  <label for="repl_id4">expiration:</label>
					</dt>
					<dd>
					  <select name="repl_name" id="repl_id4">
						<option value="" selected>mm</option>
					  </select>
					  <select name="repl_name" id="repl_id5">
						<option value="" selected>yyyy</option>
					  </select>
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
				  </dl>
				  <dl>
					<dt>
					  <label for="repl_id6"><a href="repl_href" class="btnlnkR helpIconR">verification code:</a></label>
					</dt>
					<dd>
					  <input name="repl_name" type="text" id="repl_id6" class="formcol3">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <dl class="group">
					<dt>
					  <label for="repl_id7">billing address:</label>
					</dt>
					<dd>
					  <table>
						<tr>
						  <td class="sel" scope="row"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id8" checked></td>
						  <td><label for="repl_id8" class="sel">same as delivery address</label></td>
						</tr>
						<tr>
						  <td class="sel" scope="row"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id9"></td>
						  <td><label for="repl_id9" class="sel">enter a different billing address</label></td>
						</tr>
					  </table>
					</dd>
				  </dl>

				  <!--Payment Card Address - Other Address-->
				  <div class="clearfix remov remov_class_area1g remov_class_ALL">
					<div class="subcol12 marginBegin secLvlPad clearfix">
					  <dl class="indent">
						<dt>
						  <label for="repl_id">country or territory:</label>
						</dt>
						<dd>united states</dd>
					  </dl>
					  <dl class="indent">
						<dt>
						  <label for="repl_id10">address Line 1:</label>
						</dt>
						<dd>
						  <input type="text" id="repl_id10" value="" class="formcol7">
						  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
					  </dl>
					  <dl class="indent">
						<dt>
						  <label for="repl_id11">address Line 2:</label>
						</dt>
						<dd>
						  <input type="text" id="repl_id11" value="" class="formcol7">
						  <div class="reqTxtInst">apartment, suite, unit, building, floor, etc.</div>
						</dd>
					  </dl>
					  <dl class="indent">
						<dt>
						  <label for="repl_id12">address Line 3:</label>
						</dt>
						<dd>
						  <input type="text" id="repl_id12" value="" class="formcol7">
						  <div class="reqTxtInst">department, c/o, etc.</div>
						</dd>
					  </dl>
					</div>
					<div class="subcol12 marginBegin secLvlPad clearfix">
					  <dl>
						<dt>
						  <label for="repl_id13">city:</label>
						</dt>
						<dd>
						  <input type="text" id="repl_id13" value="" class="formcol7">
						  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
					  </dl>
					  <dl>
						<dt>
						  <label for="repl_id14">state:</label>
						</dt>
						<dd>
						  <select name="repl_name" id="repl_id14">
							<option value="" selected="">select one</option>
						  </select>
						  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
					  </dl>
					  <dl>
						<dt>
						  <label for="repl_id15">zip code:</label>
						</dt>
						<dd>
						  <input type="text" id="repl_id15" value="" class="formcol3">
						  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
					  </dl>
					</div>
				  </div>
				</div>

				<!-- Payment Method - Enter Different Account -->
				<div class="remov remov_class_area1d remov_class_ALL">
				  <dl class="group">
					<dt>
					  <label for="repl_id01">UPS Account Number:</label>
					</dt>
					<dd>
					  <input name="repl_name" type="text" id="repl_id01">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <dl class="group">
					<dt>
					  <label for="repl_id02">Account Name:</label>
					</dt>
					<dd>
					  <input name="repl_name" type="text" id="repl_id02">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <dl class="group">
					<dt><span class="label" for="repl_id">country or territory:</span></dt>
					<dd>united states</dd>
				  </dl>
				  <dl class="group">
					<dt>
					  <label for="repl_id03">ZIP Code:</label>
					</dt>
					<dd>
					  <input name="repl_name" type="text" id="repl_id03">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <table>
					<tbody>
					  <tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id04"></td>
						<td><label for="repl_id04" class="sel">Save this account to My UPS Profile</label></td>
					  </tr>
					  <tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id05"></td>
						<td><label for="repl_id05" class="sel">Make this account my default payment method</label></td>
					  </tr>
					  <tr> </tr>
					</tbody>
				  </table>
				</div>

				<!-- Payment Method - Enter Different Card -->
				<div class="remov remov_class_area1e remov_class_ALL">
				  <table>
					<tbody>
					  <tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id06"></td>
						<td><label for="repl_id06" class="sel">Save this account to My UPS Profile</label></td>
					  </tr>
					  <tr> </tr>
					</tbody>
				  </table>
				</div>
				<dl>
				  <dt>
					<label for="repl_id11">promotion code:</label>
				  </dt>
				  <dd>
					<input type="text" id="repl_id11" name="repl_name" value="">
					<button name="repl_name" type="button" value="{}" class="button btnGroupLnk">apply promotion code</button>
					<span class="indent"><a href="repl_href" class="btnlnkR">clear promotion code</a></span></dd>
				</dl>
				<table border="0" cellpadding="0" cellspacing="0">
				  <tr>
					<td class="sel"><input name="" type="checkbox" value="" id=""></td>
					<td><label for="" class="sel">By selecting this checkbox and the <strong>next</strong> button, i agree to the <a href="" class="btnlnkR newWindowIconR">ups my choice service terms</a></label></td>
				  </tr>
				</table>
			  </div>
			  <!-- End Section Body -->

			</fieldset>
		  </div>
		  <!-- End Section Module --> 

		</div>
		<!-- End Application Body --> 

		<!-- Begin Application Footer -->
		<div class="appFooter"> 
		  <!-- Begin Button Bar Row -->
		  <div class="btnBar">
			<input name="repl_name" type="button" value="cancel" class="btn">
			<input name="repl_name" type="button" value="next" class="btnArw">
		  </div>
		  <!-- End Button Bar Row --> 
		</div>
		<!-- End Application Footer -->

	  </fieldset>
	</div>
	<!-- End Application Module -->

  </form>
	
</div>
