---
title: ct1_tra_umc_dlg_deliveryinstructions
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dynpnls: yes
dir: ltr
lang: en
---


<div id="main">
       

	{{> background_modal_content }}
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////                                                                          ////// -->
<!-- //////   *****      DO NOT USE THE FOLLOWING IDs IN PRODUCTION CODE      *****    ///// -->
<!-- /////                                                                              //// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////                                                                            ///// -->
<!-- ///////         ****   all id="dyn_pnl_1" through id="dyn_pnl_nn"   ****         ////// -->
<!-- ////////        ****   all id="pnl_1_1" through id="pnl_nn_nn"      ****        /////// -->
<!-- /////////                                                                      //////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
   
    <!-- /main end --> 
    
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    <!-- /contentArea --> 
    
	
<div class="appLvl mod modal dialog">
      <!-- /////////////////////////////// --> 
      <!-- Delivery Instructions - Default - No Security Code -->
      <div id="pnl_1_1">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">edit</a></span></dd>
        </dl>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">apply delivery instructions to:</span></dt>
          <dd>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
                <td scope="row" ><label for="repl_id" class="sel">the current shipment</label></td>
              </tr>
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id"></td>
                <td scope="row" ><label for="repl_id" class="sel">all my inbound shipments</label></td>
              </tr>
            </table>
          </dd>
        </dl>
      </div>
      
      <!-- ///////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Security Code Entered -->
      <div id="pnl_1_2">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>yes<span class="indent"><a href="repl_href">edit</a></span><span class="indent"><a href="repl_href">clear</a></span></dd>
        </dl>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">apply delivery instructions to:</span></dt>
          <dd>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
                <td scope="row" ><label for="repl_id" class="sel">the current shipment</label></td>
              </tr>
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id"></td>
                <td scope="row" ><label for="repl_id" class="sel">all my inbound shipments</label></td>
              </tr>
            </table>
          </dd>
        </dl>
      </div>
      
      <!-- ////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Edit Secutiry Code -->
      <div id="pnl_1_3">
        <p class="error">>>> error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <div class="secLvl clearfix">
          <div class="secHead clearfix">
            <h3>enter a new gate or building security code</h3>
          </div>
          <div class="secBody">
            <dl>
              <dt>
                <label for="repl_id">gate or building security code:</label>
              </dt>
              <dd>
                <input type="text" id="repl_id" value="">
              </dd>
              <dt>
                <label for="repl_id">re-enter your gate or building security code:</label>
              </dt>
              <dd>
                <input type="text" id="repl_id" value="">
              </dd>
            </dl>
          </div>
          <div class="secFooter">
            <div class="btnBar floatBegin">
              <button name="" type="button" value="" class="button btnGroupLnk">cancel</button>
              <button name="" type="button" value="" class="button btnGroupLnk">update</button>
            </div>
          </div>
        </div>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">apply delivery instructions to:</span></dt>
          <dd>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
                <td scope="row" ><label for="repl_id" class="sel">the current shipment</label></td>
              </tr>
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id"></td>
                <td scope="row" ><label for="repl_id" class="sel">all my inbound shipments</label></td>
              </tr>
            </table>
          </dd>
        </dl>
      </div>
      
      <!-- //////////////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Example Security Code Suppressed -->
      <div id="pnl_1_4">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">apply delivery instructions to:</span></dt>
          <dd>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
                <td scope="row" ><label for="repl_id" class="sel">the current shipment</label></td>
              </tr>
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id"></td>
                <td scope="row" ><label for="repl_id" class="sel">all my inbound shipments</label></td>
              </tr>
            </table>
          </dd>
        </dl>
      </div>
      
      <!-- ////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Non-Driver-Release -->
      <div id="pnl_1_5">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">edit</a></span></dd>
        </dl>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">authorize shipment release:</span></dt>
          <dd>
            <p>I authorize ups to release packages addressed to my residence when no one is present to accept delivery.</p>
            <p>I understand that a ups delivery record will be conclusive proof of delivery and I accept all responsibility for any loss or damage after it is released.</p>
            <p>I understand that ups retains sole and unlimited discretion to honor my authorized shipment release request for any package (and may not due to delivery conditions such as adverse weather or safety.</p>
            <p><strong>note:</strong> the leave at instructiosn will only be applied if you authorize shipment release.</p>
          </dd>
        </dl>
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td scope="row" class="sel"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id"></td>
            <td scope="row" ><label for="repl_id" class="sel">i authorize shipment release.</label></td>
          </tr>
        </table>
        <dl>
          <dt><span class="label">apply delivery instructions to:</span></dt>
          <dd>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
                <td scope="row" ><label for="repl_id" class="sel">the current shipment</label></td>
              </tr>
              <tr>
                <td scope="row" class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id"></td>
                <td scope="row" ><label for="repl_id" class="sel">all my inbound shipments</label></td>
              </tr>
            </table>
          </dd>
        </dl>
      </div>
      
      <!-- /////////////////////////////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Security Code/Leave At - Require Authentication -->
      <div id="pnl_1_6">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">Verify Now</a> to access this UPS My Choice feature.</span></dd>
        </dl>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
            <span class="indent"><a href="repl_href">Verify Now</a> to access this UPS My Choice feature.</span> </dd>
        </dl>
        <dl>
          <dt><span class="label">authorize shipment release:</span></dt>
          <dd>
            <p>I authorize ups to release packages addressed to my residence when no one is present to accept delivery.</p>
            <p>I understand that a ups delivery record will be conclusive proof of delivery and I accept all responsibility for any loss or damage after it is released.</p>
            <p>I understand that ups retains sole and unlimited discretion to honor my authorized shipment release request for any package (and may not due to delivery conditions such as adverse weather or safety.</p>
            <p><strong>note:</strong> the leave at instructiosn will only be applied if you authorize shipment release.</p>
          </dd>
        </dl>
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td scope="row" class="sel"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id"></td>
            <td scope="row" ><label for="repl_id" class="sel">i authorize shipment release.</label></td>
          </tr>
        </table>
      </div>
      
      <!-- ////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Signature Required -->
      <div id="pnl_1_7">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">edit</a></span></dd>
        </dl>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">authorize shipment release:</span></dt>
          <dd>
            <p>I authorize ups to release packages addressed to my residence when no one is present to accept delivery.</p>
            <p>I understand that a ups delivery record will be conclusive proof of delivery and I accept all responsibility for any loss or damage after it is released.</p>
            <p>I understand that ups retains sole and unlimited discretion to honor my authorized shipment release request for any package (and may not due to delivery conditions such as adverse weather or safety.</p>
            <p><strong>note:</strong> the leave at instructiosn will only be applied if you authorize shipment release.</p>
          </dd>
        </dl>
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td scope="row" class="sel"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id"></td>
            <td scope="row" ><label for="repl_id" class="sel">i authorize shipment release.</label></td>
          </tr>
        </table>
      </div>
      
      <!-- //////////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - ASR - Require Authentication -->
      <div id="pnl_1_8">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">edit</a></span></dd>
        </dl>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">authorize shipment release:</span></dt>
          <dd></dd>
        </dl>
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td scope="row" class="sel"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id" disabled></td>
            <td scope="row" ><label for="repl_id" class="sel disabled">i authorize shipment release.</label></td>
          </tr>
        </table>
        <p><a href="repl_href">Verify Now</a> to access this UPS My Choice feature.</p>
      </div>
      
      <!-- /////////////////////////////////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - ASR - Require Authentication - Allowed Location Set -->
      <div id="pnl_1_9">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">edit</a></span></dd>
        </dl>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">authorize shipment release:</span></dt>
          <dd><strong>Note:</strong> based on your selection, a signature is required from teh person accepting a package on your behalf.</dd>
        </dl>
      </div>
      
      <!-- //////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Adult Signature Required -->
      <div id="pnl_1_10">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">edit</a></span></dd>
        </dl>
      </div>
      
      <!-- //////////////////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Shipper Blocks Release Authorization -->
      <div id="pnl_1_11">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">edit</a></span></dd>
        </dl>
        <dl>
          <dt><span class="label">authorize shipment release:</span></dt>
          <dd>
            <p class="error">&gt;&gt;&gt; Online shipment release authorization is not available for this package because a signature is required by the shipper.</p>
          </dd>
        </dl>
      </div>
      
      <!-- ///////////////////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Cancel Shipment Release Authorization -->
      <div id="pnl_1_12">
        <p>are you sure you want to cancel the shipment release authorization for this shipment?</p>
      </div>
      
      <!-- //////////////////////////////////////////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - Release Authorization Not Allowed Based on Leave At Location -->
      <div id="pnl_1_13">
        <p class="error">&gt;&gt;&gt; error messaging placeholder</p>
        <p>enter your driver instructions and select <strong>ok</strong>.</p>
        <dl class="outHozFlex clearfix">
          <dt>
            <label for="repl_id">security code entered:</label>
          </dt>
          <dd>no<span class="indent"><a href="repl_href">edit</a></span></dd>
        </dl>
        <dl>
          <dt>
            <label for="repl_id">leave at:</label>
          </dt>
          <dd>
            <select name="repl_name" id="repl_id">
              <option value="" selected>none selected</option>
              <option value="">{1234567890 1234567890}</option>
            </select>
          </dd>
        </dl>
        <p><strong>note:</strong> this will also apply to all other packages delivered on the same date.</p>
        <dl>
          <dt><span class="label">authorize shipment release:</span></dt>
          <dd>you can not authorize shipment release for the selected <strong>leave at</strong> location.  a signature is required in order for ups to deliver the package.</dd>
        </dl>
      </div>
      
      <!-- /////////////////////////////// --> 
      <!-- Delivery Instructions - Up-Sell -->
      <div id="pnl_1_14">
        <div class="cmsMsg"> 
          <!-- begin WCMS --> 
          <!-- //////////////////////////////////////////////////////////////////////////// --> 
          <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_security_code.html" --> 
          <!-- //////////////////////////////////////////////////////////////////////////// --> 
          <!-- end WCMS --> 
        </div>
      </div>
      
      <!-- /////////////////////////////////////////////////// --> 
      <!-- Delivery Instructions - MYC Authentication Required -->
      <div id="pnl_1_15">
        <p>verify now to access this ups my choice feature.</p>
        <p>select <strong>continue</strong> to verify membership.</p>
      </div>
    </div>

<!-- BEGIN ICDEV Dynamic Panel Widget -->
<div id="">
  <dl role="presentation">
    <dt>
      <label for="dyn_pnl_select_1">Delivery Instructions Module:</label>
    </dt>
    <dd>
      <select id="dyn_pnl_select_1" class="formcol5">
        <option value="1">Default - No Security Code</option>
        <option value="2">Security Code Entered</option>
        <option value="3">Edit Secutiry Code</option>
        <option value="4">Example Security Code Suppressed</option>
        <option value="5">Non-Driver-Release</option>
        <option value="6">Security Code/Leave At - Require Authentication</option>
        <option value="7">Signature Required</option>
        <option value="8">ASR - Require Authentication</option>
        <option value="9">ASR - Require Authentication - Allowed Location Set</option>
        <option value="10">Adult Signature Required</option>
        <option value="11">Shipper Blocks Release Authorization</option>
        <option value="12">Cancel Shipment Release Authorization</option>
        <option value="13">Release Authorization Not Allowed Based on Leave At Location</option>
        <option value="14">Up-Sell</option>
        <option value="15">MYC Authentication Required</option>
      </select>
    </dd>
  </dl>
</div>
	
<!-- END ICDEV Dynamic Panel Widget --> 

<script type="text/javascript">
$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,dialogClass:'modal',width:630});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});
</script>


<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////                                                                          ////// -->
<!-- //////   *****      DO NOT USE THE FOLLOWING IDs IN PRODUCTION CODE      *****    ///// -->
<!-- /////                                                                              //// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////                                                                            ///// -->
<!-- ///////         ****   all id="dyn_pnl_1" through id="dyn_pnl_nn"   ****         ////// -->
<!-- ////////        ****   all id="pnl_1_1" through id="pnl_nn_nn"      ****        /////// -->
<!-- /////////                                                                      //////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->

</div>

