---
title: ct1_tra_umc_reg_unsubscribe
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       

      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod clearfix"> 
          
          <!-- Begin Application Header -->
          <div class="appHead clearfix">
            <h2>UPS My Choice Manage Settings</h2>
          </div>
          <!-- End Application Header --> 
          
          <!-- Begin Application Body -->
          <div class="appBody clearfix"> 
            
            <!-- Begin Section Level --> 
            <!-- Begin Column -->
            <div class="secLvl seccol18 marginBegin">
              <h4 class="secLvlPad">Log in to your UPS My Choice<sup>&reg;</sup></h4>
              <div class="clear"> </div>
              <div class="cmsMsg callToAction">
                <div class="cmsMsg"> 
                  
                  <!-- begin WCMS --> 
                  <!-- //////////////////////////////////////////////////////////////////////////// --> 
                  
                  <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_msg2.html" --> 
                  <!-- //////////////////////////////////////////////////////////////////////////// --> 
                  <!-- end WCMS --> 
                  
                </div>
              </div>
              <div class="cmsMsg callToAction">
                <div class="cmsMsg"> 
                  
                  <!-- begin WCMS --> 
                  <!-- //////////////////////////////////////////////////////////////////////////// --> 
                  
                  <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_umc_cancelmembership.html" --> 
                  <!-- //////////////////////////////////////////////////////////////////////////// --> 
                  <!-- end WCMS --> 
                  
                </div>
              </div>
            </div>
            <!-- End Column --> 
            <!-- End Section Level --> 
            
            <!-- Begin Column -->
            <div class="secLvl seccol6 marginEnd">
              <div class="cmsMsg callToAction"> </div>
              <div class="clear"></div>
            </div>
          </div>
          
          <!-- End Column --> 
          
        </div>
        <!-- End Application Body --> 
        <!-- Begin Application Footer --> 
        
        <!-- End Application Module -->
        
      </form>
	
</div>
