---
title: ct1_tra_umc_manage_addresses
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       

      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod clearfix">
          <fieldset>
            <legend></legend>
            
            <!-- Begin Application Header -->
            <div class="appHead clearfix">
              <h2>ups my choice<sup>sm</sup> manage delivery addresses</h2>
            </div>
            <!-- End Application Header --> 
            
            <!-- Begin Application Body -->
            <div class="appBody clearfix"> 
              
              <!-- Error Message Placeholder --><!--<p class="error">{ >>> error message.}</p>-->
              <p>can manage your ups my choice delivery address and membership settings below.  if you need to add another delivery address, select <strong>add a new delivery address</strong>.  Required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
              
              <!-- Begin Sub Section Module -->
              <div class="secLvl secLvlPlain clearfix">
                <fieldset>
                  <legend></legend>
                  
                  <!-- Begin Sub Header -->
                  <div class="secHead clearfix">
                    <h4>your current delivery address(es):</h4>
                  </div>
                  <!-- End Sub Header --> 
                  
                  <!-- Begin Sub Body -->
                  <div class="secBody">
                    <table class="dataTable full">
                      <tr>
                        <th scope="col">delivery address description</th>
                        <th scope="col">delivery address</th>
                        <th scope="col">expiration date</th>
                        <th scope="col">change<br/>
                          membership<br/>
                          level</th>
                        <th scope="col">renew<br/>
                          current<br/>
                          membership</th>
                        <th scope="col"><label for="repl_id"><a href="repl_href">activate</a></label></th>
                        <th scope="col">cancel</th>
                        <th scope="col">preferences</th>
                      </tr>
                      <tr class="odd">
                        <td scope="row">saved location</td>
                        <td scope="row" class="nowrap">street address <br/>
                          city, state zip</td>
                        <td scope="row">Your membership will not expire unless you cancel.</td>
                        <td scope="row"><a href="">to premium member</a></td>
                        <td scope="row"><a href="">renew</a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href="">cancel</a></td>
                        <td scope="row"><a href="">preferences</a></td>
                      </tr>
                      <tr>
                        <td scope="row">saved location</td>
                        <td scope="row" class="nowrap">street address <br/>
                          city, state zip</td>
                        <td scope="row">{cancelled, pending, expiration} on mm/dd/yyyy</td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href="">reactivate</a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href="">preferences</a></td>
                      </tr>
                      <tr class="odd">
                        <td scope="row">saved location</td>
                        <td scope="row" class="nowrap">street address <br/>
                          city, state zip</td>
                        <td scope="row">expired on mm/dd/yyyy</td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href="">reactivate</a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href="">preferences</a></td>
                      </tr>
                      <tr>
                        <td scope="row">saved location</td>
                        <td scope="row" class="nowrap">street address <br/>
                          city, state zip</td>
                        <td scope="row">cancelled on </td>
                        <td scope="row"><a href="">to member</a></td>
                        <td scope="row"><a href="">renew</a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href="">cancel</a></td>
                        <td scope="row"><a href="">preferences</a></td>
                      </tr>
                      <tr class="odd">
                        <td scope="row">saved location</td>
                        <td scope="row" class="nowrap">street address <br/>
                          city, state zip</td>
                        <td scope="row"> pending entry of activation code. please complete enrollment with activation code by mm/dd/yyyy.<br>
                          <a href="repl_href">Enter Code</a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row" nowrap><a href="">enter code</a></td>
                        <td scope="row"><a href=""></a></td>
                        <td scope="row"><a href=""></a></td>
                      </tr>
                      
                      <!-- Begin Manage Delivery Addresses 7307 --> 
                      <!--                                                <tr>
													<td scope="row">la villa</td>
													<td scope="row" class="nowrap">9876 Hollywood Blvd. <br/>Los Angeles, CA 90028</td>
													<td scope="row">Pending entry of activation code</td>
													<td scope="row"><a href=""></a></td>
													<td scope="row"><a href=""></a></td>
													<td scope="row" class="nowrap"><a href="">Enter Code</a></td>
													<td scope="row"><a href=""></a></td>
													<td scope="row"><a href=""></a></td>
												</tr>
--> 
                      <!-- End Manage Delivery Addresses 7307 -->
                      
                    </table>
                  </div>
                  <!-- End Sub Body -->
                  
                </fieldset>
              </div>
              <!-- End Sub Module --> 
              <!-- End Section Body -->
              
              <ul>
                <li><a href="" class="btnlnkL plusMini">add a new delivery address</a></li>
              </ul>
            </div>
            <!-- End Application Body --> 
            
            <!-- Begin Application Footer -->
            <div class="appFooter"> 
              <!-- Begin Button Bar Row -->
              <div class="btnBar">
                <input name="" type="button" value="back to the delivery planner" class="btnBackArw">
              </div>
              <!-- End Button Bar Row --> 
            </div>
            <!-- End Application Footer -->
            
          </fieldset>
        </div>
        <!-- End Application Module -->
        
      </form>
	
</div>
