---
title: ct1_tra_umc_deliverysettings
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       
		
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////                                                                          ////// -->
<!-- //////   *****      DO NOT USE THE FOLLOWING IDs IN PRODUCTION CODE      *****    ///// -->
<!-- /////                                                                              //// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////                                                                            ///// -->
<!-- ///////         ****   all id="dyn_pnl_1" through id="dyn_pnl_nn"   ****         ////// -->
<!-- ////////        ****   all id="pnl_1_1" through id="pnl_nn_nn"      ****        /////// -->
<!-- /////////                                                                      //////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->


      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod clearfix">
          <fieldset>
            <legend></legend>
            
            <!-- Begin Application Header -->
            <div class="appHead clearfix">
              <h2>UPS My Choice Delivery Options</h2>
            </div>
            <!-- End Application Header --> 
            
            <!-- Begin Application Body -->
            <div class="appBody">
              <p> To set <a href="repl_href">UPS Access Point</a> or home	delivery preference that will apply to all packages, please select one the options below, then select <strong>Save Changes.</strong> </p>
              <p> <strong>Note: </strong> Your selected delivery option will be applied to all <a href="repl_href" class="btnlnkR helpIconR">eligibale shipments</a>. </p>
              <!-- Begin Delivery Options -->
              <div class="secLvl step">
                <div class="secHead clearfix">
                  <div class="stepnumberDiv">
                    <div class="stepNumber">1</div>
                  </div>
                  <h3>Delivery Options</h3>
                </div>
                <div class="secbody">
                  <p class="error">&gt;&gt;&gt; Error Message</p>
                  <div class="group">
                    <p class="group"> Your current delivery options are displayed below. Select <strong>Edit</strong> to update your delivery options. </p>
                    <p> Your selected delivery option will be applied to all <a href="repl_href">eligible shipments</a> unless restricted by the shipper or legal or regulatory reasons. </p>
                  </div>
                  <div class="group">
                    <div class="group">
                      <p> <span class="label">UPS Access Point</span><span class="indent"><a href="repl_href">Edit</a></span> </p>
                      <p> Send all packages to my preferred UPS Access Point </p>
                    </div>
                    <dl>
                      <dt>The UPS Store</dt>
                      <dd> 1234 Hill Street<br>
                        Suite A<br>
                        Roswell, GA, US 30076<br>
                        Telephone: 555-444-4545<br>
                        store1234@email.com<br>
                      </dd>
                    </dl>
                  </div>
                  <dl>
                    <dt>
                      <label>Would you like to set a delivery preference that will apply to all of your packages?</label>
                    </dt>
                    <dd class="indent">
                      <ul>
                        <li>
                          <input type="radio" name="repl_name" id="repl_id" value="" checked="checked">
                          &nbsp;Send all packages directly to my preferred UPS Access Point without attempting delivery to my address.
                          <div class="indent group">
                            <input type="button" name="repl_name" id="repl_id" value="Choose a Location" class="btn">
                            <p class="group"> <strong>Note: </strong>You will be charged a ($5) per package fee for all packages delivered to a UPS Access Point.<br>
                              <strong>Note: </strong>Your delivery instructions will not apply to packages that are rerouted to a UPS Access Point.<br>
                            </p>
                          </div>
                        </li>
                        <li>
                          <input type="radio" name="repl_name" id="repl_id" value="" >
                          &nbsp;Send all packages to my preferred UPS Access Point only after making a first delivery attempt to my address.
                          <div class="indent group">
                            <input type="button" name="repl_name" id="repl_id" value="Choose a Location" class="btn">
                            <p> <strong>Note: </strong>Your delivery instructions will not apply to packages that are rerouted to a UPS Access Point.<br>
                            </p>
                          </div>
                        </li>
                        <li>
                          <input type="radio" name="repl_name" id="repl_id" value="" >
                          &nbsp;Make up to three delivery attempts to my address.
                          <div class="indent group">
                            <p > <strong>Note: </strong>You will be charged a ($5) per package fee for all packages delivered to a UPS Access Point.<br>
                            </p>
                          </div>
                        </li>
                      </ul>
                      <a href="repl_href">clear selection</a> </dd>
                  </dl>
                </div>
              </div>
              <!-- End Delivery Options--> 
              
              <!-- Begin Alternate UPS Access Point -->
              <div class="secLvl step">
                <div class="secHead clearfix">
                  <div class="stepnumberDiv">
                    <div class="stepNumber">2</div>
                  </div>
                  <h3>Alternate UPS Access Point (Optional)</h3>
                </div>
                <div class="secbody">
                  <div class="group">
                    <p> You can choose an alternative UPS Access Point in the event that your preferred location is unable to receive packages at the time of delivery. If no selection is made, we will reattempt delivery to your preferred location the following day. </p>
                    <input type="button" name="repl_name" id="repl_id" value="Choose a Location" class="btn">
                  </div>
                </div>
              </div>
              <!-- End Alternate UPS Access Point --> 
              
              <!-- Begin Payment Information -->
              <div class="secLvl step">
                <div class="secHead clearfix">
                  <div class="stepnumberDiv">
                    <div class="stepNumber">3</div>
                  </div>
                  <h3>Payment Information</h3>
                </div>
                <div class="secbody">
                  <p> Please enter your payment information below. </p>
                  <dl>
                    <dt>
                      <label for="repl_for">Payment Method:</label>
                    </dt>
                    <dd>
                      <select name="repl_name" id="repl_id" >
                        <option value="">Select One</option>
                      </select>
                    </dd>
                  </dl>
                </div>
              </div>
              <!-- End Payment Information --> 
              
            </div>
            
            <!-- End Application Body --> 
            
            <!-- Begin App Footer -->
            <div class="appFooter">
              <div class="btnBar">
                <input type="button" name="repl_name" value="Cancel" class="btn">
                <input type="button" name="repl_name" value="Save Changes" class="btn btnArw">
              </div>
            </div>
            <!-- End App Footer -->
          </fieldset>
        </div>
        <!-- End Application Module -->
        
      </form>
</div>
