---
title: ct1_tra_umc_dlg_printpdn
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       
	{{> background_modal_content }}

<div class="appLvl mod modal dialog">
  <div class="appHead clearfix noprint">
    <h2>ups my choice<sup>SM</sup> - printable ups infonotice&reg;</h2>
    <ul>
      <li>
        <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
      </li>
    </ul>
  </div>
  <div class="appBody"> 
    
    <!-- Begin Section Module -->
    <div class="secLvl clearfix">
      <fieldset>
        <legend></legend>
        <!-- Begin Section Header -->
        <div class="secHead clearfix onlyPrint">
          <div class="floatBegin"><img height="55" width="42" border="0" src="/img/glo_ups_brandmark_pfv.gif" alt="repl_alt_text"></div>
          <h3>ups my choice<sup>sm</sup><br>
            printable ups infonotice&reg;</h3>
        </div>
        <!-- End Section Header --> 
        <!-- Begin Section Body -->
        <div class="secBody">
          <p>legal content goes here ... lorem ipsum dolar sit amet, consectetuer adipiscing elit. donec odio. quisque volupat mattis eros. nullam malesuada erat ut turpis. suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          <dl class="outHozFlex clearfix">
            <dt>
              <label for="repl_id">ups tracking number:</label>
            </dt>
            <dd><strong>1z1234567890123456</strong></dd>
          </dl>
          <dl class="outHozFlex clearfix">
            <dt>
              <label for="repl_id">name:</label>
            </dt>
            <dd>
              <div class="alignCenter" style="border-bottom:1px solid #000; width:450px;">&nbsp;</div>
              <div class="reqTxtInst alignCenter" style="width:450px;">(print)</div>
            </dd>
          </dl>
          <dl class="outHozFlex clearfix">
            <dt>
              <label for="repl_id">signature:</label>
            </dt>
            <dd>
              <div class="alignCenter" style="border-bottom:1px solid #000; width:450px;">&nbsp;</div>
              <div class="reqTxtInst alignCenter" style="width:450px;">(signature)</div>
            </dd>
          </dl>
          <dl class="inline clearfix">
            <dt>
              <label for="repl_id">date:</label>
            </dt>
            <dd>
              <div class="alignCenter" style="border-bottom:1px solid #000; width:70px;">&nbsp;</div>
            </dd>
            <dd>/</dd>
            <dd>
              <div class="alignCenter" style="border-bottom:1px solid #000; width:70px;">&nbsp;</div>
            </dd>
            <dd>/</dd>
            <dd>
              <div class="alignCenter" style="border-bottom:1px solid #000; width:70px;">&nbsp;</div>
            </dd>
          </dl>
        </div>
        <!-- End Section Body -->
        
      </fieldset>
    </div>
    <!-- End Section Module --> 
    
  </div>
  <div class="appFooter">
    <div class="btnBar alignCenter">
      <input name="" type="button" value="close" class="btn">
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:670});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});

</script>
</div>
