---
title: ct1_tra_umc_cancelmembership_confirmation
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////                                                                          ////// -->
<!-- //////   *****      DO NOT USE THE FOLLOWING IDs IN PRODUCTION CODE      *****    ///// -->
<!-- /////                                                                              //// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- //////                                                                            ///// -->
<!-- ///////         ****   all id="dyn_pnl_1" through id="dyn_pnl_nn"   ****         ////// -->
<!-- ////////        ****   all id="pnl_1_1" through id="pnl_nn_nn"      ****        /////// -->
<!-- /////////                                                                      //////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////// -->


      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod clearfix">
          <fieldset>
            <legend></legend>
            
            <!-- Begin Application Header -->
            <div class="appHead clearfix">
              <h2>ups my choice<sup>sm</sup> cancel membership confirmation</h2>
            </div>
            <!-- End Application Header --> 
            
            <!-- Begin Application Body -->
            <div class="appBody clearfix">
              <h4>ups my choice - cancel membership confirmation</h4>
              <p>the following ups my choice enrollment has been cancelled, and your access will expire on the date listed below.  you can keep this membership active by selecting <strong>reactivate membership</strong>.</p>
              <dl class="outHozFixed clearfix">
                <dt>
                  <label for="repl_id">primary recipient:</label>
                </dt>
                <dd>john smith</dd>
              </dl>
              <dl class="outHozFixed clearfix">
                <dt>
                  <label for="repl_id">residential delivery address:</label>
                </dt>
                <dd> 1234 apple blossom lane<br>
                  roswell, ga, us<br>
                  30076 </dd>
              </dl>
              <dl class="outHozFixed clearfix">
                <dt>
                  <label for="repl_id">delivery address description:</label>
                </dt>
                <dd>my house</dd>
              </dl>
              <dl class="outHozFixed clearfix">
                <dt>
                  <label for="repl_id">membership expiration date:</label>
                </dt>
                <dd>mm/dd/yyyy</dd>
              </dl>
              <div style="clear:both;"></div>
            </div>
            <!-- End Application Body --> 
            
            <!-- Begin Application Footer -->
            <div class="appFooter"> 
              <!-- Begin Button Bar Row -->
              <div class="btnBar">
                <input name="" type="button" value="reactivate membership" class="btn">
              </div>
              <!-- End Button Bar Row --> 
            </div>
            <!-- End Application Footer -->
          </fieldset>
        </div>
        <!-- End Application Module -->
        <div>
          <p><a href="repl_href" class="btnlnkL arrowBackIcon">back to manage delivery addresses</a></p>
        </div>
      </form>
</div>

