---
title: ct1_tra_umc_{vacation/holiday}settings
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">


<form action="repl_fname">

<!-- Begin Application Module -->
<div class="appLvl col24 mod clearfix">
  <fieldset>
	<legend></legend>

	<!-- Begin Application Header -->
	<div class="appHead clearfix">
	  <h2>ups my choice {vacation/holiday} settings</h2>
	</div>
	<!-- End Application Header --> 

	<!-- Begin Application Body -->
	<div class="appBody clearfix">
	  <h3>[add a/edit] {vacation/holiday}s</h3>
	  <p>For trips lasting up to seven days, you can choose to have packages delivered to a UPS UPS Access Point.  And for trips lasting up to 14 days you can have packages delivered to your home up to three business days after you return.</p>
	  <p>The selected delivery option will be aplied to all shipments scheduled for delivery during your travel unless restricted by the shipper, legal, or regulatory reasons.</p>
	  <p><strong>Note:</strong> Members will be charged a {$5} per package fee for all packages rescheduled or delivered to a UPS UPS Access Point.  There is no additional charge for Premium Members.</p>
	  <table border="0" cellspacing="0" cellpadding="0" class="dataTable full">
		<tr>
		  <th scope="col">upcoming {vacation/holiday}</th>
		  <th scope="col">{vacation/holiday} settings</th>
		  <th scope="col">edit:</th>
		  <th scope="col">remove:</th>
		</tr>
		<tr class="odd">
		  <td scope="row">mm/dd/yyyy - mm/dd/yyyy</td>
		  <td scope="row">reschedule delivery for mm/dd/yyyy</td>
		  <td scope="row"><a href="" class="btnlnk">edit</a></td>
		  <td scope="row"><input name="" type="image" src="/img/1.gif" width="14" height="14" value="" class="crossMini crossMiniTypeImg"></td>
		</tr>
		<tr class="odd">
		  <td></td>
		  <td colspan="3"><!-- Map Place Holder --></td>
		</tr>
		<tr>
		  <td scope="row">mm/dd/yyyy - mm/dd/yyyy</td>
		  <td scope="row">deliver to a ups UPS Access Point<br>
			<br>
			the ups store<br>
			1234 hill street<br>
			suite a<br>
			roswell, ga, us 30076<br>
			telephone: nnn-nnn-nnnn<br>
			emailaddress@theupsstore.com<br>
			<br>
			<p> {Additional information about the locker bay size <br>
			  the parcel locker, and package restrictions is <br>
			  displayed here...final content TBD.} </p>

			<!--<input name="" type="button" value="show driving directions" class="btnlnkL plusMini">-->
			<input name="" type="button" value="hide driving directions" class="btnlnkL minusMini"></td>
		  <td scope="row"><a href="" class="btnlnk">edit</a></td>
		  <td scope="row"><input name="" type="image" src="/img/1.gif" width="14" height="14" value="" class="crossMini crossMiniTypeImg"></td>
		</tr>
		<tr>
		  <td></td>
		  <td colspan="3"><!-- Begin Sub Module -->

			<div class="secLvl secLvlPlain clearfix" style="display:block">
			  <fieldset>
				<legend></legend>
				<!-- Begin Sub Header -->
				<div class="secHead clearfix">
				  <h4>map and driving directions</h4>
				</div>
				<!-- End Sub Header --> 
				<!-- Begin Sub Body -->
				<div class="secBody">
				  <p><img alt="" src="/img_fpo/other/fpo-400x200.gif" width="400" height="200"></p>
				  <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
					<tr>
					  <th colspan="2" scope="col">directions</th>
					  <th class="alignEnd" scope="col">distance</th>
					</tr>
					<tr class="odd">
					  <td colspan="2" scope="row">1. {text}</td>
					  <td class="alignEnd" scope="row">{n.nn}</td>
					</tr>
					<tr>
					  <td colspan="2" scope="row">2. {text}</td>
					  <td class="alignEnd" scope="row">{n.nn}</td>
					</tr>
					<tr class="odd">
					  <td colspan="2" scope="row">3. {text}</td>
					  <td class="alignEnd" scope="row">{n.nn}</td>
					</tr>
					<tr class="totals">
					  <td colspan="3" scope="row"><dl class="outHozFixed outHozFixedCol5">
						  <dt>estimated distance:</dt>
						  <dd>{n.nn miles}</dd>
						</dl></td>
					</tr>
				  </table>
				</div>
				<!-- End Sub Body -->
			  </fieldset>
			</div>

			<!-- End Sub Module --></td>
		</tr>
		<tr>
		  <td colspan="4"><p><strong>note: </strong> the ups UPS Access Point listed above will hold your shiment for seven calendar days. shipments not picked up during this time will be returned to the shipper.</p>
			<dl>
			  <dt>
				<label for="repl_id7208">e-mail my vaction information to:</label>
			  </dt>
			  <dd>
				<input type="text" id="repl_id7208" value="jsmith@email.com" class="formcol7">
				<input name="" type="submit" value="send" class="btnArw">
			  </dd>
			</dl>
			<p><a href="">print my {vacation/holiday} information</a></p></td>
		</tr>
	  </table>
	  <p> <strong>Note: </strong> {Vacation/Holiday} Settings will take priority over your regular delivery options. </p>
	  <ul>
		<li>
		  <input name="" type="button" value="add a {vacation/holiday}" class="btnlnkL plusMini">
		</li>
	  </ul>

	  <!-- Begin Section Module -->
	  <div class="secLvl secLvlPlain clearfix">
		<fieldset>
		  <legend></legend>
		  <!-- Begin Section Header -->
		  <div class="secHead clearfix">
			<h3>[add a/edit] {vacation/holiday}</h3>
		  </div>
		  <!-- End Section Header --> 
		  <!-- Begin Section Body -->
		  <div class="secBody">
			<p>for {vacation/holiday}s up to 14 days long, ups can reschedule your deliveries for a later date.</p>
			<p>for {vacation/holiday}s up to 7 days long, ups can either reschedule your deliveries for a later date, or deliver your shipments to a nearby ups UPS Access Point.</p>
			<p>enter your {vacation/holiday} dates and select <strong>show delivery options</strong>, then select the delivery option you want. this will automatically be applied to all shipments scheduled for delivery during your {vacation/holiday}, unless restricted by the shipper, legal, or a regulatory reasons.</p>
			<p><strong>note:</strong> a transaction fee will be charged for each package delivered during you {vacation/holiday} period.</p>
			<!-- Begin Section Module -->
			<div class="secLvl step clearfix">
			  <fieldset>
				<legend></legend>

				<!-- Begin Section Header -->
				<div class="secHead clearfix">
				  <div class="stepNumberDiv"><span class="stepNumber">1</span></div>
				  <h3>{vacation/holiday} dates</h3>
				</div>
				<!-- End Section Header --> 
				<!-- Begin Section Body -->
				<div class="secBody clearfix"> 

				  <!-- must use this format otherwise the gif overlays the input box on the right -->
				  <div>
					<input id="repl_id" class="hasDatepicker" type="text" size="11" value="mm/dd/yyyy" name="">
					<img class="ui-datepicker-trigger" src="/img/icn_calendar.gif" alt="" title="">
					<label for="repl_id">to</label>
					<input id="repl_id" class="hasDatepicker" type="text" size="11" value="mm/dd/yyyy" name="">
					<img class="ui-datepicker-trigger" src="/img/icn_calendar.gif" alt="" title="">
					<button type="button" value="" class="button btnGroupLnk" id="repl_id">show delivery options</button>
				  </div>
				</div>
				<!-- End Section Body -->
			  </fieldset>
			</div>
			<!-- End Section Module --> 

			<!-- Begin Section Module -->
			<div class="secLvl step clearfix">
			  <fieldset>
				<legend></legend>

				<!-- Begin Section Header -->
				<div class="secHead clearfix">
				  <div class="stepNumberDiv"><span class="stepNumber">2</span></div>
				  <h3>{vacation/holiday} delivery options</h3>
				</div>
				<!-- End Section Header --> 
				<!-- Begin Section Body -->
				<div class="secBody clearfix"> 

				  <!-- START {vacation/holiday} Settings - None -->
				  <p>enter your {vacation/holiday} dates above and select <strong>show delivery options</strong> to see the available options.</p>
				  <!-- FINISH {vacation/holiday} Settings - None --> 

				  <!-- START {vacation/holiday} Settings - Reschedule -->
				  <div class="clearfix">
					<p>based on your {vacation/holiday} dates, ups can reschedule the delivery of your shipments for a later date. select your preferred data below.</p>
					<dl>
					  <dt>
						<label for="repl_id">reschedule delivery for:</label>
					  </dt>
					  <dd>
						<select id="repl_id">
						  <option>Monday, mm/dd/yyyy</option>
						  <option>Tuesday, mm/dd/yyyy</option>
						  <option>Wednesday, mm/dd/yyyy</option>
						</select>
					  </dd>
					</dl>
				  </div>
				  <!-- FINISH {vacation/holiday} Settings - Reschedule --> 

				  <!-- START {vacation/holiday} Settings - Reschedule OR Redirect -->
				  <p>based on your {vacation/holiday} dates, you can reschedule the delivery of your shipments for a later date or deliver them to a participating ups UPS Access Point so you can pick them up when you get back from {vacation/holiday}.</p>
				  <p><strong>note:</strong> additonal transportation charges may apply to packages delivered to a ups UPS Access Point based on the final delivery address.</p>
				  <dl class="group">
					<dt>
					  <label for="repl_id">{vacation/holiday} delivery options:</label>
					</dt>
					<dd>what would you like ups to do with shipments scheduled for delivery during your {vacation/holiday}?</dd>
				  </dl>
				  <table border="0" cellpadding="0" cellspacing="0">
					<tr>
					  <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked="checked"></td>
					  <td><label for="repl_id">reschedule delivery for</label>
						<br>
						<select id="repl_id">
						  <option>Monday, mm/dd/yyyy</option>
						  <option>Tuesday, mm/dd/yyyy</option>
						  <option>Wednesday, mm/dd/yyyy</option>
						</select></td>
					</tr>
					<tr>
					  <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id"></td>
					  <td><label for="repl_id">deliver to a ups UPS Access Point</label>
						<div>
						  <button name="" type="button" value="" class="button btnGroupLnk">show locations near me</button>
						  <button name="" type="button" value="" class="button btnGroupLnk arrowIconRight">show locations near another address</button>
						</div></td>
					</tr>
				  </table>
				  <!-- FINISH {vacation/holiday} Settings - Reschedule OR Redirect --> 

				  <!-- Begin Section Module -->
				  <div class="secLvl clearfix">
					<fieldset>
					  <legend></legend>
					  <!-- Begin Section Body -->
					  <div class="secBody">
						<dl>
						  <dt>
							<label for="repl_id">ups UPS Access Point near:</label>
							<a href="repl_href" class="indent">edit</a> </dt>
						  <dd>street<br>
							city, state zip</dd>
						</dl>
						<p class="error">&gt;&gt;&gt;error message here</p>
						<p><strong>note:</strong> include a complete address for the best search results.</p>

						<!-- Begin Sub Module -->
						<div class="secLvl secLvlPlain clearfix">
						  <fieldset>
							<legend></legend>
							<div class="secBody clearfix"> 
							  <!-- Begin Sub Body -->
							  <fieldset>
								<legend></legend>
								<dl>
								  <dt>
									<label for="">address book:</label>
								  </dt>
								  <dd>
									<select name="" id="repl_id">
									  <option value="">select one</option>
									</select>
								  </dd>
								</dl>

								<!-- Begin Column -->
								<div class="subcol9 marginBegin">
								  <dl>
									<dt>
									  <label id="repl_id" for="repl_id">country or territory:</label>
									</dt>
									<dd>united states</dd>
									<dt>
									  <label id="repl_id" for="repl_id">address line 1:</label>
									</dt>
									<dd>
									  <input name="" type="text" id="repl_id" value="1234 street" size="32">
									  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
									<dt>
									  <label id="repl_id" for="repl_id">address line 2:</label>
									</dt>
									<dd>
									  <input name="" type="text" id="repl_id" size="32">
									  <div class="reqTxtInst">instructional text</div>
									</dd>
									<dt>
									  <label id="repl_id" for="repl_id">address line 3:</label>
									</dt>
									<dd>
									  <input name="" type="text" id="repl_id" size="32">
									  <div class="reqTxtInst">instructional text</div>
									</dd>
								  </dl>
								</div>
								<!-- End Column --> 

								<!-- Begin Column -->
								<div class="subcol14 marginEnd">
								  <dl class="group">
									<dt>
									  <label id="repl_id" for="repl_id" class="error">&gt;&gt;&gt;city:</label>
									</dt>
									<dd>
									  <input name="" type="text" id="repl_id" value="city" size="32">
									  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
									<dt>
									  <label id="repl_id" for="repl_id">state:</label>
									</dt>
									<dd>
									  <select name="" id="repl_id">
										<option value="">select one</option>
										<option value="" selected>state</option>
									  </select>
									  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
									<dt>
									  <label id="repl_id" for="repl_id">zip code:</label>
									</dt>
									<dd>
									  <input name="" type="text" id="repl_id" value="nnnnnn" size="15">
									  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
								  </dl>
								</div>
								<!-- End Column -->
							  </fieldset>
							  <!-- End Sub Body --> 
							</div>

							<!-- Begin Sub Footer -->
							<div class="secFooter clearfix"> 
							  <!-- Begin Button Bar Row -->
							  <div class="btnBar floatBegin clearfix">
								<button name="" type="button" value="" class="button btnGroupLnk">cancel</button>
								<button name="" type="button" value="" class="button btnGroupLnk arrowIconRight">find</button>
							  </div>
							  <!-- End Button Bar Row --> 
							</div>
							<!-- End Sub Footer -->
						  </fieldset>
						</div>
						<!-- End Sub Module -->

						<p>select a new delivery location from the list of participating ups UPS Access Point below.</p>

						<!-- Begin Sub Module -->
						<div class="secLvl step slider subcol7 marginBegin clearfix">
						  <fieldset>
							<legend></legend>
							<!-- Begin Sub Header -->
							<div class="secHead clearfix">
							  <h3>select a location</h3>
							</div>
							<!-- End Sub Header --> 
							<!-- Begin Sub Body -->
							<div class="secBody scrollWin">
							  <ul class="lstResult">
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin upsstore">1</label>
								  <div class="resultDetails full">
									<div class="floatEnd nowrap">0.2 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin dropbox">2</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">0.3 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin ups_express">3</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">0.6 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin custcenter">4</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">0.7 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin alliance">5</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">1.2 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin mbe">6</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">2.2 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin shippingoutlet">7</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">2.2 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin authserviceprovider">8</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">2.2 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin accesspoint">9</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">2.2 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
								<li>
								  <input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" style="margin-left:-46px;float:left; display:inline;">
								  <label for="repl_fid" class="locationPin kiala">10</label>
								  <div class="resultDetails">
									<div class="floatEnd nowrap">2.2 mi</div>
									<label>{Result Type UPS Location 1}</label>
									<br>
									{address} <br>
									{City, State, ZIP Code} <br>
									{telephone} <br>
									<a href="repl_href">view details</a> </div>
								</li>
							  </ul>
							</div>
							<!-- End Sub Body --> 
							<!-- Begin Sub Footer -->
							<div class="secFooter clearfix"> 
							  <!-- Begin Button Bar Row -->
							  <div class="btnBar alignCenter clearfix">
								<div class="floatEnd"><a href="" class="arrowIconRight">next</a></div>
								<div class="floatBegin"><a href="" class="arrowIconLeft">previous</a></div>
								<span>1-10 of 100</span> </div>
							  <!-- End Button Bar Row --> 
							</div>
							<!-- End Sub Footer -->
						  </fieldset>
						</div>
						<!-- End Sub Module --> 

						<!-- v1 map -->
						<div class="secLvl secLvlPlain subcol16 marginEnd clearfix">
						  <fieldset>
							<legend></legend>
							<!-- Begin Section Header -->
							<div class="secHead clearfix">
							  <h3>driving directions</h3>
							  <ul class="clearfix">
								<li><a href="repl_href" class="btnlnkR printIconR">print</a></li>
								<li><a href="repl_href" class="btnlnkL arrowBackIcon">show all locations</a></li>
							  </ul>
							</div>
							<!-- End Section Header --> 
							<!-- Begin Section Body -->
							<div class="secBody">
							  <dl class="flexFirstPad">
								<dt>
								  <label>from:</label>
								</dt>
								<dd>{address line 1}<br>
								  {city, st, country or territory}<br>
								  {zip} </dd>
							  </dl>
							  <dl class="flexAfter">
								<dt>
								  <label>to:</label>
								</dt>
								<dd>{address line 1}<br>
								  {city, st, country or territory}<br>
								  {zip} </dd>
							  </dl>
							  <div class="clear"></div>
							  <div class="map">
								<p style="width:618px;height:450px;background-color:#cccc99;">Map Element Placeholder</p>
							  </div>
							  <dl class="mapLegend clearfix">
								<dt>
								  <label>UPS Service Locations</label>
								</dt>
								<dd id="upsstore_legend"><a href="repl_href" class="nowrap">The UPS Store</a></dd>
								<dd id="alliance_legend"><a href="repl_href" class="nowrap">UPS Alliance Locations</a></dd>
							  </dl>
							  <p><strong>Note:</strong> Locations, hours of operation, and pickup times may change periodically. A government issued photo ID is required when shipping or picking up a package at a UPS Customer Center. Retail rates may vary.</p>
							  <table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
								<tr class="odd">
								  <td>1. {text}</td>
								  <td class="alignEnd">{n.nn mi}</td>
								</tr>
								<tr>
								  <td>2. {text}</td>
								  <td class="alignEnd">{n.nn mi}</td>
								</tr>
								<tr class="odd">
								  <td>3. {text}</td>
								  <td class="alignEnd">{n.nn mi}</td>
								</tr>
								<tr class="totals">
								  <td colspan="2" class="alignEnd">total driving distance time: {n.nn mi}</td>
								</tr>
							  </table>

							  <!-- Begin Sub Module -->
							  <div class="secLvl step clearfix">
								<fieldset>
								  <legend></legend>
								  <!-- Begin Sub Body -->
								  <div class="secBody">
									<fieldset>
									  <legend></legend>
									  <!-- Begin Column -->
									  <div class="subcol7 marginBegin">
										<dl>
										  <dt>
											<label>the ups store</label>
										  </dt>
										  <dd>{address line 1}<br>
											{city, st, country or territory zip}<br>
											{telephone: {NNN-NNN-NNNN}<br>
											{emailaddress} </dd>
										</dl>
									  </div>
									  <!-- End Column --> 

									  <!-- Begin Column -->
									  <div class="subcol9 marginEnd">
										<label>hours of operation</label>
										<dl class="outHozFixed outHozFixedCol2 clearfix">
										  <dt>
											<label>mon</label>
										  </dt>
										  <dd>0:00 a.m. - 0:00 p.m.</dd>
										  <dt>
											<label>tue</label>
										  </dt>
										  <dd>0:00 a.m. - 0:00 p.m., 0:00 a.m. - 0:00 p.m.</dd>
										  <dt>
											<label>wed</label>
										  </dt>
										  <dd>0:00 a.m. - 0:00 p.m.</dd>
										  <dt>
											<label>thr</label>
										  </dt>
										  <dd>0:00 a.m. - 0:00 p.m.</dd>
										  <dt>
											<label>fri</label>
										  </dt>
										  <dd>0:00 a.m. - 0:00 p.m.</dd>
										  <dt>
											<label>sat</label>
										  </dt>
										  <dd>0:00 a.m. - 0:00 p.m.</dd>
										  <dt>
											<label>sun</label>
										  </dt>
										  <dd>0:00 a.m. - 0:00 p.m.</dd>
										</dl>
									  </div>
									  <!-- End Column -->
									</fieldset>
								  </div>
								  <!-- End Sub Body -->
								</fieldset>
							  </div>
							  <!-- End Sub Module -->

							  <p class="reqTxtInst">these directions are informational only. the information is provided "as is", and no representation is made or warranty given as to the information provided. These directions show one possible route to the locations. they areased on data that may not account for weather cndition, detours, one-way streets, turn restrictions or other coditions. you assume all risk of use. ups and its suppliers assume no responsbility for any loss or damages resulting from your use of the information provided, even if ups or it suppliers have been advised of the possibility of such loss or damages.</p>
							</div>
							<!-- End Section Body -->
						  </fieldset>
						</div>
						<!-- End Section Module -->

						<div class="clear"></div>
						<div class="hr"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></div>
						<p>required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>
						<dl class="group">
						  <dt>
							<label for="repl_id" class="error">&gt;&gt;&gt; your name:</label>
						  </dt>
						  <dd>
							<input name="" type="text" id="repl_id">
							<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
						</dl>
						<dl class="flexFirstPad">
						  <dt>
							<label for="repl_id">your telephone number:</label>
						  </dt>
						  <dd>
							<input name="" type="text" id="repl_id">
							<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
						</dl>
						<dl class="flexAfter">
						  <dt>
							<label for="repl_id">ext.:</label>
						  </dt>
						  <dd>
							<input name="" type="text" id="repl_id" class="formcol2">
						  </dd>
						</dl>
						<div class="clear"></div>
						<dl>
						  <dt>
							<label for="repl_id">special handling instructions:</label>
						  </dt>
						  <dd>
							<input name="" type="text" id="repl_id" class="formcol12">
						  </dd>
						</dl>
					  </div>
					  <!-- End Section Body -->
					</fieldset>
				  </div>
				  <!-- End Section Module --> 

				  <!-- START {vacation/holiday} Settings - No Valid Options -->
				  <div class="clearfix">
					<p>based on your {vacation/holiday} dates, there are no automatic {vacation/holiday} delivery options available.</p>
					<p>you may want to consider the following delivery change options, which are accessible if you select <strong>change delivery</strong> when you track a shipment.</p>
					<ul class="lstBullet">
					  <li>
						<label>leave with a neighbor</label>
						<br>
						if you are going to be on {vacation/holiday} for an extended period of time, you may want to arrange to have your shipments delivered to a neighbor's house.</li>
					</ul>
					<ul class="lstBullet">
					  <li>
						<label>deliver to another address</label>
						<br>
						you may want to consider having your shipments delivered to your {vacation/holiday} address.</li>
					</ul>
				  </div>
				  <!-- FINISH {vacation/holiday} Settings - No Valid Options --> 

				</div>
				<!-- End Section Body -->
			  </fieldset>
			</div>
			<!-- End Section Module --> 

			<!-- Begin Section Module -->
			<div class="secLvl step clearfix">
			  <fieldset>
				<legend></legend>

				<!-- Begin Section Header -->
				<div class="secHead clearfix">
				  <div class="stepNumberDiv"><span class="stepNumber">3</span></div>
				  <h3>contact informaiton</h3>
				</div>
				<!-- End Section Header --> 
				<!-- Begin Section Body -->
				<div class="secBody clearfix">
				  <dl class="">
					<dt>
					  <label for="repl_id">contact name:</label>
					</dt>
					<dd>
					  <input type="text" id="repl_id" value="john smith">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
				  </dl>
				  <dl class="flexFirstPad">
					<dt>
					  <label for="repl_id">contact telephone:</label>
					</dt>
					<dd>
					  <input type="text" id="repl_id" value="123-456-7890">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
				  </dl>
				  <dl class="flexAfterPad">
					<dt>
					  <label for="repl_id">ext:</label>
					</dt>
					<dd>
					  <input type="text" class="formcol2" id="repl_id" value="">
					</dd>
				  </dl>
				  <div style="clear:both;"></div>
				</div>
				<!-- End Section Body -->
			  </fieldset>
			</div>
			<!-- End Section Module --> 

			<!-- Begin Section Module -->
			<div class="secLvl step clearfix">
			  <fieldset>
				<legend></legend>

				<!-- Begin Section Header -->
				<div class="secHead clearfix">
				  <div class="stepNumberDiv"><span class="stepNumber">4</span></div>
				  <h3>payment information</h3>
				</div>
				<!-- End Section Header --> 
				<!-- Begin Section Body -->
				<div class="secBody clearfix">
				  <p>please verify your payment card selection. to enter another card, select <strong>enter a different card</strong>.</p>
				  <p> please enter a payment card information below.</p>

				  <!-- /////////////////////////////////////////// --> 
				  <!-- Begin {vacation/holiday} Settings - Add/Edit {vacation/holiday} -->
				  <dl>
					<dt>
					  <label for="repl_id1">payment method:</label>
					</dt>
					<dd>
					  <select name="repl_name" id="repl_id1">
						<option selected="">select one</option>
						<option>visa - xxxxxxxxxxxx1234</option>
						<option>enter a different payment card</option>
						<option>enter a different paypal account</option>
						<option>enter a different account</option>
					  </select>
					</dd>
				  </dl>
				  <p> <a href="repl_href">Go to PayPal</a> to select your account or create a new one and add it to your My UPS profile.<br>
					<br>
					<img src="/img/inf_cc_76x48_paypal.gif" width="" height=""> </p>
				  <p>
				  <ul>
					<li>
					  <input type="checkbox" name="repl_name" id="repl_id" value="">
					  &nbsp;Save this account to My UPS Profile</li>
					<li>
					  <input type="checkbox" name="repl_name" id="repl_id" value="">
					  &nbsp;Make this account my default payment method</li>
				  </ul>
				  </p>
				  <dl class="group">
					<dt>
					  <label for="repl_id01">UPS Account Number:</label>
					</dt>
					<dd>
					  <input name="repl_name" type="text" id="repl_id01">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <dl class="group">
					<dt>
					  <label for="repl_id02">Account Name:</label>
					</dt>
					<dd>
					  <input name="repl_name" type="text" id="repl_id02">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <dl class="group">
					<dt>
					  <label for="repl_id02">ZIP Code:</label>
					</dt>
					<dd>
					  <input name="repl_name" type="text" id="repl_id02">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <table >
					<tr>
					  <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id03"></td>
					  <td><label for="repl_id03" class="sel">Save this account to My UPS Profile</label></td>
					</tr>
					<tr>
					  <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id04"></td>
					  <td><label for="repl_id04" class="sel">Make this account my default payment method</label></td>
					</tr>
				  </table>
				  <!-- End {vacation/holiday} Settings - Add/Edit {vacation/holiday} --> 
				  <!-- ///////////////////////////////////////// -->

				  <dl>
					<dt>
					  <label for="repl_id">saved payment cards:</label>
					</dt>
					<dd>
					  <select name="repl_name" id="repl_id">
						<option value="" selected>select one</option>
						<option value="">visa - xxxxxxxxxxxx1234</option>
						<option value="">enter a different payment card</option>
					  </select>
					</dd>
				  </dl>
				  <dl class="group">
					<dt>
					  <label for="repl_id">card type:</label>
					</dt>
					<dd class="cc">
					  <select name="repl_name" id="repl_id">
						<option value="" selected>select one</option>
						<option value="">american express</option>
					  </select>
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
					<dd>
					  <ul class="group cc">
						<li><img src="/img/inf_cc_30x23_amex.gif" alt="American Express" title="American Express"></li>
						<li><img src="/img/inf_cc_30x23_visa.gif" alt="Visa" title="Visa"></li>
						<li><img src="/img/inf_cc_30x23_mcard.gif" alt="MasterCard" title="MasterCard"></li>
						<li><img src="/img/inf_cc_30x23_discover.gif" alt="Discover" title="Discover"></li>
						<li><img src="/img/inf_cc_35x23_billme.gif" alt="Bill Me Later" title="Bill Me Later"></li>
						<li><img src="/img/inf_cc_30x23_jcb.gif" alt="JCB" title="JCB"></li>
						<li><img src="/img/inf_cc_35x23_paypal.gif" alt="PayPal" title="PayPal"></li>
					  </ul>
					</dd>
					<dt>
					  <label for"">card number:</label>
					</dt>
					<dd>
					  <input type="text" id="repl_id" value="">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
					<dt>
					  <label for"">expiration:</label>
					</dt>
					<dd>
					  <select name="repl_name" id="repl_id">
						<option value="" selected>mm</option>
						<option value=""></option>
					  </select>
					  <select name="repl_name" id="repl_id">
						<option value="" selected>yyyy</option>
						<option value=""></option>
					  </select>
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
					<dt>
					  <label for="repl_id"><a href="" class="btnlnkR helpIconR">verification code:</a></label>
					</dt>
					<dd>
					  <input name="" class="formcol2" type="text" id="repl_id">
					  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
				  </dl>
				  <dl>
					<dt>
					  <label for="repl_id">billing address</label>
					</dt>
					<dd>
					  <table border="0" cellpadding="0" cellspacing="0">
						<tr>
						  <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id" checked></td>
						  <td><label for="repl_id" class="sel">same as delivery address</label></td>
						</tr>
						<tr>
						  <td class="sel"><input name="repl_fname" type="radio" value="repl_fvalue" id="repl_id"></td>
						  <td><label for="repl_id" class="sel">enter a different billing address</label></td>
						</tr>
					  </table>
					</dd>
				  </dl>
				  <div class="group">
					<fieldset>
					  <legend></legend>
					  <!-- BEGIN payment card address - other address -->
					  <div class="seccol9 marginBegin clearfix">
						<dl class="group">
						  <dt>
							<label for="repl_id">country or territory:</label>
						  </dt>
						  <dd>united states</dd>
						  <dt>
							<label for="repl_id">address line 1:</label>
						  </dt>
						  <dd>
							<input type="text" id="repl_id" value="" class="formcol7">
							<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
						  <dt>
							<label for="repl_id">address line 2:</label>
						  </dt>
						  <dd>
							<input type="text" id="repl_id" value="" class="formcol7">
							<div class="reqTxtInst">apartment, suite, unit, building, floor, etc.</div>
						  </dd>
						  <dt>
							<label for="repl_id">address line 3:</label>
						  </dt>
						  <dd>
							<input type="text" id="repl_id" value="" class="formcol7">
							<div class="reqTxtInst">department, c/o, etc.</div>
						  </dd>
						</dl>
					  </div>
					  <div class="seccol9 marginEnd clearfix">
						<dl class="group">
						  <dt>
							<label for="repl_id">city:</label>
						  </dt>
						  <dd>
							<input type="text" id="repl_id" value="" class="formcol7">
							<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
						  <dt>
							<label for="repl_id">state:</label>
						  </dt>
						  <dd>
							<select name="repl_name" id="repl_id">
							  <option value="" selected>select one</option>
							  <option value="">{1234567890}</option>
							</select>
							<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
						  <dt>
							<label for="repl_id">zip code:</label>
						  </dt>
						  <dd>
							<input type="text" id="repl_id" value="" class="formcol3">
							<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
						</dl>
					  </div>
					  <!-- END payment card address - other address -->
					</fieldset>
				  </div>
				  <table border="0" cellpadding="0" cellspacing="0">
					<tr>
					  <td class="sel"><input name="repl_name" type="checkbox" value="repl_fvalue" id="repl_id"></td>
					  <td><label for="repl_id" class="sel">save this card to my ups profile</label></td>
					</tr>
				  </table>
				</div>
				<!-- End Section Body -->
			  </fieldset>
			</div>
			<!-- End Section Module --> 

		  </div>
		  <!-- End Section Body -->
		</fieldset>
	  </div>
	  <!-- End Section Module --> 

	</div>
	<!-- End Application Body --> 
	<!-- Begin Application Footer -->
	<div class="appFooter"> 
	  <!-- Begin Button Bar Row -->
	  <div class="btnBar">
		<input name="" type="button" value="cancel" class="btn">
		<input name="" type="submit" value="update {vacation/holiday} settings" class="btnArw">
	  </div>
	  <!-- End Button Bar Row --> 
	</div>
	<!-- End Application Footer -->
  </fieldset>
</div>
<!-- End Application Module -->

<p><a href="" class="btnlnkL arrowBackIcon">back to preferences</a></p>
</form>

</div>
