---
title: ct1_tra_umc_reg(3con)
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
   

   <form action="repl_fname">

	<!-- begin Progress Bar --> 
	<!-- //////////////////////////////////////////////////////////////////////////// --> 

	<!--#include virtual="/app_ent/common_components/jan17/progressbar_va/progressbar_3_minify.html" --> 
	<!-- //////////////////////////////////////////////////////////////////////////// --> 
	<!-- end Progress Bar --> 

	<!-- Begin Application Module -->
	<div class="appLvl col24 mod clearfix">

	<!-- Begin Application Header -->
	<div class="appHead clearfix">
	  <h2>ups my choice membership registration confirmation</h2>
	</div>
	<!-- End Application Header --> 

	<!-- Begin Application Body -->
	<div class="appBody clearfix"> 

	  <!-- Begin Section Level --> 
	  <!-- Begin Column -->
	  <div class="secLvl seccol18 marginBegin">
		<h4 class="secLvlPad">your ups my choice enrollment is complete for the address listed below.</h4>
		<p> <a href="repl_href">click here to redeem your promotion</a> </p>
		<p> <a href="repl_href">terms and conditions</a> </p>
		<div class="flexFirstPad">
		  <dl>
			<dt><span class="label">home address:</span></dt>
			<dd>1234 apple blossom lane <br>
			  roswell, ga 30076 <br>
			  unithed states</dd>
		  </dl>
		</div>
		<div class="flexAfterPad">
		  <dl>
			<dt><span class="label">contact info:</span></dt>
			<dd>john@email.com <br>
			  678-123-4567</dd>
		  </dl>
		</div>
		<div class="flexAfterPad">
		  <dl>
			<dt><span class="label">my ups id:</span></dt>
			<dd>jsmith1234</dd>
		  </dl>
		</div>
		<div class="floatEnd"> 
		  <!-- Begin Social Aggregator Buttons --> 
		  <!-- //////////////////////////////////////////////////////////////////////////// --> 

		  <!--#include virtual="/app_ent/common_components/jan17/social_fb_buttons_va/social_fb_buttons_stk2.html" --> 
		  <!-- //////////////////////////////////////////////////////////////////////////// --> 
		  <!-- end Social Aggregator Buttons --> 
		</div>
		<div class="clear"> </div>
		<p> Your membership will remain active until you choose to cancel it. </p>
		<div class="cmsMsg callToAction">
		  <div class="cmsMsg"> 

			<!-- begin WCMS --> 
			<!-- //////////////////////////////////////////////////////////////////////////// --> 

			<!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_msg2.html" --> 
			<!-- //////////////////////////////////////////////////////////////////////////// --> 
			<!-- end WCMS --> 

		  </div>
		</div>
		<div class="cmsMsg callToAction">
		  <div class="cmsMsg"> 

			<!-- begin WCMS --> 
			<!-- //////////////////////////////////////////////////////////////////////////// --> 

			<!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_msg1.html" --> 
			<!-- //////////////////////////////////////////////////////////////////////////// --> 
			<!-- end WCMS --> 

		  </div>
		</div>
	  </div>
	  <!-- End Column --> 
	  <!-- End Section Level --> 

	  <!-- Begin Column -->
	  <div class="secLvl seccol6 marginEnd">
		<div class="cmsMsg callToAction">
		  <div class="secLvl message critical clearfix">
			<div class="secBody"> 

			  <!-- begin WCMS --> 
			  <!-- //////////////////////////////////////////////////////////////////////////// --> 

			  <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_next_steps2.html" --> 
			  <!-- //////////////////////////////////////////////////////////////////////////// --> 
			  <!-- end WCMS --> 

			</div>
			<div class="secFooter">
			  <div class="btnBar">
				<div> <a href="repl_href">upgrade to premium</a> </div>
			  </div>
			</div>
		  </div>
		  <div class="secLvl step clearfix">
			<div class="secHead clearfix">
			  <h3>Next Steps</h3>
			</div>
			<div class="secBody">
			  <p> <a href="repl_href" class="btnlnkL arrowIcon">Return to [Location]</a> </p>
			</div>
		  </div>
		  <div class="clear"></div>
		</div>
	  </div>

	  <!-- End Column --> 

	</div>
	<!-- End Application Body --> 
	<!-- Begin Application Footer -->
	<div class="appFooter"> 
	  <!-- Begin Button Bar Row -->
	  <div class="btnBar">
		<input name="" type="button" value="Continue" class="btnArw">
	  </div>
	  <!-- End Button Bar Row --> 

	</div>
	<!-- End Application Module -->

  </form>
		   
</div>
