---
title: ct1_tra_umc_reg(2pin)_fraud
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
   

  <div class="appLvl col24 mod clearfix"> 

	<!-- Begin Application Header -->
	<div class="appHead clearfix">
	  <h2>Report Fraudulent Activity</h2>
	</div>
	<!-- End Application Header --> 

	<!-- Begin Application Body -->
	<div class="appBody clearfix">
	  <p class="error">{&gt;&gt;&gt;The fraud code you entered is not calid for this enrollment address.  Please check the code and try again.}</p>
	  <p>We take fraudulent activity seriously.  Please provide the required information so that we may process your report efficintly</p>
	  <p>Required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"/></p>

	  <!-- Begin update name or address section -->
	  <div class="secLvl clearfix">
		<dl class="flexFirstPad">
		  <dt>
			<label for="repl_id">Fraud PIN (from postcard):</label>
		  </dt>
		  <dd>
			<input type="text" id="repl_id" value="" class="formcol7"/>
			<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"/></dd>
		</dl>
		<dl class="flexAfterPad">
		  <dt>
			<label for="repl_id">Country or Territory:</label>
		  </dt>
		  <dd>
			<select name="repl_name" id="repl_id" class="formcol6">
			  <option value="" selected>United States</option>
			</select>
			<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"/> </dd>
		</dl>
	  </div>
	  <dl class="flexFirstPad">
		<dt>
		  <label for="repl_id">first name:</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="john"/>
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"/></dd>
	  </dl>
	  <dl class="flexAfterPad">
		<dt>
		  <label for="repl_id2">mi:</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id01" value=""  class="formcol2"/>
		</dd>
	  </dl>
	  <dl class="flexAfterPad">
		<dt>
		  <label for="repl_id">last name:</label>
		</dt>
		<dd>
		  <input type="text" id="repl_id" value="smith"/>
		  <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"/></dd>
	  </dl>
	  <dl class="flexAfterPad">
		<dt>
		  <label for="repl_id02">suffix:</label>
		</dt>
		<dd>
		  <select name="repl_name" id="repl_id02">
			<option value="" selected>select one</option>
		  </select>
		</dd>
	  </dl>
	  <div class="clear"></div>
	  <div class="subcol8 marginBegin clearfix">
		<dl class="flexFirstPad">
		  <dt>
			<label for="repl_id">Address Line 1:</label>
		  </dt>
		  <dd>
			<input type="text" id="repl_id" value="" class="formcol7"/>
			<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"/></dd>
		</dl>
		<dl class="flexFirstPad">
		  <dt>
			<label for="repl_id">Address Line 2:</label>
		  </dt>
		  <dd>
			<input type="text" id="repl_id" value="" class="formcol7"/>
		  </dd>
		</dl>
		<dl class="flexFirstPad">
		  <dt>
			<label for="repl_id">Address Line 3:</label>
		  </dt>
		  <dd>
			<input type="text" id="repl_id" value="" class="formcol7"/>
		  </dd>
		</dl>
	  </div>
	  <div class="subcol8 marginEnd clearfix">
		<dl class="flexAfterPad">
		  <dt>
			<label for="repl_id">City:</label>
		  </dt>
		  <dd>
			<input type="text" id="repl_id" value="" class="formcol7"/>
			</input>
			<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"/> </dd>
		</dl>
		<dl class="flexAfterPad">
		  <dt>
			<label for="repl_id">State:</label>
		  </dt>
		  <dd>
			<select name="repl_name" id="repl_id02" class="formcol7">
			  <option value="" selected>select one</option>
			  <option>Georgia</option>
			</select>
		  </dd>
		</dl>
		<dl class="flexAfterPad">
		  <dt>
			<label for="repl_id">Postal Code:</label>
		  </dt>
		  <dd>
			<input type="text" id="repl_id" value="" class="formcol5"/>
			<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"/></dd>
		</dl>
	  </div
				>
	  <div class="clear"></div>
	</div>

	<!-- End Application Body --> 

	<!-- Begin Application Footer -->
	<div class="appFooter"> 
	  <!-- Begin Button Bar Row -->
	  <div class="btnBar">
		<input name="repl_name" type="button" value="Cancel" class="btn">
		<input name="repl_name" type="button" value="Submit" class="btnArw">
	  </div>
	  <!-- End Button Bar Row --> 
	</div>
	<!-- End Application Footer --> 

  </div>

</div>
