---
title: ct1_tra_umc_reg(2pin)
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
   

      <div class="appLvl col24 mod clearfix">
        <fieldset>
          <legend>Request Activation Code</legend>
          
          <!-- Begin Application Header -->
          <div class="appHead clearfix">
            <h2>Request Activation Code</h2>
          </div>
          <!-- End Application Header --> 
          
          <!-- Begin Application Body -->
          <div class="appBody clearfix">
            <div class="secLvl secLvlPlain seccol1 marginBegin clearfix">
              <div class="secBody">
                <p><img border="0" alt="" src="/img/icon_exclamation_triangle_16.gif"></p>
              </div>
            </div>
            <div class="secLvl secLvlPlain seccol23 marginEnd clearfix">
              <div class="secBody">
                <p>Your personal information could not be verified at this time.</p>
                <p>To activate your UPS My Choice&reg; Enrollment, please select <strong>Request Activation Code</strong>.  Within 2-5 business days you'll receive an activation code and instructions for completing your UPS My Choice enrollment.</p>
                <dl>
                  <dt>
                    <label for="repl_id">Your Enrollment Information:</label>
                  </dt>
                  <dd>John Smith<br>
                    1234 Apple Blossom Lane<br>
                    Roswell, GA 30076</dd>
                </dl>
              </div>
            </div>
          </div>
          <!-- End Application Body --> 
          
          <!-- Begin Application Footer -->
          <div class="appFooter"> 
            <!-- Begin Button Bar Row -->
            <div class="btnBar">
              <input name="repl_name" type="button" value="Cancel" class="btn">
              <input name="repl_name" type="button" value="Request Activation Code" class="btnArw">
            </div>
            <!-- End Button Bar Row --> 
          </div>
          <!-- End Application Footer -->
          
        </fieldset>
      </div>
	
</div>
