---
title: ct1_tra_umc_reactivate_confirmation
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
   

  <form action="repl_fname">

	<!-- Begin Application Module -->
	<div class="appLvl col24 mod clearfix">
	  <fieldset>
		<legend></legend>
		<!-- Begin Application Header -->
		<div class="appHead clearfix">
		  <h2>ups my choice<sup>sm</sup> reactivate membership confirmation</h2>
		</div>
		<!-- End Application Header --> 

		<!-- Begin Application Body -->
		<div class="appBody clearfix"> 

		  <!-- Begin Section Module -->
		  <div class="secLvl secLvlPlain clearfix">
			<fieldset>
			  <legend></legend>
			  <!-- Begin Section Header -->
			  <div class="secHead clearfix">
				<h3>premium delivery - reactivate membership</h3>
			  </div>
			  <!-- End Section Header --> 
			  <!-- Begin Section Body -->
			  <div class="secBody clearfix">
				<p>thank you for reactivating your premium delivery membership.</p>
				<dl class="outHozFixed clearfix">
				  <dt>
					<label for="repl_id">primary recipient:</label>
				  </dt>
				  <dd>john smith</dd>
				</dl>
				<dl class="outHozFixed clearfix">
				  <dt>
					<label for="repl_id">residential delivery address:</label>
				  </dt>
				  <dd> 1234 apple blossom lane<br>
					roswell, ga, us<br>
					30076 </dd>
				</dl>
				<dl class="outHozFixed clearfix">
				  <dt>
					<label for="repl_id">delivery address description:</label>
				  </dt>
				  <dd>my house</dd>
				</dl>
				<dl class="outHozFixed clearfix">
				  <dt>
					<label for="repl_id">membership expiration date:</label>
				  </dt>
				  <dd>mm/dd/yyyy</dd>
				</dl>
				<div style="clear:both;"></div>
				<p>to continue, you must confirm or update your application preferences.  select <strong>update preferences</strong> to continue.</p>
			  </div>
			  <!-- End Section Body -->
			</fieldset>
		  </div>
		  <!-- End Section Module --> 

		</div>
		<!-- End Application Body --> 

		<!-- Begin Application Footer -->
		<div class="appFooter"> 
		  <!-- Begin Button Bar Row -->
		  <div class="btnBar">
			<input name="" type="button" value="update preferences" class="btnArw">
		  </div>
		  <!-- End Button Bar Row --> 
		</div>
		<!-- End Application Footer -->

	  </fieldset>
	</div>
	<!-- End Application Module -->

	<div>
	  <p><a href="repl_href" class="btnlnkL arrowBackIcon">back to manage delivery addresses</a></p>
	</div>
  </form>
	
</div>
