---
title: ct1_tra_umc_reg_pre(2con)
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
       

      <form action="repl_fname">
        
        <!-- begin Progress Bar --> 
        <!-- //////////////////////////////////////////////////////////////////////////// --> 
        
        <!--#include virtual="/app_ent/common_components/jan17/progressbar_va/progressbar_2_minify.html" --> 
        <!-- //////////////////////////////////////////////////////////////////////////// --> 
        <!-- end Progress Bar --> 
        
        <!-- Begin Application Module -->
        <div class="appLvl col24 mod clearfix">
          <fieldset>
            <legend></legend>
            
            <!-- Begin Application Header -->
            <div class="appHead clearfix">
              <h2>ups my choice premium membership registration confirmation</h2>
            </div>
            <!-- End Application Header --> 
            
            <!-- Begin Application Body -->
            <div class="appBody clearfix">
              <fieldset>
                <legend></legend>
                <!-- Begin Column -->
                <div class="seccol17 marginBegin">
                  <h4 class="secLvlPad">you have successfully enrolled in a ups my choice premium membership.</h4>
                  <div class="flexFirstPad">
                    <dl>
                      <dt><span class="label">home address:</span></dt>
                      <dd>1234 apple blossom lane <br>
                        roswell, ga 30076 <br>
                        unithed states</dd>
                    </dl>
                  </div>
                  <div class="flexAfterPad">
                    <dl>
                      <dt><span class="label">contact info:</span></dt>
                      <dd>john@email.com<br>
                        678-123-4567</dd>
                    </dl>
                  </div>
                  <div class="flexAfterPad">
                    <dl>
                      <dt><span class="label">my ups id:</span></dt>
                      <dd>jsmith1234</dd>
                    </dl>
                  </div>
                  <div class="floatEnd"> 
                    <!-- Begin Social Aggregator Buttons --> 
                    <!-- //////////////////////////////////////////////////////////////////////////// --> 
                    
                    <!--#include virtual="/app_ent/common_components/jan17/social_fb_buttons_va/social_fb_buttons_stk2.html" --> 
                    <!-- //////////////////////////////////////////////////////////////////////////// --> 
                    <!-- end Social Aggregator Buttons --> 
                  </div>
                  <div class="clear"></div>
                  <div class="cmsMsg"> 
                    
                    <!-- begin WCMS --> 
                    <!-- //////////////////////////////////////////////////////////////////////////// --> 
                    
                    <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_msg1.html" --> 
                    <!-- //////////////////////////////////////////////////////////////////////////// --> 
                    <!-- end WCMS --> 
                    
                  </div>
                </div>
                <!-- End Column --> 
                
                <!-- Begin Column -->
                <div class="secLvl seccol7">
                  <div class="cmsMsg"> 
                    
                    <!-- begin WCMS --> 
                    <!-- //////////////////////////////////////////////////////////////////////////// --> 
                    
                    <!--#include virtual="/app_ent/cms_fragments/jan17/cmsMsg_myc_next_steps2.html" --> 
                    <!-- //////////////////////////////////////////////////////////////////////////// --> 
                    <!-- end WCMS --> 
                    
                  </div>
                  <div class="secLvl step clearfix">
                    <fieldset>
                      <legend></legend>
                      <div class="secHead clearfix">
                        <h3>Next Steps</h3>
                      </div>
                      <div class="secBody">
                        <p> <a href="repl_href" class="btnLnkR arrowIconR">Return to [Location]</a> </p>
                      </div>
                    </fieldset>
                  </div>
                  <div class="clear"></div>
                </div>
                
                <!-- End Column -->
              </fieldset>
            </div>
            <!-- End Application Body -->
            
          </fieldset>
        </div>
        <!-- End Application Module -->
        
      </form>
	
</div>
