---
title: Address Modification
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
	{{> background_modal_content }}

<div id="HPDCR_Dialog" class="appLvl mod modal dialog">
  <div class="appHead clearfix">
    <h2>{{title}}</h2>
    <ul>
      <li>
        <input type="button" class="btnlnkL closeIcon" title="Close" id="modalClose">
      </li>
    </ul>
  </div>
  <div class="appBody clearfix">
    
    <!-- Begin New Delivery Address Information Module -->
    <div class="secLvl secLvlPlain clearfix">
      
      <!-- Begin Section Body -->
      <div class="secBody">
        <p>Please confirm that the address below is correct, then select<b>Update</b>.</p>
        <div class="group clearfix">
          <dl class="outHozFixed clearfix">
            <dt>
              <label for="repl_id">Ship To:</label>
            </dt>
            <dd id="repl_id">11270 Marvin Miller Dr.<br>
              Atlanta, GA, 30336	 US</dd>
          </dl>
        </div>
      </div>
      <!-- End Section Body -->
    </div>
    <!-- End New Delivery Address Information Module -->
    
  </div>
  <!-- End Application Body -->
  
  <!-- Begin Application Footer -->
  <div class="appFooter">
    <!-- Begin Button Bar Row -->
    <div class="btnBar alignCenter">
      <input name="" type="button" value="Back" class="btnBackArw">
      <input name="" type="button" value="Cancel" class="btn">
      <input name="" type="submit" value="Update" class="btnArw">
    </div>
    <!-- End Button Bar Row -->
  </div>
  <!-- End Application Footer -->
  
</div>
<script type="text/javascript">

$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:710});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});

</script>
</div>
