---
title: ct1_tra_umc_reg(2ver)
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
	

<form action="repl_name">

<!-- Begin 1513 Verification Required Message -->
<div class="secLvl message clearfix">
  <div class="secBody">
    <p><span class="label">you must verify your identity to complete your ups my choice enrollment message text</span></p>
    <p>example messaging - once you complete verification you will have full access to ups my choice including the ability to change your package delivery.</p>
  </div>
</div>
<!-- End 1513 Verification Required Message --> 

<!-- begin Progress Bar --> 
<!-- //////////////////////////////////////////////////////////////////////////// --> 

<!--#include virtual="/app_ent/common_components/jan17/progressbar_va/progressbar_3_minify.html" --> 
<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- end Progress Bar --> 

<!-- Begin Application Module --> 
<!-- My Choice Registration - Step 2 - Authentication-->
<div class="appLvl col24 mod clearfix"> 
  
  <!-- Begin Application Header -->
  <div class="appHead clearfix">
    <h2>verify your identity</h2>
  </div>
  <!-- End Application Header --> 
  
  <!-- Begin Application Body -->
  <div class="appBody mod clearfix"> 
    <!-- Begin Tab column on left side 7512 --> 
    
    <!-- End Tab column on left side 7512 -->
    
    <p class="error">&gt;&gt;&gt; error message area if a user fails number of authentication attempts and get locked out.</p>
    
    <!-- Begin Code by Mail Option - Enrolled -->
    <p>you've requested access to a ups my choice feature which required identiy verification.</p>
    <p>please verify your identity by entering the activation code mailed to you when you enrolled.</p>
    <dl>
      <dt>
        <label for="repl_id">enter your activation code:</label>
      </dt>
      <dd>
        <input name="repl_name" type="text" id="repl_id" class="formcol6">
        <input type="button" value="verify now" class="btn">
      </dd>
    </dl>
    <p>if your activation code has expired or you did not receive one, <a href="repl_href">request a new activation code</a>.</p>
    <p>allow 2-5 business days to receive your code by mail.</p>
    <!-- End Code by Mail Option - Enrolled --> 
    
    <!-- Begin Code by Mail is only option - Required Verification for Enrollment -->
    <p>we need to verify your identity before you can continue your enrollment.</p>
    <h3>receive activation code by mail</h3>
    <p>{your personal information could not be verified at this time... paragraph text for US/non-US}</p>
    <!-- End Code by Mail is only option - Required Verification for Enrollment -->
    
    <h3>how would you like to verify your identity?</h3>
    <p> The security of your packages is very important to UPS, therefore we need to verify your identity. </p>
    <a href="repl_href" class="btnlnkR arrowIconR">Return to [Location]</a> <br>
    <div class="sideTab">
      <ul>
        <li class="tab-on">Send Activation Code to My Phone</li>
        <li class="tab-off">Take Security Quiz</li>
      </ul>
    </div>
    
    <!--Phone Step 1: Send Code-->
    <div class="secLvl subcol18 clearfix step noHead marginBegin">
      <div class="secBody group">
        <p class="error">&gt;&gt;&gt; error messages with phone number go here.</p>
        <p> <strong>note:</strong> the billing address for your phone must match your ups my choice profile address.<br>
          by providing your phone number, you agree to receive automated messgaes with the activation code at the number provided. </p>
        <dl>
          <dt>
            <label for="repl_ida1">mobile or home phone</label>
          </dt>
          <dd>
            <input name="" type="text" id="repl_ida1" value="(678) 123-4567">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
        </dl>
        <div class="group"> <span class="label">select how you would like to receive your activation code. message and data rates may apply.</span>
          <div class="indent">
            <input name="repl_name2" type="radio" value="repl_value" id="repl_ida2">
            <label for="repl_ida2" class="sel">voice message</label>
          </div>
          <div class="indent">
            <input name="repl_name2" type="radio" value="repl_value" id="repl_ida3" checked>
            <label for="repl_ida3" class="sel">text message</label>
          </div>
        </div>
        <div class="alignBegin indent">
          <input name="" type="submit" value="send code" class="btnArw">
        </div>
        
        <!-- Phone Step 2: Enter Verification Code-->
        
        <div class="group">
          <p class="error">&gt;&gt;&gt; error messages with code go here.</p>
          <dl class="group">
            <dt>
              <label for="repl_idb1" class="sel">enter your activation code within 5 minutes of recept and select <strong>submit</strong>.</label>
            </dt>
            <dd>
              <input name="" type="text" id="repl_idb1" value="">
              <a href="">need new code</a></dd>
          </dl>
        </div>
        
        <!--Quiz-->
        
        <div class="indent group"> <span class="label">which of the following streets have you lived on?</span>
          <div class="indent">
            <input name="repl_name1" type="radio" value="repl_value" id="repl_id1">
            <label for="repl_id1" class="sel">apple blossom lane</label>
          </div>
          <div class="indent">
            <input name="repl_name1" type="radio" value="repl_value" id="repl_id2">
            <label for="repl_id2" class="sel">cherry hill street</label>
          </div>
          <div class="indent">
            <input name="repl_name1" type="radio" value="repl_value" id="repl_id3">
            <label for="repl_id3" class="sel">orange boulevard</label>
          </div>
        </div>
        <div class="indent group"> <span class="label">which of the following is/was your phone number?</span>
          <div class="indent">
            <input name="repl_name2" type="radio" value="repl_value" id="repl_id4">
            <label for="repl_id4" class="sel">770-123-4567</label>
          </div>
          <div class="indent">
            <input name="repl_name2" type="radio" value="repl_value" id="repl_id5">
            <label for="repl_id5" class="sel">212-343-1119</label>
          </div>
          <div class="indent">
            <input name="repl_name2" type="radio" value="repl_value" id="repl_id6">
            <label for="repl_id6" class="sel">404-987-6543</label>
          </div>
        </div>
        <div class="indent group"> <span class="label">which of the following cities have you NEVER lived in or used as your address?</span>
          <div class="indent">
            <input name="repl_name3" type="radio" value="repl_value" id="repl_id7">
            <label for="repl_id7" class="sel">butte</label>
          </div>
          <div class="indent">
            <input name="repl_name3" type="radio" value="repl_value" id="repl_id8">
            <label for="repl_id8" class="sel">portland</label>
          </div>
          <div class="indent">
            <input name="repl_name3" type="radio" value="repl_value" id="repl_id9">
            <label for="repl_id9" class="sel">roswell</label>
          </div>
        </div>
        
        <!-- Quiz Not Possible - Request Code by Mail-->
        
        <div class="group">
          <div class="subcol2 marginBegin clearfix">
            <p><img src="/img/icon_exclamation_triangle_32.gif" alt="" border="0"></p>
          </div>
          <div class="subcol16 marginEnd clearfix">
            <p>we're unable to verify your identity using the security quiz at this time. to continue your enrollment you can:</p>
            <p>We need to verify your identity before you can continue enrollment.</p>
            <p>Request Code by Mail will send an activation code to your home address and may take up to five business days to process.  This option is available for users who are unable to verify by phone or security quiz.  Please try a different option.</p>
            <p>Failure content instructional content here.  Next Step content (if any) content here.  Failure content instructional content here.  Next Step content (if any) content here.</p>
            <div>
              <div class="flexFirst">
                <input name="repl_name" type="button" value="send a code to my phone" class="btn" style="width:200px;" >
              </div>
              <div class="flexLast subcol16"> <span class="reqTxtInst"><strong>Note:</strong> the billing address for your phone must match your UPS My Choice enrollment address.  By providing your phone number, you agree to receive automated messages with the activation code at the number provided.</span> </div>
            </div>
            <div>
              <div class="flexFirst">
                <input name="repl_name" type="button" value="request code by postal letter" class="btn" style="width:200px;">
              </div>
              <div class="flexLast subcol16"> <span class="reqTxtInst"><strong>Note:</strong> an activation code will be sent to your home address and should arrive in 2-5 business days. the letter will contain instructions on how to complete the enrollment process.</span> </div>
            </div>
          </div>
          <div class="clear"> </div>
        </div>
        
        <!-- Quiz Not Possible - Enter Birthday-->
        
        <div class="indent group">
          <p>we need more information to generate your personal security quiz. <strong>Note:</strong> This information will not be saved or used in any other way.</p>
          <dl>
            <dt>
              <label for="">Date of Birth:</label>
              <span><a href="repl_href" class="btnlnkR helpIconR">Why</a></span></dt>
            <dd>
              <select name="repl_name" id="">
                <option value="" selected>MM</option>
              </select>
              <select name="repl_name" id="">
                <option value="" selected>DD</option>
              </select>
              <select name="repl_name" id="">
                <option value="" selected>YYYY</option>
              </select>
              <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
          </dl>
          <div>
            <input name="repl_name" type="button" value="generate quiz" class="btn">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Application Body --> 
	</form>
	
</div>
