---
title: activate your ups my choice membership
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
   

  <div class="appLvl col24 mod clearfix">
	<fieldset>
	  <legend>Enter Your Activation Code</legend>

	  <!-- Begin Application Header -->
	  <div class="appHead clearfix">
		<h2>enter your activation code</h2>
	  </div>
	  <!-- End Application Header --> 

	  <!-- Begin Application Body -->
	  <div class="appBody clearfix"> 

		<!-- Begin Section Level -->
		<div class="secLvl secLvlPlain clearfix"> 

		  <!-- Begin Section Head -->
		  <div class="secHead clearfix">
			<p>welcome back, john. you're one step away from becoming a ups my choice member. please enter your activation code and select <b>activate your membership now</b> to complete your enrollment.</p>
		  </div>
		  <!-- End Section Head --> 

		  <!-- Begin Section Body -->
		  <div class="secBody">
			<p class="error"> >>> <span>error message placeholder.</span></p>
			<dl>
			  <dt>
				<label for="repl_id">your enrollment information:</label>
			  </dt>
			  <dd>john smith<br>
				1234 apple blossom lane<br>
				roswell, ga 30076</dd>
			</dl>
			<dl>
			  <dt>
				<label for="repl_id" class="error">>>>enter activation code:</label>
			  </dt>
			  <dd>
				<input id="repl_id" type="text">
				<!-- <input id="repl_id" type="text" value="abc123"> --> 
				<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <span class="indent"><a href="repl_id" class="btnlnkR arrowIconR">i need a new activation code</a></span> </dd>
			</dl>
		  </div>
		  <!-- End Section Body --> 

		  <!-- Begin Section Footer --><!-- <div class="secFooter"></div> --><!-- End Section Footer --> 

		</div>
		<!-- End Section Level --> 

		<!-- Begin Section Level -->
		<div class="secLvl secLvlPlain clearfix"> 

		  <!-- Begin Section Head -->
		  <div class="secHead clearfix">
			<p>welcome back. you have multiple ups my choice enrollments that are currently pending. please select the enrollment address below, enter the activation code for that address, and select <b>activate your membership now</b>.</p>
			<h3>select enrollment</h3>
		  </div>
		  <!-- End Section Head --> 

		  <!-- Begin Section Body -->
		  <div class="secBody clearfix">
			<table border="0" cellpadding="0" cellspacing="0">
			  <tbody>
				<tr>
				  <td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id" checked="checked"></td>
				  <td><dl>
					  <dt>
						<label for="repl_id">pending enrollment 1:</label>
					  </dt>
					  <dd>john smith<br>
						1234 apple blossom lane<br>
						roswell, ga 30076</dd>
					</dl></td>
				</tr>
				<tr>
				  <td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id"></td>
				  <td><dl>
					  <dt>
						<label for="repl_id">pending enrollment 2:</label>
					  </dt>
					  <dd>john smith<br>
						5678 cherry hill street<br>
						roswell, ga 30076</dd>
					</dl></td>
				</tr>
				<tr>
				  <td class="sel"><input type="radio" value="repl_value" name="repl_name" id="repl_id"></td>
				  <td><dl>
					  <dt>
						<label for="repl_id">pending enrollment 3:</label>
					  </dt>
					  <dd>john smith<br>
						987-1024 104th street<br>
						new york, ny 10101</dd>
					</dl></td>
				</tr>
			  </tbody>
			</table>
		  </div>
		  <!-- End Section Body --> 

		  <!-- Begin Section Footer --><!-- <div class="secFooter"></div> --><!-- End Section Footer --> 

		</div>
		<!-- End Section Level --> 

		<!-- Begin Section Level -->
		<div class="secLvl secLvlPlain clearfix"> 

		  <!-- Begin Section Head -->
		  <div class="secHead clearfix">
			<h3>enter your activation code</h3>
		  </div>
		  <!-- End Section Head --> 

		  <!-- Begin Section Body -->
		  <div class="secBody clearfix">
			<dl>
			  <dt>
				<label for="repl_id">enter activation code:</label>
			  </dt>
			  <dd>
				<input id="repl_id" type="text" value="abc123">
				<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <span class="indent"><a href="repl_id" class="btnlnkR arrowIconR">i need a new activation code</a></span> </dd>
			</dl>
		  </div>
		  <!-- End Section Body --> 

		  <!-- Begin Section Footer --><!-- <div class="secFooter"></div> --><!-- End Section Footer --> 

		</div>
		<!-- End Section Level --> 

	  </div>
	  <!-- End Application Body --> 

	  <!-- Begin Application Footer -->
	  <div class="appFooter"> 
		<!-- Begin Button Bar Row -->
		<div class="btnBar">
		  <input name="repl_name" type="button" value="activate your membership now" class="btnArw">
		  <input name="repl_name" type="button" value="start over" class="btnArw">
		</div>
		<!-- End Button Bar Row --> 
	  </div>
	  <!-- End Application Footer -->

	</fieldset>
  </div>
	
</div>
