---
title: Activate Your UPS My Choice Membership
layout: legacy.hbs
version: v4
appID: com.ups.mcdp
appCSS: ups.legacy_overrideMCDP
dir: ltr
lang: en
---


<div id="main">
   

  <div class="appLvl col24 mod clearfix">
	<fieldset>
	  <legend>Request Activation Code - Confirmation</legend>

	  <!-- Begin Application Header -->
	  <div class="appHead clearfix">
		<h2>Request Activation Code - Confirmation</h2>
		<ul class="clearfix">
		  <li><a href="repl_href" class="btnlnkR printIconR">Print</a></li>
		</ul>
	  </div>
	  <!-- End Application Header --> 

	  <!-- Begin Application Body -->
	  <div class="appBody clearfix">
		<div class="secLvl secLvlPlain seccol1 marginBegin clearfix">
		  <div class="secBody">
			<p><img border="0" alt="" src="/img/icon_checkmark_16.gif"></p>
		  </div>
		</div>
		<div class="secLvl secLvlPlain seccol23 marginEnd clearfix">
		  <div class="secBody">
			<p>your request for an activation code has been confirmed. you should receive your activation letter within 2-5 business days.</p>
			<p>once you receive your activation code, go to <a href="repl_href">www.ups.com/mychoiceactivationcode</a> and follow the instructions provided in the activation letter.  be sure to keep your myups user id and password in a safe location, you will need these to log on to ups.com and activate your enrollment.</p>
			<dl>
			  <dt><span class="label">your user id:</span></dt>
			  <dd>jsmith#1234</dd>
			</dl>
			<dl>
			  <dt><span class="label">your enrollment information:</span></dt>
			  <dd>john smith<br>
				1234 apple blossom lane<br>
				roswell, ga 30076</dd>
			</dl>
			<p>please print this screen for your records.</p>
		  </div>
		</div>
	  </div>
	  <!-- End Application Body --> 

	  <!-- Begin Application Footer -->
	  <div class="appFooter clearfix">
		<div class="btnBar">
		  <input type="button" class="btn" value="return to my choice preferences"/>
		</div>
	  </div>
	  <!-- End Application Footer -->

	</fieldset>
  </div>
	
</div>
