<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

<!-- begin application header -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
	</tr>

	<tr>
		<td valign="top"><!-- begin page title -->
			<span class="blueboldHead">Invite Users</span>
			<!-- end page title -->
		</td>
	</tr>

	<tr>
		<td><img alt="" border="0" height="8" src="/img/1.gif" width="1"></td>
	</tr>

	<tr>
		<td valign="top"><!-- begin informational text -->
			<!-- begin instructional text -->
			<span class="bold">The request to invite {User Name} {user Id} to join your company has been sent to {e-mail address}. You will be notified by e-mail when the user accepts the invitation.</span></td>
	</tr>

	<tr>
		<td align="left" valign="top" width="200"><br><br>
			<img src="/img/icn_arrow_blue.gif" alt="" border="0" width="10" height="10"> <a href="">Invite Another User to Join</a><br>
				<br>
			<img src="/img/icn_back_arrow.gif" alt="" border="0" width="8" height="8"> <a href="">Back to Manage Users</a>
		</td>
	</tr>
</table>
<!-- end application content -->


	<!-- begin company support -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="15" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>

	<tr>
		<td align="center">
		<span class="bold">Company Support: (nnn) nnn-nnnn&nbsp;&nbsp;&nbsp;E-mail: <a href="repl_href">address@company.com</a></span>
		</td>
	</tr>

	<tr>
		<td><img alt="" border="0" height="20" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>

	</table>
	<!-- end company support -->

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
