@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Mobile";

.content {
  .alert.alert-info{
    color:#000!important;
  }
  #search {
      background: $stone_40;
      margin: 0;

      span.input-group-btn {
        padding-#{$default-float}: 5px;
      }


      p, a {
        font-family: $sans;
        font-size: 1em;

        a {
          color: $black_s4;
          text-decoration: underline;
          font : {
            family: $sans-bd;
            weight: normal;
          }
        }
      }
    } //end #search

    a.btn.btn-yellow {
      line-height: 35px;
      color: $white !important;
      &:focus, &:active, &:hover {
        color: $white !important;
      }
    }

    h2[data-status] {
      padding-#{$default-float}: 40px;
      padding:0px;
    }

 h2[data-status] + dl {
      padding-#{$default-float}: 40px;
      padding:0px;
    }

    // .recent-tracks [data-status] a>div:before {
    //   background-image: none;
    //   @include ups-iconFont("\e663");
    //   display: inline-block;
    //   margin-#{$opposite-direction}: 10px;
    //   top: 0;
    //   height: auto;
    //   width: auto;
    // }

  ul {
    padding-bottom:0px;
  }
   ul:last-child {
    padding-bottom:20px;
  }

	.list-group-selectors .list-group-item a div {
		padding-#{$default-float}: 40px;

		div {
			padding-#{$default-float}: 0px;
		}
	}
}

.subhead .subtask .collapsed {
	color: $white !important;
}
[data-status] a>div {

  padding-#{$default-float}:40px!important;
}


[data-status] a>div:before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(/assets/resources/images/legacyAppImages/status-icon-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    #{$default-float}: 0
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    [data-status] a>div:before {
        background-image: url(/assets/resources/images/legacyAppImages/status-icon-sprite.png);
        background-size: 580px 80px
    }
}

h2[data-status]:before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(/assets/resources/images/legacyAppImages/status-icon-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    #{$default-float}: 0
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    h2[data-status]:before {
       background-image: url(/assets/resources/images/legacyAppImages/status-icon-sprite.png);
       background-size: 580px 80px
    }
}
h2[data-status] {
  padding-#{$default-float}:40px!important;
}
.btn-text-combo a:after{
  #{$opposite-direction}:10px!important;
  top:20px!important;
}

.subhead.confirmation {
    background-image: url(/assets/resources/images/legacyAppImages/checkmark-white.png);
    background-size: 20px 17px;
    background-repeat: no-repeat;
    background-position: 15px 25px;
    padding-#{$default-float}: 50px;
}

.list-group-radio .list-group-item label.checked {
    background-image: url(/assets/resources/images/legacyAppImages/checkmark-aqua.png);
    background-size: 29px 16px;
    background-repeat: no-repeat;
    background-position: 100% 13px;
    display:block!important;
}



@media screen and (max-device-width: 360px) {
	.subhead h1 {
		font-size: 26px;

	}

	h2[data-status]:before {
		top: -5px;
	}
}

@media screen and (max-device-width: 320px) {
	.subhead h1 {
		font-size: 22px;
	}

	h2[data-status]:before {
		top: 0px;
	}
}

#leave_with_neighbor_form ul li {
  list-style-type:disc;
}

.full-width {
  padding:0px!important;
}

.ups-offCanvas #ups-navItems {
  z-index:103!important;
}

.phone-group , .max-left{
  width:auto!important;
}

.subhead.confirmation h1 {
  color:#fff!important;
}
[data-status] a>div.icod-message {

  padding-#{$default-float}:0!important;
}

.ups-headFixed .container-fluid.iw_section + .container-fluid.iw_section {
  padding-top:0!important
}
.checkbox label {
padding:0;

}
#agreecondition {float:$default-float}

.compare .row{
  padding:0;
}
.subhead h1 {
  color:#ffb500!important;
}

[data-status]:active .shipper-message:before,[data-status]:focus .shipper-message:before,[data-status]:hover .shipper-message:before {
    background-position:  $opposite-direction 0!important
}

[data-status=billing-info-received] a>div:before,[data-status=order-processed] a>div:before {
    background-position: 0 0!important
}

[data-status=billing-info-received] a:hover>div:before,[data-status=order-processed] a:hover>div:before {
    background-position: 0 -50px!important
}

[data-status=billing-info-received] a .status,[data-status=order-processed] a .status {
    color: #009cbd!important
}

[data-status=billing-info-voided] a>div:before {
    background-position: -50px 0!important
}

[data-status=billing-info-voided] a:hover>div:before {
    background-position: -50px -50px!important
}

[data-status=billing-info-voided] a .status {
    color: #838383!important
}

[data-status=delivered] a>div:before {
    background-position: -100px 0!important;
}

[data-status=delivered] a:hover>div:before {
    background-position: -100px -50px!important
}

[data-status=delivered] a .status {
    color: #83b93c!important
}

[data-status=exception] a>div:before {
    background-position: -150px 0!important
}

[data-status=exception] a:hover>div:before {
    background-position: -150px -50px!important
}

[data-status=exception] a .status {
    color: #f68b20!important
}

[data-status=held] a>div:before {
    background-position: -200px 0!important
}

[data-status=held] a:hover>div:before {
    background-position: -200px -50px!important
}

[data-status=held] a .status {
    color: #83b93c
}

[data-status=hold-requested] a>div:before {
    background-position: -250px 0!important
}

[data-status=hold-requested] a:hover>div:before {
    background-position: -250px -50px!important
}

[data-status=hold-requested] a .status {
    color: #f68b20!important
}

[data-status=null] a>div:before {
    background-position: -300px 0!important
}

[data-status=null] a:hover>div:before {
    background-position: -300px -50px!important
}

[data-status=null] a .status {
    color: #838383!important
}

[data-status=out-for-delivery] a>div:before {
    background-position: -350px 0!important
}

[data-status=out-for-delivery] a:hover>div:before {
    background-position: -350px -50px!important
}

[data-status=out-for-delivery] a .status {
    color: #83b93c!important
}

[data-status=return] a>div:before {
    background-position: -400px 0!important
}

[data-status=return] a:hover>div:before {
    background-position: -400px -50px!important
}

[data-status=return] a .status {
    color: #83b93c!important
}

[data-status=return-on-vehicle] a>div:before {
    background-position: -450px 0!important
}

[data-status=return-on-vehicle] a:hover>div:before {
    background-position: -450px -50px!important
}

[data-status=return-on-vehicle] a .status {
    color: #83b93c!important
}

[data-status=service-bell] a>div:before {
    background-position: -500px 0!important
}

[data-status=service-bell] a:hover>div:before {
    background-position: -500px -50px!important
}

[data-status=service-bell] a .status {
    color: #83b93c!important
}

[data-status=in-transit] a>div:before {
    background-position: -550px 0!important
}

[data-status=in-transit] a:hover>div:before {
   background-position: -550px -50px!important
}

[data-status=in-transit] a .status {
    color: #83b93c!important
}
.content #locklabel input[type='checkbox'] {
  margin:15px;

}

.content div.divider.full-width {
  padding:10px!important;
}

.day h2 {
  margin-top:0px;
}

#profile .subhead .subtask a {
  color:#fff!important;
}

input[type='checkbox']:before{
  display:block!important;
}
// comment for defect id 295495
#leave_with_neighbor_form .checkbox label{
  // padding:2px 0 0 34px!important;
}

.compare .row:nth-last-child(2) .charge a {
    margin: 0!important;
    height: auto!important;
    padding: 10px!important;
    line-height: initial;
}


.compare .yes span {
    background-image: url(/assets/resources/images/legacyAppImages/checkmark-aqua.png);
    background-size: 29px 16px;
}

.video.full-width.no-pad-vert {
     background-image: url(/assets/resources/images/legacyAppImages/video-thumb.jpg)!important
}

.video .play-button {
    background-image: url(/assets/resources/images/legacyAppImages/play-button.png)!important;

}

h2[data-status][data-status=billing-info-received],h2[data-status][data-status=order-processed] {
    color: #009cbd!important

     }
h2[data-status][data-status=billing-info-voided] {
    color: #838383!important
}
h2[data-status][data-status=delivered] , h2[data-status][data-status=out-for-delivery] , h2[data-status][data-status=return] , h2[data-status][data-status=return-on-vehicle] , h2[data-status][data-status=service-bell] ,
h2[data-status][data-status=in-transit] ,h2[data-status][data-status=held] {
    color: #83b93c!important
}
h2[data-status][data-status=exception]  , h2[data-status][data-status=hold-requested] {
    color: #f68b20!important
}

.compare h2 {
  font-size:16px
}

.subhead h1 {
    font-size: 1.6em!important;
  }
#main #profile .back a {color:transparent!important}

#ups-fw_legacy_app_wrap #profile p a.btn-aqua , #ups-fw_legacy_app_wrap a.btn-yellow:not(.NavBar_button):not(.NavBar_compass):not(.locationPin) {color:#fff!important}
.ups-fw_legacy_app_inner #main .subhead .back a {color: transparent !important;}
.location-results .list-group-item p a {margin:10px 0!important}
.location-results .list-group-item .return h2[data-status=delivered]{background:none}

.list-group-selectors .list-group-item .return{
  h2[data-status][data-status=delivered] {
    color: $black_s4 !important;
    font-family: $sans;
    font-size: 14px;
  }
  a:after{
  content: "";
  }
  .list-group-item > a {
    text-decoration: none !important;
  }
}

.list-group-item > a {
    text-decoration: none !important;
  }

@media screen and (max-width: 330px){
  #alert_options_form{
    .content{
      .row{
        .checkbox{
          &.col-xs-4{
            width: 35%;
          }
        }
      }
    }
  }
} 