<form action="repl_faction">

    <!-- Begin Table: Page Header no Icon -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td class="pi-h1" valign="top">
                Manage Product List
            </td>
        </tr>
    </table>
    <!-- End Table: Page Header no Icon -->

    <!-- Begin Table: Formatting Table 4col -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td valign="top" width="100%">

                <!-- Begin Table: Module Table (Parent:Formatting Table) -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td class="pi-mA1-t" valign="top">

                            <!-- Begin Table: Module Title (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-m-txt-title">
                                        Enter Product Information
                                    </td>
                                    <td class="pi-m-txt-title-link" nowrap>
                                        <a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Module Title (Parent:Module Table) -->

                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c-t-spc">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c" valign="top">

                            <!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <div class="pi-m-pad">
                                            Enter the information below, then select <span class="pi-h4">Add Tariff Code</span> to add the code to the Product Tariff Code List. Required fields are shown in <span class="pi-h4">bold.</span><br>
                                            <br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Functional Table 1 (Parent:Module Table) -->

                            <!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td colspan="4">
                                        <label for="repl_productName">Product Name:</label><br>
                                        <input class="modTxtLarge" maxlength="50" size="35" type="text" id="repl_productName">
                                        <br>
                                        <label for="repl_productDescription">Product Description:</label> accepts 105 characters; additional characters will be discarded<br>
                                        <textarea class="modTxtAreaLarge" cols="40" rows="5" id="repl_productDescription"></textarea>
                                        <br>
                                        <label for="repl_productCountry" class="sel"><a href="repl_href">Product Country or Territory of Origin:</a></label><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a><br>
                                        <select name="repl_fname" class="modSelMedium" size="1" id="repl_productCountry">
                                            <option>Select One</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" colspan="3">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <label for="repl_weight" class="sel">Weight:</label>
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td>
                                                    <label for="repl_unit" class="sel">Weight Unit:</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="modTxtMedium" maxlength="17" size="19" type="text" id="repl_weight">
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td>
                                                    <select name="repl_fname" class="modSelMedium" size="1" id="repl_unit">
                                                        <option>Select One</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" colspan="3">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <label for="repl_pricePerUnit" class="sel">Price per Unit:</label>
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td>
                                                    <label for="repl_currency" class="sel">Currency:</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="modTxtMedium" maxlength="20" size="19" type="text" id="repl_pricePerUnit">
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td>
                                                    <select name="repl_fname" class="modSelMedium" size="1" id="repl_currency">
                                                        <option>[context country or territory currency]</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" colspan="3">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <label for="repl_eccn" class="sel"><a href="repl_href">Product ECCN Number:</a></label><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a>
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td>
                                                    <label for="repl_ctp" class="sel"><a href="repl_http://www.ups.com/content/us/en/shipping/international/pro
duct_list/app_rate.html;href">Product App Rate:</a></label><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="modTxtMedium" maxlength="25" size="19" type="text" id="repl_eccn">
                                                </td>
                                                <td>
                                                    <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                                </td>
                                                <td>
                                                    <input class="modTxtMedium" maxlength="20" size="19" type="text" id="repl_ctp">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" colspan="3">
                                        <label for="repl_reference1" class="sel">Product Reference #1:</label><br>
                                        <input class="modTxtLarge" maxlength="35" size="35" type="text" id="repl_reference1">
                                        <br>
                                        <label for="repl_reference2" class="sel">Product Reference #2:</label><br>
                                        <input class="modTxtLarge" maxlength="35" size="35" type="text" id="repl_reference2">
                                        <br>
                                        <label for="repl_reference3" class="sel">Product Reference #3:</label><br>
                                        <input class="modTxtLarge" maxlength="35" size="35" type="text" id="repl_reference3">
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td colspan="3">
                                        <label for="repl_tariffCountry" class="sel">Tariff Code Destination Country or Territory:</label><br>
                                        <select name="repl_fname" class="modSelMedium" size="1" id="repl_tariffCountry">
                                            <option>Select One</option>
                                        </select>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" width="50%">
                                        <label for="repl_tariffCode" class="sel"><a href="repl_href">Tariff Code:</a></label><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a><br>
                                        <input class="modTxtMedium" maxlength="40" size="19" type="text" id="repl_tariffCode">
                                        <br>
                                        <br>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" width="50%">
                                        <a href="repl_href"><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1">Search For Tariff Codes</a>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" width="50%">
                                        Secondary Code: - [0000..00.00.00]<br>
                                        <br>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" width="50%">&nbsp;
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" width="50%">
                                        <a href="repl_href">Detail ID:</a><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a>&nbsp;&nbsp;
                                        **[0000.....0]&nbsp;&nbsp;**[0000.....0<br>
                                        <br>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td valign="top" width="50%">&nbsp;
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td colspan="3">
                                        Tariff Code Description:<br>
                                        [harmonizer generated tariff code description text] + [harmonizer generated tariff dash code dsescription text]<br>
                                        <br>
                                        <span class="pi-h4">**Note:</span> The Detail ID is used by TradeAbility&trade; to help refine results and should not be reported on official customs documents as part of the Tariff Code.<br>
                                        <br>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td colspan="3">
                                        <a href="repl_href"><img alt="" border="0" height="12" src="/img/btn_add_mini.gif" width="12"></a>&nbsp;<a href="repl_href">Add Tariff Code</a><br>
                                        <div align="center">
                                            <img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="100%">
                                        </div>
                                        <span class="pi-h3">Product Tariff Code List</span><br>
                                        To remove a tariff code from this product list, select the corresponding <span class="pi-h4">Remove</span> link.<br>
                                    </td>
                                    <td>
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <img alt="" border="0" height="4" src="/img/1.gif" width="1">
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Functional Table 3 (Parent:Module Table) -->

                            <br>

                            <!-- Begin table: Functional Table 4d (Parent:Module Table) -->
                            <table class="pi-mA1-line" border="0" cellpadding="1" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-mA1">
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                    <td width="100%">

                                        <!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
                                        <table class="pi-mA1" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="100%">

                                                    <!-- Begin Table: Inner Content (Parent:Module Table) -->
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr class="pi-r1-t">
                                                                <td class="pi-r1-pad" width="60%">
                                                                    Tariff Code - Description
                                                                </td>
                                                                <td class="pi-r1-line" colspan="2">
                                                                    Destination Country or Territory
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="pi-r1-rwo">
                                                                <td class="pi-r1-pad">
                                                                    [tariff code]<br>
                                                                    **[sub code]<br>
                                                                    [tariff code description]
                                                                </td>
                                                                <td class="pi-r1-pad">
                                                                    [destination country or territory]
                                                                </td>
                                                                <td class="pi-r1-pad">
                                                                    <a href="repl_href">Remove from table</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="pi-r1-rwe">
                                                                <td class="pi-r1-pad">
                                                                    [tariff code]<br>
                                                                    **[sub code]<br>
                                                                    [tariff code description]
                                                                </td>
                                                                <td class="pi-r1-pad">
                                                                    [destination country or territory]
                                                                </td>
                                                                <td class="pi-r1-pad">
                                                                    <a href="repl_href">Remove from table</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="pi-r1-rwo">
                                                                <td class="pi-r1-pad">
                                                                    [tariff code] - [tariff code]<br>
                                                                    **[sub code]<br>
                                                                    [tariff code description] + [tariff dash code description]
                                                                </td>
                                                                <td class="pi-r1-pad">
                                                                    [destination country or territory]
                                                                </td>
                                                                <td class="pi-r1-pad">
                                                                    <a href="repl_href">Remove from table</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Table: Inner Content (Parent:Module Table) -->

                                                </td>
                                            </tr>
                                        </table>
                                        <!-- End table: Inner Table (Parent:Functional Table 4b) -->

                                    </td>
                                    <td class="pi-mA1">
                                        <img alt="" border="0" height="1" src="/img/1.gif" width="10">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pi-mA1" colspan="3">
                                        <img alt="" border="0" height="10" src="/img/1.gif" width="1">
                                    </td>
                                </tr>
                            </table>
                            <!-- End table: Functional Table 4d (Parent:Module Table) -->

                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-c-b-spc">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-line">
                            <img alt="" border="0" height="1" src="/img/1.gif" width="1">
                        </td>
                    </tr>
                    <tr>
                        <td class="pi-mA1-b" valign="top">

                            <!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="pi-m-button" nowrap>
                                        <input type="button" class="btn" value="cancel">
                                        <input type="submit" class="btnArw" value="submit">
                                    </td>
                                </tr>
                            </table>
                            <!-- End Table: Form Control Buttons(Parent:Module Table) -->

                        </td>
                    </tr>
                </table>
                <!-- End Table: Module Table (Parent:Formatting Table) -->

            </td>
        </tr>
    </table>
    <!-- End Table: Formatting Table 4col -->

</form>
