<div id="dyn_pnl_1"> {{#if default}} 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// Begin Panel 1 - Default                                        //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// -->
	<div id="pnl_1_1">
		<div class="Single border">
			<table width="100%" cellspacing="0" border="0" cellpadding="0" role="presentation">
				<tr>
					<td class="stepFour uis-head-step">Commodity and Handling Unit Information</td>
				</tr>
				<tr>
					<td class="mod-body-pad">to add a single item to the commodity table, fill out the row of commodity information below, and select the <b>add</b> button. <br>
						you may also select <b>search commodity list</b> to add one or more items from your commodity list. <br>
						you may enter details for up to 99 commodities. <br>
						<br>
						<span class="show_hide"> <a href="repl_href"> <img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="1" src="/img/1.gif" width="3">search commodity from list </a> </span></td>
				</tr>
				<tr>
					<td><!-- Begin: Commodity Table -->
						
						<div class="overflow_x">
							<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
								<tr>
									<td nowrap class="sec-head">&nbsp;</td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> pieces<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head">description of goods<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head">packaging<br>
										type<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head">weight<br>
										(lbs)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> nmfc<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> sub#<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> class<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> hazmat<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
									<td nowrap class="sec-head">&nbsp;</td>
								</tr>
								<tr class="sec-row-od">
									<td align="center" class="sec-pad">&nbsp;</td>
									<td class="sec-pad"><input name="temp" type="text" value="1" class="modTxtSmall"></td>
									<td class="sec-pad"><textarea name="temp" class="modTxtMedium" cols="" rows="2"></textarea></td>
									<td class="sec-pad"><select name="select3" class="modSelMediumSmall">
											<option>select packaging</option>
											<option>bag</option>
											<option>bale</option>
											<option>barrel</option>
											<option>basket</option>
											<option>bin</option>
											<option>box</option>
											<option>bunch</option>
											<option>bundle</option>
											<option>cabinet</option>
											<option>can</option>
											<option>carboy</option>
											<option>carrier</option>
											<option>carton</option>
											<option>case</option>
											<option>casket</option>
											<option>container</option>
											<option>crate</option>
											<option>cylinder</option>
											<option>drum</option>
											<option>loose</option>
											<option>other</option>
											<option selected>package</option>
											<option>pail</option>
											<option>pallet</option>
											<option>pieces</option>
											<option>pipe line</option>
											<option>reel</option>
											<option>roll</option>
											<option>skid</option>
											<option>spool</option>
											<option>tank</option>
											<option>tube</option>
											<option>unit</option>
											<option>van pack</option>
											<option>wrapped</option>
										</select></td>
									<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
									<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
									<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
									<td class="sec-pad"><select name="temp" class="modSelSmall">
											<option></option>
										</select></td>
									<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
									<td align="center" class="sec-pad"><input name="go" type="button" value="Add" class="btn"></td>
								</tr>
								<tr class="sec-row-title">
									<td colspan="10" class="mod-pad">&nbsp;</td>
								</tr>
							</table>
						</div></td>
				</tr>
			</table>
		</div>
		<div style="clear:both"></div>
	</div>
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End Panel 1 - Default                                          //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	{{/if}}
	{{#if example_with_2_commodities_added}} 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// Begin Panel 2 - ex. w/ 2 commodities added                     //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// -->
	<div id="pnl_1_2">
		<div class="Single border">
			<table width="100%" cellspacing="0" border="0" cellpadding="0" role="presentation">
				<tr>
					<td class="stepFour uis-head-step">Commodity and Handling Unit Information</td>
				</tr>
				<tr>
					<td class="mod-body-pad">to add a single item to the commodity table, fill out the row of commodity information below, and select the <b>add</b> button. <br>
						you may also select <b>search commodity list</b> to add one or more items from your commodity list. <br>
						you may enter details for up to 99 commodities. <br>
						<br>
						<span class="show_hide"> <a href="repl_href"> <img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="1" src="/img/1.gif" width="3">search commodity from list </a> </span></td>
				</tr>
				<tr>
					<td>
					<!-- Begin: Commodity Table -->
					<div class="overflow_x">
						<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
							<tr>
								<td nowrap class="sec-head">&nbsp;</td>
								<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> pieces<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
								<td nowrap class="sec-head">description of goods<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
								<td nowrap class="sec-head">packaging type<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
								<td nowrap class="sec-head">weight (lbs)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
								<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> nmfc<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
								<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> sub#<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
								<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> class<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
								<!--<td nowrap class="sec-head">value ($)</td>-->
								<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> hazmat<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
								<td nowrap class="sec-head">&nbsp;</td>
							</tr>
							<tr class="sec-row-od">
								<td align="center" class="sec-pad">&nbsp;</td>
								<td class="sec-pad"><input name="temp" type="text" value="1" class="modTxtSmall"></td>
								<td class="sec-pad"><textarea name="temp" class="modTxtMedium" cols="" rows="2"></textarea></td>
								<td class="sec-pad"><select name="select3" class="modSelMediumSmall">
										<option selected>select packaging</option>
										<option>bag</option>
										<option>bale</option>
										<option>barrel</option>
										<option>basket</option>
										<option>bin</option>
										<option>box</option>
										<option>bunch</option>
										<option>bundle</option>
										<option>cabinet</option>
										<option>can</option>
										<option>carboy</option>
										<option>carrier</option>
										<option>carton</option>
										<option>case</option>
										<option>casket</option>
										<option>container</option>
										<option>crate</option>
										<option>cylinder</option>
										<option>drum</option>
										<option>loose</option>
										<option>other</option>
										<option>package</option>
										<option>pail</option>
										<option>pallet</option>
										<option>pieces</option>
										<option>pipe line</option>
										<option>reel</option>
										<option>roll</option>
										<option>skid</option>
										<option>spool</option>
										<option>tank</option>
										<option>tube</option>
										<option>unit</option>
										<option>van pack</option>
										<option>wrapped</option>
									</select></td>
								<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
								<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
								<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
								<td class="sec-pad"><select name="temp" class="modSelSmall">
										<option></option>
									</select></td>
								<!--<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall">-->
							</td>
							
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
								<td align="center" class="sec-pad"><input name="go" type="button" value="Add" class="btn"></td>
							</tr>
							<tr>
								<td colspan="10" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							</tr>
							<tr class="sec-row-od">
								<td colspan="10" align="left" class="sec-pad"><input name="repl_name2" type="button" class="btnlnkL plusmini" value="Select All">
									<input name="repl_name3" type="button" class="btnlnkL clearmini" value="Clear All">
									<br>
									<input name="repl_name4" type="button" class="btnlnkL crossmini" value="Remove Selected Items"></td>
							</tr>
							<tr class="sec-row-ev">
								<td align="center" class="sec-pad"><input name="temp3" type="checkbox" value="" checked></td>
								<td class="sec-pad"><input name="temp2" type="text" value="1" class="modTxtSmall"></td>
								<td class="sec-pad">Test product</td>
								<td class="sec-pad"><select name="select4" class="modSelMediumSmall">
										<option>select packaging</option>
										<option>bag</option>
										<option>bale</option>
										<option>user data</option>
										<option>basket</option>
										<option>bin</option>
										<option>box</option>
										<option>bunch</option>
										<option>bundle</option>
										<option>cabinet</option>
										<option>can</option>
										<option>carboy</option>
										<option>carrier</option>
										<option>carton</option>
										<option>case</option>
										<option>casket</option>
										<option>container</option>
										<option>crate</option>
										<option>cylinder</option>
										<option>drum</option>
										<option>loose</option>
										<option>other</option>
										<option>package</option>
										<option>pail</option>
										<option selected>pallet</option>
										<option>pieces</option>
										<option>pipe line</option>
										<option>reel</option>
										<option>roll</option>
										<option>skid</option>
										<option>spool</option>
										<option>tank</option>
										<option>tube</option>
										<option>unit</option>
										<option>van pack</option>
										<option>wrapped</option>
									</select></td>
								<td class="sec-pad"><input name="temp2" type="text" value="145" class="modTxtSmall"></td>
								<td class="sec-pad">&nbsp;</td>
								<td class="sec-pad">&nbsp;</td>
								<td class="sec-pad">150</td>
								<!--<td class="sec-pad">&nbsp;</td>-->
								<td align="center" class="sec-pad">&nbsp;</td>
								<td align="center" class="sec-pad">&nbsp;</td>
							</tr>
							<tr class="sec-row-ev">
								<td align="center" class="sec-pad"><input name="temp3" type="checkbox" value=""></td>
								<td class="sec-pad"><input name="temp2" type="text" value="{nn}" class="modTxtSmall"></td>
								<td class="sec-pad">Test product</td>
								<td class="sec-pad"><select name="select4" class="modSelMediumSmall">
										<option>select packaging</option>
										<option>bag</option>
										<option>bale</option>
										<option>user data</option>
										<option>basket</option>
										<option>bin</option>
										<option>box</option>
										<option>bunch</option>
										<option>bundle</option>
										<option>cabinet</option>
										<option>can</option>
										<option>carboy</option>
										<option>carrier</option>
										<option>carton</option>
										<option>case</option>
										<option>casket</option>
										<option>container</option>
										<option>crate</option>
										<option>cylinder</option>
										<option>drum</option>
										<option>loose</option>
										<option>other</option>
										<option>package</option>
										<option>pail</option>
										<option selected>pallet</option>
										<option>pieces</option>
										<option>pipe line</option>
										<option>reel</option>
										<option>roll</option>
										<option>skid</option>
										<option>spool</option>
										<option>tank</option>
										<option>tube</option>
										<option>unit</option>
										<option>van pack</option>
										<option>wrapped</option>
									</select></td>
								<td class="sec-pad"><input name="temp2" type="text" value="{nn}" class="modTxtSmall"></td>
								<td class="sec-pad">&nbsp;</td>
								<td class="sec-pad">&nbsp;</td>
								<td class="sec-pad">{nn}</td>
								<!--<td class="sec-pad">&nbsp;</td>-->
								<td align="center" class="sec-pad">&nbsp;</td>
								<td align="center" class="sec-pad">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="10" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							</tr>
							<tr class="sec-row-title">
								<td colspan="10" class="mod-pad"><strong>Grand Totals:</strong></td>
							</tr>
							<tr class="sec-row-title">
								<td class="sec-pad">&nbsp;</td>
								<td class="sec-pad nowrap"><strong>2 pieces</strong></td>
								<td class="sec-pad">&nbsp;</td>
								<td class="sec-pad">&nbsp;</td>
								<td class="sec-pad nowrap"><strong>300lbs</strong></td>
								<td colspan="2" class="sec-pad">&nbsp;</td>
								<td class="sec-pad nowrap">&nbsp;</td>
								<td class="sec-pad">&nbsp;</td>
								<td class="sec-pad">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="10" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
							</tr>
						</table>
					</div>
					</td>
				</tr>
				<tr>
					<td><hr class="hr"></td>
				</tr>
				<tr>
					<td class="mod-body-pad"><dl>
							<dt>
								<label class="fldLbl h4">Handling Units</label>
								<br>
								<span class="sel">Tell us about the handling units or moveable pieces that will be used to ship your commodities.</span> </dt>
							<dd>
								<input name="temp" type="text" class="modTxtSmall">
								as
								<select name="" id="" size="1">
									<option value="">pallet(s)</option>
								</select>
								and/or
								<input name="temp" type="text" class="modTxtSmall">
								as
								<select name="" id="" size="1">
									<option value="">loose items</option>
								</select>
								<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"> </dd>
						</dl></td>
				</tr>
			</table>
		</div>
		<div style="clear:both"></div>
	</div>
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End Panel 2 - ex. w/ 2 commodities added                       //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	{{/if}}
	{{#if ground_freight_pricing_eligible}} 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// Begin Panel 3 - Ground Freight Pricing Eligible                //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// -->
	<div id="pnl_1_3">
		<div class="Single border">
			<table width="100%" cellspacing="0" border="0" cellpadding="0" role="presentation">
				<tbody>
					<tr>
						<td class="stepFour uis-head-step">Commodity and Handling Unit Information</td>
					</tr>
					<tr>
						<td class="mod-body-pad">to add a single item to the commodity table, fill out the row of commodity information below, and select the <b>add</b> button. <br>
							you may also select <b>search commodity list</b> to add one or more items from your commodity list. <br>
							you may enter details for up to 99 commodities. <br>
							<br>
							<span class="show_hide"> <a href="repl_href"> <img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="1" src="/img/1.gif" width="3">search from commodity list </a> </span></td>
					</tr>
					<tr>
						<td><!-- Begin: Commodity Table -->
							
							<div class="overflow_x">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
									<tr>
										<td nowrap class="sec-head">&nbsp;</td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> pieces<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">description of goods<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">packaging type<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">weight (lbs)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> nmfc<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> sub#<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> class<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<!--<td nowrap class="sec-head">value ($)</td>-->
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> hazmat<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
										<td nowrap class="sec-head">&nbsp;</td>
									</tr>
									<tr class="sec-row-od">
										<td align="center" class="sec-pad">&nbsp;</td>
										<td class="sec-pad"><input name="temp" type="text" value="1" class="modTxtSmall"></td>
										<td class="sec-pad"><textarea name="temp" class="modTxtMedium" cols="" rows="2"></textarea></td>
										<td class="sec-pad"><select name="select3" class="modSelMediumSmall">
												<option selected>select packaging</option>
												<option>bag</option>
												<option>bale</option>
												<option>barrel</option>
												<option>basket</option>
												<option>bin</option>
												<option>box</option>
												<option>bunch</option>
												<option>bundle</option>
												<option>cabinet</option>
												<option>can</option>
												<option>carboy</option>
												<option>carrier</option>
												<option>carton</option>
												<option>case</option>
												<option>casket</option>
												<option>container</option>
												<option>crate</option>
												<option>cylinder</option>
												<option>drum</option>
												<option>loose</option>
												<option>other</option>
												<option>package</option>
												<option>pail</option>
												<option>pallet</option>
												<option>pieces</option>
												<option>pipe line</option>
												<option>reel</option>
												<option>roll</option>
												<option>skid</option>
												<option>spool</option>
												<option>tank</option>
												<option>tube</option>
												<option>unit</option>
												<option>van pack</option>
												<option>wrapped</option>
											</select></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad"><select name="temp" class="modSelSmall">
												<option></option>
											</select></td>
										<!--<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>-->
										<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
										<td align="center" class="sec-pad"><input name="go" type="button" value="Add" class="btn"></td>
									</tr>
									<tr>
										<td colspan="10" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
									<tr class="sec-row-od">
										<td colspan="10" align="left" class="sec-pad"><input name="repl_name2" type="button" class="btnlnkL plusmini" value="Select All">
											<input name="repl_name3" type="button" class="btnlnkL clearmini" value="Clear All">
											<br>
											<input name="repl_name4" type="button" class="btnlnkL crossmini" value="Remove Selected Items"></td>
									</tr>
									<tr class="sec-row-ev">
										<td align="center" class="sec-pad"><input name="temp3" type="checkbox" value=""></td>
										<td class="sec-pad"><input name="temp2" type="text" value="{nn}" class="modTxtSmall"></td>
										<td class="sec-pad">Test product</td>
										<td class="sec-pad"><select name="select4" class="modSelMediumSmall">
												<option>select packaging</option>
												<option>bag</option>
												<option>bale</option>
												<option>user data</option>
												<option>basket</option>
												<option>bin</option>
												<option>box</option>
												<option>bunch</option>
												<option>bundle</option>
												<option>cabinet</option>
												<option>can</option>
												<option>carboy</option>
												<option>carrier</option>
												<option>carton</option>
												<option>case</option>
												<option>casket</option>
												<option>container</option>
												<option>crate</option>
												<option>cylinder</option>
												<option>drum</option>
												<option>loose</option>
												<option>other</option>
												<option>package</option>
												<option>pail</option>
												<option selected>pallet</option>
												<option>pieces</option>
												<option>pipe line</option>
												<option>reel</option>
												<option>roll</option>
												<option>skid</option>
												<option>spool</option>
												<option>tank</option>
												<option>tube</option>
												<option>unit</option>
												<option>van pack</option>
												<option>wrapped</option>
											</select></td>
										<td class="sec-pad"><input name="temp2" type="text" value="{nn}" class="modTxtSmall"></td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">{nn}</td>
										<!--<td class="sec-pad">&nbsp;</td>-->
										<td align="center" class="sec-pad">&nbsp;</td>
										<td align="center" class="sec-pad">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="10" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
									<tr class="sec-row-title">
										<td colspan="10" class="mod-pad"><strong>Grand Totals:</strong></td>
									</tr>
									<tr class="sec-row-title">
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap"><strong>2 pieces</strong></td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap"><strong>300 lbs</strong></td>
										<td colspan="2" class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="10" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
							</div></td>
					</tr>
					<tr>
						<td><hr class="hr"></td>
					</tr>
					<tr>
						<td class="mod-body-pad"><dl>
								<dt>
									<label class="fldLbl">Handling Units</label>
									<br>
									<span class="sel">Tell us about the handling units or moveable pieces that will be used to ship your commodities.</span></dt>
								<dd>
									<input name="temp" type="text" class="modTxtSmall">
									as
									<select name="" id="" size="1">
										<option value="">pallet(s)</option>
									</select>
									and/or
									<input name="temp" type="text" class="modTxtSmall">
									as
									<select name="" id="" size="1">
										<option value="">loose items</option>
									</select>
									<img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"> </dd>
							</dl></td>
					</tr>
				</tbody>
			</table>
			<p>You might save by shipping using UPS Ground<sup>&trade;</sup> with Freight Pricing.</p>
			<p>Sum the weights of your handling unit(s), pallets or skids for example, to help calculate a more accurate rate comparison.</p>
			<dl role="presentation" class="mod-body-pad">
				<dt>
					<label for="repl_for"> <a href="javascript:helpModLvl('repl_href')"> Weight of all Pallet / Skids:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label>
				</dt>
				<dd>
					<input name="temp" type="text" class="modTxtSmall" maxlength="4">
				</dd>
			</dl>
			<p><strong>Note:</strong> UPS Ground with Freight Pricing rate calculations are determined by subtracting Weight of all Pallet / Skids from the Total Shipment Weight, unless minimum billable weight apples.</p>
		</div>
		<div style="clear:both"></div>
	</div>
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End Panel 3 - Ground Freight Pricing Eligible                  //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	{{/if}}
	{{#if density_based}} 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// Begin Panel 4 - Density-based Rating View                      //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// -->
	<div id="pnl_1_4">
		<div class="Single border">
			<table width="100%" cellspacing="0" border="0" cellpadding="0" role="presentation">
				<tbody>
					<tr>
						<td class="stepFour uis-head-step">Commodity and Handling Unit Information</td>
					</tr>
					<tr>
						<td class="mod-body-pad">to add a single item to the commodity table, fill out the row of commodity information below, and select the <b>add</b> button. <br>
							you may also select <b>search commodity list</b> to add one or more items from your commodity list. <br>
							you may enter details for up to [99] commodities. <br>
							<br>
							<span class="show_hide"> <a href="repl_href"> <img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="1" src="/img/1.gif" width="3">search commodity from list </a> </span></td>
					</tr>
					<tr>
						<td><!-- Begin: Commodity Table -->
							
							<div class="overflow_x">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
									<tr>
										<td nowrap class="sec-head">&nbsp;</td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> pieces<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">description of goods<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">packaging type<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">weight (lbs)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> nmfc<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> sub#<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> &nbsp;<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">&nbsp;</td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> hazmat<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
										<td nowrap class="sec-head">&nbsp;</td>
									</tr>
									<tr class="sec-row-od">
										<td align="center" class="sec-pad">&nbsp;</td>
										<td class="sec-pad"><input name="temp" type="text" value="1" class="modTxtSmall"></td>
										<td class="sec-pad"><textarea name="temp" class="modTxtMedium" cols="" rows="2"></textarea></td>
										<td class="sec-pad"><select name="select3" class="modSelMediumSmall">
												<option>select packaging</option>
												<option>bag</option>
												<option>bale</option>
												<option>barrel</option>
												<option>basket</option>
												<option>bin</option>
												<option>box</option>
												<option>bunch</option>
												<option>bundle</option>
												<option>cabinet</option>
												<option>can</option>
												<option>carboy</option>
												<option>carrier</option>
												<option>carton</option>
												<option>case</option>
												<option>casket</option>
												<option>container</option>
												<option>crate</option>
												<option>cylinder</option>
												<option>drum</option>
												<option>loose</option>
												<option>other</option>
												<option selected>package</option>
												<option>pail</option>
												<option>pallet</option>
												<option>pieces</option>
												<option>pipe line</option>
												<option>reel</option>
												<option>roll</option>
												<option>skid</option>
												<option>spool</option>
												<option>tank</option>
												<option>tube</option>
												<option>unit</option>
												<option>van pack</option>
												<option>wrapped</option>
											</select></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
										<td align="center" class="sec-pad"><input name="go" type="button" value="Add" class="btn"></td>
									</tr>
									<tr>
										<td colspan="11" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
									<tr class="sec-row-od">
										<td colspan="11" align="left" class="sec-pad"><input name="repl_name2" type="button" class="btnlnkL plusmini" value="Select All">
											<input name="repl_name3" type="button" class="btnlnkL clearmini" value="Clear All">
											<br>
											<input name="repl_name4" type="button" class="btnlnkL crossmini" value="Remove Selected Items"></td>
									</tr>
									<tr class="sec-row-ev">
										<td align="center" class="sec-pad"><input name="temp3" type="checkbox" value=""></td>
										<td class="sec-pad"><input name="temp2" type="text" value="1" class="modTxtSmall"></td>
										<td class="sec-pad">Test product</td>
										<td class="sec-pad"><select name="select4" class="modSelMediumSmall">
												<option>select packaging</option>
												<option>bag</option>
												<option>bale</option>
												<option>user data</option>
												<option>basket</option>
												<option>bin</option>
												<option>box</option>
												<option>bunch</option>
												<option>bundle</option>
												<option>cabinet</option>
												<option>can</option>
												<option>carboy</option>
												<option>carrier</option>
												<option>carton</option>
												<option>case</option>
												<option>casket</option>
												<option>container</option>
												<option>crate</option>
												<option>cylinder</option>
												<option>drum</option>
												<option>loose</option>
												<option>other</option>
												<option>package</option>
												<option>pail</option>
												<option selected>pallet</option>
												<option>pieces</option>
												<option>pipe line</option>
												<option>reel</option>
												<option>roll</option>
												<option>skid</option>
												<option>spool</option>
												<option>tank</option>
												<option>tube</option>
												<option>unit</option>
												<option>van pack</option>
												<option>wrapped</option>
											</select></td>
										<td class="sec-pad"><input name="temp2" type="text" value="145" class="modTxtSmall"></td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">150</td>
										<td class="sec-pad">&nbsp;</td>
										<td align="center" class="sec-pad">&nbsp;</td>
										<td align="center" class="sec-pad">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="11" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
									<tr class="sec-row-title">
										<td colspan="11" class="mod-pad"><strong>Grand Totals:</strong></td>
									</tr>
									<tr class="sec-row-title">
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap"><strong>2 pieces</strong></td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap"><strong>300 lbs</strong></td>
										<td colspan="3" class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="11" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
							</div></td>
					</tr>
				</tbody>
			</table>
			<p><strong>Handling Units</strong></p>
			<p><span class="error">&gt;&gt;&gt;Handling Unit table "Save Row" error message paceholder.</span></p>
			<p>Tell us about the dimensions of each of your handling units for <a href="javascript:helpModLvl('repl_href')"> density-based rating<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> . A minimum of one handling unit is required.</p>
			<div class="overflow_x">
				<table cellspacing="0" border="0" cellpadding="0" role="presentation">
					<tbody>
						<tr>
							<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr class="sec-row-title">
							<td nowrap class="sec-pad"><strong>Handling Unit Type:</strong></td>
							<td nowrap class="sec-pad"><strong>Number of Units:</strong></td>
							<td nowrap class="sec-pad"><strong>Length (in)</strong></td>
							<td nowrap class="sec-pad"><strong>Width (in)</strong></td>
							<td nowrap class="sec-pad"><strong>Height (in)</strong></td>
							<td nowrap class="sec-pad">&nbsp;</td>
						</tr>
						<tr>
							<td class="sec-pad"><select name="select4" class="modSelMediumSmall">
									<option>select packaging</option>
									<option>bag</option>
									<option>bale</option>
									<option>user data</option>
									<option>basket</option>
									<option>bin</option>
									<option>box</option>
									<option>bunch</option>
									<option>bundle</option>
									<option>cabinet</option>
									<option>can</option>
									<option>carboy</option>
									<option>carrier</option>
									<option>carton</option>
									<option>case</option>
									<option>casket</option>
									<option>container</option>
									<option>crate</option>
									<option>cylinder</option>
									<option>drum</option>
									<option>loose</option>
									<option>other</option>
									<option>package</option>
									<option>pail</option>
									<option selected="">pallet(s)</option>
									<option>pieces</option>
									<option>pipe line</option>
									<option>reel</option>
									<option>roll</option>
									<option>skid</option>
									<option>spool</option>
									<option>tank</option>
									<option>tube</option>
									<option>unit</option>
									<option>van pack</option>
									<option>wrapped</option>
								</select></td>
							<td nowrap class="sec-pad"><input name="temp" type="text" class="modTxtSmall" maxlength="3"></td>
							<td nowrap class="sec-pad"><input name="temp" type="text" class="modTxtSmall" maxlength="3"></td>
							<td nowrap class="sec-pad"><input name="temp" type="text" class="modTxtSmall" maxlength="3"></td>
							<td nowrap class="sec-pad"><input name="temp" type="text" class="modTxtSmall" maxlength="3"></td>
							<td nowrap class="sec-pad"><a href="repl_href"> <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">Save Row </a></td>
						</tr>
						<tr>
							<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- ///////////////////////////////////////////////////////////////////////// --> 
			<!-- ///////////////////////////////////////////////////////////////////////// --> 
			<!-- //// Do not use Dyn_Pnls in production code                          //// --> 
			<!-- ///////////////////////////////////////////////////////////////////////// --> 
			<!-- ///////////////////////////////////////////////////////////////////////// --> 
			<!-- //// Begin 4 Commodity and Handling Unit Information                 //// --> 
			<!-- //// Begin Dyn_Pnl_2                                                 //// --> 
			<!-- ///////////////////////////////////////////////////////////////////////// -->
			
			<div id="dyn_pnl_2">
				<div id="pnl_2_1">
					<div class="floatBegin">
						<p><strong class="fldLbl">Handling Units in this Shipment<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></strong></p>
					</div>
					<div class="floatEnd"><strong>[None] added</strong></div>
					<div class="clearfix"></div>
					<div class="overflow_x">
						<table cellspacing="0" border="0" cellpadding="0" role="presentation">
							<tbody>
								<tr>
									<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
								</tr>
								<tr class="sec-row-title">
									<td nowrap class="sec-pad"><strong>Handling Unit Type:</strong></td>
									<td nowrap class="sec-pad"><strong>Number of Units:</strong></td>
									<td nowrap class="sec-pad"><strong>Length (in)</strong></td>
									<td nowrap class="sec-pad"><strong>Width (in)</strong></td>
									<td nowrap class="sec-pad"><strong>Height (in)</strong></td>
									<td nowrap class="sec-pad">&nbsp;</td>
								</tr>
								<tr>
									<td nowrap class="sec-pad"></td>
									<td nowrap class="sec-pad"></td>
									<td nowrap class="sec-pad"></td>
									<td nowrap class="sec-pad"></td>
									<td nowrap class="sec-pad"></td>
									<td nowrap class="sec-pad"></td>
								</tr>
								<tr>
									<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="pnl_2_2">
					<div class="floatBegin">
						<p><strong class="fldLbl">Handling Units in this Shipment<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></strong></p>
					</div>
					<div class="floatEnd"><strong>[4] of 50 added</strong></div>
					<div class="clearfix"></div>
					<div class="overflow_x">
						<table cellspacing="0" border="0" cellpadding="0" class="dataTable">
							<tbody>
								<tr>
									<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
								</tr>
								<tr class="sec-row-title">
									<td nowrap class="sec-pad"><strong>Handling Unit Type:</strong></td>
									<td nowrap class="sec-pad"><strong>Number of Units:</strong></td>
									<td nowrap class="sec-pad"><strong>Length (in)</strong></td>
									<td nowrap class="sec-pad"><strong>Width (in)</strong></td>
									<td nowrap class="sec-pad"><strong>Height (in)</strong></td>
									<td nowrap class="sec-pad">&nbsp;</td>
								</tr>
								<tr class="odd">
									<td nowrap class="sec-pad">[Hand Unit Type]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad"><a href="repl_href" class="btnlnkL crossmini"> Delete </a></td>
								</tr>
								<tr>
									<td nowrap class="sec-pad">[Hand Unit Type]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad"><a href="repl_href" class="btnlnkL crossmini"> Delete </a></td>
								</tr>
								<tr class="odd">
									<td nowrap class="sec-pad">[Hand Unit Type]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad"><a href="repl_href" class="btnlnkL crossmini"> Delete </a></td>
								</tr>
								<tr>
									<td nowrap class="sec-pad">[Hand Unit Type]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad">[00]</td>
									<td nowrap class="sec-pad"><a href="repl_href" class="btnlnkL crossmini"> Delete </a></td>
								</tr>
								<tr>
									<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- end sub panel 2 -->
		
		<div style="clear:both"></div>
	</div>
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End Panel 4 - Density-based Rating View                        //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	{{/if}}
	{{#if gfp_selected}} 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// Begin Panel 5 - GFP Selected                                   //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// -->
	<div id="pnl_1_5">
		<div class="Single border">
			<table width="100%" cellspacing="0" border="0" cellpadding="0" role="presentation">
				<tr>
					<td class="stepFour uis-head-step">Commodity and Handling Unit Information</td>
				</tr>
				<tr>
					<td class="mod-body-pad">to add a single item to the commodity table, fill out the row of commodity information below, and select the <b>add</b> button. <br>
						you may also select <b>search commodity list</b> to add one or more items from your commodity list. <br>
						you may enter details for up to [10] commodities. <br>
						<br>
						<span class="show_hide"> <a href="repl_href"> <img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="1" src="/img/1.gif" width="3">search commodity from list </a> </span></td>
				</tr>
				<tr>
					<td><!-- Begin: Commodity Table -->
						
						<div class="overflow_x">
							<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
								<tr>
									<td nowrap class="sec-head">&nbsp;</td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> pieces<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head">description of goods<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head">packaging<br>
										type<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head">weight (lbs)<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> nmfc<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> sub#<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
									<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> class<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
									<td nowrap class="sec-head">&nbsp;</td>
									<td nowrap class="sec-head">&nbsp;</td>
								</tr>
								<tr class="sec-row-od">
									<td align="center" class="sec-pad">&nbsp;</td>
									<td class="sec-pad"><input name="temp" type="text" value="1" class="modTxtSmall"></td>
									<td class="sec-pad"><textarea name="temp" class="modTxtMedium" cols="" rows="2"></textarea></td>
									<td class="sec-pad"><select name="select3" class="modSelMediumSmall">
											<option>select packaging</option>
											<option>bag</option>
											<option>bale</option>
											<option>barrel</option>
											<option>basket</option>
											<option>bin</option>
											<option>box</option>
											<option>bunch</option>
											<option>bundle</option>
											<option>cabinet</option>
											<option>can</option>
											<option>carboy</option>
											<option>carrier</option>
											<option>carton</option>
											<option>case</option>
											<option>casket</option>
											<option>container</option>
											<option>crate</option>
											<option>cylinder</option>
											<option>drum</option>
											<option>loose</option>
											<option>other</option>
											<option selected>package</option>
											<option>pail</option>
											<option>pallet</option>
											<option>pieces</option>
											<option>pipe line</option>
											<option>reel</option>
											<option>roll</option>
											<option>skid</option>
											<option>spool</option>
											<option>tank</option>
											<option>tube</option>
											<option>unit</option>
											<option>van pack</option>
											<option>wrapped</option>
										</select></td>
									<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
									<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
									<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
									<td class="sec-pad"><select name="temp" class="modSelSmall">
											<option></option>
										</select></td>
									<td align="center" class="sec-pad">&nbsp;</td>
									<td align="center" class="sec-pad"><input name="go" type="button" value="Add" class="btn"></td>
								</tr>
								<tr class="sec-row-title">
									<td colspan="10" class="mod-pad">&nbsp;</td>
								</tr>
							</table>
						</div></td>
				</tr>
			</table>
		</div>
		<div style="clear:both"></div>
	</div>
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End Panel 5 - GFP Selected                                     //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	{{/if}}
	{{#if gfp_and_dbr_example}} 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// Begin Panel 6 - GFP and DBR example                            //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// -->
	<div id="pnl_1_6">
		<div class="Single border">
			<table width="100%" cellspacing="0" border="0" cellpadding="0" role="presentation">
				<tbody>
					<tr>
						<td class="stepFour uis-head-step">Commodity and Handling Unit Information</td>
					</tr>
					<tr>
						<td class="mod-body-pad">to add a single item to the commodity table, fill out the row of commodity information below, and select the <b>add</b> button. <br>
							you may also select <b>search commodity list</b> to add one or more items from your commodity list. <br>
							you may enter details for up to [99] commodities. <br>
							<br>
							<span class="show_hide"> <a href="repl_href"> <img src="/img/btn_details_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="1" src="/img/1.gif" width="3">search commodity from list </a> </span></td>
					</tr>
					<tr>
						<td><!-- Begin: Commodity Table -->
							
							<div class="overflow_x">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
									<tr>
										<td nowrap class="sec-head">&nbsp;</td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> pieces<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">description of goods<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">packaging type<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head">weight<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> nmfc<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> sub#<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
										<td nowrap class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> class<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a> <img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></td>
										<td nowrap class="sec-head" colspan="3">&nbsp;</td>
									</tr>
									<tr class="sec-row-od">
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad"><input name="temp" type="text" value="1" class="modTxtSmall"></td>
										<td class="sec-pad"><textarea name="temp" class="modTxtMedium" cols="" rows="2"></textarea></td>
										<td class="sec-pad"><select name="select3" class="modSelMediumSmall">
												<option selected>select packaging</option>
												<option>bag</option>
												<option>bale</option>
												<option>barrel</option>
												<option>basket</option>
												<option>bin</option>
												<option>box</option>
												<option>bunch</option>
												<option>bundle</option>
												<option>cabinet</option>
												<option>can</option>
												<option>carboy</option>
												<option>carrier</option>
												<option>carton</option>
												<option>case</option>
												<option>casket</option>
												<option>container</option>
												<option>crate</option>
												<option>cylinder</option>
												<option>drum</option>
												<option>loose</option>
												<option>other</option>
												<option>package</option>
												<option>pail</option>
												<option>pallet</option>
												<option>pieces</option>
												<option>pipe line</option>
												<option>reel</option>
												<option>roll</option>
												<option>skid</option>
												<option>spool</option>
												<option>tank</option>
												<option>tube</option>
												<option>unit</option>
												<option>van pack</option>
												<option>wrapped</option>
											</select></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
										<td class="sec-pad"><select>
												<option></option>
											</select></td>
										<td class="sec-pad" colspan="2">&nbsp;</td>
										<td align="center" class="sec-pad"><input name="go" type="button" value="Add" class="btn"></td>
									</tr>
									<tr>
										<td colspan="11" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
									<tr class="sec-row-od">
										<td colspan="11" align="left" class="sec-pad"><input name="repl_name2" type="button" class="btnlnkL plusmini" value="Select All">
											<input name="repl_name3" type="button" class="btnlnkL clearmini" value="Clear All">
											<br>
											<input name="repl_name4" type="button" class="btnlnkL crossmini" value="Remove Selected Items"></td>
									</tr>
									<tr class="sec-row-ev">
										<td align="center" class="sec-pad"><input name="temp3" type="checkbox" value=""></td>
										<td class="sec-pad"><input name="temp2" type="text" value="1" class="modTxtSmall"></td>
										<td class="sec-pad">Test product</td>
										<td class="sec-pad"><select name="select4" class="modSelMediumSmall">
												<option>select packaging</option>
												<option>bag</option>
												<option>bale</option>
												<option>user data</option>
												<option>basket</option>
												<option>bin</option>
												<option>box</option>
												<option>bunch</option>
												<option>bundle</option>
												<option>cabinet</option>
												<option>can</option>
												<option>carboy</option>
												<option>carrier</option>
												<option>carton</option>
												<option>case</option>
												<option>casket</option>
												<option>container</option>
												<option>crate</option>
												<option>cylinder</option>
												<option>drum</option>
												<option>loose</option>
												<option>other</option>
												<option>package</option>
												<option>pail</option>
												<option selected>pallet</option>
												<option>pieces</option>
												<option>pipe line</option>
												<option>reel</option>
												<option>roll</option>
												<option>skid</option>
												<option>spool</option>
												<option>tank</option>
												<option>tube</option>
												<option>unit</option>
												<option>van pack</option>
												<option>wrapped</option>
											</select></td>
										<td class="sec-pad"><input name="temp2" type="text" value="145" class="modTxtSmall"></td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">150</td>
										<td class="sec-pad">&nbsp;</td>
										<td align="center" class="sec-pad">&nbsp;</td>
										<td align="center" class="sec-pad">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="11" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
									<tr class="sec-row-title">
										<td colspan="11" class="mod-pad"><strong>Grand Totals:</strong></td>
									</tr>
									<tr class="sec-row-title">
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap"><strong>2 pieces</strong></td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap"><strong>300 lbs</strong></td>
										<td colspan="3" class="sec-pad">&nbsp;</td>
										<td class="sec-pad nowrap">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
										<td class="sec-pad">&nbsp;</td>
									</tr>
									<tr>
										<td colspan="11" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
									</tr>
								</table>
							</div></td>
					</tr>
				</tbody>
			</table>
			<p><strong>Handling Units</strong></p>
			<p><span class="error">&gt;&gt;&gt;Handling Unit table "Save Row" error message paceholder.</span></p>
			<p>Tell us about the dimensions of each of your handling units for <a href="javascript:helpModLvl('repl_href')"> density-based rating<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> . A minimum of one handling unit is required.</p>
			<div class="overflow_x">
				<table cellspacing="0" border="0" cellpadding="0" role="presentation">
					<tbody>
						<tr>
							<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr class="sec-row-title">
							<td nowrap class="sec-pad"><strong>Handling Unit Type:</strong></td>
							<td nowrap class="sec-pad"><strong>Number of Units:</strong></td>
							<td nowrap class="sec-pad"><strong>Length (in)</strong></td>
							<td nowrap class="sec-pad"><strong>Width (in)</strong></td>
							<td nowrap class="sec-pad"><strong>Height (in)</strong></td>
							<td nowrap class="sec-pad">&nbsp;</td>
						</tr>
						<tr>
							<td class="sec-pad"><select name="select4" class="modSelMediumSmall">
									<option>select packaging</option>
									<option>bag</option>
									<option>bale</option>
									<option>user data</option>
									<option>basket</option>
									<option>bin</option>
									<option>box</option>
									<option>bunch</option>
									<option>bundle</option>
									<option>cabinet</option>
									<option>can</option>
									<option>carboy</option>
									<option>carrier</option>
									<option>carton</option>
									<option>case</option>
									<option>casket</option>
									<option>container</option>
									<option>crate</option>
									<option>cylinder</option>
									<option>drum</option>
									<option>loose</option>
									<option>other</option>
									<option>package</option>
									<option>pail</option>
									<option selected="">pallet</option>
									<option>pieces</option>
									<option>pipe line</option>
									<option>reel</option>
									<option>roll</option>
									<option>skid</option>
									<option>spool</option>
									<option>tank</option>
									<option>tube</option>
									<option>unit</option>
									<option>van pack</option>
									<option>wrapped</option>
								</select></td>
							<td nowrap class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
							<td nowrap class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
							<td nowrap class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
							<td nowrap class="sec-pad"><input name="temp" type="text" class="modTxtSmall"></td>
							<td nowrap class="sec-pad"><a href="repl_href"> <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">Save Row </a></td>
						</tr>
						<tr>
							<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="floatBegin"><strong class="fldLbl">Handling Units in this Shipment<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0"></strong></div>
			<div class="floatEnd"><strong>[None] added</strong></div>
			<div class="clearfix"></div>
			<div class="overflow_x">
				<table cellspacing="0" border="0" cellpadding="0" role="presentation">
					<tbody>
						<tr>
							<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
						<tr class="sec-row-title">
							<td nowrap class="sec-pad"><strong>Handling Unit Type:</strong></td>
							<td nowrap class="sec-pad"><strong>Number of Units:</strong></td>
							<td nowrap class="sec-pad"><strong>Length (in)</strong></td>
							<td nowrap class="sec-pad"><strong>Width (in)</strong></td>
							<td nowrap class="sec-pad"><strong>Height (in)</strong></td>
							<td nowrap class="sec-pad">&nbsp;</td>
						</tr>
						<tr>
							<td nowrap class="sec-pad">[Unit Type]</td>
							<td nowrap class="sec-pad">[00]</td>
							<td nowrap class="sec-pad">[00]</td>
							<td nowrap class="sec-pad">[00]</td>
							<td nowrap class="sec-pad">[00]</td>
							<td nowrap class="sec-pad"><a href="repl_href" class="btnlnkL crossmini"> Delete </a></td>
						</tr>
						<tr>
							<td colspan="6" class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>You might save by shipping using UPS Ground<sup></sup> with Freight Pricing.</p>
			<p>Sum the weights of your handling unit(s), pallets or skids for example, to help calculate a more accurate rate comparison.</p>
			<dl role="presentation" class="flexFirst mod-body-pad">
				<dt>
					<label for="repl_for"> <a href="javascript:helpModLvl('repl_href')"> Weight of all Pallet / Skids:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label>
				</dt>
				<dd>
					<input name="temp" type="textbox" class="modTxtSmall" maxlength="4">
					[lbs] </dd>
			</dl>
			<dl role="presentation" class="flexAfter mod-body-pad indent">
				<dt>
					<label for="repl_for"> <a href="javascript:helpModLvl('repl_href')"> Height of each Pallet / Skid:<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label>
				</dt>
				<dd>
					<input name="temp" type="textbox" class="modTxtSmall" maxlength="4">
					&nbsp; [in.] </dd>
			</dl>
			<div style="clear:both"></div>
			<p><strong>Note:</strong> UPS Ground with Freight Pricing rate calculations are determined by subtracting Weight of all Pallet / Skids from the Total Shipment Weight, unless minimum billable weight apples.</p>
		</div>
		<div style="clear:both"></div>
	</div>
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End Panel 6 - GFP and DBR example                              //// --> 
	<!-- //////////////////////////////////////////////////////////////////////// --> 
	{{/if}} </div>
