<form action="repl_faction">
	<!-- End Table: Page Header -->
	<table width="566" border="0" cellpadding="0" cellspacing="0" role="presentation">
		<tr>
			<td valign="top"><!-- Begin Table: Module Table Header (Parent:Formatting Table) -->
				
				<div id="tabHeader">
					<ul>
						<li class="tab-off"> <a href="repl_href"> package </a> </li>
						<li class="tab-on">freight</li>
					</ul>
				</div>
				
				<!-- End Table: Module Table Header (Parent:Formatting Table) --> 
				<!-- Begin Table: Module Table (Parent:Formatting Table) -->
				
				<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
					<tr class="mod-clr">
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td class="mod-top-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="564"></td>
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
					</tr>
					<tr>
						<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
						<td valign="top"><!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
							
							<table class="modline" border="0" cellpadding="1" cellspacing="0" width="100%" role="presentation">
								<tr class="mod-clr">
									<td class="mod-pad"><!-- Begin table: Inner Table (Parent:Functional Table 4b) -->
										
										<table width="550" border="0" cellpadding="0" cellspacing="0" role="presentation">
											<tr>
												<td class="mod-clr"><span class="pi-h3">Enter Freight Detail </span></td>
												<td class="mod-clr" align="right"><a href="javascript:helpModLvl('repl_href')"> Help<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a></td>
											</tr>
										</table>
										<p class="error">&gt; &gt; &gt; Error Message Placement...See Interaction Design Guidelines for more information.</p>
										<div class="container">Please enter your freight shipment information below. Required fields are indicated with<img src="/img/icn_dia.gif" alt="Required" width="11" height="9">.</div>
										
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										<!-- //// Do not use Dyn_Pnls in production code                          //// --> 
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										<!-- //// Begin 4 Commodity and Handling Unit Information                 //// --> 
										<!-- //// Begin Dyn_Pnl_1                                                 //// --> 
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										{{> "ct1_shi_fsh(4opg)_commodity_and_handling_unit_partial" }} 
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										<!-- //// END Dyn_Pnl_1                                                   //// --> 
										<!-- //// End 4 Commodity and Handling Unit Information                   //// --> 
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										<!-- //// Begin 5 Add Value-added Freight Service Hiden / Showen          //// --> 
										<!-- ///////////////////////////////////////////////////////////////////////// --> 
										<!-- ////////////////////// --> 
										<!-- //// Begin Hidden //// --> 
										<!-- ////////////////////// -->
										
										<div class="container border"> <span class="stepFive uis-head-step">add value-added freight services (optional) <span class="show_hide"> <a href="repl_href"> <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">show </a> </span></span>
											<div class="stepModContent">
												<fieldset>
													<legend>step five:</legend>
												</fieldset>
											</div>
										</div>
										
										<!-- ////////////////////// --> 
										<!-- //// End Hidden   //// --> 
										<!-- //// Begin Showen //// --> 
										<!-- ////////////////////// -->
										
										<div class="container border">
										<span class="stepFive uis-head-step">add value-added freight services (optional) <span class="show_hide"> <a href="repl_href"> <img src="/img/btn_minus_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">hide </a> </span></span>
										<div class="stepModContent">
										<fieldset>
										<legend>step five:</legend>
										
										<!-- //// Begin Left Col //// -->
										
										<div class="colL">
										<h4>Pickup Options</h4>
										<table border="0" cellpadding="0" cellspacing="0" role="presentation" role="presentation">
										<tbody>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
												<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Holiday Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
											</tr>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
												<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Inside Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
											</tr>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
												<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Lift Gate Service<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
											</tr>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
												<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Residential Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
											</tr>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
												<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Weekend Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
											</tr>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
												<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Tradeshow Pickup<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
											</tr>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
												<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Freezable Protection<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
											</tr>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
												<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Limited Access<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
											</tr>
										<tr>
												<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="extLengthFreight"></td>
												<td><label for="" class="sel"><a href="repl_href" class="helpTerm">Extreme Length<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="Pieces" height="9" width="9" border="0"> </a> (greater than 12 ft.)</label>
													<dl role="presentation" id="extLengthContainerFreight">
														<dt>
															<label for="txtbox">Longest Side:</label>
															<span class="reqTxtInst">(in feet)</span> </dt>
														<dd>
															<input type="text" name="repl_name" id="txtbox" size="10">
														</dd>
													</dl></td>
											</tr>
										</tbody>
							</table>
							<hr>
							<h4>Additional Fees May Apply</h4>
							<table border="0" cellpadding="0" cellspacing="0" role="presentation" role="presentation">
					<tbody>
						<tr>
							<td class="sel"><input name="repl_name" type="checkbox" value="" id="chxbox1"></td>
							<td colspan="4"><label for="chxbox1" class="sel"> <a href="javascript:helpModLvl('repl_href')"> C.O.D.<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label>
								<dl role="presentation">
									<dt>
										<label for="txtbox">C.O.D. Amount</label>
									</dt>
									<dd>
										<input type="text" name="repl_name" id="txtbox" size="10">
										USD</dd>
								</dl></td>
						</tr>
						<tr>
							<td class="sel" scope="row">&nbsp;</td>
							<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="repl_radio"/></td>
							<td><span for="repl_radio">Collect</span></td>
							<td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="repl_radio"/></td>
							<td><span for="repl_radio">Prepaid</span></td>
						</tr>
						<tr>
							<td class="sel" scope="row">&nbsp;</td>
							<td colspan="4"><dl role="presentation">
									<dt>
										<label for="txtbox">Collected COD Funds as:</label>
									</dt>
									<dd>
										<select>
											<option>Certified Check</option>
										</select>
									</dd>
								</dl></td>
						</tr>
						<tr>
							<td colspan="5"><label>Send COD funds to:</label></td>
						</tr>
						<tr>
							<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1" checked></td>
							<td colspan="4"><label for="chxbox1" class="sel">Same as Ship From Address</label></td>
						</tr>
					</tbody>
				</table>
				</div>
				
				<!-- //// End Left Col //// --> 
				<!-- //// Begin Right Col //// -->
				
				<div class="colR">
				<h4>Delivery Options</h4>
				<table border="0" cellpadding="0" cellspacing="0" role="presentation" role="presentation">
				<tbody>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Holiday Delivery<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Inside Delivery<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Lift Gate Service<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Residential Delivery<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Weekend Delivery<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Tradeshow Delivery<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Limited Access<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Call Before Delivery<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id"></td>
						<td><label for="repl_id" class="sel"> <a href="javascript:helpModLvl('repl_href')"> Sorting and Segregating<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_help_blue.gif" width="9"> </a> </label></td>
					</tr>
				<tr>
						<td class="sel" scope="row"></td>
						<td><label for="repl_id" class="sel">
								<input type="text" name="repl_name" id="txtbox" size="10">
								Pieces to Sort</label></td>
					</tr>
				</tbody>
	</table>
	<hr>
	<h4>Add a handling charge to your Shipment.</h4>
	<table border="0" cellpadding="0" cellspacing="0" role="presentation" role="presentation">
	<tbody>
		<tr>
			<td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"></td>
			<td colspan="4"><label for="chxbox1" class="sel">Handling Charge</label>
				<br>
				Enter a value and indicate a fixed dollar amount or a percentage (%)
				</label></td>
		</tr>
	<td class="sel" scope="row">&nbsp;</td>
	<td colspan="4"><dl role="presentation">
			<dt>
				<label for="txtbox">Handling Charge Value:</label>
			</dt>
			<dd>
				<input type="text" name="repl_name" id="txtbox" size="10">
			</dd>
		</dl></td>
	</tr>
	<td class="sel" scope="row">&nbsp;</td>
	<td colspan="4"><dl role="presentation">
			<dt>
				<label for="txtbox">Handling Charge Type:</label>
			</dt>
			<dd>
				<select>
					<option>Select Type</option>
				</select>
			</dd>
		</dl></td>
	</tr>
	</tbody>
	</table>
	</div>
	<!-- //// End Right Col //// -->
	<div style="clear:both"></div>
	</fieldset>
	</div>
	</div>
	
	<!-- ////////////////////// --> 
	<!-- //// End Showen   //// --> 
	<!-- ////////////////////// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End 5 Add Value-added Freight Service Hiden / Showen            //// --> 
	<!-- //// Begin 6 Add Reference Number Hiden / Showen                     //// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- ////////////////////// --> 
	<!-- //// Begin Hidden //// --> 
	<!-- ////////////////////// -->
	
	<div class="container border"> <span class="stepSix uis-head-step">add reference number (optional) <span class="show_hide"> <a href="repl_href"> <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">show </a> </span></span>
		<div class="stepModContent">
			<fieldset>
				<legend>step six:</legend>
				<p>add reference numbers for your shipment.</p>
			</fieldset>
		</div>
	</div>
	
	<!-- ////////////////////// --> 
	<!-- //// End Hidden   //// --> 
	<!-- //// Begin Showen //// --> 
	<!-- ////////////////////// -->
	
	<div class="container border"> <span class="stepSix uis-head-step">add reference number (optional) <span class="show_hide"> <a href="repl_href"> <img src="/img/btn_minus_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">hide </a> </span></span>
		<div class="stepModContent">
			<fieldset>
				<legend>step six:</legend>
				<p>add reference numbers for your shipment.</p>
				<table width="100%" cellspacing="0" border="0" cellpadding="0" role="presentation">
					<tbody>
						<tr>
							<td nowrap="" align="center" class="sec-head">Reference Number</td>
							<td nowrap="" align="center" class="sec-head">Type</td>
							<td nowrap="" align="center" class="sec-head">Numbre of Cartons</td>
							<td nowrap="" align="center" class="sec-head">Weight</td>
						</tr>
						<tr>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="12" class=""></td>
							<td align="center" class="sec-pad"><select name="select3" class="modSelMediumSmall">
									<option>Select Type</option>
								</select></td>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="10" class=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="7" class=""></td>
						</tr>
						<tr>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="12" class=""></td>
							<td align="center" class="sec-pad"><select name="select3" class="modSelMediumSmall">
									<option>Select Type</option>
								</select></td>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="10" class=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="7" class=""></td>
						</tr>
						<tr>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="12" class=""></td>
							<td align="center" class="sec-pad"><select name="select3" class="modSelMediumSmall">
									<option>Select Type</option>
								</select></td>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="10" class=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="text" value="" size="7" class=""></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
	
	<!-- ////////////////////// --> 
	<!-- //// End Showen   //// --> 
	<!-- ////////////////////// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// ENd 6 Add Reference Number Hiden / Showen                       //// --> 
	<!-- //// Begin 7 Add E-mail Notification Hiden / Showen                  //// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// Begin Hidden //// --> 
	<!-- ////////////////////// -->
	
	<div class="container border"> <span class="stepSeven uis-head-step">add e-mail notifications (optional) <span class="show_hide"> <a href="repl_href"> <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">show </a> </span></span>
		<div class="stepModContent">
			<fieldset>
				<legend>step seven:</legend>
				<p>sen e-mail notifications when the shipment is picked up, if an exception occurs, or when the shipment is picked up, if an exception occurs, or when the shipment is delivered.</p>
			</fieldset>
		</div>
	</div>
	
	<!-- ////////////////////// --> 
	<!-- //// End Hidden   //// --> 
	<!-- //// Begin Showen //// --> 
	<!-- ////////////////////// -->
	
	<div class="container border"> <span class="stepSeven uis-head-step">add e-mail notifications (optional) <span class="show_hide"> <a href="repl_href"> <img src="/img/btn_minus_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">hide </a> </span></span>
		<div class="stepModContent">
			<fieldset>
				<legend>step seven:</legend>
				<h4>Quantum View Notify SM:</h4>
				<p>send e-mail notifications when the shipment is picked up, if an exception occurs, or when the shipment is picked up, if an exception occurs, or when the shipment is delivered.</p>
				<table width="100%" cellspacing="0" border="0" cellpadding="0" role="presentation">
					<tbody>
						<tr>
							<td nowrap="" class="sec-head">E-mail Address</td>
							<td nowrap="" align="center" class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> Ship<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
							<td nowrap="" align="center" class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> Exception<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
							<td nowrap="" align="center" class="sec-head"><a href="javascript:helpModLvl('repl_href')" class="helpTerm"> Delivery<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img src="/img/icn_help_blue.gif" alt="" height="9" width="9" border="0"> </a></td>
							<td width="40%" nowrap="" align="center" class="sec-head">&nbsp;</td>
						</tr>
						<tr>
							<td class="sec-pad"><input name="temp" type="text" value="" class="modTxtMedium"></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td width="40%" class="sec-pad">&nbsp;</td>
						</tr>
						<tr>
							<td class="sec-pad"><input name="temp" type="text" value="" class="modTxtMedium"></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td width="40%" class="sec-pad">&nbsp;</td>
						</tr>
						<tr>
							<td class="sec-pad"><input name="temp" type="text" value="" class="modTxtMedium"></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td width="40%" class="sec-pad">&nbsp;</td>
						</tr>
						<tr>
							<td class="sec-pad"><input name="temp" type="text" value="" class="modTxtMedium"></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td width="40%" class="sec-pad">&nbsp;</td>
						</tr>
						<tr>
							<td class="sec-pad"><input name="temp" type="text" value="" class="modTxtMedium"></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td align="center" class="sec-pad"><input name="temp" type="checkbox" value=""></td>
							<td width="40%" class="sec-pad">&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<dl role="presentation">
					<dt>
						<label for="repl_for">E-mail Message:</label>
					</dt>
					<dd>
						<textarea rows="5" cols="80" placeholder="enter tracking numbers here" id="repl_for" class="full"></textarea>
						(150 character maximum) </dd>
					<dt>
						<label for="repl_for">If any notification is undeliverable, please e-mail:</label>
					</dt>
					<dd>
						<input name="temp" type="text" value="" class="modTxtMedium">
					</dd>
				</dl>
			</fieldset>
		</div>
	</div>
	
	<!-- ////////////////////// --> 
	<!-- //// End Showen   //// --> 
	<!-- ////////////////////// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End 7 Add E-mail Notification Hiden / Showen                    //// --> 
	<!-- //// Begin 8 Add Shipment Instructions                               //// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	
	<div class="container border"> <span class="stepEight uis-head-step">add shipment instructions (optional) <span class="show_hide"> <a href="repl_href"> <img src="/img/btn_add_mini.gif" alt="" width="12" height="12" border="0"><img alt="" border="0" height="8" src="/img/1.gif" width="3">show </a> </span></span>
		<div class="stepModContent">
			<fieldset>
				<legend>step six:</legend>
				<p>add pickup, handling, or delivery instructions for your shippment.</p>
			</fieldset>
		</div>
	</div>
	
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End 8 Add Shipment Instructions                                 //// --> 
	<!-- //// Begin 9 Lables and Documents                                    //// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	
	<div id="step-9" class="container border">
		<div class="stepModHead">
			<h3>labels and documents</h3>
			<div style="clear:both;"></div>
		</div>
		<div class="stepModContent">
			<fieldset>
				<legend>labels and documents</legend>
				<div class="sec-pad">
					<p><span class="error">Address Lables (Optional)</span></p>
					<p>Allow for one lable for each visible side of the individual handling units in your shipment.</p>
					<table border="0" cellpadding="0" cellspacing="0" role="presentation">
						<tr>
							<td align="center"><input name="temp" type="checkbox" id="repl_for" value=""></td>
							<td><span for="repl_for">Create Address Labels with finished</span></td>
						</tr>
					</table>
					<br>
					<label for="repl_for">Number of Labels to Print</label>
					<table border="0" cellpadding="0" cellspacing="0" role="presentation">
						<tbody>
							<tr>
								<td><input name="repl_name" type="text" id="repl_for" size="6"></td>
								<td align="center"><input name="temp" type="checkbox" id="repl_for" value="" checked></td>
								<td><span for="repl_for">Print "1 of nn" on address labels. (example 1 of 4 labels.)</span></td>
							</tr>
						</tbody>
					</table>
					<br>
					<label for="repl_for">Print my freight shippment labels to a:</label>
					<table cellspacing="0" cellpadding="0" border="0" role="presentation">
						<tbody>
							<tr>
								<td><input type="radio" value="repl_value" id="repl_for" name="repl_name"></td>
								<td><span for="repl_for">Laser Printer</span></td>
								<td><input type="radio" value="repl_value" id="repl_for" name="repl_name"></td>
								<td><span for="repl_for">UPS Thermal Printer</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><span for="repl_for"> <a href="javascript:repl_function('repl_href')"> Labels Printed per Page<img alt="" border="0" height="1" src="/img/1.gif" width="3"><img height="9" width="9" border="0" alt="null" src="/img/icn_help_blue.gif"> </a> </span></td>
								<td>&nbsp;</td>
								<td><span for="repl_for">Thermal Label Format:</span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><select id="repl_for">
										<option selected>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
									</select></td>
								<td>&nbsp;</td>
								<td><select id="repl_for">
										<option selected>4x6</option>
										<option>5x7</option>
										<option>8x10</option>
									</select></td>
							</tr>
						</tbody>
					</table>
					<p></p>
					<p>&gt; <a href="repl_href"> Print Labels Now </a> </p>
					<p><span class="error">Packing Lists (Optional)</span></p>
					<p>Create packing lists for your entire shipment or individual units in your shipment.</p>
					<p>&gt; <a href="repl_href"> Create Packing List </a> </p>
				</div>
			</fieldset>
		</div>
	</div>
	
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End 9 Lables and Documents                                      //// --> 
	<!-- //// Begin 10 Save a Draft or Template Bill of Lading                //// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	
	<div id="step-10" class="container border">
		<div class="stepModHead">
			<h3>save a draft or template bill of lading (optional)</h3>
			<div style="clear:both;"></div>
		</div>
		<div class="stepModContent">
			<fieldset>
				<legend>save a draft or template bill of lading</legend>
				<p>Freight shipment information may be saved as a template, and used as a model for future shipment. You may also save the shipments as a draft, to be completed later.</p>
				<dl role="presentation">
					<dt>
						<label for="repl_for">Save As:</label>
					<dd>
						<select id="repl_for">
							<option>Select One</option>
							<option selected>Draft Bill of Lading</option>
						</select>
					</dd>
				</dl>
				<br>
				<div class="colL">
					<dl>
						<dt>
							<label for="repl_for">Save / Update Option:</label>
						</dt>
						<dd>
							<select id="repl_for">
								<option>Select One</option>
								<option selected>Save As New Entry</option>
							</select>
						</dd>
					</dl>
				</div>
				<div class="colR">
					<dl>
						<dt>
							<label for="repl_for">Save / Update Name:</label>
						</dt>
						<dd>
							<input name="" type="text" id="" size="15">
							&nbsp;
							<input name="repl_name" type="button" value="Save" class="btn">
						</dd>
					</dl>
				</div>
				<div style="clear:both;"></div>
			</fieldset>
		</div>
	</div>
	
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End 10 Save a Draft or Template Bill of Lading                  //// --> 
	<!-- //// Begin 11 Preview Your Freight Shipment                          //// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	
	<div id="step-11" class="container border">
		<div class="stepModHead">
			<h3>preview your freight shipment</h3>
			<div style="clear:both;"></div>
		</div>
		<div class="stepModContent">
			<fieldset>
				<legend>preview your freight shipment</legend>
				<p>You can preview your shipment for accuracy and completeness and modify information before sumbitting for processing.</p>
				<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
					<tr>
						<td align="center"><input name="temp" type="checkbox" value=""></td>
						<td>Preview Shipment and Rates</td>
					</tr>
				</table>
			</fieldset>
		</div>
	</div>
	
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End 11 Preview Your Freight Shipment                            //// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// --> 
	<!-- //// End Main Content                                                //// --> 
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	</td>
	</tr>
	</table>
	</td>
	<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<!-- Begin: Button Bar Rows -->
	<tr>
		<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="mod-line-wht"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="mod-bar"><div>
				<input name="back" type="button" value="Back" class="btn_bak_a">
				<input name="cancel" type="button" value="Cancel" class="btn">
				<input name="next" type="button" value="Next" class="btn_a">
			</div></td>
		<td class="mod-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="mod-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<!-- End: Button Bar Rows -->
	</table>
	
	<!-- Begin: Note Area -->
	
	<div class="container mod-msg-pad"> the terms and conditions (include cargo liability) governing transportation services by ups freight are set forth in ups freight's rules &amp; charges (tariff upgf 102), which can be accessed via: <a href="repl_href"> http;//ltl.upsfreight.com/shipping/rules/index.aspx<img alt="" border="0" height="8" src="/img/1.gif" width="3"><img alt="help" border="0" height="9" src="/img/icn_popup_blue.gif" width="9"> </a> </div>
	
	<!-- End: Note Area --> 
	
	<!-- End Table: Module Table (Parent:Formatting Table) -->
	</td>
	</tr>
	</table>
</form>
