/* CSS Document */

/* E-MarketPlace - Additional CSS */

/* IC IS FORCED TO INCLUDE CSS DUE TO CT CODING PRACTICES*/
			/* RIF CODE AT WORK, CAN BE REMOVE WHEN RIF IS CORRECTED Team
				/**/
						.redErrorBold { color:#F31A12; font-weight:bold; }
/**/
			/**/	
/********/


/* with Sub Nav
Defaults loaded in master.css
#ccGtrMod {}
#ccCntMod {}*/

/*without SubNav*/
#ccGtrMod { display:none; padding:0; margin:0; }
#ccCntMod { width:960px; /*padding:0; margin:0;text-align: center*/ }
#main { width:950px; margin:0 auto; }
/**/


/*same as SSO replace text area with scrollable div and formated text */
.iDiv{height:275px; padding:10px 5px; margin: 0; margin-bottom:10px; overflow:auto; background-color:#FFF; border:1px solid #908474;width: auto;}
	/* Begin ER JUL13 7310 - Added width: auto for IE8 horizontal scroll fix */
	.iDiv pre{margin:0 0 5px 0; border-color:#FFF; background-color:#FFF; width: auto;}


/* ------------------------ --- ------------------------ */
/* ------------------ Section Modules ------------------ */
/* ------------------------ 008 ------------------------ */

/*Invert BG Color Module*/
/*----------------------*/
.invert .secLvl { background-color:#FFF; border-color:#908474 }

.invert .step .secHead { background-color: #FFF; }

.invert .secLvl .secLvl { background-color:#EBEBE6; border-color:#EBEBE6 }

.secBorder { border-style:solid; border-width:1px; border-color:#908474 }

.dataTable .selected td { background-color: #8CCB3C!important }

.dataTable .odd td.hrCol, .dataTable .odd td.hrCol {background-color:#FFF !important}

.dataTable td.hrCol, .dataTable td.hrCol {background-color:#EBEBE6 !important}



.dataTable .highlight td { background-color: #FFF2AC; cursor:default}



.minifyFont { font-size:.85em }


/* Scrollable Table JQ Plugin */
.appBody table.fht-table { margin-bottom:0px !important }
.fht-table-wrapper { border-color:#908474; border-width:1px; border-style:solid }
.fht-table { border-collapse: collapse; border-spacing: 0; border:none; }
.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody { overflow: hidden; position: relative; }
.fht-table-wrapper .fht-fixed-body .fht-tbody,
 .fht-table-wrapper .fht-tbody { overflow: auto; }
.fht-table-wrapper .fht-table .fht-cell  { overflow: hidden; height: 1px;}
.fht-table-wrapper .fht-fixed-column,
 .fht-table-wrapper .fht-fixed-body { top: 0; left: 0; position: absolute; }
.fht-table-wrapper .fht-fixed-column { z-index: 1; }
