<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->




	<!-- begin application content -->



	<!-- begin application header -->

	<table border="0" cellpadding="0" cellspacing="0" width="566">

	<tr>

		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>

	</tr>

	<tr>

		<td valign="top">



		<!-- begin page title -->

		<span class="blueboldHead">UPS CampusShip User Summary</span>

		<!-- end page title -->



		</td>

	</tr>

	<tr>

		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>

	</tr>

	<tr>

		<td valign="top">



		<!-- begin instructional text -->

	 	Review the user data below. To Modify a UPS CampusShip user's information, select Edit.

		<!-- end instructional text -->



		</td>

	</tr>

	<tr>

		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>

	</tr>

	</table>

	<!-- end application header -->



	<!-- begin user information and privileges module -->

	<table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">

	<tr>

		<td>



		<!-- begin module header -->

		<table border="0" cellpadding="0" cellspacing="0" width="100%">

		<tr>

			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>

			<td width="49%">



			<!-- begin module title -->

			<span class="whiteBoldHead">User Information and Privileges</span>

			<!-- end module title -->



			</td>

			<td width="49%">



			<!-- begin module navigation -->

			<!-- Delete Version remove help --><div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>

			<!-- end module navigation -->



			</td>

			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>

		</tr>

		</table>

		<!-- end module header -->



		</td>

	</tr>

	<tr>

		<td>



		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->

		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">

		<tr>

			<td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>

		<tr>

		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>

		<tr>

		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>

		    <td valign="top" width="48%">



			<!-- begin left content column -->

			<span class="modsubheader">User Details</span>&nbsp;&nbsp;<a href="repl_href">Edit</a>

			<br>
			<br>
			<span class="bold">User Name:</span>

			<br>

			{Firstname Lastname}

			<br><br>

			<span class="bold">User ID:</span>

			<br>

			{user ID}

			<br><br>

			<span class="bold">E-mail:</span>

			<br>

			[someuser@company.com]

			<br><br>

			<table border="0" cellpadding="0" cellspacing="0">

			<tr>

				<td><span class="bold">Telephone:</span></td>

				<td rowspan="2"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>

				<td><span class="bold">Ext.:</span></td>
			</tr>

			<tr>

				<td>{1234567890}</td>

				<td>{12345}</td>
			</tr>

			<tr>

				<td colspan="3"><br></td>
			</tr>
			<tr>
        <td colspan="3"><span class="bold">Fax:</span></td>
			  </tr>
			<tr>
        <td colspan="3">{fax number}</td>
			  </tr>
			<tr>
        <td colspan="3"><br></td>
			  </tr>
			<tr>
        <td colspan="3"><span class="bold">Company Location:</span></td>
			  </tr>
			<tr>
        <td colspan="3">{IS Maryland}</td>
			  </tr>
			<tr>
        <td colspan="3"><br></td>
			  </tr>

			<tr>

				<td colspan="3"><span class="bold">Language Preference:</span></td>
			</tr>

			<tr>

				<td colspan="3">{preference}</td>
			</tr>

			<tr>

				<td colspan="3"><br></td>
			</tr>
			<tr>
        <td colspan="3"><span class="bold">Shipping Privilege Set :</span></td>
			  </tr>
			<tr>
        <td colspan="3">{IS Maryland}</td>
			  </tr>
			<tr>
        <td colspan="3"><br></td>
			  </tr>

			<tr>

				<td colspan="3"><span class="bold">Default Reference #1 Value:</span></td>
			</tr>

			<tr>

				<td colspan="3">{reference value}<br>User change block is <strong>ON</strong>.</td>
			</tr>

			<tr>

				<td colspan="3"><br></td>
			</tr>

			<tr>

				<td colspan="3"><span class="bold">Default Service Level:</span></td>
			</tr>

			<tr>

				<td colspan="3">{preference}</td>
			</tr>

			<tr>

				<td colspan="3"><br></td>
			</tr>

			<tr>
				<td colspan="3"><input name="Reset User Password" type="checkbox" value="">Reset User Password</td>
			</tr>
			</table>

			<!-- end left content column -->			</td>

			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>

		    <td valign="top" width="48%">



			<!-- begin right content column -->

			<span class="modsubheader">Privilege and Usage Status</span>&nbsp;&nbsp;<a href="repl_href">Edit</a><!-- Delete Version remove "Edit" link -->

			<br>
			<br>

			<span class="bold">Traveling User Status</span><br>

			{OFF / ON}

			<br>
			<br>

			<span class="bold">Authority to Order UPS Supplies</span><br>

			{OFF / ON}

			<br>
			<br>

			<span class="bold">Administrative Level</span><br>

			{DATA: Display Administrator type or &lt;No Administrative Authority&gt;}

			<br>
			<br>

			<span class="bold">Assigned Locations</span>&nbsp;&nbsp;<a href="repl_href">Edit</a>

			<br>
			<textarea class="modTxtAreaMedium" name="Legal Agreement" rows="8">IS Maryland
IS New Jersey
IS Georgia
Baltimore
Timonium
Windward
Innoplex</textarea>
			<!-- end right content column -->			</td>

		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>

		<!-- end module column spacing table -->



		</td>

	</tr>

	</table>

	<!-- end user information and privileges module -->



	<!-- begin buttons -->

	<table border="0" cellpadding="0" cellspacing="1" width="566">

	<tr>

		<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>

	</tr>

	<tr>

		<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>

		<td align="right" valign="top" width="366"><input value="Back" name="back" class="btn_bak_a" type="button"><input value="Delete" name="delete" class="btn" type="button"><input value="Continue" name="continue" class="btn_a" type="submit"></td>

	</tr>

	</table>

	<!-- end buttons -->



	<!-- begin company support -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>

	<tr>
		<td align="center">
		<span class="bold">Company Support: (nnn) nnn-nnnn&nbsp;&nbsp;&nbsp;E-mail: <a href="repl_href">address@company.com</a></span>
		</td>
	</tr>

	<tr>
		<td><img alt="" border="0" height="20" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>

	</table>
	<!-- end company support -->

<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
