<div class="ngdialog-message">
	<div class="appLvl mod modal dialog">
		<div class="appHead clearfix">
			<h2>Email Shipment Details - Step 2 of 2</h2>

		</div>
		<div class="appBody">
			<div class="flexFirst clearfix">
				<label>You can e-mail shipment details to up to five recipients.</label>
			</div>
			<div class="outHozFixed qvmbottom">
				<dl>
					<dt>
						<label>Recipient E-mail:</label>
					</dt>
					<dd>
						<label>Country or Territory and Language:</label>
					</dd>
					<dt>
						<input type="text" class="formcol5" value="rpiccione@ups.com" />
					</dt>
					<dd>
						<select ng-model="selectedState" class="formcol6" ng-options="state.name for state in states" ></select>
					</dd>
					<dt>
						<input type="text" class="formcol5" />
					</dt>
					<dd>
						<select ng-model="selectedState" class="formcol6" ng-options="state.name for state in states" ></select>
					</dd>
					<dt>
						<input type="text" class="formcol5" />
					</dt>
					<dd>
						<select ng-model="selectedState" class="formcol6" ng-options="state.name for state in states" ></select>
					</dd>
					<dt>
						<input type="text" class="formcol5" />
					</dt>
					<dd>
						<select ng-model="selectedState" class="formcol6" ng-options="state.name for state in states" ></select>
					</dd>
					<dt>
						<input type="text" class="formcol5" />
					</dt>
					<dd>
						<select ng-model="selectedState" class="formcol6" ng-options="state.name for state in states" ></select>
					</dd>
				</dl>
			</div>
			<div class="clear"></div>
			<dl>
				<label>
					<dt>
						Personal Message (Applies to all e-mail notifications.  Enter up to 150 characters.) :
					</dt></label>
				<dd>
					<table border="0" cellpadding="0" cellspacing="0" role="presentation">
						<tbody>
							<tr>
								<td class="sel" scope="row"><textarea class="formcol12"></textarea></td>

							</tr>
						</tbody>
					</table>
				</dd>
			</dl>
			<div class="floatBegin">
				(maximun 150 characters)
			</div>
			<div class="clear"></div>
			<dl>
				<label>
					<dt>
						Failure Notification
					</dt></label>
				<dd>
					<table border="0" cellpadding="0" cellspacing="0" role="presentation">
						<tbody>
							<tr>
								<td class="sel" scope="row">
								<input name="repl_name" type="checkbox" value="" id="chxbox22" checked="">
								</td>
								<td><label for="chxbox1" class="sel">Note: UPS will notify you by e-mail if there is a problem sending any of these notifications.</label>
								<input type="text" class="formcol4" value="rpiccoine@ups.com" />
								</td>
							</tr>
						</tbody>
					</table>
				</dd>
			</dl>
			<div class="clear"></div>
			<div class="alignCenter clearfix">
				<span class="visually-hidden">Click to view prefrences</span>
				<input type="button" class="btn" value="Back" />
				<span class="visually-hidden">Click to view prefrences</span>
				<input type="button" class="btn" value="Cancel" />
				<input type="button" class="btn" value="Next" />
			</div>
		</div>
	</div>

</div>
