<div class="ngdialog-message">
	<div class="appLvl mod modal dialog">
		<div class="appHead clearfix">
			<h2>Inbound Alerts - Step 1 of 2</h2>

		</div>
		<div class="appBody">
			<!-- content -->

			<div class="flexFirst clearfix qvmbottom">
				<p>
					Select an alert type to view the list of alerts available to edit or delete, or select <span class="qvbold">Add New</span> to create a new alert for the type.
				</p>
			</div>
			<div class="clear"></div>
			<dl role="presentation">
				<dt>
					<label>Alert Type:</label>
				</dt>
				<dd>
					<select class="formcol7" ng-options="allVars.text_short for allVars in allVars" ng-model="allVarsDD"></select>
				</dd>
			</dl>
			<dl role="presentation">
				<dt>
					<label>Alert Names:</label>
				</dt>
				<dd>
					<textarea class="formcol7" ng-model="allVarsDD.text_long"></textarea>
				</dd>
			</dl>
			<div class="clear"></div>
			<div class="flexAfter clearfix">
				<div class="flexFirstPad clearfix">
					<p>
						<a href="#" class="btnInk">Edit</a>
					</p>
				</div>
				<div class="flexAfterPad clearfix">
					<p>
						<a href="#" class="btnInk">Delete</a>
					</p>
				</div>
			</div>
			<div class="clear"></div>
			<div class="alignCenter clearfix">
				<span class="visually-hidden">Click to view prefrences</span>
				<input type="button" class="btn" value="Cancel" />
				<span class="visually-hidden">Click to view prefrences</span>
				<input type="button" class="btn" value="Add New" />
			</div>
		</div>
	</div>

</div>
