<div class="ngdialog-message">
	<div class="appLvl mod modal dialog">
		<div class="appHead clearfix">
			<h2>Select a Date Range</h2>

		</div>
		<div class="appBody">
			<!-- content -->
			<div class="flexFirst clearfix">
				<dl role="presentation" class="outHozFlex">
					<dt>
						<label for="selectbox_01">Date Type</label><span class="visually-hidden"> Use if label would not be desciptive to the visually impaired</span>
					</dt>
					<dd>
						<select name="singleSelect" id="selectbox_01" class="formcol4">
							<option value="option-1" selected="selected">Manifest Date</option>
							<option value="option-2">Schdule Delivery Date</option>
						</select>
					</dd>
				</dl>
			</div>
			<div class="clear"></div>
			<div class="clear"></div>
			<div class="floatBegin clearfix">
				<dl role="presentation">
					<dt>
						Start Date
					</dt>
					<dd>
						<input type="text" id="datepicker" ng-model="date" qvdatepicker value="01/01/2015" />
					</dd>
				</dl>
			</div>
			<div class="floatEnd  clearfix">
				<dl role="presentation">
					<dt>
						End Date
					</dt>
					<dd>
						<input type="text" id="datepicker2" ng-model="date1" jqdatepicker value="01/01/2015"/>
					</dd>
				</dl>
			</div>
			<div class="clear"></div>
			<div class="alignCenter clearfix">
				<span class="visually-hidden">Click to view prefrences</span>
				<input type="button" class="btn" value="Cancel" />
				<span class="visually-hidden">Click to view prefrences</span>
				<input type="button" class="btn" value="OK" />
			</div>
		</div>
	</div>

</div>
