<div class="main" id="import">
	<h1>Quantum View Manage</h1>
	<form action="../../../legacy_spa/qvmc/_templates/repl_fname" method="repl_method" name="repl_fname">
		<div class="floatBegin">
			<ul class="subTab clearfix">
				<li class="tab-off"><a ui-sref="combined">Combined</a>
				</li>
				<li class="tab-off"><a ui-sref="outbound">Outbound</a>
				</li>
				<li class="tab-off"><a ui-sref="inbound">Inbound</a>
				</li>
				<li class="tab-off"><a ui-sref="thirdparty">Third Party</a>
				</li>
				<li class="tab-on">Imports</li>
			</ul>
		</div>
		<div class="floatEnd">
			<p>Last Updated: 02/15/2016 01:10PM <span><a href="" class="btnlnkR printIconR">Print</a></span> <span><a href="" class="btnlnkR helpIconR">Help</a> </span> </p>
		</div>
		<div class="clear"></div>
		<div class="appLvl tab col24 clearfix">
			<div class="appHead"></div>
			<div class="appBody clearfix">
				<div class="floatBegin">
					<div class="flexFirst clearfix" ng-controller="DropdownCtrl">
						<dl role="presentation" class="outHozFlex"> <dt><label for="selectbox_01"></label><span class="visually-hidden"> Use if label would not be desciptive to the visually impaired</span> </dt>
							<dd>
								<select name="singleSelect" id="selectbox_01" ng-model="data.singleSelect" class="formcol4">
									<option value="option-1" selected="selected">Default Imports View</option>
									<option value="option-2">Saved Custom Views</option>
									<option value="option-3"> &nbsp; Anniversary</option>
									<option value="option-4"> &nbsp; IC Demo</option>
									<option value="option-5"> &nbsp; JD Test</option>
									<option value="option-6">&nbsp; JJB Imp 31 Cnt</option>
									<option value="option-7">&nbsp; QVM ER 4K URL</option>
									<option value="option-8">&nbsp; QVM ER Imports</option>
									<option value="option-8">&nbsp; QVM Test</option>
									<option class="option-9">Cost Analysis</option>
									<option class="option-10">&nbsp; Entry Cost Analysis Detail</option>
									<option class="option-11">Entry Analysis</option>
									<option class="option-12">&nbsp; Commercial Invoice Detail</option>
									<option class="option-13">&nbsp; Entry Details</option>
									<option class="option-14">&nbsp; &nbsp; Reconciliation Report</option>
								</select>
							</dd>
						</dl>
					</div>
					<div class="flexAfter clearfix"> <span><img alt="Save" class="img-save" src="/img/btn_save_mini.gif"></span> <span><img alt="Close" class="img-close" src="/img/btn_close_mini.gif"></span> </div>
				</div>
				<div class="floatEnd">
					<div class="flexFirstPad clearfix"> <span class="visually-hidden">Click to view preferences</span>
						<input type="button" class="btn" value="Import Resources" /> </div>
					<div class="flexAfterPad clearfix"> <span class="visually-hidden">Click to view alerts</span>
						<input type="button" class="btn" value="Preferences" /> </div>
					<div class="flexAfterPad clearfix"> <span class="visually-hidden">Click to view alerts</span>
						<input type="button" class="btn" value="Alerts" /> </div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="flexFirst clearfix" ng-controller="DropdownCtrl">
					<dl role="presentation" class="outHozFlex"> <dt><label for="selectbox_02">Import Country or Territory:</label><span class="visually-hidden"> Use if label would not be desciptive to the visually impaired</span> </dt>
						<dd>
							<select name="singleSelect" id="selectbox_02" ng-model="data.singleSelect" class="formcol4">
								<option value="us_en_home">United States </option>
								<option value="us_es_home_none">United States</option>
								<option value="af_en_home_none">Afghanistan </option>
								<option value="al_en_home">Albania </option>
								<option value="dz_fr_home">Algeriah</option>
								<option value="dz_en_home">Algeria </option>
								<option value="as_en_home_none">American Samoa </option>
								<option value="ao_en_home">Angola </option>
								<option value="ai_en_home">Anguilla </option>
								<option value="ag_en_home">Antigua </option>
								<option value="ar_es_home">Argentina</option>
								<option value="am_en_home_none">Armenia </option>
								<option value="aw_en_home">Aruba </option>
								<option value="au_en_home">Australia </option>
								<option value="at_en_home">Austria </option>
								<option value="az_en_home">Azerbaijan </option>
								<option value="bs_en_home">Bahamas </option>
								<option value="bh_en_home">Bahrain </option>
								<option value="bd_en_home">Bangladesh </option>
								<option value="bb_en_home">Barbados </option>
								<option value="by_en_home_none">Belarus </option>
								<option value="be_en_home">Belgium </option>
								<option value="bz_en_home_none">Belize </option>
								<option value="bj_en_home_none">Benin </option>
								<option value="bm_en_home">Bermuda </option>
								<option value="bt_en_home_none">Bhutan </option>
								<option value="bo_es_home">Bolivia</option>
								<option value="bo_en_home">Bolivia </option>
								<option value="bl_en_home_none">Bonaire (Netherlands Antilles) </option>
								<option value="ba_en_home">Bosnia Herzegovina </option>
								<option value="bw_en_home_none">Botswana </option>
								<option value="br_en_home">Brazil </option>
								<option value="vg_en_home">British Virgin Islands </option>
								<option value="bn_en_home_none">Brunei </option>
								<option value="bg_en_home">Bulgaria </option>
								<option value="bf_en_home_none">Burkina Faso </option>
								<option value="bi_en_home">Burundi </option>
								<option value="kh_en_home_none">Cambodia </option>
								<option value="cm_en_home">Cameroon </option>
								<option value="ca_en_home">Canada </option>
								<option value="ca_fr_home">Canadah</option>
								<option value="cv_en_home_none">Cape Verde </option>
								<option value="ky_en_home">Cayman Islands </option>
								<option value="cf_en_home_none">Central African Republic </option>
								<option value="td_en_home_none">Chad </option>
								<option value="cl_es_home">Chile</option>
								<option value="cn_en_home">China </option>
								<option value="co_es_home">Colombia</option>
								<option value="km_en_home_none">Comoros </option>
								<option value="cg_en_home_none">Congo </option>
								<option value="cd_en_home">Congo, The Democratic Republic of </option>
								<option value="ck_en_home_none">Cook Islands </option>
								<option value="cr_es_home">Costa Rica</option>
								<option value="hr_en_home">Croatia </option>
								<option value="cb_en_home">Curacao (Netherlands Antilles) </option>
								<option value="cy_en_home">Cyprus </option>
								<option value="cz_en_home">Czech Republic </option>
								<option value="dk_en_home">Denmark </option>
								<option value="dj_en_home">Djibouti </option>
								<option value="dm_en_home">Dominica </option>
								<option value="ec_en_home">Ecuador </option>
								<option value="eg_en_home">Egypt </option>
								<option value="sv_es_home">El Salvador</option>
								<option value="gq_en_home_none">Equatorial Guinea </option>
								<option value="er_en_home_none">Eritrea </option>
								<option value="ee_en_home">Estonia </option>
								<option value="et_en_home">Ethiopia </option>
								<option value="fj_en_home_none">Fiji </option>
								<option value="fi_en_home">Finland </option>
								<option value="fr_fr_home">Franceh</option>
								<option value="fr_en_home">France </option>
								<option value="ga_en_home_none">Gabon </option>
								<option value="gm_en_home_none">Gambia </option>
								<option value="ge_en_home_none">Georgia </option>
								<option value="de_en_home">Germany </option>
								<option value="gh_en_home">Ghana </option>
								<option value="gi_en_home">Gibraltar </option>
								<option value="gr_en_home">Greece </option>
								<option value="gd_en_home">Grenada </option>
								<option value="gp_en_home">Guadeloupe </option>
								<option value="gu_en_home_none">Guam </option>
								<option value="gt_es_home">Guatemala</option>
								<option value="gt_en_home">Guatemala </option>
								<option value="gn_en_home_none">Guinea </option>
								<option value="gw_en_home_none">Guinea Bissau </option>
								<option value="gy_en_home">Guyana </option>
								<option value="ht_en_home">Haiti </option>
								<option value="hn_es_home">Honduras</option>
								<option value="hn_en_home">Honduras </option>
								<option value="hk_en_home">Hong Kong </option>
								<option value="hu_en_home">Hungary </option>
								<option value="is_en_home_none">Iceland </option>
								<option value="in_en_home">India </option>
								<option value="id_en_home">Indonesia </option>
								<option value="il_en_home">Israel </option>
								<option value="it_en_home">Italy </option>
								<option value="ci_en_home">Ivory Coast </option>
								<option value="jm_en_home">Jamaica </option>
								<option value="jp_en_home">Japan </option>
								<option value="jo_en_home">Jordan </option>
								<option value="kz_en_home">Kazakhstan </option>
								<option value="ke_en_home">Kenya </option>
								<option value="ki_en_home_none">Kiribati </option>
								<option value="xk_en_home_none">Kosovo </option>
								<option value="xe_en_home_none">Kosrae Island </option>
								<option value="kw_en_home">Kuwait </option>
								<option value="kg_en_home_none">Kyrgyzstan </option>
								<option value="la_en_home_none">Laos </option>
								<option value="lv_en_home">Latvia </option>
								<option value="lb_en_home">Lebanon </option>
								<option value="ls_en_home_none">Lesotho </option>
								<option value="lr_en_home_none">Liberia </option>
								<option value="ly_en_home_none">Libya </option>
								<option value="lt_en_home">Lithuania </option>
								<option value="lu_en_home">Luxembourg </option>
								<option value="mo_en_home">Macau </option>
								<option value="mk_en_home_none">Macedonia (FYROM) </option>
								<option value="mg_en_home_none">Madagascar </option>
								<option value="mw_en_home">Malawi </option>
								<option value="my_en_home">Malaysia </option>
								<option value="mv_en_home_none">Maldives </option>
								<option value="ml_en_home_none">Mali </option>
								<option value="mt_en_home">Malta </option>
								<option value="mh_en_home_none">Marshall Islands </option>
								<option value="mq_en_home_none">Martinique </option>
								<option value="mr_en_home_none">Mauritania </option>
								<option value="mu_en_home">Mauritius </option>
								<option value="yt_en_home_none">Mayotte </option>
								<option value="mx_en_home">Mexico </option>
							</select>
						</dd>
					</dl>
				</div>
				<div ng-controller="DatepickerCtrl" class="flexAfter clearfix">
					<div class="flexFirst clearfix">
						<dl role="presentation" class="outHozFlex flexFirstPadQvm clearfix"> <dt><label for="datepicker_01">Date Range: <span class="visually-hidden"> from</span> </label></dt>
							<dd>
								<input name="text" type="text" id="datepicker_01" size="15" value="01/01/2014" />
								<dd>
						</dl>
					</div>
					<div class="flexAfter clearfix">
						<dl role="presentation" class="outHozFlex flexAfterPadQvm clearfix"> <dt><label for="datepicker_02"> <span class="visually-hidden">date range</span> to</label></dt>
							<dd>
								<input name="text" type="text" id="datepicker_02" size="15" value="01/01/2014" /> </dd>
						</dl>
					</div>
					<div class="flexAfter clearfix"> <span class=""><img ng-click="()" alt="calender" src="/img/icn_calendar.gif" /></span> </div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="flexAfter clearfix">
					<dl role="presentation" class="outHozFlex"> <dt><label for="selectbox_02"></label><span class="visually-hidden"> Use if label would not be desciptive to the visually impaired</span> </dt>
						<dd>
							<input type="text" name="txtbox" class="formcol4" /> </dd>
					</dl>
				</div>
				<div class="flexAfter clearfix" ng-controller="DropdownCtrl">
					<dl role="presentation" class="outHozFlex"> <dt><label for="selectbox_01"></label><span class="visually-hidden"> Use if label would not be desciptive to the visually impaired</span> </dt>
						<dd>
							<select name="singleSelect" id="selectbox_01" ng-model="data.singleSelect" class="formcol4">
								<option value="option-1">Search All Fields</option>
								<option value="option-2">Entry Number</option>
								<option value="option-3">Lead Tracking Number</option>
								<option value="option-4">Shipment Number</option>
								<option value="option-6">Shipper Name</option>
								<option value="option-7">Search Multi-piece Shipments</option>
							</select>
						</dd>
					</dl>
				</div>
				<div class="flexAfter clearfix"> <input type="button" class="btn" value="Search"></div>
				<div class="flexAfter clearfix">
					<div class="flexFirstPad clearfix">
						<input type="button" class="btn" value="Apply Filters" /><span class="visually-hidden">to results table</span> </div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="secLvl step">
					<div class="secHead">
						<h2>Summary of Import Shipments</h2> </div>
					<div class="secBody">
						<div ng-controller="ImportCtrl" class="gridcontent">
							<div ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-auto-resize></div>
						</div>
					</div>
				</div>
				<div class="secLvl step">
					<div class="secHead">
						<h2> Shipment Details</h2> </div>
					<div class="secBody">
						<div class="floatBegin">
							<p>Displayin 78</p>
							<p><a href="#" class="btnlnkR newWindowIconR">Add/Remove Fields</a> </p>
						</div>
						<div class="floatEnd">
							<div class="flexFirstPad clearfix"> <span class="visually-hidden">Send to </span>
								<input type="button" class="btn" value="Email" /> </div>
							<div class="flexAfterPad clearfix">
								<input type="button" class="btn" value="Download as CSV" /> </div>
							<div class="flexAfterPad clearfix">
								<input type="button" class="btn" value="Download Images" /> </div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<div ng-controller="ImportshipDetCtrl" class="gridcontent">
							<div ui-grid="gridOptions" class="grid" ui-grid-auto-resize></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>