---
title: A00 Example
dir: rtl
lang: ar
---

<!-- ************************************************************************************ -->
<!-- A00 Example                                                                          -->
<!-- For full documentation  partials/app_components/A00_example-rtl.hbs                  -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A00 Example 

********************************************************************************
--}}


{{!--
********************************************************************************
A00 Example
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">
			
			{{> A00_example }}
	
		</div>
	</div>
</main>
