---
title: A01 Step Block
dir: ltr
lang: en
---

<!-- ************************************************************************************* -->
<!-- A00 Example                                                                           -->
<!-- For full documentation see partials/app_components/A01_step_block.hbs                 -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A01 Step Block 

********************************************************************************
--}}


{{!--
********************************************************************************
A01 Step Block
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">
			
			<h2>A01 Step Block - Side Number</h2>
			<div class="row">
			  <div class="col-md-4 col-sm-12">
				  {{> A01_step_block A01_step_block.step_block1}} 
			  </div>
			  <div class="col-md-4 col-sm-12">
				  {{> A01_step_block A01_step_block.step_block2}} 
			  </div>
			  <div class="col-md-4 col-sm-12">
				  {{> A01_step_block A01_step_block.step_block3}} 
			  </div>
			</div>
				
			<hr>
			
			<h2>A01 Step Block - Icon</h2>    
			<div class="row">	
				<div class="col-md-4 col-sm-12">
					{{> A01_step_block A01_step_block.step_block4}} 
				</div>
				<div class="col-md-4 col-sm-12">
					{{> A01_step_block A01_step_block.step_block5}} 
				</div>
				<div class="col-md-4 col-sm-12">
					{{> A01_step_block A01_step_block.step_block6}} 
				</div>
			</div>
					
		</div>
	</div>
</main>