---
title: A03 Page Level Error
dir: rtl
lang: ar
---

<!-- ************************************************************************************* -->
<!-- A03 Page Level Error                                                                  -->
<!-- For full documentation see partials/app_components/A03_page_level_error-rtl.hbs       -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A03 Page Level Error 

********************************************************************************
--}}


{{!--
********************************************************************************
A03 Page Level Error
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">
			
			<h2>A03 Page Level Error</h2>
			<div class="row">
			  <div class="col-md-4 col-sm-12">
				   {{>A03_page_level_error A03_page_level_error}}
				   
						   
					<div class="ups-form_group ups-form_required">
						<label for="email" class="ups-form_label">
							Email or User ID
							<span aria-hidden="true" class="ups-required_indicator"></span>
						</label>
						<div class="ups-text_wrapper ups-input_wrapper">
						  <input type="text" id="email" name="email" class="ups-form_input ng-invalid ng-dirty" aria-required="true" required>
						  <span class="ups-icons-error" >
							<span class="ups-invalid_color">
								<span class="icon ups-icon-exclamation ups-error_exclamation"></span>
								<span class="ups-readerTxt">Invalid</span>
								<span>Required Information error.</span>
							</span>
						  </span>
						</div>
					</div>
					
					<div class="ups-form_group ups-form_required ups-form_popover ups-form_user_password">
						<label for="password" class="ups-form_label">
							Password
							<span aria-hidden="true" class="ups-required_indicator"></span>
						</label>
						<div class="ups-text_wrapper ups-input_wrapper">
						  <input type="password" id="password" name="password" class="ups-form_input ng-invalid ng-dirty" aria-required="true" required>
						  <span class="ups-icons-error" >
							<span class="ups-invalid_color">
								<span class="icon ups-icon-exclamation ups-error_exclamation"></span>
								<span class="ups-readerTxt">Invalid</span>
								<span>Required Information error.</span>
							</span>
						  </span>
						  <a class="ups-link ups-forgetPass" href="#">I forgot my password</a>
						</div>
					</div>
				   
			  </div>
			</div>
					
		</div>
	</div>
</main>
	
