---
title: A04 Page Level Required Message
dir: ltr
lang: en
---

<!-- ************************************************************************************* -->
<!-- A03 Page Level Error                                                                  -->
<!-- For full documentation see partials/app_components/A04_page_level_required_message.hbs -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A04 Page Level Required Message

	This is a string on content

	Data Attributes 	: 		None

********************************************************************************
--}}


{{!--
********************************************************************************
A04 Page Level Required Message
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">
			
			<h2>A04 Page Level Required Message</h2>
			<div class="row">
			  <div class="col-md-4 col-sm-12">
			  
				{{>A04_page_level_required_message}}
				   
			  </div>
			</div>
					
		</div>
	</div>
</main>