---
title: A05 Switch
dir: rtl
lang: ar
---

<!-- ************************************************************************************* -->
<!-- A05 Switch                                                                            -->
<!-- For full documentation see partials/app_components/A05_switch-rtl-rtl.hbs             -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A05 Switch

********************************************************************************
--}}


{{!--
********************************************************************************
A05 Switch
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">

			<h2 class="ups-article-header">A05 Switch - Toggle</h2>
			<p>A simple toggle can be used as shown below that would contain a label and 2 to 5 options. For accessibility, this uses radio buttons for the selection and can be tabbed to and changed exactly the way radio buttons work.</p>
			<div class="row ups-section">
				<div class="col-md-4">
                    <div class="ups-form_group">
						{{> A05_switch_toggle_v2 A05_switch.toggle }}
					</div>

				</div>
            </div>
            <p>
                Just like textboxes, toggles may contain subhelper text under the label as shown below:
            </p>
            <div class="row ups-section">
                <div class="col-md-4">
					<div class="ups-form_group">
						{{> A05_switch_toggle_v2 A05_switch.toggle_helper }}
					</div>
				</div>
            </div>
            <p>
                Toggles may also contain help buttons on the right side of them. Note that the label text may wrap when it's too long to prevent overlapping the help button.
            </p>
            <div class="row">
                <div class="col-md-6 col-sm-12">
					<div class="ups-form_group ups-help_wrapper">
						{{> A05_switch_toggle_v2 A05_switch.toggle_help_helper }}
					</div>
				</div>
			</div>

			<hr>

			<h2 class="ups-article-header">A05 Switch - Lever</h2>
			<p>Levers have yes and no options and can used to show/hide additional content associated with them. For accessibility, levers are simple a checkbox which can be checked or unchecked.</p>
			<div class="row ups-section">
				<div class="col-md-4">
                    <div class="ups-form_group">
                        {{> A05_switch_lever_v2 A05_switch.lever }}
                    </div>
				</div>
            </div>
            <p>
                Levers can also contain subhelp text and a help button. The same rule applies for long label text that applies to toggles.
            </p>
            <div class="row ups-section">
                <div class="col-md-4">
                    <div class="ups-form_group ups-help_wrapper">
                        {{> A05_switch_lever_v2 A05_switch.lever_helper }}
                    </div>
				</div>
			</div>
            <p>
                Levers have an alternate display where the label can be on the right side of the lever instead of on top.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="ups-form_group ups-help_wrapper">
                        {{> A05_switch_lever_v2 A05_switch.lever_rlabel }}
                    </div>
                </div>
            </div>

		</div>
	</div>
</main>
