---
title: A08 reCAPTCHA
dir: ltr
lang: en
---

<!-- ************************************************************************************* -->
<!-- A08 reCAPTCHA                                                                         -->
<!-- For full documentation see partials/app_components/A08_reCAPTCHA.hbs                  -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A08 reCAPTCHA

********************************************************************************
--}}


{{!--
********************************************************************************
A08 reCAPTCHA
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">
			
			{{> A08_reCAPTCHA}}
					
		</div>
	</div>
</main>