---
title: A20 Common Address Component
dir: ltr
lang: en
---

<!-- ************************************************************************************* -->
<!-- A20 Common Address Component                                                          -->
<!-- For full documentation see partials/app_components/A20_common_address_component.hbs   -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A20 Common Address Component

********************************************************************************
--}}


{{!--
********************************************************************************
A20 Common Address Component
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">  
			<div class="ups-component_inner">     
			
					<h2>No Error Handling</h2>
					
					{{> A20_common_address_component A20_CAC.default}}
				
				 
			<hr>    
			
					<h2>Data Entered no Errors</h2>
					
					{{> A20_common_address_component A20_CAC.default_check}}
				
			<hr>
					<h2>Data Entered w/ Errors</h2>
					
					{{> A20_common_address_component A20_CAC.default_error}}
				
			</div>	   
		</div>
	</div>
</main>