---
title: A21 Common Payment Component
dir: ltr
lang: en
---

<!-- ************************************************************************************* -->
<!-- A20 Common Address Component                                                          -->
<!-- For full documentation see partials/app_components/A21_common_payment_component.hbs   -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A21 Common Payment Component

********************************************************************************
--}}

{{!--
********************************************************************************
A21 Common Payment Component
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">       
			<div class="row">
				<div class="col-md-5 col-sm-12">
					<h2>No Error Handling</h2>
					
					{{> A21_common_payment_component A21_CPC.default}}
				
				</div>        
			</div>   
			<hr>    
			<!--<div class="row">
				<div class="col-md-5 col-sm-12">-->
					<h2>Data Entered no Errors</h2>
					
					{{> A21_common_payment_component A21_CPC.default_check}}
				
				<!--</div>        
				<div class="col-md-5 col-md-offset-1 col-sm-12">-->
					<h2>Data Entered w/ Errors</h2>
					
					{{> A21_common_payment_component A21_CPC.default_error}}
				
				<!--</div>        
			</div>    --> 
		</div>
	</div>
</main>