---
title: A22 Progress Tracker
dir: rtl
lang: ar
---

<!-- ************************************************************************************* -->
<!-- A22 Progress Tracker                                                                  -->
<!-- For full documentation see partials/app_components/A22_progress_tracker.hbs           -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A06 App Progress Bar

********************************************************************************
--}}

{{!--
********************************************************************************
A22 Progress Tracker
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">
			
			{{> A22_progress_tracker A22_progress_tracker }}
					
		</div>
	</div>
</main>