---
title: A24 Tile Card
dir: rtl
lang: ar
---


<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">
			<p>The Tile Card Component can be used to show different menu options available and display a summary of the option (up to 3 content blocks). </p>
			<div class="row">
				<div class="col-md-3">
					{{>A24_tile_card A24_tile_card.tileCard1 }}
				</div>
				<div class="col-md-3">
					{{>A24_tile_card A24_tile_card.tileCard2 }}
				</div>
			</div>
		</div>
	</div>
</main>