---
title: A25 Speech Bubble
dir: rtl
lang: ar
---

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">
		<div class="ups-wrap_inner">
            <div class="row">
                <div class="col-md-3">
                    {{>A25_speech_bubble A25_speech_bubble.speech_bubble_component }}
                </div>
                <div class="col-md-3 col-md-offset-1">
                    {{>A25_speech_bubble A25_speech_bubble.speech_bubble_component2 }}
                </div>
            </div>
        </div>
    </div>
</main>