---
title: A26 Common Payment Component - Alt
dir: rtl
lang: en
---

<!-- ************************************************************************************* -->
<!-- A26 Common Payment Component Alt                                                         -->
<!-- For full documentation see partials/app_components/A21_common_payment_component_alt.hbs   -->
<!-- ************************************************************************************* -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

A26 Common Payment Component Alt

********************************************************************************
--}}

{{!--
********************************************************************************
A26 Common Payment Component Alt
********************************************************************************
--}}

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap  ups-application_wrapper">  
		<div class="ups-wrap_inner">       
					<h2>Paypal At Store - Add Invoice #</h2>					
					{{> "A26_common_payment_component_alt" A26_CPC-alt.pay_at_store_add_invoice}}
					<hr> 
					<h2>Paypal - Logged In - None Saved</h2>
					{{> "A26_common_payment_component_alt" A26_CPC-alt.paypal_logged_in_none_saved}}
					<hr>
					<h2>Paypal - Logged In - Saved Alt Accounts</h2>					
					{{> "A26_common_payment_component_alt" A26_CPC-alt.paypal_logged_in_saved_alt_accounts}}
					<hr>
					<h2>Payment Card - Logged In - Saved Cards - Add New Selected</h2>	
					{{> "A26_common_payment_component_alt" A26_CPC-alt.payment_card_logged_in_saved_cards_add_new}}						
		</div>
	</div>
</main>