---
title: Angular 4 Component Test
appId: demos
dir: ltr
lang: en
ang2: true
ang2ID: demos
---

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper">  
		<div class="ups-wrap_inner">
			<!--<div class="ups-component_inner">-->
            <style>
                body > .iw_viewport-wrapper > .container-fluid.iw_section:nth-child(3) {overflow: visible;}
            </style>
                <ups-app-component-test></ups-app-component-test>

			<!--</div>-->
		</div>
	</div>
</main>
