---
title: Angular 4 Component Test
appId: demos
dir: rtl
lang: ar
ang2: true
ang2ID: demos
---

<main id="ups-main">
	<div class="ups-form_wrap ups-wrap ups-application_wrapper">  
		<div class="ups-wrap_inner">
			<!--<div class="ups-component_inner">-->
                <ups-app-component-test></ups-app-component-test>

			<!--</div>-->
		</div>
	</div>
</main>
