---
title: Follow My Delivery (FMD)
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>

{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.follow_delivery}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/16/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD: Updated Access Point Content, JIRA: [UPSO-3491]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/21/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD: Updated font size for EDW and CDW, TFS: [460544]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD: Style and content updates, TFS: [460544]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/01/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD: Content Updates</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/21/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD - added map icons(house and truck pin) TFS: 408682</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">06/09/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>FMD - added 'map updates automatically' to the map, TFS: [383866]</li>
                            <li>FMD - added 're-center' to the map, TFS: [384278]</li>
                            <li>FMD - updated package details text, TFS: [384297]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Added Follow My Delivery App</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
