
{{#if payment_default }}
<!-- //////////////////////////////////////////////////////////// --> 
<!-- //// Begin Payment Info                                 //// --> 
<!-- //////////////////////////////////////////////////////////// -->
<div id="pnl_1_1" class="secBody">
    <p><span class="error">&gt;&gt;&gt;Error Message placeholder</span></p>
    <p>Required fields are indicated with <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a class="btnlnkR helpIconR" href="repl_href">Payment Method for Shipping Charges:</a></label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id" class="formcol6">
                <option value="">Select One</option>
                <option value="">{Account Number} - {Account Nickname}</option>
                <option value="">{Third Party Account Number} - {Third Party Account Nickname}</option>
                <option value="">{Payment Cart Type} xxxxxxxxxxxx{last four digits}</option>
                <option value="">PayPal - {PayPal Nickname}</option>
                <option value="" disabled="disabled">----------</option>
                <option value="">Bill Another Third Party</option>
                <option value="">Bill the Receiver</option>
                <option value="">Pay at a UPS Access Point™ Location</option>
                <option value="" disabled="disabled">----------</option>
                <option value="">Enter an Account Number</option>
                <option value="">Use Another Payment Card</option>
                <option value="">Use Another PayPal Account</option>
            </select>
            <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
    </dl>
    <dl role="presentation">
        <dt>
            <label for="repl_id">Payment Card Type:</label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id" class="formcol6">
                <option value="">Select One</option>
            </select>
            <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
    </dl>
    <ul class="cc">
        <li> <img title="Visa" alt="Visa" src="/img/inf_cc_30x23_visa.gif"> </li>
        <li> <img title="MasterCard" alt="MasterCard" src="/img/inf_cc_30x23_mcard.gif"> </li>
        <li> <img title="American Express" alt="American Express" src="/img/inf_cc_30x23_amex.gif"> </li>
        <li> <img title="Discover" alt="Discover" src="/img/inf_cc_30x23_discover.gif"> </li>
        <li> <img title="Maestro" alt="Maestro" src="/img/creditcard_maestro.gif"> </li>
        <li> <img title="Carte Bleue" alt="Carte Bleue" src="/img/creditcard_carte_bleue.gif"> </li>
        <li> <img title="Postepay" alt="Poste Pay" src="/img/creditcard_postepay.gif"> </li>
        <li> <img title="Bancontact MisterCash" alt="Bancontact Mister Cash" src="/img/creditcard_bancontact_mistercash.gif"> </li>
        <li> <img title="Dankort" alt="Dankort" src="/img/creditcard_dankort.gif"> </li>
        <li> <img title="JCB" alt="JCB" src="/img/creditcard_jcb.gif"> </li>
        <li> <img title="UnionPay" alt="Union Pay" src="/img/creditcard_unionpay.gif"> </li>
        <li> <img title="Hipercard" alt="Hipercard" src="/img/creditcard_hipercard.gif"> </li>
        <li> <img title="VPay" alt="V Pay" src="/img/creditcard_vpay.gif"> </li>
        <li> <img title="Visa Electron" alt="Visa Electron" src="/img/creditcard_visa_electron.gif"> </li>
        <li> <img title="Bill Me Later" alt="Bill Me Later" src="/img/inf_cc_35x23_billme.gif"> </li>
        <li> <img title="PayPal" alt="PayPal" src="/img/inf_cc_35x23_paypal.gif"> </li>
    </ul>
    <p>To add a 3D Secure card, you must log in to the card's site to validate your information.<br>
        Any charges displayed durng validation will not be charged to your payment card.</p>
    <div class="subcol9 marginBegin">
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Payment Card Name:</a></label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol5">
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
        <dl role="presentation">
            <dt>
                <label for="repl_id">Nickname on Payment Card:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol5">
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
        <dl role="presentation">
            <dt>
                <label for="repl_id">Nickname of Payment Method:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol5">
            </dd>
        </dl>
    </div>
    <div class="subcol9 marginEnd">
        <dl role="presentation" class="flexFirst clearfix">
            <dt>
                <label for="repl_id">Expiration Month:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id" class="formcol3">
                    <option value="">Select One</option>
                </select>
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
        <dl role="presentation" class="flexAfter clearfix">
            <dt>
                <label for="repl_id">Expiration year:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id" class="formcol3">
                    <option value="">Select One</option>
                </select>
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
        <div class="clearfix"></div>
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Verification Code:</a></label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol3">
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
        </dl>
    </div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="subcol9 marginBegin">
        <table summary="repl_summary" title="repl_title">
            <!-- <caption>repl_caption</caption> -->
            <tbody>
                <tr>
                    <td scope="row"><input type="checkbox" id="repl_id" checked=""></td>
                    <td><label id="repl_id" class="sel" for="repl_id">Save to user profile</label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="subcol9 marginEnd">
        <table summary="repl_summary" title="repl_title">
            <!-- <caption>repl_caption</caption> -->
            <tbody>
                <tr>
                    <td scope="row"><input type="checkbox" id="repl_id"></td>
                    <td><label id="repl_id" class="sel" for="repl_id">Set as default payment method</label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
    <hr class="hr">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" value="" id="repl_id" type="radio" checked="checked"></td>
                <td><label for="repl_id" class="sel label">Use this address as my Billing Address</label>
                    <p>street <br>
                        city, state zip</p></td>
            </tr>
            <tr>
                <td class="sel"><input name="repl_name" value="" id="repl_id" type="radio"></td>
                <td><label for="repl_id" class="sel label">Use a different Billing Address</label></td>
            </tr>
        </tbody>
    </table>
    <div class="subcol9 marginBegin indent">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Billing Address:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" value="" id="repl_id" class="formcol6">
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
        <dl role="presentation">
            <dt>
                <label for="repl_id">Rm, Fl, Apt:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol6">
            </dd>
        </dl>
        <dl role="presentation">
            <dt>
                <label for="repl_id">Dept:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol6">
            </dd>
        </dl>
    </div>
    <div class="subcol8 marginEnd">
        <dl role="presentation">
            <dt>
                <label for="repl_id">City:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol6">
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
        <dl role="presentation" class="flexFirst clearfix">
            <dt>
                <label for="repl_id">State/Province/Country or Territory:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id" class="formcol4">
                    <option value="">select one</option>
                </select>
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
        <dl role="presentation" class="flexAfter clearfix">
            <dt>
                <label for="repl_id">Other:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol2">
            </dd>
        </dl>
        <div class="clearfix"></div>
        <dl role="presentation">
            <dt>
                <label for="repl_id">ZIP Code:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol6">
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
        <dl role="presentation">
            <dt>
                <label for="repl_id">Country or Territory:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id" class="formcol6">
                    <option value="">select one</option>
                </select>
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
    </div>
    <div class="clear"></div>
    <div class="indent">
        <table summary="repl_summary" title="repl_title">
            <!-- <caption>repl_caption</caption> -->
            <tbody>
                <tr>
                    <td scope="row"><input type="checkbox" id="repl_id"></td>
                    <td><label id="repl_id" class="sel" for="repl_id">Save this as my profile address.</label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="hr">
    <dl role="presentation">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Apply Rates from a UPS Account:</a></label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id" class="formcol6">
                <option value="">{XXXXXX} - {Account Nickname}</option>
            </select>
        </dd>
    </dl>
    <hr class="hr">
    <dl role="presentation">
        <dt>
            <label for="repl_id">Provide VAT ID:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id" class="formcol6">
        </dd>
    </dl>
    <p> Please note, if no VAT ID is given you will receive a final consumer invoice.</p>
    <hr class="hr">
    <dl role="presentation">
        <dt>
            <label for="repl_id">Promotion Code:</label>
        </dt>
        <dd>
            <input type="text" name="repl_name" id="repl_id" value="SHIPTOUS48">
            <a href="Repl_href">Remove Code</a> </dd>
    </dl>
    <p>Recieve 40% off a ground shipment within the continental United States.</p>
    <p><a href="repl_href" class="btnlnkR helpIconR">Read Promotion Terms and Conditions</a></p>
</div>

{{/if}}


<!-- //////////////////////////////////////////////////////////// --> 
<!-- //// End Payment Card                                   //// --> 
<!-- //// Begin Alternate Payment Info                       //// --> 
<!-- //////////////////////////////////////////////////////////// -->


{{#if payment_alt }}
<div id="pnl_1_2" class="secBody">
    <p>Required fields are indicated with <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon">.</p>
    <dl role="presentation">
        <dt>
            <label for="repl_id">Payment Method for Shipping Charges:</label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id" class="formcol6">
                <option value="">Select One</option>
                <option value="">{Account Number} - {Account Nickname}</option>
                <option value="">{Third Party Account Number} - {Third Party Account Nickname}</option>
                <option value="">{Payment Cart Type} xxxxxxxxxxxx{last four digits}</option>
                <option value="">PayPal - {PayPal Nickname}</option>
                <option value="" disabled="disabled">----------</option>
                <option value="">Bill Another Third Party</option>
                <option value="">Bill the Receiver</option>
                <option value="">Pay at a UPS Access Point™ Location</option>
                <option value="" disabled="disabled">----------</option>
                <option value="">Enter an Account Number</option>
                <option value="">Use Another Payment Card</option>
                <option value="">Use Another PayPal Account</option>
            </select>
            <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
    </dl>
    <dl role="presentation">
        <dt>
            <label for="repl_id">Payment Method Type:</label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id" class="formcol6">
                <option value="">Select One</option>
            </select>
        </dd>
    </dl>
    <ul class="cc">
        <li> <img title="Visa" alt="Visa" src="/img/inf_cc_30x23_visa.gif"> </li>
        <li> <img title="MasterCard" alt="MasterCard" src="/img/inf_cc_30x23_mcard.gif"> </li>
        <li> <img title="American Express" alt="American Express" src="/img/inf_cc_30x23_amex.gif"> </li>
        <li> <img title="Discover" alt="Discover" src="/img/inf_cc_30x23_discover.gif"> </li>
        <li> <img title="Maestro" alt="Maestro" src="/img/creditcard_maestro.gif"> </li>
        <li> <img title="Carte Bleue" alt="Carte Bleue" src="/img/creditcard_carte_bleue.gif"> </li>
        <li> <img title="Postepay" alt="Poste Pay" src="/img/creditcard_postepay.gif"> </li>
        <li> <img title="Bancontact MisterCash" alt="Bancontact Mister Cash" src="/img/creditcard_bancontact_mistercash.gif"> </li>
        <li> <img title="Dankort" alt="Dankort" src="/img/creditcard_dankort.gif"> </li>
        <li> <img title="JCB" alt="JCB" src="/img/creditcard_jcb.gif"> </li>
        <li> <img title="UnionPay" alt="Union Pay" src="/img/creditcard_unionpay.gif"> </li>
        <li> <img title="Hipercard" alt="Hipercard" src="/img/creditcard_hipercard.gif"> </li>
        <li> <img title="VPay" alt="V Pay" src="/img/creditcard_vpay.gif"> </li>
        <li> <img title="Visa Electron" alt="Visa Electron" src="/img/creditcard_visa_electron.gif"> </li>
        <li> <img title="Bill Me Later" alt="Bill Me Later" src="/img/inf_cc_35x23_billme.gif"> </li>
        <li> <img title="PayPal" alt="PayPal" src="/img/inf_cc_35x23_paypal.gif"> </li>
    </ul>
    <div class="subcol9 marginBegin">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Nickname of Payment Method:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id" class="formcol5">
            </dd>
        </dl>
        <table summary="repl_summary" title="repl_title">
            <!--<caption>repl_caption</caption>-->
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_fname" type="checkbox" id="repl_fid"></td>
                    <td><span for="repl_fid"> <a href="repl_href" class="btnlnkR helpIconR">Make this my default payment method.</a></span></td>
                </tr>
            </tbody>
        </table>
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Apply Rates from a UPS Account:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id" class="formcol6">
                    <option value="">{XXXXX} - [Acct Nickname]</option>
                </select>
                <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </dd>
        </dl>
    </div>
    <div class="subcol9 marginEnd">
        <table summary="repl_summary" title="repl_title">
            <!-- <caption>repl_caption</caption> -->
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input type="checkbox" id="repl_id" checked="" disabled=""></td>
                    <td><span id="repl_id" class="sel" for="repl_id">I agree to the <a href="repl_href" class="btnlnkR helpIconR">SEPA</a> Mandate when using this payment method.</span></td>
                </tr>
                <tr>
                    <td colspan="2" scope="row">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" scope="row"><strong>Note:</strong> You will be transfered to [Payment Method Type] to complete the transaction.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div>

<!-- //////////////////////////////////////////////////////////// --> 
<!-- //// End Alternate Payment Info                         //// --> 
<!-- //////////////////////////////////////////////////////////// --> 

{{/if}}