<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Screen for Denied Parties</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Save to Address Book</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Complete form and select <span class="pi-h4">Save</span> to add to address book.<br><br>Required fields are shown in <span class="pi-h4">bold</span>. Fields marked with an asterisk (*) are required for addresses outside the U.S.
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			Nickname:<br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			<span class="pi-h4">Company or Name:</span><br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			*Contact Name:<br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			<span class="pi-h4">Address:</span><br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			<span class="pi-h4">City:</span><br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			<table border="0" cellpadding="0" cellspacing="0" width="400">
			<tr>
				<td width="180">
				<span class="pi-h4">State/Province/County</span>: (US/Canda/Ireland)<br>
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Select for US/Canada/Ireland</option>
					<option>Item 1</option>
					<option>Item 2</option>
					<option>Item 3</option>
				</select>
				</td>
				<td width="220">
				(Other):<br>
				<input class="modTxtSmall" maxlength="35" size="10" type="text" value="">
				</td>
			</tr>
			</table>
			<span class="pi-h4">Postal Code:</span><br>
			<input class="modTxtMedium" maxlength="35" size="35" type="text" value=""><br>
			<input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Residential<br>
			<span class="pi-h4">Country or Territory:</span> (Countries or Territories with an '*' require a postal code)<br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>Select One</option>
				<option>Item 1</option>
				<option>Item 2</option>
				<option>Item 3</option>
			</select><br>
			<table border="0" cellpadding="0" cellspacing="0" width="400">
			<tr>
				<td width="180">
				*Telephone:<br>
				<input class="modTxtMedium" maxlength="35" size="20" type="text" value="">
				</td>
				<td width="220">
				Ext.:<br>
				<input class="modTxtSmall" maxlength="35" size="10" type="text" value="">
				</td>
			</tr>
			</table>
			Fax:<br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			E-mail:<br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			Location ID:<br>
			<input class="modTxtMedium" maxlength="35" size="20" type="text" value=""><br>
			<input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Save to Address Book as Shipper/Ship From address<br>
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
			<span class="brownbold">Reference Numbers</span><br><br>
			At time of shipment, you will be able to enter the appropriate reference type. UPS adds flexibility and convenience by letting you track a package or shipment using your reference number instead of the UPS tracking number.<br><br>
			Reference No. 1:<br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>Select Reference type</option>
				<option>Item 1</option>
				<option>Item 2</option>
				<option>Item 3</option>
			</select><br>
			Reference No. 2:<br>
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>Select Reference type</option>
				<option>Item 1</option>
				<option>Item 2</option>
				<option>Item 3</option>
			</select><br>
			<input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;Consignee Billable<br>
			<br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Cancel" border="0" height="18" name="Cancel" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Save as New" border="0" height="18" name="Save as New" src="/img/en/btn_save_as_new_a.gif" type="image" width="94"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Save" border="0" height="18" name="Save" src="/img/en/btn_save_a.gif" type="image" width="45"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
