---
title: ct1_shi_pic_dlg_dual_currency_mismatch
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: ltr
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
        
        
      <form action="repl_fname">
        
        <!-- Begin Application Module -->
        
        <div class="appLvl col24 mod">
          <fieldset>
            <legend></legend>
            
            <!-- Begin Application Header -->
            
            <div class="appHead clearfix">
              <h2>{Application Header}</h2>
              <ul>
                <li><a href="repl_href" class="btnlnkR helpIconR">{Help link text}</a></li>
              </ul>
            </div>
            
            <!-- End Application Header --> 
            
            <!-- Begin Application Body -->
            
            <div class="appBody clearfix"> 
              
              <!-- Begin Section Module -->
              
              <div class="secLvl clearfix">
                <fieldset>
                  <legend></legend>
                  
                  <!-- Begin Section Header --><!-- End Section Header --> 
                  
                  <!-- Begin Section Body -->
                  
                  <div class="secBody clearfix">
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <select>
                      <option>item1</option>
                    </select>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Doug made this page from scratch.  You should be proud of him.  :) Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                    <p>Fusce ac quam. Donec neque. Nunc venenatis enim nec quam. Cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. Pellentesque id arcu non sem placerat iaculis.</p>
                    <p>Praesent sollicitudin lacinia nisl. Vivamus ut magna eget tellus tincidunt elementum. Maecenas aliquam tincidunt nisl. Proin nulla. Nullam bibendum tincidunt risus. Etiam porttitor gravida lorem. Aliquam erat volutpat. Maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. Etiam non justo.</p>
                    <p>Duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. Ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
                  </div>
                  
                  <!-- End Section Body --> 
                  
                  <!-- Begin Section Footer --><!-- End Section Footer -->
                  
                </fieldset>
              </div>
              
              <!-- End Section Module --> 
              
            </div>
            
            <!-- End Application Body --> 
            
            <!-- Begin Application Footer --><!-- End Application Footer -->
            
          </fieldset>
        </div>
        
        <!-- End Application Module -->
        
      </form>
      
      <!-- contentArea --> 
      
<div class="appLvl mod modal col18 dialog">
  <div class="appHead clearfix">
    <h2>UPS Shipping</h2>
    <ul>
      <li>
        <input type="button" class="btnlnkL closeIcon" title="Close" id="modalClose">
      </li>
    </ul>
  </div>
  <div class="appBody">
    <p>Your chosen payment method for this transaction must be validated. The validated amount could be converted to local currency, as illustrated below.</p>
    <dl class="outHozLedger clearfix">
        <dt>
            <span class="label">Total Amount of Transaction:</span>
        </dt>
        <dd>
            999.99 CN
        </dd>
    </dl>
    <dl class="outHozLedger clearfix">
        <dt>
            <span class="label">Total Amount Used to Validate Payment Method:</span>
        </dt>
        <dd>
            999.99 CN
        </dd>
    </dl>
  </div>
  <div class="appFooter">
    <div class="btnBar alignCenter">
      <input name="" type="button" value="OK" class="btn">
    </div>
  </div>
</div>
<script type="text/javascript">

		

$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:710});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});



</script>


</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
