---
title: ct1_shi_ftc(4ltn)
layout: legacy.hbs
version: v4
appID: com.ups.FCTC
appCSS: ups.legacy_overrideFCTC
dynpnls: yes
dir: ltr
lang: en
---

 <div id="main">
    
	{{>"ct1_shi_ftc(4ltn)_partial" ct1_shi_ftc4ltn.ltl_am}}
</div>
