---
title: cam_log
layout: legacy.hbs
version: v4
appID: com.ups.csadmin
appCSS: ups.legacy_overrideECSAdmin
dir: rtl
lang: ar
---

		<!-- /main begin -->
		<div id="main">
			{{>"cam_log_partial"}}
		</div>
		<!-- /main end -->
