<form action="repl_faction">

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Page Header no Icon -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td class="pi-h1" valign="top">Request Multiple Services</td>
	</tr>
	</table>
	<!-- End Table: Page Header no Icon -->

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA2-t" colspan="3" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">View Results List</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-t-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c" valign="top" width="100%">

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<span class="pi-h4">Denied Party Screener Request [transaction id] has been processed. You have been charged n.00 CUR*.</span>
			<br><br>
			<span class="pi-h4">Estimate Landed Cost Request is not available. You were not charged.</span>
			<br><br>
			<span class="pi-h4">Detect Export Licenses [transaction id] has been processed. You have been charged n.00 CUR*.</span>
			<br><br>
			<span class="pi-h4">Access International Forms request: No Charge.
			<br><br>
			<span class="pi-h3">Payment Method</span><br>
			UPS Account Number: F00100
			<br><br>

			<!-- Begin Table: Functional Table 3 (Parent:Module Table) -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td colspan="3"><span class="pi-h3">Transaction References</span></td>
			</tr>
			<tr>
				<td valign="top" nowrap>Transaction Reference 1:</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%">[reference code 1]</td>
			</tr>
			<tr>
				<td valign="top" nowrap>Transaction Reference 2:</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%">[reference code 2]</td>
			</tr>
			<tr>
				<td valign="top" nowrap>Transaction Reference 3:</td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="10"></td>
				<td valign="top" width="100%">[reference code 3]</td>
			</tr>
			<tr>
				<td colspan="3"><img alt="" border="0" height="4" src="/img/1.gif" width="1"></td>
			</tr>
			</table>
			<!-- End Table: Functional Table 3 (Parent:Module Table) -->

			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Multiple Services Request Results</span><br>
			View the detailed results of a transaction by selecting <span class="pi-h4">View Results</span>.
			<br><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->

		<!-- Begin Table: Inner Content (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
		<tr class="pi-r1-t">
			<td class="pi-r1-pad">Service Name<br>Date/Time</td>
			<td class="pi-r1-line" colspan="3" nowrap>Party Name/Country or Territory Screened<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- or -<br>Ship To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ship From</td>
		</tr>
		</thead>
		<tbody>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">Denied Party Screener<br>[mm/dd/yyyy hh:mm]</td>
			<td class="pi-r1-pad" colspan="2">[company or contact name]</td>
			<td class="pi-r1-pad"><a href="repl_href">View Results</a></td>
		</tr>
		<tr class="pi-r1-rwe">
			<td class="pi-r1-pad">Landed Cost<br>[mm/dd/yyyy hh:mm]</td>
			<td class="pi-r1-pad">[country or territory]</td>
			<td class="pi-r1-pad">[country or territory]</td>
			<td class="pi-r1-pad"><span class="pi-h4">Not Available</span></td>
		</tr>
		<tr class="pi-r1-rwo">
			<td class="pi-r1-pad">Detect Export Licenses<br>[mm/dd/yyyy hh:mm]</td>
			<td class="pi-r1-pad">[country or territory]</td>
			<td class="pi-r1-pad">[us or pr]</td>
			<td class="pi-r1-pad"><a href="repl_href">View Results</a></td>
		</tr>

		</tbody>
		<tfoot>
		<tr class="pi-r1-b">
			<td colspan="4"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		</tr>
		</tfoot>
		</table>
		<!-- End Table: Inner Content (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 2 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			<br>
			<span class="pi-h3">International Forms</span><br>
			<img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="1"><a href="repl_href">Access International Forms</a>
			<br><br>
			<span class="pi-h4">Note:</span> Request data can not be transferred to International Forms.
			<img alt="" border="0" height="2" src="/img/1_gray.gif" vspace="8" width="544"><br>
			<span class="pi-h3">Next Steps</span><br>
			Repeat the transaction above, make another TradeAbility service request, or begin a shipment using TradeAbility results by selecting an option from the drop-down menu below.
			<br><br>
			Next Steps Options:
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="baseline">
				<select name="repl_fname" class="modSelMedium" size="1">
					<option>Select One</option>
				</select></td>
				<td><img alt="" border="0" height="1" src="/img/1.gif" width="5"></td>
				<td valign="baseline"><input alt="Go" border="0" height="18" name="repl_fname" src="/img/btn_arrow_large.gif" type="image" width="18"></td>
			</tr>
			</table>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 2 (Parent:Module Table) -->

		</td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-c-b-spc" width="100%"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
		<td class="pi-mA2-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA2-line" colspan="3"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top" colspan="3">

		<!-- Begin Table: Module Note (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td><br>*Billing amount shown based on published rates. Actual billing amount may differ.</td>
		</tr>
		</table>
		<!-- End Table: Module Note (Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
