<!-- Campus Shipping-->
<!-- Reference Numbers - Default -->
{{#if cs_default}}
<div id="pnl_7_1">
    <dl role="presentation" >
        <dt>
            <label for="repl_id">{Reference 1}:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id0131" >
            <a id="repl_id0132" href="repl_href">Search</a></dd>
        <dt>
            <label for="repl_id">{Reference 2}:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id8b" >
            <a id="repl_id0133" href="repl_href">Search</a></dd>
        <dt>
            <label for="repl_id">{Reference 3}:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id0149" >
            <a id="repl_id0150" href="repl_href">Search</a></dd>
    </dl>
    <table summary="repl_summary" title="repl_title">
        <tr>
            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id47"></td>
            <td><label id="repl_id48" for="repl_id47" class="sel btnlnkR helpIconR">Add a bar code for {Reference #1} to my shipping label</label></td>
        </tr>
    </table>
</div>
{{/if}}


<!-- Internet Shipping-->
<!-- Reference Numbers - Default -->
{{#if int_default}}
<div id="pnl_7_2">
    <div class="marginBegin subcol7 clearfix">
        <dl role="presentation">
            <dt><label for="txtbox">Reference #1:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"></dd>
        </dl>
    </div>
    <div class="marginEnd subcol7 clearfix">
        <dl role="presentation">
            <dt><label for="txtbox">Reference #2</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"></dd>
        </dl>
    </div>
    <div class="clear"></div>
    <table summary="repl_summary" title="repl_title">
        <tr>
            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id49"></td>
            <td><label id="repl_id50" for="repl_id49" class="sel btnlnkR helpIconR"><a href="repl_name">Add a bar code for {Reference #1} to my shipping label</a></label></td>
        </tr>
        <tr>
            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id51"></td>
            <td><label id="repl_id52" for="repl_id51" class="sel">Use the same reference numbers for all packages</label></td>
        </tr>
    </table>
    <div class="clear"></div>
</div>
{{/if}}