<!--Campus Shipping and Internet Shipping-->
<!-- Payment Card - Default -->
{{#if cs_payment_card}}
<div id="pnl_8_1">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                <td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- Payment Card - SAP -->
{{#if cs_payment_card_sap}}
<div id="pnl_8_2">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                <td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
            </tr>
        </tbody>
    </table>
    <div class="alignBegin clearfix">
        <p><strong>Pending On-Call Pickups for {UPS Account Number} </strong></p>
        <dl class="indent outHozFlex">
          <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
          <dd>{n}</dd>
        </dl>
        <dl class="indent outHozFlex">
          <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
          <dd>{n}</dd>
        </dl>
    </div>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - Daily - Default -->
{{#if cs_ups_account_default}}
<div id="pnl_8_3">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                <td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - Daily - SAP -->
{{#if cs_ups_account_sap}}
<div id="pnl_8_4">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                <td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
            </tr>
        </tbody>
    </table>
    <div class="alignBegin clearfix">
    <p><strong>Pending On-Call Pickups for {UPS Account Number} </strong></p>
        <dl class="indent outHozFlex">
          <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
          <dd>{n}</dd>
        </dl>
        <dl class="indent outHozFlex">
          <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
          <dd>{n}</dd>
        </dl>
    </div>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>	
{{/if}}


<!-- UPS Account - Scheduled - Default -->
{{#if cs_ups_account_scheduled}}
<div id="pnl_8_5">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Day-Specific Pickup - n day}.}<br> Pickups will occur for this UPS Account's pickup location on:</strong><br>{Monday, Tuesday, Wednesday, Thursday, Friday} </p>
    </div> 
    <div class="marginBegin subcol4 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol6 clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                <td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - Scheduled - SAP -->
{{#if cs_ups_account_scheduled_sap}}
<div id="pnl_8_6">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Day-Specific Pickup - n day}.}</strong></p>
        <p><strong>Pickups will occur for this UPS Account's pickup location on:</strong><br>{Monday, Tuesday, Wednesday, Thursday, Friday} </p>
    </div> 
    <div class="marginBegin subcol6 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol9 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                <td><label for="chxbox1" class="sel">Schedule an {additional] <a href="repl_href" class="btnlnkR helpIconR">UPS On-Call Pickup</a>. An additional fee may apply.</label></td>
            </tr>
        </tbody>
    </table>
    <div class="alignBegin clearfix">
        <p><strong>Pending On-Call Pickups for {UPS Account Number} </strong></p>
        <dl class="indent outHozFlex">
          <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
          <dd>{n}</dd>
        </dl>
        <dl class="indent outHozFlex">
          <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
          <dd>{n}</dd>
        </dl>
    </div>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - When Needed - Already Req Today -->
{{#if cs_ups_account_when_needed}}
<div id="pnl_8_8">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
    </div>
    <div class="alignBegin clearfix">
        <p><strong>Smart Pickup Status:</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Include this shipment with {today's} Smart Pickup. No further action is needed.</label></td>
            </tr>
        </tbody>
    </table>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule a<a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - When Needed - Already Req Today After Notify -->
{{#if cs_ups_account_already_req}}
<div id="pnl_8_9">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
    </div>
    <div class="alignBegin clearfix">
        <p><strong>Smart Pickup Status:</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label class="sel">If the pickup <strong>has not been completed,</strong> you may: </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Include this shipment with {today's} Smart Pickup. No further action is needed.</label></td>
            </tr>
        </tbody>
    </table>
    <label class="sel">If the pickup <strong>has been completed,</strong> you may: </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup for this UPS Account's pickup location {next business day}</label></td>
            </tr>
        </tbody>
    </table>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>Your Ship From Address will be updated to match your UPS Account's Pickup Address for this shipment. We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule a <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - When Needed - After Notify Req Tomorrow  -->
{{#if cs_ups_account_already_req_tomorrow}}
<div id="pnl_8_10">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
    </div>
    <div class="alignBegin clearfix">
        <p><strong>Smart Pickup Status:</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Include this shipment with {next business day's} Smart Pickup. No further action is needed.</label></td>
            </tr>
        </tbody>
    </table>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule a <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - When Needed - On-Call  -->
{{#if cs_ups_account_on_call}}
<div id="pnl_8_11">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
    </div>
    <div class="alignBegin clearfix">
        <p><strong>Smart Pickup Status:</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup.</label>
        <p>{If submitted {before} {notify time on today's date}, a UPS driver will visit this UPS Account's pickup location {today's date}.}</p>
    </td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule a <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label>
                    <p><strong>Pending On-Call Pickups for {UPS Account Number} </strong></p>
                    <dl class="indent outHozFlex">
                      <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
                      <dd>{n}</dd>
                    </dl>
                    <dl class="indent outHozFlex">
                      <dt><span class="label">for {weekday}{mm/dd/yyyy}:</span></dt>
                      <dd>{n}</dd>
                    </dl>
                </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>

    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - When Needed - Drop-off  -->
{{#if cs_ups_account_drop_off}}
<div id="pnl_8_12">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
    </div>
    <div class="alignBegin clearfix">
        <p><strong>Smart Pickup Status:</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup.</label>
        <p>{If submitted {before} {notify time on today's date}, a UPS driver will visit this UPS Account's pickup location {today's date}.}</p>
    </td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule an <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label>
    </td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
    <p> Complete your shipment and follow the Find Locations link on your Shipment Confirmation to find a UPS location.</p>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - UPS WW Express Freight - UPS Options "Pickup" -->
{{#if cs_ups_account_ww_pickup}}
<div id="pnl_8_13">
    <div class="flexFirst clearfix">
    <p>UPS Worldwide Express Freight shipments need additional Pickup Option or Delivery option information. Where pickups are supported online, you will be able to enter pickup or delivery details on the next page.</p>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - UPS WW Express Freight - UPS Options "Collection" -->
{{#if cs_ups_account_ww_collection}}
<div id="pnl_8_14">
    <div class="flexFirst clearfix">
    <p>UPS Worldwide Express Freight shipments need additional Collection Option or Delivery option information. Where collections are supported online, you will be able to enter collection or delivery details on the next page.</p>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!--Campus Shipping Only-->
<!-- UPS Account - Smart Pickup Prior to NBT -->
{{#if int_ups_account_smart_nbt}}
<div id="pnl_8_7">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
    </div>
    <div class="secLvl message clearfix">
        <div class="secHead clearfix">
            <h3>UPS Smart Pickup Status</h3>
        </div>
        <div class="secBody">
            <p>A pickup occured at your location earlier today, PRN <a href="repl_name"><strong>NNXNNX</strong></a></p>
        </div>
    </div>
    <div class="alignBegin clearfix">
        <p>A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has been completed for this UPS Account's location for {date}.</strong></p>
    </div>
    <label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Include this shipment with the {next business day/date} Smart Pickup using account</label></td>
            </tr>
        </tbody>
    </table>
    <dl role="presentation" class="indent">
        <dd>
            <select name="repl_name" id="selectbox" class="formcol5">
                <option value="repl_value" selected>NNNNXX - NNNNXX</option>
                <option value="repl_value">Option 2 which is much longer than Option 1</option>
            </select>
        </dd>
    </dl>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule an {additional} <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a> UPS Smart Pickup customers may schedule an Air on International pickup at no charge.</label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}
                    
<!-- Internet Shipping Only -->
<!-- UPS Account - When Needed - Not Req Today -->
{{#if int_ups_account_no_req}}
<div id="pnl_8_21">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
    </div>
    <div class="alignBegin clearfix">
        <p><strong>Smart Pickup Status:</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup. <br> {If submitted {before} (notify time on today's date), a UPS driver will visit this UPS Account's pickup location {today's date}.}</label></td>
            </tr>
        </tbody>
    </table>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>Your Ship From Address will be updated to match your UPS Account's Pickup Address for this shipment. We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule a <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- Account (Not Smart Pickup)-->
{{#if int_ups_account_no_smart}}
<div id="pnl_8_27">
    <div class="alignBegin clearfix">
        <p><strong>You have pickup options!</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an option:</label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup. [using account [FOO100]]<br>{If submitted {before} (notify time on today's date}, a UPS driver will make a pickup at this UPS Account's pickup location {today's date}.}</label></td>
            </tr>
        </tbody>
    </table>
    <label class="sel">If the pickup <strong>has been completed,</strong> you may: </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup for this UPS Account's pickup location {next business day}</label></td>
            </tr>
        </tbody>
    </table>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>Your Ship From Address will be updated to match your UPS Account's Pickup Address for this shipment. We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule an {additional} <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- UPS Account - Smart Pickup Prior to NBT -->
{{#if int_ups_account_smart_nbt_alt}}
<div id="pnl_8_28">
    <div class="alignBegin clearfix">
        <p><strong>{UPS Account FOO100}</strong> is a <strong>{Smart Pickup} Account.}</strong></p>
    </div>
    <div class="secLvl message clearfix">
        <div class="secHead clearfix">
            <h3>UPS Smart Pickup Status</h3>
        </div>
        <div class="secBody">
            <p>A pickup occured at your location earlier today, PRN <a href="repl_name"><strong>NNXNNX</strong></a></p>
        </div>
    </div>
    <div class="alignBegin clearfix">
        <p>A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has been completed for this UPS Account's location for {date}.</strong></p>
    </div>
    <label>Select an Option: <img alt="Required" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> </label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Include this shipment with the {next business day/date} Smart Pickup using account 
            <select name="repl_name" id="selectbox" class="formcol5">
                <option value="repl_value" selected>NNNNXX - NNNNXX</option>
                <option value="repl_value">Option 2 which is much longer than Option 1</option>
            </select>
            
            </label></td>
            </tr>
        </tbody>
    </table>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule an {additional} <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a> UPS Smart Pickup customers may schedule an Air on International pickup at no charge.</label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
{{/if}}

<!-- Not Smart Acct - Default-->
{{#if int_default}}
<div id="pnl_8_29">
    <div class="alignBegin clearfix">
        <p><strong>You have pickup options!</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an option:</label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup. [using account [FOO100]]<br>{If submitted {before} (notify time on today's date}, a UPS driver will make a pickup at this UPS Account's pickup location {today's date}.}</label></td>
            </tr>
        </tbody>
    </table>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>Your Ship From Address will be updated to match your UPS Account's Pickup Address for this shipment. We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule an {additional} <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- Not Smart Acct - Multi-accts, None Selected -->
{{#if int_mult_account_no_sel}}
<div id="pnl_8_30">
    <div class="alignBegin clearfix">
        <p><strong>You have pickup options!</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an option:</label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup. [using account] 
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>Select One</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select><br> {If submitted {before} (notify time on today's date}, a UPS driver will make a pickup at this UPS Account's pickup location {today's date}.}
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule an {additional} <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- Not Smart Acct - Multi-accts, Selected -->
{{#if int_mult_account_sel}}
<div id="pnl_8_31">
    <div class="alignBegin clearfix">
        <p><strong>You have pickup options!</strong><br> A <a href="repl_name" class="helpIconR btnlnkR">Smart Pickup</a><strong>has not been requested</strong> for this <a href="repl_name" class="helpIconR btnlnkR">UPS Account's pickup location</a> for {today's date}.</p>
    </div>
    <label>Select an option:</label>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Request a Smart Pickup. [using account] 
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>FOO100</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select><br> {If submitted {before} (notify time on today's date}, a UPS driver will make a pickup at this UPS Account's pickup location {today's date}.}
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clear"></div>
    <div class="marginBegin subcol9 indent clearfix">
            <p>{Company or Name}<br>
            {Address Line 1}<br>
            {City}, {State} {ZIP Code}<br>
            {Country or Territory} </p>			
    </div>
    <div class="marginEnd subcol8 alignCenter clearfix">
        <div class="secLvl message clearfix">
            <div class="secBody">
                <p>Your Ship From Address will be updated to match your UPS Account's Pickup Address for this shipment. We will pick up your shipment at the address shown at left.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                <td><label for="radio1" class="sel">Schedule an {additional} <a href="repl_name" class="helpIconR btnlnkR">UPS On-Call Pickup.</a></label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2"/></td>
                <td><label for="radio2" class="sel">Find a UPS location near you. (Select this option for no pickup) </label></td>
            </tr>
        </tbody>
    </table>
    <div class="secLvl message clearfix">
        <div class="secBody">
            <p>Drop off your package for free at a nearby UPS Access Point&trade; or another UPS location. <br> <a href="repl_href" class="btnlnkR newWindowIconR">Find Locations</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
{{/if}}