
<!--Campus Shipping and Internet Shipping-->
<!-- Package Information - 1 Package-->
{{#if cs_int_1_package}}
<div id="pnl_4_1">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">2</option>
                    <option value="repl_value">3</option>
                    <option value="repl_value">4</option>
                    <option value="repl_value">5</option>
                    <option value="repl_value">6</option>
                    <option value="repl_value">7</option>
                    <option value="repl_value">8</option>
                    <option value="repl_value">9</option>
                    <option value="repl_value">10</option>
                    <option value="repl_value">11</option>																	
                    <option value="repl_value">12</option>
                    <option value="repl_value">13</option>	
                    <option value="repl_value">14</option>
                    <option value="repl_value">15</option>
                    <option value="repl_value">16</option>	
                    <option value="repl_value">17</option>
                    <option value="repl_value">18</option>		
                    <option value="repl_value">19</option>	
                    <option value="repl_value">20</option>																																																																											
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt>
                <span class="label">Does this shipment include <a href="repl_name" class="btnlnkR helpIconR"><strong>batteries?</strong></a></span>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="radio_group_nameA" type="radio" value="" id="radio1"></td>
                            <td><label for="radio1" class="sel">Yes</label></td>
                            <td class="sel" scope="row"><input name="radio_group_nameB" type="radio" value="" id="radio2" checked=""></td>
                            <td><label for="radio2" class="sel">No</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id085" href="repl_href">Use the same values for all packages?</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - 1 Package - Lithium Battery Checkboxes Example-->
{{#if cs_int_lithium_batt}}
<div id="pnl_4_2">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">2</option>
                    <option value="repl_value">3</option>
                    <option value="repl_value">4</option>
                    <option value="repl_value">5</option>
                    <option value="repl_value">6</option>
                    <option value="repl_value">7</option>
                    <option value="repl_value">8</option>
                    <option value="repl_value">9</option>
                    <option value="repl_value">10</option>
                    <option value="repl_value">11</option>																	
                    <option value="repl_value">12</option>
                    <option value="repl_value">13</option>	
                    <option value="repl_value">14</option>
                    <option value="repl_value">15</option>
                    <option value="repl_value">16</option>	
                    <option value="repl_value">17</option>
                    <option value="repl_value">18</option>		
                    <option value="repl_value">19</option>	
                    <option value="repl_value">20</option>																																																																											
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt>
                <span class="label">Does this shipment include <a href="repl_name" class="btnlnkR helpIconR"><strong>batteries?</strong></a></span>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="radio_group_nameC" type="radio" value="" id="radio1" checked/></td>
                            <td><label for="radio1" class="sel">Yes</label></td>
                            <td class="sel" scope="row"><input name="radio_group_nameD" type="radio" value="" id="radio2"/></td>
                            <td><label for="radio2" class="sel">No</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Use the same values for all packages?</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
    <div class="clear"></div>
    <div class="marginBegin subcol8 clearfix indent">
        <p><strong>Check all that apply:</strong></p>
        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel">Lithium Ion (alone)</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
                    <td><label for="chxbox2" class="sel">Lithium Metal (alone)</label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="marginEnd subcol9 clearfix">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel">Lithium Ion in equipment (e.g. laptop, cellphone)</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
                    <td><label for="chxbox2" class="sel">Lithium Metal in equipment</label></td>
                </tr>
            </tbody>
        </table>
        <div class="clear"></div>
        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel">Lithium Ion packed with equipment</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
                    <td><label for="chxbox2" class="sel">Lithium Metal packed with equipment</label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - 2+ Packages - Same Values -->
{{#if cs_int_2_same}}
<div id="pnl_4_3">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <span class="label">Does this shipment include <a href="repl_name" class="btnlnkR helpIconR"><strong>batteries?</strong></a></span>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"/></td>
                            <td><label for="radio1" class="sel">Yes</label></td>
                            <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2" checked/></td>
                            <td><label for="radio2" class="sel">No</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id085" href="repl_href">Use the same values for all packages?</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087">
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
<div class="clear"></div>
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - 2+ Packages - Different Values -->
{{#if cs_int_2_diff}}
<div id="pnl_4_4">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Use the same values for all packages?</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087">
                    <option value="1">No</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
    <!-- Begin Paragraph -->
    <div class="flexFirst clearfix">
        <p>Since you indicated that your packages have different values, you will be able to enter package details on the next page. <strong>Note:</strong> UPS Letters, UPS 10 KG Boxes, and UPS 25 KG Boxes cannot be included in multi-package shipments.</p>
    </div>
    <!-- End Paragraph -->
    <div class="clear"></div>
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - Address List -->
{{#if cs_int_address_list}}
<div id="pnl_4_5">
    <!-- Begin Paragraph -->
    <div class="flexFirst clearfix">
        <p>Note that the same package details you provide will be used for all recipients on your distribution list.</p>
    </div>
    <!-- End Paragraph -->
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3" disabled>
                    <option value="repl_value">1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt>
                <span class="label">Does this shipment include <a href="repl_name" class="btnlnkR helpIconR"><strong>batteries?</strong></a></span>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio1"></td>
                            <td><label for="radio1" class="sel">Yes</label></td>
                            <td class="sel" scope="row"><input name="radio_group_name" type="radio" value="" id="radio2" checked></td>
                            <td><label for="radio2" class="sel">No</label></td>
                        </tr>
                    </tbody>
                </table>
                </dd>
                </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id085" href="repl_href">Use the same values for all packages?</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
<div class="clear"></div>
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - US/PR/CA to non US/PR/CA -->	
{{#if cs_int_us_pr_ca}}
<div id="pnl_4_6">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Description of Goods</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel">Documents of No Commercial Value</label></td>
                </tr>
            </tbody>
        </table>
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <span class="label">Does this shipment include <a href="repl_name" class="btnlnkR helpIconR"><strong>batteries?</strong></a></span>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="radio_group_nameE" type="radio" value="" id="radio1"/></td>
                            <td><label for="radio1" class="sel">Yes</label></td>
                            <td class="sel" scope="row"><input name="radio_group_nameF" type="radio" value="" id="radio2" checked/></td>
                            <td><label for="radio2" class="sel">No</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id085" href="repl_href">Use the same values for all packages?</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - US to PR/CA -->
{{#if cs_int_pr_ca}}	
<div id="pnl_4_7">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Customs Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Description of Goods:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel">Documents of No Commercial Value</label></td>
                </tr>
            </tbody>
        </table>
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <span class="label">Does this shipment include <a href="repl_name" class="btnlnkR helpIconR"><strong>batteries?</strong></a></span>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="radio_group_nameG" type="radio" value="" id="radio1"/></td>
                            <td><label for="radio1" class="sel">Yes</label></td>
                            <td class="sel" scope="row"><input name="radio_group_nameH" type="radio" value="" id="radio2" checked/></td>
                            <td><label for="radio2" class="sel">No</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id085" href="repl_href">Use the same values for all packages?</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}
		
<!-- Package Information - Forward Int'l Origin (non US/PR/CA)(non-pallet) 1 Pkg -->
{{#if cs_int_intl_1}}	
<div id="pnl_4_8">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox">Total Shipment Weight:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> kg
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
            <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Total Dimensional Weight:</label><a href="repl_name">or enter package dimensions</a></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
            <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Total Shipment Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> EUR</dd>
        </dl>
        <div class="flexFirst clearfix">
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
        </div>
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">Large or Unusually Shaped Packages</a></label>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                            <td><label for="chxbox1" class="sel">Large Package</label></td>
                        </tr>
                        <tr>
                            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
                            <td><label for="chxbox2" class="sel">Additional Handling</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol6 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Packages are all the same?</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
</div>
<div class="clear"></div>	
{{/if}}

<!-- Package Information - Forward Int'l Origin (non US/PR/CA)(non-pallet)>1 Pkg -->
{{#if cs_int_intl_2plus}}
<div id="pnl_4_9">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox">Total Shipment Weight:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> kg
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
            <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Total Dimensional Weight:</label><a href="repl_name">or enter package dimensions</a></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
            <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Total Shipment Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> EUR</dd>
        </dl>
        <div class="flexFirst clearfix">
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
        </div>
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">Large or Unusually Shaped Packages</a></label>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                            <td><label for="chxbox1" class="sel">Large Package</label></td>
                        </tr>
                        <tr>
                            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
                            <td><label for="chxbox2" class="sel">Additional Handling</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol6 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Packages are all the same?</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087">
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - DE to US Forward, Shipment Processing -->
{{#if cs_int_us_forward}}
<div id="pnl_4_10">
    <!-- Begin Left Column -->
        <div class="alignBegin">
            <dl role="presentation">
                <dt><label for="txtbox" class="helpIconR btnlnkR">Description of Goods:</label></dt>
                <dd><input type="text" name="repl_name" id="txtbox" class="formcol5">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dl>
            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tbody>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                        <td><label for="chxbox1" class="sel">Documents of No Commercial Value</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox">Total Shipment Weight:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> kg
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
            <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Total Dimensional Weight:</label><a href="repl_name">or enter package dimensions</a></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
            <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Total Shipment Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> EUR</dd>
        </dl>
        <div class="flexFirst clearfix">
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
        </div>
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">Large or Unusually Shaped Packages</a></label>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                            <td><label for="chxbox1" class="sel">Large Package</label></td>
                        </tr>
                        <tr>
                            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
                            <td><label for="chxbox2" class="sel">Additional Handling</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Movement Reference Number:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol6 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Packages are all the same?</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
    <div class="flexFirst clearfix">
    <p><a href="repl_name">Submit an Export Accompanying Document to Request a Movement Reference Number</a></p>
    </div>
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - DE to FR Transborder Forward, Shipment Processing -->
{{#if cs_int_fr_transborder}}
<div id="pnl_4_11">
    <!-- Begin Left Column -->
        <div class="alignBegin">
        <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Description of Goods:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5">
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel">Documents of No Commercial Value</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel btnlnkR helpIconR">Goods not in Free Circulation</label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox">Total Shipment Weight:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> kg
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
            <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Total Dimensional Weight:</label><a href="repl_name">or enter package dimensions</a></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
            <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Total Shipment Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> EUR</dd>
        </dl>
        <div class="flexFirst clearfix">
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
        </div>
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a id="repl_id084" href="repl_href" class="btnlnkR helpIconR">Large or Unusually Shaped Packages</a></label>
            </dt>
            <dd>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                            <td><label for="chxbox1" class="sel">Large Package</label></td>
                        </tr>
                        <tr>
                            <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox2"/></td>
                            <td><label for="chxbox2" class="sel">Additional Handling</label></td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox" class="helpIconR btnlnkR">Movement Reference Number:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol6 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Packages are all the same?</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - DE to FR Forward, Package Processing -->
{{#if cs_int_fr_forward}}
<div id="pnl_4_12">
        <!-- Begin Left Column -->
        <div class="alignBegin">
            <dl role="presentation">
                <dt><label for="txtbox" class="helpIconR btnlnkR">Description of Goods:</label></dt>
                <dd><input type="text" name="repl_name" id="txtbox" class="formcol5">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dl>
            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tbody>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                        <td><label for="chxbox1" class="sel">Documents of No Commercial Value</label></td>
                    </tr>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                        <td><label for="chxbox1" class="sel btnlnkR helpIconR">Goods not in Free Circulation</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="selectbox">Number of Packages:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id081" class="formcol3">
                        <option value="repl_value" selected>1</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </dd>
            </dl>												
        </div>
        <!-- End Left Column --> 
    
        <!-- Begin Right Column -->
        <div class="subcol6 marginEnd">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Packages are all the same?</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id087">
                        <option value="1">No</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Right Column -->
        <!-- Begin Paragraph -->
        <div class="flexFirst clearfix">
            <p>Since you indicated that your packages have  different values, you will be able to enter package details on the next page. <strong>Note:</strong> UPS Letters, UPS 10 KG Boxes, and UPS 25 KG Boxes cannot be included in multi-package shipments.</p>
        </div>
        <!-- End Paragraph -->
</div>
<div class="clear"></div>
{{/if}}

<!-- Dim Weight - Default -->
{{#if cs_int_dim_weight_default}}
<div id="pnl_4_15">
    <div class="flexFirst clearfix">
        <dl role="presentation">
            <dt><label for="txtbox">Total Dimensional Weight:</label><a href="repl_name" class="indent">or enter package dimensions</a></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
{{/if}}

<!-- Dim Weight - Pkg Dimensions -->
{{#if cs_int_dim_weight_dimensions}}
<div id="pnl_4_16">
    <dl class="outHozFlex clearfix" role="presentation">
        <dt>
            <span class="label">Total Dimensional Weight:</span>
        </dt>
        <dd><a href="repl_name">or enter dimensional weight</a></dd>
    </dl>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8" maxlength="4"> X
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> X
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> [cm]
        </dd>
    </dl>													
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Details - Default -->
{{#if cs_int_pkg_default}}
<div id="pnl_4_23">
    <p class="reqTxtInst">{This area blank by default. Package edit fields displayed based on selected package type.}</p>
</div>			
<div class="clear"></div>
{{/if}}

<!-- Package Details - UPS Letter -->
{{#if cs_int_pkg_letter}}
<div id="pnl_4_24">
    <dl role="presentation">
        <dt><label for="txtbox">Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <input type="button" name="repl_name" id="repl_id" class="btn" value="Weigh It"></dd>
    </dl>
    <p>Tenths of a [UOM] allowed for [Letters/Envelopes]</p>
    <dl role="presentation">
        <dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol4"> USD </dd>
    </dl>
    <p><strong>Note:</strong>Additional shipping fees may apply based on declared value.</p>
</div>			
<div class="clear"></div>
{{/if}}

<!-- Package Details - UPS PAK -->
{{#if cs_int_pkg_pak}}
<div id="pnl_4_25">
    <dl role="presentation">
        <dt><label for="txtbox">Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <input type="button" name="repl_name" id="repl_id" class="btn" value="Weigh It"></dd>
    </dl>
    <p><strong>Package Dimenisons:</strong></p>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> in.
        </dd>
    </dl>
    <div class="flexFirst clearfix">	
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol4"> USD </dd>
        </dl>		
        <p><strong>Note:</strong>Additional shipping fees may apply based on declared value.</p>
    </div>
</div>			
<div class="clear"></div>
{{/if}}

<!-- Package Details - UPS Tube -->
{{#if cs_int_pkg_tube}}	
<div id="pnl_4_26">
    <dl role="presentation">
        <dt><label for="txtbox">Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <input type="button" name="repl_name" id="repl_id" class="btn" value="Weigh It"></dd>
    </dl>
    <div class="flexFirst clearfix">
        <p><strong>Package Dimenisons:</strong></p>
    </div>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> in.
        </dd>
    </dl>
    <div class="flexFirst clearfix">	
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol4"> USD </dd>
        </dl>		
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
    </div>
</div>			
<div class="clear"></div>
{{/if}}

<!-- Package Details - UPS Express Box - Small -->
{{#if cs_int_pkg_smallbox}}
<div id="pnl_4_27">
    <dl role="presentation">
        <dt><label for="txtbox">Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <input type="button" name="repl_name" id="repl_id" class="btn" value="Weigh It"></dd>
    </dl>
    <div class="flexFirst clearfix">
        <p><strong>Package Dimenisons:</strong></p>
    </div>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> in.
        </dd>
    </dl>
    <div class="flexFirst clearfix">	
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol4"> USD </dd>
        </dl>		
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
    </div>
</div>			
<div class="clear"></div>
{{/if}}
	
<!-- Package Details - UPS Express Box - Medium -->	
{{#if cs_int_pkg_medbox}}
<div id="pnl_4_28">
    <dl role="presentation">
        <dt><label for="txtbox">Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <input type="button" name="repl_name" id="repl_id" class="btn" value="Weigh It"></dd>
    </dl>
    <div class="flexFirst clearfix">
        <p><strong>Package Dimenisons:</strong></p>
    </div>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> in
        </dd>
    </dl>
    <div class="flexFirst clearfix">	
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol4"> USD </dd>
        </dl>		
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
    </div>
</div>			
<div class="clear"></div>
{{/if}}

<!-- Package Details - UPS Express Box - Large -->
{{#if cs_int_pkg_largebox}}
<div id="pnl_4_29">
    <dl role="presentation">
        <dt><label for="txtbox">Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <input type="button" name="repl_name" id="repl_id" class="btn" value="Weigh It"></dd>
    </dl>
    <div class="flexFirst clearfix">
        <p><strong>Package Dimenisons:</strong></p>
    </div>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> in.
        </dd>
    </dl>
    <div class="flexFirst clearfix">	
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol4"> USD </dd>
        </dl>		
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
    </div>
</div>			
<div class="clear"></div>
{{/if}}

<!-- Package Details - Other Packaging -->
{{#if cs_int_pkg_other}}
<div id="pnl_4_30">
    <dl role="presentation">
        <dt><label for="txtbox">Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5" value="10.0"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <input type="button" name="repl_name" id="repl_id" class="btn" value="Weigh It"></dd>
    </dl>
    <div class="flexFirst clearfix">
        <p><strong>Package Dimenisons:</strong></p>
    </div>
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8" value="12"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" value="12"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" value="6"> in.
        </dd>
    </dl>
    <div class="clear"></div>
    <dl role="presentation" class="flexFirst clearfix">
        <dt>
            <label><a href="repl_name" class="btnlnkR helpIconR">Large or Unusually Shaped Package</a></label>
        </dt>
        <dd>
            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tbody>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chx1"></td>
                        <td><label for="chx1" class="sel">Large Package</label></td>
                    </tr>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chx2"></td>
                        <td><label for="chx2" class="sel">Additional Handling</label></td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </dl>											
    <div class="flexFirst clearfix">	
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Package Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol4" value="25.00"> USD </dd>
        </dl>		
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
    </div>
</div>			
<div class="clear"></div>
{{/if}}

<!-- End of Campus Shipping and Internet Shipping-->

<!-- Campus Shipping Only Module -->
<!-- Package Information - UPS SurePost-->
{{#if cs_surepost}}
<div id="pnl_4_13">
        <!-- Begin Left Column -->
        <div class="subcol10 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="selectbox">Number of Packages:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id081" class="formcol3" disabled>
                        <option value="repl_value">1</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </dd>
            </dl>
            <dl role="presentation" >
                <dt>
                    <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id083" class="formcol5">
                        <option value="repl_value" selected>Other Packaging</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dl>												
        </div>
        <!-- End Left Column --> 
    
        <!-- Begin Right Column -->
        <div class="subcol7 marginEnd">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Use the same values for all packages?</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id087" disabled>
                        <option value="1">Yes</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - WW Express Freight-->
{{#if cs_ww_freight}}
<div id="pnl_4_14">
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="selectbox">Number of Packages:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id081" class="formcol3">
                        <option value="repl_value">1</option>
                        <option value="repl_value">2</option>
                        <option value="repl_value">3</option>
                        <option value="repl_value">4</option>
                        <option value="repl_value">5</option>
                        <option value="repl_value">6</option>
                        <option value="repl_value">7</option>
                        <option value="repl_value">8</option>
                        <option value="repl_value">9</option>
                        <option value="repl_value">10</option>
                        <option value="repl_value">11</option>
                        <option value="repl_value">12</option>
                        <option value="repl_value">13</option>
                        <option value="repl_value">14</option>
                        <option value="repl_value">15</option>
                        <option value="repl_value">16</option>
                        <option value="repl_value">17</option>
                        <option value="repl_value">18</option>
                        <option value="repl_value">19</option>
                        <option value="repl_value">20</option>
                    </select>
                </dd>
            </dl>
            <dl role="presentation" >
                <dt>
                    <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id083" class="formcol5">
                        <option value="repl_value" selected>Pallet</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dl>
            <dl role="presentation">
                <dt><label for="txtbox">Total Shipment Weight:</label></dt>
                <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [lb/kg] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
            </dl>												
        </div>
        <!-- End Left Column --> 
    
        <!-- Begin Right Column -->
        <div class="subcol7 marginEnd">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Use the same values for all packages?</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id087" disabled>
                        <option value="1">Yes</option>
                    </select>
                </dd>
            </dl>
            
            <p>Review the <a href="repl_name" class="btnlnkR newWindowIconR">Raw Wood Guidelines</a> to see if they apply to your pallet.</p>
        </div>
        <!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}

<!-- Dim Weight - Default (2) -->
{{#if cs_dim_default}}
<div id="pnl_4_17">
    <div class="flexFirst clearfix">
        <dl role="presentation">
            <dt><label for="txtbox">Total Dimensional Weight:</label><a href="repl_name" class="indent">or enter package dimensions</a></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
{{/if}}
	
<!-- Dim Weight - Pkg Dimensions (2) -->
{{#if cs_dim_dimensions}}
<div id="pnl_4_18">
    <dl class="outHozFlex clearfix" role="presentation">
        <dt>
            <span class="label">Total Dimensional Weight:</span>
        </dt>
        <dd><a href="repl_name">or enter dimensional weight</a></dd>
    </dl>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8" maxlength="4"> X
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> X
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> [cm]
        </dd>
    </dl>													
</div>
<div class="clear"></div>
{{/if}}

<!-- Dim Weight - Default (3) -->
{{#if cs_dim_default_alt}}
<div id="pnl_4_19">
    <div class="flexFirst clearfix">
        <dl role="presentation">
            <dt><label for="txtbox">Total Dimensional Weight:</label><a href="repl_name" class="indent">or enter package dimensions</a></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
{{/if}}

<!-- Dim Weight - Pkg Dimensions (3) -->
{{#if cs_dim_dimensions_alt}}
<div id="pnl_4_20">
    <dl class="outHozFlex clearfix" role="presentation">
        <dt>
            <span class="label">Total Dimensional Weight:</span>
        </dt>
        <dd><a href="repl_name">or enter dimensional weight</a></dd>
    </dl>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8" maxlength="4"> X
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> X
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> [cm]
        </dd>
    </dl>													
</div>
<div class="clear"></div>
{{/if}}

<!-- Dim Weight - Default (4) -->
{{#if cs_dim_default_alt2}}
<div id="pnl_4_21">
    <div class="flexFirst clearfix">
        <dl role="presentation">
            <dt><label for="txtbox">Total Dimensional Weight:</label><a href="repl_name" class="indent">or enter package dimensions</a></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [kg]</dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
{{/if}}

<!-- Dim Weight - Pkg Dimensions (4) -->
{{#if cs_dim_dimensions_alt2}}
<div id="pnl_4_22">
    <dl class="outHozFlex clearfix" role="presentation">
        <dt>
            <span class="label">Total Dimensional Weight:</span>
        </dt>
        <dd><a href="repl_name">or enter dimensional weight</a></dd>
    </dl>
    <dl role="presentation" class="flexFirst group">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8" maxlength="4"> X
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> X
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter group">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8" maxlength="4"> [cm]
        </dd>
    </dl>													
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Details - Other Packaging - SurePost -->
{{#if cs_other_surepost}}
<div id="pnl_4_31">
    <dl role="presentation">
        <dt><label for="txtbox">Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <input type="button" name="repl_name" id="repl_id" class="btn" value="Weigh It"></dd>
    </dl>
    <div class="flexFirst clearfix">
        <p><strong>Package Dimenisons:</strong></p>
    </div>
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> in.
        </dd>
    </dl>
    <div class="clear"></div>
    <dl role="presentation" class="flexFirst clearfix">
        <dt>
            <label><a href="repl_name" class="btnlnkR helpIconR">Large or Unusually Shaped Package</a></label>
        </dt>
        <dd>
            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tbody>
                    <tr>
                        <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chx1"></td>
                        <td><label for="chx1" class="sel">Non-machineable Packaging</label></td>
                    </tr>
                </tbody>
            </table>
        </dd>
    </dl>											
</div>			
<div class="clear"></div>
{{/if}}

<!-- Package Details - Pallet (WW Express Freight) US  -->
{{#if cs_pallet}}
<div id="pnl_4_32">
    <dl role="presentation">
        <dt><label for="txtbox"> Pallet Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
    </dl>
    <div class="flexFirst clearfix btnlnkR helpIconR">
        <p><strong>Pallet Dimenisons:</strong></p>
    </div>
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> [in.]
        </dd>
    </dl>
    <div class="clear"></div>
    <div class="flexFirst clearfix">
        <p class="reqTxtInst">(For pallets, the value entered for Length must be greater than or equal ot the width value.)</p>	
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Pallet Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [USD] </dd>
        </dl>		
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Number of Pieces on Pallet</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol4"> <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Merchandise Description</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol6"> <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
    </div>						
</div>			
<div class="clear"></div>
{{/if}}
	
<!-- End of Campus Shipping -->

<!-- Begin Internet Shipping Only -->
<!-- Pallet - WW Express Freight-->
{{#if int_pallet}}
<div id="pnl_4_33">
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3">
                    <option value="repl_value" selected>1</option>
                    <option value="repl_value">2</option>
                    <option value="repl_value">3</option>
                    <option value="repl_value">4</option>
                    <option value="repl_value">5</option>
                    <option value="repl_value">6</option>
                    <option value="repl_value">7</option>
                    <option value="repl_value">8</option>
                    <option value="repl_value">9</option>
                    <option value="repl_value">10</option>
                    <option value="repl_value">11</option>
                    <option value="repl_value">12</option>
                    <option value="repl_value">13</option>
                    <option value="repl_value">14</option>
                    <option value="repl_value">15</option>
                    <option value="repl_value">16</option>
                    <option value="repl_value">17</option>
                    <option value="repl_value">18</option>
                    <option value="repl_value">19</option>
                    <option value="repl_value">20</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id082" href="repl_href" class="btnlnkR helpIconR">Packaging Type:</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id083" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation">
            <dt><label for="txtbox">Total Shipment Weight:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [lb/kg]<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" >
            <dt>
                <label for="repl_id"><a id="repl_id085" href="repl_href">Use the same values for all packages?</a></label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id087" disabled>
                    <option value="1">Yes</option>
                </select>
            </dd>
        </dl>
        <p>Review the <a href="repl_name" class="btnlnkR newWindowIconR">Raw Wood Guidelines</a> to see if they apply to your pallet.</p>
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Number of Pieces on All Pallets:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"><img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
    </div>
    <!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}

<!-- Package Information - Ground Freight Pricing -->
{{#if int_ground_freight}}
<div id="pnl_4_34">
    <div class="marginBegin subcol7 clearfix">
        <dl role="presentation">
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3" disabled>
                    <option value="repl_value" selected="">1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
    </div>
    <div class="marginEnd subcol7 clearfix">
        <dl role="presentation">
            <dt>
                <label for="selectbox">Use the same values for all packages?</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3" disabled>
                    <option value="repl_value" selected="">No</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
    </div>
    <div class="flexFirst clearfix">
        <p>Since you indicated that your packages have different values, you will be able to enter package details on the next page. <strong>Note:</strong> UPS Letters, UPS 10 KG Boxes, and UPS 25 KG Boxes cannot be included in multi-package shipments.</p>
    </div>
    <div class="clear"></div>
</div>		
<div class="clear"></div>
{{/if}}

<!-- Package Information - Density-based Rating -->
{{#if int_density}}
<div id="pnl_4_35">
    <div class="marginBegin subcol7 clearfix">
        <dl role="presentation">
            <dt>
                <label for="selectbox">Number of Packages:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3" disabled>
                    <option value="repl_value" selected="">1</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
    </div>
    <div class="marginEnd subcol7 clearfix">
        <dl role="presentation">
            <dt>
                <label for="selectbox">Use the same values for all packages?</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id081" class="formcol3" disabled>
                    <option value="repl_value" selected="">No</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
    </div>
    <div class="flexFirst clearfix">
    <p>This shipment was started as a <a href="repl_href" class="btnlnkR helpIconR">density-based rated</a> freight shipment, please review the handling unit information displayed. To modify unit data, select the <strong>Back to Freight</strong> link.</p>
    <p><strong>Note:</strong> Some shipment detail does not transfer and will need to be re-entered in the freight screen.</p>
    </div>
    <dl role="presentation" class="outHozLedger clearfix">
<dt><strong>Handling Units in this Shipment</strong></dt>
<dd><a href="repl_href">&lt;Back to Freight</a></dd>
</dl>
<div class="clear"></div>
<table border="0" cellpadding="0" cellspacing="0" class="dataTable full">
<thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Number of<br>Handling Units:</th>														
        <th scope="col">Handling Unit Type</th>
        <th scope="col">Length</th>
        <th scope="col">Width</th>
        <th scope="col">Height</th>
    </tr>
</thead>
<tbody>
    <tr class="odd">
        <td scope="row">1</td>
        <td>[00]</td>
        <td>[Hand Unit Type]</td>													
        <td>[00]</td>
        <td>[00]</td>
        <td>[00] [in]</td>
    </tr>
    <tr>
        <td scope="row">2</td>
        <td>[00]</td>
        <td>[Hand Unit Type]</td>																											
        <td>[00]</td>
        <td>[00]</td>
        <td>[00] [in]</td>
    </tr>
    <tr class="odd">
        <td scope="row">3</td>
        <td>[00]</td>
        <td>[Hand Unit Type]</td>													
        <td>[00]</td>
        <td>[00]</td>
        <td>[00] [in]</td>
    </tr>
</tbody>
</table>
<p>(Only your first 3 handling units are displayed)</p>
</div>	
<div class="clear"></div>	
{{/if}}

<!-- Package Details - Pallet - WW Express Freight -->
{{#if int_pkg_pallet}}
<div id="pnl_4_36">
    <dl role="presentation">
        <dt><label for="txtbox"> Pallet Weight:</label></dt>
        <dd><input type="text" name="repl_name" id="txtbox" class="formcol5"> [UOM] <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
    </dl>
    <div class="flexFirst clearfix btnlnkR helpIconR">
        <p><strong>Pallet Dimenisons:</strong></p>
    </div>
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Length:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id041" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>
            <label for="repl_id">Width:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> x
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>
            <label for="repl_id">Height:</label>
        </dt>
        <dd>
            <input name="repl_name" type="text" id="repl_id042" size="8"> [in.]
        </dd>
    </dl>
    <div class="clear"></div>
    <div class="flexFirst clearfix">
        <p class="reqTxtInst">(For pallets, the value entered for Length must be greater than or equal ot the width value.)</p>	
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Pallet Declared Value:</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol3"> [USD] </dd>
        </dl>		
        <p><strong>Note:</strong> Additional shipping fees may apply based on declared value.</p>
        <dl role="presentation">
            <dt><label for="txtbox" class="btnlnkR helpIconR">Number of Pieces on Pallet</label></dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol4" maxlength="5"> <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
    </div>		
    </div>
<div class="clear"></div>
{{/if}}