{{#if default}}
<div id="pnl_12_1">
    <dl role="presentation" >
        <dt>
            <label for="repl_id" class="btnlnkR helpIconR">&gt;&gt;&gt;Promotion Code:</label>
        </dt>
        <dd>
            <input type="text" name="repl_name" id="repl_id" maxlength="20">
            <button name="repl_name" id="repl_id" class="btn">Apply Code</button> 
        </dd>
    </dl>
</div>
{{/if}}
{{#if promo_applied}}
<div id="pnl_12_2">
    <dl role="presentation" >
        <dt>
            <label for="repl_id" class="btnlnkR helpIconR">&gt;&gt;&gt;&gt Promotion Code:</label>
        </dt>
        <dd>
            <input type="text" name="repl_name" id="repl_id" value="SHIPTOUS48" maxlength="20">
            <button name="repl_name" id="repl_id" class="btn">Remove Code</button> 
        </dd>
    </dl>
    <p>Receive 40% off a ground shipment within the continental United States.</p>
    <p><a>Read Promotion Terms and Conditions</a></p>
</div>
{{/if}}
{{#if no_promo}}
<div id="pnl_12_3"> 
    <!-- no promo code --> 
</div>
{{/if}}