
<!-- Campus Shipping -->
<!-- Service Options - Default -->
{{#if cs_default}}
<div id="pnl_5_1">
    <!-- Begin Left Column -->
    <dl role="presentation" class="flexFirstPad clearfix">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Service:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="btnlnkR newwindowIconR indent">Compare Time and Cost</a></dd>
    </dl>
    <div class="clear"> </div>
    <!-- End Left Column -->
    
    <!-- Begin Checklist -->
    <dl role="presentation" class="outHozLedger clearfix group">
        <dt> <span class="sel">Do you need <a id="repl_id0115"class="btnlnkR helpIconR" href="repl_href">additional services?</a></span> </dt>
        <dd>
            <label for="repl_id">Fee?</label>
        </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id17">
            <label id="repl_id18" class="sel" for="repl_id17">Send E-mail Notifications</label>
        </dt>
        <dd id="repl_id19">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label for="repl_id" class="sel">UPS Premium Care&#8482;</label>
        </dt>
        <dd id="repl_id">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Receive Confirmation of Delivery</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">Deliver Without Signature</label>
        </dt>
        <dd id="repl_id">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id23">
            <label id="repl_id24" class="sel" for="repl_id23">Saturday Delivery</label>
        </dt>
        <dd id="repl_id25">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id26">
            <label id="repl_id27" class="sel" for="repl_id26">C.O.D.</label>
        </dt>
        <dd id="repl_id28">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id29">
            <label id="repl_id30" class="sel" for="repl_id29">Special Commodities</label>
        </dt>
        <dd id="repl_id31">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id32">
            <label id="repl_id33" class="sel" for="repl_id32">Dry Ice</label>
        </dt>
        <dd id="repl_id34">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id35">
            <label id="repl_id36" class="sel" for="repl_id35">UPS Proactive ResponseSM</label>
        </dt>
        <dd id="repl_id36b">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id37">
            <label id="repl_id38" class="sel" for="repl_id37">Offset the climate impact of this shipment (UPS carbon neutral link)</label>
        </dt>
        <dd id="repl_id39">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id40">
            <label id="repl_id41" class="sel" for="repl_id40">Offset the climate impact of this shipment (ups carbon neutral link)</label>
        </dt>
        <dd id="repl_id0116">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">UPS Returns &reg; Exchange</label>
        </dt>
        <dd id="repl_id46">Yes</dd>
    </dl>
    <!-- End Checklist -->
    <!-- Begin Paragraph-->
    <p id="repl_id0117">Some services may require extra information. You will be able to enter the required information on the next page.</p>
    <!-- End Paragraph-->
</div>
<div class="clear"></div>
{{/if}}

<!-- Service Options - SurePost -->
{{#if cs_surepost}}
<div id="pnl_5_2">
    <!-- Begin 1st Row -->
    <div class="alignBegin">
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href">Service:</a></label>
            </dt>
            <dd>
                <select id="repl_id" class="formcol5">
                    <option>UPS SurePost Select</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="btnlnkR newwindowIconR indent">Compare Time and Cost</a></dd>
        </dl>
    </div>
    <!-- End 1st Row -->
    <!-- Begin 2nd Row -->
    <div class="marginBegin subcol7 clearfix">
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">USPS Endorsements:</a></label>
            </dt>
            <dd>
                <select id="repl_id" class="formcol6">
                    <option>Carrier - Leave if No Response</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
        </dl>
    </div>
    <div class="marginEnd subcol7 clearfix">
        <dl role="presentation" class="flexAfterPad clearfix">
            <dt>
                <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Sub-classification:</a></label>
            </dt>
            <dd>
                <select id="repl_id" class="formcol5">
                    <option>Machineable</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"></dd>
        </dl>
    </div>
    
    <div class="clear"> </div>
    <!-- End 2nd Row -->
    
    <!-- Begin Checklist  -->
    <dl role="presentation" class="outHozLedger clearfix group">
        <dt> <span class="sel">Do you need <a id="repl_id0115"class="btnlnkR helpIconR" href="repl_href">additional services?</a></span> </dt>
        <dd>
            <label for="repl_id">Fee?</label>
        </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id17">
            <label id="repl_id18" class="sel" for="repl_id17">Send E-mail Notifications</label>
        </dt>
        <dd id="repl_id19">Free</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label for="repl_id" class="sel">Offset the climate impact of this shipment (UPS carbon neutral)</label>
        </dt>
        <dd id="repl_id">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Non-machineable Packaging</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
    </dl>
    <!-- End Checklist -->
    <!-- Begin Paragraph-->
    <p id="repl_id0117">Some services may require extra information. You will be able to enter the required information on the next page.</p>

</div>
<div class="clear"></div>
{{/if}}

<!-- Service Options - WW Express Freight -->
{{#if cs_ww_freight}}
<div id="pnl_5_3">
    <!-- Begin 1st Row -->
    <div class="alignBegin">
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href">Service:</a></label>
            </dt>
            <dd>
                <select id="repl_id" class="formcol6">
                    <option>UPS Worldwide Express Freight</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="btnlnkR newwindowIconR indent">Compare Time and Cost</a></dd>
        </dl>
    </div>
    <!-- End 1st Row -->
    <!-- Begin Checklist  -->
    <dl role="presentation" class="outHozLedger clearfix group">
        <dt> <span class="sel">Do you need <a id="repl_id0115"class="btnlnkR helpIconR" href="repl_href">additional services?</a></span> </dt>
        <dd>
            <label for="repl_id">Fee?</label>
        </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id17">
            <label id="repl_id18" class="sel" for="repl_id17">Send E-mail Notifications</label>
        </dt>
        <dd id="repl_id19">Free</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Deliver on Saturday</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Special Commodities</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Dry Ice</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">UPS Proactive Response SM</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label for="repl_id" class="sel">Offset the climate impact of this shipment (UPS carbon neutral)</label>
        </dt>
        <dd id="repl_id">Yes</dd>
    </dl>
    <!-- End Checklist -->
    <!-- Begin Paragraph-->
    <p id="repl_id0117">Some services may require extra information. You will be able to enter the required information on the next page.</p>
    <div class="clear"></div>	

</div>
<div class="clear"></div>
{{/if}}

<!-- Service Options - SDL or EEI -->
{{#if cs_sdl_eei}}
<div id="pnl_5_4">
    <!-- Begin Left Column -->
    <dl role="presentation" class="flexFirstPad clearfix">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Service:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="btnlnkR newwindowIconR indent">Compare Time and Cost</a></dd>
    </dl>
    <div class="clear"> </div>
    <!-- End Left Column -->
    
    <!-- Begin Checklist -->
    <dl role="presentation" class="outHozLedger clearfix group">
        <dt> <span class="sel">Do you need <a id="repl_id0115"class="btnlnkR helpIconR" href="repl_href">additional services link?</a></span> </dt>
        <dd>
            <label for="repl_id">Fee?</label>
        </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id17">
            <label id="repl_id18" class="sel" for="repl_id17">Send E-mail Notifications</label>
        </dt>
        <dd id="repl_id19">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label for="repl_id" class="sel">UPS Premium Care&#8482;</label>
        </dt>
        <dd id="repl_id">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Receive Confirmation of Delivery</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">Deliver Without Signature</label>
        </dt>
        <dd id="repl_id">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id23">
            <label id="repl_id24" class="sel" for="repl_id23">Saturday Delivery</label>
        </dt>
        <dd id="repl_id25">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id26">
            <label id="repl_id27" class="sel" for="repl_id26">C.O.D.</label>
        </dt>
        <dd id="repl_id28">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id29">
            <label id="repl_id30" class="sel" for="repl_id29">Special Commodities</label>
        </dt>
        <dd id="repl_id31">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id32">
            <label id="repl_id33" class="sel" for="repl_id32">Dry Ice</label>
        </dt>
        <dd id="repl_id34">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id35">
            <label id="repl_id36" class="sel" for="repl_id35">UPS Proactive ResponseSM</label>
        </dt>
        <dd id="repl_id36b">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id37">
            <label id="repl_id38" class="sel" for="repl_id37">Offset the climate impact of this shipment (UPS carbon neutral link)</label>
        </dt>
        <dd id="repl_id39">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">UPS Returns &reg; Exchange</label>
        </dt>
        <dd id="repl_id46">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">Designate shipment for State Department License Filing</label>
        </dt>
        <dd id="repl_id46">{Yes/Free}</dd>
    </dl>
    <!-- End Checklist -->
    <!-- Begin Paragraph-->
    <p id="repl_id0117">Some services may require extra information. You will be able to enter the required information on the next page.</p>
    <!-- End Paragraph-->
</div>
<div class="clear"></div>
{{/if}}

<!--Internet Shipping -->
<!--Service Selections - Default -->
{{#if int_default}}
<div id="pnl_5_5">
    <!-- Begin Left Column -->
    <dl role="presentation" class="flexFirstPad clearfix">
        <dt>
            <label for="repl_id"><a href="repl_href" class="btnlnkR helpIconR">Service:</a></label>
        </dt>
        <dd>
            <select id="repl_id" class="formcol5">
                <option>Select One</option>
            </select>
            <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="btnlnkR newwindowIconR indent">Compare Time and Cost</a></dd>
    </dl>
    <div class="clear"> </div>
    <!-- End Left Column -->
    
    <!-- Begin Checklist -->
    <dl role="presentation" class="outHozLedger clearfix group">
        <dt> <span class="sel">Do you need <a id="repl_id0115"class="btnlnkR helpIconR" href="repl_href">additional services?</a></span> </dt>
        <dd>
            <label for="repl_id">Fee?</label>
        </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id17">
            <label id="repl_id18" class="sel" for="repl_id17">Send E-mail Notifications</label>
        </dt>
        <dd id="repl_id19">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label for="repl_id" class="sel">Chain of Custody</label>
        </dt>
        <dd id="repl_id">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Receive Confirmation of Delivery</label>
        </dt>
        <dd id="repl_id22">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">Deliver Without Signature</label>
        </dt>
        <dd id="repl_id">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id23">
            <label id="repl_id24" class="sel" for="repl_id23">Saturday Delivery</label>
        </dt>
        <dd id="repl_id25">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id26">
            <label id="repl_id27" class="sel" for="repl_id26">C.O.D.</label>
        </dt>
        <dd id="repl_id28">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id37" checked>
            <label id="repl_id38" class="sel" for="repl_id37">Offset the climate impact of this shipment (UPS carbon neutral link)</label>
        </dt>
        <dd id="repl_id39">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">UPS Returns &reg; Exchange</label>
        </dt>
        <dd id="repl_id46">{Yes/Free}</dd>
    </dl>
    <!-- End Checklist -->
    <!-- Begin Paragraph-->
    <p id="repl_id0117">Some services may require extra information. You will be able to enter the required information on the next page.</p>
    <!-- End Paragraph-->
</div>
<div class="clear"></div>	
{{/if}}

<!-- Service Options - WW Express Freight -->
{{#if int_ww_freight}}
<div id="pnl_5_6">
    <!-- Begin 1st Row -->
    <div class="alignBegin">
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href">Service:</a></label>
            </dt>
            <dd>
                <select id="repl_id" class="formcol7">
                    <option>UPS Worldwide Express Freight</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="btnlnkR newwindowIconR indent">Compare Time and Cost</a></dd>
        </dl>
    </div>
    <!-- End 1st Row -->
    <!-- Begin 2nd Row -->
    <div class="alignBegin">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel">Shipment contains dangerous goods</label> <a href="repl_href" class="btnlnkR newwindowIconR indent">What's This?</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Begin Checklist  -->
    <dl role="presentation" class="outHozLedger clearfix group">
        <dt> <span class="sel">Do you need <a id="repl_id0115"class="btnlnkR helpIconR" href="repl_href">additional services?</a></span> </dt>
        <dd>
            <label for="repl_id">Fee?</label>
        </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id17">
            <label id="repl_id18" class="sel" for="repl_id17">Send E-mail Notifications</label>
        </dt>
        <dd id="repl_id19">Free</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Receive Confirmation of Delivery</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Deliver on Saturday</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Offset the climate impact of this shipment (<a href="repl_name" class="helpIconR btnlnkR">UPS carbon neutral</a>)</label>
        </dt>
        <dd id="repl_id22">Yes</dd>
    </dl>
    <!-- End Checklist -->
    <!-- Begin Paragraph-->
    <p id="repl_id0117">Some services may require extra information. You will be able to enter the required information on the next page.</p>
    <div class="clear"></div>	

</div>
<div class="clear"></div>
{{/if}}

<!-- Service Options - EEI - SDL Filing -->
{{#if int_eei_sdl}}
<div id="pnl_5_7">
    <!-- Begin 1st Row -->
    <div class="alignBegin">
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href">Service:</a></label>
            </dt>
            <dd>
                <select id="repl_id" class="formcol7">
                    <option>Select One</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="btnlnkR newwindowIconR indent">Compare Time and Cost</a></dd>
        </dl>
    </div>
    <!-- End 1st Row -->
    <!-- Begin Checklist  -->
    <dl role="presentation" class="outHozLedger clearfix group">
        <dt> <span class="sel">Do you need <a id="repl_id0115"class="btnlnkR helpIconR" href="repl_href">additional services?</a></span> </dt>
        <dd>
            <label for="repl_id">Fee?</label>
        </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id17">
            <label id="repl_id18" class="sel" for="repl_id17">Send E-mail Notifications</label>
        </dt>
        <dd id="repl_id19">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label for="repl_id" class="sel">Chain of Custody</label>
        </dt>
        <dd id="repl_id">&nbsp; </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Receive Confirmation of Delivery</label>
        </dt>
        <dd id="repl_id22">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">Deliver Without Signature</label>
        </dt>
        <dd id="repl_id">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id23">
            <label id="repl_id24" class="sel" for="repl_id23">Saturday Delivery</label>
        </dt>
        <dd id="repl_id25">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id26">
            <label id="repl_id27" class="sel" for="repl_id26">C.O.D.</label>
        </dt>
        <dd id="repl_id28">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id37" checked>
            <label id="repl_id38" class="sel" for="repl_id37">Offset the climate impact of this shipment (UPS carbon neutral link)</label>
        </dt>
        <dd id="repl_id39">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">UPS Returns &reg; Exchange</label>
        </dt>
        <dd id="repl_id46">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id26">
            <label id="repl_id27" class="sel" for="repl_id26">Designate shipment for StateDepartment License Filing</label>
        </dt>
        <dd id="repl_id28">{Yes/Free}</dd>
    </dl>
    <!-- End Checklist -->
    <!-- Begin Paragraph-->
    <p id="repl_id0117">Some services may require extra information. You will be able to enter the required information on the next page.</p>
    <div class="clear"></div>	

</div>
<div class="clear"></div>
{{/if}}

<!-- Service Options - Ground Freight Pricing -->
{{#if int_ground_freight}}
<div id="pnl_5_8">
    <!-- Begin 1st Row -->
    <div class="alignBegin">
        <dl role="presentation">
            <dt>
                <label for="repl_id"><a href="repl_href">Service:</a></label>
            </dt>
            <dd>
                <select id="repl_id" class="formcol7">
                    <option>UPS Ground with Freight Pricing</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon"> <a href="repl_href" class="btnlnkR newwindowIconR indent">Compare Time and Cost</a></dd>
        </dl>
    </div>
    <!-- End 1st Row -->
    <!-- Begin Checklist  -->
    <dl role="presentation" class="outHozLedger clearfix group">
        <dt> <span class="sel">Do you need <a id="repl_id0115"class="btnlnkR helpIconR" href="repl_href">additional services?</a></span> </dt>
        <dd>
            <label for="repl_id">Fee?</label>
        </dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id17">
            <label id="repl_id18" class="sel" for="repl_id17">Send E-mail Notifications</label>
        </dt>
        <dd id="repl_id19">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label for="repl_id" class="sel">UPS Premium Care&#8482;</label>
        </dt>
        <dd id="repl_id">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id20">
            <label id="repl_id21" class="sel" for="repl_id20">Receive Confirmation of Delivery</label>
        </dt>
        <dd id="repl_id22">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id">
            <label id="repl_id" class="sel" for="repl_id">Deliver Without Signature</label>
        </dt>
        <dd id="repl_id">{Yes/Free}</dd>												
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id26">
            <label id="repl_id27" class="sel" for="repl_id26">C.O.D.</label>
        </dt>
        <dd id="repl_id28">{Yes/Free}</dd>
        <dt>
            <input name="repl_name" type="checkbox" value="" id="repl_id37" checked>
            <label id="repl_id38" class="sel" for="repl_id37">Offset the climate impact of this shipment (UPS carbon neutral link)</label>
        </dt>
        <dd id="repl_id39">{Yes/Free}</dd>
    </dl>
    <!-- End Checklist -->
    <!-- Begin Paragraph-->
    <p id="repl_id0117">Some services may require extra information. You will be able to enter the required information on the next page.</p>
    <div class="clear"></div>	

</div>
<div class="clear"></div>
{{/if}}