
<!-- Campus Shipping -->
<!-- Return Address - Enter a Different Return Address - Traveling User -->
{{#if cs_ret_addr_traveling}}
<div id="pnl_3_1">
        <div class="flexFirst clearfix">
            <p><strong>Enter a Different Return Address</strong></p>
        </div>
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">Address Book:</label>
            </dt>
            <dd> 
                <div class="combobox" id="repl_id020"> 
                    <select name="repl_name" id="selectbox" class="formcol5">
                        <option value="repl_value" selected>Select One</option>
                        <option value="repl_value">Option 2 which is much longer than Option 1</option>
                    </select>
                </div>
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter">
            <dt>&nbsp; </dt>
            <dd>--- or enter a new address below ---</dd>
        </dl>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id028" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <select name="repl_name" size="1" id="repl_id030">
                        <option value="None" selected>United States</option>
                        <option value="None">Add Another Country or Territory In This Spot</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id031" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id032" size="32">
                    <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id033" size="32">
                    <div class="reqTxtInst"> Department, c/o, etc.</div>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt> <strong>
                    <label for="repl_id">City:</label>
                    </strong> </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id034" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
                <dt>
                    <label for="repl_id">State:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id039">
                        <option value="" selected>Select One</option>
                        <option value="">Add Another State In This Spaces</option>
                    </select>
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                    <dt> <strong>
                    <label for="repl_id">Zip Code:</label>
                    </strong> </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id034" size="32">
                    <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            </dl>
            <dl role="presentation" class="flexFirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" size="20">
                </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" size="32">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>																
            </table>
        </div>
        <!-- End Right Column -->
        
        <div class="clear"> </div>
        <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
        
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save this to my Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save to Corporate Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
        </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- Return Address - Enter a Different Return Address - Non-Traveling User -->
{{#if cs_ret_addr_nontraveling }}
<div id="pnl_3_2">
        <div class="flexFirst clearfix">
            <p><strong>Enter a Different Return Address</strong></p>
        </div>
        <div class="clear"></div>
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id028">Company or Name:</label>
                </dt>
                <dd>
                    <p>{Company or Name}</p>
                </dd>
                <dt>
                    <label for="repl_id029">Contact:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id029" value="{Contact}" size="32">
                </dd>
                <dt>
                    <label for="repl_id030">Country or Territory:</label>
                </dt>
                <dd>
                    <p>{Country or Territory}</p>
                </dd>
                <dt>
                    <label for="repl_id031">Address Line 1:</label>
                </dt>
                <dd>
                    <p>{Address Line 1}</p>

                </dd>
                <dt>
                    <label for="repl_id032">Address Line 2:</label>
                </dt>
                <dd>
                    <p>{Address Line 2}</p>
                </dd>
                <dt>
                    <label for="repl_id033">Address Line 3:</label>
                </dt>
                <dd>
                    <p>{Address Line 3}</p>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol9 marginEnd">
            <dl role="presentation" class="group">
                <dt> <strong>
                    <label for="repl_id">City:</label>
                    </strong> </dt>
                <dd>
                <p>{City}</p>
                </dd>
                <dt>
                    <label for="repl_id">State:</label>
                </dt>
                <dd>
                <p>{State}</p>
                </dd>
                <dt>
                    <label for="repl_id">Zip Code:</label>
                </dt>
                <dd>
                <p>{Zip Code}</p>
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst group">
                <dt>
                    <label for="repl_id">Telephone:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id041" value="{Telephone}" size="32">
                </dd>
            </dl>
            <dl role="presentation" class="flexAfter group">
                <dt>
                    <label for="repl_id">Ext.:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id042" value="{Ext.}" size="8">
                </dd>
            </dl>
            <dl role="presentation" class="flexFirst">
                <dt>
                    <label for="repl_id">E-mail:</label>
                </dt>
                <dd>
                    <input name="repl_name" type="text" id="repl_id043" value="{E-mail}" size="32">
                </dd>
            </dl>
            <table summary="repl_summary" title="repl_title" class="flexFirst">
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                    <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
                </tr>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                    <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
                </tr>																
            </table>
        </div>
        <!-- End Right Column -->
        
        <div class="clear"> </div>
        <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
        
        <!-- Begin Left Column -->
        <div class="subcol9 marginBegin">
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
            <dl role="presentation" >
                <dt>
                    <label for="repl_id">Save Options for Address:</label>
                </dt>
                <dd>
                    <select name="repl_name" id="repl_id044">
                        <option value="" selected>Select One</option>
                        <option value="">You can select another option here</option>
                        <option value="">update entry</option>
                    </select>
                </dd>
            </dl>
        </div>
        <!-- End Left Column --> 
        
        <!-- Begin Right Column -->
        <div class="subcol8 marginEnd">
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save this to my Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
            <dl role="presentation">
                <dt>
                    <label for="repl_id">Save to Corporate Address Book as:</label>
                </dt>
                <dd>
                    <input type="text" name="repl_name" id="repl_id045" class="formcol5">
                </dd>
            </dl>
        </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- Internet Shipping -->
{{#if int_default}}
<!-- Ship From - Default -->
<div id="pnl_3_3"> 
<!-- Begin Left Column -->
<div class="subcol9 marginBegin">
    <dl role="presentation" >
        <dt>
            <label for="repl_id">Ship From Address:</label>
            <a id="repl_id049" href="repl_href">Edit</a> </dt>
        <dd id="repl_id050">Production Test <br>
            CIM Group QV Company<br>
            640 Winters Ave <br>
            PARAMUS, NJ 07652 <br>
            Telephone: 555-283-3107 </dd>
    </dl>
</div>
<!-- End Left Column --> 

<!-- Begin Right Column -->
<div class="subcol9 marginEnd">
    <p id="repl_id051"> If the shipment is undeliverable, return to: </p>
    <dl role="presentation" >
        <dt>
            <label for="repl_id">Contact:</label>
        </dt>
        <dd>
            <input type="text" id="repl_id054" value="Production Test" class="formcol6">
        </dd>
        <dt>
            <label for="repl_id">Return Address:</label>
        </dt>
        <dd>
            <select name="repl_name" id="repl_id055" class="formcol7">
                <option value="" selected>Same As [Ship From]</option>
            </select>
        </dd>
    </dl>
</div>
<!-- End Right Column -->
<div class="clear"> </div>
</div>
<div class="clear"></div>
{{/if}}


<!--Ship From - Enter Different Return Address-->
{{#if int_diff_addr}}
<div id="pnl_3_4"> 
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Ship From Address:</label>
                <a id="repl_id049" href="repl_href">Edit</a> </dt>
            <dd id="repl_id050">Production Test <br>
                CIM Group QV Company<br>
                640 Winters Ave <br>
                PARAMUS, NJ 07652 <br>
                Telephone: 555-283-3107 </dd>
        </dl>
    </div>
    <!-- End Left Column --> 

    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <p id="repl_id051"> If the shipment is undeliverable, return to: </p>
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Contact:</label>
            </dt>
            <dd>
                <input type="text" id="repl_id054" value="Production Test" class="formcol6">
            </dd>
            <dt>
                <label for="repl_id">Return Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id055" class="formcol7">
                    <option value="" selected>Enter Different [Return] Address</option>
                </select>
            </dd>
        </dl>
    </div>
    <div class="clear"></div>
    <!-- End Right Column -->
    <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
    <div class="clear"></div>
    <div class="flexFirst clearfix">
        <p><strong>Enter a Different Return Address</strong></p>
    </div>
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Address Book:</label>
        </dt>
        <dd> 
            <div class="combobox" id="repl_id020"> 
                <select name="repl_name" id="selectbox" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </div>
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>&nbsp; </dt>
        <dd>--- or enter a new address below ---</dd>
    </dl>
    <div class="clear"> </div>
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id028">Company or Name:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id028" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id029">Contact:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id029" size="32">
            </dd>
            <dt>
                <label for="repl_id030">Country or Territory:</label>
            </dt>
            <dd>
                <select name="repl_name" size="1" id="repl_id030">
                    <option value="None" selected>United States</option>
                    <option value="None">Add Another Country or Territory In This Spot</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
            </dd>
            <dt>
                <label for="repl_id031">Address Line 1:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id031" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id032">Address Line 2:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id032" size="32">
                <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
            </dd>
            <dt>
                <label for="repl_id033">Address Line 3:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id033" size="32">
                <div class="reqTxtInst"> Department, c/o, etc.</div>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" class="group">
            <dt> <strong>
                <label for="repl_id">City:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id">State:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id039">
                    <option value="" selected>Select One</option>
                    <option value="">Add Another State In This Spaces</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
        </dl>
        <dl role="presentation" class="flexFirst group">
            <dt>
                <label for="repl_id">Telephone:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id041" size="32">
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter group">
            <dt>
                <label for="repl_id">Ext.:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id042" size="8">
            </dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">E-mail:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id043" size="32">
            </dd>
        </dl>
        <table summary="repl_summary" title="repl_title" class="flexFirst">
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id1"></td>
                <td><label id="repl_id2" for="repl_id1" class="sel">Validate this street address</label></td>
            </tr>
            <tr>
                <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="repl_id3"></td>
                <td><label id="repl_id4" for="repl_id3" class="sel">Residential address</label></td>
            </tr>																
        </table>
    </div>
    <!-- End Right Column -->
    
    <div class="clear"> </div>
    <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
    
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Save Options for Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id044">
                    <option value="" selected>Select One</option>
                    <option value="">You can select another option here</option>
                    <option value="">update entry</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol8 marginEnd">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Save this to my Address Book as:</label>
            </dt>
            <dd>
                <input type="text" name="repl_name" id="repl_id045" class="formcol5">
            </dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!--Ship From - Different Stored-->
{{#if int_different}}
<div id="pnl_3_5"> 
<!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Ship From Address:</label>
                <a id="repl_id049" href="repl_href">Edit</a> </dt>
            <dd id="repl_id050">Production Test <br>
                CIM Group QV Company<br>
                640 Winters Ave <br>
                PARAMUS, NJ 07652 <br>
                Telephone: 555-283-3107 </dd>
        </dl>
    </div>
<!-- End Left Column --> 

<!-- Begin Right Column -->
<div class="subcol9 marginEnd">
    <p id="repl_id051"> If the shipment is undeliverable, return to: </p>
    <dl role="presentation" >
        <dt>
            <label for="repl_id">Return Address:</label>
            <a id="repl_id049" href="repl_href">Edit</a> </dt>
        <dd id="repl_id050">Different Address from Profile <br>
            Company Name<br>
            123 Address <br>
            City, State 12345 <br>
            Telephone: 555-283-3107 </dd>
    </dl>
</div>
<!-- End Right Column -->
</div>
<div class="clear"></div>
{{/if}}


<!-- Ship From - No Profile Address (1st Address Input)-->
{{#if int_no_profile_show_1st}}
<div id="pnl_3_6"> 
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Address Book:</label>
        </dt>
        <dd> 
            
            <!-- combo box -->
            <div class="combobox" id="repl_id020"> 
                
                <!--/////////////////////////////////////////////////////// --> 
                <!-- combo box code javascript solution can be found on ICDev at --> 
                <!-- http://icdev.ups.com/app_ent/widgets/jul12/combobox.html    --> 
                <!-- /////////////////////////////////////////////////////////// -->
                
                <select name="repl_name" id="selectbox" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </div>
            <!-- END combo box --> 
            
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
<dt>&nbsp; </dt>
<dd>--- or enter a new address below ---</dd>
</dl>
    <div class="clear"></div>
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id028">Company or Name:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id028" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id029">Contact:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id029" size="32">
            </dd>
            <dt>
                <label for="repl_id030">Country or Territory:</label>
            </dt>
            <dd>
                <select name="repl_name" size="1" id="repl_id030">
                    <option value="None" selected>United States</option>
                    <option value="None">Add Another Country or Territory In This Spot</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
            </dd>
            <dt>
                <label for="repl_id031">Address Line 1:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id031" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id032">Address Line 2:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id032" size="32">
                <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
            </dd>
            <dt>
                <label for="repl_id033">Address Line 3:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id033" size="32">
                <div class="reqTxtInst"> Department, c/o, etc.</div>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" class="group">
            <dt> <strong>
                <label for="repl_id">City:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id">State:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id039">
                    <option value="" selected>Select One</option>
                    <option value="">Add Another State In This Spaces</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt> <strong>
                <label for="repl_id">Zip Code:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
        </dl>
        <dl role="presentation" class="flexFirst group">
            <dt>
                <label for="repl_id">Telephone:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id041" size="32">
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter group">
            <dt>
                <label for="repl_id">Ext.:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id042" size="8">
            </dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">E-mail:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id043" size="32">
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
    
    <div class="clear"> </div>
    <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
    
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Save Options for Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id044">
                    <option value="" selected>Select One</option>
                    <option value="">You can select another option here</option>
                    <option value="">update entry</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="rep_id" class="sel">If the shipment is undeliverable, return to:</label>
                <br>															
                <label for="repl_id">Contact:</label>
            </dt>
            <dd><input type="text" name="repl_name" id="txtbox" value="Production Test" class="formcol5"></dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol8 marginEnd">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Save this to my Address Book as:</label>
            </dt>
            <dd>
                <input type="text" name="repl_name" id="repl_id045" class="formcol5">
            </dd>
        </dl>
        <dl role="presentation">
            <dt>
                <label for="repl_id">Return Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="selectbox" class="formcol5">
                    <option value="repl_value" selected>Same as [Ship From]</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- Ship From - No Profile (Both Address Input)-->
{{#if int_no_profile_both}}
<div id="pnl_3_7"> 
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Address Book:</label>
        </dt>
        <dd> 
            
            <!-- combo box -->
            <div class="combobox" id="repl_id020"> 
                
                <!--/////////////////////////////////////////////////////// --> 
                <!-- combo box code javascript solution can be found on ICDev at --> 
                <!-- http://icdev.ups.com/app_ent/widgets/jul12/combobox.html    --> 
                <!-- /////////////////////////////////////////////////////////// -->
                
                <select name="repl_name" id="selectbox" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </div>
            <!-- END combo box --> 
            
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
<dt>&nbsp; </dt>
<dd>--- or enter a new address below ---</dd>
</dl>
    <div class="clear"></div>
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id028">Company or Name:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id028" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id029">Contact:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id029" size="32">
            </dd>
            <dt>
                <label for="repl_id030">Country or Territory:</label>
            </dt>
            <dd>
                <select name="repl_name" size="1" id="repl_id030">
                    <option value="None" selected>United States</option>
                    <option value="None">Add Another Country or Territory In This Spot</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
            </dd>
            <dt>
                <label for="repl_id031">Address Line 1:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id031" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id032">Address Line 2:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id032" size="32">
                <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
            </dd>
            <dt>
                <label for="repl_id033">Address Line 3:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id033" size="32">
                <div class="reqTxtInst"> Department, c/o, etc.</div>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" class="group">
            <dt> <strong>
                <label for="repl_id">City:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id">State:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id039">
                    <option value="" selected>Select One</option>
                    <option value="">Add Another State In This Spaces</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt> <strong>
                <label for="repl_id">Zip Code:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
        </dl>
        <dl role="presentation" class="flexFirst group">
            <dt>
                <label for="repl_id">Telephone:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id041" size="32">
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter group">
            <dt>
                <label for="repl_id">Ext.:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id042" size="8">
            </dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">E-mail:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id043" size="32">
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
    
    <div class="clear"> </div>
    <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
    
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Save Options for Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id044">
                    <option value="" selected>Select One</option>
                    <option value="">You can select another option here</option>
                    <option value="">update entry</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol8 marginEnd">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Save this to my Address Book as:</label>
            </dt>
            <dd>
                <input type="text" name="repl_name" id="repl_id045" class="formcol5">
            </dd>
        </dl>
    </div>
    <div class="clear"> </div>
    <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
    <!--Second Address Section -->
    <div class="flexFirst group clearfix">
        <p><strong>Enter a Different Return Address</strong></p>
        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tbody>
                <tr>
                    <td class="sel" scope="row"><input name="repl_name" type="checkbox" value="" id="chxbox1"/></td>
                    <td><label for="chxbox1" class="sel">Use the Ship From address as the Return Address</label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Address Book:</label>
        </dt>
        <dd> 
            
            <!-- combo box -->
            <div class="combobox" id="repl_id020"> 
                
                <!--/////////////////////////////////////////////////////// --> 
                <!-- combo box code javascript solution can be found on ICDev at --> 
                <!-- http://icdev.ups.com/app_ent/widgets/jul12/combobox.html    --> 
                <!-- /////////////////////////////////////////////////////////// -->
                
                <select name="repl_name" id="selectbox" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </div>
            <!-- END combo box --> 
            
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
<dt>&nbsp; </dt>
<dd>--- or enter a new address below ---</dd>
</dl>
    <div class="clear"></div>
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id028">Company or Name:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id028" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id029">Contact:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id029" size="32">
            </dd>
            <dt>
                <label for="repl_id030">Country or Territory:</label>
            </dt>
            <dd>
                <select name="repl_name" size="1" id="repl_id030">
                    <option value="None" selected>United States</option>
                    <option value="None">Add Another Country or Territory In This Spot</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
            </dd>
            <dt>
                <label for="repl_id031">Address Line 1:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id031" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id032">Address Line 2:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id032" size="32">
                <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
            </dd>
            <dt>
                <label for="repl_id033">Address Line 3:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id033" size="32">
                <div class="reqTxtInst"> Department, c/o, etc.</div>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" class="group">
            <dt> <strong>
                <label for="repl_id">City:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id">State:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id039">
                    <option value="" selected>Select One</option>
                    <option value="">Add Another State In This Spaces</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt> <strong>
                <label for="repl_id">Zip Code:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
        </dl>
        <dl role="presentation" class="flexFirst group">
            <dt>
                <label for="repl_id">Telephone:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id041" size="32">
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter group">
            <dt>
                <label for="repl_id">Ext.:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id042" size="8">
            </dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">E-mail:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id043" size="32">
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
    
    <div class="clear"> </div>
    <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
    
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Save Options for Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id044">
                    <option value="" selected>Select One</option>
                    <option value="">You can select another option here</option>
                    <option value="">update entry</option>
                </select>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol8 marginEnd">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Save this to my Address Book as:</label>
            </dt>
            <dd>
                <input type="text" name="repl_name" id="repl_id045" class="formcol5">
            </dd>
        </dl>
    </div>															
</div>
<div class="clear"></div>
{{/if}}


<!-- Ship From - No Profile (1st Address w/ 2nd Replay)-->
{{#if int_no_profile_show_2nd}}
<div id="pnl_3_8"> 
    <dl role="presentation" class="flexFirst">
        <dt>
            <label for="repl_id">Address Book:</label>
        </dt>
        <dd> 
            <div class="combobox" id="repl_id020">
                <select name="repl_name" id="selectbox" class="formcol5">
                    <option value="repl_value" selected>Select One</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </div>															
        </dd>
    </dl>
    <dl role="presentation" class="flexAfter">
        <dt>&nbsp; </dt>
        <dd>--- or enter a new address below ---</dd>
    </dl>
    <div class="clear"></div>
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id028">Company or Name:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id028" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id029">Contact:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id029" size="32">
            </dd>
            <dt>
                <label for="repl_id030">Country or Territory:</label>
            </dt>
            <dd>
                <select name="repl_name" size="1" id="repl_id030">
                    <option value="None" selected>United States</option>
                    <option value="None">Add Another Country or Territory In This Spot</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> <br>
            </dd>
            <dt>
                <label for="repl_id031">Address Line 1:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id031" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id032">Address Line 2:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id032" size="32">
                <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
            </dd>
            <dt>
                <label for="repl_id033">Address Line 3:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id033" size="32">
                <div class="reqTxtInst"> Department, c/o, etc.</div>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" class="group">
            <dt> <strong>
                <label for="repl_id">City:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id">State:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id039">
                    <option value="" selected>Select One</option>
                    <option value="">Add Another State In This Spaces</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt> <strong>
                <label for="repl_id">Zip Code:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
        </dl>
        <dl role="presentation" class="flexFirst group">
            <dt>
                <label for="repl_id">Telephone:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id041" size="32">
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter group">
            <dt>
                <label for="repl_id">Ext.:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id042" size="8">
            </dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">E-mail:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id043" size="32">
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
    
    <div class="clear"> </div>
    <div class="hr"> <img alt="" border="0" width="1" height="1" src="/img/1.gif" > </div>
    
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id">Save Options for Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id044">
                    <option value="" selected>Select One</option>
                    <option value="">You can select another option here</option>
                    <option value="">update entry</option>
                </select>
            </dd>
        </dl>
        <dl role="presentation" >
            <dt>
                <label for="repl_id" class="sel">If the shipment is undeliverable, return to:<br>
                <strong>Return Address</strong>:</label>
                <a id="repl_id049" href="repl_href">Edit</a> </dt>
            <dd id="repl_id050">Different Address from Profile<br>
                Company Name<br>
                123 Address<br>
                City, State 12345 <br>
                Telephone: 555-283-3107 </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol8 marginEnd">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Save this to my Address Book as:</label>
            </dt>
            <dd>
                <input type="text" name="repl_name" id="repl_id045" class="formcol5">
            </dd>
        </dl>
        <dl role="presentation">
            <dt>
                <label for="repl_id">Return Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="selectbox" class="formcol5">
                    <option value="repl_value" selected>Same as [Ship From]</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
{{/if}}


<!-- Ship From - Unregistered user -->
{{#if int_unregistered}}
<div id="pnl_3_9"> 
    <!-- Begin Left Column -->
    <div class="subcol9 marginBegin">
        <dl role="presentation" >
            <dt>
                <label for="repl_id028">Company or Name:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id028" size="32">
             </dd>
            <dt>
                <label for="repl_id029">Contact:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id029" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
            </dd>
            <dt>
                <label for="repl_id030">Country or Territory:</label>
            </dt>
            <dd>
                <p>[Country or Territory]
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">
                </p>
            </dd>
            <dt>
                <label for="repl_id031">Address Line 1:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id031" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id032">Address Line 2:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id032" size="32">
                <div class="reqTxtInst"> Apartment, suite, unit, building, floor, etc. </div>
            </dd>
            <dt>
                <label for="repl_id033">Address Line 3:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id033" size="32">
                <div class="reqTxtInst"> Department, c/o, etc.</div>
            </dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol9 marginEnd">
        <dl role="presentation" class="group">
            <dt> <strong>
                <label for="repl_id">City:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
            <dt>
                <label for="repl_id">State:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id039">
                    <option value="" selected>Select One</option>
                    <option value="">Add Another State In This Spaces</option>
                </select>
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"></dd>
                <dt> <strong>
                <label for="repl_id">Zip Code:</label>
                </strong> </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id034" size="32">
                <img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required"> </dd>
        </dl>
        <dl role="presentation" class="flexFirst group">
            <dt>
                <label for="repl_id">Telephone:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id041" size="32">
            </dd>
        </dl>
        <dl role="presentation" class="flexAfter group">
            <dt>
                <label for="repl_id">Ext.:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id042" size="8">
            </dd>
        </dl>
        <dl role="presentation" class="flexFirst">
            <dt>
                <label for="repl_id">E-mail:</label>
            </dt>
            <dd>
                <input name="repl_name" type="text" id="repl_id043" size="32">
            </dd>
        </dl>
    </div>
    <!-- End Right Column -->
    <div class="clear"></div>
    
    <!-- Begin Left Column -->
    <div class="alignBegin clearfix">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Save Options for Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="repl_id044">
                    <option value="" selected>Select One</option>
                    <option value="">You can select another option here</option>
                    <option value="">update entry</option>
                </select>
            </dd>
        </dl>
    </div>
    <div class="subcol9 marginBegin">														
        <dl role="presentation" >
            <dt>
                <label for="repl_id" class="sel">If the shipment is undeliverable, return to:<br>
                <strong>Contact:</strong></label>
                <a id="repl_id049" href="repl_href">Edit</a> </dt>
            <dd><input type="text" name="repl_name" id="txtbox" class="formcol5" value="Production Test"></dd>
        </dl>
    </div>
    <!-- End Left Column --> 
    
    <!-- Begin Right Column -->
    <div class="subcol8 marginEnd">
        <dl role="presentation">
            <dt>
                <label for="repl_id">Return Address:</label>
            </dt>
            <dd>
                <select name="repl_name" id="selectbox" class="formcol5">
                    <option value="repl_value" selected>Same as [Ship From]</option>
                    <option value="repl_value">Option 2 which is much longer than Option 1</option>
                </select>
            </dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
{{/if}}