---
title: ct1_tra_tra_gpsmap
layout: legacy.hbs
version: v4
appID: com.ups.trackWeb
appCSS: ups.legacy_overrideWebTrkApp
dir: rtl
lang: ar
---
<div id="main">
	
	<dl role="presentation">
		<dt>
			<label for="repl_id">delivery location:</label>
		</dt>
		<dd>MAP INSTRUCTIONS GO HERE.....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</dd>
	</dl>
	<!-- Map Placeholder - replace with BING -->
	<!--<div><img src="/img_fpo/other/fpo-400x200.gif" width="400" height="200" alt="Placeholder for Map and Driving Directions"></div>-->
    <p><strong>The delivery location map is currently not available.</strong></p>
	<!-- Map Placeholder - replace with BING -->
	<dl class="outHozFixed clearfix">
		<dt>
			<label for="repl_id">gps coordinates:</label>
		</dt>
		<dd>{lat 40.424602}<br>
			{long 74.021388}<br>
		</dd>
	</dl>
	<p>LEGAL DISCLAIMER GOES HERE...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
</div>
