@-webkit-keyframes tracking_indicator_move_second {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_in_possession;
        opacity: 1;
    }
}

@keyframes tracking_indicator_move_second {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_in_possession;
        opacity: 1;
    }
}

@-webkit-keyframes tracking_indicator_move_third {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_in_transit;
        opacity: 1;
    }
}

@keyframes tracking_indicator_move_third {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_in_transit;
        opacity: 1;
    }
}

@-webkit-keyframes tracking_indicator_move_fourth {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_out_delivery;
        opacity: 1;
    }
}

@keyframes tracking_indicator_move_fourth {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_out_delivery;
        opacity: 1;
    }
}

@-webkit-keyframes tracking_indicator_move_fifth {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_ap;
        opacity: 1;
    }
}

@keyframes tracking_indicator_move_fifth {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_ap;
        opacity: 1;
    }
}

@-webkit-keyframes tracking_indicator_move_last {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_delivered;
        opacity: 1;
    }
}

@keyframes tracking_indicator_move_last {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_delivered;
        opacity: 1;
    }
}

@-webkit-keyframes tracking_indicator_move_alert {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_exception;
        opacity: 1;
    }
}

@keyframes tracking_indicator_move_alert {
    0% {
        width: $trk_progress_bar_min_width;
        opacity: 0;
    }

    20% {
        width: $trk_progress_bar_min_width;
        opacity: 1;
    }

    100% {
        width: $trk_progress_bar_exception;
        opacity: 1;
    }
}

@-webkit-keyframes tracking_indicator_alert_notify {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-15deg);
    }

    66% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes tracking_indicator_alert_notify {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-15deg);
    }

    66% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes sort_btn_animation {
    0% {
        transform: rotate(180deg);
        top: -2px;
    }

    100% {
        transform: rotate(0);
        top: 0;
    }
}

@keyframes sort_btn_animation {
    0% {
        transform: rotate(180deg);
        top: -2px;
    }

    100% {
        transform: rotate(0);
        top: 0;
    }
}
