.ups-aside_icon_container {
    .ups-aside_icon {
        float: left;
        font-size: 20px;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        .icon{
            cursor: default;

            &:before {
                float: none;
                margin: 0;
            }

            &:hover {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .ups-aside_text {
        margin-#{$default-float}: 25px;
    }
}
