.ups-track_pg_bg {
    background-color: $stone_40;
    padding: 25px 0;
    overflow: visible;
    margin-bottom: 25px;
}

.ups-header_track_name {
    margin-right: 25px; //must stay right for both RTL and LTR
}

.ups-tracking_status_header {
    font-size: 36px;
    margin-bottom: 25px;
}

.ups-tracking_delivery_text {
    font-size: 24px;
    margin-bottom: 0;

    .ups-tracking_delivery_text_date {
        display: block;
    }
}

.ups-form_ctaGroup.ups-form_ctaGroup_slim {
    margin-top: 0;
    margin-bottom: 0;
}

.ups-focus_gold {
    &:focus {
        outline: 5px auto $ups_gold;
    }
}

.ups-group.ups-group_slim {
    margin-bottom: 0;
}

.ups-application_wrapper .ups-toggle.ups-toggle_square {
    border-radius: 4px;

    .ups-toggle_radio {
        &:first-of-type:checked ~ .ups-toggle_switch_bg {
            border-top-#{$default-float}-radius: 3px;
			border-bottom-#{$default-float}-radius: 3px;
        }

        &:last-of-type:checked ~ .ups-toggle_switch_bg {
            border-top-#{$opposite-direction}-radius: 3px;
			border-bottom-#{$opposite-direction}-radius: 3px;
        }
    }
}

.ups-group.ups-help_wrapper {
    position: relative;
}

.ups-module_header {
    margin: 0;
    padding: 12px 15px;
    border: 1px solid $black_s1;
    border-bottom: none;
    font-family: $sans-bd;
    font-size: 18px;
}

.ups-form_wrap .ups-form_group {
    .ups-input_has_clear {
        padding-#{$opposite-direction}: 2.5em;
    }

    .ups-input_clear_btn {
        position: absolute;
        #{$opposite-direction}: 5px;
        top: 0;
        padding-#{$default-float}: 0;
        padding-#{$opposite-direction}: 0;
        width: auto;
    }
}

.ups-icon_separate {
    margin-#{$default-float}: 5px;
}

.ups-sort_btn .ups-icon-chevrondown, .ups-sort_btn .ups-icon-chevronup {
    -webkit-animation: sort_btn_animation .2s linear;
    animation: sort_btn_animation .2s linear;
}

.ups-tracking_description_container {
    overflow: hidden;
    // below rules prevent outline from being cut off
    margin: -5px -5px 0;
    padding: 5px 5px 0;
}

.ups-delivery_options_actions.ups-form_ctaGroup {
    .ups-cta {
        margin-#{$opposite-direction}: 15px;

        @media #{$media-small} {
            margin-bottom: 15px;
            margin-#{$opposite-direction}: 0;
        }
    }
}

.ups-track_history_container {
    max-width: 1075px;
    margin: 0 auto;

    .ups-tracking_cards {
        margin-#{$opposite-direction}: -25px;
    }
}

.ups-track_additional_pkgs_controls {
    position: relative;
}

.ups-section_separate {
    margin-top: 10px;
}

.ups-track_enternum_top {
    max-width: 1075px;
    margin: 0 auto;
}


//
// possible deprecation
//
.ups-datepicker_top_right {
    .dropdown-menu {
        right: 0;
        left: auto;
    }
}

.ups-tracking_mychoice_delivery {
    display: inline-block;
    margin-top: 5px;

    .ups-tracking_mychoice_delivery_btn {
        .icon {
            font-size: 18px;
            vertical-align: middle;

            &:before {
                margin-#{$default-float}: 0;
                margin-#{$opposite-direction}: 5px;
            }
        }
    }
}
