.ups-application_wrapper .ups-form_group .ups-input_has_action .ups-input_action .icon.ups-icon-chevronright {
    font-size: 14px;

    &:before {
        margin-#{$default-float}: 0;
    }
}

.ups-application_wrapper .ups-form_group .ups-input_has_action .ups-input_action.ups-input_action_invert .icon.ups-icon-chevronright:hover {
    color: $white;
}

.ups-btn_slim_separate {
    padding-#{$default-float}: 0;
    padding-#{$opposite-direction}: 0;
}

.ups-btn_action {
    text-decoration: none;
}

.ups-link_has_icon {
    .icon {
        font-size: 12px;
        position: relative;
        top: 3px;

        &:before {
            margin-#{$default-float}: 3px;
        }
    }
}

.ups-tracking_actions {
    .ups-cta {
        margin-top: 10px;
    }
}
