.ups-delivery_options_truck {
    font-size: 40px;
}

.ups-delivery_updates_list {
    margin: 0 -15px;
    padding: 0;

    .ups-delivery_updates_listitem {
        list-style: none;

        &.ups-delivery_updates_clear {
            clear: left;
        }
    }
}

.ups-delivery_updates_header {
    font-size: 20px;
    margin: 0 0 15px;

    &:focus {
        outline: 5px auto $ups-gold;

        .ie9, .ie10, .ie11 & {
            outline: 1px solid $ups-gold;
        }

        @at-root {
            @-moz-document url-prefix() {
                & {
                    outline: 1px auto $ups-gold;
                }
            }
        }
    }
}
