.ups-drawer.ups-drawer_inline {
    .ups-drawer-btn {
        padding: 0;
        margin-bottom: 5px;
        width: auto;
        background: none;
        border: none;

        .icon {
            margin-#{$default-float}: 10px;
        }
    }

    .ups-drawer-content {
        border: none;
        padding: 0;
    }
}

.ups-application_wrapper .ups-drawer.ups-flat_drawer {
    margin-bottom: 25px;
    border: 1px solid $ups_stone;

    &.ups-drawer_list_item {
        margin-bottom: 1px;
    }
    /*@media #{$media-small} {
        margin-bottom: 1px;
    }*/

    .ups-drawer-btn {
        border: none;
        border-radius: 1px;
        background-color: $ups_stone;
        font-size: 18px;
        padding: 10px 15px 7px;
        font-family: $sans-bd;

        h2 {
            margin: 0;
            font-size: inherit;
            font: inherit;
            line-height: inherit;
            display: inline;
        }

        .icon {
            font-size: 14px;
        }
    }

    .ups-drawer-content {
        padding: 15px;
        border: none;
    }
}
