.ups-form_has_action_icon {
    .ups-input_wrapper {
        padding-#{$opposite-direction}: 25px;

        .ups-error_exclamation {
            padding-#{$opposite-direction}: 25px;
        }
    }

    .ups-dropdown_wrapper {
        &:before {
            #{$opposite-direction}: 25px;
        }
    }

    .ups-form_action_icon {
        text-decoration: none;
        position: absolute;
        #{$opposite-direction}: 0;
        top: 9px;
    }
}

.ups-input_has_addon {
    display: table;
    width: 100%;
    margin-bottom: 5px;

    .ups-input_group_addon {
        display: table-cell;
        padding: 6px 12px;
        color: $black;
        background-color: $stone_40;
        border: 1px solid $stone_s3;
        vertical-align: middle;
        width: 1%;
        white-space: nowrap;

        &:nth-child(1) {
            border-#{$opposite-direction}: 0;
        }
    }

    .ups-form_input {
        display: table-cell;
        margin-bottom: 0;
    }
}

.ups-icons-error-checkbox {
    .ups-error_exclamation {
        margin: 0;
        float: none;
        position: absolute;
        #{$opposite-direction}: auto;
        #{$default-float}: 19px;
        top: 8px;
    }

    .ups-invalid_color {
        display: block;
        margin-bottom: 5px;
    }
}
