.ups-btn_icon_big {
    .icon {
        font-size: 20px;
        vertical-align: middle;
        display: inline-block;
        margin-top: -4px;
        margin-bottom: -4px;

        &:before {
            margin-#{$default-float}: 0;
            margin-#{$opposite-direction}: 5px;
        }
    }

}
