@mixin table_styling {
    table  {
        table-layout: fixed;

        thead th {
            background: $white;
            color: $black;
            border-top: 2px solid $stone_s3;
            border-bottom: 2px solid $stone_s3;
            text-transform: none;
        }

        tbody  {
            td, th {
                word-wrap: normal;
                overflow-wrap: normal;
                -webkit-hyphens: none;
                -ms-hyphens: none;
                -moz-hyphens: none;
                hyphens: none;
                border: none;
                text-transform: none;
                font-weight: normal;

                &:first-child {
                    border-bottom: none;
                }
            }
        }
    }
}
