.ups-tracking_multi_package_display {
    margin: 0;
    padding: 0;

    .ups-tracking_multi_package_item {
        list-style: none;
        border-bottom: 1px solid $stone_s3;
        margin-bottom: 10px;
        position: relative;
        border-#{$default-float}: 3px solid transparent;
        padding-#{$default-float}: 5px;

        &:last-child {
            border-bottom: none;
        }

        &.ups-tracking_multi_package_item_exception {
            border-#{$default-float}: 3px solid $ups-gold;
        }

        .ups-tracking_multi_package_status {
            font-size: 20px;
        }

        .ups-tracking_multi_package_num {
            @media #{$media-medium} {
                position: absolute;
                #{$opposite-direction}: 15px;
                top: 0;
            }
        }

        .ups-tracking_status_icon {
            @media #{$media-medium} {
                position: absolute;
                #{$opposite-direction}: 15px;
            }
        }

        .ups-tracking_icon_content {
            @media #{$media-medium} {
                margin-#{$default-float}: 0;
            }
        }
    }
}
