.ups-recent_tracked_view_actions {
    .ups-recent_tracked_per_view {
        width: auto;
        vertical-align: middle;
        display: inline-block;
        margin-#{$opposite-direction}: 20px;

        @media #{$media-small} {
            display: block;

            .ups-form_label {
                display: block;
            }
        }

    }

    .ups-recent_tracked_view_display {
        vertical-align: middle;
        //margin-#{$opposite-direction}: 20px;

        @media #{$media-small} {
            display: block;

            .ups-form_label {
                display: block;
                float: none;
                line-height: 1;
            }
        }
    }
}

.ups-tracking_recent_table {
    thead th {
        width: 150px;

        &.ups-recent_table_trknum_column {
            width: 250px;
        }

        &.ups-recent_table_date_column {
            width: 150px;
        }

        &.ups-recent_table_time_column {
            width: 150px;
        }
    }

    .ups-tracking_status_icon {
        &.ups-tracking_status_icon_delivered {
            .ups-icon-check {
                top: 4px;
                #{$default-float}: 6px;
                font-size: 16px;
            }
        }

        .ups-tracking_icon_square {
            width: 10px;
            height: 10px;
            #{$opposite-direction}: 10px;
            top: 10px;
        }
    }
}

.ups-recent_table_trknum_column {
    width: 250px;
}

.ups-recent_table_date_column {
    width: 150px;
}

.ups-recent_table_time_column {
    width: 150px;
}

.ups-tracking_table_description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
