.ups-tracking_cards {
    margin:0;
    padding:0;

    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

    .ups-card {
        height: 247px;
        width: 250px;
        position: relative;
        float: #{$default-float};
        margin-#{$opposite-direction}: 25px;
        box-shadow: none;
        border: 1px solid $stone_s3;
        list-style: none;

        &.ups-tracking_card_exception {
            border-#{$default-float}: 5px solid $ups-gold;
        }

        .ups-card_content {
            padding: 12px;

            &.ups-card_content_no_separate {
                padding-top: 0;
            }
        }

        /*.ups-card_content {
            padding: 15px;
        }*/

        .ups-tracking_card_header {
            font-size: 24px;
            margin-bottom: 0;
            line-height: 30px;
        }

        .ups-tracking_card_action {
            margin-top: 5px;
        }

        .ups-tracking_card_side {
            margin-#{$opposite-direction}: 46px;
            max-height: 105px;
            //overflow: hidden;
        }

        .ups-tracking_card_side_icon {
            position: absolute;
            #{$opposite-direction}: 12px;
            top: 0;
            padding-top: 100px;

            /*.icon {
                font-size: 30px;
            }*/
            .ups-tracking_status_icon {
                margin-#{$opposite-direction}: 0;
                width: 2.429em; //3.21429em;
                height: 2.429em; //3.21429em;

                &:after {
                    height: 2.429em; //3.21429em;
                    width: 2.429em; //3.21429em;
                    border-width: 4px;
                    border-radius: 2.429em; //3.21429em;
                }

                .ups-icon-checkcircle {
                    font-size: 33px;
                }

                .ups-icon-alert {
                    font-size: 33px;
                }

                .ups-icon-chevronright {
                    /*right: .55em;
                    top: .7em;
                    font-size: 20px;*/
                    #{$opposite-direction}: .692em;//9px;
                    top: .846em;//11px;
                    font-size: 13px;
                }
            }
        }

        .ups-tracking_card_heading {
            .ups-tracking_card_heading_link {
                margin-bottom: 6px;
            }

            .ups-tracking_card_heading_description {
                height: 1.215em;
                overflow: hidden;
                text-overflow: ellipsis;
                //margin-bottom: 35px;
                white-space: nowrap;
            }
        }

        .ups-tracking_card_delivery_info {
            position: absolute;
            bottom: 2px;
            #{$opposite-direction}: 46px;
            #{$default-float}: 12px;

            .ups-tracking_card_delivery_label {
                margin-bottom: 5px;
                height: 1.215em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .ups-tracking_card_date {
                font-size: 28px;
                margin-bottom: 0;
                line-height: 1;
            }
        }

        .ups-tracking_card_heading_status {
            //max-height: 3.0714em;
            max-height: 61px;
            overflow: hidden;

            &.ups-tracking_card_heading_status_long {
                //max-height: 4.7143em;
                max-height: 66px;

                .ups-tracking_card_header {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }


}
