.ups-tracking_banner {
    .ups-tracking_banner_img {
        max-width: 100%;
    }

    @media #{$media-medium} {
        margin-top: 15px;
    }

    @media #{$media-small} {
        margin-top: 0;
    }
}
