.ups-scrollable_table_container {
    overflow: auto;

    .ups-scrollable_table_container_inner {
        @include table_styling();

        min-width: 600px;

        @media #{$media-small} {
            margin: 0;
        }
    }
}

table.ups-table_stripe tbody tr:nth-child(even) {
    background-color: $stone_40;
}
