.ups-indent {
    &.ups-indent_xs {
        @media #{$media-small} {
            padding-#{$default-float}: 0;
        }
    }
}

.ups-text_atomic {
    display: inline-block;
}

.ups-text_separate {
    margin-#{$opposite-direction}: 5px;
}

.ups-text_separate_emphasized {
    margin-#{$opposite-direction}: 20px;
}

.text-left {
    text-align: #{$default-float};
}

.ups-text_nowrap {
    white-space: nowrap;
}

.ups-form_group .ups-buttonList_wrapper.ups-buttonList_inline {
    display: inline-block;
    width: auto;
    margin-#{$opposite-direction}: 25px;
}

.ups-ul_aligned {
    margin-#{$default-float}: 0px;
    margin-#{$opposite-direction}: 0px;
    padding-#{$default-float}: 15px;
}

.ups-text_slim {
    margin-bottom: 0;
}

.ups-text_emphasis {
    font-size: 18px;
}

.ups-text_paragraph {
    display:inline-block;
    margin-bottom: 10px;
}

.ups-application_wrapper .ups-icon-pluscircle:before {
    margin-#{$default-float}: 0;
}
