$trk_progress_bar_min_width: 1.71429em; //24px
$trk_progress_bar_in_possession: 10%;
$trk_progress_bar_in_transit: 50%;
$trk_progress_bar_out_delivery: 90%;
$trk_progress_bar_ap: 95%;
$trk_progress_bar_delivered: 100%;
$trk_progress_bar_exception: 70%;
