<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
<tr>
	<td class="pi-h1" valign="top">Calculate Time and Cost</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
<tr>
	<td valign="top" width="422">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-txt-title">Provide Shipment Information</td>
			<td class="pi-m-txt-title-link" nowrap><a href="javascript:helpModLvl('repl_href')">Help</a>&nbsp;<a href="javascript:helpModLvl('repl_href')"><img alt="help" border="0" height="9" src="/img/icn_help_white.gif" width="9"></a></td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad">
			Please provide information about your shipment, including destination, origin, weight, and shipment date. Required fields are shown in <span class="pi-h4">bold</span>.
			<br><br>
			<img alt="Back to Estimate Landed Cost" border="0" height="8" src="/img/icn_back_arrow.gif" width="8"><img alt="" border="0" height="1" src="/img/1.gif" width="4"><a href="repl_href">Back to Estimate Landed Cost</a>
			<br><br>
			<span class="pi-h3">Ship From:</span><br>
			<span class="pi-h4">Country or Territory:</span><br>
			[Country or Territory Name]<br>
			<span class="pi-h4">City:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text"><br>
			Postal Code:<br>Required for countries or territories with an *<br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text"><br>
			<div align="center"><img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="402"></div>
			<span class="pi-h3">Ship To:</span><br>
			<span class="pi-h4">Country or Territory:</span><br>
			[Country or Territory Name]<br>
			<span class="pi-h4">City:</span><br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text"><br>
			Postal Code:<br>Required for countries or territories with an *<br>
			<input class="modTxtMedium" maxlength="35" size="19" type="text"><br>
			<input class="rad" name="repl_fname" type="checkbox" value="repl_fvalue">&nbsp;This is a Residential Address<br>
			<span class="pi-h4">Shipment Date:</span><br>
			[Weekday Mmm. dd, yyyy]<br>
			<div align="center"><img alt="" border="0" height="2" src="/img/1_dkgray.gif" vspace="8" width="402"></div>
			<span class="pi-h3">Number of Packages:</span><br>
			<select name="repl_fname" class="modSelSmall" size="1">
				<option>1</option>
			</select><br>
			<span class="pi-h4"><a href="repl_href">Customs Value:</a></span><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a><br>Required for international shipments <span class="pi-h4">only</span><br>
			<input class="modTxtSmall" maxlength="35" size="4" type="text"><img alt="" border="0" height="1" src="/img/1.gif" width="10">
			<select name="repl_fname" class="modSelMedium" size="1">
				<option>[ship to country or territory]</option>
			</select><br>
			<span class="pi-h4"><a href="repl_href">Weight:</a></span><img align="bottom" alt="" border="0" height="7" src="/img/1.gif" width="3"><a href="repl_href"><img align="bottom" alt="" border="0" height="9" src="/img/icn_help_blue.gif" width="9"></a><br>
			<input class="modTxtSmall" maxlength="35" size="4" type="text"><img alt="" border="0" height="1" src="/img/1.gif" width="10">
			<select name="repl_fname" class="modSelSmall" size="1">
				<option>kgs</option>
			</select><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="422">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Clear" border="0" height="18" name="repl_fname" src="/img/en/btn_clear.gif" type="image" width="40"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Calculate Time and Cost" border="0" height="18" name="repl_fname" src="/img/en/btn_calculate_time_cost_a.gif" type="image" width="159"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

<!-- Begin Table: Functional Table 2 -->
<table border="0" cellpadding="0" cellspacing="0" width="422">
<tr>
	<td>
	<br>
	<span class="pi-h4">Note:</span> Shipping rates quoted are estimates based on the information you have supplied. Shipping rates do not include duties, taxes or other non-routine customs brokerage charges.  Other shipping charges, surcharges or accessorial charges may apply and your final shipping charge may differ based on your shipper characteristics and the characteristics of, and services requested for, packages actually tendered to UPS.  Rates quoted here are based on UPS published rates and do not include incentives or special programs. If you have specially negotiated rates, contact your UPS account executive for a rate quote. Please see the UPS Rate and Service Guide or similar guides or rate documents as may be applicable in your jurisdiction for details. Rates may vary at retail locations.
	</td>
</tr>
</table>
<!-- End Table: Functional Table 2 -->

</form>
