---

appId: nbs
dir: rtl
lang: ar
---




<main id="ups-main">
	<div class="ups-form_wrap ups-formStrict ups-wrap ups-application_wrapper">  
		<div class="ups-wrap_inner ups-app_nbs">
			<form name="paymentForm">{{> payment_partial payment }}</form>
		</div>
	</div>
</main>


