<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Delete Company</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
	 	To return companies, enter the search terms and select the search criteria.
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- begin search module -->
	<table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">Search</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="3"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="98%">

			<!-- begin content column -->
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td><input class="modTxtLarge" maxlength="50" name="Search" size="34" type="text" value=""></td>
				<td>&nbsp;&nbsp;<input name="repl_fname" value="Search" class="btn" type="submit"></td>
			</tr>
			</table>
			<br>
			<table border="0" cellpadding="2" cellspacing="0">
			<tr>
				<td valign="top" rowspan="3">Search for&nbsp;&nbsp;</td>
				<td bgcolor="#cccccc"><input checked  name="searchfield" type="radio" value="">Company Nickname</td>
				<td valign="top" rowspan="3">&nbsp;&nbsp;that&nbsp;&nbsp;</td>
				<td bgcolor="#cccccc"><input checked  name="searchtype" type="radio" value="">Contains</td>
				<td valign="top" rowspan="3">&nbsp;&nbsp;the search terms.</td>
			</tr>
			<tr>
				<td bgcolor="#cccccc"><input  name="searchfield" type="radio" value="">Company Name</td>
				<td bgcolor="#cccccc"><input  name="searchtype" type="radio" value="">Starts With</td>
			</tr>
			<tr>
				<td bgcolor="#cccccc"><input  name="searchfield" type="radio" value="">Contact Name</td>
				<td bgcolor="#cccccc"><input  name="searchtype" type="radio" value="">Exactly Matches</td>
			</tr>
			</table>
			<!-- end content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->

		</td>
	</tr>
	</table>
	<!-- end search module -->

	<br>

	<!-- begin search results module -->
	<table bgcolor="#666699" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>

		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
			<td width="49%">

			<!-- begin module title -->
			<span class="whiteBoldHead">Search Results</span>
			<!-- end module title -->

			</td>
			<td width="49%">

			<!-- begin module navigation -->
			<div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="/img/btn_help.gif" width="15"></a></div>
			<!-- end module navigation -->

			</td>
			<td width="1%"><img alt="" border="0" height="1" src="/img/xln_666699.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->

		</td>
	</tr>
	<tr>
		<td>

		<!-- begin module column spacing table 1 - 3 columns with 2 spacer columns and 1 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="3"><img alt="" border="0" height="3" src="/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="98%">

			<!-- begin content column -->
			The search returned the companies listed below. Select the company to Delete, or to narrow the results, modify the search.
			<br><br>
			<span class="bold">Page [x] of [xx].</span>
			<br>
			<a href="#Previous">Previous</a> &nbsp;&nbsp;<a href="#Next">Next</a>
			<br>
			<div align="right"><span class="redError">[Display on pages with over 25 results]</span><input name="repl_fname" value="Cancel" class="btn" type="button"><input name="repl_fname" value="Delete" class="btn" type="submit"></div>
			<!-- end content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table 1 -->

		<!-- begin results table -->
		<table border="0" cellpadding="0" cellspacing="0" width="562">
		<tr>
			<td bgcolor="#cccccc" height="24" width="10">&nbsp;</td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults"><span class="bold">Company Name</span></div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="132"><div class="spacingResults"><span class="bold">Address</span></div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults"><span class="bold">City</span></div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults"><span class="bold">State/Province</span></div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults"><span class="bold">Country or Territory</span></div></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="101"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#cccccc" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="101"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#cccccc" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="101"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#cccccc" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="101"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#cccccc" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#ffffff" height="24" width="1"><img alt="" height="24" src="/img/xln_ffffff.gif" width="1"></td>
			<td bgcolor="#ffffff" height="24" width="101"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#cccccc" height="24" width="10"><input  name="Select" type="radio" value="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Company Name]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="132"><div class="spacingResults">[Address]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[City]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[state /province/ county]</div></td>
			<td bgcolor="#cccccc" height="24" width="1"><img alt="" height="24" src="/img/xln_cccccc.gif" width="1"></td>
			<td bgcolor="#cccccc" height="24" width="104"><div class="spacingResults">[Country or Territory]</div></td>
		</tr>
		<tr>
			<td bgcolor="#cccccc" colspan="10"><img alt="" border="0" height="1" src="/img/xln_cccccc.gif" width="1"></td>
		</tr>
		</table>
		<!-- end results table -->

		<!-- begin module column spacing table 2 - 3 columns with 2 spacer columns and 1 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="98%">

			<!-- begin content column -->
			<div align="right"><input name="repl_fname" value="Cancel" class="btn" type="button"><input name="repl_fname" value="Delete" class="btn" type="submit"></div>
			<span class="bold">Page [x] of [xx].</span>
			<br>
			<a href="#Previous">Previous</a> &nbsp;&nbsp;<a href="#Next">Next</a>
			<!-- end content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table 2 -->

		</td>
	</tr>
	</table>
	<!-- end search results module -->

	<!-- begin buttons -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td colspan="2" valign="top"><img alt="" border="0" height="3" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td align="left" valign="top" width="200"><img alt="" border="0" height="1" src="/img/xln_ffffff.gif" width="1"></td>
		<td align="right" valign="top" width="366"></td>
	</tr>
	</table>
	<!-- end buttons -->

	<!-- begin note area -->
	<table border="0" cellpadding="0" cellspacing="1" width="566">
	<tr>
		<td valign="top"><img alt="" border="0" height="10" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">&nbsp;</td>
	</tr>
	</table>
	<!-- end note area -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
