<form action="repl_faction">

<!-- Begin Table: Page Header no Icon -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td class="pi-h1" valign="top">Request Multiple Services</td>
</tr>
</table>
<!-- End Table: Page Header no Icon -->

<!-- Begin Table: Formatting Table 4col -->
<table border="0" cellpadding="0" cellspacing="0" width="566">
<tr>
	<td valign="top" width="566">

	<!-- Begin Table: Module Table (Parent:Formatting Table) -->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="pi-mA1-t" valign="top">

		<!-- Begin Table: Module Title (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-txt-title">Answer Optional Questions</td>
		</tr>
		</table>
		<!-- End Table: Module Title (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-t-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-c" valign="top">

		<!-- Begin Table: Functional Table 1 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<div class="pi-m-pad">
			Answering the following optional questions will help refine your request and make your landed cost estimate more accurate. You may skip the questions and submit your request at any time. To review your request, select <span class="pi-h4">Review</span>.
			<br><br>
			<input alt="Skip Questions and Submit" border="0" height="14" name="repl_fname" src="/img/en/btn_lnk_skip_q_submit.gif" type="image" width="164">
			<br><br>
			<span class="pi-h3">[product country or territory of origin] to [destination country or territory]</span><br>
			[dynamic list question]<br>
			<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">&nbsp;[dynamic list]<br>
			<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">&nbsp;[dynamic list]<br><br>
			[dynamic question]<br>
			<textarea class="modTxtAreaLarge" cols="40" rows="5" wrap="soft">[user answer]</textarea><br><br>
			<span class="pi-h3">[tariff code - product name]</span><br>
			[dynamic list question]<br>
			<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">&nbsp;[dynamic list]<br>
			<input class="rad" name="repl_fname" type="radio" value="repl_fvalue">&nbsp;[dynamic list]<br><br>
			[dynamic question]<br>
			<textarea class="modTxtAreaLarge" cols="40" rows="5" wrap="soft">[user answer]</textarea><br>
			</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 1 (Parent:Module Table) -->

		<!-- Begin Table: Functional Table 6 (Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><div class="pi-m-pad"><br><span class="pi-h4">Note:</span> This TradeAbility service is charge on a transaction basis. To review charges before completing the transaction, please select <span class="pi-h4">Review</span>.</div></td>
		</tr>
		</table>
		<!-- End Table: Functional Table 6 (Parent:Module Table) -->

		</td>
	</tr>
	<tr>
		<td class="pi-mA1-c-b-spc"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-line"><img alt="" border="0" height="1" src="/img/1.gif" width="1"></td>
	</tr>
	<tr>
		<td class="pi-mA1-b" valign="top">

		<!-- Begin Table: Form Control Buttons(Parent:Module Table) -->
		<table border="0" cellpadding="0" cellspacing="0" width="566">
		<tr>
			<td class="pi-m-button" nowrap><input alt="Back" border="0" height="18" name="repl_fname" src="/img/en/btn_back_a.gif" type="image" width="52"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Cancel" border="0" height="18" name="repl_fname" src="/img/en/btn_cancel.gif" type="image" width="47"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Review" border="0" height="18" name="repl_fname" src="/img/en/btn_review.gif" type="image" width="51"><img alt="" border="0" height="1" src="/img/1.gif" width="1"><input alt="Next" border="0" height="18" name="repl_fname" src="/img/en/btn_next_a.gif" type="image" width="51"></td>
		</tr>
		</table>
		<!-- End Table: Form Control Buttons(Parent:Module Table) -->

		</td>
	</tr>
	</table>
	<!-- End Table: Module Table (Parent:Formatting Table) -->

	</td>
</tr>
</table>
<!-- End Table: Formatting Table 4col -->

</form>
