---
title: cam_adm_ups(1ent)_del(2con)
layout: legacy.hbs
version: v4
appID: com.ups.csadmin
appCSS: ups.legacy_overrideECSAdmin
dir: rtl
lang: ar
---

		<!-- /main begin -->
		<div id="main">
			{{>"cam_adm_ups(1ent)_del(2con)_partial"}}
		</div>
		<!-- /main end -->
