---
title: Electronic Returns Portal (ERP)
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>

{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.elec_return}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">10/20/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>ERP: TFS 451765 Change LLP HTML To A Semantic Structure</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">08/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>ERP: Bug 372179 LLP and MRAP - Both pages are erroneously displaying same title - Maintenance Build</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">08/04/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>ERP: Bug 403723 Fix excess space in the Email Label Option on LLP | Made a Show/Hide version for Sync Sticker Barcode</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">07/28/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>ERP: Make "Schedule Pickup" hidden on XS viewport.</li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">07/14/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>Bug 402563 Fix excess space surrounding CTA buttons </li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">06/23/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>TFS #388863 vHTML Updates (LLP/MRAP) </li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
                    <button class="ups-accordion_toggle">05/26/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
                    <div class="ups-accordion_expand">
                        <ul>
                            <li>TFS #371278 MRAP Content and Structure Change (Added Weight and Dimensions) Update Part 1 and Merchandise Return merge into ERP </li>
                        </ul>
                    </div>
                </li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">05/19/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>ERP - Updated Label landing page</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">04/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Electronic Return (Label Landing Page) - Spec update, TFS: [343390]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/17/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Electronic Return - Added Images, TFS: [317359]</li>
                            <li>Electronic Return - Edit Gruntfile for build TFS: [317344]</li>
                            <li>Electronic Return - Added Angular2 functionaility TFS: [317354]</li>
                            <li>Electronic Return - Added Angular2 fragment templates TFS: [317349]</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/31/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added Main Page and Expired Page</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
