<div class="appLvl modal-dialog mod modal dialog">
  <div class="appHead clearfix">
		<h2 class="ups-modal_heading">Subscribe to Pickup Point Alerts</h2>
		<!-- <ul>
			<li>
				<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
			</li>
		</ul> -->
		<button id="modalClose" class="close ups-modal-close-icon">
			<span class="icon ups-icon-x" aria-hidden="true"></span>
			<span class="ups-readerTxt">Close dialog</span>
		</button>
	</div>
  <div class="modal-body appBody">
   <form action="repl_fname">
    <table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
   <!-- Begin Module Dynamic Panels -->
        <tr>
            <td>
                <div>
                    <span class="label">Success - you have [subscribed to][updated]:</span>
                </div>
                <div class="indent">
                    <p>
                        [Pickup Point ID] - [123 - 456]
                    </p>
                    <p>
                        [Nickname]
                    </p>
                    <p>
                        [Address] [City, State] [ZIP]
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="btn-bar">                
                    <button class="ups-cta ups-cta_primary text-center" name="repl_name">OK</button>
            </td>
        </tr>
    </table>
</form>
	</div>
</div>
<script type="text/javascript">
<!-- // All Fail Error // -->
<!-- width of modal should be set to 470 -->
<!-- // END - All Fail Error // -->

$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:790});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});


</script>