<div class="appLvl modal-dialog mod modal dialog">
  <div class="appHead clearfix">
		<h2 class="ups-modal_heading">Subscribe to Pickup Point Alerts</h2>
		<!-- <ul>
			<li>
				<input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
			</li>
		</ul> -->
		<button id="modalClose" class="close ups-modal-close-icon">
			<span class="icon ups-icon-x" aria-hidden="true"></span>
			<span class="ups-readerTxt">Close dialog</span>
		</button>
	</div>
  <div class="modal-body appBody">
      <div class="ups-application_wrapper ups-form_wrap">
   <form action="repl_fname">
    <!--<table border="0" cellspacing="0" cellpadding="0" id="modal" class="mod">
        <tr>
            <td>-->
                <div>
					<p>Enter the desired email address, mobile number, or both to receive alerts for any UPS Pickup point.</p>
				</div>
                <div class="error">
                    <p>
                        &gt;&gt;&gt; Error message placeholder text onSubmit
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="ups-form_group">
                            <label for="subEmail" class="ups-form_label">Email</label>
                            <p class="ups-form_subheader">
                                address@email.com
                            </p>
                            <div class="ups-text_wrapper ups-input_wrapper">
                                <input type="text" name="repl_name" value="" class="ups-form_input" id="subEmail" aria-describedby="subEmail_error"  required aria-required="true">
                            </div>
                            <span class="ups-icons-error" id="subEmail_error" role="alert">
                            	<span class="ups-invalid_color">
                                	<span class="icon ups-icon-exclamation ups-error_exclamation" aria-hidden="true"></span>
                                    <span class="ups-readerTxt"> Invalid</span>
                                    <span>Error message placeholder text onBlur.</span>
                                </span>
                            </span>
                        </div>
                        <div class="ups-form_group">
                            <label for="subPhone" class="ups-form_label">Email</label>
                            <div class="ups-text_wrapper ups-input_wrapper">
                                <input type="text" name="repl_name" value="" class="ups-form_input" id="subPhone">
                            </div>
                        </div>
                    </div>
                </div>

                <!--<dl role="presentation">
                    <dt>

                        <div class="reqTxtInst"></div>
                    </dt>
                    <dd>
                        <input type="text" size="30" name="repl_name" value="">
                        <div class="error">
                            Error message placeholder text onBlur
                        </div>
                    </dd>
                </dl>

                <dl role="presentation">
                    <dt>
                        <label for="">Mobile Phone Number</label>
                    </dt>
                    <dd><input type="text" size="30" name="repl_name" value=""></dd>
                </dl>-->
            <!--</td>
        </tr>
        <tr>
			<td>--><p>
            <strong>Please Note:</strong> any existing alert subscription email address or mobile number values will be updated if you edit the email address or mobile number shown above.
        </p><!--</td>
		</tr>
        <tr>
            <td class="btn-bar"> -->
            <div class="text-center">
                <button class="ups-cta ups-cta_primary text-center" name="repl_name">Submit</button>
            </div>
        </form>
        </div>
</div>
</div>
<script type="text/javascript">
<!-- // All Fail Error // -->
<!-- width of modal should be set to 470 -->
<!-- // END - All Fail Error // -->

$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:790});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});


</script>
