---
title: ct1_shi_ftc(3wer)
layout: legacy.hbs
version: v4
appID: com.ups.FCTC
appCSS: ups.legacy_overrideFCTC
dir: rtl
lang: en
---

 <div id="main">
 {{> "ct1_shi_ftc(3wer)_partial"}}
</div>
