@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_RightRail";
@import "../../../../../../common/apps/assets/sass/appCSS/partials/legacy_override_Desktop";
#main {
	#shipToAddressDetails{
		fieldset{
			div.subcol9.marginBegin{
				clear: both;
			}
		}
	}
	#packageSummary table td.sel {
		padding-top: 5px;
	}
	#addressLinks dl {
		float: $default-float;
		margin-#{$opposite-direction}: 15px;
	}
	#serviceSummary {
		.secBody .secLvl {
			.secBody {
				padding-top: 10px !important;
				padding-#{$opposite-direction}: 20px !important;
				margin-bottom: 15px;
			}
			.secFooter {
				margin-top: 15px;
				.btnBar {
					margin: 0;
					padding-#{$opposite-direction}: 20px;
				}
			}
		}
	}
	#shipmentSummary {
		.outHozFixed1 {
			padding: 15px 15px 0;
		}
	}
	////style checkboxes
	#serviceInfo {
		input[type=checkbox] {
			z-index: 1;
		}
		#NeedAS {
			z-index: 1;
		}
	}
	#confirm .secHead h3 {
		color: $white !important;
	}
	.secLvl.step {
		.secLvl:not(.message) {
			border: none;
		}
		.secLvl.message .secHead {
			h3, h4 {
				color: $white !important;
			}
		}
		.secBody:nth-child(5) {
			margin-top: 50px; //may not need
		}
	}
	.whiteBoldHead {
		font: {
			family: $sans-bd;
			size: 1.17em;
		}
	}
	.blueBoldHead,
	.blueboldHead,
	.blueboldhead,
	h1 {
		@include ups-serifHeader;
	}
	p.criticalMessage,
	p.error {
		// for defect id 298460
		/*display: none;*/
	}
	span.bold {
		font-family: $sans-bd;
		font-weight: normal;
	}
	img[alt="Help"] {
		height: 14px;
		width: 14px;
		margin-#{$default-float}: 5px;
	}
	td {
		span.modsubheader {
			font-family: $sans-bd;
			// font-size: 1.12em;
		}
		.revalign {
			float: $opposite-direction;
		}
		input[name="UserID"],
		input[name="Password"] {
			@include ups-textbox;
		}
		input[name="Password"] {
			margin-bottom: 30px;
		}
		.reqTxtInst ~ img {
			background: $black_s1;
		}
		input[value="Log In"] {
			@include ups-legacy_cta($water_s3);
		}
	}
	& + p {
		text-align: center;
		font-family: $sans;
	}
	input[size='35'] {
		width: 250px;
	}
	.cobrand {
		//border-#{$default-float}: 1px solid #6e6e6e;
		//border-#{$opposite-direction}: 1px solid #6e6e6e;
		//border-bottom: 1px solid #6e6e6e;
		margin-bottom: 10px;
		//width: 566px;
	}
	#multiPackage {
		table {
			width: 100%;
		}
		#tabHeader + table {
			border-top: 1px solid #6e6e6e;
		}
		#tabHeader + table img,
		#pageHeaderTitle + table + table + table td:first-child img {
			display: none;
		}
		#tabHeader {
			border-bottom: none;
		}
		#packageTab.tab-on {
			z-index: 1!important;
			border-bottom: none!important;
		}
		#tabHeader .tab-off {
			border-bottom: none
		}
		#tabHeader li {
			bottom: -1px!important;
		}
		.modcolor,
		#main .modbordercolor {
			border-#{$default-float}: 1px solid #6e6e6e;
			border-#{$opposite-direction}: 1px solid #6e6e6e;
		}
		.instrpad {
			padding: 10px;
		}
		#pageHeaderTitle + table + table + table {
			border-#{$default-float}: 1px solid #6e6e6e;
			border-#{$opposite-direction}: 1px solid #6e6e6e;
		}
		.mod-line {
			background-color: transparent;
		}
		table.modbordercolor2, table.moddividercolor2, table.butbarbgcolor2 {
			border-#{$default-float}: 1px solid #6e6e6e;
			border-#{$opposite-direction}: 1px solid #6e6e6e;
		}
	}
	#ifwaEnterProdDetails {
		.btnlnkL.saveMini {
			padding-#{$default-float}: 18px;
		}
	}
	div.appHead{
		h2{
			sup{
				color: $black_s4;
			}
		}
	}
}

.mod .appHead {
	border: none !important;
}

form[name="mainPageForm"] {
	.appLvl {
		width: auto;
		input[type="text"] {
			width: 100%;
		}
		#shipmentTotalNumberOfPieces,
		input[name="shipmentBean.pkgLength"],
		input[name="shipmentBean.pkgWidth"],
		input[name="shipmentBean.pkgHeight"]{
		width: auto;
		}
		.appFooter input[name='EnterDescForFormsNextAction_img'] {
			display: none;
		}
	}
	.col24{
		width: 950px;
	}

	.cobrand {
		width: 550px;
	}
}

.ui-dialog.ui-widget.modal{
	margin:0 auto!important;
	#{$default-float}:0!important;
	width:700px!important;
}
#prodName {
    margin-#{$opposite-direction}: 10px;
}
#SaveOrUpdateProduct{
top: 5px;
}
#productChange {
text-align:$default-float
}
.lstProgress .number {
	padding-#{$default-float}:65px!important
}
#main {
	#serviceSummary.secLvl .secBody dl dd {
    position:static;
	}
	form[name='mainPageForm'] .appLvl  {
		.appBody {
			.dataTable {
				margin-top: 20px;
				th .btnlnkR {
					width: auto;
					&::after {
						margin-#{$default-float}: 2px;
					}
				}
			}
			> p > .btnlnkL.saveMini {
				padding-#{$default-float}: 18px;
			}
		}
	}
}
#weightDiv input[type=text]
,#InsuredAmountDiv input[type=text]
,#customsValueDiv input[type=text] , #descOfGoodsDiv input[type=text] {width:35%!important}

form[name='mainPageForm'] .cobrand {
	border:none!important
}

#shipperStaticAddress {
	white-space:nowrap;
}
h2,h3,h4,h5,h6 {color:inherit!important}
#addProductError.error,.ui-dialog.ui-widget a span.error{color:$red}

.header2 {
display:inline-block;
        font-family: "BerlingskeSans Serif",Georgia,Times,serif!important;
    margin: 0;
    font-size: 2.5em;
    font-weight: normal;
    color: #242424;
    padding: 15px 0 20px 0;
    position: relative;
}
.modheader {font-weight:bold}

@media print {
@page {
	margin:auto!important;
}
    body.ups-hasAlerts.ups-appPage {
        top:0px!important;
        padding:0px!important;
        margin:0px!important;
    }
body{margin:0.1in 0.2in}
#addressSummary , #shipmentSummary ,#serviceSummary,#serviceSummary {width:950px}

    body.ups-appPage table:not(.tableForLabel) {
        height:auto !important;
        img {
            height:auto !important;
        }
    }

 }

#producerInfoDialog,#intRecipAddressDlg,#ultmtRecipAddressDlg{width:100%!important}
#intRecip br,#shipTo br ,#intRecip br,#ultmtRecipState br,#ultmtRecipPostal br,#ultmtRecip br {display:none}
#shipToState,#shipToPostal,#intRecipState,#intRecipPostal,#ultmtRecipState,#ultmtRecipPostal{display:block}

#ultmtRecipContactName , #ultmtRecipName,#ultmtRecipCountry,#ultmtRecipStreet,#ultmtRecipAddr2,#ultmtRecipAddr2,#ultmtRecipAddr3,#ultmtRecipCsp1,
#ultmtRecipCsp3,#shipToContactName,#shipToName,#shipToCountry,#shipToStreet,#shipToAddr2,#shipToAddr3,#shipToCsp1,#shipToCsp2,#shipToCsp3,#shipToPhone,#intRecipName,#intRecipCountry,#intRecipStreet,#intRecipAddr2,#intRecipAddr3,#intRecipCsp1,#intRecipCsp2,#intRecipCsp3,#taxIDNumberLabel,#repl_id17,#repl_id19,#intRecipAddressBookOptionLabel,#intRecipAddressBookSaveAsLabel,#ultmtRecipState,#ultmtRecipPostal,#ultmtRecipAddressBookOptionLabel,#ultmtRecipAddressBookSaveAsLabel {
    padding: 20px 0 0 0
}
#shipToPhone{padding-bottom:20px;}
#hide_form .label{color:#242424}
#totalDimensionalWeight,#shipmentDeclaredValue {
 width: 246px;
    float: $default-float;
}
#dimWeightUOMMetric , #dimWeightNonUOMMetric,#dvReqImg {
    display: inline-block;
    float: $default-float;
    padding-top: 10px;
    padding-#{$default-float}: 10px;
}
#packageTypeFieldsContainer p:last-of-type{clear:both;padding-top:10px}
#InsuredAmountDiv{width: 300px;}
#InsuredAmountDiv input[type=text]#packageBean_insuredAmount{width:81%!important}
#InsuredAmountDiv #dvReqImg {float:$opposite-direction}

#main #shipmentSummary .dataTable:not(.sel) tbody td:not(:last-child) { border-#{$opposite-direction}:none;}
#main #shipmentSummary .dataTable:not(.sel) tbody:first-child tr th
 {border-#{$opposite-direction}:none;border-bottom:1px solid}
#main .dataTable:not(.sel) {border:1px solid}
#shipmentWeight {width:39%}
form[name="mainPageForm"] .appLvl input[name="shipmentBean.weight"] {width:85%}
#decValueDiv dd {line-height:40px}
#decValueDiv {width:39%}
#dvReqImg {padding-#{$default-float}:0;float:$opposite-direction}

@media (max-width: 767px){
.ups-list .list-col-bullets {
    margin-#{$default-float}: auto;
    margin-#{$opposite-direction}: auto;
}
}
#dialog.ui-dialog-content {height:auto!important}
@media (max-width: 767px){

.ups-list .ups-list-col_bullets {
    margin-left:auto!important;

}
.ups-list .ups-list-col_bullets {
        margin-left:auto!important;

    }
}

#main .secLvl:not(.cmsMsg) .secBody dl dd {position:static;}


// allow printable barcode to be natural width so that the width="120" html tag property doesn't shrink it and make it unscannable

//commenting out rule to prevent shipping label from showing up on 2 pages. TFS# 506446
//the white space in the image should be removed instead of using CSS to try and fix this
/*.instructions-div > .tableForLabel td > img {
	width: auto;
}*/
