
<form action="repl_fname">
  <div class="appLvl ups-application_wrapper ups-form_wrap">
    <table width="422" border="0" cellspacing="0" cellpadding="0" class="mod">
        <tr>
            <th><div class="head-col3">
                    <h2>Report Package Problem</h2>
                    <ul>
                        <li class="helpmini"><a href="javascript:repl_function('repl_href')">Help</a></li>
                    </ul>
                    <div style="clear:both;"></div>
                </div></th>
        </tr>
        <tr>
            <td><div class="pi-m-pad redErrorBold"> >>>Error message </div></td>
        </tr>
        <tr>
            <td><div class="introMod">
                    <p>Enter the UPS Tracking Number and indicate if you are the shipper.  Required fields are shown in <b>bold</b></p>
                </div>

                <!-- Begin Module -->

                <div class="modFixed3col">
                    <div class="modContent">
                        <fieldset>
                            <legend>Package Information</legend>
                            <dl>
                                <dt>
                                    <label for="tracking_num">UPS Tracking Number</label>
                                </dt>
                                <dd>
                                    <input name="repl_name" type="text" size="32" id="tracking_num">
                                </dd>
                                <dt>
                                    <label for="">Are you the shipper?</label>
                                </dt>
                                <dd>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td><input name="repl_fname" type="radio" value="repl_fvalue" id="yes"></td>
                                            <td><label for="yes" class="sel">Yes</label></td>
                                        </tr>
                                        <tr>
                                            <td><input name="repl_fname" type="radio" value="repl_fvalue" id="no"></td>
                                            <td><label for="no" class="sel">No</label></td>
                                        </tr>
                                    </table>
                                </dd>
                                <dt>
                                    <label for="">Type of Problem:</label>
                                </dt>
                                <dd>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td><input name="repl_fname" type="radio" value="repl_fvalue2" id="package_lost"></td>
                                            <td><label for="package_lost" class="sel">The package is lost.</label></td>
                                        </tr>
                                        <tr>
                                            <td><input name="repl_fname" type="radio" value="repl_fvalue2" id="package_damaged"></td>
                                            <td><label for="package_damaged" class="sel">The package is damaged.</label></td>
                                        </tr>
                                        <tr>
                                            <td><input name="repl_fname" type="radio" value="repl_fvalue2" id="cod"></td>
                                            <td><label for="cod" class="sel">A C.O.D. payment was not collected.</label></td>
                                        </tr>
                                    </table>
                                </dd>
                            </dl>
                        </fieldset>
                    </div>
                </div>

                <!-- End Module --></td>
        </tr>
        <tr>
            <td class="btn-bar"><div class="btn-colFull">
                    <input name="repl_name" type="submit" value="Continue" class="btn_a">
                </div></td>
        </tr>
    </table>

    <!-- Begin Note Table -->

    <!--table border="0" cellpadding="0" cellspacing="0" width="422" class="note">
    <tr>
      <td><span class="reqTxtInst">For problems other than those listed above, please e-mail or call UPS Customer Service at 1-800-PICK-UPS&reg; (1-800-742-5877).</span></td>
    </tr>
  </table-->

    <!-- Abdel Code -->

    <!-- Begin Process Claim Note-->
    <table width='422' border='0' cellpadding='0' cellspacing='0' class='note'>
        <tr>
            <td><dl>
                    <dt>
                        <label >Claims Process</label>
                    </dt>
                    <dd>
                        <!-- Begin Update 04/24/17 RFC8546 -->
                        <!--<span class="reqTxtInst">Learn about online process for reporting a lost or damaged package and for reporting a C.O.D payment that was not received.</span> -->

                        <p>Learn about online process for reporting a lost or damaged package and for reporting a C.O.D payment that was not received.</p>
                        <!-- End Update 04/24/17 RFC8546 -->
                    </dd>
                </dl></td>
        </tr>
        <tr>
            <td><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Lost Package Claims Process</a><br>
                <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Damaged Package Claims Process</a><br>
                <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Uncollected C.O.D. Process</a><br></td>
        </tr>
    </table>
    <!-- End Process Claim Note -->

    <table width="422" border="0" cellspacing="0" cellpadding="0" class="pop">
        <tr>
            <td><div class="introMod">
                    <p></p>
                </div>

                <!-- Begin Module -->

                <div class="modFixed3col">
                    <div class="modContent">
                        <!-- Begin Update 04/24/17 RFC8546 -->
                        <!-- Removed from Dom
            <fieldset>
            <legend></legend> -->
                        <!-- End Update 04/24/17 RFC8546 -->
                        <dl>
                            <!-- Abdel Code -->
                            <dt><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Check Claim Status, Submit Documents, or Cancel a Claim</a></dt>
                            <dd>Monitor the status of your lost or damaged package or uncollected C.O.D., submit documents in support of a claim, or cancel a claim from the Check Status page after entering package details.</dd>
                            <dt><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Claims History</a></dt>
                            <dd>View the history of your lost or damaged packages or the history of your uncollected C.O.D. searches filed with UPS.</dd>
                            <dt><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Claims Preferences</a></dt>
                            <dd>You can customize your preferences to determine how information displays in Claims History.</dd>
                            <dt><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Preventing a Claim</a></dt>
                            <dd>Learn how to prevent a claim through these helpful suggestions developed by UPS packaging engineers.</dd>
                            <dt><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Administration</a></dt>
                            <dd>Customize the claims process by using available administration functions.</dd>
                        </dl>
                        <!-- Begin Update 04/24/17 RFC8546 -->
                        <!-- Removed from Dom
            </fieldset> -->
                        <!-- End Update 04/24/17 RFC8546 -->
                    </div>
                </div>

                <!-- End Module --></td>
        </tr>
    </table>
    <!-- Begin Note Table -->
    <table border="0" cellpadding="0" cellspacing="0" width="422" class="note">
        <tr>
            <td><!-- Begin Update 04/24/17 RFC8546 -->
                <!--<strong>Note:</strong> Request for Guaranteed Services Refunds (GSRs) cannot be made online. To request a GSR, please call 1-800-PICK-UPS&reg;. For details regarding the terms of UPS's liability for packages that are lost or damaged, or for C.O.D. shipments for which you did not receive a payment, please see the <a href="repl_href">UPS Tariff/Terms and Conditions of Service </a>. For problems other than those listed above, please contact UPS by selecting the link below.<br><img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Contact UPS</a>-->

                <strong>Note:</strong> Request for Guaranteed Services Refunds (GSRs) cannot be made online. To request a GSR, please call 1-800-PICK-UPS&reg; (1-800-742-5877). For details regarding the terms of UPS's liability for packages that are lost or damaged, or for C.O.D. shipments for which you did not receive a payment, please see the UPS Tariff/Terms and Conditions of Service. For problems other than those listed above, please contact UPS by selecting the link below. <br>
                <img align="bottom" alt="" border="0" height="8" src="/img/icn_arrow_blue_nav.gif" width="11"><a href="repl_href">Contact UPS</a>
                <!-- End Update 04/24/17 RFC8546 --></td>
        </tr>
    </table>
</div>
</form>
