---
title: Claims Dashboard
appId: cou
dir: ltr
lang: en
ang2: true
ang2ID: cou
---
<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<main id="ups-main">
    <div class="ups-form_wrap ups-application_wrapper">
        <div>
            <ups-cou-app>Loading...</ups-cou-app>
        </div>
    </div>
</main>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
