---
title: M08 Tabs
layout: default_ar.hbs
dir: rtl
lang: ar
---

<!-- ************************************************************************************ -->
<!-- M08 Tabs                                                                             -->
<!-- For full documentation of M08 Tabs see partial                                       -->
<!-- partials/modules/M08_tabs.hbs                                                        -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

M08 Tabs Full
M08 Tabs Body

********************************************************************************
--}}

{{!--
********************************************************************************
M08 Tabs Full
********************************************************************************
--}}

{{>ts_component_start}}
	{{> M08_tabs tabs}}
{{>ts_component_end}}

<br><br><br><br><br><br>

{{> ts_rr_start}}

{{!--
********************************************************************************
M08 Tabs Body
********************************************************************************
--}}  
	{{>ts_component_start}}
		{{> M08_tabs tabs}}
	{{>ts_component_end}}

{{> ts_rr_mid}}
    <div style='width:100%;height:300px;background:#eee;border:3px dotted black;'></div>
{{> ts_rr_end}}
