---
title: M10 Article
layout: default_ar.hbs
dir: rtl
lang: ar
---

<!-- ************************************************************************************ -->
<!-- M10 Article                                                                          -->
<!-- For full documentation of M10 Article see partial                                    -->
<!-- partials/modules/M10_article.hbs                                                     -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

M10 Article Full
M10 Article Body

********************************************************************************
--}}

{{!--
********************************************************************************
M10 Article Full
********************************************************************************
--}}

{{>ts_component_start}}
	{{> M10_article M10_articlePage}}
{{>ts_component_end}}

{{> ts_rr_start}}

{{!--
********************************************************************************
M10 Article Body
********************************************************************************
--}}
			{{>ts_component_start}}
            	{{> M10_article M10_articlePageB}}
			{{>ts_component_end}}

{{> ts_rr_mid}}
           <div style='width:100%;height:300px;background:#eee;border:3px dotted black;'></div>
    
{{> ts_rr_end}}