---
title: M13 Legacy Tabs
dir: ltr
lang: en
breadcrumb: [{name: Home, link: home.html}]
---

<!-- ************************************************************************************ -->
<!-- M13 Legacy Tabs                                                                      -->
<!-- For full documentation of M13 Legacy Tabs see partial                                -->
<!-- partials/modules/M13_legacyTabs.hbs                                                  -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

M13 Legacy Tabs Full
M13 Legacy Tabs Body

********************************************************************************
--}}

{{!--
********************************************************************************
M13 Legacy Tabs Full
********************************************************************************
--}}

{{>ts_component_start}}
	{{> M13_legacyTabs legacyTabs.tabs_two_rtl}}
{{>ts_component_end}}  

<div class="ups-wrap">
    <div style='width:100%;height:300px;background:#ffd366;border:3px dotted black;margin:60px 0;'></div>
</div>


{{> ts_rr_start}}

	{{>ts_component_start}}
		{{> M13_legacyTabs legacyTabs.tabs_two_rtl}}
	{{>ts_component_end}}  
			
	<div class="ups-wrap">
		<div style='width:100%;height:300px;background:#ffd366;border:3px dotted black;margin:60px 0;'></div>
	</div>

{{> ts_rr_mid}}

    <div style='width:100%;height:300px;background:#eee;border:3px dotted black;'></div>

{{> ts_rr_end}}