---
title: M19 Media Player
layout: default_ar.hbs
dir: rtl
lang: ar
---

<!-- ************************************************************************************ -->
<!-- M19 Media Player                                                                     -->
<!-- For full documentation of M19 Media Player see partial                               -->
<!-- partials/modules/M19_media_player.hbs                                                -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

M19 Media Player Full

********************************************************************************
--}}

{{!--
********************************************************************************
M19 Media Player Full
********************************************************************************
--}}

<div class="ups-wrap">
    <div class="ups-wrap_inner">
        <a class="ups-popUp_link" href="M19_media_player-light-rtl.html">Pop Up Link</a>
        <br><br>
    </div>
</div>

{{>ts_component_start}}
	{{> M19_media_player media}}
{{>ts_component_end}}
