---
title: M23 Follow Me
dir: rtl
lang: ar
---

{{>ts_component_start}}
	{{> M23_follow_me M23_followMe}}
{{>ts_component_end}}

{{> ts_rr_start}}
	{{>ts_component_start}}
    	{{> M44_content_block contentBlockPage}}
	{{>ts_component_end}}
{{> ts_rr_mid}}
	<div style='width:100%;height:300px;background:#eee;border:3px dotted black;'></div>
{{> ts_rr_end}}
