---
title: M24 Calendar
dir: ltr
lang: en
---

<!-- Not for Dev -->
<div class='ups-detail-header ups-wrap'>
    <div class="ups-wrap_inner">
        <p>For demo purposes the only months available are April - June, 2016. "Today" is simulated as May 4th, 2016.</p>
    </div>
</div>
<!-- @end NfD -->
{{> ts_rr_start}}
	{{>ts_component_start}}
    	{{> M24_calendar}}
	{{>ts_component_end}}
{{> ts_rr_mid}}
	<div style='width:100%;height:300px;background:#eee;border:3px dotted black;'></div>
{{> ts_rr_end}}