---
title: M31 Author Bio
layout: default_ar.hbs
dir: rtl
lang: ar
---

<div class="ups-wrap">
    <div class="ups-wrap_inner">
        <a class="ups-popUp_link" href="M31_author_bio_light.html">Pop Up Link</a>
        <br><br>
    </div>
</div>

{{>ts_component_start}}
	{{> M31_author_bio M31_author_bioPage}}
{{>ts_component_end}}

{{> ts_rr_start}}
	{{>ts_component_start}}
    	{{> M31_author_bio M31_author_bioPage}}
	{{>ts_component_end}}
{{> ts_rr_mid}}
	{{>ts_component_start}}
    	{{> M31_author_bio M31_author_bioPage}}
	{{>ts_component_end}}
{{> ts_rr_end}}