---
title: M55 Ship By
layout: default_ar.hbs
dir: rtl
lang: ar
---

<!-- ************************************************************************************ -->
<!-- M55 Ship By                                                                          -->
<!-- ************************************************************************************ -->

{{!--
********************************************************************************
OPTIONS
********************************************************************************

M55 Ship By Full 
M55 Ship By Body
M55 Ship By Aside

********************************************************************************
--}}

<!-- Not for Dev -->
<div class='ups-detail-header ups-wrap'>
    <div class="ups-wrap_inner">
        <h2>Ship By, All Open | Full</h2>
    </div>
</div>
<!-- @end NfD -->

{{>ts_component_start}}
	{{> M55_ship_by ship-by.default}}
{{>ts_component_end}}

<br><br><br><br><br><br>

<!-- Note for Dev -->
<div class='ups-detail-header ups-wrap'>
    <div class="ups-wrap_inner">
        <h2>Ship By | LVP Body & Rail</h2>
    </div>
</div>
<!-- @end NfD -->

{{> ts_rr_start}}
	{{>ts_component_start}}
    	{{> M55_ship_by ship-by.color}}
	{{>ts_component_end}}
{{> ts_rr_mid}}
	{{>ts_component_start}}
    	{{> M55_ship_by ship-by.default}}
	{{>ts_component_end}}
{{> ts_rr_end}}