---
title: M59 Services Alerts
layout: default_ar.hbs
dir: rtl
lang: ar
---

{{>ts_component_start}}
	{{> M59_service_alerts service_alerts_zip}}
{{>ts_component_end}}

{{> ts_rr_start}}
	{{>ts_component_start}}
    	{{> M59_service_alerts service_alerts_zip}}
	{{>ts_component_end}}
{{> ts_rr_mid}}
	<div style='width:100%;height:300px;background:#eee;border:3px dotted black;'></div>
{{> ts_rr_end}}