<!-- Promotion Applied Modal -->
<div class="ups-box-modal  ups-modal-container">
	<div class="ups-modal-container">
		<p>There was a problem adding the promtional discount to your account Please use Live Chat or call 1-800-Pick-UPS for assistance.</p>
		<img alt="Alt Picture" class="img-responsive" src="/assets/resources/images/fpo-174x40.gif"> 
		<div class="ups-form_ctaGroup text-center">
			<button class="ups-cta ups-cta_primary" data-ng-click="closeDialog()">Close</button>
		</div>
		<div class="ups-cms-demo">
			<button class="ups-cta ups-cta_secondary" ng-click="applyDiscount()">Apply Discount Default - (No Error)</button>
		</div>
	</div>
</div>
<!-- End Promotion Applied Modal -->
