---
title: Legacy CampusShip Settings
dir: ltr
lang: en
layout: legacy.hbs
appCSS: campusShipAdmin
app: true
---

 

 

<div class="ups-wrap">
    <div class="ups-wrap_inner">      
       
       <!-- SearchBodyStart -->
         <div class="ccacmpad1">

 


  

	


<!-- CSAdmin Header::CSA v15.10.01 Build Created On: 09/04/2015 -->


<!--	Spec Page ID(s):

		Page ID(s):

		Page Name:
			MySetttings
  -->

	<!-- begin application content -->
	
	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Manage&#x20;My&#x20;Settings&#x20;Information&#x20;</span>
		<!-- end page title -->
	 	
		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
		
		Access your personal user settings: edit your profile information, change your password and set your shipping preferences.
		<br><img alt="" height="4" border="0" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1">
    	<br>You may also access your available address books.
		<!-- end instructional text -->
		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->
	
	<!-- begin profile and preference settings module -->
	<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>
		
		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_333366.gif" width="10"></td>
			<td width="49%">
			
			<!-- begin module title -->
			<span class="whiteBoldHead">Profile and Preference Settings</span>
			<!-- end module title -->
			
			</td>
			<td width="49%">
			
			<!-- begin module navigation -->
			&nbsp;<!-- <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="https://www.campusship.ups.com/img/btn_help.gif" width="15"></a></div> -->
			<!-- end module navigation -->
			
			</td>
			<td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_333366.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->
		
		</td>
	</tr>
	<tr>
		<td>
		
		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="5"><img alt="" border="0" height="3" src="https://www.campusship.ups.com/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">
			
			<!-- begin left content column -->
			<span class="modsubheader">UPS CampusShip Profile Information</span>
			<br>			
			
			<div class="modpadbullet">
				<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
				<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/1.gif" width="1" >
				<a href="/csadmin/edituserprofile?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D">
				Edit User Profile</a>
			</div>
				
			<div class="modpadbullet">
				
					<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
					<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/1.gif" width="1" >
					<a href="/csadmin/changepassword?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D">
					Change Password</a>
				
			</div>

			<!-- end left content column -->
			
			</td>
			<td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">
			
			<!-- begin right content column -->
			<span class="modsubheader">Shipping Preferences Settings</span>
			<br>
			<!-- <div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Edit Ship From Address</a></div> -->
			
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
				<a href="https://www.campusship.ups.com/cship/create?ActionOriginPair=PreferencesPage___StartSession&returnto=https%3A%2F%2Fwww%2Ecampusship%2Eups%2Ecom%2Fcampusship%2Fmysettings">
				Edit Shipping Preferences</a></div>
			
			<!-- <div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8"><a href="repl_href">Edit Shipper Export Declaration (SED) Preferences</a></div> -->
			<!-- end right content column -->
			
			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->
				
		</td>
	</tr>
	</table>
	<!-- end profile and preference settings module -->
	
	<br>
	
	<!-- begin address books module -->
	<table bgcolor="#333366" border="0" cellpadding="2" cellspacing="0" width="566">
	<tr>
		<td>
		
		<!-- begin module header -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_333366.gif" width="10"></td>
			<td width="49%">
			
			<!-- begin module title -->
			<span class="whiteBoldHead">Address Books</span>
			<!-- end module title -->
			
			</td>
			<td width="49%">
	
			<!-- begin module navigation --> 
			&nbsp; <!-- <div align="right"><a href="repl_href" class="white">Help<img alt="Help" border="0" height="11" src="https://www.campusship.ups.com/img/btn_help.gif" width="15"></a></div> -->
			<!-- end module navigation -->
			
			</td>
			<td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_333366.gif" width="10"></td>
		</tr>
		</table>
		<!-- end module header -->
		
		</td>
	</tr>
	<tr>
		<td>
		
		<!-- begin module column spacing table - 3 columns with 2 spacer columns and 1 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#996633" colspan="3"><img alt="" border="0" height="3" src="https://www.campusship.ups.com/img/xln_996633.gif" width="1"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="98%">

			<!-- begin content column -->
			Access and modify your address books here.  Some functions may display only if the administrator has allowed that privilege.
			
			<!-- end content column -->

			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="3"><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->
		
		<!-- begin module column spacing table - 5 columns with 3 spacer columns and 2 content columns -->
		<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
		</tr>
		<tr>
		    <td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">
			
			<!-- begin left content column -->
			<span class="modsubheader">Corporate Address Book</span>
			<br>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
				<a href='/csadmin/searchaddressbook?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D'>
				Search Corporate Address Book</a></div>
			
			<!-- if the user has a corporate address book and can manage the corporate address book -->
			
				
				<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
					<a href='/csadmin/createaddress?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D'>
					Create New Address</a></div>
					
					
					<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
						<a href='/csadmin/distlist?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D'>
						Distribution Lists</a></div>
					
				<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
					<a href="/csadmin/importgab?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D">
					Import Addresses</a></div>
					
				<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
					<a href='/csadmin/managefiles?system.action=managefiles&export=true&booktype=01&reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D'>
					Export Addresses</a></div>
				
				<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
					<a href="/csadmin/manageaddressgroups">
					Manage Address Groups</a></div>
					
			
			<!-- end manage corporate adddress book if -->
			<br>
			<!-- end left content column -->
			
			</td>
			<td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="10"></td>
		    <td valign="top" width="48%">
			
			<!-- begin right content column -->
			<span class="modsubheader">My UPS Address Book</span>
			<br>
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
				<a href='/csadmin/searchmyupsaddressbook?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D'>
				Search My UPS Address Book</a></div>
			
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
				<a href='/csadmin/createmyupsaddress?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D'>
				Create New Address</a></div>
			
				
				<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
				<a href='/csadmin/myudistlist?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D'>
				Distribution Lists</a></div>
			
            <div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
            	<a href="/csadmin/importpab?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D">
				Import Addresses</a></div>
			
			<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
				<a href='/csadmin/managemyupsfiles?system.action=managefiles&export=true&booktype=03&reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D'>
        		Export Addresses</a></div>
        		
        	<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
        		<a href="/csadmin/statuspab?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQACk15U2V0dGluZ3M%3D">
				Import / Export Status</a></div>
			
			<!-- end right content column -->
			
			</td>
		    <td width="1%"><img alt="" border="0" height="1" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="10"></td>
		</tr>
		<tr>
		    <td colspan="5"><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td>
		</tr>
		</table>
		<!-- end module column spacing table -->
				
		</td>
	</tr>
	</table>
	<!-- end address books module -->
	
	

<!--	Spec Page ID(s):

		Page ID(s):

		Page Name:
			CompanySupportInformation
  -->
  
	<table border="0" cellpadding="3" cellspacing="3" width="566">
	<tr>
		<td>
			<div align="center" class="cobrand">
				<br>
				Company Support: 
				678-746-8544
				
				<br>
				<A HREF='mailto:esc1tgp@ups.com'>
					esc1tgp&#x40;ups.com
			    </A>
			</div>
		</td>
	</tr>
	</table>


	
	<!-- end application content -->
	
</div>
         <!-- SearchBodyEnd -->
             </div>
</div>