---
title: Legacy CampusShip Admin
dir: ltr
lang: en
layout: legacy.hbs
appCSS: campusShipAdmin
app: true
original: true
---

{{> M14_breadcrumb}}

{{> M07_page_title}}

<div class="ups-wrap">
    <div class="ups-wrap_inner">
             <!-- SearchBodyStart -->
         <div class="ccacmpad1">

 


  

	


<!-- CSAdmin Header::CSA v15.10.01 Build Created On: 09/04/2015 -->


<!--	Spec Page ID(s):

		Page ID(s):
			admin/csadmin/adm(1ent).html

		Page Name:
			Administration
  -->


<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="566">
<tr><td><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td></tr>
<tr><td><span class="blueboldHead">Administration</span></td></tr>
<tr><td><img alt="" border="0" height="8" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td></tr>
<tr><td>
	
		The links below offer access to your UPS CampusShip Administration tasks.
</td></tr>
<tr><td><img alt="" height="4" border="0" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td></tr>
<tr><td>

 <!-- begin outline of block -->
   	<table cellspacing="0" cellpadding="2" width="100%" bgcolor="#666699" border="0">
	<tr><td>

     <!-- begin block header -->
     <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr bgcolor="#666699">
           <td height="18" width="10">&nbsp;</td>
           <td colspan="2"><span class="whiteBoldHead">Administrative Tasks</span></td>
         </tr>
        <tr><td class="modline" colspan="3"><img alt="" border="0" height="3" src="https://www.campusship.ups.com/img/xln_spacer.gif" width="1"></td></tr>

    <!-- begin block contents -->
    <tr><td colspan="3"><img alt="" height="8" border="0" src="https://www.campusship.ups.com/img/xln_ffffff.gif" width="1"></td></tr>
    <tr><td width="1%">&nbsp;</td>
        <td valign="top">
        	<!-- Manage Company link -->
        	<A HREF="/csadmin/managecompany?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
			Manage Company</A>

		<br>
			<!-- Modify Company Profile link -->
			<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		    <A HREF="/csadmin/editcompany?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		    Modify Company Profile</A></div>

			<!-- Modify Log In Labels link -->
			<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		    <A HREF="/csadmin/editlabels?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		    Modify Log In Labels</A></div>

			<!-- Modify Company Logo link -->
			<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		    <A HREF="/csadmin/importlogo?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		    Modify Company Logo</A></div>

			<br>

		<!-- Modify Locations link -->
		<A HREF="/csadmin/managelocations?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Manage Locations</A>

		<br>
			<!-- Search Locations link -->
			<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		    <A HREF="/csadmin/searchlocations?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		    Search Locations</A></div>

			<!-- Create Location link -->
			<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		    <A HREF="/csadmin/createlocation?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		    Create Location</A></div>

			<!-- Import Locations link -->
			<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		    <A HREF="/csadmin/importlocations?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		    Import Locations</A></div>

			<!-- Export Locations link -->
			<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		    <A HREF="/csadmin/searchlocationsexport?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		    Export Locations</A></div>

		<br>
		<!-- Manage Reference Numbers link -->
		<A HREF="/csadmin/managereferencenumbers?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Manage Reference Numbers</A>
		<br><div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
			Edit Reference Number List Names</div>
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
			Search Reference Number Lists</div>
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
			Create Reference Numbers</div>
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
			Import Reference Numbers</div>
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
			Export Reference Numbers</div>
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
					<A HREF="https://www.campusship.ups.com/content/us/en/admin/refNum/scheduled_import_tool.html">
			Download Scheduled Import Tool</A></div>

		<br>
		<!-- Manage Shippping Privileges link -->
		<A HREF="/csadmin/manageshippingprivileges?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Manage Shipping Privileges</A>

		<!-- Search Shippping Privileges link -->
		<br><div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/searchshippingprivileges?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Search Shipping Privileges</A></div>

		<!-- Create Shipping Privileges link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/createshippingprivileges?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Create Shipping Privileges</A></div>

        <br>
        <!-- Manage Address Groups link -->
        <A HREF="/csadmin/manageaddressgroups">
        Manage Address Groups</A>

        <br>
        <!-- Search Address Groups link -->
        <div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
        <A HREF="/csadmin/searchaddressgroups?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
        Search Address Groups</A></div>

        <!-- Create Address Groups link -->
        <div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
        <A HREF="/csadmin/createaddressgroup?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
        Create Address Groups</A></div>

		<br><br>
		</td>

		<td valign="top">
		<!-- Manage Users link -->
		<A HREF="/csadmin/manageusers?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Manage Users</A>

		<br>
		<!-- Search Users link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/searchusers?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Search Users</A></div>

		<!-- Create Users link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/createuser?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Create User</A></div>

		<!-- Delete Users link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/deleteusers?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Delete Users</A></div>

		<!-- Change User Locations link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/searchuserlocations?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Change User Locations</A></div>

		<!-- Import Users link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/importusers?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Import Users</A></div>

		<!-- Export Users link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/searchusersexport?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Export Users</A></div>

		<!-- Invite Users to Join Company link -->
		

		<br>
		<!-- Import / Export Files link -->
		<A HREF="/csadmin/managefiles?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Import / Export Files</A>

		<br/>
		<!-- Import / Export Status link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/status?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Import / Export Status</A></div>

		<!-- Import Corporate Address Book link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/importgab?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Import Corporate Address Book</A></div>

		<!-- Export Corporate Address Book link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/managefiles?loc=en_US
			&system.action=managefiles
			&export=true
			&booktype=01
		&reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">Export Corporate Address Book</A></div>


		<br>
		<!-- Administrative FAQs link -->
		<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/faq/index.html">
		Administrative FAQs</A>

		<br>
		<!-- Manage Privileges FAQ link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/faq/privileges.html">
		Manage Privileges</A></div>

		<!-- Manage Company FAQ link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/faq/company.html">
		Manage Company</A></div>

		<!-- Manage Reference Numbers FAQ link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/faq/reference_numbers.html">
		Manage Reference Numbers</A></div>

		<!-- Manage Users FAQ link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/faq/users.html">
		Manage Users</A></div>

		<!-- Manage Locations FAQ link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/faq/locations.html">
		Manage Locations</A></div>

		<!-- Using Import Tools FAQ link -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/faq/import_tools.html">
		Using Import Tools</A></div>

		<!-- ER1502 Jan 2015 - Optimizing Performance lanaTBD - check with CIM what is it. Nothing in UISpec TRS and url needed -->
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/faq/export_tools.html">
		Using Export Tools</A></div>


		<!-- ER1502 Jan 2015 Clinical Trials show clinical trials ONLY if company location has clinical trial indicator is true -->
		
			<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
			<A HREF="https://www.campusship.ups.com/content/us/en/admin/help/clinical/clinical_trials.html">
			Clinical Trials</A></div>
		
		<br>

	<!-- ER1502 Jan 2015 Clinical Trials show clinical trials ONLY if company location has clinical trial indicator is true -->
	
		<A HREF="/csadmin/managetrials?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Manage Clinical Trials</A>
		<br>
		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/searchtrials?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		 Search Clinical Trials</A></div>

		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/createtrial?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		 Create a Clinical Trial</A></div>


		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/selectclinicaltrial?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		Assign Investigative Sites</A></div>

		<div class="modpadbullet"><img alt="" border="0" height="10" src="https://www.campusship.ups.com/img/icn_bullet_4dot_996633.gif" width="8">
		<A HREF="/csadmin/custompkgtype?reqState=rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cgAQamF2YS5sYW5nLk9iamVjdAAAAAAAAAAAAAAAeHAAAAACdAALUkVUVVJOX1RPXzFzcgAyY29tLnVwcy5pbXMucGdmZXh0LklNU1JlcXVlc3RDb250ZXh0JEZvcndhcmRBY3Rpb25z3OloHqkavAIAAkwAAWF0AClMY29tL3Vwcy9pbXMvcGdmZXh0L0lNU0FjdGlvbiRBY3Rpb25UeXBlO0wAAWZ0ABxMY29tL3Vwcy9pbXMvcGdmZXh0L0ZvcndhcmQ7eHEAfgABcHNyABpjb20udXBzLmltcy5wZ2ZleHQuRm9yd2FyZBMGWuanuWxxAgABTAABZnQAEkxqYXZhL2xhbmcvU3RyaW5nO3hxAH4AAXQADkFkbWluaXN0cmF0aW9u">
		View Company Custom Package Types</A></div>

		<br>
	
		<!-- end ER1502 Jan 2015 -->
		</td>
	</tr>
</table>
		</td>
	</tr>
</table>
</td></tr>
<tr><td>
        

<!--	Spec Page ID(s):

		Page ID(s):

		Page Name:
			CompanySupportInformation
  -->
  
	<table border="0" cellpadding="3" cellspacing="3" width="566">
	<tr>
		<td>
			<div align="center" class="cobrand">
				<br>
				Company Support: 
				678-746-8544
				
				<br>
				<A HREF='mailto:esc1tgp@ups.com'>
					esc1tgp&#x40;ups.com
			    </A>
			</div>
		</td>
	</tr>
	</table>


</td></tr>
</table>
</div>
    </div>
</div>