---
title: Legacy Global Locator Search Match Selection
dir: ltr
lang: en
layout: legacy.hbs
appCSS: globalLocator
app: true
---


<!-- SearchBodyStart -->
    









<script src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1" type="text/javascript" language="Javascript"></script>
<SCRIPT src="/assets/gdol/javascript/glAutoSuggest.js?v=16.1.0.08" type="text/javascript"></SCRIPT>
<SCRIPT src="/assets/gdol/javascript/glCommon.js?v=16.1.0.08" type="text/javascript"></SCRIPT>

<SCRIPT type=text/javascript>
var country;
BING_ACCESSKEY = "AgDu3XIENOkTIbKcwaLP0AyYvqxo3809WgWzfe730QULLd_VW8zfEWg_8B5NkPvf";
$(document).ready(function() {
  $('#txtQuery').keydown(function (e) {
      if (e.which == 13) {
        $('.searchBtn').focus();
      }
  }); 
  
  $('.searchBtn').click(function() {
    callGeocode(document.landingform);
    return false;
  });
  $('#div_map').show();
  $('#currentloclink').click(function() {
    gdol_getLocation(); 
  }); 
  $('#gl_usemy_modalClose').click(function(e){
    $('#div_currentloc').dialog('close');
  });
  $('#gl_usemy_agree').click(function(e){
    $('#div_currentloc').dialog('close');
    gdol_locationAccept();
  }); 
  $('#gl_usemy_decline').click(function(e){
    $('#div_currentloc').dialog('close');
    gdol_locationDecline();
  });
  $('#country').change(function() {
    $('#reqType').val('');
    $('#txtQuery').val('');
    $('#geolat').val('');
    $('#geolong').val('');
    $("input:checkbox").each(function(){
      $(this).removeAttr("checked");
    });
    $('#reqType').val('landing');
    $('#isCountryChange').val('1');
    document.landingform.submit();
  });
  initializeSearchFilterView();
  country = $("#country").val();
  loadCountry(BING_ACCESSKEY);
  resetGlFilter();
});

</script>
<form name="landingform" id="landingform" action="/dropoff" method="POST">
<input type="hidden" name="loc" id="loc" value="en&#95;US" />
<input type="hidden" name="reqType" id="reqType" value="results" />
<input type="hidden" name="isTrackButtonClicked" id="isTrackButtonClicked" value="0" />
<input type="hidden" id="appid" name="appid" value="" />
<input type="hidden" id="locid" name="locid" value="" />
<input type="hidden" name="fromLandingPage" id="fromLandingPage" value="1" />
<input type="hidden" name="isCountryChange" id="isCountryChange" value="0" />
<input type="hidden" name="isGeoCodeCandidate" id="isGeoCodeCandidate" value="0" />
<noscript>
<input type="hidden" name="isjavascriptenabled" value="false" />
</noscript>
    <div id="main">
      <div class="appLvl appLvlPlain col24">
        <div class="appLvlAction">
          <p><strong><i>Looking for your package?</i></strong>
            <input type="text" class="formcol7" placeholder="Enter tracking or InfoNotice number" value="" name="trackNums" />
            <input type="button" class="btn btnArw" name="trackbutton" onClick="gdol_trackButton();" value="Track"/>
          </p>
        </div>
        <div class="appHead clearfix">
          <h1>Find Locations</h1>
        </div>
        <div class="appBody">
          
              
                


<div id="searchCol" class="seccol8 marginBegin">
  <div class="secLvl step noHead clearfix">
    <div class="secBody">
      
      <p id="glTxtQueryFieldEmptyError" style="display: none;"><span class="error">&gt;&gt;&gt; Please select a location and try again.</span></p>
      <div class="floatEnd clearfix" id="div_use_my_curr_loc" style="display:none">
        <p><a href="javascript:void(0);" class="btnlnkL currentLocationIcon" id="currentloclink">Use my current location</a></p>
        <div>
          <div id="div_currentloc" style="display:none" class="appLvl mod modal dialog">
<input type="hidden" name="gl_hd_choice" id="gl_hd_choice" value="" />
<fieldset>
  <div class="appHead clearfix">
    <h2 id="">Use My Current Location - Agreement</h2>
    <ul>
      <li><input id="gl_usemy_modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
    </ul>
  </div>
  <div class="appBody clearfix">
    <fieldset>
            <div class="alignCenter">
        <p>{loc text}</p>
      </div>
        </fieldset>
  </div>
  <div class="appFooter">
    <div class="btnBar alignCenter"> 
      <input name="decline" type="button" id="gl_usemy_decline" value="Decline" class="btn">
      <input name="agree" type="button" id="gl_usemy_agree" value="Agree" class="btn">
    </div>
  </div>
</fieldset>
</div>

        </div>
      </div>
      <dl>
        <dt>
          
          
            <span id="glNearLabel"><label for="repl_id">Near:</label></span>
          
        </dt>
        <dd>
          
            
          
          <input id="txtQuery" name="txtquery" type="text" value="" class="ui-widget ui-widget-content ui-corner-left ui-autocomplete-input formcol6" autocomplete="off" />
          <select class="ui-combobox" style="display:none"></select>

          <button class="ui-button ui-widget ui-state-default ui-button-icon-only ui-corner-right ui-button-icon dropDownBtn" role="button" title="" style="top: 3.75001px; left: -4px;"><span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-s"></span><span class="ui-button-text">&nbsp;</span></button><button class="ui-button ui-widget ui-state-default ui-button-icon-only ui-corner-right ui-button-icon searchBtn" role="button" title="" style="top: 3.75001px;"><span class="ui-button-icon-primary ui-icon searchBtnIcon"></span><span class="ui-button-text">&nbsp;</span></button><input class="ui-widget ui-widget-content ui-corner-left ui-autocomplete-input formcol6" style="display: none;">
          <input type="hidden" id="geolat" name="geolat" value="" /> 
          <input type="hidden" id="geolong" name="geolong" value="" /> 
            <input type="hidden" id="culture" name="culture" value="en" /> 
            <input type="hidden" id="recentLabel" name="recentLabel" value="Recent Searches" /> 
            <input type="hidden" id="savedlabel" name="savedlabel" value="Saved Locations " /> 
            <select id="country" class="formcol6" name="country">
            
              <option value="AL" >Albania </option>
            
              <option value="DZ" >Algeria </option>
            
              <option value="AS" >American Samoa </option>
            
              <option value="AO" >Angola </option>
            
              <option value="AI" >Anguilla </option>
            
              <option value="AG" >Antigua &amp; Barbuda</option>
            
              <option value="AR" >Argentina </option>
            
              <option value="AM" >Armenia </option>
            
              <option value="AW" >Aruba </option>
            
              <option value="AU" >Australia </option>
            
              <option value="AT" >Austria </option>
            
              <option value="AZ" >Azerbaijan </option>
            
              <option value="BS" >Bahamas </option>
            
              <option value="BH" >Bahrain </option>
            
              <option value="BD" >Bangladesh </option>
            
              <option value="BB" >Barbados </option>
            
              <option value="BY" >Belarus </option>
            
              <option value="BE" >Belgium </option>
            
              <option value="BZ" >Belize </option>
            
              <option value="BJ" >Benin </option>
            
              <option value="BM" >Bermuda </option>
            
              <option value="BT" >Bhutan </option>
            
              <option value="BO" >Bolivia </option>
            
              <option value="BQ" >Bonaire, St. Eustatius, Saba</option>
            
              <option value="BA" >Bosnia</option>
            
              <option value="BW" >Botswana </option>
            
              <option value="BR" >Brazil </option>
            
              <option value="VG" >British Virgin Islands </option>
            
              <option value="BN" >Brunei </option>
            
              <option value="BG" >Bulgaria </option>
            
              <option value="BF" >Burkina Faso </option>
            
              <option value="BI" >Burundi </option>
            
              <option value="KH" >Cambodia </option>
            
              <option value="CM" >Cameroon </option>
            
              <option value="CA" >Canada </option>
            
              <option value="CV" >Cape Verde </option>
            
              <option value="KY" >Cayman Islands </option>
            
              <option value="TD" >Chad </option>
            
              <option value="CL" >Chile </option>
            
              <option value="CN" >China, People's Republic of </option>
            
              <option value="CO" >Colombia </option>
            
              <option value="CG" >Congo </option>
            
              <option value="CK" >Cook Islands </option>
            
              <option value="CR" >Costa Rica </option>
            
              <option value="HR" >Croatia </option>
            
              <option value="CW" >Curacao</option>
            
              <option value="CY" >Cyprus </option>
            
              <option value="CZ" >Czech Republic </option>
            
              <option value="CD" >Democratic Republic of Congo</option>
            
              <option value="DK" >Denmark </option>
            
              <option value="DJ" >Djibouti </option>
            
              <option value="DM" >Dominica </option>
            
              <option value="DO" >Dominican Republic </option>
            
              <option value="EC" >Ecuador </option>
            
              <option value="EG" >Egypt </option>
            
              <option value="SV" >El Salvador </option>
            
              <option value="ER" >Eritrea </option>
            
              <option value="EE" >Estonia </option>
            
              <option value="ET" >Ethiopia </option>
            
              <option value="FJ" >Fiji </option>
            
              <option value="FI" >Finland </option>
            
              <option value="FR" >France </option>
            
              <option value="GF" >French Guiana </option>
            
              <option value="PF" >French Polynesia </option>
            
              <option value="GA" >Gabon </option>
            
              <option value="GM" >Gambia </option>
            
              <option value="GE" >Georgia </option>
            
              <option value="DE" >Germany </option>
            
              <option value="GH" >Ghana </option>
            
              <option value="GI" >Gibraltar </option>
            
              <option value="GR" >Greece </option>
            
              <option value="GD" >Grenada </option>
            
              <option value="GP" >Guadeloupe </option>
            
              <option value="GU" >Guam </option>
            
              <option value="GT" >Guatemala </option>
            
              <option value="GN" >Guinea </option>
            
              <option value="GW" >Guinea Bissau </option>
            
              <option value="GY" >Guyana </option>
            
              <option value="HT" >Haiti </option>
            
              <option value="HN" >Honduras </option>
            
              <option value="HK" >Hong Kong </option>
            
              <option value="HU" >Hungary </option>
            
              <option value="IS" >Iceland </option>
            
              <option value="IN" >India </option>
            
              <option value="ID" >Indonesia </option>
            
              <option value="IQ" >Iraq </option>
            
              <option value="IE" >Ireland (Republic of) </option>
            
              <option value="IL" >Israel </option>
            
              <option value="IT" >Italy </option>
            
              <option value="CI" >Ivory Coast </option>
            
              <option value="JM" >Jamaica </option>
            
              <option value="JP" >Japan </option>
            
              <option value="JO" >Jordan </option>
            
              <option value="KZ" >Kazakhstan </option>
            
              <option value="KE" >Kenya </option>
            
              <option value="KI" >Kiribati </option>
            
              <option value="XE" >Kosrae</option>
            
              <option value="KW" >Kuwait </option>
            
              <option value="KG" >Kyrgyzstan </option>
            
              <option value="LA" >Laos </option>
            
              <option value="LV" >Latvia </option>
            
              <option value="LB" >Lebanon </option>
            
              <option value="LS" >Lesotho </option>
            
              <option value="LR" >Liberia </option>
            
              <option value="LY" >Libya </option>
            
              <option value="LT" >Lithuania </option>
            
              <option value="LU" >Luxembourg </option>
            
              <option value="MO" >Macau </option>
            
              <option value="MK" >Macedonia (FYROM) </option>
            
              <option value="MG" >Madagascar </option>
            
              <option value="MW" >Malawi </option>
            
              <option value="MY" >Malaysia </option>
            
              <option value="MV" >Maldives </option>
            
              <option value="ML" >Mali </option>
            
              <option value="MT" >Malta </option>
            
              <option value="MH" >Marshall Islands </option>
            
              <option value="MQ" >Martinique </option>
            
              <option value="MR" >Mauritania </option>
            
              <option value="MU" >Mauritius </option>
            
              <option value="MX" >Mexico </option>
            
              <option value="MD" >Moldova </option>
            
              <option value="MN" >Mongolia </option>
            
              <option value="ME" >Montenegro </option>
            
              <option value="MS" >Montserrat </option>
            
              <option value="MA" >Morocco </option>
            
              <option value="MZ" >Mozambique </option>
            
              <option value="MP" >N. Mariana Islands </option>
            
              <option value="NA" >Namibia</option>
            
              <option value="NP" >Nepal </option>
            
              <option value="NL" >Netherlands </option>
            
              <option value="NC" >New Caledonia </option>
            
              <option value="NZ" >New Zealand </option>
            
              <option value="NI" >Nicaragua </option>
            
              <option value="NE" >Niger </option>
            
              <option value="NG" >Nigeria </option>
            
              <option value="NO" >Norway </option>
            
              <option value="OM" >Oman </option>
            
              <option value="PK" >Pakistan </option>
            
              <option value="PW" >Palau </option>
            
              <option value="PA" >Panama </option>
            
              <option value="PG" >Papua New Guinea </option>
            
              <option value="PY" >Paraguay </option>
            
              <option value="PE" >Peru </option>
            
              <option value="PH" >Philippines </option>
            
              <option value="PL" >Poland </option>
            
              <option value="XP" >Ponape </option>
            
              <option value="PT" >Portugal </option>
            
              <option value="PR" >Puerto Rico </option>
            
              <option value="QA" >Qatar </option>
            
              <option value="RE" >Reunion </option>
            
              <option value="RO" >Romania </option>
            
              <option value="XC" >Rota </option>
            
              <option value="RU" >Russia </option>
            
              <option value="RW" >Rwanda </option>
            
              <option value="S1" >Saba</option>
            
              <option value="XS" >Saipan </option>
            
              <option value="WS" >Samoa </option>
            
              <option value="SA" >Saudi Arabia </option>
            
              <option value="SN" >Senegal </option>
            
              <option value="RS" >Serbia </option>
            
              <option value="SC" >Seychelles </option>
            
              <option value="SL" >Sierra Leone</option>
            
              <option value="SG" >Singapore </option>
            
              <option value="SK" >Slovakia </option>
            
              <option value="SI" >Slovenia </option>
            
              <option value="SB" >Solomon Islands </option>
            
              <option value="ZA" >South Africa </option>
            
              <option value="KR" >South Korea </option>
            
              <option value="ES" >Spain </option>
            
              <option value="LK" >Sri Lanka  </option>
            
              <option value="BL" >St. Barthelemy  </option>
            
              <option value="C3" >St. Croix </option>
            
              <option value="E2" >St. Eustatius</option>
            
              <option value="UV" >St. John  </option>
            
              <option value="KN" >St. Kitts &amp; Nevis </option>
            
              <option value="LC" >St. Lucia </option>
            
              <option value="SX" >St. Maarten and St. Martin</option>
            
              <option value="VL" >St. Thomas </option>
            
              <option value="VC" >St. Vincent&#047;Grenadines</option>
            
              <option value="SR" >Suriname </option>
            
              <option value="SZ" >Swaziland </option>
            
              <option value="SE" >Sweden </option>
            
              <option value="CH" >Switzerland </option>
            
              <option value="SY" >Syria </option>
            
              <option value="TW" >Taiwan </option>
            
              <option value="TJ" >Tadjikistan </option>
            
              <option value="TZ" >Tanzania </option>
            
              <option value="TH" >Thailand </option>
            
              <option value="TL" >Timor Leste</option>
            
              <option value="XN" >Tinian </option>
            
              <option value="TG" >Togo </option>
            
              <option value="TO" >Tonga </option>
            
              <option value="ZZ" >Tortola </option>
            
              <option value="TT" >Trinidad &amp; Tobago </option>
            
              <option value="XA" >Truk </option>
            
              <option value="TN" >Tunisia </option>
            
              <option value="TR" >Turkey </option>
            
              <option value="TM" >Turkmenistan </option>
            
              <option value="TC" >Turks &amp; Caicos </option>
            
              <option value="TV" >Tuvalu </option>
            
              <option value="UG" >Uganda </option>
            
              <option value="UA" >Ukraine </option>
            
              <option value="UI" >Union Island </option>
            
              <option value="AE" >United Arab Emirates </option>
            
              <option value="GB" >United Kingdom </option>
            
              <option value="US" selected="selected">United States </option>
            
              <option value="UY" >Uruguay </option>
            
              <option value="VI" >US Virgin Islands </option>
            
              <option value="UZ" >Uzbekistan </option>
            
              <option value="VU" >Vanuatu </option>
            
              <option value="VE" >Venezuela </option>
            
              <option value="VN" >Vietnam </option>
            
              <option value="VR" >Virgin Gorda </option>
            
              <option value="WF" >Wallis &amp; Futuna </option>
            
              <option value="XY" >Yap </option>
            
              <option value="YE" >Yemen </option>
            
              <option value="ZM" >Zambia </option>
            
              <option value="ZW" >Zimbabwe </option>
            
          </select>
          <noscript>
            <input name="landing_country_reload" id="refresh" type="submit" class="btnlnkL refreshMini" value="">
          </noscript>
        </dd>
      </dl>
      <div id="glCandidateListDiv" style="display: block;">
<p>There are <span id="glTotCandidateRec"></span>&nbsp;possible matches for the search criteria you entered. Select one to continue or search again.</p>
<div class="resultsDiv" id="candidateResultsDiv" style="height:150px;">
  
  <ul><li><a href="javascript:void(33.74831008911133,-84.39111328125);" onclick="updateGeocode(33.74831008911133,-84.39111328125,0)">Atlanta, GA</a><input type="hidden" id="lblGlCandidateAddress_0" value="Atlanta, GA"></li><li><a href="javascript:void(33.115299224853516,-94.1681137084961);" onclick="updateGeocode(33.115299224853516,-94.1681137084961,1)">Atlanta, TX</a><input type="hidden" id="lblGlCandidateAddress_1" value="Atlanta, TX"></li><li><a href="javascript:void(40.26369094848633,-89.23509979248047);" onclick="updateGeocode(40.26369094848633,-89.23509979248047,2)">Atlanta, IL</a><input type="hidden" id="lblGlCandidateAddress_2" value="Atlanta, IL"></li><li><a href="javascript:void(45.00421142578125,-84.14427947998047);" onclick="updateGeocode(45.00421142578125,-84.14427947998047,3)">Atlanta, MI</a><input type="hidden" id="lblGlCandidateAddress_3" value="Atlanta, MI"></li><li><a href="javascript:void(40.216148376464844,-86.02622985839844);" onclick="updateGeocode(40.216148376464844,-86.02622985839844,4)">Atlanta, IN</a><input type="hidden" id="lblGlCandidateAddress_4" value="Atlanta, IN"></li></ul>

  
</div>
<p><a href="#" class="btnlnkL arrowBackIcon" onClick="modifySearch();">Modify Starting Address</a></p>
</div>                  
      <input type="hidden" id="isHelpWithPackchecked" name="isHelpWithPackchecked" value="">
<input type="hidden" id="isPurchasePackagingSupplieschecked" name="isPurchasePackagingSupplieschecked" value="">








<dl>
  <dt>
    <label>Narrow your search</label>
  </dt>
  <dd>
    <table id="high_level_filter" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        
        
          
          <tr>
            <td class="sel" scope="row">
              
                
              
              <input name="addn_svc" type="checkbox" value="031" id="high_svc_031"  onClick="filterClicked('031')"/>
            </td>
            <td>
              <a id="lbl_high_svc_031" class="sel btnlnkR helpIconR" href="https://www.ups.com/content/us/en/shipping/dro/dropoff_location.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/dropoff_location.html', 'openpage', ''); return false;" data-toggle='tooltip' data-placement='right' target='_blank'>Find a drop off location</a>
            </td>
          </tr>
        
          
          <tr>
            <td class="sel" scope="row">
              
                
              
              <input name="addn_svc" type="checkbox" value="032" id="high_svc_032"  onClick="filterClicked('032')"/>
            </td>
            <td>
              <a id="lbl_high_svc_032" class="sel btnlnkR helpIconR" href="https://www.ups.com/content/us/en/shipping/dro/shipping_label.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/shipping_label.html', 'openpage', ''); return false;" data-toggle='tooltip' data-placement='right' target='_blank'>Pay for a UPS shipping label </a>
            </td>
          </tr>
        
          
          <tr>
            <td class="sel" scope="row">
              
                
              
              <input name="addn_svc" type="checkbox" value="001" id="high_svc_001"  onClick="filterClicked('001')"/>
            </td>
            <td>
              <a id="lbl_high_svc_001" class="sel btnlnkR helpIconR" href="https://www.ups.com/content/us/en/shipping/dro/help_packaging.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/help_packaging.html', 'openpage', ''); return false;" data-toggle='tooltip' data-placement='right' target='_blank'>Help with packaging my shipment</a>
            </td>
          </tr>
        
        
      </tbody>
    </table>
  </dd>
</dl>
<div id="show_all_options">
<p>
  <a href="#" id="a_show_all_options" class="btnlnkL plusMini" onClick="seealloptionfunc(); return false;">See All Options</a>
</p>
</div>
<div id="filters">
<dl>
<dt>
  <label>Filter By:</label>
</dt>
<dd>
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      
      <td class="sel" scope="row">
        
        
          
            
          
        
        <input name="loc_type" type="checkbox" value="017" id="loc_type_wwef_017" />
      </td>
      <td>
        <a class="sel btnlnkR helpIconR" href="https://www.ups.com/content/us/en/locations/ccp.html" id="a_loc_type_wwef" onclick="helpModLvl('https://www.ups.com/content/us/en/locations/ccp.html', 'openpage', ''); return false;" data-toggle="tooltip" data-placement="right" target="_blank">UPS Worldwide Express Freight Center</a>
      </td>
      
    </tr>
  </tbody>
</table>
<div id=hideWhenWWEF>

<dl>
  <dt>
    <label class="filter_loc_type"><a id="a_sub_filter_loc_type" href="javascript:void(0);" class="btnlnkL minusMini" onClick="gdol_toggleSubFilterView(this, 'gdol_loc_type_filter'); return false;">&nbsp;</a><a id="a_loc_type_lbl" href="https://www.ups.com/content/us/en/shipping/dro/help_location_type.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/help_location_type.html', 'openpage', 'https://www.ups.com/content/us/en/shipping/dro/help_location_type.html'); return false;" tabindex="15" data-toggle="tooltip" data-placement="right"  target="_blank">Location Type</a></label>
  </dt>
  <dd id="gdol_loc_type_filter">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
      
        
          
          
            
              
            
          
                
        <tr>
        
          <td class="sel" scope="row">
            <input name="loc_type" type="checkbox" value="002" id="loc_type_002" />
          
          </td>
          <td>
            <label for="loc_type_002" class="sel" id="lbl_loc_type_002">The UPS Store&reg;</label>
          
          </td>
          </tr>
          
          
          
            
              
            
          
                
        <tr>
        
          <td class="sel" scope="row">
            <input name="loc_type" type="checkbox" value="018" id="loc_type_018" />
          
          </td>
          <td>
            <label for="loc_type_018" class="sel" id="lbl_loc_type_018">UPS Access Point&trade;</label>
          
          </td>
          </tr>
          
          
          
            
              
            
          
                
        <tr>
        
          <td class="sel" scope="row">
            <input name="loc_type" type="checkbox" value="001" id="loc_type_001" />
          
          </td>
          <td>
            <label for="loc_type_001" class="sel" id="lbl_loc_type_001">UPS Customer Center</label>
          
          </td>
          </tr>
          
          
          
            
              
            
          
                
        <tr>
        
          <td class="sel" scope="row">
            <input name="loc_type" type="checkbox" value="003" id="loc_type_003" />
          
          </td>
          <td>
            <label for="loc_type_003" class="sel" id="lbl_loc_type_003">UPS Drop Box</label>
          
          </td>
          </tr>
          
          
          
            
              
            
          
                
        <tr>
        
          <td class="sel" scope="row">
            <input name="loc_type" type="checkbox" value="007" id="loc_type_007" />
          
          </td>
          <td>
            <label for="loc_type_007" class="sel" id="lbl_loc_type_007">Retail Chains</label>
          
          </td>
          </tr>
          
          
          
            
              
            
          
                
        <tr>
        
          <td class="sel" scope="row">
            <input name="loc_type" type="checkbox" value="004" id="loc_type_004" />
          
          </td>
          <td>
            <label for="loc_type_004" class="sel" id="lbl_loc_type_004">Authorized Shipping Outlet*</label>
          
          </td>
          </tr>
          
          
          
            
              
            
          
                
        <tr>
        
          <td class="sel" scope="row">
            <input name="loc_type" type="checkbox" value="013" id="loc_type_013" />
          
          </td>
          <td>
            <label for="loc_type_013" class="sel" id="lbl_loc_type_013">UPS Authorized Service Providers</label>
          
          </td>
          </tr>
          
        </tbody>
      </table>
    
          
    
          
    
          
    
          
    
          
    
          
          &nbsp;*Retail rates may vary
          
    
          
      
    
  </dd>
</dl>


<dl>
  <dt>
    <label class="filter_oth_srvc"><a id="a_sub_filter_oth_srvc" href="javascript:void(0);" class="btnlnkL minusMini" onClick="gdol_toggleSubFilterView(this, 'gdol_oth_srvc_filter'); return false;">&nbsp;</a><a id="a_oth_srv_lbl" href="https://www.ups.com/content/us/en/shipping/dro/help_other_services.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/help_other_services.html', 'openpage', 'https://www.ups.com/content/us/en/shipping/dro/help_other_services.html'); return false;" tabindex="15" data-toggle="tooltip" data-placement="right"  target="_blank">Other Services</a></label>
  </dt>
  <dd id="gdol_oth_srvc_filter">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="addn_svc" type="checkbox" value="001" id="addn_svc_001"  onClick="filterClicked('001')"/>
          </td>
          <td>
            <label for="addn_svc_001" class="sel" id="lbl_addn_svc_001">Purchase Packaging Supplies</label>
          </td>
        </tr>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="addn_svc" type="checkbox" value="002" id="addn_svc_002"  onClick="filterClicked('002')"/>
          </td>
          <td>
            <label for="addn_svc_002" class="sel" id="lbl_addn_svc_002">Office Supplies and Services</label>
          </td>
        </tr>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="addn_svc" type="checkbox" value="003,005" id="addn_svc_003,005"  onClick="filterClicked('003,005')"/>
          </td>
          <td>
            <label for="addn_svc_003,005" class="sel" id="lbl_addn_svc_003_005">Copying/Faxing</label>
          </td>
        </tr>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="addn_svc" type="checkbox" value="004" id="addn_svc_004"  onClick="filterClicked('004')"/>
          </td>
          <td>
            <label for="addn_svc_004" class="sel" id="lbl_addn_svc_004">Mail Box Rentals</label>
          </td>
        </tr>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="addn_svc" type="checkbox" value="009" id="addn_svc_009"  onClick="filterClicked('009')"/>
          </td>
          <td>
            <label for="addn_svc_009" class="sel" id="lbl_addn_svc_009">Notary Public Service</label>
          </td>
        </tr>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="addn_svc" type="checkbox" value="007" id="addn_svc_007"  onClick="filterClicked('007')"/>
          </td>
          <td>
            <label for="addn_svc_007" class="sel" id="lbl_addn_svc_007">Crating</label>
          </td>
        </tr>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="addn_svc" type="checkbox" value="030" id="addn_svc_030"  onClick="filterClicked('030')"/>
          </td>
          <td>
            <label for="addn_svc_030" class="sel" id="lbl_addn_svc_030">UPS Returns*</label>
          </td>
        </tr>
        
        
      </tbody>
    </table>
  </dd>
</dl>


<dl>
  <dt>
    <label class="filter_spl_srvc"><a id="a_sub_filter_mkg_prg" href="javascript:void(0);" class="btnlnkL minusMini" onClick="gdol_toggleSubFilterView(this, 'gdol_spl_srvc_filter'); return false;">&nbsp;</a><a id="a_spl_srv_lbl" href="https://www.ups.com/content/us/en/shipping/dro/help_special_services.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/help_special_services.html', 'openpage', 'https://www.ups.com/content/us/en/shipping/dro/help_special_services.html'); return false;" tabindex="15" data-toggle="tooltip" data-placement="right"  target="_blank">Specialized Services and Programs</a></label>
  </dt>
  <dd id="gdol_spl_srvc_filter">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="mktg_pgms" type="checkbox" value="03" id="mktg_pgms_03" />
          </td>
          <td>
            <label for="mktg_pgms_03" class="sel"  id="lbl_mktg_pgms_03">Pack & Ship Guarantee</label>
          </td>
        </tr>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="mktg_pgms" type="checkbox" value="02" id="mktg_pgms_02" />
          </td>
          <td>
            <label for="mktg_pgms_02" class="sel"  id="lbl_mktg_pgms_02">International Shipping Expert</label>
          </td>
        </tr>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="mktg_pgms" type="checkbox" value="04" id="mktg_pgms_04" />
          </td>
          <td>
            <label for="mktg_pgms_04" class="sel"  id="lbl_mktg_pgms_04">Apple Returns Program</label>
          </td>
        </tr>
        
        
      </tbody>
    </table>
  </dd>
</dl>

<dl>
  <dt>
    <label class="filter_loc_flt"><a id="a_sub_filter_loc_flt" href="javascript:void(0);" class="btnlnkL minusMini" onClick="gdol_toggleSubFilterView(this, 'gdol_loc_filter'); return false;">&nbsp;</a><a id="a_loc_flter_lbl" href="https://www.ups.com/content/us/en/shipping/dro/help_location_filters.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/help_location_filters.html', 'openpage', 'https://www.ups.com/content/us/en/shipping/dro/help_location_filters.html'); return false;" tabindex="15" data-toggle="tooltip" data-placement="right"  target="_blank">Location Filters</a></label>
  </dt>
  <dd id="gdol_loc_filter">
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="addn_svc" type="checkbox" value="033" id="addn_svc_033" />
          </td>
          <td>
            <label for="addn_svc_033" class="sel" id="lbl_addn_svc_033">Staffed Locations</label>
          </td>
        </tr>
        
        
          
          
            
                  
        <tr>
          <td class="sel" scope="row">
            <input name="mktg_pgms" type="checkbox" value="07" id="mktg_pgms_07" />
          </td>
          <td>
            <label for="mktg_pgms_07" class="sel" id="lbl_mktg_pgms_07">Bill My Account</label>
          </td>
        </tr>
        
            
                
        
          
            
              
                    
          <tr>
            <td class="sel" scope="row">
              <input name="endpt_svc_off" type="checkbox" value="012" id="endpt_svc_off_012" />
            </td>
            <td>
              <label for="endpt_svc_off_012" class="sel"  id="lbl_endpt_svc_off_012">Accepts Shipping Tickets</label>
            </td>
          </tr>
        
          
            
              
                    
          <tr>
            <td class="sel" scope="row">
              <input name="endpt_svc_off" type="checkbox" value="013" id="endpt_svc_off_013" />
            </td>
            <td>
              <label for="endpt_svc_off_013" class="sel"  id="lbl_endpt_svc_off_013">Accepts Restricted Articles</label>
            </td>
          </tr>
        
        <tr>
          <td class="sel" scope="row"><input name="chk_locations_within" id="chk_locations_within" type="checkbox" value="1" /></td>
          <td><label for="chk_locations_within" class="sel">Only show locations within:</label></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
          
            
                    
          <select id="sel_location_within" name="closest_loc" class="formcol6">       
          
            <option value="5" >5 mi</option>
          
            <option value="10" >10 mi</option>
          
            <option value="25" >25 mi</option>
          
            <option value="50" >50 mi</option>
          
            <option value="100" >100 mi</option>
          
            <option value="200" selected="selected">200 mi</option>
          
          </select>
          </td>
        </tr>
        <tr>
          <td class="sel" scope="row"><input name="chk_loc_pickup_time_after" id="chk_loc_pickup_time_after" type="checkbox" value="1" /></td>
          <td><label for="chk_loc_pickup_time_after" class="sel">Only show locations with drop-off times by:</label></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><select id="transportation_service" name="trans_mode" class="formcol6">
            <option value="">Select service</option>
            
              <option value="001" >Ground</option>
            
              <option value="002" >Air</option>
                          
            </select>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          
            
                    
          <td><select id="pickup_time_after_day_of_week" name="trans_mode_dow" class="formcol6">
            <option value="">Select day of the week</option>
            
              <option value="01" >Sunday</option>
            
              <option value="02" >Monday</option>
            
              <option value="03" selected="selected">Tuesday</option>
            
              <option value="04" >Wednesday</option>
            
              <option value="05" >Thursday</option>
            
              <option value="06" >Friday</option>
            
              <option value="07" >Saturday</option>
            
          </select></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          
            
            
          <td>
          <select id="pickup_time_after_time_of_day" name="trans_mode_pkup_time" class="formcol6">
            <option value="">Select time of day</option>
            
              <option value="0000" >00:00 AM</option>
            
              <option value="0030" >00:30 AM</option>
            
              <option value="0100" >01:00 AM</option>
            
              <option value="0130" >01:30 AM</option>
            
              <option value="0200" >02:00 AM</option>
            
              <option value="0230" >02:30 AM</option>
            
              <option value="0300" >03:00 AM</option>
            
              <option value="0330" >03:30 AM</option>
            
              <option value="0400" >04:00 AM</option>
            
              <option value="0430" >04:30 AM</option>
            
              <option value="0500" >05:00 AM</option>
            
              <option value="0530" >05:30 AM</option>
            
              <option value="0600" >06:00 AM</option>
            
              <option value="0630" >06:30 AM</option>
            
              <option value="0700" >07:00 AM</option>
            
              <option value="0730" >07:30 AM</option>
            
              <option value="0800" >08:00 AM</option>
            
              <option value="0830" >08:30 AM</option>
            
              <option value="0900" >09:00 AM</option>
            
              <option value="0930" >09:30 AM</option>
            
              <option value="1000" >10:00 AM</option>
            
              <option value="1030" >10:30 AM</option>
            
              <option value="1100" >11:00 AM</option>
            
              <option value="1130" >11:30 AM</option>
            
              <option value="1200" selected="selected">12:00 PM</option>
            
              <option value="1230" >12:30 PM</option>
            
              <option value="1300" >01:00 PM</option>
            
              <option value="1330" >01:30 PM</option>
            
              <option value="1400" >02:00 PM</option>
            
              <option value="1430" >02:30 PM</option>
            
              <option value="1500" >03:00 PM</option>
            
              <option value="1530" >03:30 PM</option>
            
              <option value="1600" >04:00 PM</option>
            
              <option value="1630" >04:30 PM</option>
            
              <option value="1700" >05:00 PM</option>
            
              <option value="1730" >05:30 PM</option>
            
              <option value="1800" >06:00 PM</option>
            
              <option value="1830" >06:30 PM</option>
            
              <option value="1900" >07:00 PM</option>
            
              <option value="1930" >07:30 PM</option>
            
              <option value="2000" >08:00 PM</option>
            
              <option value="2030" >08:30 PM</option>
            
              <option value="2100" >09:00 PM</option>
            
              <option value="2130" >09:30 PM</option>
            
              <option value="2200" >10:00 PM</option>
            
              <option value="2230" >10:30 PM</option>
            
              <option value="2300" >11:00 PM</option>
            
              <option value="2330" >11:30 PM</option>
            
          </select>
            </td>
        </tr>
        <tr>
          <td class="sel" scope="row"><input name="openTime" id="openTime" type="checkbox" value="1" /></td>
          <td><label for="openTime" class="sel">Only show locations open:</label></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          
            
          
          <td><select id="location_open_day_of_week" name="opentime_dow" class="formcol6">
            <option value="">Select day of the week</option>
            
              <option value="01" >Sunday</option>
            
              <option value="02" >Monday</option>
            
              <option value="03" selected="selected">Tuesday</option>
            
              <option value="04" >Wednesday</option>
            
              <option value="05" >Thursday</option>
            
              <option value="06" >Friday</option>
            
              <option value="07" >Saturday</option>
            
          </select></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td>From:</td>
                
                  
                
                <td>
                <select id="location_open_from_time" name="opentime_from" class="formcol4">
                <option value="">Select time</option>
                
                  <option value="0000" >00:00 AM</option>
                
                  <option value="0030" >00:30 AM</option>
                
                  <option value="0100" >01:00 AM</option>
                
                  <option value="0130" >01:30 AM</option>
                
                  <option value="0200" >02:00 AM</option>
                
                  <option value="0230" >02:30 AM</option>
                
                  <option value="0300" >03:00 AM</option>
                
                  <option value="0330" >03:30 AM</option>
                
                  <option value="0400" >04:00 AM</option>
                
                  <option value="0430" >04:30 AM</option>
                
                  <option value="0500" >05:00 AM</option>
                
                  <option value="0530" >05:30 AM</option>
                
                  <option value="0600" >06:00 AM</option>
                
                  <option value="0630" >06:30 AM</option>
                
                  <option value="0700" >07:00 AM</option>
                
                  <option value="0730" >07:30 AM</option>
                
                  <option value="0800" >08:00 AM</option>
                
                  <option value="0830" >08:30 AM</option>
                
                  <option value="0900" >09:00 AM</option>
                
                  <option value="0930" >09:30 AM</option>
                
                  <option value="1000" >10:00 AM</option>
                
                  <option value="1030" >10:30 AM</option>
                
                  <option value="1100" >11:00 AM</option>
                
                  <option value="1130" >11:30 AM</option>
                
                  <option value="1200" selected="selected">12:00 PM</option>
                
                  <option value="1230" >12:30 PM</option>
                
                  <option value="1300" >01:00 PM</option>
                
                  <option value="1330" >01:30 PM</option>
                
                  <option value="1400" >02:00 PM</option>
                
                  <option value="1430" >02:30 PM</option>
                
                  <option value="1500" >03:00 PM</option>
                
                  <option value="1530" >03:30 PM</option>
                
                  <option value="1600" >04:00 PM</option>
                
                  <option value="1630" >04:30 PM</option>
                
                  <option value="1700" >05:00 PM</option>
                
                  <option value="1730" >05:30 PM</option>
                
                  <option value="1800" >06:00 PM</option>
                
                  <option value="1830" >06:30 PM</option>
                
                  <option value="1900" >07:00 PM</option>
                
                  <option value="1930" >07:30 PM</option>
                
                  <option value="2000" >08:00 PM</option>
                
                  <option value="2030" >08:30 PM</option>
                
                  <option value="2100" >09:00 PM</option>
                
                  <option value="2130" >09:30 PM</option>
                
                  <option value="2200" >10:00 PM</option>
                
                  <option value="2230" >10:30 PM</option>
                
                  <option value="2300" >11:00 PM</option>
                
                  <option value="2330" >11:30 PM</option>
                
                </select>
                </td>
              </tr>
              <tr>
                <td>To:</td>
                
                  
                
                <td>
                <select id="location_open_to_time" name="opentime_to" class="formcol4">
                <option value="">Select time</option>
                
                  <option value="0000" >00:00 AM</option>
                
                  <option value="0030" >00:30 AM</option>
                
                  <option value="0100" >01:00 AM</option>
                
                  <option value="0130" >01:30 AM</option>
                
                  <option value="0200" >02:00 AM</option>
                
                  <option value="0230" >02:30 AM</option>
                
                  <option value="0300" >03:00 AM</option>
                
                  <option value="0330" >03:30 AM</option>
                
                  <option value="0400" >04:00 AM</option>
                
                  <option value="0430" >04:30 AM</option>
                
                  <option value="0500" >05:00 AM</option>
                
                  <option value="0530" >05:30 AM</option>
                
                  <option value="0600" >06:00 AM</option>
                
                  <option value="0630" >06:30 AM</option>
                
                  <option value="0700" >07:00 AM</option>
                
                  <option value="0730" >07:30 AM</option>
                
                  <option value="0800" >08:00 AM</option>
                
                  <option value="0830" >08:30 AM</option>
                
                  <option value="0900" >09:00 AM</option>
                
                  <option value="0930" >09:30 AM</option>
                
                  <option value="1000" >10:00 AM</option>
                
                  <option value="1030" >10:30 AM</option>
                
                  <option value="1100" >11:00 AM</option>
                
                  <option value="1130" >11:30 AM</option>
                
                  <option value="1200" selected="selected">12:00 PM</option>
                
                  <option value="1230" >12:30 PM</option>
                
                  <option value="1300" >01:00 PM</option>
                
                  <option value="1330" >01:30 PM</option>
                
                  <option value="1400" >02:00 PM</option>
                
                  <option value="1430" >02:30 PM</option>
                
                  <option value="1500" >03:00 PM</option>
                
                  <option value="1530" >03:30 PM</option>
                
                  <option value="1600" >04:00 PM</option>
                
                  <option value="1630" >04:30 PM</option>
                
                  <option value="1700" >05:00 PM</option>
                
                  <option value="1730" >05:30 PM</option>
                
                  <option value="1800" >06:00 PM</option>
                
                  <option value="1830" >06:30 PM</option>
                
                  <option value="1900" >07:00 PM</option>
                
                  <option value="1930" >07:30 PM</option>
                
                  <option value="2000" >08:00 PM</option>
                
                  <option value="2030" >08:30 PM</option>
                
                  <option value="2100" >09:00 PM</option>
                
                  <option value="2130" >09:30 PM</option>
                
                  <option value="2200" >10:00 PM</option>
                
                  <option value="2230" >10:30 PM</option>
                
                  <option value="2300" >11:00 PM</option>
                
                  <option value="2330" >11:30 PM</option>
                
                </select>
                </td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
      </tbody>
    </table>
  </dd>
</dl>
</div>
</dd>
</dl>
</div>
<div id="hide_all_options">
<p>
  <a href="#" class="btnlnkL minusMini" onClick="hidealloptionfunc(); return false;">Hide All Options</a>
</p>
</div>
    </div>
    
    <div class="secFooter">
      <div class="btnBar">
        <div class="floatLeft clearfix"> <a id="clearFilters" href="#" onClick="clearFiltersFunc();">Clear Filters</a> </div>
        <input class="btn" type="submit" value="Find" onClick="callGeocode(document.landingform); return false;"/>
      </div>
    </div>
  </div>
  <div class="locator_tip">
  <div class="cmsMsg">
    
      <!-- cms: id="ct1_locations_hov_tip_en_us" actiontype="0" -->
        <STRONG>TIP:</STRONG> A UPS driver can accept your package if it already has a UPS label.
    
  </div>
</div>

</div>
<noscript>
<strong>Please enable JavaScript in your browser to use the enhanced mapping features; without JavaScript, only a list of locations and driving directions will be available.</strong>
</noscript>
<div class="seccol16 marginEnd" id="div_map" style="display:none">
  <div id="msveMap" style="height: 450px; width: 628px"></div>
  <div class="note" style="display:none">
    <p>
      Note: Locations, hours of operation, and pickup times may change periodically. A government issued photo ID is required when shipping or picking up a package at a UPS Customer Center. Retail Rates may vary.
    </p>
  </div>
</div>
<ul id="autoSuggestBox" class="myClass" style="border:1px solid black;max-height:173px;overflow:auto;z-index:10;position:absolute;display:none"></ul>
<div id="myToolTip" style="border:2px solid grey;height:auto;padding:10px;max-width:300px;text-align:center;background-color:#EBEBE6;position:absolute;z-index:10;display:none"></div>

                
              
                
        </div>
        <div class="clear"></div>
        <div class="locator_banner_1">
  <div class="cmsMsg">
    
      <!-- cms: id="ct1_loc_mktg_banner_en_us" actiontype="0" -->
    <div class="secLvl cmsMsg cmsMsgPlain  seccol24  clearfix  marginBegin"><a href="javascript:popWrapper('/content/us/en/resources/track/sms_track.html','pop_up_full_page')" style="null">
        
      
    <img src="/img/en/bnr_learn_more_bma.jpg" width="135" height="50" alt="Learn More" border="0" >
</a>         
        <fieldset>
          <div class="secHead clearfix">
            <h3>Find&nbsp;UPS Locations on the go&nbsp;with SMS.</h3>
          </div>
         
        </fieldset>
    </div>
    <div class="clear"></div>
    
  </div>
</div>
      </div>
    </div>
  </div>
</div>
</form>
    <!-- SearchBodyEnd -->