---
title: Legacy Global Locator
dir: ltr
lang: en
layout: legacy.hbs
appCSS: globalLocator
app: true
---

<div id="main">
	
<dl>
<dt>
<label>Narrow your search</label>
</dt>
<dd>
<table id="high_level_filter" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td class="sel" scope="row">
<input name="addn_svc" type="checkbox" value="031" id="high_svc_031" onclick="filterClicked('031')">
</td>
<td>
<a id="lbl_high_svc_031" class="sel btnlnkR helpIconR" href="https://www.ups.com/content/us/en/shipping/dro/dropoff_location.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/dropoff_location.html', 'openpage', ''); return false;" data-toggle="tooltip" data-placement="right" target="_blank">Find a drop off location</a>
</td>
</tr>
<tr>
<td class="sel" scope="row">
<input name="addn_svc" type="checkbox" value="032" id="high_svc_032" onclick="filterClicked('032')">
</td>
<td>
<a id="lbl_high_svc_032" class="sel btnlnkR helpIconR" href="https://www.ups.com/content/us/en/shipping/dro/shipping_label.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/shipping_label.html', 'openpage', ''); return false;" data-toggle="tooltip" data-placement="right" target="_blank">Pay for a UPS shipping label </a>
</td>
</tr>
<tr>
<td class="sel" scope="row">
<input name="addn_svc" type="checkbox" value="001" id="high_svc_001" onclick="filterClicked('001')">
</td>
<td>
<a id="lbl_high_svc_001" class="sel btnlnkR helpIconR" href="https://www.ups.com/content/us/en/shipping/dro/help_packaging.html" onclick="helpModLvl('https://www.ups.com/content/us/en/shipping/dro/help_packaging.html', 'openpage', ''); return false;" data-toggle="tooltip" data-placement="right" target="_blank">Help with packaging my shipment</a>
</td>
</tr>
</tbody>
</table>
</dd>
</dl>

</div>