			<form action="repl_fname">

				<!-- Begin Application Module -->
				<div class="appLvl col18 mod">
					<fieldset>
						<!-- Begin Application Header -->
						<div class="appHead clearfix">
							<h2>{application header}</h2>
							<ul>
								<li><a href="repl_href" class="btnlnkR helpIconR">{help link text}</a></li>
							</ul>
						</div>
						<!-- End Application Header -->

						<!-- Begin Application Body -->
						<div class="appBody clearfix">

							<!-- Begin Section Module -->
							<div class="secLvl clearfix">
								<fieldset>
									<!-- Begin Section Header --><!-- End Section Header -->

									<!-- Begin Section Body -->
									<div class="secBody clearfix">
										<p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.</p>
										<p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.</p>
										<p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
										<select>
											<option>item1</option>
										</select>

										<p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.</p>
										<p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.</p>
										<p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
										<p>fusce ac quam. donec neque. nunc venenatis enim nec quam. cras faucibus, justo vel accumsan aliquam, tellus dui fringilla quam, in condimentum augue lorem non tellus. pellentesque id arcu non sem placerat iaculis.</p>
										<p>praesent sollicitudin lacinia nisl. vivamus ut magna eget tellus tincidunt elementum. maecenas aliquam tincidunt nisl. proin nulla. nullam bibendum tincidunt risus. etiam porttitor gravida lorem. aliquam erat volutpat. maecenas venenatis, metus eu congue rhoncus, tellus sapien dictum nisi, id mattis est ante sed lacus. etiam non justo.</p>
										<p>duis aute irure dolor cupidatat non proident, sed do eiusmod tempor incididunt. ullamco laboris nisi ut enim ad minim veniam, in reprehenderit in voluptate.</p>
									</div>
									<!-- End Section Body -->

									<!-- Begin Section Footer --><!-- End Section Footer -->
								</fieldset>
							</div>
							<!-- End Section Module -->

						</div>
						<!-- End Application Body -->

						<!-- Begin Application Footer --><!-- End Application Footer -->
					</fieldset>
				</div>
				<!-- End Application Module -->

			</form>


<!-- /////////////////////////////// -->
<!-- begin 1220 - Dialog - View Locations -- >
<!-- /////////////////////////////// -->
<div id="main">

			<form action="repl_fname">
			<fieldset>
<div class="appLvl modal mod dialog">

    <div class="appHead clearfix">
        <h2>view location information</h2>
            <ul>
            	<li><input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon"></li>
            </ul>
    </div>

    <div class="appBody clearfix">


        <!-- Begin Column -->
            <div class="seccol9 group marginBegin">
                    <dl>
                        <dt><span class="label">location name:</span></dt>
                        <dd>{location data}</dd>

                        <dt><span class="label">country or territory:</span></dt>
                        <dd>{location data}</dd>

                        <dt><span class="label">street address:</span></dt>
                        <dd>
                            {location data}<br>
                            {address line 2}<br>
                            {address line 3}
                        </dd>
                        <dt><span class="label">city:</span></dt>
                        <dd>{location data}</dd>

                        <dt><span class="label">state:</span></dt>
                        <dd>{location data}</dd>

                        <dt><span class="label">zip code:</span></dt>
                        <dd>{location data}</dd>
                    </dl>


            </div>
        <!-- End Column -->

        <!-- Begin Column -->
            <div class="seccol9 group marginEnd">


                    <dl class="group">
                        <dt><label for="">location contact name:</label></dt>
                            <dd>{location data}</dd>

                        <dt><label for="" class="sel">e-mail:</label></dt>
                            <dd>{location data}</dd>
                    </dl>


                    <dl class="flexFirst group clearfix">
                        <dt><label for="">telephone:</label></dt>
                        <dd>{location data}</dd>
                    </dl>

                    <dl class="flexAfter group clearfix">
                        <dt><label for="">ext.</label></dt>
                            <dd>{0000}</dd>
                    </dl>

                    <div class="clear"></div>

                    <dl>
                    	<dt><label for="" class="sel">fax:</label></dt>
                        <dd>{location data}</dd>
                     </dl>

                    <!-- Begin Sec Module -->
                    <div class="secLvl secLvlPlain clearfix">

                        <!-- Begin Sec Header -->
                        <div class="secHead clearfix">
                            <h3>location support information</h3>
                        </div>
                        <!-- End Sec Header -->
                        <!-- Begin Sec Body -->
                        <div class="secBody">

                            <dl class="group">
                                <dt><label for="" class="sel">support e-mail address:</label></dt>
                                <dd>{location data}</dd>
                            </dl>

                            <dl class="flexFirst group clearfix">
                                <dt><label for="">support phone:</label></dt>
                                    <dd>{location data}</dd>
                            </dl>
                            <dl class="flexAfter group clearfix">
                                <dt><label for="">ext.</label></dt>
                                    <dd>{0000}</dd>
                            </dl>




                        </div>
                        <!-- End Sec Body -->


                    </div>
                    <!-- End Sec Module -->






            </div>
        <!-- End Column -->

    <div class="clear"></div>

    <!-- Begin Column -->
            <div class="seccol9 marginBegin">


                <dl>
                    <dt><span class="label">location account number:</span></dt>
                    <dd>{location data}</dd>
                </dl>

				<dl>
                    <dt><span class="label">air freight 9 digit account number:</span></dt>
                    <dd>{9 digit air account data}</dd>
                </dl>

                <dl>
                    <dt><span class="label">number of users assigned to this location:</span></dt>
                    <dd>{0000}</dd>
                </dl>

                <dl>
                    <dt><span class="label">associated address group:</span></dt>
                    <dd>{location data}</dd>
                </dl>

            </div>
        <!-- End Column -->

        <!-- Begin Column -->
            <div class="seccol9 marginEnd">



                <dl>
                    <dt><label for="" class="sel">identifying name that will appear on the shipping label:</label></dt>
                    <dd>{company / location}</dd>
                </dl>

                <dl>
                    <dt><label for="" class="sel">logo that appear on commercial invoices for international shipments from this location:</label></dt>
                    <dd>{location / company / none}</dd>
                </dl>



            </div>
        <!-- End Column -->
      <div class="clear">
	 </div>


	    		<div class="secBody clearfix">
	    	<p>This is a Clinical Trials <label>[Research Lab]/[Investigative Site] </label> location.</p>
	    </div>



    </div>

    <div class="appFooter">
        <div class="btnBar alignCenter">
        	<input type="button" class="btn" value="close" name="repl_name">
        </div>
    </div>

</div>
</fieldset>

</form>
</div>


<script type="text/javascript">

$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:710});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});


</script>

<!------------- -- -------------->
<!--   IC DEV Display Module   -->
<!------------- -- -------------->
<script type="text/javascript">
$(document).ready(function(){
	$('body').prepend('<div id="navModFloat" class="control"><div id="control_box" class="ctrl_box"><div class="control_box_head"><label id="" class="error">Choose a Style Sheet:</label></div><div id="control_box_content"><input type="button" class="btn" value="v3" onClick="chooseStyle(this.value, 60)"><input type="button" class="btn" value="v4" onClick="chooseStyle(this.value, 60)"> </div></div></div>');
});



</script>

	<script language="javascript">


    var name = "#navModFloat";
    var menuYloc = null;

    $(window).ready(function(){
		$('#navModFloat').css({top:5, left:0 });
        menuYloc = parseInt($(name).css("top").substring(0,$(name).css("top").indexOf("px")))
				$(window).scroll(function () {
            var offset = menuYloc+$(document).scrollTop()+"px";
            $(name).animate({top:offset},{duration:0,queue:false});

        });
    });



	</script>

<!------------- -- -------------->
<!-- END IC DEV Display Module -->
<!------------- -- -------------->
<!-- /////////////////////////////// -->
<!-- end 1220 - Dialog - View Locations -- >
<!-- /////////////////////////////// -->
