---
title: Visibility
layout: default_light.hbs
dir: ltr
lang: en
---

<style type="text/css">
.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
	display: inline-block;
	margin-right: 15px;
}
@media (max-width: 768px) {
	.ups-accordion_wrapper .ups-accordion_content .ups-accordion_item .ups-accordion_expand a {
		display: block;
	}
}
</style>

{{> ts_rr_start}}
	{{> M22_accordion_list landing_pages.visibility}}
{{> ts_rr_mid}}
	<h2>Change Log</h2>
	<section class="ups-accordion_list">
		<div class="ups-accordion_wrapper">

			<ul class="ups-accordion_content">
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">03/02/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>UPSO - 3941</li>
                            <li>UPSO - 4223</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/23/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS# 567298</li>
                            <li>TFS# 576727</li>
                            <li>TFS# 583508</li>
                        </ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/16/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>TFS# 572857 (MI Shipment Progress)</li>
                            <li>TFS# 572838 (FGV Shipment Progress)</li>
                            <li>TFS# 572818 (UPGF Shipment Progress)</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/09/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Added promo banner to Tracking Details</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">02/02/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Inherited new official date picker</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/26/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: TFS# 425925</li>
                            <li>Visibility: TFS# 426121</li>
                            <li>Visibility: TFS# 426415</li>
                            <li>Visibility: TFS# 499195</li>
                            <li>Visibility: TFS# 543294</li>
                            <li>Visibility: TFS# 551963</li>
                            <li>Visibility: TFS# 551965</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.5.4.docx">visibility_build_notes_0.5.4.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/19/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updated Send Updates Modal</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/12/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Added Tracking History Modals</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.5.3.docx">visibility_build_notes_0.5.3.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">01/05/2018 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Fixed Icon display issue for attention required. TFS: [533213]</li>
                            <li>Visibility: Updated milestone table. TFS: [512323]</li>
                            <li>Visibility: Updated text for action required. TFS: [533214]</li>
                            <li>Visibility: Add attention text on tracking details for address. TFS: [528237]</li>
                            <li>Visibility: Removed new window icon from proof of delivery link. TFS: [528697]</li>
                            <li>Visibility: Updated show more link on additional details. TFS: [523043]</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.5.2.docx">visibility_build_notes_0.5.2.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/19/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Added Send Updates Modal. TFS: [530532]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/15/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Additional Details section updated with show more. TFS: [523043]</li>
                            <li>Visibility: C.O.D. added to POD. TFS: [525287]</li>
                            <li>Visibility: Icon change to chevron up/down on tracking details. TFS: [526158]</li>
                            <li>Visibility: Updated Address Display. TFS: [525210]</li>
                            <li>Visibility: Content update for What's Next. TFS: [529471]</li>
                            <li>Visibility: Update content on POD. TFS: [524608]</li>
                            <li>Visibility: Fix Capitalization on POD. TFS: [524605]</li>
                            <li>Visibility: POD modal should have guest &amp; logged in view. TFS: [519255]</li>
                            <li>Visibility: Logged in view of tracking home shouldn't have T&amp;C. TFS: [527164]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/12/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updated tile styling. TFS: [454756]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/08/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updated tile styling. TFS: [454756]</li>
                            <li>Visibility: Updated track homepage. TFS: [512426]</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.5.0.docx">visibility_build_notes_0.5.0.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">12/04/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Resolved Chrome issue with alert icon on tracking status bar. TFS: [508133]</li>
                            <li>Visibility: Updated Proof of Delivery Time Zone. TFS: [515682]</li>
                            <li>Visibility: Updated A.M./P.M. indicator. TFS: [511592]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/22/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
                            <li>Visibility: Updated track homepage for Non-logged in state. TFS: [512426]</li>
                            <li>Visibility: Fixed defect with POD. TFS: [515682]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/17/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: Description not breaking to new line, TFS: [485687]</li>
                            <li>Visibility: Update am/pm indicator, TFS: [511592]</li>
                            <li>Visibility: Colons should appear on inline text labels, TFS: [499158]</li>
                            <li>Visibility: Proof of Delivery modal, TFS: [474056]</li>
                            <li>Visibility: Delivery Options modal, TFS: [511985]</li>
                            <li>Visibility: Style Changes, TFS: [511989]</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.4.10.docx">visibility_build_notes_0.4.10.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: AP EPRA Message, TFS: [450691]</li>
                            <li>Visibility: AP Location Page, TFS: [450679]</li>
                            <li>Visibility: AP Locker Barcode, TFS: [450684]</li>
                            <li>Visibility: AP Pickup Location, TFS: [426461]</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.4.9.docx">visibility_build_notes_0.4.9.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">11/03/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: Return package state added, TFS: [464620]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/27/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: Add infonotice to tracking details, TFS: [475095]</li>
                            <li>Visibility: Create multi-track page, TFS: [493959]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/13/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: Add arrow and checkmark to milestones, TFS: [480733]</li>
                            <li>Visibility: Remove sorting button for shipment progress table, TFS: [480752]</li>
                            <li>Visibility: Remove labels on SVP of shipment progress table, TFS: [480772]</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.4.8.docx">visibility_build_notes_0.4.8.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">10/06/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: Added edit button for add description, TFS: [465129]</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.4.7.docx">visibility_build_notes_0.4.7.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/22/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: added Shipment Progress Table, TFS: [455406]</li>
                            <li>Build Notes: <a href="/docs/visibility/visibility_build_notes_0.4.6.docx">visibility_build_notes_0.4.6.docx</a></li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/15/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: File a Claim button now only shown for logged in users, TFS: [455317]</li>
                            <li>Visibility: Add a Description now clears the textbox when the description is deleted.</li>
                            <li>Visibility: Simplied Text is now visible on exception states, TFS: [432175]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">09/08/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: Updates to send me updates button, mychoice view, and special instructions.</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/29/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: Maintenance Updates</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/25/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: Updates, TFS: [437365]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">08/10/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: revised vHTML, TFS: [425089]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/24/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: added alt version, TFS: [412583]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">07/07/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility: updates, TFS: [401764]</li>
						</ul>
					</div>
				</li>
                <li class="ups-accordion_item">
					<button class="ups-accordion_toggle">05/19/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Visibility - Updated Tracking Details Page</li>
						</ul>
					</div>
				</li>
				<li class="ups-accordion_item">
					<button class="ups-accordion_toggle">05/15/2017 Update <i class="icon ups-icon-plus"><span class="ups-readerTxt">expand</span></i> </button>
					<div class="ups-accordion_expand">
						<ul>
							<li>Added Intial Pages</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</section>
{{> ts_rr_end}}
