<!-- /contentArea --> 

<!------------- -- --------------> 
<!--   IC DEV Display Module   --> 
<!------------- -- --------------
<script type="text/javascript">
var htmlcobrand;
$(document).ready(function(){
	/* Prepend Control Box */
	$('body').prepend('<div id="control_box" class="ctrl_box"><div class="control_box_head"><label class="error" id="">Switch View:</label></div><div class="alignCenter"><input type="button" onclick="switchContainer(\'ccacmpad1\')" value="Campus Track" class="btn"><br><input type="button" onclick="switchContainer(\'ccCntMod\')" value="Tracking" class="btn"></div></div>');
	/* Set default container and stylesheet to Internet Pickup */
	$('.switchContainer').removeClass('ccacmpad1');
	$('.switchContainer').attr('id', 'ccCntMod');
	chooseStyle('Tracking', 60);	
	htmlcobrand = $('.cobrand').html();
	$('.cobrand').remove();
	
});
/* function to switch views */
function switchContainer(container) {
	if(container == 'ccCntMod') {
		$('.switchContainer').removeClass('ccacmpad1');
		$('.switchContainer').attr('id', container);
		chooseStyle('Tracking', 60);
		$('.cobrand').remove();
	} 
	if(container == 'ccacmpad1') {
		$('.switchContainer').attr('id', '');
		$('.switchContainer').addClass(container);
		chooseStyle('Campus Track', 60);
		$('.cobrand').remove();
		$('form[action=repl_fname]').append($('<div class="cobrand" align="center" />').append(htmlcobrand));
	}
}

</script> 

<!------------- -- --------------> 
<!-- END IC DEV Display Module --> 
<!------------- -- -------------->

<div class="appLvl modal-dialog mod modal dialog">
  <div class="appHead clearfix">
    <h2 class="ups-modal_heading">request status updates for 1z1234567890123456 (description)</h2>
    <!--<ul>
      <li>
        <input id="modalClose" type="button" title="Close" class="btnlnkL closeIcon">
      </li>
    </ul>-->
    <button id="modalClose" class="close ups-modal-close-icon" data-ng-click="cancel()">
		<span class="icon ups-icon-x" aria-hidden="true"></span>
		<span class="ups-readerTxt ng-binding">Close Action Unavailable dialog</span>
	</button>
  </div>
  <div class="appBody ups-application_wrapper ups-form_wrap">
    <p class="error">&gt;&gt;&gt; error message.</p>
    <p>you can modify your ups my choice delivery alert settings for this shipment. If you want to send notification to others, select <strong>add a recipient</strong>.</p>
    
    <!-- Begin Section Module -->
    
    <div class="secLvl step clearfix"><!-- gradient gradientGroup7 -->
      <fieldset>
        <legend></legend>
        <!-- Begin Section Header -->
        <div class="secHead clearfix">
          <h3>notify me with ups my choice<sup>sm</sup> delivery alerts</h3>
        </div>
        <!-- End Section Header --> 
        <!-- Begin Section Body -->
        <div class="secBody">
          <p>Use the fields below to set your preferences for <a class="btnlnkR helpIconR" href="repl_href">delivery alerts</a> and choose how you want to receive each alert.  you can set preferred language, a telephone number for voice alerts, a mobile number for SMS text alerts, and up to five (5) e-mail recipients. You can edit your default contact information.</p>
		<div class="row">
			<div class="col-xs-6">
			  <div class="ups-form_group">            
				  <label for="repl_id_alert" class="ups-form_label">Alert Language Preference</label>
				<div class="ups-dropdown_wrapper ups-input_wrapper">
				  <select class="ups-dropdown" name="repl_name" id="repl_id_alert" >
					<option>United States - English</option>
					<option>Item 1</option>
					<option>Item 2</option>
				  </select>
				</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="ups-form_group"> 
					<label for="repl_id_voice" class="ups-form_label">Voice Alert Number</label>
					<div class="ups-text_wrapper ups-input_wrapper">
						<input class="ups-form_input" type="text" name="repl_name" id="repl_id_voice">
					</div>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-6">
				<div class="ups-form_group">
				  <label for="repl_id_sms" class="ups-form_label">SMS Text Alert Number</label>
				  	<div class="ups-text_wrapper ups-input_wrapper">
				  		<input class="ups-form_input" type="text" name="repl_name" id="repl_id_sms">
					</div>
				</div>
			</div>
        </div>
          <h4>E-mail Alert Recipients</h4>
          <div class="row">
			<div class="col-xs-4">
          		<div class="ups-form_group">
                  <label for="repl_id_email" class="ups-form_label">E-mail Address</label>                  
                  <div class="ups-text_wrapper ups-input_wrapper">
                    <input class="ups-form_input" type="text" name="repl_name" id="repl_id_email" value="" placeholder="JaneDoe@gmail.com">
                  </div> 
				</div>
			  </div> 
              <div class="col-xs-4">              
                  <div class="ups-form_group">
                    <label for="repl_id_send" class="ups-form_label">Send To Name</label>
					  <div class="ups-text_wrapper ups-input_wrapper">
						<input class="ups-form_input" type="text" name="repl_name" id="repl_id_send" value="" placeholder="Jane">
					  </div>
					</div>
				</div>
				<div class="col-xs-2">           	 		
					<button type="button" class="ups-cta ups-cta_secondary ups-no_label ups-input_btn_action ups-btn_has_icon"><span class="icon ups-icon-xcircle ups-icon_emphasis" aria-hidden="true"></span><span class="ups-readerTxt">Remove {Email@domain.com}</span></button>
				</div>	
			</div>
            <div class="row">
				<div class="col-xs-4">
				  <div class="ups-text_wrapper ups-input_wrapper">
					<input class="ups-form_input" type="text" name="repl_name" id="repl_id_email1" placeholder="email@domain.com">
				  </div>
				</div>
				<div class="col-xs-4">
				  <div class="ups-text_wrapper ups-input_wrapper">
					<input class="ups-form_input" type="text" name="repl_name" id="repl_id_send1" placeholder="e.g, John">
				  </div>
				</div>
            	<div class="col-xs-2">           	 		
					<button type="button" class="ups-cta ups-cta_secondary ups-input_btn_action ups-btn_has_icon"><span class="icon ups-icon-xcircle ups-icon_emphasis" aria-hidden="true"></span><span class="ups-readerTxt">Remove {Email@domain.com}</span></button>
				</div>	
          	</div>	
          	<div class="row">
          		<div class="col-xs-6">
          			<button class="ups-cta ups-cta_secondary ups-input_btn_action ups-btn_has_icon"><span class="pull-left icon ups-icon-pluscircle ups-icon_emphasis" aria-hidden="true"></span><span class="ups-readerTxt">Add a recipient</span>Add a recipient</button>
				</div>
			</div>
          <table border="0" cellspacing="0" cellpadding="0" class="ups-tbl_has_inputs">
			<tbody>
				<tr>
				  <th class="col-xs-6">Alert Type</th>
				  <th class="col-xs-2">E-mail</th>
				  <th class="col-xs-2">SMS</th>
				  <th class="col-xs-2">Voice</th>
				</tr>
				<tr>
				  <td>Ship Notification</td>
				  <td class="text-center">
					<div class="ups-form_group">
						<div class="ups-checkbox ups-input_wrapper">
							<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id">
							<label for="repl_id" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">E-mail</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">				  
			  		<div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id2">
							<label for="repl_id2" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">SMS</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">
				  <div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id3">
							<label for="repl_id3" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">Voice</span></label>
						</div>
					</div>
				  </td>
				</tr>
				<tr>
				  <td>Day Before Delivery Notification</td>
				  <td class="text-center">
					<div class="ups-form_group">
						<div class="ups-checkbox ups-input_wrapper">
							<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id4">
							<label for="repl_id4" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">E-mail</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">				  
			  		<div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id5">
							<label for="repl_id5" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">SMS</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">
				  <div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id6">
							<label for="repl_id6" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">Voice</span></label>
						</div>
					</div>
				  </td>
				</tr>
				<tr>
				  <td>Delivery Schedule Updates</td>
				  <td class="text-center">
					<div class="ups-form_group">
						<div class="ups-checkbox ups-input_wrapper">
							<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id7">
							<label for="repl_id7" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">E-mail</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">				  
			  		<div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id8">
							<label for="repl_id8" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">SMS</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">
				  <div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id9">
							<label for="repl_id9" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">Voice</span></label>
						</div>
					</div>
				  </td>
				</tr>
				<tr>
				  <td>Day of Delivery Notification</td>
				  <td class="text-center">
					<div class="ups-form_group">
						<div class="ups-checkbox ups-input_wrapper">
							<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id10">
							<label for="repl_id10" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">E-mail</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">				  
			  		<div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id11">
							<label for="repl_id11" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">SMS</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">
				  <div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id12">
							<label for="repl_id12" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">Voice</span></label>
						</div>
					</div>
				  </td>
				</tr>
				<tr>
				  <td>Confiramtion of Delivery</td>
				  <td class="text-center">
					<div class="ups-form_group">
						<div class="ups-checkbox ups-input_wrapper">
							<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id13">
							<label for="repl_id13" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">E-mail</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">				  
			  		<div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id14">
							<label for="repl_id14" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">SMS</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">
				  <div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id15">
							<label for="repl_id15" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">Voice</span></label>
						</div>
					</div>
				  </td>
				</tr>
				<tr>
				  <td>Package Available for Pickup</td>
				  <td class="text-center">
					<div class="ups-form_group">
						<div class="ups-checkbox ups-input_wrapper">
							<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id16">
							<label for="repl_id16" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">E-mail</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">				  
			  		<div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id17">
							<label for="repl_id17" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">SMS</span></label>
						</div>
					</div>
				  </td>
				  <td class="text-center">
				  <div class="ups-form_group">
			  			<div class="ups-checkbox ups-input_wrapper">
				  			<input class="ups-checkbox-custom" type="checkbox" name="repl_name" id="repl_id18">
							<label for="repl_id18" class="ups-form_label ups-checkbox-custom-label"><span class="ups-readerTxt">Voice</span></label>
						</div>
					</div>
				  </td>
				</tr>
			  </tbody>
          </table>
        </div>
        <!-- End Section Body-->
      </fieldset>
    </div>
    <!-- End Section Module --> 
    
    <!-- Begin Section Module-->
    <div class="secLvl step clearfix"><!-- gradient gradientGroup7 -->
      <fieldset>        
        <!-- Begin Section Header -->
        <div class="secHead clearfix">
          <h3>notify me and others with UPS Quantium View Notify&reg; </h3>
        </div>
        <!-- End Section Header --> 
        
        <!-- Begin Section Body -->
        <div class="secBody">
          <p>If you want to send notifications to others, select <strong>Add a Recipient</strong>.</p>
          <!-- Begin Sub Module -->
          <div class="secLvl ups-dlg_notifications clearfix">
            <fieldset>              
              <!-- Begin Section Header -->
              <div class="secHead clearfix">
                <h4 class="pull-left">recipient 1</h4>
				  <button class="ups-cta ups-cta_secondary ups-input_btn_action ups-btn_has_icon pull-right"><span class="pull-left icon ups-icon-xcircle ups-icon_emphasis" aria-hidden="true"></span><span class="ups-readerTxt">Remove Recipient</span>remove recipient</button>
              </div>
              <!-- End Section Header --> 
              <!-- Begin Section Body -->
              <div class="secBody">
				<div class="row">
					<div class="col-xs-4">
						<div class="ups-form_group">
							<label class="ups-form_label" for="repl_id_24">send notification by label</label>
							<div class="ups-dropdown_wrapper ups-input_wrapper">
							<select class="ups-dropdown" name="" id="repl_id_24">
							  <option selected="selected">e-mail</option>
							  <option>text message</option>
							</select>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
					   <div class="ups-form_group ups-form_required">
						<label for="repl_id_25">send to label
							<span aria-hidden="true" class="ups-required_indicator"></span>
						</label>
							<div class="ups-text_wrapper ups-input_wrapper">
								<input name="" type="text" id="repl_id_25" class="ups-form_input" placeholder="enter email recipient" required aria-required="true">
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="ups-form_group">
							<label for="repl_id_26">language format label</label>                  
							  <div class="ups-dropdown_wrapper ups-input_wrapper">
								<select class="ups-dropdown" name="" id="repl_id_26">
								  <option>united states - english</option>
								</select>
							  </div>
						</div>
					</div>
				</div>
               <div class="ups-form_group">
			   		<fieldset>
						<legend class="ups-form_label">notification type
							<span aria-hidden="true" class="ups-required_indicator"></span>
						</legend>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input class="ups-checkbox-custom" name="" type="checkbox" value="" id="repl_id_27">				
							<label class="ups-checkbox-custom-label" for="repl_id_27" class="sel">current status</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">        
							<input class="ups-checkbox-custom" name="" type="checkbox" value="" id="repl_id_28">
							<label class="ups-checkbox-custom-label" for="repl_id_28" class="sel">if a delay or <a href="javascript:void(0)" title="TITLE: tt_3" class="infoAnchor hozAnchor btnlnkR helpIconR" id="tt_3">exception</a> has occurred</label>
						</div>                 
						<div class="ups-buttonList_wrapper ups-input_wrapper">      
							<input class="ups-checkbox-custom" name="" type="checkbox" value="" id="repl_id_29">
							<label class="ups-checkbox-custom-label" for="repl_id_29" class="sel">when shipment has been delivered</label>
						 </div>				                  
						<div class="ups-buttonList_wrapper ups-input_wrapper">        
							<input class="ups-checkbox-custom" name="" type="checkbox" value="" id="repl_id_37">
							<label class="ups-checkbox-custom-label" for="repl_id_37" class="sel">notify me when my package is ready for pickup</label>
						  </div>
			  		</fieldset>				  
              </div>
              <!-- End Section Body -->
            </fieldset>
          </div>
          <!-- End Sub Module --> 
          
          <!-- Begin Sub Module -->
          <div class="secLvl ups-dlg_notifications clearfix">
            <fieldset>
              <!-- Begin Section Header -->
              <div class="secHead clearfix">
                <h4 class="pull-left">recipient 2</h4>
				  <button class="ups-cta ups-cta_secondary ups-input_btn_action ups-btn_has_icon pull-right"><span class="pull-left icon ups-icon-xcircle ups-icon_emphasis" aria-hidden="true"></span><span class="ups-readerTxt">Remove Recipient</span>remove recipient</button>
              </div>
              <!-- End Section Header --> 
              <!-- Begin Section Body -->
              <div class="secBody">
				<div class="row">
					<div class="col-xs-4">
						<div class="ups-form_group">
							<label class="ups-form_label" for="repl_id_30">send notification by </label>             
							<div class="ups-dropdown_wrapper ups-input_wrapper">
							<select class="ups-dropdown" name="" id="repl_id_30">
							  <option selected="selected">sms text message</option>
							  <option>text message</option>
							</select>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
					   <div class="ups-form_group ups-form_required">
						<label for="repl_id_31">send to
							<span aria-hidden="true" class="ups-required_indicator"></span>
						</label>
							<div class="ups-text_wrapper ups-input_wrapper">
								<input name="" type="text" id="repl_id_31" class="ups-form_input" placeholder="enter phone recipient" required aria-required="true">
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="ups-form_group">
							<label for="repl_id_32">language format label</label>                  
							  <div class="ups-dropdown_wrapper ups-input_wrapper">
								<select class="ups-dropdown" name="" id="repl_id_32">
								  <option>united states - english</option>
								</select>
							  </div>
						</div>
					</div>
				</div>
                <div class="ups-form_group">
			   		<fieldset>
						<legend class="ups-form_label">notification type
							<span aria-hidden="true" class="ups-required_indicator"></span>
						</legend>
						<div class="ups-buttonList_wrapper ups-input_wrapper">
							<input class="ups-checkbox-custom" name="" type="checkbox" value="" id="repl_id_33">
							<label class="ups-checkbox-custom-label" for="repl_id_33">current status</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">        
							<input class="ups-checkbox-custom" name="" type="checkbox" value="" id="repl_id_34">
							<label class="ups-checkbox-custom-label" for="repl_id_34">if a delay or <a href="javascript:void(0)" title="TITLE: tt_3" class="infoAnchor hozAnchor btnlnkR helpIconR" id="tt_3">exception</a> has occurred</label>
						</div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">      
							<input class="ups-checkbox-custom" name="" type="checkbox" value="" id="repl_id_35">
							<label class="ups-checkbox-custom-label" for="repl_id_35">when shipment has been delivered</label>
						 </div>
						<div class="ups-buttonList_wrapper ups-input_wrapper">        
							<input class="ups-checkbox-custom" name="" type="checkbox" value="" id="repl_id_36">
							<label class="ups-checkbox-custom-label" for="repl_id_36">notify me when my package is ready for pickup</label>
						  </div>
					</fieldset>
              </div>
              <!-- End Section Body -->
            </fieldset>
          </div>
          <!-- End Sub Module -->
          
          <div class="ups-form_group">          	
              <label class="ups-form_label" for="repl_id_38">personal message (applies to all e-mail notifications. enter up to 150 characters.):</label>
            <div class="ups-textArea_wrapper ups-input_wrapper">
              <textarea class="ups-textArea" name="" rows="2" cols="45" id="repl_id_38"></textarea>
			</div>
		  </div>  
          <p><strong>note:</strong> ups will notify you by e-mail if there is a problem sending any of these notifications.</p>
          <div class="ups-form_group">
			  <div class="ups-text_wrapper ups-input_wrapper">
				<input name="" type="text" id="repl_id_41" value="" class="ups-form_input" placeholder="jsmith@email.com">
			  </div>
		  </div>
          <button class="ups-cta ups-cta_secondary ups-input_btn_action ups-btn_has_icon"><span class="pull-left icon ups-icon-pluscircle ups-icon_emphasis" aria-hidden="true"></span><span class="ups-readerTxt">add another recipient</span>add another recipient</button>
        </div>
      </fieldset>
    </div>
    <!-- End Section Module --> 
    
  </div>
  <div class="appFooter">
    <div class="ups-form_ctaGroup text-center">
    	<button type="submit" class="ups-cta ups-cta_primary" value="" name="repl_name">Done</button>
		<button type="submit" class="ups-cta ups-cta_secondary" value="cancel" name="repl_name">Cancel</button>
    </div>
  </div>
</div>
<script type="text/javascript">
<!-- // All Fail Error // -->
<!-- width of modal should be set to 470 -->
<!-- // END - All Fail Error // -->

$(document).ready(function(){
	var modal=$('.modal').dialog({modal:true,bgiframe:true,dialogClass:'modal',width:790});
	$('#modalClose').click(function(e){
			modal.dialog('close');
	});
});

</script>
<div id="ttc_bullpen" class="hidden">
  <div id="ttc_tt_0"> </div>
</div>
<script type="text/javascript">
	function buildExamplePage(){
		var winWidth = $(window).width();
		var tempWidth = winWidth;
		var thisWidth;
		for(i=1;i<3;i++){
			if(tempWidth < 400){
				thisWidth = tempWidth-151;
				tempWidth = winWidth;
				cat = true;
			} else {
				thisWidth = Math.floor(Math.random()*(300-150+1)) + 150;
				tempWidth -= thisWidth;
				cat = false;
			}
			$('#ttc_bullpen').append("<div id=\"ttc_tt_" + i + "\"><div class=\"appLvl\"><div class=\"appHead clearfix\"><h2>IC ToolTip</h2></div><div class=\"appBody\"><p>Tooltip content from element id: ttc_tt_" + i + "<p>This was generated by ictooltip, a tooltip plugin for jQuery. It has been tested with jQuery 1.2.6 and 1.3.2. Enhancements will follow. (11/20/09)</p><p><strong>Note:</strong> Need to add options for hoverOutDelay, persistence/close controls. (ToolTip Content ID: ttc_tt_" + i + ")</p></div><div class=\"appFooter\"></div></div></div>");
		}
	}
	$(document).ready(function(){
		buildExamplePage();	
		$('.hozAnchor').ictooltip({
			orientation: "horiz",
			tooltipClasses: "col6",
			hoverDelay: 450,
			tooltipID: "horiz_tt"
		});
	});
</script>
