---
title: Create A Shipment
layout: legacy.hbs
version: v4
appID: com.ups.UIS
appCSS: ups.legacy_overrideUIS
rightRail: true
dir: rtl
lang: en
---



<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
	<h1>{{ title }}</h1>
	{{>"cam_shi_shi(1cre)_partial" cam_shi_shi1cre.promo_third_party }}
</div>
