<form action="">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">
		<div id="main">
<!-- Begin Application Container -->

	<!-- begin application content -->

	<!-- begin application header -->
	<table border="0" cellpadding="0" cellspacing="0" width="566">
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin page title -->
		<span class="blueboldHead">Location Creation Complete</span>
		<!-- end page title -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	<tr>
		<td valign="top">

		<!-- begin instructional text -->
	 	You have successfully created a new location in  CampusShip.
		<br>
		<br>
		You now have the option to upload and store a logo to be printed on commercial invoices printed from this new location. To upload a logo, select the Upload Location Logo File link. <br>
		<br>
		<div class="pi-m-pad-arrow">&nbsp;<img alt="" src="/img/icn_arrow_blue.gif" border="0" height="10" width="10"><a href="repl_href">Upload Location Logo File</a></div>
		<br>
		Or you may now:<br><br>

		<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Create another Location">Create another location</a></div>
		<div class="modpadbullet">&nbsp;<img alt="" border="0" height="10" src="/img/icn_bullet_4dot_996633.gif" width="8"><a href="#Return to UPS CampusShip menu">Return to UPS CampusShip menu</a></div>
		<!-- end instructional text -->

		</td>
	</tr>
	<tr>
		<td><img alt="" border="0" height="8" src="/img/xln_ffffff.gif" width="1"></td>
	</tr>
	</table>
	<!-- end application header -->

	<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
