<form action="repl_fname">
	<!-- ECS C-Clamp -->
	<div class="ccacmpad1">

		<div id="main">
		<h1>login</h1>


				<!-- Begin Application Module -->
				<div class="appLvl mod col18 clearfix">
				<fieldset>
					<!-- Begin Application Header -->
					<div class="appHead clearfix">
						<h2>provide user login information</h2>
					</div>
					<!-- End Application Header -->
					<!-- Begin Application Body -->
					<div class="appBody clearfix">
					<fieldset>

						<p class="error">error message.</p>
						<p>required fields are indicated with<img alt="" border="0" height="12" width="11" src="/img/1.gif" class="requiredIcon" title="Required">.</p>

						<!-- Begin Section Module -->
						<div class="secLvl secLvlPlain clearfix">
						<fieldset>

							<!-- Begin Section Body -->
							<div class="secBody">

								<div class="group clearfix">
								<fieldset>
									<h3>send temporary password</h3>
									<p>to request a new password, enter your user id and e-mail address and select <strong>submit</strong>. you will receive an e-mail message with a temporary password.</p>

									<dl>
										<dt><label for="">user id:</label></dt>
											<dd>
												<input type="text" id="" class="formcol6" value=""><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
											</dd>
										<dt><label for="">e-mail:</label></dt>
											<dd>
												<input type="text" id="" class="formcol6" value=""><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
											</dd>
									</dl>
								</fieldset>
								</div>

								<p><label>- or -</label></p>

								<div class="group clearfix">
								<fieldset>
									<h3>send user ids</h3>
									<p>to request a user id, enter your e-mail address and select <strong>submit</strong>. you will receive an e-mail message with your forgotten user ids.</p>

									<dl>
										<dt><label for="">e-mail:</label></dt>
											<dd>
												<input type="text" id="" class="formcol6" value=""><img src="/img/icn_dia.gif" alt="" width="11" height="9" border="0">
											</dd>
									</dl>
								</fieldset>
								</div>
									<div style="clear:both"></div>
							</div>
							<!-- End Section Body -->

						</fieldset>
						</div>
						<!-- End Section Module -->

					</fieldset>
					</div>
					<!-- End Application Body -->

					<!-- Begin Application Footer -->
					<div class="appFooter">
						<!-- Begin Button Bar Row -->
						<div class="btnBar">
							<input name="" type="button" value="cancel" class="btn">
							<input name="" type="button" value="submit" class="btnArw">
						</div>
						<!-- End Button Bar Row -->
					</div>
					<!-- End Application Footer -->

				</fieldset>
				</div>
				<!-- End Application Module -->


		<!-- end application content -->


		</div>
	</div>
	<!-- End ECS C-Clamp -->
	</form>
