---
title: ct1_shi_pic(1sch)_gwn(2con)
layout: legacy.hbs
version: v4
appID: com.ups.IntPickup
appCSS: ups.legacy_overrideIP
dir: rtl
lang: en
---

<!-- **************************** -->
<!-- Begin Application Owned HTML -->
<!-- **************************** -->
<div id="main">
       
        
        
		<form action="repl_fname">

			<!-- Begin Application Module -->
			<div class="appLvl mod">
				<!-- Begin Application Header -->
				<div class="appHead clearfix">
					<h2>Thank You for your Request</h2>
				</div>
				<!-- End Application Header -->
				<!-- Begin Application Body -->
				<div class="appBody clearfix">
					<p>You have submitted a request for a Smart Pickup for [mm/dd/yyyy].</p>
					<p>The request was submitted [before/after] the UPS Account's notify time, so a UPS driver will stop by your UPS Account's pickup location [today/the next available business day].</p>
					<!-- Set Section Lvl -->

						<!-- Begin Section Module -->
							
								<div class="secLvl">
								<!-- Begin Header Bar --><!-- End Header Bar -->
									
								<!-- Begin Section Body -->
									<div class="secBody clearfix">

										<dl class="outHozFlex clearfix">
											<dt><label>Pickup Request Number:</label></dt>
											<dd><a href="" class="">{Pickup Request Number}</a></dd>
										</dl>
                                        
                                        <hr class="hr">
										
										<p>Next Steps:</p>
										<p><a href="" class="btnlnkL arrowIcon">Log into ups.com</a></p>

									</div>
								<!-- End Section Body -->
								
								<!-- Begin Section Footer --><!-- End Section Footer -->
								</div>
						<!-- End Section Module -->

					
									
					<!-- End Section Lvl -->

				</div>
				<!-- End Application Body -->
				<!-- Begin Application Footer -->
				<div class="appFooter">
					<!-- Begin Button Bar Row -->
					<div class="btnBar">
						<input name="Input" type="submit" value="Cancel Pickup" class="btn">
					</div>
					<!-- End Button Bar Row -->
				</div>
				<!-- End Application Footer -->
			</div>
			<!-- End Application Module -->
		</form>
<!-- /applicationArea -->


</div>
<!-- **************************** -->
<!-- End Application Owned HTML -->
<!-- **************************** -->
